@charset utf-8;
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1;background:url(../images/top_bg.jpg) #FFF 0 98px repeat-x;color:#333;font-family:Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
h1{padding-bottom:20px;font-size:32px;color:#fdcf00;line-height:52px}
h1 span{font-size:46px;color:#fff;text-shadow:1px 1px 5px #000;filter:dropshadow(color=#000000,offx=1,offy=1)}
h2{color:#333;font-size:18px;line-height:23px;font-weight:700}
h3{font-size:20px;font-weight:700;color:#c00;padding-top:25px}
.bottom_list h3{font-weight:700;padding-bottom:17px}
p{padding-bottom:20px;font-size:12px;line-height:16px}
.bg_middle{position:absolute;top:244px;left:0;height:354px;width:100%;background:#e9e9e9 url(../images/bg-middle.jpg) bottom left repeat-x;z-index:1}
.bg_form{width:100%;height:146px;background:url(../images/form_bg.jpg) top left repeat-x;position:absolute;top:656px;left:0}
.page{width:970px;position:relative;z-index:3;margin:0 auto}
.logo{padding-top:14px;height:76px;width:100%}
.main{width:100%;background:url(../images/main_image.jpg) no-repeat 8px 8px}
.ul_top_section{float:right;width:560px;height:538px;padding-top:28px;position:relative;background:url(../images/main_bg.png) bottom right no-repeat}
.ul_top_section ul li{background:url(../images/bullet_1.png) center left no-repeat;font-size:24px;line-height:24px;color:#2c3d47;display:block;text-decoration:none;position:relative;margin:26px 0 0;padding:9px 0 9px 80px}
.ul_top_section ul li.second{background:url(../images/bullet_2.png) center left no-repeat}
.ul_top_section ul li.third{background:url(../images/bullet_3.png) center left no-repeat}
.ul_top_section ul li span{color:#c00;font-size:17px;line-height:18px;padding-top:4px;padding-bottom:0;display:block;margin:0}
.disclaimer_top{width:390px;position:absolute;color:#333;left:80px;font-size:10px;line-height:14px;bottom:-50px}
.top_li_line{width:500px;height:13px;background:url(../images/line_top_ul.png) top center;position:absolute;bottom:-14px}
ul.bottom_list{width:600px;padding-top:12px}
ul.bottom_list h2{padding-bottom:20px}
ul.bottom_list li{width:444px;float:left;border-bottom:1px dotted #c5c5c5;text-decoration:none;background:url(../images/tick.png) no-repeat left center;padding:6px 0 6px 26px}
ul.bottom_middle{width:100%;padding-top:182px}
ul.bottom_middle li{width:auto;float:left;font-weight:700;text-decoration:none;background:url(../images/arrow.png) no-repeat left center;padding:6px 75px 6px 26px}
.clear{clear:both}
.content-bottom{width:100%;padding-top:65px;padding-bottom:56px}
#dynamicHeader{margin:0;padding:0}
.upLink{background:url(../images/up_over_down.png) no-repeat;width:60px!important;height:60px!important;text-decoration:none;float:right;cursor:pointer;margin:0}
.upLink:hover{background-position:bottom left;text-decoration:none;cursor:pointer}
form{color:#dbab1e;font-size:20px;padding:36px 0 0 15px}
.form_cl,.form_cl2,.form_cl3,.form_cl4,.submin_swf{float:left;width:172px;margin-right:8px}
.form_cl3{margin-right:0;width:220px}
.submin_swf{width:184px;padding-top:14px;margin-right:0}
.input1,.input2,.input3,.input4{background:url(../images/input_bg.png) top left;margin-top:6px;margin-bottom:6px;height:28px;overflow:hidden}
.input2{width:50px;float:left;margin-right:4px;background:url(../images/input2_bg.png) top left}
.input2 input{width:38px;border:none;margin:0}
.input3{width:160px;float:left}
input{width:160px;border:0;background:none;margin:0;padding:6px}
input#agree{width:13px;height:13px;padding-top:0}
.input3 input{width:148px;float:left;background:url(../images/input3.png) top left}
.agree{float:left;margin-right:8px;color:#7a7a7a}
.agree_text{color:#fff;font-size:11px}
.secured{color:#fff;font-size:11px;background:transparent url(../images/icon-security.png) no-repeat left top;padding-left:20px;height:15px;float:left;margin-right:18px}
.error{background-position:0 -28px}
.form_shadow{position:absolute;bottom:-18px;left:0;background:url(../images/shadow.jpg) no-repeat left top;width:970px;height:33px}
#footer{background:url(../images/bg_footer.png) top left repeat-x;text-align:center;width:100%;position:relative;z-index:99;font-size:9px;padding:0}
#footer .icons{height:30px;border:none;margin:0 auto;padding:20px 0 15px 316px}
#footer .icons .icon_space{margin-right:20px;float:left}
#footer .links{margin-top:20px;margin-bottom:15px}
#footer .footer_text{color:#757575;font-size:11px;text-align:center;width:730px;line-height:16px;position:relative;margin:0 auto;padding:10px 0}
#footer .footer_link{color:#0284D6;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
#footer .footer_link:hover{color:#093755;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
.icon_space form{padding:0}
#footer .icons-container{width:975px;margin:0 auto}
#footer .regulated{width:975px;font-size:14px;height:40px;border-bottom:solid 1px #e5e5e5;padding-bottom:10px;padding-top:30px;color:#898989;margin:25px auto 0}
.reg-logo{float:right;background:url(../images/regulated-logo.jpg) no-repeat;height:67px;position:absolute;right:0;top:18px;padding:5px 0 0 68px}
.reg-logo p{font-size:20px;padding:16px 0 0}
#footer .regulated img{float:right;margin-top:7px;margin-left:8px}
#footer .regulated p{float:left;padding-top:10px}
#footer .regulated div{margin:0 auto}
#error_box{display:none;position:absolute;z-index:100;top:30%;background:#eabd76 no-repeat left top;width:250px;overflow:hidden;text-align:center;border:1px solid #FFF}
.error_message{margin-top:50px;height:50px;color:#6d0e19;padding:0 10px}
.error_button{background:transparent url(../images/form_full_alret_button.png) no-repeat left top;width:80px;height:48px;cursor:pointer;margin:0 auto 15px}
#Overlay{background-color:#000;display:none;height:100%;left:0;opacity:0.4;filter:alpha(opacity=20);position:fixed;top:0;width:100%;z-index:99;margin:auto}