html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img {
	border-width: 0;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-size: 14px;
	text-align: left;
	background:#eaeaeb;
	direction: ltr;
	color:#000;
	font-family:Helvetica, Arial, sans-serif;
}
select, input, img {
	margin: 0 auto;
	vertical-align: middle;
}
* {
	margin: 0px;
	padding: 0px;
}

/* Banner Open */
.pok_table_holder {
	width: 662px;
	margin-bottom: 16px;
	background:url(../images/table_bg.gif) top left no-repeat;
}

.banner_logo {
	padding: 10px 0pt 10px 20px;
}

.banner_content {
	text-align: left; 
	padding-left: 23px; 
	font-size: 20px; 
	line-height: 1.4em; 
	color: rgb(0, 0, 255);
	font-weight:bold;
	text-align:center;
}
.banner_content_black {
	color: rgb(0, 0, 0); 
	font-size: 28px;
}
.pok_table_holder table {
	width: 660px;
	border-bottom:1px #999999 solid;
	padding:0;
	margin: 0 1px;
}
.pok_table_holder td {
	background:url(../images/td_bg.gif) bottom left repeat-x;
	padding-top:10px;
	padding-bottom:16px;
}
.pok_table_holder th {
	padding-top:6px;
	padding-bottom:6px;
}
.table_header {
	color:#fff;
}
/* Banner Close */

a:link, a:visited, a:active {
	color: #0284d6;
}
a:hover {
	color: #e9800f;
	text-decoration: underline;
}
a.anyoption_link, a.anyoption_link:hover, a.anyoption_link:visited {
	text-decoration:none;
}
.f1 {
	color: #d00000;
	font-size: 28px;
	font-weight: bold;
}
.f2 {
	font-size: 20px;
	font-weight: bold;
}
.f3 {
	text-align: right;
}
#top {
	width: 100%;
	height: 102px;
	background: url(../images/header_bg.jpg) top center;
	margin: 0 0 10px 0;
	padding: 0 0 14px 0;
}
#top img, #top a, #top a:visited {
	padding-right:10px;
	float:left;
}
#top a, #top a:visited {
	margin-top:22px;
}

#top div {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}
#body {
	width: 1000px;
	margin: auto;
}
#body .b_top {
	width: 1000px;
	height: 18px;
	background:#fff;
	webkit-border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
#body .b_bottom {
	width: 1000px;
	height: 25px;
	background:#fff;
}
#body .middle {
	width: 966px;
	overflow: hidden;
	padding: 0 12px 0 22px;
	background:#FFF;
}
#body .middle .left {
	width: 665px;
	float: left;
}
h3 {
	font-size:22px;
	font-weight:bold;
	padding-bottom:14px;
}
.right_devider {
	background:url(../images/right_devider.png) no-repeat top left;
	height:24px;
	width:262px;
	float:left;
	padding-bottom:20px;
}
#body .middle .left .tv {
	height: 50px;
	line-height: 50px;
}
#body .middle .left .video {
	width: 675px;
	height: 380px;
	margin: 10px 0;
}
h2 {
	line-height: 40px;
	color: #093755;
	font-size: 18px;
	font-weight: bold;
	font-style:italic;
}
h1 {
	line-height: 44px;
	font-size: 38px;
	font-weight:bold;
	margin: 5px 0 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color:red;
	font-family:Helvetica, Arial, sans-serif;
}
p {
	line-height:normal;
	WORD-WRAP: break-word;
	padding-bottom:20px;
}
#body .middle .left .feet {
	width: 651px;
	height: 62px;
	background: url(../images/feet_bg.png);
	line-height: 62px;
	font-size: 24px;
	color: #093755;
	margin: 10px 0 0 0;
	font-weight: bold;
	padding: 0 10px;
}
#body .middle .right {
	width: 285px;
	background: #fff url(../images/right_bg.png) top right no-repeat;
	margin: 10px 0 0 16px;
	float: left;
	color:#727272;
	font-size:13px;
	font-style:italic;
	
}
#body .middle .right .bb {
	width: 251px;
	background: #eeeeee;
	padding: 15px 10px 25px;
	margin-right:14px;
	overflow: hidden;
	border:1px #d0d0d0 solid;
}
#body .middle .right .bb .pc {
	float: left;
	height: 98px;
	width: 74px;
	margin: 0 10px 0 0;
}
h4 {
	line-height: 30px;
	font-size: 14px;
	margin: 0px 0 20px 0;
}
#body .middle .right .bb p {
	line-height:normal;
	padding-bottom:15px;
}
#body .middle .right .bb .i {
	margin: 3px 0;
}
#body .middle .right .bo {
	width: 285px;
	height: 32px;
	background: url(../images/right_bottom.png) top left no-repeat;
}
#footer
{
    text-align: center;
    width: 975px;
    margin: 0 auto;
    font-size: 9px;
}
#footer .icons
{
    height: 30px;
    margin: 0 0 10px 0;
    width: 659px;
	float:right;
    border-bottom: solid 1px #fff;
	background:url(../images/separator_bottom_bg.png) repeat-x bottom left;
    padding: 15px 0 15px 326px;
}
#footer .icons .icon_space
{
    margin-right: 20px;
    float: left;
}
#footer .links
{
    margin-top: 20px;
    margin-bottom: 15px;
}
#footer .footer_text
{
    color: #757575;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    width: 730px;
    padding: 20px 0;
    line-height: 16px;
}
#footer .footer_link
{
    color: #0284D6;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover
{
    color: #093755;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}

.yellow_marker {
	background:yellow;
	padding: 4px 8px;
}

.image_container{
	padding-bottom:20px;
}

.example_left {
	float:left;
	width:74px;
	padding-bottom:10px;
	font-size:12px;
	text-decoration:underline;
}
.head2b {
	width: 180px !important;
	float: right;
	margin: 12px 0 0 !important;
	font-size:12px;
}
h2.header {
	text-decoration:underline;
	font-style:normal;
	font-size:12pt;
	line-height:normal;
}

.example_right{
	float:left;
	width:560px;
	padding-bottom:15px;
	font-size:12px;
}

a.open_account, a.open_account:visited {
	padding-left:200px;
}

.right_bottom {
	text-align:center;
	padding-bottom:20px;
}