<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>
		var skinId = #{applicationData.skinId};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
	</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content="#{msgs['onetouch.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
    	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}" bgcolor="#e1e1e1">
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<f:view locale="#{applicationData.userLocale}">

<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>

<script>
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
</script>
<ui:insert name="selected" />
<script>
	document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};

</script>

<table align="center" width="960" border="0" cellpadding="0" cellspacing="0" class="gray_background">
    <tr height="130px">
	    <td width="960px" height="130px" align="center" valign="top" ><iframe id="header" name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/templates/header_loggedin.jsf?refresh=true" width="960px" height="130" scrolling="no" ></iframe></td>
	</tr>
    <tr height="10px">
        <td width="960px"  height="10px" align="center">
	        <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
        </td>
    </tr>
    <tr height="5px"><td width="960px" height="5px"></td></tr>
    <tr>
	    <td width="960px" height="30px">
			<ui:include src="/jsp/#{applicationData.tlvPath}tickerWrapper.xhtml"></ui:include>
		</td>
	</tr>
	<tr height="5px"><td width="960px" height="5px"></td></tr>
    <tr>
        <td width="960" align="center">
	        <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
        </td>
    </tr>
	<tr>
    	<td width="960px">
	        <table width="960px" border="0" cellpadding="0" cellspacing="0" class="gray_background">
		        <tr><td></td></tr>
	            <tr>
	               <td height="30px">
			           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" class="gray_background"> <!--  MENU STRIP table -->
			             <tr class="menu_stripe">
			             	<td width="20px" height="30px">&#160;</td>
			                <td width="920px" align="#{applicationData.pageAlignment}">
			                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
			                		<ui:insert name="homePage" />
			                	</ui:include>
			                </td>
							<td width="20px" height="30px">&#160;</td>
			             </tr>
			           </table>
		           </td>
	            </tr>
	        </table>
		</td>
	</tr>
    <tr>
        <td width="960" height="10px" align="center" class="" >
	        <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
        </td>
    </tr>
    <tr><td height="8"><ui:insert name="message"></ui:insert></td></tr>
	<tr>
    	<td width="960px">
		<table cellpadding="0" cellspacing="0" border="0" width="960px">
			<tr>
				<td>
					 <ui:include src="/jsp/trade_menu_strip.xhtml">
						<ui:param name="binaryOptionLink" value="" />
						<ui:param name="optionPlusLink" value="" />
						<ui:param name="oneTouchLink" value="_active" />
					 </ui:include>
				</td>
			 </tr>
		</table>
		<table class="gray_background" border="0" width="960" cellpadding="0" cellspacing="0" > <!--  first -->
		    <tr>
		    	<td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0">
		                <tr>
		                   	<c:if test="${!empty sessionScope.user}">
								<td width="22">&#160;</td>
				          	</c:if>
				          	<c:if test="${empty sessionScope.user}">
		                		<td width="16">&#160;</td>
		                	</c:if>
		                    <td valign="top" width="720">
		<!-- *************************************************************************************************************************** -->
		 <!-- BEGIN MAIN -->
								<table width="720" height="536" border="0" cellpadding="0" cellspacing="0" >
			 			        	<tr height="31px">
				 			        	<td  height="31px" width="270px" class="header_pages_oneTouch">
											<ui:insert name="title"></ui:insert>
							            </td>
										<td  height="31px" width="12px" valign="middle" class="header_pages">
											<!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" height="31px"/>-->
										</td>
				 			        	<td  height="31px" width="468px" valign="middle" class="header_pages_message">
											<ui:insert name="title_message"></ui:insert>
							            </td>
							            <td  height="31px" width="80px" class="header_pages" id="secure_td" >
								            <table height="31px" id="secure_table" cellpadding="0" cellspacing="0"  style="display:none;" onmouseover="ShowContentSec('secured'); return true;"
							            	onmouseout="HideContentSec('secured'); return true;">
								            	<tr>
										            <td height="31px" class="header_pages" width="17px" style="cursor:pointer" align="left">
										            	<img height="31px" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif"/>
										            </td>
										            <td height="31px" width="65px" class="header_pages" style="cursor:pointer" id="showHintTD">
										            	<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>
										            </td>
										        </tr>
								           </table>
							            </td>
						            </tr>
						         	<tr height="505" align="left" valign="top">
				 			        	<td width="720" height="505" colspan="5">
											<ui:insert name="content"></ui:insert>
							            </td>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="16">&#160;</td>
		                    <td width="186"  height="536" valign="top">
		<!-- *******************************************Banners************************************************************************ -->
							<iframe align="center" valign="top" height="536" width="186" id="banners_page" name="banners_page" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchRightBanner.jsf"  scrolling="no"></iframe>
		<!-- *************************************************************************************************************************** -->
							</td>
							<td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="5"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
    <tr height="10px" class="gray_background">
		<td height="10px" width="960px" align="center">
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
		</td>
	</tr>
    <tr >
    	<td width="960px">
		    <!-- FEATURES STRIP -->
	<table class="site_width" border="0" cellspacing="0" cellpadding="0" align="center">
 		<tr>
	  		<td class="table_border site_width">
				<ui:include src="/jsp/featuresStripWrapper.xhtml" />
			</td>
		</tr>
	</table>
    	</td>
    </tr>
	<tr height="10px" class="gray_background">
		<td height="10px" width="960px" align="center">
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
		</td>
	</tr>
	<tr>
		<td height="136px" width="960px">
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;"/>
	<br/>
</div>
<c:if test="${applicationData.isLive}">
	<ui:include src="/jsp/templates/google.xhtml" />
</c:if>
</body>
</html>
