<div class="wrapper">
	<div class="header-box"><h2 ng-bind-html="mCtrl.getMsg('top-ecourses')"></h2></div>
	<div class="video-box" simple-slider>
		<i class="_SL-left fa fa-caret-left"></i>
		<div class="_SL-scroler scroller">
			<ul class="_SL-main academy-list">
				<li ng-repeat="book in AcCtrl.contentList.ecourses" ng-click="AcCtrl.openContent(book)">
					<div class="top lesson-{{::book.id}}">
						<div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
					</div>
					<div class="bottom">
						<h3>{{::mCtrl.getMsg('academy.lesson.title.' + book.id)}}</h3>
						<div>{{::mCtrl.getMsg('academy.lesson.short.' + book.id)}}</div>
					</div>
				</li>
			</ul>
		</div>
		<i class="_SL-right fa fa-caret-right"></i>
		<div class="link-box"><a ui-sref="ln.academy.e-learning.e-cources">{{::mCtrl.getMsg('see-all-videos')}}</a></div>
		<div class="_SL-dots dots-nav"></div>
	</div>
	<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt1')}}</p>
	<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt2')}}</p>
	<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt3')}}</p>
</div>