<div class="wrapper">
	<div class="header-box"><h2 ng-bind-html="mCtrl.getMsg('academy-index.top-e-books.h2')"></h2></div>
	<div class="video-box" simple-slider>
		<i class="_SL-left fa fa-caret-left"></i>
		<div class="_SL-scroler scroller">
			<ul class="_SL-main academy-list books">
				<li ng-repeat="book in AcCtrl.contentList.ebooks" ng-click="AcCtrl.openContent(book)">
					<div class="top">
						<img ng-src="app/img/academy/ebooks/{{mCtrl.getSkin().locale}}-book-{{::book.id}}.png"/>
					</div>
					<div class="bottom">
						<span class="link">{{::mCtrl.getMsg('read-more')}} <i class="fa fa-caret-right"></i></span>
					</div>
				</li>
			</ul>
		</div>
		<i class="_SL-right fa fa-caret-right"></i>
		<div class="link-box"><a ui-sref="ln.academy.e-learning.e-books">{{::mCtrl.getMsg('see-all-ebooks')}}</a></div>
		<div class="_SL-dots dots-nav"></div>
	</div>
	<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt1')}}</p>
	<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt2')}}</p>
	<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt3')}}</p>
</div>