<div class="wrapper">
	<div class="header-box"><h2 ng-bind-html="mCtrl.getMsg('our-products')"></h2></div>
	<div class="video-box" simple-slider>
		<i class="_SL-left fa fa-caret-left"></i>
		<div class="_SL-scroler scroller">
			<ul class="_SL-main academy-list">
				<li ng-repeat="video in AcCtrl.contentList.ourProducts" ng-click="AcCtrl.openContent(video)">
					<div class="top video-{{::video.id}}">
						<div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
					</div>
					<div class="bottom">
						<h3>{{::mCtrl.getMsg('academy.video.title.' + video.id)}}</h3>
						<div>{{::mCtrl.getMsg('academy.video.short.' + video.id)}} <span class="link">{{::mCtrl.getMsg('read-more')}} &#187;</span></div>
					</div>
				</li>
			</ul>
		</div>
		<i class="_SL-right fa fa-caret-right"></i>
		<div class="link-box"><a ui-sref="ln.academy.our-products">{{::mCtrl.getMsg('see-all-videos')}}</a></div>
		<div class="_SL-dots dots-nav"></div>
	</div>
	<p class="txt-box">{{::mCtrl.getMsg('our-products.txt')}}</p>
</div>