body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #fffcf7
}
*, p, img, h1, h2 {
	padding: 0;
	margin: 0;
	border: none;
}
a, a:visited {
	border: none;
}
.top_line {
	width: 100%;
	height: 73px;
}
.logo {
	width: 970px;
	margin: 0 auto;
	padding: 0px 0px 0px 35px
}
.main_part {
	width: 100%;
	height: 540px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: center top
}
.agree_text {
	padding: 0px 0px 0px 0px;
	width: 365px;
	float: left;
	color: #ffffff;
	font-size: 11px;
	line-height: 11px;
	margin: 0px 0px 0px 0px;
}
.agree {
	margin: 0px 5px 0px 0px;
	margin-left: 0px;
	display: block;
	float: left;
	font-size: 12px;
	color: #FFF
}
#mobile_c {
	width: 40px;
	margin: 0px 5px 0px 0px
}
.secured {
	width: 290px;
	float: left;
	font-size: 11px;
	color: #ffffff;
	margin: 0;
	padding: 0 0 0 15px;
	background: transparent url(../images/SAFETY.png) no-repeat left top;
}
.cbox {
	z-index: 2;
	background-image: url(../images/main_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 540px;
	width: 1000px;
	margin: 0px auto;
	position: relative
}
.form_hold {
	background-image: url(../images/form_bg.png);
	width: 1017px;
	height: 245px;
	background-repeat: no-repeat;
	position: absolute;
	left: 14px;
	top: 444px
}
.formbox {
	width: 970px;
	height: 60px;
	margin: 5px 0 10px 26px;
}
.formbox span {
	margin: 5px 0px 0px 19px
}
.input1 {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	line-height: 25px;
	height: 40px;
	margin: 0px 5px 0px 0px;
	width: 177px;
}
.input1 input {
	border: 1px solid #333333;
	height: 20px;
	width: 171px !important;
}
.input2 {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	height: 40px;
	line-height: 25px;
	width: 187px;
}
.input2 input {
	border: 1px solid #333333;
	height: 20px;
	width: 122px;
}
.submin_swf {
	margin: 3px 0px 0px 15px;
	float: left
}
.profit {
	position: absolute;
	top: 26px;
	left: 520px
}
.tbox {
	float: left;
	width: 550px;
	position: relative
}
.tbox p {
	width: 440px;
	color: #ffffff;
	font-size: 14px;
	padding: 30px 0px 0px 37px
}
.tbox h2 {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	padding: 45px 0px 0px 37px
}
.second_title {
	float: left;
	width: 305px;
	height: 45px;
	padding: 35px 0 0 33px;
	margin: 0;
}
*+html .second_title {
	padding-top: 42px;
}
.ibox {
	float: left;
	margin: 250px 0px 0px 53px;
}
*+html .ibox {
	margin: 250px 0px 40px 0;
}
.ibox ul {
	list-style: none;
	height: 50px;
	color: #666666;
	font-size: 14px;
	margin: -10px 0px 0px -15px;
}
*+html .ibox ul {
	margin: 0px 0px 0px 10px;
}
.ibox ul li {
	float: left;
	width: 355px;
	display: block;
	margin: 6px;
	background-image: url(../images/arow.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px 0px 0px 18px
}
.footer {
	float: left;
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	height: 60px;
	margin: 20px 0 20px 15px;
	width: 990px
}
/* Regulation  */
#footer .icons {
	border: none;
}
#footer .icons-container {
	width: 975px;
	margin: 0 auto;
}
#footer .regulated {
	width: 975px;
	font-size: 14px;
	height: 40px;
	margin: 25px auto 0;
	border-bottom: solid 1px #e5e5e5;
	padding-bottom: 10px;
	padding-top: 30px;
	color: #898989;
}
.reg-logo {
	float: right;
	background: url(../images/regulated-logo.jpg) no-repeat;
	height: 67px;
	padding: 5px 0 0 68px;
	position: absolute;
	right: 0;
	top: 18px;
}
.reg-logo p {
	font-size: 20px;
	padding: 16px 0px 0 0
}
#footer .regulated img {
	float: right;
	margin-top: 7px;
	margin-left: 8px;
}
#footer .regulated p {
	float: left;
	padding-top: 10px;
}
#footer .regulated div {
	margin: 0 auto;
}
/* Close regulation  */

.disclaimer {
	margin: 0 auto;
	display: block;
	font-size: 11px;
	color: #6e6e6e;
	width: 815px;
	text-align: center;
	padding: 15px 87px 30px;
	margin-left: 15px;
}
.icons {
	color: #333;
	font-size: 10px;
	height: 30px;
	margin: 0 auto;
	width: 358px;
	padding: 15px 0;
}
.icons .icon_space {
	margin-right: 20px;
	float: left;
}
/*error*/

.error input {
	border: 1px solid #F00 !important;
}
.error {
	background-position: bottom
}
#error_box {
	display: none;
	position: absolute;
	z-index: 100;
	top: 30%;
	background: transparent url(../images/rf_form_full_alret_bk.png) no-repeat left top;
	width: 250px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.error_message {
	height: 100px;
	color: #fff;
	position: relative;
}
.error_message label {
	position: absolute;
	width: 230px;
	bottom: 20px;
	left: 10px;
}
.error_button {
	background: transparent url(../images/rf_form_full_alret_button.png) no-repeat center top;
	width: 80px;
	height: 48px;
	margin: 0 auto;
	cursor: pointer;
}
#Overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
#mobile_c {
	border: 1px solid #093856 !important;
}
