<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">

    <h:panelGroup>

        <h:form id="contentsForm">

			<t:saveState id="contentsFormSave" value="#{contentsForm.content}" />
			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{contentsForm.content.id>0}" value="#{msgs['content.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{contentsForm.content.id>0}" value="#{contentsForm.content.id}"></h:outputText>

				<t:outputLabel  for="name" value="#{msgs['content.name']}" />
				<h:panelGrid border="0" columns="2">
	                <t:inputText id="name" size="15" maxlength="30" value="#{contentsForm.content.name}" required="true"></t:inputText>
   	                <t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
    			</h:panelGrid>

				<t:outputLabel  for="comments" value="#{msgs['contents.comments']}" />
            	<h:panelGrid border="0" columns="2">
	          		<h:inputTextarea escape="false" cols="50" rows="5" id="comments" value="#{contentsForm.content.comments}"  >
   			           	<f:validateLength maximum="2000"/>
        	   		</h:inputTextarea>
            		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

				<t:outputLabel for="writer" value="#{msgs['campaigns.writer']}" />
				<h:outputText styleClass="data_display" id="writer" value="#{contentsForm.content.writerTxt}"></h:outputText>

				<t:outputLabel  for="timeCreated" value="#{msgs['content.time.created']}" />
                <h:outputText id="timeCreated" size="15" value="#{contentsForm.content.timeCreatedTxt}" ></h:outputText>


            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{contentsForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			 </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>