<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">
#{user.goMarketing}
<t:saveState value="deleteCombinationPixelForm" />
<h:form id="deleteCombinationPixelForm">
    <h:panelGroup>
		
	    	<h:panelGrid border="0" columns="2" >
	    		<t:outputLabel for="campaignId" value="#{msgs['campaigns.campaign.name']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="campaignId" value="#{deleteCombinationPixelForm.campaignId}">
				     	<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{user.partnerMarketingSelected ? writer.allMarketingCampaignsLongSIByWriterID : writer.allMarketingCampaignsLongSI}" />
				    </t:selectOneMenu>
				    <t:message id="campaignIdError" for="campaignId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel for="sourceId" value="#{msgs['campaigns.sourcse']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="sourceId" value="#{deleteCombinationPixelForm.sourceId}" required="true" >
			    		<f:selectItems value="#{writer.marketingSourcesSI}" />
				    </t:selectOneMenu>
				    <t:message id="sourceIdError" for="sourceId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<t:outputLabel for="pixelId" value="#{msgs['combination.pixel']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="pixelId" value="#{deleteCombinationPixelForm.pixelId}" required="false" >
			     		<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{writer.marketingPixelsAllSI}" />
				    </t:selectOneMenu>
				    <t:message id="pixelIdError" for="pixelId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
			</h:panelGrid>
			<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
				<t:commandLink action="#{deleteCombinationPixelForm.delete}" id ="deleteId">
			       <h:outputText value="#{msgs['button.delete']}" />
				</t:commandLink>
				<t:message id="deleteError" for="deleteId" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
    </h:panelGroup>
</h:form>

</ui:define>
</ui:composition>
</html>