<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
	  xmlns:c="http://java.sun.com/jsp/jstl/core"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:param name="loadDatepicker" value="1" />
<ui:define name="content">

    <h:panelGroup >

        <h:form id="tournamentForm" enctype="multipart/form-data">
			<f:verbatim>
				<script>
					if(!#{tournamentForm.tournament.id>0}){
						$(document).ready(function(){
							var minStartDate = new Date();
							minStartDate.setHours(minStartDate.getHours() + minStartDate.getTimezoneOffset()/60 + 1);
							minStartDate.setMinutes(0);
							var minEndDate = new Date();
							minEndDate.setHours(minEndDate.getHours() + minStartDate.getTimezoneOffset()/60 + 2);
							minEndDate.setMinutes(0);
							$(function() {
								$( "#tournamentForm\\:timeStart" ).datetimepicker({
									dateFormat: "dd/mm/yy",
									timeFormat: "HH:mm z",
									minuteMax: 0,
									hour: ((new Date()).getHours() + minStartDate.getTimezoneOffset()/60 + 1) % 24,
									minute: 0,
									timezone: "+0000",
									showMinute: false,
									showSecond: false,
									showMillisec: false,
									showMicrosec: false,
									showTimezone: false,
									showOn: "both",
									buttonImage: "#{facesContext.externalContext.requestContextPath}/images/calendar.gif",
									buttonImageOnly: true,
									buttonText: "Select start date",
									timeText: "Time (GMT)",
									minDate: minStartDate,
									onClose: function( selectedDate ) {
										if(selectedDate != ""){
											var rangeDate = $( "#tournamentForm\\:timeStart" ).datetimepicker('getDate');
											rangeDate.setHours(rangeDate.getHours() + minStartDate.getTimezoneOffset()/60 + 1);
											var timeEnd = $( "#tournamentForm\\:timeEnd" ).datetimepicker('getDate');
											if(timeEnd){
												timeEnd.setHours(timeEnd.getHours() + minStartDate.getTimezoneOffset()/60);
											}
											$( "#tournamentForm\\:timeEnd" ).datetimepicker( "option", "minDate", rangeDate );
											$( "#tournamentForm\\:timeEnd" ).datetimepicker( "option", "minDateTime", rangeDate );
											//Odd timezone bugfix...
											if(timeEnd == null || timeEnd &lt; rangeDate){
												timeEnd = rangeDate;
											}
											timeEnd.setHours(timeEnd.getHours() + minStartDate.getTimezoneOffset()/60);
											setTimeout(function(){$( "#tournamentForm\\:timeEnd" ).datetimepicker('setDate', timeEnd);}, 0);
										}
									}
								});
								$( "#tournamentForm\\:timeEnd" ).datetimepicker({
									dateFormat: "dd/mm/yy",
									timeFormat: "HH:mm z",
									minuteMax: 0,
									hour: ((new Date()).getHours() + minStartDate.getTimezoneOffset()/60 + 1) % 24,
									minute: 0,
									timezone: "+0000",
									showMinute: false,
									showSecond: false,
									showMillisec: false,
									showMicrosec: false,
									showTimezone: false,
									showOn: "both",
									buttonImage: "#{facesContext.externalContext.requestContextPath}/images/calendar.gif",
									buttonImageOnly: true,
									buttonText: "Select end date",
									timeText: "Time (GMT)",
									defaultDate: "+1d",
									minDate: minEndDate,
									onClose: function( selectedDate ) {
										if(selectedDate != ""){
											var rangeDate = $( "#tournamentForm\\:timeEnd" ).datetimepicker('getDate');
											rangeDate.setHours(rangeDate.getHours() + minStartDate.getTimezoneOffset()/60 - 1);
											var timeStart = $( "#tournamentForm\\:timeStart" ).datetimepicker('getDate');
											if(timeStart){
												timeStart.setHours(timeStart.getHours() + minStartDate.getTimezoneOffset()/60);
											}
											$( "#tournamentForm\\:timeStart" ).datetimepicker( "option", "maxDate", rangeDate );
											$( "#tournamentForm\\:timeStart" ).datetimepicker( "option", "maxDateTime", rangeDate );
											//Odd timezone bugfix...
											if(timeStart == null || timeStart &gt; rangeDate){
												timeStart = rangeDate;
											}
											timeStart.setHours(timeStart.getHours() + minStartDate.getTimezoneOffset()/60);
											setTimeout(function(){$( "#tournamentForm\\:timeStart" ).datetimepicker('setDate', timeStart);}, 0);
										}
									}
								});
							});
						});
					}
				</script>
			</f:verbatim>

			<t:saveState id="tournament" value="#{tournamentForm.tournament}" />

            <h:panelGrid border="0" columns="2">
				
                <h:outputText rendered="#{tournamentForm.tournament.id>0}" value="#{msgs['tournaments.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{tournamentForm.tournament.id>0}" value="#{tournamentForm.tournament.id}"> </h:outputText>
				
				<t:outputLabel for="type" value="#{msgs['tournaments.type']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="type" value="#{tournamentForm.tournament.type.id}" required="true" disabled="#{tournamentForm.tournament.id>0}" >
			     		<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{tournamentForm.typesSI}" />
				    </t:selectOneMenu>
				    <t:message id="typeError" for="type" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<t:outputLabel for="minInvAmount" value="#{msgs['tournaments.amount']}"/>
                <h:panelGrid columns="2" >
	                <t:inputText id="minInvAmount" dir="ltr" size="9" maxlength="9" value="#{tournamentForm.tournament.minInvAmount}" required="true" disabled="#{tournamentForm.tournament.id>0}">
 						<f:validateLongRange />
        	        </t:inputText>
					<h:outputText value="#{tournamentForm.tournament.currency.code}"/>
                    <t:message id="minInvAmountError" for="minInvAmount" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

            	<h:outputLabel for="name" value="#{msgs['tournaments.name']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="15" maxlength="30" id="name" value="#{tournamentForm.tournament.name}"
		                required="true"	validator="#{utils.validateLettersOnly}" />
	            	<t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>
				
				<t:outputLabel for="numberOfUsersToShow" value="#{msgs['tournaments.numberofusers']}" />
				<h:panelGrid border="0" columns="2">
			     	<t:selectOneMenu id="numberOfUsersToShow" value="#{tournamentForm.tournament.numberOfUsersToShow.id}" required="true" >
			     		<f:selectItem itemLabel="" itemValue="" />
			    		<f:selectItems value="#{tournamentForm.numberOfUserSI}" />
				    </t:selectOneMenu>
				    <t:message id="numberOfUsersToShowError" for="numberOfUsersToShow" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<h:outputLabel for="timeStart" value="#{msgs['tournaments.timestart']}"/>
				<h:panelGrid columns="3">
					<h:inputText validator="#{tournamentForm.validateDate}" styleClass="input_text" style="width:134px;" id="timeStart" required="true" value="#{tournamentForm.tournament.timeStart}" maxlength="18" size="18" dir="ltr" disabled="#{tournamentForm.tournament.id>0}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm z" timeZone="#{applicationData.timeZone}"/>
					</h:inputText>
					<t:message id="timeStartError" for="timeStart" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<h:outputLabel for="timeEnd" value="#{msgs['tournaments.timeend']}"/>
				<h:panelGrid columns="3">
					<h:inputText validator="#{tournamentForm.validateDate}" styleClass="input_text" style="width:134px;" id="timeEnd" required="true" value="#{tournamentForm.tournament.timeEnd}" maxlength="18" size="18" dir="ltr" disabled="#{tournamentForm.tournament.id>0}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm z" timeZone="#{applicationData.timeZone}"/>
					</h:inputText>
					<t:message id="timeEndError" for="timeEnd" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
				<h:outputLabel for="skins" styleClass="text_gray_12_bold" value="#{msgs['register.skin']}"/>
				<h:panelGrid columns="2" >
					<h:selectManyListbox style="width:134px;height:80px" id="skins" value="#{tournamentForm.tournament.skins}" converter="javax.faces.Long" required="true" disabled="#{tournamentForm.tournament.id>0}" onchange="updateActiveTabs(this)">
						<f:selectItems value="#{writer.skinsAndEmptyLongSI}"/>
						<!--<f:selectItem  itemLabel="AO-EN-EU" itemValue="16" />-->
					</h:selectManyListbox>
					<t:message id="skinsError" for="skins" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
            </h:panelGrid>
			
			<div id="translations" class="translations_holder">
				<div id="translations_tabs">
					<div id="translations_tabs_en" class="translations_tab" onclick="toggleTabs('en');">EN</div>
					<div id="translations_tabs_es" class="translations_tab" onclick="toggleTabs('es');">ES</div>
					<div id="translations_tabs_de" class="translations_tab" onclick="toggleTabs('de');">DE</div>
					<div id="translations_tabs_it" class="translations_tab" onclick="toggleTabs('it');">IT</div>
					<div id="translations_tabs_fr" class="translations_tab" onclick="toggleTabs('fr');">FR</div>
					<div id="translations_tabs_sv" class="translations_tab" onclick="toggleTabs('sv');">SV</div>
					<div id="translations_tabs_nl" class="translations_tab" onclick="toggleTabs('nl');">NL</div>
					<div style="clear:both;"></div>
				</div>
				<div id="translations_tabs_content_holder" class="translations_tabs_content_holder">
					<ui:repeat value="#{tournamentForm.tournament.tournamentSkinsLangList}" var="v">
						<div id="translations_tabs_content_#{v.tabLabel.toLowerCase()}" class="translations_tabs_content">
							<h:inputHidden value="#{v.tabId}" id="tabId" styleClass="translation_tabs_hidden" />
							<h:panelGrid columns="2" >
								<t:outputLabel for="prizeText" value="#{msgs['tournaments.prize']}"/>
								<h:inputTextarea cols="110" rows="3" id="prizeText" size="150" value="#{v.prizeText}" ></h:inputTextarea>
								<t:message id="prizeTextError" for="prizeText" replaceIdWithLabel="true" styleClass="error"/>
							</h:panelGrid>
							
							<h:panelGrid border="0" columns="3">
								<h:outputText value="#{msgs['tournaments.imageUrl']}"/>
								<h:panelGroup rendered="#{!empty v.prizeImage}">
									<img src="#{facesContext.externalContext.requestContextPath}/#{v.prizeImage}" style="max-width:500px;" alt="" align="top" border="0"/>
								</h:panelGroup>
								<t:inputFileUpload id="file"
									value="#{v.file}"		        		    
									validator="#{tournamentForm.validateFile}"
									storage="file" />
								<t:message id="fileError" for="file" replaceIdWithLabel="true" styleClass="error" escape="false"/>	
							</h:panelGrid>
						</div>
					</ui:repeat>
					
					<!--<div id="translations_tabs_content_en" class="translations_tabs_content">-->
				</div>
			</div>
			<f:verbatim>
				<script>
				//Init tabs
				$(".translations_tab").on("selectstart", function(e){
					return false;
				});
				updateActiveTabs(document.getElementById("tournamentForm:skins"));
				
				function updateActiveTabs(el){
					$(".translations_tab").addClass("translations_tab_disabled");
					for(var i = 0; i &lt; el.selectedOptions.length; i++){
						$("#translations_tabs_" + getLangCodeBySkinId(el.selectedOptions[i].value)).removeClass("translations_tab_disabled");
						if(i == 0 &amp;&amp; $(".translations_tabs_content translations_tabs_content_active").length == 0){
							toggleTabs(getLangCodeBySkinId(el.selectedOptions[i].value));
						}
					}
				}
				
				function toggleTabs(langCode){
					if(!$("#translations_tabs_"+langCode).hasClass("translations_tab_disabled")){
						$(".translations_tabs_content").removeClass("translations_tabs_content_active");
						$("#translations_tabs_content_"+langCode).addClass("translations_tabs_content_active");
						$(".translations_tab").removeClass("translations_tab_active");
						$("#translations_tabs_"+langCode).addClass("translations_tab_active");
					}
				}
				
				function validateTabs(){
					var isValid = true;
					document.getElementById('tournamentForm:minInvAmountError').innerHTML = "";
					$(".translations_tab").each(function(index, el){
						if($(el).hasClass("translations_tab_disabled")){
							var suffix = $(el).attr("id").slice(-2);
							$("#translations_tabs_content_" + suffix + " input[type=hidden]").val("0");
						}
					});
					if(document.getElementById('tournamentForm:minInvAmount').value &lt;= 0){
						isValid = false;
					}
					if(!isValid){
						//alert("#{msgs['tournament.min.investment.amount.validation']}");
						document.getElementById('tournamentForm:minInvAmountError').className = "error";
						document.getElementById('tournamentForm:minInvAmountError').innerHTML = "#{msgs['tournament.min.investment.amount.validation']}";
					}else{
						return myfaces.oam.submitForm('tournamentForm','tournamentForm:hiddenUpdateInsert');
					}
					return isValid;
				}
				</script>
			</f:verbatim>
			
            <div style="margin:30px 10px;">
            	<h:commandButton action="#{tournamentForm.updateInsert}" id="hiddenUpdateInsert" style="display:none"/>
				<a href="#" onclick="if(!validateTabs()){return false;}">
					<h:outputText value="#{msgs['button.save']}" />
				</a>
	        </div>

        </h:form>

    </h:panelGroup>
	
	<script>
	for(var i = 0; i &lt; document.getElementById("tournamentForm:skins").options.length; i++){
		if(document.getElementById("tournamentForm:skins").options[i].value == 0){
			document.getElementById("tournamentForm:skins").options[i].disabled = true;
			document.getElementById("tournamentForm:skins").options[i].style.display = "none";
		}
	}
	</script>

</ui:define>
</ui:composition>

</html>