<div class="wrapper">
	<div class="menu hamburger _menu" open-menu ng-if="!mCtrl._u.settings.loggedIn">
		<div class="icon-left"></div>
		<div class="icon-right"></div>
	</div>
	<a ui-sref="ln.index">
		<img class="logo" src="app/img/pixel.png" alt="anyoption"/>
	</a>
	<skin-selector ng-if="!mCtrl._u.settings.loggedIn"></skin-selector>
</div>