<ul class="navigation" accordion-menu>
	<li><a class="home" ng-class="{ active: $state.is('ln.index') }" ui-sref="ln.index">{{::mCtrl.getMsg('home')}}</a></li>
	<li><a class="open-account" ng-class="{ active: $state.is('ln.open-account') }" ui-sref="ln.open-account">{{::mCtrl.getMsg('open-account')}}</a></li>
	<li ng-class="{ 'ao-opened': $state.includes('ln.trading')}">
		<a class="trading yellow-arrow">{{::mCtrl.getMsg('trading')}}</a>
		<ul class="sub-navigation">
			<li><a class="products" ng-class="{ active: $state.is('ln.trading.our-platforms') }" ui-sref="ln.trading.our-platforms">{{::mCtrl.getMsg('products')}}</a></li>
			<li><a class="strategy" ng-class="{ active: $state.is('ln.trading.strategy') }" ui-sref="ln.trading.strategy">{{::mCtrl.getMsg('strategy')}}</a></li>
		</ul>
	</li>
	<li><a class="banking" ng-class="{ active: $state.is('ln.banking') }" ui-sref="ln.banking">{{::mCtrl.getMsg('banking')}}</a></li>
	<li ng-class="{ 'ao-opened': $state.includes('ln.info')}">
		<a class="info yellow-arrow">{{::mCtrl.getMsg('about-us')}}</a>
		<ul class="sub-navigation">
			<li><a class="info" ng-class="{ active: $state.is('ln.info') }" ui-sref="ln.info">{{::mCtrl.getMsg('about-us')}}</a></li>
			<li>
				<a class="faq" ng-class="{ active: $state.is('ln.info.faq') }" ui-sref="ln.info.faq">
					<span class="block-el">{{::mCtrl.getMsg('faq')}}</span>
				</a>
			</li>
			<li><a class="security" ng-class="{ active: $state.is('ln.info.security') }" ui-sref="ln.info.security">{{::mCtrl.getMsg('security')}}</a></li>
			<li><a class="contact-us" href="mailto:{{::mCtrl._u.settings.supportEmail}}">{{::mCtrl.getMsg('contact-us')}}</a></li>
		</ul>
	</li>
	<li><a class="blog" href="http://www.anyoption.com/blog/" target="_blank">{{::mCtrl.getMsg('blog')}}</a></li>
	<li><a class="download-app" ng-click="mCtrl._u.downloadApp()">{{::mCtrl.getMsg('download-app')}}</a></li>
</ul>