<?xml version="1.0" encoding="UTF-8"?>
<f:view xmlns:f="http://java.sun.com/jsf/core" contentType="text/xml">
<?xml version="1.0"?><users><user>2CCC52AB6427BDF129C825EF28D5FA95</user></users>
</f:view>