<?xml version="1.0" encoding="UTF-8"?>
<f:view xmlns:f="http://java.sun.com/jsf/core" contentType="text/xml">
	<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/index.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>always</changefreq>
	      <priority>1.0</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/trade_binary_options.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>always</changefreq>
	      <priority>1.0</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/lastLevels.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>hourly</changefreq>
	      <priority>0.7</priority>
	   </url>
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/faq.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/assetIndex.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>
	   <url>
	      <loc>https://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/contactus.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/aboutus.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/security.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/general_terms.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>

	   <url>
	      <loc>https://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/register.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.9</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/password.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/banking.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.7</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/trading_box_manual.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.5</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/privacy.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.5</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/press.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.5</priority>
	   </url>
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/oneTouch.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>weekly</changefreq>
	      <priority>0.9</priority>
	   </url>
	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/oneTouchTerms.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.7</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/benefits-of-binary-option-trading.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.9</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/what-are-binary-options.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.9</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/newFeatures.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.7</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/showOff.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>always</changefreq>
	      <priority>0.7</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/optionPlus.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>always</changefreq>
	      <priority>0.7</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/appPage.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>always</changefreq>
	      <priority>0.7</priority>
	   </url>

	   <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/facebook-options.jsf')}</loc>
	      <lastmod>2012-04-19</lastmod>
	      <changefreq>weekly</changefreq>
	      <priority>0.9</priority>
	   </url>
	   
		<url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/live.jsf')}</loc>
	      <lastmod>2013-02-11</lastmod>
	      <changefreq>always</changefreq>
	      <priority>1.0</priority>
	    </url>
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/binary0100.jsf')}</loc>
	      <lastmod>2013-02-11</lastmod>
	      <changefreq>always</changefreq>
	      <priority>1.0</priority>
	    </url>
	    
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/options_broker.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/binary_options_trading.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
		
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/strategy.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/commodity_options.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/stock_options.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/index_options.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
	   
	    <url>
	      <loc>http://tr.anyoption.com#{pageNames.getPageName('tr', '/jsp/currency_options.jsf')}</loc>
	      <lastmod>2013-03-20</lastmod>
	      <changefreq>monthly</changefreq>
	      <priority>0.6</priority>
	    </url>
	</urlset>
</f:view>