<?xml version="1.0" encoding="UTF-8"?>
<f:view xmlns:f="http://java.sun.com/jsf/core" contentType="text/xml">
	<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0">
	   <url>
	      <loc>http://m.anyoption.com/minisite/index.jsf</loc>
	      <lastmod>2011-05-17</lastmod>
	      <changefreq>always</changefreq>
	      <priority>1.0</priority>
	   </url>
	   <url>
	      <loc>http://m.anyoption.com/minisite/ContactUs.jsf</loc>
	      <lastmod>2011-05-17</lastmod>
	      <changefreq>always</changefreq>
	      <priority>0.9</priority>
	   </url>
	   <url>
	      <loc>http://m.anyoption.com/minisite/ContactMe.jsf</loc>
	      <lastmod>2011-05-17</lastmod>
	      <changefreq>always</changefreq>
	      <priority>0.9</priority>
	   </url>
	   <url>
	   		<loc>http://m.anyoption.com/minisite/creditcard.jsf</loc>
	   		<lastmod>2012-05-17</lastmod>
	   		<changefreq>always</changefreq>
	   		<priority>0.9</priority>
	   	</url>
       <url>
			<loc>http://m.anyoption.com/minisite/domestic.jsf</loc>
			<lastmod>2012-05-17</lastmod>
			<changefreq>always</changefreq>
			<priority>0.9</priority>
	   </url>
	   <url>
	   		<loc>http://m.anyoption.com/minisite/wire.jsf</loc>
	   		<lastmod>2012-05-17</lastmod>
	   		<changefreq>always</changefreq>
	   		<priority>0.9</priority>
	   	</url>
	   <url>
			<loc>http://m.anyoption.com/minisite/moneybookers.jsf</loc>
			<lastmod>2012-05-17</lastmod>
			<changefreq>always</changefreq>
			<priority>0.9</priority>
		</url>
	</urlset>
</f:view>