/* Styles for rtl languages */

body[dir="rtl"] {
	input[type="checkbox"], input[type="radio"] {
		margin-right:0;
		margin-left:3px;
	}
	.header_clock {
		margin:6px 0 0 25px;
	}
	.skin_flag {
		background-position-x:left;
	}
	.skin_selector_flag {
		margin-right:0;
		margin-left:15px;
		padding-right:0;
		padding-left:23px;
		background-position-y:2px;
		&::after {
			right:initial;
			left:0;
			margin-right:0px;
			margin-left:-12px;
			background-position-x:-8px;
		}
	}
	.skin_selector_ul_in_h {
		right:initial;
		left:0;
	}
	
	.login_label {
		text-align:left;
	}
	.login_input {
		margin-left:0!important;
		margin-right:10px;
	}
	.login_info_1 {
		margin-left:0;
		margin-right:126px;
	}
	.login_footer img {
		margin-right:0!important;
		margin-left:10px;
	}
	.login_error {
		padding:5px 0 5px 10px;
	}
	.input-container.big .input-row {
		padding-left:0;
		padding-right:90px;
	}
	
	.menu_bgr_ul {
		left:initial;
		right:0px;
	}
	.menu_bgr > li + li::before {
		left:initial;
		right:-3px;
	}
	.funnel_link:before {
		left:initial;
		right:-7px;
	}
	.home_shortReg {
		.funnel_inp_last_name {
			margin-left:0px;
			margin-right:4px;
		}
		.funnel_drop_selected {
			background-position-x:left;
		}
		.funnel_drop_ul  {
			left:initial;
			right:-1px;
		}
		.funnel_drop_ul_search  {
			left:initial;
			right:-9999em;
		}
		.funnel_drop_countryId {
			margin:2px 0 0 20px;
		}
		.funnel_terms_h_in {
			background-position-x:5px;
		}
		a.btn_open_account_h {
			left:initial;
			right:-4px;
		}
		.funnel_names_error_h {
			right:initial;
			left:-15px;
		}
		.funnel_names_error_h_chb {
			right:initial;
			left:-15px;
		}
		.funnel_error_line {
			left:initial;
			right:-9px;
			border-left:none;
			border-right:1px dotted #e97f02;
		}
	}
	.full_reg {
		.funnel_inp_last_name {
			margin-left:0px;
			margin-right:10px;
		}
		.funnel_inp_phone {
			margin-left:0px;
			margin-right:10px;
		}
		.funnel_drop_selected {
			background-position-x:left;
		}
		.funnel_drop_ul  {
			left:initial;
			right:-1px;
		}
		.funnel_drop_ul_search  {
			left:initial;
			right:-9999em;
		}
		.funnel_drop_countryId {
			margin:5px 0 0 30px;
		}
		.funnel_names_error_h {
			right:initial;
			left:-341px;
		}
		.funnel_names_error_h_chb {
			right:initial;
			left:-15px;
		}
	}
	
	
	.shortReg_int {
		.funnel_inp_last_name {
			margin-left:0px;
			margin-right:4px;
		}
		.funnel_drop_selected {
			background-position-x:left;
		}
		.funnel_drop_ul  {
			left:initial;
			right:-1px;
		}
		.funnel_drop_ul_search  {
			left:initial;
			right:-9999em;
		}
		.funnel_drop_countryId {
			margin:2px 0 0 20px;
		}
		.funnel_terms_h_in {
			background-position-x:0px;
		}
		a.btn_open_account_h {
			left:initial;
			right:-4px;
		}
		.funnel_names_error_h {
			right:initial;
			left:-15px;
		}
		.funnel_names_error_h_chb {
			right:initial;
			left:-15px;
		}
		.funnel_error_line {
			left:initial;
			right:-9px;
			border-left:none;
			border-right:1px dotted #e97f02;
		}
	}
	
	
	.reg_progres_h {
		margin:30px 35px 0 0;
	}
	.reg_progres_el2 {
		margin-left:0;
		margin-right:50px;
	}
	.reg_progres_img_arr {
		left:initial;
		right:70px;
		transform:scaleX(-1);
	}
	
	.search-bar {
		padding:4px 50px 4px 40px;
		&::before {
			left:initial;
			right:15px;
		}
		.cool-close.big {
			right:initial;
			left:15px;
		}
		.elements .market+.market {
			margin-left:0px;
			margin-right:10px;
		}
		.elements .search-input-holder {
			margin-left:0px;
			margin-right:10px;
		}
	}
	
	.binary_options_holder {
		.quicknav a {
			padding-left:0;
			padding-right:32px;
			background-position-x:right;
		}
		ol li {
			padding-left:0;
			padding-right:27px;
			&::before {
				margin:0px -27px 0px 13px;
			}
		}
		.binary_options-in-text-image {
			margin:10px 35px 10px 0px;
		}
	}
	
	
	.sliderNav {
		left:0;
		right:35px;
	}
	.slider_info_box {
		left:initial;
		right:0;
		padding:25px 45px 0 0;
	}
	.slider_t_ul2 li {
		background-position-x:right;
		padding:0 30px 0 0;
	}
	.slider_h1.t3_ar {
		background-image:url('../images/ao/hp_slider/slideTitle_3_ar.gif');
		background-position-x:right;
	}
	.slider_h1.t4_ar {
		background-image:url('../images/ao/hp_slider/slideTitle_4_ar.gif');
		background-position-x:right;
	}
	.home_right_h {
		padding-left:0px;
		padding-right:15px;
		border-left:none;
		border-right:1px solid #D6D6D6;
	}
	.hp_rs_box_text_part {
		padding-left:0px;
		padding-right:65px;
	}
	.hp_live_box_title_h {
		padding-left:0px;
		padding-right:65px;
		background-position:right center;
	}
	
	&.nLogged.gComp .tradeBox_main_1 {
		.tradeBox_invest_holder {
			padding-left:0px;
			padding-right:5px;
		}
		.tradeBox_bottom_ls {
			border-left:none;
			border-right:1px solid #c9e0ef;
		}
	}
	.tradeBox_main_1 {
		.tradeBox_invest_drop {
			border-radius:0 5px 5px 0;
		}
		.tradeBox_profit_drop {
			border-right:none;
			border-left:1px solid #c2dbe9;
			border-radius:5px 0 0 5px;
		}
		.tradeBox_trends_info {
			right:initial;
			left:15px;
		}
		.tradeBox_trends_graph {
			right:initial;
			left:15px;
		}
		.tradeBox_img_schedule {
			margin-left:0;
			margin-right:5px;
		}
		.trade_menu_h {
			padding:2px 0px 0 20px;
			background-position:left 0;
		}
		.tradeBox_left {
			border-right:none;
			border-left:1px solid #d9e3ec;
		}
		.tradeBox_menu_ul {
			right:0px;
			left:initial;
		}
	}
	.trade_menu {
		padding-right:0px;
		padding-left:5px;
	}
	.marketsMenuFilter_li {
		left:initial;
		right:-9999em;
	}
	
	.guide_notes_overlay_container .arrow {transform:scaleX(-1);}
	.guide_note_1 {left:206px;}
	.guide_note_1 .arrow {left:58px;}
	.guide_note_2 {left:274px;}
	.guide_note_2 .arrow {left:90px;}
	.guide_note_3 {left:188px;}
	.guide_note_3 .arrow {left:-24px;}
	.guide_note_4 {left:272px;}
	.guide_note_5 {left:46px;}
	
	.live_person_holder {
		right:initial;
		left:0;
	}
	.profitLineDiv {
		left:initial;
		right:0;
	}
	
	.trade_page_tabs_h a.ls{background-position:right -106px;padding-left:0;padding-right:10px;}
	.trade_page_tabs_h .rs{background-position:left -140px;padding-right:0;padding-left:41px;}
	.trade_page_tabs_h .cs{background-position:0 -173px;padding:12px 15px 0 0;}
	.trade_page_tabs_h.active a.ls{background-position:right 0;}
	.trade_page_tabs_h.active .rs{background-position:left -36px;}
	.trade_page_tabs_h.active .cs{background-position:right -72px;}
	.trade_page_tabs_arrow{left:50%;margin-left:-10px;background-position:-16px -11px;}
	.trade_page_tabs_h .ribbon_new{right:0;left:-20px;}
	
	.cont_us_right_banner_text2 {
		margin-left:0;
		margin-right:-20px;
	}
	.cont_us_right_banner_img {
		left:initial;
		right:-10px;
	}
	.cont_us_right_banner_arrow2 {
		margin-left:0;
		margin-right:25px;
		padding:18px 39px 0 0;
		background-position:137px -73px;
	}
	
	.mobile_page_ul li {
		padding:0 25px 0 0;
		background-position-x:right;
	}
	.smartphone_market {
		padding-left:0;
		padding-right:5px;
		text-align:right;
	}
	.smartphone_appstor {
		text-align:right;
	}
	
	.islamic-trading-page ul li:before {
		margin-right:0;
		margin-left:5px;
	}
	
	.demo_slider_nav i {
		left:initial;
		right:14px;
	}
	
	.icon_set_1_info span.icon_set_1_info_in_v2 {
		left:initial;
		right:18px;
	}
	
	.sidemenu {
		text-align:right;
	}
	.sidemenu_header {
		padding:4px 10px 4px 0;
	}
	
	.assetPage_img {
		right:initial;
		left:0;
	}
	.assetPage_symbol {
		padding-right:0;
		padding-left:50px;
	}
	.tradeBox_main_2 .profitLine_total_inv {
		padding:8px 15px 8px 0;
	}
	
	.sprite_profitLine_deposit {
		transform:scaleX(-1);
	}
	.sprite_profitLine_logo {
		background-position-x:8px;
	}
	.asset_title_img {
		margin-right:0;
		margin-left:10px;
	}
	.title_secure_ico {
		margin-left:0;
		margin-right:10px;
		padding:21px 30px 0 0;
		background-position-x:15px;
	}
	
	.ma_mails {
		padding-left:0;
		padding-right:24px;
		background-position-x:161px;
	}
	.my_account_menu {
		border-right:none;
		border-left:1px solid #D3D3D3;
	}
	.full_reg_holder.taL {
		text-align:right!important;
	}
	.info_deposit_ico .funnel_tooltip_h {
		left:initial;
		right:30px;
	}
	.deposit_fR {
		margin-right:0;
		margin-left:60px;
	}
	.deposit_row_exp_date {
		left:initial;
		right:10px;
	}
	.cardType_2 {
		right:initial;
		left:5px;
	}
	.deposit_other_FM_link_position {
		margin:20px 26px 20px 0;
	}
	.deposit_holder {
		.funnel_tooltip_h .funnel_tooltip_arrow {
			left:initial;
			right:-14px;
			transform:scaleX(-1);
		}
		.funnel_tooltip_h img.mr10 {
			margin-right:0!important;
			margin-left:10px;
		}
		.birthMonth {
			margin-right:0;
			margin-left:10px;
		}
		.birthDay {
			margin-right:0;
			margin-left:10px;
		}
		.expDay {
			left:initial;
			right:0;
			margin:0 10px 20px 0;
		}
		.expYear {
			margin:0 7px 20px 0;
		}
		.currency {
			margin:0 7px 20px 0;
		}
		.funnel_submit_field {
			margin-left:auto;
			margin-right:auto;
		}
		.funnel_names_error_h {
			right:initial;
			left:-15px;
		}
		.funnel_names_error_bday {
			right:initial;
			left:-15px;
		}
	}
	
	.error_page_content {
		padding:60px 185px 0 0;
	}
	.error_page_mr {
		margin-right:0;
		margin-left:35px;
	}
	
	.search-bar-legend {
		.cell {
			padding-left:0;
			padding-right:17px;
			&::before {
				left:initial;
				right:0;
				margin-right:0;
				margin-left:5px;
			}
		}
		.cell+.cell {
			padding-left:0;
			padding-right:47px;
			&::before {
				left:initial;
				right:30px;
			}
		}
	}
	
	.deposit_holder.taL {
		text-align:right!important;
	}
	.deposit_holder .funnel_inp_holder {
		float:right;
	}
	.deposit_holder .funnel_inp_holder .extendedCvv {
		margin-left:0;
		margin-right:10px;
	}
	.deposit_holder .select-wrapper {
		background-position-x:3px;
	}
	.select-wrapper span {
		padding:0 2px 0 25px;
	}
	.i_info {
		padding-left:0;
		padding-right:20px;
		&::before {
			left:initial;
			right:0;
		}
	}
	.info_deposit_ico {
		margin:0 4px 20px 0;
	}
	.deposit_selected_menu {
		padding-right: 0;
		padding-left: 11px;
		background-position-x: left;
	}
	.deposit_not_selected_menu {
		padding-right: 0;
		padding-left: 11px;
		background-position-x: left;
	}
	
	.header_mail_num {
		right: initial;
		left: -13px;
	}
	
	li.paymentMethods_li1 {
		padding: 10px 150px 10px 0;
	}
	.paymentMethods_title {
		margin-left: 0;
		margin-right: 20px;
		padding-right: 0;
		padding-left: 15px;
		background-position-x: left;
	}
	.paymentMethods_ul .deposit_holder .funnel_inp_holder {
		float: none;
	}
	
	.mailbox_table_td_last {
		padding-left: 3px;
		padding-right: 10px;
		text-align: right;
	}
	.mailbox_table_header {
		padding-left: 3px;
		padding-right: 10px;
		border-right: none;
		border-left: 1px solid #adadad;
	}
	.pages_text_left {
		text-align: right;
	}
	
	.select_asset .field {
		padding-right: 5px;
		padding-left: 10px;
	}
	.select_asset img {
		right: initial;
		left: 5px;
	}
	.calendar_holder {
		.field {
			padding-right: 5px;
			padding-left: 30px;
		}
		img {
			right: initial;
			left: 6px;
		}
	}
	li.menu_market_element {
		padding-left: 0;
		padding-right: 15px;
	}
	li.menu_market_groupname {
		margin-left: 0;
		margin-right: 10px;
	}
	li.menu_market_subgroupname {
		padding-left: 0;
		padding-right: 15px;
	}
	
	.inv_available {
		transform: scaleX(-1);
	}
	.standardTable_SortHeader {
		text-align: right;
	}
	
	.grid .error_messages {
		margin-left: 0;
		margin-right: 25px;
		&::before {
			left: initial;
			right: -15px;
		}
	}

}
