<div class="header-status">
	<div class="wrap">
		<time class="header-time" id="header_clock">&mbsp;</time>
		<div class="dropdown end language">
			<div class="{{selectedLangugeFlag}} icon flag arrow">{{selectedLanguge}}</div>
			<ul>
				<li class="{{lng.flag}} icon flag" ng-repeat="lng in skinSelector" ng-click="changeSkin(lng.id)">{{lng.title}}</li>
			</ul>
		</div>
	</div>
</div>
<div class="sub-header">
	<div class="wrap">
		<div class="logo-holder">
			<a ui-sref="ln.index({ln:skinLanguage})">
				<img class="logo" src="img/pixel.png" alt="copyop"/>
				<span>{{getMsgs('header.logo.txt')}}</span>
			</a>
		</div>
		<nav id="crunch-holder" class="dropdown">
			<div id="crunch" onclick=""></div>
			<ul>
				<li><a class="icon start-now" ui-sref="ln.signup({ln:skinLanguage})"><span>{{getMsgs('header.start_now')}}</span></a></li>
				<li><a class="icon how-it-works" ui-sref="ln.how-it-works({ln:skinLanguage})"><span>{{getMsgs('how_it_works')}}</span></a></li>
				<li><a class="icon faq" ui-sref="ln.faq({ln:skinLanguage})"><span>{{getMsgs('faq')}}</span></a></li>
				<li><a class="icon about" ui-sref="ln.about-us({ln:skinLanguage})"><span>{{getMsgs('about_us')}}</span></a></li>
				<li><a class="icon privacy" ui-sref="ln.privacy({ln:skinLanguage})"><span>{{getMsgs('privacy')}}</span></a></li>
				<li><a class="icon terms" ui-sref="ln.general-terms({ln:skinLanguage})"><span>{{getMsgs('general_terms')}}</span></a></li>
				<li><a class="icon security" ui-sref="ln.security({ln:skinLanguage})"><span>{{getMsgs('security')}}</span></a></li>
				<li><a class="icon contact-us" ui-sref="ln.contact-us({ln:skinLanguage})"><span>{{getMsgs('contact_us')}}</span></a></li>
			</ul>
		</nav>
		<nav class="header-menu">
			<ul class="nav">
				<li ng-class="{ current: $state.is('ln.signup') }">
					<a ui-sref="ln.signup({ln:skinLanguage})">{{getMsgs('header.start_now')}}</a>
				</li>
				<li ng-class="{ current: $state.is('ln.how-it-works') || $state.is('ln.faq') }">
					<a ui-sref="ln.how-it-works({ln:skinLanguage})">{{getMsgs('how_it_works')}}</a>
					<ul>
						<li><a class="icon faq" ui-sref="ln.faq({ln:skinLanguage})">{{getMsgs('faq')}}</a></li>
					</ul>
				</li>
				<li ng-class="{ current: $state.is('ln.about-us') || $state.is('ln.privacy') || $state.is('ln.general-terms') || $state.is('ln.security') }">
					<a ui-sref="ln.about-us({ln:skinLanguage})">{{getMsgs('header.about_copyop')}}</a>
					<ul>
						<li><a class="icon privacy" ui-sref="ln.privacy({ln:skinLanguage})">{{getMsgs('privacy')}}</a></li>
						<li><a class="icon terms" ui-sref="ln.general-terms({ln:skinLanguage})">{{getMsgs('general_terms')}}</a></li>
						<li><a class="icon security" ui-sref="ln.security({ln:skinLanguage})">{{getMsgs('security')}}</a></li>
					</ul>
				</li>
				<li ng-class="{ current: $state.is('ln.contact-us') }">
					<a ui-sref="ln.contact-us({ln:skinLanguage})">{{getMsgs('contact_us')}}</a>
				</li>
				<li ng-if="!isMobile">
					<a href="http://www.anyoption.com/blog/" target="_blank">{{getMsgs('blog')}}</a>
				</li>
			</ul>
			<a class="button login" ui-sref="ln.login({ln:skinLanguage})">{{getMsgs('login')}}</a>
			<a class="anyoption-login" ui-sref="ln.login({ln:skinLanguage})" ng-bind-html="getMsgs('anyoption-login2')"></a>
		</nav>
	</div>
</div>