<section id="intro">
	<div class="wrap front">
		<h1 class="main-heading">{{getMsgs('index.h1')}}</h1>
		<p class="subheading">{{getMsgs('index.h1.subheading')}}</p>
		<p class="annotation" ng-bind-html="getMsgs('index.p')"></p>
		<!-- Desktop -->
		<!-- <div class="device">
			<div class="device-box">
				<img src="img/screen.jpg" width="594" height="380" alt/>
			</div>
		</div> -->
		<button class="button highlight scroll-trade-now" ng-if="isMobile" ng-click="goToByScrollWeb('mobile-home-sign-up', -50)">{{getMsgs('trade-now')}}</button>
		<div class="device-box clear">
			<div class="device">
				<i class="mobile-arrow"></i>
				<div ng-click="openCopyOpPopup({type: 'home-video'})">
					<img src="img/laptop.png" class="device-img laptop-big" />
					<img src="img/laptop-m.png" class="device-img laptop-small" />
					<!-- <i class="device-img"></i> -->
					<span>{{getMsgs('index.p13')}} »</span>
				</div>
			</div>
		</div>
		<!-- Mobile -->
		<div class="mobile">
			<!-- <img class="mobile-devices" src="img/mobile-devices.png" width="342" height="230" alt/> -->
			<!-- <img class="iphone" src="img/avatars-iphone.png" width="640" height="677" alt/>
			<img class="android-phone" src="img/avatars-android-phone.png" width="640" height="677" alt/> -->
		</div>
		<div ng-include="'html/minisite/quick-sign-strip.html'" onload="disclaimer=true" ng-if="'true'"></div>
	</div>
</section>
<section class="disclaimer">
	<div class="desktop-buttons-row disclaimer-home" ng-click="openCopyOpPopup({type: 'generalTerms', termsType: 1, scrollTo: 'risk'})">
		<div class="b" ng-bind-html="getMsgs('disclaimer-home-text', {link: 'javascript:return false;'})"></div>
	</div>
</section>
<section class="grey-box">
	<div class="wrap front">
		<h2 class="main-heading" ng-bind-html="getMsgs('index.h2.txt5')"></h2>
		<ul class="main-features flow">
			<li>
				<div class="feature-watch icon">
					<h3>{{getMsgs('watch')}}</h3>
					<p ng-bind-html="getMsgs('index.p1')"></p>
				</div>
			</li>
			<li>
				<div class="feature-copy icon">
					<h3>{{getMsgs('copy')}}</h3>
					<p ng-bind-html="getMsgs('index.p2')"></p>
				</div>
			</li>
			<li>
				<div class="feature-socialize icon">
					<h3>{{getMsgs('trade')}}</h3>
					<p ng-bind-html="getMsgs('index.p3')"></p>
				</div>
			</li>
		</ul>
		<div ng-include="'html/minisite/quick-sign-strip.html'"></div>
	</div>
</section>
<section id="trade">
	<div class="wrap front">
		<h2 class="main-heading">{{getMsgs('index.h2.txt2')}}</h2>
		<ul class="trading-features flow">
			<li class="skittles icon">
				<h3>{{getMsgs('index.h3.txt1')}}</h3>
				<p>{{getMsgs('index.p4')}}</p>
			</li>
			<li class="thumbs-up icon">
				<h3>{{getMsgs('index.h3.txt2')}}</h3>
				<p>{{getMsgs('index.p5')}}</p>
			</li>
			<li class="reliability icon">
				<h3>{{getMsgs('index.h3.txt3')}}</h3>
				<p ng-bind-html="getMsgs('index.p6')"></p>
			</li>
			<li class="liquidity icon">
				<h3>{{getMsgs('index.h3.txt4')}}</h3>
				<p>{{getMsgs('index.p7')}}</p>
			</li>
		</ul>
	</div>
</section>
<section class="trading-app-box">
	<div class="wrap front">
		<div class="trading-app-holder">
			<h2><span>{{getMsgs('index.h2.txt4')}}</span></h2>
			<p>{{getMsgs('index.p11')}}</p>
			<img class="mobile-devices" src="img/mobile-devices.png" alt/>
		</div>
		<div class="mobile-buttons">
			<div class="apple-store">
				<a href="{{appsflyerios}}" target="_blank">
					<img src="img/apple-store.png" alt="Download on the App Store" width="260" height="75"/>
				</a>
			</div>
			<div class="google-play">
				<a href="{{appsflyerandroid}}" target="_blank">
					<img src="img/google-play.png" alt="Get it on Google Play" width="203" height="77"/>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="fade" ng-if="false">
	<div class="wrap front">
		<h2 class="main-heading">{{getMsgs('index.h2.txt3')}}</h2>
		<div class="testimonials">
			<ul>
				<li>
					<div>
						<img class="thumb" src="img/img-avatar-1.png" width="165" height="165" alt="Avatar"/>
						<img class="thumb avatar" src="img/avatar-1.png" width="103" height="103"/>
					</div>
					<h3>{{getMsgs('index.h3.txt5')}} <span class="fr icon flag">38</span></h3>
					<p>{{getMsgs('index.p8')}}</p>
				</li>
				<li>
					<div>
						<img class="thumb" src="img/img-avatar-2.png" width="165" height="165" alt="Avatar"/>
						<img class="thumb avatar" src="img/avatar-2.png" width="103" height="103"/>
					</div>
					<h3>{{getMsgs('index.h3.txt6')}} <span class="de icon flag">31</span></h3>
					<p>{{getMsgs('index.p9')}}</p>
				</li>
				<li>
					<div>
						<img class="thumb" src="img/img-avatar-3.png" width="165" height="165" alt="Avatar"/>
						<img class="thumb avatar" src="img/avatar-3.png" width="103" height="103"/>
					</div>
					<h3>{{getMsgs('index.h3.txt7')}} <span class="en icon flag">55</span></h3>
					<p>{{getMsgs('index.p10')}}</p>
				</li>
			</ul>
		</div>
		<div ng-include="'html/minisite/quick-sign-strip.html'"></div>
	</div>
</section>
<section id="mobile-home-sign-up" ng-controller="registerCtrl" ng-if="isMobile">
	<div static-include="html/minisite/signup.html"></div>
</section>
<section class="disclaimer">
	<div class="desktop-buttons-row disclaimer-home" ng-click="openCopyOpPopup({type: 'generalTerms', termsType: 1, scrollTo: 'risk'})">
		<div class="b" ng-bind-html="getMsgs('disclaimer-home-text', {link: 'javascript:return false;'})"></div>
	</div>
</section>