<section class="inner-pg-container">
	<div class="wrap">
		<h1 class="main-heading inner-pg-img security-img">{{getMsgs('security')}}</h1>
		<p class="subheading">{{getMsgs('security.sub-heading')}}</p>
		<div class="inner-pg-content">
			<div class="description fL">
				<p>{{getMsgs('security.p1')}}</p>
				<p>{{getMsgs('security.p2')}}</p>
				<h2 >{{getMsgs('security.h2.txt1')}}</h2>
				<p>{{getMsgs('security.p3')}}</p>
				<h2>{{getMsgs('security.h2.txt2')}}</h2>
				<p>{{getMsgs('security.p4')}}</p>
				<p>{{getMsgs('security.p5')}}</p>
				<p>{{getMsgs('security.p6')}}</p>
			</div>
			<div class="description fR">
				<h2>{{getMsgs('security.h2.txt3')}}</h2>
				<p>{{getMsgs('security.p7')}}</p>
				<p>{{getMsgs('security.p8')}}</p>
				<h2>{{getMsgs('security.h2.txt4')}}</h2>
				<p>{{getMsgs('security.p9')}}</p>
				<h2>{{getMsgs('security.h2.txt5')}}</h2>
				<p>{{getMsgs('security.p10')}}</p>
				<p>{{getMsgs('security.p11')}}</p>
				<p>{{getMsgs('security.p12')}}</p>
				<p>{{getMsgs('security.p13')}}</p>
			</div>
		</div>
	</div>
	<div class="quick-sign-strip" ng-if="!checkIfLogged()">
		<div class="wrap" ng-include="'html/minisite/quick-sign-strip.html'"></div>
	</div>
</section>