<div class="popUp-content {{$ctrl.info.contentClass}}">
	<div class="header important-text" ng-bind-html="::$ctrl.info.headerText"></div>
	<div class="body">
		<p ng-repeat="row in $ctrl.info.bodyTextList" class="{{row.className}}" ng-bind-html="::row.text"></p>
		<button ng-if="$ctrl.info.button.text" ng-click="$ctrl.action('button')" class="button {{$ctrl.info.button.className}}">{{::$ctrl.info.button.text}}</button>
	</div>
	<div class="footer" ng-if="$ctrl.info.footer.text">
		<a  ng-click="$ctrl.action('footer-link')">{{::$ctrl.info.footer.text}}</a>
	</div>
</div>
