@charset "utf-8";
body {
    background-color: #E1E1E1;
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    border: medium none;
}
#page {
    background-color: #FFFFFF;
    border-bottom: 1px solid #A8A8A8;
    border-left: 1px solid #A8A8A8;
    border-right: 1px solid #A8A8A8;
    display: table;
    height: auto !important;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
    width: 970px;
}
#header {
    background: url("../images/header.gif") repeat-x scroll 0 0 transparent;
    height: 103px;
}
#header .logo {
    background: url("../images/options_trading_anyoption.gif") repeat scroll 0 0 transparent;
    height: 103px;
    margin-left: 17px;
    width: 284px;
}
#header .info {
    background: url("../images/header_info.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    height: 103px;
    position: relative;
    text-align: center;
    width: 389px;
}
#header .info .live_chat {
    float: left;
    height: 27px;
    line-height: 25px;
    margin-left: 34px;
    margin-top: 39px;
    padding-left: 35px;
}
#header .info .live_chat a, #header .info .live_chat a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#header .info .number {
    margin-top: 30px;
}
#footer {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
}
#footer .icons {
    height: 30px;
    margin: 0 auto;
    padding-left: 20px;
    width: 320px;
}
#footer .icons .icon_space {
    float: left;
    margin-right: 20px;
}
#footer .links {
    margin-bottom: 15px;
    margin-top: 20px;
}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text {
    color: #7D7D7D;
    float: left;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-top: 10px;
    position: relative;
    width: 900px;
}
.hide {
    display: none;
}
#page {
    background: url("../images/page_bk.png") repeat-x scroll center bottom #FFFFFF;
}
p {
    margin: 0 0 4px;
    padding: 0;
}
h2 {
    font-size: 18px;
}
#banner1 {
    background: url("../images/banner_en.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
#banner_it {
    background: url("../images/banner_it.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
#banner_es {
    background: url("../images/banner_es.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
#banner_tr {
    background: url("../images/banner_tr.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
#banner_fr {
    background: url("../images/banner_fr.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
#banner_de {
    background: url("../images/banner_de.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 1000px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
.l_text_box {
    color: #525252;
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-left: 33px;
    margin-top: 110px;
    position: relative;
    width: 640px;
}
.t_box_pilot {
    background-image: url("../images/bg_pilot.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor {
    background-image: url("../images/bg_doctor.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman {
    background-image: url("../images/bg_salesman.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_pilot_it {
    background-image: url("../images/bg_pilot_it.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor_it {
    background-image: url("../images/bg_doctor_it.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman_it {
    background-image: url("../images/bg_salesman_it.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_pilot_es {
    background-image: url("../images/bg_pilot_es.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor_es {
    background-image: url("../images/bg_doctor_es.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman_es {
    background-image: url("../images/bg_salesman_es.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_pilot_tr {
    background-image: url("../images/bg_pilot_tr.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor_tr {
    background-image: url("../images/bg_doctor_tr.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman_tr {
    background-image: url("../images/bg_salesman_tr.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_pilot_fr {
    background-image: url("../images/bg_pilot_fr.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor_fr {
    background-image: url("../images/bg_doctor_fr.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman_fr {
    background-image: url("../images/bg_salesman_fr.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_pilot_de {
    background-image: url("../images/bg_pilot_de.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor_de {
    background-image: url("../images/bg_doctor_de.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman_de {
    background-image: url("../images/bg_salesman_de.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_text {
    color: #525252;
    font-size: 13px;
    line-height: 16px;
}
.t_name {
    color: #525252;
    font-size: 11px;
    font-weight: bold;
}
.r_text_box {
    color: #FFFFFF;
    font-size: 12px;
    left: 712px;
    position: absolute;
    top: 44px;
}
.title_image {
    margin: 0 0 13px 5px;
}
.r_text_box h2 {
    margin: 0 0 10px;
}
.star {
    color: #F6CD10;
    font-weight: normal;
}
.submit_image {
    margin-left: -7px;
    margin-top: 6px;
}
.error {
    background-position: 0 -23px;
}
.bottom_line {
    color: #0471B5;
    font-size: 16px;
    font-weight: bold;
}
.agree {
    float: left;
    margin-right: 10px;
}
.agree_text {
    font-size: 11px;
}
.error_text {
    height: 19px;
    overflow: visible;
}
.error_bullets {
    color: #EE2930;
    font-size: 13px;
    font-weight: bold;
    list-style-image: url("../images/error_bullet.png");
    margin: 3px;
    padding: 0 0 0 18px;
}
.yellow {
    color: #F6CD10;
}
.plus {
    color: #000000;
    float: left;
    margin-top: 7px;
    text-align: right;
    width: 15px;
}
#zh #page {
    background: url("../images/page_bk_zh.png") repeat-x scroll center bottom #FFFFFF;
}
#zh #header .info {
    background: url("../../images/header_info_zh.jpg") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: right;
    font-size: 13px;
    height: 103px;
    position: relative;
    text-align: center;
    width: 389px;
}
#header .info .number {
    margin-right: -77px;
}
#zh #header .logo {
    background: url("../images/options_trading_anyoption_zh.gif") repeat scroll 0 0 transparent;
    height: 103px;
    margin-left: 17px;
    width: 284px;
}
p {
    margin: 0 0 4px;
    padding: 0;
}
h2 {
    font-size: 18px;
}
#banner_zh {
    background: url("../images/banner_zh.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 970px;
    margin: 0 auto;
    position: relative;
    width: 970px;
}
.l_text_box_zh {
    color: #525252;
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    line-height: 32px;
    margin-left: 33px;
    margin-top: 110px;
    position: relative;
    width: 640px;
}
.l_text_box_zh p {
    margin: 35px 0 5px;
}
.t_box_pilot_zh {
    background-image: url("../images/bg_pilot_zh.jpg");
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_doctor_zh {
    background-image: url("../images/bg_doctor_zh.jpg");
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_salesman_zh {
    background-image: url("../images/bg_salesman_zh.jpg");
    float: left;
    height: 149px;
    margin-top: 20px;
    padding: 60px 20px 0 210px;
    position: relative;
    width: 408px;
}
.t_box_pilot_zh .t_text, .t_box_doctor_zh .t_text, .t_box_salesman_zh .t_text {
    line-height: 20px;
}
.error_text_zh {
    height: 19px;
    margin: 10px 0 5px;
    overflow: visible;
}
.error_bullets {
    color: #EE2930;
    font-size: 13px;
    font-weight: bold;
    list-style-image: url("../images/error_bullet.png");
    margin: 3px;
    padding: 0 0 0 18px;
}
#zh .footer_text {
    color: #7D7D7D;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
#zh #footer {
    margin-top: 60px;
}
#header .logo_zh {
    background: url("../images/options_trading_anyoption_zh.gif") repeat scroll 0 0 transparent;
    height: 103px;
    margin-left: 17px;
    width: 284px;
}
#footer .icons {
    border: medium none;
    width: 360px;
}
.regulated {
    border-bottom: 1px solid #E5E5E5;
    color: #898989;
    float: left;
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 3px;
    padding: 10px 5px 5px 7px;
    width: 950px;
}
.regulated div {
    margin: 0 auto;
    width: 925px;
}
.logo {
    background-repeat: no-repeat;
    width: 95%;
}
.reg-logo {
    background: url("../../images/regulated-logo.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 67px;
    padding: 14px 0 0 55px;
    position: absolute;
    right: 24px;
    top: 30px;
}
.reg-logo p {
    color: #FFFFFF;
    font-size: 15px;
}
.regulated img {
    float: right;
}
.regulated p {
    float: left;
    margin-top: 7px;
}
#DE .regulated div {
    width: 940px;
}
#ES .regulated div {
    width: 900px;
}
#FR .regulated div {
    width: 955px;
}
#TR .regulated div {
    width: 970px;
}
#TR .regulated {
    font-size: 13px;
    margin-left: 0;
}
#TR .regulated img {
    float: left;
    margin-left: 5px;
}
#zh .regulated div {
    width: 900px;
}

#FR .r_text_box h2 { font-size:21px; }


/******************************************************************************************NEW REGFORM*********************************************************************************/
/*short reg hp*/
#headers_field {
    margin: 14px 0 4px;
}
.funnel_h1 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.funnel_subtitle {
    color: #FFD400;
    font-size: 11px;
}
.home_shortReg {
    margin-top: 25px;
    width: 250px;
}
#FR .home_shortReg {
    margin-top: 19px;
}
.home_shortReg .funnel_hold {
    width: 212px;
}
.home_shortReg .funnel_inp {
    background: none repeat scroll 0 0 white;
    border: 1px solid #FFFFFF;
    color: #6E8695;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    margin-bottom: 14px;
    padding: 0 0 2px 2px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 215px;
}
.home_shortReg .funnel_inp.active {
    border: 1px solid #859199;
    color: #093755;
    text-transform: none;
}
.home_shortReg .funnel_inp.error {
    border: 1px solid #E97F02;
    color: #E97F02;
    text-transform: none;
}
.home_shortReg .funnel_inp.correct {
    border: 1px solid #BDCEDA;
    color: #6E8695;
    text-transform: none;
}
.home_shortReg .funnel_inp_phone {
    margin-left: 3px;
    width: 128px;
}
.home_shortReg .funnel_names_holder, .home_shortReg .funnel_email_holder, .home_shortReg .funnel_phone_holder, .home_shortReg .funnel_password_holder, .home_shortReg .funnel_password_retype_holder {
    position: relative;
    z-index: 2;
}
.home_shortReg .funnel_phone_holder_drop {
    z-index: 3;
}
.home_shortReg .funnel_phone_code {
    float: left;
    width: 30px;
}
.home_shortReg .funnel_phone {
    float: right;
    width: 170px;
}
.home_shortReg .btn_open_account {
    background: url("../images/btn_open_account.png") no-repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h {
    background-position: 0 0;
    display: block;
    height: 50px;
    left: -4px;
    margin: 5px 0;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 217px;
}
.home_shortReg .btn_open_account_h .rs {
    background-position: right -51px;
    display: block;
    height: 50px;
    padding-right: 10px;
}
.home_shortReg .btn_open_account_h .cs {
    background-position: 0 -104px;
    background-repeat: repeat-x;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 1px;
    padding-top: 24px;
    text-align: center;
    text-shadow: 1px 1px 2px #926A01;
}
.home_shortReg a.btn_open_account_h:hover {
    background-position: 0 -158px;
}
.home_shortReg a.btn_open_account_h:hover .rs {
    background-position: right -211px;
}
.home_shortReg a.btn_open_account_h:hover .cs {
    background-position: 0 -264px;
}
.home_shortReg a.btn_open_account_h.disabled {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg .btn_open_account_h.disabled .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg .btn_open_account_h.disabled .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
    text-shadow: none;
}
.home_shortReg a.btn_open_account_h.disabled:hover {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
}
.home_shortReg .error_messages {
    color: #E97F02;
}
.home_shortReg .error {
    border: 1px solid #E97F02;
}
.home_shortReg .funnel_chkbx {
    display: block;
    margin-bottom: 5px;
    position: relative;
}
.home_shortReg .funnel_chkbx_inp {
    margin-left: 0;
}
.home_shortReg .funnel_terms_h {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -17px transparent;
    color: #093755;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding-left: 20px;
}
.home_shortReg .funnel_terms_h.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -32px transparent;
}
.home_shortReg .funnel_terms_h2 {
    color: white;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    margin: 5px 0;
}
#DE .home_shortReg .funnel_terms_h2 {
    font-size: 11px;
}
.home_shortReg .funnel_terms_h_in {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -18px transparent;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
}
.home_shortReg .funnel_terms_h_in.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -33px transparent;
}
.home_shortReg .funnel_terms_h2 span {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.home_shortReg .funnel_terms {
    display: none;
}
.home_shortReg .funnel_drop_h {
    background: none repeat scroll 0 0 white;
    border: 1px solid #BDCEDA;
    color: #6E8695;
    display: inline-block;
    height: 21px;
    margin-bottom: 9px;
    margin-top: -6px;
    padding: 5px 3px 0 2px;
    position: relative;
    vertical-align: middle;
    width: 74px;
    z-index: 2;
}
.home_shortReg .funnel_drop_selected {
    background: url("../images/reg_elms.png") no-repeat scroll right 2px transparent;
    color: #6E8695;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
    margin-top: -2px;
    overflow: hidden;
}
.home_shortReg .funnel_drop_country {
    float: left;
    font-size: 12px;
    margin-top: 4px;
}
.home_shortReg .funnel_drop_countryId {
    float: right;
    font-size: 12px;
    margin: 4px 20px 0 0;
    text-align: right;
}
.home_shortReg .funnel_drop_ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #859199;
    display: none;
    left: -1px;
    list-style: none outside none;
    margin: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 26px;
}
.home_shortReg .funnel_drop_ul li {
    color: #093755;
    cursor: pointer;
    display: block;
    padding: 1px 2px;
    white-space: nowrap;
}
.home_shortReg .funnel_drop_ul li:hover, .home_shortReg .funnel_drop_ul li.active {
    background: none repeat scroll 0 0 #92ACC0;
    color: white;
}
.home_shortReg .funnel_drop_h.active {
    border: 1px solid #92ACC0;
    color: #093755 !important;
}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul {
    border: 1px solid #859199;
    display: block;
}

.home_shortReg .funnel_drop_ul_search{position:absolute;left:-9999em;margin:0px; padding:0; border-bottom:1px solid #859199;}
.home_shortReg .funnel_drop_ul_search_inp{border:0px;padding:0; margin:0; color:#093755; text-indent:20px; background:url(../images/search-icon.png) no-repeat 3px 3px !important;}
.home_shortReg .funnel_drop_ul_search_inp:focus { outline: -webkit-focus-ring-color 0px; }
.home_shortReg .funnel_drop_ul_search_inp:hover{color:#093755;}


.home_shortReg .funnel_names_error_h {
    position: absolute;
    right: 14px;
    top: 5px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_names_error_h_chb {
    position: absolute;
    right: 14px;
    top: 7px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_error_hide {
    display: none;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_error_bad {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -50px transparent;
    display: inline-block;
    height: 11px;
    margin-top: 4px;
    width: 11px;
}
.home_shortReg .funnel_error_good {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -61px transparent;
    display: inline-block;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_tooltip_h {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #3B6079;
    display: none;
    padding: 5px;
    position: absolute;
    right: -194px;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 170px;
}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -73px transparent;
    display: block;
    height: 18px;
    left: -14px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_tooltip_h_left {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #3B6079;
    color: #093755;
    display: none;
    font-size: 10px;
    left: -167px;
    line-height: 13px;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 140px;
}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -94px transparent;
    display: block;
    height: 18px;
    left: 150px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_error_list {
    color: #FF9700;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
    width: 230px;
}
.home_shortReg .funnel_error_list span {
    display: block;
}
.home_shortReg .funnel_names_error_msg_h {
    display: none;
}
.home_shortReg .funnel_inp_first_name {
    width: 78px;
}
.home_shortReg .funnel_inp_last_name {
    margin-left: 3px;
    width: 127px;
}
funnel_drop_selected.active {
    color: #093755 !important;
}

/*short reg hp end*/
