<div  id="tab-content" class="holder files-content oH">
	<ng-form name="_form" novalidate>
		<div class="box-sub-header static-filters">
			<label for="fromDate" class="filter-label">
				{{getMsgs('from')}}:
			</label>
			<div class="date-holder">
				<input id="fromDate" type="text" class="form-control" datetime-picker="{{ucpCtrl.dateManager.format}}" ng-click="ucpCtrl.dateManager.openCalendar($event, 'fromDate')" 
					ng-model="ucpCtrl.filter.fromDate" is-open="ucpCtrl.dateManager.openDates.fromDate" enable-time="false" min-date="ucpCtrl.minDate" 
					max-date="ucpCtrl.maxDate" datepicker-options="ucpCtrl.dateManager.dateOptions" />
				<button type="button" class="btn btn-default" ng-click="ucpCtrl.dateManager.openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
			</div>
			
			<label for="toDate" class="filter-label">
				{{getMsgs('to')}}:
			</label>
			<div class="date-holder">
				<input id="toDate" type="text" class="form-control" datetime-picker="{{ucpCtrl.dateManager.format}}" ng-click="ucpCtrl.dateManager.openCalendar($event, 'toDate')" 
					ng-model="ucpCtrl.filter.toDate" is-open="ucpCtrl.dateManager.openDates.toDate" enable-time="false" min-date="ucpCtrl.minDate" 
					max-date="ucpCtrl.maxDate" datepicker-options="ucpCtrl.dateManager.dateOptions" />
				<button type="button" class="btn btn-default" ng-click="ucpCtrl.dateManager.openCalendar($event, 'toDate')"><i class="fa fa-calendar"></i></button>
			</div>
			
			<label>
				<span class="filter-label">{{getMsgs('copyop.still.copying')}}:</span>
				<single-select ng-model="ucpCtrl.filter.stillCopying"></single-select>
			</label>
			
			<label>
				<span class="filter-label">{{getMsgs('copyop.include.frozen')}}:</span>
				<single-select ng-model="ucpCtrl.filter.isFrozen"></single-select>
			</label>
			
			<label>
				<span class="filter-label">{{getMsgs('show-entries')}}:</span>
				<single-select ng-model="ucpCtrl.filter.resultsPerPage"></single-select>
			</label>
			
			<label>
				<span class="filter-label">{{getMsgs('copyop.leader.user.id')}}:</span>
				<input ng-model="ucpCtrl.filter.userLeaderId" type="text" restrict-digits/>
			</label>
			
			<button type="button" class="button blue" ng-click="ucpCtrl.getList(_form)">{{getMsgs('search')}}</button>
		</div>
	</ng-form>
	<div class="files-screen">
		<table class="pretty-table">
			<tr>
				<th>{{getMsgs('copyop.leader.user.id')}}</th>
				<th>{{getMsgs('general.start.date')}}</th>
				<th>{{getMsgs('general.end.date')}}</th>
				<th>{{getMsgs('copyop.end.reason')}}</th>
				<th>{{getMsgs('copyop.nickname')}}</th>
				<th>{{getMsgs('copyop.trading.profit')}}</th>
				<th>{{getMsgs('copyop.inv.left.copy')}}</th>
				<th>{{getMsgs('general.amount')}}</th>
				<th>{{getMsgs('copyop.specific')}}</th>
				<th>{{getMsgs('copyop.leader.turnover')}}</th>
				<th>{{getMsgs('copyop.leader.balance')}}</th>
				<th>{{getMsgs('copyop.frozen')}}</th>
				<th>{{getMsgs('copyop.stop')}}</th>
			</tr>
			<tr ng-repeat="row in ucpCtrl.resultList">
				<td>{{row.userId}}</td>
				<td>{{row.startDate | date: 'defaultDateTime'}}</td>
				<td>{{row.endDate | date: 'defaultDateTime'}}</td>
				<td>{{row.endReason}}</td>
				<td>{{row.nickname}}</td>
				<td>{{row.copyTradingProfit}}</td>
				<td>{{row.invCountReached}} / {{row.invCount == 0 ? getMsgs('general.max') : row.invCount}}</td>
				<td>{{row.amount | formatAmount : (ucpCtrl.screen == 'copiers') ? row.currencyId : ucpCtrl.writerCurrencyId}}</td>
				<td>
					<span ng-repeat="asset in row.specificAssets">{{asset}}, </span>
				</td>
				<td>{{row.turnover | formatAmount : row.currencyId}}</td>
				<td>{{row.balance | formatAmount : row.currencyId}}</td>
				<td>{{row.isFrozen ? getMsgs('yes') : getMsgs('no')}}</td>
				<td>
					<span class="clickable" ng-if="row.isCanDelete" ng-click="ucpCtrl.stop(row)">{{getMsgs('copyop.stop')}}</span>
				</td>
			</tr>
		</table>
		
		<div class="box-footer ng-scope" ng-if="ucpCtrl.resultList.length > 0">
			<div class="table">
				<div class="cell w1p">
					<div class="pages ng-scope">
						<a href="" class="paginate_button" ng-click="ucpCtrl.getList(null, true)">
							{{getMsgs('next')}}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>