html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img {
	border-width: 0;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-size: 12px;
	text-align: left;
	background: url(images/bg.jpg) top center repeat-x;
	color: #333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	direction: ltr;
}
select, input, img {
	margin: 0 auto;
	vertical-align: middle;
}
* {
	margin: 0px;
	padding: 0px;
}
a:link, a:visited, a:active {
	color: #0478c1 !important;
}
a:hover {
	color: #e9800f !important;
	text-decoration: underline !important;
}
/****QS Form*****/
.hp_banner {
	width: 735px;
	height: 300px;
	vertical-align: top;
	text-align: left;
	background-position: right 11px;
	background-repeat: no-repeat;
	padding-top: 10px;
}
.hp_QS {
	width: 235px;
	height: 300px;
	vertical-align: top;
	text-align: left;
}
.hp_QS #contactUsForm input {
	border: none;
	width: 229px;
	height: 51px;
	color: #666;
	font-size: 12px;
	padding-left: 2px;
	background-color: transparent;
}
.hp_QS #contactUsForm h1 {
	color: #0766a8;
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 5px;
	text-align: left;
	padding-top: 17px;
}
.hp_QS #contactUsForm .input {
	border: none;
	width: 215px;
	height: 20px;
	color: #666;
	font-size: 12px;
	padding-left: 5px;
	padding-top: 0px url(0/);
	background-color: transparent;
}
.hp_QS #contactUsForm #first_name, .hp_QS #contactUsForm #last_name, .hp_QS #contactUsForm #email, .hp_QS #contactUsForm #country {
	background-color: #f2f2f2;
	border: solid 1px #cccccc;
	width: 220px;
	height: 20px;
	margin: 0 0 8px 3px;
	position: relative;
}
#countryBox {
	float: left;
	margin: 0 0 8px 3px;
}
.country_selector {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: block;
	border: solid 1px #ccc;
	float: left;
	padding: 0;
	width: 222px !important;;
	height: 20px;
	white-space: nowrap;
	color: #666;
	font-size: 12px;
	font-weight: normal;
	position: relative;
	background-color: #f2f2f2;
}
.hp_QS #contactUsForm #code {
	background-color: #f2f2f2;
	border: solid 1px #ccc;
	width: 50px;
	height: 20px;
	margin: 0 8px 12px 3px;
	float: left;
}
.hp_QS #contactUsForm #code input {
	width: 50px;
	height: 18px;
}
.hp_QS #contactUsForm #number {
	background-color: #f2f2f2;
	border: solid 1px #ccc;
	width: 160px;
	height: 20px;
	margin-bottom: 12px;
	float: left;
	position: relative;
}
.hp_QS #contactUsForm #number input {
	width: 155px;
}
.hp_QuickStart_SubmitButton {
	width: 228px !important;
	height: 51px !important;
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
	margin-right: 11px;
	padding: 0 !important;
}
.hp_QS #error_sect {
	margin: -25px 0 0 3px;
	float: left;
}
.hp_QS .error_messages {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #eb8314;
	font-size: 11px;
	font-weight: normal;
	vertical-align: middle;
}
/****end of QS Form*****/

/*Predefined classes*/
.fL{float:left!important;}
.fR{float:right!important;}
.clear{clear:both!important;}
.b{font-weight:bold;}

.taC{text-align:center!important;}
.pR{position:relative!important;}
.zI2{z-index:2;}
.m10{margin:10px!important;}
.mt10{margin-top:10px!important;}
.mb10{margin-bottom:10px!important;}
.ml10{margin-left:10px!important;}
.mr10{margin-right:10px!important;}
.mr0{margin-right:0!important;}
.ttUC{text-transform:uppercase;}

.vaM{vertical-align:middle;}
.oH{overflow:hidden;}

.p{background:url('../images/p.png') no-repeat;}
.g{background:url('../images/g.png') repeat-y;}

.noBorder{border:none!important;}

.dB{display:block;}
.wd{width:970px;margin:auto;}

/*NEW DESIGN*/
.quick_reg_h1{background:url('../../images/zh_22/quick_reg_top.jpg') no-repeat;height:70px;color:transparent;}
.quick_reg_hold{background:#A2A0A1;padding:10px 20px;height:200px;}
.quick_reg_inp{border:1px solid #666666;color:#666666;font-size:12px;height:18px;padding:1px 5px;display:block;width:198px;}
.quick_reg_sel{width:209px;height:22px;}
.quick_reg_phone_code{width:30px}
.quick_reg_phone{width:150px}
.quick_reg_submit{background:url('../../images/zh_22/bttn_OpenAccount.png') no-repeat;cursor:pointer;border:none;width:208px;height:39px;}
.quick_reg_submit:hover{background-image:url('../../images/zh_22/bttn_OpenAccount_over.png');}
.quick_reg_submit.wait{background-image:url('../../images/loader_sm.gif');}
.mt7{margin-top:7px;}
.error_messages{color:red;display:inline-block;margin-top:2px;font-size:11px;}