@charset "utf-8";

body {
	background:#fff url(../../../images/landing/mobile/LP_etrader_testimonials_mobile/bg.png) repeat-x left top;
	margin:0;
	padding:0;
	height:100%;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 100%;
	line-height: normal;
	direction: rtl;
	text-align: right;
	color:#566764;
}
* {
	margin:0;
	padding:0;
}
#page {
	clear: both;
	width:320px;
	margin:0 auto;
	height: 438px;
	position: relative;
	top: 0;
	vertical-align: top;
	background:transparent url(../../../images/landing/mobile/LP_etrader_testimonials_mobile/img_pilot.png) no-repeat left 120px;
}
img {
	border:none;
}
.logo {
	margin: 7px 15px 0 0;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	float: right;
}
#main_box {
	margin: 0 20px 5px 20px;
	float: right;
	clear: both;
	width: 280px;
}
.main_text {
	font-size:88%;
	float: right;
	clear: both;
}
h1 {
	font-size: 135%;
	margin: 15px 0 10px 0;
	padding: 0px;
	width: 290px;
}
h1 span {
	color: #a91f06;
}
p {
	font-size: 100%;
	width: 290px;
	padding: 0px;
	margin: 0px;
}
p span {
	color: #a91f06;
}
.form_box {
	width:260px;
	height: 187px;
	clear: both;
	float: right;
	background:transparent url(../../../images/landing/mobile/LP_etrader_testimonials_mobile/img_bgForm.png) no-repeat center top;
	padding:10px 30px 0 30px;
	margin-top: 5px;
}
.form_box h4{
	color:#fff;
	font-size:120%;
	text-align: center;
	padding: 20px 0 0 0;
}
.ty_text{
	color:#ffffff;
	font-size:90%;
	text-align: center;
	padding: 5px 0 0 10px;
	width:260px;
}
h3 {
	color:#fff;
	font-size:90%;
}
.regForm_labelAndField_wrap {
	width: 260px;
	margin: 2px 0 0 0;
	float: right;
}
.regForm_labelAndField_wrap input {
	width:176px;
	height:12px;
	color:#7f7f7f;
	float:left;
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:4px 5px 4px 5px;
	background:#ffffff;
	font-size: 12px;
}
label {
	height:20px;
	color:#fff;
	font-size:67%;
	margin-top:5px;
	width: 73px;
	text-align: right;
	float: right;
}
#first_name {
	margin-top: 5px;
}
.submit_button {
	margin: 0 -4px 5px 0;
	float: right;
	padding-bottom: 5px;
}
.link_post {
	font-size:55%;
	color:#b50900;
	margin-right: 33px;
	float: right;
	width: 250px;
}

#phone2 input {
	width:125px;
	float: right;
}
#phone2 select {
	width:48px;
	height:20px;
	color:#7f7f7f;
	float:left;
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:1px;
	background:#ffffff;
	font-size: 12px;
}

#box {
	width: 151px;
	height: 60px;
	padding: 15px 10px 10px 10px;
	margin-top: 20px;
	float: right;
	background:transparent url(../../../images/landing/mobile/LP_etrader_testimonials_mobile/bg_box.png) no-repeat center top;
}
#box p {
	font-size: 82%;
	width: 141px;
	color: #a91f06;
	margin: 0px;
	padding: 0px;
}
#box p span {
	font-size: 85%;
	color: #566764;
}