@charset "utf-8";

body {
	background:#fff url(../../../images/landing/mobile/LP_etrader_globes_mobile/bg.png) repeat-x left top;
	margin:0;
	padding:0;
	height:100%;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 100%;
	line-height: normal;
	direction: rtl;
	text-align: right;
	color:#566764;
}
* {
	margin:0;
	padding:0;
}
#page {
    clear: both;
	width:320px;
	margin:0 auto;
	height: 438px;
	position: relative;
	top: 0;
	vertical-align: top;
}
img {
	border:none;
}
.logo {
	margin: 7px 15px 0 0;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
	float: right;
}
#main_box {
	margin: 0 20px 5px 20px;
	float: right;
	clear: both;
	width: 280px;
}
.title_image {
	margin: 5px 0 0 15px;
	font-size: 0px;
	line-height: 0px;
	padding: 0px;
}
.main_text {
	font-size:88%;
	float: right;
	clear: both;
}
.date {
	font-size: 61%;
	border-bottom: solid 1px #a8b1af;
	float: right;
	clear: both;
	margin: 2px 0 0 0;
	padding: 0 0 2px 0;
	width: 280px;
}
h1 {
	font-size: 118%;
	margin: 5px 0 5px 0;
	padding: 0px;
	width: 290px;
}
p {
	font-size: 100%;
	width: 290px;
	padding: 0px;
	margin: 0px;
}
p span {
	color: #a91f06;
}
.form_box {
	width:260px;
	height: 187px;
	clear: both;
	float: right;
	background:transparent url(../../../images/landing/mobile/LP_etrader_globes_mobile/img_bgForm.png) no-repeat center top;
	padding:10px 30px 0 30px;
	margin-top: 5px;
}
h3 {
	color:#fff;
	font-size:90%;
}
.regForm_labelAndField_wrap {
	width: 260px;
	margin: 2px 0 0 0;
	float: right;
}
.regForm_labelAndField_wrap input {
	width:176px;
	height:12px;
	color:#7f7f7f;
	float:left;
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:4px 5px 4px 5px;
	background:#ffffff;
	font-size: 12px;
}
label {
	height:20px;
	color:#fff;
	font-size:67%;
	margin-top:5px;
	width: 73px;
	text-align: right;
	float: right;
}
#first_name
{
	margin-top: 5px;
}
.submit_button {
	margin: 0 -4px 5px 0;
	float: right;
	padding-bottom: 5px;
}
.link_post {
	font-size:55%;
	color:#b50900;
	margin-right: 33px;
	float: right;
	width: 250px;
}

#phone2 input {
	width:125px;
	float: right;
}
#phone2 select {
	width:48px;
	height:20px;
	color:#7f7f7f;
	float:left;
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:1px;
	background:#ffffff;
	font-size: 12px;
}

.form_box .input2 {width:45px; height:12px; background:#ffffff;float:left;border-right: 3px solid #FFF;}
.form_box .input2 .noborder {
	width:42px;
	height:12px;
	overflow:hidden;
	position:relative;
	margin-top:4px;
	margin-right:2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:4px 5px 4px 5px;
	background:#ffffff;
	font-size: 12px;}
.form_box .input2 select {width:47px;  color:#7f7f7f; left: 4px; position: relative; top: -1px; border:none; background:#e9f1f0; }
.form_box .input3 input	{    color: #7F7F7F;border: medium none;
    float: left;
    height: 20px;
    /*margin-left: 1px;*/

    width:128px;
	height:12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:4px 5px 4px 5px;
	background:#ffffff;
	font-size: 12px;
	}

.form_box h4 {
	color:#fff;
	font-size:120%;
	text-align: center;
	padding: 20px 0 0 0;
}

.ty_text{
	color:#ffffff;
	font-size:90%;
	text-align: center;
	padding: 5px 0 0 10px;
	width:260px;
}