<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['anyoption.title']}"/>
		</ui:define>
	<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
	<ui:define name="content">
		<table cellpadding="0" cellspacing="0" width="724" border="0" align="#{applicationData.pageAlignment}">
			<tr align="#{applicationData.pageAlignment}">
				<td align="#{applicationData.pageAlignment}">
					<t:messages rendered="#{commonUtil.hasMessages}" id="messages" layout="table" globalonly="true" errorClass="error_messages" infoClass="info_pages_text_header"/>
				</td>
			</tr>
		</table>
	</ui:define>
</ui:composition>
</html>
