<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<ui:insert name="cookie" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	
   	<title><ui:insert name="windowtitle"/></title>
   	<c:set var="metaDesc" value="#{msgs['generalterms.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <meta name="description" content="${metaDesc}"/>
    <c:set var="metaKey" value="#{msgs['anyoption.keywords']}" /> <!-- default -->
    <ui:insert name="metaKeywords"></ui:insert>
    <meta name="keywords" content="${metaKey}"/>
	
    <ui:include src="/jsp/head_css_js.xhtml" />

	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}">
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
	</c:if>
	<ui:insert name="selected" />
	
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
	</h:panelGroup>
	<iframe scrolling="no" id="header" style="margin:auto;display:block;" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/header.jsf" width="970" allowTransparency="true" height="110"></iframe>
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
		<ui:insert name="homePage" />
	</ui:include>
	<!-- 
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/header.xhtml" >
		<ui:param name="template_type" value="homePage" />
	</ui:include>
	-->
	
	<ui:insert name="message"></ui:insert>
	
	<!-- LIVE PERSON -->
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/livePerson.xhtml" />
	
	<!-- CONTENT -->
	<div class="wd clear mt10">
		<div class="clear oH header_msg_h">
			<div class="header_pages fL">
				<ui:insert name="title"></ui:insert>
			</div>
			<div class="header_pages_message fR">
				<ui:insert name="title_message"></ui:insert>
			</div>
		</div>
		<ui:insert name="content"></ui:insert>
		<!-- friendly Links" -->
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/friendlyLinks.xhtml" />
	</div>
	<!-- FOOTER -->
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />

	<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
	<div id="log"></div>
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
	</c:if>
</body>
</f:view>
</html>
