<div id="tab-content" class="academy-articles-content">
	<h1><span>{{getMsgs('academy-articles')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box academy-articles-details-screen">
		<div class="box-header">
			<h2 ng-if="aa.action == 'add'">{{getMsgs('add-academy-article')}}</h2>
			<h2 ng-if="aa.action == 'edit'">{{getMsgs('edit-academy-article')}}</h2>
		</div>
		<form>
			<div class="box-body" ng-if="!aa.article && aa.articleLoaded">
				<div class="article-not-found">{{getMsgs('article-not-found', {'article-id': aa.articleId})}}</div>
			</div>
			<div class="box-body" ng-if="aa.article">
				<label class="label-row">
					<span class="label-title">{{getMsgs('id')}}</span>
					{{aa.article.id}}
				</label>
				<div class="label-row">
					<label ng-class="{'is-inactive': !aa.article.isActive}">
						<span class="label-title">{{getMsgs('active')}}</span>
						<input type="checkbox" ng-model="aa.article.isActive">
					</label>
				</div>
				<label class="label-row">
					<span class="label-title">{{getMsgs('home-page-position')}}</span>
					<single-select ng-model="aa.homePagePosition"></single-select>
				</label>
				<label class="label-row">
					<span class="label-title">{{getMsgs('image-url')}}<br/>(480 x 320 px)</span>
					<input type="text" ng-model="aa.article.imageUrl">
					<img ng-src="{{aa.getImageUrl(aa.article.imageUrl)}}" ng-if="aa.article.imageUrl">
				</label>
				<div class="translations-holder" ng-if="aa.tinymceReady">
					<uib-tabset active="active">
						<uib-tab index="$index" ng-repeat="translation in aa.article.translations" heading="{{translation.locale}}">
							<label class="label-row">
								<span class="label-title">{{getMsgs('title')}}</span>
								<input type="text" ng-model="translation.title">
							</label>
							<label class="label-row">
								<span class="label-title">{{getMsgs('subtitle')}}</span>
								<input type="text" ng-model="translation.subtitle">
							</label>
							<label class="label-row">
								<span class="label-title">{{getMsgs('author')}}</span>
								<input type="text" ng-model="translation.author">
							</label>
							
							<div class="label-row">
								<span class="label-title">{{getMsgs('topics')}}</span>
								<div class="topics">
									<div class="new-topic-holder" click-outside="aa.hideSuggestedTopics(translation.newTopics)">
										<input type="text" ng-model="translation.newTopics.newTopic" ng-change="aa.getSuggestedTopics(translation)" ng-focus="aa.getSuggestedTopics(translation)">
										<div class="topic-suggestions" ng-if="translation.newTopics.suggestedTopics.length > 0">
											<div ng-repeat="suggestedTopic in translation.newTopics.suggestedTopics" ng-click="aa.useSuggestedTopic(translation, suggestedTopic)">{{suggestedTopic.title}}</div>
										</div>
									</div>
									<button type="button" class="button default-gray" ng-click="aa.addTopic(translation.topics, translation.newTopics.newTopic)" title="{{getMsgs('add')}}">
										<i class="fa fa-plus"></i>{{getMsgs('add')}}
									</button>
									<div>
										<span class="topic" ng-repeat="topic in translation.topics" ng-click="aa.removeItemFromArr(translation.topics, $index)" title="{{getMsgs('remove')}}">
											{{topic.title}}
											<i class="fa fa-remove"></i>
										</span>
									</div>
								</div>
							</div>
							
							<textarea ui-tinymce="aa.tinymceOptions" ng-model="translation.html" style="visibility:hidden;"></textarea>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>
			<div class="box-footer" ng-if="aa.article">
				<div class="table">
					<div class="table-cell">
						<button type="button" class="button red" ng-click="aa._u.$state.go('ln.content.academy-articles', {ln: $state.params.ln});">{{getMsgs('cancel')}}</button>
					</div>
					<div class="table-cell">
						<button type="button" class="button red delete-button" ng-click="aa.deleteArticle(aa.article)">{{getMsgs('delete')}}</button>
						<button type="submit" class="button blue" ng-click="aa.saveArticle(_form);">{{getMsgs('save')}}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>