<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<f:metadata>
  <f:event type="preRenderView" listener="#{pendingDocsSupportNotReg.initList()}"/>
</f:metadata>

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<h:form id="pendingDocsSupportNotReg">
	<t:saveState id="pdsFormState" value="#{pendingDocsSupportNotReg}" />
	<t:saveState id="pdsFormStateList" value="#{pendingDocsSupportNotReg.list}" />
		<h:panelGroup>
			<h:panelGrid border="0" columns="18" style="display: vertical-align: middle;">
					<h:outputText value="#{msgs['pendingdocuments.username']}" />
		            <h:inputText dir="ltr" size="20" maxlength="30" id="userName" value="#{pendingDocsSupportNotReg.userName}" 
		            	valueChangeListener="#{pendingDocsSupportNotReg.filterChanged}" immediate="true"/>
					<h:outputText value="#{msgs['pendingdocuments.userid']}" />
		            <h:inputText dir="ltr" size="10" maxlength="15" id="userId" value="#{pendingDocsSupportNotReg.userId}" 
		            	valueChangeListener="#{pendingDocsSupportNotReg.filterChanged}" immediate="true"/>
		            <h:outputText value="#{msgs['pendingdocuments.active']}" />
					<h:selectOneMenu id="isUserActive" value="#{pendingDocsSupportNotReg.isUserActive}" 
						valueChangeListener="#{pendingDocsSupportNotReg.filterChanged}" immediate="true">
					   	<f:selectItem itemValue="-1" itemLabel="All" />
					   	<f:selectItem itemValue="1" itemLabel="Yes" />
					   	<f:selectItem itemValue="0" itemLabel="No" />
					</h:selectOneMenu>
				<h:outputText value="#{msgs['pendingdocuments.last.login']}" />
					<h:selectOneMenu value="#{pendingDocsSupportNotReg.lastLogin}" 
						valueChangeListener="#{pendingDocsSupportNotReg.filterChanged}" immediate="true">
					  	<f:selectItem itemValue="1" itemLabel="3 months and less" />
					   	<f:selectItem itemValue="2" itemLabel="3-6 months" />
					   	<f:selectItem itemValue="3" itemLabel="6 months and more" />
					</h:selectOneMenu>
	    	    	<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
	    	    	<h:selectOneMenu id="skinId" value="#{pendingDocsSupportNotReg.skinId}" size="5">
						<f:selectItems value="#{writer.skinsAndEmptyLongSI}"/>
					</h:selectOneMenu>
					<h:outputText value="#{msgs['pendingdocuments.uploadedDocs']}" />
					<h:selectOneMenu id="uploadedDocs" value="#{pendingDocsSupportNotReg.uploadedDocs}" immediate="true">
					   	<f:selectItem itemValue="0" itemLabel="#{msgs['pendingdocuments.all']}" />
					   	<f:selectItem itemValue="1" itemLabel="#{msgs['pendingdocuments.all.docs']}" />
					   	<f:selectItem itemValue="2" itemLabel="#{msgs['pendingdocuments.all.docs.partial']}" />
					   	<f:selectItem itemValue="3" itemLabel="#{msgs['pendingdocuments.all.docs.none']}" />
					</h:selectOneMenu>
					<h:outputText value="#{msgs['pendingdocuments.blocked']}" />
					<h:selectOneMenu id="isUserBlocked" value="#{pendingDocsSupportNotReg.isUserBlocked}" 
						valueChangeListener="#{pendingDocsSupportNotReg.filterChanged}" immediate="true">
					   	<f:selectItem itemValue="-1" itemLabel="#{msgs['pendingdocuments.all']}" />
					   	<f:selectItem itemValue="1" itemLabel="Yes" />
					   	<f:selectItem itemValue="0" itemLabel="No" />
					</h:selectOneMenu>
					<h:outputLabel for="excludeTesters" value="#{msgs['pendingdocuments.exclude.testers']}"/>
					<t:selectBooleanCheckbox disabled="false" id="excludeTesters" value="#{pendingDocsSupportNotReg.excludeTesters}" />
					<h:outputText value="#{msgs['pendingdocuments.total.deposit.amount']}" />
		            <h:inputText dir="ltr" size="20" maxlength="30" id="totalDepositAmount" value="#{pendingDocsSupportNotReg.totalDepositAmount}" valueChangeListener="#{pendingDocsSupportNotReg.filterChanged}"/>
   					 <t:commandLink action="#{pendingDocsSupportNotReg.reset}">
		                <h:outputText value="#{msgs['pendingdocuments.reset']}" />
				    </t:commandLink> 
					 <t:commandLink action="#{pendingDocsSupportNotReg.search}">
		                <h:outputText value="#{msgs['button.search']}" />
				    </t:commandLink>     
			</h:panelGrid>
			<t:panelGrid  border="0" columns="4" style="display: horizontal-align: center;">
 				<h:commandButton value="first" action="#{pendingDocsSupportNotReg.pageFirst}"
                    disabled="#{pendingDocsSupportNotReg.firstRow == 0}" />
                <h:commandButton value="prev" action="#{pendingDocsSupportNotReg.pagePrevious}"
                    disabled="#{pendingDocsSupportNotReg.firstRow == 0}" />
                <h:commandButton value="next" action="#{pendingDocsSupportNotReg.pageNext}"
                    disabled="#{pendingDocsSupportNotReg.firstRow + pendingDocsSupportNotReg.rowsPerPage >= pendingDocsSupportNotReg.totalRows}" />
                <h:commandButton value="last" action="#{pendingDocsSupportNotReg.pageLast}"
                    disabled="#{pendingDocsSupportNotReg.firstRow + pendingDocsSupportNotReg.rowsPerPage >= pendingDocsSupportNotReg.totalRows}" />
			</t:panelGrid>
			<h:panelGrid border="0" columns="1">
					 <t:dataTable id="data"
						styleClass="scrollerTable"
						headerClass="standardTable_Header"
						footerClass="standardTable_Header"
						rowClasses="standardTable_Row1,standardTable_Row2"
						columnClasses="standardTable_Column,standardTable_ColumnCentered"
						var="v"
						preserveDataModel="false"
						renderedIfEmpty="false"
						cellpadding="0"
						cellspacing="1"
						rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						varDetailToggler="detailToggler"
						value="#{pendingDocsSupportNotReg.list}"
						>
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.issueid']}"/>
								</f:facet>
								<h:outputText value="#{v.issueId}"/>
							</t:column>
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.userid']}"/>
								</f:facet>
								<h:outputText value="#{v.userId}" />
							</t:column>
							<t:column styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.username']}"/>
								</f:facet>
								<t:commandLink action="#{user.selectUserIssues}" >						
									<h:outputText value="#{v.userName}" />
									<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
								    <f:setPropertyActionListener target="#{user.tmpUserId}" value="#{v.userId}" />
								</t:commandLink>
							</t:column>
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.mobile']}"/>
								</f:facet>
								<h:outputText value="#{v.mobilePhone}" />
							</t:column>
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.landline']}"/>
								</f:facet>
								<h:outputText value="#{v.landLinePhone}" />
							</t:column>
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.skin']}"/>
								</f:facet>
								<h:outputText value="#{v.skinName}" />
							</t:column>								
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.documents']}"/>
								</f:facet>
								<h:outputText value="#{v.pendingDocs}" rendered="#{v.pendingDocs>0}" />
								<t:commandLink action="#{pendingDocsSupportNotReg.approve(v)}" rendered="#{v.pendingDocs==0}">
									<h:outputText value="#{msgs['pendingdocuments.moveToControl']}" />
								</t:commandLink>
							</t:column>
							
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									<h:outputText value="#{msgs['pendingdocuments.issue.last.update']}" />
								</f:facet>
								<h:outputText value="#{v.getIssueLastUpdateTxt()}" escape="false"/>								
							</t:column>
							
							<t:column style="color:#{v.color}" styleClass="#{v.hotUser ? 'table_row_yellow' : ''}">
								<f:facet name="header">
									 <t:commandLink style="color:#FFFFFF;" action="#{pendingDocsSupportNotReg.sortList}" >
										<h:outputText value="#{msgs['pendingdocuments.total.deposit.amount']}" />
										<f:setPropertyActionListener target="#{pendingDocsSupportNotReg.sortColumn}" value="totalDepositAmount" />
									 </t:commandLink>
								</f:facet>
								<h:outputText value="#{v.totalDepositAmountTxt}" escape="false"/>								
							</t:column>	
							
					</t:dataTable>
                <h:outputText value="Page #{pendingDocsSupportNotReg.currentPage} / #{pendingDocsSupportNotReg.totalPages}" />
                <br/>
                <h:outputText value="Total records : #{pendingDocsSupportNotReg.totalRows}" />
                
				<t:panelGrid  border="0" columns="2" style="display: horizontal-align: center;">
					<h:outputText value="Go to page :" />   
	                <t:dataList value="#{pendingDocsSupportNotReg.pages}" var="page">
	                    <h:commandLink value="#{page}" actionListener="#{pendingDocsSupportNotReg.page}" style="margin-right: 3px;"
	                        rendered="#{page != pendingDocsSupportNotReg.currentPage}" />
	                   <h:outputText value="#{page}" escape="false" style="margin-right: 3px;"
	                        rendered="#{page == pendingDocsSupportNotReg.currentPage}" />
	                </t:dataList>
				</t:panelGrid>
				
				<t:panelGrid  border="0" columns="4" style="display: horizontal-align: center;">
	                <h:outputLabel for="rowsPerPage" value="#{msgs['pendingdocuments.rowsPerPage']}" />
	                <h:inputText id="rowsPerPage" value="#{pendingDocsSupportNotReg.rowsPerPage}" size="3" maxlength="3" converterMessage="#{msgs['pendingdocuments.rowsPerPage.errorMsg']}" validatorMessage="#{msgs['pendingdocuments.rowsPerPage.errorMsg']}">
		                <f:convertNumber longOnly="true"/>
		                <f:validateLongRange minimum="1" maximum="100"/>
	                </h:inputText>
	                <h:commandButton value="Set" action="#{pendingDocsSupportNotReg.pageFirst}" />
	                <h:message for="rowsPerPage" errorStyle="color: red;" />
				</t:panelGrid>
					
				</h:panelGrid>
		</h:panelGroup>
	</h:form>
</ui:define>
</ui:composition>
</html>