<div class="popUp-content deposit" click-out-popup-cont>
	<ul class="header">
		<li class="tab" ng-click="$ctrl.switchTab(1)" ng-class="{ active: $ctrl.activeTab == 1 }">
			<span>{{::$ctrl._u.getMsg('deposit-by')}}</span>
			<span>
				<i class="cards"></i>
				<i class="cards mastercard"></i>
			</span>
		</li>
		<li class="tab" ng-click="$ctrl.switchTab(2)" ng-class="{ active: $ctrl.activeTab == 2 }">{{::$ctrl._u.getMsg('other-funding-methods')}}</li>
	</ul>
	<div class="body">
		<div ng-if="$ctrl.activeTab == 1">
			<div class="heading">{{::$ctrl._u.getMsg('registration-complete-deposit')}}</div>
			<deposit-cc-form on-deposit="$ctrl.onResolve(data)" on-close="$ctrl.onReject()"></deposit-cc-form>
			<div class="taC"><span class="back-to-page" ng-click="$ctrl.onReject()">{{::$ctrl._u.getMsg('deposit-later')}}</span></div>
		</div>
		<div ng-if="$ctrl.activeTab == 2">
			<deposit-other on-deposit="$ctrl.onResolve(data)" on-close="$ctrl.onReject()"></deposit-other>
			<div class="taC"><span class="back-to-page" ng-click="$ctrl.onReject()">{{::$ctrl._u.getMsg('deposit-later')}}</span></div>
		</div>
	</div>
</div>