<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<ul class="gd_main_ul">
	<li>
		<a name="b_tab1" href="#b_tab1" class="gd_bnk_div" onclick="gd_oc(this,1);">
			<span class="gd_bnk_dr _noHov_ f_20">FAQ</span>
		</a>
		<ul style="display:none;">
			<li>
				<a href="#b_tab1" class="gd_bnk_div2" onclick="gd_oc(this,2);">
					<span class="gd_bnk_dr2 _noHov_ f_20"><h:outputText value="#{msgs['CMS.faq_content.text.h1']}" escape="false"/></span>
				</a>
				<ul class="gd_bnk_div_sub" style="display:none;">
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q1']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a1']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q2']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a2']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q3']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a3']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q4']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a4']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q5']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a5']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q6']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a6']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q7']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a7']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q8']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a8']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.a9']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a9']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q10']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a10']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q11']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB">
									<h:outputText value="#{msgs['CMS.faq_content.text.a11']}" escape="false"/>
									<a href="#{facesContext.externalContext.requestContextPath}/mobile/general_terms.jsf#calc" class="blue_link_11" ><h:outputText value="#{msgs['CMS.faq_content.label.l11']}" escape="false"/></a>.
								</span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q12']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a12']}" escape="false"/>&#160;<h:outputText value="#{msgs['CMS.faq_content.label.l12']}" escape="false"/>.</span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q13']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a13']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q14']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a14']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q15']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a15']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q16']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a16']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q17']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a17']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q18']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB">
									<h:outputText value="#{msgs['CMS.faq_content.text.a18']}" escape="false"/>
									<span onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/general_terms.jsf'" class="general_link_blue_10"><h:outputText value="#{msgs['CMS.faq_content.label.l18']}" escape="false"/></span>.
								</span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q19']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a19']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3 nob" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q20']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB">
									<h:outputText value="#{msgs['CMS.faq_content.text.a20']}" escape="false"/>
									<span class="blue_link" onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/assetIndex.jsf'">#{msgs['menuStrip.asset.index']}</span>.
								</span></span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#b_tab1" class="gd_bnk_div2" onclick="gd_oc(this,2);">
					<span class="gd_bnk_dr2 _noHov_ f_20"><h:outputText value="#{msgs['CMS.faq_content.text.h2']}" escape="false"/></span>
				</a>
				<ul class="gd_bnk_div_sub" style="display:none;">
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q21']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB">
									<h:outputText value="#{msgs['CMS.faq_content.text.a21']}" escape="false"/>
									<span onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking.jsf'" class="blue_link"><h:outputText value="#{msgs['CMS.faq_content.label.l21']}" escape="false"/>.</span>
								</span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q22']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a22']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q23']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a23']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q24']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB">
									<h:outputText value="#{msgs['CMS.faq_content.text.a24']}" escape="false"/>
									<span onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking.jsf'" class="general_link_blue_10"><h:outputText value="#{msgs['CMS.faq_content.label.l24']}" escape="false"/>.</span>
								</span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q25']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a25']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q26']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a26']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q27']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a27']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q28']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a28']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3 nob" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q29']}" escape="false"/></span>
						</a>
						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a29']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#b_tab1" class="gd_bnk_div2" onclick="gd_oc(this,2);">
					<span class="gd_bnk_dr2 _noHov_ f_20"><h:outputText value="#{msgs['CMS.faq_content.text.h3']}" escape="false"/></span>
				</a>
				<ul class="gd_bnk_div_sub" style="display:none;">
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q30']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a30']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q31']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a31']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q32']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB">
									<h:outputText value="#{msgs['CMS.faq_content.text.a32']}" escape="false"/>
									<span class="blue_link" onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/assetIndex.jsf'">
									<h:outputText value="#{msgs['menuStrip.asset.index']}"/></span><h:outputText value="#{msgs['CMS.faq_content.text.a32_2']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
					<li>
						<a href="#b_tab1" class="gd_bnk_div3 nob" onclick="gd_oc(this,3);">
							<span class="gd_bnk_dr3 _noHov_ f_18"><h:outputText value="#{msgs['CMS.faq_content.text.q33']}" escape="false"/></span>
						</a>

						<ul class="gd_bnk_div_sub2" style="display:none;">
							<li class="f_18 gd_mt10 dB">
								<span class="dB show_text oH" style="height:1px;"><span class="dB"><h:outputText value="#{msgs['CMS.faq_content.text.a33']}" escape="false"/></span></span>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<a name="b_tab2" href="#b_tab2" class="gd_bnk_div" onclick="gd_oc(this,1);">
			<span class="gd_bnk_dr gd_p _noHov_ f_20"><h:outputText value="#{msgs['CMS.minisite_footer.contact_us']}" escape="false"/></span>
		</a>
		<ul class="gd_bnk_div_sub gd_taC f_18" style="display:none;">
			<h:outputText value="#{msgs['CMS.minisite_footer.t1']}" escape="false"/>
			
			<a href="#{facesContext.externalContext.requestContextPath}/minisite/ContactMe.jsf" class="gd_p gd_dwn_b gd_mb10"><span class="gd_p rs"><span class="gd_g cs but_h23">
				<h:outputText value="#{msgs['CMS.minisite_footer.speak_with_adviser']}" escape="false"/>
			</span></span></a>
			<center>
				<h:outputText value="#{msgs['CMS.minisite_footer.t2']}" escape="false"/>
			</center>
			
			<a href="tel:#{applicationData.supportPhoneByIp}" class="gd_p gd_dwn_b gd_mb10 gd_mt10"><span class="gd_p rs"><span class="gd_g cs but_h23">
				<h:outputText value="#{msgs['CMS.minisite_footer.call_us']}" escape="false"/>
			</span></span></a>
			<center><h:outputText value="#{contactUsForm.supportTimeTxt}" escape="false"/></center>
			
			<a href="#{facesContext.externalContext.requestContextPath}/minisite/ContactUs.jsf" class="gd_p gd_dwn_b gd_mb10 gd_mt10"><span class="gd_p rs"><span class="gd_g cs but_h23">
				<h:outputText value="#{msgs['CMS.minisite_footer.send_an_email']}" escape="false"/>
			</span></span></a>
		</ul>
	
	</li>
	<li>
		<a name="b_tab3" href="#b_tab3" class="gd_bnk_div" onclick="gd_oc(this,1);">
			<span class="gd_bnk_dr gd_p _noHov_ f_20">
				<h:outputText value="#{msgs['CMS.minisite_footer.about_us']}" escape="false"/>
			</span>
		</a>
		<ul class="gd_bnk_div_sub f_18" style="display:none;">
			<li class="gd_mt10 gd_mb10">
				<span class="dB show_text oH" style="height:1px;"><span class="dB">
					<h:outputText value="#{msgs['CMS.minisite_footer.t3']}" escape="false"/>
					<a href="mailto:support@anyoption.com">support@anyoption.com</a>
				</span></span>
			</li>
		</ul>
	</li>
</ul>
</f:view>