<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:outputText value="#{msgs['CMS.minisite_tab2.t1']}" escape="false"/>
	
	<table border="0" cellpadding="0" cellspacing="0" class="gd_tbl1 f_17">
		<tr> 
			<th>&#160;</th>
			<th><h:outputText value="#{msgs['CMS.minisite_tab2.th2']}" escape="false"/></th>
			<th><h:outputText value="#{msgs['CMS.minisite_tab2.th3']}" escape="false"/></th>
		</tr>
		<tr> 
			<th><h:outputText value="#{msgs['CMS.minisite_tab2.th4']}" escape="false"/></th>
			<td><h:outputText value="#{msgs['CMS.minisite_tab2.th5']}" escape="false"/></td>
			<td><h:outputText value="#{msgs['CMS.minisite_tab2.th6']}" escape="false"/></td>
		</tr>
		<tr> 
			<th><h:outputText value="#{msgs['CMS.minisite_tab2.th7']}" escape="false"/></th>
			<td><h:outputText value="#{msgs['CMS.minisite_tab2.th8']}" escape="false"/></td>
			<td><h:outputText value="#{msgs['CMS.minisite_tab2.th9']}" escape="false"/></td>
		</tr>
		<tr> 
			<th><h:outputText value="#{msgs['CMS.minisite_tab2.th10']}" escape="false"/></th>
			<td><h:outputText value="#{msgs['CMS.minisite_tab2.th11']}" escape="false"/></td>
			<td><h:outputText value="#{msgs['CMS.minisite_tab2.th12']}" escape="false"/></td>
		</tr>
	</table>
</f:view>