<!DOCTYPE html>
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    locale="#{applicationData.userLocale}">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><h:outputText value="#{msgs['anyoption.title']}"/></title>

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<script type="text/javascript" src="link/functions.js"></script>
	<link rel="stylesheet" type="text/css" href="#{applicationData.homePageUrl}/minisite/link/style.css" />
	<script type="text/javascript" src="link/functions.js"></script>
</head>
<body id="body">
	<c:if test="${applicationData.isLive}">
		<ui:include src="/minisite/googleTag.xhtml" />
		<ui:include src="/minisite/google.xhtml" />
	</c:if>
	<div class="gd_bgr"></div>
	<div class="gd_cont" id="gd_cont">
		<ui:insert name="content" />
	</div>
	<script>
		init_js('s');
		gd_fix_m_h('gd_tabs1_h');
	</script>
</body>
</html>
</f:view>