<form class="form" name="_form" novalidate>
	<div class="common-error" ng-if="_form.$error.required.length > 0 && _form.$submitted">
		<span>{{::$ctrl._u.getMsg('error-required')}}</span>
	</div>

	<div class="row">
		<div class="fit-in-one-row deposit-amount-field field-error" set-error-class="_form.amount">
			<div>
				<input class="input" type="tel" name="amount" ng-model="$ctrl.form.amount" smart-placeholder="::$ctrl._u.getMsg('deposit-amount')" required restrict-float server-error/>
				<input-errors field="_form.amount"></input-errors>
			</div>
			<div>
				<div class="pretty-select arrow" ng-if="$ctrl.isFirstDeposit" set-error-class="_form.amount">
					<select id="currencyId" name="currencyId" ng-model="$ctrl.formSelect.curency" ng-options="currency.defaultSymbol for currency in $ctrl.currencies"
						ng-change="$ctrl.updateDefaultDepositAmount(_form)" ng-disabled="!$ctrl.isFirstDeposit" required>
					</select>
					<!-- <single-select name="currencyId" ng-model="$ctrl.formSelect.curency" 
						ng-change="$ctrl.updateDefaultDepositAmount(_form)" ng-disabled="!$ctrl.isFirstDeposit" required>
					</single-select> -->
				</div>
				<span class="sign" ng-if="!$ctrl.isFirstDeposit">{{$ctrl._u.getCurrency().symbol}}</span>
			</div>
		</div>
	</div>
	
	<div class="row field-error" set-error-class="_form.ccNumber">
		<input class="input" type="tel" name="ccNumber" ng-model="$ctrl.form.ccNumber"
		inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number"
		required valid-cc-num format-cc-num server-error 
		smart-placeholder="::$ctrl._u.getMsg('card-number')"/>
		<input-errors field="_form.ccNumber"></input-errors>
	</div>

	<div class="row fit-in-one-row card-holders-name">
		<div class="field-error" set-error-class="_form.firstName">
			<input class="input" type="text" name="firstName" ng-model="$ctrl.form.firstName" 
			autocomplete="cc-given-name" autocompletetype="cc-given-name" x-autocompletetype="cc-given-name" smart-placeholder="::$ctrl._u.getMsg('first-name')"
			required restrict-letters/>
			<input-errors field="_form.firstName"></input-errors>
		</div>
		<div class="field-error" set-error-class="_form.lastName">
			<input class="input" type="text" name="lastName" ng-model="$ctrl.form.lastName" 
			autocomplete="cc-family-name" autocompletetype="cc-family-name" x-autocompletetype="cc-family-name" smart-placeholder="::$ctrl._u.getMsg('last-name')"
			required restrict-letters/>
			<input-errors field="_form.lastName"></input-errors>
		</div>
	</div>

	<div class="row">
		<span class="description">{{::$ctrl._u.getMsg('expiration-date')}}</span>
		<div class="expiration-date">
			<div>
				<div class="pretty-select arrow field-error" set-error-class="_form.expYear">
 					<select name="expMonth" ng-model="$ctrl.form.expMonth" ng-options="number for number in $ctrl._u.Range(1, 12)" required>
						<option value="">{{::$ctrl._u.getMsg('month-short')}}</option>
					</select>
					<!-- <single-select name="expMonth" ng-model="$ctrl.formSelect.expMonth" required></single-select> -->
				</div>
				
				<div class="pretty-select arrow field-error" set-error-class="_form.expYear">
					<!-- <single-select name="expYear" ng-model="$ctrl.formSelect.expYear" required></single-select> -->
 					<select name="expYear" ng-model="$ctrl.form.expYear" ng-options="number for number in $ctrl._u.Range($ctrl.shortYear, $ctrl.shortYearFuture)" 
						required expiry-date="$ctrl.form.expMonth" ng-model-options="{allowInvalid: true}">
						<option value="">{{::$ctrl._u.getMsg('year-short')}}</option>
					</select>
				</div>
				<input-errors field="_form.expYear"></input-errors>
			</div>
			<div class="cvv">
				<div class="field-error" set-error-class="_form.ccPass">
					<input class="input" type="tel" name="ccPass" ng-model="$ctrl.form.ccPass" name="ccPass" 
					required minlength="3" maxlength="3" restrict-digits smart-placeholder="::$ctrl._u.getMsg('cvv')"/>
					<input-errors field="_form.ccPass"></input-errors>
				</div>
				<div class="cvv-holder">
					<i class="cvv-icon"></i>
					<span class="cvv-tooltip">{{::$ctrl._u.getMsg('cvv-description')}}</span>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="$ctrl.isFirstDeposit">
		<div class="row field-error" set-error-class="_form.street">
			<input class="input" type="text" name="street" ng-model="$ctrl.form.street" required smart-placeholder="::$ctrl._u.getMsg('address')"/>
			<input-errors field="_form.street"></input-errors>
		</div>

		<div class="row fit-in-one-row city-field">
			<div class="field-error" set-error-class="_form.cityName">
				<input class="input" type="text" name="cityName" ng-model="$ctrl.form.cityName" required smart-placeholder="::$ctrl._u.getMsg('city')"/>
				<input-errors field="_form.cityName"></input-errors>
			</div>
			<div class="field-error" set-error-class="_form.zipCode">
				<input class="input" type="text" name="zipCode" ng-model="$ctrl.form.zipCode" required smart-placeholder="::$ctrl._u.getMsg('zip')"/>
				<input-errors field="_form.zipCode"></input-errors>
			</div>
		</div>

		<div class="row birth-box">
			<span class="description">{{::$ctrl._u.getMsg('date-of-birth')}}</span>
			<div>
				<div class="fit-in-one-row-3 field-error" set-error-class="_form.birthYearUpdate">
					<div class="pretty-select arrow">
						<select name="birthDayUpdate" ng-model="$ctrl.form.birthDayUpdate" ng-options="number for number in $ctrl._u.Range(1, 31)" required>
							<option value="">{{::$ctrl._u.getMsg('day-short')}}</option>
						</select>
					</div>
					<!-- <single-select name="birthDayUpdate" ng-model="$ctrl.formSelect.birthDayUpdate"></single-select> -->
				</div>

				<div class="fit-in-one-row-3 field-error" set-error-class="_form.birthYearUpdate">
					<div class="pretty-select arrow">
						<select name="birthMonthUpdate" ng-model="$ctrl.form.birthMonthUpdate" ng-options="number for number in $ctrl._u.Range(1, 12)" required>
							<option value="">{{::$ctrl._u.getMsg('month-short')}}</option>
						</select>
					</div>
					<!-- <single-select name="birthMonthUpdate" ng-model="$ctrl.formSelect.birthMonthUpdate"></single-select> -->
				</div>

				<div class="fit-in-one-row-3 field-error" set-error-class="_form.birthYearUpdate">
					<div class="pretty-select arrow">
						<select name="birthYearUpdate" ng-model="$ctrl.form.birthYearUpdate" ng-options="number for number in $ctrl._u.Range($ctrl.yearMinus18, 1912)" 
							required eighteen-plus ep-day="$ctrl.form.birthDayUpdate" ep-month="$ctrl.form.birthMonthUpdate">
							<option value="">{{::$ctrl._u.getMsg('year-short')}}</option>
						</select>
					</div>
					<!-- <single-select name="birthYearUpdate" ng-model="$ctrl.formSelect.birthYearUpdate"></single-select> -->
				</div>
			</div>
			<input-errors field="_form.birthYearUpdate"></input-errors>
		</div>
	</div>
	
	<div class="row taC">
		<button class="button blue" type="submit" ng-class="{ loading: $ctrl.inAction }" ng-click="$ctrl.submit(_form)">
			<span>{{::$ctrl._u.getMsg('deposit')}}</span>
		</button>
	</div>
</form>