<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

    	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
        <h:form id="directDepositForm">

   	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

			<div class="left_align width_100_prc" align="left">

            	<h:outputLabel id="beceNamelabel" styleClass="lable" for="benefiName" value="#{msgs['direct.banking.beneficiary.name']}"/>
				<h:inputText styleClass="input width_100_prc" dir="ltr" id="benefiName" value="#{depositForm.beneficiaryName}" required="true" ></h:inputText>
				<div class="width_100_prc fields_height" >&#160;</div>

				<h:outputLabel id="depositlabelid" styleClass="lable" for="deposit" value="#{msgs['deposit.deposit']}" />
				<h:outputLabel styleClass="lable" value="&#160;#{msgs[user.currency.symbol]}" />
				<br />
				<h:inputText dir="#{writer.localInfo.dir}" styleClass="input width_100_prc" maxlength="9" id="deposit" value="#{depositForm.deposit}" required="true">
		 			<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
		        </h:inputText>
				<div class="width_100_prc fields_height" >&#160;</div>
			</div>
			<t:commandButton label="depositBtn" id="depositBtn" width="50px" height="20px" styleClass="nav_button_blue"
				value="#{msgs['button.do']}" onclick="return myfaces.oam.submitForm('directDepositForm','directDepositForm:hiddenDeposit');" />
			<h:commandLink action="#{depositForm.insertDirectDeposit}" id="hiddenDeposit" style="display:none" >
         		<f:setPropertyActionListener target="#{depositForm.paymentTypeParam}" value="#{paymentType}" />
     		</h:commandLink>
			<br/>
      </h:form>

  	<script>
		displayFirstErrorDiv();
	</script>

</f:view>