<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['newCard.jsf.title']} - #{msgs['header.creditcards']}" />
	</div>
</ui:define>

<ui:define name="content">

<script>

if (window.top.location.href.indexOf("firstNewCard.jsf")==-1) {
		window.top.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/pages/firstNewCard.jsf';
}

</script>

	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<div id="mainDiv" align="center" class="pages_main_div">
        <h:form id="newCardForm">
       	  <h:inputHidden value="#{visit.generate}" />
		  <h:inputHidden value="#{visit.saveToken}" />

		 	<h:outputText styleClass="pages_text_blue" escape="false" value="#{msgs['creditcards.deposit.msg1']}"/><br/>
		 	<h:outputText styleClass="pages_text" escape="false" value="#{msgs['creditcards.deposit.msg2']}"/>
		 	<br/><br/>
			 <div class="left_align width_100_prc" align="left">
	   	     	<ui:include src="/mobile/pages/newCardContent.xhtml"/>
	   	     </div>
		</h:form>
	</div>

	<script>
		displayFirstErrorDiv();
	</script>
	
<ui:include src="/jsp/pages/pixelAfterRegister.xhtml"/>

<h:outputText value="#{user.registrationPixel}" escape="false" />
<h:outputText value="#{user.registrationAffiliatePixel}" escape="false" />
<h:outputText value="#{user.registrationSubAffiliatePixel}" escape="false" />

</ui:define>
</ui:composition>

</html>


