<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
	<script language="JavaScript" >
		function confirmit() {
	
			if (!confirm('#{msgs['menu.retention.background.confirm']}')) {
				return false;
			}
			return true;
		}
	</script>
	<t:saveState id="reroutingCheckSave" value="#{reroutingCheckForm}" />
	<h:form id="reroutingCheckForm" enctype="multipart/form-data">
		<h:panelGrid columns="2">
			<h:outputLabel value="#{msgs['menu.automatic.rerouting.current.parameters']}" escape="false"/>
			<h:outputLabel />
			<h:outputLabel for="parameterXOld" value="#{msgs['menu.automatic.rerouting.check.parameter.x']}"/>
			<h:outputLabel id="parameterXOld" value="#{reroutingCheckForm.currParameterX}"/>
			<h:outputLabel for="parameterYOld" value="#{msgs['menu.automatic.rerouting.check.parameter.y']}"/>
			<h:outputLabel id="parameterYOld" value="#{reroutingCheckForm.currParameterY}"/>
		</h:panelGrid>	
		<h:panelGrid columns="3">
			<h:outputLabel value="#{msgs['menu.automatic.rerouting.check.edit.parameters']}" escape="false"/>
			<h:outputLabel />
			<h:outputLabel />
			<h:outputLabel for="parameterX" value="#{msgs['menu.automatic.rerouting.check.parameter.x']}"/>
			<t:inputText id="parameterX" size="10" styleClass="input_text" value="#{reroutingCheckForm.newParameterX}" />
			<t:commandLink action="#{reroutingCheckForm.updateParameterX}">
	            
	            <h:outputText value="#{msgs['button.save']}" />
	            
			</t:commandLink>
			
			<h:outputLabel for="parameterY" value="#{msgs['menu.automatic.rerouting.check.parameter.y']}"/>
			<t:inputText id="parameterY" size="10" styleClass="input_text" value="#{reroutingCheckForm.newParameterY}" />
			<t:commandLink id="parameterYSubmit" action="#{reroutingCheckForm.updateParameterY}" onclick="if(!confirmit()) return false;">
	            <h:outputText value="#{msgs['button.save']}" />
			</t:commandLink>
		</h:panelGrid>
	</h:form>
</f:view>
