<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:p="http://primefaces.org/ui">
		<ui:composition template="/jsp/templates/prime_template.xhtml">
		
		<ui:define name="content">				
			<h:form id="findRouteForm">		
				<h:panelGrid columns="22">		
					<!--binId-->
					<p:outputLabel for="binId" value="#{msgs['start.bin']}"/>
			        <p:inputText id="binId" size="12" maxlength="6" required="true" dir="ltr" value="#{findRouteForm.startBinId}" >
		          	  	<f:validateRegex pattern="^\d{6}|$" />
			        </p:inputText>
					<!-- skinId -->
			        <p:outputLabel for="skinId" value="#{msgs['general.skin']}" />
			        <p:selectOneMenu id="skinId" value="#{findRouteForm.skinId}" required="true">
			        	<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
			            <f:selectItems value="#{writer.skinsSI}" />
			        </p:selectOneMenu>	        
			        <!--country-->
			        <p:outputLabel for="countryId" value="#{msgs['general.country']}" />
			        <p:selectOneMenu id="countryId" value="#{findRouteForm.countryId}" required="true">
			        	<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
			            <f:selectItems value="#{applicationData.countriesList}" />
			        </p:selectOneMenu>	        
			        <!--currency-->
			        <p:outputLabel for="currency" value="#{msgs['general.currency']}" />
			        <p:selectOneMenu id="currency" value="#{findRouteForm.currencyId}" required="true">
			        	<f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
			            <f:selectItems value="#{writer.currenciesSI}" />
			        </p:selectOneMenu>
					<!--credit card type-->
					<p:outputLabel for="creditCardType" value="#{msgs['general.credit.card.type']}" />
			        <p:selectOneMenu id="creditCardType" value="#{findRouteForm.creditCardTypeId}" required="true">
			            <f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
			            <f:selectItems value="#{applicationData.creditCardTypes}" />
			        </p:selectOneMenu>
					<!--platform-->
					<p:outputLabel for="platformId" value="#{msgs['general.platform']}" />
			        <p:selectOneMenu id="platformId" value="#{findRouteForm.platformId}" required="true">
			            <f:selectItem itemValue="" itemLabel="#{msgs['general.select.search.headline']}" />
			            <f:selectItems itemValue="#{entry.key}" itemLabel="#{entry.value}" value="#{applicationData.platformsMap.entrySet()}" var="entry"/>
			        </p:selectOneMenu>
					<!-- search -->			        
					<p:commandButton value="#{msgs['button.search']}" actionListener="#{findRouteForm.search}" ajax="false"/>
				</h:panelGrid>
				<div style="padding-top:20px;"></div>
				<h:outputText value="#{msgs['find.route.user.interact']}: " style="font-size:15px;"/>			
				<div style="padding-top:20px;"></div>
				<p:dataTable 
			    	value="#{findRouteForm.clearingRoutes}" 
			    	var="item" 		    	
			    	widgetVar="RouteTable"
			        emptyMessage="No Route found with given criteria" 
			        rows="10"
			       	paginator="true"
			       	styleClass="routeFirstRow"
			        paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			        rowsPerPageTemplate="5,10">
			         			 
			        <f:facet name="header">
			            <p:outputPanel>
			                <h:outputText value="First Row is the Winner" />            
			            </p:outputPanel>
			        </f:facet>		
			        <!--Id-->	 
			        <p:column headerText="Clearing Routes Id">
			            <h:outputText value="#{item.id}" />
			        </p:column>	
		         	<!--startBIN-->
			        <p:column headerText="start BIN">
			            <h:outputText value="#{item.startBIN}" />
			        </p:column>	
			        <!--depositClearingProviderId-->
			        <p:column headerText="Deposit Provider (Id)">
			            <h:outputText value="#{findRouteForm.getProviderName(item.depositClearingProviderId)}" />
			        </p:column>	
			        <!--withdrawClearingProviderId-->
			        <p:column headerText="Withdraw Provider (Id)">
			            <h:outputText value="#{findRouteForm.getProviderName(item.withdrawClearingProviderId)}" />
			        </p:column>	
			        <!--CFTClearingProviderId-->
			        <p:column headerText="CFT Provider (Id)">
			            <h:outputText value="#{findRouteForm.getProviderName(item.CFTClearingProviderId)}" />
			        </p:column>	
			        <!--timelastSuccess-->
			        <p:column headerText="Time last Success">
			            <h:outputText value="#{item.timelastSuccess}" />
			        </p:column>	
			        <!--timeLastReroute-->
			        <p:column headerText="Time Last Reroute">
			            <h:outputText value="#{item.timeLastReroute}" />
			        </p:column>	
			         <!--bin Id-->
			        <p:column headerText="Bin Id">
			            <h:outputText value="#{item.binId}" />
			        </p:column>	
			    </p:dataTable>
			</h:form>						           								
		</ui:define>
	</ui:composition>
</html>