
<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>

<f:verbatim>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{"lang": "iw"}
	</script>
</f:verbatim>

<!-- Begin Table -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904" HEIGHT="82">
	<TR>
		<TD WIDTH="904" HEIGHT="82">
			<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904" HEIGHT="82">
				<TR>
					<TD WIDTH="904" HEIGHT="10" id="stopFloating"></TD>
				</TR>
				<TR>
					<TD WIDTH="904" HEIGHT="6" CLASS="footer_red_strip"></TD>
				</TR>
				<TR>
					<TD WIDTH="904" HEIGHT="10"></TD>
				</TR>
				<TR>
					<TD WIDTH="904" HEIGHT="27" bgcolor="EAEAEA">
						<h:panelGroup rendered="#{!applicationData.calcalistGame}">
							<table dir="ltr" align="left">
								<tr>
									<td><a href="" target="_blank" style="cursor: pointer" onClick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ETRADER.CO.IL&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false"><img src="#{facesContext.externalContext.requestContextPath}/images/thawte.gif" alt="#{msgs['footer.thawte']}" width="95" height="27" border="0"/></a></td>
									<td width="50"></td>
									<td><a href="http://www.reuters.com/" target="_blank"><img src="#{facesContext.externalContext.requestContextPath}/images/reuters_new.gif" alt="#{msgs['footer.reuters']}" width="112" height="27" border="0"/></a></td>
									<td width="50"></td>
									<td><img src="#{facesContext.externalContext.requestContextPath}/images/masterCard.gif" alt="#{msgs['footer.cards']}" width="42" height="27" border="0"/></td>
									<td width="50"></td>
									<td><img src="#{facesContext.externalContext.requestContextPath}/images/visa.gif" alt="#{msgs['footer.cards']}" width="42" height="27" border="0"/></td>
									<td width="50"></td>
									<td><img src="#{facesContext.externalContext.requestContextPath}/images/amex.gif" alt="#{msgs['footer.cards']}" width="42" height="27" border="0"/></td>
									<td width="50"></td>
									<td><img src="#{facesContext.externalContext.requestContextPath}/images/isracard.gif" alt="#{msgs['footer.cards']}" width="42" height="27" border="0"/></td>
									<td width="50"></td>
									<td><img src="#{facesContext.externalContext.requestContextPath}/images/18.gif" alt="#{msgs['footer.18']}" width="34" height="34" border="0"/></td>
									<td width="50"></td>
									<td><a href="http://www.facebook.com/israel.etrader" target="_blank"><img src="#{facesContext.externalContext.requestContextPath}/images/facebook-icon.png" title="#{msgs['footer.facebook']}" alt="#{msgs['footer.facebook']}" width="23px" height="22px" border="0"/></a></td>
									<td width="50"></td>
									<td><div id="googlePlusOne"></div></td>
									<td width="5"></td>
							  </tr>
							</table>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.calcalistGame}">
							<table dir="ltr" align="center">
								<tr>
									<td><a href="http://www.reuters.com/" target="_blank"><img src="#{facesContext.externalContext.requestContextPath}/images/reuters.gif" alt="#{msgs['footer.reuters']}" width="73" height="27" border="0"/></a></td>
									<td width="50"></td>
									<td><img src="#{facesContext.externalContext.requestContextPath}/images/18.gif" alt="#{msgs['footer.18']}" width="34" height="34" border="0"/></td>
								</tr>
							</table>
						</h:panelGroup>
					</TD>
				</TR>
				<h:panelGroup rendered="#{!applicationData.calcalistGame}">
					<TR>
						<TD WIDTH="736" HEIGHT="61" colspan="2"><br />
							<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904" HEIGHT="61">
							<TR align="center">
								<TD	width="9"></TD>
								<TD WIDTH="904" HEIGHT="61" VALIGN="MIDDLE">
								  <SPAN>
								  <div class="footer_div_txt" style="font-size:11px;">
								  	<a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf">etrader</a> &#160;
								  	<h:outputText value="#{msgs['footer.1']}" style="font-size:11px;"/>
								  	<a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf"><h:outputText value="#{msgs['footer.2']}"/></a>&#160;
								  	<h:outputText value="#{msgs['footer.3']}" style="font-size:11px;"/>
								  	<a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms.jsf"><h:outputText value="#{msgs['footer.4']}"/></a>&#160;
								  	<a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/he/etrader_agreement.jsf">ובהסכם ההתקשרות</a>&#160;
								  	<h:outputText style="font-size:11px;" value="#{msgs['footer.5']}"/>&#160;
								  	<h:outputText style="font-size:11px;" value="#{msgs['footer.6']}"/>
								  	<a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf"><h:outputText value="#{msgs['footer.7']}"/></a>&#160;
								  	<h:outputText style="font-size:11px;" value="#{msgs['footer.8']}" />
								  	<a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms.jsf#calc"><h:outputText value="#{msgs['footer.9']}"/></a>&#160;
								  	<h:outputText value="#{msgs['footer.10']}" style="font-size:11px;"/>
								  </div>
								  <br/>
								  <div class="footer_div_links" style="font-size:11px;"> etrader 2007 © | <a class="footer_link" style="font-size:11px;" href="mailto:support@etrader.co.il">support@etrader.co.il</a> |  <a class="footer_link" style="font-size:11px;" href="http://www.etrader.co.il">www.etrader.co.il</a> | <a style="font-size:11px;" class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/aboutus.jsf"><h:outputText style="font-size:11px;" value="#{msgs['rightnav.aboutus']}"/></a> | <a style="font-size:11px;" class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/about_options.jsf"><h:outputText style="font-size:11px;" value="#{msgs['rightnav.about_options']}"/></a> |  <a class="footer_link" style="font-size:11px;" href="#{facesContext.externalContext.requestContextPath}/jsp/security.jsf"><h:outputText style="font-size:11px;" value="#{msgs['rightnav.security']}"/></a> | <a style="font-size:11px;" class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/contactus.jsf"><h:outputText style="font-size:11px;" value="#{msgs['rightnav.contact']}"/></a></div>
								  </SPAN>
								</TD>
							</TR>
							</TABLE>
						</TD>
					</TR>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.calcalistGame}">
				<TR align="center">
					<TD WIDTH="736" HEIGHT="61" colspan="2"><br/>
					  <div class="footer_div_txt">
							השערים המוצגים בזירת המסחר הם אלה בהם מוכנה etrader להציע אופציות וייתכנו הבדלים בינם לבין אלה המוצגים במקורות ציטוט אחרים לפרטים על אופן חישוב שערי הפקיעה לחץ <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms.jsf">כאן</a>&#160;
						</div>
						<br/>
						<div class="footer_div_links">
						etrader 2007 © | <a class="footer_link" href="mailto:game@etrader.co.il">game@etrader.co.il</a>
						<h:panelGroup rendered="#{!applicationData.calcalistGame}">
							| <a class="footer_link" href="#{applicationData.rhomePageUrl}jsp/index.jsf">www.etrader.co.il</a>
						</h:panelGroup>
						 | <a class="footer_link" href="mailto:game@etrader.co.il"><h:outputText value="#{msgs['rightnav.contact']}"/></a>
 						 | <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/glossary.jsf"><h:outputText value="#{msgs['rightnav.glossary']}"/></a>
 						 | <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/calcalist_game_agreement.jsf"><h:outputText value="#{msgs['footer.game.terms']}"/></a>
 						 | <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/prizesCalcalistGame.jsf"><h:outputText value="#{msgs['footer.game.awards']}"/></a>
 						 | <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/howToCalcalistGame.jsf"><h:outputText value="#{msgs['footer.game.howTo']}"/></a>
 						 | <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/lastLevelsCal.jsf"><h:outputText value="#{msgs['footer.lastlevels']}"/></a>
						</div>
					</TD>
				</TR>
				</h:panelGroup>
			</TABLE>
		</TD> 
	</TR>
</TABLE>
<!-- #{applicationData.serverPrefixName} -->
<!-- End Table -->

<!-- Google Plus one -->
<script>
	function googlePlusRender()	{
		gapi.plusone.render("googlePlusOne", {"count" : "false" , "size" : "standard"} );
	}

	$(document).ready(function(){googlePlusRender();});
</script>
<!-- Google Code for Etrader account (Client ID: 967-504-8688) -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1066037194;
var google_conversion_label = "lYDKCJbdqQMQyt-p_AM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1066037194/?value=0&amp;label=lYDKCJbdqQMQyt-p_AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<script>
	if (window.navigator.userAgent.match(/Chrome/)) {
		var objects = document.getElementsByTagName('object');
		for (var i = 0, m = objects.length; i &lt; m; i++) {
		    objects[i].style.display = "";
		}
	}
</script>
</f:view>