
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<h:form id="MyAccount">
<BR/>
<h:panelGroup rendered="#{!applicationData.calcalistGame}">
	<TABLE bgcolor="#566767" cellpadding="0" cellspacing="0" height="22px" width="100%">
	<TR>
		<c:set var="class" value=""/>
		<c:if test="${td=='investments'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" valign="middle" class="${class}" WIDTH="75">

		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf"
												target="_top" id="investLink1" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.investments']}"/>
			</h:outputLink>

	    </TD>

		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>

		<c:set var="class" value=""/>
		<c:if test="${td=='transactions'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		<TD ALIGN="CENTER" valign="middle" class="${class}" WIDTH="85px">

			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/transactions.jsf"
												target="_top" id="transtLink" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.transactions']}"/>
			</h:outputLink>

		</TD>

		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>

		<h:panelGroup rendered="#{user.hasBonus}">
			<c:set var="class" value=""/>
			<c:if test="${td=='bonus'}">
				<c:set var="class" value="myaccount_td_active"/>
			</c:if>

			<TD ALIGN="CENTER" valign="middle" class="${class}" WIDTH="40px">

				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/bonus.jsf"
													target="_top" id="bonusLink" styleClass="text_white_12" >
						<h:outputText value="#{msgs['header.bonus']}"/>
				</h:outputLink>

			</TD>

			<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>
		</h:panelGroup>

		<c:set var="class" value=""/>
		<c:if test="${td=='deposit'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" valign="middle" class="${class}" WIDTH="70">
		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.deposit']}"/>
			</h:outputLink>
	    </TD>

		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>

		<c:set var="class" value=""/>
		<c:if test="${td=='cards'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>
		<TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="70">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/cards.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.creditcards']}"/>
			</h:outputLink>
		</TD>

		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>

		<c:set var="class" value=""/>
		<c:if test="${td=='withdraw'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="70">

		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/withdraw_selection.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.withdraw']}"/>
			</h:outputLink>

		</TD>
		<h:panelGroup rendered="#{!user.stopReverseWithdrawOption}">
			<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>
	
			<c:set var="class" value=""/>
			<c:if test="${td=='reversewithdraw'}">
				<c:set var="class" value="myaccount_td_active"/>
			</c:if>
	
			 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="75">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
													target="_top" styleClass="text_white_12" >
						<h:outputText value="#{msgs['header.reversewithdraw']}"/>
				</h:outputLink>
	
			</TD>
		</h:panelGroup>
		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>

		<c:set var="class" value=""/>
		<c:if test="${td=='personal'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="70">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/personal.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.personal']}"/>
			</h:outputLink>

		</TD>

		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>
		<c:set var="class" value=""/>
		<c:if test="${td=='balance'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="40">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/balance.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.balance']}"/>
			</h:outputLink>

		</TD>
		<TD ALIGN="CENTER" ><span class="text_white_12">|</span></TD>

		<c:set var="class" value=""/>
		<c:if test="${td=='changepass'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="60">
			<A HREF="" TARGET="_top" class="text_white_12">
				<h:outputText value="" />
			</A>
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/changePass.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.changepass']}"/>
			</h:outputLink>
		</TD>
	</TR>
	</TABLE>
</h:panelGroup>
<h:panelGroup rendered="#{applicationData.calcalistGame}">
	<TABLE bgcolor="#566767" cellpadding="0" cellspacing="0" height="22px" width="100%">
	<TR>
		<c:set var="class" value=""/>
		<c:if test="${td=='investments'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" valign="middle" class="${class}" WIDTH="75">

		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf"
												target="_top" id="investLink2" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.investments']}"/>
			</h:outputLink>

	    </TD>

		<td width="5px">&#160;</td>

		<c:set var="class" value=""/>
		<c:if test="${td=='personal'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="70">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/personal.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['header.personal']}"/>
			</h:outputLink>

		</TD>

		<td width="5px">&#160;</td>

		<c:set var="class" value=""/>
		<c:if test="${td=='convertMoney'}">
			<c:set var="class" value="myaccount_td_active"/>
		</c:if>

		 <TD ALIGN="CENTER" class="${class}" valign="middle" WIDTH="65">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/calc_convertMoney.jsf"
												target="_top" styleClass="text_white_12" >
					<h:outputText value="#{msgs['calcalist.header.convertMoney']}"/>
			</h:outputLink>

		</TD>

		<td width="*">&#160;</td>
	</TR>
	</TABLE>
</h:panelGroup>
</h:form>

</f:view>