<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<f:view dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<!-- Begin Table -->
		<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js?new=cvsVersionParam"></script>
<script>
	var flag = 0;
	function startOptionPlus() {
		if (window.top.location.href.indexOf("https") &gt; -1) {
			window.top.location.href = "#{applicationData.homePageUrl}jsp/index.jsf?tickBoxMarketId=" + 552;
		} else {
			window.top.runThickBox(552, 0, 3);
		}
	}
</script>

<h:panelGroup rendered="#{!applicationData.calcalistGame}">
	<TABLE BORDER="0"  VALIGN="TOP" ALIGN="CENTER" CELLPADDING="0" CELLSPACING="0" WIDTH="164">
	   <TR>
			<TD height="18" style="font-size: 1px;">
				&#160;
			</TD>
	    </TR>
	   <TR>
			<TD>
			   <table border="0" cellpadding="0" cellspacing="1" height="216" class="rightnav_menu_table">
							<tr>
								<td width="164" height="24" colspan="3" class="rightnav_menu_header">
									<h:outputText value="#{msgs['rightnav.trading']}" />
								</td>
							</tr>
							<tr >
								<td width="8"></td>
								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='indices'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 1; </script>
								</c:if>
								<td width="88" >
									<IMG style="visibility:hidden;" id="bulletImage1" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/indices.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage1').style.visibility='visible';"
										onmouseout="if(flag!=1) { document.getElementById('bulletImage1').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.indexes']}" />
									</a>
									<c:if test="${selected=='indices'}">
										<script>
											document.getElementById('bulletImage1').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr >
								<td width="8"></td>
								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='stocks'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 2; </script>
								</c:if>
								<td width="105">
									<IMG style="visibility:hidden;" id="bulletImage2" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/stocks.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage2').style.visibility='visible';"
										onmouseout="if(flag!=2) { document.getElementById('bulletImage2').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.stocks']}" />
									</a>
									<c:if test="${selected=='stocks'}">
										<script>
											document.getElementById('bulletImage2').style.visibility='visible';
										</script>
									</c:if>
								</td>
			 					<td width="40"></td>
							</tr>
							<tr >
								<td width="8"></td>
								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='currencies'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 3; </script>
								</c:if>
								<td width="88">
									<IMG style="visibility:hidden;" id="bulletImage3" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
										<a href="#{facesContext.externalContext.requestContextPath}/jsp/currencies.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage3').style.visibility='visible';"
										onmouseout="if(flag!=3) { document.getElementById('bulletImage3').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.currencies']}" />
									</a>
									<c:if test="${selected=='currencies'}">
										<script>
											document.getElementById('bulletImage3').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>

								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='commodities'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 4; </script>
								</c:if>
								<td width="88">
									<IMG style="visibility:hidden;" id="bulletImage4" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/commodities.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage4').style.visibility='visible';"
										onmouseout="if(flag!=4) { document.getElementById('bulletImage4').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.commodities']}" />
									</a>
									<c:if test="${selected=='commodities'}">
										<script>
											document.getElementById('bulletImage4').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>

								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='foreignstocks'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 5; </script>
								</c:if>
								<td width="105">
									<IMG style="visibility:hidden;" id="bulletImage5" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/foreignstocks.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage5').style.visibility='visible';"
										onmouseout="if(flag!=5) { document.getElementById('bulletImage5').style.visibility='hidden'; }" >
										<h:outputText  value="#{msgs['rightnav.foreignstocks']}" />
									</a>
									<c:if test="${selected=='foreignstocks'}">
										<script>
											document.getElementById('bulletImage5').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>

								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='oneTouch'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 15; </script>
								</c:if>
								<td width="118">
									<IMG style="visibility:hidden;" id="bulletImage15" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouch.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage15').style.visibility='visible';"
										onmouseout="if(flag!=15) { document.getElementById('bulletImage15').style.visibility='hidden'; }" >
										<h:outputText  value="#{msgs['rightnav.one.touch']}" />
									</a>
									<c:if test="${selected=='oneTouch'}">
										<script>
											document.getElementById('bulletImage15').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>							
							<tr>
								<td width="8"></td>

								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='optionsPlus'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 17; </script>
								</c:if>
								<td width="118">
									<IMG style="visibility:hidden;" id="bulletImage17" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/optionPlus.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage17').style.visibility='visible';"
										onmouseout="if(flag!=17) { document.getElementById('bulletImage17').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.option.pluse']}" />
									</a>
									<c:if test="${selected=='optionsPlus'}">
										<script>
											document.getElementById('bulletImage17').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>

								<c:set var="class" value="link_red_12"/>
								<c:if test="${selected=='binary0100'}">
									<c:set var="class" value="link_red_12"/>
									<script> flag = 18; </script>
								</c:if>
								<td width="118">
									<IMG style="visibility:hidden;" id="bulletImage18" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/binary0100.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage18').style.visibility='visible';"
										onmouseout="if(flag!=15) { document.getElementById('bulletImage18').style.visibility='hidden'; }" >
										<h:outputText  value="#{msgs['rightnav.binary0100']}" />
									</a>
									<c:if test="${selected=='binary0100'}">
										<script>
											document.getElementById('bulletImage18').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>	
						</table>
			</TD>
	    </TR>
	   <TR>
			<td colspan="3" height="6"></td>
	   </TR>
	   <TR VALIGN="bottom">
			<TD>
			   <table border="0" cellpadding="0" cellspacing="1" class="rightnav_menu_table" height="234">
					<tr>
						<td width="164" height="24" colspan="3" class="rightnav_menu_header">
								<h:outputText value="#{msgs['right.nav.investments.info.header']}" />
						</td>
					</tr>
                    <TR>
 	 					<td width="8"></td>
	  						<c:set var="class" value="rightnav_item_red"/>
								<c:if test="${selected=='profit'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 13; </script>
								</c:if>
						<td width="83">
					   		 <IMG style="visibility:hidden;" id="bulletImage12" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							 <A HREF="#{facesContext.externalContext.requestContextPath}/jsp/profitline.jsf" class="${class}"
						 	   onmouseover="document.getElementById('bulletImage12').style.visibility='visible';"
								onmouseout="if(flag!=13) { document.getElementById('bulletImage12').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['right.nav.new.in.site']}" />
							</A>
					  		  <c:if test="${selected=='profit'}">
								<script>
								document.getElementById('bulletImage12').style.visibility='visible';
							    </script>
	 			   			  </c:if>
						 </td>
						<td width="40"></td>
					</TR>

					<c:if test='${empty sessionScope.user}'>
					<TR>
							<td width="8"></td>
							<td width="93">
								<IMG style="visibility:hidden;" id="bulletImage6" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
								<A id="tourParent" class="rightnav_item" style="cursor:pointer;" onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/tour.jsf','www');"
									    onmouseover="document.getElementById('bulletImage6').style.visibility='visible';"
										onmouseout="document.getElementById('bulletImage6').style.visibility='hidden';" >
										<h:outputText value="#{msgs['rightnav.tour']}" /></A>&#160;&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/icon_video.gif"/>
							</td>
							<td width="40"></td>
					</TR>
					</c:if>
					<TR>
						<td width="8"></td>

						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='androidApplication'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 19; </script>
						</c:if>

						 <td width="120">
							<IMG style="visibility:hidden;" id="bulletImage19" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/new_app_page.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage19').style.visibility='visible';"
								onmouseout="if(flag!=19) { document.getElementById('bulletImage19').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.androidApplication']}" />
						   </A>
					  		<c:if test="${selected=='androidApplication'}">
								<script>
									document.getElementById('bulletImage19').style.visibility='visible';
								</script>
					   		</c:if>
						</td>
					  	<td width="40"></td>
					</TR>

					<TR>
						<td width="8"></td>

						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='depositandwithdraw'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 7; </script>
						</c:if>

						 <td width="105">
							<IMG style="visibility:hidden;" id="bulletImage7" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/depositandwithdraw.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage7').style.visibility='visible';"
								onmouseout="if(flag!=7) { document.getElementById('bulletImage7').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.deposit.withdraw']}" />
						   </A>
					  		<c:if test="${selected=='depositandwithdraw'}">
								<script>
									document.getElementById('bulletImage7').style.visibility='visible';
								</script>
					   		</c:if>
						</td>
					  	<td width="40"></td>
					</TR>
					<TR>
						<td width="8"></td>

						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='lastLevels'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 8; </script>
						</c:if>
						<td width="125">
						    <IMG style="visibility:hidden;" id="bulletImage8" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/lastLevels.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage8').style.visibility='visible';"
								onmouseout="if(flag!=8) { document.getElementById('bulletImage8').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.lastlevels']}" />
							</A>
						    <c:if test="${selected=='lastLevels'}">
								<script>
									document.getElementById('bulletImage8').style.visibility='visible';
								</script>
						   	</c:if>
						</td>
						<td width="40"></td>
					</TR>
					<TR>
						<td width="8"></td>

						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='faq'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 10; </script>
						</c:if>
						<td width="90">
						    <IMG style="visibility:hidden;" id="bulletImage10" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/faq.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage10').style.visibility='visible';"
								onmouseout="if(flag!=10) { document.getElementById('bulletImage10').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.faq']}" />
							</A>
						    <c:if test="${selected=='faq'}">
								<script>
									document.getElementById('bulletImage10').style.visibility='visible';
								</script>
						   	</c:if>
						</td>
						<td width="40"></td>
					</TR>
					<TR>
						<td width="8"></td>

						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='glossary'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 11; </script>
						</c:if>

						<td width="83">
						    <IMG style="visibility:hidden;" id="bulletImage11" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/glossary.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage11').style.visibility='visible';"
								onmouseout="if(flag!=11) { document.getElementById('bulletImage11').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.glossary']}" />
							</A>
						    <c:if test="${selected=='glossary'}">
								<script>
									document.getElementById('bulletImage11').style.visibility='visible';
								</script>
						   	</c:if>
						</td>
						<td width="40"></td>
					</TR>
					<TR>
						<td width="8"></td>
						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='general_terms'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 16; </script>
						</c:if>
						<td width="93">
						    <IMG style="visibility:hidden;" id="bulletImage16" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/general_terms.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage16').style.visibility='visible';"
								onmouseout="if(flag!=16) { document.getElementById('bulletImage16').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.generalterms']}" />
							</A>
						    <c:if test="${selected=='general_terms'}">
								<script>
									document.getElementById('bulletImage16').style.visibility='visible';
								</script>
						   	</c:if>
						</td>
						<td width="40"></td>
					</TR>
					<TR>
						<td width="8"></td>
						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='press'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 14; </script>
						</c:if>
						<td width="83">
						    <IMG style="visibility:hidden;" id="bulletImage14" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/press.jsf" class="${class}"
							    onmouseover="document.getElementById('bulletImage14').style.visibility='visible';"
								onmouseout="if(flag!=14) { document.getElementById('bulletImage14').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.press']}" />
							</A>
						    <c:if test="${selected=='press'}">
									<script>
										document.getElementById('bulletImage14').style.visibility='visible';
									</script>
						   					</c:if>
						</td>
						<td width="40"></td>
					</TR>
					<TR>
						<td width="8"></td>
						<c:set var="class" value="rightnav_item"/>
						<c:if test="${selected=='pressAndArticals'}">
							<c:set var="class" value="rightnav_item_active"/>
							<script> flag = 14; </script>
						</c:if>
						<td width="83">
						    <IMG style="visibility:hidden;" id="bulletImage20" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
							<A HREF="http://blog.etrader.co.il" class="${class}" target="_blank"
							    onmouseover="document.getElementById('bulletImage20').style.visibility='visible';"
								onmouseout="if(flag!=14) { document.getElementById('bulletImage20').style.visibility='hidden'; }" >
								<h:outputText value="#{msgs['rightnav.news.and.articles']}" />
							</A>
						    <c:if test="${selected=='pressAndArticals'}">
									<script>
										document.getElementById('bulletImage20').style.visibility='visible';
									</script>
						   					</c:if>
						</td>
						<td width="40"></td>
					</TR>
					<TR>
						<c:if test='${!empty sessionScope.user}'>
							<td width="8">
							</td>
							<td width="93">
								<IMG style="visibility:hidden;" id="bulletImage6" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
								<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/tour.jsf" target="_blank" class="rightnav_item"
										onmouseover="document.getElementById('bulletImage6').style.visibility='visible';"
										onmouseout="document.getElementById('bulletImage6').style.visibility='hidden';" >
								<h:outputText value="#{msgs['rightnav.tour']}" /></A>&#160;&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/icon_video.gif"/>
							</td>
							<td width="40"></td>
						</c:if>
					</TR>
					<TR>
							<td width="8"></td>
							<td width="113">

							</td>
							<td width="20"></td>
					</TR>
			   </table>
			</TD>
		</TR>
	</TABLE>
</h:panelGroup>
<h:panelGroup rendered="#{applicationData.calcalistGame}">

	<TABLE BORDER="0"  VALIGN="TOP" ALIGN="CENTER" HEIGHT="474" CELLPADDING="0" CELLSPACING="0" WIDTH="164">
	   <h:panelGroup rendered="#{applicationData.gameStarted &amp;&amp; !applicationData.gameEnded}">
		    <TR>
				<TD height="18" style="font-size: 1px;">
					&#160;
				</TD>
		    </TR>
		    <TR>
				<TD>
				   <table border="0" cellpadding="0" cellspacing="1" height="150" class="rightnav_menu_table">
							<tr>
								<td width="164" height="24" colspan="3" class="rightnav_menu_header">
									<h:outputText value="#{msgs['rightnav.trading']}" />
								</td>
							</tr>
							<tr >
								<td width="8"></td>
								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='indices'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 1; </script>
								</c:if>
								<td width="88" >
									<IMG style="visibility:hidden;" id="bulletImage1" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/indices.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage1').style.visibility='visible';"
										onmouseout="if(flag!=1) { document.getElementById('bulletImage1').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.indexes']}" />
									</a>
									<c:if test="${selected=='indices'}">
										<script>
											document.getElementById('bulletImage1').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>

								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='stocks'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 2; </script>
								</c:if>
								<td width="105">
									<IMG style="visibility:hidden;" id="bulletImage2" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/stocks.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage2').style.visibility='visible';"
										onmouseout="if(flag!=2) { document.getElementById('bulletImage2').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.stocks']}" />
									</a>
									<c:if test="${selected=='stocks'}">
										<script>
											document.getElementById('bulletImage2').style.visibility='visible';
										</script>
									</c:if>
								</td>
			 					<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>
								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='currencies'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 3; </script>
								</c:if>
								<td width="88">
									<IMG style="visibility:hidden;" id="bulletImage3" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>

										<a href="#{facesContext.externalContext.requestContextPath}/jsp/currencies.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage3').style.visibility='visible';"
										onmouseout="if(flag!=3) { document.getElementById('bulletImage3').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.currencies']}" />
									</a>
									<c:if test="${selected=='currencies'}">
										<script>
											document.getElementById('bulletImage3').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>
								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='commodities'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 4; </script>
								</c:if>
								<td width="88">
									<IMG style="visibility:hidden;" id="bulletImage4" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/commodities.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage4').style.visibility='visible';"
										onmouseout="if(flag!=4) { document.getElementById('bulletImage4').style.visibility='hidden'; }" >
										<h:outputText value="#{msgs['rightnav.commodities']}" />
									</a>
									<c:if test="${selected=='commodities'}">
										<script>
											document.getElementById('bulletImage4').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
							<tr>
								<td width="8"></td>

								<c:set var="class" value="rightnav_item"/>
								<c:if test="${selected=='foreignstocks'}">
									<c:set var="class" value="rightnav_item_active"/>
									<script> flag = 5; </script>
								</c:if>

								<td width="105">
									<IMG style="visibility:hidden;" id="bulletImage5" SRC="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
									<a href="#{facesContext.externalContext.requestContextPath}/jsp/foreignstocks.jsf" target="_parent" class="${class}"
										onmouseover="document.getElementById('bulletImage5').style.visibility='visible';"
										onmouseout="if(flag!=5) { document.getElementById('bulletImage5').style.visibility='hidden'; }" >
										<h:outputText  value="#{msgs['rightnav.foreignstocks']}" />
									</a>
									<c:if test="${selected=='foreignstocks'}">
										<script>
											document.getElementById('bulletImage5').style.visibility='visible';
										</script>
									</c:if>
								</td>
								<td width="40"></td>
							</tr>
					</table>
				</TD>
		    </TR>
		   <TR>
				<td colspan="3" height="6"></td>
		   </TR>
		   <TR>
				<TD>
				   <table border="0" cellpadding="0" cellspacing="1" class="rightnav_menu_table" height="147px">
						<tr>
							<td width="164" height="24" colspan="3" class="rightnav_menu_header_calcalist">
									<h:outputText value="#{msgs['right.nav.calcalist.rank.month']}" />
							</td>
						</tr>
						<tr height="96px">
							<td  width="164" height="90">
								<iframe id="rankingF" name="rankingF" src="#{facesContext.externalContext.requestContextPath}/jsp/right_side_game_ranking.jsf?period=monthly" frameborder="no" height="119" width="160" scrolling="no"></iframe>
							</td>
						</tr>
				   </table>
				</TD>
			</TR>
		   <TR>
				<td colspan="3" height="6"></td>
		   </TR>
		   <TR>
				<TD>
				   <table border="0" cellpadding="0" cellspacing="1" class="rightnav_menu_table" height="147px">
						<tr>
							<td width="164" height="24" colspan="3" class="rightnav_menu_header_calcalist">
									<h:outputText value="#{msgs['right.nav.calcalist.rank.week']}" />
							</td>
						</tr>
						<tr height="96px">
							<td  width="164" height="90">
								<iframe id="rankingF" name="rankingF" src="#{facesContext.externalContext.requestContextPath}/jsp/right_side_game_ranking.jsf?period=weekly" frameborder="no" height="119" width="160" scrolling="no"></iframe>
							</td>
						</tr>
				   </table>
				</TD>
			</TR>
	   </h:panelGroup>
	   <h:panelGroup rendered="#{applicationData.gameStarted &amp;&amp; applicationData.gameEnded}">
	   		<tr>
				<td height="457px" valign="bottom"><a target="_top" href="#{applicationData.rhomePageUrl}jsp/index.jsf" ><img src="#{facesContext.externalContext.requestContextPath}/images/cal_endGameRightBanner.gif" alt="" width="164px" height="457px" border="0" /></a></td>
			</tr>
	   </h:panelGroup>

	   <h:panelGroup rendered="#{!applicationData.gameStarted}">
	   		<c:if test="${selected!='calcReg'}">
				<tr>
					<td height="18px">

					</td>
				</tr>
				<tr>
					<td height="136px">
						<a href="#{facesContext.externalContext.requestContextPath}/jsp/prizesCalcalistGame.jsf" ><img src="#{facesContext.externalContext.requestContextPath}/images/first_prize.gif" alt="" width="164" height="136" border="0" /></a>
					</td>
				</tr>
				<tr>
					<td height="5px">

					</td>
				</tr>

				<tr>
					<td>
						<script type="text/javascript"> calHomepageBanner('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}');</script>
					</td>
				</tr>
			</c:if>
			<c:if test="${selected=='calcReg'}">
				<tr>
					<td>
						<script type="text/javascript"> calRegisterBanner('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}');</script>
					</td>
				</tr>
			</c:if>
  	  </h:panelGroup>
	</TABLE>

</h:panelGroup>

<!-- End Table -->

</f:view>