
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	 <f:facet name="first" >
	 	 <t:graphicImage rendered="#{pageIndex>1}" url="/images/arrow-first.gif" style="border: none"/>
     </f:facet>

    <f:facet name="fastrewind">
    	<t:graphicImage rendered="#{pageIndex>1}" url="/images/arrow-fr.gif" style="border: none"/>
    </f:facet>

     <f:facet name="next">
        <t:graphicImage rendered="#{pageIndex &lt; pageCount}" url="/images/arrow-next.gif" style="border: none" />
    </f:facet>
    <f:facet name="previous">
        <t:graphicImage rendered="#{pageIndex>1}" url="/images/arrow-previous.gif" style="border: none"/>
    </f:facet>

    <f:facet name="fastforward">
        <t:graphicImage rendered="#{pageIndex &lt; pageCount}" url="/images/arrow-ff.gif" style="border: none"/>
    </f:facet>

    <f:facet name="last">
                <t:graphicImage rendered="#{pageIndex &lt; pageCount}" url="/images/arrow-last.gif" style="border: none" />
    </f:facet>

</f:view>