
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
	<title><ui:insert name="windowtitle" /></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<c:set var="metaKey" value="#{msgs['etrader.keywords']}" /> <!-- default -->
    <ui:insert name="metaKeywords"></ui:insert>
    <c:set var="metaDesc" value="#{msgs['etrader.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <META NAME="keywords" content="${metaKey}" />
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <ui:include src="/jsp/head_css_js.xhtml" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<ui:insert name="hint" />
	<ui:insert name="calendar" />
	<ui:insert name="inputsuggest" />
	<ui:insert name="dbCheck"/>
	<ui:insert name="canonicalTag" />
	<script>
		function onLoadFunction() { //check movie cookies and start option plus if needed
			checkMovieCookie();
			var OPMarketId = null;
			<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
				OPMarketId = #{facesContext.externalContext.requestParameterMap['tickBoxMarketId']};
			</h:panelGroup>
			if (null != OPMarketId) {
				runThickBox(OPMarketId, 0, 3);
			}
		}

		function checkCampaign() {
			var locV = window.location.href;
			if (locV.indexOf("utm_campaign=312") > -1 ||
					locV.indexOf("utm_campaign=209") > -1 ||
					locV.indexOf("utm_campaign=135") > -1 ||
					locV.indexOf("utm_campaign=152") > -1 ||
					locV.indexOf("utm_campaign=649") > -1 ) {
				return true;
			}

			return false;
		}
	</script>

</HEAD>
<BODY DIR="RTL" onload="onLoadFunction()">
<ui:insert name="selected" />
<f:view id="templatetradepage">
<ui:insert name="cookie" />

 
 		<script>
 			var tradingPage = true;
 			var isCalcalist = #{applicationData.calcalistGame};
			var checkFirstTimeVisit = #{applicationData.firstTimeVisit &amp;&amp; applicationData.showMovie &amp;&amp; !applicationData.calcalistGame &amp;&amp; applicationData.combinationId != '2201' };
			checkFirstTimeVisit = (checkFirstTimeVisit || checkCampaign());
 			var showMovie = checkFirstTimeVisit;
			var isCalcalistAndGameEnded = #{applicationData.gameStarted &amp;&amp; applicationData.calcalistGame &amp;&amp; applicationData.gameEnded};
			// Calcalist landing page
			var firstCalc = #{applicationData.firstTimeVisit &amp;&amp; applicationData.showMovie &amp;&amp; applicationData.calcalistGame};
			if (firstCalc) {
				window.location.href = "#{applicationData.homePageUrl}jsp/landingCalcalistGame.jsf";
			}


 			var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
 			var skinIdTxt = #{applicationData.skinIdTxt};
 			document.domain = "#{applicationData.domainUrl}";
			var slipCount = #{slipForm.slipSize};
			var bundle_msg_slipfull = "#{msgs['error.investment.slipfull']}";
			var bundle_msg_intheslip = "#{msgs['error.investment.intheslip']}";
			var bundle_msg_today = "#{msgs['investment.time.today']} ";
			var context_path = "#{facesContext.externalContext.requestContextPath}";
			var updatesFrequencyFlag = #{slipForm.loggedIn};
			var updatesFrequencyIn = #{slipForm.updateFrequencyLoggedIn};
			var updatesFrequencyNotIn = #{slipForm.updateFrequencyNotLoggedIn};
			var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
			var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
			var bundle_msg_slipExpired = "#{msgs['error.investment.expired']}";
			var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
			var bundle_msg_waiting = "#{msgs['investment.will.expiry.msg']}";
			var bundle_msg_waiting_end = "#{msgs['investment.will.expiry.msg.end']}";
			var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
			var refreshMyInvestments = true;
			var marketsWithoutLongTerm = #{applicationData.marketsWithoutLongTermBySkinId};



 		</script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/detect_timezone.js" type="text/javascript"></script>
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints1.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js?new=cvsVersionParam"></script>
		<ui:insert name="script"></ui:insert>
		<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/floating.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/flashRequestPath.js" type="text/javascript"></script>

<!-- Begin Table -->
<TABLE BORDER="0"  VALIGN="TOP" ALIGN="CENTER" CELLPADDING="0" CELLSPACING="0" WIDTH="904">
	<h:panelGroup rendered="#{!applicationData.calcalistGame}">
	    <!--
	    <tr>
	    	<td width="904" height="37"><img src="#{facesContext.externalContext.requestContextPath}/images/Banner-Etrader-24x7-3-a.png" border="0" width="904" height="37" /></td>
	    </tr>
	     -->
	    <tr>
	    	<td width="904" height="37"><a href="#{facesContext.externalContext.requestContextPath}/jsp/binary0100.jsf" target="_top"><img src="#{facesContext.externalContext.requestContextPath}/images/etrader_0-100_top-banner.gif" border="0" width="904" height="37" /></a></td>
	    </tr>
    </h:panelGroup>
    <TR>
	<TD WIDTH="904" HEIGHT="45" valign="top">
		<iframe id="header" name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/templates/header_loggedin.jsf?refresh=true" width="904" height="45" scrolling="no" ></iframe>
	</TD>
	</TR>
 	<h:panelGroup rendered="#{!applicationData.calcalistGame}">
		<TR>
		<TD WIDTH="904" HEIGHT="54">
			<TABLE DIR="LTR" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904" HEIGHT="54">
				<TR>
					<TD WIDTH="20" HEIGHT="54" valign="top">&#160;</TD>
					<TD WIDTH="192" HEIGHT="54" valign="top">
						<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf" TARGET="_top" >
							<IMG NAME="etrader" SRC="#{facesContext.externalContext.requestContextPath}/images/etrader.gif" WIDTH="192" HEIGHT="54" BORDER="0" />
						</A>
					</TD>
					<TD WIDTH="22" HEIGHT="54" valign="top" >&#160;</TD>
					<TD WIDTH="5" HEIGHT="54">
						<IMG NAME="header_line" SRC="#{facesContext.externalContext.requestContextPath}/images/header_line.gif" WIDTH="5" HEIGHT="52" BORDER="0"/></TD>
					<TD id="messageTd" WIDTH="494" HEIGHT="54" ALIGN="CENTER" >
						<BR></BR>
						<h1 dir="rtl"><ui:insert name="header" /></h1>
					</TD>
					<TD WIDTH="5" HEIGHT="54">
						<IMG NAME="header_line" SRC="#{facesContext.externalContext.requestContextPath}/images/header_line.gif" WIDTH="5" HEIGHT="52" BORDER="0"/></TD>
					<TD WIDTH="174" HEIGHT="54" valign="top" align="center">
						<ui:include src="/jsp/templates/clock.xhtml" />
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	</h:panelGroup>
  	<h:panelGroup rendered="#{applicationData.calcalistGame}">
		<TR>
			<TD WIDTH="904" HEIGHT="54">
				<script>
					// take needed js from clock page
					var offsetTmp = sessionUtcOffset.substr(3, sessionUtcOffset.length-3);
					var utcOffsetHour = new Number(offsetTmp.split(":")[0]);
					var utcOffsetMin = new Number(offsetTmp.split(":")[1]);
					var sessionUtcOffset = (-1) * ( (utcOffsetHour * 60) + utcOffsetMin);
					var offset = (-1) * sessionUtcOffset * 60 * 1000;  // in milis
				</script>
				<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf" TARGET="_top">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calcalist_header.jpg" width="902px" height="78px" border="0"/>
				</A>
			</TD>
		</TR>
  	</h:panelGroup>

    <TR>
	<TD WIDTH="904">
	    <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904">
		<TR>
		    <TD WIDTH="168" valign="top" style="padding: 0px 0px 0px 11px;">
				<ui:include src="/jsp/templates/right_nav.xhtml" />
		    </TD>
		    <TD  WIDTH="729" VALIGN="top">
			<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="729">
			    <TR>
				<TD WIDTH="729" VALIGN="top">
				   			<!-- BEGIN MAIN -->
								   <TABLE BORDER="0" ALIGN="RIGHT" CELLPADDING="0" CELLSPACING="0">
								    <TR height="18">
						            <TD colspan="2" width="494" height="18" style="font-size: 14px;">
										<ui:insert name="message"></ui:insert>
						            </TD>
						            <td width="235" class="floatingLeft">
						            </td>
								    </TR>

								      <TR>
								        <TD colspan="3" width="729" height="335" valign="top">
		<table cellspacing="0" cellpadding="0" border="0" width="729">
			<tr>
				<td valign="top" width="494" align="center">
					<span id="movie" style="display:none;">
						<script>
							home_page_movie('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}');
						</script>
					</span>
					<span id="markets_table" style="display: none;" >

					<div>
					<table class="site_table" width="494" cellpadding="0" cellspacing="1">
						<tr>
							<td>
								<table id="oppsTable" cellspacing="0" cellpadding="0" border="0" width="490" style="font-size: 1px;">
									<tr class="invest_header" >
										<td rowspan="1" colspan="1" width="145px" height="23"><ui:insert name="market"></ui:insert></td>
										<td rowspan="1" colspan="1" width="75px" height="23"><h:outputText value="#{msgs['investment.header.level']}" /></td>
										<td rowspan="1" colspan="1" width="73px" height="23"><h:outputText value="#{msgs['investment.header.odds']}" /></td>
										<td rowspan="1" colspan="1" width="107px" height="23"><ui:insert name="close"></ui:insert></td>
										<td rowspan="1" colspan="1" width="90px" height="23"><img src="#{facesContext.externalContext.requestContextPath}/images/bell_anim.gif" alt="" width="49" height="19" border="0" /></td>
									</tr>
									<tr class="line_invest">
										<td colspan="5" class="invest_asset"><img src="#{facesContext.externalContext.requestContextPath}/images/p_w.gif" alt="" border="0" /></td>
									</tr>
									<tr class="line_invest" style="display: none;">
										<td colspan="5" class="invest_odds"><h:outputText value="#{msgs['investment.emptyfilter']}" /></td>
									</tr>
									<tr source="lightstreamer" id="opps" class="line_invest">
										<td width="490px" colspan="5">
											<table width="490px" border="0" cellpadding="0" cellspacing="0">
												<tr class="bottom_border">
													<td class="invest_asset" width="145px"><img onclick="openChart(this);" width="28" height="14" style="padding-right: 10px;cursor: pointer;" valign="bottom" align="right" src="#{facesContext.externalContext.requestContextPath}/images/chart_closed.gif" alt="" border="0"/><div source="lightstreamer" field="27" class="invest_asset_name" ></div></td> <!-- 1 market name and chart icon -->
													<td class="line_invest" width="75px"> <!-- 2 call level put -->
														<table width="75px" border="0" cellpadding="0" cellspacing="0" class="no-bottom-border">
															<tr height="24px">
																<td align="center" style="border-bottom: 0px;">
																	<img src="#{facesContext.externalContext.requestContextPath}/images/call.gif" alt="" width="52" height="24" border="0" style="cursor: pointer;" onclick="addToSlip(this, 1); return false;" onmouseover="chartShowCallPut(this, true, true)" onmouseout="chartShowCallPut(this, false, true)"/>
																</td>
															</tr>
															<tr height="17px">
																<td align="center" class="invest_level_up" style="border-bottom: 0px;">
																	<div></div>
																</td>
																<td style="display: none;" align="center" class="invest_level_up">
																	<div source="lightstreamer" field="4">
																	</div>
																</td>
																<td style="display: none;" align="center" class="invest_level_up">
																<div></div>
																</td>
															</tr>
															<tr height="24">
																<td align="center" style="border-bottom: 0px;">
																	<img src="#{facesContext.externalContext.requestContextPath}/images/put.gif" alt="" width="52" height="24" border="0" style="cursor: pointer;" onclick="addToSlip(this, 2); return false;" onmouseover="chartShowCallPut(this, true, false)" onmouseout="chartShowCallPut(this, false, false)"/>
																</td>
															</tr>
														</table>
													</td>
													<td class="invest_odds" width="73px"><div source="lightstreamer" field="5"></div></td> <!-- 3 win odds txt -->
													<td class="invest_time" width="107px"><ui:insert name="closeRow"></ui:insert></td> <!-- 4 close time or filter -->
													<td class="line_invest" align="center" width="90px" height="66px">&#160;</td> <!-- 5 clock or blank -->
													<td style="display: none;"><div source="lightstreamer" field="7"></div></td> <!-- 6 OPP_ID -->
													<td style="display: none;"><div source="lightstreamer" field="8"></div></td> <!-- 7 ODDS_WIN -->
													<td style="display: none;"><div source="lightstreamer" field="9"></div></td> <!-- 8 ODDS_LOSE -->
													<td colspan="2" style="display: none;" class="line_invest" valign="center"><table cellpadding="0" cellspacing="0" class="no-bottom-border"><tr><td><img src="#{facesContext.externalContext.requestContextPath}/images/will_open_right_side.gif" alt="" width="4" height="41" border="0" /></td><td><table cellpadding="0" cellspacing="0"><tr><td height="1" bgcolor="#E8ECEC"></td></tr><tr><td height="33" class="inv_closed" dir="rtl" ><span><h:outputText value="#{msgs['investment.will.open.msg']}" /><br /></span><center><div source="lightstreamer" field="28"></div></center></td></tr><tr><td ><img src="#{facesContext.externalContext.requestContextPath}/images/will_open_bottom.gif" alt="" width="155" height="6" border="0" /></td></tr></table></td><td><img src="#{facesContext.externalContext.requestContextPath}/images/will_open_left_side.gif" alt="" width="1" height="41" border="0" /></td></tr></table></td> <!-- 9 -->
													<td style="display: none;"><div source="lightstreamer" field="12"></div></td> <!-- 10 PRIORITY -->
													<td style="display: none;"><div source="lightstreamer" field="13"></div></td> <!-- 11 GROUP_CLOSE -->
													<td style="display: none;"><div source="lightstreamer" field="15"></div></td> <!-- 12 RND_FLOOR	-->
													<td style="display: none;"><div source="lightstreamer" field="16"></div></td> <!-- 13 RND_CEILING -->
													<td style="display: none;"><div></div></td> <!-- 14 state -->
													<td style="display: none;"><div source="lightstreamer" field="17"></div></td> <!-- 15 group -->
													<td style="display: none;"><div source="lightstreamer" field="3"></div></td> <!-- 16 market id -->
													<td style="display: none;"><div source="lightstreamer" field="10"></div></td> <!-- 17 opp State-->
													<td style="display: none;"><div source="lightstreamer" field="14"></div></td> <!-- 18 scheduled -->
												</tr>
												<tr style="display: none;">
													<td colspan="18">
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table class="" id="assetsFooter" style="display:none" cellpadding="0" cellspacing="0" WIDTH="490" HEIGHT="34">
									<tr height="34" bgcolor="#edf3f1" width="">
										<td rowspan="0" colspan="0" height="34" valign="middle" align="left" style="margin:0; padding:0; font-size:0; ">
											<a href="#{facesContext.externalContext.requestContextPath}/jsp/optionPlus.jsf" >
												<img src="#{facesContext.externalContext.requestContextPath}/images/optionP_footer.gif"  border="0" />
											</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
					</span>
					<ui:insert name="off_hours_banner" />

					
				</td>
				<td align="left" valign="top">
					<span id="template" style="display: none;">
						<div class="floatingSlip">
							<table class="site_table" cellspacing="1" cellpadding="0" width="224" height="251">
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0" border="0" width="200" height="247">
											<tr style="display: none;">
												<td>0</td>
												<td>0</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td rowspan="1" colspan="1" width="5" height="21" class="slip_header"></td>
												<td rowspan="1" colspan="1" width="96" height="21" class="slip_header"></td>
												<td rowspan="1" colspan="1" width="95" height="21" class="slip_header_left"><div><h:outputText value="#{msgs['investment.slip.close']}" /></div></td>
												<td rowspan="1" colspan="1" width="24" height="21" class="slip_header"><img name="close_invest" width="24" height="21" src="#{facesContext.externalContext.requestContextPath}/images/close_invest.gif"  border="0" style="cursor: pointer;" onclick="removeFromSlip(this, 1); return false;"></img></td>
											</tr>
											<tr>
												<td valign="top" rowspan="1" colspan="4" width="220" height="209">
													<table border="0" cellpadding="0" cellspacing="0" width="220" height="209">
														<tr style="display: none;">
															<td width="5px">&#160;</td>
															<td class="error" colspan="2" align="right">&#160;</td>
															<td width="5px">&#160;</td>
														</tr>
														<tr>
															<td width="5px">&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.market']}" /></td>
															<td class="text_gray_12_bold" align="left">&#160;</td>
															<td width="5px">&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.level']}" /></td>
															<td class="invest_level_up_left" align="left">&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.selection']}" /></td>
															<td class="text_gray_12" align="left">&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.closetime']}" /></td>
															<td class="text_gray_12" align="left">&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.amount']}" /></td>
															<td class="text_gray_12_bold" align="left">
																<input type="text" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event); return false;" onFocus="javascript:this.select();" size="10" maxlength="9" class="input_text" />
																<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
															</td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12_bold" align="right"><h:outputText value="#{msgs['investment.slip.msg']}" /></td>
															<td class="text_gray_12_bold" align="left">&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.win']}" /></td>
															<td class="text_black_12" align="left">0&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" /></td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.lose']}" /></td>
															<td class="text_black_12" align="left">0&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" /></td>
															<td>&#160;</td>
														</tr>
														<tr>
															<td>&#160;</td>
															<td colspan="2" align="center">
																<a href="#" onclick="submitFromSlip(this); return false;" class="link_gray_12_bold_slip"><h:outputText value="#{msgs['investment.slip.submit']}" /></a>
																<img src="#{facesContext.externalContext.requestContextPath}/images/load.gif" alt="" style="display: none;" />
															</td>
															<td>&#160;</td>
														</tr>
														<tr style="display: none;">
															<td>&#160;</td>
															<td>&#160;</td>
															<td>&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr style="display: none;">
															<td>&#160;</td>
															<td>&#160;</td>
															<td>&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr style="display: none;">
															<td>&#160;</td>
															<td>&#160;</td>
															<td>&#160;</td>
															<td>&#160;</td>
														</tr>
														<tr style="display: none;">
															<td width="5px">&#160;</td>
															<td class="error" colspan="2" align="right"><h:outputText value="#{msgs['error.investment.notLogin1']}" />&#160;<h:outputText escape="false" styleClass="text_gray_11" value="#{msgs['error.investment.notLogin2']}" />&#160;<a class="bottom_home_page_links_red" HREF="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"><h:outputText escape="false" value="#{msgs['error.investment.notLogin3']}" /></a></td>
															<td width="5px">&#160;</td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</span>
					<span id="template_success" style="display: none;">
						<div>
						<table class="site_table" cellspacing="1" cellpadding="0" width="224" height="251">
								<tr>
									<td>
										<table cellspacing="0" cellpadding="0" border="0" width="220" height="247">
											<tr style="display: none;">
												<td>0</td>
												<td>1</td>
												<td></td>
												<td></td>
											</tr>
											<tr>
												<td rowspan="1" colspan="1" width="5" height="21" class="slip_header"></td>
												<td rowspan="1" colspan="1" width="96" height="21" class="slip_header"><h:outputText value="#{msgs['investment.slip.caption.success']}" /></td>
												<td rowspan="1" colspan="1" width="95" height="21" class="slip_header_left"><h:outputText value="#{msgs['investment.slip.close']}" /></td>
												<td rowspan="1" colspan="1" width="24" height="21" class="slip_header"><img name="close_invest" width="24" height="22" src="#{facesContext.externalContext.requestContextPath}/images/close_invest.gif"  border="0" style="cursor: pointer;" onclick="removeFromSlip(this, 1); return false;"></img></td>
											</tr>
											<tr>
												<td valign="top" rowspan="1" colspan="4" width="220" height="226">
													<table border="0" cellpadding="0" cellspacing="0" width="220" height="226">
														<tr class="slip_success_header">
															<td width="5px"></td>
															<td class="text_gray_14_bold" align="right"><h:outputText value="#{msgs['investment.slip.success']}" /></td>
															<td width="5px"></td>
														</tr>
														<tr class="slip_success_header">
															<td width="5px"></td>
															<td align="right"><span class="text_gray_10"><h:outputText value="#{msgs['investment.slip.id']}" /></span>
															<span class="text_black_10"></span>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.market']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="text_black_12" nowrap="nowrap" align="left">aa</td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.level']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="invest_level_up_left" nowrap="nowrap" align="left"></td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.selection']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="text_gray_12" nowrap="nowrap" align="left"></td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.closetime']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="text_black_12" nowrap="nowrap" align="left"></td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.amount']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="text_black_12" nowrap="nowrap" align="left"></td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.win.success']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="text_black_12" nowrap="nowrap" align="left"></td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td>
																<table border="0" cellpadding="0" cellspacing="0" width="100%">
																	<tr>
																		<td class="text_gray_12" nowrap="nowrap"  align="right"><h:outputText value="#{msgs['investment.slip.lose.success']}" /></td>
																		<td class="dash_border" width="100%">&#160;</td>
																		<td class="text_black_12" nowrap="nowrap" align="left"></td>
																	</tr>
																</table>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td align="center">
																<a href="#" class="link_gray_12_bold" onclick="printSuccess(this); return false;"><h:outputText value="#{msgs['investment.slip.print']}" /></a>
															</td>
															<td width="5px"></td>
														</tr>
														<tr>
															<td width="5px"></td>
															<td align="center">
																<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf" class="link_gray_10"><h:outputText value="#{msgs['investment.slip.investments']}" /></a>
															</td>
															<td width="5px"></td>
														</tr>
														<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; !applicationData.calcalistGame}">
															<tr id="sms_tr" class="slip_success_header" valign="middle" height="20x" style="display: none;">
																<td align="center" class="slip_sms_msg_11_bold" colspan="3" valign="middle" height="15px">
																	<input type="checkbox" name="smsmsg" id="smsMsg" onclick="updateInvestSms(this);"/>
																	<span><h:outputText escape="false" value="#{msgs['investment.settle.sms.msg']}"/></span>
																</td>
															</tr>
														</h:panelGroup>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</span>
					<span id="slip">
						<t:dataList value="#{slipForm.slip}" var="item" rowIndexVar="crrEntry" layout="simple" rendered="#{slipForm.slipSize > 0}">
							<div class="tableborder1"><div class="tableborder2"><div class="tableborder3"><div class="tableborder4"><div class="tableborder5"><div class="tableborder6"><div class="tableborder7"><div class="tableborder8">
							<table cellspacing="0" cellpadding="0" border="0" width="224" height="231">
								<tr style="display: none;">
									<td>0</td>
									<td>0</td>
									<td><h:outputText value="#{item.opportunity.id}" /></td>
									<td></td>
								</tr>
								<tr>
									<td rowspan="1" colspan="1" width="5" height="22" class="slip_header"></td>
									<td rowspan="1" colspan="1" width="100" height="22" class="slip_header"><h:outputText value="#{msgs['investment.slip.caption']} #{crrEntry + 1}" /></td>
									<td rowspan="1" colspan="1" width="95" height="22" class="slip_header_left"><h:outputText value="#{msgs['investment.slip.close']}" /></td>
									<td rowspan="1" colspan="1" width="24" height="22" class="slip_header"><img name="close_invest" width="24" height="22" src="#{facesContext.externalContext.requestContextPath}/images/close_invest.gif"  border="0" style="cursor: pointer;" onclick="removeFromSlip(this, 1); return false;"></img></td>
								</tr>
								<tr>
									<td rowspan="1" colspan="4" width="224" height="209">
										<table border="0" cellpadding="0" cellspacing="0" width="224" height="209">
											<tr style="display: none;">
												<td width="5px">&#160;</td>
												<td class="error" colspan="2" align="right">&#160;</td>
												<td width="5px">&#160;</td>
											</tr>
											<tr>
												<td width="5px">&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.market']}" /></td>
												<td class="text_gray_12_bold" align="left"><h:outputText value="#{item.opportunity.market.displayName}" /></td>
												<td width="5px">&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.level']}" /></td>
												<td class="invest_level_close_left" align="left"></td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.selection']}" /></td>
												<td class="text_gray_12" align="left">
												<h:panelGroup rendered="#{item.choice == 1}">
													call&#160;<img name="call_small" src="#{facesContext.externalContext.requestContextPath}/images/call_small.png" width="30" height="13" border="0" valign="bottom" />
												</h:panelGroup>
												<h:panelGroup rendered="#{item.choice == 2}">
													put&#160;<img name="put_small" src="#{facesContext.externalContext.requestContextPath}/images/put_small.png" width="30" height="13" border="0" valign="bottom" />
												</h:panelGroup>
												</td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.closetime']}" /></td>
												<td class="text_gray_12" align="left"><h:outputText value="#{item.opportunity.timeEstClosing}"><f:convertDateTime pattern="dd/MM/yy HH:mm" timeZone="#{applicationData.timeZone}" /></h:outputText></td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.amount']}" /></td>
												<td class="text_gray_12_bold" align="left">
													<h:outputText value="#{item.amountInput}" escape="false" />
													<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
												</td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12_bold" align="right"><h:outputText value="#{msgs['investment.slip.msg']}" /></td>
												<td class="text_gray_12_bold" align="left"></td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.win']}" rendered="#{item.choice == 1}" /><h:outputText value="#{msgs['investment.slip.lose']}" rendered="#{item.choice == 2}" /></td>
												<td class="text_black_12" align="left">
													<h:outputText value="#{item.amount * (1 + item.opportunity.oddsType.overOddsWin)}"><f:convertNumber pattern="#,##0.00" /></h:outputText>
													<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
												</td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.lose']}" rendered="#{item.choice == 1}" /><h:outputText value="#{msgs['investment.slip.win']}" rendered="#{item.choice == 2}" /></td>
												<td class="text_black_12" align="left">
													<h:outputText value="#{item.amount * (1 - item.opportunity.oddsType.overOddsLose)}"><f:convertNumber pattern="#,##0.00" /></h:outputText>
													<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
												</td>
												<td>&#160;</td>
											</tr>
											<tr>
												<td>&#160;</td>
												<td colspan="2" align="center">
													<a href="#" onclick="submitFromSlip(this); return false;" class="link_gray_12_bold"><h:outputText value="#{msgs['investment.slip.submit']}" /></a>
													<img src="#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif" alt="" style="display: none;" />
												</td>
												<td>&#160;</td>
											</tr>
											<tr style="display: none;">
												<td>&#160;</td>
												<td>&#160;</td>
												<td><h:outputText value="#{1 + item.opportunity.oddsType.overOddsWin}"><f:convertNumber pattern="#,##0.00" /></h:outputText></td>
												<td>&#160;</td>
											</tr>
											<tr style="display: none;">
												<td>&#160;</td>
												<td>&#160;</td>
												<td><h:outputText value="#{1 - item.opportunity.oddsType.overOddsLose}"><f:convertNumber pattern="#,##0.00" /></h:outputText></td>
												<td>&#160;</td>
											</tr>
											<tr style="display: none;">
												<td>&#160;</td>
												<td>&#160;</td>
												<td><h:outputText value="#{item.choice}" /></td>
												<td>&#160;</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							</div></div></div></div></div></div></div></div>
						</t:dataList>

						<c:if test="${slipForm.slipSize == 0}">
							<ui:include src="/jsp/he/slip_empty.xhtml">
							</ui:include>
						</c:if>
						#{slipForm.removeAllFromSlip}

					</span>
					<span id="emptyslip" style="display: none;">
						<ui:include src="/jsp/he/slip_empty.xhtml">
						</ui:include>
					</span>
					<span id="template_10min" style="display: none;height:66px;">
						<img src="#{facesContext.externalContext.requestContextPath}/images/last10minclock.gif" width="29" height="29" border="0" />
						<br />
						<span class="text_red_12_bold">&#160;</span>
					</span>
					<span id="template_closing_1_min_ind" style="display: none;">
						<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/oppclosing1MinInd.jsp" width="95" height="64" frameborder="no" scrolling="no"></iframe>
					</span>
					<span id="template_closing_1_min_stk" style="display: none;">
						<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/oppclosing1MinStk.jsp" width="95" height="64" frameborder="no" scrolling="no"></iframe>
					</span>
					<span id="template_closing_1_min_crr" style="display: none;">
						<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/oppclosing1MinCrr.jsp" width="95" height="64" frameborder="no" scrolling="no"></iframe>
					</span>
					<span id="template_closing_1_min_cmd" style="display: none;">
						<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/oppclosing1MinCmd.jsp" width="95" height="64" frameborder="no" scrolling="no"></iframe>
					</span>
					<span id="template_closing_1_min_frn" style="display: none;">
						<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/oppclosing1MinFrn.jsp" width="95" height="64" frameborder="no" scrolling="no"></iframe>
					</span>
					<span id="template_closing" style="display: none;">
						<img src="#{facesContext.externalContext.requestContextPath}/images/hourglass_w.gif" width="90" height="65" border="0" />
					</span>
					<span id="template_slip_call" style="display: none;">
						call&#160;<img name="call_small" src="#{facesContext.externalContext.requestContextPath}/images/call_small.png" width="30" height="13" border="0" valign="bottom" />
					</span>
					<span id="template_slip_put" style="display: none;">
						put&#160;<img name="put_small" src="#{facesContext.externalContext.requestContextPath}/images/put_small.png" width="30" height="13" border="0" valign="bottom" />
					</span>
					<span id="template_ils" style="display: none;">
						&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
					</span>
					<span id="temp_select_list" style="display: none;">
						<ui:insert name="closeRow"></ui:insert>
					</span>
				</td>
			</tr>
		</table>
							           </TD>
								      </TR>
								      </TABLE>
							<!-- END MAIN -->
				</TD>
			    </TR>

			</TABLE>
		    </TD>
		</TR>
	    </TABLE>
	</TD>
    </TR>
    <TR>
		<TD ROWSPAN="1" COLSPAN="1" WIDTH="904" HEIGHT="82">
		   <ui:include src="/jsp/templates/footer.xhtml" />
		</TD>
	</TR>
</TABLE>
<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/golden_page.xhtml"></ui:include>
</h:panelGroup>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.showGraphBanner &amp;&amp; !applicationData.calcalistGame}">
		<ui:include src="/jsp/graph_banner.xhtml"></ui:include>
</h:panelGroup>
<!-- BONUS BANNER -->
<a id="bonusThickBoxLink" class="thickbox" href="bday-pop.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=560&amp;width=640&amp;modal=true&amp;scrolling=no;" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.showBonusBanner}">
	<script>
		setTimeout('runBonusThickBox();',1000);

		function startReloadHeader() {
			setTimeout('reloadHeader();',1000);
		}

		function reloadHeader() {
			document.getElementById('header').contentWindow.location.reload();
		}
	</script>
#{user.updateLastLoginFromDB}
</h:panelGroup>
<!-- TAX BANNER -->
<a id="taxPopUpThickBoxLink" class="thickbox" href="tax_pop_up.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=480&amp;width=510&amp;modal=true&amp;scrolling=no;" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.showTaxPopUp}">
	<script>
		$(document).ready(function(){showTaxPopUp();});
		function showTaxPopUp() {
			setTimeout('runTaxPopUpThickBox();', 1000);
		}
	</script>
#{user.updateLastLoginFromDB}
</h:panelGroup>

<!-- End Table -->
		<script>
			var lsEngRef;
			var lsPage = new PushPage();
			lsPage.context.setDebugAlertsOnClientError(false);
			lsPage.context.setDomain("#{applicationData.domainUrl}");

			lsPage.onEngineCreation = function(engine) {
				<h:panelGroup rendered="#{!applicationData.calcalistGame || !applicationData.isLive}">
					engine.connection.setLSHost("#{slipForm.lsServer}");
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.calcalistGame &amp;&amp; applicationData.isLive}">
					engine.connection.setLSHost("ls-options.calcalist.co.il");
				</h:panelGroup>

				engine.connection.setLSPort(80);
				engine.connection.setAdapterName("REUTERSJMS");
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					engine.connection.setUserName("a#{user.userName}a");
					engine.connection.setPassword("#{user.passHash}");
				</h:panelGroup>
				engine.policy.setMaxBandwidth(20);
				engine.policy.setIdleTimeout(30000);
				engine.policy.setPollingInterval(1000);
				engine.policy.setTimeoutForReconnect(10000);

				engine.changeStatus("STREAMING");
				lsEngRef = engine;
			};
			lsPage.onEngineReady = function(engine) {
				engine.onStatusChange = function(chngStatus) {
					window.status = "etrader";
				};
			};
			lsPage.bind();

			lsPage.createEngine("etrader", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");
			<ui:insert name="group"></ui:insert>
			var newTable = new DynaMetapushTable(group, schema, "COMMAND");
			newTable.setDataAdapter("JMS_ADAPTER");
			newTable.setSnapshotRequired(true);
			newTable.setRequestedMaxFrequency(updatesFrequencyFlag == 1 ? updatesFrequencyIn : updatesFrequencyNotIn);
			newTable.setPushedHtmlEnabled(true);
			newTable.setClearOnDisconnected(false);
			newTable.setMaxDynaRows("unlimited");
			newTable.setMetapushFields(2, 1);
			<ui:insert name="sort"></ui:insert>
			newTable.onChangingValues = formatValues;
			newTable.onItemUpdate = updateItem;
			lsPage.addTable(newTable, "opps");

			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				var groupGM = ["insurances_#{user.userName}"];
				var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", "INS_CRR_LEVEL", "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR"];
				var newTableGM = new NonVisualTable(groupGM, schemaGM, "COMMAND");
				newTableGM.setDataAdapter("JMS_ADAPTER");
				newTableGM.setSnapshotRequired(true);
				newTableGM.setRequestedMaxFrequency(1.0);
	//			newTableGM.setPushedHtmlEnabled(true);
	//			newTableGM.setClearOnDisconnected(false);
	//			newTableGM.setMaxDynaRows("unlimited");
	//			newTableGM.setMetapushFields(2, 1);
	//			newTableGM.setMetapushSort(10, false, true);
	//			newTableGM.onChangingValues = formatValuesGM;
				newTableGM.onItemUpdate = updateItemGM;
				lsPage.addTable(newTableGM, "goldenInvestmentsTable");
			</h:panelGroup>

			var graphBdiv = document.getElementById("graphInfoDiv");
			if (graphBdiv != null) {
				var select_asset = document.getElementById("select_asset");
				if (null != select_asset) {
					select_asset.style.display = 'none'
				}
				var selectMarket = document.getElementById("select_market");
				if (null != selectMarket) {
					selectMarket.style.display = 'none'
				}
				var selectScheduled = document.getElementById("select_time");
				if (null != selectScheduled) {
					selectScheduled.style.display = 'none'
				}
				graphBdiv.style.display = 'inline';
			}
		</script>
		<span id="log" dir="LTR"></span>
</f:view>

<div id="profitLineButton" style="position: absolute; top: 155px; display:none;">
	<a href="#" onclick="window.top.runThickBox(0, 0); return false;">
		<img src="#{facesContext.externalContext.requestContextPath}/images/tradefrom.gif" width="50px" height="93px" border="0" />
	</a>
</div>

<ui:insert name="firstDepositPixel" />
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/templates/google.xhtml" />
</c:if>
<ui:insert name="pixels" />
</BODY>
</html>
