
<html DIR="RTL"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<title><ui:insert name="windowtitle" /></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<c:set var="metaKey" value="#{msgs['etrader.keywords']}" /> <!-- default -->
    <ui:insert name="metaKeywords"></ui:insert>
    <c:set var="metaDesc" value="#{msgs['etrader.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <META NAME="keywords" content="${metaKey}" />
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <ui:include src="/jsp/head_css_js.xhtml" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
		<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
	<ui:insert name="head" />

</HEAD>
<BODY>
<ui:insert name="cookie" />
<ui:insert name="selected" />
<script>
	document.domain = "#{applicationData.domainUrl}";
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
</script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>

<!-- Begin Table -->
<TABLE BORDER="0"  VALIGN="TOP" ALIGN="CENTER" CELLPADDING="0" CELLSPACING="0" WIDTH="904">
	<h:panelGroup rendered="#{!applicationData.calcalistGame}">
	    <!--
	    <tr>
	    	<td width="904" height="37"><img src="#{facesContext.externalContext.requestContextPath}/images/Banner-Etrader-24x7-3-a.png" border="0" width="904" height="37" /></td>
	    </tr>
	     -->
	    <tr>
	    	<td width="904" height="37"><a href="#{facesContext.externalContext.requestContextPath}/jsp/binary0100.jsf" target="_top"><img src="#{facesContext.externalContext.requestContextPath}/images/etrader_0-100_top-banner.gif" border="0" width="904" height="37" /></a></td>
	    </tr>
    </h:panelGroup>
    <TR>
		<TD WIDTH="904" HEIGHT="45">
			<iframe name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/templates/header_loggedin.jsf?refresh=true" width="904" height="45" scrolling="no" ></iframe>
		</TD>
	</TR>
	<h:panelGroup rendered="#{!applicationData.calcalistGame}">
		<TR>
		<TD WIDTH="904" HEIGHT="54">
			<TABLE DIR="LTR" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904" HEIGHT="54">
				<TR>
					<TD WIDTH="20" HEIGHT="54" valign="top">&#160;</TD>
					<TD WIDTH="192" HEIGHT="54" valign="top">
						<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf" TARGET="_top" >
							<IMG NAME="etrader" SRC="#{facesContext.externalContext.requestContextPath}/images/etrader.gif" WIDTH="192" HEIGHT="54" BORDER="0" />
						</A>
					</TD>
					<TD WIDTH="22" HEIGHT="54" valign="top" >&#160;</TD>
					<TD WIDTH="5" HEIGHT="54">
						<IMG NAME="header_line" SRC="#{facesContext.externalContext.requestContextPath}/images/header_line.gif" WIDTH="5" HEIGHT="52" BORDER="0"/></TD>
					<TD id="messageTd" WIDTH="494" HEIGHT="54" ALIGN="CENTER" >
						<BR></BR>
						<h1 dir="rtl"><ui:insert name="header" /></h1>
					</TD>
					<TD WIDTH="5" HEIGHT="54">
						<IMG NAME="header_line" SRC="#{facesContext.externalContext.requestContextPath}/images/header_line.gif" WIDTH="5" HEIGHT="52" BORDER="0"/></TD>
					<TD WIDTH="174" HEIGHT="54" valign="top">
						<ui:include src="/jsp/templates/clock.xhtml" />
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	</h:panelGroup>
  	<h:panelGroup rendered="#{applicationData.calcalistGame}">
		<TR>
			<TD WIDTH="904" HEIGHT="54">
				<script>
					// take needed js from clock page
					var offsetTmp = sessionUtcOffset.substr(3, sessionUtcOffset.length-3);
					var utcOffsetHour = new Number(offsetTmp.split(":")[0]);
					var utcOffsetMin = new Number(offsetTmp.split(":")[1]);
					var sessionUtcOffset = (-1) * ( (utcOffsetHour * 60) + utcOffsetMin);
					var offset = (-1) * sessionUtcOffset * 60 * 1000;  // in milis
				</script>
				<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf" TARGET="_top">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calcalist_header.jpg" width="902px" height="78px" border="0"/>
				</A>
			</TD>
		</TR>
  	</h:panelGroup>
    <TR>
		<TD WIDTH="904">
		    <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="904">
				<TR>
				    <TD WIDTH="168" valign="top" style="padding: 0px 0px 0px 11px;">
						<ui:include src="/jsp/templates/right_nav.xhtml" />
				    </TD>
				    <TD  WIDTH="729">
						<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="729">
						    <TR>
								<TD WIDTH="729">
								    <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="729">
									    <TR>
										    <TD WIDTH="729" VALIGN="top">

												<!-- BEGIN MAIN -->
												<TABLE BORDER="0" VALIGN="TOP" ALIGN="RIGHT" CELLPADDING="0" CELLSPACING="0" width="729">
												    <TR>
											            <TD height="15" width="100%">
											               &#160;
											            </TD>
												    </TR>
												    <TR>
											            <TD width="100%" class="text_gray_24_bold">
											            	<ui:insert name="title" />
											            </TD>
											        </TR>
												    <TR>
											            <TD width="100%" height="300" valign="top">
											            	<ui:insert name="content"></ui:insert>
											            </TD>
										            </TR>
												</TABLE>

												<!-- END MAIN -->
										    </TD>
										</TR>
								    </TABLE>
								</TD>
						    </TR>
						</TABLE>
				    </TD>
				</TR>
		    </TABLE>
		</TD>
    </TR>
    <TR>
		<TD ROWSPAN="1" COLSPAN="1" WIDTH="736" HEIGHT="82">
			<ui:include src="/jsp/templates/footer.xhtml" />
		</TD>
	</TR>
</TABLE>
<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/investmentPopup.jsf"/>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/golden_page.xhtml"></ui:include>
</h:panelGroup>
<!-- End Table -->
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/templates/google.xhtml" />
</c:if>
</BODY>
</html>
