<html DIR="RTL"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<title><ui:insert name="windowtitle" /></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />

    <META NAME="keywords" content="#{msgs['etrader.keywords']}"/>
    <META NAME="description" content="#{msgs['etrader.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <ui:include src="/jsp/head_css_js.xhtml" />
</HEAD>
<ui:insert name="step" />

<body bgcolor="#4B5B58" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>

<div align="center">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/side.jpg" alt="" width="10" height="600" border="0"/></td>

			<td height="600" bgcolor="#61766E" valign="top" style="padding-top:20px;">
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td bgcolor="#61766E" valign="top" style="padding-left:10px;" height="526">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<c:if test="${step=='1'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button1_d.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
									<c:if test="${step!='1'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button1.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
								</tr>
								<tr><td height="5"></td></tr>
								<tr>
									<c:if test="${step=='2'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour2.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button2_d.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
									<c:if test="${step!='2'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour2.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button2.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
								</tr>
								<tr><td height="5"></td></tr>
								<tr>
									<c:if test="${step=='3'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour3.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button3_d.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
									<c:if test="${step!='3'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour3.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button3.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
								</tr>
								<tr><td height="5"></td></tr>
								<tr>
									<c:if test="${step=='4'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour4.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button4_d.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
									<c:if test="${step!='4'}">
										<td><a href="#{facesContext.externalContext.requestContextPath}/jsp/tour4.jsf"><img src="#{facesContext.externalContext.requestContextPath}/jsp/tour/images/button4.jpg" alt="" width="125" height="129" border="0"/></a></td>
									</c:if>
								</tr>

							</table>
						</td>
					</tr>

				</table>

			</td>

			<td width="800" height="600">
				<ui:insert name="flash" />
			</td>


		</tr>
	</table>
</div>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/templates/google.xhtml" />
</c:if>
</body>
</html>