#coForm {
	position:relative;
	display:inline-block;
	width:310px;
	padding:22px 25px;
	background:#c4c5c7;
}
#coForm, #coForm * {
	box-sizing:border-box;
}
#coForm input[type="text"], #coForm input[type="email"], #coForm input[type="password"] {
	display:inline-block;
	width:calc(50% - 4px);
	padding:9px 9px 10px 9px;
	font-size:13px;
	color:#000;
	border:1px solid #c4c5c7;
	outline:none;
	height:auto;
	text-align:initial;
	background:#fff;
}
#coForm input[type="text"]:last-of-type, #coForm input[type="email"]:last-of-type, #coForm input[type="password"]:last-of-type {
	margin-left:4px;
}
#coForm input[type="text"].full-width, #coForm input[type="email"].full-width, #coForm input[type="password"].full-width {
	width:100%;
	margin-left:0px;
}
#coForm .half-holder {
	display:inline-block;
	vertical-align:top;
	width:calc(50% - 2px);
}

#coForm input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	text-transform:capitalize;
	color:#707070;
}
#coForm input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	text-transform:capitalize;
	color:#707070;
	opacity:1;
}
#coForm input::-moz-placeholder { /* Mozilla Firefox 19+ */
	text-transform:capitalize;
	color:#707070;
	opacity:1;
}
#coForm input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	text-transform:capitalize;
	color:#707070;
}
#coForm select {
	height:35px;
	padding:0px 0px 0px 8px;
	border:0px;
	outline:none;
}

#coForm label {
	font-size:13px;
	color:#414141;
}
#coForm a {
	text-decoration:none;
	font-weight:bold;
	color:#364b5e;
}
#coForm button {
	cursor:pointer;
	width:100%;
	margin-top:5px;
	padding:9px;
	text-align:center;
	text-transform:uppercase;
	font-weight:normal;
	font-size:18px;
	color:#fff;
	background:#11b06f;
	border:0px;
	border-radius:4px;
	box-shadow:0px 5px 0px #7ed4b1;
	outline:none;
}
#coForm input[type="text"].error, #coForm input[type="email"].error, #coForm input[type="password"].error {
	border:1px solid #bf0426;
}
#coForm .error-message {
	display:block;
	min-height:12px;
	font-size:11px;
	color:#bf0426;
}
#coForm .error-message.general-error-message {
	position:relative;
	bottom:3px;
	top:5px;
	left:0px;
}

#coForm .row {
	position:relative;
	display:block;
	padding:5px 0px 0px 0px;
	font-size:12px;
}
#coForm .row.phone-row .half-holder:first-of-type {
	width:87px;
}
#coForm .row.phone-row .half-holder:last-of-type {
	width:calc(100% - 91px);
}
#coForm input[type="text"].phone {
	
}

#coForm .phone-code {
	display:inline-block;
	vertical-align:middle;
}

#coForm input[type="checkbox"] {
  display: none;
}
#coForm .checkbox {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 18px;
	margin: -4px 5px 0 0;
	background: #fff;
	border: 2px solid #757575;
	border-radius: 2px;
	transition: all 250ms;
}
#coForm .checkbox:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 0px;
	display: block;
	width: 0px;
	height: 2px;
	background: #fff;
	transform: rotate(45deg);
}
#coForm .checkbox:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 3px;
	display: block;
	width: 0px;
	height: 2px;
	background: #fff;
	transform: rotate(-45deg);
}
#coForm input[type="checkbox"]:checked + .checkbox {
	background: #209c6c;
	border-color: #209c6c;
}
#coForm input[type="checkbox"]:checked + .checkbox:before {
	width: 6px;
	transition: 0.28s;
}
#coForm input[type="checkbox"]:checked + .checkbox:after {
	width: 12px;
	transition: 0.28s;
	transition-delay: 0.12s;
}

.select-wrapper {
	position:relative;
	display:inline-block;
	vertical-align:middle;
	width:83px;
	height:36px;
	padding:8px 8px 8px 8px;
	white-space:nowrap;
	line-height:1;
	color:#000;
	background:#fafafa;
	border:1px solid #c4c5c7;
}
select {
	vertical-align:middle;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:100%;
	height:35px;
	margin:0;
	padding:0;
	color:#666;
	border:0;
	opacity:0;
	filter:alpha(opacity=0);
	background:transparent !important;
	-webkit-appearance:none;
	transition:all 250ms;
}

@media (max-width: 360px) {
	#coForm {
		width:100%;
	}
}