html {
	background:#090909 url(../images/bg.jpg) top left;
}
body
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
    color: #fff;
    font-size: 14px;
    width:100%;
	float:left;
	height:100%;
	position:relative;
}
*
{
    margin: 0px;
    padding: 0px;
}
#page
{
    margin: 0 auto;
    height: auto !important;
    min-height: 100%;
    display: table;
    position: relative;
	padding:0 0 0 -90px;
}
#bg-middle {
	position:absolute;
	width:100%;
	height:622px;
	background: #090909 url(../images/bg-middle.jpg) repeat-x bottom left;
	
	left:0;
}

img
{
    border: none;
}
p
{
    margin: 10px 0;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
#bg_container {
	width:1000px;
	margin: 0 auto;
	postion: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 260px;
}
*+html #mainimg {
	float: left;
	margin-left: -80px !important;
}
#main
{
    height: auto;
    float: left;
    clear: both;
}

*+html #logo {
	margin-top: 0;
}
#title
{
    padding: 12px 0 4px;
    margin: 0 auto;
   
    text-align: center;
	color:#e6c704;
}
h1 {
	font-size: 43px;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0px;
	text-align: center;
	text-shadow: 1px 2px 5px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);
}
#dynamicHeader {
	margin:5px 0 0;
}
h2 {
	font-size: 32px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0px;
	text-align: center;
}
h3 {
	font-size: 28px;
	line-height:normal;
	font-weight: normal;
	margin: 0;
	text-align: left;
	display:block;
	padding:0;
	color:#fff;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 10px 0;
	padding: 0px;
}
#content
{
    margin: 25px auto;
    height: auto !important;
    min-height: 100%;
    display: table;
    position: relative;

}
#content_top
{
	text-align: left;
	padding-top: 0px;
}
.top_list
{
    list-style-type: none;
    padding: 0;
    text-align: left;
}
.top_list li
{
    padding: 5px 20px 30px 80px;
    margin-top: 10px;
    font-size: 18px;
	line-height:22px;
    font-weight: normal;
    color: #aaaaaa;
	float:left;
	width:227px;
	vertical-align:middle;
}
.top_list li span
{
    font-size: 22px;
	line-height:30px;
    font-weight: normal;
    color: #006cb2;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat left 16px;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat left 16px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat left 16px;
	padding-right:0;
	padding-top:18px;
}
.button_tradeBox
{
    height: 72px;
    width: 262px;
	position: relative;
	float: right;
	padding: 0 0 0 0 ;
}
.tradeBox_StartButton
{
    width: 262px;
    height: 72px;
    background-image: url(../images/bttn_StartNow_01_en.png);
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    border: none;
    cursor: pointer;
}
.tradeBox_StartButton:hover
{
    background-position: left bottom;
    border: none;
}


#content_btm
{
    text-align: left;
    font-size: 12px;
    line-height: 17px;
	margin-top: 30px;
	position: relative;
	float:left;
	padding: 0;
}
.video {
	float:left;
	padding-top:10px;
}
.video iframe { position:absolute; z-index:10; }

.bottom_list
{
    list-style-type: none;
    text-align: left;
    margin-top: 3px;
    float: left;
}
.bottom_list li
{
    padding: 7px 0 7px 35px;
    background: url(../images/img_bullet.png) no-repeat 6px 8px;
    border-bottom: 1px dotted #aaaaaa;
    font-size: 14px;
    font-weight: normal;
    height:auto;
}
#tradeBox_StartButton
{
    width: 262px;
    height: 72px;
    background-image: url(../images/bttn_StartNow_01_en.png);
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    border: none;
    cursor: pointer;
}
.content_learnBox
{
    float: left;
    width: 100%;
    text-align: left;
}
#content_learnBox p
{
    text-align: justify;
    font-size: 12px;
}
.button_learnBox
{
    float: right;
    height: 60px;
    width: 60px;
    margin-top:20px;
}
.learnBox_StartButton
{
    width: 60px;
    height: 60px;
    background:url(../images/up.png) top left no-repeat;
    float: right;
    border: none;
    cursor: pointer;
}
.learnBox_StartButton:hover
{
    background-position: left bottom;
    border: none;
}
#footer
{
	float:left;
    text-align: center;
    font-size: 9px;
	position:relative;
	z-index:2;
}
#footer .icons
{   height: 30px;
    padding: 15px 0 15px 320px;
}
#footer .icons .icon_space
{
    margin-right: 20px;
    float: left;
}
.icons form {
	padding:0;
}
#footer .links
{
    margin-top: 20px;
    margin-bottom: 15px;
}
#footer .footer_text
{
    color: #757575;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    width: 830px;
    padding: 20px 0;
    line-height: 16px;
}
#footer .footer_link
{
    color: #0284D6;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover
{
    color: #093755;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}

/*					Localizations					*/
#EN .vertical_form form h4, #FR .vertical_form form h4 { line-height:normal; padding-bottom:14px; padding-top:10px;}
#RU #mainimg { top: 320px }
#RU .button_tradeBox { margin:0 0 0 30px; float: right; }
#RU .top_list .p1 { background-position: left 26px; font-size:16px; }
#RU .top_list .p2 { background-position: left 26px; font-size:16px;}
#RU .top_list .p3 { background-position: left 26px; font-size:16px;}
#RU .top_list .p1 span { font-size:20px; padding-bottom:6px; line-height:normal; display:block;}
#RU .top_list .p2 span { font-size:20px; padding-bottom:6px; line-height:normal; display:block;}
#RU .top_list .p3 span { font-size:20px; padding-bottom:6px; line-height:normal; display:block;}
#RU h4 {line-height:22px;}
#RU h1 {
	font-size: 40px;	
} 
#RU .vertical_form h4 {font-size:14px; padding-top:6px; line-height:normal;}
#RU .p3 {padding-top:5px;}
#DE .vertical_form h4 { font-size:16px; padding-top:10px; padding-left:5px;}
#DE .button_tradeBox { position: relative; margin-top: 5px; float:right; }
#DE .secured {
	background-position: left 12px;
}
#DE .form_cl, #DE .form_cl2, #DE .form_cl3 {
	padding-top:5px;
}
#DE .top_list li {
	width:230px;
	margin-right:15px;
}
#DE .top_list li.p3{
	margin-right:0;
}
#IT #mainimg { top: 340px }
#IT h4 { line-height: 27px; }
#IT .button_tradeBox { position: relative; margin-top: 0px; float: right; z-index:9999; }
#IT .bottom_list li {width: 705px;}
#IT .top_list .p1 { background-position: left 25px; }
#IT .top_list .p2 { background-position: left 25px; }
#IT .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_it.png); }
#IT .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_it.png); }
#IT #content_btm {padding:5px 50px 0 70px;}
#IT #content_top {width:1110px;}



#FR #mainimg { top: 325px; }
#FR .button_tradeBox { width: 302px; }
#FR .button_tradeBox { width: 302px; position: relative; margin-top: 5px; float: right; }

#FR .top_list .p2 { background-position: left 16px; }
#FR .top_list .p3 { background-position: left 16px; padding-top:5px; }
#FR .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
	padding: 0 0 0 0 ;
}
#RU .vertical_form form h4 {
	padding-bottom:10px;
}

#ES #mainimg { top: 300px; }
#ES .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
	padding: 0 0 0 0 ;
}
#ES .p3 {padding-top:5px;}

#TR #mainimg { top: 285px; }
#TR .button_tradeBox { padding:0 -200px 0 0; }
#TR .top_list .p3 {padding-top:5px;}

#ZH #mainimg { top: 240px; }
#ZH #content_top {width:1120px; height:340px;}
#ZH #content_btm { margin-top: 30px; padding:0 50px 0 80px; }
#ZH .bottom_list li { width: 700px; }
#ZH .top_list .p1 { background-position: left top; }
#ZH .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_zh.png); }
#ZH .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_zh.png); }

.disclaimer {text-align: left; font-size: 11px; color: #aaaaaa; line-height: 16px; border-top: 1px dotted #141414; padding: 10px 0; float:left; width:100%; margin-bottom:40px;}      
.vertical_form
{
    height: 483px;
    width: 317px;
	background:url(../images/form_bg.jpg) top left no-repeat;
	position: relative;
	float: right;
	padding: 0 0 0 0 ;
	color:#093755;
}
.vertical_form a, .vertical_form a:visited, a:hover {
	color:#fff;
	text-decoration:none;
}
#TR .vertical_form h4 {font-size:17px; padding-top:10px; padding-left:3px;}
.vertical_form h4 {
	color:#fff;
	font-size:18px;
	line-height:20px;
	font-weight:bold;
	text-align:center;
	padding: 6px 0 36px;
	margin:0;
	display:block;
	float:none;	
}
.vertical_form h4 a{padding: 0; text-align:center; display:block;}
.tradeBox_StartButton
{
    width: 262px;
    height: 72px;
    background-image: url(../images/bttn_StartNow_01_en.png);
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    border: none;
    cursor: pointer;
}
.tradeBox_StartButton:hover
{
    background-position: left bottom;
    border: none;
}


/* Regulation footer */
#footer .icons { border:none; }
#footer .icons-container {
  width: 975px;
  margin:0 auto;
}
#footer .regulated {
 font-size:14px;
 height: 40px;
 margin: 25px auto 0;
 padding-bottom:10px;
 padding-top:30px;
 color:#898989;
}
.reg-logo { padding:6px 0 0 55px; }
.reg-logo {float:right; background: url(../../images/regulated-logo.png) no-repeat; height:67px; padding:5px 0 0 55px; position:absolute; right:0; top:14px;}
.reg-logo p { font-size:15px; padding:0; color:#898989;}
#footer .regulated img {
 float:right;
 margin-top:7px;
 margin-left:8px;
}
#footer .regulated p {
 float:left;
}
#footer .regulated div { margin:0 auto;}
/* Close regulation footer */


/******************************************************************************************NEW REGFORM*********************************************************************************/
/*short reg hp*/
#headers_field {
    margin: 14px 0 4px;
}
.funnel_h1 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.funnel_subtitle {
    color: #FFD400;
    font-size: 11px;
}
.home_shortReg {
    margin-left: 35px;
    margin-top: 4px;
    width: 280px;
	position: absolute;
	z-index:3000;
}
#TR .home_shortReg {margin-top:20px;}
#DE .home_shortReg {margin-top:20px;}
#ES .home_shortReg {margin-top:20px;}

.home_shortReg .funnel_hold {
    width: 212px;
}
.home_shortReg .funnel_inp {
    background: none repeat scroll 0 0 white;
    border: 1px solid #B3B3B3;
    color: #6E8695;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    margin-bottom: 13px;
    padding: 1px 0 0 2px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 245px;
}
.home_shortReg .funnel_inp.active {
    border: 1px solid #D7D6D6;
    color: #093755;
    text-transform: none;
}
.home_shortReg .funnel_inp.error {
    border: 1px solid #E97F02;
    color: #E97F02;
    text-transform: none;
}
.home_shortReg .funnel_inp.correct {
    border: 1px solid #BDCEDA;
    color: #6E8695;
    text-transform: none;
}
.home_shortReg .funnel_inp_phone {
    margin-left: 3px;
    width: 156px;
}
.home_shortReg .funnel_names_holder, .home_shortReg .funnel_email_holder, .home_shortReg .funnel_phone_holder, .home_shortReg .funnel_password_holder, .home_shortReg .funnel_password_retype_holder {
    position: relative;
    z-index: 2;
}
.home_shortReg .funnel_phone_holder_drop {
    z-index: 3;
}
.home_shortReg .funnel_phone_code {
    float: left;
    width: 30px;
}
.home_shortReg .funnel_phone {
    float: right;
    width: 170px;
}
.home_shortReg .btn_open_account {
    background: url("../images/btn_open_account.png") no-repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h {
    background-position: 0 0;
    display: block;
    height: 50px;
    left: -4px;
    margin: 5px 0;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 245px;
}
.home_shortReg .btn_open_account_h .rs {
    background-position: right -51px;
    display: block;
    height: 50px;
    padding-right: 10px;
}
.home_shortReg .btn_open_account_h .cs {
    background-position: 0 -104px;
    background-repeat: repeat-x;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 1px;
    padding-top: 24px;
    text-align: center;
    text-shadow: 1px 1px 2px #926A01;
}
.home_shortReg a.btn_open_account_h:hover {
    background-position: 0 -158px;
}
.home_shortReg a.btn_open_account_h:hover .rs {
    background-position: right -211px;
}
.home_shortReg a.btn_open_account_h:hover .cs {
    background-position: 0 -264px;
}
.home_shortReg a.btn_open_account_h.disabled {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg .btn_open_account_h.disabled .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg .btn_open_account_h.disabled .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
    text-shadow: none;
}
.home_shortReg a.btn_open_account_h.disabled:hover {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
}
.home_shortReg .error_messages {
    color: #E97F02;
}
.home_shortReg .error {
    border: 1px solid #E97F02;
}
.home_shortReg .funnel_chkbx {
    display: block;
    margin-bottom: 5px;
    position: relative;
}
.home_shortReg .funnel_chkbx_inp {
    margin-left: 0;
}
.home_shortReg .funnel_terms_h {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -17px transparent;
    color: #093755;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding-left: 20px;
}
.home_shortReg .funnel_terms_h.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -32px transparent;
}
.home_shortReg .funnel_terms_h2 {
    color: #093755;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    margin: 5px 0;
}
#DE .home_shortReg .funnel_terms_h2 {
    font-size: 11px;
}
.home_shortReg .funnel_terms_h_in {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -18px transparent;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
}
.home_shortReg .funnel_terms_h_in.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -33px transparent;
}
.home_shortReg .funnel_terms_h2 span {
    color: #0284D6;
    cursor: pointer;
    text-decoration: underline;
}
.home_shortReg .funnel_terms {
    display: none;
}
.home_shortReg .funnel_drop_h {
    background: none repeat scroll 0 0 white;
    border: 1px solid #B3B3B3;
    color: #6E8695;
    display: inline-block;
    height: 29px;
    margin-bottom: 13px;
    padding: 0 3px 0 2px;
    position: relative;
    vertical-align: middle;
    width: 74px;
    z-index: 2;
}
.home_shortReg .funnel_drop_selected {
    background: url("../images/reg_elms.png") no-repeat scroll right 2px transparent;
    color: #6E8695;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
    margin-top: 5px;
    overflow: hidden;
}
.home_shortReg .funnel_drop_country {
    float: left;
    font-size: 12px;
    margin-top: 2px;
}
.home_shortReg .funnel_drop_countryId {
    float: right;
    font-size: 12px;
    margin: 2px 20px 0 0;
    text-align: right;
}
.home_shortReg .funnel_drop_ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #859199;
    display: none;
    left: -1px;
    list-style: none outside none;
    margin: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 26px;
}
.home_shortReg .funnel_drop_ul li {
    color: #093755;
    cursor: pointer;
    display: block;
    padding: 1px 2px;
    white-space: nowrap;
}
.home_shortReg .funnel_drop_ul li:hover, .home_shortReg .funnel_drop_ul li.active {
    background: none repeat scroll 0 0 #92ACC0;
    color: white;
}
.home_shortReg .funnel_drop_h.active {
    border: 1px solid #D7D6D6;
    color: #093755 !important;
}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul {
    border: 1px solid #859199;
    display: block;
}
.home_shortReg .funnel_names_error_h {
    position: absolute;
    right: 14px;
    top: 7px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_names_error_h_chb {
    position: absolute;
    right: 14px;
    top: 7px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_error_hide {
    display: none;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_error_bad {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -50px transparent;
    display: inline-block;
    height: 11px;
    margin-top: 4px;
    width: 11px;
}
.home_shortReg .funnel_error_good {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -61px transparent;
    display: inline-block;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_tooltip_h {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #3B6079;
    display: none;
    padding: 5px;
    position: absolute;
    right: -194px;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 170px;
}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -73px transparent;
    display: block;
    height: 18px;
    left: -14px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_tooltip_h_left {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #3B6079;
    color: #093755;
    display: none;
    font-size: 10px;
    left: -167px;
    line-height: 13px;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 140px;
	z-index:10000;
}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -94px transparent;
    display: block;
    height: 18px;
    left: 150px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_error_list {
    color: #FB7C00;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
    width: 240px;
}
.home_shortReg .funnel_error_list span {
    display: block;
}
.home_shortReg .funnel_names_error_msg_h {
    display: none;
}
.home_shortReg .funnel_inp_first_name {
    width: 88px;
}
.home_shortReg .funnel_inp_last_name {
    margin-left: 3px;
    width: 145px;
}
funnel_drop_selected.active {
    color: #093755 !important;
}
/*short reg hp end*/
/******Search help************/
.home_shortReg .funnel_drop_ul_search {
	position: absolute;
	left: -9999em;
	margin: 0px;
	padding: 0;
	border-bottom: 1px solid #859199;
	background: url(../images/search-icon.png) no-repeat 3px 3px !important;
}
.home_shortReg .funnel_drop_ul_search_inp {
	border: 0px;
	background: url('http://images.anyoption.com/ao/reg_inp_bgr.png');
	background: rgba(255,255,255,0.21);
	padding: 0;
	margin: 0;
	color: #093755;
	text-indent: 20px;
}
/*short reg hp end*/
