<section class="academy-section">
	<div class="wrapper">
		<div class="header-box"><h2 ng-bind-html="mCtrl.getMsg('e-books')"></h2></div>
		<ul class="academy-list inner-box books">
			<li ng-repeat="book in AcCtrl.contentList.ebooks" ng-click="AcCtrl.openContent(book)">
				<div class="top">
					<img ng-src="app/img/academy/ebooks/{{mCtrl.getSkin().locale}}-book-{{::book.id}}.png"/>
				</div>
				<div class="bottom">
					<span class="link">{{::mCtrl.getMsg('read-more')}} <i class="fa fa-caret-right"></i></span>
				</div>
			</li>
		</ul>
		<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt1')}}</p>
		<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt2')}}</p>
		<p class="txt-box">{{::mCtrl.getMsg('ebooks.txt3')}}</p>
	</div>
</section>
<section class="academy-section" ng-include="'app/views/academy/sections/top-e-courses.html'"></section>