<section class="academy-section">
	<div class="wrapper">
		<p>{{::mCtrl.getMsg('elearning.txt1')}}</p>
	</div>
</section>
<section class="academy-section" ng-include="'app/views/academy/sections/top-e-books.html'"></section>
<section class="academy-section" ng-include="'app/views/academy/sections/top-e-courses.html'"></section>