<section class="academy-section intro">
	<div class="wrapper">
		<div class="header-box row">
			<h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt1')"></h2>
			<span class="sub-heading">{{::mCtrl.getMsg('intro.sub-heading')}}</span>
		</div>
		<p class="row">{{::mCtrl.getMsg('intro.txt1')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt2')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt3')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt4')}}</p>
		<img class="img row" src="app/img/academy/intro.png"/>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt2')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt5')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt6')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt7')}}</p>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt3')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt8')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt1')"></h3></div>
		<ul class="dots-list row">
			<li><span>{{::mCtrl.getMsg('intro.how-to-trade.li.1')}}</span></li>
			<li><span>{{::mCtrl.getMsg('intro.how-to-trade.li.2')}}</span></li>

			<li ng-if="mCtrl._u.getSkin().locale != 'en'"><span>{{::mCtrl.getMsg('intro.how-to-trade.li.3')}}</span></li>

			<li><span>{{::mCtrl.getMsg('intro.how-to-trade.li.4')}}</span></li>
			<li><span>{{::mCtrl.getMsg('intro.how-to-trade.li.5')}}</span></li>
		</ul>
		<p class="row">{{::mCtrl.getMsg('intro.txt9')}}</p>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt4')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt10')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt11')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt12')}}</p>
		<img class="img row" src="app/img/academy/intro-strategies.png"/>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt2')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt13')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt14')}}</p>

		<p class="row" ng-if="mCtrl._u.getSkin().locale == 'en'">{{::mCtrl.getMsg('intro.txt15')}}</p>

		<p class="row">{{::mCtrl.getMsg('intro.txt16')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt3')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt17')}}</p>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt5')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt18')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt4')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt19')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt5')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt20')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt6')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt21')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt7')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt22')}}</p>

		<p class="row" ng-if="mCtrl._u.getSkin().locale == 'en'">{{::mCtrl.getMsg('intro.txt23')}}</p>

		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt8')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt24')}}</p>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt6')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt25')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt26')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt27')}}</p>
		<img class="img row" src="app/img/academy/intro-signals.png"/>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt9')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt28')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt29')}}</p>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt7')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt30')}}</p>
		<p class="row" ng-bind-html="mCtrl.getMsg('intro.txt31', {minAmount: mCtrl._u.getCurrency().minFirstDeposit})"></p>
		<p class="row">{{::mCtrl.getMsg('intro.txt32')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt10')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt33')}}</p>
		<ul class="dots-list row">
			<li><span ng-bind-html="mCtrl.getMsg('intro.trading-platforms.li.1')"></span></li>
			<li><span ng-bind-html="mCtrl.getMsg('intro.trading-platforms.li.2')"></span></li>
			<li><span ng-bind-html="mCtrl.getMsg('intro.trading-platforms.li.3')"></span></li>
		</ul>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt8')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt34')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt35')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt11')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt36')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt37')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt38')}}</p>
		<a class="row" ui-sref="ln.academy" ng-bind-html="mCtrl.getMsg('intro.txt39')"></a>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt12')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt40')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt41')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt42')}}</p>
		<div class="header-box row"><h3 ng-bind-html="mCtrl.getMsg('intro.h3.txt13')"></h3></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt43')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt44')}}</p>
		<div class="header-box row"><h2 ng-bind-html="mCtrl.getMsg('intro.h2.txt9')"></h2></div>
		<p class="row">{{::mCtrl.getMsg('intro.txt45')}}</p>
		<p class="row">{{::mCtrl.getMsg('intro.txt46')}}</p>
	</div>
</section>