<section class="academy-section">
	<div class="wrapper">
		<p>{{::mCtrl.getMsg('academy.video.long.c_1')}}</p>
	</div>
</section>
<section class="academy-section" ng-include="'app/views/academy/sections/top-vod-beginners.html'"></section>
<section class="academy-section" ng-include="'app/views/academy/sections/top-vod-intermediate.html'"></section>
<section class="academy-section" ng-include="'app/views/academy/sections/top-vod-advanced.html'"></section>