<section class="academy-section">
	<div class="wrapper">
		<div class="header-box"><h2 ng-bind-html="mCtrl.getMsg('advanced-trading-vidoes')"></h2></div>
		<ul class="academy-list inner-box">
			<li ng-repeat="video in AcCtrl.contentList.advanced" ng-click="AcCtrl.openContent(video)">
				<div class="top video-{{::video.id}}">
					<div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
				</div>
				<div class="bottom">
					<h3>{{::mCtrl.getMsg('academy.video.title.' + video.id)}}</h3>
					<div>{{::mCtrl.getMsg('academy.video.short.' + video.id)}} <span class="link">{{::mCtrl.getMsg('read-more')}} &#187;</span></div>
				</div>
			</li>
		</ul>
		<p class="txt-box">{{::mCtrl.getMsg('trading-videos-advanced.txt1')}}</p>
		<p class="txt-box">{{::mCtrl.getMsg('trading-videos-advanced.txt2')}}</p>
		<p class="txt-box">{{::mCtrl.getMsg('trading-videos-advanced.txt3')}}</p>
		<p class="txt-box">{{::mCtrl.getMsg('trading-videos-advanced.txt4')}}</p>
	</div>
</section>
<section class="academy-section">
	<div class="wrapper">
		<div class="header-box"><h2 ng-bind-html="mCtrl.getMsg('top-popular-videos')"></h2></div>
		<ul class="academy-list inner-box top-popular-videos">
			<li ng-repeat="video in AcCtrl.contentList.advanced | orderBy: 'randomOrder' | limitTo: 4" ng-click="AcCtrl.openContent(video)">
				<div class="top video-{{::video.id}}">
					<div class="play"><i class="fa fa-play" aria-hidden="true"></i></div>
				</div>
				<div class="bottom">
					<h3>{{::mCtrl.getMsg('academy.video.title.' + video.id)}}</h3>
					<div>{{::mCtrl.getMsg('academy.video.short.' + video.id)}} <span class="link">{{::mCtrl.getMsg('read-more')}} &#187;</span></div>
				</div>
			</li>
		</ul>
	</div>
</section>