<div class="row">
	<p ng-bind-html="::$ctrl._u.getMsg('bank-wire.p1',{supportFaxNumber: $ctrl._u.settings.supportFaxNumber,supportEmail: $ctrl._u.settings.supportEmail})"></p>
</div>
<div class="row">
	<p>{{::$ctrl._u.getMsg('beneficiary-name')}}: <span>{{$ctrl.bankWireInfo.accountName}}</span></p>
	<p>{{::$ctrl._u.getMsg('account-number')}}: <span>{{$ctrl.bankWireInfo.accountNumber}}</span></p>
	<p>{{::$ctrl._u.getMsg('iban')}}: <span>{{$ctrl.bankWireInfo.iban}}</span></p>
	<p>{{::$ctrl._u.getMsg('swift-bic-code')}}: <span>{{$ctrl.bankWireInfo.swift}}</span></p>
	<p>{{::$ctrl._u.getMsg('bank-name')}}: <span>{{$ctrl.bankWireInfo.bankName}}</span></p>
	<p>{{::$ctrl._u.getMsg('bank-address')}}: <span>{{$ctrl.bankWireInfo.address}}</span></p>
	<br />
	<p>{{::$ctrl._u.getMsg($ctrl.bankWireInfo.limitations)}}</p>
</div>
<div class="row">
	<p>{{::$ctrl._u.getMsg('bank-wire.p2')}}</p>
</div>