<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{applicationData.userLocale}"
        >

<div id="mainDiv" align="center" class="div_clear_float">
	<table cellspacing="0" cellpadding="0" border="0">
	  <tr>
	   <td>
	<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
		<tr><td height="10px"></td></tr>
		<tr>
			<td  align="center">
				<h3 class="pages_text" style="font-size: 14px;" ><strong><u><h:outputText value="#{msgs['CMS.anyoption_agreement.text.h3_1']}" escape="false" /></u></strong></h3>
			</td>
		</tr>
		<tr>
			<td  align="center">
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text1']}" escape="false" />
				</span>
				<br/><br/>
			</td>
		</tr>
		<tr>
			<td align="left">
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text2']}" escape="false" />
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text3']}" escape="false" />
					<p>
						<span style="font-size: 12px;">1.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text4']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">1.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text5']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">1.3.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text6']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">1.4.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text7']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">1.5.</span>
						<strong>
							<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text8']}" escape="false" />
						</strong>
					</p>

				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text9']}" escape="false" />
					<p>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text10']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text11']}" escape="false" />
					<p>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text12']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text13']}" escape="false" />
					<p>
						<span style="font-size: 12px;">4.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text14']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">4.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text15']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">4.3.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text16']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">4.4.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text17']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text18']}" escape="false" />
					<p>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text19']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text20']}" escape="false" />
					<p>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text21']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text22']}" escape="false" />
					<p>
						<span style="font-size: 12px;">7.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text23']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">7.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text24']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text25']}" escape="false" />
					<p>
						<span style="font-size: 12px;">8.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text26']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text27']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.3.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text28']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.4.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text29']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.5.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text30']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.6.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text31']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.7.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text32']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.8.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text33']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.9.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text34']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.10.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text35']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">8.11.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text36']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text37']}" escape="false" />
					<p>
						<span style="font-size: 12px;">9.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text38']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text39']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.3.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text40']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.4.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text41']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.5.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text42']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.6.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text43']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.7.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text44']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.8.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text45']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">9.9.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text46']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text47']}" escape="false" />
					<p>
						<span style="font-size: 12px;">10.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text48']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">10.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text49']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">10.3.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text50']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">10.4.</span>
					    <h:outputText value="#{msgs['CMS.anyoption_agreement.text.text51']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">10.5.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text52']}" escape="false" />			   </p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text53']}" escape="false" />
					<p>
						<span style="font-size: 12px;">11.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text54']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">11.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text55']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">11.3.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text56']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text57']}" escape="false" />
					<p>
						<span style="font-size: 12px;">12.1.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text58']}" escape="false" />
					</p>
					<p>
						<span style="font-size: 12px;">12.2.</span>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text59']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text60']}" escape="false" />
					<p>
						<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text61']}" escape="false" />
					</p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<br/><br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text62']}" escape="false" />
					<p>
						<strong>
							<h:outputText value="#{msgs['CMS.anyoption_agreement.text.text63']}" escape="false" />
						</strong>
						<br/><br/>
					 </p>
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<table class="pages_text" width="50px">
					<tr>
						<td width="10px"><u>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</u></td>
						<td width="30px">&#160;</td>
						<td width="10px"><u>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</u></td>
					</tr>
					<tr>
						<td width="10px" align="center"><h:outputText value="#{msgs['CMS.anyoption_agreement.text.text64']}" escape="false" /></td>
						<td width="30px">&#160;</td>
						<td width="10px" align="center"><h:outputText value="#{msgs['CMS.anyoption_agreement.text.text65']}" escape="false" /></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr><td height="30px"></td></tr>
		</table>
		<ui:include src="/mobile/general_terms_content.xhtml">
			<ui:param name="showPrint" value="false"/>
		</ui:include>
	   </td>
	  </tr>
	 </table>
	</div>
</f:view>
