<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>


<span style="display:none;">
	<t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/>
</span>
<div class="smartphone_content" style="padding-top:10px;">
	<img src="#{applicationData.imagesPath}/mobile/aoanywhere.png" width="260px" height="108px" />
</div>
<div id="mainDiv" align="left" class="smartphone_text" style="text-align:left;background-color:#ffffff;font-family:Verdana, Geneva, sans-serif;font-size:9pt;line-height: normal;color:#333;">
	<h:form id="contactForm">
		<br/>
		<h:outputText styleClass="width_100_prc" value="#{msgs['contact.message1']}" escape="false"/>
		<br/><br/>
		<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
			<h:outputLabel styleClass="lable width_100_prc" for="firstName" value="#{msgs['register.firstname']}"/>
			<h:inputText styleClass="input width_100_prc" id="firstName" value="#{contactUsForm.firstName}" required="true" validator="#{commonUtil.validateLettersOnly}" ></h:inputText>
			<t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" style="color:red;"/>
			<div class="width_100_prc fields_height" >&#160;</div>

			<h:outputLabel styleClass="lable width_100_prc" for="lastName" value="#{msgs['register.lastname']}"/>
			<h:inputText styleClass="input width_100_prc" id="lastName" value="#{contactUsForm.lastName}" required="true" validator="#{commonUtil.validateLettersOnly}"></h:inputText>
			<t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" style="color:red;"/>
			<div class="width_100_prc fields_height" >&#160;</div>

			<h:outputLabel styleClass="lable width_100_prc" for="email" value="#{msgs['register.email']}"/>
			<h:inputText styleClass="input width_100_prc" id="email" value="#{contactUsForm.email}"	 required="true" dir="ltr" maxlength="50">
					<f:validator validatorId="org.apache.myfaces.validator.Email"/>
			</h:inputText>
			<t:message id="emailError" for="email" replaceIdWithLabel="true" style="color:red;"/>
			<div class="width_100_prc fields_height" >&#160;</div>

			<h:outputLabel styleClass="lable width_100_prc" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
			<h:inputText styleClass="input width_100_prc" id="mobilePhone"	 value="#{contactUsForm.mobilePhone}" maxlength="14" dir="ltr" required="true">
				<f:validateLongRange/>
				<f:validateLength minimum='7' maximum='14'/>
			</h:inputText>
			<t:message id="mobilePhoneError" for="mobilePhone" replaceIdWithLabel="true" style="color:red;"/>
			<div class="width_100_prc fields_height" >&#160;</div>
		</h:panelGroup>

		<h:outputLabel rendered="#{applicationData.iphone || applicationData.android}" styleClass="lable width_100_prc" for="issue" value="#{msgs['contact.issue']}"/>
		<h:selectOneMenu rendered="#{applicationData.iphone || applicationData.android}" styleClass="combobox width_100_prc" id="issue" value="#{contactUsForm.contactIssue}" required="true">
			<f:selectItem itemLabel="" itemValue="" />
			<f:selectItems value="#{applicationData.contactIssues}" />
		</h:selectOneMenu>
		<t:message id="issueError" for="issue" replaceIdWithLabel="true" style="color:red;"/>
		<div class="width_100_prc fields_height" >&#160;</div>

		<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.country']}"/>
		<t:selectOneMenu styleClass="combobox width_100_prc" required="false" escape="false" id="countriesList" value="#{contactUsForm.countryId}" onchange="changePhoneAndFaxByCountry();">
			<f:selectItems value="#{contactUsForm.countries}" />
		</t:selectOneMenu>

	 	<h:outputLabel styleClass="lable width_100_prc" for="comments" value="#{msgs['contact.comments']}"/>
		<h:inputTextarea styleClass="width_100_prc" id="comments" value="#{contactUsForm.comments}" required="true" cols="50" rows="5" />
		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" style="color:red;"/>

		<div class="div_clear_float" align="left" style="width:230px;">
			<t:commandButton label="searchBtns" id="button" width="50px" height="20px" styleClass="nav_button_blue"
				value="#{msgs['button.do']}" onclick="return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" />
			<h:commandLink action="#{contactUsForm.sendContactEmail}" id="hiddenbtn" style="display:none"/>
		</div>

		<br/>
		<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message4']}"/>
		<span id="phone" class="howToTrade_txt" dir="ltr">#{contactUsForm.supportPhone}</span>
		<br/>
		<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message6']}"/>
		<span id="fax" class="howToTrade_txt" dir="ltr">#{contactUsForm.supportFax}</span>
		<br/>
		<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message5']}"/>
		<br/>
		<h:outputText styleClass="howToTrade_txt" value=" #{msgs['contact.time.other']}"/>&#160;<h:outputText styleClass="howToTrade_txt" escape="false" value="#{contactUsForm.supportTime}"/>
		<br/>
		<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message2']}"/>
		<h:outputText value=" #{msgs['contact.message3']}" />
		<br/><br/>

		<h:panelGroup rendered="#{applicationData.iphone}"><p><a href="#" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/iphone/download-mobile-trading.jsf'" class="smartphone_lightB" style="color:#db0000;font-family:Arial, Helvetica, sans-serif;"><strong>&lt;&lt; <h:outputText value="#{msgs['mobile.appContact.back']}"/></strong></a></p></h:panelGroup>
		<h:panelGroup rendered="#{applicationData.android}"><p><a href="#" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/android/download-mobile-trading.jsf'" class="smartphone_lightB" style="color:#db0000;font-family:Arial, Helvetica, sans-serif;"><strong>&lt;&lt; <h:outputText value="#{msgs['mobile.appContact.back']}"/></strong></a></p></h:panelGroup>
		<h:panelGroup rendered="#{!(applicationData.iphone || applicationData.android)}"><p><a href="#" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/download-mobile-trading.jsf'" class="smartphone_lightB" style="color:#db0000;font-family:Arial, Helvetica, sans-serif;"><strong>&lt;&lt; <h:outputText value="#{msgs['mobile.appContact.back']}"/></strong></a></p></h:panelGroup>
	</h:form>
</div>
</f:view>