<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		<h:panelGroup rendered="#{!registerFormMobile.agreementMode}">
			#{msgs['mobile.window.title.register']}
		</h:panelGroup>
		<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
			<h:outputText value="#{msgs['mobile.window.title.general.terms']}"/>
		</h:panelGroup>
	</ui:define>
	<ui:define name="pageTitle">
		<h:panelGroup rendered="#{!registerFormMobile.agreementMode}">
			#{msgs['header.openaccount']}
		</h:panelGroup>
		<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
			<ui:define name="title">#{msgs['header.agreement']}</ui:define>
		</h:panelGroup>
	</ui:define>
	<ui:define name="head">
		<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel.css" type="text/css" media="all" />
		<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel-min.js?v=1.4"></script>
	</ui:define>
	<ui:define name="leftSideHeader">
		<h:panelGroup rendered="#{!registerFormMobile.agreementMode &amp;&amp; registerFormMobile.pageSection != 1}">
			<script>
				function backLink() {
					var sectionLink = document.getElementById("registerForm#{registerFormMobile.pageSection}:backSection");
					sectionLink.onclick();
				}
			</script>
			<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/back.png"
				width="54px" height="20px" style="padding-top:8px; float: inherit;" class="padd-left5"
				onclick="backLink();" />
		</h:panelGroup>
		<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
			<script>
				function backLink() {
					var sectionLink = document.getElementById("ag_form:agreementBackSection");
					sectionLink.onclick();
				}
			</script>
		   <img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/back.png"
				width="54px" height="20px" style="padding-top:8px; float: inherit;" class="padd-left5"
				onclick="backLink();" />
		</h:panelGroup>
	</ui:define>
	<ui:define name="pageTitleInner">
		<h:panelGroup rendered="#{!registerFormMobile.agreementMode}">
			<div class="subhead" align="center">
				<h:outputLabel rendered="#{registerFormMobile.pageSection == 1}" value="#{msgs['register.account.details']}" />
				<h:outputLabel rendered="#{registerFormMobile.pageSection == 2}" value="#{msgs['mobile.registration.step2']} #{msgs['register.personal.details']}" />
				<h:outputLabel rendered="#{registerFormMobile.pageSection == 3}" value="#{msgs['mobile.registration.step3']} #{msgs['register.personal.details']}" />
			</div>
		</h:panelGroup>
	</ui:define>
	<ui:define name="content">
		<h:panelGroup rendered="#{!registerFormMobile.agreementMode}">

			<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
			<script>
				var userNameErrorMsg="";
				function validateUserName() {
				    var target = document.getElementById("registerForm1:userName");
					if(target.value.length>0) {
					    var url = "ajax.jsf?username=" + encodeURIComponent(target.value);
					    var ajax = new AJAXInteraction(url, validateCallback);
					    ajax.doGet();
				    }
				}


				/*
				   Change the phone code by the value of the country
				*/
				function changePhoneCodeByCountry() {
				    var countryId = document.getElementById("registerForm3:countriesList").value;
				    stateShowByCountry();
				    var url = "ajax.jsf?countryId=" + countryId;
				    var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
				    ajax.doGet();
				}

				function stateShowByCountry() {
					var countryId = document.getElementById("registerForm3:countriesList").value;
				    //alert(countryId);
				    if(countryId == 220){
				    	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				    		document.getElementById('registerForm3:statesList').style.display='block';
					    	document.getElementById('registerForm3:statesLabel').style.display='block';
					    } else {
						    document.getElementById('registerForm3:statesList').style.display='table-row';
					    	document.getElementById('registerForm3:statesLabel').style.display='table-row';
					    }
					}else{
				    	document.getElementById("registerForm3:statesList").style.display="none";
				    	document.getElementById("registerForm3:statesLabel").style.display="none";
				    }
				}

				/*
					callBack function for changePhoneCodeByCountry()
				*/
				function changePhoneCodeByCountryCallback(responseXML) {
				   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
			   	   var phoneCodeElm = document.getElementById("registerForm3:mobilePhoneCode");
				   phoneCodeElm.value = codeValue;
				}

				function validateCallback(responseXML) {
				   var msg = responseXML.getElementsByTagName("errormsg")[0].firstChild.nodeValue;
				   if (msg != '&#160;') {
						if (isAndroidApp) {
							window.AlertInterface.showAlert(msg);
						} else if (isIPhoneApp &amp;&amp; appVer > '1.0') {
							window.location = "alertinterface://" + encodeURI(msg);
						} else {
							customAlert(null, msg, null);
						}
				   }
				}

				//	phone code keyDown
				//  allow tab key
				function phoneKeys(e) {
					var keynum;
					if(window.event) { // IE
					  keynum = e.keyCode;
			  		}
			  		else if(e.which) {  // Netscape/Firefox/Opera
					  keynum = e.which;
				    }
					if (keynum != 9) {  // tab key
						return false;
				  	}
				}

				function validateEmail() {
				    var target = document.getElementById("registerForm1:email");
					if (target.value.length > 0){
					    var url = "ajax.jsf?emailValidation=" + encodeURIComponent(target.value);
					    var ajax = new AJAXInteraction(url, validateEmailCallback);
					    ajax.doGet();
				    }
				}

				function validateEmailCallback(responseXML) {
				   var msg = responseXML.getElementsByTagName("errormsg")[0].firstChild.nodeValue;
				   if (msg != '&#160;') {
						if (isAndroidApp) {
							window.AlertInterface.showAlert(msg);
						} else if (isIPhoneApp &amp;&amp; appVer > '1.0') {
							window.location = "alertinterface://" + encodeURI(msg);
						} else {
							customAlert(null, msg, null);
						}
				   }
				}

				/*
				insert into register attempts AJAX call
				*/
				function insertUpdateRegisterAttempts() {
					var email = document.getElementById("registerForm1:email");
					var firstName = document.getElementById("registerForm2:firstName");
					var lastName = document.getElementById("registerForm2:lastName");
					var countryId = document.getElementById("registerForm3:countriesList");
					var mobilePhone = document.getElementById("registerForm3:mobilePhone");
					if (email.value.length > 0 || mobilePhone.value.length > 6 ){
				    	var url = "ajax.jsf?emailRegisterAttempts=" + encodeURIComponent(email.value) + "&amp;firstNameRegisterAttempts=" + encodeURIComponent(firstName.value) + "&amp;lastNameRegisterAttempts=" + encodeURIComponent(lastName.value) + "&amp;countryRegisterAttempts=" + encodeURIComponent(countryId.value) + "&amp;mobilePhoneRegisterAttempts=" + encodeURIComponent(mobilePhone.value);
				    	var ajax = new AJAXInteraction(url, null);
				    	ajax.doGet();
				    }
				}

			</script>

			<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
			<div id="mainDiv" align="center" class="pages_main_div">
				<div class="left_align width_100_prc" align="left">
					<h:panelGroup style="display:#{registerFormMobile.pageSection == 1 ? 'inline' : 'none'}" >
						<h:form id="registerForm1">
							<h:outputLabel styleClass="lable" for="userName" value="#{msgs['register.username']}" />
							<h:inputText dir="ltr" autocomplete="off" onblur="validateUserName()" required="#{registerFormMobile.pageSection == 1 ? 'true' : 'false'}"
				               		styleClass="input width_100_prc" maxlength="15"
				             		id="userName" value="#{registerFormMobile.userName}" vLabel="register.username"
									validator="#{commonUtil.validateLettersAndNumbersOnly}" >
				                <f:validateLength minimum='6' maximum='15'/>
				             </h:inputText>
				             <div class="width_100_prc fields_height" >&#160;</div>

				             <h:outputLabel align="right" styleClass="lable" for="password" value="#{msgs['register.password']}" />
				             <h:inputSecret dir="ltr" styleClass="input width_100_prc" maxlength="9" redisplay="true" id="password"
				             		value="#{registerFormMobile.password}" required="#{registerFormMobile.pageSection == 1 ? 'true' : 'false'}" vLabel="register.password"
				                	validator="#{commonUtil.validatePasswordTypeAndSize}">
				              </h:inputSecret>
				             <div class="width_100_prc fields_height" >&#160;</div>

				             <h:outputLabel align="right" styleClass="lable" for="password2" value="#{msgs['register.retype']}"  />
				             <h:inputSecret dir="ltr" styleClass="input width_100_prc" maxlength="9" redisplay="true"
				             		id="password2" value="#{registerFormMobile.password2}" required="#{registerFormMobile.pageSection == 1 ? 'true' : 'false'}"
				             		 validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
				             </h:inputSecret>
				             <div class="width_100_prc fields_height" >&#160;</div>

				             <h:outputLabel align="right" styleClass="lable" for="currenciesList" value="#{msgs['register.currency']}" />
							 <h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="combobox width_100_prc" id="currenciesList" value="#{registerFormMobile.currencyId}" required="#{registerFormMobile.pageSection == 1 ? 'true' : 'false'}">
			                		<f:selectItems value="#{applicationData.currenciesBySkinId}" />
						     </h:selectOneMenu>
				             <div class="width_100_prc fields_height" >&#160;</div>

							 <h:outputLabel align="right" styleClass="lable" for="email" value="#{msgs['register.email']}" />
			                 <h:inputText dir="ltr" maxlength="50" styleClass="input width_100_prc" id="email" value="#{registerFormMobile.email}" validator="#{commonUtil.validateEmailFromUnix}"
			                 		required="#{registerFormMobile.pageSection == 1 ? 'true' : 'false'}" onblur="validateEmail();insertUpdateRegisterAttempts();" vLabel="register.email">
			                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
			                </h:inputText>
				            <div class="width_100_prc fields_height" >&#160;</div>
							<h:commandLink action="#{registerFormMobile.nextStepReg}" id="hiddenbtn" style="display:none"/>
						</h:form>
					</h:panelGroup>

					<h:panelGroup style="display:#{registerFormMobile.pageSection == 2 ? 'inline' : 'none'}" >
						<h:form id="registerForm2">
							<h:outputLabel align="right" styleClass="lable" for="firstName" value="#{msgs['register.firstname']}" />
							<h:inputText styleClass="input width_100_prc" maxlength="15" id="firstName"
							  		value="#{registerFormMobile.firstName}" required="#{registerFormMobile.pageSection == 2 ? 'true' : 'false'}" vLabel="register.firstname"
			                           validator="#{commonUtil.validateLettersOnly}" >
			                </h:inputText>
			             	<div class="width_100_prc fields_height" >&#160;</div>

							<h:outputLabel align="right" styleClass="lable" for="lastName" value="#{msgs['register.lastname']}"   />
			 					<h:inputText styleClass="input width_100_prc" maxlength="15" id="lastName"
			 						value="#{registerFormMobile.lastName}" required="#{registerFormMobile.pageSection == 2 ? 'true' : 'false'}" vLabel="register.lastname"
				                       validator="#{commonUtil.validateLettersOnly}" >
			                </h:inputText>
			             	<div class="width_100_prc fields_height" >&#160;</div>

							<h:outputLabel align="right" styleClass="lable" for="street" value="#{msgs['register.street']}"   />
							<h:inputText styleClass="input width_100_prc" maxlength="40" id="street" value="#{registerFormMobile.street}"
									required="#{registerFormMobile.pageSection == 2 ? 'true' : 'false'}" vLabel="register.street"
				                validator="#{commonUtil.validateStreet}" >
			                </h:inputText>
			             	<div class="width_100_prc fields_height" >&#160;</div>

							<h:outputLabel align="right" styleClass="lable" for="cityNameAO" value="#{msgs['register.city']}"   />
							<t:inputText escape="false" maxlength="24" autocomplete="off" styleClass="input width_100_prc" id="cityNameAO"
					         		name="cityNameAO" value="#{registerFormMobile.cityNameAO}" required="#{registerFormMobile.pageSection == 2 ? 'true' : 'false'}"
							         	validator="#{commonUtil.validateLettersOnly}" vLabel="register.city" >
					         </t:inputText>
			             	<div class="width_100_prc fields_height" >&#160;</div>

			                <h:outputLabel align="right" styleClass="lable" for="zipCode" value="#{msgs['register.postcode']}"   />
			                <h:inputText styleClass="input width_100_prc" dir="ltr" maxlength="10" id="zipCode" size="15" value="#{registerFormMobile.zipCode}" />
			             	<div class="width_100_prc fields_height" >&#160;</div>

							<h:outputLabel align="right" id="birth" for="birthDay" styleClass="lable" value="#{msgs['register.birthdate']}"  />
							<div class="date_select_div" onclick="showDatePicker(#{applicationData.androidApp}, 'registerForm2:birthDayDate','registerForm2:dateSpan', 1980, 5, 1);">
								<h:outputText style="margin-left:7px;" id="dateSpan" value="#{registerFormMobile.birthDayDate}">
									<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
								</h:outputText>
							    <h:inputHidden id="birthDayDate" name="birthDayDate" value="#{registerFormMobile.birthDayDate}">
							    	<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
							    </h:inputHidden>
							</div>
			             	<div class="width_100_prc fields_height" >&#160;</div>
			             	<div class="width_100_prc fields_height" >&#160;</div>
							<h:commandLink action="#{registerFormMobile.nextStepReg}" id="hiddenbtn" style="display:none"/>

							<t:commandLink id="backSection" action="#{registerFormMobile.back}" immediate="true"  style="display:none">
								<img src="#{facesContext.externalContext.requestContextPath}/mobile/#{applicationData.imagesSubDirectory}/back.png" width="54px" height="20px" style="padding-top:8px; float: inherit;" class="padd-left5" />
						    </t:commandLink>
						</h:form>
			        </h:panelGroup>

					<h:panelGroup style="display:#{registerFormMobile.pageSection == 3 ? 'inline' : 'none'}" >
						<h:form id="registerForm3">
							<h:outputLabel align="right" styleClass="lable" for="countriesList" value="#{msgs['register.country']}"   />
							<h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="combobox width_100_prc" id="countriesList" value="#{registerFormMobile.countryId}"
											required="#{registerFormMobile.pageSection == 3 ? 'true' : 'false'}" onchange="changePhoneCodeByCountry();" >
			                		<f:selectItems value="#{applicationData.countriesList}" />
					        </h:selectOneMenu>
			             	<div class="width_100_prc fields_height" >&#160;</div>

					        <h:outputLabel id="statesLabel"  styleClass="lable" for="statesList" value="#{msgs['register.state']}"   />
					        <h:selectOneMenu styleClass="combobox width_100_prc" id="statesList" value="#{registerFormMobile.stateId}" required="#{registerFormMobile.pageSection == 3 ? 'true' : 'false'}">
					             <f:selectItems value="#{applicationData.statesList}" />
					        </h:selectOneMenu>
			             	<div class="width_100_prc fields_height" >&#160;</div>

					        <h:outputLabel align="right" styleClass="lable" for="mobilePhone" value="#{msgs['register.mobilephone']}"   />
					        <div>
					        	<h:outputLabel width="3%" align="center" styleClass="lable" value="+" />
			               	   	<h:inputText maxlength="4" styleClass="input" style="width:15%;" dir="ltr" id="mobilePhoneCode" value="#{registerFormMobile.mobilePhoneCode}"
			               	   			 required="#{registerFormMobile.pageSection == 3 ? 'true' : 'false'}" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
			                	</h:inputText>
								<span style="width:1px"></span>
			               	   	<h:inputText maxlength="20" styleClass="input" style="width:50%;" dir="ltr" id="mobilePhone" value="#{registerFormMobile.mobilePhone}" onblur="insertUpdateRegisterAttempts();"
			               	   			required="#{registerFormMobile.pageSection == 3 ? 'true' : 'false'}">
			                	  	<f:validateLength minimum='7' maximum='20'/>
			                	  	<f:validateLongRange/>
			                	</h:inputText>
					        </div>
			             	<div class="width_100_prc fields_height" >&#160;</div>

				            <h:outputLabel align="left" styleClass="lable" for="gender" value="#{msgs['register.gender']}"/>
				            <t:selectOneRadio styleClass="lable" id="gender" value="#{registerFormMobile.gender}" required="#{registerFormMobile.pageSection == 3 ? 'true' : 'false'}">
				            	<f:selectItem itemLabel="#{msgs['register.gender.male']}" itemValue="M" />
								<f:selectItem itemLabel="#{msgs['register.gender.female']}" itemValue="F" />
				            </t:selectOneRadio>
			            	<div class="width_100_prc fields_height" >&#160;</div>

							<h:selectBooleanCheckbox id="terms" escape="false" value="#{registerFormMobile.terms}" required="#{registerFormMobile.pageSection == 3 ? 'true' : 'false'}"></h:selectBooleanCheckbox>
							<span onclick="return myfaces.oam.submitForm('registerForm3','registerForm3:hiddenbtnTerms');" class="blue_link_10 no_underline">#{msgs['register.terms']}</span>
			             	<div class="width_100_prc fields_height" >&#160;</div>
			             	<h:commandLink action="#{registerFormMobile.nextStepReg}" id="hiddenbtn" />
			             	<t:commandLink id="backSection" action="#{registerFormMobile.back}" immediate="true"  style="display:none" />
			             	<t:commandLink id="hiddenbtnTerms" action="#{registerFormMobile.setAgreementModeTrue}" immediate="true" />
						</h:form>
						<script language="Javascript">
							stateShowByCountry();
						</script>
			        </h:panelGroup>

				</div>
				<div class="div_clear_float width_100_prc" align="center" >
					<t:commandButton label="savelink1" id="loginBtns1" width="50px" height="20px" styleClass="nav_button_blue"
							value="#{msgs['mobile.button.next']}" rendered="#{registerFormMobile.pageSection == 1}" onclick="return myfaces.oam.submitForm('registerForm1','registerForm1:hiddenbtn');" />
					<t:commandButton label="savelink2" id="loginBtns2" width="50px" height="20px" styleClass="nav_button_blue"
							value="#{msgs['mobile.button.next']}" rendered="#{registerFormMobile.pageSection == 2}" onclick="return myfaces.oam.submitForm('registerForm2','registerForm2:hiddenbtn');" />
					<t:commandButton label="savelink3" id="loginBtns3" width="50px" height="20px" styleClass="nav_button_blue"
							value="#{msgs['button.do']}" rendered="#{registerFormMobile.pageSection == 3}" onclick="return myfaces.oam.submitForm('registerForm3','registerForm3:hiddenbtn');" />


				</div>
				<br/><br/>
			</div>

			<script>
				displayFirstErrorDiv();
				document.getElementById("registerForm1:email").type="email";
		    	document.getElementById("registerForm1:mobilePhone").type="number";
			</script>

		</h:panelGroup>

		<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
			<ui:include src="/mobile/anyoption_agreement.xhtml"></ui:include>
			<h:form id="ag_form">
				<t:commandLink id="agreementBackSection" action="#{registerFormMobile.setAgreementModeFalse}" immediate="true"></t:commandLink>
			</h:form>
		</h:panelGroup>

	   <h:panelGroup rendered="#{applicationData.isLive &amp;&amp; applicationData.combinationId == '2059'}">
			<!-- Tag for Activity Group: 168qiquan, Activity Name: AnyOption:Registro, Activity ID: 701447 -->
			<!-- Expected URL: https://www.168qiquan.com/jsp/register.jsf -->

			<!--
			Activity ID: 701447
			Activity Name: 168qiquan:Registro
			Activity Group Name: 168qiquan

			Start of DoubleClick Floodlight Tag: Please do not remove
			Activity name of this tag: 168qiquan:Registro
			URL of the webpage where the tag is expected to be placed: https://www.168qiquan.com/jsp/register.jsf
			This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
			Creation Date: 06/24/2010
			-->
			<script type="text/javascript">
			var axel = Math.random() + "";
			var a = axel * 10000000000000;
			document.write('<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=' + a + '?" width="1" height="1" frameborder="0"></iframe>');
			</script>
			<noscript>
			<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=1?" width="1" height="1" frameborder="0"></iframe>
			</noscript>

			<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
		</h:panelGroup>

	</ui:define>

</ui:composition>

</html>