@charset "utf-8";
/* anyoption general CSS Document */
body {
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background:#f4f4f4 url(../images/bg.png) 0px 205px repeat-x;
	color:#566764;
	width:100%;
}
#page {
	width:975px;
	margin: 25px auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	background:#fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: solid 3px #76a3bc;
	text-shadow: 2px 2px 4px #000000 !important;
}
img {
	border:none;
}
p {
	margin:10px 0;
}
#main {
	width:100%;
	height:590px;
	text-align:center;
	color:#fff;
	background:transparent url(../images/bg_content_BL.jpg) 10px bottom no-repeat;
}
#title {
	padding: 42px 35px 0 35px;
	margin: 0;
	float: left;
	width: 905px;
	background:transparent url(../images/bg_content_TR.png) right top no-repeat;
	text-align: left;
}
#demo {
	background:transparent;
	width:820px;
	height:465px;
	position:absolute;
	top:135px;
	right:-20px;
 vertical-align:: top;
	text-align: left;
}
.flash_item {
	left: 3px;
	position: absolute;
	top: -15px;
}
#formbox {
	height:100px;
	width:980px;
	margin:0 auto;
	background:url(../images/formbk.png) no-repeat bottom;
	position: relative;
	top: 315px;
}
#inputbox {
	float:left;
	text-align:left;
}
#inputbox .title {
	font-size:14px;
	font-weight:bold;
	color:#064064;
	margin-left: 7px;
}
.input1 {
	background:url(../images/inputbox.png) no-repeat 0 0;
	width:171px;
	height:46px;
}
.input1 input {
	margin-top:16px;
	margin-left:13px;
	width: 145px;
	border:none;
	background-color:transparent;
}
.input1s {
	background:url(../images/inputboxs.png) no-repeat 0 0;
	width:66px;
	height:46px;
}
.input1s input {
	margin-top:16px;
	margin-left:13px;
	width: 40px;
	border:none;
	background-color:transparent;
}
.submit_image {
	margin-top: 13px;
}
.agree_line {
	color:#838383;
	font-size:10px;
	text-align:left;
	margin-top: -5px;
	margin-left: 4px;
}
.agree {
	float: left;
	margin: 0 5px 0 0;
}
#Checkbox1 {
	vertical-align: middle;
}
.agree_text {
	float: left;
	width: 210px;
}

#tr .agree_text {
	padding-top:4px;
}

.submin_swf {
	float: left;
	margin-left: -25px;
}
#footer {
	text-align:center;
	width:986px;
	margin:0 auto;
	font-size:9px;
}
#footer .icons {
	height:30px;
	margin:10px auto;
	padding-left: 20px;
	width: 370px;
}
#footer .icons .icon_space {
	margin-right:20px;
	float:left;
}
#footer .links {
	margin-top:20px;
	margin-bottom:15px;
}
#footer .footer_text {
	color: #083755;
	font-size: 11px;
	font-weight: normal;
	width: 600px;
margin: 0 auto;
}
#footer .footer_link {
	color: #0284D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#lightbox {
	display:none;
	font-size:18px;
	position:absolute;
	z-index:100;
	top:200px;
	background:url(../images/lightbox_bk.png) no-repeat;
	width:333px;
	height:280px;
	overflow:hidden;
	color:#fff;
	text-align:center;
}
#lightbox .text {
	color:#064e7d;
	width:110px;
	text-align:left;
	margin:0 auto;
	font-size: 13px;
}
#lightbox .number {
	font-weight:bold;
	color:#064e7d;
	background:url(../images/lb_mark.png) no-repeat;
	width:120px;
	height:27px;
	margin: 0 auto;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}
#lightbox .above {
	color:#628d13;
}
#lightbox .below {
	color:#c50000;
}
#lightbox #amount {
	margin-top:45px;
}
#buy_button {
	background:url(../images/buy_button.png) no-repeat;
	width:139px;
	height:57px;
	cursor:pointer;
	margin:8px auto 0;
}
#lightbox_close {
	background:url(../images/close_button.png) no-repeat;
	width:8px;
	height:8px;
	margin: 0 auto;
	cursor:pointer;
	position: absolute;
	right: 35px;
	top: 35px;
}
#lightform {
	/*display:none;*/
	font-size:18px;
	position:absolute;
	z-index:100;
	top:100px;
	background:url(../images/lightform_bk.png) no-repeat;
	width:361px;
	height:505px;
	overflow:hidden;
	color:#fff;
	text-align:center;
}
#lightform .in_header {
	width:228px;
	margin: 0 auto;
	text-align:left;
	color:#064064;
	font-size:14px;
	font-weight:normal;
	margin-top: 10px;
	margin-bottom: 5px;
}
#lightform .first {
	margin-top:60px;
}
#lightform .input1 {
	background:url(../images/lf_input1.png) no-repeat 0 0;
	width:228px;
	height:28px;
	margin: 0 auto;
}
#lightform .input2 {
	background:url(../images/lf_input2.png) no-repeat 0 0;
	width:67px;
	height:28px;
	margin: 0 auto;
	float:left;
}
#lightform .input3 {
	background:url(../images/lf_input3.png) no-repeat 0 0;
	width:157px;
	height:27px;
	/*margin-left: 71px;*/
	float: right;
}
.ie8 input {
	padding-top: 7px;
}
.ie7 input {
	padding-top: 6px;
}
input {
	padding-top: 3px;
	padding-left: 3px;
	font-size: 14px !important;
}
#lightform .input1 input {
	margin-left:0;
	margin-top: 0;
	width: 222px;
	height: 23px;
	border:none;
	background-color:transparent;
}
#lightform .input2 input {
	margin-top:0px;
	margin-left:0px;
	width: 62px;
	height: 23px;
	border:none;
	background-color:transparent;
}
#lightform .input3 input {
	margin-top:0;
	margin-left:0px;
	width: 152px;
	height: 23px;
	border:none;
	background-color:transparent;
	float: left;
}
.in_phone {
	margin: 0 auto;
	width: 228px;
}
#lightform .agree_line {
	margin: 10px 0 10px 65px;
	width: 235px;
	float: left;
}
#lightform .submit_image {
	margin-top:4px;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.5;
	filter: alpha(opacity = 50);
	position:absolute;
	top:0;
	width:100%;
	min-width:1200px;
	z-index:99;
}
.error, #lightform .error {
	background-position: 0px -28px;
}
.tryit_swf {
	margin-top: 70px;
}
.callme_swf {
	margin-top: 20px;
}
.submin_swf {
	margin-left: 55px;
}





#error_box		{display:none;position:absolute; z-index:100; top:300px; background:url(../images/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#000;}
.error_button	{background:url(../../images/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

#error_message { float: left; width: 228px;  height: 24px; margin:0 0 15px 65px;; color: #d41016; font-size: 12px; text-align: left; }


/* 															 LOCALIZATIONS  																*/


#ar { direction: rtl; }
#ar .agree_line { text-align: right; }
#ar .agree { float: right; }
#ar #lightform .input2 { float: right; }
#ar #lightform .input3 { float: left; }
#ar .in_header { text-align: right; }
