﻿<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">


<br/>

<span class="info_pages_text">
Digitaloptionen (auch Digitals genannt) sind eine neue Klasse von Optionen, die sich deutlich von herkömmlichen Optionen, Futures oder CFDs unterscheiden. Bei herkömmlichen Optionen erhält der Marktteilnehmer im Voraus <b>unbekannte</b> Zahlungen im Verhältnis zum <b>Kursunterschied</b> des Basiswertes, bei digitalen Optionen stehen die im Voraus <b>bekannten</b> Zahlungen im Verhältnis zum <b>Meinungsunterschied</b> der Marktteilnehmer.
</span>
<br/><br/>

<span class="info_pages_text">
Der große Unterschied liegt also im "digitalen" Auszahlungsprofil. Bei einer Digitaloption ist sowohl der Auszahlungsbetrag
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionen_lexikon.jsf')}#im-geld">im-Geld</a>
als auch die erforderliche Zahlung
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionen_lexikon.jsf')}#aus-dem-geld">aus-dem-Geld</a>
fest vorgegeben. Sie wissen also beim Kauf der digitalen Option genau wie Ihr Gewinn oder auch Verlust aussieht. Dies bringt einige wichtige Vorteile mit sich.
</span>
<br/><br/>

<span class="info_pages_text">
Es können mit Digitals kleinste Kursausschläge verwertet werden. Das ermöglicht Gewinne auch bei sehr kurzfristige Trading-Strategien aber auch in einem stagnierenden bzw. seitwärts laufenden Marktumfeld. Das Risiko beim Handel mit digitalen Optionen ist klar begrenzt: Keiner der Handelsparteien droht - anders als bei Optionen und Futures - ein unlimitierter Verlust, was einen direkten Handel zwischen Privaten ermöglicht und so die Zahl der möglichen Marktteilnehmer und die Massentauglichkeit stark ausweitet.
</span>
<br/><br/>

<span class="info_pages_text">
Digitals sind durch die verfügbaren kurzen Intraday-Laufzeiten von nur wenigen Stunden auch bequemer und viel einfacher zu handeln als andere Hebelprodukte, da jede Position mit der Abrechnung also bei Laufzeitende automatisch geschlossen wird. Es ist also nicht erforderlich, Digitaloptionen wieder zu verkaufen oder glattzustellen.
</span>
<br/><br/>

<span class="info_pages_text">
Der Hebeleffekt von digitalen Optionen ist gegenüber Futures und CFDs vergleichsweise <b>anlegerfreundlich</b>, da das vorab fix bekannte Verhältnis zwischen potentiellem Profit und Kapitaleinsatz das Risikomanagement erleichtert.
</span>
<br/><br/>

<span class="info_pages_text">
Einer der interessantesten Aspekte von Digitaloptionen dürfte allen Marktteilnehmern, also auch den Anlegern in den Basiswerten, zugute kommen. Digitale Optionen können nicht verknappt werden und sind schon heute für Basiswerte verfügbar, die bisher nicht marktmäßig gehandelt werden konnten, wie etwa Inflationsraten oder Unternehmenszahlen.
</span>
<br/><br/>

<span class="info_pages_text">
anyoption™ ist eine Online Trading Plattform welche sich auf
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/digitale_optionen.jsf')}">digitale Optionen</a>
 spezialisiert hat. Das Portfolio an unterschiedlichen Optionen liegt bei über 60 Basiswerten inklusive Rohstoffen, Indizes, Aktien und Währungen. Die Laufzeiten der angebotenen Optionen liegen zwischen wenigen Stunden und mehreren Wochen. Der Handel mit Optionen auf anyoption™ ist komplett gebührenfrei.
</span>

<br/>
</f:view>