﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Eine Option Ohne Risiko</span><br/>

          	    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

		    		<span class="bonus_text">
		    			<strong>anyoption™</strong> bietet Ihnen eine Bonusleistung, die Sie unmöglich ablehnen können. Kaufen Sie Optionen in Höhe von&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/> und Ihre nächste Option verfällt ohne Risiko! <br/>
		    			<br/>
		    			Sobald Sie den Mindestanlagebetrag investiert haben, sind Sie in der Lage, eine risikofreie Put- oder Call-Option auf einen Basiswert und mit der Verfallzeit Ihrer Wahl zu kaufen. Notiert die von Ihnen gewählte Option bei Verfall im Geld, erhalten Sie die garantierten Renditen. <br/>
		    			<br/>
		    			Notiert die von Ihnen gewählte Option bei Verfall aus dem Geld, erhalten Sie Ihren Anlagebetrag vollständig zurück. Sie haben nichts zu verlieren!<br/>
		    			<br/>
		    			Das Angebot ist gültig bis&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>. <br/>
		    			<br/>
		    		</span>
    			</h:panelGroup>

    			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
    				<span class="bonus_text">
    					<strong>anyoption™</strong> hat für Sie eine einmalige Bonusleistung im Angebot: eine risikofreie Option!<br/>
    					<br/>
    					Kaufen Sie eine Put- oder Call-Option auf einen Basiswert und mit der Verfallzeit Ihrer Wahl. Notiert die von Ihnen gewählte Option bei Verfall im Geld, erhalten Sie die garantierten Renditen.<br/>
    					<br/>
    					Notiert die von Ihnen gewählte Option bei Verfall aus dem Geld, erhalten Sie Ihren Anlagebetrag vollständig zurück. Sie haben nichts zu verlieren!<br/>
    					<br/>
    					Das Angebot ist gültig bis&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>. <br/>
    					<br/>
    				</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>Allgemeine Geschäftsbedingungen zum Angebot „Eine Anlage Ohne Risiko“ </strong><br/>
	            Diese Bonusleistung bezieht sich auf eine oder mehrere Option(en) und erfolgt gemäß den Bestimmungen des konkreten Angebots, das dem Kunden unterbreitet wurde.<br/>
	            <br/>
	            Die Optionen, die dem Kunden eine solche Bonusleistung bieten, sind die in den spezifischen Angebotsbedingungen definierten Optionen. Solche Optionen müssen innerhalb einer bestimmten Frist gekauft werden.<br/>
	            <br/>
	            Rückerstattungen werden dann vorgenommen, wenn die Optionen, in die angelegt wurde, bei Verfall aus dem Geld notieren.<br/>
	            <br/>
	            Eine solche Bonusleistung steht nicht für One-Touch-Optionen, ‎Option+ oder Binär 0-100 zur Verfügung‎.<br/>
	            <br/>
	            Nach der Gewährung eines Bonus kann erst wieder Geld aus dem Konto abgezogen werden, wenn die&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> fache Summe des Bonus investiert worden ist. Der Wert für (parameter wird bei der Gewährung des Bonus bekanntgegeben.<br/>
	            <br/>
	            Das Unternehmen bittet seine Kunden, solche Angebote zu nutzen, sie jedoch nicht zu missbrauchen. Wird irgendeines der Angebote missbraucht, kann dies den Verlust der Bonusleistungen sowie die Schließung des Benutzerkontos nach sich ziehen.<br/>
	            <br/>
	            Bonusleistungen müssen innerhalb der im Sonderangebot benannten Frist genutzt werden. Bonusleistungen, die nicht in der vorgegebenen Zeit genutzt werden, werden aus dem Benutzerkonto des Kunden entfernt.<br/>
	            <br/>
	            Nach Erhalt der Bonus-/Zusatzzahlungen hat der Kunde 3 (drei) Kalendermonate Zeit, um den für eine Auszahlung erforderlichen Mindestbetrag vollständig zu investieren. Falls der Mindestbetrag der Investitionen innerhalb dieses Zeitraums nicht vollständig erreicht wird, bucht das Unternehmen die Bonus-/Zusatzzahlungen nach freiem Ermessen vom Konto des Kunden ab.<br/>
	            <br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
	            </span> </td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
