﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">SONDERBONUS</span><br/>
            <span class="bonus_text"><strong>Sie haben einen Sonderbonus in Höhe von&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> erhalten.<br/>
            Der Bonus wird Ihrem Benutzerkonto gutgeschrieben und erscheint unter „Mein Konto“ » „Umsatzanzeige“ unter „anyoption Prämie“.</strong><br/>
            <br/>
            Der Bonus kann bis&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> genutzt werden.<br/>
            <br/>
            Bitte beachten Sie, dass Sie nach Erhalt der Bonusleistungen Einschränkungen bei Auszahlungen aus Ihrem Benutzerkonto unterliegen, so wie in den nachstehenden Allgemeine Geschäftsbedingungen Beschrieben.</span><br/>
            <br/>
            <span class="bonus_terms"><strong>Boni – Allgemeine Geschäftsbedingungen</strong><br/>
            Unter Berücksichtigung der dem Kunden mitgeteilten Angebotsbedingungen werden seinem Benutzerkonto Bonusleistungen gutgeschrieben. Dies bezieht sich z. B. auf die Vornahme von Mindesteinzahlungen und/oder den Kauf einer Mindestanzahl an Optionen innerhalb eines bestimmten Zeitraums.<br/>
            <br/>
            Soweit nicht anderweitig in den Angebotsbedingungen dargestellt, ist die Voraussetzung für die Vornahme von Auszahlungen aus dem Benutzerkonto nach der Inanspruchnahme der Bonusleistung, Anlagen zu tätigen, deren Gesamtbetrag&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> Mal höher liegt als der Betrag der Bonusleistung.<br/>
            <br/>
            Das Unternehmen bittet seine Kunden, solche Angebote zu nutzen, sie jedoch nicht zu missbrauchen. Wird irgendeines der Angebote missbraucht, kann dies den Verlust der Bonusleistungen sowie die Schließung des Benutzerkontos nach sich ziehen.<br/>
            <br/>
            Bonusleistungen müssen innerhalb der im Sonderangebot benannten Frist genutzt werden. Bonusleistungen, die nicht in der vorgegebenen Zeit genutzt werden, werden aus dem Benutzerkonto des Kunden entfernt.<br/>
            <br/>
            Nach Erhalt der Bonus-/Zusatzzahlungen hat der Kunde 3 (drei) Kalendermonate Zeit, um den für eine Auszahlung erforderlichen Mindestbetrag vollständig zu investieren. Falls der Mindestbetrag der Investitionen innerhalb dieses Zeitraums nicht vollständig erreicht wird, bucht das Unternehmen die Bonus-/Zusatzzahlungen nach freiem Ermessen vom Konto des Kunden ab.<br/>
            <br/>
        	<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
            <br/><br/>
            <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
            </span>
            </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
