<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['deposit.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="ach" />
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="content">
	<h:panelGroup>
        <h:form id="aCHDepositForm">

   	        <h:inputHidden value="#{visit.generate}" />
	  		<h:inputHidden value="#{visit.saveToken}" />

	       	<h:panelGrid columns="1" border="0" cellspacing="0" cellpadding="0" width="100%" rowClasses="#{applicationData.pageAlignment}_align" columnClasses="#{applicationData.pageAlignment}_align" >

				<h:panelGrid columns="1" border="0" cellspacing="0" cellpadding="0">
		       		<h:outputText styleClass="info_pages_text_header" value="#{msgs['ach.header']}"/>
		       		<h:outputLabel value="&#160;"/>
		       		<h:panelGrid columns="3" cellspacing="0" cellpadding="0">
		       			<img src="#{applicationData.imagesPath}/ach.gif" border="0" />
		       			<h:outputLabel value="&#160;&#160;"/>
		       			<h:outputText styleClass="new_lable" escape="false" value="#{msgs['ach.description']}"/>
		       		</h:panelGrid>
	        	</h:panelGrid>

            	<h:panelGrid cellpadding="4" columns="2" border="0" styleClass="#{applicationData.pageAlignment}_align" columnClasses="#{applicationData.pageAlignment}_align" >

					<h:outputLabel id="payeeEmailLbl" styleClass="new_lable" for="payeeEmail" value="Email"/>
	                <h:panelGroup columns="4" align="#{applicationData.pageAlignment}" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="50" id="payeeEmail" value="#{aCHDepositForm.achInfo.payeeEmail}" required="true" />
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="payeeEmailError" for="payeeEmail" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="payeeEmailError2" for="payeeEmailLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:outputLabel id="payeeAddressLbl" styleClass="new_lable" for="payeeAddress" value="Address"/>
	                <h:panelGroup columns="4" align="#{applicationData.pageAlignment}" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="50" id="payeeAddress" value="#{aCHDepositForm.achInfo.payeeAddress}" required="true" />
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="payeeAddressError" for="payeeAddress" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="payeeAddressError2" for="payeeAddressLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:outputLabel id="payeeCityLbl" styleClass="new_lable" for="payeeCity" value="City"/>
	                <h:panelGroup columns="4" align="#{applicationData.pageAlignment}" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="20" id="payeeCity" value="#{aCHDepositForm.achInfo.payeeCity}" required="true" />
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="payeeCityError" for="payeeCity" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="payeeCityError2" for="payeeCityLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:outputLabel id="payeeStateLbl"  styleClass="new_lable" for="payeeStatesList" value="state" />
					<h:panelGrid columns="3" border="0" cellspacing="0" cellpadding="0">
	           			<h:selectOneMenu styleClass="new_combobox" style="width:134px" id="payeeStatesList" value="#{aCHDepositForm.achInfo.payeeStateProvince}" required="true">
		             		<f:selectItems value="#{applicationData.statesCodeList}" />
		        		</h:selectOneMenu>
		        		<t:message id="payeeStatesListError" for="payeeStatesList" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			    		<t:message id="payeeStatesListError2" for="payeeStatesListLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
            		</h:panelGrid>

					<h:outputLabel id="payeeZipLbl" styleClass="new_lable" for="zip" value="Zip Code"/>
	                <h:panelGroup columns="4" align="#{applicationData.pageAlignment}" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="10" id="zip" value="#{aCHDepositForm.achInfo.payeeZipCode}" required="true">
		                	<f:validateLongRange />
	                	  	<f:validateLength minimum="5" />
		                </h:inputText>
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="payeeZipError" for="zip" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="payeeZipError2" for="payeeZipLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:outputLabel id="payeePhoneLbl" styleClass="new_lable" for="payeePhone" value="Phone"/>
	                <h:panelGroup columns="4" align="#{applicationData.pageAlignment}" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="20" id="payeePhone" value="#{aCHDepositForm.achInfo.payeePhone}" required="true" />
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="payeePhoneError" for="payeePhone" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="payeePhoneError2" for="payeePhoneLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:outputLabel id="routingNoLbl" styleClass="new_lable" for="routingNo" value="Routing No" />
	                <h:panelGroup columns="4" align="left" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="50" id="routingNo" value="#{aCHDepositForm.achInfo.routingNo}" required="true" />
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="routingError" for="routingNo" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="routingError2" for="routingNoLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:outputLabel id="accountNoLbl" styleClass="new_lable" for="accountNo" value="Account No"/>
	                <h:panelGroup columns="4" align="left" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="50" id="accountNo" value="#{aCHDepositForm.achInfo.accountNo}" required="true" />
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="accountError" for="accountNo" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="accountError2" for="accountNoLbl" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:panelGroup>
	                	<h:outputLabel id="depositlabelid" styleClass="new_lable" for="deposit" value="#{msgs['deposit.deposit']}" />
	                	<h:outputText rendered="#{user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign}" value="&#160;#{msgs[user.currency.symbol]}&#160;" style="font-size:13px"/>
	                </h:panelGroup>
	                <h:panelGroup columns="3" align="right" style="width:500px">
		                <h:inputText dir="ltr" styleClass="new_input" style="width:130px" maxlength="9" id="deposit" value="#{aCHDepositForm.deposit}" required="true" >
		 					<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
		                </h:inputText>
	  	                <h:outputText rendered="#{!user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign}" value="#{msgs[user.currency.symbol]}" style="font-size:13px"/>
	                	<h:panelGroup columns="3">
		                	<h:outputLabel value="&#160;"/>
			                <t:message id="depositError" for="deposit" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
			                <t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGroup>
					</h:panelGroup>

					<h:panelGrid align="left"/>
					<h:panelGrid style="text-align:#{applicationData.pageAlignment}" columns="3" border="0" width="139px" cellspacing="0" cellpadding="0">
						<t:commandButton
			         		id="btnImage"
			         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
			         		onmouseover="Changepic('aCHDepositForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
			         		onmouseout="Changepic('aCHDepositForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
			         		onclick="gowait('aCHDepositForm:btnImage','aCHDepositForm:hiddenDeposit','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif');
			         				 return myfaces.oam.submitForm('aCHDepositForm','aCHDepositForm:hiddenDeposit');" >
			         	</t:commandButton>
			         	<h:commandLink action="#{aCHDepositForm.insertDeposit}"
			         		id="hiddenDeposit" style="display:none" >
		         		</h:commandLink>
					</h:panelGrid>
	            </h:panelGrid>

				<h:panelGroup rendered="#{commonUtil.hasMessages}" width="100%">
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
               	</h:panelGroup>
			</h:panelGrid>

		</h:form>
	</h:panelGroup>
</ui:define>
</ui:composition>

</html>


