
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="cards" />
	<c:set var="std" value="editCard" />
</ui:define>

<ui:define name="content">
	<t:saveState value="#{cardsForm}" />

<TABLE cellpadding="0" cellspacing="8" width="724" border="0" >
 <tr>
  <td>

    <h:panelGroup >

        <h:form id="cardsForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid columns="1" width="100%">

   	            <h:outputText styleClass="info_messages" value="#{msgs['ccdelete.approve.question1']} #{msgs['ccdelete.approve.question']} #{user.deleted4digitCard} ?"/>

				<h:panelGrid width="100%" columns="1" style="vertical-align:top;">
					<h:panelGroup>
						<t:commandButton
				         		id="cancellink"
				         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_u.jpg"
				         		onmouseover="Changepic('cardsForm:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_d.jpg')"
				         		onmouseout="Changepic('cardsForm:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_u.jpg')"
				         		onclick="gowait('cardsForm:cancellink','cardsForm:hiddencancel','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
				         				 return myfaces.oam.submitForm('cardsForm','cardsForm:hiddencancel');" >
			         	</t:commandButton>
						<h:commandLink action="#{cardsForm.notApprovedDelete}" id="hiddencancel" style="display:none"/>
						&#160;&#160;&#160;&#160;&#160;&#160;
			         	<t:commandButton
					         		id="savelink"
					         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg"
					         		onmouseover="Changepic('cardsForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_d.jpg')"
					         		onmouseout="Changepic('cardsForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg')"
					         		onclick="gowait('cardsForm:savelink','cardsForm:hiddensave','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
					         				 return myfaces.oam.submitForm('cardsForm','cardsForm:hiddensave');" >
			         	</t:commandButton>
			         	<h:commandLink action="#{cardsForm.approvedDelete}" id="hiddensave" style="display:none"/>
					</h:panelGroup>
				</h:panelGrid>

            </h:panelGrid>

            </h:form>

    </h:panelGroup>
  </td>
 </tr>
</TABLE>

</ui:define>
</ui:composition>

</html>
