<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk">
	<head>
	    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
	</head>
	<body onload="document.cdpayDepositForm.submit();" >
		<f:view locale="#{applicationData.userLocale}">
			
			<form name="cdpayDepositForm" method="post" action="#{cdpayInfo.redirectURL}">
				<input name="pay_to_email" type="hidden" value="#{cdpayInfo.merchantAccount}" />
				<input name="return_url" type="hidden" value="#{cdpayInfo.returnURL}" />
				<input name="cancel_url" type="hidden" value="#{cdpayInfo.cancelURL}" />
				<input name="status_url" type="hidden" value="#{cdpayInfo.statusURL}" />
				<input name="status_url2" type="hidden" value="#{cdpayInfo.mailStatus}" />
				<input name="language" type="hidden" value="#{cdpayInfo.language}" />
				<input name="pay_from_email" type="hidden" value="#{cdpayInfo.clientAccount}" />
				<input name="transaction_id" type="hidden" value="#{cdpayInfo.transactionId}" />
				<input name="currency" type="hidden" value="#{cdpayInfo.currency}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.depositAmount}" />
				<input type="hidden" name="payment_methods" value="WLT" />
				<input type="image" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/redirecting.jpg" name="continue" value="Continue" />
				<input type="hidden" name="confirmation_note" value="#{msgs['cdpay.success.confirmation.note']}" />
				<input type="hidden" name="detail1_description" value="#{msgs['anyoption.anyoption']}" />
				<input type="hidden" name="detail1_text" value="#{msgs['cdpay.info']}" />
				<input type="hidden" name="logo_url" value="#{cdpayInfo.logoURL}" />
			</form>
			
			
			<form name="cdpayDepositForm" method="post" action="#{cdpayInfo.return_url}">
				<input name="pay_to_email" type="hidden" value="#{cdpayInfo.version}" />
				<input name="return_url" type="hidden" value="#{cdpayInfo.merchant_account}" />
				<input name="cancel_url" type="hidden" value="#{cdpayInfo.merchant_order}" />
				<input name="status_url" type="hidden" value="#{cdpayInfo.merchant_product_desc}" />
				<input name="status_url2" type="hidden" value="#{cdpayInfo.first_name}" />
				<input name="language" type="hidden" value="#{cdpayInfo.last_name}" />				
				<input name="pay_from_email" type="hidden" value="#{cdpayInfo.address1}" />
				<input name="transaction_id" type="hidden" value="#{cdpayInfo.city}" />
				<input name="currency" type="hidden" value="#{cdpayInfo.zip_code}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.country}" />				
				<input name="amount" type="hidden" value="#{cdpayInfo.phone}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.email}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.amount}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.currency}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.bankcode}" />
				<input name="amount" type="hidden" value="#{cdpayInfo.ipaddress}" />	
				<input name="amount" type="hidden" value="#{cdpayInfo.server_return_url}" />		
				<input name="amount" type="hidden" value="#{cdpayInfo.control}" />
			</form>
		</f:view>
	</body>
</html>