<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.documents.text.window.title']}"/>
</ui:define>

<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#0284D6;">
		<h:outputText value="#{msgs['CMS.documents.text.header']}"/>
	</h1>
</ui:define>

<ui:define name="menuSet">
	<c:set var="td" value="personal" />
	<c:set var="std" value="documents" />
</ui:define>
<ui:define name="content">
<script>
	function getElement(id){return document.getElementById(id);}
	function showMe(){
		//g('hide').style.display = "block";
		g('hide').click();
	}
	function submit(id){
		getElement(id).submit();
	}
	
	function changeValues(nameId, nameFile, statusId, statusFile) {
		var nId = getElement(nameId);
		if (nId != null) {
			nId.innerHTML = nameFile;
		}
		var sId = getElement(statusId);
		if (sId != null) {
			sId.innerHTML = statusFile;
		}
	}
	
	function changeInput(nameId, nameFile, statusId, statusFile) {
		getElement(nameId).value = nameFile;
		getElement(statusId).value = statusFile;
	}
	
	function changePassOrIdInput(fieldId, fieldValue) {
		getElement(fieldId).value = fieldValue;
	}

	function disableInput(disabledFront, disabledBack, styleFront, styleBack) {
		getElement("frontCcDiv").className = styleFront;
		getElement("backCcDiv").className = styleBack;
		getElement("documents_from_front_cc:cc_front_fileupload").disabled = disabledFront;
		getElement("documents_from_back_cc:cc_back_fileupload").disabled = disabledBack;
	}
	
	function addSummaryText(msg) {		
		getElement("summary_text").innerHTML = msg;
	}
	
	function changeStyle(flag) {
		if (flag) {
			getElement("drivers1").style.display="block";
			getElement("drivers2").style.display="block";
			getElement("drivers3").style.display="block";
			getElement("drivers4").style.display="block";
		} else {
			getElement("drivers1").style.display="none";
			getElement("drivers2").style.display="none";
			getElement("drivers3").style.display="none";
			getElement("drivers4").style.display="none";
		}
	}
	
	function evaporateIframe() {
		document.body.removeChild(document.getElementById("submit_iframe"));
		bigBangTheoryIframe();		
	}
	
	function bigBangTheoryIframe() {
		var iframe = document.createElement("iframe");
		iframe.id="submit_iframe";
    	iframe.name="submit_iframe";
	    iframe.title="hidden_iframe_title";
	    iframe.src="about:blank";
	    iframe.style.display="none";
	    document.body.appendChild(iframe);
	}
</script>
<div class="uploading_doc_container" style="text-align: left;">
	<h:panelGroup rendered="#{documentsForm.questionnaireDone}">
		<h2>
	       	<h:outputText value="#{msgs['CMS.documents.text.body.heading']}" escape="false"/>
	       	<h:outputText value="#{msgs['CMS.documents.text.body.heading.part_two']}" />
	       	<ol style="margin-bottom: 5px;">
	       		<li>
	       			<h:outputText value="#{msgs['CMS.documents.text.body.heading.li.one']}" escape="false" />
	       		</li>
	       		<h:panelGroup rendered="#{commonUtil.skinRegulated}">
		       		<li>
		       			<h:outputText value="#{msgs['CMS.documents.text.body.heading.li.two']}" escape="false" />
		       		</li>
		       	</h:panelGroup>
	       		<li>
	       			<h:outputText value="#{msgs['CMS.documents.text.body.heading.li.three']}" escape="false" />
	       		</li>
	       	</ol>       	
	    </h2>
	    
	    	<t:panelGrid columns="5" rowClasses="documents_grid_rows" style="margin-left: 40px; margin-bottom: 20px;">
			   	<h:outputText rendered="#{commonUtil.skinRegulated and not empty documentsForm.utilityFileName}" value="#{msgs['CMS.documents.files.utility']}" />
				<h:panelGroup styleClass="documents_input_and_text_wrapper" rendered="#{commonUtil.skinRegulated and not empty documentsForm.utilityFileName}">   			
			    	<h:form id="documents_from_utility" target="submit_iframe" enctype="multipart/form-data">
			 			<div class="documents_input_and_text_container #{documentsForm.utilityLocked ? 'button_small_nd_disabled' : 'button_small_nd'}">
			  				<h:outputText value="#{msgs['CMS.documents.files.upload_button']}" />
							<t:inputFileUpload rendered="#{commonUtil.skinRegulated}" id="utility_fileupload" value="#{documentsForm.utilityBillFile}"
				   				styleClass="documents_input_file_field" disabled="#{documentsForm.utilityLocked}" onchange="return myfaces.oam.submitForm('documents_from_utility','documents_from_utility:hiddenbtnUtility');" />
				   			<h:commandLink action="#{documentsForm.upload}" id="hiddenbtnUtility" style="display:none" />
				   		</div>
			   		</h:form>
				</h:panelGroup>
				<t:panelGroup colspan="2" styleClass="documents_panelGroup" rendered="#{commonUtil.skinRegulated and not empty documentsForm.utilityFileName}">
					<h:outputText id="utilityFileName" value="#{documentsForm.utilityFileName}" />
				</t:panelGroup>
			    <h:outputText rendered="#{commonUtil.skinRegulated and not empty documentsForm.utilityFileName}" id="utilityFileStatus" value="#{documentsForm.utilityFileStatus}" escape="false" styleClass="documents_panelGroup" />
	    		
	    		<h:outputText value="#{msgs['CMS.documents.files.pass_id']}" style="padding-right: 20px;" rendered="#{not empty documentsForm.passOrIdFileName}" />
	    		<t:panelGroup styleClass="documents_input_and_text_wrapper" rendered="#{not empty documentsForm.passOrIdFileName}">
	    			<h:form id="documents_from_pass" target="submit_iframe" enctype="multipart/form-data">
				   		<div class="documents_input_and_text_container #{documentsForm.passOrIdLocked ? 'button_small_nd_disabled' : 'button_small_nd'}">
				  			<h:outputText value="#{msgs['CMS.documents.files.upload_button']}" />
							<t:inputFileUpload id="passOrId_fileupload" value="#{documentsForm.passOrIdFile}"
				   				styleClass="documents_input_file_field" disabled="#{documentsForm.passOrIdLocked}" onchange="return myfaces.oam.submitForm('documents_from_pass','documents_from_pass:hiddenbtnPass');" />
				   			<h:commandLink action="#{documentsForm.upload}" id="hiddenbtnPass" style="display:none" />
							<h:inputHidden value="#{documentsForm.passOrIdStr}" id="hiddenPassOrId" />
				   		</div>
			   		</h:form>
	   			</t:panelGroup>
	   			<t:panelGroup colspan="2" styleClass="documents_panelGroup" rendered="#{not empty documentsForm.passOrIdFileName}">
			   		<h:form id="passOrIdCombo" target="submit_iframe">
		   				<h:outputText id="passOrIdFileName" value="#{documentsForm.passOrIdFileName}" />
						<h:selectOneMenu id="passOrId" disabled="#{documentsForm.passOrIdLocked}" style="margin-left: 10px; width: 78px;" value="#{documentsForm.passOrId}"
											onchange="return myfaces.oam.submitForm('passOrIdCombo','passOrIdCombo:hiddenbtnPassOrId');" valueChangeListener="#{documentsForm.updateFileType}">
							<f:selectItems value="#{documentsForm.passOrIdSiOrDrive}" />
						</h:selectOneMenu>
						<h:commandLink action="#{documentsForm.modifyFileType}" id="hiddenbtnPassOrId" style="display:none" />
					</h:form>
				</t:panelGroup>
	    		<h:outputText rendered="#{not empty documentsForm.passOrIdFileName}" id="passOrIdFileStatus" value="#{documentsForm.passOrIdStatus}" escape="false" styleClass="documents_panelGroup" />
	    		

	    		
	    		<h:outputText rendered="#{documentsForm.showCcFields}" value="#{msgs['CMS.documents.files.cc']}" />
				<t:panelGroup rendered="#{documentsForm.showCcFields}" colspan="4">
					<h:form id="cc_form" target="submit_iframe">
						<h:selectOneMenu id="creditcard" value="#{documentsForm.cardId}" style="width: 200px; margin-left: 65px;"
											onchange="return myfaces.oam.submitForm('cc_form','cc_form:hiddenbtnccForm');" valueChangeListener="#{documentsForm.updateCcDocuments}">
							<f:selectItem  itemLabel="" itemValue="0" />
							<f:selectItems value="#{documentsForm.ccList}" />
						</h:selectOneMenu>
						<h:commandLink action="#{documentsForm.modifyCcValues}" id="hiddenbtnccForm" style="display:none" />
					</h:form>			
				</t:panelGroup>
				
				<h:outputText rendered="#{documentsForm.showCcFields and not empty documentsForm.frontCcFileName}" value="#{msgs['CMS.documents.files.cc.front']}" />
	   			<h:panelGroup rendered="#{documentsForm.showCcFields and not empty documentsForm.frontCcFileName}" styleClass="documents_input_and_text_wrapper">
		   			<h:form id="documents_from_front_cc" target="submit_iframe" enctype="multipart/form-data">
		   				<div id="frontCcDiv" class="documents_input_and_text_container #{documentsForm.frontCcLocked ? 'button_small_nd_disabled' : 'button_small_nd'}">
		   					<h:outputText value="#{msgs['CMS.documents.files.upload_button']}" />
		   					<t:inputFileUpload id="cc_front_fileupload" value="#{documentsForm.frontCCFile}"
				   				styleClass="documents_input_file_field" disabled="#{documentsForm.frontCcLocked}" onchange="return myfaces.oam.submitForm('documents_from_front_cc','documents_from_front_cc:hiddenbtnFrontCc');" />
				   			<h:commandLink action="#{documentsForm.upload}" id="hiddenbtnFrontCc" style="display:none" />
				   			<h:inputHidden value="#{documentsForm.cardId}" id="hiddenCardIdFront" />
		   				</div>
		   			</h:form>
		   		</h:panelGroup>
		   		<t:panelGroup rendered="#{documentsForm.showCcFields and not empty documentsForm.frontCcFileName}" colspan="2" styleClass="documents_panelGroup">
		    		<h:outputText value="#{documentsForm.frontCcFileName}" id="ccFrontFileName" />
	    		</t:panelGroup>
	    		<h:outputText rendered="#{documentsForm.showCcFields and not empty documentsForm.frontCcFileName}" value="#{documentsForm.frontCcFileStatus}" id="ccFrontFileStatus" styleClass="documents_panelGroup" escape="false" />
	    		
				<h:outputText rendered="#{documentsForm.showCcFields and not empty documentsForm.backCcFileName}" value="#{msgs['CMS.documents.files.cc.back']}" />
	   			<h:panelGroup rendered="#{documentsForm.showCcFields and not empty documentsForm.backCcFileName}" styleClass="documents_input_and_text_wrapper">
		   			<h:form id="documents_from_back_cc" target="submit_iframe" enctype="multipart/form-data">
		   				<div id="backCcDiv" class="documents_input_and_text_container #{documentsForm.backCcLocked ? 'button_small_nd_disabled' : 'button_small_nd'}">
		   					<h:outputText value="#{msgs['CMS.documents.files.upload_button']}" />
		   					<t:inputFileUpload id="cc_back_fileupload" value="#{documentsForm.backCCFile}"
				   				styleClass="documents_input_file_field" disabled="#{documentsForm.backCcLocked}" onchange="return myfaces.oam.submitForm('documents_from_back_cc','documents_from_back_cc:hiddenbtnBackCc');" />
				   			<h:commandLink action="#{documentsForm.upload}" id="hiddenbtnBackCc" style="display:none" />
				   			<h:inputHidden value="#{documentsForm.cardId}" id="hiddenCardIdBack" />
		   				</div>
		   			</h:form>
		   		</h:panelGroup>
		   		<t:panelGroup rendered="#{documentsForm.showCcFields and not empty documentsForm.backCcFileName}" colspan="2" styleClass="documents_panelGroup">
		    		<h:outputText value="#{documentsForm.backCcFileName}" id="ccBackFileName" />
	    		</t:panelGroup>
	    		<h:outputText rendered="#{documentsForm.showCcFields and not empty documentsForm.backCcFileName}" value="#{documentsForm.backCcFileStatus}" id="ccBackFileStatus" styleClass="documents_panelGroup" escape="false" />
	    		
				<h:outputText rendered="#{documentsForm.showBankwireField}" value="#{msgs['CMS.documents.files.bankwire']}" style="padding-right: 20px;" />
	   			<h:panelGroup rendered="#{documentsForm.showBankwireField}" styleClass="documents_input_and_text_wrapper">
		   			<h:form id="documents_from_bankwire" target="submit_iframe" enctype="multipart/form-data">
		   				<div class="documents_input_and_text_container #{documentsForm.showAllApprovedText ? 'button_small_nd_disabled' : 'button_small_nd'}">
		   					<h:outputText value="#{msgs['CMS.documents.files.upload_button']}" />
		   					<t:inputFileUpload id="bankwire_fileupload" value="#{documentsForm.bankwireFile}"
				   				styleClass="documents_input_file_field" disabled="#{documentsForm.showAllApprovedText}" onchange="return myfaces.oam.submitForm('documents_from_bankwire','documents_from_bankwire:hiddenbtnBankwire');" />
				   			<h:commandLink action="#{documentsForm.upload}" id="hiddenbtnBankwire" style="display:none" />
		   				</div>
		   			</h:form>
		   		</h:panelGroup>
		   		<t:panelGroup rendered="#{documentsForm.showBankwireField}" colspan="3" styleClass="documents_panelGroup">
		    		<h:outputText id="bankwireFileName" value="#{documentsForm.bankwireFileName}" />
	    		</t:panelGroup>
	    	</t:panelGrid>
	    	<h:outputText value="#{msgs['CMS.documents.files.all_approved']}" rendered="#{documentsForm.showAllApprovedText}" style="margin-left: 40px; color: #138CD9; font-size: 12px;" />
	    	<h:outputText rendered="#{!documentsForm.showAllApprovedText}" value="#{documentsForm.summaryText}" id="summary_text" escape="false" style="margin-left: 40px;" />
	    
	    <script>
		   bigBangTheoryIframe();
		</script>    
	</h:panelGroup>
	<h:panelGroup rendered="#{!documentsForm.questionnaireDone}">
		<h2 style="border: none;">
			<h:outputText value="#{msgs['CMS.documents.files.quest_not_done']}" escape="false" />
		</h2>
	</h:panelGroup>
</div>
</ui:define>
</ui:composition>      
</html>