<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles_all_skins.css" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<script src="#{facesContext.externalContext.requestContextPath}/js/main.js"></script>
<script>
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var skinId = #{applicationData.skinId};
</script>
</head>

<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

<f:view locale="#{applicationData.userLocale}">
    <h:form id="directDepositForm" onsubmit="envoyDeposit_submit(#{newCardForm.firstDeposit});return false;">
		<ui:remove>
			<h:inputHidden value="#{visit.generate}" />
			<h:inputHidden value="#{visit.saveToken}" />
		</ui:remove>
		<ui:include src="/jsp/pages/envoyDepositContentRaw.xhtml" />
		<script>initDeposit('directDepositForm:');var user_id = #{user.id};</script>
	</h:form>
</f:view>
</html>