<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
	</ui:define>

	<ui:define name="header">
		<h:outputText value="#{msgs['header.title']}"/>
	</ui:define>

	<ui:define name="title">#{msgs['header.myaccount']}</ui:define>

	<ui:define name="title_message">
		<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
	</ui:define>

	<ui:define name="footerMsg">
		<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
	</ui:define>

	<ui:define name="menuSet">
		<c:set var="td" value="deposit" />
	</ui:define>
	<ui:define name="content">
		<h:panelGroup rendered="#{transaction.statusId == 2}"> <!-- succeed -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/receipt.jsf";
			</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{transaction.statusId == 11}">   <!-- In progress -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/inatecInProgress.jsf";
			</script>
		</h:panelGroup>

		<c:if test="${transaction.paymentTypeId == '3'}" >  <!-- Giropay -->
			<c:set var="std" value="giropay" />
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/myaccount_substrip_deposit.xhtml" />
		</c:if>
		<c:if test="${transaction.paymentTypeId == '2'}" >  <!-- direct24 -->
			<c:set var="std" value="direct24" />
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/myaccount_substrip_deposit.xhtml" />
		</c:if>
		<c:if test="${transaction.paymentTypeId == '4'}" >  <!-- EPS -->
			<c:set var="std" value="eps" />
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/myaccount_substrip_deposit.xhtml" />
		</c:if>


		<TABLE cellpadding="0" cellspacing="5" width="720" border="0" valign="middle">
			<tr>
				<td align="center">
					<h:outputText styleClass="error_messages" value="#{msgs['error.inatec.deposit']}"/>
				</td>
			</tr>
			<tr>
				<td align="left">
					<c:if test="${transaction.paymentTypeId == '3'}" >  <!-- Giropay -->
						<ui:include src="/jsp/pages/directAccountFieldsContent.xhtml" >
							<ui:param name="paymentType" value="3" />
							<ui:param name="logoImage" value="#{applicationData.imagesPath}/giro.gif" />
							<ui:param name="logoText" value="#{msgs['header.giropay.deposit']}" />
						</ui:include>
					</c:if>
					<c:if test="${transaction.paymentTypeId == '2'}" >  <!-- direct24 -->
						<ui:include src="/jsp/pages/directAccountFieldsContent.xhtml" >
							<ui:param name="paymentType" value="2" />
							<ui:param name="logoImage" value="#{applicationData.imagesPath}/sofort.gif" />
							<ui:param name="logoText" value="#{msgs['header.direct24.deposit']}" />
						</ui:include>
					</c:if>
					<c:if test="${transaction.paymentTypeId == '4'}" >  <!-- EPS -->
						<ui:include src="/jsp/pages/directNoAccountFieldsContent.xhtml" >
							<ui:param name="paymentType" value="4" />
						</ui:include>
					</c:if>
				</td>
			</tr>
		</TABLE>
	</ui:define>
</ui:composition>
</html>