
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="withdraw" />
	<c:set var="std" value="paypal" />
</ui:define>
<ui:define name="content">
<t:saveState value="#{payPalWithdrawForm}" />

<TABLE cellpadding="6" cellspacing="0" width="714px" border="0" align="center">
 <tr align="#{applicationData.pageAlignment}">
  <td>

    <h:panelGroup >

        <h:form id="payPalWithdrawForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid columns="1" style="text-align:#{applicationData.pageAlignment};">

	            <h:outputText escape="false" styleClass="info_messages_normal" value="#{payPalWithdrawForm.message}" />
				<br/>
   	            <h:outputText styleClass="info_messages" value="#{msgs['bank.wire.approve.question']}"/>

	 	        <h:panelGroup>
					<t:commandButton
		         		id="cancellink"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_u.jpg"
		         		onmouseover="Changepic('payPalWithdrawForm:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_d.jpg')"
		         		onmouseout="Changepic('payPalWithdrawForm:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_u.jpg')"
		         		onclick="gowait('payPalWithdrawForm:cancellink','payPalWithdrawForm:hiddencancel','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		         				 return myfaces.oam.submitForm('payPalWithdrawForm','payPalWithdrawForm:hiddencancel');" >
		         	</t:commandButton>

					&#160;&#160;&#160;&#160;&#160;
		         	<t:commandButton
		         		id="savelink"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg"
		         		onmouseover="Changepic('payPalWithdrawForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_d.jpg')"
		         		onmouseout="Changepic('payPalWithdrawForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg')"
		         		onclick="gowait('payPalWithdrawForm:savelink','payPalWithdrawForm:hiddensave','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		         				 return myfaces.oam.submitForm('payPalWithdrawForm','payPalWithdrawForm:hiddensave');" >
		         	</t:commandButton>
			    </h:panelGroup>
				<h:commandLink action="#{payPalWithdrawForm.approve}" id="hiddensave" style="display:none"/>
	 	        <h:commandLink action="#{payPalWithdrawForm.notApprove}" id="hiddencancel" style="display:none"/>
            </h:panelGrid>
            </h:form>
    </h:panelGroup>
  </td>
 </tr>
</TABLE>
</ui:define>
</ui:composition>

</html>
