
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="head">
	<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['personal.jsf.title']}"/>
</ui:define>
<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message.personal']}"/></h1>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="personal" />
	<c:set var="std" value="details" />
</ui:define>
<ui:define name="content">
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>

<script>

	/*
	   Change the phone code by the value of the country
	*/
	function changePhoneCodeByCountry() {
		if (document.getElementById("personalForm:countriesRegulatedList")) {
			var countryId = document.getElementById("personalForm:countriesRegulatedList").value;
		} else {
			var countryId = document.getElementById("personalForm:countriesNotRegulatedList").value;
		}
	    if(countryId == 220){
	    	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
	    		document.getElementById('personalForm:statesList').parentNode.parentNode.style.display='block';
		    	document.getElementById('personalForm:statesLabel').parentNode.parentNode.style.display='block';
		    } else {
			    document.getElementById('personalForm:statesList').parentNode.parentNode.style.display='table-row';
		    	document.getElementById('personalForm:statesLabel').parentNode.parentNode.style.display='table-row';
		    }
		}else{
	    	document.getElementById("personalForm:statesList").parentNode.parentNode.style.display="none";
	    	document.getElementById("personalForm:statesLabel").parentNode.parentNode.style.display="none";
	    }

	    var url = "ajax.jsf?countryId=" + countryId;
	    var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
	    ajax.doGet();
	}

	/*
		callBack function for changePhoneCodeByCountry()
	*/
	function changePhoneCodeByCountryCallback(responseXML) {

	   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
   	   var phoneCodeElm = document.getElementById("personalForm:mobilePhoneCode");
	   phoneCodeElm.value = codeValue;
   	   var phoneCodeElmMobile = document.getElementById("personalForm:landPhoneCode");
   	   phoneCodeElmMobile.value = codeValue;

	}

	//	phone code keyDown
	//  allow tab key
	function phoneKeys(e) {

		var keynum;

		if(window.event) { // IE
		  keynum = e.keyCode;
  		}
  		else if(e.which) {  // Netscape/Firefox/Opera
		  keynum = e.which;
	    }

		if (keynum != 9) {  // tab key
			return false;
	  	}
	}

</script>
<h:panelGroup align="#{applicationData.pageAlignment}">

    <h:form id="personalForm">
        <h:panelGrid cellspacing="0" cellpadding="0" columns="1" width="100%" rendered="#{registerForm.validatePass}" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" border="0">
            <h:panelGrid cellspacing="0" cellpadding="4" columns="3" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" border="0">
               <h:outputText value="#{msgs['header.personal']}" styleClass="info_pages_text_header" />
			   <h:outputText value="" />
			   <h:outputText value="" />

               <t:outputText styleClass="new_lable" style="align:right;" value="#{msgs['register.username']}" rendered="#{user.canEditEmail}"/>
               <h:panelGrid columns="1" width="5px" rendered="#{user.canEditEmail}"/>
               <h:panelGrid rendered="#{user.canEditEmail}">
               		<h:outputText styleClass="pages_text_11" value="#{user.userName}"/>
			   </h:panelGrid>

                <h:outputText styleClass="new_lable" value="#{msgs['register.firstname']}"/>
                <h:panelGrid columns="1" width="5px" />
                <h:panelGrid>
               		<h:outputText styleClass="pages_text_11" value="#{user.firstName}"/>
				</h:panelGrid>

                <h:outputText styleClass="new_lable" value="#{msgs['register.lastname']}"/>
                <h:panelGrid columns="1" width="5px" />
                <h:panelGrid>
   		            <h:outputText styleClass="pages_text_11" value="#{user.lastName}"/>
                </h:panelGrid>

                <h:outputLabel styleClass="new_lable" for="street" value="#{msgs['register.street']}"/>
                <h:panelGrid columns="1" width="5px" />
                <h:panelGrid columns="2">
	                <h:inputText styleClass="new_input" size="24" maxlength="40" id="street" value="#{user.street}" 
		                validator="#{commonUtil.validateStreet}" >
	                </h:inputText>
	                <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error_messages"/>
	            </h:panelGrid>

                <t:outputLabel styleClass="new_lable" for="streetno" value="#{msgs['register.streetno']}"/>
                <h:panelGrid columns="1" width="5px" />
                <h:panelGrid columns="2">
	                <t:inputText align="#{applicationData.pageAlignment}" size="5" maxlength="6" styleClass="new_input" id="streetno" value="#{user.streetNo}"
		                 validator="#{commonUtil.validateStreetNo}" >
		                 <f:validateLength maximum='6'/>
	                </t:inputText>
	                <t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="error_messages"/>
	            </h:panelGrid>

        		<h:outputLabel styleClass="new_lable" for="zipCode" value="#{msgs['register.postcode']}"/>
               	<h:panelGrid columns="1" width="5px" />
               	<h:panelGrid columns="2">
	                <h:inputText align="#{applicationData.pageAlignment}" styleClass="new_input" maxlength="10" size="15" id="zipCode" value="#{user.zipCode}">
	                </h:inputText>
	                <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error_messages"/>
               </h:panelGrid>

                <h:outputLabel styleClass="new_lable" for="cityName" value="#{msgs['register.city']}"/>
                <h:panelGrid columns="1" width="5px" />
                <h:panelGrid columns="2">
                     <t:inputText size="24" maxlength="24" autocomplete="off" styleClass="new_input"
                     	 id="cityName" name="cityName" value="#{user.cityName}" 
                     	 validator="#{commonUtil.validateLettersOnly}" />
	               <t:message id="cityNameError" for="cityName" replaceIdWithLabel="true" styleClass="error_messages"/>
	            </h:panelGrid>

				<h:outputLabel align="right" styleClass="new_lable" for="countriesRegulatedList" value="#{msgs['register.country']}" rendered="#{user.skin.isRegulated()}"/>
				<h:panelGrid columns="1" width="5px" rendered="#{user.skin.isRegulated()}"  />
				<h:panelGrid columns="1" border="0" rendered="#{user.skin.isRegulated()}"  >
		            <h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="new_combobox" id="countriesRegulatedList" value="#{user.countryId}" required="true" onchange="changePhoneCodeByCountry();">
		               		<c:if test="${!user.getCountry().isRegulated()}">
		               			<f:selectItem itemLabel="#{msgs[user.countryName]}" itemValue="#{user.countryId}" />
		               		</c:if>
		               		<f:selectItems value="#{applicationData.countriesRegulatedList}" />
			        </h:selectOneMenu>
				</h:panelGrid>
				
				<h:outputLabel align="right" styleClass="new_lable" for="countriesNotRegulatedList" value="#{msgs['register.country']}" rendered="#{!user.skin.isRegulated()}"/>
				<h:panelGrid columns="1" width="5px" rendered="#{!user.skin.isRegulated()}"  />
				<h:panelGrid columns="1" border="0" rendered="#{!user.skin.isRegulated()}" >
		            <h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="new_combobox" id="countriesNotRegulatedList" value="#{user.countryId}" required="true" onchange="changePhoneCodeByCountry();">
		               		<c:if test="${user.countryId == 220}">
		               			<f:selectItem itemLabel="#{msgs[user.countryName]}" itemValue="#{user.countryId}" />
		               		</c:if>
		               		<f:selectItems value="#{applicationData.countriesNotRegulatedList}" />
			        </h:selectOneMenu>
				</h:panelGrid>

				<h:outputLabel id="statesLabel" align="right" styleClass="lable_text" for="statesList" value="#{msgs['register.state']}"/>
				<h:panelGrid columns="1" width="5px" />
				<h:panelGrid columns="1" border="0">
		            <h:selectOneMenu styleClass="new_combobox" id="statesList" value="#{user.state}" required="true">
	                	<f:selectItems value="#{applicationData.statesList}" />
			        </h:selectOneMenu>
				</h:panelGrid>

                <h:outputText styleClass="new_lable" value="#{msgs['register.birthdate']}"/>
                <h:panelGrid columns="1" width="5px" rendered="#{!user.canEditTimeBirthDate}"/>
                <h:panelGrid  rendered="#{!user.canEditTimeBirthDate}">
	                <h:outputText styleClass="pages_text_11" escape="false" value="#{user.timeBirthDateTxt}"/>
                </h:panelGrid>
                                
					<h:panelGrid  width="3px" columns="1" border="0" rendered="#{user.canEditTimeBirthDate}"/>
					<h:panelGrid columns="1" border="0" width="100%" rendered="#{user.canEditTimeBirthDate}">
						<h:panelGrid columns="13" border="0" cellspacing="0" cellpadding="0">
								<h:selectOneMenu styleClass="new_combobox"  id="birthDay" value="#{registerForm.birthDay}" style="width:49px">
									<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.birthday']}" itemValue="" />
									<f:selectItems value="#{applicationData.days}" />
								</h:selectOneMenu>
								<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
								<h:selectOneMenu styleClass="new_combobox" id="birthMonth" value="#{registerForm.birthMonth}" style="width:59px">
									<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.birthmonth']}" itemValue="" />
									<f:selectItems value="#{applicationData.months}" />
								</h:selectOneMenu>
								<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
								<h:selectOneMenu styleClass="new_combobox"  id="birthYear" value="#{registerForm.birthYear}" style="width:55px">
									<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.birthyear']}" itemValue="" />
									<f:selectItems value="#{applicationData.years}" />
								</h:selectOneMenu>
								<div id="birthMessage" ></div>
								<t:message id="birthDayError" for="birthDay" replaceIdWithLabel="true" styleClass="error_messages"/>
								<t:message id="birthMonthError" for="birthMonth" detailFormat="&#160;#{msgs['CMS.registerContent.text.error.register.month']}" replaceIdWithLabel="true" styleClass="error_messages"/>
								<t:message id="birthYearError" for="birthYear" detailFormat="&#160;#{msgs['CMS.registerContent.text.error.register.year']}" replaceIdWithLabel="true" styleClass="error_messages"/>								
						</h:panelGrid>
					</h:panelGrid>

                                                                            
                <h:outputText styleClass="new_lable" for="gender" value="#{msgs['register.gender']}"/>	                
	                	<h:panelGrid columns="1" width="5px" rendered="#{!user.canEditGender}"/>
	                		<h:panelGrid rendered="#{!user.canEditGender}">
		                 		<h:outputText styleClass="pages_text_11" value="#{msgs[user.genderTxt]}"/>
	                		</h:panelGrid>
	                		
	                	<h:panelGrid columns="2" border="0" rendered="#{user.canEditGender}"/>
	  						<h:panelGrid rendered="#{user.canEditGender}">	                
	                			<t:selectOneRadio styleClass="text_gray_12"  id="gender" value="#{user.gender}">
	            					<f:selectItem  itemLabel="#{msgs['register.gender.male']}" itemValue="M" />
									<f:selectItem  itemLabel="#{msgs['register.gender.female']}" itemValue="F" />
	            				</t:selectOneRadio>
	            		</h:panelGrid>  	            		
	            	
					
 				<h:outputLabel styleClass="new_lable" for="email" value="#{msgs['register.email']}"/>
 				<h:panelGrid columns="1" width="5px" />
 				<h:panelGrid columns="2">
 					<t:outputText styleClass="data_display" value="#{user.email}"  rendered="#{!user.canEditEmail}"/>
	                <h:inputText dir="ltr" size="24" maxlength="50" styleClass="new_input" id="email" value="#{user.email}" required="true" rendered="#{user.canEditEmail}" validator="#{commonUtil.validateEmailFromUnix}">
	                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
	                </h:inputText>
	                <t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
                </h:panelGrid>

               	<h:outputLabel styleClass="new_lable" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
				<h:panelGroup rendered="#{!applicationData.rtlAlign}">
               		<h:outputLabel align="right" styleClass="lable_text" style="font-weight:bold;font-size:11px;" value="+"/>
               	</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.rtlAlign}">
               		<h:panelGrid columns="1" width="5px" />
               	</h:panelGroup>
               	<h:panelGrid columns="2" border="0"  >
					<h:panelGrid columns="5" cellpadding="0" cellspacing="0" style="direction:ltr">
						<h:panelGroup rendered="#{applicationData.rtlAlign}">
		               		<h:outputLabel align="right" styleClass="lable_text" style="font-weight:bold;font-size:11px;" value="&#160;+&#160;"/>
		               	</h:panelGroup>
	               	   	<h:inputText maxlength="3" style="width:35px;" styleClass="new_input" dir="ltr" id="mobilePhoneCode" value="#{registerForm.mobileUserPhoneCode}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onkeydown="return phoneKeys(event);">
	                	  	<f:validateLongRange/>
	                	  	<f:validateLength minimum='1' maximum='4'/>
	                	</h:inputText>
	                	<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
	               	   	<h:inputText styleClass="new_input" style="width:121px;" maxlength="20" dir="ltr" id="mobilePhone" value="#{registerForm.mobilePhone}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}">
	                	  	<f:validateLongRange/>
	  	                	<f:validateLength minimum='7' maximum='20'/>
	                	</h:inputText>
	                	<h:panelGrid columns="1" border="0" rendered="#{applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId != 192 &amp;&amp; applicationData.realCountryId != 0}">
		                	<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/i.jpg" onmouseOver="showCurrHint(this, 'mobilePhoneMessage')" onmouseout="hideCurrHint(this)" style="cursor:pointer"/>
				        	<div id="mobilePhoneMessage" style="display:none;">#{msgs['register.mobilePhone.info']}</div>
			        	</h:panelGrid>
                	</h:panelGrid>
                	<h:panelGroup>
		                <t:message id="mobilePhoneCodeError" for="mobilePhoneCode" replaceIdWithLabel="true" styleClass="error_messages"/>
	                	<t:message id="mobilePhoneError" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
	                </h:panelGroup>
               	</h:panelGrid>

               	<h:outputLabel styleClass="new_lable" for="landLinePhone" value="#{msgs['register.phone']}"/>
               	<h:panelGroup rendered="#{!applicationData.rtlAlign}">
               		<h:outputLabel align="right" styleClass="lable_text" style="font-weight:bold;font-size:11px;" value="+"/>
               	</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.rtlAlign}">
               		<h:panelGrid columns="1" width="5px" />
               	</h:panelGroup>
  				<h:panelGrid columns="2">
					<h:panelGrid columns="4"  cellpadding="0" cellspacing="0" style="direction:ltr">
						<h:panelGroup rendered="#{applicationData.rtlAlign}">
		               		<h:outputLabel align="right" styleClass="lable_text" style="font-weight:bold;font-size:11px;" value="&#160;+&#160;"/>
		               	</h:panelGroup>
						<h:inputText maxlength="4" style="width:35px;" styleClass="new_input" dir="ltr" id="landPhoneCode" value="#{registerForm.landUserPhoneCode}" onkeydown="return phoneKeys(event);">
	                	  	<f:validateLongRange/>
	                	  	<f:validateLength minimum='1' maximum='4'/>
	                	</h:inputText>
	                	<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
	               	   	<h:inputText styleClass="new_input" style="width:121px;" maxlength="20" dir="ltr" id="landLinePhone" value="#{registerForm.landLinePhone}" >
	                	  	<f:validateLongRange/>
	 	                	<f:validateLength minimum='7' maximum='20'/>
	                	</h:inputText>
                	</h:panelGrid>
					<h:panelGroup>
         				<t:message id="landPhoneCodeError" for="landPhoneCode" replaceIdWithLabel="true" styleClass="error_messages"/>
		                <t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
					</h:panelGroup>


               	</h:panelGrid>

				<h:panelGroup />
				<h:panelGroup />
				<h:panelGrid columns="3" cellpadding="0" cellspacing="0" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" border="0">
					<h:selectBooleanCheckbox id="contactByEmail" value="#{registerForm.contactByEmailNot}" required="true" />
	                <h:outputLabel styleClass="lable_text" for="contactByEmail" value="&#160;#{msgs['register.contactbyemail.not']}"/>
	                <t:message id="contactByEmailError" for="contactByEmail" replaceIdWithLabel="true" styleClass="error_messages"/>
		      	</h:panelGrid>

				<h:panelGroup />
				<h:panelGroup />
				<h:panelGrid columns="3" cellpadding="0" cellspacing="0" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" border="0">
					<h:selectBooleanCheckbox id="contactBySms" value="#{registerForm.contactBySmsNot}" required="true" />
	                <h:outputLabel styleClass="lable_text" for="contactBySms" value="&#160;#{msgs['register.contactbysms.not']}"/>
	                <t:message id="contactBySmsError" for="contactBySms" replaceIdWithLabel="true" styleClass="error_messages"/>
				</h:panelGrid>

				<h:panelGrid columns="1" width="5px" />
				<h:panelGrid columns="1" width="5px" />
				<h:panelGrid>
		            <t:commandButton
		         		id="button"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
		         		onmouseover="Changepic('personalForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
		         		onmouseout="Changepic('personalForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
		         		onclick="gowait('personalForm:button','personalForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		         				 return myfaces.oam.submitForm('personalForm','personalForm:hiddenbtn');" >
	         		</t:commandButton>
	         	</h:panelGrid>

				<h:panelGrid >
			         	<h:commandLink action="#{registerForm.updateUserDetails}"
			         		id="hiddenbtn" style="display:none" />
				</h:panelGrid>
            </h:panelGrid>

			 	<script>
				 	if (document.getElementById("personalForm:countriesRegulatedList")) {
						var countryId = document.getElementById("personalForm:countriesRegulatedList").value;
					} else {
						var countryId = document.getElementById("personalForm:countriesNotRegulatedList").value;
					}
					if(countryId != 220 ){
				  		document.getElementById("personalForm:statesList").parentNode.parentNode.style.display="none";
					  	document.getElementById("personalForm:statesLabel").parentNode.parentNode.style.display="none";
				  	}
				</script>

 	     </h:panelGrid>
		<h:panelGrid columns="3" cellspacing="0" cellpadding="4" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" rendered="#{!registerForm.validatePass}">
			<h:outputText value="#{msgs['header.personal']}" styleClass="info_pages_text_header" />
			<h:outputText value="" />
			<h:outputText value="" />

			<h:outputLabel styleClass="new_lable" for="password" value="#{msgs['personal.password']}" />
	        <h:inputSecret styleClass="new_input" id="password" required="true" validator="#{registerForm.validatePass}" />
		    <t:message id="passwordError" for="password" styleClass="error_messages" />

			<h:outputText value="" />
			<t:commandButton
         		id="buttonPass"
         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
         		onmouseover="Changepic('personalForm:buttonPass','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
         		onmouseout="Changepic('personalForm:buttonPass','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
         		onclick="gowait('personalForm:buttonPass','personalForm:hiddenbtnPass','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
         				 return myfaces.oam.submitForm('personalForm','personalForm:hiddenbtnPass');" >
         	</t:commandButton>
         	<script>
			 	document.getElementById('personalForm:password').focus();
			</script>
  		</h:panelGrid>
		<h:panelGrid>
   	  		<h:commandLink  action="personal" id="hiddenbtnPass" style="display:none"/>
	  	</h:panelGrid>

		<h:panelGroup rendered="#{commonUtil.hasMessages}" >
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	    </h:panelGroup>

    </h:form>
</h:panelGroup>


</ui:define>
</ui:composition>

</html>

