
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="head"><script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script></ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['transactions.jsf.title']}"/>
</ui:define>
<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message.transactions2']}"/></h1>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="transactions" />
</ui:define>
<ui:define name="content">

	 <f:verbatim>
	        <SCRIPT LANGUAGE="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");


				// configuration variable for the hint object, these setting will be shared among all hints created by this object
				var HINTS_CFG = {
					'smart'      : true, // don't go off screen, don't overlap the object in the document
					'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
					'gap'        : 20, // minimum allowed distance between the hint and the origin (negative values accepted)
					'align'      : 'bctl', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
					'css'        : 'hintsClass_canceledTrx', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
					'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
					'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
					'follow'     : false, // hint follows the mouse as it moves
					'z-index'    : 100, // a z-index for all hint layers
					'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
					'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
					'opacity'    : 90 // opacity of the hint in %%
				};
				// text/HTML of the hints
				var HINTS_CANCELED = ['#{msgs['trans.status.canceledbyetrader']}'];
				var cancelHint = new THints (HINTS_CANCELED, HINTS_CFG);
			</SCRIPT>
	 </f:verbatim>

	<t:saveState id="tranform" value="#{transactionsForm}" />

<TABLE cellpadding="0" cellspacing="0" width="100%" border="0" class="center_align">
 <tr class="center_align">
  <td class="center_align">

    <h:panelGroup styleClass="center_align">

		<h:form id="transactionsForm">

		<h:panelGrid cellspacing="0" cellpadding="0" columns="1" styleClass="center_align" rowClasses="center_align" columnClasses="#{applicationData.columnClassesDirection}">

			<h:panelGrid styleClass="date_range_table" style="height:35px; width:330px;" columns="10" rows="1" align="center">

	        <h:outputLabel styleClass="lable_text" for="from" value="#{msgs['transactions.from']}"/>
			<h:inputText styleClass="input #{applicationData.tlv? 'input_border' : ''}" id="from" value="#{transactionsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd.MM.yy'); return false;">
				<f:convertDateTime pattern="dd.MM.yy" />
		    </h:inputText>

	       		<img style="cursor:hand;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/calendar.jpg" alt="" align="top" border="0" onClick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd.MM.yy'); return false;" TITLE="" NAME="anchor1" ID="anchor1"/>

			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error_messages"/>

			<h:inputText styleClass="input #{applicationData.tlv? 'input_border' : ''}" id="to" value="#{transactionsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:to'],'anchor2','dd.MM.yy'); return false;">
			        	 <f:convertDateTime pattern="dd.MM.yy" />
		    </h:inputText>

	       		<img style="cursor:hand;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/calendar.jpg" alt="" align="top" border="0" onClick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:to'],'anchor2','dd.MM.yy'); return false;" TITLE="" NAME="anchor2" ID="anchor2"/>

			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error_messages"/>

		    <t:commandButton align="middle"
			       		id="btnImage"
			       		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
			       		onmouseover="Changepic('transactionsForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
			       		onmouseout="Changepic('transactionsForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
			       		onclick="gowait('transactionsForm:btnImage','transactionsForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
			       		        return myfaces.oam.submitForm('transactionsForm','transactionsForm:hiddenbtn');" >
		    </t:commandButton>
			<h:commandLink action="#{transactionsForm.updateTransactionsList}"
			        		id="hiddenbtn" style="display:none"/>

		    </h:panelGrid>

		<br/>


		<h:panelGrid rendered="#{transactionsForm.listSize==0}" columns="3" border="0" width="100%" cellpadding="0" cellspacing="0" >
			 	<h:panelGrid align="center" columns="1" border="0" >
			 		<t:outputText styleClass="pages_text" value="#{msgs['transactions.emptylist']}" />
		 		</h:panelGrid>
	   	</h:panelGrid>

		<h:panelGrid align="center" columns="1" border="0" width="702px" cellpadding="0" cellspacing="0">


		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass=""
				rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column"
                var="v"
                value="#{transactionsForm.transactionsList}"
                preserveDataModel="false"
                rows="10"
                renderedIfEmpty="false"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#e1e1e1'"
				rowOnMouseOut="this.style.backgroundColor=old"
				align="center"
				cellpadding="0"
				cellspacing="0"
           >
           <h:column>
               <f:facet name="header">

	               <t:commandLink action="#{transactionsForm.sortList}" >
						   <h:outputText value="#{msgs['transactions.id']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="id" />
				  	    </t:commandLink>

               </f:facet>
			   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/x.gif" rendered="${v.displayCancelTranHint}" onmouseover="cancelHint.show(0, this)" onmouseout="cancelHint.hide()"/>
               <h:outputText value="#{v.id}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:commandLink action="#{transactionsForm.sortList}" >
			           <h:outputText value="#{msgs['transactions.date']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="timeCreated" />
				  	    </t:commandLink>

               </f:facet>
               <t:outputText escape="false" value="#{v.timeCreatedTxt}" />
           </h:column>

           <t:column style="text-align:#{applicationData.pageAlignment};">
               <f:facet name="header">
	               <t:commandLink action="#{transactionsForm.sortList}" >
						   <h:outputText value="#{msgs['transactions.desc']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="desc" />
				  	    </t:commandLink>

               </f:facet>
               <h:outputText value="#{v.typeNameTxt}" />
           </t:column>
           <h:column>
               <f:facet name="header">

                   <t:commandLink action="#{transactionsForm.sortList}" >
				           <h:outputText value="#{msgs['transactions.credit']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="credit" />
				  	    </t:commandLink>
               </f:facet>
               <h:outputText rendered="#{v.credit}" value="#{v.amountTxt}" />
           </h:column>
           <h:column>
               <f:facet name="header">

					<t:commandLink action="#{transactionsForm.sortList}" >
							<h:outputText value="#{msgs['transactions.debit']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="debit" />
				  	    </t:commandLink>
               </f:facet>
               <h:outputText rendered="#{!v.credit}" value="#{v.amountTxt}" />
           </h:column>

        	</t:dataTable>

		</h:panelGrid>

        <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass=""
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator_cols"
                    paginatorTableClass="paginator"
                    paginatorRenderLinkForActive="false"
                    immediate="true"
                    rendered="#{transactionsForm.listSize>10}"
                    align="center"
                    >
              <ui:include src="/jsp/#{applicationData.templatesDirectory}/scroller_facets.xhtml"/>


            </t:dataScroller>

            </h:panelGrid>

		<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;z-index:1;layer-background-color:white;"></DIV>
   	    <iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0" scrolling="No"></iframe>

   	    </h:panelGrid>
        </h:form>

    </h:panelGroup>
   </td>
  </tr>
 </TABLE>



</ui:define>
</ui:composition>

</html>


