
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>

<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="wireDeposit" />
</ui:define>
<ui:define name="content">
	<div class="full_reg_holder ml10">
		<div class="clear mb20">
			<span class="deposit_title"><h:outputText value="#{msgs['wire.deposit.header']}"/></span>
		</div>
		<ui:include src="/jsp/pages/wireDeposit_content.xhtml" />
		<a class="deposit_other_FM_link" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/paymentMethodSelector.jsf"><h:outputText value="#{msgs['CMS.newCardContent.text.otherfundingmethods']}" /></a>
	</div>
</ui:define>
</ui:composition>
</html>
