﻿/* using HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #093755;
  font-family: Verdana, monospace, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9;  text-decoration: none; }
mark { background-color: #ff9; color: #093755; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: 800; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
.ie7 img { -ms-interpolation-mode: bicubic; }
button {  width: auto; overflow: visible; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

::-moz-selection{ background: #fa9913; color:#fff; text-shadow: none; }
::selection { background:#fa9913; color:#fff; text-shadow: none; }

html{
	background:#fff;
}

body{
	text-align:left;
	direction:ltr;
}

img{
	border:0 none;
}

a:link, a:visited, a:active{color:#2d2b34; text-decoration:underline; font-weight:normal; background-color:transparent;}
a:hover{color:#e81f38; text-decoration:underline;}

.clsBlackLink, a.clsBlackLink:link, a.clsBlackLink:visited, a.clsBlackLink:active{color:#2d2b34; text-decoration:none;}
a.clsBlackLink:hover{color:#e81f38; text-decoration:underline;}

.clsPinkLink, a.clsPinkLink:link, a.clsPinkLink:visited, a.clsPinkLink:active{color:#e81f38; text-decoration:none;}
a.clsPinkLink:hover{text-decoration:underline;}

.clsPinkLinkU, a.clsPinkLinkU:link, a.clsPinkLinkU:visited, a.clsPinkLinkU:active{color:#e81f38; text-decoration:underline;}
a.clsPinkLinkU:hover{text-decoration:underline;}
.clear {clear: both;}
.clsSpacer, hr{
	clear:both;
	height:0;
	font-size:0;
	border:0 none;
	background:transparent;
}

strong,b{
	font-weight:bold;
}

.clsLink{
	cursor:pointer;
}

.clsPageAlign{
	position:relative;
	width:1115px;
	margin:0 auto;
}

header{
	height:70px;
	width:1115px;
	padding:0;
	margin:auto;
}

header .clsLogo{
	margin:11px 0 0 105px;
}




.clsBox1{
	position:relative;
	height:363px;
	text-align:center;
	padding:20px 0 0 0;
	background:url(../images/main_bg.png) repeat-x top;
}

.clsBox1 .clsImg{
}

.clsBox1 .clsBtn{
	position:relative;
	top:-80px;
}




.clsBox2{
	position:relative;
	width:1115px;
	padding:10px 0 30px 0;
	margin:auto;
}

.clsBox2 h2{
	color:#093755;
	font-size:33px;
	line-height:39px;
	font-weight:normal;
	text-align:center;
	padding:35px 0 20px 0;
	margin:0;
}

.clsBox2 ul{
	float:left;
	width:365px;
	padding:0;
	margin:25px 10px 0 105px;
}

.clsBox2 ul li{
	font-size:20px;
	line-height:25px;
	list-style:none;
	clear:both;
	height:102px;
	padding:0;
	margin:0 0 20px 0;
}

.clsBox2 ul li .clsText{
	padding:25px 0 0 0;
}

.clsBox2 ul li.clsItem2 .clsText{
	padding:12px 0 0 0;
}

.clsBox2 ul li .clsIcon{
	float:left;
	margin:0 10px 0 0;
}

.clsBox2 ul li strong{
	font-size:23px;
	font-weight:bold;
}

.clsBox2 .clsVideo{
	color:#898989;
	font-size:12px;
	float:left;
	width:600px;
	margin:25px 0 0 0;
	
}

.clsBox2 .clsVideo iframe{
	width:600px;
	height:366px;
	margin:0 0 3px 0;
}

.clsBox2  .clsAdditionalIncomeText{
	font-size:20px;
	text-align:center;
	width:960px;
	margin:0 auto 20px auto;
}

.clsBox2  .clsStartNow{
	font-size:25px;
	font-weight:bold;
	text-align:center;
}

.clsBox2 .clsRegulatedBox{
	font-size:24px;
	text-align:center;
	padding:50px 0 0 0;
}

.clsBox2 .clsRegulatedBox .clsLogo{
}

.clsBox2 .clsRegulatedBox h3{
	font-size:28px;
	font-weight:bold;
	padding:0;
	margin:5px 0 0 0;
}

.clsBox2 .clsRegulatedBox .clsLogos{
	margin-top: 15px;
}

.clsMobile{
	display:none;
}



.clsTestimonialsBox{
	position:relative;
	height:470px;
	padding:60px 0 0 0;
	background:#f2f5f7;
	clear: both;
}
*+html .clsTestimonialsBox{
	height: 410px;
}

.clsTestimonialsBox:before{
	content:" ";
	width:100%;
	height:14px;
	position:absolute;
	top:0;
	left:0;
	/*opacity:0.1;*/
	background:url(../images/shadow_top.png) no-repeat center top;
}

.clsTestimonialsBox:after{
	content:" ";
	width:100%;
	height:14px;
	position:absolute;
	bottom:0;
	left:0;
	/*opacity:0.1;*/
	background:url(../images/shadow_bottom.png) no-repeat center top;
}

.clsTestimonialsBox .clsTestimonialsCarucelle{
	position:relative;
	width:932px;
	height:370px;
	margin:auto;
}

.clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll{
	font-size:0;
	line-height:0;
	white-space:nowrap;

	position:relative;
	z-index:1;
	width:932px;
	height:370px;
	margin:auto;
	overflow:hidden;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock{
	white-space:normal;
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:930px;
	height:400px;
	text-align:center;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg{
	float:left;
	width:285px;
	text-align:center;
	height: auto;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg img{
	width:285px;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{
	color:#093755;
	font-size:20px;
	line-height:22px;
	text-align:center;
	padding:0;
	margin:0;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{
	color:#969696;
	font-size:26px;
	line-height:39px;
	font-family:Georgia, Verdana;
	font-style:italic;
	text-align:left;
	
	position:relative;
	float:left;
	width:590px;
	height:350px;
	padding:40px 0 0 40px;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{
	font-size:21px;
	line-height:30px;
	padding-top:25px;
}


.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText{
	font-size:26px;
	line-height:39px;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote1{
	position:absolute;
	top:0;
	left:0;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{
	position:absolute;
	bottom:80px;
	right:0;
}

.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{
	margin:15px 0 0 0;
}


.clsTestimonialsBox .clsNavLeft{
	position:absolute;
	z-index:2;
	top:110px;
	left:-50px;
	width:36px;
	cursor:pointer;
}

.clsTestimonialsBox .clsNavRight{
	position:absolute;
	z-index:2;
	top:110px;
	right:-50px;
	width:36px;
	cursor:pointer;
}




.clsBox3{
	position:relative;
	text-align:center;
	padding:0 0 45px 0;
	margin:auto;
}

.clsBox3 h2{
	color:#093755;
	font-size:33px;
	line-height:39px;
	font-weight:normal;
	text-align:center;
	padding:45px 0 15px 0;
	margin:0;
}




.clsBox4{
	position:relative;
	text-align:center;
	padding:65px 0 65px 0;
	margin:auto;
	background:#052f4a;
}

.clsBox4 h2{
	color:#fff;
	font-size:45px;
	line-height:45px;
	font-weight:normal;
	text-align:center;
	padding:0 0 65px 0;
	margin:0;
}

.clsBox4 ul{
	width:1000px;
	padding:0;
	margin: 0 auto;	
}

.clsBox4 ul li{
	color:#9ba6ad;
	font-size:15px;
	line-height:20px;
	list-style:none;
	text-align:left;
	float: left;
	display:inline-block;
	vertical-align:top;
	height:150px;
	width:490px;
	padding:0;
	margin:0 0 20px 0;
}

.clsBox4 ul li:nth-child(even){
	margin:0 0 20px 20px;
}

.clsBox4 ul li .clsIcon{
	float:left;
	position:relative;
	top:-3px;
	width:62px;
	margin:0 30px 50px 0;
}

.clsBox4 ul li strong{
	color:#fff;
	font-size:26px;
	font-weight:normal;
	line-height: 30px;
	display:block;
	padding:0 0 10px 0;
}





.clsBox5{
	position:relative;
	text-align:center;
	padding:40px 0 45px 0;
	margin:auto;
}




footer{
	color:#969696;
	font-size:13px;
	text-align:center;

	position:relative;
	height:210px;
	padding:30px 0 10px 0;
	background:#f1f2f3;
}

footer:before{
	content:" ";
	width:100%;
	height:14px;
	position:absolute;
	top:0;
	left:0;
	opacity:0.1;
	background:url(../images/shadow_top.png) no-repeat center top;
}

footer .icon_space{
	display:inline-block;
	float: left;
	margin: 0 5px;
}

footer img{
	margin-top: 10px;
}

footer .icons{
	width: 320px;
	margin: 0 auto;
}



@media only screen and (max-width : 1025px) {

	header{height:41px;width:720px;}
	header .clsLogo{margin:4px 0 0 46px;}
	header .clsLogo img{width:150px;}
	.clsBtn{width: 216px;}

	.clsBox1{height:235px;}
	.clsBox1 .clsImg{width:570px;}
	.clsBox1 .clsBtn{top:-50px;}

#RU .clsBox1 .clsImg {margin-left: 22px!important;}
#TR .clsBox1{height:290px!important;}
#ES .clsBox1{height:290px!important;}
#FR .clsBox1 .clsImg{width:600px;}
#FR .clsBox1{height:300px!important;}
#SE .clsBox1{height:290px!important;}

	.clsBox2{width:720px;padding:10px 0 30px 0;}
	.clsBox2 h2{font-size:22px;line-height:29px;padding:15px 0 0 0;}
	.clsBox2 ul{float:left;width:240px!important;padding:0;margin:25px 0 0 35px;}
	.clsBox2 ul li{font-size:13px;line-height:16px;height:65px;}
	.clsBox2 ul li .clsText{padding:15px 0 0 0;}
	.clsBox2 ul li.clsItem2 .clsText{padding:10px 0 0 0;}
	.clsBox2 ul li .clsIcon{width:65px;}
	.clsBox2 ul li strong{font-size:14px;}
	.clsBox2 .clsVideo{font-size:11px;width:420px;margin:25px 0 0 0;}
	.clsBox2 .clsVideo iframe{width:420px;height:255px;}
	.clsBox2  .clsAdditionalIncomeText{font-size:13px;width:700px;padding-top:10px;}
	.clsBox2 .clsRegulatedBox{font-size:16px;}
	.clsBox2 .clsRegulatedBox .clsLogo{width:40px;}
	.clsBox2 .clsRegulatedBox h3{font-size:18px;}
	.clsBox2 .clsRegulatedBox .clsLogos{width:590px; margin-top:10px;}

#TR .clsBox2 ul li{font-size:12px;}
#TR .clsBox2 ul li.clsItem2 .clsText{padding:2px 5px 0 0;}
#TR .clsBox2 ul li.clsItem1 .clsText{padding:10px 5px 0 0;}

#DE .clsBox2 ul {margin:25px 10px 0 35px;}
#DE .clsBox2 ul li{font-size:13px;}
#DE .clsBox2 .clsItem1 .clsText { padding-top:8px; }
#DE .clsBox2 .clsItem1 .clsText strong, b { font-size:14px!important; }
#DE .clsBox2 .clsItem2 .clsText strong, b { font-size:14px!important; }
#DE .clsBox2 .clsItem3 .clsText { padding-top:15px; }
#DE .clsBox2 .clsItem3 .clsText strong { font-size:14px!important; }
#DE .clsBox2 .clsItem3 .clsText b { font-size:13px!important; padding-right:0!important; }

#FR .clsBox2 ul { margin-right:10px; }
#FR .clsBox2 .clsItem1 .clsText { font-size:14px!important; padding-right:10px!important; padding-top:0px!important; }
#FR .clsBox2 .clsItem2 .clsText { font-size:14px!important; padding-top:2px!important;}
#FR .clsBox2 .clsItem2 .clsText strong { font-size:14px!important; }
#FR .clsBox2 .clsItem3 .clsText { padding-top:7px!important; }
#FR .clsBox2 .clsItem3 .clsText strong, b { font-size:14px!important; }

#SE .clsBox2 .clsItem1 .clsText { font-size:14px!important; padding-right:10px!important; }

#NO .clsBox2 .clsItem1 .clsText { font-size:14px!important; padding-right:10px!important; padding-top:10px!important; }
#NO .clsBox2 .clsItem3 .clsText { padding-top:10px!important; }

	.clsTestimonialsBox{height:310px;padding:40px 0 0 0;}
	.clsTestimonialsBox .clsTestimonialsCarucelle{width:680px;height:230px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll{width:680px;height:250px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock{width:680px;height:250px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg{width:170px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg img{width:170px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:14px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:18px;line-height:25px;width:500px;height:250px;padding:25px 30px 0 30px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:17px;line-height:21px;width:500px;height:250px;padding:10px 30px 0 30px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote1{width:50px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:50px;}
	.clsTestimonialsBox .clsNavLeft, .clsTestimonialsBox .clsNavRight{top:55px;}
	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:25px!important; padding-top:15px!important;}	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:20px!important; padding-top:15px!important; width:510px!important;}	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:25px!important; padding-top:15px!important;}	

#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:17px!important; line-height:21px!important; padding-top:15px!important; width:510px!important;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:25px!important; padding-top:20px!important;}

#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:21px!important; padding-top:5px!important; width:510px!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}

#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:21px!important; padding-top:5px!important; width:510px!important;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}

#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:24px!important; padding-top:10px!important;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:20px!important; padding-top:0!important; width:510px!important;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:24px!important; padding-top:10px!important;}

#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:24px!important; padding-top:10px!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:20px!important; padding-top:0!important; width:510px!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:24px!important; padding-top:10px!important;}

#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:19px!important; line-height:25px!important; padding-top:10px!important;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:17px!important; line-height:22px!important; padding-top:0!important; width:510px!important;}

#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:20px!important; line-height:23px!important; padding-top:10px!important;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:19px!important; line-height:22px!important; padding-top:0!important; width:510px!important;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:21px!important; line-height:25px!important; padding-top:10px!important;}

#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:27px!important; padding-top:12px!important;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:17px!important; line-height:22px!important; padding-top:5px!important; width:510px!important;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}

#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:21px!important; padding-top:5px!important; width:510px!important;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:26px!important; padding-top:15px!important;}

	.clsBox3{padding:0 0 35px 0;}
	.clsBox3 h2{font-size:22px;line-height:29px;padding:25px 0 0 0;}
	.clsBox3 img{width:700px;}

	.clsBox4{padding:45px 0 35px 0;}
	.clsBox4 h2{font-size:30px;line-height:30px;padding:0 0 35px 0;}
	.clsBox4 ul{width:720px;}
	.clsBox4 ul li{font-size:11px;line-height:16px;height:110px;width:320px;}
	.clsBox4 ul li .clsIcon{width:42px;margin-bottom:90px;}
	.clsBox4 ul li strong{font-size:20px;padding:0 0 6px 0;}

#TR .clsBox4 ul li {height:110px;}
#ES .clsBox4 ul li {height:110px;}
#ES .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#DE .clsBox4 ul li {height:110px;}
#DE .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#RU .clsBox4 ul li {height:120px;}
#RU .clsBox4 ul li strong {font-size: 18px;}
#RU .clsBox4 ul li .clsIcon {margin-bottom: 100px;}
#TR .clsBox4 ul li .clsIcon {margin-bottom: 100px;}
#FR .clsBox4 ul li {height:110px;}
#FR .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#IT .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#DK .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#SE .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#SE .clsBox4 ul li {height:110px;}
#NO .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#NO .clsBox4 ul li {height:110px;}
#NDL .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#NDL .clsBox4 ul li {height:110px;}


	.clsBox5{padding:25px 0 30px 0;}
	.clsBox5 img{width:480px;}

	footer{font-size:12px;height:150px;padding:15px 0 0 0;}
}


@media only screen and (max-width : 480px) {

	.clsMobile {display: inline-block;}
	.clsNotMobile {display: none;}

	header{height:62px;width:100%;}
	header .clsLogo{text-align:center;margin:15px 0 0 0;}
	header .clsLogo img{width:180px;}

	.clsBox1{height:160px; padding-top:10px;}
	.clsBox1 .clsImg{width:290px;}
	.clsBox1 .clsBtn{top:-10px; width:180px;}
#RU .clsBox1 .clsImg{margin-left:3px!important;}	
#DE .clsBox1 .clsImg {margin-left: 0!important;}
#TR .clsBox1{height:170px!important;}
#ES .clsBox1{height:180px!important;}
#ES .clsBox1 .clsImg{width:315px; margin-left:-5px;}
#FR .clsBox1{height:190px!important;}
#FR .clsBox1 .clsImg{width:340px;margin-left:-16px;margin-top:5px;}
#SE .clsBox1{height:170px!important;}
#SE .clsBox1 .clsImg{margin-left:3px!important;}
#SE .clsBox1 .clsBtn{margin:0!important;}
#IT .clsBox1 .clsImg{margin-left:0px!important;}
#NDL .clsBox1 .clsImg{margin-left:3px!important;}
#NO .clsBox1 .clsImg{width:335px;margin-left:-13px;margin-top:5px;}
#NO .clsBox1{height:180px!important;}

	.clsBox2{width:100%;padding:0 0 30px 0;}
	.clsBox2 h2{font-size:16px;line-height:29px;padding:15px 0 0 0;}
	.clsBox2 ul{float:none;width:100%!important;padding:0;margin:10px 0 0 15px;}
	.clsBox2 ul li{font-size:15px;line-height:20px;height:60px;}
	.clsBox2 ul li .clsText{padding:12px 0 0 0;}
	.clsBox2 ul li.clsItem2 .clsText{padding:3px 0 0 0;}
	.clsBox2 ul li .clsIcon{width:65px;}
	.clsBox2 ul li strong{font-size:14px;}
	.clsBox2 .clsVideo{float:none; font-size:11px;width:290px;margin:25px auto 25px auto;}
	.clsBox2 .clsVideo iframe{width:290px;height:180px;}
	.clsBox2  .clsAdditionalIncomeText{font-size:13px;width:100%;padding:10px;}
	.clsBox2  .clsStartNow img{width:180px;}
	.clsBox2 .clsRegulatedBox{font-size:16px;}
	.clsBox2 .clsRegulatedBox .clsLogo{width:40px;}
	.clsBox2 .clsRegulatedBox h3{font-size:22px;}
	.clsBox2 .clsRegulatedBox .clsLogos{width:300px; margin:20px auto 20px auto;}

#DE .clsBox2 ul li.clsItem1 .clsText{padding-right:55px;padding-top:0px;}
#DE .clsBox2 ul li.clsItem2 .clsText{padding:3px 12px 0 0;}
#ES .clsBox2 ul li{font-size:13px;}
#ES .clsBox2 ul li strong{font-size:13px;}
#ES .clsBox2 ul li.clsItem3 .clsText{padding:3px 50px 0 0!important;}
#IT .clsBox2 ul li.clsItem2 .clsText{padding:3px 12px 0 0;}
#RU .clsBox2 ul li.clsItem1 .clsText{padding-right:15px;padding-top:5px;}
#RU .clsBox2 ul li.clsItem2 .clsText{padding:3px 12px 0 0;}
#FR .clsBox2 h2 { width:80%; margin: 0 auto; }
#FR .clsBox2 .clsRegulatedBox span {padding:5px 6px;}
#FR .clsBox2 h2{font-size:18px;line-height:25px;padding:15px 5px;width:100%;margin:0 auto;}
#FR .clsBox2 .clsItem1 .clsText { font-size:13px!important;padding-top:10px!important; }
#FR .clsBox2 .clsItem1 .clsText strong { font-size:13px!important; }
#FR .clsBox2 .clsItem2 .clsText { font-size:13px!important; padding-right:10px!important; padding-top:0px!important; }
#FR .clsBox2 .clsItem3 .clsText{padding:3px 65px 0 0!important;}
#FR .clsBox2 .clsItem2 .clsText strong { font-size:13px!important; }
#FR .clsBox2 .clsItem3 .clsText strong, b { font-size:14px!important; }
#SE .clsBox2 .clsItem1 .clsText { font-size:15px!important; }
#SE .clsBox2 h2 { width:88%; margin: 0 auto; }
#NO .clsBox2 h2 { width:90%!important; margin:0 auto; }
#NO .clsBox2 .clsItem2 .clsText { font-size:14px!important; padding-right:10px!important; padding-top:12px!important; }

	.clsTestimonialsBox{height:560px;padding:20px 0 0 0;}
	.clsTestimonialsBox .clsTestimonialsCarucelle {width:100%;height:560px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll{width:100%;height:560px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock{width:100%;height:560px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg{float:none;width:170px; margin:0 auto 0 auto;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg img{width:170px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:14px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:15px;line-height:21px;width:100%;height:560px;padding:10px 30px 0 30px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote1{left:10px;;width:40px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:40px;bottom:300px;right:20px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsQuote2{width:40px;bottom:285px;right:20px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{text-align:center; padding-top:10px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow img{width:180px;}
	.clsTestimonialsBox .clsNavLeft{top:70px; left:10px; width:25px;}
	.clsTestimonialsBox .clsNavRight{top:70px; right:10px; width:25px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:19px!important; line-height:24px!important; padding-top:15px!important; width:100%!important;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:20px!important; line-height:24px!important; padding-top:15px!important; width:100%!important;}

#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg{height:auto;}
#TR .clsTestimonialsBox{height:570px;padding:20px 0 0 0;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:10px;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:17px!important; line-height:21px!important; padding-top:15px!important; width:100%!important;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:18px!important; padding-top:15px!important; width:100%!important;}	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:19px!important; line-height:22px!important; padding-top:15px!important; width:100%!important;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsQuote2{width:40px;bottom:270px;right:20px;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsQuote2{width:40px;bottom:270px;right:20px;}

#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:19px!important; padding-top:15px!important; width:100%!important;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:5px;}

#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:17px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:18px!important; padding-top:15px!important; width:100%!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:24px!important; padding-top:15px!important; width:100%!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:5px;}

#IT .clsTestimonialsBox {height:580px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle {height:580px;}
#IT .clsTestimonialsBox #oTestimonialsScroll {height:580px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:17px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:20px!important; padding-top:15px!important; width:100%!important;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:19px!important; line-height:22px!important; padding-top:15px!important; width:100%!important;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:5px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText .clsQuote2{width:40px;bottom:330px;right:20px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsQuote2{width:40px;bottom:270px;right:20px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsQuote2{width:40px;bottom:300px;right:20px;}

#RU .clsTestimonialsBox {height:690px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle {height:690px;}
#RU .clsTestimonialsBox #oTestimonialsScroll {height:690px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:25px!important; padding-top:5px!important; width:100%!important;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:20px!important; padding-top:5px!important; width:100%!important;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:23px!important; padding-top:5px!important; width:100%!important;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText .clsStartNow{padding-top:10px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsStartNow{padding-top:0;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsStartNow{padding-top:10px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText .clsQuote2{width:40px;bottom:220px;right:20px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsQuote2{width:40px;bottom:170px;right:20px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsQuote2{width:40px;bottom:230px;right:20px;}

#FR .clsTestimonialsBox {height:690px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle {height:690px;}
#FR .clsTestimonialsBox #oTestimonialsScroll {height:690px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:25px!important; padding-top:15px!important; width:100%!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:20px!important; padding-top:15px!important; width:100%!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText .clsQuote2{width:40px;bottom:240px;right:20px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsQuote2{width:40px;bottom:200px;right:20px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsQuote2{width:40px;bottom:260px;right:20px;}

#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:25px!important; padding-top:15px!important; width:100%!important;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:15px!important; line-height:20px!important; padding-top:15px!important; width:100%!important;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText .clsQuote2{width:40px;bottom:290px;right:20px;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsQuote2{width:40px;bottom:300px;right:20px;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsQuote2{width:40px;bottom:330px;right:20px;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:5px;}

#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:24px!important; padding-top:15px!important; width:100%!important;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:20px!important; padding-top:15px!important; width:100%!important;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:25px!important; padding-top:15px!important; width:100%!important;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:0;}

#NO .clsTestimonialsBox {height:580px;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle {height:580px;}
#NO .clsTestimonialsBox #oTestimonialsScroll {height:580px;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:18px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:20px!important; padding-top:15px!important; width:100%!important;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:17px!important; line-height:23px!important; padding-top:15px!important; width:100%!important;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsStartNow{padding-top:8px;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText .clsQuote2{width:40px;bottom:280px;right:20px;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText .clsQuote2{width:40px;bottom:312px;right:20px;}

#NDL .clsTestimonialsBox {height:610px;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle {height:610px;}
#NDL .clsTestimonialsBox #oTestimonialsScroll {height:610px;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:19px!important; line-height:26px!important; padding-top:15px!important; width:100%!important;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:16px!important; line-height:20px!important; padding-top:15px!important; width:100%!important;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:18px!important; line-height:24px!important; padding-top:15px!important; width:100%!important;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText .clsStartNow{padding-top:5px;}

	.clsBox3{padding:0 0 35px 0;}
	.clsBox3 h2{font-size:16px;line-height:29px;padding:15px 0 0 0;}
	.clsBox3 img{width:307px;}

	.clsBox4{padding:35px 0 35px 0;}
	.clsBox4 h2{font-size:28px;line-height:30px; width:180px; margin:auto; padding:0 0 35px 0; width:100%;}
	.clsBox4 ul{width:100%;}
	.clsBox4 ul li{font-size:15px;line-height:16px; line-height:20px;height:auto;width:100%; padding:0 10px 0 10px; margin:0 0 20px 0}
	.clsBox4 ul li:nth-child(even){margin:0 0 20px 0}
	.clsBox4 ul li .clsIcon{width:22px;top:0;margin:0 10px 110px 0;}
	.clsBox4 ul li strong{font-size:20px;padding:0 0 6px 0;}
	.clsBox4 .clsStartNow img{width:205px;}

#TR .clsBox4 ul li {height:160px;}
#TR .clsBox4 ul li .clsIcon {margin-bottom: 130px;}
#ES .clsBox4 ul li {height:auto;}
#ES .clsBox4 ul li .clsIcon {margin-bottom: 120px;}
#DE .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#DE .clsBox4 ul li {height:auto;}
#RU .clsBox4 ul li .clsIcon{margin-bottom:125px!important;}
#RU .clsBox4 h2 {width:100%;}
#RU .clsBox4 ul li {height:auto;}
#FR .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#FR .clsBox4 h2 {width:90%;}
#FR .clsBox4 ul li {height:auto;}
#IT .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#SE .clsBox4 ul li {height:auto;}
#SE .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#SE .clsBox4 h2 {width:100%;}
#NO .clsBox4 ul li {height:auto;}
#NO .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
#NO .clsBox4 h2 {width:100%;}
#DK .clsBox4 ul li {height:auto;}
#DK .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#NDL .clsBox4 ul li {height:auto;}
#NDL .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#NDL .clsBox4 h2 {width:100%;}

	.clsBox5{padding:25px 0 30px 0;}
	.clsBox5 img{width:270px;}

	footer{font-size:13px;height:150px;padding:15px 10px 0 10px;}
}


/*   LOCALIZATIONS      */


#TR .clsBox2 ul {width:370px;}
#TR .clsBox1 .clsBtn { top: 0; }
#TR .clsBox1 { height:460px; background:url(../images/main_bg_ru.png) repeat-x top; }
#TR .clsBox2 .clsItem1 .clsText {padding-top:15px;}
#TR .clsBox2 .clsItem2 .clsText {padding-top:6px;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:25px; line-height:34px; padding-top:25px;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:22px; line-height:30px; padding-top:0;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:32px; padding-top:25px;}

#ES .clsBox1 .clsBtn { top: 0; }
#ES .clsBox1 { height:460px; background:url(../images/main_bg_ru.png) repeat-x top; }
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:21px; line-height:31px; padding-top:25px;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:35px;}

#DE .clsBox1 .clsImg {margin-left: 32px;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:25px; line-height:34px; padding-top:25px;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:21px; line-height:30px; padding-top:0;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:35px; padding-top:30px;}

#IT .clsBox1 .clsImg {margin-left: 32px;}
#IT .clsBox2 .clsItem3 .clsText {padding-top:12px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:25px; line-height:36px; padding-top:35px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:22px; line-height:30px; padding-top:10px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:35px; padding-top:30px;}

#RU .clsBox1 .clsImg {margin-left: 52px;}
#RU .clsBox2 .clsItem1 .clsText {padding: 2px 0 0 0;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:24px; line-height:32px; padding-top:15px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:20px; line-height:27px; padding-top:0px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:32px; padding-top:30px;}

#FR .clsBox1 .clsBtn { top: 0; }
#FR .clsBox1 { height:460px; background:url(../images/main_bg_ru.png) repeat-x top; }
#FR .clsBox2 .clsItem .clsText { font-size:11px; }
#FR .clsBox2 .clsItem1 .clsText {padding: 15px 0 0 0; font-size:17px;}
#FR .clsBox2 .clsItem2 .clsText {padding: 5px 0 0 0; font-size:18px;}
#FR .clsBox2 .clsItem2 .clsText strong {font-size:21px;}
#FR .clsBox2 .clsItem3 .clsText {padding: 15px 30px 0 0; font-size:18px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:24px; line-height:33px; padding-top:35px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:20px; line-height:27px; padding-top:0px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:31px; padding-top:30px;}

#DK .clsBox2 .clsItem1 .clsText {padding: 15px 0 0 0;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:26px; line-height:32px; padding-top:35px;}
#DK .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:24px; line-height:30px; padding-top:0px;}
#DK .clsBox2 .clsItem3 .clsText {padding-top:17px;}

#SE .clsBox1 .clsImg {margin-left: 42px;}
#SE .clsBox1 .clsBtn { top: 0; margin-left:52px; }
#SE .clsBox1 { height:460px; background:url(../images/main_bg_ru.png) repeat-x top; }
#SE .clsBox2 .clsItem1 .clsText {padding: 13px 0 0 0; font-size:19px;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:24px; line-height:33px; padding-top:35px;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:22px; line-height:31px; padding-top:20px;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:34px; padding-top:30px;}

#NO .clsBox2 .clsItem1 .clsText {padding: 15px 0 0 0;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:25px; line-height:34px; padding-top:25px;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:22px; line-height:30px; padding-top:10px;}
#NO .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:35px; padding-top:30px;}
#NO .clsBox2 .clsItem3 .clsText {padding: 16px 30px 0 0; font-size:21px;}

#NDL .clsBox1 .clsImg {margin-left: 52px;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size:25px; line-height:34px; padding-top:25px;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size:23px; line-height:29px; padding-top:15px;}
#NDL .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size:25px; line-height:35px; padding-top:25px;}
