<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	
	<div class="anyoption-down-popUp" id="popUpAoDown">
		<div class="wrapper">
			<i class="reg_log_close_img" onclick="closeAoDownPopup();"></i>
			<p class="bolder-text">
				<h:outputText value="#{msgs['CMS.aoDown_PopUp.text1']}" escape='false'/>
			</p>
			<p>
				<h:outputFormat value="#{msgs['CMS.aoDown_PopUp.text2']}" escape='false'>
					<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"/>
				</h:outputFormat>
			</p>
		</div>
	</div>
</f:view>