<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div id="popUpAORegulationStatus" class="regulation_status_popUp_content">
		<i class="reg_log_close_img" onclick="closeAORegulationStatusPopup();" id="popUpAORegulationStatusClose"></i>
		<!-- Regulation Status PopUp Passed -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_passed">
			<i class="regulation_status_popUp_imgs vaM"></i>
			<div class="regulation_status_popUp_txt vaM">
				<p class="txt_size"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.passed']}" escape='false'/></p>
			</div>
		</div>
		<!-- Regulation Status PopUp Suspended due to CNMV -->
		<div class="popUpAORegulationStatusCodeBlock regulation-status-cnmv" id="popUpAORegulationStatusCodeBlock_suspended-cnmv">
			<div class="regulation-status-cnmv-header-holder">
				<div class="regulation-status-cnmv-header step-1">
					<i class="first"></i>
					<i class="second"></i>
				</div>
			</div>
			<div class="regulation_status_popUp_txt">
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv1']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv2']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv3']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv4']}" escape='false'/></p>
				<div class="taC mt40">
					<a class="trade_buton_login trade_buton_login_h dIB w180 vaM" onclick="sendIsKnowledgeCheck(true);closeAORegulationStatusPopup();return false;">
						<span class="rs trade_buton_login">
							<span class="cs trade_buton_login ttUC">
								<h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.i-agree']}" escape='false'/> »
							</span>
						</span>
					</a>
					<a onclick="sendIsKnowledgeCheck(false);closeAORegulationStatusPopup();return false;" class="dark-link">
						<h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.no-thanks']}" escape='false'/>
					</a>
				</div>
			</div>
		</div>
		<!-- Regulation Status PopUp Suspended due to CNMV - require documents -->
		<div class="popUpAORegulationStatusCodeBlock regulation-status-cnmv-docs" id="popUpAORegulationStatusCodeBlock_suspended-cnmv-docs">
			<div class="regulation-status-cnmv-header-holder">
				<div class="regulation-status-cnmv-header step-2">
					<i class="first"></i>
					<i class="second"></i>
				</div>
			</div>
			<div class="regulation_status_popUp_txt" ng-controller="CnmvDocCtrl">
				<p class="b"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs1']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs2']}" escape='false'/></p>
				<div class="download-title"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs.download-and-sign']}" escape='false'/></div>
				<a class="download-pdf" href="#{applicationData.imagesPath}/pdf/cnmv_#{applicationData.userLocale.language}.pdf" target="_blank"></a>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs3']}" escape='false'/></p>
				
				<div class="docs-wrapper">
					<div class="docs-holder flex">
						<div>
							<span class="docs-holder-w3 docs-button-holder">
								<button class="button_small_nd" ng-class="{ loading: selectedDoc.loading }" ng-disabled="isSubmitting" ng-file-select="onFileSelect($files, doc.fileTypeId, doc)" accept="image/*" onclick="this.value = null">
									{{getMsgs('CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs.browse')}}
								</button>
							</span>
							<span class="fs12">{{uploadedFileName}}</span>
						</div>
					</div>
					<div class="errorMsgs" ng-if="fileTooBig">{{getMsgs('CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs.file-too-big')}}</div>
					<div class="errorMsgs" ng-if="fileUploadError" ng-bind-html="getMsgs('generalError')"></div>
					<div class="errorMsgs" ng-if="errorMsg" ng-bind-html="errorMsg"></div>
				</div>
				
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs4']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs5']}" escape='false'/></p>
				<p>
					#{userRegulation.supportPhone}
					<a href="mailto:#{msgs['contact.message3']}">#{msgs['contact.message3']}</a>
				</p>
				<div class="taC mt40">
					<button class="yellow-submit-button" ng-disabled="!isUploaded" ng-click="submit()">
						<h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended-cnmv.docs.start-trading']}" escape='false'/>
					</button>
				</div>
			</div>
		</div>
		<!-- Regulation Status PopUp Restricted -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_restricted">
			<i class="regulation_status_popUp_imgs restricted"></i>
			<div class="regulation_status_popUp_txt">
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted1']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted2']}" escape='false'/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted3']}" escape='false'/></p>
				<p class="b"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted4']}" escape='false'/></p>
				<div class="mt40">
					<a class="trade_buton_login trade_buton_login_h dIB w180 vaM" onclick="sendIsKnowledgeCheck(true);closeAORegulationStatusPopup();return false;">
						<span class="rs trade_buton_login">
							<span class="cs trade_buton_login ttUC">
								<h:outputText value="#{msgs['i-agree']}" escape='false'/> »
							</span>
						</span>
					</a>
					<a onclick="sendIsKnowledgeCheck(false);closeAORegulationStatusPopup();return false;" class="dark-link">
						<h:outputText value="#{msgs['no-thanks']}" escape='false'/>
					</a>
				</div>
			</div>
		</div>
		<!-- Regulation Status PopUp Restricted no thanks-->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_restricted_no_thanks">
			<div class="taC in-div">
				<p class="b"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-no-thanks-1']}" escape='false'/></p>
				<i class="regulation_status_popUp_imgs restricted"></i>
				<p class="text-in-link"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-no-thanks-2']}" escape='false'/></p>
			</div>
		</div>
		<!-- Regulation Status PopUp Restricted For Loss -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_restricted-loss">
			<i class="regulation_status_popUp_imgs restricted-loss"></i>
			<div class="regulation_status_popUp_txt">
				<p class="ttUC txt_size"><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-loss']}" escape='false'/></p>
				<p id="treshold_error_msg">
					<h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-loss1']}" escape="false" />
				</p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-loss2']}" escape='false'/></p>
				<p>
					<h:outputFormat  value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-loss3']}" escape="false">
						<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}&#35;/general-terms/risk"/>
					</h:outputFormat>
				</p>
				<div class="mt20">
					<a class="buton_blue but_sprite clear mt10" onclick="unblockUserForThreshold();return false;">
						<span class="rs but_sprite">
							<span class="cs but_sprite ttUC">
								<h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.restricted-loss-button']}" escape='false'/> »
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Regulation Status PopUp Blocked -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_blocked">
			<i class="regulation_status_popUp_imgs blocked"></i>
			<div class="regulation_status_popUp_txt">
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.blocked1']}" escape='false'/></p>
				<p class="txt_size_s">
					<h:outputFormat value="#{msgs['CMS.aoRegulationStatus_PopUp.text.blocked2']}" escape="false">
						<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" />
					</h:outputFormat>
				</p>
				<div class="regulation_status_popUp_button">
					<a class="trade_buton_login trade_buton_login_h clear" onclick="closeAORegulationStatusPopup();return false;">
						<span class="rs trade_buton_login">
							<span class="cs trade_buton_login ttUC">
								<h:outputText value="#{msgs['alert.button']}" escape='false'/> »
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Regulation Status PopUp Blocked PEP -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_blocked_pep">
			<i class="regulation_status_popUp_imgs blocked"></i>
			<div class="regulation_status_popUp_txt">
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.blocked-pep1']}" escape='false'/></p>
				<p>
					<h:outputFormat value="#{msgs['CMS.aoRegulationStatus_PopUp.text.blocked-pep2']}" escape="false">
						<f:param value="#{user.email}" />
					</h:outputFormat>
				</p>
				<p>
					<h:outputFormat value="#{msgs['CMS.aoRegulationStatus_PopUp.text.blocked2']}" escape="false">
						<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" />
					</h:outputFormat>
				</p>
				<div class="regulation_status_popUp_button">
					<a class="trade_buton_login trade_buton_login_h clear" onclick="closeAORegulationStatusPopup();return false;">
						<span class="rs trade_buton_login">
							<span class="cs trade_buton_login ttUC">
								<h:outputText value="#{msgs['alert.button']}" escape='false'/> »
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Not login -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_not-login">
			<i class="regulation_status_popUp_imgs blocked"></i>
			<div class="regulation_status_popUp_txt">
				<div class="bitcoin_error">
					<h:outputText value="#{msgs['error.investment.notLogin1']}" />
				</div>
				<div class="clear taC">
					<div class="oH clear mt10">
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="trade_buton_login trade_buton_login_h mb10">
							<span class="rs trade_buton_login">
								<span class="cs cs_#{applicationData.userLocale.language} trade_buton_login">
									<h:outputText value="#{msgs['CMS.quick_sign_up.submit1']}" />
								</span>
							</span>
						</a>
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}" class="trade_buton_login trade_buton_register_h" onclick="tradeAttemptLogin(this, event)">
							<span class="rs trade_buton_login">
								<span class="cs trade_buton_login">
									<h:outputText value="#{msgs['header.login1']}" />
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- low balance -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_low-balance">
			<i class="regulation_status_popUp_imgs blocked"></i>
			<div class="regulation_status_popUp_txt">
				<div class="taC mt20">
					<h:outputText value="#{msgs['CMS.tradeBox.text.insufficient_funds']}" escape="false"/>
				</div>
				<div class="clear taC">
					<div class="oH clear mt10">
						<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
							class="trade_buton_login trade_buton_register_h bitcoin_login dIB">
							<span class="rs trade_buton_login">
								<span class="cs trade_buton_login">
									<h:outputText value="#{msgs['header.deposit']}" />
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Regulation Status PopUp Unknown Reason -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_unknown">
			<i class="regulation_status_popUp_imgs blocked"></i>
			<div class="regulation_status_popUp_txt">
				<p><h:outputText value="#{msgs['CMS.reg_quest_service.text.heading.part.1']}#{user.firstName}#{msgs['CMS.reg_quest_service.text.heading.part.2']}"/></p>
				<p class="txt_size_s">
					<h:outputText value="#{msgs['CMS.reg_quest_service.text.paragraph.part.1']}"/>
					<a href="mailto:#{msgs['CMS.reg_quest_service.text.paragraph.part.2']}">#{msgs['CMS.reg_quest_service.text.paragraph.part.2']}</a>
					<div class="txt_size_s" style="white-space:nowrap;">
						<h:outputText value="#{msgs['CMS.reg_quest_service.text.paragraph.part.3']}#{userRegulation.supportPhone}#{msgs['CMS.reg_quest_service.text.paragraph.part.4']}"/>
					</div>
				</p>
				<div class="regulation_status_popUp_button">
					<a class="trade_buton_login trade_buton_login_h clear" onclick="closeAORegulationStatusPopup();return false;">
						<span class="rs trade_buton_login">
							<span class="cs trade_buton_login ttUC">
								<h:outputText value="#{msgs['alert.button']}" escape='false'/> »
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<!-- Bonus money only -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_309">
			<i class="regulation_status_popUp_imgs vaM blocked"></i>
			<div class="regulation_status_popUp_txt vaM">
				<p class="txt_size" id="bonus_balance_only_error"></p>
			</div>
		</div>

		<!-- Suspended after migration / invest -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_314">
			<i class="regulation_status_popUp_imgs vaM blocked"></i>
			<div class="regulation_status_popUp_txt vaM">
				<p class="b">
					<h:outputText value="#{msgs['CMS.reg_quest_service.text.heading.part.1']}#{user.firstName}#{msgs['CMS.reg_quest_service.text.heading.part.2']}" escape="false"/>	
				</p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended.migration.invest']}" escape="false"/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text1.suspended.migration']}" escape="false"/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text2.suspended.migration']}" escape="false"/></p>
			</div>
		</div>

		<!-- Suspended after migration / webtrade -->
		<div class="popUpAORegulationStatusCodeBlock" id="popUpAORegulationStatusCodeBlock_315">
			<i class="regulation_status_popUp_imgs vaM blocked"></i>
			<div class="regulation_status_popUp_txt vaM">
				<p class="b">
					<h:outputText value="#{msgs['CMS.reg_quest_service.text.heading.part.1']}#{user.firstName}#{msgs['CMS.reg_quest_service.text.heading.part.2']}" escape="false"/>	
				</p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text.suspended.migration.webtrade']}" escape="false"/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text1.suspended.migration']}" escape="false"/></p>
				<p><h:outputText value="#{msgs['CMS.aoRegulationStatus_PopUp.text2.suspended.migration']}" escape="false"/></p>
			</div>
		</div>

	</div>
</f:view>