<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<h:form id="wirewForm">
		<h:inputHidden value="#{visit.generate}"/>
		<h:inputHidden value="#{visit.saveToken}"/>
		<div class="withdraw_popUp">
			<div class="withdraw_popUp_content">
				<i class="reg_log_close_img" onclick="myfaces.oam.submitForm('wirewForm','wirewForm:hiddencancel');"></i>
				<i class="withdraw_popUp_img"></i>
				<div class="withdraw_popUp_txt">
					<p class="withdraw_popUp_heading">
						<h:outputFormat value="#{msgs['CMS.withdraw_popUp.text.txt1']}" escape="false">
							<f:param value="#{user.firstName}" />
						</h:outputFormat>
					</p>				
					<p>
						<h:outputText value="#{wireForm.bankWireApproveMessage}" escape="false"/>
					</p>
					<p class="blueLink"><h:outputText value="#{msgs['CMS.withdraw_popUp.text.txt2']}" escape='false'/></p>
					<a class="trade_buton_login trade_buton_login_h clear mt15" onclick="myfaces.oam.submitForm('wirewForm','wirewForm:hiddensave');return false;">		
						<span class="rs trade_buton_login">
							<span class="cs trade_buton_login"><h:outputText value="#{msgs['CMS.contact.me.button.submit']}" escape='false'/></span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<h:commandButton action="#{wireForm.approve}" id="hiddensave" styleClass="hidden_btn"/>
		<h:commandButton action="#{wireForm.notApprove}" id="hiddencancel" styleClass="hidden_btn"/>
	</h:form>
</f:view>