<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<!-- How to Trade One Touch inner banner -->
	<div class="oneTouch-banner">
		<div class="oneTouch-banner-header"><h:outputText value="#{msgs['CMS.banner_howToTradeOnetouch.text.heading']}" escape="false"/></div>
		<div class="oneTouch-banner-body">
			<ul class="oneTouch-banner-list">
				<li>
					<i id="oneTouch-banner-arrow-1" class="oneTouch-banner-arrow"></i>
					<div id="onet-dot-1" class="special_p oneTouch-banner-img"><span>1</span></div>
					<div class="oneTouch-banner-txt-area">
						<div class="special_p oneTouch-banner-img1"></div>
						<div><h:outputText value="#{msgs['CMS.banner_howToTradeOnetouch.text.li1']}" escape="false"/></div>
					</div>
				</li>
				<li>
					<i id="oneTouch-banner-arrow-2" class="oneTouch-banner-arrow"></i>
					<div id="onet-dot-2" class="special_p oneTouch-banner-img"><span>2</span></div>
					<div class="oneTouch-banner-txt-area">
						<div class="special_p oneTouch-banner-img2"></div>
						<div><h:outputText value="#{msgs['CMS.banner_howToTradeOnetouch.text.li2']}" escape="false"/></div>
					</div>
				</li>
				<li>
					<div id="onet-dot-3" class="special_p oneTouch-banner-img"><span>3</span></div>
					<div class="oneTouch-banner-txt-area">
						<div class="special_p oneTouch-banner-img3"></div>
						<div><h:outputText value="#{msgs['CMS.banner_howToTradeOnetouch.text.li3']}" escape="false"/></div>
					</div>
				</li>
			</ul>
			<p><h:outputText value="#{msgs['CMS.banner_howToTradeOnetouch.text.p']}" escape="false"/></p>
		</div>
		<div class="oneTouch-banner-footer">
			<h:outputFormat value="#{msgs['CMS.banner_howToTradeOnetouch.text.footer']}" escape='false'>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouchTerms.jsf')}"/>
			</h:outputFormat>
		</div>
	</div>
	<script>
		level_onetouch_steps();
	</script>
</f:view>