<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<!--Trade now button-->
	<c:if test="#{empty facesContext.externalContext.remoteUser}">
		<div class="banner_trade_but_h">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"
				class="but_trade_now_but but_trade_now dB">
				<span class="rs but_trade_now">
					<span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span>
				</span>
			</a>
		</div>
	</c:if>
	<c:if test="#{!empty facesContext.externalContext.remoteUser}">
		<div class="banner_trade_but_h">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
				class="but_trade_now_but but_trade_now dB">
				<span class="rs but_trade_now">
					<span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span>
				</span>
			</a>
		</div>
	</c:if>
</f:view>