<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div class="banner-trading-gold pR">
		<a href="#{facesContext.externalContext.requestContextPath}/assets/XAU=ALL">
			<span><h:outputText value="#{msgs['CMS.banner_trading_gold.text.link']}" escape="false"/></span>
		</a>
		<p><h:outputText value="#{msgs['CMS.banner_trading_gold.text.p']}" escape="false"/></p>
	</div>
</f:view>