<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
	<h:panelGroup rendered="#{commonUtil.skinRegulated}">
		<div class="regulation_banner1 clear" onclick="pop_doc('container_cysec_new')">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/regulated_licence_pt1.jpg" alt="#{msgs['CMS.regulation.alt.regulated_licence_pt1.jpg']}" class="clear regulation_banner1_img1"/>
			<div class="regulation_banner1_in">
				<h:outputText value="#{msgs['CMS.regulations_banner.text.t1']}" escape="false"/>
				<h:panelGroup rendered="#{addText == 'true'}">
					<br /><br />
					<h:outputText value="#{msgs['CMS.regulation_content.text.t4']}" escape="false"/>
				</h:panelGroup>
			</div>
				<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/regulated_licence_pt2.jpg" alt="#{msgs['CMS.regulation.alt.regulated_licence_pt2.jpg']}" class="clear mt10 dB mb10"/>
		</div>
	</h:panelGroup>
</f:view>