<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div class="glossary_container p10">
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.OneClick.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.OneClick.text']}" escape="false"/>
		</p>           
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.PurchasePrice.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.PurchasePrice.text']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.SellingPrice.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.SellingPrice.text']}" escape="false"/>
		</p>        
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.MaxProfit.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.MaxProfit.text']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.MaxReturn.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.MaxReturn.text']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.MaxRisk.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.MaxRisk.text']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.total.risk.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.total.risk.text']}" escape="false"/>
		</p>
		<!--<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.TotalSold.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.TotalSold.text']}" escape="false"/>
		</p>-->
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.TotalCurrent.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.TotalCurrent.text']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.expiryLevel.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.expiryLevel.text1']}" escape="false"/>
			<a href="#exp" onclick="top.openPopUp('popUpGeneral')" class="link_gray_12_bold">
				<h:outputText value="#{msgs['binary.0-100.glossary.expiryLevel.text2']}" escape="false"/>
			</a>	
			<h:outputText value=" #{msgs['binary.0-100.glossary.expiryLevel.text3']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.openingPrice.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.openingPrice.text']}" escape="false"/>
		</p>
		<p>
			<strong>
				<h:outputText value="#{msgs['binary.0-100.glossary.closingPrice.subject']}" escape="false"/>
			</strong>
			<h:outputText value="#{msgs['binary.0-100.glossary.closingPrice.text']}" escape="false"/>
		</p>
		<p>
			<h:outputText value="#{msgs['binary.0-100.glossary.furtherInformation.text1']}" escape="false"/>
			<a class="link_gray_12_bold" onclick="top.openPopUp('popUpGeneral');"><h:outputText value="#{msgs['binary.0-100.glossary.furtherInformation.text2']}" escape="false"/></a>&#160;
			<h:outputText value="#{msgs['binary.0-100.glossary.furtherInformation.text3']}" escape="false"/>
		</p>
	</div>
</f:view>
