<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div class="clear">
		<h1 class="boInfo_tab_h1 ttUC #{commonUtil.skinRegulated ? 'mt15' : ' '}"><h:outputText value="#{msgs['CMS.binary_options_info.about.h1']}" escape="false" /></h1>
		<ul class="fL boInfo_tab_menu">
			<li class="boInfo_tab_menu_li active" onmouseover="show_tab(this,'boInfo_tab');" id="boInfo_tab0">
				<i class="sprite_bo_info sprite_bo_info_q1"></i>
				<h:outputText value="#{msgs['CMS.binary_options_info.about.h2.what_are_bo']}" escape="false" />
			</li>
			<li class="boInfo_tab_menu_li" onmouseover="show_tab(this,'boInfo_tab');" id="boInfo_tab1">
				<i class="sprite_bo_info sprite_bo_info_q2"></i>
				<h:outputText value="#{msgs['CMS.binary_options_info.about.h2.how_to_trade']}" escape="false" />
			</li>
			<li class="boInfo_tab_menu_li" onmouseover="show_tab(this,'boInfo_tab');" id="boInfo_tab2">
				<i class="sprite_bo_info sprite_bo_info_q3"></i>
				<h:outputText value="#{msgs['CMS.learnAboutStrip.label.header.learn.benefits']}" escape="false" />
			</li>
		</ul>
		<ul class="boInfo_tab fR" id="boInfo_tab">
			<li class="boInfo_tab_text hov" id="content_boInfo_tab0">
				<h2 class="boInfo_tab_h2"><h:outputText value="#{msgs['CMS.binary_options_info.about.h2.what_are_bo']}" escape="false" /></h2>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.what_are_bo.line1']}" escape="false" /></p>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.what_are_bo.line2']}" escape="false" /></p>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.what_are_bo.line3']}" escape="false" /></p>
			</li>
			<li class="boInfo_tab_text" id="content_boInfo_tab1">
				<h2 class="boInfo_tab_h2"><h:outputText value="#{msgs['CMS.binary_options_info.about.h2.how_to_trade']}" escape="false" /></h2>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.how_to_trade.line1']}" escape="false" /></p>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.how_to_trade.line2']}" escape="false" /></p>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.how_to_trade.line3']}" escape="false" /></p>
			</li>
			<li class="boInfo_tab_text" id="content_boInfo_tab2">
				<h2 class="boInfo_tab_h2"><h:outputText value="#{msgs['CMS.binary_options_info.about.h2.benefits']}" escape="false" /></h2>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.benefits.line1']}" escape="false" /></p>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.benefits.line2']}" escape="false" /></p>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.benefits.line3']}" escape="false" /></p>
				<p>
					<h:outputFormat value="#{msgs['CMS.binary_options_info.text.description.benefits.line4']}" escape="false">
						<f:param value="#{applicationData.getFtd()}" />
						<f:param value="#{applicationData.minFirstDeposit}" />
					</h:outputFormat>
				</p>
				<h:panelGroup rendered="#{!commonUtil.skinRegulated}">	
					<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.benefits.line5']}" escape="false" /></p>
				</h:panelGroup>
				<p><h:outputText value="#{msgs['CMS.binary_options_info.text.description.benefits.line6']}" escape="false" /></p>
			</li>
		</ul>
	</div>
</f:view>
