<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div id="popUpBinaryOptionsKnowledge" class="popup_binary_options_knowledge_main">
		<div class="popup_binary_options_knowledge_h pR">
			<div class="popup_binary_options_knowledge_top">
				<h4 class="popup_binary_options_knowledge_h4"><h:outputText value="#{msgs['CMS.popup.binary_options_knowledge.text']}" escape="false"/></h4>
				<div class="popup_binary_options_knowledge_yes">
					<a onclick="binaryOptionsKnowledgeConfirm(true);return false;" class="register_popup_button register_popup_button_h register_popup_button_h_iw clear">
						<span class="rs register_popup_button">
							<span class="cs register_popup_button">#{msgs['CMS.popup.binary_options_knowledge.yes']}</span>
						</span>
					</a>
				</div>
				<div class="popup_binary_options_knowledge_no">
					<a onclick="binaryOptionsKnowledgeConfirm(false);return false;" class="register_popup_button register_popup_button_cancel_h clear">
						<span class="rs register_popup_button">
							<span class="cs register_popup_button">#{msgs['CMS.popup.binary_options_knowledge.no']}</span>
						</span>
					</a>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</f:view>

