<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div id="popUpCapitalQuestionnaire" class="popup_capital_questionnaire_main">
		<iframe id="popUpCapitalQuestionnaireContent" class="popup_capital_questionnaire_content" src="" marginheight="0" frameborder="0"></iframe>
	</div>
</f:view>

