<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	
	<div id="popUpDocuments" class="popup_documents_main" ng-if="showDocumentsPopupType != ''">
		<div id="popup_documents_main_holder" class="popup_documents_main_holder">
			<div style="height:1px;"></div>
			<!--content in-->
			<div class="documents_popUp">
				<i class="reg_log_close_img" onclick="closeDocumentsPopup();"></i>
				<div class="popup_documents_greeting">
					<h:outputFormat value="#{msgs['CMS.documents_PopUp.text.greeting']}" escape="false">
						<f:param value="#{user.firstName}" />
					</h:outputFormat>
				</div>
				<div class="popup_documents_info_text" ng-if="showDocumentsPopupType == 'restricted'">
					<h:outputText value="#{msgs['CMS.documents_PopUp.text.restricted1']}" escape="false" />
					<span class="dIB how-to-upload-docs mt15">
						<h:outputFormat value="#{msgs['CMS.documents_PopUp.text.upload-files']}" escape="false">
							<f:param value="#{applicationData.imagesPath}/pdf/ao_how_to_upload_document_#{applicationData.userLocale.language}.pdf"/>
						</h:outputFormat>
					</span>
				</div>
				<div class="popup_documents_info_text popup_documents_blocked_header" ng-if="showDocumentsPopupType == 'blocked'">
					<h:outputText value="#{msgs['CMS.documents_PopUp.text.blocked1']}" escape="false" />
				</div>
				
				<ui:include src="/jsp/pages/documents_content.xhtml" >
					<ui:param name="isPopup" value="1" />
				</ui:include>
				
				<div class="popup_documents_info_text" ng-if="showDocumentsPopupType == 'restricted'">
					<h:outputText value="#{msgs['CMS.documents_PopUp.text.regulator']}" escape="false" />
					<div class="mt10"><strong><h:outputText value="#{msgs['CMS.documents_PopUp.text.restricted2']}" escape="false" /></strong></div>
				</div>
				<div class="popup_documents_info_text" ng-if="showDocumentsPopupType == 'blocked'">
					<h:outputText value="#{msgs['CMS.documents_PopUp.text.regulator']}" escape="false" />
				</div>
				
				<div class="taC">
					<div class="documents_popUp_button">
						<a class="trade_buton_login trade_buton_login_h clear" onclick="closeDocumentsPopup();return false;">
							<span class="rs trade_buton_login">
								<span class="cs trade_buton_login ttUC">
									<h:outputText value="#{msgs['button.do']}" escape="false"/> »
								</span>
							</span>
						</a>
					</div>
				</div>
			</div>
			
			<span class="float_fix"></span>
		</div>
	</div>
</f:view>