<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div class="acad_popUps" id="acad_popUps">
		<div class="acad_e_book_popUp">
			<span class="acad_close_img" onclick="close_eBookPop()"></span>
			<div class='ebk_container' id='bbk' lng='English_uk' >
				<center><div id='ebk_player'>flash here</div></center>
			</div>
		</div>
	</div>
	<div style='display:none' id='reg_message' >Please register.</div>
</f:view>