<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div id="epg_response_popUp" class="epg_response_popUp">
		<div class="epg-response_popUp_content">
			<i class="pop_close" onclick="gd_closePopUp('epg_response_popUp')"></i>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['epgStatusSuccess'] != null}">
			<!-- Success Response -->
				<div>
					<i class="epg-response-img success-response"></i>
					<div class="epg-response_txt">
						<p class="epg-response_heading">
							<h:outputText value="#{msgs['CMS.epg-response-status.text.success.heading']}" escape='false'/>
						</p>
						<p><h:outputText value="#{msgs['CMS.epg-response-status.text.success.p1']}" escape='false'/></p>
						<p><h:outputText value="#{msgs['CMS.epg-response-status.text.success.p2']}" escape='false'/></p>
					</div>
				</div>
			</h:panelGroup>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['epgStatusError'] != null}">
			<!-- Error Response -->
				<div>
					<i class="epg-response-img error-response"></i>
					<div class="epg-response_txt">
						<p class="fs14"><h:outputText value="#{msgs['CMS.epg-response-status.text.error.p1']}" escape='false'/></p>
					</div>
				</div>
			</h:panelGroup>
		</div>
	</div>
</f:view>