<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div id="popUp" class="pop_bitCointTerms_main">
		<div class="pop_whatsbinary_h pR">
			<span onclick="gd_closePopUp('popUp')" class="pop_close"></span>
			<div class="pop_whatsbinary_top">
			<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<span class="pop_whatsbinary_img"></span>
			</h:panelGroup>
				<h4 class="pop_whatsbinary_h4"><h:outputText value="#{msgs['CMS.eur_usd_options.text.terms.header']}" escape="false"/></h4>
			</div>
			<div class="clear scroller_main">
				<div class="scroller_h" style="width:460px;" id="scroller_whtIsB0100">
					<ul start="1" class="bitCointTerms_ul">
					  <li><h:outputText escape="false" value="#{msgs['CMS.eur_usd_options.text.terms.line1']}"/></li>
					  <li><h:outputText escape="false" value="#{msgs['CMS.eur_usd_options.text.terms.line2']}"/></li>
					  <li><h:outputText escape="false" value="#{msgs['CMS.eur_usd_options.text.terms.line3']}"/></li>
					  <li><h:outputText escape="false" value="#{msgs['CMS.eur_usd_options.text.terms.line4']}"/></li>
					  <li><h:outputText escape="false" value="#{msgs['CMS.eur_usd_options.text.terms.line5']}"/></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>add_scroller('scroller_whtIsB0100','popUp');</script>
</f:view>

