<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<style>
		body{background:url('#{facesContext.externalContext.requestContextPath}/images/ao/loader_light.gif') no-repeat center center;}
		body > *{opacity:0;}
		.tradeBox_main_1 .tradeBox_right{width:310px;}
		.tradeBox_main_2 .tradeBox_chart_longTerm{width:630px;}
		.mainApp{background:white url('#{facesContext.externalContext.requestContextPath}/images/ao/loader_light.gif') no-repeat center 200px;min-height:500px;}
	</style>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-language" content="#{applicationData.userLocale.language}" />
    
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script async="async" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/ls5.1/lightstreamer.js"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/functions_with_jsp.jsf?s=#{applicationData.skinId}&amp;version=cvsTimeStamp"></script>
	
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf?s=#{applicationData.skinId}&amp;version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/functions_all.js?version=cvsTimeStamp"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-file-upload.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-file-upload-shim.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/jquery.mCustomScrollbar.min.css" type="text/css"/>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/_settings.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/app.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-withdraw.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-documents.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-cnmv-doc.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-questionnaire.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/directives.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/functions.js?version=cvsTimeStamp"></script>
	
	<script>
		FileAPI = {debug: true};
	</script>
	
	<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['logType']}">
	<script>
		logIt_type = parseInt("#{facesContext.externalContext.requestParameterMap['logType']}");
	</script>
	</h:panelGroup>
	<script>
	var isCapitalQuestionnairePage = #{request.requestURI.endsWith('capital_questionnaire.jsf')};
	var isSingleQuestionnairePage = #{request.requestURI.endsWith('questionnaire.jsf')};
	var requestURI = '<h:outputText value="#{request.requestURI}" escape="false"/>';
	</script>

	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" />

	<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.isLive}">
		<ui:include src="/jsp/html_elements/googleTagHead.xhtml"></ui:include>
	</h:panelGroup>
	<script>
		var cpattern = {
			siteName: <h:outputText value="&quot;#{commonUtil.getProperty('CPattern.url')}&quot;" escape="false" />
		}
		var accountId = #{user.id};
		//var lang = <h:outputText value="&quot;#{msgs[user.getLanguageName()]}&quot;" escape="false" />;
		var lang = <h:outputText value="&quot;#{applicationData.userLocale.language}&quot;" escape="false" />;
		var isDemo = #{user.isTestUser() ? 1 : 0};
		var currency = <h:outputText value="&quot;#{user.currency.code}&quot;" escape="false" />;
		if(null==window.top.document.getElementById("cpMessagePlugin")){var headID=document.getElementsByTagName("head")[0],newScript=document.createElement("script");newScript.type="text/javascript";newScript.src=cpattern.siteName;newScript.id="cpMessagePlugin";headID.appendChild(newScript)};
	</script>
	<h:panelGroup rendered="#{applicationData.skinId != 1 and commonUtil.getConfig('optimove.active')}">
		<script async="async" src="//d3qycynbsy5rsn.cloudfront.net/OptiRealApi-1.1.0.js" type="text/javascript"></script>
	</h:panelGroup>
	
	<script async="async" type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/lavaLamp.js?version=cvsTimeStamp"></script>

	<script>
		var currentPage = window.location.pathname;
		$(document).ready(function(){
			$('#headerMenu').children('li').each(function(liIndex, liEl){
				$(liEl).find('a').each(function(index, el){
					if($(el).attr('href') == currentPage){
						$(liEl).addClass('current');
					}
				})
			});

			funnyMainMenu();
		});
	</script>
</f:view>