<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div class="rightBan_border pb20">
		<div class="headers_field_int">
			<h1 class="funnel_int_h1 funnel_int_h1_#{applicationData.userLocale.language}"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h1>
			<span class="funnel_subtitle_int"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
		</div>
		<div class="shortReg_int" id="shortReg_int">
			<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" />
		</div>
		<script>initRegForm('shortReg_int',#{applicationData.skinId});</script>
	</div>
</f:view>