<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<h:panelGroup rendered="#{applicationData.skinId != 1}">
	<div id="livePersonMainDiv" class="live_person_holder">
		<div id="callme_sm">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/callMe_sm.png" />
		</div>
		<div id="callme_big">
			<div id="callme_nd" class="callme_holder">
				<h:panelGroup rendered="#{!empty sessionScope.user || 
					(empty sessionScope.user and 
						(applicationData.realCountryId != 97 and applicationData.realCountryId != 158 and applicationData.realCountryId != 151 and applicationData.realCountryId != 220))}">
					<div class="live_person_chat">
						<ui:include src="/jsp/html_elements/livePersonStaticBtns.xhtml"></ui:include>
					</div>
					<h:panelGroup rendered="#{applicationData.skinId != 1}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/line_separated.png" class="live_person_sep"/>
					</h:panelGroup>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty sessionScope.user and (applicationData.realCountryId == 97 || applicationData.realCountryId == 158 || applicationData.realCountryId == 151 || applicationData.realCountryId == 220)}">
					<a class="live_chat_image">
						<h:outputText value="#{msgs['home.page.chat']}" />
					</a>
					<h:panelGroup rendered="#{applicationData.skinId != 1}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/line_separated.png" class="live_person_sep"/>
					</h:panelGroup>
				</h:panelGroup>
				<div class="cP live_person_call_back_request  live_person_call_back_request_#{applicationData.userLocale.language}" 
					onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/single_pages/contactMeHPSmallAllLanguages.jsf', 'callmePopup', 'width=395,height=350,history=0,resizable=1,status=1,menubar=1,scrollbars=1');">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/icon_Callback.png" />
					<br />
					<span class="live_person_title">
						<h:outputText value="#{msgs['home.page.call.back']}" escape="false"/>
					</span>
				</div>
			</div>
		</div>
		<script>
			livePersonType();
		</script>
	</div>
	</h:panelGroup>
</f:view>