<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
      
	<h6 class="top_trades_h6 top_trades_h6_#{applicationData.userLocale.language} ttUC"><h:outputText value="#{msgs['live.AO.trading.trends.subject']}"/></h6>
	<span class="icon_set_1 icon_set_1_info">
		<span class="icon_set_1_info_in_v2"><h:outputText value="#{msgs['live.AO.trading.trends.info.msg.in']}" /></span>
	</span>
	<div class="clear trnd_offhout_cont mt10 #{empty LivePage ? '' : 'trnd_offhout_cont_live'}">
		<h:outputText value="#{msgs['live.offhours.box.1']}" />
	</div>
	<div class="trnd_offhout_img #{empty LivePage ? '' : 'trnd_offhout_img_live'}">
		<h:panelGroup rendered="#{empty LivePage}">
			<img class="trnd_offhout_img_in" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/live_offhours_prev.png" />
		</h:panelGroup>
		<h:panelGroup rendered="#{!empty LivePage}">
			<img class="trnd_offhout_img_in" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/live_offhours_prev_login.png" />
		</h:panelGroup>
	</div>
</f:view>