<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<h6 class="top_trades_h6 top_trades_h6_#{applicationData.userLocale.language} ttUC"><h:outputText value="#{msgs['live.AO.trading.trends.subject']}"/></h6>
<span class="icon_set_1 icon_set_1_info">
	<span class="icon_set_1_info_in_v2"><h:outputText value="#{msgs['live.AO.trading.trends.info.msg.in']}" /></span>
</span>
<div class="pR">
	<div class="trends tradeBox_main_1 trends_w" source="lightstreamer" id="trends">
		<!--line 1-->
		<div class="trends_line" id="trends_graph_main_1">
			<span source="lightstreamer" field="LTT_MARKET1" style="display:none;"></span>
			<div class="trends_asset">
				<div source="lightstreamer" field="LTT_MARKET_NAME1"></div>
			</div>
			<span class="call_put trends_call" onclick="sendTrendToTradeBox(this,1);">
				<span class="info_msg_call">
					<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
				</span>
			</span>
			
			<div class="tradeBox_trends_graph_in_h">
				<span class="tradeBox_img tradeBox_trends_graph_proc l25_proc" id="trends_graph_proc_call_1">50%</span>
				<span class="tradeBox_img tradeBox_trends_graph_proc r25_proc" id="trends_graph_proc_put_1">50%</span>
				<div class="tradeBox_trends_graph_in tradeing_trends_g">
					<div class="tradeBox_trends_graph_put tradeing_trends_g" id="trends_graph_put_1">
						<i class="tradeBox_trends_graph_sep tradeBox_img" id="trends_graph_sep_1"></i>
					</div>
				</div>
			</div>
			<span class="call_put trends_put" onclick="sendTrendToTradeBox(this,2);">
				<span class="info_msg_call">
					<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
				</span>
			</span>
		</div>
		<!--line 2-->
		<div class="trends_line" id="trends_graph_main_2">
			<div class="trends_asset">
				<div source="lightstreamer" field="LTT_MARKET_NAME2"></div>
				<span source="lightstreamer" field="LTT_MARKET2" style="display:none;"></span>
			</div>
			<span class="call_put trends_call" onclick="sendTrendToTradeBox(this,1);">
				<span class="info_msg_call">
					<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
				</span>
			</span>
			<div class="tradeBox_trends_graph_in_h">
				<span class="tradeBox_img tradeBox_trends_graph_proc l25_proc" id="trends_graph_proc_call_2">50%</span>
				<span class="tradeBox_img tradeBox_trends_graph_proc r25_proc" id="trends_graph_proc_put_2">50%</span>
				<div class="tradeBox_trends_graph_in tradeing_trends_g">
					<div class="tradeBox_trends_graph_put tradeing_trends_g" id="trends_graph_put_2">
						<i class="tradeBox_trends_graph_sep tradeBox_img" id="trends_graph_sep_2"></i>
					</div>
				</div>
			</div>
			<span class="call_put trends_put" onclick="sendTrendToTradeBox(this,2);">
				<span class="info_msg_call">
					<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
				</span>
			</span>
		</div>
		<!--line 3-->
		<div class="trends_line" id="trends_graph_main_3">
			<div class="trends_asset">
				<div source="lightstreamer" field="LTT_MARKET_NAME3"></div>
				<span source="lightstreamer" field="LTT_MARKET3" style="display:none;"></span>
			</div>
			<span class="call_put trends_call" onclick="sendTrendToTradeBox(this,1);">
				<span class="info_msg_call">
					<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
				</span>
			</span>
			<div class="tradeBox_trends_graph_in_h">
				<span class="tradeBox_img tradeBox_trends_graph_proc l25_proc" id="trends_graph_proc_call_3">50%</span>
				<span class="tradeBox_img tradeBox_trends_graph_proc r25_proc" id="trends_graph_proc_put_3">50%</span>
				<div class="tradeBox_trends_graph_in tradeing_trends_g">
					<div class="tradeBox_trends_graph_put tradeing_trends_g" id="trends_graph_put_3">
						<i class="tradeBox_trends_graph_sep tradeBox_img" id="trends_graph_sep_3"></i>
					</div>
				</div>
			</div>
			<span class="call_put trends_put" onclick="sendTrendToTradeBox(this,2);">
				<span class="info_msg_call">
					<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
				</span>
			</span>
		</div>
	</div>
</div>
</f:view>