<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
<h6 class="top_trades_h6 top_trades_h6_#{applicationData.userLocale.language} ttUC"><h:outputText value="#{msgs['live.trades']}"/></h6>
<table id="investments_table_live" width="100%" cellspacing="0" cellpadding="0" border="0" class="investments_table_live_tbl">
	<tr>
		<th class="investments_table_live_t1"><h:outputText value="#{msgs['live.trades.city']}" escape="false"/></th>
		<th class="investments_table_live_t2"><h:outputText value="#{msgs['live.trades.type']}" escape="false"/></th>
		<th class="investments_table_live_t3"><h:outputText value="#{msgs['investments.marketname']}" escape="false"/></th>
		<th class="investments_table_live_t4"><h:outputText value="#{msgs['investments.level']}" escape="false"/></th>
		<th class="investments_table_live_t5"><h:outputText value="#{msgs['live.trades.amount']}" escape="false"/></th>
		<th class="investments_table_live_t6"></th>
	</tr>  
	<tr source="lightstreamer" id="livetrades">
		<td class="investments_table_live_table_line"></td>
		<td class="investments_table_live_table_line"></td> 	  
		<td class="investments_table_live_table_line">
			<div source="lightstreamer" field="LI_ASSET_DISPLAY_NAME"/>
			<span source="lightstreamer" field="LI_ASSET" style="display:none;"></span><!-- id of the asset not visible -->
			<span source="lightstreamer" field="LI_OPP_ID" style="display:none;"></span><!-- id of the opportunity not visible -->
		</td>
		<td class="investments_table_live_table_line"></td> 
		<td class="investments_table_live_table_line">
			<div source="lightstreamer" field="LI_AMOUNT"/>
			<span source="lightstreamer" field="LI_CONVERTED_AMOUNT" style="display:none;"></span>
		</td>
		<td class="investments_table_live_table_line">
			<span onclick="sendToTradeBox(this);goToByScroll('reuter_line');return false;" class="icon_set_1 live_table_play">
				<span><h:outputText value="#{msgs['live.AO.purchase']}"/></span>
			</span>
		</td>
	</tr>
</table>
</f:view>