<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div id="popUpLowBalance" class="low_balance_popUp_content">
		<i class="reg_log_close_img" onclick="closeLowBalancePopup();"></i>
		<div class="">
			<i class="low_balance_popUp_img"></i>
			<div class="low_balance_popUp_txt">
				<p><h:outputText value="#{msgs['CMS.lowBalance_PopUp.text']}" escape='false'/></p>
			</div>
			<div class="low_balance_popUp_text_content">
				<h:outputText value="#{msgs['CMS.lowBalance_PopUp.text_content']}" escape="false" />
				<script>
				g("lowBalanceParam").innerHTML = formatAmount("#{facesContext.externalContext.sessionMap['minInvestBalance']}", 0, true);
				g("lowBalanceParam").style.fontWeight = "bold";
				</script>
			</div>
			<div class="low_balance_popUp_button">
				<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf" class="buton_blue but_sprite clear" id="popUpLowBalanceDeposit">
					<span class="rs but_sprite">
						<span class="login_but_w cs but_sprite ttUC">
							<h:outputText value="#{msgs['CMS.lowBalance_PopUp.deposit']}" escape='false'/> »
						</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</f:view>