<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<!-- Binary menu -->
	<ul class="sidemenu">
		<li class="sidemenu_header">#{msgs['CMS.right_side_banners.sideMenu.TradingGuide']}</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/strategy.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.Strategy']}
			</h:outputLink>
		</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.OptionsBroker']}
			</h:outputLink>
		</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.AboutOptions']}
			</h:outputLink>
		</li>
	</ul>

</f:view>