<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div id="off_hours_banner#{new_id}" style="display:none;">
		<div class="trade_page_offhours_h #{page}">
			<div class="wrapper-1">
				<div class="wrapper-2">
					<div class="offhours-content #{className}">
						<div class="offhours-header #{className}">
							<h:outputText escape="false" value="#{msgs['CMS.offHours_TradePage.heading']}" />
						</div>
						<div class="offhours-body #{className}">
							<div>
								<i class="image-content offhours-img #{className}"></i>
							</div>
							<div class="txt-holder">
								<div class="offhours-txt #{className}">
									<h:outputText escape="false" value="#{msgs['CMS.offHours_TradePage.txt']}" />
								</div>
								<a class="offhours-arrow #{className}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}">
									<strong>
										<h:outputText escape="false" value="#{msgs['CMS.offHours_TradePage.text.offh_btn']}" />
									</strong>
								</a>
							</div>
						</div>
						<div class="offhours-footer #{className}">
							<h:panelGroup rendered="#{page == 'BO' || page == 'hp' || page == 'live-logout'}">
								<h:outputText escape="false" value="#{msgs['CMS.offHours_TradePage.footer.BO']}" />
							</h:panelGroup>
							<h:panelGroup rendered="#{page == 'optionPlus'}">
								<h:outputText escape="false" value="#{msgs['CMS.offHours_TradePage.footer.OPlus']}" />
							</h:panelGroup>
							<h:panelGroup rendered="#{page == 'LivePage' || page == 'bitcoin' || page == 'eur_usd' || page == 'live-login' || page=='binary0100' || page=='oil' || page=='gold' || page=='dax' || page=='sandp500'}">
								<h:outputText escape="false" value="#{msgs['CMS.offHours_TradePage.footer.special_live']}" />
							</h:panelGroup>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:view>