<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div class="guide_notes_overlay_container guide_notes_overlay_container_#{applicationData.userLocale.language}" id="guide_notes_overlay_container">
		<span class="guide_note_1"><span class="arrow"></span><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg1']}" escape="false"/></span>
		<span class="guide_note_2"><span class="arrow"></span><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg2']}" escape="false"/></span>
		<span class="guide_note_3"><span class="arrow"></span><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg3']}" escape="false"/></span>
		<span class="guide_note_4"><span class="arrow"></span><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg4']}" escape="false"/>
		<span class="text_blue ttUC"><span class="arrow"></span><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg5']}" escape="false"/></span></span>
		<span class="guide_note_5"><span class="arrow"></span><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg6']}" escape="false"/><span class="ttUC"><h:outputText value="#{msgs['CMS.multiOptionExplanation_trading.text.right.msg7']}" escape="false"/></span></span>
	</div>
	
</f:view>