<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
	<div class="one_click_indication_container one_click_indication_sprite">
		<span class="one_click_indication_link one_click_indication_sprite">
			<span class="one_click_indication_link_txt"><h:outputText value="#{msgs['CMS.tradingBoxTemplates.text.oneClick']}" escape="false" /></span>
			<span class="one_click_indication_tooltip">
				<h:outputText value="#{msgs['CMS.tradingBoxTemplates.text.oneClick_txt']}" escape="false" />
			</span>
		</span>
		<span class="one_click_indication_info_link" data-stete="close" onclick="show_how_to_banner(this)">
			<i class="one_click_indication_info_icon one_click_indication_sprite"></i>
		</span>
	</div>
</f:view>