<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	<div ng-controller="WithdrawUserDetailsController">
		<div class="withdraw_popUp hiddenByDefault" ng-class="{ loaded: ready }" ng-if="showWithdrawUserDetailsPopup"></div>
		<div class="hiddenByDefault" ng-class="{ loaded: ready }" ng-if="showWithdrawUserDetailsPopup">
			<div class="withdraw_popUp_content withdraw-user-details">
				<div class="header-box">{{getMsgs('popup-withdraw-user-details.heading')}}</div>
				<i class="separator"></i>
				<div class="body-box">
					<p>{{getMsgs('popup-withdraw-user-details.p1')}}</p>
					<p>{{getMsgs('popup-withdraw-user-details.p2')}}</p>
				</div>
				<form name="_form" novalidate="novalidate">
					<div class="radio-button-box">
						<div class="pretty-radio-button">
							<label>
								<input type="radio" ng-model="form.type" name="type" value="2"/>
								<span class="radio-button"></span>
								<i class="payment-methods-images skrill"></i>
							</label>
						</div>
						<div class="pretty-radio-button">
							<label>
								<input type="radio" ng-model="form.type" name="type" value="1"/>
								<span class="radio-button"></span>
								<i class="payment-methods-images bank-wire"></i>
								 {{getMsgs('bank-wire')}}
							</label>
						</div>
					</div>
					<div class="withdraw-details-box">
						<i class="separator"></i>
						<div class="withdraw-details">
							<div ng-if="form.type == 2">
								<label>{{getMsgs('skrill-details')}}:</label>
								<div class="row">
									<input type="email" class="field" id="skrillEmail" name="skrillEmail" ng-model="form.skrillEmail" required="true" placeholder="EMAIL" valid-email="valid-email"/>
								</div>
							</div>
							<div ng-if="form.type == 1">
								<label>{{getMsgs('bank-details')}}:</label>
								<div class="row">
									<input type="text" class="field" maxlength="30" id="beneficiaryName" name="beneficiaryName" ng-model="form.beneficiaryName" required="true" placeholder="{{getMsgs('beneficiary.name')}}"/>
								</div>
								<div class="row">
									<input type="text" class="field" maxlength="30" id="swift" name="swift" ng-model="form.swift"  required="true" placeholder="{{getMsgs('bank.wire.swift')}}"/>
								</div>
								<div class="row">
									<input type="text" class="field" maxlength="30" id="iban" name="iban" ng-model="form.iban" required="true" placeholder="{{getMsgs('bank.wire.iban')}}"/>
								</div>
								<div class="row">
									<input type="text" class="field" maxlength="20" id="accountNum" name="accountNum" ng-model="form.accountNum"  required="true" restrict-digits="restrict-digits" placeholder="{{getMsgs('account.number')}}"/>
								</div>
								<div class="row">
									<input type="text" class="field" maxlength="30" id="bankName" name="bankName" ng-model="form.bankName" required="true" placeholder="{{getMsgs('bank.name')}}"/>
								</div>
								<div class="row">
									<input type="text" class="field" maxlength="30" id="branchNumber" name="branchNumber" ng-model="form.branchNumber"  required="true" restrict-digits="restrict-digits" placeholder="{{getMsgs('branch.number')}}"/>
								</div>
								<div class="row">
										<input type="text" class="field" maxlength="30" id="branchAddress" name="branchAddress" ng-model="form.branchAddress" required="true" placeholder="{{getMsgs('branch.address')}}"/>
								</div>
								<div class="table upload-doc-box">
									<div class="cell">{{getMsgs('upload-bank-protocol')}}</div>
									<div class="cell middle-cell">
										<button class="button_small_nd" type="button" ng-file-select="onFileSelect($files, key)" onclick="this.value = null" ng-disabled="isSubmitting">{{getMsgs('browse')}}</button>
									</div>
									<div class="cell">
										<span class="no-file" ng-if="!uploadedFileName">{{getMsgs('no-file')}}</span>
										<span class="dark-blue-color" ng-if="uploadedFileName &amp;&amp; !isSubmitting">{{shortenFileName(uploadedFileName)}}</span>
										<i class="loading" ng-if="uploadedFileName &amp;&amp; isSubmitting"></i>
									</div>
								</div>
							</div>
							<div class="submit_field">
								<div class="button_holder" ng-click="insertUpdateWithdrawUserDetailas(_form)">
									<div class="button_inner">
										<button type="submit" class="button">{{getMsgs('submit')}} »</button>
									</div>
								</div>
								<span ng-click="skipedWithdrawBankUserDetils()">{{getMsgs('skip')}} »</span>
							</div>
							<div>
								<span class="errorMsgs" ng-if="checkError(_form, 'skrillEmail', 'required')">{{getMsgs('email')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'skrillEmail', 'validEmail')">{{getMsgs('error.banner.contactme.email')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'beneficiaryName', 'required')">{{getMsgs('beneficiary.name')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'swift', 'required')">{{getMsgs('bank.wire.swift')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'iban', 'required')">{{getMsgs('bank.wire.iban')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'accountNum', 'required')">{{getMsgs('account.number')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'bankName', 'required')">{{getMsgs('bank.name')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'branchNumber', 'required')">{{getMsgs('branch.number')}}: {{getMsgs('error-mandatory')}} </span>
								<span class="errorMsgs" ng-if="checkError(_form, 'branchAddress', 'required')">{{getMsgs('branch.address')}}: {{getMsgs('error-mandatory')}} </span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</f:view>