<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
<h:panelGroup rendered="#{applicationData.skinId != 17}">
	<p>
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text1']}" escape="false" />
		<span class="profitline_headline">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text2']}" escape="false" />
		</span>
		<br />
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text3']}" escape="false" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/magnifying.gif" />
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text4']}" escape="false" />
	</p>
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/pro_graph_profitline.jpg" width="426" height="272" class="features_img"/>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/pro_graph_profitline.png" width="426" height="272" class="features_img"/>
	</h:panelGroup>
	<p>
		<span class="profitline_headline">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text5']}" escape="false" />
		</span>
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text6']}" escape="false" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up_profitline.jpg" width="9" height="5" />
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text7']}" escape="false" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down_profitline.jpg" width="9" height="5" />
		<br />
		<br />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text8']}" escape="false" />
		</span>
	</p>
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/pro_info_profitline.gif" width="402" height="17" />
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/pro_info_profitline.png" width="402" height="17" />
	</h:panelGroup>
	<p>
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text9']}" escape="false" />
		</span>
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text10']}" escape="false" />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text11']}" escape="false" />
		</span>
		 <h:outputText value="#{msgs['CMS.profitlineContent.text.text12']}" escape="false" />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text13']}" escape="false" />
		</span>
		 <h:outputText value="#{msgs['CMS.profitlineContent.text.text14']}" escape="false" />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text15']}" escape="false" />
		</span>
		 <h:outputText value="#{msgs['CMS.profitlineContent.text.text16']}" escape="false" />
	</p>
</h:panelGroup>
<h:panelGroup rendered="#{applicationData.skinId == 17}">
	<p>
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text1']}" escape="false" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/magnifying.gif" />
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text2']}" escape="false" />
	</p>
	<p>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/pro_graph_profitline.png" width="426" height="272" class="features_img" />
		<span class="profitline_headline">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text3']}" escape="false" />
		</span>
		<br />
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text4']}" escape="false" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up_profitline.jpg" width="9" height="5" /><h:outputText value="#{msgs['CMS.profitlineContent.text.text5']}" escape="false" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down_profitline.jpg" width="9" height="5" /><h:outputText value="#{msgs['CMS.profitlineContent.text.text6']}" escape="false" />
		<br />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text7']}" escape="false" />
		</span>
	</p>
	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/pro_info_profitline.gif" width="402" height="17" class="features_img" />
	<p>
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text8']}" escape="false" />
		</span> 
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text9']}" escape="false" />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text10']}" escape="false" />
		</span>
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text11']}" escape="false" /> 
		<br />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text12']}" escape="false" />
		</span>
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text13']}" escape="false" /> 
		<br />
		<span class="b">
			<h:outputText value="#{msgs['CMS.profitlineContent.text.text14']}" escape="false" />
		</span> 
		<h:outputText value="#{msgs['CMS.profitlineContent.text.text15']}" escape="false" />
	</p>
</h:panelGroup>

</f:view>