<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<script>profitLineBoxId =  #{!empty facesContext.externalContext.requestParameterMap['boxId']?facesContext.externalContext.requestParameterMap['boxId']:boxId}</script>
	<div class="profitLine_h_bgr" id="profitLine_h_bgr"></div>
	<div class="profitLine_h" id="profitLine_h">
    	<div class="one_click_indication profitline_position">
			<h:outputText value="#{msgs['CMS.tradingBoxTemplates.text.oneClick']}" escape="false" />
			<span class="one_click_indication_tooltip">
				<h:outputText value="#{msgs['CMS.tradingBoxTemplates.text.oneClick_txt']}" escape="false" />
			</span>
        </div>
		<i class="tradeBox_img_big tradeBox_img_big_shadow_tr"></i>
		<i class="tradeBox_img_big tradeBox_img_big_shadow_bl"></i>
		<i class="tradeBox_img_big sprite_profitLine_close" onclick="closeProfitLine_box()"></i>
		<div class="clear profitLine_header">
			<i class=" sprite_profitLine_logo fL"></i>
			<a class="fR profitLine_deposit" 
				href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf">
				<span class="vaM profitLine_deposit_txt">
					<h:outputText value="#{msgs['header.deposit']}" escape="false" />
				</span>
				<i class="tradeBox_img_big sprite_profitLine_deposit vaM"></i>
			</a>
			<i class="float_fix"></i>
		</div>
		<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
			<ui:param name="boxId" value="#{!empty facesContext.externalContext.requestParameterMap['boxId']?facesContext.externalContext.requestParameterMap['boxId']:boxId}" />
			<ui:param name="boxType" value="2" />
			<ui:param name="designType" value="2" />
		</ui:include>
		<div class="profitLine_footer profitLine_footer_#{applicationData.userLocale.language}">
			<h:outputText rendered="#{empty facesContext.externalContext.remoteUser}" value="#{msgs['profitLine.footer']}" escape="false" />
			<h:outputText rendered="#{!empty facesContext.externalContext.remoteUser}" value="#{msgs['profitLine.footer.loggedin']}" escape="false" />
			<h:outputText value="#{msgs['profitLine.currentReturnInfo']}" escape="false" />
		</div>
	</div>
	<script>
		var profitLineMarketId = getUrlValue('profitLineMarketId');
		if(profitLineMarketId != ""){
			openProfitLine_box(profitLineMarketId);
		}
	</script>
</f:view>

