<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div>
		<div class="risk-warning-popUp" id="refund-policy-popUp">
			<div class="risk-warning-wraper" style="width:600px;height:400px;">
				<i onclick="gd_closePopUp('refund-policy-popUp')" class="pop_close"></i>
				<div class="scroller" style="height:400px;">
					<h3>#{msgs['refund-policy-h']}</h3>
					<br/>
					<p>#{msgs['refund-policy-h']}</p>
					<p>#{msgs['refund-policy-p1']}</p>
					<p>#{msgs['refund-policy-p2']}</p>
					<p>#{msgs['refund-policy-p3']}</p>
					<p>#{msgs['refund-policy-p4']}</p>
					<p>#{msgs['refund-policy-p5']}</p>
					<p>#{msgs['refund-policy-p6']}</p>
					<p>#{msgs['refund-policy-p7']}</p>
					<p>#{msgs['refund-policy-p8']}</p>
					<p>#{msgs['refund-policy-p9']}</p>
					<p>#{msgs['refund-policy-p10']}</p>
					<p>#{msgs['refund-policy-p11']}</p>
					<p>#{msgs['refund-policy-p12']}</p>
					<p>#{msgs['refund-policy-p13']}</p>
					<p>#{msgs['refund-policy-p14']}</p>
					<p>#{msgs['refund-policy-p15']}</p>
					<p>#{msgs['refund-policy-p15-a']}</p>
					<p>#{msgs['refund-policy-p15-b']}</p>
					<p>#{msgs['refund-policy-p15-c']}</p>
					<p>#{msgs['refund-policy-p15-d']}</p>
					<p>#{msgs['refund-policy-p15-e']}</p>
					<p>#{msgs['refund-policy-p15-f']}</p>
					<p>#{msgs['refund-policy-p16']}</p>
					<p>#{msgs['refund-policy-p17']}</p>
					<p>#{msgs['refund-policy-p18']}</p>
					<p>#{msgs['refund-policy-p18-a']}</p>
					<p>#{msgs['refund-policy-p18-b']}</p>
					<p>#{msgs['refund-policy-p19']}</p>
					<p>#{msgs['refund-policy-p20']}</p>
					<p>#{msgs['refund-policy-p21']}</p>
					<p>#{msgs['refund-policy-p22']}</p>
					<p>#{msgs['refund-policy-p23']}</p>
					<p>#{msgs['refund-policy-p24']}</p>
				</div>
			</div>
		</div>
	</div>
</f:view>