<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>
	<div class="reg_progres_h reg_progres_h_substep_#{substep}">
		<div class="reg_progres_el_box">
			<div class="reg_progres_el reg_progres_el_step_1">
				<div class="reg_progres_ico ico_1">
					<span class="reg_progres_h1">
						<h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h1_1']}"/>
					</span>
					<span class="reg_progres_h2">
						<h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}"/>
					</span>
				</div>
			</div>
			<div class="reg_progres_el reg_progres_el_step_2">	
				<div class="reg_progres_ico ico_2">
					<span class="reg_progres_h1">
						<h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h2_1']}"/>
					</span>
					<span class="reg_progres_h2">
						<h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h2_2']}"/>
					</span>
				</div>
			</div>
			<div class="reg_progres_el reg_progres_el_step_3">
				<div class="reg_progres_ico ico_3">
					<span class="reg_progres_h1">
						<h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h3_1']}"/>
					</span>
					<span class="reg_progres_h2">
						<h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h3_2']}"/>
					</span>
				</div>
			</div>
			<span class="float_fix"></span>
		</div>
		<div class="reg_progres_steps">
			<div class=" reg_progres_img reg_progres_img_step_1">
				<i class="reg_progres_img_num num_1"></i>
			</div>
			<div class="reg_progres_img_arr reg_progres_img_arr_midstep_1"></div>
			<div class="reg_progres_img reg_progres_img_step_2">
				<i class="reg_progres_img_num num_2"></i>
			</div>
			<div class="reg_progres_img_arr reg_progres_img_arr_midstep_2"></div>
			<div class="reg_progres_img reg_progres_img_step_3">
				<i class="reg_progres_img_num num_3"></i>
			</div>
			<span class="float_fix"></span>
		</div>
	</div>
</f:view>