<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	locale="#{applicationData.userLocale}">
	
<form method="post" id="funnel_form" action="#{applicationData.getHomePageUrlHttps()}jsp/single_pages/register_from_funnel.jsf" target="funnel_submit_iframe" onsubmit="funnel_submit();return false;">
	<div id="first_name_field" class="funnel_names_holder">
		<input id="funnel_firstName" name="funnel_firstName" class="funnel_inp funnel_inp_first_name" maxlength="20" data-letters_tooltip="funnel_tooltip_first_name" 
			onkeyup="limitLetters(event,'#{(tooltip_email != 'right')?'_left':''}');" onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');hide_tooltip(this);validateFirstName();"
			type="text" value="#{msgs['register.firstname.caps']}"/>		
		<span class="funnel_names_error_h">
			<span id="funnel_firstName_error" class="funnel_error_hide"></span>			
			<span class="funnel_names_error_msg_h">
				<span id="funnel_firstName_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_first_name">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.lettersOnly']}" />
		</span>
	</div>
	<div id="last_name_field" class="funnel_names_holder">
		<input id="funnel_lastName" name="funnel_lastName" class="funnel_inp funnel_inp_last_name" maxlength="20" data-letters_tooltip="funnel_tooltip_last_name" 
			onkeyup="limitLetters(event,'#{(tooltip_email != 'right')?'_left':''}');" onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');hide_tooltip(this);validateLastName();"
			type="text" value="#{msgs['register.lastname.caps']}"/>
		<span class="funnel_names_error_h">
			<span id="funnel_lastName_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_lastName_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_last_name">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.lettersOnly']}" />
		</span>
	</div>
	<div id="funnel_email_field" class="funnel_email_holder">
		<input id="funnel_email" name="funnel_email" class="funnel_inp funnel_inp_email" maxlength="50" data-tooltip='funnel_tooltip_email' onfocus="inpFocus(this,'t');" 
			onblur="inpFocus(this,'t');validateEmail();insertUpdateRegisterAttempts();" type="text" value="#{msgs['register.email.caps']}" />
		<span class="funnel_names_error_h">
			<span id="funnel_email_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_email_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_email">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.email']}" />
		</span>
	</div>
	<div id="funnel_country_dropdown_phone_area_prefix" class="funnel_phone_holder funnel_phone_holder_drop">
		<div class="funnel_drop_h" id="funnel_drop_h" onmouseout="funnel_drop_close()" onmouseover="funnel_drop_keep_open()">
			<input type="hidden" id="funnel_countryId" name="funnel_countryId"/>
			<input type="hidden" id="funnel_phonePrefix" name="funnel_phonePrefix"/>
			<div class="funnel_drop_selected" onclick="funnel_drop(this)">
				<span class="funnel_drop_country" id="funnel_drop_country">
					<h:outputText rendered="#{applicationData.skinId == 1}" escape="false" value="#{msgs['register.phone_prefix.caps']}" />
				</span>
				<span class="funnel_drop_countryId" id="funnel_drop_countryId"></span>
			</div>
			<ul class="funnel_drop_ul" id="funnel_drop_ul">
			    <li class="funnel_drop_ul_search"><input id="drop_ul_filter" class="funnel_drop_ul_search_inp" onkeyup="filterCountries(this)"/></li>
				<t:dataList value="#{applicationData.getSortedCountries()}" var="cmb">
					<li id="funnel_drop_li_#{cmb.id}" onclick="register_country_select(this,false)" data-countryId="#{cmb.id}">#{cmb.displayName}</li>
				</t:dataList>
			</ul>
		</div>
	</div>
	<div id="funnel_country_dropdown_phone_area_mobile_phone" class="funnel_phone_holder">
		<input id="funnel_mobilePhone" name="funnel_mobilePhone" class="funnel_inp funnel_inp_phone" maxlength="#{(applicationData.skinId == 1)?7:20}" 
			data-tooltip='funnel_tooltip_phone' data-letters_tooltip="funnel_tooltip_phone" onkeyup="limitNumbers(event);" autocomplete="off"
			onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validatePhoneNumberTag();insertUpdateRegisterAttempts();" type="text" value="#{msgs['register.phone.caps']}" />
		<span class="funnel_names_error_h">
			<span id="funnel_mobilePhone_error" class="funnel_error_hide"></span>
			<span id="funnel_drop_h_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_mobilePhone_error_txt_in"></span>
				<span id="funnel_drop_h_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_phone">
			<span class="funnel_tooltip_arrow"></span>
			<span id="funnel_tooltip_phone_1"><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.phone']}" /></span>
			<span id="funnel_tooltip_phone_2" style="display:none;"><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
		</span>
	</div>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
	<div id="funnel_idNum_field" class="funnel_idNum_holder">
		<input id="funnel_idNum" name="funnel_idNum" class="funnel_inp funnel_inp_idNum" onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateHolderIdNum(this);"
			type="text" maxlength="9" value="#{msgs['register.idnum'].toUpperCase()}" />
		<span class="funnel_names_error_h">
			<span id="funnel_idNum_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_idNum_error_txt_in"></span>
			</span>
		</span>
	</div>
	</h:panelGroup>
	<div id="funnel_password_field" class="funnel_password_holder">
		<input id="funnel_password" name="funnel_password" maxlength="9" class="funnel_inp funnel_inp_password" data-tooltip='funnel_tooltip_password' onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validatePassword();"
			type="text" value="#{msgs['CMS.registerContent.label.register.password'].toUpperCase()}" data-p="true" />
		<span class="funnel_names_error_h">
			<span id="funnel_password_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_password_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_password">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.password']}" />
		</span>
	</div>
	<div id="funnel_password_retype_field" class="funnel_password_retype_holder">
		<input id="funnel_passwordConfirm" name="funnel_passwordConfirm" class="funnel_inp funnel_inp_password_retype" onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validatePasswordConfirm();"
			type="text" maxlength="9" value="#{msgs['CMS.registerContent.label.register.retype'].toUpperCase()}" data-p="true" />
		<span class="funnel_names_error_h">
			<span id="funnel_passwordConfirm_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_passwordConfirm_error_txt_in"></span>
			</span>
		</span>
	</div>
	<div id="funnel_terms_field" class="funnel_chkbx">
		<span id="funnel_terms_h" class="funnel_terms_h_in" onclick="checkBox(this);">
			<input type="checkbox" id="funnel_terms" name="funnel_terms" class="funnel_terms" />
		</span>
		<span id="funnel_terms_h_txt" class="funnel_terms_h2">
			<h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.terms.text']}" rendered="#{fullTerms != 'true'}"/>
			<h:outputText escape="false" value="#{msgs['CMS.registerContent.text.register.terms']}" rendered="#{fullTerms == 'true'}"/>
		</span>
		<span class="funnel_names_error_h_chb">
			<span id="funnel_terms_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_terms_error_txt_in"></span>
			</span>
		</span>
	</div>
	<div id="funnel_submit_field">
		<a onclick="funnel_submit();return false;" class="btn_open_account btn_open_account_h clear" id="btn_open_account">
			<span class="rs btn_open_account">
				<span class="cs btn_open_account">
					<h:outputText value="#{msgs['CMS.quick_sign_up.submit']}" />
				</span>
			</span>
		</a>
	</div>
	<div id="funnel_error_list" class="clear funnel_error_list">
		<span id="funnel_firstName_error_txt"></span>
		<span id="funnel_lastName_error_txt"></span>
		<span id="funnel_email_error_txt"></span>
		<span id="funnel_drop_h_error_txt"></span>
		<span id="funnel_mobilePhone_error_txt"></span>
		<span id="funnel_password_error_txt"></span>
		<span id="funnel_passwordConfirm_error_txt"></span>
		<span id="funnel_terms_error_txt"></span>
		<span id="funnel_blocked_error_txt"></span>
		<span id="funnel_idNum_error_txt"></span>
	</div>
	<input type="submit" style="display:none" />
	<input type="hidden" id="register_from_short_reg" name="register_from_short_reg"/>
</form>
<iframe name="funnel_submit_iframe" id="funnel_submit_iframe" style="display:none;" src="about:blank"></iframe>
</f:view>