<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	locale="#{applicationData.userLocale}">

<script>
var errorJson = '<h:outputText value="#{sessionScope['errorJson']}" escape="false" />'; 
var valuesJson = '<h:outputText value="#{sessionScope['valuesJson']}" escape="false" />';
try {
	errorJson = $.parseJSON(errorJson);
} catch(e) {errorJson = '';}
try {
	valuesJson = $.parseJSON(valuesJson);
} catch(e) {valuesJson = '';}

</script>
<form method="post" id="funnel_form" class="pR" 
	action="#{(facesContext.externalContext.requestParameterMap['lp'] == 'true' and applicationData.skinId != 1) ? applicationData.getHomePageUrlHttps().concat('jsp/landingDirect.html') : applicationData.getHomePageUrlHttps().concat('jsp/single_pages/register_from_funnel.jsf')}" 
	target="#{(facesContext.externalContext.requestParameterMap['lp'] == 'true' and applicationData.skinId != 1) ? '' : 'funnel_submit_iframe'}" 
	onsubmit="funnel_submit();return false;">
	<input type="hidden" name="s" id="funnel_form_skinId" />
	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['lp'] == 'true'}">
		<div class="privacy-link">
			<a href="#{applicationData.getHomePageUrlWithoutLastSlash()}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}" target="_blank">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.privacy']}"/> »
			</a>
		</div>
	</h:panelGroup>
	<div id="name_field" class="funnel_names_holder" data-funnel_row='t'>
		<input id="funnel_firstName" name="funnel_firstName" class="funnel_inp funnel_inp_first_name" maxlength="20" data-letters_tooltip="funnel_tooltip_name" 
			onkeyup="limitLetters(event,'#{(tooltip_email != 'right')?'_left':''}');"  onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');hide_tooltip(this);validateFirstName();"
			type="text" value="#{msgs['register.firstname.caps']}"/><input id="funnel_lastName" name="funnel_lastName" class="funnel_inp funnel_inp_last_name" maxlength="20" data-letters_tooltip="funnel_tooltip_name" 
			onkeyup="limitLetters(event,'#{(tooltip_email != 'right')?'_left':''}');" onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');hide_tooltip(this);validateLastName();"
			type="text" value="#{msgs['register.lastname.caps']}"/>
		<span class="funnel_names_error_h">
			<span id="funnel_names_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_firstName_error_txt_in"></span>
				<span id="funnel_lastName_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_name">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.lettersOnly']}" />
		</span>
	</div>
	<div id="funnel_email_field" class="funnel_email_holder" data-funnel_row='t'>
		<input id="funnel_email" name="funnel_email" class="funnel_inp funnel_inp_email" maxlength="50" data-tooltip='funnel_tooltip_email' onfocus="inpFocus(this,'t');" 
			onblur="inpFocus(this,'t');validateEmail();insertUpdateRegisterAttempts();" type="text" value="#{msgs['register.email.caps']}" />
		<span class="funnel_names_error_h">
			<span id="funnel_email_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_email_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_email">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.email']}" />
		</span>
	</div>
	<div id="funnel_country_dropdown_phone_area" class="funnel_phone_holder funnel_phone_holder_drop" data-funnel_row='t'>
		<div class="funnel_drop_h" id="funnel_drop_h" onmouseout="funnel_drop_close()" onmouseover="funnel_drop_keep_open()">
			<input type="hidden" id="funnel_countryId" name="funnel_countryId"/>
			<input type="hidden" id="funnel_phonePrefix" name="funnel_phonePrefix"/>
			<div class="funnel_drop_selected" id="funnel_drop_Country_h" onclick="funnel_drop(this)">
				<span class="funnel_drop_country" id="funnel_drop_country">
					<h:outputText rendered="#{applicationData.skinId == 1}" escape="false" value="#{msgs['register.phone_prefix.caps']}" />
				</span>
				<span class="funnel_drop_countryId" id="funnel_drop_countryId"></span>
			</div>
			<ul class="funnel_drop_ul" id="funnel_drop_ul">
			    <li class="funnel_drop_ul_search"><input id="drop_ul_filter" class="funnel_drop_ul_search_inp" onkeyup="filterCountries(this)"/></li>
			</ul>
		</div>
		<input id="funnel_mobilePhone" name="funnel_mobilePhone" class="funnel_inp funnel_inp_phone" maxlength="#{(applicationData.skinId == 1)?7:20}" 
			data-tooltip='funnel_tooltip_phone' data-letters_tooltip="funnel_tooltip_phone" onkeyup="limitNumbers(event);" autocomplete="off"
			onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validatePhoneNumberTag();insertUpdateRegisterAttempts();" type="text" value="#{msgs['register.phone.caps']}" data-dir_f='ltr' />
		<span class="funnel_names_error_h">
			<span id="funnel_mobile_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_mobilePhone_error_txt_in"></span>
				<span id="funnel_drop_h_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_phone">
			<span class="funnel_tooltip_arrow"></span>
			<span id="funnel_tooltip_phone_1"><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.phone']}" /></span>
			<span id="funnel_tooltip_phone_2" style="display:none;"><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
		</span>
	</div>
	<div id="funnel_password_field" class="funnel_password_holder" data-funnel_row='t'>
		<input id="funnel_password" name="funnel_password" maxlength="9" class="funnel_inp funnel_inp_password" data-tooltip='funnel_tooltip_password' onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validatePassword();"
			type="text" value="#{msgs['CMS.registerContent.label.register.password'].toUpperCase()}" data-p="true" />
		<span class="funnel_names_error_h">
			<span id="funnel_password_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_password_error_txt_in"></span>
			</span>
		</span>
		<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_password">
			<span class="funnel_tooltip_arrow"></span>
			<h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.password']}" />
		</span>
	</div>
	<div id="funnel_password_retype_field" class="funnel_password_retype_holder" data-funnel_row='t'>
		<input id="funnel_passwordConfirm" name="funnel_passwordConfirm" class="funnel_inp funnel_inp_#{applicationData.userLocale.language} funnel_inp_password_retype" onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validatePasswordConfirm();"
			type="text" maxlength="9" value="#{msgs['CMS.registerContent.label.register.retype'].toUpperCase()}" data-p="true" />
		<span class="funnel_names_error_h">
			<span id="funnel_passwordConfirm_error" class="funnel_error_hide"></span>
			<span class="funnel_names_error_msg_h">
				<span id="funnel_passwordConfirm_error_txt_in"></span>
			</span>
		</span>
	</div>
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<div id="funnel_terms_field" class="funnel_chkbx" data-funnel_row='t'>
			<span id="funnel_terms_h" class="funnel_terms_h2">
				<label>
					<span class="funnel_terms_h_in" id="funnel_terms_h_in" onclick="checkBox(this);">
						<input type="checkbox" id="funnel_terms" name="funnel_terms" class="funnel_terms" />
					</span>
					<h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.terms.text']}" rendered="#{fullTerms != 'true'}"/>
				</label>
				<h:outputText escape="false" value="#{msgs['CMS.registerContent.text.register.terms']}" rendered="#{fullTerms == 'true'}"/>
			</span>
			<span class="funnel_names_error_h_chb">
				<span id="funnel_terms_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h">
					<span id="funnel_terms_error_txt_in"></span>
				</span>
			</span>
		</div>
	</h:panelGroup>
	<div id="funnel_submit_field" data-funnel_row='t'>
		<a onclick="funnel_submit();return false;" 
			class="btn_open_account btn_open_account_h clear" id="btn_open_account">
			<span class="rs btn_open_account">
				<span class="cs cs_#{applicationData.userLocale.language} btn_open_account" id="btn_open_account_in">
					<h:outputText value="#{msgs['CMS.quick_sign_up.submit']}" />
				</span>
			</span>
		</a>
	</div>
	<div id="funnel_error_list" class="clear funnel_error_list" data-funnel_row='t'>
		<span id="funnel_firstName_error_txt"></span>
		<span id="funnel_lastName_error_txt"></span>
		<span id="funnel_email_error_txt"></span>
		<span id="funnel_drop_h_error_txt"></span>
		<span id="funnel_mobilePhone_error_txt"></span>
		<span id="funnel_password_error_txt"></span>
		<span id="funnel_passwordConfirm_error_txt"></span>
		<span id="funnel_terms_error_txt"></span>
		<span id="funnel_blocked_error_txt"></span>
		<span id="funnel_idNum_error_txt"></span>
		<span id="funnel_global_error_txt"></span>
	</div>
	<input type="submit" style="display:none" />
	<input type="hidden" id="register_from_short_reg" name="register_from_short_reg"/>
	<input id="funnel_fingerPrint" name="funnel_fingerPrint" type="hidden"/>
	<span class="funnel_error_line" id="funnel_error_line"></span>
</form>
<iframe name="funnel_submit_iframe" id="funnel_submit_iframe" style="display:none;" src="about:blank"></iframe>
</f:view>