<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
	<h:panelGroup rendered="#{commonUtil.skinRegulated}">
		<div class="regulation_banner2#{addText == 'true' ? '_small' : ''} clear">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/regulated_licence_pt1.jpg" alt="#{msgs['CMS.regulation.alt.regulated_licence_pt1.jpg']}" class="clear regulation_banner2_img1"/>
			<div class="regulation_banner2_in">
				<p><h:outputText value="#{msgs['CMS.regulations_banner.text.t1']}" escape="false"/></p>
				<h:panelGroup rendered="#{addText == 'true'}">
					<p><h:outputText value="#{msgs['CMS.regulation_content.text.t4']}" escape="false"/></p>
				</h:panelGroup>
			</div>
		</div>
	</h:panelGroup>
</f:view>