<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<t:saveState value="#{marketsListForm}" />
<ul id="selectorAll" class="selectorAll">
	<c:forEach items="${marketsListForm.returnRefunSelectorStatic}" var="SelectorAll">
		<li id="#{SelectorAll.selectorID}_selectors">
			<span align="#{applicationData.pageAlignment}">
				<h:outputText value="#{SelectorAll.selectorID}" />
			</span>
			<span align="#{applicationData.pageAlignment}" id="#{SelectorAll.selectorID}_return">
				<h:outputText value="#{SelectorAll.returnSelector}"/>
			</span>
			<span align="#{applicationData.pageAlignment}" id="#{SelectorAll.selectorID}_refund">
				<h:outputText value="#{SelectorAll.refundSelector}"/>
			</span>
		</li>
	</c:forEach>
</ul>

</f:view>
