<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}">

	<div class="ru_certificate_pop_in">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/levels-pop-up_icon-close.png" width="16" height="16" onclick="simple_show_and_hide('certificatePopUp');" class="ru_certificate_pop_close" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/ru_certificate_ru.gif" width="211" height="299" class="fL mr10"/>
		<div class="mt15">
			Мы рады сообщить, что компания anyoption™ прошла сертификацию в Центре Регулирования Отношений на Финансовых Рынках (ЦРОФР) и на данный момент является единственным сертифицированным брокером, предлагающим трейдинг бинарными опционами в России, Украине и Казахстане.
			<br /><br />
			Мы гордимся нашей безупречной репутацией и постоянно совершенствуем наши услуги, с целью предоставления максимально комфортного трейдинга для наших клиентов.
			<br /><br />
			<a href="http://crofr.net/index.php?page=anyoption_payment_services_ltd"  target="_blank" style=" text-decoration:none; color:#0284d6">» Перейти на сайт регулирующего органа, выдавшего сертификат</a>
		</div>
	</div>
</f:view>