<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>

   <div class="hp_rs_box pR mt20">
		<img width="141" height="55" onclick="simple_show_and_hide('certificatePopUp');" class="ru_certificate_img"
			src="#{applicationData.imagesPath}/icons/logo_certificate_home-page_ru.png" />
		<div class="hp_rs_box_text">
			<!-- TODO: insert message -->
			<h:outputText value="#{msgs['anyoption.certicte.info']}" escape="false"/>
			<br/>
			<span style="color:#0284D8;">
				<h:outputText id="readmore_certificate" style="text-decoration: none;cursor: pointer;" onclick="simple_show_and_hide('certificatePopUp');" value="#{msgs['box.readmore']}" /> »
			</span>
		</div>
		<div id="certificatePopUp" class="ru_certificate_pop">
			<ui:include src="/jsp/html_elements/ru_certificate_pop.xhtml" />
		</div>
	</div>

</f:view>