<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<f:facet name="previous">
		<h:outputText value="«" rendered="#{pageIndex gt 1}"/>
	</f:facet>

	<f:facet name="next">
		<h:outputText value="»" rendered="#{pageIndex lt pageCount}"/>
	</f:facet>
</f:view>