<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div id="popUpTechnicalAnalysisRedirect">
		<div class="technical_analysis_redirect_popUp_overlay"></div>
		<div class="technical_analysis_redirect_popUp_content">
			<i class="technical_analysis_redirect_popUp_icon"></i>
			<div id="popUpTechnicalAnalysisRedirectInnerContent" class="technical_analysis_redirect_popUp_inner_content">
				<p><h:outputText value="#{msgs['technical-analysis-redirect-popup-text']}" escape='false'/></p>
			</div>
		</div>
	</div>
</f:view>