<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
<h:panelGroup rendered="#{applicationData.skinId != 1}">
	<ul class="trade_page_tabs_main">
		<li class="trade_page_tabs_h trade_page_tabs_binary_opt_h #{binaryOptionLink}">
			<a class="trade_page_tabs ls trade_page_tabs_binary_opt" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs binary_opt_tabs_#{applicationData.userLocale.language}">#{msgs['CMS.trade_menu_strip.label.header.lastlevels.binaryOptions']}</span></span>
			</a>
		</li>
		<h:panelGroup rendered="#{(empty facesContext.externalContext.remoteUser and commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true') and applicationData.skinId != 15) ||  (!empty facesContext.externalContext.remoteUser and user.productViewFlags.get('HasDynamics'))}">
 			<li class="trade_page_tabs_h trade_page_tabs_binary0100_h #{dynamicsLink}">
				<a class="trade_page_tabs ls trade_page_tabs_binary0100" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-dynamics.jsf')}">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.trade_menu_strip.label.dynamics']}</span></span>
				</a>
				<img class="ribbon_new" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/ribbon_new.png" />
			</li>
		</h:panelGroup>
		<h:panelGroup rendered="#{commonUtil.getProperty('isHasBubbles.always.flag').equalsIgnoreCase('true')}">
			<li class="trade_page_tabs_h trade_page_tabs_bubbles_h #{bubblesLink}">
				<a class="trade_page_tabs ls trade_page_tabs_bubbles" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-bubbles.jsf')}">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.trade_menu_strip.label.bubbles']}</span></span>
				</a>
				<img class="ribbon_new" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/ribbon_new.png" />
			</li>
		</h:panelGroup>
		<li class="trade_page_tabs_h trade_page_tabs_option_plus_h #{optionPlusLink}">
			<a class="trade_page_tabs ls trade_page_tabs_option_plus" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.trade_menu_strip.label.home.page.tab.2']}</span></span>
			</a>
		</li>
		<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 15 and ((empty facesContext.externalContext.remoteUser and !commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and !user.productViewFlags.get('HasDynamics')))}">
			<li class="trade_page_tabs_h trade_page_tabs_binary0100_h #{binary0100Link}">
				<a class="trade_page_tabs ls trade_page_tabs_binary0100" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs binary0100_tabs_#{applicationData.userLocale.language}">#{msgs['home.page.tab.4']}</span></span>
				</a>
			</li>
		</h:panelGroup>
		<li class="trade_page_tabs_h trade_page_tabs_oneTouch_h #{oneTouchLink}">
			<a class="trade_page_tabs ls trade_page_tabs_oneTouch" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.trade_menu_strip.label.investments.oneTouch']}</span></span>
			</a>
		</li>
		<h:panelGroup rendered="#{applicationData.skinId != 15}">
			<li class="trade_page_tabs_h trade_page_tabs_special_h #{bitcointLink}">
				<a class="trade_page_tabs ls trade_page_tabs_special" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/eur_usd_options.jsf')}">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.bitcoin-options.text.bitcoin.header']}</span></span>
				</a>
			</li>
		</h:panelGroup>
	</ul>
</h:panelGroup>
<h:panelGroup rendered="#{applicationData.skinId==1}">
	<div style="margin-top:0px;font-weight:normal;font-size:12px;line-height:16px;">
		<h:outputText value="#{msgs['SEC_warning.text1']}" escape="false"/>
		<br/>
		<h:outputText value="#{msgs['SEC_warning.text2']}" escape="false"/>
	</div>
	<ul class="trade_page_tabs_ul #{tradingLink}">
		<li>
			<a class="trade_page_tabs trade_page_tabs_h #{binaryOptionLink}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">
					<span class="trade_menu_ico bo_ico"></span>
					<span class="trade_menu_ico_text">#{msgs['CMS.trade_menu_strip.label.header.lastlevels.binaryOptions']}</span>
				</span></span>
			</a>
		</li>
		<li>
			<a class="trade_page_tabs trade_page_tabs_h #{optionPlusLink}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">
					<span class="trade_menu_ico op_ico"></span>
					<span class="trade_menu_ico_text">#{msgs['CMS.trade_menu_strip.label.home.page.tab.2']}</span>
				</span></span>
			</a>
		</li>
		<li>
			<a class="trade_page_tabs trade_page_tabs_h #{binary0100Link}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">
					<span class="trade_menu_ico b0100_ico"></span>
					<span class="trade_menu_ico_text">#{msgs['home.page.tab.4']}</span>
				</span></span>
			</a>
		</li>
	</ul>
</h:panelGroup>

</f:view>