<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<ul class="special_tabs_main oH">
		<li class="special_elements_eur_usd_h #{request.requestURI.endsWith('eur_usd_options.jsf')?'active':''}">
			<span class="trade_page_tabs trade_page_tabs_arrow"></span>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/eur_usd_options.jsf')}">
				<span class="special_p special_elements_eur_usd vaM"></span>
				<span class="vaM">
					<h:outputText value="#{msgs['CMS.trade_menu_strip_special.label.strip.eur_usd']}" escape="false"/>
				</span>
			</a>
		</li>
		<li class="special_elements_oil_h #{request.requestURI.endsWith('oil_options.jsf')?'active':''}">
			<span class="trade_page_tabs trade_page_tabs_arrow"></span>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oil_options.jsf')}">
				<span class="special_p special_elements_oil vaM"></span>
				<span class="vaM">
					<h:outputText value="#{msgs['CMS.trade_menu_strip_special.label.strip.oil']}" escape="false"/>
				</span>
			</a>
		</li>
		<li class="special_elements_gold_h #{request.requestURI.endsWith('gold_options.jsf')?'active':''}">
			<span class="trade_page_tabs trade_page_tabs_arrow"></span>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/gold_options.jsf')}">
				<span class="special_p special_elements_gold vaM"></span>
				<span class="vaM">
					<h:outputText value="#{msgs['CMS.trade_menu_strip_special.label.strip.gold']}" escape="false"/>
				</span>
			</a>
		</li>
		<li class="special_elements_dax_h #{request.requestURI.endsWith('dax_options.jsf')?'active':''}">
			<span class="trade_page_tabs trade_page_tabs_arrow"></span>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/dax_options.jsf')}">
				<span class="special_p special_elements_dax vaM"></span>
			</a>
		</li>
		<li class="special_elements_sandp500_h #{request.requestURI.endsWith('sandp500_options.jsf')?'active':''}">
			<span class="trade_page_tabs trade_page_tabs_arrow"></span>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/sandp500_options.jsf')}">
				<span class="special_p special_elements_sandp500 vaM"></span>
			</a>
		</li>
	</ul>
</f:view>