<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<div class="acad_popUps" id="popupVOD">
		<div class="acad_vod_popUp">
			<span class="acad_vod_close_img" onclick="closePopupVOD();"></span>
			<div class="pR">
				<div class='vid_container vid_type' id='vin' lng='english_uk'>
					<center><div id='vid_player'>flash here</div></center>
				</div>
				<span class="acad_vod_err_img_bg"  id="acad_vod_err_img_bg"></span>
				<div class="reg_log_popUp_small" id="reg_log_popUp_small">
					<ui:include src="/jsp/html_elements/regLog_2_PopUpAcademy.xhtml" />
				</div>
				<div class="reg_log_popUp_small" id="deposit_popUp_small">
					<ui:include src="/jsp/html_elements/depositPopUpAcademy.xhtml" />
				</div>
			</div>
			<span class="acad_vod_txt_header" id="acad_vod_title_pop"></span>
			<span class="acad_vod_txt" id="acad_vod_text_pop"></span>
			<h:panelGroup rendered="#{request.requestURI.endsWith('anyoption-product-guide.jsf')}">
				<a id="bo_trading_links" class="acad_reg_buton acad_reg_buton_l acad_tr_button">
					<span class="acad_reg_buton acad_reg_buton_r">
						<span class="acad_reg_buton acad_reg_buton_m">
							<span class="acad_login_buton_txt acad_login_buton_txt_resize_#{applicationData.userLocale.language}">
								<h:outputText value="#{msgs['CMS.newCardContent.text.submit']}" />
							</span>
						</span>
					</span>
				</a>
			</h:panelGroup>
		</div>
	</div>
	<div style='display:none' id='reg_message' ><p>Please register.Please register to continue.It's free!</p></div>
</f:view>