<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div class="withdraw_popUp withdraw_accepted">
		<div class="withdraw_popUp_content">
			<h:panelGroup rendered="#{request.requestURI.endsWith('myaccount_empty_withdrawal.jsf') }">
				<a class="reg_log_close_img" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/creditCard_withdraw.jsf"></a>
			</h:panelGroup>
			<h:panelGroup rendered="#{request.requestURI.endsWith('myaccount_empty_wire.jsf') }">
				<a class="reg_log_close_img" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf"></a>
			</h:panelGroup>
			<i class="withdraw_popUp_img"></i>
			<div id="withdraw_popUp_text" class="withdraw_popUp_txt"></div>
			<div id="withdraw_popUp_message" style="display:none;">
				<t:messages rendered="#{commonUtil.hasMessages}" id="messages" globalonly="true" escape="false" />
			</div>
			<script>
				revert_escape("withdraw_popUp_message", "withdraw_popUp_text");
			</script>
		</div>
	</div>
</f:view>