html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,th,img{border-width:0;margin:0;padding:0}
body{font-size:14px;text-align:left;background:#eaeaeb;direction:ltr;color:#093755;font-family:Verdana, Geneva, sans-serif;margin:0}
select,input,img{vertical-align:middle;margin:0 auto}
span.title{margin-top:10px;line-height:20px;display:block}
a:link,a:visited,a:active{color:#0284d6}
a:hover{color:#e9800f;text-decoration:underline}
.f1{color:#d00000;font-size:28px;font-weight:700}
.f2{font-size:20px;font-weight:700}
.f3{text-align:right}
#top{width:100%;height:92px;background:url(../images/header_bg.jpg) top center;padding-top:15px;margin:0 0 10px}
#top div{width:1000px;text-align:left;margin:0 auto}
#body{width:1000px;position:relative;margin:auto}
#body .b_top{width:1000px;height:18px;background:url(../images/top_bottom_bg.png) no-repeat}
#body .b_bottom{width:1000px;height:25px;background:url(../images/top_bottom_bg.png) no-repeat left bottom}
#body .middle{width:966px;overflow:hidden;background:#FFF url(../images/page_shadow.png) repeat-y top right;padding:0 12px 0 22px}
#body .middle .left{width:665px;float:left}
h3{font-size:21px;font-weight:700;padding-bottom:14px}
.right_devider{background:url(../images/right_devider.png) no-repeat top left;height:24px;width:262px;float:left;padding-bottom:20px}
#body .middle .left .tv{height:50px;line-height:50px}
#body .middle .left .video{width:675px;height:380px;margin:10px 0}
h2{line-height:40px;color:#093755;font-size:18px;font-weight:700;font-style:italic;margin:0 0 0 5px}
h1{color:#0284d6;line-height:46px;font-size:38px;width:670px;margin:10px 0}
a.anyoption_link,a.anyoption_link:hover,a.anyoption_link:visited{text-decoration:none}
p{line-height:normal;word-wrap:break-word;padding-bottom:20px}
#body .middle .left .feet{width:651px;height:62px;background:url(../images/feet_bg.png);line-height:62px;font-size:24px;color:#093755;font-weight:700;margin:10px 0 0;padding:0 10px}
#body .middle .right{background:url(../images/right_bg.png) no-repeat scroll right top transparent;color:#727272;float:right;font-size:13px;width:285px;margin:320px 0 0 16px}
#body .middle .right .bb .pc{float:left;height:98px;width:74px;margin:0 10px 0 0}
h4{line-height:30px;font-size:14px;margin:0 0 20px}
#body .middle .right .bb p{line-height:normal;padding-bottom:15px}
#body .middle .right .bb .i{margin:3px 0}
#body .middle .right .bo{width:285px;height:32px;background:url(../images/right_bottom.png) top left no-repeat}
#footer{text-align:center;width:975px;font-size:9px;margin:0 auto}
#footer .icons{height:30px;width:659px;float:right;border-bottom:solid 1px #fff;background:url(../images/separator_bottom_bg.png) repeat-x bottom left;margin:0 0 10px;padding:15px 0 15px 326px}
#footer .icons .icon_space{margin-right:20px;float:left}
#footer .links{margin-top:20px;margin-bottom:15px}
#footer .footer_text{color:#757575;font-size:11px;text-align:center;width:730px;line-height:16px;margin:0 auto;padding:20px 0}
#footer .footer_link{color:#0284D6;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
#footer .footer_link:hover{color:#093755;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
.yellow_marker{background:url(../images/yellow_maker_bg.png) top left;padding:4px 8px}
.image_container{padding-bottom:20px}
.example_left{float:left;width:74px;padding-bottom:10px;font-size:12px;text-decoration:underline}
.example_right{float:left;width:580px;padding-bottom:15px;font-size:12px}
.example_ru{font-size:11px!important}
a.open_account,a.open_account:visited{text-align:center;padding-left:150px;font-weight:700;font-size:18px}
.tv-logo{height:44px;width:485px;margin:15px 0 0}
.form .bb{border-bottom:1px solid #0284d6!important;border-left:1px solid #0284d6!important;border-right:1px solid #0284d6!important;border-top:none!important;background:#C4E5F5!important;padding-top:0!important;height:400px}
#body .middle .right .bb{width:251px;background:#eee;margin-right:14px;overflow:hidden;border:1px #d0d0d0 solid;padding:10px 10px 25px}
.form .bb h4 a{font-size:24px;text-decoration:none;font-style:normal;background:url(../images/form_title_btn.png) bottom center;width:173px;height:57px;display:block;position:absolute;top:-1px;left:50px}
.form{margin-top:0!important;padding-top:0!important;position:absolute;top:-10px;right:12px}
#de .form .bb h4 a{background:url(../images/form_title_btn_de.png) bottom center}
#es .form .bb h4 a{background:url(../images/form_title_btn_es.png) bottom center}
#fr .form .bb h4 a{background:url(../images/form_title_btn_fr.png) bottom center}
#ru .form .bb h4 a{background:url(../images/form_title_btn_ru.png) bottom center}
#tr .form .bb h4 a{background:url(../images/form_title_btn_tr.png) bottom center}
#it .form .bb h4 a{background:url(../images/form_title_btn_it.png) bottom center}
#de h1{font-size:36px}
#de a.open_account,a.open_account:visited{padding-left:45px}
#es h1{line-height:55px}
#fr a.open_account,a.open_account:visited{padding-left:90px}
#fr h1{font-size:39px;line-height:50px}
#it a.open_account,a.open_account:visited{padding-left:111px}
#ru a.open_account,a.open_account:visited{padding-left:70px}
#tr a.open_account,a.open_account:visited{padding-left:85px}
#headers_field{margin:14px 0 4px}
.funnel_h1{color:#FFF;font-size:15px;font-weight:400;text-align:left;text-transform:uppercase;margin:0;padding:0}
.funnel_subtitle{color:#FFD400;font-size:11px}
.home_shortReg{margin-left:13px;margin-top:80px;position:absolute;width:260px}
.home_shortReg .funnel_hold{width:212px}
.home_shortReg .funnel_inp{background:none repeat scroll 0 0 #FFF;border:1px solid #B3B3B3;color:#6E8695;display:inline-block;font-size:12px;height:28px;margin-bottom:10px;position:relative;text-transform:uppercase;vertical-align:middle;width:220px;padding:1px 0 0 2px}
.home_shortReg .funnel_inp.active{border:1px solid #D7D6D6;color:#093755;text-transform:none}
.home_shortReg .funnel_inp.error{border:1px solid #E97F02;color:#E97F02;text-transform:none}
.home_shortReg .funnel_inp.correct{border:1px solid #BDCEDA;color:#6E8695;text-transform:none}
.home_shortReg .funnel_inp_phone{margin-left:3px;width:131px}
.home_shortReg .funnel_names_holder,.home_shortReg .funnel_email_holder,.home_shortReg .funnel_phone_holder,.home_shortReg .funnel_password_holder,.home_shortReg .funnel_password_retype_holder{position:relative;z-index:2}
.home_shortReg .funnel_phone_holder_drop{z-index:3}
.home_shortReg .funnel_phone_code{float:left;width:30px}
.home_shortReg .funnel_phone{float:right;width:170px}
.home_shortReg .btn_open_account{background:url(../images/btn_open_account.png) no-repeat scroll 0 0 transparent}
.home_shortReg a.btn_open_account_h{background-position:0 0;display:block;height:50px;overflow:hidden;padding-left:10px;position:relative;text-decoration:none;text-transform:uppercase;width:214px;margin:5px 0}
.home_shortReg .btn_open_account_h .rs{background-position:right -51px;display:block;height:50px;padding-right:10px}
.home_shortReg .btn_open_account_h .cs{background-position:0 -104px;background-repeat:repeat-x;color:#fff;display:block;font-size:18px;font-weight:700;height:50px;line-height:1px;padding-top:24px;text-align:center;text-shadow:1px 1px 2px #926A01}
.home_shortReg a.btn_open_account_h:hover{background-position:0 -158px}
.home_shortReg a.btn_open_account_h:hover .rs{background-position:right -211px}
.home_shortReg a.btn_open_account_h:hover .cs{background-position:0 -264px}
.home_shortReg .btn_open_account_h.disabled .cs{background:none repeat scroll 0 0 transparent;color:transparent;text-shadow:none}
.home_shortReg a.btn_open_account_h.disabled:hover .cs{background:none repeat scroll 0 0 transparent;color:transparent}
.home_shortReg .error_messages{color:#E97F02}
.home_shortReg .error{border:1px solid #E97F02}
.home_shortReg .funnel_chkbx{display:block;margin-bottom:5px;position:relative}
.home_shortReg .funnel_chkbx_inp{margin-left:0}
.home_shortReg .funnel_terms_h{background:url(../images/reg_elms.png) no-repeat scroll 0 -17px transparent;color:#093755;cursor:pointer;display:inline-block;height:15px;padding-left:20px}
.home_shortReg .funnel_terms_h.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -32px transparent}
.home_shortReg .funnel_terms_h2{color:#093755;display:inline-block;font-size:12px;height:19px;margin:5px 0}
#DE .home_shortReg .funnel_terms_h2{font-size:11px}
.home_shortReg .funnel_terms_h_in{background:url(../images/reg_elms.png) no-repeat scroll 0 -33px transparent;cursor:pointer;display:inline-block;height:15px;margin-top:-3px;vertical-align:middle;width:20px}
.home_shortReg .funnel_terms_h_in.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -18px transparent}
.home_shortReg .funnel_terms_h2 span{color:#0284D6;cursor:pointer;text-decoration:underline}
.home_shortReg .funnel_drop_h{background:none repeat scroll 0 0 #FFF;border:1px solid #B3B3B3;color:#6E8695;display:inline-block;height:29px;margin-bottom:10px;position:relative;vertical-align:middle;width:74px;z-index:2;padding:0 3px 0 2px}
.home_shortReg .funnel_drop_selected{background:url(../images/reg_elms.png) no-repeat scroll right 2px transparent;color:#6E8695;cursor:pointer;font-size:12px;height:18px;margin-top:5px;overflow:hidden}
.home_shortReg .funnel_drop_country{float:left;font-size:12px;margin-top:2px}
.home_shortReg .funnel_drop_countryId{float:right;font-size:12px;text-align:right;margin:2px 20px 0 0}
.home_shortReg .funnel_drop_ul{background:none repeat scroll 0 0 #FFF;border:1px solid #859199;display:none;left:-1px;list-style:none outside none;max-height:300px;overflow-x:hidden;overflow-y:auto;position:absolute;top:26px;margin:0;padding:0}
.home_shortReg .funnel_drop_ul li{color:#093755;cursor:pointer;display:block;white-space:nowrap;padding:1px 2px}
.home_shortReg .funnel_drop_ul li:hover,.home_shortReg .funnel_drop_ul li.active{background:none repeat scroll 0 0 #92ACC0;color:#FFF}
.home_shortReg .funnel_drop_h.active{border:1px solid #D7D6D6;color:#093755!important}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul{border:1px solid #859199;display:block}
.home_shortReg .funnel_names_error_h{position:absolute;right:19px;top:7px;white-space:nowrap;width:11px}
.home_shortReg .funnel_names_error_h_chb{position:absolute;right:-15px;top:2px;white-space:nowrap;width:11px}
.home_shortReg .funnel_error_hide{display:none;height:11px;width:11px}
.home_shortReg .funnel_error_bad{background:url(../images/reg_elms.png) no-repeat scroll 0 -50px transparent;display:inline-block;height:11px;margin-top:4px;width:11px}
.home_shortReg .funnel_error_good{background:url(../images/reg_elms.png) no-repeat scroll 0 -61px transparent;display:inline-block;height:11px;width:11px}
.home_shortReg .funnel_tooltip_h{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;display:none;position:absolute;right:-194px;top:0;transition:all .5s ease 0;width:170px;padding:5px}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -73px transparent;display:block;height:18px;left:-14px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px}
.home_shortReg .funnel_tooltip_h_left{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;color:#093755;display:none;font-size:10px;left:-167px;line-height:13px;position:absolute;top:0;transition:all .5s ease 0;width:140px;z-index:10000;padding:5px}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -94px transparent;display:block;height:18px;left:150px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px}
.home_shortReg .funnel_error_list{color:#FB7C00;font-size:12px;line-height:15px;padding-top:5px;width:230px}
.home_shortReg .funnel_error_list span{display:block}
.home_shortReg .funnel_inp_first_name{width:80px}
.home_shortReg .funnel_inp_last_name{margin-left:3px;width:128px}
funnel_drop_selected.active{color:#093755!important}
*,.form .bb h4{margin:0;padding:0}
.form .bb h4 a:hover,#de .form .bb h4 a:hover,#es .form .bb h4 a:hover,#fr .form .bb h4 a:hover,#ru .form .bb h4 a:hover,#tr .form .bb h4 a:hover,#it .form .bb h4 a:hover{background-position:top center}
#de .example_right,#ru .example_right{width:590px}
#it h1,#tr h1{font-size:37px}
#TR .home_shortReg,#DE .home_shortReg,#ES .home_shortReg{margin-top:20px}
.home_shortReg a.btn_open_account_h.disabled,.home_shortReg a.btn_open_account_h.disabled:hover{background:url(../images/loader_qs.gif) no-repeat scroll center center transparent}
.home_shortReg .btn_open_account_h.disabled .rs,.home_shortReg a.btn_open_account_h.disabled:hover .rs{background:none repeat scroll 0 0 transparent}
.home_shortReg .funnel_terms,.home_shortReg .funnel_names_error_msg_h{display:none}