body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
}
*, p, img, h1, h2 {
	padding: 0;
	margin: 0;
}
.top_line {
	width: 100%;
	height: 63px;
}
.logo {
	width: 970px;
	margin: 0 auto;
	padding: 8px 0px 0px 12px;
	position:relative;
}
.main_part {
	width: 100%;
	height: 555px;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: center top
}
.agree_text {
	padding: 0px 0px 0px 0px;
	width: 365px;
	float: left;
	color: #9ec7e1;
	font-size: 11px;
	line-height: 11px;
	margin: 0px 0px 0px 0px;
}
.agree {
	margin: 0px 5px 0px 0px;
	margin-left: 0px;
	display: block;
	float: left;
	font-size: 12px;
	color: #FFF
}
#mobile_c {
	width: 40px;
	margin: 0px 5px 0px 0px
}
.secured {
	width: 290px;
	float: left;
	font-size: 11px;
	color: #9ec7e1;
	margin: 0;
	padding: 0 0 0 15px;
	background: transparent url(../images/SAFETY.png) no-repeat left top;
}
.cbox {
	z-index: 2;
	background-image: url(../images/main_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 500px;
	width: 990px;
	margin: 0px auto;
	position: relative
}
.form_hold {
	background-image: url(../images/form_bg.png);
	width: 1017px;
	height: 245px;
	background-repeat: no-repeat;
	position: absolute;
	left: -10px;
	top: 464px
}
.formbox {
	width: 970px;
	height: 60px;
	margin: 5px 0 10px 26px;
}
.formbox span {
	margin: 5px 0px 0px 19px
}
.input1 {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	line-height: 25px;
	height: 40px;
	margin: 0px 5px 0px 0px;
	width: 177px;
}
.input1 input {
	border: 1px solid #093856;
	height: 20px;
	width: 171px !important;
}
.input2 {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	height: 40px;
	line-height: 24px;
	width: 187px;
}
.input2 input {
	border: 1px solid #093856;
	height: 20px;
	width: 124px;
}
.submin_swf {
	margin: 3px 0px 0px 15px;
	float: left
}
.profit {
	position: absolute;
	top: 26px;
	left: 551px
}
.tbox {
	float: left;
	width: 550px;
	height: 450px;
	position: relative;
}
.tbox p {
	width: 440px;
	color: #093755;
	font-size: 14px;
	line-height:20px;
	padding: 30px 0px 0px 15px
}


.tbox h2 {
	font-size: 16px;
	font-weight: bold;
	color: #093755;
	padding: 32px 0px 0px 15px
}

.second_title {
	width: 510px;
	position:absolute;
	bottom:22px;
	left:15px;
	margin: 0;
}

#zh .second_title {
	padding: 55px 0 0 0;
}
.ibox {
	float: left;
	margin: 220px 0px 0px 39px;
}
*+html .ibox {
	margin: 250px 0px 40px 0;
}
.ibox ul {
	list-style: none;
	height: 50px;
	color: #093555;
	font-size: 14px;
	margin: -10px 0px 0px -31px;
}
*+html .ibox ul {
	margin: 0px 0px 0px 10px;
}
.ibox ul li {
	float: left;
	width: 355px;
	display: block;
	margin: 6px;
	background-image: url(../images/arow.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0px 0px 0px 18px
}
.footer {
	float: left;
	border-top: 1px solid #e5e5e5;
	margin: 40px 0 0 15px;
	width: 970px;
}
.footer a, .footer a:visited {
	color: #6f6f6f;
}
.disclaimer, .disclaimer-middle {
	margin: 0 auto;
	display: block;
	font-size: 11px;
	color: #6e6e6e;
	width: 815px;
	text-align: center;
	padding: 15px 87px 30px;
	margin-left: 15px;
}
.disclaimer-middle {
	color:#fff;
	padding-left:0;
	padding-right:0;
	width:670px;
	text-align:left;
	float:left;
}
.icons {
	color: #333;
	font-size: 10px;
	height: 30px;
	margin: 0 auto;
	width: 358px;
	padding: 15px 0;
}
.icons .icon_space {
	margin-right: 20px;
	float: left;
}
/*error*/

.error input {
	border: 1px solid #F00 !important;
}
#error_box		{display:none;position:absolute; z-index:100; top:300px; background-color: #025a90; border: solid 1px #093755; background-image: none; width:250px; height:180px; overflow:hidden; text-align:center;}
.error_message	{height:100px; color:#fff; font-size: 13px; position: relative; font-weight: bold; line-height: 17px;}
.error_message label {position: absolute; width: 230px; bottom: 20px; left: 10px;}
.error_button	{background: transparent url(../images/form_full_alret_button.png) no-repeat center top; width:72px; height:57px; margin: 0 auto; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:fixed;
top:0;
width:100%;
z-index:99;
}
#mobile_c {border: 1px solid #093856 !important;
}

/* Regulation */
.footer .icons { border:none; }
.footer .icons-container {
  width: 975px;
  margin:0 auto;
}
.footer .regulated {
 width: 100%;
 font-size:14px;
 height: 40px;
 border-bottom: solid 1px #e5e5e5;
 padding-bottom:10px;
 padding-top:10px;
 color:#898989;
}
.reg-logo { padding:6px 0 0 55px; }
.reg-logo {float:right; background: url(../../images/regulated-logo.png) no-repeat; height:67px; padding:5px 0 0 55px; position:absolute; right:0; top:6px;}
.reg-logo p { font-size:15px; padding:8px 0 0 0; font-weight:bold;}
.footer .regulated img {
 float:right;
 margin-top:7px;
 margin-left:8px;
}
.footer .regulated p {
 float:left;
 padding-top:10px;
}
.footer .regulated div { margin:0 auto;}
/* Close regulation */

/* lightbox */
	#lightbox {
	display: none;
	position: absolute;
	z-index: 100;
	top: 200px;
	background: url(../images/lightbox_bk.png) no-repeat;
	width: 418px;
	height: 470px;
	overflow: hidden;
	text-align: center;
}
#lightbox .text {
	color: #064e7d;
	width: 110px;
	text-align: left;
	margin: 0 auto;
	font-size: 13px;
}
#lightbox .number {
	font-weight: bold;
	color: #064e7d;
	background: url(../images/lb_mark.png) no-repeat;
	width: 120px;
	height: 27px;
	margin: 0 auto;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}
#lightbox .above {
	color: #628d13;
}
#lightbox .below {
	color: #c50000;
}
#lightbox #amount {
	margin-top: 45px;
}

#lightbox_close {
	background: url(../images/close_button.png) no-repeat;
	width: 13px;
	height: 13px;
	margin: 0 auto;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
}
#termsbox {
	display: none;
	position: absolute;
	z-index: 100;
	top: 150px;
	/*left: 278px;*/
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #d7d7d7 1px solid;
	width: 418px;
	height: 440px;
	overflow: hidden;
	text-align: left;
	-moz-box-shadow: 0px 0px 6px 2px #898989;
	-webkit-box-shadow: 0px 0px 6px 2px #898989;
	box-shadow: 0px 0px 6px 2px #898989;
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	filter: none\9;
	filter: none\0/;
	box-shadow: none\9;
	box-shadow: none\0/;
}


#termsbox .form_text {
	font-size: 11px;
}
.form_text {
padding: 0 54px;
color: #999999;
font-size: 12px;
float: left;
margin: 10px 0 5px 0;
}

/*****************Scroll***************/
.form_logo {
	text-align: left;
	margin-top: 15px;
	padding-left: 54px;
}
#termsbox {
	width: 520px;
	height: 493px;
	margin: 0 auto;
	margin-bottom: 50px !important;
	color: #333;
}
#termsbox .viewport {
	width: 500px;
	height: 435px;
	overflow: hidden;
	position: relative;
}
#termsbox .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
#termsbox .scrollbar {
	background: transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0;
	position: relative;
	background-position: 0 0;
	float: right;
	width: 15px;
}
#termsbox .track {
	background: transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
	height: 100%;
	width: 13px;
	position: relative;
	padding: 0 1px;
}
#termsbox .thumb {
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
	height: 20px;
	width: 25px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -5px;
}
#termsbox .thumb .end {
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
	overflow: hidden;
	height: 5px;
	width: 25px;
}
#termsbox .disable {
	display: none;
}
.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.form_title {
	padding: 30px 54px 8px 54px !important;
	margin: 0;
	color: #093755 !important;
	font-size: 28px !important;
	line-height: 32px;
	font-weight: normal !important;
	display: block !important;
	text-align: left;
}
/*****************/
.scrollbar_scroll {
	width: 11px;
	height: 350px;
	font-size: 1px;
	float: left;
	position: relative;
	margin: 84px 0;
	background-color: #f5fbff;
	float: right;
}
.up {
	position: absolute;
	left: 0;
	top: 0;
}
.track_scroll {
	position: absolute;
	left: 0;
	top: 9px;
	width: 11px;
	background: transparent url(../images/scr_mdl.gif) repeat-y center top;
	height: 332px;
}
.dragBar_scroll {
	left: 1px;
	top: 1px;
	height: 20px;
	background-color: #999999;/*margin: 0 1px;*/
}
.down {
	position: absolute;
	left: 0;
	bottom: 0;
}
.red {
	color:#ff0000;
	font-weight:normal;
}
/* close light box */

#de .tbox p, #ru .tbox p {
	width:600px;
}
#fr .tbox p {
	width:620px;
}
#fr .profit {
	left: 521px;
}
#it .tbox p {
	width:540px;
}
#tr .tbox p {
	width:480px;
}
#es .profit {
	top:50px;
}
#ru .profit {
	top:80px;
}
#ru .disclaimer-middle {
	width:750px;
}
#zh .disclaimer-middle {
	width:500px;
}

#tr .regulated p {
	font-size:10px;
}

.scroler_h{max-height:435px;overflow:auto;position:relative;width:520px;}
.scroller_m{position:absolute;display:block;width:7px;background:white;background:#f2f2f2;height:100%;top:0;right:-9px;
	border-radius:3px;-webkit-border-radius:3px;
	-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;}
.scroller_m.hov{margin-right:9px;}
.scroller_m_in{position:absolute;display:block;width:100%;background:#999999;height:15px;top:0;left:-2px;cursor:move;border:2px solid white;
	border-radius:3px;-webkit-border-radius:3px;}
.scroller_m:hover{width:11px;}