html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
body{line-height:1;background:#000 url(../images/bg-bottom.jpg) center 500px repeat-x;font-family:Tahoma, Geneva, sans-serif;font-size:20px;color:#fff;position:relative}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
.main-image{background:url(../images/main-image.jpg) 10px top no-repeat;width:1014px;height:539px;z-index:1;position:absolute;top:0;right:50%;margin-right:-507px}
.middle-bg{width:100%;height:84px;position:absolute;top:540px;left:0;z-index:2;background:#000 url(../images/middle-black-bg.png) top left repeat-x}
.line-top,.line-bottom{background:url(../images/line-bg.jpg) top center no-repeat;position:absolute;top:0;left:0;width:100%;height:3px}
.line-bottom{top:81px}
.left-middle-bg{background:url(../images/left-middle-bg.jpg) repeat-x right top;width:50%;height:539px;position:absolute;top:0;left:0;z-index:0;margin-left:0}
.right-middle-bg{background:url(../images/right-middle-bg.jpg) repeat-x -29px top;width:50%;height:539px;position:absolute;top:0;z-index:0;margin-right:0;right:0}
.bg-footer{height:358px;width:100%;position:absolute;bottom:0;right:0;background:url(../images/bg-footer.jpg) left top repeat-x;z-index:2}
strong{font-weight:700}
.page{width:970px;z-index:3;position:relative;margin:0 auto;padding:0}
.logo{margin-top:10px;margin-bottom:480px;text-align:left;float:left}
.top_content{width:890px;height:340px;position:absolute;left:51px;top:100px}
h1{font-size:35px;padding-bottom:20px;font-weight:700;padding-top:10px}
span.largest{font-size:105px;line-height:105px;font-weight:700}
span.large{font-size:64px;font-weight:700;line-height:64px}
.top_content h2{font-size:30px;font-weight:400;line-height:36px;padding-top:48px}
.bottom-content{width:100%;padding:0}
ul{width:100%;text-decoration:none;float:right;margin:0;padding:20px 0 78px}
ul li{font-size:16px;float:right;margin-left:28px;margin-right:0;text-align:center;padding:0}
.last{margin-left:0!important}
ul li strong{line-height:16px}
ul li span{color:#d10d0d;font-weight:bolder}
.FAQ{width:500px;margin-right:160px}
.form_bottom{text-align:center}
.FAQ p{float:right;width:100%;line-height:24px;margin-bottom:6px;padding:0 6px 12px}
p.question{background:#b10a0a;display:block;margin-bottom:0;float:right;width:auto;padding:6px}
.clear{clear:both}
form h1{font-size:18px!important;padding-bottom:0;padding-top:20px}
a.submit{display:block;height:61px;width:300px;background:url(../images/button.png) top left;text-align:center;margin:16px auto 4px}
a.submit:hover{background-position:bottom left}
.form_block{width:278px;float:left;position:relative;text-align:right}
.top_content_right{width:550px;float:right}
#headers_field{margin:14px 0 4px}
.funnel_h1{color:#FFF;font-size:15px;font-weight:400;text-align:left;text-transform:uppercase;margin:0;padding:0}
.funnel_subtitle{color:#FFD400;font-size:11px}
.home_shortReg{margin-top:14px;width:278px}
.home_shortReg .funnel_hold{width:212px}
.home_shortReg .funnel_inp{background:none repeat scroll 0 0 #FFF;border:1px solid #B3B3B3;color:#282828;display:inline-block;font-size:13px;height:24px;margin-bottom:10px;position:relative;text-transform:uppercase;vertical-align:middle;width:270px;font-family:Tahoma;padding:1px 3px 0 0}
.home_shortReg .funnel_inp.active{border:1px solid #D7D6D6;color:#093755;text-transform:none}
.home_shortReg .funnel_inp.error{border:1px solid #de4343;color:#282828;text-transform:none}
.home_shortReg .funnel_inp.correct{border:1px solid #BDCEDA;color:#6E8695;text-transform:none}
.home_shortReg .funnel_inp_phone{width:142px;float:right}
.home_shortReg .funnel_idNum_holder,.home_shortReg .funnel_names_holder,.home_shortReg .funnel_names_holder,.home_shortReg .funnel_email_holder,.home_shortReg .funnel_phone_holder,.home_shortReg .funnel_password_holder,.home_shortReg .funnel_password_retype_holder{position:relative;z-index:2}
.home_shortReg .funnel_phone_holder_drop{z-index:3}
.funnel_phone_holder{height:37px}
.home_shortReg .funnel_phone_code{float:left;width:30px}
.home_shortReg .funnel_phone{float:right;width:170px}
.btn_open_account{background:url(../images/btn_open_account.png) no-repeat}
a.btn_open_account_h{display:block;height:43px;padding-left:32px;text-decoration:none;overflow:hidden;text-transform:uppercase;background-position:0 0;margin-top:7px}
.btn_open_account_h .rs{display:block;height:43px;padding-right:10px;background-position:right -48px}
.btn_open_account_h .cs{display:block;height:43px;background-position:0 -95px;background-repeat:repeat-x;color:#FFF;font-size:22px;text-align:center;padding-top:19px;line-height:1px;text-shadow:1px 1px 2px #260B0B}
a.btn_open_account_h:hover{background-position:0 -142px}
a.btn_open_account_h:hover .rs{background-position:right -190px}
a.btn_open_account_h:hover .cs{background-position:0 -236px}
.home_shortReg .error_messages{color:#E97F02}
.home_shortReg .error{border:1px solid #E97F02}
.home_shortReg .funnel_chkbx{display:block;margin-bottom:5px;position:relative}
.home_shortReg .funnel_chkbx_inp{margin-left:0}
.funnel_terms_h{background:url(../images/reg_elms.png) no-repeat scroll 0 -17px transparent;cursor:pointer;display:inline-block;height:15px;padding-left:20px}
.home_shortReg .funnel_terms_h.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -32px transparent}
.home_shortReg .funnel_terms_h2{display:inline-block;font-size:12px;height:14px}
.form_block h1{font-size:28px;font-weight:400;padding-top:15px;padding-bottom:0}
.home_shortReg .funnel_terms_h_in{background:url(../images/reg_elms.png) no-repeat scroll 0 -18px transparent;cursor:pointer;display:inline-block;height:14px;margin-top:-3px;margin-left:4px;vertical-align:middle;width:17px}
.home_shortReg .funnel_terms_h_in.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -33px transparent}
.home_shortReg .funnel_drop_h{background:none repeat scroll 0 0 #FFF;border:1px solid #B3B3B3;color:#6E8695;display:inline-block;height:21px;margin-bottom:10px;position:relative;vertical-align:middle;width:115px;z-index:2;float:left;margin-left:3px;padding:4px 3px 0 2px}
.home_shortReg .funnel_drop_selected{background:url(../images/reg_elms.png) no-repeat scroll right 2px transparent;color:#6E8695;cursor:pointer;font-size:12px;height:18px;margin-top:-2px;overflow:hidden}
.home_shortReg .funnel_drop_country{float:left;font-size:12px;margin-top:4px}
.home_shortReg .funnel_drop_countryId{float:right;font-size:12px;text-align:right;margin:4px 20px 0 0}
.home_shortReg .funnel_drop_ul{background:none repeat scroll 0 0 #FFF;border:1px solid #859199;display:none;left:-1px;list-style:none outside none;max-height:300px;overflow-x:hidden;overflow-y:auto;position:absolute;top:26px;width:120px;font-size:10px;margin:0;padding:0}
.home_shortReg .funnel_drop_ul li{color:#093755;cursor:pointer;display:block;white-space:nowrap;font-size:13px;width:100%;float:right;text-align:right;padding:1px 2px}
.home_shortReg .funnel_drop_ul li:hover,.home_shortReg .funnel_drop_ul li.active{background:none repeat scroll 0 0 #92ACC0;color:#FFF}
.home_shortReg .funnel_drop_h.active{border:1px solid #D7D6D6;color:#093755!important}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul{border:1px solid #859199;display:block}
.home_shortReg .funnel_names_error_h{position:absolute;right:280px;top:9px;white-space:nowrap;width:11px}
.home_shortReg .funnel_names_error_h_chb{position:absolute;right:279px;top:3px;white-space:nowrap;width:11px}
.home_shortReg .funnel_error_hide{display:none;height:11px;width:11px}
.home_shortReg .funnel_error_bad{background:url(../images/reg_elms.png) no-repeat scroll 0 -50px transparent;display:inline-block;height:11px;margin-top:0;width:11px}
.home_shortReg .funnel_error_good{background:url(../images/reg_elms.png) no-repeat scroll 0 -61px transparent;display:inline-block;height:11px;width:11px}
.home_shortReg .funnel_tooltip_h{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;display:none;position:absolute;right:-194px;top:0;transition:all .5s ease 0;width:170px;padding:5px}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -73px transparent;display:block;height:18px;left:-14px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px}
.home_shortReg .funnel_tooltip_h_left{background:none repeat scroll 0 0 #fff;border:1px solid #093755;color:#282828;display:none;font-size:11px;right:-167px;line-height:13px;position:absolute;top:0;transition:all .5s ease 0;width:140px;padding:5px}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -74px transparent;display:block;height:18px;right:149px;margin-top:-7px;position:absolute;top:50%;transition:all .5s ease 0;width:14px}
.home_shortReg .funnel_error_list{color:#e64343;font-size:12px;line-height:15px;padding-top:5px;width:230px}
.home_shortReg .funnel_inp_first_name{width:118px}
.home_shortReg .funnel_inp_last_name{width:141px}
funnel_drop_selected.active{color:#093755!important}
.funnel_terms_h2 span{text-decoration:underline;cursor:pointer}
.form_bottom .form_block{float:none;width:auto;text-align:center}
#footer{text-align:center;width:975px;font-size:9px;padding-top:60px;margin:0 auto}
#footer .icons{height:30px;width:604px;margin:0 auto;padding:15px 0}
#footer .icons .icon_space{margin-left:20px;float:right}
#footer .links{margin-top:20px;margin-bottom:15px}
.footer_text{color:#757575;font-size:11px;text-align:center;width:100%;line-height:16px;position:relative;border-top:solid 1px #E5E5E5;margin:0 auto;padding:20px 0}
#footer .footer_text p{margin:0;padding:0}
#footer .footer_link{color:#0284D6;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
#footer .footer_link:hover{color:#093755;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
#error_box{display:none;position:absolute;z-index:100;top:50%;background:#094765 no-repeat left top;width:250px;overflow:hidden;border:1px solid #FFF}
.error_message{margin-top:50px;height:50px;font-size:14px;font-weight:700;color:#fff;text-align:center;padding:0 10px}
.error_button{background:transparent url(../../images/form_full_alret_button.png) no-repeat left top;width:80px;height:48px;cursor:pointer;margin:0 auto 15px}
.error{background-position:0 -26px}
#Overlay{background-color:#000;display:none;height:100%;left:0;opacity:0.4;filter:alpha(opacity=20);position:fixed;top:0;width:100%;z-index:99;margin:auto}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.home_shortReg .funnel_error_list span{display:block}
a.btn_open_account_h.disabled,a.btn_open_account_h.disabled:hover{background-position:0 -282px}
.btn_open_account_h.disabled .rs,a.btn_open_account_h.disabled:hover .rs{background-position:right -330px}
.btn_open_account_h.disabled .cs,a.btn_open_account_h.disabled:hover .cs{background-position:0 -377px}
.home_shortReg .funnel_terms,.home_shortReg .funnel_names_error_msg_h,.funnel_terms{display:none}