<html
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['deposit.jsf.title']}"/>
		</ui:define>
		<ui:define name="header">
			<h:outputText value="#{msgs['header.title']}"/>
		</ui:define>
		<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
		<ui:define name="title_message">
			<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
		</ui:define>
		<ui:define name="footerMsg">
			<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
		</ui:define>
		<ui:define name="showDeposit">
			<c:set var="showDeposit" value="true" />
		</ui:define>
		<ui:define name="menuSet">
			<c:set var="td" value="deposit" />
			<c:set var="std" value="depositBaropay" />
		</ui:define>		
		<ui:define name="content">
			    <h:panelGroup rendered="#{commonUtil.hasMessages}" width="100%">
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	           	</h:panelGroup>
		</ui:define>
	</ui:composition>
</html>
