<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['deposit.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>

<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="cards" />
</ui:define>
<ui:define name="content">
<c:if test="${depositForm.ccListSize == 0 &amp;&amp; !applicationData.chinese &amp;&amp; !depositForm.diners &amp;&amp; !userRegulation.showWCErrPage}">
    <script>
        window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf";
    </script>
</c:if>
<table cellpadding="0" cellspacing="0" width="554px" border="0" valign="middle">
 <tr>
  <td align="#{applicationData.pageAlignment}"> 


			<ui:include src="/jsp/pages/cdpayDepositContent.xhtml" />
	

  </td>
 </tr>
 <tr>
 	<td>
 		<h:panelGroup rendered="#{!user.stopReverseWithdrawOption}">
	 		<t:saveState value="#{reverseWithdrawForm}" /> 
			<h:panelGroup rendered="#{applicationData.skinId == 10}">
				<span class="info_pages_text"><span class="info_pages_text" style="font-weight: bold;color:red;">ВАЖНО: </span>Пожалуйста, убедитесь, что Ваш банк открыл Вам возможность производить <b>онлайн платежи</b> кредитной картой. Также уточните максимальную разрешенную сумму платежа.</span><br/><br/><br/>
			</h:panelGroup>
			<h:panelGroup rendered="#{reverseWithdrawForm.listSize>0}">
				<table colspacing="0" colpadding="0" border="0" width="554px">
					<tr align="#{applicationData.pageAlignment}">
						<td width="554px" align="#{applicationData.pageAlignment}">
							<h:outputText styleClass="info_pages_text" value="#{msgs['transactions.reverseClick']}"/>
							<a class="general_link_10_active" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"><h:outputText value="#{msgs['transactions.reverseHere']}"/></a>&#160;
							<h:outputText styleClass="info_pages_text" value="#{msgs['transactions.reverseToReverse']}"/>
						</td>
					</tr>
				</table>
			</h:panelGroup>
		</h:panelGroup>
 	</td>
 </tr>
</table>

</ui:define>
</ui:composition>

</html>


