 <f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


    <h:form id="dinersForm">

        <h:inputHidden value="#{visit.generate}" />
        <h:inputHidden value="#{visit.saveToken}" />

        <table cellpadding="0" cellspacing="0" width="540px" border="0">
            <tr>
                <td walign="center">
                        <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf"
                                                    target="_top" id="newCardLink" class="general_link_blue_10" >
                                <h:outputText value="#{msgs['box.profitline.arrow']}"/>&#160;<h:outputText value="#{msgs['header.add.new.cc']}"/>
                        </h:outputLink>
                </td>
            </tr>
        </table>
        <br/>
        <img src="#{applicationData.imagesPath}/creditcards.gif" border="0" height="42px" width="125px"/>
       
        <h:panelGrid columns="1" >
            <h:panelGroup rendered="#{commonUtil.hasMessages}"  width="100%">
                <t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages" style="font-size:11px;"/>
            </h:panelGroup>
        </h:panelGrid>
    </h:form>
</f:view>