<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['deposit.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="eft" />
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="content">
	<div class="full_reg_holder ml10">
		<div class="clear mb20">
			<img src="#{applicationData.imagesPath}/eft.gif"/>
			<span class="deposit_title">Yurtiçi Eşzamanlı Banka Havalesi</span>
		</div>
		<ui:include src="/jsp/pages/eft_content.xhtml" >
			<ui:param name="paymentType" value="2" />
		</ui:include>
		<a class="deposit_other_FM_link" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/paymentMethodSelector.jsf"><h:outputText value="#{msgs['CMS.newCardContent.text.otherfundingmethods']}" /></a>
	</div>
</ui:define>
</ui:composition>

</html>