<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<TABLE cellpadding="0" cellspacing="0" width="550px" border="0">
	<tr>
		<td align="#{applicationData.pageAlignment}">
			<div style="width:400px; text-align:#{applicationData.pageAlignment};">
				<p class="pages_text" >

					Línea Abierta es un servicio de banca a distancia, disponible las 24 horas del día,  todo el <br/>
					año. Es rápido, confidencial y seguro.<br/>
					Está  garantizado por el primer servicio antifraude de España (CaixaProtect®,) Nuestros <br/>
					clientes en España ahora podrán realizar sus depósitos utilizando su cuenta Línea <br/>
					Abierta y sus fondos serán acreditados en su cuenta en minutos.<br/>
					<br/>
					Para depositar en su cuenta Anyoption, ingrese desde su cuenta Línea Abierta y realice <br/>
					la transferencia en Euros a la cuenta de aparece a continuación. Es importante que <br/>
					incluya su Código de referencia a continuación para asegurar un depósito rápido<br/>
					y efectivo.	Si tuviera algún inconveniente o pregunta, por favor, comuníquese con <br/>
					nuestro equipo de Atención al Cliente.<br/><br/>
					<br/>
				</p>
			</div>
		</td>
	</tr>
	<tr align="center">
		<td>
			<table width="400" class="boxborder" bgcolor="#e9e9e9" cellpadding="5" style="font-family:Verdana, Geneva, sans-serif; font-size:10px;"  >
	        <tr>
	        	<td width="25px">&#160;</td>
	        	<td bgcolor="#e9e9e9" align="#{applicationData.pageAlignment}">
		            <font style="color:#093755;">¡Es esencial que indiques tu referencia<font style="color:#0284d6;"> <strong> #{user.envoyUserReference} </strong></font><br/>
		            en la transferencia bancaria para evitar retrasos!</font>
				</td>
	        </tr>
			</table>
		</td>
	</tr>
	<tr><td>&#160;</td></tr>
	<tr>
		<td>
			<table width="500" cellpadding="5" style="font-family:Verdana, Geneva, sans-serif; font-size:10px;"  >
			<tr>
				<td width="100px">&#160;</td>
	          	<td ><strong>Número de cuenta:</strong> 2100-306052-0700068983<br/>
		            <strong>Divisa:</strong> Euro<br/>
		            <strong>IBAN:</strong> ES45 2100 3060 5207 0006 8983<br/>
		            <strong>SWIFT:</strong> CAIXESBBXXX<br/>
	          	</td>
			</tr>
			<tr><td>&#160;</td></tr>
			</table>
		</td>
	</tr>
	<tr>
	  	<td align="#{applicationData.pageAlignment}">
			<div style="width:500px; text-align:#{applicationData.pageAlignment};">
				<p class="pages_text" >
					Para ingresar a su cuenta Línea Abierta ahora, haga click <a border="0" class="general_link_blue_10" href="http://portal1.lacaixa.es/External/link_to/LO/linea_abierta_esp.html" target="_blank"><h:outputText value="aquí"/></a>
					<br/>
					Para mayor información comuníquese con nuestros representantes:	<a border="0" class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"><h:outputText value="#{msgs['rightnav.contact']}"/></a>
				</p>
			</div>
		</td>
	</tr>
	</TABLE>
	
</f:view>
