<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

    <ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
		<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
		</ui:define>
		<ui:define name="header">
		<h:outputText value="#{msgs['header.title']}"/>
		</ui:define>

		<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
		<ui:define name="title_message">
			<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
		</ui:define>

		<ui:define name="footerMsg">
		<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
		</ui:define>
		<ui:define name="menuSet">
			<c:set var="td" value="deposit" />
			<c:set var="std" value="deltaPay" />
		</ui:define>
		<ui:define name="showDeposit">
			<c:set var="showDeposit" value="true" />
		</ui:define>
		<ui:define name="content">
			<ui:include src="/jsp/pages/cupDepositContent.xhtml"/>
			<c:if test="${applicationData.isLive}">							
					<c:if test="${applicationData.skinId == 8 || applicationData.skinId == 9 || applicationData.skinId == 5}">
						<!--Full Registration Pixel 
						PIXEL-11282012-627 
						Activity Name: AnyOption-Step-Conversion
						DataXu tag:-->
						<img src="https://securetags.w55c.net/rs?id=b8134e388b9542baaa5ee018999e1dc8&amp;t=cart&amp;sku=$SKUS" />
					</c:if>
				
					<c:if test="${user.affiliateKey == '654934'}">
						<!-- TradeDoubler registration -->
						<script type="text/javascript">
							var tduid = '#{applicationData.tradeDoublerUIDCookie}';
							var leadNumber = '#{user.id}';
							if ('' != tduid) {  // user has cookie
								var reportInfo = escape(reportInfo);
								document.write(unescape("%3Cimg src='https://tbl.tradedoubler.com/report?organization=1515642&amp;event=204522&amp;leadNumber="+leadNumber+"&amp;tduid="+tduid+"' height='1' width='1' border='0' %3E%3C/img%3E"));
							}
						</script>
					</c:if>	
					<c:if test="${user.isFirstTimeRegister}">
						<c:if test="${user.affiliateKey == '654934'}">
							<!-- TradeDoubler registration -->
							<script type="text/javascript">
								var tduid = '#{applicationData.tradeDoublerUIDCookie}';
								var leadNumber = '#{user.id}';
								if ('' != tduid) {  // user has cookie
									var reportInfo = escape(reportInfo);
									document.write(unescape("%3Cimg src='https://tbl.tradedoubler.com/report?organization=1515642&amp;event=204522&amp;leadNumber="+leadNumber+"&amp;tduid="+tduid+"' height='1' width='1' border='0' %3E%3C/img%3E"));
								}
							</script>
						</c:if>
					</c:if>					
			</c:if>		
		<c:if test="${applicationData.isLive}">
			<h:outputText value="#{user.setFirstTimeRegister}" />
			<h:outputText value="#{user.registrationPixel}" escape="false" />
			<h:outputText value="#{user.registrationAffiliatePixel}" escape="false" />
			<h:outputText value="#{user.registrationSubAffiliatePixel}" escape="false" />
		</c:if>
		</ui:define>
	</ui:composition>
</html>