<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['deposit.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:if test="${transaction.paymentTypeId == '3'}" >  <!-- Giropay -->
		<c:set var="std" value="giropay" />
	</c:if>
	<c:if test="${transaction.paymentTypeId == '2'}" >  <!-- direct24 -->
		<c:set var="std" value="direct24" />
	</c:if>
	<c:if test="${transaction.paymentTypeId == '4'}" >  <!-- EPS -->
		<c:set var="std" value="eps" />
	</c:if>
</ui:define>
<ui:define name="content">

	<TABLE cellpadding="0" cellspacing="5" width="714px" border="0" align="center">
	 <tr>
	  <td align="center">
   		<br/>
    	<h:panelGroup>
    		<p class="info_pages_text_header" align="center" >
				Nach Bestätigung Ihrer Bank wird der Betrag Ihrem Konto gutgeschrieben
    		</p>
      </h:panelGroup>
    </td>
  </tr>
</TABLE>

</ui:define>
</ui:composition>

</html>
