
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<HEAD>
	<title>#{msgs['investments.print.title']}</title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
function getToday(dateArg){

  var date = new Date(dateArg);
  var year = date.getYear();
  var retVal = "";
  if(year &lt; 1000)
  	   year+=1900;

/*  var curHour = date.getHours();
  var curMin = date.getMinutes();
  var curSec = date.getSeconds();


  retVal= ((curHour &lt; 10) ? "0" : "") + curHour + ":" + ((curMin &lt; 10) ? "0" : "") + curMin + " ";
*/

  retVal+= date.getDate() + "." +(date.getMonth()+1)+ "." + year;

	document.write(retVal);
}
</script>
</HEAD>


<BODY dir="#{applicationData.pageDirection}" align="center" onload="window.print();window.close()">

<f:view locale="#{applicationData.userLocale}">

    <h:panelGroup>

    <h:panelGrid columns="1" border="0" width="100%">

   	   <h:graphicImage align="center" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printaccnt.jpg" style="border:none;"  />

		<h:outputText align="left" styleClass="lable_text" escape="false" value="#{investmentsPrintForm.printTopText}" />
		
	 	<h:panelGrid columns="1" border="0" width="100%" >

			  <t:dataTable id="data"
			   		styleClass="scrollerTable"
	                headerClass="standardTable_SortHeader"
                	footerClass=""
                	rowClasses="standardTable_Row1,standardTable_Row2"
                	columnClasses="standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column"
	                var="v"
    	            value="#{investmentsList.list}"
        	        preserveDataModel="false"
            	    rows="0"
                	renderedIfEmpty="false"
	                cellpadding="0"
    	            cellspacing="1"
    	            rendered="#{facesContext.externalContext.requestParameterMap['isBinary'] != 1}"
	           >

				<h:column>
        	   		<f:facet name="header">
				           <h:outputText value="#{msgs['investments.id']}"/>
          	 		</f:facet>
                	<h:outputText value="#{v.id}" />
				</h:column>

          		<h:column >
                	<f:facet name="header">
  			 		 	   <h:outputText value="#{msgs['investments.marketname']}"/>
               		</f:facet>
               		<h:outputText dir="ltr" value="#{v.marketName}" />
           		</h:column>

           		<h:column>
               		<f:facet name="header">
	                   	   <h:outputText value="#{msgs['investments.typelevel']}"/>
               		</f:facet>
               		<h:outputText value="#{v.currentLevelTxt} #{v.typeName}" />
           		</h:column>

				<h:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 1}">
               		<f:facet name="header">
				           	<h:outputText value="#{msgs['investments.closinglevel']}"  />
               		</f:facet>
               		<h:outputText value="#{v.closingLevelTxt}" rendered="#{!v.isOneTouchInv &amp;&amp; !v.gmBought &amp;&amp; !v.rolledUp &amp;&amp; !v.optionPlus}" />
               		<h:outputText value="#{msgs['golden.my.inv.no.level.GM']}" rendered="#{v.gmBought}" />
               		<h:outputText value="#{msgs['golden.my.inv.no.level.RU']}" rendered="#{v.rolledUp}" />
               		<h:outputText value="#{msgs['onetouch.investment.win']}" rendered="#{v.isOneTouchInv &amp;&amp; (v.win-v.lose) &gt; 0 }" />
               		<h:outputText value="#{msgs['onetouch.investment.lose']}" rendered="#{v.isOneTouchInv &amp;&amp; (v.win-v.lose) &lt; 0 }" />
               		<h:outputText style="font-weight:bold;" value="Option+" rendered="#{v.optionPlus}" />
           		</h:column>

           		<h:column>
               		<f:facet name="header">
				           <h:outputText value="#{msgs['investments.timecreated']}"/>
               		</f:facet>
               		<h:outputText escape="false" value="#{v.timeCreatedTxt}" />
           		</h:column>

           		<h:column>
               		<f:facet name="header">
					       <h:outputText value="#{msgs['investments.expiretime']}"/>
               		</f:facet>
               		<h:outputText escape="false" value="#{v.timeEstClosingTxt}" />
           		</h:column>

           		<h:column>
               		<f:facet name="header">
				           <h:outputText value="#{msgs['investments.amount']}"/>
               		</f:facet>
               		<h:outputText value="#{v.amountTxt}" />
           		</h:column>

				<h:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 1}">
               		<f:facet name="header">
				           <h:outputText value="#{msgs['investments.refund']}" escape="false"/>
               		</f:facet>
               		<h:outputText value="#{v.refundWithBonusTxt}" />
           		</h:column>

            	<h:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 0}">
               		<f:facet name="header">
				           <h:outputText value="#{msgs['investments.refundup']}"/>
               		</f:facet>
               		<h:outputText value="#{v.refundUpTxt}" />
           		</h:column>

           		<h:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 0}">
               		<f:facet name="header">
				          <h:outputText value="#{msgs['investments.refunddown']}"/>
               		</f:facet>
               		<h:outputText value="#{v.refundDownTxt}" />
           		</h:column>
        	</t:dataTable>
        	
        	<t:dataTable id="data"
			   		styleClass="scrollerTable"
	                headerClass="standardTable_SortHeader"
                	footerClass=""
                	rowClasses="standardTable_Row1,standardTable_Row2"
                	columnClasses="standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column"
	                var="v"
    	            value="#{investmentsList.list}"
        	        preserveDataModel="false"
            	    rows="0"
                	renderedIfEmpty="false"
	                cellpadding="0"
    	            cellspacing="1"
    	            rendered="#{facesContext.externalContext.requestParameterMap['isBinary'] == 1}"
	           >

				<!-- event -->
					<h:column>
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['binary0100.downTable.event']}" />
						</f:facet>
		            	  <h:outputText  value="#{v.printBinary0100Event}" />
					</h:column>
					<!-- Opening price -->
					<h:column>
						<f:facet name="header" >
					    	<h:outputText value="#{msgs['binary0100.downTable.opening.price']}" />
						</f:facet>
						<h:outputText value="#{v.currentLevel0100} "/>
						<h:outputText rendered="#{v.typeId == 4}" value="#{investmentsPrintForm.getBinary0100BoughtText(v.getTimeCreatedTxtByFormat('HH:mm'))}" />
						<h:outputText rendered="#{v.typeId == 5}" value="#{investmentsPrintForm.getBinary0100SoldText(v.getTimeCreatedTxtByFormat('HH:mm'))}" />	               	   
					</h:column>
					<!-- closing price -->
					<t:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 1}">
						<f:facet name="header" >
					    	<h:outputText value="#{msgs['binary0100.downTable.closing.price']}" />
						</f:facet>
						<h:outputText rendered="#{v.settledBeforTime}" value="#{v.closingLevel0100} " />
						
						<h:outputText rendered="#{v.settledBeforTime &amp;&amp; v.typeId == 5}" value="#{investmentsPrintForm.getBinary0100BoughtText(v.getTimeCreatedTxtByFormat('HH:mm'))}" />
						<h:outputText rendered="#{v.settledBeforTime &amp;&amp; v.typeId == 4}" value="#{investmentsPrintForm.getBinary0100SoldText(v.getTimeCreatedTxtByFormat('HH:mm'))}" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &gt; 0}" value="100" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &gt; 0}" value=" #{v.getTimeEstClosingTxtByFormat('HH:mm')}" style="padding-left: 13px;" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &lt; 0}" value="0" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &lt; 0}" value=" #{v.getTimeEstClosingTxtByFormat('HH:mm')}" style="padding-left: 13px;" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &gt; 0}" value="100" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &gt; 0}" value=" #{v.getTimeEstClosingTxtByFormat('HH:mm')}" style="padding-left: 13px;" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &lt; 0}" value="0" />
						<h:outputText rendered="#{!v.settledBeforTime &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &lt; 0}" value=" #{v.getTimeEstClosingTxtByFormat('HH:mm')}" style="padding-left: 13px;" />
						
					</t:column>
					<!-- No. contracts -->
					<t:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 0}">
						<f:facet name="header" >
					    	 <h:outputText value="#" />
						</f:facet>
		            	<h:outputText value="#{v.investmentsCount}" />
					</t:column>
					<!-- Amount -->
					<t:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 1}">
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['golden.header.amount']}" />
						</f:facet>
		            	<h:outputText value="#{v.investmentsAmount}" rendered="#{applicationData.realCurrencyId != 6}" />
		            	<h:outputText value="#{v.investmentsAmountExcludDecimal}" rendered="#{applicationData.realCurrencyId == 6}" />
					</t:column>
					<!-- max risk -->
					<t:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 0}">
						<f:facet name="header" >
					    	<h:outputText value="#{msgs['binary0100.downTable.max.risk']}" />
						</f:facet>
						<h:outputText value="#{v.amountMaxRiskTxt}" class="bold_text" rendered="#{applicationData.realCurrencyId != 6}"/>
						<h:outputText value="#{v.amountMaxRiskTxtExcludDecimal}" class="bold_text" rendered="#{applicationData.realCurrencyId == 6}"/>
					</t:column>
					<!-- max profit -->
					<t:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 0}">
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['binary.0-100.glossary.MaxProfit.subject']}" />
						</f:facet>
						<h:outputText value="#{v.maxProfitTxt}" class="bold_text" rendered="#{applicationData.realCurrencyId != 6}"/>
						<h:outputText value="#{v.maxProfitTxtExcludDecimal}" class="bold_text" rendered="#{applicationData.realCurrencyId == 6}"/>
					</t:column>
					<!-- return -->
					<t:column rendered="#{facesContext.externalContext.requestParameterMap['isSettled'] == 1}">
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['investments.refund']}" />
						</f:facet>
						<h:outputText value="#{v.amountReturnTxt}" class="bold_text" rendered="#{applicationData.realCurrencyId != 6}" />
		            	<h:outputText value="#{v.amountReturnTxtExcludDecimal}" class="bold_text" rendered="#{applicationData.realCurrencyId == 6}" />
					</t:column>
        	</t:dataTable>
		</h:panelGrid>


	</h:panelGrid>


    </h:panelGroup>
   </f:view>

</BODY>
</html>

