<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
     >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script>
	<style>
		.hintsClass {
			font-family: arial;
			font-size: 10px;
			background-color: #708682;
			color: #FFFFFF;
			border: 1px solid #38524D;
			padding: 3px;
		}
	</style>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['investments.jsf.title']}"/>
</ui:define>
<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['header.myaccount.message']}"/></h1>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="investments" />
</ui:define>
<ui:define name="content">

<script language="JavaScript">
		var alignC = 'tlbr';
		if (skinId == 4 || skinId == 11) {   // arabic skin
			alignC = 'trbl';
		}
		// configuration variable for the hint object, these setting will be shared among all hints created by this object
		var UTC_HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : 10, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : alignC, // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : false, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};
		// text/HTML of the hints
		var UTC_HINT= [<t:dataList value="#{investmentsContainer.list}" var="v" layout="simple">
						'<h:outputText value="#{v.utcOffsetEstClosing}" />',
					   </t:dataList>];
		var utcHint = new THints(UTC_HINT,UTC_HINTS_CFG);

		// text/HTML of the hints
		var ROLLEDUP_HINT = ['<h:outputText value="#{msgs['investments.rolledUp']}" />'];
		var rolledUpHint = new THints(ROLLEDUP_HINT,UTC_HINTS_CFG);

		// roll up and GM text
		var rollUpBoughtMsg1 = "#{msgs['investments.rollUpBought1']}";
		var rollUpBoughtMsg2 = "#{msgs['investments.rollUpBought2']}";
		var GMBoughtMsg1 = "#{msgs['investments.goldenMinutes1']}";
		var GMBoughtMsg2 = "#{msgs['investments.goldenMinutes2']}";
		var GMBoughtMsg3 = "#{msgs['investments.goldenMinutes3']}";
		var optionPlusTip1 = "#{msgs['optionPlus.toolTip1']}";
		var optionPlusTip2 = "#{msgs['optionPlus.toolTip2']}";


	function setIsSettledOnLoad(){
	}

	var bonusToolTip = "#{msgs['bonus.toolTip']}";

</script>
 <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/reutersQuote.js" />
<f:verbatim>
	        <script language="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");
			</script>
 </f:verbatim>

    <t:saveState value="#{investmentsContainer}" />

<TABLE cellpadding="0" cellspacing="0" width="720" border="0" align="center">
 <tr>
  <td>

    <h:panelGroup >

	 	<h:form id="investmentsContainer">
		<ui:include src="/jsp/showOffDiv_page.xhtml" />
		<h:inputHidden id="marketGroup" value="#{investmentsContainer.marketGroup}" />
		<h:inputHidden id="selectedAssetName" value="#{investmentsContainer.selectedAssetName}" />
		<h:inputHidden id="selectedInv" value="#{investmentsContainer.selectedInv}" />
		<h:inputHidden id="showOffSentence" value="#{investmentsContainer.showOffSentence}" />
		<h:inputHidden id="showOffFacebookText" value="#{investmentsContainer.showOffFacebookText}" />
		<h:inputHidden id="showOffTwitterText" value="#{investmentsContainer.showOffTwitterText}" />
		<h:inputHidden id="lastShowOff" value="#{investmentsContainer.lastShowOff}" />

	 	<h:panelGrid columns="1" border="0" width="100%">

		<t:div style="text-align:top;">

			<h:panelGrid style="height:35px; width:700px;" styleClass="date_range_table" columns="16" rows="1">

				<input type="checkbox" name="investmentOpen" id="investmentOpen"
					onclick="document.getElementById('investmentClose').checked = !document.getElementById('investmentOpen').checked;
							 if(document.getElementById('investmentOpen').checked){
							 	document.getElementById('investmentsContainer:isSettled').value='0';}
							 else
							   {document.getElementById('investmentsContainer:isSettled').value='1';}"
					 value="0" style="vertical-align:middle" />
				<h:outputLabel class="lable_text" valign="top">#{msgs['investments.open']}</h:outputLabel>

				<input type="checkbox" name="investmentClose" id="investmentClose" class="lable_text"
					onclick="document.getElementById('investmentOpen').checked = !document.getElementById('investmentClose').checked;
						 if(document.getElementById('investmentClose').checked){
						 	document.getElementById('investmentsContainer:isSettled').value='1';}
						 else
							 {document.getElementById('investmentsContainer:isSettled').value='0';}"
				 	value="1" style="vertical-align:middle" />

				<h:outputLabel  class="lable_text" valign="top">#{msgs['investments.close']}</h:outputLabel>

				<h:inputText id="isSettled" value="#{investmentsContainer.isSettled}"  style="display:none"/>

				<h:panelGrid border="0" columns="1" width="5px"/>

		        <h:outputLabel styleClass="lable_text" for="from" value="#{msgs['investments.from']}"/>
		        <h:inputText styleClass="input #{applicationData.tlv? 'input_border' : ''}"  dir="ltr" id="from" name="from" value="#{investmentsContainer.from}"  onclick="cal.select(document.forms['investmentsContainer'].elements['investmentsContainer:from'],'#{applicationData.rtlAlign ? 'anchor1' : 'investmentsContainer:from'}','dd.MM.yy'); return false;"
			        	size="8" required="true">
					<f:convertDateTime pattern="dd.MM.yy" type="date" />
			    </h:inputText>

	       		<img style="cursor:hand;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/calendar.jpg" alt="" align="top" border="0" onClick="cal.select(document.forms['investmentsContainer'].elements['investmentsContainer:from'],'#{applicationData.rtlAlign ? 'anchor1' : 'investmentsContainer:from'}','dd.MM.yy'); return false;" TITLE="" NAME="anchor1" ID="anchor1"/>

				<t:message  id="fromError" for="from" replaceIdWithLabel="true" styleClass="error_messages"/>

				<h:inputText styleClass="input #{applicationData.tlv? 'input_border' : ''}" dir="ltr" id="to" name="to" value="#{investmentsContainer.to}" maxlength="10" size="8" required="true" onclick="cal.select(document.forms['investmentsContainer'].elements['investmentsContainer:to'],'#{applicationData.rtlAlign ? 'anchor2' : 'investmentsContainer:to'}','dd.MM.yy'); return false;">
		        	 <f:convertDateTime pattern="dd.MM.yy"/>
			    </h:inputText>

	       		<img style="cursor:hand;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/calendar.jpg" alt="" align="top" border="0" onClick="cal.select(document.forms['investmentsContainer'].elements['investmentsContainer:to'],'#{applicationData.rtlAlign ? 'anchor2' : 'investmentsContainer:to'}','dd.MM.yy'); return false;" TITLE="" NAME="anchor2" ID="anchor2"/>

	       		<t:message  id="toError" for="to" replaceIdWithLabel="true" styleClass="error_messages"/>


				<c:if test="${applicationData.rtlAlign}">
				<h:panelGrid columns="2" onclick="showAssetListMyInv(this,'#{applicationData.skinId}');" style="cursor:pointer" >
					<t:div style="width:110px;padding-top:1px;direction:ltr" styleClass="input_table_border" onclick="showAssetListMyInv(this,'#{applicationData.skinId}');">
						<h:outputLabel border="0" id="selectedAssetNameDisplay" escape="false" dir="rtl" disabled="true"  value="#{investmentsContainer.selectedAssetName}"/>
					</t:div>
			        	<img id="arrowDown" style="cursor:pointer" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/menu_arrow.gif" onclick="showAssetListMyInv(this,'#{applicationData.skinId}');"/>
				</h:panelGrid>
				</c:if>
				<c:if test="${!applicationData.rtlAlign}">
				<h:panelGrid columns="3" width="130px" onclick="showAssetListMyInv(this,'#{applicationData.skinId}');" style="cursor:pointer" >
					<img id="assetListOpenBy" src="#{applicationData.imagesPath}/1px.png" />
					<t:div style="width:110px;padding-top:1px" styleClass="input_table_border" onclick="showAssetListMyInv(this,'#{applicationData.skinId}');">
						<h:outputLabel border="0" id="selectedAssetNameDisplay" escape="false" disabled="true"  value="#{investmentsContainer.selectedAssetName}"/>
					</t:div>
			        	<img id="arrowDown" style="cursor:pointer" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/menu_arrow.gif" onclick="showAssetListMyInv(this,'#{applicationData.skinId}');"/>
				</h:panelGrid>
				</c:if>

				<h:panelGrid columns="1" width="1px" />
	   		    <t:commandButton
	         		id="button"
	         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
	         		onmouseover="Changepic('investmentsContainer:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
	         		onmouseout="Changepic('investmentsContainer:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
					onclick="gowait('investmentsContainer:button','investmentsContainer:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
						return myfaces.oam.submitForm('investmentsContainer','investmentsContainer:hiddenbtn');" >
				</t:commandButton>
	         	<h:commandLink action="#{investmentsContainer.updateList}"
	         		id="hiddenbtn" style="display:none" />
			</h:panelGrid>

			 <br/>

			</t:div>
			<h:panelGrid rendered="#{investmentsList.size==0}" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" >
			 	<h:panelGrid align="center" columns="1" border="0" >
			 		<h:outputText styleClass="pages_text" value="#{msgs['investments.emptylist']}" />
		 		</h:panelGrid>
		   	</h:panelGrid>
			<h:panelGrid columns="1" border="0" width="100%" cellpadding="0" cellspacing="0">

			   	<t:dataTable id="data"
	 		        styleClass="scrollerTable"
	                headerClass="standardTable_SortHeader"
	                footerClass=""
	                rowClasses="standardTable18_Row1 ,standardTable18_Row2"
	                columnClasses="standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column"
	                var="v"
    	            value="#{investmentsList.list}"
        	        preserveDataModel="false"
            	    rows="10"
                	renderedIfEmpty="false"
	                cellpadding="0"
    	            cellspacing="1"
    	            rowIndexVar="crrInvestmentIndex"
        	        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#e1e1e1'"
					rowOnMouseOut="this.style.backgroundColor=old"
	           >

				<h:column>
        	   		<f:facet name="header" >
        		   		<t:commandLink action="#{investmentsContainer.sortList}" >
				           <h:outputText value="#{msgs['investments.id']}" />
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="id" />
				  	    </t:commandLink>
          	 		</f:facet>
                	<h:outputText value="#{v.id}" />
				</h:column>

          		<t:column style="text-align:#{applicationData.pageAlignment};" dir="ltr">
                	<f:facet name="header">
                		<t:commandLink action="#{investmentsContainer.sortList}" >
  			 		 	   <h:outputText value="#{msgs['investments.marketname']}"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="marketName" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText value="#{v.marketName}" />
           		</t:column>

           		<t:column style="text-align:#{applicationData.pageAlignment};">
               		<f:facet name="header">
               			<t:commandLink action="#{investmentsContainer.sortList}" >
	                   	   <h:outputText value="#{msgs['investments.typelevel']}"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="currentLevel" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText value="#{v.currentLevelTxt} " />
				   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" rendered="#{ v.isCallOption &amp;&amp; !v.isOneTouchInv}" />
				   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" rendered="#{!v.isCallOption &amp;&amp; !v.isOneTouchInv}" />
				   <b><h:outputText value="&#160;&#160;1T" rendered="#{v.isOneTouchInv &amp;&amp; v.marketId != 638}"/></b>
				   <h:outputText rendered="#{v.isOneTouchInv &amp;&amp; v.marketId != 638}" value="&#160;" />
               	   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up1TInv.gif" rendered="#{v.isOneTouchInv &amp;&amp; v.upInvestment}" height="10" width="10" />
				   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down1TInv.gif" rendered="#{v.isOneTouchInv &amp;&amp; !v.upInvestment}" height="10" width="10" />
           		</t:column>

           		<h:column rendered="#{investmentsContainer.isSettled==1}">
               		<f:facet name="header">
	               		<t:commandLink action="#{investmentsContainer.sortList}" >
				           	<h:outputText value="#{msgs['investments.closinglevel']}"  />
    	                   	<f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="closingLevel" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText value="#{v.closingLevelTxt}" rendered="#{!v.isOneTouchInv &amp;&amp; !v.gmBought &amp;&amp; !v.rolledUp &amp;&amp; !v.optionPlus}" />
               		<h:outputText value="#{msgs['golden.my.inv.no.level.GM']}" rendered="#{v.gmBought}" />
               		<h:outputText value="#{msgs['golden.my.inv.no.level.RU']}" rendered="#{v.rolledUp}" />
               		<h:outputText value="#{msgs['onetouch.investment.win']}" rendered="#{v.isOneTouchInv &amp;&amp; (v.win-v.lose) &gt; 0 }" />
               		<h:outputText value="#{msgs['onetouch.investment.lose']}" rendered="#{v.isOneTouchInv &amp;&amp; (v.win-v.lose) &lt; 0 }" />
               		<h:outputText style="font-weight:bold;" value="Option+" rendered="#{v.optionPlus}" />
               		<t:graphicImage value="#{applicationData.imagesPath}/reuters_quotes/levels-pop-up_icon-plus.png" rendered="#{v.haveReutersQuote &amp;&amp; !v.gmBought &amp;&amp; !v.rolledUp &amp;&amp; !v.optionPlus}" onclick="showRQHint(#{v.opportunityId});" onmouseout="rqHintOpen.hide();" style="float: right; padding-right: 10px; cursor:pointer;"/>
           		</h:column>

           		<t:column width="85px">
               		<f:facet name="header">
                   		<t:commandLink action="#{investmentsContainer.sortList}" >
				           <h:outputText value="#{msgs['investments.timecreated']}"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="timeCreated" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText escape="false" value="#{v.timeCreatedTxt}" />
           		</t:column>

           		<t:column style="width:135px">
               		<f:facet name="header" >
	               		<t:commandLink action="#{investmentsContainer.sortList}">
					       <h:outputText value="#{msgs['investments.expiretime']}"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="timeEstClosing" />
				  	    </t:commandLink>

               		</f:facet>
               		<table cellpadding="0" cellspacing="0" border="0">
               		<tr>
               			<td>
	               			<h:outputText escape="false" rendered="#{v.optionPlus || v.gmBought}" value="#{v.timeSettledTxt}" />
               				<h:outputText escape="false" rendered="#{!v.optionPlus &amp;&amp; !v.gmBought}" value="#{v.timeEstClosingTxt}" />&#160;
               			</td>
               			<td>
               				<h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/clock_ao.gif" style="cursor:pointer" onmouseover="utcHint.show(#{crrInvestmentIndex})" onmouseout="utcHint.hide()"/>
               			</td>
               		</tr>
               		</table>

           		</t:column>

           		<t:column style="width:60px;">
               		<f:facet name="header">
	               		<t:commandLink action="#{investmentsContainer.sortList}" >
				           <h:outputText value="#{msgs['investments.amount']}"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="amount" />
				  	    </t:commandLink>

               		</f:facet>
               		<h:outputText value="#{v.amountTxt}" />
           		</t:column>

           		<t:column style="width:20px;">
               		<f:facet name="header">

               		</f:facet>
               		<h:graphicImage rendered="#{v.optionPlusOpportunityTypeId}" value="#{applicationData.imagesPath}/plus_icon.png" style="cursor:pointer" onmouseover="showOptionPlusHint('#{v.optionPlusFeeTxt}')" onmouseout="rollUpHint.hide()"/>
           		</t:column>

            	<h:column rendered="#{investmentsContainer.isSettled==1}">
               		<f:facet name="header">
						<t:commandLink action="#{investmentsContainer.sortList}" >
				           <h:outputText value="#{msgs['investments.refund']}" escape="false"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="refund" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText value="#{v.refundWithBonusTxt}" /><h:outputText value="&#160;" rendered="#{v.bonusOddsChangeTypeId>0}" /><h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_star.gif" style="cursor:pointer" rendered="#{v.bonusOddsChangeTypeId>0}" width="14" height="13" onmouseover="showBonusToolTip('#{v.bonusName}')" onmouseout="hideBonusToolTip()"/>
           		</h:column>

           		<h:column rendered="#{investmentsContainer.isSettled==1}">
               		<h:graphicImage rendered="#{v.rolledUp}" value="#{applicationData.imagesPath}/RollForw_xs.gif" style="cursor:pointer" onmouseover="rolledUpHint.show('0')" onmouseout="rolledUpHint.hide()"/>
               		<h:graphicImage rendered="#{v.rollUpBought}" value="#{applicationData.imagesPath}/RollForw_xs.gif" style="cursor:pointer" onmouseover="showRollupBoughtHint('#{v.amountWithoutFeesTxt}', '#{v.insuranceAmountRUTxt}')" onmouseout="rollUpHint.hide()"/>
               		<h:graphicImage rendered="#{v.gmBought}" value="#{applicationData.imagesPath}/TakeProfit_xs.gif" style="cursor:pointer" onmouseover="showGMBoughtHint('#{v.amountWithoutFeesTxt}', '#{v.insuranceAmountGMTxt}')" onmouseout="rollUpHint.hide()"/>
           		</h:column>

           		<h:column rendered="#{investmentsContainer.isSettled==1 &amp;&amp; applicationData.skinId != 11 }">
           			<h:panelGroup rendered="#{!v.hasShowOff &amp;&amp; v.showOffAllowed &amp;&amp; v.userProfit &gt; 0 &amp;&amp; v.isCanceled==0}">
	               		<h:graphicImage
	               			value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/megaphone.gif"
							style="cursor:pointer"
							onmouseover="positionShowOffDiv(this, '#{v.showOffText}', #{v.id}, #{v.shSen}, '#{v.showOffFacebookText}', '#{v.showOffTwitterText}')"
							/>
	           		</h:panelGroup>

	           		<h:panelGroup rendered="#{v.hasShowOff}">
	               		<img id="after_#{v.id}"
	               			src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/megaphone_check.gif"
							style="cursor:pointer"
							onmouseover="positionShowOffAfterDiv(this, #{v.id}, '#{v.showOffTwitterTextEncoded}',#{v.showOffId})"
							/>
					</h:panelGroup>
           		</h:column>

            	<h:column rendered="#{investmentsContainer.isSettled==0}">
               		<f:facet name="header">
						<t:commandLink action="#{investmentsContainer.sortList}" >
				           <h:outputText value="#{msgs['investments.refundup']}" escape="false" />
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="refundUp" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText value="#{v.refundUpTxt}" /><h:outputText value="&#160;" rendered="#{v.bonusOddsChangeTypeId>0 &amp;&amp; v.typeId=='2'}" /><h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_star.gif" style="cursor:pointer" rendered="#{v.bonusOddsChangeTypeId>0 &amp;&amp; v.typeId=='2'}" width="14" height="13" onmouseover="showBonusToolTip('#{v.bonusName}')" onmouseout="hideBonusToolTip()"/>
           		</h:column>

           		<h:column rendered="#{investmentsContainer.isSettled==0}">
               		<f:facet name="header">
						<t:commandLink action="#{investmentsContainer.sortList}" >
				          <h:outputText value="#{msgs['investments.refunddown']}"/>
    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="refundDown" />
				  	    </t:commandLink>
               		</f:facet>
               		<h:outputText value="#{v.refundDownTxt}" /><h:outputText value="&#160;" rendered="#{v.bonusOddsChangeTypeId>0 &amp;&amp; v.typeId=='1'}" /><h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_star.gif" style="cursor:pointer" rendered="#{v.bonusOddsChangeTypeId>0 &amp;&amp; v.typeId=='1'}" width="14" height="13" onmouseover="showBonusToolTip('#{v.bonusName}')" onmouseout="hideBonusToolTip()"/>
           		</h:column>

        		</t:dataTable>
			</h:panelGrid>
		</h:panelGrid>

        <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

        <t:dataScroller id="scroll_1"
        	for="data"
        	fastStep="10"
	        pageCountVar="pageCount"
	        pageIndexVar="pageIndex"
	        styleClass=""
	        paginatorActiveColumnClass="paginator_active"
	        paginatorColumnClass="paginator_cols"
	        paginatorTableClass="paginator"
	        paginatorRenderLinkForActive="false"
	        paginator="true"
	        paginatorMaxPages="9"
	        immediate="true"
	        rendered="#{investmentsList.size>10}"
	        style="align:center;"
	        >
              <ui:include src="/jsp/#{applicationData.templatesDirectory}/scroller_facets.xhtml"/>
            </t:dataScroller>
        </h:panelGrid>

         <h:panelGrid width="100%" columns="2" border="0" cellspacing="0" cellpadding="0" styleClass="center_align" align="center" style="margin-top: 10px;">
              <h:commandLink onclick="window.open('investments_print.jsf?isBinary=0&amp;isSettled=#{investmentsContainer.isSettled}&amp;from=#{investmentsContainer.from.time}&amp;to=#{investmentsContainer.to.time}', 'receiptpopup', 'menubar=1,resizable=1,width=726,height=600');"
         			rendered="#{investmentsList.size > 0}"
              		value="" class="print_investments">
              </h:commandLink>
			<h:outputLink class="link_0_100" value="#{facesContext.externalContext.requestContextPath}/jsp/binary0100.jsf" target="_parent" style="vertical-align: middle; float:right;" rendered="#{applicationData.skinId != 9 &amp;&amp; applicationData.skinId != 4}">
				<h:outputText value="#{msgs['binary.0-100.option.history']}" />
			</h:outputLink>
		</h:panelGrid>


		<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;z-index:1;layer-background-color:white;"></DIV>
   	    <iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0" scrolling="No"></iframe>

		<h:panelGroup rendered="#{investmentsContainer.lastShowOff != null}">
			<script language="JavaScript">
				var e1 = document.getElementById('investmentsContainer:lastShowOff');
				if (e1 != null) {
					var e2 = document.getElementById('after_' + e1.value);
					if (e2 != null) {
						e2.onmouseover();
					}
				}
			</script>
		</h:panelGroup>
	  </h:form>

    </h:panelGroup>
   </td>
  </tr>
</TABLE>
<f:verbatim>
	<script>
		if(document.getElementById('investmentsContainer:isSettled').value== 0 ){
			document.getElementsByName('investmentOpen')[0].checked=true;
		} else {
			document.getElementsByName('investmentClose')[0].checked=true;
		}
	</script>
</f:verbatim>
	<div id="assetMyInv"  style="position:absolute;top:0; left:0; z-index:2; display: none; ">
		<ui:include src="/jsp/myInvAssetSelect.xhtml" />
	</div>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>
</ui:define>
</ui:composition>
</html>

