
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
	</ui:define>
	<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
	<ui:define name="title_message">
		<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.bankwire']}"/></h1>
	</ui:define>
	<ui:define name="footerMsg">
		<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
	</ui:define>
	<ui:define name="menuSet">
		<c:set var="td" value="withdraw" />
		<c:set var="std" value="paypal" />
	</ui:define>
	<ui:define name="showDeposit">
		<c:set var="showDeposit" value="true" />
	</ui:define>

	<ui:define name="content">

		<t:saveState value="#{payPalWithdrawForm}" />
		<t:saveState value="#{payPalWithdrawForm.transaction}" />


		<h:panelGroup width="100%" align="center">
			<h:form id="withdrawForm">
				<h:inputHidden value="#{visit.generate}" />
				<h:inputHidden value="#{visit.saveToken}" />
				<h:panelGrid border="0" cellspacing="0" cellpadding="0" columns="1" width="100%" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align">

					<h:panelGrid columns="1" cellspacing="0" cellpadding="0" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" border="0">

						<h:outputText value="#{msgs['header.paypal.withdrawal']}" styleClass="info_pages_text_header" />
						<br/>

						<h:panelGroup >
							<table cellpadding="0" cellspacing="0" border="0" width="450px" >
								<tr width="450px">
									<td width="150px" align="#{applicationData.pageAlignment}"><img SRC="#{applicationData.imagesPath}/paypal.gif" border="0" height="42px" width="125px"/></td>
									<td width="300px" align="#{applicationData.pageAlignment}"><h:outputText id="paypalDesc" escape="false" styleClass="lable_tex" value="#{msgs['paypal.method.description']}"/></td>
								</tr>
							</table>
							<br/><br/>
						</h:panelGroup>

						<h:panelGroup rendered="#{user.currencyId == 5}">
							<h:outputText styleClass="lable_text_bold" escape="false" id="currencyMsg" value="#{payPalWithdrawForm.TRYConvertionMsg}"  />
							<br/><br/>
						</h:panelGroup>

					</h:panelGrid>

		            <h:panelGrid columns="2" cellspacing="0" cellpadding="4" columnClasses="#{applicationData.pageAlignment}_align" rowClasses="#{applicationData.pageAlignment}_align" border="0">

						<h:outputLabel styleClass="new_lable" for="email" value="#{msgs['paypal.withdrawal.email']}"/>
						<h:panelGroup border="0" styleClass="" align="" style="width:415px">
			                <h:inputText dir="ltr" size="37" maxlength="50" styleClass="new_input" id="email" value="#{payPalWithdrawForm.transaction.payPalEmail}" required="true">
			                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
			                </h:inputText>
			                <h:outputLabel value="&#160;"/>
							<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>

						<h:panelGrid columns="2" border="0" width="100%" cellspacing="0" cellpading="0">
							<h:outputLabel styleClass="new_lable" for="amount" value="#{msgs['bank.wire.amount']}"/>
						   	<h:outputText align="right" rendered="#{(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
		            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
						</h:panelGrid>

			            <h:panelGroup border="0" styleClass="" align="" style="width:415px">
		      	          	<h:inputText dir="ltr" styleClass="new_input" maxlength="9" id="amount" value="#{payPalWithdrawForm.transaction.payPalWAmount}" required="true">
		 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
		                	</h:inputText>
		                	<h:outputText id="aaa" rendered="#{!((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
	            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign))}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
							<h:outputLabel value="&#160;"/>
	                    	<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error_messages"/>
		            	</h:panelGroup>

						<h:panelGrid columns="1"/>
						<t:commandButton
			         		id="button"
			         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
			         		onmouseover="Changepic('withdrawForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
			         		onmouseout="Changepic('withdrawForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
			         		onclick="gowait('withdrawForm:button','withdrawForm:hiddenWire','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
			         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenWire');" >
			         	</t:commandButton>
			         	<h:commandLink action="#{payPalWithdrawForm.insert}"
			         		id="hiddenWire" style="display:none"/>
	         	 	</h:panelGrid>

					<h:panelGroup rendered="#{withdrawForm.bonusError}" >
						<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages"/>
						<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages" escape="false"/>
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#bonusL"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>&#160;
					</h:panelGroup>

					<h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; !withdrawForm.bonusError}" >
						<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
		            </h:panelGroup>

	       		</h:panelGrid>
			</h:form>
		</h:panelGroup>

	</ui:define>
</ui:composition>

</html>
