<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
	</ui:define>

	<ui:define name="header">
		<h:outputText value="#{msgs['header.title']}"/>
	</ui:define>

	<ui:define name="title">#{msgs['header.myaccount']}</ui:define>

	<ui:define name="title_message">
		<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
	</ui:define>

	<ui:define name="footerMsg">
		<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
	</ui:define>

	<ui:define name="menuSet">
		<c:set var="td" value="deposit" />
		<c:set var="std" value="paypal" />
	</ui:define>

	<ui:define name="content">
		<h:panelGroup rendered="#{transaction.statusId == 2}"> <!-- succeed -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/receipt.jsf";
			</script>
		</h:panelGroup>

		<TABLE cellpadding="0" cellspacing="5" width="714px" border="0" valign="middle">
			<tr>
				<td align="#{applicationData.pageAlignment}">
					<h:outputText styleClass="error_messages" value="#{msgs['error.paypal.deposit']}"/>
				</td>
			</tr>
			<tr>
				<td align="#{applicationData.pageAlignment}">
					<ui:include src="/jsp/pages/payPalDepositContent.xhtml"></ui:include>
				</td>
			</tr>
		</TABLE>

	</ui:define>
</ui:composition>
</html>