<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:c="http://java.sun.com/jsp/jstl/core"
	      xmlns:t="http://myfaces.apache.org/tomahawk">
	
	<c:choose>
	    <c:when test="${userRegulation.userInDepositStep or userRegulation.redirectAfterRegMandQuest}">
	       <ui:include src="/jsp/pages/mandatory_questionnaire.xhtml"/>
	    </c:when>
	    <c:when test="${userRegulation.shouldShowOptionalQuestionnaire}">
			<ui:include src="/jsp/pages/optional_questionnaire.xhtml"/>
	    </c:when>
	    <c:when test="${userRegulation.suspended}">
			<ui:include src="/jsp/pages/questionnaire_error_page.xhtml"/>
	    </c:when>
	</c:choose>
	
	<ui:remove><c:if test="${userRegulation.userInDepositStep or userRegulation.redirectAfterRegMandQuest}">
		<ui:include src="/jsp/pages/mandatory_questionnaire.xhtml"/>
	</c:if>
	
	<c:if test="${userRegulation.shouldShowOptionalQuestionnaire and !userReeMandQuest}">
		<ui:include src="/jsp/pages/optional_questionnaire.xhtml"/>
	</c:if>
	
	<c:if test="${userRegulation.suspended}">
		<ui:include src="/jsp/pages/questionnaire_error_page.xhtml"/>
	</c:if>
	</ui:remove>

</f:view>
