
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="withdraw" />
	<c:set var="std" value="withdrawalMoneta" />
</ui:define>
<ui:define name="content">

	<ui:include src="/jsp/pages/withdraw_approve_content.xhtml"/>
</ui:define>
</ui:composition>

</html>
