
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<t:saveState value="#{withdrawForm}" />

<TABLE cellpadding="3" cellspacing="0" width="714px" border="0">
 <tr align="#{applicationData.pageAlignment}">
  <td>

    <h:panelGroup>

        <h:form id="withdrawForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />
			<h:panelGrid columns="1" border="0" columnClasses="center_align">
	            <h:panelGrid columns="1" border="0" columnClasses="#{applicationData.columnClassesDirectionReverse}" align="left">
   		            <h:outputText escape="false" styleClass="info_messages_normal" value="#{withdrawForm.approveMessage}"      rendered="#{withdrawForm.regularWithdrawal}" />
		            <h:outputText escape="false" styleClass="info_messages_normal" value="#{withdrawForm.ccApproveMessage}" rendered="#{withdrawForm.ccWithdrawal}" />
		            <h:outputText escape="false" styleClass="info_messages_normal" value="#{withdrawForm.envoyApproveMessage}" rendered="#{withdrawForm.envoyWithdrawal}" />
		            <h:outputText escape="false" styleClass="info_messages_normal" value="#{withdrawForm.webMoneyApproveMessage}" rendered="#{withdrawForm.webMoneyWithdrawal}" />
					<br/>
	   	            <h:outputText styleClass="info_messages" value="#{msgs['withdraw.approve.question']}"/>
				</h:panelGrid>
				<h:panelGrid columns="1" cellpadding="0" cellspacing="0"  border="0" >
					<h:panelGrid columns="1" cellpadding="0" cellspacing="0" border="0" >
		     	        <h:panelGroup>
							<t:commandButton
				         		id="cancellink"
				         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_u.jpg"
				         		onmouseover="Changepic('withdrawForm:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_d.jpg')"
				         		onmouseout="Changepic('withdrawForm:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cancel_u.jpg')"
				         		onclick="gowait('withdrawForm:cancellink','withdrawForm:hiddencancel','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
				         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddencancel');" >
				         	</t:commandButton>

							&#160;&#160;&#160;&#160;
				         	<t:commandButton
				         		id="savelink"
				         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg"
				         		onmouseover="Changepic('withdrawForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_d.jpg')"
				         		onmouseout="Changepic('withdrawForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg')"
				         		onclick="gowait('withdrawForm:savelink','withdrawForm:hiddensave','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
				         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddensave');" >
				         	</t:commandButton>

					    </h:panelGroup>
		 	        </h:panelGrid>
		 	        <h:commandLink action="#{withdrawForm.approveWithdraw}" id="hiddensave" style="display:none"/>
		 	        <h:commandLink action="#{withdrawForm.notApproveWithdraw}" id="hiddencancel" style="display:none"/>
				</h:panelGrid>


			</h:panelGrid>
            </h:form>

    </h:panelGroup>
  </td>
 </tr>
</TABLE>

</html>
