<f:view
 		xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
  		xmlns:h="http://java.sun.com/jsf/html"
  		xmlns:t="http://myfaces.apache.org/tomahawk"
  		xmlns:c="http://java.sun.com/jsp/jstl/core"
       >

       <div id="certificate_ru">
            <div class="ct_img_ru_nd">
            	<h:graphicImage id="certificatePicture" style="cursor: pointer;" align="center"  width="141" height="55" onclick="cert_pop_up();"  url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/logo_certificate_home-page_ru.png" border="0"  />
            </div>
            <div class="text_nd">
            	<!-- TODO: insert message -->
	            <h:outputText value="#{msgs['anyoption.certicte.info']}" escape="false"/>
	            <br/>
            	<span style="color:#0284D8;">
            		<h:outputText id="readmore_certificate" style="text-decoration: none;cursor: pointer;" border="0" onclick="cert_pop_up();" value="#{msgs['box.readmore']}" /> »
            	</span>
	        </div>
		</div>

</f:view>