<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="176px" align="#{applicationData.pageAlignment}">
	<tr>
		<c:set var="class" value="myAccount_menu_stripe_link_10"/>
		<c:set var="classArrow" value="not_visible"/>
		<c:if test="${std=='cards'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
			<c:set var="classArrow" value="visible"/>
		</c:if>

		 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
		 <td valign="middle" class="myAccount_menu_sub_td">
		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
												target="_top" class="${class}" >
					<h:outputText value="#{msgs['header.creditcards']}"/>
			</h:outputLink>
	    </td>
	</tr>

	<c:if test="${applicationData.haveDirect24Option &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='direct24'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td  valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/direct24.jsf"
						target="_top" class="${class}" >
					<h:outputText value="#{msgs['payment.type.direct24']}"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>

	<c:if test="${applicationData.haveGiropayOption &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='giropay'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/giropay.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['payment.type.giropay']}"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>

	<c:if test="${applicationData.haveEpsOption &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='eps'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td  valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/eps.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['payment.type.eps']}"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>

	<c:if test="${applicationData.haveEnvoyBankSpainOption &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='envoySpainBank'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyBankSpain.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['header.envoy.linea.abierta']}"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>

	<c:if test="${applicationData.haveEnvoyBankMexicoOption &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='envoy'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyBankMexico.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['payment.type.hsbc']}"/>
				</h:outputLink>
		    </td>
		</tr>
	</c:if>

	<c:if test="${applicationData.haveWebmoneyOption}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='webMoney'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			 	<h:panelGroup rendered="#{user.currencyId != 6}">
				    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositWebMoney.jsf"
														target="_top" class="${class}" >
							<h:outputText value="#{msgs['payment.type.web.money']} (мин.: #{applicationData.minFirstDeposit})"/>
					</h:outputLink>
				</h:panelGroup>
				<h:panelGroup rendered="#{user.currencyId == 6}">
					<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/webMoney.jsf"
														target="_top" class="${class}" >
							<h:outputText value="#{msgs['payment.type.web.money']} (мин.: #{applicationData.minFirstDeposit})"/>
					</h:outputLink>
				</h:panelGroup>
		    </td>
		 </tr>
	</c:if>

	<c:if test="${applicationData.haveMonetaOption &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='MONETA'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositMoneta.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['payment.type.moneta']} (мин.: #{applicationData.minFirstDeposit})"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>

	<c:if test="${applicationData.haveEnvoyOption}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='envoy'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDeposit.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['header.envoy']}"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>
	
	<c:if test="${applicationData.haveUkashOption &amp;&amp; user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='ukash'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/ukash.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['header.ukash']}"/>
				</h:outputLink>
		    </td>
		</tr>
	</c:if>

	<tr>
		<c:set var="class" value="myAccount_menu_stripe_link_10"/>
		<c:set var="classArrow" value="not_visible"/>
		<c:if test="${std=='wireDeposit'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
			<c:set var="classArrow" value="visible"/>
		</c:if>

		 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
		 <td  valign="middle" class="myAccount_menu_sub_td">
		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wireDeposit.jsf"
												target="_top" class="${class}" >
					<h:outputText value="#{msgs['header.wire']}"/>
			</h:outputLink>
	    </td>
	</tr>

	<h:panelGroup rendered="#{user.currencyId != 6}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='moneybookers'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>
			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/moneybookers.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['header.moneybookers']}"/>
				</h:outputLink>
		    </td>
		</tr>
	</h:panelGroup>
	
	<c:if test="${user.currencyId == 7}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='deltaPay'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deltaPayDeposit.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['transaction.deltapay.deposit']}"/>
				</h:outputLink>
		    </td>
		 </tr>
	</c:if>
</table>

</f:view>