﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:t="http://myfaces.apache.org/tomahawk"
          >
<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
<table valign="top" cellspacing="5" cellpadding="0" border="0">
<tr><td>
<table valign="top" cellspacing="5" cellpadding="0" border="0">
<tr><td>

<span class="general_link_10">

anyoption™ предоставляет своим активным клиентам возможность бесплатного пользования одной из лучших программ для технического анализа в мире - включая все функции, используемые профессиональными трейдерами. Программное обеспечение предоставляет эффективные и удобные в использовании современные коммерческие инструменты для просмотра графиков, всестороннего технического анализа и отслеживания предпочтительных базовых активов.
<br/><br/>
Бесплатное использование данного программного обеспечения доступно только для клиентов с активным счетом в системе anyoption™.
 *Чтобы воспользоваться бесплатным доступом к данному программному обеспечению (см. иллюстрацию внизу), требуется зарегистрироваться на сайте и инвестировать средства на счет.
<br/><br/>
<a href="#chartsfaq" class="general_link_blue_10">#{msgs['charts.presshere']}</a> чтобы ознакомиться с пояснениями терминов технического анализа.
</span>

<p>
<h:panelGroup rendered="#{!applicationData.activeUser}">
	<img src="#{facesContext.externalContext.requestContextPath}/images/charts_notloggedin.gif" alt="" align="top" border="0"/>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.activeUser}">
	<iframe id="FinanceChart" name="FinanceChart" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp//#{applicationData.userLocale.language}/FinanceChart.html?refresh=true" width="728" height="450" scrolling="no" ></iframe>
</h:panelGroup>
</p>


<span class="general_link_10">

Условия использования информации, предоставленной в программном обеспечении для технического анализа, регламентируются положениями <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}" class="general_link_blue_10">Общих условий</a>, размещенных на нашем сайте.
<br/><br/>
Финансовая информация, представленная на сайте, может содержать неточности, ошибки или устаревшие сведения.
anyoption™ не несет ответственности за убытки, причиненные клиенту или третьей стороне из-за использования указанной информации, и не обязана проводить регулярные обновления информации на сайте.
Клиент должен проверять размещенную на сайте информацию на надежность и соответствие своим запросам, используя надежные источники информации.
<br/><br/>
anyoption™ не несет ответственности по любым претензиям или искам, связанным с затратами,
убытками или ущербом, которые, по утверждению клиента, были вызваны использованием информации, представленной в программном обеспечении для технического анализа. Клиент несет полную ответственность и все риски, связанные с использованием вышеуказанной информации.
</span>

<br/> <a href="#" name="chartsfaq"> </a>

 <p class="text_gray_24_bold">
	Пояснения
</p>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q1',this);"><span dir="ltr">Накопление/Распределение</span></a>
<div id="q1" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span>Инерциальный индикатор, который пытается измерить спрос и предложение, определяя действия покупателей в целом – "накапливают" (покупают) или "распределяют" (продают) по определенному активу, идентифицируя расхождения между рыночной ценой и объемом торгов.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q1');"><b>X</b> Закрыть</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q3',this);"><span dir="ltr">Индекс среднего направленного движения – ADX</span></a>
<div id="q3" style="display:none; overflow:hidden; height:65px;" class="general_link_10">
<span >Индикатор, используемый в техническом анализе для определения силы превалирующего тренда. ADX измеряется по шкале от нуля до 100. Показатели ниже 20 используются для индикации слабого тренда, а показатели выше 40 указывают на сильный тренд. ADX не используется для определения направления определенного тренда, а только для измерения его силы.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q3');"><b>X</b> Закрыть</a>
</div>
<br/><br/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q2',this);"><span dir="ltr">Средний истинный диапазон – ATR</span> </a>
<div id="q2" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Средний истинный диапазон (ATR) определяет волатильность актива (тенденции движения актива в любом направлении) в течение определенного времени; это (скользящее) среднее истинного диапазона для данного периода времени.</span><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q2');"><br/><b>X</b> Закрыть</a>
</div>


<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q4',this);"><span dir="ltr">Линии Боллинджера</span></a>
<div id="q4" style="display:none; overflow:hidden; height:85px;" class="general_link_10">
<span >Линия наносится на график на расстоянии двух стандартных отклонений от простого скользящего среднего. Так как среднее квадратическое отклонение является мерой волатильности, то линии Боллинджера самостоятельно подстраиваются к условиям рынка. Когда рынок становится более волатильным, линии удаляются друг от друга (отодвигаются от средней), а в менее волатильные периоды линии сближаются (приближаются к среднему). Сближение линий часто используется техническими трейдерами в качестве раннего индикатора резкого увеличения волатильности на рынке.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q4');"><b>X</b> Закрыть</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q5',this);"><span dir="ltr">Индекс товарного канала – CCI</span></a>
<div id="q5" style="display:none; overflow:hidden; height:75px;" class="general_link_10"><span >Этот индикатор в техническом анализе помогает определить, когда инвестиционный канал был перекуплен или перепродан путем измерения отношения между ценой актива, скользящей средней цены актива и нормальных отклонений от среднего значения.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q5');"><b>X</b> Закрыть</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q7',this);"><span dir="ltr">Осциллятор бестрендовой цены – DPO</span> </a>
<div id="q7" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Осциллятор бестрендовой цены (DPO) – это индикатор, который позволяет рассмотреть характер цены без влияния на нее долгосрочных циклов. Оставляя для расчета краткосрочные тренды, индикатор обеспечивает мгновенное и эффективное определение уровня перекуплености/перепроданности.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q7');"><b>X</b> Закрыть</a>
</div>


<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q6',this);"><span dir="ltr">Индекс направленного движения – DMI</span></a>
<div id="q6" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Индикатор, разработанный Дж. Уоллесом Уайлдером, для выявления наличия определяемого тренда в текущем инструменте. Тем самым, DMI сообщает – имеет ли данный инструмент тренд или нет.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q6');"><b>X</b> Закрыть</a>
</div>



<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q8',this);"><span dir="ltr">Экспоненциальная скользящая средняя – EMA</span>  </a>
<div id="q8" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >Это тип скользящей средней, похожей на простую скользящую среднюю, за исключением того, что последним данным придается больший вес. Также известна как "экспоненциально взвешенная скользящая средняя".</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q8');"><b>X</b> Закрыть</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q9',this);"><span dir="ltr">Конверты (трейдинговые линии)</span></a>
<div id="q9" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >Конверт состоит из двух скользящих средних. Одно скользящее среднее смещается вверх, а другое – вниз. Конверты определяют верхнюю и нижнюю границы нормального разброса цен на актив. Сигнал к продаже генерируется при достижении активом верхней линии, а к покупке – нижней линии. Оптимальный процентный сдвиг зависит от волатильности актива - чем больше волатильность, тем больше процент.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q9');"><b>X</b> Закрыть</a>
</div>


<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q10',this);"><span dir="ltr">Веер Фибоначчи</span></a>
<div id="q10" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >Графическое средство, состоящее из трех диагональных линий, которое использует отношения Фибоначчи для помощи в идентификации уровней поддержки и сопротивления.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q10');"><b>X</b> Закрыть</a>
</div>

<BR/><BR/>
<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q12',this);"><span dir="ltr">Уровни коррекции Фибоначчи</span></a>
<div id="q12" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Термин, используемый в техническом анализе, который рассматривает вероятность того, что определенное значение цены на данный актив при приближении к нему курса будет препятствием для дальнейшего продвижения в уровнях коррекции Фибоначчи, оказывающих сопротивление или поддержку.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q12');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q11',this);"><span dir="ltr">Индикатор линейной регрессии</span></a>
<div id="q11" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >Индикатор линейной регрессии основан на тренде цены актива, рассматриваемом на протяжении определенного периода времени. Тренд определяется вычислением линейной регрессии линии тренда. Интерпретация индикатора линейной регрессии подобна скользящей средней, но Линия регрессии более отзывчива на ценовые изменения и также создает прогноз на следующие периоды (с расчетом на завтра) в отношении сегодняшней нанесенной цены.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q11');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>



<a href="javascript:;" name="13" class="general_link_10" onmousedown="slidedownQes('q13',this);"><span dir="ltr">Схождение/расхождение скользящего среднего - MACD (экспоненциальное)</span></a>
<div id="q13" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >Инерциальный индикатор, следующий за трендом, который показывает отношение между двумя скользящими цены. MACD рассчитывается вычитанием 26-дневного экспоненциального скользящего среднего (EMA) из 12-дневного EMA. Девятидневное EMA от MACD, называемое "сигнальной линией", затем наносится сверху MACD, выступая в качестве "спускового крючка" для покупки или продажи.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q13');"><b>X</b> Закрыть</a>
</div>

<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q16',this);"><span dir="ltr">Инерция</span></a>
<div id="q16" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Степень ускорения движения цены актива или объема торгов.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q16');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>


<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q24',this);"><span dir="ltr">Параболическая система SAR (остановка и разворот)</span></a>
<div id="q24" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Параболический индикатор "остановка и разворот" (SAR) совмещает составляющие цены и времени, генерируя сигналы к покупке и продаже. Параболический индикатор SAR также является эффективным инструментом для определения места размещения стоп-приказа.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q24');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>


<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q15',this);"><span dir="ltr">Ценовый осциллятор % - PPO</span></a>
<div id="q15" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Технический индикатор инерции, показывающий отношение между двумя скользящими средними. Конечным результатом является процент, который показывает трейдеру место, где кратковременное среднее соотносится с долговременным средним.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q15');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>


<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q25',this);"><span dir="ltr">Индекс относительной силы – RSI</span></a>
<div id="q25" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >Технический индикатор инерции, сравнивающий величину недавно полученных поступлений относительно недавних убытков, чтобы попытаться определить условия перекупленности или перепроданности актива.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q25');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>

<a href="javascript:;" name="14" class="general_link_10" onmousedown="slidedownQes('q14',this);"><span dir="ltr">Скользящее среднее SMA – (простое)</span></a>
<div id="q14" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >Простое или арифметическое, скользящее среднее, которое рассчитывается сложением цены закрытия актива в течение нескольких временных периодов, и затем делением полученной суммы на число временных периодов. Краткосрочные средние быстро отвечают на изменения в цене базового актива, а долгосрочные – медленнее. Скользящие средние, в общем, используются для измерения инерции и определения областей возможной поддержки и сопротивления.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q14');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q17',this);"><span dir="ltr">Индикатор скорости изменения цены – ROC</span></a>
<div id="q17" style="display:none; overflow:hidden; height:65px;" class="general_link_10">
<span >Технический индикатор, который измеряет относительное изменение между самой последней ценой и ценой и периодами в прошлом. Многие трейдеры используют значение выше нуля для индикации увеличения растущей инерции, а значение меньше нуля – для индикации повышения наплыва предложений на продажу.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q17');"><b>X</b> Закрыть</a>
</div>
<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q18',this);"><span dir="ltr">Медленный стохастический (осциллятор)</span></a>
<div id="q18" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >Технический индикатор инерции, который сравнивает цену закрытия актива, с ценовым диапазоном за определенный период времени. В основе этого индикатора лежит теория о том, что в рынке с повышающимся трендом цены стремятся закрываться около верхних значений, а в рынке с понижающимся трендом цены они стремятся закрываться около нижних значений.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q18');"><b>X</b> Закрыть</a>
</div><BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q19',this);"><span dir="ltr">Окончательный осциллятор</span></a>
<div id="q19" style="display:none; overflow:hidden; height:60px;" class="general_link_10">
<span >Технический индикатор, который измеряет давление со стороны покупок или продаж по трем различным периодам и вычисляет среднее по этим периодам значение с целью снижения волатильности и уменьшения числа ложных сигналов к покупке/продаже, вызванных тем, что многие другие осцилляторы полагаются в основном на один временной период. Также как и в случае с RSI, этот индикатор базируется на анализе временных диапазонов, значения которых колеблются между 0 и 100.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q19');"><b>X</b> Close</a>
</div><BR/><BR/>

<a href="javascript:;" name="21" class="general_link_10" onmousedown="slidedownQes('q21',this);"><span dir="ltr">Взвешенная скользящая средняя</span></a>
<div id="q21" style="display:none; overflow:hidden; height:65px;" class="general_link_10">
<span >Тип скользящей средней, которая придает больший вес последним ценовым значениям, чем в случае с простой скользящей средней. Среднее значение вычисляется путем умножения значения цен на момент закрытия за определенный период времени на определенную позицию в ряде данных.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q21');"><b>X</b> Закрыть</a>
</div>

<br/><br/>
<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q20',this);"><span dir="ltr">Процентный диапазон Уильямса %R</span></a>
<div id="q20" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >Индикатор инерции, измеряющий уровни перекупленности и перепроданности, подобный стохастическому осциллятору. Данный индикатор, разработанный Ларри Уильямсом, сравнивает цену закрытия актива с диапазоном максимальных - минимальных цен за определенный временной период, обычно составляющий 14 дней.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q20');"><b>X</b> Закрыть</a>
</div><BR/><BR/>



<SCRIPT LANGUAGE="JavaScript" >

			try {
				url = document.location.href;
				if ( url.indexOf( "#") != -1)
				{
					var indexOfHash = url.indexOf( "#");
					var afterHash = url.substring(indexOfHash+1);

				}
				slidedown("q"+afterHash);
			} catch(err){
			//ignore
			}

</SCRIPT>
</td></tr>
</table>
</td></tr>
</table>
</f:view>


