﻿<html xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:t="http://myfaces.apache.org/tomahawk"  >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css"/>
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||            facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250"/>
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||            facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250"/>
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250"/>
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250"/>
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250"/>
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Опцион с повышенным процентом доходности и возмещения</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			Мы рады сообщить, что Вам предлагается специальная льгота: опцион с повышенным процентом доходности и возмещения.<br/><br/>

					Следующий опцион, который Вы купите, будет иметь повышенную до 100% (вместо 65% - 71%) доходность, если Ваш опцион окажется выигрышным! Кроме того, Вам предоставляется возможность на получение 45% возмещения (вместо 15%), если Ваш опцион проиграет!<br/><br/>

					Предложение действительно до <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

					Следует помнить, что получение бонуса накладывает определенные ограничения на осуществление операций по снятию средств с Вашего счета в соответствии с Общими условиями, приведенными ниже.<br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>Бонусы – Общие Условия</strong><br/>
            Бонус перечисляется на счет клиента в соответствии с условиями предложения, сделанного клиенту, например, перевод минимальной суммы на счет и/или покупка минимального количества опционов в течение определенного периода времени.<br/><br/>

				Если в условиях предложения не указано иное, предварительным условием снятия денег со счета после получения дохода, являются инвестиции на общую сумму в #{facesContext.externalContext.requestParameterMap['wageringParam']} раз больше стоимости исходного опциона, по которому была предоставлена льгота.<br/><br/>

				Компания побуждает своих клиентов принимать предложения, но воздерживаться от злоупотребления ими. Злоупотребление предложениями может привести к отказу в выплате бонуса и закрытию клиентского счета на веб-сайте Компании.<br/><br/>

				Бонусы должны использоваться в течение определенного периода времени, указанного в условиях конкретного предложения. В случае, если бонус не будет использован в течение определенного периода времени, он будет отозван со счета клиента.<br/><br/>

				После получения бонуса, клиент должен в течение 3 (трех) календарных месяцев проинвестировать в покупку опциона сумму, указанную в качестве предварительного условия для снятия заработанных средств. Если необходимый общий объем инвестиций не будет достигнут в течение этого периода, со счета клиента будут сняты средства в размере предоставленного бонуса.<br/><br/>

				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
