﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" /></h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Un'opzione a rischio zero</span><br/>

          	    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

		    		<span class="bonus_text"><strong>anyoption™</strong> vi fa un'offerta impossibile da rifiutare. Acquistate  #{facesContext.externalContext.requestParameterMap['numOfActions']} opzioni e l'opzione successiva che acquistate sarà a rischio zero! <br/> <br/> Non appena avrete investito la somma minima richiesta, potrete acquistare un'opzione Put o Call a rischio zero su qualsiasi attività sottostante a vostra scelta, per qualsiasi data di scadenza. Se l'opzione da voi selezionata scade in the money, otterrete una percentuale di rendimento garantita. <br/> <br/> Se l'opzione scade out of the money, la somma investita vi verrà restituita nella sua interezza! Non avete niente da perdere.<br/> <br/> L'offerta è valida fino al&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>. <br/> <br/></span></h:panelGroup>

    			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}"><span class="bonus_text"><strong>anyoption™</strong> vi offre un vantaggio esclusivo, un'opzione a rischio zero!<br/> <br/> Tutto ciò che dovete fare è acquistare un'opzione Put o Call su un'attività sottostante a vostra scelta, con qualsiasi data di scadenza. Se l'opzione da voi selezionata scade in the money, otterrete una percentuale di rendimento garantita.<br/> <br/> Se l'opzione scade out of the money, la somma investita vi verrà restituita nella sua interezza! Non avete niente da perdere.<br/> <br/> L'offerta è valida fino al&#160; <h:outputText value=" #{facesContext.externalContext.requestParameterMap['endDate']}"/>. <br/> <br/></span></h:panelGroup>

	            <span class="bonus_terms"><strong>“Un Investimento a Rischio Zero” – Termini Generali</strong><br/> I vantaggi si applicano a una o più opzioni, in conformità con i termini dell'offerta specifica al quale il cliente è stato invitato a partecipare.<br/> <br/> L'opzione che garantisce al cliente il diritto di ricevere il rimborso è l'opzione definita nei termini dell'offerta specifica proposta al cliente, e l'offerta deve essere piazzata entro un intervallo di tempo specifico.<br/> <br/> Il rimborso verrà fornito nel caso in cui l'opzione oggetto dell'investimento scada out of the money.<br/> <br/> I bonus non possono essere usati per investire in opzioni di tipo One Touch, Option+ o Binario 0-100.<br/> <br/> Tranne ove diversamente specificato nei termini dell'offerta, un prerequisito per il prelievo di denaro dal conto dopo aver ricevuto un bonus consiste nell'esecuzione di un investimento il cui ammontare complessivo corrisponde a #{facesContext.externalContext.requestParameterMap['wageringParam']} volte l'ammontare dell'opzione originale dalla quale ha avuto origine il bonus.<br/> <br/> La società incoraggia i clienti a partecipare alle offerte, ma ad accertarsi di non abusarne. L'abuso di un'offerta potrebbe portare all'annullamento del bonus e alla chiusura del conto del cliente sul sito Web della società.<br/> <br/> I bonus devono essere utilizzati entro il periodo definito nei dettagli dell'offerta. Nel caso in cui i bonus non vengano utilizzati nell'intervallo di tempo stabilito, la somma equivalente al valore dei bonus verrà prelevata dal conto del cliente.
	            <br/> <br/>
	            Una volta ricevuti i bonus/benefit, il cliente ha a disposizione 3‎ (tre) mesi di tempo per completare il numero totale degli investimenti richiesto come condizione indispensabile per il ritiro. Se non si è raggiunto il totale richiesto degli investimenti durante questo lasso di tempo, la società ritirerà i bonus/assegni dall'acconto del cliente a sua discrezione.
          		<br/><br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
	            </span> </td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
