<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['deposit.jsf.title']}"/>
		</ui:define>
		<ui:define name="header">
			<h:outputText value="#{msgs['header.title']}"/>
		</ui:define>
		<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
		<ui:define name="title_message">
			<h1><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
		</ui:define>
		<ui:define name="footerMsg">
			<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
		</ui:define>
		<ui:define name="showDeposit">
			<c:set var="showDeposit" value="true" />
		</ui:define>
		<ui:define name="content">
		<div class="page_bgr">
			<h:outputText  value="#{msgs['cdpay.cancel.msg']}" styleClass="info_pages_text_header" />
		    <span class="float_fix"></span>
			</div>
		</ui:define>
	</ui:composition>
</html>