<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['termsNextInvest.jsf.title']}"/>
</ui:define>

<ui:define name="title">#{msgs['title.next.invest']}</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['title.next.invest.message']}"/></h1>
</ui:define>

<ui:define name="content">
		<div class="page_bgr">
			<ui:include src="/jsp/pages/termsNextInvest_content.xhtml"/>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="supportContactus" value="true" />
				</ui:include>
			</div>
		</div>
		<span class="float_fix"></span>
</ui:define>
</ui:composition>

</html>