﻿<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>

	<div class="header_div wd">
		<a class="header_logo fL" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_top"></a>
		<table id="loginTable" align="#{applicationData.pageAlignment}" width="336px" height="70px" border="0" cellspacing="0" cellpadding="0" class="fR" style="margin-top:30px;">
	    		<tr valign="top">
					 <td width="18px" height="10px">&#160;</td>
	            	 <td width="105px" valign="middle" height="10px" style="vertical-align: bottom;">
	    				<h:outputText styleClass="header_text_new" value="#{msgs['header.loggedin.hello']}  #{user.firstName}" />
	    			</td>
	    			<td width="145px" valign="middle" height="10px" style="vertical-align: bottom;" colspan="2">
	    				<b><h:outputText escape="false" styleClass="header_text_new" value="#{msgs['header.loggedin.balance']}: " /></b><h:outputText styleClass="header_text_new" value="#{user.balanceTxt}" dir="ltr"/>
					</td>
	 				<td width="88px" height="10px">&#160;</td>
		    	</tr>
		    	<tr height="5px"></tr>
	    		<tr>
					<td width="18px" valign="bottom" height="23px"></td>
            		<td width="140px" valign="bottom" height="23px">
						<h:outputLink style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf"
							target="_top"  ><img style="vertical-align:bottom;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/myaccount.jpg"
							 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/myaccount_d.jpg'" border="0" width="91px" height="26px"
							 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/myaccount.jpg'"
							 ></img>

						</h:outputLink>
	            	</td>
	           	    <td width="100px" valign="bottom" height="20px">
						<h:outputLink rendered="#{!(user.countryId == 44 &amp;&amp; user.currencyId == 7)}" style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
							target="_top"  ><img style="vertical-align:bottom;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/deposit_u.jpg"
											 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/deposit_d.jpg'"
											 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/deposit_u.jpg'"
							border="0" width="91px" height="26px"></img>
						</h:outputLink>
						
						<h:outputLink rendered="#{user.countryId == 44 &amp;&amp; user.currencyId == 7}" style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deltaPayDeposit.jsf"
							target="_top"  ><img style="vertical-align:bottom;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/deposit_u.jpg"
											 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/deposit_d.jpg'"
											 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/deposit_u.jpg'"
							border="0" width="91px" height="26px"></img>
						</h:outputLink>
	           	    </td>
	           	    <td width="40px" align="#{applicationData.pageAlignment}" height="23px" valign="middle">
	           	    	<h:panelGroup rendered="#{user.haveNewEmails}" >
	           	    		<div id="continer" class="mailbox_continer_div" style="cursor: pointer;" onclick="window.top.location.href='#{applicationData.homePageUrl}jsp/pages/mailBox.jsf'"><div id="emailsDiv" class="mailbox_header_div">#{user.unReadEmails}</div></div>
	           	    	</h:panelGroup>
	           	    </td>
	 				<td width="91px" align="#{applicationData.pageAlignment}" valign="center" height="23px" >
						<!-- Logout -->
						<h:form id="logoutForm" style="display: inline-block;">
							<h:commandLink id="logoutLink"
											action="#{logoutForm.logout}"
											value="» #{msgs['header.loggedin.logout']}"
											styleClass="header_logout"
											target="_top"/>
							<script>
								document.getElementById('logoutForm:logoutLink').href='#{facesContext.externalContext.requestContextPath}/logout';
							</script>
						</h:form>
					</td>
		    	</tr>
				<tr valign="top"><td width="336px" height="*" colspan="5"></td></tr>
       </table>
	</div>
</f:view>