<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<t:saveState value="#{marketsListForm}" />
<script src="#{facesContext.externalContext.requestContextPath}/js/optionTypes.js"></script>
<table id="selectorAll" cellpadding="0" cellspacing="0" border="0" width="100%"  align="right">	
			<c:forEach items="${marketsListForm.returnRefunSelectorStatic}" var="SelectorAll">
				<tr  id="#{SelectorAll.selectorID}_selectors" class="hand" >
					<td align="#{applicationData.pageAlignment}">
						<span >
								<h:outputLabel  style="text-align:right"  value="#{SelectorAll.selectorID}" />
						</span>
					</td>
					<td align="#{applicationData.pageAlignment}"  id="#{SelectorAll.selectorID}_return">
						<span   id="#{SelectorAll.selectorID}_returnSpan">
								<h:outputLabel   style="text-align:right"  value="#{SelectorAll.returnSelector}"/>
						</span>
					</td>
					<td align="#{applicationData.pageAlignment}"  id="#{SelectorAll.selectorID}_refund">
						<span  id="#{SelectorAll.selectorID}_refundSpan">
								<h:outputLabel  style="text-align:right"  value="#{SelectorAll.refundSelector}"/>
						</span>
					</td>
				</tr>
			</c:forEach>
</table>

</f:view>
