<!DOCTYPE html>
<html 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<ui:insert name="cookie" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	
   	<title><ui:insert name="windowtitle"/></title>
    <meta name="keywords" content="#{msgs['anyoption.keywords']}"/>
    <c:set var="metaDesc" value="#{msgs['anyoption.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <meta name="description" content="${metaDesc}"/>
	
    <ui:insert name="showDeposit">
    	<c:set var="showDeposit" value="false" />
    </ui:insert>
    <ui:include src="/jsp/head_css_js.xhtml" />

	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}">
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
	</c:if>
	<ui:insert name="selected" />
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
	</h:panelGroup>

	<c:set var="topBanner" value="defualt"></c:set>
	<ui:insert name="topBannerChange" />
	<c:set var="contactBanner" value="defualt"></c:set>
	<ui:insert name="contactBannerChange" />

	<ui:insert name="message"></ui:insert>
	<iframe scrolling="no" id="header" style="margin:auto;display:block;" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/header.jsf" allowTransparency="true" width="970" height="110"></iframe>
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
		<ui:insert name="homePage" />
	</ui:include>
	<!-- 
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/header.xhtml" >
		<ui:param name="template_type" value="homePage" />
	</ui:include>
	-->
	
	<!-- LIVE PERSON -->
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/livePerson.xhtml" />
	
	<div class="wd">
		<c:set var="showHeaderRow" value="true" /> <!-- default -->
		<ui:insert name="showHeaderRow"></ui:insert>
		<c:if test="${showHeaderRow}">
			<div class="clear oH header_msg_h">
				<div class="header_pages fL">
					<ui:insert name="title"></ui:insert>
				</div>
				<div class="fR header_pages_secure" id="secure_table" onmouseover="ShowContentSec('secured'); return true;" onmouseout="HideContentSec('secured'); return true;">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/lock_ic.png" class="vaM"/>
					<span class="vaM" id="showHintTD"><h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/></span>
					
					<div id="secured" style="display:none; position:absolute;border-style: none;background-color: #f5f5f5;padding: 0px;">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secure.gif"/>
					</div>
				</div>
				<div class="header_pages_message fR">
					<ui:insert name="title_message"></ui:insert>
				</div>
			</div>
		</c:if>

		<c:set var="numColspan" value="4"/>
		<c:set var="tableWidth" value="921px"/>
		<c:set var="contentWidth" value="714px"/>
		<c:if test="#{showDeposit == 'true'}">
			<c:set var="numColspan" value="3"/>
			<c:set var="tableWidth" value="761px"/>
			<c:set var="contentWidth" value="554px"/>
		</c:if>

		<table height="527px" width="${tableWidth}" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td width="180px" class="my_account" valign="top">
					<ui:insert name="menuSet"></ui:insert>
					<ui:include src="/jsp/templates_zh/myaccount_menu.xhtml"></ui:include><!-- SIDE MENU   -->
				</td>
				<td width="27px">&#160;</td>
				<td width="${contentWidth}" height="502px" valign="top"> <!-- Content  -->
					<ui:insert name="content"></ui:insert>
				</td>
				<ui:insert name="russian-banner"></ui:insert>
			</tr>
		</table>
	</div>

	<!-- FOOTER -->
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />

<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:#f5f5f5; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;"/>
	<br/>
</div>
<!-- NEW FEATURES BANNER (LIVE, BINARY0-100)-->
<a id="newFeaturesPopUpThickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/fearutes2013_pop.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=728&amp;width=1031&amp;modal=true&amp;scrolling=no;" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}"> 	
	<h:panelGroup rendered="#{applicationData.showNewFeaturesPopUpLogin}"> 
		<script> 
			$(document).ready(function(){showNewFeaturesBanner();});
			function showNewFeaturesBanner() {
				setTimeout('runNewFeaturesThickBox();', 1000);
			}
		</script>
	</h:panelGroup>
</h:panelGroup>
<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/investmentPopup.jsf"/>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</f:view>
</html>
