<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		 >
<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
	<h:panelGroup rendered="#{isHomePage == 'false'}">
		<div class="fLeft the_menu">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"
					target="_top" id="registerLink" class="#{selectedTd == 'register' ? 'menu_stripe_link_active' : 'menu_stripe_link'}" >
				<h:outputText value="#{msgs['menuStrip.openaccount']}"/>
			</a>|
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
					target="_top" id="indexLink" class="#{selectedTd == 'homePage' ? 'menu_stripe_link_active' : 'menu_stripe_link'}" >
				<h:outputText value="#{msgs['menuStrip.home']}"/>
			</a>|
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
					target="_top" id="tradeLink" class="#{selectedTd == 'trade' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
				<h:outputText value="#{msgs['menuStrip.trade']}"/>
			</a>|
		</div>
	</h:panelGroup>
	<h:panelGroup rendered="#{isHomePage == 'true'}">
		<div id="noOneTouchLinkDiv">
			<div class="fLeft btn_holder3">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" target="_top" id="registerMLink">
					<div class="fLeft p1 btn3_l"></div>
					<div class="fLeft grad btn3_c">
						<div class="fLeft p1 arr"></div>
						TRADE NOW
					</div>
					<div class="fLeft p1 btn3_r"></div>
				</a>
			</div>
		</div>
		<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
			<div id="oneTouchLinkDiv" style="display: none;">
				<div class="fLeft btn_holder3">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}" target="_top" id="registerMLink2">
						<div class="fLeft p1 btn3_l"></div>
						<div class="fLeft grad btn3_c">
							<div class="fLeft p1 arr"></div>
							TRADE NOW
						</div>
						<div class="fLeft p1 btn3_r"></div>
					</a>
				</div>
			</div>
		</h:panelGroup>
		<div class="fLeft the_menu">|</div>
	</h:panelGroup>
</h:panelGroup>

<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	<div class="fLeft the_menu">
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
				target="_top" id="indexLink" class="#{selectedTd == 'homePage' ? 'menu_stripe_link_active' : 'menu_stripe_link'}" >
			<h:outputText value="#{msgs['menuStrip.home']}"/>
		</a>|
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
				target="_top" id="tradeLink" class="#{selectedTd == 'trade' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
			<h:outputText value="#{msgs['menuStrip.trade']}"/>
		</a>|
	</div>
</h:panelGroup>
<div class="fLeft the_menu">
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}"
			target="_top" id="bankingLink" class="#{selectedTd == 'banking' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText value="#{msgs['menuStrip.banking']}"/>
	</a>|
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
			target="_top" id="analysisLink" class="#{selectedTd == 'assetIndex' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText value="#{msgs['menuStrip.asset.index']}"/>
	</a>|
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
			target="_top" id="expiriesLink" class="#{selectedTd == 'pastExpiries' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText value="#{msgs['menuStrip.past.expiries']}"/>
	</a>|
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
			target="_top" id="transtLink" class="#{selectedTd == 'tradeingBoxManual' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
	</a>|
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"
			target="_top" id="faqLink" class="#{selectedTd == 'faq' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText value="#{msgs['menuStrip.faq']}"/>
	</a>|
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"
			target="_top" id="oneTouchLink" class="#{selectedTd == 'oneTouch' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText value="#{msgs['onetouch.onetouch']}"/>
	</a>|
	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}"
			target="_top" id="showOff" class="p1 show_off #{selectedTd == 'showOff' ? 'menu_stripe_link_active' : 'menu_stripe_link'}">
		<h:outputText escape="false" value="#{msgs['showOff.menu.strip']}"/>
	</a>
</div>
</f:view>