﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus"> 수익율 두배 옵션</span><br/> 

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			고객님에게 특별 보너스가 주어짐을 알려 드림니다 : 수익율 두배 옵션<br/><br/>
						
						다음에 매입 하시는 옵션은 만약 옵션이 인더머니로 만기한다면 기존의 65 -71%의 수익율 대신 그 두배인 130 -142%의 수익율을 누리 실 수 있습니다! 또한 만약 옵션이 아웃오브더머니로 만기되도 기존의 15%의 환불금 받는 보호규정이 제공 됩니다..<br/><br/>
                         
						이 제안은 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> 까지 유효합니다.<br/><br/>
						 
						아래의 이용약관에 규정된 바에 따라, 보너스 수령에 따른 고객님의 계좌에서의 출금에 규제가 적용 됨을 참고 및 주지 하시기 바람니다.<br/><br/>
					</span>   
    			</h:panelGroup> 


	            <span class="bonus_terms"><strong>보너스 – 이용약관</strong><br/> 
	            고객님의 계좌로의 보너스 입금은, 예를 들면 특정기간안에 최소금액 입금과/또는 최소금액 옵션 매수와 같이 정해진 규정을 준수 해야 하는 조건이 따름니다.
	            <br/><br/> 
				제안조건에 달리 명시되지 않는 한, 보너스 수령 후 계좌로부터의 출금에는 보너스 혜택이 제공된 최초옵션 금액의 몇 배의 총금액이 투자가 되어야 한다는 전제 조건이 따름니다. #{facesContext.externalContext.requestParameterMap['wageringParam']} 
				<br/><br/> 
				아웃오브더머니로 마감될 경우, 출금에 앞서 요구되는 최소 투자횟수 이행 의무에서 면제됩니다.
				<br/><br/>  
				 본사는 고객들이 보너스 특별행사 제안을 적극 이용 하기를 권장하나 이런 기회의 악용을 삼가 하도록 하고 있습니다. 이런 특별행사 또는 제한들의 악용은 보너스 취소와 본사 웹 사이트상의 고객님의 계좌패쇄등의 조취가 따를 수 있습니다.
				<br/><br/>    
				보너스는  특별행사 상세사항에 명시된 기간안에 사용 되어야 합니다. 명시된 기간 안에 보너스가 사용되지 않을 경우, 보너스 금액은 고객님의 계좌에서 출금되게 됩니다.
				<br/><br/> 
				보너스/특별혜택 수령 후, 출금의 전제조건으로 고객님은 3개월안에 요구되는 총금액을 투자 해야 합니다. 만약 요구되는 총금액이 이 기간 안에 투자되지 않으면, 본사는 본사의 재량권에 따라 보너스/특별혜택 금액을 고객님의 계좌로부터 출금하게 됩니다.
				<br/><br/> 
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span></td>
	        </tr>  
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
