
<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<!-- Begin Table -->
<table border="0" cellspacing="0" cellpadding="0" height="28" width="970px" class="ticker_table">
    <tr height="28px">
    	<td width="5px" height="28px"><img border="0" complete="complete" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor.jpg" height="28px" alt="" /></td>
		<td width="5px" height="28px"><img border="0" complete="complete" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor.jpg" height="28px" alt="" /></td>
		<td width="124px" valign="middle" align="center" height="28" style="cursor:pointer;">
			<h1 class="ticker_market">
	       		<a href="#{applicationData.homePageUrl}" class="ticker_market">
	       		<h:outputText value="#{msgs['ticker.our.options']}"  />
	       		</a>
	       	</h1>
		</td>
		<td width="5px"><img border="0" complete="complete" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor.jpg" height="28px" alt="" /></td>
		<td width="5px"><img  border="0" complete="complete" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor.jpg" height="28px" alt="" /></td>
		<td width="860px" valign="top">
			<iframe id="ticker" name="ticker" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/ticker.jsf" width="100%" height="28px" scrolling="no"></iframe>
		</td>
	</tr>
</table>

<!-- End Table -->
</f:view>