﻿<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk" >
<head>

  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
  <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
  <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />

<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>

<body dir="#{applicationData.pageDirection}">
<script src="#{facesContext.externalContext.requestContextPath}/js/validation.js"></script>
<script>

	//	submit form by enter
	function submitForm(e) {

		var keynum;

		if(window.event) { // IE
		  keynum = e.keyCode;
  		}
  		else if(e.which) {  // Netscape/Firefox/Opera
		  keynum = e.which;
	    }

		if (keynum == 13) {  // enter key
			document.login.submit();
	  	}
	}

try {

	// For IE6 Bug - when we try to login and we have error on user name,
	// than this code return us to http from j_security_check in https)
	if (window.location.href.indexOf("j_security_check") > -1) {
		var url_to_reload = "#{applicationData.homePageUrl}jsp/templates_2/header.jsf?error=true&amp;j_username=#{facesContext.externalContext.requestParameterMap['j_username']}";
		if(window.top.location.href.indexOf("https")>-1) {
			url_to_reload = "#{applicationData.homePageUrlHttps}jsp/templates_2/header.jsf?error=true&amp;j_username=#{facesContext.externalContext.requestParameterMap['j_username']}";
		}
		window.location.href = url_to_reload;
	 }

	if (window.top==window.self){

		   window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/index_error.jsf";

	 }

	} catch (err) {

  	  }

var lettersandnumbers = '#{msgs['CMS.header.label.error.lettersandnumbers.only']}';
var passwordSmall = '#{msgs['CMS.header.label.error.password.smallsize']}';
var usernameSmall = '#{msgs['CMS.header.label.error.username.ajaxerror']}';
var emptyfield = '#{msgs['CMS.header.label.login.error']}';

</script>

<f:view locale="#{applicationData.userLocale}">


<!-- Begin Table -->
<table width="970" height="82" border="0" cellspacing="0" cellpadding="0" class="header">
  <tr width="970" height="82">
    <td width="360" height="82" align="#{applicationData.pageAlignment}" valign="top"><a HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top" ><img style="margin-left:7px;" alt="#{msgs['CMS.header.alt.options_trading_anyoption.jpg']}" title="#{msgs['CMS.header.anyoption.title']}" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/options_trading_anyoption.jpg" border="0" /></a></td>
    <td width="250" height="82">&#160;</td>
    <td width="360" height="82" align="right" valign="top">
    	<table align="#{applicationData.pageAlignment}" width="336px" height="70px" border="0" cellspacing="0" cellpadding="0" class="header_login_table">
	    	<form METHOD="POST" NAME="login" id="login" ACTION="#{applicationData.loginUrl}" AUTOCOMPLETE="OFF" >
	    		<tr valign="top">
	    			 <td width="18px" height="15px">&#160;</td>
		             <td align="#{applicationData.pageAlignment}" height="15px" valign="middle" width="318px" colspan="3">
    	        		 #{applicationData.checkIfError} <h:outputText id="errorlogin" styleClass="error_header" /><t:message id="errorloginMsg" for="errorlogin" styleClass="error_header" />
	            	</td>
		    	</tr>
	    		<tr valign="top">
					 <td width="18px" height="10px">&#160;</td>
	            	 <td width="120px" valign="bottom" height="10px">
		        		<a class="header_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" TARGET="_top">
							 <h:outputText value="#{msgs['CMS.header.text.openaccount']}"/>
						</a>
	            	 </td>
	           	    <td width="120px" valign="bottom" height="10px">
	           	    	<a class="header_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/password.jsf')}" TARGET="_top">
							<h:outputText value="#{msgs['CMS.header.label.forgotpassword']}" />
						</a>
	           	    </td>
	 				<td width="78px" height="10px">&#160;</td>
		    	</tr>
	    		<tr valign="top">
					<td width="18px" valign="bottom" height="23px"></td>
            		<td width="120px" valign="bottom" height="23px">
	    	        		<input style="vertical-align: bottom;" class="input_header" size="15" maxlength="15" type="text" name="j_username" id="j_username" value="#{msgs['CMS.header.label.input.username']}" align="right"
	    	        			onfocus="if(this.value=='#{msgs['CMS.header.label.input.username']}') this.value=''"
								onblur= "if(this.value=='') this.value='#{msgs['CMS.header.label.input.username']}'"
								onkeydown="submitForm(event);" />
	            	</td>
	           	    <td width="120px" valign="bottom" height="23px">
	           	    	<input style="vertical-align: bottom;" class="input_header" size="15" maxlength="9" align="right" type="text" name="dummypassword" id="dummypassword" value="#{msgs['CMS.header.label.input.password']}"
								onfocus="this.style.display='none';
										document.getElementById('j_password').style.display='inline';
										document.getElementById('j_password').focus();"
										onkeydown="submitForm(event); " />

						<input style="vertical-align: bottom; display:none;" class="input_header" size="15" maxlength="9" align="right" type="password" name="j_password" id="j_password" value=""
								onblur="if(this.value==''){
										this.style.display='none';
										document.getElementById('dummypassword').style.display='inline';
								}"
								onkeydown="submitForm(event);" />
	           	    </td>
	 				<td width="78px" align="#{applicationData.pageAlignment}" valign="bottom" height="23px" >
		 				<a href="javascript:validate();" id="loginBtn" border="0" >
							<img style="vertical-align: bottom; margin-top: 7px;" hspace="8" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login.jpg" alt="#{msgs['CMS.header.alt.login.jpg']}"
							 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login_d.jpg'"
							 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login.jpg'"
							border="0" width="53px" height="17px"></img>
		 				</a>
	 				</td>
		    	</tr>
		    	<tr valign="top"><td width="336px" height="*" colspan="4"></td></tr>
            </form>
         </table>
    </td>
  </tr>
</table>
</f:view>
<!-- End Table -->
</body>
</html>