
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<h:form id="MyAccount">
<TABLE bgcolor="#ffffff" cellpadding="0" cellspacing="0" height="22px" width="702" class="myAccount_table_border" align="center">
<TR>
	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='investments'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER" valign="middle" WIDTH="80">

	    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf"
											target="_top" id="investLink" class="${class}" >
				<h:outputText value="#{msgs['header.investments']}"/>
		</h:outputLink>

    </TD>

	<TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='deposit'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER" valign="middle"  WIDTH="75">
	    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
											target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.deposit']}"/>
		</h:outputLink>
    </TD>

    <TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='withdraw'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER" valign="middle" WIDTH="75">

	    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/withdraw_selection.jsf"
											target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.withdraw']}"/>
		</h:outputLink>

	</TD>

	<TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='reversewithdraw'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER"  valign="middle" WIDTH="135">
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
											target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.reversewithdraw']}"/>
		</h:outputLink>

	</TD>

	<TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='transactions'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	<TD ALIGN="CENTER" valign="middle"  WIDTH="110">

		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/transactions.jsf"
											target="_top" id="transtLink" class="${class}" >
				<h:outputText value="#{msgs['header.transactions']}"/>
		</h:outputLink>

	</TD>

	<TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='bonuses'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER"  valign="middle" WIDTH="80">
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/bonuses.jsf"
											target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.bonus']}"/>
		</h:outputLink>

	</TD>

	<TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='personal'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER"  valign="middle" WIDTH="100">
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/personal.jsf"
											target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.personal']}"/>
		</h:outputLink>

	</TD>

	<TD ALIGN="CENTER" WIDTH="5"><span class="myAccount_menu_stripe">&#160;</span></TD>

	<c:set var="class" value="myAccount_menu_stripe_link"/>
	<c:if test="${td=='changepass'}">
		<c:set var="class" value="myAccount_menu_stripe_link_active"/>
	</c:if>

	 <TD ALIGN="CENTER" valign="middle" WIDTH="70">
		<A HREF="" TARGET="_top" class="myAccount_menu_stripe">
			<h:outputText value="" />
		</A>
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/changePass.jsf"
											target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.changepass']}"/>
		</h:outputLink>
	</TD>


</TR>
</TABLE>
</h:form>

</f:view>