<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>var skinId = #{applicationData.skinId};</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content="#{msgs['onetouch.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}" onload="changeHeaderWidth()" class="gray_background">
<f:view locale="#{applicationData.userLocale}">

<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<script>
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
</script>
<ui:insert name="selected" />
<script>
	document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};

		function changeHeaderWidth(){
		var pageStr =  document.location+'' ;
		if(
		   pageStr.indexOf('investments.jsf') > 0 ||pageStr.indexOf('deposit.jsf') > 0 ||
		   pageStr.indexOf('newCard.jsf') > 0 || pageStr.indexOf('cards.jsf') > 0 ||
		   pageStr.indexOf('wireDeposit.jsf') > 0 || pageStr.indexOf('wire.jsf') > 0 ||
		   pageStr.indexOf('reverseWithdraw.jsf') > 0 || pageStr.indexOf('transactions.jsf') > 0 ||
		   pageStr.indexOf('personal.jsf') > 0 || pageStr.indexOf('changePass.jsf') > 0 || pageStr.indexOf('contactus.jsf') > 0
		   || pageStr.indexOf('cc_delete_approve.jsf') > 0 || pageStr.indexOf('receipt.jsf') > 0
		   || pageStr.indexOf('bankWire_approve.jsf') > 0 || pageStr.indexOf('withdraw_approve.jsf') > 0
		   || pageStr.indexOf('myaccount_empty_withdrawal.jsf') > 0 || pageStr.indexOf('creditCard_withdraw.jsf') > 0
		   || pageStr.indexOf('myaccount_empty_pass.jsf') > 0 || pageStr.indexOf('termsNextInvest.jsf') > 0
		   || pageStr.indexOf('editCard.jsf') > 0 || pageStr.indexOf('personal.jsf') > 0 || pageStr.indexOf('firstNewCard.jsf') > 0 )
					document.getElementById('secure_table').style.display="inline";
	}
</script>

<table align="center" width="970"  border="0" cellpadding="0" cellspacing="0" style="border-color: #848887;border-width:1px 1px 1px 1px;border-style:solid solid solid solid;">
    <tr>
        <td width="970" height="82" align="center" valign="top"><iframe id="header" name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/templates/header_loggedin.jsf?refresh=true" width="970" height="82" scrolling="no" ></iframe></td>
    </tr>
    <tr>
		<td height="26px" width="970">
				<ui:include src="/jsp/#{applicationData.userLocale.language}/tickerWrapper.xhtml"></ui:include>
		</td>
	</tr>
    <tr>
     <td>
		<table border="0" width="970" cellpadding="0" cellspacing="0" style="background-color:#FFFFFF"> <!--  first -->
			<tr><td colspan="5" height="8px" class="gray_background"><ui:insert name="message"></ui:insert></td>
		    </tr>
		           <tr height="33px">
		                <td width="8px" height="33px" class="menu_underline">
							<table cellpadding="0" cellspacing="0" border="0" width="8px"  height="33px" class="gray_background">
								<tr height="33px">
									<td  style="font-size:1px">&#160;</td>
								</tr>
							</table>
							</td>
		                <td  width="954px">
		                	<table border="0" height="33" align="center" cellpadding="0" cellspacing="0" width="954px">
							     <tr bgcolor="#e1e1e1" >
							     	<td width="16" class="menu_underline">&#160;</td>
							        <td align="left" class="menu_underline_align"><ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" /></td>

									<td align="#{applicationData.pageAlignmentReverse}" width="26" class="menu_underline" >&#160;</td>

							        <td width="16" class="menu_underline">&#160;</td>
							        <td width="186" align="right" height="32"><table cellpadding="0" cellspacing="0" border="0"><tr><td class="menu_underline"><ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" /></td></tr></table></td>
							        <td width="16" height="33px"><table cellpadding="0" cellspacing="0" border="0" height="33" width="16px" ><tr height="33px"><td height="33px" class="menu_underline">&#160;</td></tr></table></td>
							     </tr>
							   </table>
		                </td>
		                <td width="8px" height="33px" class="menu_underline" >
							<table cellpadding="0" cellspacing="0" border="0" width="8px"  height="33px" class="gray_background">
								<tr height="33px">
									<td  style="font-size:1px">&#160;</td>
								</tr>
							</table>
						</td>
		    </tr>

		    <tr>
		    <td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0">
		               	<tr><td height="6" colspan="5" ></td></tr>
		                <tr>
		                	<td width="16">&#160;</td>
		                    <td valign="top" width="720">
		<!-- *************************************************************************************************************************** -->
		 <table width="720" height="536" border="0" style="" cellpadding="0" cellspacing="0" >
			 			        	<tr height="31px">
				 			        	<td width="160px" class="header_pages">
											<ui:insert name="title"></ui:insert>
							            </td>
										<td width="12px" valign="middle" class="header_pages_separator">
											<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" height="30px"/>
										</td>
				 			        	<td width="468px" valign="middle" class="header_pages_message">
											<ui:insert name="title_message"></ui:insert>
							            </td>
							            <td width="80px" class="header_pages" id="secure_td" >
								            <table id="secure_table" cellpadding="0" cellspacing="0"  style="display:none;" onmouseover="ShowContentSec('secured'); return true;"
							            	onmouseout="HideContentSec('secured'); return true;">
							            	<div id="secured" style="display:none;
													  position:absolute;
													  border-style: none;
													  background-color: white;
													  padding: 0px;">
							            		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secure.gif"/>
							            	</div>
								            	<tr>
										            <td class="header_pages" width="17px" style="cursor:pointer" align="left">
										            	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif"
										            	/>
										            </td>
										            <td width="65px" class="header_pages" style="cursor:pointer" id="showHintTD">
										            	<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>

										            </td>
    									        </tr>
								            </table>
								            <div style="display: none; position: absolute;z-index:110;width:1px; " id="secure_div"></div>
							            </td>
						            </tr>
						         	<tr height="510" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="720" height="510" colspan="5">
											<ui:insert name="content"></ui:insert>
							            </td>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="16">&#160;</td>
		                    <td width="186"  height="536" valign="top" bgcolor="#FFFFFF">
		<!-- *******************************************Banners************************************************************************ -->
							<iframe align="center" valign="top" height="536" width="186" id="banners_page" name="banners_page" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchRightBanner.jsf"  scrolling="no"></iframe>
								<!-- ui:include src="/jsp/right_side_banners.xhtml"></ui:include-->
		<!-- *************************************************************************************************************************** -->
							</td>
							<td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="5"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>

	<tr>
		<td height="136px" width="970px" style="border-color: #848887;border-width:1px 0px 0px 0px;border-style:solid none none none;background-color:#FFFFFF">
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;" escape="false"/>
	<br/>
</div>
<c:if test="${applicationData.isLive}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</html>
