<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
		function clickTicker(marketId,scheduled){

		if(window.top.location.href.indexOf('intl') > -1){
			window.top.location.href="http://www.anyoption.com/";
			return false;
		}else{
			parent.tickerClick(marketId, scheduled, 3);
			return false;
		}
	}
	</script>

<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script>

    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
    var ajax = new AJAXInteraction(url, offsetCallback);
    ajax.doGet();

	/*
	  Reload ticker after setting utcOffset in Session
	  This is done because ticker page up before the Ajax call(return to server side)
	*/
	function offsetCallback(responseXML) {
	   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
	// alert(offset);
	   window.location.reload();
	}

</script>
</h:panelGroup>

</head>
<body dir="rtl" >

<f:view locale="#{applicationData.userLocale}">

	<table border="0" cellspacing="0" cellpadding="0" width="100%" height="26px" class="ticker_table">
		<tr height="28px;">
			<td valign="middle" width="100%">
				 <marquee direction="#{applicationData.pageAlignment}" scrollAmount="3" scrollDelay="1" onmouseover="this.stop();" onmouseout="this.start();" width="860">
					<table border="0" height="26px" cellspacing="0" cellpadding="0" dir="#{applicationData.pageDirection}">
						<tr height="26px">
							<t:dataList value="#{applicationData.tickerMarketsForUser}" var="crrMarket" rowIndexVar="crrMarketIndex" layout="simple">
									<td width="5" style="padding-left: 10px; padding-right:5px">
										<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor.jpg" alt="" />
									</td>
								<h:panelGroup rendered="#{crrMarket.hasOpened &amp;&amp; applicationData.skinId != 4 }">
									<td valign="middle" style="padding-right: 5px; vertical-align: middle; cursor: pointer;" nowrap="true" height="28" onclick="clickTicker(#{crrMarket.marketId}, #{crrMarket.scheduled})">
										<span dir="ltr">
											<t:graphicImage align="middle" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrows.gif" alt="" style="padding-bottom: 5px; padding-right:4px;padding-left:4px "/>&#160;
											<h:outputText value="#{crrMarket.marketName}" styleClass="ticker_market" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_market"  rendered="#{empty crrMarket.lastLevel}" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_level_green" rendered="#{!empty crrMarket.lastLevel &amp;&amp; crrMarket.lastLevel &gt; crrMarket.lastClosingLevel}" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_level_red" rendered="#{!empty crrMarket.lastLevel &amp;&amp; !(crrMarket.lastLevel &gt; crrMarket.lastClosingLevel)}"/>&#160;
											<h:outputText value="#{crrMarket.lastLevelTimeFmt}" DIR="LTR" styleClass="ticker_market" style="font-weight:normal;" />&#160;
										</span>
									</td>
								</h:panelGroup>
								<h:panelGroup rendered="#{!crrMarket.hasOpened &amp;&amp; applicationData.skinId!= 4}">
									<td valign="middle" style="padding-right: 5px; vertical-align: middle;" nowrap="true" height="28">
										<span dir="ltr">
											<t:graphicImage align="middle" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrows_off.gif" alt="" style="padding-bottom: 5px;padding-right:4px;padding-left:4px  "/>&#160;
											<h:outputText value="#{crrMarket.marketName}" styleClass="ticker_market_off" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_market_off" />&#160;
											<h:outputText value=" #{crrMarket.lastLevelTimeFmt}" DIR="LTR" styleClass="ticker_market_off" style="font-weight:normal;" />&#160;
										</span>
									</td>
								</h:panelGroup>
								<!-- NOT arabic skin or commodity in Arabic skin -->
								<h:panelGroup rendered="#{crrMarket.hasOpened &amp;&amp; !crrMarket.isCommodityOrArabicMarket &amp;&amp; applicationData.skinId == 4 }">
									<td valign="middle" style="padding-right: 5px; vertical-align: middle; cursor: pointer;" nowrap="true" height="28" onclick="clickTicker(#{crrMarket.marketId}, #{crrMarket.scheduled})">
										<span dir="ltr">
											<t:graphicImage align="middle" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrows.gif" alt="" style="padding-bottom: 5px;padding-right:4px;padding-left:4px  "/>&#160;
											<h:outputText value="#{crrMarket.lastLevelTimeFmt}" DIR="LTR" styleClass="ticker_market" style="font-weight:normal;" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_market"  rendered="#{empty crrMarket.lastLevel}" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_level_green" rendered="#{!empty crrMarket.lastLevel &amp;&amp; crrMarket.lastLevel &gt; crrMarket.lastClosingLevel}" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_level_red" rendered="#{!empty crrMarket.lastLevel &amp;&amp; !(crrMarket.lastLevel &gt; crrMarket.lastClosingLevel)}"/>&#160;
											<h:outputText value="#{crrMarket.marketName}" styleClass="ticker_market" />&#160;
										</span>
									</td>
								</h:panelGroup>
								<h:panelGroup rendered="#{!crrMarket.hasOpened &amp;&amp; !crrMarket.isCommodityOrArabicMarket &amp;&amp; applicationData.skinId == 4}">
									<td valign="middle" style="padding-right: 5px; vertical-align: middle;" nowrap="true" height="28">
										<span dir="ltr">
											<t:graphicImage align="middle" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrows_off.gif" alt="" style="padding-bottom: 5px;padding-right:4px;padding-left:4px  "/>&#160;
											<h:outputText value=" #{crrMarket.lastLevelTimeFmt}" DIR="LTR" styleClass="ticker_market_off" style="font-weight:normal;" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_market_off" />&#160;
											<h:outputText value="#{crrMarket.marketName}" styleClass="ticker_market_off" />&#160;
										</span>
									</td>
								</h:panelGroup>

								<!-- When we are in Arabic skin arabic markets and commodities are displayed in arabic -->
								<h:panelGroup rendered="#{crrMarket.hasOpened &amp;&amp; crrMarket.isCommodityOrArabicMarket &amp;&amp; applicationData.skinId==4 }">
									<td valign="middle" style="padding-right: 5px; vertical-align: middle; cursor: pointer;" nowrap="true" height="28" onclick="clickTicker(#{crrMarket.marketId}, #{crrMarket.scheduled})" dir="rtl">
										<span dir="ltr">
											<t:graphicImage align="middle" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrows.gif" alt="" style="padding-bottom: 5px; padding-right:4px;padding-left:4px "/>&#160;
											<h:outputText value="#{crrMarket.marketName}" styleClass="ticker_market" />&#160;
											<h:outputText value="#{crrMarket.lastLevelTimeFmt}" DIR="LTR" styleClass="ticker_market" style="font-weight:normal;" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_level_green" DIR="rtl" rendered="#{!empty crrMarket.lastLevel &amp;&amp; crrMarket.lastLevel &gt; crrMarket.lastClosingLevel}" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_level_red" DIR="rtl" rendered="#{!empty crrMarket.lastLevel &amp;&amp; !(crrMarket.lastLevel &gt; crrMarket.lastClosingLevel)}"/>&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_market" DIR="rtl" rendered="#{empty crrMarket.lastLevel}" />&#160;
										</span>
									</td>
								</h:panelGroup>
								<h:panelGroup rendered="#{!crrMarket.hasOpened &amp;&amp; crrMarket.isCommodityOrArabicMarket &amp;&amp; applicationData.skinId==4 }">
									<td valign="middle" style="padding-right: 5px; vertical-align: middle;" nowrap="true" height="28">
										<span dir="ltr">
											<t:graphicImage align="middle" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrows_off.gif" alt="" style="padding-bottom: 5px;padding-right:4px;padding-left:4px  "/>&#160;
											<h:outputText value="#{crrMarket.marketName}" styleClass="ticker_market_off" />&#160;
											<h:outputText value=" #{crrMarket.lastLevelTimeFmt}" DIR="LTR" styleClass="ticker_market_off" style="font-weight:normal;" />&#160;
											<h:outputText value="#{crrMarket.lastLevelFmt}" styleClass="ticker_market_off" />&#160;
										</span>
									</td>
								</h:panelGroup>
							</t:dataList>

						</tr>
					</table>
				</marquee>
			</td>
		</tr>
	</table>
</f:view>
</body>
</html>
