<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="Differenze tra opzioni binarie e opzioni ordinarie - guida al trading online di opzioni binarie su anyoption." />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="Differenze tra opzioni binarie e opzioni ordinarie | Guida | anyoption"/>
</ui:define>
<ui:define name="title">
	<h:outputText value="Tipi di Opzioni"/>
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="Differenze tra opzioni binarie e opzioni ordinarie"/></h1>
</ui:define>
<ui:define name="content">
	<f:view>
	<table valign="top" cellspacing="5" cellpadding="0" border="0">
		<tr><td>
		<table valign="top" cellspacing="5" cellpadding="30" border="0">
		<tr><td style="padding-top: 0px;">
		<br/>
		<h2 class="info_messages" style="font-size: 15px;">Breve guida alle principali differenze tra i diversi tipi di opzioni</h2>
		<p class="info_pages_text">Le opzioni  ordinarie sono anche dette vanilla e sono le più comuni. In questo caso l’investitore  paga per contratto, poi trarrà un profitto o subirà una perdita proporzionale  al numero di punti di differenza tra il livello di scadenza e lo strike price.</p>
		<p class="info_pages_text"> Le <strong>opzioni binarie </strong>sono anche dette  opzioni digitali, opzioni tutto o niente, opzioni a reddito fisso (o FRO); per  queste il guadagno é solo di due tipi: fisso oppure pari a zero (di qui la  dicitura binarie o digitali). </p>
		<ul class="info_pages_text">
		  <li>Il vantaggio delle <strong>opzioni binarie </strong>risiede soprattutto nel fatto che gli eventuali  profitti sono noti “a monte”: non si valuta il guadagno come differenza tra il  valore di mercato e lo strike price, ma si ha un ricavo fisso se il sottostante  ha superato un determinato valore soglia.</li>
		</ul>
		<p class="info_pages_text"> Esistono tre  principali differenze tra le <strong>opzioni  binarie </strong>e le opzioni ordinarie e riguardano: il tempo di scadenza, il  versamento, l’esecuzione.<br />
		  Queste  differenze hanno varie conseguenze che indicano le seconde come migliori  rispetto alle prime.<br />
		  In primo  luogo, gli intervalli di scadenza multipli a breve termine mettono  l'investitore in condizione di ottenere un rendimento immediato sulle proprie <strong>opzioni binarie </strong>e<strong> </strong>garantiscono una  maggiore flessibilità per gli investimenti su opzioni.<br />
		  Nelle  opzioni vanilla, l'investitore paga per contratto (ossia per punto).  Successivamente l'investitore trarrà un profitto o subirà una perdita monetaria  corrispondente al numero di punti di differenza tra il livello di scadenza e il  prezzo d'esercizio. </p>
		<ul class="info_pages_text">
		  <li>Le <strong>opzioni binarie </strong>differiscono  nel senso che i due risultati sono definiti sin dall'inizio.</li>
		</ul>
		<p class="info_pages_text"> Infine, un  investitore che acquisti un'opzione binaria deve conservarla fino alla data di  scadenza. Pertanto, deve fare più attenzione in fase di acquisto delle opzioni,  dal momento che non gli sarà consentito venderle dopo averle acquistate.<br />
		  Il trading  su <strong>opzioni binarie </strong>anyoption é un  modo nuovo e interessante di investire nei mercati finanziari. Queste opzioni  sono più semplici e flessibili delle opzioni tradizionali, ma, come per tutti  gli investimenti, è  importante pianificare una strategia in anticipo per  aumentare le probabilità di successo.</p>
		</td></tr>
		</table>
		</td></tr>
	</table>
	</f:view>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>