﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" /></h:panelGroup> <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" /></h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Un'opzione con un tasso di rendita doppio</span><br/>

          	    <h:panelGroup><span class="bonus_text">Siamo lieti di informarvi che vi è stato offerto un bonus speciale: un'opzione con un tasso di rendita doppio.<br/><br/>

						Per la prossima opzione acquistata, otterrete un tasso di rendita doppio del 130-142% (invece del 65-71%) se l'opzione scade in the money! Inoltre avrete comunque diritto alla stessa garanzia di rimborso del 15% se l'opzione scade out of the money.<br/><br/>

						L'offerta è valida fino al <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

						Tenete presente che dopo aver ricevuto il bonus, il prelievo di fondi sarà soggetto a delle restrizioni, come stabilito nei Termini generali riportati in seguito.<br/><br/></span></h:panelGroup>


	            <span class="bonus_terms"><strong>Bonus – Termini generali</strong><br/> Il bonus verrà accreditato sul conto del cliente a patto che il cliente abbia operato in conformità con l'offerta alla quale è stato invitato a partecipare, come nel caso di esecuzione di un deposito minimo e/o acquisto di una quantità minima di opzioni entro un periodo di tempo specificato.
	            <br/><br/>
				Tranne ove diversamente specificato nei termini dell'offerta, un prerequisito per il prelievo di denaro dal conto dopo aver ricevuto un bonus consiste nell'esecuzione di un investimento il cui ammontare complessivo corrisponde a #{facesContext.externalContext.requestParameterMap['wageringParam']} volte l'ammontare dell'opzione originale dalla quale ha avuto origine il bonus.
				<br/><br/>
				In caso di liquidazione 'out-of-the-money', il cliente non dovrà compiere il numero minimo di investimenti necessarie precedenti alla revoca.
				<br/><br/>
				La società incoraggia i clienti ad approfittare delle offerte, ma ad accertarsi di non abusarne. L'abuso di un'offerta potrebbe portare all'annullamento del bonus e alla chiusura del conto del cliente sul sito Web della Società.
				<br/><br/>
				I bonus devono essere utilizzati entro il periodo definito nei dettagli dell'offerta specifica. Nel caso in cui i bonus non vengano utilizzati nell'intervallo di tempo stabilito, la somma equivalente al valore dei bonus verrà prelevata dal conto del cliente.
				<br/><br/>
				Una volta ricevuti i bonus/assegni, il cliente ha a disposizione 3 (tre) mesi di tempo per completare il numero totale degli investimenti richiesto come condizione indispensabile per il ritiro. Se non si è raggiunto il totale richiesto degli investimenti durante questo lasso di tempo, la compagnia ritirerà i bonus/assegni dall'acconto del cliente a sua discrezione.
				<br/><br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
