<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}">
	<div class="terms_bonus_text">
		<h1 class="bonus">Bonusové podmínky a ujednání</h1>
		<p>
			anyoption™ může čas od času podle svého vlastního uvážení svým
			klientům („<strong>Klient</strong>“) poskytnout bonus a/nebo další
			výhody („<strong>Bonus</strong>“).
		</p>
		<h2>1. Podmínky a platnost:</h2>
		<p>1.1 Během sedmi (7) dní od doby, kdy Klient kliknutím na
			tlačítko „Požádat o bonus“ přijal a potvrdil Bonusové podmínky a
			ujednání, je požadováno, aby Klient aktivoval Bonus.</p>
		<p>1.2 Po obdržení bonusu bude Klient nejprve obchodovat s penězi,
			které Klient vložil na účet, a pouze poté bude Klient obchodovat s
			Bonusem přiděleným společností anyoption™.</p>
		<p>1.3 Pokud není uvedeno jinak, pak žádný Bonus nelze kombinovat
			s žádnou jinou nabídkou nebo propagační akcí společnosti anyoption™.</p>
		<p>
			1.4 Od doby přijetí Bonusu má Klient 3 (tři) kalendářní měsíce na
			splnění požadavků na protočení požadovaných jako nezbytná podmínka
			pro výběr <strong>zisků</strong> Klienta.
		</p>
		<h2>2. Podmínky na protočení:</h2>
		<p>2.1 Po době přijetí a/nebo udělení Bonusu na účet Klienta budou
			pro tento účet platit podmínky na protočení.</p>
		<p>2.2 Podmínky na protočení jsou obvykle nastaveny na #{param['wageringParam']}násobek
			hodnoty Bonusu.</p>
		<p>#{param['wageringParam']} * [částka bonusu] = požadavek na protočení</p>
		<p>Například: Pokud Klient vložil 100 $ a obdržel 50% bonus, pak
			je požadavek na protočení nastaven na #{param['wageringParam']}násobek. Klient bude muset
			během tří (3) měsíců protočit celkovou částku zůstatku Klienta
			(„Peněžní zůstatek“ a „Bonusový zůstatek“) v celkové hodnotě #{param['wageringParam'] * 50} $.</p>
		<p>2.3 Pokud podmínky na protočení nejsou splněny během tří (3)
			měsíců, pak může anyoption™ odebrat Bonus z účtu Klienta.</p>
		<h2>3. Výběr zisků:</h2>
		<p>3.1 K výběru jakýchkoliv zisků vygenerovaných z Bonusu musí
			Klient jako nezbytnou podmínkou splnit požadavky na protočení.</p>
		<p>3.2 Je zřetelně uvedeno, že Klient může během doby tří (3)
			měsíců kdykoliv vyjádřit své přání zrušit používání Bonusu. V tomto
			případě, pokud je vybrán celý vklad nebo jeho část, ke kterému byl
			přidělen Bonus, bude platit následující:</p>
		<p class="gap">3.2 The Bonus shall be cancelled.</p>
		<p class="gap">3.2.1 Bonus bude stornován.</p>
		<p class="gap">3.2.2 Pro Bonusy přidělené po 15. srpnu 2015: V
			případě obchodních zisků budou stornovány obchodní zisky vygenerované
			z Bonusového zůstatku. Lze vybrat Peněžní zůstatek a obchodní zisky
			přičtené k Peněžnímu zůstatku Klienta.</p>
		<h2>4. Různé:</h2>
		<p>4.1 V případě že Klient obchoduje OPTION+ bude ke stávajícím
			podmínkám bonusů a dalších výhod připsáno #{param['turnOverParamOptionPlus']} % Požadavku na
			protočení. Například – pokud Klient investoval 2 000 $ na obchodování
			Option+, pak bude Klientovi ke splnění kritérií bonusů nebo dalších
			výhod připsáno #{param['turnOverParamOptionPlus'] * 2000 / 100} $. Bonusy "Bezriziková opce“, „Zvýšené vrácení
			peněz“, „Zvýšená návratnost“ a „Zvýšené vrácení peněz a zvýšená
			návratnost“ nelze používat s OPTION+.</p>
		<p>4.2 Pokud Klient obchoduje Binary 0-100, bude ke stávajícím
			podmínkám bonusů a dalších výhod připsáno #{param['turnOverParamBinaryOneHundred']} % Požadavku na
			protočení. Například – pokud Klient investoval 2 000 $ na obchodování
			Binary 0-100, pak bude Klientovi ke splnění kritérií bonusů nebo
			dalších výhod připsáno #{param['turnOverParamBinaryOneHundred'] * 2000 / 100} $. Bonusy "Bezriziková opce“, „Zvýšené
			vrácení peněz“, „Zvýšená návratnost“ a „Zvýšené vrácení peněz a
			zvýšená návratnost“ nelze používat s Binary 0-100.</p>
		<p>4.3 Společnost si vyhrazuje právo stornovat Bonus, pokud bude
			speciální nabídka zneužívána a/nebo selže splnění podmínek nabídky.
			Rozhodnutí společnosti o stornování Bonusu je konečné.</p>
		<p>4.4 Společnost si vyhrazuje právo nabídky kdykoliv bez
			předchozího upozornění odebrat nebo změnit.</p>
		<p>4.5 Společnost pobízí své klienty, aby se zúčastnili nabídek,
			ale neuchylovali s k jejich zneužívání. Zneužívání jakékoliv nabídky
			může vést s okamžitou platností ke stornování Bonusu, odebrání zisků
			a uzavření obchodního účtu Klienta.</p>
		<p>Oficiální znění Podmínek pro poskytování bonusu vede anyoption™
			v anglickém jazyce. V případě rozporu mezi anglickou a jinou
			jazykovou verzí má přednost verze anglická.</p>
	</div>
</f:view>
</html>
