<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}">
	<div class="terms_bonus_text">
		<h1 class="bonus">Regler och villkor för bonusar</h1>
		<p>
			anyoption™ kan på eget gottfinnande utfärda bonusar och/eller andra
			förmåner till sina kunder (“<strong>Kunden</strong>”), från tid till
			annan (“<strong>Bonus</strong>”).
		</p>
		<h2>1. Villkor och giltighet:</h2>
		<p>1.1. Kunden måste aktivera sin Bonus inom sju (7) dagar med
			början från dagen då Kunden accepterade och bekräftade Regler och
			villkor för bonusar genom att klicka på knappen ”Begär bonus”.</p>
		<p>1.2. Vid mottagandet av en Bonus ska Kunden först omsätta
			pengarna Kunden satte in på kontot, och endast då Kunden handlar med
			Bonusen som utfärdats av anyoption™.</p>
		<p>1.3. Om inget annat anges kan respektive Bonus inte kombineras
			med andra erbjudanden eller kampanjer från anyoption™.</p>
		<p>
			1.4. När Bonusen har accepterats har Kunden 3 (tre) kalendermånader
			på sig att slutföra omsättningskraven som en förutsättning för uttag
			av Kundens <strong>förtjänster</strong>.
		</p>
		<h2>2. Omsättningskrav</h2>
		<p>2.1. Omsättningskraven för en Bonus tillämpas på ett konto när
			en Bonus accepteras och/eller appliceras på Kundens konto.</p>
		<p>2.2. Ett omsättningskrav är normalt #{param['wageringParam']} gånger Bonusens värde.</p>
		<p>#{param['wageringParam']}*[Bonusbelopp] = Omsättningskrav</p>
		<p>Om Kunden till exempel satte in 100 $ och fick en bonus på 50
			%, blir omsättningskravet x#{param['wageringParam']}. Kunden behöver omsätta Kundens totala
			saldobelopp (”Kontantsaldo” och ”Bonussaldo”) till ett totalt belopp
			av #{param['wageringParam'] * 50} $ inom tre (3) månader.</p>
		<p>2.3. Om Omsättningskraven inte uppfylls inom tre (3) månader,
			kan anyoption™ ta ut Bonusen från Kundens konto.</p>
		<h2>3. Uttag av förtjänster:</h2>
		<p>3.1 En kund måste uppfylla Omsättningskraven som en
			förutsättning för uttag av förtjänster genererade från Bonusen.</p>
		<p>3.2 Det är tydligt att Kunden, närsomhelst inom tre-
			(3)-månadersperioden kan uttrycka sin önskan om att sluta använda
			Bonusen. I detta fall, om hela eller delar av det insatta beloppet
			för vilket bonusen utfärdades tas ut, ska följande tillämpas:</p>
		<p class="gap">3.2.1 Bonusen ska annulleras.</p>
		<p class="gap">3.2.2 För Bonusar utfärdade efter den 15:e augusti
			2015: I händelse av handelsvinster ska handelsvinster genererade från
			Bonussaldot annulleras. Kontantsaldot och handelsvinsterna
			tillskrivna Kundens Kontantsaldo kan tas ut.</p>
		<h2>4. Allmänt:</h2>
		<p>
			4.1 Händelse av att en Kund handlar med <strong>OPTION+</strong>,
			kommer #{param['turnOverParamOptionPlus']} % av Omsättningskraven inräknas i standardvillkor för
			bonusar eller andra förmåner. Till exempel - om Kunden investerar 2
			000 $ och handlar med Option+ kommer Kunden för att ha uppfyllt
			kriterierna för bonusar och andra förmåner, krediteras #{param['turnOverParamOptionPlus'] * 2000 / 100} $. Bonusar
			för "Riskfri option", ”Ökad återbäring", ”Ökad avkastning", samt
			”Ökad återbäring och avkastning" inte användas på OPTION+.
		</p>
		<p>
			4.2 När en Kund handlar med Binary 0-100, kommer #{param['turnOverParamBinaryOneHundred']} % av
			Omsättningskraven inräknas i standardvillkor för bonusar eller andra
			förmåner. Till exempel - om Kunden investerar 2 000 $ och handlar med
			<strong>Binary 10-100</strong> kommer Kunden för att ha uppfyllt
			kriterierna för bonusar och andra förmåner, krediteras #{param['turnOverParamBinaryOneHundred'] * 2000 / 100} $. Bonusar
			för "Riskfri option", ”Ökad återbäring", ”Ökad avkastning", samt
			”Ökad återbäring och avkastning" inte användas på Binary 0-100.
		</p>
		<p>
			4.3 Bonusar
			för "Riskfri option", ”Ökad återbäring", ”Ökad avkastning", samt
			”Ökad återbäring och avkastning" inte användas på Bubbles.
		</p>
		<p>4.4 Företaget reserverar sig rätten att annullera Bonusen om
			specialerbjudandet missbrukar och/eller om erbjudandevillkoren inte
			uppfylls. Företagets beslut att annullera en Bonus är slutgiltigt.</p>
		<p>4.5 Företaget reserverar sig rätten att återkalla eller ändra
			erbjudanden närsomhelst utan föregående meddelande.</p>
		<p>4.6 Företaget uppmuntrar kunderna att ta del av erbjudandena
			men att undvika att missbruka dem. Missbruk av något av erbjudandena
			kan leda till annullering av Bonusen, undanhållande av vinster och
			stunning av Kundens handelskonto med omedelbar verkan.</p>
		<p>Den officiella texten för bonusvillkoren skall upprätthållas av
			anyoption™ på engelska. I händelse av konflikt mellan den engelska
			versionen och andra språkversioner, skall den engelska versionen vara
			den som gäller.</p>
	</div>
</f:view>
</html>
