<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}">
	<div class="terms_bonus_text">
		<h1 class="bonus">Bonus Terms and Conditions</h1>
		<p>
			anyoption™ may grant its clients (“<strong>Client</strong>”), at its
			sole discretion, bonus and/or any other benefit from time to time (“<strong>Bonus</strong>”).
		</p>
		<h2>1. Term and Validity:</h2>
		<p>1.1 The Client shall be required to activate the Bonus with in
			seven (7) days starting from the day the Client accepted and
			confirmed the Bonus' Terms and Conditions by clicking the “Claim
			Bonus” button.</p>
		<p>1.2 When receiving a Bonus, the Client will first trade with
			the money the Client deposited in the account, and only then will the
			Client trade with the Bonus granted by anyoption™.</p>
		<p>1.3 Unless otherwise stated, each Bonus cannot be combined with
			any other offers or promotions by anyoption™.</p>
		<p>
			1.4 Once the Bonus is accepted, the Client has 3 (three) calendar
			months to complete the wagering requirement as a precondition for
			withdrawal of the Client’s <strong>profits</strong>.
		</p>
		<h2>2. Wagering Requirements:</h2>
		<p>2.1 Wagering requirements for a Bonus will apply to an account,
			once the time a Bonus is accepted and/or applied to the Client's
			account.</p>
		<p>2.2 A wagering requirement is normally set on #{param['wageringParam']} times the
			Bonus value.</p>
		<p>#{param['wageringParam']}*[amount of Bonus] = Wagering Requirement</p>
		<p>For example, if the Client deposited $100 and received a 50%
			bonus, the wagering requirement is set for x#{param['wageringParam']}. The Client will have
			to wager the Client’s total balance amount ("Cash Balance" and "Bonus
			Balance") in a total amount of $#{param['wageringParam'] * 50} within three (3) months.</p>
		<p>2.3 If the Wagering Requirement is not met within three (3)
			months, anyoption™ may withdraw the Bonus from the Client's account.</p>
		<h2>3. Withdrawal of Profits:</h2>
		<p>3.1 A Client must meet the Wagering Requirements as a
			precondition for withdrawing any profits generated from the Bonus.</p>
		<p>3.2 It is clearly stated that the Client may, at any time
			within the three (3) month period, express his/her wish to cease the
			use of the Bonus. In this case, if the entire or part of the deposit
			on which the bonus is given is withdrawn, the following shall apply:</p>
		<p class="gap">3.2.1 The Bonus shall be cancelled.</p>
		<p class="gap">3.2.2 For Bonuses granted after 15th August 2015:
			In the case of trading profits, the trading profits generated from
			the Bonus Balance shall be cancelled. The Cash Balance and trading
			profits attributed to the Client’s Cash Balance may be withdrawn.</p>
		<h2>4. Miscellaneous:</h2>
		<p>
			4.1 In the event that a Client trades <strong>OPTION+</strong>, #{param['turnOverParamOptionPlus']}%
			of the Wagering Requirement will be accounted for standing terms of
			bonuses or other benefits. By way of example - if the Client invests
			$2,000 trading Option+, then for meeting criteria of bonuses or other
			benefits, the Client will be credited with $#{param['turnOverParamOptionPlus'] * 2000 / 100}. The bonuses of the
			"Risk free option", "Increased refund", "Increased return", and
			"Increased refund and return" cannot be used on OPTION+.
		</p>
		<p>
			4.2 When a Client trades <strong>Binary 0-100</strong>, #{param['turnOverParamBinaryOneHundred']}% of the
			Wagering Requirement will be accounted for standing terms of bonuses
			or other benefits. By way of example - if the Client invests $2,000
			trading Binary 0-100, then for meeting criteria of bonuses or other
			benefits, the Client will be credited with $#{param['turnOverParamBinaryOneHundred'] * 2000 / 100}. The bonuses of "Risk
			free option", "Increased refund", "Increased return", and "Increased
			refund and return" cannot be used on binary 0-100.
		</p>
		<p>
			4.3 The bonuses of "Risk
			free option", "Increased refund", "Increased return", and "Increased
			refund and return" cannot be used on Bubbles.
		</p>
		<p>4.4 The Company reserves the right to cancel the Bonus should
			the special offer be abused and/or should the offer’s terms fail to
			be met. The Company’s decision to cancel a Bonus shall be final.</p>
		<p>4.5 The Company reserves the right to revoke or change the offers at any time without prior notice. Any changes to the terms and conditions of a trading benefit already granted to a client will be communicated to the client by email 5 business days in advance. The client will have the option to continue using the benefit under the new conditions or to cancel it, the same way as if the Wagering Requirements had been fulfilled.</p>
		<p>4.6 The Company encourages its clients to take part in the
			offers, but to refrain from abusing them. Abusing any of the offers
			could lead to cancellation of the Bonus, withhold of any profits and
			closure of the Client’s trading account with immediate effect.</p>
		<p>The official text of the Bonus Terms and Conditions shall be
			maintained by anyoption™ in English. In the event of any conflict
			between the English version and other language versions, the English
			version shall prevail.</p>
	</div>
</f:view>
</html>
