<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}">
	<div class="terms_bonus_text">
		<h1 class="bonus">Ogólne warunki dotyczące Premii</h1>
		<p>
			anyoption™ może od czasu do czasu wedle własnego uznania przyznawać
			swoim klientom („<strong>Klient</strong>”) premie i/lub inne dodatki
			(„<strong>Premia</strong>”).
		</p>
		<h2>1. Warunki i okres obowiązywania:</h2>
		<p>1.1 Klient jest zobowiązany do aktywacji Premii w ciągu siedmiu
			(7) dni licząc od dnia, w którym Klient zaakceptował i potwierdził
			„Ogólne warunki dotyczące Premii”, klikając przycisk „Wypłać premię”.
		</p>
		<p>1.2 Po otrzymaniu premii Klient w pierwszej kolejności będzie
			zawierał transakcje z wykorzystaniem środków zgromadzonych przez
			Klienta na rachunku, a dopiero później Klient może zawierać
			transakcje, korzystając z Premii przyznanej przez spółkę anyoption™.
		</p>
		<p>1.3 Jeżeli inaczej nie postanowiono, żadna Premia nie może być
			łączona z jakimikolwiek innymi ofertami lub promocjami oferowanymi
			przez spółkę anyoption™.</p>
		<p>
			1.4 Po przyjęciu Premii Klient ma 3 (trzy) miesiące kalendarzowe na
			spełnienie warunków minimalnych, co stanowi warunek wstępny wypłaty <strong>zysków</strong>
			Klienta.
		</p>

		<h2>2. Warunki Minimalne:</h2>
		<p>2.1 Warunki minimalne Premii odnoszą się do rachunku, jeżeli
			Klient zaakceptuje Premię i/lub zostanie ona zaksięgowana na jego
			rachunku.</p>
		<p>2.2 Warunek minimalny jest zasadniczo ustalony jako
			x#{param['wageringParam']} wartości Premii.</p>
		<p>#{param['wageringParam']}*[wartość Premii] = Warunek Minimalny</p>
		<p>Na przykład jeżeli Klient zdeponował 100 USD i otrzymał premię
			w wysokości 50%, warunek minimalny wynosi x#{param['wageringParam']}. W ciągu trzech (3)
			miesięcy Klient jest zobowiązany do zawarcia zakładu o wartości
			całkowitego salda rachunku Klienta („Saldo Gotówkowe” i „Saldo
			Premii”), które wynosi #{param['wageringParam'] * 50} USD.</p>
		<p>2.3 Jeżeli Warunek Minimalny nie zostanie spełniony w ciągu
			trzech (3) miesięcy, spółka anyoption™ może wycofać Premię z rachunku
			Klienta.</p>

		<h2>3. Wypłata zysków:</h2>
		<p>3.1 Klient jest zobowiązany do spełnienia Warunków Minimalnych,
			co stanowi warunek wstępny do wypłaty jakichkolwiek zysków
			wygenerowanych z wykorzystaniem Premii.</p>
		<p>3.2 Wyraźnie informujemy, że Klient może w dowolnym czasie w
			ciągu trzech (3) miesięcy wyrazić wolę zaprzestania korzystania z
			Premii. W takim przypadku jeżeli została już wypłacona całość lub
			część wkładu, od którego przyznano Premię, zastosowanie mają
			następujące zasady:</p>
		<p class="gap">3.2.1 Premia zostanie anulowana.</p>
		<p class="gap">3.2.2 Premie przyznane po 15 sierpnia 2015 r.: w
			przypadku zysków transakcyjnych, zyski transakcyjne wygenerowane z
			wykorzystaniem Salda Premii zostaną anulowane. Saldo Gotówkowe i
			zyski transakcyjne związane z Saldem Gotówkowym Klienta można
			wypłacić.</p>

		<h2>4. Inne postanowienia:</h2>
		<p>
			4.1 Jeżeli Klient zawiera transakcje <strong>OPTION+</strong>, #{param['turnOverParamOptionPlus']}%
			Warunku Minimalnego zostanie zaksięgowane z tytułu spełnienia
			warunków premii lub innych dodatków. Na przykład jeżeli Klient
			zainwestuje 2000 USD, zawierając transakcję Option+, wówczas z tytułu
			spełnienia kryteriów premii lub innych dodatków Klient otrzyma #{param['turnOverParamOptionPlus'] * 2000 / 100}
			USD. Premie z tytułu transakcji „Opcja bez ryzyka”, „Wyższa
			refundacja”, „Wyższy zwrot” i „Wyższa refundacja i zwrot” nie mogą
			być wykorzystywane w przypadku transakcji OPTION+.
		</p>
		<p>
			4.2 Jeżeli Klient zawiera transakcje <strong>Binary 0-100</strong>,
			#{param['turnOverParamBinaryOneHundred']}% Warunku Minimalnego zostanie zaksięgowane z tytułu spełnienia
			warunków premii lub innych dodatków. Na przykład jeżeli Klient
			zainwestuje 2000 USD zawierając transakcję Binary 0-100, wówczas z
			tytułu spełnienia kryteriów premii lub innych dodatków Klient otrzyma
			#{param['turnOverParamBinaryOneHundred'] * 2000 / 100} USD. Premie z tytułu transakcji „Opcja bez ryzyka”, „Wyższa
			refundacja”, „Wyższy zwrot” i „Wyższa refundacja i zwrot” nie mogą
			być wykorzystywane w przypadku transakcji Binary 0-100.
		</p>
		<p>
			4.3 Premie z tytułu transakcji „Opcja bez ryzyka”, „Wyższa
			refundacja”, „Wyższy zwrot” i „Wyższa refundacja i zwrot” nie mogą
			być wykorzystywane w przypadku transakcji Bubbles.
		</p>
		<p>4.4 Spółka zastrzega sobie prawo do anulowania Premii, jeżeli
			oferta specjalna będzie nadużywana i/lub jeżeli warunki oferty nie
			zostaną spełnione. Decyzja Spółki o anulowaniu Premii jest
			ostateczna.</p>
		<p>4.5 Spółka zastrzega sobie prawo do odwołania lub zmiany ofert
			w dowolnym czasie bez wcześniejszego powiadomienia.</p>
		<p>4.6 Spółka zachęca Klientów do korzystania z ofert oraz do
			powstrzymania się przed ich nadużywaniem. Nadużycie którejkolwiek z
			ofert może prowadzić do anulowania Premii, zatrzymania wszelkich
			zysków i zamknięcia rachunku transakcyjnego Klienta ze skutkiem
			natychmiastowym.</p>
		<p>Oficjalny tekst regulaminu dotyczącego Bonusów będzie zachowany
			na anyoption™ w języku angielskim. W przypadku jakichkolwiek
			rozbieżności, pomiędzy wersją angielską a innymi wersjami językowymi,
			wersja angielska przeważa.</p>
	</div>
</f:view>
</html>
