﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">특별보너스</span><br/>

		  <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

						     <span class="bonus_text">
						     고객님은 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> 의 특별 보너스를 받으실 수 있는 자격을 확보하셨음을 기쁜 마음으로 알려드립니다.<br/>
						     <br/>
						     이 특별 보너스는 고객님이 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/> 이나 더 많은 금액을 고개님의 계좌로 입금하시는 즉시 고객님의 계좌로 입금되며 “anyoption으로부터의 보너스” 아래에 “본인계좌” “뱅킹내역” 에서 확인 하실 수 있습니다. <br/>
						     <br/>
						     이 특별 보너스는 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> 까지만 사용하실 수 있습니다.<br/>
						     <br/>
						     아래에 공고된 일반 이용약관에 명시된 바와 같이, 고객님이  이 특별 보너스를 수령하신 시점부터는 고객님의 계좌로부터의 출금에 대한 제한이 적용됩니다.<br/>					                      
							 <br/>
						     </span>
          			</h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2 ||
				 						facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
										facesContext.externalContext.requestParameterMap['bonusStateId']==4}">

						     <span class="bonus_text">
								고객님께서는 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> 특별 보너스를 받으셨습니다. 고객님의 계좌로 입금 완료되었으며 “anyoption으로부터의 보너스” 아래에 “본인계좌” “뱅킹내역” 에서 확인 하실 수 있습니다.<br/>
						     	<br/>
								이 보너스는 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> 까지 사용하실 수 있습니다.<br/>
								<br/>
								아래에 공고된 일반 이용약관에 명시된 바와 같이, 고객님이  이 보너스를 수령하신 시점부터는 고객님의 계좌로부터의 출금에 대한 제한이 적용됩니다.<br/>
								<br/>
						     </span>
					</h:panelGroup>
          </h:panelGroup>

          <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >

          			<span class="bonus_text">
					고객님은 고객님께서 입금하신  #{facesContext.externalContext.requestParameterMap['numOfActions']} 에 대한  &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> 의 특별 보너스를 받으실 수 있는 자격을 확보하셨음을 기쁜 마음으로 알려드립니다<br/>
          				<br/>
					이 보너스는 고객님이 &#160;#{facesContext.externalContext.requestParameterMap['numOfActions']} 이나 더 많은 금액을 고개님의 계좌로 입금하시면 즉시 고객님의 계좌로 입금되며 "anyoption으로부터의 보너스” 밑에 “본인계좌”  “뱅킹내역” 에서 확인 하실 수 있습니다.<br/>
          				<br/>
					이 보너스는 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> 까지 사용하실 수 있습니다.<br/>
          				<br/>
					아래에공고된 일반 이용약관에 명시된 바와 같이, 고객님이  이 보너스를 수령하신 시점부터는 고객님의 계좌로부터의 출금에 대한 제한이 적용됩니다.<br/>
          				<br/>
          			</span>
          		</h:panelGroup>
          		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
          			<span class="bonus_text">
					고객님께서는 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> 의 특별 보너스를 받으셨습니다. 이 보너스는 고객님의 계좌로 입금 되었으며 "anyoption으로부터의 보너스” 밑에 “본인계좌”  “뱅킹내역” 에서 확인 하실 수 있습니다.<br/>
          				<br/>
					이 특별 보너스는 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> 까지만 사용하실 수 있습니다.<br/>
          				<br/>
					아래에 공고된 일반 이용약관에 명시된 바와 같이, 고객님이  이 보너스를 수령하신 시점부터는 고객님의 계좌로부터의 출금에 대한 제한이 적용됩니다.<br/>
          				<br/>
          			</span>
          		</h:panelGroup>
          </h:panelGroup>

          <span class="bonus_terms"><strong>보너스 - 이용약관</strong><br/>
			이 보너스는 보너스 제공에 포함, 명시된 조건들, 예를 들어 일정기간 내에 최소금액 입금 및/또는 최소량의 옵션 매입과 같은, 조건들의 이행 여부에 따라 고객님의 계좌에 입금됩니다.<br/>
            <br/>
			혜택 제공조건에 별도로 명시되었을 때를 제외하고는, 다른 모든 혜택을 받으셨을 때에 출금에 적용되는 전제조건은, 받으신 보너스의 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> 배수 금액을 투자 하시는 것입니다.<br/>
            <br/>
			본 회사는 고객님께서 저희 특별 보너스 제공에 참여하실 것을 격려하지만 또한 보너스 프로그램을 악용하지 말 것을 추천합니다. 저희 보너스 제공 프로그램을 악용하시면 고객님에게 제공한 보너스의 취소 및 저희 사이트에 개설하신 고객님 계좌의 폐쇄로 연결 될 수 있습니다.<br/>
            <br/>
			저희가 제공하는 보너스는 반드시 해당 보너스 조건에 명시된 기간 안에 사용하셔야 합니다. 고객님이 명시된 기간 안에 사용하지 않으시면 고객님의 계좌에서 해당 보너스 금액이 출금됩니다.<br/>
            <br/>
			특별 보너스/혜택을 받으신 시점으로부터 3개월 내에 출금에 대한 전제조건에 명시된 금액의 투자를 완료하셔야 합니다. 만일 이 기간 내에 전제조건에 명시된 금액의 투자를 완료하지 않으시면 회사의 선택권리에 따라 해당 보너스/혜택 금액이 고객님의 계좌에서 출금됩니다.<br/>
            <br/>
            <h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />  
	</span>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
