@charset "utf-8";
/* form1 CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/header.gif) repeat-x;

}
#header .logo				{background:url(../../images/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info				{background:url(../../images/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer						{margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons				{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space 	{margin-right:20px; float:left;}
#footer .links				{margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d; margin-top: 10px; position:relative; float: left; width:970px; margin-bottom:20px}

.hide	{display:none;}

#page	{background:url(../images/page_bk.png) repeat-x bottom;
 background-color:#FFF}

p	{ margin: 0 0 4px; padding:0;}
h2	{font-size: 18px;}
#banner_fr	{
	width:970px;
	height:800px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../images/banner_fr.png) no-repeat;
}



.l_text_box		{font-size:14px; color:#525252; position:relative; margin-left:33px; float:left; line-height: 18px; width:640px; font-family:Tahoma, Geneva, sans-serif; margin-top:110px; }

.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5; margin: 10px 0 10px 0;}

.r_text_box		{position:absolute; top:44px; left:720px; font-size:12px; color:#fff;}
.title_image	{margin: 0 0 13px 5px;}
.r_text_box h2 	{margin: 0 0 10px;}
.input1			{background:url(../../images/input_box1.png) no-repeat 0 0; width:196px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 190px;}
.star			{color:#f6cd10; font-weight:normal;}
.input2			{float:left; background:url(../../images/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:15px; margin-right:5px;}
.input2 input	{border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}
.input2_1		{float:left; line-height:11px;  background:url(../../images/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_1 input	{border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}
.input3			{background:url(../../images/input_box3.png) no-repeat; width:138px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:15px;}
.input3 input	{border: medium none; height: 16px; margin:2px 3px; width: 130px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error			{background-position:0 -23px;}

.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5;}


.agree			{float: left; margin-right: 10px;}
.agree_text		{font-size:11px;}
.submin_swf		{margin-left: -7px;}
.error_text		{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../images/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}


#error_box		{display:none;position:absolute; z-index:100; top:300px; background:url(../../images/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.plus	{float:left;text-align: right; width: 15px;margin-top: 7px;color:#000;}


