<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	contentType="text/xml"
	>
	var protocol = <h:outputText value="&quot;#{applicationData.getPageScheme()}&quot;" escape="false"/>;
	var forceHttps = <h:outputText value="#{applicationData.isForceHttps()}" escape="false"/>;
	
	var homePageN = <h:outputText value="&quot;#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}&quot;" escape="false" />;
	var privacyFullLink = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}&quot;" escape="false"/>;
	var homeFullLink = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}&quot;" escape="false"/>;
	var oneTouchPageN = <h:outputText value="&quot;#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}&quot;" escape="false" />;
	var optionPlusPageN = <h:outputText value="&quot;#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}&quot;" escape="false" />;
	var binary0100PageN = <h:outputText value="&quot;#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary0100.jsf')}&quot;" escape="false" />;
	var tradePageN = <h:outputText value="&quot;#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}&quot;" escape="false" />;
	var investmentsPageN = <h:outputText value="&quot;/jsp/pages/investments.jsf&quot;" escape="false" />;
	var livePageN = <h:outputText value="&quot;#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}&quot;" escape="false" />;
	var dynamicsPageN = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-dynamics.jsf')}&quot;" escape="false" />;
	var profitLine_link = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investmentPopup.jsf&quot;" escape="false" />;
	
	var register_additional_page_url = <h:outputText value="&quot;#{applicationData.getHomePageUrlHttps()}pages/&quot;" escape="false"/>;
	var register_additional_first_page_url = <h:outputText value="&quot;#{applicationData.getHomePageUrlHttps()}pages/first-register-additional&quot;" escape="false"/>;
	var deposit_page_url = <h:outputText value="&quot;#{applicationData.getHomePageUrlHttps()}jsp/pages/firstNewCard.jsf&quot;" escape="false"/>;
	var register_page_url = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}&quot;" escape="false"/>;
	var login_page_url = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}&quot;" escape="false"/>;
	var general_terms_link_cid = <h:outputText value="&quot;?refresh=true&amp;cid=#{registerForm.countryId}&quot;" escape="false"/>;
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		var general_terms_link = <h:outputText value="&quot;#{applicationData.getHomePageUrl()}jsp/agreement.jsf&quot;" escape="false"/>;
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
		var general_terms_link = <h:outputText value="&quot;#{applicationData.getHomePageUrl()}jsp/agreement_et.jsf&quot;" escape="false"/>;
	</h:panelGroup>
	
	var binaryOptionsKnowledgeAfterYesLink = <h:outputText value="&quot;#{applicationData.getHomePageUrl()}jsp/pages/capital_questionnaire.jsf&quot;" escape="false"/>;
	var binaryOptionsKnowledgeAfterNoLink = <h:outputText value="&quot;#{applicationData.getHomePageUrl()}jsp/trading-academy.jsf&quot;" escape="false"/>;
	var capitalQuestionnaireWeightLink = <h:outputText value="&quot;#{applicationData.getHomePageUrl()}jsp/trade_binary_options.jsf&quot;" escape="false"/>;
	
	var isHomePage = false;
	var context_path = <h:outputText value="&quot;#{facesContext.externalContext.requestContextPath}&quot;" escape="false" />;
	
	var image_context_path_clean = <h:outputText value="&quot;#{applicationData.imagesPath}&quot;" escape="false" />;
	var image_context_path = <h:outputText value="&quot;#{applicationData.imagesPath}/#{applicationData.skin.style}&quot;" escape="false" />;
	var image_context_path_lng = <h:outputText value="&quot;#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}&quot;" escape="false" />;
	var skinId = #{applicationData.skinId};
	var userLanguage = <h:outputText value="&quot;#{applicationData.userLocale.language}&quot;" escape="false" />;
	var firstTimeVisit=<h:outputText value="&quot;#{applicationData.firstVisitAO}&quot;" escape="false" />;
	var sessionUtcOffset = <h:outputText value="&quot;#{commonUtil.utcOffsetValue}&quot;" escape="false" />;
	var livePage = false;
	var userInfo = {
		id:#{user.id},
		balancePlus: (#{user.balancePlus}/100)
	}
	var isETRegulation = <h:outputText value="#{applicationData.isETRegulation()}" escape="false" />;
	var aoQuestionnaireSubmitted = <h:outputText value="#{applicationData.aoQuestRegulationRes()}" escape="false" />;
	var aoRegulationDone = <h:outputText value="#{userRegulationForm.isAORegulationDone()}" escape="false" />;
	var isLive = #{applicationData.isLive}
	var cancelInvTimeOut = #{commonUtil.getProperty("cancel.seconds.client")};

	
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		userInfo.firstName = <h:outputText value="&quot;#{user.firstName}&quot;" escape="false" />;
		userInfo.lastName = <h:outputText value="&quot;#{user.lastName}&quot;" escape="false" />;
		userInfo.country = <h:outputText value="&quot;#{user.country.name}&quot;" escape="false" />;
		userInfo.countryId = <h:outputText value="&quot;#{user.country.id}&quot;" escape="false" />;
		userInfo.gender = <h:outputText value="&quot;#{user.gender}&quot;" escape="false" />;
		var acceptSmsMessage = <h:outputText value="&quot;#{msgs['investment.settle.sms.active']}&quot;" escape="false" />;
		userInfo.isNeedChangePassword = <h:outputText value="#{user.isNeedChangePassword}" escape="false" />;
	</h:panelGroup>
	
	var txt_loading = <h:outputText value="&quot;#{msgs['binary0100.mainarea.loading']}&quot;" escape="false" />;
	// calendar variables
	var calMonthNames = new Array(<h:outputText value="#{msgs['calendar.monthNames']}" escape="false" />);
	var	calMonthAbbreviations = new Array(<h:outputText value="#{msgs['calendar.monthAbbreviations']}" escape="false" />);
	var	calDayHeaders = new Array(<h:outputText value="#{msgs['calendar.dayHeaders']}" escape="false" />);
	var	calToday = <h:outputText value="#{msgs['calendar.today']}" escape="false" />;
	var calDir = <h:outputText value="&quot;#{applicationData.pageDirection}&quot;" escape="false" />;
	document.domain = <h:outputText value="&quot;#{applicationData.domainUrl}&quot;" escape="false" />;
	//clock
	var serverTime = #{applicationData.timeMilis};
	var serverTimeOffset = serverTime-new Date().getTime();
	var dstOffset = #{applicationData.dstOffset};
	
	var marketsDisplayName = <h:outputText value="#{applicationData.displayMarketsBySkinId}" escape="false" />;
	var marketsName = <h:outputText value="#{applicationData.marketsNamesAndId}" escape="false" />;
	
	var bundle_msg_today = <h:outputText value="&quot;#{msgs['investment.time.today']} &quot;" escape="false" />;
	var currencySymbol = <h:outputText value="&quot;#{applicationData.userOrRealCurrencySymbol}&quot;" escape="false" />;
	var currencyId = #{!empty facesContext.externalContext.remoteUser?user.currencyId:applicationData.skin.defaultCurrencyId}
	var currencyDecimalPoint = #{applicationData.currencyDecimalPointDigits};
	var isLeftCurrencySymbol = #{applicationData.currencyLeftSymbol};
	var submitBtnNormalImg = <h:outputText value="&quot;#{applicationData.imagesPath}/#{applicationData.skin.style}/buy_b.png&quot;" escape="false" />;
	var submitBtnSubmittingImg = <h:outputText value="&quot;#{applicationData.imagesPath}/#{applicationData.skin.style}/processing.gif&quot;" escape="false" />;
	var marketMenuError= <h:outputText value="&quot;#{msgs['market.menu.error']}&quot;" escape="false" />;
	var suspendMsgUpperLine = new Array(
		<h:outputText value="&quot;#{msgs['suspend.upperline1']}&quot;" escape="false" />,
		<h:outputText value="&quot;#{msgs['suspend.upperline2']}&quot;" escape="false" />,
		<h:outputText value="&quot;#{msgs['suspend.upperline3']}&quot;" escape="false" />,
		<h:outputText value="&quot;#{msgs['suspend.upperline4']}&quot;" escape="false" />
	);
	var suspendMsgLowerLine = new Array(
		<h:outputText value="&quot;#{msgs['suspend.lowerline1']}&quot;" escape="false" />,
		<h:outputText value="&quot;#{msgs['suspend.lowerline2']}&quot;" escape="false" />,
		<h:outputText value="&quot;#{msgs['suspend.lowerline3']}&quot;" escape="false" />,
		<h:outputText value="&quot;#{msgs['suspend.lowerline4']}&quot;" escape="false" />
	);
	var optionPlus_openAsset = <h:outputText value="&quot;#{msgs['CMS.optionPlus.text.info_openAsset']}&quot;" escape="false" />;
	var tradingPage = true;
	var isMobileParm = false;
	var hasFlash  = true;
	var portrait = false;
	var showCnacelInv = #{user.showCancelInvestment};
	var selectorRetunrPct=<h:outputText value="&quot;#{msgs['selector.return.pct']}&quot;" escape="false" />;
	var selectorAboveBelowPct=<h:outputText value="&quot;#{msgs['selector.return.above.below']}&quot;" escape="false" />;
	
	var serverOffsetMillis = #{applicationData.timeMilis} - new Date().getTime();
	var profitLine_pop_dim = [#{(applicationData.skinId != 1)?913:981},#{(applicationData.skinId != 1)?565:520}];
	var marketsDecimalPoint = #{applicationData.marketsDecimalPoint};
	var chartHistory = [];
	
	// Lightstreamer fields
	var skin_group_id = #{applicationData.getSkin().skinGroup.id};
	var level_skin_group_id = 'LEVEL_' + skin_group_id;
	var level_color = 'CLR_' + skin_group_id;
	var insurance_current_level = 'INS_CRR_LEVEL_' + skin_group_id;
	var ao_calls_trend = '#{applicationData.skinId == 1 ? "ET_CALLS_TREND" : "AO_CALLS_TREND"}';
	var commsionFee = parseFloat('#{feesForm.getOptionPlusCommissionFee(false)}');
	var commsionFeeWithSign = '#{feesForm.getOptionPlusCommissionFee(true)}';
	var group = [];
	var profitLineBoxId = 0;
	var defaultInvest = <h:outputText value="&quot;#{!empty facesContext.externalContext.remoteUser?commonUtil.displayAmountUI(user.defaultAmountValue, false, user.currencyId):commonUtil.displayAmountUI(applicationData.getLogoutDefaultAmountValue(), false, applicationData.skin.defaultCurrencyId)}&quot;" escape="false" />;
	defaultInvest = defaultInvest.replace(/,/g,'').replace(/ /g,'');
	var isHasDeposits = #{user.isHasDeposits()};
	

	<t:saveState value="#{marketsListForm}" />
	var returnRefund_all = [];
	<c:forEach items="${marketsListForm.returnRefunSelectorStatic}" var="SelectorAll">
		returnRefund_all[#{SelectorAll.selectorID}] = {'profit':#{SelectorAll.returnSelector},'refund':#{SelectorAll.refundSelector}}
	</c:forEach>
	var userLogin = #{!empty facesContext.externalContext.remoteUser};
	var israelMarkets = new Array(#{applicationData.israelMarkets});
	// End of lightsreamer fields
	
	//TODO academy - this value is not moved to NG
	var vod_status = '#{academyForm.userStatus}';
	//moved to NG start
	var academy_language = 'english_uk'; 
	switch(skinId){
		case 1:academy_language='hebrew';break;
		case 2:
		case 16:academy_language='english_uk';break;
		case 3:academy_language='turkish';break;
		case 5:
		case 18:academy_language='spanish';break;
		case 8:
		case 19:academy_language='german';break;
		case 9:
		case 20:academy_language='italian';break;
		case 10:academy_language='russian';break;
		case 12:
		case 21:academy_language='french';break;
		case 15:academy_language='chinese';break;
	}
	//moved to NG end
	if (isLive) {
		var mixPanelToken = '3bdfd7b2e9c5f2c6f5ed0307782c1e43';
	} else {
		var mixPanelToken = '1a3017471b3e1efa0a0ced00e0b507e1';
	}
	
	var tournaments_txt_leaderboard = <h:outputText value="&quot;#{msgs['CMS.tournaments.leaderboard']}&quot;" escape="false" />;
	var tournaments_txt_leaderboard_is_updated_every = <h:outputText value="&quot;#{msgs['CMS.tournaments.leaderboard_is_updated_every']}&quot;" escape="false" />;
	var tournaments_txt_ranking = <h:outputText value="&quot;#{msgs['CMS.tournaments.ranking']}&quot;" escape="false" />;
	var tournaments_txt_name = <h:outputText value="&quot;#{msgs['CMS.tournaments.name']}&quot;" escape="false" />;
	var tournaments_txt_country = <h:outputText value="&quot;#{msgs['CMS.tournaments.country']}&quot;" escape="false" />;
	var tournaments_txt_total = <h:outputText value="&quot;#{msgs['CMS.tournaments.total']}&quot;" escape="false" />;
	
	var balanceCallTypes = {
		total: 1,//CALL_TOTAL_AMOUNT_BALANCE
		open_amount: 2,//CALL_OPEN_INVESTMENTS_AMOUNT_BALANCE
		settled_amount: 3,//CALL_SETTLED_INVESTMENTS_AMOUNT_BALANCE
		settled_return: 4//CALL_SETTLED_INVESTMENTS_RETURN_BALANCE
	}
	var aoJsonUrl = <h:outputText value="&quot;#{commonUtil.getConfig('web.jsonService.url')}&quot;" escape="false" />;
	var commonService = '/CommonService';
	
	var optimoveActive = <h:outputText value="#{applicationData.isLive}" escape="false" />;
	var optimoveTid = 'e6d329373bfb6eb36a22036097673bb059c4c348c2e8dd85dcd75de1071072a9';
	var optimoveEvents = {
		login: 1,
		pageVisit: 3,
		loss: 5,
		win: 6,
		deposit: 7,
		withdraw: 8,
		trade: 9
	}

	var docsSelectTypeError='<h:outputText value="#{msgs['CMS.documents.files.file.select_type']}" escape="false" />';
	
	var predefValues = [
		<t:dataList value="#{!empty facesContext.externalContext.remoteUser?user.predefValues:applicationData.getLogoutDefaultPredefValues()}" var="values">
			{predefValue: parseFloat(('#{commonUtil.displayAmountUI(values.predefValue, false, !empty facesContext.externalContext.remoteUser?user.currencyId:applicationData.skin.defaultCurrencyId)}').replace(/,/g,''))},
		</t:dataList>
	];
	
	
	var skinRegulated = #{commonUtil.skinRegulated};
	
	var livePersonSessionVars = {
		cstatus: '#{user.getStatusTxt()}',
		ctype: '#{user.getRankTxt()}',
		customerId: '#{user.getId()}',
		registrationDate: '#{user.getTimeCreatedTS()}'
	};
	
	
	
	var txts = {
		binaryOption: <h:outputText value="&quot;#{msgs['CMS.lastLevels_strip.label.header.lastlevels.binaryOptions']}&quot;" escape="false" />,
		binary0100: <h:outputText value="&quot;#{msgs['header.lastlevels.binary.0100']}&quot;" escape="false" />,
		optionPlus: <h:outputText value="&quot;#{msgs['menuStrip.option.plus']}&quot;" escape="false" />,
		bubbles: <h:outputText value="&quot;#{msgs['CMS.trade_menu_strip.label.bubbles']}&quot;" escape="false" />,
		dynamics: <h:outputText value="&quot;#{msgs['CMS.trade_menu_strip.label.dynamics']}&quot;" escape="false" />,
		day: <h:outputText value="&quot;#{msgs['showOff.sentence.day']}&quot;" escape="false" />,
		days: <h:outputText value="&quot;#{msgs['showOff.sentence.days']}&quot;" escape="false" />,
		hours: <h:outputText value="&quot;#{msgs['showOff.sentence.hours']}&quot;" escape="false" />,
		minutes: <h:outputText value="&quot;#{msgs['showOff.sentence.minutes']}&quot;" escape="false" />
	}
	
	var requestURI = '#{request.requestURI}';
	
	//TODO NEW AO - this shoud come form some json call
	var minFirstDeposit = '#{applicationData.minFirstDeposit}';
	var faxNumberMsg = '#{applicationData.getSupportFax()}';
	
	var countries = {
		spain: 192
	}

</f:view>