<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitleInner">
		<div class="subhead" align="center">
			<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.creditcards.edit.delete']}" />
		</div>
	</ui:define>
<ui:define name="content">

<t:saveState value="#{cardsForm}" />
    <h:form id="cardsForm">
        <h:inputHidden value="#{visit.generate}" />
        <h:inputHidden value="#{visit.saveToken}" />
        <div id="mainDiv" class="pages_main_div_80">
	        <div class="left_center width_100_prc" align="center">
	        	<div>
		            <h:outputText escape="false" styleClass="pages_text" value="#{msgs['ccdelete.approve.question1']} #{msgs['ccdelete.approve.question']} #{user.deleted4digitCard} ?" />
					<br/><br/>
					<div class="center_align">
						<t:commandButton label="cancellink" id="cancellink" styleClass="nav_button_gray"
								value="#{msgs['button.cancel']}" onclick="return myfaces.oam.submitForm('cardsForm','cardsForm:hiddencancel');" />
						<h:commandLink action="#{cardsForm.notApprovedDelete}" id="hiddencancel" style="display:none"/>
						&#160;&#160;
						<t:commandButton label="savelink" id="savelink" styleClass="nav_button_blue" style="width:80px;"
								value="#{msgs['button.continue']}" onclick="return myfaces.oam.submitForm('cardsForm','cardsForm:hiddensave');" />
						<h:commandLink action="#{cardsForm.approvedDelete}" id="hiddensave" style="display:none"/>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</ui:define>
</ui:composition>

</html>
