<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['personal.jsf.title']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['header.personal']}" />
	</div>
</ui:define>
<ui:define name="content">
	<div id="mainDiv" align="left" class="pages_main_div_80">
		<h:outputText styleClass="text float_left"  style="width:100%;" value="#{msgs['user.update.success']}"/>
       	<input onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/trade_binary_options.jsf'" name="continueButton" type="button" class="nav_button_gray" value="#{msgs['button.continue']}" />
	</div>
</ui:define>
</ui:composition>
</html>