
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<ui:composition template="/mobile/templates/template_general.xhtml">
		<ui:define name="head">
			<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel.css" type="text/css" media="all" />
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel-min.js?v=1.4"></script>
		</ui:define>
		<ui:define name="windowtitle">
			#{msgs['transactions.jsf.title']}
		</ui:define>
		<ui:define name="pageTitle">
			#{msgs['header.myaccount']}
		</ui:define>
		<ui:define name="leftSideHeader">
			<ui:include src="/mobile/backToPage.xhtml" >
				<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
			</ui:include>
		</ui:define>
		<ui:define name="pageTitleInner">
			<div class="subhead" align="center">
				<h:outputLabel value="#{msgs['header.transactions']}" />
			</div>
		</ui:define>
		<ui:define name="content">
			<t:saveState id="tranform" value="#{transactionsForm}" />
				<h:form id="transactionsForm">
					<div class="width_100_prc">
						<h:panelGroup>
							<div class="date_select_div_min float_left" onclick="showDatePicker(#{applicationData.androidApp},'transactionsForm:fromDate','transactionsForm:dateSpan');">
								<h:outputText style="margin-left:7px;" id="dateSpan" value="#{transactionsForm.from}">
									<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
								</h:outputText>
							    <h:inputHidden id="fromDate" name="fromDate" value="#{transactionsForm.from}">
							    	<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
							    </h:inputHidden>
							</div>

							<div class="float_left" style="margin: 3px">
								<h:outputLabel styleClass="lable" for="toDate" value="-"/>
							</div>

							<div class="date_select_div_min float_left" onclick="showDatePicker(#{applicationData.androidApp},'transactionsForm:toDate','transactionsForm:dateSpan1');">
								<h:outputText style="margin-left:7px;" id="dateSpan1" value="#{transactionsForm.to}">
									<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
								</h:outputText>
							    <h:inputHidden id="toDate" name="toDate" value="#{transactionsForm.to}">
							    	<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
							    </h:inputHidden>
							</div>
							<div class="float_right">
								<t:commandButton label="searchBtn" id="searchBtn"
									styleClass="nav_button_blue_75" value="#{msgs['button.do']}"
									onclick="return myfaces.oam.submitForm('transactionsForm','transactionsForm:hiddenbtn');" />
								<h:commandLink action="#{transactionsForm.updateTransactionsList}" id="hiddenbtn" style="display:none" />

							</div>
							<div class="div_clear_float" style="height: 4px;">
							</div>

							<div>
								<h:panelGrid rendered="#{transactionsForm.listSize==0}" columns="3" border="0" width="100%" cellpadding="0" cellspacing="0" >
								 	<h:panelGrid align="center" columns="1" border="0" >
								 		<t:outputText styleClass="pages_text" value="#{msgs['transactions.emptylist']}" />
							 		</h:panelGrid>
							   	</h:panelGrid>

						   		<t:dataTable id="data"
					                styleClass="width_100_prc"
					                headerClass="table_header_font_11pt_white capitalize"
					                footerClass=""
									rowClasses="table_row_11pt_bg_white, table_row_11pt_bg_blue"
					                columnClasses="center_align, center_align ,center_align"
					                var="v"
					                value="#{transactionsForm.transactionsList}"
					                preserveDataModel="false"
					                rows="8"
					                renderedIfEmpty="false"
					                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#e1e1e1'"
									rowOnMouseOut="this.style.backgroundColor=old"
									align="center"
									cellpadding="0"
									cellspacing="0"
					           >
				           			<h:column>
						               	<f:facet name="header">
						               		<span class="font_size_10">#{msgs['transactions.date']}</span>
						               	</f:facet>
						               	<span class="font_size_10"><t:outputText escape="false" value="#{v.timeCreatedTxt}" /></span>
						           	</h:column>

						           	<h:column>
				               			<f:facet name="header">
						               		<span class="font_size_10">#{msgs['transactions.desc']}</span>
				               			</f:facet>
							   			<t:graphicImage value="/images/#{applicationData.userLocale.language}_#{applicationData.skinId}/x.gif" rendered="${v.statusId == 8 || v.statusId == 12 || v.statusId == 13}" onmouseover="cancelHint.show(0, this)" onmouseout="cancelHint.hide()"/>
				               			<span class="font_size_10"><h:outputText value="#{v.typeNameTxt}" /></span>
				           			</h:column>

				           			<h:column>
				               			<f:facet name="header">
				               				<span class="font_size_10">
												#{msgs['investments.amount']}
											</span>
						               </f:facet>
				               			<h:outputText rendered="#{v.credit}" value="#{v.amountTxt}" styleClass="color_green font_size_10" />
				               			<h:outputText rendered="#{!v.credit}" value="#{v.amountTxt}" styleClass="color_red font_size_10" />
				           			</h:column>
								</t:dataTable>

						        <h:panelGrid rendered="#{transactionsForm.listSize>8}" columns="1" border="0" style="text-align:center; width:100%; background-color: #333;" align="center" >
							        <t:dataScroller id="scroll_1"
							        	for="data"
							        	fastStep="10"
								        pageCountVar="pageCount"
								        pageIndexVar="pageIndex"
								        styleClass=""
								        paginatorActiveColumnClass="paginator_active"
								        paginatorColumnClass="paginator_cols"
								        paginatorTableClass="paginator"
								        paginatorRenderLinkForActive="false"
								        paginator="true"
								        paginatorMaxPages="9"
								        immediate="true"
								        rendered="#{transactionsForm.listSize>8}"
								        style="align:center; width:100%;"
								        >
											<ui:include src="/mobile/templates/scroller_facets.xhtml"/>

						    		</t:dataScroller>
						    	</h:panelGrid>

							</div>
						</h:panelGroup>
					</div>
		        </h:form>
		</ui:define>
	</ui:composition>
</html>