<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<title ng-bind-html="msgs['metadata-title'][metadataTitle]">anyoption.com</title>
	
	<base href="./mobile_ng/" />
	
	<link rel="image_src" href="app/img/logo-share.png" />
	<meta property="og:title" content="anyoption - anyone can trade" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://anyoption.com" />
	<meta property="og:image" content="https://www.anyoption.com/minisite_ng/app/img/logo-share.png" />
	<meta property="og:description" content="" />
	<link rel="shortcut icon" href="app/img/favicon.ico" />
	<style>
		* {box-sizing: border-box;}
		html, body{width:100%;height:100%;padding:0;margin:0;}
		.ng-loading-holder{width:100%;height:100%;background:rgba(5,26,40,1);position:fixed;z-index:100;top:0;left:0;transition: all 1000ms;}
		.ng-loading-holder.loaded{background:rgba(5,26,40,0);visibility:hidden;}
		.ng-loading-logo{width:25%;margin:auto;display:block;transition:all 1000ms;transform:translate(0, 35vh);opacity:1;}
		.ng-loading-holder.loaded .ng-loading-logo{transform:translate(0, -5vh);opacity:0;}
		.ng-loading-img{background:url('app/img/svg/processing-deposit-small.svg');width:50px;height:50px;margin:auto;transition: all 1000ms;transform:translate(0, 45vh);opacity:1;}
		.ng-loading-holder.loaded .ng-loading-img{transform:translate(0, 105vh);opacity:0;}
	</style>
</head>
<body>
	<div class="ng-loading-holder" ng-class="{ 'loaded': ngLoaded }">
		<img src="app/img/svg/logo.svg" class="ng-loading-logo" />
		<div class="ng-loading-img"></div>
	</div>
	
    <noscript id="deferred-styles">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
		
		<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
		<link rel="stylesheet" type="text/css" href="app/css/styles.css?version=cvsTimeStamp"/>
		<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    </noscript>
	
    <script>
		var loadDeferredStyles = function() {
			var addStylesNode = document.getElementById("deferred-styles");
			var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);
		};
		var raf = window.msRequestAnimationFrame || window.requestAnimationFrame || window.mozRequestAnimationFrame ||
			window.webkitRequestAnimationFrame;
		if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
		else window.addEventListener('load', loadDeferredStyles);
    </script>
	
	
	<div class="max-height {{bodyClass}}" ui-view ng-class="{loggedIn: mCtrl._u.settings.loggedIn, 'loading-state': !stateLoaded}"></div>
	
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>


	<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
	<script src="//rubaxa.github.io/Sortable/ng-sortable.js"></script>

	<script async src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-all-min.js"></script>

	<script src="./libs/libs.js?version=cvsTimeStamp"></script>

	<script src="./app/js/fnc.js?version=cvsTimeStamp"></script>
	
	<noscript>
		<div class="alert-block">
			<h4 class="alert-heading">Warning!</h4>
			You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
		</div>
	</noscript>
</body>
</html>