/****** Reset *******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****** Close Reset *******/

em {
	font-style:italic;
}
strong {
	font-weight:bold;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background: #ffffff url(../images/bg.png) left top repeat-x;
	color: #093755;
	font-size: 14px;
	width: 100%;
}
#page {
	width: 1100px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
}
#main {
	width:100%;
	height: auto;
	float: left;
	clear: both;
}
#logo {
	width: 908px;
	padding: 10px 0 0 112px;
	text-align: left;
	height: 54px;
	z-index: 10;
}
#title {
	padding: 14px 0 9px;
	margin: 0 auto;
}
h1 {
	font-size: 34px;
	font-weight: bold;
	margin: 15px 0 0 0;
	padding: 0px;
}
h2 {
	font-size: 39px;
	color:#157aba;
	margin: 0 35px 18px 0;
	padding: 0px;
	text-align: left;
	font-weight:bold;
}

#content {
	width: 1000px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
#content_top {
	float: left;
	width: 898px;
	color:#fff;
	text-align:left;
	padding:10px 30px 20px 22px;
	margin:0 80px;
	background:url(../images/bg_content.png);
}

#content_top_left {
	padding-bottom:20px;
	float:left;
	width:610px;
	background:url(../images/arrow.png) no-repeat right 30px;
}

#content_top p {
	font-size:12px;
	line-height:18px;
	font-weight:normal;
	padding-top:10px;
	padding-bottom:8px;
	width:400px;
}

#bg_container {
	width: 100%;
	margin: 0 auto;
	postion: relative;
	clear: both;
	background:url(../images/bg_header.jpg) center 64px no-repeat;
}
#content_btm_bg{
	background:url(../images/shadow.png) no-repeat center top;
	width:1100px;
}
#content_btm {
	font-size:18px;
	color:#093755;
	width: 990px;
	background: #FFF url(../images/bg_btm.png) repeat-x center top;
	margin: 0 47px;
	padding: 20px 0 20px 16px;
}

#content_btm img {
	padding:10px 0px 25px 33px;
	margin:0;
	border:0;
}

.form_block {
	width:250px;
	height:372px;
	padding:20px 0px 20px 27px;
	float:right;
	color:#157aba;
	background:url(../images/new_form_border_bg.png) no-repeat left top;
}

.form_block h1 {
	color:#093755;
	font-size:19px;
	line-height:23px;
	font-family:Tahoma, Geneva, sans-serif;
	padding:0 0 12px;
	margin:0;
}

.form_cl,
.form_cl2, 
.form_cl3,
.form_cl4 {
	float: left;
	width: 202px;
	padding-bottom:4px;
}
.submin_swf {
	padding-left:6px;
}
input {
	background: transparent;
	color: #093755;
	text-align: left;
	font-size: 12px;
	height: 24px;
	border:none;
}
.input1, .input4 {
	background-image: url(../images/bg_input.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 202px;
	height: 20px;
	overflow: hidden;
	margin-top: 3px;
	padding-bottom: 3px;
	float: left;
	border:none;
}
.input1 input {
	height: 19px;
	padding: 2px 5px;
	width: 202px;
	margin:0;
}

.input4 input {
	height: 19px;
	padding: 2px 5px;
	margin::0;
	width: 202px;
}
.input2 {
	float: left;	
	background-image: url(../images/bg_input_phone.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 58px;
	height: 15px;
	overflow: hidden;
	margin-top: 3px;
	padding-bottom: 8px;
	margin-right: 5px;
	float: left;
}
.input2 input {
	height: 19px;
	padding: 2px 5px;
	margin:0;
	width: 58px;
}
.input3 {	
	background-image: url(../images/bg_input_phone.gif);
	background-position: -63px 0;
	background-repeat: no-repeat;
	width: 139px;
	height: 15px;
	overflow: hidden;
	margin-top: 3px;
	padding-bottom: 8px;
	float: left;
}
.input3 input {
	border: medium none;
	height: 19px;
	padding: 2px 5px;
	margin:0;
	width: 139px;
}
.agree {
	float: left;
	margin-right:8px;
	color:#7a7a7a;
	height:16px;
	padding-bottom:8px;
}
.agree_text {
	color:#7a7a7a;
	font-size:11px;
	line-height:normal;
	padding-bottom:4px;
}
.secured {
	color: #7a7a7a;
	font-size: 11px;
	background: transparent url(../images/icon_secure.png) no-repeat left top;
	padding-left: 20px;
	padding-top:2px;
	height: 15px;
	float: left;
}

#footer {
	text-align: center;
	width: 100%;
	background: #edf7fe url(../images/bg_footer.png) left top repeat-x;
	font-size: 9px;
}
#footer .icons-container {
	height: 30px;
	width:1000px;
	margin:0 auto;
	padding-top:30px;
}
#footer .icons-container .icons {
	width:360px;
	padding-left:20px;
	margin:0 auto;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 20px 0;
	line-height: 16px;
	position: relative;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}

/****** Lang *****/
/****** Close Lang *****/

/****** Regulation *****/

#footer .regulated img {
	float:right;
	margin-top:7px;
}
#footer .regulated p {
	float:left; margin-top:13px;
}
#footer .regulated div { margin:0 auto; width:937px; height: 40px; }
#footer {  }

#footer .regulated {
	font-size:14px;
	height: 40px;
	margin:0 auto;
	width: 960px;
	padding-bottom:10px;
	padding-top:20px;
	color:#999999;
	border-bottom: solid 1px #e5e5e5;
}
#title { padding:0; }
.form_block h1 { font-size:18px; }
.agree_text { font-size:9px; }
.form_cl4 { width: 216px; margin-left:-6px; }
#logo .reg-logo { background: url(../../images/regulated-logo.png) no-repeat; height:67px; padding:17px 0 0 55px; position:absolute; right:25px; top:6px; z-index:1000; }
.reg-logo p { font-size:15px; color:#093755; }
#logo { position:relative; }


/******************************************************************************************NEW REGFORM*********************************************************************************/
/*short reg hp*/
#headers_field {
    margin: 14px 0 4px;
}
.funnel_h1 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.funnel_subtitle {
    color: #FFD400;
    font-size: 11px;
}
.home_shortReg {
    margin-top: 5px;
    width: 250px;
}
.home_shortReg .funnel_hold {
    width: 212px;
}
.home_shortReg .funnel_inp {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.21);
    border: 1px solid #BDCEDA;
    border-radius: 3px 3px 3px 3px;
    color: #6E8695;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 9px;
    padding: 0 0 2px 2px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 228px;
}
.home_shortReg .funnel_inp.active {
    border: 1px solid #859199;
    color: #093755;
    text-transform: none;
}
.home_shortReg .funnel_inp.error {
    border: 1px solid #E97F02;
    color: #E97F02;
    text-transform: none;
}
.home_shortReg .funnel_inp.correct {
    border: 1px solid #BDCEDA;
    color: #6E8695;
    text-transform: none;
}
.home_shortReg .funnel_inp_phone {
    width: 142px;
}
.home_shortReg .funnel_names_holder, .home_shortReg .funnel_email_holder, .home_shortReg .funnel_phone_holder, .home_shortReg .funnel_password_holder, .home_shortReg .funnel_password_retype_holder {
    position: relative;
    z-index: 2;
}
.home_shortReg .funnel_phone_holder_drop {
    z-index: 3;
}
.home_shortReg .funnel_phone_code {
    float: left;
    width: 30px;
}
.home_shortReg .funnel_phone {
    float: right;
    width: 170px;
}
.home_shortReg .btn_open_account {
    background: url("../images/btn_open_account.png") no-repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h {
    background-position: 0 0;
    display: block;
    height: 50px;
    left: -4px;
    margin: 5px 0;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 231px;
}
.home_shortReg .btn_open_account_h .rs {
    background-position: right -51px;
    display: block;
    height: 50px;
    padding-right: 10px;
}
.home_shortReg .btn_open_account_h .cs {
    background-position: 0 -104px;
    background-repeat: repeat-x;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 1px;
    padding-top: 24px;
    text-align: center;
    text-shadow: 1px 1px 2px #926A01;
}
.home_shortReg a.btn_open_account_h:hover {
    background-position: 0 -158px;
}
.home_shortReg a.btn_open_account_h:hover .rs {
    background-position: right -211px;
}
.home_shortReg a.btn_open_account_h:hover .cs {
    background-position: 0 -264px;
}
.home_shortReg a.btn_open_account_h.disabled {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg .btn_open_account_h.disabled .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg .btn_open_account_h.disabled .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
    text-shadow: none;
}
.home_shortReg a.btn_open_account_h.disabled:hover {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
}
.home_shortReg .error_messages {
    color: #E97F02;
}
.home_shortReg .error {
    border: 1px solid #E97F02;
}
.home_shortReg .funnel_chkbx {
    display: block;
    margin-bottom: 5px;
    position: relative;
}
.home_shortReg .funnel_chkbx_inp {
    margin-left: 0;
}
.home_shortReg .funnel_terms_h {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -17px transparent;
    color: #093755;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding-left: 20px;
}
.home_shortReg .funnel_terms_h.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -32px transparent;
}
.home_shortReg .funnel_terms_h2 {
    color: #093755;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    margin: 5px 0;
}

#DE .home_shortReg .funnel_terms_h2 { font-size: 11px; }

.home_shortReg .funnel_terms_h_in {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -18px transparent;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
}
.home_shortReg .funnel_terms_h_in.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -33px transparent;
}
.home_shortReg .funnel_terms_h2 span {
    color: #0284D6;
    cursor: pointer;
    text-decoration: underline;
}
.home_shortReg .funnel_terms {
    display: none;
}
.home_shortReg .funnel_drop_h {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.21);
    border: 1px solid #BDCEDA;
    border-radius: 3px 3px 3px 3px;
    color: #6E8695;
    display: inline-block;
    height: 21px;
    margin-bottom: 9px;
    padding: 5px 3px 0 2px;
    position: relative;
    vertical-align: middle;
    width: 74px;
    z-index: 2;
}
.home_shortReg .funnel_drop_selected {
    background: url("../images/reg_elms.png") no-repeat scroll right 2px transparent;
    color: #6E8695;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
    margin-top: -2px;
    overflow: hidden;
}
.home_shortReg .funnel_drop_country {
    float: left;
    font-size: 12px;
    margin-top: 4px;
}
.home_shortReg .funnel_drop_countryId {
    float: right;
    font-size: 12px;
    margin: 4px 20px 0 0;
    text-align: right;
}
.home_shortReg .funnel_drop_ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #859199;
    display: none;
    left: -1px;
    list-style: none outside none;
    margin: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 26px;
}
.home_shortReg .funnel_drop_ul li {
    color: #093755;
    cursor: pointer;
    display: block;
    padding: 1px 2px;
    white-space: nowrap;
}
.home_shortReg .funnel_drop_ul li:hover, .home_shortReg .funnel_drop_ul li.active {
    background: none repeat scroll 0 0 #92ACC0;
    color: white;
}
.home_shortReg .funnel_drop_h.active {
    border: 1px solid #859199;
    color: #093755 !important;
}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul {
    border: 1px solid #859199;
    display: block;
}
.home_shortReg .funnel_names_error_h {
    position: absolute;
    right: 3px;
    top: 5px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_names_error_h_chb {
    position: absolute;
    right: 3px;
    top: 4px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_error_hide {
    display: none;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_error_bad {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -50px transparent;
    display: inline-block;
    height: 11px;
    margin-top: 4px;
    width: 11px;
}
.home_shortReg .funnel_error_good {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -61px transparent;
    display: inline-block;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_tooltip_h {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #093755;
    display: none;
    padding: 5px;
    position: absolute;
    right: -194px;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 170px;
}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -73px transparent;
    display: block;
    height: 18px;
    left: -14px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_tooltip_h_left {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #4B7A98;
    display: none;
    font-size: 10px;
    left: -167px;
    line-height: 13px;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 140px;
}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -94px transparent;
    display: block;
    height: 18px;
    left: 150px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_error_list {
    color: #E97F02;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
    width: 230px;
}
.home_shortReg .funnel_error_list span {
    display: block;
}
.home_shortReg .funnel_names_error_msg_h {
    display: none;
}
.home_shortReg .funnel_inp_first_name {
    width: 83px;
}
.home_shortReg .funnel_inp_last_name {
    width: 136px;
}
funnel_drop_selected.active {
    color: #093755 !important;
}
/*short reg hp end*/
