<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<div id="page">
	<div id="header">
        <div class="info">
            <div class="number">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="allowFullScreen" value="false" />
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="transparent" />
					<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
				</object>
    		</div>
        </div>
        	<div class="logo"></div>
        </div>
        <div id="banner3" style="background:url(#{applicationData.imagesPath}/landing_Contactus/#{type}Full_#{applicationData.userLocale.language}#{google}.jpg) no-repeat;">
			<h:panelGroup rendered="#{type == 'girl'}">
	         	<object id="myId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="390" height="230" style="position: absolute;top: 36px; left:32px;">
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/FullForm_Light_Anim.swf" />
	                <param name="wmode" value="transparent" />
	        		<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/FullForm_Light_Anim.swf" width="390" height="230" wmode="transparent">
					<!--<![endif]-->
					<div>
						<h1>Alternative content</h1>

						<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
					</div>
					<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</h:panelGroup>
			<div class="l_text_box">
				<h:panelGroup rendered="#{type == 'girl'}">
	           		<p><br/>Her işlemde %71'e varan hızlıca gelir elde etmenin tadını çıkarın !</p>
	                <p>"İkili opsiyon ticareti" karmaşık görünebilir ama çevrimiçi kar<br /> etmenin kolay ve hızlı bir yoludur</p>
	                <p>Önde gelen küresel aracı <span class="text_hl">anyoption™</span>, dünya çapında 80'nin<br /> üzerinde aktif sunmaktadır (emtialar, endeksler, hisse senetleri<br /> ve döviz çiftleri).</p>
	                <p>Sadece bir aktif <strong>seçin, fiyatın</strong> yükselip yükselmeyeceğini<br /> <strong>tahmin edin</strong> ve <strong>%71'e varan kazanç</strong> elde edin.</p>
	                <ul class="text_bullets_70_generic">
	                    <li>Öğrenme grafiği yok, herkes için uygun</li>
	                    <li>Uygun fiyat başlangıcı - 100TL  gibi<br /> düşük bir tutarla alım-satım imkanı</li>
	                    <li>Web , iPhone ve android<br /> platformları mevcut</li>
	                </ul>
	                <div class="bottom_line">Öyleyse neden bekleyesiniz,<br /> hemen bir çevrimiçi hesap açın!</div>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{type == 'counter'}">
		        	<span style="font-size:16px;">
						<p>Bunun anlamı, işlem yapmak için  1,000€ 'ınız varsa bunu bir<br /> işlemde  1,700 €'a çevirebilmenizdir.</p>
		                <p>
		                İkili opsiyonlar karmaşık görünebilir ama aslında basittir.<br />
		                 Bir varlık  (örn. altın, petrol, EUR/USD)
						 <strong>seçersiniz</strong> ve <strong> fiyatının <br />
						 yukarı mı aşağı mı</strong> gideceğini <strong>tahmin edersiniz.</strong>
						 <br/>Başarılı yatırım? <strong>%71'e kadar kazanç</strong><br/>
						</p>
		                <ul class="text_bullets_70_generic" style="margin:8px 0;">
		                    <li>Deneyim gerekmez</li>
		                    <li>Öğrenme grafiği yok, herkes için uygun</li>
		                    <li>Uzmanlarımız ücretsiz olarak mevcuttur </li>
		                    <li>100TL  gibi düşük bir tutarla – Bütçenize uygun başlangıç</li>
		                </ul>
		                <div class="bottom_line">Öyleyse neden bekleyesiniz, hemen bir çevrimiçi<br /> hesap açın!</div>
		        	</span>
	        	</h:panelGroup>
            </div>
            <div class="r_text_box_70_generic">
               	<center><h2 style="margin: 5px;">Bilgilerinizi Girin:</h2></center>
            	<img class="title_image" src="#{applicationData.imagesPath}/landing_Contactus/form_title_full2.png" width="339" height="2" alt="title" />
            	<h:form id="registerForm">
	            	<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
		            	<!-- First Name -->
	                	<div class="input_title"><span class="star">*</span> #{msgs['register.firstname']}:</div>
						<div class="input1_70_generic" id="firstName_div">
							<h:inputText name="first_name" maxlength="15" id="firstName" value="#{registerForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
								 validator="#{commonUtil.validateName}" >
							</h:inputText>
						</div>
						<t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Last Name -->
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.lastname']}:</div>
						<div class="input1_70_generic" id="lastName_div">
							<h:inputText name="last_name" maxlength="15" id="lastName" value="#{registerForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
								validator="#{commonUtil.validateName}" >
							</h:inputText>
						</div>
						<t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Email -->
						<div class="input_title"><span class="star">*</span> #{msgs['register.email']}:</div>
						<div class="input1_70_generic" id="email_div">
							<h:inputText maxlength="50" id="email" value="#{registerForm.email}" required="true"  name="email" vLabel="register.email" label="#{msgs['register.email']}"
								onblur= "validateEmail();insertUpdateRegisterAttempts('','','');" validator="#{commonUtil.validateEmailFromUnix}">
								<f:validator validatorId="org.apache.myfaces.validator.Email"/>
							</h:inputText>
						</div>
						<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Mobile -->
						<h:panelGroup rendered="#{applicationData.skinId == 10 || applicationData.skinId == 5}">
		                    <div onmouseover="showInfo(this);" onmouseout="hideInfo(this);">
		                        <div class="info_button"></div>
			                        <div id="info_box" class="info_box"><div class="info_text">
										<h:outputText rendered="#{applicationData.skinId == 10}" value="Пожалуйста, укажите код страны и региона"/>
									 	<h:outputText rendered="#{applicationData.skinId == 5}" value="#{msgs['register.mobilePhone.info']}'"/>
			                        </div>
		                        </div>
		                    </div>
		                </h:panelGroup>
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.mobilephone']}:</div>
	                    <div class="input2_1"><div class="plus">+</div>
	                    	<h:inputText maxlength="4" dir="ltr" id="mobilePhoneCode" value="#{registerForm.mobilePhoneCode}"
	                    			required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onkeydown="return phoneKeys(event);"  name="mobile_c" >
		                    	<f:validateLength minimum='1' maximum='4'/>
		                    </h:inputText>
		                </div>
	                    <div class="input3_70_generic" id="mobilePhone_div">
	                    	<h:inputText name="mobile_n"  maxlength="20" dir="ltr" id="mobilePhone" value="#{registerForm.mobilePhone}" label="#{msgs['register.mobilephone']}"
	                    			required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onblur="insertUpdateRegisterAttempts('','','');">
	                    		<f:validateLongRange/>
	                    		<f:validateLength minimum='7' maximum='20'/>
	                    	</h:inputText>
	                    </div>
						<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Phone -->
	                    <div class="input_title"> #{msgs['register.phone']}:</div>
 						<div class="input2_1"><div class="plus">+</div>
		                    <h:inputText name="additional_phone_c" maxlength="4"  dir="ltr" id="landPhoneCode" value="#{registerForm.landPhoneCode}" onkeydown="return phoneKeys(event);">
						        <f:validateLength minimum='1' maximum='4'/>
		            		</h:inputText>
	                    </div>
	                    <div class="input3_70_generic" id="landLinePhone_div">
	                    	<h:inputText name="additional_phone_n" label="#{msgs['register.phone']}" maxlength="20" dir="ltr" id="landLinePhone" value="#{registerForm.landLinePhone}"  onblur="insertUpdateRegisterAttempts('','','');">
							 	<f:validateLongRange/>
						        <f:validateLength minimum='7' maximum='20'/>
						    </h:inputText>
	                     </div>
						<t:message id="landLinePhone_Error" style="display:none;" for="landLinePhone" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- User Name -->
	                    <div onmouseover="showInfo(this);" onmouseout="hideInfo(this);">
	                        <div class="info_button"></div>
	                        <div id="info_box" class="info_box"><div class="info_text">#{msgs['error.englishandnumbers.only']}</div></div>
	                    </div>
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.username']}:</div>
						<div class="input1_70_generic" id="userName_div">
							<h:inputText name="username" dir="ltr" autocomplete="off" maxlength="15" id="userName" value="#{registerForm.userName}" required="true" vLabel="register.username" label="#{msgs['register.username']}"
									onblur= "validateUserName();" validator="#{commonUtil.validateLettersAndNumbersOnly}" >
								<f:validateLength minimum='6' maximum='15'/>
							</h:inputText>
						</div>
						<t:message id="userName_Error" style="display:none;" for="userName" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Password -->
	                    <div onmouseover="showInfo(this);" onmouseout="hideInfo(this);">
	                        <div class="info_button"></div>
	                        <div id="info_box" class="info_box"><div class="info_text">#{msgs['error.englishandnumbers.only']}</div></div>
	                    </div>
	                    <div class="input_title" id="password_div"><span class="star">*</span> #{msgs['register.password']}:</div>
						<div class="input1_70_generic">
							<h:inputSecret name="password" dir="ltr" maxlength="9" redisplay="true" id="password" value="#{registerForm.password}" required="true" vLabel="register.password" label="#{msgs['register.password']}"
								validator="#{commonUtil.validatePasswordTypeAndSize}">
							</h:inputSecret>
						</div>
						<t:message id="password_Error" style="display:none;" for="password" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Retype password -->
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.retype']}:</div>
						<div class="input1_70_generic" id="password2_div">
							<h:inputSecret dir="ltr" maxlength="9" redisplay="true" id="password2" value="#{registerForm.password2}" required="true" vLabel="register.retype" label="#{msgs['register.retype']}"
							validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
							</h:inputSecret>
						</div>
						<t:message id="password2_Error" style="display:none;" for="password2" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Languages -->
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.language']}:</div>
						<div class="input1_70_generic">
							<div class="select_container">
							    <h:selectOneMenu name="language" id="languagesList" value="#{registerForm.languageId}" required="true">
									<f:selectItems value="#{applicationData.languagesBySkinId}" />
						        </h:selectOneMenu>
						    </div>
	                    </div>
						<!-- Currencies -->
	                    <div onmouseover="showInfo(this);" onmouseout="hideInfo(this);">
	                        <div class="info_button"></div>
	                        <div id="info_box" class="info_box"><div class="info_text">#{msgs['register.currency.info']}</div></div>
	                    </div>
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.currency']}:</div>
						<div class="input1_70_generic">
							<div class="select_container">
					            <h:selectOneMenu disabled="#{applicationData.usSkins}" name="currency" id="currenciesList" value="#{registerForm.currencyId}" required="true">
				               		<f:selectItems value="#{applicationData.currenciesBySkinId}" />
						        </h:selectOneMenu>
						    </div>
	                    </div>
						<!-- Address -->
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.street']}:</div>
						<div class="input1_70_generic" id="street_div">
						    <h:inputText name="street" maxlength="40" id="street" value="#{registerForm.street}" required="true" label="#{msgs['register.street']}" vLabel="register.street"
								validator="#{commonUtil.validateStreet}" >
							</h:inputText>
						 </div>
						<t:message id="street_Error" style="display:none;" for="street" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- City -->
	                    <div onmouseover="showInfo(this);" onmouseout="hideInfo(this);">
	                        <div class="info_button"></div>
	                        <div id="info_box" class="info_box"><div class="info_text">#{msgs['error.englishandnumbers.only']}</div></div>
	                    </div>
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.city']}:</div>
						<div class="input1_70_generic" id="cityNameAO_div">
						    <h:inputText escape="false" maxlength="24" autocomplete="off" id="cityNameAO" name="cityNameAO" value="#{registerForm.cityNameAO}" required="true" vLabel="register.city" label="#{msgs['register.city']}"
								validator="#{commonUtil.validateLettersOnly}">
							</h:inputText>
						</div>
						<t:message id="cityNameAO_Error" style="display:none;" for="cityNameAO" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Postcode -->
	                    <div class="input_title"> #{msgs['register.postcode']}:</div>
						<div class="input1_70_generic">
							<h:inputText name="zip" escape="false" dir="ltr" maxlength="10" id="zipCode" value="#{registerForm.zipCode}" />
						</div>
						<!-- Countries -->
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.country']}:</div>
						<div class="input1_70_generic">
							<div class="select_container">
					            <h:selectOneMenu disabled="#{applicationData.usSkins}" name="country" id="countriesList" value="#{registerForm.countryId}" required="true" onchange="changePhoneCodeByCountry('statesList');" >
			            			<f:selectItems value="#{applicationData.countriesList}" />
					        	</h:selectOneMenu>
					        </div>
	                    </div>
						<!-- States -->
						<div id="statesList">
		                    <div class="input_title"><span class="star">*</span> #{msgs['register.state']}:</div>
							<div class="input1_70_generic">
								<div class="select_container">
						            <h:selectOneMenu name="state"  value="#{registerForm.stateId}" required="true">
							             <f:selectItems value="#{applicationData.statesList}" />
							        </h:selectOneMenu>
							    </div>
		                    </div>
	                    </div>
						 <!-- BirthDay -->
	                    <div class="input_title"><span class="star">*</span> #{msgs['register.birthdate']}:</div>
	                    <div class="input4" id="birthDay_div">
		                    <div class="select_container">
			                	<h:selectOneMenu name="day" id="birthDay" value="#{registerForm.birthDay}" required="true" label="#{msgs['register.birthday']}">
			               			<f:selectItem  itemLabel="#{msgs['register.birthday']}" itemValue="" />
								    <f:selectItems value="#{applicationData.days}" />
								</h:selectOneMenu>
							</div>
	                    </div>
	                    <div class="input4" id="birthMonth_div">
		                    <div class="select_container">
			               		<h:selectOneMenu name="month" id="birthMonth" value="#{registerForm.birthMonth}" required="true" label="#{msgs['register.birthmonth']}">
			               			<f:selectItem  itemLabel="#{msgs['register.birthmonth']}" itemValue="" />
			               			<f:selectItems value="#{applicationData.months}" />
			               		</h:selectOneMenu>
			               	</div>
		                </div>
	                    <div class="input4" style="float:none;" id="birthYear_div">
		                    <div class="select_container">
			               		<h:selectOneMenu name="year" id="birthYear" value="#{registerForm.birthYear}" required="true" label="#{msgs['register.birthyear']}">
			               			<f:selectItem  itemLabel="#{msgs['register.birthyear']}" itemValue="" />
			               			<f:selectItems value="#{applicationData.years}" />
			               		</h:selectOneMenu>
			               	</div>
						</div>
						<t:message id="birthDay_Error" style="display:none;" for="birthDay" replaceIdWithLabel="true" styleClass="error_messages" />
						<t:message id="birthMonth_Error" style="display:none;" for="birthMonth" replaceIdWithLabel="true" styleClass="error_messages" />
						<t:message id="birthYear_Error" style="display:none;" for="birthYear" replaceIdWithLabel="true" styleClass="error_messages" />
						<!-- Gender -->
	                    <div class="input_title" style="vertical-align:middle;float:left;position:relative;top:7px;"><span class="star">*</span> #{msgs['register.gender']}:</div>
	                    <div class="empty_input" id="gender_div">
						    <t:selectOneRadio name="gender" id="gender" value="#{registerForm.gender}" required="true">
			            		<f:selectItem  itemLabel="#{msgs['register.gender.male']}" itemValue="M" />
								<f:selectItem  itemLabel="#{msgs['register.gender.female']}" itemValue="F" />
			            	</t:selectOneRadio>
	                    </div>
						<t:message id="gender_Error" style="display:none;" for="gender" replaceIdWithLabel="true" styleClass="error_messages" />
						 <!-- Contact By Email, Contact By SMS, TERMS  -->
						<div class="agree_box">
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{registerForm.receiveUpdate}" required=""></h:selectBooleanCheckbox>
							<div><h:outputText styleClass="agree_text_70_generic" for="agree" escape="false" value="#{msgs['register.contactByEmailAndSms']}"/></div><br/>
	                        <h:selectBooleanCheckbox name="agree" class="agree" id="terms" escape="false" value="#{registerForm.terms}" required="true"></h:selectBooleanCheckbox>
							<div class="agree_text_70_generic" style="cursor:pointer;" onclick="showAgreemen('#{facesContext.externalContext.requestContextPath}/jsp/anyoption_agreement.jsf?refresh=true');"><a>#{msgs['register.terms']}</a></div>
							<t:message style="display:none;" id="termsError" for="terms" replaceIdWithLabel="true" styleClass="error_messages"/>
	                    </div>
	                    <div class="submin_swf_70_generic">
							<t:commandButton style="width: 195px; 61px;" id="savelink" image="#{applicationData.imagesPath}/landing_Contactus/full_form_button_#{applicationData.userLocale.language}.png"
							    	onclick="gowait('registerForm:savelink','registerForm:hiddenbtn','#{applicationData.imagesPath}/landing_Contactus/full_form_button_#{applicationData.userLocale.language}.png');
							 		return myfaces.oam.submitForm('registerForm','registerForm:hiddenbtn');" >
							</t:commandButton>
	   						<h:commandLink action="#{registerForm.insertUser}" id="hiddenbtn" style="display:none"/>
	                    </div>
	                <!--INPUT class="submit_image" TYPE="image" SRC="images/form_button.png" HEIGHT="70" WIDTH="231" BORDER="0" ALT="Submit Form"-->
	                </h:panelGroup>
                </h:form>
            </div>
        </div>

        <div id="footer">
        	<div class="icons">
            	<div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
                <input name="idstatus" type="hidden" />
                <input type="hidden" name="registrationdatefrom" />
                <input type="hidden" value="ResultsDetailed" name="transition" />
                <input type="hidden" name="selectOrderby2" />
                <input type="hidden" name="niceclassificationnumber" />
                <input type="hidden" name="indusage" />
                <input type="hidden" name="publicationdateto" />
                <input type="hidden" name="objIdappli" />
                <input type="hidden" name="objRefine" />
                <input type="hidden" name="objRefineAux" />
                <input type="hidden" name="filingdateto" />
                <input type="hidden" name="listTypeDate" />
                <input type="hidden" name="search_for_transition" />
                <input type="hidden" name="AppliRef" />
                <input type="hidden" name="application" />
                <input type="hidden" value="0" name="bAdvanced" />
                <input type="hidden" name="owner" />
                <input type="hidden" name="expirydatefrom" />
                <input type="hidden" name="entity" />
                <input type="hidden" name="objSQLBasic2" />
                <input type="hidden" value="en" name="language" />
                <input type="hidden" name="objSQLRepre" />
                <input type="hidden" name="importTradeMarkId" />
                <input type="hidden" name="ownerselect" />
                <input type="hidden" name="idappliSelected" />
                <input type="hidden" name="idstatus" />
                <input type="hidden" name="objSearchBasic" />
                <input type="hidden" name="objSQLBasic" />
                <input type="hidden" value="search_basic.jsp" name="source" />
                <input type="hidden" name="objSQLOwner" />
                <input type="hidden" name="objSQLRepre2" />
                <input type="hidden" name="selectOrderby" />
                <input type="hidden" name="representative" />
                <input type="hidden" value="1" name="printPage" />
                <input type="hidden" name="userid" />
                <input type="hidden" name="readonly" />
                <input type="hidden" name="filingdatefrom" />
                <input type="hidden" name="importctmidscriptmodule" />
                <input type="hidden" name="representativeselect" />
                <input type="hidden" name="expirydateto" />
                <input type="hidden" value="0" name="backList" />
                <input type="hidden" name="totalFound" />
                <input type="hidden" value="0" name="bRefine" />
                <input type="hidden" name="importctmidscriptmethod" />
                <input type="hidden" name="publicationdatefrom" />
                <input type="hidden" name="deno" />
                <input type="hidden" name="bRefineModify" />
                <input type="hidden" name="userCurrentAccount" />
                <input type="hidden" value="200" name="blimited" />
                <input type="hidden" name="registrationdateto" />
                <input type="hidden" name="objSQLOwner2" />
                <input type="hidden" value="8298697" name="idappli" />
                <input type="hidden" value="3" name="markorigin" />
                <input type="hidden" value="1" name="denoselect" />
                <input type="hidden" name="denoaux" />
                <input type="hidden" name="ntmark" />
                <input type="hidden" value="1" name="listType" />
                <a onclick="window.open('http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img title="anyoption's trademark information" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/icons/ao_tm.jpg" /></a>
                </form>
                </div><div class="icon_space">
                <a onclick="window.open('http://www.reuters.com/','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="73" height="27" border="0" title="Vade seviyeleri Reuters tarafından sağlanmaktadır" src="#{applicationData.imagesPath}/icons/reuters.jpg" alt="" /></a>
                </div><div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Bilgi güvenliği ve kodlama" src="#{applicationData.imagesPath}/icons/thawte.gif" /></a>
                </div><div class="icon_space">
                <img width="40" height="27" border="0" title="Web sitemizi sadece 18 yaşından büyük müşteriler kullanabilir" src="#{applicationData.imagesPath}/icons/18.jpg" alt="" />
                </div>
            </div>

            <div class="footer_text">
				Önemli risk notu:
			  	opsiyon alış-satış önemli riskler barındırmaktadır. Her işlemde yatırımınızın %85'e kadar olan kısmını kaybedebilirsiniz. Genel Şartlar'ı dıkkatle okumanizi tavsıye ederız. ■
			  	<br/>
			  	Sitemizde sunduğumuz seviyeler anyoption™'nin opsiyonları satmak istediği seviyelerdir ve
			  	<b>gerçek zamanlı piyasa değerleri değildir.</b> ■
			  	<br/>
			  	Vade seviyelerinin nasıl belirlendiğine ilişkin ayrıntılı bilgi için
			  	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc" class="footer_link">burayı tıklatın</a>&#160; ■
			  	Müşteriler, oturdukları ülkedeki sermaye kazanımı vergi yükümlülüklerine uymalıdır.
            </div>
        </div>
    </div>
    <div id="error_box">
       	<div class="error_text" style="margin-top:10px;">
           	<h:outputText id="err_text" value="#{commonUtil.firstErrorSummaryMessage}" />
        </div>
        <div class="error_button" onclick="closeErrorBox();"></div>
    </div>
    <div id="Overlay"></div>

	<script>
		var countryId = document.getElementById("registerForm:countriesList").value;
		if(countryId != 220 ){
	  		document.getElementById("statesList").style.display="none";
	  	}
	</script>
</f:view>