<form class="form" name="_form" novalidate>
	<div class="common-error" ng-if="_form.$error.required.length > 0 && _form.$submitted">
		<span>{{::$ctrl._u.getMsg('error-required')}}</span>
	</div>
	<global-errors errors="$ctrl._errorArray"></global-errors>

	<div class="row field-error" set-error-class="_form.userName">
		<input class="input" type="text" name="userName" ng-model="$ctrl.form.userName" smart-placeholder="::$ctrl._u.getMsg('email-username')" required server-error />
		<i class="field-icon email">@</i>
		<input-errors field="_form.userName"></input-errors>
	</div>

	<div class="row mb50 field-error" ng-class="{'password-hint': $ctrl.form.password.length > 0 }" set-error-class="_form.password">
		<input class="input" id="password" type="password" name="password" smart-placeholder="::$ctrl._u.getMsg('password')" ng-model="$ctrl.form.password" ng-model-options="{allowInvalid: true}" required ng-minlength="6" server-error/>
		<span class="field-icon show-hide-password" onclick="showPassowrd('password', this)"></span>
		<i class="field-icon password"></i>
		<input-errors field="_form.password"></input-errors>
	</div>
	<!-- <div class="row">
		<div class="box error" set-error-class="_form.password" ng-class="{'password-hint': $ctrl.form.password.length > 0 }">
			<label class="label password-icon"></label>
			<div class="pR">
				
				<span class="show-password" onclick="showPassowrd('password')"></span>
			</div>
		</div>
		<div>
			<input-errors field="_form.password"></input-errors>
		</div>
	</div> -->
	
	<div class="row">
		<label>
			<input type="checkbox" name="remember" ng-model="$ctrl.form.remember" />
			<span class="checkbox"></span>
			<span>{{::$ctrl._u.getMsg('remember-me')}}</span>
		</label>
	</div>
	
	<div class="row taC">
		<button class="button blue" type="submit" ng-class="{ loading: $ctrl.inAction }" ng-click="$ctrl.submit(_form)">
			<span>{{::$ctrl._u.getMsg('sign-in')}}</span>
		</button>
	</div>
</form>