﻿<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Гид по торговле бинарными опционами</title>
<style type="text/css">
body { background:#e1e1e1; font:12px/18px Verdana, Geneva, sans-serif; color: #093755; text-align:justify; }
.container { border: 1px solid #a8a8a8; background:#fff;}
.header { background: url(http://www.anyoption.com/images/en_2/header.gif) repeat-x; height:103px; }
.border { height:28px; background: url(http://www.anyoption.com/images/en_2/ticker1px.gif) repeat-x; }
h1 { font: bold 30px/32px Georgia, Times, serif; color: #093755; margin:15px 0;}
h2 { font: bold 20px/22px Georgia, Times, serif; color: #037ac4;}
h3 { font: bold 12px/18px Verdana, Geneva, sans-serif; color:#093755; }
p { font:12px/18px Verdana, Geneva, sans-serif; margin:15px 0; }
a, a:visited {font-weight: bold; color: #093755; text-decoration: none; }
a:hover { color: #0284d6; }
a.anyoption { color: #0284d6; text-decoration: underline; }
a img { border:none; outline:none; }
</style>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>

<table class="container" width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr class="header"><td colspan="4"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/opt_trade_ru.gif" width="680" height="103"/></a></td></tr>
  <tr class="border"><td colspan="4">&#160;</td></tr>
  <tr>
    <td colspan="2"><table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="600"><h1>Доход в 70% менее чем за час -<br />
это реально?</h1>
<h2>Все больше и больше инвесторов используют постоянные колебания рынка, чтобы получать быструю прибыль на новой платформе по торговле бинарными опционами.</h2>
<p> #{applicationData.date} </p>
<p>Представьте себе ситуацию, в которой Вы в одинаковой степени можете получить прибыль, как от роста цены, так и от ее падения. Ситуацию, в которой разница в изменении цены на актив не определяет размер Вашей прибыли, и где даже незначительная сумма инвестиции может принести до 70% прибыли.</p>
<p>Это лишь некоторые преимущества торговли <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">бинарными опционами </a>-  уникальным инвестиционным продуктом, завоевывающим все большую популярность на мировых рынках. Торговля <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">бинарными опционами </a> позволяет инвестору сделать прогноз движения цены на тот  или иной актив вверх или вниз, а затем, если прогноз окажется верным - получить  прибыль до 70%, вне зависимости от того, на сколько изменилась сама цена. Покупаемыми  опционами могут быть <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">опционы</a> forex (валютные пары), индексы, товары и  ценные бумаги, которые открыты и доступны на всех международных рынках.</p>
<p><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Торговля бинарными опционами</a> в общих чертах выглядит так: инвестор вкладывает $100 в нефть, которая находится на уровне 71.563 и делает прогноз, что ее цена вырастет к концу ближайшего часа. В конце часа цена на нефть, действительно, вырастает,  достигая уровня 71.569, а инвестор, таким образом, получает прибыль в размере 70% от вложений, то есть $170.</p>
<p><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Бинарные опционы </a> торгуются на таких онлайн платформах, как <a class="anyoption" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">www.anyoption.com</a> и не требуют загрузки какого-либо программного обеспечения. Выплаты на такой платформе составляют <strong>65-71%</strong> для <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">опционов</a>, которые истекли  in-the-money (то есть, прогноз инвестора оказался верным), при этом, если <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">опцион</a> истекает out-of-the-money (прогноз оказался не верным),  приятная особенность данной платформы - <strong>возврат 15%</strong> вложенных средств в случае неудачи.</p>
<p>Сайт прост в использовании и предоставляет инвесторам полную информацию о прошлом и текущем состоянии активов, позволяя, таким образом, видеть полную картину рынка и делать осмысленные финансовые прогнозы. Будучи представлена на русском, английском, испанском, итальянском, немецком, арабском и турецком языках, торговая платформа является международной и может принимать вклады в долларах, Евро или британских фунтах.</p>
<p><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Торговля бинарными опционами</a> доступна трейдерам любого уровня, не зависимо от их опыта или знаний. Данный продукт, как никакой другой, открывает уникальные возможности торговли на финансовых рынках, не доступные ранее.<br />
<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Торговля бинарными опционами</a> - это просто, интересно, а, главное, выгодно.</p>
<h3>Сегодня anyoption&#8482; предлагает своим клиентам 4 уникальных  торговых инструмента, открывающих перед инвесторами новые возможности.</h3>
<p> <strong>1 OPTION+</strong> представляет собой уникальную площадку для торговли опционами, где инвестор может покупать и продавать обратно опционы до их официального времени исполнения, не зависимо от того, находится ли он in-the-money (в прибыли) или out-of-the-money (в убытке).</p>
<p><strong>2 Profit Line</strong> - новая торговая система, обеспечивающая клиентам доступ к графикам, которые позволяют отслеживать ситуацию по своим открытым операциям с опционами, получать текущую и обновлённую информацию по сумме предполагаемого дохода, а также покупать дополнительные опционы прямо в окне графика. Все это имеет удобный и легкий в использовании интерфейс.</p>
<p><strong>3 Take Profit</strong> - идеальный инструмент для клиентов, которые хотят зафиксировать прибыль от бинарных опционов до первоначально установленного времени исполнения опциона. За дополнительную плату, клиент, которому предложено Take Profit, может получить обещанную прибыль по этому опциону до фактического времени исполнения приобретенного бинарного опциона.</p>
<p><strong>4 Roll Forward </strong>- дает клиенту возможность за дополнительную плату отложить первоначально установленный срок исполнения бинарного опциона до ближайшего доступного времени исполнения.</p>
<p>Более подробную информацию можно найти на сайте <a class="anyoption" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">www.anyoption.com</a></p>
</td>
    <td align="right" valign="top"><p><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/160x600-dani-ru.gif" alt="НАЧНИТЕ ТОРГОВАТЬ" name="dani" width="160" height="600" id="dani" /></a></p></td>
  </tr>
  <tr>
    <td><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/start_trading_ru.gif" width="280" height="60" alt="start trading" /></a></td></tr>
</table>
</td>
  </tr>
  <tr><td colspan="2">&#160;</td></tr>
  <tr><td width="80">&#160;</td>
  <td><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/728x90-text-ru.gif" width="728" height="90" alt="start trading" /></a></td>
  </tr>
  <tr><td colspan="2">&#160;</td></tr>
</table>
</f:view>
