﻿<html xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:t="http://myfaces.apache.org/tomahawk"  >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css"/>
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||            facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250"/>
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||            facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250"/>
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250"/>
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250"/>
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250"/>
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Один безрисковый опцион</span><br/>

          	    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||             facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||             facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||             facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||             facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||             facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

		    		<span class="bonus_text">
		    			<strong>anyoption™</strong> предлагает Вам льготу, от которой невозможно отказаться. Купите  #{facesContext.externalContext.requestParameterMap['numOfActions']} опционов и следующий опцион будет безрисковым! <br/>
		    			<br/>
		    			Как только Вы осуществите инвестиции на необходимую сумму, у Вас появится возможность купить безрисковый Put или Call опцион по любому базовому активу, с любой датой истечения срока действия. Если данный опцион окажется выигрышным, Вы получите гарантированный процент прибыли.<br/>
		    			<br/>
		    			Если опцион проиграет, Вы получаете обратно сумму своих инвестиций в полном объеме! Вам нечего терять.<br/>
		    			<br/>
		    			Предложение действительно до  <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.  <br/>
		    			<br/>
		    		</span>
    			</h:panelGroup>

    			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
    				<span class="bonus_text">
    					<strong>anyoption™</strong> предлагает Вам единовременную льготу – безрисковый опцион!<br/>
    					<br/>
    					Вам нужно только приобрести Put или Call опцион по любому из базовых активов на Ваш выбор, с любой датой истечения срока действия. Если выбранный опцион окажется выигрышным, Вы получаете гарантированный процент прибыли.<br/>
    					<br/>
    					Если опцион проиграет, Вы получаете обратно сумму своих инвестиций в полном объеме! Вам нечего терять.<br/>
    					<br/>
    					Предложение действительно до  <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.  <br/>
    					<br/>
    				</span>
    			</h:panelGroup>

	            <span class="bonus_terms"><strong>&quot;Одна безрисковая инвестиция&quot; – Общие Условия</strong><br/>
	            Данная льгота распространяется на один или несколько опционов в соответствии с условиями конкретного предложения, которое было предоставлено клиенту.<br/>
	            <br/>
	            Опцион, который дает клиенту право на указанную льготу, - это опцион, определенный в условиях конкретного предложения, сделанного клиенту, при условии, что этот опцион должен быть выкуплен в течение определенного периода времени.<br/>
	            <br/>
	            Возмещение вложенных средств производится в случае проигрыша опциона.<br/>
	            <br/>
	            Данная льгота не может быть использована при инвестировании в опционы типа Option+, One Touch или бинарныe 0-100.<br/>
	            <br/>
	            Если в условиях предложения не указано иное, предварительным условием снятия денег со счета после получения дохода, являются инвестиции на общую сумму в #{facesContext.externalContext.requestParameterMap['wageringParam']} раз больше стоимости исходного опциона, по которому была предоставлена льгота.<br/>
	            <br/>
	            Компания побуждает своих клиентов принимать предложения, но воздерживаться от злоупотребления ими. Злоупотребление предложениями может привести к отказу в выплате бонуса и закрытию клиентского счета на веб-сайте Компании.<br/>
	            <br/>
	            Бонусы должны использоваться в течение определенного периода времени, указанного в условиях конкретного предложения. В случае, если бонус не будет использован в течение определенного периода времени, он будет отозван со счета клиента.<br/>
	            <br/>
	            После получения бонуса, клиент должен в течение 3 (трех) календарных месяцев проинвестировать в покупку опционов‎ сумму, указанную в качестве предварительного условия для снятия заработанных средств. Если необходимый общий объем инвестиций не будет достигнут в течение этого периода, со счета клиента будут сняты средства в размере предоставленного бонуса.<br/>
	            <br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
	            </span> </td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
