<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		 >
	<div class="container link">
		<div class="clear footer_pics">
			<form name="ctmSubmit"  method="post" target="_blank" action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg">
				<input type='hidden' name='idstatus' value='*' />
				<input type='hidden' name='registrationdatefrom' value='' />
				<input type='hidden' name='transition' value='ResultsDetailed' />
				<input type='hidden' name='selectOrderby2' value='' />
				<input type='hidden' name='niceclassificationnumber' value='' />
				<input type='hidden' name='indusage' value='' />
				<input type='hidden' name='publicationdateto' value='' />
				<input type='hidden' name='objIdappli' value='' />
				<input type='hidden' name='objRefine' value='' />
				<input type='hidden' name='objRefineAux' value='' />
				<input type='hidden' name='filingdateto' value='' />
				<input type='hidden' name='listTypeDate' value='' />
				<input type='hidden' name='search_for_transition' value='' />
				<input type='hidden' name='AppliRef' value='' />
				<input type='hidden' name='application' value='' />
				<input type='hidden' name='bAdvanced' value='0' />
				<input type='hidden' name='owner' value='' />
				<input type='hidden' name='expirydatefrom' value='' />
				<input type='hidden' name='entity' value='' />
				<input type='hidden' name='objSQLBasic2' value='' />
				<input type='hidden' name='language' value='en' />
				<input type='hidden' name='objSQLRepre' value='' />
				<input type='hidden' name='importTradeMarkId' value='' />
				<input type='hidden' name='ownerselect' value='' />
				<input type='hidden' name='idappliSelected' value='' />
				<input type='hidden' name='idstatus' value='' />
				<input type='hidden' name='objSearchBasic' value='' />
				<input type='hidden' name='objSQLBasic' value='' />
				<input type='hidden' name='source' value='search_basic.jsp' />
				<input type='hidden' name='objSQLOwner' value='' />
				<input type='hidden' name='objSQLRepre2' value='' />
				<input type='hidden' name='selectOrderby' value='' />
				<input type='hidden' name='representative' value='' />
				<input type='hidden' name='printPage' value='1' />
				<input type='hidden' name='userid' value='' />
				<input type='hidden' name='readonly' value='' />
				<input type='hidden' name='filingdatefrom' value='' />
				<input type='hidden' name='importctmidscriptmodule' value='' />
				<input type='hidden' name='representativeselect' value='' />
				<input type='hidden' name='expirydateto' value='' />
				<input type='hidden' name='backList' value='0' />
				<input type='hidden' name='totalFound' value='' />
				<input type='hidden' name='bRefine' value='0' />
				<input type='hidden' name='importctmidscriptmethod' value='' />
				<input type='hidden' name='publicationdatefrom' value='' />
				<input type='hidden' name='deno' value='' />
				<input type='hidden' name='bRefineModify' value='' />
				<input type='hidden' name='userCurrentAccount' value='' />
				<input type='hidden' name='blimited' value='200' />
				<input type='hidden' name='registrationdateto' value='' />
				<input type='hidden' name='objSQLOwner2' value='' />
				<input type='hidden' name='idappli' value='8298697' />
				<input type='hidden' name='markorigin' value='3' />
				<input type='hidden' name='denoselect' value='1' />
				<input type='hidden' name='denoaux' value='' />
				<input type='hidden' name='ntmark' value='' />
				<input type='hidden' name='listType' value='1' />
			</form>
			<a href="#" onclick="document.forms['ctmSubmit'].submit(); return false;"><div class="fLeft f_p1 fp"></div></a>
			<a href="http://www.reuters.com/" target="_blank"><div class="fLeft f_p2 fp"></div></a>
			<a href="#"  onClick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false"><div class="fLeft f_p3 fp"></div></a>
<!-- DE version
				<a href="#"><div class="fLeft f_p10 fp"></div></a>
				<a href="#"><div class="fLeft f_p11 fp"></div></a>
				<a href="#"><div class="fLeft f_p12 fp"></div></a>
-->
			<div class="fLeft f_p8 fp"></div>
			<script type="text/javascript">
				var addThisJsHost = (("https:" == document.location.protocol) ? "https://secure.addthis.com/" : "http://s7.addthis.com/");
				var addthis_pub="anyoption";
				var addthis_brand = "anyoption.com";
				var addthis_test0309 = false;
				document.write(unescape("%3Cscript src='" + addThisJsHost + "js/200/addthis_widget.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<a href="http://www.addthis.com/bookmark.php" style="text-decoration:none;" onmouseover="return addthis_open(this, '', 'http://www.anyoption.com', 'anyoptionג„¢ - Binary Index options, Forex options, Stock options and Commodities Options');" onmouseout="addthis_close();" onclick="return addthis_sendto();"><div class="fLeft f_p9 fp"></div></a>
			<a href="http://www.twitter.com/anyoption" target="_blank"><div class="fLeft f_p14 fp"></div></a>
			<a href="http://www.facebook.com/anyoption" target="_blank"><div class="fLeft f_p13 fp"></div></a>
		</div>
		<script type="text/javascript">
			function bankinBtn() {
				window.location= "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}";
			}
		</script>
		<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="968" height="50">
		  	<param name="movie" value="#{applicationData.imagesPath}/strip.swf" />
		  	<param name="quality" value="high" />
		  	<param name="wmode" value="transparent" />
		  		  <!--[if !IE]>-->
		  	<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/strip.swf" width="968" height="50">
			    <!--<![endif]-->
			    <param name="quality" value="high" />
			    <param name="wmode" value="transparent" />
			    <param name="swfversion" value="8.0.35.0" />

			    <!--[if !IE]>-->
		      </object>
		  	<!--<![endif]-->
	    </object>
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"><h:outputText value="#{msgs['rightnav.aboutus']}"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"><h:outputText value="#{msgs['footer.contact.us']}"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}"><h:outputText value="#{msgs['footer.general.terms']}"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}"><h:outputText value="#{msgs['footer.security']}"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}"><h:outputText value="#{msgs['footer.privacy']}"/></a> |
		<a href="http://affiliates.anyoption.com" title="Binary Options Affiliate Program" alt="Binary Options Affiliate Program">Affiliates</a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/press.jsf')}"><h:outputText value="#{msgs['footer.press']}"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"><h:outputText value="#{msgs['menuStrip.faq']}"/></a>
		<br />
		<br />
		<ui:include src="/jsp/#{applicationData.userLocale.language}/footer_content.xhtml"></ui:include>
		<br />
		<br />
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/what-are-binary-options.jsf')}"><h:outputText value="Binary options"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/how-to-trade-binary-options.jsf')}"><h:outputText value="Trade binary options"/></a> |
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/benefits-of-binary-option-trading.jsf')}"><h:outputText value="Binary options trading"/></a> |
		<a href="#{applicationData.blogUrl}/trade/forex-options/"><h:outputText value="Forex Options" /></a> |
		<a href="#{applicationData.blogUrl}/trade/stock-options/"><h:outputText value="Stock Options" /></a> |
		<a href="#{applicationData.blogUrl}"><h:outputText value="Binary Options Blog" /></a>
		<br />
		<span class="f1"><b><ui:insert name="footerMsg"/></b><br /></span>
		<h:outputText escape="false" value="#{msgs['anyoption.footer']}"/>
		<br />
		<br />
		<span class="f1"><b><h:outputText value="#{msgs['footer.message.affiliates.program.partners']}"/></b><br /></span>
		<h:outputFormat escape="false" value="#{msgs['footer.message.affiliates']}">
			<f:param value="http://affiliates.anyoption.com" />
		</h:outputFormat>
		<br />
		<br />
		<a href="#{applicationData.homePageUrl}intl/danish.html"><h:outputText value="Danish"/></a> |
		<a href="#{applicationData.homePageUrl}intl/dutch.html"><h:outputText value="Dutch"/></a> |
		<a href="#{applicationData.homePageUrl}intl/finnish.html"><h:outputText value="Finnish"/></a> |
		<a href="#{applicationData.homePageUrl}intl/greek.html"><h:outputText value="Greek"/></a> |
		<a href="#{applicationData.homePageUrl}intl/indonesian.html"><h:outputText value="Indonesian"/></a> |
		<a href="#{applicationData.homePageUrl}intl/italian.html"><h:outputText value="Italian"/></a> |
		<a href="#{applicationData.homePageUrl}intl/japanese.html"><h:outputText value="Japanese"/></a> |
		<a href="#{applicationData.homePageUrl}intl/korean.html"><h:outputText value="Korean"/></a> |
		<a href="#{applicationData.homePageUrl}intl/malay.html"><h:outputText value="Malay"/></a> |
		<a href="#{applicationData.homePageUrl}intl/norwegian.html"><h:outputText value="Norwegian"/></a> |
		<a href="#{applicationData.homePageUrl}intl/portuguese.html"><h:outputText value="Portuguese"/></a> |
		<a href="#{applicationData.homePageUrl}intl/russian.html"><h:outputText value="Russian"/></a> |
		<a href="#{applicationData.homePageUrl}intl/sc.html"><h:outputText value="Chinese"/></a> |
		<a href="#{applicationData.homePageUrl}intl/swedish.html"><h:outputText value="Swedish"/></a> |
		<a href="#{applicationData.homePageUrl}intl/tc.html"><h:outputText value="Taiwanese"/></a><br />
	</div>
</f:view>