
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


   <h:panelGroup rendered="#{display == 'false'}" >
	 <table border="0" cellpadding="0" cellspacing="0" align="#{applicationData.pageAlignment}" width="739px">
	 	<tr>
			<td width="739px">&#160;</td>
  		</tr>
   	</table>
   </h:panelGroup>

	<h:panelGroup rendered="#{display == null}" >
		<c:if test="${empty sessionScope.user}">
			<ul class="strip_menu_navlist"  dir="#{applicationData.pageDirection}">
					<c:if test="#{isHomePage == 'false'}">
						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='register'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>
						<li>
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"
									 target="_top" id="registerLink" class="menu_stripe_link_new" alt="#{msgs['menuStrip.openaccount.title']}" title="#{msgs['menuStrip.openaccount.title']}" >
								<h:outputText value="#{msgs['menuStrip.openaccount']}" />
							</h:outputLink>
						</li>

						<li class="menu_seperator">|</li>

						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='homePage'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						 <li>
						    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
									target="_top" id="indexLink" class="${class}" >
								<h:outputText value="#{msgs['menuStrip.home']}"/>
							</h:outputLink>
						</li>

						<li class="menu_seperator">|</li>

						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='trade'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						 <li>
						    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
									 target="_top" id="tradeLink" class="${class}" >
								<h:outputText value="#{msgs['menuStrip.trade']}"/>
							</h:outputLink>
						</li>

						<li class="menu_seperator">|</li>
					</c:if>

					<c:if test="#{isHomePage == 'true'}">
						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='register'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"
									 target="_top" id="registerLink" class="${class}" alt="#{msgs['menuStrip.openaccount.title']}" title="#{msgs['menuStrip.openaccount.title']}" >
								<h:outputText value="#{msgs['menuStrip.openaccount']}" />
							</h:outputLink>
						</li>

						<li class="menu_seperator">|</li>

						<c:set var="class" value="menu_stripe_link_new"/>
						<li>
							<div id="noOneTouchLinkDiv">
				                <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
									 target="_top" id="registerMLink" border="0" class="${class}" alt="#{msgs['menuStrip.trade.title']}" title="#{msgs['menuStrip.trade.title']}" >
									<h:outputText value="#{msgs['menuStrip.trade']}"/>
								</h:outputLink>
							</div>
							<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
								<div id="oneTouchLinkDiv" style="display: none;">
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"
											style="padding:0 10px; font-size:12px; color:#000000 !important; " target="_top" id="registerMLink2" border="0" class="${class}">
										<h:outputText value="#{msgs['menuStrip.trade']}"/>
									</h:outputLink>
								</div>
							</h:panelGroup>
						</li>

						<li class="menu_seperator">|</li>
					</c:if>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='banking'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}"
								 target="_top" id="bankingLink" class="${class}" alt="#{msgs['menuStrip.banking.title']}" title="#{msgs['menuStrip.banking.title']}">
							<h:outputText value="#{msgs['menuStrip.banking']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='assetIndex'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
								 target="_top" id="analysisLink" class="${class}" alt="#{msgs['menuStrip.asset.index.title']}" title="#{msgs['menuStrip.asset.index.title']}">
							<h:outputText value="#{msgs['menuStrip.asset.index']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='pastExpiries'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
								 target="_top" id="expiriesLink" class="${class}" alt="#{msgs['menuStrip.past.expiries.title']}" title="#{msgs['menuStrip.past.expiries.title']}">
							<h:outputText value="#{msgs['menuStrip.past.expiries']}"/>
						</h:outputLink>
					</li>
					
					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='tradeingBoxManual'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
								 target="_top" id="transtLink" class="${class}" alt="#{msgs['menuStrip.Trading.Box.Manual.title']}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
							<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='faq'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"
								 target="_top" id="faqLink" class="${class}" alt="#{msgs['menuStrip.faq.title']}" title="#{msgs['menuStrip.faq.title']}">
							<h:outputText value="#{msgs['menuStrip.faq']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='newOnAo'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<h:panelGroup rendered="#{applicationData.skinId == 11}">

						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='oneTouch'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"
									 target="_top" id="oneTouchLink" class="${class}">
								<h:outputText value="#{msgs['onetouch.onetouch']}"/>
							</h:outputLink>
						</li>

					</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId != 11}">
						
						<h:panelGroup rendered="false">
							<c:set var="class" value="menu_stripe_link_new"/>
							<c:if test="${selectedTd=='showOff'}">
								<c:set var="class" value="menu_stripe_link_active"/>
							</c:if>
	
							<li>
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<img style="" src="#{applicationData.imagesPath}/show_icon.gif" width="15" height="16" />
										</td>
										<td>
										    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}"
													 target="_top" id="showOff" class="${class}" alt="#{msgs['showOff.menu.strip.title']}" title="#{msgs['showOff.menu.strip.title']}">
												<h:outputText escape="false" value="#{msgs['showOff.menu.strip']}"/>
											</h:outputLink>
										</td>
									</tr>
								</table>
							</li>
						

							<li class="menu_seperator">|</li>
						</h:panelGroup>

						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='appPage'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<table border="0" cellspacing="0" cellpadding="0" width="60px">
								<tr>
									<td width="18px" valign="middle">
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}"
											 target="_top" class="${class}" >
											<img align="center" src="#{applicationData.imagesPath}/icon-menu_mobile.jpg" width="14px" height="17" border="0" />
										</h:outputLink>
									</td>
									<td>
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}"
											 target="_top" class="${class}" alt="#{msgs['mobile.menu.strip.title']}" title="#{msgs['mobile.menu.strip.title']}">
											<h:outputText value="#{msgs['mobile.menu.strip.title']}"/>
										</h:outputLink>
									</td>
								</tr>
							</table>
						</li>
						
						<li class="menu_seperator">|</li>

						<c:set var="class" value="menu_stripe_link_new_live"/>
						<c:if test="${selectedTd=='live'}">
							<c:set var="class" value="menu_stripe_link_active_live"/>
						</c:if>
	
						<li>
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}"
									target="_top" id="liveLink" class="${class}" >
								<h:outputText value="#{msgs['menuStrip.live']}" style="background: transparent url(#{applicationData.imagesPath}/icon_Globe_menu.png) no-repeat top left; padding-left: 25px;padding-bottom:10px; "/>
							</h:outputLink>
						</li>
					</h:panelGroup>
				</ul>
		</c:if>

		<c:if test="${!empty sessionScope.user}">

			<ul class="strip_menu_navlist" style="font-size:12px;">

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='homePage'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					 <li>
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
								 target="_top" id="indexLink" class="${class}" >
							<h:outputText value="#{msgs['header.homepage']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='trade'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
								 target="_top" id="tradeLink" class="${class}" alt="#{msgs['menuStrip.trade.title']}" title="#{msgs['menuStrip.trade.title']}">
							<h:outputText value="#{msgs['menuStrip.trade']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='banking'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}"
								 target="_top" id="bankingLink" class="${class}" alt="#{msgs['menuStrip.banking.title']}" title="#{msgs['menuStrip.banking.title']}">
							<h:outputText value="#{msgs['menuStrip.banking']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='assetIndex'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
								 target="_top" id="analysisLink" class="${class}" alt="#{msgs['menuStrip.asset.index.title']}" title="#{msgs['menuStrip.asset.index.title']}">
							<h:outputText value="#{msgs['menuStrip.asset.index']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='pastExpiries'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
								 target="_top" id="expiriesLink" class="${class}" alt="#{msgs['menuStrip.past.expiries.title']}" title="#{msgs['menuStrip.past.expiries.title']}">
							<h:outputText value="#{msgs['menuStrip.past.expiries']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link_new"/>
					<c:if test="${selectedTd=='tradeingBoxManual'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
								 target="_top" id="transtLink" class="${class}" alt="#{msgs['menuStrip.Trading.Box.Manual.title']}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
							<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='faq'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li>
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"
								 target="_top" id="faqLink" class="${class}" alt="#{msgs['menuStrip.faq.title']}" title="#{msgs['menuStrip.faq.title']}" >
							<h:outputText value="#{msgs['menuStrip.faq']}"/>
						</h:outputLink>
					</li>

					<li class="menu_seperator">|</li>

					<h:panelGroup rendered="#{applicationData.skinId == 11}">

						<c:set var="class" value="menu_stripe_link"/>
						<c:if test="${selectedTd=='oneTouch'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"
									 target="_top" id="oneTouchLink" class="${class}">
								<h:outputText value="#{msgs['onetouch.onetouch']}"/>
							</h:outputLink>
						</li>

					</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId != 11}">
	
						<h:panelGroup rendered="false">
							<c:set var="class" value="menu_stripe_link_new"/>
							<c:if test="${selectedTd=='showOff'}">
								<c:set var="class" value="menu_stripe_link_active"/>
							</c:if>
	
							<li>
								<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td>
											<img  src="#{applicationData.imagesPath}/show_icon.gif" width="15" height="16" />
										</td>
										<td>
										    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}"
													 target="_top" id="showOff" class="${class}" alt="#{msgs['showOff.menu.strip.title']}" title="#{msgs['showOff.menu.strip.title']}">
												<h:outputText escape="false" value="#{msgs['showOff.menu.strip']}"/>
											</h:outputLink>
										</td>
									</tr>
								</table>
							</li>
						

							<li class="menu_seperator">|</li>
						</h:panelGroup>

						<c:set var="class" value="menu_stripe_link_new"/>
						<c:if test="${selectedTd=='appPage'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<table border="0" cellspacing="0" cellpadding="0" width="60px">
								<tr>
									<td width="18px" valign="middle">
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}"
											 target="_top" class="${class}" >
											<img align="center" src="#{applicationData.imagesPath}/icon-menu_mobile.jpg" width="14px" height="17" border="0" />
										</h:outputLink>
									</td>
									<td>
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}"
											 target="_top" class="${class}" alt="#{msgs['mobile.menu.strip.title']}" title="#{msgs['mobile.menu.strip.title']}">
											<h:outputText value="#{msgs['mobile.menu.strip.title']}"/>
										</h:outputLink>
									</td>
								</tr>
							</table>
						</li>
						<li class="menu_seperator">|</li>

						<c:set var="class" value="menu_stripe_link_new_live"/>
						<c:if test="${selectedTd=='live'}">
							<c:set var="class" value="menu_stripe_link_active_live"/>
						</c:if>
	
						<li>
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}"
									target="_top" id="liveLink" class="${class}" >
								<h:outputText value="#{msgs['menuStrip.live']}" style="background: transparent url(#{applicationData.imagesPath}/icon_Globe_menu.png) no-repeat top left; padding-left: 25px;padding-bottom:10px; "/>
							</h:outputLink>
						</li>
					</h:panelGroup>
			</ul>
		</c:if>
	</h:panelGroup>
</f:view>