<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>
		var serverOffsetMillis = #{applicationData.timeMilis} - new Date().getTime();
	</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    	<c:set var="keywords" value="#{msgs['anyoption.keywords']}"/> <!-- default -->
	<ui:insert name="keyWordsNew"></ui:insert>
    <c:set var="metaDesc" value="#{msgs['anyoption.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <META NAME="description" content="${metaDesc}"/>
    <META NAME="keywords" content="${keywords}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
    <ui:include src="/jsp/head_css_js.xhtml" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css?new=true" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css?new=true" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
				runThickBox(#{facesContext.externalContext.requestParameterMap['tickBoxMarketId']}, #{facesContext.externalContext.requestParameterMap['tickBoxOppId']});
			}
		</script>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
			}
		</script>
	</h:panelGroup>

	<style>
		.left .you{width:685px; height:auto; float:left; margin:6px 0;}
		.you .b{width:683px; height:auto; border:1px #dddddd solid; border-top:0px; overflow:hidden;}
		.you .b .j{width:683px; height:auto; margin:5px 0; float:left;}
		.you .b .j .ico{width:90px; height:82px; text-align:center; padding:10px 30px; float:left;}
		.you .b .j .tt{width:530px; float:left;}
		.you .b .j .tt p{_padding:2px 0;  font-size:12px;}
		.headDown { color: #093755; font-size: 14px; line-height: 32px; font-weight:bold;}
		#link{width:970px; height:auto; margin:6px auto; clear:both; overflow:hidden;}
		#link .t{width:968px;  height:29px; line-height:29px;  background: #ECECEC; border-top: 1px #DDD solid; border-right: 1px #DDD solid; border-left: 1px #DDD solid; border-bottom: solid 1px #093755; padding: 0px; margin: 0px;}
		#link .b{width:968px; height:36px; border:1px #dddddd solid; border-top:0px;}
		#link .b a{width:100px; text-align:center; float:left; line-height:36px; color:#093755 !important; text-decoration: underline; font-size:12px; font-weight:bold;}
		#link .b a:hover{ color:#e9800f !important;}
		.ticker_table_chinese{ margin: 0px;background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/button_up.png);background-repeat: repeat-x;border-width: 0px 0px 0px 0px;border-style: none none none none;}
		.ttab { float: left; width: 685px;}
		#con { font-size: 12px; margin: 0;width: 685px; }
		#tags {overflow:hidden; PADDING: 0px; MARGIN:0; /*WIDTH: 683px; HEIGHT: 26px; background: #ececec;  border-top: 1px #DDD solid; border-right: 1px #DDD solid; border-left: 1px #DDD solid; border-bottom: solid 1px #093755;*/ }
		#tags LI { FLOAT: left; LIST-STYLE-TYPE: none; HEIGHT: 26px; }
		#tags LI A { FLOAT: left;  COLOR: #fff !important; LINE-HEIGHT: 28px; HEIGHT: 26px;  background:url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bgTab_inactive.png) no-repeat left bottom; width: 142px; TEXT-DECORATION: none; text-align:center; font-size:14px; font-weight:bold; }
		#tags li A:hover { background:url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bgTab_active.png) no-repeat left top; COLOR: #fff !important; text-decoration: none !important;}
		#tags LI.selectTag { position: relative; HEIGHT: 26px; background:url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bgTab_active.png) no-repeat left bottom; width: 142px; }
		#tags LI.selectTag A { color: #FFFFFF !important; LINE-HEIGHT: 28px; HEIGHT: 26px; background:url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bgTab_active.png) no-repeat left bottom; width: 142px;}
		#tags LI.selectTag A:hover { color: #fff !important; text-decoration: none !important;}
		#tagContent { border-top:0px; BACKGROUND-COLOR: #fff; }
		.tagContent { padding-right: 10px; DISPLAY: none; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 663px; COLOR: #093755; PADDING-TOP: 10px; HEIGHT: 115px; line-height:22px; border:1px solid #dddddd; }
		#tagContent DIV.selectTag { display: block }
		.left .jiao{width:685px; height:auto; float:left;}
		.left .t{width:683px; height:29px; line-height:29px; background: #ECECEC; border-top: 1px #DDD solid; border-right: 1px #DDD solid; border-left: 1px #DDD solid; border-bottom: solid 1px #093755; padding: 0px; margin: 0px;}
		.left .jiao .b{width:683px; height:144px; border:1px #dddddd solid; border-top:0px;}
		.left .jiao .b .j12{width:683px; height:72px; background: url(images/j12.jpg); line-height:28px;}
		.left .jiao .b .l{padding:0 0 0 60px; width:281px; float:left;}
		.left .jiao .b .j34{background:url(images/j34.jpg);}
		.b .j12{width:683px; height:72px; background: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/j12.jpg); line-height:28px;}
		.b .l{padding:0 0 0 60px; width:281px; float:left;}
		.b .j34{background:url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/j34.jpg);}
		.f1{color:#093755; font-size:14px; font-weight:bold;}
		.f3{font-size:12px; font-weight: normal;}
		.f4{line-height:18px;}
		.f5{line-height:24px;}
		.f6{ font-weight:bold; font-size:14px;}
		.title{color:#1e50a2; font-size:14px; font-weight:bold;}
		.f2 {color:#093755 !important; text-decoration: none; width:460px; text-align:right; float:left;}
		.f2 a {color:#093755 !important; text-decoration: none; }
		.f2 a:hover {color:#e9800f !important; }
		.f2.2 {color:#093755; text-decoration: none; text-align:left; float:left;}
		.f2.2:hover {color:#e9800f; text-decoration: underline; }
		.f12{color:#e77918; font-size:14px; font-weight:bold;}
		#right .news{width:277px; float:left; margin:0 0 6px 0;}
		#right .news .t{width:277px;  height:29px; line-height:29px;  background: #ECECEC; border-top: 1px #DDD solid; border-right: 1px #DDD solid; border-left: 1px #DDD solid; border-bottom: solid 1px #093755; padding: 0px; margin: 0px;}
		#right .news .b{width:277px; height:auto; border:1px #dddddd solid; border-top:0px; overflow:hidden; font-size: 12px; line-height: 20px;}
		#right .news .b2{width:261px; height:auto; border:1px #dddddd solid; border-top:0px; overflow:hidden; padding:8px; line-height: 20px; font-size: 12px;}
		#right .news .b4{width:261px; height:117px; border:1px #dddddd solid; border-top:0px; overflow:hidden; padding:8px; line-height: 20px; font-size: 12px;}
		#right .news .b .tt{width:264px; line-height:24px; float:left; padding:0 4px 0 8px; }
		#right .news .b .link{font-size:12px; text-align:right; line-height:20px; text-decoration: none; padding-right: 10px;}
		.title{width:142px; text-align:center; color:#ffffff; font-size:14px; font-weight:bold; background: transparent url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bg_title_1.00.png) no-repeat left bottom; line-height: 32px; height: 29px; margin: 0px;  padding-left: 4px;}
		.title_2{width:185px; text-align:left; color:#ffffff; font-size:14px; font-weight:bold; background: transparent url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bg_title_2.00.png) no-repeat left bottom; line-height: 32px;  height: 29px; padding-left: 16px;}
		.space_between_square{ height:5px; }
		a:hover {color: #e9800f;}
		a {color: #0478c1;}
		#line {width:970px; height:3px; background:#093755; margin:6px auto; clear:both; overflow:hidden; margin-left:0px;}
	</style>
</head>


<body dir="#{applicationData.pageDirection}"  background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bg.jpg" style="background-repeat:no-repeat;" onload="onLoadOpenThickBox();">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<f:view locale="#{applicationData.userLocale}">


<script>
	document.domain = "#{applicationData.domainUrl}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
	var skinId = #{applicationData.skinId};
	var firstTimeVisit="#{applicationData.firstVisitAO}";
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
	</h:panelGroup>
	var bundle_msg_today = "#{msgs['investment.time.today']} ";
	var currencySymbol = "#{applicationData.realCurrencySymbol}";
	var currencyDecimalPoint = #{applicationData.currencyDecimalPointDigits};
	var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif';
	var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif';
	var marketMenuError= "#{msgs['market.menu.error']}";
	var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
	var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
	var tradingPage = true;
	var isMobileParm = false;
	var hasFlash  = true;
	var portrait = false;
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
	var isLeftCurrencySymbol = #{applicationData.currencyLeftSymbol};
	var selectorRetunrPct="#{msgs['selector.return.pct']}";
	var selectorAboveBelowPct="#{msgs['selector.return.above.below']}";

	function getFlashRequestPath() {
		var domain = window.top.location.href;
		if (domain.substr(0, 7) == "http://") {
			domain = domain.substr(7);
		}
		if (domain.indexOf("/") != -1) {
			domain = domain.substr(0, domain.indexOf("/"));
		}
		return "http://" + domain + context_path;
	}
</script>

<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/bridge/lsflashbridge.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tradePage.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/common_before.js" type="text/javascript"></script>

<script>
	//hide the menus if there is one open
	document.onclick=hideMenus;
</script>

<ui:insert name="selected" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>
<!-- trade box msg -->
<span style="display: none;" id="russionCharBox"> &#1074; </span>
<table width="970" border="0" cellspacing="0" cellpadding="0" align="center" class="table_no_up_and_down_border_new" style="border-width:0px;">
    <tr>
        <td width="970" height="80" align="center" valign="top" class="" >
        	<iframe scrolling="no" id="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/headerContent.jsf" width="970" height="80"></iframe>
        </td>
    </tr>
    <tr>
	    <td width="970" height="33" class="" >
			<ui:include src="/jsp/tickerWrapper_zh.xhtml"></ui:include>
		</td>
	</tr>
	<tr>
       <td class="" >
			<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
				<tr><td height="8" colspan="2"><ui:insert name="message"></ui:insert></td></tr>
			    <tr>
			        <td width="970">
			            <table width="970" border="0" cellpadding="0" cellspacing="0" class="gray_background">
			                <tr>
			                   <td colspan="5" height="30px">
			                   		<!--  MENU STRIP table -->
						           <table border="0" style="border-color:blue; background-repeat:no-repeat;" align="center" cellpadding="0" width="970" cellspacing="0" class="gray_background" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/menu_strip.jpg">
						             <tr class="menu_stripe" valign="top">
						             	<td>&#160;</td>
						                <td align="#{applicationData.pageAlignment}" >
						                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
						                		<ui:insert name="homePage" />
						                	</ui:include>
						                </td>
										<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" >&#160;</td>
						                <td width="16">&#160;</td>
						                <td width="150" align="right" height="30" valign="top" rowspan="3">
											<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
						                </td>
						             </tr>
						           </table>
					           </td>
			                </tr>
			            </table>
			         </td>
			     </tr>
			 </table>
		</td>
   </tr>
   <h:panelGroup rendered="#{applicationData.skinId != 11}">
   		<ui:insert name="tradeMenuStrip" />
   </h:panelGroup>
</table>
	<!-- LIVE PERSON -->
	<ui:include src="/jsp/templates_zh/livePerson.xhtml" />
	<ui:insert name="content"></ui:insert>


 <!-- friendly Links" -->
<table width="970px" border="0" cellspacing="0" cellpadding="0" class="table_border" align="center" style="border-width: 0px;">
	<tr>
    	<td width="970px">
    		<ui:include src="/jsp/#{applicationData.tlvPath}#{applicationData.templatesDirectory}/friendlyLinks.xhtml" />
    	</td>
  	</tr>
</table>

<tr height="5px">

</tr>

<!-- FOOTER -->
<table width="970px" border="0" cellspacing="0" cellpadding="0"  align="center" style="border-width: 0px;">
	<tr>
    	<td height="136px" align="center">
    		<ui:include src="/jsp/#{applicationData.tlvPath}#{applicationData.templatesDirectory}/footer.xhtml" />
    	</td>
  	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:10; left:0; z-index:-1; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
<div id="treeM"  style="position:absolute;top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/marketSelect.xhtml" />
</div>
<div id="selectorMenu" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/returnSelector.xhtml" />
</div>
<div id="selectorAllSatatic" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/returnSelectorAll.xhtml" />
</div>
<div id="scheduleMenu" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/optionTypes.xhtml" />
</div>
</f:view>
<div id="log"></div>
<div id="tmpdiv" style="display: none;"></div>

<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/investmentPopup.jsf"/>
<a id="emailThickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/emailPopup.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=500&amp;width=700&amp;modal=true" />

<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>
<!-- NEW FEATURES BANNER (LIVE, BINARY0-100)-->
<a id="newFeaturesPopUpThickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/fearutes2013_pop.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=728&amp;width=1031&amp;modal=true&amp;scrolling=no;" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	<h:panelGroup rendered="#{applicationData.showNewFeaturesPopUpLogin}">
		<script>
			$(document).ready(function(){showNewFeaturesBanner();});
			function showNewFeaturesBanner() {
				setTimeout('runNewFeaturesThickBox();', 1000);
			}
		</script>
	</h:panelGroup>
</h:panelGroup>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; user.emailPopUpDisplay &amp;&amp; user.emailAutorizedLogic}">
	#{user.setEmailPopUpDisplay}
	<script>
		setTimeout('runEmailThickBox();',1000);
	</script>
</h:panelGroup>

<ui:include src="/jsp/tradingBoxTemplates_old.xhtml">
	<ui:insert name="groupParam"></ui:insert>
</ui:include>
<ui:insert name="lsSubscriptions_live"></ui:insert>
<ui:insert name="GoogleVisitHPCode"></ui:insert>

<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>



</body>
</html>