<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>
		var skinId = #{applicationData.skinId};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
	</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <c:set var="metaKey" value="#{msgs['anyoption.keywords']}" /> <!-- default -->
    <ui:insert name="metaKeywords"></ui:insert>
    <META NAME="keywords" content="${metaKey}"/>
    <c:set var="metaDesc" value="#{msgs['onetouch.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
    	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>

	<style>
		.ticker_table_chinese{ margin: 0px;background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/button_up.png);background-repeat: repeat-x;border-width: 0px 0px 0px 0px;border-style: none none none none;}
		.ttab { float: left; width: 685px;}
	</style>
</head>

<body dir="#{applicationData.pageDirection}"  background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bg.jpg" style="background-repeat:no-repeat;">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script>
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
</script>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<f:view locale="#{applicationData.userLocale}">

<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>

<script>
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
</script>
<ui:insert name="selected" />
<script>
	document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};

</script>

<table align="center" width="970" border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <td width="970" height="80" align="center" valign="top">
        	<iframe scrolling="no" id="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/headerContent.jsf" width="970" height="80"></iframe>
        </td>
    </tr>
    <tr>
		<td height="28" width="970">
			<ui:include src="/jsp/tickerWrapper_zh.xhtml"></ui:include>
		</td>
	</tr>
    <tr>
     <td class="table_no_up_border">
		<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8" ><td></td></tr>
		    <tr>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" class="gray_background">
		                <tr>
		                    <td colspan="5">
           						<ui:insert name="message"></ui:insert>
		                    </td>
		                </tr>
		                <tr>
		                <td colspan="5" height="30px">
				           <table border="0" style="border-color:blue; background-repeat:no-repeat;" align="center" cellpadding="0" width="970" cellspacing="0" class="gray_background" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/menu_strip.jpg"> <!--  MENU STRIP table -->
				             <tr class="menu_stripe">
				             	<td>&#160;</td>
				                <td align="#{applicationData.pageAlignment}">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
				                		<ui:param name="isHomePage" value="false" />
				                	</ui:include>
				                </td>
								<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" >&#160;</td>
				                <td width="16">&#160;</td>
				                <td width="150" align="right" height="30" valign="top" rowspan="3">
									<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
				                </td>
				             </tr>
				           </table>
				           </td >
		                </tr>
		           </table>
		        </td>
		     </tr>
		     <h:panelGroup rendered="#{applicationData.skinId != 11}">
			     <ui:include src="/jsp/trade_menu_strip.xhtml">
					<ui:param name="tradingLink" value="_#{selectedTd}" />
				 	<ui:param name="binaryOptionLink" value="" />
				 	<ui:param name="optionPlusLink" value="" />
				 	<ui:param name="oneTouchLink" value="#{selectedTd == 'oneTouch' ? '_active' : ''}" />
				 	<ui:param name="binary0100Link" value="" />
				 </ui:include>
			</h:panelGroup>
		</table>
		<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8" ><td></td></tr>
		    <tr>
		    	<td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
		                <tr>
		                   	<c:if test="${!empty sessionScope.user}">
								<td width="22">&#160;</td>
				          	</c:if>
				          	<c:if test="${empty sessionScope.user}">
		                		<td width="16">&#160;</td>
		                	</c:if>
		                    <td valign="top" width="720">
		<!-- *************************************************************************************************************************** -->
		 <!-- BEGIN MAIN -->
								<table width="720" height="536" border="0" cellpadding="0" cellspacing="0" >
			 			        	<tr height="31px">
				 			        	<td  height="31px" width="160px" class="header_pages_oneTouch">
											<ui:insert name="title"></ui:insert>
							            </td>
										<td  height="31px" width="12px" valign="middle" class="header_pages_separator">
											<!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" height="31px"/>-->
										</td>
				 			        	<td  height="31px" width="468px" valign="middle" class="header_pages_message">
											<ui:insert name="title_message"></ui:insert>
							            </td>
							            <td  height="31px" width="80px" class="header_pages" id="secure_td" >
								            <table height="31px" id="secure_table" cellpadding="0" cellspacing="0"  style="display:none;" onmouseover="ShowContentSec('secured'); return true;"
							            	onmouseout="HideContentSec('secured'); return true;">
								            	<tr>
										            <td height="31px" class="header_pages" width="17px" style="cursor:pointer" align="left">
										            	<img height="31px" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif"/>
										            </td>
										            <td height="31px" width="80px" class="header_pages" style="cursor:pointer" id="showHintTD">
										            	<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>
										            </td>
										        </tr>
								           </table>
							            </td>
						            </tr>
						         	<tr height="505" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="720" height="505" colspan="5">
											<ui:insert name="content"></ui:insert>
							            </td>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="16">&#160;</td>
		                    <td width="186"  height="536" valign="top" bgcolor="#FFFFFF">
		<!-- *******************************************Banners************************************************************************ -->
							<iframe align="center" valign="top" height="575" width="186" id="banners_page" name="banners_page" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{selectedTd}RightBanner.jsf"  scrolling="no"></iframe>
		<!-- *************************************************************************************************************************** -->
							</td>
							<td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="5"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
    <tr height="16px" bgcolor="#ffffff"><td height="16px" width="970px">&#160;</td></tr>
    <tr height="16px" bgcolor="#ffffff">
    	<td height="16px" width="970px">
		    <!-- FEATURES STRIP -->
			<table width="970px" border="0" cellspacing="0" cellpadding="0" class="table_border" align="center">
			  <tr>
			  	<td width="970px">
					<ui:include src="/jsp/featuresStrip.xhtml"/>
				</td>
			   </tr>
			</table>
    	</td>
    </tr>
	<tr height="16px" bgcolor="#ffffff"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td height="136px" width="970px" >
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;"/>
	<br/>
</div>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/templates/google.xhtml" />
</c:if>
</body>
</html>
