<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
		var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
		var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
		function clickTicker(marketId,scheduled){
			if(window.top.location.href.indexOf('intl') > -1){
				window.top.location.href="http://www.anyoption.com/";
				return false;
			}else{
				parent.tickerClick(marketId, scheduled, 3);
				return false;
			}
		}
	</script>

<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<script>

	    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
	    var ajax = new AJAXInteraction(url, offsetCallback);
	    ajax.doGet();

		/*
		  Reload ticker after setting utcOffset in Session
		  This is done because ticker page up before the Ajax call(return to server side)
		*/
		function offsetCallback(responseXML) {
		   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
		// alert(offset);
		   window.location.reload();
		}

	</script>
</h:panelGroup>

</head>
<body>

<f:view locale="#{applicationData.userLocale}">

	<table border="0" cellspacing="0" cellpadding="0" width="441px" height="26px" class="ticker_table_chinese">
		<tr>
			<td valign="middle" width="441px">
			</td>
		</tr>
	</table>
</f:view>
</body>
</html>
