@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/header.gif) repeat-x;

}

#header .logo	{background:url(../../images/landing_Contactus/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px; /*position:absolute; top:30px; left:175px;*/}



#footer	{ margin-bottom:40px; margin-top: 100px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

@charset "utf-8";
/* form1 CSS Document */
#page	{background:url(../../images/landing_Contactus/LPTestimonials/page_bk.png) repeat-x bottom;}

p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner1	{background:url(../../images/landing_Contactus/banner5.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_IT	{background:url(../../images/landing_Contactus/banner5_IT.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_TR	{background:url(../../images/landing_Contactus/banner5_TR.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_SP	{background:url(../../images/landing_Contactus/banner5_SP.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_FR	{background:url(../../images/landing_Contactus/banner5_FR.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_RU {background:url(../../images/landing_Contactus/banner5_RU.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_DE {background:url(../../images/landing_Contactus/banner5_DE.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}

#banner1_google	{background:url(../../images/landing_Contactus/banner5_google.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_IT_google	{background:url(../../images/landing_Contactus/banner5_IT_google.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_TR_google	{background:url(../../images/landing_Contactus/banner5_TR_google.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_SP_google	{background:url(../../images/landing_Contactus/banner5_SP_google.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_FR_google	{background:url(../../images/landing_Contactus/banner5_FR_google.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}
#banner1_RU_google  {background:url(../../images/landing_Contactus/banner5_RU_google.png) no-repeat; width:970px; height:720px; margin:0 auto;position:relative;}

.l_text_box	{font-size:14px; color:#525252; position:absolute; top:110px; left:33px;line-height: 18px; width:640px;}
.text_hl	{background-color: #032B44;    padding: 3px;}
.text_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/bullet.png);line-height: 24px;margin:14px 0;}
.t_box		{background:#e9e9e9; width:610px; min-height:182px; padding:14px; margin-top:20px;}
.t_photo	{margin-right:14px;}
.t_title	{font-size:21px; font-weight:bold; color:#157aba;}
.t_text		{font-size:13px; color:#525252; margin-top:5px; line-height: 16px;}
.t_name		{font-size:11px; font-weight:bold; color:#525252;}


.r_text_box	{position:absolute; top:44px; left:720px; font-size:12px; color:#fff;}
.title_image	{margin: 0 0 13px 5px;}
.r_text_box h2 {margin: 0 0 10px;}
.input1		{background:url(../../images/landing_Contactus/LPTestimonials/input_box1.png) no-repeat 0 0; width:196px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 190px;}
.star		{color:#f6cd10; font-weight:normal;}
.input2		{float:left; background:url(../../images/landing_Contactus/LPTestimonials/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:15px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}

.input2_1		{float:left;  background:url(../../images/landing_Contactus/LPTestimonials/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}


.input3		{background:url(../../images/landing_Contactus/LPTestimonials/input_box3.png) no-repeat; width:138px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:15px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 130px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5;}
#bottom_content	{width:100%;margin-top: 14px; font-size:11px; color:#a8a8a8;}
.table_l	{height:260px; width:636px; background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x; border:1px solid #9ac6e1;margin-left: 32px;}
.table_header	{color:#f6cd10; font-size:14px; font-weight:bold; margin: 3px 10px 0; }
.table_2	{height:260px; width:245px; background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x; border:1px solid #9ac6e1;margin-right: 33px; float:right;}
.table_2_text	{margin-top:15px; margin-left:10px;}
.map_image		{margin-top:30px;}
.table_l h3		{margin:2px 0; font-size:11px; font-weight:bold; color:#0471b5;}
.table_1_text	{margin-top:5px; margin-left:10px;}
.table_column	{float:left; margin-right:5px; width:90px; height:220px;}
.table_column.currencies {width:75px;}
.column_brack	{width:20px; background:url(../../images/landing_Contactus/column_brack.png) no-repeat ; height:208px; float:left; margin-top:5px;}
.table_link	{margin-left:11px;}
.table_link, .table_link a, .table_link a:hover	{ color:#0471b5; font-size:12px; font-weight:bold;}

.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -7px;}
.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}


.hide	{display:none;}

#error_box	{ display:none;position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/landing_Contactus/LPCommodities/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.plus	{float:left;text-align: right; width: 15px;margin-top: 4px;color:#000;}

.l_text_box_de {font-size:14px; color:#525252; position:absolute; top:110px; left:33px;line-height: 18px; width:640px; font-family:Tahoma, Geneva, sans-serif}
.t_title_de	{font-size:21px; font-weight:bold; color:#157aba; font-family:Arial, Helvetica, sans-serif}
.t_text_de		{font-size:13px; color:#525252; margin-top:5px; line-height: 16px;}
.t_name_de		{font-size:11px; font-weight:bold; color:#525252;}

.r_text_box_de	{position:absolute; top:44px; left:720px; font-size:12px; color:#fff;}
.t_box_de		{background:#e9e9e9; width:610px; min-height:182px; padding:14px; margin-top:20px;}
.t_photo_de	{margin-right:14px;}

#banner_ar	{
	background:url(../../images/landing_Contactus/banner5_AR.png) no-repeat;
	width:970px;
	height:660px;
	margin:0 auto;
	position:relative;
	background-image: url(../../images/landing_Contactus/banner5_AR.png);
}

.l_text_box_ar	{
	font-size:14px;
	color:#525252;
	position:absolute;
	top:122px;
	left:302px;
	line-height: 18px;
	width:640px;
	font-family:Tahoma, Geneva, sans-serif; direction:rtl
}
.r_text_box_ar	{
	position:absolute;
	top:48px;
	left:46px;
	font-size:12px;
	color:#fff;
}
.t_box_ar		{background:#e9e9e9; width:610px; min-height:182px; padding:14px; margin-top:20px;}
.t_photo_ar	{margin-right:14px;}
.t_title_ar	{font-size:21px; font-weight:bold; color:#157aba; font-family:Arial, Helvetica, sans-serif}
.t_text_ar	{font-size:13px; color:#525252; margin-top:5px; line-height: 16px;}
.t_name_ar		{font-size:11px; font-weight:bold; color:#525252;}
.agree_ar		{ float: right; margin-right: 10px;}
