body { width: 100%; margin: 0; font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 0.9em }
#wrapper { margin: 0 auto; width: 980px; position: relative; }
#header { border-bottom: dotted 1px #a7a5a4; padding: 15px 0px 5px 0px; margin-bottom: 10px }
#logo { background: url(../../images/landing_Contactus/LPopt_C/logo.png) no-repeat; width: 178px; height: 29px; margin-bottom: 10px }
/*#phone { background: url(../../images/landing_Contactus/LPopt_C/phone.png) no-repeat 0px 2px; width: 100px; height: 13px; text-indent: 20px; font-size: 0.85em; color: #c8c8c8; display: block }*/
#leader-photo { background: url(../../images/landing_Contactus/LPopt_C/leader-photo.jpg); height: 134px; width: 246px; float: left; margin: 30px 0px 0px 0px }
#slogans {
	background: url(../../images/landing_Contactus/LPopt_C/protection_vote.png) no-repeat right;
	min-height: 172px;
	padding: 0px 240px 0px 15px;
	float: left;
	width: 479px;
	position: relative;
	margin-bottom: 40px
}
#slogans h1 { color: #d52222; font-size: 1.9em; font-weight: normal }
#slogan1 { font-size: 1em; width: 450px; padding-left: 10px }
#slogan2 { font-size: 0.9em; font-style: italic; position: absolute; bottom: 0; font-weight: 700 }
#leaders { width: 242px; min-height: 249px; float: left; margin-right: 20px }
#maincol { float: left }
.red { color: #d52222 }
#center { height: 95px }
#center ul { list-style: none; margin: 10px 0; padding: 0; color: #464646; font-size: 0.9em }
#center li { float: left; width: 168px; height: 50px; border-right: solid 1px #bbbbbb; padding: 0px 0px 0px 10px }
#center li.last { border-right: none }
#center li.first { padding-left: 0 }

#button { position: absolute; right: -70px; top: 33px; z-index: 10 }
#submit { background: url(../../images/landing_Contactus/LPopt_C/submit.png) no-repeat; width: 191px; height: 101px; border: none; cursor: pointer }
#submit:hover { background: url(../../images/landing_Contactus/LPopt_C/submit-hover.png) no-repeat }
#leadbox { background: url(../../images/landing_Contactus/LPopt_C/leadbox.jpg) no-repeat; width: 602px; height: 172px; position: relative }
#leadbox-form { width: 550px; padding: 13px 0px 0px 95px; height: 90px }
.form-item { float: left; width: 150px; margin-right: 60px; margin-bottom: 10px; padding-top: 10px }
.form-item input { width: 120px; height: 20px; background: transparent; border: none }
#accept-layout { width: 100%; position: absolute; bottom: 55px; left: 30px; font-size: 0.7em; color: white }
#footer { background: url(../../images/landing_Contactus/LPopt_C/footer-icons.png) no-repeat top; height: 39px; width: 1024px; position: absolute; right: -8px; top: 580px; padding-top: 180px; font-size: 0.6em; text-align: center }
#promote1 { position: absolute; top: 0px }
#promote1 ul { margin: 90px 0px 0px 10px; color: #8a8a8a; font-size: 0.9em; padding: 0; list-style: none }
#promote1 ul li { border-right: none; width: 108px; padding: 0px 100px 0px 0px; text-align: center; float: left }
li.last { padding-right: 0px !important }
#third { padding: 0px 115px 0px 15px !important }

.error_text { color: #bd5317; font-weight: bold; font-family: Arial, Tahoma, Verdana, sans-serif;  font-size: 12px; text-align: center;}
