@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#ebecee;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#ebecee;
	width:1020px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	}

#header	{
	height:91px;
	background:url(../../images/landing_Contactus/LPanyoption_optemotionals/anyoption_header.jpg) repeat-x;

}
#header .logo	{background:url(../../images/landing_Contactus/LPanyoption_optemotionals/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/LPanyoption_optemotionals/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 40px; height:27px;/* background:url(../../images/landing_Contactus/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px;margin-right: 30px; /*position:absolute; top:30px; left:175px;*/}



#page	{
 background-color:#FFF}
#banner1	{
	width:1020px;
	height:387px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LPanyoption_optemotionals/anyoption_banner_es.jpg) no-repeat;
}

.l_text_box	{font-size:11px; color:#084166; position:relative; margin-left:500px; float:left; line-height: 14px; width:150px; font-family: Arial, Helvetica, sans-serif; margin-top:210px; }

.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5; margin: 10px 0 10px 0;}

.r_text_box	{
	position:absolute;
	top:26px;
	left:675px;
	font-size:12px;
	color:#fff;
	width: 286px;
	height: 247px;
}
.r_text_box	form { margin-top:-10px; margin-left:10px}
.text-form { margin: 30px 0 10px 10px}
.r_text_box h2 {margin: 0 0 10px 0;}
.input1		{background:url(../../images/landing_Contactus/LPanyoption_optemotionals/input_box1.jpg) no-repeat 0 0; width:261px; height:22px; overflow:hidden; margin-top: 3px; margin-bottom:3px; float:left; padding:5px}
.input1 input	{ border: medium none; margin:0 3px; width: 260px; font-size:14px; color:#356a8f}
.input2		{float:left; background:url(../../images/landing_Contactus/LPanyoption_optemotionals/input_box2.jpg) no-repeat; width:186px; height:22px; overflow:hidden;margin-top: 3px; margin-bottom:15px; float:left; padding:5px}
.input2 input	{ border: medium none; margin:0 3px; width: 190px;text-align: left;font-size:14px; color:#356a8f}
.input3		{background:url(../../images/landing_Contactus/LPanyoption_optemotionals/input_box3.jpg) no-repeat; width:128px; height:22px; overflow:hidden;margin-top: 3px; margin-bottom:5px; float:left; padding:5px}
.input3 input	{ border: medium none; margin:0 3px; width: 115px; font-size:14px; color:#356a8f}
.input4		{background:url(../../images/landing_Contactus/LPanyoption_optemotionals/input_box4.jpg) no-repeat; width:64px; height:22px; overflow:hidden;margin-top: 3px; margin-bottom:5px; float:left; padding:5px}
.input4 input	{ border: medium none; margin:0 3px; width: 50px; font-size:14px; color:#356a8f}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -33px;}

.button { height:63px; width:279px}
.button input{ background: url(../../images/landing_Contactus/LPanyoption_optemotionals/button_off.jpg) no-repeat; width: 279px; height: 63px; border: none; cursor: pointer }
.button input:hover { background: url(../../images/landing_Contactus/LPanyoption_optemotionals/button_on.jpg) no-repeat }

.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5;}


.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;}
.error_text	{height:35px; overflow:visible; float:left; width:271px}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/LPCommodities/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}

.star		{color:#f6cd10; font-weight:normal;}




/****************************/
/*   Footer styles start    */
/****************************/

.footer_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:13px;
	text-decoration:none;
	color:#0284d6;
}

.footer_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:13px;
	text-decoration:none;
	color:#093755;
}

.footer_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#093755;
	line-height:13px;
}

.footer_message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#093755;
	text-align:center;
	font-weight: bold;
}
/**** Footer styles end******/

