body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999999;
	text-align:center;

}

.headline {
	color:#293533;
	margin-top:80px;
	margin-left:25px;
	margin-right:20px;
	width:260px;
	height:170px;
	line-height:17px;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
}

.site {
	width:166px;
	height:128px;
	float:right;
}

.demo {
	width:166px;
	height:128px;
	float:left;
}

.contactme_input_text_name{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	width:102px;
	height:12px;
	text-align: right;
}

.contactme_input_text_phone_number{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	width:51px;
	height:12px;
	text-align: right;
}

.contactme_input_text_phone_number_combo{
	color:#566764;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
	width:49px;
	height:18px;
	text-align: right;
}

.contactme_error_messages_bold{
	color:#990020;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	background: white;
	background-color: white;
}
.contactme_error_messages_bold_students{
	color:#990020;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}