@charset "utf-8";
/* etrader general CSS Document */
body	{
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background:#eaeaea;
	color:#566764;
}
#page	{
	direction:rtl;
	width:986px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	}
img	{border:none;}
p	{ margin:10px 0;}
#main 	{
	background:#fff url(../../images/landing/LP_etrader_oil/bk.png) no-repeat;
	width:100%;
	height:540px;
	position: relative;
}
#header	{background:url(../../images/landing/LP_etrader_oil/header.png) no-repeat; width:483px; height:76px; position:absolute; top:76px; right:38px;}
#header2	{background:url(../../images/landing/LP_etrader_oil_google/header2.png) no-repeat; width:535px; height:66px; position:absolute; top:76px; right:38px;}
.oil_man	{background:url(../../images/landing/LP_etrader_oil/oil_pic.png) no-repeat; width:470px; height:347px; position:absolute; top:184px; left:213px; z-index:30;}
.main_text h2	{font-size:20px; font-weight:bold;}

.main_text	{font-size:14px; position:absolute; right:38px; top:150px;}
.red	{ color:#db2400;}
h2		{font-size:20px; font-weight:bold;margin: 10px 0;}
.title1	{font-size:30px;margin: 0;}
ul.list	{ list-style:none; color:#566764; padding:0;margin: 10px 0;}
ul.list li { background:url(../../images/landing/LP_etrader_oil/li.png) no-repeat right; margin:0px 0px 5px; height:20px;padding: 3px 25px 0;font-size: 16px;}

form {z-index: 100;}
.form_box	{width:214px; position: absolute; top:60px; left:70px; background:url(../../../images/form_bk.png) no-repeat; height:441px; z-index:50;color: white;}
.form_box h3	{ margin:0px 0 10px;line-height: 20px; color:#566764; font-size:19px;}
.input1	{}
.form_box .input1 input	{width:135px; height:23px; float:left;border: 1px solid #4B5B58; padding-top:0px; background:#2E3C39; color:#fff;}
.label	{height:25px; font-size:13px;margin-bottom:5px;line-height: 28px;text-align: left;}
.form_box .input2 {width:49px; height:25px; background:#2E3C39;float:left;border:1px solid #4B5B58; margin-right:2px;color:#fff;}
.form_box .input2 .noborder {width:44px; height:18px; overflow:hidden; position:relative; margin-top:4px; margin-right:2px;}
.form_box .input2 select {width:48px;  color:#fff; left: 4px; position: relative; top: -1px; border:none;background:#2E3C39; }
.form_box .input3 input	{    color: #7F7F7F;border: 1px solid #4B5B58; padding-top:4px; background:#2E3C39;color:#fff;
    float: left;
    height: 20px;
    /*margin-left: 1px;*/
    width: 82px;}
.form_title	{background:url(../../images/landing/LP_etrader_oil/form_title_bk.png) no-repeat right top; width:230px; height:73px; font-size:16px; font-weight:bold;position: relative;left: 8px;padding-right: 25px;padding-top: 5px;}
.form_title .first_line {font-size:23px;}
.lock_line	{ margin-right: 3px}
.lock_line img {margin-right:0px;}
.input_checkbox	{font-size:11px;}
.lock	{margin-right: 3px;margin-left: 1px;}
.submit_button {
	position: relative;
	left: 8px;
	margin: 10px;
	-webkit-box-shadow: 0px 0px 15px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 15px 0px #000; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 15px 0px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}
.error_message	{font-size:11px; color:#fff; font-weight:bold; background: no-repeat center top; text-align:center; height:20px;padding-top: 11px;}
#footer	{
	text-align:center;
	width:986px;
	margin:0 auto;
}
#footer .icon_box	{ height:38px; width:860px;overflow: hidden; margin:15px auto;background: #D5D5D5;padding: 11px 30px;}
#footer .icon	{float:left; margin: 3px 24px 0;}
#footer .footer_text	{margin-right: 38px; margin-bottom:5px;margin-top: 5px; direction: rtl;font-family: Arial,Helvetica,sans-serif;font-size: 11px; color:#566764; text-align:right;}
.footer_link:link {
    color: #4B5C59;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}
.footer_link:hover {
    color: #990020;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#error_box	{ display:none;position:absolute; z-index:100; top:200px; background:url(../../images/landing/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:30px; height:50px; padding:0 10px; font-size:14px; font-weight:bold;color:#FFFFFF;}
.error_button	{background:url(../../images/landing/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;position: absolute; top: 90px; left:85px;}

#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	width:100%;
	z-index:99;
}