@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#ccccd4;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/landing_Contactus/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px;margin-right: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #333 ;margin-top: 10px;font-size:12px;}

.hide	{display:none;}

/* form1 CSS Document */
p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner_en	{background:url(../../images/landing_Contactus/LP_anyoption_magic_long/banner_magic_full-form_en.jpg) no-repeat; width:970px; height:750px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_ru	{background:url(../../images/landing_Contactus/LP_anyoption_magic_long/banner_magic_full-form_ru.jpg) no-repeat; width:970px; height:750px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}


.l_text_box	{
	font-size:15px;
	color:#093755;
	position:absolute;
	top:200px;
	left:79px;
	line-height: 18px;
	width:428px
}

.l_text_box	.title {font-size:23px;}
.l_text_box	.add {font-size:18px; color:#0284d6; font-weight:bold}
.text_box_2	{
	font-size:15px;
	color:#093755;
	position:absolute;
	top:211px;
	left:63px;
	line-height: 15px;
	width:347px
}

.text_bullets	{padding: 0 0 0 30px;  list-style-image:url(../../images/landing_Contactus/LP_anyoption_magic_long/bullet.png); margin:14px 0;}
.text_bullets li{line-height: 20px; margin-top:10px}
.r_text_box	{
	position:absolute;
	top:50px;
	left:701px;
	font-size:12px;
	color:#1a1c22;
}


.l_text_box_2_en	table{ margin-top:97px; font-size:14px}
.l_text_box_2_ru	table{ margin-top:92px; font-size:14px}
.white-text { font-size:18px; color:#FFF; font-weight:bold; text-align:center; width:970px; margin-top:10px; width:564px}

.table_l { margin-top:100px}
.table_l_ru { margin-top:50px}
.table_column { margin-top:20px}

#details_form	{margin:0; padding:0;}

.r_text_box	{
	position:absolute;
	top:68px;
	left:566px;
	font-size:12px;
	color:#fff;
	width: 350px;
}
.r_text_box_big-title	{
	font-size:22px;
	color:#fff;
	margin-left:0px;
	margin-bottom:20px; color:#093755;
	text-align:center
}

.input_title	{float: left; margin-right: 10px; text-align: right; width: 136px; color:#000}
.empty_input { color:#000}
.input1		{background:url(../../images/landing_Contactus/input_box_full1.png) no-repeat 0 0; width:181px; height:19px; overflow:hidden; margin-bottom:5px;}
.input1 input	{ border: medium none; height: 13px; margin:2px 3px; width: 175px;font-size: 10px;}
.input1	.select_container { border: 0 none; height: 15px; left: 2px; overflow: hidden; position: relative;top: 2px; width: 177px;}
.input1 select	{ font-size: 10px; height: 18px; left: -2px; position: relative; top: -2px; width: 180px;}
.star		{color:#f6cd10; font-weight:normal;}

.input2			{float:left; background:url(../../images/landing_Contactus/input_box_full2.png) no-repeat;width:51px; height:19px; overflow:hidden; margin-bottom:5px; margin-right:5px;}
.input2 input	{ border: medium none; height: 13px; margin:2px 3px; width: 45px;text-align: center;font-size: 10px;}
.input2_1		{float:left; color:#000;line-height: 20px; background:url(../../images/landing_Contactus/input_box_full2.png) no-repeat;width:51px; height:18px; overflow:hidden; margin-bottom:5px; margin-right:5px; position:relative; padding:0;}
.input2_1 input	{ border: medium none; height: 13px; margin:2px 0px; width: 300px; font-size: 10px;position: absolute; padding:0;text-align: left;}


.input3		{background:url(../../images/landing_Contactus/input_box_full3.png) no-repeat; width:126px; height:19px; overflow:hidden; margin-bottom:5px;}
.input3 input	{ border: medium none; height: 13px; margin:2px 3px; width: 120px;font-size: 10px;}
.input4		{float:left; background:url(../../images/landing_Contactus/input_box_full4.png) no-repeat;width:56px; height:19px; overflow:hidden; margin-bottom:5px; margin-right:6.5px;}
.input4	.select_container { border: 0 none; height: 15px; left: 2px; overflow: hidden; position: relative;top: 2px; width: 52px;}
.input4 select	{ font-size: 10px; height: 18px; left: -2px; position: relative; top: -2px; width: 56px;}
.radio_button	{margin:0;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -19px;}

.bottom_line	{font-size:16px; font-weight:bold; color:#0284d6; margin: 10px 0 10px 0; font-weight:bold}


.agree_box	{margin-left: 10px;margin-top: 5px;}
.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;margin: 0 0 5px; padding-top: 2px; color:#000}
.agree_text a {color:#000; text-decoration:underline;}
.submin_swf	{ margin-left: 137px;margin-top: 15px;}

.info_button	{  width:15px; height:15px; background:url(../../images/landing_Contactus/LP_traders_reveal_long/info_button.png) no-repeat; float: right;margin-top: 2px;}
.info_box		{ background:url(../../images/landing_Contactus/LP_traders_reveal_long/info_box.png) no-repeat;  display: none; height: 61px; left: 124px; margin-top: -2px; position: absolute; width: 230px; overflow: hidden;}
.info_box.show	{display:block; z-index:101;}
.info_text		{ margin:10px 20px; color:#e6c61b;}

#error_box	{ display:none; position:absolute; z-index:100; top:500px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.plus	{float:left;text-align: right; width: 19px;margin-top: -1px;}
.yellow	{color:#f6cd10;}
