@charset "utf-8";
/* form1 CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/LPProffesional/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/landing_Contactus/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 11px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}


p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner-en	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_en.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner-es	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_es.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner-fr	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_fr.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner-it	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_it.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner_tr	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_tr.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner-ru	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_ru.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner_de	{background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_de.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}
#banner_ar  {background:url(../../images/landing_Contactus/LPAnyoption_make1500/banner_300-1500_ar.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}

.l_text_box	{
	font-size:16px;
	color:#1a1c22;
	position:absolute;
	top:217px;
	left:57px;
	line-height: 20px;
	width:272px
}

.l_text_box_ar {
	font-size:16px;
	color:#1a1c22;
	position:absolute;
	top:244px;
	left:641px;
	line-height: 20px;
	width:272px;
	direction:rtl;
}

.l_text_box	.title {margin-bottom:10px;}

.r_text_box	{position:absolute; top:100px; left:690px; font-size:12px; color:#1a1c22;}
.r_text_box_ar {position:absolute; top:102px; left:61px; font-size:12px; color:#1a1c22; direction:rtl;}
.title_image	{margin: 0 0 13px 5px;}
.r_text_box h2 {font-weight:bold; margin: 0 0 10px; font-size: 18px; color: rgb(199, 9, 51)}
.input1		{background:url(../../images/landing_Contactus/LPProffesional/input_box1.png) no-repeat 0 0; width:216px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 210px;}
.star		{color:#f6cd10; font-weight:normal;}
.input2		{float:left; background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}
.input2_1		{float:left; line-height:11px;  background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}
.input3		{background:url(../../images/landing_Contactus/LPProffesional/input_box3.png) no-repeat; width:158px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 150px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:17px; font-weight:bold; color:#f6cd10;}
#bottom_content	{width:100%;margin-top: 14px; font-size:12px; color:#000;}
.table_l	{height:260px; width:616px; background:url(../../images/landing_Contactus/LPAnyoption_make1500/table_bk.jpg) repeat-x; margin-left: 32px; padding-top:10px; padding-left:20px}
.table_l_ru	{height:260px; width:616px; background:url(../../images/landing_Contactus/LPAnyoption_make1500/table_bk.jpg) repeat-x; margin-left: 32px; padding-top:10px; padding-left:10px}
.table_header	{color:#000; font-size:19px; font-weight:bold; margin: 10px 0px 0; }
.table_header_de	{color:#000; font-size:18px; font-weight:bold; margin: 10px 0px 0; }
.table_2	{height:260px; width:245px; background:url(../../images/landing_Contactus/LPAnyoption_make1500/table_bk.jpg) repeat-x; margin-right: 33px; float:right;}
.table_2_text	{margin-top:15px; margin-left:10px;}
.map_image		{margin-top:30px;}
.table_1_text	{margin-top:5px; margin-left:00px;}
.table_column	{float:left; margin-right:20px;width:185px; height:140px; margin-top:15px; }
.table_column_de	{float:left; margin-right:20px;width:185px; height:140px; margin-top:10px; font-size: 11px; }
.table_column_tr	{float:left; margin-right:20px;width:185px; height:125px; margin-top:15px; }
.table_column_ru	{float:left; margin-right:20px;width:185px; height:150px; margin-top:10px;; }


.table_link	{margin-left:11px;}
.table_link, .table_link a, .table_link a:hover	{ color:#0471b5; font-size:12px; font-weight:bold;}

.agree		{ float: left; margin-right: 10px;}
.agree_ar	{ float: right; margin-right: 10px;}
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -7px;}
.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../images/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}

#error_box	{ display:none;position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}


.yellow	{color:#f6cd10;}
.plus	{float:left;text-align: right; width: 15px;margin-top: 7px;color:#000;}

#bottom_content_ar {
	margin: 15px 35px 0 35px;
	font-size:12px;
	color:#000;
	clear: both;
}
.table_l_ar {
	height:260px;
	width:616px;
	background:url(../../images/landing_Contactus/LPAnyoption_make1500/table_bk.jpg) repeat-x;
	margin-left: 32px;
	margin-top:10px;
	float: right;
}
h2 {
	color:#000;
	font-size:19px;
	font-weight:bold;
	margin: 10px 20px 0 0;
}

h3 {
	color:#000;
	font-size:16px;
	font-weight:normal;
	margin: 10px 20px 0 0;
}
.table_2_ar {
	height:260px;
	width:245px;
	background: url(../../images/landing_Contactus/LPAnyoption_make1500/table_bk.jpg) repeat-x;
	margin-top: 10px;
	margin-left:-2px;
	float: left;
}
.table_column_ar    {
	float: right;
	margin-right:20px;
	width:185px;
	height:140px;
	margin-top:15px;
	direction:rtl;
}

.table_1_text_ar {
	margin-top:5px;
	margin-left:00px;
}
#footer_ar {
	margin-bottom:40px;
	margin-top: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	float: right;
	width: 100%;
}
#footer_ar .icons_ar {
	height:30px;
	margin:0 auto;
	padding-right: 20px;
	width: 320px;
}
#footer_ar .icons_ar .icon_space_ar {
	margin-left:20px;
	float:right;
}
#footer_ar .links_ar {
	margin-top:20px;
	margin-bottom:15px;
}
#footer_ar .footer_link_ar {
	color: #0284D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer_ar .footer_link:hover {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer_ar .footer_text_ar {
	color: #7d7d7d;
	margin-top: 10px;
}
.hide {
	display:none;
}

#header_ar {
	height:103px;
	background:url(../../images/landing_Contactus/LPProffesional/header.gif) repeat-x;
}
#header_ar .logo_ar {
	background:url(../../images/landing_Contactus/options_trading_anyoption.gif);
	width:284px;
	height:103px;
	margin-right: 17px;
	float: right;
}
#header_ar .info_ar {
	background:url(../../images/landing_Contactus/header_info.jpg) no-repeat;
	float:left;
	width:389px;
	height:103px;
	position:relative;
	font-size:13px;
	color:#fff;
	text-align: center;
	float:left;
}
#header_ar .info_ar .live_chat_ar {
	float:right;
	line-height: 25px;
	margin-right: 54px;
	margin-top: 40px;
	height:27px;/* background:url(../images/chat_icon.png) no-repeat right; position:absolute; top:44px; right:75px;*/
}
#header_ar .info_ar .live_chat a, #header_ar .info_ar .live_chat_ar a:hover {
	color:#fff;
	text-decoration:none;
}
#header_ar .info_ar .number_ar {
	margin-top: 30px;
	margin-left: 30px; /*position:absolute; top:30px; right:175px;*/
	float: left;
}



