@charset "utf-8";
/* etrader general CSS Document */
body {
	background:#fff url(../../images/landing/LP_etrader_380_google/bk.png) repeat-x;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}
#page {
	width:865px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
}
img {
	border:none;
}
.text_bullets {
	font-weight: normal;
	list-style-type: none;
	text-align: left;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-left: 30px;
	font-size: 16px;
	width: 457px;
}
.clear {
	clear: both;
}
form {
	float: left;
}

*+html #main_box{
	height: 588px;
	margin-top: 0px;
	}


#main_box {
	height: 579px;
	top: 0px;
	vertical-align: top;
	clear: both;
	position: relative;
	border-bottom: solid 1px #cccccc;
}
*+html .title {
	margin: 47px -9px 10px 0;
	float: right;
	width: 550px;
}
.title {
	margin: 50px -9px 10px 0;
	float: right;
	width: 550px;
}
#bk {
	position: absolute;
	z-index: 150;
	left: 170px;
	bottom: 0;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
}
.banner {
	margin: 40px 0 5px 0;
}
.text_bullets li {
	background-image: url(../../images/landing/LP_etrader_380_google/bk_list.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0 0 5px 0;
	padding: 1px 30px 0 0;
	height: 22px;
}
#header {
	text-align: right;
}
.logo {
	margin: 8px 0 0;
}
h1 {
	direction:rtl;
	font-size:20px;
	color:#566764;
	line-height: 20px;
	font-weight: bold;
}
h1 span {
	color: #db2400;
}
h2 {
	direction:rtl;
	font-size:26px;
	color:#566764;
	line-height: 26px;
	font-weight: bold;
	margin: 10px 0 15px 0;
}
h2 span {
	color: #db2400;
}
.main_text {
	direction:rtl;
	font-size:14px;
	color:#566764;
	line-height: 16px;
	float: right;
	width: 550px;
	float: right;
}
.main_text p {
	width: 300px;
	margin: 10px 0 0 0;
	padding: 0px;
}
*+html .form_box {
	padding-left:52px;
	margin-top: 8px;
}
.form_box {
	direction:rtl;
	width:219px;
	padding:55px 49px 0 49px;
	position: absolute;
	top: -8px;
	background:url(../../images/landing/LP_etrader_380_google/form_bk.png) no-repeat;
	height:429px;
	z-index:9999;
}
*+html .form_box h3 {
	height: 49px;
	padding:4px 15px 10px 10px;
	line-height: 18px;
	margin:0 13px 5px 0;
}
.form_box h3 {
	height: 45px;
	width: 185px;
	margin:0 10px 5px 0;
	padding:8px 15px 10px 10px;
	line-height: 20px;
	color:#566764;
	font-size:23px;
	font-weight: bold;
	background: transparent url(../../images/landing/LP_etrader_380_google/bk_formtitle.png) no-repeat center top;
}
.form_box h3 span {
	font-size:16px;
}
.form_box .input1 {
	float: left;
	width:130px;
	clear: both;
}
.form_box .input1 input {
	width:130px;
	height:17px;
	float: left;
	color:#7f7f7f;
	border: solid 1px #bec7c5;
	padding-top:4px;
	background:#ffffff;
}
.label {
	height:25px;
	width: 74px;
	color:#b81810;
	font-size:13px;
	margin: 0 0 5px 10px;
	line-height: 24px;
	text-align: left;
	float: left;
}
*+html .form_box .input2 {
	margin-left: -4px;
}
.form_box .input2 {
	width: 48px;
	height: 22px;
	background: #fff;
	float: left;
	border: solid 1px #bec7c5;
	clear:both;
}
.form_box .input2 .noborder {
	width: 48px;
	height: 20px;
	overflow: hidden;
	position: relative;
	margin-top: 2px;
	margin-left: 2px;
}
*+html .form_box .input2 select {
	top: -1px;
	height: auto;
	left: 2px;
	width: 49px;
	right: -1px;
}
.form_box .input2 select {
	width: 46px;
	color: #7F7F7F;
	left: 2px;
	position: relative;
	top: 0px;
	border: none;
	background: #fff;
	border-image: initial;
	color:#7f7f7f;
	fotn-size: 11px;
	right: 1px;
	height: 19px;
}
.form_box .input3 {
	float: left;
}
.form_box .input3 input {
	color: #7F7F7F;
	border: medium none;
	padding-top:4px;
	background:#ffffff;
	border: solid 1px #bec7c5;
	height: 17px;
	width: 75px;
	float: left;
	margin-left: 5px;
	text-align: left;
}
.input_checkbox {
	font-size:11px;
	float: right;
	margin-right: -7px;
}
.agree { /*float:right;margin-right: 0;*/
}
/*.error_message	{background:#2e2a2b; height:18px; font-size:12px; color:#b50900; text-align:center;font-weight: bold; margin-top:5px;}*/
.submin_swf {
	margin-top:10px;
}
.submit_button {
	margin: 10px 5px 5px 0;
}
.error_message {
	float: right;
	color:#db2400;
	background: transparent no-repeat center top;
	margin-right:7px;
	font-size:11px;
	color:#db2400;
	font-weight:bold;
	line-height:23px;
	top:-5px;
	width: 211px;
	height: 23px;
	padding-top: 7px;
	text-align: center;
}
.checkbox_line {
	height:22px;
	color:#566764;
	float: right;
	padding-top: 5px;
	width: 210px;
}
.checkbox_line input [type="checkbox"] {
	border: solid 1px #bec7c5;
}
.lock_line {
	width: 210px;
	color:#566764;
	margin-top: 5px;
	background: transparent url(../../images/landing/LP_etrader_380_google/lock.png) no-repeat 218px top;
	padding-right: 22px;
	float: right;
	direction: rtl;
}
.lock_line img {
	margin-right: 5px;
	margin-top: 2px;
}
#bottom_boxs {
	margin-bottom:16px;
	color: #4B5C59;
	font-size: 14px;
	z-index:100;
	position:relative;
	display:table;
	width: 100%;
}
.testm_box {
	float:right;
	width:281px;
	height:310px;
	margin-left:4px;
	position:relative;
	direction:rtl;
	background-color: #ffffff;
}
.box1 {
	background:url(../../images/landing/LP_etrader_380_google/testimonials_box1.jpg) no-repeat;
}
.box2 {
	background:url(../../images/landing/LP_etrader_380_google/testimonials_box2.jpg) no-repeat;
}
.box3 {
	background:url(.../../images/landing/LP_etrader_380_google/testimonials_box3.jpg) no-repeat;
	width:280px;
	margin:0;
}
.testm_box .text {
	color:#fff;
	font-size:11px;
	padding: 10px 15px;
	position: absolute;
	text-align: right;
	top: 140px;
}
.testm_box .name {
	color:#fff;
	font-size:15px;
	padding: 0 15px;
	position: absolute;
	width: 250px;
	text-align: right;
	top: 288px;
}
.testm_footer {
	direction:rtl;
	font-size:11px;
	color:#566764;
	margin: 15px 0 20px 0;
	padding-top: 0px;
	z-index: 250;
}
#footer .icon_box {
	background:#eaeaea;
	height:38px;
	width:100%;
	overflow: hidden;
	margin-bottom:15px;
}
#footer .icon {
	float:left;
	margin: 6px 24px 0;
}
#footer .icon2 {
	float:left;
	margin: 2px 24px 0;
}
#footer .footer_text {
	margin-bottom:5px;
	direction: rtl;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#566764;
	text-align:center;
}
.footer_link:link {
	color: #4B5C59;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.footer_link:hover {
	color: #990020;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
#error_box	{ display:none;position:absolute; z-index:10100; top:200px; background:url(../../images/landing/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:30px; height:50px; padding:0 10px; font-size:14px; font-weight:bold; color:none;}
.error_button	{background:url(../../images/landing/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;position: absolute; top: 90px; left:85px;}


#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	width:100%;
	z-index:10000;
}
