body { width: 100%; margin: 0; font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 1em }
#wrapper { margin: 0 auto; width: 980px; position: relative; }
#header { background: url(../../images/landing_Contactus/LPopt_A/big_image.jpg) no-repeat top right; height: 404px; width: 100%; padding-top: 15px }
#logo { background: url(../../images/landing_Contactus/LPopt_A/logo.png) no-repeat; width: 178px; height: 29px; margin-bottom: 33px }
/*#phone { background: url(../../images/landing_Contactus/LPopt_A/phone.png) no-repeat 0px 2px; width: 100px; height: 13px; text-indent: 20px; font-size: 0.75em; color: #c8c8c8; display: block }*/
#slogan1, #slogan3 { font-size: 1.1em; margin-bottom: 30px }
#slogan1 h1 { color: #c15015; font-size: 2.42em; margin: 10px 0px 15px 0px; font-weight: normal; }
#slogan2 { color: #c15015; font-size: 0.95em; margin-bottom: 10px; line-height: 1.4em }
#leadbox { background: url(../../images/landing_Contactus/LPopt_A/leadbox.jpg) no-repeat; width: 602px; height: 172px; position: relative }
#winners { /*background: url(../../images/landing_Contactus/LPopt_A/winners-box.png) no-repeat;*/ width: 121px; height: 56px; position: absolute; right: 18px; top: 25px; z-index: 10 }
#button { position: absolute; right: 12px; top: 83px; z-index: 10 }
/*#contactForm:savelink { background: url(../../images/landing_Contactus/LPopt_A/button.png) no-repeat; width: 131px; height: 71px; border: none; cursor: pointer }
#contactForm:savelink:hover { background: url(../../images/landing_Contactus/LPopt_A/button-hover.png) no-repeat -30px -30px }*/
#leadbox-form { width: 450px; padding: 43px 0px 0px 95px; height: 90px }
.form-item { float: left; width: 200px; margin-right: 10px; margin-bottom: 23px }
.form-item input { width: 120px; border: none; height: 20px; background: transparent }
#accept-layout { width: 100%; position: absolute; bottom: 35px; left: 30px; font-size: 0.7em; color: white }
#center { background: url(../../images/landing_Contactus/LPopt_A/footer.jpg) no-repeat bottom; height: 219px; width: 1024px; position: absolute; right: 4px }
#center ul { list-style: none; margin: 10px 0px 0px 48px; padding: 0; font-size: 0.75em; color: #464646; height: 60px }
#center li { float: left; width: 142px; height: 60px; border-right: solid 1px #bbbbbb; padding: 0px 0px 0px 10px }
#center li.last { border-right: none }
#center li.first { padding-left: 0 }
#footer { font-size: 0.6em; margin-top: 239px; text-align: center }
#slogan3 h1 { color: #c15015; font-size: 1.7em; margin: 10px 0px 17px 0px; font-weight: normal }
#small-slogan { font-size: 0.5em; margin: -20px 0px 20px 390px; color: #898989; font-style: italic; }
#promote1 { width: 100% }
#promote1 ul { margin: 80px 0px 0px 27px; color: #2f2312; font-size: 0.5em }
#promote1 ul li { border-right: none; width: 84px; padding: 0px 10px; text-align: center; }

.error_text { color: #aa2f0d; font-weight: bold; font-family: Arial, Tahoma, Verdana, sans-serif;  font-size: 12px; text-align: center;}
