@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/landing_Contactus/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px; /*position:absolute; top:30px; left:175px;*/}


#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;}

p { margin: 0 0 4px;; padding:0;}

#banner1	{width:970px; margin:0 auto;position:relative;}
/*#banner1_2	{background:url(../../images/landing_Contactus/banner1_2.jpg) no-repeat; width:970px; height:520px; margin:0 auto;position:relative;}*/

.l_text_box	{font-size:14px; color:#fff; position:absolute; top:150px; left:64px;line-height: 20px;}
.l_text_box_girl	{font-size:14px; color:#fff; position:absolute; top:150px; left:64px;line-height: 20px; width: 400px;}
.l_text_box_counter	{font-size:14px; color:#fff; position:absolute; top:160px; left:64px;line-height: 20px; width: 560px;}
.l_text_box_survey	{font-size:14px; color:#fff; position:absolute; top:120px; left:64px;line-height: 20px;}

.text_hl	{background-color: #032B44;    padding: 3px;}
.text_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/bullet.png);line-height: 24px;}

.r_text_box	{position:absolute; top:55px; left:690px; font-size:12px; color:#fff; vertical-align: top;}
.title_image	{margin: 0 0 13px 5px;}
.input1		{width:216px; height:16px; overflow:hidden; margin-top: 1px; margin-bottom:1px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 210px;}
.star		{color:#f6cd10; font-weight:normal;}
.input2		{float:left; background:url(../../images/landing_Contactus/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}
.input3		{background:url(../../images/landing_Contactus/input_box3.png) no-repeat; width:158px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 150px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:17px; font-weight:bold; color:#f6cd10; margin-top: 10px;}
#bottom_content	{width:100%;margin-top: 14px; font-size:11px; color:#a8a8a8;}
.table_l	{height:260px; width:636px; background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x; border:1px solid #9ac6e1;margin-left: 32px;}
.table_header	{color:#f6cd10; font-size:14px; font-weight:bold; margin: 3px 10px 0; }
.table_2	{height:260px; width:245px; background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x; border:1px solid #9ac6e1;margin-right: 33px; float:right;}
.table_2_text	{margin-top:15px; margin-left:10px;}
.map_image		{margin-top:30px;}
.table_l h3		{margin:2px 0; font-size:11px; font-weight:bold; color:#0471b5;}
.table_1_text	{margin-top:5px; margin-left:10px;}
.table_column	{float:left; margin-right:5px; width:90px; height:220px;}
.table_column.currencies {width:75px;}
.column_brack	{width:20px; background:url(../../images/landing_Contactus/column_brack.png) no-repeat ; height:208px; float:left; margin-top:5px;}
.table_link	{margin-left:11px;}
.table_link, .table_link a, .table_link a:hover	{ color:#0471b5; font-size:12px; font-weight:bold;}

.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -5px;}
.error_text	{width:210px; height:50px; overflow:visible; margin-left: 25px; }
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/error_bullet.png);font-size: 13px;margin: 3px;color:#f6cd10;}

.hide	{display:none;}

#banner2	{background:url(../../images/landing_Contactus/banner2.jpg) no-repeat; width:970px; height:434px; margin:0 auto;position:relative;}
#banner2_de	{background:url(../../images/landing_Contactus/banner2_de.jpg) no-repeat; width:970px; height:434px; margin:0 auto;position:relative;}
#banner2_es	{background:url(../../images/landing_Contactus/banner2_es.jpg) no-repeat; width:970px; height:434px; margin:0 auto;position:relative;}
#banner2_it	{background:url(../../images/landing_Contactus/banner2_it.jpg) no-repeat; width:970px; height:434px; margin:0 auto;position:relative;}
#banner2_ru	{background:url(../../images/landing_Contactus/banner2_ru.jpg) no-repeat; width:970px; height:434px; margin:0 auto;position:relative;}
#banner2_tr	{background:url(../../images/landing_Contactus/banner2_tr.jpg) no-repeat; width:970px; height:434px; margin:0 auto;position:relative;}
.l_text_box_nf	{font-size:14px; color:#fff; position:absolute; top:151px; left:371px;line-height: 17px; width: 250px; }
.r_text_box_nf	{position:absolute; top:152px; left:646px; font-size:12px; color:#fff; width: 290px;}

/*****70 GENERIC FULL**************************************************************************************************/

p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner3	{width:970px; height:760px; margin:0 auto;position:relative;}

.r_text_box_70_generic	{position:absolute; top:82px; left:535px; font-size:12px; color:#fff;width: 350px;}
.title_image_70_generic	{margin: 0 0 13px 0px;padding:0;}

.input_title	{float: left; margin-right: 10px; text-align: right; width: 136px;}
.input_title_fr	{float: left; margin-right: 10px; text-align: right; width: 140px;}
.input1_70_generic		{background:url(../../images/landing_Contactus/input_box_full1.png) no-repeat 0 0; width:181px; height:19px; overflow:hidden; margin-bottom:5px;}
.input1_70_generic input	{ border: medium none; height: 13px; margin:2px 3px; width: 175px;font-size: 10px;}
/*.input1_70_generic select	{ border: 0 none; font-size: 10px; height: 15px;margin: 2px 2px 0; width: 177px;}*/

.input1_70_generic	.select_container { border: 0 none; height: 15px; left: 2px; overflow: hidden; position: relative;top: 2px; width: 177px;}
.input1_70_generic select	{ font-size: 10px; height: 18px; left: -2px; position: relative; top: -2px; width: 180px;}

.input2_70_generic		{float:left; background:url(../../images/landing_Contactus/input_box_full2.png) no-repeat;width:51px; height:19px; overflow:hidden; margin-bottom:5px; margin-right:5px;}
.input2_70_generic input	{ border: medium none; height: 13px; margin:2px 3px; width: 45px;text-align: center;font-size: 10px;}

.input2_1		{float:left; color:#000;line-height: 20px; background:url(../../images/landing_Contactus/input_box_full2.png) no-repeat;width:51px; height:18px; overflow:hidden; margin-bottom:5px; margin-right:5px; position:relative; padding:0;}
.input2_1 input	{ border: medium none; height: 13px; margin:2px 0px; width: 30px;text-align: center;font-size: 10px;position: absolute; padding:0;text-align: left;}

.input3_70_generic		{background:url(../../images/landing_Contactus/input_box_full3.png) no-repeat; width:126px; height:19px; overflow:hidden; margin-bottom:5px;}
.input3_70_generic input	{ border: medium none; height: 13px; margin:2px 3px; width: 120px;font-size: 10px;}

.input4		{float:left; background:url(../../images/landing_Contactus/input_box_full4.png) no-repeat;width:56px; height:19px; overflow:hidden; margin-bottom:5px; margin-right:6.5px;}
/*.input4 select	{ border: 0 none; height: 15px; margin:2px; width: 52px;font-size: 10px;}*/
.input4	.select_container { border: 0 none; height: 15px; left: 2px; overflow: hidden; position: relative;top: 2px; width: 52px;}
.input4 select	{ font-size: 10px; height: 18px; left: -2px; position: relative; top: -2px; width: 56px;}

.radio_button	{margin:0;}

.error_70_generic	{ background-position:0 -19px;}


.agree_box	{margin-left: 10px;margin-top: 5px;}

.agree_text_70_generic	{font-size:11px;margin: 0 0 5px; padding-top: 2px;}
.agree_text_70_generic a {color:#fff; text-decoration:underline;}
.submin_swf_70_generic	{ margin-left: 137px;margin-top: 15px;}


.info_button	{  width:15px; height:15px; background:url(../../images/landing_Contactus/info_button.png) no-repeat; float: right;margin-top: 2px;}
.info_box		{ background:url(../../images/landing_Contactus/info_box.png) no-repeat;  display: none; height: 61px; left: 124px; margin-top: -2px; position: absolute; width: 230px; overflow: hidden;z-index: 100;}
.info_box.show	{display:block;}
.info_text		{ margin:10px 20px; color:#e6c61b;}

#error_box	{ display:none;position:absolute; z-index:100; top:500px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:20px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

#registerForm {margin:0; padding:0;}
.text_bullets_70_generic {padding: 0 0 0 18px; font-weight: normal; list-style-image:url(../../images/landing_Contactus/bullet.png);line-height: 24px;margin: 14px 0;}
.plus	{float:left;text-align: right; width: 19px;margin-top: -1px;}
.yellow	{color:#f6cd10;}

/********END 70 GENERIC FULL************************************************************************************************************************************/

.text_bullets_nf	{margin: 0;padding: 0 0 0 18px; font-size:14px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/bullet.png);line-height: 16px;}
.text_bullets_nf li	{padding-bottom:10px;}
.bottom_line_nf	{font-size:15px; font-weight:bold; color:#f6cd10;margin-top: 10px;}
.button_flash	{margin-left: -6px; margin-top: 11px;}

.text_bullets_sf	{padding: 0 0 0 18px; font-weight: normal; list-style-image:url(../../images/landing_Contactus/bullet.png);line-height: 24px;margin:14px 0;}


/***************************************** Short Arabic ******************************************************************************/

img_ar {
	border:0;
}
* {
	margin: 0px;
	padding: 0px;
}
#page_ar {
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-right:1px solid #a8a8a8;
	border-left:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
}
#header_ar {
	height:103px;
	background:url(../../images/landing_Contactus/header.gif) repeat-x;
}
#header_ar .logo {
	background:url(../../images/landing_Contactus/options_trading_anyoption.gif);
	width:284px;
	height:103px;
	margin-right: 17px;
	float: right;
}
#header_ar .info {
	background:url(../../images/landing_Contactus/header_info.jpg) no-repeat;
	float:left;
	width:389px;
	height:103px;
	position:relative;
	font-size:13px;
	color:#fff;
	text-align: center;
	float:left;
}
#header_ar .info .live_chat {
	float:right;
	line-height: 25px;
	margin-right: 54px;
	margin-top: 40px;
	height:27px;/* background:url(../images/chat_icon.png) no-repeat right; position:absolute; top:44px; right:75px;*/
}
#header_ar .info .live_chat a, #header_ar .info .live_chat a:hover {
	color:#fff;
	text-decoration:none;
}
#header_ar .info .number {
	margin-top: 30px;
	margin-left: 30px; /*position:absolute; top:30px; right:175px;*/
	float: left;
}
#footer_ar {
	margin-bottom:40px;
	margin-top: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
}
#footer_ar .icons_ar {
	height:30px;
	margin:0 auto;
	padding-right: 20px;
	width: 320px;
}
#footer_ar .icons_ar .icon_space_ar {
	margin-left:20px;
	float:right;
}
#footer_ar .links {
	margin-top:20px;
	margin-bottom:15px;
}
#footer_ar .footer_link {
	color: #0284D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer_ar .footer_link:hover {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer_ar .footer_text_ar {
	color: #7d7d7d;
	margin-top: 10px;
}

.l_text_box_survey_ar {
	font-size:17px;
	color:#fff;
	position:absolute;
	top:120px;
	right:64px;
	line-height: 20px;
	width: 415px;
	direction: rtl;
}
.text_hl_survey_ar {
	background-color: #032B44;
	padding: 3px;
}
.text_bullets_survey_ar {
	font-weight:bold;
	list-style-type: none;
	line-height: 22px;
	font-size: 15px;
	padding: 15px 0 20px 0;
}
.text_bullets_survey_ar li {
	background:url(../../images/landing_Contactus/bullet_ar.png) no-repeat right 7px;
	padding-right: 16px;
	direction: rtl;
}
.r_text_box_survey_ar {
	position:absolute;
	top:70px;
	right:690px;
	font-size:12px;
	color:#fff;
	direction: rtl;
}
.title_image_survey_ar {
	margin: 0 5px 13px 0;
}
.input1_survey_ar {
	background:url(../../images/landing_Contactus/input_box1.png) no-repeat 0 0;
	width:216px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:3px;
}
.input1_survey_ar input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 210px;
}

.input2_survey_ar {
	float:right;
	background:url(../../images/landing_Contactus/input_box2.png) no-repeat;
	width:53px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
	margin-left:5px;
}
.input2_survey_ar input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 45px;
	text-align: center;
}
.input3_survey_ar {
	background:url(../../images/landing_Contactus/input_box3.png) no-repeat;
	width:158px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
}
.input3_survey_ar input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 150px;
}
.submit_image_survey_ar {
	margin-right:-7px;
	margin-top: 6px;
}
.error_survey_ar {
	background-position:0 -23px;
}
.bottom_line_survey_ar {
	font-size:17px;
	font-weight:bold;
	color:#f6cd10;
	width: 200px;
}
#bottom_content_survey_ar {
	width:100%;
	margin-top: 14px;
	font-size:11px;
	color:#a8a8a8;
	direction: rtl;
}
.table_l_survey_ar {
	height:260px;
	width:636px;
	background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x;
	border:1px solid #9ac6e1;
	margin-right: 32px;
}
.table_header_survey_ar {
	color:#f6cd10;
	font-size:14px;
	font-weight:bold;
	margin: 3px 10px 0 0;
}
.table_2_survey_ar {
	height:260px;
	width:245px;
	background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x;
	border:1px solid #9ac6e1;
	margin-left: 33px;
	float:left;
}
.table_2_text_survey_ar {
	margin-top:15px;
	margin-right:10px;
}
.map_image_survey_ar {
	margin-top:30px;
}
.table_l_survey_ar h3 {
	margin:2px 0;
	font-size:11px;
	font-weight:bold;
	color:#0471b5;
}
.table_1_text_survey_ar {
	margin-top:5px;
	margin-right:10px;
}
.table_column_survey_ar {
	float:right;
	margin-left:5px;
	width:90px;
	height:220px;
}

.column_brack_survey_ar {
	width:20px;
	background:transparent  url(../../images/landing_Contactus/column_brack.png) no-repeat right top;
	height:208px;
	float:right;
	margin-top:5px;
}
.table_link_survey_ar {
	margin-right:11px;
}
.table_link_survey_ar, .table_link a_survey_ar, .table_link_survey_ar a:hover {
	color:#0471b5;
	font-size:12px;
	font-weight:bold;
}
.agree_survey_ar {
	float: right;
	margin-left: 10px;
}
.agree_text_survey_ar {
	font-size:11px;
}
.submin_swf_survey_ar {
	margin-right: -7px;
}
.error_text_survey_ar {
	height:19px;
	overflow:visible;
}
.error_bullets_survey_ar {
	padding: 0 18px 0 0;
	font-weight:bold;
	list-style-image:url(../../images/landing_Contactus/bullet_ar.png);
	font-size: 13px;
	margin: 3px;
	color:#f6cd10;
}

h4 {
	color:#f6cd10;
	margin-bottom: 10px;
	padding-bottom: 0px;
	font-weight: bold;
}

