body { width: 100%; margin: 0; font-family: Georgia, "Times New Roman", sans-serif; font-size: 0.9em; color: #888888 }
#wrapper { margin: 0 auto; width: 980px; position: relative; }
#header { padding: 15px 0px 5px 0px; margin-bottom: 10px }
#logo { background: url(../../images/landing_Contactus/LPopt_B/logo.png) no-repeat; width: 178px; height: 29px; margin-bottom: 23px }
/*#phone { background: url(../../images/landing_Contactus/LPopt_B/phone.png) no-repeat 0px 2px; width: 100px; height: 13px; text-indent: 20px; font-size: 0.85em; color: #c8c8c8; display: block }*/
#mainbody { background: url(../../images/landing_Contactus/LPopt_B/baby.jpg) no-repeat top right; min-height: 300px; width: 760px; margin-left: 100px }
.joystick { background: url(../../images/landing_Contactus/LPopt_B/joystick.jpg) no-repeat top right !important }
#container { border-bottom: solid 1px #bebebe; margin-bottom: 10px }
#slogans { font-style: italic; width: 500px }
h1 { color: #c15015; font-size: 3.3em; margin: 10px 0; font-weight: normal }

#leadbox { background: url(../../images/landing_Contactus/LPopt_B/leadbox.jpg) no-repeat; width: 602px; height: 152px; position: relative; left: -10px; top: 20px }
#leadbox-form { width: 350px; padding: 0px 0px 0px 60px; height: 90px }
.form-item { float: left; width: 100px; margin-right: 5px; margin-bottom: 13px; padding-top: 0px }
#item-3 { width: 100%; margin-bottom: 15px }
#item-3 input { width: 150px }
.form-item input { width: 100px; height: 20px; border: none; background: transparent; color: #a09f9f }
#button { position: absolute; left: 250px; top: 43px; z-index: 1 }
#submit { background: url(../../images/landing_Contactus/LPopt_B/submit.jpg) no-repeat; width: 191px; height: 79px; border: none; cursor: pointer }
#submit:hover { background: url(../../images/landing_Contactus/LPopt_B/submit-hover.jpg) no-repeat }
#areacode { width: 20px; margin-right: 20px }
#userphone { width: 55px }
#accept-layout { width: 100%; position: absolute; bottom: 30px; left: 10px; font-size: 0.6em; z-index: 2 }
#slogan1 { font-size: 0.75em }
#footer {
	background: url(../../images/landing_Contactus/LPopt_B/footer.jpg) no-repeat top;
	height: 39px; width: 1024px; position: absolute;
	right: -8px; top: 470px; padding-top: 210px;
	font-size: 0.6em; text-align: center;
	color: black;
	font-family: Arial, Tahoma, Verdana, sans-serif
}
#promote1 { position: absolute; top: 0px; left: 110px; font-family: Georgia, "Times New Roman", sans-serif }
#promote1 ul { margin: 80px 0; color: #8a8a8a; font-size: 1.4em; padding: 0; list-style: none; font-style: italic }
#promote1 ul li { border-right: none; width: 135px; padding: 0px 30px 0px 0px; text-align: center; float: left }
li.last { padding-right: 0px !important }
#third { padding: 0px 30px 0px 15px !important }

.error_text { color: #bd5317 ; font-weight: bold; font-family: Arial, Tahoma, Verdana, sans-serif;  font-size: 12px; text-align: left;}
