@charset "utf-8";
/* etrader general CSS Document */
body	{
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background:#ecf1f0;
	color:#566764;
}
#page	{
	direction:rtl;
	width:986px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	}
img	{border:none;}
p	{ margin:10px 0;}
#main 	{
	background:#fff url(../../images/landing/LP_etrader_4assets/bk.png) no-repeat;
	width:100%;
	height:664px;
	position: relative;
}
#header	{background:url(../../images/landing/LP_etrader_4assets/header.png) no-repeat; width:364px; height:79px; position:absolute; top:62px; right:73px;}
#header2	{background:url(../../images/landing/LP_etrader_4assets/header2.png) no-repeat; width:527px; height:35px; position:absolute; top:74px; right:73px;}
.flash_item	{position:absolute; right:73px; top:155px;}
.flash_item2	{position:absolute; right:73px; top:140px;}

.main_text	{font-size:14px; position:absolute; right:73px; top:275px;}
.red	{font-weight:bold; color:#db2400;}
h2		{font-size:20px; font-weight:bold;margin: 10px 0;}
.title1	{font-size:28px;margin: 0;}
ul.list	{ list-style:none; color:#566764; padding:0;margin: 10px 0;}
ul.list li { background:url(../../images/landing/LP_etrader_4assets/li.png) no-repeat right; margin:0px 0px 5px; height:20px;padding: 3px 25px 0;}

.main_bo	{ font-size:11px; width:840px; border-top:1px solid #e8ebea; padding:9px 73px; position:absolute; top:630px; }

.form_box	{width:210px; position: absolute; top:130px; left:100px;  no-repeat; height:441px; z-index:50;}
.form_box h3	{ margin:0px 0 10px;line-height: 20px; color:#566764; font-size:19px;}
.input1	{}
.form_box .input1 input	{width:135px; height:23px; float:left;border: 1px solid #AFBBB9; padding-top:0px; background:#fff url(../../images/landing/LP_etrader_4assets/input_bk.png) no-repeat left top;}
.label	{height:25px; color:#b81810; font-size:12px;margin-bottom:5px;line-height: 28px;text-align: left;}
.form_box .input2 {width:49px; height:25px; background:url(../../images/landing/LP_etrader_4assets/input_bk.png) no-repeat left top;float:left;border:1px solid #AFBBB9; margin-right:2px;}
.form_box .input2 .noborder {width:44px; height:18px; overflow:hidden; position:relative; margin-top:4px; margin-right:2px;}
.form_box .input2 select {width:48px;  color:#7f7f7f; left: 4px; position: relative; top: -1px; border:none; }
.form_box .input3 input	{    color: #7F7F7F;border: 1px solid #AFBBB9; padding-top:4px; background:url(../../images/landing/LP_etrader_4assets/input_bk.png) no-repeat left top;
    float: left;
    height: 20px;
    /*margin-left: 1px;*/
    width: 82px;}
.lock_line	{color:#566764;margin-top: -1px;}
.lock_line img {margin-right: 5px; margin-top: 2px;}
.input_checkbox	{font-size:12px;}
.lock	{margin-right: 3px;margin-left: 1px;}
.submit_button	{position: relative;left: 10px;}
.error_message	{font-size:11px; color:#db2400; font-weight:bold; background:url(../../images/landing/LP_etrader_4assets/error_box.png) no-repeat center top; text-align:center; height:20px;padding-top: 11px;}
#footer	{
	text-align:center;
	width:986px;
	margin:0 auto;
}
#footer .icon_box	{ height:38px; width:860px;overflow: hidden; margin:15px auto;}
#footer .icon	{float:left; margin: 3px 24px 0;}
#footer .footer_text	{ margin-bottom:5px; direction: rtl;font-family: Arial,Helvetica,sans-serif;font-size: 10px; color:#566764; text-align:center;}
.footer_link:link {
    color: #4B5C59;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}
.footer_link:hover {
    color: #990020;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#error_box	{ display:none;position:absolute; z-index:100; top:200px; background:url(../../images/landing/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:30px; height:50px; padding:0 10px; font-size:14px; font-weight:bold;color:#FFFFFF;}
.error_button	{background:url(../../images/landing/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;position: absolute; top: 90px; left:85px;}

#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	width:100%;
	z-index:99;
}