@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#fff;
	background:url(../../images/landing_Contactus/LPCommodities/background-gradient.jpg) repeat-x;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	 background-color:#f4f4f4;
}
#header .logo	{background:url(../../images/landing_Contactus/LPCommodities/options_trading_anyoption.gif) no-repeat; width:284px; height:103px; margin-left: 27px; }
#header .top-link { font-size:11px; font-weight:bold; position:absolute;   left:850px; width:350px;text-transform:uppercase; color: #999}
#header .info	{background:url(../../images/landing_Contactus/LPCommodities/background-phone.jpg) no-repeat; float:right; width:356px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center; margin-top:20px; margin-right:20px}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 23px; height:27px;/* background:url(../images/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 11px;margin-right: 0px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}




/* form1 CSS Document */
p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner1	{background:url(../../images/landing_Contactus/LPCommodities/background-banner.jpg) no-repeat; width:970px; height:520px; margin:0 auto;position:relative; margin-top:-20px}
#banner1_2	{background:url(../../images/landing_Contactus/LPCommodities/banner1_2.jpg) no-repeat; width:970px; height:520px; margin:0 auto;position:relative;}

.l_text_box	{font-size:14px; color:#fff; position:absolute; top:280px; left:64px;line-height: 18px; width:320px}
.text_box_2	{
	font-size:13px;
	color:#ffd885;
	position:absolute;
	top:280px;
	left:440px;
	line-height: 20px;
	width:220px
}
.text_hl	{background-color: #032B44;    padding: 3px;}
.text_bullets	{padding: 0 0 0 20px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/LPCommodities/check-icon.jpg); margin:14px 0;}
.text_bullets li{line-height: 18px; margin-top:10px}
.text_box_title	{font-size:30px; font-weight:bold; color:#fffce1; line-height:30px}

.r_text_box	{
	position:absolute;
	top:65px;
	left:670px;
	font-size:12px;
	color:#093755;
	width:267px;
}
.r_text_box_content{background:#fff; padding:0 0 0 25px; margin:0}
.r_text_box_bottom { }
.title_text	{margin: 0 0 13px 0px; color:#093755; font-size:22px}
.input1		{background:url(../../images/landing_Contactus/LPCommodities/input_box1.png) no-repeat 0 0; width:216px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 210px;}
.star		{color:#f6cd10; font-weight:normal;}
.input2		{float:left;  background:url(../../images/landing_Contactus/LPCommodities/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}

.input2_1		{float:left; color:#000;line-height: 20px;background:url(../../images/landing_Contactus/LPCommodities/input_box2.png) no-repeat;width:51px; height:18px; overflow:hidden; margin-bottom:5px; margin-right:5px; position:relative; padding:0;}
.input2_1 input	{ border: medium none; height: 13px; margin:2px 0px; width: 30px;text-align: center;font-size: 10px;position: absolute; padding:0;text-align: left;}



.input3		{background:url(../../images/landing_Contactus/LPCommodities/input_box3.png) no-repeat; width:158px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 150px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:17px; font-weight:bold; color:#ffd885;}
#bottom_content	{width:100%;margin-top: 14px; font-size:11px; color:#a8a8a8; background-color:#FFF}
.table_l	{height:260px; width:636px; background:url(../../images/landing_Contactus/LPCommodities/table_bk.jpg) repeat-x; border:1px solid #093755;margin-left: 32px;}
.table_header	{color:#fff; font-size:14px; font-weight:bold; margin: 3px 10px 0; }
.table_2	{height:260px; width:245px; background:url(../../images/landing_Contactus/LPCommodities/table_bk.jpg) repeat-x; border:1px solid #093755;margin-right: 33px; float:right;}
.table_2_text	{margin-top:15px; margin-left:10px;}
.map_image		{margin-top:30px; margin-left:10px}
.table_l h3		{margin:2px 0; font-size:11px; font-weight:bold; color:#093755;}
.table_1_text	{margin-top:10px; margin-left:15px;}
.table_column	{float:left; margin-right:5px; width:90px; height:220px; font-size:11px}
.table_column.currencies {width:75px;}
.column_brack	{width:20px; background:url(../../images/landing_Contactus/LPCommodities/column_brack.png) no-repeat ; height:208px; float:left; margin-top:5px;}
.table_link	{margin-left:11px;}
.table_link, .table_link a, .table_link a:hover	{ color:#0471b5; font-size:12px; font-weight:bold;}

.agree		{ float: left; margin-right: 10px; }
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -7px;}
.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/LPCommodities/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}

#error_box	{ display:none;position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/LPCommodities/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#000;}
.error_button	{background:url(../../images/landing_Contactus/LPCommodities/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.plus	{float:left;text-align: right; width: 10px;margin-top: 3px;}







<!--************************* ar ******************************************-->


body_ar {
	background-color:#fff;
	background:url(../images/background-gradient.jpg) repeat-x;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	direction: rtl;
}
img_ar {
	border:none;
}
#page_ar {
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
}
#header_ar {
	height:103px;
	background-color:#f4f4f4;
}
#header_ar .logo {
	background:url(../images/options_trading_anyoption.gif) no-repeat;
	width:284px;
	height:103px;
	margin-right: 27px;
}
#header_ar .top-link {
	font-size:11px;
	font-weight:bold;
	position:absolute;
	left:850px;
	width:350px;
	text-transform:uppercase;
	color: #999
}
#header_ar .info {
	background:url(../images/background-phone.jpg) no-repeat;
	float:left;
	width:356px;
	height:103px;
	position:relative;
	font-size:13px;
	color:#fff;
	text-align: center;
	margin-top:20px;
	margin-left:20px;
}
#header_ar .info .live_chat {
	float:right;
	line-height: 25px;
	margin-right: 25px;
	margin-top: 23px;
	height:27px;/* background:url(../images/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/
}
#header_ar .info .live_chat a, #header .info .live_chat a:hover {
	color:#fff;
	text-decoration:none;
}
#header_ar .info .number {
	margin-top: 11px;
	margin-left: 15px; /*position:absolute; top:30px; left:175px;*/
}

.hide_ar {
	display:none;
}







p_ar {
	margin: 0 0 4px;
	;
	padding:0;
}
h2_ar {
	font-size: 19px;
	direction:rtl
}
#banner1_ar {background:url(../../images/landing_Contactus/LPCommodities/background-banner.jpg) no-repeat;	width:970px;	height:520px;	margin:0 auto;	position:relative;	margin-top:-20px}
#banner1_2_ar {	background:url(../images/banner1_2.jpg) no-repeat;	width:970px;	height:520px;	margin:0 auto;	position:relative;}
.l_text_box_ar {	font-size:14px;	color:#fff;	position:absolute;	top:284px;	right:62px;	line-height: 18px;	width:320px;	float: right;}
.text_box_2_ar  {	font-size:13px;	color:#ffd885;	position:absolute;	top:285px;	right:424px;	line-height: 20px;	width:220px;	float: left;}
.l_text_box_ar {	font-size:14px;	color:#fff;	position:absolute;	top:279px;	left:593px;	line-height: 18px;	width:320px;	direction:rtl;}
.text_box_2_ar {	font-size:13px;	color:#ffd885;	position:absolute;	top:283px;	left:339px;	line-height: 20px;	width:220px;	direction:rtl;}
.text_hl_ar  {	background-color: #032B44;	padding: 3px;}
.text_bullets_ar  {	padding: 0 20px 0 0;	font-weight:bold;	list-style-image:url(../../images/landing_Contactus/LPCommodities/check-icon.jpg);	list-style-position: outside;	margin:14px 0;}
.text_bullets_ar  li {	line-height: 18px;	margin-top:10px;}
*+html .text_bullets_ar  li {	padding-right: 15px;}
.text_box_title_ar  {	font-size:30px;	font-weight:bold;	color:#fffce1;	line-height:30px}
.r_text_box_ar  {	position:absolute;	top:65px;	left:31px;	font-size:12px;	color:#093755;	width:267px;}
.r_text_box_content_ar  {
	background:#fff;
	padding:0 36px 0 0;
	margin:0;
	float:right;
	direction:rtl;
}
.r_text_box_bottom_ar  {
}
.title_text_ar  {
	margin: 0 0px 13px 0px;
	color:#093755;
	font-size:22px;
	direction:rtl;
}
.input1_ar  {
	background:url(../../images/landing_Contactus/LPCommodities/input_box1.png) no-repeat 0 0;
	width:216px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:3px;
}
.input1_ar  input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 210px;
}
.star_ar  {
	color:#f6cd10;
	font-weight:normal;
}
.input2_ar  {
	float:left;
	background:url(../../images/landing_Contactus/LPCommodities/input_box2.png) no-repeat;
	width:53px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
	margin-right:5px;
	margin-left:14px;
}
.input2_ar  input {
	border: medium none;
	height: 16px;
	margin:2px 2px;
	width: 30px;
	text-align: center;
}
.input3_ar  {
	background:url(../../images/landing_Contactus/LPCommodities/input_box3.png) no-repeat;
	width:158px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
}
.input3_ar  input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 150px;
}
.submit_image_ar  {
	margin-left:-7px;
	margin-top: 6px;
}
.error_ar  {
	background-position:0 -23px;
}
.bottom_line_ar  {
	font-size:17px;
	font-weight:bold;
	color:#ffd885;
}
#bottom_content_ar  {
	width:100%;
	margin-top: 14px;
	font-size:11px;
	color:#a8a8a8;
	margin-left: 33px;
	background:url(../../images/landing_Contactus/LPCommodities/imgFooter_ar.png) repeat-x align:center;
}
.table_l_ar  {
	height:260px;
	width:636px;
	background:url(../../images/landing_Contactus/LPCommodities/table_bk.jpg) repeat-x;
	border:1px solid #093755;
	margin-right: 32px;
}
.table_header_ar  {
	color:#fff;
	font-size:15px;
	font-weight:bold;
	margin: 3px 10px 0;
}
.table_2_ar  {
	height:260px;
	width:245px;
	background:url(../images/table_bk.jpg) repeat-x;
	border:1px solid #093755;
	margin-left: 33px;
	float:left;
}
.table_2_text_ar  {
	margin-top:15px;
	margin-right:10px;
	direction:rtl;
}
.map_image_ar  {
	margin-top:30px;
}
.table_l_ar  h3 {
	margin: 2px 0;
	font-size: 11px;
	font-weight: bold;
	color: #093755;
}
.table_1_text_ar  {
	margin-top: 5px;
	margin-right: 10px;
}
.table_column_ar  {
	float: right;
	margin-left: 5px;
	width: 90px;
	height: 220px;
}
.table_column_ar .currencies {
	width:75px;
}
.column_brack_ar  {
	width: 20px;
	background: transparent url(../../images/landing_Contactus/LPCommodities/column_brack.png) no-repeat right top;
	height: 208px;
	float: right;
	margin-top: 5px;
	}
.table_link_ar  {
	margin-left:11px;
}
.table_link_ar , .table_link_ar  a, .table_link_ar  a:hover {
	color:#0471b5;
	font-size:12px;
	font-weight:bold;
}
.agree_ar  {
	float: right;
	margin-right: 10px;
	direction:rtl;
}
.agree_text_ar  {
	font-size:11px;
	float: right;
	direction:rtl;
}
.submin_swf_ar  {
	margin-left: -7px;
}
.error_text_ar  {
	height:19px;
	overflow:visible;
}
.error_bullets_ar  {
	padding: 0 0 0 18px;
	font-weight:bold;
	list-style-image:url(../../images/landing_Contactus/LPCommodities/error_bullet.png);
	font-size: 13px;
	margin: 3px;
	color:#ee2930;
}











#bottom_content_survey_ar {
	width:100%;
	margin-top: 14px;
	font-size:11px;
	color:#a8a8a8;
	direction: rtl;
}

.table_2_survey_ar {
	height:260px;
	width:245px;
	background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x;
	border:1px solid #9ac6e1;
	margin-left: 33px;
	float:left;
}
.table_header_survey_ar {
	color:#f6cd10;
	font-size:14px;
	font-weight:bold;
	margin: 3px 10px 0 0;
}
.table_2_text_survey_ar {
	margin-top:15px;
	margin-right:10px;
}
.table_l_survey_ar {
	height:260px;
	width:636px;
	background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x;
	border:1px solid #9ac6e1;
	margin-right: 32px;
}
.table_l_survey_ar h3 {
	margin:2px 0;
	font-size:11px;
	font-weight:bold;
	color:#0471b5;
}
.table_header_survey_ar {
	color:#f6cd10;
	font-size:14px;
	font-weight:bold;
	margin: 3px 10px 0 0;
}
.table_1_text_survey_ar {
	margin-top:5px;
	margin-right:10px;
}
.table_column_survey_ar {
	float:right;
	margin-left:5px;
	width:90px;
	height:220px;
}.table_l_survey_ar h3 {
	margin:2px 0;
	font-size:11px;
	font-weight:bold;
	color:#0471b5;
}
.column_brack_survey_ar {
	width:20px;
	background:transparent  url(../../images/landing_Contactus/column_brack.png) no-repeat right top;
	height:208px;
	float:right;
	margin-top:5px;
}

#footer_ar {
	margin-bottom:40px;
	margin-top: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
}
#footer_ar .icons_ar {
	height:30px;
	margin:0 auto;
	padding-right: 20px;
	width: 320px;
}
#footer_ar .icons_ar .icon_space_ar {
	margin-left:20px;
	float:right;
}
#footer_ar .links {
	margin-top:20px;
	margin-bottom:15px;
}
#footer_ar .footer_link {
	color: #0284D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer_ar .footer_link:hover {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer_ar .footer_text_ar {
	color: #7d7d7d;
	margin-top: 10px;
}

