@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/LPProffesional/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/landing_Contactus/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}

p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner1	{background:url(../../images/landing_Contactus/LPProffesional/banner1_70.jpg) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;}

.l_text_box	{font-size:14px; color:#1a1c22; position:absolute; top:160px; left:64px;line-height: 20px; width:300px}
.l_text_box	.title {margin-bottom:10px;}
.text_hl	{background-color: #032B44;    padding: 3px;}
.text_bullets	{padding: 0 0 0 28px;  list-style-image:url(../../images/landing_Contactus/LPProffesional/bullet.png);line-height: 22px; font-size:14px; margin:20px 0;}

.r_text_box	{position:absolute; top:100px; left:690px; font-size:12px; color:#1a1c22;}
.title_image	{margin: 0 0 13px 5px;}
.input1		{background:url(../../images/landing_Contactus/LPProffesional/input_box1.png) no-repeat 0 0; width:216px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 210px;}
.star		{color:#000000; font-weight:normal;}
.input2		{float:left; background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}

.input2_1		{float:left; line-height:11px;  background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}

.input3		{background:url(../../images/landing_Contactus/LPProffesional/input_box3.png) no-repeat; width:158px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 150px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:17px; font-weight:bold; color:#f6cd10;}
#bottom_content	{width:100%;margin-top: 14px; font-size:11px; color:#a8a8a8;}
.table_l	{height:260px; width:636px; background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x; border:1px solid #9ac6e1;margin-left: 32px;}
.table_header	{color:#f6cd10; font-size:14px; font-weight:bold; margin: 3px 10px 0; }
.table_2	{height:260px; width:245px; background:url(../../images/landing_Contactus/table_bk.jpg) repeat-x; border:1px solid #9ac6e1;margin-right: 33px; float:right;}
.table_2_text	{margin-top:15px; margin-left:10px;}
.map_image		{margin-top:30px;}
.table_l h3		{margin:2px 0; font-size:11px; font-weight:bold; color:#0471b5;}
.table_1_text	{margin-top:5px; margin-left:10px;}
.table_column	{float:left; margin-right:5px; width:90px; height:220px;}
.table_column.currencies {width:75px;}
.column_brack	{width:20px; background:url(../../images/landing_Contactus/column_brack.png) no-repeat ; height:208px; float:left; margin-top:5px;}
.table_link	{margin-left:11px;}
.table_link, .table_link a, .table_link a:hover	{ color:#0471b5; font-size:12px; font-weight:bold;}

.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -7px;}
.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}

.yellow	{color:#f6cd10;}

#error_box	{ display:none;position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.plus	{float:left;text-align: right; width: 15px;margin-top: 7px;color:#000;}

