/****************************/
/* General styles start  */
/****************************/

body{
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
}

.table_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	background-color: white;
}

.table_no_up_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}

.table_sides_border {
	border-width: 0px 1px 0px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}

.trade_page_table_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #848887;
	border-collapse: collapse;
	background-color: #FFFFFF;
}

.input{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #3C4645;
	border:1px solid #093755;
}

.input_table_border {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #3C4645;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #990000;
	border-collapse: collapse;
	background-color: white;
	height: 18px;
}

.header_pages {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-align:center;
	font-weight: bold;
	background-image:url(../images/en_7/header_pages.gif);
	background-repeat:repeat-x;
	text-transform:uppercase;
}
.header_pages_separator {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-align:center;
	font-weight: bold;
	background-image:url(../images/en_7/header_pages.gif);
	background-repeat:repeat-x;
	text-transform:uppercase;
}


.header_pages_message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-align:center;
	background-image:url(../images/en_7/header_pages.gif);
	background-repeat:repeat-x;
}

h1{
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFFFFF;
	text-align:center;
}

.learn_h2{
	color:#093755;
	text-align:center;
	font-weight: bold;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.learn_h3{
	padding:0px;
	margin:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#f6cd10;
	text-align:center;
}

.error_messages{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#ff0000;
	font-size:11px;
	font-weight:normal;
	vertical-align: middle;
}

.error_messages_10px{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#ff0000;
	font-size:10px;
	font-weight:normal;
	vertical-align: middle;
}

.info_messages{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color: #3C4645;
}

.info_messages_normal{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #3C4645;
}

.lable_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#3C4645;
	font-size:11px;
	font-weight:normal;
	vertical-align: middle;
}

.lable_text_bold{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#3C4645;
	font-size:11px;
	font-weight:bold;
}

.pages_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	font-weight:normal;
}

.pages_text_11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	font-weight: normal;
}

.pages_text_info {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	font-weight:normal;
}

.pages_text_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
	font-weight:bold;
}

.cmbBox {
	color:#3C4645;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
}

.info_pages_text_header{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#990000;
	font-weight:bold;
	text-decoration: none;
}

.info_pages_text_header_section{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#990000;
	font-weight:bold;
}

.info_pages_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	line-height:14px;
	text-decoration: none;
}

.info_pages_text_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0284d6;
	line-height: 14px;
	text-decoration: none;
}

.hintsClass {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #990000;
	color: #FFFFFF;
	border: 1px solid #990000;
	padding: 3px;

}

.hintsClass_newCard {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #990000;
	color: #FFFFFF;
	border: 1px solid #990000;
	padding: 3px;
	width: 300px;
}

.past_expires{
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #3C4645;
	border-collapse: collapse;
	background-color: white;
}

.date_range_table{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: ;
	border-collapse: collapse;
	background-color: #fafafa;
}

.general_terms_table {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	line-height:14px;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

.general_terms_td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

.marqueecontainer {
	position: relative;
	width: 185px; /*marquee width */
	height: 117px; /*marquee height */
	background-color: white;
	overflow: hidden;
}

.not_visible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

/**** General styles end  ****/


/****************************************/
/* right side investments styles start  */
/****************************************/

.todayInvlable{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	background-color: #093755;
	border-width: 0px 1px 1px 1px ;
	border-color: #093755;
}

.todayInvasset{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	font-weight:bold;
}

.todayInvhead{
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
	text-transform:uppercase;
	background-image:url(../images/en_7/header_pages.gif);
	background-repeat:repeat;
}

.profitline_td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	color:#093755;
	background-color: #F6CD10;
	font-weight:bold;
	border-width: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-spacing: 0px;
	border-color: #093755;
	border-collapse: collapse;
}

.profitline_td_left {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	color:#093755;
	background-color: #F6CD10;
	font-weight:bold;
	border-width: 0px 0px 0px 1px;
	border-style: solid solid solid solid;
	border-spacing: 0px;
	border-color: #093755;
	border-collapse: collapse;
}

.profitline_td_right {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
	color:#093755;
	font-weight:bold;
	background-color: #F6CD10;
	border-width: 0px 1px 0px 0px;
	border-style: solid solid solid solid;
	border-spacing: 0px;
	border-color: #093755;
	border-collapse: collapse;
}

.invest_table_border {
	border-width: 1px 1px 0px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #093755;
	border-collapse: collapse;
	background-color: white;
}

.invest_table_no_up_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #093755;
	border-collapse: collapse;
	background-color: white;
}

.table_no_up_and_down_border {
	border-width: 0px 1px 0px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}

.invest_link_table_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #093755;
	border-collapse: collapse;
	background-color: white;
}

.rss_table_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #093755;
	border-collapse: collapse;
	background-color: white;
}
/** right side investments styles start**/
/****************************/
/* Menu_strip styles start  */
/****************************/

.menu_stripe{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
}

.menu_stripe_lang{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#990000;
	font-weight:bold;
}

.menu_stripe_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:none;
}

.menu_stripe_link_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#990000;
	font-weight:none;
}

.menu_stripe_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color: #FFFFFF;
	font-weight:none;
}

.skins_menu {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: groove groove groove groove;
	border-color: #3C4645;
	border-collapse: collapse;
	background-color: #FFFFFF;
	width: 80px;
	text-align: left;
	vertical-align: center;
}

.skins_menu_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	text-decoration:none;
	color:#3C4645;
	line-height:20px;
	width: 80px;
	margin-left: 3px;
}

.skins_menu_link_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	text-decoration:none;
	color:#990000;
	font-weight:bold;
	line-height:20px;
	width: 80px;
	margin-left: 3px;
}


/****Menu_strip styles end****/


/****************************/
/* myAccount_Menu_strip styles start  */
/****************************/

.myAccount_menu_stripe{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
}

.myAccount_menu_stripe_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#3C4645;
}

.myAccount_menu_stripe_link_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#990000;
	font-weight:bold;
}

.myAccount_menu_stripe_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color: #990000;
}

.myAccount_table_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: ;
	border-collapse: collapse;
	background-color: white;
}


/****Menu_strip styles end****/

/****************************/
/*   Footer styles start    */
/****************************/

.footer_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:13px;
	text-decoration:none;
	color:#990000;
}

.footer_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:13px;
	text-decoration:none;
	color:#3C4645;
}

.footer_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#3C4645;
	text-align:center;
	line-height:13px;
}

.footer_message {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	text-align:center;
	font-weight: bold;
}
/**** Footer styles end******/


/****************************/
/*   Header styles start    */
/****************************/

.header{
	background-image:url(../images/en_7/header.gif);
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
}

.header_register{
	background-image:url(../images/en_2/header.gif);
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	border-width: 0px 1px 0px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}
.header_login_table{
	background-image:url(../images/en_7/login_1px.gif);
	background-repeat:repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
}
.header_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
}

.header_link_login {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#f6cd10;
	font-weight: bold;
}

.header_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#990000;
}

.header_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color: #990000;
	text-decoration:underline;
}

.header_link_open_account{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	text-decoration:none;
	font-weight: bold;
	color:#990000;
}

.header_link_yellow {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#990000;
}

.header_link_yellow:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color: #3c4645;
	text-decoration:underline;
}
.input_header{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	width: 110px;
	height: 17px;
	border:1px solid #093755;
}

.error_header{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FF0000;
}

/******Header styles end*****/


/*****************************/
/*	  ticker styles start	 */
/*****************************/
.ticker{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: ;
	border-collapse: collapse;
	background-color: white;
}

.ticker_asset{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:11px;
	font-weight:bold;
	color:#ffffff;
}
.ticker_green{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#00CC00;
}
.ticker_red{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FF0000;
}

/****  ticker styles start  ****/


/*****************************/
/*	  tree styles start		 */
/*****************************/

.menu_item_close{
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:11px;
	text-align:left;
	text-decoration:none;
	cursor:pointer;
	color:#cccccc;

}
.menu_item_active{
	font-size:10px;
	line-height:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#3C4645;
	text-decoration:none;
	cursor:pointer;
}

.menu_item_notActive{
	color: #a1a1a1;
	line-height:14px;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-decoration:none;
	cursor:pointer;
}

.tree_bkgnd{

	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #990000;
	border-collapse: collapse;
	background-color: white;
}

.menu_market_groupname{
	font-size:11px;
	color:#990000;
	font-weight: bold;
	line-height:14px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

.assetSelect_market_groupname{
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:11px;
	text-transform: uppercase;
	color: #990000;
	font-weight: bold;
	line-height:11px;
	cursor:pointer;
	text-decoration:none;
}
.assetSelect_allAssets{
	font-family:Verdana,Arial, Helvetica, sans-serif;
	color: #990000;
	line-height:11px;
	cursor:pointer;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
	text-transform : uppercase;

}
.menu_market_subgroupname{
	font-size:9px;
	line-height:14px;
	font-weight: bold;
	color:#990000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}

.option_type{
	font-family:Verdana,Arial, Helvetica, sans-serif;
	line-height:15px;
	font-size:10px;
	color:#3C4645;
	text-decoration:none;
	cursor:pointer;
}

.currently_close {
	font-size: 11px;
}

/*****tree styles end*******/


/*****************************/
/*Links styles General start*/
/*****************************/

.general_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#3C4645;
}

.general_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #990000;
}

.general_link_blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	text-decoration:none;
	color:#990000;
}

.general_link_blue:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	text-decoration:none;
	color: #3C4645;
}

.general_link_blue_10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	line-height:10px;
	text-decoration:none;
	color:#990000;
}

.general_link_blue_10:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	line-height:10px;
	text-decoration:none;
	color:#990000;
}
.general_link_blue_10:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	line-height:10px;
	text-decoration:none;
	color:#990000;
}

.general_link_10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color: #3C4645;
}

.general_link_10_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color: #990000;
}

.general_link_line {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#3C4645;
	font-weight:bold;
}

.general_link_line:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:underline;
	color: #3C4645;
	font-weight:bold;
}

.terms_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#3C4645;
	text-decoration:underline;
}

.terms_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #990000;
	cursor: pointer;
	text-decoration:underline;
}

.rss_feed_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	text-decoration:none;
	color:#0284d6;
	text-transform:uppercase;
}

.rss_feed_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	text-decoration: none;
	color: #093755;
	text-transform:uppercase;
}
/***Links styles General end**/


/*****************************/
/* Trading page styles start */
/*****************************/

.box{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #3C4645;
	background-repeat:no-repeat;
	width:352px;
	height:260px;
	background-position:center;
}

.slipinput{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin-right:10px;
	font-size:11px;
	border:1px solid #093755;
}

.slipleft{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	line-height:20px;
	color:#999999;
	padding-right:5px;
}

.slipright{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
	color:#093755;
	padding-left:5px;

}

.slip{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:25px;
}

.no_chart {
	color:#093755;
	font-size:10px;
	padding-left: 10px;
	text-align: left;
}

.slip_head_caption{
	font-size:14px;
	font-weight:bold;
	padding-right: 5px;
	text-transform:uppercase;
	color:#3c4645;
}

.slip_head{
	font-size:14px;
	font-weight:bold;
	padding-left: 5px;
}

.slip_head_red{
	font-size:14px;
	font-weight:bold;
	color:#FF0000;
	padding-left: 5px;
}

.slip_head_green{
	font-size:14px;
	font-weight:bold;
	color:#3ed00b;
	padding-left: 5px;
}

.slip_header{
	background-image:url(../images/en_7/1px.jpg);
	background-repeat:repeat-x;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	color:#FFFFFF;
}

.slipreturn{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	line-height:20px;
	color:#3C4645;
	padding-right:5px;
	font-weight:bold;
}

.slipconfirmation{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	line-height:20px;
	color:#3C4645;
	padding-right:5px;
	font-weight:bold;
}

.slip_info_td {
	padding-left:0px;
	text-align: left;
	line-height:16px;
	padding-top:8px;
}

.trade_asset{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
}
.trade_header{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:20px;
	color:#FFFFFF;
}

.trade_header_asset{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:20px;
	color:#FFFFFF;
	font-weight:bold;
}

.trade_level_green{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#62AD31;
	text-align:center;
}

.trade_level_red{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FF0000;
	text-align:center;
}

.trade_level_expired{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#666666;
	text-align:center;
}

.trade_level_sus{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666666;
	text-align:center;
}

.trade_return{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#3C4645;
	font-weight:bold;
}

.trade_return_off{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#E1E1E1;
	font-weight:bold;
	text-align:left;
}

.trade_expiery_level{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
	font-weight:bold;
	text-align:left;
	text-decoration:blink;
}

.trade_expires{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	font-weight:normal;
	text-align:right;
	text-transform:uppercase;
}

.trade_expires_off{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#E1E1E1;
	font-weight:bold;
	text-align:right;
}

.trade_odds{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#3C4645;
}

.trade_odds_off{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#E1E1E1;
}


.trade_expiry_date{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	vertical-align:top;
}

.trade_expiry_date_off{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#E1E1E1;
	vertical-align:top;
}

.trade_time_left {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	font-weight:bold;
	text-align:center;
}

.progress_table {
	border: 1px solid #990000;
	width: 330px;
	height: 12px;
}

.progress_time_td {
	color: #3C4645;
/*	border: 1px solid #000000;*/
	background-color: #FFFFFF;
	width: 30px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;

}

.progress_bar_td {
	border: 1px solid #FFFFFF;
	background-color: #990000;
	width: 292px;
	height:12px;
}
.progress_bar {
	background-color: #FFFFFF;
	font-size: 1px;
	height: 12px;
	width: 292px;
	text-align: right;
}

/**Trading page styles end**/


/****************************/
/* My Account Pages start  */
/****************************/

.scrollerTable {
	font-family : Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	align:center;
    cellspacing:0px;
    cellpadding:0px;
    background-color: #FFFFFF;
    width: 100%;
    text-decoration: none;
}

.standardTable_SortHeader {

    color: #3C4645;
    text-align: left;
	font-size:10px;
	text-transform:capitalize;
	font-weight:bold;
	border-width: 1px 0px 1px 0px;
	border-style: dashed none dashed none;
	border-color: #3C4645;
	height: 20px;
	vertical-align: middle;
	text-decoration: none;
}

.standardTable_SortHeader a {
    color: #3C4645;
    text-align: center;
	font-size:10px;
	text-transform:capitalize;
	font-weight:bold;
	text-decoration: none;
}

.standardTable_SortHeader a:hover {
    color: #3C4645;
    text-align: center;
	font-size:10px;
	text-transform:capitalize;
	font-weight:bold;
	text-decoration: underline;
}

.standardTable_Row1 {
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    background-color: #FFFFFF;
}

.standardTable_Row2 {
	color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
    background-color: #b3cbcb;
}

.standardTable18_Row1 {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #FFFFFF;
	height: 18px;
}

.standardTable18_Row2 {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #c7e2f4;
	height: 18px;
}

.standardTable_Column {
   	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-align:left;
}

.standardTable_ColumnCentered {
    text-align: center;
}

/**My Account Pages start***/


/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.CalendarcpYearNavigation,
.CalendarcpMonthNavigation
		{
		background-color:#3C4645;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.CalendarcpDayColumnHeader,
.CalendarcpYearNavigation,
.CalendarcpMonthNavigation,
.CalendarcpCurrentMonthDate,
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDate,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDate,
.CalendarcpCurrentDateDisabled,
.CalendarcpTodayText,
.CalendarcpTodayTextDisabled,
.CalendarcpText
		{
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		}
TD.CalendarcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #566764;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:0px;
		border-bottom-width:1px;
		font-weight:bold;
		color:#000000;
  		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size:11px;
		}
.CalendarcpCurrentMonthDate,
.CalendarcpOtherMonthDate,
.CalendarcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		color:#3C4645;
  		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size:11px;
  		font-weight:normal;
		}
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.CalendarcpCurrentMonthDate
		{
		color:#3C4645;
		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size:11px;
  		font-weight:normal;
		}
.CalendarcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:normal;
		}
.CalendarcpOtherMonthDate
		{
		color:#808080;
		text-decoration:line-through;
		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size:11px;
  		font-weight:normal;
		}
TD.CalendarcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #3C4645;
		border-width:1;
		border:solid thin #3C4645;
		}
TD.CalendarcpCurrentDateDisabled
		{
		border-width:1;
		border:FFFF00;
		}
TD.CalendarcpTodayText,
TD.CalendarcpTodayTextDisabled
		{
		border:solid thin #3C4645;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:1px;
		border-bottom-width:0px;
		}
A.CalendarcpTodayText,
SPAN.CalendarcpTodayTextDisabled
		{
		height:20px;
		}
A.CalendarcpTodayText
		{
		color:#3C4645;
		font-weight:bold;
		}
SPAN.CalendarcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.CalendarcpBorder
		{

		}

/*
   ------------------------------------------------------------
   End Calendar component
   ------------------------------------------------------------
*/

/*
	-------------------------------------------------
	Request a call back styles
	-------------------------------------------------
*/

.request_title{
	font-family:Arial, Helvetica, sans-serif;
	color:#02619e;
	font-size:13px;
	text-align:center;
}
.callinput{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	height: 18px;
	width:120px;
	border:1px solid #093755;
}
.request_table_border{
	border-width: 1px 1px 1px 1px;
	border-spacing:;
	border-style: solid solid solid solid;
	border-color: #848887;
	border-collapse: separate;
	background-color: white;
}

.contactme_succ_header {
	font-family: Verdana, Arial;
	font-size:25px;
	color:#0164a8;
	text-transform:uppercase;
}

.contactme_succ_body {
	font-family: Verdana;
	font-size:9px;
	color:#3C4645;
	line-height: 12px;
}


/*
	-------------------------------------------------------
	Paginator styles
	-------------------------------------------------------
*/
.scroller {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:normal;
	border:1;
	text-align:center;
	align:center;
}

.paginator {			/*pagin styles*/
    color: #3C4645;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-align:center;
	align:center;
}

.paginator_cols { 		/*colum number*/
	width: 10px;
	height: 10px;
	text-align:center;
	align:center;
	background: #556B69;
}

.paginator_cols a {	   /*pages number links*/
	color: #FFFFFF;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background: #556B69;
	text-align:center;
	text-decoration: none;
}

.paginator_active {    /* selected page*/
	color: #3C4645;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align:center;
	text-decoration: underline;
}

.right_align{
		align:right;
		text-align:right;
}

.left_align{
	align:left;
	text-align:left;
}

.center_align{
	text-align:center;
	align:-moz-center;
	#align:center;
	#text-align:center;
}

/*
   ---------------------------------
			Print slip
   ---------------------------------
*/

.slip_print_left{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	line-height:20px;
	color:#999999;
	padding-right:5px;
}
.slip_print_right{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
	color:#000000;
	padding-left:5px;

}

.slip_print{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:25px;
}

.slip_level{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	margin-left:5px;
	padding-left:5px;
}

.slipreturn_print{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:11px;
	line-height:20px;
	color:#0269ab;
	padding-right:5px;
	font-weight:bold;
}

.slip_conf_print{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:right;
	font-size:12px;
	color:#0269ab;
	padding-right:5px;
	font-weight:bold;
}


/****************************/
/* Ticker                   */
/****************************/

.ticker_market {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	vertical-align: middle;
	text-decoration:none;
	padding-bottom:5px;
	padding-top:8px;
}
.ticker_our_options{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
	vertical-align: middle;
	text-decoration:none;
	padding-bottom:5px;
	padding-top:8px;
}

.ticker_table{
	margin: 0px;
	background-image:url(../images/en_7/ticker1px.gif);
	background-repeat:repeat-x;
	border:0px;
	color:#990000;
}

.ticker_market_off {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #A1A1A1;
	font-weight: bold;
	text-transform:uppercase;
	vertical-align: middle;
	padding-bottom:5px;
	padding-top:8px;
}

.ticker_level_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #62AD31;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	padding-bottom:5px;
	padding-top:8px;
}

.ticker_level_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #f00;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	padding-bottom:5px;
	padding-top:8px;
}
/****************************/
/*  Asset Index styles		*/
/****************************/
.asset_type{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#990000;
}

.area{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
	font-weight:bolder;
	color:#000000;
	text-align:right;
}

.asset_name{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#3C4645;
	font-size:10px;
	cursor:pointer;
}

.asset_select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#990000;
	font-weight:bold;
	cursor:pointer;
}

.asset_info{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:15px;
	color:#3C4645;
}

.line{
	padding-top:5px;
}

.hand{
	cursor:pointer;
}

.calc_table{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	line-height:14px;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

.calc_border{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: #a1a1a1;}

.calc_td{
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

/* styles for Asset Index */
.top{
	vertical-align:top;
}
.dottedborder{
	border-left:1px dotted black;
	vertical-align:top;
}
.dottedborder2{
	border-right:1px dotted black;
	vertical-align:top;
}
.howcani{
	font-family: Verdana;
	font-size:9px;
	font-weight:bold;
	color: #3C4645;
	text-decoration: none;
}

/* styles for offHour */
.offHourTxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3C4645;
}

/* deposit receipt styles */
.deposit_print_receipt_number_label{
	font-family: Verdana;
	font-size: 11px;
	text-transform:uppercase;
	color: #990000;
}

.deposit_print_receipt_number{
	font-family: Verdana;
	font-size: 11px;
	text-transform:uppercase;
	color: #3C4645;
}

.field_label{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #3C4645;
}

.field_info{
	font-family: Verdana;
	font-size: 11px;
	color: #3C4645;
	padding-left: 7px;
}
.print_link{
	font-family: Verdana;
	font-size: 11px;
	font-weight:bold;
	color: #990000;
	text-transform:uppercase;
}
.border_top{
	border-top:1px dotted black;
	vertical-align:top;
}
.border_bottom{
	border-bottom:1px dotted black;
	vertical-align:top;
}

/* styles for quick guide */
.qg_text {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #343d3c;
	text-align:left;
}

.qg_h1 {
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3C4645;
	text-align:left;
}
.qg_number {
	font-size:16px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #990000;
	line-height:21px;
}
.qg_table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:dotted;
	border-color: gray gray gray gray;
	border-collapse: separate;
}

.reverse_withdraw_text{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#990000;
	font-weight:normal;
}

/***************************** msg from db ******************************/
.msg_from_db {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#990000;
	padding-left:3px;
	padding-right:3px;
	font-weight:bold;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #990000 #990000 #990000 #990000;
	border-collapse: collapse;
	background-color: white;
	vertical-align: middle;
}
/*******************************************************************************/

/************* Style for new card form */
.right_align_deposit{
		align:right;
		text-align:right;
		width:150px;
}

.left_align_deposit{
	align:left;
	text-align:left;
	width:450px;
}

.hintsClass_canceledTrx {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #990000;
	color: #FFFFFF;
	border: 1px solid #990000;
	padding: 3px;
	width: 140px;
}
.scheduleClass{
	width:100px;
}

.boxSize{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	width: 166px;
	height: 17px;
	padding: 0;
	color: #093755;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align:middle
}

.comboboxSize{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	width: 170px;
	height: 21px;
	color: #093755;
	padding-top: 0;
	padding-bottom: 0;
	vertical-align:middle
}

/*******************************************************/
/**       ONE TOUCH STYLES                             */
/*******************************************************/
.oneTouchTxt{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
	text-align:center;
}
.headerTxt{
	font-size:10px;
	color:#3C4645;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#b3cbcb;
}
.subtext{
	font-size:9px;
	color:#999999;
	text-align:center;
	text-decoration:none;
}
.optionClass{
	font-size:10px;
	line-height:12px;
	color:#3C4645;
	text-decoration:none;
	vertical-align: middle;
}
.table1Touch{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid solid solid solid;
	border-color:#848887 ;
/*	background-color: #ffffff;*/
}
.tm{
	font-size:10px;
	font-weight:bold;
	color:#3C4645;
}
.units_select{
	font-size:10px;
	height:18px;
	width:60px;
	border:1px solid #093755;
}
.header_pages_oneTouch {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-align:center;
	background-image:url(../images/en_7/header_pages.gif);
	background-repeat:repeat-x;
	font-weight:bold;
}
.onet_terms{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3C4645;
	line-height:14px;
	font-weight:normal;
}
.loginErrorBorder{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid solid solid solid;
	border-color:#ff0000;
	border-collapse: separate;
}
.doNotShow{
	display:none;
}


.onetouch_tradePage_banner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#3C4645;
	text-align:center;
	line-height:11px;
}

.onetouch_tradePage_banner_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color:#848887;
	border-collapse: collapse;
	background-color: white;
}

.onetouch_right_banner {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#3C4645;
	text-align:left;
	line-height:11px;
}

.onetouch_tradePage_offhour {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3C4645;
	line-height:14px;
}

.onetouch_tradePage_offhour_ar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#3C4645;
	line-height:15px;
	text-align:right;
}

.menu_stripe_link_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#FF0000;
	font-weight:none;
}

.onetouch_banner_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:11px;
	text-decoration:none;
	color:#0284d6;
}

.onetouch_banner_link:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:11px;
	text-decoration:none;
	color:#093755;
}

/*************************************************/
/*           NEW STYLE FOR MENU STRIP            */
/*************************************************/

.menu_seperator {
	width: 15px;
	font-size: 12px;
	text-align: center;
}

.menuItem {
	text-align: center;
	white-space: nowrap;
}

.separator_td{
	display:none;
}
.menu_td{
	background-image: url(../images/en_7/tabback.jpg)
}
.menu_underline{
	border-bottom: 1px solid #848887;
	font-size: 1px;
}
.menu_underline2{
	border-bottom: 0px;
	font-size: 1px;
}
.menu_underline_sides{
	border-top: 0px none #848887;
	font-size: 1px;
}
.gray_background{
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color:#848887;
	border-collapse: separate;
	background-color:#e1e1e1;
}

.trade_page_main_table_borderless {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: none none none none;
	border-color: #848887;
	background-color: #FFFFFF;
	width:966px;
}
.tradingBoxBack{

}
.tradingBoxesBorder{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #848887;
	background-color: #FFFFFF;
}
/**************************************************************/
/* 					tabs new styles
/**************************************************************/
#tabsB table {
    margin:0;
    list-style:none;
    border: 0px 0px 0px 0px;
    border-collapse:separate;
  }
#tabsB #current{
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
}
#tabsB td {
	border-style: none none solid none;
	border-width: 0px 0px 1px 0px;
	border-color:#848887;
  }
#tabsB a {
  float:left;
  background:url("../images/en_7/tableftB.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
  }
#tabsB a span {
  float:left;
  display:block;
  background:url("../images/en_7/tabrightB.gif") no-repeat right top;
  padding:5px 8px 4px 4px;
  color:#FFFFFF;
  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsB a span {float:none;}
/* End IE5-Mac hack */
#tabsB a:hover span {
  color:#000;
}

#tabsB a:hover {
  background-position:0% -42px;
}

#tabsB a:hover span {
  color:#AEB9B9;
  background-position:100% -42px;
}


#tabsB #current a{
		background:url("../images/en_7/tableftBSelected.gif") no-repeat left top;
		background-position:left 0px;
}

#tabsB #current span {
		text-align:middle;
		display:block;
		color:#990000;
		background:url("../images/en_7/tabrightBSelected.gif") no-repeat right top;
		padding:5px 8px 4px 4px;
      	background-position:right 0px;
}
.menu_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#000000;
	font-weight:none;
}

.menu_link_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:none;
}
.menu_underline_align{
	vertical-align:bottom;
	border-bottom: 0px solid #848887;
}
.no_border{
	border-bottom: 1px solid;
}
.footer_border{
	border-top:1px solid #3C4645;
}
.whatisao_text{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#343d3c;
	line-height:14px;
	text-align:left;
}
.customers_border{
	border-color: #848887;
	border-width:1px 1px 1px 1px;
	border-style:solid solid solid solid;
}
.onetouch_termsLink{
	color:#990000;
}

.onetouch_lastlevels {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#3C4645;
	line-height:20px;
}
.onetouch_lastlevels_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#990000;
	font-weight:bold;
	line-height:20px;
}
.binary0100_lastlevels {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#3C4645;
	line-height:20px;
}
.binary0100_lastlevels_active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#990000;
	font-weight:bold;
	line-height:20px;
}

.general_link_blue_12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#990000;
}

.general_link_blue_12:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#3c4645;
}
.personal_column1{
	width:180px;
	text-align:right;
}
.personal_column2{
	width:120px;
}

/****************** Bonus page **********************/
.bonus_status_type {
	font-family:Verdana,Arial, Helvetica, sans-serif;
	line-height:15px;
	font-size:12px;
	color:#093755;
	text-decoration:none;
	cursor:pointer;
}

.bonus {
	font-family:Arial, Helvetica, sans-serif;
	font-size:19px;
	font-weight:bold;
	color:#0284D6;
}
.bonus_text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#093755;
}
.bonus_terms {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:16px;
	color:#093755;
}
.reverse_links_red{
	color:#ff0000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:bold;
	text-decoration:underline;
}
/***************** end bonus page********************/

/**************** 1T offHours ***********************/
.maintext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; line-height:18px;
	color:#343d3c;
	font-weight:bold;
}

.smalltext{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:14px;
	color:#343d3c;
}
/**************end 1T offHours ***********************/

/**************** New Information Boxes ***********************/

info_body {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:17px;
	color:#093755;
}
.info_head {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	color:#093755;
}
.info_content {
	font-size:11px;
	color:#093755;
}
.info_anyoption {
	font-size:18px;
	font-weight:normal;
}
.info_link {
	color:#0284d6;
	font-size:10px;
}


/**************end New Information Boxes ***********************/

/**************golden minute page*************************/

.floating_div {
	width: 550px;
	position: absolute;
	z-index: 800;
	background-color: white;
	display: none;
}

.golden_asset {
	text-transform: uppercase;
	color:#093755;
	font-weight:bold;
}

.golden_border {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#093755;
	border-collapse:collapse;
}

.golden_border_rec {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#0284d6;
	border-collapse:collapse;
	background-color:#093755;
	font-size:10px;
	color:#ffffff;
	font-weight:bold;
}

.golden_border_error {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cf0000;
	border-collapse:collapse;
}

.golden_infotext {
	font-size:11px;
	color:#092755;
	line-height:16px;
}

.golden_infotext_roll {
	font-size:11px;
	color:#092755;
	line-height:16px;
	text-align:justify
}

.golden_terms {
	font-size: 9px;
	color: #0284d6;
	font-weight: bold;
	text-decoration: none;
}

.golden_error {
	font-size:9px;
	color:#F00;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
}

.golden_clock {
	color:#cf0000;
	font-size:20px;
	font-weight:bold;
}

.golden_timeleft {
	color:#cf0000;
	font-size:11px;
	font-weight:bold;
}

.golden_txt_bold{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	font-weight: bold;
}/**************end golden minute page*************************/

/**************special code page******************************/
.btn_txt_SC {
	color: #093755;
	font-weight: bold;
	font-size: 12px;
}

.sp_error_SC {
	color: #F00;
	font-size: 9px;
	font-weight: bold;
}

.border_SC {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}
/**************end special code page*************************/

/************** new on anyoption page******************************/
.newOnAo_st {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
}
.newOnAo_header {
	color: #fff;
}
.newOnAo_open {
	font-size: 10px;
	color: #0284d6;
	cursor: pointer;
	cursor: hand;
}
/************** end of new on anyoption page******************************/

/************** new trade box for home page css  **************************************/

@charset "utf-8";
/* CSS Document */

.border_gray_TP {
	border-width: 0px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#FFF
}

.body_TP {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#093755;
}

.profit_tab_TP {
	background-image:url(../images/profit_tab.gif);
	width:150px;
	background-repeat:no-repeat;
	color:#093755;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	vertical-align:middle;
}
.expiry_tab_TP {
	background-image:url(../images/exp_tab.gif);
	width:150px;
	background-repeat:no-repeat;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	vertical-align:middle;
}

.pl_exprietoday_TP {
	background-color:#093755;
	border-width: 0px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#00395c;
	border-collapse:separate;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
}

.exp_profitline_TP {
	background-color:#f6cd10;
	border-width: 0px 0px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#bd8a02;
	border-collapse:collapse;
	font-size:11px;
	color:#093755;
	font-weight:bold;
}

.row1_TP {
	color:#ffffff;
}

.row2_TP {
	color:#f2f2f2;
}

/************** end of new trade box for home page css  **************************************/

.offhours_text {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#093755;
	text-align:justify;
}

.offhours_text1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#093755;
	text-align:left;
}

/************** one touch banner for home page css  **************************************/
.onetouch_right_banner_HP {
	font-family: Verdana, Geneva, sans-serif;
	font-size:10px;
	line-height:13px;
	color:#093755;
	text-align:left
}
.onetouch_banner_link_HP {
	color:#0284d6;
	text-decoration: none;
}
.border_HP {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#FFF
}

.bankingDetailsBorder {
	border-width: 2px;
	border-spacing:0px;
	border-style:solid;
	border-color:#0284d6;
}

.bankWireTxt {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #093755;
}

.bankWireLbl {
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;
	color: #093755;
}
/************** end of one touch banner for home page css  **************************************/

/************** show off css  **************************************/
.floating_div_SO {
	position: absolute;
	z-index: 800;
	background-color: transparent;
}

.showtext_SO {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #093755;
}

.text_SO {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #093755;
}

.img_trans_SO {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.table_border_SO {

	border-width: 4px 4px 4px 4px;
	border-spacing:0px;
	border-style:solid;
	border-color:#037ecb;
	border-collapse:collapse;
}

.paginator_cols_SO { /*colum number*/
	width: 10px;
	height: 10px;
	text-align: center;
	align: center;
}

.paginator_cols_SO a { /*pages number links*/
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.paginator_active_SO { /* selected page*/
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.paginator_SO { /*pagin styles*/
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	align: center;
}

.border_top_SO {
	border-width: 3px 0px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#093755;
	text-align:left;
}

.border_top2_SO {
	border-width: 3px 0px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
	width:25px;
}
.border_right_SO {
	border-width: 3px 0px 0px 3px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
}
.border_left_SO {
	border-width: 3px 3px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
}

.table_SO {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#093755;
	width:100%;
	text-align:center;
	border-width: 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
	direction:ltr;
	height: 465px;
}

.row_SO {
	height: 43px;
}

/************** end of show off css  **************************************/

/*********** new features strip ************/
.features_bkgnd {
	background: url(../images/features/fpx.gif);
}

.features_border {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#FFF
}

.features_news_lable {
	font-size: 13px;
	font-weight: bold;
	color: #f6cd10;
	text-decoration: none;
}

a.features_links {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#093755;
}

/***************** home page scroller start *******************************/

.scroller_header {
	font-size:11px;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #0284d6;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: normal;
}

.scroller_content {
	font-size:11px;
	line-height:16px;
	text-align:justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/***************** home page scroller end *******************************/

/***************** mailBox start ****************************************/
.mailbox_table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	align: center;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

.mailbox_actions_table {
	background-color: #f1f1f1;
}

.mailbox_footer_table {
	background-color: #e2e2e2;
	width: 702px;
	height: 30px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #093755;
	border-bottom-style: solid ;
	border-bottom-width:1px;
	border-bottom-color:#adadad;
	border-top-style: solid ;
	border-top-width:1px;
	border-top-color:#adadad;
}

.mailbox_read_email_info_table {
	border-top-style: solid ;
	border-top-width:1px;
	border-top-color:#adadad;
}

.mailbox_read_email_table {
	background-color: #f1f1f1;
	border-top-style: solid ;
	border-top-width:1px;
	border-top-color:#adadad;
	height: 30px;
	width: 702px;
}

.mailbox_table_header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	text-decoration: none;
	font-weight: bold;
	background-color: #e2e2e2;
	border-bottom-style: solid ;
	border-bottom-width:1px;
	border-bottom-color:#adadad;
	border-right-style: solid ;
	border-right-width:1px;
	border-right-color:#adadad;
	padding-left: 10px;
}

.mailbox_table_td {
	border-bottom-style: solid ;
	border-bottom-width:1px;
	border-bottom-color:#adadad;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	text-align: left;
	padding-left: 10px;
}

.mailbox_table_td_last {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	text-align: left;
	padding-left: 10px;
}

.mailbox_link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	text-decoration: none;
}

.mailbox_link_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	text-decoration: none;
	font-weight:bold;
}

.mailbox_important {
	font-family: time, serif;
	color: #093755;
	font-size: 19px;
	font-weight:bold;
	text-align: center;
	vertical-align: bottom;;
}

.mailbox_continer_div {
	width:19px;
	height:12px;
	position:absolute;
	background-image: url(../images/en_2/envelop.gif);
	margin-bottom: 3px;
}

.mailbox_header_div {
	position:absolute;
	top:-5;
	right:-13;
	z-index:20;
	width:17px;
	height:13px;
	background-color: #E60000;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight:bold;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #093755;
}

.mailbox_alert_div {
	width: 480px;
	height: 157px;
	position: absolute;
	z-index: 100;
	left: 389px;
	top: 110px;
	display: none;
}

.mailbox_alert_msg {
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	color:#093755;
}

.mailbox_alert_table {
	border-width:2px 2px 2px 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	background-image: url(../images/emailAlertBk.gif);
}
/***************** mailBox end ****************************************/

.reuters_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
}
.reuter_container {
	width: 922px;
	border-bottom: solid 1px #d6d6d6;
	color: #093755;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;	
	padding: 7px 0;
	height: 42px;
}
.reuter_tp_text {
	padding-right: 10px;text-align: right;
}
/********** trading menu tabs ************/

.trading_menu_div {
	width: 145px;
	float: left;
	height: 24px;
}

.trading_menu_link {
	background: url("../images/trading_menu_tab.gif") center center no-repeat;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#fff;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	border-bottom:1px solid #a8a8a8;
}

.trading_menu_link:hover {
	background: url("../images/trading_menu_tab.gif") center bottom no-repeat;
	color: #093755;
}

.trading_menu_link_active {
	background: url("../images/trading_menu_tab.gif") center top no-repeat;
	border-bottom:1px solid #FFFFFF;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#093755;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	cursor: pointer;
	margin-bottom: -1px;
}

.trading_menu_op_link {
	background: url("../images/en_7/tradeing_op_menu_tab.gif") center center no-repeat;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#fff;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	border-bottom:1px solid #a8a8a8;
}

.trading_menu_op_link:hover {
	background: url("../images/en_7/tradeing_op_menu_tab.gif") center bottom no-repeat;
	color: #093755;
}

.trading_menu_op_link_active {
	background: url("../images/en_7/tradeing_op_menu_tab.gif") center top no-repeat;
	border-bottom:1px solid #FFFFFF;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#093755;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	cursor: pointer;
	margin-bottom: -1px;
}

.trading_menu_seprator {
	height:24px;
	float:left;
}

/********** trading menu tabs end ************/

.option_plus_table {
	background-color: #FFFFFF;
	border-width:2px 2px 2px 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #093755;
}

.option_plus_bottom_txt {
	font-size: 9px;
	padding-left: 30px;
}

.optionP_reuters_text {
	text-align:right;
}

.login_auth_caption {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#f6cd10;
	font-weight: bold;
}

.login_small_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#ffffff;
}

.login_error_red_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:red;
	font-weight: bold;
}

.login_error_contact_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#093755;
}

/*************** smartphone **********/
.smartphone_page {
	width:922px;
	background-color:#fff;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:18px;
}
.smartphone_h1 {
	font-size:18px;
	line-height:28px;
	font-weight:bold;
	color:#093755;
	text-align: left;

}
.smartphone_lightB {
	color:#0284d6;
}
.smartphone_mobile {
	width:398px;
	height:545px;
	padding-top:60px;
	float:right;
}
.smartphone_anywhere {
	width:500px;
	float:left;
	padding-left:24px;
	margin-top: 27px;
	text-align:left;
}
.smartphone_appstor {
	width:235px;
	float:left;
	padding-left:24px;
	text-align:left;

}
.smartphone_market {
	width:235px;
	float:left;
	padding-left:24px;
	text-align:left;
}


.smartphone_pop1 {
	width:481px;
	height:275px;
	font-size:12px;
	border:#a8a8a8 solid 1px;
	background-color:#fff;
	text-align:center;
}

.smartphone_pop2 {
	width:481px;
	height:275px;
	font-size:12px;
	border:#a8a8a8 solid 1px;
	background-color:#fff;
	text-align:center;
}

.smartphone_pop2_text {
	padding-top:86px;
	padding-left:60px;
	height:275px;
	text-align:left;
}


.floating_div_smartPhone {
	position: relative;
	z-index: 99;
	background-color: transparent;
	display: none;
	vertical-align: bottom;
}
/*************** end smartphone **********/

.press_image {
	Margin: 10px;
	border: 1px solid #DDDDDD;
}

/*********** new asset list *********/

.newAssetIndex_header {
	padding-left: 25px;
}

.newAssetIndex_main_div {
	margin-left: 10px;
}

.newAssetIndex_td {
	border-right: 1px dotted #ccc;
	padding-right: 5px;
}

.newAssetIndex_group_txt {
	padding-left: 15px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.newAssetIndex_group_div {
	float: left;
}


.newAssetIndex_markets_names_div {
	padding-left: 10px;
}

.newAssetIndex_market_name_div {
	float: left;
	margin-left: 5px;
}

.newAssetIndex_market_name_div {
	float: left;
	margin-left: 5px;
}

.hp_callme_header {
	margin-left: 7px;
	color:#093755;
	font-color: #093755;
	font-size: 17pt;
	font-family:Verdana, Geneva, sans-serif;
	font-weight: bold
}

.hp_callme_text {
	margin-left: 7px;
	color:#093755;
	font-color: #093755;
	font-size: 11pt;
	font-family: Tahoma, Geneva, sans-serif;
}

.call_me_hp_width {
	width: 225px;
}

.call_me_hp_phone_img {
	background: url('../images/phone_icon.gif') right top no-repeat
}

/*************************** new Features ****************/
.nFeatures {
	text-align:left;
	background: url("http://images.anyoption.com/1px36.gif") repeat-x scroll center bottom transparent;
	height: 40px;
	margin-top: 5px;
	padding-left:5px;
}
.nFeatures_head {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	padding-top:5px;
	}

.nFeatures_head:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: #093755;
	text-decoration:none;
}

.nFeatures_head:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: #0284d6;
	text-decoration:none;

}

.nFeatures_head:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: #093755;
	text-decoration:none;
}

.nFeatures_sub {
	font-size:11px;
	color:#093755;
	text-align:left;
	color: #093755;

}


.nFeatures_sub:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color: #093755;
	text-decoration:none;
}

.nFeatures_sub:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color: #0284d6;
	text-decoration:none;
}
.nFeatures_sub:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color: #093755;
	text-decoration:none;
}

.nFeatures_margin15px {
	margin-top:18px;
	margin-left:5px;
}

.nFeatures_ui_ul {
	list-style:none;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	padding:0;
	color:#093755;
	margin: 0 auto;
	margin-top:15px;
}

.cont {
	width:225px;
	height:197px;
	border:#a8a8a8 solid 1px;
	float:right;
	text-align:center;
}

.nFeatures_list1 {
	float:left;
	width:110px;
	height:161px;
}

.nFeatures_list2 {
	width:100px;
	float:right;
	height:161px;
}
/*************************** end new Features ****************/

.strip_menu_navlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space:nowrap;

}

.strip_menu_navlist li {
		list-style-type: none;
		float:left;
		height: 20px;
		vertical-align: middle;
		line-height: 20px;
}

.strip_menu_navlist li a {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
}

.strip_menu_navlist li div {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
}

.strip_menu_navlist li img {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
}

.content_pages_banner {
	font-family:
	Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	border: 1px solid #093755;
	width:174px;
	line-height:19px;
	padding:0px 4px 0px 4px;
	color:#093755;
	direction: ltr;
}

.link_0_100 {
	font-size: 11px;
	font-family: Verdana;
	color: #0284D8;
	text-decoration: none;
	background: transparent url(../images/100_icon_20x20.png) no-repeat left top;
	padding: 5px 0 0 27px;
	text-align: right;
	float: right;
}

.link_0_100:hover {
	text-decoration: underline;
	color: #0284D8;
}
/****************Trade Mark Popup***************/
#mask_tm {
  position:fixed;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes_tm .window_tm {
  position:absolute;
  left:50%;
  top:30px;
  margin-left:-507px;
  width:1015px;
  height:712px;
  display:none;
  z-index:9900;
  padding:20px;
}
#boxes_tm #dialog_tm {
  width:1010px; 
  height:707px;
  padding:10px;
}
.container_trademark{
	background:url(../images/trademark_info_certificate.jpg) no-repeat left top;
	width: 1005px; 
	height:702px;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border:solid 4px #fff;
position:relative;
z-index:9990;
}

#lightbox_close {
    background: url(../images/trademark_close_button.gif) no-repeat scroll 0 0 ;
    cursor: pointer;
    height: 15px;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 17px;
	border:none;
	z-index:100;
}
/****************END Trade Mark Popup***************/
