<div ng-controller="BankWireSkrillController" id="tab-content">
	<div ng-if="success">{{getMsgs('templates.update.success')}}</div>
	<div ng-hide="permissions.get('withdrawUserDetails_view') || !ready">{{getMsgs('error.no_permission')}}</div>
	<ng-form name="_form" novalidate class="table space short top" ng-if="!success" ng-show="permissions.get('withdrawUserDetails_view')">
		<div class="grid cell" ng-show="form.type == 1">
			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.beneficiary.name')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" id="beneficiaryName" ng-model="form.beneficiaryName"/>
				</div>
			</div>

			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.swift')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" dir="ltr" id="swift" ng-model="form.swift" />
				</div>
			</div>

			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.iban')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" id="iban" ng-model="form.iban" />
				</div>
			</div>

			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.account.number')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="20" id="accountNum" ng-model="form.accountNum"  restrict-digits="restrict-digits"/>
				</div>
			</div>

			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.bank.name')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" id="bankName" ng-model="form.bankName" />
				</div>
			</div>
						
						
			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.branch.number')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" id="branchNumber" ng-model="form.branchNumber" restrict-digits="restrict-digits"/>
				</div>
			</div>

			<div class="row">
				<div class="cell">{{getMsgs('bank.wire.branch.address')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" id="branchAddress" ng-model="form.branchAddress" />
				</div>
			</div>
			
			<div class="row uploadImage-holder">
				<span class="cell">{{getMsgs('file')}}</span>
				<span class="cell">
					<button type="button" class="button green" ng-file-select="onFileSelect($files)" onclick="this.value = null">
						{{getMsgs('browse')}}
					</button>
					<span class="error" ng-if="fileTooBig">{{getMsgs('error.file_too_large')}}</span>
					<img class="files-new-file-preview" ng-src="{{uploadedImage}}" ng-if="uploadedImage" />
					<span ng-if="uploadedFileName">{{uploadedFileName}}</span>
				</span>
			</div>
			<div class="row">
				<div class="cell">{{getMsgs('filetypes.bank.wire.protocol')}}</div>
				<div class="cell">
					<a href="{{filePath_preview}}" ng-if="filePath_preview != ''" target="_blank">{{getMsgs('files.filelinkDoc')}}</a>
				</div>
			</div>
		</div>
		<div class="grid cell" ng-show="form.type == 2">
			<div class="row">
				<div class="cell">{{getMsgs('skrill-address')}}</div>
				<div class="cell">
					<input type="text" class="field" maxlength="30" id="skrillEmail" ng-model="form.skrillEmail"/>
				</div>
			</div>
		</div>
		<div class="cell">
			<div>
				<input type="radio" ng-model="form.type" ng-value="2" /> <span>{{getMsgs('transactions.moneybookers.withdraw.clean')}}</span>
			</div>
			<div>
				<input type="radio" ng-model="form.type" ng-value="1"/> <span>{{getMsgs('menu.bank.wire')}}</span>
			</div>
		</div>
		<div class="row">
			<div class="field_box submit_field">
				<div class="button_holder" ng-click="insertUpdateWithdrawUserDetailas(_form)">
					<div class="button_inner">
						<button type="button" class="button blue" ng-disabled="!permissions.get('withdrawUserDetails_save')">{{getMsgs('submit')}}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="globalErrorField" id="globalErrorField"></div>
		<div class="globalErrorField" ng-bind-html="globalErrorMsg"></div>
	</ng-form>
</div>