<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html 
	xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:t="http://myfaces.apache.org/tomahawk">
	
	<ui:composition template="/jsp/templates/template_tv.xhtml">
		<ui:define name="head">
			<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js" type="text/javascript"></script>
			<script>
				function handleStartGetAnalytics(){
					var url = "ajax.jsf?autoLogin=true" ;
				    var ajax = new AJAXInteraction(url, handleStartGetAnalyticsCallBack);
				    ajax.doGet();
				}
		
				function handleStartGetAnalyticsCallBack(responseXML) {
					var isAutoLogin = responseXML.getElementsByTagName("isAutoLogin")[0].firstChild.nodeValue;
					if (isAutoLogin == 'true') {
						document.location.reload(true);
					}
				}
			</script>
		</ui:define>
		<ui:define name="content">
			<h:panelGroup>
				<t:saveState value="#{analyticsFtdForm}" />
        		<h:form id="analyticsFtdForm">
        			<p:poll interval="300" listener="#{analyticsFtdForm.search}" update="data" onstart="handleStartGetAnalytics();"/>
					<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
					<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
					    <p:graphicImage url="http://www.primefaces.org/showcase/javax.faces.resource/demo/images/ajaxloadingbar.gif.xhtml" />
					</p:dialog>
        			<h:panelGroup id="data">
        				<br/><br/>
        				<!-- Analytics total -->
	        			<h:panelGrid width="90%" align="center">
							<t:dataTable id="data_general"
				            	styleClass="scrollerTable"
				                headerClass="standardTable_SortHeader"
				                footerClass="standardTable_Header"
				                rowClasses="analyticsTable_Row1,analyticsTable_Row2"
				                columnClasses="analyticsTable_Column,analyticsTable_Column,analyticsTable_Column"
				                var="v"
				                rows=""
				                renderedIfEmpty="false"
				                cellpadding="0"
				                cellspacing="1"
				                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
								rowOnMouseOut="this.style.backgroundColor=old"
								varDetailToggler="detailToggler"
				                value="#{analyticsFtdForm.analyticsTotal}">
				                <!-- All platform -->
								<t:column>
					               	<f:facet name="header">
								       	<h:outputText value="#{msgs['analytic.tv.platform']}"/>
					               	</f:facet>
									<h:outputText value="#{msgs['analytic.tv.platform.all']}" />
					           	</t:column>
					           	<!-- Ftd count -->
								<t:column>
					               	<f:facet name="header">
								       	<h:outputText value="#{msgs['analytic.tv.ftd.count']}"/>
					               	</f:facet>
									<h:outputText value="#{v.ftdCount}" />
					           	</t:column>
					           	<!-- Accumulated amount -->
								<t:column>
									<f:facet name="header">
								    	<h:outputText value="#{msgs['analytic.tv.accumulated.amount']}"/>
					               	</f:facet>
					               	<h:outputText value="#{v.getAmountTxt(v.depositAmount)}" />
					           	</t:column>
							</t:dataTable>
					      	<br/><br/>
					      	<!-- Analytics by platform -->
						   	<t:dataTable id="data_platforms"
				                styleClass="scrollerTable"
				                headerClass="standardTable_SortHeader"
				                footerClass="standardTable_Header"
				                rowClasses="standardTable_Row1,standardTable_Row2"
				                columnClasses="standardTable_Column,standardTable_Column,standardTable_Column"
				                var="v"
				                rows=""
				                renderedIfEmpty="false"
				                cellpadding="0"
				                cellspacing="1"
				                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
								rowOnMouseOut="this.style.backgroundColor=old"
								varDetailToggler="detailToggler"
				                value="#{analyticsFtdForm.list}">
				                <!-- Platform name -->
								<t:column>
					               	<f:facet name="header">
								       	<h:outputText value="#{msgs['analytic.tv.platform']}"/>
					               	</f:facet>
									<h:outputText value="#{v.platformName}" />
					           	</t:column>
					           	<!-- Ftd count -->
								<t:column>
					               	<f:facet name="header">
								       	<h:outputText value="#{msgs['analytic.tv.ftd.count']}"/>
					               	</f:facet>
									<h:outputText value="#{v.ftdCount}" />
					           	</t:column>
					           	<!-- Accumulated amount -->
								<t:column>
									<f:facet name="header">
								    	<h:outputText value="#{msgs['analytic.tv.accumulated.amount']}"/>
					               	</f:facet>
					               	<h:outputText value="#{v.getAmountTxt(v.depositAmount)}" />
					           	</t:column>
					      	 </t:dataTable>
					      	 <br/><br/>
					      	 <h:outputText value="#{msgs['analytic.tv.last.time.update']}"/>
					      	 <h:outputText value="#{analyticsFtdForm.timeDataFetchedTxt}" />
				     	</h:panelGrid>
				     </h:panelGroup>
        		</h:form>
        	</h:panelGroup>
		</ui:define>
	</ui:composition>
</html>