@charset "utf-8";
/* etrader general CSS Document */
body	{
	background:#fff url(../../images/landing/LP_etrader_globes/bk.png) repeat-x;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;

}
#page	{
	width:865px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	}
img	{border:none;}

#header	{text-align: right; }
.logo	{ margin: 35px 0 40px;}
.title_image	{margin-right:-10px; margin-bottom:5px;}
.main_text	{direction:rtl; font-size:16px; height:510px; color:#566764; padding-left: 300px; margin-bottom:30px;}
.form_box	{direction:rtl; width:210px; padding:55px 49px 0; position: absolute; top:0px; background:url(../../images/landing/LP_etrader_globes/form_bk.png) no-repeat; height:441px; z-index:50;}
.form_box h3	{ margin:0px 0 10px;line-height: 20px; color:#566764; font-size:19px;}
.input1	{}
.form_box .input1 input	{width:130px; height:20px; color:#7f7f7f; float:left;border: medium none; padding-top:4px; background:#e9f1f0;}
.label	{height:25px; background:#566764; color:#fff; font-size:12px;margin-bottom:5px;line-height: 24px;}
.form_box .input2 {width:45px; height:25px; background:#e9f1f0;float:left;border-right: 3px solid #FFF;}
.form_box .input2 .noborder {width:42px; height:18px; overflow:hidden; position:relative; margin-top:4px; margin-right:2px;}
.form_box .input2 select {width:47px;  color:#7f7f7f; left: 4px; position: relative; top: -1px; border:none; background:#e9f1f0; }
.form_box .input3 input	{    color: #7F7F7F;border: medium none; padding-top:4px; background:#e9f1f0;
    float: left;
    height: 20px;
    /*margin-left: 1px;*/
    width: 82px;}
.input_checkbox	{font-size:12px;}
.agree		{ /*float:right;margin-right: 0;*/}
/*.error_message	{background:#2e2a2b; height:18px; font-size:12px; color:#b50900; text-align:center;font-weight: bold; margin-top:5px;}*/
.submin_swf	{margin-top:10px;}
.submit_button	{margin-right: -4px;}
.error_message 	{ background:#e9f1f0; padding:0 30px; font-size:11px; color:#b50900; font-weight:bold; line-height:23px; margin-bottom:15px;}
.checkbox_line	{height:22px;color:#566764;}
.lock_line	{color:#566764;margin-top: -1px;}
.lock_line img {margin-right: 5px; margin-top: 2px;}

#bottom_boxs	{margin-bottom:16px;color: #4B5C59; font-size: 14px; z-index:100; position:relative; display:table;width: 100%;}
#footer	{direction:rtl;color: #566764;}
#footer .icon_box	{background:#eaeaea; height:38px; width:100%;overflow: hidden; margin-bottom:15px;}
#footer .icon	{float:left; margin: 3px 24px 0;}
#footer .footer_text	{ margin-bottom:5px; direction: rtl;font-family: Arial,Helvetica,sans-serif;font-size: 10px; color:#566764; text-align:center;}
.footer_link:link {
    color: #4B5C59;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}
.footer_link:hover {
    color: #990020;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: underline;
}

#error_box	{ display:none;position:absolute; z-index:100; top:200px; background:url(../../images/landing/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:30px; height:50px; padding:0 10px; font-size:14px; font-weight:bold;}
.error_button	{background:url(../../images/landing/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;position: absolute; top: 90px; left:85px;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}


ul.list { list-style:none;margin: 0;padding: 0;}
ul.list li { background:url(/anyoption/etrader4/images/li_bk.png) no-repeat right; width:544px; height:25px;
padding-right: 25px;
margin-bottom: 5px;
line-height: 23px;}
