@charset "utf-8";

body {
	background-color:#fff;
	margin:0;
	padding:0;
	height:100%;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	direction: rtl;
	color: #fff;
	position: relative;
}
#page {
	width:865px;
	margin:0 auto;
	min-height:472px;
	display: table;
	background: #000;
}
#page_container {
	width:100%;
	height:auto !important;
	display: table;
	position: relative;
	background: #000;
	z-index: 200;
}
img {
	border:none;
}
.text_bullets {
	font-weight: normal;
	list-style-type: none;
	text-align: left;
	padding: 0;
	margin: 0;
	text-align: right;
	padding-left: 30px;
	font-size: 16px;
	width: 457px;
}
.clear {
	clear: both;
}
form {
	float: none;
}

#main_box {
	width:976px;
	top: 0px;
	vertical-align: top;
	clear: both;
	background: #000 url(../../images/landing/birthday4_bg.jpg) no-repeat left top;
	float: left;
}
#content_mainbox {
	width:490px;
	top: 0px;
	vertical-align: top;
	clear: both;
	position: relative;
	float: right;
	right: 30px;
}
.title {
	margin: 20px 0 20px 0;
	float: right;
	width: 550px;
}
.banner {
	margin: 20px 0 5px 0;
}
.text_bullets li {
	background-image: url(../../images/landing/bk_list.png);
	background-repeat: no-repeat;
	background-position: right top;
	margin: 0 0 5px 0;
	padding: 1px 30px 0 0;
	height: 22px;
}

#header {
	text-align: left;
	height: 44px;
	background: #fff url(../../images/landing/border_header.gif) repeat-x left bottom;
	border-top: solid 3px #bac5c1;
	width: 100%;
}
.logo {
	margin: 0 auto;
	padding-top: 8px;
	width: 716px;
}
h1 {
	font-size:16px;
	line-height: 18px;
	font-weight: bold;
}
h1 span {
	color: #db2400;
}
h2 {
	font-size:26px;
	line-height: 26px;
	font-weight: bold;
	margin: 10px 0 15px 0;
}
h2 span {
	color: #db2400;
}
#flashbanner {
	float: left;
}
.main_text {
	font-size:14px;
	line-height: 16px;
	float: right;
	width: 550px;
}
*+html .main_text {
	padding-bottom: 30px;
}
.main_text p {
	width: 420px;
	margin: 25px 0 0 0;
	padding: 0px;
	line-height: 20px;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
h4 {
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	margin: 50px 0px 10px 10px;
	padding: 0px;
}
.gift_box {
	background: transparent url(../../images/landing//box_product.png) no-repeat right top;
	width: 202px;
	height: 75px;
	text-align: center;
	float: right;
	margin: 20px 0px 25px 10px;
}
.gift_box p {
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	width: 202px;
	padding: 10px 0 2px 0;
	margin: 0px;
	font-weight: normal;
}
.gift_box p span {
	text-align: center;
	color: #f03838;
	font-size: 18px;
}
.gift_box h5 {
	text-align: center;
	color: #8aa6a1;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
*+html .form_box {
	padding-left:52px;
}
#form_container {
	height: 222px;
	background: white url(../../images/landing/birthday4_bg_btm.png) repeat-x center top;
	width: 100%;
}
*+html #form_container {
	height: 222px;
	background: #000000 url(../../images/landing/birthday4_bg_btm.png) repeat-x center 18px;
	width: 100%;
}
.form_bg {
	width:865px;
	height: 201px;
	margin: 0 auto;
	clear: both;
	position: relative;
}
.form_box {
	width:840px;
	height: 201px;
	background:transparent url(../../images/landing/birthday4_bg_form.png) no-repeat right top;
	padding-right: 25px;
	float: right;
	position: relative;
	z-index: 500;
	right: -53px;
	top: -18px;
}
*+html .form_box {
	right: 2px !important;
	top: 0px !important;
}
h3 {
	color:#fff;
	font-size:22px;
	font-weight: normal;
	margin: 20px 30px 10px 0;
}
.form_box h4 {
	color:#fff;
	font-size:120%;
	text-align: center;
	padding: 20px 0 0 0;
}
.ty_text {
	color:#ffffff;
	font-size:90%;
	text-align: center;
	padding: 5px 0 0 10px;
	width:260px;
}
.regForm_labelAndField_wrap {
	width: 268px;
	margin: 5px 0 0 0;
	float: right;
}
.regForm_labelAndField_wrap input {
	width:155px;
	height:14px;
	color:#171c1b;
	float:left;
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:4px 5px 4px 5px;
	background: #fff url(../../images/landing/bg_input.png) repeat-x top left;
	border: solid 1px #3a4543;
	font-size: 12px;
}
*+html .regForm_labelAndField_wrap input {
	height:13px;
	padding:2px 5px 4px 5px;
	margin-top: 3px;
}
.regForm_labelAndField_wrap #phone2 {
	float: left;
	clear: both;
}
#phone2 input {
	width:101px;
	float: right;
	margin-right: 8px;
}
#phone2 select {
	width:52px;
	height:24px;
	color:#171c1b;
	float:left;
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:1px;
	background: #fff url(../../images/landing/bg_input.png) repeat-x top left;
	border: solid 1px #3a4543;
	font-size: 12px;
}
*+html #phone2 select {
	margin-top: 3px;
}
label {
	height:20px;
	color:#fff;
	font-size:14px;
	margin-top:5px;
	width: 93px;
	text-align: left;
	float: right;
}
#first_name {
	margin-top: 5px;
}
.submit_button {
	margin: -35px 10px 5px 0;
	float: right;
	padding-bottom: 5px;
	height: 70px;
	width: 257px;
}
*+html .submit_button {
	margin-top: -37px;
}
.link_post {
	font-size:11px;
	color:#fff;
	font-weight:bold;
	float: left;
	margin-left: 42px;
	padding-top: 12px;
	width: 250px;
	height: 30px;
	text-align: center;
	background: transparent url(../../images/landing/birthday4_bg_formsubtitle.png) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
}
.lock_line {
	width: 210px;
	color: #171c1b;
	margin-top: 5px;
	background: transparent url(../../images/landing/img_security.png) no-repeat 218px top;
	padding-right: 22px;
	float: right;
	direction: rtl;
	font-size: 11px;
	margin-right: 97px;
}
.checkbox_line {
	height: 22px;
	color: #171c1b;
	float: right;
	margin-top: 5px;
	width: 169px;
	font-size: 11px;
	margin-right: 37px;
}
.checkbox_line .checkbox {
	float: right;
	width: 10px;
}
.checkbox_line input [type="checkbox"] {
	border: solid 1px #3a4543;
}
.checkbox_line .checkbox_text  {
	float: left;
	width: 145px;
}

#bottom_boxs {
	margin-bottom:16px;
	color: #4B5C59;
	font-size: 14px;
	z-index:100;
	position:relative;
	display:table;
	width: 100%;
}
.testm_box {
	float:right;
	width:281px;
	height:310px;
	margin-left:4px;
	position:relative;
	direction:rtl;
	background-color: #ffffff;
}
.testm_box .text {
	color:#fff;
	font-size:11px;
	padding: 10px 15px;
	position: absolute;
	text-align: right;
	top: 140px;
}
.testm_box .name {
	color:#fff;
	font-size:15px;
	padding: 0 15px;
	position: absolute;
	width: 250px;
	text-align: right;
	top: 288px;
}
#footer {
	margin: 0 auto;
	width: 865px;
	position: relative;
	right: -27px;
}
*+html #footer {
	right: 28px;
}
#footer_icons {
	margin: 25px 2px 20px 0;
	width: 822px;
	padding-top: 0px;
	float: right;
	position: relative;
}
.footer_text {
	font-size:10px;
	color:#566764;
	width: 820px;
	padding: 10px 0;
	line-height: 14px;
	text-align: right;
}
.footer_text a {
	color:#566764;
	text-decoration: underline;
}
.footer_text a:hover {
	color:#de0202;
	text-decoration: underline;
}
#footer_icons .icon_box {
	border: medium none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color:#dbe6e5;
	height:38px;
	overflow: hidden;
	padding-left: 97px;
}
#footer_icons .icon {
	float:left;
	margin: 6px 24px 0 0;
}
#footer_icons .footer_text {
	margin-bottom:5px;
	direction: rtl;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#566764;
	text-align:center;
}

#error_box	{ display:none;position:absolute; z-index:1000; top:200px; background:url(../../images/landing/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:30px; height:50px; padding:0 10px; font-size:14px; font-weight:bold;}
.error_button	{background:url(../../images/landing/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;position: absolute; top: 90px; left:85px;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:990;
}
