<div class="questionnaire_content" ng-controller="userSingleQuestionnaireCtr">
	<div ng-if="success">{{getMsgs('templates.update.success')}}</div>
	<div ng-hide="permissions.get('questionnaire_view') || !ready">{{getMsgs('error.no_permission')}}</div>
	<ng-form name="_form" novalidate class="table space short top" ng-if="!success" ng-show="permissions.get('questionnaire_view')">
		<div class="deposit_holder questionnaire_holder">
			<div class="questionnaire_list separate" ng-repeat="question in questions">
				<div ng-if="question.questionType == 'DROPDOWN'">
					{{$index + 1}}. {{question.translatation}}<br />
					<div class="select-wrapper" ng-class="{ error: question.hasError }">
						<select name="question_{{question.id}}" ng-model="question.userAnswer" required="question.mandatory" class="funnel_inp funnel_inp_sel_content"
							ng-options="answer.translation for answer in question.answers" 
							ng-change="submitSQuestionnaire(false)"
							ng-disabled="disabled">
						</select>
						<span class="question-error-txt" ng-if="question.hasError">{{getMsgs('error.mandatory')}}</span>
					</div>
				</div>
				<div ng-show="question.userAnswer.answerType == 'FREETEXT'" ng-if="question.questionType == 'DROPDOWN'">
					<input class="field small-field" type="text" ng-model="question.userAnswer.textAnswer" />
				</div>
				
				<div ng-if="question.questionType == 'CHECKBOX'">
					<label class="fs14 question-label">
						<input type="checkbox" ng-model="question.userAnswer.id" ng-true-value="{{question.answers[0].id}}" 
							ng-false-value="{{question.answers[1].id}}" id="question_{{question.id}}" ng-change="submitSQuestionnaire(false)" ng-disabled="disabled"/>
						<span class="checkbox small-check"></span>
						<span ng-bind-html="question.translatation"></span>
						<span class="question-error-txt" ng-if="question.hasError">{{getMsgs('error.mandatory')}}</span>
					</label>
				</div>
			</div>
		</div>
		<div class="mt20 taC questionnaire_list separate" ng-if="permissions.get('questionnaire_save')">
			<button type="button" class="button blue" ng-class="{ loading: loading }" ng-click="submitSQuestionnaire(true, _form)" ng-disabled="disabled || loading">
				{{getMsgs('submit')}}
			</button>
		</div>
		<div class="globalErrorField" id="globalErrorField"></div>
		<div class="globalErrorField" ng-bind-html="globalErrorMsg"></div>
	</ng-form>
</div>