<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner">
		<section class="box panel active">
			<h2 class="heading-inner toggle">{{getMsgs('deposit-bank-wire')}}</h2>
			<div class="panel-content" ng-controller="bankWireCtr">
				<div ng-include="'html/templates/other-funding-methods-tabs.html'"></div>
				<div class="row" ng-include="'html/templates/bank-wire-content.html'"></div>
				<div class="row line">
					<a class="more-other" ui-sref="ln.in.a.personal.my-account.banking({ln:skinLanguage})">{{getMsgs('other-funding-methods')}} &#187;</a>
				</div>
			</div>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/withdraw.html'"></div>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/banking-history.html'"></div>
		</section>
	</div>
</section>