<h2 class="heading-inner toggle">{{getMsgs('banking-history')}}</h2>
<div class="panel-content" ng-controller="UserTransactionsCtrl" id="UserTransactionsCtrlHolder" loading>
	<table class="flex" ng-if="transactions">
		<thead>
			<tr>
				<th>{{getMsgs('description')}}</th>
				<th>{{getMsgs('time')}}</th>
				<th>{{getMsgs('amount2')}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="entry in transactions">
				<td>
					<div class="start">
						<h4>{{entry.typeName}}</h4>
						{{getMsgs('id')}}: {{entry.id}}
					</div>
					<div class="end" ng-if="(entry.credit == false) && (entry.statusId == (4 || 9))">
						<button class="button small light" ng-click="insertWithdrawsReverse(entry);" ng-bind-html="getMsgs('reverse-withdrawal')"></button>
					</div>
				</td>
				<td>{{entry.timeCreatedTxt}}</td>
				<td>{{entry.amountWF}} {{entry.credit == true ? getMsgs('credit') : getMsgs('debit')}}</td>
			</tr>
		</tbody>
	</table>
</div>