<form name="_form" novalidate ng-controller="changePasswordCtr">
	<h2 class="heading-inner toggle">{{getMsgs('update-password')}}</h2>
	<div class="grid-side panel-content">
		<div class="row">
			<label id="password-container">
				<span class="label">{{getMsgs('current-password')}}</span>
				<input class="field" type="password" ng-model="form.password" id="password" name="password"
					required ng-minlength="6" ng-maxlength="9" maxlength="9" autocomplete="off"/>

				<span class="error-message icon" ng-if="checkError(_form, 'password', 'required')">{{getMsgs('error-mandatory')}} </span>
				<span class="error-message icon" ng-if="checkError(_form, 'password', 'minlength')">{{getMsgs('error-minimum-length', {length: 6})}} </span>
			</label>
		</div>
		<div class="row">
			<label id="passwordNew-container">
				<span class="label">{{getMsgs('new-password')}}</span>
				<input class="field" type="password" ng-model="form.passwordNew" id="passwordNew" name="passwordNew"
					required ng-minlength="6" ng-maxlength="9" maxlength="9" autocomplete="off"/>

				<span class="error-message icon" ng-if="checkError(_form, 'passwordNew', 'required')">{{getMsgs('error-mandatory')}} </span>
				<span class="error-message icon" ng-if="checkError(_form, 'passwordNew', 'minlength')">{{getMsgs('error-minimum-length', {length: 6})}} </span>
			</label>
		</div>
		<div class="row">
			<label id="passwordReType-container">
				<span class="label">{{getMsgs('retype-new-password')}}</span>
				<input class="field" type="password" ng-model="form.passwordReType" id="passwordReType" name="passwordReType"
					required ng-minlength="6" ng-maxlength="9" maxlength="9" autocomplete="off" compare-to="form.passwordNew"/>

				<span class="error-message icon" ng-if="checkError(_form, 'passwordReType', 'required')">{{getMsgs('error-mandatory')}} </span>
				<span class="error-message icon" ng-if="checkError(_form, 'passwordReType', 'minlength')">{{getMsgs('error-minimum-length', {length: 6})}} </span>
				<span class="error-message icon" ng-if="checkError(_form, 'passwordReType', 'compareTo')">{{getMsgs('error-password-not-match')}} </span>
			</label>
		</div>
		<!--<div vc-recaptcha key="recaptchaKey" class="pt5 mt10 pb5 mb10"></div>-->
		<div>
			<div vc-recaptcha key="recaptchaKey" class="dIB pt5 mt10 pb5 mb10" on-create="setWidgetId(widgetId)" on-success="setResponse(response)" on-expire="cbExpiration()"></div>
			<span class="error-message icon dIB pb5" style="margin-left:170px;" ng-if="checkRecaptchaError(_form)">{{getMsgs('error-mandatory')}} </span>
		</div>
		<div class="row">
			<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="submitChangePassword(_form)">
				{{getMsgs('submit')}}
			</button>
		</div>
		<div class="row error-message taC" id="globalErrorFieldPassword"></div>
	</div>
</form>