<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner">
		<section class="box panel active">
			<form name="_form" novalidate ng-controller="insertDirectDeposit">
				<h2 class="heading-inner toggle">{{getMsgs('deposit')}}</h2>
				<div class="panel-content">
					<div ng-include="'html/templates/other-funding-methods-tabs.html'"></div>
					<div class="row mb30">
						<img src="img/cards.png" width="72" height="21"/>
					</div>
					<div class="table">
						<div class="row compact-box">
							<div class="row" id="amount-container">
								<div class="currency-holder">
									<div class="depositAmount-holder">
										<input class="field" type="text" placeholder="{{getMsgs('deposit-amount')}}" ng-model="form.depositAmount" id="depositAmount" name="depositAmount" 
											restrict-float required />
									</div>
									<div class="currency">
										<span>{{copyopUser.user.currency.symbol}}</span>
									</div>
								</div>
							</div>
							<div class="row" id="accountNum-container" ng-if="!$state.is('ln.in.a.personal.my-account.banking.eps')">
								<input class="field" type="text" placeholder="{{getMsgs('account-number')}}" ng-model="form.accountNum" id="accountNum" name="accountNum" 
									required autocomplete="off" />
							</div>
							<div class="row" id="bankSortCode-container" ng-if="!$state.is('ln.in.a.personal.my-account.banking.eps')">
								<input class="field" type="text" placeholder="{{getMsgs('banking-sort-code')}}" ng-model="form.bankSortCode" id="bankSortCode" name="bankSortCode" 
									required autocomplete="off"/>
							</div>
							<div class="row" id="beneficiaryName-container">
								<input class="field" type="text" placeholder="{{getMsgs('beneficiary.name')}}" ng-model="form.beneficiaryName" id="beneficiaryName" name="beneficiaryName" 
									required autocomplete="off" />
							</div>
							<div class="row">
								<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="submitDirectDecposit(_form)">
									{{getMsgs('submit')}}
								</button>
							</div>
							<div class="row error-message taC" id="globalErrorField"></div>
							<div class="row error-message taC">
								<span ng-if="checkError(_form, 'depositAmount', 'required')">{{getMsgs('deposit-amount')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'accountNum', 'required')">{{getMsgs('account-number')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'bankSortCode', 'required')">{{getMsgs('banking-sort-code')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'beneficiaryName', 'required')">{{getMsgs('beneficiary.name')}}: {{getMsgs('error-mandatory')}} </span>
								<!-- additionalFields -->
								<span ng-if="checkError(_form, 'street', 'required')">{{getMsgs('street-address')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'cityName', 'required')">{{getMsgs('city')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'zipCode', 'required')">{{getMsgs('zip')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'birthDayUpdate', 'required')">{{getMsgs('day-of-birth')}} ({{getMsgs('dd')}}): {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'birthMonthUpdate', 'required')">{{getMsgs('day-of-birth')}} ({{getMsgs('mm')}}): {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'birthYearUpdate', 'required')">{{getMsgs('day-of-birth')}} ({{getMsgs('yyyy')}}): {{getMsgs('error-mandatory')}} </span>
							</div>
						</div>
						<div class="row compact-box">
							<div class="row" ng-if="additionalFields">
								<input class="field" type="text" placeholder="{{getMsgs('street-address')}}" ng-model="form.street" id="street" name="street" 
									required autocomplete="off" />
							</div>
							<div class="row" ng-if="additionalFields">
								<input class="field" type="text" placeholder="{{getMsgs('city')}}" ng-model="form.cityName" id="cityName" name="cityName" 
									required autocomplete="off" />
							</div>
							<div class="row" ng-if="additionalFields">
								<input class="field" type="text" placeholder="{{getMsgs('zip-code')}}" ng-model="form.zipCode" id="zipCode" name="zipCode" 
									required autocomplete="off" />
							</div>
							<div class="row" ng-if="additionalFields">
								<span class="label">{{getMsgs('day-of-birth')}}</span>
								<div class="birth-date">
									<div class="select-wrapper">
										<select class="field" ng-model="form.birthDayUpdate" ng-options="number for number in Range(1, 31)" id="birthDayUpdate" name="birthDayUpdate" 
											required >
											<option value="">{{getMsgs('dd')}}</option>
										</select>
										<span>{{(form.birthDayUpdate == null) ? getMsgs('dd') : form.birthDayUpdate}}</span>
									</div>
									<div class="select-wrapper">
										<select class="field" ng-model="form.birthMonthUpdate" ng-options="number for number in Range(1, 12)" id="birthMonthUpdate" name="birthMonthUpdate" 
											required>
											<option value="">{{getMsgs('mm')}}</option>
										</select>
										<span>{{(form.birthMonthUpdate == null) ? getMsgs('mm') : form.birthMonthUpdate}}</span>
									</div>
									<div class="select-wrapper">
										<select class="field" ng-model="form.birthYearUpdate" ng-options="number for number in Range(yearMinus18, 1912)" id="birthYearUpdate" name="birthYearUpdate" 
											required>
											<option value="">{{getMsgs('yy')}}</option>
										</select>
										<span>{{(form.birthYearUpdate == null) ? getMsgs('yy') : form.birthYearUpdate}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row line">
						<a class="more-other" ui-sref="ln.in.a.personal.my-account.banking({ln:skinLanguage})">{{getMsgs('other-funding-methods')}} &#187;</a>
					</div>
				</div>
			</form>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/withdraw.html'"></div>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/banking-history.html'"></div>
		</section>
	</div>
</section>