<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner">
		<section class="box panel active">
			<h2 class="heading-inner toggle">{{getMsgs('deposit')}}</h2>
			<div class="panel-content">
				<div ng-include="'html/templates/deposit-tabs.html'"></div>
				<div ng-if="!selected && cards.length > 1">
					<div class="row">
						<table class="flex">
							<thead>
								<tr>
									<th>{{getMsgs('card-type')}}</th>
									<th>{{getMsgs('card-number')}}</th>
									<th>{{getMsgs('expiry-date')}}</th>
									<th width="200">{{getMsgs('delete-card')}}</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="card in cards | filter: { expMonth: '!null' }">
									<td><h4>{{card.typeName}}</h4></td>
									<td class="card-number">
										<span ng-click="showCcInfo(card)">{{card.ccNumberDsp}}</span>
									</td>
									<td class="taC">{{card.expMonth}}/{{card.expYear}}</td>
									<td class="taC">
										<label>
											<input type="checkbox" ng-click="selectCheckbox($event, card.id);"/>
											<span class="checkbox small-check"></span>
										</label>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row flow">
						<div class="start">
							<p>{{getMsgs('edit-card.txt1')}}</p>
						</div>
						<div class="end">
							<button class="button submit compact" ng-class="{ loading: loading }" type="submit" ng-click="deleteCreditCards();">{{getMsgs('delete')}}</button>
						</div>
					</div>
				</div>
				<div ng-if="selected">
					<h2 class="heading-inner">{{getMsgs('banking.l3')}}</h2>
					<div class="compact-box">
						<form name="_form">
							<div class="row">
								<span class="label">{{getMsgs('card-type')}}</span>
								<div class="entry-value">{{editCard.typeName}}</div>
							</div>
							<div class="row">
								<span class="label">{{getMsgs('card-number')}}</span>
								<div class="entry-value">{{editCard.ccNumberDsp}}</div>
							</div>
							<div class="row">
								<div class="card-expiry-holder">
									<div>
										<span class="label">{{getMsgs('expiry-date')}}</span>
										<div class="expiry-holder">
											<div class="select-wrapper">
												<select class="select" ng-model="editCard.expMonth" id="expMonth" name="expMonth" 
													rquired>
													<option ng-repeat="value in Range(1, 12)" value="{{value}}" ng-selected="{{value == editCard.expMonth}}">{{value}}</option>
												</select>
												<span>{{(editCard.expMonth == null) ? getMsgs('mm') : editCard.expMonth}}</span>
											</div>
											<div class="select-wrapper">
												<select class="select" ng-model="editCard.expYear" id="expYear" name="expYear" 
													required>
													<option ng-repeat="value in Range(shortYear, shortYearFuture)" value="{{value}}" ng-selected="{{value == editCard.expYear}}">{{value}}</option>
												</select>
												<span>{{(editCard.expYear == null) ? getMsgs('yy') : editCard.expYear}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<span class="label">{{getMsgs('edit-card.txt2')}}</span>
								<div class="entry-value">{{editCard.holderName}}</div>
							</div>
							<div class="row">
								<div class="box-holder">
									<div>
										<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="updateCard(_form);">{{getMsgs('submit')}}</button>
									</div>
									<div>
										<button class="button cancel light" type="button" ng-click="cancelUpdateCard();">{{getMsgs('cancel')}}</button>
									</div>
								</div>
							</div>
							<div id="globalErrorField" class="row error-message"></div>
							<div class="row error-message taC">
								<span ng-if="checkError(_form, 'ccPass', 'required')">{{getMsgs('cvv')}}: {{getMsgs('error-mandatory')}} </span>
								<span ng-if="checkError(_form, 'ccPass', 'minlength')">{{getMsgs('cvv')}}: {{getMsgs('error-minimum-length', {length: 3})}} </span>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>