<div class="side-user-fb-friends">
	<div>
		<button class="button submit icon" ng-click="goSocial()">{{getMsgs('connect-friends')}}</button>
		<ul class="side-user-fb-friends-list" ng-if="myFacebookFriends.length > 0">
			<li ng-repeat="user in myFacebookFriends | limitTo: 3">
				<a ui-sref="ln.in.a.user.overview({userId:user.userId, ln:skinLanguage})">
					<img class="thumb" ng-src="{{user.avatar}}" alt="avatar" width="40" height="40">
					<div class="dIB">
						<span>
							{{user.firstName}}<br/>
							{{user.lastName}}
						</span><br/>
						<span class="additional-info" ng-if="false">Wathcing Hezi</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="taC mt10"><a class="side-user-fb-friends-link" href="#" ng-click="goSocial()">{{getMsgs('show-more')}}</a></div>