<ul class="first-deposit-header">
	<li class="first-deposit-tab" ng-class="{'current': depositTab == 1 }" ng-click="changeTab(1)">
		<span>{{getMsgs('deposit-by')}}</span>
		<span class=" ml5">
			<i class="cards"></i>
			<i class="cards mastercard"></i>
		</span>
	</li>
	<li class="first-deposit-tab" ng-class="{'current': depositTab == 2 }" ng-click="changeTab(2)">
		<span>{{getMsgs('other-funding-methods')}}</span>
	</li>
</ul>