<ul class="nav-tabs flex icons">
	<li ng-class="{ current: $state.includes('ln.in.a.personal.my-account.personal-details') }" ng-click="$state.go('ln.in.a.personal.my-account.personal-details', {ln: skinLanguage});">
		<div class="icon personal"><span>{{getMsgs('personal-details')}}</span></div>
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.personal.my-account.banking') }" ng-click="$state.go('ln.in.a.personal.my-account.banking', {ln: skinLanguage});">
		<div class="icon banking"><span>{{getMsgs('banking')}}</span></div>
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.personal.my-account.bonuses') }" ng-click="$state.go('ln.in.a.personal.my-account.bonuses', {ln: skinLanguage});">
		<div class="icon bonuses"><span>{{getMsgs('bonuses')}}</span></div>
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.personal.my-account.my-options') }" ng-click="$state.go('ln.in.a.personal.my-account.my-options.open-options', {ln: skinLanguage});">
		<div class="icon options"><span>{{getMsgs('my-options')}}</span></div>
	</li>
	<li ng-class="{ current: $state.includes('ln.in.a.personal.my-account.documents') }" 
		ng-click="$state.go('ln.in.a.personal.my-account.documents', {ln: skinLanguage});">
		<div class="icon documents"><span>{{getMsgs('documents')}}</span></div>
	</li>
</ul>