<div class="options-holder clear">
	<ul class="table ttUC">
		<li class="taC" ng-class="{ current: tab == 1 }" ng-init="tab = 1" ng-click="tab = 1">
			<span>{{getMsgs('open-options')}}</span>
		</li>
		<li class="taC" ng-class="{ current: tab == 2 }" ng-click="tab = 2">
			<span>{{getMsgs('settled-options')}}</span>
		</li>
	</ul>
	<div ng-show="tab == 1">
		<div ng-include="'html/templates/options-table.html'" ng-controller="tradingInvestmentsCtr" id="optionOptionsTab" ng-init="passParams({isSettled: false})"></div>
	</div>
	<div ng-show="tab == 2">
		<div ng-include="'html/templates/options-table.html'" ng-controller="tradingInvestmentsCtr" id="settledOptionsTab" ng-init="passParams({isSettled: true})"></div>
	</div>
	<a class="options-link" ng-if="tab == 1 && investmentsOpenCount > investmentsMaxShownCount" ui-sref="ln.in.a.personal.my-account.my-options.open-options({ln:skinLanguage})">{{getMsgs('see-all')}} &#187;</a>
	<a class="options-link" ng-if="tab == 2 && investmentsSettledCount > investmentsMaxShownCount" ui-sref="ln.in.a.personal.my-account.my-options.settled-options({ln:skinLanguage})">{{getMsgs('see-all')}} &#187;</a>
</div>