<section class="content">
	<div ng-include="'html/templates/my-account-tabs.html'"></div>
	<div class="content-inner">
		<section class="box" ng-controller="updateCopyopProfileAvatarCtr">
			<div ng-include="'html/templates/popUp-edit-avatar.html'" id="popUp-avatar" class="dN"></div>
			<div class="grid-side">
				<div class="row">
					<span class="label">{{getMsgs('personal-details.label')}}</span>
					<div class="avatar-holder small">
						<i class="icon middle edit-avatar-ico" onclick="openElement({id:'popUp-avatar'})"></i>
						<img class="thumb" ng-src="{{uploadedImage}}" width="52" height="52" alt="Avatar" onclick="openElement({id:'popUp-avatar'})"/>
						<div class="upload-proccess" ng-show="progress >= 0">
							<div style="width:{{progress}}%"></div>
						</div>
					</div>
				</div>
				<div class="row" ng-if="!copyopUser.copyopProfile.nicknameChanged">
					<label>
						<span class="label">{{getMsgs('nickname')}}</span>
						<input class="field" type="text" ng-model="copyopUser.copyopProfile.nickname" ng-click="changeNicknamePopup()"/>
					</label><br/>
					<div class="error-message icon nickname-error">{{getMsgs('nickname-message')}}</div>
				</div>
				<div class="row" ng-if="copyopUser.copyopProfile.nicknameChanged">
					<label>
						<span class="label">{{getMsgs('nickname')}}</span>
						<span>{{copyopUser.copyopProfile.nickname}}</span>
					</label>
				</div>
			</div>
		</section>
		<section class="box panel" ng-class="{ active: !showQuestionary }">
			<div ng-include="'html/templates/change-personal-info.html'"></div>
		</section>
		<section class="box panel">
			<div ng-include="'html/templates/change-password.html'"></div>
		</section>
		<section class="box panel questionnaire-box" ng-class="{ active: showQuestionary }" ng-show="showMandatoryQuestionnaire()">
			<div ng-include="'html/templates/quiestionaire-mandatory.html'"></div>
		</section>
		<section class="box panel questionnaire-box" ng-class="{active : copyopUser.userRegulation.firstTimeShowOptionalQuestionnaire}" ng-show="showOptionalQuestionnaire()">
			<div ng-include="'html/templates/quiestionaire-optional.html'"></div>
		</section>
		<section class="box panel questionnaire-box" ng-show="showSingleQuestionnaire()">
			<h2 class="heading-inner toggle" ng-click="stateMachine()">{{getMsgs('quiestionaire')}}</h2>
		</section>
	</div>
</section>