<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content popUp-change-nickname" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-box">
							<div class="popUp-header">{{getMsgs('popUp-change-nickname.header')}}</div>
							<div class="popUp-body">
								<div class="current-nickname"><span>{{getMsgs('popUp-change-nickname.txt1')}}</span> {{copyopUser.copyopProfile.nickname}}</div>
								<div class="change-nickname grid">
									<label>
										{{getMsgs('popUp-change-nickname.txt2')}}<br/>
										<input class="field mt5" type="text" ng-model="newNickname" placeholder="{{getMsgs('nickname')}}" 
											restrict-nickname required maxlength="11" autocomplete="off" />
									</label>
									<div class="row error-message" id="globalErrorFieldChangeNicknamePopup"></div>
									<div class="nickname-info icon big" ng-bind-html="getMsgs('popUp-change-nickname.txt3')"></div>
								</div>
							</div>
						</div>{{config.nickname}}
						<div class="popUp-footer clear">
							<button class="button cancel" ng-click="closeCopyOpPopup();">{{getMsgs('cancel')}}</button>
							<button class="button submit" ng-click="changeNickname(newNickname)">{{getMsgs('ok')}}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>