<div class="popUp-container shopping-bag-container">
	<div class="expiry-note-content">
		<i class="popUp-close icon small" ng-click="closePopUp()"></i>
		<div class="">
			<div class="expiry-note-header">{{timeClose}} {{getMsgs('expiry')}}:</div>
			<div class="expiry-note-body">
				<div class="scroll-wrapper" onmouseover="scrollerAdd(this, true)">
					<div class="scroll-content">
						<ul class="expiry-note-list">
							<li ng-repeat="row in shoppingBag">
								<a ui-sref="ln.in.a.asset.details({marketId:row.marketId, ln:skinLanguage})" ng-if="row.oppType == 1">
									<span class="expiry-note-info asset" title="{{row.marketName}}">{{row.marketName}}</span>
									<span class="expiry-note-info level">{{row.level}}</span>
								</a>
								<a ng-if="row.oppType != 1">
									<span class="expiry-note-info asset" title="{{row.marketName}}">{{row.marketName}}</span>
									<span class="expiry-note-info level">{{row.level}}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="amount">{{totalAmountDsp}}</div>
			</div>
			<div class="expiry-note-footer">
				<span>{{getMsgs('shopping-bag.txt')}}</span>
			</div>
		</div>
	</div>
</div>
