<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="small-popup-holder no-money" data-is-popup-holder>
						<span class="popUp-close icon" ng-click="closeCopyOpPopup()">x</span>
						<span ng-bind-html="getMsgs('CMS.tradeBox.text.insufficient_funds')"></span>
						<a ng-click="openCopyOpPopup({type: 'deposit'})" class="button arrow highlight mt10 ttUC">{{getMsgs('deposit')}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>