<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="popUp-content popUp-{{popUpType}}" data-is-popup-holder> <!-- popUp-watch, watch-settings, popUp-copy-->
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="popUp-box">
							<!-- Fully copied trader -->
							<div ng-if="popUpType == 'fullyCopyied'" class="popUp-header">{{getMsgs('fully-copied-trader.header')}}</div>
							<div ng-if="popUpType == 'fullyCopyied'" class="popUp-body" ng-bind-html="getMsgs('fully-copied-trader.body', {nickname: userInfo.name})"></div>

							<!-- PopUp Watch -->
							<div ng-if="popUpType == 'watch'" class="popUp-header">{{popUpHeader}}</div>
							<div ng-if="popUpType == 'watch'" class="popUp-body" ng-class="{ 'add-mask': config.command }">
								<ul>
									<li class="panel edit-copy-field" ng-if="userInfo.watching">
										<label>
											<input type="checkbox" name="myCheckbox" ng-model="config.command"/>
											<span class="custom-checkbox"></span>
											{{getMsgs('watch-settings.body')}}
										</label>
									</li>
									<li class="panel" ng-if="userInfo.watching">
										<div class="mask"></div>
										<div class="copy-field toggle table flex">
											<span class="cell">{{getMsgs('popUp-watch.body.short')}}</span>
											<span class="cell icon big">{{config.watchingPushNotificationObj[config.watchingPushNotification].valueDsp}}</span>
											<!-- angular radio inputs sucks with objects!-->
										</div>
										<div class="option-section panel-content">
											<div class="element">
												<label ng-repeat="opt in config.watchingPushNotificationObj">
													<input type="radio" ng-model="config.watchingPushNotification" ng-value="{{opt.index}}"/>
													<span class="radio-but"></span>
													{{opt.valueDsp}}
												</label>
											</div>
										</div>
									</li>
									<li class="panel" ng-if="!userInfo.watching">
										<div class="text-field">
											{{getMsgs('popUp-watch.body')}}
										</div>
									</li>
									<li class="panel" ng-if="!userInfo.watching">
										<div class="mask"></div>
										<div class="option-section">
											<div class="element">
												<label ng-repeat="opt in config.watchingPushNotificationObj">
													<input type="radio" ng-model="config.watchingPushNotification" ng-value="{{opt.index}}"/>
													<span class="radio-but"></span>
													{{opt.valueDsp}}
												</label>
											</div>
										</div>
									</li>
								</ul>
							</div>

							<!-- PopUp Copy -->
							<div ng-if="popUpType == 'copy'" class="popUp-header">
								<i class="icon-mid-m more-info" ng-click="openCopyOpPopup({type: 'walkthrough', caller: 'popup'})"></i>
								{{popUpHeader}}
							</div>
							<div ng-if="popUpType == 'copy'" class="popUp-body" ng-class="{'add-mask': config.command }">
								<ul>
									<div ng-if="userInfo.copying">
										<li class="panel edit-copy-field">
											<label>
												<input type="checkbox" ng-model="config.command" ng-disabled="config.disabled"/>
												<span class="custom-checkbox"></span>
												{{getMsgs('uncopy2')}}
											</label>
										</li>
									</div>
									<div id="popup-copy-ul">
										<li class="panel" id="popup-copy-amount">
											<div class="mask"></div>
											<div class="copy-field toggle">
												<span class="dIB">{{getMsgs('popUp-copy.l2')}}</span>
												<span class="icon big">{{config.amountDsp}}</span>
											</div>
											<div class="option-section change-amount-field panel-content step{{toolTipInfo.fullyCopyStep}}">
												<div class="change-amount-tooltip" ng-if="!toolTipInfo.hide">
													<div class="in" ng-bind-html="toolTipInfo.message"></div>
												</div>
												<div class="change-amount">
													<ul>
														<li ng-repeat="el in amoutList" ng-click="selectAmout(el.amount)">
															<i class="bounce-icon" ng-if="($index + 1)  == toolTipInfo.fullyCopyStep && el.amount != config.amount"></i>
															<div ng-class="{ checked: el.amount == config.amount }">
																<i class="erase-line"></i>
																<div>{{el.amountDsp}}</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</li>
										<li class="panel" id="popup-copy-how-many">
											<div class="mask"></div>
											<div class="copy-field toggle"><!--toggle-->
												<span class="dIB">{{getMsgs('popUp-copy.l1')}}</span>
												<span class="icon big">{{config.howManyDsp}}</span>
											</div>
											<div class="option-section panel-content">
												<div class="element">
													<label ng-class="{ disabled: config.safeModeOn }">
														<input type="radio" ng-model="config.howMany" value="0" ng-disabled="config.safeModeOn"/>
														<span class="radio-but" ng-class="{ disabled: config.safeModeOn }"></span>
														{{getMsgs('max')}}
													</label>
													<span class="safe-period-info" ng-if="config.safeModeOn">
														{{getMsgs('safe-period-info',{'safe-period': safeMod.period, 'safe-mode-max-trades': safeMod.maxTrades, 'minimum-copy-users': safeMod.minCopyUsers})}}
													</span>
												</div>
												<div class="element">
													<label>
														<input type="radio" ng-model="config.howMany" value="1"/>
														<span class="radio-but"></span>
														{{getMsgs('limit')}}
													</label>
													<span class="limit-range" style="z-index: {{config.howMany == 0 ? '-1' : '0'}};">
														<span class="limit-range-element minus" ng-click="changeCount(true)">&mdash;</span>
														<span class="limit-range-element plus" ng-click="changeCount(false)">+</span>
														<input type="text" ng-model="config.count" />
													</span>
												</div>
											</div>
										</li>
										<li class="panel" id="popup-copy-assets">
											<div class="mask"></div>
											<div class="copy-field toggle">
												<span class="dIB">
													{{getMsgs('popUp-copy.l3')}}
													<span class="assetListsInfo">
														<i ng-repeat="asset in config.assets">
															{{($index > 0) ? ',' : ''}}
															{{markets[asset].displayName}}
														</i>
													</span>
												</span>
												<span class="icon big">{{config.assetsDsp}}</span>
											</div>
											<div class="option-section panel-content">
												<div class="element">
													<label>
														<input type="radio" ng-model="config.assetsSelected" value="0"/>
														<span class="radio-but"></span>
														{{getMsgs('all')}}
													</label>
												</div>
												<div class="element specific-asset" ng-click="openAssetList()">
													<i class="specific-asset-arrow icon-mid-m"></i>
													<label>
														<input type="radio" ng-model="config.assetsSelected" value="1"/>
														<span class="radio-but"></span>
														{{getMsgs('specific')}}
													</label>
												</div>
											</div>
										</li>
									</div>
								</ul>
							</div>
						</div>

						<!-- PopUp Footer -->
						<div class="popUp-footer clear">
							<button class="button cancel" ng-click="closeCopyOpPopup();">{{getMsgs('cancel')}}</button>

							<!-- Fully copied trader-->
							<button ng-if="popUpType == 'fullyCopyied'" class="button submit" ng-class="{ loading: loading }" ng-click="closeCopyOpPopup({});openCopyOpPopup({destUserId: popupInfo.destUserId, type: 'watch'});" id="submitBtn">
								{{getMsgs('watch2')}}
							</button>
							
							<!-- PopUp Watch -->
							<button ng-if="popUpType == 'watch'" class="button submit" ng-class="{ loading: loading }" ng-click="action()" id="submitBtn">
								{{config.command ? "Unwatch" : userInfo.watching ? getMsgs('ok') : getMsgs('watch2')}}
							</button>

							<!-- PopUp Copy -->
							<button ng-if="popUpType == 'copy'" class="button submit" ng-class="{ edit: config.command || userInfo.copying, loading: loading }" ng-click="action()" id="submitBtn">
								{{config.command ? getMsgs('uncopy') : userInfo.copying ? getMsgs('ok') : ""}}
							</button>
						</div>
						<div class="bottom-section" ng-if="popUpType == 'copy' && !userInfo.copying">{{getMsgs('popUp-copy.bottom', {'oddsWin' : copyopUser.oddsWin*100, 'oddsLose' : (100 - copyopUser.oddsLose*100)})}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="dN" id="popUp-assets-list" ng-include="'html/templates/popUp-assets-list.html'"></div>