<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<div class="summary-content" data-is-popup-holder>
						<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
						<div class="summary-message-header">
							<div class="summary-message-heading" ng-bind-html="lastLoginSummary.header"></div>
							<div class="total-info flex">
								<div class="icon big icon-chart total" ng-class="{ 'icon-chart-win' : lastLoginSummary.total.classType, 'icon-chart-no': lastLoginSummary.total.classType == 2}">{{getMsgs('total')}}:</div>
								<div class="taR">
									<span class="total-amount">{{lastLoginSummary.total.profit}}</span><br/>
									<span class="icon small event" ng-class="{ lost: !lastLoginSummary.total.classType }">{{lastLoginSummary.total.profitTxt}}</span>
								</div>
							</div>
						</div>
						<div class="summary-message-body">
							<ul class="summary-message-list">
								<li ng-repeat="trader in lastLoginSummary.traders">
									<div>
										<a ui-sref="ln.in.a.user.overview({userId:trader.userId, ln:skinLanguage})">
											<img class="user-image" ng-src="{{trader.avatar}}" width="50" height="50"/>
											<span class="user-name">{{trader.nickname}}</span>
										</a><br/>
										<span class="options-info" ng-bind-html="getMsgs('popUp-summary-message.txt3', {options: trader.investmentsCount})"></span>
									</div>
									<div class="taR">
										<button class="button highlight small" ng-if="trader.showIncreaseAmount" ng-click="openCopyOpPopup({destUserId: trader.userId, type: 'copy', obj: trader})">
											{{getMsgs('increase-amount')}}
										</button>
										<div class="dIB">
											<span class="total-amount">{{trader.profit}}</span><br/>
											<span class="icon small event" ng-class="{ lost: !trader.classType }">{{trader.profitTxt}}</span>
										</div>
									</div>
								</li>
							</ul>
							<div class="summary-message-footer" ng-if="lastLoginSummary.others">
								<div class="icon big icon-chart" ng-class="{ 'icon-chart-win' : lastLoginSummary.others.classType, 'icon-chart-no': lastLoginSummary.total.classType == 2 }">
									<div class="dIB vaM">
										<span>{{getMsgs('others')}}</span><br/>
										<span ng-bind-html="getMsgs('popUp-summary-message.txt3', {options: lastLoginSummary.others.investmentsCount})"></span>
									</div>
								</div>
								<div class="taR">
									<span class="total-amount">{{lastLoginSummary.others.profit}}</span><br/>
									<span class="icon small event" ng-class="{ lost: !lastLoginSummary.others.classType }">{{lastLoginSummary.others.profitTxt}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>