<div class="popUp-container" ng-keydown="closeCopyOpPopup({'event' : $event})" ng-mousedown="closeCopyOpPopup({'event' : $event})" tabindex="0">
	<div class="popUp-wrapper1 scroll-wrapper" onmouseover="scrollerAdd(this)">
		<div class="popUp-wrapper2 scroll-content">
			<div class="popUp-wrapper3">
				<div class="popUp-wrapper4">
					<form name="_affiliates_form" id="affiliates_form" novalidate>
						<div class="popUp-content popUp-affiliates" data-is-popup-holder>
							<i class="popUp-close icon" ng-click="closeCopyOpPopup()"></i>
							<div class="popUp-box">
								<div class="popUp-header">{{getMsgs('popUp-affiliates.header')}}</div>
								<div class="popUp-body affiliates-body">
									<div class="affiliates-info"><span>{{getMsgs('popUp-affiliates.txt1')}}</span></div>
									<div class="grid">
										<div class="row">
											<div class="names-holder">
												<div class="first-name">
													<input class="field" type="text" placeholder="{{getMsgs('first_name')}}" ng-model="config.firstName" id="firstName" name="firstName" 
									autofocus="autofocus" autocomplete="off" restrict-letters/>
												</div>
												<div class="last-name">
													<input class="field" type="text" placeholder="{{getMsgs('last_name')}}" ng-model="config.lastName" id="lastName" name="lastName" 
									autocomplete="off" restrict-letters/>
												</div>
											</div>
										</div>
										<div class="row">
												<input class="field" type="email" placeholder="{{getMsgs('email2')}}" ng-model="config.email" id="email" name="email"
													required autocomplete="off" valid-email/>
										</div>
										<div class="row">
											<div class="phone-holder">
												<div class="prefix-box select-wrapper">
													<select ng-model="config.countryId" id="countryId"  name="countryId" 
														ng-options="country.displayName for country in countriesList">
													</select>
													<div class="dB clear">
														<span class="fL">{{config.countryId.A2}}</span>
														<span class="fR">+{{config.countryId.phoneCode}}</span>
													</div>
												</div>
												<div class="phone-box">
													<input class="field" type="text" placeholder="{{getMsgs('phone')}}" ng-model="config.mobilePhone" id="mobilePhone" name="mobilePhone" 
														autocomplete="off" restrict-digits />
												</div>
											</div>
										</div>
										<div class="row">
												<input class="field" type="text" placeholder="{{getMsgs('popUp-affiliates.skype')}}" ng-model="config.skype" id="skype" name="skype" 
													autocomplete="off"/>
										</div>
										<div class="row error-message" id="globalErrorField"></div>
										<div class="row error-message">
											<span ng-if="checkError(_affiliates_form, 'email', 'required')">{{getMsgs('email2')}}: {{getMsgs('error-mandatory')}} </span>
											<span ng-if="checkError(_affiliates_form, 'email', 'validEmail')">{{getMsgs('error-invalid-email')}} </span>
										</div>
									</div>
								</div>
							</div>{{config.nickname}}
							<div class="popUp-footer clear">
								<button class="button cancel" ng-click="closeCopyOpPopup();">{{getMsgs('cancel')}}</button>
								<button type="submit" class="button submit" ng-click="sendAffiliatesData(_affiliates_form);">{{getMsgs('send')}}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>