<form method="post" ng-controller="userMandatoryQuestionnaireCtr">
	<h2 class="heading-inner toggle" ng-click="loadMandatoryQuestionaire()">{{getMsgs('quiestionaire')}}</h2>
	<div class="panel-content" ng-if="hasError">{{errorMsg}}</div>
	<div class="panel-content" ng-if="!hasError">
		<div class="row">
			<h3>{{getMsgs('CMS.reg_man_quest.text.body.heading')}}</h3>
		</div>
		<div class="row">
			<p>{{getMsgs('CMS.reg_man_quest.text.question.business_rel_purpose')}}</p>
			<div>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[0].answerId" value="{{::userMandatoryQuestionnaire.questions[0].answers[0].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.yes')}}
				</label>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[0].answerId" value="{{::userMandatoryQuestionnaire.questions[0].answers[1].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.no')}}
				</label>
			</div>
		</div>
		<div class="row">
			<p>{{getMsgs('CMS.reg_man_quest.text.question.employed')}}</p>
			<div>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[1].answerId" value="{{::userMandatoryQuestionnaire.questions[1].answers[0].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.yes')}}
				</label>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[1].answerId" value="{{::userMandatoryQuestionnaire.questions[1].answers[1].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.no')}}
				</label>
			</div>
		</div>
		<div class="row">
			<p>{{getMsgs('CMS.reg_man_quest.text.question.annual_income')}}</p>
			<div>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[2].answerId" value="{{::userMandatoryQuestionnaire.questions[2].answers[0].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.yes')}}
				</label>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[2].answerId" value="{{::userMandatoryQuestionnaire.questions[2].answers[1].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.no')}}
				</label>
			</div>
		</div>
		<div class="row">
			<p>{{getMsgs('CMS.reg_man_quest.text.question.net_worth')}}</p>
			<div>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[3].answerId" value="{{::userMandatoryQuestionnaire.questions[3].answers[0].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.yes')}}
				</label>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[3].answerId" value="{{::userMandatoryQuestionnaire.questions[3].answers[1].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.no')}}
				</label>
			</div>
		</div>
		<div class="row" style="display:none;">
			<p>{{getMsgs('CMS.reg_man_quest.text.question.funds_orgigin')}}</p>
			<div>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[4].answerId" value="{{::userMandatoryQuestionnaire.questions[4].answers[0].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.yes')}}
				</label>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[4].answerId" value="{{::userMandatoryQuestionnaire.questions[4].answers[1].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.no')}}
				</label>
			</div>
		</div>
		<div class="row">
			<p>{{getMsgs('CMS.reg_man_quest.text.question.pep')}}</p>
			<div>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[5].answerId" value="{{::userMandatoryQuestionnaire.questions[5].answers[0].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.yes')}}
				</label>
				<label>
					<input type="radio" ng-model="userMandatoryQuestionnaire.userAnswers[5].answerId" value="{{::userMandatoryQuestionnaire.questions[5].answers[1].id}}"/>
					<span class="radio-button"></span>
					{{getMsgs('CMS.reg_opt_quest.text.answer.no')}}
				</label>
			</div>
		</div>
		<div class="row">
			<!-- <p><input type="checkbox" ng-model="userMandatoryQuestionnaire.userAnswers[6].answerIdDsp" /> {{getMsgs('CMS.reg_man_quest.text.question.trade_wish')}}</p> -->
			<p>
			<label id="landLinePhone-container">
				<input type="checkbox" ng-model="userMandatoryQuestionnaire.userAnswers[6].answerIdDsp" />
				<span class="checkbox small-check"></span>
				{{getMsgs('CMS.reg_man_quest.text.question.trade_wish')}}
			</label>
			</p>
		</div>
		<div class="row taC">
			<button class="button submit" type="submit" ng-click="userMandatoryQuestionnaire.submitMQuestionnaire()">
				{{getMsgs('submit')}}
			</button>
		</div>
	</div>
</form>