<header class="heading-page">
	<h1 class="heading my-settings icon">{{getMsgs('settings.title')}}</h1>
</header>
<div class="content-inner my-setting" loading>
	<p ng-bind-html="getMsgs('settings.text1')"></p>
	<div class="mt20">
		<span class="fw500">{{getMsgs('settings.text2')}}</span>
		<div class="my-setting-slider" ng-class="{ off: !copyopUser.user.showCancelInvestment }">
			<span class="text">{{getMsgs('on')}}</span>
			<span class="slider-holder" ng-click="set()">
				<i class="slider"></i>
			</span>
			<span class="text">{{getMsgs('off')}}</span>
		</div>
	</div>
</div>
