<li class="user-menu-hit" id="{{idPrefix}}user-stat-hit">
	<a ui-sref="ln.in.a.user.stats({userId:cUser.userId, ln:skinLanguage})">
		<span>{{getMsgs('hit-rate')}}</span>
		<span>{{cUser.hitRate}}%</span>
	</a>
</li>
<div id="{{idPrefix}}user-stat-copy-watch">
	<li>
		<a ui-sref="ln.in.a.user.connections.my-copiers({userId:cUser.userId, ln:skinLanguage})">
			<span>{{getMsgs('copiers')}}</span>
			<span>{{cUser.copiersCount}}/{{maxCopying}}</span>
		</a>
	</li>
	<li>
		<a ui-sref="ln.in.a.user.connections.my-watchers({userId:cUser.userId, ln:skinLanguage})">
			<span class="">{{getMsgs('watchers')}}</span>
			<span class="">{{cUser.watchersCount}}</span>
		</a>
	</li>
</div>