<div ng-controller="WithdrawWireCtrl">
	<div class="row" ng-show="isWithdrawalWeekendsAvailable">
		<div ng-include="'html/templates/withdraw-methods-tabs.html'"></div>
		<form name="_form" novalidate>
			<div class="compact-box">
				<div class="row">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="beneficiaryName" placeholder="{{getMsgs('bank-wire.txt1')}}" id="beneficiaryName" name="beneficiaryName" 
							required/>
					</div>
				</div>
				<div class="row" ng-show="withdrawMethod == 'bankWire' || withdrawMethod == 'eps'">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="swift" placeholder="{{getMsgs('bank-wire.txt5')}}" id="swift" name="swift" 
							maxlength="30"/>
					</div>
				</div>
				<div class="row" ng-show="withdrawMethod == 'bankWire' || withdrawMethod == 'eps'">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="iban" placeholder="{{getMsgs('bank-wire.txt4')}}" id="iban" name="iban" 
							maxlength="30"/>
					</div>
				</div>
				<div class="row">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="accountNum" placeholder="{{getMsgs('bank-wire.txt3')}}" id="accountNum" name="accountNum" 
							restrict-digits required/>
					</div>
				</div>
				<div class="row">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="bankNameTxt" placeholder="{{getMsgs('bank-wire.txt6')}}" id="bankNameTxt" name="bankNameTxt" 
							required maxlength="30"/>
					</div>
				</div>
				<div class="row" ng-show="copyopUser.user.locale != 'de' || withdrawMethod != 'bankWire'">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="branchName" placeholder="{{getMsgs('branch_number')}}" id="branchName" name="branchName" 
							maxlength="30" restrict-digits/>
					</div>
				</div>
				<div class="row" ng-show="copyopUser.user.locale != 'de' || withdrawMethod != 'bankWire'">
					<div class="currency-holder">
						<input class="field" type="text" ng-model="branchAddress" placeholder="{{getMsgs('branch_address')}}" id="branchAddress" name="branchAddress" 
							maxlength="30"/>
					</div>
				</div>
				<div class="row">
					<div class="currency-holder">
						<div class="currency-amount">
							<input class="field" type="text" ng-model="withdrawAmount" placeholder="{{getMsgs('withdraw-amount')}}" id="withdrawAmount" name="withdrawAmount" 
								restrict-float required/>
						</div>
						<div class="currency-box">
							<span class="currency">{{copyopUser.user.currency.symbol}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<button class="button submit" ng-class="{ loading: loading }" type="submit" ng-click="showWithdrawSurvey(_form)">{{getMsgs('submit')}}</button>
				</div>
				<div class="row error-message taC">
					<span ng-if="checkError(_form, 'beneficiaryName', 'required')">{{getMsgs('bank-wire.txt1')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'swift', 'required')">{{getMsgs('bank-wire.txt5')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'iban', 'required')">{{getMsgs('bank-wire.txt4')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'accountNum', 'required')">{{getMsgs('bank-wire.txt3')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'bankNameTxt', 'required')">{{getMsgs('bank-wire.txt6')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'branchName', 'required') && copyopUser.user.locale != 'de'">{{getMsgs('branch_number')}}: {{getMsgs('error-mandatory')}} </span>
					<span ng-if="checkError(_form, 'branchAddress', 'required') && copyopUser.user.locale != 'de'">{{getMsgs('branch_address')}}: {{getMsgs('error-mandatory')}} </span>
				
					<span ng-if="checkError(_form, 'amount', 'required')">{{getMsgs('withdraw-amount')}}: {{getMsgs('error-mandatory')}} </span>
				</div>
				<div class="row error-message taC" id="globalErrorField_withrow"></div>
			</div>
		</form>
	</div>
</div>