<div ng-controller="WritersCtr" id="tab-content">
	<h1><span>{{getMsgs('writers')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box writers-screen" ng-if="!action">
		<div class="box-header"><h2>{{getMsgs('writers-list')}}</h2></div>
		<div class="box-sub-header">
			<div class="table">
				<div class="table-cell">
					<label>
						<span>{{getMsgs('active')}}?</span>
						<select ng-model="filter.isActiveStatus" ng-options="isActiveStatus.name for isActiveStatus in filter.isActive"></select>
					</label>
					<label>
						<span>{{getMsgs('permissions')}}</span>
						<span><multiselect model="filter.role" /></span>
					</label>
					<label>
						<span>{{getMsgs('department')}}</span>
						<span><multiselect model="filter.department" /></span>
					</label>
					<label>
						<span>{{getMsgs('site')}}</span>
						<span><multiselect model="filter.site" /></span>
					</label>
					<label>
						<span>{{getMsgs('attributes')}}</span>
						<span><multiselect model="filter.skins" /></span>
					</label>
					<label>
						<span>{{getMsgs('name')}}</span>
						<input ng-model="filter.freeTextFilter" type="text"/>
					</label>
				</div>
				<div class="table-cell">
					<button class="button blue" ng-click="getAll()">{{getMsgs('search')}}</button>
				</div>
			</div>
		</div>
		<div class="box-sub-header">
			<button type="button" class="button grey" ng-click="$state.go('ln.admin.writers.add', {ln: $state.params.ln});" ng-disabled="!permissions.get('writers_addWriter')">
				<i class="fa fa-plus add-icon" aria-hidden="true"></i>
				{{getMsgs('new-writer')}}
			</button>
		</div>
		<div class="box-body" ng-if="writersList">
			<table class="pretty-table">
				<thead>
					<tr>
						<th width="75px">{{getMsgs('id')}}</th>
						<th>{{getMsgs('writer')}}</th>
						<th>{{getMsgs('first-name')}}</th>
						<th>{{getMsgs('last-name')}}</th>
						<th>{{getMsgs('department')}}</th>
						<th>{{getMsgs('group')}}</th>
						<th>{{getMsgs('site')}}</th>
						<th>{{getMsgs('attributions')}}</th>
						<th>{{getMsgs('email')}}</th>
						<th>{{getMsgs('mobile')}}</th>
						<th>{{getMsgs('active')}}</th>
						<th>{{getMsgs('nickname-first')}}</th>
						<th>{{getMsgs('nickname-last')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="writer in writersList">
						<td>
							<a ng-class="{'edit-link-disabled' : !permissions.get('writers_editWriter')}" ng-click="permissions.get('writers_editWriter') && $state.go('ln.admin.writers.edit', {ln: $state.params.ln, writerId: writer.id});">
								<i class="fa fa-pencil edit-icon pr5" aria-hidden="true"></i>
								{{writer.id}}
							</a>
						</td>
						<td>{{writer.userName}}</td>
						<td>{{writer.firstName}}</td>
						<td>{{writer.lastName}}</td>
						<td>{{writer.departmentName}}</td>
						<td>
							<span ng-if="writer.roleId == 0"></span>
							<span ng-if="writer.roleId > 0">{{filter.role.getElNameById(writer.roleId)}}</span>
						</td>
						<td>
							{{filter.site.getElNameById(writer.site)}}
						</td>
						<td>
							{{parseSkins(writer.skins)}}
						</td>
						<td>{{writer.email}}</td>
						<td>{{writer.mobilePhone}}</td>
						<td>
							{{getFilterElById(filter.isActive, writer.isActive).name}}
						</td>
						<td>{{writer.nickNameFirst}}</td>
						<td>{{writer.nickNameLast}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer" ng-if="writersList">
			<pagination model="pagination" />
		</div>
	</div>
	<div class="box edit-writer-screen" ng-if="action">
		<div class="box-header">
			<h2 ng-if="action == 'add'">{{getMsgs('add-writer')}}</h2>
			<h2 ng-if="action == 'edit'">{{getMsgs('edit-writer')}}</h2>
		</div>
		<form name="_form" novalidate>
			<div class="box-body" >
				<div class="table">
					<div class="table-cell">
						<div class="row" ng-if="action != 'add'">
							<label>
								<span>{{getMsgs('id')}}</span>
								<input ng-model="selectedWriter.id" type="text" ng-disabled="true"/>
							</label>
						</div>
						<div class="row" ng-if="action != 'add'">
							<label>
								<span>{{getMsgs('username')}}</span>
								<input ng-model="selectedWriter.userName" type="text" ng-disabled="true" />
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('first-name')}}</span>
								<input ng-model="selectedWriter.firstName" type="text" autofocus="autofocus" required restrict-letters/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('last-name')}}</span>
								<input ng-model="selectedWriter.lastName" type="text" required restrict-letters/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('email')}}</span>
								<input ng-model="selectedWriter.email" type="text" required valid-email/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('mobile')}}</span>
								<input ng-model="selectedWriter.mobilePhone" type="text" restrict-digits/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('nickname-first')}}</span>
								<input ng-model="selectedWriter.nickNameFirst" type="text" restrict-letters/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('nickname-last')}}</span>
								<input ng-model="selectedWriter.nickNameLast" type="text" restrict-letters/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('employee-id')}}</span>
								<input ng-model="selectedWriter.employeeId" type="text" restrict-digits/>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('department')}}</span>
								<select ng-model="selectedWriter.filter.department" ng-options="department.name for department in selectedWriter.filter.departments" required></select>
							</label>
						</div>
						<div class="row" ng-if="selectedWriter.filter.department.id == DEPARTMENT_RETENTION">
							<label>
								<span>{{getMsgs('sales-type')}}</span>
								<select ng-model="selectedWriter.filter.salesType" ng-options="salesType.name for salesType in selectedWriter.filter.salesTypeFilter"></select>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('permissions-group')}}</span>
								<select ng-model="selectedWriter.filter.role" ng-options="role.name for role in selectedWriter.filter.roles"></select>
							</label>
						</div>
						<div class="row">
							<label>
								<span>{{getMsgs('site')}}</span>
								<select ng-model="selectedWriter.filter.site" ng-options="site.name for site in selectedWriter.filter.sites" required></select>
							</label>
						</div>
						<div class="row" ng-if="action != 'add'">
							<label>
								<span>{{getMsgs('active')}}?</span>
								<select ng-model="selectedWriter.filter.isActive" ng-options="isActiveStatus.name for isActiveStatus in selectedWriter.filter.isActiveFilter"></select>
							</label>
						</div>
					</div>
					<div class="table-cell">
						<div class="row">

								<label><span>{{getMsgs('attributes')}}</span></label>
								<div ng-if="selectedWriter.filter.skins.root" class="checkbox-tree disable-text-selection" ui-tree data-drag-enabled="false">
									<ol class="tree-root" ui-tree-nodes="" ng-model="selectedWriter.filter.skins.root" id="tree-root">
										<li class="node-group" ng-repeat="node in selectedWriter.filter.skins.root" ui-tree-node ng-include="'html/templates/components/checkbox-tree.html'"></li>
									</ol>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="table">
					<div class="table-cell">
						<button type="button" class="button red" ng-click="$state.go('ln.admin.writers', {ln: $state.params.ln});">	{{getMsgs('cancel')}}
						</button>
					</div>
					<div class="table-cell">
						<button type="submit" class="button blue" ng-click="saveWriter(_form);">{{getMsgs('save')}}</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>