@charset "utf-8";
/* CSS Document */
body {margin: 0; padding: 0; background-color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 15px; color: #000000; background: url(../images/globe.jpg) center top fixed no-repeat #000000;}
p, li {line-height: 28px;}
#header {width: 100%; height: 53px; padding: 10px 0; background-color: #01243b; border-bottom: 1px solid #2e4b65;}
#content {width: 800px; margin: 0 auto; padding: 15px 40px; background-color: #ffffff;}
#top-section {width: 880px; margin-left: -40px; background: url(../images/relaxed-man.jpg) no-repeat scroll 0 0; padding-bottom: 40px; height: 310px;}
.heading {width: 800px; height: 129px; margin: 0 0 0 -100px; background: url(../images/heading-bg.png) no-repeat 0 0 scroll transparent; padding: 0 100px 26px;}
.heading-2 {width: 1000px; height: 129px; margin: 0 0 0 -100px; background: url(../images/heading-bg-1.png) no-repeat 0 0 scroll transparent;}
.textheading {height: 129px;}
#heading-1 {background: url(../images/heading-1.png) no-repeat center center;}
#heading-2 {background: url(../images/heading-2.png) no-repeat center center;}
#heading-3 {background: url(../images/heading-3.png) no-repeat center center;}
#heading-4 {background: url(../images/heading-4.png) no-repeat center center;}
#heading-5 {background: url(../images/heading-5.png) no-repeat center center;}
#heading-6 {background: url(../images/heading-6.png) no-repeat center center;}
#heading-7 {background: url(../images/heading-7.png) no-repeat center center;}
.heading h1, .heading-2 h1 {margin-top: 0;}
.tac, h1, h2 {text-align: center;}
.fl {float: left;}
.fr {float: right;}
.thumb {border-radius: 110px; padding: 5px; background-color: #ffffff; 
box-shadow: 1px 1px 3px #888888;}
.left {margin-right: 25px;}
.right {margin-left: 25px;}
.button a {display:block; width:364px; height:120px; background: url(../images/button_en.png) no-repeat; margin: 28px auto 0;}
.button a:hover { background-position:0 -120px;}
.tick li {background: url(../images/tick.png) no-repeat scroll 0 0; padding-left: 30px; list-style-type: none; margin-bottom: 15px;}
.doodle li {background: url(../images/arrow.png) no-repeat scroll 0 0; padding-left: 40px; /*list-style-type: none;*/ margin-bottom: 15px;}
ul {margin-bottom: 25px;}

h1 {font-family: Impact, Charcoal, sans-serif; text-transform: uppercase; font-size: 42px; text-shadow: 1px 1px 1px #FFFFFF;}
h2 {font-size: 27px; font-weight: bold;}
h3 {font-size: 24px; font-weight: normal;}
.red {color: #ba0000;}
.blue {color: #06F;}
.brown {color: #ad2500;}
.green {color: #008a00;}
.centered {display: block; margin: 0 auto;}
.big-left-arrow {width: 188px; height: 162px; background: url(../images/big-left-arrow.png) no-repeat scroll 0 0; margin: 0 0 0 -90px;}
.big-right-arrow {width: 188px; height: 162px; background: url(../images/big-right-arrow.png) no-repeat scroll 0 0; margin: 0 -95px 0 0;}
.testimonial-box, .highlight-box {width: 700px; margin: 25px auto; background-color: #f1f1f1; border: 1px solid #dcdcdc; padding: 15px 25px;}
.testimonial-box p, .testimonial-box h2 {font-family: Georgia, "Times New Roman", Times, serif;}
.testimonial-box p {font-style: italic;}

ul {list-style-type: none; padding-left: 25px;}
.flags li {padding-left: 45px; margin-bottom: 15px;}
.denmark {background: url(../images/flag-denmark.gif) no-repeat scroll 0 20%;}
.swiss {background: url(../images/flag-swiss.gif) no-repeat scroll 0 20%;}
.france {background: url(../images/flag-france.gif) no-repeat scroll 0 20%;}
.belgium {background: url(../images/flag-belgium.gif) no-repeat scroll 0 20%;}
.germany {background: url(../images/flag-germany.gif) no-repeat scroll 0 20%;}
.safrica {background: url(../images/flag-safrica.gif) no-repeat scroll 0 20%;}

.numbers li {padding-left: 55px; margin-bottom: 15px;}
.one {background: url(../images/1.jpg) no-repeat scroll 0 0;}
.two {background: url(../images/2.jpg) no-repeat scroll 0 0;}
.three {background: url(../images/3.jpg) no-repeat scroll 0 0;}
.four {background: url(../images/4.jpg) no-repeat scroll 0 0;}
.five {background: url(../images/5.jpg) no-repeat scroll 0 0;}
.six {background: url(../images/6.jpg) no-repeat scroll 0 0;}
.seven {background: url(../images/7.jpg) no-repeat scroll 0 0;}
.eight {background: url(../images/8.jpg) no-repeat scroll 0 0;}
.nine {background: url(../images/9.jpg) no-repeat scroll 0 0;}

#TR #heading-1 {background-image: url(../images/heading-1_tr.png);}
#TR #heading-2 {background-image: url(../images/heading-2_tr.png);}
#TR #heading-3 {background-image: url(../images/heading-3_tr.png);}
#TR #heading-4 {background-image: url(../images/heading-4_tr.png);}
#TR #heading-5 {background-image: url(../images/heading-5_tr.png);}
#TR #heading-6 {background-image: url(../images/heading-6_tr.png);}
#TR #heading-7 {background-image: url(../images/heading-7_tr.png);}
#TR #top-section h2 {font-size:22px;}
#TR .button a {background-image:url(../images/button-yellow_tr.png);}
#TR .tick li {margin-bottom: 10px;}


#DE #heading-1 {background-image: url(../images/heading-1_de.png);}
#DE #heading-2 {background-image: url(../images/heading-2_de.png);}
#DE #heading-3 {background-image: url(../images/heading-3_de.png);}
#DE #heading-4 {background-image: url(../images/heading-4_de.png);}
#DE #heading-5 {background-image: url(../images/heading-5_de.png);}
#DE #heading-6 {background-image: url(../images/heading-6_de.png);}
#DE #heading-7 {background-image: url(../images/heading-7_de.png);}
#DE #top-section h2 {font-size:22px;}
#DE .button a {background-image:url(../images/button-yellow_de.png);}
#DE .tick li {margin-bottom: 0px;}

#ES #heading-1 {background-image: url(../images/heading-1_es.png);}
#ES #heading-2 {background-image: url(../images/heading-2_es.png);}
#ES #heading-3 {background-image: url(../images/heading-3_es.png);}
#ES #heading-4 {background-image: url(../images/heading-4_es.png);}
#ES #heading-5 {background-image: url(../images/heading-5_es.png);}
#ES #heading-6 {background-image: url(../images/heading-6_es.png);}
#ES #heading-7 {background-image: url(../images/heading-7_es.png);}
#ES #top-section h2 {font-size:22px;}
#ES .button a {background-image:url(../images/button-yellow_es.png);}
#ES .tick li {margin-bottom: 0px;}