<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/templates/template_general.xhtml">
		<ui:define name="content">
			<SCRIPT LANGUAGE="JavaScript" >		
				function activateSearchUser(id) {
				  	if(id=="changedUserDetailsForm:email") {
				  		document.getElementById("changedUserDetailsForm:userName").value = "";
				  		document.getElementById("changedUserDetailsForm:contactId").value = "";
				  		document.getElementById("changedUserDetailsForm:userId").value = "";
				  	}
				  	if(id=="changedUserDetailsForm:contactId") {
				  		document.getElementById("changedUserDetailsForm:userName").value = "";
				  		document.getElementById("changedUserDetailsForm:email").value = "";
				  		document.getElementById("changedUserDetailsForm:userId").value = "";
				  	}
				  	if(id=="changedUserDetailsForm:userName") {
				  		document.getElementById("changedUserDetailsForm:contactId").value = "";
				  		document.getElementById("changedUserDetailsForm:email").value = "";
				  		document.getElementById("changedUserDetailsForm:userId").value = "";
				  	}
				  	if(id=="changedUserDetailsForm:userId") {
				  		document.getElementById("changedUserDetailsForm:contactId").value = "";
				  		document.getElementById("changedUserDetailsForm:email").value = "";
				  		document.getElementById("changedUserDetailsForm:userName").value = "";
				  	}
				}
		  	</SCRIPT>
			<t:saveState value="#{changedUserDetailsForm}" />
			<h:form id="changedUserDetailsForm">
				<h:panelGrid border="0" columns="15">
					<h:outputLabel for="from" value="#{msgs['changed.user.details.from']}"/>
					<h:panelGrid border="0" columns="3">
						<h:inputText styleClass="input_text" id="from" value="#{changedUserDetailsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['changedUserDetailsForm'].elements['changedUserDetailsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
				    	<A HREF="#" onClick="cal.select(document.forms['changedUserDetailsForm'].elements['changedUserDetailsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
			        <h:outputLabel for="to" value="#{msgs['changed.user.details.to']}"/>
					<h:panelGrid border="0" columns="3">
		  					<h:inputText styleClass="input_text" id="to" value="#{changedUserDetailsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['changedUserDetailsForm'].elements['changedUserDetailsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
		    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						</h:inputText>
						<A HREF="#" onClick="cal.select(document.forms['changedUserDetailsForm'].elements['changedUserDetailsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
							<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
						</A>
						<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
					<t:outputLabel for="repId" value="#{msgs['changed.user.details.writer']} " />
					<h:selectManyListbox id="repId" value="#{changedUserDetailsForm.writersId}" style="height:100px">
					    <f:selectItems value="#{writer.allWriters}" />
					</h:selectManyListbox>
					<t:outputLabel for="typeId" value="#{msgs['changed.user.details.field.changed']} " />
					<h:selectManyListbox id="typeId" value="#{changedUserDetailsForm.typesId}" style="height:100px">
					    <f:selectItem id="all" itemLabel="#{msgs['changed.user.details.all']}" itemValue="0"/>
					    <f:selectItems value="#{writer.usersDetailsHistoryTypesSI}" />
					</h:selectManyListbox>
				</h:panelGrid>
				<h:panelGrid border="0" columns="2">
					<h:outputLabel for="userName" value="#{msgs['changed.user.details.username']}"/>
		   			<t:inputText id="userName" size="20" styleClass="input_text" value="#{changedUserDetailsForm.userName}" onkeydown="activateSearchUser(id);"/>
		   			<h:outputLabel for="userId" value="#{msgs['changed.user.details.user.id']}"/>
		   			<t:inputText id="userId" size="20" styleClass="input_text" value="#{changedUserDetailsForm.userId}" onkeydown="activateSearchUser(id);"/>
		   			<h:outputLabel for="email" value="#{msgs['changed.user.details.email']}"/>
		   			<t:inputText id="email" size="20" styleClass="input_text" value="#{changedUserDetailsForm.email}" onkeydown="activateSearchUser(id);"/>
					<h:outputLabel for="contactId" value="#{msgs['changed.user.details.contact.id']}"/>
		   			<t:inputText id="contactId" size="20" styleClass="input_text" value="#{changedUserDetailsForm.contactId}" onkeydown="activateSearchUser(id);"/>	
		   			<h:outputLabel for="exludeTesters" value="#{msgs['pendingdocuments.exclude.testers']}"/>
					<t:selectBooleanCheckbox disabled="false" id="exludeTesters" value="#{changedUserDetailsForm.exludeTesters}" />
				</h:panelGrid>
	   			<h:panelGrid border="0" columns="2">
					<t:commandLink id="searchBtn" action="#{changedUserDetailsForm.updateList}">
						<h:outputText value="#{msgs['button.search']}" />
					</t:commandLink>
				</h:panelGrid>
				<br/>
				<h:panelGrid columns="2">
					<h:outputLabel for="rowsNum" value="#{msgs['population.entry.rows.number']}"/>
		   			<h:outputLabel immediate="true" id="rowsNum" value="#{changedUserDetailsForm.listSize} "/>
				</h:panelGrid>
				<h:panelGrid border="0" columns="1">
		  		<t:commandLink action="#{changedUserDetailsForm.exportReviewResultToMail}">
		       		<h:outputText value="#{msgs['changed.user.details.export.excel']}" />
		  		</t:commandLink>
			</h:panelGrid>
			</h:form>
		</ui:define>
	</ui:composition>
</html>