<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goControl}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="0">

	 <t:panelTab id="adminissues" label="#{msgs['menu.sales.support']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/control/salesSupport.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="adminchargebacks" label="#{msgs['menu.traders']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/control/traders.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab rendered="true" id="pendingwithdraws" label="#{msgs['menu.accounting']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/control/accounting.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="admininvestments" label="#{msgs['menu.general']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/control/general.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

</t:panelTabbedPane>

</ui:define>
</ui:composition>

</html>