<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<div id="page">
    	<div id="header">
        <div class="info">
            <div class="number">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="allowFullScreen" value="false" />
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="transparent" />
					<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
				</object>
    		</div>
        </div>
        	<div class="logo"></div>
        </div>
        <div id="banner1" style="background:url(#{applicationData.imagesPath}/landing_Contactus/#{type}Short_fr.jpg) no-repeat;height:#{bannerHeight}px;">
        	<h:panelGroup rendered="#{type == 'girl'}">
	         	<object id="myId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="370" height="210" style="position: absolute;top: 36px; left:32px;">
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_Light_Anim.swf" />
	                <param name="wmode" value="transparent" />
	        		<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/ShortForm_Light_Anim.swf" width="370" height="210" wmode="transparent">
					<!--<![endif]-->
					<div>
						<h1>Alternative content</h1>
						<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
					</div>
					<!--[if !IE]>-->
					</object>
					<!--<![endif]-->
				</object>
			</h:panelGroup>
            <div class="l_text_box_#{type}">
	            <h:panelGroup rendered="#{type == 'girl'}">
	           		<p>Bénéficiez d'un retour sur investissement rapide :<br/>
	           		70% de profit en moins d'une heure !</p>
	                <p>Le trading d'options binaires est un moyen facile<br/>
	                et rapide de réaliser des profits en ligne.<br />

	                </p>
	                <p><span class="text_hl">anyoption</span>, le leader mondial des courtiers en ligne, <br/>
	                vous propose plus de 80 actifs à travers le monde<br/>
	                (matières premières, indices, actions et devises).</p>
	                <p>Il suffit de <strong>choisir</strong> un actif, de prédire si le <strong>prix</strong> va <br />
	                 <strong>monter ou baisser</strong>, et gagner jusqu'à <strong>70% de profit</strong>.
					</p>
	                <ul class="text_bullets_sf">
	                    <li>Un apprentissage adapté à chacun</li>
	                    <li> Dépôt minimum de seulement 100 €</li>
	                    <li>Plateformes web, iPhone et android</li>
	                </ul>
	                <div class="bottom_line">Ouvrez un compte maintenant !</div>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{type == 'counter'}">
		        	<span style="font-size:16px;">
						<div class="title yellow" style="padding-top:10px;"><strong>En effet, vous pouvez faire un profit de 70 % en moins d'une heure !</strong></div>
						<p>Si vous investissez 1 000 €, vous pouvez obtenir 1 700 € en un seul trade.</p>
		                <p>
		                Le trading d'options binaires est un moyen facile et rapide de réaliser des profits en ligne.<br />
		                Il vous suffit de <strong>choisir</strong>  un actif (or, pétrole, EUR/USD) et de prédire si son <br />
		                <strong>cours</strong> sera à la <strong>hausse</strong> ou à la <strong>baisse</strong> dans la <strong>prochaine heure</strong>.
						</p>
		                <ul class="text_bullets_sf">
		                    <li>Aucune expérience requise</li>
		                    <li>Aucun apprentissage nécessaire,<br /> une plateforme adaptée à chacun</li>
		                    <li>Nos experts sont à votre disposition <br />gratuitement</li>
		                    <li>Démarrage abordable : <strong>dépôt minimum</strong><br /> de <strong>100€</strong></li>
		                </ul>
		                <div class="bottom_line">Ouvrez un compte en ligne dès maintenant !</div>
		        	</span>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{type == 'survey'}">
		        	<span style="font-size:16px;">
		           		<p>Voulez-vous réaliser des profits rapidement ?<br />
						    Ou vous procurer une nouvelle source de revenus ?  <br />
		                    Apprenez dès maintenant comment <br />
		                    obtenir <strong>700 €</strong> en moins d'une heure <br />
		                    à partir d'un dépôt <strong>de 100 €</strong><br /><br />
						</p>
		                <p>
		                <span class="yellow"><strong>Trader est simple: </strong></span><br />
		                Il vous suffit de <strong>choisir</strong> un actif (or, pétrole,<br />
		                EUR/USD) et de prédire si son <strong>cours</strong> sera <br />
		                à la <strong>hausse</strong> ou à la <br />
		                <strong>baisse</strong> dans la prochaine heure.<br />
		                Votre prédiction est correcte ? <br />
		                Vous faites un profit immédiat de 70 %.
		                </p>
		                <ul class="text_bullets_sf">
		                    <li>Aucune expérience requise</li>
		                    <li>Nos experts sont à votre disposition gratuitement </li>
		                    <li>Démarrage abordable : <strong>dépôt minimum</strong> de <strong>100€</strong></li>
		                </ul>
		                <div class="bottom_line">Ouvrez un compte en ligne dès maintenant !</div>
		        	</span>
	        	</h:panelGroup>
            </div>
            <div class="r_text_box">
                <h:form id="contactForm">
            	<h2>Complètez vos<br/> coordonnées</h2>
					<h:panelGrid border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">

						<h:outputLabel styleClass="star" for="firstName" value="* #{msgs['register.firstname']}:"/>
					    <h:inputText styleClass="input1" id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
					          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
					    </h:inputText>
					    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />

						<h:outputLabel styleClass="star" for="lastName" value="* #{msgs['register.lastname']}:"/>
					    <h:inputText styleClass="input1" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
					          validator="#{commonUtil.validateName}" >
					    </h:inputText>
					    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>

						<h:outputLabel styleClass="star" for="email" value="* #{msgs['register.email']}:"/>
		                <h:inputText dir="ltr" styleClass="input1" maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
		                validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
		                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
		                </h:inputText>
					    <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>

						<h:outputLabel styleClass="star" for="mobilePhone" value="* #{msgs['register.mobilephone']}:"/>
						<h:panelGrid columns="4" border="0" dir="ltr" cellspacing="0" cellpadding="0">
							<h:outputLabel width="3px" align="center" styleClass="star" value="+" />
		               	   	<h:inputText maxlength="4" styleClass="input1" style="width:45px;" dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='1' maximum='4'/>
		                	</h:inputText>
							<h:panelGrid width="5px" columns="1" border="0"  />
		               	   	<h:inputText maxlength="20" styleClass="input1" label="#{msgs['register.mobilephone']}" style="width:109px;" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
		                	  	<f:validateLength minimum='7' maximum='20'/>
		                	  	<f:validateLongRange/>
		                	</h:inputText>
		                	<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGrid>
	       				<h:panelGrid columns="2" border="0" >
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox>
							<h:outputText styleClass="agree_text" for="agree" escape="false" value="J'accepte de recevoir les mises à jour"/><br/>
							<h:outputText styleClass="agree_text" for="agree" escape="false" value=" et les offres d'anyoption™"/>
	 		            </h:panelGrid>

						<t:commandLink action="#{contactUsForm.handleLandingContact}"
						         		id="hiddenbtn" style="display:none"/>
	                </h:panelGrid>
	               <div class="submin_swf">
	                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="230" height="70" id="ShortForm_button" align="middle">
	                        <param name="allowScriptAccess" value="always" />
	                        <param name="allowFullScreen" value="false" />
	                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
	                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="230" height="70" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	                    </object>
	                </div>
	            </h:form>
                <h:panelGroup rendered="#{commonUtil.firstErrorSummaryMessage != ''}">
	               	<div class="error_text">
	                	<ul class="error_bullets">
	                    	<li><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></li>
	                    </ul>
	                </div>
	        	</h:panelGroup>
            </div>
        </div>
        <div id="bottom_content">
        	<div class="table_2">
            	<h2 class="table_header">anyoption™ à travers le monde</h2>
                <div class="table_2_text">
                    anyoption propose ses services partout<br />
                    dans le monde avec des réseaux d'affiliés<br />
                     locaux. anyoption trade des actifs<br/>
                      du monde entier.
					<img class="map_image" src="#{applicationData.imagesPath}/landing_Contactus/map.png" width="221" height="121" alt="map" />
                </div>
            </div>
        	<div class="table_l">
            	<h2 class="table_header">Choisissez le marché sur lequel vous souhaitez trader</h2>
                <div class="table_1_text">
                    <div class="table_column">
                        <h3>Actions</h3>
                        Allianz<br />
                        ANZ bank<br />
                        America Movil<br />
                        Apple<br />
                        BHP Billiton Limited<br />
                        Barclays<br />
                        British Petroleum 	 	<br />
                        Check Point<br />
                        Deutsche Bank	<br />
                        Exxon Mobil<br />
                        Gazprom<br />
                        Generali<br />
                        Intel<br />
                        JPMorgan Chase<br />
                    </div>
                    <div class="table_column">
                        <h3>&#160;</h3>
                        McDonalds <br />
                        Microsoft<br />
                        Mitsubishi corp. <br />
                        Morgan Stanley<br />
                        Noble Energy<br />
                        RBS<br />
                        Santander NY	<br />
                        Straits Times<br />
                        TATA MOTOR<br />
                        Telefonica <br />
                        Toyota Motor Corp<br />
                        Turkcell <br />
                        Vodafone<br />
                        Wal-Mart<br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column">
                        <h3>Indices</h3>
                        Bombay 30<br />
                        CAC<br />
                        Dow Jones<br />
                        DAX<br />
                        DAX Future<br />
                        Dubai<br />
                        FTSE 100<br />
                        FTSE MIB<br />
                        Hang Seng<br />
                        IBEX35 (Spain)<br />
                        IPC (MEXICO)<br />
                        KLSE Future<br />
                        KOSPI<br />
                    </div>
                    <div class="table_column">
                        <h3>&#160;</h3>
                        MDAX<br />
                        Nasdaq<br />
                        Nasdaq 100 Fut<br />
                        NIKKEI 225<br />
                        PSI 20<br />
                        S&amp;P/ASX200<br />
                        S&amp;P 500<br />
                        S&amp;P Future<br />
                        SSE 180 (China)<br />
                        TECDAX<br />
                        Tadawul<br />
                        TOPIX500<br />
                        Vix<br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column currencies">
                        <h3>Devises</h3>
                        AUD/USD<br />
                        EUR/GBP<br />
                        EUR/JPY<br />
                        EUR/USD<br />
                        GBP/JPY<br />
                        GBP/USD<br />
                        NZD/USD<br />
                        USD/CHF<br />
                        USD/JPY <br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column">
                        <h3>Matières premières</h3>
                        Argent<br />
                        Cuivre<br />
                        Or<br />
                        Pétrole<br />
                    </div>
                </div>

            </div>

        </div>
        <div id="footer">
        	<div class="icons">
            	<div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
                <input name="idstatus" type="hidden" />
                <input type="hidden" name="registrationdatefrom" />
                <input type="hidden" value="ResultsDetailed" name="transition" />
                <input type="hidden" name="selectOrderby2" />
                <input type="hidden" name="niceclassificationnumber" />
                <input type="hidden" name="indusage" />
                <input type="hidden" name="publicationdateto" />
                <input type="hidden" name="objIdappli" />
                <input type="hidden" name="objRefine" />
                <input type="hidden" name="objRefineAux" />
                <input type="hidden" name="filingdateto" />
                <input type="hidden" name="listTypeDate" />
                <input type="hidden" name="search_for_transition" />
                <input type="hidden" name="AppliRef" />
                <input type="hidden" name="application" />
                <input type="hidden" value="0" name="bAdvanced" />
                <input type="hidden" name="owner" />
                <input type="hidden" name="expirydatefrom" />
                <input type="hidden" name="entity" />
                <input type="hidden" name="objSQLBasic2" />
                <input type="hidden" value="en" name="language" />
                <input type="hidden" name="objSQLRepre" />
                <input type="hidden" name="importTradeMarkId" />
                <input type="hidden" name="ownerselect" />
                <input type="hidden" name="idappliSelected" />
                <input type="hidden" name="idstatus" />
                <input type="hidden" name="objSearchBasic" />
                <input type="hidden" name="objSQLBasic" />
                <input type="hidden" value="search_basic.jsp" name="source" />
                <input type="hidden" name="objSQLOwner" />
                <input type="hidden" name="objSQLRepre2" />
                <input type="hidden" name="selectOrderby" />
                <input type="hidden" name="representative" />
                <input type="hidden" value="1" name="printPage" />
                <input type="hidden" name="userid" />
                <input type="hidden" name="readonly" />
                <input type="hidden" name="filingdatefrom" />
                <input type="hidden" name="importctmidscriptmodule" />
                <input type="hidden" name="representativeselect" />
                <input type="hidden" name="expirydateto" />
                <input type="hidden" value="0" name="backList" />
                <input type="hidden" name="totalFound" />
                <input type="hidden" value="0" name="bRefine" />
                <input type="hidden" name="importctmidscriptmethod" />
                <input type="hidden" name="publicationdatefrom" />
                <input type="hidden" name="deno" />
                <input type="hidden" name="bRefineModify" />
                <input type="hidden" name="userCurrentAccount" />
                <input type="hidden" value="200" name="blimited" />
                <input type="hidden" name="registrationdateto" />
                <input type="hidden" name="objSQLOwner2" />
                <input type="hidden" value="8298697" name="idappli" />
                <input type="hidden" value="3" name="markorigin" />
                <input type="hidden" value="1" name="denoselect" />
                <input type="hidden" name="denoaux" />
                <input type="hidden" name="ntmark" />
                <input type="hidden" value="1" name="listType" />
                <a onclick="window.open('http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img title="anyoption's trademark information" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/icons/ao_tm.jpg" /></a>
                </form>
                </div><div class="icon_space">
                <a onclick="window.open('http://www.reuters.com/','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="73" height="27" border="0" title="Expiry levels provided by Reuters" src="#{applicationData.imagesPath}/icons/reuters.jpg" alt="" /></a>
                </div><div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Information security and coding" src="#{applicationData.imagesPath}/icons/thawte.gif" /></a>
                </div><div class="icon_space">
                <img width="40" height="27" border="0" title="Use of our website is limited to customers who are 18 years of age and older" src="#{applicationData.imagesPath}/icons/18.jpg" alt="" />
                </div>
            </div>

            <div class="footer_text">
            	Note importante : Trader des options comporte des risques importants. Nous vous conseillons vivement de lire attentivement l'ensemble de nos termes et conditions
			  	<br/>
			  	avant d'investir.<h:outputText value=" &#9632; " escape="false" />
			  	Les taux que nous présentons sur notre site sont ceux auxquels anyoption™ vend des options et
			  	<b>ne ont pas ceux du marché en temps réel.</b>
			  	<h:outputText value=" &#9632; " escape="false" />
			  	<br/>
			  	  Pour en savoir plus sur la façon dont les taux d'expiration sont déterminés
			  	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc" class="footer_link">cliquez ici</a>&#160;
			  	<h:outputText value=" &#9632; " escape="false" />
			  	Chaque clients doit tenir compte de la possible imposition<br/> de ses gains en fonction de la législation de son pays.
            </div>
        </div>
    </div>
</f:view>