<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

	<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
	<script src="#{facesContext.externalContext.requestContextPath}/js/swfobject_modified.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/popupLandingPage.js" type="text/javascript"></script>

<div id="container">
	<p>&#160;</p>
  	<div id="header-fr-google">
  	</div>
  	<div id="bg-phone"></div>
  	<div id="bg-phone_swf">
	    <object id="FlashID3" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="205" height="42">
	      <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers1.swf" />
	      <param name="quality" value="high" />
	      <param name="wmode" value="transparent" />
	      <param name="swfversion" value="9.0.45.0" />
	      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
	      <param name="expressinstall" value="Scripts/expressInstall.swf" />
	      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
	      <!--[if !IE]>-->
	      <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers1.swf" width="205" height="42">
	        <!--<![endif]-->
	        <param name="quality" value="high" />
	        <param name="wmode" value="transparent" />
	        <param name="swfversion" value="9.0.45.0" />
	        <param name="expressinstall" value="Scripts/expressInstall.swf" />
	        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
	        <div>
	          <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
	          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
	        </div>
	        <!--[if !IE]>-->
	      </object>
	      <!--<![endif]-->
	    </object>
  	</div>

  	<div id="phone-swf">
  		<object id="FlashID2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="205" height="42">
		    <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers.swf" />
		    <param name="quality" value="high" />
		    <param name="wmode" value="opaque" />
		    <param name="swfversion" value="9.0.45.0" />
		    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
		    <param name="expressinstall" value="Scripts/expressInstall.swf" />
		    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
		    <!--[if !IE]>-->
		    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers.swf" width="205" height="42">
		      <!--<![endif]-->
		      <param name="quality" value="high" />
		      <param name="wmode" value="opaque" />
		      <param name="swfversion" value="9.0.45.0" />
		      <param name="expressinstall" value="Scripts/expressInstall.swf" />
		      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
		      <div>
		        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
		        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
		      </div>
		      <!--[if !IE]>-->
		    </object>
		    <!--<![endif]-->
	  	</object>
  	</div>
	<div id="content-bg">
  		<div id="left-txt">
  	  		<div id="top-left-txt">
  	    		<div id="blue-txt">anyoption vous invite à trader et à profiter de 65 à 71 % de bénéfice en un seul trade. <br /><br />
  	    			<span class="regular-txt">
						Tradez sur le marché mondial avec notre gamme de plus de 100 actifs (Facebook, Dow Jones, Apple, EUR/USD)
					</span>
				</div>
  	  		</div>
  		</div>
		<div>
		<div id="karusel"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/pic.png" width="427" height="134" /></div>
		<div style="clear:both; height:30px;"></div>
			<div id="form-bg-fr">
	  			<div id="form">
	  				<h:panelGroup>
						<div id="top-left">
    						<h:outputLabel class="title" value="* #{msgs['register.firstname']}:" />
    						<div class="input1">
    							<h:inputText id="firstName" value="#{contactUsForm.firstName}" vLabel="register.firstname" label="#{msgs['register.firstname']}"  name="* First name"/>
    						</div>
						</div>
						<div id="top-right">
    						<h:outputLabel class="title" value="* #{msgs['register.lastname']}:" />
      						<div class="input1">
      							<h:inputText id="lastName" value="#{contactUsForm.lastName}" vLabel="register.lastname" label="#{msgs['register.lastname']}" name="* Last name:"/>
      						</div>
    					</div>
						<div style="clear:both"></div>
						<div id="bottom-left">
							<h:outputLabel class="title" value="* #{msgs['register.email']}:" />
	      					<div class="input1">
	      						<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" vLabel="register.email" label="#{msgs['register.email']}" name="* Email"/>
	      					</div>
	    				</div>
						<div id="bottom-right">
							<h:outputLabel class="title" value="* #{msgs['register.phone']}:" /><br/>
 							<div id="inputt" class="input2">
 								<div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" onkeydown="return phoneKeys(event);" />
 							</div>
 							<div id="inputt2" class="input3">
								<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}"  />
 							</div>
						</div>
						<div style="clear:both"></div>
						<div id="safty">  <h:outputLabel value="#{msgs['register.email.safe']}" /></div>
						<div id="SWF">
						  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="200" height="60">
						  	<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_#{applicationData.skinId}.swf" allowScriptAccess="always"/>
						  	<param name="allowScriptAccess" value="always" />
						    <param name="quality" value="high" />
						    <param name="wmode" value="transparent" />
						    <param name="swfversion" value="9.0.45.0" />
						    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						    <param name="expressinstall" value="Scripts/expressInstall.swf" />
						    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						    <!--[if !IE]>-->
						    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_#{applicationData.skinId}.swf" width="200" height="60" allowScriptAccess="always">
						      <!--<![endif]-->
						      <param name="allowScriptAccess" value="always" />
						      <param name="quality" value="high" />
						      <param name="wmode" value="transparent" />
						      <param name="swfversion" value="9.0.45.0" />
						      <param name="expressinstall" value="Scripts/expressInstall.swf" />
						      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
						      <div>
						        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
						        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
						      </div>
						      <!--[if !IE]>-->
						    </object>
						    <!--<![endif]-->
						  </object>
						</div>
						<div id="checkbox-in">
      						<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}"></h:selectBooleanCheckbox>
      						<div style="margin-top:0px; font-size:9px;">
      							J'accepte de recevoir les mises à jour<br />et les offres d'anyoption™
							</div>
						</div>
					</h:panelGroup>

	    		</div>
	    	</div>
	      	<div id="right1">
	      		<table width="339" height="133" border="0" cellpadding="0" cellspacing="8">
		  			<tr>
		    			<th class="sec" scope="col">Trader est simple: </th>
		 			</tr>
		  			<tr>
		    			<td class="sec">Il vous suffit de <strong>choisir</strong> un actif (or, pétrole,                EUR/USD) et de prédire si son <strong>cours</strong> sera                à la <strong>hausse </strong> ou à la <strong> baisse</strong> dans la prochaine heure</td>
		 			</tr>
		  			<tr>
		    			<td class="third">Votre prédiction est correcte ? Recevez jusqu'à 71% de profit !</td>
		  			</tr>
				</table>
			</div>
			<div id="right2">
			  <table width="329" height="75" border="0" cellpadding="0" cellspacing="0" class="sec">
			    <tr>
			      <td width="20"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/arrow.png" width="13" height="16" /></td>
			      <td width="291">Aucune expérience requise</td>
			      </tr>
			    <tr>
			      <td width="20"><div style="margin-bottom:16px;"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/arrow.png" width="13" height="16" /></div></td>
			      <td width="291">Nos experts sont à votre disposition gratuitement</td>
			      </tr>
			    <tr>
			      <td><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/arrow.png" width="13" height="16" /></td>
			      <td>N'importe qui peut trader à partir de 100 €</td>
			      </tr>
			    </table>
			</div>
		</div>
		<div id="blocks">
		    <table width="890" height="222" border="0" cellpadding="0" cellspacing="3">
		      <tr>
		        <th scope="col"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/text-box-fr.png" width="439" height="224" /></th>
		        <th scope="col"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/text-box-fr2.png" width="439" height="224" /></th>
		      </tr>
		    </table>
	  	</div>
	  	<div id="textbloc1_fr">Un collègue m'a parlé d'anyoption et j'ai décidé de tenter ma chance. Comme j'adore l'action et la précision, je savais que je serais bon dans ce domaine. J'ai commencé à trader judicieusement et les résultats ne se sont pas faits attendre : mes profits se sont décuplés à vue d'oeil ! J'aime me concentrer et prendre des décisions rigoureuses qui peuvent m'apporter des bénéfices rapides, jusqu'à 71% sur chaque investissement. Le plus étonnant dans tout ça ? Aucune expérience financière n'est requise - Tout le monde peut gagner !!<br />
	    	<strong>Laurent, 54 ans, chirurgien</strong>
	   	</div>
		<div id="textbloc2_fr">
	  		<p>J'ai trouvé sur internet des informations sur anyoption et j'ai   décidé de tester. J'aime l'action et prendre des décisions stratégiques,   j'ai donc choisi d'investir habilement mon argent sur différentes   transactions. Aujourd'hui, j'ai opté pour une option qui offre un retour   sur investissement de 71%. Pour chaque trade, j'ai rapidement évalué la   situation et analysé le ratio risque/probabilité. J'aime savoir que les   décisions que je prends peuvent me rapporter un profit immediat, connu   d'avance, en seulement quelques minutes.
			<br/>
	  		<strong> David, Pilot, 36</strong>  </p>
		</div>
	</div>
  	<div id="footerlink"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/footer-button_#{applicationData.skinId}.png" width="589" height="66" onclick="openLightBoxPopUp();"/></div>
	<div id="footer">
		<table width="269" border="0" cellspacing="3" cellpadding="0">
			<tr>
			    <th width="33" scope="col"><img src="#{applicationData.imagesPath}/icons/ao_tm.jpg" width="29" height="27" /></th>
				<th width="76" scope="col"><img src="#{applicationData.imagesPath}/icons/reuters.jpg" width="73" height="27" /></th>
				<th width="98" scope="col"><img src="#{applicationData.imagesPath}/icons/thawte.gif" width="95" height="27" /></th>
				<th width="47" scope="col"><img src="#{applicationData.imagesPath}/landing_Contactus/21.jpg" width="42" height="27" /></th>
	  		</tr>
		</table>
	</div>
	<div id="footer-txt-fr">* Note importante : Trader des options comporte des risques importants. <br />
		Vous pouvez gagner 65-71% par option « in the money » ou perdre 85% par trade « out of the money ».
	</div>
</div>
<div id="lightbox">
</div>
<!-- pop up Form -->
<div id="lightform">
 	<div class="top"></div>
	<div class="middle" style="background:url(#{applicationData.imagesPath}/landing_Contactus/LP_4assets/light_box_form_#{applicationData.skinId}.png) repeat-y top center;" >
   	<h:form id="contactForm" >
		 <h:panelGroup id="mainTable">
	    	<h:outputLabel class="in_header first" value="* #{msgs['register.firstname']}:" />
	        <div class="inputframe">
	        	<div class="input1">
				    <h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
				          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
				    </h:inputText>
			   </div>
			    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="inputframe error" />
	        </div>

	    	<h:outputLabel class="in_header" value="* #{msgs['register.lastname']}:" />
			<div class="inputframe" align="left">
				<div class="input1">
				    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
						validator="#{commonUtil.validateName}" >
				    </h:inputText>
			    </div>
			    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="inputframe error" />
	        </div>

			<h:outputLabel class="in_header" value="* #{msgs['register.email']}:" />
			<div class="inputframe">
				<div class="input1">
					<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
						validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
						<f:validator validatorId="org.apache.myfaces.validator.Email" />
					</h:inputText>
				</div>
				<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="inputframe error" />
			</div>

			<div id="safty2_fr">
				<img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/1.png" width="12" height="16" />
				<h:outputLabel value="  #{msgs['register.email.safe']}" />
			</div>

			<h:outputLabel class="in_header" value="* #{msgs['register.phone']}:" />
	        <div class="in_phone">
		        <div class="input2">
		        	<div class="plus">+</div>
					<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);" class="mobilecode">
		        	  	<f:validateLongRange/>
		        	  	<f:validateLength minimum='1' maximum='4'/>
					</h:inputText>
		  		</div>
		        <div class="input3">
		 			<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
		  				<f:validateLength minimum='7' maximum='20' />
		  				<f:validateLongRange/>
					</h:inputText>
					<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="inputframe error" />
		        </div>
	        </div>
	        <div class="agree"><h:selectBooleanCheckbox id="agreeUpdatesLB" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}"></h:selectBooleanCheckbox> J'accepte de recevoir les mises à jour<br /><span style="margin-left:0px;">et les offres d'anyoption™ </span></div>
			<!-- Flash submit button -->
			<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
			<t:commandButton id="savelink" style="display:none;" onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{applicationData.imagesPath}/landing_Contactus/LPopt_B/loading_B.gif');
					         		        return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
		       <div id="SWF2">
					  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="200" height="60">
					  	<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_LB_#{applicationData.skinId}.swf" allowScriptAccess="always" />
					  	<param name="allowScriptAccess" value="always" />
					    <param name="quality" value="high" />
					    <param name="wmode" value="transparent" />
					    <param name="swfversion" value="9.0.45.0" />
					    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
					    <param name="expressinstall" value="Scripts/expressInstall.swf" />
					    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
					    <!--[if !IE]>-->
					    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_LB_#{applicationData.skinId}.swf" width="200" height="60" allowScriptAccess="always">
					      <!--<![endif]-->
					      <param name="allowScriptAccess" value="always" />
					      <param name="quality" value="high" />
					      <param name="wmode" value="transparent" />
					      <param name="swfversion" value="9.0.45.0" />
					      <param name="expressinstall" value="Scripts/expressInstall.swf" />
					      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
					      <div>
					        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
					        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
					      </div>
					      <!--[if !IE]>-->
					    </object>
					    <!--<![endif]-->
					  </object>
				</div>
			</t:commandButton>
			<!-- End Flash submit button  -->
			<h:panelGroup rendered="#{commonUtil.firstErrorSummaryMessagePopUpForm != ''}">
               	<div id="error_text" class="error_text">
                	<ul class="error_bullets">
                    	<h:outputText value="#{commonUtil.firstErrorSummaryMessage}" />
                    </ul>
                </div>
        	</h:panelGroup>
	    	<div id="lightbox_close"  onclick="closeLightBox();"></div>
	    </h:panelGroup>
    </h:form>
    </div>
    <div class="bottom"></div>
    </div>
    <div id="Overlay"></div>
<!-- End pop up Form -->
</f:view>
