@charset "utf-8";
/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Close CSS Reset */
p {
	line-height:1.5em;
}
a, a:visited {
	color: #0284D8;
	text-decoration:none;
}
a:hover {
	color: #e97f02;
	text-decoration:underline;
}
.hp_opt_plus_text a {
	color: #0284D8;
}
html {
	position:relative;
}
body
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #727272;
    line-height: 16px;
    background: #fff url(../images/bg.png) repeat-x 0 28px;
}
strong {
	font-weight:bold;
}
h1 {
	color: #093755;
	font-size: 21px;
	font-weight: normal;
	padding: 20px 0;
	margin: 0;
}
.header_bg {
	background:#01243b;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:28px;
	border-bottom: solid 1px #487292;
	z-index:1;
}

.container {
	width: 970px;
	margin:0 auto;
	position:relative;
	z-index:2;
}

/* top stripe */
.message-top {
	position:absolute;
	left:295px;
	top:98px;
	color:#9eacb4;
}
.header_top {
	height:28px;
	width:100%;
	font-size: 10px;
	font-weight: bold;
	color: #9eacb4;
}
.header_top_left {
	float: left;
	width: 295px;
	padding-top: 7px;
}

/* close top stripe */
/* header section */
.header {
	padding: 12px 0 30px;
	height: 53px;
}

.menu .last {
	background-image:none;
}
.menu ul li a {
	font-size:11px;
	color: #093755;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	letter-spacing: 0;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 18px 17px;
}
.menu ul li a:hover {
	color: #0284D8;
	text-decoration: none;
}
.logo {
	float:left;
}
.rightBan_border {
	position:relative;
}
/* close header section */


.banner_trade_but_h{border-top:1px solid #D6D6D6;margin-top:15px;padding-top:15px;}
.but_trade_now{background:url('../images/but_trade_now.png') no-repeat;}
.but_trade_now_but{display:inline-block;height:58px;padding-left:10px;overflow:hidden; margin-top: 15px; width: 180px;}
.but_trade_now_but .rs{display:block;height:58px;padding-right:10px;background-position:right -58px;}
.but_trade_now_but .cs{display:block;height:58px;background-position:0 -117px;background-repeat:repeat-x;color:white;font-size:18px;text-transform:uppercase;line-height:20px;text-align:center;padding-top:19px;
	text-shadow:1px 1px 2px #114466; font-weight:bold;}
a.but_trade_now_but:hover{background-position:0 -176px;text-decoration:none;}
.but_trade_now_but:hover .rs{background-position:right -235px;}
.but_trade_now_but:hover .cs{background-position:0 -294px;}


/*full reg*/
.full_reg_holder{background:#f6fbff;border:1px solid #a1b6c9;border-radius:10px;box-shadow:-3px -3px 5px -2px #b7c8d6 inset;padding:15px;text-align:left;}
.deposit_cont_holder{width:690px;background:#f6fbff;border:1px solid #a1b6c9;border-radius:10px;box-shadow:-3px -3px 5px -2px #b7c8d6 inset;padding:25px;text-align:left;}
.full_reg_main{margin-top:20px;}
.full_reg_h2{color:#0284d6;font-size:12px;padding:0 0 20px 0;margin:0;}
.full_reg{width:332px; float:left;}
.full_reg .funnel_hold{width:202px;}
.full_reg .funnel_inp{color:#6e8695;background:white;border:1px solid #bdceda;margin-bottom:20px;margin-top:0;position:relative;width:318px;padding:5px;
	display:inline-block;vertical-align:middle;font-size:13px; line-height:13px; text-transform:uppercase;}
.full_reg .funnel_inp:focus { outline: -webkit-focus-ring-color #859199 1px; }
.full_reg .funnel_inp.active{color:#093755;border:1px solid #859199;text-transform:none;}
.full_reg .funnel_inp.error{color:#093755;border:1px solid #E97F02;text-transform:none;}
.full_reg .funnel_inp.correct{color:#093755;border:1px solid #bdceda;text-transform:none;}
.full_reg .funnel_inp_first_name{width:113px;}
.full_reg .funnel_inp_last_name{width:179px;margin-left:10px;}
.full_reg .funnel_inp_phone{width:174px;margin-left:10px;}
.full_reg .funnel_names_holder,
.full_reg .funnel_email_holder,
.full_reg .funnel_phone_holder,
.full_reg .funnel_password_holder,
.full_reg .funnel_password_retype_holder{position:relative;}

.full_reg .funnel_phone_code{width:30px;float:left;}
.full_reg .funnel_phone{width:150px;float:right;}
.full_reg .btn_open_account{background:url('../images/btn_open_account.png') no-repeat;}
.full_reg a.btn_open_account_h{display:block;height:49px;padding-left:10px;text-decoration:none;overflow:hidden;text-transform:uppercase;background-position:0 1px;width:230px;margin-top:20px;}
.full_reg .btn_open_account_h .rs{display:block;height:49px;padding-right:10px;background-position:right -51px;}
.full_reg .btn_open_account_h .cs{display:block;height:49px;background-position:0 -104px;background-repeat:repeat-x;color:white;font-size:18px;text-align:center;padding-top:24px;
	line-height:1px;font-weight:bold;text-shadow: 1px 1px 2px #a67702;}
.full_reg a.btn_open_account_h:hover{background-position:0 -158px;}
.full_reg a.btn_open_account_h:hover .rs{background-position:right -211px;}
.full_reg a.btn_open_account_h:hover .cs{background-position:0 -264px;}

.full_reg a.btn_open_account_h.disabled{background:url('../images/loader_reg.gif') no-repeat center center;}
.full_reg .btn_open_account_h.disabled .rs{background: transparent;}
.full_reg .btn_open_account_h.disabled .cs{background: transparent; text-shadow: none; color: transparent;}
.full_reg a.btn_open_account_h.disabled:hover{background:url('../images/loader_reg.gif') no-repeat center center;}
.full_reg a.btn_open_account_h.disabled:hover .rs{background: transparent;}
.full_reg a.btn_open_account_h.disabled:hover .cs{background: transparent; color: transparent;}

.full_reg .error_messages{color:#E97F02;}
.full_reg .error{border:1px solid #E97F02;}
.full_reg .funnel_chkbx{display:block;margin-bottom:5px;position:relative;}
.full_reg .funnel_chkbx_inp{margin-left:0px;}
.full_reg .funnel_terms_h{background:url('../images/reg_elms_full.png') no-repeat 0 -25px;display:inline-block;padding-left:20px;color:#093755;cursor:pointer;height:14px;}
.full_reg .funnel_terms_h.checked{background:url('../images/reg_elms_full.png') no-repeat 0 -40px;}
.full_reg .funnel_terms_h2{display:inline-block;color:#093755;height:14px;}
.full_reg .funnel_terms_h_in{background:url('../images/reg_elms_full.png') no-repeat 0 -25px;display:inline-block;width:20px;cursor:pointer;height:14px;vertical-align:middle;margin-top:-3px;}
.full_reg .funnel_terms_h_in.checked{background:url('../images/reg_elms_full.png') no-repeat 0 -120px;}
.full_reg .funnel_terms_h2 span{color:#0284d6;text-decoration:underline;cursor:pointer;}
.full_reg .funnel_terms{display:none;}
.full_reg .funnel_drop_h{color:#6E8695;border:1px solid #BDCEDA;height:26px;margin-bottom:20px;position:relative;width:118px;padding:0 5px 0 5px;background:white;
	z-index:2;display:inline-block;zoom: 1; *display: inline;vertical-align:middle;}
.full_reg .funnel_drop_selected{cursor:pointer;overflow:hidden;background:url('../images/reg_elms_full.png') no-repeat right 2px;height:25px;font-size:13px;}
.full_reg .funnel_drop_country{float:left;margin-top:5px;font-size:13px;}
.full_reg .funnel_drop_countryId{float:right;text-align:right;margin:5px 30px 0 0;font-size:13px;}
.full_reg .funnel_drop_ul{position:absolute;top:26px;left:-1px;list-style:none;padding:0;margin:0;background:white;max-height:300px;border:1px solid #859199;display:block;overflow-y:auto;overflow-x:hidden;display:none;}
.full_reg .funnel_drop_ul li{display:block;color:#093755;cursor:pointer;white-space:nowrap;padding:1px 2px;}
.full_reg .funnel_drop_ul li:hover,.full_reg .funnel_drop_ul li.active{background:#92acc0;color:white;}
.full_reg .funnel_drop_h.active{border:1px solid #859199;color:#093755;}
.full_reg .funnel_drop_h.active .funnel_drop_ul{display:block;}
.full_reg .funnel_drop_ul_search{position:absolute;left:-9999em;margin:0px; padding:0; border-bottom:1px solid #859199; background:url(../images/search-icon.png) no-repeat 3px 3px !important;}
.full_reg .funnel_drop_ul_search_inp{border:0px; background:url('http://images.anyoption.com/ao/reg_inp_bgr.png');background:rgba(255,255,255,0.21);padding:0; margin:0; color:#093755; text-indent:20px;}
.full_reg .funnel_drop_ul_search_inp:focus { outline: -webkit-focus-ring-color 0px; }
.full_reg .funnel_drop_ul_search_inp:hover{color:#093755;}


.full_reg .funnel_names_error_h{position:absolute;top:6px;right:-338px;width:337px;}
.full_reg .funnel_names_error_h_chb{position:absolute;top:2px;right:-15px;white-space:nowrap;width:11px;}
.full_reg .funnel_error_hide{display:none;width:11px;height:11px;}
.full_reg .funnel_error_bad{background:url('../images/reg_elms_full.png') no-repeat 0 -55px;display:inline-block;width:13px;height:13px;vertical-align:middle;}
.full_reg .funnel_error_good{background:url('../images/reg_elms_full.png') no-repeat 0 -67px;display:inline-block;width:13px;height:13px;vertical-align:middle;}

.full_reg .funnel_tooltip_h{position:absolute;top:0px;right:-194px;display:none;width:170px;border:1px solid #c4ac7d;background:#fffdf9;padding:5px;color:#093755;
	transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
.full_reg .funnel_tooltip_arrow{background:url('../images/reg_elms_full.png') no-repeat 0 -79px;display:block;width:14px;height:18px;position:absolute;top:50%;left:-14px;margin-top:-9px;
	transition: all 0.5s ease;-webkit-transition: all 0.5s ease;}
.full_reg .funnel_tooltip_h_left{position: absolute;
top: 0px;
right: -194px;
display: none;
width: 170px;
border: 1px solid #c4ac7d;
background: #fffdf9;
padding: 5px;
color: #093755;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.3);
box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.3);
font-size:11px;
}
.full_reg .funnel_tooltip_h_left .funnel_tooltip_arrow{background: url('../images/reg_elms_full.png') no-repeat 0 -79px;
display: block;
width: 14px;
height: 18px;
position: absolute;
top: 50%;
left: -13px;
margin-top: -9px;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;}
.full_reg .funnel_error_list{font-size:12px;color:#e97f02;display:block;padding: 10px 0 0;min-height: 42px;}
.full_reg .funnel_error_list span {display:block;}
.full_reg .funnel_names_error_msg_h{color:#e97f02;font-size:11px;vertical-align:middle; display:none;}
.funnel_error_line {position:absolute;
border: 1px dotted #e97f02;
border-right: none;
position: absolute;
top: 0;
left: 32px;
display: none;
width: 6px;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;

}
/*full reg end*/
/*cont_us_right_banner END*/

.promo_banner_2 {
	background: url('../images/promotion_02.jpg') no-repeat right;
	float:right;
	width: 323px;
	height: 222px;
}
.reg_progres_h{background: url('../images/cont_progress_bgr.png') no-repeat center top;padding-top:20px;margin:30px 0 0 10px;}

.reg_progres_el1{float:left;width:176px;text-align:center;}
.reg_progres_el2{float:left;width:206px;text-align: center;margin-left:42px;}
.reg_progres_el3{float:left;width:195px;text-align:center;margin-left:32px;}
.reg_progres_h1{font-size:18px;color:#093755;display:block;text-transform:uppercase; line-height:22px;}
.reg_progres_el1.selected .reg_progres_h1{color:#0284d6;}
.reg_progres_el2.selected .reg_progres_h1{color:#0284d6;}
.reg_progres_el3.selected .reg_progres_h1{color:#0284d6;}
.reg_progres_h2{font-size:11px;color:#4b7b9b;display:block; line-height:14px;}
.reg_progres_img{background:url('../images/reg_elms_nums.png') no-repeat;display:inline-block;width:67px;height:51px;color:#7a8d99;font-size:24px;font-weight:bold;padding-top:16px;position:relative; line-height: 34px;}
.reg_progres_el1.selected .reg_progres_img{color:#0284d6;}
.reg_progres_el2.selected .reg_progres_img{color:#0284d6;}
.reg_progres_el3.selected .reg_progres_img{color:#0284d6;}
.reg_progres_img_arr{background:url('../images/reg_elms_nums.png') no-repeat 0 -70px;width:170px;height:13px;display:block;position:absolute;top:50%;margin-top:-7px;left:70px;}

/*close cont_us_right_banner END*/

.banner_secure{border-top:1px solid #d6d6d6;font-size:9px;overflow:hidden;}
.mt20 {margin-top: 20px!important;
}
.secure_reg_img {margin-top: 20px;text-align: center;
}
.secure_reg_text {
font-size: 12px;
text-align: center;
margin-bottom: 20px;
color:#093755;
}
.thewte_verisigh, .cysec_mifid {
padding-bottom: 20px;
text-align: center;
}
.cysec_mifid {
	padding-top:45px;
	border-bottom:none;
	font-size:24px;
	color:#093755;
}
.eu-regulated-right {
	background:url(../images/eu-regulated.jpg) center 20px no-repeat;
	height:110px;
}
.text-eu-regulated-right {
	font-size: 12px;
	text-align: center;
	margin-top: 96px;
	width: 100%;
	float: left;
	color: #093755;

}
  
/*cont_us_right_banner*/
.cont_us_right_banner_h{margin-top:20px;}
.cont_us_right_banner_img{background:url('../images/cont_us_side.png') no-repeat;display:inline-block;width:78px;height:66px;vertical-align:middle;position:relative;left:-10px;}
.cont_us_right_banner_text{display:inline-block;vertical-align:middle;text-transform:uppercase;font-size:15px;max-width:86px;position:relative;margin-left:-23px;}
.cont_us_right_banner_text2{display:inline-block;vertical-align:middle;text-transform:uppercase;font-size:15px;width:123px;margin-left:-23px;color: #093755;}
.cont_us_right_banner_text_in{font-size:11px;color:#093755;display:block;}
.close_link_cont_us{color:#0284d6;font-size:11px;cursor:pointer;display:block;clear:both;padding:10px 0 0 5px;}
.content_pages_banner_nd{color:#727272!important;}
/*cont_us_right_banner END*/

/* container */

.container_in_left {
	float: left;
	width: 630px;
	padding-right: 15px;
}
.graphic_block {
	height:378px;
	float:left;
	position:relative;
	background:url(../images/graphic_bg.jpg) center center no-repeat;
	width:100%;
}
.graphic_block h1 {
	font-size:22px;
	color:#093755;
	text-transform:capitalize;
	padding-top:0;
}
.graphic_block h2 {
	color:#0284d6;
	font-size:15px;
	line-height:20px;
	text-transform:uppercase;
}
.binary_options {
	float:right;
	margin-left: 10px;
}


.position, .position_1, .position_2, .position_3, .position_4, .position_5{
	width:180px;
	position:absolute;
	top:50px;
	left:126px;
}
.position {
	left:430px;
	top:260px;
}
.position_2 {
	left:374px;
}
.position_3 {
	top:340px;
	left:240px;
}
.position_4 {
	top:340px;
	left:26px;
}
i.arrow_position_top, i.arrow_position_left {
	width:26px;
	height:26px;
	position:absolute;
	display:block;
	overflow:hidden;
	background-image:url(../images/arrows_sprite.jpg);
	background-repeat:no-repeat;
}
.arrow_position_top {
	left:0px;
	top:-30px;
}
.arrow_position_left {
	left:-30px;
	top:0px;
}
.arrow_top {
	background-position:top right;
}
.arrow_right {
	background-position:center right;
}
.arrow_left {
	background-position:left center;
}
.arrow_bottom {
	background-position:bottom right;
}
.arrow_bottom_left {
	background-position:bottom left;
}

/* close container */
/* tab block */
.home_tab_h {
	width:630px;
	border-bottom: 3px solid #2474a8;
	height:33px;
	background:url(../images/bg_tab.png) top left no-repeat;
}
.hp_opt_plus_image {
	float: right;
}
.home_tab_h_tab1 {
	background-position: 0 -33px;
}
.home_tab_h_tab2 {
	background-position: 0 -66px;
}
.home_tab_h_tab3 {
	background-position: 0 -99px;
}
.hp_opt_plus_text_in {
	padding: 0;
	margin: 10px 0 0 0;
}

.home_tab_h li {
	display: block;
	list-style: none;
	padding: 12px 0 8px 0;
	margin: 0;
	float: left;
	color: #737373;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.home_tab_h #tab0 {
	width: 170px;
}

.home_tab_h #tab1 {
	width: 140px;
}

.home_tab_h #tab2 {
	width: 144px;
}
.home_tab_h #tab3 {
	width: 144px;
}

.tabContent{list-style:none;padding:0;margin:0;display:block;height:280px;}
.tabContent li{list-style:none;padding:20px 0 0 0;margin:0;display:none;}
.tabContent li.hov{display:block;}
.hp_opt_plus_text {
	width: 330px;
	float: left;
	color: #727272;
	font-size: 12px;
	line-height: 16px;
}
.one_touch_title {
	font-size: 21px;
	color: #093755;
	display: block;
	padding: 10px 0;
	text-transform: uppercase;
}

.home_tab_h li.hov {
	color: white;
	font-weight: bold;
}
/* close tab block */

.box_oneLine {
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	color: #093755;
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px!important;
}

.vaM {
	vertical-align: middle;
}

.container_in_right a{
	color:#0284d8;
}
.container_in_right a:hover{
	color:#e97f02;
	text-decoration:none;
}
.home_tab_h li.hov {
	color: white;
	font-weight: bold;
}
#box_Why .text {
	float:right;
	width:240px;
}
.ct_img {
	float:left;
}
.container_in_right {
	float: right;
	width: 306px;
	padding-left: 15px;
	border-left: solid 1px #d6d6d6;
}
#box_Why, #box_Share, #box_IntPresence, #box_TradingGuide, #box_News, #box_BeginnersGuide {
	border-bottom: solid 1px #d6d6d6;
	padding-bottom: 20px;
}
#box_Why {
	border-bottom:0;
}
.clear {
	clear:both;
}
.footer_bg {
	height: 286px;
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left:0;
	background: #093755 url(../images/bg_footer.png) top left repeat-x;
}

.footer {
	text-align: center;
	margin: 0 auto;
	font-size: 9px;
	color:#8fa2af;
	line-height:12px;
	padding:60px 0 72px;
	width:100%;
}

.regulated {
	font-size: 14px;
	margin: 0 auto;
	padding-bottom: 10px;
	padding-top: 8px;
	color: #999999;
}

.regulated div {
	margin: 0 auto;
}

.regulated p {
	display:block;
	margin-top: 10px;
}

.icons-container {
height: 30px;
margin: 0 auto;
padding-top: 20px;
border-top: solid 1px #e5e5e5;
width:920px;
}

.icons-container .icons {
width: 360px;
padding-left: 20px;
margin: 0 auto;
}

.icons .icon_space {
margin-right: 20px;
float: left;
}

.footer_text {
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding: 40px 0 10px;
	line-height: 16px;
}


/* About us */
p {
	padding-bottom:10px;
}
.container_right {
	width: 195px;
	float: right;
}
.page_bgr {
	background: white;
	border-radius: 5px;
	padding: 35px 25px 0px 25px;
	margin-top: -10px;
	min-height: 589px;
}
.pageMain {
	width: 705px;
	float: left;
	line-height:1.3em;
}
.sidemenu {
	display: block;
	margin-right: 5px;
	list-style: none;
	padding: 0 0 20px;
	margin: 0;
	text-align: left;
}
.sidemenu_header {
	background-color: #093755;
	color: white;
	font-weight: bold;
	padding: 4px 0 4px 10px;
	margin: 0 0 10px 0;
	width: 178px;
	font-size: 12px;
}
.sidemenu_list {
	height: auto;
	padding-bottom: 25px;
	display: block;
	background:url(../images/separator_5.00.png) no-repeat left bottom;
	padding-top: 5px;
	font-size: 12px;
}
.sidemenu_list a {
	text-decoration: none !important;
	color: #0284d8 !important;
	text-transform: uppercase;
}
.sidemenu_list a:hover {
	text-decoration: none !important;
	color: #e97f02 !important;
}
.main_page_text {
	font-size: 12px;
	padding: 20px 0 0;
	float: left;
	line-height: 16px;
}
.main_page_text ul {
	padding-left:20px;
}
.main_page_text li{
	list-style:disc;
	padding:4px 0;
}
.title_h {
	border-bottom: 3px solid #093755;
	height: 21px;
}
.title_h_h1 {
	color: #093755;
	float: left;
	font-size: 18px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
.title_h_h2 {
	color: #0284D6;
	float: right;
	font-size: 10px;
	margin: 5px 0 0;
	font-weight:bold;
}
/* About us */


/*login*/

.title_secure_ico{background-position:0 -126px;height:17px;color:#566773;position:relative;display:inline-block;float:right;top:-17px;font-size:10px;cursor:pointer;padding:21px 0 0 30px;margin-left:10px;}
.title_secure_ico span{background:#0284d6;color:white;width:250px;padding:15px;position:absolute;top:40px;right:0;display:none;font-size:9px;}
.title_secure_ico:hover span{display:block;}


a.login_reg_nd {
color: #ffd400;
text-decoration: none;
font-size: 11px;
text-transform: uppercase;
font-weight: bold;
margin-left: 15px;
float: left;
margin-top: 6px;
}
a.login_reg_nd:hover {
	color: #fff;
}
.header_have_account {
font-weight: bold;
display:inline-block;
margin-top: 6px;
font-size: 10px;
color: white;
float: left;
}
/*close login*/
