<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goRetentionM}

    <t:saveState value="#{marketingReportForm}" />

    <h:panelGroup >

		<h:form id="marketingReportForm">

          <h:panelGrid columns="1" border="0" width="100%" height="800px">

        	<h:panelGrid border="0" columns="10">

	          	<h:outputLabel for="startDate" value="#{msgs['newaccounts.from']}"/>
				<h:panelGrid border="0" columns="3">
					<h:inputText styleClass="input_text" id="startDate" value="#{marketingReportForm.startDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:startDate'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
			    	<A HREF="#" onClick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:startDate'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="startDateError" for="startDate" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	       		<h:outputLabel for="endDate" value="#{msgs['newaccounts.to']}"/>
				<h:panelGrid border="0" columns="3">
	  			  <h:inputText styleClass="input_text" id="endDate" value="#{marketingReportForm.endDate}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:endDate'],'anchor2','dd/MM/yyyy'); return false;">
	    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			      </h:inputText>
			      <A HREF="#" onClick="cal.select(document.forms['marketingReportForm'].elements['marketingReportForm:endDate'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		          </A>
				  <t:message id="endDateError" for="endDate" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" />
		     	<t:selectOneMenu id="skinId" value="#{marketingReportForm.skinId}"
		     				valueChangeListener="#{marketingReportForm.updateSingleSkin}"
               				onchange="this.form.submit();">
		        	<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
		        </t:selectOneMenu>

	   	        <t:outputLabel rendered="#{!user.partnerWriter  &amp;&amp; writer.writer.id != 332}"  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" />
		     	<t:selectOneMenu rendered="#{!user.partnerWriter &amp;&amp; writer.writer.id != 332}" id="skinBCId" value=""
		     				valueChangeListener="#{marketingReportForm.updateBusinessSkin}"
               				onchange="this.form.submit();">
		        	<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        </t:selectOneMenu>

			</h:panelGrid>


	  		<h:panelGrid border="0" columns="1">

	  			<t:commandLink action="#{marketingReportForm.exportRegLeadsTotalsReportToExcel}">
		               <h:outputText value="#{msgs['marketing.report.reg.leads.total']}" />
	  			</t:commandLink>
			</h:panelGrid>

		  </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>