<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
    <t:saveState value="#{transactionIssueForm}" />
    <h:panelGroup>
		<h:form id="transactionIssueForm">
			<h:panelGrid columns="3" border="0" >
				<h:outputText value="#{msgs['transactions.id']}" />
				<h:inputText dir="ltr" size="16" maxlength="10" id="transactionId" value="#{transactionIssueForm.transactionId}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="transactionIdErr" for="transactionId" replaceIdWithLabel="true" styleClass="error"/>

				<h:outputText value="#{msgs['issues.actions.id']}" />
				<h:inputText dir="ltr" size="16" maxlength="10" id="issueActionId" value="#{transactionIssueForm.issueActionId}" required="true">
					<f:validateLongRange/>
				</h:inputText>
				<t:message id="issueActionIdErr" for="issueActionId" replaceIdWithLabel="true" styleClass="error"/>

				<h:panelGroup rendered="#{!transactionIssueForm.issueActionFound}">
					<t:commandLink action="#{transactionIssueForm.insert}">
						<h:outputText value="#{msgs['button.insert']}" />
				    </t:commandLink>
				</h:panelGroup>
			</h:panelGrid>

			<h:panelGrid width="75%" rendered="#{!transactionIssueForm.tranOrIaNotFound}">
			    <t:dataTable id="data"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="#{transactionIssueForm.issueAction}">
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['issues.actions.id']}"/>
			           </f:facet>
			              <h:outputText value="#{v.actionId}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['transaction.issue.column.action.time']}"/>
			           </f:facet>
			              <h:outputText value="#{v.actionTime}" escape="false">
				          		<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{applicationData.getUtcOffset(v.actionTimeOffset)}" />
				          </h:outputText>
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.assign.representative']}"/>
			           </f:facet>
				           <h:outputText value="#{transactionIssueForm.getWriterNameById(v.writerId)}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['transactions.id']}"/>
			           </f:facet>
			              <h:outputText value="#{v.transactionId}" />
			       </h:column>
			     </t:dataTable>
			</h:panelGrid>

			<h:panelGrid width="75%" rendered="#{!transactionIssueForm.tranOrIaNotFound}">
			    <t:dataTable id="data2"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
			            var="v"
			            preserveDataModel="false"
			            rows="#{user.rowsByMenu}"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="#{transactionIssueForm.tranIssueList}">
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['transactions.id']}"/>
			           </f:facet>
			              <h:outputText value="#{v.transactionId}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['issues.actions.id']}"/>
			           </f:facet>
			              <h:outputText value="#{v.issueActionId}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['transaction.issue.insert.type']}"/>
			           </f:facet>
			              <h:outputText value="#{v.insertTypeTxt}" />
			       </h:column>
			       <h:column>
			           <f:facet name="header">
			              <h:outputText value="#{msgs['retention.assign.representative']}"/>
			           </f:facet>
			              <h:outputText value="#{transactionIssueForm.getWriterNameById(v.issueAction.writerId)}" />
			       </h:column>
			     </t:dataTable>
			</h:panelGrid>

			<h:panelGroup rendered="#{transactionIssueForm.needApprove}">
				<h:outputText rendered="#{transactionIssueForm.issueActionFound}" style="font-size:14px;color:red;" value="#{msgs['transaction.issue.warning.issue.exist']}"/>
				<br/>
				<h:commandButton id="ok" value="#{msgs['transaction.issue.ok']}" style="width:100px" action="#{transactionIssueForm.issueActionApprove}" ></h:commandButton>
				<h:commandButton  id="cancel" value="#{msgs['transaction.issue.cancel']}" style="width:100px" action="#{transactionIssueForm.issueActionDecline}"></h:commandButton>
			</h:panelGroup>

        </h:form>
    </h:panelGroup>
</ui:define>
</ui:composition>
</html>