﻿
body {
	font-family: "Verdana Neue", Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	background-color: #fff
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Verdana Neue", Verdana, Arial, sans-serif;
	font-weight: 500;
	line-height: 1.1
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff !important;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}
.panel {
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05)
}
.panel-default {
	border-color: none;
}
.panel-default>.panel-heading {
	/*color: #333;
	border-color: #f5fbff;*/
	background-color: transparent;	
	padding: 25px 43px 40px;
    /*background: url("images/cont_progress_bgr_small.png") no-repeat center bottom;*/
    border: none;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: transparent
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: transparent
}
.bv-form .help-block {
	margin-bottom: 0
}
.bv-form .tooltip-inner {
	text-align: left
}
.nav-tabs li.bv-tab-success>a {
	color: #3c763d
}
.nav-tabs li.bv-tab-error>a {
	color: #a94442
}
.bv-form .bv-icon-no-label {
	top: 0
}
.bv-form .bv-icon-input-group {
	top: 0;
	z-index: 100
}
.bv-no-label {
	position: absolute;
	right: 15px;
	top: 15px
}
.ui-state-error {
	color: rgb(255,175,175)!important;	    
}
small.help-block {
	display: block;
	font-size: 13px !important;
	position: absolute;
	top: -50px;
	right: 7%;
	background: #e97f02;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
	padding-left: 10px;
	padding-right: 10px;
	font-weight: normal
}
small.help-block:after {
	display: block;
	content: '\25BA';
	width: 10px;
	height: 10px;
	color: #e97f02;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	position: absolute;
	left: 20%;
	font-size: 15px;
	bottom: -7px
}
small[data-bv-for="cvnNumber"] {
}
i[data-bv-icon-for="cardNumber"] {
	display: none
}
.form-control.ui-state-error {
	background-color: #ffedd8 !important;
	border: 1px solid #e97f02 !important;
}
.dropdown-arrow-inverse {
	border-bottom-color: #34495e !important;
	border-top-color: #34495e !important;
}
body {
	font-family: 'Roboto', Verdana, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #093755;
	background-color: #f5fbff !important;
}
a:hover, a:focus {
	color: #093755;
	text-decoration: none
}
p {
	font-size: 14px;
	line-height: 24px;
	text-align: left;
}
small {
	font-size: 11px;
	line-height: 24px;
}
.text-primary {
	color: #093755
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', Verdana, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.2
}
.btn {
	border: none;
	background: #bdc3c7;
	text-transform: uppercase;
	font-family: Verdana, sans-serif !important;
	font-weight: bold;
	color: #fff;
	padding: 9px 12px 10px;
	line-height: 22px;
	font-size: 14px;
	text-decoration: none;
	border-radius: 6px;
	-webkit-transition: 0.25s linear;
	-moz-transition: 0.25s linear;
	-o-transition: 0.25s linear;
	transition: 0.25s linear;
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none
}
.btn.btn-primary {
	background-color: #093755
}
.btn.btn-primary:hover, .btn.btn-primary:focus, .btn-group:focus .btn.btn-primary.dropdown-toggle {
	background-color: #0284D6
}
.btn.btn-inverse {
	/*background-color: #34495e;*/
	background: transparent url(../../images/bttn_bg.png) repeat-x left top;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #a67702;
    border: solid 5px #d3d8db;
    border-radius: 10px;
	padding: 10px 0;
}
.btn.btn-inverse:hover, .btn.btn-inverse:focus, .btn-group:focus .btn.btn-inverse.dropdown-toggle {
	background: transparent url(../../images/bttn_bg_hover.png) repeat-x left top;
	cursor: pointer;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #093755
}
.navbar .nav > li.active > a, .navbar .nav > li.active > a:hover, .navbar .nav>li.active>a:focus {
	background: none;
	color: #093755;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
.navbar .nav > li > a:hover, .navbar .nav>li>a:focus {
	color: #093755;
	background-color: transparent
}
.navbar .nav ul li.active > a, .navbar .nav ul li.active > a:hover, .navbar .nav ul li.active>a:focus {
	background-color: #093755;
	color: #fff;
	padding-left: 9px;
	padding-right: 9px
}
.navbar .nav ul a:hover {
	background-color: #093755
}
.navbar .btn-navbar:hover, .navbar .btn-navbar:focus {
	background: none;
	color: #093755
}
.navbar-inverse .nav > li.active > a, .navbar-inverse .nav > li.active > a:hover, .navbar-inverse .nav>li.active>a:focus {
	background-color: #093755;
	border-bottom-color: #16a085;
	border-left: none;
	color: #fff;
	padding-left: 20px
}
.navbar-unread, .navbar-new {
	font-family: 'Lato', Verdana, Arial, sans-serif;
	background-color: #093755;
	border-radius: 50%;
	color: #fff;
	font-size: 0;
	font-weight: 700;
	height: 6px;
	line-height: 14px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 28px;
	width: 6px;
	z-index: 10
}
.navbar.navbar-inverse .nav li.dropdown.open>.dropdown-toggle {
	background-color: #093755;
	border-bottom-color: #16a085;
	color: #fff
}
.navbar .nav li.dropdown.open>.dropdown-toggle {
	background: none;
	color: #093755
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret {
	border-bottom-color: #093755 !important;
	border-top-color: #093755 !important
}
.navbar .nav li.dropdown > .dropdown-toggle:hover .caret, .navbar .nav li.dropdown > .dropdown-toggle:focus .caret {
	border-bottom-color: #093755;
	border-top-color: #093755
}

.navbar.navbar-inverse .navbar-search .form-control:focus {
	border-color: #093755
}

.navbar .navbar-search .form-control:focus {
	border-color: #093755
}
.navbar.navbar-inverse .nav > li.active > a, .navbar.navbar-inverse .nav > li.active > a:hover, .navbar.navbar-inverse .nav>li.active>a:focus {
	background-color: #093755
}
.navbar .nav > li:hover > ul li:hover a, .navbar .nav > li.dropdown:hover > ul li:hover a, .navbar .nav > li:hover .dropdown-menu li:hover a, .navbar .nav > li.dropdown:hover .dropdown-menu li:hover a {
	background-color: transparent;
	color: #093755
}
.navbar .nav > li ul li a:hover, .navbar .nav > li.dropdown ul li a:hover, .navbar .nav > li ul li a:focus, .navbar .nav > li.dropdown ul li a:focus {
	color: #093755
}
.navbar .nav li.dropdown .dropdown-menu li a:hover, .navbar .nav li.dropdown .dropdown-menu li a:focus {
	color: #093755
}

.form-control {
	border: 1px solid #bdceda !important;
	color: #34495e !important;
	font-family: 'Roboto', Verdana, Arial, sans-serif;
	font-size: 15px;
	padding: 8px 12px;
	height: 41px;
	-webkit-appearance: none;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none !important;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	-moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
	-o-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	-webkit-backface-visibility: hidden
}
.form-group.focus .form-control, .form-control:focus {
	border-color: #093755;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.form-control.flat:focus {
	border-color: #093755
}

.input-hg {
	/*height: 53px;*/
	padding: 10px;
	font-size:14px;
	line-height: 20px;
	border-radius:2px;
	text-transform: uppercase;
	font-weight: normal;
	color: #093755;
}

.has-success .form-control {
	color: #5E5E5E;
	border-color: #093755;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.form-group.focus .input-group-addon, .navbar-search.focus .input-group-addon {
	background-color: #093755;
	border-color: #093755
}
.form-group.focus .btn, .navbar-search.focus .btn {
	background-color: #093755
}
.form-group.focus .btn:hover, .navbar-search.focus .btn:hover, .form-group.focus .btn:focus, .navbar-search.focus .btn:focus, .btn-group:focus .form-group.focus .btn.dropdown-toggle, .btn-group:focus .navbar-search.focus .btn.dropdown-toggle {
	background-color: #0284D6
}

.form-group.focus .input-group-btn .btn-default, .navbar-search.focus .input-group-btn .btn-default {
	border-color: #093755 !important;
	background-color: #fff !important;
	color: #093755 !important
}

.checkbox.primary.checked .icons, .radio.primary.checked .icons {
	color: #093755
}

.tagsinput input {
	background: transparent;
	border: none;
	color: #34495e;
	font-family: 'Lato', Verdana, Arial, sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0 0 0 5px;
	outline: none !important;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 12px
}

.tagsinput-add:hover {
	background-color: #093755
}

.tagsinput-primary {
	border-color: #093755
}
.tagsinput-primary .tag {
	background-color: #093755;
	color: #fff
}

.progress-bar {
	background: #093755;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.ui-slider-handle:hover, .ui-slider-handle:focus {
	background-color: #0284D6;
	outline: none
}

.ui-slider-range {
	background-color: #093755;
	border-radius: 30px 0 0 30px;
	display: block;
	height: 100%;
	position: absolute;
	z-index: 1
}

.ui-spinner.focus input {
	color: #093755;
	border-color: #093755
}
.ui-spinner.focus .ui-spinner-button {
	background-color: #093755
}

.ui-datepicker {
	width: 264px;
	background-color: #fff;
	display: none;
	margin: 10px 0 0 0;
	border: 7px solid #093755;
	border-radius: 6px;
	-webkit-box-shadow: -14px 14px 0 rgba(52, 73, 94, 0.06);
	-moz-box-shadow: -14px 14px 0 rgba(52, 73, 94, 0.06);
	box-shadow: -14px 14px 0 rgba(52, 73, 94, 0.06)
}
.ui-datepicker .ui-datepicker-header {
	background-color: #093755;
	color: #fff;
	cursor: default;
	margin: -7px -7px 2px;
	position: relative;
	border-radius: 6px 6px 0 0
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover {
	background-color: #0284D6
}

.ui-datepicker .ui-state-active {
	background-color: #093755;
	color: #fff
}

.ui-datepicker:before {
	content: "";
	border-color: transparent transparent #093755;
	border-style: solid;
	border-width: 0 6px 6px;
	height: 0;
	margin-top: 0;
	opacity: 1;
	position: absolute;
	left: 12px;
	top: -13px;
	width: 0;
	z-index: 10
}

.pagination ul li.active > a, .pagination ul li.active>span {
	background-color: #093755;
	color: #fff
}

.pagination ul li.active.previous > a, .pagination ul li.active.next > a, .pagination ul li.active.previous > span, .pagination ul li.active.next > span, .pagination ul li.active.previous > a:hover, .pagination ul li.active.next > a:hover, .pagination ul li.active.previous > span:hover, .pagination ul li.active.next > span:hover, .pagination ul li.active.previous > a:focus, .pagination ul li.active.next > a:focus, .pagination ul li.active.previous > span:focus, .pagination ul li.active.next>span:focus {
	background-color: #093755;
	color: #fff
}

.pagination ul li > a:hover, .pagination ul li > span:hover, .pagination ul li > a:focus, .pagination ul li>span:focus {
	background-color: #093755
}
.pagination ul li > a:active, .pagination ul li>span:active {
	background-color: #093755;
	color: #fff
}

@media (max-width: 480px) {

.pagination>.btn:first-child.btn-primary {
	border-bottom-color: #0284D6
}


.pagination>.btn+ul+.btn.btn-primary {
	border-bottom-color: #0284D6
}

}


.pagination-minimal>ul>li>a:hover, .pagination-minimal>ul>li>span:hover, .pagination-minimal>ul>li>a:focus, .pagination-minimal>ul>li>span:focus {
	background-color: #093755;
	border-color: #093755;
	color: #fff;
	-webkit-transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
	-moz-transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
	-o-transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
	transition: background .2s ease-out, border-color .2s ease-out, color .2s ease-out;
	-webkit-backface-visibility: hidden
}
.

.dropdown-menu.typeahead {
	display: none;
	opacity: 1;
	visibility: visible;
	width: auto;
	margin-top: 5px;
	border: 2px solid #093755;
	padding: 5px 0;
	background-color: #fff;
	border-radius: 6px
}

.dropdown-menu li.active > a, .dropdown-menu li.selected > a, .dropdown-menu li.active > a.highlighted, .dropdown-menu li.selected>a.highlighted {
	background: #093755;
	color: #fff
}

.dropdown-inverse li.active > a, .dropdown-inverse li.selected>a {
	background: #093755;
	color: #fff;
	position: relative;
	z-index: 1
}
.label-primary {
	background-color: #093755;
	color: #fff
}

.alert {
	color: #34495e;
	padding: 16px 45px 16px 30px;
	text-shadow: none;
	background-color: #f5fbff;
	border: 2px solid none;
	font-size: 14px;
	line-height: 1.53875em;
	border-radius: 6px;
	display: none;
}

.active .bottom-menu a, .bottom-menu a:hover, .bottom-menu a:focus {
	color: #093755
}

.nav-pills>li>a {
	background-color: #093755;
	border-left: 2px solid #16a085;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 12px 21px 13px;
	border-radius: 0
}
.nav-pills>li>a:hover, .nav-pills>li>a:focus {
	background-color: #0284D6
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
	background-color: transparent;
	border-color: transparent;
	border-bottom-color: transparent;
	outline: none;
	color: #093755
}

.nav-tabs > li .dropdown-toggle:hover .caret, .nav-tabs > li .dropdown-toggle:focus .caret {
	border-bottom-color: #093755;
	border-top-color: #093755
}

@media (max-width: 480px) {

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #093755;
	border: 2px solid #093755;
	color: #fff
}

}

.nav-list-vivid>li.active>a, .nav-list-vivid>li.active>a:hover, .nav-list-vivid>li.active>a:focus {
	background-color: #093755;
	color: #fff
}

.iconbar>ul>li.active>a {
	color: #093755
}

.iconbar>ul>li>a:hover, .iconbar>ul>li>a:focus {
	color: #093755
}

.iconbar-unread {
	background-color: #2a7aaf;
	border-radius: 50%;
	color: #fff;
	font-family: 'Lato', Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 19px;
	min-width: 18px;
	padding: 0 2px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: -2px;
	-webkit-font-smoothing: auto
}

.has-switch > div.switch-on label {
	background-color: #093755
}

header {
	margin-bottom: 12px;
	text-align: center;
	padding-top: 0 !important;
	display: none;
}

.tooltip-trigger, .popover-trigger {
	color: #093755;
	border-bottom: dotted 1px
}

#header .navbar .navbar-inner li.active {
	color: #093755
}

#features {
	background-color: #f5fbff;
	padding-bottom: 48px;
	display: none;
}

#newsletter {
	background-color: #093755
}

#amountContainer {
	background-color: #093755;
	display: none;
}

#testimonials {
	background-color: #093755
}

#footer {
	padding: 0;
	margin: 0;
	display: none;
}

#footer .bottom-menu ul.bottom-icons li a:hover, #footer .bottom-menu-inverse ul.bottom-icons li a:hover {
	color: #093755
}

#paysolContainer {
	text-align: left;
}

.popover {
	display: none;
	position: absolute;
	left: 20%;
	background-color: #B10;
	border: none;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fff;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.5);
	max-width: 999999px;
	font-family: 'Lato', Verdana, Arial, sans-serif
}

#divLeadContainer, #pDescription, #helpRow, form br, .registerLinkHolder, #customerAccounts {
	display: none;
}

body {
	padding-top: 0;
}

.paysolLogoHolder {
	width: 100%;
	text-align: center;
	display: none;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: transparent;
	border-color: none;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
	border-top-color: transparent
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
	border-bottom-color: transparent
}
p {
	font-weight: 400 !important;
	margin: 0 0 12px 0;
	padding: 0 0 24px 0
}

.panel-body {
    padding: 0 15px;
}
