<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>

	<div id="page">
    	<div id="header">
        <div class="info">
            <div class="number">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="allowFullScreen" value="false" />
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="transparent" />
					<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
				</object>
    		</div>
        </div>
        	<div class="logo"></div>
        </div>
       <div id="banner1">
            <div class="l_text_box">
             		Looking to earn an extra daily income?<br />
					Learn the secrets of making high and immediate  profits from markets movements.
					&quot;Binary Options Trading&quot; may sound complex but it is an easy and fast way to profit online.

					<br />
					<br />
					<strong>Trading is simple: </strong> <br />
					You just have to <strong>predict</strong> if the <strong>price</strong> of an asset (gold, <span class="commod">EUR/USD</span>..) will go <strong>up</strong> or <strong>down</strong> <br/>it's that simple.
					<br />Correct? You <strong>earn 70% instantly! </strong>
					<ul class="text_bullets">
					<li>No experience is required</li>
                    <li>No learning curve, suitable for everyone</li>
                    <li>Our experts are available free of charge</li>
                    <li>Affordable start - trade with as low as $100</li>
                </ul>
            </div>
            <div class="r_text_box">
               <h2>Open your free account</h2>
               <h:form id="contactForm" >
               <div class="r_text_box_content" >
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<span class="star">* </span>
							<h:outputLabel value="#{msgs['register.firstname']}:" />
							<div class="input1">
							    <h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true"
							          validator="#{commonUtil.validateEnglishLettersOnly}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                	<span class="star">* </span>
		                	<h:outputLabel value="#{msgs['register.lastname']}:" />
							<div class="input1">
							    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
									validator="#{commonUtil.validateEnglishLettersOnly}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.email']}:" />
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							<div class="input2_1"><div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
							<h:outputText styleClass="agree_text" value="I agree to receive updates and"/><br/>
							<h:outputText styleClass="agree_text" value="offers from anyoption™ "/>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<div class="submin_swf">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button2.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button2.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
        </div>
        <div id="bottom_content">
        	<div class="table_2">
   	      <img src="#{applicationData.imagesPath}/landing_Contactus/LPProffesional/testimonial-banner.jpg" width="247" height="262" /></div>
        	<div class="table_l">
            	<h2 class="table_header">Choose the market you want to trade on</h2>
                <div class="table_1_text">
                    <div class="table_column">
                        <h3>Stocks</h3>
                        Allianz<br />
                        ANZ bank<br />
                        America Movil<br />
                        Apple<br />
                        BHP Billiton Limited<br />
                        Barclays<br />
                        British Petroleum 	 	<br />
                        Check Point<br />
                        Deutsche Bank	<br />
                        Exxon Mobil<br />
                        Gazprom<br />
                        Generali<br />
                        Intel<br />
                        JPMorgan Chase<br />
                    </div>
                    <div class="table_column">
                        <h3>&#160;</h3>
                        McDonalds <br />
                        Microsoft<br />
                        Mitsubishi corp. <br />
                        Morgan Stanley<br />
                        Noble Energy<br />
                        RBS<br />
                        Santander NY	<br />
                        Straits Times<br />
                        TATA MOTOR<br />
                        Telefonica <br />
                        Toyota Motor Corp<br />
                        Turkcell <br />
                        Vodafone<br />
                        Wal-Mart<br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column">
                        <h3>Indices</h3>
                        Bombay 30<br />
                        CAC<br />
                        Dow Jones<br />
                        DAX<br />
                        DAX Future<br />
                        Dubai<br />
                        FTSE 100<br />
                        FTSE MIB<br />
                        Hang Seng<br />
                        IBEX35 (Spain)<br />
                        IPC (MEXICO)<br />
                        KLSE Future<br />
                        KOSPI<br />
                    </div>
                    <div class="table_column">
                        <h3>&#160;</h3>
                        MDAX<br />
                        Nasdaq<br />
                        Nasdaq 100 Fut<br />
                        NIKKEI 225<br />
                        PSI 20<br />
                        S&amp;P/ASX200<br />
                        S&amp;P 500<br />
                        S&amp;P Future<br />
                        SSE 180 (China)<br />
                        TECDAX<br />
                        Tadawul<br />
                        TOPIX500<br />
                        Vix<br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column currencies">
                        <h3>Currencies</h3>
                        AUD/USD<br />
                        EUR/GBP<br />
                        EUR/JPY<br />
                        EUR/USD<br />
                        GBP/JPY<br />
                        GBP/USD<br />
                        NZD/USD<br />
                        USD/CHF<br />
                        USD/JPY <br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column">
                        <h3>Commodities</h3>
                        Copper<br />
                        Gold<br />
                        Oil<br />
                        Silver <br />
                    </div>
                </div>
            </div>
		</div>
        <div id="footer">
        	<div class="icons">
            	<div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
                <input name="idstatus" type="hidden" />
                <input type="hidden" name="registrationdatefrom" />
                <input type="hidden" value="ResultsDetailed" name="transition" />
                <input type="hidden" name="selectOrderby2" />
                <input type="hidden" name="niceclassificationnumber" />
                <input type="hidden" name="indusage" />
                <input type="hidden" name="publicationdateto" />
                <input type="hidden" name="objIdappli" />
                <input type="hidden" name="objRefine" />
                <input type="hidden" name="objRefineAux" />
                <input type="hidden" name="filingdateto" />
                <input type="hidden" name="listTypeDate" />
                <input type="hidden" name="search_for_transition" />
                <input type="hidden" name="AppliRef" />
                <input type="hidden" name="application" />
                <input type="hidden" value="0" name="bAdvanced" />
                <input type="hidden" name="owner" />
                <input type="hidden" name="expirydatefrom" />
                <input type="hidden" name="entity" />
                <input type="hidden" name="objSQLBasic2" />
                <input type="hidden" value="en" name="language" />
                <input type="hidden" name="objSQLRepre" />
                <input type="hidden" name="importTradeMarkId" />
                <input type="hidden" name="ownerselect" />
                <input type="hidden" name="idappliSelected" />
                <input type="hidden" name="idstatus" />
                <input type="hidden" name="objSearchBasic" />
                <input type="hidden" name="objSQLBasic" />
                <input type="hidden" value="search_basic.jsp" name="source" />
                <input type="hidden" name="objSQLOwner" />
                <input type="hidden" name="objSQLRepre2" />
                <input type="hidden" name="selectOrderby" />
                <input type="hidden" name="representative" />
                <input type="hidden" value="1" name="printPage" />
                <input type="hidden" name="userid" />
                <input type="hidden" name="readonly" />
                <input type="hidden" name="filingdatefrom" />
                <input type="hidden" name="importctmidscriptmodule" />
                <input type="hidden" name="representativeselect" />
                <input type="hidden" name="expirydateto" />
                <input type="hidden" value="0" name="backList" />
                <input type="hidden" name="totalFound" />
                <input type="hidden" value="0" name="bRefine" />
                <input type="hidden" name="importctmidscriptmethod" />
                <input type="hidden" name="publicationdatefrom" />
                <input type="hidden" name="deno" />
                <input type="hidden" name="bRefineModify" />
                <input type="hidden" name="userCurrentAccount" />
                <input type="hidden" value="200" name="blimited" />
                <input type="hidden" name="registrationdateto" />
                <input type="hidden" name="objSQLOwner2" />
                <input type="hidden" value="8298697" name="idappli" />
                <input type="hidden" value="3" name="markorigin" />
                <input type="hidden" value="1" name="denoselect" />
                <input type="hidden" name="denoaux" />
                <input type="hidden" name="ntmark" />
                <input type="hidden" value="1" name="listType" />
                <a onclick="window.open('http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img title="anyoption's trademark information" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" /></a>
                </form>
                </div><div class="icon_space">
                <a onclick="window.open('http://www.reuters.com/','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="73" height="27" border="0" title="Expiry levels provided by Reuters" src="#{applicationData.imagesPath}/reuters.jpg" alt="" /></a>
                </div><div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Information security and coding" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/thawte.gif" /></a>
                </div><div class="icon_space">
                <img width="40" height="27" border="0" title="Use of our website is limited to customers who are 18 years of age and older" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/18.jpg" alt="" />
                </div>
            </div>
            <div class="footer_text">
            	Important risk note:
                option trading involves significant risk. We strongly advise that you read carefully all our terms and conditions
                <br/>
                before making any investments ■
                The levels we present on our site are the ones
                anyoption™ is willing to sell options at and
                <b>are not the real time market levels.</b> ■
                <br/>
                For more details about the way expiry levels are determined
                <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc" class="footer_link">click here</a>&#160;&#160; ■
                Customers must be aware of their individual capital gain tax liability in their country of residence
            </div>
        </div>
    </div>

	<div id="error_box">
	    <div class="error_message"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>