	<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>

	<div id="page">
    	<div id="header">
    	    <div class="info">
					<div class="number">
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
							<param name="allowScriptAccess" value="sameDomain" />
							<param name="allowFullScreen" value="false" />
							<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
							<param name="quality" value="high" />
							<param name="bgcolor" value="#ffffff" />
							<param name="wmode" value="transparent" />
							<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
						</object>
					</div>
				</div>
        	<div class="logo"></div>
      	</div>
        <div id="banner_ar_google">
		<div class="l_text_box_ar_google">
             <div class="title">يمكنك الحصول على أرباح تصل حتى 70% في مداوله واحده</div><br />
								ندعوك كي تتعلّم كيف تَكسبْ في هذا العالم المثير لتداول <br />
								الخيارات الثنائيّة. <br />
								<br />
								فقط قيّم  بشكل صحيح إذ كان سعر ألاصل (مثل الذهب، <br />
								EUR/USD, NASDAQ ) يتحرك ار<strong>تفاعا</strong> أم <strong>انخفاضا</strong>.<br />
								<br />
								<div class="add">حصلت عليها اليس كذلك?<br />
								إحصل فورياً على ربح بقيمة 65-71% !*
					</div><br/>
				<div>
					<p>
						<strong>
				             ألمداولة ب anyoption تتم وفقاً للشريعة الإسلآميَّة
				            <br />
				             إفتح حساب إسلآمي واستمتع بمداولة بدون رُسوم وفوائد ربويَّة
		            	 </strong>
		            </p>
	            </div>
        	<div class="text_box_2_ar">
			    <ul class="text_bullets">
				    <div><br/><br/><br/><br/></div>
								<li>لا حاجه لتوجيهات تعليميّه,  مناسب للجميع</li>
								<li>لا توجد تكاليف إعداد، ولا عمولات </li>
								<li>بداية بمبلغ معقول - ابدء بأصغر مبلغ 100$</li>
								<li>أكثر من 80 أصل محلي وعالمي</li>
			    </ul>
			</div>
		</div>
          <div class="r_text_box_ar">
          	<h:form id="contactForm" >
				<div class="r_text_box_content" >
	            	<h2 dir="rtl" style="width:200px">إملأ التفاصيل الخاصة بك:</h2>
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel value="#{msgs['register.firstname']}:"/>
							</div>
							<div class="input1">
							    <h:inputText dir="rtl" id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
							          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
	                    	<div dir="rtl" style="width:200px">
		                		<span class="star">* </span>
		                		<h:outputLabel value="#{msgs['register.lastname']}:" />
		                	</div>
							<div class="input1">
							    <h:inputText dir="rtl" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
									validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel  value="#{msgs['register.email']}:" />
							</div>
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							</div>
							<div class="input2_1"><div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:205px">
								<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree_ar" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
								<h:outputText styleClass="agree_text" value="أوافق على تلقي التحديثات والعروض من"/><br/>
								<h:outputText styleClass="agree_text" value="anyoption ™"/>
							</div>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<div class="submin_swf_ar">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_AR.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_AR.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
		</div>
		<div id="footer">
			<div class="icons">
	            	<div class="icon_space">
	            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
	                <input name="idstatus" type="hidden" />
	                <input type="hidden" name="registrationdatefrom" />
	                <input type="hidden" value="ResultsDetailed" name="transition" />
	                <input type="hidden" name="selectOrderby2" />
	                <input type="hidden" name="niceclassificationnumber" />
	                <input type="hidden" name="indusage" />
	                <input type="hidden" name="publicationdateto" />
	                <input type="hidden" name="objIdappli" />
	                <input type="hidden" name="objRefine" />
	                <input type="hidden" name="objRefineAux" />
	                <input type="hidden" name="filingdateto" />
	                <input type="hidden" name="listTypeDate" />
	                <input type="hidden" name="search_for_transition" />
	                <input type="hidden" name="AppliRef" />
	                <input type="hidden" name="application" />
	                <input type="hidden" value="0" name="bAdvanced" />
	                <input type="hidden" name="owner" />
	                <input type="hidden" name="expirydatefrom" />
	                <input type="hidden" name="entity" />
	                <input type="hidden" name="objSQLBasic2" />
	                <input type="hidden" value="en" name="language" />
	                <input type="hidden" name="objSQLRepre" />
	                <input type="hidden" name="importTradeMarkId" />
	                <input type="hidden" name="ownerselect" />
	                <input type="hidden" name="idappliSelected" />
	                <input type="hidden" name="idstatus" />
	                <input type="hidden" name="objSearchBasic" />
	                <input type="hidden" name="objSQLBasic" />
	                <input type="hidden" value="search_basic.jsp" name="source" />
	                <input type="hidden" name="objSQLOwner" />
	                <input type="hidden" name="objSQLRepre2" />
	                <input type="hidden" name="selectOrderby" />
	                <input type="hidden" name="representative" />
	                <input type="hidden" value="1" name="printPage" />
	                <input type="hidden" name="userid" />
	                <input type="hidden" name="readonly" />
	                <input type="hidden" name="filingdatefrom" />
	                <input type="hidden" name="importctmidscriptmodule" />
	                <input type="hidden" name="representativeselect" />
	                <input type="hidden" name="expirydateto" />
	                <input type="hidden" value="0" name="backList" />
	                <input type="hidden" name="totalFound" />
	                <input type="hidden" value="0" name="bRefine" />
	                <input type="hidden" name="importctmidscriptmethod" />
	                <input type="hidden" name="publicationdatefrom" />
	                <input type="hidden" name="deno" />
	                <input type="hidden" name="bRefineModify" />
	                <input type="hidden" name="userCurrentAccount" />
	                <input type="hidden" value="200" name="blimited" />
	                <input type="hidden" name="registrationdateto" />
	                <input type="hidden" name="objSQLOwner2" />
	                <input type="hidden" value="8298697" name="idappli" />
	                <input type="hidden" value="3" name="markorigin" />
	                <input type="hidden" value="1" name="denoselect" />
	                <input type="hidden" name="denoaux" />
	                <input type="hidden" name="ntmark" />
	                <input type="hidden" value="1" name="listType" />
					<img title="anyoption's trademark information" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" />
	                </form>
	                </div>
	                <div class="icon_space">
						<img width="73" height="27" border="0" title="مستويات انتهاء الصلاحية مقدمة من رويترز" src="#{applicationData.imagesPath}/reuters.jpg" alt="" />
	                </div>
	                <div class="icon_space">
	               		<a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="أمان المعلومات وتشفيرها" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/thawte.gif" /></a>
	                </div>
	                <div class="icon_space">
	              		<img width="40" height="27" border="0" title="استخدام موقع الويب الخاص بنا مقصور على العملاء الذين لا تقل أعمارهم عن 21 عاماً" src="#{applicationData.imagesPath}/landing_Contactus/21.jpg" alt="" />
	                </div>
				</div>
					<br />
						<span  dir="rtl" style=" font-size:12px; color: #333">* ملاحظة هامة عن المخاطر: التداول في الخيارات ينطوي على مخاطرة كبيرة. يمكنك الحصول على نسبة من 65-71 %  in-the-money لكل خيار أو فقدان 85 ٪ out-of-the-money  لكل متاجرة.</span>  <br />
		</div>
	</div>
	<div id="error_box">
	    <div class="error_message" ><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>