<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>

	<div id="page">
    	<div id="header">
	        <div class="info">
	            <div class="number">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
						<param name="allowScriptAccess" value="sameDomain" />
						<param name="allowFullScreen" value="false" />
						<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="wmode" value="transparent" />
						<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
					</object>
	    		</div>
	        </div>
			<div class="logo"></div>
        </div>
        <div id="banner_ar" styleClass="banner">
            <div class="l_text_box_ar"> ألتداول بالخيارات ألثنائيّة <br />
					<strong>تتيح لك ربح بنسبه تتراوح بين 65 إلى 71% في غضون دقائق.</strong><br /><br />
			  		<p style="font-size:14px">
            			فقط  <strong>توقع</strong> بشكل صحيح إذ كان سعر ألاصل <br />
		      			(بالنسبة للذهب، EUR/USD, NASDAQ ) يتحرك <strong>ارتفاعا </strong>أو <strong>انخفاضا</strong>.
	      			</p>
			<div class="bottom_line" >توقعك صحيح؟ احصل على ربح نسبته 65 إلى 71% فورا!*</div>
			<div style="font-size:14px">
				<strong>
	             ألمداولة ب anyoption تتم وفقاً للشريعة الإسلآميَّة
	            <br />
	             إفتح حساب إسلآمي واستمتع بمداولة بدون رُسوم وفوائد ربويَّة
	             </strong>
            </div>
            </div>
			<div class="l_text_box_2_ar">
				<table width="600" border="0" cellspacing="0" cellpadding="0">
               <tr>
                  <td width="65"><br /></td>
                  <td width="164" dir="rtl"><br />
                    anyoption تتيح لك مشاهدة بعض نماذج التداولات الناجحه لعملائنا.** <br /></td>
                  <td width="371"><br /></td>
                </tr>
				</table>
				<table dir="rtl" width="600" border="0" cellspacing="0" cellpadding="0">
				  <tr >
                  <td width="95" height="25">الاسم</td>
                  <td width="107" align="center" bgcolor="#E3E9F3" style=" color:#0284d6"><strong>ألربح ألصافي</strong></td>
                  <td width="124" align="center">مدة التداول </td>
                  <td width="116" align="center">مبلغ التداول</td>
                  <td width="158" align="center">الأُصول (خيار في ...) </td>
				  </tr>
				  <tr>
				  <td height="1" bgcolor="#0284d6" colspan="5"></td>
				  </tr>
				  <tr>
				    <td height="25">محمود عثمان</td>
				    <td align="center" bgcolor="#E3E9F3" style=" color:#0284d6; font-size:18px"><strong>$1,420</strong></td>
				    <td align="center">18 دقيقة</td>
				    <td align="center">$2,000</td>
				    <td align="center">NASDAQ</td>
				  </tr>
				    <tr>
				  <td height="1" bgcolor="#0284d6" colspan="5"></td>
				  </tr>
				  <tr>
				    <td height="25">أمير توفيق</td>
				    <td align="center" bgcolor="#E3E9F3" style=" color:#0284d6; font-size:18px"><strong>$2,925</strong></td>
				    <td align="center">35 دقيقة</td>
				    <td align="center">$4,500</td>
				    <td align="center">الذهب،</td>
				  </tr>
				    <tr>
				  <td height="1" bgcolor="#0284d6" colspan="5"></td>
				  </tr>
				  <tr>
				    <td height="25">محمد كمال</td>
				    <td align="center" bgcolor="#E3E9F3" style=" color:#0284d6; font-size:18px"><strong> $1,050 </strong></td>
				    <td align="center">45 دقيقة</td>
				    <td align="center">$1,500</td>
				    <td align="center">EUR/USD</td>
				  </tr>
				</table>
				<div class="white-text">.آلآف من عمليات التداول تعقد يومياً .<strong> بوسعك أنت أيضاً ان تقوم بواحده منها اليوم</strong></div>
              	<div class="disclaimer_ar">* ملاحظة هامة عن المخاطر: التداول في الخيارات ينطوي على مخاطرة كبيرة. يمكنك الحصول على نسبة من 65-71 %  in-the-money لكل خيار أو فقدان 85 ٪ out-of-the-money  لكل متاجرة.<br />
               **القصص المذكورة أعلاه حقيقيه ومبنية على مداولات حدثت بالفعل لعملاء سابقين ولقد تم تغيير هوية العملاء للحفاظ على خصوصيتهم.
				</div>
          </div>
			<div class="r_text_box_ar">
               <h:form id="contactForm" >
               <div class="r_text_box_content" >
		            	<h2 dir="rtl" style="width:200px">إملإ التفاصيل الخاصة بك:</h2>
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel value="#{msgs['register.firstname']}:" />
							</div>
							<div class="input1">
							    <h:inputText dir="rtl" id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
							          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:200px">
		                		<span class="star">* </span>
		                		<h:outputLabel value="#{msgs['register.lastname']}:" />
		                	</div>
							<div class="input1">
							    <h:inputText dir="rtl" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
									validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel  value="#{msgs['register.email']}:" />
							</div>
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							</div>
							<div class="input2_1">
								<div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:205px">
								<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree_ar" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
								<h:outputText styleClass="agree_text" value="أوافق على تلقي التحديثات والعروض من"/><br/>
								<h:outputText styleClass="agree_text" value="anyoption ™"/>
							</div>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<br/><br/>
                    		<div class="submin_swf" style="margin-top:-20px;">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_AR.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_AR.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
        </div>

        <div id="footer">
       	  <div class="icons">
            <div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
	                <input name="idstatus" type="hidden" />
	                <input type="hidden" name="registrationdatefrom" />
	                <input type="hidden" value="ResultsDetailed" name="transition" />
	                <input type="hidden" name="selectOrderby2" />
	                <input type="hidden" name="niceclassificationnumber" />
	                <input type="hidden" name="indusage" />
	                <input type="hidden" name="publicationdateto" />
	                <input type="hidden" name="objIdappli" />
	                <input type="hidden" name="objRefine" />
	                <input type="hidden" name="objRefineAux" />
	                <input type="hidden" name="filingdateto" />
	                <input type="hidden" name="listTypeDate" />
	                <input type="hidden" name="search_for_transition" />
	                <input type="hidden" name="AppliRef" />
	                <input type="hidden" name="application" />
	                <input type="hidden" value="0" name="bAdvanced" />
	                <input type="hidden" name="owner" />
	                <input type="hidden" name="expirydatefrom" />
	                <input type="hidden" name="entity" />
	                <input type="hidden" name="objSQLBasic2" />
	                <input type="hidden" value="en" name="language" />
	                <input type="hidden" name="objSQLRepre" />
	                <input type="hidden" name="importTradeMarkId" />
	                <input type="hidden" name="ownerselect" />
	                <input type="hidden" name="idappliSelected" />
	                <input type="hidden" name="idstatus" />
	                <input type="hidden" name="objSearchBasic" />
	                <input type="hidden" name="objSQLBasic" />
	                <input type="hidden" value="search_basic.jsp" name="source" />
	                <input type="hidden" name="objSQLOwner" />
	                <input type="hidden" name="objSQLRepre2" />
	                <input type="hidden" name="selectOrderby" />
	                <input type="hidden" name="representative" />
	                <input type="hidden" value="1" name="printPage" />
	                <input type="hidden" name="userid" />
	                <input type="hidden" name="readonly" />
	                <input type="hidden" name="filingdatefrom" />
	                <input type="hidden" name="importctmidscriptmodule" />
	                <input type="hidden" name="representativeselect" />
	                <input type="hidden" name="expirydateto" />
	                <input type="hidden" value="0" name="backList" />
	                <input type="hidden" name="totalFound" />
	                <input type="hidden" value="0" name="bRefine" />
	                <input type="hidden" name="importctmidscriptmethod" />
	                <input type="hidden" name="publicationdatefrom" />
	                <input type="hidden" name="deno" />
	                <input type="hidden" name="bRefineModify" />
	                <input type="hidden" name="userCurrentAccount" />
	                <input type="hidden" value="200" name="blimited" />
	                <input type="hidden" name="registrationdateto" />
	                <input type="hidden" name="objSQLOwner2" />
	                <input type="hidden" value="8298697" name="idappli" />
	                <input type="hidden" value="3" name="markorigin" />
	                <input type="hidden" value="1" name="denoselect" />
	                <input type="hidden" name="denoaux" />
	                <input type="hidden" name="ntmark" />
	                <input type="hidden" value="1" name="listType" />
	                <a onclick="window.open('http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img title="anyoption's trademark information" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" /></a>
                </form>
              </div>
              <div class="icon_space"> <img width="73" height="27" border="0" title="أمان المعلومات وتشفيرها" src="#{applicationData.imagesPath}/reuters.jpg" alt="" />
            </div>
            <div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="مستويات انتهاء الصلاحية مقدمة من رويترز" src="#{applicationData.imagesPath}/en_2/thawte.gif" /></a>
          </div>

          <div class="icon_space">
                <img width="40" height="27" border="0" title="استخدام موقع الويب الخاص بنا مقصور على العملاء الذين لا تقل أعمارهم عن 21 عاماً" src="#{applicationData.imagesPath}/landing_Contactus/21.jpg" alt="" />
          </div>
         </div>
		 <div class="footer_text" />
       </div>
    </div>
	<div id="error_box">
	    <div class="error_message"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>