<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body dir="rtl">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">خيار بنسبة أعلى للمال المُعاد</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			ونحن سعداء بأن نعلمك بأنك مؤهل لمكافأة خاصة: خيار بنسبة أعلى للمال المُعاد!.<br/><br/>

						في المرة القادمة التي تشتري بها خيارًا، ستتمتع بنسبة أعلى للمال المُعاد تبلغ 85% (بدلاً من 15%) إن كان خيارك خاسرًا!  إن انتهي خيارك رابحًا، ستحصل على العائد العادي المطبق على الخيار (65-71%).<br/><br/>

						العرض صالح حتى&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

						يرجى ملاحظة أنه عند استلام المكافأة، يجب تطبيق بعض الحدود على عمليات السحب من الحساب خاصتك كما تم التعاقد على ذلك بالبنود العامة أدناه<br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>المكافآت - البنود العامة</strong><br/>
	            جدير بالذكر أن المكافأة التي تنسب إلى حساب العميل تكون عرضة للتوافق مع بنود العرض المقدمة للعميل التي يطب منه المشاركة بعدها، على سبيل المثال إيداع الحد الأدنى و/أو شراء الحد الأدنى من الخيارات خلال فترة محددة. <br/><br/>

				ما لم يتم تحديد خلاف ذلك في بنود العرض، يكون الشرط المسبق لإجراء عمليات سحب بعد استخدام المكافأة هو بدء استثمارات بمقدار إجمالي #{facesContext.externalContext.requestParameterMap['wageringParam']} من المرات بالمقارنة مع مبلغ المكافأة.<br/><br/>

				تشجع الشركة عملاءها بأن يساهموا في العروض ولكن مع الامتناع عن إساءة استخدامها. قد يؤدي إساءة استخدام أي من العروض إلى إلغاء المكافأة والكشف عن حساب العميل على موقع الويب الخاص بالشركة.<br/><br/>

				يجب استخدام المكافآت خلال الفترة المحددة بتفاصيل العرض الخاص. عند تعذر استخدام المكافأة في غضون الإطار الزمني المحدد، فيجب سحب المكافأة من حساب العميل.<br/><br/>

				بمجرد استلام المكافئات/ الاستحقاقات، فإن العميل لديه 3 (ثلاثة) أشهر زمنية لاستكمال إجمالي مبلغ الاستثمارات المطلوبة كشرط مسبق للانسحاب. إذا لم يتم الوصول إلى إجمالي المبلغ المطلوب من الاستثمارات خلال هذه الفترة الزمنية، ستقوم الشركة بسحب مبالغ المكافئات/ الاستحقاقات من حساب العميل وفقا لتقديرها.<br/><br/>

				عندما يتداول العميل مع OPTION+ ، فانه لن يتم احتساب دورة الاستثمارات بالنسبة لشروط الامتثال القائمة، العلاوات أو الفوائد الأخرى.
				<br/><br/>

				تحتفظ الشركة بحق إلغاء المكافأة عند إساءة استخدام العرض الخاص و/أو عند تعذر تلبية بنود العرض. قرار الشركة - في هذه الحالة - يجب أن يكون نهائيا تحتفظ الشركة بحق سحب أو تغيير العروض بأي وقت دون إشعار مسبق.<br/><br/>
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</body>
</html>
