<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>فكرة صناعة الأموال الجوهرية</title>
	<style type="text/css">
		body {
			font-family: Arial, Helvetica, sans-serif;
			color:#FFF;
			text-align:right;
		}
		.make {
			font-size:18px;
			font-weight:bold;
		}
		.binary {
			font-size:14px;
			line-height:16px;
		}
		.green {
			color:#7aaf67;
			font-size:12px;
			padding-left:10px;
			font-weight:bold;
		}
		.points {
			font-size:14px;
		}
		.footer {
			font-family:Arial, Helvetica, sans-serif;
			font-size:10px;
			color:#093755;
			padding:20px;
			text-align:center;
		}
		.header {
			background:url(http://picbase.anyoption.com/images/landing/idea_header.jpg);
			background-repeat:no-repeat;
			width:800px;
			height:96px;
			color:#ffffff;
			font-family: Arial, Helvetica, sans-serif;
			font-size:13px;
			text-align:right;
		}
		.left {
			background:url(http://picbase.anyoption.com/images/landing/idea_left.jpg);
			background-repeat:no-repeat;
			white-space:281px;
			height:507px;
			background-position:left;
		}
		.body_bkgnd {
			background:url(http://picbase.anyoption.com/images/landing/body.jpg);
			background-repeat:no-repeat;
			background-position:right;
		}
	</style>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<f:view locale="#{applicationData.userLocale}">
<br/>
<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td colspan="2" class="header" width="800" height="96" >

    			<table width="600" align="right" cellpadding="0" cellspacing="0" class="header">
        	<tr>
            	 <td  height="60" align="right">خيارات المؤشر&#160;|&#160;خيارات الأسهم&#160;|&#160;خيارات الفوركس&#160;|&#160;خيارات السلع</td>
              <td width="30">&#160;</td>
            </tr>
        </table>

    </td>
  </tr>
  <tr>
    <td rowspan="2" class="left" width="281" height="507" ></td>
    <td width="519" height="138"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"><img src="http://picbase.anyoption.com/images/landing/idea_headline_ar.jpg" width="519" height="138" border="0" /></a></td>
  </tr>
  <tr valign="top">
    <td width="519" height="369" class="body_bkgnd"><table width="500" cellpadding="0" cellspacing="0" dir="rtl" align="right">
        <tr>
          <td rowspan="9" class="make" width="50">&#160;</td>
          <td class="make">هل ارتفع السوق؟ هل انخفض السوق؟ ستربح %70 في أي حال</td>

        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr>
          <td class="binary"><strong>الخيارات الثنائية هي طريقة جديدة ومثيرة لتحقيق الأرباح من الأسواق المالية دون الحاجة<br/>
 لأي خبرة تجارية.</strong></td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr><td><span class="green">»</span> <span class="points">حقق أرباح عندما ينخفض أو يرتفع السوق</span><br/>
            <span class="green">»</span> <span class="points">اكسب ما نسبته 65-71% من الأرباح من تقلُبات السوق الطفيفة</span><br/>
            <span class="green">»</span> <span class="points">أمامك 60 من الأصول لتختار من بينها </span><br/>
            <span class="green">»</span> <span class="points">لا يوجد عمولات أو رسوم</span><br/>
            <span class="green">»</span> <span class="points">طريقة بسيطة ، سهلة و مربحة</span></td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr>
          <td class="binary"><strong>أنت ببساطة تختار أحد الأصول ، تختار إطار زمني و تقرر فيما إذا كان سعر الأصول سيرتفع أم ينخفض.
الخيار يعود لك. الطريقة بسيطة.</strong></td>
        </tr>

        <tr>
          <td align="center"></td>
        </tr>
        <tr valign="bottom">
          <td height="80" align="center"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"><img src="http://picbase.anyoption.com/images/landing/opennow_ar.gif" width="260" height="59" border="0" /></a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="2" width="800" height="10" class="footer" bgcolor="#e1e1e1" > anyoption™ هي
     الشركة الرائدة في صناعة منصة التداول خيار ثنائي . تقدم أكثر من 60 في الأصول الأساسية لشراء خيار ثنائي ، <br/>
واختيار يغطي خيارات ثنائية بالمؤشر ، وخيارات ثنائية بالفوركس، وخيارات ثنائية بالأسهم والسلع.
        </td>
  </tr>
</table>
</f:view>
</body>
</f:view>