<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">

<ui:define name="content">

	#{user.goAdmin}

	<t:panelTabbedPane align="center"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="4">

	 <t:panelTab id="adminissues" label="#{msgs['menu.issues']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/issues.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="adminchargebacks" label="#{msgs['menu.chargebacks']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/adminChargebacks.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <!--<t:panelTab rendered="true" id="pendingwithdraws" label="#{msgs['menu.pendingwithdraws']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/pendingwithdraws.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>-->

    <t:panelTab id="admininvestments" label="#{msgs['menu.investments']}" >
	    #{applicationData.initInvestmentsForm}
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/adminInvestments.jsf?refresh=true&amp;admin=true" width="100%" height="140%"></iframe>
    </t:panelTab>

    <t:panelTab id="dailyInvestments" label="#{msgs['menu.daily.investments']}" rendered="#{writer.writer.id == 346}">
      	#{applicationData.initDailyInvestmentsForm}
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/dailyInvestments.jsf?refresh=true&amp;admin=true" width="100%" height="750px"></iframe>
    </t:panelTab>

   <!--<t:panelTab id="transactions" label="#{msgs['menu.transactions']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/transactions.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>-->

    <t:panelTab id="admintemplates" label="#{msgs['menu.templates']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/templates.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="ccblacklist" label="#{msgs['menu.ccblacklist']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/ccblacklist.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="clicks" label="#{msgs['menu.clicks']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/clicks.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="newaccounts" label="#{msgs['menu.newaccounts']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/newaccounts.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

    <t:panelTab id="calcalistInvestors" label="#{msgs['menu.calcalist.investor']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/admin/calcalistInvestors.jsf?refresh=true&amp;admin=true" width="100%" height="100%"></iframe>
    </t:panelTab>

   	<t:panelTab id="risk" label="#{msgs['menu.risk']}" >
   		<t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

		    <t:panelTab id="allRisk" label="#{msgs['menu.all.risk.issues']}" >
		    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/admin/riskIssues.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>

		    <t:panelTab id="userRisk" label="#{msgs['menu.user.risk.issues']}" >
		    	<iframe name="content" id="content" scrolling="yes" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/admin/riskUsersFiles.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>

		</t:panelTabbedPane>
    </t:panelTab>

</t:panelTabbedPane>

</ui:define>
</ui:composition>

</html>