<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
    </script>

    <h:panelGroup >

        <h:form id="chargebackForm">

			<t:saveState id="chargeBack" value="#{chargeBack}" />

   			<h:panelGrid >
   				<h:panelGrid border="0" columns="2" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}">
	                <h:outputText value="#{msgs['register.username']}"/>
	                <h:outputText styleClass="data_display" value="#{chargeBack.userName}"/>

	                <h:outputText value="#{msgs['register.accountid']}"/>
	                <h:outputText styleClass="data_display" value="#{chargeBack.userId}"/>

	                <h:outputText value="#{msgs['register.firstname']}"/>
	                <h:outputText styleClass="data_display" value="#{chargeBack.userFirstName}"/>

	                <h:outputText value="#{msgs['register.lastname']}"/>
	                <h:outputText styleClass="data_display" value="#{chargeBack.userLastName}"/>
				</h:panelGrid>

				<h:panelGrid border="0" columns="2">
	                <h:outputText rendered="#{chargeBack.id>0}" value="#{msgs['chargebacks.id']}"/>
	                <h:outputText rendered="#{chargeBack.id>0}" value="#{chargeBack.id}" styleClass="data_display"> </h:outputText>

					<h:outputLabel for="state" value="#{msgs['chargebacks.state']}"/>
	              	<h:panelGrid border="0" columns="2">
	               		<h:selectOneMenu id="state" value="#{chargeBack.state}" required="true" disabled="#{chargeBack.id>0 &amp;&amp; chargeBack.chbState}"
	               				valueChangeListener="#{chargeBack.updateState}"
               					onchange="this.form.submit();">
	               			<f:selectItems value="#{writer.chbStates}" />
	               		</h:selectOneMenu>
	            		<t:message id="stateError" for="state" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputLabel for="timeStateChanged" value="#{msgs['chargebacks.time.state.changed']}" rendered="#{chargeBack.stateChangedBefore}"/>
					<h:panelGrid border="0" columns="1" rendered="#{chargeBack.stateChangedBefore}">
						<h:inputText id="timeStateChanged" readonly="true" styleClass="input_text" value="#{chargeBack.timeStateChanged}" maxlength="10" size="8" dir="ltr">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
					</h:panelGrid>

	                <h:outputText value="#{msgs['chargebacks.transactionid']}"/>
	                <h:outputText styleClass="data_display" value="#{chargeBack.transactionId}"> </h:outputText>

	                <h:outputText value="#{msgs['chargebacks.amount']}"/>
	                <h:outputText styleClass="data_display" value="#{transactionFormater.getCBAmountTxt(chargeBack)}"> </h:outputText>

					<h:outputText value="#{msgs['chargebacks.timecreated']}"/>
	                <h:outputText styleClass="data_display" escape="false" value="#{transactionFormater.getCBTimeCreatedTxt(chargeBack)}"> </h:outputText>

	                <h:outputText value="#{msgs['chargebacks.writer']}"/>
	                <h:outputText styleClass="data_display" value="#{chargeBack.writer}"> </h:outputText>

                    <h:outputText value="#{msgs['chargebacks.arn']}"/>
                    <h:panelGrid columns="2">
	                    <h:outputText value="#{chargeBack.arn}" rendered="#{chargeBack.id > 0}" styleClass="data_display" > </h:outputText>
		                <h:inputText id="arn" value="#{chargeBack.arn}" rendered="#{chargeBack.id == 0}" styleClass="input_text" size="8" validator="#{chargebackForm.validateDigits}" />
		                <t:message id="arnError" for="arn" styleClass="error"/>
		          	</h:panelGrid>

					<h:outputLabel for="timePos" value="#{msgs['chargebacks.time.pos']}"/>
					<h:panelGrid border="0" columns="1" rendered="#{chargeBack.id > 0}">
						<h:inputText id="timePosOld" readonly="true" styleClass="input_text" value="#{chargeBack.timePos}" maxlength="10" size="8" dir="ltr">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
					</h:panelGrid>
					<h:panelGrid border="0" columns="3" rendered="#{chargeBack.id == 0}">
						<h:inputText id="timePos" styleClass="input_text"  value="#{chargeBack.timePos}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timePos'],'anchor1','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
				    	<A href="#" onClick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timePos'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="timePosError" for="timePos" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputLabel for="timeChb" value="#{msgs['chargebacks.time.chb']}"/>
					<h:panelGrid border="0" columns="3">
						<h:inputText styleClass="input_text" id="timeChb" value="#{chargeBack.timeChb}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timeChb'],'anchor2','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
				    	<A HREF="#" onClick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timeChb'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="timeChbError" for="timeChb" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputLabel for="timeRep" value="#{msgs['chargebacks.time.rep']}"/>
					<h:panelGrid border="0" columns="3">
						<h:inputText styleClass="input_text" id="timeRep" value="#{chargeBack.timeRep}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timeRep'],'anchor3','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
				    	<A HREF="#" onClick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timeRep'],'anchor3','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor3" ID="anchor3">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="timeRepError" for="timeRep" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputLabel for="timeSettled" value="#{msgs['chargebacks.time.settled']}"/>
					<h:panelGrid border="0" columns="3">
						<h:inputText styleClass="input_text" id="timeSettled" value="#{chargeBack.timeSettled}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timeSettled'],'anchor4','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					    </h:inputText>
				    	<A HREF="#" onClick="cal.select(document.forms['chargebackForm'].elements['chargebackForm:timeSettled'],'anchor4','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor4" ID="anchor4">
			       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				        </A>
						<t:message id="timeSettledError" for="timeSettled" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputLabel for="statusId" value="#{msgs['chargebacks.status']}"/>
	              	<h:panelGrid border="0" columns="2">
	               		<h:selectOneMenu id="statusId" value="#{chargeBack.statusId}" required="true" >
	               			<f:selectItems value="#{writer.chargebackStatusesSI}" />
	               		</h:selectOneMenu>
	            		<t:message id="statusIdError" for="statusId" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

	            	<h:outputLabel for="newComments" value="#{msgs['issues.actions.comments']}"/>
	            	<h:panelGrid border="0" columns="2">
		          		<h:inputTextarea id="newComments" value="#{chargeBack.description}" escape="false" required="true" cols="50" rows="3" >
	   			           			<f:validateLength  maximum="2000"/>
	        	   		</h:inputTextarea>
	            		<t:message id="commentsError" for="newComments" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>

					<h:panelGrid rendered="#{chargeBack.id == 0}" style="text-align:left" columns="1" border="0" width="60%" >
						<t:commandButton
			         		id="btnImage"
			         		image="/images/submit_u.jpg"
			         		onmouseover="Changepic('chargebackForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
			         		onmouseout="Changepic('chargebackForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
			         		onclick="gowait('chargebackForm:btnImage','chargebackForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
			         				 return myfaces.oam.submitForm('chargebackForm','chargebackForm:hiddenDeposit');" >
			         	</t:commandButton>
			         	<h:commandLink
			         	    id="hiddenDeposit"
						    action="#{chargebackForm.insertChargeBack}"
						    style="display:none">
					   </h:commandLink>
			        </h:panelGrid>
			        <h:panelGrid rendered="#{chargeBack.id > 0}" style="text-align:left" columns="1" border="0" width="60%" >
						 <t:commandLink action="#{chargebackForm.updateChargeBack}">
				                <h:outputText value="#{msgs['button.save']}" />
				  		 </t:commandLink>
			        </h:panelGrid>
				</h:panelGrid>
           	</h:panelGrid>


        </h:form>

    </h:panelGroup>


</html>