<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goAdmin}

    <t:saveState value="#{NewAccountsForm}" />

    <h:panelGroup >

		<h:form id="NewAccountsForm">

          <h:panelGrid columns="1" border="0" width="100%">

        	<h:panelGrid border="0" columns="8">

          	<h:outputLabel for="from" value="#{msgs['newaccounts.from']}"/>
			<h:panelGrid border="0" columns="3">
				<h:inputText styleClass="input_text" id="from" value="#{NewAccountsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['NewAccountsForm'].elements['NewAccountsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['NewAccountsForm'].elements['NewAccountsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	        <h:outputLabel for="to" value="#{msgs['newaccounts.to']}"/>
			<h:panelGrid border="0" columns="3">
  			  <h:inputText styleClass="input_text" id="to" value="#{NewAccountsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['NewAccountsForm'].elements['NewAccountsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		      </h:inputText>
		      <A HREF="#" onClick="cal.select(document.forms['NewAccountsForm'].elements['NewAccountsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
	       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	          </A>
			  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputText value="#{msgs['newaccounts.campaigns']}"/>
			<h:panelGrid>
               		<h:selectOneMenu id="campaignName" value="#{NewAccountsForm.campaignId}"  >
               			<f:selectItems value="#{writer.allMarketingCampaignsBySkinsLongSI}" />
	               	</h:selectOneMenu>
			</h:panelGrid>

			<t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" rendered="#{!user.supportSelected &amp;&amp; writer.skinsSize>1}"/>
	     	<t:selectOneMenu id="skinId" value="#{NewAccountsForm.skinId}" rendered="#{!user.supportSelected &amp;&amp; writer.skinsSize>1}" >
	        	<f:selectItems value="#{writer.skinsAndEmptySI}" />
	        </t:selectOneMenu>

		   </h:panelGrid>

		   <h:panelGrid columns="10">
	   	        <t:outputLabel  for="depositsStatus" value="#{msgs['newaccounts.hasDeposits']}" rendered="#{!user.supportSelected &amp;&amp; writer.skinsSize>1}"/>
		     	<t:selectOneMenu id="depositsStatus" value="#{NewAccountsForm.depositsStatus}" rendered="#{!user.supportSelected &amp;&amp; writer.skinsSize>1}" >
		        	<f:selectItems value="#{writer.depositsStatusAllSI}" />
		        </t:selectOneMenu>

		        <h:outputLabel for="amountAbove" value="#{msgs['investments.invAmount']}" />
				<h:inputText id="amountAbove" value="#{NewAccountsForm.amountAbove}" >
					<f:validateLongRange />
    				<f:validateLongRange minimum="0" />
				</h:inputText>
				<t:message id="amountAboveError" for="amountAbove" replaceIdWithLabel="true" styleClass="error"/>

                <t:outputLabel value="#{msgs['investments.invAmountBelow']}" />
				<h:inputText id="amountBelow" value="#{NewAccountsForm.amountBelow}" label="#{msgs['investments.invAmountBelow']}" >
					<f:validateLongRange />
    				<f:validateLongRange minimum="0" />
				</h:inputText>
				<t:message id="amountBelowError" for="amountBelow" replaceIdWithLabel="true" styleClass="error"/>

		        <t:outputLabel  for="currencies" value="#{msgs['investments.currency']}" />
	     		<t:selectOneMenu id="currencies" value="#{NewAccountsForm.currencyId}"  >
	        		<f:selectItems value="#{writer.currencySI}" />
	        	</t:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid columns="10">
	   	        <t:outputLabel  for="countryId" value="#{msgs['newaccounts.countries']}" />
		     	<t:selectOneMenu id="countryId" value="#{NewAccountsForm.countryId}" >
		        	<f:selectItems value="#{NewAccountsForm.countriesSI}" />
		        </t:selectOneMenu>

	   	        <t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" rendered="#{!user.supportSelected &amp;&amp; writer.skinsSize>1}"/>
		     	<t:selectOneMenu id="skinBCId" value="#{NewAccountsForm.skinBusinessCaseId}" rendered="#{!user.supportSelected &amp;&amp; writer.skinsSize>1}">
		        	<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        </t:selectOneMenu>

 	      	   <t:outputLabel  for="verifiedUsersFilter" value="#{msgs['newaccounts.verified.users']}" />
		     	<t:selectOneMenu id="verifiedUsersFilter" value="#{NewAccountsForm.verifiedUsersFilter}"  >
		        	<f:selectItems value="#{writer.yesNoAllSI}" />
		        </t:selectOneMenu>

			   	<t:outputText value="#{msgs['assign.writer.name']}"/>
		        <t:selectOneMenu id="writerId" value="#{NewAccountsForm.writerId}">
				   		<f:selectItems value="#{NewAccountsForm.writerFilterList}" />
			   	</t:selectOneMenu>

		        <h:panelGrid border="0" width="5px" />

				 <t:commandLink action="#{NewAccountsForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
	  			 </t:commandLink>
			</h:panelGrid>

   		      <h:outputText styleClass="general_message" rendered="#{NewAccountsForm.newAccountsListSize==0}"
  		   				value="#{msgs['newaccounts.emptylist']}"/>

		   <t:dataTable
		   		id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{NewAccountsForm.newAccountsList}"
           >

           <h:column rendered="#{!user.supportSelected}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.userID']}"/>
               </f:facet>
               <t:commandLink rendered="#{!user.supportSelected}" action="#{user.selectUserNoPopUpById}" immediate="true" >
				    <h:outputText value="#{v.userID}" />
       			    <f:setPropertyActionListener target="#{user.id}" value="#{v.userID}" />
               </t:commandLink>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.username']}"/>
               </f:facet>
			   <h:outputText value="#{v.username}" />
			   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{v.specialCare.image}" rendered="#{v.specialCare.specialCare}" border="0"/>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.createdate']}"/>
               </f:facet>
			   <h:outputText value="#{v.registrationDateTxt}" escape="false" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.campaignName']}"/>
               </f:facet>
			   <h:outputText value="#{v.campaignName}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.campaignId']}"/>
               </f:facet>
			   <h:outputText value="#{v.campaignId}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.hasDeposits']}"/>
               </f:facet>
 			   <h:outputText value="#{v.hasDepositsTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.amount']}"/>
               </f:facet>
 			   <h:outputText value="#{v.depositStatusForAmoutDisplay}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['newaccounts.currency']}"/>
               </f:facet>
 			   <h:outputText value="#{v.currencySymbol}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['userstrip.countryname']}"/>
               </f:facet>
 			   <h:outputText value="#{v.country}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['userstrip.skinname']}"/>
               </f:facet>
 			   <h:outputText value="#{v.skin}" />
           </h:column>


        </t:dataTable>

           <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{NewAccountsForm.newAccountsListSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

            </h:panelGrid>

		   </h:panelGrid>

        </h:form>



    </h:panelGroup>

</ui:define>
</ui:composition>

</html>