@charset "utf-8";
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Close RESET */

/* Elements */
body {
	background:url(../images/bg.jpg) #FFF 10px 532px repeat-x;
	color:#333;
	font-family: Tahoma, Arial, Helvetica, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, STXihei, "华文细黑", sans-serif;
}
h1 {
	color:#f40d00;
	font-size:40px;
	text-align:center;
	padding-top:25px;
	font-weight:bold;
}
h2 {
	font-size:27px;
	font-weight:bold;
	color:#2c3d47;
}
h3 {
	font-size:14px;
	font-weight:bold;
	padding-bottom:17px;
}
p {
	padding-bottom:20px;
	font-size:12px;
	line-height:16px;
}
/* Close Elements */

/* layout */
.bg_middle {
	position:absolute;
	top:770px;
	left:0;
	height:560px;
	width:100%;
	background:#e9e9e9 url(../images/shadow.jpg) bottom left repeat-x;
	z-index:1;
}
.bg_form {
	width:1084px;
	height:208px;
	background:url(../images/bg_form.png) top left;
	position:absolute;
	top:656px;
	left:-42px;
}
.page {
	width:998px;
	margin:0 auto;
	position:relative;
	z-index:3;
}
.logo {
	padding-top:7px;
	height:83px;
	width:100%;
}
.main {
	width:100%;
	background:url(../images/main_image.png) no-repeat 0 169px;
}
.ul_top_section {
	float:right;
	width:500px;
	padding-top:45px;
	position:relative;
}
.ul_top_section ul li {
	padding:9px 0px 9px 80px;
	margin:26px 0 0;
	background:url(../images/bullet.jpg) top left no-repeat;
	font-size:24px;
	line-height:24px;
	color:#2c3d47;
	display:block;
	text-decoration:none;
	position:relative;
}
.ul_top_section ul li.second {
	background-position:center left;
}
.ul_top_section ul li.third {
	background-position:bottom left;
}
.ul_top_section ul li span {
	color:#f40d00;
	font-size:17px;
	line-height:18px;
	padding-top:4px;
	padding-bottom:0;
	margin:0;
	display:block;
}
.disclaimer_top {
	width:390px;
	position:absolute;
	color:#333;
	left:80px;
	font-size:10px;
	line-height:14px;
	bottom:-50px;
}
.top_li_line {
	width:500px;
	height:13px;
	background:url(../images/line_top_ul.png) top center;
	position:absolute;
	bottom:-14px;
}
ul.bottom_list {
	width:100%;
	margin-top:376px;
}
ul.bottom_list li {
	width:444px;
	float:left;
	border-bottom:1px dotted;
	text-decoration:none;
	padding:6px 0 6px 26px;
	background:url(../images/tick.png) no-repeat left center;
}
ul.bottom_list li.left_items {
	margin-right:58px;
}
.clear {
	clear:both;
}
.content-bottom {
	width:100%;
	padding-top:65px;
	padding-bottom:56px;
}
#dynamicHeader {
	padding:0;
	margin:0;
}
/* Close layout */

/* Form */
form {
	padding:62px;
	color:#6d0e19;
	font-size:20px;
}
.form_cl, .form_cl2, .form_cl3, .form_cl4, .submin_swf {
	float:left;
	width:172px;
	margin-right:8px;
}
.submin_swf {
	width:184px;
	padding-top:8px;
}
.form_cl3 {
	width:220px;
}
.input1, .input2, .input3, .input4 {
	background:url(../images/input_bg.png) top left;
	margin-top:6px;
	margin-bottom:6px;
}
.input2 {
	width:50px;
	float:left;
	margin-right:4px;
	background:url(../images/input2_bg.png) top left;
}
.input2 input {
	width:38px;
	border:none;
	margin:0;
}
.input3 {
	width:160px;
	float:left;
}
input {
	padding:6px;
	width:160px;
	margin:0;
	border:0;
	background:none;
}
input#agree {
	width:13px;
}
.input3 input {
	width:148px;
	float:left;
	background:url(../images/input3.png) top left;
}
.agree {
	float: left;
	margin-right:8px;
	color:#7a7a7a;
}
.agree_text {
	color:#333;
	font-size:11px;
}
.secured {
	color: #333;
	font-size: 11px;
	background: transparent url(../images/icon-security.png) no-repeat left top;
	padding-left: 20px;
	height: 15px;
	float: left;
	margin-right:18px;
}
.error	{ background-position:0 -28px;}
/* Close form */

/* Footer */
#footer {
	background: url(../images/bg_footer.png) top left repeat-x;
	text-align: center;
	width: 100%;
	position:relative;
	z-index:99;
	padding: 0;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	padding: 20px 0 15px 316px;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 10px 0;
	line-height: 16px;
	position: relative;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.icon_space form {
	padding:0;
}
/* close Footer */

/* Regulation  */
#footer .icons { border:none; }
#footer .icons-container {
  width: 975px;
  margin:0 auto;
}
#footer .regulated {
 width: 975px;
 font-size:14px;
 height: 40px;
 margin: 25px auto 0;
 border-bottom: solid 1px #e5e5e5;
 padding-bottom:10px;
 padding-top:30px;
 color:#898989;
}
.reg-logo {float:right; background: url(../images/regulated-logo.jpg) no-repeat; height:67px; padding:5px 0 0 68px; position:absolute; right:0; top:6px;}
.reg-logo p { font-size:20px; padding:16px 0px 0 0}
#footer .regulated img {
 float:right;
 margin-top:7px;
 margin-left:8px;
}
#footer .regulated p {
 float:left;
 padding-top:10px;
}
#footer .regulated div { margin:0 auto;}
/* Close regulation  */

/* Error */
#error_box		{display:none;position:absolute; z-index:100; top: 30%; background: #eabd76 no-repeat left top; width: 250px; overflow:hidden; text-align:center; border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px; color:#6d0e19;}
.error_button	{background: transparent url(../images/form_full_alret_button.png) no-repeat left top; width: 80px; height:48px; margin: 0 auto; margin-bottom:15px; cursor: pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin: auto;
opacity: 0.4;
filter: alpha(opacity = 20);
position: fixed;
top:0;
width:100%;
z-index:99;
}

/* Close error */