﻿<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div class="withdraw_popUp container" id="ao_hp_turk_popup">
		
		<div class="withdraw_popUp_content inner" style="background-image: url(https://anyoption-picbase.s3.amazonaws.com/ao_hp_turk_popup.jpg);background-size: cover;width: 552px;height: 348px;">
				<i class="reg_log_close_img" onclick="gd_closePopUp('ao_hp_turk_popup')"></i>
				<div class="main_title">
					<h1 style="font-size:16px;line-height:20px;padding:40px 70px 30px;font-weight:bold; ">
						Dear,
					</h1>
					<h2 style="font-size:13px;line-height:18px;padding: 0px 70px;">
						Please note that as of 15th November 2016, you will not be able to trade with anyoption from your current jurisdiction.
						<br /><br />
						Please email support at <a style="color: #02a1dc; font-weight:400;" href="mailto:support@anyoption.com">support@anyoption.com</a> or call 902129880247/ 864001203105 should you have any questions.
						<br /><br />
						Best Regards,<br />
						anyoption customer support team
					</h2>
				</div>
		</div>
	</div>
</f:view>