<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">


<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landing_campaign.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<title>etrader Landing</title>
</head>

<t:inputHidden id="temp" value="#{applicationData.bannerSaveClick}"/>

<body>

<t:saveState value="#{contactMeForm}" />

<table width="644" border="0" cellpadding="0" cellspacing="0" align="center"  >
      <tr>
    	 <td colspan="4" background="http://picbase.etrader.co.il/landing/images/etrader.jpg" width="644" height="103" valign="top">
             </td>
                 </tr>
        <tr>
           <td background="http://picbase.etrader.co.il/landing/images/nxtbnr.jpg" width="15" height="266" valign="top" >
               </td>
                <!--FLASH BANNER GOES HERE -->
           <td>
                  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="300" height="266">
                                    <param name="movie" value="http://picbase.etrader.co.il/landing/landingmovie.swf" />
                                    <param name="quality" value="high" />
                                    <embed src="http://picbase.etrader.co.il/landing/landingmovie.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="300" height="266"></embed>
                  </object>
                       </td>
          <td background="http://picbase.etrader.co.il/landing/images/txt.jpg" width="313" height="266" valign="top">
          					  <div class="headline" align="center" dir="rtl"><br/>
                    etrader, זירת המסחר באופציות דיגיטליות הראשונה בישראל, מאפשרת לך לנצל את התנודות בשווקים לרווחים מהירים. <br/>
                    בלחיצת כפתור אחת תוכל לרכוש אופציות Call או Put על מדדים, מניות, סחורות ומטבעות - ולהשיג רווחים  גבוהים בשעה, ביום, בשבוע או בחודש. הבחירה שלך<br/>
                 				 </div>
                    				  </td>

          <td  background="http://picbase.etrader.co.il/landing/images/nxtxt.jpg" width="16" height="266">
                                     </td>
       								 </tr>

    	<td colspan="4" background="http://picbase.etrader.co.il/landing/images/lowergray.jpg" width="466" height="9">
        		</td>
 	  <tr>
       <td colspan="4" background="http://picbase.etrader.co.il/landing/images/bottom.jpg"  width="644"  height="155">
   <!-- Start the lower table -->
      <table background="http://picbase.etrader.co.il/landing/images/bottom.jpg"  width="644"  height="155" cellpadding="0" cellspacing="0" border="0">
  <tr height="155" align="center">
    <td width="11px" height="130"></td>

    <td style="cursor:pointer">
    	<div class="site">
     		<img src="http://picbase.etrader.co.il/landing/images/gotosite.gif"
			       	  onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/index.jsf', 'demopopup', 'scrollbars=1,resizable=1,location=1,menubar=1,toolbar=1,width='+screen.width+',height='+screen.height);" />

	    </div>
	   </td>

    <td width="5px"></td>
    <!-- contact me -->
    <td>

	    

		<table id="Table_01" width="273" height="130" border="0" cellpadding="0" cellspacing="0" ><h:form id="contactMeForm" >
		<tr>
			<td colspan="4">
				<img src="http://picbase.etrader.co.il/landing/contactme/images/lp_contactus_01.jpg" width="273" height="41" alt="" /></td>
		</tr>

		<tr bgcolor="#f6f6f6"  valign="top">
			<td rowspan="6" valign="top">
				<img src="http://picbase.etrader.co.il/landing/contactme/images/woman.jpg" width="76" height="89" alt="" /></td>
			<td>
				<h:inputText dir="rtl" styleClass="contactme_input_text_name" id="contactName" value="#{contactMeForm.contactName}"></h:inputText>
			</td>
			<td>
				<img src="http://picbase.etrader.co.il/landing/contactme/images/name.jpg" width="65" height="19" alt="" /></td>
			<td rowspan="6" valign="top">
				<img src="http://picbase.etrader.co.il/landing/contactme/images/contactus_05.jpg" width="22" height="89" alt="" /></td>
		</tr>
		<tr bgcolor="#f6f6f6" align="right">
			<td align="right">
				<h:panelGrid columns="2" cellspacing="0">
                	<h:selectOneMenu styleClass="contactme_input_text_phone_number_combo" id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}">
		        		<f:selectItem  itemLabel="" itemValue="" />
       					<f:selectItems value="#{applicationData.mobilePref}" />
	               	</h:selectOneMenu>
	               	<h:inputText size="10" styleClass="contactme_input_text_phone_number" dir="ltr" id="mobilePhone"
		           			   	   	maxlength="7" value="#{contactMeForm.mobilePhone}">
			       	</h:inputText>
				</h:panelGrid>
			</td>

			<td>
				<img src="http://picbase.etrader.co.il/landing/contactme/images/cell.jpg" width="65" height="19" alt="" /></td>
		</tr>
		<tr bgcolor="#f6f6f6">
			<td width="110" height="14" >
				<h:outputText value="#{commonUtil.firstErrorMessage}" rendered="#{commonUtil.hasErrorMessages}" styleClass="contactme_error_messages_bold" />
			</td>
			<td rowspan="3" valign="top">
				<img src="http://picbase.etrader.co.il/landing/contactme/images/underfone.jpg" width="65" height="47" alt="" /></td>
		</tr>
		<tr  width="110" height="29" bgcolor="#f6f6f6">
			<td>
			<t:commandButton
				dir="rtl"
				id="button"
				image="/images/send_btn.gif"
  				onclick="gowait('contactMeForm:button','contactMeForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         				 return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');" >
			</t:commandButton>
			<h:commandLink action="#{contactMeForm.sendContactEmailCampaign}"
 				id="hiddenbtn" style="display:none"/>
			</td>
		</tr>

		<tr>
			<td height="6" valign="top"><img src="http://picbase.etrader.co.il/landing/contactme/images/border.jpg" width="110" height="4" alt="" /></td>
		</tr>
		</h:form>
	</table>


</td>
    <!-- contact me ends -->
    <td width="5px"></td>
    <td style="cursor:pointer">
    	<div class="demo"><img src="http://picbase.etrader.co.il/landing/images/gotodemo.gif"
			onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/landing_demo.jsf', 'demopopup', 'scrollbars=1,resizable=0,location=1,menubar=1,toolbar=1,width='+screen.width+',height='+screen.height);" />
		</div>
    </td>
    <td width="11px"></td>
  </tr>
</table>

 </td>
 </tr>
 <tr>
 </tr>
 <tr>
 	<td valign="top" colspan="4" >
 		<div style="padding:10px; direction:rtl; text-align:center; color:gray;">etrader: זירת מסחר באופציות דיגיטליות על שערי מטבעות, מדדי בורסות, שערי מניות ומחירי סחורות. etrader מציעה תשואה של 65-71 אחוזי רווח על חיזוי נכון של אופציית call או put כשבאופן אוטומטי כל רכישה של אופציה מעניקה אופציה הפוכה, ללא תמורה, שמגנה על 15% מגובה ההשקעה.
	    </div>
    </td>
 </tr>
</table>
</body>
</html>