<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">


<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landing_campaign.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<title>etrader Landing</title>
</head>


<body>

<!-- Begin AdsMarket Lead Tracking code -->
<script src="http://network.adsmarket.co.il/cpx?script=1&amp;programid=4181&amp;campaignid=1193&amp;action=lead&amp;p1=#{facesContext.externalContext.requestParameterMap['phone']}" type="text/javascript">
</script>
<!-- End AdsMarket Lead Tracking code -->

<table width="644"  border="0" cellpadding="0" cellspacing="0" align="center"  >
      <tr>
    	 <td colspan="4" background="http://picbase.etrader.co.il/landing/etrader.jpg" width="644" height="103" valign="top">
             </td>
                 </tr>
        <tr>
           <td background="http://picbase.etrader.co.il/landing/nxtbnr.jpg" width="15" height="266" valign="top" >
               </td>
                <!--FLASH BANNER GOES HERE -->
           <td>
                  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="300" height="266">
                                    <param name="movie" value="http://picbase.etrader.co.il/landing/landingmovie.swf" />
                                    <param name="quality" value="high" />
                                    <embed src="http://picbase.etrader.co.il/landing/landingmovie.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="300" height="266"></embed>
                  </object>
                       </td>
          <td background="http://picbase.etrader.co.il/landing/txt.jpg" width="313" height="266" valign="top">
          					  <div class="headline" align="center" dir="rtl"><br/>
                    etrader, זירת המסחר באופציות דיגיטליות הראשונה בישראל, מאפשרת לך לנצל את התנודות בשווקים לרווחים מהירים. <br/>
                    בלחיצת כפתור אחת תוכל לרכוש אופציות Call או Put על מדדים, מניות, סחורות ומטבעות - ולהשיג רווחים  גבוהים בשעה, ביום, בשבוע או בחודש. הבחירה שלך<br/>
                 				 </div>
                    				  </td>

          <td  background="http://picbase.etrader.co.il/landing/nxtxt.jpg" width="16" height="266">
                                     </td>
       								 </tr>

    	<td colspan="4" background="http://picbase.etrader.co.il/landing/lowergray.jpg" width="466" height="9">
        		</td>
 	  <tr>
       <td colspan="4" background="http://picbase.etrader.co.il/landing/bottom.jpg"  width="644"  height="155">
   <!-- Start the lower table -->
      <table background="http://picbase.etrader.co.il/landing/bottom.jpg"  width="644"  height="155" cellpadding="0" cellspacing="0" border="0">
  <tr height="155" align="center">
    <td width="11px" height="130"></td>

    <td style="cursor:pointer">
    	<div class="site">
     		<img src="http://picbase.etrader.co.il/landing/gotosite.gif"
			       	 onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/index.jsf', 'demopopup', 'scrollbars=1,resizable=1,location=1,menubar=1,toolbar=1,width='+screen.width+',height='+screen.height);" />

	    </div>
	   </td>

    <td width="5px"></td>
    <!-- contact me -->
    <td>
    <div>

	    

		<h:form id="contactMeForm" >

		<table id="Table_01" width="273" height="130" border="0" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/landing/contactCamSucc.jpg">
			<tr><td></td></tr>
		</table>

    </h:form>

    </div></td>
    <!-- contact me ends -->
    <td width="5px"></td>
    <td style="cursor:pointer">
    	<div class="demo">
    		<img src="http://picbase.etrader.co.il/landing/gotodemo.gif"
	       	  onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/landing_demo.jsf', 'demopopup', 'scrollbars=1,resizable=0,location=1,menubar=1,toolbar=1,width='+screen.width+',height='+screen.height);" />
		</div>
    </td>
    <td width="11px"></td>
  </tr>
</table>

 </td>
 </tr>
 <tr>
 </tr>
  <tr>
 	<td valign="top" colspan="4" >
 		<div style="padding:10px; direction:rtl; text-align:center; color:gray;">etrader: זירת מסחר באופציות דיגיטליות על שערי מטבעות, מדדי בורסות, שערי מניות ומחירי סחורות. etrader מציעה תשואה של 65-71 אחוזי רווח על חיזוי נכון של אופציית call או put כשבאופן אוטומטי כל רכישה של אופציה מעניקה אופציה הפוכה, ללא תמורה, שמגנה על 15% מגובה ההשקעה.
	    </div>
    </td>
 </tr>
</table>
</body>
</html>