<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landing_campaign.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<title>etrader Landing</title>


</head>
<t:inputHidden id="temp" value="#{applicationData.bannerSaveClick}"/>


<body>

<t:saveState value="#{contactMeForm}" />
<h:form id="contactMeForm" >
<table 	width="772"   border="0" cellpadding="0" cellspacing="0" align="center" >
<tr>
<td  background="#{facesContext.externalContext.requestContextPath}/images/landing/dream_men.jpg" width="772" height="308"   align="center" valign="top" >
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="772" height="308" id="student" align="middle">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="allowFullScreen" value="false" />
    <param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/landing/dream_men.swf" /><param name="quality" value="high" />
    <param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
    <embed src="#{facesContext.externalContext.requestContextPath}/images/landing/dream_men.swf"
    quality="high" wmode="transparent" bgcolor="#ffffff" width="772" height="308"
    name="#{facesContext.externalContext.requestContextPath}/images/landing/dream_men" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
    </object>
</td></tr>
<tr>
<td background="#{facesContext.externalContext.requestContextPath}/images/landing/men2.jpg" width="772" height="226"   align="center" valign="top" >

<table 	width="772"   border="0" cellpadding="0" cellspacing="0" align="center" >
<tr><td height="55"></td></tr>
<tr>
<td width="510" align="center" valign="top">
<table 	width="510"   border="0" cellpadding="0" cellspacing="0" align="center" >
<tr>
<td height="40">
</td></tr>
<tr>


<td align="right">


<img src="#{facesContext.externalContext.requestContextPath}/images/landing/amk2.gif"
	 onmouseover="this.src='#{facesContext.externalContext.requestContextPath}/images/landing/amk1.gif'" border="0"
	 onmouseout="this.src='#{facesContext.externalContext.requestContextPath}/images/landing/amk2.gif'"
	 onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/demo_trade.jsf', 'demopopup', 'menubar=1,resizable=0,target=new,width=770,height=500');"
	 style="cursor:hand;"
	 />

</td>
<td width="10"></td>


<td align="left">

<a href="#{facesContext.externalContext.requestContextPath}/">
<img src="#{facesContext.externalContext.requestContextPath}/images/landing/amb2.gif"
 	 onmouseover="this.src='#{facesContext.externalContext.requestContextPath}/images/landing/amb1.gif'" border="0"
	 onmouseout="this.src='#{facesContext.externalContext.requestContextPath}/images/landing/amb2.gif'"/>
           </a>

</td>
<td width="15"></td>
</tr>
</table>
</td>
<td width="140" height="100%"   align="center" valign="top">
<table  id="Table_01" width="140" height="100%" border="0" cellpadding="0" cellspacing="0">



		<tr valign="top">
			<td align="left">
			<table border="0" cellspacing="0">
				<td>
					<h:inputText dir="rtl" styleClass="contactme_input_text_name" id="contactName" value="#{contactMeForm.contactName}"></h:inputText>
				</td>
				<td>
					<img src="#{facesContext.externalContext.requestContextPath}/images/landing/dream_name.jpg" width="65" height="19" />
				</td>
			</table>
			</td>
		</tr>
		<tr>
			<td  align="left">
			<table  border="0" cellspacing="0">
			<tbody>
			<tr><td>
				<h:panelGrid columns="2" cellspacing="0">
                	<h:selectOneMenu styleClass="contactme_input_text_phone_number_combo" id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}">
		        		<f:selectItem  itemLabel="" itemValue="" />
       					<f:selectItems value="#{applicationData.mobilePref}" />
	               	</h:selectOneMenu>
	               	<h:inputText size="10" styleClass="contactme_input_text_phone_number" dir="ltr" id="mobilePhone"
		           			   	   	maxlength="7" value="#{contactMeForm.mobilePhone}">
			       	</h:inputText>
				</h:panelGrid>
				</td>
				<td align="left">
					<img src="#{facesContext.externalContext.requestContextPath}/images/landing/dream_cell.jpg" width="65" height="19" />
				</td>

			</tr>
            </tbody>
            </table>
			</td>
		</tr>
		<tr ><td height="20">
			<h:outputText value="#{commonUtil.firstErrorMessage}" rendered="#{commonUtil.hasErrorMessages}"  styleClass="contactme_error_messages_bold" />
		</td></tr>

		<tr>
			<td colspan="2">
				<t:commandButton
					dir="rtl"
					id="button"
					image="/images/landing/button.gif"
	  				onclick="return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');" >
				</t:commandButton>
				<h:commandLink action="#{contactMeForm.sendContactEmailWSDreamCampaign}"
	 				id="hiddenbtn" style="display:none"/>
			</td>
		</tr>


	</table>
	<td width="70"    align="center" valign="top"></td></td>
</tr>
</table>
</td>
</tr>
</table>
</h:form>
</body>
</html>