@charset "utf-8";
/* etrader general CSS Document */

html { background-color: #eaeaea; }

body {
	background: #000 url(../images/footer-bg.jpg) repeat-x left bottom;
	margin: 0px auto; 
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	z-index: 100;
    
}

#content {
	z-index: -100;
	width: 100%;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat top center;
	margin: 0 auto;
	border-top: #566764 solid 13px;
	}
	
#page {
	width: 865px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
img {
	border: none;
}
#header {
	height: 60px;
	text-align: right;
}
.logo {
	margin: 35px 15px 0 0;
}
.main_text {
	direction: rtl;
	font-size: 16px;
	height: 340px;
	color: #fff;
	padding-left: 318px;
	margin-right: 15px;
	line-height: 16px;
}
.main_text_hader {
	font-weight: bold;
	font-size: 16px;
}
.form_box {
	direction: rtl;
	width: 210px;
	padding: 55px 49px 0;
	position: absolute;
	top: -13px;
	background: url(../images/form_bk.png) no-repeat;
	height: 330px;
	z-index: 10;
	margin-left: -15px;
}
.form_box h3 {
	margin: 0px 0 10px;
	line-height: 20px;
	color: #000;
	font-size: 19px;
}
.input1 {
}
.form_box .input1 input {
	width: 130px;
	height: 20px;
	color: #7f7f7f;
	float: left;
	border: medium none;
	padding-top: 4px;
	background: #d8dee6;
}
.label {
	height: 25px;
	background: #54585b;
	color: #fff;
	font-size: 12px;
	margin-bottom: 5px;
	line-height: 24px;
}
.form_box .input2 {
	width: 45px;
	height: 25px;
	background: #d8dee6;
	float: left;
	border-right: 3px solid #FFF;
}
.form_box .input2 .noborder {
	width: 42px;
	height: 18px;
	overflow: hidden;
	position: relative;
	margin-top: 4px;
	margin-right: 2px;
}
.form_box .input2 select {
	width: 47px;
	color: #7f7f7f;
	left: 4px;
	position: relative;
	top: -1px;
	border: none;
	background: #d8dee6;
}
.form_box .input3 input {
	color: #7F7F7F;
	border: medium none;
	padding-top: 4px;
	background: #d8dee6;
	float: left;
	height: 20px;
	/*margin-left: 1px;*/
	width: 82px;
}
.input_checkbox {
	font-size: 12px;
}
.checkbox_line {
	height: 22px;
	color: #566764;
}
.lock_line {
	color: #566764;
	margin-top: -1px;
}
.lock_line img {
	margin-right: 5px;
	margin-top: 2px;
}
.table_s {
	margin-top: -20px;
	margin-right: -15px;
}
#bottom_boxs {
	color: #4B5C59;
	font-size: 14px;
	z-index: 30;
	position: relative;
	width: 100%;
}
.testm_box {
	float: right;
	position: relative;
	margin-left: 12px;
}

.testm_box_left {
	float: right;
	position: relative;
	margin: 0;
}

.box1 {
	background: url(../images/testimonials_box1.jpg) no-repeat;
	width: 279px;
	margin: 0;
}
.box2 {
	background: url(../images/testimonials_box2.jpg) no-repeat;
	margin-left: 11px;
}
.box3 {
	background: url(../images/testimonials_box3.jpg) no-repeat;
	margin-left: 11px;
}
.testm_box .text {
	color: #fff;
	font-size: 11px;
	padding: 10px 15px;
	position: absolute;
	text-align: right;
	top: 140px;
}
.testm_box .name {
	color: #fff;
	font-size: 15px;
	padding: 0 15px;
	position: absolute;
	width: 250px;
	text-align: right;
	top: 288px;
}

#footer { height:100%; width: 100%; padding: 10px 0 0 0; background: #eaeaea; }

.testm_footer {
	width: 865px; margin: 0 auto;
	direction: rtl;
	font-size: 11px;
	color: #566764;
	padding: 15px 0 20px 0;
	background: #eaeaea;
}
#footer .icon_box {
	width: 865px; margin: 0 auto;
	background: #eaeaea;
	height: 38px;
	overflow: hidden;
}
#footer .icon {
	float: left;
	margin: 5px 23px 0;
}
#footer .tw {
	float: left;
	margin: 5px 35px 0;
}
.fdf {
	float: left;
	margin: 2px 24px 0;
}
#footer .footer_text {
	margin-bottom: 5px;
	direction: rtl;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #566764;
	text-align: center;
}
.footer_link:link {
	color: #4B5C59;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
.footer_link:hover {
	color: #990020;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-decoration: underline;
}
#error_box {
	display: none;
	position: absolute;
	z-index: 100;
	top: 200px;
	background: url(../../images/form_full_alret_bk.jpg) no-repeat;
	width: 250px;
	height: 150px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top: 30px;
	height: 50px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold;
}
.error_button {
	background: url(../../images/form_full_alret_button.png) no-repeat;
	width: 80px;
	height: 48px;
	margin: 0 auto;
	cursor: pointer;
	position: absolute;
	top: 90px;
	left: 85px;
}
.error input {
	border: 1px #FF0000 solid !important;
}
#Overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
