<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noodp,noydir" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/mobile/landing_etrader_globes_mobile.css" />

</head>

<body>
	<f:view>
		<div id="page">
	        <div class="logo">
	            <img src="#{facesContext.externalContext.requestContextPath}/images/landing/mobile/LP_etrader_globes_mobile/etrader_logo.png" alt="Etrader" />
	        </div>
	        <div id="main_box">
	        	<div class="title_image">
	            <img src="#{facesContext.externalContext.requestContextPath}/images/landing/mobile/LP_etrader_globes_mobile/img_Paper.png" alt="Etrader" />
	            </div>
	            <div class="date">
	            	גלובס, 8.9.2011
	            </div>
	            <div class="main_text">
	            	<h1>
	                	הצטרף לאלפי לקוחותינו שמשקיעים ונהנים מהתנודות בשווקי הארץ והעולם
	                </h1>
	                <p>
	                	למד להרוויח <span>70% תשואה</span> בפחות משעה <span>גם בשוק עולה וגם בשוק יורד</span>
	                </p>
	            </div>
	        </div>
	        <div class="form_box">
			        <h4>תודה!</h4>
	                <p class="ty_text">נציגנו יצור עימך קשר בהקדם</p>
			    </div>
	    </div>
	    <h:panelGroup rendered="#{applicationData.isLive &amp;&amp; applicationData.combinationId == '10563'}">
			<!-- Offer Conversion: eTrader_Mobile -->
				<iframe src="https://atommedia.go2jump.org/aff_l?offer_id=380&amp;adv_sub=contactIdParam" scrolling="no" frameborder="0" width="1" height="1"></iframe>
			<!-- // End Offer Conversion -->
	    </h:panelGroup>
    </f:view>
</body>
</html>