
<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<div id="page">
        <div class="logo">
            <img src="#{facesContext.externalContext.requestContextPath}/images/landing/mobile/LP_#{page}/etrader_logo.png" alt="Etrader" />
        </div>
        <div id="main_box">
        	<div class="main_text">
				<h1> גם אתה יכול להרוויח <span dir="ltr" style="color:#566764;">₪1,000</span> לשעה. <span>בקלות.</span> </h1>
				<p> למד להרוויח <span>70% תשואה</span> בפחות משעה <span>גם בשוק עולה וגם בשוק יורד</span> </p>
		    </div>
		    <div id="box">
				<p> אני מרוויח <span dir="ltr" style="color:#a91f06;font-size: 100%;">₪5,000</span>
				בכמה דקות. בלי לטוס. </p>
				<p> <span>יוני, טייס, תל אביב</span> </p>
    		</div>
        </div>
        <h:form id="contactForm">
	        <div class="form_box">
		        <h3>שלח פרטיך וניצור קשר:</h3>
				<h:panelGroup id="mainTable">
			        <div id="first_name" class="regForm_labelAndField_wrap">
			        	<h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
				        	validator="#{commonUtil.validateLettersOnly}" >
				        </h:inputText>
				        <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
			        	<h:outputLabel>&#160;שם פרטי</h:outputLabel>
			        </div>

			        <div id="last_name" class="regForm_labelAndField_wrap">
			            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
			                             validator="#{commonUtil.validateLettersOnly}" >
			            </h:inputText>
			            <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
			        	<h:outputLabel>&#160;שם משפחה</h:outputLabel>
			        </div>

			        <div id="email" class="regForm_labelAndField_wrap">
			            <h:inputText rendered="#{email_validation != 'false'}" name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
				    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
			    	    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
			            </h:inputText>
			            <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
			            <h:inputText rendered="#{email_validation == 'false'}" name="email1" dir="ltr" maxlength="50" id="email1" value="#{contactUsForm.email}"
			            	 label="#{msgs['register.email']}" />
						<t:message id="email_Error1" style="display:none;" for="email1" replaceIdWithLabel="true" styleClass="error_messages"/>
						<h:outputLabel>&#160;#{msgs['register.email']}</h:outputLabel>
			        </div>

			        <div id="phone2" class="regForm_labelAndField_wrap">
			        	<h:outputLabel>&#160;#{msgs['register.mobilephone']}</h:outputLabel>
				        <div id="mobilePhonePref" class="select">
				        	<h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
				        		<f:selectItem  itemLabel="" itemValue="" />
				        		<f:selectItems value="#{applicationData.mobilePref}" />
				        	</h:selectOneMenu>
				        	<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="Minimum amount should be 100"/>
				        </div>
			        	<div id="mobilePhone" class="input">
				       	   	<h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
				        	  	<f:validateLength minimum='7' maximum='7'/>
				        	  	<f:validateLongRange/>
				        	</h:inputText>
							<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
			        	</div>
		        	</div>

		        	<div id="link_post">
					    <div class="link_post"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
					    <div class="link_post" ></div>
					</div>

			        <div class="submit_button">
			            <t:commandButton id="savelink" image="/images/landing/mobile/LP_#{page}/bttn_Form.png" alt="קבל מידע נוסף"
							    	onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/landing/mobile/LP_#{page}/bttn_Form.png');
							 		return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
			         	</t:commandButton>
			         	<h:commandLink action="#{contactUsForm.handleLandingMobileContact}" id="hiddenbtn" style="display:none"/>
			        </div>
			    </h:panelGroup>
		    </div>
	    </h:form>
    </div>
</f:view>