<f:view dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>

<style>
	.footer_text {width:970px; height:auto; margin:6px auto; clear:both; overflow:hidden; line-height:20px; text-align: left !important; }
	.footer_message {width:970px; height:auto; margin:6px auto; clear:both; overflow:hidden; line-height:20px; text-align: left !important;}
	.f2.2 {color:#093755; text-decoration: none; text-align:left; float:left;}
	.f2.2:hover {color:#e9800f; text-decoration: none; }
</style>

<!-- Begin Table -->
<table border="0" cellpadding="0" cellspacing="0" width="970px" height="136">
	<tr>
		<td width="970px" height="136">
			<table border="0" cellpadding="0" cellspacing="0" width="970px" height="136">
				<tr>
					<td width="970px" height="27">
						<table dir="ltr" align="left">
							<tr width="970px" height="27" valign="middle">
								<td  class="footer_link" valign="middle">
									<form name="ctmSubmit"  method="post" target="_blank" action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg">
										<input type='hidden' name='idstatus' value='*' />
										<input type='hidden' name='registrationdatefrom' value='' />
										<input type='hidden' name='transition' value='ResultsDetailed' />
										<input type='hidden' name='selectOrderby2' value='' />
										<input type='hidden' name='niceclassificationnumber' value='' />
										<input type='hidden' name='indusage' value='' />
										<input type='hidden' name='publicationdateto' value='' />
										<input type='hidden' name='objIdappli' value='' />
										<input type='hidden' name='objRefine' value='' />
										<input type='hidden' name='objRefineAux' value='' />
										<input type='hidden' name='filingdateto' value='' />
										<input type='hidden' name='listTypeDate' value='' />
										<input type='hidden' name='search_for_transition' value='' />
										<input type='hidden' name='AppliRef' value='' />
										<input type='hidden' name='application' value='' />
										<input type='hidden' name='bAdvanced' value='0' />
										<input type='hidden' name='owner' value='' />
										<input type='hidden' name='expirydatefrom' value='' />
										<input type='hidden' name='entity' value='' />
										<input type='hidden' name='objSQLBasic2' value='' />
										<input type='hidden' name='language' value='en' />
										<input type='hidden' name='objSQLRepre' value='' />
										<input type='hidden' name='importTradeMarkId' value='' />
										<input type='hidden' name='ownerselect' value='' />
										<input type='hidden' name='idappliSelected' value='' />
										<input type='hidden' name='idstatus' value='' />
										<input type='hidden' name='objSearchBasic' value='' />
										<input type='hidden' name='objSQLBasic' value='' />
										<input type='hidden' name='source' value='search_basic.jsp' />
										<input type='hidden' name='objSQLOwner' value='' />
										<input type='hidden' name='objSQLRepre2' value='' />
										<input type='hidden' name='selectOrderby' value='' />
										<input type='hidden' name='representative' value='' />
										<input type='hidden' name='printPage' value='1' />
										<input type='hidden' name='userid' value='' />
										<input type='hidden' name='readonly' value='' />
										<input type='hidden' name='filingdatefrom' value='' />
										<input type='hidden' name='importctmidscriptmodule' value='' />
										<input type='hidden' name='representativeselect' value='' />
										<input type='hidden' name='expirydateto' value='' />
										<input type='hidden' name='backList' value='0' />
										<input type='hidden' name='totalFound' value='' />
										<input type='hidden' name='bRefine' value='0' />
										<input type='hidden' name='importctmidscriptmethod' value='' />
										<input type='hidden' name='publicationdatefrom' value='' />
										<input type='hidden' name='deno' value='' />
										<input type='hidden' name='bRefineModify' value='' />
										<input type='hidden' name='userCurrentAccount' value='' />
										<input type='hidden' name='blimited' value='200' />
										<input type='hidden' name='registrationdateto' value='' />
										<input type='hidden' name='objSQLOwner2' value='' />
										<input type='hidden' name='idappli' value='8298697' />
										<input type='hidden' name='markorigin' value='3' />
										<input type='hidden' name='denoselect' value='1' />
										<input type='hidden' name='denoaux' value='' />
										<input type='hidden' name='ntmark' value='' />
										<input type='hidden' name='listType' value='1' />
									</form>
								</td>
								<td class="footer_link">
									<div id="bank">
										<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bank.jpg" alt="#{msgs['CMS.footer.alt.home_page.bank.jpg']}" border="0" usemap="#Map" width="970px" />
										<map name="Map" id="Map">
											<area shape="rect" coords="1,1,129,35" href="http://www.icbc.com.cn/" />
											<area shape="rect" coords="146,2,273,34" href="http://www.ccb.com/" />
											<area shape="rect" coords="291,0,421,35" href="http://www.abchina.com" />
											<area shape="rect" coords="443,3,573,37" href="http://www.psbc.com/ " />
											<area shape="rect" coords="593,5,720,37" href="http://www.bankcomm.com/" />
											<area shape="rect" coords="734,3,862,35" href="http://www.cmbchina.com/" />
											<area shape="rect" coords="876,4,1000,36" href="http://www.boc.cn/" />
										</map>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>

					<td><div id="line"></div></td>
				</tr>
				<tr>
					<td width="970px" height="83"><br />
						<table border="0" cellpadding="0" cellspacing="0" width="970px" height="83">
							<tr align="left">
								<td width="970px" height="83" valign="middle" align="left" >
								  <span>
									  <div>
										<div id="disclaimer_footer" >
											<h:outputText escape="false" value="#{msgs['CMS.footer.text.t1']}"/>
											<a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc">#{msgs['CMS.footer.label.l1']}</a> &#9632;
											<h:outputText escape="false" value="#{msgs['CMS.footer.text.t2']}"/>

											<!--
											<h2 align="left" style="padding:0px;margin:0px; color:#093755; font-size:12px; text-align:left;" >
												<h:outputText value="#{msgs['CMS.footer.text.message.affiliates.program.partners']}"/>
											</h2>
			        						<h:panelGroup rendered="#{applicationData.skinId != 10}">
												<h:outputFormat style="width:970px; height:auto; margin:6px auto; clear:both; overflow:hidden; line-height:20px; text-align: left !important; font-size:12px;" escape="false" value="#{msgs['footer.message.affiliates.home_page']}">
			        								<f:param value="http://affiliates.anyoption.com/" />
			        							</h:outputFormat>
			        						</h:panelGroup>
			        						-->
			        						&#160;
										</div>
										<!--  -->
										<div align="center" style="width:960px; height:auto; float:none; margin:auto; clear:both; line-height:32px; text-align:center; padding: 0 5px; font-size:12px;" border="0">
		  								   	<h:outputLink rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"
														target="_top" class="footer_link_new">
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.aboutus']}"/>
											</h:outputLink> |&#160;
		  								  	<h:outputLink keyword="二元期权 期货期权_股指期权_外汇期权_看涨期权_看跌期权" rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
														target="_top"  class="footer_link_new">
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.contact.us']}"/>
											</h:outputLink> |&#160;
		  								   	<h:outputLink keyword="二元期权 期货期权_股指期权_外汇期权_看涨期权_看跌期权" rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}"
														target="_top" class="footer_link_new" >
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.general.terms']}"/>
											</h:outputLink> |&#160;
		  								   	<h:outputLink keyword="二元期权 期货期权_股指期权_外汇期权_看涨期权_看跌期权" rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}"
														target="_top" class="footer_link_new" >
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.security']}"/>
											</h:outputLink> |&#160;
		  								   	<h:outputLink keyword="二元期权 期货期权_股指期权_外汇期权_看涨期权_看跌期权" rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}"
														target="_top" class="footer_link_new">
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.privacy']}"/>
											</h:outputLink> |&#160;
											<!--
			        						<h:panelGroup rendered="#{applicationData.skinId != 10}">
												<a  href="http://affiliates.anyoption.com" class="footer_link_new" title="Binary Options Affiliate Program" alt="Binary Options Affiliate Program"><h:outputText value="#{msgs['CMS.footer.label.affiliates']}"/></a> |
			        						</h:panelGroup>
			        						 -->
		  								   	<h:outputLink keyword="二元期权 期货期权_股指期权_外汇期权_看涨期权_看跌期权" rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/press.jsf')}"
														target="_top" class="footer_link_new">
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.press']}"/>
											</h:outputLink> |&#160;
		  								  	<h:outputLink keyword="二元期权 期货期权_股指期权_外汇期权_看涨期权_看跌期权" rel="nofollow" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"
														target="_top" class="footer_link_new" >
													<h:outputText escape="false" value="#{msgs['CMS.footer.label.menuStrip.faq']}"/>
											</h:outputLink>
									  	</div>
									  	<!--END    -->
									   <br/>
									  </div>
								  </span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr><td></td></tr>
			</table>
		</td>
	</tr>
</table>

<h:panelGroup rendered="false" >
	<script type='text/javascript'>
		var Referral = '90';
		var User = 'anyoption';
		var Width = 446;
		var Height = 444;
		var ActivationMethod = 1;
		var UseCookie = true;
		var UsePromo = true;
		var UseDarkScreen = true;
		var PopUpWindowBorderColor = 'White';
		var DownloadLink = "#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}?&amp;chat_id=";
	</script>
	<script type='text/javascript' src='http://vsp-online.com/vsp.js'></script>
</h:panelGroup>

<h:panelGroup rendered="false" >
	<script type="text/javascript">
		var Referral = '80';
		var User = 'anyoption';
		var Width = 446;
		var Height = 444;
		var ActivationMethod = 1;
		var UseCookie = true;
		var UsePromo = true;
		var UseDarkScreen = true;
		var PopUpWindowBorderColor = 'White';
		var DownloadLink = "#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}?&amp;chat_id=";
		var LanguageFlow = true;
		var Language = "es";
	</script>
	<script type='text/javascript' src='http://vsp-online.com/vsp.js'></script>
</h:panelGroup>

<!-- #{applicationData.serverPrefixName} -->
<!-- End Table -->

<script>
	if (window.navigator.userAgent.match(/Chrome/)) {
		var objects = document.getElementsByTagName('object');
		for (var i = 0, m = objects.length; i &lt; m; i++) {
		    objects[i].style.display = "";
		}
	}
</script>
</f:view>