
+
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<table bgcolor="#ffffff" id="myaccount_submenu" cellpadding="0" cellspacing="0" width="176px" align="#{applicationData.pageAlignment}">
	<c:if test="${withdrawForm.isHaveCcForWithdrawal}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='ccWithdrawal'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			<td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
		 	<td valign="middle" class="myAccount_menu_sub_td">
		  	  <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/creditCard_withdraw.jsf" target="_top" class="${class}" >
					<h:outputText value="#{msgs['header.page.credit.withdraw']}"/>
				</h:outputLink>
	    	</td>
	   </tr>

		<h:panelGroup rendered="#{(withdrawForm.withdrawalMoreOptionNeeded || applicationData.skinId == 11) &amp;&amp; withdrawForm.cupMaxAmountWithdraw  &lt;=0}" >
			<tr>
				<c:set var="class" value="myAccount_menu_stripe_link_10"/>
				<c:set var="classArrow" value="not_visible"/>
				<c:if test="${std=='wire'}">
					<c:set var="classArrow" value="visible"/>
					<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				</c:if>

				 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
				 <td valign="middle" class="myAccount_menu_sub_td">
				    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.tlvPath}pages/wire.jsf"
														target="_top" class="${class}" >
							<h:outputText rendered="#{applicationData.skinId != 11}"  value="#{msgs['header.wire']}"/>
							<h:outputText rendered="#{applicationData.skinId == 11}"  value="#{msgs['header.withdraw.cheque']}"/>
					</h:outputLink>
			    </td>
			</tr>
		</h:panelGroup>
</c:if>

	<c:if test="${!withdrawForm.isHaveCcForWithdrawal &amp;&amp; withdrawForm.cupMaxAmountWithdraw  &lt;=0}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='wire'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 <td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.tlvPath}pages/wire.jsf"
													target="_top" class="${class}" >
							<h:outputText rendered="#{applicationData.skinId != 11}"  value="#{msgs['header.wire']}"/>
							<h:outputText rendered="#{applicationData.skinId == 11}"  value="#{msgs['header.withdraw.cheque']}"/>
				</h:outputLink>
		    </td>
		</tr>
	</c:if>

	<c:if test="#{withdrawForm.cupMaxAmountWithdraw  &gt;0 }" >
			<tr>
				<c:set var="class" value="myAccount_menu_stripe_link_10"/>
				<c:set var="classArrow" value="not_visible"/>
				<c:if test="${std=='CupWithdrawal'}">
					<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
					<c:set var="classArrow" value="visible"/>
				</c:if>
	
				<td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			 	<td valign="middle" class="myAccount_menu_sub_td">
			  	  <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deltaPayChina_withdraw.jsf" target="_top" class="${class}" >
						<h:outputText value="#{msgs['transactions.deltapay.withdraw']}"/>
					</h:outputLink>
		    	</td>
		   </tr>
   </c:if>

   <h:panelGroup rendered="#{applicationData.haveWebMoneyWithdrawalOption &amp;&amp; applicationData.skinId == 10}" >
	   <tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='withdrawalWebMoney'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			<td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
		 	<td valign="middle" class="myAccount_menu_sub_td">
		  	  <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/webMoney_withdraw.jsf" target="_top" class="${class}" >
					<h:outputText value="#{msgs['payment.type.web.money']}"/>
				</h:outputLink>
	    	</td>
	   </tr>
   </h:panelGroup>

   <h:panelGroup rendered="#{applicationData.haveMonetaWithdrawalOption &amp;&amp; applicationData.skinId == 10 &amp;&amp; user.currencyId != 6}" >
	   <tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='withdrawalMoneta'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>

			<td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
		 	<td valign="middle" class="myAccount_menu_sub_td">
		  	  <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/moneta_withdraw.jsf" target="_top" class="${class}" >
					<h:outputText value="#{msgs['payment.type.moneta']}"/>
				</h:outputLink>
	    	</td>
	   </tr>
	</h:panelGroup>
	
	<h:panelGroup rendered="#{applicationData.showBaroPayPaymentMethod &amp;&amp; !withdrawForm.ccWithdrawalEnabled  &amp;&amp; withdrawForm.haveBaroPaySuccessDeposit}" >
		<tr>
          	<c:set var="class" value="myAccount_menu_stripe_link_10"/>
          	<c:set var="classArrow" value="not_visible"/>
         	<c:if test="${std=='withdrawBaropay'}">
	            <c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
	            <c:set var="classArrow" value="visible"/>
         	</c:if>

         	<td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
        	<td valign="middle" class="myAccount_menu_sub_td">
	           	<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/baroPay_withdraw.jsf" target="_top" class="${class}" >
	            	<h:outputText value="#{msgs['header.baropay']}"/>
	            </h:outputLink>
            </td>
		</tr>
	</h:panelGroup>      
	
</table>
</f:view>