<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>var skinId = #{applicationData.skinId};</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <c:set var="keywords" value="#{msgs['anyoption.keywords']}"/> <!-- default -->
	<ui:insert name="keyWordsNew"></ui:insert>
    <c:set var="metaDesc" value="#{msgs['anyoption.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <ui:insert name="innerPages"></ui:insert>
    <META NAME="description" content="${metaDesc}"/>
    <META NAME="keywords" content="${keywords}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
    <ui:include src="/jsp/head_css_js.xhtml" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>
	<c:set var="showLPStaticButton" value="false" /> <!-- default -->
	<ui:insert name="showStaticLivePersonButton"></ui:insert>

	<style>
		.ticker_table_chinese{ margin: 0px;background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/button_up.png);background-repeat: repeat-x;border-width: 0px 0px 0px 0px;border-style: none none none none;}
		.ttab { float: left; width: 685px;}
		#line {width:970px; height:3px; background:#093755; margin:6px auto; clear:both; overflow:hidden; margin-left:0px; }
	</style>
</head>

<body dir="#{applicationData.pageDirection}" onload="changeHeaderWidth()" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bg.jpg" style="background-repeat:no-repeat;">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script>
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
</script>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<f:view locale="#{applicationData.userLocale}">

<script>
	var context_path = "#{facesContext.externalContext.requestContextPath}";
</script>
<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>

<script>
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
</script>
<ui:insert name="selected" />

<c:set var="topBanner" value="defualt"></c:set>
<ui:insert name="topBannerChange" />
<c:set var="contactBanner" value="defualt"></c:set>
<ui:insert name="contactBannerChange" />


<script>
	document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};

		function changeHeaderWidth(){
		var pageStr =  document.location+'' ;
		if(
		   pageStr.indexOf('investments.jsf') > 0 ||pageStr.indexOf('deposit.jsf') > 0 ||
		   pageStr.indexOf('newCard.jsf') > 0 || pageStr.indexOf('cards.jsf') > 0 ||
		   pageStr.indexOf('wireDeposit.jsf') > 0 || pageStr.indexOf('wire.jsf') > 0 ||
		   pageStr.indexOf('reverseWithdraw.jsf') > 0 || pageStr.indexOf('transactions.jsf') > 0 ||
		   pageStr.indexOf('personal.jsf') > 0 || pageStr.indexOf('changePass.jsf') > 0 || pageStr.indexOf('contactus.jsf') > 0
		   || pageStr.indexOf('cc_delete_approve.jsf') > 0 || pageStr.indexOf('receipt.jsf') > 0
		   || pageStr.indexOf('bankWire_approve.jsf') > 0 || pageStr.indexOf('withdraw_approve.jsf') > 0
		   || pageStr.indexOf('myaccount_empty_withdrawal.jsf') > 0 || pageStr.indexOf('creditCard_withdraw.jsf') > 0
		   || pageStr.indexOf('myaccount_empty_pass.jsf') > 0 || pageStr.indexOf('termsNextInvest.jsf') > 0
		   || pageStr.indexOf('editCard.jsf') > 0 || pageStr.indexOf('personal.jsf') > 0 || pageStr.indexOf('firstNewCard.jsf') > 0
		   || pageStr.indexOf('envoyDeposit.jsf') > 0 )
					document.getElementById('secure_table').style.display="inline";
	}
</script>

<table align="center" width="970"  border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <td width="970" height="80" align="center" valign="top">
        	<iframe scrolling="no" id="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/headerContent.jsf" width="970" height="80"></iframe>
        </td>
    </tr>
    <tr>
		<td height="26px" width="970px">
				<ui:include src="/jsp/tickerWrapper_zh.xhtml"></ui:include>
		</td>
	</tr>

    <tr>
     <td class="table_no_up_border">
		<table class="white_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8"><td></td></tr>
		    <tr>
		    <td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" class="gray_background">
		                <tr>
		                    <td colspan="5">
           						<ui:insert name="message"></ui:insert>
		                    </td>
		                </tr>
		                <tr>
		                <td colspan="5">
				           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" class="gray_background"> <!--  MENU STRIP table -->
				             <tr class="menu_stripe">
				             	<td width="16" height="38px">&#160;</td>
				                <td align="#{applicationData.pageAlignment}" class="menu_underline_align">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
				                		<ui:param name="isHomePage" value="false" />
				                	</ui:include>
				                </td>
								<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" style="border-bottom:1px dotted black;" >&#160;</td>
				                <td width="16" class="menu_underline">&#160;</td>
				                <td width="140" align="right" height="48" valign="bottom" rowspan="1">
									<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
				                </td>
				                <td width="23" style="border-bottom:1px dotted black;">&#160;</td>
				                <td width="16" >&#160;</td>
				             </tr>
				             <tr height="2">
				             	<td width="16" style="font-size:1px;">&#160;</td>
			             		<td colspan="4" class="menu_underline2" style="font-size:1px">&#160;</td>
				             	<td width="23" style="border-bottom:1px dotted black;font-size:1px">&#160;</td>
				             	<td width="16" style="font-size:1px;">&#160;</td>
				             </tr>
				             <tr>
			                	<td height="8" width="775" colspan="4" style="font-size:1px;">&#160;</td>
			                	<td height="8" width="39px" colspan="2" style="font-size:1px;">&#160;</td>
			                </tr>
				           </table>
				           </td>
		                </tr>

		                <tr>
		                	<td width="16">&#160;</td>
		                    <td valign="top" width="720">
								<table width="720" height="536" border="0" style="" cellpadding="0" cellspacing="0" align="center">
			 			        	<c:set var="showHeaderRow" value="true" /> <!-- default -->
			 			        	<ui:insert name="showHeaderRow"></ui:insert>
			 			        	<c:if test="${showHeaderRow}">
				 			        	<tr height="31px">
					 			        	<td width="160px" class="header_pages"><ui:insert name="title"></ui:insert></td>
					 			        	<td  height="31px" width="12px" valign="middle" class="header_pages_separator"></td>
											<!-- td width="12px" height="31" class="header_pages" align="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" height="30" complete="complete" align="top" border="0"/ -->
					 			        	<td width="468px" valign="middle" class="header_pages_message"><ui:insert name="title_message"></ui:insert>
								            </td>
								            <td width="80px" class="header_pages" id="secure_td" >
									            <table id="secure_table" cellpadding="0" cellspacing="0"  style="display:none;" onmouseover="ShowContentSec('secured'); return true;"
								            	onmouseout="HideContentSec('secured'); return true;">
								            	<div id="secured" style="display:none;
														  position:absolute;
														  border-style: none;
														  background-color: white;
														  padding: 0px;">
								            		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secure.gif"/>
								            	</div>
									            	<tr>
											            <td class="header_pages" width="17px" style="cursor:pointer" align="left">
											            	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif" width="17px" height="29px"
											            	/>
											            </td>
											            <td width="80px" class="header_pages" style="cursor:pointer" id="showHintTD">
											            	<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>

											            </td>
	    									        </tr>
									            </table>
									            <div style="display: none; position: absolute;z-index:110;width:1px; " id="secure_div"></div>
								            </td>
							            </tr>
						            </c:if>
						         	<tr height="510" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="720px" height="510" colspan="4">
			 			        		<!-- LIVE PERSON -->
											<ui:include src="/jsp/templates_zh/livePerson.xhtml" />
											<ui:insert name="content"></ui:insert>
							            </td>
						            </tr>
								</table>
		                    </td>
		                    <td width="16">&#160;</td>
		                    <td width="186"  height="890" valign="top" bgcolor="#FFFFFF">
		<!-- *******************************************Banners************************************************************************ -->
							<iframe align="center" valign="top" height="930" width="187" id="banners_page" name="banners_page" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/right_side_banners_old.jsf?topBnr=${topBanner}&amp;contactBnr=${contactBanner}&amp;inrPg=${empty inrPg ? false : true}"  scrolling="no"></iframe>
								<!-- ui:include src="/jsp/right_side_banners_old.xhtml"></ui:include-->
		<!-- *************************************************************************************************************************** -->
							</td>
							<td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="5"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
	<tr height="16px" bgcolor="#ffffff"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td height="136px" width="970px" >
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;"/>
	<br/>
</div>
<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/investmentPopup.jsf"/>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</html>
