<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>var skinId = #{applicationData.skinId};</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
   	<c:set var="metaDesc" value="#{msgs['generalterms.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <c:set var="metaKey" value="#{msgs['anyoption.keywords']}" /> <!-- default -->
    <ui:insert name="metaKeywords"></ui:insert>
    <META NAME="keywords" content="${metaKey}"/>
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
    <ui:include src="/jsp/head_css_js.xhtml" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>

	<style>
		.ticker_table_chinese{ margin: 0px;background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/button_up.png);background-repeat: repeat-x;border-width: 0px 0px 0px 0px;border-style: none none none none;}
		.ttab { float: left; width: 685px;}
		#line {width:970px; height:3px; background:#093755; margin:6px auto; clear:both; overflow:hidden;}
	</style>
</head>

<body dir="#{applicationData.pageDirection}"  background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/bg.jpg" style="background-repeat:no-repeat;">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script>
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
</script>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<f:view locale="#{applicationData.userLocale}">

<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>

<ui:insert name="selected" />
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
<table align="center" width="970" border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <td width="970" height="80" align="center" valign="top">
        	<iframe scrolling="no" id="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/headerContent.jsf" width="970" height="80"></iframe>
        </td>
    </tr>
    <tr>
		<td height="26px" width="970px">
				<ui:include src="/jsp/tickerWrapper_zh.xhtml"></ui:include>
		</td>
	</tr>

    <tr>
     <td class="table_no_up_border">
		<table class="white_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8"><td></td></tr>
		    <tr>
		    <td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" class="gray_background">
		                <tr>
		                    <td colspan="5">
           						<ui:insert name="message"></ui:insert>
		                    </td>
		                </tr>
		                <tr>
		                <td colspan="5">
				           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" class="gray_background"> <!--  MENU STRIP table -->
				             <tr class="menu_stripe">
				             	<td width="16" height="38px">&#160;</td>
				                <td align="#{applicationData.pageAlignment}" class="menu_underline_align">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
					                	<ui:param name="isHomePage" value="false" />
				                	</ui:include>
				                </td>
								<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" style="border-bottom:1px dotted black;" >&#160;</td>
				                <td width="16" class="menu_underline">&#160;</td>
				                <td width="140" align="right" height="48" valign="bottom" rowspan="1">
									<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
				                </td>
				                <td width="23" style="border-bottom:1px dotted black;">&#160;</td>
				                <td width="16">&#160;</td>
				             </tr>
				             <tr height="2">
				             	<td width="16" style="font-size:1px;">&#160;</td>
			             		<td colspan="4" class="menu_underline2" style="font-size:1px">&#160;</td>
				             	<td width="23" style="border-bottom:1px dotted black;font-size:1px">&#160;</td>
				             	<td width="16" style="font-size:1px;">&#160;</td>
				             </tr>
						     <tr>
			                	<td height="8" width="775" colspan="4" style="font-size:1px;">&#160;</td>
			                	<td height="8" width="39px" colspan="2" style="font-size:1px;">&#160;</td>
			                </tr>
				           </table>
				           </td>
		                </tr>
		                <tr>
		                	<td width="16">&#160;</td>
		                    <td valign="top" width="922">
		<!-- *************************************************************************************************************************** -->
		 <!-- BEGIN MAIN -->
								<table width="922" height="540" border="0" style="" cellpadding="0" cellspacing="0" >
			 			        	<tr height="30">
				 			        	<td width="160" height="30" class="header_pages">
											<ui:insert name="title"></ui:insert>
							            </td>
							            <td  height="31px" width="12px" valign="middle" class="header_pages_separator"></td>
				 			        	<td width="750" height="30" valign="middle" class="header_pages_message">
											<ui:insert name="title_message"></ui:insert>
							            </td>
						            </tr>
						         	<tr height="510" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="922" height="510" colspan="3">
				 			        		<!-- LIVE PERSON -->
											<ui:include src="/jsp/templates_zh/livePerson.xhtml" />
											<ui:insert name="content"></ui:insert>
							            </td>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="3"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
	<tr height="16px" bgcolor="#ffffff"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td height="136px" width="970px" >
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>
<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>
<div id="log"></div>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</html>
