<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<script type="text/javascript">
	var time = new Date();
	var offset = time.getTimezoneOffset()*60*1000*(-1);
	var serverTime = #{applicationData.timeMilis};
	var dstOffset = #{applicationData.dstOffset};
</script>
<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/clock.js" type="text/javascript"></script>
<div id="clock" class="clock"><script>document.write(getTimeString());</script></div>

</f:view>