<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<div id="page" class="smartphone_page" align="center">
	<div style="padding-top:10px;">
		<div id="content" class="smartphone_content"><img src="#{applicationData.imagesPath}/mobile/aoanywhere.png" width="260px" height="108px"/></div>
		<div class="smartphone_text">
			<br/>
  			<strong><h:outputText value="#{msgs['CMS.mobile_contactusSuccess.text.t1']}" escape='false'/></strong><br/><br/>
			<h:outputText value="#{msgs['CMS.mobile_contactusSuccess.text.t2']}" escape='false'/>
			'<strong>
				<a href="#{facesContext.externalContext.requestContextPath}/mobile/appContactUs.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
					<h:outputText value="#{msgs['CMS.mobile_contactusSuccess.label.a1']}" escape='false'/>
				</a>
			</strong>'
			<h:outputText value="#{msgs['CMS.mobile_contactusSuccess.text.t3']}" escape='false'/>
			<p><h:outputText value="#{msgs['CMS.mobile_contactusSuccess.text.t4']}" escape='false'/></p>
			<a href="#{facesContext.externalContext.requestContextPath}/mobile/appContactUs.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
				<h:outputText value="#{msgs['CMS.mobile_contactusSuccess.label.a1']}" escape='false'/>
			</a>
			|
			<a href="#{facesContext.externalContext.requestContextPath}/mobile/appAboutUs.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
				<h:outputText value="#{msgs['CMS.mobile_contactusSuccess.label.a2']}" escape='false'/>
			</a>
			|
			<a href="#{facesContext.externalContext.requestContextPath}/mobile/appBinary.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
				<h:outputText value="#{msgs['CMS.mobile_contactusSuccess.label.a3']}" escape='false'/>
			</a>
		</div>
	</div>
</div>

</f:view>