<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<body>

<ui:composition template="/jsp/templates/template_general.xhtml">
	<ui:define name="content">

		<script type="text/javascript">
		document.domain = "#{traderToolPublishForm.lsDomain}";
			if (#{traderToolActionForm.success}) {
				parent.window.opener.sendDeleteMsg(#{traderToolActionForm.oppId});
			}
			if ( window.opener &amp;&amp; !window.opener.closed ) {
				try {
					var name = window.opener.name;
					//alert(name);
					if (name == "onetouchMain" || name == "notPublishedMain" || name == "transactionsMain") {
						//alert("trying to reload");
						window.opener.reloadPageSlow();
					}
				} catch(e) {
					//alert("window name property not set");
				}
			}
		</script>
		#{traderToolActionForm.clearForm}
	</ui:define>
</ui:composition>

</body>
</html>
