<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

#{user.goTrader}

    <h:panelGroup >

        <h:form id="exchangesHolidaysForm">
			<t:saveState id="exForm" value="#{exchangesHolidaysForm}" />

   			<h:panelGrid border="0" columns="1" width="100%">

			<h:panelGrid rendered="#{exchangesHolidaysForm.exchangesHolidays.id>0}" columns="2">
            	<t:outputText value="#{msgs['exchangeholidays.id']}"/>
            	<t:outputText styleClass="data_display" value="#{exchangesHolidaysForm.exchangesHolidays.id}"/>
            </h:panelGrid>

			<h:panelGrid columns="3">
			<t:outputLabel for="exchangeId" value="#{msgs['exchangeholidays.exchange']}"/>
			<t:selectOneMenu  id="exchangeId" value="#{exchangesHolidaysForm.exchangesHolidays.exchangeId}" required="true">
				<f:selectItem itemLabel="" itemValue="" />
				<f:selectItems value="#{writer.exchangesSI}" />
			</t:selectOneMenu>
			<t:message id="exchangeIdError" for="exchangeId" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:panelGrid columns="3">
			<h:outputLabel for="from" value="#{msgs['exchangeholidays.date']} "/>
			<h:inputText styleClass="input_text" id="from" value="#{exchangesHolidaysForm.exchangesHolidays.holiday}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['exchangesHolidaysForm'].elements['exchangesHolidaysForm:from'],'anchor1','dd/MM/yyyy'); return false;">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			</h:inputText>

			<A HREF="#" onClick="cal.select(document.forms['exchangesHolidaysForm'].elements['exchangesHolidaysForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
				<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			</A>
			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:panelGrid columns="2">
			<t:outputText for="halfday" value="#{msgs['exchangeholidays.halfday']}"/>
            <t:selectBooleanCheckbox disabled="false" id="halfday" value="#{exchangesHolidaysForm.exchangesHolidays.halfDay}" />

			</h:panelGrid>


            <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

				<t:commandLink action="#{exchangesHolidaysForm.update}">
		        	<h:outputText value="#{msgs['button.save']}" />
				</t:commandLink>
	        </h:panelGrid>
            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>