<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="exchangesForm">
			<t:saveState id="oppForm" value="#{exchangesForm}" />

   			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

            <t:outputText value="#{msgs['exchanges.id']}"/>
            <t:outputText styleClass="data_display" value="#{exchangesForm.exchange.id}"/>

             <h:outputLabel styleClass="text_gray_12_bold" for="exchangeName" value="#{msgs['exchanges.name']}"/>
             <h:panelGrid columns="2" border="0">
             	<t:inputText styleClass="input_text" size="15" maxlength="15" id="exchangeName" value="#{exchangesForm.exchange.name}" required="true"
             		validator="#{utils.validateEnglishAndNumbersAndSpaces}" >
             </t:inputText>
	         <t:message id="exchangeNameError" for="exchangeName" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>


             <h:outputLabel styleClass="text_gray_12_bold" for="exchangeHalfday" value="#{msgs['exchanges.halfdayclosingtime']}"/>
			 <h:panelGrid border="0" columns="5">

			<h:panelGrid dir="RTL" border="0" columns="3">

			 	<h:selectOneMenu id="halfDayClosingTimeMin" value="#{exchangesForm.exchange.halfDayClosingTimeMin}"  >
  					<f:selectItem itemLabel="" itemValue="" />
	   				<f:selectItems value="#{applicationData.minutes}" />
		        </h:selectOneMenu>

    			<h:outputText value=":"/>

                <h:selectOneMenu id="halfDayClosingTimeHour" value="#{exchangesForm.exchange.halfDayClosingTimeHour}"  >
	   				<f:selectItems value="#{applicationData.hours}" />
		        </h:selectOneMenu>

			</h:panelGrid>

                <t:message id="halfDayClosingTimeMinError" for="halfDayClosingTimeMin" detailFormat="#{msgs['opportunities.templates.minutes']}" replaceIdWithLabel="true" styleClass="error"/>
                <t:message id="halfDayClosingTimeHourError" for="halfDayClosingTimeHour" detailFormat="#{msgs['opportunities.templates.hours']}" replaceIdWithLabel="true" styleClass="error"/>

				</h:panelGrid>

            </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

				 <t:commandLink action="#{exchangesForm.update}">
		                <h:outputText value="#{msgs['button.save']}" />
		  		 </t:commandLink>
	        </h:panelGrid>
            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>