<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="invLimitsGroupsListForm">

			<t:saveState id="group" value="#{invLimitsGroupsListForm.group}" />

 		    <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{invLimitsGroupsListForm.group.id>0}" value="#{msgs['invlimitsgroups.id']}"/>
                <h:outputText rendered="#{invLimitsGroupsListForm.group.id>0}" styleClass="data_display" value="#{invLimitsGroupsListForm.group.id}"> </h:outputText>

				<h:outputLabel for="groupname" value="#{msgs['invlimitsgroups.groupname']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="50" maxlength="50" id="groupname" value="#{invLimitsGroupsListForm.group.groupName}"
		                required="true"	validator="#{utils.validateEnglishAndNumbersAndSpaces}" />
	            	<t:message id="groupnameError" for="groupname" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>


	            <h:outputText value="#{msgs['invlimitsgroups.active']}"/>
				<h:selectBooleanCheckbox value="#{invLimitsGroupsListForm.group.activeBoolean}" />

            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

              <t:commandLink action="#{invLimitsGroupsListForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			  </t:commandLink>

			</h:panelGrid>

			</h:panelGrid>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>