<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jstl/core"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

#{user.goTrader}

    <t:panelGroup>

		<h:form id="opportunitiesForm">
  		  	<t:saveState id="oppFormSave" value="#{opportunitiesForm}" />
          	<t:panelGrid border="0" columns="1" width="100%">

			<t:panelGrid border="0" columns="7">

				<t:panelGrid border="0" columns="2">
					<t:outputText value="#{msgs['opportunities.market']}"/>
		   		  	<t:selectOneMenu id="groupId" value="#{opportunitiesForm.marketGroup}" onchange="document.opportunitiesForm.submit(this);"
		   		  	valueChangeListener="#{opportunitiesForm.updateMarketChange}">
			   			<f:selectItems value="#{writer.getMarketsAndGroupsWithoutUnnecessarySI(false)}" />
			        </t:selectOneMenu>
				</t:panelGrid>

		        <h:outputLabel for="marketTypeId" value="#{msgs['opportunities.product.type']}"/>
	            <h:panelGrid border="0" columns="2">
		        	<h:selectOneMenu id="marketTypeId" value="#{opportunitiesForm.marketTypeId}" onchange="this.form.submit();"
	   		  			valueChangeListener="#{opportunitiesForm.updateMarketTypeId}">
		   				<f:selectItems value="#{writer.opportunityProductTypesWithAllOptionSI}" />
			       </h:selectOneMenu>
	            </h:panelGrid>

	           	<t:selectOneRadio value="#{opportunitiesForm.publishedSettled}" onclick="this.form.submit();"
	           	   	  		valueChangeListener="#{opportunitiesForm.updateChange}" >
	          		<f:selectItem itemLabel="#{msgs['opportunities.published']}" itemValue="0" />
					<f:selectItem itemLabel="#{msgs['opportunities.notpublished']}" itemValue="2" />
					<f:selectItem itemLabel="#{msgs['opportunities.settled']}" itemValue="1" />
	           	</t:selectOneRadio>

				<t:outputText value="" width="20px" />

	           	<t:outputLabel for="from" rendered="#{opportunitiesForm.publishedSettled!=0 || (opportunitiesForm.publishedSettled==0 &amp;&amp; opportunitiesForm.marketTypeId==2)}" value="#{msgs['general.select.day']}"/>
	           	<t:panelGrid columns="3" rendered="#{opportunitiesForm.publishedSettled!=0 || (opportunitiesForm.publishedSettled==0 &amp;&amp; opportunitiesForm.marketTypeId==2)}">
					<t:inputText styleClass="input_text" id="from" value="#{opportunitiesForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['opportunitiesForm'].elements['opportunitiesForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </t:inputText>
		    		<A HREF="#" onClick="cal.select(document.forms['opportunitiesForm'].elements['opportunitiesForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	       				<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		       		 </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
				</t:panelGrid>
				
				

			</t:panelGrid>

			<t:panelGrid border="0" columns="7">
				<h:outputText for="oppId" value="#{msgs['opportunities.shiftings.opportunity_id']}" />
				<h:panelGrid columns="2" border="0">
					<t:inputText required="true" id="oppId" value="#{opportunitiesForm.opportunityId}" >
						<f:validateLongRange/>
					</t:inputText>
					<t:message id="oppIdError" for="oppId" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>
				
	          <h:outputLabel for="scheduled" value="#{msgs['opportunities.scheduled']}"/>
	            <h:panelGrid border="0" columns="2">
		        	<h:selectOneMenu id="scheduled" value="#{opportunitiesForm.scheduled}" onchange="this.form.submit();"
	   		  			valueChangeListener="#{opportunitiesForm.updateScheduledIdChange}">
		   				<f:selectItems value="#{writer.scheduledListAllSI}" />
			       </h:selectOneMenu>
	            </h:panelGrid>
	            
	             <h:outputLabel for="suspended" value="#{msgs['opportunities.suspended']}"/>
	            <h:panelGrid border="0" columns="2">
		        	<h:selectOneMenu id="suspended" value="#{opportunitiesForm.suspended}" onchange="this.form.submit();"
	   		  			valueChangeListener="#{opportunitiesForm.updateSuspendedOpChange}">
		   				<f:selectItems value="#{writer.suspendedListAllSI}" />
			       </h:selectOneMenu>
	            </h:panelGrid>
	            
				<t:commandLink  action="#{opportunitiesForm.updateList}" rendered="#{opportunitiesForm.publishedSettled!=1}">
			                <t:outputText value="#{msgs['button.search']}" />
		 		</t:commandLink>

		 	</t:panelGrid>

			<t:panelGrid columns="4" rendered="#{opportunitiesForm.publishedSettled==1}">

				<t:outputLabel value="#{msgs['opportunities.investments.winlose']}" />

	     		<t:panelGrid border="0" columns="2" rendered="#{opportunitiesForm.publishedSettled==1}">
			        <t:outputLabel  for="classId" value="#{msgs['opportunities.user.classes.type']}" />
			        <t:selectOneMenu id="classId" value="#{opportunitiesForm.classId}" >
						<f:selectItems value="#{writer.userClassesSI}" />
					</t:selectOneMenu>
				</t:panelGrid>

				<t:panelGrid border="0" columns="2" rendered="#{opportunitiesForm.publishedSettled==1}">
			        <t:outputLabel  for="statusId" value="#{msgs['opportunities.investments.search.status']}"/>
			        <t:selectOneMenu id="statusId" value="#{opportunitiesForm.statusId}" >
						<f:selectItems value="#{writer.investmentStatusesSI}" />
				     </t:selectOneMenu>
				</t:panelGrid>

				<t:commandLink  action="#{opportunitiesForm.updateList}" rendered="#{opportunitiesForm.publishedSettled==1}">
			                <t:outputText value="#{msgs['button.search']}" />
		 		</t:commandLink>

			</t:panelGrid>

	  		<t:outputText styleClass="general_message" rendered="#{opportunitiesForm.listSize==0}"
	  		   				value="#{msgs['opportunities.emptylist']}"/>



			   <t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_SortHeader"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
	                var="v"
	                preserveDataModel="false"
	                rows="#{user.rowsByMenu}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                value="#{opportunitiesForm.list}"
	           >

	           <t:column >
	               <f:facet name="header">
		              <t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.id']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="id" />
					  </t:commandLink>
	               </f:facet>
	              <h:panelGroup>
		              <t:commandLink action="opportunity" immediate="true">
		               		<t:outputText value="#{v.id}" />
		                    <f:setPropertyActionListener target="#{opportunitiesForm.opportunity}" value="#{v}" />
					  </t:commandLink>
				  </h:panelGroup>
	           </t:column>

	           <t:column >
	               <f:facet name="header">
	               		<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.market']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="marketName" />
			  		   </t:commandLink>
	               </f:facet>
	               <t:outputText rendered="#{!v.isOneTouchOpp}" value="#{utils.getMarketName(v.marketId)}" />
	               <t:outputText rendered="#{v.isOneTouchOpp}" value="#{utils.getMarketName(v.marketId)} | #{v.opportunityOddsTypeName} | #{v.currentLevel} | " />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/ar_up.gif" rendered="#{ v.isOneTouchOpp &amp;&amp; v.isOneTouchUp}" />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/ar_down.gif" rendered="#{ v.isOneTouchOpp &amp;&amp; !v.isOneTouchUp}" />
	           </t:column>

	            <t:column >
		          <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.timefirstinvest']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="timeFirstInvest" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{utils.getOppTimeTxt(v.timeFirstInvest)}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
		               	<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.estclosingdate']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="estClosingTime" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{utils.getOppTimeTxt(v.timeEstClosing)}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
		               	<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.timelastinvest']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="timeLastInvest" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{utils.getOppTimeTxt(v.timeLastInvest)}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.timeactclosing']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="timeActClosing" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{utils.getOppTimeTxt(v.timeActClosing)}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.type.id']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="oppTypeDesc" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:outputText escape="false" value="#{v.opportunityTypeDesc}" />
	           </t:column>

	             <t:column >
	               <f:facet name="header">
		               <t:outputText value="#{msgs['opportunities.closinglevel']}"/>
	               </f:facet>
	               <t:outputText escape="false" value="#{utils.getFormatLevelByMarket(v.isSettled, v.closingLevel, v.marketId)}" />
	           </t:column>

	           	<t:column rendered="#{opportunitiesForm.publishedSettled==0}">
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.disabled']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="disabled" />
					 	 </t:commandLink>
	               </f:facet>
	               <t:selectBooleanCheckbox disabled="true" value="#{v.disabled}" />
	           </t:column>

	            <t:column>
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.shiftparam']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="shiftparam" />
					 	 </t:commandLink>
	               </f:facet>
						<t:commandLink action="#{shiftingsForm.bNavShiftings}" immediate="true" >
	               			<h:outputText dir="ltr" value="#{opportunitiesForm.getETShiftParameter(v)}" />
							<f:setPropertyActionListener target="#{shiftingsForm.shiftId}" value="#{v.idTxt}" />
				  		 </t:commandLink>
	           </t:column>

	           <t:column >
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.scheduled']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="scheduled" />
					 	 </t:commandLink>
	               </f:facet>
					<t:outputText value="#{opportunitiesForm.getScheduledTxt(v.scheduled)}" />					
	           </t:column>

	           <t:column rendered="#{opportunitiesForm.publishedSettled==1}" >
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.winlose']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="winlose" />
					 	 </t:commandLink>
	               </f:facet>
					<t:outputText dir="ltr" value="#{utils.displayAmountLongLong(v.winLose, 2)}" />					
	           </t:column>

	            <t:column >
	               <f:facet name="header">
						<t:commandLink action="#{opportunitiesForm.sortList}" >
			               <t:outputText value="#{msgs['opportunities.writer']}"/>
	                       <f:setPropertyActionListener target="#{opportunitiesForm.sortColumn}" value="writer" />
					 	 </t:commandLink>
	               </f:facet>
					<t:outputText value="#{utils.getWriterName(v.writerId)}" />
	           </t:column>

	        </t:dataTable>

				<t:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{opportunitiesForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

	        </t:panelGrid>

		</t:panelGrid>

        </h:form>

    </t:panelGroup>

</ui:define>
</ui:composition>

</html>