<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

#{user.goTrader}

    <t:saveState value="#{optionsExpirationsForm}" />

    <h:panelGroup >

		<h:form id="optionsExpirationsForm">

			<h:panelGrid border="0" columns="1" width="100%">


			<h:panelGrid border="0" columns="10" >

				<h:outputLabel for="marketId" value="#{msgs['optionsexpirations.market']}"/>
               	<h:selectOneMenu  id="marketId" value="#{optionsExpirationsForm.marketId}" >
               		<f:selectItems value="#{writer.marketsByAgreementWithAllSI}" />
               	</h:selectOneMenu>

				<h:outputLabel  for="year" value="#{msgs['optionsexpirations.year']}"/>
          		<h:selectOneMenu  id="year" value="#{optionsExpirationsForm.year}" >
           			<f:selectItems value="#{optionsExpirationsForm.years}" />
           		</h:selectOneMenu>

        		<h:outputLabel  for="month" value="#{msgs['optionsexpirations.month']}"/>
           		<h:selectOneMenu  id="month" value="#{optionsExpirationsForm.month}" >
           			<f:selectItems value="#{applicationData.months}" />
           		</h:selectOneMenu>

 				<h:panelGrid border="0" columns="1" width="20"/>

               	<t:commandLink action="#{optionsExpirationsForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
				</t:commandLink>

           </h:panelGrid>

		   <h:outputText styleClass="general_message" rendered="#{optionsExpirationsForm.listSize==0}"
  		   				value="#{msgs['general.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{optionsExpirationsForm.list}"
           >

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.id']}"/>
               </f:facet>
			   <t:commandLink action="optionExpiration" immediate="true" >
               		<h:outputText value="#{v.id}" />
					<f:setPropertyActionListener target="#{optionsExpirationsForm.optionExpiration}" value="#{v}" />
			   </t:commandLink>
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.market']}"/>
               </f:facet>
               <h:outputText value="#{v.marketName}" />
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.expirydate']}"/>
               </f:facet>
               <h:outputText value="#{v.expiryDateTxt}"/>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.expirydateEnd']}"/>
               </f:facet>
               <h:outputText value="#{v.expiryDateEndTxt}"/>
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.expirydateminus1']}"/>
               </f:facet>
               <h:outputText value="#{v.expiryDateMinus1Txt}"/>
           </h:column>

   		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.active']}"/>
               </f:facet>
               <t:selectBooleanCheckbox disabled="true" value="#{v.active}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreatedTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['optionsexpirations.writer']}"/>
               </f:facet>
               <h:outputText value="#{v.writerName}" />
           </h:column>

        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{optionsExpirationsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

		<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

          <t:commandLink action="#{optionsExpirationsForm.navNew}">
		                <h:outputText value="#{msgs['general.add.new']}" />
   		  </t:commandLink>

   		 </h:panelGrid>

		<h:outputText value="#{msgs['options.expirations.text1']}" />
        <h:outputText value="#{msgs['options.expirations.text2']}" />

        </h:panelGrid>

        </h:form>


    </h:panelGroup>
</ui:define>
</ui:composition>
</html>