<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
 		  locale="#{writer.localInfo.locale}">
<head>
	<title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</head>
<body>
	<script>
	    var ajax = new AJAXInteraction("ajax.jsf?renderResponseCall=1", rrCallback);
	    ajax.doGet();
		function rrCallback(){
			//this is just to clear page inputes
		}
	</script>

    <h:form id="traderToolActionForm">
    #{traderToolActionForm.initChangeDynamicsQuoteParams}
    <h:inputText style="display: none;" maxlength="9" id="oppId" value="#{traderToolActionForm.oppId}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="marketName" value="#{traderToolActionForm.marketName}"></h:inputText>
    <h:inputText style="display: none;" maxlength="9" id="paramValue" value="#{traderToolActionForm.paramValue}"></h:inputText>
    <h:inputText style="display: none;" id="params" value="#{traderToolActionForm.params}"></h:inputText>
    <h:inputText style="display: none;" id="action" value="#{traderToolActionForm.action}"></h:inputText>

	<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
		<h:outputText styleClass="trader_tool_title" value="#{msgs['tradertool.maxExposure']}"/>
	</h:panelGrid>
	<h:panelGrid  columns="2">
		<h:panelGrid style="text-align:left" columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.marketName']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.marketName}"/>
		</h:panelGrid>
		<h:panelGrid  columns="2">
			<h:outputText styleClass="trader_title_msg" value="#{msgs['tradertool.oppId']}"/>
			<h:outputText styleClass="trader_msg_value" value="#{traderToolActionForm.oppId}"/>
		</h:panelGrid>
	</h:panelGrid>

	<h:panelGrid  columns="3">
		<h:outputText styleClass="info_messages" value="Sp"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueSp" value="#{traderToolActionForm.dynamicsQuoteParams.sp}" required="true"></h:inputText>
		<t:message id="paramValueSpError" for="paramValueSp" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="Sp_max"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueSpMax" value="#{traderToolActionForm.dynamicsQuoteParams.spMax}" required="true"></h:inputText>
		<t:message id="paramValueSpMaxError" for="paramValueSpMax" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="T_u"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueTu" value="#{traderToolActionForm.dynamicsQuoteParams.tU}" required="true"></h:inputText>
		<t:message id="paramValueTuError" for="paramValueTu" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="T_d"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueTd" value="#{traderToolActionForm.dynamicsQuoteParams.tD}" required="true"></h:inputText>
		<t:message id="paramValueTdError" for="paramValueTd" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="Amount_u"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueAmountU" value="#{traderToolActionForm.dynamicsQuoteParams.amountU}" required="true"></h:inputText>
		<t:message id="paramValueAmountUError" for="paramValueAmountU" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="Amount_d"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueAmountD" value="#{traderToolActionForm.dynamicsQuoteParams.amountD}" required="true"></h:inputText>
		<t:message id="paramValueAmountDError" for="paramValueAmountD" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="T"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="9" id="paramValueT" value="#{traderToolActionForm.dynamicsQuoteParams.t}" required="true"></h:inputText>
		<t:message id="paramValueTError" for="paramValueT" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="#{msgs['login.username']}"/>
		<h:inputText styleClass="input" style="width:110px" maxlength="40" id="userName" value="#{traderToolActionForm.userName}" required="true"></h:inputText>
		<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>

		<h:outputText styleClass="info_messages" value="#{msgs['login.password']}"/>
		<h:inputSecret  type="password" styleClass="input" style="width:110px" maxlength="15" id="password" value="#{traderToolActionForm.password}" required="true"></h:inputSecret>
		<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
	</h:panelGrid>
	<br/>

    <h:panelGrid style="text-align:left" columns="2" border="0" width="100%" >
     	<h:commandLink action="#{traderToolActionForm.changeDynamicsParamsAction}">
            <h:outputText styleClass="info_messages"  value="submit" />
		</h:commandLink>
	</h:panelGrid>
	</h:form>
</body>
</f:view>