<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">



<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</HEAD>
<BODY>

	<script>
	    var ajax = new AJAXInteraction("ajax.jsf?renderResponseCall=1", rrCallback);
	    ajax.doGet();

		function rrCallback(){
			//this is just to clear page inputes
		}
	</script>


    <h:form id="traderToolUpdateParameterForm">
	<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
		<h:outputText styleClass="trader_tool_title" value="#{msgs['tradertool.updateParameter.title']}"/>
	</h:panelGrid>

	<h:panelGrid  columns="3">
		<h:outputText styleClass="info_messages" value="#{traderToolUpdateParameterForm.gett25ParameterNameTxt()}"/>
		<h:inputText styleClass="input" style="width:50px" maxlength="9" id="t25Parameter" value="#{traderToolUpdateParameterForm.t25Parameter}"></h:inputText>
	 	<h:commandLink action="#{traderToolUpdateParameterForm.updateT25}">
	        <h:outputText styleClass="info_messages"  value="#{msgs['traderTool.button.update']}" />
		</h:commandLink>

		<h:outputText styleClass="info_messages" value="#{traderToolUpdateParameterForm.getcacParameterNameTxt()}"/>
		<h:inputText styleClass="input" style="width:50px" maxlength="9" id="cacParameter" value="#{traderToolUpdateParameterForm.cacParameter}"></h:inputText>
	 	<h:commandLink action="#{traderToolUpdateParameterForm.updateCac}">
	        <h:outputText styleClass="info_messages"  value="#{msgs['traderTool.button.update']}" />
		</h:commandLink>

		<h:outputText styleClass="info_messages" value="#{traderToolUpdateParameterForm.getsp500ParameterNameTxt()}"/>
		<h:inputText styleClass="input" style="width:50px" maxlength="9" id="sp500Parameter" value="#{traderToolUpdateParameterForm.sp500Parameter}"></h:inputText>
	 	<h:commandLink action="#{traderToolUpdateParameterForm.updateSp500}">
	        <h:outputText styleClass="info_messages"  value="#{msgs['traderTool.button.update']}" />
		</h:commandLink>

		<h:outputText rendered="#{user.hasASTraderRole}" styleClass="trader_tool_title" value="#{msgs['tradertool.updateParameter.ils.title']}"/>
		<h:outputText rendered="#{user.hasASTraderRole}" value=""/>
		<h:outputText rendered="#{user.hasASTraderRole}" value=""/>

		<h:outputText rendered="#{user.hasASTraderRole}" styleClass="info_messages" value="#{msgs['tradertool.d4BanksParameter']}"/>
		<h:inputText rendered="#{user.hasASTraderRole}" styleClass="input" style="width:50px" maxlength="9" id="d4BanksParameter" value="#{traderToolUpdateParameterForm.d4BanksParameter}"></h:inputText>
	 	<h:commandLink rendered="#{user.hasASTraderRole}" action="#{traderToolUpdateParameterForm.updateD4Banks}">
	        <h:outputText rendered="#{user.hasASTraderRole}" styleClass="info_messages"  value="#{msgs['traderTool.button.update']}" />
		</h:commandLink>

		<h:outputText rendered="#{user.hasASTraderRole}" styleClass="info_messages" value="#{msgs['tradertool.banksBursaParameter']}"/>
		<h:inputText rendered="#{user.hasASTraderRole}" styleClass="input" style="width:50px" maxlength="9" id="banksBursaParameter" value="#{traderToolUpdateParameterForm.banksBursaParameter}"></h:inputText>
	 	<h:commandLink rendered="#{user.hasASTraderRole}" action="#{traderToolUpdateParameterForm.updateBanksBursa}">
	        <h:outputText rendered="#{user.hasASTraderRole}" styleClass="info_messages"  value="#{msgs['traderTool.button.update']}" />
		</h:commandLink>

		<h:outputText rendered="#{user.hasASTraderRole}" styleClass="info_messages" value="#{msgs['tradertool.d4SpreadParameter']}"/>
		<h:inputText rendered="#{user.hasASTraderRole}" styleClass="input" style="width:50px" maxlength="9" id="d4SpreadParameter" value="#{traderToolUpdateParameterForm.d4SpreadParameter}"></h:inputText>
	 	<h:commandLink rendered="#{user.hasASTraderRole}" action="#{traderToolUpdateParameterForm.updateD4Spread}">
	        <h:outputText rendered="#{user.hasASTraderRole}" styleClass="info_messages"  value="#{msgs['traderTool.button.update']}" />
		</h:commandLink>

	</h:panelGrid>

	</h:form>

</BODY>
</f:view>