<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
      

    <t:saveState id="zeroOneHundred" value="#{zeroOneHundredForm}" />
		<h:form id="zeroOneHundredForm">
			<b><t:outputLabel id="name" value="#{zeroOneHundredForm.market.name}" /></b><br/>
		<t:panelGrid border="0" columns="4">
			
			<t:outputLabel  value="P=" />
        	<h:inputText id="p" value="#{zeroOneHundredForm.market.zeroOneHundred.p}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="P - Market difference multiply " />
        	<t:message id="pError" for="p" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="L=" />
        	<h:inputText id="l" value="#{zeroOneHundredForm.market.zeroOneHundred.l}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="L - Exponentiation distance from market " />
        	<t:message id="lError" for="l" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="T=" />
        	<h:inputText id="t" value="#{zeroOneHundredForm.market.zeroOneHundred.t}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="T - Traders parameter" />
        	<t:message id="tError" for="t" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="U=" />
        	<h:inputText id="u" value="#{zeroOneHundredForm.market.zeroOneHundred.u}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="U - Second’s factor" />
        	<t:message id="uError" for="u" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="Q=" />
        	<h:inputText id="q" value="#{zeroOneHundredForm.market.zeroOneHundred.q}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="Q - spread" />
        	<t:message id="qError" for="q" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="Z=" />
        	<h:inputText id="z" value="#{zeroOneHundredForm.market.zeroOneHundred.z}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="" />
        	<t:message id="zError" for="z" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="cThreashold=" />
        	<h:inputText id="CThreashold" value="#{zeroOneHundredForm.market.zeroOneHundred.CThreashold}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="C - Numerator for contracts" />
        	<t:message id="cThreasholdError" for="CThreashold" replaceIdWithLabel="true" styleClass="error"/>

			<t:outputLabel  value="TICK=" />
        	<h:inputText id="tick" value="#{zeroOneHundredForm.market.zeroOneHundred.tick}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="" />
        	<t:message id="tickError" for="tick" replaceIdWithLabel="true" styleClass="error"/>

        	<t:outputLabel  value="M=" />
        	<h:inputText id="m" value="#{zeroOneHundredForm.market.zeroOneHundred.m}" required="true">
        		<f:validateDoubleRange />
        	</h:inputText>
        	<t:outputLabel  value="M - strengthening expiry time " />
        	<t:message id="mError" for="m" replaceIdWithLabel="true" styleClass="error"/>

        	<t:commandLink id="saveButton" action="#{zeroOneHundredForm.update}" onclick="if(!confirmit()) return false;">
	        	<h:outputText value="#{msgs['button.save']}" />
			</t:commandLink>
			<t:message id="fileError" for="saveButton" replaceIdWithLabel="true" styleClass="error"/>

		</t:panelGrid>

	</h:form>
	
	<script language="JavaScript">
      		
      		p_old = "#{zeroOneHundredForm.market.zeroOneHundred.p}";
      		l_old = "#{zeroOneHundredForm.market.zeroOneHundred.l}";
      		t_old = "#{zeroOneHundredForm.market.zeroOneHundred.t}";
      		u_old = "#{zeroOneHundredForm.market.zeroOneHundred.u}";
      		q_old = "#{zeroOneHundredForm.market.zeroOneHundred.q}";
      		z_old = "#{zeroOneHundredForm.market.zeroOneHundred.z}";
      		CThreashold_old = "#{zeroOneHundredForm.market.zeroOneHundred.CThreashold}";
      		tick_old = "#{zeroOneHundredForm.market.zeroOneHundred.tick}";
      		m_old = "#{zeroOneHundredForm.market.zeroOneHundred.m}";
      		assetName = "#{zeroOneHundredForm.market.name}";
      		
      		//alert(gettext());
      		
      	function gettext() {

			p_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:p'].value;
			l_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:l'].value;
			t_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:t'].value;
			u_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:u'].value;
			q_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:q'].value;
			z_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:z'].value;
			CThreashold_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:CThreashold'].value;
			tick_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:tick'].value;
			m_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:m'].value;
						
			header = " The updated params Data : ";
			var_old = " Old = ";
			var_new = " New = ";
			var_P = "	 P ";
			var_L = "	 L ";
			var_T = "	 T ";
			var_U = "	 U ";
			var_Q = "	 Q ";
			var_Z = "	 Z ";
			var_CThreashold = "		 CThreashold ";
			var_TICK = "	 Tick ";
			var_M = "	 M ";
			newLine = "\r\n";

			output = assetName + newLine + header +  
							  newLine + var_P + var_old + p_old + var_P + var_new + p_new +
							  newLine + var_L + var_old + l_old + var_L + var_new + l_new +
							  newLine + var_T + var_old + t_old + var_T + var_new + t_new +
							  newLine + var_U + var_old + u_old + var_U + var_new + u_new +
							  newLine + var_Q + var_old + q_old + var_Q + var_new + q_new +
							  newLine + var_Z + var_old + z_old + var_Z + var_new + z_new +
							  newLine + var_CThreashold + var_old + CThreashold_old + var_CThreashold + var_new + CThreashold_new +
							  newLine + var_TICK + var_old + tick_old + var_TICK + var_new + tick_new +
							  newLine + var_M + var_old + m_old + var_M + var_new + m_new ;
			return output;
		}

		function confirmit() {

			p_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:p'].value;
			l_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:l'].value;
			t_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:t'].value;
			u_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:u'].value;
			q_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:q'].value;
			z_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:z'].value;
			CThreashold_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:CThreashold'].value;
			tick_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:tick'].value;
			m_new = document.forms['zeroOneHundredForm'].elements['zeroOneHundredForm:m'].value;

			if (p_new=='' || l_new=='' || t_new=='' || p_new=='' || u_new=='' || q_new=='' || z_new=='' || CThreashold_new=='' || tick_new=='' || m_new=='' ){
				return true;
			}

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}
      </script>

</html>