<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >


<h:panelGroup dir="rtl" id="hint">
<f:verbatim>
<script language="JavaScript">
// configuration variable for the hint object, these setting will be shared among all hints created by this object
var HINTS_CFG = {
	'smart'      : true, // don't go off screen, don't overlap the object in the document
	'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
	'gap'        : -7, // minimum allowed distance between the hint and the origin (negative values accepted)
	'align'      : 'bltr', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
	'css'        : '', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
	'show_delay' : 200, // a delay between initiating event (mouseover for example) and hint appearing
	'hide_delay' : 500, // a delay between closing event (mouseout for example) and hint disappearing
	'follow'     : false, // hint follows the mouse as it moves
	'z-index'    : 100, // a z-index for all hint layers
	'IEfix'      : true, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
	'IEtrans'    : ['blendTrans(DURATION=.3)'], // [show transition, hide transition] - transition effects, only work in IE5+
	'opacity'    : 90 // opacity of the hint in %%
};
// text/HTML of the hints
var HINTS_ITEMS = [
	wrap2('#{msgs["hint.user.strip.search"]}'),wrap2('#{msgs["hint.user.strip.advancedsearch"]}'),wrap2('#{msgs["hint.user.strip.adduser"]}'),wrap2('#{msgs["hint.user.strip.refresh"]}'),wrap2('#{msgs["hint.user.strip.search.external.user"]}')
];

// multiple templates/functions can be used in the same page
function wrap2 (s_text) {
	return [
		'<table cellpadding="0" cellspacing="0" border="0">',
		'<tr><td><img src="#{facesContext.externalContext.requestContextPath}/images/corner_tl.gif" width="10" height="10" /></td><td style="background-image:url(#{facesContext.externalContext.requestContextPath}/images/side_t.gif)"></td><td><img src="#{facesContext.externalContext.requestContextPath}/images/corner_tr.gif" width="10" height="10" /></td></tr>',
		'<tr><td style="background-image:url(#{facesContext.externalContext.requestContextPath}/images/side_l.gif)"></td><td class="hintText">', s_text ,'</td><td style="background-image:url(#{facesContext.externalContext.requestContextPath}/images/side_r.gif)"></td></tr>',
		'<tr><td><img src="#{facesContext.externalContext.requestContextPath}/images/corner_bl.gif" width="10" height="10" /></td><td style="background-image:url(#{facesContext.externalContext.requestContextPath}/images/side_b.gif)"></td><td><img src="#{facesContext.externalContext.requestContextPath}/images/corner_br.gif" width="10" height="10" /></td></tr>',
		'</table>'
	].join('');
}

var myHint = new THints (HINTS_ITEMS, HINTS_CFG);
</script>
</f:verbatim>
</h:panelGroup>
</html>