<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<f:view   xmlns="http://www.w3.org/1999/xhtml"
	      xmlns:ui="http://java.sun.com/jsf/facelets"
	      xmlns:f="http://java.sun.com/jsf/core"
	      xmlns:h="http://java.sun.com/jsf/html"
	      xmlns:t="http://myfaces.apache.org/tomahawk"
	      
 		  locale="#{writer.localInfo.locale}">

	

	<HTML dir="#{writer.localInfo.dir}">
		<HEAD>
			<title></title>
		    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
			<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/backoffice.css" />
			<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar_en.js"></script>
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/angular/_settings.js" />
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/angular/_settings2.js" />
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf" />
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js" />
			<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/datetimepicker.css" type="text/css" />
			
			<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/jquery.min.js"></script> <!--IE <9 not supported-->
			<h:panelGroup rendered="#{!empty loadDatepicker}">
				<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
				<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/jquery-ui.js"></script>
				<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.min.css" type="text/css" />
				<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/jquery-ui-timepicker-addon.min.js"></script>
			</h:panelGroup>
			<ui:insert name="head" />
		</HEAD>
		<BODY class="tabBGColor" onload="setHeight();" >
		    <SCRIPT LANGUAGE="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");
			</SCRIPT>

			<script type="text/javascript">
				function dimScreen() {
					window.setTimeout(function() {window.top.runThickBox(); }, 50);
					window.setTimeout(function() {window.top.stopThickBox(); }, 300000);
					return true;
				}
				function setHeight(){
					try {
						var theHeight=document['body'].offsetHeight+100;
						parent.document.getElementById('content').height=theHeight;
					} catch (err) {
						//do nothing
					}
				}
			</script>

			<table width="100%" height="100%">
			<tr><td>
					<t:messages styleClass="general_message" globalOnly="true"/>
			</td></tr>
			<tr><td>
				<ui:insert name="content"></ui:insert>
			</td></tr>

			</table>
		 <DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;"></DIV>

		</BODY>
	</HTML>
</f:view>