<div class="wrapper">
	<img class="anyiotion-logo" src="app/img/pixel.png" alt="anyoption"/>
	<h1>{{::mCtrl.getMsg('academy')}}</h1>
	
	<register-line-form ng-if="!mCtrl._u.settings.loggedIn" on-register="AcCtrl.setComplateRegister()"></register-line-form>
	
	<div class="additional-info-box">
		<div class="additional-info" ng-if="AcCtrl.showComplateRegister">
			<div>{{::mCtrl.getMsg('registration-complete')}}</div>
		</div>
	</div>
</div>