<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/js/thickbox/jquery.js"></script>

	<div id="page">
    	<div id="header">
        <div class="info">
            <div class="number">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="allowFullScreen" value="false" />
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="transparent" />
					<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
				</object>
    		</div>
        </div>
        	<div class="logo"></div>
        </div>
        <div id="banner1_IT_google">
            <div class="l_text_box">
           		<p>Questo significa che investendo €1000 in trading puoi ricavare ben €1710 in un solo trading L'investimento in opzioni binarie può sembrare complicato, ma in realtà è molto semplice.</p>
				<p>Per <strong> ottenere un profitto del 71% in un solo trading</strong> , basta <strong>prevedere</strong> se i <strong>valori</strong> di beni come oro, petrolio e valute estere subiranno un <strong>rialzo </strong> o un <strong>ribasso</strong>.</p>
				<ul>
					<li>Segli tra una varieta' di 85 beni internazionali</li>
					<li>Nuovi trading sono disponibili ogni ora, 24 ore alla settimana</li>
				</ul><br/>
                <div class="bottom_line">Allora, cosa aspetti? Apri ora un conto online! <img src="#{applicationData.imagesPath}/landing_Contactus/point.png" align="texttop" /></div>
                <div class="t_box">
                	<img class="t_photo" src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/photo1_#{applicationData.userLocale.language}.jpg" align="left" />
                	<div class="t_title" style="font-size:17px;"><img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_l.png" alt="inverted_commas" align="absmiddle" />  Ho guadagnato €700 di extra <img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_r.png" alt="inverted_commas" align="absbottom" /></div>
                    <div class="t_text"><br/>“Come direttore commerciale ho un agenda molto occupata senza praticamente tempo libero. Quando tono a casa dopo una lunga giornata lavorativa non mi rimane altro tempo. Sono felice di aver imparato un nuovo modo di fare trading online con le opzioni binarie. E' buono sapere anticipatamente che il rischio e' limitato.”</div><br/>
                    <div class="t_name">Fabio, 29, Direttore Commerciale </div>
                </div>
                <div class="t_box">
                	<img class="t_photo" src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/photo2_#{applicationData.userLocale.language}.jpg" align="left" />
                	<div class="t_title" style="font-size:17px;"><img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_l.png" alt="inverted_commas" align="absmiddle" />  Ho comprato un IPAD2 con i soldi che <br />&#160;&#160;&#160; ho guadagnato in qualche trading &#160;<img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_r.png" alt="inverted_commas" align="absbottom" /></div>
                    <div class="t_text">“Sono uno studente universitario, e lavoro come barista per pagarmi gli studi. Durante il periodo degli esami, non ho quasi tempo di lavorare e passo la maggior parte del tempo a casa a studiare. Le opzioni binarie offrono un metodo semplice per guadagnare un po' di soldi facilmente e comodamente da casa, magari mentre sto studiando per il prossimo esame.”</div>
                    <div class="t_name">Roberto, 25, Studente Universitario </div>
                </div>
                <span style="font-size: 12px; color: rgb(51, 51, 51);"><br/>*
					Avviso importante sui rischi: il trading di opzioni coinvolge rischi
					significativi. Puoi guadagnare 65-71% per opzione in-the-money o
					perdere 85% per trading out-of-the money.
				</span><br/>
            </div>
            <div class="r_text_box">
               <h:form id="contactForm" >
               <div class="r_text_box_content" >
		            	<h2>Inserisci i tuoi dettagli personali:</h2>
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<span class="star">* </span>
							<h:outputLabel value="#{msgs['register.firstname']}:" />
							<div class="input1">
							    <h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
							          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                	<span class="star">* </span>
		                	<h:outputLabel value="#{msgs['register.lastname']}:" />
							<div class="input1">
							    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
									validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.email']}:" />
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							<div class="input2_1"><div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
							<h:outputText styleClass="agree_text" value="Presto il mio consenso a ricevere"/><br/>
							<h:outputText styleClass="agree_text" value="aggiornamenti e offerte da anyoption™ "/>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<div class="submin_swf">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
        </div>
        <div id="footer">
        	<div class="icons">
            	<div class="icon_space">
	            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
		                <input name="idstatus" type="hidden" />
		                <input type="hidden" name="registrationdatefrom" />
		                <input type="hidden" value="ResultsDetailed" name="transition" />
		                <input type="hidden" name="selectOrderby2" />
		                <input type="hidden" name="niceclassificationnumber" />
		                <input type="hidden" name="indusage" />
		                <input type="hidden" name="publicationdateto" />
		                <input type="hidden" name="objIdappli" />
		                <input type="hidden" name="objRefine" />
		                <input type="hidden" name="objRefineAux" />
		                <input type="hidden" name="filingdateto" />
		                <input type="hidden" name="listTypeDate" />
		                <input type="hidden" name="search_for_transition" />
		                <input type="hidden" name="AppliRef" />
		                <input type="hidden" name="application" />
		                <input type="hidden" value="0" name="bAdvanced" />
		                <input type="hidden" name="owner" />
		                <input type="hidden" name="expirydatefrom" />
		                <input type="hidden" name="entity" />
		                <input type="hidden" name="objSQLBasic2" />
		                <input type="hidden" value="en" name="language" />
		                <input type="hidden" name="objSQLRepre" />
		                <input type="hidden" name="importTradeMarkId" />
		                <input type="hidden" name="ownerselect" />
		                <input type="hidden" name="idappliSelected" />
		                <input type="hidden" name="idstatus" />
		                <input type="hidden" name="objSearchBasic" />
		                <input type="hidden" name="objSQLBasic" />
		                <input type="hidden" value="search_basic.jsp" name="source" />
		                <input type="hidden" name="objSQLOwner" />
		                <input type="hidden" name="objSQLRepre2" />
		                <input type="hidden" name="selectOrderby" />
		                <input type="hidden" name="representative" />
		                <input type="hidden" value="1" name="printPage" />
		                <input type="hidden" name="userid" />
		                <input type="hidden" name="readonly" />
		                <input type="hidden" name="filingdatefrom" />
		                <input type="hidden" name="importctmidscriptmodule" />
		                <input type="hidden" name="representativeselect" />
		                <input type="hidden" name="expirydateto" />
		                <input type="hidden" value="0" name="backList" />
		                <input type="hidden" name="totalFound" />
		                <input type="hidden" value="0" name="bRefine" />
		                <input type="hidden" name="importctmidscriptmethod" />
		                <input type="hidden" name="publicationdatefrom" />
		                <input type="hidden" name="deno" />
		                <input type="hidden" name="bRefineModify" />
		                <input type="hidden" name="userCurrentAccount" />
		                <input type="hidden" value="200" name="blimited" />
		                <input type="hidden" name="registrationdateto" />
		                <input type="hidden" name="objSQLOwner2" />
		                <input type="hidden" value="8298697" name="idappli" />
		                <input type="hidden" value="3" name="markorigin" />
		                <input type="hidden" value="1" name="denoselect" />
		                <input type="hidden" name="denoaux" />
		                <input type="hidden" name="ntmark" />
		                <input type="hidden" value="1" name="listType" />
		                <img title="Informazioni sul marchio di trading anyoption" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/icons/ao_tm.jpg" />
	                </form>
                </div>
                <div class="icon_space">
                	<img width="73" height="27" border="0" title="Livelli di scadenza forniti da Reuters" src="#{applicationData.imagesPath}/icons/reuters.jpg" alt="" />
                </div>
                <div class="icon_space">
                	<img width="95" height="27" border="0" alt="" title="Sicurezza e codifica informatica" src="#{applicationData.imagesPath}/icons/thawte.gif" />
                </div>
                <div class="icon_space">
                	<img width="40" height="27" border="0" title="L'utilizzo del nostro sito è consentito solo per i clienti di età maggiore di 21 anni" src="#{applicationData.imagesPath}/landing_Contactus//21.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
	<div id="error_box">
	    <div class="error_message"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>