<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

		<br/>
		<div align="center" class="blue_text_11" style="line-height: 22px;">
		  	<h:outputText styleClass="blue_link_11" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/aboutus.jsf'" value="#{msgs['rightnav.aboutus']}"/>&#160;|&#160;
		  	<h:outputText styleClass="blue_link_11" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/contactus.jsf'" value="#{msgs['footer.contact.us']}"/>&#160;|&#160;
		  	<h:outputText styleClass="blue_link_11" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/general_terms.jsf'" value="#{msgs['footer.general.terms']}"/><br />
		  	<h:outputText styleClass="blue_link_11" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/security.jsf'" value="#{msgs['footer.security']}"/>&#160;|&#160;
		  	<h:outputText styleClass="blue_link_11" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/privacy.jsf'" value="#{msgs['footer.privacy']}"/>&#160;|&#160;
		  	<h:outputText styleClass="blue_link_11" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faq.jsf'" value="#{msgs['menuStrip.faq']}"/>
		</div>
		<br/>
		<ui:include src="/mobile/templates/footer_content.xhtml"></ui:include>

</f:view>