﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.png" type="image/png"/>

	<title><ui:insert name="windowtitle"/></title>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css?new=cvsVersionParam" type="text/css" />
	<ui:insert name="head"></ui:insert>

	<script>
		document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		var errorMsg = "Opps";
		var infoMsg = "Info";
		var doRediredt = false;
		var isIPhoneApp = #{applicationData.iphone};
		var isAndroidApp = #{applicationData.androidApp};
		var appVer = "#{facesContext.externalContext.sessionMap['appVer']}";
		var homePageN = "#{facesContext.externalContext.requestContextPath}/jsp/index.jsf";
		var tradePageN = "#{facesContext.externalContext.requestContextPath}/jsp/trade_binary_options.jsf";
		var currencyDecimalPoint = #{applicationData.currencyDecimalPointDigits};
	</script>

	<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<script>
		    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
		    var ajax = new AJAXInteraction(url, offsetCallback);
		    ajax.doGet();

			function offsetCallback(responseXML) {
			   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
			   //window.location.reload();
			}
		</script>
	</h:panelGroup>

	<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/common.js?new=cvsVersionParam"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/customAlert.js?new=cvsVersionParam"></script>

</head>
<f:view locale="#{applicationData.userLocale}">
<body class="body_bg" onorientationchange="orientationChangeHP()">
	<h:panelGroup rendered="#{!applicationData.isLocal}" >
		<ui:include src="/mobile/templates/googleTag.xhtml" />
		<ui:include src="/mobile/templates/google.xhtml" />
	</h:panelGroup>
	<!-- trade box msg -->
	<span style="display: none;" id="russionCharBox"> &#1074; </span>
	<ui:include src="/mobile/menuStrip.xhtml" >
		<ui:param name="template" value="hp" />
	</ui:include>
	<div style="width:100%;clear:both" >
		<div class="content_background">
		    <ui:insert name="content"></ui:insert>
		</div>
		<div class="margin_left_right_1_prc footer padd-all5">
		   <ui:include src="/mobile/templates/footer.xhtml"></ui:include>
		</div>
	</div>

	<ui:insert name="GoogleVisitHPCode"></ui:insert>

	<script language="Javascript">
		firstNameByOrientation();
	</script>
</body>
</f:view>
</html>