﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.png" type="image/png"/>

	<title><ui:insert name="windowtitle"/></title>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css?new=cvsVersionParam" type="text/css" />
	<ui:insert name="head"></ui:insert>

	<script>
		document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		var errorMsg = "Opps";
		var infoMsg = "Info";
		var doRediredt = false;
		var isIPhoneApp = #{applicationData.iphone};
		var isAndroidApp = #{applicationData.androidApp};
		var appVer = "#{facesContext.externalContext.sessionMap['appVer']}";
	</script>

	<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/common.js?new=cvsVersionParam"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/customAlert.js?new=cvsVersionParam"></script>

</head>

<f:view locale="#{applicationData.userLocale}">


<body class="body_bg">
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/mobile/templates/googleTag.xhtml" />
		<ui:include src="/mobile/templates/google.xhtml" />
	</c:if>
	<ui:include src="/mobile/menuStrip.xhtml" >
		<ui:param name="template" value="general" />
		<ui:param name="menuMode" value="false" />
	</ui:include>

	<div class="page_header_bg_image left_side_header float_left" align="center"> <ui:insert name="leftSideHeader"></ui:insert></div>
	<div class="page_header_bg_image right_side_header float_right" align="center" ></div>
	<div class="page_header_bg_image center_header" align="center"><ui:insert name="pageTitle"></ui:insert></div>

	<div class="margin_left_right_1_prc" style="width:98.4%;" >
		<ui:insert name="pageTitleInner"></ui:insert>
		<div class="content_border">
		    <ui:insert name="content"></ui:insert>
		</div>
		<ui:insert name="bankingFooter"></ui:insert>
		<div class="footer padd-all5">
		   <ui:include src="/mobile/templates/footer.xhtml"></ui:include>
		</div>
	</div>

	<script language="Javascript">
		firstNameByOrientation();
	</script>

</body>

</f:view>
</html>