<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


    <h:form id="worldCheckFailedForm">
     <body style="background: none;">	
    <!--world check failed-->
    <div class="world_check_container"> 
        <h1> <h:outputText value="Dear "/> <h:outputText value="#{user.firstName}"/> <h:outputText value=", "/> </h1>
        <p>
        <h:outputText value="In order to continue please contact customer at "/><a href="mailto:support@168qiquan.com">support@168qiquan.com</a> 
        </p>
        <p>
        <h:outputText value="or "/><h:outputText value="#{userRegulation.supportPhone}"/>.
        </p>
    </div>
    <!-- end of world check failed-->
</body>
    </h:form>
</f:view>

