
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['bonus.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="bonuses" />
</ui:define>
<ui:define name="content">

	<t:saveState id="userBonusFormSave" value="#{userBonusForm}" />

	<table border="0">
		<tr>
			<td>
			    <h:panelGroup>

			        <h:form id="userBonusForm">

			            <h:panelGrid style="text-align:center" columns="1" width="100%">

			   	            <h:outputText styleClass="info_messages" value="#{msgs['bonus.approveCancel.question']}"/>

							<h:panelGrid columns="2" style="text-align:#{applicationData.pageAlignment};" width="100%">
								<h:commandLink styleClass="info_messages" action="#{userBonusForm.approveCancel}">
				                	<h:outputText value="#{msgs['yes']}"/>
				                	<f:setPropertyActionListener target="#{userBonusForm.bonusUser}" value="#{bonusUsers}" />
				     	        </h:commandLink>
				     	        <h:commandLink styleClass="info_messages" action="#{userBonusForm.notApproveCancel}">
				                	<h:outputText value="#{msgs['no']}"/>
				     	        </h:commandLink>
			     	        </h:panelGrid>

			            </h:panelGrid>

			            </h:form>

			    </h:panelGroup>
			</td>
		</tr>
    </table>

</ui:define>
</ui:composition>

</html>
