
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['cards.jsf.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size"><h:outputText value="#{msgs['header.myaccount.message.cards']}"/></h1>
</ui:define>

<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="cards" />
</ui:define>

<ui:define name="content">

	<t:saveState value="#{cardsForm}" />
    <h:panelGroup >

		<h:form id="cardsForm">

             <h:panelGrid cellspacing="0" cellpadding="0" columns="1" width="714px" border="0" rowClasses="#{applicationData.pageAlignment}_align" >

			<h:outputText value="#{msgs['header.creditcards.edit.delete']}" styleClass="info_pages_text_header" />
			<br/>

		 	<h:panelGrid rendered="#{cardsForm.listSize==0}" columns="3" border="0" width="100%" cellpadding="0" cellspacing="0" >
			 		<h:panelGrid align="center" columns="1" border="0" >
			 		<h:outputText styleClass="pages_text" value="#{msgs['creditcards.emptylist']}" />
			 		</h:panelGrid>
		   	</h:panelGrid>

            <h:panelGrid align="center" columns="1" width="714px" border="0">
		     <t:dataTable id="data"
		        styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass=""
				rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_Column,standardTable_Column,standardTable_Column"
                var="v"
                value="#{cardsForm.cardsList}"
                preserveDataModel="false"
                rows="10"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#e1e1e1'"
				rowOnMouseOut="this.style.backgroundColor=old"
           >

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['creditcards.type']}"/>
               </f:facet>
               <h:outputText value="#{v.type.name}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.ccNum']}"/>
               </f:facet>

               <t:commandLink styleClass="general_link_blue" action="editCard" immediate="true">
               			<h:outputText value="#{v.ccNumberXXX}" />
               			<f:setPropertyActionListener target="#{card}" value="#{v}" />
				</t:commandLink>

           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['creditcards.expDate']}"/>
               </f:facet>
               <h:outputText value="#{v.expMonth}/#{v.expYear}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['delete.select']}"/>
               </f:facet>
               <h:selectBooleanCheckbox id="select" value="#{v.selected}" > </h:selectBooleanCheckbox>

           </h:column>

        	</t:dataTable>

        <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    styleClass=""
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator_cols"
                    paginatorTableClass="paginator"
                    paginatorRenderLinkForActive="false"
                    paginator="true"
                    paginatorMaxPages="9"
                    immediate="true"
 			        rendered="#{cardsForm.listSize>10}"
 			        style="align:center;"
                    >
                <ui:include src="/jsp/#{applicationData.templatesDirectory}/scroller_facets.xhtml"/>

            </t:dataScroller>
            </h:panelGrid>

				<h:panelGrid columns="2" border="0" styleClass="myaccount_cards_button">
					<h:outputText value="#{msgs['cards.card.number.info']}" />
	  	            <t:commandButton
						rendered="#{cardsForm.listSize>0}"
		         		id="btnImage"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/delete_u.jpg"
		         		onmouseover="Changepic('cardsForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/delete_d.jpg')"
		         		onmouseout="Changepic('cardsForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/delete_u.jpg')"
		         		onclick="gowait('cardsForm:btnImage','cardsForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		         		   		 return myfaces.oam.submitForm('cardsForm','cardsForm:hiddenbtn');">
		         	</t:commandButton>
		         	<h:commandLink action="#{cardsForm.delete}"
		         		id="hiddenbtn" style="display:none"/>

   			     </h:panelGrid>
   			</h:panelGrid>

			<h:panelGroup rendered="#{commonUtil.hasMessages}" style="text-align:center">
					<t:messages id="messages" layout="table" globalonly="true" errorClass="error_messages" infoClass="pages_text"/>
             </h:panelGroup>
		</h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>
