
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['changePass.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size"><h:outputText value="#{msgs['header.myaccount.message.changePass']}"/></h1>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="changepass" />
</ui:define>
<ui:define name="content">
    <h:form id="registerForm">
        <h:panelGrid cellspacing="0" cellpadding="0" columns="1" align="#{applicationData.pageAlignment}">

			<h:outputText value="#{msgs['changepass.page']}" styleClass="info_pages_text_header" />
			<br/>

			<h:panelGrid cellspacing="0" cellpadding="4" columns="2" columnClasses="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}">
                <h:outputLabel styleClass="new_lable" for="oldPassword" value="#{msgs['register.oldpassword']}"/>
                <h:panelGrid columns="2" cellspacing="0" cellpadding="0">
	                <h:inputSecret styleClass="new_input" id="oldPassword" value="#{registerForm.oldPassword}" required="true" redisplay="true">
	                </h:inputSecret>
	                <t:message id="oldPasswordError" for="oldPassword" replaceIdWithLabel="true" styleClass="error_messages"/>
                </h:panelGrid>

                <h:outputLabel styleClass="new_lable" for="password" value="#{msgs['register.newpassword']}"/>
                <h:panelGrid columns="2" cellspacing="0" cellpadding="0">
	                <h:inputSecret styleClass="new_input" id="password" value="#{registerForm.password}" required="true" redisplay="true"
			                validator="#{commonUtil.validatePasswordTypeAndSize}">
	                </h:inputSecret>
	                <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error_messages"/>
                </h:panelGrid>

                <h:outputLabel styleClass="new_lable" for="password2" value="#{msgs['register.retypeNewPassword']}"/>
        		<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
	                <h:inputSecret styleClass="new_input" id="password2" value="#{registerForm.password2}" required="true"
	                 validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
	                </h:inputSecret>
	                <t:message id="passwordError2" for="password2" replaceIdWithLabel="true" styleClass="error_messages"/>
          		</h:panelGrid>

	     		<h:panelGrid/>
				<h:panelGrid cellspacing="0" cellpadding="0" columns="2" border="0" width="100%" columnClasses="#{applicationData.columnClassesDirectionReverse}">
					<t:commandButton
		         		id="button"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
		         		onmouseover="Changepic('registerForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
		         		onmouseout="Changepic('registerForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
		         		onclick="gowait('registerForm:button','registerForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		         		 		 return myfaces.oam.submitForm('registerForm','registerForm:hiddenbtn');" >
		         	</t:commandButton>
	         		<h:commandLink action="#{registerForm.changePass}" id="hiddenbtn" style="display:none"/>
		  		</h:panelGrid>
       		</h:panelGrid>

       		<h:panelGroup rendered="#{commonUtil.hasMessages}" >
				<t:messages id="messages" layout="table" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
           	</h:panelGroup>


        </h:panelGrid>
    </h:form>
</ui:define>
</ui:composition>
</html>


