<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

    <ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
		<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
		</ui:define>
		<ui:define name="header">
		<h:outputText value="#{msgs['header.title']}"/>
		</ui:define>
		
		<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
		<ui:define name="title_message">
			<h1 class="account_title title_desc_size"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
		</ui:define>
		
		<ui:define name="footerMsg">
		<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
		</ui:define>
		<ui:define name="menuSet">
			<c:set var="td" value="deposit" />
			<c:set var="std" value="deltaPay" />
		</ui:define>
		<ui:define name="showDeposit">
			<c:set var="showDeposit" value="true" />
		</ui:define>
		<ui:define name="content">
			<div class="full_reg_holder ml10">
				<div class="clear mb20">
					<img src="#{applicationData.imagesPath}/banking/unionpay.gif"/>
					<img src="#{applicationData.imagesPath}/banking/visach.gif" class="ml10"/>
					<img src="#{applicationData.imagesPath}/banking/mastercard.gif" class="ml10"/>
					<span class="deposit_title"><h:outputText value="#{msgs['deltapay.header']}"/></span>
				</div>
				<ui:include src="/jsp/pages/cupDepositContent.xhtml"/>
				<a class="deposit_other_FM_link" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/paymentMethodSelector.jsf"><h:outputText value="#{msgs['CMS.newCardContent.text.otherfundingmethods']}" /></a>
			</div>
		</ui:define>
	</ui:composition>
</html>