<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="hsbc" />
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="content">

	<TABLE cellpadding="0" cellspacing="0" width="550px" border="0" align="#{applicationData.pageAlignment}">
		<tr>
			<td>
				<h:outputText value="#{msgs['header.hsbc.deposit']}" styleClass="info_pages_text_header" />
			</td>
		</tr>
		<tr><td>&#160;</td></tr>
		<tr align="#{applicationData.pageAlignment}">
			<td>
				<img SRC="#{applicationData.imagesPath}/hsbc.gif" border="0" height="42px" width="125px"/>
			</td>
		</tr>
		<tr><td>&#160;</td></tr>
		<tr>
			<td align="#{applicationData.pageAlignment}">
				<div style="width:500px; text-align:#{applicationData.pageAlignment};">
					<p class="pages_text" >
						Nuestros clientes en México podrán realizar fácilmente depósitos<br/>
						en su cuenta 168期权 en Pesos Mexicanos. Los mismos podrán<br/>
						efectuarse en depósitos en efectivo	o vía transferencia local<br/>
						en HSBC México.	El depósito se convertirá en Dólares con tarifas<br/>
						de cambio favorables.<br/>
						<br/>
						Sírvase utilizar los datos de la cuenta que aparece a continuación<br/>
						y notifique a nuestros representantes de Atención al Cliente luego<br/>
						de haber realizado su depósito o transferencia. Es importante incluir<br/>
						el Código de Referencia para asegurar un depósito rápido y efectivo.<br/>
						<br/>
						Si tuviera algún inconveniente o pregunta, por favor, comuníquese<br/>
						con	nuestro equipo de Atención al Cliente.<br/><br/>
					</p>
				</div>
			</td>
		</tr>
		<tr align="center">
			<td>
			   <table class="boxborder" width="400px" cellpadding="5" bgcolor="#e9e9e9" style="font-family:Verdana, Geneva, sans-serif; font-size:10px;"  >
			        <tr>
			        	<td width="25px">&#160;</td>
			        	<td bgcolor="#e9e9e9" align="#{applicationData.pageAlignment}">
				            <font style="color:#333;">¡Es esencial que indiques tu referencia<font style="color:#db0000;"> <strong> #{user.envoyUserReference} </strong></font>
				            <br/>en la transferencia bancaria para evitar retrasos!</font>
						</td>
			        </tr>
			    </table>
			  </td>
		 </tr>
		<tr>
			<td>
			   <table width="500" align="#{applicationData.pageAlignment}" cellpadding="5" style="font-family:Verdana, Geneva, sans-serif; font-size:10px;"  >
			        <tr>
			        	<td width="100px">&#160;</td>
			            <td ><strong>Banco:</strong> HSBC México<br/>
					         <strong>Sucursal:</strong> 0016 "Medellin"<br/>
					         <strong>Cuenta a nombre de:</strong> ENVOY SERVICES LIMITED MEXICO, S. A. DE C. V.<br/>
					         <strong>Número de cuenta:</strong> 4043060490<br/>
					         <strong>Número de Ruta:</strong> 021180040430604906<br/>
					         <br/>
			            </td>
			        </tr>
			    </table>
			  </td>
		 </tr>
		 <tr>
		  	<td align="#{applicationData.pageAlignment}">
				<div style="width:500px; text-align:#{applicationData.pageAlignment};">
					<p class="pages_text" >
						Para mayor información comuníquese con nuestros representantes:
						<a border="0" class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"><h:outputText value="#{msgs['rightnav.contact']}"/></a>
					</p>
				</div>
			</td>
		</tr>
	</TABLE>
</ui:define>
</ui:composition>
</html>
