<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['mailbox.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size"><h:outputText value="#{msgs['header.myaccount.mailbox']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['header.myaccount.mailbox']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="mailbox" />
</ui:define>
<ui:define name="content">

<script>
	function collectAllPressed(elm) {
		var list = document.getElementsByTagName("input");
		for (var i = 0 ; i &lt; list.length ; i++ ) {
			var e = list[i];
			if (e.type == "checkbox" &amp;&amp; e.id.indexOf("mailBoxForm") > -1) {
				e.checked = elm.checked;
			}
		}
	}

	var checkBoxPreesed = false;

	function updateFlag(elm) {
		checkBoxPreesed = true;
		var allElm = document.getElementById("selectAll");
		if (allElm.checked) {
			if (!elm.checked) {
				allElm.checked = false;
			}
		}
	}

	/*
		open template when pressing on the row without pressing on the checkBox
	*/
	function openTemplate(rowNum) {
		if (checkBoxPreesed == false) {
			var linkVar = document.getElementById("mailBoxForm:data:" + rowNum + ":hiddenbtn");
			linkVar.onclick();
		} else {
			checkBoxPreesed = false;
		}
	}

</script>

	<t:saveState value="#{mailBoxForm}" />


		<h:form id="mailBoxForm">

		<h:panelGrid cellspacing="0" cellpadding="0" columns="1" styleClass="center_align" width="100%">

		<h:panelGrid rendered="#{mailBoxForm.listSize==0}" align="center" rowClasses="center_align" columnClasses="center_align" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" >
	 		<h:outputText styleClass="pages_text" value="#{msgs['inbox.emptylist']}" />
	   	</h:panelGrid>

		<h:panelGrid align="center" rendered="#{mailBoxForm.listSize>0}" columns="1" border="0" width="702px" cellpadding="0" cellspacing="0">

			<h:panelGrid align="#{applicationData.pageAlignment}" columns="6" border="0" width="702px" cellpadding="0" cellspacing="0" class="mailbox_actions_table" columnClasses="#{applicationData.pageAlignment}_align">
				<h:panelGrid columns="1" width="15px" />
				<h:panelGrid columns="1" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align"><h:commandLink styleClass="general_link_10" action="#{mailBoxForm.delete}">#{msgs['mailbox.action.delete']}</h:commandLink></h:panelGrid>
				<h:panelGrid columns="1" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align"><h:commandLink styleClass="general_link_10" action="#{mailBoxForm.read}">#{msgs['mailbox.action.read']}</h:commandLink></h:panelGrid>
				<h:panelGrid columns="1" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align"><h:commandLink styleClass="general_link_10" action="#{mailBoxForm.unRead}">#{msgs['mailbox.action.unread']}</h:commandLink></h:panelGrid>
				<h:panelGrid columns="1" width="140px" />
				<h:panelGrid columns="2" align="#{applicationData.pageAlignmentReverse}" columnClasses="#{applicationData.pageAlignmentReverse}_align">
					<h:inputText dir="ltr" autocomplete="off" styleClass="new_input" maxlength="15" style="width:120px"
	               		id="search" value="#{mailBoxForm.searchFilter}"></h:inputText>
					<t:commandButton id="searchLink" alt="#{msgs['button.search']}" image="#{applicationData.imagesPath}/inboxMagniGlass.png"
		         		action="#{mailBoxForm.updateMailBox}">
		         	</t:commandButton>
				</h:panelGrid>
			</h:panelGrid>

			<table width="702px" cellpadding="0" cellspacing="0" border="0" id="emailsTable">
				<tr align="#{applicationData.pageAlignment}" height="30px" width="702px" >
					<td valign="middle" height="30px" width="15px" class="mailbox_table_header" align="center" style="padding-left: 3px;">
						<span class="mailbox_important">!</span>
					</td>
					<td align="#{applicationData.pageAlignment}" height="30px" width="30px" class="mailbox_table_header" >
						<input type="checkbox" id="selectAll" value="" onclick="collectAllPressed(this)"></input>
					</td>
					<td height="30px" width="100px" class="mailbox_table_header" >#{msgs['mailbox.from']}</td>
					<td height="30px" width="351px" class="mailbox_table_header">#{msgs['mailbox.subject']}</td>
					<td height="30px" width="206px" class="mailbox_table_header" style="border-right-style:none;">#{msgs['mailbox.recived']}</td>
				</tr>
			</table>

			<table width="702px" cellpadding="0" cellspacing="0" border="0" id="emailsTable">
				<t:dataList
					id="data"
					value="#{mailBoxForm.emails}"
					var="v"
					rowIndexVar="vIndex"
					layout="simple"
					rows="10" >

					<tr valign="middle" height="30px" width="702px" class="#{v.new ? 'mailbox_link_bold' : 'mailbox_link'}" onclick="openTemplate('#{vIndex}');" style="cursor: pointer;" onmouseover="old=this.style.backgroundColor;this.style.backgroundColor='#e6f5ff'" onmouseout="this.style.backgroundColor=old">
						<td align="center" height="30px" width="16px" class="#{(((vIndex+1) % 10 == 0) || (vIndex+1 == mailBoxForm.listSize)) ? 'mailbox_table_td_last' : 'mailbox_table_td'}" style="padding-left: 3px; text-align: center;">
							<t:graphicImage value="#{applicationData.imagesPath}/mailBoxImportant.png" rendered="#{v.isHighPriority}" border="0" />
							<h:outputText rendered="#{!v.isHighPriority}" escape="false" value="&#160;" />
						</td>
						<td align="#{applicationData.pageAlignment}" height="30px" width="29px" class="#{(((vIndex+1) % 10 == 0) || (vIndex+1 == mailBoxForm.listSize)) ? 'mailbox_table_td_last' : 'mailbox_table_td'}">
							 <h:selectBooleanCheckbox id="mailBoxForm#{v.id}" value="#{v.selected}" onclick="updateFlag(this);" />
						</td>
						<td align="#{applicationData.pageAlignment}" width="100px" height="30px" class="#{(((vIndex+1) % 10 == 0) || (vIndex+1 == mailBoxForm.listSize)) ? 'mailbox_table_td_last' : 'mailbox_table_td'}">
					    	<h:outputText value="#{msgs[v.senderName]}" />
						</td>
		    			<td align="#{applicationData.pageAlignmentReverse}" border="0" cellpadding="0" cellspacing="0" width="351px" height="30px" class="#{(((vIndex+1) % 10 == 0) || (vIndex+1 == mailBoxForm.listSize)) ? 'mailbox_table_td_last' : 'mailbox_table_td'}">
			    			<h:outputText escape="false" value="#{v.subject}" />
			    			<h:outputText escape="false" rendered="#{v.attachmentId != null &amp;&amp; v.attachmentId != 0}" value="&#160;&#160;" />
			    			<t:graphicImage value="#{applicationData.imagesPath}/attachment.png" rendered="#{v.attachmentId != null &amp;&amp; v.attachmentId != 0}" border="0" />
					    	<t:commandLink id="hiddenbtn" action="#{mailBoxForm.openTemplate}" style="display:none">
						    	<f:setPropertyActionListener target="#{mailBoxForm.email}" value="#{v}" />
							</t:commandLink>
						</td>
						<td align="#{applicationData.pageAlignment}" width="206px" height="30px" class="#{(((vIndex+1) % 10 == 0) || (vIndex+1 == mailBoxForm.listSize)) ? 'mailbox_table_td_last' : 'mailbox_table_td'}">
							 <h:outputText escape="false" value="#{v.timeCreated}">
							 		<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{writer.utcOffset}" />
							 </h:outputText>
						</td>
					</tr>
	 		   	</t:dataList>
   			</table>

			<h:panelGrid columns="1" border="0" cellpadding="0" cellspacing="0" width="702px" align="center" class="mailbox_footer_table" rowClasses="center_align" columnClasses="center_align">
				<h:outputText escape="false" value="&#160;" rendered="#{mailBoxForm.listSize &lt; 10 || mailBoxForm.listSize == 10}" />
				<h:panelGrid rendered="#{mailBoxForm.listSize>10}" columns="3" border="0" cellpadding="0" cellspacing="0" width="100%" align="center" rowClasses="center_align" columnClasses="center_align">
					<h:panelGrid columns="1" width="301px" />
		            <t:dataScroller id="scroll_1"
		                    for="data"
		                    fastStep="10"
		                    pageCountVar="pageCount"
		                    pageIndexVar="pageIndex"
		                    paginator="true"
		                    paginatorMaxPages="9"
		                    paginatorActiveColumnClass="paginator_active"
		                    paginatorColumnClass="paginator_cols"
		                    paginatorTableClass="paginator"
		                    paginatorRenderLinkForActive="false"
		                    immediate="true"
		                    rendered="#{mailBoxForm.listSize>10}"
		                    styleClass="center_align"
		                    style="text-align:center;"
		                    >
		              <ui:include src="/jsp/#{applicationData.templatesDirectory}/scroller_facets.xhtml"/>
		            </t:dataScroller>
					<h:panelGrid columns="1" width="301px" />
		    	</h:panelGrid>
			</h:panelGrid>

		</h:panelGrid>
   	    </h:panelGrid>
        </h:form>
	</ui:define>
</ui:composition>

</html>