<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<TABLE cellpadding="0" cellspacing="0" width="544px" border="0" align="#{applicationData.pageAlignment}">
	 <tr>
	  <td align="#{applicationData.pageAlignment}">
    	<h:panelGroup>

            <h:panelGrid columns="1" width="430px" border="0" columnClasses="#{applicationData.pageAlignment}_align">

                <h:outputText escape="false" styleClass="info_pages_text_header" value="#{msgs['creditcard.deposit.success']}"/>
                <h:panelGroup rendered="#{transaction.typeId != 28}">
                	<h:panelGroup rendered="#{transaction.clearingProviderId == 26 || transaction.clearingProviderId == 27 || transaction.clearingProviderId == 28}">
	                	<h:outputText escape="false" styleClass="pages_text" style="font-weight: bold;" value="#{msgs['receipt.bank_descriptor']}"/>
	                	<br/>
                	</h:panelGroup>
	                <h:outputText escape="false" styleClass="pages_text" value="#{transaction.amountTxt} #{msgs['receipt.add']}"/>
                	<br/>
                </h:panelGroup>
                <h:outputText rendered="#{transaction.typeId == 28}" escape="false" styleClass="pages_text" value="#{msgs['deposit.ach.success']}"/>
                <h:outputText styleClass="pages_text" value="#{msgs['receipt.transactionid']} #{transaction.id}."/>

				<h:panelGroup rendered="#{transaction.typeId == 30 &amp;&amp; transaction.ukash.differentCurrencies &amp;&amp; transaction.currency.id != 5}"> <!-- Ukash General conversion message -->
                    <br/><h:outputText escape="false" styleClass="pages_text" value="#{msgs['ukash.exchange.rates']}" /><br/>
				</h:panelGroup>

				<h:panelGroup rendered="#{transaction.typeId == 30 &amp;&amp; transaction.ukash.differentCurrencies &amp;&amp; transaction.currency.id == 5}"> <!-- Ukash TRY conversion message -->
                    <br/><h:outputText escape="false" styleClass="pages_text" value="#{msgs['ukash.converted.amount']}" /><br/>
					<br/><h:outputText escape="false" styleClass="pages_text" value="#{transaction.ukash.conversionMsg}" /><br/><br/>
				</h:panelGroup>

				<h:form id="temp">
						<table cellpadding="0" cellspacing="0" width="235px" >
							<tr align="#{applicationData.pageAlignment}">
								<td  align="#{applicationData.pageAlignment}">
					     	        <h:outputLink border="0" id="receipttLink" value="#"
										onclick="window.open('receipt_print.jsf;#{applicationData.sessionIdString}','receiptwindow','menubar=1,resizable=1,width=400,height=500'); return false;"
									    target="_top" styleClass="general_link">
										<h:graphicImage border="0"
							         		id="cancellink"
							         		value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/view_u.jpg"
							         		onmouseover="Changepic('temp:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/view_d.jpg')"
							         		onmouseout="Changepic('temp:cancellink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/view_u.jpg')"
							         	></h:graphicImage>
							         </h:outputLink>
						         </td>
						         
								 <c:set var="continueLinkValue" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"/>
								 <c:if test="${userRegulation.userInDepositStep}">
									<c:set var="continueLinkValue" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/questionnaire.jsf"/>
								 </c:if>
						         <td align="#{applicationData.pageAlignment}">
									 <h:outputLink value="${continueLinkValue}"
										 styleClass="general_link" target="_top">
							         	<h:graphicImage
							         		border="0"
							         		id="savelink"
							         		value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg"
							         		onmouseover="Changepic('temp:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_d.jpg')"
							         		onmouseout="Changepic('temp:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/continue_u.jpg')"
							            />
									</h:outputLink>
								</td>
							</tr>
						</table>
				</h:form>

		     </h:panelGrid>

      </h:panelGroup>
    </td>
  </tr>
</TABLE>

</f:view>
