
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size"><h:outputText style="color:#db0000;" value="#{msgs['header.myaccount.message.bankwire']}"/></h1>
</ui:define>

<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="withdraw" />
	<c:set var="std" value="wire" />
</ui:define>

<ui:define name="russian-banner">
	<h:panelGroup rendered="#{applicationData.skinId == 10}" >
		<td valign="top">
			<img src="#{applicationData.imagesPath}/ru_10/Withdrawal-top-text.png" width="254px" height="64px" />
			<br/><br/>
			<img src="#{applicationData.imagesPath}/ru_10/Withdrawal-middle-text.png" width="226px" height="33px" />
			<br/><br/>
			<img src="#{applicationData.imagesPath}/ru_10/Withdrawal-Russian-Banner.png" width="249px" height="154px" />
		</td>
	</h:panelGroup>
</ui:define>

<ui:define name="content">
	<script>
		<!--
			/*
				Handles all actions upon bank name change
			*/
			function handleBankNameChange() {
				if (null != document.getElementById("wireForm:bankNameList")) {
					var bankNameId = document.getElementById("wireForm:bankNameList").value;
					if (bankNameId == 40) {
						if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
							document.getElementById("wireForm:bankNameLabel").parentNode.parentNode.style.display="block";
						} else {
							document.getElementById("wireForm:bankNameLabel").parentNode.parentNode.style.display="table-row";
						}
					} else {
						document.getElementById("wireForm:bankNameLabel").parentNode.parentNode.style.display="none";
					}
				}
			}
			function displayBeneficiaryNameTooltip() {
				var beneficiaryName = document.getElementById("wireForm:beneficiaryName");
				var beneficiaryNameError = document.getElementById("wireForm:beneficiaryNameError");
				var beneficiaryTooltipGroup = document.getElementById("wireForm:beneficiaryTooltipGroup");
				if (beneficiaryName != null) {
					if (beneficiaryName.value == '') {
						if (beneficiaryNameError.innerHTML != null && beneficiaryNameError.innerHTML != '') {
							beneficiaryTooltipGroup.style.visibility = "hidden";
						} else {
							beneficiaryTooltipGroup.style.visibility = "visible";
						}
					}
				}
			}
		-->
	</script>
<t:saveState value="#{wireForm}" />
<t:saveState value="#{wireForm.wire}" />

<h:panelGroup width="100%" align="#{applicationData.pageAlignment}">
	<div class="fL_wire">
		<h:form id="wireForm">
			<h:inputHidden value="#{visit.generate}" />
			<h:inputHidden value="#{visit.saveToken}" />
			<h:panelGrid border="0" columns="1" width="100%" align="#{applicationData.pageAlignment}" rowClasses="#{applicationData.pageAlignment}_align">
	
	
				<h:panelGrid columns="1" border="0" cellspacing="0" cellpadding="0" styleClass="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}">
			        <h:outputText value="#{msgs['header.bank.wire.withdrawal']}" styleClass="info_pages_text_header" style="align:center;"/>
		     	</h:panelGrid>
	
	
				<h:panelGrid border="0" cellspacing="0" cellpadding="0" columns="1" align="#{applicationData.pageAlignment}">
		            <h:panelGrid columns="2" cellspacing="0" cellpadding="4" columnClasses="#{applicationData.pageAlignment}_align" border="0">
						<h:outputLabel styleClass="new_lable" for="beneficiaryName" value="#{msgs['bank.wire.beneficiary.name']}"/>
						<h:panelGroup border="0" styleClass="" align="" style="width:415px" >
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="beneficiaryName" value="#{wireForm.wire.beneficiaryName}" required="true"></h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="beneficiaryNameError" for="beneficiaryName" replaceIdWithLabel="true" styleClass="error_messages"></t:message>
							<h:panelGroup id="beneficiaryTooltipGroup">
								<span class="beneficiary_tooltip_h" id="beneficiary_tooltip">
									<span class="beneficiary_tooltip_arrow"></span>
									<h:outputText escape="false" value="#{msgs['beneficiary.name.tooltip']}" />
								</span>
							</h:panelGroup>	
						</h:panelGroup>
	
						<h:outputLabel styleClass="new_lable" rendered="#{applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 22}" for="swift" value="#{msgs['bank.wire.swift']}"/>
						<h:panelGroup border="0" rendered="#{applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 22}" styleClass="" align="" style="width:415px">
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="swift" value="#{wireForm.wire.swift}" required="true"></h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="swiftError" for="swift" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
	
						<h:outputLabel styleClass="new_lable" rendered="#{applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 22}" for="iban" value="#{msgs['bank.wire.iban']}"/>
						<h:panelGroup border="0" rendered="#{applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 22}" styleClass="" align="" style="width:415px">
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="iban" value="#{wireForm.wire.iban}" required="true"></h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="ibanError" for="iban" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
	
						<h:outputLabel styleClass="new_lable" for="accountNum" value="#{msgs['bank.wire.account.number']}"/>
						<h:panelGroup border="0" styleClass="" align="" style="width:415px">
				            <h:inputText styleClass="new_input"  maxlength="20" dir="ltr" id="accountNum" value="#{wireForm.wire.accountNum}" required="true">
				            	<f:validateLongRange/>
				            </h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="accountNumError" for="accountNum" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
	
						<h:outputLabel rendered="#{applicationData.skinId != 22}" styleClass="new_lable" for="bankName" value="#{msgs['bank.wire.bank.name']}"/>
						<h:panelGroup rendered="#{applicationData.skinId != 22}" border="0" styleClass="" align="" style="width:415px">
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="bankName" value="#{wireForm.wire.bankNameTxt}" required="true"></h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="bankNameError" for="bankName" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
						
						<h:outputLabel rendered="#{applicationData.skinId == 22}" styleClass="new_lable" for="bankNameList" value="#{msgs['bank.wire.bank.name']}"/>
						<h:panelGroup rendered="#{applicationData.skinId == 22}" border="0" styleClass="" align="">
							<h:selectOneMenu styleClass="new_input" style="width:171px;" id="bankNameList" value="#{wireForm.bankWireWithdrawalId}" 
									onchange="handleBankNameChange();">
				            	<f:selectItems value="#{wireForm.bankWireWithdrawal}" />
				            </h:selectOneMenu>
						</h:panelGroup>
						
						<h:outputLabel rendered="#{applicationData.skinId == 22}" id="bankNameLabel" styleClass="new_lable" for="bankNameText" value="#{msgs['bank.wire.bank.name']}"/>
						<h:panelGroup rendered="#{applicationData.skinId == 22}" id="bankNameGrid" columns="1" border="0">
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="bankNameText" value="#{wireForm.bankOtherNameTxt}"></h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="bankNameTextError" for="bankNameText" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
	
						<h:outputLabel rendered="#{applicationData.skinId != 8}" styleClass="new_lable" for="branchNumber" value="#{msgs['bank.wire.branch.number']}"/>
						<h:panelGroup rendered="#{applicationData.skinId != 8}" border="0" styleClass="" align="" style="width:415px">
				        	<h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="branchNumber" value="#{wireForm.wire.branch}" required="true">
				            	<f:validateLongRange/>
				            </h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="branchNumberError" for="branchNumber" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
	
						<h:outputLabel rendered="#{applicationData.skinId != 8 &amp;&amp; applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 22}" styleClass="new_lable" for="branchAddress" value="#{msgs['bank.wire.branch.address']}"/>
						<h:panelGroup rendered="#{applicationData.skinId != 8 &amp;&amp; applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 22}" border="0" styleClass="" align="" style="width:415px">
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="branchAddress" value="#{wireForm.wire.branchAddress}" required="true"></h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="branchAddressError" for="branchAddress" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
						
						<h:outputLabel rendered="#{applicationData.skinId == 15}" styleClass="new_lable" for="branchName" value="#{msgs['bank.wire.branch.name']}"/>
						<h:panelGroup rendered="#{applicationData.skinId == 15}" border="0" styleClass="" align="" style="width:415px">
				            <h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="branchName" value="#{wireForm.wire.branchName}" required="true" 
				            	validator="#{commonUtil.validateChineseLettersOnly}">
				            </h:inputText>
							<h:outputLabel value="&#160;"/>
							<t:message id="branchNameError" for="branchName" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGroup>
						
	
						<h:panelGrid columns="2" border="0" width="100%" cellspacing="0" cellpading="0">
							<h:outputLabel styleClass="new_lable" for="amount" value="#{msgs['bank.wire.amount']}"/>
						   	<h:outputText align="right" rendered="#{(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
		            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
						</h:panelGrid>
	
			            <h:panelGroup border="0" styleClass="" align="" style="width:415px">
		                	<h:panelGrid columns="4" border="0" cellspacing="0" cellpading="0">
			      	          	<h:inputText dir="ltr" styleClass="new_input" maxlength="9" id="amount" value="#{wireForm.wire.amount}" required="true">
			 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
			                	</h:inputText>
			                	<h:outputText id="aaa" rendered="#{!((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
			            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign))}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
								<h:outputLabel value="&#160;"/>
		                    	<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error_messages"/>
	                    	</h:panelGrid>
		            	</h:panelGroup>
	
						<h:panelGrid columns="1"/>
						<h:panelGrid columns="2" border="0" cellpadding="0" cellspacing="0" width="117px;" style="text-align:#{applicationData.pageAlignment}">
							<t:commandButton
				         		id="button_wire"
				         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
				         		onmouseover="Changepic('wireForm:button_wire','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
				         		onmouseout="Changepic('wireForm:button_wire','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
				         		onclick="gowait('wireForm:button_wire','wireForm:hiddenWire','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
				         				 return myfaces.oam.submitForm('wireForm','wireForm:hiddenWire');" >
				         	</t:commandButton>
				         	<h:commandLink action="#{wireForm.insert}"
				         		id="hiddenWire" style="display:none"/>
						</h:panelGrid>
	         	 	</h:panelGrid>
	          	</h:panelGrid>
	
				<h:panelGroup rendered="#{withdrawForm.bonusError}" >
					<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages"/>
					<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages" escape="false"/>
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#bonusL"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>&#160;
				</h:panelGroup>
	
	        	<h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; !withdrawForm.bonusError}" >
						<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	            </h:panelGroup>
	        </h:panelGrid>
		</h:form>
	</div>
	<SCRIPT language="JavaScript">
		handleBankNameChange();
		displayBeneficiaryNameTooltip();
	</SCRIPT>
</h:panelGroup>
</ui:define>
</ui:composition>

</html>
