<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.imagesSubDirectory}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.imagesSubDirectory}/favicon.png" type="image/png"/>
	<title>#{msgs['mobile.appPage.window.title.android']}</title>
    <meta name="description" content="#{msgs['mobile.appPage.description.android']}"/>
    <meta name="keywords" content="#{msgs['mobile.appPage.keywords.android']}"/>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css" type="text/css" />
	<style>
		li {position: relative;left: -20px;list-style-image: url(#{applicationData.imagesPath}/mobile/arrowBlue.png);font-size: 8.5pt;}
	</style>
</head>
<f:view locale="#{applicationData.userLocale}">
<body>
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/mobile/templates/googleTag.xhtml" />
		<ui:include src="/mobile/templates/google.xhtml" />
	</c:if>
	<table cellpadding="0" cellspacing="0" width="100%" align="center">
		<tr align="center">
			<td align="center">
				<ui:include src="/mobile/appPage.xhtml">
					<ui:param name="device" value="android" />
				</ui:include>
			</td>
		</tr>
	</table>
</body>
</f:view>
</html>