﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body style="background:transparent;">
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">特别奖金</span><br/>

          <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==false}">

			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >

	    			<span class="bonus_text">
						 我们很高兴通知您，您下次存款将能获得存款额百分之 #{facesContext.externalContext.requestParameterMap['bonusPercent']} 的特别奖金。<br/>
	    				<br/>
   						账户一旦存款 #{facesContext.externalContext.requestParameterMap['minDeposit']} 或以上，奖金即会存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
						<br/>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
		    				最高奖金额: &#160; #{facesContext.externalContext.requestParameterMap['bonusAmount']}.
	    					<br/>
						</h:panelGroup>
						<br/>
						奖金有效期至 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
						<br/>
						请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/>
						<br/>
	    			</span>
	    		</h:panelGroup>
	    		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    			<span class="bonus_text">
	    				您收到的特别奖金金额为 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. 奖金会存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
	    				<br/>
	    				奖金的使用期至  &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
	    				<br/>
	    				请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/>
	    				<br/>
	    			</span>
	    		</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

    					<span class="bonus_text">
    						我们很高兴通知您，您能获得奖金，其金额为百分之 #{facesContext.externalContext.requestParameterMap['bonusPercent']} 您的 #{facesContext.externalContext.requestParameterMap['numOfActions']} 存款金额。<br/>
    						<br/>
    						账户一旦存款 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['numOfActions']}"/> 奖金即会存入到您的帐户，并显示在“我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
    						<br/>
    						奖金有效期至 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
    						<br/>
    						请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/>
    						<br/>
    					</span>
    			</h:panelGroup>
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
					<span class="bonus_text">
						您收到的特别奖金金额为 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. 奖金即会存入到您的帐户，并显示在“我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
						<br/>
						奖金使用期至 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
						<br/>
						请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/>
						<br/>
					</span>
				</h:panelGroup>
			</h:panelGroup>
          </c:if>

		  <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==true}">
		  	<script>
				var bonusSteps="#{facesContext.externalContext.requestParameterMap['bonusSteps']}";
				var bonusStepsArray = bonusSteps.split(",");
			</script>

			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

    			<span class="bonus_text">
	 				我们很高兴通知您，当您下次进行账户存款时您将获得一笔特别奖金。奖金金额大小取决于您的存款额。存款越多，奖金百分比就越高。<br/>
	 				<br/>
 				</span>

 				<span class="bonus_text">
 					<f:verbatim>
					    <script>
					    	for(var i=0;i&lt;bonusStepsArray.length;i++)
					    	{
					    		var bonusPercent = parseFloat(bonusStepsArray[i].split("#")[0])*100+'%';
					    		var minAmount    = "#{facesContext.externalContext.requestParameterMap['symbol']}"+parseInt(bonusStepsArray[i].split("#")[1])/100;
					    		var maxAmount    = "#{facesContext.externalContext.requestParameterMap['symbol']}"+parseInt(bonusStepsArray[i].split("#")[2])/100;
					    		document.write('On a deposit between '+minAmount+'.00 to '+maxAmount+'.00 (level ' + (i+1) + ') you will receive a '+bonusPercent+' bonus on the amount of your deposit.');
					    		document.write('<br/>');
					    	}
					    </script>
					</f:verbatim>
				</span>

				<span class="bonus_text">
					<br/>
					账户一旦存款 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/> 或以上，奖金即会存入到您的帐户，并将显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
					<br/>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
	    				最高奖金额: &#160; #{facesContext.externalContext.requestParameterMap['bonusAmount']}.
    					<br/>
					</h:panelGroup>
					<br/>
					奖金有效期至 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
					<br/>
					请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/>
					<br/>
				</span>

 			</h:panelGroup>

			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
				<span class="bonus_text">
					您收到的特别奖金金额为  &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. 奖金已经存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
					<br/>
					奖金使用期至 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
					<br/>
					请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/>
					<br/>
				</span>
			</h:panelGroup>
		  </c:if>

          <span class="bonus_terms"><strong>奖金 – 一般条款</strong><br/>
            客户必须遵守具体参与的优惠条款，奖金才会被记入到客户账户。例如：在一定的时间内需要存款的最低金额和/或至少要购买的期权量。<br/>
            <br/>
            <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==false}">
                除非在优惠条款中另有说明，客户若想在收到此优惠奖金后，从账户提款的前提是客户需再作出投资，投资金额需高于收到的奖金的 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam'] * facesContext.externalContext.requestParameterMap['bonusPercent'] / 100}"/> 倍。<br/>
            </c:if>
            <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==true}">
            	除非在优惠条款中另有说明，客户若想在收到此优惠奖金后，从账户提款的前提是客户需再作出投资，投资金额为:<br/>
        	 	<f:verbatim>
				    <script>
				    	for(var i=0;i&lt;bonusStepsArray.length;i++)
				    	{
				    		var bonusPercent = parseFloat(bonusStepsArray[i].split("#")[0]);
				    		var wageringP = #{facesContext.externalContext.requestParameterMap['wageringParam']};
				    		document.write('Level ' + (i+1) + ': '+ (wageringP * bonusPercent) +' times the amount of the deposit.');
				    		document.write('<br/>');
				    	}
				    </script>
				</f:verbatim>
         	</c:if>
            <br/>
            本公司鼓励其客户参与优惠活动，但不要滥用。滥用任何优惠均可导致奖金取消和关闭客户在本网站的账户。<br/>
            <br/>
            奖金必须在具体陈述的有效期内使用。如果奖金在有效期期间未被使用，奖金将会从客户帐户撤销。<br/>
            <br/>
			在收到奖金/福利后，客户有3（三）个月时间来达到作为取款先决条件的投资总额要求。‎如果在这段时间内，投资总额没有达到要求的数额，公司将根据自由裁量权，从客户的账户中取回相应的奖金/福利。‎<br/>
			<br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
          </span>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
