﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<style type="text/css">
.bonus_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
color: #333;
}
.bonus {
	font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
font-weight: bold;
color: #db0000;
}
.bonus_terms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 16px;
color: #333;
}
</style>

</head>

<body style="background:transparent;">
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td height="505" width="150">
    	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
         <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">特别奖金</span><br /><br />
            <span class="bonus_text">我们很高兴通知您，您能获得金额为 &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>的特别奖金。<br />
            <br />
            您一旦充值&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumDeposits']}"/> 金额并且投资总金额达到 &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/> 后，奖金会立即存入到您的帐户，并将显示在 “我的帐户” > “银行记录” 的 “168期权奖金 ”里。<br />
            <br />
            优惠有效期至 &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.</span><br />
            <br />
            <span class="bonus_terms"><strong>奖金 – 一般条款</strong><br />
            客户必须遵守具体参与优惠的条款，奖金才会被记入到客户账户。例如：在一定的时间内需要存款的最低金额和/或至少要购买的期权量。<br />
            <br />
            本公司鼓励其客户参与优惠活动，但不要滥用。滥用任何优惠均可导致奖金取消和关闭客户在本网站的账户。<br />
            <br />
            奖金必须在具体陈述的有效期内使用。如果奖金在有效期期间未被使用，奖金将会被撤销。<br />
            <br />
            在收到奖金/福利后，客户有3（三）个月时间来达到作为收到奖金先决条件的投资总额要求。如果在这段时间内，投资总额没有达到要求的数额，客户将不能收到相应的奖金/福利。<br />
            <br />
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" /> 
            </span> </td>
        </tr>
      </table></td>

        </tr>
      </table></td>
  </tr>
</table>

<script type="text/javascript"><!--

	function getScrolling()
	{
		var x = 0; var y = 0;if (self.pageXOffset || self.pageYOffset)
		{
			x = self.pageXOffset;
			y = self.pageYOffset;
		}
		 else if ((document.documentElement && document.documentElement.scrollLeft)||(document.documentElement && document.documentElement.scrollTop))
		{
			x = document.documentElement.scrollLeft;
			y = document.documentElement.scrollTop;
		}
		 else if (document.body) 
		{
			x = document.body.scrollLeft;
			y = document.body.scrollTop;
		}
		return x + "," + y;
	}
	
//--></script>
</f:view>
</body>
</html>