<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<body style="background:transparent;">
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500" valign="top"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td style="font-family: Arial;"><span class="bonus">特别奖金</span><br/>

		  <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

						     <span class="bonus_text">
						     我们很高兴通知您，您能获得特别奖金金额为 &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.<br/>
						     <br/>
						     账户一旦存款&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/> 或以上，奖金即会存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
						     <br/>
						     奖金有效期至&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
						     <br/>
						     请注意，按照以下一般条款规定，收到奖金后，提款限制将适用于您的帐户。<br/>
						     <br/>
						     </span>
          			</h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2 ||
				 						facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
										facesContext.externalContext.requestParameterMap['bonusStateId']==4}">

						     <span class="bonus_text">
						     	您收到特别奖金金额为&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. 奖金已存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
						     	<br/>
								奖金使用期至&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
								<br/>
								请注意，按照以下一般条款规定，收到奖金后，提款限制将适用于您的帐户。.<br/>
								<br/>
						     </span>
					</h:panelGroup>
          </h:panelGroup>

          <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >

          			<span class="bonus_text">
          				我们很高兴通知您，您能获得奖金，其金额为百分之&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> 您的 #{facesContext.externalContext.requestParameterMap['numOfActions']} 存款金额。<br/>
          				<br/>
          				账户一旦存款&#160;#{facesContext.externalContext.requestParameterMap['numOfActions']} 或以上，奖金即会存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
          				<br/>
          				奖金有效期至&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
          				<br/>
          				请注意，按照以下一般条款规定，收到奖金后，提款限制将适用于您的帐户。<br/>
          				<br/>
          			</span>
          		</h:panelGroup>
          		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
          			<span class="bonus_text">
          				您收到特别奖金金额为&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. 奖金已存入到您的帐户，并显示在 “我的帐户” > “银行记录” 里的 “168期权奖金 ”.<br/>
          				<br/>
          				奖金使用期至&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
          				<br/>
          				请注意，按照以下一般条款规定，收到奖金后，提款限制将适用于您的帐户。<br/>
          				<br/>
          			</span>
          		</h:panelGroup>
          </h:panelGroup>

          <span class="bonus_terms"><strong>奖金 – 一般条款</strong><br/>
            客户必须遵守具体参与的优惠条款，奖金才会被记入到客户账户。例如：在一定的时间内需要存款的最低金额和/或至少要购买的期权量。<br/>
            <br/>
            除非另有条款声明，投资者在收到奖金以后，从账户提款的前提是需要作出总金额为奖金金额   倍的投资。<br/>
            <br/>
            本公司鼓励其客户参与优惠活动，但不要滥用。滥用任何优惠均可导致奖金取消和关闭客户在本网站的账户。<br/>
            <br/>
           奖金必须在具体陈述的有效期内使用。如果奖金在有效期期间未被使用，奖金将会从客户帐户撤销。<br/>
            <br/>
           在收到奖金/福利后，客户有3（三）个月时间来达到作为取款先决条件的投资总额要求。‎如果在这段时间内，投资总额没有达到要求的数额，公司将根据自由裁量权，从客户的账户中取回相应的奖金/福利。<br/>
            <br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
          </span>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
