﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<table  width="720" height="536" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/top.gif" width="720" height="110" ></td>
	</tr>
	<tr>
		<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/left.gif" width="187" height="302" ></td>
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/closed.gif" width="377" height="86"></td>
		<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/right.gif" width="156" height="302" ></td>
	</tr>
	<tr>
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/text.gif" width="377" height="136" >
        	<table>
            	<tr>
               	  <td class="onetouch_tradePage_offhour">
                    168期权 是一个二元期权交易平台，它用户界面友好，简单易用，能够使您在市场短期和中期的波动收益。我们提供了成千上百个同时执行的Call和Put期权。在周末，我们提供一种高达380 ％的收益率的一触即付期权。
<br/><br/>
指数期权 |&#160;  股票期权 | &#160;外汇期权  | &#160; 商品期权 <br/>
<strong>无需佣金 - 无需下载 -  70％的收益</strong></td>
                </tr>
            </table>

        </td>
	</tr>
	<tr valign="top">
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/button.gif" width="377" height="80" ><a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/newbutton.gif" border="0"/></a></td>
	</tr>
	<tr>
		<td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bottom.gif" width="720" height="124" ></td>
  </tr>
</table>
</f:view>