@charset "utf-8";
/* anyOption general CSS Document */

body {
	background-color:#093356;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url(../../images/landing_Contactus/LP_Profit71/BLUE-BG.png);
	background-repeat: repeat-x;
}

img	{border:none;}
#page	{
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	background-image: url(../../images/landing_Contactus/LP_Profit71/BLUE-BG.png);
	background-repeat: repeat-x;
	}

#header	{
	height:212px;
	background-repeat: repeat-x;

}

#header .info	{
	background:url(../images/header_info.jpg) no-repeat;
	float:left;
	width:410px;
	height:128px;
	position:relative;
	font-size:13px;
	color:#fff;
	text-align: center;
	margin-top: 40px;
	margin-left: 55px;
}

#header .logo {
	height: 40px;
	width: 113px;
	position: absolute;
	left: 831px;
	top: 20px;
}

#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 40px; height:27px;/* background:url(../images/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{
	margin-top: 0px;
	margin-right: 30px; /*position:absolute; top:30px; left:175px;*/
	background-image: url(../../images/landing_Contactus/LP_Profit71/HEADER-H2.png);
	background-repeat: no-repeat;
	height: 37px;
	width: 620px;
}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}

p {
	margin: 0 0 4px;
	;
	padding:0;
}
h2 {
	font-size: 18px;
}

#banner_it {
	width:auto;
	height:500px;
	position:relative;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	vertical-align: top;
}

.disclaimer {
	margin-left:40px
}
.l_text_box {
	font-size:15px;
	color:#093755;
	position:absolute;
	top:37px;
	left:48px;
	line-height: 18px;
	width:643px;
	height: 337px;
	background-image: url(../../images/landing_Contactus/LP_Profit71/MAN.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	padding-left: 15px;
}
.l_text_box_big {
	font-size:15px;
	color:#1a1c22;
	position:absolute;
	top:387px;
	left:68px;
	line-height: 20px;
	width:376px
}
.l_text_box .title {
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	height: 187px;
	line-height: 24px;
	margin-top: -35px;
}
.l_text_box .title p {
	padding-top: 20px;
	margin-top: 0px;
}
.l_text_box .add {
	font-size: 13px;
	color: #093755;
	font-weight: bold;
	line-height: 16px;
	padding-top: 5px;
}
.text_box_2 {
	font-size:15px;
	color:#093755;
	line-height: 15px;
	width:430px;
	height: 167px;
	float: right;
	margin-right: 50px;
	background-image: url(../../images/landing_Contactus/LP_Profit71/HEADER-PICTURE.png);
}
.text_box_big-text {
	font-size:15px;
	color:#093755;
	position:absolute;
	top:219px;
	left:70px;
	line-height: 20px;
	width:337px
}

.r_text_box {
	position:absolute;
	top:-51px;
	left:648px;
	font-size:12px;
	color:#1a1c22;
	background-image: url(../../images/landing_Contactus/LP_Profit71/FORM_BG.png);
	background-repeat: no-repeat;
	width: 278px;
	height: 439px;
	background-position: top;
	padding-left: 63px;
	padding-top: 10px;
}
.title_image {
	margin: 0 0 13px 5px;
}

.text_label{
	font-size: 15px;
	font-weight:bold;
	color:#a50b0b;
}
.input1 {
	background:url(../../images/landing_Contactus/LP_Profit71/input_box1.png) no-repeat 0 0;
	width:216px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:3px;
}
.input1 input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 210px;
}
.star {
	color:#a50b0b;
	font-weight:normal;
}

.input2		{float:left; line-height:11px;  background:url(../../images/landing_Contactus/LP_Profit71/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}

.input3 {
	background:url(../../images/landing_Contactus/LP_Profit71/input_box3.png) no-repeat;
	width:158px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
}
.input3 input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 150px;
}
.submit_image {
	margin-left:-7px;
	margin-top: 6px;
}
.error {
	background-position:0 -23px;
}
.bottom_line {
	font-size:17px;
	font-weight:bold;
	color:#f6cd10;
}
#bottom_content {
	width:100%;
	margin-top: 14px;
	font-size:12px;
	color:#000;
}

.map_image {
	margin-top:30px;
}


.agree {
	float: left;
	margin-right: 10px;
}
.agree_text {
	font-size:9px;
	color: #666;
	padding-top: 3px;
}
.submin_swf {
	margin-left: 10px;
	height: 60px;
	width: 200px;
}
.error_text {
	height:19px;
	overflow:visible;
}
.error_bullets {
	padding: 0 0 0 18px;
	font-weight:bold;
	list-style-image:url(../images/error_bullet.png);
	font-size: 13px;
	margin: 3px;
	color:#ee2930;
}
.yellow {
	color:#f6cd10;
}
/***********new classes***********/
.form_title {
	text-align:center;
	font-size: 15px;
	font-weight:bold;
	color:#fff;
	margin-right:63px;
	padding:7px 0 23px 0;
	width: 218px;
}
*+html .form_title {
	padding-bottom: 5px;
}
.secured {
	font-size:9px;
	color:#666;
	background: transparent url(../../images/landing_Contactus/LP_Profit71/SAFETY.png) no-repeat left top;
	padding: 6px 0 0 20px;
	height: 20px;
}


#error_box	{ display:none; position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}


#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.yellow	{color:#f6cd10;}
.plus	{float:left;text-align: right; width: 15px;margin-top: 7px;color:#000;}