@charset "utf-8";
/* anyoption general CSS Document */
body	{
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background:#fff url(../../images/landing_Contactus/LPGraph_buttom_short/bk.png) top repeat-x;
	color:#566764;
	width:100%;
}
#page	{
	width:1200px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	}
img	{border:none;}
p	{ margin:10px 0;}
#main 	{
	width:100%;
	height:590px;
	text-align:center;
	color:#fff;
}
#title {margin:0 auto; padding: 35px;}
#textbox	{width:470px; text-align:left; position:absolute; top:195px; left:115px; background:url(../../images/landing_Contactus/LPGraph_buttom_short/arrow.png) no-repeat 340px 60px; height:160px;}
.textheader	{font-size:20px; font-weight:bold; color:#ffb412;}
.points		{ margin-top:5px; }
#textbox ul { list-style-type:decimal; font-size:30px; margin:0; padding:0;margin-left:30px;}
#textbox span {font-size:20px;}

#graph	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/graphboard.png) no-repeat; width:552px; height:286px; position:absolute; top:123px; right:90px;}
.graphtextbox 	{position:absolute; top:138px; left:60px;}
.graphtext	{font-size:12px; font-weight:bold; color:#595959;}
.graphnumber	{font-size:20px; font-weight:bold; color:#628d13;}
.arrowup	{position:absolute; top:40px; left:43px; background:url(../../images/landing_Contactus/LPGraph_buttom_short/up.png) no-repeat; width:108px; height:84px; cursor:pointer;}
.arrowdown	{position:absolute; top:188px; left:43px; background:url(../../images/landing_Contactus/LPGraph_buttom_short/down.png) no-repeat; width:108px; height:84px;cursor:pointer;}
.dot	{position:absolute; top:102px; left:356px; background:url(../../images/landing_Contactus/LPGraph_buttom_short/dot.gif) no-repeat; width:6px; height:6px;}
.flash_item	{left: 290px;    position: absolute;    top: 10px;}
#contactFormMain	{height:100px; width:980px; margin:0 auto; background:url(../../images/landing_Contactus/LPGraph_buttom_short/formbk.png) no-repeat bottom;position: relative;
top: 315px;}
#inputbox	{float:left; text-align:left;}
#inputbox .title	{font-size:14px; font-weight:bold; color:#064064;margin-left: 7px;}
.inputframe	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/inputbox.png) no-repeat 0 0; width:171px; height:46px; }
.inputframe input	{margin-top:16px; margin-left:13px;width: 145px; border:none; background-color:transparent;}
.inputframes	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/inputboxs.png) no-repeat 0 0; width:66px; height:46px;}
.inputframes input	{margin-top:16px; margin-left:6px; width: 30px; border:none; background-color:transparent;}

.submit_image	{margin-top: 13px;}
.agree	{color:#838383; font-size:10px; text-align:left;margin-top: -5px;margin-left: 4px;}
.agreecbox	{vertical-align: middle;}
#footer	{
	text-align:center;
	width:986px;
	margin:0 auto;
	font-size:9px;
}
#footer .icons	{height:30px; margin:10px auto; padding-left: 20px; width: 370px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_text	{color: #083755;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}

#lightbox	{ display:none;font-size:18px; position:absolute; z-index:100; top:200px; background:url(../../images/landing_Contactus/LPGraph_buttom_short/lightbox_bk.png) no-repeat; width:218px; height:281px; overflow:hidden; color:#fff; text-align:center;}

#lightbox .text	{ color:#064e7d;width:110px; text-align:left;margin:0 auto;font-size: 13px;}
#lightbox .number	{ font-weight:bold;color:#064e7d;background:url(../../images/landing_Contactus/LPGraph_buttom_short/lb_mark.png) no-repeat; width:120px; height:27px;margin: 0 auto;text-align: left;padding-left: 10px;padding-top: 3px;}
#lightbox .above	{ color:#628d13;}
#lightbox .below	{ color:#c50000;}
#lightbox #amount	{margin-top:45px; }
#buy_button	{ background:url(../../images/landing_Contactus/LPGraph_buttom_short/buy_button.png) no-repeat; width:139px; height:57px; cursor:pointer;margin:8px auto 0;}
#lightbox #lightbox_close	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/close_button.png) no-repeat; width:8px; height:8px; margin: 0 auto; cursor:pointer;position: absolute;right: 35px;top: 35px;}
#lightform #lightbox_close	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/close_button.png) no-repeat; width:8px; height:8px; margin: 0 auto; cursor:pointer;position: absolute;right: 35px;top: 70px;}
#lightbox_close_lightbox	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/close_button.png) no-repeat; width:8px; height:8px; margin: 0 auto; cursor:pointer;position: absolute;right: 35px;top: 35px;}

#lightform	{ display:none;font-size:18px; position:absolute; z-index:100; top:100px; padding-top:35px; width:303px; height:450px; overflow:hidden; color:#fff;}
#lightform .top	{ background:url(../../images/landing_Contactus/LPGraph_buttom_short/lightform_bk_top.png) no-repeat bottom center; width:303px; height:25px; float: left;}
#lightform .middle	{ background:url(../../images/landing_Contactus/LPGraph_buttom_short/lightform_bk_mdl.png) repeat-y top center; width:303px; height:400px; float: left; padding-top: 15px;}
#lightform .bottom	{ background:url(../../images/landing_Contactus/LPGraph_buttom_short/lightform_bk_btm.png) no-repeat top center; width:303px; height:25px; float: left;}

#lightform .in_header	{width:198px; text-align:left; color:#064064; font-size:12px; font-weight:bold; padding-left: 55px;}
#lightform .in_header_2	{color:#064064; font-size:12px; font-weight:bold; margin-left: -150px; }

#lightform .first	{margin-top:40px; padding-left: 55px;}
#lightform .inputframe	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/lf_input1.png) no-repeat 0 0; width:208px; height:43px;margin: 0 auto; padding: 0px;}
#lightform .inputframe2	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/lf_input2.png) no-repeat 0 0; width:62px; height:43px;margin: 0 auto; float:left; padding: 0px;}
#lightform .inputframe3	{background:url(../../images/landing_Contactus/LPGraph_buttom_short/lf_input3.png) no-repeat 0 0; width:151px; height:43px;margin-right: 54px;margin-left: 58px; padding: 0px;}
#lightform .inputframe input	{margin-top:16px; margin-left:16px; width: 175px; border:none; background-color:transparent; }
#lightform .inputframe2 input	{margin-top:14px; margin-left:4px;width: 30px; border:none; background-color:transparent;}
*+html #lightform .inputframe3 input {margin-left: -45px;}
#lightform .inputframe3 input	{float: left; text-align: left; margin-top:14px; margin-right:5px; margin-left:10px; width: 123px; border:none; background-color:transparent;}
.in_phone	{margin-left: 46px;    width: 267px;}
#lightform .agree	{margin-top:0; padding: 0 50px;}
#lightform .submit_image	{margin-top:4px; padding-left: 50px;}
#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.5;
filter: alpha(opacity = 50);
position:absolute;
top:0;
width:100%;
min-width:1200px;
z-index:99;
}
.error, #lightform .error {background-position: 0px -46px;}

.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 50px; font-weight:bold; list-style-image:url(../images/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930; width: 220px;}

.plus	{float:left;text-align: right; width: 15px;margin-left: 6px; margin-top: 15px; color:#000;}
.plus_lite_box	{float:left;text-align: right; width: 15px;margin-left: 8px; margin-top: 11px; color:#000;}