body {
	background-image: url(../images/bg.jpg);
	background-position: top center;
	background-repeat: repeat-x;
	font-family: Tahoma, Geneva, sans-serif;
}
* {margin: 0px; padding: 0px;}
.sbox {
	width: 535px;
	height: 405px;
	margin: 0px auto;
	position: relative;
	background: transparent url('../images/img_money.jpg') no-repeat left top;
	padding: 40px 0 0 395px;	
}
.sbox object {
	margin: 25px 0px 0px 0px
}
.sbox div {
	position: absolute;
	left: -35px;
	top: -10px
}
.sbox h1 {
	text-align: left;
	color: #fc0;
	font-size: 44px;
	padding-bottom: 20px;
}
.sbox p {
	color: #FFF;
	font-size: 14px;
	line-height: 20px;
}
.sbox a {
	display: block;
	background-image: url(../images/call_to_action_de.png);
	width: 270px;
	height: 55px;
	background-position: top center;
	margin: 50px 0px 0px 350px
}
.sbox a:hover {
	background-position: bottom center
}
.rtbox {
	width: 955px;
	margin: 0px auto;
	margin-top: 30px;
}
.rtbox div {
	width: 300px;
	height: 235px;
	background-image: url(../images/bg_box.jpg);
	border: 1px solid #d7d7d7;
	position: relative;
	float: left;
	margin: 0px 0px 0px 15px
}
.rtbox div h2 {
	margin: 10px;
	padding: 0px;
	font-size: 18px;
	color: #0284d6;
}
.rtbox div img {
	float: left
}
.rtbox div p {
	float: left;
	display: inline-block;
	width: 145px;
	font-family: Verdana, Geneva, sans-serif;
	color: #727272;
	font-size: 12px;
	font-style: italic
}
.rtbox div span {
	line-height: 19px;
	display: block;
	left: 0px;
	position: absolute;
	bottom: 0px;
	width: 97%;
	height: 24px;
	background-color: #666;
	color: #FFF;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 10px 0px 0px;
}
#footer {
	text-align: center;
	width: 975px;
	margin: 40px auto;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 633px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding: 15px 0 15px 337px;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 20px 0;
	line-height: 16px;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
