<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk" >

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>binary options trading guide</title>
<style type="text/css">
.table_border {
	border-width:1px 1px 1px 1px;
	border-color:#a8a8a8;
	border-collapse:collapse;
	border-spacing:0px 0px 0px 0px;
	border-style:solid;
}
.head {
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	color:#093755;
	font-size:30px;
}
.sub_head {
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	color:#093755;
	font-size:20px;
	line-height:22px;
}
.text {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#093755;
}

a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#093755;
	text-decoration:none;
}
a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
    color:#0284d6;
    text-decoration:none;
}
</style>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>
<body bgcolor="#e1e1e1">
<table width="970" border="0" cellspacing="0" cellpadding="0" class="table_border" bgcolor="#FFFFFF" align="center">
  <tr>
    <td background="#{applicationData.imagesPath}/landing_Contactus/header.gif" height="103" style="padding-left:80px;">
    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
			target="_top" >
	    <img src="http://picbase.anyoption.com/landing/edit/opt_trade_en.gif" border="0"/>
	</h:outputLink>
    </td>
  </tr>
  <tr>
    <td background="#{applicationData.imagesPath}/landing_Contactus/ticker1px.gif" height="28">&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td >
    	<table width="794" cellpadding="0" cellspacing="0" align="center">
        	<tr valign="top">
            	<td width="603"><span class="head">Is it possible to make 70% <br />
            	profit in less than 1 hour? </span><br />
<br />
 <span class="sub_head">More and more intraday investors are using the dramatic volatility in the markets to make fast profits from the new binary options trading platform</span><br />
<br /><span class="text">
#{applicationData.date}
<br />
<br />
 Imagine a scenario where you can equally profit from price rises and price drops. Where the difference in the price change of an asset does not affect your profit received and where a small investment can lead to a 70% profit.
<br />
<br />

These are just some of the benefits associated with <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">binary option</a></strong> trading – a unique investment product. <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Binary option</a></strong> trading enables an investor to predict higher or lower on the future price of an asset and if he is correct, then profit regardless of the difference in the price change. The bought options can be forex options (currency pairs), index options, stock options and commodity options which are open and accessible to all international markets. <br />
<br />
A <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">binary option</a></strong> trade would look something like this: $100 investment is made on the price of oil, currently at 71.563, increasing by the end of the next hour. At the end of the hour, it has increased to 71.569 and so the investor receives a 70% payout of $170. <br />
<br />

<strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Binary options</a></strong> are traded on platforms such as <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" style="color:#0284d6; font-weight:bold;">www.anyoption.com</a> which are 100% web based and hence there is no software to download. The payouts on the platform are 65-71% for options which expire in the money and 15% for <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">options</a></strong> which expire out of the money, an added benefit of this particular platform. Navigation on the site is simple and an investor is provided with information an asset’s historical and current performance, assisting them in research. Being available in English, Spanish, Turkish, Arabic, Italian and German, the platform is internationally accessible and deposits can be made in US dollars, British Pounds or Euros. <br />
<br />

<strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Binary option</a></strong> trading is available for all levels of traders, whatever their previous history and knowledge. They provide a unique way of trading on the financial markets like no other product offers. <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Binary options</a></strong> are simple, easy and profitable.
<br />
<br />

<strong>anyoption&#8482; now offers its clients three innovative and unique trading tools that enhance investors' trading experiences.</strong>
<br />
<br />

<strong>1 Profit Line</strong> – an advanced trading system which enables traders to follow up on their open options' status through a special graph and receive updated data about their current profits. This features also enables them to buy additional options directly from the graph – all this in a high quality and user friendly graphic interface.<br />
<br />

<strong>2 Take Profit</strong> – an ideal tool for those interested in taking their profits prior to the expiry time of their option. A trader that was offered the option of immediately taking their profits will be able to get the expected profits from the option that they purchased, after paying a fee, before the original expiry time of the option, no matter what the option's value at the initial expiry time. <br />
<br />

<strong>3 Roll Forward </strong>–a possibility to postpone the expiry time of the purchased option to the nearest available expiry time after the initial settlement time. A trader to whom this option was offered will be able to postpone the expiry time of the option that they acquired to the next settlement time after the initial expiry time, by paying a fee.
<br />
<br />

Come and see it for yourself at:  <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" style="color:#0284d6"><strong>www.anyoption.com</strong></a>

<br />
</span>






</td>
            <td width="33"></td>
            <td width="160">
               <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
					target="_top" >
					<img src="http://picbase.anyoption.com/landing/edit/160x600-Lang-en-Prod-Anyoption-dani.gif" class="table_border" width="160" height="600" border="0" />
				</h:outputLink>
			</td>
            </tr>
            <tr>
            	<td colspan="3">&#160;</td>
            </tr>
            <tr>
            	<td colspan="3">
       	           <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
						target="_top" >
		           	  <img src="http://picbase.anyoption.com/landing/edit/start_trading_en.gif" width="260" height="59" border="0"/>
		           </h:outputLink>
		       </td>
            </tr>
            <tr>
            	<td colspan="3">&#160;</td>
            </tr>
            <tr>
            	<td colspan="3">
            		<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
							target="_top" >
	    	       		<img src="http://picbase.anyoption.com/landing/edit/728x90-Lang-en-Prod-Anyoption-text.gif" border="0" />
            		</h:outputLink>
            	</td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td>&#160;</td>
  </tr>
</table>
</body>
</f:view>