<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}">

<div class="clear home_top_h">
	<!-- Welcome banner -->
	<div class="home_slider">
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/home_slider.xhtml" />
	</div>
	<!-- Quick start -->
	<div class="home_short_reg">
		<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
			<div class="home_short_reg_bgr">
				<div id="headers_field">
					<h2 class="funnel_h1"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h2>
					<div>
						<span class="funnel_subtitle"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
						<a class="funnel_link" href="#{applicationData.getHomePageUrlWithoutLastSlash()}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}" target="_blank">
							<h:outputText escape="false" value="#{msgs['CMS.footer.label.privacy']}"/> »
						</a>
					</div>
				</div>
				<div class="home_shortReg" id="home_shortReg">
					<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" />
				</div>
				<script>initRegForm('home_shortReg',#{applicationData.skinId});</script>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser and applicationData.skinId != 15}">
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/anyoptionAnywhere.xhtml" />
		</h:panelGroup>
	</div>
	<span class="float_fix"></span>
</div>
<c:if test="#{!empty facesContext.externalContext.remoteUser and (applicationData.userLocale.language == 'fr' or applicationData.userLocale.language == 'en' or applicationData.userLocale.language == 'de' or applicationData.userLocale.language == 'es' or applicationData.userLocale.language == 'it' or applicationData.userLocale.language == 'nl' or applicationData.userLocale.language == 'tr')}">
	<div class="mb20">
		<div id="tradingcentral-widget-container-h"></div>
	</div>
</c:if>
<!-- Home left content -->
<div class="home_left_h">
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<div class="hp_desciler" style="font-size: 13px;">
			<h:outputFormat  value="#{msgs['CMS.disclaimer_menu_hp.text.text']}" escape="false">
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}&#35;/general-terms/risk"/>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}"/>
			</h:outputFormat>
		</div>
	</h:panelGroup>
	<!-- Binary options, Option+, Dynamics, One touch, trade box -->
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/multiOptionExplanation.xhtml"/>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/multiOptionExplanation_trading.xhtml" />
	</h:panelGroup>
	<!-- REUTERS -->
	<div class="box_oneLine clear mt20">
		<h:outputText rendered="#{empty facesContext.externalContext.remoteUser}" value="#{msgs['profitLine.footer']}" escape='false'/>
		<h:outputText rendered="#{!empty facesContext.externalContext.remoteUser}" value="#{msgs['profitLine.footer.loggedin']}" escape='false'/>
	</div>
	<script>
		var tradingPage = true;
		var updatesFrequencyFlag = #{slipForm.loggedIn};
		var updatesFrequencyIn = #{slipForm.updateFrequencyLoggedIn};
		var updatesFrequencyNotIn = #{slipForm.updateFrequencyNotLoggedIn};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		var imgPathA = "#{applicationData.imagesPath}/#{applicationData.skin.style}";
		var locale_SkinId = '#{applicationData.userLocale.language}';
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page_hp.js?version=cvsTimeStamp"></script>
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.skinId != 25 and applicationData.skinId != 26}">
		<!-- Asset Table -->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/assetsTable.xhtml" />
		<!--More options-->
		<div class="left_nd pt10">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" class="button_small">
				<h:outputText value="#{msgs['assets.table.more']}" escape="false"/> »
			</a>
		</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{commonUtil.skinRegulated}">
			<ui:include src="/jsp/html_elements/eu_certificate.xhtml" />
			<ui:include src="/jsp/html_elements/fsb_certificate.xhtml" />
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 25 or applicationData.skinId == 26}">
			<div class="goldbeam-banner mt15">
				<div class="cell">
					<div class="header">
						<span class="cell heading"><h:outputText value="#{msgs['CMS.goldbeam_certificate.text.t1']}" escape="false" /></span>
						<span class="cell"><h:outputText value="#{msgs['CMS.goldbeam_certificate.text.t2']}" escape="false" /></span>
					</div>
					<div class="body"><h:outputText value="#{msgs['CMS.eu_certificate.text.t4']}" escape="false" /></div>
				</div>
				<div class="cell"><i class="goldbeam-logo"></i></div>
			</div>
		</h:panelGroup>
		<!-- TODO: DELETED ON 29.08.2016 - if by TWO MONTHS it's still deleted, delete it
		<ui:include src="/jsp/html_elements/binary_options_info.xhtml" />
		-->
	</h:panelGroup>
</div>
<!-- Home right content -->
<div class="home_right_h">
	<!-- why anyoption -->
	<ui:include src="/jsp/html_elements/why_anyoption.xhtml" />
	
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<!-- Russian certificate -->
		<h:panelGroup rendered="#{applicationData.skinId == 10}">
			<ui:include src="/jsp/html_elements/ru_certificate.xhtml" />
		</h:panelGroup>
		<!-- trading Guide -->
		<ui:include src="/jsp/html_elements/tradingGuide.xhtml" />
		<!-- mobileTrading for EN skins -->
		<h:panelGroup rendered="#{applicationData.skinId != 17}">
			<ui:include src="/jsp/html_elements/mobileTrading.xhtml"/>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId != 15}">
			<!-- international Presence -->
			<ui:include src="/jsp/html_elements/internationalPresence.xhtml" />
		</h:panelGroup>
		<!-- FINANCIAL NEWS -->
		<!--Hide for HTTPS reasons
		<iframe class="hp_rs_box" id="rssFeedHP" name="rssFeedHP" width="300" height="235" frameborder="no" scrolling="no" 
			src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/financialNews.jsf?different_page=190">
		</iframe>-->
		<!-- real live data -->
		<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 15}">
			<ui:include src="/jsp/html_elements/liveExplanation_HP.xhtml"/>
		</h:panelGroup>
	</h:panelGroup>
</div>
	<script>
	var subscriptionType = "COMMAND";
	var dataAdapterName = "JMS_ADAPTER";
	
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		var groupGM = ["insurances_#{user.userName}"];
		var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", insurance_current_level, "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR", "INS_IS_OPEN_GRAPH", "INS_OPP_ID", "INS_TIME_EST_CLOSE", "INS_CLOSE_TIME", "INS_PTYPE"];
		var newTableGM = new Subscription(subscriptionType, groupGM, schemaGM );
		newTableGM.setDataAdapter(dataAdapterName);
		newTableGM.setRequestedSnapshot("yes");
		newTableGM.setRequestedMaxFrequency(1.0);
		newTableGM.addListener({
			onSubscription: function() {
				logIt({'type':1,'msg':'SUBSCRIBED newTableGM'});
			},
			onUnsubscription: function() {
				logIt({'type':1,'msg':'UNSUBSCRIBED newTableGM'});
			},
			onItemUpdate: function (updateObject) { 
				updateItemGM(updateObject.getItemPos(), updateObject);
			}
		});
		lsClient.subscribe(newTableGM);
	</h:panelGroup>
</script>
<c:if test="#{!empty facesContext.externalContext.remoteUser and (applicationData.userLocale.language == 'fr' or applicationData.userLocale.language == 'en' or applicationData.userLocale.language == 'de' or applicationData.userLocale.language == 'es' or applicationData.userLocale.language == 'it' or applicationData.userLocale.language == 'nl' or applicationData.userLocale.language == 'tr')}">
	<h:outputText value="&lt;script src='https://widget.tradingcentral.com/hfwidget.ashx?lang=" escape="false"/>#{applicationData.userLocale.language}<h:outputText value="&amp;ver=h2&amp;term=any&amp;key=Cw1KLEJEbQib2qKN74SfbsiqZ%2bL%2bpVoIx6YdZ6PBY6Q%3d" escape="false"/>
	<h:outputText value="' async=''>&lt;/script>" escape="false"/>
</c:if>
</f:view>