<!DOCTYPE html>
<html
	itemscope="" itemtype="http://schema.org/WebPage"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">

<c:if test="#{empty facesContext.externalContext.sessionMap['justLoggedIn'] or !facesContext.externalContext.sessionMap['justLoggedIn']}">
	<c:set var="justLoggedInInt" value="0"/>
</c:if>
<c:if test="#{!empty facesContext.externalContext.sessionMap['justLoggedIn'] and facesContext.externalContext.sessionMap['justLoggedIn']}">
	<c:set var="justLoggedInInt" value="1"/>
	<c:if test="#{commonUtil.resetJustLoggedInParameter()}"></c:if>
</c:if>

<head>
	<script>
		var currentPage = '#{request.requestURI}';
		var requestURINoContextPath = '#{request.requestURI.substring(request.contextPath.length())}';
		var justLoggedInInt = parseInt(#{justLoggedInInt});
	</script>
	
	<title ng-bind-html="msgs['metadata-title'][metadataTitle]">anyoption.com</title>
	<meta name="keywords" content="#{msgs['anyoption.keywords']}"/>
    <meta name="description" content="${msgs['anyoption.description']}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
    
    <meta name="robots" content="noodp,noydir" />
	
	<ui:include src="/jsp/html_elements/head_includes.xhtml" />
	

	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser || applicationData.realCountryId != 97}">
		<script>
			var lpTag = lpTag || {}; lpTag.vars = lpTag.vars || []; lpTag.dbs = lpTag.dbs || [];
			lpTag.section = 'default';
			
			function lpTrimSpaces(stringToTrim) {
				return stringToTrim.replace(/^\s+|\s+$/g,'');
			}
			function lpAddVars(scope,name,value) {
				if (name.indexOf('OrderTotal')!=-1 || name.indexOf('OrderNumber')!=-1){
					if  (value=='' || value==0) return; // pass 0 value to all but OrderTotalc
					else lpMTagConfig.sendCookies = false
				}
				value=lpTrimSpaces(value.toString());
				//Remove cut long variables names and values. Trims suffix of the variable name above the 25th character onwards
				if (name.length>50) {
					name=name.substr(0,50);
				}
				if (value.length>50) { // Trims suffix of the variable value above the 50th character onwards
					value=value.substr(0,50);
				}
				var arrLPvars = [{ scope:scope, name:escape(name), value:escape(value) }];
				lpTag.vars.push(arrLPvars);
			}
			
			if (typeof(lpUnit)=='undefined') {
				var lpUnit='#{applicationData.userLocale.displayLanguage}';
			}
			lpAddVars('page','unit',lpUnit);
			
			lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
			lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
			lpAddVars('session','Campaign','#{applicationData.campaignName}');
			lpAddVars('session','SkinId','#{applicationData.skinId}');
			<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
				lpAddVars('session','survey_pre-chat_enable','on');
			</h:panelGroup>
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
				lpAddVars('session','identifier','#{user.firstName}');
				lpAddVars('session','UserName','#{user.userName}');
				lpAddVars('session','survey_pre-chat_enable','off');
			</h:panelGroup>
			
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser and (request.requestURI.endsWith('trade_binary_options.jsf') or request.requestURI.endsWith('deposit.jsf') or request.requestURI.endsWith('newCard.jsf') or request.requestURI.endsWith('firstNewCard.jsf') or request.requestURI.endsWith('investments.jsf'))}" >
				var registrationDate = new Date(livePersonSessionVars.registrationDate);
				lpTag.sdes = lpTag.sdes||[];
				lpTag.sdes.push(
					{
						"type": "ctmrinfo",
						"info": {
							"cstatus": livePersonSessionVars.cstatus,
							"ctype": livePersonSessionVars.ctype,
							"customerId": livePersonSessionVars.customerId,
							"registrationDate": {
								"day": registrationDate.getUTCDate(),
								"month": (registrationDate.getUTCMonth() + 1),
								"year": registrationDate.getUTCFullYear()
							}
						}
					}
				);
			</h:panelGroup>
		</script>
	</h:panelGroup>
	
	<base href="#{facesContext.externalContext.requestContextPath}/anyoption/" />
	
	<link rel="image_src" href="app/img/logo-share.png" />
	<meta property="og:title" content="anyoption - anyone can trade" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://anyoption.com" />
	<meta property="og:image" content="https://www.anyoption.com/anyoption/app/img/logo-share.png" />
	<meta property="og:description" content="" />
	<link rel="shortcut icon" href="app/img/favicon.ico" />
	<ui:include src="/js/angular_msgs.xhtml"></ui:include>
</head>
<body dir="#{applicationData.pageDirection}" id="theBody" class="#{applicationData.userLocale.language} #{empty facesContext.externalContext.remoteUser ? 'nLogged' : 'nLogged'} #{applicationData.getShowGoogleTradeBox() ? 'gComp' : 'gComp'}">
    <noscript id="deferred-styles">
		<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
		<link rel="stylesheet" type="text/css" href="app/css/styles#{applicationData.pageDirection == 'rtl'?'_rtl':''}.css?version=cvsTimeStamp"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    </noscript>
	
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
	<div class="head_bgr">
		<div class="main_bgr">
			<h:panelGroup rendered="#{applicationData.isLive}">
				<ui:include src="/jsp/html_elements/googleTag.xhtml" />
			</h:panelGroup>
			<div ng-controller="AoController" id="bootstrapId">
				<!--LOGIN STRIP-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/header_strip.xhtml"></ui:include>
				
				<!--MENU STRIP-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/header_menu.xhtml"></ui:include>
				<ui:insert name="message"></ui:insert>
			</div>
			
			<!--CONTENT-->
			<div ng-app="mainApp" id="mainApp" class="mainApp">
				<div ui-view="uiView" class="anyoption-ng max-height {{bodyClass}}" ng-class="{loggedIn: mCtrl._u.settings.loggedIn, 'loading-state': !stateLoaded}">
					<ui:insert name="content"></ui:insert>
				</div>
			</div>
			
			<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
			<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
		
			<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
			<script src="//rubaxa.github.io/Sortable/ng-sortable.js"></script>
		
			<script src="./libs/libs.js?version=cvsTimeStamp"></script>
		
			<script src="./app/js/fnc.js?version=cvsTimeStamp"></script>
			
			<!-- FOOTER -->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/footer.xhtml" />
			
			<!--GOOGLE CODE-->
			<h:panelGroup rendered="#{!applicationData.isLocal}">
				<ui:include src="/jsp/html_elements/google.xhtml" />
			</h:panelGroup>
			
			<!--CALL ME + LIVE PERSON POP UPS-->
			<ui:include src="/jsp/html_elements/livePerson.xhtml"></ui:include>
		</div>
	</div>
	
	<ui:include src="/jsp/html_elements/footer_includes.xhtml" />
	
	<noscript>
		<div class="alert-block">
			<h4 class="alert-heading">Warning!</h4>
			You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.
		</div>
	</noscript>
</body>
</f:view>
</html>
