<!DOCTYPE html>
<html
	itemscope="" itemtype="http://schema.org/WebPage"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	id="mainHtml"
	>
<f:view locale="#{applicationData.userLocale}">

<c:if test="#{empty facesContext.externalContext.sessionMap['justLoggedIn'] or !facesContext.externalContext.sessionMap['justLoggedIn']}">
	<c:set var="justLoggedInInt" value="0"/>
</c:if>
<c:if test="#{!empty facesContext.externalContext.sessionMap['justLoggedIn'] and facesContext.externalContext.sessionMap['justLoggedIn']}">
	<c:set var="justLoggedInInt" value="1"/>
	<c:if test="#{commonUtil.resetJustLoggedInParameter()}"></c:if>
</c:if>

<head>
	<script>
		var currentPage = '#{request.requestURI}';
		var requestURINoContextPath = '#{request.requestURI.substring(request.contextPath.length())}';
		var justLoggedInInt = parseInt(#{justLoggedInInt});
	</script>
	<c:if test="#{applicationData.skinId == 1 and !empty facesContext.externalContext.remoteUser and !request.requestURI.endsWith('creditCard_withdraw.jsf') and !request.requestURI.endsWith('wire.jsf') and !request.requestURI.endsWith('investments.jsf') and !request.requestURI.endsWith('transactions.jsf')
	and !request.requestURI.endsWith('taxBalance.jsf') and !request.requestURI.endsWith('agreement_et.jsf') and !request.requestURI.endsWith('withdraw_approve.jsf') and !request.requestURI.endsWith('myaccount_empty.jsf') and !request.requestURI.endsWith('bankWire_approve.jsf')}">
		<script>
		window.location = <h:outputText value="&quot;#{applicationData.getHomePageUrlHttps()}jsp/pages/#{withdrawForm.isHaveCcForWithdrawal ? 'creditCard_withdraw.jsf' : 'wire.jsf'}&quot;" escape="false"/>;
		</script>
	</c:if>
	<c:if test="#{applicationData.skinId == 1 and empty facesContext.externalContext.remoteUser and !request.requestURI.endsWith('index_et.jsf') and !request.requestURI.endsWith('login.jsf') and !request.requestURI.endsWith('agreement_et.jsf')}">
		<script>
		window.location = <h:outputText value="&quot;#{applicationData.getHomePageUrlHttps()}jsp/index_et.jsf&quot;" escape="false"/>;
		</script>
	</c:if>
	
	<title><ui:insert name="windowtitle"/></title>
	<ui:insert name="keyWordsNew"><meta name="keywords" content="#{msgs['anyoption.keywords']}"/></ui:insert>
    <ui:insert name="metaDescription"><meta name="description" content="${msgs['anyoption.description']}"/></ui:insert>
    <meta name="robots" content="noodp,noydir" />
	
	<ui:include src="/jsp/html_elements/head_includes.xhtml" />
	<ui:insert name="head"></ui:insert>
	
	<h:panelGroup rendered="#{false}"><!-- Hidden because we are setting the canonical tag to the current URL -->
		<ui:insert name="canonical"></ui:insert>
	</h:panelGroup>
	<ui:remove>Just add something like this in the file that needs to override the automatic canonical link: ui:param name="overrideCanonical" value="1"</ui:remove>
	<h:panelGroup rendered="#{empty overrideCanonical}">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{prettyContext.getCurrentInstance().getRequestURL().toURL()}" />
	</h:panelGroup>
	<h:panelGroup rendered="#{!empty overrideCanonical}">
		<ui:insert name="canonical"></ui:insert>
	</h:panelGroup>
	
	<h:panelGroup rendered="#{applicationData.skinId != 1 and (!empty facesContext.externalContext.remoteUser || applicationData.realCountryId != 97)}">
		<script>
			var lpTag = lpTag || {}; lpTag.vars = lpTag.vars || []; lpTag.dbs = lpTag.dbs || [];
			lpTag.section = 'default';
			
			function lpTrimSpaces(stringToTrim) {
				return stringToTrim.replace(/^\s+|\s+$/g,'');
			}
			function lpAddVars(scope,name,value) {
				if (name.indexOf('OrderTotal')!=-1 || name.indexOf('OrderNumber')!=-1){
					if  (value=='' || value==0) return; // pass 0 value to all but OrderTotalc
					else lpMTagConfig.sendCookies = false
				}
				value=lpTrimSpaces(value.toString());
				//Remove cut long variables names and values. Trims suffix of the variable name above the 25th character onwards
				if (name.length>50) {
					name=name.substr(0,50);
				}
				if (value.length>50) { // Trims suffix of the variable value above the 50th character onwards
					value=value.substr(0,50);
				}
				var arrLPvars = [{ scope:scope, name:escape(name), value:escape(value) }];
				lpTag.vars.push(arrLPvars);
			}
			
			if (typeof(lpUnit)=='undefined') {
				var lpUnit='#{applicationData.userLocale.displayLanguage}';
			}
			lpAddVars('page','unit',lpUnit);
			
			lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
			lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
			lpAddVars('session','Campaign','#{applicationData.campaignName}');
			lpAddVars('session','SkinId','#{applicationData.skinId}');
			<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
				lpAddVars('session','survey_pre-chat_enable','on');
			</h:panelGroup>
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
				lpAddVars('session','identifier','#{user.firstName}');
				lpAddVars('session','UserName','#{user.userName}');
				lpAddVars('session','survey_pre-chat_enable','off');
			</h:panelGroup>
			
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser and (request.requestURI.endsWith('trade_binary_options.jsf') or request.requestURI.endsWith('deposit.jsf') or request.requestURI.endsWith('newCard.jsf') or request.requestURI.endsWith('firstNewCard.jsf') or request.requestURI.endsWith('investments.jsf'))}" >
				var registrationDate = new Date(livePersonSessionVars.registrationDate);
				lpTag.sdes = lpTag.sdes||[];
				lpTag.sdes.push(
					{
						"type": "ctmrinfo",
						"info": {
							"cstatus": livePersonSessionVars.cstatus,
							"ctype": livePersonSessionVars.ctype,
							"customerId": livePersonSessionVars.customerId,
							"registrationDate": {
								"day": registrationDate.getUTCDate(),
								"month": (registrationDate.getUTCMonth() + 1),
								"year": registrationDate.getUTCFullYear()
							}
						}
					}
				);
			</h:panelGroup>
		</script>
	</h:panelGroup>
	<ui:include src="/js/angular_msgs.xhtml"></ui:include>
	
	<base href="#{facesContext.externalContext.requestContextPath}/anyoption/" />
</head>
<body dir="#{applicationData.pageDirection}" id="theBody" class="#{applicationData.userLocale.language} #{empty facesContext.externalContext.remoteUser ? 'nLogged' : 'nLogged'} #{applicationData.getShowGoogleTradeBox() ? 'gComp' : 'gComp'}">
<div class="head_bgr" ng-controller="AoController" id="bootstrapId"><div class="main_bgr">
	<h:panelGroup rendered="#{applicationData.isLive}">
		<ui:include src="/jsp/html_elements/googleTag.xhtml" />
	</h:panelGroup>
	
	<!--LOGIN STRIP-->
	<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/header_strip.xhtml"></ui:include>
	
	<!--MENU STRIP-->
	<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/header_menu.xhtml"></ui:include>
	<ui:insert name="message"></ui:insert>
	
	<!--CONTENT-->
	<div class="border-cont cont_pos" ng-class="{ topIndex: topIndex }">
		<div class="pageWidth">
			<ui:insert name="content"></ui:insert>
		</div>
	</div>
	
	<!-- FOOTER -->
	<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/footer.xhtml" />
	
	<!-- POPUPS -->
	<ui:include src="/jsp/html_elements/popUps.xhtml">
		<ui:param name="justLoggedInInt" value="#{justLoggedInInt}" />
	</ui:include>
	
	<!--TODO (check) replaced with var profitLine_link-->
	<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investmentPopup.jsf"/>
	<a id="emailThickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/emailPopup.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=500&amp;width=700&amp;modal=true" />
	
	<!--GOOGLE CODE-->
	<h:panelGroup rendered="#{!applicationData.isLocal}">
		<ui:include src="/jsp/html_elements/google.xhtml" />
	</h:panelGroup>
	
	<!--CALL ME + LIVE PERSON POP UPS-->
	<ui:include src="/jsp/html_elements/livePerson.xhtml"></ui:include>
	
	<!--GOOGLE HP CODE-->
	<ui:insert name="GoogleVisitHPCode"></ui:insert>

	<!-- ls subscriptions -->
	<h:panelGroup rendered="#{applicationData.skinId != 1 and request.requestURI.endsWith('index.jsf')}" >
		<script src="#{facesContext.externalContext.requestContextPath}/js/ls_subscriptions_hp.js?version=cvsTimeStamp"></script>
	</h:panelGroup>
	<h:panelGroup rendered="#{request.requestURI.endsWith('live.jsf')}" >
		<script src="#{facesContext.externalContext.requestContextPath}/js/ls_subscriptions_live.js?version=cvsTimeStamp"></script>
	</h:panelGroup>
</div></div>
<ui:include src="/jsp/html_elements/footer_includes.xhtml" />
<!-- new angular -->
    <noscript id="deferred-styles">
		<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />
		<link rel="stylesheet" type="text/css" href="app/css/styles.css?version=cvsTimeStamp"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    </noscript>
	
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||
          webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>
    
<div ng-app="mainApp" id="mainApp">
	<div ui-view="uiView" class="anyoption-ng max-height {{bodyClass}}" ng-class="{loggedIn: mCtrl._u.settings.loggedIn, 'loading-state': !stateLoaded}"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.4.2/Sortable.min.js"></script>
<script src="//rubaxa.github.io/Sortable/ng-sortable.js"></script>

<script src="./libs/libs.js?version=cvsTimeStamp"></script>

<script src="./app/js/fnc.js?version=cvsTimeStamp"></script>
<!-- new angular -->
</body>
</f:view>
</html>
