<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	
	<ui:include src="/jsp/html_elements/trade_menu_strip.xhtml">
		<ui:param name="tradingLink" value="trade_page_tabs_h_tab0" />
		<ui:param name="binaryOptionLink" value="active" />
	</ui:include>

	<div class="clear" ng-controller="BinaryOptionController" id="BinaryOptionController">
		<!-- unstable -->
		<div id="ls_unstable" style="display:none"></div>
		<!-- Start trading boxes -->
		<script>
			var chartHistory = #{tradingPageBean.chartDataMarkets};
		</script>
		<div class="search-bar" ng-class="{ loaded: ready }">
			<ul class="elements" ng-click="setFocus()">
				<li class="market" ng-repeat="market in selectedMarkets">
					<div class="market-in {{market.stateDps}}">
						{{market.displayName}}
						<i class="cool-close" ng-click="deleteMarket(market)"></i>
					</div>
				</li>
				<li class="search-input-holder">
					<input type="text" class="search-input" ng-class="{ allSelected: isSelectedMarketFull }" ng-model="input.search" id="search-input" placeholder="{{searchPlaceHolder}}" 
						ng-keydown="keyPressSearch($event)" ng-blur="closeSearch()"/>
					<ul class="drop-down" ng-show="input.search != '' &amp;&amp; searchResult.length &gt; 0">
						<li ng-repeat="market in binaryMarkets | firstLetterSearch: {filed: 'displayName', value: input.search} as searchResult" ng-click="selectMarketSearch(market)">{{market.displayName}}</li>
					</ul>
				</li>
			</ul>
			<i class="cool-close big" ng-click="globalMarketDelete(true)" ng-if="isSelectedMarket"></i>
		</div>
		<div class="search-bar-legend not-flex" ng-class="{ loaded: ready }">
			<span class="cell available">{{getMsgs('available')}}</span>
			<span class="cell before-expiry">{{getMsgs('min-before-expiry')}}</span>
			<span class="cell waiting">{{getMsgs('waiting-for-expiry')}}</span>
			<span class="cell inactive">{{getMsgs('currently-unavailable')}}</span>
		</div>
		<div class="binary-legend-holder taR">
			<div class="binary-legend" id="binary-legend">
				<i class="binary-legend-btn"></i>
				<ul class="binary-legend-drop">
					<li class="inTheMoney"><h:outputText  value="#{msgs['profitLine.inTheMoney']}" escape="false"/></li>
					<li class="outOfTheMoney"><h:outputText  value="#{msgs['profitLine.outOfTheMoney']}" escape="false"/></li>
					<li class="optionLevel"><h:outputText  value="#{msgs['profitLine.optionLevel']}" escape="false"/></li>
					<li class="currentLevel"><h:outputText  value="#{msgs['profitLine.currentLevel']}" escape="false"/></li>
				</ul>
			</div>
		</div>
		<div id="markets_table">
			<div class="fL pR zI3">
				<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
					<ui:param name="boxId" value="0" />
					<ui:param name="boxType" value="1" />
					<ui:param name="designType" value="1" />
				</ui:include>
				<ui:include src="/jsp/html_elements/oneClick_overlay.xhtml"/>
			</div>
			<div class="fR pR zI3">
				<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
					<ui:param name="boxId" value="1" />
					<ui:param name="boxType" value="1" />
					<ui:param name="designType" value="1" />
				</ui:include>
			</div>
			<div class="fL">
				<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
					<ui:param name="boxId" value="2" />
					<ui:param name="boxType" value="1" />
					<ui:param name="designType" value="1" />
				</ui:include>
			</div>
			<div class="fR">
				<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
					<ui:param name="boxId" value="3" />
					<ui:param name="boxType" value="1" />
					<ui:param name="designType" value="1" />
				</ui:include>
			</div>
			
			<script>connectToLS_global({'group_tradeBox':[#{tradingPageBean.homePageMarkets}],'group_shoppingBag':["shoppingbag_#{user.userName}_#{user.id}"]});</script>
		</div>
		<!-- offhours -->
		<c:if test="#{!applicationData.isHasOpenOneTouchForUser ||  applicationData.skinId == 1}">
			<ui:include src="/jsp/html_elements/offHours_TradePage.xhtml" >
				<ui:param name="page" value="BO" />
			</ui:include>
		</c:if>
		<c:if test="#{applicationData.isHasOpenOneTouchForUser and applicationData.skinId != 1}">
			<ui:include src="/jsp/html_elements/offhours_weekend.xhtml" >
				<ui:param name="page" value="BO" />
			</ui:include>
		</c:if>
		<span class="float_fix"></span>
	</div>
	<div class="clear mt20 fs12 mb20">
		<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options.jsf')}">
			<h:outputText value="#{msgs['CMS.trade_binary_options.label.further.info1']}" />
		</a>
	</div>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; user.countryId == 192}" >
		<div class="box_oneLine clear pl20 pr20" style="border-bottom:none;">
			#{msgs['spain-cysec-msg']}
		</div>	
	</h:panelGroup>
	<div class="box_oneLine clear pl20 pr20">
		<h:outputText rendered="#{empty facesContext.externalContext.remoteUser}" value="#{msgs['profitLine.footer']}" escape='false'/>
		<h:outputText rendered="#{!empty facesContext.externalContext.remoteUser}" value="#{msgs['profitLine.footer.loggedin']}" escape='false'/>
	</div>	
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
		<div class="reuters_trade">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}">
				<span class="vaM">#{msgs['reuters.logo.txt']}</span>
				<img src="#{applicationData.imagesPath}/icons/icon_ThReuters.png" class="vaM"/>
			</a>
		</div>
	</h:panelGroup>
	<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/trading_area_footer.xhtml"/>
	<!-- HOW TO TRADE -->
	<a name="tbo"></a>
	<div class="clear binary_option_trading">
		<!-- TODO: DELETED ON 29.08.2016 - if by TWO MONTHS it's still deleted, delete it
		<h2 class="new_assets_heading"><h:outputText value="#{msgs['CMS.trade_binary_options_content.text.how.to.header']}"/></h2>
		<p>
			<h:outputText value="#{msgs['CMS.trade_binary_options_content.text.how.to.text1']}" escape="false"/>
		</p>
		<p>
			<h:outputText value="#{msgs['CMS.trade_binary_options_content.text.how.to.text2']}" escape="false"/>
		</p>
		<p>
			<h:outputText value="#{msgs['CMS.trade_binary_options_content.text.how.to.text3']}" escape="false"/>
		</p>
		-->
		<c:if test="${empty sessionScope.user}">
			<div class="more">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"
					onclick="showLastTopTrades(3);" 
					class="button_small button_small_trading">
					<h:outputText value="#{msgs['CMS.trade_binary_options_content.label.trading_button']}" escape="false"/>
				</a>
			</div>
		</c:if>
		<c:if test="${!empty sessionScope.user}">
			<div class="more">
				<a  class="button_small button_small_trading"
					onclick="showLastTopTrades(3);" >
					<h:outputText value="#{msgs['CMS.trade_binary_options_content.label.trading_button']}" escape="false"/>
				</a>
			</div>
		</c:if>
	</div>
	<div id="profitLineDiv" class="profitLineDiv">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/tradefrom_pl.png" 
			onclick="openProfitLine_box(0);"/>
	</div>
	<script src="#{facesContext.externalContext.requestContextPath}/js/live_page_trends.js?version=06-07-2016_10:27"></script>
	<script>
	var subscriptionType = "COMMAND";
	var dataAdapterName = "JMS_ADAPTER";
	
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		var groupGM = ["insurances_#{user.userName}"];
		var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", insurance_current_level, "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR", "INS_IS_OPEN_GRAPH", "INS_OPP_ID", "INS_TIME_EST_CLOSE", "INS_CLOSE_TIME", "INS_PTYPE"];
		var newTableGM = new Subscription(subscriptionType, groupGM, schemaGM );
		newTableGM.setDataAdapter(dataAdapterName);
		newTableGM.setRequestedSnapshot("yes");
		newTableGM.setRequestedMaxFrequency(1.0);
		newTableGM.addListener({
	          onSubscription: function() {
	        	  logIt({'type':1,'msg':'SUBSCRIBED newTableGM'});
	          },
	          onUnsubscription: function() {
	            logIt({'type':1,'msg':'UNSUBSCRIBED newTableGM'});
	          },
	          onItemUpdate: function (updateObject) { 
	            updateItemGM(updateObject.getItemPos(), updateObject);
	          }
	        });
		lsClient.subscribe(newTableGM);
	</h:panelGroup>
try{
	var skinBusinessCase = 2; //SKIN_BUSINESS_ANYOPTION 
	if (skinId == 1) {
		skinBusinessCase = 1; //SKIN_BUSINESS_ETRADER
	}

	var group_trends = ["trends_" + skinBusinessCase]; 
	var schema_trends = ["key", "merge", "LTT_MARKET1", "LTT_OPP_ID1", "LTT_TREND1", "LTT_MARKET2", "LTT_OPP_ID2", "LTT_TREND2", "LTT_MARKET3", "LTT_OPP_ID3", "LTT_TREND3"];
	
	var aoTable_trends = new Subscription("MERGE", group_trends, schema_trends );
	aoTable_trends.setDataAdapter(dataAdapterName);
	aoTable_trends.setRequestedSnapshot("yes");
	aoTable_trends.setRequestedMaxFrequency(1.0);
	
	var dynaGridTrends = new DynaGrid("trends",true);
	dynaGridTrends.setNodeTypes(["div", "span"]);
	dynaGridTrends.setMaxDynaRows(3);
	dynaGridTrends.isHtmlInterpretationEnabled(true);
	dynaGridTrends.setAutoCleanBehavior(true, false);
	dynaGridTrends.addListener({
	    // merged updateItem_live_trade formatValues_live_trade;
		onVisualUpdate: function(key, visualUpdate, domNode){
			try{
				updateItem_live_trade(key, visualUpdate, domNode);
			}catch(e){
				alert(e);
			}
		}
	});
	aoTable_trends.addListener(dynaGridTrends);
	lsClient.subscribe(aoTable_trends);
}catch(e) {
	logIt({'type':3,'msg':e});
}
</script>
	<ui:include src="/jsp/html_elements/runDepositPixels.xhtml"/>
</f:view>