<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>

	

	<div id="wrapper">
		<div id="header">
			<div id="logo"></div>
		</div>
		<div id="mainbody" class="#{type == 'style1' ? 'joystick' : ''}">
			<div id="container">
				<div id="slogans">
					Donde obtener altas rentabilidades es  rápido, fácil y&#160;<h:outputText value="#{type == 'style1' ? 'divertido' : 'sencillo' }" />
					<h1>Hecho para que invertir sea sencillo</h1>
					Rellene el formulario con sus datos y reciba hoy mismo formación personalizada para invertir.
					<h:panelGroup rendered="#{commonUtil.firstErrorSummaryMessage != ''}">
						<div style="height:5px;width:602px;margin-top:15px;" >
					       	<div align="left">
					        	<h:outputText styleClass="error_text" value="#{commonUtil.firstErrorSummaryMessage}" />
					        </div>
				        </div>
			        </h:panelGroup>
				</div>
				<div id="leadbox">
					<h:form id="contactForm">
						<div id="leadbox-form">
							<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<div class="form-item">
								<h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
									onfocus="if(this.value=='#{msgs['register.firstname']}') this.value=''"
									onblur= "if(this.value.trim()=='') this.value='#{msgs['register.firstname']}'"
							        validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<div class="form-item">
							    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
							    	onfocus="if(this.value=='#{msgs['register.lastname']}') this.value=''"
									onblur= "if(this.value.trim()=='') this.value='#{msgs['register.lastname']}'"
							        validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
							</div>
							<div class="form-item" style="width: 100%; margin-bottom: 15px;">
				                <h:inputText style="width: 150px;" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
					                validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
			    	                <f:validator validatorId="org.apache.myfaces.validator.Email"/>
			        	        </h:inputText>
							    <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
							</div>
							<div class="form-item">
								<h:inputText style="width: 22px; margin-right: 20px" maxlength="4" dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	</h:inputText>
			               	   	<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}" style="margin-left: 0px;width: 55px" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
			                	  	<f:validateLength minimum='7' maximum='20'/>
			                	  	<f:validateLongRange/>
			                	</h:inputText>
			                	<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
							</div>
							<div id="button">
						        <t:commandButton
					         		id="savelink"
					         		image="#{applicationData.imagesPath}/landing_Contactus/LPopt_B/submit.jpg"
					         		onmouseover="Changepic('contactForm:savelink','#{applicationData.imagesPath}/landing_Contactus/LPopt_B/submit-hover.jpg')"
					         		onmouseout="Changepic('contactForm:savelink','#{applicationData.imagesPath}/landing_Contactus/LPopt_B/submit.jpg')"
					         		onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{applicationData.imagesPath}/landing_Contactus/LPopt_B/loading_B.gif');
					         		        return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
					         	</t:commandButton>
					         	<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							</div>
						</h:panelGroup>
					</div>
					<div id="accept-layout"><h:selectBooleanCheckbox id="agree" escape="false" value="#{contactUsForm.reciveUpdates}" /> Acepto el envío de noticias y ofertas de anyoption™</div>
					</h:form>
				</div>
			</div>
			<span id="slogan1">Anyoption™  - Una nueva y sencilla forma de obtener la máxima rentabilidad posible. Con anyoption™ Vd. podrá:</span>
		</div>
		<div id="footer">
			<div id="promote1">
				<ul>
					<li>Recibir formación de inversión personalizada</li>
					<li>Obtener una rentabilidad del 70%</li>
					<li>Operar de forma segura mediante conexión cifrada SSL</li>
					<li id="third">Disponer de un servicio de atención al cliente las 24 horas del día</li>
					<li class="last">Sin comisiones</li>
				</ul>
			</div>
			Nota importante sobre riesgos: Las operaciones con opciones implican un riesgo significativo • Se recomienda que lea atentamente todos nuestros<br />
			términos y condiciones antes de realizar cualquier inversión •   Los niveles aquí presentados son aquellos en los que anyoption™<br />
			está dispuesta a vender opciones y vende sus opciones, no los niveles de mercado de tiempo real. • <br />
			Para más datos acerca de cómo se determinan los niveles de expiración haga clic aquí • Los clientes deben conocer sus obligaciones en cuanto al<br />
			impuesto sobre beneficios patrimoniales en su país de residencia
		</div>
	</div>

	<script>
		fillFields();
		function fillFields(){
			var firstInput = document.getElementById('contactForm:firstName');
			var lastInput = document.getElementById('contactForm:lastName');
			if (firstInput.value == ''){
				firstInput.value =  '#{msgs['register.firstname']}';
			}
			if (lastInput.value == ''){
				lastInput.value =  '#{msgs['register.lastname']}';
			}
		}
	</script>

</f:view>