<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:t="http://myfaces.apache.org/tomahawk"
          >
<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
<table valign="top" cellspacing="5" cellpadding="0" border="0">
<tr><td>
<table valign="top" cellspacing="5" cellpadding="0" border="0">
<tr><td>

<span class="general_link_10">

anyoption&#8482; allows its active customers free use of one of the best technical analysis software programs of its kind in the world - including all the functions serving professional traders. The software provides effective and user-friendly advanced commercial tools for viewing graphs, comprehensive technical analysis and monitoring preferred basic assets.
<br/><br/>
The free use of the software is available for customers with an active account at anyoption&#8482; only.
 *In order to benefit from free use of the software (see illustration below) you must open an account and make investments.
<br/><br/>
<a href="#chartsfaq" class="general_link_blue_10">#{msgs['charts.presshere']}</a> to view explanations about the technical analysis terms.
</span>

<p>
<h:panelGroup rendered="#{!applicationData.activeUser}">
	<img src="#{applicationData.imagesPath}/charts_notloggedin.gif" alt="" align="top" border="0"/>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.activeUser}">
	<iframe id="FinanceChart" name="FinanceChart" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp//#{applicationData.userLocale.language}/FinanceChart.html?refresh=true" width="728" height="450" scrolling="no" ></iframe>
</h:panelGroup>
</p>


<span class="general_link_10">

The use of the information appearing in the technical analysis software is subject
to the <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}" class="general_link_blue_10"> General Conditions</a>
on the site.
<br/><br/>
The financial information appearing  on the site may be inaccurate, not updated and erroneous.
anyoption&#8482; will not be liable for losses caused to a customer or a third party because they relied on the said information and it does not undertake to update the information regularly.
The customer must check that the information is reliable and that it suits his needs using other reliable information sources.
<br/><br/>
anyoption&#8482; will not bear any liability for any claim, action, cost,
loss or damage of any type whatsoever that the customer claims was caused to
 him on account of information presented in the technical analysis software.
Any reliance on said information is at the customer's exclusive liability and risk.
</span>

<br/> <a href="#" name="chartsfaq"> </a>

 <p class="text_gray_24_bold">
	Explanations
</p>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q1',this);"><span dir="ltr">Accumulation\Distribution</span></a>
<div id="q1" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span>A momentum indicator that attempts to gauge supply and demand by determining whether investors are generally "accumulating" (buying) or "distributing" (selling) a certain stock by identifying divergences between stock price and volume flow.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q1');"><b>X</b> Close</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q3',this);"><span dir="ltr">Average Directional Index - ADX</span></a>
<div id="q3" style="display:none; overflow:hidden; height:65px;" class="general_link_10">
<span >An indicator used in technical analysis to determine the strength of a prevailing trend. The ADX is measured on a scale between zero and 100. Readings below 20 are used to indicate a weak trend, while readings over 40 indicate a strong trend. ADX is not used to determine the direction of a particular trend, but only to gauge its strength.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q3');"><b>X</b> Close</a>
</div>
<br/><br/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q2',this);"><span dir="ltr">Average True Range - ATR</span> </a>
<div id="q2" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >The average true range (ATR) determines a security’s volatility (the tendency of a security to move in either direction) over a given period; it is the (moving) average of the true range for a given period.</span><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q2');"><br/><b>X</b> Close</a>
</div>


<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q4',this);"><span dir="ltr">Bollinger Bands</span></a>
<div id="q4" style="display:none; overflow:hidden; height:85px;" class="general_link_10">
<span >A band plotted two standard deviations away from a simple moving average. Because standard deviation is a measure of volatility, Bollinger bands adjust themselves to the market conditions. When the markets become more volatile, the bands widen (move further away from the average), and during less volatile periods, the bands contract (move closer to the average). The tightening of the bands is often used by technical traders as an early indication that the volatility is about to increase sharply.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q4');"><b>X</b> Close</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q5',this);"><span dir="ltr">Commodity Channel Index - CCI</span></a>
<div id="q5" style="display:none; overflow:hidden; height:75px;" class="general_link_10"><span >An indicator  used in technical analysis to help determine when an investment vehicle has been overbought and oversold by quantifying  the relationship between the asset's price, a moving average of the asset's price, and normal deviations  from that average.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q5');"><b>X</b> Close</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q7',this);"><span dir="ltr">Detrended Price Oscillator –  DPO</span> </a>
<div id="q7" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >The detrended price oscillator (DPO) is an indicator that attempts to eliminate the long-term trends in prices. Leaving short-term trends, the indicator allows immediate overbought and oversold levels to be found more effectively.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q7');"><b>X</b> Close</a>
</div>


<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q6',this);"><span dir="ltr">Directional Movement Index - DMI</span></a>
<div id="q6" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >An indicator developed by J. Welles Wilder for identifying when a definable trend is present in an instrument. By that, the DMI tells whether an instrument is trending or not.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q6');"><b>X</b> Close</a>
</div>



<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q8',this);"><span dir="ltr">Exponential Moving Average - EMA</span>  </a>
<div id="q8" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >A type of moving average that is similar to a simple moving average, except that more weight is given to the latest data. Also known as "exponentially weighted moving average".</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q8');"><b>X</b> Close</a>
</div>

<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q9',this);"><span dir="ltr">Envelopes (trading bands)</span></a>
<div id="q9" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >An envelope is comprised of two moving averages. One moving average is shifted upward and the second moving average is shifted downward. Envelopes define the upper and lower boundaries of a security's normal trading range. A sell signal is generated when the security reaches the upper band whereas a buy signal is generated at the lower band. The optimum percentage shift depends on the volatility of the security--the more volatile, the larger the percentage.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q9');"><b>X</b> Close</a>
</div>


<BR/><BR/> <a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q10',this);"><span dir="ltr">Fibonacci Fan</span></a>
<div id="q10" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >A charting technique consisting of three diagonal lines, that use Fibonacci ratios to help identify key levels of support and resistance.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q10');"><b>X</b> Close</a>
</div>

<BR/><BR/>
<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q12',this);"><span dir="ltr">Fibonacci Retracements</span></a>
<div id="q12" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >A term used in technical analysis that refers to the likelihood that a financial asset's price will retrace a large portion of an original move, and find support or resistance at the key Fibonacci levels before it continues in the original direction.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q12');"><b>X</b> Close</a>
</div>
<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q11',this);"><span dir="ltr">Linear Regression Indicator</span></a>
<div id="q11" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >The Linear Regression indicator is based on the trend of a security's price over a specified time period. The trend is determined by calculating a linear regression trend line. The interpretation of a Linear Regression indicator is similar to a moving average, but the Regression line is more responsive to price changes and it also creates a forecast of the next periods (tomorrow’s) price plotted today.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q11');"><b>X</b> Close</a>
</div>
<BR/><BR/>



<a href="javascript:;" name="13" class="general_link_10" onmousedown="slidedownQes('q13',this);"><span dir="ltr">Moving Average Convergence\Divergence  - MACD (Exponential) - </span></a>
<div id="q13" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >A trend-following momentum indicator that shows the relationship between two moving averages of prices. The MACD is calculated by subtracting the 26-day exponential moving average (EMA) from the 12-day EMA. A nine-day EMA of the MACD, called the "signal line", is then plotted on top of the MACD, functioning as a trigger for buy and sell signals.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q13');"><b>X</b> Close</a>
</div>

<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q16',this);"><span dir="ltr">Momentum</span></a>
<div id="q16" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >The rate of acceleration of a security's price or volume.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q16');"><b>X</b> Close</a>
</div>
<BR/><BR/>


<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q24',this);"><span dir="ltr">Parabolic SAR (stop and reverse)</span></a>
<div id="q24" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >The Parabolic Stop and Reverse (SAR) indicator combines price and time components to generate buy and sell signals. The Parabolic SAR is also effective tool to determine where to place stop loss orders.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q24');"><b>X</b> Close</a>
</div>
<BR/><BR/>


<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q15',this);"><span dir="ltr">Price oscillator % - PPO</span></a>
<div id="q15" style="display:none; overflow:hidden; height:55px;" class="general_link_10">
<span >Technical momentum indicator showing the relationship between two moving averages. The end result is a percentage that tells the trader where the short-term average is relative to the longer-term average.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q15');"><b>X</b> Close</a>
</div>
<BR/><BR/>


<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q25',this);"><span dir="ltr">Relative Strength Index - RSI</span></a>
<div id="q25" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >A technical momentum indicator that compares the magnitude of recent gains to recent losses in an attempt to determine overbought and oversold conditions of an asset.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q25');"><b>X</b> Close</a>
</div>
<BR/><BR/>

<a href="javascript:;" name="14" class="general_link_10" onmousedown="slidedownQes('q14',this);"><span dir="ltr">Moving Averages SMA – (simple)</span></a>
<div id="q14" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >Simple, or arithmetic, moving average that is calculated by adding the closing price of the security for a number of time periods and then dividing this total by the number of time periods Short-term averages respond quickly to changes in the price of the underlying, while long-term averages are slow to react. Moving averages are generally used to measure momentum and define areas of possible support and resistance.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q14');"><b>X</b> Close</a>
</div>
<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q17',this);"><span dir="ltr">Price Rate of Change - ROC</span></a>
<div id="q17" style="display:none; overflow:hidden; height:65px;" class="general_link_10">
<span >A technical indicator that measures the percentage change between the most recent price and the price "n" periods in the past. Many traders use a value greater than zero to indicate an increase in upward momentum and a value less than zero to indicate an increase in selling pressure.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q17');"><b>X</b> Close</a>
</div>
<BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q18',this);"><span dir="ltr">Stochastic slow (oscillator)</span></a>
<div id="q18" style="display:none; overflow:hidden; height:70px;" class="general_link_10">
<span >A technical momentum indicator that compares a security's closing price, to its price range over a given time period. The theory behind this indicator is that in an upward-trending market, prices tend to close near their high, and during a downward-trending market, prices tend to close near their low.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q18');"><b>X</b> Close</a>
</div><BR/><BR/>

<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q19',this);"><span dir="ltr">Ultimate oscillator</span></a>
<div id="q19" style="display:none; overflow:hidden; height:60px;" class="general_link_10">
<span >A technical indicator that uses the weighted average of three different time periods to reduce the volatility and false transaction signals that are associated with many other indicators that mainly rely on a single time period. Similar to the RSI, This is a range-bound indicator, which means the value fluctuates between 0 and 100.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q19');"><b>X</b> Close</a>
</div><BR/><BR/>

<a href="javascript:;" name="21" class="general_link_10" onmousedown="slidedownQes('q21',this);"><span dir="ltr">Weighted moving average</span></a>
<div id="q21" style="display:none; overflow:hidden; height:65px;" class="general_link_10">
<span >A type of moving average that assigns a higher weighting to recent price data than does the common simple moving average. This average is calculated by taking each of the closing prices over a given time period and multiplying them by its certain position in the data series.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q21');"><b>X</b> Close</a>
</div>

<br/><br/>
<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q20',this);"><span dir="ltr">Williams %R</span></a>
<div id="q20" style="display:none; overflow:hidden; height:45px;" class="general_link_10">
<span >A momentum indicator measuring overbought and oversold levels, similar to a stochastic oscillator. It was developed by Larry Williams and compares a stock's close to the high-low range over a certain period of time, usually 14 days.</span> <BR/><a href="javascript:;" class="text_faq_gray_11_bold" onmousedown="slideup('q20');"><b>X</b> Close</a>
</div><BR/><BR/>



<SCRIPT LANGUAGE="JavaScript" >

			try {
				url = document.location.href;
				if ( url.indexOf( "#") != -1)
				{
					var indexOfHash = url.indexOf( "#");
					var afterHash = url.substring(indexOfHash+1);

				}
				slidedown("q"+afterHash);
			} catch(err){
			//ignore
			}

</SCRIPT>
</td></tr>
</table>
</td></tr>
</table>
</f:view>


