<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_exp.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">BONIFICACIÓN ESPECIAL</span><br/>
            <span class="bonus_text"><strong>Ha recibido una bonificación especial de&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.<br/>
            La bonificación se abonará en su cuenta y aparecerá en “Mi cuenta” > “Historial banca” bajo el nombre de “premio anyoption”.‎</strong><br/>
            <br/>
            La bonificación puede ser utilizada hasta&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
            <br/>
            Recuerde que tras la recepción de la bonificación se aplicarán restricciones a las retiradas de fondos de su cuenta, tal y como se estipula en las condiciones generales.</span><br/>
            <br/>
            <span class="bonus_terms"><strong>Bonificaciones: Condiciones Generales</strong><br/>
            La bonificación se abonará en la cuenta del cliente con sujeción al cumplimiento de las condiciones de la oferta presentada al cliente. Por ejemplo, ingresos mínimos y/o adquisición de una cantidad mínima de opciones dentro de un período de tiempo especificado.<br/>
            <br/>
            Salvo que las condiciones de la oferta especifiquen otra cosa, una de las condiciones para realizar retiradas de fondos tras utilizar la bonificación es adquirir opciones por una cuantía&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> veces superior a la de la bonificación.<br/>
            <br/>
			La Empresa promueve que sus clientes participen en las ofertas, aunque pide que se abstengan de abusar de las mismas. El abuso de cualquiera de las ofertas podría conllevar la cancelación de la bonificación, así como el cierre de la cuenta del cliente en el sitio web de la Empresa.<br/>
            <br/>
            Las bonificaciones deberán utilizarse dentro del período especificado en los detalles de la oferta específica. Si la bonificación no fuese utilizada dentro de dicho plazo, se retirará de la cuenta del cliente.<br/>
            <br/>
            Una vez que reciba las bonificaciones/beneficios, el cliente tiene 3 (tres) meses naturales para completar la cantidad total de inversiones requeridas como precondición para el retiro de fondos. Si durante este periodo no se alcanza la cantidad total requerida de inversiones, la Empresa retirará los fondos de las bonificaciones/beneficios de la cuenta del cliente a su discreción.<br/>
            <br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
            </span> </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
