﻿/* using HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #093755;
	font-family: Verdana, monospace, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}
ins {
	background-color: #ff9;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #093755;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
body {
	font: 13px/1.231 sans-serif;
*font-size:small;
}
select, input, textarea, button {
	font: 99% sans-serif;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
html {
	overflow-y: scroll;
}
ul, ol {
	margin-left: 2em;
}
ol {
	list-style-type: decimal;
}
nav ul, nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}
small {
	font-size: 85%;
}
strong, th {
	font-weight: 800;
}
td {
	vertical-align: top;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
textarea {
	overflow: auto;
}
.ie6 legend, .ie7 legend {
	margin-left: -7px;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}
.ie6 input {
	vertical-align: text-bottom;
}
label, input[type="button"], input[type="submit"], input[type="image"], button {
	cursor: pointer;
}
button, input, select, textarea {
	margin: 0;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
border-radius: 1px;
-moz-box-shadow: 0px 0px 5px red;
-webkit-box-shadow: 0px 0px 5px red;
box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
background-color: #f0dddd;
}
.ie7 img {
	-ms-interpolation-mode: bicubic;
}
button {
	width: auto;
	overflow: visible;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
background: #fa9913;
color:#fff;
text-shadow: none;
}
::selection {
	background: #fa9913;
	color: #fff;
	text-shadow: none;
}
html {
	background: #fff;
}
body {
	text-align: left;
	direction: ltr;
}
img {
	border: 0 none;
}
a:link, a:visited, a:active {
	color: #2d2b34;
	text-decoration: underline;
	font-weight: normal;
	background-color: transparent;
}
a:hover {
	color: #e81f38;
	text-decoration: underline;
}
.clsBlackLink, a.clsBlackLink:link, a.clsBlackLink:visited, a.clsBlackLink:active {
	color: #2d2b34;
	text-decoration: none;
}
a.clsBlackLink:hover {
	color: #e81f38;
	text-decoration: underline;
}
.clsPinkLink, a.clsPinkLink:link, a.clsPinkLink:visited, a.clsPinkLink:active {
	color: #e81f38;
	text-decoration: none;
}
a.clsPinkLink:hover {
	text-decoration: underline;
}
.clsPinkLinkU, a.clsPinkLinkU:link, a.clsPinkLinkU:visited, a.clsPinkLinkU:active {
	color: #e81f38;
	text-decoration: underline;
}
a.clsPinkLinkU:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
.clsSpacer, hr {
	clear: both;
	height: 0;
	font-size: 0;
	border: 0 none;
	background: transparent;
}
strong, b {
	font-weight: bold;
}
.name {
	color: #666666;
}
.clsLink {
	cursor: pointer;
}
.clsPageAlign {
	position: relative;
	width: 1115px;
	margin: 0 auto;
}
header {
	height: 70px;
	width: 1115px;
	padding: 0;
	margin: auto;
}
header .clsLogo {
	margin: 11px 0 0 0;
}
.button_StartBox {
	position: absolute;
	height: 87px;
	width: 331px;
	bottom: 20px;
	left: 559px;
	margin-left: -190px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.button_box {                    /* added */
	margin: 0 auto;
	height: 87px;
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.clsBox2 .button_box .button_StartBox {
	top: 20px;
}
.tradeBox_StartButton {
	width: 331px;
	height: 87px;
	background-image: url(../images/btn_start-now_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	cursor: pointer;
	float: right;
	margin-top: 0;
}
.tradeBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}

#TR .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_tr.png);
}
#ES .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_es.png);
}
#IT .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_it.png);
}
#RU .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_ru.png);
}
.no_chicken {
	width: 331px;
	height: 87px;
	background-image: url(../images/btn_start-now_en_2.png);
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
.no_chicken:hover {
	background-position: left bottom;
	border: none;
}
#TR .no_chicken {
	background-image: url(../images/btn_start-now_tr_2.png);
}
#TR .no_chicken:hover {
	background-position: left bottom;
	border: none;
}
#ES .no_chicken {
	background-image: url(../images/btn_start-now_es_2.png);
}
#ES .no_chicken:hover {
	background-position: left bottom;
	border: none;
}
#IT .no_chicken {
	background-image: url(../images/btn_start-now_it_2.png);
}
#IT .no_chicken:hover {
	background-position: left bottom;
	border: none;
}
#RU .no_chicken {
	background-image: url(../images/btn_start-now_ru_2.png);
}
#RU .no_chicken:hover {
	background-position: left bottom;
	border: none;
}
.clsBox1 {
	position: relative;
	height: 497px;
	text-align: center;
	padding: 0;
	background-color: #093755;
}
.clsBox1 .bottom_shadow {
	position: relative;
	background: url(../images/bottom_shadow.png) no-repeat center bottom;
	width: 1130px;
	height: 26px;
	margin: 0 auto;
}
.main_header {
	width: 1115px;
	padding: 0;
	margin: auto;
	height: 497px;
	background: url(../images/main_header_image_en.png) no-repeat 7px bottom;
	position: relative;
}
.clsBox1 .main_header .twitter_bird {
	position: absolute;
	bottom: 102px;
	left: 564px;
	float: none;
	margin: 0;
	z-index: 100;
}
.clsBox1 .main_header .twitter_bird img {
	float: none;
	margin: 0;
}
.clsBox1 .main_header .clsImg {
	float: left;
	margin: 10px 0 0 -5px;
}
.block_2title {
	display: none;
}
#IT .clsBox1 .main_header .clsImg {
	float: left;
	margin: 25px 0 0 -5px;
}
#RU .clsBox1 .main_header .clsImg {
	float: left;
	margin: 20px 0 0 -5px;
}
.clsBox1 .main_header .header_text {
	width: 481px;
	float: left;
	color: white;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	line-height: 26px;
	margin: 40px 0 0 0;
	text-shadow: 0, 5px 0, 5px 3px black;
}
.clsBox1 .main_header .header_text .blue {
	color: #33ccff;
	font-weight: bold;
}
#ES .clsBox1 .main_header .header_text {
	width: 481px;
	float: left;
	color: white;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	line-height: 22px;
	margin: 40px 0 0 0;
	text-shadow: 0, 5px 0, 5px 3px black;
}
#IT .clsBox1 .main_header .header_text {
	width: 481px;
	float: left;
	color: white;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	line-height: 23px;
	margin: 40px 0 0 0;
	text-shadow: 0, 5px 0, 5px 3px black;
}
#RU .clsBox1 .main_header .header_text {
	width: 481px;
	float: left;
	color: white;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 17px;
	line-height: 22px;
	margin: 43px 0 0 0;
	text-shadow: 0, 5px 0, 5px 3px black;
}
.clsBox1 .main_header .header_text .head_text {
	color: white;
}
.clsBox2 {
	position: relative;
	width: 1115px;
	padding: 10px 0 30px 0;
	margin: auto;
}
.clsBox2 p {
	margin-top: 2px;
	font-size: 30px;
	color: #0284d6;
	font-weight: bold;
}
.clsBox2 h2 {
	color: #093755;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	text-align: center;
	padding: 0px 0 40px 0;
	margin: 0;
}
.clsBox2 ul {
	float: left;
	width: 400px;
	padding: 0;
	margin: 35px 10px 0 0;
}
.clsBox2 ul li {
	font-size: 20px;
	line-height: 25px;
	list-style: none;
	clear: both;
	height: 105px;
	padding: 0;
	margin: 0 0 20px 0;
}
.clsBox2 ul li .clsText {
	padding: 2px 0 0 0;
}
.clsBox2 ul li.clsItem2 .clsText {
	padding: 2px 0 0 0;
}
.clsBox2 ul li .clsIcon {
	float: left;
	margin: 0 30px 0 0;
}
.clsBox2 ul li strong {
	font-size: 25px;
	font-weight: bold;
}
.clsBox2 .clsImage2 {
	color: #898989;
	float: right;
	width: 580px;
	height: 362px;
	margin: 25px 40px 0 0;
}
.clsBox2 .turn {
	font-size: 21px;
	line-height: 26px;
	padding: 20px;
	text-align: center;
}
.clsBox2 .turn .market {
	font-weight: bold;
	color: #0284d6;
}
.clsBox2 .clsRegulatedBox {
	font-size: 24px;
	text-align: center;
	padding: 20px 0 0 0;
}
.clsBox2 .clsRegulatedBox .clsLogo {
}
.clsBox2 .clsRegulatedBox h3 {
	font-size: 28px;
	font-weight: bold;
	padding: 0;
	margin: 5px 0 0 0;
}
.clsBox2 .clsRegulatedBox .clsLogos {
	margin-top: 15px;
}
.clsMobile {
	display: none;
}
.clsTablet {
	display: none;
}
.clsTestimonialsBox {
	position: relative;
	padding: 30px 0 0 0;
	background: #f2f5f7;
	clear: both;
}
*+html .clsTestimonialsBox {
	height: 410px;
}
.clsTestimonialsBox .clsTestimonialsCarucelle {
	position: relative;
	width: 992px;
	height: 355px;
	margin: auto;
}
.clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll {
	font-size: 0;
	line-height: 0;
	white-space: nowrap;
	position: relative;
	z-index: 1;
	width: 932px;
	height: 370px;
	margin: auto;
	overflow: hidden;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock {
	white-space: normal;
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 930px;
	height: 400px;
	text-align: center;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg {
	float: left;
	width: 285px;
	text-align: center;
	height: auto;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg img {
	width: 285px;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2 {
	color: #666666;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	padding: 0;
	margin: 0;
}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2 {
	color: #666666;
	font-size: 21px;
	line-height: 22px;
	text-align: center;
	padding: 0;
	margin: 0;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {
	color: #666666;
	font-size: 24px;
	line-height: 35px;
	font-family: Georgia, Verdana;
	font-style: italic;
	text-align: left;
	position: relative;
	float: left;
	width: 590px;
	height: 350px;
	padding: 40px 0 0 40px;
}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {
	color: #666666;
	font-size: 20px;
	line-height: 24px;
	font-family: Georgia, Verdana;
	font-style: italic;
	text-align: left;
	position: relative;
	float: left;
	width: 590px;
	height: 350px;
	padding: 40px 0 0 40px;
}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {
	color: #666666;
	font-size: 21px;
	line-height: 28px;
	font-family: Georgia, Verdana;
	font-style: italic;
	text-align: left;
	position: relative;
	float: left;
	width: 590px;
	height: 350px;
	padding: 40px 0 0 40px;
}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {
	color: #666666;
	font-size: 20px;
	line-height: 28px;
	font-family: Georgia, Verdana;
	font-style: italic;
	text-align: left;
	position: relative;
	float: left;
	width: 590px;
	height: 350px;
	padding: 43px 0 0 40px;
}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {
	color: #666666;
	font-size: 20px;
	line-height: 28px;
	font-family: Georgia, Verdana;
	font-style: italic;
	text-align: left;
	position: relative;
	float: left;
	width: 590px;
	height: 350px;
	padding: 33px 0 0 40px;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {
	font-size: 26px;
	line-height: 39px;
	padding: 40px 0 0 40px;
}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 88px 0 0 40px;
}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 48px 0 0 40px;
}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 70px 0 0 40px;
}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 70px 0 0 40px;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {
	font-size: 26px;
	line-height: 39px;
	padding: 54px 0 0 40px;
}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 68px 0 0 40px;
}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 54px 0 0 40px;
}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 79px 0 0 40px;
}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {
	font-size: 22px;
	line-height: 28px;
	padding: 79px 0 0 40px;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote1 {
	position: absolute;
	top: 0;
	left: 0;
}
.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2 {
	position: absolute;
	bottom: 25px;
	right: 0;
}
.clsTestimonialsBox .clsNavLeft {
	position: absolute;
	z-index: 2;
	top: 110px;
	left: -50px;
	width: 36px;
	cursor: pointer;
}
.clsTestimonialsBox .clsNavRight {
	position: absolute;
	z-index: 2;
	top: 110px;
	right: -5px;
	width: 36px;
	cursor: pointer;
}
.clsBox4 {
	position: relative;
	text-align: center;
	padding: 65px 0 65px 0;
	margin: auto;
	background: #052f4a;
}
.clsBox4 h2 {
	color: #fff;
	font-size: 45px;
	line-height: 45px;
	font-weight: normal;
	text-align: center;
	padding: 0 0 40px 0;
	margin: 0;
}
.clsBox4 ul {
	width: 1000px;
	padding: 0;
	margin: 0 auto;
}
.clsBox4 ul li {
	color: #9ba6ad;
	font-size: 15px;
	line-height: 20px;
	list-style: none;
	text-align: left;
	float: left;
	display: inline-block;
	vertical-align: top;
	height: 150px;
	width: 490px;
	padding: 0;
	margin: 0 0 20px 0;
}
.clsBox4 ul li:nth-child(even) {
	margin: 0 0 20px 20px;
}
.clsBox4 ul li .clsIcon {
	float: left;
	position: relative;
	top: -3px;
	width: 62px;
	margin: 0 30px 50px 0;
}
.clsBox4 ul li strong {
	color: #fff;
	font-size: 26px;
	font-weight: normal;
	line-height: 27px;
	display: block;
	padding: 0 0 10px 0;
}
.clsBox5 {
	position: relative;
	text-align: center;
	padding: 40px 0 45px 0;
	margin: auto;
}
footer {
	color: #969696;
	font-size: 13px;
	text-align: center;
	position: relative;
	height: 170px;
	padding: 30px 0 10px 0;
	background: #f1f2f3;
}
footer:before {
	content: " ";
	width: 100%;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/section_shadow.png) no-repeat center top;
}
footer .icon_space {
	display: inline-block;
	float: left;
	margin: 0 5px;
}
footer img {
	margin-top: 10px;
}
footer p {
	margin-bottom: 10px;
	color: #969696;
	font-size: 13px;
	text-align: center;
	position: relative;
}
footer .icons {
	width: 320px;
	margin: 0 auto;
}



@media only screen and (max-width : 1280px) {

.clsNotTablet {display:none;}
.clsMobile {display:none;}
.clsTablet {display:block;}

#DE .main_header { background:url(../images/main_header_image_tablet_en.png) no-repeat 26px 7px;}
#DE .button_StartBox {bottom: 12px;}
#DE	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_de.png);}
#DE .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_de.png); margin:0px auto;}
#DE .clsBox1 .main_header .header_text {width: 415px!important;}
#DE .clsBox2 ul {width: 310px!important;}
#DE .clsBox2 .clsImage2 {width:410px;}
#DE .clsBox2 .clsImage2 img {margin-left: 0;}
#DE .clsBox2 .turn {font-size:16px!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {font-size: 18px!important;line-height: 24px!important;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle {height: 280px!important;}
#DE .clsBox4 h2 {font-size:28px!important;}
#DE .clsBox4 ul li {height:110px;}
#DE .clsBox4 ul li .clsIcon {margin-bottom: 70px;}
#SE .clsBox1 .main_header .header_text {width:360px!important;margin-top:12px;}
#SE	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_SE_en.png);}
#SE .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_SE_en.png); margin:0px auto;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size: 18px!important;line-height: 25px!important;}
#SE .clsBox4 ul li {height: 110px;}
#SE .clsBox4 ul li .clsIcon {margin-bottom: 70px;}
#ZH .clsBox1 .main_header .header_text {width: 420px!important;}
#ZH	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_zh.png);}
#ZH .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_zh.png); margin:0px auto;}
#ZH .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size: 18px!important;line-height: 25px!important;}
#FR .clsBox1 .main_header .header_text {width: 415px!important;margin-top:12px!important;}
#FR	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_de.png);}
#FR .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_de.png); margin:0px auto;}
#FR .clsBox2 ul {width: 310px!important;}
#FR .clsBox2 .clsImage2 {width:410px;}
#FR .clsBox2 .clsImage2 img {margin-left: 0;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size: 18px!important;line-height: 25px!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size: 18px!important;line-height: 25px!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle {height:340px!important;}
#FR .clsTestimonialsBox #oTestimonialsScroll {height:340px!important;}
#FR .clsBox4 ul li {height: 140px;}
#FR .clsBox4 ul li .clsIcon {margin-bottom: 90px;}
	
	header{height:54px;width:800px;}
	header .clsLogo{margin:16px 0 0 32px;}
	header .clsLogo img{width:160px;}
	.button_StartBox {width:249px;height:58px;margin-left:-265px;bottom:19px;}
	.clsBox2 .button_StartBox { top:15px!important; }
	.button_StartBox .tradeBox_StartButton {width:249px;height:58px;background-image: url(../images/btn_start-now_tablet_en.png);}
	
	.button_StartBox .iphone_button {width:249px;height:58px;background: url(../images/btn_start-now_tablet_en.png) no-repeat left top;display:block;margin-left:-19px;}
	.button_StartBox .android_button {width:249px;height:58px;background: url(../images/btn_start-now_tablet_en.png) no-repeat right top;display:block;margin-left:-17px;}
	.android_button:hover {background-position: right bottom;border: none;}
	.iphone_button:hover {background-position: left bottom;border: none;}
	
#TR	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_tr.png);}
#ES	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_es.png);}	
#IT	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_it.png);}		
#RU	.button_StartBox .tradeBox_StartButton {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_ru.png);}		
	
	
	.button_box .no_chicken {width:249px;height:58px;background-image: url(../images/btn_start-now_tablet_box2.png); margin:0px auto;} /* added */
	
	.button_box .iphone_button_no_chicken {width:249px;height:58px;background: url(../images/btn_start-now_tablet_box2.png) no-repeat left top;display:block;margin:0 auto;}
	.button_box .android_button_no_chicken {width:249px;height:58px;background: url(../images/btn_start-now_tablet_box2.png) no-repeat right top;display:block;margin:0 auto;}
	.android_button_no_chicken:hover {background-position: right bottom;border: none;}
	.iphone_button_no_chicken:hover {background-position: left bottom;border: none;}
	
#TR .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_tr.png); margin:0px auto;}	
#ES .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_es.png); margin:0px auto;}
#IT .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_it.png); margin:0px auto;}		
#RU .button_box .no_chicken {width:229px;height:58px;background-image: url(../images/btn_start-now_tablet_box2_ru.png); margin:0px auto;}	
	
	.main_header { height: 348px; background:url(../images/main_header_image_tablet_en.png) no-repeat 26px bottom; width:795px; }
	
	.clsBox1 .main_header .twitter_bird {position:absolute;bottom:73px;left:423px;float:none;margin:0;z-index:100;}
    .clsBox1 .main_header .twitter_bird  img {float:none;margin:0;width:70px;}
#DE .clsBox1 .main_header .twitter_bird {position:absolute;bottom:66px;left:433px;float:none;margin:0;z-index:100;}	
	
	
	.block_2title{display:none;}
	.clsBox1 {height:348px; background-color:#093555 repeat-x top;}
	.clsBox1 .main_header .header_text { font-size:14px; line-height:18px; font-weight:100; padding-left:32px; margin-top:18px; width:370px; }
#ES .clsBox1 .main_header .header_text { font-size:13px; line-height:16px; font-weight:100; padding-left:32px; margin-top:21px; width:370px; }	
#IT .clsBox1 .main_header .header_text { font-size:13px; line-height:16px; font-weight:100; padding-left:32px; margin-top:21px; width:370px; }	
#RU .clsBox1 .main_header .header_text { font-size:13px; line-height:16px; font-weight:100; padding-left:25px; margin-top:21px; width:390px; }	
	
	.clsBox1 .main_header .clsImg {margin:20px 0 0 27px; width:742px;}

		
	.clsBox1 .clsBtn{top:-50px;}
	.clsBox1 .bottom_shadow { background:url(../images/bottom_shadow_tablet.png) no-repeat center bottom; width:770px; height:18px; }


	.clsBox2{width:768px;padding:10px 16px 30px;}
	.clsBox2 p {margin-top:10px;font-size:21px;}
	.clsBox2 h2{font-size:19px;line-height:23px;padding:5px 0px 0 0;}
	.clsBox2 ul{float:left;width:250px!important;padding:0;margin:20px 0 0 0;}
#TR .clsBox2 ul{float:left;width:260px!important;padding:0;margin:20px 0 0 0;}	
#IT .clsBox2 ul{float:left;width:260px!important;padding:0;margin:20px 0 0 0;}		
	.clsBox2 ul li{font-size:13px;line-height:16px;height:65px;}
	.clsBox2 ul li .clsText{padding:7px 0 0 0;}
	.clsBox2 ul li.clsItem2 .clsText{padding:9px 0 0 0;}
	.clsBox2 ul li.clsItem3 .clsText{padding:9px 0 0 0;}

#IT .clsBox2 ul li.clsItem3 .clsText{padding:16px 0 0 0;}
	
	
	.clsBox2 ul li .clsIcon{width:65px;margin:0 15px 0 0;}
#RU .clsBox2 ul li .clsIcon{width:65px;margin:0 9px 0 0;}
	
	.clsBox2 ul li strong{font-size:17px;}
	.clsBox2 .clsImage2 {width:468px;height:auto;margin:5px 5px 0 0;}
	.clsBox2 .clsImage2 img {width:402px;margin-left:60px;}
	.clsBox2  .clsAdditionalIncomeText{font-size:13px;width:700px;padding-top:10px;}
	.clsBox2 .button_box {height: 80px; }
	.clsBox2 .clsRegulatedBox{font-size:16px;}
	.clsBox2 .clsRegulatedBox .clsLogo{width:40px;}
	.clsBox2 .clsRegulatedBox h3{font-size:18px;}
	
	.clsBox2 .turn{ font-size:15px; line-height:18px; padding:10px 16px 16px 0; text-align:center; }
    .clsBox2 .turn .market{ font-weight:bold; color:#0284d6; }
	.clsTestimonialsBox{padding:50px 0 0 0;}
	.clsTestimonialsBox .clsTestimonialsCarucelle{width:680px;height:250px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll{width:680px;height:250px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock{width:680px;height:250px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg{width:170px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg img{width:170px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:14px;}

#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:12px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:12px; line-height:14px;}	
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:12px; line-height:14px;}	
	
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:18px;line-height:25px;width:500px;height:250px;padding:10px 30px 0 30px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:18px;line-height:25px;width:500px;height:250px;padding:28px 30px 0 30px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText{font-size:18px;line-height:25px;width:500px;height:250px;padding:29px 30px 0 30px;}	
	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:14px;line-height:18px;width:470px;padding:10px 30px 0 30px;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:18px;width:470px;padding:42px 30px 0 30px;}
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText{font-size:14px;line-height:18px;width:470px;padding:42px 30px 0 30px;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:16px;line-height:22px;width:470px;padding:10px 30px 0 30px;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:16px;line-height:22px;width:470px;padding:41px 30px 0 30px;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText{font-size:16px;line-height:22px;width:470px;padding:34px 30px 0 30px;}	
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:16px;line-height:22px;width:470px;padding:10px 30px 0 30px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:16px;line-height:22px;width:470px;padding:35px 30px 0 30px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText{font-size:16px;line-height:22px;width:470px;padding:28px 30px 0 30px;}		
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:13px;line-height:19px;width:470px;padding:10px 30px 0 30px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:16px;line-height:22px;width:470px;padding:30px 30px 0 30px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText{font-size:16px;line-height:22px;width:470px;padding:30px 30px 0 30px;}		
	
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote1{width:50px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:50px;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:143px;}	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:143px;}	
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:143px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:143px;}			
	.clsTestimonialsBox .clsNavLeft, .clsTestimonialsBox .clsNavRight{top:55px;}
	
	.clsBox4{padding:45px 0 35px 0;}
	.clsBox4 h2{font-size:30px;line-height:30px;padding:0 0 35px 0;}
	.clsBox4 ul{width:720px;}
	.clsBox4 ul li{font-size:11px;line-height:16px;height:90px;width:320px;}
	.clsBox4 ul li .clsIcon{width:42px;margin-bottom:64px;}
#TR .clsBox4 ul li .clsIcon{width:42px;margin-bottom:80px;}
#ES .clsBox4 ul li{font-size:10px;line-height:13px;height:105px;width:320px;}
#ES .clsBox4 ul li .clsIcon{width:42px;margin-bottom:80px;}		
#RU .clsBox4 ul li{font-size:11px;line-height:16px;height:90px;width:330px;}
	
	.clsBox4 ul li strong{font-size:20px;padding:0 0 6px 0;}
	.clsBox4 .button_box{ margin-top:5px;}
	
	

	.clsBox5{padding:25px 0 30px 0;}
	.clsBox5 img{width:690px;}

	footer {font-size:14px;height:150px;padding:35px 0 0 0;}
	footer p {font-size:14px;font-family:Arial;width:685px;margin:0 auto;}
	footer:before {background:url(../images/section_shadow_tablet.png) no-repeat center top;}
}


@media only screen and (max-width : 480px) {

	#DE .main_header { height: 297px; background:url(../images/main_header_image_mobile_en.png) no-repeat 0px 141px; width:320px; }
#DE .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_de.png);}
#DE .clsBox1 .main_header .header_text {width:320px!important;}
#DE .clsBox1 .main_header .clsImg {margin-top:5px!important;}
#DE .button_StartBox {bottom: 2px!important;}
#DE .clsBox2 .clsImage2 {width:300px;}
#DE .clsBox2 .turn {font-size: 13px!important;}
#DE .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_de.png); float:none; display:block;}	
#DE .clsBox2 .button_box {height:50px;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {font-size: 15px!important;line-height: 21px!important;}
#DE .clsTestimonialsBox {height: 544px;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll {height: 514px;}
#DE .clsBox4 h2 {width:auto;font-size:26px!important;}
#DE .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#DE .clsBox4 ul li {height: 140px!important;}
#SE .main_header { height: 297px; background:url(../images/main_header_image_mobile_en.png) no-repeat 0px 138px; }
#SE .clsBox1 .main_header .header_text {width: 320px!important;margin-top:5px;}
#SE .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_SE_en.png);}
#SE .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_SE_en.png); float:none; display:block;}	
#SE .button_StartBox {bottom: 5px!important;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {font-size: 15px!important;line-height: 21px!important;}
#SE .clsBox4 h2 {width:auto;font-size:28px!important;}
#SE .clsBox4 ul li .clsIcon {margin-bottom: 110px;}
#SE .clsBox4 ul li {height: 110px!important;}
#SE .clsBox4 ul .first {height: 150px!important;}
#ZH .clsBox1 .main_header .header_text {width: 320px!important;margin-top:15px;}
#ZH .clsBox1 .main_header .clsImg {margin-top:15px!important;}
#ZH .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_zh.png);}
#ZH .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_zh.png); float:none; display:block;}
#ZH .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {font-size: 15px!important;line-height: 21px!important;}	
#FR .clsBox1 {height: 320px;}
#FR .clsBox1 .main_header .header_text {width: 320px!important;margin-top:5px;}
#FR .main_header { height: 320px; background:url(../images/main_header_image_mobile_en.png) no-repeat 0px 163px; }
#FR .clsBox1 .main_header .clsImg {margin-top:5px!important;}
#FR .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_fr.png);}
#FR .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_fr.png); float:none; display:block;}	
#FR .button_StartBox {bottom: 2px!important;}
#FR .clsBox2 ul li strong {font-size:17px;}
#FR .clsBox2 ul li .clsText {float: left;font-size: 12px;width: 210px;}
#FR .clsBox2 ul li.clsItem2 .clsText {padding: 5px 0 0 0 !important;}
#FR .clsBox2 .clsImage2 {width:300px!important;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {font-size: 16px!important;line-height: 20px!important;}	
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size: 17px!important;line-height: 22px!important;}	
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock3 .clsText {font-size: 18px!important;line-height: 24px!important;}	
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg  h2 {width:200px;margin-left:-15px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll {height: 560px!important;}
#FR .clsTestimonialsBox {height: 574px;}
#FR .clsBox4 h2 {width:auto;font-size:27px!important;}
#FR .clsBox4 ul li .clsIcon {margin-bottom: 140px;}
#FR .clsBox4 ul .first {height: 180px!important;}
#FR .clsBox4 ul li {height: 130px!important;}
	
	.clsMobile {display: inline-block;}
	.clsNotMobile {display: none;}

	header{height:62px;width:100%;}
	header .clsLogo{text-align:center;margin:15px 0 0 0;}
	header .clsLogo img{width:180px;}

	.clsBox1{height:297px;padding-top:0; background-color:#093755 repeat-x top;}

#RU .clsBox1{height:320px;padding-top:0; background-color:#093755 repeat-x top;}
	
	.clsBox1 .clsImg{width:290px;}

	.clsBox1 .clsBtn{top:-10px; width:180px;}
	.button_StartBox {width:183px;height:48px;margin-left:-490px;bottom:15px;}
	.button_box {margin-top: 50px;}    /* added random value*/
	.button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_en.png);}
#TR .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_tr.png);}	
#ES .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_es.png);}	
#IT .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_it.png);}	
#RU .button_StartBox .tradeBox_StartButton {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_ru.png);}	
	
	
	.button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2.png); float:none; display:block;}
#TR .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_tr.png); float:none; display:block;}	
#ES .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_es.png); float:none; display:block;}
#IT .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_ru.png); float:none; display:block;}
#RU .button_box .no_chicken {width:183px;height:48px;background-image: url(../images/btn_start-now_mobile_box2_ru.png); float:none; display:block;}	
	 /* added */
	
	
	
	
	
	.main_header { height: 297px; background:url(../images/main_header_image_mobile_en.png) no-repeat 0px 128px; width:320px; }
#RU .main_header { height: 320px; background:url(../images/main_header_image_mobile_en.png) no-repeat 0px 151px; width:320px; }	
	
	
	
	.clsBox1 .main_header .twitter_bird {position:absolute;bottom:61px;left:190px;float:none;margin:0;z-index:100;}
    .clsBox1 .main_header .twitter_bird  img {float:none;margin:0;width:45px;}
#DE .clsBox1 .main_header .twitter_bird {position:absolute;bottom:48px;left:190px;float:none;margin:0;z-index:100;}	
#DE	.clsBox1 .main_header .twitter_bird  img {float:none;margin:0;width:35px;}
#FR	.clsBox1 .main_header .twitter_bird {position:absolute;bottom:48px;left:190px;float:none;margin:0;z-index:100;}	
#FR	.clsBox1 .main_header .twitter_bird  img {float:none;margin:0;width:35px;}
#SE	.clsBox1 .main_header .twitter_bird {position:absolute;bottom:50px;left:191px;float:none;margin:0;z-index:100;}	
#SE	.clsBox1 .main_header .twitter_bird  img {float:none;margin:0;width:35px;}	
#TR .clsBox1 .main_header .twitter_bird  img {float:none;margin:0;width:35px;}	
	
	
	.block_2title{ display:inline; font-size:12px; color:#FFF; }
#TR .block_2title{ display:inline; font-size:11px; color:#FFF; }	
#ES .block_2title{ display:inline; font-size:11px; color:#FFF; }
#IT .block_2title{ display:inline; font-size:11px; color:#FFF; }
#RU .block_2title{ display:inline; font-size:11px; color:#FFF; width:320px; }	
	.clsBox1 .main_header .clsImg {margin:10px 0 0 -10px;; width:320px; float:none;}
	.clsBox1 .main_header .header_text { font-size:11px; line-height:14px; font-weight:normal; width:320px; text-align:center; padding:0; margin:3px 0 0 0; }
#ES .clsBox1 .main_header .header_text { font-size:10px; line-height:12px; font-weight:normal; width:320px; text-align:center; padding:0; margin:3px 0 0 0; }
#IT .clsBox1 .main_header .header_text { font-size:10px; line-height:13px; font-weight:normal; width:320px; text-align:center; padding:0; margin:3px 0 0 0; }	
#RU .clsBox1 .main_header .header_text { font-size:10px; line-height:13px; font-weight:normal; width:320px; text-align:center; padding:0; margin:3px 0 0 0; }	
	.clsBox1 .main_header .header_text .blueMobile{color:#33ccff;font-weight:bold;}
	.clsBox1 .main_header .header_text .head_text {color:white;}
	.clsBox1 .bottom_shadow { background:url(../images/bottom_shadow_mobile.png) no-repeat center bottom; width:283px; height:13px; }


	.clsBox2{width:100%;padding:0 0 30px 0;}
	.clsBox2 p {width:100%;text-align:left;margin:5px auto;font-size:18px;padding:0 0 30px 6px;}
	.clsBox2 h2{font-size:15px;line-height:21px;padding:10px 0 0 0;text-align:center;width:100%;margin:5px auto;}
	.clsBox2 ul{float:none;width:100%!important;padding:0;margin:5px 0 0 10px;}
#TR .clsBox2 ul{float:none;width:100%!important;padding:0;margin:5px 0 0 15px;}
#IT .clsBox2 ul{float:none;width:100%!important;padding:0;margin:5px 0 0 10px;}	
	.clsBox2 ul li{font-size:14px;line-height:18px;height:60px;}
#TR .clsBox2 ul li{font-size:12px;line-height:16px;height:60px;}
#IT .clsBox2 ul li{font-size:12px;line-height:16px;height:60px;}	
#RU .clsBox2 ul li{font-size:12px;line-height:16px;height:60px;}	
	
	.clsBox2 ul li .clsText{padding:5px 0 0 0;}
	.clsBox2 ul li.clsItem2 .clsText {padding:1px 75px 0 0!important;}
	
#TR .clsBox2 ul li.clsItem2 .clsText {padding:1px 0 0 0; width:230px; float:left;!important;}	
	
	.clsBox2 ul li.clsItem3 .clsText {padding:10px 0 0 0!important;}
#TR .clsBox2 ul li.clsItem3 .clsText {padding:20px 0 0 0!important;}	
	
	.clsBox2 ul li .clsIcon{width:65px;}
	.clsBox2 ul li strong{font-size:18px;}
	.clsBox2 ul li b {font-size:13px;}
	.clsBox2 .clsImage2 {width:300px;height:192px;margin:10px; background:url(../images/section2_image_mobile.jpg) no-repeat 0px 0px;}
	.clsBox2  .clsStartNow img{width:180px;}
	.clsBox2 .button_box {width: 100%; margin:0 auto;}
	.clsBox2 .button_box .button_StartBox {top:40px!important;}
	.clsBox2  .clsStartNow img{width:180px;}
	.clsBox2 .clsRegulatedBox{font-size:16px;  padding-top: 10px;}
	.clsBox2 .clsRegulatedBox .clsLogo{width:40px;}
	.clsBox2 .clsRegulatedBox h3{font-size:22px;}
	.clsBox2 .clsRegulatedBox .clsLogos{width:248px; margin:20px auto 20px auto;}


	
	.clsBox2 .turn{ font-size:14px; line-height:16px; padding:0 10px 10px 0; text-align:center; }
    .clsBox2 .turn .market{ font-weight:bold; color:#0284d6; }
	.clsTestimonialsBox{height:504px;padding:30px 0 0 0;}
	.clsTestimonialsBox .clsTestimonialsCarucelle{width:100%;height:408px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll{width:100%;height:560px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock{width:100%;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg{float:none;width:170px; margin:0 auto 0 auto;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg img{width:170px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsImg h2{font-size:14px;}
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:15px;line-height:21px;width:100%;padding:10px 30px 0 30px;}
	
	
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:14px;line-height:17px;width:100%;padding:10px 30px 0 30px;}
#TR.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:25px;width:100%;padding:25px 30px 0 30px;}
#TR.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:17px;width:100%;padding:25px 30px 0 30px;}	
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:14px;line-height:18px;width:100%;padding:10px 30px 0 30px;}
#ES.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:26px;width:100%;padding:25px 30px 0 30px;}
#ES.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:18px;width:100%;padding:25px 30px 0 30px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:14px;line-height:18px;width:100%;padding:10px 30px 0 30px;}
#IT.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:26px;width:100%;padding:25px 30px 0 30px;}
#IT.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:18px;width:100%;padding:25px 30px 0 30px;}
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText{font-size:14px;line-height:18px;width:100%;padding:10px 30px 0 30px;}
#RU.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:26px;width:100%;padding:25px 30px 0 30px;}
#RU.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText{font-size:14px;line-height:18px;width:100%;padding:25px 30px 0 30px;}	
	
	.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote1{left:10px;;width:40px;}
	
		.clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:50px;}
		
#TR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:80px;}
#ES .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:90px;}
#IT .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:90px;}	
#RU .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText .clsQuote2{width:50px;bottom:90px;}		
	.clsTestimonialsBox .clsNavLeft{top:70px; left:10px; width:25px;}
	.clsTestimonialsBox .clsNavRight{top:70px; right:10px; width:25px;}
	
	.clsBox4{padding:35px 0 35px 0;}
	.clsBox4 h2{font-size:28px;line-height:30px; width:auto; margin:auto; padding:0 0 35px 0;}
#TR .clsBox4 h2{font-size:24px;line-height:27px; width:180px; margin:auto; padding:0 0 35px 0;}	
#RU .clsBox4 h2{font-size:24px;line-height:27px; width:180px; margin:auto; padding:0 0 35px 0;}	
	
	.clsBox4 ul{width:100%;}
	.clsBox4 ul li{font-size:15px;line-height:16px; line-height:20px;height:110px;width:100%; padding:0 10px 0 10px; margin:0 0 20px 0}


	.clsBox4 ul li:nth-child(even){margin:0 0 20px 0}
	.clsBox4 ul li .clsIcon{width:22px;top:0;margin:0 10px 106px 0;}

#TR .clsBox4 ul li .clsIcon{width:22px;top:0;margin:0 10px 110px 0;}
	
	.clsBox4 ul li strong{font-size:20px;padding:0 0 6px 0;}
	.clsBox4 .clsStartNow img{width:205px;}
	.clsBox4 .button_box{ margin-top:5px;}
	
	.clsBox5{padding:25px 0 30px 0;}
	.clsBox5 img{width:270px;}

	footer{font-size:13px;height:170px;padding:25px 0 0 0;width:100%;}
	footer p {font-size:13px;font-family:Arial;width:320px;margin:0 auto;padding:0 15px;}
	footer:before {background:url(../images/section_shadow_mobile.png) no-repeat center top;}

}

/*   LOCALIZATIONS      */

#DE .clsBox1 .main_header .clsImg {margin-top:20px;}
#DE .clsBox1 .main_header .header_text {width:541px;}
#DE .tradeBox_StartButton {background-image: url(../images/btn_start-now_de.png);}
#DE .no_chicken {background-image: url(../images/btn_start-now_de_2.png);}
#DE .clsBox2 ul {width:470px;}
#DE .clsBox2 ul li.clsItem1 .clsText{padding:10px 0 0 0;}
#DE .clsBox2 ul li.clsItem2 .clsText{padding:20px 0 0 0;}
#DE .clsBox2 ul li.clsItem3 .clsText{padding:20px 0 0 0;}
#DE .clsBox2 .turn {font-size:20px;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle {height:400px;}
#DE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock .clsText {font-size:23px;line-height:32px;}
#DE .clsBox4 h2 {font-size:40px;}

#SE .clsBox1 .main_header .header_text {width:510px;}
#SE .tradeBox_StartButton {background-image: url(../images/btn_start-now_SE_en.png);}
#SE .no_chicken {background-image: url(../images/btn_start-now_SE_en_2.png);}
#SE .clsBox2 ul li.clsItem2 .clsText{padding:10px 0 0 0;}
#SE .clsBox2 ul li.clsItem3 .clsText{padding:20px 0 0 0;}
#SE .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock2 .clsText {font-size: 24px;line-height: 35px;}

#ZH .clsBox1 .main_header .clsImg {margin-top:20px;}
#ZH .clsBox1 .main_header .header_text {width:510px;}
#ZH .tradeBox_StartButton {background-image: url(../images/btn_start-now_zh.png);}
#ZH .no_chicken {background-image: url(../images/btn_start-now_zh_2.png);}
#ZH .clsBox2 ul li.clsItem1 .clsText{padding:10px 0 0 0;}
#ZH .clsBox2 ul li.clsItem2 .clsText{padding:20px 0 0 0;}
#ZH .clsBox2 ul li.clsItem3 .clsText{padding:20px 0 0 0;}

#FR .clsBox1 .main_header .clsImg {margin-top:20px;}
#FR .clsBox1 .main_header .header_text {width:480px;margin-top:20px;}
#FR .tradeBox_StartButton {background-image: url(../images/btn_start-now_fr.png);}
#FR .no_chicken {background-image: url(../images/btn_start-now_fr_2.png);}
#FR .clsBox2 ul {width:450px;}
#FR .clsBox2 ul li.clsItem2 .clsText{padding:10px 0 0 0;}
#FR .clsBox2 ul li.clsItem3 .clsText{padding:20px 0 0 0;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle {height:440px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle #oTestimonialsScroll {height:440px;}
#FR .clsTestimonialsBox .clsTestimonialsCarucelle .clsBlock1 .clsText {font-size: 23px;line-height: 32px;}
