/**********Roll forward**********/
/***popup***/
.golden_terms {
    color: #db0000;
    text-decoration: none;
}
.golden_border {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-collapse: separate !important;
	border: 1px solid #333;
	background-position: right -120px;
	background-repeat: repeat-x;
}
.red_border {
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-collapse: separate !important;
	border: 1px solid #ca0004;
	margin-top: 6px;
	background-color: #ffffff;
}
.clock_txt {
	color: #ca0004;
	text-align: center;
	font-size: 9px;
	font-weight: bold;
}
.golden_infotext {
	width: 625px;
	line-height: 14px;
	padding: 0 8px 12px 8px;
	color: #333333;
}
.goldenTitleImg {
	padding-top: 8px;
	 padding-left: 49px;
}
.goldenTitleImgShort {
	padding-top: 8px;
	 padding-left: 0px;
}
.golden_clock {
	line-height: 18px;
	color: #CF0000;
    font-size: 20px;
    font-weight: bold;
}
.goldenOpenImg {
	padding: 19px 6px 0 0;
}
.goldenOpenImg a {
	background-color: transparent;
	background-position: right 5px;
	background-repeat: no-repeat;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 11px;
	height: 15px;
	color: #2c3d47;
}
.goldenOpenImg a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.golden_terms {
	font-size: 11px;
	font-weight: normal;
}
.golden_terms a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50)
}
.golden_asset {
	font-weight: normal;
	color: #333333;
	padding: 0 0 0 3px;
}
.s_line {
	background-color: #2c3d47;
}
.golden_txt {
	color: #333333;
}
.golden_txt_total {
	color: #333333;
}
.asset_title {
	padding: 0 0 0 3px;
}
.golden_border .button_small_nd {
	color: #fff !important;
	font-weight: normal;
	font-size: 11px;
	background-color: #840208;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height:18px;
	padding: 3px 15px;
}
.button_small_nd:hover {
	background-color:#bd171f;
}
.golden_border .btnOpen_nd:hover{
	opacity: 0.5;
	filter: alpha(opacity=50)
	}
	.golden_terms {
    color: #f08e02;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;
}
/**********end of popup**********/
