.left .you {
	width: 685px;
	height: auto;
	float: left;
	margin: 6px 0;
}
.you .b {
	width: 683px;
	height: auto;
	border: 1px #dddddd solid;
	border-top: 0px;
	overflow: hidden;
}
.you .b .j {
	width: 683px;
	height: auto;
	margin: 5px 0;
	float: left;
}
.you .b .j .ico {
	width: 90px;
	height: 82px;
	text-align: center;
	padding: 10px 30px;
	float: left;
}
.you .b .j .tt {
	width: 530px;
	float: left;
}
.you .b .j .tt p {
	_padding: 2px 0;
	font-size: 12px;
}
.headDown {
	color: #333333;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
}
#link {
	width:705px;
	height: auto;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}
#link .t {
	width: 703px;
	height: 30px;
	line-height: 30px;
	background-color: #ffffff;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	background: transparent url("../images/bg_title_2.00.png") repeat-x left top;
	padding: 0px;
	margin: 0px;
}
#link .t .title {line-height: 30px;height: 30px;}
#link .b {
	width: 703px;
	height: 76px;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-right: 1px solid #c5c5c5;
	background-color: #e6e6e6;
	border-top: 0px;
	margin-bottom: 20px;
}
#link .b a {
	width: 90px;
	text-align: left;
	float: left;
	line-height: 36px;
	color: #646464 !important;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}
#link .b a:hover {
	color: #a20000 !important;
	text-decoration: none;
}
.ticker_table_chinese {
	margin: 0px;
	
}
.ttab {
	float: left;
	width: 685px;
}
#con {
	font-size: 12px;
	margin: 0;
	width: 685px;
}
#tags {
	overflow: hidden;
	PADDING: 0px;
	MARGIN: 0; /*WIDTH: 683px; HEIGHT: 26px; background: #ececec;  border-top: 1px #DDD solid; border-right: 1px #DDD solid; border-left: 1px #DDD solid; border-bottom: solid 1px #333333;*/
}
#tags LI {
	FLOAT: left;
	LIST-STYLE-TYPE: none;
	HEIGHT: 26px;
}
#tags LI A {
	FLOAT: left;
	COLOR: #fff !important;
	LINE-HEIGHT: 28px;
	HEIGHT: 26px;
	background: url(../images/zh_15/home_page/bgTab_inactive.png) no-repeat left bottom;
	width: 142px;
	TEXT-DECORATION: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#tags li A:hover {
	background: url(../images/zh_15/home_page/bgTab_active.png) no-repeat left top;
	COLOR: #fff !important;
	text-decoration: none !important;
}
#tags LI.selectTag {
	position: relative;
	HEIGHT: 26px;
	background: url(../images/zh_15/home_page/bgTab_active.png) no-repeat left bottom;
	width: 142px;
}
#tags LI.selectTag A {
	color: #FFFFFF !important;
	LINE-HEIGHT: 28px;
	HEIGHT: 26px;
	background: url(../images/zh_15/home_page/bgTab_active.png) no-repeat left bottom;
	width: 142px;
}
#tags LI.selectTag A:hover {
	color: #fff !important;
	text-decoration: none !important;
}
#tagContent {
	border-top: 0px;
	BACKGROUND-COLOR: #fff;
}
.tagContent {
	padding-right: 10px;
	DISPLAY: none;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	WIDTH: 663px;
	COLOR: #333333;
	PADDING-TOP: 10px;
	HEIGHT: 115px;
	line-height: 22px;
	border: 1px solid #dddddd;
}
#tagContent DIV.selectTag {
	display: block
}
.left .jiao {
	width: 685px;
	height: auto;
	float: left;
}
.left .t {
	width: 683px;
	height: 30px;
	line-height: 29px;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	background: transparent url("../images/bg_title_1.00.png") repeat-x left top;
	padding: 0px;
	margin: 0px;
}
.left .jiao .b {
	width: 683px;
	height: 144px;
	border: 1px solid #dadada;
	border-top: 0px;
}
.left .jiao .b .j12 {
	width: 683px;
	height: 72px;
	background: url(images/j12.jpg);
	line-height: 28px;
}
.left .jiao .b .l {
	padding: 0 0 0 60px;
	width: 281px;
	float: left;
}
.left .jiao .b .j34 {
	background: url(images/j34.jpg);
}
.b .j12 {
	width: 683px;
	height: 72px;
	background: url(../images/zh_15/home_page/j12.jpg);
	line-height: 28px;
}
.b .l {
	padding: 0 0 0 60px;
	width: 281px;
	float: left;
}
.b .j34 {
	background: url(../images/zh_15/home_page/j34.jpg);
}
.f1 {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}
.f3 {
	font-size: 12px;
	font-weight: normal;
}
.f4 {
	line-height: 18px;
}
.f5 {
	line-height: 24px;
}
.f6 {
	font-weight: bold;
	font-size: 14px;
}
.title {
	color: #1e50a2;
	font-size: 14px;
	font-weight: bold;
}
.f2 {
	color: #333333 !important;
	text-decoration: none;
	width: 460px;
	text-align: right;
	float: left;
}
.f2 a {
	color: #333333 !important;
	text-decoration: none;
}
.f2 a:hover {
	color: #e9800f !important;
}
.f2.2 {
	color: #333333;
	text-decoration: none;
	text-align: left;
	float: left;
}
.f2.2:hover {
	color: #e9800f;
	text-decoration: underline;
}
.f12 {
	color: #e77918;
	font-size: 14px;
	font-weight: bold;
}
#right .news {
	width: 277px;
	float: left;
	margin: 0 0 6px 0;
}
#right .news .t {
	width: 277px;
	height: 38px;
	line-height: 29px;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	background: transparent url("../images/bg_title_1.00.png") repeat-x left top;
	padding: 0px;
	margin: 0px;
}
#right .news .b {
	width: 277px;
	height: auto;
	border-bottom: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	background-color: #fff;
	border-top: 0px;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
}
#right .news .b2 {
	width: 261px;
	height: auto;
	border: 1px #dadadasolid;
	background-color: #fff;
	border-top: 0px;
	overflow: hidden;
	padding: 8px;
	line-height: 20px;
	font-size: 12px;
}
#right .news .b4 {
	width: 261px;
	height: 117px;
	border: 1px #dddddd solid;
	border-top: 0px;
	overflow: hidden;
	padding: 8px;
	line-height: 20px;
	font-size: 12px;
}
#right .news .b .tt {
	width: 264px;
	line-height: 24px;
	float: left;
	padding: 0 4px 0 8px;
}
#right .news .b .link {
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	text-decoration: none;
	padding-right: 10px;
}
.title {
	width: 142px;
	text-align: left;
	color: #a20000;
	font-size: 14px;
	font-weight: bold;
	/*background: transparent url(../images/zh_15/home_page/bg_title_1.00.png) no-repeat left bottom;*/
	line-height: 38px;
	height: 38px;
	margin: 0px;
	padding-left: 10px;
}
.title_2 {
	width: 185px;
	text-align: left;
	color: #a20000;
	font-size: 14px;
	font-weight: bold;
	/*background: transparent url(../images/zh_15/home_page/bg_title_2.00.png) no-repeat left bottom;*/
	line-height: 32px;
	height: 29px;
	padding-left: 16px;
}
.space_between_square {
	height: 5px;
}
a:hover {
	color: #f99f00;
	text-decoration: none;	
}
a {
	color: #ffee00;
	text-decoration: none;
	font-weight: bold;
	background: transparent url("../images/lock_ic.png") no-repeat left top;
	height: 26px;
	padding: 3px 0 0 25px;
	line-height: 26px;
	float: right;
}
#line {
	width: 970px;
	height: 3px;
	border-top: solid 1px #afb0c2;
	margin:0 auto;
	clear: both;
	overflow: hidden;
	margin-top: 10px;
}
.goodness {
	width: 705px;
	height: 200px;
	float: left;
	background: transparent url("../images/goodness.jpg") no-repeat left top;
	margin: 7px 0;
	color: #646464;
	line-height: 18px;
}
.product {
width: 693px;
height: auto;
padding: 5px;
float: left;
background: #e6e6e6;
margin: 6px 0 0 0;
border: 1px #c5c5c5 solid;
}
.product .k {
width: 126px;
border: 1px #aeaeb8 solid;
float: left;
margin: 0 5px;
}
.product .k p {
line-height: 30px;
font-size: 12px;
font-weight: bold;
text-align: center;
background: #FFFFFF;
padding: 0px;
margin: 0px;
}