@charset "utf-8";
/* anyoption general CSS Document */
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	background: #FFF url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg.png) top left repeat-x;
	color: #0c3553;
	width: 100%;
	position: relative;
}
* {margin: 0;
	padding: 0;}
.container {
	position: relative;
}
.page {
	width: 975px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
	padding: 25px 0;
}
img {
	border: none;
}
p {
	margin: 10px 0;
	padding: 10px 54px;
}
h1 {
	color: #0c3553;
	font-size: 63px;
	padding-top: 40px;
	margin: 0;
	font-weight: normal;
}
h4 {
	font-size: 22px;
	font-weight: bold;
	padding: 40px 0 20px;
	margin: 0px;
}
strong {
	font-weight: bold;
}
.main {
	width: 100%;
	height: 590px;
	float: left;
	text-align: center;
}
.title {
	margin: 0;
	float: left;
	width: 100%;
	text-align: left;
}
.flash_item {
	left: 3px;
	position: absolute;
	top: -15px;
}
#formbox {
	height: 100px;
	width: 980px;
	margin: 0 auto;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/formbk.png) no-repeat bottom;
	position: relative;
	top: 315px;
}
.inputbox {
	float: left;
	text-align: left;
}
.inputbox .title {
	font-size: 14px;
	font-weight: bold;
	color: #064064;
	margin-left: 7px;
}
.input1 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/inputbox.png) no-repeat 0 0;
	width: 171px;
	height: 46px;
}
.input1 input {
	margin-top: 16px;
	margin-left: 13px;
	width: 145px;
	border: none;
	background-color: transparent;
}
.input2 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/inputbox.png) no-repeat 0 0;
	width: 171px;
	height: 46px;
}
.input2 input {
	margin-top: 16px;
	margin-left: 13px;
	width: 145px;
	border: none;
	background-color: transparent;
}
.input3 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/inputbox.png) no-repeat 0 0;
	width: 171px;
	height: 46px;
}
.input3 input {
	margin-top: 16px;
	margin-left: 13px;
	width: 145px;
	border: none;
	background-color: transparent;
}
.input1s {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/inputboxs.png) no-repeat 0 0;
	width: 66px;
	height: 46px;
}
.content_val {
	/*background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg_content_mdl_en.png) no-repeat center 20px;*/
	height: 440px;
	width: 100%;
	float: left;
	margin-top: 50px;
	font-size: 20px;
	position: relative
}
.separator {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/separator.png) top left no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 68px;
	width: 100%;
	z-index: -1;
}
.orange {
	font-size: 21px;
	color: #ff8400;
	margin-top: 52px;
}
.yellow {
	font-size: 23px;
	color: #ffbb00;
	margin-top: 52px;
}
.blue {
	font-size: 19px;
	color: #45a0dc;
	margin-top: 58px;
}
.large {
	font-size: 29px;
}
.content_left, .content_center, .content_right {
	float: left;
	width: 264px;
	text-align: right;
}
.content_center {
	text-align: center;
	width: 447px;
}
.content_right {
	text-align: left;
}
.content_btm {
	float: left;
	width: 975px;
	text-align: left;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 30px;
	position: relative;
}
.bottom_list {
	list-style-type: none;
	text-align: left;
	margin-top: 3px;
	float: left;
	padding: 0;
	margin: 0;
}
.bottom_list li {
	padding: 7px 0 7px 35px;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bullet.png) no-repeat 6px 8px;
	/*border-bottom: 1px dotted #aaaaaa;*/
	font-size: 14px;
	font-weight: normal;
	height: auto;
}
.bottom_list span {
	background: transparent url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/list_separator.png) no-repeat left bottom;
	width: 701px;
	height: 1px;
	float: left;
}
.input1s input {
	margin-top: 16px;
	margin-left: 13px;
	width: 40px;
	border: none;
	background-color: transparent;
}

.agree_line {
	color: #838383;
	font-size: 10px;
	text-align: left;
	margin-top: -5px;
	margin-left: 4px;
}
.agree {
	float: left;
	margin: 0 5px 0 0;
}
.Checkbox1 {
	vertical-align: middle;
}
.agree_text {
	float: left;
	width: 210px;
}
#tr .agree_text {
	padding-top: 4px;
}
.submin_swf {
	float: left;
	margin-left: -25px;
}
.footer {
	text-align: center;
	width: 986px;
	margin: 0 auto;
	font-size: 9px;
	float: left;
}
.footer .icons {
	float: left;
	margin: 22px auto 0;
	padding: 0 314px;
	border-top: 1px #e5e5e5 solid;
	border-bottom: 1px #e5e5e5 solid;
}
.footer .icons .icon_space {
	margin-left: 20px;
	padding: 18px 0;
	height: 27px;
	float: left;
}
.footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
.footer .footer_text {
	color: #083755;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	width: 100%;
	color: #6f6f6f;
	margin: 0 auto;
	padding-top: 16px;
	padding-bottom: 16px;
	border-top: 1px #e5e5e5 solid;
	float: left;
}
.footer_text a, .footer_text a:visited {
	color: #6f6f6f;
}
.footer .footer_link {
	color: #0284D6;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.footer .footer_link:hover {
	color: #093755;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#lightbox {
	display: none;
	font-size: 18px;
	position: absolute;
	z-index: 100;
	top: 200px;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lightbox_bk.png) no-repeat;
	width: 333px;
	height: 280px;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
#lightbox .text {
	color: #064e7d;
	width: 110px;
	text-align: left;
	margin: 0 auto;
	font-size: 13px;
}
#lightbox .number {
	font-weight: bold;
	color: #064e7d;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lb_mark.png) no-repeat;
	width: 120px;
	height: 27px;
	margin: 0 auto;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}
#lightbox .above {
	color: #628d13;
}
#lightbox .below {
	color: #c50000;
}
#lightbox #amount {
	margin-top: 45px;
}
a.claim_your_bonus_button, a.claim_your_bonus_button:visited {
	width: 407px;
	height: 78px;
	cursor: pointer;
	margin: 314px auto 0;
	display: block;
}
a.claim_your_bonus_button:hover {
	background-position: bottom left;
}
#lightbox_close {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/close_button.png) no-repeat;
	width: 8px;
	height: 8px;
	margin: 0 auto;
	cursor: pointer;
	position: absolute;
	right: 35px;
	top: 35px;
}
#lightform, #lightform2, #lightform3, #lightform4, #lightform5, #termsbox {
	/*display:none;*/
	font-size: 18px;--
	position: absolute;
	z-index: 100;
	top: 100px;
	background: #900;
	width: 418px;
	height: 505px;
	overflow: hidden;
	text-align: left;
	font-family: Tahoma, Geneva, sans-serif;
}
/* Form */
.in_header {
	width: 228px;
	margin: 0 auto;
	text-align: left;
	color: #064064;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 5px;
}
.first {
	margin-top: 60px;
}
.input1 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input1.png) no-repeat 0 0;
	width: 308px;
	height: 32px;
	margin: 0 auto;
}
.input2 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input2.png) no-repeat 0 0;
	width: 87px;
	height: 32px;
	margin: 0 auto;
	float: left;
	margin: 0 0 0 54px;
}
.input3 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input3.png) no-repeat 0 0;
	width: 216px;
	height: 32px;
	float: left;
	margin: 0 0 0 5px;
}
.form_text {
	color: #999999;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 351px;
	font-weight: bold;
}
.form_text_blue {
	padding: 12px 54px 10px;
	font-size: 14px;
	float:left;
	clear:both;
}
.icon_lock {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lock.png) top left no-repeat;
	float: left;
	height: 19px;
	width: 19px;
}
.ie8 input {
	padding-top: 7px;
}
.ie7 input {
	padding-top: 6px;
}
input {
	padding-left: 3px;
	font-size: 14px !important;
}
.input2 input {
	margin: 0;
padding: 0 8px;
width: 70px;
height: 30px;
border: none;
background-color: transparent;
}
.input3 input {
	margin: 0;
padding: 0 8px;
width: 199px;
height: 30px;
border: none;
background-color: transparent;
}

.agree_line {
	margin: 10px 0 10px 65px;
	width: 235px;
	float: left;
}
.submit_button {
	margin: 0px 54px 2px 0;
	float:right;
}
.form_title {
	padding: 30px 54px 8px 54px !important;
	margin: 0;
	color: #093755 !important;
	font-size: 28px !important;
	line-height:32px;
	font-weight: normal !important;
	display: block !important;
	text-align: left;
}
.form_logo {
	text-align: left;
	margin-top: 15px;
	padding-left: 54px;
}
a.form_link, a.form_link:visited {
	font-size: 18px;
	float: right;
	color: #ff8c11;
	position: absolute;
	bottom: 75px;
	right: 54px;
}
a.form_link_blue, a.form_link_blue:visited {
	color: #0c3553;
}
#Overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	position: absolute;
	top: 0;
	width: 100%;
	min-width: 1200px;
	z-index: 99;
}
.tryit_swf {
	margin-top: 70px;
}
.callme_swf {
	margin-top: 20px;
}
.submin_swf {
	margin-left: 55px;
}
#lightbox {
	display: none;
	font-size: 18px;
	position: absolute;
	z-index: 100;
	top: 200px;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lightbox_bk.png) no-repeat;
	width: 418px;
	height: 470px;
	overflow: hidden;
	color: #fff;
	text-align: center;
}
#lightbox .text {
	color: #064e7d;
	width: 110px;
	text-align: left;
	margin: 0 auto;
	font-size: 13px;
}
#lightbox .number {
	font-weight: bold;
	color: #064e7d;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lb_mark.png) no-repeat;
	width: 120px;
	height: 27px;
	margin: 0 auto;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}
#lightbox .above {
	color: #628d13;
}
#lightbox .below {
	color: #c50000;
}
#lightbox #amount {
	margin-top: 45px;
}
#buy_button {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/buy_button.png) no-repeat;
	width: 139px;
	height: 57px;
	cursor: pointer;
	margin: 8px auto 0;
}
#lightbox_close {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/close_button.png) no-repeat;
	width: 13px;
	height: 13px;
	margin: 0 auto;
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
}
#passwordForm #lightbox_close {top:0px;}
#lightform, #lightform2, #lightform3, #lightform4, #lightform5, #termsbox {
	display: none;
	position: absolute;
	z-index: 100;
	top: 150px;
	/*left: 278px;*/
	background: #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #d7d7d7 1px solid;
	width: 418px;
	height: 440px;
	overflow: hidden;
	color: #fff;
	text-align: left;
	-moz-box-shadow: 0px 0px 6px 2px #e5e5e5;
	-webkit-box-shadow: 0px 0px 6px 2px #E5E5E5;
	box-shadow: 0px 0px 6px 2px #E5E5E5;
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	filter: none\9;
	filter: none\0/;
	box-shadow: none\9;
	box-shadow: none\0/;
}
#termsbox .form_text {
	font-size: 11px;
}
.in_header {
	width: 198px;
	margin: 7px 0 3px 0;
	text-align: left;
	color: #064064;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	padding-left: 54px;
	float: left; font-size: 14px;
	font-weight: normal;
}
.first {
	margin-top: 20px;
}
.input1 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input1.png) no-repeat 0 0;
	width: 308px;
	height: 32px;
	margin: 10px 0 0 54px;
	float: left;
}
.input12 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input2.png) no-repeat 0 0;
	width: 62px;
	height: 43px;
	margin: 0 auto;
	float: left;
}
.input13 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input3.png) no-repeat 0 0;
	width: 151px;
	height: 43px;
	margin: 0 auto;
}
.input1 input {
	margin: 0;
	padding: 0 8px;
	width: 291px;
	height: 30px;
	border: none;
	background-color: transparent;
}
.input12 input {
	margin-top: 14px;
	margin-left: 4px;
	width: 38px;
	border: none;
	background-color: transparent;
}
.input13 input {
	margin-top: 14px;
	margin-right: 5px;
	width: 123px;
	border: none;
	background-color: transparent;
}
.in_phone {
	margin: 0 auto;
	width: 228px;
}
.agree {
	margin-top: 0;
	padding: 0 0 0 54px;
	font-size: 12px;
	color: #0c3553;
}

#error_box {
	display: none;
	position: absolute;
	z-index: 100;
	top: 300px;
	background-image: none;
	width: 250px;
	height: 150px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top: 50px;
	height: 50px;
	padding: 0 10px;
	color: #000;
}
.error_button {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/form_full_alret_button.png) no-repeat;
	width: 80px;
	height: 48px;
	margin: 0 auto;
	margin-top: 5px;
	cursor: pointer;
}
#Overlay {
	background-color: #fff;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}
#error_message {
	float: left;
	width: 228px;
	height: 24px;
	margin: 0 0 15px 65px;
	;
	color: #d41016;
	font-size: 12px;
	text-align: left;
}
/* 															 LOCALIZATIONS  																*/

#ar {
	direction: rtl;
}
#ar .agree_line {
	text-align: right;
}
#ar .agree {
	float: right;
}
#ar .input2 {
	float: right;
}
#ar .input3 {
	float: left;
}
#ar .in_header {
	text-align: right;
}

.error {
	background-position: 0 -32px;
}
/*****************Scroll***************/
#termsbox {
	width: 520px;
	height: 493px;
	margin: 0 auto;
	margin-bottom: 50px !important;
	color: #333;
	top: 946px;
}
#termsbox .viewport {
	width: 500px;
	height: 435px;
	overflow: hidden;
	position: relative;
}
#termsbox .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
#termsbox .scrollbar {
	background: transparent url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg-scrollbar-track-y.png) no-repeat 0 0;
	position: relative;
	background-position: 0 0;
	float: right;
	width: 15px;
}
#termsbox .track {
	background: transparent url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
	height: 100%;
	width: 13px;
	position: relative;
	padding: 0 1px;
}
#termsbox .thumb {
	background: transparent url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
	height: 20px;
	width: 25px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -5px;
}
#termsbox .thumb .end {
	background: transparent url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
	overflow: hidden;
	height: 5px;
	width: 25px;
}
#termsbox .disable {
	display: none;
}
.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
/*****************/
.scrollbar_scroll {
	width: 11px;
	height: 350px;
	font-size: 1px;
	float: left;
	position: relative;
	margin: 84px 0;
	background-color: #f5fbff;
	float: right;
}
.up {
	position: absolute;
	left: 0;
	top: 0;
}
.track_scroll_terms {
	position: absolute;
	left: 0;
	top: 9px;
	width: 11px;
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/scr_mdl.gif) repeat-y center top;
	height: 332px;
}
.dragBar_scroll {
	left: 0px;
	top: 1px;
	height: 20px;
	background-color: #999999;/*margin: 0 1px;*/
	width: 9px;
}
.viewport #dragBar_scroll {
	left: 0px;
	top: 1px;
	height: 20px;
	background-color: #999999;/*margin: 0 1px;*/
	width: 9px;
}
.down {
	position: absolute;
	left: 0;
	bottom: 0;
}
.input4 {
	background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_input4.png) no-repeat 0 0;
	width: 317px;
	height: 32px;
	margin: 0 0 0 54px;
	padding: 0;
	border: none;
	float: left;
}
.input4 select {
	margin: 1px 7px 1px 2px;
	padding: 4px 6px;
	width: 92px;
	border: none;
	float: left;
}
.form_text_error {
	padding: 0 54px 0;
	color: #d41016;
	font-size: 14px;
	float: left;
	clear: both;
	width: 256px;
	margin: 2px 0 0 2px;
}

/* Regulation footer */
.footer .icons { border:none; }
.footer .icons-container {
  width: 975px;
  margin:0 auto;
}
.footer .regulated {
 width: 975px;
 font-size:14px;
 height: 40px;
 margin: 25px auto 0;
 border-bottom: solid 1px #e5e5e5;
 padding-bottom:10px;
 padding-top:30px;
 color:#898989;
}
.reg-logo { padding:6px 0 0 55px; }
.reg-logo {float:right; background: url(../../images/landing_Contactus/LP_Google_AO_RnDBonus_Clean/regulated-logo.png) no-repeat; height:67px; padding:5px 0 0 55px; position:absolute; right:0; top:10px;}
.reg-logo p { font-size:15px; padding:2px 22px 0 0}
.footer .regulated img {
 float:right;
 margin-top:7px;
 margin-left:8px;
}
.footer .regulated p {
 float:left;
 margin:0;
 padding:12px 0 0 0;
}
.footer .regulated div { margin:0 auto;}
/* Close regulation footer */

.red {
	color:#ff0000;
	font-weight:normal;
}
.form_text_after_reset_pass {
	color: #999999;
	font-size: 12px;
	position: absolute;
	right: 0;
	top: 351px;
}

#es .form_title, #fr .form_title, #ru .form_title {
	font-size:26px !important;
	line-height:30px !important;
}
#fr .form_title, #de .form_title {
	font-size:22px !important;
	line-height:26px !important;
}
#fr .form_text_blue, #de .form_text_blue, #es .form_text_blue  {
	font-size:13px;
	line-height:normal;
}
