@charset "utf-8";
/* form1 CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/LP_traders_reveal/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/en_2/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 39px; padding-left: 35px; height:27px; /*position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d; margin-top: 10px; position:relative; float: left; width:970px; margin-bottom:20px}

.hide	{display:none;}

#page	{background:url(../../images/landing_Contactus/LP_traders_reveal/page_bk.png) repeat-x bottom;
 background-color:#FFF}

p	{ margin: 0 0 4px; padding:0;}
h2	{font-size: 18px;}
#banner_en	{
	width:970px;
	height:650px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_en.png) no-repeat;
}
#banner_es	{
	width:970px;
	height:700px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_es.png) no-repeat;
}
#banner_fr	{
	width:970px;
	height:700px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_fr.png) no-repeat;
}
#banner_de	{
	width:970px;
	height:720px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_de.png) no-repeat;
}
#banner_tr	{
	width:970px;
	height:680px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_tr.png) no-repeat;
}
#banner_it	{
	width:970px;
	height:670px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_it.png) no-repeat;
}
#banner_ru	{
	width:970px;
	height:780px;
	margin:0 auto;
	position:relative;
	float:left;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_ru.png) no-repeat;
}

#banner_ar	{
	width:970px;
	height:650px;
	margin:0 auto;
	position:relative;
	background: url(../../images/landing_Contactus/LP_traders_reveal/banner_ar.png) no-repeat;
}
.l_text_box_ar	{font-size:14px; color:#093755; position:relative; margin-left:360px; float:left;  width:540px; font-family: Arial, Helvetica, sans-serif; font-size:21px; margin-top:130px; direction:rtl; }
.l_text_box	{font-size:14px; color:#093755; position:relative; margin-left:90px; float:left;  width:540px; font-family: Verdana, Geneva, sans-serif; font-size:21px; margin-top:130px; }

.l_text_box_ru	{font-size:14px; color:#093755; position:relative; margin-left:90px; float:left;  width:540px; font-family: Verdana, Geneva, sans-serif; font-size:21px; margin-top:160px; }


.bottom_line	{font-size:16px; font-weight:bold; color:#0284d6; margin: 10px 0 10px 0; font-weight:bold}

.l_text_box_2_en	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_en.png) no-repeat;}
.l_text_box_2_es	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_es.png) no-repeat;}
.l_text_box_2_fr	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_fr.png) no-repeat;}
.l_text_box_2_tr	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:317px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_tr.png) no-repeat;}
.l_text_box_2_ru	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:317px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_ru.png) no-repeat;}
.l_text_box_2_it	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_it.png) no-repeat;}

.l_text_box_2_de	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_de.png) no-repeat;}
.l_text_box_2_ru	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family:Tahoma, Geneva, sans-serif; margin-top:20px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_ru.png) no-repeat;}

.l_text_box_2_ar	{font-size:14px; color:#525252; position:relative; float:left; line-height: 18px; width:970px; height:296px; font-family: Tahoma, Geneva, sans-serif; margin-top:24px; background: url(../../images/landing_Contactus/LP_traders_reveal/traders-reveals_ar.png) no-repeat;}

.l_text_box_2_ar	table{ margin-right:370px; margin-top:35px; font-size:14px; direction:rtl}
.l_text_box_2_en	table{ margin-left:370px; margin-top:35px; font-size:14px}
.l_text_box_2_es	table{ margin-left:370px; margin-top:20px; font-size:14px}
.l_text_box_2_fr	table{ margin-left:370px; margin-top:35px; font-size:14px}
.l_text_box_2_it	table{ margin-left:370px; margin-top:35px; font-size:14px}
.l_text_box_2_ru	table{ margin-left:370px; margin-top:20px; font-size:14px}
.l_text_box_2_tr	table{ margin-left:370px; margin-top:35px; font-size:14px}
.l_text_box_2_de	table{ margin-left:370px; margin-top:35px; font-size:14px}

.white-text { font-size:18px; color:#FFF; font-weight:bold; text-align:center; width:970px; margin-top:12px; line-height: 24px;}
.white-text_ru { font-size:18px; color:#FFF; font-weight:bold; text-align:center; width:970px; margin-top:10px}

.white-text_de { font-size:17px; color:#FFF; font-weight:bold; text-align:center; width:970px; margin-top:15px}

.disclaimer { font-size:12px; color:#666; margin:20px 10px 0 10px; text-align:center;}
.disclaimer_ar { font-size:12px; color:#666; margin:20px 10px 0 10px; text-align:center; width: 950px; direction:rtl}

.r_text_box	{position:absolute; top:44px; left:720px; font-size:12px; color:#fff;}
.title_image	{margin: 0 0 13px 5px;}
.r_text_box h2 {margin: 0 0 10px;}
.input1		{background:url(../../images/landing_Contactus/LP_traders_reveal/input_box1.png) no-repeat 0 0; width:196px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 190px;}
.star		{color:#f6cd10; font-weight:normal;}
.input2		{float:left; background:url(../../images/landing_Contactus/LP_traders_reveal/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:15px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}

.input2_1		{float:left; line-height:11px;  background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}

.input3		{background:url(../../images/landing_Contactus/LP_traders_reveal/input_box3.png) no-repeat; width:138px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:15px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 130px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5;}


.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -7px;}
.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../../images/landing_Contactus/LP_traders_reveal/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}

#error_box	{ display:none;position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}


.plus	{float:left;text-align: right; width: 15px;margin-top: 7px;color:#000;}



.r_text_box_ar	{
	position:absolute;
	top:48px;
	left:47px;
	font-size:12px;
	color:#fff;
}
.agree_ar		{ float: right; margin-right: 10px;}





#footer_ar	{ font-family: Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center; float: right; width: 970px;}
#footer_ar .icons	{ margin:0 auto; padding-left: 20px; width: 320px;}
#footer_ar .icons .icon_space { margin-right:20px; float:left;}
#footer_ar .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer_ar .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer_ar .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer_ar .footer_text	{color: #7d7d7d; margin-top: 10px; position:relative; float: left; width:970px; margin-bottom:20px}