@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/LPProffesional/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/en_2/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 40px; height:27px;/* background:url(../images/landing_Contactus/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px;margin-right: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}

p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}
#banner_ru	{background:url(../../images/landing_Contactus/LP_testimonials_generic_long/banner_testimonial1_full-form_ru.jpg) no-repeat; width:970px; height:920px; margin:0 auto;position:relative;}
#banner_en	{background:url(../../images/landing_Contactus/LP_testimonials_generic_long/banner_testimonial1_full-form_en.jpg) no-repeat; width:970px; height:920px; margin:0 auto;position:relative;}


.l_text_box	{font-size:14px; color:#525252;  position:absolute; top:130px; left:30px;line-height: 20px; width:500px}

.l_text_box_google	{font-size:14px; color:#525252;  position:absolute; top:170px; left:30px;line-height: 20px; width:495px}


#details_form	{margin:0; padding:0;}

.r_text_box	{position:absolute; top:82px; left:565px; font-size:12px; color:#fff;width: 350px;}
.r_text_box_big-title	{
	font-size:26px;
	color:#fff;
	margin-left:110px;
	margin-bottom:20px
}


.input_title	{float: left; margin-right: 10px; text-align: right; width: 136px;}

.input1		{background:url(../../images/landing_Contactus/input_box_full1.png) no-repeat 0 0; width:181px; height:19px; overflow:hidden; margin-bottom:5px;}
.input1 input	{ border: medium none; height: 13px; margin:2px 3px; width: 175px;font-size: 10px;}
.input1	.select_container { border: 0 none; height: 15px; left: 2px; overflow: hidden; position: relative;top: 2px; width: 177px;}
.input1 select	{ font-size: 10px; height: 18px; left: -2px; position: relative; top: -2px; width: 180px;}
.star		{color:#f6cd10; font-weight:normal;}

.input2		{float:left; background:url(../../images/landing_Contactus/LP_testimonials_generic_long/input_box_full2.png) no-repeat;width:51px; height:19px; overflow:hidden; margin-bottom:5px; margin-right:5px;}
.input2 input	{ border: medium none; height: 13px; margin:2px 3px; width: 45px;text-align: center;font-size: 10px;}
.input3		{background:url(../../images/landing_Contactus/input_box_full3.png) no-repeat; width:126px; height:19px; overflow:hidden; margin-bottom:5px;}
.input3 input	{ border: medium none; height: 13px; margin:2px 3px; width: 120px;font-size: 10px;}
.input4		{float:left; background:url(../../images/landing_Contactus/input_box_full4.png) no-repeat;width:56px; height:19px; overflow:hidden; margin-bottom:5px; margin-right:6.5px;}
.input4	.select_container { border: 0 none; height: 15px; left: 2px; overflow: hidden; position: relative;top: 2px; width: 52px;}
.input4 select	{ font-size: 10px; height: 18px; left: -2px; position: relative; top: -2px; width: 56px;}
.input2_1		{float:left; color:#000;line-height: 20px; background:url(../../images/landing_Contactus/input_box_full2.png) no-repeat;width:51px; height:18px; overflow:hidden; margin-bottom:5px; margin-right:5px; position:relative; padding:0;}
.input2_1 input	{ border: medium none; height: 13px; margin:2px 0px; width: 30px;text-align: center;font-size: 10px;position: absolute; padding:0;text-align: left;}


.radio_button	{margin:0;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error_70_generic	{ background-position:0 -19px;}



.bottom_line	{font-size:16px; font-weight:bold; color:#0471b5;}

.t_box		{background:#e9e9e9; width:470px;  padding:14px; margin-top:20px; height:260px }
.t_photo	{margin-right:14px; float:left}
.t_title	{font-size:21px; font-weight:bold; color:#157aba; font-family:Arial, Helvetica, sans-serif;  float:left; width:260px}
.t_text		{font-size:13px; color:#525252; margin-top:5px; line-height: 16px;  float:left; width:270px}


.agree_box	{margin-left: 10px;margin-top: 5px;}
.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;margin: 0 0 5px; padding-top: 2px;}
.agree_text a {color:#fff; text-decoration:underline;}
.submin_swf	{ margin-left: 137px;margin-top: 15px;}

.info_button	{  width:15px; height:15px; background:url(../../images/landing_Contactus/info_button.png) no-repeat; float: right;margin-top: 2px;}
.info_box		{ background:url(../../images/landing_Contactus/info_box.png) no-repeat;  display: none; height: 61px; left: 124px; margin-top: -2px; position: absolute; width: 230px; overflow: hidden;}
.info_box.show	{display:block;z-index:101;}
.info_text		{ margin:10px 20px; color:#e6c61b;}

#error_box	{ display:none; position:absolute; z-index:100; top:500px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}


.yellow	{color:#f6cd10;}
.plus	{float:left;text-align: right; width: 19px;margin-top: -1px;}