<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	 
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<li class="#{request.requestURI.endsWith('personal.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/personal.jsf">
				<h:outputText value="#{msgs['header.personal']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
		<li class="#{request.requestURI.endsWith('taxBalance.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/taxBalance.jsf">
				<h:outputText value="#{msgs['header.taxBalance']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<li class="#{request.requestURI.endsWith('changePass.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/changePass.jsf">
				<h:outputText value="#{msgs['header.changepass']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{commonUtil.skinRegulated and userRegulation.shouldShowQuestionnaireMenu and !userRegulationForm.isSingleQuestDone()}">
		<li class="#{request.requestURI.endsWith('questionnaire.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/questionnaire.jsf">
				<h:outputText value="#{msgs['CMS.mypage_side_menu.label.questionnaire']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId != 1 and (!commonUtil.skinRegulated or (commonUtil.skinRegulated and userRegulation.shouldShowQuestionnaireMenu))}">
		<li class="#{request.requestURI.endsWith('documents.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/documents.jsf">
				<h:outputText value="#{msgs['CMS.mypage_side_menu.label.title']}"/>
			</a>
		</li>
	</h:panelGroup>
	<li class="#{request.requestURI.endsWith('my_settings.jsf') ? 'current' : ''}">
		<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/my_settings.jsf">
			<h:outputText value="#{msgs['CMS.mypage_side_menu.label.title.my_settings']}"/>
		</a>
	</li>
</f:view>