<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<li class="#{request.requestURI.endsWith('deposit.jsf') ? 'current' : ''}">
		<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf">
			<h:outputText value="#{msgs['header.creditcards']}"/>
		</a>
	</li>
	<h:panelGroup rendered="#{applicationData.haveDirect24Option and user.skinId != 13 and user.skinId != 14 and !userRegulation.showWCErrPage and user.currencyId != 6}">
		<li class="#{request.requestURI.endsWith('direct24.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/direct24.jsf">
				<h:outputText value="#{msgs['payment.type.direct24']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveGiropayOption and user.skinId != 13 and user.skinId != 14 and user.currencyId != 6}">
		<li class="#{request.requestURI.endsWith('giropay.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/giropay.jsf">
				<h:outputText value="#{msgs['payment.type.giropay']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEpsOption and user.skinId != 13 and user.skinId != 14 and !userRegulation.showWCErrPage and user.currencyId != 6}">
		<li class="#{request.requestURI.endsWith('eps.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/eps.jsf">
				<h:outputText value="#{msgs['payment.type.eps']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.showBaroPayPaymentMethod and applicationData.userLocale.language=='kr'}">
		<li class="#{request.requestURI.endsWith('baroPay.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/baroPay.jsf">
				<h:outputText value="#{msgs['header.baropay']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and user.currencyId != 6}">
		<li class="#{request.requestURI.endsWith('envoyBankSpain.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyBankSpain.jsf">
				<h:outputText value="#{msgs['header.envoy.linea.abierta']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveUkashOption and applicationData.userLocale.language!='it' and applicationData.userLocale.language!='kr' and applicationData.userLocale.language!='tr'}">
		<li class="#{request.requestURI.endsWith('ukash.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/ukash.jsf">
				<h:outputText value="#{msgs['header.ukash']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveCashUOption and (applicationData.userLocale.language=='es' || applicationData.userLocale.language=='tr') and user.currencyId != 6}">
		<li class="#{request.requestURI.endsWith('envoyDepositCashU.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositCashU.jsf">
				<h:outputText value="#{msgs['payment.type.cashu']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{!userRegulation.showWCErrPage}">
		<li class="#{request.requestURI.endsWith('wireDeposit.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/wireDeposit.jsf">
				<h:outputText value="#{msgs['header.wire']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and user.currencyId != 6}">
		<li class="#{request.requestURI.endsWith('envoyBankMexico.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyBankMexico.jsf">
				<h:outputText value="#{msgs['payment.type.hsbc']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveWebmoneyOption and user.currencyId != 6 and applicationData.userLocale.language=='ru'}">
		<li class="#{request.requestURI.endsWith('envoyDepositWebMoney.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositWebMoney.jsf">
				<h:outputText value="#{msgs['payment.type.web.money']} (мин.: #{applicationData.minFirstDeposit})"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.userLocale.language=='tr'}">
		<li class="#{request.requestURI.endsWith('eft.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/eft.jsf">
				<h:outputText value="#{msgs['header.eft']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveWebmoneyOption and user.currencyId == 6 and applicationData.userLocale.language=='ru'}">
		<li class="#{request.requestURI.endsWith('webMoney.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/webMoney.jsf">
				<h:outputText value="#{msgs['payment.type.web.money']} (мин.: #{applicationData.minFirstDeposit})"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveWebmoneyOption and user.currencyId == 6 and applicationData.userLocale.language=='ru'}">
		<li class="#{request.requestURI.endsWith('envoyDepositMoneta.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositMoneta.jsf">
				<h:outputText value="#{msgs['payment.type.moneta']} (мин.: #{applicationData.minFirstDeposit})"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEnvoyOption and !applicationData.haveDeltaPayChina and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and applicationData.userLocale.language!='tr'}">
		<li class="#{request.requestURI.endsWith('envoyDeposit.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDeposit.jsf">
				<h:outputText value="#{msgs['header.envoy']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{(!userRegulation.showWCErrPage and applicationData.userLocale.language!='kr') || (user.currencyId != 8 and applicationData.userLocale.language=='kr' and user.currencyId != 6)}">
		<li class="#{request.requestURI.endsWith('moneybookers.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/moneybookers.jsf">
				<h:outputText value="#{msgs['header.moneybookers']}"/>
			</a>
		</li>
	</h:panelGroup>
	<h:panelGroup rendered="#{user.currencyId == 7 and applicationData.userLocale.language!='kr'}">
		<li class="#{request.requestURI.endsWith('deltaPayDeposit.jsf') ? 'current' : ''}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deltaPayDeposit.jsf">
				<h:outputText value="#{msgs['transaction.deltapay.deposit']}"/>
			</a>
		</li>
	</h:panelGroup>

</f:view>