<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<script>
		var predefinedDepositAmountJsonMap = #{commonUtil.getPredefinedDepositAmountJsonMap()};
	</script>

	<div class="fL holder-block" style="width:316px;">
		<c:if test="#{commonUtil.isMobile()}">
			<h3><h:outputText value="#{msgs['mobile_site.deposit.deposit_amount']}"/></h3>
		</c:if>
		<div class="dN">
			<h:selectOneMenu styleClass="funnel_inp funnel_inp_typeId" id="typeId" value="#{newCardForm.typeId}" required="true" onchange="validateCCType(this)" onblur="validateCCType(this)">
				<f:selectItem itemLabel="#{msgs['creditcards.type'].toUpperCase()}" itemValue="" />
				<f:selectItems value="#{newCardForm.ccTypes}" />
			</h:selectOneMenu>
			<span class="funnel_names_error_h">
				<span id="newCardForm:deposit_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h">
					<span id="newCardForm:typeId_error_txt_in"></span>
				</span>
			</span>
		</div>
		<div class="funnel_inp_holder" id="funnel_inp_holder_amount">
			<h:inputText dir="#{writer.localInfo.dir}" styleClass="funnel_inp funnel_inp_amount" maxlength="9" id="deposit" alt="#{msgs['creditcards.deposit'].toUpperCase()}"
				value="#{newCardForm.deposit}" required="true" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_amount');"
				onfocus="inpFocus(this,'t');setDirty()" onblur="inpFocus(this,'t');validateDepositAmount(this);hideTooltipDepositField('funnel_tooltip_amount')">
				<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
			</h:inputText>
			<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<div class="select-wrapper currency">
					<h:selectOneMenu disabled="#{!newCardForm.firstDeposit}" styleClass="funnel_inp funnel_inp_sel_content" id="currenciesList" value="#{newCardForm.currencyId}" required="true" onchange="updateDefaultDepositAmount(this, 'newCardForm:deposit')">
						<f:selectItems value="#{applicationData.currenciesSignBySkinId}" />
					</h:selectOneMenu>
					<script>beautifySelectCurency('newCardForm:currenciesList')</script>
				</div>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId == 1}">
				<span class="vaM deposit_currency">
					<h:outputText value="#{msgs[user.currency.symbol]}"/>
				</span>
			</h:panelGroup>
			<span class="funnel_names_error_h">
				<span id="newCardForm:deposit_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h">
					<span id="newCardForm:deposit_error_txt_in"></span>
				</span>
			</span>
			<span class="funnel_tooltip_h#{(!applicationData.rtlAlign)?'_left':''}" id="funnel_tooltip_amount">
				<span class="funnel_tooltip_arrow_err"></span>
				<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
			</span>
		</div>
		<c:if test="#{commonUtil.isMobile()}">
			<h3><h:outputText value="#{msgs['mobile_site.deposit.card_information']}"/></h3>
		</c:if>
		<div class="funnel_inp_holder" style="z-index:2;" id="funnel_inp_holder_card">
			<div class="funnel_inp_cardType">
				<h:inputText styleClass="funnel_inp funnel_inp_mb funnel_inp_mb_#{applicationData.userLocale.language}" maxlength="20" dir="#{writer.localInfo.dir}" id="ccNum" alt="#{msgs['creditcards.ccNum'].toUpperCase()}"
					value="#{newCardForm.ccNum}" required="true" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_ccNum');detectCCtype_call(this);"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCCNumber(this);hideTooltipDepositField('funnel_tooltip_ccNum');validateCCType();">
					<f:validateLongRange/>
				</h:inputText>
				<i class="deposit_cc"></i>
			</div>
			<span class="funnel_names_error_h">
				<span id="newCardForm:ccNum_all_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h">
					<span id="newCardForm:ccNum_error_txt_in"></span>
				</span>
			</span>
			<span class="funnel_tooltip_h#{(!applicationData.rtlAlign)?'_left':''}" id="funnel_tooltip_ccNum">
				<span class="funnel_tooltip_arrow_err"></span>
				<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
			</span>
		</div>
		<div class="funnel_inp_holder" style="z-index:2;" id="funnel_inp_holder_expiry">
			<div class="#{applicationData.skinId == 1 ? 'funnel_inp_holder' : ''} deposit_dIB">
				<h:outputText id="exp" styleClass="deposit_row_title deposit_row_exp_date" value="#{msgs['creditcards.expDate']}"/>
				<div class="select-wrapper expDay">
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="expMonth" value="#{newCardForm.expMonth}" required="true" onchange="validateExpMonth(this);validateExpDate(g('newCardForm:expMonth'), g('newCardForm:expYear'))" onblur="validateExpMonth(this);validateExpDate(g('newCardForm:expMonth'), g('newCardForm:expYear'))">
						<h:panelGroup rendered="#{applicationData.skinId == 1}">
							<f:selectItem  itemLabel="#{msgs['creditcards.month'].toUpperCase()}" itemValue="" itemDisabled="true"/>
						</h:panelGroup>
						<f:selectItems value="#{applicationData.months}" />
					</h:selectOneMenu>
					<script>beautifySelect('newCardForm:expMonth')</script>
				</div>
				<div class="select-wrapper expYear">
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="expYear" value="#{newCardForm.expYear}" required="true" onchange="validateExpYear(this);validateExpDate(g('newCardForm:expMonth'), g('newCardForm:expYear'))" onblur="validateExpYear(this);validateExpDate(g('newCardForm:expMonth'), g('newCardForm:expYear'))">
						<h:panelGroup rendered="#{applicationData.skinId == 1}">
							<f:selectItem  itemLabel="#{msgs['creditcards.year'].toUpperCase()}" itemValue="" itemDisabled="true"/>
						</h:panelGroup>
						<f:selectItems value="#{applicationData.creditCardYears}" />
					</h:selectOneMenu>
					<script>beautifySelect('newCardForm:expYear')</script>
				</div>
				<span class="funnel_names_error_bday funnel_names_error_bday_top funnel_expDate">
					<span id="newCardForm:expDate_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:expMonth_error_txt_in"></span>
						<span id="newCardForm:expYear_error_txt_in"></span>
					</span>
				</span>
			</div>
		</div>
		<h:panelGroup rendered="#{applicationData.skinId != 1}">
			<div class="funnel_inp_holder" id="funnel_inp_holder_name">
				<h:inputText rendered="#{applicationData.skinId != 1}" styleClass="funnel_inp" maxlength="20" id="holderName" alt="#{msgs['creditcards.holderName'].toUpperCase()}"
					value="#{newCardForm.holderName}" required="true"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateHolderName(this)"
					validator="#{commonUtil.validateLettersOnly}" >
				</h:inputText>

				<span class="funnel_names_error_h">
					<span id="newCardForm:holderName_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:holderName_error_txt_in"></span>
					</span>
				</span>
			</div>
		</h:panelGroup>
		<div class="clear funnel_error_list">
			<span id="newCardForm:deposit_error_txt" data-error-for="funnel_inp_holder_amount"></span>
			<t:message id="depositError" for="deposit" replaceIdWithLabel="false"/>
			<t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true" />
			<span id="newCardForm:typeId_error_txt" data-error-for="funnel_inp_holder_card"></span>
			<t:message id="typeErrorTLV" for="typeIdTLV" replaceIdWithLabel="true"/>
			<t:message id="typeError" for="typeId" replaceIdWithLabel="true"/>
			<span id="newCardForm:ccNum_error_txt" data-error-for="funnel_inp_holder_card"></span>
			<t:message id="ccNumError" for="ccNum" rendered="#{!newCardForm.ccError}" replaceIdWithLabel="true"/>
			<h:outputText rendered="#{newCardForm.ccError}" value="#{msgs['error.creditcard.num']}"/>
			<span id="newCardForm:ccPass_error_txt" data-error-for="funnel_inp_holder_ccPass"></span>
			<t:message id="ccPassError" for="ccPass" replaceIdWithLabel="true" />
			<t:message id="expdateError" for="exp" replaceIdWithLabel="true"/>
			<span id="newCardForm:expMonth_error_txt" data-error-for="funnel_inp_holder_expiry"></span>
			<t:message id="expMonthError" for="expMonth" detailFormat="#{msgs['error.register.month']}" replaceIdWithLabel="true"/>
			<span id="newCardForm:expYear_error_txt" data-error-for="funnel_inp_holder_expiry"></span>
			<t:message id="expYearError" for="expYear" detailFormat="#{msgs['error.register.year']}" replaceIdWithLabel="true"/>
					
			<h:panelGroup rendered="#{commonUtil.hasMessages}">
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
			</h:panelGroup>
			
			<h:panelGroup rendered="#{newCardForm.firstDepositExcludeBonus and applicationData.skinId != 1}">
				<span id="newCardForm:street_error_txt" data-error-for="funnel_inp_holder_address"></span>
				<t:message id="streetError" for="street" replaceIdWithLabel="true"/>
				<span id="newCardForm:cityNameAO_error_txt" data-error-for="funnel_inp_holder_city"></span>
				<t:message id="cityNameAOError" for="cityNameAO" replaceIdWithLabel="true" styleClass="error_messages"/>
				<span id="newCardForm:zipCode_error_txt" data-error-for="funnel_inp_holder_zip"></span>
				<t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error_messages"/>
				<span id="newCardForm:streetno_error_txt" data-error-for="funnel_inp_holder_address"></span>
				<t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="error_messages"/>
				
				<span id="newCardForm:birthYear_error_txt" data-error-for="funnel_inp_holder_birthdate"></span>
				<t:message id="birthYearError" for="birthYear" detailFormat="#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="error_messages"/>
				<span id="newCardForm:birthMonth_error_txt" data-error-for="funnel_inp_holder_birthdate"></span>
				<t:message id="birthMonthError" for="birthMonth" detailFormat="#{msgs['error.register.month']}" replaceIdWithLabel="true" styleClass="error_messages"/>
				<span id="newCardForm:birthDay_error_txt" data-error-for="funnel_inp_holder_birthdate"></span>
				<t:message id="birthDayError" for="birthDay" detailFormat="#{msgs['error.register.day']}" replaceIdWithLabel="true" styleClass="error_messages"/>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId == 1}">
				<span id="newCardForm:holderIdNum_error_txt"></span>
				<t:message id="holderIdNumError" for="holderIdNum" replaceIdWithLabel="true" styleClass="error_messages"/>
			</h:panelGroup>

			<span id="newCardForm:holderName_error_txt" data-error-for="funnel_inp_holder_name"></span>
			<span id="newCardForm:holderName1_error_txt"></span>
			<t:message id="holderNameError" for="holderName" replaceIdWithLabel="true"/>
			<t:message id="holderNameError1" for="holderName1" replaceIdWithLabel="true"/>
		</div>
	</div>
	<div class="fR holder-block" style="width:316px;">
		<div class="funnel_inp_holder" style="z-index:2;" id="funnel_inp_holder_ccPass">
			<h:inputText styleClass="funnel_inp funnel_inp_ccPass" dir="#{writer.localInfo.dir}" id="ccPass" maxlength="4" size="5" alt="#{msgs['creditcards.ccPass']}"
				value="#{newCardForm.ccPass}" required="true" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_ccPass');"
				onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCCPass(this);hideTooltipDepositField('funnel_tooltip_ccPass')"/>
			<span class="info_deposit_ico">
				<span class="funnel_tooltip_h">
					<span class="funnel_tooltip_arrow"></span>
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/ccInfo_pic.jpg" class="mr10 mb30 mb15 fL"/>
					<h:outputText escape="false" value="#{msgs['creditcards.cvvHint']}" />
				</span>
			</span>
			<span class="funnel_names_error_h">
				<span id="newCardForm:ccPass_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h">
					<span id="newCardForm:ccPass_error_txt_in"></span>
				</span>
			</span>
			<span class="funnel_tooltip_h#{(!applicationData.rtlAlign)?'_left':''}" id="funnel_tooltip_ccPass">
				<span class="funnel_tooltip_arrow_err"></span>
				<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
			</span>
		</div>
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
			<div class="funnel_inp_holder">
				<h:inputText rendered="#{applicationData.skinId == 1}" styleClass="funnel_inp" maxlength="20" id="holderName1" alt="#{msgs['creditcards.holderName']}" 
					value="#{newCardForm.holderName}" required="true"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateHolderName(this);"
					validator="#{commonUtil.validateLettersOnly}" >
				</h:inputText>

				<span class="funnel_names_error_h">
					<span id="newCardForm:holderName1_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:holderName1_error_txt_in"></span>
					</span>
				</span>
			</div>
		</h:panelGroup>
		<c:if test="#{newCardForm.firstDepositExcludeBonus and applicationData.skinId == 1}">
			<div class="funnel_inp_holder">
				<h:inputText dir="#{writer.localInfo.dir}" styleClass="funnel_inp funnel_inp_holderIdNum" maxlength="9" id="holderIdNum" size="15" alt="#{msgs['creditcards.holderIdNum'].toUpperCase()}"
					value="#{newCardForm.holderIdNum}" required="true" validator="#{commonUtil.validateIdNum}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateHolderIdNum(this)" />
				<span class="funnel_names_error_h">
					<span id="newCardForm:holderIdNum_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:holderIdNum_error_txt_in"></span>
					</span>
				</span>
			</div>
		</c:if>
		<h:panelGroup rendered="#{newCardForm.firstDepositExcludeBonus and applicationData.skinId != 1}">
			<c:if test="#{commonUtil.isMobile()}">
				<h3><h:outputText value="#{msgs['mobile_site.deposit.billing_information']}"/></h3>
			</c:if>
			<div class="funnel_inp_holder" id="funnel_inp_holder_address">
				<h:inputText styleClass="funnel_inp funnel_inp_street" size="37" maxlength="40" id="street" alt="#{msgs['CMS.registerContent.label.register.street'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateStreet(this);"
					value="#{newCardForm.street}" required="true"
					validator="#{commonUtil.validateStreet}"/>
				<h:inputText rendered="#{applicationData.skinId == 1}" styleClass="funnel_inp funnel_inp_streetno" maxlength="6" id="streetno" alt="#{msgs['register.streetno'].toUpperCase()}" 
					value="#{newCardForm.streetNo}" required="true"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');" validator="#{commonUtil.validateStreetNo}"/>
				<span class="funnel_names_error_h">
					<span id="newCardForm:street_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:street_error_txt_in"></span>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder" id="funnel_inp_holder_city">
				<c:if test="#{applicationData.skinId == 1}">
					<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityNameET(this)" name="cityNameAO" 
						value="#{newCardForm.cityNameAO}" required="true"
						validator="#{commonUtil.validateLettersOnlyCityET}" >
					</h:inputText>
					<script>citiesObj = new actb(g('newCardForm:cityNameAO'), citiesArr);</script>
				</c:if>
				<c:if test="#{applicationData.skinId != 1}">
					<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityName(this)" name="cityNameAO" 
						value="#{newCardForm.cityNameAO}" required="true"
						validator="#{commonUtil.validateLettersOnly}" >
					</h:inputText>
				</c:if>
				<span class="funnel_names_error_h">
					<span id="newCardForm:cityNameAO_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:cityNameAO_error_txt_in"></span>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder" id="funnel_inp_holder_zip">
				<c:if test="#{!commonUtil.isMobile()}">
					<h:inputText styleClass="funnel_inp" style="margin:0 0 7px;" maxlength="10" id="zipCode" size="15" alt="#{msgs['CMS.registerContent.label.register.postcode'].toUpperCase()}"
						value="#{newCardForm.zipCode}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this)" />
				</c:if>
				<c:if test="#{commonUtil.isMobile()}">
					<h:inputText styleClass="funnel_inp" style="margin:0 0 7px;" maxlength="10" id="zipCode" size="15" alt="#{msgs['mobile_site.deposit.zip'].toUpperCase()}"
						value="#{newCardForm.zipCode}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this)" />
				</c:if>
				
				<span class="funnel_names_error_h">
					<span id="newCardForm:zipCode_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:zipCode_error_txt_in"></span>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder" id="funnel_inp_holder_birthdate">
				<h:outputText id="bday" styleClass="deposit_row_title" value="#{msgs['register.birthdate']}"/>
				<div class="select-wrapper birthDay">
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="birthDay" value="#{newCardForm.birthDay}" required="true" onchange="validateBirthDay(this)" onblur="validateBirthDay(this)">
						<f:selectItem itemLabel="#{(applicationData.skinId==1)? msgs['register.birthday'] : msgs['register.birthday.short']}" itemValue="" />
						<f:selectItems value="#{applicationData.days}" />
					</h:selectOneMenu>
					<script>beautifySelect('newCardForm:birthDay')</script>
				</div>
				<div class="select-wrapper birthMonth">
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="birthMonth" value="#{newCardForm.birthMonth}" required="true" onchange="validateBirthMonth(this)" onblur="validateBirthMonth(this)">
						<f:selectItem  itemLabel="#{(applicationData.skinId==1)? msgs['register.birthmonth'] : msgs['register.birthmonth.short']}" itemValue="" />
						<f:selectItems value="#{applicationData.months}" />
					</h:selectOneMenu>
					<script>beautifySelect('newCardForm:birthMonth')</script>
				</div>
				<div class="select-wrapper birthYear">
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="birthYear" value="#{newCardForm.birthYear}" required="true" onchange="validateBirthYear(this)" onblur="validateBirthYear(this)">
						<f:selectItem  itemLabel="#{(applicationData.skinId==1)? msgs['register.birthyear'] : msgs['register.birthyear.short']}" itemValue="" />
						<f:selectItems value="#{applicationData.years}" />
					</h:selectOneMenu>
					<script>beautifySelect('newCardForm:birthYear')</script>
				</div>
				<span class="funnel_names_error_bday">
					<span id="newCardForm:birthDate_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="newCardForm:birthYear_error_txt_in"></span>
						<span id="newCardForm:birthMonth_error_txt_in"></span>
						<span id="newCardForm:birthDay_error_txt_in"></span>
					</span>
				</span>
			</div>
			<div class="float_fix"></div>
		</h:panelGroup>
		<div class="funnel_submit_field  funnel_submit_field_#{applicationData.userLocale.language}">
			<a  onclick="newCard_submit(#{newCardForm.firstDeposit});return false;" class="btn_open_account btn_open_account_h clear" id="btn_newCard">
				<span class="rs btn_open_account">
					<span class="cs btn_open_account">
						<h:outputText rendered="#{!commonUtil.isMobile()}" value="#{msgs['CMS.newCard_content.label.start.trading']}" />
						<h:outputText rendered="#{commonUtil.isMobile()}" value="#{msgs['mobile_site.deposit.submit']}" />
					</span>
				</span>
			</a>
		</div>
		<c:if test="#{commonUtil.isMobile()}">
			<a class="deposit-later" href="#{commonUtil.getUrlDownloadApp()}"><h:outputText value="#{msgs['mobile_site.deposit.deposit_later']}" /></a>
		</c:if>
		<h:commandButton action="#{newCardForm.insertCreditCardAndDeposit}" id="hiddenDeposit" style="display:none"/>
	</div>
	<span class="float_fix"></span>
	<script>
		getUserCurencies('newCardForm\\:currenciesList');
	</script>
</f:view>