<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	<script>
		var tc = 0; // time counter
		var showTime = 15; // seconds
		var dontHide = false;
		var twittStat = "";

		timerToHide();

		function timerToHide() {
			hideOnTimeout();
			setTimeout("timerToHide()", 1000);
		}

		function setDontHide(val) {
			dontHide = val;
		}

		function hideOnTimeout() {
			if (dontHide == false) {
				if (showTime > tc) {
					tc++;
				} else {
					hideShowOff();
					hideShowOffAfter();
				}
			}
		}

		function hideShowOff() {
			g("showOffDiv").style.display = 'none';
		}

		function hideShowOffAfter() {
			g("showOffAfterDiv").style.display = 'none';
		}

		function positionShowOffDiv(anchor, text, invId, shSen, facebookText, twitterText) {
			tc = 0;
			hideShowOffAfter()
			text = text.replace(/&amp;amp;/g, "&amp;");
			facebookText = facebookText.replace(/&amp;amp;/g, "&amp;");
			twitterText = twitterText.replace(/&amp;amp;/g, "&amp;");
			document.getElementById('investmentsContainer:selectedInv').value=invId;
			document.getElementById('investmentsContainer:showOffSentence').value=shSen;
			document.getElementById('investmentsContainer:showOffFacebookText').value=facebookText;
			document.getElementById('investmentsContainer:showOffTwitterText').value=twitterText;
			document.getElementById('investmentsContainer:lastShowOff').value=invId;
			var shDiv = document.getElementById('showOffDiv');
			if (null != shDiv) {
				shDiv.style.display = 'inline';
				//$(shDiv).css("left", f_getPosition(anchor, 'Left') - 830); //Keeping this just in case someone wants it back...
				$(shDiv).css("left", $(anchor).position().left - $(shDiv).outerWidth() -10);
				$(shDiv).css("top", f_getPosition(anchor, 'Top') - 200);
				document.getElementById("shText").innerHTML=text;
			}
		}

//facebook
/*
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_US/sdk.js";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function() {
	FB.init({
		appId      : 832674160084280,
		cookie     : true,  // enable cookies to allow the server to access 
							// the session
		xfbml      : true,  // parse social plugins on this page
		version    : 'v2.1' // use version 2.1
	});
};
*/
		function positionShowOffAfterDiv(anchor, invId, twitterTextEncoded, ShowOffId) {
			tc = 0;
			hideShowOff()
			twitterTextEncoded = twitterTextEncoded.replace(/&amp;amp;/g, "&amp;");
			document.getElementById('investmentsContainer:selectedInv').value=invId;
			twittStat = twitterTextEncoded;
			/*
			document.getElementById('investmentsContainer:soButton2').onclick = function(){
				FB.ui({
					method: 'feed',
					name: 'Show off',
					link: 'http://anyoption.com',
					description: g('investmentsContainer:showOffFacebookText').value
				}, function(response) {});
			}*/
			document.getElementById('investmentsContainer:lastShowOff').value="";
			var shDiv = document.getElementById('showOffAfterDiv');
			position = $(anchor).position();

			if (shDiv != null) {
				$(shDiv).show().css({'left': position.left - 330, 'top': position.top - 95});
			}
		}

		function clickSoBtn() {
			el = document.getElementById('investmentsContainer:hiddenSo');
			el.onclick();
		}

		function clickFbShare() {
			el = document.getElementById('fb_share');
			el.onclick();
		}

		function clickTwitterShare() {
			el = document.getElementById('twitterHref');
			el.onclick();
		}
	</script>
	<div class="show-off-tooltip" id="showOffDiv" style="display:none;">
		<i class="pop_close" onclick="hideShowOff()"></i>
		<img src="#{applicationData.imagesPath}/icons/show-off-icon.png" class="fL mr10"/>
		<span class="tooltip-title"><h:outputText value="#{msgs['CMS.showOff.text.title.short']}" escape="false"/></span>
		<p id="shText" class="tooltip-text"></p>
		<div class="taC mt10">
			<button class="flat-button" onclick="return myfaces.oam.submitForm('investmentsContainer','investmentsContainer:hiddenSo');"><h:outputText value="#{msgs['yes-show-me-off']}" escape="false"/></button>
			<h:commandLink action="#{investmentsContainer.addShowOff}" id="hiddenSo" />
		</div>
	</div>

	<div class="show-off-tooltip p20" id="showOffAfterDiv" style="display:none;">
		<i class="pop_close" onclick="hideShowOffAfter()"></i>
		<p id="shText2" class="tooltip-text"><strong>#{msgs['showOff.posted']}</strong></p>
		<p class="tooltip-text">
			<span class="vaM">#{msgs['showOff.also']}</span>
			<button onclick="clickFbShare();" class="sprite_social fb vaM"></button>
			<button onclick="window.open('http://twitter.com/home?status=' + twittStat)" class="sprite_social tw vaM"></button>
		</p>
			<div style="display:none;">
			<t:commandButton id="soButton2"
				image="#{applicationData.imagesPath}/#{applicationData.skin.style}/showOff/face.gif"
				onclick="clickFbShare();"
				action="#{investmentsContainer.updateShowOffFB}"
			/>


			&#160;
			<t:commandButton
				id="soButtonTwitter"
				image="#{applicationData.imagesPath}/#{applicationData.skin.style}/showOff/twitt.gif"
				onclick="window.open('http://twitter.com/home?status=' + twittStat);"
				action="#{investmentsContainer.updateShowOffTwitter}"
			/>

			</div>
	</div>
</f:view>