@charset "utf-8";
/* CSS Document */

body {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	font-size: 8.5pt;
	color: #444;
/*
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
*/
	-webkit-text-size-adjust:none;
	margin: 0px;
}

.body_bg {
	background-color: #e1e1e1;
}

.header_logo {
	background:url(../../images/mobile/head1px.png);
	background-repeat:repeat-x;
	height:78px;
}

.home_banner {
	background:url(../../images/mobile/hp_1px.png);
	background-repeat:repeat-x;
	height:112px;
}

.logo_div {
	/*background:url(../../images/mobile/logo.png);*/
	width:258px;
	height:78px;
	text-align: left;
}

.clock {
	color: #FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight: bold;
	padding-left:2px;
	padding-top:9px;
	width: 50px;
}

.error_messages {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
	font-size: 9px;
	font-weight: normal;
	vertical-align: middle;
}

.error_messages_13px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
}

.info_messages {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #093755;
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

.height_32_px {
	height:32px;
}

.line_height_32_px {
	line-height: 32px;
}

.no_underline {
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.menu_strip {
	background:url(../../images/mobile/menu1px.png);
	background-repeat:repeat-x;
	height:32px;
}

.home_wrapper {
	background:#093755;
	font-size:12px;
	line-height:19px;
	color:#ffffff;
	padding-left:18px;
	padding-right:18px;
	padding-bottom:10px;
	text-align:left;
	margin-top: 0.5%;
	height: 228px;
}

.welcome_header {
	font-size:19px;
	line-height:28px;
}

.white {
	background-color:#ffffff;
}

.left_side_header {
	background-repeat: repeat-x;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	width:16.5%;
	height:38px;
	margin-left:1%;
	margin-top:1%;
	text-align:left;
}

.right_side_header {
	background-repeat: repeat-x;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	text-align:right;
	width:16.5%;
	height:38px;
	margin-right:1%;
	margin-top:1%;
}

.center_header {
	background-repeat: repeat-x;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	width: 67%;
	height: 38px;
	margin-left: 16.5%;
	margin-right: 16.5%;
	margin-top: 1%;
	vertical-align: middle;
	line-height: 37px;
}

.page_header_bg_image {
	background:url(../../images/mobile/1px_head.png);
}

.margin_left_right_1_prc {
	margin-right:1%;
	margin-left:1%;
}

.subhead {
	background-color:#093755;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#ffffff;
	vertical-align: middle;
	background-color: #093755;
	height:30px;
	line-height: 30px;
}

.padd-right5 {
	padding-right:5px;
}
.padd-left5 {
	padding-left:5px;
}
.padd-all5 {
	padding:5px;
}

/* FAQ */

.page_title {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#0284d6;
	padding-top:5px;

}

.faq {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	text-align:left;
	color:#093755;
	padding-left:6px;
	padding-right:6px;
}
.faq_answer {
	font-family:Verdana, Geneva, sans-serif;
	color: #093755;
	font-size:12px;
	line-height:22px;
}

.info_pages_text_blue {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight:bold;
	color: #0284d6;
	padding-top:5px;
	text-decoration: none;
}

.info_pages_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #093755;
	line-height: 19px;
}

.content_border {
	border-width:0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	background-color: #ffffff;
}

.content_background {
	background-color: #ffffff;
}

.footer {
	border-width:1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	background-color: #ffffff;
	margin-top:2%;
	margin-bottom:2%
}

.bold {
	font-weight: bold;
}

.general_link {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#093755;
	text-decoration:none;
}

.general_link:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#0284d6;
	text-decoration:none;
}

.general_link:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#093755;
	text-decoration:none;
}

.blue_link {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#0284d6;
	text-decoration:none;
}

.blue_link:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#093755;
	text-decoration:none;
}

.blue_link:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#0284d6;
	text-decoration:none;
}

.blue_text_11 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#0284d6;
}

.blue_link_11 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#0284d6;
	text-decoration:none;
}

.blue_link_11:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#093755;
	text-decoration:none;
}

.blue_link_11:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#0284d6;
	text-decoration:none;
}

.blue_link_10 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#0284d6;
	text-decoration:none;
}

.blue_link_10:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#093755;
	text-decoration:none;
}

.blue_link_10:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#0284d6;
	text-decoration:none;
}

.footer {
	font-size:9px;
	color:#093755;
	line-height:13px;
	text-align:center;
	background:#fff;
	padding:5px;
}

.nav_button_gray {
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(215,215,215)), color-stop(0.55, rgb(240,240,240)) );
	background:-moz-linear-gradient( center bottom, rgb(215,215,215) 43%, rgb(240,240,240) 55% );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width:1px 1px 1px 1px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#093755;
	text-align:center;
	vertical-align:middle;
}

.nav_button_yellow {
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(246,204,16)), color-stop(0.55, rgb(255,255,59)) );
	background:-moz-linear-gradient( center bottom, rgb(246,204,16) 43%, rgb(255,255,59) 55% );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width:1px 1px 1px 1px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	font-weight:bold;
	color:#093755;
	text-align:center;
	vertical-align:middle;
}

.nav_button_blue {
	background:-webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.38, rgb(0,82,137)),  color-stop(0.72, rgb(2,133,214)));
	background:-moz-linear-gradient(  center bottom,  rgb(0,82,137) 38%,  rgb(2,133,214) 72%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width:1px 1px 1px 1px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
}

.nav_button_blue_90 {
	background:-webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.38, rgb(0,82,137)),  color-stop(0.72, rgb(2,133,214)));
	background:-moz-linear-gradient(  center bottom,  rgb(0,82,137) 38%,  rgb(2,133,214) 72%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width:1px 1px 1px 1px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	width:90px;
	height:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
	float: inherit;
	margin-top: 3px;
}

.nav_button_blue_75 {
	background:-webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.38, rgb(0,82,137)),  color-stop(0.72, rgb(2,133,214)));
	background:-moz-linear-gradient(  center bottom,  rgb(0,82,137) 38%,  rgb(2,133,214) 72%);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-width:1px 1px 1px 1px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	width:75px;
	height:20px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
	float: inherit;
	margin-top: 3px;
	margin-left: 0px;
}

.nav_button_blue_25 {
	background:-webkit-gradient(  linear,  left bottom,  left top,  color-stop(0.38, rgb(0,82,137)),  color-stop(0.72, rgb(2,133,214)));
	background:-moz-linear-gradient(  center bottom,  rgb(0,82,137) 38%,  rgb(2,133,214) 72%);
	border-width:1px 1px 1px 1px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	font-weight:bold;
	color:#ffffff;
	text-align:center;
	vertical-align:middle;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.menu_nav_gray {
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(215,215,215)), color-stop(0.55, rgb(240,240,240)) );
	background:-moz-linear-gradient( center bottom, rgb(215,215,215) 43%, rgb(240,240,240) 55% );
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width:1px 0px 0px 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	width:100%;
	height:38px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color:#093755;
	text-align:center;
	vertical-align:middle;
	line-height: 38px;
}

.menu_nav_gray a {
	color:#093755;
	cursor:default;
	text-decoration:none;
}

.menu_nav_yello_75px {
	background: -moz-linear-gradient(top, #FFF500 43%, #F6CD10 48%, #FFF600 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,#FFF500), color-stop(48%,#F6CD10), color-stop(100%,#FFF600)); /* webkit */
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width:1px 0px 0px 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	width:100%;
	height: 75px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color:#093755;
	text-align:center;
	vertical-align:middle;
	line-height: 75px;
}

.menu_nav_gray_75px {
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(215,215,215)), color-stop(0.55, rgb(240,240,240)) );
	background:-moz-linear-gradient( center bottom, rgb(215,215,215) 43%, rgb(240,240,240) 55% );
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border-width:1px 0px 0px 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
	width:100%;
	height: 75px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color:#093755;
	text-align:center;
	vertical-align:middle;
	line-height: 75px;
}

.trade_bkgn {
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(9,56,87)), color-stop(0.89, rgb(3,83,137)) );
	background:-moz-linear-gradient( center bottom, rgb(9,56,87) 43%, rgb(3,83,137) 89% );
}

.trade_bkgn_revers {
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.43, rgb(3,83,137)), color-stop(0.89, rgb(9,56,87)) );
	background:-moz-linear-gradient( center bottom, rgb(3,83,137) 43%, rgb(9,56,87) 89% );
}

.input {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #093755;
	border: 1px solid #093755;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    border-radius: 0px;
}

.chart_box_slipinput {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	border: 1px solid #666666;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    border-radius: 0px;
    height: 16px;
    width:60px;
}

.lable {
	font-family: Verdana, Geneva, sans-serif;
	color: #093755;
	font-size: 12px;
	font-weight: normal;
	vertical-align: middle;
}

.combobox {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #093755;
	vertical-align: middle;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}

.center_align {
	text-align: center;
}

.left_align {
	text-align: left;
}

.right_align {
	text-align: right;
}

.pages_text {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:12px;
}

.pages_text_10 {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:10px;
}

.pages_text_blue {
	font-family:Verdana, Geneva, sans-serif;
	color:#0284D6;
	font-size:12px;
}

.pages_text_white {
	font-family:Verdana, Geneva, sans-serif;
	color:#ffffff;
	font-size:12px;
}

.margin_left_20_prc {
	margin-left: 20%;
}

.margin_right_20_prc {
	margin-right: 20%;
}

.margin_left_30_prc {
	margin-left: 30%;
}

.margin_right_30_prc {
	margin-right: 30%;
}

.margin_left_17_prc {
	margin-left: 17%;
}

.margin_right_17_prc {
	margin-right: 17%;
}

.margin_left_5_prc {
	margin-left: 5%;
}

.margin_right_5_prc {
	margin-right: 5%;
}

.margin_left_12_px {
	margin-left: 12px;
}

.margin_right_12_px {
	margin-right: 12px;
}

.alert_popup {
	-webkit-box-shadow: 0px 0px 15px #a8a8a8;
	-moz-box-shadow: 0px 0px 15px #a8a8a8;
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-width:2px 2px 2px 2px;
    border-style: solid;
    border-color: #0284D6;
    border-collapse: collapse;
    background-color: #093755;
	width: 252px;
	height: 170px;
	position: fixed;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-touch-callout:none;
	z-index: 100;
}

.container_alert_popup {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
	position: absolute;
	z-index: 70;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.alert_popup_msg {
	width: 200px;
	height: 50px;
	position: absolute;
	vertical-align: middle;
	overflow: auto;
	margin-top: auto;

}
.alert_popup_header {
	font-family:Verdana, Geneva, sans-serif;
	color:#ffffff;
	font-size:16px;
}

.alert_popup_content {
	font-family:Verdana, Geneva, sans-serif;
	color:#ffffff;
	font-size:14px;
	line-height: 22px;
}

.alert_popup_button_addition {
	font-size:14px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.pages_main_div {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1%;
}

.pages_main_div_80 {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
}

.pages_main_div_90 {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
}

.pages_main_div_50 {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 1%;
}

.pages_main_div_20px {
	width: 83%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 1%;
}

.table_row_link {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:11px;
	text-decoration: none;
}

.table_row_link:hover {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:11px;
	text-decoration: none;
}

.table_row_link:visited {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:11px;
	text-decoration: none;
}

.table_row_11pt_bg_blue {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:11px;
	height: 38px;
	background-color:#f3faff;
}

.table_row_11pt_bg_white {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size: 11px;
	height: 38px;
	background-color:#ffffff;
}

.table_header_font_11pt_white {
	font-family:Verdana, Geneva, sans-serif;
	color:#ffffff;
	font-size:11px;
	font-weight: normal;
	background-color:#093755;
	height: 20px;
}

.table_header_font_11pt_white a {
	font-family:Verdana, Geneva, sans-serif;
	color:#ffffff;
	font-size:11px;
	font-weight: normal;
	background-color:#093755;
	text-decoration: none;
	height: 20px;
}


.width_100_prc {
	width: 100%;
}

.width_99_prc {
	width: 99%;
}

.table_column_align_left {
	text-align: left;
}

.return_div {
	height:24px;
	width:33%;
	margin-left:7px;
	padding-left:2%;
	color:#ffffff;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-width:0px 1px 1px 1px;
	border-style: solid;
	border-color: #06446c;
	border-collapse: collapse;
}

.trade_box_div {
	height: 247px;
	width: 48.5%;
}

.trade_box_left_margin {
	margin: 1% 1% 1% 1%;
}
.trade_box_right_margin {
	margin: 1% 1% 1% 0%;
}

.trade_box_no_bottom_margin {
	margin: 1% 1% 0% 1%;
}

.trade_box_select_market {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight: bold;
}

.trade_return_prc {
	height:12px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:12px;
}

.trade_return_txt {
	height:12px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:12px;
}

.trade_select_expiry_time {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	width:83.3%;
	text-align:center;
}

.trade_level {
	height:18px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	font-weight: bold;
	width: 100%;
}

.font_grey {
	color:#a8a8a8;
}

.trade_waiting4 {
	font-size:11px;
	font-weight:bold;
	color:#0284d6;
	text-decoration:blink;
	margin: 0px;
}

.new_progress_table {
	border: 1px solid #0284d6;
	width: 142px;
	height: 10px;
}

.new_progress_bar {
	background-color: #0284d6;
	font-size: 1px;
	width: 0px;
	height: 8px;
	text-align: right;
}

.new_progress_bar_td {
	background-color: #0284d6;
	width: 111px;
	height: 10px;
}

.new_progress_time_td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	line-height: 10px;
	color: #0284D6;
	background-color: #ffffff;
	height: 10px;
	width: 27px;
	font-weight: bold;
	padding-left: 2px;
}

.select_div {
	background-image: url("../../images/mobile/top_asset_bg.png");
	height: 22px;
	width: 145px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	line-height: 22px;
	-webkit-appearance: none;
}

.asset_select_div {
	background-image: url("../../images/mobile/top_asset_bg.png");
	height: 22px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	line-height: 22px;
	-webkit-appearance: none;
	padding-left: 5px;
/*	width: 98%*/
	width: 145px;
}

.date_select_div {
	background-image: url("../../images/mobile/top_asset_bg.png");
	height: 22px;
	width: 145px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	line-height: 22px;
}

.date_select_div_min {
	background-image: url("../../images/mobile/top_asset_bg_min.png");
	height: 22px;
	width: 99px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	line-height: 22px;
}

.date_select_div_230px {
	background-image: url("../../images/mobile/top_asset_bg_230px.png");
	height: 22px;
	width: 230px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
	line-height: 22px;
}

.asset_select_div_wrapper {
	height: 26px;
	padding-top: 4px;
}

.date_select_div_wrapper {
	height:22px;
	padding-top:2px;
}


.scheduled_select_div {
	background-image: url("../../images/mobile/top_asset_bg.png");
	height: 22px;
	width: 141px;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #093755;
	line-height: 22px;
	-webkit-appearance: none;
}

.slip {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #7d7d7d;
}

.slip_x {
    text-align: right;
	padding-right: 3px;
}

.sliplabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 18px;
	color: #093755;
}

.sliplabel_10px {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 18px;
	color: #093755;
}

.sms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:9pt;
	color:#093755;
}

.slip_level_red {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #ca0004;
}

.slip_level_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #2AA600;
}

.level_green {
	height:18px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	font-weight: bold;
	width: 100%;
	color: #2AA600;
}

.level_red {
	height:18px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	font-weight: bold;
	width: 100%;
	color: #ca0004;
}

.tradePage_box_border {
	border-width: 1px;
	border-color: #a8a8a8;
	border-style: solid;
}

.tradePage_suspend {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color: #a8a8a8;
	text-align: center;
}

.tradePage_DB_background {
	background-color: #093755;
}

.div_clear_float {
	clear:both;
}

.div_overflow {
	overflow: auto;
}
/*
	-------------------------------------------------------
	Paginator styles
	-------------------------------------------------------
*/
.scroller {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 1;
	text-align: center;
	align: center;
}

.paginator { /*pagin styles*/
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	align: center;
	background-color: #093755;
}

.paginator_cols { /*colum number*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	align: center;
	color: #FFFFFF;
	width: 20px;
}

.paginator_cols a { /*pages number links*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
	width: 20px;
}

.paginator_active { /* selected page*/
	color: #f6cd10;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	text-decoration: none;
	width: 20px;
}
/*	------------------------------------------------------- */

.font_size_11 {
	font-size: 11px;
}

.font_size_10 {
	font-size: 10px;
}

.table_SO {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#093755;
	width:100%;
	border-width: 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
	direction:ltr;
	height: 465px;
}

.SO_row {
	border-width: 3px 3px 3px 3px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	background-color:#FFF;
	height: 57px;
}

.paginator_cols_SO { /*colum number*/
	width: 10px;
	height: 10px;
	text-align: center;
	align: center;
	padding: 5px;
}

.paginator_cols_SO a { /*pages number links*/
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	width: 10px;
}

.paginator_active_SO { /* selected page*/
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
	padding: 5px;
	width: 10px;
}

.paginator_SO { /*pagin styles*/
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	align: center;
	padding: 5px;
	width: 10px;
}

.expire_today_title {
	border:1px, #a8a8a8, thin  ;
	background:-webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(220,220,220)),
	    color-stop(0.65, rgb(248,248,248))
	);
	background:-moz-linear-gradient(
	    center bottom,
	    rgb(220,220,220) 0%,
	    rgb(248,248,248) 65%
	);
	width:100%;
	line-height:25px;
	height:25px;
	color:#093755;
	font-size:11px;
	font-weight: normal;
	text-align:center;
}

.expire_today_column_header {
	background:-webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.29, rgb(192,192,192)),
	    color-stop(0.93, rgb(220,220,220))
	);
	background:-moz-linear-gradient(
	    center bottom,
	    rgb(192,192,192) 29%,
	    rgb(220,220,220) 93%
	);
	width:100%;
	height:18px;
	color:#093755;
	font-size:10px;
	text-align:left;
}

.expire_today_column_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color: #093755;
	width: 100%;
	text-align: center;
	background-color: #ffffff;
}

.expire_today_first_column {
	width: 29%;
	float: left;
	clear: both;
	text-align: left;
	padding-left: 1%;
	background-color: #ffffff;
}

.expire_today_column {
	float:left;
	text-align:left;
	background-color: #ffffff;
}

.expire_today_second_row_back {
	background-color: #e9e9e9
}

.expire_today_header_txt {
	height:18px;
	float:left;
	line-height:18px;
}

.expire_today_border_left {
	border-left:1px;
	border-left-color: #a8a8a8;
	border-left-style: solid;
	border-left-width: 1px;
}

.white_line {
	background-color:#FFF;
	height:1px;
	width:100%;
}
.gray_line {
	background-color:#a8a8a8;
	height:1px;
	width:100%;
}

.how_To_Trade_border {
	border:1px;
	border-color: #a8a8a8;
	border-style: solid;
	border-width: 1px;
	background-color: white;
}

.howToTrade_header {
	background:-webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.29, rgb(192,192,192)),
	    color-stop(0.93, rgb(220,220,220))
	);
	background:-moz-linear-gradient(
	    center bottom,
	    rgb(192,192,192) 29%,
	    rgb(220,220,220) 93%
	);
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	font-weight: bold;
	line-height:30px;
	color: #093755;
	text-align: left;
	width: 98.2%;
	line-height:20px;
	padding: 6px 1%;
}

.howToTrade_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	line-height:16px;
	color: #093755;
	text-align: left;
	width: 98%;
	padding-right: 1%;
	padding-left: 1%;
}

/******Banking*************/


.banking_div {
	padding-top: 18px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	line-height:16px;
	border-width:0px 0px 1px 0px;
	border-style: solid;
	border-color: #e1e1e1;
	height:35px;
}

.bankingDepositHeader_div{
	display:inline-block;
	font-family: Verdana, Geneva, sans-serif;
	color:#ffffff;
	text-transform: uppercase;
	font-size: 12px;
	background-color:#093755;
	vertical-align: middle;
	height:20px;
	line-height: 20px;
	width: auto;
	padding-right:10px;
	padding-left: 10px;
	font-weight: bold;
}

.bankingDepositText_div{
	font-family: Verdana, Geneva, sans-serif;
	color:#093755;
	font-size: 12px;
	line-height: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

/**********************************/

.text_uppercase {
	text-transform: uppercase;
}

.assetIndex_text {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	line-height:20px;
	color: #093755;
	text-decoration: none;
}

.assetIndex_group_div {
	overflow: auto;
	clear: both;
}

.assetIndex_colmun_div_1 {
	float:left;
	width:49%;
	text-align:left;
}

.assetIndex_colmun_div_2 {
	float:left;
	width:47%;
	text-align:left;
	padding-left:11px
}

.assetIndex_row_div {
	background-color: #FFFFFF;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	width:100%;
	height:29px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color:#093755;
	text-align:left;
	vertical-align:middle;
	line-height: 29px;
	padding-left: 10px;
}

.assetIndex_row_div1 {
	border-width:0px 1px 1px 0px;
	border-style: solid;
	border-color: #e1e1e1;
	border-collapse: collapse;
}

.assetIndex_row_div2 {
	border-width:0px 0px 1px 0px;
	border-style: solid;
	border-color: #e1e1e1;
	border-collapse: collapse;
}

.assetIndex_info_pages_text {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:12px;
	line-height: 18px;
}

.assetIndex_info_table_border {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
}

.assetIndex_info_table_border_left_down {
	border-width: 0px 0px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
}

.assetIndex_info_table_border_right_down {
	border-width: 0px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
}

.assetIndex_info_table_border_left_up_down {
	border-width: 1px 0px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
}

.assetIndex_info_table_border_left_up_right {
	border-width: 1px 1px 0px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
}

.assetIndex_info_table_border_up_left {
	border-width: 1px 0px 0px 1px;
	padding: 1px 0px 0px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
}

.faq_table {

	border-radius: 1px;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #e1e1e1;
	border-collapse: collapse;
	width: 100%;
	height: 35px;
	line-height: 17px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #093755;
	text-align: left;
	vertical-align: middle;
	clear: both;
	display: table
}

.faq_cell {
	display: table-cell;
	vertical-align: middle;
}

.bonus {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	font-weight: bold;
	color: #0284D6;
}

.bonus_text {
	font-family:Verdana, Geneva, sans-serif;
	color:#093755;
	font-size:12px;
	line-height: 18px;
}

.row_height {
	height: 38px;
	line-height: 38px;
}

.bottom_border_td {
	border-width:0px 0px 1px 0px;
	border-style: solid;
	border-color: #093755;
	border-collapse: collapse;
}

.fields_height {
	height:5px;
}

.falling-box-outline {
    z-index: 50;
    border: 1px solid rgb(7,7,7);
    position:absolute;
    bottom: 22px;
    margin: 0 10px;
    left: 50px;
    -webkit-border-radius:8px;
    -webkit-box-shadow:0 0 10px #333;
}

.falling-box {
    color: #FFF;
    text-align: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(78,78,78)), color-stop(.4,rgb(30,30,30)), color-stop(.4,rgb(13,13,13)), to(rgb(10,10,10)));
    border-top: 1px solid rgb(125,125,125);
    border-left: 1px solid rgb(125,125,125);
    border-right: 1px solid rgb(7,7,7);
    border-bottom: 1px solid rgb(7,7,7);
    z-index: 50;
    line-height: 1em;
    padding: 6px 10px;
    text-align: center;
    width: 177px;
    height: 105px;
    -webkit-border-radius: 8px;
    font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: auto;
}

.instruction_frame {
    font-weight: normal;
    text-align: center;
    padding: 6px 0;
}

.box_arrow_border {
    z-index: 90;
    position: absolute;
    bottom: -11px;
    left: 144px;
    border: 16px solid transparent;
    border-top: 16px solid rgba(140,140,140, 0.5);
}

.box_arrow_arrow_shadow {
    z-index: 40;
    position: absolute;
    bottom: -23px;
    left: 136px;
    border: 24px solid transparent;
    border-top: 24px solid rgba(140,140,140, 0.3);
}

.box_arrow {
    z-index: 100;
    position: absolute;
    bottom: -9px;
    left: 144px;
    border: 16px solid transparent;
    border-top: 16px solid rgb(20,20,20);
}
.app_description {
    margin: 0 auto;
    padding: 17px 0 10px 0;
    width: 300px;
}
.logo_style{
	position: absolute;
	top: 15px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.description{
	position: absolute;
	top: 80px;
	left: 0;
	width: 320px;
}
.icon_style{
	-webkit-border-radius: 10px;
	-webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(white));
}
.app_description_text{
	font-weight: normal;
	padding: 0 6px 6px 6px;
	color: #fFF;
}
.app_description_paragraph{
	margin: 0px 10px;
	color: rgb(70,95,125);
	font: bold 15px Helvetica;
	overflow: hidden;
}
.app_description_border{
	margin: 20px 0px 5px 0px;
	text-align: center;
	width: 100%;
}
.icon_box{
	margin: 0 auto;
	width: 57px;
	height: 57px;
	padding: 0;
}
.instructions_dialog_class{
	position: absolute;
	width: 320px;
	margin: auto;
}
.box_text{
	text-align: center;
	padding: 0px 0px 6px 0;
	font-weight: bold;
	color: #fFF;
}
.tap_text{
	font-size: 12px;
	font-weight: bold
}
.tap_image{
	margin: 0 3px 5px 0;
}
.home_screen_instruction{
	font-size: 12px;
	font-weight: bold;
}
.home_screen_image{
	margin-top: 5px;
}

.logo_div_spacer1 {
	height: 15px;
}

.logo_div_spacer2 {
	height: 27px;
	width: 205px;
}

.install_banner {
	background:url(../../images/mobile/install_bkgnd.jpg);
	background-repeat: no-repeat;
	height:360px;
	width: 100%;
	margin: auto;
}

.install_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	line-height: 17px;
	color: #ffffff;
	margin: auto;
	text-align: left;
	padding-top: 8px;
	width: 285px;
}

.install_header {
	font-size: 17px;
}

.padding_top_10p {

}


.smartphone_page {
	width:320px;
	height:480px;
	/*border:#a8a8a8 solid 1px;*/
	background-color:#ffffff;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:9pt;
	line-height: normal;
	color:#093755;
}
.smartphone_content {
	width:320px;
	text-align:center;
}

.smartphone_text {
	padding-left:30px;
	padding-right:30px;
	text-align:left;
}

.smartphone_lightB {
	color:#0284d6;
	font-family:Arial, Helvetica, sans-serif;
}

.menu_nav_white {
	background-color: #ffffff;
	width:100%;
	height:50px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color:#093755;
	text-align:center;
	vertical-align:middle;
	line-height: 50px;
}

.lang-menu {
   font-family:Verdana, Geneva, sans-serif;
   font-Size: 16px;
   color:#093755;
   font-Weight: bold;
   text-Decoration: none;
   height:32px;
   line-height: 32px
}

/********************** menu strip design *************/
	.leftmenu {
		float: left;
		text-align: center;
		width: 34%;

	}

	.centermenu {
		margin: 0 auto;
		text-align: center;
		float: left;
		width: 33%;
	}

	.rightmenu {
		float: right;
		text-align: center;
		width: 33%;
	}

	.box {
		padding: 0;
		font-family:Verdana, Geneva, sans-serif;
		font-size:11px;
		overflow: hidden;
		height: 26px;
		margin-top: 3px;
		margin-bottom: 1px;
		margin-left: 1px;
		margin-right: 1px;
		width: 90%;
	}

	.leftmenu_loged_in {
		vertical-align:middle;
		line-height:26px;
		width:20%;
	}

	.balanceIframe {
		width: 100%;
		height: 32px;
		background-color: transparent;
	}

/********************** menu strip design end *************/
/********************** new box design begin **************/
.tbox_subtitle {
	color: #093755;
	font-weight: bold;
	font-size: 9pt;
}
.tbox_main {
	width: 100%;
	height: 177px;
	background-color: #EEE;
}

.tbox_main_portrait {
	width: 320px;
	height: 354px;
	background-color: #EEE;
	overflow:hidden;
}
.tbox_menu {
	margin: 0 auto;
	width:100%;
	height: 26px;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #CCC;
	padding: 0;
}
.tbox_menu_left {
	float: left;
	text-align: left;
	width: 34%;
}
.tbox_menu_center {
	margin: 0 auto;
	text-align: left;
	float: left;
	width: 33%;
	padding-left: 4px
}
.tbox_menu_right {
	float: right;
	text-align: center;
	width: 31%;
	margin-right: 3px;
}
.tbox_menu_portrait {
	margin: 0 auto;
	width:100%;
	height: 30px;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #CCC;
	border: none;
	padding: 0;
}
.tbox_selectbar {
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.43, #093857), color-stop(0.89, #035389));
	background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.43, #093857), color-stop(0.89, #035389));
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
}
.tbox_left_sub_menu {
	float: left;
	width: 49%;
	border: none;
	padding:0;
	vertical-align:top;
	height: 24px;

}
.tbox_right_sub_menu {
	float: right;
	width: 49%;
	border: none;
	padding:0;
	vertical-align:top;
	height: 24px;

}
.tbox_box {
	padding: 3px 0 0 0;
	font-size: 9pt;
	font-family: Tahoma, Arial, Geneva, sans-serif;
	overflow: hidden;
}
.tbox_toppane {
	text-align: center;
	width: 100%;
}
.tbox_bottompane {
	text-align: center;
	width: 100%;
}
.tbox_content {
	width:97%;
	border-left: 1px;
	border-right: 1px;
	border-top: 0;
	border-bottom: 0;
	border-color:#CCC;
	border-style: solid;
	height: 195px;
	background-color: #FFF;
	margin-left: 3px;
	margin-right: 3px;
}
.tbox_leftpane {
	float: left;
	text-align: center;
	width: 33%;
}
.tbox_rightpane {
	float: right;
	text-align: center;
	width: 66%;
}
.tbox_contentleft {
	width:100%;
	border-left: 1px;
	border-right: 1px;
	border-top: 0;
	border-bottom: 0;
	border-color:#CCC;
	border-style: solid;
	height: 150px;
	background-color: #FFF;
	margin-left: 1px;
	padding-left: 4px;
}
.tbox_contentright {
	width:97%;
	border-left: 1px;
	border-right: 1px;
	border-top: 0;
	border-bottom: 0;
	border-color:#CCC;
	border-style: solid;
	height: 150px;
	background-color: #FFF;
	margin-left: 5px;
	margin-right: 5px;
/*	position: relative;*/
	top: -8px;
}
.tbox_return {
	background: #EEEEEE;
	font-size: 11pt;
	color: #093755;
	width: 40%;
	margin: 0 auto;
	padding: 4px;
	margin-top: 0;
	clear:both;
	margin-bottom: 5px;
}
.tbox_chart {
	height: 150px;
}
.tbox_content_left {
	float: left;
	text-align: right;
	width: 33%;
	height: 50px;
	padding-top: 10px;
}

.tbox_content_center {
	margin: 0 auto;
	text-align: center;
	float: left;
	vertical-align:middle;
	width: 33%;
	height: 50px;
	padding-top: 10px;
}
.tbox_content_right {
	float: right;
	text-align: left;
	width: 33%;
	margin-right: 3px;
	height: 50px;
	padding-top: 10px;

}
.tbox_content_bottom {
	text-align: center;
	width: 100%;
	vertical-align: middle;
	display: block;
	clear: both;

}
.tbox_slip_portrait_left {
	text-align: left;
	float: left;
	width: 45%;
	padding: 4px;
	padding-left: 15px;
	font-size: 9pt;
}
.tbox_slip_portrait_right {
	width: 45%;
	float: right;
	text-align: left;
	padding: 4px;
	font-size: 9pt;
}
.tbox_slip_portrait_bottom {
	text-align:center;
}
/********************** new box design end ****************/

.new_input {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #093755;
	border: 1px solid #093755;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    border-radius: 0px;
	height: 25px;
}

.new_fields_height {
	height:18px;
}

.combobox_without_style {
	-webkit-appearance: none;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #093755;
	vertical-align: middle;
	line-height: 22px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}