<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="leftSideHeader">
		<ui:include src="/mobile/backToPage.xhtml" >
			<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/pages/withdrawalWire.jsf" />
		</ui:include>
	</ui:define>
	<ui:define name="pageTitleInner">
		<div class="subhead" align="center">
			<h:outputLabel value="#{msgs['header.bank.wire']}" />
		</div>
	</ui:define>
<ui:define name="content">

<t:saveState value="#{wireForm}" />
    <h:form id="wireForm">
        <h:inputHidden value="#{visit.generate}" />
        <h:inputHidden value="#{visit.saveToken}" />
        <div id="mainDiv" class="pages_main_div_80">
	        <div class="left_align width_100_prc" align="left">
	        	<div>
		            <h:outputText escape="false" styleClass="info_messages_normal" value="#{wireForm.bankWireApproveMessage}" />
					<br/>
	   	            <h:outputText styleClass="info_messages" value="#{msgs['bank.wire.approve.question']}"/>
	   	            <br /><br />
					<div class="center_align">
						<t:commandButton label="cancellink" id="cancellink" styleClass="nav_button_blue_90"
								value="#{msgs['button.cancel']}" onclick="return myfaces.oam.submitForm('wireForm','wireForm:hiddencancel');" />
						<h:commandLink action="#{wireForm.notApprove}" id="hiddencancel" style="display:none"/>
						&#160;&#160;&#160;&#160;
						<t:commandButton label="savelink" id="savelink" styleClass="nav_button_blue_90"
								value="#{msgs['button.continue']}" onclick="return myfaces.oam.submitForm('wireForm','wireForm:hiddensave');" />
						<h:commandLink action="#{wireForm.approve}" id="hiddensave" style="display:none"/>
					</div>
				</div>
			</div>
		</div>
	</h:form>
</ui:define>
</ui:composition>

</html>
