<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['personal.jsf.title']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['header.personal']}" />
	</div>
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
	</ui:include>
</ui:define>
<ui:define name="content">
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/customAlert.js"></script>

<script>

	/*
	   Change the phone code by the value of the country
	*/
	function changePhoneCodeByCountry() {
	    var countryId = document.getElementById("personalForm:countriesList").value;
	    if(countryId == 220){
	    	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
	    		document.getElementById('personalForm:statesList').style.display='block';
		    	document.getElementById('personalForm:statesLabel').style.display='block';
		    } else {
			    document.getElementById('personalForm:statesList').style.display='table-row';
		    	document.getElementById('personalForm:statesLabel').style.display='table-row';
		    }
		}else{
	    	document.getElementById("personalForm:statesList").style.display="none";
	    	document.getElementById("personalForm:statesLabel").style.display="none";
	    }

	    var url = "ajax.jsf?countryId=" + countryId;
	    var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
	    ajax.doGet();
	}

	/*
		callBack function for changePhoneCodeByCountry()
	*/
	function changePhoneCodeByCountryCallback(responseXML) {

	   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
   	   var phoneCodeElm = document.getElementById("personalForm:mobilePhoneCode");
	   phoneCodeElm.value = codeValue;
   	   var phoneCodeElmMobile = document.getElementById("personalForm:landPhoneCode");
   	   phoneCodeElmMobile.value = codeValue;

	}

</script>
<h:panelGroup align="#{applicationData.pageAlignment}">
	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<h:form id="personalForm">
    	<!-- Validation Check -->
		<h:panelGroup rendered="#{!registerForm.validatePass}">
    		<div id="mainDiv" align="left" class="pages_main_div">
				<h:outputLabel   styleClass="lable" value="#{msgs['personal.password']}" />
		        <t:inputSecret   styleClass="input" style="width:97%" id="Password" required="true" validator="#{registerForm.validatePass}"/>
		        <t:message id="voucherValueError" for="password2" replaceIdWithLabel="true" styleClass="error_messages" />
				<t:commandButton styleClass="nav_button_blue" id="button"
					value="#{msgs['button.do']}" action="refresh(this)" >
	         	</t:commandButton>
	         	<script>
				 	document.getElementById('personalForm:Password').focus();
				</script>
			</div>
  		</h:panelGroup>
		<!-- Personal Details -->
		<h:panelGroup rendered="#{registerForm.validatePass}">
			<div id="mainDiv" align="left" class="pages_main_div" style="height:855px;">
	        	<h:outputLabel styleClass="lable float_left" style="width:100%;" value="#{msgs['register.username']}"/>
          		<h:outputText  styleClass="pages_text float_left"  style="width:100%;;" value="#{user.userName}"/>
          		<div class="width_100_prc div_clear_float fields_height" >&#160;</div>

	            <h:outputLabel styleClass="lable float_left" style="width:100%;" value="#{msgs['register.firstname']}"/>
           		<h:outputText styleClass="pages_text float_left"  style="width:100%;" value="#{user.firstName}"/>
				<div class="width_100_prc div_clear_float fields_height" >&#160;</div>

	            <h:outputLabel styleClass="lable float_left" style="width:100%;" value="#{msgs['register.lastname']}"/>
	            <h:outputText styleClass="pages_text float_left"  style="width:100%;" value="#{user.lastName}"/>
	            <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

	            <h:outputLabel styleClass="lable float_left" style="width:100%;" for="street" value="#{msgs['register.street']}"/>
                <h:inputText styleClass="input float_left"  style="width:94%;" maxlength="40" id="street" value="#{user.street}" required="true"
		                validator="#{commonUtil.validateStreet}" >
                </h:inputText>
                <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

                <h:outputLabel styleClass="lable float_left" style="width:100%;" for="zipCode" value="#{msgs['register.postcode']}"/>
                <h:inputText align="#{applicationData.pageAlignment}" styleClass="input float_left" maxlength="10"
                 	size="15" id="zipCode" value="#{user.zipCode}" style="width:94%;">
                </h:inputText>
                <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

                <h:outputLabel styleClass="lable float_left" style="width:100%;" for="cityName" value="#{msgs['register.city']}"/>
                <h:inputText maxlength="24" autocomplete="off" styleClass="input float_left"
	                 	 id="cityName" name="cityName" value="#{user.cityName}" required="true" vLabel="register.city"
	              	 validator="#{commonUtil.validateLettersOnly}" style="width:94%;"/>
              	 <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable float_left" style="width:100%;" for="countriesList" value="#{msgs['register.country']}"/>
	            <h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="combobox float_left" style="width:95%;" id="countriesList" value="#{user.countryId}" required="true" onchange="changePhoneCodeByCountry();" >
	               		<f:selectItems value="#{applicationData.countriesList}" />
		        </h:selectOneMenu>
		        <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable float_left" style="width:100%;" for="statesList" value="#{msgs['register.state']}" id="statesLabel"/>
	            <h:selectOneMenu styleClass="combobox float_left" style="width:95%;" id="statesList" value="#{user.state}" required="true">
                	<f:selectItems value="#{applicationData.statesList}" />
		        </h:selectOneMenu>
		        <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

	            <h:outputLabel styleClass="lable float_left" style="width:100%;" value="#{msgs['register.birthdate']}"/>
                <h:outputText  styleClass="pages_text float_left" style="width:100%;;" escape="false" value="#{user.timeBirthDateTxt}"/>
				<div class="width_100_prc div_clear_float fields_height" >&#160;</div>

	            <h:outputLabel styleClass="lable float_left" style="width:100%;" value="#{msgs['register.gender']}"/>
	            <h:outputText  styleClass="pages_text float_left" style="width:100%;;" value="#{msgs[user.genderTxt]}"/>
	            <div class="width_100_prc fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable float_left" style="width:100%;" for="email" value="#{msgs['register.email']}"/>
				<t:outputText styleClass="input float_left"  style="width:94%;" value="#{user.email}"  rendered="#{!user.canEditEmail}"/>
                <h:inputText   styleClass="input float_left"  style="width:94%;" maxlength="50" id="email" rendered="#{user.canEditEmail}" value="#{user.email}" required="true" validator="#{commonUtil.validateEmailFromUnix}">
	                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
                </h:inputText>
                <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

	           	<h:outputLabel styleClass="lable float_left" style="width:100%;" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
				<h:outputLabel styleClass="lable float_left" style="width:5%;" value="+"/>
           	   	<h:inputText   styleClass="input float_left" style="width:20%;" maxlength="3" id="mobilePhoneCode" value="#{registerForm.mobileUserPhoneCode}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}">
	                	<f:validateLongRange/>
	            		<f:validateLength minimum='1' maximum='4'/>
	            </h:inputText>
	            <h:outputText  styleClass="pages_text float_left" style="width:3.7%;;" value="&#160;"/>
           	   	<h:inputText   styleClass="input float_left"  style="width:59%;" maxlength="20" id="mobilePhone" value="#{registerForm.mobilePhone}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}">
            	  		<f:validateLongRange/>
  	                	<f:validateLength minimum='7' maximum='20'/>
            	</h:inputText>
            	<div class="width_100_prc div_clear_float fields_height" >&#160;</div>

            	<h:outputLabel styleClass="lable float_left" style="width:100%;" for="landLinePhone" value="#{msgs['register.phone']}"/>
           		<h:outputLabel styleClass="lable float_left" style="width:5%;" value="+"/>
				<h:inputText   styleClass="input float_left" style="width:20%;" maxlength="4" id="landPhoneCode" value="#{registerForm.landUserPhoneCode}" onkeydown="return phoneKeys(event);">
	                	<f:validateLongRange/>
	                	<f:validateLength minimum='1' maximum='4'/>
	           	</h:inputText>
	           	<h:outputText  styleClass="pages_text float_left" style="width:3.7%;;" value="&#160;"/>
           	   	<h:inputText   styleClass="input float_left"  style="width:59%;"  maxlength="20" id="landLinePhone" value="#{registerForm.landLinePhone}" >
            	  		<f:validateLongRange/>
 	                	<f:validateLength minimum='7' maximum='20'/>
            	</h:inputText>
            	<div class="width_100_prc div_clear_float fields_height" >&#160;</div>

				<h:selectBooleanCheckbox styleClass="float_left" style="clear:both;width:5%;" id="contactByEmail" value="#{registerForm.contactByEmailNot}" required="true" />
	            <h:outputLabel styleClass="lable font_size_10 float_left" style="width:90%;" for="contactByEmail" value="#{msgs['register.contactbyemail.not']}"/>
	            <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

				<h:selectBooleanCheckbox styleClass="float_left" style="width:5%;" id="contactBySms" value="#{registerForm.contactBySmsNot}" required="true" />
	            <h:outputLabel  styleClass="lable font_size_10 float_left" style="width:90%;" for="contactBySms" value="#{msgs['register.contactbysms.not']}"/>
	            <div class="width_100_prc div_clear_float fields_height" >&#160;</div>

				<br/>
				<div class="div_clear_float width_100_prc" align="center" >
					<t:commandButton id="submit" styleClass="nav_button_blue"
						value="#{msgs['button.do']}" action="#{registerForm.updateUserDetails}" >
	         		</t:commandButton>
		         </div>

			 	<script>
					var countryId = document.getElementById("personalForm:countriesList").value;
					if(countryId != 220 ){
				  		document.getElementById("personalForm:statesList").style.display="none";
					  	document.getElementById("personalForm:statesLabel").style.display="none";
				  	}

				  	document.getElementById("personalForm:email").type="email";
					document.getElementById("personalForm:mobilePhone").type="number";
					document.getElementById("personalForm:landLinePhone").type="number";
				</script>
  	 	    </div>
		</h:panelGroup>
    </h:form>
<script>
	displayFirstErrorDiv();
</script>
</h:panelGroup>
</ui:define>
</ui:composition>
</html>

