<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.reversewithdraw']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.reversewithdraw']}
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
	</ui:include>
</ui:define>
<ui:define name="content">
	<t:saveState value="#{reverseWithdrawForm}" />
	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<h:form id="reverseWithdrawForm">
		<h:inputHidden value="#{visit.generate}" />
		<h:inputHidden value="#{visit.saveToken}" />
		<div>
			<h:panelGroup rendered="#{reverseWithdrawForm.afterReverse &amp;&amp; reverseWithdrawForm.listSize==0}">
				<div class="width_100_prc" align="center">
					<t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/>
				</div>
			</h:panelGroup>
		    <h:panelGroup rendered="#{!reverseWithdrawForm.afterReverse || reverseWithdrawForm.listSize>0}">
				<h:panelGroup rendered="#{!reverseWithdrawForm.afterReverse &amp;&amp; reverseWithdrawForm.listSize==0}">
					<div align="center">
			  		    <h:outputText styleClass="pages_text" value="#{msgs['reverseWithdraw.emptylist']}"/>
					</div>
	   			</h:panelGroup>
	   			<div>
					<t:dataTable id="data"
		                styleClass="width_100_prc"
		                headerClass="table_header_font_11pt_white table_column_align_left padd-left5"
		                footerClass=""
						rowClasses="table_row_11pt_bg_white, table_row_11pt_bg_blue"
		                columnClasses="table_column_align_left padd-left5 bottom_border_td,table_column_align_left padd-left5 bottom_border_td,table_column_align_left padd-left5 bottom_border_td,table_column_align_left padd-left5 bottom_border_td"
		                var="v"
		                value="#{reverseWithdrawForm.transactionsList}"
		                preserveDataModel="false"
		                rows="5"
		                renderedIfEmpty="false"
		                cellpadding="0"
		                cellspacing="0"
		                rowOnMouseOver=""
						rowOnMouseOut="">

			           <t:column>
			               <f:facet name="header">
			                   <h:outputText value="#{msgs['reverseWithdraw.select']}"/>
			               </f:facet>
			               <h:selectBooleanCheckbox id="select" value="#{v.selected}" > </h:selectBooleanCheckbox>
			           </t:column>
			           <h:column>
			               <f:facet name="header">
			                   <h:outputText value="#{msgs['transactions.date']}"/>
			               </f:facet>
			               <h:outputText escape="false" value="#{v.timeCreatedTxt}" />
			           </h:column>
			           <t:column>
			               <f:facet name="header">
			                   <h:outputText value="#{msgs['transactions.desc']}"/>
			               </f:facet>
			               <t:outputText  style="text-align:left;" value="#{msgs[v.typeName]}" />
			           </t:column>
			           <h:column>
			               <f:facet name="header">
			                   <h:outputText value="#{msgs['bank.wire.amount']}"/>
			               </f:facet>
			               <h:outputText rendered="#{!v.credit}" value="#{v.amountTxt}" />
			           </h:column>
					</t:dataTable>
				</div>
			</h:panelGroup>

	        <h:panelGrid rendered="#{reverseWithdrawForm.listSize>5}" columns="1" border="0" style="text-align:center; width:98.2%; background-color: #093755;" align="center" >
		        <t:dataScroller id="scroll_1"
		        	for="data"
		        	fastStep="10"
			        pageCountVar="pageCount"
			        pageIndexVar="pageIndex"
			        styleClass=""
			        paginatorActiveColumnClass="paginator_active"
			        paginatorColumnClass="paginator_cols"
			        paginatorTableClass="paginator"
			        paginatorRenderLinkForActive="false"
			        paginator="true"
			        paginatorMaxPages="9"
			        immediate="true"
			        rendered="#{reverseWithdrawForm.listSize>5}"
			        style="align:center; width:98.2%;"
			        >
						<ui:include src="/mobile/templates/scroller_facets.xhtml"/>

		    	</t:dataScroller>
		    </h:panelGrid>

			<br/>
			<div class="width_100_prc" align="center">
	       	    <t:commandButton styleClass="nav_button_blue"  rendered="#{reverseWithdrawForm.listSize>0}"  value="#{msgs['button.do']}"
	       	    	id="btnImage" action="#{reverseWithdrawForm.reverseWithdraw}" />
			</div>
			<br/>
		    <div style="width:100%;" align="center">
				<h:outputText styleClass="pages_text_10" rendered="#{reverseWithdrawForm.listSize!=0}" value="#{msgs['reversewithdraw.message']}"
					escape="false" style="width:100%;" /><br/>
			</div>
		</div>
	</h:form>

	<h:panelGroup rendered="#{reverseWithdrawForm.afterReverse &amp;&amp; reverseWithdrawForm.listSize!=0}">
		<script>
			displayFirstErrorDiv();
		</script>
	</h:panelGroup>
</ui:define>
</ui:composition>

</html>

