<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<ui:composition template="/mobile/templates/template_general.xhtml">
		<ui:define name="windowtitle">
			#{msgs['withdraw.jsf.title']}
		</ui:define>
		<ui:define name="pageTitle">
			#{msgs['header.myaccount']}
		</ui:define>
		<ui:define name="pageTitleInner">
			<div class="subhead" align="center">
				<h:outputLabel value="#{msgs['header.bank.wire']}" />
			</div>
		</ui:define>
		<ui:define name="content">

			<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>

			<div id="mainDiv" align="center" class="pages_main_div">
				<ui:include src="/mobile/pages/withdrawalWireContent.xhtml" />
			</div>

			<script>
				displayFirstErrorDiv();
			</script>

		</ui:define>
	</ui:composition>
</html>


