<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body style="background-image: none ;" dir="rtl">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">ההשקעה הבאה עלינו</span><br/>
            <span class="bonus_text"><strong>TLV trade</strong> .מציעה לך הטבה חד פעמית לאופציה הבאה שתרכוש - השקעה ללא סיכון <br/>
            <br/>
			כל שעליך לעשות הוא לרכוש אופציית call או put על כל נכס בסיס שתבחר,
			לכל מועד פקיעה שהוא. אם האופציה שבחרת פקעה בתוך הכסף – תקבל את
			אחוזי התשואה המובטחים
			.<br/>
			 <br/>
			האופציה פקעה מחוץ לכסף?
			תקבל בחזרה את סכום ההשקעה במלואו!
			אין לך מה להפסיד
			.<br/>
            <br/>
            ההצעה בתוקף עד לתאריך &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.</span><br/>
            <span class="bonus_terms"><strong>ההשקעה הבאה עלינו – תנאים כלליים</strong><br/>
            .ההטבה תינתן על השקעה אחת
            <br/>
            ההשקעה המזכה לקבלת הטבת ההחזר היא ההשקעה שהוגדרה בתנאי המבצע המסוים בו הוצע ללקוח להשתתף, ועליה להתבצע תוך זמן קצוב. מועד ההשקעה ייקבע לפי מועד ביצוע ההשקעה ולא לפי מועד הפקיעה של ההשקעה<br/>
            <br/>
            ההחזר יינתן עם פקיעה מחוץ לכסף של האופציה עליה בוצעה ההשקעה. <br/>
            <br/>
            ההטבה לא חלה על השקעות באופציות מסוג One Touch.<br/>
            <br/>
            אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכת כספים מהחשבון לאחר קבלת ההטבה הוא ביצוע השקעות בגובה פי   #{facesContext.externalContext.requestParameterMap['wageringParam']} מסכום ההטבה.<br/>
            <br/>
            החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרע במבצע כלשהו עלול לגרום לביטול ההטבה ולסגירת חשבון הלקוח באתר החברה<br/>
            <br/>
            יש להשתמש בהטבות בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בהטבה בתוך פרק זמן זה, ההטבה תימשך מחשבון הלקוח<br/>
            <br/>
            <h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
			<br/>
			<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
			</span> </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
