
<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<script type="text/javascript">
	function getUrlLower(){
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
	}

	function openAlert() {
		document.getElementById('emailAlertDiv').style.display='inline';
	}
</script>

<!-- Begin Table -->
<table border="0" cellspacing="0" cellpadding="0" height="30px" width="960px" class="ticker_table">
    <tr height="30px">
	    <td width="20px" valign="top" style="background-color:  #f2f2f2">&#160;</td>
		<td width="140px" valign="middle" align="center" height="30px" style="cursor:pointer;">
			<h1 class="ticker_market">
	       		<a href="#{applicationData.homePageWebUrl}" class="ticker_market">
	       		<h:outputText style="color:#ffffff;" value="#{msgs['ticker.our.options']}"  />
	       		</a>
	       	</h1>
		</td>
		<td width="444px" valign="top" >
			<iframe style="background-color:  #dcdcdc" id="ticker" name="ticker" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/ticker.jsf" width="444px" height="30px" scrolling="no"></iframe>
		</td>
		<td width="146px">&#160;</td>
		<td width="190px" valign="middle"><img onclick="getUrlLower()" style="cursor:pointer" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/customersrvs_26.gif" border="0" width="189px" height="26px"/></td>
		<td width="20px" valign="top" style="background-color:  #f2f2f2">&#160;</td>
	</tr>
</table>
<!-- End Table -->
</f:view>