<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<table  width="720" height="536" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/top.gif" width="720" height="110" ></td>
	</tr>
	<tr>
		<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/left.gif" width="187" height="302" ></td>
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/closed.gif" width="377" height="86"></td>
		<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/right.gif" width="156" height="302" ></td>
	</tr>
	<tr>
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/text.gif" width="377" height="136" >
        	<table>
            	<tr>
               	  <td class="onetouch_tradePage_offhour">
                    TLV trade™ is a binary options trading platform, user friendly and easy to use, which enables you to benefit from markets’ short and medium term volatility. We offer hundreds of Call and Put options simultaneously with immediate execution.<br/>
On weekends we offer One Touch options with up to 380% return.
<br/><br/>
Index Options |&#160;  Stock Options | &#160;Forex Options  | &#160; Commodity Options <br/>
<strong>No commissions - No download - 70% Return</strong></td>
                </tr>
            </table>

        </td>
	</tr>
	<tr valign="top">
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/button.gif" width="377" height="80" ><a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/newbutton.gif" border="0"/></a></td>
	</tr>
	<tr>
		<td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bottom.gif" width="720" height="124" ></td>
  </tr>
</table>
</f:view>