/*all styles here will work for all the skins*/
/*if specific style is required should be put in styles.SKIN ID.css*/

body {
	background: white;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #093755;
}
a {
	color: #0284D8;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #e97f02;
}
img {
	border: none;
	margin: 0;
	padding: 0;
}
form {
	padding: 0;
	margin: 0;
}
textarea {
	overflow: auto;
}
input, textarea, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #093755;
	font-size: 12px;
}
.title, .footer {
	width: 123px;
	margin: 0 auto;
}
h1 {
	padding: 0;
	margin: 0;
	width: 123px;
	font-size: 15px;
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
	text-transform: uppercase;
	text-align: center;
	line-height: 17px;
	padding: 5px 0;
}
h2 {
	padding: 0;
	margin: 0;
	width: 123px;
	font-size: 11px;
	color: #727272;
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 16px;
	padding-top: 5px;
}
/*tradingBox start*/
.trade_menu_h {
	background-position: right 0;
	width: 123px;
	padding: 0;
	height: 19px;
	cursor: pointer;
	color: white;
	text-align: center;
	float: left;
	font-size: 10px;
	line-height: 16px;
	font-weight: normal;
}
.trade_menu_h_in {
	padding-right: 15px;
}
.trade_menu_h_in2 {
}
.trade_menu_h2 {
	width: 128px;
	padding: 0;
	height: 19px;
	color: white;
	float: left;
	text-align: center;
	font-size: 9px;
	line-height: 16px;
	font-weight: normal;
	background-color: #093755;
}
.trade_menu_h_p {
	background-image: url('../images/trade_menu_h.png');
	background-color: #093755;
	background-repeat: no-repeat;
	background-position:108px 0px;
}
.tradeBox_img {
	background:url('../images/trading_area.png') no-repeat;
}
.tradeBox_main {
	width: 123px;
	height: 123px;
	position: relative;
	border: solid 1px #727272;
	margin: 0 auto;
}
.tradeBox_pop_bgr {
	display: none;
}
/*tradingBox left side start */
.tradeBox_left {
	width: 123px;
	text-align:center;
}
.tradeBox_call_btn {
	background-position: 0 -27px;
	display: block;
	width: 95px;
	height: 94px;
	overflow: hidden;
	cursor: pointer;
	margin: 10px 0 0 15px;
	font-family: 'PT Sans', Arial, sans-serif;
	float: left;
}
.tradeBox_call_btn_image {
	background-position: 0 -221px;
	width: 31px;
	height: 20px;
	cursor: pointer;
	display: block;
	margin: 23px auto 0 auto;
}
.tradeBox_call_btn_text {
	font-size: 16px;
	font-weight: bold;
	color: white;
	display: block;
	margin: 5px auto 0 auto;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 3px black;
	letter-spacing: 0.5px;
}
.tradeBox_call_btn:hover {
	background-position: 0 -121px;
}
.tradeBox_call_btn.proc_off {
	background-position: -105px 0;
}
.tradeBox_call_btn.proc_off .tradeBox_call_btn_image {
	background-position: -57px -189px;
}
.tradeBox_call_btn.proc_off .tradeBox_call_btn_text {
	color: #bed8e5;
	text-shadow: 0 0 10px #bed8e5;
}
.tradeBox_call_btn.proc_on .tradeBox_call_btn_image {
	background: url('../images/trading_area_loader_processing.gif') no-repeat;
	width: 32px;
	height: 32px;
	margin-top: 24px;
}
.tradeBox_call_btn.proc_on .tradeBox_call_btn_text {
	display: none;
}
.left {
	zoom:1;
	display:inline-block;
	*display:inline;
	margin-top:5px;
	}
.right {
	zoom:1;
	display:inline-block;
	*display:inline; 
	margin-right: 8px;}
.tradeBox_level {
	font-size: 11px;
	color: #093755;
	font-weight: bold;
	zoom:1;
	display:inline-block;
	*display:inline;
	text-align: left;
	padding: 0;
}
.tradeBox_text {
	font-size: 9px;
	font-weight: normal;
	text-align: right;
	padding: 0;
	color: #7d7d7d;
	zoom:1;
	display:inline-block;
	*display:inline;
	
}
.tradeBox_profit {
	font-size: 12px;
	font-weight: normal;
	display: block;
	text-align: right;
	padding: 6px 0 11px 0;
	color: #7d7d7d;
	float: left;
}
.tradeBox_put_btn {
	background-position: 0 -27px;
	display: block;
	width: 95px;
	height: 94px;
	overflow: hidden;
	cursor: pointer;
	margin: 10px 0 0 30px;
	font-family: 'PT Sans', Arial, sans-serif;
	float: left;
}
.tradeBox_put_btn_image {
	background-position: -32px -221px;
	width: 31px;
	height: 20px;
	cursor: pointer;
	display: block;
	margin: 5px auto 0 auto;
}
.tradeBox_put_btn_text {
	font-size: 16px;
	font-weight: bold;
	color: white;
	display: block;
	margin: 25px auto 0 auto;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 3px black;
	letter-spacing: 0.5px;
}
.tradeBox_put_btn:hover {
	background-position: 0 -121px;
}
/*tradingBox left side end */

/*trends start */
.tradeBox_trends {
	display: block;
	float: right;
	margin-top: 5px;
}
.tradeBox_trends:hover {
	display: block;
}
.tradeBox_trends_graph {
	color: #093755;
	width: 123px;
	font-size: 10px;
	line-height: 16px;
	float: left;
	position:absolute;
	top:34px;
}
.tradeBox_trends_action_call {
	display: block;
	float: left;
	text-align: left;
	color: #0283d6;
	font-size: 12px;
	margin: 4px 0 0 8px;
	cursor: pointer;
}
.tradeBox_trends_action_put {
	display: block;
	float: right;
	text-align: right;
	color: #0283d6;
	font-size: 12px;
	margin: 4px 8px 0 0;
	cursor: pointer;
}
.tradeBox_trends_action_call:hover, .tradeBox_trends_action_put:hover {
	color: #e97f02;
	text-decoration: none;
}
.tradeBox_trends_graph_in {
	border: 2px solid #d9d9d9;
	border-radius: 7px;
	height: 21px;
	position: relative;
	width: 113px;
	margin: 0 auto;
	margin-top: 44px;
}
.tradeing_trends_g {
	background: url('../images/trading_trends_g.png') repeat-x;
}
.tradeBox_trends_graph_call {
	width: 30%;
	height: 100%;
	float: left;
	border-radius: 4px 0 0 4px;
	position: relative;
}
.tradeBox_trends_graph_put {
	background-position: 0 -24px;
	width: 70%;
	height: 100%;
	float: left;
	border-radius: 0 4px 4px 0;
	position: relative;
}
.tradeBox_trends_graph_proc {
	font-size: 11px;
	color: #093755;
	font-weight: bold;
	text-align: center;
	background-position: 0 15px;
	width: 27px;
	padding-bottom: 30px;
	position: absolute;
	top: -27px;
	left: 50%;
	margin-left: -14px;
}
.tradeBox_trends_graph_sep {
	background-position: -30px 0;
	display: block;
	width: 1px;
	height: 21px;
	position: absolute;
	top: 0;
	left: 30%;
	z-index: 2;
}
.tradeBox_trends:hover .tradeBox_trends_graph {
	cursor: default;
}
.tradeBox_close {
	display: block;
	width: 8px;
	height: 8px;
	background-position: -34px 0;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.tradeBox_close:hover {
	background-position: -34px -10px;
}
/*trends end */
/*Assets list*/
.market_select_ul {
	list-style: none;
	border: 1px solid #04618e;
	padding: 0;
	margin: 0;
	max-height: 103px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 123px;
	background: white;
	display: block;
	z-index: 2;
	position: absolute;
	left: -1px;
	top: 19px;
	z-index: 5;
	display: none;
}
.market_select_ul li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}
li.menu_market_groupname {
	color: #3d98d4;
	font-weight: bold;
	line-height: 17px;
	font-size: 12px;
	padding-left: 2px;
}
li.menu_market_subgroupname {
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	color: #093755;
	text-transform: uppercase;
	padding-left: 10px;
}
li.menu_market_element {
	padding-left: 10px;
	color: #04618e;
	font-size: 12px;
	line-height: 17px;
}
li.menu_market_element:hover, li.menu_market_element.active {
	background: #d0e8f8;
	cursor: pointer;
}
/*ens of Assets list*/
/*Exp list*/
.scheduleMenu {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	border: 1px solid #04618e;
	z-index: 2;
	background: white;
	display: none;
	width: 128px;
	right: -1px;
	top: 19px;
}
.scheduleMenu li {
	list-style: none;
	padding: 0 0 0 5px;
	margin: 0;
	display: block;
	color: #04618e;
	font-size: 12px;
	line-height: 17px;
}
.scheduleMenu li:hover {
	background: #d0e8f8;
	cursor: pointer;
}
/*end of Exp list*/
