body {
	direction: rtl;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	background: #ffffff url(../images/bg.png) right top repeat-x;
	color: #566764;
	font-size: 14px;
	width: 100%;
}
* {
	margin: 0px;
	padding: 0px;
}
#page {
	width: 1100px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
img {
	border: none;
}
p {
	margin: 10px 0;
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.left {
	float: left;
}
#bg_container {
	width: 1185px;
	margin: 0 auto;
	postion: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 85px !important;
	left: 20px;
	float: left;
	margin-right: 100px;
}
*+html #mainimg {
	float: right;
	margin-right: 0px !important;
}
#main {
	width: 100%;
	height: auto;
	float: right;
	clear: both;
	background: url(../images/shadow.png) no-repeat 0 430px;
}
#logo {
	width: 950px;
	margin: 21px auto 0;
	text-align: right;
	height: 65px;
}
*+html #logo {
	padding-top: 25px;
}
#title {
	padding: 14px 0 10px;
	margin: 0 auto;
}
h1 {
	font-size: 34px;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 0px;
}
h2 {
	font-size: 24px;
	font-weight: normal;
	margin: 10px 35px 20px 0;
	padding: 0px;
	width: 600px;
	text-align: right;
	float: right;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	padding: 0px;
	width: 600px;
	float: right;
	text-align: right;
}
h4 {
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 20px 0;
	padding: 0px;
}
h5 {
	background: #FFF url(../images/form_title.png) no-repeat right;
	height: 31px;
	width: 415px;
	font-size: 20px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0 0 18px 0;
	padding: 0px;
	color: #d60204;
}
span.red {
	color: #f60103;
}
span.green {
	color: #8ad400;
}
#content {
	width: 975px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
	background: #ffffff url(../images/imgMain_survey.jpg) right 227px no-repeat;
}
#content_top {
	float: right;
	width: 952px;
	color: #fff;
	text-align: right;
	padding: 0 74px 30px;
	background: url(../images/bg_header.png) top right no-repeat;
}
#content_top p {
	display: block;
	width: 660px !important;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	padding-top: 10px;
	margin: 0px;
}
.top_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
	width: 600px;
	margin-top: 10px;
	float: right;
}
.top_list li {
	padding: 0px 0 20px 80px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #006cb2;
}
.top_list li span {
	font-size: 24px;
	font-weight: normal;
	color: #093755;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat right 10px;
	border-bottom: 1px dotted #aaaaaa;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat right top;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat right top;
	padding-top: 3px;
}
.button_tradeBox {
	float: left;
	height: 72px;
	width: 262px;
	margin-top: 5px;
}
.tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	border: none;
	cursor: pointer;
}
.tradeBox_StartButton:hover {
	background-position: right bottom;
	border: none;
}
#content_btm {
	float: right;
	width: 954px;
	text-align: right;
	font-size: 12px;
	line-height: 17px;
	padding: 0 73px 30px;
	margin: 30px 0 0;
}
.bottom_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
	width: 100%;
	margin-top: 10px;
	height: 129px;
}
.bottom_list li {
	padding: 7px 35px 7px 0px;
	background: url(../images/img_bullet.png) no-repeat right 9px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px dotted #dedede;
}
#tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	border: none;
	cursor: pointer;
}
.content_learnBox {
	float: right;
	width: 975px;
	text-align: right;
	padding-left: 20px;
}
#content_learnBox p {
	text-align: justify;
	font-size: 12px;
}
.button_learnBox {
	float: left;
	height: 63px;
	width: 219px;
	margin-top: 165px;
}
.learnBox_StartButton {
	width: 219px;
	height: 63px;
	background-image: url(../images/bttn_StartNow_02_en.png);
	background-repeat: no-repeat;
	background-position: right top;
	float: left;
	border: none;
	cursor: pointer;
}
.learnBox_StartButton:hover {
	background-position: right bottom;
	border: none;
}
#footer {
	text-align: center;
	width: 975px;
	margin: 0 auto;
	font-size: 9px;
	border-top: solid 1px #e5e5e5;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 655px;
	padding: 15px 0 15px 0;
}
#footer .icons .icon_space {
	margin-left: 20px;
	float: right;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
.footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	line-height: 16px;
	position: relative;
	border-top: solid 1px #E5E5E5;
}
#footer .footer_text p {
	padding: 0px;
	margin: 0px;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
/**************form classes******************/
.form_block {
	font-size: 15px;
	width: 954px;
	height: 175px;
	background: #fff url(../images/bg_form.png) repeat-x center top;
	margin: 0 50px 0;
	padding: 20px 23px 0;
	float: right;
}
#contactForm {
	color: #566764;
}
.form_cl {
	float: right;
	width: 163px;
}
.form_cl2 {
	float: right;
	width: 207px;
}
.form_cl3 {
	float: right;
	width: 230px;
}
.form_cl4 {
	float: right;
	width: 960px;
	border-bottom: #eeeeee solid 1px;
	padding-bottom: 25px;
}
form {
	display: block;
	margin-top: 0em;
	margin-right: 2px;
}
.star {
	color: #566764;
	font-weight: normal;
	font-size: 11px;
}
.submin_swf {
	padding-top: 10px;
}
.submit_button {
	margin-right: -4px;
	background: transparent url(../images/ShortForm_button.png) no-repeat center top;
	width: 181px;
	height: 55px;
	cursor:pointer;
	float: right;
}

.submit_button:hover {	
	background-image: url(../images/ShortForm_button_hover.png);
	text-decoration: none;	
	border: none;
}
input {
	background: transparent;
	color: #ffffff;
	text-align: right;
	font-size: 12px;
}
.input1 {
	background: transparent url(../images/bg_input.gif) no-repeat right top;
	border: solid 1px #24282e;
	width: 151px;
	height: 31px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: right;
}
.input1 input {
	border: medium none;
	height: 27px;
	padding: 2px 5px;
	width: 141px;
	margin: 0;
}
.input4 {
	background: transparent url(../images/bg_input.gif) no-repeat right top;
	border: solid 1px #24282e;
	width: 195px;
	height: 31px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: right;
}
.input4 input {
	border: medium none;
	height: 27px;
	padding: 2px 5px;
 margin::0;
	width: 185px;
}
.input2 {
	background: url("../images/bg_input.gif") no-repeat scroll left top transparent;
	border: 1px solid #24282e;
	float: right;
	height: 31px;
	margin-bottom: 8px;
	margin-right: 5px;
	margin-top: 3px;
	overflow: hidden;
	width: 53px;
}
.input2 input {
	border: medium none;
	height: 27px;
	padding: 2px 5px;
	margin: 0;
	width: 43px;
}
.input3 {
	background: transparent url(../images/bg_input.gif) no-repeat right top;
	border: solid 1px #24282e;
	width: 158px;
	height: 31px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	float: right;
}
.input3 input {
	border: medium none;
	height: 27px;
	padding: 2px 5px;
	margin: 0;
	width: 148px;
}
.noborder select {
	background-color: #525963;
	border: medium none;
	color: #7F7F7F;
	height: 25px;
	left: 0px;
	top: 3px;
	position: relative;
	width: 50px;
}
.agree {
	float: right;
	margin-left: 10px;
}
*+html input[type="checkbox"] {
	margin-top: -3px;
}
.agree_text {
	color: #3B6078;
	float: right;
	font-size: 11px;
	width: 300px;
}
.secured {
	color: #3B6078;
	float: right;
	font-size: 11px;
	height: 15px;
	margin-right: 5px;
	padding-left: 0;
	padding-right: 20px;
	background: transparent url(../images/lock.png) no-repeat right top;
}
/**************end of form classes******************/
/************Error message*****************/
#error_box {
	display: none;
	position: absolute;
	z-index: 100;
	top: 30%;
	background-color: #808080;
	background-image:none;
	width: 250px;
	overflow: hidden;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top: 50px;
	height: 50px;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.error_button {
	background: transparent url(../images/form_full_alret_button.png) no-repeat left top;
	width: 80px;
	height: 48px;
	margin: 0 auto;
	cursor: pointer;
	margin: 0 auto;
	margin-bottom: 15px;
}
.error {
	border: solid 1px #D60204;
}
#Overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
/************End of Error message*****************/
