html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0 none;font:inherit;vertical-align:baseline;margin:0;padding:0}
body{line-height:1;background:url(../images/bg.png) repeat-x scroll center top #F1F2F3;color:#FFF;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;height:100%;width:100%;margin:0;padding:0}
ol,ul{list-style:none outside none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}
#page{display:table;height:auto!important;min-height:100%;position:relative;width:974px;margin:8px auto}
.clear{clear:both}
#main{float:left;height:auto;width:100%}
#logo{height:65px;text-align:left;margin:0 2px}
#title{float:left;width:auto;padding:13px 0 35px}
h1{font-size:42px;font-weight:400;margin:0;padding:25px 0 0}
h2{font-size:30px;font-weight:400;padding:5px 0 0}
h3{font-size:24px;font-weight:400;padding-bottom:10px;padding-top:20px;text-align:left;margin:0}
h4{font-size:18px;font-weight:700;margin:0 0 12px;padding:0}
h5{font-size:14px;font-weight:700;margin:25px 0 10px;padding:0}
p{line-height:1.5em}
strong{font-weight:700}
p#dynamicHeader{line-height:1.2em}
#content_top{padding-bottom:18px}
#content_top p{font-size:15px;line-height:1.36em}
#content_btm p{width:400px}
.vertical_form{background:url(../images/form_bg.png) no-repeat scroll center 60px #EBECEC;float:right;height:408px;margin-top:32px;position:relative;width:266px;padding:0}
.vertucal_form_bottom{background:url(../images/form_bg_bottom.png) no-repeat scroll left top transparent;bottom:-85px;height:104px;left:-14px;position:absolute;width:334px}
.vertical_form a,form a:visited,a:hover{color:#049;text-decoration:none}
.vertical_form h4{color:#049;float:none;font-size:18px;font-weight:700;text-align:center;margin:0;padding:10px 0 2px}
.vertical_form p{color:#093755;font-size:13px;padding-bottom:12px;text-align:center}
.form_cl,.form_cl2,.form_cl3{float:left;font-size:12px;font-weight:700;height:40px;width:225px;padding:8px 9px 0}
#container{float:left;padding-top:8px;width:596px}
.bottom_list{list-style-type:none;margin-top:3px;padding-bottom:45px;text-align:left}
.bottom_list li{background:url(../images/img_bullet.png) no-repeat scroll 2px 8px transparent;border-bottom:1px dotted #AAA;font-size:14px;font-weight:400;height:auto;line-height:1.3em;width:420px;padding:6px 0 4px 28px}
.main_img{background:url(../images/main_bg.jpg) no-repeat scroll 10px top transparent;height:604px;left:50%;margin-left:-540px;position:absolute;top:62px;width:1080px;z-index:-1}
.main_swf{height:236px;left:50%;margin-left:-42px;position:absolute;top:260px;width:222px}
#footer{background:url(../images/bg_footer.png) repeat-x scroll left top transparent;font-size:9px;position:relative;text-align:center;width:100%;z-index:99;padding:0}
#footer .icons{height:30px;border:medium none;margin:0 auto;padding:20px 0 15px 316px}
#footer .icons .icon_space{float:left;margin-right:20px}
#footer .links{margin-bottom:15px;margin-top:20px}
#footer .footer_text{color:#757575;font-size:11px;line-height:16px;position:relative;text-align:center;width:730px;margin:0 auto;padding:20px 0}
#footer .footer_link{color:#0284D6;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
#footer .footer_link:hover{color:#093755;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
.icon_space form{padding:0}
#error_box{background-color:#EBECEC;background-image:none;border:1px solid #CCC;display:none;height:180px;overflow:hidden;position:absolute;text-align:center;top:300px;width:250px;z-index:100}
.error_message{color:#093722;font-size:13px;font-weight:700;height:100px;line-height:17px;position:relative}
.error_message label{bottom:20px;left:10px;position:absolute;width:230px}
.error_button{background:url(../images/form_full_alret_button.png) no-repeat scroll center top transparent;cursor:pointer;height:55px;width:77px;margin:0 auto}
#Overlay{background-color:#000;display:none;height:100%;left:0;opacity:0.4;position:fixed;top:0;width:100%;z-index:99;margin:auto}
.bottom_list li.last_li{border:medium none}
.yellow{color:#F6CD10;font-weight:700}
#footer .icons-container{width:975px;margin:0 auto}
#footer .regulated{border-bottom:1px solid #E5E5E5;color:#898989;font-size:14px;height:40px;padding-bottom:10px;padding-top:30px;width:975px;margin:25px auto 0}
.reg-logo{background:url(../../images/regulated-logo.png) no-repeat scroll 0 0 transparent;float:right;height:67px;position:absolute;right:-58px;top:6px;padding:5px 0 0 55px}
.reg-logo p{font-size:15px;padding:8px 60px 0 0}
#footer .regulated img{float:left;margin-left:8px;margin-top:7px}
#footer .regulated p{float:left;padding-top:10px}
#footer .regulated div{width:907px;margin:0 auto}
#DE #footer .regulated div{width:930px}
#ES #footer .regulated div{width:880px}
#FR #footer .regulated div{width:940px}
#IT #footer .regulated div{width:911px}
#RU #footer .regulated div{width:915px}
#TR #footer .regulated div{width:937px}
#ZH #footer .regulated div{width:885px}
#TR #footer .regulated p{font-size:12px;padding-top:11px}
#ES #content_btm p,#DE #content_btm p,#RU #content_btm p,#FR #content_btm p{width:470px}
#DE .vertical_form{background-position:center 78px;height:430px}
#RU .bottom_list,#FR .bottom_list{padding-bottom:20px}
#RU .vertical_form{background-position:center 88px;height:420px}
#RU .vertical_form h4{font-size:20px}
#DE .secured,#DE .agree_text,#IT .secured,#IT .agree_text,#FR .secured,#FR .agree_text{font-size:9px;line-height:12px}
#DE .secured,#IT .secured,#FR .secured{background-position:left 8px;padding-bottom:4px}
#IT form h4{font-size:16px}
#ZH .bottom_list li{width:360px}
#ZH #content_top p{font-size:18px}
#headers_field{margin:14px 0 4px}
.funnel_h1{color:#FFF;font-size:15px;font-weight:400;text-align:left;text-transform:uppercase;margin:0;padding:0}
.funnel_subtitle{color:#FFD400;font-size:11px}
.home_shortReg{margin-left:20px;margin-top:17px;width:250px}
.home_shortReg .funnel_hold{width:212px}
.home_shortReg .funnel_inp{background:none repeat scroll 0 0 #FFF;border:1px solid #B3B3B3;color:#6E8695;display:inline-block;font-size:12px;height:24px;margin-bottom:11px;position:relative;text-transform:uppercase;vertical-align:middle;width:217px;padding:1px 0 0 2px}
.home_shortReg .funnel_inp.active{border:1px solid #D7D6D6;color:#093755;text-transform:none}
.home_shortReg .funnel_inp.error{border:1px solid #E97F02;color:#E97F02;text-transform:none}
.home_shortReg .funnel_inp.correct{border:1px solid #BDCEDA;color:#6E8695;text-transform:none}
.home_shortReg .funnel_inp_phone{margin-left:3px;width:128px}
.home_shortReg .funnel_names_holder,.home_shortReg .funnel_email_holder,.home_shortReg .funnel_phone_holder,.home_shortReg .funnel_password_holder,.home_shortReg .funnel_password_retype_holder{position:relative;z-index:2}
.home_shortReg .funnel_phone_holder_drop{z-index:3}
.home_shortReg .funnel_phone_code{float:left;width:30px}
.home_shortReg .funnel_phone{float:right;width:170px}
.home_shortReg .btn_open_account{background:url(../images/btn_open_account.png) no-repeat scroll 0 0 transparent}
.home_shortReg a.btn_open_account_h{background-position:0 0;display:block;height:50px;left:-4px;overflow:hidden;padding-left:10px;position:relative;text-decoration:none;text-transform:uppercase;width:217px;margin:5px 0}
.home_shortReg .btn_open_account_h .rs{background-position:right -51px;display:block;height:50px;padding-right:10px}
.home_shortReg .btn_open_account_h .cs{background-position:0 -104px;background-repeat:repeat-x;color:#FFF;display:block;font-size:18px;font-weight:700;height:50px;line-height:1px;padding-top:24px;text-align:center;text-shadow:1px 1px 2px #926A01}
.home_shortReg a.btn_open_account_h:hover{background-position:0 -158px}
.home_shortReg a.btn_open_account_h:hover .rs{background-position:right -211px}
.home_shortReg a.btn_open_account_h:hover .cs{background-position:0 -264px}
.home_shortReg .btn_open_account_h.disabled .cs{background:none repeat scroll 0 0 transparent;color:transparent;text-shadow:none}
.home_shortReg a.btn_open_account_h.disabled:hover .cs{background:none repeat scroll 0 0 transparent;color:transparent}
.home_shortReg .error_messages{color:#E97F02}
.home_shortReg .error{border:1px solid #E97F02}
#DE .home_shortReg .funnel_chkbx{margin-top:-5px;margin-bottom:10px;width:223px}
.home_shortReg .funnel_chkbx{display:block;margin-bottom:5px;position:relative}
.home_shortReg .funnel_chkbx_inp{margin-left:0}
.home_shortReg .funnel_terms_h{background:url(../images/reg_elms.png) no-repeat scroll 0 -17px transparent;color:#093755;cursor:pointer;display:inline-block;height:15px;padding-left:20px}
.home_shortReg .funnel_terms_h.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -32px transparent}
.home_shortReg .funnel_terms_h2{color:#093755;display:inline-block;font-size:12px;height:19px;margin:5px 0}
.home_shortReg .funnel_terms_h_in{background:url(../images/reg_elms.png) no-repeat scroll 0 -18px transparent;cursor:pointer;display:inline-block;height:14px;margin-top:-3px;vertical-align:middle;width:20px}
.home_shortReg .funnel_terms_h_in.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -33px transparent}
.home_shortReg .funnel_terms_h2 span{color:#0284D6;cursor:pointer;text-decoration:underline}
.home_shortReg .funnel_drop_h{background:none repeat scroll 0 0 #FFF;border:1px solid #B3B3B3;color:#6E8695;display:inline-block;height:21px;margin-bottom:10px;position:relative;vertical-align:middle;width:74px;z-index:2;padding:4px 3px 0 2px}
.home_shortReg .funnel_drop_selected{background:url(../images/reg_elms.png) no-repeat scroll right 2px transparent;color:#6E8695;cursor:pointer;font-size:12px;height:18px;margin-top:-2px;overflow:hidden}
.home_shortReg .funnel_drop_country{float:left;font-size:12px;margin-top:4px}
.home_shortReg .funnel_drop_countryId{float:right;font-size:12px;text-align:right;margin:4px 20px 0 0}
.home_shortReg .funnel_drop_ul{background:none repeat scroll 0 0 #FFF;border:1px solid #859199;display:none;left:-1px;list-style:none outside none;max-height:300px;overflow-x:hidden;overflow-y:auto;position:absolute;top:26px;margin:0;padding:0}
.home_shortReg .funnel_drop_ul li{color:#093755;cursor:pointer;display:block;white-space:nowrap;padding:1px 2px}
.home_shortReg .funnel_drop_ul li:hover,.home_shortReg .funnel_drop_ul li.active{background:none repeat scroll 0 0 #92ACC0;color:#FFF}
.home_shortReg .funnel_drop_h.active{border:1px solid #D7D6D6;color:#093755!important}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul{border:1px solid #859199;display:block}
.home_shortReg .funnel_names_error_h{position:absolute;right:14px;top:5px;white-space:nowrap;width:11px}
#DE .home_shortReg .funnel_names_error_h_chb{right:-13px}
.home_shortReg .funnel_names_error_h_chb{position:absolute;right:14px;top:7px;white-space:nowrap;width:11px}
.home_shortReg .funnel_error_hide{display:none;height:11px;width:11px}
.home_shortReg .funnel_error_bad{background:url(../images/reg_elms.png) no-repeat scroll 0 -50px transparent;display:inline-block;height:11px;width:11px}
.home_shortReg .funnel_error_good{background:url(../images/reg_elms.png) no-repeat scroll 0 -61px transparent;display:inline-block;height:11px;width:11px}
.home_shortReg .funnel_tooltip_h{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;display:none;position:absolute;right:-194px;top:0;transition:all .5s ease 0;width:170px;padding:5px}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -73px transparent;display:block;height:18px;left:-14px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px}
.home_shortReg .funnel_tooltip_h_left{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;color:#093755;display:none;font-size:10px;left:-167px;line-height:13px;position:absolute;top:0;transition:all .5s ease 0;width:140px;padding:5px}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -94px transparent;display:block;height:18px;left:150px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px}
.home_shortReg .funnel_error_list{color:#FF9700;font-size:12px;line-height:15px;padding-top:5px;width:230px}
.home_shortReg .funnel_inp_first_name{width:78px}
.home_shortReg .funnel_inp_last_name{margin-left:3px;width:127px}
funnel_drop_selected.active{color:#093755!important}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,.home_shortReg .funnel_error_list span{display:block}
#ES #title,#DE #title,#FR #title,#DE .bottom_list{padding-bottom:15px}
.home_shortReg a.btn_open_account_h.disabled,.home_shortReg a.btn_open_account_h.disabled:hover{background:url(../images/loader_qs.gif) no-repeat scroll center center transparent}
.home_shortReg .btn_open_account_h.disabled .rs,.home_shortReg a.btn_open_account_h.disabled:hover .rs{background:none repeat scroll 0 0 transparent}
#ES .home_shortReg .funnel_terms_h2,#DE .home_shortReg .funnel_terms_h2,#TR .home_shortReg .funnel_terms_h2{font-size:11px}
.home_shortReg .funnel_terms,.home_shortReg .funnel_names_error_msg_h{display:none}