body {margin: 0;font-size: 14px;text-align: left;background: url('../images/bg.jpg');}
img{vertical-align:middle;}
*{margin: 0px;padding: 0px;}
img{border:none;}
a{color: #0072c9;}
a:hover {color: #e9800f;text-decoration: underline;}
h1 {line-height: 30px;font-size: 14px;margin: 5px 0 0 0;}
h2 {line-height: 40px;color: #FF0000;font-size: 16px;font-weight: bold;}
h3 {line-height: 40px;}
h4 {line-height: 30px;font-size: 14px;margin: 0px 0 20px 0;}
p {line-height: 24px;word-wrap: break-word;}

.top {height: 85px;background: url('../images/warp_bg.jpg') top center;border-bottom: 5px solid #1a61a2;margin: 0 0 10px 0;padding-top: 15px;}
.top_img{margin: 0 auto;display:block;padding-right:700px;}
.body {width: 1000px;margin: auto;}
.b_top {width: 1000px;height: 18px;background: url('../images/top_bg.png');}
.middle {width: 976px;background: url('../images/middle_bg.png');overflow: hidden;padding: 0 12px;}
.left {width: 675px;float: left;}
.f1 {color: #d00000;font-size: 28px;font-weight: bold;}
.f2 {font-size: 20px;font-weight: bold;}
.tv {height: 50px;line-height: 50px;}
.video {width: 675px;height: 380px;margin: 10px 0;}
.f3 {text-align: right;}
.feet {width: 651px;height: 62px;background: url('../images/feet_bg.png');line-height: 62px;font-size: 24px;color: #093755;margin: 10px 0 0 0;font-weight: bold;padding: 0 10px;text-align: center;}
.right {width: 285px;margin: 0 0 0 12px;float: left;}
.bb {width: 253px;padding: 15px 10px 10px 10px;position:relative;border:1px solid #dcdcdc;background:white;}
.shadow{background:url('../images/shadow.png') no-repeat 0 0;position:absolute;top:0;right:-13px;width:13px;height:374px;}
.shadow_bottom{background:url('../images/shadow_bottom.png') no-repeat 0 0;position:absolute;bottom:-15px;left:0px;width:142px;height:15px;}
.bb p {line-height: 20px;}
.pc {float: left;height: 100px;width: 75px;margin: 0 10px 0 0;}
.red-asterisks {color:red;}
.i {margin: 3px 0;}
.bo {width: 285px;height: 32px;background: url('../images/right_bottom.png') top left no-repeat;}
.b_bottom {width: 1000px;height: 19px;background: url('../images/bottom_bg.png');}
.footer_disclaimer {padding: 10px 0;font-size:10px;color:#767676;text-align:center;}
.feet a{padding-left:50px;}