<div id="tab-content" class="from-inbox-content">
	<h1><span>{{getMsgs('from-inbox')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div class="box from-inbox-screen">
		<div class="box-header"><h2>{{getMsgs('from-inbox')}}</h2></div>
		<form name="_form" novalidate>
			<div class="box-sub-header columns">
				<div class="column-one-third">
					<div class="table">
						<div class="row">
							<label class="cell filter-label">
								{{getMsgs('last-match-date')}}:
							</label>
							
							<div class="cell">
								<label for="fromDate" class="">
									{{getMsgs('from')}}:
								</label>
								<div class="date-holder">
									<input id="fromDate" type="text" class="form-control" datetime-picker="{{fromInboxCtrl.dateManager.format}}" ng-click="fromInboxCtrl.dateManager.openCalendar($event, 'fromDate')" 
										ng-model="fromInboxCtrl.filter.fromDate" is-open="fromInboxCtrl.dateManager.openDates.fromDate" enable-time="false" min-date="fromInboxCtrl.minDate" 
										max-date="fromInboxCtrl.maxDate" datepicker-options="fromInboxCtrl.dateManager.dateOptions" />
									<button type="button" class="btn btn-default" ng-click="fromInboxCtrl.dateManager.openCalendar($event, 'fromDate')"><i class="fa fa-calendar"></i></button>
								</div>
								
								<label for="toDate" class="">
									{{getMsgs('to')}}:
								</label>
								<div class="date-holder">
									<input id="toDate" type="text" class="form-control" datetime-picker="{{fromInboxCtrl.dateManager.format}}" ng-click="fromInboxCtrl.dateManager.openCalendar($event, 'toDate')" 
										ng-model="fromInboxCtrl.filter.toDate" is-open="fromInboxCtrl.dateManager.openDates.toDate" enable-time="false" min-date="fromInboxCtrl.minDate" 
										max-date="fromInboxCtrl.maxDate" datepicker-options="fromInboxCtrl.dateManager.dateOptions" />
									<button type="button" class="btn btn-default" ng-click="fromInboxCtrl.dateManager.openCalendar($event, 'toDate')"><i class="fa fa-calendar"></i></button>
								</div>
							</div>
						</div>
						
						<label>
							<span class="filter-label">{{getMsgs('user-id')}}:</span>
							<span><input ng-model="fromInboxCtrl.filter.userId" type="text" restrict-digits/></span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('username')}}:</span>
							<span><input ng-model="fromInboxCtrl.filter.username" type="text"/></span>
						</label>
					</div>
				</div>
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('users')}}:</span>
							<span><single-select ng-model="fromInboxCtrl.filter.classUsers"></single-select></span>
						</label>
						<label>
							<span class="filter-label">{{getMsgs('skin')}}:</span>
							<span><multiselect model="fromInboxCtrl.filter.skins"></multiselect></span>
						</label>
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span><multiselect model="fromInboxCtrl.filter.countries"></multiselect></span>
						</label>
					</div>
				</div>
				<div class="column-one-third">
					<label class="show-entries">
						<span>{{getMsgs('show-entries')}}:</span>
						<span><single-select ng-model="fromInboxCtrl.filter.resultsPerPage"></single-select></span>
					</label>
					
					<button type="button" class="button blue" ng-click="fromInboxCtrl.getList(_form)">{{getMsgs('search')}}</button>
				</div>
			</div>
		</form>
		<div class="box-body" ng-if="fromInboxCtrl.resultsList && fromInboxCtrl.resultsList.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>
		
		<div class="box-body" ng-if="fromInboxCtrl.resultsList && fromInboxCtrl.resultsList.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('user-id')}}</th>
						<th>{{getMsgs('user-name')}}</th>
						<th>{{getMsgs('first-name')}}</th>
						<th>{{getMsgs('last-name')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('skin')}}</th>
						<th>{{getMsgs('documents-uploaded')}}</th>
						<th>{{getMsgs('last-match-date')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="result in fromInboxCtrl.resultsList">
						<td class="clickable" ng-click="result.visible = !result.visible">{{result.userId}}</td>
						<td>{{result.userName}}</td>
						<td>{{result.firstName}}</td>
						<td>{{result.lastName}}</td>
						<td>{{result.country}}</td>
						<td>{{fromInboxCtrl._u.getMsg(fromInboxCtrl.getSkinName(result.skinId))}}</td>
						<td>{{result.defaultDocumentsCount}}</td>
						<td>{{result.lastMatchDate | date: "HH:mm dd/MM/yyyy"}}</td>
					</tr>
					<tr ng-hide="true"></tr>
					<tr ng-hide="!result.visible" class="additional-info-row" ng-repeat-end>
						<td colspan="100">
							<!--<div ng-if="result.visible" ng-include src="folderPrefix + 'users/files.html'"></div>-->
							<file-wrapper ng-if="result.visible" file-id="result.lastDefaultDocumentId" user-id="result.userId" skin-id="result.skinId" show-previous-next="true" save-callback="fromInboxCtrl.fileSaved(result)"></file-wrapper>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="box-footer" ng-if="fromInboxCtrl.resultsList && fromInboxCtrl.resultsList.length > 0">
			<pagination model="fromInboxCtrl.pagination"></pagination>
		</div>
	</div>
</div>