@charset "utf-8";
/* anyoption general CSS Document */
body {
	margin:0;
	padding:0;
	height:100%;
	font-family:Tahoma, Helvetica, sans-serif;
	background:#f4f4f4 url(../images/bg.png) 0px 205px repeat-x;
	color:#545454;
	width:100%;
	direction: rtl;
}
* {
	color:#545454;
}
#page {
	width:975px;
	margin: 25px auto;
	height:auto !important;
	min-height:100%;
	display: table;
	position: relative;
	background:#fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: solid 3px #566764;
	text-shadow: 2px 2px 4px #000000 !important;
}
img {
	border:none;
}
p {
	margin:10px 0;
}
#main {
	width:100%;
	height:590px;
	text-align:right;
	color:#545454;
	background:transparent url(../images/bg_content_BL.jpg) 585px bottom no-repeat;
}
#title {
	padding: 25px;
	margin: 0;
	float: right;
	width: 905px;
	background:transparent url(../images/bg_content_TR.png) left top no-repeat;
	text-align: right;
}
#demo {
	background:transparent;
	width:820px;
	height:465px;
	position:absolute;
	top:120px;
	left:-8px;
	vertical-align: top;
	text-align: left;
	color:#545454;
}
.flash_item {
	margin-left: -19px;
	margin-left: -17px\9;
	float:left;
	top: -5px;
}
*+html .flash_item {
	margin-left: -20px;
}
 @-moz-document url-prefix() {
 .flash_item {
 margin-left: -17px;
}
}
#formbox {
	height:100px;
	width:980px;
	margin:0 auto;
	background:url(../images/formbk.png) no-repeat bottom;
	position: relative;
	top: 315px;
}
#inputbox {
	float:left;
	text-align:right;
}
#inputbox .title {
	font-size:14px;
	font-weight:bold;
	color:#545454;
	margin-left: 7px;
}
.input1 {
	background:url(../images/inputbox.png) no-repeat 0 0;
	width:171px;
	height:46px;
}
.input1 input {
	margin-top:16px;
	margin-left:13px;
	width: 145px;
	border:none;
	background-color:transparent;
}
.input1s {
	background:url(../images/inputboxs.png) no-repeat 0 0;
	width:66px;
	height:46px;
}
.input1s input {
	margin-top:16px;
	margin-left:13px;
	width: 40px;
	border:none;
	background-color:transparent;
}
.submit_image {
	margin-top: 13px;
}
.agree_line {
	color:#545454;
	font-size:10px;
	text-align:right;
	margin-top: -5px;
	margin-left: 4px;
}
.agree {
	float: right;
	margin: 0 5px 0 10px;
	color:#545454;
}
#Checkbox1 {
	vertical-align: middle;
	color:#545454;
}
#he .agree_text {
	float: left;
	width: 211px;
}
.submin_swf {
	float: right;
	margin-right:53px;
}
#footer {
	text-align:center;
	width:986px;
	margin:40px auto;
	font-size:11px;
}
#footer .icons {
	height:30px;
	margin:20px auto;
	padding-left: 20px;
	width: 637px;
}
#footer .icons .icon_space {
	margin-right:20px;
	float:left;
}
#footer .links {
	margin-top:20px;
	margin-bottom:15px;
}
#footer .footer_text {
	color: #868686;
}
#footer .footer_link {
	color: #0284D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.icon_box {
	height:38px;
	width:860px;
	overflow: hidden;
	margin:15px auto;
}
.icon {
	float:left;
	margin: 3px 24px 0;
}
.callme_bttn {
	margin: 20px 0 0 53px;
	height: 90px;
	width: 228px;
	float: left;
	background: transparent url(../images/img_shadow.png) no-repeat center bottom;
}
*+html .callme_bttn, *+html .tryit_bttn {
	margin-left: 23px;
	background-position: 15px bottom;
	width: 265px;
}
.callme_bttn input[type="button"] {
	height: 54px !important;
	width: 228px !important;
	border: none;
}
.callme_bttn input[type="button"]:hover {
	border: none;
}
.tryit_bttn {
	margin: 65px 0 0 53px;
	height: 54px;
	width: 228px;
	float: left;
}
.tryit_bttn input[type="button"] {
	height: 54px !important;
	width: 228px !important;
	border: none;
}
.tryit_bttn input[type="button"]:hover {
	border: none;
}
#he .tryit_bttn input[type="button"] {
	background:transparent url(../images/bttn_tryit_he.png) no-repeat left top;
}
#he .tryit_bttn input[type="button"]:hover {
	background: transparent url(../images/bttn_tryit_he_over.png) no-repeat left top;
}
#he .callme_bttn input[type="button"] {
	background:transparent url(../images/bttn_callme_he.png) no-repeat left top;
}
#he .callme_bttn input[type="button"]:hover {
	background: transparent url(../images/bttn_callme_he_over.png) no-repeat left top;
}
#he #lightbox {
	display: none;
	font-size:18px;
	position:absolute;
	z-index:100;
	top:200px;
	background:url(../images/lightbox_bk.png) no-repeat;
	width:333px;
	height:280px;
	overflow:hidden;
	color:#fff;
	text-align:center;
}
#he #lightbox .text {
	color:#064e7d;
	width:110px;
	text-align:left;
	margin:0 auto;
	font-size: 13px;
}
#lightbox .text {
	color:#545454;
	width:110px;
	text-align:right;
	margin:0 auto;
	font-size: 13px;
}
#lightbox .number {
	font-weight:bold;
	color:#545454;
	background:url(../images/lb_mark.png) no-repeat;
	width:120px;
	height:27px;
	margin: 0 auto;
	text-align: left;
	padding-left: 10px;
	padding-top: 3px;
}
#lightbox .above {
	color:#628d13;
}
#lightbox .below {
	color:#c50000;
}
#lightbox #amount {
	margin-top:45px;
}
#buy_button {
	background:url(../images/buy_button.png) no-repeat;
	width:139px;
	height:57px;
	cursor:pointer;
	margin:8px auto 0;
}
#lightbox_close {
	background:url(../images/close_button.png) no-repeat;
	width:8px;
	height:8px;
	margin: 0 auto;
	cursor:pointer;
	position: absolute;
	right: 290px;
	top: 39px;
}
#lightform {
	display:none;
	font-size:18px;
	position:absolute;
	z-index:100;
	top:100px;
	background:url(../images/lightform_bk.png) no-repeat;
	width:361px;
	height:505px;
	overflow:hidden;
	color:#545454;
	text-align:center;
}
*+html #he #lightform {
	overflow: visible;
}
*+html #he .agree_text {
	padding-top:3px;
}
#lightform .in_header {
	width:228px;
	margin: 0 auto;
	text-align:right;
	color:#545454;
	font-size:14px;
	font-weight:normal;
	margin-top: 10px;
	margin-bottom: 5px;
}
#lightform .first {
	margin-top:60px;
}
#lightform .input1 {
	background:url(../images/lf_input1.png) no-repeat 0 0;
	width:228px;
	height:28px;
	margin: 0 auto;
}
#lightform .input2 {
	background:url(../images/lf_input2.png) no-repeat 0 0;
	width:67px;
	height:28px;
	margin: 0 auto;
	float:left;
}
#lightform .input2 .noborder {
	width: 64px;
	height: 25px;
	overflow: hidden;
	position: relative;
	margin-top: 4px;
	margin-right: 2px;
}
#lightform .input2 select {
	width: 63px;
	color: #545454;
	left: 4px;
	position: relative;
	top: -1;
	border: none;
	background: #fff;
}
#lightform .input3 {
	background:url(../images/lf_input3.png) no-repeat 0 0;
	width:157px;
	height:27px;
	float: left;
}
*+html input {
	padding-top: 5px;
}
input {
	padding-top: 2px;
	padding-left: 3px;
	font-size: 14px !important;
}
#lightform .input1 input {
	margin-left:0;
	margin-top: 0;
	width: 222px;
	height: 23px;
	border:none;
	background-color:transparent;
}
#lightform .input2 input {
	margin-top:0px;
	margin-left:0px;
	width: 62px;
	height: 23px;
	border:none;
	background-color:transparent;
}
#lightform .input3 input {
	margin-top:0;
	margin-left:0px;
	width: 152px;
	height: 23px;
	border:none;
	background-color:transparent;
	float: right;
}
.in_phone {
	margin: 0 auto;
	width: 228px;
}
#lightform .agree_line {
	margin: 10px 0 10px 65px;
	width: 310px;
	float: right;
}
#lightform .submit_image {
	margin-top:4px;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.5;
	filter: alpha(opacity = 50);
	position:absolute;
	top:0;
	width:100%;
	min-width:1200px;
	z-index:99;
}
.error, #lightform .error {
	background-position: 0px -28px;
}
.tryit_swf {
	margin-top: 70px;
}
.callme_swf {
	margin-top: 20px;
}
.submin_swf {
	margin-left:57px;
}
#he {
	direction: rtl;
}
#he .agree_line {
	text-align: right;
}
#he .agree {
	float: right;
	color: #545454;
	margin-right:68px;
}
#he #lightform .input2 {
	float: left;
}
#he #lightform .input3 {
	float: right;
}
#he .in_header {
	text-align: right;
	color: #545454;
}
#error_message {
	float: left;
	width: 228px;
	height: 24px;
	margin:0 0 15px 65px;
	color: #d41016 !important;
}
#error_message_label {
	color: #d41016 !important;
	font-size: 12px;
	text-align: left;
}
