<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">
<table cellspacing="0" cellpadding="0" border="0" width="970px" >
	<tr height="30px" >
		<td class="news_link_hp" style="padding-left: 25px;" colspan="4" height="30px" valign="middle" background="#{applicationData.imagesPath}/1px30.gif">
	  		<h:outputText value="#{msgs['assetList.header']}" />
	  	</td>
	</tr>
	<tr height="5px"><td colspan="4" height="5px"></td></tr>
	<tr>
		<td class="assetListGroupTxt" style="padding-left: 53px; padding-bottom:2px; padding-top: 2px;">
			<h:outputText value="#{msgs['markets.groups.stocks']}" />
		</td>
		<td class="assetListGroupTxt" style="padding-left: 27px; padding-bottom:2px; padding-top: 2px;">
			<h:outputText value="#{msgs['markets.groups.indices']}" />
		</td>
		<td class="assetListGroupTxt" style="padding-left: 15px; padding-bottom:2px; padding-top: 2px;">
			<h:outputText value="#{msgs['markets.groups.currency']}" />
		</td>
		<td class="assetListGroupTxt" style="padding-left: 15px; padding-bottom:2px; padding-top: 2px;">
			<h:outputText value="#{msgs['markets.groups.commodities']}" />
		</td>
	</tr>
	<tr height="3px"><td colspan="4" height="3px"></td></tr>
	<tr>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="35px" align="right" rowspan="9"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10px" /></td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(566, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Akbank.Turk.Anonim.Sirketi']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(553, 1, 3, true)">
						<h:outputText value="#{msgs['markets.GAZPROM']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(433, 1, 3, true)">
						<h:outputText value="#{msgs['markets.RBS.L']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(537, 1, 3, true)">
						<h:outputText value="#{msgs['markets.ALLIANZ']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(548, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Assicurazioni.Generali']}" />
					</td>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(580, 1, 3, true)">
						<h:outputText value="#{msgs['markets.TATA.MOTOR']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(576, 1, 3, true)">
						<h:outputText value="#{msgs['markets.ANZ.BANK']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(304, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Intel.Corporation']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(299, 1, 3, true)">
						<h:outputText value="#{msgs['markets.TELEFONICA']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(129, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Apple']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(304, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Turkiye.Is.Bankasi']}" />
					</td>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(578, 1, 3, true)">
						<h:outputText value="#{msgs['markets.TOYOTA.MOTOR']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(251, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Barclays']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(309, 1, 3, true)">
						<h:outputText value="#{msgs['markets.JPMorgan.Chase.&amp;.Co']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(575, 1, 3, true)">
						<h:outputText value="#{msgs['markets.BHP.Billiton.Limited']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(499, 1, 3, true)">
						<h:outputText value="#{msgs['markets.MCDONALDS']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(302, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Turkcell.Iletisim.Hizmet']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(415, 1, 3, true)">
						<h:outputText value="#{msgs['markets.BP.L']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(130, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Microsoft']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(133, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Vodafone']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(394, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Deutsche.Bank']}" />
					</td>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(577, 1, 3, true)">
						<h:outputText value="#{msgs['markets.MITSUBISHI.CORP']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(564, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Wal.Mart.USA']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(565, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Exxon.Mobil']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(229, 1, 3, true)">
						<h:outputText value="#{msgs['markets.MorganStanley']}" />
					</td>
					<td colspan="2"></td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="10px" align="right" rowspan="9"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10px" /></td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(207, 1, 3, true)">
						<h:outputText value="#{msgs['markets.sensex']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(292, 1, 3, true)">
						<h:outputText value="#{msgs['markets.IBEX35']}" />
					</td>

					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(574, 1, 3, true)">
						<h:outputText value="#{msgs['markets.SP.ASX200']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(10, 1, 3, true)">
						<h:outputText value="#{msgs['markets.cac']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(295, 1, 3, true)">
						<h:outputText value="#{msgs['markets.IPC']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(6, 1, 3, true)">
						<h:outputText value="#{msgs['markets.sp500']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(8, 1, 3, true)">
						<h:outputText value="#{msgs['markets.dax']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(477, 1, 3, true)">
						<h:outputText value="#{msgs['markets.klse.future']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(542, 1, 3, true)">
						<h:outputText value="#{msgs['markets.S&amp;P.FUTURE']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(541, 1, 3, true)">
						<h:outputText value="#{msgs['markets.DAX.FUTURE']}" />
					</td>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(573, 1, 3, true)">
						<h:outputText value="#{msgs['markets.KOSPI']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(294, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Shanghai']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(5, 1, 3, true)">
						<h:outputText value="#{msgs['markets.dow']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(390, 1, 3, true)">
						<h:outputText value="#{msgs['markets.MDAX']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(371, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Dubai']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(7, 1, 3, true)">
						<h:outputText value="#{msgs['markets.nasdaq']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(391, 1, 3, true)">
						<h:outputText value="#{msgs['markets.TECDAX']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(4, 1, 3, true)">
						<h:outputText value="#{msgs['markets.ftse']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(136, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Nasdaq100Future']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(248, 1, 3, true)">
						<h:outputText value="#{msgs['markets.TadawulFF']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(549, 1, 3, true)">
						<h:outputText value="#{msgs['markets.FTSE.MIB']}" />
					</td>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(9, 1, 3, true)">
						<h:outputText value="#{msgs['markets.nikkei']}" />
					</td>
					<td width="18px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_asset.gif"/></td>
					<td class="assetListTxt" onclick="tickerClick(579, 1, 3, true)">
						<h:outputText value="#{msgs['markets.TOPIX500']}" />
					</td>
				</tr>
				<tr>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(11, 1, 3, true)">
						<h:outputText value="#{msgs['markets.hangseng']}" />
					</td>
					<td width="18px"></td>
					<td class="assetListTxt" onclick="tickerClick(550, 1, 3, true)">
						<h:outputText value="#{msgs['markets.PSI20']}" />
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="10px" align="left" rowspan="9"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10px" /></td>
					<td width="6px" rowspan="9"></td>
					<td class="assetListTxt" onclick="tickerClick(289, 1, 3, true)">
						<h:outputText value="#{msgs['markets.AUD-USD']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(291, 1, 3, true)">
						<h:outputText value="#{msgs['markets.EUR-GBP']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(287, 1, 3, true)">
						<h:outputText value="#{msgs['markets.EUR-JPY']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(16, 1, 3, true)">
						<h:outputText value="#{msgs['markets.usd.eur']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(14, 1, 3, true)">
						<h:outputText value="#{msgs['markets.usd.gbp']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(351, 1, 3, true)">
						<h:outputText value="#{msgs['markets.GBP-JPY']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(290, 1, 3, true)">
						<h:outputText value="#{msgs['markets.NZD-USD']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(352, 1, 3, true)">
						<h:outputText value="#{msgs['markets.USD-CHF']}" />
					</td>
				</tr>
				<tr valign="top">
					<td class="assetListTxt" onclick="tickerClick(18, 1, 3, true)">
						<h:outputText value="#{msgs['markets.usd.jpy']}" />
					</td>
				</tr>
			</table>
		</td>
		<td valign="top">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td width="10px" align="right" rowspan="9"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10px" /></td>
					<td width="6px" rowspan="9"></td>
					<td class="assetListTxt" onclick="tickerClick(20, 1, 3, true)">
						<h:outputText value="#{msgs['markets.gold']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(138, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Copper']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(21, 1, 3, true)">
						<h:outputText value="#{msgs['markets.barreloil']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt" onclick="tickerClick(137, 1, 3, true)">
						<h:outputText value="#{msgs['markets.Silver']}" />
					</td>
				</tr>
				<tr>
					<td class="assetListTxt">&#160;</td>
				</tr>
				<tr>
					<td class="assetListTxt">&#160;</td>
				</tr>
				<tr>
					<td class="assetListTxt">&#160;</td>
				</tr>
				<tr>
					<td class="assetListTxt">&#160;</td>
				</tr>
				<tr>
					<td class="assetListTxt">&#160;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="970px">
	<tr height="10px">
		<td colspan="3">&#160;</td>
	</tr>
	<tr>
		<td width="40px" height="5px">&#160;</td>
		<td><h:outputText class="footer_text" value="#{msgs['assetList.description']}" /></td>
		<td width="24px" height="5px">&#160;</td>
	</tr>
	<tr ><td colspan="3">&#160;</td></tr>
</table>
</f:view>