﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<style type="text/css">
.bonus_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
color: #093755;
}
.bonus {
	font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
font-weight: bold;
color: #0284D6;
}
.bonus_terms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 16px;
color: #093755;
}
</style>

</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td height="505" width="150">
    	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
         <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">ÖZEL BONUS</span><br /><br />
            <span class="bonus_text">&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> değerinde özel bonus almaya hak kazandığınızı bildirmekten memnuniyet duyarız.<br />
            <br />
            Hesabınıza&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumDeposits']}"/> tutarında para yatırdığınızda ve&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/> yatırım toplamına ulastığınızda, bonus miktarı anında hesabınıza yatırılacaktır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünecektir.<br />
            <br />
            Teklif&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.</span><br />
            <br />
            <span class="bonus_terms"><strong>Bonuslar - Genel Şartlar</strong><br />
            Bonus müşterinin katılımının istendiği teklif şartlarına uyulmasına bağlı olarak müşteri hesabına yatırılacaktır, örn. belirli bir süreçte minimum para yatırma ve/veya minimum sayıda opsiyon alma.<br />
            <br />
            Şirket, müşterilerini tekliflerde yer alması, ancak teklifleri suistimal etmekten kaçınması yönünde teşvik etmektedir. Tekliflerden herhangi birinin suistimal edilmesi halinde, bonus iptal edilir ve müşterinin Şirket web sitesindeki hesabı kapatılır.<br />
            <br />
            Bonuslar belirli teklif ayrıntılarında belirtilen süre dahilinde kullanılmalıdır. Bonusun bu süre zarfında kullanılmaması halinde, iptal edilecektir.<br />
            <br />
            Bonuslar/kazançlar, bonus tutarını teslim almanın ön koşulu olarak; müşterinin 3 (üç) ay içinde belli bir yatırım toplamına ulaşması gerekmektedir. Eğer bu süre zarfında yatırımlarının toplamına ulaşamaz ise müşteri bonus tutarını teslim alamıyacaktır.<br />
            <br />
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
            </span> </td>
        </tr>
      </table></td>

        </tr>
      </table></td>
  </tr>
</table>

<script type="text/javascript"><!--

	function getScrolling()
	{
		var x = 0; var y = 0;if (self.pageXOffset || self.pageYOffset)
		{
			x = self.pageXOffset;
			y = self.pageYOffset;
		}
		 else if ((document.documentElement && document.documentElement.scrollLeft)||(document.documentElement && document.documentElement.scrollTop))
		{
			x = document.documentElement.scrollLeft;
			y = document.documentElement.scrollTop;
		}
		 else if (document.body) 
		{
			x = document.body.scrollLeft;
			y = document.body.scrollTop;
		}
		return x + "," + y;
	}
	
//--></script>
</f:view>
</body>
</html>