<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_exp.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">ÖZEL BONUS</span><br/>

          <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==false}">

			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >

	    			<span class="bonus_text">
	    				Bir sonraki yatırdığınız miktarın %#{facesContext.externalContext.requestParameterMap['bonusPercent']} oranı kadar özel bonus almaya hak kazandığınızı bildirmekten memnuniyet duyarız.<br/>
	    				<br/>
   						#{facesContext.externalContext.requestParameterMap['minDeposit']} veya daha fazla para yatırdığınızda, bonus anında hesabınıza yatırılacaktır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünecektir.<br/>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
		    				En yüksek Bonus: #{facesContext.externalContext.requestParameterMap['bonusAmount']}.
	    					<br/>
						</h:panelGroup>
						<br/>
						Teklif&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.<br/>
						<br/>
						Aşağıdaki Genel Şartlarda belirtildiği gibi, bonus alımından sonra hesabınızdan para çekme işlemlerine kısıtlama uygulanacağını unutmayın.<br/>
						<br/>
	    			</span>
	    		</h:panelGroup>
	    		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    			<span class="bonus_text">
	    			    <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> değerinde özel bonus kazandınız. Bonus hesabınıza yatırılmıştır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünmektedir.<br/>
	    				<br/>
	    				Bonus&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar kullanılabilir.<br/>
	    				<br/>
	    				Aşağıdaki Genel Şartlarda belirtildiği gibi, bonus alımından sonra hesabınızdan para çekme işlemlerine kısıtlama uygulanacağını unutmayın.<br/>
	    				<br/>
	    			</span>
	    		</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

    					<span class="bonus_text">
    						Yatırdığınız #{facesContext.externalContext.requestParameterMap['bonusPercent']} miktarının %#{facesContext.externalContext.requestParameterMap['numOfActions']} oranı kadar özel bonus almaya hak kazandığınızı bildirmekten memnuniyet duyarız.<br/>
    						<br/>
    						&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['numOfActions']}"/> veya daha fazla para yatırdığınızda, bonus anında hesabınıza yatırılacaktır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünecektir.<br/>
    						<br/>
    						Teklif&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.<br/>
    						<br/>
    						Aşağıdaki Genel Şartlarda belirtildiği gibi, bonus alımından sonra hesabınızdan para çekme işlemlerine kısıtlama uygulanacağını unutmayın.<br/>
    						<br/>
    					</span>
    			</h:panelGroup>
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
					<span class="bonus_text">
						<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> değerinde özel bonus kazandınız. Bonus hesabınıza yatırılmıştır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünmektedir.<br/>
						<br/>
						Bonus&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar kullanılabilir.<br/>
						<br/>
						Aşağıdaki Genel Şartlarda belirtildiği gibi, bonus alımından sonra hesabınızdan para çekme işlemlerine kısıtlama uygulanacağını unutmayın.<br/>
						<br/>
					</span>
				</h:panelGroup>
			</h:panelGroup>
          </c:if>

		  <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==true}">
		  	<script>
				var bonusSteps="#{facesContext.externalContext.requestParameterMap['bonusSteps']}";
				var bonusStepsArray = bonusSteps.split(",");
			</script>

			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

    			<span class="bonus_text">
	 				Bir sonraki para yatırma işleminizde özel bonus almaya hak kazanacağınızı bildirmekten memnuniyet duyarız. Bonus miktarı, yatırdığınız paranın boyutuna bağlı olacaktır. Yatırdığınız para ne kadar fazla olursa, bonus oranı o kadar yükselecektir.<br/>
	 				<br/>
 				</span>

 				<span class="bonus_text">
 					<f:verbatim>
					    <script>
					    	for(var i=0;i&lt;bonusStepsArray.length;i++)
					    	{
					    		var bonusPercent = parseFloat(bonusStepsArray[i].split("#")[0])*100+'%';
					    		var minAmount    = parseInt(bonusStepsArray[i].split("#")[1])/100  + ".00" + "#{facesContext.externalContext.requestParameterMap['symbol']}";
					    		var maxAmount    = parseInt(bonusStepsArray[i].split("#")[2])/100 + ".00" + "#{facesContext.externalContext.requestParameterMap['symbol']}";
					    		document.write(minAmount+' ile '+maxAmount+' (Seviye ' + (i+1) + ') arasında yatırdığınız para miktarına '+bonusPercent+' değerinde bonus eklenecektir.');
					    		document.write('<br/>');
					    	}
					    </script>
					</f:verbatim>
				</span>
				<span class="bonus_text">
					Hesabınıza&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/> veya daha fazla para yatırdığınızda, bonus anında hesabınıza yatırılacaktır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünecektir.<br/>
					<br/>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
	    				En yüksek Bonus: #{facesContext.externalContext.requestParameterMap['bonusAmount']}.
    					<br/><br/>
					</h:panelGroup>
					Teklif&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.<br/>
					<br/>
					Aşağıdaki Genel Şartlarda belirtildiği gibi, bonus alımından sonra hesabınızdan para çekme işlemlerine kısıtlama uygulanacağını unutmayın.<br/>
					<br/>
				</span>

 			</h:panelGroup>

			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
				<span class="bonus_text">
					<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> değerinde özel bonus kazandınız. Bonus hesabınıza yatırılmıştır ve "anyoption™ bonusu” seçeneğinin altında, “Hesabım” > “Bankacılık Geçmişi” seçeneğinde görünmektedir.<br/>
					<br/>
					Bonus&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar kullanılabilir.<br/>
					<br/>
					Aşağıdaki Genel Şartlarda belirtildiği gibi, bonus alımından sonra hesabınızdan para çekme işlemlerine kısıtlama uygulanacağını unutmayın.<br/>
					<br/>
				</span>
			</h:panelGroup>
		  </c:if>

          <span class="bonus_terms"><strong>Bonuslar - Genel Şartlar</strong><br/>
            Bonus müşterinin katılımının istendiği teklif şartlarına uyulmasına bağlı olarak müşteri hesabına yatırılacaktır, örn. belirli bir süreçte minimum para yatırma ve/veya minimum sayıda opsiyon alma.<br/>
            <br/>
            <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==false}">
				Teklifin şartlarında farklı biçimde belirtilmediği sürece, kazancı elde ettikten sonra hesabınızdan para çekebilmeniz için, depozito miktarının &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam'] * facesContext.externalContext.requestParameterMap['bonusPercent'] / 100}"/> katı yatırım yapmanız gerekmektedir.<br/>
            </c:if>
            <c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==true}">
            	Teklifin şartlarında farklı biçimde belirtilmediği sürece, kazancı elde ettikten sonra hesabınızdan para çekebilmeniz için:<br/>
        	 	<f:verbatim>
				    <script>
				    	for(var i=0;i&lt;bonusStepsArray.length;i++)
				    	{
				    		var bonusPercent = parseFloat(bonusStepsArray[i].split("#")[0]);
				    		var wageringP = #{facesContext.externalContext.requestParameterMap['wageringParam']};
				    		document.write('Seviye ' + (i+1) + ': depozito miktarının '+ (wageringP * bonusPercent) +' katı yatırım yapmanız gerekmektedir.');
				    		document.write('<br/>');
				    	}
				    </script>
				</f:verbatim>
         	</c:if>
            <br/>
            Şirket, müşterilerini tekliflerde yer alması, ancak teklifleri suistimal etmekten kaçınması yönünde teşvik etmektedir. Tekliflerden herhangi birinin suistimal edilmesi halinde, bonus iptal edilir ve müşterinin Şirket web sitesindeki hesabı kapatılır.<br/>
            <br/>
            Bonuslar belirli teklif ayrıntılarında belirtilen süre dahilinde kullanılmalıdır. Bonusun bu süre zarfında kullanılmaması halinde, bonus müşterinin hesabından çekilecektir.<br/>
            <br/>
            Bonuslar/kazançlar, para çekmenin ön koşulu olarak müşterinin yatırımlarının toplamı ile 3 (üç) ay içinde işlem yapması gerekmektedir. Eğer bu süre zarfında yatırımlarının toplamına ulaşamaz ise şirket, bonusları/kazançları müşterinin hesabından takdir yetkisiyle çekecektir.<br/>
            <br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
          </span>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
