<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>PARA KAZANMADA YÖNTEMLERİNDE SON NOKTA</title>
	<style type="text/css">
		body {
			font-family:Verdana, Geneva, sans-serif;
			color:#FFF;
		}
		.make {
			font-size:18px;
		}
		.binary {
			font-size:12px;
			line-height:16px;
		}
		.green {
			color:#7aaf67;
			font-size:12px;
			padding-left:10px;
		}
		.points {
			font-size:11px;
		}
		.footer {
			font-family:Verdana, Geneva, sans-serif;
			font-size:10px;
			color:#093755;
			padding:20px;
		}
		.header {
			background:url(http://picbase.anyoption.com/images/landing/idea_header.jpg);
			background-repeat:no-repeat;
			width:800px;
			height:96px;
			color:#ffffff;
			font-family:Verdana, Geneva, sans-serif;
			font-size:11px;
			line-height:18px;
			text-align:right;
		}
		.left {
			background:url(http://picbase.anyoption.com/images/landing/idea_left.jpg);
			background-repeat:no-repeat;
			white-space:281px;
			height:507px;
			background-position:left;
		}
		.body_bkgnd {
			background:url(http://picbase.anyoption.com/images/landing/body.jpg);
			background-repeat:no-repeat;
			background-position:right;
		}
	</style>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<f:view locale="#{applicationData.userLocale}">
<br/>
<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr valign="bottom">
    <td colspan="2" class="header" width="800" height="96" >
    	<table width="700" align="right" cellpadding="0" cellspacing="0" class="header">
        	<tr valign="middle">
            	 <td width="754" height="50" align="right">Endeks Opsiyonları&#160;|&#160;Hisse Senedi Opsiyonları<br/>&#160;Forex Opsiyonları&#160;|&#160;Emtia Opsiyonları</td>
                <td width="44">&#160;</td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td rowspan="2" class="left" width="281" height="507" ></td>
    <td width="519" height="138"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"><img src="http://picbase.anyoption.com/images/landing/idea_headline_tr.jpg" width="519" height="138" border="0" /></a></td>
  </tr>
  <tr valign="top">
    <td width="519" height="369" class="body_bkgnd"><table width="510" cellpadding="0" cellspacing="0" align="right" >
        <tr>
          <td class="make">Platformumuza yatırım yapıp %70’lik kâr elde edin</td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr>
          <td class="binary"><strong>İkili opsiyonlar (binary options), finans piyasalarından kâr elde etmenin<br/>
			yeni ve heyecan verici yöntemidir – üstelik bu yöntem ticari deneyim gerektirmemektedir. </strong></td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr><td><span class="green">»</span> <span class="points">Piyasalar yükselip düştüğünde kâr elde edin</span><br/>
            <span class="green">»</span> <span class="points">Küçük dalgalanmalardan %65-71’e kadar kâr elde edin</span><br/>
            <span class="green">»</span> <span class="points">Seçebileceğiniz 60 adetten fazla aktif mevcut</span><br/>
            <span class="green">»</span> <span class="points">Komisyon yok, ücret yok</span><br/>
            <span class="green">»</span> <span class="points">Sade, kolay, kârlı</span></td>
        </tr>
        <tr>
          <td>&#160;</td>
        </tr>
        <tr>
          <td class="binary">Yapmanız gerek tek şey, bir aktif ve bir zaman dilimi seçmek ve sonrasında o aktifin değerinin yükselip düşeceğine karar vermek. Karar sizin. Yöntem basit.</td>
        </tr>
        <tr>
          <td align="center"></td>
        </tr>
        <tr valign="bottom">
          <td height="80" align="center"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"><img src="http://picbase.anyoption.com/images/landing/opennow_tr.gif" width="260" height="59" border="0" /></a></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td colspan="2" width="800" height="10" class="footer" bgcolor="#e1e1e1" >anyoption™ sektörde önemli bir ikili opsiyon alım-satım platformudur.Endeksler, para birimleri, hisse senetleri ve emtialardan oluşan 60'tan fazla tercihli aktif üzerinden ikili opsiyon satın alma imkanı sunmaktadır.</td>
  </tr>
</table>
</f:view>
</body>
</f:view>