<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:include src="/jsp/70_generic_full_content.xhtml">
	<ui:param name="type" value="girl" />
	<ui:param name="google" value="" />
</ui:include>

</f:view>