<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title>anyoption™</title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content=""/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landingContactus#{page}.css" />
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/swfobject.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
    <script type="text/javascript">
	    swfobject.registerObject("myId", "9.0.0", "swf/expressInstall.swf");
    </script>
    <script type="text/javascript">
    <!--
		function flashSubmit(){
			return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');
		}
    -->
	</script>

	<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
		<script>
		    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
		    var ajax = new AJAXInteraction(url, offsetCallback);
		    ajax.doGet();
			/*
			  Reload ticker after setting utcOffset in Session
			  This is done because ticker page up before the Ajax call(return to server side)
			*/
			function offsetCallback(responseXML) {
			   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
			}
		</script>
	</h:panelGroup>

</head>

<body dir="">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script>
<!--

	//	phone code keyDown
	//  allow tab key
	function phoneKeys(e) {

		var keynum;

		if(window.event) { // IE
		  keynum = e.keyCode;
  		}
  		else if(e.which) {  // Netscape/Firefox/Opera
		  keynum = e.which;
	    }

		if (keynum != 9) {  // tab key
			return false;
	  	}
	}

	/*
		insert into register attempts AJAX call
	*/
	function insertUpdateRegisterAttempts() {
		var email = document.getElementById("contactForm:email");
		var firstName = document.getElementById("contactForm:firstName");
		var lastName = document.getElementById("contactForm:lastName");
		var countryId = document.getElementById("contactForm:countriesList");
		var landLinePhone = document.getElementById("contactForm:landLinePhone");
		var mobilePhone = document.getElementById("contactForm:mobilePhone");
		if (email.value.length > 0 || landLinePhone.value.length > 6 || mobilePhone.value.length > 6 ){
	    	var url = "ajax.jsf?emailRegisterAttempts=" + encodeURIComponent(email.value) + "&amp;firstNameRegisterAttempts="
	    			+ encodeURIComponent(firstName.value) + "&amp;lastNameRegisterAttempts=" + encodeURIComponent(lastName.value)
	    			+ "&amp;countryRegisterAttempts=" + encodeURIComponent(countryId.value) + "&amp;mobilePhoneRegisterAttempts=" + encodeURIComponent(mobilePhone.value)
	    			+ "&amp;landLinePhoneRegisterAttempts=" + encodeURIComponent(landLinePhone.value);
	    	var ajax = new AJAXInteraction(url, null);
	    	ajax.doGet();
	    }
	}

   	function markFirstErrorField(){
        var alertMsg = "";
        var table = document.getElementById("contactForm:mainTable");
        var msgs = table.getElementsByTagName("SPAN");
        for (var i = 0; i < msgs.length; i++ ) {
        	var cls = msgs[i].getAttribute("class");
        	if (null != cls && cls != "") {
				if (cls == "error_messages") {
		            alertMsg = msgs[i].innerHTML;
		           	if (alertMsg != null && alertMsg != ""){
		                var field = msgs[i].id.split("_");
		                var input = document.getElementById(field[0]);
		                input.style.border = '2px solid #FDD017';
		                errorField = input;
		                setTimeout("focusError();",500);
		                break;
		            }
		         }
		     }
        }
    }

   	function focusError(){
		errorField.focus();
	}

	/***** Popup error message *****/
	function openErrorBox(){
		var box = document.getElementById("error_box");
		var overlay = document.getElementById("Overlay");
		overlay.style.height = Math.max(document.body.scrollHeight,document.documentElement.scrollHeight)+"px";
		box.style.display="block";
		overlay.style.display="block";
		// move box to the center
		box.style.left = ((getWidth()/2)-(250 /2 ))+"px";
	}

	function closeErrorBox(){
		var box = document.getElementById("error_box");
		var overlay = document.getElementById("Overlay");
		box.style.display="none";
		overlay.style.display="none";
	    setTimeout("focusError();",500);
	}

	function getWidth() {
		return self.innerWidth || (document.documentElement.clientWidth || document.body.clientWidth);
	}

	function markFirstErrorFieldWithPopUp(){
        var alertMsg = "";
        var table = document.getElementById("contactForm:mainTable");
        var msgs = table.getElementsByTagName("SPAN");
        for (var i = 0; i < msgs.length; i++ ) {
        	var cls = msgs[i].className;
        	if (null != cls && cls != "") {
				if (cls == "error_messages") {
		            alertMsg = msgs[i].innerHTML;
		           	if (alertMsg != null && alertMsg != "") {
		                openErrorBox();
		                var field = msgs[i].id.split("_");
		                var input = document.getElementById(field[0]);
		                if ($(input).is("input")) { //for input boxes
			               $(input.parentNode).addClass( "error" );
   					       errorField = input;
		                }
		                break;
		            }
		         }
		     }
        }
    }

    function markFirstErrorFieldWithPopUpForm(){
        var alertMsg = "";
        var table = document.getElementById("contactForm:mainTable");
        var msgs = table.getElementsByTagName("SPAN");
        var count = 0;
        for (var pop = 0 ; pop < msgs.length; pop++){
			var field = msgs[pop].className;
			if(null != field && field !== ""){
				if(field == "inputframe error"){
					count++;
					}
				}
        }
        if (count == 4){
        	openFormBox2();
        	return;
        	}
        for (var i = 0; i < msgs.length; i++ ) {
        	var cls = msgs[i].className;
        	if (null != cls && cls != "") {
				if (cls == "inputframe error") {
		            alertMsg = msgs[i].innerHTML;
		           	if (alertMsg != null && alertMsg != "") {
	                	openFormBox2();
		                var field = msgs[i].id.split("_");
		                var input = document.getElementById(field[0]);
		                if ($(input).is("input")) { //for input boxes
			               $(input.parentNode).addClass( "error" );
   					       errorField = input;
		                }
		                break;
		            }
		         }
		     }
        }
    }


 /* End Popup message */

 /******* light_box popup*******/
 function openLightBoxPopUp(){
        var alertMsg = "";
        var table = document.getElementById("contactForm:mainTable");
        var msgs = table.getElementsByTagName("SPAN");
        var fname =  document.getElementById("firstName").value;
        var lname =  document.getElementById("lastName").value;
        var email =  document.getElementById("email").value;
        var mphone = document.getElementById("mobilePhone").value;
        var agreeUpdates = document.getElementById("agree").checked;
		openFormBox(fname, lname, email, mphone, agreeUpdates);
    }
 /* light_box End popup*/



	function getFocusField(){
        var alertMsg = "";
        var table = document.getElementById("contactForm:mainTable");
        var msgs = table.getElementsByTagName("SPAN");
        for (var i = 0; i < msgs.length; i++ ) {
        	var cls = msgs[i].getAttribute("class");
        	if (null != cls && cls != "") {
				if (cls == "error_messages") {
		            alertMsg = msgs[i].innerHTML;
		           	if (alertMsg != null && alertMsg != ""){
		                var field = msgs[i].id.split("_");
		                var input = document.getElementById(field[0]);
		                errorField = input;
		                setTimeout("focusError();",500);
		                break;
		            }
		         }
		     }
        }
	}


 -->

</script>

<f:view locale="#{applicationData.userLocale}">


<script>
	document.domain = "#{applicationData.domainUrl}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
	var skinId = #{applicationData.skinId};
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	var errorField;
</script>

<h:panelGroup rendered="#{!applicationData.rtlAlign}">
	<script>
		if (typeof(lpUnit)=='undefined') {
			var lpUnit='#{applicationData.userLocale.displayLanguage}';
		}
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/mtagconfigLanding.js" type="text/Javascript"></script>

	<!-- Begin LP Custom Variables-->
	<script type="text/javascript">
	// Variables submission using lpAddVars
		lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session  ','Campaign','#{applicationData.campaignName}');
		lpAddVars('session','SkinId','#{applicationData.skinId}');
		lpAddVars('session','survey_pre-chat_enable','on');
	</script>

</h:panelGroup>

 <c:if test="${newURL == 'true' }">
 	<c:if test="${generalPage == null || generalPage == 'false' }">
 		<ui:include src="/jsp/#{applicationData.userLocale.language}/LP#{page}#{google}.xhtml"></ui:include>
 	</c:if>
 	<c:if test="${generalPage == 'true' }">
 		<ui:include src="/jsp/LP#{page}#{google}.xhtml"></ui:include>
 	</c:if>
 </c:if>

<c:if test="${newURL != 'true' }">
 	<ui:include src="/jsp/#{applicationData.userLocale.language}/70_generic_short#{page}#{google}.xhtml"></ui:include>
</c:if>

</f:view>

 <script>
		//Mark fields
 		<c:if test="${page == '' &amp;&amp; isSpanishLP != 'true' }">
	    	markFirstErrorField();
	    </c:if>
	    <c:if test="${page != '' &amp;&amp; isSpanishLP != 'true'}">
	    	markFirstErrorFieldWithPopUp();
	    </c:if>
		<c:if test="${popupForm == 'true'}">
	    	markFirstErrorFieldWithPopUpForm();
	    </c:if>
  		<c:if test="${isSpanishLP == 'true' }">
	    	getFocusField();
	    </c:if>

</script>

<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
<c:if test="${applicationData.isLive}">
	<c:if test="${applicationData.skinId == 5}">
		<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016530_Segment Pixel_ES' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
		<img src="http://ads.bluelithium.com/pixel?id=1407972&amp;t=2" width="1" height="1" />
		<!-- End of segment tag -->
	</c:if>

	<c:if test="${applicationData.skinId == 12}">
		<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016456_Segment Pixel_FR' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
		<img src="http://ads.bluelithium.com/pixel?id=1407990&amp;t=2" width="1" height="1" />
		<!-- End of segment tag -->

		<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016456_Segment Pixel_FR' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
		<img src="http://ads.bluelithium.com/pixel?id=1407990&amp;t=2" width="1" height="1" />
		<!-- End of segment tag -->
		
	</c:if>

	<c:if test="${applicationData.skinId == 9}">
		<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016444_Segment Pixel_IT' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
		<img src="http://ads.bluelithium.com/pixel?id=1407998&amp;t=2" width="1" height="1" />
		<!-- End of segment tag -->
		<img height="1" width="1" src="http://view.atdmt.com/action/Anyoption_Landing_01032012"/>
		
	</c:if>	

</c:if>

</body>
</html>
