<f:view
 		xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
  		xmlns:h="http://java.sun.com/jsf/html"
  		xmlns:t="http://myfaces.apache.org/tomahawk"
  		xmlns:c="http://java.sun.com/jsp/jstl/core"
       >


       <script>
			var tradingPage = true;
			document.domain = "#{applicationData.domainUrl}";
			var updatesFrequencyFlag = #{slipForm.loggedIn};
			var updatesFrequencyIn = #{slipForm.updateFrequencyLoggedIn};
			var updatesFrequencyNotIn = #{slipForm.updateFrequencyNotLoggedIn};
			var context_path = "#{facesContext.externalContext.requestContextPath}";
			var skinId = #{applicationData.skinId};
			var imgPathA = "#{applicationData.imagesPath}";


			var locale_SkinId = '#{applicationData.userLocale.language}_#{applicationData.skinId}';
			/*var trading_box_expires = "#{msgs['trading.box.expires']}";
			var bundle_msg_today = "#{msgs['investment.time.today']} ";
			var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
			var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
			var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png';
			var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif';
			var marketMenuError= "#{msgs['market.menu.error']}";
			//var firstTimeVisit="#{applicationData.firstVisitAO}";
			var noLongTermMarkets = #{applicationData.marketsWithoutLongTermBySkinId};
			var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
			var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
			var sendSmsMessage = "#{msgs['investment.settle.sms.msg']}";
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			var isSmsAvaliableForUser = #{applicationData.smsAvaliableForUser};
			var sendSmsMessageShort = "#{msgs['trading.chartBox.recipt.SMS']}";
			</h:panelGroup>*/
	</script>

	<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page_hp.js"></script>

	<div class="table_nd">
		<table width="100%" cellspacing="0" cellpadding="0" border="0" id="oppsTable">
			
        	<tbody>
	          	<h:panelGroup rendered="#{(applicationData.skinId != 13) &amp;&amp; (applicationData.skinId != 14)}">
			      	<!--Indices-->
					<ui:include src="/jsp/assetsTableGroup.xhtml">
						<ui:param name="groupName" value="#{msgs['rightnav.indexes']}" />
						<ui:param name="groupNameSubscribe" value="Indices" />
						<ui:param name="groupTitle" value="true" />
					</ui:include>
					<!--Commodities-->
					<ui:include src="/jsp/assetsTableGroup.xhtml">
						<ui:param name="groupName" value="#{msgs['rightnav.commodities']}" />
						<ui:param name="groupNameSubscribe" value="Commodities" />
						<ui:param name="groupTitle" value="false" />
					</ui:include>
					<!-- Currencies (Forex)-->
					<ui:include src="/jsp/assetsTableGroup.xhtml">
						<ui:param name="groupName" value="#{msgs['rightnav.currencies']}" />
						<ui:param name="groupNameSubscribe" value="Currencies" />
						<ui:param name="groupTitle" value="false" />
					</ui:include>				
					<!--Stocks-->
					<ui:include src="/jsp/assetsTableGroup.xhtml">
						<ui:param name="groupName" value="#{msgs['rightnav.stocks']}" />
						<ui:param name="groupNameSubscribe" value="Stocks" />					
						<ui:param name="groupTitle" value="false" />
					</ui:include>
				</h:panelGroup>
				<h:panelGroup rendered="#{(applicationData.skinId == 13) || (applicationData.skinId == 14)}">
					<!--Stocks-->
					<ui:include src="/jsp/assetsTableGroup.xhtml">
						<ui:param name="groupName" value="#{msgs['rightnav.stocks']}" />
						<ui:param name="groupNameSubscribe" value="Stocks" />					
						<ui:param name="groupTitle" value="true" />
					</ui:include>
				</h:panelGroup>		
        	</tbody>
		</table>
    </div>

	<ui:insert name="off_hours_banner" />

	<br /><br /><br /><br />
    <span id="template_10min" style="display: none;height:66px;" class="table_line_nd exptime_nd">
		<img src="#{applicationData.imagesPath}/icon_ClockExp.gif" border="0"/>
		<span class="text_red_12_bold" style="margin-right: 90px;">&#160;</span>
	</span>
    <script>
		var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
		var userLanguage = "#{applicationData.userLocale.language}";

	</script>
	<span style="display: none;" id="russionChar"> &#1074; </span>

</f:view>

