<f:view  xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
<META Http-Equiv="Cache-Control" Content="no-cache"/>
<META Http-Equiv="Expires" Content="0"/>

<script src="#{facesContext.externalContext.requestContextPath}/js/menuMarketSelect.js"></script>
<script>
var prevColor;
function changeColors(element)
{
	//alert(element.childNodes[0].innerHTML);
	element.style.backgroundColor='#0284d6';
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				prevColor = element.children[0].getElementsByTagName("label")[0].style.color;
				element.children[0].getElementsByTagName("label")[0].style.color="white";
			}else{
				prevColor = element.getElementsByTagName("label")[0].style.color;
				element.getElementsByTagName("label")[0].style.color="white";
			}
}
function changeColorsBack(element)
{
	element.style.backgroundColor='#FFFFFF';
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				element.children[0].getElementsByTagName("label")[0].style.color=prevColor;
			}else{
				element.getElementsByTagName("label")[0].style.color=prevColor;
			}

}
function selectAsset(element,marketId){
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
		document.getElementById('lastLevelsForm:selectedAssetNameDisplay').value = element.children[0].getElementsByTagName('label')[0].innerHTML;
		document.getElementById('lastLevelsForm:selectedAssetName').value = element.children[0].getElementsByTagName('label')[0].innerHTML;

	}
	else{
		document.getElementById('lastLevelsForm:selectedAssetNameDisplay').value = element.getElementsByTagName('label')[0].innerHTML;
		document.getElementById('lastLevelsForm:selectedAssetName').value = element.getElementsByTagName('label')[0].innerHTML;
	}
	document.getElementById('lastLevelsForm:marketGroup').value=marketId;
	document.getElementById('lastLevelsForm').submit();
//	alert(document.getElementById('lastLevelsForm:marketGroup').value);
}
</script>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr onclick="selectAsset(this,'0,0');" style="cursor:pointer;">
		<td onmouseover="changeColors(this);" onmouseout="changeColorsBack(this);"><span>&#160;&#160;&#160;&#160;&#160;
			<h:outputLink  style="text-decoration:none;" value="javascript:;" >
					<h:outputLabel class="assetSelect_allAssets" value="#{msgs['CMS.assetSelect.label.lastlevels.allTheAssets']}"/>
			</h:outputLink>
			</span>
		</td>
	</tr>
	<t:dataList id="as" value="${lastLevelsForm.marketGroupsList}" var="market" layout="simple">

		<h:panelGroup rendered="#{market.printGroup}">
			<tr style="cursor:pointer;" onclick="selectAsset(this,${market.market_group_id}+',0');">
				<td onmouseover="changeColors(this);" onmouseout="changeColorsBack(this);">
					<span>&#160;
						<h:outputLink  value="javascript:;"  style="text-decoration:none;">
							<h:outputLabel class="assetSelect_market_groupname" value="#{msgs['CMS.assetSelect.label.'.concat(market.group_name)]}"/>
						</h:outputLink>
					</span>
				</td>
			</tr>
		</h:panelGroup>
		<h:panelGroup rendered="#{market.printGeoGroup}">
			<tr>
				<td style="padding-#{applicationData.pageAlignment}: 17px;">
					<span style="font-size:11px;">
						<h:outputLabel class="menu_market_subgroupname" value="#{msgs['CMS.assetSelect.label.'.concat(market.market_subGroup_display_name)]}" />
					</span>
				</td>
			</tr>
		</h:panelGroup>
		<tr style="cursor:pointer;" onclick="selectAsset(this,${market.market_group_id}+','+${market.market_id});">
			<td onmouseover="changeColors(this);"
			onmouseout="changeColorsBack(this);">
				<span style="font-size:11px;">&#160;&#160;&#160;&#160;&#160;
				<h:outputLink  style="text-decoration:none;" value="javascript:;" id="m${market.market_id}">
					<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="rtl" rendered="#{market.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
					<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="ltr" rendered="#{!market.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
					<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="ltr" rendered="#{!applicationData.rtlAlign}"/>
				</h:outputLink>
				</span>
			</td>
		</tr>
	</t:dataList>

</table>

</f:view>