<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>

	<table>
		<tr height="58px">
									<td width="155px" align="center" height="58px">
										<img src="#{applicationData.imagesPath}/banking/visasmall.gif" width="125px" height="42px" />
									</td>
									<td width="190px" id="visa" class="bankingBorder" align="left">
										<table cellpadding="0" cellspacing="0" width="190px" border="0">
											<tr>
												<td width="8px" id="visa_arrow" style="visibility: hidden;"><h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
												<td width="182px">
													<a href="javascript:;" class="bankingLabel" onclick="showArrow('visa', this);slidedownQesBanking('qVisa',this);" >&#160;
														<h:outputText value="#{msgs['creditcardtype.visa']}"/>
													</a>
												</td>
											</tr>
										</table>
									</td>
									<td width="125px" align="center" class="bankingBorder">
										<img src="#{applicationData.imagesPath}/banking/v.gif" width="24px" height="24px" />
									</td>
									<td width="125px" align="center">
										<img src="#{applicationData.imagesPath}/banking/v.gif" width="24px" height="24px" />
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div id="qVisa" style="display:none; overflow:hidden;">
											<table cellpadding="0" cellspacing="0" border="0" width="595px"> <!-- Deposit/Withdraw -->
												<tr>
													<td colspan="3" align="center">
														<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/b_deposit.gif" width="568px" height="46px" />
													</td>
												</tr>
												<tr>
													<td width="17px">&#160;</td>
													<td width="550px">
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text1']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputFormat value="#{msgs['CMS.banking_VISA.text.text2']}" escape="false" >
																<f:param value="#{applicationData.minFirstDeposit}" />
															</h:outputFormat>
														</span>
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text3']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputFormat value="#{msgs['CMS.banking_VISA.text.text4']}" escape="false" >
																<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}" />
															</h:outputFormat>
														</span>
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text5']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text6']}" escape="false" />
														</span>
													</td>
													<td width="28px">&#160;</td>
												</tr>
												<tr>
													<td colspan="3"  align="center">
														<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/b_withdrawal.gif" width="565px" height="47px" />
													</td>
												</tr>
												<tr>
													<td width="17px">&#160;</td>
													<td width="550px">
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text7']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text8']}" escape="false" />
														</span>
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text9']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text10']}" escape="false" />
														</span>
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text11']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText value="#{msgs['CMS.banking_VISA.text.text12']}" escape="false" />
														</span>
													</td>
													<td width="28px">&#160;</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
							<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
	</table>
</f:view>