<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
	<script>
    	function goTo0100Page() {
    		window.open("#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary0100.jsf')}", "_parent");
    	}
   	</script>
    <div id="box_Share_nd" style="margin: 15px 0 15px 0; width:186px;">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="186" height="360" id="FlashID">
			<param name="movie"  value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/swf/0100_promotionBanner.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#ffffff" />
			<param name="allowScriptAccess" value="always" />
			<param value="opaque" name="wmode" />
			<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/swf/0100_promotionBanner.swf" allowScriptAccess='always' quality="high" bgcolor="#ffffff" width="186" height="360" name="FlashID" align="" wmode="opaque" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
		</object>
    </div>
</f:view>