<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<f:view locale="#{applicationData.userLocale}" >

	<table width="#{applicationData.tlv? '280px':'293px'}" height="100px" border="0" cellpadding="0" cellspacing="0">
		<tr height="1px"><td height="1px" width="#{applicationData.tlv? '280px':'293px'}" style="vertical-align:top;line-height:9px;">&#160;</td></tr>
		<tr>
			<td>
				<div height="100px" style="display: block; overflow: hidden;">
					<marquee
							direction="up" scrollAmount="1" scrollDelay="1"
							onmouseover="this.stop();" onmouseout="this.start();"
							width="#{applicationData.tlv? '280px':'292px'}" height="100px">
						<h3 class="scroller_header">
						#{msgs['scroller.binary.options.header']}
						</h3>
						<h:outputText styleClass="scroller_content" escape="false" value="#{msgs['scroller.binary.options.content']}"/>
						
						<br />
						<br />
						
						<h3 class="scroller_header">
							#{msgs['scroller.binary.options.trading.header']}
						</h3>
						<h:outputText styleClass="scroller_content" escape="false" value="#{msgs['scroller.binary.options.trading.content']}"/>
						
						<br />
						<br />
						
						<h3 class="scroller_header">
							#{msgs['scroller.forex.binary.options.header']}
						</h3>
						<h:outputText styleClass="scroller_content" escape="false" value="#{msgs['scroller.forex.binary.options.content']}"/>
						
						<br />
						<br />
						
						<h3 class="scroller_header">
							#{msgs['scroller.trade.binary.options.header']}
						</h3>
						<h:outputText styleClass="scroller_content" escape="false" value="#{msgs['scroller.trade.binary.options.content']}"/>
						
						<br />
						<br />
						
						<h3 class="scroller_header">
							#{msgs['scroller.binary.options.trading.platform.header']}
						</h3>
						<h:outputText styleClass="scroller_content" escape="false" value="#{msgs['scroller.binary.options.trading.platform.content']}"/>
					</marquee>
				</div>
			</td>
		</tr>
	</table>
</f:view>
</html>