<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>

<body dir="#{applicationData.pageDirection}">


<f:view locale="#{applicationData.userLocale}">


<t:saveState value="#{contactMeForm}" />
<h:form id="contactMeForm">


<table width="100%" height="198px" border="0" cellspacing="0" cellpadding="0" align="center" class="table_border" >
    <tr>
      <td colspan="2" background="#{applicationData.imagesPath}/1px36.gif" height="36" class="home_page_lable"><h:outputText escape="false" value="#{msgs['home.page.call.me.header']}"/></td>
    </tr>
    <tr>
      <td width="149" align="right"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_me.jpg" width="145" height="161" /></td>
      <td width="306" align="center" valign="middle">
      	<table width="306" cellpadding="0" cellspacing="0" class="callme_hp_table_color" border="0">
			<tr align="center" valign="top">
				<h:panelGroup rendered="#{(applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId == 192 || applicationData.realCountryId == 0 )|| applicationData.skinId != 5}">
					<td>
						<h:outputText styleClass="contactme_succ_body" style="font-size:12px;font-weight: bold;" value="#{msgs['contactme.body.row1']}"/>
						<br/>
						<h:outputText styleClass="contactme_succ_body" style="font-size:12px;font-weight: bold;" value="#{msgs['contactme.body.row2']}"/>
					</td>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId != 192 &amp;&amp; applicationData.realCountryId != 0}">
					<td align="left" width="100%" style="padding-left:5px;">
						<span class="contactme_succ_body" style="font-size:11px;">
							<h:outputText styleClass="contactme_succ_header_notSpain" value="Recibimos su solicitud."/><br/><br/>
							Debido a una alta demanda por el servicio,
							podrםamos retrasarnos un poco en la respuesta,
							favor disculpar la inconveniencia,
							Gracias por su interיs en anyoption™
						</span>
					</td>
				</h:panelGroup>
			</tr>
        </table>
      </td>
	</tr>
  	</table>

</h:form>
</f:view>

</body>
</html>
