
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
    <c:set var="metaDesc" value="#{msgs['CMS.faq.metadata.description']}" />
</ui:define>
<ui:define name="innerPages">
    <c:set var="inrPg" value="InnerPages" />
</ui:define>
<ui:define name="selected">
	<c:set var="selectedTd" value="faq" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.faq.metadata.jsf.title']}"/>
</ui:define>
<ui:define name="title"><h:outputText styleClass="header_new_design_pages" value="#{msgs['CMS.faq.text.rightnav.faq']}"/></ui:define>
<ui:define name="title_message">
	<h1><h:outputText escape="false" styleClass="header_pages_message_new_design" value="#{msgs['CMS.faq.text.rightnav.faq.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText escape="false" value="#{msgs['faq.jsf.title']}"/>
</ui:define>
<ui:define name="head">
	<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" />
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/faq_content.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
			<ui:param name="banner0100" value="true" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>
