<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
    <h:panelGroup rendered="#{applicationData.skinId != 15}">    
		<div class="ad_holder" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/background.png');">
			<span class="ad_close ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');"  onclick="closePopUp();">&#160;</span>
			<span class="ad_logo" style="background:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_logo.png');">&#160;</span>
			<div class="ad_0100_h">
				<span class="ad_0100_img ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<span class="ad_0100_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h1']}" escape="false" /></span>
				<span class="ad_0100_t"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text1']}" escape="false" /></span>
				<div class="ad_0100_info_h">
					<span class="ad_0100_l1 ad_sl1" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl1.png');"><span class="ad_0100_l2"><span class="ad_0100_l3 ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span></span></span>
					<div class="ad_info_t">
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text2']}" escape="false" />
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}" target="_top" border="0" styleClass="ad_link">
							<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.label.link1']}" escape="false" />
						</h:outputLink>
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="266" height="266" id="0-100_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/0-100_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/0-100_anim.swf" width="266" height="266">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/0-100_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />				
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_live_h">
				<span class="ad_live_img ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<div class="ad_live_info_h">
					<span class="ad_live_l1 ad_sl2" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl2.png');"><span class="ad_live_l2"><span class="ad_live_l3 ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png')">
	                    &#160;</span></span></span>
					<div class="ad_info_t2 fR">
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text3']}" escape="false" />
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}" target="_top" styleClass="ad_link" ><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.label.link2']}" escape="false" /></h:outputLink>
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="152" height="152" id="live_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_anim.swf" width="152" height="152">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />				
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_pay_h">
				<span class="ad_pay_img ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<div class="ad_pay_info_h">
					<span class="ad_pay_l1 ad_sl1" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl1.png')"><span class="ad_pay_l2"><span class="ad_pay_l3 ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span></span></span>
					<div class="ad_info_t">
						<span class="ad_info_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h2']}" escape="false" /></span>
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text4']}" escape="false" />
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="103" height="103" id="payment_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/payment_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/payment_anim.swf" width="103" height="103">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/payment_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />				
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_profit_h">
				<span class="ad_profit_img ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<div class="ad_profit_info_h">
					<span class="ad_profit_l1 ad_sl1" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl1.png')"><span class="ad_profit_l2"><span class="ad_profit_l3 ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span></span></span>
					<div class="ad_info_t2 fR">
						<span class="ad_profit_ico ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
						<span class="ad_info_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h3']}" escape="false" /></span>
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text5']}" escape="false" />
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="121" height="121" id="profit_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_anim.swf" width="121" height="121">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
					
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_center_h">
				<span class="ad_ceter_img ad_p" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<span class="ad_ceter_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h4']}" escape="false" /></span>
				<span class="ad_ceter_t"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text6']}" escape="false" /></span>
			</div>
		</div>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 15}">
		<div class="ad_holder2" style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/background_2.png');">
			<span class="ad_close ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');"  onclick="closePopUp();">&#160;</span>
			<span class="ad_logo" style="background:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_logo.png');">&#160;</span>
			<div class="ad_0100_3_h">
				<span class="ad_0100_3_img ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<span class="ad_0100_3_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h1']}" escape="false" /></span>
				<span class="ad_0100_3_t"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text1']}" escape="false" /></span>
				<div class="ad_0100_3_info_h">
					<span class="ad_0100_3_l1 ad_sl1"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl1.png');"><span class="ad_0100_3_l2"><span class="ad_0100_3_l3 ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span></span></span>
					<div class="ad_info_t" style="width:185px;">
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text2']}" escape="false" />
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}" target="_top" border="0" styleClass="ad_link"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.label.link1']}" escape="false" /></h:outputLink>
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="211" height="211" id="0-100_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/0-100_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/0-100_anim.swf" width="211" height="211">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/0-100_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
					
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_live_3_h">
				<span class="ad_live_3_img ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<div class="ad_live_3_info_h">
					<span class="ad_live_3_l1 ad_sl2"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl2.png');"><span class="ad_live_3_l2"><span class="ad_live_3_l3 ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span></span></span>
					<div class="ad_info_t2 fR">
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text3']}" escape="false" />
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}" target="_top" styleClass="ad_link" ><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.label.link2']}" escape="false" /></h:outputLink>
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="152" height="152" id="live_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_anim.swf" width="152" height="152">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
					
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_profit_3_h">
				<span class="ad_profit_3_img ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<div class="ad_profit_3_info_h">
					<span class="ad_profit_3_l1 ad_sl1"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_sl1.png');"><span class="ad_profit_3_l2"><span class="ad_profit_3_l3 ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span></span></span>
					<div class="ad_info_t2 fR">
						<span class="ad_profit_3_ico ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
						<span class="ad_info_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h2']}" escape="false" /></span>
						<h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text4']}" escape="false" />
					</div>
				</div>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="121" height="121" id="profit_anim" align="middle">
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_anim.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="play" value="true" />
					<param name="loop" value="true" />
					<param name="wmode" value="transparent" />
					<param name="scale" value="showall" />
					<param name="menu" value="true" />
					<param name="devicefont" value="false" />
					<param name="salign" value="" />
					<param name="allowScriptAccess" value="sameDomain" />
					<!--[if !IE]>-->
					<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_anim.swf" width="121" height="121">
						<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_anim.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="play" value="true" />
						<param name="loop" value="true" />
						<param name="wmode" value="transparent" />
						<param name="scale" value="showall" />
						<param name="menu" value="true" />
						<param name="devicefont" value="false" />
						<param name="salign" value="" />
						<param name="allowScriptAccess" value="sameDomain" />
					
					</object>
					<!--<![endif]-->
				</object>
			</div>
			<div class="ad_center_3_h">
				<span class="ad_ceter_3_img ad_p"  style="background-image:url('#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ad_p.png');">&#160;</span>
				<span class="ad_ceter_3_h1"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.h3']}" escape="false" /></span>
				<span class="ad_ceter_3_t"><h:outputText value="#{msgs['CMS.fearutes2013_pop_content.text.text5']}" escape="false" /></span>
			</div>
		</div>
	</h:panelGroup>
</f:view>
