<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<table width="455px" height="197px" border="0" cellspacing="0" cellpadding="0" align="center" class="table_border" >
	<tr height="64px">
		<td width="455px" height="64px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/features_bnr_top.jpg" width="455px" height="64" /></td>
	</tr>
	<tr height="85px">
		<td height="85px" width="455px">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}">
				<img src="#{applicationData.imagesPath}/#{applicationData.tlvImagesPath}features_bnr.jpg" width="455px" height="85px" border="0" />
			</a>
		</td>
	</tr>
	<tr valign="top" height="48px">
		<td width="455px" height="48px" valign="top">
			<table dir="ltr" width="455px" height="48px" border="0" cellspacing="0" cellpadding="0" align="center">
				<tr align="center" valign="top">
	                <td width="20px">&#160;</td>
	                <td width="89px" align="left" ><a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.profit.line.link']}"><h:outputText value="#{msgs['new.features.profit.line']}"/></a></td>
	                <td width="83px" align="left"><a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.take.profit.link']}"><h:outputText value="#{msgs['new.features.take.profit']}"/></a></td>
	                <td width="88px" align="left"><a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.roll.forward.link']}"><h:outputText value="#{msgs['new.features.roll.forward']}"/></a></td>
	                <td width="90px" align="center"><a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.sms.link']}"><h:outputText value="#{msgs['new.features.sms.service']}"/></a></td>
	                <td width="75px" align="center" style="display: #{applicationData.tlv ? 'none':'inline'}"><a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.profit.line.link']}"><h:outputText value="#{msgs['showOff.menu.strip']}"/></a></td>
	                <td width="20px"></td>
	            </tr>
			</table>
		</td>
	</tr>
</table>
</f:view>