<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<table border="0" cellspacing="0" cellpadding="0">
	  	<tr>
	    	<td height="40" class="features_bkgnd">
				<table border="0" cellspacing="0" cellpadding="0" align="center">
		 			<tr>
						<td height="40" align="center" width="179" style="background-image: url(../images/#{applicationData.tlvImagesPath}featur_#{applicationData.pageAlignment}.gif); background-repeat: no-repeat;">
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}"
									target="_top" class="features_news_lable" style="display: #{applicationData.tlv ? 'none':'inline'}">
								#{msgs['CMS.featuresStrip.label.features.strip.fetures']}
							</h:outputLink>
						</td>

						<h:panelGroup rendered="#{!applicationData.rtlAlign}">
							<td width="42">&#160;</td>
						</h:panelGroup>

						<td>
							<table border="0" cellspacing="0" cellpadding="0" dir="ltr">
								<tr>
									<td align="#{applicationData.pageAlignment}">
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.profit.line.link']}" target="_top" class="features_links"><img src="#{applicationData.imagesPath}/#{applicationData.tlvImagesPath}features/pl.gif" width="35" border="0" /></h:outputLink></td>
									<td width="133">
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.profit.line.link']}"
												target="_top" class="features_links">
											#{msgs['CMS.featuresStrip.label.features.strip.profit.line']}
										</h:outputLink>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<table border="0" cellspacing="0" cellpadding="0" dir="ltr">
								<tr>
									<td align="#{applicationData.pageAlignment}">
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.take.profit.link']}" target="_top" class="features_links"><img src="#{applicationData.imagesPath}/#{applicationData.tlvImagesPath}features/ftk.gif" width="27" border="0" /></h:outputLink></td>
								    <td width="143">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.take.profit.link']}"
												target="_top" class="features_links">
											#{msgs['CMS.featuresStrip.label.features.strip.take.profit']}
										</h:outputLink>
								    </td>
								</tr>
							</table>
						</td>
						<td>
							<table border="0" cellspacing="0" cellpadding="0" dir="ltr">
								<tr>
								    <td align="#{applicationData.pageAlignment}">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.roll.forward.link']}" target="_top" class="features_links"><img src="#{applicationData.imagesPath}/#{applicationData.tlvImagesPath}features/frf.gif" width="27" border="0"/></h:outputLink></td>
								    <td width="143">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.roll.forward.link']}"
												target="_top" class="features_links">
											#{msgs['CMS.featuresStrip.label.features.strip.roll.forward']}
										</h:outputLink>
								    </td>
								</tr>
							</table>
						</td>
					    <td>
							<table border="0" cellspacing="0" cellpadding="0" dir="ltr">
								<tr>
									<td align="#{applicationData.pageAlignment}">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.sms.link']}" target="_top" class="features_links"><img src="#{applicationData.imagesPath}/#{applicationData.tlvImagesPath}features/sms.gif" width="35" border="0" /></h:outputLink></td>
								    <td width="80">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.sms.link']}"
												target="_top" class="features_links">
											#{msgs['CMS.featuresStrip.label.features.strip.sms']}
										</h:outputLink>
								    </td>
								</tr>
							</table>
						</td>
						<td>
							<table border="0" cellspacing="0" cellpadding="0" dir="ltr" >
								<tr>
								    <td align="#{applicationData.pageAlignment}">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.showOff.link']}" target="_top" class="features_links"><img src="#{applicationData.imagesPath}/features/sho.gif" width="28" border="0" style="display: #{applicationData.tlv ? 'none':'inline'}"/></h:outputLink></td>
								    <td width="110">
								    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['CMS.featuresStrip.label.new.features.showOff.link']}"
												target="_top" class="features_links" style="display: #{applicationData.tlv ? 'none':'inline'}">
											#{msgs['CMS.featuresStrip.label.features.strip.show.off']}
										</h:outputLink>
								    </td>
								</tr>
							</table>
						</td>
						<h:panelGroup rendered="#{applicationData.rtlAlign}">
							<td width="#{applicationData.skinId == 11? '57px':'42px'}">&#160;</td>
						</h:panelGroup>
		  			</tr>
				</table>
			</td>
		</tr>
	</table>
</html>


