<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_event.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scroll.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scrollbar.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_controls.js"></script>
	<script type="text/javascript">
		document.domain = "#{applicationData.domainUrl}";
		function init_dw_Scroll() {
		try {
		    var wndo = new dw_scrollObj('wnWhatIsBinary', 'lyr1WhatIsBinary');
		    wndo.setUpScrollbar("dragBar_scroll", "track_scroll", "v", 1, 1);
		    // id, autohide (hide when not needed), axis
		    wndo.setUpScrollControls('scrollbar_scroll', true, 'v');
			} catch(e) {
				//alert(e);
			}
		}

		// if code supported, link in the style sheet and call the init function onload
		try {
			if ( dw_scrollObj.isSupported() ) {
			    dw_writeStyleSheet('#{facesContext.externalContext.requestContextPath}/css/scroll.css');
			    // Enable printing here if you like
			    dw_scrollObj.printEnabled = true;
			    dw_Event.add( window, 'load', init_dw_Scroll);
			}
		} catch(e){}
	</script>
	<style type="text/css">
		div#wnWhatIsBinary {
		    float:left;
		    margin-right:0px;
		     height:130px;
	    }
		div#scrollbar_scroll {
		    float:left;
		    height:130px;
	    }
	    div#track_scroll {
	  		height:100px;
		}
		.clearer { clear:left; }

		body {
			background: none transparent;
		}
		.expiry_level_table	{
			width:550px;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 10px;
			color: #fff;
			background-color: none;
			line-height: 12px;
			/*border-collapse: collapse;*/
			border-bottom: solid 1px #8aa6b9;
			margin-bottom: 10px;
		}
		.general_terms_td {
			border-style: none;
			padding: 3px;
		}
		.pages_text {
		    color: #727272;
		    font-family: Verdana,Arial,Helvetica,sans-serif;
		    font-size: 10px;
		    font-weight: normal;
		    background-color: transparent;
		}
		.table_titles{
			background-color: #5596c1;
		}
	</style>
</head>
<body dir="#{applicationData.pageDirection}" style="height:230px" width="100%" height="230px">
	<f:view locale="#{applicationData.userLocale}" >
    <div id="mainDiv" class="binary0100_whatisbinary">
        <div class="whatisbinary_container">
            <div id="wnWhatIsBinary" class="whatisbinary_blog">
				<div id="lyr1WhatIsBinary" class="content">
	                <p>
	                    <span class="subtitle2"><h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3']}" escape="false"/> </span><br/>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.1']}" escape="false"/><br/>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.1.A']}" escape="false"/><br/>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.1.B']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.2']}" escape="false"/>
	                </p>
	                <p>
						<h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.3']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.4']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.5']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.6']}" escape="false"/>
	                </p>
	                <p>
						<h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.7']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.8']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{applicationData.getTurnOverTerms('4', 'true')}" escape="false" />
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.10']}" escape="false"/>
	                </p>
	                <p>
	                    <h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.11']}" escape="false"/>
	                </p>
	                <p>
						<h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.12']}" escape="false"/>
	                </p>
	                <p>
						<h:outputText value="#{msgs['binary.0-100.general.terms.part.11.3.13.1']}" escape="false"/>
	                </p>

	            <a id="exp"></a>
	            <strong><h:outputText value="#{msgs['markets.usd.gbp.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">GBP=</td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelLastBidBy2OptionPlus']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.eur.jpy.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">EURJPY=</td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelLastBidBy2OptionPlus']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.dax.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">.GDAXI </td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelReuters']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.barreloil.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">CLv1 </td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelReuters.price']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.usd.eur.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">EUR=</td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelLastBidBy2OptionPlus']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.dax.future.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">FDXc1 Last Value</td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelReuters.price']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.dow.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">.DJI Last Value</td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelReuters.price']}" escape="false" /></td>
					</tr>

				</table>

				<strong><h:outputText value="#{msgs['markets.gold.binary.zero']}" escape="false" /></strong>
				<table border="0" cellpadding="0" cellspacing="1" class="expiry_level_table">
					<tr class="table_titles">
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryType']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.reutersField']}" escape="false" /></strong></td>
						<td class="general_terms_td"><strong><h:outputText value="#{msgs['assetIndex.expiryFormula']}" escape="false" /></strong></td>
					</tr>
					<tr class="pages_text">
						<td class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expTypeHourly']}" escape="false" /></td>
						<td class="general_terms_td">GCv1</td>
						<td rowspan="2" class="general_terms_td"><h:outputText value="#{msgs['assetIndex.expiryLevelLastBidBy2OptionPlus']}" escape="false" /></td>
					</tr>

				</table>
	        	</div>
            </div>
            <div id="scrollbar_scroll" style="background-color: #f5fbff; float: right; visibility: visible; " class="scrollbar_scroll" >
                <div class="up">
                    <a class="mouseover_up">
                        <img style="cursor: pointer;" src="#{applicationData.imagesPath}/btn-up.gif" width="17"
                            height="15" border="0" /></a></div>
                <div id="track_scroll">
                    <div id="dragBar_scroll">
                    </div>
                </div>
                <div class="down">
                    <a class="mouseover_down">
                        <img style="cursor: pointer;" src="#{applicationData.imagesPath}/btn-dn.gif" width="17"
                            height="15" border="0" /></a></div>
            </div>
        </div>
    </div>
</f:view>

<script>
	function goToExpiryTab(){
		try {
			//Get object
			var SupportDiv = document.getElementById("exp");
		    var wndo = new dw_scrollObj('wnWhatIsBinary', 'lyr1WhatIsBinary');

		    wndo.setUpScrollbar("dragBar_scroll", "track_scroll", "v", 1, 1);
		    // id, autohide (hide when not needed), axis
		    wndo.setUpScrollControls('scrollbar_scroll', true, 'v');
		    wndo.shiftTo(0,-findPos(SupportDiv));
			} catch(e) {alert(e);}
	}

	//Finds y value of given object
		function findPos(obj) {
			var curtop = 0;
			if (obj.offsetParent) {
				do {
					curtop += obj.offsetTop;
				} while (obj = obj.offsetParent);
			return [curtop];
			}
		}
</script>
</body>
</html>
