 <html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['learn.trade.window.title']}"/>
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['CMS.how-to-trade-binary-options.metadata.keywords']}" />
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['learn.about.trade.description']}" />
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="innerPages">
    <c:set var="inrPg" value="InnerPages" />
</ui:define>
<ui:define name="title"><h2 class="learn_h2">#{msgs['learn.title']}</h2>
</ui:define>
<ui:define name="title_message">
	<h3 class="learn_h3"><h:outputText value="#{msgs['learn.title.message']}"/></h3>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/how-to-trade-binary-options.jsf')}" />
</ui:define>
<ui:define name="content" >
	<br/>

	<c:set var="std" value="howToTrade" />
	<ui:include src="/jsp/learnAboutStrip.xhtml" />

	<br/>

	<ui:include src="/jsp/learnAboutHowToTradeContent.xhtml"></ui:include>
</ui:define >
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
			<ui:param name="banner0100" value="true" />
		</ui:include>
	</ui:define>
</ui:composition>

</html>


