<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
	<div class="container" style="margin-top:13px;">
		<div class="clear option_header grad">
			<div class="fLeft option_h_single">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/options_trading_anyoption.jsf')}" target="_top"><h:outputText value="#{msgs['box.what.is.anyoption.header']}"/></a>
			</div>
			<div class="fLeft option_h_single">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/what-are-binary-options.jsf')}" target="_top"><h:outputText value="#{msgs['box.profitline.header']}"/></a>
			</div>
			<div class="fLeft option_h_single">
				<h:outputText value="#{msgs['rss.feed.page']}" />
			</div>
		</div>
		<div class="clear option_main">
			<div class="fLeft option_single">
				<h:outputText  value="#{msgs['box.what.is.anyoption.content']}"/><br />
		    	<h:outputLink class="info_link" style="text-decoration: underline;" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/options_trading_anyoption.jsf')}" target="_top" >
					<h:outputText value="#{msgs['box.readmore']}"/>
				</h:outputLink>
		  		<h:outputText escape="false" value="&#160; #{msgs['box.profitline.arrow']}"/>
			</div>
			<div class="fLeft option_single">
				<h:outputText escape="false" value="#{msgs['box.profitline.content.txt']}"/><br /><br />
	          	<h:outputLink class="info_link" style="text-decoration: underline;" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/what-are-binary-options.jsf')}" target="_top" >
						<h:outputText value="#{msgs['box.readmore']}"/>
					</h:outputLink>
		  		<h:outputText escape="false" value="&#160; #{msgs['box.profitline.arrow']}"/>
			</div>
			<div class="fLeft option_single">
				<iframe align="top" id="rssFeedHP" name="rssFeedHP" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/rssFeedHP_css.jsf" width="293px" height="100px" scrolling="no"></iframe>
			</div>
		</div>
	</div>
</f:view>