<f:view
	dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<!-- script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script-->
	<!-- script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script-->

	<script>
		document.domain = "#{applicationData.domainUrl}";
		var headerTxt1 = "#{msgs['golden.header1']}";
		var headerTxt2 = "#{msgs['golden.header2']}";
		var headerTxtRU1 = "#{msgs['golden.header1.RU']}";
		var headerTxtRU2 = "#{msgs['golden.header2.RU']}";
		var headerTxtRU3 = "#{msgs['golden.header3.RU']}";
		var reciptTxt1 = "#{msgs['golden.recipt.txt1']}";
		var reciptTxt2 = "#{msgs['golden.recipt.txt2']}";
		var reciptTxt1_RU = "#{msgs['golden.recipt.txt1_RU']}";
		var reciptNumber = "#{msgs['golden.recipt.number']}";
		var noInvSelectedGM = "#{msgs['golden.no.inv.selected.GM']}";
		var noInvSelectedRU = "#{msgs['golden.no.inv.selected.RU']}";
		var marketsDiaplayNameGM = #{applicationData.shortDisplayMarketsBySkinId};
		var currencySymbol = "#{applicationData.realCurrencySymbol}";
		var bundle_msg_todayGM = "#{msgs['investment.time.today']} ";
		var context_pathGM = "#{facesContext.externalContext.requestContextPath}";
		var context_pathGM_skin_img = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
		var context_pathGM_img = "#{applicationData.imagesPath}";
		var openDetailsFlag = "#{facesContext.externalContext.requestParameterMap['openDetails']}"
		var generalLink = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#";
		var details_open = "#{msgs['newFeatures.details']} ";
		var details_close = "#{msgs['newFeatures.close']} ";
	</script>
	<div class="floating_div" id="goldenDiv">
	<table width="625px" cellspacing="0" cellpadding="0" class="golden_border" bgcolor="#f6fbff">
		<tr>
			<td width="3">&#160;</td>
			<td valign="top" >
				<table width="625" cellpadding="0" cellspacing="0" align="center">
					<tr height="5"><td style="font-size:1px;">&#160;</td></tr>
					<tr>
						<td width="6"></td>						
						<td valign="top" width="75" height="45">
							<table width="74" height="38" cellspacing="0" cellpadding="0" class="red_border">
								<tr><td class="clock_txt"><h:outputText value="#{msgs['golden.time.left']}" /></td></tr>
								<tr>
									<td valign="top" align="center" class="golden_clock" id="goldenTime">&#160;</td>
								</tr>
							</table>
						</td>
						<td width="6"></td>
						<td class="goldenTitleImg" align="center"><img id="goldenTitleImg" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_takeProfit.png" /></td>
						<td width="6"></td>
						<td class="goldenOpenImg" valign="top" width="75" align="#{applicationData.pageAlignmentReverse}">
							<span style="cursor:pointer;" onclick="openDetailsNoImage();" class="goldenOpenImg_nd" >
								<h:graphicImage value="#{applicationData.imagesPath}/open.png" id="goldenOpenImg2">
									<h:outputText value="#{msgs['newFeatures.details']} " id="goldenOpenImg"/>
								</h:graphicImage>
							</span>
						</td>				
						<td width="6"></td>
					</tr>
					<tr id="goldenDetails1" style="display: none;">
						<td height="3"></td>
					</tr>
					<tr id="goldenDetails" style="display: none;">
						<td colspan="6" id="goldenTitle" class="golden_infotext"><!-- here should come the title with js -->
							...
						</td>
					</tr>
					<tr id="goldenDetails2" style="display: none;">
						<td height="5"></td>
					</tr>
				</table>
			</td>
			<td width="3">&#160;</td>
		</tr>
		<tr id="goldenInvestmentsTR" style="display: none;">
			<td colspan="3">
				<table id="goldenInvestmentsTable" style="font-family: Verdana,Geneva,sans-serif; font-size: 11px;" width="605" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr valign="middle" align="#{applicationData.pageAlignment}" bgcolor="#5596c1" style="color:#ffffff;" class="golden_header">
						<td align="#{applicationData.pageAlignment}" width="6" height="20"></td>						
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap" class="asset_title"><h:outputText value="#{msgs['golden.header.market']}" /></td>
						<td align="#{applicationData.pageAlignment}" width="85" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.inv.level']}" /></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap" colspan="2" class="golden_padding"><h:outputText value="#{msgs['golden.header.real.level']}" /></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.amount']}" /></td>
						<td align="#{applicationData.pageAlignment}" width="70" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.return']}" /></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.prim.price']}" /></td>
						<td align="#{applicationData.pageAlignmentReverse}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.select.all']}" /></td>
						<td align="#{applicationData.pageAlignmentReverse}" width="23" class="asset_title_end"><input width="18px" id="buyAll" name="buyAll" type="checkbox" value="" onclick="goldenSelectAll(this)"/></td>
						<td width="5"></td>
						<td align="#{applicationData.pageAlignment}" style="display: none;"></td><!-- 10 inv id -->
						<td align="#{applicationData.pageAlignment}" style="display: none;"></td><!-- 11 insurance type (gm/ru) -->
						<td align="#{applicationData.pageAlignment}" style="display: none;"></td><!-- 12 not formated premia amount -->
					</tr>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="1" />
					</ui:include>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="2" />
					</ui:include>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="3" />
					</ui:include>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="4" />
					</ui:include>
					<tr>
						<td width="6px" height="39">&#160;</td>
						<td colspan="5">
							<table width="100%">
								<tr>
									<td nowrap="nowrap" height="20" align="#{applicationData.pageAlignment}" valign="middle" class="golden_terms">
										<h:outputLink name="generalTermsLink" id="generalTermsLink" styleClass="golden_terms" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#RUL"><h:outputText value="#{msgs['footer.general.terms']} »"/></h:outputLink>
									</td>
									<td width="6px">&#160;</td>
									<td width="200" align="center" valign="middle" style="text-align:center;">
										<table id="mainError" style="display: none;" height="21" align="center" cellpadding="0" cellspacing="0" class="golden_border_error" bgcolor="#FFFFFF">
			                       	 		 <tr>
												<td class="golden_error" valign="middle" align="#{applicationData.pageAlignment}">
			                                 	 	&#160;<!-- here should come the error with js -->
												</td>
			                                 	 <td valign="top" style="cursor: pointer;" align="#{applicationData.pageAlignmentReverse}"><img onclick="document.getElementById('mainError').style.display = 'none';" src="#{applicationData.imagesPath}/x.gif" />
			                                 	 </td>
			                                 </tr>
			                            </table>
			                        </td>
			                        <td width="6px">&#160;</td>
                        		</tr>
                        	</table>
                       	</td>
                        <td valign="middle" align="#{applicationData.pageAlignmentReverse}" class="golden_txt_total" id="sumTitle"><strong>#{msgs['golden.sum.inv']}</strong>&#160;</td>
                        <td valign="middle" width="70" align="#{applicationData.pageAlignment}" class="golden_txt" id="sumInv"></td>
						<td valign="middle" colspan="3" align="#{applicationData.pageAlignmentReverse}" id="insuranceBuyButton">		
							<img style="cursor:pointer" onclick="submitInsurances(this)" id="goldenBuy" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png"
								onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.png'"
					 		 	onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png'" />
					 		<img src="#{applicationData.imagesPath}/processing.gif" id="goldenBuyWait" style="display: none;" />
					 	</td>
					</tr>
				</table>
			</td>
		</tr>

	</table>
	</div>
</f:view>