<f:view  xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

<style>
.contactusSpan { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#093755;}
.pop-up-registration-page { border: solid 1px #093755; background-color:#f2f2f2;}
.title-pop-up {height:46px; background-color:#093755; width:100%}
.button-pop-up { float:right; margin-right:10px; }
.button-pop-up a{ font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:10px; text-decoration:none; padding:5px; }
.country { float:left; font-weight:bold; }
.phone_number { float:right; }
</style>

<script>
	function closeWindow(){
		document.getElementById("contactUsDiv").style.display = 'none';
	}
</script>
<f:view locale="#{applicationData.userLocale}">
	
	<div class="pop-up-registration-page" style="width:227px;">
	<div class="title-pop-up">
	  	<table border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="43"><img src="#{applicationData.imagesPath}/yelloLanding/icone-contact-us.gif" style=" margin:10px 0 10px 10px" /></td>
		    <td width="141" style="color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:17px; font-weight:bold">#{msgs['header.contact']}</td>
		    <td width="55" align="right" valign="top"><img src="#{applicationData.imagesPath}/yelloLanding//close-pop-up.gif" width="11" height="10" style="margin:3px" onclick="closeWindow()"/></td>
		  </tr>
		</table>
	</div>
	<div style="width:*; border:0; cellspacing:12; cellpadding:0; padding-left: 25px; padding-right: 5px; text-align:left;">
		<span class="contactusSpan" style=" line-height:20px">
			<div>
				<div class="country">
					<h:outputText value="#{msgs['supportBanner.line1']}" escape="false"/>
				</div>
				<div class="phone_number">
					<h:outputText value="#{msgs['supportBanner.line1.phone.number']}" escape="false"/>
				</div>
			</div>
			<br />
			<h:panelGroup rendered="#{applicationData.skinId != '13' &amp;&amp; applicationData.skinId != '14'}">
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line2']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line2.phone.number']}" escape="false"/>
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line3']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line3.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line4']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line4.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line5']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line5.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line6']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line6.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line7']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line7.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line8']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line8.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line9']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line9.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line10']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line10.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line11']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line11.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<!--  -->
				<div>
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line12']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line12.phone.number']}" escape="false" />
					</div>
				</div>
				<div>
					<div class="country">
						<h:outputText  rendered="#{applicationData.skinId == '4'}" value="#{msgs['supportBanner.line14']}" escape="false" />
					</div>
					<!-- add phone number -->
				</div>
				<br />
				<div>
					<div class="country">
						<h:outputText rendered="#{applicationData.skinId == '12'}" value="#{msgs['supportBanner.line13']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText rendered="#{applicationData.skinId == '12'}" value="#{msgs['supportBanner.line13.phone.number']}" escape="false" />
					</div>
				</div>
				<h:outputText rendered="#{applicationData.skinId == '12' || applicationData.skinId == '10'}"> <br /> </h:outputText>
			</h:panelGroup>
		</span>




	  <!-- <tr>
	    <td width="68"><span class="contactusSpan" style=" line-height:20px">UK<br />
			USA<br />
			Argentina<br />
			Bahrain<br />
			Germany<br />
			Italy<br />
			Mexico<br />
			Russia<br />
			South Africa<br />
			Spain<br />
			Turkey<br />
			All Other</span>
	  </td>
	    <td width="112" align="right"><span class="contactusSpan" style=" line-height:20px;">800-789-911<br />
	      800-449743<br />
	      973-16199107<br />
	      0800-184-4990<br />
	      0 01-800-1233332<br />
	      810 800 200 919 72<br />
	      800-982374<br />
	      900-939-787<br />
	      212-414-1770<br />
	      0800-9174606<br />
	      1-866-8444540<br />
	      +44-2080997262
	    </span></td>
	  </tr> -->
	</div>
	</div>
</f:view>
</f:view>
