<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk">
	    
	<head>
	    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	   	<title>anyoption™</title>
	    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
	    <META NAME="description" content=""/>
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	    <meta name="robots" content="noodp,noydir" />
		<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
		<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>	
	
		<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
			<script>
			    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
			    var ajax = new AJAXInteraction(url, offsetCallback);
			    ajax.doGet();
				/*
				  Reload ticker after setting utcOffset in Session
				  This is done because ticker page up before the Ajax call(return to server side)
				*/
				function offsetCallback(responseXML) {
				   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
				}
			</script>
		</h:panelGroup>
	</head>
	
	<body dir="">
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
	</c:if>
		<f:view locale="#{applicationData.userLocale}">
			
			<script>
				document.domain = "#{applicationData.domainUrl}";
				var context_path = "#{facesContext.externalContext.requestContextPath}";
				var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
				var skinId = #{applicationData.skinId};
				var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";		
			</script>
		 	<ui:include src="/jsp/#{applicationData.userLocale.language}/#{page}.#{file_suffix}"></ui:include>	
		</f:view>		
		<c:if test="${!applicationData.isLocal}">
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
		</c:if>
		<c:if test="${applicationData.isLive}">
			<c:if test="${applicationData.skinId == 5}">
				<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016530_Segment Pixel_ES' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
				<img src="http://ads.bluelithium.com/pixel?id=1407972&amp;t=2" width="1" height="1" />
				<!-- End of segment tag -->
			</c:if>
		
			<c:if test="${applicationData.skinId == 12}">
				<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016456_Segment Pixel_FR' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
				<img src="http://ads.bluelithium.com/pixel?id=1407990&amp;t=2" width="1" height="1" />
				<!-- End of segment tag -->
		
				<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016456_Segment Pixel_FR' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
				<img src="http://ads.bluelithium.com/pixel?id=1407990&amp;t=2" width="1" height="1" />
				<!-- End of segment tag -->
		
			<c:if test="${applicationData.skinId == 9}">
				<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016444_Segment Pixel_IT' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
				<img src="http://ads.bluelithium.com/pixel?id=1407998&amp;t=2" width="1" height="1" />
				<!-- End of segment tag -->
				<img height="1" width="1" src="http://view.atdmt.com/action/Anyoption_Landing_01032012"/>
			</c:if>
		</c:if>
	</body>
</html>
