<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
	<table class="learnAbout_body" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
	  <tr>
	    <td>
	    	<h:outputText value="#{msgs['CMS.learnAboutBenefitsContent.text.text1']}" escape="false" />
	    	
	    	<h:panelGroup rendered="#{applicationData.skinId != 3}">
				<a class="general_link_blue_10" HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top"><h:outputText value="#{msgs['CMS.learnAboutBenefitsContent.label.link1']}" escape="false" /></a>&#160;
			</h:panelGroup>
			
			<h:outputText value="#{msgs['CMS.learnAboutBenefitsContent.text.text2']}" escape="false" />

			<strong style="color: #0284d6;">
				<h:outputText value="#{msgs['CMS.learnAboutBenefitsContent.text.text3']}" escape="false" />
			</strong>
			<br/>
			
			<table class="learnAbout_body" width="550" border="0" cellpadding="0" cellspacing="0">
			 <tr>
			 	<td width="25px">
			 	</td>
	    		<td>
					<h:outputText value="#{msgs['CMS.learnAboutBenefitsContent.text.text4']}" escape="false" />
				</td>
	 		 </tr>
	 		</table>
			<br/><br/>
			<h:outputText value="#{msgs['CMS.learnAboutBenefitsContent.text.text5']}" escape="false" />
	    </td>
	  </tr>
	</table>
</body>
</html>


