<f:view
	xmlns="http://www.w3.org/1999/xhtml"
  	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
   >
	
	<div><h:outputText value="#{msgs['live.trades']}" class="header1"/></div><br/>	
    <table id="investments_table_live" width="100%" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <th class="t1"><h:outputText value="#{msgs['live.trades.city']}" escape="false"/></th>
        <th class="t2"><h:outputText value="#{msgs['live.trades.type']}" escape="false"/></th>
        <th class="t3"><h:outputText value="#{msgs['investments.marketname']}" escape="false"/></th>
        <th class="t4"><h:outputText value="#{msgs['investments.level']}" escape="false"/></th>
        <th class="t5"><h:outputText value="#{msgs['live.trades.amount']}" escape="false"/></th>
        <th class="t6"></th>
      </tr>  
  	  <tr source="lightstreamer" id="livetrades">
  	  		<td class="table_line"></td>
  	  		<td class="table_line"></td> 	  
  	  		<td class="table_line">
  	  			<div source="lightstreamer" field="14"/>
  	  			<span source="lightstreamer" field="5" style="display:none;"></span><!-- id of the asset not visible -->
  	  			<span source="lightstreamer" field="12" style="display:none;"></span><!-- id of the opportunity not visible -->
  	  		</td>
  	  		<td class="table_line"></td> 
  	  		<td class="table_line">
  	  			<div source="lightstreamer" field="9"/>
  	  			<span source="lightstreamer" field="13" style="display:none;"></span>
  	  		</td>
  	  		<td class="table_line">
  	  			<a onmouseover="showPurchaseElement('true', this, '1')" 
  	  						onmouseout="showPurchaseElement('false', this, '1')"
  	  						onclick="sendToTradeBox(this)"
  	  						style="cursor:pointer;">
  	  				<img src="#{applicationData.imagesPath}/icon_play.png" border="0"/>
  	  				<div class="btnOpenPurchase" style="display:none;">
                		<h:outputText value="#{msgs['live.AO.purchase']}"/>
                	</div>
  	  			</a>
  	  		</td>
      </tr>
  	</table>	  	              		       
</f:view>

