<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<table width="184" height="260" border="0" cellspacing="0" cellpadding="0" align="center" style="clear:both;" class="onetouch_tradePage_banner_border">
  <tr valign="middle">
  	<td><a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new1t.gif" border="0"/></a></td>
  </tr>
  <tr height="94px">
	  <td align="center" height="94px">
		  <table border="0" height="94px" cellspacing="0" cellpadding="0"  align="center" style="text-align: #{applicationData.pageAlignment};" class="onetouch_tradePage_banner">
			  <tr>
			  	<td style="padding:5px;"><h:outputText escape="false" value="#{msgs['onetouch.tradepage.right.banner.txt1']}"/>
			  		<a target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" class="onetouch_banner_link"><h:outputText escape="false" value="#{msgs['onetouch.tradepage.right.banner.txt2']}"/></a>&#160;
			  		<h:outputText escape="false" value="#{msgs['onetouch.tradepage.right.banner.txt3']}"/>

			  	</td>
			  </tr>
		  </table>
	  </td>
  </tr>
</table>
</f:view>