<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{applicationData.userLocale}"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.options_broker.metadata.window.title']}"/>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.options_broker.metadata.description']}" />
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['CMS.options_broker.metadata.keywords']}" />
</ui:define>
<ui:define name="title"><h2 class="learn_h2">#{msgs['CMS.options_broker.text.title']}</h2>
</ui:define>
<ui:define name="title_message">
	<h3 class="learn_h3">&#160;</h3>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}" />
</ui:define>
<ui:define name="content">
	<ui:include src="/jsp/options_broker_content.xhtml"></ui:include>
</ui:define>
 <ui:define name="right_side">
  <ui:include src="/jsp/right_side_banners.xhtml">
   <ui:param name="topBnr" value="#{topBanner}" />
   <ui:param name="contactBnr" value="#{contactBanner}" />
   <ui:param name="banner0100" value="true" />
   <ui:param name="BinaryMenu_check" value="true" />
  </ui:include>
 </ui:define>
</ui:composition>
</html>