<f:view
 	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


    <div id="box_Share_nd">
        <div class="right_content_title_#{type}"  style="padding: 20px 0;">
            <h:outputText value="#{msgs['home.page.our.traders.shares']}" escape="false"/>
        </div>

        <div class="ct_img_nd_#{type}">
	        <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}" target="_top" id="readmore_box_share" style="text-decoration: none;" border="0">
	            <h:graphicImage url="#{applicationData.imagesPath}/img_hpShare_#{type}.png" alt="" id="traders_share_image" border="0"/>
	        </h:outputLink>
	    </div>

        <div class="text_nd_#{type}" >
            <div class="rightSide_sub_title">
                <h:outputText value="#{showOff.nameShowOff}" escape="false" style="font-weight: bold;color: #0284d8;"/>
            </div>
            <h:outputText value="#{showOff.textShowOff}" escape="false"/>
            <br/>
            <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}"
            	target="_top" style="text-decoration: none;" border="0">
            	<h:outputText value="#{msgs['box.readmore']}" style="color: #0284d8;" /> »
        	</h:outputLink>
        </div>
    </div>

</f:view>