<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>    
    <script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
    <script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landingContactus_Google_AO_RnDBonus_Clean_Content.css" />
    
</head>
<body id="#{applicationData.userLocale.language}" dir="#{applicationData.pageDirection}" style="background-image:none;">
<f:view locale="#{applicationData.userLocale}" >
<t:saveState value="#{passwordForm}" />
	<h:form id="passwordForm">
		<h:panelGroup>
			<div class="form_logo">
		        <img src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/form_logo.png" alt="logo" />
		    </div>
		    <h1 class="form_title">
		    	<h:outputText value="#{msgs['lp.remarketing.password.title']}" escape="false"/>
		    </h1>
		    <div id="mainDiv">
			    <div class="form_text_blue">
			        <h:outputText value="#{msgs['lp.remarketing.password.enter.data']}" escape="false"/>
			    </div>
		        <div class="input4">
					<h:selectOneMenu styleClass="new_combobox"  id="birthDay" value="#{passwordForm.birthDay}" required="true" vLabel="register.birthday" label="#{msgs['register.birthday']}">
		        		<f:selectItem  itemLabel="#{msgs['register.birthday']}" itemValue="" />
		        		<f:selectItems value="#{applicationData.days}" />
		        	</h:selectOneMenu>
		        	<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
		       		<h:selectOneMenu styleClass="new_combobox" id="birthMonth" value="#{passwordForm.birthMonth}" required="true" vLabel="register.birthmonth" label="#{msgs['register.birthmonth']}">
		       			<f:selectItem  itemLabel="#{msgs['register.birthmonth']}" itemValue="" />
		       			<f:selectItems value="#{applicationData.months}" />
		       		</h:selectOneMenu>
		       		<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
		       		<h:selectOneMenu styleClass="new_combobox"  id="birthYear" value="#{passwordForm.birthYear}" required="true" vLabel="register.birthyear" label="#{msgs['register.birthyear']}">
		       			<f:selectItem  itemLabel="#{msgs['register.birthyear']}" itemValue="" />
		       			<f:selectItems value="#{applicationData.years}" />
		       		</h:selectOneMenu>
		       		<div id="birthMessage"></div>
		            <t:message id="birthError1" for="birthDay" detailFormat="&#160;#{msgs['error.register.day']}" replaceIdWithLabel="false" styleClass="error_messages" style="display:none;"/>
		            <t:message id="birthError2" for="birthMonth" detailFormat="&#160;#{msgs['error.register.month']}" replaceIdWithLabel="false" styleClass="error_messages" style="display:none;"/>
		            <t:message id="birthError3" for="birthYear" detailFormat="&#160;#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="error_messages" style="display:none;"/>
					<t:message id="birthError4" for="birthDateValidate" value="" replaceIdWithLabel="true" styleClass="error_messages" style="display:none;"/>
		        </div>
		        <div class="input1">
		            <h:inputText dir="ltr" maxlength="50" id="email" name="email" value="#{passwordForm.email}" required="true"
		            	onfocus="if(this.value=='#{msgs['register.email']}') this.value=''"
						onblur="if(this.value=='') this.value='#{msgs['register.email']}'"
						validator="#{commonUtil.validateEmailFromUnix}" vLabel="#{msgs['register.email']}" label="#{msgs['register.email']}">
						<f:validator validatorId="org.apache.myfaces.validator.Email" />
					</h:inputText>
					<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
		        </div>
					        	        
	        <div class="submit_button">
		        <t:commandButton
			    	dir="rtl"
		 			id="sendpassword"
		 			image="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_button_submit_#{applicationData.userLocale.language}.png"
			 		onmouseover="Changepic('passwordForm:sendpassword','#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_button_submit_#{applicationData.userLocale.language}.png')"
			 		onmouseout="Changepic('passwordForm:sendpassword','#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_button_submit_#{applicationData.userLocale.language}.png')"
			 		onclick="gowait('passwordForm:sendpassword','passwordForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
			 		        return myfaces.oam.submitForm('passwordForm','passwordForm:hiddenbtn');" >
			 	</t:commandButton>
		 		<h:commandLink action="#{passwordForm.sendPassword}"
		 			id="hiddenbtn" style="display:none"/>
	 		</div>	
			<div id="errorlogin" class="form_text_error">
	        	<h:outputText rendered="#{!commonUtil.hasMessages}" value="#{commonUtil.firstErrorSummaryMessage}" />
	        </div>
	        </div>
	        <!-- <INPUT class="submit_button" TYPE="image" SRC="images/lf_button_submit.png" HEIGHT="55" WIDTH="215" BORDER="0" ALT="Submit Form"> -->
	        <div id="lightbox_close" onclick="parent.closeLightBox('lightform3');">
	        </div>
	        
	        <a href="#" class="form_link" onclick="javascript:parent.closeLightBox('lightform3'); parent.chackForm('lightform2');return false;">
	            <h:outputText value="#{msgs['lp.remarketing.password.back']}" escape="false"/>
	        </a>
        </h:panelGroup>
        <h:panelGroup rendered="#{commonUtil.hasMessages}">
	    	<script>
	    		parent.closeLightBox('lightform3'); 
	    		parent.chackForm('lightform5');
	    		
	    	</script>
	    </h:panelGroup>
	</h:form>
	<script>
		<!--
		fillFields();
		markFirstErrorFieldRed();		
		function fillFields(){
			var email		= document.getElementById('passwordForm:email');
			if (email.value == ''){
				email.value =  '#{msgs['register.email']}';
			}
		}		
		
	   	function markFirstErrorFieldRed(){
	        var alertMsg = "";
	        var mainDiv = document.getElementById("mainDiv");
	        var msgs = mainDiv.getElementsByTagName("SPAN");
	        for (var i = 0; i < msgs.length; i++ ) {
	        	var cls = msgs[i].getAttribute("class");
	        	if (null != cls && cls != "") {
					if (cls == "error_messages") {
			            alertMsg = msgs[i].innerHTML;
			           	if (alertMsg != null && alertMsg != ""){
			                var field = msgs[i].id.split("_");
			                var input = document.getElementById(field[0]);			             
			                if ($(input).is("input")) { //for input boxes
				               $(input.parentNode).addClass( "error" );
	   					       errorField = input;
			                }			               			               			                
			                setTimeout("focusError();",500);
			                break;
			            }
			         }
			     }
	        }
	    }
		
		-->
	</script> 		
</f:view>
</body>
</html>