<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<ui:define name="content">
	<h:panelGroup rendered="#{applicationData.skinId != 8 and applicationData.skinId != 19}">
		<table width="720"  align="center" cellpadding="0" cellspacing="0">
		 		 <tr align="center">
		    		<td lang="tr">
		                <table width="510" cellpadding="1" cellspacing="0">
		                    <tr>
		                    	  <td align="left"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title.gif" width="451" height="39"/></td>
		                    </tr>
		     			    <tr>
		          				<td style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-align:justify;color:#093755;letter-spacing:0.1mm;padding-left:6px">
		          					<h:outputText value="#{msgs['CMS.personalize_content.text.text1']}" escape="false" />
		                       </td>
		                    </tr>
		               </table>
		            </td>
		        </tr>
		        <tr>
		    		<td valign="top"><script type="text/javascript"> personalizeManual('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}','#{applicationData.userLocale.language}_#{applicationData.skinId}');</script>
		   		 </td>
		      </tr>
		      		<tr>
					<td align="center">
					<table border="0" cellspacing="0" cellpadding="0">
											<tr valign="center">
												<td width="720px" align="center">
													<table width="160px" cellpadding="0">
														<tr>
															<td>
																<a href="#{facesContext.externalContext.requestContextPath}/jsp/virtual_tour.jsf"
																   border="0" style="text-align:top;" align="top"  class="howcani">
																<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/wheel.jpg" height="18" style="cursor:pointer;" align="top" border="0"/>
																</a>
															</td>
															<td>
																<a href="#{facesContext.externalContext.requestContextPath}/jsp/virtual_tour.jsf"
																   border="0" style="text-align:top;" align="top"  class="howcani">
																	<h:outputText value="#{msgs['tradingPage.quick']}"/>
																</a>
															</td>
														</tr>
													</table>
												</td>
											</tr>
											</table>
					</td>
				</tr>
		
		</table>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 8 or applicationData.skinId == 19}">
		<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td align="center">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title.jpg" style="cursor:pointer;" align="top" border="0"/>
			</td>
		</tr>
		<TR>
			<td><div style="padding-right:120px; padding-left:130px;font-family: Arial, Helvetica, sans-serif; text-align:left; line-height:14px;
font-size:11px; color:#093755;">
	<h:outputText value="#{msgs['CMS.personalize_content.text.text1']}" escape="false" />
	</div></td>
		</TR>
		<tr>
			<td>
				<script type="text/javascript"> personalizeManual('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}','#{applicationData.userLocale.language}_#{applicationData.skinId}');</script>
			</td>
		</tr>
		<tr>
			<td >
			<table border="0" cellspacing="0" cellpadding="0">
									<tr valign="center">
										<td width="720px" align="center">
											<table width="160px">
												<tr>
													<td>
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/virtual_tour.jsf"
														   border="0" style="text-align:top;" align="top"  class="howcani">
														<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/wheel.jpg" height="18" style="cursor:pointer;" align="top" border="0"/>
														</a>
													</td>
													<td>
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/virtual_tour.jsf"
														   border="0" style="text-align:top;" align="top"  class="howcani">
															<h:outputText value="#{msgs['tradingPage.quick']}"/>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									</table>
			</td>
		</tr>
	</table>
	</h:panelGroup>
</ui:define>
</f:view>