<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		locale="#{applicationData.userLocale}">

<table valign="top" cellspacing="5" cellpadding="0" border="0">

	<tr><td height="20px"></td></tr>
	<tr>
		<td align="left"><span class="pages_text" style="font-size: 13px;"><b><h:outputText value="#{msgs['CMS.privacy_content.text.h1']}" escape='false'/></b></span></td>
	</tr>
	<tr><td height="2px"></td></tr>
	<tr>
		<td align="left"><span class="pages_text" style="font-size: 11px;"><b><h:outputText value="#{msgs['CMS.privacy_content.text.h2']}" escape='false'/></b></span></td>
	</tr>
	<tr>
		<td>
			<br/>
			<span class="pages_text">
				<p>
					<span style="font-size: 12px;">1. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t1']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">2. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t2']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">2.1. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t3']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">2.2. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t4']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">3. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t5']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">4. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t6']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">5. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t7']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">6. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t8']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">7. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t9']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">8. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t10']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">9. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t11']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">10. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t12']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">11. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t13']}" escape='false'/>
				</p>
				<p>
					<span style="font-size: 12px;">12. </span>
					<h:outputText value="#{msgs['CMS.privacy_content.text.t14']}" escape='false'/>
				</p>
			</span>
		</td>
	</tr>

</table>

</f:view>