<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:f="http://java.sun.com/jsf/core"
       xmlns:h="http://java.sun.com/jsf/html"
       xmlns:c="http://java.sun.com/jsp/jstl/core"
       xmlns:t="http://myfaces.apache.org/tomahawk"         >
       <h:panelGroup rendered="#{applicationData.skinId != 17 || applicationData.skinId != 1}">
		  <tr>
			 <td>
				<table  border="0" cellspacing="0" cellpadding="0" align="center">
			  <tr>
				<td class="newOnAo_st">
				  <h:outputText value="#{msgs['CMS.profitlineContent.text.text1']}" escape="false" />
				  <span class="profitline_headline">
				  	<h:outputText value="#{msgs['CMS.profitlineContent.text.text2']}" escape="false" />
				  </span>
				  <br />
				  <h:outputText value="#{msgs['CMS.profitlineContent.text.text3']}" escape="false" />
				  <img src="#{applicationData.imagesPath}/magnifying.gif" />
				  <h:outputText value="#{msgs['CMS.profitlineContent.text.text4']}" escape="false" />
				</td>
			  </tr>
			  <tr>
				<td>
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_graph_profitline.jpg" width="426" height="272" />
				</td>
			  </tr>
			  <tr>
				<td class="newOnAo_st">
					<span class="profitline_headline">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text5']}" escape="false" />
					</span>
					<h:outputText value="#{msgs['CMS.profitlineContent.text.text6']}" escape="false" />
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up_profitline.jpg" width="9" height="5" />
					<h:outputText value="#{msgs['CMS.profitlineContent.text.text7']}" escape="false" />
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down_profitline.jpg" width="9" height="5" />
					<br />
					<br />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text8']}" escape="false" />
					</span>
				</td>
			  </tr>
			  <tr>
			  	<td  height="30">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_info_profitline.gif" width="402" height="17" />
				</td>
			  </tr>
			  <tr>
			  	<td class="newOnAo_st">
			  		<span class="profitline_boldtext">
			  			<h:outputText value="#{msgs['CMS.profitlineContent.text.text9']}" escape="false" />
					</span>
					<h:outputText value="#{msgs['CMS.profitlineContent.text.text10']}" escape="false" />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text11']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text12']}" escape="false" />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text13']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text14']}" escape="false" />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text15']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text16']}" escape="false" />
				</td>
			  </tr>
			</table>
		   </td>
		  </tr>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
		  <tr>
			 <td>
				<table  border="0" cellspacing="0" cellpadding="0" align="center">
			  <tr>
				<td class="newOnAo_st">
				  <h:outputText value="#{msgs['CMS.profitlineContent.text.text1']}" escape="false" />
				  <span class="profitline_headline">
				  	<h:outputText value="#{msgs['CMS.profitlineContent.text.text2']}" escape="false" />
				  </span>
				  <br />
				  <h:outputText value="#{msgs['CMS.profitlineContent.text.text3']}" escape="false" />
				  <img src="#{applicationData.imagesPath}/magnifying.gif" />
				  <h:outputText value="#{msgs['CMS.profitlineContent.text.text4']}" escape="false" />
				</td>
			  </tr>
			  <tr>
				<td>
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_graph_profitline.jpg" width="426" height="272" />
				</td>
			  </tr>
			  <tr>
				<td class="newOnAo_st">
					<span class="profitline_headline">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text5']}" escape="false" />
					</span>
					<h:outputText value="#{msgs['CMS.profitlineContent.text.text6']}" escape="false" />
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up_profitline.jpg" width="9" height="5" />
					<h:outputText value="#{msgs['CMS.profitlineContent.text.text7']}" escape="false" />
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down_profitline.jpg" width="9" height="5" />
					<br />
					<br />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text8']}" escape="false" />
					</span>
				</td>
			  </tr>
			  <tr>
			  	<td  height="30">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_info_profitline.gif" width="402" height="17" />
				</td>
			  </tr>
			  <tr>
			  	<td class="newOnAo_st">
			  		<span class="profitline_boldtext">
			  			<h:outputText value="#{msgs['CMS.profitlineContent.text.text9']}" escape="false" />
					</span>
					<h:outputText value="#{msgs['CMS.profitlineContent.text.text10']}" escape="false" />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text11']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text12']}" escape="false" />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text13']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text14']}" escape="false" />
					<span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text15']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text16']}" escape="false" />
					 <span class="profitline_boldtext">
						<h:outputText value="#{msgs['CMS.profitlineContent.text.text17']}" escape="false" />
					</span>
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text18']}" escape="false" />
					 <h:outputText value="#{msgs['CMS.profitlineContent.text.text19']}" escape="false" />
				</td>
			  </tr>
			</table>
		   </td>
		  </tr>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{applicationData.skinId == 17}">
			 <tr>
			 	<td>
					<table  border="0" cellspacing="0" cellpadding="0" align="center">
				  		<tr>
							<td class="newOnAo_st">
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text1']}" escape="false" />
								<img src="#{applicationData.imagesPath}/magnifying.gif" />
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text2']}" escape="false" />
							</td>
						</tr>
						<tr>
							<td>
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_graph_profitline.jpg" width="426" height="272" />
							</td>
						</tr>
						<tr>
							<td class="newOnAo_st">
								<span class="profitline_headline">
									<h:outputText value="#{msgs['CMS.profitlineContent.text.text3']}" escape="false" />
								</span>
								<br />
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text4']}" escape="false" />
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up_profitline.jpg" width="9" height="5" /><h:outputText value="#{msgs['CMS.profitlineContent.text.text5']}" escape="false" />
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down_profitline.jpg" width="9" height="5" /><h:outputText value="#{msgs['CMS.profitlineContent.text.text6']}" escape="false" />
								<br />
								<span class="profitline_boldtext">
									<h:outputText value="#{msgs['CMS.profitlineContent.text.text7']}" escape="false" />
								</span>
							</td>
						</tr>
						<tr>
							<td  height="30">
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_info_profitline.gif" width="402" height="17" />
							</td>
						</tr>
						<tr>
							<td class="newOnAo_st">
								<span class="profitline_boldtext">
									<h:outputText value="#{msgs['CMS.profitlineContent.text.text8']}" escape="false" />
								</span> 
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text9']}" escape="false" />
								<span class="profitline_boldtext">
									<h:outputText value="#{msgs['CMS.profitlineContent.text.text10']}" escape="false" />
								</span>
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text11']}" escape="false" /> 
								<br />
								<span class="profitline_boldtext">
									<h:outputText value="#{msgs['CMS.profitlineContent.text.text12']}" escape="false" />
								</span>
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text13']}" escape="false" /> 
								<br />
								<span class="profitline_boldtext">
									<h:outputText value="#{msgs['CMS.profitlineContent.text.text14']}" escape="false" />
								</span> 
								<h:outputText value="#{msgs['CMS.profitlineContent.text.text15']}" escape="false" />
							</td>
				  		</tr>
				</table>
		   </td>
		  </tr>
		</h:panelGroup>  
</f:view>