<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>

	<div class="reg_progres_h oH">
		<div class="reg_progres_el1 #{active1}">
			<span class="reg_progres_h1"><h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h1_1']}"/></span>
			<span class="reg_progres_h2"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}"/></span>
			<span class="reg_progres_img">1<span class="reg_progres_img_arr"></span></span>
		</div>
		<div class="reg_progres_el2 #{active2}">
			<span class="reg_progres_h1"><h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h2_1']}"/></span>
			<span class="reg_progres_h2"><h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h2_2']}"/></span>
			<span class="reg_progres_img">2<span class="reg_progres_img_arr"></span></span>
		</div>
		<div class="reg_progres_el3 #{active3}">
			<span class="reg_progres_h1"><h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h3_1']}"/></span>
			<span class="reg_progres_h2"><h:outputText escape="false" value="#{msgs['CMS.reg_progress.text.h3_2']}"/></span>
			<span class="reg_progres_img">3</span>
		</div>
	</div>
</f:view>