<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_unclickable.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.register.metadata.title']}"/>
</ui:define>
<ui:define name="head">
	<script>
		var noPhoneErrorMsg = "#{msgs['CMS.register.text.error.mandatory']}";
		var image_context_path = "#{applicationData.imagesPath}";
		var isShortForm = 'false';
	</script>
</ui:define>
<ui:define name="title">
	<span class="title_size">#{msgs['CMS.register.text.header.openaccount']}</span>
</ui:define>
<ui:define name="title_message">
	<h1 class="title_desc_size">#{msgs['CMS.register.text.header.openaccount.message']}</h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['CMS.register.metadata.title']}"/>
</ui:define>
<ui:define name="menuStripParam">
	<ui:param name="display" value="false" />
</ui:define>
<ui:define name="isRegisterPage">
	<ui:param name="isRegPage" value="true" />
</ui:define>
<ui:define name="isRegisterLitePage">
	<ui:param name="isRegLitePage" value="true" />
</ui:define>
<ui:define name="metaDescription">
    <c:set var="metaDesc" value="#{msgs['CMS.register.metadata.description']}" />
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" />
</ui:define>
<ui:define name="content">
<div id="empty" style="font-size:1px;">&#160;</div>
<script>


<!--

	var userNameErrorMsg="";
	function validateUserName() {
	    var target = document.getElementById("registerForm:userName");
		if(target.value.length>0){
		    var url = "ajax.jsf?username=" + encodeURIComponent(target.value);
		    var ajax = new AJAXInteraction(url, validateCallback);
		    ajax.doGet();
	    }
	}

	function trim(str) {
		return ltrim(rtrim(str));
	}


	function validateCallback(responseXML) {
	   var msg = responseXML.getElementsByTagName("errormsg")[0].firstChild.nodeValue;
	   var check = document.getElementById("registerForm:userNameError");
	   if (check != null) {
	      check.innerHTML = '';
	   }
   	   var mdiv = document.getElementById("userNameMessage");
	   userNameErrorMsg = msg;

       // set the style on the div to invalid
       mdiv.className = "error_messages";
       mdiv.innerHTML = msg;

       if (msg.length<3) {
			mdiv.className = "left_align";
			mdiv.innerHTML='';
     	}
	}

	/*
	   Change the phone code by the value of the country
	*/
	function changePhoneCodeByCountry() {
	    var countryId = document.getElementById("registerForm:countriesList").value;
	    if(countryId == 220){
	    	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
	    		document.getElementById('registerForm:statesList').parentNode.parentNode.style.display='block';
		    	document.getElementById('registerForm:statesLabel').parentNode.parentNode.style.display='block';
		    } else {
			    document.getElementById('registerForm:statesList').parentNode.parentNode.style.display='table-row';
		    	document.getElementById('registerForm:statesLabel').parentNode.parentNode.style.display='table-row';
		    }
		}else{
	    	document.getElementById("registerForm:statesList").parentNode.parentNode.style.display="none";
	    	document.getElementById("registerForm:statesLabel").parentNode.parentNode.style.display="none";
	    }
	    var url = "ajax.jsf?countryId=" + countryId;
	    var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
	    ajax.doGet();
	}

	/*
		callBack function for changePhoneCodeByCountry()
	*/
	function changePhoneCodeByCountryCallback(responseXML) {

	   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
   	   var phoneCodeElm = document.getElementById("registerForm:mobilePhoneCode");
	   phoneCodeElm.value = codeValue;
   	   var phoneCodeElmMobile = document.getElementById("registerForm:landPhoneCode");
   	   phoneCodeElmMobile.value = codeValue;

	}


	//	phone code keyDown
	//  allow tab key
	function phoneKeys(e) {

		var keynum;

		if(window.event) { // IE
		  keynum = e.keyCode;
  		}
  		else if(e.which) {  // Netscape/Firefox/Opera
		  keynum = e.which;
	    }

		if (keynum != 9) {  // tab key
			return false;
	  	}
	}

	function showAgreemen(link){
	    window.open(link.toString(),'','scrollbars=yes,height=600,width=970,resizable=yes,toolbar=yes,screenX=0,left=1024,screenY=0,top=600');
	}

	function validatePage() {
		if (skinId == 8) {
			var cellphoneNumber = document.getElementById("registerForm:mobilePhone");
			var contactBySms = document.getElementById("registerForm:contactBySms");
			if (contactBySms.checked == true && cellphoneNumber.value.length == 0) {
				var mobilePhoneMessage = document.getElementById("mobilePhoneMessage");
				mobilePhoneMessage.innerHTML = noPhoneErrorMsg;
				mobilePhoneMessage.className = "error_messages";
				document.getElementById("registerForm:savelink").src = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_big_u.jpg";
				document.getElementById("registerForm:savelink").disabled = false;
				return false;
			}
		}
		return myfaces.oam.submitForm('registerForm','registerForm:hiddenbtn');
	}

	function validateEmail() {
	    var target = document.getElementById("registerForm:email");
		if (target.value.length > 0){
		    var url = "ajax.jsf?emailValidation=" + encodeURIComponent(target.value);
		    var ajax = new AJAXInteraction(url, validateEmailCallback);
		    ajax.doGet();
	    }
	}

	function validateEmailCallback(responseXML) {
	   var msg = responseXML.getElementsByTagName("emailErrormsg")[0].firstChild.nodeValue;
	   var check = document.getElementById("registerForm:emailError");
	   if (check != null) {
	      check.innerHTML = '';
	   }
   	   var mdiv = document.getElementById("emailMessage");
       // set the style on the div to invalid
       mdiv.className = "error_messages";
       mdiv.innerHTML = msg;
	}


	/*
		insert into register attempts AJAX call
	*/
	function insertUpdateRegisterAttempts() {
		var email = document.getElementById("registerForm:email");
		var firstName = document.getElementById("registerForm:firstName");
		var lastName = document.getElementById("registerForm:lastName");
		var countryId = document.getElementById("registerForm:countriesList");
		var landLinePhone = document.getElementById("registerForm:landLinePhone");
		var mobilePhone = document.getElementById("registerForm:mobilePhone");
		var receiveUpdate = document.getElementById("registerForm:receiveUpdate");
		if (email.value.length > 0 || landLinePhone.value.length > 6 || mobilePhone.value.length > 6 ){
			var dataa = "emailRegisterAttempts=" + encodeURIComponent(email.value) + "&firstNameRegisterAttempts="
	    				+ encodeURIComponent(firstName.value) + "&lastNameRegisterAttempts=" + encodeURIComponent(lastName.value)
	    				+ "&countryRegisterAttempts=" + encodeURIComponent(countryId.value) + "&mobilePhoneRegisterAttempts=" + encodeURIComponent(mobilePhone.value)
	    				+ "&landLinePhoneRegisterAttempts=" + encodeURIComponent(landLinePhone.value)
	     				+ "&contactEmailRegisterAttempts=true" 
	     				+ "&contactSMSRegisterAttempts=true"
	     				+ "&isShortForm=" + isShortForm;
			$.ajax({
				   type: "POST",
				   url: "ajax.jsf",
				   data: dataa
			});

	/*    	var ajax = new AJAXInteraction(url, null);
	    	ajax.doGet();
	*/
	    }
	}

 -->

</script>
		<ui:include src="/jsp/focus.xhtml" />
		<h:panelGroup rendered="#{!applicationData.arriveFromContactusLanding}" >
			<table border="0" height="106" width="730" cellpadding="0" cellspacing="0">
				<tr height="20" >
					<td height="20" width="100%"></td>
				</tr>
				<tr height="14" >
					<td width="100%" >
						<h2 style="margin:0px;padding:0px;text-align:#{applicationData.pageAlignment}"><h:outputText class="register_steps" value="#{msgs['CMS.register.text.three.steps']}"/></h2>
					</td>
				</tr>
				<tr height="20" >
					<td height="20" width="100%"></td>
				</tr>
				<tr height="52">
					<td width="730" height="52" align="#{applicationData.pageAlignment}">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/register_bnr_lite.gif" alt="#{msgs['CMS.register.alt.register_bnr.gif']}" height="52px" width="925px" />
					</td>
				</tr>
			</table>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.arriveFromContactusLanding}" >
			<br/><br/>
			<table border="0" height="109px" width="650px" cellpadding="0" cellspacing="0">
				<tr height="32px" valign="top" align="" dir="">
		      		<td style="background-image:url(../images/afterShortForm.jpg);" width="650px" height="109px">
						<div style="margin-left:100px;margin-top:30px;">
							<span style="font-family: verdana;Color: #093755;font-size: 14px;">
								<h:outputText id="firstNameShortForm" escape="false" value="#{applicationData.contactusLandingMsg}" />
							</span>
						</div>
		      		</td>
				</tr>
			</table>
		</h:panelGroup>
		<a name="br"><br/></a>		
		<!-- START REGISTER LITE -->
	<h:panelGroup dir="#{applicationData.pageDirection}" width="730px"  >
		<h:form id="registerForm">				
			<h:panelGrid columns="1" border="0" width="730px" style="text-align:left; margin: 20px 0 0 200px;" >
				<h:panelGroup rendered="#{commonUtil.hasMessages}" >
					<t:messages id="messages" globalOnly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
				</h:panelGroup>
				<h:panelGrid width="100%" columns="3" border="0" columnClasses="#{applicationData.columnClassesDirectionRegister}" >
					<h2 class="register_header" style="margin:0px;padding:0px;">#{msgs['CMS.registerContent.text.register.account.details']}</h2>
					<h:panelGrid width="3px" columns="1" border="0"  />
					<h:panelGrid  width="500px" class="" border="0" columns="1" ><h:outputText class="register_header" value=""/></h:panelGrid>

					<h:outputLabel align="right" styleClass="new_lable" for="firstName" value="#{msgs['CMS.registerContent.label.register.firstname']}" />
					<h:panelGrid width="3px" columns="1" border="0" />
					<h:panelGrid columns="3" border="0">
						<h:inputText styleClass="new_input" size="37" maxlength="15" id="firstName" value="#{registerForm.firstName}" required="true" validator="#{commonUtil.validateName}" />
						<div id="firstNameMessage"></div>
						<t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" styleClass="error_messages"/>
						<script>setFocus('firstNameError');</script>
					</h:panelGrid>
					
					<h:outputLabel align="right" styleClass="new_lable" for="lastName" value="#{msgs['CMS.registerContent.label.register.lastname']}" />
					<h:panelGrid  width="3px" columns="1" border="0" />
					<h:panelGrid  columns="3" border="0">
						<h:inputText styleClass="new_input" size="37" maxlength="15" id="lastName" value="#{registerForm.lastName}" required="true" validator="#{commonUtil.validateName}" />
						<div id="lastNameMessage">    </div>
						<t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
						<script>setFocus('lastNameError');</script>
					</h:panelGrid>

					<h:outputLabel align="right" styleClass="new_lable" for="email" value="#{msgs['CMS.registerContent.label.register.email']}" />
					<h:panelGrid width="3px" columns="1" border="0" />
					<h:panelGrid columns="3" border="0">
						<h:inputText dir="ltr" size="37" maxlength="50" styleClass="new_input" id="email" value="#{registerForm.email}"  validator="#{commonUtil.validateEmailFromUnix}" 
							required="true" onblur="validateEmail();insertUpdateRegisterAttempts();">
							<f:validator validatorId="org.apache.myfaces.validator.Email"/>
						</h:inputText>
						<div id="emailMessage"></div>
						<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
						<script>setFocus('emailError');</script>
					</h:panelGrid>

					<h:outputLabel align="right" styleClass="new_lable" for="mobilePhone" value="#{msgs['CMS.registerContent.label.register.mobilephone']}" />
					<h:outputLabel  width="3px" align="center" styleClass="new_lable" value="" />
					<h:panelGrid columns="2" border="0" >
						<h:panelGrid columns="5" border="0" dir="ltr" cellspacing="0" cellpadding="0">
							<h:outputLabel  width="3px" align="center" styleClass="new_lable" value="+" />
							<h:inputText maxlength="4" styleClass="new_input" style="width:45px;" dir="ltr" id="mobilePhoneCode" value="#{registerForm.mobilePhoneCode}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onkeydown="return phoneKeys(event);">
								<f:validateLongRange/>
								<f:validateLength minimum='1' maximum='4'/>
							</h:inputText>
							<h:panelGrid width="5px" columns="1" border="0"  />
							<h:inputText maxlength="20" styleClass="new_input" style="width:100px;" dir="ltr" id="mobilePhone" value="#{registerForm.mobilePhone}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onblur="insertUpdateRegisterAttempts();">
								<f:validateLength minimum='7' maximum='20'/>
								<f:validateLongRange/>
							</h:inputText>
							<h:panelGrid columns="1" border="0" rendered="#{applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId != 192 &amp;&amp; applicationData.realCountryId != 0}">
								<img align="left"
									src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/i.jpg" alt="#{msgs['CMS.registerContent.alt.i.jpg']}"
									onmouseOver="showCurrHint_nd(this, 'currencyMessage', 'infoPic', '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/i_over.jpg')"
									onmouseout="hideCurrHint_nd(this, 'infoPic', '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/i.jpg')"
									style="cursor:pointer"
									id="infoPic"/>
								<div id="mobilePhoneMessage" style="display:none;">#{msgs['CMS.registerContent.text.register.mobilePhone.info']}</div>
							</h:panelGrid>
						</h:panelGrid>
						<h:panelGrid columns="2">
								<div id="mobilePhoneMessage"></div>
								<t:message id="mobilePhoneCodeError" for="mobilePhoneCode"  replaceIdWithLabel="true" styleClass="error_messages"/>
								<t:message id="mobilePhoneError" for="mobilePhone"  replaceIdWithLabel="true" styleClass="error_messages"/>
								<h:panelGroup rendered="#{applicationData.skinId == 10}">
									<script>
									if (document.getElementById('registerForm:mobilePhone').value=='') {
										if (document.getElementById('registerForm:mobilePhoneError')==null) {
											var mdiv = document.getElementById("mobilePhoneMessage");
											mdiv.className = "pages_text_info";
											mdiv.innerHTML = "Пожалуйста, укажите код страны и региона";
										}
									}
									</script>
								</h:panelGroup>
								<h:panelGroup rendered="#{applicationData.skinId != 10}">
									<script>
										setFocus('mobilePhoneCodeError');
										setFocus('mobilePhoneError');
									</script>
								</h:panelGroup>
						</h:panelGrid>
					</h:panelGrid>

					<h:outputLabel styleClass="new_lable" for="userName" value="#{msgs['CMS.registerContent.label.register.username']}" />
					<h:panelGrid width="3px" columns="1" border="0"  />
					<h:panelGrid columns="3" border="0">
						<h:inputText dir="ltr" autocomplete="off" onblur="validateUserName()"
						styleClass="new_input" size="37" maxlength="15"
						id="userName" value="#{registerForm.userName}" required="true"
						validator="#{commonUtil.validateLettersAndNumbersOnly}" >
						<f:validateLength minimum='6' maximum='15'/>

						</h:inputText>
						<div id="userNameMessage" class = "left_align" >  </div>
						<t:message id="userNameError" for="userName" align="left" replaceIdWithLabel="true" styleClass="error_messages"/>
						<script>
						if (document.getElementById('registerForm:userName').value == '') {
							if (document.getElementById('registerForm:userNameError').innerHTML.length == 0) {
								var mdiv = document.getElementById("userNameMessage");
								mdiv.className = "pages_text_info";
								mdiv.innerHTML = '#{msgs['CMS.registerContent.text.error.englishandnumbers.only']}';
							}
						}
						setFocus('userNameError');
						</script>
					</h:panelGrid>


					<h:outputLabel align="right" styleClass="new_lable" for="password" value="#{msgs['CMS.registerContent.label.register.password']}" />
					<h:panelGrid width="3px" columns="1" border="0"  />
					<h:panelGrid columns="3" border="0">
						<t:inputSecret dir="ltr" styleClass="new_input" size="37" maxlength="9" redisplay="true" id="password" value="#{registerForm.password}" required="true"
								validator="#{commonUtil.validatePasswordTypeAndSize}">
						</t:inputSecret>
						<div id="passwordMessage">    </div>
						<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error_messages"/>
						<script>
							if (document.getElementById('registerForm:password').value=='') {
								if (document.getElementById('registerForm:passwordError')==null) {
									var mdiv = document.getElementById("passwordMessage");
									mdiv.className = "pages_text_info";
									mdiv.innerHTML = '#{msgs['CMS.registerContent.text.error.englishandnumbers.only']}';
								}
							}
							setFocus('passwordError');
						</script>
					</h:panelGrid>

					<h:outputLabel align="right" styleClass="new_lable" for="password2" value="#{msgs['CMS.registerContent.label.register.retype']}"  />
					<h:panelGrid width="3px" columns="1" border="0"  />
					<h:panelGrid columns="3" border="0">
						<t:inputSecret dir="ltr" styleClass="new_input" size="37" maxlength="9" redisplay="true" id="password2" value="#{registerForm.password2}" required="true"
							validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
						</t:inputSecret>
						<div id="password2Message">    </div>
						<t:message id="password2Error" for="password2" replaceIdWithLabel="true" styleClass="error_messages"/>
						<script>setFocus('password2Error');</script>
					</h:panelGrid>

					<h:outputLabel style="display:none;"  align="right" styleClass="new_lable" for="countriesList" value="#{msgs['CMS.registerContent.label.register.country']}"   />
					<h:panelGrid style="display:none;"   width="3px" columns="1" border="0" />
					<h:panelGrid style="display:none;"  columns="2" border="0" >
						<h:selectOneMenu rendered="#{!commonUtil.skinRegulated}" disabled="#{applicationData.usSkins}" styleClass="new_combobox" id="countriesList" value="#{registerForm.countryId}" required="true" onchange="changePhoneCodeByCountry();" >
							<f:selectItems value="#{applicationData.countriesList}" />
						</h:selectOneMenu>
						<h:selectOneMenu rendered="#{commonUtil.skinRegulated}" styleClass="new_combobox" id="countriesListRegulated" value="#{registerForm.countryId}" required="true" onchange="changePhoneCodeByCountry();" >
							<f:selectItems value="#{applicationData.countriesListRegulation}" />
						</h:selectOneMenu>
						<t:message id="empty3" replaceIdWithLabel="true"/>
						<script> document.getElementById("empty").style.display="none";</script>
					</h:panelGrid>

					<h:outputLabel id="statesLabel"  styleClass="new_lable" for="statesList" value="#{msgs['CMS.registerContent.label.register.state']}"   />
					<h:panelGrid  width="3px" columns="1" border="0" />
					<h:panelGrid columns="1" border="0">
					   <h:selectOneMenu styleClass="new_combobox"  id="statesList" value="#{registerForm.stateId}" required="true">
							 <f:selectItems value="#{applicationData.statesList}" />
						</h:selectOneMenu>
					</h:panelGrid>

					<h:outputText align="right" id="birth" styleClass="new_lable" value="#{msgs['CMS.registerContent.label.register.birthdate']}"  />
					<h:panelGrid  width="3px" columns="1" border="0" />
					<h:panelGrid columns="1" border="0" width="100%">
						<h:panelGrid columns="13" border="0" cellspacing="0" cellpadding="0">
								<h:selectOneMenu styleClass="new_combobox"  id="birthDay" value="#{registerForm.birthDay}" required="true" style="width:49px">
									<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.birthday']}" itemValue="" />
									<f:selectItems value="#{applicationData.days}" />
								</h:selectOneMenu>
								<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
								<h:selectOneMenu styleClass="new_combobox" id="birthMonth" value="#{registerForm.birthMonth}" required="true" style="width:59px">
									<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.birthmonth']}" itemValue="" />
									<f:selectItems value="#{applicationData.months}" />
								</h:selectOneMenu>
								<img align="left" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
								<h:selectOneMenu styleClass="new_combobox"  id="birthYear" value="#{registerForm.birthYear}" required="true" style="width:55px">
									<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.birthyear']}" itemValue="" />
									<f:selectItems value="#{applicationData.years}" />
								</h:selectOneMenu>
								<div id="birthMessage" ></div>
								<t:message id="birthYearError" for="birthYear" detailFormat="&#160;#{msgs['CMS.registerContent.text.error.register.year']}" replaceIdWithLabel="true" styleClass="error_messages"/>
								<t:message id="birthMonthError" for="birthMonth" detailFormat="&#160;#{msgs['CMS.registerContent.text.error.register.month']}" replaceIdWithLabel="true" styleClass="error_messages"/>
								<t:message id="birthDayError" for="birthDay" detailFormat="&#160;#{msgs['CMS.registerContent.text.error.register.day']}" replaceIdWithLabel="true" styleClass="error_messages"/>
								<script>
									setFocus('birthYearError');
									setFocus('birthMonthError');
									setFocus('birthDayError');
								</script>
								<t:message id="birthError" for="birth" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGrid>
					</h:panelGrid>
					
		            <h:outputLabel align="left" styleClass="new_lable" for="gender" value="#{msgs['CMS.registerContent.label.register.gender']}"/>
		            <h:panelGrid  width="3px" columns="1" border="0"  />
		  			<h:panelGrid  columns="2" border="0" >
		                <t:selectOneRadio styleClass="new_lable"  id="gender" value="#{registerForm.gender}" required="true">
		            		<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.gender.male']}" itemValue="M" />
							<f:selectItem  itemLabel="#{msgs['CMS.registerContent.label.register.gender.female']}" itemValue="F" />
		            	</t:selectOneRadio>
		            	<t:message id="genderError" for="gender" replaceIdWithLabel="true" styleClass="error_messages"/>
						   <script>setFocus('genderError');</script>
		            </h:panelGrid>					

					<h:outputLabel style="display:none;" align="right" styleClass="new_lable" for="landLinePhone" value="#{msgs['CMS.registerContent.label.register.phone']}"  />
					<h:outputLabel style="display:none;"  width="3px" align="center" styleClass="new_lable"  value="" />
					<h:panelGrid style="display:none;" columns="2" border="0">
						<h:panelGrid columns="4" border="0" dir="ltr" cellspacing="0" cellpadding="0">
							<h:outputLabel  width="3px" align="center" styleClass="new_lable"  value="+" />
		               	   	<h:inputText maxlength="4" styleClass="new_input" style="width:45px;" dir="ltr" id="landPhoneCode" value="#{registerForm.landPhoneCode}"  onkeydown="return phoneKeys(event);">
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='1' maximum='4'/>
		                	</h:inputText>
							<h:panelGrid width="5px" columns="1" border="0"  />
		               	   	<h:inputText maxlength="20" styleClass="new_input" style="width:100px;" dir="ltr" id="landLinePhone" value="#{registerForm.landLinePhone}" onblur="insertUpdateRegisterAttempts();">
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='7' maximum='20'/>
		                	</h:inputText>
			            </h:panelGrid>
			            <h:panelGrid columns="2">
	 						<t:message id="landPhoneCodeError" for="landPhoneCode" replaceIdWithLabel="true" styleClass="error_messages"/>
	  		    	        <t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
						    <script>
								setFocus('landPhoneCodeError');
								setFocus('landLinePhoneError');
							</script>
				   	    </h:panelGrid>
		            </h:panelGrid>
		            
		            <h:outputLabel align="right" styleClass="new_lable" for="passportId" value="#{msgs['register.passport.id']}"  rendered="#{commonUtil.skinRegulated}"/>
		            <h:panelGrid  width="3px" columns="1" border="0" rendered="#{commonUtil.skinRegulated}"/>
		            <h:panelGrid  columns="2" border="0" rendered="#{commonUtil.skinRegulated}">
		                <h:inputText maxlength="9" styleClass="new_input" dir="ltr" id="passportId" value="#{registerForm.idNum}" validator="#{commonUtil.validateLettersAndNumbersOnly}"/>
		            	<t:message id="passportIdError" for="passportId" replaceIdWithLabel="true" styleClass="error_messages"/>
		            	<script>setFocus('passportIdError');</script>
					</h:panelGrid>
					
           			<h:panelGrid width="140px" cellspacing="0" cellpadding="0"/>
	 			    <h:panelGrid width="3px" columns="1" border="0"  />
   	 			    <h:panelGrid columns="2" border="0" >
	           			<h:selectBooleanCheckbox id="terms" escape="false" value="#{registerForm.terms}" required="true"></h:selectBooleanCheckbox>
			   			<h:panelGrid column="2" border="0" cellspacing="0" cellpadding="0" >
							<h:outputText styleClass="terms_link" escape="false" value="#{msgs['CMS.registerContent.text.register.terms']}" onclick="showAgreemen('#{facesContext.externalContext.requestContextPath}/jsp/anyoption_agreement.jsf?refresh=true');" />
						    <t:message id="termsError" for="terms" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGrid >
			             <!-- h:selectBooleanCheckbox rendered="#{applicationData.skinId==16}" escape="false" value="#{registerForm.tempWCApproval}" required="true"></h:selectBooleanCheckbox>
			   			<h:panelGrid column="2" border="0" cellspacing="0" cellpadding="0" rendered="#{applicationData.skinId==16}" >
							<h:outputText styleClass="terms_link" escape="false" value="World Check for short regulation testing"/>
			            </h:panelGrid -->
					</h:panelGrid>

					<h:panelGrid width="140px" cellspacing="0" cellpadding="0"/>
	 			    <h:panelGrid width="3px" columns="1" border="0"  />
	 			    <h:panelGrid columns="2" border="0" >
						<h:panelGrid columns="1" border="0" width="295px" >
					        <t:commandButton
				         		id="savelink"
				         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_button_u.png"
				         		onmouseover="Changepic('registerForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_button_d.png')"
				         		onmouseout="Changepic('registerForm:savelink','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_button_u.png')"
				         		onclick="gowait('registerForm:savelink','registerForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loadin.gif');
				         		        return myfaces.oam.submitForm('registerForm','registerForm:hiddenbtn');" >
				         	</t:commandButton>
				         	<h:commandLink action="#{registerForm.insertUser}" id="hiddenbtn" style="display:none"/>
					    </h:panelGrid>
					</h:panelGrid>
	           	</h:panelGrid>
			</h:panelGrid>

		</h:form>
	</h:panelGroup>
	<c:if test="${applicationData.firstTimePixel}">
	   <h:panelGroup rendered="#{applicationData.isLive &amp;&amp; applicationData.combinationId == '2059'}">
	   		<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['showPixel']==true)}">
		    	<script>alert('first time pixel: Floodlight');</script>
	    	</h:panelGroup>
			<!-- 
				Tag for Activity Group: AnyOption, Activity Name: AnyOption:Registro, Activity ID: 701447
				Expected URL: https://www.anyoption.com/jsp/register.jsf 
				Activity ID: 701447
				Activity Name: AnyOption:Registro
				Activity Group Name: AnyOption
		
				Start of DoubleClick Floodlight Tag: Please do not remove
				Activity name of this tag: AnyOption:Registro
				URL of the webpage where the tag is expected to be placed: https://www.anyoption.com/jsp/register.jsf
				This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
				Creation Date: 06/24/2010
			-->
			<script type="text/javascript">
				var axel = Math.random() + "";
				var a = axel * 10000000000000;
				document.write('<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=' + a + '?" width="1" height="1" frameborder="0"></iframe>');
			</script>
			<noscript>
				<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=1?" width="1" height="1" frameborder="0"></iframe>
			</noscript>
			<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
		</h:panelGroup>
	
		<c:if test="${applicationData.isLive &amp;&amp; fromLandingPage == 'true'}">
			<c:if test="${applicationData.skinId == 8 || applicationData.skinId == 9 || applicationData.skinId == 5}">
				<!--Short Registration Pixel 
				PIXEL-11282012-626
				Activity Name: AnyOption-Registration_Page-Retargeting
				DataXu tag:-->
				<img src="https://securetags.w55c.net/rs?id=7c21bb9c24c74a718477fea96f7418c7&amp;t=cart&amp;sku=$SKUS" />
			</c:if>	
	
		</c:if>
	</c:if>

	<script>
		if (document.getElementById("registerForm:countriesList")) {
			var countryId = document.getElementById("registerForm:countriesList").value;
		} else if (document.getElementById("registerForm:countriesListRegulated")) {
			var countryId = document.getElementById("registerForm:countriesListRegulated").value;
		}
		else {
			countryId == 219
		}
		if(countryId != 220 ){
	  		document.getElementById("registerForm:statesList").parentNode.parentNode.style.display="none";
		  	document.getElementById("registerForm:statesLabel").parentNode.parentNode.style.display="none";
	  	}
		validateUserName();
		/*
		   Change the phone code by the value of the country
		*/
		function changePhoneCodeByCountry() {
			if (document.getElementById("registerForm:countriesList")) {
				var countryId = document.getElementById("registerForm:countriesList").value;
			} else if (document.getElementById("registerForm:countriesListRegulated")) {
				var countryId = document.getElementById("registerForm:countriesListRegulated").value;
			}
			else {
				countryId == 219
			}
			if(countryId == 220){
				document.getElementById('registerForm:statesList').parentNode.parentNode.style.display='';
				document.getElementById('registerForm:statesLabel').parentNode.parentNode.style.display='';	
			}else{
				document.getElementById("registerForm:statesList").parentNode.parentNode.style.display="none";
				document.getElementById("registerForm:statesLabel").parentNode.parentNode.style.display="none";
			}
			var url = "ajax.jsf?countryId=" + countryId;
			var  ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
			ajax.doGet();
		}

		// Insert register attemps when coming from landing pages
		var params = window.location.search.substr(1);
		if (params.indexOf("regAtt=true") > -1) {
			isShortForm = 'true';
			insertUpdateRegisterAttempts();
		}
	</script>		
		
		
		
		<!-- END   REGISTER LITE -->
  	    <h:outputText rendered="#{applicationData.isLive &amp;&amp; fromLandingPage == 'true'}" value="#{pixelGenerator.regLandingPixel}" escape="false" />
</ui:define>
</ui:composition>
</html>