<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="contactBannerChange">
	<c:set var="contactBanner" value="none"></c:set>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['password.description']}" />
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['resetPass.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.resetPassword']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color: #0284D6;"><h:outputText value="#{msgs['header.myaccount.message.changePass']}"/></h1>
</ui:define>
<ui:define name="content">
    <h:form id="resetPasswordForm">
    	#{resetPasswordForm.emptyString}
    	<t:saveState value="#{resetPasswordForm}" />
    	<table width="100%">
    		<tr><td height="20">&#160;</td></tr>
			<tr>
				<td align="center">
    				<h:panelGrid cellspacing="0" cellpadding="0" columns="1" align="center">
						<h:outputText rendered="#{resetPasswordForm.showFields}" value="#{msgs['password.reset.header']}" styleClass="info_pages_text_header" />
						<br/>
						<h:panelGrid rendered="#{resetPasswordForm.showFields}" cellspacing="0" cellpadding="4" columns="2" columnClasses="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}">
							<h:outputLabel styleClass="new_lable" for="userName" value="#{msgs['register.username']}"/>
			                <h:inputText disabled="true" styleClass="new_input" id="userName" value="#{resetPasswordForm.userName}" required="true" redisplay="true" />

			                <h:outputLabel styleClass="new_lable" for="password" value="#{msgs['register.newpassword']}"/>
			                <h:panelGrid columns="2" cellspacing="0" cellpadding="0">
				                <h:inputSecret styleClass="new_input" id="password" maxlength="9" value="#{resetPasswordForm.password}" required="true" redisplay="true"
						                validator="#{commonUtil.validatePasswordTypeAndSize}">
				                </h:inputSecret>
				                <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error_messages"/>
			                </h:panelGrid>

			                <h:outputLabel styleClass="new_lable" for="password2" value="#{msgs['register.retypeNewPassword']}"/>
			        		<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
				                <h:inputSecret styleClass="new_input" id="password2" maxlength="9" value="#{resetPasswordForm.rePassword}" required="true"
				                 validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
				                </h:inputSecret>
				                <t:message id="passwordError2" for="password2" replaceIdWithLabel="true" styleClass="error_messages"/>
			          		</h:panelGrid>

				     		<h:panelGrid/>
							<h:panelGrid cellspacing="0" cellpadding="0" columns="2" border="0" width="100%" columnClasses="#{applicationData.columnClassesDirectionReverse}">
								<t:commandButton
					         		id="button"
					         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
					         		onmouseover="Changepic('resetPasswordForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
					         		onmouseout="Changepic('resetPasswordForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
					         		onclick="gowait('resetPasswordForm:button','resetPasswordForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
					         		 		 return myfaces.oam.submitForm('resetPasswordForm','resetPasswordForm:hiddenbtn');" >
					         	</t:commandButton>
				         		<h:commandLink action="#{resetPasswordForm.changePassword}" id="hiddenbtn" style="display:none"/>
					  		</h:panelGrid>
			       		</h:panelGrid>

			       		<h:panelGroup rendered="#{commonUtil.hasMessages}">
							<t:messages id="messages" layout="table" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
			           	</h:panelGroup>
					</h:panelGrid>
				</td>
			</tr>
		</table>
    </h:form>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</html>