<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<head>
	<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js"></script>
	<meta http-equiv="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<f:view locale="#{applicationData.userLocale}">
<body dir="#{applicationData.pageDirection}">
	<script>
		// function names are messed up - getUrlLower openes link from upper portion of the banner
		function getUrlLower(){
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
		}
		function getUrlUpper(){
		<h:panelGroup rendered="#{empty context.getExternalContext.remoteUser}">
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"
		</h:panelGroup>
		<h:panelGroup rendered="#{!empty context.getExternalContext.remoteUser}">
			/* mark for IT script*/ window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
		</h:panelGroup>
		}
		document.domain = "#{applicationData.domainUrl}";
	</script>


	<c:if test="${empty sessionScope.user}">
		<div id="logedOut_banners" style="width:187px;">
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['topBnr']!='contactBanner'}" >
			<c:if test="${!applicationData.isHasOpenOneTouchForUser}">
				<img onclick="getUrlUpper()" style="cursor:pointer" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/topbnr.gif" border="0"/>
			</c:if>
			<c:if test="${applicationData.isHasOpenOneTouchForUser}">
				<ui:include src="/jsp/onetouchTradePageBanner.xhtml" />
			</c:if>
		</h:panelGroup><!-- NO BANNER FOR TLV -->
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['topBnr']=='contactBanner' &amp;&amp; applicationData.skinId != 11 }" >
			<ui:include src="/jsp/supportContactusTextBannerOld.xhtml" />
			<!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/contactus.gif" width="186px" height="#{applicationData.usSkins? '66px':'260px'}" /> -->
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 11}"> <!-- TLV -->
			<img height="5px" width="250px" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/horizontal_small_devider.gif" />
		</h:panelGroup>
		<a target="_top" style="margin-top:15px;display:block;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}">
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/opnbtn.gif" border="0" height="#{applicationData.skinId == 11? '29px' : '60px'}" width="#{applicationData.skinId == 11? '250px' : '186px'}"/>
		</a>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['inrPg'] &amp;&amp; applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 4 &amp;&amp; applicationData.skinId != 9 &amp;&amp; applicationData.skinId != 14}">
			<ui:include src="/jsp/binary0100banner.xhtml" >
				<ui:param name="type" value="right_banner" />
			</ui:include>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 11}">
			<img height="5px" width="250px" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/horizontal_small_devider.gif" />
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['contactBnr']!='none'}">
			<iframe align="top" id="contactmeiframe" name="contactmeiframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.tlvPath}contactme.jsf" width="186" height="198" scrolling="no" ></iframe>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['contactBnr']=='none'}">
			<h:panelGroup rendered="#{applicationData.skinId != 15 &amp;&amp; !applicationData.rtlAlign &amp;&amp; applicationData.realCountryId != 97 &amp;&amp; applicationData.realCountryId != 158 &amp;&amp; applicationData.realCountryId != 151}"><!--LivePerson Button Code -->
				<ui:include src="/jsp/livePersonCUBtn.xhtml"></ui:include>
			</h:panelGroup>
		</h:panelGroup>
		</div>
	</c:if>
	<c:if test="${!empty sessionScope.user}">
		<div id="logedIn_banners">
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['topBnr']!='contactBanner'}">
				<iframe align="left" id="right_side_investments" name="right_side_investments" src="#{facesContext.externalContext.requestContextPath}/jsp/investments_profit_box_TP_inner.jsf" width="186" height="262" frameborder="no" scrolling="no"></iframe>						
			</h:panelGroup>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['inrPg'] &amp;&amp; applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 4 &amp;&amp; applicationData.skinId != 9 &amp;&amp; applicationData.skinId != 14}">
				<ui:include src="/jsp/binary0100banner.xhtml" >
					<ui:param name="type" value="right_banner" />
				</ui:include>
			</h:panelGroup>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['topBnr']=='contactBanner'}">
				<ui:include src="/jsp/supportContactusTextBannerOld.xhtml" />
			</h:panelGroup>
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['topBnr']!='contactBanner'}" >
				<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
					<img onclick="getUrlUpper()" style="cursor:pointer" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/topbnr.gif" border="0"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
					<ui:include src="/jsp/onetouchTradePageBanner.xhtml"/>
				</h:panelGroup>
			</h:panelGroup><!-- NO BANNER FOR TLV -->
			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['topBnr']=='contactBanner' &amp;&amp; applicationData.skinId != 11} " >
				<ui:include src="/jsp/supportContactusTextBannerOld.xhtml" />
				<!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/contactus.gif" width="186px" height="#{applicationData.usSkins? '66px':'260px'}"  /> -->
			</h:panelGroup>
		</div>
	</c:if>
</body>


</f:view>
</html>