<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<meta HTTP-EQUIV="refresh" CONTENT="#{applicationData.rssFeedReloadSec}" />
	</h:panelGroup>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >

	<table width="210" height="171px" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<h:outputText styleClass="info_head" style="text-transform:uppercase;" value="#{msgs['rss.feed.page']}" />
			</td>
		</tr>
		<tr>
			<td height="12px"></td>
		</tr>
		<tr>
			<td>
					<marquee direction="up" scrollAmount="1" scrollDelay="1" onmouseover="this.stop();" onmouseout="this.start();" width="185px" height="117px">
						<table height="100%" border="0" cellpadding="0" cellspacing="0">
							<t:dataList value="#{applicationData.rssItems}" var="item" rowIndexVar="crrInvestmentIndex" layout="simple" rows="10">
								<tr>
									<td>
										<a href="#" onclick="window.open('#{item.link}','','scrollbars=yes,height=800,width=800,resizable=yes,toolbar=yes');" class="rss_feed_link" style="vertical-align:bottom;line-height:12px;"><h:outputText value="#{item.title}"/></a>
									</td>
								</tr>
								<tr valign="top">
									<td valign="top" width="210">
										<b><h:outputText styleClass="pages_text" style="font-weight:bold; vertical-align:top;" value="#{item.pubDateFormating}" escape="false"/></b><br/><br/>
									</td>
								</tr>
								<tr valign="bottom">
									<td valign="bottom" width="210">
										<h:outputText styleClass="pages_text" style="line-height: 13px; vertical-align:bottom;" value="#{item.descriptionContent}" escape="false"/>
									</td>
								</tr>
								<tr height="1px"><td>&#160;</td></tr>
							</t:dataList>
						</table>
					</marquee>
			</td>
		</tr>
	</table>
</f:view>
</body>
</html>