<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<f:view locale="#{applicationData.userLocale}">

<body style="margin: 0px;background:none;">
	<div class="smartphone_pop2">
   	   <div class="lsmartphone_ightB" style="float:right; padding-right:20px; padding-top:20px;cursor: pointer;" onclick="parent.stopThickBox()"><strong>X</strong></div>
	   <div class="smartphone_pop2_text"><strong><span class="smartphone_lightB"><h:outputText value="#{msgs['smartphone.sendsms.succ.txt1']}" escape="false" /> <br />
	    <h:outputText value="#{msgs['smartphone.sendsms.succ.txt2']}" escape="false" /></span></strong><br /><br />
	    <h:outputText value="#{msgs['smartphone.sendsms.succ.txt3']}" escape="false" /> <br />
	    <h:outputText value="#{msgs['smartphone.sendsms.succ.txt4']}" escape="false" />
	  	</div>
	</div>
</body>
</f:view>
</html>