<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landingContactus_Google_AO_RnDBonus_Clean_Content.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
<script src="#{facesContext.externalContext.requestContextPath}/js/validation_popup.js"></script>
<script>

	var lettersandnumbers = '#{msgs['error.lettersandnumbers.only']}';
	var passwordSmall = '#{msgs['error.password.smallsize']}';
	var usernameSmall = '#{msgs['error.username.ajaxerror']}';
	var emptyfield = '#{msgs['header.login.error']}';

</script>
</head>
<body id="#{applicationData.userLocale.language}" style="background:none; margin:0px; padding:0px;">
	<f:view locale="#{applicationData.userLocale}">
		<h:form id="loginForm">
		#{loginForm.loginFromNewDomain(2)}
		#{applicationData.showedNonDepositorPopup}
		<div class="form_logo" id="mainDiv">
	            <img src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/form_logo.png" alt="logo" />
	        </div>
	        <h1 class="form_title">
	        	<h:outputText value="#{msgs['lp.remarketing.rnd.signin.after.reset.pass.title']}" escape="false"/>
	        </h1>
	        <div class="form_text_blue">
	        	<h:outputText value="#{msgs['lp.remarketing.rnd.signin.after.reset.pass.ready']}" escape="false"/>
	        </div>
	        <div class="input1">
	            <h:inputText  autocomplete="off" maxlength="50"
					dir="ltr" name="userName" id="userName" value="#{loginForm.username}" required=""
					onfocus="if(this.value=='#{msgs['header.input.username']}') this.value=''"
					onblur="if(this.value=='') this.value='#{msgs['header.input.username']}'" label="#{msgs['header.input.username']}">
				</h:inputText>
	        </div>
	        <br/><br/>
	        <div class="input1">
	            <h:panelGroup>
					<input 
						align="right" name="dummypassword" id="dummypassword" value="#{msgs['header.input.password']}"
						onfocus="this.style.display='none';
								document.getElementById('loginForm:j_password').style.display='inline';
								document.getElementById('loginForm:j_password').focus();" >
					</input>
					<h:inputSecret autocomplete="off" maxlength="9"  style="display:none;"
						align="right" name="j_password" id="j_password" value="#{loginForm.password}"
						onblur="if (this.value == '') { this.style.display='none';
								document.getElementById('dummypassword').style.display = 'inline';}" >
					</h:inputSecret>
				</h:panelGroup>
	        </div>
	        <div onclick="validate1();">
	            <img src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/lf_button_sign_in_#{applicationData.userLocale.language}.png" alt="Submit" class="submit_button" style="bottom: -209px;" />
	        </div>
	        <h:outputText value="" id="errorlogin" class="form_text_error" style="" />
	        <div id="lightbox_close" onclick="parent.closeLightBox('lightform5');" style="top: 5px;">
	        </div>
	        <t:messages id="messages" globalonly="true" layout="table" style="clear:both; color:#D41016; float:left; font-size:14px; padding: 0 54px 0; margin-top: -2px;" />
	        <p class="form_text_after_reset_pass">
	        	<h:panelGroup rendered="#{applicationData.skinId == 8 || applicationData.skinId == 19}">
	        		<h:outputText value="Passwort vergessen?" escape="false"/>
	        		<br/>
	        		<h:outputText value="Bitte kontaktieren Sie die Kundenbetreuung auf anyoption.com" escape="false"/>
	        	</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == 2 || applicationData.skinId == 16}">
	        		<h:outputText value="Forgot your password?" escape="false"/>
	        		<br/>
	        		<h:outputText value="Contact support at anyoption.com" escape="false"/>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{applicationData.skinId == 5 || applicationData.skinId == 18}">
	        		<h:outputText value="¿Ha olvidado su contraseña?" escape="false"/>
	        		<br/>
	        		<h:outputText value="Contacte con la asistencia en anyoption.com" escape="false"/>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{applicationData.skinId == 12 || applicationData.skinId == 21}">
	        		<h:outputText value="Mot de passe oublié ?" escape="false"/>
	        		<br/>
	        		<h:outputText value="Contactez l'assistance sur anyoption.com" escape="false"/>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{applicationData.skinId == 10}">
	        		<h:outputText value="Забыли пароль?" escape="false"/>
	        		<br/>
	        		<h:outputText value="Служба Поддержки anyoption.com" escape="false"/>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{applicationData.skinId == 3}">
	        		<h:outputText value="Şifrenizi mi unuttunuz?" escape="false"/>
	        		<br/>
	        		<h:outputText value="Destek için ayoption.com" escape="false"/>
	        	</h:panelGroup>
	        	<h:panelGroup rendered="#{applicationData.skinId == 15}">
	        		<h:outputText value="忘记密码？" escape="false"/>
	        		<br/>
	        		<h:outputText value="请联系anyoption.com的客户支援" escape="false"/>
	        	</h:panelGroup>
	        </p>
		<h:commandLink action="#{loginForm.loginPopup('signInAfterForgotPassLP_Google_AO_RnDBonus_Clean')}" id="loginHiddenbtn" style="display:none"/>
		</h:form>
		<script>
			fillFields();
			function fillFields(){
				var userName	= document.getElementById('loginForm:userName');			
				if (userName.value == ''){
					userName.value =  '#{msgs['header.input.username']}';
				}				
			}
		</script> 		
	</f:view>
</body>
</html>