<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="selected">
	<c:set var="selectedTd" value="technicalAnalysis" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['charts.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['menuStrip.charts']}</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/#{applicationData.userLocale.language}/technicalAnalysis.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>
