
<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<script type="text/javascript">
	function getUrlLower(){
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
	}

	function openAlert() {
		document.getElementById('emailAlertDiv').style.display='inline';
	}

	function facebookOptionsBannerClick() {
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/facebook-options.jsf')}"
	}
</script>

<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<script>

	    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
	    var ajax = new AJAXInteraction(url, offsetCallback);
	    ajax.doGet();

		/*
		  Reload ticker after setting utcOffset in Session
		  This is done because ticker page up before the Ajax call(return to server side)
		*/
		function offsetCallback(responseXML) {
//		   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
		// alert(offset);
//		   window.location.reload();
		}

	</script>
</h:panelGroup>


<!-- Begin Table -->
<table border="0" cellspacing="0" cellpadding="0" height="33" width="970px" class="ticker_table_chinese">
    <tr height="28px">
		<td width="140px" valign="middle" align="center" height="28" style="#{applicationData.displayBankingFooter ? 'cursor:pointer' : ''}">
			<h1 class="ticker_market_new">
				<h:panelGroup rendered="#{!applicationData.newTemplateDesign}" >
					<h:panelGroup rendered="#{applicationData.displayBankingFooter}" >
			       		<a href="#{applicationData.homePageWebUrl}" class="ticker_market_new">
			       			<h:outputText value="#{msgs['ticker.our.options']}"  />
			       		</a>
			       	</h:panelGroup>
			       	<h:panelGroup rendered="#{!applicationData.displayBankingFooter}" >
			       		<h:outputText value="#{msgs['ticker.our.options']}"  />
			       	</h:panelGroup>
			    </h:panelGroup>
		       	<h:panelGroup rendered="#{applicationData.newTemplateDesign}" >
			       	<!-- Change keys for register and first new card  -->
					<h:outputText rendered="#{empty facesContext.externalContext.remoteUser}" style="text-transform: uppercase;" value="#{msgs['header.openaccount']}"  />
					<h:outputText rendered="#{!empty facesContext.externalContext.remoteUser}" style="text-transform: uppercase;" value="#{msgs['deposit.page']}"  />
		       	</h:panelGroup>
	       	</h1>
		</td>
		<td width="5px" style="color:#FFFFFF;"> | </td>
		<td width="425px" valign="top">
			<table border="0" cellspacing="0" cellpadding="0" width="425px" height="26px">
				<tr align="center">
					<td valign="" width="425px" height="30px">
						
						<!-- <h:panelGroup rendered="#{!applicationData.newTemplateDesign}" >
							<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="441" height="26" id="flashObjectFacebook" align="middle"  border="0">
								<param name="allowScriptAccess" value="always" />
								<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bnr_hp_facebook_#{applicationData.userLocale.language}.swf" />
								<param name="quality" value="high" />
								<param name="wmode" value="transparent" />
								<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bnr_hp_facebook_#{applicationData.userLocale.language}.swf" quality="high" bgcolor="" width="441" height="26" name="flashObjectFacebook" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent"/>
							</object>
							
							<h:panelGroup rendered="#{!applicationData.newTemplateDesign}" >
								<a target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/facebook-options.jsf"  style="text-decoration: none;" ><img id="" border="0" width="425px" height="26px" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bnr_hp_facebook.gif"/></a>
							</h:panelGroup>
							
						</h:panelGroup> -->
						
						<h:panelGroup rendered="#{applicationData.newTemplateDesign}" >
							<h1>
								<!-- Change keys for register and first new card  -->
								<h:outputText rendered="#{empty facesContext.externalContext.remoteUser}" styleClass="header_pages_message" style="width:12px; height:30px; valign:middle;background-image:none; "  value="#{msgs['header.openaccount.message']}"/>
								<h:outputText rendered="#{!empty facesContext.externalContext.remoteUser}" styleClass="header_pages_message" style="width:12px; height:30px; valign:middle;background-image:none;"  value="#{msgs['header.myaccount.message.transactions']}"  />
							</h1>
				       	</h:panelGroup>
					</td>
				</tr>
			</table>
		</td>
		<td width="25px" style="color:#FFFFFF;"> | </td>
		<td width="30px" height="26px">
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/map.png" border="0" width="46px" height="27px"/>
		</td>
		<td width="3px" valign="top">&#160;</td>
		<!-- skin selector -->
		<td width="1px" height="26px">
			<div id="languagesBox_nd">
			</div>
		</td>
			<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.skinId != 6 &amp;&amp; applicationData.skinId != 11 }">
				<td align="center"  width="61px" height="26px" class="menu_stripe_new" onclick="showSelectionSkins(this, event);" style="cursor:pointer" >		
		           	<h:outputLabel styleClass="menu_stripe_lang" style="cursor:pointer font-size:10px; font-weight:bold;" value="#{msgs[applicationData.userLocale.displayLanguage]}"/>&#160;<img src="#{applicationData.imagesPath}/arrow_orange.gif"/>
        	     </td>
		    </h:panelGroup>
	    <td width="30px" valign="top">&#160;</td>
		<td>
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/phone.png" border="0" width="20px" height="23px"/>
		</td>
		<td>
			<span style="color:#FFFFFF; font-size:12px" >
				<h:outputText rendered="#{applicationData.realCountryId == 203}" value="&#160; 台湾：00801 147060" /><!-- Taiwan  -->
				<h:outputText rendered="#{applicationData.realCountryId == 94}" value="&#160; 香港：800 906 106" /><!-- Hong Kong -->
				<h:outputText rendered="#{applicationData.realCountryId != 203 &amp;&amp; applicationData.realCountryId != 94}" value="&#160; 中国大陆：400 120 0979" />
			</span>
		</td>

	</tr>
</table>

<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; user.emailPopUpAlert}">
	<div class="mailbox_alert_div" id="emailAlertDiv">
   		<ui:include src="/jsp/emailAlert.xhtml" />
	</div>
	#{user.setEmailPopUpAlert}
	<script>
		setTimeout('openAlert();',1000);
	</script>
</h:panelGroup>

<!-- End Table -->
</f:view>