<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
	<div class="clear c_header grad">
		<div class="fLeft btn_holder2" style="margin-top:1px;">
			<a href="#">
				<div class="fLeft p1 btn2_l"></div>
				<div class="fLeft grad btn2_c">&#160;</div>
				<div class="fLeft p1 btn2_r"></div>
			</a>
		</div>
		<div class="fLeft ret">&#160;</div>
		<div class="fRight btn_holder2" style="margin-top:1px;">
			<a href="#">
				<div class="fLeft p1 btn2_l"></div>
				<div class="fLeft grad btn2_c" style="padding-left:2px;padding-right:2px;width:112px;">&#160;</div>
				<div class="fLeft p1 btn2_r"></div>
			</a>
		</div>
	</div>
	<div class="fLeft boxLeft p1" style="text-align:center;"><img style="margin-top:70px;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_loading.gif" /></div>
	<div class="fRight boxRight">&#160;</div>
</f:view>