<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<style>
	.tradingbx_chart_call {
		background: transparent url(#{applicationData.imagesPath}/tradingbx_trend_call.png) no-repeat left bottom;
	}
	.tradingbx_chart_put {
		background: transparent url(#{applicationData.imagesPath}/tradingbx_trend_put.png) no-repeat right bottom;
	}
	.tradingbx_chart_call div, .tradingbx_chart_put div {
		background: transparent url(#{applicationData.imagesPath}/tradingbx_trend_percentPoint.png) no-repeat center bottom;
	}
	.tradingbx_trends_chart .tradingbx_chart_separator {
		background: transparent url(#{applicationData.imagesPath}/tradingbx_trend_separator.png) no-repeat left bottom;
	}
</style>

<div id="template_opportunity" style="display: none;">
	<table id="'oppId'" align="center" cellspacing="0" cellpadding="0" border="0" class="#{applicationData.skinId == 11? 'table_border_box' : 'table_border'}">
		<tr>
			<td background="#{applicationData.imagesPath}/#{applicationData.tlvImagesPath}1x27.jpg" id="blinkTD_'marketId'"><!-- Top menu bar -->
				<table width="455" border="0" cellspacing="0" cellpadding="0" align="center" >
					<tr>
						<td width="2"></td>
						<td width="150" class="bkgnd">
							<table width="150" border="0" cellspacing="0" cellpadding="0" align="#{applicationData.pageAlignment}" dir="#{applicationData.skinId == 11? 'rtl' : 'ltr'}"  >
								<tr style="cursor: pointer;" onclick="showSelectionTree(this, 'marketId', event);">
									<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_left.gif"  align="right" /></td>
									<td width="121" height="28" class="trad_menu" align="center" ><strong id="'oppId'_3">&#160;</strong></td>
									<td ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_down.gif"  /></td>
								</tr>
							</table>
						</td>
						<!--<td width="142" align="center" class="trade_odds" id="'oppId'_return"><span id="'oppId'_5"></span>&#160;<h:outputText value="#{msgs['trading.box.return']}" /></td>-->
						<td width="142" align="center" class="trade_odds" id="'oppId'_return" >
							<table  width="142" border="0" cellspacing="0" cellpadding="0" align="#{applicationData.pageAlignmentReverse}" dir="#{applicationData.skinId == 11? 'rtl' : 'ltr'}">
								<tr style="cursor: pointer;" onclick="showRefundSelector(this, 'marketId', 'oppId', event);">
									<td width="130px" height="28" class="" align="center" >
										<span id="'oppId'_5">&#160;</span>
										<strong>
											<h:panelGroup rendered="#{applicationData.skinId == 4}">
												&#160;#{msgs['trading.box.return']}
											</h:panelGroup>
											<h:panelGroup rendered="#{applicationData.skinId != 4}">
												&#160;#{msgs['trading.box.profit']}
											</h:panelGroup>
										</strong>
									</td>
									<td ><img src="#{applicationData.imagesPath}/trade_down2.gif" width="18" height="17" /></td>
								</tr>
							</table>
						</td>
						<td width="158" id="'oppId'_scheduled" >
							<table  width="158" border="0" cellspacing="0" cellpadding="0" align="#{applicationData.pageAlignmentReverse}" dir="#{applicationData.skinId == 11? 'rtl' : 'ltr'}">
								<tr style="cursor: pointer;" onclick="showSelectionSchedule(this, 'marketId', 'oppId', event);">
									<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_left.gif" /></td>
									<td width="130px" height="28" class="trad_menu" align="center" ><strong>#{msgs['trading.box.expires']} </strong><span id="'oppId'_6">&#160;</span></td>
									<td ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_down.gif"  /></td>
								</tr>
							</table>
						</td>
						<td width="300px" style="display:none" id="'oppId'_empty"></td>
						<td width="2"></td>
					</tr>
				</table><!-- end of top menu bar -->
			</td>
		</tr>
		<tr>
			<td height="165">
			<div style="position: relative;">
				<table width="455" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td id="'oppId'_slip" width="149" class="divid">
						</td>
						<td id="'oppId'_chart_holder" align="center" height="165">
						</td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
		<tr>
			<td height="23" align="right">
				<table id="'oppId'_trend_pie" border="0" cellspacing="0" cellpadding="0" style="display: none;">
					<tr>
						<td align="right">
							<div id="tradingbx_markets_table">
								<div id="'oppId'_tradingbx_trend_msg" class="tradingbx_trend_msg" style="display: none">
							        <div class="tradingbx_close_small">
							            <input type="image"
							           			onmouseout="this.src='#{applicationData.imagesPath}/tradingbx_bttn_close2.png'"
								           		onmouseover="this.src='#{applicationData.imagesPath}/tradingbx_bttn_close2_over.png'"
									           	onclick="closeTrendPopup(''oppId'_tradingbx_trend_msg');"
												runat="server"
												src="#{applicationData.imagesPath}/tradingbx_bttn_close2.png"/>
							        </div>
							        <span onclick="openSlip('oppId', 'call');" target="_top" class="tradingbx_trend_call">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_call']}</span>
							        <div id="'oppId'_tradingbx_trends_chart" class="tradingbx_trends_chart">
							            <div id="'oppId'_tradingbx_chart_call"
								            	 class="tradingbx_chart_call"
								            	 style="width: 30%;">
							                <div id="'oppId'_tradingbx_chart_call_label">30%</div>
							            </div>
							            <div id="'oppId'_tradingbx_chart_separator" class="tradingbx_chart_separator">
							            </div>
							            <div id="'oppId'_tradingbx_chart_put"
							            		 class="tradingbx_chart_put"
							            		 style="width: 68%;">
							                <div id="'oppId'_tradingbx_chart_put_label">70%</div>
							            </div>
							        </div>
							        <span onclick="openSlip('oppId', 'put');" target="_top" class="tradingbx_trend_put">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_put']}</span>
							    </div>
								<div style="display: none;" id="'oppId'_tradingbx_info_msg_trend" class="tradingbx_info_msg_trend">
							        #{msgs['CMS.tradingBoxTemplates.label.icon_trend.tooltip']}
   								</div>
								<img onmouseout="ChangeTrendPie(this, '#{applicationData.imagesPath}/tradingbx_icon_trend.png', false);"
									 onmouseover="ChangeTrendPie(this, '#{applicationData.imagesPath}/tradingbx_icon_trend_over.png', true);"
									 onclick="openTrendPopup(''oppId'_tradingbx_trend_msg');"	
									 style="cursor: pointer;"
									 src="#{applicationData.imagesPath}/tradingbx_icon_trend.png"
									 data-oppId="'oppId'"/>
							 </div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr style="display: none;">
			<td id="'oppId'_3"></td>
			<td id="'oppId'_7"></td>
			<td id="'oppId'_8"></td>
			<td id="'oppId'_9"></td>
			<td id="'oppId'_10"></td>
			<td id="'oppId'_13"></td>
			<td id="'oppId'_18"></td>
			<td id="'oppId'_21"></td>
			<td id="'oppId'_22"></td>
			<td id="'oppId'_24"></td>
			<td id="'oppId'_25"></td>
			<td id="'oppId'_26"></td>
			<td id="'oppId'_submit">0</td>
			<td id="'oppId'_choice">0</td>
			<td id="'oppId'_returnS"></td>
			<td id="'oppId'_refundS"></td>
			<td id="'oppId'_above"></td>
			<td id="'oppId'_below"></td>
		</tr>
	</table>
</div>

<div id="template_loading" style="display: none;">
	<ui:include src="/jsp/tradingBoxLoading_old.xhtml" />
</div>

<div id="template_chart_not_opened" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="455" height="165" align="center" class="no_chart">
				<strong><h:outputText value="#{msgs['trading.box.willOpen']}" escape="false" /></strong>
			</td>
		</tr>
	</table>
</div>

<div id="template_chart" style="display: none;">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="304" height="165" id="'oppId'_chart" align="middle">
		<param name="allowScriptAccess" value="always" />
		<param name="quality" value="high" />
		<param name="wmode" value="transparent" />
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart.swf?pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" />
		<param name="FlashVars" value="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" />
		<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart.swf" wmode="transparent" flashvars="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" quality="high" width="304" height="165" name="'oppId'_chart" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</h:panelGroup>
		<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
		<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart.swf?pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" />
		<param name="FlashVars" value="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" />
		<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart.swf" wmode="transparent" flashvars="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" quality="high" width="304" height="165" name="'oppId'_chart" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</h:panelGroup>
	</object>
</div>

<div id="template_long_term" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="455" height="165" align="center" class="no_chart">
				<h:outputText value="#{msgs['trading.box.chart.longterm']}" escape="false" />
			</td>
		</tr>
	</table>
</div>

<div id="template_suspended" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="455" height="165" align="center" class="no_chart">
				<strong>{msg}</strong>
			</td>
		</tr>
	</table>
</div>

<div id="template_state_1" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="trade_level_gray">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td height="25">&#160;</td>
		</tr>
	</table>
</div>

<div id="template_state_2" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="15" class="wait4exp">&#160;</td>
		</tr>
		<tr>
			<td height="15">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call.gif" width="68" height="40" style="cursor: pointer;" onclick="openSlip('oppId', 'call');" onmouseover="chartShowCallPut('oppId', true, true)" onmouseout="chartShowCallPut('oppId', false, true)" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="level_green">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put.gif" width="68" height="40" style="cursor: pointer;" onclick="openSlip('oppId', 'put');" onmouseover="chartShowCallPut('oppId', true, false)" onmouseout="chartShowCallPut('oppId', false, false)" /></td>
		</tr>
		<tr>
			<td height="15" class="trade_time_left">&#160;</td>
		</tr>
		<tr>
			<td height="15" class="wait4exp">&#160;</td>
		</tr>
	</table>
</div>

<div id="template_state_3" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="15" class="wait4exp">&#160;</td>
		</tr>
		<tr>
			<td height="15">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call.gif"  width="68" height="40" style="cursor: pointer;" onclick="openSlip('oppId', 'call');" onmouseover="chartShowCallPut('oppId', true, true)" onmouseout="chartShowCallPut('oppId', false, true)" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="level_green">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put.gif" width="68" height="40" style="cursor: pointer;" onclick="openSlip('oppId', 'put');" onmouseover="chartShowCallPut('oppId', true, false)" onmouseout="chartShowCallPut('oppId', false, false)" /></td>
		</tr>
		<tr>
			<td height="15" class="trade_time_left">#{msgs['trading.box.timeLeft']}</td>
		</tr>
		<tr>
			<td height="15" class="wait4exp">
				<table class="new_progress_table" width="141" height="10" cellspacing="0" cellpadding="0">
					<tr>
						<td class="new_progress_bar_td" align="#{applicationData.pageAlignment}" style="vertical-align:middle;" valign="middle">
							<div style="background-color: #fff; width: 111px; height: 8px; border: 1px solid #ffffff;">
								<div id="'oppId'_cd_prg" class="new_progress_bar">&#160;</div>
							</div>
						</td>
						<td id="'oppId'_cd_time" class="new_progress_time_td" align="#{applicationData.pageAlignment}">00:00</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div id="template_state_4" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="level_green">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td height="25" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/waiting4exp.gif" width="149" height="15" /></td>
		</tr>
	</table>
</div>

<div id="template_state_5" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="level_green">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td height="25" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/waiting4exp.gif" width="149" height="15" /></td>
		</tr>
	</table>
</div>

<div id="template_state_6" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="level_green">&#160;</span></td>
		</tr>
		<tr>
			<td>&#160;</td>
		</tr>
		<tr>
			<td height="15" class="trade_expiry_level"><h:outputText value="#{msgs['trading.box.expieryLevel']}" /></td>
		</tr>
	</table>
</div>

<div id="template_state_8" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="trade_level_gray">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td height="25">&#160;</td>
		</tr>
	</table>
</div>

<div id="template_state_9" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td height="25">&#160;</td>
		</tr>
		<tr >
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td class="level" height="25"><span id="'oppId'_4" class="trade_level_gray">&#160;</span></td>
		</tr>
		<tr>
			<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put_off.gif" width="67" height="39" /></td>
		</tr>
		<tr>
			<td height="25">&#160;</td>
		</tr>
	</table>
</div>

<div id="template_call" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td height="165" align="center">
				<table width="145" cellpadding="0" cellspacing="0" align="center" dir="#{applicationData.pageDirection}">
					<tr>
						<td height="11px" class="slip_x"><img id="'oppId'_x_img" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/slip_x_12px.jpg" style="cursor: pointer;" onclick="closeSlip('oppId');" /></td>
					</tr>
					<tr>
						<td width="143" class="slip_info_td" id="'oppId'_errorPosTD">
							<span class="level_slip"><strong><span id="'oppId'_4" class="slip_level_green">&#160;</span></strong></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="sliplabel"><strong>#{msgs['call']}</strong> <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" /></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
							<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; !applicationData.rtlAlign) ||
	            					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.rtlAlign)}">
								<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
							</h:panelGroup>
							<input id="'oppId'_amount" class="chart_box_slipinput" type="text" size="10" maxlength="8" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
							<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; !applicationData.rtlAlign) ||
	            					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.rtlAlign))}">
								<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
							</h:panelGroup>
							<br/>
							<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
							<span  id="'oppId'_aboveU" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']} " /> <h:outputText id="pctU" value="" /> </span><span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
							<span  id="'oppId'_aboveD" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']} " /> <h:outputText id="pctD" value="" /></span><span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
						</td>
					</tr>
					<tr>
						<td align="center" height="24">
							<img id="'oppId'_img"
							src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif"
							style="cursor: pointer;"
							onmouseOver="if (canSubmit) {this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.gif'}"
	 	        	     	onmouseOut="if (canSubmit) {this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif'}"
							onclick="submitSlip('oppId');" />
						</td>
					</tr>
					<tr valign="middle">
						<td class="sliplabel">&#160;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div id="'oppId'_errorMsgDiv" style="position: absolute; z-index: 102; display: none; ">
		<table height="36" border="0" cellpadding="0" cellspacing="0">
		  <tr>
		    <td width="7" height="36" rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_left.gif"></td>
		    <td width="190" height="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_top.gif" ></td>
		    <td rowspan="3" width="2" height="36" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_right.gif"></td>
		  </tr>
		  <tr>
		  	<td style="display:none"></td>
		    <td width="203" bgcolor="white">
		    	<table width="203" cellpadding="4" border="0" cellspacing="0">
		            <tr>
		              <td id="'oppId'_error" class="slip_error"></td>
		              <td valign="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/x_error.gif" width="7" height="5" onclick="closeErrorDiv('oppId')" style="cursor: pointer;" /></td>
		            </tr>
		            <tr style="display:none" id="'oppId'_loginError">
		            	<td class="slip_error"><h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}" class="general_link_blue_10" style="font-size:9px"><h:outputText value="#{msgs['error.investment.notLogin2']}" escape="false" /></A></td>
		            	<td valign="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/x_error.gif" width="7" height="5" onclick="closeErrorDiv('oppId')" style="cursor: pointer;" /></td>
		            </tr>
		     	</table>
		    </td>
		  </tr>
		  <tr>
		    <td width="190" height="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_bottom.gif"  ></td>
		  </tr>
		</table>
	</div>
</div>

<div id="template_put" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td height="165" align="center">
				<table width="145" cellpadding="0" cellspacing="0" align="center" dir="#{applicationData.pageDirection}">
					<tr>
						<td height="11px" class="slip_x"><img id="'oppId'_x_img" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/slip_x_12px.jpg" style="cursor: pointer;" onclick="closeSlip('oppId');" /></td>
					</tr>
					<tr>
						<td width="143" class="slip_info_td" id="'oppId'_errorPosTD">
							<span class="level_slip"><strong><span id="'oppId'_4" class="slip_level_green">&#160;</span></strong></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="sliplabel"><strong>#{msgs['put']}</strong> <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" /></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
							<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
	            					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
								<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
							</h:panelGroup>
							<input id="'oppId'_amount" class="chart_box_slipinput" type="text" size="10" maxlength="8" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
							<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
	            					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
								<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
							</h:panelGroup>
							<br/>
							<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
							<span id="'oppId'_aboveU2" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']} " /><h:outputText id="pctU2" value="" />  </span><span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
							<span id="'oppId'_aboveD2" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']} " /><h:outputText id="pctD2" value="" /> </span><span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
						</td>
					</tr>
					<tr>
						<td align="center" height="24">
							<img id="'oppId'_img"
							src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif"
							style="cursor: pointer;"
							onmouseOver="if (canSubmit) {this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.gif'}"
	 	        	     	onmouseOut="if (canSubmit) {this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif'}"
							onclick="submitSlip('oppId');" />
						</td>
					</tr>
					<tr valign="middle">
						<td class="sliplabel">&#160;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<div id="'oppId'_errorMsgDiv" style="position: absolute; z-index: 102; display: none; ">
		<table height="36" border="0" cellpadding="0" cellspacing="0">
		  <tr>
		    <td width="7" height="36" rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_left.gif"></td>
		    <td width="190" height="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_top.gif" ></td>
		    <td rowspan="3" width="2" height="36" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_right.gif"></td>
		  </tr>
		  <tr>
		  	<td style="display:none"></td>
		    <td width="203" bgcolor="white">
		    	<table width="203" cellpadding="4" border="0" cellspacing="0">
		            <tr>
		              <td id="'oppId'_error" class="slip_error"></td>
		              <td valign="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/x_error.gif" width="7" height="5" onclick="closeErrorDiv('oppId')" style="cursor: pointer;" /></td>
		            </tr>
		            <tr style="display:none" id="'oppId'_loginError">
		            	<td class="slip_error"><h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}" class="general_link_blue_10" style="font-size:9px"><h:outputText value="#{msgs['error.investment.notLogin2']}" escape="false" /></A></td>
		            	<td valign="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/x_error.gif" width="7" height="5" onclick="closeErrorDiv('oppId')" style="cursor: pointer;" /></td>
		            </tr>
		     	</table>
		    </td>
		  </tr>
		  <tr>
		    <td width="190" height="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_bottom.gif"  ></td>
		  </tr>
		</table>
	</div>
</div>

<div id="template_call_success" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td height="165" align="center">
				<table width="145" cellpadding="0" cellspacing="0" align="center" dir="#{applicationData.pageDirection}">
					<tr>
						<div class="slip_x_new">
							<span class="level_slip" style="width:0px; float: #{applicationData.pageAlignment}; " ><strong class="{level_clr}">{level}</strong></span>
							<span style="width:15px;">
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/slip_x_12px.jpg" style="cursor: pointer; float: #{applicationData.pageAlignmentReverse};" onclick="closeSlip('oppId');" />
							</span>
						</div>
					</tr>
					<tr>
						<td width="143" class="slip_info_td" >
							<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="sliplabel" ><strong>#{msgs['call']}</strong> <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" /></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
							<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
	            				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
								<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
							</h:panelGroup>
							<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
	            				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
								<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
							</h:panelGroup>
							<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span> <span class="sliplabel">{win}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span> <span class="sliplabel">{lose}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.success.confirmation']}" /> </span><span id="'oppId'_confirm" class="sliplabel" dir="ltr"># {confirm}</span>
						</td>
					</tr>
					<tr>
						<td height="24" class="slip_info_td" style="text-align:center;">
							<img onclick="printSuccess('{confirm}'); return false;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg"
								onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_d.jpg'"
						 		onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg'"
						    	style="cursor: pointer;" />
						    {profitLine}
						</td>
					</tr>
					<tr valign="middle" id="'oppId'_sms" style="display: none;">
						<td class="sliplabel">
							<table align="#{applicationData.pageAlignment}" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h:panelGroup rendered="#{(applicationData.skinId!=2) &amp;&amp; (applicationData.skinId!=13)}">
											<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" style="margin-top: -9px;"/>
										</h:panelGroup>
										<h:panelGroup rendered="#{(applicationData.skinId==2) || (applicationData.skinId==13)}">
											<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');"/>
										</h:panelGroup>
									</td>
									<td class="sms" id="'oppId'_sms_txt">
										#{msgs['trading.chartBox.recipt.SMS']}
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr style="display: none;">
						<td><span id="'oppId'_4" class="slip_level_green">&#160;</span></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div id="template_put_success" style="display: none;">
	<table width="149" border="0" cellspacing="0" cellpadding="0">
		<tr valign="top">
			<td height="165" align="center">
				<table width="145" cellpadding="0" cellspacing="0" align="center" dir="#{applicationData.pageDirection}">
					<tr>
						<div class="slip_x_new">
							<span class="level_slip" style="width:0px; float: #{applicationData.pageAlignment}; " ><strong class="{level_clr}">{level}</strong></span>
							<span style="width:15px;">
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/slip_x_12px.jpg" style="cursor: pointer; float: #{applicationData.pageAlignmentReverse};" onclick="closeSlip('oppId');" />
							</span>
						</div>
					</tr>
					<tr>
						<td width="143" class="slip_info_td" >
							<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="sliplabel"><strong>#{msgs['put']}</strong> <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" /></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
							<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
	            					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
								<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
							</h:panelGroup>
							<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
	            					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
								<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
							</h:panelGroup>
							<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span> <span class="sliplabel">{win}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span> <span class="sliplabel">{lose}</span><br/>
							<span class="slip"><h:outputText value="#{msgs['trading.success.confirmation']}" /> </span><span id="'oppId'_confirm" class="sliplabel" dir="ltr"># {confirm}</span>
						</td>
					</tr>
					<tr>
						<td class="slip_info_td" height="24" style="text-align:center;">
							<img onclick="printSuccess('{confirm}'); return false;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg"
								onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_d.jpg'"
						 		onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg'"
						    	style="cursor: pointer;" />
						    {profitLine}
						</td>
					</tr>
					<tr valign="middle" id="'oppId'_sms" style="display: none;">
						<td class="sliplabel">
							<table align="#{applicationData.pageAlignment}" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h:panelGroup rendered="#{(applicationData.skinId!=2) &amp;&amp; (applicationData.skinId!=13)}">
											<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" style="margin-top: -9px;"/>
										</h:panelGroup>
										<h:panelGroup rendered="#{(applicationData.skinId==2) || (applicationData.skinId==13)}">
											<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');"/>
										</h:panelGroup>
									</td>
									<td class="sms" id="'oppId'_sms_txt">
										#{msgs['trading.chartBox.recipt.SMS']}
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr style="display: none;">
						<td><span id="'oppId'_4" class="slip_level_green">&#160;</span></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div id="template_success_profitline" style="display: none;">
	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="5px" height="1px"/>
	<h:panelGroup rendered="#{applicationData.skinId != 15}">
		<img onclick="window.top.runThickBox('marketId', 'oppId'); return false;" src="#{applicationData.imagesPath}/profitline_u.jpg"
			onmouseover="this.src='#{applicationData.imagesPath}/profitline_d.jpg'"
	 		onmouseout="this.src='#{applicationData.imagesPath}/profitline_u.jpg'"
	    	style="cursor: pointer;" />
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 15}">
		<img onclick="window.top.runThickBox('marketId', 'oppId'); return false;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profitline_u.jpg"
			onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profitline_d.jpg'"
	 		onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profitline_u.jpg'"
	    	style="cursor: pointer;" />
	</h:panelGroup>
</div>

<t:dataList value="#{tradingPageBean.arrays}" var="arrays" layout="simple">
	<script>
		var lsEngRef;
		var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
		var userLanguage = "#{applicationData.userLocale.language}";

		var lsEngineReady = false;
		var lsPage = new PushPage();
		lsPage.context.setDebugAlertsOnClientError(false);
		lsPage.context.setDomain("#{applicationData.domainUrl}");
		lsPage.onEngineCreation = function(engine) {
			engine.connection.setLSHost("#{applicationData.lsServer}");
			engine.connection.setLSPort(80);
			engine.connection.setAdapterName("REUTERSJMS");
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				engine.connection.setUserName("a#{user.userName}a");
				engine.connection.setPassword("#{user.passHash}");
			</h:panelGroup>
			engine.policy.setMaxBandwidth(20);
			engine.policy.setIdleTimeout(30000);
			engine.policy.setPollingInterval(1000);
			engine.policy.setTimeoutForReconnect(10000);

			engine.changeStatus("STREAMING");
			lsEngRef = engine;
		};
		lsPage.onEngineReady = function(engine) {
			lsEngineReady = true;
			engine.onStatusChange = function(chngStatus) {
				window.status = "#{applicationData.tradingPagesStatus}";
				engineStatusChange(chngStatus);
			};
		};
		lsPage.bind();
		lsPage.createEngine("tradingPage", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");

		var group = [#{group}];
		var schema = ["key", "command", "ET_NAME", "AO_LEVEL", "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", "AO_CLR", "ET_PRIORITY", "ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE", "AO_HP_MARKETS_" + skinId, "AO_STATES", "FILTER_SCHEDULED", "ET_LAST_INV", "AO_TS", "AO_FLAGS", "ET_ODDS_GROUP", "AO_CALLS_TREND"];
		var aoTable = new NonVisualTable(group, schema, "COMMAND");
		aoTable.setDataAdapter("JMS_ADAPTER");
		aoTable.setSnapshotRequired(true);
		aoTable.setRequestedMaxFrequency(1.0);
		aoTable.onItemUpdate = updateItemAO;
		lsPage.addTable(aoTable, "aoTable");

		var boxesFixed = new Array(false#{arrays.fixed});
		var boxesFixedMarkets = new Array(0#{arrays.markets});
		var boxesFixedScheduled = new Array(0#{arrays.scheduled});
		var boxesFull = new Array(false, true, true, true, true);
		var boxesMarkets = new Array(0, 0, 0, 0, 0);
		var israelMarkets = new Array(#{arrays.israelMarkets});

		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			var groupGM = ["insurances_#{user.userName}"];
			var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", "INS_CRR_LEVEL_AO", "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR", "INS_IS_OPEN_GRAPH", "INS_OPP_ID"];
			var newTableGM = new NonVisualTable(groupGM, schemaGM, "COMMAND");
			newTableGM.setDataAdapter("JMS_ADAPTER");
			newTableGM.setSnapshotRequired(true);
			newTableGM.setRequestedMaxFrequency(1.0);
//			newTableGM.setPushedHtmlEnabled(true);
//			newTableGM.setClearOnDisconnected(false);
//			newTableGM.setMaxDynaRows("unlimited");
//			newTableGM.setMetapushFields(2, 1);
//			newTableGM.setMetapushSort(10, false, true);
//			newTableGM.onChangingValues = formatValuesGM;
			newTableGM.onItemUpdate = updateItemGM;
			lsPage.addTable(newTableGM, "goldenInvestmentsTable");
		</h:panelGroup>
	</script>
</t:dataList>

</f:view>