<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
       >
       
        <!--TODO outside <div id="containerIn_right_nd">-->	
       
	<div id="box_TradingGuide_nd">
        <div class="right_content_title">
            <h:outputText value="#{msgs['CMS.tradingGuide.text.home.page.trading.guide']}" escape="false"/>
           
       	</div>
       	<div style="padding-bottom: 8px;" class="text_nd">
       		<h:outputLink target="_top" id="strategy_TradingGuide" style="text-decoration: none;" border="0" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/strategy.jsf')}">
            	<h:outputText value="#{msgs['CMS.tradingGuide.text.home.page.trading.guide.strategy']}" escape="false"/>&#160;|&#160;
            </h:outputLink>	          
       	  	
       		<h:outputLink target="_top" id="optionsBroker_TradingGuide" style="text-decoration: none;" border="0" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}">
            	<h:outputText value="#{msgs['CMS.tradingGuide.text.home.page.trading.guide.options.broker']}" escape="false"/>&#160;|&#160;         
            </h:outputLink>	
       
       		<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/what-are-binary-options.jsf')}"
												target="_top" id="whatAreBinaryOptions_TradingGuide" style="text-decoration: none;" border="0">
            	<h:outputText value="#{msgs['CMS.tradingGuide.text.home.page.trading.guide.about.options']}" escape="false"/>         
            </h:outputLink>	  
       	</div>
        <div class="text_nd">
            <h:outputText value="#{msgs['CMS.tradingGuide.text.home.page.trading.guide.content']}" escape="false"/>
            <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/what-are-binary-options.jsf')}"
												target="_top" id="readmore_TradingGuide" style="text-decoration: none;" border="0">
												
			<h:panelGroup rendered="#{applicationData.skinId == 17}">
	           <br/>
    		</h:panelGroup>
    		<h:panelGroup rendered="#{applicationData.skinId != 17}">
	           &#160;
    		</h:panelGroup>
        	<h:outputText value="#{msgs['CMS.tradingGuide.label.box.readmore']}" /> »
            </h:outputLink>
        </div>
    </div>

</f:view>