<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js" type="text/javascript"></script>
<script type="text/javascript">
var time=new Date();
var offset = time.getTimezoneOffset()*60*1000*(-1);
if (skinId == 11){
	offset = "#{commonUtil.israelOffsetVal}";
	offset = offset * 60 * 60 * 1000;
}
anyClock('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}',#{applicationData.timeMilis},offset,#{applicationData.dstOffset},'#{applicationData.userLocale.language}_#{applicationData.skinId}',40);
</script>

</f:view>