<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
   <script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js" type="text/javascript"></script>
       
	<script type="text/javascript">
		var time = new Date();
		var offset = time.getTimezoneOffset()*60*1000*(-1);
		var serverTime = #{applicationData.timeMilis};
		var dstOffset = #{applicationData.dstOffset};
		var diffTimeMs = null;
		var dateFormat = new Date();
		var day = dateFormat.getDate();
		var month = dateFormat.getMonth();
		var year = dateFormat.getFullYear();
		var MONTH_NAMES=new Array('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec');
		var monthName = MONTH_NAMES[month];
		function tS(){
			var x = new Date();
			
			if (null == diffTimeMs) {
				diffTimeMs = serverTime - x.getTime();
			}
			var diffTimeZoneOffsetMs = offset + (x.getTimezoneOffset() * 60 * 1000);
	
			x.setTime(x.getTime() + diffTimeMs + diffTimeZoneOffsetMs + dstOffset);
			return x;
		}
		function lZ(x){ return (x>9)?x:'0'+x; }
		function dT(){ document.getElementById('clock').innerHTML=eval(oT); setTimeout('dT()',1000); }
		var oT="day + ', ' + monthName + '. ' + year + ' ' + lZ(tS().getHours())+':'+lZ(tS().getMinutes())+':'+lZ(tS().getSeconds())";
		if(!document.all){ window.onload=dT; }else{ dT(); }
	
		function getTimeString() {
			return day + ', ' + monthName + '. ' + year + ' ' + lZ(tS().getHours())+':'+lZ(tS().getMinutes())+':'+lZ(tS().getSeconds());
		}
	
	</script>

	<div id="clock" class="clock" align="left">
		<script>document.write(getTimeString());</script>
	</div>
	
	
</f:view>