<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<script type="text/javascript">
	<c:if test="${applicationData.isReceipt}">  	
		<c:if test="${user.isFirstTimeDeposit}">
	  			#{transaction.updateDepositPixelRunTime}
		  	<c:if test="${facesContext.viewRoot.viewId == '/jsp/pages/receiptFirstDeposit.xhtml'}">
				#{transaction.updateDepositPixelRunTime}
			</c:if>
		</c:if>
	</c:if>
</script>

</f:view>