<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
  <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/position_div.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
  <script>
	  	document.domain = "#{applicationData.domainUrl}";

  		// reload all page after loggedin
		if (#{user.firstTimeLogin}) {
			try {
				parent.storeSlipStateToCookie();
			} catch (err) {
				// do nothing
				//alert(err);
			}
			//window.top.location.reload(true);
			if (window.top.location.href.indexOf("/jsp/pages/firstNewCard.jsf") == -1) {
				<!-- For non depositor users redirects to new card  -->
				if (#{!user.hasDeposits}){
					if (#{applicationData.chinese}) {
						window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf";
					} else {
						window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf";
					}
				} else {
					window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
				}
			}
			#{user.setFirstTimeLogin}
		} else {
			try {
				parent.clearSlipStateFromCookie();
			} catch (err) {
				// do nothing
				//alert(err);
			}
		}
  </script>
</head>

<BODY dir="#{applicationData.pageDirection}" onload='onloadd();'  style="background-image: none ;" bgcolor="#{applicationData.tlv? '#f2f2f2' :''}">
<script>
	try {
		if ( window.top.location.href.indexOf("index_error.jsf") > -1 ) {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
		}

	/*	if (window.top.location.href.indexOf("charts.jsf")>-1 || window.top.location.href.indexOf("contactus.jsf")>-1) {
			if (#{user.firstTimeLogin}) {
				window.top.location.href=window.top.location.href;
				#{user.setFirstTimeLogin}
			}
		}*/
	} catch (err) {
		//alert(err);
	}

	try {
		parent.document.getElementById('contactuscontent').contentWindow.location.reload();
	} catch (err) {
		//alert(err);
	}

function onloadd() {

	try {
	  if (window.top.location.href.indexOf("index_error.jsf")>-1) {
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	  }

	} catch (err) {
		//document.getElementById('HeaderForm:homepage_div').style.visibility = 'visible';
	}

	try {
		  	if (window.top.location.href != "#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" &amp;&amp; window.top.location.href.indexOf("#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}") == -1) {
				var insuranceStartTime = "#{applicationData.insuranceStartTime}";
				if (insuranceStartTime == "now") {
					parent.getClockAndTxt();
				} else {
					var insuranceStartTimer = setTimeout("parent.getClockAndTxt();",insuranceStartTime);
				}
			}
		} catch(err) {
			//nneed to fix this!
		}

}
</script>

<f:view locale="#{applicationData.userLocale}">
	
	<h:panelGroup id="body">
		<h:form id="HeaderForm">
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/header_loggedin_content.xhtml"/>
		</h:form>
	</h:panelGroup>
</f:view>
</BODY>
</html>