
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	 <f:facet name="first" rendered="false">
	 	 <t:graphicImage rendered="false" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrow-first.gif" style="border: none"/>
     </f:facet>

    <f:facet name="fastrewind" rendered="false">
    	<t:graphicImage rendered="false" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrow-fr.gif" style="border: none"/>
    </f:facet>

     <f:facet name="next">
        <t:graphicImage id="next" rendered="#{pageIndex &lt; pageCount}" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/#{!applicationData.rtlAlign ? 'nav-arrow-previous.jpg' : 'nav-arrow-next.jpg'}" style="border: none" />
    </f:facet>

    <f:facet name="previous">
        <t:graphicImage id="prev" rendered="#{pageIndex>1}" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/#{!applicationData.rtlAlign ? 'nav-arrow-next.jpg' : 'nav-arrow-previous.jpg'}" style="border: none"/>
    </f:facet>

    <f:facet name="fastforward" rendered="false">
        <t:graphicImage rendered="false" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrow-ff.gif" style="border: none"/>
    </f:facet>

    <f:facet name="last" rendered="false">
          <t:graphicImage rendered="false" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/arrow-last.gif" style="border: none" />
    </f:facet>

</f:view>