<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>
		var serverOffsetMillis = #{applicationData.timeMilis} - new Date().getTime();
	</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <c:set var="metaDesc" value="#{msgs['anyoption.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css?new=true" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css?new=true" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
				runThickBox(#{facesContext.externalContext.requestParameterMap['tickBoxMarketId']}, #{facesContext.externalContext.requestParameterMap['tickBoxOppId']});
			}
		</script>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
			}
		</script>
	</h:panelGroup>
</head>


<body dir="#{applicationData.pageDirection}" class="body_bg" onload="onLoadOpenThickBox();">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<f:view locale="#{applicationData.userLocale}">


<script>
	document.domain = "#{applicationData.domainUrl}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
	var skinId = #{applicationData.skinId};
	var firstTimeVisit="#{applicationData.firstVisitAO}";
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
	</h:panelGroup>
	var bundle_msg_today = "#{msgs['investment.time.today']} ";
	var currencySymbol = "#{applicationData.realCurrencySymbol}";
	var currencyDecimalPoint = #{applicationData.currencyDecimalPointDigits};
	var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif';
	var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif';
	var marketMenuError= "#{msgs['market.menu.error']}";
	var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
	var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
	var tradingPage = true;
	var isMobileParm = false;
	var hasFlash  = true;
	var portrait = false;
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
	var isLeftCurrencySymbol = #{applicationData.currencyLeftSymbol};
	var selectorRetunrPct="#{msgs['selector.return.pct']}";
	var selectorAboveBelowPct="#{msgs['selector.return.above.below']}";
		
	function getFlashRequestPath() {
		var domain = window.top.location.href;
		if (domain.substr(0, 7) == "http://") {
			domain = domain.substr(7);
		}
		if (domain.indexOf("/") != -1) {
			domain = domain.substr(0, domain.indexOf("/"));
		}
		return "http://" + domain + context_path;
	}
</script>

<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/bridge/lsflashbridge.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tradePage.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tradeMarkPopup.js"></script>

<script>
	//hide the menus if there is one open
	document.onclick=hideMenus;
</script>

<!-- Trade Mark popup -->
<div id="boxes_tm">
<div style="display: none;" id="dialog_tm" class="window_tm">
</div>
<div style="display: none; opacity: 0.8;" id="mask_tm"></div>
</div>

<ui:insert name="selected" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>
<!-- trade box msg -->
<span style="display: none;" id="russionCharBox"> &#1074; </span>
<table width="970" border="0" cellspacing="0" cellpadding="0" align="center" class="table_no_up_and_down_border">
    <tr>
        <td width="970" height="103" align="center" valign="top" class="" ><iframe id="header" name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/header_loggedin.jsf?refresh=true&amp;appbaner" width="970" height="103" scrolling="no" ></iframe></td>
    </tr>
    <tr>
	    <td width="970" height="26" class="" >
			<ui:include src="/jsp/tickerWrapper_old.xhtml"></ui:include>
		</td>
	</tr>
	<tr>
       <td class="" >
			<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0"> <!--  first -->
				<tr><td height="8" colspan="2"><ui:insert name="message"></ui:insert></td></tr>
			    <tr>
			    	<td width="8">&#160;</td>
			        <td width="954">
			            <table width="954" border="0" cellpadding="0" cellspacing="0" class="gray_background">
			                <tr><td colspan="5"></td></tr>
			                <tr>
			                   <td colspan="5" height="38px">
						           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" class="gray_background"> <!--  MENU STRIP table -->
						             <tr class="menu_stripe">
						             	<td width="16" height="38px">&#160;</td>
						                <td align="#{applicationData.pageAlignment}" class="menu_underline_align">
						                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
						                		<ui:insert name="homePage" />
						                	</ui:include>
						                </td>
										<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" style="border-bottom:1px dotted black;" >&#160;</td>
						                <td width="16" class="menu_underline">&#160;</td>
						                <td width="140" align="right" height="48" valign="bottom" rowspan="3">
											<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
						                </td>
						                <td width="23" style="border-bottom:1px dotted black;">&#160;</td>
						                <td width="16" >&#160;</td>
						             </tr>
						             <tr height="2">
						             	<td width="16" style="font-size:1px;">&#160;</td>
					             		<td colspan="4" class="menu_underline2" style="font-size:1px">&#160;</td>
						             	<td width="23" style="border-bottom:1px dotted black;font-size:1px">&#160;</td>
						             	<td width="16" style="font-size:1px;">&#160;</td>
						             </tr>
						             <tr>
					                	<td height="8" width="775" colspan="4" style="font-size:1px;">&#160;</td>
					                	<td height="8" width="39px" colspan="3" style="font-size:1px;">&#160;</td>
					                </tr>
						           </table>
					           </td>
			                </tr>
			            </table>
			         </td>
			     </tr>
			 </table>
		</td>
   </tr>
   <h:panelGroup rendered="#{applicationData.skinId != 11}">
   		<ui:insert name="tradeMenuStrip" />
   </h:panelGroup>
</table>
   <ui:insert name="content"></ui:insert>

<!-- FOOTER -->
<table width="970px" border="0" cellspacing="0" cellpadding="0" class="table_border" align="center">
	<tr>
    	<td height="136px" align="center" width="970px">
    		<ui:include src="/jsp/#{applicationData.tlvPath}#{applicationData.templatesDirectory}/footer.xhtml" />
    	</td>
  	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:10; left:0; z-index:-1; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
<div id="treeM"  style="position:absolute;top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/marketSelect.xhtml" />
</div>
<div id="selectorMenu" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/returnSelector.xhtml" />
</div>
<div id="selectorAllSatatic" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/returnSelectorAll.xhtml" />
</div>
<div id="scheduleMenu" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/optionTypes.xhtml" />
</div>
</f:view>
<div id="log"></div>
<div id="tmpdiv" style="display: none;"></div>

<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/investmentPopup.jsf"/>
<a id="emailThickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/emailPopup.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=500&amp;width=700&amp;modal=true" />

<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>

<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; user.emailPopUpDisplay &amp;&amp; user.emailAutorizedLogic}">
	#{user.setEmailPopUpDisplay}
	<script>
		setTimeout('runEmailThickBox();',1000);
	</script>
</h:panelGroup>

<ui:include src="/jsp/tradingBoxTemplates_old.xhtml">
	<ui:insert name="groupParam"></ui:insert>
</ui:include>

<ui:insert name="GoogleVisitHPCode"></ui:insert>

<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</html>