<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<f:view locale="#{applicationData.userLocale}">

<head>
	<script>
		var serverOffsetMillis = #{applicationData.timeMilis} - new Date().getTime();
		document.domain = "#{applicationData.domainUrl}";
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
		var skinId = #{applicationData.skinId};
		var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
		</h:panelGroup>
		var bundle_msg_today = "#{msgs['investment.time.today']} ";
		var currencySymbol = "#{applicationData.realCurrencySymbol}";
		var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif';
		var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif';
		var marketMenuError= "#{msgs['market.menu.error']}";
		var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
		var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
		//hide the menus if there is one open
//		document.onmouseup=hideMenus;
	</script>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Pragma" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <ui:insert name="metaDescription"><META NAME="description" content="#{msgs['anyoption.description']}"/></ui:insert>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/style_css.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
   	<title><ui:insert name="windowtitle"/></title>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
				runThickBox(#{facesContext.externalContext.requestParameterMap['tickBoxMarketId']}, #{facesContext.externalContext.requestParameterMap['tickBoxOppId']});
			}
		</script>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
			}
		</script>
	</h:panelGroup>
	<ui:insert name="selected" />
</head>
<body onload="onLoadOpenThickBox(); supportPhones('supportPhones');">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
	</h:panelGroup>
	<div align="center">
		<div class="container" style="border-top:0px solid #a8a8a8;height:920px;">
			<div class="header grad clear">
				<div class="h_left fLeft"><a href="#"><img src="#{applicationData.imagesPath}/images_css/logo.png"/></a></div>
				<iframe class="fRight" id="header" name="header" ALLOWTRANSPARENCY="true" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/templates/header_css.jsf" width="370" height="103" scrolling="no"></iframe>
			</div>
			<ui:include src="/jsp/tickerWrapper_css.xhtml" />
			<div class="clear menu c_marg">
				<ui:insert name="menu" />
				<div class="fRight clock"><ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" /></div>
				<div class="clear date">
				</div>
			</div>
			<ui:insert name="content" />
		</div>
		<ui:insert name="featuresStrip" />
		<ui:insert name="infoAndNewsStrip" />
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer_css.xhtml" />
	</div>

<h:form>
	<div id="skinsM" style="position:absolute; top:10; left:0; z-index:-1; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
<div id="treeM"  style="position:absolute;top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/marketSelect_css.xhtml" />
</div>
<div id="scheduleMenu" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/optionTypes.xhtml" />
</div>

<div id="log"></div>
<div id="tmpdiv" style="display: none;"></div>

<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/bridge/lsflashbridge.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tradePage.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>
<ui:include src="/jsp/tradingBoxTemplates_css.xhtml">
	<ui:insert name="groupParam"></ui:insert>
</ui:include>

<ui:insert name="GoogleVisitHPCode"></ui:insert>

<c:if test="${applicationData.isLive}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>

</body>
</f:view>
</html>