body{background:#072c59 url('../img/bgr.jpg') no-repeat top left;background-size:100%;min-width:480px;color:#093755;margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;}
a{color:#093755;text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:none;margin:0;padding:0;}

.gd_taC{text-align:center;}
.gd_fL{float:left;}
.gd_mr10{margin-right:10px;}
.gd_cWhite{color:white;}
a.gd_tdUL{text-decoration:underline;}

.gd_bgr{position:fixed;top:0;left:0;width:100%;min-width:480px;height:100%;min-height:800px;background:#072c59 url('../img/bgr.jpg') no-repeat top left;background-size:100%;z-index:1;}
.gd_cont{position:relative;z-index:2;}
.gd_fs17{font-size:17px;}
.gd_fs15{font-size:15px;}
.gd_fwB{font-weight:bold}


.gd_logo{display:block;text-align:left;padding:25px 0;padding-left:20px;}


.gd_tabs1_in{min-height:400px;text-align:center;font-size:24px;padding-top:20px;margin-bottom:10px;
	/*background:url('../img/gd_g2.png') repeat-x;*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2e2e2), to(rgba(255, 255, 255, 0.0)));
	background:-webkit-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
	background:-moz-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
	background:-ms-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
	background:-o-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
}

.gd_slider_nav{clear:both;text-align:center;}
.gd_slider_nav span{background:url('../img/gd_p.png') no-repeat 0 0;display:inline-block;width:15px;height:15px;margin-right:5px;
	zoom:1;filter:alpha(opacity=70);opacity:0.7;cursor:pointer;
	-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.gd_slider_nav span:hover,.gd_slider_nav span.hov{zoom:1;filter:alpha(opacity=100);opacity:1.0;}

.gd_slider{overflow:hidden;width:419px;height:363px;display:inline-block;position:relative;}
.gd_slider_in{position:absolute;top:0;left:0;width:2514px;}
.gd_slider_in img{float:left;}