<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>
	#{applicationData.updateLastTopTrades}
	<script>homePage_check = true;</script>
	 <ui:include src="/jsp/#{applicationData.tlvPath}welcomeBanner_zh.xhtml"/>
	 <div class="clear oH mt10">
		<div class="fL home_left_side">
			<!-- Demo -->
			<div class="clear">
				<div class="fL">
					<!-- Start of call me -->
					<ui:include src="/jsp/banner_HOW_TO.xhtml"/>
				</div>
				<div class="fR">
					<!-- unstable -->
					<div id="ls_unstable" style="display:none">
						<!-- unstable_pic come from script dont delete this line-->
					</div>
					<!-- trade box -->
					<div id="markets_table">
						<div id="box0">
							<ui:include src="/jsp/tradingBoxLoading_old.xhtml" />
						</div>
					</div>
					<!-- end of trade box -->
					<!-- off hours -->
					<div id="off_hours_banner" style="display: none;">
						<img src="#" />
					</div>
					<!-- end of trade box -->
				</div>
			</div>
			<!-- reuters -->
			<div class="box_oneLine clear">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/thlo.jpg" width="129px" height="22px" border="0" class="vaM"/>
				</a>
				<span class="vaM"><h:outputText value="#{msgs['reuters.logo.txt']}"/></span>
			</div>
			<div class="disclaimer clear">
				<h:outputText value="#{msgs['disclaimer.txt']}" escape="false"/>
			</div>
			<!-- HowToTrade -->
			<div class="clear mt10">
				<div id="howToHpBanner">
					 <ui:include src="/jsp/howToTradeBanner_zh.xhtml"/>
				</div>
				<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
					<div id="oneTouchHpBanner" style="display:non;" class="mt10">
						<ui:include src="oneTouchBannerHomePage.xhtml" />
					</div>
				</h:panelGroup>
			</div>
			<!--Pictures  forex, oil...-->
			<div class="clear home_forex_h oH mt10">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" styleClass="home_forex_a">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/b1.jpg" title="#{msgs['forex.icon.alt']}"/>
					<span>外 汇</span>
				</h:outputLink>
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" styleClass="home_forex_a">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/b2.jpg" title="#{msgs['oil']}"/>
					<span>能 源</span>
				</h:outputLink>
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" styleClass="home_forex_a">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/b3.jpg" title="#{msgs['commodities']}"/>
					<span>农产品</span>
				</h:outputLink>
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" styleClass="home_forex_a">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/b4.jpg" title="#{msgs['indice']}" />
					<span>指 数</span>
				</h:outputLink>
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" styleClass="home_forex_a">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/b5.jpg" title="#{msgs['indice']}" />
					<span>期 货</span>
				</h:outputLink>
			</div>
			<!-- Our advantages -->
			<h:panelGroup rendered="#{false}">
			<div class="clear">
				<ui:include src="/jsp/#{applicationData.tlvPath}ourAdvantages_zh.xhtml"/>
			</div>
			</h:panelGroup>
			<!-- about 168qiquan binaryOption -->
			<h:panelGroup rendered="#{false}">
			<div class="clear">
				<ui:include src="/jsp/#{applicationData.tlvPath}about_anyoption_binaryOption_zh.xhtml"/>
			</div>
			</h:panelGroup>
		</div>
		<div class="fR home_right_side" id="right">
			<!-- img -->
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/home_page/banner1.jpg" title="#{msgs['debit.card']}"/>
			</h:outputLink>
			<!-- top 5 -->
			<div class="home_right_guide_h mt10">
				<div class="home_right_guide_hh">优秀交易排行</div>
				<div class="p10_0">
					<t:dataTable id="dataLastWeek"
						var="investment"
 						value="#{applicationData.getLastTopTrades('7')}"
						preserveDataModel="false"
						rows="10"
						renderedIfEmpty="false"
						cellpadding="0"
						cellspacing="0"
						rowIndexVar="crrInvestmentIndex"
						>
						<t:column >
							<div class="line">
								<span class="userdetails vaM">
									<img src="#{applicationData.imagesPath}/flags/#{investment.countryId}.png" border="0" class="flag vaM" />
									<span class="vaM">
										<t:outputText id="cityName#{crrInvestmentIndex}" value="#{investment.cityName}" />&#160;
										<h:outputText value="#{msgs['live.AO.bracket.left']}" />
										<t:outputText id="countryName#{crrInvestmentIndex}" value="#{investment.countryNameForDisplay}" />
										<h:outputText value="#{msgs['live.AO.bracket.right']}" />
										<h:outputText value="#{msgs['live.AO.comma']}" />&#160;
										<t:outputText id="dateSettled#{crrInvestmentIndex}" escape="false" value="#{investment.dateSettledLiveAO}" />
										<h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
									</span>
								</span>
								<br />
								<h:outputText value="#{msgs['live.AO.top.trade.schema.part1']}" /> <!-- invest text -->
								<h:panelGroup rendered="#{investment.opportunityId == 1}">
									<img src="#{applicationData.imagesPath}/icon_BO.png" border="0" class="vaM"/>
								</h:panelGroup>
								<h:panelGroup rendered="#{investment.opportunityId == 3}">
									<img src="#{applicationData.imagesPath}/optionPlus_icon_sm.png" border="0" class="vaM" />
								</h:panelGroup>
								<h:panelGroup rendered="#{investment.opportunityId == 4 || investment.opportunityId == 5}">
									<img src="#{applicationData.imagesPath}/0100_icon_sm.png" border="0" class="vaM" />
								</h:panelGroup>
								<span class="profit vaM">
									<t:outputText id="marketName#{crrInvestmentIndex}" value="#{investment.marketNameForDisplay}" />
								</span>
								<h:outputText value="#{msgs['live.AO.top.trade.schema.part2']}" /> <!-- profit text -->
								<t:outputText id="houseResult#{crrInvestmentIndex}" value="#{investment.profitUserTxt}" />&#160;
								<h:outputText value="#{msgs['live.AO.top.trade.schema.part3']}" /> <!-- expirity date text -->
								<span class="nobold vaM">
									<t:outputText id="timeSettled#{crrInvestmentIndex}" escape="false" value="#{investment.timeSettledLiveAO}" />&#160;
									<h:outputText value="#{msgs['live.AO.top.trade.schema.part5']}" /> <!-- level text -->
									<t:outputText id="closingLevel#{crrInvestmentIndex}" value="#{investment.closingLevel}" />
									<h:outputText value="#{msgs['live.AO.bracket.right']}" />
									<h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
								</span>	
							</div>
						</t:column>
					</t:dataTable>
				</div>
			</div>
			<!-- options binary guide -->
			<div class="home_right_guide_h mt10">
				<div class="home_right_guide_hh">二元期权攻略</div>
				<div class="p10">
					<ui:include src="/jsp/zh/binaryOptionsScrollerHP.xhtml" />
				</div>
			</div>
		</div>
	 </div>

	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.showNonDepositorPopup}">
		<h:panelGroup rendered="#{applicationData.skinId != 4}">
			<a id="NonDepositorPopupThickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/welcomePopup.jsf?KeepThis=true&amp;TB_iframe=true&amp;height=457&amp;width=700&amp;modal=true" />
		</h:panelGroup>

		<script>
			$(document).ready(function(){showThichBox();});
			function showThichBox() {
				var skinName = "";
				<h:panelGroup rendered="#{applicationData.skinId == 4}">
					skinName = "Ar";
				</h:panelGroup>
				runNonDepositorPopupThickBox(skinName);
			}
		</script>
	</h:panelGroup>
</f:view>