﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"       xmlns:f="http://java.sun.com/jsf/core"       xmlns:h="http://java.sun.com/jsf/html"       xmlns:c="http://java.sun.com/jsp/jstl/core"       xmlns:t="http://myfaces.apache.org/tomahawk"         >

	<f:view>



		  <tr>
			 <td>
				<table  border="0" cellspacing="0" cellpadding="0" align="center">
			  <tr>
				<td class="newOnAo_st">168期权的新交易系统允许客户查看交易图表，交易图表可让客户获得以下信息：根据他们正在交易的期权情况，客户可获得当前及更新的预期利润信息，并从图表中直接购买额外的期权。所有这些都能在简单易用的高质量界面进行。
				  <br />
				  <br />
				  <span class="profitline_headline">它是如何操作的?</span><br />
					新交易系统只在此阶段对购买小时期权的客户显示利润曲线。一旦小时期权被购买，利润线系统上将会显示一个线条以详细说明购买了的期权：其相关资产，到期时间，投资总额及图标 <img src="#{applicationData.imagesPath}/magnifying.gif" />   . 您可通过点击图标返回到交易系统界面。如果您购买了多个同一到期时间和相同资产的期权，那么投资总额将会显示在同一线上。当前收益：根据相关资产的最新价位水平，反映您正在交易的投资的 <b><u>理论</u></b> 收益。<br />
					<br /></td>
						  </tr>
						  <tr>
							<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_graph_profitline.jpg" width="426" height="272" /></td>
						  </tr>
						  <tr>

					<td class="newOnAo_st"><span class="profitline_headline">
					交易系统</span><br />


					新交易系统的中心部分显示的是相关资产从交易开始到所选择的小时到期时间的波动图表。
					购买了的看涨期权用绿色箭头表示 <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up_profitline.jpg" width="9" height="5" /><br />

					购买了的看跌期权用红色箭头表示 <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down_profitline.jpg" width="9" height="5" /><br />
					<br />
					<span class="profitline_boldtext"> 图表被分为以下几个部分，根据您相关期权的市场走势变亮或变暗:</span></td>
						  </tr>
						  <tr>
							<td  height="30">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/pro_info_profitline.gif" width="402" height="17" /></td>
						  </tr>
						  <tr>
							<td class="newOnAo_st"><span class="profitline_boldtext">
					蓝色:</span> 在这个区域，如果相关资产的价格水平被包含在设定区域内，则购买了的期权将是价内期权。当更新的价位水平进入预期收益高于您的总投资额（利润）区域时，该区域变为淡蓝色。
					<br />
					<span class="profitline_boldtext">灰色:</span> 在这个区域，如果相关资产的价格水平被包含在设定区域内，则购买了的期权将是价外期权。当更新的价位水平进入预期收益低于您的总投资额区域时，该区域为淡灰色。
					<br />
					<span class="profitline_boldtext">当前水平:</span> 更新的价格水平由一条实黄线作标识。
					<br />
					<span class="profitline_boldtext">期权水平:</span> 投资时的价位水平由一条虚黄线作标志。购买额外的期权可以直接通过右下侧的交易选框中执行。
				</td>
			  </tr>
			</table>
		   </td>
		  </tr>


	</f:view>


</f:view>