﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body style="background:transparent;">
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">两倍回报率期权</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			我们很高兴通知您，我们向您提供了一个特别优惠：两倍回报率期权。<br/><br/>

						您购买的下一个期权如果是价内期权，那么您将会获得130-142 ％的回报率（而不是65-71 ％） 。此外，如果是价外期权，您同样将会收到15 ％退款的保障。<br/><br/>

						此优惠仅适用于金额为 #{facesContext.externalContext.requestParameterMap['minInvestAmount']} 至 #{facesContext.externalContext.requestParameterMap['maxInvestAmount']} 的投资。<br/><br/>

						优惠的有效期至&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

						请注意，收到奖金后，按照以下一般条款规定，限制条款将适用于您帐户的提款。<br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>奖金 – 一般条款</strong><br/>
	            客户必须遵守具体参与的优惠条款，奖金才会被记入到客户账户。例如：在一定的时间内需要存款的最低金额和/或至少要购买的期权量。
	            <br/><br/>
				除非在优惠条款中另有说明，客户若想在收到此优惠奖金后，从账户提款的前提是客户需再作出投资，投资金额需高于原产生收益的期权价值的 #{facesContext.externalContext.requestParameterMap['wageringParam']} 倍。
				<br/><br/>
				在期权是“价外期权”的情况下，客户将可被免除履行提款前所需达到的最少投资额。
				<br/><br/>
				本公司鼓励其客户参与优惠活动，但不要滥用。滥用任何优惠均可导致奖金取消和关闭客户在本网站的账户。
				<br/><br/>
				奖金必须在具体陈述的有效期内使用。如果奖金在有效期期间未被使用，奖金将会从客户帐户撤销。
				<br/><br/>
				在收到奖金/福利后，客户有3（三）个月时间来达到作为取款先决条件的投资总额要求。‎如果在这段时间内，投资总额没有达到要求的数额，公司将根据自由裁量权，从客户的账户中取回相应的奖金/福利。
				‎<br/><br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
