<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			out1='#{msgs['issues.auto.insert.approve.text']}';

			return out1;
		}

		function confirmit() {

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}
	</SCRIPT>

    <h:panelGroup >

        <h:form id="autoIssuesForm" enctype="multipart/form-data">
        	<t:saveState id="file1" value="#{autoIssuesForm.file}" />
        	<t:saveState id="autoissueformstate" value="#{autoIssuesForm}" />

   			<h:panelGrid border="0" columns="2">
   			
   					<h:outputLabel for="componentId" value="#{msgs['issues.component']}"/>
	        		<h:panelGrid border="0" columns="2">
    	       			<h:selectOneMenu id="componentId" value="#{autoIssuesForm.issue.componentId}" required="true" >        	       			   
        	   				<f:selectItems value="#{writer.issueComponentSI}" />
            	   		</h:selectOneMenu>
            			<t:message id="componentIdError" for="componentId" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

            		<h:outputLabel for="statusId" value="#{msgs['issues.status']}"/>
	        		<h:panelGrid border="0" columns="2">
    	       			<h:selectOneMenu id="statusId" value="#{autoIssuesForm.issue.statusId}" required="true" >
    	       			    <f:selectItem itemLabel="" itemValue="" />
        	   				<f:selectItems value="#{writer.issueStatusesSI}" />
            	   		</h:selectOneMenu>
            			<t:message id="statusIdError" for="statusId" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>


            		<h:outputLabel for="subjectId" value="#{msgs['issues.subject']}"/>
            		<h:panelGrid border="0" columns="2">
		       			<h:selectOneMenu id="subjectId" value="#{autoIssuesForm.issue.subjectId}" required="true" >
	    	   				<f:selectItems value="#{writer.issueSubjectsSI}" />
	        	   		</h:selectOneMenu>
	        			<t:message id="subjectIdError" for="subjectId" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

            		<h:outputLabel  for="priorityId" value="#{msgs['issues.priority']}"/>
					<h:panelGrid  border="0" columns="2">
    		       		<h:selectOneMenu id="priorityId" value="#{autoIssuesForm.issue.priorityId}" required="true" >
               				<f:selectItem  itemLabel="" itemValue="" />
               				<f:selectItems value="#{writer.issuePrioritiesSI}" />
        	       	   </h:selectOneMenu>
            		   <t:message id="priorityIdError" for="priorityId" replaceIdWithLabel="true" styleClass="error"/>
	        		</h:panelGrid>

					<h:outputLabel for="channelId" value="#{msgs['issues.actions.channel']}"/>
					<h:panelGrid border="0" columns="2">
           				<h:selectOneMenu immediate="true" id="channelId" value="#{autoIssuesForm.issueAction.channelId}" required="true"
           					valueChangeListener="#{autoIssuesForm.updateChannelId}"
           					onchange="this.form.submit();">
           					<f:selectItem  itemLabel="" itemValue="" />
               				<f:selectItems value="#{autoIssuesForm.issueChannelsSI}" />
	               	    </h:selectOneMenu>
        	  			<t:message id="channelIdError" for="channelId" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>

					<h:outputLabel rendered="#{autoIssuesForm.issueAction.channelId==7}" for="activitiesId" value="#{msgs['issues.actions.activities']}"/>
					<h:panelGrid rendered="#{autoIssuesForm.issueAction.channelId==7  &amp;&amp; (writer.writer.id != 16 || writer.writer.id != 13 || writer.writer.id != 312 || writer.writer.id != 43)}" border="0" columns="2">
           				<h:selectOneMenu immediate="true" id="activitiesId" value="#{autoIssuesForm.issueAction.actionTypeId}" required="false"
           					valueChangeListener="#{autoIssuesForm.updateActivityId}"
           					onchange="this.form.submit();">
           					<f:selectItem  itemLabel="" itemValue="" />
               				<f:selectItems value="#{writer.autoIssueActivityActionTypesWithoutVelocity}" />
	               	    </h:selectOneMenu>
        	  			<t:message id="activitiesIdError" for="activitiesId" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>
	            	
	            	<h:panelGrid rendered="#{autoIssuesForm.issueAction.channelId==7  &amp;&amp; (writer.writer.id == 16 || writer.writer.id == 13 || writer.writer.id == 312 || writer.writer.id == 43)}" border="0" columns="2">
           				<h:selectOneMenu immediate="true" id="activitiesIdVelocity" value="#{autoIssuesForm.issueAction.actionTypeId}" required="false"
           					valueChangeListener="#{autoIssuesForm.updateActivityId}"
           					onchange="this.form.submit();">
           					<f:selectItem  itemLabel="" itemValue="" />
               				<f:selectItems value="#{writer.autoIssueActivityActionTypes}" />
	               	    </h:selectOneMenu>
        	  			<t:message id="activitiesIdErrorVelocity" for="activitiesIdVelocity" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>

					<h:outputLabel rendered="#{autoIssuesForm.issueAction.channelId!=7 &amp;&amp; !isMarketingAutoIssue}" for="marketingOperationId" value="#{msgs['issues.actions.marketing.operation']}"/>
	        		<h:panelGrid rendered="#{autoIssuesForm.issueAction.channelId!=7 &amp;&amp; !isMarketingAutoIssue}" border="0" columns="2">
        	   			<h:inputText id="marketingOperationId" value="#{autoIssuesForm.issueAction.marketingOperationId}" />
        	   			<t:message id="marketingOperationIdError" for="marketingOperationId" replaceIdWithLabel="true" styleClass="error"/>
       				</h:panelGrid>

					<h:outputLabel for="significant" value="#{msgs['issues.actions.significant']}"/>
	        		<h:panelGrid border="0" columns="2">
        	   			<t:selectBooleanCheckbox id="significant" value="#{autoIssuesForm.issueAction.significant}" />
            			<t:message id="significantError" for="significant" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>

					<h:outputLabel for="actionTime" value="#{msgs['issues.actions.action.time']}" rendered="#{!isMarketingAutoIssue}"/>
					<h:panelGrid border="0" columns="9" rendered="#{!isMarketingAutoIssue}">
	            		<h:panelGrid border="0" columns="3">
							<h:inputText styleClass="input_text" id="actionTime" value="#{autoIssuesForm.actionTime}" maxlength="10" size="8" dir="ltr" required="true"
								onclick="cal.select(document.forms['autoIssuesForm'].elements['autoIssuesForm:actionTime'],'anchor1','dd/MM/yyyy'); return false;">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						    </h:inputText>
					    	<A HREF="#" onClick="cal.select(document.forms['autoIssuesForm'].elements['autoIssuesForm:actionTime'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
				       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
					        </A>
						</h:panelGrid>

	            		<h:selectOneMenu id="issueHour" value="#{autoIssuesForm.actionTimeHour}"  >
		   					<f:selectItems value="#{applicationData.hours}" />
			         	</h:selectOneMenu>

			         	<h:outputText value=":"/>

	               		<h:selectOneMenu id="issueMin" value="#{autoIssuesForm.actionTimeMin}"  >
		   					<f:selectItems value="#{applicationData.minutes}" />
			          	</h:selectOneMenu>

			          	<t:message id="actionTimeError" for="actionTime" replaceIdWithLabel="true" styleClass="error"/>
          	 		</h:panelGrid>


	            	<h:outputLabel for="newComments" value="#{msgs['issues.actions.comments']}"/>
	            	<h:panelGrid border="0" columns="2">
		          		<h:inputTextarea escape="false" cols="50" rows="3" id="newComments" value="#{autoIssuesForm.issueAction.comments}"  required="true">
	   			           			<f:validateLength maximum="2000"/>
	        	   		</h:inputTextarea>
	            		<t:message id="commentsError" for="newComments" replaceIdWithLabel="true" styleClass="error"/>
	            	</h:panelGrid>

	            	<h:outputLabel for="file" value="#{msgs['issues.users.file']}"/>
					<h:panelGrid border="0" columns="5">
				        <t:inputFileUpload id="file" required="false"
		        		    value="#{autoIssuesForm.file.file}"
				            storage="file"  />
						<t:message id="fileError" for="file" replaceIdWithLabel="true" styleClass="error"/>

		                <h:outputText rendered="#{autoIssuesForm.file.id>0}" value="#{msgs['files.filelink']}"/>
		                <h:outputLink rendered="#{autoIssuesForm.file.id>0}" value="#"
			                onclick="window.open('#{autoIssuesForm.filesPath}#{autoIssuesForm.file.fileName}', 'popupWindow', 'fullscreen=yes,titlebar=no,scrollbars=no,directories=no,menubar=no,resizable=no,location=no,toolbar=no,status=no,width=500,height=100');" >
			                <h:outputText dir="#{writer.localInfo.dir}" value="#{autoIssuesForm.filesPath}#{autoIssuesForm.file.fileName}" />
			            </h:outputLink>
		                <h:outputText rendered="#{autoIssuesForm.file.id>0}" />
		            </h:panelGrid>


					<h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
						 <t:commandLink
						 	onclick="if(!confirmit()) return false;"
						 	action="#{autoIssuesForm.insertAutoIssues}">
				                <h:outputText id="save" value="#{msgs['button.save']}" />
				  		 </t:commandLink>
 						<t:message id="processStarted" for="save" replaceIdWithLabel="true" styleClass="info"/>
			        </h:panelGrid>
        	</h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>