<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
	#{user.goProduct}

    <t:saveState value="#{MarketingOperationsForm}" />

    <h:panelGroup >
		<h:form id="marketingOperationsForm" enctype="multipart/form-data">
   			<h:panelGrid border="0" columns="2">

     				<h:outputLabel for="marketingOperationName" value="#{msgs['marketing.operation.name']}" />
	        		<h:panelGrid border="0" columns="2">
        	   			<h:inputText id="marketingOperationName" value="#{marketingOperationsForm.name}" maxlength="200" required="true" requiredMessage="Please fill in the mandatory fields." />
        	   			<t:message id="marketingOperationError1" for="marketingOperationName" replaceIdWithLabel="true" styleClass="error"/>
       				</h:panelGrid>

     				<h:outputLabel for="marketingOperationDuration" value="#{msgs['marketing.operation.duration.days']}"/>
	        		<h:panelGrid border="0" columns="2">
        	   			<h:inputText id="marketingOperationDuration" value="#{marketingOperationsForm.durationDays}"  required="true" requiredMessage="Please fill in the mandatory fields.">
	        	   			<f:validateDoubleRange  minimum="1.00" maximum="100.00"/>
        	   			</h:inputText>
        	   			<t:message id="marketingOperationError2" for="marketingOperationDuration" replaceIdWithLabel="true" styleClass="error"/>
       				</h:panelGrid>

					<h:outputLabel for="duration" value="#{msgs['marketing.operation.created']}" />
					<h:panelGrid border="0" columns="9">
	            		<h:panelGrid border="0" columns="3">
							<h:inputText styleClass="input_text" id="creationTime" value="#{marketingOperationsForm.timeCreated}" maxlength="10" size="8" dir="ltr" required="true"
								onclick="cal.select(document.forms['marketingOperationsForm'].elements['marketingOperationsForm:creationTime'],'anchor1','dd/MM/yyyy'); return false;">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						    </h:inputText>
					    	<a href="#" onclick="cal.select(document.forms['marketingOperationsForm'].elements['marketingOperationsForm:creationTime'],'anchor1','dd/MM/yyyy'); return false;" title="" name="anchor1" id="anchor1">
				       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
					        </a>
						</h:panelGrid>

	            		<h:selectOneMenu id="issueHour" value="#{marketingOperationsForm.actionTimeHour}"  >
		   					<f:selectItems value="#{applicationData.hours}" />
			         	</h:selectOneMenu>

			         	<h:outputText value=":"/>

	               		<h:selectOneMenu id="issueMin" value="#{marketingOperationsForm.actionTimeMin}"  >
		   					<f:selectItems value="#{applicationData.minutes}" />
			          	</h:selectOneMenu>
          	 		</h:panelGrid>
          	 		
					<h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
						 <t:commandLink	action="#{marketingOperationsForm.save}">
			                <h:outputText value="#{msgs['button.save']}" />
				  		 </t:commandLink>
         	   			<t:message id="marketingOperationError3" styleClass="error"/>
			        </h:panelGrid>
        	</h:panelGrid>

        </h:form>
   </h:panelGroup>
</ui:define>
</ui:composition>
</html>