<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpenedProfit}">
		<meta HTTP-EQUIV="refresh" CONTENT="#{slipForm.timeToFirstOpenedExpireProfit}" />
	</h:panelGroup>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles_#{applicationData.skin.style}_iframe.css?version=cvsTimeStamp" />
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js?version=cvsTimeStamp"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_event.js?version=cvsTimeStamp"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scroll.js?version=cvsTimeStamp"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scrollbar.js?version=cvsTimeStamp"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_controls.js?version=cvsTimeStamp"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}

		function openPopup(marketId, oppId) {
			window.top.openProfitLine_box(marketId);
			return false;
		}
	</script>

<style type="text/css">
	#extra_controls, #scrollbar {
	    display:none; /* hide from incapable */
	    }
	div#wn {
	    float:left;
	    margin-right:0px;
	    height:85px;
    }
	div#scrollbar {
	    float:left;
	    height:85px;
    }
    div#track {
  		height:63px;
  		top:11px!important;
	}
	.clearer { clear:left; }
</style>

<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	<script type="text/javascript">

	function init_dw_Scroll() {
	try {
	    var wndo = new dw_scrollObj('wn', 'lyr1');
	    wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
	    // id, autohide (hide when not needed), axis
	    wndo.setUpScrollControls('scrollbar', true, 'v');
		} catch(e) {}
	}

	// if code supported, link in the style sheet and call the init function onload
	try {
		if ( dw_scrollObj.isSupported() ) {
		    dw_writeStyleSheet('#{facesContext.externalContext.requestContextPath}/css/scroll.css?version=cvsTimeStamp');
		    // Enable printing here if you like
		    dw_scrollObj.printEnabled = true;
		    dw_Event.add( window, 'load', init_dw_Scroll);
		}
	} catch(e){}

	</script>
</h:panelGroup>

</head>
<body dir="#{applicationData.pageDirection}" class="body_TP" style="background-image: none ;">
<f:view locale="#{applicationData.userLocale}" >


	<script language="JavaScript">
		// configuration variable for the hint object, these setting will be shared among all hints created by this object
		var HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : 20, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'bctl', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : true, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};
		// text/HTML of the hints
		var HINTS_ITEMS = [
		<t:dataList value="#{slipForm.openedProfit}" var="investment" layout="simple">
			'<h:outputText value="#{slipForm.getSumInvestWithText(investment)}" />',
		</t:dataList>
		''];

		var myHint = new THints (HINTS_ITEMS, HINTS_CFG);
	</script>
	<table width="300px" height="30px" cellpadding="0" cellspacing="0" align="center" border="0">
		<tr>
			<td width="150" height="30" valign="middle" class="profit_tab_TP">#{msgs['right.side.investments.profit']}</td>
			<td width="150" height="30" valign="middle" class="expiry_tab_TP">
				<a href="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.skin.templates}/single_pages/right_side_investments_TP_old.jsf" class="expiry_tab_TP" style="background-image: none;">
					#{msgs['right.side.investments.expire']}
				</a>
			</td>
		</tr>
	</table>
	<table width="300px" height="20px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr class="todayInvlable" height="20px" >
			<td width="113px" class="exp_profitline_TP" height="20px"><h:outputText  value="&#160; #{msgs['right.side.investments.market']}"/></td>
			<td width="84px" class="exp_profitline_TP" height="20px" ><h:outputText  value="#{msgs['right.side.investments.time.closing']}"/></td>
			<td width="99px" class="exp_profitline_TP" height="20px" ><h:outputText  value="#{msgs['right.nav.investments.graph']}"/></td>
 		</tr>
 	</table>

	<h:panelGroup rendered="#{slipForm.hasOpenedProfit}">
		<table width="300px" height="85px" align="center" cellpadding="0" cellspacing="0" border="0">
			<tr height="85px">
				<td width="300px" valign="top">
					<div id="wn" style="width:289px;">
						<div id="lyr1" class="content" >
							<table width="289px" cellpadding="0" cellspacing="0" border="0" >
								<tr>
									<td colspan="6" height="5"></td>
								</tr>
			    				<t:dataList value="#{slipForm.openedProfit}" var="investment" rowIndexVar="crrInvestmentIndex" layout="simple">
			    					<h:panelGroup rendered="#{crrInvestmentIndex % 2 == 0}">
										<tr valign="middle" height="20px" width="289px" style="cursor:pointer" onmouseover="myHint.show(#{crrInvestmentIndex})" onmouseout="myHint.hide()">
											<td width="8"></td>
											<td align="#{applicationData.pageAlignment}" width="103px" class="todayInvasset">
												<h:outputText value="#{investment.marketName}" />
											</td>
											<td width="4"></td>
							    			<td align="#{applicationData.pageAlignment}" class="todayInvasset" width="78px">
										    	<h:outputText value="#{investment.onlyTimeEstClosing}">
										    		<f:convertDateTime pattern="#{presentationPatterns.timePattern}" timeZone="#{investment.utcOffsetCreated}" />
										    	</h:outputText>
											</td>
											<td width="4"></td>
											<td align="center" width="100px" class="todayInvasset">
												<a  class="general_link_blue_10" onclick="openPopup(#{investment.marketId},#{investment.opportunityId});">
													<t:outputText value="#{msgs['show.graph']} " />
													<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/magnifying.gif" width="14" height="14" border="0" align="center" />
												</a>
											</td>
										</tr>
									</h:panelGroup>
									<h:panelGroup rendered="#{crrInvestmentIndex % 2 == 1}">
										<tr valign="middle" height="20px" width="289px" style="cursor:pointer" onmouseover="myHint.show(#{crrInvestmentIndex})" onmouseout="myHint.hide()" bgcolor="#f2f2f2">
											<td width="8"></td>
											<td align="#{applicationData.pageAlignment}" width="103px" class="todayInvasset">
												<h:outputText value="#{investment.marketName}" />
											</td>
											<td width="4"></td>
							    			<td align="#{applicationData.pageAlignment}" class="todayInvasset" width="78px">
										    	<h:outputText value="#{investment.timeEstClosing}">
										    		<f:convertDateTime pattern="#{presentationPatterns.timePattern}" timeZone="#{investment.utcOffsetCreated}" />
										    	</h:outputText>
											</td>
											<td width="4"></td>
											<td align="center" width="100px" class="todayInvasset">
												<a  class="general_link_blue_10" onclick="openPopup(#{investment.marketId},#{investment.opportunityId});">
													<t:outputText value="#{msgs['show.graph']} " />
													<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/magnifying.gif" width="14" height="14" border="0" align="center" />
												</a>
											</td>
										</tr>
									</h:panelGroup>
	 		   					</t:dataList>
			   				   <tr width="182">
			   				   		<td width="162" height="*" colspan="3"></td>
			   				   </tr>
			   				</table>
		   				</div>
		   			</div>
		   		</td>
		   		<td width="11px">
					<!-- border attribute added to reduce support questions on the subject.
					    If you like valid strict markup, remove and place a img {border:none;} spec in style sheet -->
					<div id="scrollbar">
					    <div id="up"><a class="mouseover_up" href=""><img style="cursor:pointer;" src="#{applicationData.imagesPath}/ao/btn-up.gif" width="11" height="11" alt="" border="0" /></a></div>
					    <div id="track">
					        <div id="dragBar"></div>
					    </div>
					    <div id="down"><a class="mouseover_down" href=""><img style="cursor:pointer;" src="#{applicationData.imagesPath}/ao/btn-dn.gif" width="11" height="11" alt="" border="0" /></a></div>
					</div>
		   		</td>
			</tr>
		</table>

		<table align="center" width="300px" height="10px" cellpadding="0" cellspacing="0" border="0">
	 		<tr width="300px" height="10px" valign="top">
	         	<td valign="top" height="10px" align="center">
					<a class="general_link_blue_10" style="font-weight:bold;"  onclick="gotoInvests(); return false;"><h:outputText value="#{msgs['right.side.investments.show.all']}" /></a>
				</td>
		    </tr>
    	</table>
	</h:panelGroup>

	<h:panelGroup rendered="#{!slipForm.hasOpenedProfit}">
		<table class="invest_table_no_up_border" width="300px" height="110" align="center" cellpadding="10px" cellspacing="0" border="0" style="border: 0px solid #a8a8a8;">
			<tr>
				<td align="#{applicationData.pageAlignment}" width="300px" class="todayInvasset">
					 <h:outputText escape="false" value="#{msgs['right.side.investments.profit.empty.tp']}"  />
					 <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/magnifying.gif" style="vertical-align: bottom;"/>
					 <h:outputText escape="false" value="&#160; #{msgs['right.side.investments.profit.icon']}"  />
				</td>
			</tr>
		</table>
	</h:panelGroup>
</f:view>
</body>
</html>