<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitleInner">
		<div class="subhead" align="center">
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '3'}"> <!-- Giropay -->
				<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.giropay.deposit']}" />
			</h:panelGroup>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '2'}"> <!-- direct24 -->
				<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.direct24.deposit']}" />
			</h:panelGroup>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '4'}">  <!-- EPS -->
				<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.eps.deposit']}" />
			</h:panelGroup>
		</div>
	</ui:define>
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
	</ui:define>
	<ui:define name="content">
		<h:panelGroup rendered="#{transaction.statusId == 2}"> <!-- succeed -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/mobile/pages/receipt.jsf";
			</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{transaction.statusId == 11}">   <!-- In progress -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/mobile/pages/inatecInProgress.jsf";
			</script>
		</h:panelGroup>

		<div id="mainDiv" align="center" class="pages_main_div">
			<h:outputText styleClass="error_messages" value="#{msgs['error.inatec.deposit']}"/>
			<br/>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '3'}"> <!-- Giropay -->
				<ui:include src="/mobile/pages/directAccountFieldsContent.xhtml" >
						<ui:param name="paymentType" value="3" />
					</ui:include>
			</h:panelGroup>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '2'}"> <!-- direct24 -->
				<ui:include src="/mobile/pages/directAccountFieldsContent.xhtml" >
						<ui:param name="paymentType" value="2" />
					</ui:include>
			</h:panelGroup>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '4'}">  <!-- EPS -->
				<ui:include src="/mobile/pages/directNoAccountFieldsContent.xhtml" >
						<ui:param name="paymentType" value="4" />
					</ui:include>
			</h:panelGroup>
		</div>
	</ui:define>
</ui:composition>
</html>