<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="pageTitleInner">
		<div class="subhead" align="center">
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '1'}"> <!-- Giropay -->
				<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.giropay.deposit']}" />
			</h:panelGroup>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '2'}"> <!-- direct24 -->
				<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.direct24.deposit']}" />
			</h:panelGroup>
			<h:panelGroup rendered="#{transaction.inatecPaymentTypeId == '3'}">  <!-- EPS -->
				<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.eps.deposit']}" />
			</h:panelGroup>
		</div>
	</ui:define>
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
	</ui:define>
	<ui:define name="content">
		<div id="mainDiv" align="center" class="pages_main_div">
			<br/>
	    	<h:panelGroup>
	    		<p class="info_pages_text_blue" align="center" >
					Nach Bestätigung Ihrer Bank wird der Betrag Ihrem Konto gutgeschrieben
	    		</p>
	      </h:panelGroup>
		</div>
	</ui:define>
</ui:composition>

</html>
