<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_no_padding.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
	</ui:include>
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['investments.jsf.title']}" />
	</div>
</ui:define>
<ui:define name="head">
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel.css?version=cvsTimeStamp" type="text/css" media="all" />
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel-min.js?v=1.4"></script>
</ui:define>
<ui:define name="content">

   <t:saveState value="#{investmentsContainer}" />

	<h:form id="investmentsContainer">
		<ui:include src="/jsp/pages/html_elements/showOffDiv_page.xhtml" />
		<h:inputHidden id="marketGroup" value="#{investmentsContainer.marketGroup}" />
		<h:inputHidden id="selectedAssetName" value="#{investmentsContainer.selectedAssetName}" />
		<h:inputHidden id="selectedInv" value="#{investmentsContainer.selectedInv}" />
		<h:inputHidden id="showOffSentence" value="#{investmentsContainer.showOffSentence}" />
		<h:inputHidden id="showOffFacebookText" value="#{investmentsContainer.showOffFacebookText}" />
		<h:inputHidden id="showOffTwitterText" value="#{investmentsContainer.showOffTwitterText}" />
		<h:inputHidden id="lastShowOff" value="#{investmentsContainer.lastShowOff}" />

	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<div id="mainDiv" align="center" class="">
		<table cellpadding="0" cellspacing="0" width="300px" align="center">
			<tr align="center">
				<td width="180px;" valign="middle">
					<input type="checkbox" name="investmentOpen" id="investmentOpen"
						onclick="document.getElementById('investmentClose').checked = !document.getElementById('investmentOpen').checked;
								 if(document.getElementById('investmentOpen').checked){
								 	document.getElementById('investmentsContainer:isSettled').value='0';}
								 else
								   {document.getElementById('investmentsContainer:isSettled').value='1';}"
						 value="0" style="vertical-align:middle" />
					<h:outputLabel class="lable_text" valign="top" style="vertical-align:bottom">#{msgs['investments.open']}</h:outputLabel>
				</td>
				<td width="5px">&#160;</td>
				<td width="180px;" valign="middle">
					<input type="checkbox" name="investmentClose" id="investmentClose" class="lable_text"
						onclick="document.getElementById('investmentOpen').checked = !document.getElementById('investmentClose').checked;
							 if(document.getElementById('investmentClose').checked){
							 	document.getElementById('investmentsContainer:isSettled').value='1';}
							 else
								 {document.getElementById('investmentsContainer:isSettled').value='0';}"
					 	value="1" style="vertical-align:middle" />
					<h:outputLabel  class="lable_text" valign="top" style="vertical-align:bottom">#{msgs['investments.close']}</h:outputLabel>
				</td>
			</tr>
		</table>
		<h:inputText id="isSettled" value="#{investmentsContainer.isSettled}"  style="display:none"/>
		<script>
			if (document.getElementById('investmentsContainer:isSettled').value=='0') {
				document.getElementById('investmentOpen').checked = true;
				document.getElementById('investmentClose').checked = false;
			} else {
				document.getElementById('investmentOpen').checked = false;
				document.getElementById('investmentClose').checked = true;
			}
		</script>

		<table cellpadding="0" cellspacing="0" width="275px" align="center">
			<tr><td height="2px" colspan="3"></td></tr>
			<tr align="center">
				<td align="right" width="50px">
					<h:outputLabel styleClass="lable" for="from" value="#{msgs['mobile.from.date']}" />
				</td>
				<td width="15px">&#160;</td>
				<td align="left" width="210px">
					<div class="date_select_div" align="left" style="margin-top:4px;" onclick="showDatePicker(#{applicationData.androidApp},'investmentsContainer:from','investmentsContainer:fromDateSpan');">
						<h:outputText style="margin-left:7px;" id="fromDateSpan" value="#{investmentsContainer.from}">
							<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						</h:outputText>
					    <h:inputHidden id="from" name="from" value="#{investmentsContainer.from}">
					    	<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
					    </h:inputHidden>
					</div>
				</td>
			</tr>
			<tr><td height="4px" colspan="3"></td></tr>
			<tr align="center">
				<td align="right" width="50px">
					<h:outputLabel styleClass="lable" for="to" value="#{msgs['mobile.to.date']}" />
				</td>
				<td width="15px">&#160;</td>
				<td align="left" width="210px">
					<div class="date_select_div" style="margin-top:4px" onclick="showDatePicker(#{applicationData.androidApp},'investmentsContainer:to','investmentsContainer:toDateSpan');">
						<h:outputText style="margin-left:7px;" id="toDateSpan" value="#{investmentsContainer.to}">
							<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						</h:outputText>
					    <h:inputHidden id="to" name="to" value="#{investmentsContainer.to}">
					    	<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
					    </h:inputHidden>
					</div>
				</td>
			</tr>
			<tr><td height="4px" colspan="3"></td></tr>
			<tr align="center">
				<td align="right" width="65px" colspan="2">&#160;</td>
				<td align="left" width="210px">
					<t:selectOneMenu immediate="false" id="marketGroupsList"
		           		 escape="false" styleClass="select_div" style="padding-left: 5px; width:145px; " value="#{investmentsContainer.marketGroup}" >
		   					<f:selectItem itemLabel="#{msgs['lastlevels.selectAsset']}" itemValue="0,0"/>
		           			<f:selectItems value="#{investmentsContainer.marketGroupsList}" />
			       	</t:selectOneMenu>
				</td>
			</tr>
			<tr><td height="4px" colspan="3"></td></tr>
			<tr align="center">
				<td align="right" width="65px" colspan="2">&#160;</td>
				<td align="left" width="210px">
					<t:commandButton label="searchBtns" id="searchBtns" styleClass="nav_button_blue" style="width:142px; height:25px;"
						value="#{msgs['button.do']}" onclick="return myfaces.oam.submitForm('investmentsContainer','investmentsContainer:hiddenbtn');" />
					<h:commandLink action="#{investmentsContainer.updateList}" id="hiddenbtn" style="display:none"/>
				</td>
			</tr>
		</table>
	</div>

	<div id="mainDiv" align="center" class="div_clear_float">
	    <h:panelGroup>

		 	<h:panelGrid columns="1" border="0" width="100%">
			<t:div style="text-align:top;">
				 <br/>

				</t:div>
				<h:panelGrid rendered="#{investmentsList.size==0}" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" >
				 	<h:panelGrid align="center" columns="1" border="0" >
				 		<h:outputText styleClass="pages_text" value="#{msgs['investments.emptylist']}" />
			 		</h:panelGrid>
			   	</h:panelGrid>
				<h:panelGrid columns="1" border="0" width="100%" cellpadding="0" cellspacing="0">

				   	<t:dataTable id="data"
		 		        styleClass="width_100_prc"
		                headerClass="table_header_font_11pt_white table_column_align_left padd-left5"
		                rowClasses="table_row_11pt_bg_white, table_row_11pt_bg_blue"
		                columnClasses="table_column_align_left padd-left5,table_column_align_left padd-left5,table_column_align_left padd-left5"
		                var="v"
	    	            value="#{investmentsList.list}"
	        	        preserveDataModel="false"
	            	    rows="10"
	                	renderedIfEmpty="false"
		                cellpadding="0"
	    	            cellspacing="0"
	    	            rowIndexVar="crrInvestmentIndex"
		           >

	          		<t:column style="text-align:#{applicationData.pageAlignment};" dir="ltr">
	                	<f:facet name="header">
	                		<t:commandLink action="#{investmentsContainer.sortList}" >
	  			 		 	   <h:outputText value="#{msgs['investments.marketname']}"/>
	    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="marketName" />
					  	    </t:commandLink>
	               		</f:facet>
						<t:commandLink styleClass="table_row_link" action="#{investmentsContainer.navInvestment}" >
		               		<h:outputText styleClass="width_100_prc" value="#{v.marketName}" />
	    	                <f:setPropertyActionListener target="#{investmentsContainer.investment}" value="#{v}" />
			  	    	</t:commandLink>
	           		</t:column>

	           		<t:column style="text-align:#{applicationData.pageAlignment};">
	               		<f:facet name="header">
	               			<t:commandLink action="#{investmentsContainer.sortList}" >
		                   	   <h:outputText value="#{msgs['investments.typelevel']}"/>
	    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="currentLevel" />
					  	    </t:commandLink>
	               		</f:facet>
						<t:commandLink styleClass="table_row_link" action="#{investmentsContainer.navInvestment}" >
							<h:outputText value="#{investmentsContainer.getCurrentLevelTxt(v)} " />
	    	                <f:setPropertyActionListener target="#{investmentsContainer.investment}" value="#{v}" />
			  	    	</t:commandLink>
					    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" rendered="#{investmentsContainer.isCallOption(v) &amp;&amp; !investmentsContainer.isOneTouchInv(v)}" />
					    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" rendered="#{!investmentsContainer.isCallOption(v) &amp;&amp; !investmentsContainer.isOneTouchInv(v)}" />
					    <b><h:outputText value="&#160;&#160;1T" rendered="#{investmentsContainer.isOneTouchInv(v)}"/></b>
					    <h:outputText rendered="#{investmentsContainer.isOneTouchInv(v)}" value="&#160;" />
	               	    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/up1TInv.gif" rendered="#{investmentsContainer.isOneTouchInv(v) &amp;&amp; investmentsContainer.isUpInvestment(v)}" height="10" width="10" />
					   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/down1TInv.gif" rendered="#{investmentsContainer.isOneTouchInv(v) &amp;&amp; !investmentsContainer.isUpInvestment(v)}" height="10" width="10" />
	           		</t:column>

	           		<t:column style="">
	               		<f:facet name="header" >
		               		<t:commandLink action="#{investmentsContainer.sortList}">
						       <h:outputText value="#{msgs['investments.expiretime']}"/>
	    	                   <f:setPropertyActionListener target="#{investmentsContainer.sortColumn}" value="timeEstClosing" />
					  	    </t:commandLink>
	               		</f:facet>
	               		<t:commandLink styleClass="table_row_link" action="#{investmentsContainer.navInvestment}">
		               		<h:outputText escape="false" value="#{investmentsContainer.getTimeEstClosingTxt(v)} &#160; #{msgs['box.profitline.arrow']}" />
	    	                <f:setPropertyActionListener target="#{investmentsContainer.investment}" value="#{v}" />
			  	    	</t:commandLink>
	           		</t:column>
	        		</t:dataTable>
				</h:panelGrid>
			</h:panelGrid>

	        <h:panelGrid rendered="#{investmentsList.size>10}" columns="1" border="0" style="text-align:center; width:98.2%; background-color: #093755;" align="center" >
		        <t:dataScroller id="scroll_1"
		        	for="data"
		        	fastStep="10"
			        pageCountVar="pageCount"
			        pageIndexVar="pageIndex"
			        styleClass=""
			        paginatorActiveColumnClass="paginator_active"
			        paginatorColumnClass="paginator_cols"
			        paginatorTableClass="paginator"
			        paginatorRenderLinkForActive="false"
			        paginator="true"
			        paginatorMaxPages="9"
			        immediate="true"
			        rendered="#{investmentsList.size>10}"
			        style="align:center; width:98.2%;"
			        >
						<ui:include src="/mobile/templates/scroller_facets.xhtml"/>

		    	</t:dataScroller>
		    </h:panelGrid>

	        <h:panelGroup rendered="#{investmentsContainer.lastShowOff != null}">
				<script language="JavaScript">
					/*var e1 = document.getElementById('investmentsContainer:lastShowOff');
					if (e1 != null) {
						var e2 = document.getElementById('after_' + e1.value);
						if (e2 != null) {
							e2.onmouseover();
						}
					}*/
				</script>
			</h:panelGroup>
		</h:panelGroup>
	</div>
</h:form>

</ui:define>
</ui:composition>
</html>

