<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/pages/investments.jsf" />
	</ui:include>
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['investments.jsf.title']}" />
	</div>
</ui:define>
<ui:define name="content">

   <t:saveState value="#{investmentsContainer}" />
   <t:saveState value="#{investmentsContainer.investment}" />

	<h:form id="investmentsContainer">
		<h:panelGroup>
			<table border="0" cellpadding="0" cellspacing="0" width="95%" style="margin-left: 5%;">
				<tr><td height="5px" colspan="4">&#160;</td></tr>
				<tr align="center">
					<td width="5%">&#160;</td>
					<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.id']}" /></td>
					<td width="5%">&#160;</td>
					<td align="left" width="55%"><h:outputLabel styleClass="pages_text" value="#{investment.id}" /></td>
				</tr>
				<tr align="center">
					<td  width="5%">&#160;</td>
					<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.marketname']}" /></td>
					<td width="5%">&#160;</td>
					<td align="left" width="55%"><h:outputLabel styleClass="pages_text" value="#{investment.marketName}" /></td>
				</tr>
				<tr align="center">
					<td  width="5%">&#160;</td>
					<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.typelevel']}" /></td>
					<td width="5%">&#160;</td>
					<td align="left" width="55%">
						<h:outputText styleClass="pages_text" value="#{investmentsContainer.getCurrentLevelTxt(investment)} " />
					    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" rendered="#{investmentsContainer.isCallOption(investment) &amp;&amp; !investmentsContainer.isOneTouchInv(investment)}" />
					    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" rendered="#{!investmentsContainer.isCallOption(investment) &amp;&amp; !investmentsContainer.isOneTouchInv(investment)}" />
					    <b><h:outputText styleClass="pages_text" value="&#160;&#160;1T" rendered="#{investmentsContainer.isOneTouchInv(investment)}"/></b>
					    <h:outputText rendered="#{investmentsContainer.isOneTouchInv(investment)}" value="&#160;" />
	               	    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/up1TInv.gif" rendered="#{investmentsContainer.isOneTouchInv(investment) &amp;&amp; investmentsContainer.isUpInvestment(investment)}" height="10" width="10" />
					    <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/down1TInv.gif" rendered="#{investmentsContainer.isOneTouchInv(investment) &amp;&amp; !investmentsContainer.isUpInvestment(investment)}" height="10" width="10" />
					</td>
				</tr>
				<h:panelGroup rendered="#{investment.isSettled==1}">
					<tr align="center">
						<td  width="5%">&#160;</td>
						<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.closinglevel']}" /></td>
						<td width="5%">&#160;</td>
						<td align="left" width="55%">
		               		<h:outputText styleClass="pages_text" value="#{investmentsContainer.getClosingLevelTxt(investment)}" rendered="#{!investmentsContainer.isOneTouchInv(investment) &amp;&amp; !investmentsContainer.isGmBought(investment) &amp;&amp; !investmentsContainer.isRolledUp(investment)}" />
		               		<h:outputText styleClass="pages_text" value="#{msgs['golden.my.inv.no.level.GM']}" rendered="#{investmentsContainer.isGmBought(investment)}" />
		               		<h:outputText styleClass="pages_text" value="#{msgs['golden.my.inv.no.level.RU']}" rendered="#{investmentsContainer.isRolledUp(investment)}" />
		               		<h:outputText styleClass="pages_text" value="#{msgs['onetouch.investment.win']}" rendered="#{investmentsContainer.isOneTouchInv(investment) &amp;&amp; (investment.win-investment.lose) &gt; 0 }" />
		               		<h:outputText styleClass="pages_text" value="#{msgs['onetouch.investment.lose']}" rendered="#{investmentsContainer.isOneTouchInv(investment) &amp;&amp; (investment.win-investment.lose) &lt; 0 }" />
						</td>
					</tr>
				</h:panelGroup>
				<tr align="center">
					<td  width="5%">&#160;</td>
					<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.timecreated']}" /></td>
					<td width="5%">&#160;</td>
					<td align="left" width="55%">
						<h:outputText escape="false" styleClass="pages_text" value="#{investment.timeCreated}">
							<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{v.utcOffsetCreated}" />
						</h:outputText>
					</td>
				</tr>
				<tr align="center">
					<td  width="5%">&#160;</td>
					<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.expiretime']}" /></td>
					<td width="5%">&#160;</td>
					<td align="left" width="55%">
						<h:outputText escape="false" styleClass="pages_text" value="#{investmentsContainer.getTimeEstClosingTxt(investment)}" />&#160;
	               		<h:outputText escape="false" styleClass="pages_text" value="(#{investment.utcOffsetEstClosing})" />
					</td>
				</tr>
				<tr align="center">
					<td  width="5%">&#160;</td>
					<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.amount']}" /></td>
					<td width="5%">&#160;</td>
					<td align="left" width="55%"><h:outputText styleClass="pages_text" escape="false" value="#{investmentsContainer.getAmountTxt(investment)}" /></td>
				</tr>
				<h:panelGroup rendered="#{investment.isSettled==1}">
					<tr align="center">
						<td  width="5%">&#160;</td>
						<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.refund']}" /></td>
						<td width="5%">&#160;</td>
						<td align="left" width="55%">
							<h:outputText styleClass="pages_text" value="#{investmentsContainer.getRefundWithBonusTxt(investment)}" />
							<h:panelGroup rendered="#{investment.bonusOddsChangeTypeId>0}">
								<h:outputText value="&#160;" /><h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/bonus_star.gif" width="14" height="13" />
								<h:outputText escape="false" styleClass="pages_text" value="#{msgs['bonus.toolTip']} #{investmentsContainer.getBonusName(investment)}" />
							</h:panelGroup>
						</td>
					</tr>
					<h:panelGroup rendered="#{investmentsContainer.isRolledUp(investment) || investmentsContainer.isRollUpBought(investment) || investmentsContainer.isRolledUp(investment)}">
						<tr align="center">
							<td  width="5%">&#160;</td>
							<td align="left" width="30%"><h:outputLabel styleClass="lable" value="xxxx" /></td>
							<td width="5%">&#160;</td>
							<td align="left" width="55%">
								<h:panelGroup rendered="#{investmentsContainer.isRolledUp(investment)}">
									<h:graphicImage value="#{applicationData.imagesPath}/RollForw_xs.gif" />
									<h:outputText styleClass="pages_text" escape="false" value="#{msgs['investments.rolledUp']}" />
								</h:panelGroup>
								<h:panelGroup rendered="#{investmentsContainer.isRollUpBought(investment)}">
									<h:graphicImage value="#{applicationData.imagesPath}/RollForw_xs.gif" />
									<h:outputText styleClass="pages_text" escape="false" value="#{msgs['investments.rollUpBought1']} #{investmentsContainer.getAmountWithoutFeesTxt(investment)} #{msgs['investments.rollUpBought2']} #{investmentsContainer.getInsuranceAmountRUTxt(investment)}" />
								</h:panelGroup>
								<h:panelGroup rendered="#{investmentsContainer.isGmBought(investment)}">
									<h:graphicImage value="#{applicationData.imagesPath}/TakeProfit_xs.gif" />
									<h:outputText styleClass="pages_text" escape="false" value="#{msgs['investments.goldenMinutes1']} #{msgs['investments.goldenMinutes2']} #{investmentsContainer.getAmountWithoutFeesTxt(investment)} #{msgs['investments.goldenMinutes3']} " />
								</h:panelGroup>
							</td>
						</tr>
					</h:panelGroup>
				</h:panelGroup>
				<!-- todo: ShowOff code -->
				<h:panelGroup rendered="#{investment.isSettled==0}">
					<tr align="center">
						<td  width="5%">&#160;</td>
						<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.refundup']}" /></td>
						<td width="5%">&#160;</td>
						<td align="left" width="55%">
							<h:outputText styleClass="pages_text" value="#{investmentsContainer.getRefundUpTxt(investment)}" />
							<h:panelGroup rendered="#{investment.bonusOddsChangeTypeId>0 &amp;&amp; investment.typeId=='2'}">
								<h:outputText value="&#160;" /><h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/bonus_star.gif" width="14" height="13" />
								<h:outputText styleClass="pages_text" escape="false" value="#{msgs['bonus.toolTip']} #{investmentsContainer.getBonusName(investment)}" />
							</h:panelGroup>
						</td>
					</tr>
					<tr align="center">
						<td  width="5%">&#160;</td>
						<td align="left" width="30%"><h:outputLabel styleClass="lable" value="#{msgs['investments.refunddown']}" /></td>
						<td width="5%">&#160;</td>
						<td align="left" width="55%">
							<h:outputText styleClass="pages_text" value="#{investmentsContainer.getRefundDownTxt(investment)}" />
							<h:panelGroup rendered="#{investment.bonusOddsChangeTypeId>0 &amp;&amp; investment.typeId=='1'}">
								<h:outputText value="&#160;" /><h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/bonus_star.gif" width="14" height="13" />
								<h:outputText styleClass="pages_text" escape="false" value="#{msgs['bonus.toolTip']} #{investmentsContainer.getBonusName(investment)}" />
							</h:panelGroup>
						</td>
					</tr>
				</h:panelGroup>
					<tr><td height="5px" colspan="4">&#160;</td></tr>
			</table>
	</h:panelGroup>
 </h:form>

</ui:define>
</ui:composition>
</html>

