 <f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<script language="JavaScript">
		function changeCurrency(toHide, toShow) {
			divToHide = document.getElementById(toHide + "Div");
			divToHide.style.display = "none"
			divToShow = document.getElementById(toShow + "Div");
			divToShow.style.display = 'inline';
		}
	</script>

	<table class="" cellpadding="0" cellspacing="0" width="" border="0" bgcolor="#ffffff">
  	<c:if test="${!empty sessionScope.user}">
		<tr><td height="20px" colspan="3">&#160;</td></tr>
		<tr align="#{applicationData.pageAlignment}">
			<td width="30px" style="background: url(#{applicationData.imagesPath}/bank_px.gif);">&#160;</td>
			<td align="#{applicationData.pageAlignment}" height="25xp" nowrap="nowrap" class="pages_text_white" style="background: url(#{applicationData.imagesPath}/bank_px.gif);">
				<h:outputText style="color:#ffffff;font-weight:bold;font-size: 11px;font-family: Verdana, Geneva, sans-serif;" value="#{msgs['banking.bank.details']}&#160;&#160;&#160;&#160;&#160;" />
			</td>
			<td width="*">&#160;</td>
		</tr>
	 	<tr align="#{applicationData.pageAlignment}">
	 		<td></td>
	  		<td colspan="2">
	  			<br />
	<c:if test="${!empty sessionScope.user}">
	  				<c:if test="${!commonUtil.skinRegulated}">
	  					<h:panelGroup rendered="#{user.currencyId == '1'}">
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.ils.bank.name']}" /><br/>
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.ils.address.line1']}"/><br />
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.ils.account.name']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.ils.account.number']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.branch.no']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.ils.branch.no']}" /><br/>
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '2'}">
	  							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.account.name']}" /><br/>
					    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.account.number']}" /><br/>
					    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.iban']}" /><br/>
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.swift']}" /><br/>
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.bank.name']}" /><br/>
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.address.line1']}"/><br />
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.address.line2']}"/><br />
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.usd.address.line3']}"/><br />
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '3'}">
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.account.name']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.eur.address.line3']}"/><br />
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '4'}">
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.account.name']}" /><br/>
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.gbp.address.line3']}"/><br />
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '5'}">
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.account.name']}" /><br/>
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.try.address.line3']}"/><br />
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '6'}">
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.account.name']}" /><br/>
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.rub.address.line3']}"/><br />
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '7'}">
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.account.name']}" /><br/>
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.cny.address.line3']}"/><br />
	  					</h:panelGroup>
	  					<h:panelGroup rendered="#{user.currencyId == '8'}">
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.account.name']}" /><br/>
	  						<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.nonreg.krw.address.line3']}"/><br />
	  					</h:panelGroup>
  					</c:if>
  					<c:if test="${commonUtil.skinRegulated and user.currencyId == '2'}">
	  							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.account.name']}" /><br/>
					    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.account.number']}" /><br/>
					    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.iban']}" /><br/>
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.swift']}" /><br/>
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.bank.name']}" /><br/>
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.address.line1']}"/><br />
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.address.line2']}"/><br />
								<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.address.line3']}"/><br />
	  					</c:if>
  					<c:if test="${commonUtil.skinRegulated and user.currencyId == '3'}">
  							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.account.name']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.address.line3']}"/><br />
  					</c:if>
  					<c:if test="${commonUtil.skinRegulated and user.currencyId == '4'}">
  							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.account.name']}" /><br/>
  							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.gbp.address.line3']}"/><br />
  					</c:if>
  					<c:if test="${commonUtil.skinRegulated and user.currencyId == '10'}">
  							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.account.name']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.account.number']}" /><br/>
				    		<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.iban']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.iban']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.swift']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.usd.swift']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}" />:&#160;<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.bank.name']}" /><br/>
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.address']}"/>:<br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.address.line1']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.address.line2']}"/><br />
							<h:outputText styleClass="lable" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.reg.eur.address.line3']}"/><br />
  					</c:if>
  				</c:if>
				<br /><br />
				<h:outputText escape="false" styleClass="pages_text" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.footer1']}"/><br /><br />
				<!--<h:outputText escape="false" styleClass="pages_text" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.footer2']}"/><br /><br />-->
	   		</td>
	  	</tr>
  	</c:if>
	</table>
</f:view>