<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


	<div id="mainDiv" align="center" class="pages_main_div">
		<div class="left_align width_100_prc" align="left">
               <h:outputText escape="false" styleClass="pages_text_blue" value="#{msgs['creditcard.deposit.success']}"/>
                <h:panelGroup rendered="#{transaction.typeId != 28}">
                	<h:panelGroup rendered="#{transaction.clearingProviderId == 26 || transaction.clearingProviderId == 27 || transaction.clearingProviderId == 28}">
	                	<h:outputText escape="false" styleClass="pages_text" style="font-weight: bold;" value="#{msgs['receipt.bank_descriptor']}"/>
	                	<br/>
                	</h:panelGroup>
	                <h:outputText escape="false" styleClass="pages_text" value="#{transactionFormater.getAmountTxt(transaction)} #{msgs['receipt.add']}"/>
                	<br/>
                </h:panelGroup>
                <h:outputText rendered="#{transaction.typeId == 28}" escape="false" styleClass="pages_text" value="#{msgs['deposit.ach.success']}"/>
                <h:outputText styleClass="pages_text" value="#{msgs['receipt.transactionid']} #{transaction.id}."/>

				<h:panelGroup rendered="#{transaction.typeId == 30 &amp;&amp; transaction.ukash.differentCurrencies &amp;&amp; transaction.currency.id != 5}"> <!-- Ukash General conversion message -->
                    <br/><h:outputText escape="false" styleClass="pages_text" value="#{msgs['ukash.exchange.rates']}" /><br/>
				</h:panelGroup>

				<h:panelGroup rendered="#{transaction.typeId == 30 &amp;&amp; transaction.ukash.differentCurrencies &amp;&amp; transaction.currency.id == 5}"> <!-- Ukash TRY conversion message -->
                    <br/><h:outputText escape="false" styleClass="pages_text" value="#{msgs['ukash.converted.amount']}" /><br/>
					<br/><h:outputText escape="false" styleClass="pages_text" value="#{transactionFormater.getConversionMsg(transaction.ukash)}" /><br/><br/>
				</h:panelGroup>

				<h:panelGroup rendered="#{userRegulation.userBeforeMandQuestDoneStep}">
                    <br/><h:outputText escape="false" styleClass="pages_text" value="#{msgs['CMS.error.iphone.mandatory.questionnaire']}" /><br/>
				</h:panelGroup>

				<h:form id="temp">
					<div class="left_align" style="width:235px" align="left">
			         	<input name="continueButton" type="button" class="nav_button_gray"
			         			value="#{msgs['button.continue']}"
			         			onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/trade_binary_options.jsf'" />
					</div>
				</h:form>
			</div>
		</div>

</f:view>
