<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" />
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['header.deposit']} - #{msgs['header.creditcards']}" />
	</div>
</ui:define>

<ui:define name="content">

	<ui:include src="/mobile/pages/receipt_content.xhtml" />
	<br/>

	<c:if test="${applicationData.isLive}">
		<c:if test="${user.isFirstTimeDeposit}">
			<ui:include src="/jsp/depositPixels.xhtml">
				<ui:param name="transaction" value="#{transaction}" />
			</ui:include>
		</c:if>
	</c:if>

	<h:outputText value="#{user.firstDepositPixel}" escape="false" />
	<h:outputText value="#{user.firstDepositAffiliatePixel}" escape="false" />
	<h:outputText value="#{user.firstDepositSubAffiliatePixel}" escape="false" />

</ui:define>
</ui:composition>

</html>
