body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff url(../images/bg.png) left top repeat-x;
	color: #414e4c;
	font-size: 14px;
	width: 100%;
	line-height: 1.3;
}
* {
	margin: 0px;
	padding: 0px;
}
#page {
	width: 1107px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
img {
	border: none;
}
p {
	margin: 10px 0;
}
.clear {
	clear: both;
}
.left {
	flaot: left;
}
.right {
	flaot: right;
}
#bg_container {
	width: 1185px;
	margin: 0 auto;
	postion: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 210px;
}
*+html #mainimg {
	float: left;
	margin-left: -110px !important;
}
#main {
	width: 1107px;
	height: auto;
	float: left;
	clear: both;
}
#logo {	
	width: 975px;
	margin: 0 auto;
	text-align: left;
	height: 65px;
}
*+html #logo {
	margin-top: 25px;
}
#title {
	padding: 20px 0;
	margin: 0 auto;
	width: 975px;
	background: transparent url(../images/bg_title.png) center top no-repeat;
	text-align: center;
}
h1 {
	font-size: 42px;
	font-weight: bold;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0px 0 0 66px;
	width: 500px;
	float: left !important;
	text-align: left;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 30px 0 20px 0;
	padding: 0px;
}
#content {
	width: 975px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
	background: #ffffff url(../images/imgMain_BO.jpg) left 227px no-repeat;
}
#content_top {
	float: right;
	width: 975px;
	text-align: left;
	margin-bottom: 0;
	background: #FFF url(../images/imgMain_BO_ET.jpg) 526px -59px no-repeat;
	padding-bottom:40px;
	padding-right:140px;
}
.top_list {
	list-style-type: none;
	padding: 0 300px 0 66px;
	margin: 0;
	text-align: left;
	width: 500px;
	margin-top: 10px;
	float: left !important;
}
.top_list li {
	padding: 0px 0 20px 80px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #c6070f;
}
.top_list li span {
	font-size: 24px;
	font-weight: normal;
	color: #414e4c;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat left 10px;
	border-bottom: 1px dotted #aaaaaa;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat left top;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat left top;
	padding-top: 3px;
}
.button_tradeBox {
	float: right;
	height: 72px;
	width: 262px;
	margin-top: 5px;
}
.tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.tradeBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#content_btm {
	float: right;
	width: 975px;
	text-align: left;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 30px;
	padding-right:66px;
	
}

.bottom_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
	width: 975px;
	margin-top: 10px;
}
.bottom_list li {
	padding: 7px 0 7px 35px;
	background: url(../images/img_bullet.png) no-repeat 7px 9px;
	border-bottom: 1px dotted #aaaaaa;
	font-size: 14px;
	font-weight: normal;
}
#tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.content_learnBox {
	float: left;
	width: 700px;
	text-align: left;
	padding-right: 20px;
	font-size: 14px;
}
#content_learnBox p {
	text-align: justify;
	font-size: 12px;
}
.button_learnBox {
	float: right;
	height: 63px;
	width: 219px;
	margin-top: 165px;
}
.learnBox_StartButton {
	width: 219px;
	height: 63px;
	background-image: url(../images/bttn_StartNow_02_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.learnBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#footer {
	text-align: center;
	width: 975px;
	margin: 0 auto;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 732px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding: 15px 0 15px 243px;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 20px 0;
	line-height: 16px;
	position: relative;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
/*					Localizations					*/


#HE {
	font-family: Tahoma;
}
#HE #mainimg {
	top: 240px;
	top: 235px\9;
}
*+html #HE #mainimg {
	top: 250px;
	margin-right: -105px;
}
*+html #HE #content_btm {
	float: right;
}
*+html #HE .bottom_list {
	float: right;
}
#HE {
	direction: rtl;
}
#HE #logo {
	text-align: right;
}
#HE .top_list {
	text-align: right;
	width: 480px;
}
#HE .bottom_list {
	width: 975px;
	text-align: right;
}
#HE h3 {
	text-align: right;
}
#HE h4 {
	text-align: right;
}
#HE h5 {
	text-align: right;
}
#HE #content_top {
	float: left;
	padding-top: 10px;
}
#HE #content_btm {
	margin-top: 30px;
}
#HE .button_tradeBox {
	float: left;
	margin-top: 0px;
}
#HE .button_learnBox {
	margin-top: 130px;
	float: left;
}
#HE .content_learnBox {
	width: 975px;
	margin-top: 1px;
	padding: 0 0 30px 20px;
	float: right;
	text-align: right;
	direction: rtl;
}
#HE .top_list li {
	padding: 0px 80px 20px 0;
}
#HE .bottom_list li {
	padding: 7px 35px 7px 0;
	background: url(../images/img_bullet.png) no-repeat 954px 8px;
}
#HE .top_list .p1 {
	background-position: right top;
}
#HE .top_list .p2 {
	background-position: right top;
}
#HE .top_list .p3 {
	background-position: right top;
}
#HE .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_he.png);
}
#HE .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_he.png);
}
.form_block {
	font-size: 18px;
	color: #414e4c;
	width: 975px;
	height: 90px;
	float: right;
	background: transparent url(../images/bg_title.png) no-repeat center top;
	margin-top: 0px;
	padding-top: 30px;
	padding-right:66px;
}
.form_cl {
	float: right;
	width: 178px;
	color: #91171f;
}
.form_cl2 {
	float: right;
	width: 205px;
	color: #91171f;
}
.form_cl3 {
	float: right;
	width: 230px;
	color: #91171f;
}
.form_cl4 {
	float: right;
	width: 975px;
	color: #91171f;
}
form {
	display: block;
	margin-top: 0em;
}
.star {
	color: #91171f;
	font-weight: normal;
	font-size: 11px;
}
input {
	background: transparent;
	color: #757575;
	text-align: right;
	font-size: 12px;
}
.input1 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #959595;
	width: 168px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: right;
}
.input1 input {
	border: medium none;
	height: 24px !important;
	/*margin: 2px 3px;*/
	width: 164px !important;
}
.input4 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #959595;
	width: 195px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: right;
}
.input4 input {
	border: medium none;
	height: 24px !important;
	/*margin: 2px 3px;*/
	width: 191px !important;
}
.input2 .noborder {
	width: 50px;
	height: 40px;
	overflow: hidden;
	position: relative;
	margin-top: 5px;
	margin-right: 5px;
}
.noborder select {
	width: 50px;
	height: 20px;
	color: #7F7F7F;
	left: 4px;
	position: relative;
	border: none;
	background-color: #E4E4E4;
}
*+html .noborder select {
	height: 30px;
}
.input2 {
	float: right;
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #959595;
	width: 53px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	margin-right: 5px;
}
.input2 input {
	border: medium none;
	height: 21px !important;
	/*margin: 2px 3px;*/
	width: 49px !important;
	text-align: left !important;
}
.input3 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #959595;
	width: 158px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	float: right;
}
.input3 input {
	border: medium none;
	height: 24px !important;
	/*margin: 2px 3px;*/
	width: 154px !important;
	text-align: left !important;
}
.agree {
	float: right;
	margin-right: 10px;
}
input[type="checkbox"] {
	margin: 0px 0px 3px 5px;
	float: right;
}
*+html input[type="checkbox"] {
	margin-top: -3px;
	margin-right: -3px;
}
.agree_text {
	font-size: 11px;
	color: #778583;
	float: right;
}
.secured {
	color: #778583;
	font-size: 11px;
	background: transparent url(../images/icon_secure.png) no-repeat right top;
	padding-right: 20px;
	height: 15px;
	float: right;
	margin-right: 82px;
	padding-left: 0px;
}
*+html .secured {
	padding-right: 20px;
	margin-right: 78px;
}
.submin_swf {
	float: right;
	margin-top: 4px;
}
.error {
	border: solid 1px #778583;
}
/**************end of form classes******************/
/************Error message*****************/
#error_box {
	display: none;
	position: absolute;
	z-index: 100;
	top: 200px;
	background: url(../../images/form_full_alret_bk.jpg) no-repeat;
	width: 250px;
	height: 150px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top: 50px;
	height: 50px;
	padding: 0 10px;
	color: #ffffff;
}
.error_button {
	background: url(../../images/form_full_alret_button.png) no-repeat;
	width: 77px;
	height: 55px;
	margin: 0 auto;
	margin-top: 5px;
	cursor: pointer;
}
#Overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}

*+html #content_btm {
	padding-left:0px !important;	
}

/************End of Error message*****************/
.upLink {float: left; width: 75px; height: 60px; margin-bottom: 60px;}
.upLink a {background:url(../images/up.png) no-repeat; width: 60px !important; height: 60px !important; text-decoration: none; float: right;}
.upLink a:hover {background:url(../images/up_over.png) no-repeat; text-decoration: none;  text-decoration: none;}
#AR .upLink {float: left; margin-left: 40px;}