<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_tv.xhtml">

<ui:define name="content">

    <h:panelGroup>
			<br/>
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr align="center">
					<td>
						<img src="#{facesContext.externalContext.requestContextPath}/images/tv.png" border="0" />
						<h2 align="center"><h:outputText styleClass="menu_tv" value="#{msgs['sales.deposit.tv.menu']}" /></h2>
					</td>
				</tr>
			</table>
			<br/><br/>
			<table width="30%" height="120px" align="center" cellpadding="0" cellspacing="0" class="table_tv_border_menu">
				<tr align="center"><td><a class="menu_tv_link" href="#{facesContext.externalContext.requestContextPath}/jsp/tv/salesDepositsDailyTV.jsf?etraderOnly=false">
					<h:outputText value="#{msgs['sales.deposit.tv.menu.screen1']}" /></a>
				</td></tr>
				<tr align="center"><td><a class="menu_tv_link" href="#{facesContext.externalContext.requestContextPath}/jsp/tv/salesDepositsSecondTV.jsf?etraderOnly=false">
					<h:outputText value="#{msgs['sales.deposit.tv.menu.screen2']}" /></a>
				</td></tr>
				<tr align="center"><td><a class="menu_tv_link" href="#{facesContext.externalContext.requestContextPath}/jsp/tv/salesDepositsSecondTV.jsf?etraderOnly=true">
					<h:outputText value="#{msgs['sales.deposit.tv.menu.etrader.screen2']}" /></a>
				</td></tr>
			</table>

	</h:panelGroup>

</ui:define>
</ui:composition>
</html>