<h2 class="title">{{getMsgs('available_options')}}</h2>
<ul class="menu-markets table">
	<li class="cell" ng-class="{ active: tab == 'time-left' }" ng-click="changeMarketsTab('time-left')">{{getMsgs('time_left')}}</li>
	<li class="cell" ng-class="{ active: tab == 'asset' }" ng-click="changeMarketsTab('asset')">{{getMsgs('asset')}}</li>
</ul>
<div>
	<ul class="list-markets" ng-if="info.hasOpenMarkets">
		<li class="table" ng-class="{ active: chartsMarkets[0] == market.info.marketId }" 
			ng-repeat="market in marketsInfo | toArray | filter: filterAll | orderBy: order" 
			ng-click="selectMarket(market, 0, true)">
			<div class="cell img">
				<img ng-src="#{applicationData.imagesPath}/assets/small/asset{{market.info.marketId}}.png" width="34" height="34"/>
			</div>
			<div class="cell info">
				<span class="open-options" ng-if="market.opps[market.info.currentOppArrayIndex].investments.length > 0">{{market.opps[market.info.currentOppArrayIndex].investments.length}}</span>
				<span class="market-closed" ng-if="!market.opps[market.info.currentOppArrayIndex].ls.active"></span>
				<div class="span1">{{market.info.marketName}}</div>
				<div class="span2" ng-if="market.opps[market.info.currentOppArrayIndex].ls.open">{{market.opps[market.info.currentOppArrayIndex].ls.bz_eventDsp}} | {{market.opps[market.info.currentOppArrayIndex].timeLeft.formatted}} </div>
				<div class="span3" ng-if="market.opps[market.info.currentOppArrayIndex].ls.open">{{getMsgs('max_profit')}}: <span class="percent">{{market.opps[market.info.currentOppArrayIndex].ls.maxProfitPercent | number:2}}%</span></div>
				<div class="span3" ng-if="market.opps[market.info.currentOppArrayIndex].ls.waiting">{{getMsgs('waiting_for_expiry')}}</div>
				<div class="span2" ng-if="!market.opps[market.info.currentOppArrayIndex].ls.active">{{getMsgs('available_at_short', {date: market.opps[market.info.currentOppArrayIndex].ls.dateOpens})}}</div>
			</div>
		</li>
	</ul>
	<div class="no-markets" ng-if="!info.hasOpenMarkets">{{getMsgs('no_options')}}</div>
</div>