<!DOCTYPE html>
<html
	itemscope="" itemtype="http://schema.org/WebPage"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<title><ui:insert name="windowtitle"/></title>
	<ui:insert name="keyWordsNew"><meta name="keywords" content="#{msgs['anyoption.keywords']}"/></ui:insert>
    <ui:insert name="metaDescription"><meta name="description" content="${msgs['anyoption.description']}"/></ui:insert>
    <meta name="robots" content="noodp,noydir" />
	
	<ui:include src="/jsp/html_elements/head_includes.xhtml" />
	<ui:insert name="head"></ui:insert>
	<ui:insert name="canonical"></ui:insert
</head>
<body dir="#{applicationData.pageDirection}" style="background:none" >
<div class="head_bgr"><div class="main_bgr">
	<!--CONTENT-->
	<div class="pageWidth cont_pos">
		<ui:insert name="content"></ui:insert>
	</div>		
	<!-- POPUPS -->
	<ui:include src="/jsp/html_elements/popUps.xhtml" />
	<!--TODO (check)-->
	<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investmentPopup.jsf"/>	
	<!--GOOGLE CODE-->
	<h:panelGroup rendered="#{!applicationData.isLocal}">
		<ui:include src="/jsp/html_elements/google.xhtml" />
	</h:panelGroup>		
	<!--GOOGLE TAG -->
	<h:panelGroup rendered="#{!applicationData.isLocal}">
		<ui:include src="/jsp/html_elements/googleTag.xhtml" />
	</h:panelGroup>	
	<!--GOOGLE HP CODE-->
	<ui:insert name="GoogleVisitHPCode"></ui:insert>
	<!--TRADING BOX STATUSES  - only for pages that need it-->
	<h:panelGroup rendered="#{request.requestURI.endsWith('index.jsf') || request.requestURI.endsWith('trade_binary_options.jsf') || 
		request.requestURI.endsWith('optionPlus.jsf') || request.requestURI.endsWith('binary0100.jsf') || request.requestURI.endsWith('live.jsf')}" >
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/tradingBoxTemplates.xhtml">
			<ui:insert name="groupParam"></ui:insert>
		</ui:include>
	</h:panelGroup>
</div></div>
</body>
</f:view>
</html>
