<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/API/templates/template.xhtml">
	<!-- head -->
	<ui:define name="head">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">			
			<div class="my_account_main full_reg_holder" style="width:720px;">
				<table cellpadding="0" cellspacing="0" width="540px" border="0" class="mb20">
					<tr>
						<td align="#{applicationData.pageAlignment}">
							<h:outputLink rendered="#{depositForm.ccListSize > 0}" value="#{facesContext.externalContext.requestContextPath}/API/pages/newCard.jsf"
										target="_top" class="deposit_not_selected_menu" >
										<h:outputText value="#{msgs['header.add.new.cc']}" styleClass="deposit_not_selected_menu" />
							</h:outputLink>	
						</td>
						<td align="center">
							<h:outputLink rendered="#{depositForm.ccListSize > 0}" value="#{facesContext.externalContext.requestContextPath}/API/pages/deposit.jsf"
														target="_top" class="deposit_not_selected_menu" >
									<h:outputText value="#{msgs['header.creditcards']}"/>
							</h:outputLink>
						</td>
						<td align="#{applicationData.pageAlignmentReverse}"><h:outputText value="#{msgs['header.cards']}" class="deposit_selected_menu" /></td>
					</tr>
				</table>			
				<!--content in-->
				<ui:include src="/jsp/pages/cards_content.xhtml"></ui:include>
			</div>		
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>