<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/API/templates/template.xhtml">
	<!-- head -->
	<ui:define name="head">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="my_account_main">
				<!--content in-->
				<ui:include src="/jsp/pages/html_elements/myaccount_substrip_deposit.xhtml" />
			</div>		
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>