<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/API/templates/template.xhtml">
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				
				<!--content in-->

				<ui:include src="/jsp/pages/paymentMethodSelector_content.xhtml"/>

				<h:panelGroup rendered="#{reverseWithdrawForm.listSize > 0 and !user.stopReverseWithdrawOption}">
					<table colspacing="0" colpadding="0" border="0" width="554" align="#{applicationData.pageAlignment}">
						<tr align="#{applicationData.pageAlignment}">
							<td width="554px" align="#{applicationData.pageAlignment}">
								<h:outputText styleClass="info_pages_text" value="#{msgs['transactions.reverseClick']}"/>
								<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"><h:outputText styleClass="general_link_10_active" value="#{msgs['transactions.reverseHere']}"/></a>&#160;
								<h:outputText styleClass="info_pages_text" value="#{msgs['transactions.reverseToReverse']}"/>
							</td>
						</tr>
					</table>
				</h:panelGroup>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="supportContactus" value="true" />
					<ui:param name="secureIco" value="true" />
					<ui:param name="thawte" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>
