<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<c:choose>
	    <c:when test="${userRegulation.userInDepositStep or userRegulation.redirectAfterRegMandQuest}">
	       <ui:include src="/API/pages/mandatory_questionnaire.xhtml"/>
	    </c:when>
	    <c:when test="${userRegulation.shouldShowOptionalQuestionnaire}">
			<ui:include src="/API/pages/optional_questionnaire.xhtml"/>
	    </c:when>
	    <c:when test="${userRegulation.suspended}">
			<ui:include src="/API/pages/questionnaire_error_page.xhtml"/>
	    </c:when>
	</c:choose>
	
	<ui:remove>
		<c:if test="${userRegulation.userInDepositStep or userRegulation.redirectAfterRegMandQuest}">
			<ui:include src="/API/pages/mandatory_questionnaire.xhtml"/>
		</c:if>
		
		<c:if test="${userRegulation.shouldShowOptionalQuestionnaire and !userReeMandQuest}">
			<ui:include src="/API/pages/optional_questionnaire.xhtml"/>
		</c:if>
		
		<c:if test="${userRegulation.suspended}">
			<ui:include src="/API/pages/questionnaire_error_page.xhtml"/>
		</c:if>
	</ui:remove>

</f:view>
