<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
	<title>#{msgs['receiptprint.jsf.title']}</title>
	<meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css?version=cvsTimeStamp" />
</head>
<BODY dir="#{applicationData.pageDirection}">

	<f:view locale="#{applicationData.userLocale}">
		<TABLE border="0" cellpadding="0" cellspacing="0" width="400">
			<tr>
				<td width="400" align="left" valign="top">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/print_head.jpg"/>
				</td>
			</tr>
			
			<TR>
				<TD WIDTH="400" valign="top">
					<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="400" VALIGN="TOP">
						<TR>
							<TD class="lable_text_bold" >
								&#160;&#160;&#160;&#160;<h:outputText class="deposit_print_receipt_number_label" value="#{msgs['receipt.transactionid']}"/><h:outputText value=" "/><h:outputText class="deposit_print_receipt_number" value="#{transaction.id}"/>
							</TD>
						</TR>
						<tr>
							<td class="border_bottom" style="font-size:1px;" width="400" >&#160;
							</td>
						</tr>
						<tr >
							<td style="font-size:1px;" height="3" >&#160;</td>
						</tr>
						<tr>
							<td class="border_top" style="font-size:1px;" width="400" >&#160;</td>
						</tr>
						<TR>
							<TD height="250" >
								<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="360px" VALIGN="TOP" align="center" style="text-align:center;">
									<TR height="20">
										<TD class="#{applicationData.skinId==4 ? 'left_align' : 'right_align'}" valign="bottom" width="200px">
											<h:outputText class="field_label" value="#{msgs['receipt.name']}&#160;"/>
										</TD>
										<TD class="#{applicationData.skinId==4 ? 'right_align' : 'left_align'}" valign="bottom" width="200px">
											<h:outputText class="field_info" value="#{user.firstName} #{user.lastName}"/>
										</TD>
									</TR>
									<TR height="20">
										<TD class="#{applicationData.skinId==4 ? 'left_align' : 'right_align'}" valign="top" width="200px" style="padding-top:4px;">
											<h:outputText class="field_label" value="#{msgs['receipt.address']}&#160;"/>
										</TD>
										<TD class="#{applicationData.skinId==4 ? 'right_align' : 'left_align'}" valign="top" width="200px" style="padding-top:4px;">
												<h:outputText class="field_info" value="#{user.street} #{user.streetNo} #{user.cityName} #{user.zipCode}"/>
										</TD>
									</TR>
									<TR height="20">
										<TD class="#{applicationData.skinId==4 ? 'left_align' : 'right_align'}" valign="bottom" width="200px">
											<h:outputText class="field_label" value="#{msgs['receipt.time']}&#160;"/>
										</TD>
										<TD class="#{applicationData.skinId==4 ? 'right_align' : 'left_align'}" valign="bottom" width="200px">
											<h:outputText class="field_info" escape="false" value="#{transactionFormater.getTimeCreatedTxt(transaction)}"/>
										</TD>
									</TR>
									<TR height="20">
										<TD class="#{applicationData.skinId==4 ? 'left_align' : 'right_align'}" valign="bottom" width="200px">
											<h:outputText class="field_label" value="#{msgs['receipt.amount']}&#160;"/>
										</TD>
										<TD  class="#{applicationData.skinId==4 ? 'right_align' : 'left_align'}" valign="bottom" width="200px">
											<h:outputText class="field_info" value="#{transactionFormater.getAmountTxt(transaction)}"/>
										</TD>
									</TR>
									<TR height="20">
										<TD class="#{applicationData.skinId==4 ? 'left_align' : 'right_align'}" valign="bottom" width="200px">
											<h:outputText class="field_label" rendered="#{transaction.ccDeposit}" value="#{msgs['receipt.footer.creditcard']}&#160;"/>
											<h:outputText class="field_label" rendered="#{transaction.wireDeposit}" value="#{msgs['receipt.footer.bank']}&#160;"/>
											<h:outputText class="field_label" rendered="#{transaction.payPalDeposit}" value="#{msgs['receipt.footer.paypal']}&#160;"/>
										</TD>
										<TD class="#{applicationData.skinId==4 ? 'right_align' : 'left_align'}"  valign="bottom" width="200px">
											<h:outputText class="field_info" rendered="#{transaction.ccDeposit}" value="#{transaction.cc4digit}"/>
											<h:outputText class="field_info" rendered="#{transaction.wireDeposit || transaction.payPalDeposit}" value="#{transaction.id}"/><BR/>
										</TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
						
						<tr>
							<TD class="center_align"  width="400" >
								<h:outputText styleClass="pages_text" rendered="#{transaction.clearingProviderId == 26 || transaction.clearingProviderId == 27 || transaction.clearingProviderId == 28}" escape="false" style="font-weight: bold;" value="#{msgs['receipt.bank_descriptor']}"/>
							</TD>							
						</tr>
				
						<tr>
							<TD class="center_align" valign="top"  style="text-align: center;" width="400">
								<a href="javascript:document.all('printmessage').innerText=''; window.print();" class="print_link" align="center"><h:outputText id="printmessage" value="#{msgs['receipt.print']}"/></a>
							</TD>
							
							
						</tr>
						<tr>
							<TD class="center_align" style="text-align: center; padding-top:20px;" valign="top">
								<h:form id="receiptForm">
									<t:commandLink  action="#{transactionFormater.sendDepositReceipt(transaction)}" styleClass="print_link" >
										<h:outputText value="#{msgs['deposit.sendreceipt']}"/>  
									</t:commandLink>
								</h:form>
							</TD>
						</tr>						
					</TABLE>
				</TD>
			</TR>		
		</TABLE>
	</f:view>
</BODY>
</html>