<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<ui:composition template="/API/templates/template.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['deposit.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />

	<c:set var="std" value="selectCard" /> <!-- cc receipt -->

	<c:if test="${transaction.paymentTypeId == '3'}" >  <!-- Giropay -->
		<c:set var="std" value="giropay" />
	</c:if>
	<c:if test="${transaction.paymentTypeId == '2'}" >  <!-- direct24 -->
		<c:set var="std" value="direct24" />
	</c:if>
	<c:if test="${transaction.paymentTypeId == '4'}" >  <!-- EPS -->
		<c:set var="std" value="eps" />
	</c:if>
	<c:if test="${transaction.typeId == 25}" >  <!-- PAYPAL -->
		<c:set var="std" value="paypal" />
	</c:if>
	<c:if test="${transaction.typeId == 28}" >  <!-- ACH -->
		<c:set var="std" value="ach" />
	</c:if>
	<c:if test="${transaction.typeId == 29}" >  <!-- CashU -->
		<c:set var="std" value="cashu" />
	</c:if>

	<c:if test="${transaction.typeId == 32}" >  <!-- MONEYBOOKERS -->
		<c:set var="std" value="moneybookers" />
	</c:if>

</ui:define>
<ui:define name="content">

	<c:if test="${user.isFirstTimeDeposit}">
		<script>
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/API/pages/receiptFirstDeposit.jsf;#{applicationData.sessionIdString}";
		</script>
	</c:if>
	<div class="my_account_main full_reg_holder" style="width:260px;float:left;">
		<ui:include src="/jsp/pages/receipt_content.xhtml"/>
	</div>

</ui:define>
</ui:composition>

</html>
