<f:view dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


<f:verbatim>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
		{"lang": "#{applicationData.userLocale.language}"}
	</script>
</f:verbatim>
<div id="footer_nd">
	<table dir="ltr" align="center">
		<tr width="970px" height="27" valign="middle">
			<td  class="footer_link" valign="middle">
				<form name="ctmSubmit"  method="post" target="_blank" action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg">
					<input type='hidden' name='idstatus' value='*' />
					<input type='hidden' name='registrationdatefrom' value='' />
					<input type='hidden' name='transition' value='ResultsDetailed' />
					<input type='hidden' name='selectOrderby2' value='' />
					<input type='hidden' name='niceclassificationnumber' value='' />
					<input type='hidden' name='indusage' value='' />
					<input type='hidden' name='publicationdateto' value='' />
					<input type='hidden' name='objIdappli' value='' />
					<input type='hidden' name='objRefine' value='' />
					<input type='hidden' name='objRefineAux' value='' />
					<input type='hidden' name='filingdateto' value='' />
					<input type='hidden' name='listTypeDate' value='' />
					<input type='hidden' name='search_for_transition' value='' />
					<input type='hidden' name='AppliRef' value='' />
					<input type='hidden' name='application' value='' />
					<input type='hidden' name='bAdvanced' value='0' />
					<input type='hidden' name='owner' value='' />
					<input type='hidden' name='expirydatefrom' value='' />
					<input type='hidden' name='entity' value='' />
					<input type='hidden' name='objSQLBasic2' value='' />
					<input type='hidden' name='language' value='en' />
					<input type='hidden' name='objSQLRepre' value='' />
					<input type='hidden' name='importTradeMarkId' value='' />
					<input type='hidden' name='ownerselect' value='' />
					<input type='hidden' name='idappliSelected' value='' />
					<input type='hidden' name='idstatus' value='' />
					<input type='hidden' name='objSearchBasic' value='' />
					<input type='hidden' name='objSQLBasic' value='' />
					<input type='hidden' name='source' value='search_basic.jsp' />
					<input type='hidden' name='objSQLOwner' value='' />
					<input type='hidden' name='objSQLRepre2' value='' />
					<input type='hidden' name='selectOrderby' value='' />
					<input type='hidden' name='representative' value='' />
					<input type='hidden' name='printPage' value='1' />
					<input type='hidden' name='userid' value='' />
					<input type='hidden' name='readonly' value='' />
					<input type='hidden' name='filingdatefrom' value='' />
					<input type='hidden' name='importctmidscriptmodule' value='' />
					<input type='hidden' name='representativeselect' value='' />
					<input type='hidden' name='expirydateto' value='' />
					<input type='hidden' name='backList' value='0' />
					<input type='hidden' name='totalFound' value='' />
					<input type='hidden' name='bRefine' value='0' />
					<input type='hidden' name='importctmidscriptmethod' value='' />
					<input type='hidden' name='publicationdatefrom' value='' />
					<input type='hidden' name='deno' value='' />
					<input type='hidden' name='bRefineModify' value='' />
					<input type='hidden' name='userCurrentAccount' value='' />
					<input type='hidden' name='blimited' value='200' />
					<input type='hidden' name='registrationdateto' value='' />
					<input type='hidden' name='objSQLOwner2' value='' />
					<input type='hidden' name='idappli' value='8298697' />
					<input type='hidden' name='markorigin' value='3' />
					<input type='hidden' name='denoselect' value='1' />
					<input type='hidden' name='denoaux' value='' />
					<input type='hidden' name='ntmark' value='' />
					<input type='hidden' name='listType' value='1' />
				</form>
			</td>
		<h:panelGroup rendered="#{applicationData.skinId == 10}">
			<td width="20"></td>
			<td width="20">
				<!-- begin WebMoney Transfer : attestation label -->
				<a href="https://passport.webmoney.ru/asp/certview.asp?wmid=392759957506" target="_blank">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ver_blue_on_transp_en.png" alt="#{msgs['CMS.footer.alt.ver_blue_on_transp_en.png']}" border="0" />
				</a>
				<!-- end WebMoney Transfer : attestation label -->
			</td>
			<td width="20"></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.newTemplateDesign}" >
			<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" alt="#{msgs['CMS.footer.alt.ao_tm.jpg']}" title="#{msgs['CMS.footer.text.trademark']}" width="29" height="27" border="0"/></td>
			<td width="20"></td>
			<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/reuters_new.jpg" alt="#{msgs['CMS.footer.alt.reuters_new.jpg']}" title="#{msgs['CMS.footer.text.reuters']}" width="112" height="27" border="0"/></td>
			<td width="20"></td>
			<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/thawte.gif" alt="#{msgs['CMS.footer.alt.thawte.gif']}" title="#{msgs['CMS.footer.text.thawte']}" width="95" height="27" border="0"/></td>
			<td width="20"></td>
		</h:panelGroup>
		<h:panelGroup rendered="#{!applicationData.newTemplateDesign}" >
			<h:panelGroup rendered="#{commonUtil.skinRegulated}">
			<td class="footer_link">
				<img style="cursor: pointer;" src="#{applicationData.imagesPath}/log_cysec.png" alt="#{msgs['CMS.footer.alt.log_cysec.png']}" title="#{msgs['CMS.footer.alt.log_cysec.png']}" width="27" height="27" border="0" onClick="pop_doc('container_cysec_new')" />
			</td>
			<td width="20"></td>
			</h:panelGroup>
			<td class="footer_link">
				<img style="cursor: pointer;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" alt="#{msgs['CMS.footer.alt.ao_tm.jpg']}" title="#{msgs['CMS.footer.text.trademark']}" width="29" height="27" border="0" onClick="pop_doc('container_trademark_new')" />
			</td>
			<td width="20"></td>
			<td class="footer_link"><a href="http://www.reuters.com/" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/reuters_new.jpg" title="#{msgs['CMS.footer.text.reuters']}" alt="#{msgs['CMS.footer.alt.reuters_new.jpg']}" width="112" height="27" border="0"/></a></td>
			<td width="20"></td>
			<td class="footer_link"><a href="" target="_blank" style="cursor: pointer" onClick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/thawte.gif" alt="#{msgs['CMS.footer.alt.thawte.gif']}" title="#{msgs['CMS.footer.text.thawte']}" width="95" height="27" border="0"/></a></td>
			<td width="20"></td>
		</h:panelGroup>
			<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/18.jpg" alt="#{msgs['CMS.footer.alt.18.jpg']}" title="#{msgs['CMS.footer.text.18']}" width="40" height="27" border="0"/></td>
			<td width="20"></td>
				<h:panelGroup rendered="#{applicationData.displayBankingFooter}">
					<h:panelGroup rendered="#{applicationData.skinId != 9 &amp;&amp; applicationData.skinId != 5}">
						<td class="footer_link"><a href="http://www.twitter.com/anyoption" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/twitter.gif" alt="#{msgs['CMS.footer.alt.twitter.gif']}" border="0"/></a></td>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 9}">
						<td class="footer_link"><a href="http://www.twitter.com/anyoptionItalia" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/twitter.gif" alt="#{msgs['CMS.footer.alt.twitter.gif']}" border="0"/></a></td>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 5}">
						<td class="footer_link"><a href="http://www.twitter.com/anyoptionEspana" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/twitter.gif" alt="#{msgs['CMS.footer.alt.twitter.gif']}" border="0"/></a></td>
					</h:panelGroup>
					<td width="20"></td>
					<h:panelGroup rendered="#{applicationData.skinId != 9 &amp;&amp; applicationData.skinId != 5}">
						<td class="footer_link"><a href="http://www.facebook.com/anyoption" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/facebook.gif" alt="#{msgs['CMS.footer.alt.facebook.gif']}" border="0"/></a></td>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 9}">
						<td class="footer_link"><a href="http://www.facebook.com/anyoption" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/facebook.gif" alt="#{msgs['CMS.footer.alt.facebook.gif']}" border="0"/></a></td>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 5}">
						<td class="footer_link"><a href="http://www.facebook.com/anyoption" target="_blank"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/facebook.gif" alt="#{msgs['CMS.footer.alt.facebook.gif']}" border="0"/></a></td>
					</h:panelGroup>
					<td width="20"></td>
					<h:panelGroup >
						<td class="footer_link"><div id="googlePlusOne"></div></td>
					</h:panelGroup>
				</h:panelGroup>
			</tr>

	</table>
		<div id="payments_nd">
			<ui:include src="/jsp/payment_strip.xhtml">
				 <ui:param name="strip_id" value="footer" />
			</ui:include>
	    </div>


	<!-- Begin Table -->
	<table border="0" cellpadding="0" cellspacing="0" width="970px" height="136">
		<tr>
			<td width="970px" height="83"><br />
				<table border="0" cellpadding="0" cellspacing="0" width="970px" height="83">
					<tr align="center">
						<td width="970px" height="83" valign="middle" align="center" class="footer_text">
						  <span>
								<div class="footer_menu_nd">
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.aboutus']}"/>
									</h:outputLink> |
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.contact.us']}"/>
									</h:outputLink> |
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.general.terms']}"/>
									</h:outputLink> |
									<h:panelGroup rendered="#{commonUtil.skinRegulated}"> 
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#{'#risk'}" target="_top" class="footer_link" >
											<h:outputText escape="false" value="#{msgs['CMS.footer.label.risk.disclosure']}"/>
										</h:outputLink> |
									</h:panelGroup>
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.security']}"/>
									</h:outputLink> |
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.privacy']}"/>
									</h:outputLink> |
									<h:panelGroup rendered="#{applicationData.skinId == 10}">
										<a class="footer_link" href="http://affiliates.anyoption.com/?l=145" title="Binary Options Affiliate Program" alt="Binary Options Affiliate Program"><h:outputText value="#{msgs['CMS.footer.label.affiliates']}"/></a> |
									</h:panelGroup>
									<h:panelGroup rendered="#{applicationData.skinId != 10}">
										<a class="footer_link" href="http://affiliates.anyoption.com" title="Binary Options Affiliate Program" alt="Binary Options Affiliate Program"><h:outputText value="#{msgs['CMS.footer.label.affiliates']}"/></a> |
									</h:panelGroup>
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/press.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.press']}"/>
									</h:outputLink> |
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" target="_top" class="footer_link" >
										<h:outputText escape="false" value="#{msgs['CMS.footer.label.menuStrip.faq']}"/>
									</h:outputLink>
									<h:panelGroup rendered="#{commonUtil.skinRegulated}">
										|
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/regulation.jsf')}" target="_top" class="footer_link" >
											<h:outputText escape="false" value="#{msgs['CMS.footer.label.regulation']}"/>
										</h:outputLink>
									</h:panelGroup>
								</div>
								<div id="footer_mdl_nd">
									<h:outputText escape="false" value="#{msgs['CMS.footer.text.t1']}"/>
									<a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc">#{msgs['CMS.footer.label.l1']}</a> &#9632;
									<h:outputText escape="false" value="#{msgs['CMS.footer.text.t2']}"/>
				                </div>
							   <br/>
							  <div>
							  <!--
								<h:panelGroup rendered="#{applicationData.skinId == 9}">
									 <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/it/opzioni-binarie.jsf')}"
										title="Opzioni binarie" target="_top" class="footer_link" style="font-weight:bold;">
									<h:outputText escape="false" value="Opzioni binarie"/>
									</h:outputLink> |

									 <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/it/differenze-opzioni-ordinarie-opzioni-binarie.jsf')}"
										title="Differenze tra opzioni ordinarie e opzioni binarie" target="_top" class="footer_link" style="font-weight:bold;">
									<h:outputText escape="false" value="Differenze tra opzioni ordinarie e opzioni binarie"/>
									</h:outputLink> |

								   <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/it/trading-opzioni-guida.jsf')}"
								 		title="Guida alle opzioni digitali" target="_top" class="footer_link" style="font-weight:bold;">
									<h:outputText escape="false" value="Trading di opzioni: guida"/>
									</h:outputLink> |

									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/it/opzioni-digitali-guida.jsf')}"
								 		title="Trading di opzioni binarie: guida" target="_top" class="footer_link" style="font-weight:bold;">
									<h:outputText escape="false" value="Opzioni digitali: guida"/>
									</h:outputLink>
									<h:outputText escape="false" value="#{msgs['anyoption.title.footer']}" style="font-weight:bold;"/>
								</h:panelGroup>
								

								<h:panelGroup rendered="#{applicationData.skinId == 5}">

								 	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/es/Negociacion-opciones-digitales-guia.jsf')}"
										title="Negociación opciones digitales Guía" target="_top" class="footer_link" >
									<h:outputText escape="false" value="Negociación Opciones Digitales: Guía"/>
									</h:outputLink> |


								   <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/es/trading-en-Forex-guia.jsf')}"
								 		title="Trading en Forex guía" class="footer_link" >
									<h:outputText escape="false" value="Trading en Forex: Guía"/>
									</h:outputLink> |


									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/es/trading-en-opciones-guia.jsf')}"
								 		title="Guía Trading Opciones Digitales" target="_top" class="footer_link" >
									<h:outputText escape="false" value="Trading Opciones Digitales: Guía"/>
									</h:outputLink> |

									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/es/trading-en-opciones-binarias-guia.jsf')}"
								 		title="Opciones Binarias" target="_top" class="footer_link" >
									<h:outputText escape="false" value="Opciones Binarias: Guía"/>
									</h:outputLink>

								</h:panelGroup>
								-->
								<h:panelGroup style="color:#8fa2af;">
									<h:outputText escape="false" value="#{msgs['CMS.footer.text.anyoption.title.footer']}" style="font-weight:bold;"/>
								</h:panelGroup>
								<div style="color:#8fa2af;">
									<h:outputText escape="false" value="#{msgs['CMS.footer.text.anyoption.footer']}"/>
								</div>
								<br/>&#160;
								<div>
									<h2 align="center" style="padding:0px;margin:0px; color:#8fa2af;font-size:9px;">
										<h:outputText value="#{msgs['CMS.footer.text.message.affiliates.program.partners']}"/>
									</h2>
										<h:panelGroup rendered="#{applicationData.skinId == 10}" style="color:#8fa2af;">
											<h:outputFormat escape="false" value="#{msgs['CMS.footer.text.message.affiliates']}">
		        								<f:param value="http://affiliates.anyoption.com/?l=145" />
		        							</h:outputFormat>
		        						</h:panelGroup>
		        						<h:panelGroup rendered="#{applicationData.skinId != 10}" style="color:#8fa2af;">
											<h:outputFormat escape="false" value="#{msgs['CMS.footer.text.message.affiliates']}">
		        								<f:param value="http://affiliates.anyoption.com/" />
		        							</h:outputFormat>
		        						</h:panelGroup>
	        					<br/>&#160;
	        					<h:panelGroup rendered="#{applicationData.skinId == 10}">
	        						<!--/noindex-->
	    						</h:panelGroup>
								</div>

							  </div>
						  </span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- Countries links -->
	<div id="footer_btm_nd">
        <div id="footer_lang_nd" align="center">
            <a href="#{applicationData.homePageUrl}intl/danish.html">Danish</a> |
			<a href="#{applicationData.homePageUrl}intl/finnish.html">Finnish</a> |
			<a href="#{applicationData.homePageUrl}intl/greek.html">Greek</a> |
			<a href="#{applicationData.homePageUrl}intl/indonesian.html">Indonesian</a> |
			<a href="#{applicationData.homePageUrl}intl/japanese.html">Japanese</a> |
			<a href="#{applicationData.homePageUrl}intl/malay.html">Malay</a> |
			<a href="#{applicationData.homePageUrl}intl/norwegian.html">Norwegian</a> |
			<a href="#{applicationData.homePageUrl}intl/indonesian.html">Indonesian</a> |
			<a href="#{applicationData.homePageUrl}intl/portuguese.html">Portuguese</a> |
			<a href="#{applicationData.homePageUrl}intl/swedish.html">Swedish</a>
        </div>
    </div>
</div>
<h:panelGroup rendered="false" >
	<script type='text/javascript'>
		var Referral = '90';
		var User = 'anyoption';
		var Width = 446;
		var Height = 444;
		var ActivationMethod = 1;
		var UseCookie = true;
		var UsePromo = true;
		var UseDarkScreen = true;
		var PopUpWindowBorderColor = 'White';
		var DownloadLink = "#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}?&amp;chat_id=";
	</script>
	<script type='text/javascript' src='http://vsp-online.com/vsp.js'></script>
</h:panelGroup>
<c:if test="${applicationData.isLive}">

	<c:if test="${applicationData.skinId == 8 || applicationData.skinId == 9 || applicationData.skinId == 5}">
		<!--Visit Pixel 
		PIXEL-11282012-625
		Activity Name: AnyOption-Homepage-Retargeting
		DataXu tag:-->
		<img src="#{applicationData.protocolHttpOrHttps}tags.w55c.net/rs?id=7e898750f418450c8fa07eea03925ed3&amp;t=cart&amp;sku=$SKUS" />
	</c:if>
</c:if>

<h:panelGroup rendered="false" >
	<script type="text/javascript">
		var Referral = '80';
		var User = 'anyoption';
		var Width = 446;
		var Height = 444;
		var ActivationMethod = 1;
		var UseCookie = true;
		var UsePromo = true;
		var UseDarkScreen = true;
		var PopUpWindowBorderColor = 'White';
		var DownloadLink = "#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}?&amp;chat_id=";
		var LanguageFlow = true;
		var Language = "es";
	</script>
	<script type='text/javascript' src='http://vsp-online.com/vsp.js'></script>
</h:panelGroup>

<!-- #{applicationData.serverPrefixName} -->
<!-- End Table -->

<!-- Google Plus one -->
<script>
	function googlePlusRender()	{
		gapi.plusone.render("googlePlusOne", {"count" : "false" , "size" : "standard"} );
	}

	$(document).ready(function(){googlePlusRender();});
</script>
<script>
	if (window.navigator.userAgent.match(/Chrome/)) {
		var objects = document.getElementsByTagName('object');
		for (var i = 0, m = objects.length; i &lt; m; i++) {
		    objects[i].style.display = "";
		}
	}
</script>
</f:view>