<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

   <h:panelGroup rendered="#{display == 'false'}" >
	 <table border="0" cellpadding="0" cellspacing="0" align="#{applicationData.pageAlignment}" width="739px">
	 	<tr>
			<td width="739px">&#160;</td>
  		</tr>
   	</table>
   </h:panelGroup>

	<h:panelGroup rendered="#{display == null}" >
		<!-- user logout -->
		<c:if test="${empty sessionScope.user}">
			<div id="menu_nd">
				<ul class="menuBottomStyle_nd" dir="#{applicationData.pageDirection}" id="navigation">
					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='register'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"
								target="_top" id="registerLink" class="${class}" alt="#{msgs['menuStrip.openaccount.title']}" title="#{msgs['menuStrip.openaccount.title']}" >
							<h:outputText value="#{msgs['menuStrip.openaccount']}" />
						</h:outputLink>
					</li>


					<c:set var="class" value="menu_stripe_link"/>
					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
						<div id="noOneTouchLinkDiv">
			                <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
								target="_top" id="registerMLink" border="0" class="${class}" alt="#{msgs['menuStrip.trade.title']}" title="#{msgs['menuStrip.trade.title']}" >
								<h:outputText value="#{msgs['rightnav.whatisao']}"/>
							</h:outputLink>
						</div>
						<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
							<div id="oneTouchLinkDiv" style="display: none;">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"
										target="_top" id="registerMLink2" border="0" class="${class}">
									<h:outputText value="#{msgs['rightnav.whatisao']}"/>
								</h:outputLink>
							</div>
						</h:panelGroup>
					</li>

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='banking'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}"
								target="_top" id="bankingLink" class="${class}" alt="#{msgs['menuStrip.banking.title']}" title="#{msgs['menuStrip.banking.title']}">
							<h:outputText value="#{msgs['menuStrip.banking']}"/>
						</h:outputLink>
					</li>


					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='assetIndex'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>
					<!-- ASSETS -->
					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
								target="_top" id="analysisLink1" class="${class}" alt="#{msgs['menuStrip.asset.index.title']}" title="#{msgs['menuStrip.asset.index.title']}">
							<h:outputText value="#{msgs['menu.strip.assets']}" style="text-transform: uppercase;"/>
						</h:outputLink>

						<ul class="sub_navigation">
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
										target="_top" id="analysisLink" class="${class}" alt="#{msgs['menuStrip.asset.index.title']}" title="#{msgs['menuStrip.asset.index.title']}" style="border-top: solid 1px #bfbfbf !important;">
									<h:outputText value="#{msgs['menuStrip.asset.index']}"/>
								</h:outputLink>
							</li>
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
										target="_top" id="expiriesLink" class="${class}" alt="#{msgs['menuStrip.past.expiries.title']}" title="#{msgs['menuStrip.past.expiries.title']}">
									<h:outputText value="#{msgs['menuStrip.past.expiries']}"/>
								</h:outputLink>
							</li>
						</ul>
					</li>

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='tradeingBoxManual'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>
					
					<c:if test="${applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}" >
						<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}" 
									target="_top" id="liveLink" class="live" >
								<h:outputText value="#{msgs['menuStrip.live']}" style="background: transparent url(#{applicationData.imagesPath}/icon_Globe_menu.png) no-repeat top left; padding-left: 25px; "/>
							</h:outputLink>
						</li>
					</c:if>
					
					<c:if test="${applicationData.skinId == 13 || applicationData.skinId == 14}" >
						<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
									target="_top"  class="${class}" alt="#{msgs['menuStrip.Trading.Box.Manual.title']}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
								<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
							</h:outputLink>
						</li>
					</c:if>
					

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='faq'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<!-- Info -->
					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"
								target="_top" id="faqLink" class="${class}" alt="" title="">
							<h:outputText value="#{msgs['rightnav.info']}"/>
						</h:outputLink>

						<ul class="sub_navigation" style="height: 130px;">
							<!-- About US -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"
												target="_top" class="features_links" style="border-top: solid 1px #bfbfbf !important;">
									<h:outputText value="#{msgs['rightnav.aboutus']}"/>
								</h:outputLink>
							</li>
							<!-- FAQ -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"
												target="_top" class="features_links">
									<h:outputText value="#{msgs['menuStrip.faq']}"/>
								</h:outputLink>
							</li>
							<!-- Contact Us -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
												target="_top" class="features_links">
									<h:outputText value="#{msgs['rightnav.contact']}"/>
								</h:outputLink>
							</li>
							<!-- FEATURS -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/newFeatures.jsf')}"
										target="_top" id="featursLink" class="${class}" alt="#{msgs['menuStrip.past.expiries.title']}" title="#{msgs['menuStrip.past.expiries.title']}">
									<h:outputText value="#{msgs['menu.strip.features']}"/>
								</h:outputLink>
							</li>
							<!-- Demo -->
							<h:panelGroup rendered="#{applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}" >
								<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
										target="_top" class="${class}" alt="#{msgs['menuStrip.Trading.Box.Manual.title']}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
									<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
								</h:outputLink>
							</li>
							</h:panelGroup>
							<!-- Binary option trading -->
							<h:panelGroup>
								<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary_options_trading.jsf')}"
										target="_top" class="${class}" alt="#{msgs['menuStrip.binary.option.trading.title']}" title="#{msgs['menuStrip.binary.option.trading.title']}" style="height: 42px !important; line-height: 15px !important; padding-top: 11px !important">
									<h:outputText value="#{msgs['menuStrip.binary.option.trading']}"/>
								</h:outputLink>
							</li>
							</h:panelGroup>
						</ul>
					</li>

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='newOnAo'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<h:panelGroup rendered="#{applicationData.skinId != 11}">
						<c:set var="class" value="menu_stripe_link"/>
						<c:if test="${selectedTd=='appPage'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<table border="0" cellspacing="0" cellpadding="0" width="60px" class="korea_mobile">
								<tr>
									<td>
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}"
											target="_top" class="${class}" alt="#{msgs['mobile.menu.strip.title']}" title="#{msgs['mobile.menu.strip.title']}">
											<h:outputText value="#{msgs['menuStrip.mobile']}"/>
										</h:outputLink>
									</td>
								</tr>
							</table>
						</li>
					</h:panelGroup>
				</ul>
			</div>
		</c:if>
		<!-- End user logout -->


		<!-- user login -->
		<c:if test="${!empty sessionScope.user}">
			<div id="menu_nd">
				<ul class="menuBottomStyle_login_nd" dir="#{applicationData.pageDirection}" id="navigation">

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='homePage'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					 <li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
								target="_top" id="indexLink" class="${class}" >
							<h:outputText value="#{msgs['menuStrip.home']}"/>
						</h:outputLink>
					</li>


					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='trade'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"
								target="_top" id="tradeLink" class="${class}" alt="#{msgs['menuStrip.trade.title']}" title="#{msgs['menuStrip.trade.title']}">
							<h:outputText value="#{msgs['rightnav.whatisao']}"/>
						</h:outputLink>
					</li>


					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='banking'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
					    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}"
								target="_top" id="bankingLink" class="${class}" alt="#{msgs['menuStrip.banking.title']}" title="#{msgs['menuStrip.banking.title']}">
							<h:outputText value="#{msgs['menuStrip.banking']}"/>
						</h:outputLink>
					</li>


					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='assetIndex'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<!-- ASSETS -->
					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
								target="_top" id="analysisLink1" class="${class}" alt="#{msgs['menuStrip.asset.index.title']}" title="#{msgs['menuStrip.asset.index.title']}">
							<h:outputText value="#{msgs['menu.strip.assets']}" style="text-transform: uppercase;"/>
						</h:outputLink>

						<ul class="sub_navigation">
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"
										target="_top" id="analysisLink" class="${class}" alt="#{msgs['menuStrip.asset.index.title']}" title="#{msgs['menuStrip.asset.index.title']}" style="border-top: solid 1px #bfbfbf !important;">
									<h:outputText value="#{msgs['menuStrip.asset.index']}"/>
								</h:outputLink>
							</li>
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
										target="_top" id="expiriesLink" class="${class}" alt="#{msgs['menuStrip.past.expiries.title']}" title="#{msgs['menuStrip.past.expiries.title']}">
									<h:outputText value="#{msgs['menuStrip.past.expiries']}"/>
								</h:outputLink>
							</li>
						</ul>
					</li>

					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='tradeingBoxManual'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<c:if test="${applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}" >
						<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}" 
									target="_top" id="liveLink" class="live" >
								<h:outputText value="#{msgs['menuStrip.live']}" style="background: transparent url(#{applicationData.imagesPath}/icon_Globe_menu.png) no-repeat top left; padding-left: 25px; "/>
							</h:outputLink>
						</li>
					</c:if>

					<c:if test="${applicationData.skinId == 13 || applicationData.skinId == 14}" >
						<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
									target="_top" class="${class}" alt="#{msgs['menuStrip.Trading.Box.Manual.title']}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
								<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
							</h:outputLink>
						</li>
					</c:if>


					<c:set var="class" value="menu_stripe_link"/>
					<c:if test="${selectedTd=='faq'}">
						<c:set var="class" value="menu_stripe_link_active"/>
					</c:if>

					<!-- Info -->
					<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
						<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"
								target="_top" id="faqLink" class="${class}" alt="" title="">
							<h:outputText value="#{msgs['rightnav.info']}"/>
						</h:outputLink>

						<ul class="sub_navigation" style="height: 130px;">
							<!-- About US -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"
												target="_top" class="features_links" style="border-top: solid 1px #bfbfbf !important;">
									<h:outputText value="#{msgs['rightnav.aboutus']}"/>
								</h:outputLink>
							</li>
							<!-- FAQ -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}"
												target="_top" class="features_links">
									<h:outputText value="#{msgs['menuStrip.faq']}"/>
								</h:outputLink>
							</li>
							<!-- Contact Us -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
												target="_top" class="features_links">
									<h:outputText value="#{msgs['rightnav.contact']}"/>
								</h:outputLink>
							</li>
							<!-- FEATURS -->
							<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/newFeatures.jsf')}"
										target="_top" id="featursLink" class="${class}" alt="#{msgs['menuStrip.past.expiries.title']}" title="#{msgs['menuStrip.past.expiries.title']}">
									<h:outputText value="#{msgs['menu.strip.features']}"/>
								</h:outputLink>
							</li>
							<!-- Demo -->
							<c:if test="${applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}" >
								<li class="sub_nav_link">
									<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}"
											target="_top" class="${class}" alt="#{msgs['menuStrip.Trading.Box.Manual.title']}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
										<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}"/>
									</h:outputLink>
								</li>
							</c:if>
							<!-- Binary option trading -->
							<h:panelGroup>
								<li class="sub_nav_link">
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary_options_trading.jsf')}"
										target="_top" class="${class}" alt="#{msgs['menuStrip.binary.option.trading.title']}" title="#{msgs['menuStrip.binary.option.trading.title']}" style="height: 42px !important; line-height: 15px !important; padding-top: 11px !important">
									<h:outputText value="#{msgs['menuStrip.binary.option.trading']}"/>
								</h:outputLink>
							</li>
							</h:panelGroup>
						</ul>
					</li>


					<h:panelGroup rendered="#{applicationData.skinId == 11}">

						<c:set var="class" value="menu_stripe_link"/>
						<c:if test="${selectedTd=='oneTouch'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li style="background: url(#{applicationData.imagesPath}/menu_separator.png) no-repeat right top;">
							<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}"
									target="_top" id="oneTouchLink" class="${class}">
								<h:outputText value="#{msgs['onetouch.onetouch']}"/>
							</h:outputLink>
						</li>

					</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId != 11}">

						<c:set var="class" value="menu_stripe_link"/>
						<c:if test="${selectedTd=='appPage'}">
							<c:set var="class" value="menu_stripe_link_active"/>
						</c:if>

						<li>
							<table border="0" cellspacing="0" cellpadding="0" width="60px" class="korea_mobile">
								<tr>
									<td>
										<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}"
											target="_top" class="${class}" alt="#{msgs['mobile.menu.strip.title']}" title="#{msgs['mobile.menu.strip.title']}">
											<h:outputText value="#{msgs['menuStrip.mobile']}"/>
										</h:outputLink>
									</td>
								</tr>
							</table>
						</li>
					</h:panelGroup>
				</ul>
			</div>
		</c:if>
	</h:panelGroup>
</f:view>