<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="176px" align="#{applicationData.pageAlignment}">
	<tr>
		<c:set var="class" value="myAccount_menu_stripe_link_10"/>
		<c:set var="classArrow" value="not_visible"/>
		<c:if test="${std=='details'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
			<c:set var="classArrow" value="visible"/>
		</c:if>

		 <td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
		 <td valign="middle" class="myAccount_menu_sub_td">
		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.tlvPath}pages/personal.jsf"
													target="_top" class="${class}" >
					<h:outputText value="#{msgs['CMS.mypage_side_menu.label.details']}"/>
			</h:outputLink>
	    </td>
	</tr>
	
	<c:if test="${commonUtil.skinRegulated and userRegulation.shouldShowQuestionnaireMenu}">	
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='questionnaire'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>
	
			<td width="15px" class="${classArrow}" align="center">
				<h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/>
			</td>
			<td valign="middle" class="myAccount_menu_sub_td">
			   <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/questionnaire.jsf"
													target="_top" class="${class}" >
					<h:outputText value="#{msgs['CMS.mypage_side_menu.label.questionnaire']}"/>
				</h:outputLink>
		  	</td>
		</tr>
	</c:if>
	
	<c:if test="${!commonUtil.skinRegulated or (commonUtil.skinRegulated and userRegulation.shouldShowQuestionnaireMenu)}">
		<tr>
			<c:set var="class" value="myAccount_menu_stripe_link_10"/>
			<c:set var="classArrow" value="not_visible"/>
			<c:if test="${std=='documents'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active_10"/>
				<c:set var="classArrow" value="visible"/>
			</c:if>
	
			<td width="15px" class="${classArrow}" align="center"><h:outputText styleClass="${class}" escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
			<td valign="middle" class="myAccount_menu_sub_td">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/documents.jsf"
														target="_top" class="${class}">
						<h:outputText value="#{msgs['CMS.mypage_side_menu.label.title']}" />
				</h:outputLink>
			</td>
		</tr>
	</c:if>
</table>

</f:view>