
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<h:form id="MyAccount">
<table bgcolor="#f1f1f1" cellpadding="0" cellspacing="0" width="180px" border="0" align="left">

<c:set var="class" value="myAccount_menu_stripe_link"/>
<c:if test="${td=='mailbox'}">
	<c:set var="class" value="myAccount_menu_stripe_link_active"/>
</c:if>


<c:set var="class" value="myAccount_menu_stripe_link"/>
<c:set var="trClass" value="doNotShow"/>
<c:set var="class" value="myAccount_menu_stripe_link_active"/>
<c:set var="trClass" value="show_row"/>

<tr>
	 <td class="myAccount_menu_td" valign="middle" width="180px" >
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
												target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.deposit']}"/>
		</h:outputLink>
	</td>
</tr>
<tr id="menuSubDepositTr" class="${trClass}">
	 <td valign="middle" class="myAccount_menu_td_down_border">
		<ui:include src="/jsp/templates/myaccount_substrip_deposit.xhtml" />
    </td>
</tr>

</table>
</h:form>

</f:view>
