<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:c="http://java.sun.com/jsp/jstl/core"
      	xmlns:t="http://myfaces.apache.org/tomahawk"
      	 >
    <script src="#{facesContext.externalContext.requestContextPath}/js/skinsMenuChange.js" type="text/javascript"></script>

	<c:if test="#{applicationData.isHasVersion2Skin}">
		<c:set var="englishSkin" value="7"/>
	</c:if>
	<c:if test="#{!applicationData.isHasVersion2Skin}">
		<c:set var="englishSkin" value="2"/>
	</c:if>

	<h:panelGroup rendered="#{!applicationData.usSkins}" >
		<table border="1" align="#{applicationData.pageAlignment}" cellpadding="0" cellspacing="0" class="menu_stripe_nd">
			<tr align="#{applicationData.pageAlignment}">
				<td valign="top" align="#{applicationData.pageAlignment}">

					<c:set var="skin" value="#{applicationData.skinId}"/>

					<table border="0" cellpadding="0" cellspacing="0" width="80px">
						<c:if test="${skin!=2}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" border="0" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('en')}" style="width:100%;height:100%;display:block;" id="linken2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.eng']}"/>					           		
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('en')}" style="width:100%;height:100%;display:block;text-decoration: none;" id="linken21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/en_2/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
								
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						<c:if test="${skin!=3}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('tr')}" style="width:100%;height:100%;display:block;" id="linktr2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.tur']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('tr')}" style="width:100%;height:100%;display:block;" id="linktr21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/tr_3/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						
						<c:if test="${skin!=5}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer">
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('es')}" style="width:100%;height:100%;display:block;" id="linkes2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.spa']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('es')}" style="width:100%;height:100%;display:block;" id="linkes21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/es_5/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						

						<c:if test="${skin!=8}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer">
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('de')}" style="width:100%;height:100%;display:block;" id="linkde2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.de']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('de')}" style="width:100%;height:100%;display:block;" id="linkde21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/de_8/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						
						<c:if test="${skin!=9}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('it')}" style="width:100%;height:100%;display:block;" id="linkit2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.ita']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('it')}" style="width:100%;height:100%;display:block;" id="linkit21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/it_9/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						
						<c:if test="${skin!=10}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer">
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('ru')}" style="width:100%;height:100%;display:block;" id="linkrus2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.rus']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('ru')}" style="width:100%;height:100%;display:block;" id="linkrus21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/ru_10/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						
						<c:if test="${skin!=12}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('fr')}" style="width:100%;height:100%;display:block;" id="linkfr2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.fr']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('fr')}" style="width:100%;height:100%;display:block;" id="linkfr21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/fr_12/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>	
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						
						<c:if test="${skin!=15}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('zh')}" style="width:100%;height:100%;display:block;" id="linkzh2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.zh']}"/>
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('zh')}" style="width:100%;height:100%;display:block;" id="linkzh21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/zh_15/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						
						<c:if test="${skin!=17}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" border="0" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('kr')}" style="width:100%;height:100%;display:block;" id="linkkp2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.kor']}"/>	 				           		
									</h:outputLink>
								</td>
								<!-- flag -->
								<td>
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('kr')}" style="width:100%;height:100%;display:block;text-decoration: none;" id="linkkp21" forceId="true" styleClass="skins_menu_link">
										<h:graphicImage url="#{applicationData.imagesPath}/kr_17/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
								
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
					</table>
				</td>
			</tr>
		</table>
	</h:panelGroup>

	<h:panelGroup rendered="#{applicationData.usSkins}" >
		<table border="0" align="#{applicationData.pageAlignment}" cellpadding="0" cellspacing="0" class="menu_stripe">
			<tr align="#{applicationData.pageAlignment}">
				<td valign="top" align="#{applicationData.pageAlignment}">

					<c:set var="skin" value="#{applicationData.skinId}"/>

					<table border="0" cellpadding="0" cellspacing="0" width="80px">

						<c:if test="${skin!=13}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('en-us')}" style="width:100%;height:100%;display:block;" id="linkenus2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.eng']}"/>
						           		&#160;<h:graphicImage url="#{applicationData.imagesPath}/en_13/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
							<tr><td class="skins_menu_border_nd" colspan="2"></td></tr>
						</c:if>
						

						<c:if test="${skin!=14}">
							<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
								<td style="cursor:pointer" >
									<h:outputLink value="#{skinsForm.getChangeSkinUrl('es-us')}" style="width:100%;height:100%;display:block;" id="linkesus2" forceId="true" styleClass="skins_menu_link">
						           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.spa']}"/>
						           		&#160;<h:graphicImage url="#{applicationData.imagesPath}/es_14/flag.gif" alt="#{msgs['CMS.skinsMenu.alt.flag.gif']}" style="border:0;"></h:graphicImage>
									</h:outputLink>
								</td>
							</tr>
						</c:if>
					</table>
				</td>
			</tr>
		</table>
	</h:panelGroup>

</f:view>
