<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}" >
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
</head>
<body dir="#{applicationData.pageDirection}">

	<script>
		document.domain = "#{applicationData.domainUrl}";
		var name = "#{documentsForm.uploadedDocumentName}";
		var nameId = "#{documentsForm.uploadedDocumentNameId}";
		var status = '#{documentsForm.uploadedDocumentStatus}';
		var statusId = "#{documentsForm.uploadedDocumentStatusId}";
		window.parent.changeValues(nameId, name, statusId, status);
		var msg = '#{documentsForm.summaryText}';
		window.parent.addSummaryText(msg);
		var isRegulated = #{documentsForm.isRegulated()};
		window.parent.evaporateIframe();
	</script>

</body>
</f:view>
</html>
