<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<script>
		document.domain = "#{applicationData.domainUrl}";
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		var skinId = #{applicationData.skinId};
	</script>
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js?version=cvsTimeStamp"></script>
</head>
<body dir="#{applicationData.pageDirection}">
	<f:view locale="#{applicationData.userLocale}">
		<h:form id="inatecIframeDepositForm" onsubmit="inatecIfrmaeDeposit_submit(#{newCardForm.firstDeposit});return false;">
			<ui:remove>
				<h:inputHidden value="#{visit.generate}" />
				<h:inputHidden value="#{visit.saveToken}" />
			</ui:remove>
			<ui:include src="/jsp/pages/inatecIframeDepositContentRaw.xhtml" />
			<script>initDeposit('inatecIframeDepositForm:');var user_id = #{user.id};</script>
		</h:form>
	</f:view>
</body>
</html>