<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}" >
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles_#{applicationData.skin.style}_iframe.css?version=cvsTimeStamp" />
    <script src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf?s=#{applicationData.skinId}&amp;version=cvsTimeStamp"></script>
    <script>
		// calendar variables
		var calMonthNames = new Array(#{msgs['calendar.monthNames']});
		var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
		var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
		var	calToday = #{msgs['calendar.today']};
		var calDir = "#{applicationData.pageDirection}";
		document.domain = "#{applicationData.domainUrl}";
	</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js?version=cvsTimeStamp"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/common.js?version=cvsTimeStamp"></script>
	<script type="text/javaScript">
			var cal = new CalendarPopup("caldiv1");
			cal.setCssPrefix("Calendar");
			<c:if test="#{applicationData.skinId != 1}">
		$(function(){
			$('._settledAmount').click(function(event){
				top.openCacheBonusPopup({e: event, balanceCallType: balanceCallTypes.settled_amount, iframe: 'investments0100History'});
			});
			$('._settledBonus').click(function(event){
				top.openCacheBonusPopup({e: event, balanceCallType: balanceCallTypes.settled_return, iframe: 'investments0100History'});
			});
			if (userLogin) {
				top.openCacheBonusPopup({balanceCallType: balanceCallTypes.settled_amount, position: false});
			}
		})
		</c:if>
	</script>
</head>
<body dir="#{applicationData.pageDirection}">

<t:saveState value="#{investments0100ListForm}" />
<div class="binary0100_history">
 	<h:form id="investments0100ListForm" height="500px" >
		<ui:include src="/jsp/pages/html_elements/showOffDiv_page.xhtml" />
		<h:inputHidden id="selectedAssetName" value="#{investments0100ListForm.selectedAssetName}" />
		<h:inputHidden id="selectedInv" value="#{investments0100ListForm.selectedInv}" />
		<h:inputHidden id="showOffSentence" value="#{investments0100ListForm.showOffSentence}" />
		<h:inputHidden id="showOffFacebookText" value="#{investments0100ListForm.showOffFacebookText}" />
		<h:inputHidden id="showOffTwitterText" value="#{investments0100ListForm.showOffTwitterText}" />
		<h:inputHidden id="lastShowOff" value="#{investments0100ListForm.lastShowOff}" />
		<h:inputHidden id="isOffHours0100" value="#{investments0100ListForm.offHours0100}" />
		<!--<h:inputHidden id="marketId" value="#{investments0100ListForm.marketId}" />-->

			<!--filters-->
			<h:panelGrid styleClass="date_range_table_0100" columns="13" rows="1" cellspacing="0" cellpadding="0" border="0" style="align:left">
				<!-- Open options -->
				<t:selectOneRadio styleClass="lable_text0100"  id="investmentOpenClose" value="#{investments0100ListForm.isSettled}" required="true" onclick="changeDisplay(this);">
        			<f:selectItem  itemLabel="#{msgs['show.graph']}" itemValue="0" styleClass="openLabel_fl open_fl"/>
					<f:selectItem  itemLabel="#{msgs['investments.issettled']}" itemValue="1" styleClass="settled_fl settledLabel_fl"/>
            	</t:selectOneRadio>
		        <!-- date -->
		        <h:inputText styleClass="date_0100" dir="ltr" id="date" name="from" value="#{investments0100ListForm.from}" onclick="cal.select(document.forms['investments0100ListForm'].elements['investments0100ListForm:date'],'anchor1','dd.MM.yy'); return false;"
			    	 	size="6" required="true">
					<f:convertDateTime pattern="dd.MM.yy" type="date" />
			    </h:inputText>
			    &#160;
			    <a onClick="cal.select(document.forms['investments0100ListForm'].elements['investments0100ListForm:date'],'anchor1','dd.MM.yy'); return false;" name="anchor1" id="anchor1">
		       		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/icon_calendar.gif" style="cursor:hand;" alt="" align="top" width="20" height="19" border="0"/>
		        </a>
				<t:message id="fromError" for="date" replaceIdWithLabel="true" styleClass="error_messages"/>
				&#160;&#160;
				<!-- Assets list -->
		        <t:selectOneMenu id="selectedAssetNameDisplay" value="#{investments0100ListForm.marketId}" onchange="document.investments0100ListForm.selectedAssetName.submit(this);" styleClass="assets_0100">
		   			<f:selectItems value="#{investments0100ListForm.marketsBinary0100}" />
		        </t:selectOneMenu>
		        <!-- Expiry hour -->
		        <h:outputText styleClass="lable_text0100" value="#{msgs['investments.expiryHour']}" id="investmentsExpiryHourText" escape="false"/>
		        <t:selectOneMenu id="selectedExpiryHour" value="#{investments0100ListForm.selectedExpiryHour}" onchange=""  styleClass="expiry_0100">
		        	<f:selectItem itemValue="" itemLabel="#{msgs['general.all']}" />
		   			<f:selectItems value="#{investments0100ListForm.expiryHours}" />
		        </t:selectOneMenu>
				<!-- Submit -->
				&#160;
				<t:commandLink action="#{investments0100ListForm.updateList}" id="button" style="text-decoration: none;" styleClass="button_small_nd2">
		        	<h:outputText value="#{msgs['investment.slip.submit']}"/>
			 	</t:commandLink>
			</h:panelGrid>

			<h:commandLink action="#{investments0100ListForm.updateList}" id="hiddenbtn" style="display:none" />

			<!-- no investments -->
			<h:panelGrid rendered="#{investmentsList.size==0}" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" >
				<div class="scrollerTable_opened_cont">
					<table cellspacing="0" cellpadding="0" class="scrollerTable_opened" id="investments0100ListForm:data" width="100%">
						<thead>
							<tr>
								<th scope="col" class="standardTable_SortHeader_first">
									#{msgs['binary0100.downTable.event']}
								</th>
								<th scope="col" class="standardTable_SortHeader" style="text-align:center;">
									#{msgs['binary0100.downTable.opening.price']}
								</th>
								<th scope="col" class="standardTable_SortHeader"  style="text-align:center;">
									#
								</th>
								<th class="standardTable_SortHeader"  style="text-align:center;">
									#{msgs['binary0100.downTable.max.risk']}
								</th>
								<th class="standardTable_SortHeader"  style="text-align:center;">
									#{msgs['binary.0-100.glossary.MaxProfit.subject']}
								</th>
							</tr>
						</thead>
					</table>
				</div>
		   	</h:panelGrid>

		   	<!-- no investments -->
			<h:panelGrid rendered="#{investmentsList.size==0 &amp;&amp; investments0100ListForm.clickSubmit}" styleClass="scrollerTable_settled history_empty_list" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
			 	<h:outputText styleClass="pages_text" value="#{msgs['investments.emptylist']}" />
		   	</h:panelGrid>

		   	<!-- investments table -->
		   	<h:panelGrid columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" id="investments_table">
			   	<t:dataTable id="data"
	 		        styleClass="scrollerTable_0100 scrollerTable_opened"
	                headerClass="standardTable_SortHeader_0100"
	                footerClass=""
	                rowClasses="standardTable18_Row1_0100 ,standardTable18_Row2_0100"
	                columnClasses="taC"
	                var="v"
		            value="#{investmentsList.list}"
	    	        preserveDataModel="false"
	        	    rows="10"
	            	renderedIfEmpty="false"
	                cellpadding="0"
		            cellspacing="0"
		            rowIndexVar="crrInvestmentIndex"
	    	        rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#e1e1e1'"
					rowOnMouseOut="this.style.backgroundColor=old">
	           		<!-- event -->
					<h:column>
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['binary0100.downTable.event']}" />
						</f:facet>
		            	<span style="white-space:nowrap;"><h:outputText value="#{investments0100ListForm.getPrintBinary0100Event(v)}" /></span>
					</h:column>
					<!-- Opening price -->
					<h:column>
						<f:facet name="header" >
					    	<h:outputText value="#{msgs['binary0100.downTable.opening.price']}" />
						</f:facet>
						<h:outputText value="#{investments0100ListForm.getCurrentLevel0100(v)} "/>
						<h:graphicImage rendered="#{v.typeId == 4 &amp;&amp; investments0100ListForm.isTypeBinary0100Above(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Bought_above.png" style="border:none; " width="12px" height="7px"/>
	               	   	<h:graphicImage rendered="#{v.typeId == 4 &amp;&amp; investments0100ListForm.isTypeBinary0100Below(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Bought_below.png" style="border:none; " width="12px" height="7px"/>
	               	   	<h:graphicImage rendered="#{v.typeId == 5 &amp;&amp; investments0100ListForm.isTypeBinary0100Above(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Sold_above.png" style="border:none; " width="12px" height="7px"/>
	               	   	<h:graphicImage rendered="#{v.typeId == 5 &amp;&amp; investments0100ListForm.isTypeBinary0100Below(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Sold_below.png" style="border:none; " width="12px" height="7px"/>
		            	<h:outputText value=" #{investments0100ListForm.getTimeCreatedTxtByFormat(v, '(HH:mm)')}"/>
					</h:column>
					<!-- closing price -->
					<t:column rendered="#{investments0100ListForm.isSettled==1}">
						<f:facet name="header" >
					    	<h:outputText value="#{msgs['binary0100.downTable.closing.price']}" />
						</f:facet>
						<h:outputText rendered="#{investments0100ListForm.isSettledBeforTime(v)}" value="#{investments0100ListForm.getClosingLevel0100(v)} " />
						<h:graphicImage rendered="#{investments0100ListForm.isSettledBeforTime(v) &amp;&amp; v.typeId == 4 &amp;&amp; investments0100ListForm.isTypeBinary0100Above(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Sold_above.png" style="border:none; " width="12px" height="7px"/>
	               	   	<h:graphicImage rendered="#{investments0100ListForm.isSettledBeforTime(v) &amp;&amp; v.typeId == 4 &amp;&amp; investments0100ListForm.isTypeBinary0100Below(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Sold_below.png" style="border:none; " width="12px" height="7px"/>
	               	   	<h:graphicImage rendered="#{investments0100ListForm.isSettledBeforTime(v) &amp;&amp; v.typeId == 5 &amp;&amp; investments0100ListForm.isTypeBinary0100Above(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Bought_above.png" style="border:none; " width="12px" height="7px"/>
	               	   	<h:graphicImage rendered="#{investments0100ListForm.isSettledBeforTime(v) &amp;&amp; v.typeId == 5 &amp;&amp; investments0100ListForm.isTypeBinary0100Below(v)}" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/binary0100/iconHistory_Bought_below.png" style="border:none; " width="12px" height="7px"/>
						<h:outputText rendered="#{investments0100ListForm.isSettledBeforTime(v)}" value=" #{investments0100ListForm.getTimeSettledTxtByFormat(v, '(HH:mm)')}" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &gt; 0}" value="100" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &gt; 0}" value=" #{investments0100ListForm.getTimeEstClosingTxtByFormat(v, '(HH:mm)')}" style="padding-left: 0px;" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &lt; 0}" value="0" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 4)  &amp;&amp; (v.win - v.lose) &lt; 0}" value=" #{investments0100ListForm.getTimeEstClosingTxtByFormat(v, '(HH:mm)')}" style="padding-left: 0px;" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &gt; 0}" value="100" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &gt; 0}" value=" #{investments0100ListForm.getTimeEstClosingTxtByFormat(v, '(HH:mm)')}" style="padding-left: 0px;" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &lt; 0}" value="0" />
						<h:outputText rendered="#{!investments0100ListForm.isSettledBeforTime(v) &amp;&amp; (v.typeId == 5)  &amp;&amp; (v.win - v.lose) &lt; 0}" value=" #{investments0100ListForm.getTimeEstClosingTxtByFormat(v, '(HH:mm)')}" style="padding-left: 0px;" />
						
					</t:column>
					<!-- No. contracts -->
					<t:column rendered="#{investments0100ListForm.isSettled==0}">
						<f:facet name="header" >
							 <h:outputText value="#" />
						</f:facet>
						<h:outputText value="#{v.investmentsCount}" />
					</t:column>
					<!-- Amount -->
					<t:column rendered="#{investments0100ListForm.isSettled==1}">
						<f:facet name="header" >
							<h:outputText value="#{msgs['golden.header.amount']}" />
							<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
								<div class="icon_set_1 icon_set_1_info icon_set_1_info_centered">
									<div class="info_amount">
										<h:outputText value="#{msgs['CMS.investments_content.text.amount_info']}" escape='false'/>
									</div>
								</div>
							</h:panelGroup>
						</f:facet>
						<span data-invid="#{v.id}" class="_settledAmount blue-text cP">
							<h:outputText value="#{investments0100ListForm.getInvestmentsAmount(v)}" rendered="#{applicationData.realCurrencyId != 6}" />
						</span>
						<h:outputText value="#{investments0100ListForm.getInvestmentsAmountExcludDecimal(v)}" rendered="#{applicationData.realCurrencyId == 6}" />
						<!-- commission-->
						<span class="icon_set_2 icon_set_2_commisstion">
							<span class="b0100_history_arrow_info">
								<h:outputFormat value="#{msgs['CMS.binary0100_content.text.amount_includes_commission']}" escape='false'>
									<f:param value="#{investments0100ListForm.getTotalFeeTxt(v)}" />
								</h:outputFormat>
							</span>
						</span>
					</t:column>
					<!-- max risk -->
					<t:column rendered="#{investments0100ListForm.isSettled==0}">
						<f:facet name="header" >
					    	<h:outputText value="#{msgs['binary0100.downTable.max.risk']}" />
						</f:facet>
						<h:outputText value="#{investments0100ListForm.getAmountMaxRiskTxt(v)}" class="bold_text" rendered="#{applicationData.realCurrencyId != 6}"/>
						<h:outputText value="#{investments0100ListForm.getAmountMaxRiskTxtExcludDecimal(v)}" class="bold_text" rendered="#{applicationData.realCurrencyId == 6}"/>
						<!-- commission-->
						<span class="icon_set_2 icon_set_2_commisstion">
							<span class="b0100_history_arrow_info">
								<h:outputFormat value="#{msgs['CMS.binary0100_content.text.commission_paid']}" escape='false'>
									<f:param value="#{investments0100ListForm.getTotalFeeTxt(v)}" />
								</h:outputFormat>
							</span>
						</span>
					</t:column>
					<!-- max profit -->
					<t:column rendered="#{investments0100ListForm.isSettled==0}">
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['binary.0-100.glossary.MaxProfit.subject']}" />
						</f:facet>
						<h:outputText value="#{investments0100ListForm.getMaxProfitTxt(v)}" class="bold_text" rendered="#{applicationData.realCurrencyId != 6}"/>
						<h:outputText value="#{investments0100ListForm.getMaxProfitTxtExcludDecimal(v)}" class="bold_text" rendered="#{applicationData.realCurrencyId == 6}"/>
					</t:column>
					<!-- return -->
					<t:column rendered="#{investments0100ListForm.isSettled==1}">
						<f:facet name="header" >
					    	 <h:outputText value="#{msgs['investments.refund']}" />
					    	 <h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
								<div class="icon_set_1 icon_set_1_info icon_set_1_info_centered">
									<div class="info_amount info_return_amount">
										<h:outputText value="#{msgs['CMS.investments0100.text.return_amount_info']}" escape='false'/>
									</div>
								</div>
							</h:panelGroup>
						</f:facet>
						<span data-invid="#{v.id}" class="_settledBonus bold_text blue-text cP">
							<h:outputText value="#{investments0100ListForm.getAmountReturnTxt(v)}" rendered="#{applicationData.realCurrencyId != 6}" />
						</span>
		            	<h:outputText value="#{investments0100ListForm.getAmountReturnTxtExcludDecimal(v)}" class="bold_text" rendered="#{applicationData.realCurrencyId == 6}" />
					</t:column>
					<!-- link -->
					<t:column rendered="#{investments0100ListForm.isSettled==0}">
						<f:facet name="header" >
					    	 <h:outputText value="&#160;" />
						</f:facet>
						<span class="b0100_history_arrow" onclick="top.b0100_history_flash_select(#{v.marketId},#{v.opportunityId})"><span class="b0100_history_arrow_info">
							 <h:outputText value="#{msgs['CMS.investments0100.text.t1']}" escape="false"/>
						</span></span>
					</t:column>
	    		</t:dataTable>
			</h:panelGrid>
        <div style="position:relative; margin-top: 10px;">
	        <h:commandLink onclick="window.open('single_pages/investments_print.jsf?isBinary=1&amp;isSettled=#{investments0100ListForm.isSettled}&amp;from=#{investments0100ListForm.from.time}', 'receiptpopup', 'menubar=1,resizable=1,width=726,height=600');"
				rendered="#{investmentsList.size > 0}"
				value="" class="print_investments print_investments_0100">
            </h:commandLink> 
	        <t:dataScroller id="scroll_1"
	        	for="data"
	        	fastStep="10"
		        pageCountVar="pageCount"
		        pageIndexVar="pageIndex"
		        styleClass="scroller_0100"
		        paginatorActiveColumnClass="paginator_active_0100"
		        paginatorColumnClass="paginator_cols_0100"
		        paginatorTableClass="paginator_0100"
		        paginatorRenderLinkForActive="false"
		        paginator="true"
		        paginatorMaxPages="9"
		        immediate="true"
		        rendered="#{investmentsList.size>10}"
		        style="margin: 0 auto;"
		        >
	              <ui:include src="/jsp/html_elements/scroller_facets.xhtml"/>
	        </t:dataScroller>
        </div>

   	    <iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0" scrolling="No"></iframe>

		<h:panelGroup rendered="#{investments0100ListForm.lastShowOff != null}">
			<script language="JavaScript">
				var e1 = document.getElementById('investments0100ListForm:lastShowOff');
				if (e1 != null) {
					var e2 = document.getElementById('after_' + e1.value);
					if (e2 != null) {
						e2.onmouseover();
					}
				}
			</script>
		</h:panelGroup>
  	</h:form>
</div>
	<div id="caldiv1" style="position:absolute;visibility:hidden;background-color:white;z-index:1;margin-left:170px;" ></div>
	<script>
		<!--
			var investments0100ListFormExpiryHour = document.getElementById('investments0100ListForm:selectedExpiryHour');
			var investments0100ListFormDate = document.getElementById('investments0100ListForm:date');
			function changeDisplay(investmentOpenClose) {
				//value = 0: open; value = 1: settled;
				if (investmentOpenClose.value == 0) {
					investments0100ListFormExpiryHour.disabled = "disabled";
					//investments0100ListFormDate.disabled = "disabled";
				} else if (investmentOpenClose.value == 1) {
					investments0100ListFormExpiryHour.disabled = "";
					//investments0100ListFormDate.disabled = "";
				}
			}
			$(document).ready(function() {
				var investmentOpenClose = document.getElementById('investments0100ListForm:investmentOpenClose:0')	//open
				if (investmentOpenClose.checked == true) {
					investments0100ListFormExpiryHour.disabled = "disabled";
					//investments0100ListFormDate.disabled = "disabled";
				}
			});

			function refreshIframe(marketId) {
				var marketIdInput = document.getElementById("investments0100ListForm:marketId");
				marketIdInput.value = marketId;
				myfaces.oam.submitForm('investments0100ListForm','investments0100ListForm:hiddenbtn');
			}

			$(document).ready(function() {
				var iframe = window.parent.document.getElementById('investments0100History');
			    var rowCount = #{investmentsList.size};
			    if (rowCount > 0 && rowCount < 10) {
			    	iframe.style.height = 190 + rowCount * 18 + 'px';
			    } else if (rowCount >= 10) {
			    	iframe.style.height = 380 + 'px';
			    }
			    else if (rowCount == 0 ) {
			    	iframe.style.height = 205 + 'px';
			    }
			});
			function submitHistory() {
				myfaces.oam.submitForm('investments0100ListForm','investments0100ListForm:hiddenbtn');
			}

			function startHistoryOffHours() {
				document.getElementById("investments0100ListForm:isOffHours0100").value = true;
				myfaces.oam.submitForm('investments0100ListForm','investments0100ListForm:hiddenbtn');
			}
			-->
	</script>
</body>
</f:view>
</html>
