
<html dir="rtl"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<HEAD>
	<title></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
</HEAD>

<BODY dir="#{applicationData.pageDirection}">

<f:view locale="#{applicationData.userLocale}">


<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="400" HEIGHT="444">
<tr align="center">
	<td align="center">
	  <h:outputText styleClass="info_pages_text_header" value="#{msgs['please.wait']}"/>
	</td>
</tr>
</TABLE>
</f:view>
</BODY>
</html>