<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.png" type="image/png"/>

	<title>#{msgs['mobile.appContact.window.title']}</title>
    <META NAME="description" content="#{msgs['mobile.appContact.description']}"/>
    <META NAME="keywords" content="#{msgs['mobile.appContact.keywords']}"/>

	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css?version=cvsTimeStamp" type="text/css" />
</head>

<ui:define name="windowtitle">
</ui:define>
<ui:define name="pageTitle">
</ui:define>
<ui:define name="content">

<script>
<!--
	function AJAXInteraction(url, callback) {

    	var req = init();
	    req.onreadystatechange = processRequest;

	    function init() {
    		if (window.XMLHttpRequest) {
	        	return new XMLHttpRequest();
	        } else if (window.ActiveXObject) {
	        	return new ActiveXObject("Microsoft.XMLHTTP");
	        }
	    }

	    function processRequest () {
	      // readyState of 4 signifies request is complete
	      if (req.readyState == 4) {
		// status of 200 signifies sucessful HTTP call
	        if (req.status == 200) {
	          if (callback) callback(req.responseXML);
	        }
	      }
	    }

	    this.doGet = function() {
	      // make a HTTP GET request to the URL asynchronously
	      req.open("GET", url, true);
	      req.send(null);
    	}
	}


	/*
	   Change the phone and fax numbers by the value of the country
	*/
	function changePhoneAndFaxByCountry() {
	    var countryId = document.getElementById("contactForm:countriesList").value;
	    var url = "ajax.jsf?countryIdForSupport=" + countryId;
	    var ajax = new AJAXInteraction(url, changePhoneAndFaxByCountryCallback);
	    ajax.doGet();
	}

	/*
		callBack function for changePhoneAndFaxByCountry()
	*/
	function changePhoneAndFaxByCountryCallback(responseXML) {

	   var msg = responseXML.getElementsByTagName("SupportPhoneFax")[0].firstChild.nodeValue;
	   var splitMsg = msg.split(",");
	   //alert(msg[0]);
   	   //alert(msg[1]);
   	   var phoneElm = document.getElementById("phone");
   	   var faxElm = document.getElementById("fax");
   	   var mobile = document.getElementById("contactForm:mobilePhone");
       phoneElm.innerHTML = splitMsg[0];
       faxElm.innerHTML = splitMsg[1];
       if (splitMsg.length >2 && mobile !=null){
       //		alert("1");
	       mobile.value = splitMsg[2];
	   }
	}
	 -->
</script>

<f:view locale="#{applicationData.userLocale}">


<body>
	<table cellpadding="0" cellspacing="0" width="100%" align="center">
		<tr align="center">
			<td align="center">
				<ui:include src="/mobile/appContactUsContent.xhtml"></ui:include>
			</td>
		</tr>
	</table>
</body>
</f:view>

<script>
	changePhoneAndFaxByCountry();
</script>
</ui:define>
</html>
