<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css?version=cvsTimeStamp" type="text/css" />

	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >

	<div class="height_32_px line_height_32_px" style="width:100%;" align="center" valign="middle">
		<b><h:outputText escape="false" styleClass="pages_text" value="#{msgs['header.loggedin.balance']}: " /></b><h:outputText styleClass="pages_text" value="#{user.balanceTxt}" dir="ltr"/>
	</div>

</f:view>
</body>
</html>