<f:view dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<div class="ttab">
		<div id="con">
			<ul id="tags">
			  <li class="selectTag"><a href="javascript:void(0)" onclick="selectTag('tagContent0',this)">关于AO(安盛)集团</a> </li>
			  <li style="width:130px;"><a href="javascript:void(0)" onclick="selectTag('tagContent1',this)">关于二元期权</a> </li>
			</ul>
			<div id="tagContent">
				<div id="tagContent0" class="tagContent selectTag" style="text-decoration:none;height:121px">
					<font face="Verdana">168期权</font>
					是全球最大的二元期权交易平台，可供世界各地的私人和金融机构投资者使用。我们的期权交易平台是100 ％基于互联网的，并且不需要下载软件或任何先前交易经验。
					<font face="Verdana">168期权</font> 定价和执行模式为网上交易市场设立了新的标准：界面语言明了且简单易用，我们提供上百种金融产品供您投资选择。我们使用最先进，最稳定的技术，以确保您的安全，保证您满意。24小时存取款，专业信托机构保障，资金100%安全。
						<a href="#{facesContext.externalContext.requestContextPath}/jsp/aboutus.jsf">
							<font class="f2.2">点击了解更多详情！</font></a>
				</div>
			</div>
			<div id="tagContent1" class="tagContent" style="height:121px">二元期权（Binary Options），又称为数字期权或固定回报期权 - 近年来越来越受欢迎，尤其是在金融市场不稳定的情况下，其需求量相当大。它的主要优势在于期权到期时只有两种可能结果, 即基于某种资产在规定时间内（例如未来的一小时）收盘价格是低于还是高于执行价格的结果，决定是否获得收益。因此，即便是在市场清淡时期，二元期权也会给投资者带来显著的投资收益。二元期权的主要优势是投资者不用研究市场的细节以期获得的价格移动的范围，他只需知道价格移动的方向。因为交易者有能力基于价格方向决定所投资的标的资产类型，期满时间和期权类型（看涨或看跌），交易二元期权显得十分灵活。</div>
		</div>
	</div>

	<script type="text/javascript">
		function selectTag(showContent,selfObj) {
			// 操作标签
			var tag = document.getElementById("tags").getElementsByTagName("li");
			var taglength = tag.length;
			for(i=0; i&lt;taglength; i++) {
				tag[i].className = "";
			}
			selfObj.parentNode.className = "selectTag";
			// 操作内容
			for(i=0; j=document.getElementById("tagContent"+i); i++) {
				j.style.display = "none";
			}
			document.getElementById(showContent).style.display = "block";
		}
	</script>
</f:view>