<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
       >
       
       
    	<!--TODO outside <div id="containerIn_right_nd">-->	
    	  	
	<div id="box_BeginnersGuide_nd">
        <div class="right_content_title">
            <h:outputText value="#{msgs['home.page.beginners.guide']}" escape="false"/>
        </div>
        
        <div class="ct_img_nd">
	        <h:outputLink value="#" target="_top" id="readmore_box_beginnersGuide" style="text-decoration: none;" border="0">
	            <h:graphicImage url="#{applicationData.imagesPath}/img_hpPDF.png" alt="" id="beginnersGuide_image" border="0" /> 
	        </h:outputLink>
	    </div>
        <br/><br/>
        <div class="text_nd"> 
        	<h:outputLink value="#" target="_top" id="readmore_box_beginnersGuide2" style="text-decoration: none;" border="0">           
            	<h:outputText value="#{msgs['home.page.beginners.guide.content']}" escape="false"/>    
            </h:outputLink>        
        </div>
    </div>
    
</f:view>