<html
		xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
<head>
<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js"></script>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<style>
.general_text {
	color: #ffffff;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.banner {
	width: 184px;
	height: 407px;
	cellpadding: 0;
	cellspacing: 0;
	align: center;
}

.banner_border {
	border: 1px solid black;
}

</style>
<f:view locale="#{applicationData.userLocale}">

<body dir="#{applicationData.pageDirection}" style="background:transparent;">

<script>
	function getUrlLower(){
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
	}
</script>

<table class="banner" width="186px" height="800px" cellpadding="0" cellspacing="0" border="0">

	<tr>
		<td width="186px" height="300px" valign="top">
 			<div class="clear">
 				<ui:include src="/jsp/bitcoin_banner.xhtml"></ui:include>
 			</div>
 		</td>
	</tr>
</table>
</body>
</f:view>
</html>