<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
<title>168期权</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles_bitcoin.css" />
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" class="banner_bitcoin" >
  <tbody>
    <tr>
      <td valign="top">
	      <h1>
	      	<h:outputText value="#{msgs['CMS.bitcoin-options.text.banner.line1']}"/>
	      </h1>
          <p>
          	<h:outputText value="#{msgs['CMS.bitcoin-options.text.banner.line2']}"/>
          </p>
          <p class="list"><span>»&#160;</span><h:outputText value="#{msgs['CMS.bitcoin-options.text.banner.line3']}"/></p>
          <p class="list"><span>»&#160;</span><h:outputText value="#{msgs['CMS.bitcoin-options.text.banner.line4']}"/></p>
          <p class="list"><span>»&#160;</span><h:outputText value="#{msgs['CMS.bitcoin-options.text.banner.line5']}"/></p>
     </td>
    </tr>
  </tbody>
</table>
</body>
</html>
