<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />

<script>
	document.domain = "#{applicationData.domainUrl}";
</script>

</head>

<body dir="#{applicationData.pageDirection}">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<f:view locale="#{applicationData.userLocale}">


<h:form id="contactMeForm">
	<table width="186" height="198" border="0" cellspacing="0" cellpadding="0" class="table_border" align="center" >
	<tr><td width="186" height="30"></td></tr>
      <tr align="center">
		<td>
			<strong>
			<h:panelGroup rendered="#{(applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId == 192 || applicationData.realCountryId == 0 ) || applicationData.skinId != 5}">
				<h:outputText styleClass="contactme_succ_header" value="#{msgs['contactme.thankyou']}"/>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId != 192 &amp;&amp; applicationData.realCountryId != 0}">
				<h:outputText styleClass="contactme_succ_header_notSpain" value="Recibimos su solicitud."/>
			</h:panelGroup>
			</strong>
		</td>
	</tr>
	<tr align="center" valign="top">
		<h:panelGroup rendered="#{(applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId == 192 || applicationData.realCountryId == 0 ) || applicationData.skinId != 5}">
			<td>
				<h:outputText styleClass="contactme_succ_body" value="#{msgs['contactme.body.row1']}"/>
				<br/>
				<h:outputText styleClass="contactme_succ_body" value="#{msgs['contactme.body.row2']}"/>
			</td>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 5 &amp;&amp; applicationData.realCountryId != 192 &amp;&amp; applicationData.realCountryId != 0}">
			<td align="left">
				<span class="contactme_succ_body" style="text-align:left;">
					Debido a una alta demanda por<br/>el servicio,
					podrםamos retrasarnos<br/>un poco en la respuesta,
					favor<br/>disculpar la inconveniencia,
					Gracias<br/>por su interיs en 168期权
				</span>
			</td>
		</h:panelGroup>
	</tr>
	<tr><td width="186" height="30"></td></tr>
</table>
</h:form>
</f:view>

<br/>

<h:outputText value="#{contactMeForm.contactMePixel}" escape="false" />

<c:if test="${applicationData.isLive}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</html>
