<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<body>
<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
	<ui:define name="metaDescription">
		<c:set var="metaDesc" value="#{msgs['CMS.contactus.metadata.description']}" />
	</ui:define>
	<ui:define name="selected">
		<c:set var="selected" value="contactus" />
	</ui:define>
	<ui:define name="windowtitle">
	<h:outputText value="#{msgs['CMS.contactus.metadata.jsf.title']}"/>
	</ui:define>
	<ui:define name="title">#{msgs['CMS.contactus.text.rightnav.contact']}</ui:define>
	<ui:define name="title_message">
		<h1><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['CMS.contactus.text.rightnav.contact.message']}"/></h1>
	</ui:define>
	<ui:define name="footerMsg">
	<h:outputText value="#{msgs['contactus.jsf.title']}"/>
	</ui:define>
	<ui:define name="topBannerChange">
		<c:set var="topBanner" value="contactBanner"></c:set>
	</ui:define>
	<ui:define name="contactBannerChange">
		<c:set var="contactBanner" value="none"></c:set>
	</ui:define>
	<ui:define name="showStaticLivePersonButton"><!-- CHINESE SKIN SHOW STATIC BUTTON -->
		<c:set var="showLPStaticButton" value="true"></c:set>
	</ui:define>
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" />
	</ui:define>
	<ui:define name="content">
		<iframe id="contactuscontent" name="contactuscontent" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/contactus_content.jsf?refresh=true" width="100%" height="700px" scrolling="no" ></iframe>
	</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>