<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">


	 <ui:include src="/jsp/emailAuthContent.xhtml">
	 	<ui:param name="TitleH" value="#{msgs['email.auth.activation.title.header']}" />
	 	<ui:param name="type" value="activation" />
	 </ui:include>

</f:view>