
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['error.pageIL.title']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size"><h:outputText value="#{msgs['header.openaccount.message']}"/></h1>
</ui:define>


<ui:define name="content">

	<br/><br/><br/><br/>
	<t:panelGroup align="center" >
	<center>
   			<h:outputText rendered="#{facesContext.externalContext.requestParameterMap['net'] != 'true'}" escape="false" styleClass="error_messages_10px" value="#{msgs['error.register.forbidden']}"/>
   			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['net'] == 'true'}">
	   			<h:outputText escape="false" styleClass="error_messages_10px" value="#{msgs['error.register.netrefer.forbidden1']}"/>
	   			<h:outputText value=" "/>
				<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" class="error_messages" >
				<h:outputText value="#{msgs['error.register.netrefer.forbidden2']}" /></A>
				<h:outputText value=" "/>
				<h:outputText escape="false" styleClass="error_messages_10px" value="#{msgs['error.register.netrefer.forbidden3']}"/>
			</h:panelGroup>
	</center>
     </t:panelGroup>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</html>