<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_onetouch.xhtml">
<ui:define name="selected">
	<c:set var="selectedTd" value="facebook" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.facebook-options.metadata.facebook.windowTitle']}"/>
</ui:define>
<ui:define name="title"><h:outputText value="#{msgs['CMS.facebook-options.text.facebook.header']}" style="text-transform:uppercase;text-size:11px;font-weight:bold;"/></ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['CMS.facebook-options.text.facebook.title']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['CMS.facebook-options.metadata.facebook.windowTitle']}"/>
</ui:define>
 <ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.facebook-options.metadata.facebook.description']}" />
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['CMS.facebook-options.metadata.facebook.keywords']}" />
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/facebook-options.jsf')}" />
</ui:define>
<ui:define name="content">
<script>
function calculateReturn(obj,optionId){
	var price = parseInt(#{slipForm1T.oneTouchUnitPriceAO});
	var odds = parseFloat(document.getElementById("odds_win_"+optionId).value);
	var newReturn = parseInt(obj.value)*price*odds +price*parseInt(obj.value);
	var newPrice = parseInt(obj.value)*price;
	if(obj.value &lt; 0){
		newReturn = price*odds + price;
		newPrice = price;
	}
	document.getElementById("return_"+optionId).innerHTML='  '+ newReturn + '  ';
	document.getElementById("price_"+optionId).innerHTML='  '+newPrice+'  ';
	//if((document.getElementById('loginErrorTR_'+optionId).style.display!='none') &amp;&amp; (obj.value &gt; 0))
	//	document.getElementById('loginErrorTR_'+optionId).style.display='none';

}
function showSlip(srcObj,optionId){
		submitOneTouchFromServerSlip(optionId);
}
function submitOneTouchFromServerSlip(optionId){

	document.getElementById("oneTouchAO:optionId").value=optionId;
	document.getElementById("oneTouchAO:odds_win").value=document.getElementById("odds_win_"+optionId).value;
	document.getElementById("oneTouchAO:odds_lose").value=document.getElementById("odds_lose_"+optionId).value;
	document.getElementById("oneTouchAO:pageLvl").value=document.getElementById("pageLvl_"+optionId).value;
	document.getElementById("oneTouchAO:units").value=document.getElementById("select_"+optionId).value;
	document.getElementById("oneTouchAO:utcOffset").value=new Date().getTimezoneOffset();
	myfaces.oam.submitForm('oneTouchAO','oneTouchAO:hiddenSubmit');
//	document.getElementById("oneTouchForm").submit();

}

function errorInSlipNotLogin(optionId){
	document.getElementById("loginErrorTR_"+optionId).style.display="table-row";
}
function closeReceipt(){
	document.getElementById("oneTouchAO:closeReceipt").value="1";
}
function setSelected(){

 if(#{slipForm1T.returningOppId} != 0 &amp;&amp; document.getElementById("select_"+#{slipForm1T.returningOppId})!=null){
	if(#{slipForm1T.oneTouchAOunits} &gt; 0){
	 	document.getElementById("select_"+#{slipForm1T.returningOppId}).selectedIndex=#{slipForm1T.oneTouchAOunits};
	 	document.getElementById("price_"+#{slipForm1T.returningOppId}).innerHTML = '&#160;&#160;' + #{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits} + '&#160;&#160;';
	 	var odds = parseFloat(document.getElementById("odds_win_"+#{slipForm1T.returningOppId}).value);
	 	document.getElementById("return_"+#{slipForm1T.returningOppId}).innerHTML = #{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits} + odds*#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits};
	}
	else
		document.getElementById("select_"+#{slipForm1T.returningOppId}).selectedIndex=0;
 }
}
</script>

<body onload="setSelected()">
#{slipForm1T.getUpdateMarketId(620)}
<TABLE cellpadding="0" cellspacing="0" width="720" border="0" align="#{applicationData.pageAlignmentReverse}">
 <tr>
  <td>
  	<h:panelGroup rendered="#{slipForm1T.oneTouchListSize == 0 &amp;&amp; !slipForm1T.hasOneTouchFacebookPlus}">
  		<a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}">
  		<ui:include src="/jsp/#{applicationData.userLocale.language}/1t_facebook_offhours.xhtml"></ui:include>
  		<!-- <img border="0" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/1t_offhours.gif" /> -->
  		</a>
  	</h:panelGroup>

  	<h:panelGroup rendered="#{slipForm1T.oneTouchListSize == 0 &amp;&amp; slipForm1T.hasOneTouchFacebookPlus}">
  		<script>
      		window.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}?marketId=623";
     	 </script>
  	</h:panelGroup>

    <h:panelGroup rendered="#{slipForm1T.oneTouchListSize != 0}">
		<table width="720" border="0" cellspacing="0" cellpadding="3" align="center"  class="table1Touch">
		  <tr class="headerTxt">
		        <td width="56">&#160;</td>
		        <td width="165"  align="#{applicationData.pageAlignmentReverse}"><h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.option']}"/></td>
		        <td width="15" >&#160;</td>
		        <td width="105" ><h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.profit']}"/></td>
		        <td width="62" ><h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.unit']}"/></td>
		        <td width="70" >
	        		<h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.price']}"/>
	        		<h:panelGroup>
	        			<h:outputText value="(#{applicationData.realCurrencySymbol})"/>
	        		</h:panelGroup>
		        	</td>
		        <td width="108" >
	        		<h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.return']}"/>
	        		<h:panelGroup>
	        			<h:outputText value="(#{applicationData.realCurrencySymbol})"/>
	        		</h:panelGroup>
		        	</td>
		        <td width="67">&#160;</td>
		        <td width="33">&#160;</td>
		  </tr>
		  <t:dataList value="#{slipForm1T.oneTouchList}" var="item" rowIndexVar="crrEntry" layout="simple" rendered="#{slipForm1T.oneTouchListSize > 0}">
		  <tr valign="middle" bgcolor="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id? '#d5eaf8':'#eeeeee'}" id="tr_#{item.id}" height="25px" >
		        <td>
			        	<strong>
				        	<h:outputText value="#{slipForm1T.oneTouchAOInvId}" class="optionClass" rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}"/>
			        	</strong>
		        </td>
		        <td align="#{applicationData.pageAlignmentReverse}">
		        	<table cellpadding="0" cellspacing="0">
		        	<tr>
		        		<td >
			        		<h:outputText styleClass="optionClass" value="#{item.market.displayName}"/>&#160;<h:outputText rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}" value="#{item.oneTouchCurrentLevel}" styleClass="optionClass"/><h:outputText rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}" value="#{slipForm1T.lastInvCurrentLevel}" styleClass="optionClass"/>
		        		</td>
		        		<td>
			        </td>
		        	</tr>
		        	</table>
		        </td>
		        <td>
		        <h:panelGroup rendered="#{item.isOneTouchUp}">
					        	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up_blink.gif" alt="#{msgs['CMS.facebook-options.alt.up_blink.gif']}" />
				        	</h:panelGroup>
				        	<h:panelGroup rendered="#{!item.isOneTouchUp}">
						        <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down_blink.gif" alt="#{msgs['CMS.facebook-options.alt.down_blink.gif']}" />
					        </h:panelGroup>
		        </td>
		        <td align="center">
		        	<strong>
		        		<h:outputText rendered="#{applicationData.rtlAlign || applicationData.skinId==3 }"  value="%#{item.overOddsWinFormatAO}"/>
		        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; applicationData.skinId!=3}" value="#{item.overOddsWinFormatAO}%"/>
		        	</strong>
		        </td>
		        <td align="center">
		        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}">
			        <select id="select_#{item.id}" style="width:#{applicationData.skinId==8 || applicationData.skinId==9?'80px':'60px' }" onchange="calculateReturn(this,'#{item.id}')" class="units_select">
				        <t:dataList value="#{slipForm1T.unitsSelect}" var="selectItem" layout="simple">
				        	<h:panelGroup rendered="#{selectItem.value==slipForm1T.oneTouchAOunits}">
				        	<option value="#{selectItem.value}"  SELECTED="1">#{selectItem.label}</option>
				        	</h:panelGroup>
				        	<h:panelGroup rendered="#{selectItem.value!=slipForm1T.oneTouchAOunits}">
				        	<option value="#{selectItem.value}" >#{selectItem.label}</option>
				        	</h:panelGroup>>
				        </t:dataList>
			        </select>
		        </h:panelGroup>
		        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}">
		        	<h:outputText value="#{slipForm1T.lastInvUnits}" />
	        	</h:panelGroup>
		        </td>
		        <td align="center">
		        	<strong>
			        	<h:panelGroup>
		        			<h:outputText rendered="#{!applicationData.rtlAlign}" value="#{applicationData.realCurrencySymbol}"/>
		        		</h:panelGroup>
		        		<span id="price_#{item.id}" style="#{applicationData.rtlAlign ? 'font-size:12px':''}">
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits==0}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>

			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits==0}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
		        		</span>
		        		<h:panelGroup>
		        			<h:outputText rendered="#{applicationData.skinId==4}" value="#{applicationData.realCurrencySymbol}"/>
		        		</h:panelGroup>
		        	</strong>
		        </td>
		        <td align="center" style="#{applicationData.skinId==4?'font-size:12px':''}" >
			        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}">
			        	<strong>
			        		<h:panelGroup rendered="#{applicationData.skinId!=4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>
			        		<span id="return_#{item.id}">
			        		<script>
								var price = parseInt(#{slipForm1T.requestAmountAO});
								var odds = parseFloat(#{item.oddsType.overOddsWin});
								var newReturn = price + (price * odds);
			        			document.write(newReturn);
					        </script>
					        </span>
			        		<h:panelGroup rendered="#{applicationData.skinId==4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>
			        	</strong>
		        	</h:panelGroup>
		        	<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}">
		        		<strong>

			        		<h:panelGroup rendered="#{applicationData.skinId!=4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>
			        		<span id="return_#{item.id}">
			        		<script>
								var price = parseInt(#{slipForm1T.oneTouchUnitPriceAO});
								var unit = parseInt(#{slipForm1T.oneTouchAOunits});
								price = unit * price;
								var odds = parseFloat(#{item.oddsType.overOddsWin});
								var newReturn = price + (price * odds);
			        			document.write(newReturn);
							</script>
		        			</span>
							<h:panelGroup rendered="#{applicationData.skinId==4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>

		        		</strong>
		        	</h:panelGroup>
		        </td>
		        <td align="left">
			        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId == 0 || slipForm1T.returningOppId!=item.id}">
			        	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png" alt="#{msgs['CMS.facebook-options.alt.buy_b.png']}" width="53" height="17"
			        	 id="submit_#{item.id}" style="cursor:pointer"
		        	 	 onmouseOver="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.png'"
	 	        	     onmouseOut="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png'"
		         		 onclick="gowait('submit_#{item.id}','','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif');
		         				 return submitOneTouchFromServerSlip('#{item.id}');"/>
	        		</h:panelGroup>
	        		<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId != 0 &amp;&amp; slipForm1T.returningOppId==item.id}">
	        			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printao_u.jpg" alt="#{msgs['CMS.facebook-options.alt.printao_u.jpg']}" width="53" height="17"
			        	 id="submit_#{item.id}" style="cursor:pointer"
		        	 	 onmouseOver="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printao_d.jpg'"
	 	        	     onmouseOut="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printao_u.jpg'"
		         		 onclick="printSuccessOneTouch('#{slipForm1T.oneTouchAOInvId}','#{item.oneTouchUpDown}');"/>
	        		</h:panelGroup>
		        </td>
		        <td height="25px" align="center">
		        	<h:form id="updateOneTouchList" >
			        	<h:commandLink action="#{slipForm1T.updateOneTouchListAO}" styleClass="optionClass"
			        	rendered="#{slipForm1T.oneTouchAOInvId != 0 &amp;&amp; slipForm1T.returningOppId==item.id}"
						id="hiddenSubmit"><strong>X</strong></h:commandLink>
					</h:form>
		        </td>
		  </tr>


		  <tr height="5" valign="top" class="subtext">
		      <h:panelGroup rendered="#{item.isOneTouchUp}">
		        <td colspan="9">
		        	<h:panelGroup rendered="#{applicationData.skinId!=3 &amp;&amp; applicationData.skinId!=4 &amp;&amp; applicationData.skinId!=8}"> <!-- for all skins except TR and AR and DE -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2.up']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==3}"> <!-- in TR skin the order of words is different -->
		        		&#160;#{item.market.displayName}&#160;
		        		'<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
		        		&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2']}"/>&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3.up']}"/>
		        	</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId==4}"> <!-- for AR -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;
			        	<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;
			        	<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2.up']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==8}"> <!-- for DE -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>&#160;#{item.market.displayName}
		        		&#160;#{item.oneTouchCurrentLevel}
			            &#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>
						&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2.up']}"/>
		        	</h:panelGroup>
		       </td>
		      </h:panelGroup>
		      <h:panelGroup rendered="#{!item.isOneTouchUp}">
		        <td colspan="9">
		        	<h:panelGroup rendered="#{applicationData.skinId!=3 &amp;&amp; applicationData.skinId!=4 &amp;&amp; applicationData.skinId!=8}"> <!-- for all skins except TR and AR and DE -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2.down']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==3}"> <!-- in TR skin the order of words is different -->

		        		&#160;#{item.market.displayName}&#160;
		        		'<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
		        		&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>
		        		&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2']}"/>
		        		&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3.down']}"/>
		        	</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId==4}"> <!-- for AR -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;
			        	<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;
			        	<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2.down']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==8}"> <!-- for DE -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>&#160;#{item.market.displayName}
		        		&#160;#{item.oneTouchCurrentLevel}
			            &#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(item.timeEstClosing)}"/>
						&#160;<h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.marketMsg2.down']}"/>
		        	</h:panelGroup>
		       </td>
		      </h:panelGroup>
		  </tr>
		  <tr id="loginErrorTR_#{item.id}"  align="center">
		  	<td colspan="9">
			  	<FIELDSET style="width:290px"
			  	 class="#{commonUtil.hasMessages &amp;&amp; item.id==slipForm1T.returningOppId  ? 'loginErrorBorder':'doNotShow'}">
		  		<h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; item.id==slipForm1T.returningOppId}">
			  		<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages_10px"/>
		  		</h:panelGroup>
		  		<h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; item.id==slipForm1T.returningOppId &amp;&amp; slipForm1T.loginErrorFlag1TAO}">
		  		<table>
		  			<tr>
		  				<td>
		  					<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}" class="general_link_blue_10"><h:outputText value="#{msgs['CMS.facebook-options.text.error.investment.notLogin2']}" /></A>
		  				</td>
		  			</tr>
	  			</table>
		  		</h:panelGroup>
		  		</FIELDSET>
		  	</td>
		  </tr>
		  <tr style="display:none">
		  	<td>
			  <input id="odds_win_#{item.id}" type="hidden" value="#{item.oddsType.overOddsWin}"/>
			  <input id="odds_lose_#{item.id}" type="hidden" value="#{item.oddsType.overOddsLose}"/>
			  <input id="pageLvl_#{item.id}" type="hidden" value="#{item.currentLevel}"/>
		  	</td>
		  </tr>
		  </t:dataList>

		   <tr height="5" valign="top" class="subtext">
		        <td colspan="9" class="tm"><a class="general_link_10" href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf"><h:outputText value="#{msgs['CMS.facebook-options.text.onetouch.termsLink']}"/></a></td>
		  </tr>

		</table>
		<div style="display:none">
		<h:form id="oneTouchAO">
		<h:inputText id="optionId" value=""/>
		<h:inputText id="price" value="#{slipForm1T.oneTouchUnitPriceAO}"/>
		<h:inputText id="odds_win" value=""/>
		<h:inputText id="odds_lose" value=""/>
		<h:inputText id="pageLvl" value=""/>
		<h:inputText id="units" value=""/>
		<h:inputText id="utcOffset" value=""/>

		<h:commandLink action="#{slipForm1T.submitOneTouchFromSlipAO}"
				id="hiddenSubmit" style="display:none"/>
		</h:form>
		</div>
    </h:panelGroup>
   </td>
  </tr>
</TABLE>
</body>
</ui:define>
</ui:composition>
</html>