<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"></meta>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<body>
<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_without_banners.xhtml">
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.general_terms.text.generalterms.jsf.title']}"/>
	</ui:define>
	<ui:define name="title">
		<span class="title_size">#{msgs['CMS.general_terms.text.rightnav.generalterms']}</span>
	</ui:define>
	<ui:define name="title_message">
		<h1><span class="title_desc_size"><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['CMS.general_terms.text.rightnav.generalterms.message']}"/></span></h1>
	</ui:define>
	<ui:define name="footerMsg">
		<h:outputText value="#{msgs['CMS.general_terms.text.generalterms.jsf.title']}"/>
	</ui:define>
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}" />
	</ui:define>
	<ui:define name="content">
		 <ui:include src="/jsp/general_terms_content.xhtml">
			<ui:param name="showPrint" value="true" />
		 </ui:include>
	</ui:define>
</ui:composition>
</body>
</html>