<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<div class="howToTrade_holder">
		<a class="howToTrade_link fR" href="#{facesContext.externalContext.requestContextPath}/zh/binary-options-trading-demo">观看演示</a>
		<ul class="clear oH howToTrade_list">
			<li class="howToTrade_list_left">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/good_1.png" class="fL howToTrade_list_img" style="margin-top:25px;"/>
				<div class="fL howToTrade_list_div">
					<!--
					<h4 class="howToTrade_list_h4">欧盟金融市场法规（MiFD）认证平台</h4>
					168期权由“Ouroboros金融衍生品交易集团”运营，公司地址：42-44,Griva Digeni, Nisosia, Cyprus，从业执照编号：187/12
					-->
				</div>
			</li>
			<li>
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/good_2.png" class="fL howToTrade_list_img" style="margin-top:25px;"/>
				<div class="fL howToTrade_list_div" style="margin-top:22px;">
					<h4 class="howToTrade_list_h4">专业信托机构保障资金安全；<br />银联卡存取款，方便快捷！</h4>
				</div>
			</li>
			<li class="howToTrade_list_left">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/good_3.png" class="fL howToTrade_list_img" style="margin-top:13px;"/>
				<div class="fL howToTrade_list_div" style="margin-top:14px;">
					<h4 class="howToTrade_list_h4">中国平安保险， 中国太平洋保险，兴业银行，新浪，百度， 上证180等特色期权，高达71%利润，最低15%投资返还！</h4>
				</div>
			</li>
			<li>
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/good_4.png" class="fL howToTrade_list_img" style="margin-top:13px;"/>
				<div class="fL howToTrade_list_div" style="margin-top:21px;">
					<h4 class="howToTrade_list_h4">24/7小时电话客服，<br />实时在线中文客服</h4>
				</div>
			</li>
		</ul>
	</div>
</f:view>