<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk" >
<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_home_page_css.xhtml">
<ui:define name="head">
<script>
	var boxesOpportunities = new Array(1);
	boxesOpportunities[0] = new Array(0);
</script>
</ui:define>
<ui:define name="dbCheck">
	<t:inputHidden id="dbCheck" value="#{adminManager.testQuery}"/>
</ui:define>
<ui:define name="windowtitle">
	<h:outputText value="#{msgs['anyoption.title']}"/>
</ui:define>
<ui:define name="footerMsg">
	<span><h:outputText value="#{msgs['anyoption.title']}"/></span>
</ui:define>
<ui:define name="metaDescription">
	<META NAME="description" content="#{msgs['index.description']}"/>
</ui:define>
<ui:define name="message">
	<h:panelGroup rendered="#{!empty applicationData.messageHome}">
		<table cellspacing="3" cellpadding="0" border="0" width="954">
			<tr height="16">
				<td align="center" valign="middle">
					<h:outputText class="msg_from_db" value="#{applicationData.messageHome.text}" escape="false" />
				</td>
			</tr>
		</table>
	</h:panelGroup>
</ui:define>

<ui:define name="menu">
	<ui:include src="/jsp/templates/menu_strip_css.xhtml">
		<ui:param name="isHomePage" value="true" />
		<ui:param name="selectedTd" value="homePage" />
	</ui:include>
</ui:define>

<ui:define name="content">
	<div class="clear b_logo c_marg">
		<div class="fRight b_logo_t">
			<span class="b_l_h">Welcome to 168qiquan™</span>
			<div style="margin-top:18px;">
			We are the world’s leading binary options 
			trading platform. We enable you to make high 
			profits by trading options on over 60 popular 
			markets. We pay the highest return and 
			guarantee your account's safety.<br />
			It's quick and easy to start earning. 
			</div>
		</div>
		<div class="fRight btn_holder">
			<a href="#">
				<div class="fLeft p1 btn_l"></div>
				<div class="fLeft grad btn_c"><b>OPEN</b> ACCOUNT</div>
				<div class="fLeft p1 btn_r"></div>
			</a>
		</div>
	</div>
	<div class="clear m_container c_marg">
		<div class="fLeft t_options">
			<div class="clear grad op_head">How to trade binary options?</div>
			<div class="clear op_text1">
				<div class="fLeft op_num">1</div>
				<div class="fLeft op_t" style="margin-top:34px;"><b>Choose an asset and expiry time</b> for your binary option from the dropdown menu</div>
			</div>
			<div class="clear op_text2">
				<div class="fLeft op_num2">2</div>
				<div class="fLeft op_t" style="margin-top:14px;">
					<b>Select Call option</b> if you think that the price will be above the current level at the expiry time <br /><br />
					<b>Select Put option</b> if you think that the price will be below the current level at the expiry time
				</div>
			</div>
			<div class="clear op_text1">
				<div class="fLeft op_num">3</div>
				<div class="fLeft op_t" style="margin-top:33px;"><b>Enter the amount</b> of money that you want to invest <br />in your binary option</div>
			</div>
			<div class="clear op_text2">
				<div class="fLeft op_num2">4</div>
				<div class="fLeft op_t" style="margin-top:14px;">
					<b>Make 65-71% profit</b> if your prediction is correct <br />(your binary option expired in the money)<br /><br />
					*Even if your option expires out of the money you <br /> will get a 15% refund
				</div>
			</div>
		</div>
		<!-- unstable -->
		<div id="ls_unstable" style="display:none" class="fRight t_options2">
			<!-- unstable_pic come from script dont delete this line-->
		</div>
		<!-- trade box -->
		<div id="markets_table" class="fRight t_options2">
			<table id="ls_stable" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td id="box0" width="455">
						<ui:include src="/jsp/tradingBoxLoading_css.xhtml" />
					</td>
				</tr>
			</table>
		</div>
		<!-- end of trade box -->
		<!-- off hours -->
		<div id="off_hours_banner" style="display: none;" class="fRight t_options2">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td id="ohBanner" width="455">
		 				<img src="" border="0" />
		 			</td>
				</tr>
			</table>
		</div>
		<!-- end of trade box -->
		<div class="fRight t_options2" style="margin-top:15px;height:198px;">
			<iframe id="contactmeHP" name="contactmeHP" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/contactmeHP_css.jsf" width="457px" height="201px" scrolling="no"></iframe>
		</div>
	</div>
</ui:define>

<ui:define name="featuresStrip">
	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
		<ui:include src="/jsp/featuresStrip_css.xhtml"/>
	</h:panelGroup>
</ui:define>

<ui:define name="infoAndNewsStrip">
	<ui:include src="/jsp/infoAndNewsStrip_css.xhtml"/>
</ui:define>

<ui:define name="groupParam">
	<ui:param name="group" value="#{tradingPageBean.homePageMarket}" />
</ui:define>
</ui:composition>
</html>