<f:view
	dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<!-- script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script-->
	<!-- script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script-->

	<script>
		document.domain = "#{applicationData.domainUrl}";
		var headerTxt1 = "#{msgs['golden.header1']}";
		var headerTxt2 = "#{msgs['golden.header2']}";
		var headerTxtRU1 = "#{msgs['golden.header1.RU']}";
		var headerTxtRU2 = "#{msgs['golden.header2.RU']}";
		var headerTxtRU3 = "#{msgs['golden.header3.RU']}";
		var reciptTxt1 = "#{msgs['golden.recipt.txt1']}";
		var reciptTxt2 = "#{msgs['golden.recipt.txt2']}";
		var reciptTxt1_RU = "#{msgs['golden.recipt.txt1_RU']}";
		var reciptNumber = "#{msgs['golden.recipt.number']}";
		var noInvSelectedGM = "";
		var noInvSelectedRU = "#{msgs['golden.no.inv.selected.RU']}";
		var marketsDiaplayNameGM = #{applicationData.shortDisplayMarketsBySkinId};
		var currencySymbol = "#{applicationData.realCurrencySymbol}";
		var bundle_msg_todayGM = "#{msgs['investment.time.today']} ";
		var context_pathGM = "#{facesContext.externalContext.requestContextPath}";
		var context_pathGM_skin_img = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
		var context_pathGM_img = "#{applicationData.imagesPath}";
		var openDetailsFlag = "#{facesContext.externalContext.requestParameterMap['openDetails']}"
		var generalLink = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#";
	</script>
	<div class="floating_div" id="goldenDiv">
	<table width="625px" class="golden_border" bgcolor="#f0f0f0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<table width="625" cellpadding="0" cellspacing="0" align="center">
					<tr>
						<td width="74" height="38">
							<table width="100%" height="100%" cellpadding="0" cellspacing="0" class="red_border">
								<tr><td class="clock_txt">#{msgs['golden.time.left']}</td></tr>
								<tr>
									<td valign="top" align="center" class="golden_clock" id="goldenTime">&#160;</td>
								</tr>
							</table>
						</td>
						<td align="center" valign="middle">
							<img id="goldenTitleImg" src="#{applicationData.imagesPath}/RollForward_title.png" />
						</td>
						<td width="95" align="#{applicationData.pageAlignmentReverse}">
							<img style="cursor:pointer" id="goldenOpenImg" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/details.gif" onclick="openDetails(this);" />
						</td>
					</tr>
					<tr id="goldenDetails1" style="display: none;">
						<td height="3"></td>
					</tr>
					<tr id="goldenDetails" style="display: none;">
						<td></td>
						<td class="golden_infotext" id="goldenTitle"><!-- here should come the title with js -->
							...
						</td>
						<td id="goldenDetails2" style="display: none;"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr id="goldenInvestmentsTR" style="display: none;">
			<td>
				<table id="goldenInvestmentsTable" style="display: none; font-family:Verdana, Geneva, sans-serif; font-size:10px;" width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
					<tr valign="middle" align="#{applicationData.pageAlignment}" bgcolor="#db0000" style="color:#ffffff;" class="golden_header">
						<td align="#{applicationData.pageAlignment}" width="6" height="20"></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.market']}" /></td>
						<td align="#{applicationData.pageAlignment}" width="125" nowrap="nowrap" colspan="2"><h:outputText value="#{msgs['golden.header.inv.level']}" /></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.real.level']}" /></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.amount']}" /></td>
						<td align="#{applicationData.pageAlignment}" width="72" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.return']}" /></td>
						<td align="#{applicationData.pageAlignment}" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.prim.price']}" /></td>
						<td align="#{applicationData.pageAlignment}" width="80" nowrap="nowrap"><h:outputText value="#{msgs['golden.header.select.all']}" /></td>
						<td align="center" width="25"><input width="18px" id="buyAll" name="buyAll" type="checkbox" value="" onclick="goldenSelectAll(this)"/></td>
						<td align="#{applicationData.pageAlignment}" style="display: none;"></td><!-- 10 inv id -->
						<td align="#{applicationData.pageAlignment}" style="display: none;"></td><!-- 11 insurance type (gm/ru) -->
						<td align="#{applicationData.pageAlignment}" style="display: none;"></td><!-- 12 not formated premia amount -->
					</tr>
					<tr>
			        	<td height="5"></td>
			        </tr>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="1" />
					</ui:include>
					<tr>
			        	<td height="2"></td>
			        </tr>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="2" />
					</ui:include>
					<tr>
			        	<td height="2"></td>
			        </tr>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="3" />
					</ui:include>
					<tr>
			        	<td height="2"></td>
			        </tr>
					<ui:include src="/jsp/insurance_page_contents.xhtml">
						<ui:param name="row" value="4" />
					</ui:include>
					<tr>
						<td width="6px" height="39">&#160;</td>
						<td colspan="5">
							<table width="100%">
								<tr>
									<td nowrap="nowrap" height="20" align="#{applicationData.pageAlignment}" valign="middle" class="golden_terms">
										<h:outputLink id="generalTermsLink" styleClass="golden_terms" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#RUL"><h:outputText value="#{msgs['footer.general.terms']}"/></h:outputLink>
									</td>
									<td width="6px">&#160;</td>
									<td width="200" align="center" valign="middle" style="text-align:center;">
										<table id="mainError" style="display: none;" height="21" align="center" cellpadding="0" cellspacing="0" class="golden_border_error" bgcolor="#f5f5f5">
			                       	 		 <tr>
												<td class="golden_error" valign="middle" align="#{applicationData.pageAlignment}">
			                                 	 	&#160;<!-- here should come the error with js -->
												</td>
			                                 	 <td valign="top" style="cursor: pointer;" align="#{applicationData.pageAlignmentReverse}"><img onclick="document.getElementById('mainError').style.display = 'none';" src="#{applicationData.imagesPath}/x.gif" />
			                                 	 </td>
			                                 </tr>
			                            </table>
			                        </td>
			                        <td width="6px">&#160;</td>
                        		</tr>
                        	</table>
                       	</td>
                        <td valign="middle" align="#{applicationData.pageAlignmentReverse}" class="golden_txt" id="sumTitle"><strong>#{msgs['golden.sum.inv']}</strong>&#160;</td>
                        <td valign="middle" width="70" align="#{applicationData.pageAlignment}" class="golden_txt" id="sumInv"></td>
						<td valign="middle" colspan="2" width="69px" align="center" id="insuranceBuyButton">
							<img style="cursor:pointer" onclick="submitInsurances(this)" id="goldenBuy" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif"
								onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.gif'"
					 		 	onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif'" />
					 		<img src="#{applicationData.imagesPath}/processing.gif" id="goldenBuyWait" style="display: none;" /></td>
						<td width="6px">&#160;</td>
					</tr>
				</table>
			</td>
		</tr>

	</table>
	</div>
</f:view>