<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	#{applicationData.updateLastTopTrades}

	<div class="boxLive_Top5">
        <h7>
        	<h:outputText value="#{msgs['live.AO.top.trades']}" styleClass="no_margin_h7"/>
        </h7>
        <div id="info" class="info">
            <img src="#{applicationData.imagesPath}/i.jpg" onmouseover="showIBox('true', 'info_box_in', 'infoPic_in', '#{applicationData.imagesPath}/i_over.jpg');"
                onmouseout="showIBox('false', 'info_box_in', 'infoPic_in', '#{applicationData.imagesPath}/i.jpg');" style="cursor: pointer"
                id="infoPic_in" alt="" />
        </div>
        <div id="info_box_in" class="info_msg_Live" style="display: none;">
        	<h:outputText value="#{msgs['live.AO.info.msg']}" />
        </div>

        <div class="top5_table" style="width:278px;">
                <div class="filter">
                    <a id="lastTopTradesOptionIn_1" onclick="showLastTopTradesIn('1');" style="cursor:pointer;">
					   <h:outputText value="#{msgs['live.AO.last.day']}" />
					</a>
					<a id="lastTopTradesOptionIn_7" onclick="showLastTopTradesIn('7');" style="cursor:pointer;">
					   <h:outputText value="#{msgs['live.AO.last.week']}" />
					</a>
					<a id="lastTopTradesOptionIn_30" onclick="showLastTopTradesIn('30');" style="cursor:pointer;">
					   <h:outputText value="#{msgs['live.AO.last.month']}" />
					</a>
                </div>
            </div>
        <span id="lastTopTradesIn_1" class="top5_table" style="width:278px;">
        	<t:dataTable id="dataLastDayIn"
                var="investment"
	            value="#{applicationData.getLastTopTrades('1')}"
    	        preserveDataModel="false"
        	    rows="10"
            	renderedIfEmpty="false"
                cellpadding="0"
	            cellspacing="0"
	            rowIndexVar="crrInvestmentIndex"
           		>
				<t:column >
	               	<div class="line">
	               		<h:outputText value="#{msgs['live.AO.top.trade.schema.part1']}" />
                        <t:outputText id="houseResult#{crrInvestmentIndex}" value="#{investment.profitUserTxt}" />&#160;
                        <h:outputText value="#{msgs['live.AO.top.trade.schema.part2']}" />
                        <span class="nobold">
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part3']}" />
                        </span>
                        <h:panelGroup rendered="#{investment.opportunityId == 1}">
                        	<img src="#{applicationData.imagesPath}/icon_BO.png" border="0" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{investment.opportunityId == 3}">
                        	<img src="#{applicationData.imagesPath}/optionPlus_icon_sm.png" border="0" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{investment.opportunityId == 4 || investment.opportunityId == 5}">
                        	<img src="#{applicationData.imagesPath}/0100_icon_sm.png" border="0" />
                        </h:panelGroup>
                        <span class="profit">
                        	<t:outputText id="marketName#{crrInvestmentIndex}" value="#{investment.marketNameForDisplay}" />
                        </span>
                        <span class="nobold">
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part4']}" />
                        </span>
                        <span class="nobold">
                        	<t:outputText id="timeSettled#{crrInvestmentIndex}" escape="false" value="#{investment.timeSettledLiveAO}" />&#160;
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part5']}" />
                        	<t:outputText id="closingLevel#{crrInvestmentIndex}" value="#{investment.closingLevel}" />
                        	<h:outputText value="#{msgs['live.AO.bracket.right']}" />
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
                        </span>	
                        <br />
                        <span class="userdetails">
                            <h:graphicImage	value="#{applicationData.imagesPath}/flags/#{investment.countryId}.png" border="0" class="flag" style="vertical-align: middle;"/>
                            <t:outputText id="cityName#{crrInvestmentIndex}" value="#{investment.cityName}" />&#160;
                            <h:outputText value="#{msgs['live.AO.bracket.left']}" />
                            <t:outputText id="countryName#{crrInvestmentIndex}" value="#{investment.countryNameForDisplay}" />
                            <h:outputText value="#{msgs['live.AO.bracket.right']}" />
							<h:outputText value="#{msgs['live.AO.comma']}" />&#160;
                            <t:outputText id="dateSettled#{crrInvestmentIndex}" escape="false" value="#{investment.dateSettledLiveAO}" />
                            <h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
                        </span>
                    </div>
	           	</t:column>
			</t:dataTable>
        </span>
        <span id="lastTopTradesIn_7" class="top5_table" style="width:278px;">
        	<t:dataTable id="dataLastWeekIn"
                var="investment"
	            value="#{applicationData.getLastTopTrades('7')}"
    	        preserveDataModel="false"
        	    rows="10"
            	renderedIfEmpty="false"
                cellpadding="0"
	            cellspacing="0"
	            rowIndexVar="crrInvestmentIndex"
           		>
				<t:column >
	               	<div class="line">
	               		<h:outputText value="#{msgs['live.AO.top.trade.schema.part1']}" />
                        <t:outputText id="houseResult#{crrInvestmentIndex}" value="#{investment.profitUserTxt}" />&#160;
                        <h:outputText value="#{msgs['live.AO.top.trade.schema.part2']}" />
                        <span class="nobold">
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part3']}" />
                        </span>
                        <h:panelGroup rendered="#{investment.opportunityId == 1}">
                        	<img src="#{applicationData.imagesPath}/icon_BO.png" border="0" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{investment.opportunityId == 3}">
                        	<img src="#{applicationData.imagesPath}/optionPlus_icon_sm.png" border="0" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{investment.opportunityId == 4 || investment.opportunityId == 5}">
                        	<img src="#{applicationData.imagesPath}/0100_icon_sm.png" border="0" />
                        </h:panelGroup>
                        <span class="profit">
                        	<t:outputText id="marketName#{crrInvestmentIndex}" value="#{investment.marketNameForDisplay}" />
                        </span>
                        <span class="nobold">
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part4']}" />
                        </span>
                        <span class="nobold">
                        	<t:outputText id="timeSettled#{crrInvestmentIndex}" escape="false" value="#{investment.timeSettledLiveAO}" />&#160;
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part5']}" />
                        	<t:outputText id="closingLevel#{crrInvestmentIndex}" value="#{investment.closingLevel}" />
                        	<h:outputText value="#{msgs['live.AO.bracket.right']}" />
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
                        </span>	
                        <br />
                        <span class="userdetails">
                            <h:graphicImage	value="#{applicationData.imagesPath}/flags/#{investment.countryId}.png" border="0" class="flag" style="vertical-align: middle;"/>
                            <t:outputText id="cityName#{crrInvestmentIndex}" value="#{investment.cityName}" />&#160;
                            <h:outputText value="#{msgs['live.AO.bracket.left']}" />
                            <t:outputText id="countryName#{crrInvestmentIndex}" value="#{investment.countryNameForDisplay}" />
                            <h:outputText value="#{msgs['live.AO.bracket.right']}" />
							<h:outputText value="#{msgs['live.AO.comma']}" />&#160;
                            <t:outputText id="dateSettled#{crrInvestmentIndex}" escape="false" value="#{investment.dateSettledLiveAO}" />
                            <h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
                        </span>
                    </div>
	           	</t:column>
			</t:dataTable>
        </span>
        <span id="lastTopTradesIn_30" class="top5_table" style="width:278px;">
        	<t:dataTable id="dataLastMonthIn"
                var="investment"
	            value="#{applicationData.getLastTopTrades('30')}"
    	        preserveDataModel="false"
        	    rows="10"
            	renderedIfEmpty="false"
                cellpadding="0"
	            cellspacing="0"
	            rowIndexVar="crrInvestmentIndex"
           		>
				<t:column >
	               	<div class="line">
	               		<h:outputText value="#{msgs['live.AO.top.trade.schema.part1']}" />
                        <t:outputText id="houseResult#{crrInvestmentIndex}" value="#{investment.profitUserTxt}" />&#160;
                        <h:outputText value="#{msgs['live.AO.top.trade.schema.part2']}" />
                        <span class="nobold">
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part3']}" />
                        </span>
                        <h:panelGroup rendered="#{investment.opportunityId == 1}">
                        	<img src="#{applicationData.imagesPath}/icon_BO.png" border="0" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{investment.opportunityId == 3}">
                        	<img src="#{applicationData.imagesPath}/optionPlus_icon_sm.png" border="0" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{investment.opportunityId == 4 || investment.opportunityId == 5}">
                        	<img src="#{applicationData.imagesPath}/0100_icon_sm.png" border="0" />
                        </h:panelGroup>
                        <span class="profit">
                        	<t:outputText id="marketName#{crrInvestmentIndex}" value="#{investment.marketNameForDisplay}" />
                        </span>
                        <span class="nobold">
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part4']}" />
                        </span>
                        <span class="nobold">
                        	<t:outputText id="timeSettled#{crrInvestmentIndex}" escape="false" value="#{investment.timeSettledLiveAO}" />&#160;
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part5']}" />
                        	<t:outputText id="closingLevel#{crrInvestmentIndex}" value="#{investment.closingLevel}" />
                        	<h:outputText value="#{msgs['live.AO.bracket.right']}" />
                        	<h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
                        </span>	
                        <br />
                        <span class="userdetails">
                            <h:graphicImage	value="#{applicationData.imagesPath}/flags/#{investment.countryId}.png" border="0" class="flag" style="vertical-align: middle;"/>
                            <t:outputText id="cityName#{crrInvestmentIndex}" value="#{investment.cityName}" />&#160;
                            <h:outputText value="#{msgs['live.AO.bracket.left']}" />
                            <t:outputText id="countryName#{crrInvestmentIndex}" value="#{investment.countryNameForDisplay}" />
                            <h:outputText value="#{msgs['live.AO.bracket.right']}" />
							<h:outputText value="#{msgs['live.AO.comma']}" />&#160;
                            <t:outputText id="dateSettled#{crrInvestmentIndex}" escape="false" value="#{investment.dateSettledLiveAO}" />
                            <h:outputText value="#{msgs['live.AO.top.trade.schema.part6']}" />
                        </span>
                    </div>
	           	</t:column>
			</t:dataTable>
        </span>
	</div>

    <script>
    	showLastTopTradesIn('1'); // onload show last day.
		function showLastTopTradesIn(lastDays) {
			var days = new Array(); // for days.
			days[0]="1";
			days[1]="7";
			days[2]="30";
			for (var i = 0; i &lt; days.length; i++) {
				if (lastDays != days[i]) {
					document.getElementById("lastTopTradesIn_" + days[i]).style.display="none";
					document.getElementById("lastTopTradesOptionIn_" + days[i]).className="a";
				} else {
					document.getElementById("lastTopTradesIn_" + days[i]).style.display="block";
					document.getElementById("lastTopTradesOptionIn_" + days[i]).className="selected";
				}
			}
		}
	</script>
</f:view>