<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<style>
		.containerLive_right .trends_line .call {
			 background: url(#{applicationData.imagesPath}/callTrend_bttn.png) no-repeat scroll left top transparent;
		}
		.containerLive_right .trends_line .call:hover {
			background: transparent url(#{applicationData.imagesPath}/callTrend_bttn_over.png) no-repeat left top;
		}
		.containerLive_right .trends_line .put {
			background: url(#{applicationData.imagesPath}/putTrend_bttn.png) no-repeat scroll left top transparent;
		}
		.containerLive_right .trends_line .put:hover {
			background: transparent url(#{applicationData.imagesPath}/putTrend_bttn_over.png) no-repeat scroll left top;
		}
	</style>
	<div id="live_logout" style="display:none;"></div>
	<!-- Globe + Quick start -->
	<table border="0" cellspacing="0" cellpadding="0" align="center" class="site_width" id="">		
	   	<tr height="296px" id="headerBtmIn_nd headerBtm_nd">
	   	 	<td width="760px">
 				<div id="globeLogout">	
		   	 		<iframe align="middle" id="globeiframe" name="globeiframe" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/globe.jsf" width="760px" height="296px" scrolling="no"
					 allowtransparency="true" />
				 </div>
				 <div id="globeLogoutOffHours" style="position:relative; top:45px; display:none">	
					<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_logout_offhours.jpg" border="0" />
					</a>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live_logout_offhours_holiday.jpg" border="0" />
					</h:panelGroup>
			  	 </div>
	   	 	</td>
   	 		<td width="5px"></td>
	   	 	<td width="220px" valign="top">
	   	 		<iframe align="right" id="contactusiframe" name="contactusiframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/quickStart.jsf" width="215px" height="297px" scrolling="no" allowtransparency="true" >
	   	 		</iframe>
	   	 	</td>
	  	</tr>
	</table>
   	<div class="clear">&#160;</div>
    <!--Content container-->
    <div class="containerLiveIn">
    	<div class="containerLive_left">
        	<div class="boxLive_Aboutus">
            	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_RealData_1.00.png" alt="Real Live Data" id="" /><br />
                <div class="text">
                	<h:outputText value="#{msgs['live.logout.real.live.data.about']}" escape="false"/>
           			<a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}">
 	          			<h:outputText value="#{msgs['live.logout.real.live.click']}" escape="false"/> »</a></div>
                </div>
                <!--Top Trades-->
            	<div class="boxLive_Top5">
					<ui:include src="/jsp/liveTopTradesLogout.xhtml"></ui:include>
                </div>
                <!--End Top Trades-->
                 <!--FAQ-->
                <div class="boxLive_FAQ" style="padding-top:5px;">
				    <h:outputText value="#{msgs['live.login.faq']}" class="header1" escape="false" />
				    <div class="text text_faq">
				        <a href="javascript:;" class="live_link_12" onmousedown="slidedownFaq('q1',this);">
				            <h:outputText value="#{msgs['live.logout.faq.part1.q']} »" escape="false"/></a>
				        <div id="q1" style="display: none; overflow: hidden;  float: left;" class="info_pages_text">
				            <h:outputText value="#{msgs['live.logout.faq.part1.a']}" escape="false"/><br/>
				             <a href="javascript:;" class="general_link_blue" onmousedown="slideup('q1');">#{msgs['newFeatures.close']} »</a>
				        </div>
				        <a href="javascript:;" class="live_link_12" onmousedown="slidedownFaq('q2',this);">
				            <h:outputText value="#{msgs['live.logout.faq.part2.q']} »" escape="false"/></a>
				        <div id="q2" style="display: none; overflow: hidden; float: left;" class="info_pages_text">
				            <h:outputText value="#{msgs['live.logout.faq.part2.a']}" escape="false"/>
				            <a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}">
 	          					<h:outputText value="#{msgs['live.logout.real.live.click']}" escape="false"/> »</a><br/>
				            <a href="javascript:;" class="general_link_blue" onmousedown="slideup('q2');">#{msgs['newFeatures.close']} »</a>
				        </div>
				        <a href="javascript:;" class="live_link_12" onmousedown="slidedownFaq('q3',this);">
				            <h:outputText value="#{msgs['live.logout.faq.part3.q']} »" escape="false"/></a>
				        <div id="q3" style="display: none; overflow: hidden;  float: left;" class="info_pages_text">
				            <h:outputText value="#{msgs['live.logout.faq.part3.a']}" escape="false"/><br/>
				            <a href="javascript:;" class="general_link_blue" onmousedown="slideup('q3');">#{msgs['newFeatures.close']} »</a>
				        </div>
				    </div>
                </div>
                <!--End FAQ-->
            </div>
            <div class="containerLive_right">
                <!-- Trading trends -->
                <div id="trendsBox" class="boxLive_Trends">
                    <!-- Trading trends -->
                    <div id="liveTradingTrends">
                    	<ui:include src="/jsp/liveTradingTrends.xhtml"></ui:include>
                    </div>
                    <div id="liveTradingTrendsOffHoursLogin" style="display:none">
                    	<ui:include src="/jsp/liveTradingTrendsOffHoursLogin.xhtml"></ui:include>
                    </div>
                </div>
                <!-- End Trading trends -->
                <!-- REUTERS -->
                <div class="reuter_line">
                	<div class="container">
                		<div class="text">
                			<h:outputText value="#{msgs['CMS.optionPlusContentOld.text.reuters.logo.txt']}"/>
                		</div>
						<div class="logo">
							<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/reuters_logo.gif"
							alt="#{msgs['CMS.optionPlusContentOld.alt.reuters_logo.gif']}" width="127px" height="33px" border="0" align="center"/>
						</div>
					</div>
                </div>
                <!-- End REUTERS -->
				<!-- TRADE BOX -->
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td>
					        <!-- unstable -->
                  			<div id="ls_unstable" style="display:none">
                  				<!-- unstable_pic come from script dont delete this line-->
	 						</div>
                  			<!-- trade box -->
                      		<div id="markets_table">
                      			<table id="ls_stable" cellpadding="0" cellspacing="0" border="0">
                      				<tr>
                      					<td id="box0" width="455">
											<ui:include src="/jsp/tradingBoxLoading_old.xhtml" />
	                            		</td>
                      				</tr>
                      			</table>
                    		</div>
							<!-- end of trade box -->
							<!-- off hours -->
                      		<div id="off_hours_banner" style="display: none;">
                      			<table cellpadding="0" cellspacing="0" border="0">
                      				<tr>
                      					<td id="ohBanner" width="455">
                      						<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
                            					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}">
													<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bg_offhours_holiday.jpg" border="0" />
                            					</a>
                            				</h:panelGroup>
                            				<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
                            					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bg_offhours_holiday.jpg" border="0" />
                            				</h:panelGroup>
                            			</td>
                      				</tr>
                      			</table>
                        	</div>
							<!-- end of trade box -->
						</td>
					</tr>
					<tr>
						<td height="20px;">

						</td>
					</tr>
				</table>
				<!-- END TRADE BOX -->
                <!-- SHOW OFF -->
                <div class="boxLive_Share">
                    <div class="ct_img">
                        <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}">
                            <img src="#{applicationData.imagesPath}/img_hpShare.png" alt="" id="" border="0"/>
                        </a>
                    </div>
                    <div class="text">
                        <h1>
							<h:outputText style="color: #333;font-size: 21px;font-weight: normal;float: left;" value="#{msgs['live.login.show.off']}" escape="false"/>
                        </h1>
                        <h2>
                           <h:outputText value="#{msgs['live.login.show.off.details']}" escape="false"/>
                        </h2>
                        <h3>
						  	<img src="#{applicationData.imagesPath}/flags/#{showOff.countryId}.png" alt="" id="" class="flag" />
                        	<strong>
	                     		<h:outputText value="#{showOff.nameShowOffLive}" escape="false"/>
	                     	</strong>
                        </h3>
                     	<h:outputText value="#{showOff.textShowOff}" escape="false"/>
                    </div>
                </div>
                <!-- END SHOW OFF -->
            </div>
        </div>
    <div class="clear"></div>
    <!--End of Content container-->
</f:view>