<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:include src="/jsp/landingPageNoForm.xhtml">
			<ui:param name="page" value="ultimateBanner" />
			<ui:param name="file_suffix" value="xhtml" />			
	</ui:include>
</f:view>