<f:view  xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<script src="#{facesContext.externalContext.requestContextPath}/js/menuMarketSelect.js"></script>
<t:saveState value="#{marketsListForm}" />
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<h:panelGroup rendered="#{!empty marketsListForm.lastUserInvestments}">
			<h:outputLabel class="menu_market_groupname" value="#{msgs['tradebox.recent']}"/>
		</h:panelGroup>
		<t:dataList value="#{marketsListForm.lastUserInvestments}" var="investment" layout="simple">
			<tr onclick="nodeClick(#{investment.marketId});">
				<td style="padding-left:10px;" onmouseover="changeColors(this);" onmouseout="changeColorsBack(this);">
					<span style="font-size:11px;">
						<h:outputLabel value="#{investment.marketName}" style="cursor:pointer;"/>
					</span>
				</td>
			</tr>
		</t:dataList>
	</h:panelGroup>
	<t:dataList id="msel" value="#{marketsListForm.listClone}" var="crrEntry" rowIndexVar="crrEntryIndex" layout="simple">
		<h:panelGroup rendered="#{crrEntry.printGroup}">
			<tr><td><span><h:outputLabel class="menu_market_groupname" value="#{msgs[crrEntry.group_name]}"/></span></td></tr>
		</h:panelGroup>
		<h:panelGroup rendered="#{crrEntry.printGeoGroup}">
			<tr><td style="padding-left:10px;"><span style="font-size:11px;"><h:outputLabel class="menu_market_subgroupname" value="#{msgs[crrEntry.market_subGroup_display_name]}"/></span></td></tr>
			<tr id="#{crrEntry.market_subGroup_display_name}_#{crrEntry.group_name}" style="display:none;" class="close_area"><td><span class="currently_close">&#160;&#160;&#160;&#160;&#160;&#160;<h:outputLabel class="hand" value="#{msgs['markets.menu.close.area']}"/></span></td></tr>
		</h:panelGroup>
		<tr style="cursor:pointer;" onclick="nodeClick(#{crrEntry.market_id});" onmouseup="hideSelectionTree(this);">
			<td onmouseover="changeColors(this);" onmouseout="changeColorsBack(this);">
				<span class="menu_item_close">&#160;&#160;&#160;&#160;&#160;
					<a class="menu_item_notActive" href="#" id="m#{crrEntry.market_id}">
						<h:outputLabel class="hand" value="#{msgs[crrEntry.market_name]}" dir="rtl" rendered="#{crrEntry.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
						<h:outputLabel class="hand" value="#{msgs[crrEntry.market_name]}" dir="ltr" rendered="#{!crrEntry.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
						<h:outputLabel class="hand" value="#{msgs[crrEntry.market_name]}" dir="ltr" rendered="#{!applicationData.rtlAlign}"/>
						<div style="display:none;">#{crrEntry.market_subGroup_display_name}_#{crrEntry.group_name}</div>
					</a>
				</span>
			</td>
		</tr>
	</t:dataList>
</table>
</f:view>