<f:view  xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>

<script>
var prevColor;
function changeColors(element)
{
	//alert(element.childNodes[0].innerHTML);
	element.style.backgroundColor='#db0000';
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				prevColor = element.children[0].getElementsByTagName("label")[0].style.color;
				element.children[0].getElementsByTagName("label")[0].style.color="white";
			}else{
				//alert(element.getElementsByTagName("label").innerHTML);
				prevColor = element.getElementsByTagName("label")[0].style.color;
				element.getElementsByTagName("label")[0].style.color="white";
			}
}
function changeColorsBack(element)
{
	element.style.backgroundColor='#f5f5f5';
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				element.children[0].getElementsByTagName("label")[0].style.color=prevColor;
			}else{
				element.getElementsByTagName("label")[0].style.color=prevColor;
			}

}
function selectAsset(element,marketId){
		document.getElementById('investmentsContainer:selectedAssetNameDisplay').innerHTML = element.getElementsByTagName("label")[0].innerHTML;
		document.getElementById('investmentsContainer:selectedAssetName').value = element.getElementsByTagName("label")[0].innerHTML;
		document.getElementById('investmentsContainer:marketGroup').value=marketId;
		gowait('investmentsContainer:button','investmentsContainer:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		return myfaces.oam.submitForm('investmentsContainer','investmentsContainer:hiddenbtn');
}
</script>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />

<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<c:set var="prevMarketGroup" value="null"/>
	<c:set var="prevGeogGroup" value="null"/>
	<tr onclick="selectAsset(this,'0,0');" class="hand">
			<td onmouseover="changeColors(this);" onmouseout="changeColorsBack(this);"><span>
			<h:outputLink  style="text-decoration:none;" value="javascript:;"  >
						<h:outputLabel class="assetSelect_allAssets" value="#{msgs['lastlevels.allTheAssets']}"/>
				</h:outputLink>
				</span>
			</td>
	</tr>
	<c:forEach items="${marketsListForm.listClone}" var="market">
		<c:set var="currMarketGroup" value="${market.group_name}"/>
		<c:set var="currGeogGroup" value="${market.market_subGroup_display_name}"/>

			<c:choose>
				<c:when test="${prevMarketGroup!=null and market.group_name!=prevMarketGroup}">
				<c:choose>
					<c:when test="${market.group_name!='markets.groups.currency' and market.group_name!='markets.groups.commodities'}">
						<c:set var="prevMarketGroup" value="${market.group_name}"/>
						<c:set var="prevGeogGroup" value="${market.market_subGroup_display_name}"/>
						<tr onclick="selectAsset(this,${market.market_group_id}+',0');" class="hand"><td onmouseover="changeColors(this);"
							onmouseout="changeColorsBack(this);"><span>&#160;
						<h:outputLink  value="javascript:;" style="text-decoration:none;" >
							<h:outputLabel class="assetSelect_market_groupname" value="#{msgs[market.group_name]}"/>
						</h:outputLink>
						</span></td></tr>
						<tr><td><span style="font-size:11px;">&#160;&#160;&#160;&#160;<h:outputLabel class="menu_market_subgroupname" value="#{msgs[market.market_subGroup_display_name]}"/></span></td></tr>
						<tr class="hand" onclick="selectAsset(this,${market.market_group_id}+','+${market.market_id});" >
							<td onmouseover="changeColors(this);"
							onmouseout="changeColorsBack(this);">
							<span style="font-size:11px;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
								<h:outputLink style="text-decoration:none;" value="javascript:;" id="m${market.market_id}">
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}"/>
								</h:outputLink>
								</span>
							</td>
						</tr>
					</c:when>
					<c:otherwise>
						<c:set var="prevMarketGroup" value="${market.group_name}"/>
						<c:set var="prevGeogGroup" value="${market.market_subGroup_display_name}"/>
						<tr onclick="selectAsset(this,${market.market_group_id}+',0');" class="hand"><td onmouseover="changeColors(this);"
							onmouseout="changeColorsBack(this);"><span>&#160;
						<h:outputLink style="text-decoration:none;" value="javascript:;" >
							<h:outputLabel class="assetSelect_market_groupname" value="#{msgs[market.group_name]}"/>
						</h:outputLink>
						</span></td></tr>
						<tr onclick="selectAsset(this,${market.market_group_id}+','+${market.market_id});" class="hand">
							<td onmouseover="changeColors(this);"
							onmouseout="changeColorsBack(this);">
							<span style="font-size:11px;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
								<h:outputLink style="text-decoration:none;" value="javascript:;" id="m${market.market_id}">
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}"/>
								</h:outputLink>
								</span>
							</td>
						</tr>
					</c:otherwise>
				</c:choose>
				</c:when>

				<c:when test="${prevGeogGroup!=null and market.market_subGroup_display_name!=prevGeogGroup }">
					<c:set var="prevGeogGroup" value="${market.market_subGroup_display_name}"/>
					<tr><td><span style="font-size:11px;">&#160;&#160;&#160;&#160;<h:outputLabel class="menu_market_subgroupname" value="#{msgs[market.market_subGroup_display_name]}"/></span></td></tr>
					<tr class="hand" onclick="selectAsset(this,${market.market_group_id}+','+${market.market_id});" >
						<td onmouseover="changeColors(this);"
							onmouseout="changeColorsBack(this);">
							<span style="font-size:11px;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
								<h:outputLink style="text-decoration:none;" value="javascript:;" id="m${market.market_id}">
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" rendered="#{market.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="ltr" rendered="#{!market.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="ltr" rendered="#{!applicationData.rtlAlign}"/>
								</h:outputLink>
							</span>
						</td>
					</tr>
				</c:when>
				<c:otherwise>
						<c:set var="prevMarketGroup" value="${market.group_name}"/>
						<c:set var="prevGeogGroup" value="${market.market_subGroup_display_name}"/>
						<tr class="hand" onclick="selectAsset(this,${market.market_group_id}+','+${market.market_id});" >
							<td onmouseover="changeColors(this);"
							onmouseout="changeColorsBack(this);">
								<span style="font-size:11px;">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
								<h:outputLink style="text-decoration:none;" value="javascript:;" id="m${market.market_id}">
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" rendered="#{market.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="ltr" rendered="#{!market.isCommodityOrArabicMarket &amp;&amp; applicationData.rtlAlign}"/>
									<h:outputLabel class="option_type" value="#{msgs[market.market_name]}" dir="ltr" rendered="#{!applicationData.rtlAlign}"/>
								</h:outputLink>
								</span>
							</td>
						</tr>
				</c:otherwise>
			</c:choose>
	</c:forEach>
</table>

</f:view>