<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
<title>168期权</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/#{applicationData.relevantPath}styles_bitcoin.css" />
</head>
<body>
<!---off hours-->
<div class="bitcoint_offhours_container" style="background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bg_bitcoin_offhours.png);">
<div class="bitcoin_offhours_msg" style="background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bg_offhours_msg.png);">
  <h1>
  	<h:outputText value="#{msgs['CMS.bitcoin-options.text.offhours.line1']}"/>
  </h1>
  <p class="onetoucn_msg">
  	<h:outputFormat escape="false" value="#{msgs['CMS.bitcoin-options.text.offhours.1t.line']}">
    	<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}" />
	</h:outputFormat> »
  </p>
</div>
</div>
<!---end of off hours-->
</body>
</html>
