<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_onetouch.xhtml">
<ui:define name="selected">
	<c:set var="selectedTd" value="oneTouch" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.oneTouch.metadata.windowTitle']}"/>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.oneTouch.metadata.new.description']}" />
</ui:define>

<ui:define name="title">
	<h:outputText styleClass="header_new_design_pages title_size" value="#{msgs['CMS.oneTouch.metadata.header']}"/>
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design title_desc_size" value="#{msgs['CMS.oneTouch.metadata.title']}"/></h1>
</ui:define>

<ui:define name="footerMsg">
	<h:outputText value="#{msgs['onetouch.windowTitle']}"/>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}" />
</ui:define>
<ui:define name="rightSideBanner">
	<iframe align="center" valign="top" height="536" width="186" id="banners_page" name="banners_page" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{selectedTd}RightBanner.jsf"  scrolling="no"></iframe>
</ui:define>
<ui:define name="content">
<script>

var rolloverpic;
var defaultpic;
var submiting = false;
var isSet = false;
var submitControl;

function startDisable(elementID,picname){
           var elementId;

           submiting = true;
           elementId = 'submit_'+elementID;
           document.getElementById(elementId).src = picname;

           window.setTimeout( function() {
           var wg = document.getElementById(elementId);
           wg.src = wg.src; }, 50);

           submitControl = elementId;
           document.getElementById(elementId).removeAttribute("onClick");
           imgCondition(1);
           rolloverpic = picname;
    }

function endDisable(elementId,picname){
         imgCondition(0);
         document.getElementById(elementId).setAttribute("onClick","submitOneTouchFromServerSlip('"+ elementId +"','"+rolloverpic+"');");
         document.getElementById(elementId).src = defaultpic;
         submiting = false;
         isSet = false;
}

function rollover(elementID, picname) {
    var elementId = 'submit_' + elementID;
    if (!submiting ||elementID !=submitControl) {
        if (isSet) {
            document.getElementById(elementId).src = picname;
        } else {
            getDefaultPicture(elementId);
            document.getElementById(elementId).src = picname;
            isSet = true;
        }
    }
}

//<![CDATA[
function imgCondition(state) {
    var elements = document.getElementsByTagName("img");
    for (i = 0; i < elements.length; i++) {
        var str = elements[i].id;
        if (str.search("submit") != -1) {
            if (state == 1) {
                document.getElementById(str).disabled = true;
                document.getElementById(str).removeAttribute("onClick");
            } else {
                document.getElementById(str).disabled = false;
                document.getElementById(str).setAttribute("onClick","submitOneTouchFromServerSlip('" + str.substring(7) + "','" + rolloverpic + "');");
                document.getElementById(str).src = defaultpic;
            }
        }
    }
}
//]]>


function getDefaultPicture(elementId) {
    defaultpic = document.getElementById(elementId).src;
}

function calculateReturn(obj,optionId){
	var price = parseInt(#{slipForm1T.oneTouchUnitPriceAO});
	var odds = parseFloat(document.getElementById("odds_win_"+optionId).value);
	var newReturn = parseInt(obj.value)*price*odds +price*parseInt(obj.value);
	var newPrice = parseInt(obj.value)*price;
	if(obj.value &lt; 0){
		newReturn = price*odds + price;
		newPrice = price;
	}
	document.getElementById("return_"+optionId).innerHTML='  '+ newReturn + '  ';
	document.getElementById("price_"+optionId).innerHTML='  '+newPrice+'  ';
	//if((document.getElementById('loginErrorTR_'+optionId).style.display!='none') &amp;&amp; (obj.value &gt; 0))
	//	document.getElementById('loginErrorTR_'+optionId).style.display='none';

}
function showSlip(srcObj,optionId){
		submitOneTouchFromServerSlip(optionId);
}
function submitOneTouchFromServerSlip(optionId,picname){

    if (submiting){return false};
    startDisable(optionId,picname);
	document.getElementById("oneTouchAO:optionId").value=optionId;
	document.getElementById("oneTouchAO:odds_win").value=document.getElementById("odds_win_"+optionId).value;
	document.getElementById("oneTouchAO:odds_lose").value=document.getElementById("odds_lose_"+optionId).value;
	document.getElementById("oneTouchAO:pageLvl").value=document.getElementById("pageLvl_"+optionId).value;
	document.getElementById("oneTouchAO:units").value=document.getElementById("select_"+optionId).value;
	document.getElementById("oneTouchAO:utcOffset").value=new Date().getTimezoneOffset();
	myfaces.oam.submitForm('oneTouchAO','oneTouchAO:hiddenSubmit');
	endDisable(optionId,picname);
//	document.getElementById("oneTouchForm").submit();

}
function errorInSlipNotLogin(optionId){
	document.getElementById("loginErrorTR_"+optionId).style.display="table-row";
}
function closeReceipt(){
	document.getElementById("oneTouchAO:closeReceipt").value="1";
}
function setSelected(){
 if(#{slipForm1T.returningOppId} != 0 &amp;&amp; document.getElementById("select_"+#{slipForm1T.returningOppId})!=null){
	if(#{slipForm1T.oneTouchAOunits} &gt; 0){
	 	document.getElementById("select_"+#{slipForm1T.returningOppId}).selectedIndex=#{slipForm1T.oneTouchAOunits};
	 	document.getElementById("price_"+#{slipForm1T.returningOppId}).innerHTML = '&#160;&#160;' + #{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits} + '&#160;&#160;';
	 	var odds = parseFloat(document.getElementById("odds_win_"+#{slipForm1T.returningOppId}).value);
	 	document.getElementById("return_"+#{slipForm1T.returningOppId}).innerHTML = #{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits} + odds*#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits};
	}
	else
		document.getElementById("select_"+#{slipForm1T.returningOppId}).selectedIndex=0;
 }
}
</script>

<body onload="setSelected()">
#{slipForm1T.getUpdateMarketId(0)}
<TABLE cellpadding="0" cellspacing="0" width="720" border="0" align="#{applicationData.pageAlignmentReverse}">
 <tr>
  <td>
  	<h:panelGroup rendered="#{slipForm1T.oneTouchListSize == 0 || applicationData.skinId == 9}">
  		<a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf">
  			<ui:include src="/jsp/#{applicationData.userLocale.language}/1t_offhours.xhtml"></ui:include>
  		<!-- <img border="0" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/1t_offhours.gif" /> -->
  		</a>
  	</h:panelGroup>
    <h:panelGroup rendered="#{slipForm1T.oneTouchListSize != 0 &amp;&amp; applicationData.skinId != 9}">
		<table width="720" border="0" cellspacing="0" cellpadding="3" align="center"  class="table1Touch_onetouch">
		  <tr class="headerTxt_onetouch">
		        <td width="40">&#160;</td>
		        <td width="165"  align="#{applicationData.pageAlignmentReverse}"><h:outputText class="headerTxt_onetouch" value="#{msgs['CMS.oneTouch.text.tableHeaders.option']}"/></td>
		        <td width="15" >&#160;</td>
		        <td width="105" ><h:outputText class="headerTxt_onetouch" value="#{msgs['CMS.oneTouch.text.tableHeaders.return.percent']}"/>(%)</td>
		        <td width="62" ><h:outputText class="headerTxt_onetouch" value="#{msgs['CMS.oneTouch.text.tableHeaders.unit']}"/></td>
		        <td width="70" >
	        		<h:outputText class="headerTxt_onetouch" value="#{msgs['CMS.oneTouch.text.tableHeaders.price']}"/>
	        		<h:panelGroup>
	        			<h:outputText value="(#{applicationData.realCurrencySymbol})"/>
	        		</h:panelGroup>
		        	</td>
		        <td width="108" >
	        		<h:outputText class="headerTxt_onetouch" value="#{msgs['CMS.oneTouch.text.tableHeaders.return']}"/>
	        		<h:panelGroup>
	        			<h:outputText value="(#{applicationData.realCurrencySymbol})"/>
	        		</h:panelGroup>
		        	</td>
		        <td width="67">&#160;</td>
		        <td width="33">&#160;</td>
		  </tr>
		  <t:dataList value="#{slipForm1T.oneTouchList}" var="item" rowIndexVar="crrEntry" layout="simple" rendered="#{slipForm1T.oneTouchListSize > 0}">
		  <tr valign="middle" bgcolor="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id? '#d5eaf8':'#eeeeee'}" id="tr_#{item.id}" height="25px" >
		        <td>
			        	<strong>
				        	<h:outputText value="#{slipForm1T.oneTouchAOInvId}" class="optionClass" rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}"/>
			        	</strong>
		        </td>
		        <td align="#{applicationData.pageAlignmentReverse}">
		        	<table cellpadding="0" cellspacing="0">
		        	<tr>
		        		<td >
			        		<h:outputText styleClass="optionClass" value="#{item.market.displayName}"/>&#160;<h:outputText rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}" value="#{item.oneTouchCurrentLevel}" styleClass="optionClass"/><h:outputText rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}" value="#{slipForm1T.lastInvCurrentLevel}" styleClass="optionClass"/>
		        		</td>
		        		<td>
			        </td>
		        	</tr>
		        	</table>
		        </td>
		        <td>
		        <h:panelGroup rendered="#{item.isOneTouchUp}">
					        	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up_blink.gif" alt="#{msgs['CMS.oneTouch.alt.up_blink.gif']}" />
				        	</h:panelGroup>
				        	<h:panelGroup rendered="#{!item.isOneTouchUp}">
						        <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down_blink.gif" alt="#{msgs['CMS.oneTouch.alt.down_blink.gif']}" />
					        </h:panelGroup>
		        </td>
		        <td align="center">
		        	<strong>
		        		<h:outputText rendered="#{applicationData.rtlAlign || applicationData.skinId==3 }"  value="% #{item.overOddsWinFormatAO}"/>
		        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; applicationData.skinId!=3}" value="#{item.overOddsWinFormatAO} %"/>
		        	</strong>
		        </td>
		        <td align="center">
		        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}">
			        <select id="select_#{item.id}" style="width:#{applicationData.skinId==8 || applicationData.skinId==9?'80px':'60px' }" onchange="calculateReturn(this,'#{item.id}')" class="units_select">
				        <t:dataList value="#{slipForm1T.unitsSelect}" var="selectItem" layout="simple">
				        	<h:panelGroup rendered="#{selectItem.value==slipForm1T.oneTouchAOunits}">
				        	<option value="#{selectItem.value}"  SELECTED="1">#{selectItem.label}</option>
				        	</h:panelGroup>
				        	<h:panelGroup rendered="#{selectItem.value!=slipForm1T.oneTouchAOunits}">
				        	<option value="#{selectItem.value}" >#{selectItem.label}</option>
				        	</h:panelGroup>>
				        </t:dataList>
			        </select>
		        </h:panelGroup>
		        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}">
		        	<h:outputText value="#{slipForm1T.lastInvUnits}" />
	        	</h:panelGroup>
		        </td>
		        <td align="center" width="85px">
		        	<strong>
			        	<h:panelGroup>
		        			<h:outputText rendered="#{!applicationData.rtlAlign}" value="#{applicationData.realCurrencySymbol}"/>
		        		</h:panelGroup>
		        		<span id="price_#{item.id}" style="#{applicationData.rtlAlign ? 'font-size:12px':''}">
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits==0}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.lastInvUnits}&#160;"/>
			        		<h:outputText rendered="#{!applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>

			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits==0}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &lt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId==item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.lastInvUnits}&#160;"/>
			        		<h:outputText rendered="#{applicationData.rtlAlign &amp;&amp; slipForm1T.oneTouchAOunits &gt;0 &amp;&amp; slipForm1T.returningOppId!=item.id}" style="font-size:12px;" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
		        		</span>
		        		<h:panelGroup>
		        			<h:outputText rendered="#{applicationData.skinId==4}" value="#{applicationData.realCurrencySymbol}"/>
		        		</h:panelGroup>
		        	</strong>
		        </td>
		        <td align="center" style="#{applicationData.skinId==4?'font-size:12px':''}" >
			        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId!=0 &amp;&amp; slipForm1T.returningOppId==item.id}">
			        	<strong>
			        		<h:panelGroup rendered="#{applicationData.skinId!=4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>
			        		<span id="return_#{item.id}">
			        		<script>
								var price = parseInt(#{slipForm1T.requestAmountAO});
								var odds = parseFloat(#{item.oddsType.overOddsWin});
								var newReturn = price + (price * odds);
			        			document.write(newReturn);
					        </script>
					        </span>
			        		<h:panelGroup rendered="#{applicationData.skinId==4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>
			        	</strong>
		        	</h:panelGroup>
		        	<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}">
		        		<strong>

			        		<h:panelGroup rendered="#{applicationData.skinId!=4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>
			        		<span id="return_#{item.id}">
			        		<script>
								var price = parseInt(#{slipForm1T.oneTouchUnitPriceAO});
								var unit = parseInt(#{slipForm1T.oneTouchAOunits});
								price = unit * price;
								var odds = parseFloat(#{item.oddsType.overOddsWin});
								var newReturn = price + (price * odds);
			        			document.write(newReturn);
							</script>
		        			</span>
							<h:panelGroup rendered="#{applicationData.skinId==4}">
			        			<h:outputText value="#{applicationData.realCurrencySymbol}"/>
			        		</h:panelGroup>

		        		</strong>
		        	</h:panelGroup>
		        </td>
		        <td align="center">
			        <h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId == 0 || slipForm1T.returningOppId!=item.id}">
			        	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.png" width="53" height="17"
			        	 id="submit_#{item.id}" style="cursor:pointer"
		        	 	 onmouseOver="rollover(#{item.id},'#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.png')"
	 	        	     onmouseOut="rollover(#{item.id},'#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png')"
		         		 onclick="submitOneTouchFromServerSlip('#{item.id}','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif');"/>
	        		</h:panelGroup>
	        		<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId != 0 &amp;&amp; slipForm1T.returningOppId==item.id}">
	        			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printao_u.png" alt="#{msgs['CMS.oneTouch.alt.printao_u.png']}" width="28" height="23"
			        	 id="submit_#{item.id}" style="cursor:pointer"
		        	 	 onmouseOver="this.src='#{applicationData.imagesPath}/printao_d.png'"
	 	        	     onmouseOut="this.src='#{applicationData.imagesPath}/printao_u.png'"
		         		 onclick="printSuccessOneTouch('#{slipForm1T.oneTouchAOInvId}','#{item.oneTouchUpDown}');"/>
	        		</h:panelGroup>
		        </td>
		        <td height="25px" align="center">
		        	<h:form id="updateOneTouchList">
			        	<h:commandLink action="#{slipForm1T.updateOneTouchListAO}" styleClass="optionClass"
			        	rendered="#{slipForm1T.oneTouchAOInvId != 0 &amp;&amp; slipForm1T.returningOppId==item.id}"
						id="hiddenSubmit"><strong>X</strong></h:commandLink>
					</h:form>
		        </td>
		  </tr>


		  <tr height="5" valign="top" class="subtext">
		      <h:panelGroup rendered="#{item.isOneTouchUp}">
		        <td colspan="9">
		        	<h:panelGroup rendered="#{applicationData.skinId!=3 &amp;&amp; applicationData.skinId!=4 &amp;&amp; applicationData.skinId!=8 &amp;&amp; applicationData.skinId!=17}"> <!-- for all skins except TR and AR and DE and KR -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.up']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==3}"> <!-- in TR skin the order of words is different -->
		        		&#160;#{item.market.displayName}&#160;
		        		'<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
		        		&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2']}"/>&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3.up']}"/>
		        	</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId==4}"> <!-- for AR -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;
			        	<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;
			        	<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.up']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==8}"> <!-- for DE -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>&#160;#{item.market.displayName}
		        		&#160;#{item.oneTouchCurrentLevel}
			            &#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>
						&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.up']}"/>
		        	</h:panelGroup>
		        	
		        	<h:panelGroup rendered="#{applicationData.skinId==17}"> <!-- for KR -->
		        		&#160;#{item.market.displayName}
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>
			        	&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>&#160;#{item.oneTouchCurrentLevel}&#160;
			        	&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.up']}"/>&#160;
		        	</h:panelGroup>
		       </td>
		      </h:panelGroup>
		      <h:panelGroup rendered="#{!item.isOneTouchUp}">
		        <td colspan="9">
		        	<h:panelGroup rendered="#{applicationData.skinId!=3 &amp;&amp; applicationData.skinId!=4 &amp;&amp; applicationData.skinId!=8 &amp;&amp; applicationData.skinId!=17}"> <!-- for all skins except TR and AR and DE and KR -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.down']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==3}"> <!-- in TR skin the order of words is different -->

		        		&#160;#{item.market.displayName}&#160;
		        		'<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
		        		&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>
		        		&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2']}"/>
		        		&#160;#{item.oneTouchCurrentLevel}&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3.down']}"/>
		        	</h:panelGroup>

					<h:panelGroup rendered="#{applicationData.skinId==4}"> <!-- for AR -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;#{item.market.displayName}&#160;
			        	<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>
			        	&#160;#{item.oneTouchCurrentLevel}&#160;
			        	<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.down']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>&#160;
		        	</h:panelGroup>

		        	<h:panelGroup rendered="#{applicationData.skinId==8}"> <!-- for DE -->
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>&#160;#{item.market.displayName}
		        		&#160;#{item.oneTouchCurrentLevel}
			            &#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>
						&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.down']}"/>
		        	</h:panelGroup>
		        	
		        	<h:panelGroup rendered="#{applicationData.skinId==17}"> <!-- for KR -->
		        		&#160;#{item.market.displayName}
		        		<h:outputFormat escape="false" value="#{msgs['CMS.oneTouch.text.marketMsg1']}">
		        			<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf" />
		        		</h:outputFormat>
			        	&#160;<h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>
			        	&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg3']}"/>&#160;#{item.oneTouchCurrentLevel}&#160;
			        	&#160;<h:outputText value="#{msgs['CMS.oneTouch.text.marketMsg2.down']}"/>&#160;
		        	</h:panelGroup>
		       </td>
		      </h:panelGroup>
		  </tr>
		<h:panelGroup rendered="#{commonUtil.hasMessages and item.id==slipForm1T.returningOppId}">
			<tr id="loginErrorTR_#{item.id}"  align="center">
				<td colspan="9">
					<div class="pR">
						<div class="bitCoin_error_h #{(!slipForm1T.loginErrorFlag1TAO)?'bitCoin_error_small':''}" id="error_holder">
							<span class="tradeErrorMsg_close" onclick="closeErrorPop(this,'error_holder')"></span>
							<h:panelGroup rendered="#{slipForm1T.regulationError}">
								<a href="#{slipForm1T.regulationLinkValue}" class="general_link_10">
									<h:outputText escape="false" value="#{slipForm1T.regulationMessageTxt}"/>
								</a>
							</h:panelGroup>
							<h:panelGroup rendered="#{commonUtil.hasMessages}">
								<div class="bitcoin_error"><t:messages id="messages" globalonly="true" errorClass="#{!slipForm1T.loginErrorFlag1TAO?'bitcoin_error_2':''}"/></div>
							</h:panelGroup>
							<h:panelGroup rendered="#{commonUtil.hasMessages and slipForm1T.loginErrorFlag1TAO}">
								<div class="clear">
									<div class="oH clear mt10">
										<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="trade_buton_login trade_buton_login_h fL bitcoin_login">
											<span class="rs trade_buton_login">
												<span class="cs trade_buton_login">
													<h:outputText value="#{msgs['CMS.quick_sign_up.submit1']}" />
												</span>
											</span>
										</a>
										<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/login.jsf" class="trade_buton_login trade_buton_register_h fR bitcoin_login">
											<span class="rs trade_buton_login">
												<span class="cs trade_buton_login">
													<h:outputText value="#{msgs['header.login1']}" />
												</span>
											</span>
										</a>
									</div>
								</div>
							</h:panelGroup>
						</div>
					</div>
				</td>
			</tr>
				<script>closeOnClickOut('error_holder')</script>
		</h:panelGroup>
		  <tr style="display:none">
		  	<td>
			  <input id="odds_win_#{item.id}" type="hidden" value="#{item.oddsType.overOddsWin}"/>
			  <input id="odds_lose_#{item.id}" type="hidden" value="#{item.oddsType.overOddsLose}"/>
			  <input id="pageLvl_#{item.id}" type="hidden" value="#{item.currentLevel}"/>
		  	</td>
		  </tr>
		  </t:dataList>

		   <tr height="5" valign="top" class="subtext">
		        <td colspan="9" class="tm_onetouch"><a class="general_link_10" href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf"><h:outputText value="#{msgs['CMS.oneTouch.text.termsLink']}"/></a></td>
		  </tr>

		</table>
		<div style="display:none">
		<h:form id="oneTouchAO">
		<h:inputText id="optionId" value=""/>
		<h:inputText id="price" value="#{slipForm1T.oneTouchUnitPriceAO}"/>
		<h:inputText id="odds_win" value=""/>
		<h:inputText id="odds_lose" value=""/>
		<h:inputText id="pageLvl" value=""/>
		<h:inputText id="units" value=""/>
		<h:inputText id="utcOffset" value=""/>

		<h:commandLink action="#{slipForm1T.submitOneTouchFromSlipAO}"
				id="hiddenSubmit" style="display:none"/>
		</h:form>
		</div>
    </h:panelGroup>
   </td>
  </tr>
</TABLE>
</body>
</ui:define>
</ui:composition>
</html>