<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="selected">
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['lexicon.win.title']}"/>
</ui:define>
<ui:define name="title"><h1 class="header_pages_h1"><h:outputText value="#{msgs['lexicon.title']}"/></h1></ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['lexicon.header.message']}"/></h1>
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/de/optionen_lexikon.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>
