<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>
	<table border="0" cellspacing="0" cellpadding="0" align="center" class="table_white_nd" width="970px">
		<tr>
			<td width="970px" align="center" colspan="2">
				<!-- Flash object -->
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="920" height="400" id="flashObject" align="middle">
					<param name="allowScriptAccess" value="always" />
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/optionPlus.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#f5f5f5" />
					<param name="wmode" value="opaque" />
					<param name="FlashVars" value="pOpportunityId=0&amp;pMarketId=#{!empty param['marketId'] ? param['marketId'] : '0'}&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}" />
					<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/optionPlus.swf" flashvars="pOpportunityId=0&amp;pMarketId=#{!empty param['marketId'] ? param['marketId'] : '0'}&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}" quality="high" bgcolor="#f5f5f5" width="920" height="400" name="flashObject" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="opaque" />
				</object>
			</td>
		</tr>
		<tr>
			<td height="35px" width="640px" class="option_plus_bottom_txt">#{msgs['CMS.optionPlusContent.text.option.plus.bottom.text']}</td>
			<td height="35px" class="reuters_text" align="center" valign="middle" width="300px">
				<table border="0" cellpadding="0" cellspacing="0" height="28px" align="center" width="300px">
					<tr>
						<td class="optionP_reuters_text" style="font-size: 9px">
							<h:outputText value="#{msgs['CMS.optionPlusContent.text.reuters.logo.txt']}"/>
						</td>
						<td align="#{applicationData.pageAlignment}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}" target="_top">
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/reuters_logo.gif" alt="#{msgs['CMS.optionPlusContent.alt.reuters_logo.gif']}" width="127px" height="33px" border="0" align="center"/>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
		    <td width="970" height="171px" colspan="2">
		    	<table width="968" height="171px" cellpadding="0" cellspacing="0" align="center">
		    		<tr valign="top" height="171px">
		          		<td width="24px" height="171px">&#160;</td>
		          		<td height="171px">
		          			<table width="920" height="171px" cellpadding="0" cellspacing="0" align="center">
		              			<tr height="171px">
		                			<td height="171px">
		                				<!-- user logged in -->
					                    <h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					                    	<!-- profit line / expire today -->
					                		<iframe align="left" class="box_Why_nd trade_binary_box"
					                			name="right_side_investments"
					                			src="#{facesContext.externalContext.requestContextPath}/jsp/investments_profit_box_TP.jsf"
					                			width="300" height="215px" frameborder="no" scrolling="no">
					                		</iframe>
					                		<iframe align="top" class=""
								    			id="rssFeedHPszfasdfads"
								    			name="rssFeedHP"
								    			src="#{facesContext.externalContext.requestContextPath}/jsp/financialNews.jsf?different_page=259px"
								    			width="320" height="355px" frameborder="no" scrolling="no">
								    		</iframe>
										</h:panelGroup>
		                			</td>
		                			<td width="9" height="171px">&#160;</td>
		                			<td width="9" height="171px"><!-- breaking news -->

		                			</td>
		                			<td width="" height="">
		                				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
				                			<iframe align="top" class=""
								    			id="rssFeedHPszfasdfads"
								    			name="rssFeedHP"
								    			src="#{facesContext.externalContext.requestContextPath}/jsp/financialNews.jsf?different_page=520px"
								    			width="320" height="616px" frameborder="no" scrolling="no">
								    		</iframe>
										</h:panelGroup>
		                			</td>
		               				<td valign="top" style="padding-top:23px;">
										<ui:include src="/jsp/newAssetList.xhtml"/>
		               				</td>
		                			<td width="300px" height="171px">
		                			</td>
		              			</tr>
		            		</table>
		          		</td>
		          		<td width="24"></td>
		        	</tr>
		        	<tr>
		          		<td colspan="3" height="25"></td>
		        	</tr>
		      	</table>
		  	</td>
		</tr>
	</table>
	<br />
	<!-- featuresStrip.xhtml -->

	<br />

	<script type="text/javascript">
		// (Optional) Block Escape Key
		document.onkeydown = checkEscape;
		document.onkeypress = checkEscape;
		function checkEscape(e) {
			if (!e) {
				e = event;
			}
			if (e.keyCode == 27) {
				return false;
			}
		}

		var flashHandler = new FlashBridge("flashObject");

/* we use the push page from the template
		// Push-Page Configuration
		var pushPage = new PushPage();
		pushPage.context.setDebugAlertsOnClientError(false);
		pushPage.context.setDomain("#{applicationData.domainUrl}");
		pushPage.onEngineCreation = function(engine) {
			engine.connection.setLSHost("#{slipForm.lsServer}");
			engine.connection.setLSPort(80);
			engine.connection.setAdapterName("REUTERSJMS");
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				engine.connection.setUserName("a#{user.userName}a");
				engine.connection.setPassword("#{user.passHash}");
			</h:panelGroup>
			engine.policy.setMaxBandwidth(20);
			engine.policy.setIdleTimeout(30000);
			engine.policy.setPollingInterval(1000);
			engine.policy.setTimeoutForReconnect(10000);

			engine.changeStatus("STREAMING");
		};
		pushPage.bind();

		if (!parent.tradingPage) {
			pushPage.createEngine("tradingPage", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");
		} else {
			// seek the LightstreamerEngine created by the main page
			pushPage.seekEngine("tradingPage", parent);
		}
*/
	</script>

</body>
</html>
