<html
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >
<head>
	<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js"></script>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<style>body {background: none transparent;	}</style>
</head>
<f:view locale="#{applicationData.userLocale}">
<body dir="#{applicationData.pageDirection}">
	<script>
		// function names are messed up - getUrlLower openes link from upper portion of the banner
		function getUrlLower(){
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
		}
		function getUrlUpper(){
			<h:panelGroup rendered="#{empty context.getExternalContext.remoteUser}">
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"
			</h:panelGroup>
			<h:panelGroup rendered="#{!empty context.getExternalContext.remoteUser}">
				/* mark for IT script*/ window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
			</h:panelGroup>
		}
		document.domain = "#{applicationData.domainUrl}";
	</script>
	<h:panelGroup rendered="#{!empty ArticlesMenu_check}">
	<ul class="sidemenu">
		<li class="header1">#{msgs['CMS.right_side_banners.sideMenu.Articles']}</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.indexOptions']}
			</h:outputLink>
		</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/currency_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.currencyOptions']}
			</h:outputLink>
		</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/commodity_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.commodityOptions']}
			</h:outputLink>
		</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/stock_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.stockOptions']}
			</h:outputLink>
		</li>
	</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{!empty BinaryMenu_check}">
	<ul class="sidemenu">
		<li class="header1">#{msgs['CMS.right_side_banners.sideMenu.TradingGuide']}</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary_options_trading.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.BinaryOptionTrading']}
			</h:outputLink>
		</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/strategy.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.Strategy']}
			</h:outputLink>
		</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.OptionsBroker']}
			</h:outputLink>
		</li>
		<li class="list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/what-are-binary-options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.AboutOptions']}
			</h:outputLink>
		</li>
	</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty context.getExternalContext.remoteUser}">
		<div id="logedOut_banners" style="width:187px;">
			<!--regulation_inProcess_inner_space-->
			<h:panelGroup rendered="#{applicationData.skinId==9}">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/regulation_inProcess_inner_space.png" width="186" height="276"  />
			</h:panelGroup>
			<!--banner_HOW_TO_inner / onetouchTradePageBanner-->
			<h:panelGroup rendered="#{topBnr!='contactBanner' and applicationData.skinId!=9 and empty ArticlesMenu_check and empty BinaryMenu_check}"><!--IT SKIN-->
				<div style="overflow:hidden;">
				<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}" >
					<ui:include src="/jsp/banner_HOW_TO_inner.xhtml" />
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}" >
					<ui:include src="/jsp/onetouchTradePageBanner.xhtml"/>
				</h:panelGroup>
				</div>
			</h:panelGroup>
			<!--supportContactusTextBanner / supportContactusTextBannerOld-->
			<h:panelGroup rendered="#{topBnr=='contactBanner'}" >
				<div style="overflow:hidden;">
					<h:panelGroup rendered="#{applicationData.skinId != '4'}">
						<ui:include src="/jsp/supportContactusTextBanner.xhtml" />
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == '4'}">
						<ui:include src="/jsp/supportContactusTextBannerOld.xhtml" />
					</h:panelGroup>
					<!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/contactus.gif" width="186px" height="#{applicationData.usSkins? '66px':'260px'}" /> -->
				</div>
			</h:panelGroup>
			<!--Trade now button-->
			<div style="padding-top:15px; padding-bottom: 15px; border-top: solid 1px #d6d6d6; border-bottom: solid 1px #d6d6d6;overflow:hidden;margin-top:15px;">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" 
					styleClass="slides_button_right_banner" style="width: 186px;" target="_top" id="registerWBLink"/>
			</div>
			<!--binary0100banner-->
			<h:panelGroup rendered="#{contactBnr!='none' and !empty banner0100 and 
				applicationData.skinId != 4 and applicationData.skinId != 9 and applicationData.skinId != 13 and applicationData.skinId != 14}" ><!--NOT sins 4,9,13,14-->
			<div style="overflow:hidden;">
				<ui:include src="/jsp/binary0100banner.xhtml" >
					<ui:param name="type" value="right_banner" />
				</ui:include>
			</div>
			</h:panelGroup>
			<h:panelGroup rendered="#{contactBnr!='none' and (empty banner0100 or applicationData.skinId == 4 or applicationData.skinId == 9 or applicationData.skinId == 13 or applicationData.skinId == 14)}" >
			<div>
				<ui:include src="/jsp/ourTradersShare.xhtml" >
					<ui:param name="type" value="right_banner" />
				</ui:include>
			</div>
			</h:panelGroup>
			<h:panelGroup rendered="#{contactBnr=='none'}" >
				<div style="height:202px;"></div>
			</h:panelGroup>
		</div>
	</h:panelGroup>
	<h:panelGroup rendered="#{!empty context.getExternalContext.remoteUser}">
		<div id="logedIn_banners">
			<div>
			<h:panelGroup rendered="#{applicationData.skinId==9}">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/regulation_inProcess_inner_space.png" width="186" height="276px"/>
			</h:panelGroup>
			<h:panelGroup rendered="#{topBnr!='contactBanner'}">
				<iframe align="left" id="right_side_investments" name="right_side_investments" src="#{facesContext.externalContext.requestContextPath}/jsp/investments_profit_box_TP_inner.jsf" width="186" height="262" frameborder="no" scrolling="no"></iframe>
			</h:panelGroup>
			<h:panelGroup rendered="#{!empty banner0100 and applicationData.skinId != 13 and applicationData.skinId != 4 and applicationData.skinId != 9 and applicationData.skinId != 14}" >
				<ui:include src="/jsp/binary0100banner.xhtml" >							
					<ui:param name="type" value="right_banner" />
				</ui:include>
			</h:panelGroup>
			<h:panelGroup rendered="#{topBnr=='contactBanner'}">
				<ui:include src="/jsp/supportContactusTextBanner.xhtml" />
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId!=9}">
				<h:panelGroup rendered="#{topBnr!='contactBanner'}" >
					<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}" >
						<div id="BO_left_nd" style="width:187px;">
						<h:panelGroup rendered="#{applicationData.skinId!=9}" >
							<ui:include src="/jsp/banner_HOW_TO_inner.xhtml" />
						</h:panelGroup>
						</div>
					</h:panelGroup>
				</h:panelGroup><!-- NO BANNER FOR TLV -->
				<h:panelGroup rendered="#{topBnr=='contactBanner'} " >
					<div>
						<ui:include src="/jsp/supportContactusTextBanner.xhtml" />
						<!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/contactus.gif" width="186px" height="#{applicationData.usSkins? '66px':'260px'}"  /> -->
					</div>
				</h:panelGroup>
			</h:panelGroup>
			</div>
		</div>
	</h:panelGroup>
</body>
</f:view>
</html>