<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<c:if test="${!empty facesContext.externalContext.remoteUser}">
		<c:if test="${applicationData.isLive}">
			<c:if test="${user.firstBackgroundDeposit}">
				<ui:include src="/jsp/depositPixels.xhtml" />
			</c:if>
		</c:if>
		<h:outputText value="#{user.firstDepositBackgoundPixels}" escape="false" />
	</c:if>

</f:view>