<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</head>
<f:view locale="#{applicationData.userLocale}">

<body style="margin: 0px;background:none;">

	<h:form id="mobileAppForm">
		<h:inputHidden value="#{mobileAppForm.phoneType}" />
		<div class="smartphone_pop1">
			<div class="smartphone_lightB" style="float:right; padding-right:20px; padding-top:20px;cursor: pointer;" onclick="parent.stopThickBox()"><strong>X</strong></div>
			<div style="padding:25px; text-align:left;">
    			<strong><span class="smartphone_lightB"><h:outputText value="#{msgs['smartphone.sendemail.txt1']}" escape="false" /></span></strong><br />
				<br />
				<h:outputText value="#{msgs['smartphone.sendemail.txt2']}" escape="false" /><br />
				<h:outputText value="#{msgs['smartphone.sendemail.txt3']}" escape="false" /><br />
				<br />
				<h:inputText styleClass="new_input" id="email" value="#{mobileAppForm.email}" required="true" >
					<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				</h:inputText>
				<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
				<br />
				<br />
				<t:commandButton
	         		id="btnImage"
	         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/smartphone/emailsend.jpg"
	         		action="#{mobileAppForm.sendEmail}" /><br />
		    </div>
		</div>

	</h:form>
</body>
</f:view>
</html>