<f:view
 dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<script language="JavaScript">
		document.domain = "#{applicationData.domainUrl}";
		var tc = 0; // time counter
		var showTime = 15; // seconds
		var dontHide = false;
		var twittStat = "";

		timerToHide();

		function timerToHide() {
			hideOnTimeout();
			setTimeout("timerToHide()", 1000);
		}

		function setDontHide(val) {
			dontHide = val;
		}

		function hideOnTimeout() {
			if (dontHide == false) {
				if (showTime > tc) {
					tc++;
				} else {
					hideShowOff();
					hideShowOffAfter();
				}
			}
		}

		function hideShowOff() {
			document.getElementById("showOffDiv").style.display = 'none';
		}

		function hideShowOffAfter() {
			document.getElementById("showOffAfterDiv").style.display = 'none';
		}

		function positionShowOffDiv(anchor, text, invId, shSen, facebookText, twitterText) {
			tc = 0;
			hideShowOffAfter()
			text = text.replace(/&amp;amp;/g, "&amp;");
			facebookText = facebookText.replace(/&amp;amp;/g, "&amp;");
			twitterText = twitterText.replace(/&amp;amp;/g, "&amp;");
			document.getElementById('investmentsContainer:selectedInv').value=invId;
			document.getElementById('investmentsContainer:showOffSentence').value=shSen;
			document.getElementById('investmentsContainer:showOffFacebookText').value=facebookText;
			document.getElementById('investmentsContainer:showOffTwitterText').value=twitterText;
			document.getElementById('investmentsContainer:lastShowOff').value=invId;
			var shDiv = document.getElementById('showOffDiv');
			if (null != shDiv) {
				shDiv.style.display = 'inline';
				if (4 == skinId) {
					$(shDiv).css("left", f_getPosition(anchor, 'Left') + 15);
				}
				else {
					$(shDiv).css("left", f_getPosition(anchor, 'Left') - 353);
				}
				$(shDiv).css("top", f_getPosition(anchor, 'Top') + 10);
				document.getElementById("shText").innerHTML=text;
			}
		}

		function positionShowOffAfterDiv(anchor, invId, twitterTextEncoded , ShowOffId) {
			tc = 0;
			hideShowOff()
			twitterTextEncoded = twitterTextEncoded.replace(/&amp;amp;/g, "&amp;");
			document.getElementById('investmentsContainer:selectedInv').value=invId;
			twittStat = twitterTextEncoded;
			document.getElementById('fb_share').href="http://www.facebook.com/sharer.php?u=" + encodeURIComponent("#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}?so=" + ShowOffId + "&amp;t=Binary option trading");
			document.getElementById('investmentsContainer:lastShowOff').value="";
			var shDiv = document.getElementById('showOffAfterDiv');
			if (null != shDiv) {
				shDiv.style.display = 'inline';
				if (4 == skinId) {
					$(shDiv).css("left", f_getPosition(anchor, 'Left') + 15);
				}
				else {
					$(shDiv).css("left", f_getPosition(anchor, 'Left') - 365);
				}
				$(shDiv).css("top", f_getPosition(anchor, 'Top') + 10);
			}
		}

		function clickSoBtn() {
			el = document.getElementById('investmentsContainer:hiddenSo');
			el.onclick();
		}

		function clickFbShare() {
			el = document.getElementById('fb_share');
			el.onclick();
		}

		function clickTwitterShare() {
			el = document.getElementById('twitterHref');
			el.onclick();
		}

	</script>
	 <div class="floating_div_SO" id="showOffDiv" style="display: none;">
		<table cellpadding="0" cellspacing="0"
			onmouseover="setDontHide(true)"
			onmouseout="setDontHide(false)">
			<tr>
				<td align="#{applicationData.pageAlignmentReverse}" valign="bottom">
					<img id="showOffTitleImg" border="0" class="img_trans_SO" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/corner_left.gif" />
				</td>
				<td rowspan="2" align="#{applicationData.pageAlignment}" valign="top">
					<img id="showOffTitleImg" border="0" class="img_trans_SO" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/corner_right.gif" />
				</td>
			</tr>
			<tr>
				<td width="1" style="background-color: #f5f5f5;" class="table_border_SO">
					<table width="298" height="207" border="0" cellpadding="0" cellspacing="0" align="center">
						<tr>
							<td colspan="3" width="298" height="7" ></td>
						</tr>
						<tr>
							<td width="25"></td>
						   	<td align="#{applicationData.pageAlignmentReverse}" colspan="2">
						   		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/x.gif" width="6" height="5"
						   			onclick="hideShowOff()"
						   			style="cursor:pointer;" />&#160;&#160;
						   	</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/title.gif" style="background-repeat:no-repeat; background-position:#{applicationData.pageAlignment};" width="298" height="48"></td>
						</tr>
						<tr>
						  	<td height="142" ></td>
						    <td width="282" height="142">
						    	<table align="center" cellpadding="0" cellspacing="0" width="100%">
						        	<tr>
						          		<td id="shText" name="shText" class="showtext">
						          			js-js-js-js-js
								       	</td>
						       	 	</tr>
						        	<tr>
						          		<td height="20"></td>
						        	</tr>
						        	<tr>
						          		<td>
						          			<h:commandLink action="#{investmentsContainer.addShowOff}"
 												id="hiddenSo" />
						          			<t:commandButton
								  				id="soButton"
								  				image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/show_u.gif" width="104" height="17"
								  				onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/show_u.gif'"
								  				onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/show_d.gif'"
												action="#{investmentsContainer.addShowOff}"
								  				>
								  			</t:commandButton>
						          		</td>
						        	</tr>
						         	<tr>
						          		<td height="10"></td>
						        	</tr>
						      	</table>
						 	</td>
						    <td width="25" height="142"></td>
						</tr>
						<tr>
						 	<td colspan="3" width="298" height="10"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>


	<div class="floating_div_SO" id="showOffAfterDiv" style="display: none;">
		<table cellpadding="0" cellspacing="0"
			onmouseover="setDontHide(true)"
			onmouseout="setDontHide(false)">
			<tr>
				<td align="#{applicationData.pageAlignmentReverse}" valign="bottom">
					<img id="showOffTitleImg" border="0" class="img_trans_SO" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/corner_left.gif" />
				</td>
				<td rowspan="2" align="#{applicationData.pageAlignment}" valign="top">
					<img id="showOffTitleImg" border="0" class="img_trans_SO" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/corner_right.gif" />
				</td>
			</tr>
			<tr>
				<td style="background-color: #f5f5f5;" >
					<table cellpadding="0" cellspacing="0" align="center" class="table_border_SO">
						<tr>
							<td colspan="3" width="298" height="7" ></td>
					    </tr>
					    <tr>
						    <td width="7"></td>
						    <td align="#{applicationData.pageAlignmentReverse}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/x.gif" width="6" height="5"
						    onclick="hideShowOffAfter()"
						    style="cursor:pointer;" /></td>
						   	<td width="9"></td>
						</tr>
					    <tr>
					    	<td width="20" height="100"></td>
					        <td width="282" height="100">
					        	<table width="282" align="center" cellpadding="0" cellspacing="0" class="text">
					            	<tr>
					                	<td class="showtext"><strong>#{msgs['showOff.posted']}</strong></td>
					                </tr>
					                <tr>
					                	<td>&#160;</td>
					                </tr>
					                <tr>
					                	<td>#{msgs['showOff.also']}: </td>
					                </tr>
					                <tr>
					                	<td>
						          			<t:commandButton
								  				id="soButton2"
								  				image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/face.gif"
								  				onclick="clickFbShare();"
												action="#{investmentsContainer.updateShowOffFB}"
								  			/>
								  			#{msgs['showOff.share.facebook']}
					                		<a id="fb_share" style="display: none;" name="fb_share" type="icon_link" href="http://www.facebook.com/sharer.php?u=">ddd </a>
					                			<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
					                		&#160;
					                		<t:commandButton
								  				id="soButtonTwitter"
								  				image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/showOff/twitt.gif"
								  				onclick="window.open('http://twitter.com/home?status=' + twittStat);"
								  				action="#{investmentsContainer.updateShowOffTwitter}"
								  			/>
											#{msgs['showOff.share.twitter']}
					                	</td>
					                </tr>
					      		</table>
					     	</td>
					        <td height="100"></td>
					    </tr>
					    <tr>
					    	<td colspan="3" width="298" height="10"></td>
					    </tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</f:view>