<f:view
 dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<table width="457" height="201px" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top" height="201px" >
		<td width="260px" height="199px" class="show_off_small_border">
			<table width="260px" height="199px" cellpadding="0" cellspacing="0" >
        		<tr>
        			<td width="33px" align="center" background="#{applicationData.imagesPath}/1px36.gif" >
        				<a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}" >
        					<img src="#{applicationData.imagesPath}/show_icon.gif" border="0" />
	       				</a>
        			</td>
	                <td height="36px" width="227px" class="show_off_small_home_page_lable" background="#{applicationData.imagesPath}/1px36.gif"><a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}" class="show_off_small_home_page_lable">#{msgs['showOff.menu.strip']}</a></td>
				</tr>
				<tr bgcolor="#fbfbfb">
					<td colspan="2" class="show_off_small_showoff_de" align="left" height="32px" ><a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}"><h:outputText styleClass="show_off_small_showoff_de" escape="false" value="#{msgs['home.page.showOff.header']}"/></a></td>
				</tr>
				<tr height="131px">
					<td colspan="2">
						<a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}" >
						<div height="131px" style="display: block; overflow: hidden;">
							<marquee direction="up" scrollAmount="1" scrollDelay="1"
								onmouseover="this.stop();" onmouseout="this.start();" height="131px">
							   	<t:dataTable id="data"
							 		styleClass="table_SO"
							 		columnClasses=""
							        var="v"
							        value="#{showOff.list}"
							        preserveDataModel="false"
								    rows="10"
							    	renderedIfEmpty="false"
							        cellpadding="0"
							        cellspacing="0"
							        rowIndexVar="crrInvestmentIndex"
							   	>

									<h:column>
							        	&#160;
									</h:column>
									<h:column>
										<a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}" >
							        		<h:graphicImage	value="#{applicationData.imagesPath}/flags/#{v.countryId}.png" border="0" />
							        	</a>
									</h:column>
									<h:column>
										<table width="100%">
											<tr>
												<td width="100%" class="show_off_small_showoff_text" align="left">
												<a style="text-decoration: none;" class="show_off_small_showoff_text" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}" >
													<strong dir="ltr"><h:outputText value="#{v.showOffName}: " /></strong>
												</a>
												<a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/showOff.jsf')}" >
							        				<h:outputText styleClass="show_off_small_showoff_text" value="#{v.showOffText}" />
						        				</a>
							        			</td>
							        		</tr>
							        	</table>
									</h:column>
									<h:column>
							        	&#160;
									</h:column>
								</t:dataTable>
							</marquee>
						</div>
						</a>
					</td>
				</tr>
			</table>
		</td>
		<td width="11px" height="199px">&#160;</td>
    	<td width="186px" height="199px" class="show_off_small_border">
    		<iframe align="top" id="contactmeiframe" name="contactmeiframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/contactMeHPSmall.jsf" width="186" height="199px" scrolling="no" ></iframe>
   		</td>
	</tr>
</table>
</f:view>