<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	locale="#{applicationData.userLocale}"
	>

	<div style="text-align:justify">
		<p><h:outputText value="#{msgs['CMS.stock_options_content.text.t_1_1']}" escape='false'/></p>
		<p><h:outputText value="#{msgs['CMS.stock_options_content.text.t_1_2']}" escape='false'/></p>
		<p>
			<b><h:outputText value="#{msgs['CMS.stock_options_content.text.h2_2']}" escape='false'/></b><br />
			<img src="#{applicationData.imagesPath}/stock_option.png" width='501' height='226' style="float:right;margin-left:10px;" alt="#{msgs['CMS.stock_options_content.alt.stock_option.png']}"/>
			<h:outputText value="#{msgs['CMS.stock_options_content.text.t_2']}" escape='false'/><br /><br />
			<h:outputText value="#{msgs['CMS.stock_options_content.text.t_2_3']}" escape='false'/>
		</p>
		<p>
			<b><h:outputText value="#{msgs['CMS.stock_options_content.text.b_3']}" escape='false'/></b><br />
			<h:outputText value="#{msgs['CMS.stock_options_content.text.t_3']}" escape='false'/>
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary_options_trading.jsf')}" target="_self" style="color: #0284D8; text-decoration: none;">
				#{msgs['CMS.stock_options_content.label.a_3']}
			</h:outputLink>
			<h:outputText value="#{msgs['CMS.stock_options_content.text.t_3_2']}" escape='false'/>
		</p>
		<p><h:outputText value="#{msgs['CMS.stock_options_content.text.t_3_3']}" escape='false'/></p>
	</div>
</f:view>