<f:view
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
       >
<style>
.header_pages_banner{
	font-size: 14px;
	color: #a20000;
	text-align: center;
	font-weight: bold;
	background: transparent url("#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/header_pages.gif") repeat-x left top;
	height: 48px;
	/*width: 170px;*/
	line-height: 48px;
	border: 1px solid #cccccc;
	border-bottom:none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.country {
float:left;
font-weight:bold;
}
.phone_number {
float:right;
}
</style>

	<div class="cont_us_right_banner_h" id="cont_us_right_banner_opend" style="display:none;">
		<span class="cont_us_right_banner_img"></span>
		<span class="cont_us_right_banner_text"><h:outputText value="#{msgs['supportBanner.title']}"/></span>
		<span class="cont_us_right_banner_arrow"></span>
	</div>
	<div class="cont_us_right_banner_h" id="cont_us_right_banner_closed">
		<span class="cont_us_right_banner_img"></span>
		<span class="cont_us_right_banner_text2">
			<h:outputText value="#{msgs['supportBanner.title']}"/>
			<span class="cont_us_right_banner_text_in">中国 <br /> 400-120-4958</span>
		</span>
	</div>
	<div style="display:none;" id="cont_us_phones">
	<h:panelGroup  rendered="#{applicationData.skinId != 4}">
		<div class="content_pages_banner">
			<div width="100%">
				<div class="country">
					<h:outputText value="#{msgs['supportBanner.line1']}" escape="false"/>
				</div>
				<div class="phone_number">
					<h:outputText value="#{msgs['supportBanner.line1.phone.number']}" escape="false"/>
				</div>
			</div>
			<br />
			<h:panelGroup rendered="#{applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}">
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line2']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line2.phone.number']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line3']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line3.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line4']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line4.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line5']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line5.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line6']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line6.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line7']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line7.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line8']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line8.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line9']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line9.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line10']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line10.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line11']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line11.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line12']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line12.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line13']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line13.phone.number']}" escape="false" />
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line14']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line14.phone.number']}" escape="false" />
					</div>
				</div>
				<div width="100%">
					<div class="country">
						<h:outputText  rendered="#{applicationData.skinId == 4}" value="#{msgs['supportBanner.line14']}" escape="false" />
					</div>
					<!-- add phone number -->
				</div>
				<br/>
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line15']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line15.phone.number']}" escape="false" />
					</div>
				</div>
				<br/>
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line16']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line16.phone.number']}" escape="false" />
					</div>
				</div>
				<br/>
				<h:panelGroup rendered="#{applicationData.skinId == 15}">
					<div width="100%">
						<div class="country">
							<h:outputText value="#{msgs['supportBanner.line18']}" escape="false"/>
						</div>
						<div class="phone_number">
							<h:outputText value="#{msgs['supportBanner.line18.phone.number']}" escape="false"/>
						</div>
					</div>
					<br />
				</h:panelGroup>
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line17']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line17.phone.number']}" escape="false" />
					</div>
				</div>
				<br/>
				<h:outputText rendered="#{applicationData.skinId == 12 || applicationData.skinId == 10}"> <br /> </h:outputText>
			</h:panelGroup>
		</div>
	</h:panelGroup>
	<h:panelGroup  rendered="#{applicationData.skinId == 4}">
		<div class="content_pages_banner">
			<div width="100%">
				<div class="country">				
					<h:outputText value="#{msgs['supportBanner.line1.phone.number']}" escape="false"/>
				</div>
				<div class="phone_number">
					<h:outputText value="#{msgs['supportBanner.line1']}" escape="false"/>
				</div>
			</div>
			<br />
			<h:panelGroup rendered="#{applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}">
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line2.phone.number']}" escape="false"/>
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line2']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line3.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line3']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line4.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">	
						<h:outputText value="#{msgs['supportBanner.line4']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line5.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line5']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line6.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line6']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line7.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line7']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line8.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line8']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line9.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line9']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line10.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line10']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line11.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line11']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line12.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line12']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line13.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line13']}" escape="false"/>
					</div>
				</div>
				<br />
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line14.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line14']}" escape="false" />
					</div>
				</div>
				<div width="100%">
					<div class="country">
						<h:outputText  rendered="#{applicationData.skinId == 4}" value="#{msgs['supportBanner.line14']}" escape="false" />
					</div>
					<!-- add phone number -->
				</div>
				<br/>
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line15.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line15']}" escape="false" />
					</div>
				</div>
				<br/>
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line16.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line16']}" escape="false" />
					</div>
				</div>
				<br/>
				<div width="100%">
					<div class="country">
						<h:outputText value="#{msgs['supportBanner.line17.phone.number']}" escape="false" />
					</div>
					<div class="phone_number">
						<h:outputText value="#{msgs['supportBanner.line17']}" escape="false" />
					</div>
				</div>
				<br/>
				<h:outputText rendered="#{applicationData.skinId == 12 || applicationData.skinId == 10}"> <br /> </h:outputText>
			</h:panelGroup>
		</div>	
	</h:panelGroup>
	<span class="close_link_cont_us" onclick="cont_us_show(false);"><h:outputText value="#{msgs['newFeatures.close']}"/> </span>
</div>
</f:view>