<html 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" >
<head>
	<meta http-equiv="Cache-Control" content="no-cache"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
</head>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_home_page.xhtml">
	<ui:define name="tradeMenuStrip">
		<h:panelGroup rendered="#{applicationData.skinId != '4'}">
			 <ui:include src="/jsp/trade_menu_strip.xhtml">
				<ui:param name="tradingLink" value="_binaryOption" />
				<ui:param name="binaryOptionLink" value="_active" />
				<ui:param name="optionPlusLink" value="" />
				<ui:param name="oneTouchLink" value="" />
				<ui:param name="binary0100Link" value="" />
			 </ui:include>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == '4'}">
			 <ui:include src="/jsp/trade_menu_strip_old.xhtml">
				<ui:param name="binaryOptionLink" value="_active" />
				<ui:param name="optionPlusLink" value="" />
				<ui:param name="oneTouchLink" value="" />
				<ui:param name="tradingLink" value="_binaryOption" />
				<ui:param name="binary0100Link" value="" />
			 </ui:include>
		</h:panelGroup>
	</ui:define>
	<ui:define name="head">
		<script>
			var portrait = false;
			var boxesOpportunities = new Array(4);
			boxesOpportunities[0] = new Array(0);
			boxesOpportunities[1] = new Array(0);
			boxesOpportunities[2] = new Array(0);
			boxesOpportunities[3] = new Array(0);
	</script>
	</ui:define>
	<ui:define name="homePage">
		<c:set var="isHomePage" value="false" />
	</ui:define>
	<ui:define name="dbCheck">
		<t:inputHidden id="dbCheck" value="#{adminManager.testQuery}"/>
	</ui:define>
	<ui:define name="selected">
		<c:set var="selectedTd" value="trade" />
	</ui:define>
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.trade_binary_options.metadata.trade.title']}"/>
	</ui:define>
	<ui:define name="footerMsg">
		<span><h:outputText value="#{msgs['CMS.trade_binary_options.metadata.anyoption.title']}"/></span>
	</ui:define>
	<ui:define name="metaDescription">
		<c:set var="metaDesc" value="#{msgs['CMS.trade_binary_options.metadata.trade.description']}" />
	</ui:define>
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" />
	</ui:define>
	<ui:define name="message">
		<h:panelGroup rendered="#{!empty applicationData.messageHome}">
			<table cellspacing="3" cellpadding="0" border="0">
				<tr height="16">
					<td valign="middle" class="msg_from_db_nd">
						<h:outputText value="#{applicationData.messageHome.text}" escape="false" />
					</td>
				</tr>
			</table>
		</h:panelGroup>
	</ui:define>
	<ui:define name="content">
		<ui:include src="/jsp/trade_binary_options_content_old.xhtml"></ui:include>
	</ui:define>
	<ui:define name="groupParam">
		<ui:param name="group" value="#{tradingPageBean.homePageMarkets}" />
	</ui:define>
</ui:composition>
</html>