<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" >
<script>
	var serverOffsetMillis = #{applicationData.timeMilis} - new Date().getTime();
	
	document.domain = "#{applicationData.domainUrl}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
	var image_path = "#{applicationData.imagesPath}";
	var skinId = #{applicationData.skinId};
	var firstTimeVisit="#{applicationData.firstVisitAO}";
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	var bundle_msg_today = "#{msgs['investment.time.today']} ";
	var currencySymbol = "#{applicationData.realCurrencySymbol}";
	var currencyDecimalPoint = #{applicationData.currencyDecimalPointDigits};
	var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif';
	var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif';
	var marketMenuError= "#{msgs['market.menu.error']}";
	var noPhoneErrorMsg = "#{msgs['CMS.register.text.error.mandatory']}";
	var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
	var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
	var tradingPage = true;
	var isMobileParm = false;
	var hasFlash  = true;
	var portrait = false;
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
	var homePage_check = false;//if the page is home page
	var isLeftCurrencySymbol = #{applicationData.currencyLeftSymbol};
	var selectorRetunrPct="#{msgs['selector.return.pct']}";
	var selectorAboveBelowPct="#{msgs['selector.return.above.below']}";
	
	var lettersandnumbers = '#{msgs['CMS.header.label.error.lettersandnumbers.only']}';
	var passwordSmall = '#{msgs['CMS.header.label.login.error']}';
	var usernameSmall = '#{msgs['CMS.header.label.login.error']}';
	var emptyfield = '#{msgs['CMS.header.label.login.error']}';
	if (lettersandnumbers.indexOf("{0}") > -1 ) {   // remove ? that added for mobile use
		lettersandnumbers = lettersandnumbers.substr(3,lettersandnumbers.length-1);
	}
	
	var updatesFrequencyFlag = #{slipForm.loggedIn};
	var updatesFrequencyIn = #{slipForm.updateFrequencyLoggedIn};
	var updatesFrequencyNotIn = #{slipForm.updateFrequencyNotLoggedIn};
	var imgPath = '#{applicationData.userLocale.language}_#{applicationData.skinId}';
	var trading_box_expires = "#{msgs['trading.box.expires']}";
	var noLongTermMarkets = #{applicationData.marketsWithoutLongTermBySkinId};
	var sendSmsMessage = "#{msgs['investment.settle.sms.msg']}";
	
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
	
	var serverTime = #{applicationData.timeMilis};
	var dstOffset = #{applicationData.dstOffset};
	

	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
	</h:panelGroup>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		var isSmsAvaliableForUser = #{applicationData.smsAvaliableForUser};
		var sendSmsMessageShort = "#{msgs['trading.chartBox.recipt.SMS']}";
	</h:panelGroup>
</script>
</f:view>