<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title>anyoption™</title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content=""/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landingContactus#{page}#{size}.css" />
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/swfobject.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
    <script type="text/javascript">
	    swfobject.registerObject("myId", "9.0.0", "swf/expressInstall.swf");
    </script>
	<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
		<script>
		    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
		    var ajax = new AJAXInteraction(url, offsetCallback);
		    ajax.doGet();
			/*
			  Reload ticker after setting utcOffset in Session
			  This is done because ticker page up before the Ajax call(return to server side)
			*/
			function offsetCallback(responseXML) {
			   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
			}
		</script>
	</h:panelGroup>
</head>


<body dir="#{applicationData.pageDirection}">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<c:if test="${applicationData.isLive}">
	<c:if test="${applicationData.skinId == 5}">
		<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016530_Segment Pixel_ES' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
		<img src="http://ads.bluelithium.com/pixel?id=1407972&amp;t=2" width="1" height="1" />
		<!-- End of segment tag -->
	</c:if>

	<c:if test="${applicationData.skinId == 9}">
		<!-- Advertiser 'Web 3.0/Anyoption',  Include user in segment '1016444_Segment Pixel_IT' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
		<img src="http://ads.bluelithium.com/pixel?id=1407998&amp;t=2" width="1" height="1" />
		<!-- End of segment tag -->
		<img height="1" width="1" src="http://view.atdmt.com/action/Anyoption_Landing_01032012"/>
	</c:if>
</c:if>
<script>
<!--

	//	phone code keyDown
	//  allow tab key
	function phoneKeys(e) {

		var keynum;

		if(window.event) { // IE
		  keynum = e.keyCode;
  		}
  		else if(e.which) {  // Netscape/Firefox/Opera
		  keynum = e.which;
	    }

		if (keynum != 9) {  // tab key
			return false;
	  	}
	}

    function showInfo(obj){
			//obj.info_box.className="info_box show";
			child = obj.childNodes;
			for(i=0;i<child.length;i++){
				if (child[i].id== "info_box") child[i].className="info_box show";
			}
	}

	function hideInfo(obj){
			//obj.info_box.className="info_box show";
			child = obj.childNodes;
			for(i=0;i<child.length;i++){
				if (child[i].id== "info_box") child[i].className="info_box";
			}
		}

	function openErrorBox(){
		var box = document.getElementById("error_box");
		var overlay = document.getElementById("Overlay");
		overlay.style.height = Math.max(document.body.scrollHeight,document.documentElement.scrollHeight)+"px";
		box.style.display="block";
		overlay.style.display="block";
		// move box to the center
		box.style.left = ((getWidth()/2)-(250 /2 ))+"px";
	}

	function getWidth() {
		return self.innerWidth || (document.documentElement.clientWidth || document.body.clientWidth);
	}

	function closeErrorBox(){
		var box = document.getElementById("error_box");
		var overlay = document.getElementById("Overlay");
		box.style.display="none";
		overlay.style.display="none";
		setTimeout("focusError();",500);
	}

	function focusError(){
		errorField.focus();
	}

	/* Ajax call - validate user name */
	function validateUserName() {
	    var target = document.getElementById("registerForm:userName");
		if(target.value.length>0){
			    var url = "ajax.jsf?username=" + encodeURIComponent(target.value);
			    var ajax = new AJAXInteraction(url, validateCallback);
			    ajax.doGet();
	    }
	}

	/* Call back for user name validation */
	function validateCallback(responseXML) {
	   var msg = responseXML.getElementsByTagName("errormsg")[0].firstChild.nodeValue;
   	   var mdiv = document.getElementById("err_text");
       // set the style on the div to invalid
       mdiv.innerHTML = msg;
       //Show error div in case of error
       if(msg != space && msg != null){
	        openErrorBox();
	        var elm = document.getElementById("registerForm:userName");
			$('.error_70_generic').removeClass('error_70_generic');
	        elm.parentNode.className += " error_70_generic";
	        errorField = elm;
	   } else {
	   		var divClass = document.getElementById("registerForm:userName").parentNode.className + " ";
	   		var classArray = divClass.split(" ");
		    document.getElementById("registerForm:userName").parentNode.className = classArray[0];//remove the error class and leave only input class
	   }
	}

	/* Ajax call - validate duplicate emails */
	function validateEmail() {
	    var target = document.getElementById("registerForm:email");
		if (target.value.length > 0){
		    var url = "ajax.jsf?emailValidation=" + encodeURIComponent(target.value);
		    var ajax = new AJAXInteraction(url, validateEmailCallback);
		    ajax.doGet();
	    }
	}

	/* Call back for duplicate emails validation */
	function validateEmailCallback(responseXML) {
	   var msg = responseXML.getElementsByTagName("emailErrormsg")[0].firstChild.nodeValue;
   	   var mdiv = document.getElementById("err_text");
       // set the style on the div to invalid
       mdiv.innerHTML = msg;
       //Show error div in case of error
       if(msg != space && msg != null){
	        openErrorBox();
	        var elm = document.getElementById("registerForm:email");
			$('.error_70_generic').removeClass('error_70_generic');
	        elm.parentNode.className += " error_70_generic";
	        errorField = elm;
	   } else {
	   		var divClass = document.getElementById("registerForm:email").parentNode.className + " ";
	   		var classArray = divClass.split(" ");
		    document.getElementById("registerForm:email").parentNode.className = classArray[0];//remove the error class and leave only input class
	   }
	}

 -->

</script>
<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/register.js"></script>

<f:view locale="#{applicationData.userLocale}">


<script>
	document.domain = "#{applicationData.domainUrl}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
	var skinId = #{applicationData.skinId};
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	var space = '&#160;';
	var errorField;
<!--
   	function markFirstErrorField(){
        var alertMsg = "";
        var table = document.getElementById("registerForm:mainTable");
        var msgs = table.getElementsByTagName("SPAN");
        for (var i = 0; i < msgs.length; i++ ) {
        	var cls = msgs[i].className;
        	if (null != cls && cls != "") {
				if (cls == "error_messages") {
		            alertMsg = msgs[i].innerHTML;
		           	if (alertMsg != null && alertMsg != ""){
			           	var err_text = document.getElementById("err_text");
						if ((err_text.innerHTML != '#{msgs['error.register.terms']}') && (err_text.innerHTML != '#{msgs['error.register.birthdate']}')){
			                var field = msgs[i].id.split("_");
			                var input = document.getElementById(field[0]);
							input.parentNode.className += " error_70_generic";
							errorField = input;
			           	}
		                openErrorBox();
		                break;
		            }
		         }
		     }
        }
    }
     -->
</script>

<h:panelGroup rendered="#{!applicationData.rtlAlign}">
	<script>
		if (typeof(lpUnit)=='undefined') {
			var lpUnit='#{applicationData.userLocale.displayLanguage}';
		}
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/mtagconfigLanding.js" type="text/Javascript"></script>

	<!-- Begin LP Custom Variables-->
	<script type="text/javascript">
	// Variables submission using lpAddVars
		lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session  ','Campaign','#{applicationData.campaignName}');
		lpAddVars('session','SkinId','#{applicationData.skinId}');
		lpAddVars('session','survey_pre-chat_enable','on');
	</script>

</h:panelGroup>

<c:if test="${newURL == 'true' }">
 	<ui:include src="/jsp/#{applicationData.userLocale.language}/LP#{page}#{size}#{google}.xhtml"></ui:include>
 </c:if>

<c:if test="${newURL != 'true' }">
 <ui:include src="/jsp/#{applicationData.userLocale.language}/70_generic_full#{google}.xhtml"></ui:include>
</c:if>

 <script>

 </script>
</f:view>

<script>
    markFirstErrorField();
</script>

<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>

</body>
</html>
