<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:ui="http://java.sun.com/jsf/facelets">
		
		<script src="#{facesContext.externalContext.requestContextPath}/js/position_div.js"></script>
<table valign="top" cellspacing="5" cellpadding="0" border="0">
<tr><td>
<table valign="top" cellspacing="5" cellpadding="30" border="0">
<tr><td>
<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text13']}" escape='false'/> 
</p>
<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text1']}" escape='false'/> 
</p>
<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text2']}" escape='false'/>
</p>
<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text3']}" escape='false'/>
</p>
<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text4']}" escape='false'/>
</p>
<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text5']}" escape='false'/> 
</p>

<p class="info_pages_text">
	<h:outputText value="#{msgs['CMS.aboutus_content.text.text6']}" escape='false'/> 
</p>

<p class="info_pages_text">
<h:outputText value="#{msgs['CMS.aboutus_content.text.text7']}" escape='false'/><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/what-are-binary-options.jsf')}" ><h:outputText value="#{msgs['CMS.aboutus_content.text.text8']}" escape='false'/></a><h:outputText value="#{msgs['CMS.aboutus_content.text.text9']}" escape='false'/><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" ><h:outputText value="#{msgs['CMS.aboutus_content.text.text10']}" escape='false'/></a><h:outputText value="#{msgs['CMS.aboutus_content.text.text11']}" escape='false'/> 
</p>

<p class="info_pages_text">
	<table cellpadding="0" cellspacing="0">
		<tr align="left">
			<td>
				<h:panelGroup rendered="#{applicationData.skinId == 10}">
					<img id="certificatePicture" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ru_logo_certificate_about-us_ru.gif" alt="#{msgs['CMS.aboutus.alt.ru_logo_certificate_about-us_ru.gif']}" border="0" onclick="cert_pop_up();" style="margin-right: 15px;" />
				</h:panelGroup>
			</td>
			<td class="info_pages_text">	
				<h:panelGroup rendered="#{applicationData.skinId != 10 and applicationData.skinId != 15 and applicationData.skinId != 17}">
					<h:outputText value="#{msgs['CMS.aboutus_content.text.text12']}" escape='false'/>
					<h:outputLink styleClass="general_link" value="mailto:support@anyoption.com" >
						<h:outputText value="support@anyoption.com" />
					</h:outputLink>
				</h:panelGroup>
			</td>
			<h:panelGroup rendered="#{applicationData.skinId == 10}">
				<td>
					<h:outputText value="#{msgs['CMS.aboutus_content.text.text12']}" escape='false'/>
					<h:outputLink styleClass="general_link" value="mailto:support@anyoption.com" >
						<h:outputText value="support@anyoption.com" />
					</h:outputLink>
				</td>
			</h:panelGroup>
				<td  class="info_pages_text">
				<h:panelGroup rendered="#{applicationData.skinId == 17}">
					<h:outputText value="#{msgs['CMS.aboutus_content.text.text12']}" escape='false'/>
					<h:outputLink styleClass="general_link" value="mailto:support.kr@anyoption.com" >
						<h:outputText value="support.kr@anyoption.com" />
					</h:outputLink>
				</h:panelGroup>	
				</td>
				<td  class="info_pages_text">
					<h:panelGroup rendered="#{applicationData.skinId == 15}">
						<h:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/aboutus.gif" />
					</h:panelGroup>
				</td>
		</tr>
	</table>	
</p>

</td></tr>
</table>
<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
	<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
</div>
<script>
	function cert_pop_up(){
		var pop = document.getElementById("certificatePopUp");
		var pic = document.getElementById("certificatePicture");
		positionDiv(pic, pop, 169, 282);
		pop.style.display = "block";
	}
</script>
</td></tr>
</table>
</f:view>