<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['aboutus.description']}" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['ao_calendar.jsf.title']}"/>
</ui:define>
<ui:define name="title"></ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['rightnav.aboutus.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
</ui:define>
<ui:define name="showHeaderRow">
	<c:set var="showHeaderRow" value="false" />
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/#{applicationData.userLocale.language}/AO_calendar.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>