<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{applicationData.userLocale}"
       >
<h:form id="regulationPopupForm">
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
	</c:if>
    <div class="container_reg_popup">
        <div class="content_txt">
            <h1>
                #{msgs['CMS.ao_Regulation_popup.text.dear']} <h:outputText value=" "/> <h:outputText value="#{user.firstName}"/>,</h1>
            #{msgs['CMS.ao_Regulation_popup.text.text1']}
            <br />
            <br />
            <strong>#{msgs['CMS.ao_Regulation_popup.text.text2']}</strong>
            <ul>
                <li>#{msgs['CMS.ao_Regulation_popup.text.text.A']} <h:outputText value=" "/> <strong> #{msgs['CMS.ao_Regulation_popup.text.colored']}</strong> <h:outputText value=" "/> #{msgs['CMS.ao_Regulation_popup.text.id']}</li>
                <li>#{msgs['CMS.ao_Regulation_popup.text.text.A.2']} <h:outputText value=" "/> #{msgs['CMS.ao_Regulation_popup.text.colored.2']} <h:outputText value=" "/> #{msgs['CMS.ao_Regulation_popup.text.utility']}</li>
                <li>#{msgs['CMS.ao_Regulation_popup.text.ccd1']} <h:outputText value=" "/> <strong>#{msgs['CMS.ao_Regulation_popup.text.colored']}</strong> <h:outputText value=" "/> #{msgs['CMS.ao_Regulation_popup.text.ccd2']}
                <br/>
                <strong>#{msgs['CMS.ao_Regulation_popup.text.note']}</strong>#{msgs['CMS.ao_Regulation_popup.text.text.note']}</li>
            </ul>
            <br />
            #{msgs['CMS.ao_Regulation_popup.text.contact1']}
            <a href="mailto:support@anyoption.com" > Support@anyoption.com</a>#{msgs['live.AO.comma']}
            <br />#{msgs['CMS.ao_Regulation_popup.text.contact2']} 
        </div>
        <div onclick="closeRegulationPopup()" id="lightbox_close"></div>
        </div>
        
</h:form>
</f:view>
