<f:view
 		xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
  		xmlns:h="http://java.sun.com/jsf/html"
  		xmlns:t="http://myfaces.apache.org/tomahawk"
  		xmlns:c="http://java.sun.com/jsp/jstl/core"
       >
       
      <tr>
      	<td width="100%" >
          	<table width="100%" cellspacing="0" cellpadding="0" border="0">
          		<h:panelGroup rendered="#{groupTitle}">      	
          		  	<tr>
		              <td class="title_nd cl2_nd" width="20%"> <h:outputText value="#{msgs['expire.level.binary.options']}" /> </td>
		              <td class="title_nd cl2_nd" width="15%"> <h:outputText value="#{msgs['expire.level.level']}"/> </td>
		              <td class="title_nd cl3_nd" width="15%"> <h:outputText value="#{msgs['expire.level.profit.percent']}" /> </td>
		              <td class="title_nd cl4_nd" width="20%"> <h:outputText value="#{msgs['expire.level.expires']}" /> </td>
		              <td class="title_nd cl5_nd" width="25%"> <h:outputText value="#{msgs['expire.level.availability']}" /> </td>
		              <td class="title_nd cl6_nd" width="5%"></td>
		              <td></td>
			  		</tr>	
				 </h:panelGroup>
				  <tr>
			      	  <td class="subtitle_nd" colspan="6"> #{groupName} </td>
			      </tr>
	              <tr source="lightstreamer" id="opps#{groupNameSubscribe}"  onclick="activateTradeBox(this)" style="cursor: pointer;">
					  <!--asset name -->
		              <td class="table_line_nd" width="20%"> <div source="lightstreamer" field="27"></div> </td>
		              <!-- Level -->
		              <td class="table_line_nd" width="15%"> <div source="lightstreamer" field="4"></div> </td>
		              <!-- Profit -->
		              <td class="table_line_nd" width="15%"> <div source="lightstreamer" field="5"></div> </td>
		              <h:panelGroup rendered="#{applicationData.skinId != 8}">
		              	<td class="table_line_nd asset_offHours_nd" colspan="2" width="55%" style="display: none;"><h:outputText value="#{msgs['expire.level.available.at']} "/><span source="lightstreamer" field="28"></span> </td>
					  </h:panelGroup>
					  <h:panelGroup rendered="#{applicationData.skinId == 8}">
		              	<td class="table_line_nd asset_offHours_nd" colspan="2" width="55%" style="display: none;"><h:outputText value="#{msgs['expire.level.available.at1']} "/><span source="lightstreamer" field="28"></span><h:outputText value="#{msgs['expire.level.available.at2']} "/> </td>
					  </h:panelGroup>
		              <!-- Expires -->
		              <td class="table_line_nd" width="20%"> <div source="lightstreamer" field="21"></div> </td>
		              <!-- Availability -->
		              <td class="table_line_nd avWaiting_nd" width="27%"><img border="0" src="" alt="" id="stateImg_oppId" align="left"/></td>
		              <td class="table_line_nd" width="5%"><a href="#" target="_parent" class="btnOpen_nd"> <img border="0" src="#{applicationData.imagesPath}/img_arrow_tbl.png" alt="" /></a></td>
		              <!-- Market Id -->
		              <td class="table_line_nd" width="20%" style="display: none;"> <div source="lightstreamer" field="3"></div> </td>
		              <!-- priority -->
		              <td class="table_line_nd" width="20%" style="display: none;"> <div source="lightstreamer" field="30"></div> </td>
		              <!-- state -->
		              <td class="table_line_nd" width="20%" style="display: none;"> <div source="lightstreamer" field="10"></div> </td>
		              <!-- GROUP_CLOSE -->
		              <td class="table_line_nd" width="20%" style="display: none;"> <div source="lightstreamer" field="13"></div> </td>
		              <!-- SCHEDULED -->
		              <td class="table_line_nd" width="20%" style="display: none;"> <div source="lightstreamer" field="14"></div> </td>
	              </tr>
           </table>
      	</td>
      </tr>
</f:view>