<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:t="http://myfaces.apache.org/tomahawk" >

<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>

<h:form id="bankingForm">
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td>
			<table valign="top" cellspacing="0" width="596px" cellpadding="0" border="0" class="">
				<tr height="30px">
						<td height="20px" style="padding-left: 18px; padding-bottom: 0px;" width="135px">
							<h:outputText class="bankingText" value="#{msgs['banking.choose.country']}"/>
						</td>
						<td align="left">
					        <h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="new_combobox"  style="font-family: Verdana, Geneva, sans-serif;font-size: 11px;color: #093755; height: 20px;" id="countriesList" value="#{bankingForm.countryId}" required="true" onchange="this.form.submit();"
					   		  			valueChangeListener="#{bankingForm.updateCountry}">
					    		<f:selectItems value="#{applicationData.countriesList}" />
					        </h:selectOneMenu>
						</td>
					<h:panelGroup rendered="#{applicationData.skinId != 15}">	
						<td colspan="2" align="right" style="padding-bottom: 10px;">
								<c:if test="${!empty facesContext.externalContext.remoteUser}">
						        	<h:outputLink style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf" target="_parent">
						        		<h:graphicImage url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/deposit_button_u.png" border="0"/>
							        </h:outputLink>	
						        </c:if>
						        <c:if test="${empty facesContext.externalContext.remoteUser}">
						        	<h:outputLink style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" target="_parent">				        
							            <h:graphicImage url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/deposit_button_u.png" border="0"/>
							        </h:outputLink>		
						    </c:if>		    
						</td>
					</h:panelGroup>
				</tr>
				<tr height="20px">
                    <td colspan="4">
                    </td>
                </tr>
				<tr height="30px">
					<td class="new_lable_bold_title" width="168px" height="30px" style="padding-left:18px;"><h:outputText value="#{msgs['CMS.banking_content.text.text1']}" escape="false" /></td>
					<td width="177px" class="new_lable_bold_title">&#160;</td>
					<td class="new_lable_bold_title" width="125px" height="30px" align="center"><h:outputText value="#{msgs['CMS.banking_content.text.text2']}" escape="false" /></td>
					<td class="new_lable_bold_title" width="125px" height="30px" align="center"><h:outputText value="#{msgs['CMS.banking_content.text.text3']}" escape="false" /></td>
				</tr>
				<tr>
					<td colspan="4">
						<table cellpadding="0" cellspacing="0" border="0" width="596px" id="mainPaymentMethod">
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 8 or applicationData.skinId == 19}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 2 or applicationData.skinId == 13 or applicationData.skinId == 16}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
											<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 5 or applicationData.skinId == 14 or applicationData.skinId == 18}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
											<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 12 or applicationData.skinId == 21}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
											<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 9 or applicationData.skinId == 20}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 17}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
											<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 10}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 3}">
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									<h:panelGroup rendered="#{applicationData.skinId == 15}">
										<h:panelGroup rendered="#{applicationData.haveDeltaPayChina}">
											<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveDeltaPayChina}">
											<ui:include src="/jsp/banking_VISA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveDeltaPayChina}">
											<ui:include src="/jsp/banking_MasterCard.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveBaroPayOption}">
											<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
											<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveCashUOption}">
											<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEpsOption}">
											<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveGiropayOption}">
											<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveDirect24Option}">
											<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
										<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
											<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveTeleingresoOption}">
											<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.havePoil2Option}">
											<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveSantanderOption}">
											<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
											<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveIdealOption}">
											<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
											<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveUkashOption and !applicationData.haveDeltaPayChina}">
											<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveWebmoneyOption}">
											<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveDineroMailOption}">
											<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
										</h:panelGroup>
										<h:panelGroup rendered="#{applicationData.haveLobanetOption}">
											<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
										</h:panelGroup>
										<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
									</h:panelGroup>
								</td>
							</tr>
							<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
							<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
							<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
							<tr height="8px" bgcolor="#ffffff"><td colspan="4"></td></tr>
						</table>
					</td><!-- End of payments table -->
				</tr>
			</table>
	</td>
</tr>
<tr height="25px" bgcolor="#ffffff"><td colspan="4"></td></tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" width="596px"> <!-- Footer context -->	
	<tr>
		<td width="596px" class="bankingText" style="line-height: 16px; border-top: solid 1px #d6d6d6; padding-top: 20px;">
			<span>
				<h:outputText value="#{msgs['CMS.banking_content.text.text4']}" escape="false" />
			</span>
			<br/>	
			<span>
				<h:outputText value="#{msgs['CMS.banking_content.text.text5']}" escape="false" />
			</span>
		</td>
		<td width="17px">&#160;</td>
	</tr>
</table>

</h:form>
</f:view>