<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>

	<table>
		<tr height="58px" id="paymentMethodBlock_webMoney">
									<td width="155px" align="center">
										<img src="#{applicationData.imagesPath}/banking/webmoney.jpg" width="125px" height="42px" />
									</td>
									<td width="190px" id="webmoney" class="bankingBorder" align="left">
										<table cellpadding="0" cellspacing="0" width="190px" border="0">
											<tr>
												<td width="8px" id="webmoney_arrow" style="visibility: hidden;"><h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
												<td width="182px">
													<a href="javascript:;" class="bankingLabel" onclick="showArrow('webmoney', this);slidedownQesBanking('q17',this);" >&#160;
														<h:outputText value="#{msgs['payment.type.web.money']}"/>
													</a>
												</td>
											</tr>
										</table>
									</td>
									<td width="125px" align="center" class="bankingBorder">
										<img src="#{applicationData.imagesPath}/banking/v.png" width="24px" height="24px" />
									</td>
									<td width="125px" align="center">
										<img src="#{applicationData.imagesPath}/banking/x.png" width="23px" height="7px" />
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div id="q17" style="display:none; overflow:hidden;" class="payment_method_block">
											<table cellpadding="0" cellspacing="0" border="0" width="595px"> <!-- Deposit/Withdraw -->
												<h:panelGroup rendered="#{applicationData.skinId != 15}">
													<tr>
					                                    <td colspan="3" align="left" valign="top" class="tabs_banking">
					                                        <table cellpadding="0" cellspacing="0" border="0" width="160px">
					                                        	<tr>
					                                            	<td class="tabs_banking_title">
					                                            		<h:outputText value="#{msgs['CMS.banking_WebMoney.text.text1']}" escape="false" />
					                                                </td>
					                                            </tr>
					                                        </table>
					                                    </td>
					                                </tr>
				                                </h:panelGroup>
				                                <h:panelGroup rendered="#{applicationData.skinId != 15}">
				                                </h:panelGroup>
												<tr>
													<td width="17px">&#160;</td>
													<td width="560px">
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_WebMoney.text.text2']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputFormat value="#{msgs['CMS.banking_WebMoney.text.text3']}" escape="false" >
																<f:param value="http://www.wmtransfer.com/eng/about/demo/index.shtml" />
															</h:outputFormat>
														</span>
														<span class="new_lable_bold">
															<h:outputText value="#{msgs['CMS.banking_WebMoney.text.text4']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputFormat value="#{msgs['CMS.banking_WebMoney.text.text5']}" escape="false" >
																<f:param value="http://www.wmtransfer.com/" />
															</h:outputFormat>
														</span>
														<h:panelGroup rendered="#{applicationData.skinId == 10}">
															<span class="new_lable_bold">
																<h:outputText value="#{msgs['CMS.banking_WebMoney.text.text6']}" escape="false" />
															</span>
															<span class="bankingText">
																<h:outputText value="#{msgs['CMS.banking_WebMoney.text.text7']}" escape="false" />
															</span>
														</h:panelGroup>
													</td>
													<td width="28px">&#160;</td>
												</tr>
												<tr>
                                                    <td colspan="3" align="left" valign="top" class="tabs_banking">
                                                        <table cellpadding="0" cellspacing="0" border="0" width="160px">
                                                        	<tr>
                                                            	<td class="tabs_banking_title">
                                                            		<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text8']}" escape="false" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
												<tr>
													<td width="17px">&#160;</td>
													<td width="550px" style="padding-bottom: 20px;">
														<span class="new_lable_bold">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text9']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text10']}" escape="false" />
														</span>
														<span class="new_lable_bold">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text11']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text12']}" escape="false" />
														</span>
														<span class="new_lable_bold">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text13']}" escape="false" />
														</span>
														<span class="bankingText">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text14']}" escape="false" />
														</span>
														<span class="new_lable_bold">
															<h:outputText rendered="#{applicationData.skinId == 10}" value="#{msgs['CMS.banking_WebMoney.text.text15']}" escape="false" />
														</span>
													</td>
													<td width="28px">&#160;</td>
												</tr>
											</table>
										</div>
									</td>
								</tr>
								<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
	</table>
</f:view>