<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
	<div id="BO_left_nd" style="width:187px;">
		<div class="title_nd" style="height: 22px;text-align: left;vertical-align: top;padding: 3px 0 0 10px;">
			<h:outputText value="#{msgs['home.page.tab.1.how.to']}" escape="false" style="margin-top:5px; margin-right:5px; text-align: center;"/>
		</div>
		<div class="why_BO_nd">
		    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="186" height="255" id="banner_HOW_TO_inner"> 
				<param name="movie"  value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/swf/banner_HOW_TO_inner.swf" /> 
				<param name="quality" value="high" /> 
				<param name="bgcolor" value="#ffffff" />
				<param name="wmode" value="opaque" />  
				<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/swf/banner_HOW_TO_inner.swf" quality="high" bgcolor="#ffffff" width="186" height="255" name="banner_HOW_TO_inner" align=""  wmode="opaque" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
			</object>
		</div>
	</div>
</f:view>