<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{applicationData.userLocale}"
       >
      <br/>
<head>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles_bitcoin.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
		function closewin() {
			var pop = parent.document.getElementById("popUp");
			pop.style.visibility = "hidden";

		}
	</script>
</head>
<div id="" class="bitcoin_terms" style="background-image: url(#{applicationData.imagesPath}/bg_popup.png);">
  <h1>
  	<h:outputText value="#{msgs['CMS.bitcoin-options.text.terms.header']}"/>
  </h1>
  <div class="close">
    <input type="image" 
    	   onmouseout="this.src='#{applicationData.imagesPath}/binary0100/bttn_close_1.00.png'" 
    	   onmouseover="this.src='#{applicationData.imagesPath}/binary0100/bttn_close_1.00_over.png'" 
    	   onclick="closewin();" 
    	   src="#{applicationData.imagesPath}/binary0100/bttn_close_1.00.png"/>
  </div>
  <div class="bitcoin_terms_content">
    <ul start="1">
      <li><h:outputText escape="false" value="#{msgs['CMS.bitcoin-options.text.terms.line1']}"/></li>
      <li><h:outputText escape="false" value="#{msgs['CMS.bitcoin-options.text.terms.line2']}"/></li>
      <li><h:outputText escape="false" value="#{msgs['CMS.bitcoin-options.text.terms.line3']}"/></li>
      <li><h:outputText escape="false" value="#{msgs['CMS.bitcoin-options.text.terms.line4']}"/></li>
      <li><h:outputText escape="false" value="#{msgs['CMS.bitcoin-options.text.terms.line5']}"/></li>
      <li><h:outputText escape="false" value="#{msgs['CMS.bitcoin-options.text.terms.line6']}"/></li>
    </ul>
  </div>
</div>
</f:view>