<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_register.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['register.title']}"/>
</ui:define>
<ui:define name="title">#{TitleH}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.openaccount.message']}"/></h1>
</ui:define>
<ui:define name="isRegisterPage">
	<ui:param name="isRegPage" value="false" />
</ui:define>
<ui:define name="content">
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>

	<h:panelGroup rendered="#{empty emailAuthentication.email &amp;&amp; type == 'afterReg'}">
		<script>
			window.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
		</script>
	</h:panelGroup>

    <h:form id="activationForm">
   	<t:saveState value="#{loginForm}" />

	<h:panelGroup rendered="#{type == 'afterReg'}">
		<table border="0" height="80px" width="730px" cellpadding="0" cellspacing="0">
			<tr height="25px" >
				<td height="25px" width="100%"></td>
			</tr>
			<tr height="52px">
				<td width="730px" height="52px" align="center">
					 <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/register_bnr.gif" height="52px" width="632px" />
				</td>
			</tr>
			<tr height="20px"><td height="20px" width="730px">&#160;</td></tr>
		</table>
	</h:panelGroup>

	<h:panelGroup rendered="#{type == 'activation' || type == 'afterExp'}">
		<table border="0" height="25px" width="730px" cellpadding="0" cellspacing="0">
			<tr height="25px" ><td height="25px">&#160;</td></tr>
		</table>
	</h:panelGroup>

	<table align="center" border="0" height="210px" width="730px" cellpadding="0" cellspacing="0">
		<tr height="210px" align="center">
			<td width="48px">&#160;</td>
			<td height="210px" width="634px" align="center">
				<table align="center" border="0" height="210px" width="634px" cellpadding="0" cellspacing="0" class="table_border back_color_f3">
					<tr align="center">
						<td width="50px">&#160;</td>
						<td width="584px" align="#{applicationData.pageAlignment}">
							 <h:outputText class="info_pages_text_header" value="#{msgs['email.auth.confirm.header']}"/> <br/><br/>
							 <h:panelGroup rendered="#{type != 'afterExp'}">
								 <h:outputFormat  class="pages_text_11" escape="false" value="#{msgs['email.auth.confirm.sen.1']}">
								 	<f:param value="#{loginForm.email}" />
								 </h:outputFormat>
								 <br/>
								 <h:outputText class="pages_text_11" escape="false" value="#{msgs['email.auth.confirm.sen.2']}"/>
								 <h:panelGroup rendered="#{type == 'activation' &amp;&amp; !empty facesContext.externalContext.remoteUser &amp;&amp; user.hasDeposits}">
								 	&#160;<h:commandLink action="#{user.increaseEmailRefTimes}" id="refLink" value="#{msgs['email.auth.activation.refused']}" styleClass="general_link_blue" />
								 </h:panelGroup>
								 <br/><br/>
								 <div style="width:500px; height:1px; border-bottom:1px dotted black;">&#160;</div><br/>
							 </h:panelGroup>
							 <h:outputText class="pages_text_11" escape="false" value="#{msgs['email.auth.confirm.sen.3']}"/><br/><br/>
			                 <h:panelGrid cellspacing="0" cellpadding="0" columns="4" border="0" width="250px" columnClasses="#{applicationData.pageAlignment}">
			                	 <h:inputText dir="ltr" size="37" maxlength="50" styleClass="new_input" id="email" value="#{loginForm.email}"
				                		required="true" >
			                    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				                </h:inputText>
								<t:commandButton
					         		id="button"
					         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/send_u.jpg"
					         		onmouseover="Changepic('activationForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/send_d.jpg')"
					         		onmouseout="Changepic('activationForm:button','#{facesContext.externalContext.requestContextPath}/images/#{applicationData.userLocale.language}_#{applicationData.skinId}/send_u.jpg')"
					         		onclick="gowait('activationForm:button','activationForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
					         		 		 return myfaces.oam.submitForm('activationForm','activationForm:hiddenbtn');" >
					         	</t:commandButton>
				         		<h:commandLink action="#{loginForm.sendEmailActivation}" id="hiddenbtn" style="display:none"/>
				         	 </h:panelGrid>
			                 <br/><br/>
			               <t:messages id="messages" layout="table" errorClass="error_messages_12px" infoClass="pages_text_12"/>
						</td>
					</tr>
				</table>
			</td>
			<td width="48px">&#160;</td>
		</tr>
	</table>

	</h:form>
</ui:define>
</ui:composition>
</body>
</html>
