<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	    <META Http-Equiv="Cache-Control" Content="no-cache"/>
		<META Http-Equiv="Expires" Content="0"/>
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			<meta HTTP-EQUIV="refresh" CONTENT="#{applicationData.rssFeedReloadSec}" />
		</h:panelGroup>
	    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
		<script>
			document.domain = "#{applicationData.domainUrl}";
		</script>
	</head>
	<body dir="#{applicationData.pageDirection}" class="body_TP" style="background-image: none ;">
		<f:view locale="#{applicationData.userLocale}" >
			
			<div leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" dir="#{applicationData.pageDirection}" style="background-image: none ;" bgcolor="#{applicationData.tlv? '#dcdcdc':''}">	
				<div height="1px" width="309px" style="vertical-align:top;line-height:8px;">&#160;</div>	
				<div id="box_News_nd">
					<div class="right_content_title">
			            <h:outputText value="#{msgs['home.page.financial.news']}" escape="false"/>
			        </div>
					<marquee direction="up" scrollAmount="1" scrollDelay="1" onmouseover="this.stop();" onmouseout="this.start();" width="245px" height="#{facesContext.externalContext.requestParameterMap['different_page']}" class="text_nd">
						<table height="100%" border="0" cellpadding="0" cellspacing="0">
							<t:dataList value="#{applicationData.rssItems}" var="item" rowIndexVar="crrInvestmentIndex" layout="simple" rows="10">
								<tr>
									<td class="rightSide_sub_title">
										<a href="#" onclick="window.open('#{item.link}','','scrollbars=yes,height=800,width=800,resizable=yes,toolbar=yes');" class="" style="vertical-align:bottom;line-height:12px;text-decoration: none;"><h:outputText value="#{item.title}"/></a>
									</td>
								</tr>
								<tr valign="top">
									<td valign="top" width="293px" class="financial_news_date">
										<b><h:outputText styleClass="" style="" value="#{item.pubDateFormating}" escape="false"/></b>
									</td>
								</tr>
								<tr valign="top">
									<td valign="top" width="293px">
										<h:outputText styleClass="pages_text_11" style="line-height: 16px; vertical-align:top;" value="#{item.descriptionContent}" escape="false"/>
									</td>
								</tr>
							</t:dataList>
						</table>
					</marquee>
				</div>
			</div>
		</f:view>
	</body>
</html>