<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">


<br/>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text1']}" escape="false" />
</span>
<br/><br/>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text2']}" escape="false" />
</span>
<br/><br/>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text3']}" escape="false" />
</span>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text4']}" escape="false" />
</span>
<br/><br/>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text5']}" escape="false" />
</span>
<br/><br/>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text6']}" escape="false" />
</span>
<br/><br/>

<span class="info_pages_text">
	<h:outputText value="#{msgs['CMS.forex_content.text.text7']}" escape="false" />
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/digitale_optionen.jsf')}"><h:outputText value="#{msgs['CMS.forex_content.label.link1']}" escape="false" /></a>
	<h:outputText value="#{msgs['CMS.forex_content.text.text8']}" escape="false" />
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}"><h:outputText value="#{msgs['CMS.forex_content.label.link2']}" escape="false" /></a>
	<h:outputText value="#{msgs['CMS.forex_content.text.text9']}" escape="false" />
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionen_lexikon.jsf')}"><h:outputText value="#{msgs['CMS.forex_content.label.link3']}" escape="false" /></a>
	<h:outputText value="#{msgs['CMS.forex_content.text.text10']}" escape="false" />
</span>

<br/><br/>
</f:view>