
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['generalterms.one.touch.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['rightnav.generalterms.one.touch']}</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/general_term_one_touch.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>
