<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

	<table width="455" cellpadding="0" cellspacing="0" class="table_border" align="center" >
		<tr>
			<td>
				<div class="jiao">
			    	<div class="t">
						<div class="title_2" style="width:200px; float:left;">如何进行二元期权交易?</div>
						<div class="f2"><a href="#{facesContext.externalContext.requestContextPath}/zh/binary-options-trading-demo">观看演示</a></div>
			    	</div>
			    </div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="b">
		        	<div class="j12">
		           	  <div class="l f1" style="line-height:70px;">从下拉菜单中选择一种资产和到期时间</div>
		              <div class="l f1 f4">选择“看涨期权”<br />
		                <font class="f3">如果你认为价格水平在到期时间将高于当前水平</font><br />选择“看低期权”<br />
		                <font class="f3">如果你认为价格水平在到期时间将低于于当前水平</font>
		              </div>
		            </div>
		            <div class="j12 j34">
		           	  <div class="l f1" style="line-height:70px;">输入金额您的投资金额</div>
		              <div class="l f1 f5" style="line-height:18px;">如果您的预测是正确的，<br />您将可赚取65-71% 利润<br />
		                <font class="f3">（即您的期权是价内期权）</font><br />
		                <font class="f3">若您的期权是价外期权，在anyoption交易平台您仍然能获得15％的退款</font>
		              </div>
		            </div>
		        </div>
			</td>
		</tr>
	</table>
</f:view>