
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}">

<head>
	<title>
		<ui:define name="windowtitle">
		<h:outputText value="#{msgs['etrader.title']}"/>
		</ui:define>
	</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	
	<style>
		body{background: none transparent;}
	</style>
</head>
<body dir="#{applicationData.pageDirection}" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"
	  onload="this.document.title='#{msgs['etrader.title']}'">
<div align="center">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center">
			<table  width="400" border="0" cellspacing="0" cellpadding="1" bgcolor="#CCCCCC" >
				<tr>
					<td bgcolor="#ffffff" >
						<table width="100%" cellspacing="0" cellpadding="0" bgcolor="">
							<tr>
								<td>
									<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="border-width: 1px 1px 1px 1px;
										border-spacing: 2px;
										border-style: outset outset outset outset;
										border-color: #037bc7 #037bc7 #037bc7 #037bc7;
										border-collapse: collapse;
										background-color: white;" >
										<tr>
											<td colspan="3" height="20" align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_head.jpg"/></td>
										</tr>
										<tr>
											<td colspan="3" height="20" align="center"></td>
										</tr>
										<tr>
											<td colspan="3" height="20" align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printline.jpg" /></td>
										</tr>
										<tr>
											<td colspan="3" height="20" align="center"  ><strong><h:outputText value="#{msgs['investment.slip.print.success']}" /></strong></td>
										</tr>
										<tr>
											<td colspan="3" height="20" align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/printline.jpg" /></td>
										</tr>
										<tr>
											<td>

	<table   border="0" cellpadding="0" cellspacing="1" align="center" >
	<tr>
		<td></td>
	</tr>
	<tr>
		<td colspan="3"></td>
	</tr>
	<tr>
		<td  align="#{applicationData.pageAlignmentReverse}" DIR="LTR" class="slip_conf_print">
		<strong><h:outputText rendered="#{applicationData.rtlAlign}" value="&#160;#{slipForm.print.opportunity.market.displayName}&#160;" /></strong>
		<strong><h:outputText rendered="#{!applicationData.rtlAlign}" value="#{slipForm.print.opportunity.market.displayName}" /></strong>
		</td>
		<td class="slip_level" align="#{applicationData.pageAlignment}">
		<h:outputText rendered="#{applicationData.rtlAlign}" value="&#160;#{slipForm.print.opportunity.currentLevel}&#160;" />
		<h:outputText rendered="#{!applicationData.rtlAlign}" value="#{slipForm.print.opportunity.currentLevel}" />
		</td>
	</tr>
	<tr></tr>
	<tr>
		<td class="slipleft"><h:outputText value="#{msgs['investments.type']}" /></td>
		<c:if test="${slipForm.print.choice == 1}">
			<td class="slipright"><h:outputText value="#{msgs['investments.call']}" /> <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" width="9" height="8" /></td>
		</c:if>
		<c:if test="${slipForm.print.choice == 2}">
			<td class="slipright"><h:outputText value="#{msgs['investments.put']}" /> <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" width="9" height="8" /></td>
		</c:if>
	</tr>
	<tr>
		<td class="slipleft"><h:outputText value="#{msgs['investments.timeestclosing']}" /></td>
		<td class="slipright"><h:outputText value="#{slipForm.print.opportunity.timeEstClosing}"><f:convertDateTime pattern="HH:mm dd.MM.yy " timeZone="#{user.utcOffset}" /></h:outputText>
		</td>
	</tr>
	<tr>
		<td class="slipleft"><h:outputText value="#{msgs['investment.slip.amount']}" /></td>
		<td class="slipright">#{msgs[user.currency.symbol]} <h:outputText value="#{slipForm.print.amountTxt}"></h:outputText></td>
	</tr>
	<tr>
		<td colspan="2" height="8"></td>
	</tr>
	<tr>
		<td class="slipreturn_print" align="left"><h:outputText value="#{msgs['investment.slip.msg']}" /></td>
		<td></td>
	</tr>
	<tr>
		<td class="slipleft"><h:outputText value="#{msgs['investment.slip.win']}" rendered="#{slipForm.print.choice == 1}" /><h:outputText value="#{msgs['investment.slip.lose']}" rendered="#{slipForm.print.choice == 2}" /></td>
		<td class="slipright">#{msgs[user.currency.symbol]}<h:outputText value="#{slipForm.print.amountWinTxt}"></h:outputText></td>
	</tr>
	<tr>
		<td class="slipleft"><h:outputText value="#{msgs['investment.slip.lose']}" rendered="#{slipForm.print.choice == 1}" /><h:outputText value="#{msgs['investment.slip.win']}" rendered="#{slipForm.print.choice == 2}" /></td>
		<td class="slipright">#{msgs[user.currency.symbol]}<h:outputText value="#{slipForm.print.amountLoseTxt}"></h:outputText></td>
	</tr>
	<tr>
		<td class="slipconfirmation"><h:outputText value="#{msgs['investment.slip.id']}" /></td>
		<td class="slipright">#<h:outputText value="#{slipForm.print.investmentId}" /></td>
	</tr>
	<tr></tr>
</table>											</td>
											</tr>
								<tr>
									<td  height="5" colspan="3" ></td>
								</tr>
								<tr></tr>
								<tr>

									<td colspan="3" height="30"  align="center"><img onclick="window.print();" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg"
																				 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_d.jpg'"
																				 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg'"
																				 style="cursor: pointer;" /></td>
								</tr>
								<tr>
									<td colspan="3" height="20" ></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
</body>
</f:view>
</html>