
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
    <c:set var="metaDesc" value="#{msgs['CMS.lastLevels.metadata.lastlevel.description']}" />
</ui:define>
<ui:define name="selected">
	<c:set var="selectedTd" value="pastExpiries" />
</ui:define>
<ui:define name="innerPages">
    <c:set var="inrPg" value="InnerPages" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.lastLevels.metadata.jsf.title']}"/>
</ui:define>
<ui:define name="title"><h:outputText styleClass="header_new_design_pages title_size" value="#{msgs['CMS.lastLevels.text.rightnav.lastlevels']}"/></ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design title_desc_size" value="#{msgs['CMS.lastLevels.text.rightnav.lastlevels.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['CMS.lastLevels.metadata.jsf.title']}"/>
</ui:define>
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}" />
</ui:define>
<ui:define name="content">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/reutersQuote.js" ></script>
	 <f:verbatim>
	        <SCRIPT LANGUAGE="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");

			</SCRIPT>
	 </f:verbatim>

	<c:set var="td" value="binary0100_lastlevels" />
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/lastLevels_strip.xhtml" />

    <t:saveState value="#{lastLevelsForm}" />

    <h:panelGroup>

		<h:form id="lastLevelsForm" style="margin: 0px; padding: 0px;">

	    <h:panelGrid columns="1" style="margin-top:16px" width="100%" border="0">

	    <h:panelGrid styleClass="past_expires" align="center" columns="1" width="460px">

   	    <h:panelGrid align="center" columns="1" border="0" rowClasses="standardTable_ColumnCentered" >

			<t:div>
				<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="1" dir="#{applicationData.pageDirection}">
		    		<TR>
						<TD>
							<br/>
							<h:panelGrid border="0" columns="12">

					       	<h:outputText styleClass="lable_text" value="#{msgs['CMS.lastLevels.label.lastlevels.date']}"/>
							<h:inputText required="true" styleClass="input" id="from" name="from" value="#{lastLevelsForm.from}" maxlength="8"  size="8" dir="ltr" onclick="cal.select(document.forms['lastLevelsForm'].elements['lastLevelsForm:from'],'#{applicationData.rtlAlign ? 'anchor2' : 'lastLevelsForm:from'}','dd.MM.yy'); return false;">
								<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						    </h:inputText>
						    <img style="cursor:pointer;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/calendar.jpg" alt="#{msgs['CMS.lastLevels.alt.calendar.jpg']}" align="top" border="0" onClick="cal.select(document.forms['lastLevelsForm'].elements['lastLevelsForm:from'],'#{applicationData.rtlAlign ? 'anchor2' : 'lastLevelsForm:from'}','dd.MM.yy'); return false;" TITLE="" NAME="anchor2" ID="anchor2"/>
							<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error_messages"/>

						<t:selectOneMenu immediate="false"
		               		valueChangeListener="#{lastLevelsForm.updateListEvent}"
		               		onchange="submit(this);" escape="false" style="width:130px;padding-top:1px" styleClass="input_table_border" value="#{lastLevelsForm.marketGroup}" >
		       					<f:selectItem itemLabel="#{msgs['lastlevels.selectAsset']}" itemValue="0,0"/>
	    	           			<f:selectItems value="#{lastLevelsForm.marketGroupsList}" />
        				</t:selectOneMenu>

        				<h:inputHidden id="marketGroup" value="" valueChangeListener="#{lastLevelsForm.updateListEvent}"/>
                        <h:inputHidden id="selectedAssetName" value=""/>

						<h:panelGrid width="80" border="0">
		                	<t:commandButton style="vertical-align:bottom;"
				         		id="button"
				         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg" alt="#{msgs['CMS.lastLevels.alt.submit_u.jpg']}"
				         		onmouseover="Changepic('lastLevelsForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
				         		onmouseout="Changepic('lastLevelsForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
				         		onclick="gowait('lastLevelsForm:button','lastLevelsForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
				         		         return myfaces.oam.submitForm('lastLevelsForm','lastLevelsForm:hiddenbtn');" >
			         		</t:commandButton>
							 </h:panelGrid>
				         		<h:commandLink action="#{lastLevelsForm.updateBinary0100}" id="hiddenbtn" style="display:none" immediate="true"/>
					        </h:panelGrid>
							<br/>
						</TD>
					</TR>
				</TABLE>
			</t:div>

		</h:panelGrid>

		<h:panelGrid width="460" columns="1" style="text-align:center;" align="center" >

			<t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass=""
				rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_Column,standardTable_Column"
                var="v"
                value="#{lastLevelsForm.list}"
                preserveDataModel="false"
                rows="14"
                renderedIfEmpty="true"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#e1e1e1'"
				rowOnMouseOut="this.style.backgroundColor=old">

	           <t:column style="direction:#{ applicationData.skinId=='4' ? applicationData.pageDirectionReverse : applicationData.pageDirection }">

	               <f:facet name="header">
							<h:outputText class="text_white_12_bold" value="#{msgs['CMS.lastLevels.text.lastlevels.event']}"/>
	               </f:facet>
	               <h:outputText  value="#{v.printBinary0100Event}" />
	           </t:column>

	           <t:column >
	               <f:facet name="header">
	                   <h:outputText class="text_white_12_bold"  value="#{msgs['CMS.lastLevels.text.lastlevels.closinglevel']}"/>
	               </f:facet>
	               <t:outputText escape="false" value="#{v.closingLevelTxt}"  />
	           </t:column>

	           <h:column>
	               <f:facet name="header">
	                     <h:outputText class="text_white_12_bold" value="#{msgs['CMS.lastLevels.text.lastlevels.timeestclosing']}"/>
	               </f:facet>
	               <h:outputText escape="false" value="#{v.timeEstClosingTxt}"/>
	               <t:graphicImage value="#{applicationData.imagesPath}/reuters_quotes/levels-pop-up_icon-plus.png" rendered="#{v.haveReutersQuote}" onclick="showRQHint(#{v.id});" onmouseout="rqHintOpen.hide();" style="float: right; padding-right: 10px; cursor:pointer;"/>
	           </h:column>

			</t:dataTable>

        </h:panelGrid>

		<h:panelGrid rendered="#{lastLevelsForm.listSize==0}" columns="1" border="0"
			style="text-align:center;" align="center" width="475">

		 	<t:div>
	  	    <h:panelGrid rendered="#{lastLevelsForm.listSize==0}" columns="1" border="0" style="text-align:center;" align="center" >
	   		 <h:outputText class="pages_text" value="#{msgs['CMS.lastLevels.text.lastlevels.emptylist']}"/>
    		 </h:panelGrid>
			</t:div>

   		 </h:panelGrid>

		<h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

			<t:dataScroller id="scroll_1"
			        for="data"
			        fastStep="10"
			        pageCountVar="pageCount"
			        pageIndexVar="pageIndex"
			        paginator="true"
			        paginatorMaxPages="9"
			        styleClass=""
			        paginatorActiveColumnClass="paginator_active"
			        paginatorColumnClass="paginator_cols"
			        paginatorTableClass="paginator"
			        paginatorRenderLinkForActive="false"
			        immediate="true"
			        rendered="#{lastLevelsForm.listSize>13}"
			        style="text-align:center;"
			        >
			  <ui:include src="/jsp/#{applicationData.templatesDirectory}/scroller_facets.xhtml"/>
			</t:dataScroller>

		</h:panelGrid>

		</h:panelGrid>
			<h:panelGrid columns="2" border="0" style="text-align:center;" align="center" >
				<h:outputText value="#{msgs['CMS.lastLevels.text.reuters.logo.txt']}"/>
				<a href="http://www.reuters.com/" target="_blank">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/reuters_logo.gif" alt="#{msgs['CMS.lastLevels.alt.reuters_logo.gif']}" width="127px" height="33px" border="0" align="center"/>
				</a>
			</h:panelGrid>

	 	</h:panelGrid>

		<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;z-index:1;layer-background-color:white;" ></DIV>
   	    <iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0"  scrolling="No"></iframe>

        </h:form>


    </h:panelGroup>

</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
			<ui:param name="banner0100" value="true" />
		</ui:include>
	</ui:define>
</ui:composition>
</html>