<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
	<table class="learnAbout_body" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
	  <tr>
	    <td>
				<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text1']}" escape="false" />
				<a class="general_link_blue_10" HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top">
					<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.label.link1']}" escape="false" />
				</a>
				<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text2']}" escape="false" />
				<strong>
					<span class="learnAbout_color">
						<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text3']}" escape="false" />
					</span>
				</strong>
				<br/>
				<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text4']}" escape="false" />
				<strong>
					<span class="learnAbout_color">
						<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text5']}" escape="false" />
					</span>
				</strong>
				<br/>
				<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text6']}" escape="false" />
				<br/><br/>
				<h:panelGroup rendered="#{applicationData.skinId != 10}">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart_vanilla.gif" alt="#{msgs['CMS.learnAboutWhatAreContent.alt.chart_vanilla.gif']}" title="trade binary options"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == 10}">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart_vanilla_ru.gif" alt="#{msgs['CMS.learnAboutWhatAreContent.alt.chart_vanilla.gif']}" title="trade binary options"/>
				</h:panelGroup>
				<br/><br/>
				<strong>
					<span class="learnAbout_color">
						<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text7']}" escape="false" />
					</span>
				</strong>
				<br/>
				<h:outputText value="#{msgs['CMS.learnAboutWhatAreContent.text.text8']}" escape="false" />
	    </td>
	  </tr>
	</table>
</body>
</html>


