<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<head>
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
	<table class="learnAbout_body" width="550" border="0" cellpadding="0" cellspacing="0" align="center">
	  <tr>
	    <td>
	    	<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text1.a']}" escape="false" />
	    	<a class="general_link_blue_10" HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top"><h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.label.link1']}" escape="false" /></a>&#160;
			
			<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text1.b']}" escape="false" />
			
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart_callput.gif" alt="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_callput.gif']}" title="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_callput.gif']}"/>
			
			<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text2']}" escape="false" />
			
			<img src="#{applicationData.imagesPath}/chart_graph.gif" alt="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_graph.gif']}" title="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_graph.gif']}"/>
			
			<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text3']}" escape="false" />
	    </td>
	  </tr>
	</table>
</body>
</html>


