<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

	<table width="210px" height="100%" cellpadding="0" cellspacing="0">
		<tr height="30px">
			<td height="30px" colspan="3">
				<a style="text-decoration: none;" HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/what-are-binary-options.jsf')}" TARGET="_top"><h:outputText class="info_head" style="" value="#{msgs['box.profitline.header']}"/></a>
			 </td>
		</tr>
		<tr height="137px">
			<td height="137px" valign="top">
				<br/>
		    	<h:outputText escape="false" value="#{msgs['box.profitline.content.txt']}"/>
		    </td>
		</tr>
		<tr height="14px">
			<td class="info_link" height="14px" valign="middle">
		    	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/what-are-binary-options.jsf')}" target="_top" >
					<h:outputText class="info_link"  style="text-decoration: underline;" value="#{msgs['box.readmore']}"/>
				</h:outputLink>
		  		<h:outputText escape="false" value="&#160; #{msgs['box.profitline.arrow']}"/>
		    </td>
		</tr>
	</table>
</f:view>