<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
	<div class="boxLive_Trends">
        <h7>
            <h:outputText value="#{msgs['live.AO.trading.trends.subject']}" styleClass="no_margin_h7"/>
        </h7>
        <div class="info">
            <img src="#{applicationData.imagesPath}/i.png" onmouseover="showIBox('true', 'info_box_tt_oh', 'infoPic_tt', '#{applicationData.imagesPath}/i_over.jpg');"
                onmouseout="showIBox('false', 'info_box_tt_oh', 'infoPic_tt', '#{applicationData.imagesPath}/i.jpg');" style="cursor: pointer"
                id="infoPic_tt" alt="" />
	        <div id="info_box_tt_oh" class="info_msg_Live" style="display: none;">
	           <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.in']}" escape="false"/>
	        </div>
        </div>
		<div class="clear alC">
			<span class="p i1_t"><span class="p rs"><span class="p cs">&#160;</span></span></span>
			<div class="i1 g taC">
				<h:outputText value="#{msgs['live.offhours.box.1']}" />
			</div>
			<span class="p i1_b"><span class="p rs"><span class="p cs">&#160;</span></span></span>
		</div>
		<img class="alC pR zI2" src="#{applicationData.imagesPath}/prev2.png" />
		<div class="clear box1">
			<span class="p i1_t"><span class="p rs"><span class="p cs">&#160;</span></span></span>
			<div class="i1 g taC">
				<h:outputText value="#{msgs['live.offhours.box.2']}" escape="false"/>
			</div>
			<span class="p i1_b"><span class="p rs"><span class="p cs">&#160;</span></span></span>
		</div>
		<div class="clear">
			<span class="p i1_t"><span class="p rs"><span class="p cs">&#160;</span></span></span>
			<div class="i1 g taC">
				<img class="fL mr10" src="#{applicationData.imagesPath}/arr2.png" />
					<h:outputText value="#{msgs['live.offhours.box.3']}" escape="false"/>
			</div>
			<span class="p i1_b"><span class="p rs"><span class="p cs">&#160;</span></span></span>
		</div>
    </div>
</f:view>