<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<div class="boxLive_Trends">
        <h7>
            <h:outputText value="#{msgs['live.AO.trading.trends.subject']}" styleClass="no_margin_h7"/>
        </h7>
        <div class="info">
            <img src="#{applicationData.imagesPath}/i.png" onmouseover="showIBox('true', 'info_box_tt', 'infoPic_tt', '#{applicationData.imagesPath}/i_over.jpg');"
                onmouseout="showIBox('false', 'info_box_tt', 'infoPic_tt', '#{applicationData.imagesPath}/i.jpg');" style="cursor: pointer"
                id="infoPic_tt" alt="" />
	        <div id="info_box_tt" class="info_msg_Live" style="display: none;">
	           <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.in']}" escape="false"/>
	        </div>
        </div>
        <div class="trends" source="lightstreamer" id="trends">
            <!--line 1-->
            <div class="trends_line">
                <div class="asset" style="text-align: left;">
                	<div source="lightstreamer" field="12"></div>
                	<span source="lightstreamer" field="3" style="display:none;"></span>
                </div>
	            <a  target="_top" class="call" 
	            	onmouseover="showElement('true', this, '2');" 
	            	onmouseout="showElement('false', this, '2');"
	            	onclick="sendTrendToTradeBox(this, '1');">
	            </a>    
                <div id="info_msg_call_1" class="info_msg_call" >
                	<h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
                </div>
                <div class="trends_chart">
                    <div id="chart_call_1" class="chart_call">
                    	<div source="lightstreamer" field="15"></div>
                    </div>
                    <div class="chart_separator" style="background: transparent url(#{applicationData.imagesPath}/trend_separator.png) no-repeat left top;">
                    </div>
                    <div id="chart_put_1" class="chart_put">
                        <div source="lightstreamer" field="16"></div>
                    </div>
                </div>
                <a  target="_top" class="put" 
                	onmouseover="showElement('true', this, '4');" 
	            	onmouseout="showElement('false', this, '4');"
	            	onclick="sendTrendToTradeBox(this, '2');">
                </a>
                <div id="info_msg_put_1" class="info_msg_put">
                    <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
                </div>
            </div>
            <!--end of line 1-->
             <!--line 2-->
            <div class="trends_line">
                <div class="asset" style="text-align: left;">
                	<div source="lightstreamer" field="13"></div>
                	<span source="lightstreamer" field="6" style="display:none;"></span>
                </div>
                <a  target="_top" class="call" 
	            	onmouseover="showElement('true', this, '2');" 
	            	onmouseout="showElement('false', this, '2');"
	            	onclick="sendTrendToTradeBox(this, '1');">
	            </a>    
                <div id="info_msg_call_2" class="info_msg_call" >
                    <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
                </div>
                <div class="trends_chart">
                    <div class="chart_call">
                    	<div source="lightstreamer" field="17"></div>
                    </div>
                    <div class="chart_separator" style="background: transparent url(#{applicationData.imagesPath}/trend_separator.png) no-repeat left top;">
                    </div>
                    <div class="chart_put">
                        <div source="lightstreamer" field="18"></div>
                    </div>
                </div>
                <a  target="_top" class="put" 
                	onmouseover="showElement('true', this, '4');" 
	            	onmouseout="showElement('false', this, '4');"
	            	onclick="sendTrendToTradeBox(this, '2');">
                </a>
                <div id="info_msg_put_2" class="info_msg_put">
                    <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
                </div>
            </div>
            <!--end of line 2-->
             <!--line 3-->
            <div class="trends_line">
                <div class="asset" style="text-align: left;">
                	<div source="lightstreamer" field="14"></div>
                	<span source="lightstreamer" field="9" style="display:none;"></span>
                </div>
                <a  target="_top" class="call" 
	            	onmouseover="showElement('true', this, '2');" 
	            	onmouseout="showElement('false', this, '2');"
	            	onclick="sendTrendToTradeBox(this, '1');">
	            </a>    
                <div id="info_msg_call_3" class="info_msg_call" >
                    <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
                </div>
                <div class="trends_chart">
                    <div class="chart_call">
                    	<div source="lightstreamer" field="19"></div>
                    </div>
                    <div class="chart_separator" style="background: transparent url(#{applicationData.imagesPath}/trend_separator.png) no-repeat left top;">
                    </div>
                    <div class="chart_put">
                        <div source="lightstreamer" field="20"></div>
                    </div>
                </div>
                <a  target="_top" class="put" 
                	onmouseover="showElement('true', this, '4');" 
	            	onmouseout="showElement('false', this, '4');"
	            	onclick="sendTrendToTradeBox(this, '2');">
                </a>
                <div id="info_msg_put_3" class="info_msg_put">
                    <h:outputText value="#{msgs['live.AO.trading.trends.info.msg.asset']}" escape="false"/>
                </div>
            </div>
            <!--end of line 3-->
        </div>
    </div>
</f:view>