<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk">
	<body>
		<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_home_page.xhtml">
			<ui:define name="head">
				<script>
					var boxesOpportunities = new Array(1);
					boxesOpportunities[0] = new Array(0);
					var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
					var countriesDisplayName = #{applicationData.displayCountry};
					var skinIdTxt = #{applicationData.skinIdTxt};
					var imagePath = "#{applicationData.imagesPath}";
					var userLanguage = "#{applicationData.userLocale.language}";
					var marketsDecimalPoint = #{applicationData.marketsDecimalPoint};
				</script>
				<script src="#{facesContext.externalContext.requestContextPath}/js/live_page.js"></script>
				<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
				<script src="#{facesContext.externalContext.requestContextPath}/js/live_page_trends.js"></script>		
				<style>
					.top5_table .filter a {
						background: transparent url(#{applicationData.imagesPath}/icon_filter.png) no-repeat left 2px;
					}
					.top5_table .filter a:hover {
						background: transparent url(#{applicationData.imagesPath}/icon_filter_selected.png) no-repeat left 2px;
					}
					.top5_table .filter .selected {
						background: transparent url(#{applicationData.imagesPath}/icon_filter_selected.png) no-repeat left 2px;
					}
					.chart_call {
						background: transparent url(#{applicationData.imagesPath}/trend_call.png) no-repeat left top;
					}
					.chart_put {
						background: transparent url(#{applicationData.imagesPath}/trend_put.png) no-repeat right top;	
					}				
					.chart_call div, .chart_put div {
						background: transparent url(#{applicationData.imagesPath}/trend_percentPoint.png) no-repeat center bottom;
					}
				</style>	
			</ui:define>
			<ui:define name="metaDescription">
			    <c:set var="metaDesc" value="#{msgs['live.AO.description']}" />
			</ui:define>
			<ui:define name="windowtitle">
				<h:outputText value="#{msgs['live.AO.title']}"/>
			</ui:define>
			<ui:define name="keyWordsNew">
				<c:set var="keywords" value="#{msgs['live.AO.keywords']}" />
			</ui:define>			
			<ui:define name="footerMsg">
				<h:outputText value="#{msgs['CMS.index.metadata.anyoption.title']}"/>
			</ui:define>
			<ui:define name="content">		
				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
					<ui:include src="/jsp/live_logout.xhtml"></ui:include>
				</h:panelGroup>
				<h:panelGroup rendered="${!empty facesContext.externalContext.remoteUser}">
					<ui:include src="/jsp/live_login.xhtml"></ui:include>
				</h:panelGroup>
			</ui:define>
			<ui:define name="groupParam">
				<ui:param name="group" value="#{tradingPageBean.homePageMarket}" />
			</ui:define>
			<ui:define name="lsSubscriptions_live">
				<script src="#{facesContext.externalContext.requestContextPath}/js/ls_subscriptions_live.js"></script>
			</ui:define>
			<ui:define name="selected">
				<c:set var="selectedTd" value="live" />
			</ui:define>
			
		</ui:composition>
	</body>
</html>