<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >


<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_register.xhtml">
<ui:define name="contactBannerChange">
	<c:set var="contactBanner" value="none"></c:set>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['password.description']}" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['loginAuth.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['email.auth.activation.title.header']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.loginAuth.message']}"/></h1>
</ui:define>
<ui:define name="isRegisterPage">
	<ui:param name="isRegPage" value="false" />
</ui:define>
<ui:define name="content">
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/validation.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>

	<script>
	var lettersandnumbers = '#{msgs['error.lettersandnumbers.only']}';
	var passwordSmall = '#{msgs['error.password.smallsize']}';
	var usernameSmall = '#{msgs['error.username.ajaxerror']}';
	var emptyfield = '#{msgs['header.login.error']}';

	if (lettersandnumbers.indexOf("{0}") > -1 ) {   // remove ? that added for mobile use
		lettersandnumbers = lettersandnumbers.substr(3,lettersandnumbers.length-1);
	}
	</script>							
	
    <h:form id="loginForm">
   	<t:saveState value="#{loginForm}" />

	<t:inputHidden id="temp" value="#{loginForm.msg}"/>  <!-- form initialize for displaying proper error messages -->
        <h:panelGrid cellspacing="0" cellpadding="0" columns="1" align="center" style="height:25px;" width="700px">
        	&#160;
        </h:panelGrid>
        <h:panelGrid cellspacing="0" cellpadding="0" columns="1" align="center" style="background-color: #093755;height:150px;" width="700px">
			<h:panelGrid  cellspacing="0" cellpadding="4" columns="5" columnClasses="#{applicationData.pageAlignment}_align" align="center">
				<h:outputText value="#{msgs['login.auth.caption']}" styleClass="login_auth_caption" />
			</h:panelGrid>

			<h:panelGrid  cellspacing="0" cellpadding="4" columns="5" columnClasses="#{applicationData.pageAlignment}_align" align="center">

				<h:outputLabel styleClass="new_lable" style="color:white;" for="userName" value="#{msgs['register.username']}"/>
                <h:inputText styleClass="new_input" id="userName" value="#{loginForm.username}" redisplay="true" disabled="true" />

                <h:outputLabel styleClass="new_lable" style="color:white;" for="password" value="#{msgs['register.password']}"/>
                <h:inputSecret styleClass="new_input" id="password" maxlength="9" value="#{loginForm.password}" redisplay="true">
                </h:inputSecret>

				<h:panelGrid cellspacing="0" cellpadding="0" columns="2" border="0" width="100%" columnClasses="#{applicationData.columnClassesDirectionReverse}">
					<t:commandButton
		         		id="button"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login.jpg"
		         		onmouseover="Changepic('loginForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login_d.jpg')"
		         		onmouseout="Changepic('loginForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login.jpg')"
		         		onclick="gowait('loginForm:button','loginForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
		         		 		 return myfaces.oam.submitForm('loginForm','loginForm:hiddenbtn');" >
		         	</t:commandButton>
	         		<h:commandLink action="#{loginForm.loginAuthentication}" onclick="validate();" id="hiddenbtn" style="display:none"/>
		  		</h:panelGrid>
	  		</h:panelGrid>
			<br/>
			<h:panelGrid cellspacing="0" cellpadding="4" columns="5" columnClasses="#{applicationData.pageAlignment}_align" align="center" rendered="#{commonUtil.firstErrorSummaryMessage != ''}" styleClass="error_header">
	          <h:outputText value="#{commonUtil.firstErrorSummaryMessage}"/>
	        </h:panelGrid>

			<!-- <h:panelGrid  cellspacing="0" cellpadding="4" columns="5" columnClasses="#{applicationData.pageAlignment}_align" align="center" >
	  			 <h:outputText id="errorlogin" styleClass="login_auth_caption" value="#{applicationData.checkIfError}" />
	  			 <t:message id="errorloginMsg" for="errorlogin" styleClass="login_auth_caption" />
	  		</h:panelGrid>  -->

	  		<h:panelGrid  cellspacing="0" cellpadding="4" columns="1" columnClasses="#{applicationData.pageAlignment}_align" align="center">
	  			<h:outputText value="#{msgs['login.auth.txt']}" styleClass="login_small_txt" />
  			</h:panelGrid>

		</h:panelGrid>

	   	<!-- <h:panelGrid rendered="#{commonUtil.hasMessages}" cellspacing="0" cellpadding="0" columns="1" align="center" columnClasses="center_align" styleClass="table_border" style="background-color: #f3f3f3;height:150px;" width="700px">
			<h:panelGrid  cellspacing="0" cellpadding="4" columns="1" columnClasses="#{applicationData.pageAlignment}_align" align="center">
				<t:messages id="messages" layout="table" globalonly="true" errorClass="login_error_red_txt" infoClass="info_messages"/>
				 <h:outputFormat styleClass="login_error_contact_txt" escape="false" value="#{msgs['login.auth.contact.txt']}">
				 	<f:param value="#{facesContext.externalContext.requestContextPath}/jsp/emailExpiredAuth.jsf" />
				 </h:outputFormat>
			</h:panelGrid>
	    </h:panelGrid>  -->

    </h:form>

</ui:define>
</ui:composition>
</html>