<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
     >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="windowtitle">
	<h:outputText value="#{msgs['CMS.newFeatures.metadata.window.title']}"/>
</ui:define>
<ui:define name="innerPages">
    <c:set var="inrPg" value="InnerPages" />
</ui:define>
<ui:define name="metaDescription">
    <c:set var="metaDesc" value="#{msgs['CMS.newFeatures.metadata.description']}" />
</ui:define>
<ui:define name="title"><h:outputText styleClass="header_new_design_pages" value="#{msgs['CMS.newFeatures.text.title.short']}" /></ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['CMS.newFeatures.text.title.message']}" /></h1>
</ui:define>
<ui:define name="selected">
		<c:set var="selectedTd" value="newOnAo" />
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/newFeatures.jsf')}" />
</ui:define>
<ui:define name="content">
<c:set var="td" value="newonna" />
<table width="720" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3" height="20"></td>
	</tr>
	<tr>
    	<td>
    		<table align="center" width="536" cellpadding="0" cellspacing="0">
    			<!-- LIVE -->    			
    			<h:panelGroup rendered="#{applicationData.skinId != 4 &amp;&amp; applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14}">
	       	 		<tr>
	          			<td>
	          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.live.link']}" />
	          				<table cellpadding="0" cellspacing="0">
	          	   				<tr>
	                				<td height="15"></td>
					          	</tr>
					        	<tr>
	                				<td align="#{applicationData.pageAlignment}">
	                					<a href="#" name="live" ></a>
	                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_Live.png" alt="#{msgs['CMS.newFeatures.alt.title_Live.png']}"/>
	                				</td>
	              				</tr>
	              				<tr>
	                				<td height="10"></td>
	              				</tr>
	              				<tr>
	              					<td id="td_new_1" align="#{applicationData.pageAlignmentReverse}">
	              						<div id="div1" style="overflow:hidden; height:36px;">
		              						<table width="100%">
		              							<tr>
													<td class="newOnAo_st" id="text1"><h:outputText value="#{msgs['CMS.newFeatures.text.live.snippet']}" escape="false" /></td>
		              							</tr>
		              							<tr>
													<td height="20"></td>
		              							</tr>
		              							<tr>
													<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/live.png" alt="#{msgs['CMS.newFeatures.alt.live.png']}" /></td>
		              							</tr>              				
		              						</table>
		              					</div>
		              					<div id="div1open" style="line-height: 20px;">
											<strong class="newOnAo_open" onmousedown="openDiv(1);">#{msgs['CMS.newFeatures.label.details']} +</strong>
		              					</div>
		              					<div id="div1close" style="line-height: 20px; display: none;">
											<strong class="newOnAo_open" onmousedown="closeDiv(1);">#{msgs['CMS.newFeatures.label.close']} x</strong>
		              					</div>
									</td>
								</tr>
	              				<tr>
	                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
	              				</tr>
	              				<tr>
	                				<td height="5"></td>
	              				</tr>
	            			</table>
	           			</td>
	        		</tr>
        		</h:panelGroup>
    			<!-- CHOOSE PROFIT -->
       	 		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.choose.profit.link']}" />
          				<table cellpadding="0" cellspacing="0">
          	   				<tr>
                				<td height="15"></td>
				          	</tr>
				        	<tr>
                				<td align="#{applicationData.pageAlignment}">
                					<a href="#" name="chooseProfit" ></a>
                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_returnSelector.png" alt="#{msgs['CMS.newFeatures.alt.title_returnSelector.png']}"/>
                				</td>
              				</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_2" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div2" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text2"><h:outputText value="#{msgs['CMS.newFeatures.text.choose.snippet']}" escape="false" /></td>
	              							</tr>
	              							<tr>
												<td height="20"></td>
	              							</tr>
	              							<tr>
												<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/Return_selector.gif" alt="#{msgs['CMS.newFeatures.alt.Return_selector.gif']}" /></td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div2open" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(2);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div2close" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(2);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
              				<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
           			</td>
        		</tr>
        		<!-- TRENDS -->
       	 		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.trends.link']}" />
          				<table cellpadding="0" cellspacing="0">
          	   				<tr>
                				<td height="15"></td>
				          	</tr>
				        	<tr>
                				<td align="#{applicationData.pageAlignment}">
                					<a href="#" name="trend" ></a>
                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_trend.png" alt="#{msgs['CMS.newFeatures.alt.title_trend.png']}"/>
                				</td>
              				</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_3" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div3" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text3"><h:outputText value="#{msgs['CMS.newFeatures.text.trend.snippet']}" escape="false" /></td>
	              							</tr>
	              							<tr>
												<td height="20"></td>
	              							</tr>
	              							<tr>
												<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/Trends.png" alt="#{msgs['CMS.newFeatures.alt.Trends.png']}" /></td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div3open" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(3);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div3close" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(3);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
              				<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
           			</td>
        		</tr>
        		 <!-- Reuters -->
       	 		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.reuters.expiry.link']}" />
          				<table cellpadding="0" cellspacing="0">
          	   				<tr>
                				<td height="15"></td>
				          	</tr>
				        	<tr>
                				<td align="#{applicationData.pageAlignment}">
                					<a href="#" name="reuters" ></a>
                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_Reuters_expiry_fields.png" alt="#{msgs['CMS.newFeatures.alt.reuters_expiry.png']}"/>
                				</td>
              				</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_9" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div9" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text9"><h:outputText value="#{msgs['CMS.newFeatures.text.reuters.snippet']}" escape="false" /></td>
	              							</tr>
	              							<tr>
												<td height="20"></td>
	              							</tr>
	              							<tr>
												<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/Reuters_expiry_fields.png" alt="#{msgs['CMS.newFeatures.alt.reuters_expiry.png']}" /></td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div9open" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(9);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div9close" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(9);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
              				<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
           			</td>
        		</tr>
    			<!-- TAKE PROFIT -->
       	 		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.take.profit.link']}" />
          				<table cellpadding="0" cellspacing="0">
          	   				<tr>
                				<td height="15"></td>
				          	</tr>
				        	<tr>
                				<td align="#{applicationData.pageAlignment}">
                					<a href="#" name="takeProfit" ></a>
                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_takeProfit.png" alt="#{msgs['CMS.newFeatures.alt.title_takeProfit.png']}"/>
                				</td>
              				</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_4" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div4" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text4"><h:outputText value="#{msgs['CMS.newFeatures.text.take.snippet']}" escape="false" /></td>
	              							</tr>
	              							<tr>
												<td height="20"></td>
	              							</tr>
	              							<tr>
												<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/take.gif" alt="#{msgs['CMS.newFeatures.alt.take.gif']}" /></td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div4open" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(4);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div4close" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(4);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
              				<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
           			</td>
        		</tr>
        		<!-- ROLL FORWARD -->
        		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.roll.forward.link']}" />
          				<table cellpadding="0" cellspacing="0">
          					<tr>
                				<td height="15"></td>
              				</tr>
              				<tr>
                				<td align="#{applicationData.pageAlignment}">
                					<a href="#" name="roll" ></a>
                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_rollForward.png" alt="#{msgs['CMS.newFeatures.alt.title_rollForward.png']}" />
                				</td>
              				</tr>
             		 		<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_5" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div5" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text5"><h:outputText value="#{msgs['CMS.newFeatures.text.roll.snippet']}" escape="false" /></td>
	              							</tr>
	              							<tr>
												<td height="20"></td>
	              							</tr>
	              							<tr>
												<td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/roll.gif" alt="#{msgs['CMS.newFeatures.alt.roll.gif']}" /></td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div5open" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(5);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div5close" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(5);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
              				<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
           	 			</table>
           			</td>
        		</tr>
        		<!-- SMS -->
        		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.sms.link']}" />
          				<table cellpadding="0" cellspacing="0">
              				<tr>
			                	<td height="15"></td>
			              	</tr>
              				<tr>
                				<td align="#{applicationData.pageAlignment}">
	                				<a href="#" name="sms" ></a>
                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_SMS_service.png" alt="#{msgs['CMS.newFeatures.alt.title_SMS_service.png']}" />
                				</td>
             	 			</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_6" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div6" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text6"><h:outputText value="#{msgs['CMS.newFeatures.text.sms.snippet']}" escape="false" /></td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div6open" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(6);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div6close" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(6);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
             	 			<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
           			</td>
        		</tr>
        		<!-- PROFIT LINE -->
        		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.profit.line.link']}" />
          				<table cellpadding="0" cellspacing="0" >
          					<tr>
                				<td height="15"></td>
              				</tr>
              				<tr>
                				<td align="#{applicationData.pageAlignment}">
	                				<a href="#" name="ProfitLine" ></a>
	                				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_profitLine.png" alt="#{msgs['CMS.newFeatures.alt.title_profitLine.png']}" />
               					</td>
              				</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_7" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div7" style="overflow:hidden; height:36px;">
	              						<table width="100%" border="0" cellpading="0" cellspacing="0">
	              							<tr><td class="newOnAo_st" id="text7">
	              								<h:outputText value="#{msgs['CMS.newFeatures.text.profit.snippet']}" escape="false" />
		              						</td></tr>
	              						</table>
	              					</div>
	              					<div id="div7open" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(7);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div7close" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(7);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
              				<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
          	 		</td>
        		</tr>
        		<!-- SHOW OFF -->
        		<tr>
          			<td>
          				<a href="#" name="#{msgs['CMS.newFeatures.label.new.features.showOff.link']}" />
          				<table cellpadding="0" cellspacing="0" style="display: #{applicationData.skinId == 11? 'none':'inline'}"><!-- NO SHOW OFF FOR TLV TRADE -->
              				<tr>
			                	<td height="15"></td>
			              	</tr>
              				<tr>
                				<td align="#{applicationData.pageAlignment}">
	                				<a href="#" name="so" ></a>
	                				<h:panelGroup rendered="#{applicationData.skinId != 15}">
	                					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_showOff.png" alt="#{msgs['CMS.newFeatures.alt.title_showOff.png']}" />
                					</h:panelGroup>
                					<h:panelGroup rendered="#{applicationData.skinId == 15}">
                						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/title_showOff.png" alt="#{msgs['CMS.newFeatures.alt.title_showOff.png']}" />
                					</h:panelGroup>
                				</td>
             	 			</tr>
              				<tr>
                				<td height="10"></td>
              				</tr>
              				<tr>
              					<td id="td_new_8" align="#{applicationData.pageAlignmentReverse}">
              						<div id="div8" style="overflow:hidden; height:36px;">
	              						<table width="100%">
	              							<tr>
												<td class="newOnAo_st" id="text8">
													<h:outputText value="#{msgs['CMS.newFeatures.text.showOff.snippet']}" escape="false" />
												</td>
	              							</tr>
	              						</table>
	              					</div>
	              					<div id="div8open" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px;">
										<strong class="newOnAo_open" onmousedown="openDiv(8);">#{msgs['CMS.newFeatures.label.details']} +</strong>
	              					</div>
	              					<div id="div8close" align="#{applicationData.pageAlignmentReverse}" style="line-height: 20px; display: none;">
										<strong class="newOnAo_open" onmousedown="closeDiv(8);">#{msgs['CMS.newFeatures.label.close']} x</strong>
	              					</div>
								</td>
							</tr>
             	 			<tr>
                				<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/dividers.gif" alt="#{msgs['CMS.newFeatures.alt.dividers.gif']}" width="536" height="11" /></td>
              				</tr>
              				<tr>
                				<td height="5"></td>
              				</tr>
            			</table>
           			</td>
        		</tr>
      		</table>
     	</td>
  	</tr>
</table>
<div id="divText1" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.live.text']}" escape="false" />
	        <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}"
												target="_top" id="readmore_way_any" style="text-decoration: none; color: #0284D8;" border="0">
            	<h:outputText value="#{msgs['CMS.newFeatures.text.for.further.info']}" /> »
            </h:outputLink>
</div>
<div id="divSnippet1" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.live.snippet']}" escape="false" />
</div>
<div id="divText2" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.choose.text']}" escape="false" />
</div>
<div id="divSnippet2" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.choose.snippet']}" escape="false" />
</div>
<div id="divText3" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.trend.text']}" escape="false" />
</div>
<div id="divSnippet3" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.trend.snippet']}" escape="false" />
</div>
<div id="divText4" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.take.text']}" escape="false" />
</div>
<div id="divSnippet4" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.take.snippet']}" escape="false" />
</div>
<div id="divText9" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.reuters.text']}" escape="false" />
</div>
<div id="divSnippet9" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.reuters.snippet']}" escape="false" />
</div>
<div id="divText5" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.roll.text']}" escape="false" />
</div>
<div id="divSnippet5" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.roll.snippet']}" escape="false" />
</div>
<div id="divText6" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.sms.text']}" escape="false" />
</div>
<div id="divSnippet6" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.sms.snippet']}" escape="false" />
</div>
<div id="divText7" style="display: none;">
	<table width="100%">
  		<ui:include src="/jsp/profitlineContent.xhtml"></ui:include>
	</table>
</div>
<div id="divSnippet7" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.profit.snippet']}" escape="false" />
</div>
<div id="divText8" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.showOff.text']}" escape="false" />
</div>
<div id="divSnippet8" style="display: none;">
	<h:outputText value="#{msgs['CMS.newFeatures.text.showOff.snippet']}" escape="false" />
</div>
<script>
var newFeaturesOpenLive = "##{msgs['CMS.newFeatures.label.new.features.live.link']}";
var newFeaturesOpenChooseProfit = "##{msgs['CMS.newFeatures.label.new.features.choose.profit.link']}";
var newFeaturesOpenTrendProfit = "##{msgs['CMS.newFeatures.label.new.features.trends.link']}";
var newFeaturesOpenTakeProfit = "##{msgs['CMS.newFeatures.label.new.features.take.profit.link']}";
var newFeaturesOpenProfitLine = "##{msgs['CMS.newFeatures.label.new.features.profit.line.link']}";
var newFeaturesOpenRollForward = "##{msgs['CMS.newFeatures.label.new.features.roll.forward.link']}";
var newFeaturesOpenSMS = "##{msgs['CMS.newFeatures.label.new.features.sms.link']}";
var newFeaturesOpenShowOff = "##{msgs['CMS.newFeatures.label.new.features.showOff.link']}";
</script>
<script src="#{facesContext.externalContext.requestContextPath}/js/newOnAo.js"></script>


</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
			<ui:param name="banner0100" value="true" />
		</ui:include>
	</ui:define>
</ui:composition>
</html>

