
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<title><h:outputText value="#{msgs['newFullRegPL.title']}"/></title>
	<META NAME="description" content="#{msgs['newFullRegPL.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>

	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
		<script>
		    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
		    var ajax = new AJAXInteraction(url, offsetCallback);
		    ajax.doGet();
			/*
			  Reload ticker after setting utcOffset in Session
			  This is done because ticker page up before the Ajax call(return to server side)
			*/
			function offsetCallback(responseXML) {
			   var offset = responseXML.getElementsByTagName("offset")[0].firstChild.nodeValue;
			}
		</script>
	</h:panelGroup>
	<script>
		var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
		var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
	</script>
</head>
	<body style="width:1016px; height:814px; margin:0 auto; text-align:center">
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
	</c:if>
		<script>
			var skinId = #{applicationData.skinId};
			var space = '&#160;';
			var firstTimeVisit="#{applicationData.firstVisitAO}";
			var errorField;
		</script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/detect_timezone.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/register.js" type="text/javascript"></script>

		<!-- LIVE PERSON -->
		<h:panelGroup rendered="#{!applicationData.rtlAlign}">
			<script>
				if (typeof(lpUnit)=='undefined') {
					var lpUnit='#{applicationData.userLocale.displayLanguage}';
				}
			</script>
			<script src="#{facesContext.externalContext.requestContextPath}/js/mtagconfig.js" type="text/Javascript"></script>
			<!-- Begin LP Custom Variables-->
			<script type="text/javascript">
			// Variables submission using lpAddVars
				lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
				lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
				lpAddVars('session','Campaign','#{applicationData.campaignName}');
				lpAddVars('session','SkinId','#{applicationData.skinId}');
				lpAddVars('session','survey_pre-chat_enable','on');
			</script>
		</h:panelGroup>

		<script>

<!--
		    setForm('landingRegisterForm');

			/* return the first error in the page with the correct title */
			function returnFirstError(bHight, sHight){
				var alertMsg = document.getElementById("landingRegisterForm:error_msg");
				//found an error msg
				if (alertMsg.innerHTML != ""){
				   document.getElementById("errorMsgDiv").style.display = 'block';
			//	   document.getElementById("err_table").style.height = bHight;
				   //resize error msg box in order to see terms
		//		   if (alertMsg.innerHTML == '#{msgs['error.register.terms']}'){
		//				document.getElementById("err_table").style.height = sHight;
		//		   }
   			       document.getElementById("errorPopUpMsg").innerHTML = alertMsg.innerHTML;
				}
			}

			//mark the first error field in red
			function markFirstErrorField(){
		        var alertMsg = "";
		        var table = document.getElementById("formInputs");
		        var msgs = table.getElementsByTagName("SPAN");
		        for (var i = 0; i < msgs.length; i++ ) {
		        	var cls = msgs[i].className;
		        	if (null != cls && cls != "") {
						if (cls == "error_messages") {
				            alertMsg = msgs[i].innerHTML;
				           	if (alertMsg != null && alertMsg != ""){
					           	var err_text = document.getElementById("errorPopUpMsg");
								if ((err_text.innerHTML != '#{msgs['error.register.terms']}') && (err_text.innerHTML != '#{msgs['error.register.birthdate']}')){
					                var field = msgs[i].id.split("_");
					                var input = document.getElementById("landingRegisterForm:" + field[1]);
									if ($(input).is("input")) { //for input boxes
										input.style.border = '1px solid red';
										errorField = input;
										setTimeout("focusError();",500);
									} else {//select boxes
										input.parentNode.style.border = '1px solid red';
									}
								//mark password fields in red
								if (input.id == document.getElementById("landingRegisterForm:password").id){
									document.getElementById("password_text").style.border = '1px solid red';
								} else if (input.id == document.getElementById("landingRegisterForm:password2").id){
									document.getElementById("password2_text").style.border = '1px solid red';
								}
					       	}
				            break;
				            }
				         }
				     }
		        }
		    }


			//define which field will be shown - password or text
			function showPasswordField(){
				 var password = document.getElementById("landingRegisterForm:password");
				 var password2 = document.getElementById("landingRegisterForm:password2");
				 if (password.value == ''){
				 	document.getElementById("password_text").style.display = 'inline';
				 	password.style.display = 'none';
				 } else {
				 	document.getElementById("password_text").style.display = 'none';
				 	password.style.display = 'inline';
				 }
				 if (password2.value == ''){
				 	document.getElementById("password2_text").style.display = 'inline';
				 	password2.style.display = 'none';
				 } else {
				 	document.getElementById("password2_text").style.display = 'none';
				 	password2.style.display = 'inline';
				 }
			}

			//show contact us div
			function showContactUs(){
				document.getElementById("callMeDiv").style.display = 'none';
				document.getElementById("contactUsDiv").style.display = 'inline';
				positionContactUsDiv();
			}

			//show call me div
			function showCallMe(){
				document.getElementById("contactUsDiv").style.display = 'none';
				document.getElementById("callMeDiv").style.display = 'inline';
				positionCallMeDiv();
			}

			//close error box
			function closeErrorDiv() {
				document.getElementById("errorMsgDiv").style.display = 'none';
			}

			//put the error div in the right position on the page
			//! useing tigra hint!
			function positionErrorDiv() {
				var mTd = document.getElementById('smsDiv');
				var conDiv = document.getElementById('errorMsgDiv');
				if (null != mTd && null != conDiv) {
					$(conDiv).css("left", f_getPositionGB(mTd, 'Left') - 20);
				}
			}

			//get position of element
			function f_getPositionGB (e_elemRef, s_coord) {
				var n_pos = 0, n_offset,
					e_elem = e_elemRef;

				while (e_elem) {
					n_offset = e_elem["offset" + s_coord];
					n_pos += n_offset;
					e_elem = e_elem.offsetParent;
				}

				// margin correction in some browsers (not supported for GM)
				if (false) {
					n_pos += parseInt(document.body[s_coord.toLowerCase() + 'Margin']);
				}

				e_elem = e_elemRef;
				while (e_elem != document.body) {
					n_offset = e_elem["scroll" + s_coord];
					if (n_offset && e_elem.style.overflow == 'scroll')
						n_pos -= n_offset;
					e_elem = e_elem.parentNode;
				}
				return n_pos;
			}

			//Replace how to tabs by clicking on it
			function replaceHowToTab(td, span){
				var newTd = document.getElementById(td);
				var newSpan = document.getElementById(span);
				currentTd.style.backgroundColor = "#ffffff";
				currentTd.style.borderTop = "";
				currentTd.style.fontWeight = 'normal';
				currentSpan.style.display = 'none';
				newTd.style.backgroundColor = "#EEEEEE";
				newTd.style.borderTop = "3px solid #3399cc";
				newTd.style.fontWeight = 'bold';
				newSpan.style.display = 'inline';
				currentTd = newTd;
				currentSpan = newSpan;
			}

			/* Ajax call - validate user name */
			function validateUserName(userMsg) {
			    var target = document.getElementById("landingRegisterForm:userName");
				if(target.value.length>0 && target.value != userMsg){
					    var url = "ajax.jsf?username=" + encodeURIComponent(target.value);
					    var ajax = new AJAXInteraction(url, validateCallback);
					    ajax.doGet();
			    }
			}

			/* Call back for user name validation */
			function validateCallback(responseXML) {
			   var msg = responseXML.getElementsByTagName("errormsg")[0].firstChild.nodeValue;
		   	   var mdiv = document.getElementById("errorPopUpMsg");
		       // set the style on the div to invalid
		       mdiv.className = "landingRegisterForm:error_messages";
		       mdiv.innerHTML = msg;
		       //Show error div in case of error
		       if(msg != space && msg != null){
			       document.getElementById("errorMsgDiv").style.display = 'block';
			       $(':input').css('border','1px solid #8b8b8b');
				   var elm = document.getElementById("landingRegisterForm:userName");
					elm.style.border = '1px solid red';
					errorField = elm;
					setTimeout("focusError();",500);
		       } else {
		           document.getElementById("errorMsgDiv").style.display = 'none';
		 		   document.getElementById("landingRegisterForm:userName").style.border = '1px solid #8b8b8b';
		       }
			}

			/* Ajax call - validate duplicate emails */
			function validateEmail() {
			    var target = document.getElementById("landingRegisterForm:email");
				if (target.value.length > 0){
				    var url = "ajax.jsf?emailValidation=" + encodeURIComponent(target.value);
				    var ajax = new AJAXInteraction(url, validateEmailCallback);
				    ajax.doGet();
			    }
			}

			/* Call back for duplicate emails validation */
			function validateEmailCallback(responseXML) {
			   var msg = responseXML.getElementsByTagName("emailErrormsg")[0].firstChild.nodeValue;
		 	   var mdiv = document.getElementById("errorPopUpMsg");
		       // set the style on the div to invalid
		       mdiv.className = "landingRegisterForm:error_messages";
		       mdiv.innerHTML = msg;
		        //Show error div in case of error
		       if(msg != space && msg != null){
  			       document.getElementById("errorMsgDiv").style.display = 'block';
			       $(':input').css('border','1px solid #8b8b8b');
				   var elm = document.getElementById("landingRegisterForm:email");
 				   elm.style.border = '1px solid red';
				   errorField = elm;
				   setTimeout("focusError();",500);
		       } else {
		           document.getElementById("errorMsgDiv").style.display = 'none';
				   document.getElementById("landingRegisterForm:email").style.border = '1px solid #8b8b8b';
		       }
			}

			function focusError(){
				errorField.focus();
			}

			-->

		</script>
		 <ui:include src="/jsp/#{applicationData.userLocale.language}/fullRegPLNewContent.xhtml"></ui:include>
		<c:if test="${!applicationData.isLocal}">
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
		</c:if>
	</body>
</html>
