<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
	<h:panelGroup rendered="#{!applicationData.rtlAlign &amp;&amp; applicationData.skinId != 15}">
		<table width="920" height="514" border="0" cellpadding="0" cellspacing="0" align="center" >
			<tr >
				<td>
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}" target="_top">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bg_offhours_tradeBO.jpg" border="0"/>
					</a>
				</td>		
			</tr>
		</table>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 4 }">
		<table  width="920" height="400" border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
			   	<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_right.gif"  width="188" height="400" ></td>
			    <td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_top.gif" width="563" height="101" ></td>
			    <td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_left.gif" width="169" height="400" ></td>
			</tr>
			<tr>
				<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_main.gif" width="563" height="99" >
			        <table width="530" border="0" cellspacing="0" cellpadding="0" align="right">
			         	<td class="offhours_text_old" dir="#{applicationData.pageDirection}"><h:outputText escape="false" value="#{msgs['offHoursTxtLine1']}" /><br/>
	                    	<h:panelGroup rendered="#{applicationData.skinId!=5}">
	                    		<br/>
	                    	</h:panelGroup>
				            #{msgs['offHoursTxtFooter']}<br/>
				            <strong>#{msgs['offHoursTxtLine2']}</strong>
						</td>
					</table>
				</td>
			</tr>
			<tr valign="top">
				<td  background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_bottom.gif" width="563" height="200" >
					<table width="563" height="157" border="0" cellpadding="0" cellspacing="0" dir="rtl">
			  			<tr>
				    		<td colspan="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/top_1t.gif" width="529" height="51" ></td>
			    			<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/left_1t.gif" width="34" height="157" ></td>
			  			</tr>
			  			<tr valign="bottom">
			    			<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/main_1t.gif" width="349" height="76" ></td>
			    			<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/button.gif" width="180" height="76" >
								<table width="120" border="0" cellspacing="0" cellpadding="0">
			               			<tr>
			                 			<td>
											<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}"
													target="_top" style="text-decoration: none;" border="0">
												<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/1t_btn.gif" width="175" height="55" border="0" />
											</h:outputLink>
										</td>
			             			</tr>
			          			</table>
			          		</td>
						</tr>
						<tr>
					    	<td colspan="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/bottom_1t.gif" width="529" height="30"></td>
					  	</tr>
					</table>
				</td>
			</tr>
		</table>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 15}">
		<table width="920" height="400" border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_left.gif" width="188" height="400"></td>
				<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_top.gif" width="563" height="101" alt=""></td>
				<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_right.gif" width="169" height="400"></td>
			</tr>
			<tr>
				<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_main.gif" width="563" height="99">
		       		<table width="515" border="0" cellspacing="0" cellpadding="0" align="center">
		           		<tr>
		                    <td class="offhours_text">
		                    		<h:outputText escape="false" value="#{msgs['offHoursTxtLine1']}" /><br/>
			                    	<h:panelGroup rendered="#{applicationData.skinId!=5}">
			                    		<br/>
			                    	</h:panelGroup>
							</td>
		              	</tr>
		              	<tr>
		              		<td class="offhours_text1">
		              			<h:outputText escape="false" value="#{msgs['offHoursTxtFooter']}" /><br/>
		              			<strong>#{msgs['offHoursTxtLine2']}</strong>
		              		</td>
		              	</tr>
		       		</table>
		        </td>
			</tr>
			<tr valign="top">
				<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/offhours_1t_bottom.gif" width="563" height="200">
		        	<table width="563" height="157" border="0" cellpadding="0" cellspacing="0" align="center">
						<tr>
							<td colspan="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/1t_top.gif" width="532" height="51"></td>
							<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/1t_right.gif" width="31" height="157"></td>
						</tr>
						<tr valign="bottom">
							<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/main_1t.gif" width="352" height="76"></td>
							<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/1t_btn1.gif" width="180" height="76">
					       		<table width="100" border="0" cellspacing="0" cellpadding="0">
					       			<tr >
					                	<td>
											<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}"
													target="_top" style="text-decoration: none;" border="0">
												<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/1t_btn.gif" width="175" height="55" border="0" />
											</h:outputLink>
										</td>
					              	</tr>
					            </table>
							</td>
						</tr>
						<tr>
							<td colspan="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/bottom_1t.gif" width="532" height="30" ></td>
						</tr>
					</table>
		   		</td>
			</tr>
		</table>
	</h:panelGroup>
</f:view>
