<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
	<table width="630px" height="248px" border="0" cellpadding="0" cellspacing="0" align="center" >
	  	<tr>
	  		<td>
	  			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}">
	  				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bg_offhours_hp.png" border="0"/>
	  			</a>
	  		</td>
	  	</tr>
	</table>
</f:view>