<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>
<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.oneTouchTerms.metadata.onetouchterms.description']}" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.oneTouchTerms.metadata.onetouchterms.windowTitle']}"/>
</ui:define>
<ui:define name="title">
	<span class="title_size" ><h:outputText value="#{msgs['CMS.oneTouchTerms.text.onetouch.header']}"/></span>
</ui:define>
<ui:define name="title_message">
	<h1><span class="title_desc_size" style="color:#0284D6;"><h:outputText value="#{msgs['CMS.oneTouchTerms.text.onetouch.title']}"/></span></h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['onetouchterms.windowTitle']}"/>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouchTerms.jsf')}" />
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/oneTouchTerms_content.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>