<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
	<head>
	    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	</head>
	<body>
		<h:form>
		<table border="1" cellspacing="0" cellpadding="0">
			<t:dataList id="oppsList" value="#{oppPagingTestForm.dataModel}" var="crrOpp" rows="10" layout="simple">
			<tr>
				<td>
					<h:outputText value="#{crrOpp.id}" />
				</td>
				<td>
					<h:outputText value="#{crrOpp.timeActClosing}" />
				</td>
				<td>
					<h:outputText value="#{crrOpp.closingLevel}" />
				</td>
			</tr>
			</t:dataList>
			<tr>
				<td colspan="3" align="center">
					<t:dataScroller id="scroll_1"
							fastStep="10"
							paginator="true"
							paginatorMaxPages="9"
							for="oppsList"
							paginatorRenderLinkForActive="false"
							renderFacetsIfSinglePage="false"
							immediate="true">
						<f:facet name="first">
							first
						</f:facet>
						<f:facet name="last">
							last
						</f:facet>
						<f:facet name="previous">
							prev
						</f:facet>
						<f:facet name="next">
							next
						</f:facet>
						<f:facet name="fastforward">
							ff
						</f:facet>
						<f:facet name="fastrewind">
							rewind
						</f:facet>
					</t:dataScroller>
				</td>
			</tr>
		</table>
		</h:form>
	</body>
</html>
