<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<h:form id="passwordForm">
		<div class="forgot_pass_text">
			<h:outputText value="#{msgs['CMS.password_content.text.text1']}" escape="false"/>
		</div>
		<div class="forgot_pass_inputs">
			 <!-- mobile -->				
			 <div class="clear" align="left">
				<h:outputLabel  width="3px" styleClass="new_label" value=" +" style="margin-right:-11px;" escape="false" for="mobilePhoneCode"/>
				<h:inputText maxlength="4" styleClass="login_input vaM ml10" style="width:45px;" id="mobilePhoneCode" value="#{passwordForm.phoneCode}"/>
				<h:inputText maxlength="20" styleClass="login_input vaM ml10"  id="mobilePhone" value="#{passwordForm.mobilePhone}" onfocus="clearDefaultValueOnFocus(id)" onblur="fillDefaultValueOnBlur(id)">
					<f:validator validatorId="recoveryPasswordFieldValidator"/>
				</h:inputText>
				<span class="password_recovery_error_good" id="mobile_good_pic"></span>
				<span class="password_recovery_error_bad" id = "mobile_bad_pic"></span>
				<t:message id="phoneError" for="mobilePhone"  styleClass="error_messages" style="white-space:nowrap;"/>
				<t:message id="phoneErrorCode" for="mobilePhoneCode"  styleClass="error_messages" style="white-space:nowrap;"/>
			</div>
			<!-- email -->
			<div class="clear mt15" align="left" style="margin-left: -2px;">
				<h:inputText dir="ltr" styleClass="login_input ml10"  maxlength="50" id="email" value="#{passwordForm.email}" style="width:257px;" onfocus="clearDefaultValueOnFocus(id)" onblur="fillDefaultValueOnBlur(id)">
					<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				</h:inputText>
				<span class="password_recovery_error_good" id="email_good_pic"></span>
				<span class="password_recovery_error_bad" id="email_bad_pic"></span>
				<t:message id="emailError" for="email" styleClass="error_messages" style="white-space:nowrap;"/>
				<div class="clear mt10" align="left" style="margin-left: -80px">
					<label class="forgot_pass_label vaM"><h:outputText value="#{msgs['CMS.password.recovery.send.me.via']} " escape="false" for="mailSms" rendered="#{!passwordForm.sentPassword}"/></label>
					<div class="forgot_pass_radio">
						<t:selectOneRadio id="mailSms" value="#{passwordForm.smsOrEmail}" rendered="#{!passwordForm.sentPassword}">											
							 <f:selectItem id="item1" itemLabel="#{msgs['CMS.password.recovery.email']}" itemValue="true" />
							 <f:selectItem id="item2" itemLabel="#{msgs['CMS.password.recovery.sms']}" itemValue="false" />
						</t:selectOneRadio>
					</div>
				</div>
			</div>
			
			<!-- error message -->
			<div align="center" style="margin-left:7px;height:25px;">
				 <h:outputText id="errorlogin" />
				 <t:message id="errorloginMsg" for="errorlogin" styleClass="info_messages"/>
			</div>
		 
			<script>
				setOnfocusToControls();
				validateErrorMessages();
			</script>
			
			<div class="login_info_1" style="margin-left: 7px;">
				<a href="#" onclick="return myfaces.oam.submitForm('passwordForm','passwordForm:hiddenbtn');" class="buton_blue but_sprite clear">
					<span class="rs but_sprite"><span class="w182 cs but_sprite ttUC"><h:outputText value="Submit" escape="false"/> &#187;</span></span>
				</a>
			</div>
			<h:commandLink action="#{passwordForm.sendPassword}" rendered="#{!passwordForm.sentPassword}" id="hiddenbtn" style="display:none"/>
		</div>
		<div class="clear login_footer">
			<img border="0" alt="" src="#{applicationData.imagesPath}/thawte.png" class="fL mr10"/>
			<h:outputText value="#{msgs['CMS.security.text.t1']}" escape="false" />
			<a class="blueLink" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}"> <h:outputText value="#{msgs['optionPlus.readMore']}" escape="false" /></a>
		</div>
	</h:form>
</f:view>