<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>	

</head>
<body dir="#{applicationData.pageDirection}" >
	<f:view locale="#{applicationData.userLocale}">
		
		<script>
			document.domain = "#{applicationData.domainUrl}";
			
			var params = window.location.search.substring(1);
			window.top.location.href =  "#{facesContext.externalContext.requestContextPath}/jsp/register.jsf?" + params;
		</script>	
	</f:view>
</body>
</html>
