<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
		<script>window.location = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"</script>
	</h:panelGroup>
	<div class="regulation_main">
		<p class="mt20">
			<h:outputFormat value="#{msgs['CMS.regulation_content.text.t1']}" escape='false'>
				<f:param value="http://www.cysec.gov.cy/licence_members_1_en.aspx" />
			</h:outputFormat>
		</p>
		<p><h:outputText value="#{msgs['CMS.regulation_content.text.t2']}" escape='false'/></p>
		<p class="mt40"><h:outputText value="#{msgs['CMS.regulation_content.text.t3']}" escape='false'/></p>
		<table class="regulation_tbl" cellspacing="0" cellpadding="0">
			<tr>
				<th width="170" class="regulation_tbl_rb" colspan="2"><h:outputText value="#{msgs['CMS.regulation_content.text.tbl_country']}" escape='false'/></th>
				<th><h:outputText value="#{msgs['CMS.regulation_content.text.tbl_regulatory_authority']}" escape='false'/></th>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_at.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.aut']}" escape='false'/>
				</td>
				<td>
					<a href="http://www.fma.gv.at/en/companies/search-companies.html" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_au']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_be.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.bel']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fsma.be/" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_be']}" escape='false'/></a>
				</td>
			</tr>	
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_bg.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.bgr']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fsc.bg/" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_bg']}" escape='false'/></a>
				</td>
			</tr>	
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_cy.png" />				
				</td>
				<td class="regulation_tbl_rb">	
					<h:outputText value="#{msgs['countries.cyp']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.cysec.gov.cy/licence_members_14_en.aspx" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_cy']}" escape='false'/></a>
				</td>
			</tr>	
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_cz.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.cze']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.cnb.cz" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_cz']}" escape='false'/></a>
				</td>
			</tr>	
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_dk.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.dnk']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.ftnet.dk/da/Search.aspx?q=ouroboros" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_dk']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_ee.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.est']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fi.ee/index.php?id=1975&amp;action=showentity&amp;eid=82834" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_ee']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_fi.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.fin']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.finanssivalvonta.fi" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_fi']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_fr.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.fra']}" escape='false'/>					
				</td>
				<td>
					<a href="https://www.regafi.fr/spip.php?page=results&amp;type=simple&amp;id_secteur=1&amp;lang=fr&amp;denomination=ouroboros" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_fr']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_de.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.deu']}" escape='false'/>					
				</td>
				<td>
					<a href="https://portal.mvp.bafin.de/database/InstInfo/sucheForm.do?sucheButton=Suche&amp;RAP=29f0b51d%3A1405282ab3a%3A-4d08&amp;kategorieId=&amp;institutId=&amp;institutName=E&amp;d-4012550-p=5" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_de']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_gr.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.grc']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.hcmc.gr" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_gr']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_hu.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.hun']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.pszaf.hu/" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_hu']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_is.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.isl']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fme.is" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_is']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_it.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.ita']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.consob.it/mainen/documenti/english/intermediaries/albi/COM.html?symblink=/mainen/intermediares/investments_firms/com_lnk.html" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_it']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_ie.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.irl']}" escape='false'/>
				</td>
				<td>
					<a href="http://www.centralbank.ie" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_ie']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_lv.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.lva']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fktk.lv" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_lv']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_li.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.lie']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fma-li.li" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_li']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_lt.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.ltu']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.finmin.lt/web/finmin/finrink/instituc/vpk" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_lt']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_lu.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.lux']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.cssf.lu" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_lu']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_mt.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.mlt']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.mfsa.com.mt/pages/licenceholders.aspx" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_mt']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_nl.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.nld']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.afm.nl" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_nl']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_no.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.nor']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.finanstilsynet.no" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_no']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_pl.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.pol']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.knf.gov.pl" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_pl']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_pt.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.prt']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.cmvm.pt" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_pt']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_ro.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.rom']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.cnvmr.ro" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_ro']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_sk.png" />
				</td>
				<td class="regulation_tbl_rb">	
					<h:outputText value="#{msgs['countries.svk']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.nbs.sk/_img/Documents/_Dohlad/Mifid.pdf" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_sk']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_si.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.svn']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.atvp.si/Eng/Default.aspx?id=145" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_si']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_es.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.esp']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.cnmv.es/Portal/Consultas/ESI/ESISExtranjerasLP.aspx?numero=3482&amp;tipo=CLP" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_es']}" escape='false'/></a>
				</td>
			</tr>
			<tr class="regulation_tbl_odd">
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_se.png" />
				</td>
				<td class="regulation_tbl_rb">
					<h:outputText value="#{msgs['countries.swe']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fi.se/Folder-EN/Startpage/Register/Company-register/?sok1=ouroboros&amp;mode=wide" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_se']}" escape='false'/></a>
				</td>
			</tr>
			<tr>
				<td class="regulation_tbl_fl">
					<img src="#{applicationData.imagesPath}/flags_reg/flag_uk.png" />
				</td>
				<td class="regulation_tbl_rb">						
					<h:outputText value="#{msgs['countries.gbr']}" escape='false'/>					
				</td>
				<td>
					<a href="http://www.fsa.gov.uk/register/firmRegulator.do?sid=321765" target="_blank"><h:outputText value="#{msgs['CMS.regulation_content.text.auth_uk']}" escape='false'/></a>
				</td>
			</tr>
		</table>
		<p><h:outputText value="#{msgs['CMS.regulation_content.text.t4']}" escape='false'/></p>
	</div>
</f:view>