<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>

</head>
<body dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >


<table width="389" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="527" colspan="2" height="43" align="center" style="background-color: #fff;">
			<table>
				<tr>
					<td>
						<span style=" font-family:Verdana, Geneva, sans-serif; font-size:11px">#{msgs['CMS.reuters.quotes.popup.data.provided.by']}</span>
					</td>
					<td>
						<img src="#{applicationData.imagesPath}/reuters_logo.gif" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" valign="middle" bgcolor="#000000" >
			<table width="377" height="51" border="0" cellpadding="2" cellspacing="0"  style=" font-family:'Courier New', Courier, monospace; color:#FFF; font-size:11px">
				<tr>
					<td colspan="7" style="border-bottom: 1px white solid;" ><strong style=" font-size:14px">#{reutersQuotesPopupForm.rqp.headerLine}</strong></td>
				</tr>
				<tr>
					<td width="7" align="center" style="border-bottom: 1px dotted white;">&#160;</td>
					<td width="92" align="center" style="border-bottom: 1px dotted white;">&#160;</td>
					<td width="68" align="center" style="border-bottom: 1px dotted white;">&#160;</td>
					<td width="59" align="center" style="border-bottom: 1px dotted white;">LAST </td>
					<td width="59" align="center" style="border-bottom: 1px dotted white;">ASK </td>
					<td width="56" align="center" style="border-bottom: 1px dotted white;">BID</td>
					<td width="8" align="center" style="border-bottom: 1px dotted white;">&#160;</td>
				</tr>
				<t:dataList
					value="#{reutersQuotesPopupForm.rqp.reutersQuotes}"
					var="rq"
					rowIndexVar="rqRow"
					rowCountVar="rqRowCount" >
					<tr bgcolor="#{rqRow == 1 or rqRowCount == 1? '#FFFFFF' : ''}" style="#{rqRow == 1 or rqRowCount == 1? 'color:#000;' : ''}">
						<td width="7" align="center" bgcolor="#{rqRow == 1 or rqRowCount == 1? '#000000' : ''}"  > &#160;</td>
						<h:panelGroup rendered="#{reutersQuotesPopupForm.rqp.shouldShowTime()}">
							<td width="92" align="center" >#{rq.getTimeByformat('HH:mm:ss:SSS')}</td>
						</h:panelGroup>
						<h:panelGroup rendered="#{!reutersQuotesPopupForm.rqp.shouldShowTime()}">
							<td width="92" align="center" >#{reutersQuotesPopupForm.rqp.getLongTermMsg()}</td>
						</h:panelGroup>
						<td width="68" align="center" >#{rq.getTimeByformat('dd/MM/yy')}</td>
						<td width="59" align="center" >#{rq.lastFormatted}</td>
						<td width="59" align="center" >#{rq.askFormatted}</td>
						<td width="56" align="center" >#{rq.bidFormatted}</td>
						<td width="8" align="center" bgcolor="#{rqRow == 1 or rqRowCount == 1? '#000000' : ''}" >&#160;</td>
					</tr>
					<h:panelGroup rendered="#{rqRowCount == 1 or (rqRowCount == 2 and rqRow == 1)}">
						<tr>
							<td colspan="6" align="center" > &#160;</td>
						</tr>
					</h:panelGroup>
				</t:dataList>
			</table>
		</td>
  </tr>
</table>


</f:view>

</body>
</html>
