<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpened}">
	<meta HTTP-EQUIV="refresh" CONTENT="#{slipForm.timeToFirstOpenedExpire}" />
	</h:panelGroup>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}

		function openPopup(invId) {
			wdt = window.open("investmentPopup.jsf?investmentId=" + invId, "investmentPopup", "width=700,height=400,history=0,resizable,status=1,menubar=1,scrollbars=1");
			wdt.focus();
			return false;
		}
	</script>

</head>
<body dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >


	<script language="JavaScript">
		// configuration variable for the hint object, these setting will be shared among all hints created by this object
		var HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : 20, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'bctl', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : true, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};
		// text/HTML of the hints
		var HINTS_ITEMS = [
		<t:dataList value="#{slipForm.opened}" var="investment" layout="simple">
			'<h:outputText value="#{investment.amountTxt}" />',
		</t:dataList>
		''];

		var myHint = new THints (HINTS_ITEMS, HINTS_CFG);
	</script>

	<table width="186px" height="30px" cellpadding="0" cellspacing="0" align="center" border="0">
		<tr>
			<td  width="93px" height="30px" align="center"><a href="#{facesContext.externalContext.requestContextPath}/jsp/investments_profit_box.jsf"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_down.gif" alt="" width="93px" height="30px" border="0" /></a></td>
			<td  width="93px" height="30px" align="center" colspan="3"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/exp_up.gif"  width="93px" height="30px" alt="" border="0"  /></td>
		</tr>
	</table>

	<table width="186px" height="20px"  cellpadding="0" cellspacing="0" align="center" border="0">
		<tr class="todayInvlable" height="20px" align="center" >
 			<td height="20px" width="72px" align="#{applicationData.pageAlignment}"><h:outputLabel style="font-size:10px" value="&#160; #{msgs['right.side.investments.market']}"/></td>
 			<td align="#{applicationData.pageAlignment}" height="20" width="62px" ><h:outputLabel style="font-size:10px" value="#{msgs['right.side.investments.typelevel']}"/></td>
 			<td align="center" height="20px" width="52px"><h:outputLabel style="font-size:10px" value="#{msgs['right.side.investments.time.closing']}"/></td>
 		</tr>
 	</table>

	<h:panelGroup rendered="#{slipForm.hasOpened}">
		<table class="invest_table_border" width="186px" height="192px" cellpadding="0" cellspacing="0" border="0">
			<tr height="192px">
				<td width="184px">
					<div id="wn"><div id="lyr1" class="content">
						<table width="184px" height="192px" cellpadding="0" cellspacing="2" border="0" >
		    				<t:dataList value="#{slipForm.opened}" var="investment" rowIndexVar="crrInvestmentIndex" layout="simple">
								<tr valign="middle" height="25" width="184px" style="cursor:pointer" onmouseover="myHint.show(#{crrInvestmentIndex})" onmouseout="myHint.hide()">
									<td align="#{applicationData.pageAlignment}" height="25" width="60px" class="todayInvasset">
										<h:outputText style="font-size:9px" value="#{investment.marketName}" />
										<t:graphicImage width="8px" rendered="#{investment.typeId == 1}" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" style="VERTICAL-ALIGN: middle" alt="" border="0" />
										<t:graphicImage width="8px" rendered="#{investment.typeId == 2}" url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" style="VERTICAL-ALIGN: middle"  alt="" border="0" />
										<h:outputText rendered="#{investment.typeId == 3}" value="#{msgs['investments.one']}" style="VERTICAL-ALIGN: middle"  alt="" border="0" class="todayInvasset"/>
									</td>
					    			<td align="#{applicationData.pageAlignment}" border="0" cellpadding="0" cellspacing="0" class="todayInvasset" width="62px" height="25">
									    <h:outputText value="#{investment.currentLevelTxt}" />
									</td>
									<td align="#{applicationData.pageAlignment}" width="40px" height="25" class="todayInvasset"><h:outputText value="&#160;#{investment.onlyTimeEstClosingTxt}&#160;" /></td>
								</tr>
 		   					</t:dataList>
		   				   <tr width="182" ><td width="182" height="*" colspan="3"></td></tr>
		   			</table>
		   		</div></div>
		   	</td>
		   	<td width="11px"><!-- scroll --></td>
		</tr>
	</table>
	<table class="invest_link_table_border" width="186px" height="10px" cellpadding="0" cellspacing="0" border="0">
 		<tr width="186px" height="10px" valign="top">
         	<td valign="top" height="10px" align="center">
				<a class="general_link_blue_10" style="font-weight:bold;" href="#" onclick="gotoInvests(); return false;"><h:outputText value="#{msgs['right.side.investments.show.all']}" /></a>
			</td>
	    </tr>
	</table>
	</h:panelGroup>

 	<h:panelGroup rendered="#{!slipForm.hasOpened}">
		<table class="invest_table_no_up_border" width="186px" height="212px" cellpadding="15px" cellspacing="0" border="0">
			<tr>
				<td align="#{applicationData.pageAlignment}" width="184px" class="todayInvasset">
				 	<h:outputText escape="false" value="#{msgs['right.side.investments.empty']}"  />
			    </td>
		   </tr>
		</table>
 	</h:panelGroup>

</f:view>

</body>
</html>
