<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpened}">
		<meta HTTP-EQUIV="refresh" CONTENT="#{slipForm.timeToFirstOpenedExpire}" />
	</h:panelGroup>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_event.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scroll.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scrollbar.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_controls.js"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}

		function openPopup(invId) {
			wdt = window.open("investmentPopup.jsf?investmentId=" + invId, "investmentPopup", "width=700,height=400,history=0,resizable,status=1,menubar=1,scrollbars=1");
			wdt.focus();
			return false;
		}
	</script>

	<style type="text/css">
		#extra_controls, #scrollbar {
		    display:none; /* hide from incapable */
		    }
		div#wn {
		    float:left;
		    margin-right:0px;
		     height:101px;
	    }
		div#scrollbar {
		    float:left;
		    height:101px;
	    }
	    div#track {
	  		height:77px;
		}
		.clearer { clear:left; }
			
		body {
			background: none transparent;	
		}		
	</style>

	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script type="text/javascript">

		function init_dw_Scroll() {
		try {
		    var wndo = new dw_scrollObj('wn', 'lyr1');
		    wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
		    // id, autohide (hide when not needed), axis
		    wndo.setUpScrollControls('scrollbar', true, 'v');
			} catch(e) {}
		}

		// if code supported, link in the style sheet and call the init function onload
		try {
			if ( dw_scrollObj.isSupported() ) {
			    dw_writeStyleSheet('#{facesContext.externalContext.requestContextPath}/css/scroll.css');
			    // Enable printing here if you like
			    dw_scrollObj.printEnabled = true;
			    dw_Event.add( window, 'load', init_dw_Scroll);
			}
		} catch(e){}

		</script>
	</h:panelGroup>

</head>
<body dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >


	<script language="JavaScript">
		// configuration variable for the hint object, these setting will be shared among all hints created by this object
		var HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : 20, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'bctl', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : true, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};
		// text/HTML of the hints
		var HINTS_ITEMS = [
		<t:dataList value="#{slipForm.opened}" var="investment" layout="simple">
			'<h:outputText value="#{investment.amountTxt}" />',
		</t:dataList>
		''];

		var myHint = new THints (HINTS_ITEMS, HINTS_CFG);
	</script>
	<div class="right_side_investments">
		<table id="tabs_tp2" cellpadding="0" cellspacing="0" align="center" border="0" height="37px">
			<tr>
				<td width="150" height="30" class="profit_tab_TP">
	            	<a href="#{facesContext.externalContext.requestContextPath}/jsp/investments_profit_box_TP_inner.jsf" style="background-image: none;">
	            		#{msgs['right.side.investments.profit']}
	            	</a>
	            </td>
	            <td width="150" height="30" class="expiry_tab_TP">#{msgs['right.side.investments.expire']}</td>
			</tr>
		</table>
		<table class="todayInvlable" cellspacing="0" border="0" >
	        <tr height="20px" >
				<td width="112px" class="pl_exprietoday_TP" height="20px">
					<h:outputText value="#{msgs['right.side.investments.market']}"/>
				</td>
				<td width="81px" class="pl_exprietoday_TP" height="20px" >
					<h:outputText value="#{msgs['right.side.investments.typelevel']}"/>
				</td>
				<td width="103px" class="pl_exprietoday_TP" height="20px">
					<h:outputText value="#{msgs['right.side.investments.time.closing']}"/>
				</td>
			</tr>
		</table>
	
		<h:panelGroup rendered="#{slipForm.hasOpened}">
			<table width="300px" height="101px" align="center" cellpadding="0" cellspacing="0" border="0">
				<tr height="101px">
					<td width="186px" valign="top">
						<div id="wn" style="width:186px; height:100px;">
							<div id="lyr1" class="content">
								<table width="186px" cellpadding="0" cellspacing="0" valign="top">
									<tr>
										<td colspan="6" height="5"></td>
									</tr>
				    				<t:dataList value="#{slipForm.opened}" var="investment" rowIndexVar="crrInvestmentIndex" layout="simple">
				    					<h:panelGroup rendered="#{crrInvestmentIndex % 2 == 0}">
											<tr style="cursor:pointer" onmouseover="myHint.show(#{crrInvestmentIndex})" onmouseout="myHint.hide()">
												<td width="8"></td>
												<td align="#{applicationData.pageAlignment}" height="20" width="62px" class="todayInvasset">
													<h:outputText value="#{investment.marketName}" />&#160;
													<t:graphicImage width="10px" height="4px" rendered="#{investment.typeId == 1}" url="#{applicationData.imagesPath}/up.png" style="VERTICAL-ALIGN: middle" alt="" border="0" />
													<t:graphicImage width="10px" height="4px" rendered="#{investment.typeId == 2}" url="#{applicationData.imagesPath}/down.png" style="VERTICAL-ALIGN: middle"  alt="" border="0" />
													<h:outputText rendered="#{investment.typeId == 3}" value="#{msgs['investments.one']}" style="VERTICAL-ALIGN: middle"  alt="" border="0" class="todayInvasset"/>
												</td>
												<td width="4"></td>
								    			<td align="#{applicationData.pageAlignment}" width="62px" class="todayInvasset">
												    <h:outputText value="#{investment.currentLevelTxt}" />
												</td>
												<td width="4"></td>
												<td align="center" width="62px" class="todayInvasset">
													<h:outputText value="&#160;#{investment.onlyTimeEstClosingTxt}&#160;" />
												</td>
											</tr>
										</h:panelGroup>
										<h:panelGroup rendered="#{crrInvestmentIndex % 2 == 1}">
											<tr style="cursor:pointer" onmouseover="myHint.show(#{crrInvestmentIndex})" onmouseout="myHint.hide()" bgcolor="#f2f2f2">
												<td width="8"></td>
												<td align="#{applicationData.pageAlignment}" height="20" width="62px" class="todayInvasset">
													<h:outputText value="#{investment.marketName}" />&#160;
													<t:graphicImage width="8px" rendered="#{investment.typeId == 1}" url="#{applicationData.imagesPath}/up.png" style="VERTICAL-ALIGN: middle" alt="" border="0" />
													<t:graphicImage width="8px" rendered="#{investment.typeId == 2}" url="#{applicationData.imagesPath}/down.png" style="VERTICAL-ALIGN: middle"  alt="" border="0" />
													<h:outputText rendered="#{investment.typeId == 3}" value="#{msgs['investments.one']}" style="VERTICAL-ALIGN: middle"  alt="" border="0" class="todayInvasset"/>
												</td>
												<td width="4"></td>
								    			<td align="#{applicationData.pageAlignment}" width="62px" class="todayInvasset">
												    <h:outputText value="#{investment.currentLevelTxt}" />
												</td>
												<td width="4"></td>
												<td align="center" width="62px" class="todayInvasset">
													<h:outputText value="&#160;#{investment.onlyTimeEstClosingTxt}&#160;" />
												</td>
											</tr>
										</h:panelGroup>
		 		   					</t:dataList>
				   				   <tr width="182">
				   				   		<td width="182" height="*" colspan="3"></td>
				   				   </tr>
				   				</table>
			   				</div>
			   			</div>
			   		</td>
			   		<td width="11px" valign="top">
						<!-- border attribute added to reduce support questions on the subject.
						    If you like valid strict markup, remove and place a img {border:none;} spec in style sheet -->
						<div id="scrollbar">
						    <div id="up"><a class="mouseover_up" href=""><img style="cursor:pointer;" src="#{applicationData.imagesPath}/btn-up.gif" width="11" height="11" alt="" border="0" /></a></div>
						    <div id="track">
						        <div id="dragBar"></div>
						    </div>
						    <div id="down"><a class="mouseover_down" href=""><img style="cursor:pointer;" src="#{applicationData.imagesPath}/btn-dn.gif" width="11" height="11" alt="" border="0" /></a></div>
						</div>
			   		</td>
				</tr>
			</table>
			<table width="186px" height="10px" align="center" cellpadding="0" cellspacing="0" border="0">
	 			<tr width="300px" height="10px" valign="top">
	         		<td valign="top" height="10px" align="center">
						<a class="general_link_blue_10" style="font-weight:bold;" href="#" onclick="gotoInvests(); return false;"><h:outputText value="#{msgs['right.side.investments.show.all']}" /></a>
					</td>
		    	</tr>
			</table>
		</h:panelGroup>
	

	 	<h:panelGroup rendered="#{!slipForm.hasOpened}">
	 		<table class="invest_table_no_up_border" cellpadding="10px" cellspacing="0" border="0" style="border: 0px solid #a8a8a8;">
				<tr>
					<td align="#{applicationData.pageAlignment}" width="300px" class="todayInvasset">
						 <h:outputText escape="false" value="#{msgs['right.side.investments.empty.tp']}" />
					</td>
				</tr>
			</table>
	 	</h:panelGroup>
 	</div>
</f:view>
</body>
</html>