<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
    
    <script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landingContactus_Google_AO_RMBonus_Clean_Content.css" />
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_event.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scroll.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scrollbar.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_controls.js"></script>
    <script type="text/javascript">  
		document.domain = "#{applicationData.domainUrl}";	
		function init_dw_Scroll() {
		try {
		    var wndo = new dw_scrollObj('wnTermsConditions', 'lyr1TermsConditions');
		    wndo.setUpScrollbar("dragBar_scroll", "track_scroll_terms", "v", 1, 1);
		    // id, autohide (hide when not needed), axis
		    wndo.setUpScrollControls('scrollbar_scroll', true, 'v');
			} catch(e) {alert(e);}
		}
		
		// if code supported, link in the style sheet and call the init function onload
		try {
			if ( dw_scrollObj.isSupported() ) {
			    dw_writeStyleSheet('#{facesContext.externalContext.requestContextPath}/css/scroll.css');
			    // Enable printing here if you like
			    dw_scrollObj.printEnabled = true;
			    dw_Event.add( window, 'load', init_dw_Scroll);
			}
		} catch(e){}
	</script>
	<style type="text/css">
		div#wnTermsConditions {
		    float:left;
		    margin-right:0px;
		     height:130px;
	    }
		div#scrollbar_scroll {
		    width: 11px;
			height: 350px;
			font-size: 1px;
			float: left;
			position: relative;
			margin: 11px 0;
			background-color: #f5fbff;
			float: right;
			visibility: visible;
			right: 20px;
	    }
	    div#track_scroll_terms {
	  		position: absolute;
			left: 0;
			top: 9px;
			width: 11px;
			height: 332px;
		}
		.clearer { clear:left; }
			
		body {
			background: none transparent;	
		}		
	</style>
</head>
<body dir="#{applicationData.pageDirection}" style="background: none;">
<f:view locale="#{applicationData.userLocale}" >
    <div class="viewport">
        <div id="wnTermsConditions" class="overview">
        	<div id="lyr1TermsConditions" class="content">
                <p class="form_text">
                	<h:outputText value="#{msgs['lp.remarketing.terms.conditions']}" escape="false"/>
                </p>
            </div>
        </div>
        <div id="scrollbar_scroll" class="scrollbar_scroll" style="visibility: visible;">
            <div id="up" class="up">
                <a class="mouseover_up">
                    <img style="cursor: pointer;" src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RMBonus_Clean/scr_up.gif" width="11" height="9" border="0" />
                </a>
            </div>
            <div id="track_scroll_terms" class="track_scroll_terms">
                <div id="dragBar_scroll" class="dragBar_scroll">
                </div>
            </div>
            <div id="down" class="down">
                <a class="mouseover_down">
                	<img style="cursor: pointer;" src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RMBonus_Clean/scr_down.gif" width="11" height="9" border="0" />
            	</a>
            </div>
        </div>
    </div>
</f:view>
</body>
</html>