<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<script>
	function getUrlLower(){
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"
	}
	
	function supportPhones(elId) {
		try {
			var id = document.getElementById(elId);
			var p = new Array();
			p[0] = "Bahrain 973 161 99107";
			p[1] = "Argentina 800 4449743";
			p[2] = "Mexico 1800 1233332";
			p[3] = "South Africa 0800 982374";
			p[4] = "Spain 900 939 787";
			p[5] = "Turkey 212 414 1770";
			p[6] = "UK 0800 917 4606";
			p[7] = "USA 1 866 844 4540";
			p[8] = "All Others +44-2080997262";
			var i = 0;
			var doSetTimeout = function() {
				id.innerHTML = p[i];
				i++;
				if (p.length == i) {
					i = 0;
				}
				var timer = setTimeout(doSetTimeout, 2000);
			}
			doSetTimeout();
		} catch (e) {
			log("supportPhones broke: " + e);
		}
	}
</script>
<div class="subheader clear grad">
	<div class="sh_left fLeft">
		<div class="fLeft p1 sep"></div>
		<div class="fLeft sh_1"><h:outputText value="#{msgs['ticker.our.options']}" /></div>
		<div class="fRight p1 sep"></div>
	</div>
	<iframe class="fLeft" id="ticker" name="ticker" ALLOWTRANSPARENCY="true" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/ticker_css.jsf" width="441px" height="26px" scrolling="no"></iframe>
	<div class="sh_right fLeft">
		<div class="fLeft p1 sep"></div>
		<a href="#"><div class="up_menu fLeft grad"><div class="fLeft">English</div> <div class="fLeft p1 arr_down"></div></div></a>
		<a href="#"><div class="up_menu fLeft grad"><div class="fLeft p1 chat"></div><div class="fLeft">Live Chat!</div> </div></a>
		<div class="up_menu fLeft grad" style="width:164px;"><div class="fLeft p1 phone"></div><div id="supportPhones" class="fLeft" style="width:135px;"></div></div>
	</div>
</div>
</f:view>