
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.trading_box_manual.metadata.tradingboxmanul.description']}" />
</ui:define>
<ui:define name="selected">
	<c:set var="selectedTd" value="tradeingBoxManual" />
</ui:define>
<ui:define name="innerPages">
    <c:set var="inrPg" value="InnerPages" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText  value="#{msgs['CMS.trading_box_manual.metadata.tradingManual.jsf.title']}"/>
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['CMS.trading_box_manual.metadata.keywords']}"/>
</ui:define>
<ui:define name="title"><h:outputText styleClass="header_new_design_pages" value="#{msgs['CMS.trading_box_manual.text.tradingManual.title']}"/></ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['CMS.trading_box_manual.text.tradingManual.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['tradingManual.jsf.title']}"/>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" />
</ui:define>
<ui:define name="content">
<h:panelGroup rendered="#{!empty sessionScope.user}">
<script>
function startBtn(){
	window.location.href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
}
</script>
</h:panelGroup>
<h:panelGroup rendered="#{empty sessionScope.user}">
<script>
function startBtn(){
	window.location.href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}";
}
</script>
</h:panelGroup>



	<table align="center" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td width="720">
				<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js?new=cvsVersionParam"></script>
				<script type="text/javascript"> tradeBoxManual('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}','#{applicationData.userLocale.language}_#{applicationData.skinId}','#{applicationData.getLimitInvestment(1,false)}','#{applicationData.getLimitInvestment(1,true)}');</script>
			</td>
		</tr>
	</table>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
			<ui:param name="banner0100" value="true" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>
