<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	
	<div class="trade_buton_login_holder">
		<img src="#{applicationData.imagesPath}/x_error_new.gif" onclick="closeErrorDiv('oppId')" class="trade_buton_login_close" />
		<div id="'oppId'_error"></div>
		<div id="'oppId'_loginError" style="display:none">
			<h:outputText value="#{msgs['error.investment.notLogin1']}" />
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="trade_buton_login trade_buton_login_h clear mt10">
				<span class="rs trade_buton_login">
					<span class="cs trade_buton_login">
						<h:outputText value="#{msgs['CMS.quick_sign_up.submit1']}" />
					</span>
				</span>
			</a>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}" class="trade_buton_login trade_buton_register_h clear mt2">
				<span class="rs trade_buton_login">
					<span class="cs trade_buton_login">
						<h:outputText value="#{msgs['header.login1']}" />
					</span>
				</span>
			</a>
		</div>
	</div>
	
</f:view>