<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<div id="template_opportunity" style="display: none;">
	<div id="'oppId'">
		<div class="clear c_header grad">
			<div class="fLeft btn_holder2" style="margin-top:1px;" onclick="showSelectionTree(this, 'marketId');">
				<div class="fLeft p1 btn2_l"></div>
				<div class="fLeft grad btn2_c"><strong id="'oppId'_3"></strong></div>
				<div class="fLeft p1 btn2_r"></div>
			</div>
			<div id="'oppId'_return" class="fLeft ret"><span id="'oppId'_5"></span>&#160;<h:outputText value="#{msgs['trading.box.return']}" /></div>
			<div id="'oppId'_scheduled" class="fRight btn_holder2" style="margin-top:1px;" onclick="showSelectionSchedule(this, 'marketId', 'oppId');">
				<div class="fLeft p1 btn2_l"></div>
				<div class="fLeft grad btn2_c" style="padding-left:2px;padding-right:2px;width:112px;"><b>#{msgs['trading.box.expires']}</b> <span id="'oppId'_6">&#160;</span></div>
				<div class="fLeft p1 btn2_r"></div>
			</div>
			<div id="'oppId'_empty" style="display:none"></div>
		</div>
		<div id="'oppId'_slip" class="fLeft boxLeft p1"></div>
		<div id="'oppId'_chart_holder" class="fRight boxRight"></div>
		<div style="display: none;">
			<span id="'oppId'_3"></span>
			<span id="'oppId'_8"></span>
			<span id="'oppId'_9"></span>
			<span id="'oppId'_10"></span>
			<span id="'oppId'_13"></span>
			<span id="'oppId'_18"></span>
			<span id="'oppId'_21"></span>
			<span id="'oppId'_22"></span>
			<span id="'oppId'_submit">0</span>
			<span id="'oppId'_choice">0</span>
		</div>
	</div>
</div>

<div id="template_loading" style="display: none;">
	<ui:include src="/jsp/tradingBoxLoading_css.xhtml" />
</div>

<div id="template_chart_not_opened" style="display: none;">
	<div style="margin:60px 50px"><strong><h:outputText value="#{msgs['trading.box.willOpen']}" escape="false" /></strong></div>
</div>

<div id="template_chart" style="display: none;">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="304" height="165" id="'oppId'_chart" align="middle">
		<param name="allowScriptAccess" value="sameDomain" />
		<param name="quality" value="high" />
		<param name="wmode" value="transparent" />
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<param name="movie" value="#{applicationData.imagesPath}/chart.swf?pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}" />
		<param name="FlashVars" value="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}" />
		<embed src="#{applicationData.imagesPath}/chart.swf" wmode="transparent" flashvars="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}" quality="high" width="304" height="165" name="'oppId'_chart" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</h:panelGroup>
		<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
		<param name="movie" value="#{applicationData.imagesPath}/chart.swf?pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}" />
		<param name="FlashVars" value="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}" />
		<embed src="#{applicationData.imagesPath}/chart.swf" wmode="transparent" flashvars="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}" quality="high" width="304" height="165" name="'oppId'_chart" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		</h:panelGroup>
	</object>
</div>

<div id="template_long_term" style="display: none;">
	<div style="margin:60px 50px"><h:outputText value="#{msgs['trading.box.chart.longterm']}" escape="false" /></div>
</div>

<div id="template_suspended" style="display: none;">
	<div style="margin:60px 50px"><strong>{msg}</strong></div>
</div>

<div id="template_state_1" style="display: none;">
	<div class="up_down arr_up"></div>
	<div id="'oppId'_4" class="mid1"></div>
	<div class="up_down arr_down2"></div>
</div>

<div id="template_state_2" style="display: none;">
	<div class="call" onclick="openSlip('oppId', 'call');" onmouseover="chartShowCallPut('oppId', true, true)" onmouseout="chartShowCallPut('oppId', false, true)"></div>
	<div id="'oppId'_4" class="level_green"></div>
	<div class="put" onclick="openSlip('oppId', 'put');" onmouseover="chartShowCallPut('oppId', true, false)" onmouseout="chartShowCallPut('oppId', false, false)"></div>
</div>

<div id="template_state_3" style="display: none;">
	<div class="call" onclick="openSlip('oppId', 'call');" onmouseover="chartShowCallPut('oppId', true, true)" onmouseout="chartShowCallPut('oppId', false, true)"></div>
	<div id="'oppId'_4" class="level_green"></div>
	<div class="put" style="margin-bottom:0;" onclick="openSlip('oppId', 'put');" onmouseover="chartShowCallPut('oppId', true, false)" onmouseout="chartShowCallPut('oppId', false, false)"></div>
	<span class="time_left">#{msgs['trading.box.timeLeft']}</span>
	<table class="new_progress_table" width="141" height="10" cellspacing="0" cellpadding="0">
		<tr>
			<td class="new_progress_bar_td" align="#{applicationData.pageAlignment}" style="vertical-align:middle;" valign="middle">
				<div style="background-color: #fff; width: 111px; height: 8px; border: 1px solid #ffffff;">
					<div id="'oppId'_cd_prg" class="new_progress_bar">&#160;</div>
				</div>
			</td>
			<td id="'oppId'_cd_time" class="new_progress_time_td" align="#{applicationData.pageAlignment}">00:00</td>
		</tr>
	</table>
</div>

<div id="template_state_4" style="display: none;">
	<div class="up_down arr_up"></div>
	<div id="'oppId'_4" class="level_green"></div>
	<div class="up_down arr_down2"></div>
	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/waiting4exp.gif" width="149" height="15" />
</div>

<div id="template_state_5" style="display: none;">
	<div class="up_down arr_up"></div>
	<div id="'oppId'_4" class="level_green"></div>
	<div class="up_down arr_down2"></div>
	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/waiting4exp.gif" width="149" height="15" />
</div>

<div id="template_state_6" style="display: none;">
	<div class="b3">
		<span id="'oppId'_4" class="b3_1"></span><br />
		<span class="b3_2"><h:outputText value="#{msgs['trading.box.expieryLevel']}" /></span>
	</div>
</div>

<div id="template_state_8" style="display: none;">
	<div class="up_down arr_up"></div>
	<div id="'oppId'_4" class="mid1"></div>
	<div class="up_down arr_down2"></div>
</div>

<div id="template_state_9" style="display: none;">
	<div class="up_down arr_up"></div>
	<div id="'oppId'_4" class="mid1"></div>
	<div class="up_down arr_down2"></div>
</div>

<div id="template_call" style="display: none;">
	<div class="close_x p1" onclick="closeSlip('oppId');"></div>
	<div style="margin:5px;" id="'oppId'_errorPosTD">
		<span class="sliplabel"><strong>{marketName}</strong></span><br/><strong><span id="'oppId'_4" class="slip_put"></span></strong><br/>
		<div class="fLeft slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </div><div class="fLeft sliplabel"><strong>&#160;#{msgs['call']}&#160;</strong></div><div class="fLeft img_arr_up p1"></div><div class="clear" />
		<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
		<h:panelGroup rendered="#{!applicationData.rtlAlign}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<input  id="'oppId'_amount" class="chart_box_slipinput" type="text" size="10" maxlength="7" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
		<h:panelGroup rendered="#{applicationData.rtlAlign}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<br/>
		<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span><span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span><span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
		<center><input type="submit" class="b_buy grad" value="Buy" onclick="submitSlip('oppId');" /></center>
	</div>
	<div id="'oppId'_errorMsgDiv" class="log_in_pop" style="display: none;">
		<div class="log_in_in">
			<div class="close_red p1" onclick="closeErrorDiv('oppId')"></div>
			<div class="arrow_red p1"></div>
			<div id="'oppId'_error"></div>
			<div id="'oppId'_loginError" style="display: none;">
				<h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="no_acc"><h:outputText value="#{msgs['error.investment.notLogin2']}" escape="false" /></a>
			</div>
		</div>
	</div>
</div>

<div id="template_put" style="display: none;">
	<div class="close_x p1" onclick="closeSlip('oppId');"></div>
	<div style="margin:5px;" id="'oppId'_errorPosTD">
		<span class="sliplabel"><strong>{marketName}</strong></span><br/><strong><span id="'oppId'_4" class="slip_put"></span></strong><br/>
		<div class="fLeft slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </div><div class="fLeft sliplabel"><strong>&#160;#{msgs['put']}&#160;</strong></div><div class="fLeft img_arr_down p1"></div><div class="clear" />
		<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
		<h:panelGroup rendered="#{!applicationData.rtlAlign}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<input  id="'oppId'_amount" class="chart_box_slipinput" type="text" size="10" maxlength="7" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
		<h:panelGroup rendered="#{applicationData.rtlAlign}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<br/>
		<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span><span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span><span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
		<center><input type="submit" class="b_buy grad" value="Buy" onclick="submitSlip('oppId');" /></center>
	</div>
	<div id="'oppId'_errorMsgDiv" class="log_in_pop" style="display: none;">
		<div class="log_in_in">
			<div class="close_red p1" onclick="closeErrorDiv('oppId')"></div>
			<div class="arrow_red p1"></div>
			<div id="'oppId'_error"></div>
			<div id="'oppId'_loginError" style="display: none;">
				<h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="no_acc"><h:outputText value="#{msgs['error.investment.notLogin2']}" escape="false" /></a>
			</div>
		</div>
	</div>
</div>

<div id="template_call_success" style="display: none;">
	<div class="close_x p1" onclick="closeSlip('oppId');"></div>
	<div style="margin:5px;">
		<span class="slip_call"><strong class="{level_clr}">{level}</strong></span><br/>
		<div class="fLeft slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </div><div class="fLeft sliplabel"><strong>&#160;CALL&#160;</strong></div><div class="fLeft img_arr_up p1"></div><div class="clear" />
		<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
		<h:panelGroup rendered="#{!applicationData.rtlAlign}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.rtlAlign}">
			<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
		</h:panelGroup>
		<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span> <span class="sliplabel">{win}</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span> <span class="sliplabel">{lose}</span><br/>
		<span class="slipimput"><h:outputText value="#{msgs['trading.success.confirmation']}" /> </span><span id="'oppId'_confirm" class="sliplabel"># {confirm}</span>
		<center>
			<input type="submit" class="b_buy grad" value="Print" onclick="printSuccess('{confirm}'); return false;" />
			{profitLine}
			<div id="'oppId'_sms" style="display: none;">
				<input type="checkbox" width="5" height="5" style="vertical-align:middle;" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" /><span class="sms">#{msgs['trading.chartBox.recipt.SMS']}</span>
			</div>
		</center>
	</div>
	<div id="'oppId'_4" style="display: none;" />
</div>

<div id="template_put_success" style="display: none;">
	<div class="close_x p1" onclick="closeSlip('oppId');"></div>
	<div style="margin:5px;">
		<span class="slip_call"><strong class="{level_clr}">{level}</strong></span><br/>
		<div class="fLeft slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </div><div class="fLeft sliplabel"><strong>&#160;PUT&#160;</strong></div><div class="fLeft img_arr_up p1"></div><div class="clear" />
		<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
		<h:panelGroup rendered="#{!applicationData.rtlAlign}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.rtlAlign}">
			<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
		</h:panelGroup>
		<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span> <span class="sliplabel">{win}</span><br/>
		<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span> <span class="sliplabel">{lose}</span><br/>
		<span class="slipimput"><h:outputText value="#{msgs['trading.success.confirmation']}" /> </span><span id="'oppId'_confirm" class="sliplabel"># {confirm}</span>
		<center>
			<input type="submit" class="b_buy grad" value="Print" onclick="printSuccess('{confirm}'); return false;" />
			{profitLine}
			<div id="'oppId'_sms" style="display: none;">
				<input type="checkbox" width="5" height="5" style="vertical-align:middle;" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" /><span class="sms">#{msgs['trading.chartBox.recipt.SMS']}</span>
			</div>
		</center>
	</div>
	<div id="'oppId'_4" style="display: none;" />
</div>

<div id="template_success_profitline" style="display: none;">
	<input type="submit" class="b_buy b_profit grad" value="Profit Line" onclick="window.top.runThickBox('marketId', 'oppId'); return false;" />
</div>

<t:dataList value="#{tradingPageBean.arrays}" var="arrays" layout="simple">
	<script>
		var lsEngRef;
		var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
		var userLanguage = "#{applicationData.userLocale.language}";

		var lsPage = new PushPage();
		lsPage.context.setDebugAlertsOnClientError(false);
		lsPage.context.setDomain("#{applicationData.domainUrl}");
		lsPage.onEngineCreation = function(engine) {
			engine.connection.setLSHost("#{applicationData.lsServer}");
			engine.connection.setLSPort(80);
			engine.connection.setAdapterName("REUTERSJMS");
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				engine.connection.setUserName("a#{user.userName}a");
				engine.connection.setPassword("#{user.passHash}");
			</h:panelGroup>
			engine.policy.setMaxBandwidth(20);
			engine.policy.setIdleTimeout(30000);
			engine.policy.setPollingInterval(1000);
			engine.policy.setTimeoutForReconnect(10000);

			engine.changeStatus("STREAMING");
			lsEngRef = engine;
		};
		lsPage.onEngineReady = function(engine) {
			engine.onStatusChange = function(chngStatus) {
				window.status = "#{applicationData.tradingPagesStatus}";
				engineStatusChange(chngStatus);
			};
		};
		lsPage.bind();
		lsPage.createEngine("tradingPage", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");

		var group = [#{group}];
		var schema = ["key", "command", "ET_NAME", "ET_LEVEL", "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", "ET_CLR", "ET_PRIORITY", "ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE", "AO_HP_MARKETS_" + skinId, "AO_STATES", "FILTER_SCHEDULED", "ET_LAST_INV", "AO_TS"];
		var aoTable = new NonVisualTable(group, schema, "COMMAND");
		aoTable.setDataAdapter("JMS_ADAPTER");
		aoTable.setSnapshotRequired(true);
		aoTable.setRequestedMaxFrequency(1.0);
		aoTable.onItemUpdate = updateItemAO;
		lsPage.addTable(aoTable, "aoTable");

		var boxesFixed = new Array(false#{arrays.fixed});
		var boxesFixedMarkets = new Array(0#{arrays.markets});
		var boxesFixedScheduled = new Array(0#{arrays.scheduled});
		var boxesFull = new Array(false, true, true, true, true);
		var boxesMarkets = new Array(0, 0, 0, 0, 0);
		var israelMarkets = new Array(#{arrays.israelMarkets});

		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			var groupGM = ["insurances_#{user.userName}"];
			var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", "INS_CRR_LEVEL", "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR"];
			var newTableGM = new NonVisualTable(groupGM, schemaGM, "COMMAND");
			newTableGM.setDataAdapter("JMS_ADAPTER");
			newTableGM.setSnapshotRequired(true);
			newTableGM.setRequestedMaxFrequency(1.0);
//			newTableGM.setPushedHtmlEnabled(true);
//			newTableGM.setClearOnDisconnected(false);
//			newTableGM.setMaxDynaRows("unlimited");
//			newTableGM.setMetapushFields(2, 1);
//			newTableGM.setMetapushSort(10, false, true);
//			newTableGM.onChangingValues = formatValuesGM;
			newTableGM.onItemUpdate = updateItemGM;
			lsPage.addTable(newTableGM, "goldenInvestmentsTable");
		</h:panelGroup>
	</script>
</t:dataList>
</f:view>