<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<tr height="18"><td></td></tr>
<!-- Round border for content table -->
<tr></tr>
<tr width="954px" class="white_background">
	<td class="site_width">
		<div id="tags" class="trading_menu#{tradingLink}" style="width:920px;" >
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" target="_top" style="text-decoration: none;" border="0">
				<div class="trading_menu_div" align="center">
					<span class="trade_link#{binaryOptionLink}" >#{msgs['CMS.trade_menu_strip.label.header.lastlevels.binaryOptions']}</span>
				</div>
			</h:outputLink>
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}" target="_top" style="text-decoration: none;" border="0">
				<div class="trading_menu_div" align="center">
					<span class="trade_link#{optionPlusLink}">#{msgs['CMS.trade_menu_strip.label.home.page.tab.2']}</span>
				</div>
			</h:outputLink>
			<h:panelGroup rendered="#{applicationData.skinId != 13 &amp;&amp; applicationData.skinId != 14 &amp;&amp; applicationData.skinId != 9}">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}" target="_top" style="text-decoration: none;" border="0">
					<div class="trading_menu_div" align="center">
						<span class="trade_link#{binary0100Link}">#{msgs['home.page.tab.4']}</span>
					</div>
				</h:outputLink>
			</h:panelGroup>

			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}" target="_top" style="text-decoration: none;" border="0">
				<div class="trading_menu_div" align="center">
					<span class="trade_link#{oneTouchLink}">#{msgs['CMS.trade_menu_strip.label.investments.oneTouch']}</span>
				</div>
			</h:outputLink>


			<div style="width:2px;" class="trading_menu_seprator">&#160;</div>

			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/bitcoin-options.jsf')}"
					target="_top" style="text-decoration: none;" border="0">
				<div class="trading_menu_div" align="center">
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
				</div>
			</h:outputLink>
<!--
				<div style="width:#{applicationData.tlv? '481px' : '505px'}" class="trading_menu_seprator">&#160;</div>
			-->
		</div>
	</td>
</tr>
<tr class="white_background">
	<td height="14px"></td>
</tr>

</f:view>
