<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
<script src="#{facesContext.externalContext.requestContextPath}/js/validation_popup.js"></script>
<script>

	var lettersandnumbers = '#{msgs['error.lettersandnumbers.only']}';
	var passwordSmall = '#{msgs['error.password.smallsize']}';
	var usernameSmall = '#{msgs['error.username.ajaxerror']}';
	var emptyfield = '#{msgs['header.login.error']}';


</script>
</head>
<body style="background:none; margin:0px; padding:0px;">
	<f:view locale="#{applicationData.userLocale}">
		<h:form id="loginForm">
		#{loginForm.loginFromNewDomain(2)}
		#{applicationData.showedNonDepositorPopup}
		<table width="669" border="0" cellspacing="0" cellpadding="0" style=" font-family:Arial, Helvetica, sans-serif; color:#093755;">
			<tr>
				<td colspan="3"><div style="position:absolute; left: 620px; top: 15px;"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/close-button.png" width="32" height="28" border="0" style="cursor: pointer;" onclick="parent.stopNonDepositorPopupThickBox()"/></div><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/welcome-popup_top_ar.png" width="669" height="50" /></td>
			</tr>
			<tr>
				<td width="41" rowspan="3"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/welcome-popup_left_ar.png" height="320" /></td>
				<td width="422" height="132" align="center" dir="rtl" style="background:#FFFFFF;">
					<br />
					<h:outputText value="#{msgs['welcomePopup.header1']}" style=" font-style:italic; font-weight:bold; font-size:28px;" escape="false"/>
					<br /><br />
					<h:outputText value="#{msgs['welcomePopup.header2']}" style="font-size:18px;" escape="false"/>
				</td>
				<td width="206" rowspan="3" valign="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/welcome-popup_right_ar.png" width="206" height="320" style=" v"/></td>
			</tr>
			<tr>
			    <td height="64" style="background:#FFFFFF;">
				    <div style=" margin:auto; width:338px ">
					    <div style="font-size:13px;  float:left; position:relative; margin-top:3px; margin-right:5px; width:100px; margin-bottom:12px" dir="rtl"><h:outputText value="#{msgs['welcomePopup.header3']}" style="dir:rtl;"  escape="false"/></div>
					    <div style=" float:left; position:relative; margin-bottom:12px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/logo-desposit-wire.gif" style=" margin-left:12px"/><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/logo-desposit-cashu.gif" style=" margin-left:12px"/><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/logo-desposit-visa-mastercard.gif" style=" margin-left:12px"/></div>
				    </div>
			    </td>
			  </tr>
			<tr>
				<td height="99" style="background:#FFFFFF;">
					<table border="0" cellspacing="15" cellpadding="0" bgcolor="#eaeaea" width="83%" align="center">
						<tr>
							<td width="50%" valign="top" dir="rtl" >
								<table border="0" cellspacing="0" cellpadding="0" style=" margin-bottom:5px">
									<tr onclick="validate1();" style="cursor: pointer;">
										<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/buttom-deposit_right_ar.gif" /></td>
										<td style=" background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/buttom-deposit_middle.gif)" width="65">&#160;<h:outputText style=" font-size:16px; font-weight:bold; color:#FFF; " value="#{msgs['welcomePopup.depositNow']}" escape="false"/></td>
										<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/buttom-deposit_left_ar.gif" /></td>
									</tr>
								</table><!-- <h:outputText value="#{msgs['welcomePopup.loginError']}" id="errorlogin" style=" color:#F00; font-size:12px; " /><t:message id="errorloginMsg" for="errorlogin" style=" color:#F00; font-size:12px; " /> -->
										<h:outputText value="" id="errorlogin" style=" color:#F00; font-size:12px; " /><t:messages id="messages" globalonly="true" layout="table" style="color:#F00; font-size:12px; " />
							</td>
							<td width="50%" valign="top" dir="rtl">
								<h:panelGrid border="0" columns="1">
									<h:inputText autocomplete="off" maxlength="15" style=" width:147px;margin-left:10px;"
										dir="rtl" id="userName" value="#{loginForm.username}" required="true"
										onfocus="if(this.value=='#{msgs['header.input.username']}') this.value=''"
										onblur= "if(this.value=='') this.value='#{msgs['header.input.username']}'">
									</h:inputText>
									<h:panelGroup>
										<input  style="vertical-align: bottom; margin-left:10px; margin-top:5px; width:147px; " maxlength="9"
											align="right" name="dummypassword" id="dummypassword" value="#{msgs['header.input.password']}"
											onfocus= "this.style.display='none';
												document.getElementById('loginForm:j_password').style.display='inline';
												document.getElementById('loginForm:j_password').focus();" >
										</input>
										<h:inputSecret autocomplete="off" maxlength="9"  style="vertical-align: bottom; display:none; margin-left:10px; margin-top:5px;width:147px;"
											align="right" name="j_password" id="j_password" value="#{loginForm.password}" required=""
											onblur="if(this.value==''){this.style.display='none';
													document.getElementById('dummypassword').style.display='inline';}" >
										</h:inputSecret>
									</h:panelGroup>
								</h:panelGrid>
								<div style=" margin-top:5px">
									<a style="font-size: 15px;  color:#093755; margin-left:10px" dir="rtl" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/password.jsf')}" TARGET="_top">
										<h:outputText value="» #{msgs['header.forgotpassword']}" />
									</a>
								</div>
		           	    	</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/welcome_popup/welcome-popup_bottom_ar.png" width="669" height="56" /></td>
			</tr>
		</table>
		<h:commandLink action="#{loginForm.loginPopup('welcomePopup_ar')}" id="loginHiddenbtn" style="display:none"/>
		</h:form>
	</f:view>
</body>
</html>