<f:view
 		xmlns="http://www.w3.org/1999/xhtml"
      	xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
  		xmlns:h="http://java.sun.com/jsf/html"
  		xmlns:t="http://myfaces.apache.org/tomahawk"
  		xmlns:c="http://java.sun.com/jsp/jstl/core"
       >

	<div id="box_Why_nd" style="border-bottom: solid 1px #d6d6d6;float:none;overflow:hidden;">
        <div class="right_content_title" style="padding: 20px 0;" >
            <h:outputText value="#{msgs['CMS.why_anyoption.text.home.page.why.any']}" escape="false"/>
        </div>
        
        <div class="text_nd">
            <h:outputText value="#{msgs['CMS.why_anyoption.text.home.page.why.any.content']}" escape="false"/>
            <br/>
            <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}"
												target="_top" id="readmore_way_any" style="text-decoration: none;" border="0">
            	<h:outputText value="#{msgs['CMS.why_anyoption.label.box.readmore']}" /> »
            </h:outputLink>
        </div>
    </div>

</f:view>