body
{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #ffffff url(../images/bg.png) left top repeat-x;
    color: #093755;
    font-size: 14px;
    width: 100%;
}
*
{
    margin: 0px;
    padding: 0px;
}
#page
{
    width: 1100px;
    margin: 0 auto;
    height: auto !important;
    min-height: 100%;
    display: table;
    position: relative;
}
img
{
    border: none;
}
p
{
    margin: 10px 0;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
}
.right
{
    float: right;
}
#bg_container {
	width: 1045px;
	margin: 0 auto;
	position: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 260px;
}
*+html #mainimg {
	float: left;
	margin-left: -80px !important;
}
#main
{
    width: 1100px;
    height: auto;
    float: left;
    clear: both;
}
#logo
{
    width: 975px;
    margin: 0 auto;
    text-align: left;
   height: 58px; 
   padding-top: 10px;
   padding:20px;
   float:left;
   
}

*+html #logo {
	margin-top: 0;
}
#title
{
    padding: 30px 0 30px;
    margin: 0 auto;
    width: 975px;
    background: transparent url(../images/bg_title.png) center top no-repeat;
    text-align: center;
	
}
h1 {
	font-size: 45px;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0px;
	width: 975px;
	text-align: center;
	color: #f37936;

	
}

.alibaba_logo{
	display: block;
	position: absolute;
	background: url(../images/alibaba_logo.png) no-repeat;
	width: 87px;
	height: 49px;
	left: 374px;
	top: 141px;
}

h2 {
	font-size: 35px;
	font-weight: normal;
	margin: -9px 0 0 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h3 {
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 34px;
	width: 502px;
	float: right;
	text-align: left;
	padding: 0 0 22px 0;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 10px 0;
	padding: 0px;
}
#content
{
    width: 1028px;
    margin: 25px auto;
    height: auto !important;
    min-height: 100%;
    display: table;
    position: relative;

}
#content_top
{
	width: 1028px;
	min-height:447px;
	float:left;

	text-align: left;
	padding-top: 10px;
	background: #ffffff url(../images/imgMain_BO.png) no-repeat 27px bottom;
}
.top_list
{
    list-style-type: none;
    padding: 0;
    margin-left: 230px;
    text-align: left;
    width: 502px;
    float: right;
}
.top_list li
{
    padding: 0px 0 20px 80px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #006cb2;
	min-height:77px;
}
.top_list li span
{
    font-size: 24px;
    font-weight: normal;
    color: #093755;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat left 10px;
	border-bottom: 1px dotted #aaaaaa;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat left 10px;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat left 10px;
	padding-top: 3px;
}
.button_tradeBox
{
    height: 72px;
    width: 262px;
	position: relative;
	float: right;
	padding: 0 0 0 0 ;
}
.tradeBox_StartButton
{
    width: 262px;
    height: 72px;
    background-image: url(../images/bttn_StartNow_01_en.png);
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    border: none;
    cursor: pointer;
}
.tradeBox_StartButton:hover
{
    background-position: left bottom;
    border: none;
}


#content_btm
{
    width: 1050px;
    text-align: left;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 30px;
	margin-top: 40px;
	position: relative;
	float:left;
	padding: 0 0 0 39px;
}

.bottom_list
{
    list-style-type: none;
    text-align: left;
    margin-top: 3px;
    float: left;
	width: 600px;
}
.bottom_list li
{
    padding: 7px 0 7px 35px;
    background: url(../images/img_bullet.png) no-repeat 6px 8px;
    border-bottom: 1px dotted #aaaaaa;
    font-size: 14px;
    font-weight: normal;
    height:auto;
    width: 610px;
}
#tradeBox_StartButton
{
    width: 262px;
    height: 72px;
    background-image: url(../images/bttn_StartNow_01_en.png);
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    border: none;
    cursor: pointer;
}
.content_learnBox
{
    float: left;
    width: 700px;
    text-align: left;
    padding-right: 20px;
}
#content_learnBox p
{
    text-align: justify;
    font-size: 12px;
}
.button_learnBox
{
    float: right;
    height: 63px;
    width: 219px;
    margin-top:280px;
}
.learnBox_StartButton
{
    width: 219px;
    height: 63px;
    background-image: url(../images/bttn_StartNow_02_en.png);
    background-repeat: no-repeat;
    background-position: left top;
    float: right;
    border: none;
    cursor: pointer;
}
.learnBox_StartButton:hover
{
    background-position: left bottom;
    border: none;
}
#footer
{
    text-align: center;
    width: 1100px;
    margin: 0 auto;
    font-size: 9px;
}
#footer .icons
{
    height: 30px;
    margin: 0 auto;
    width: 633px;
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    padding: 15px 0 15px 337px;
}
#footer .icons .icon_space
{
    margin-right: 20px;
    float: left;
}
#footer .links
{
    margin-top: 20px;
    margin-bottom: 15px;
}
#footer .footer_text
{
    color: #757575;
    font-size: 11px;
    margin: 0 auto;
    text-align: center;
    width: 730px;
    padding: 20px 0;
    line-height: 16px;
}
#footer .footer_link
{
    color: #0284D6;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover
{
    color: #093755;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}

/*					Localizations					*/

#EN .button_tradeBox {padding: 0 0 0 0 ;}
#EN #content_btm {width:1000px; padding: 0px 110px 0 100px;}
#EN .bottom_list {width: 1000px;}
#EN .bottom_list li {width: 660px;}
#EN .button_tradeBox {padding:0 -200px; 0 0;}
#EN .button_learnBox {margin-top:230px;}

#RU #mainimg { top: 320px }
#RU .alibaba_logo { left: 789px; top: 195px;}
#RU #content_btm { margin-top: 20px ; padding: 0px 80px 0 80px;  }
#RU .bottom_list { width: 1050px; }
#RU .bottom_list li { width: 710px; }
#RU .button_tradeBox { margin:0 0 0 30px; float: right; }
#RU .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_ru.png); }
#RU .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_ru.png); }
#RU .content_learnBox { width: 770px; }
#RU #content_top {width: 1035px;}
#RU .top_list {width: 485px;}

#DE .alibaba_logo{ left: 847px; }
#DE .button_tradeBox { position: relative; margin-top: 5px; float:right; }
#DE #content_btm { margin-top: 0; padding:0 50px 0 70px; }
#DE .button_learnBox {margin:280px 10px 0 0;}
#DE h4 { line-height: 27px; margin-top: 50px; }
#DE .bottom_list { width: 1040px; }
#DE .bottom_list li { width: 700px; }
#DE .content_learnBox {width:740px;}
#DE .top_list .p2 { background-position: left 16px; }
#DE .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_de.png); }
#DE .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_de.png); }

#IT #mainimg { top: 340px 
}
#IT .alibaba_logo {left: 650px;
top: 195px;}
#IT h4 { line-height: 27px; }
#IT .button_tradeBox { position: relative; margin-top: 0px; float: right; z-index:9999; }
#IT .bottom_list { width: 1050px; }
#IT .bottom_list li {width: 705px;}
#IT .content_learnBox { width: 740px; }
#IT .top_list .p1 { background-position: left 25px; }
#IT .top_list .p2 { background-position: left 25px; }
#IT .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_it.png); }
#IT .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_it.png); }
#IT #content_btm {padding:0 50px 0 70px;}
#IT #content_top {width:1050px;}

#FR #mainimg { top: 325px; }
#FR .alibaba_logo{ left: 675px;}
#FR .bottom_list { width: 940px; }
#FR .button_tradeBox { width: 302px; }
#FR .button_tradeBox { width: 302px; position: relative; margin-top: 5px; float: right; }
#FR .top_list .p2 { background-position: left 16px; }
#FR .top_list .p3 { background-position: left 16px; }
#FR .tradeBox_StartButton { width: 302px; background-image: url(../images/bttn_StartNow_01_fr.png); }
#FR .learnBox_StartButton { width: 252px; background-image: url(../images/bttn_StartNow_02_fr.png); }
#FR .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
	padding: 0 0 0 0 ;
}


#FR .button_learnBox {margin-top:315px; margin-right:-5px;}
#FR .bottom_list li {width: 675px;}
#FR .bottom_list { width: 1055px; }
#FR .content_learnBox {width:720px}
#FR #content_btm {padding: 0 23px 0 65px;}
#FR #content_top {width:1050px;}

#ES h2 {margin: 66px 0 0 0;}
#ES #mainimg { top: 300px; }
#ES #content_btm { margin-top: -15px; }
#ES h4 { line-height: 27px; }
#ES .bottom_list { width: 1045px; }
#ES .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
	padding: 0 0 0 0 ;
}
#ES .alibaba_logo {
	left: 685px;
	top: 201px;
}
#ES .binaria {
	position: absolute;
	padding-left: 200px;
	display: block;
	text-align: left;
	width: 400px;
	left: 96px;
	top: 198px;
}


#ES .bottom_list li {width: 680px;}
#ES .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_es.png); }
#ES .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_es.png); }
#ES #content_btm {padding: 50px 0 0 80px;}
#ES .content_learnBox {width:720px;}
#ES #content_top {width:1050px;}

#TR #mainimg { top: 285px; }
#TR #content_btm { margin-top: 20px;  padding:0 50px 0 70px;}
#TR h1 { font-size: 38px; }
#TR .alibaba_logo {left: 234px;}
#TR h2 { font-size: 35px; }
#TR h4 { line-height: 27px; }
#TR .top_list .p2 { background-position: left 16px; }
#TR .bottom_list { width: 1050px; }
#TR .bottom_list li { width: 700px; }
#TR .button_tradeBox { padding:0 -200px 0 0; }
#TR .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_tr.png); }
#TR .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_tr.png); }
#TR .content_learnBox {width:740px;}
#TR #content_top {width:1050px;}


#ZH #mainimg { top: 240px; }
#ZH .alibaba_logo {left: 469px;}
#ZH #content_top {width:1050px;}
#ZH #content_btm { margin-top: 30px; padding:0 50px 0 80px; }
#ZH .button_learnBox { margin-top: 140px; }
#ZH .bottom_list { width: 940px; }
#ZH .bottom_list li { width: 700px; }
#ZH .top_list .p1 { background-position: left top; }
#ZH .button_tradeBox {padding:0 0 0 200px; }
#ZH .tradeBox_StartButton { background-image: url(../images/bttn_StartNow_01_zh.png); }
#ZH .learnBox_StartButton { background-image: url(../images/bttn_StartNow_02_zh.png); }
#ZH .bottom_list {width:1050px;}
#ZH .content_learnBox {width:740px;}



.disclaimer {width: 502px; float: right; text-align: left; font-size: 11px; color: #093755; margin-top: -5px; line-height: 16px; border-bottom: 1px dotted #aaaaaa; border-top: 1px dotted #aaaaaa; padding: 10px 0;}
