<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"

      xmlns:c="http://java.sun.com/jsp/jstl/core">


<t:panelTabbedPane rendered="#{populationEntry.userId != 0 || populationEntry.contactId != 0}"
              serverSideTabSwitch="true"
              styleClass="tabbedPaneRet"
              activeTabStyleClass="activeTab"
              inactiveTabStyleClass="inactiveTab"
   	          disabledTabStyleClass="disabledTab"
              activeSubStyleClass="activeSub"
              inactiveSubStyleClass="inactiveSub"
              tabContentStyleClass="tabContentRet">

 #{user.loadPopulationEntryUser}

<t:panelTab id="issuesRetention" label="#{msgs['menu.issues']}" >
    <iframe name="content" id="content" scrolling="no" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/retention/issues.jsf?refresh=true" width="100%" height="100%"></iframe>
</t:panelTab>

<t:panelTab id="retention" label="#{msgs['menu.retention']}" >
	  <t:panelTabbedPane
              serverSideTabSwitch="true"
              styleClass="subtabbedPane"
              activeTabStyleClass="subactiveTab"
              inactiveTabStyleClass="subinactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="subactiveSub"
              inactiveSubStyleClass="subinactiveSub"
              tabContentStyleClass="subtabContent">

			<t:panelTab id="background" label="#{msgs['menu.background']}" >
				 #{applicationData.initInvestmentsForm}
    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/background.jsf?refresh=true" width="100%" height="630px"></iframe>
		    </t:panelTab>

		    <t:panelTab id="information" label="#{msgs['menu.information']}" >
				 #{applicationData.initInvestmentsForm}
    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/information.jsf?refresh=true" width="100%" height="630px"></iframe>
		    </t:panelTab>

	    	 <t:panelTab id="retentionStats" label="#{msgs['menu.stats']}" >
    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/stats.jsf?refresh=true" width="100%" height="630px"></iframe>
		    </t:panelTab>


	</t:panelTabbedPane>

</t:panelTab>
<t:panelTab id="customerdet" label="#{msgs['menu.customerdet']}" rendered="#{populationEntry.contactId != 0 &amp;&amp; user.id == 0 &amp;&amp; user.hasRetentionMRole}">
    <iframe name="customerdet" id="customerdet" scrolling="no" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/support/editContact.jsf?refresh=true" width="100%" height="100%"></iframe>
</t:panelTab>

<t:panelTab id="transactions" label="#{msgs['menu.account.actions']}"
			rendered="#{populationEntry.userId != 0}" >
	  <t:panelTabbedPane
              serverSideTabSwitch="true"
              styleClass="subtabbedPane"
              activeTabStyleClass="subactiveTab"
              inactiveTabStyleClass="subinactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="subactiveSub"
              inactiveSubStyleClass="subinactiveSub"
              tabContentStyleClass="subtabContent">
			<t:panelTab id="investments" label="#{msgs['menu.investments']}" >
				 #{applicationData.initInvestmentsForm}
    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/retention/investments.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

		    <t:panelTab id="transactions" label="#{msgs['menu.transactions']}" >
			    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/retention/transactions.jsf?refresh=true" width="100%" height="100%"></iframe>
		    </t:panelTab>

		    <t:panelTab id="transinvestments" label="#{msgs['menu.transinvestments']}" >
    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/retention/transInvestments.jsf?refresh=true" width="100%" height="1000px"></iframe>
	    	</t:panelTab>

		    <t:panelTab rendered="#{user.etrader &amp;&amp; !user.partnerWriter}" id="taxpayments" label="#{msgs['menu.taxpayments']}" >
    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/retention/taxpayments.jsf?refresh=true" width="100%" height="1000px"></iframe>
	    	</t:panelTab>

	</t:panelTabbedPane>
</t:panelTab>

<t:panelTab id="deposit" label="#{msgs['menu.deposits']}"
    rendered="#{populationEntry.userId != 0}">

	  <t:panelTabbedPane
              serverSideTabSwitch="true"
              styleClass="subtabbedPane"
              activeTabStyleClass="subactiveTab"
              inactiveTabStyleClass="subinactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="subactiveSub"
              inactiveSubStyleClass="subinactiveSub"
              tabContentStyleClass="subtabContent">

              <t:panelTab rendered="#{user.skin.creditDepositAllowed}" id="deposit" label="#{msgs['menu.depositbycc']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/deposit.jsf?refresh=true" width="100%" height="450px"></iframe>
		      </t:panelTab>

		      <t:panelTab rendered="#{user.skin.creditDepositAllowed}" id="cards" label="#{msgs['menu.cards']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/cards.jsf?refresh=true" width="100%" height="450px"></iframe>
		      </t:panelTab>

   			  <t:panelTab rendered="#{user.skin.wireDepositAllowed &amp;&amp; user.skinId==1}" id="addwire"  visibleOnUserRole="support,admin" label="#{msgs['menu.newwire']}" >
	     	  	   <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/wire.jsf?refresh=true" width="100%" height="450px"></iframe>
			  </t:panelTab>

   			  <t:panelTab rendered="#{user.skin.wireDepositAllowed &amp;&amp; user.skinId!=1}" id="addwireAo"  visibleOnUserRole="support,admin" label="#{msgs['menu.newwire']}" >
					<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/wireAO.jsf?refresh=true" width="100%" height="450px"></iframe>
			  </t:panelTab>

			  <t:panelTab rendered="#{user.skin.bonusDepositAllowed &amp;&amp; !user.partnerWriter}" visibleOnUserRole="sadmin,accounting,admin,ssupport" id="bonusdeposit" label="#{msgs['menu.bonusdeposit']}" >
		   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			 </t:panelTab>

		      <t:panelTab rendered="#{user.skin.adminDepositAllowed &amp;&amp; !user.partnerWriter}" visibleOnUserRole="sadmin,accounting,admin,ssupport" id="admindeposit" label="#{msgs['menu.admindeposit']}" >
		   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/adminDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			 </t:panelTab>

 		     <t:panelTab rendered="#{user.skin.cashDepositAllowed &amp;&amp; !user.partnerWriter &amp;&amp; !user.retentionSelected}" id="cashdeposit" label="#{msgs['menu.cashdeposit']}" >
		   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/cashDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			 </t:panelTab>

			  <t:panelTab rendered="#{user.skin.phoneDepositAllowed &amp;&amp; !user.partnerWriter &amp;&amp; !user.retentionSelected}" id="phonedeposit" label="#{msgs['menu.phonedeposit']}" >
		   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/phoneDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			 </t:panelTab>

	</t:panelTabbedPane>

</t:panelTab>

<t:panelTab id="withdraw" label="#{msgs['menu.withdraws']}"
	rendered="#{populationEntry.userId != 0}">
	  <t:panelTabbedPane
              serverSideTabSwitch="true"
              styleClass="subtabbedPane"
              activeTabStyleClass="subactiveTab"
              inactiveTabStyleClass="subinactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="subactiveSub"
              inactiveSubStyleClass="subinactiveSub"
              tabContentStyleClass="subtabContent"
              selectedIndex="#{user.skin.chequeWithdrawAllowed ? 0 : 1}">

		<t:panelTab rendered="#{user.skin.chequeWithdrawAllowed}" id="withdraw" label="#{msgs['menu.withdraw']}" >
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
	    </t:panelTab>

	    <t:panelTab rendered="#{user.skin.creditWithdrawAllowed}" id="cc_withdraw" label="#{msgs['menu.cc.withdraw']}" >
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/creditCard_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
	    </t:panelTab>

  		    <t:panelTab rendered="#{user.skin.reverseWithdrawAllowed}" id="reverse" label="#{msgs['menu.reverse']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/reverseWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
	    </t:panelTab>

  		    <t:panelTab rendered="false" id="bonuswithdraw" label="#{msgs['menu.bonuswithdraw']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
	    </t:panelTab>

        <t:panelTab rendered="#{user.skin.adminWithdrawAllowed &amp;&amp; !user.partnerWriter}" visibleOnUserRole="sadmin,accounting,admin,ssupport" id="adminwithdraw" label="#{msgs['menu.adminwithdraw']}" >
	   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/adminWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
	    </t:panelTab>

	    <t:panelTab rendered="#{user.skin.bankWithdrawAllowed}" id="bankWire" label="#{msgs['menu.bank.wire']}" >
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/bank_wire.jsf?refresh=true" width="100%" height="450px"></iframe>
	    </t:panelTab>

	</t:panelTabbedPane>
</t:panelTab>

<t:panelTab id="userdet" label="#{msgs['menu.customerdet']}"
	rendered="#{populationEntry.userId != 0}">

	  <t:panelTabbedPane
              serverSideTabSwitch="true"
              styleClass="subtabbedPane"
              activeTabStyleClass="subactiveTab"
              inactiveTabStyleClass="subinactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="subactiveSub"
              inactiveSubStyleClass="subinactiveSub"
              tabContentStyleClass="subtabContent">

	  <t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" >
    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/user.jsf?refresh=true" width="100%" height="1000px"></iframe>
      </t:panelTab>

	  <t:panelTab visibleOnUserRole="sadmin" id="changepass"  label="#{msgs['menu.changepass']}" >
    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/changePass.jsf?refresh=true" width="100%" height="400px"></iframe>
      </t:panelTab>

	</t:panelTabbedPane>

</t:panelTab>

<t:panelTab id="newUser" label="#{msgs['menu.newuser']}" rendered="#{populationEntry.userId == 0}">
     <iframe name="content" id="content" scrolling="no" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/support/register.jsf?refresh=true" width="100%" height="450px"></iframe>
</t:panelTab>

<t:panelTab id="templates" label="#{msgs['menu.templates']}" >
     <iframe name="content" id="content" scrolling="no" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/support/sendTemplate.jsf?refresh=true" width="100%" height="450px"></iframe>
</t:panelTab>

<t:panelTab id="bonuses" rendered="#{populationEntry.userId != 0}" label="#{msgs['menu.bonuses']}" >
     <iframe name="content" id="content" scrolling="no" frameborder="no"
		src="#{facesContext.externalContext.requestContextPath}/jsp/retention/bonusUsers.jsf?refresh=true" width="100%" height="450px"></iframe>
</t:panelTab>

<t:panelTab id="reward" label="#{msgs['menu.rewards']}" rendered="#{user.rewardUser != null and user.rewardUser.tierId > 0}" >
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="rewards_overall" label="#{msgs['rewards.overall']}" >
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/rewards_overall.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

			    <t:panelTab id="rewards_history" label="#{msgs['rewards.history']}" >
		    		#{applicationData.initRewardsUserHistoryForm}
	    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/rewards_history.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

<t:panelTab id="loyaltydet" label="#{msgs['menu.loyalty']}" rendered="#{user.inTier &amp;&amp; populationEntry.userId != 0}" >

	  <t:panelTabbedPane
              serverSideTabSwitch="true"
              styleClass="subtabbedPane"
              activeTabStyleClass="subactiveTab"
              inactiveTabStyleClass="subinactiveTab"
              disabledTabStyleClass="disabledTab"
              activeSubStyleClass="subactiveSub"
              inactiveSubStyleClass="subinactiveSub"
              tabContentStyleClass="subtabContent">

		    <t:panelTab id="loyalty" label="#{msgs['menu.loyalty.card']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/pointsBalance.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab id="loyaltyHis" label="#{msgs['menu.points.history']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/retention/loyaltyHistory.jsf?refresh=true" width="100%" height="1000px"></iframe>
	    	</t:panelTab>

		    <t:panelTab id="pointsConvert" label="#{msgs['menu.points.to.cash']}" >
		   	    <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/pointsToCash.jsf?refresh=true" width="100%" height="600px"></iframe>
			</t:panelTab>

		    <t:panelTab id="tierUpdate" label="#{msgs['menu.tier.update']}" visibleOnUserRole="admin,sadmin">
		   	    <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/userTierUpdate.jsf?refresh=true" width="100%" height="600px"></iframe>
			</t:panelTab>

	</t:panelTabbedPane>

</t:panelTab>

   	<t:panelTab id="regSingleQuestionnaire" rendered="#{user.showSingleRegQuestionnaire() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole )}" label="#{msgs['menu.questionnaire.mandatory.ao.co.regulation']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/regSingleQuestionnaire.jsf?refresh=true" width="100%" height="750px"></iframe>
   	</t:panelTab>
   	
    	<t:panelTab id="questionnaires" label="#{msgs['menu.questionnaire']}"  rendered="#{!user.showSingleRegQuestionnaire() &amp;&amp; user.skin.isRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole )}">
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="mandatory" label="#{msgs['menu.questionnaire.mandatory']}"  rendered="#{user.skin.isRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole ) &amp;&amp; !user.isEtrader()}">
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/questionnaireMandatory.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

				<t:panelTab id="optional" label="#{msgs['menu.optional.mandatory']}" rendered="#{user.skin.isRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole ) &amp;&amp; !user.isEtrader()}">
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/questionnaireOptional.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

</t:panelTabbedPane>

</f:view>