<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/templates/template_general.xhtml">
	<ui:define name="content">
		<h:panelGroup>
		    <t:outputText value="#{msgs['voice.spin.retention.error']}" styleClass="error" style="font-size:17px;"/>
			<t:outputText escape="false" value="#{facesContext.externalContext.requestParameterMap['entryId']}" styleClass="error" style="font-size:17px;"/>
		</h:panelGroup>
	</ui:define>
	</ui:composition>
</html>