<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

<t:saveState value="#{salesTurnoversForm}" />

<h:form id="salesTurnoversForm">
	#{salesTurnoversForm.salesTypeDepByMenuSelected}
	<h:panelGrid border="0" columns="12">
		<h:outputLabel for="from" value="#{msgs['general.from']}"/>
		<h:panelGrid border="0" columns="3">
			<h:inputText styleClass="input_text" id="from" value="#{salesTurnoversForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:from'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
		    </h:inputText>
	    	<A HREF="#" onClick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
	   			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        </A>
			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

		<h:outputLabel for="to" value="#{msgs['general.to']}"/>
		<h:panelGrid border="0" columns="3">
  					<h:inputText styleClass="input_text" id="to" value="#{salesTurnoversForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			</h:inputText>
			<A HREF="#" onClick="cal.select(document.forms['salesTurnoversForm'].elements['salesTurnoversForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
				<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			</A>
			<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
		</h:panelGrid>

		<h:outputLabel for="currencies" value="#{msgs['sales.deposit.sales.currency']}"/>
 		<t:selectOneMenu id="currencies" value="#{salesTurnoversForm.currencyId}">
    		<f:selectItems value="#{writer.currencySI}" />
    	</t:selectOneMenu>

		<t:outputLabel rendered="#{user.retentionMSelected}" for="repId" value="#{msgs['sales.deposit.sales.representative']} " />
		<t:selectOneMenu rendered="#{user.retentionMSelected}" id="repId" value="#{salesTurnoversForm.writerId}" >
		    <f:selectItems value="#{writer.salesRetentionWritersAll}" />
		</t:selectOneMenu>
		
		<h:panelGroup rendered="#{user.retentionMSelected}" >
		   	<t:outputLabel id="salesTypeDepartmentLable" for="salesTypeDepartmentId" value="#{msgs['retention.teams']}"/>
           	<t:selectOneMenu id="salesTypeDepartmentId" value="#{salesTurnoversForm.salesTypeDepId}"  >
				<f:selectItems value="#{writer.retentionTeamsSI}" />
           	</t:selectOneMenu>
       	</h:panelGroup>

		<h:outputLabel for="skinId" value="#{msgs['sales.deposit.sales.skin']}"/>
   		<h:selectOneMenu id="skinId" value="#{salesTurnoversForm.skinId}" style="width:105px" >
   			<f:selectItems value="#{writer.skinsAndEmptyLongSI}" />
   		</h:selectOneMenu>

		<h:panelGrid border="0" columns="1" witdh="3px"/>

		<t:commandLink id="searchBtn" action="#{salesTurnoversForm.search}">
	        <h:outputText value="#{msgs['button.search']}" />
  		</t:commandLink>
	</h:panelGrid>

	<h:panelGrid witdh="80%">


          <t:dataTable id="data"
            styleClass="scrollerTable"
            headerClass="standardTable_Header"
            footerClass="standardTable_Header"
            rowClasses="standardTable_Row1,standardTable_Row2"
            columnClasses="sdtDate,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum"
            var="v"
            preserveDataModel="false"
            rows="31"
            renderedIfEmpty="false"
            cellpadding="0"
            cellspacing="1"
            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
			rowOnMouseOut="this.style.backgroundColor=old"
            value="#{salesTurnoversForm.totalsList}">

				<f:facet name="header">
					<t:dataTable id="data1"
			            styleClass="scrollerTable"
			            headerClass="standardTable_Header"
			            footerClass="standardTable_Header"
			            rowClasses="standardTable_Row1,standardTable_Row2"
			            columnClasses="sdtDate,sdtHeader,sdtHeader"
			            var="v"
			            preserveDataModel="false"
			            rows="31"
			            renderedIfEmpty="false"
			            cellpadding="0"
			            cellspacing="1"
			            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
			            value="">

			        	 <h:column>
			        	 		<h:outputText value="&#160;"/>
			       		 </h:column>

			       		 <h:column>
			       		 		<f:facet name="header">
				             		 <h:outputText value="#{msgs['sales.deposit.total.transactions']}"/>
				           		</f:facet>

				           		<t:dataTable id="data2"
							            styleClass="scrollerTable"
							            headerClass="standardTable_Header"
							            footerClass="standardTable_Header"
							            rowClasses="standardTable_Row1,standardTable_Row2"
							            columnClasses="sdtSubHeader,sdtSubHeader,sdtSubHeader,sdtSubHeader"
							            var="v"
							            preserveDataModel="false"
							            rows="31"
							            renderedIfEmpty="false"
							            cellpadding="0"
							            cellspacing="1"
							            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
										rowOnMouseOut="this.style.backgroundColor=old"
							            value="">

						            	<h:column>
						            		<h:outputText value="#{msgs['sales.deposit.total.deposits']}"/>
						            	</h:column>

						            	<h:column>
						            		<h:outputText value="#{msgs['sales.deposit.total.investments']}"/>
						            	</h:column>
						            							            	
						            	<h:column>
						            		<h:outputText value="&#160;"/>
						            	</h:column>

						      </t:dataTable>
			       		 </h:column>
			         </t:dataTable>
				</f:facet>

	            <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.deposits.date']}"/>
		           </f:facet>
		              <h:outputText value="#{v.date}" />
	       		</h:column>


		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.deposits.count']}"/>
		           </f:facet>
		           
		           <t:commandLink action="#{salesTurnoversForm.retTranMadeCountLink}" immediate="true">
		               <h:outputText value="#{v.retTranMadeCount}" />
		               <f:setPropertyActionListener target="#{salesTurnoversForm.selectedTotalsRow}" value="#{v}" />
				   </t:commandLink>
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.deposits.sum']}"/>
		           </f:facet>
		              <h:outputText value="#{v.retTranMadeSum}" />
		       </h:column>
		       
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposits.customers']}"/>
		           </f:facet>
		              <h:outputText value="#{v.retTranNumOfUsers}" />
	       		</h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.deposits.count']}"/>
		           </f:facet>
	               <h:outputText value="#{v.retInvMadeCount}" />
		       </h:column>

		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.sales.deposits.sum']}"/>
		           </f:facet>
		              <h:outputText value="#{v.retInvMadeSum}" />
		       </h:column>	
		       
		       <h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposits.customers']}"/>
		           </f:facet>
		              <h:outputText value="#{v.retInvNumOfUsers}" />
	       		</h:column>
	       		<h:column>
		           	<f:facet name="header">
		              	<h:outputText value="#{msgs['sales.deposit.total.sum.withdraw']}"/>
		           	</f:facet>
		           	<t:commandLink action="#{salesTurnoversForm.retTranWithdrawMadeSumLink}" immediate="true">
		               	<h:outputText value="#{v.retTranWithdrawMadeSum}" />
						<f:setPropertyActionListener target="#{salesTurnoversForm.selectedTotalsRow}" value="#{v}" />
					</t:commandLink>
		       	</h:column>
				<h:column>
		           <f:facet name="header">
		              <h:outputText value="#{msgs['sales.deposit.total.withd.dep']}"/>
		           </f:facet>
		              <h:outputText value="#{v.retTranWithdrawDepMadeSum}" />
	       		</h:column>
	       		<f:facet name="footer">
					<t:dataTable id="data4"
						            styleClass="scrollerTable"
						            headerClass="standardTable_Header"
						            footerClass="standardTable_Header"
						            rowClasses="standardTable_Row1,standardTable_Row2"
						            columnClasses="sdtDate,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum,sdtCount,sdtSum"
						            var="sum"
						            preserveDataModel="false"
						            rows="31"
						            renderedIfEmpty="false"
						            cellpadding="0"
						            cellspacing="1"
						            rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
									rowOnMouseOut="this.style.backgroundColor=old"
						            value="#{salesTurnoversForm.totalsSumList}">
	
						   <h:column >
					           <f:facet name="header" >
					              <h:outputText value="&#160;"/>
					           </f:facet>
					              <h:outputText value="" />
				       	   </h:column>
				       	   
					       <h:column>
					           <f:facet name="header">
					              <h:outputText value="#{msgs['sales.deposit.sales.deposits.count']}"/>
					           </f:facet>
				               <h:outputText value="#{sum.retTranMadeCount}" />
					       </h:column>
	
					       <h:column>
					           <f:facet name="header">
					              <h:outputText value="#{msgs['sales.deposit.sales.deposits.sum']}"/>
					           </f:facet>
					              <h:outputText value="#{sum.retTranMadeSum}" />
					       </h:column>
	
						   <h:column>
					           <f:facet name="header">
					              <h:outputText value=""/>
					           </f:facet>
				               <h:outputText value="" />
					       </h:column>				       	   
	
					       <h:column>
					           <f:facet name="header">
					              <h:outputText value="#{msgs['sales.deposit.sales.deposits.count']}"/>
					           </f:facet>
					           <h:outputText value="#{sum.retInvMadeCount}" />
					       </h:column>
	
					       <h:column>
					           <f:facet name="header">
					              <h:outputText value="#{msgs['sales.deposit.sales.deposits.sum']}"/>
					           </f:facet>
					              <h:outputText value="#{sum.retInvMadeSum}" />
					       </h:column>
	
						   <h:column>
					           <f:facet name="header">
					              <h:outputText value=""/>
					           </f:facet>
				               <h:outputText value="" />
					       </h:column>
							<h:column>
					           	<f:facet name="header">
					              	<h:outputText value="#{msgs['sales.deposit.sales.deposits.sum']}"/>
					           	</f:facet>
								<h:outputText value="#{sum.retTranWithdrawMadeSum}" />
				       		</h:column>
					       	<h:column>
								<f:facet name="header">
					              	<h:outputText value="#{msgs['sales.deposit.total.withd.dep']}"/>
					           	</f:facet>
					              	<h:outputText value="#{sum.retTranWithdrawDepMadeSum}" />
							</h:column>
				</t:dataTable>
			</f:facet>     

		 </t:dataTable>

	     <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{salesTurnoversForm.totalsListSize > 31}">
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

        	</t:dataScroller>

		</h:panelGrid>

</h:panelGrid>
</h:form>
</ui:define>
</ui:composition>

</html>