<div ng-include="'../retention/sales-deposits-tabs.html'"></div>

<div id="tab-content" class="content sales-deposit-content sales-deposit-conversion-content">
	<div class="sales-deposit-filter" ng-keypress="checkSubmitConversion($event)">
		<label>
			{{getMsgs('general.user.id')}}
			<input name="user_id" ng-model="conversion.search.userID" restrict-digits>
		</label>
		
		<label for="startDate">
			{{getMsgs('general.start.date')}}
		</label>
		<div class="date-holder">
			<input id="startDate" type="text" readonly="readonly" class="form-control" onkeypress="return false;" datetime-picker="dd/MM/yyyy" ng-click="conversion.openCalendar($event, 'startDate')" ng-model="conversion.search.startDate" is-open="conversion.search.openDates.startDate" enable-time="false" min-date="conversion.minDate" max-date="conversion.search.endDate" datepicker-options="dateOptions" />
			<button type="button" class="btn btn-default" ng-click="conversion.openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
		</div>
		<label for="endDate">
			{{getMsgs('general.end.date')}}
		</label>
		<div class="date-holder">
			<input id="endDate" type="text" readonly="readonly" class="form-control" onkeypress="return false;" datetime-picker="dd/MM/yyyy" ng-click="conversion.openCalendar($event, 'endDate')" ng-model="conversion.search.endDate" is-open="conversion.search.openDates.endDate" enable-time="false" min-date="conversion.search.startDate" max-date="conversion.maxDate" datepicker-options="dateOptions" />
			<button type="button" class="btn btn-default" ng-click="conversion.openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
		</div>
		
		<label ng-if="salesWriter.permissions.isManager">
			{{getMsgs('sales.deposits.representative')}}
			<select ng-model="conversion.search.representative">
				<option ng-repeat="option in conversion.representatives" value="{{option.id}}">{{option.name}}</option>
			</select>
		</label>
		
		<label ng-if="salesWriter.permissions.isManager">
			{{getMsgs('skin')}}
			<select ng-model="conversion.search.skin" ng-options="skin.name for skin in skins"></select>
		</label>
		
		<button type="button" class="button blue search-button" ng-click="getDepositsConversion()" id="submitBtn">
			{{getMsgs('button.search')}}
		</button>
		
		<button type="button" class="button green export-button" ng-click="exportConversion()" id="exportBtn">
			{{getMsgs('export')}}
		</button>
		<span ng-if="exportConversionSuccessful">{{getMsgs('sales.deposit.sales.export_successful', {email: writerEmail})}}</span>
		
		<div class="global-errors-container" data-global-errors></div>
	</div>
	<ul class="table sales-deposits-table mt15" ng-if="conversion.depositSummary.length > 0">
		<li class="header">
			<span>{{getMsgs('sales.deposit.sales.representative')}}</span>
			<span>{{getMsgs('general.user.id')}}</span>
			<span>{{getMsgs('sales.deposits.depositAmountUSD')}}</span>
			<span>{{getMsgs('investments.timecreated')}}</span>
		</li>
		<li ng-class-odd="'odd'" class="row" ng-repeat="row in conversion.depositSummary track by $index">
			<span>{{row.repUserName}}</span>
			<span>{{row.userId}}</span>
			<span>{{row.depositAmountUSDFormatted}}</span>
			<span>{{row.transactionTime}}</span>
		</li>
		<li ng-if="conversion.depositSummary.length > 0" ng-class="{odd: conversion.depositSummary.length % 2 == 0}" class="row row-footer">
			<span></span>
			<span></span>
			<span>{{conversion.depositSummary[0].depositSumAmountFormatted}}</span>
			<span></span>
		</li>
	</ul>
	<div class="sales-deposit-totalCount"><span>{{getMsgs('sales.deposits.totalCount')}}:</span> <u>{{conversion.totalCount}}</u></div>
	<div class="pages" ng-if="conversion.pages.length > 1">
		<a href="" class="pageArrow previousGroup" ng-if="true" ng-click="getDepositsConversion(previousPageGroup(conversion.currentPage))"></a>
		<a href="" class="pageArrow previousPage" ng-if="true" ng-click="getDepositsConversion(previousPage(conversion.currentPage))"></a>
		<a href="" class="pageNo" ng-class="{current: page == conversion.currentPage}" ng-repeat="page in conversion.pages" ng-click="getDepositsConversion(page)">{{page}}</a>
		<a href="" class="pageArrow nextPage" ng-if="true" ng-click="getDepositsConversion(nextPage(conversion.currentPage, conversion.maxPage))"></a>
		<a href="" class="pageArrow nextGroup" ng-if="true" ng-click="getDepositsConversion(nextPageGroup(conversion.currentPage, conversion.maxPage))"></a>
	</div>
</div>