<div class="tabs-holder">
	<ul class="tabs">
		<li ng-repeat="tab in salesDepositsTabs" class="tab">
			<a href="" ng-if="tab.visible" ng-class="{ current: $state.includes(tab.link) }" ng-click="$state.go(tab.link, {ln: skinLanguage});">{{tab.name}}</a>
		</li>
	</ul>
</div>