<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:t="http://myfaces.apache.org/tomahawk"
 		locale="#{writer.localInfo.locale}">
	<BODY>
		<ui:include src="/jsp/retention/timeZoneSelect.xhtml">
	    	<ui:param name="formName" value="#{callMeForm}" />
	    </ui:include>
	</BODY>
</f:view>