<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<div class="smartphone_page" align="center">
		<div style="padding-top:10px;" align="center">
		    <div class="smartphone_content">
				<img src="#{applicationData.imagesPath}/mobile/aoanywhere.png" width="260px" height="108px" />
			</div>
		    <div class="smartphone_text">
				<strong>
					<h:outputText value="#{msgs['CMS.appPage.text.t1']}" escape='false'/><br />
					<h:outputText escape="false" rendered="#{device == 'iphone'}" value="iPhone"/> 
					<h:outputText escape="false" rendered="#{device == 'android'}" value="android"/>
					&#160;<h:outputText value="#{msgs['CMS.appPage.text.t10']}" escape='false'/>
				</strong>
		    </div>
		  	<div class="smartphone_content">
				<h:panelGroup rendered="#{applicationData.skinId!=15}">
					<a href="#{device == 'iphone'?'http://itunes.apple.com/us/app/anyoption/id403987356?mt=8':'market://details?id=com.anyoption.android.app'}" style="text-align:center; font-size:18px; line-height:24px; color:#0284d6; font-weight:bold; text-decoration:none;">
						<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/smartphone/#{device == 'iphone'?'appstor':'appmarket'}.gif" border="0" style="padding-top:20px; padding-bottom:20px;"/>
						<br />
						<h:outputText value="#{msgs['CMS.appPage.text.t2']}" escape='false'/>
						<br />
					</a>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId==15}">
					<a href="#{device == 'iphone'?'http://itunes.apple.com/us/app/anyoption/id403987356?mt=8':'http://apk.91.com/Soft/Android/com.anyoption.android.app-19-6.html'}" style="text-align:center; font-size:18px; line-height:24px; color:#0284d6; font-weight:bold; text-decoration:none;">
						<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/smartphone/#{device == 'iphone'?'appstor.gif':'android_91.png'}" border="0" style="padding-top:20px; padding-bottom:20px;"/>
						<br />
						<h:outputText value="#{msgs['CMS.appPage.text.t2']}" escape='false'/>
						<br />
					</a>
				</h:panelGroup>
	 		</div>
			<br/>
			<div class="smartphone_text">
				<strong>
					<h:outputText value="#{msgs['CMS.appPage.text.t3']}" escape='false'/>
				</strong>
				<br /><br />
				<ul>
					<li><h:outputText value="#{msgs['CMS.appPage.text.t4']}" escape='false'/> <br /></li>
					<li><h:outputText value="#{msgs['CMS.appPage.text.t5']}" escape='false'/> <br /></li>
					<li><h:outputText value="#{msgs['CMS.appPage.text.t6']}" escape='false'/><br /></li>
				</ul>
			</div>
			<a href="#{facesContext.externalContext.requestContextPath}/mobile/#{device}/appContactUs.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
				<h:outputText value="#{msgs['CMS.appPage.label.t7']}" escape='false'/>
			</a>
			|
			<a href="#{facesContext.externalContext.requestContextPath}/mobile/#{device}/appAboutUs.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
				<h:outputText value="#{msgs['CMS.appPage.label.t8']}" escape='false'/>
			</a>
			|
			<a href="#{facesContext.externalContext.requestContextPath}/mobile/#{device}/appBinary.jsf" style="color:#0284d6;font-family:Arial, Helvetica, sans-serif;">
				<h:outputText value="#{msgs['CMS.appPage.label.t9']}" escape='false'/>
			</a>
		</div>
	</div>
</f:view>