<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" >

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['mobile.window.title.security']}"/>
	</ui:define>
	<ui:define name="pageTitle">
		<h:outputText value="#{msgs['rightnav.security']}"/>
	</ui:define>
	<ui:define name="content">
		<ui:include src="/mobile/security_content.xhtml" />
	</ui:define>
</ui:composition>
</html>
