<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/android.css?new=cvsVersionParam" type="text/css"/>
</head>
<body class="mainBonus">
<f:view locale="#{applicationData.userLocale}">
	<div id="mainDiv">
		<table border="0px" cellspacing="0px" cellpadding="0px">
			<tr>
				<td>
					<br />
					<span class="bonus">						<h:outputText value="#{msgs['CMS.termsBonus3.text.t1']}" escape='false'/>
					</span>
					<br/>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t2']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.
									<br/><br/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t3']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t4']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
									<br/><br/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t5']}" escape='false'/>
									<br/>
									<br/>
								</span>
							</h:panelGroup>
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2 || facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
								facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t6']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t7']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
									<br/><br/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t8']}" escape='false'/>
									<br/><br/>
								</span>
							</h:panelGroup>
					</h:panelGroup>

					  <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
								facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
								facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t9']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t10']}" escape='false'/>
									#{facesContext.externalContext.requestParameterMap['numOfActions']}
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t11']}" escape='false'/>
									#{facesContext.externalContext.requestParameterMap['numOfActions']} 
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t12']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
									<br/><br/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t13']}" escape='false'/>
									<br/><br/>
								</span>
							</h:panelGroup>
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t14']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t15']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
									<br/><br/>
									<h:outputText value="#{msgs['CMS.termsBonus3.text.t16']}" escape='false'/>
									<br/><br/>
								</span>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId==9}">
								<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t19']}" escape='false'/>
										<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> 
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t20']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['numOfActions']}.<br/> <br/>  
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t21']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['numOfActions']} 
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t22']}" escape='false'/>
										<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/> <br/> 
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t23']}" escape='false'/>
										<br/><br/>
									</span>
								</h:panelGroup> 
								<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t24']}" escape='false'/>
										<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. 
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t25']}" escape='false'/>
										<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
										<br/> <br/> 
										<h:outputText value="#{msgs['CMS.termsBonus3.text.t26']}" escape='false'/>
										<br/> <br/>
									</span>
								</h:panelGroup>
							</h:panelGroup>
					  </h:panelGroup>

					<span class="bonus_terms">
						<h:outputText value="#{msgs['CMS.termsBonus3.text.t17']}" escape='false'/>
						<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/>
						<h:outputText value="#{msgs['CMS.termsBonus3.text.t18.1']}" escape='false'/>					
						<br/><br/>
						<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
							<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" />
							<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" />
						</h:outputFormat>
			            <br/><br/>
			            <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
					</span>
					<br /><br />
				</td>
				<td width="10px"></td>
			</tr>
		</table>
	</div>
</f:view>
</body>
</html>