<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<head>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/android.css?new=cvsVersionParam" type="text/css"/>
</head>
<body class="mainBonus">
<f:view locale="#{applicationData.userLocale}">
	<div id="mainDiv">
		<table border="0px" cellspacing="0px" cellpadding="0px">
			<tr>
				<td>
					<br />
					<span class="bonus">
						<h:outputText value="#{msgs['CMS.termsBonus2.text.t1']}" escape='false'/>
					</span>
					<br/>
					<span class="bonus_text">
						<h:outputText value="#{msgs['CMS.termsBonus2.text.t2']}" escape='false'/>
						<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
						<h:outputText value="#{msgs['CMS.termsBonus2.text.t2_2']}" escape='false'/>
					</span>
					<br/><br/>
					<span class="bonus_terms">
						<h:outputText value="#{msgs['CMS.termsBonus2.text.t3']}" escape='false'/>
						#{facesContext.externalContext.requestParameterMap['wageringParam']}
						<h:outputText value="#{msgs['CMS.termsBonus2.text.t4.1']}" escape='false'/>
						<br/><br/>
						<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
							<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" />
							<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" />
						</h:outputFormat>
			            <br/><br/>
			            <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
					</span>
					<br />
					<br />
	       		</td>
				<td width="10px"></td>
			</tr>
		</table>
	</div>
</f:view>
</body>
</html>