<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<head>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/android.css?new=cvsVersionParam" type="text/css"/>
</head>
<body class="mainBonus">
<f:view locale="#{applicationData.userLocale}">
	<div id="mainDiv">
		<table border="0px" cellspacing="0px" cellpadding="0px">
			<tr>
				<td>
					<br />
					<span class="bonus">
						<h:outputText value="#{msgs['CMS.termsBonus4.text.t1']}" escape='false'/>
					</span>
					<br/><br/>
					<c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==false}">
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
								facesContext.externalContext.requestParameterMap['bonusStateId']==4 || facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
								facesContext.externalContext.requestParameterMap['bonusStateId']==6 || facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t2']}" escape='false'/>
									#{facesContext.externalContext.requestParameterMap['bonusPercent']}
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t3']}" escape='false'/>
									#{facesContext.externalContext.requestParameterMap['minDeposit']} 
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t4']}" escape='false'/>
									<h:panelGroup rendered="#{applicationData.skinId!=4}">
										<br/><br/>
										<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
											<h:outputText value="#{msgs['CMS.termsBonus4.text.t5']}" escape='false'/>
											#{facesContext.externalContext.requestParameterMap['bonusAmount']}.
											<br/>
										</h:panelGroup>
										<br/>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t6']}" escape='false'/>
									</h:panelGroup>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t7']}" escape='false'/>
									<br/><br/>
								</span>
							</h:panelGroup>
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t8']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t9']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t10']}" escape='false'/>
									<br/><br/>
								</span>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId==9}">
								<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t33']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['bonusPercent']} 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t34']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['numOfActions']}
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t35']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['numOfActions']}"/> 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t36']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['endDate']}"/>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t37']}" escape='false'/>
										<br/> <br/>
									</span>
								</h:panelGroup> 
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==3 || 
								facesContext.externalContext.requestParameterMap['bonusStateId']==4 || facesContext.externalContext.requestParameterMap['bonusStateId']==5 || 
								facesContext.externalContext.requestParameterMap['bonusStateId']==6 || facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
								
								<h:panelGroup rendered="#{applicationData.skinId!=9}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t11']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['bonusPercent']} 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t12']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['numOfActions']}  
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t13']}" escape='false'/>
										<h:outputText value="#{facesContext.externalContext.requestParameterMap['numOfActions']}"/> 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t14']}" escape='false'/>
										<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t15']}" escape='false'/>
										<br/>
										<br/>
									</span>
								</h:panelGroup>
								<h:panelGroup rendered="#{applicationData.skinId==9}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t38']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['bonusPercent']} 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t39']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['minDeposit']} 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t40']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['endDate']}"/>
										.<br/> <br/> 
										<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
											<h:outputText value="#{msgs['CMS.termsBonus4.text.t41']}" escape='false'/>
											#{facesContext.externalContext.requestParameterMap['bonusAmount']}
											. <br/>
										</h:panelGroup>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t42']}" escape='false'/>
										<br/> <br/>
									</span>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
								<span class="bonus_text">
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t16']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t17']}" escape='false'/>
									<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t18']}" escape='false'/>
									<br/><br/>
								</span>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId==9}">
								<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t48']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t49']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['endDate']}"/>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t50']}" escape='false'/>
										<br/> <br/>
									</span>
								</h:panelGroup>
								<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
									<span class="bonus_text">
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t43']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['bonusPercent']} 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t44']}" escape='false'/>
										#{facesContext.externalContext.requestParameterMap['numOfActions']}
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t45']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['numOfActions']}"/> 
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t46']}" escape='false'/>
										<h:outputText value=" #{facesContext.externalContext.requestParameterMap['endDate']}"/>
										<h:outputText value="#{msgs['CMS.termsBonus4.text.t47']}" escape='false'/>
										<br/> <br/>
									</span>
								</h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
					</c:if>
					<c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==true}">
						<script>
							var bonusSteps="#{facesContext.externalContext.requestParameterMap['bonusSteps']}";
							var bonusStepsArray = bonusSteps.split(",");
						</script>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
							facesContext.externalContext.requestParameterMap['bonusStateId']==4 || facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
							facesContext.externalContext.requestParameterMap['bonusStateId']==6 || facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
							<span class="bonus_text">
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t19']}" escape='false'/>
								<br/><br/>
							</span>
							<span class="bonus_text">
								<f:verbatim>
								<script>
									for(var i=0;i&lt;bonusStepsArray.length;i++){
										var bonusPercent = parseFloat(bonusStepsArray[i].split("#")[0])*100+'%';
										var minAmount    = "#{facesContext.externalContext.requestParameterMap['symbol']}"+parseInt(bonusStepsArray[i].split("#")[1])/100;
										var maxAmount    = "#{facesContext.externalContext.requestParameterMap['symbol']}"+parseInt(bonusStepsArray[i].split("#")[2])/100;
										document.write("#{msgs['CMS.termsBonus4.text.js1']} <span dir='ltr'>"+minAmount+".00</span> #{msgs['CMS.termsBonus4.text.js2']} <span dir="ltr">"+maxAmount+".00</span> (#{msgs['CMS.termsBonus4.text.js3']} " + (i+1) + ") #{msgs['CMS.termsBonus4.text.js4']} "+bonusPercent+" #{msgs['CMS.termsBonus4.text.js4']}");
										document.write('<br/>');
									}
								</script>
								</f:verbatim>
							</span>
							<span class="bonus_text">
								<br/>
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t20']}" escape='false'/>
								<span dir="ltr"><h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/> </span>
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t21']}" escape='false'/>
								<br/><br/>
								<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusAmountNoFormat'] != 0}">
									<h:outputText value="#{msgs['CMS.termsBonus4.text.t22']}" escape='false'/>
									<span dir="ltr">#{facesContext.externalContext.requestParameterMap['bonusAmount']}</span>.
									<br/>
								</h:panelGroup>
								<br/>
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t23']}" escape='false'/>
								<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t24']}" escape='false'/>
								<br/><br/>
							</span>
						</h:panelGroup>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
							<span class="bonus_text">
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t25']}" escape='false'/>
								<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t26']}" escape='false'/>
								<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t27']}" escape='false'/>
								<br/>
								<br/>
							</span>
						</h:panelGroup>
					</c:if>
					<span class="bonus_text">
						<h:outputText value="#{msgs['CMS.termsBonus4.text.t28']}" escape='false'/>
						<br/><br/>
						<c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==false or applicationData.skinId==9}">
						<h:panelGroup rendered="#{applicationData.skinId!=10}">
							<h:outputText value="#{msgs['CMS.termsBonus4.text.t29']}" escape='false'/>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.skinId==10}">
							<h:outputText value="#{msgs['CMS.termsBonus4.text.t29.1']}" escape='false'/>
						</h:panelGroup>
							<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam'] * facesContext.externalContext.requestParameterMap['bonusPercent'] / 100}"/> 
							<h:outputText value="#{msgs['CMS.termsBonus4.text.t30']}" escape='false'/>
						</c:if>
						<h:panelGroup rendered="#{applicationData.skinId!=9 and applicationData.skinId!=10}">
							<c:if test="#{facesContext.externalContext.requestParameterMap['hasSteps']==true}">
								<h:outputText value="#{msgs['CMS.termsBonus4.text.t31']}" escape='false'/>
								<br/>
								<f:verbatim>
								<script>
								for(var i=0;i&lt;bonusStepsArray.length;i++){
									var bonusPercent = parseFloat(bonusStepsArray[i].split("#")[0]);
									var wageringP = #{facesContext.externalContext.requestParameterMap['wageringParam']};
									document.write("#{msgs['CMS.termsBonus4.text.js6']} " + (i+1) + ": "+ (wageringP * bonusPercent) +" #{msgs['CMS.termsBonus4.text.js7']}");
									document.write('<br/>');
								}
								</script>
								</f:verbatim>
							</c:if>
							<br/>
							<h:outputText value="#{msgs['CMS.termsBonus4.text.t32.1']}" escape='false'/>
						</h:panelGroup>
						<br/><br/>
						<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
							<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" />
							<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" />
						</h:outputFormat>
			            <br/><br/>
			            <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
					</span>
					<br /><br />
				</td>
				<td width="10px"></td>
			</tr>
		</table>
	</div>
</f:view>
</body>
</html>
