﻿<f:view xmlns:f="http://java.sun.com/jsf/core">
<HEAD>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</HEAD>
<BR/>
<p class="text_info_page_12" dir="rtl">
חברת  etrader הוקמה על מנת לספק ללקוחות פרטיים מוצר חדשני ומהפכני - זירת מסחר מקוונת באופציות דיגיטליות. האתר תוכנן ועוצב במטרה לפשט את הליכי המסחר באופציות על מדדי מניות, שערי מט"ח (צמדי מטבעות), שערי מניות ומחירי סחורות, כך שכל לקוח יוכל לבצע השקעות קצרות מועד בעלות תשואה גבוהה בסכומי כסף נמוכים משמעותית מהמינימום הנדרש על ידי חברות לניהול תיקים או חדרי עיסקאות בבנקים.
</p>
<p class="text_info_page_12" dir="rtl">
ניסיונם של מייסדי החברה בניהול סיכונים וגידור, והיכרותם המעמיקה עם שוקי המטבע ובורסות העולם מונף לטובת יצירת כלי השקעה שווים לכל נפש, ללא עמלות, עם מנגנוני רווח והפסד ברורים וקבועים מראש. האיתנות הפיננסית של etrader מאפשרת להציע תשואה גבוהה במיוחד על מגוון רחב של אופציות.
</p>
<p class="text_info_page_12" dir="rtl">
באתר מוצגת מסביב לשעון סידרה של נכסי בסיס (כגון: דולר/שקל, יורו/דולר, מדד תל אביב 25 , תל אביב נדל"ן, FTSE, Nasdaq מניות טבע ופועלים, זהב ונפט). בכל אחד מהנכסים מוצעות ללקוח למכירה שתי אופציות דיגיטלית -   call או put  - המבוססות על הערכת הלקוח לגבי מגמת המחיר של נכס הבסיס בנקודת זמן מסוימת; בין אם בעוד שעה, בתום יום המסחר, בסוף השבוע או בסוף החודש. תמחור האופציה נעשה על ידי החברה והיא זו שמשלמת ללקוח את התשואה במקרה של השקעה מוצלחת.
</p>
<p class="text_info_page_12" dir="rtl">
etrader מציעה תשואה של 65-71 אחוזי רווח על חיזוי נכון של אופציית call או put כשבאופן אוטומטי כל רכישה של אופציה כזאת מעניקה אופציה הפוכה, ללא תמורה, שמגנה על 15% מגובה ההשקעה.
</p>
<p class="text_info_page_12" dir="rtl">
השימוש באתר כרוך בהרשמה שמצריכה הזדהות מלאה, כולל פרטי תעודת זהות. העברת הכספים לחשבון הלקוח מתאפשרת באמצעות כרטיסי אשראי, העברה בנקאית ושיטות מקובלות אחרות.
</p>
<p class="text_info_page_12" dir="rtl">
 etrader מנכה כחוק מס רווחי הון מלקוחותיה ומעבירה את הכספים ישירות למס ההכנסה בשם הלקוחות.
</p>
<p class="text_info_page_12" dir="rtl">
איטריידר בע"מ. רח' הברזל 38 תל אביב 69710. טלפון: 077-2282222. פקס: 03-6444403.
</p>

</f:view>