
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<f:verbatim>
<div dir="rtl" style="margin:0;	color:#566764;	font-family:Arial;	font-size:12px;	font-weight:normal;">
<br/>


1. לחץ על האייקון של תוכנת האנטי וירוס Avast
<br/><br/>
<img align="center" src="#{facesContext.externalContext.requestContextPath}/images/avast1.jpg" />
<br/><br/>

2. בחלון שייפתח לחץ על לשונית details
<br/><br/>
<img align="center" src="#{facesContext.externalContext.requestContextPath}/images/avast2.jpg" />
<br/><br/><br/>

3. בחר web shield  ולחץ על customize
<br/><br/>
<img align="center" src="#{facesContext.externalContext.requestContextPath}/images/avast3.jpg" />
<br/><br/><br/>

4. בחלון הבא לחץ על לשונית Exceptions, לחץ על כפתור add והקלד כך את כתובת האתר *etrader.co.il* (כולל הכוכביות)
<br/><br/>
<img align="center" src="#{facesContext.externalContext.requestContextPath}/images/avast4.jpg" />
<br/><br/><br/>

5. לחץ ok לאישור, שוב ok

<br/><br/><br/>
אתה מוזמן להיעזר בנציגי שירות הלקוחות שלנו בטלפון 077-2282222.
<br/><br/>

תודה

</div>
</f:verbatim>
</f:view>