<f:view xmlns:f="http://java.sun.com/jsf/core">
<BR/>
<p class="text_red_12_bold">
הפקדה באמצעות כרטיס אשראי
</p>
<p class="text_info_page_12">
ניתן להפקיד כספים בחשבון בקלות, בביטחון
מירבי ובנוחות באמצעות כרטיסי אשראי  מסוג
ויזה, מסטרקרד, דיינרס, ישראכרט  ואמריקן אקספרס.
</p>
<p class="text_info_page_12">
בהפקדה ראשונה:  יש להתחבר לחשבון, ללחוץ על "הפקדה" בסרגל העליון, להזין את פרטי כרטיס האשראי ואת הסכום שברצונך להפקיד וללחוץ "המשך". ניתן להגיע לעמוד ביצוע הפקדה גם על ידי לחיצה על החשבון שלי>ביצוע הפקדה.
</p>
<p class="text_info_page_12">
בהפקדות הבאות שלך באמצעות אותו כרטיס אשראי בחר ב"הפקדה", סמן את 4 הספרות האחרונות של כרטיס האשראי בחלון "בחר כרטיס", והכנס את הסכום שברצונך להפקיד.
</p>
<!--
p class="text_info_page_12">
סכום ההפקדה המינימלי: 100 שקל.
</p>
-->
<p class="text_red_12_bold">
הפקדה באמצעות העברה בנקאית
</p>
<p class="text_info_page_12">
כדי לבצע העברה בנקאית עליך ליצור קשר עם סניף הבנק שלך או להיכנס לסניף בנק כלשהו ולבצע העברה בנקאית לחשבון שפרטיו מופיעים בהמשך, תוך ציון שם המשתמש שלך ב- etrader במקום המיועד להערות על טופס ההעברה הבנקאית. לאחר ביצוע ההעברה יש לשלוח את אישור ההעברה (אסמכתא) בפקס למספר 03-6444403 או -באמצעות אימייל ל - support@etrader.co.il .
<br/><br/>
שם הבנק: הבינלאומי הראשון.<br/>
כתובת הבנק: ויצמן 32 תל אביב.<br/>
מספר הסניף: 093.<br/>
שם החשבון: איטריידר בע"מ.<br/>
מספר החשבון: 409-142271.<br/>

סכום ההעברה יתווסף ליתרתך בחשבון עד שני ימי עסקים מקבלת האסמכתא.<BR/>
</p>

<p class="text_red_12_bold">
הפקדת מזומן
</p>
<p class="text_info_page_12">
כדי לבצע הפקדת מזומן  עליך להיכנס לסניף בנק כלשהו ולהפקיד לחשבון שפרטיו מופיעים בהמשך. לאחר ביצוע ההפקדה יש לשלוח את אישור ההפקדה באמצעות פקס למספר 03-6444403 ולהקפיד לציין את שם המשתמש שלך ב- etrader על טופס אישור העברה.
<br/><br/>
שם הבנק: הבינלאומי הראשון.<br/>
כתובת הבנק: ויצמן 32 תל אביב.<br/>
מספר הסניף: 093.<br/>
שם החשבון: איטריידר בע"מ.<br/>
מספר החשבון: 409-142271.<br/>

הסכום שהעברת יתווסף ליתרתך זמן קצר לאחר קבלת הפקס במשרדנו. <BR/>
</p>


<p class="text_red_12_bold">
עצירת משיכה
</p>

<p class="text_info_page_12">
אם בקשת משיכה שלך נמצאת בהליכי ביצוע, עדיין יש לך אפשרות לבטל את בקשת המשיכה ולהחזיר את הכסף לחשבונך ב-etrader.
</p>
<p class="text_info_page_12">
אפשרות עצירת המשיכה שימושית במיוחד כשאין לך מספיק כסף בחשבון אבל אתה רוצה להמשיך לבצע פעולות. על ידי עצירת המשיכה הכספים שרצית למשוך יהיו זמינים מיד בחשבון.
</p>
<p class="text_info_page_12">
שים לב שאפשרות עצירת המשיכה קיימת רק כשבקשת המשיכה עדיין בטיפול. ברגע שהמשיכה הושלמה, לא ניתן לבקש ביטול.
</p>
<p class="text_gray_12_bold">
כדי לעצור משיכה פשוט עקוב אחר ההוראות הבאות:
</p>
<p class="text_info_page_12">
התחבר לחשבונך ב-etrader<br/><br/>
לחץ על כפתור "עצירת משיכה"<br/><br/>
כעת תועבר למסך בו תוכל לראות את כל בקשות המשיכה האחרונות שלך שעדיין בטיפול ולכן ניתנות לביטול.  <br/><br/>
בחר בקשת משיכה אחת או יותר שברצונך לעצור ולחץ על "בצע".<br/>
</p>
<p class="text_info_page_12">סכומי המשיכות שעצרת יתווספו מיידית ליתרתך.</p>
<BR/>
<p class="text_red_12_bold">
משיכה באמצעות צ'ק
</p>
<p class="text_info_page_12">
etrader מאפשרת ללקוחותיה במקרים מסוימים משיכות באמצעות צ'קים. לביצוע משיכה באמצעות צ'ק עליך להתחבר לחשבונך, לבחור ב"החשבון שלי">"בקשת משיכה" ולהמשיך לפי ההנחיות.
<br/><br/>
במקרה של בקשת משיכה באמצעות צ'ק, הוא יישלח לכתובת שציינת בבקשת המשיכה בתוך 3 ימי עסקים ויגיע בהתאם לזמני המסירה של דואר ישראל.
 etrader מעניקה פטור מעמלת משיכה על משיכה אחת בכל חודש קלנדרי. על כל משיכה נוספת תיגבה עמלה בסך 25 שקל. לפני ביצוע משיכה תתבקש לשלוח אלינו מסמכים מזהים.
<br/><br/>
שים לב: החברה עושה את מרב המאמצים לאפשר משיכת כספים בדרך שבה בוחר הלקוח,
 אבל היא שומרת לעצמה את הזכות לבצע את המשיכה באמצעי אחר, כגון תשלום לכרטיס האשראי או העברה בנקאית.
<br/><br/>בקשות משיכה שונות באותו אמצעי משיכה שהתבצעו באותה יממה עשויות להיות מאוחדות לתשלום אחד.
</p>

<BR/>
<p class="text_red_12_bold">
משיכה לכרטיס האשראי
</p>
<p class="text_info_page_12">
לקוחות המפקידים באמצעות כרטיסי אשראי (מרוב הסוגים) יכולים למשוך כספים ישירות למסגרת כרטיס האשראי ממנו הפקידו. לביצוע משיכה לכרטיס האשראי עליך להתחבר לחשבונך, לבחור ב"החשבון שלי">"בקשת משיכה" ולהמשיך לפי ההנחיות. בקשת המשיכה תטופל על ידי etrader בתוך 3 ימי עסקים.
<br/><br/>
 etrader
מעניקה פטור מעמלת משיכה על משיכה אחת בכל חודש קלנדרי. על כל משיכה נוספת תיגבה עמלה בסך 25 שקל. לפני ביצוע משיכה תתבקש לשלוח אלינו מסמכים מזהים.
<br/><br/>
שים לב: החברה עושה את מרב המאמצים לאפשר משיכת כספים בדרך שבה בוחר הלקוח, אבל היא שומרת לעצמה את הזכות לבצע את המשיכה באמצעי אחר, כגון תשלום בצ'ק או העברה בנקאית, או לפצל בקשת משיכה אחת לשני אמצעי משיכה שונים.
 <br/><br/>בקשות משיכה שונות באותו אמצעי משיכה שהתבצעו באותה יממה עשויות להיות מאוחדות לתשלום אחד.
</p>

</f:view>