﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<iframe frameborder="0" scrolling="auto" height="457" width="730" allowtransparency="true" marginwidth="0" marginheight="0"
src="http://ecal.forexpros.co.il/e_cal.php?cssfile=#{applicationData.localHostUrl}#{facesContext.externalContext.requestContextPath}/css/etrader_calendar.css" align="center"></iframe>
</f:view>