<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Loyalty</title>
</head>
<body dir="rtl">
<table width="512" border="0" cellspacing="0" cellpadding="0" align="center" >
  <tr valign="top">
   	  <td class="club" height="40"><img src="#{facesContext.externalContext.requestContextPath}/images/reg.gif" />מועדון משקיעים</td>
  </tr>
  <tr>
    <td align="center"><img src="#{facesContext.externalContext.requestContextPath}/images/collage.jpg"  width="512" height="139"/></td>
  </tr>
  <tr>
   	<td>&#160;</td>
  </tr>
   <tr>
  	 	<td>
    	   	<table width="490" cellspacing="0" cellpadding="0" align="center">
            	<tr>
                	<td width="10"></td>
            		<td width="470">
	        			<strong class="clubs_subhead">etrader גאה להציג את תוכנית הנקודות החדשה שלה לחברי מועדון:</strong><br/>
				        <span class="clubs_text14">צבור נקודות וקבל הטבות, בונוסים, מתנות ועוד. ככל שתבצע יותר השקעות – תצבור יותר נקודות ותיהנה מיותר הטבות, יותר בונוסים ויותר כסף.*</span>
			      	</td>
                    <td width="10"></td>
        		</tr>
            </table>
       </td>
    </tr>
</table>
 <br/>
<table width="490" border="0" cellspacing="0" cellpadding="0" class="clubs_border" align="center">
  <tr class="clubs_bkgnd" height="34"  >
    <td width="10">&#160;</td>
    <td width="470" class="clubs_subhead" height="34">הטבות מיוחדות ואפשרויות בלעדיות לחברי מועדון</td>
    <td width="10">&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td class="clubs_content">
	    <br/>
	    <strong class="clubs_headline">דרגות חברות במועדון הלקוחות</strong><br/>
	    כל השקעה, החל מההשקעה הראשונה, תקנה ללקוח נקודות במועדון המשקיעים
	    <br/>
	     (כל 10 שקלים בהשקעות = 1 נקודה).
	    <br/><br/>
	   <strong>ביצוע השקעות יקנה במקביל שני סוגי נקודות:   </strong><br/><br/>
	   <strong>נקודות מעמד</strong> – נקודות המשמשות למעבר מעמד והישארות בו. עם צבירת סך נקודות המקנה זכאות למעבר מעמד הלקוח יוכל להתחיל ליהנות מיידית מההטבות שמקנה המעמד החדש. עם
	   המעבר, סך הנקודות הנדרש לצורך מעבר מעמד ינוכה מחשבון הלקוח ותחל צבירה חדשה של נקודות לצורך מעבר למעמד הבא. פעולה זהה תתבצע בעת בחינת הזכאות להישארות במעמד.
	   <br/><br/>
	   <strong>נקודות להמרה</strong> – נקודות אותן יוכל הלקוח להמיר לכסף. הנקודות שייצברו לא יושפעו מניכוי הנקודות לצורך מעבר מעמד ויישארו בתוקף עד
	   #{applicationData.blueTier.expirationDays} יום ממועד ביצוע ההשקעה האחרונה.
    </td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
  </tr>
  <tr class="clubs_blue">
    <td>&#160;</td>
    <td  valign="middle" ><img src="#{facesContext.externalContext.requestContextPath}/images/blue.gif"  height="30"/>כחול
    </td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>
	<table valign="top" cellspacing="5" cellpadding="0" border="0" width="490" style="vertical-align:top;">
		<tr valign="top" style="vertical-align:top;">
			<td valign="top" style="vertical-align:top;">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="313" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
							כל לקוח שביצע השקעה אחת לפחות ישתייך באופן בסיסי למעמד זה. לקוחות במעמד כחול יוכלו לצבור נקודות החל מההשקעה הראשונה שלהם.
							<br/><br/>
						</td>
					</tr>
				</table>
              </td>
              <td width="177">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="177" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
		           			&#160;&#160;&#160;<strong>הטבות:</strong><br/>
				             <img src="#{facesContext.externalContext.requestContextPath}/images/down.jpg" />
				             <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q1');">המרת נקודות לכסף מזומן</a>
							  <div id="q1" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
								לחברי מועדון המשקיעים של etrader תינתן האפשרות, בהתאם למעמד אליו הם משתייכים, להמיר נקודות לכסף (מינימום נקודות נדרש להמרה: 100 נק')
							  <BR/></div><br/>
						</td>
					</tr>
				</table>
            </td>
        </tr>
      </table>
    </td>
    <td>&#160;</td>
  </tr>
  <tr class="clubs_silver">
    <td>&#160;</td>
    <td height="30" valign="bottom"><img src="#{facesContext.externalContext.requestContextPath}/images/silver.gif"  height="30"/>כסף</td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>
	<table valign="top" cellspacing="5" cellpadding="0" border="0" width="490" style="vertical-align:top;">
		<tr valign="top" style="vertical-align:top;">
			<td valign="top" style="vertical-align:top;">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="313" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
						מעמד כסף יוענק במידה שלקוח צבר #{applicationData.silverTier.qualificationPoints} נקודות מעמד ומעלה <br/>
						(בחינת הזכאות לצורך שדרוג למעמד גבוה יותר מתבצעת אחת ליום). בחינת הזכאות להישארות במעמד תיבדק בתום #{applicationData.qualificationPeriodBySkin} חודשים מיום <br/>
						הכניסה למעמד. הזכות להישארות במעמד ניתנת אם הלקוח<br/>
						צבר #{applicationData.silverTier.qualificationPoints} נקודות מעמד במהלך #{applicationData.qualificationPeriodBySkin} החודשים מיום הכניסה למעמד.
			           	 </td>
			        </tr>
			    </table>
			    <br/>
			  </td>
              <td width="177">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="177" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
						&#160;&#160;&#160;<strong>הטבות:</strong><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q2');">המרת נקודות לכסף מזומן</a>
						  <div id="q2" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							לחברי מועדון המשקיעים של etrader תינתן האפשרות, בהתאם למעמד אליו הם משתייכים, להמיר נקודות לכסף (מינימום נקודות נדרש להמרה: 100 נק')
						  <BR/>
						  </div><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q3');">בונוס על המרת נקודות</a>
						  <div id="q3" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							לקוח שיצבור סך נקודות המקנה זכאות למעבר מעמד ייהנה מבונוס  כספי מיידי בסך של 500 ש"ח (כסף) 1000 ש"ח ( זהב) 1500 ש"ח ( פלטינום)
						  <BR/>
						  </div><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q25');">בונוס מעבר מעמד</a>
						  <div id="q25" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							לקוח שיצבור סך נקודות מעמד המקנה זכאות למעבר מעמד ייהנה מבונוס כספי מיידי בסך של 1,500-500 ש"ח (החל ממעמד כסף, פרטים בטבלה למעלה).
						  <BR/>
						  </div><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q4');">מימוש רווח מיידי</a>
						  <div id="q4" style="display:none; overflow:hidden; height:110px; margin-right:10px; " class="clubs_info">
						  כלי אידיאלי ללקוחות המעוניינים לנעול רווח עוד לפני מועד הפקיעה.  לקוח לו תוצע אופציית מימוש רווח מיידי, יוכל לקבל את התשואה המובטחת על האופציה שרכש, תמורת תשלום פרמיה, עוד לפני מועד הפקיעה המקורי של האופציה שרכש, ללא תלות בשער נכס הבסיס במועד פקיעת האופציה.
						  <BR/>
						  </div><br/>

			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q5');">דחיית מועד פקיעה</a>
						  <div id="q5" style="display:none; overflow:hidden; height:90px; margin-right:10px; " class="clubs_info">
							אפשרות לדחיית מועד הפקיעה של אופציה שנרכשה למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי. לקוח לו תוצע אופציה מסוג זה יוכל לדחות את מועד הפקיעה של אופציה שרכש – למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי, תמורת תשלום פרמיה.
						  <BR/>
						  </div><br/>

			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q6');">שירות לקוחות VIP</a>
						  <div id="q6" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
							חברי מועדון שיהיו זכאים לשירות לקוחות VIP ייהנו ממענה מהיר במיוחד לכל פניה בקו ייעודי ללקוחות VIP.
						  <BR/>
						  </div><br/><br/>
						 </td>
					</tr>
				</table>
             </td>
          </tr>
        </table>
    </td>
    <td>&#160;</td>
  </tr>
  <tr class="clubs_gold">
    <td>&#160;</td>
    <td height="30" valign="bottom"><img src="#{facesContext.externalContext.requestContextPath}/images/gold.gif"  height="30"/>זהב</td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>
	<table valign="top" cellspacing="5" cellpadding="0" border="0" width="490" style="vertical-align:top;">
		<tr valign="top" style="vertical-align:top;">
			<td valign="top" style="vertical-align:top;">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="313" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
						מעמד זהב יוענק במידה שלקוח צבר #{applicationData.goldTier.qualificationPoints} נקודות מעמד ומעלה <br/>
						(בחינת הזכאות לצורך שדרוג למעמד גבוה יותר מתבצעת אחת ליום).<br/>
						בחינת הזכאות להישארות במעמד תיבדק בתום #{applicationData.qualificationPeriodBySkin} חודשים מיום  <br/>
						הכניסה למעמד. הזכות להישארות במעמד ניתנת אם הלקוח<br/>
						צבר #{applicationData.goldTier.qualificationPoints} נקודות מעמד במהלך #{applicationData.qualificationPeriodBySkin} החודשים מיום הכניסה למעמד.
	           	   		</td>
	           	   	</tr>
	           	   </table>
	           	   <br/>
			  </td>
              <td width="177">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="177" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
			              &#160;&#160;&#160;<strong>הטבות:</strong><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q7');">המרת נקודות לכסף מזומן</a>
						  <div id="q7" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							לחברי מועדון המשקיעים של etrader תינתן האפשרות, בהתאם למעמד אליו הם משתייכים, להמיר נקודות לכסף (מינימום נקודות נדרש להמרה: 100 נק')
						  <BR/>
						  </div><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q8');">בונוס על המרת נקודות</a>
						  <div id="q8" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							לקוח שיצבור סך נקודות המקנה זכאות למעבר מעמד ייהנה מבונוס  כספי מיידי בסך של 500 ש"ח (כסף) 1000 ש"ח ( זהב) 1500 ש"ח ( פלטינום)
						  <BR/>
						  </div><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q26');">בונוס מעבר מעמד</a>
						  <div id="q26" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							לקוח שיצבור סך נקודות מעמד המקנה זכאות למעבר מעמד ייהנה מבונוס כספי מיידי בסך של 1,500-500 ש"ח (החל ממעמד כסף, פרטים בטבלה למעלה).
						  <BR/>
						  </div><br/>
			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q9');">מימוש רווח מיידי</a>
						  <div id="q9" style="display:none; overflow:hidden; height:110px; margin-right:10px; " class="clubs_info">
						  כלי אידיאלי ללקוחות המעוניינים לנעול רווח עוד לפני מועד הפקיעה.  לקוח לו תוצע אופציית מימוש רווח מיידי, יוכל לקבל את התשואה המובטחת על האופציה שרכש, תמורת תשלום פרמיה, עוד לפני מועד הפקיעה המקורי של האופציה שרכש, ללא תלות בשער נכס הבסיס במועד פקיעת האופציה.
						  <BR/>
						  </div><br/>

			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q10');">דחיית מועד פקיעה</a>
						  <div id="q10" style="display:none; overflow:hidden; height:90px; margin-right:10px; " class="clubs_info">
							אפשרות לדחיית מועד הפקיעה של אופציה שנרכשה למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי. לקוח לו תוצע אופציה מסוג זה יוכל לדחות את מועד הפקיעה של אופציה שרכש – למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי, תמורת תשלום פרמיה.
						  <BR/>
						  </div><br/>

			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q11');">שירות לקוחות VIP</a>
						  <div id="q11" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
							חברי מועדון שיהיו זכאים לשירות לקוחות VIP ייהנו ממענה מהיר במיוחד לכל פניה בקו ייעודי ללקוחות VIP.
						  <BR/>
						  </div><br/>
						  <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
						  <a href="javascript:;" dir="rtl" class="clubs_link" onmousedown="slidedown('q12');">sms עם תוצאות פקיעה חינם </a>
						  <div id="q12" style="display:none; overflow:hidden; height:30px; margin-right:10px; " class="clubs_info">
							אפשרות לקבל הודעה על אופן פקיעת האופציה (רווח/הפסד) בהודעת SMS.
						  <BR/>
						  </div><br/>

			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              	              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q13');">מתנה אישית</a>
						  <div id="q13" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
							חברי מועדון המשתייכים למעמד הזכאי למתנה אישית יקבלו מפעם לפעם מתנות מ-etrader.
						  <BR/>
						  </div><br/>

			              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
			              	              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q14');">משיכות מהירות</a>
						  <div id="q14" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
							חברי מועדון המשתייכים למעמד המקנה זכאות למשיכות מהירות יוכלו ליהנות ממשיכות מהירות במיוחד, תוך שני ימי עסקים לכל היותר.
						  <BR/>
						  </div><br/><br/>
						</td>
					</tr>
				</table>
	         </td>
          </tr>
        </table>
    </td>
    <td>&#160;</td>
  </tr>
  <tr class="clubs_plat">
    <td>&#160;</td>
    <td height="30" valign="bottom"><img src="#{facesContext.externalContext.requestContextPath}/images/plat.gif"  height="30"/>פלטינום</td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>
	<table valign="top" cellspacing="5" cellpadding="0" border="0" width="490" style="vertical-align:top;">
		<tr valign="top" style="vertical-align:top;">
			<td valign="top" style="vertical-align:top;">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="313" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
							מעמד פלטינום יוענק במידה שלקוח צבר #{applicationData.platinumTier.qualificationPoints} נקודות מעמד ומעלה <br/>
							 (בחינת הזכאות לצורך שדרוג למעמד גבוה יותר מתבצעת אחת ליום). <br/>
							  בחינת הזכאות להישארות במעמד תיבדק בתום  #{applicationData.qualificationPeriodBySkin} חודשים מיום <br/>
							  הכניסה למעמד. הזכות להישארות במעמד ניתנת אם הלקוח<br/>
							  צבר #{applicationData.platinumTier.qualificationPoints} נקודות מעמד במהלך  #{applicationData.qualificationPeriodBySkin} החודשים מיום הכניסה למעמד.
						</td>
					</tr>
				</table>
				<br/>
			</td>
            <td width="177">
				<table valign="top" cellspacing="0" cellpadding="0" border="0" width="177" style="vertical-align:top;">
					<tr valign="top"  style="vertical-align:top;">
						<td valign="top" style="vertical-align:top;" class="clubs_content">
	            	  &#160;&#160;&#160;<strong>הטבות:</strong><br/>
		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q15');">המרת נקודות לכסף מזומן</a>
					  <div id="q15" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
						לחברי מועדון המשקיעים של etrader תינתן האפשרות, בהתאם למעמד אליו הם משתייכים, להמיר נקודות לכסף (מינימום נקודות נדרש להמרה: 100 נק')
					  <BR/>
					  </div><br/>
		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q16');">בונוס על המרת נקודות</a>
					  <div id="q16" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
						לקוח שיצבור סך נקודות המקנה זכאות למעבר מעמד ייהנה מבונוס  כספי מיידי בסך של 500 ש"ח (כסף) 1000 ש"ח ( זהב) 1500 ש"ח ( פלטינום)
					  <BR/>
					  </div><br/>
		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q27');">בונוס מעבר מעמד</a>
					  <div id="q27" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
						לקוח שיצבור סך נקודות מעמד המקנה זכאות למעבר מעמד ייהנה מבונוס כספי מיידי בסך של 1,500-500 ש"ח (החל ממעמד כסף, פרטים בטבלה למעלה).
					  <BR/>
					  </div><br/>
		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q17');">מימוש רווח מיידי</a>
					  <div id="q17" style="display:none; overflow:hidden; height:110px; margin-right:10px; " class="clubs_info">
					  כלי אידיאלי ללקוחות המעוניינים לנעול רווח עוד לפני מועד הפקיעה.  לקוח לו תוצע אופציית מימוש רווח מיידי, יוכל לקבל את התשואה המובטחת על האופציה שרכש, תמורת תשלום פרמיה, עוד לפני מועד הפקיעה המקורי של האופציה שרכש, ללא תלות בשער נכס הבסיס במועד פקיעת האופציה.
					  <BR/>
					  </div><br/>

		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q18');">דחיית מועד פקיעה</a>
					  <div id="q18" style="display:none; overflow:hidden; height:90px; margin-right:10px; " class="clubs_info">
						אפשרות לדחיית מועד הפקיעה של אופציה שנרכשה למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי. לקוח לו תוצע אופציה מסוג זה יוכל לדחות את מועד הפקיעה של אופציה שרכש – למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי, תמורת תשלום פרמיה.
					  <BR/>
					  </div><br/>

		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q19');">שירות לקוחות VIP</a>
					  <div id="q19" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
						חברי מועדון שיהיו זכאים לשירות לקוחות VIP ייהנו ממענה מהיר במיוחד לכל פניה בקו ייעודי ללקוחות VIP.
					  <BR/>
					  </div><br/>
					  <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
					  <a href="javascript:;" dir="rtl" class="clubs_link" onmousedown="slidedown('q20');">sms עם תוצאות פקיעה חינם </a>
					  <div id="q20" style="display:none; overflow:hidden; height:30px; margin-right:10px; " class="clubs_info">
						אפשרות לקבל הודעה על אופן פקיעת האופציה (רווח/הפסד) בהודעת SMS.
					  <BR/>
					  </div><br/>

		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              	              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q21');">מתנה אישית</a>
					  <div id="q21" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
						חברי מועדון המשתייכים למעמד הזכאי למתנה אישית יקבלו מפעם לפעם מתנות מ-etrader.
					  <BR/>
					  </div><br/>

		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
		              	              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q22');">משיכות מהירות</a>
					  <div id="q22" style="display:none; overflow:hidden; height:50px; margin-right:10px; " class="clubs_info">
						חברי מועדון המשתייכים למעמד המקנה זכאות למשיכות מהירות יוכלו ליהנות ממשיכות מהירות במיוחד, תוך שני ימי עסקים לכל היותר.
					  <BR/>
					  </div><br/>

		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
	   	              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q23');">ביטול עמלות משיכה</a>
					  <div id="q23" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
						פטור מלא מעמלות משיכה לחברי מועדון המשתייכים למעמד המקנה זכאות להטבה זו.
					  <BR/>
					  </div><br/>
		              <img src="#{facesContext.externalContext.requestContextPath}/images/right_nav_bullet.gif"/>
	   	              <a href="javascript:;" class="clubs_link" onmousedown="slidedown('q24');">בונוסים ייחודיים</a>
					  <div id="q24" style="display:none; overflow:hidden; height:40px; margin-right:10px; " class="clubs_info">
						etrader תעניק מפעם לפעם בונוסים ייחודיים לחברי מועדון המשתייכים למעמד המקנה זכאות להטבה זו.
					  <BR/>
					  </div><br/><br/>
					</td>
				 </tr>
	  		  </table>
            </td>
          </tr>
        </table>
    </td>
    <td>&#160;</td>
  </tr>
</table>
<br/><br/>

<table width="516px" align="center" cellpadding="0" cellspacing="0" class="clubs_border">
	<tr class="clubs_bkgnd" height="34"  >
    <td width="23px">&#160;</td>
    <td width="470px" class="clubs_subhead" height="34">המרת נקודות לכסף ובונוסים על המרת נקודות</td>
    <td width="23px">&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td width="470" class="clubs_content">
	    לחברי מועדון המשקיעים של etrader תינתן האפשרות, בהתאם למעמד אליו הם משתייכים, להמיר נקודות לכסף (מינימום נקודות נדרש להמרה: 100 נק'). פרטים על המרת נקודות לכסף ללקוח בדרגת כחול בטבלה למטה.
	   <br/><br/>
		לקוחות בדרגות כסף, זהב ופלטינום ייהנו מבונוסים בזמן המרת נקודות לכסף (ראה פרטים בטבלה בהמשך).
		<br/><br/>
		ככל שתבצע יותר השקעות תקבל יותר נקודות, וככל שתמיר לכסף מספר גדול יותר של נקודות תקבל יחס המרה טוב יותר.
    </td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td align="right" height="120"><img src="#{facesContext.externalContext.requestContextPath}/images/pts_chart.jpg" /></td>
    <td>&#160;</td>
  </tr>
</table>
<br/>
<table width="516px" align="center" cellpadding="0" cellspacing="0" class="clubs_border">
	<tr class="clubs_bkgnd" height="34">
    <td width="25px">&#160;</td>
    <td width="470px" class="clubs_subhead" height="34">הטבות מהן נהנים חברי מועדון המשקיעים</td>
    <td width="21px">&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
  </tr>
  <tr >
    <td width="25px">&#160;</td>
    <td align="right"><img src="#{facesContext.externalContext.requestContextPath}/images/ben_chart.jpg" /></td>
    <td>&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
    <td>&#160;</td>
    <td>&#160;</td>
  </tr>
  <br/>
</table>

<br/>
<table width="516px" align="center" cellpadding="0" cellspacing="0" >
	<tr height="34">
	    <td width="516px" class="clubs_content">
			*המבצעים, הבונוסים וההטבות בכפוף לתנאים וכללים הרגילים באתר, בהם סעיף 8 (מבצעים, הטבות ובונוסים).
			משיכת כסף שהומר מנקודות מותנית בביצוע השקעות בגובה פי 15 מהסכום שהתקבל.
	    </td>
	</tr>
</table>

</body>
<SCRIPT LANGUAGE="JavaScript" >
	try {
		url = document.location.href;
		if ( url.indexOf( "#") != -1){
			var indexOfHash = url.indexOf( "#");
			var afterHash = url.substring(indexOfHash+1);
		}
		slidedown("q"+afterHash);
	} catch(err){
	//ignore
	}
</SCRIPT>
</f:view>