
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<table width="224" height="248" cellpadding="0" cellspacing="0" class="onetouch_banner">
	<tr valign="top">
	    <td height="113"><img src="#{facesContext.externalContext.requestContextPath}/images/onetouch_bnr.jpg" width="221" height="113" /></td>
	</tr>
	<tr>
	    <td class="onetouch_banner_txt2" align="center">בחר אופציית *One Touch<br/>
			רצויה ולחץ המשך, בחר את כמות<br/>
			היחידות המבוקשת ולחץ בצע<br/>
	    </td>
	</tr>
	<tr>
	  	<td height="3px"></td>
	</tr>
	<tr>
	    <td align="center">
			האופציות יידגמו פעם בכל יום בין שני ושישי<br/>
			(סה”כ 5 דגימות)
			כמפורט בתנאים הכלליים<br/>
	    </td>
	</tr>
	<tr>
	  	<td height="3px"></td>
	</tr>
	<tr>
	  	<td align="center">שים לב<a href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms_one_touch.jsf" style="color:#990000;"> לתנאים הכללים</a> המיוחדים<br/>
		לאופציה מסוג זה </td>
	</tr>
	<tr>
	  	<td height="3px"></td>
	</tr>
</table>

</f:view>