<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<BR/>

<p class="text_info_page_12">
במקרה ששכחת את הסיסמה שלך, נא מלא את הטופס להלן ושלח. קישור לאיפוס סיסמתך יישלח אל כתובת ה-email שתציין בטופס, אם היא מתאימה לכתובת המקורית שמסרת בעת הרישום

	<h:panelGroup rendered="#{!applicationData.calcalistGame}">
		ל-etrader.
		<BR/>
		<BR/>
		לקבלת תמיכה מנציג שירות אנא צור קשר,
		<BR/>
		<h:outputText styleClass="lable_text_bold" value="#{msgs['contact.message4']}"/>
		<h:outputText styleClass="lable_text_bold" escape="false" value="&#160; #{msgs['contact.message5']}"/>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.calcalistGame}">
		למשחק.
	</h:panelGroup>
</p>

</f:view>