<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">

<table width="100%">
	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">

		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_17.10.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/globset_thumb-17-10-2010.jpg" alt="" width="137" height="137" border="0"/><BR/>
			"איטריידר לא אדישים להתרגשות: משיקים אופציות על רציו ודלק", <span dir="rtl">17.10.2010</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.12.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/December_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
			"תפס אמריקה", <span dir="rtl">דצמבר 2010</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.11.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/November_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
			"טיל פטריוט", <span dir="rtl">נובמבר 2010</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.10.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/October_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
			"בשל התפוח", <span dir="rtl">אוקטובר 2010</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.09.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/September_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
			"ואם ביום ראשון לא בא לי", <span dir="rtl">ספטמבר 2010</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.08.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/August_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
			"דרך הבטן", <span dir="rtl">אוגוסט 2010</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.05.2010.jsf',700,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/givemstanley_mini.gif" alt="" width="137" height="137" border="0"/><BR/>
			"תן לי סטנלי", <span dir="rtl">מאי 2010</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_05.05.2010.jsf',1020,1000)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/g_05_05_2010_min.gif" alt="" width="137" height="137" border="0"/><BR/>
			"מסע הכסף המסתורי", <span dir="rtl">אפריל 2010</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/g_30-07-2009.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/g_30_07_2009_min.jpg" alt="" width="137" height="137" border="0"/><BR/>
			גלובס, <span dir="rtl">מגזין G,</span>
			<span dir="rtl">30.7.09</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/bizportal_27-04-2009.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/bizporthumb_27_04_2009.jpg" alt="" width="137" height="137" border="0"/><BR/>
			ביזפורטל, <span dir="rtl">27.04.09</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/ theMarker_01.09.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/themarker_thum-small_01092008.jpg" alt="" width="137" height="137" border="0"/><BR/>
			TheMarker, <span dir="rtl">01.09.08</span>
			</a>
		</td>

	</tr>
	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>
	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/theMarker_12.10.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/theMarker_12102008.jpg" alt="" width="137" height="137" border="0"/><BR/>
			TheMarker, <span dir="rtl">12.10.08</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/theMarker_28.04.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/theMarker_28042008.gif" alt="" width="137" height="137" border="0"/><BR/>
			TheMarker, <span dir="rtl">28.4.08</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_22.7.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/globsthum_22.07.08.jpg" alt="" width="137" height="137" border="0"/><BR/>
			גלובס <span dir="rtl">22.07.2008</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>
	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/yedihot_25.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/yedihot_25.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			ידיעות אחרונות, 25.3.2008
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_01.09.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/globes-small_01092008.jpg" alt="" width="137" height="137" border="0"/><BR/>
			גלובס <span dir="rtl">01.09.2008</span>
			</a>
		</td>
		 <td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/calcalist_28.2.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/calcalist_28.2.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			Ynet וכלכליסט, 28.2.2008
			</a>
		</td>

	</tr>
	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/bizporta_29_06_2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/bizportal29062008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			ביזפורטל, 29.6.08
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/blazer_01.7.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/blazerthum_01.07.08.jpg" alt="" width="137" height="137" border="0"/><BR/>
			בלייזר , 1.7.08
			</a>
		</td>

	<td align="center">
		<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/wallasport_14.04.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
		<img src="#{facesContext.externalContext.requestContextPath}/images/wallaSport14042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
		וואלה ספורט , 14.4.2008
		</a>
	</td>

   </tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			     <a href="http://www.ynet.co.il/articles/0,7340,L-3547002,00.html" class="text_faq_gray_12_bold" target="_blank" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/ynet25052005_sm.gif" alt="" width="137" height="137" border="0"/><BR/>
				Ynet, <span dir="rtl">23.5.2008</span>
				</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/one_15.04.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/one15042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			One, <span dir="rtl">15.4.2008</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/theMarker_02.06.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/themarker02062008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			TheMarker, <span dir="rtl">2.6.2008</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
				<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/theMarker_02.06.2008_a.jsf',700,740)" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/themarker02062008a_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				TheMarker, <span dir="rtl">2.6.2008</span>
				</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/ynet_15.04.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/ynet15042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			Ynet, <span dir="rtl">15.4.2008</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/bizportal_19.05.2008.jsf',710,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/bizportal19052008.gif" alt="" width="137" height="137" border="0"/><BR/>
			ביזפורטל, <span dir="rtl">19.05.08</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/ynet_3.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/ynet_3.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			Ynet, <span dir="rtl">3.3.2008</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/nrg_10.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/nrg_10.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			nrg, <span dir="rtl">10.3.2008</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/yedihot_6.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/yedihot_6.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			ידיעות אחרונות, <span dir="rtl">6.3.2008</span>
			</a>
		</td>

		<td align="center">

		</td>
	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/nfc_6.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/nfc_6.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			Nfc, <span dir="rtl">6.3.2008</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/icenews_18_05_2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/icenews18052008.gif" alt="" width="137" height="137" border="0"/><BR/>
			Ice, <span dir="rtl">18.05.08</span>
			</a>
		</td>
		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/yediotsport_15.04.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/yediotSport15042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			ידיעות אחרונות, <span dir="rtl">15.4.2008</span>
			</a>
		</td>

	</tr>

	<tr>
		<td align="center" colspan="3"><BR/></td>
	</tr>

	<tr>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/yahoo_finance_06.05.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/yahoo06052008.gif" alt="" width="137" height="137" border="0"/><BR/>
			Yahoo finance, <span dir="rtl">6.5.2008</span>
			</a>
		</td>

		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/calcalist_19.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/calcalist_19.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			כלכליסט, 19.3.08
			</a>
		</td>
		<td align="center">
			<a href="javascript:void(0);" onclick="CenterPopup('../jsp/press/globes_10.3.2008.jsf',700,740)" class="text_faq_gray_12_bold" >
			<img src="#{facesContext.externalContext.requestContextPath}/images/globes_10.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
			גלובס, 10.3.2008
			</a>
		</td>

	</tr>

</table>
</f:view>