﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<HEAD>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</HEAD>

<BR/>
<p class="text_info_page_12" dir="rtl">
	חברת etrader רואה באבטחת המידע של לקוחותיה נושא בעל חשיבות מרכזית ומשקיעה משאבים רבים כדי לשמור על סודיות פרטי הלקוחות ולאפשר פעילות מול שרתי האתר, תוך שימוש בשיטות אבטחה מהמתקדמות ביותר ובמערכות ההצפנה מהחזקות ביותר בעולם.
</p>
<p class="text_gray_12_bold" dir="rtl">
	המלצות והנחיות לשימוש באתר
</p>
<p class="text_red_12_bold" dir="rtl">
	הצפנת תקשורת
</p>
<p class="text_info_page_12" dir="rtl">
חשוב לוודא כי בתחתית או בראש החלון קיים מנעול סגור או מפתח שלם (בהתאם לגרסת דפדפן המותקנת במחשבך). סימן זה יופיע בזמן ביצוע פעולות כספיות בחשבונך. באמצעות לחיצה כפולה
על המנעול / המפתח תוצג התעודה הדיגיטלית שהונפקה לאתר. יש לוודא שהגוף המנפיק הוא Thawte ושהתעודה הונפקה ל-etrader.
</p>
<p class="text_red_12_bold" dir="rtl">
	הזדהות
</p>
<p class="text_info_page_12" dir="rtl">
	<ul>
		<li class="text_info_page_12" dir="rtl">הכניסה למערכת מבוצעת באמצעות הקשת שם משתמש וסיסמה. נתונים אלו הם אישיים ואין להעבירם. מומלץ לוודא כי בעת ההזדהות שלך למערכת, לא ימצאו בסביבתך גורמים לא מורשים.</li>
		<li class="text_info_page_12" dir="rtl">אין למסור את סיסמתך האישית לאף גורם, גם אם הוא מזוהה כנציג שירות. אם בכל זאת גורם כלשהו יבקש ממך למסור את הסיסמה האישית, אין למסור אותה ויש לדווח על כך לשירות הלקוחות.</li>
		<li class="text_info_page_12" dir="rtl">אין לשמור את שם המשתמש והסיסמה בקובץ במחשב או ליד המחשב.</li>
	</ul>
</p>
<p class="text_red_12_bold" dir="rtl">
	סיסמאות
</p>
<p class="text_info_page_12" dir="rtl">
	<ul>
		<li class="text_info_page_12" dir="rtl">בחירת סיסמה – מומלץ להקפיד על בחירת סיסמה שתהיה קשה לניחוש. מומלץ לבחור סיסמה המורכבת מצירוף של ספרות ואותיות.</li>
		<li class="text_info_page_12" dir="rtl">החלפת סיסמה – מומלץ להחליף סיסמה כל שלושה חודשים. במידה ויש לך חשש כי לגורם נוסף ידועה הסיסמה שלך – יש להחליף מיידית את הסיסמה.</li>
	</ul>
</p>
<p class="text_red_12_bold" dir="rtl">
	סיום הפעילות במערכת
</p>
<p class="text_info_page_12" dir="rtl">
	יש לבצע יציאה מסודרת על ידי לחיצה על "התנתק".
</p>

<p class="text_red_12_bold" dir="rtl">
	אמצעי אבטחת המידע במערכת etrader
</p>
<p class="text_info_page_12" dir="rtl">
	<ul>
		<li class="text_info_page_12" dir="rtl">הגישה למערכת האתר מאובטחת ומבוקרת על ידי Firewall, המאפשר גישה רק לשירותים הנדרשים על ידי המערכת.</li>
		<li class="text_info_page_12" dir="rtl"> המידע המשודר בין מחשבי האתר למחשב האישי שלך מוצפן באמצעות תקן הצפנה 128 ביט ssl. ה- certificate לאתר ניתן על ידי חברת Thawte.</li>
		<li class="text_info_page_12" dir="rtl">חברת etrader  מפעילה אמצעי פיקוח ובקרה על ההתקשרות למערכת ומבצעת רישום של הפעילות המבוצעת במערכת.</li>
		<li class="text_info_page_12" dir="rtl">בדיקות אבטחת מידע באתר מתבצעות באופן שוטף על ידי מומחים בתחום אבטחת מידע.</li>
	</ul>
</p>

</f:view>