<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<f:view
 dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>

	<script  LANGUAGE="JavaScript">
		function openConfirmWindow() {
			var popupWin = window.open("#{facesContext.externalContext.requestContextPath}/jsp/move_to_etrader.jsf" ,'confirmationWindow','left=400,top=200,width=280,height=160,location=no,dependent=yes,directories=no,menubar=no,resizable=no');
		    if (window.focus) {
		   		popupWin.focus();
		   	}
		}
	</script>

	<c:if test="${empty facesContext.externalContext.remoteUser}">
		<c:set var="styleVar" value="display: inline;"/>
	</c:if>
	<c:if test="${!empty facesContext.externalContext.remoteUser}">
		<c:set var="styleVar" value="display: none;"/>
	</c:if>

	<div id="logedOut_banners" style="${styleVar}">
		<table width="224px" cellspacing="0" cellpadding="0" height="465px">
			<tr valign="top">
				<td height="144">
					<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser || applicationData.calcalistGame}">
					<table width="224px" height="144px" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<table width="223px" height="143px" border="0" cellpadding="0" cellspacing="0">
									<!--
									<tr>
										<td>
											<img src="#{facesContext.externalContext.requestContextPath}/images/call_up.gif" width="76" height="55" alt=""/>
										</td>
										<td align="right" width="146" colspan="2" style="font-size:11px; font-family:Arial, Helvetica, sans-serif ">
												<h:outputText value="#{msgs['banner.top_left.sm.call']}" escape="false" />
										</td>
									</tr>
									<tr height="1">
										<td colspan="3" width="220" height="1" align="center">
											<div style="padding-left:10px; padding-right:10px;"><div style="background-color:#728380; font-size:1px; line-height:1px; height:1px;">&#160;</div></div>
										</td>
									</tr>
									<tr>
										<td>
											<img src="#{facesContext.externalContext.requestContextPath}/images/upndwn_sml_06.gif" width="76" height="55" alt=""/>
										</td>
										<td align="right" width="146" colspan="2" style="font-size:11px; font-family:Arial, Helvetica, sans-serif">
											<h:outputText value="#{msgs['banner.top_left.sm.put']}" escape="false" />
										</td>
									</tr>
									<tr>
										<td colspan="3">
											<img src="#{facesContext.externalContext.requestContextPath}/images/bottom_top_left.jpg" width="220" height="30" alt=""/></td>
									</tr>
									 -->
									 <tr>
										<td width="223px" height="143px">
											<a href="https://play.google.com/store/apps/details?id=com.etrader.android.app" target="_blank" style="text-decoration: none;" >
												<img border="0" src="#{facesContext.externalContext.requestContextPath}/images/etrader_new-app_side-banner_logout.png" width="222px" height="143px" alt=""/>
											</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser &amp;&amp; !applicationData.calcalistGame}">
					<table width="224" border="0" cellspacing="0" cellpadding="0" class="onetouch_offhours_border">
						<tr valign="top">
						    <td>
						    	<a href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouch.jsf">
						    		<img src="#{facesContext.externalContext.requestContextPath}/images/onetouch_not.gif" border="0" />
						    	</a>
						    </td>
						</tr>
						<tr>
						    <td>
						    	<table  width="210" border="0" cellspacing="0" cellpadding="0" align="center">
						        	<tr valign="top">
						           	  <td align="center" class="onetouch_offhours_txt"><a href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms_one_touch.jsf" style="color:#990000;">לחץ כאן</a> לתנאים כלליים</td>
						            </tr>
						    	</table>
						    </td>
						</tr>
						<tr>
							<td height="4px">
							</td>
						</tr>
					</table>
					</h:panelGroup>
				</td>
			</tr>
		  	<h:panelGroup rendered="#{!applicationData.calcalistGame}">
				<tr>
					<td height="75" style="cursor:pointer"><a target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"><IMG SRC="#{facesContext.externalContext.requestContextPath}/images/openacct_btn.jpg" border="0" height="75"/></a></td>
				</tr>
				<tr>
					<td height="6"></td>
				</tr>
				<tr>
					<td height="49" valign="top" style="cursor:pointer"><IMG height="49" SRC="#{facesContext.externalContext.requestContextPath}/images/demobutn.gif" onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/demo_trade.jsf', 'demopopup', 'menubar=1,resizable=0,width=770,height=500');"  /></td>
				</tr>
				<tr>
					<td height="12"></td>
				</tr>
				<tr valign="top">
					<td height="161"><iframe id="banners_bottom" name="banners_bottom" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/banners/homepage_banners_bottom.jsf?refresh=true" width="224" height="161" scrolling="no" ></iframe></td>
				</tr>
			</h:panelGroup>
		  	<h:panelGroup rendered="#{applicationData.calcalistGame}">
		  		<tr>
					<td height="299px" style="cursor:pointer"><a target="_top" href="#{applicationData.rhomePageUrl}jsp/index.jsf"><IMG SRC="#{facesContext.externalContext.requestContextPath}/images/cal_et_banner_prelog.jpg" border="0" height="299px"/></a></td>
				</tr>
		  	</h:panelGroup>
		</table>
	</div>

	<c:if test="${!empty facesContext.externalContext.remoteUser}">
		<c:set var="styleVar" value="display: inline;"/>
	</c:if>
	<c:if test="${empty facesContext.externalContext.remoteUser}">
		<c:set var="styleVar" value="display: none;"/>
	</c:if>
	<div id="logedIn_banners" style="${styleVar}" align="left">
		<table width="224" cellspacing="0" cellpadding="0">
			<h:panelGroup rendered="#{!applicationData.calcalistGame}">
			<tr>
				<td height="251">
					<div id="top_left" name="top_left" align="left">
					<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
						<table width="220" height="251" cellpadding="0" cellspacing="0">
							<!--
							<tr>
								<td><img src="#{facesContext.externalContext.requestContextPath}/images/top_left_large_call.jpg" width="220" height="39" alt=""/>
								</td>
							</tr>
							<tr>
								<td height="4"></td>
							</tr>
							<tr>
								<td align="center">
									<span dir="LTR" style="color:#4b5c59; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif" >
										<h:outputText value="#{msgs['banner.top_left.lg.call.big']}" escape="false" />
									</span>
									<br/>
									<span style="color:#4b5c59; font-size:12px; line-height:14px; font-family:Arial, Helvetica, sans-serif" >
										<h:outputText value="#{msgs['banner.top_left.lg.call.small']}" escape="false" />
									</span>
								</td>
						  	</tr>
							<tr>
								<td><img src="#{facesContext.externalContext.requestContextPath}/images/top_left_large_upndwn_03.jpg" width="220" height="49" alt=""/>
								</td>
							</tr>
							<tr>
								<td align="center">
									<span dir="LTR" style="color:#4b5c59; font-size:18px; font-weight:bold; font-family:Arial, Helvetica, sans-serif" >
										<h:outputText value="#{msgs['banner.top_left.lg.put.big']}" escape="false" />
									</span>
									<br/>
									<span style="color:#4b5c59; font-size:12px; line-height:14px; font-family:Arial, Helvetica, sans-serif" >
										<h:outputText value="#{msgs['banner.top_left.lg.put.small']}" escape="false" />
									</span>
								</td>
							</tr>
						  	<tr>
								<td height="11px">
								</td>
							</tr>
							<tr>
								<td valign="bottom"><img src="#{facesContext.externalContext.requestContextPath}/images/top_left_large_lowertext.jpg" width="220" height="34" alt=""/></td>
							</tr>
							 -->
							 <tr>
								<td valign="bottom">
									<a href="https://play.google.com/store/apps/details?id=com.etrader.android.app" target="_blank" style="text-decoration: none;">
										<img border="0" src="#{facesContext.externalContext.requestContextPath}/images/etrader_new-app_side-banner_login.png" alt=""/>
									</a>
								</td>
							</tr>
						</table>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
						<table width="224" border="0" cellspacing="0" cellpadding="0" class="onetouch_offhours_border">
								<tr>
									<td height="12">
									</td>
								</tr>
								<tr>
								    <td><a href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouch.jsf"><img src="#{facesContext.externalContext.requestContextPath}/images/onetouch_logged.gif" width="222" height="158" border="0" /></a></td>
								</tr>
								<tr>
								    <td>
								    	<table  width="210" border="0" cellspacing="0" cellpadding="0" align="center">
								        	<tr>
								           	  <td align="center" class="onetouch_offhours_txt">התשואה המובטחת תשולם אם במהלך התקופה שממועד רכישת האופציה ועד למועד פקיעת האופציה שער הדגימה של נכס הבסיס מגיע לשער היעד. האופציות נדגמות חמש פעמים במהלך השבוע <br/><a href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms_one_touch.jsf" style="color:#990000;">לחץ כאן</a> לתנאים כלליים</td>
								            </tr>
								    	</table>
								     </td>
								</tr>
								<tr>
								  	<td>&#160;</td>
								</tr>
						</table>
						</h:panelGroup>
					</div>
				</td>
			</tr>
			<tr>
				<td height="6">
				</td>
			</tr>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.calcalistGame}">
				<tr>
					<td height="238px">
						<div id="top_left" name="top_left" align="left">
						<table width="224" height="236px" cellpadding="0" cellspacing="1">
							<tr>
								<td>
									<table class="site_table" width="224" height="140" cellpadding="0" cellspacing="1">
										<tr>
											<td>
												<table width="220" height="140" border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td>
															<img src="#{facesContext.externalContext.requestContextPath}/images/call_up.gif" width="76" height="55" alt=""/>
														</td>
														<td align="right" width="146" colspan="2" style="font-size:11px; font-family:Arial, Helvetica, sans-serif ">
																<h:outputText value="#{msgs['banner.top_left.sm.call']}" escape="false" />
														</td>
													</tr>
													<tr height="1">
														<td colspan="3" width="220" height="1" align="center">
															<div style="padding-left:10px; padding-right:10px;"><div style="background-color:#728380; font-size:1px; line-height:1px; height:1px;">&#160;</div></div>
														</td>
													</tr>
													<tr>
														<td>
															<img src="#{facesContext.externalContext.requestContextPath}/images/upndwn_sml_06.gif" width="76" height="55" alt=""/>
														</td>
														<td align="right" width="146" colspan="2" style="font-size:11px; font-family:Arial, Helvetica, sans-serif">
															<h:outputText value="#{msgs['banner.top_left.sm.put']}" escape="false" />
														</td>
													</tr>
													<tr>
														<td colspan="3">
															<img src="#{facesContext.externalContext.requestContextPath}/images/bottom_top_left.jpg" width="220" height="30" alt=""/></td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height="7"></td>
							</tr>
							<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
								<tr>
									<td height="89" style="cursor:pointer"><input onclick="openConfirmWindow()" type="image" src="#{facesContext.externalContext.requestContextPath}/images/cal_et_banner_log.jpg" border="0" height="89"/></td>
								</tr>
							</h:panelGroup>
						</table>
						</div>
					</td>
				</tr>
				<tr>
					<td height="10"></td>
				</tr>
			</h:panelGroup>
			<tr>
				<td height="200" align="left"><iframe align="left" id="left_side_investments" name="left_side_investments" src="#{facesContext.externalContext.requestContextPath}/jsp/left_side_investments_profit.jsf" width="224" height="200" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe></td>
			</tr>
		</table>
	</div>

</f:view>