<html dir="RTL"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<head>
	<title>etrader</title>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
</head>
<body style="one_Touch_Body">
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>

	<c:if test="${empty sessionScope.user}">
		<c:set var="styleVar" value="display: inline;"/>
	</c:if>
	<c:if test="${!empty sessionScope.user}">
		<c:set var="styleVar" value="display: none;"/>
	</c:if>

	<div id="logedOut_banners" style="${styleVar}" >
		<table width="224" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<ui:include src="/jsp/he/onetouch_banner.xhtml" />
				</td>
			 </tr>
			<tr>
				<td height="7"></td>
			</tr>
			<tr>
				<td height="34" style="cursor:pointer"><a target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"><IMG SRC="#{facesContext.externalContext.requestContextPath}/images/open_oneTouch.jpg" border="0" height="34"/></a></td>
			</tr>
			<tr>
				<td height="7"></td>
			</tr>
			<tr>
				<td height="161"><iframe id="banners_bottom" name="banners_bottom" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/banners/homepage_banners_bottom.jsf?refresh=true" width="224" height="161" scrolling="no" ></iframe></td>
			</tr>
	   </table>
	</div>

	<c:if test="${!empty sessionScope.user}">
		<c:set var="styleVar" value="display: inline;"/>
	</c:if>
	<c:if test="${empty sessionScope.user}">
		<c:set var="styleVar" value="display: none;"/>
	</c:if>
	<div id="logedIn_banners" style="${styleVar}" align="left">
		<table width="224" cellspacing="0" cellpadding="0">
			<tr>
				<td height="227">
					<ui:include src="/jsp/he/onetouch_banner.xhtml" />
				</td>
			 </tr>
			<tr>
				<td height="9">
				</td>
			</tr>
			<tr>
				<td height="200" align="left"><iframe align="left" id="left_side_investments" name="left_side_investments" src="#{facesContext.externalContext.requestContextPath}/jsp/left_side_investments_profit.jsf" width="224" height="200" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe></td>
			</tr>
	   </table>
	</div>

</body>
</html>