<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<BR/>
<p class="text_info_page_12">
etrader מציעה לך הטבה שאי אפשר לסרב לה – השקעה עם אפשרות להרוויח בלבד. אפס סיכון. בלי אותיות קטנות ובלי תנאים חבויים. <br/><br/>

אם קיבלת מאיתנו הודעה כי אתה נכלל ברשימת הלקוחות הנבחרים שזכאים להטבה, כל מה שעליך לעשות הוא לרכוש אופציית call  או put  על כל נכס בסיס שתבחר, לכל מועד פקיעה שהוא. אם האופציה שבחרת פקעה בתוך הכסף – תקבל את אחוזי התשואה המובטחים כרגיל. הפסדת? תקבל בחזרה את סכום ההשקעה במלואו! אין לך מה להפסיד.<br/><br/>

המבצע כפוף לתנאים ולכללים להלן:<br/>

1.	ההטבה מיועדת ללקוחות נבחרים בלבד על פי שיקול דעתה של etrader.<br/>
2.	ההטבה תינתן על השקעה אחת בלבד.<br/>
3.  ההטבה לא חלה על השקעות באופציות מסוג One Touch. <br/>
4.	<B>מינימום השקעה לצורך קבלת ההטבה – #{user.nextInvestMinAmount} שקל. מקסימום השקעה לצורך קבלת ההטבה: #{user.nextInvestMaxAmount} שקל.</B> השקעות נמוכות מהמינימום או גבוהות מהמקסימום לא יקנו זכאות להחזר.<br/>
5.	ההשקעה המזכה לקבלת הטבת ההחזר היא ההשקעה הראשונה שתבצע לאחר שקיבלת הודעה על זכאותך ליהנות מההטבה. ההשקעה הראשונה תיקבע לפי מועד ביצוע ההשקעה ולא לפי מועד הפקיעה של ההשקעה.<br/>
6.	ההחזר יינתן עם פקיעת האופציה עליה בוצעה ההשקעה.<br/>
7.	etrader שומרת על זכותה להפסיק את המבצע בכל עת מכל סיבה שהיא ללא הודעה מוקדמת.<br/>
8.	ההטבה ניתנת לניצול תוך 7 ימים מיום משלוח ההודעה ללקוח. <br/>
9.  etrader שומרת לעצמה את הזכות לבטל את ההטבה גם אחרי שמומשה במקרה של חשד לניצול לרעה או להונאה.
</p>


</f:view>