<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>

<body dir="rtl">

<table cellspacing="0" cellpadding="20">
<tr><td>
<table width="463" border="0" cellspacing="0" cellpadding="0">
  <tr valign="middle">
    <td class="bonus_header">ההשקעה הבאה עלינו</td>
    <td align="left" width="200px">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer.gif" width="160" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_used.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_missed.gif" width="200" height="82" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_nidha.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_butal.gif" width="200" height="82" />
    	</h:panelGroup>
    </td>
  </tr>
  <tr>
    <td colspan="2"  class="bonus_subheadline" >etrader מציעה לך הטבה חד פעמית  <br/>לאופציה הבאה שתרכוש - השקעה ללא סיכון.
<br/><br/>
      <span class="bonus_subtext">כל שעליך לעשות הוא לרכוש אופציית call או put על כל נכס בסיס שתבחר,<br/> לכל מועד פקיעה שהוא. אם האופציה שבחרת פקעה בתוך הכסף – תקבל את <br/>אחוזי התשואה המובטחים.
<br/><br/>האופציה פקעה מחוץ לכסף?<br/> <strong>תקבל בחזרה את סכום ההשקעה במלואו!</strong><br/> אין לך מה להפסיד.
<br/>
<br/>
ההצעה בתוקף עד לתאריך &#160;<h:outputText id="endDate" value="" />.
 </span><br/></td>
  </tr>
   <tr>
  	<td colspan="2">&#160;</td>
  </tr>
  <tr>
  	<td colspan="2" class="bonus_terms">

 <strong>ההשקעה הבאה עלינו – תנאים כלליים </strong><br/>ההטבה תינתן על השקעה אחת או יותר, בהתאם לתנאי המבצע המסוים בו הוצע ללקוח להשתתף.
<br/><br/>
מינימום השקעה לצורך קבלת ההטבה – ₪100.00. מקסימום השקעה לצורך קבלת ההטבה: ₪3000.00. השקעות נמוכות מהמינימום או גבוהות מהמקסימום לא יקנו זכאות להחזר.<br/><br/>

ההשקעה המזכה לקבלת הטבת ההחזר היא ההשקעה שהוגדרה בתנאי המבצע המסוים בו הוצע ללקוח להשתתף, ועליה להתבצע תוך זמן קצוב. מועד ההשקעה ייקבע לפי מועד ביצוע ההשקעה ולא לפי מועד הפקיעה של ההשקעה.
<br/><br/>

ההחזר יינתן עם פקיעה מחוץ לכסף של האופציה עליה בוצעה ההשקעה.<br/><br/>
ההטבה לא חלה על השקעות באופציות מסוג One Touch.<br/><br/>
אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכת כספים מהחשבון לאחר קבלת ההטבה הוא ביצוע השקעות בגובה פי&#160; 3 מסכום ההטבה.<br/><br/>

החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרע במבצע כלשהו עלול לגרום לביטול ההטבה ולסגירת חשבון הלקוח באתר החברה.
<br/><br/>

יש להשתמש בהטבות בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בהטבה בתוך פרק זמן זה, ההטבה תימשך מחשבון הלקוח.
<br/><br/>

החברה שומרת לעצמה את הזכות לבטל את ההטבה אם יוודע על ניצול לרעה של המבצע ו/או במידה ותנאי המבצע לא ימולאו. החלטת החברה במקרה כזה היא סופית. החברה שומרת לעצמה את הזכות לבטל או לשנות את המבצעים בכל זמן נתון ללא צורך בהודעה מראש
<br/><br/>

    </td>
  </tr>
</table>
</td></tr></table>
<script>
	var myDate=new Date();
	myDate.setDate(myDate.getDate()+3);
	var lmonth=myDate.getMonth() + 1;
	var date=myDate.getDate();
	var year=myDate.getYear();
	if (lmonth &lt;10) {
		lmonth = "0" + lmonth;
	}
	if (date &lt; 10) {
		date = "0" + date;
	}
	document.getElementById("endDate").innerHTML=date + "/" + lmonth + "/" + year;
</script>
</body>
</html>
