<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>

<body dir="rtl">
<table cellspacing="0" cellpadding="20">
<tr><td>
<table width="443" border="0" cellspacing="0" cellpadding="0">
  <tr valign="middle">
    <td class="bonus_header">אופציה עם הגנה מוגדלת</td>
    <td width="200px">
    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer.gif" width="160" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_used.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_missed.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_nidha.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_butal.gif" width="200" height="82" />
    	</h:panelGroup>
    </td>
  </tr>

  <tr>
    <td colspan="2"  class="bonus_subheadline" >
    <h:panelGroup>
אנחנו שמחים להציע לך הטבה מיוחדת: אופציה עם הגנה מוגדלת.

<br/><br/>
      <span class="bonus_subtext">באופציה הבאה שתרכוש תוכל ליהנות מהגנה מוגדלת בגובה 85% (במקום 15%) במקרה של פקיעה מחוץ לכסף! במקרה של פקיעה בתוך הכסף תיהנה מאחוזי תשואה רגילים בהתאם לאופציה שתרכוש  (65-71%).
<br/><br/>
ההצעה בתוקף עד לתאריך &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>. שים לב שעם מימוש ההטבה חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה.
<br/><br/>
שים לב שעם מימוש ההטבה חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה.
 </span><br/>
 </h:panelGroup>


 </td>
  </tr>
   <tr>
  	<td colspan="2">&#160;</td>
  </tr>
  <tr>
  	<td colspan="2" class="bonus_terms">

 <strong>בונוסים - תנאים כלליים</strong><br/>
הבונוס יזוכה לחשבון הלקוח רק לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב.
<br/><br/>
ההטבה לא חלה על השקעות באופציות מסוג One Touch ו/או השקעות בזירת המסחר אופציה+.
<br/><br/>
אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכה לאחר מימוש הבונוס הוא ביצוע השקעות בגובה פי #{facesContext.externalContext.requestParameterMap['wageringParam']} מסכום ההשקעה במסגרת ההטבה.

<br/><br/>
החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול הבונוס ולסגירת חשבון הלקוח באתר החברה.
<br/><br/>
לאחר קבלת הבונוס / הטבה, על הלקוח להשלים את מכסת ההשקעות הנדרשת כתנאי מקדים לביצוע משיכה בתוך 3 (שלושה) חודשים קלנדריים. אם הלקוח לא עמד בסך ההשקעות הנדרש במהלך פרק זמן זה, החברה תמשוך את סכום הבונוס / הטבה מחשבון הלקוח, על סמך שיקול דעתה הבלעדי.
<br/><br/>
יש להשתמש בבונוסים בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בבונוס בתוך פרק זמן זה, הבונוס יימשך מחשבון הלקוח.
<br/><br/>
<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
	<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
	<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
</h:outputFormat>
<br/><br/>
<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
    </td>
  </tr>
</table>
</td></tr></table>
</body>
</html>
