﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>

<body dir="rtl">
<table cellspacing="0" cellpadding="20">
<tr><td>
<table width="443" border="0" cellspacing="0" cellpadding="0">
  <tr valign="middle">
    <td  class="bonus_header">קיבלת בונוס</td>
    <td >
    	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus.gif" width="160" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_used.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_missed.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_nidha.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_butal.gif" width="200" height="82" />
    	</h:panelGroup>
    </td>
  </tr>

  <tr>
    <td colspan="2"  class="bonus_subheadline" >
    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
    אנחנו שמחים לבשר לך שקיבלת בונוס מיוחד בסך&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']/100}">
<f:convertNumber currencySymbol="₪" minFractionDigits="2" type="currency"/>
</h:outputText>.
	</h:panelGroup>

	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
    קיבלת בונוס מיוחד בסך&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']/100}">
<f:convertNumber currencySymbol="₪" minFractionDigits="2" type="currency"/>
</h:outputText>.
	</h:panelGroup>
<br/><br/>
      <span class="bonus_subtext"> סכום הבונוס זוכה בחשבונך ומופיע בפירוט חשבונך תחת "הטבה מ-etrader".<br/><br/>
הבונוס ניתן לשימוש עד לתאריך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>
שים לב שעם מימוש הבונוס חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה. </span><br/></td>
  </tr>
   <tr>
  	<td colspan="2">&#160;</td>
  </tr>
  <tr>
  	<td colspan="2" class="bonus_terms">

 <strong>בונוסים - תנאים כלליים </strong><br/>
 הבונוס יזוכה לחשבון הלקוח רק לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב.
 <br/><br/>
אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכה לאחר מימוש הבונוס / הטבה הוא ביצוע השקעות בגובה פי&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> מסכום הבונוס.
<br/><br/>
החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול הבונוס ולסגירת חשבון הלקוח באתר החברה.
<br/><br/>
לאחר קבלת הבונוס / הטבה, על הלקוח להשלים את מכסת ההשקעות הנדרשת כתנאי מקדים לביצוע משיכה בתוך 3 (שלושה) חודשים קלנדריים. אם הלקוח לא עמד בסך ההשקעות הנדרש במהלך פרק זמן זה, החברה תמשוך את סכום הבונוס / הטבה מחשבון הלקוח, על סמך שיקול דעתה הבלעדי.
<br/><br/>
יש להשתמש בבונוס במהלך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בבונוס בתוך פרק זמן זה, הבונוס יימשך מחשבון הלקוח.
<br/><br/>
<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
	<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
	<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
</h:outputFormat>
<br/><br/>
<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
<br/><br/>
</td>
  </tr>
</table>
</td></tr></table>
</body>
</html>