﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>

<body dir="rtl">
<table cellspacing="0" cellpadding="20" >
<tr><td style="padding-top:0px;padding-bottom:0px">
<table width="448" border="0" cellspacing="0" cellpadding="0">
  <tr valign="middle">
    <td class="bonus_header">השקעה אחת עלינו</td>
    <td width="200px">
    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer.gif" width="160" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_used.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_missed.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_nidha.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/offer_butal.gif" width="200" height="82" />
    	</h:panelGroup>
    </td>
  </tr>

  <tr>
    <td colspan="2"  class="bonus_subheadline" >
    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
      etrader מציעה לך הטבה שאי אפשר לסרב לה: בצע השקעות בסך&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']/100}">
<f:convertNumber currencySymbol="₪" minFractionDigits="2" type="currency"/>
</h:outputText>, וקבל הטבה חד פעמית לאופציה הבאה <br/>שתרכוש - השקעה ללא סיכון.
<br/><br/>
      <span class="bonus_subtext">מיד לאחר ביצוע ההשקעות בסך&#160;  <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']/100}">
<f:convertNumber currencySymbol="₪" minFractionDigits="2" type="currency"/>
</h:outputText>, תקבל אפשרות לבצע השקעה אחת ללא סיכון. כלומר, תוכל לרכוש אופציית call או put על כל נכס בסיס שתבחר, לכל מועד פקיעה שהוא. אם האופציה שבחרת פקעה בתוך הכסף – תקבל את אחוזי התשואה המובטחים.
<br/><br/>
האופציה פקעה מחוץ לכסף?<br/> <strong>תקבל בחזרה את סכום ההשקעה במלואו!</strong><br/> אין לך מה להפסיד.
<br/><br/>
ההצעה בתוקף עד לתאריך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
 </span><br/>
</h:panelGroup>

<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
etrader מציעה לך הטבה חד פעמית לאופציה הבאה<br/> שתרכוש - השקעה ללא סיכון.
<br/><br/>
      <span class="bonus_subtext">
כל שעליך לעשות הוא לרכוש אופציית call או put על כל נכס בסיס שתבחר,<br/> לכל מועד פקיעה שהוא. אם האופציה שבחרת פקעה בתוך הכסף – תקבל את<br/> אחוזי התשואה המובטחים.

<br/><br/>
האופציה פקעה מחוץ לכסף? <br/><strong>תקבל בחזרה את סכום ההשקעה במלואו!</strong> <br/>אין לך מה להפסיד.
<br/><br/>
ההצעה בתוקף עד לתאריך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.
 </span><br/>
</h:panelGroup>

 </td>
  </tr>
   <tr>
  	<td colspan="2">&#160;</td>
  </tr>
  <tr>
  	<td colspan="2" class="bonus_terms">

 <strong>השקעה אחת עלינו – תנאים כלליים</strong><br/>
ההטבה תינתן על השקעה אחת או יותר, בהתאם לתנאי המבצע המסוים בו הוצע ללקוח להשתתף.<br/><br/>

ההשקעה המזכה לקבלת הטבת ההחזר היא ההשקעה שהוגדרה בתנאי המבצע המסוים בו הוצע ללקוח להשתתף, ועליה להתבצע תוך זמן קצוב. מועד ההשקעה ייקבע לפי מועד ביצוע ההשקעה ולא לפי מועד הפקיעה של ההשקעה.
<br/><br/>

ההחזר יינתן עם פקיעה מחוץ לכסף של האופציה עליה בוצעה ההשקעה.
<br/><br/>
ההטבה לא חלה על השקעות באופציות מסוג One Touch ו/או השקעות בזירות המסחר אופציה+ ובינארי 0-100.
<br/><br/>
אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכת כספים מהחשבון לאחר קבלת ההטבה הוא ביצוע השקעות בגובה פי #{facesContext.externalContext.requestParameterMap['wageringParam']} מסכום ההשקעה במסגרת ההטבה.
<br/><br/>
החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול ההטבה ולסגירת חשבון הלקוח באתר החברה.
<br/><br/>
לאחר קבלת הבונוס / הטבה, על הלקוח להשלים את מכסת ההשקעות הנדרשת כתנאי מקדים לביצוע משיכה בתוך 3 (שלושה) חודשים קלנדריים. אם הלקוח לא עמד בסך ההשקעות הנדרש במהלך פרק זמן זה, החברה תמשוך את סכום הבונוס / הטבה מחשבון הלקוח, על סמך שיקול דעתה הבלעדי.
<br/><br/>

יש להשתמש בהטבה במהלך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בהטבה בתוך פרק זמן זה, ההטבה תימשך מחשבון הלקוח.
<br/><br/>
<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
	<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
	<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
</h:outputFormat>
<br/><br/>
<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
    </td>
  </tr>
</table>
</td></tr></table>
</body>
</html>
