﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>

<body dir="rtl">
<table cellspacing="0" cellpadding="20">
<tr><td>
<table width="443" border="0" cellspacing="0" cellpadding="0">
  <tr valign="middle">
    <td class="bonus_header">בונוס מיוחד</td>
    <td>
   		 <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus.gif" width="160" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_used.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_missed.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_nidha.gif" width="200" height="82" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{facesContext.externalContext.requestContextPath}/images/bonus_butal.gif" width="200" height="82" />
    	</h:panelGroup>
    </td>
  </tr>

  <tr>
    <td colspan="2"  class="bonus_subheadline" >
		
 </td>
  </tr>
   <tr>
  	<td colspan="2"><br />&#160;<br />
  	  אנחנו שמחים לבשר לך שמגיע לך בונוס מיוחד בסך  &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']/100}"><f:convertNumber currencySymbol="₪" minFractionDigits="2" type="currency"/></h:outputText> מ-etrader.<br />
  	<br />חשבונך יזוכה בסכום הבונוס מיד לאחר שתפקיד &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumDeposits']}"/> ותבצע השקעות בסך &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']/100}"><f:convertNumber currencySymbol="₪" minFractionDigits="2" type="currency"/></h:outputText> , ויופיע בפירוט חשבונך תחת "בונוס מ-etrader".<br /><br />ההצעה בתוקף עד לתאריך &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.</td>
  </tr>
  <tr>
  	<td colspan="2" class="bonus_terms">
<br />&#160;<bR />
 <strong>בונוסים - תנאים כלליים</strong><br />
הבונוס יזוכה לחשבון הלקוח רק לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב.
<br /><br />
החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול הבונוס ולסגירת חשבון הלקוח באתר החברה.
<br /><br />
יש להשתמש בהטבה במשך הזמן הנקוב בפרטי המבצע. במידה ולא ייעשה שימוש בהטבה בזמן זה, היא תבוטל.
<br /><br />
לאחר קבלת ההטבה, על הלקוח להשלים את מכסת ההשקעות הנדרשת בתוך 3 (שלושה) חודשים קלנדריים, כתנאי מקדים לקבלת הבונוס. אם הלקוח לא עמד בסך ההשקעות הנדרש במהלך פרק זמן זה, הלקוח לא יקבל את סכום ההטבה.
<br /><br />
<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
	<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
	<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
</h:outputFormat>
<br/><br/>
<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
<br /><br />

     </td>
  </tr>
</table>
</td></tr></table>

<script type="text/javascript"><!--

	function getScrolling()
	{
		var x = 0; var y = 0;if (self.pageXOffset || self.pageYOffset)
		{
			x = self.pageXOffset;
			y = self.pageYOffset;
		}
		 else if ((document.documentElement && document.documentElement.scrollLeft)||(document.documentElement && document.documentElement.scrollTop))
		{
			x = document.documentElement.scrollLeft;
			y = document.documentElement.scrollTop;
		}
		 else if (document.body) 
		{
			x = document.body.scrollLeft;
			y = document.body.scrollTop;
		}
		return x + "," + y;
	}
	
//--></script>
</body>
</html>