body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff url(../images/bg.png) left top repeat-x;
	color: #093755;
	font-size: 14px;
	width: 100%;
}
* {
	margin: 0px;
	padding: 0px;
}
#page {
	width: 975px;
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
img {
	border: none;
}
p {
	margin: 10px 0;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
#bg_container {
	width: 1185px;
	margin: 0 auto;
	postion: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 195px;
}
*+html #mainimg {
	float: left;
	margin-left: -110px !important;
}
#main {
	width: 975px;
	height: auto;
	float: left;
	clear: both;
}
#logo {
	width: 975px;
	margin: 0 auto;
	text-align: left;
	height: 58px; padding-top: 15px;
}
#title {
	padding: 15px 0 20px 0;
	margin: 0 auto;
	width: 975px;
	background: transparent url(../images/bg_title.png) center top no-repeat;
	text-align: center;
}
.video {
	width:530px;
	height:400px;
	float:left;
}
h1 {
	font-size: 34px;
	font-weight: bold;
	margin: 5px 0 3px 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0 -20px 0 0;
	padding: 0px;
	width: 445px;
	float: right;
	text-align: left;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 40px 0 20px 0;
	padding: 0px;
}
#content {
	width: 1080px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
#content_top {
	float: right;
	width: 100%;
	padding-top: 20px;
	text-align: left;
	background: #ffffff;
}
.top_list {
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 0px;
	text-align: left;
	width: 420px;
	margin-top: 10px;
	float: right;
}
.top_list li {
	padding: 0px 0 20px 80px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #006cb2;
}
.top_list li span {
	font-size: 24px;
	font-weight: normal;
	color: #093755;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat left top;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat left top;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat left top;
	padding-top: 3px;
}
.button_tradeBox {
	right: 0;
	height: 72px;
	width: 262px;
	top: 0;
	position: absolute;
}
.tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.tradeBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#content_btm {
	float: left;
	width: 975px;
	text-align: left;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 30px;
	position: relative;
}
.bottom_list {
	list-style-type: none;
	text-align: left;
	margin-top: 3px;
	float: left;
	width: 975px;
}
.bottom_list li {
	padding: 7px 0 7px 35px;
	background: url(../images/img_bullet.png) no-repeat 6px 8px;
	border-bottom: 1px dotted #aaaaaa;
	font-size: 14px;
	font-weight: normal;
	height:auto;
}
#tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.content_learnBox {
	float: left;
	width: 975px;
	text-align: left;
	padding-right: 20px;
}
#content_learnBox p {
	text-align: justify;
	font-size: 12px;
}
.button_learnBox {
	float: right;
	height: 63px;
	width: 219px;
	margin-top:165px;
}
.learnBox_StartButton {
	width: 219px;
	height: 63px;
	background-image: url(../images/bttn_StartNow_02_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.learnBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#footer {
	text-align: center;
	width: 975px;
	margin: 0 auto;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 633px;
	padding: 15px 0 15px 337px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
}

#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	padding: 20px 0;
	line-height: 16px;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
/* Regulation footer */
#footer .icons { border:none; }
#footer .icons-container {
  width: 975px;
  margin:0 auto;
}
#footer .regulated {
 font-size:14px;
 height: 40px;
 margin: 25px auto 0;
 border-top: solid 1px #d1dae0; 
 border-bottom: solid 1px #d1dae0;
 padding-bottom:10px;
 padding-top:10px;
 color:#898989;
}
.reg-logo { padding:6px 0 0 55px; }
.reg-logo {float:right; background: url(../../images/regulated-logo.png) no-repeat; height:67px; padding:5px 0 0 55px; position:absolute; right:0; top:14px;}
.reg-logo p { font-size:15px; padding:0}
#footer .regulated img {
 float:right;
 margin-top:7px;
 margin-left:8px;
}
#footer .regulated p {
 float:left;
}
#footer .regulated div { margin:0 auto;}
/* Close regulation footer */

/*					Localizations					*/

#RU h4 {
	line-height: 27px;
}
#RU .button_learnBox {
	margin-top: 190px;
}
#RU .button_tradeBox {
	position: relative;
	margin-top: -5px;
	float: right;
	z-index: 9999;
}

#RU .top_list .p2 {
}
#RU .top_list .p3 {
	background-position: left 16px;
}
#RU .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_ru.png);
}
#RU .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_ru.png);
}
#RU .top_list li {
	font-size:16px;
}
#DE #mainimg {
	top: 225px
}
#DE .button_tradeBox {
	position: relative;
	margin-top: -5px;
	float: right;
	z-index:9999;
}
#DE .top_list .p1 {
	background-position: left 16px;
}
#DE .top_list .p2 {
	background-position: left 16px;
}
#DE .top_list .p3 {
	background-position: left top;
}
#DE .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_de.png);
}
#DE .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_de.png);
}
#DE .top_list li span {
	font-size:20px;
}
#IT h1 {
	font-size:30px;
}
#IT .button_tradeBox {
	position: relative;
	margin-top: -5px;
	float: right;
	z-index:9999;
}
#IT .top_list .p1 {
	background-position: left 25px;
}
#IT .top_list .p2 {
	background-position: left 25px;
}

#IT .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_it.png);
}
#IT .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_it.png);
}
#FR #mainimg {
	top: 235px;
}
#FR h4 {
	line-height: 27px;
}
#FR .top_list .p1 {
	background-position: left 16px;
}
#FR .top_list .p2 {
	background-position: left 16px;
}
#FR .top_list .p3 {
	background-position: left 16px;
}
#FR .button_tradeBox {
	width: 302px;
	position: relative;
	margin-top: 6px;
	float: right;
	z-index:9999;
}
#FR .button_learnBox {
	width: 252px;
	margin-top: 195px;
}
#FR .tradeBox_StartButton {
	width: 302px;
	background-image: url(../images/bttn_StartNow_01_fr.png);
}
#FR .learnBox_StartButton {
	width: 252px;
	background-image: url(../images/bttn_StartNow_02_fr.png);
}
#FR .video, #IT .video {
	height:430px;	
}
#ES #mainimg {
	top: 225px;
}
#ES .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
}
#ES .top_list .p1 {
	background-position: left 16px;
}
#ES .top_list .p3 {
	background-position: left top;
}
#ES .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_es.png);
}
#ES .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_es.png);
}
#ES .top_list li {
	font-size:18px;
}
#TR .top_list .p1 {
	background-position: left 16px;
}
#TR .top_list .p2 {
	background-position: left 16px;
}
#TR .button_tradeBox {
	position: relative;
	margin-top: 10px;
	float: right;
	z-index: 9999;
}
#TR .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_tr.png);
}
#TR .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_tr.png);
}
#TR #footer .regulated {
	font-size:12px;
}
#TR #footer .regulated p {
	margin:13px 0;
}
#ZH #mainimg {
	top: 160px;
}
*+html #ZH #mainimg {
	top: 130px;
}
#ZH .button_learnBox {
	margin-top: 130px;
}
#ZH .button_tradeBox {
	position: relative;
	margin-top: 5px;
	float: right;
	z-index: 9999;
}
#ZH .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_zh.png);
}
#ZH .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_zh.png);
}
#ZH #content_top {padding-top:50px;}
#ZH h3 {margin: 0 -25px 0 0;}

#ZH .top_list {width: 450px;}

/**************form classes******************/
.form_block {
	font-size:18px;
	color:#093755;
	width: 975px;
	height: 125px;
	float: left;
	background: transparent url(../images/bg_title.png) no-repeat center top;
	margin-top: 30px;
	padding-top: 35px;
}
.form_cl {
	float: left;
	width: 178px;
}
.form_cl2 {
	float: left;
	width: 205px;
}
.form_cl3 {
	float: left;
	width: 230px;
}
.form_cl4 {
	float: left;
	width: 975px;
}
form {
	display: block;
	margin-top: 0em;
}
.star {
	color: #F6CD10;
	font-weight: normal;
	font-size: 11px;
}
input {
	background: transparent;
	color: #093755;
	text-align: left;
	font-size: 12px;
}
.input1 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 168px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
}
.input1 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 165px;
}
.input4 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 195px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
}
.input4 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 190px;
}
.input2 {
	float: left;
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 53px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	margin-right: 5px;
	float: left;
}
.input2 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 50px;
}
.input3 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 158px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	float: left;
}
.input3 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 153px;
}
.agree {
	float: left;
	margin-left: 10px;
}
input[type="checkbox"] {
	margin: 0px 5px 3px 0;
	float: left;
}
*+html input[type="checkbox"] {
	margin-top: -3px;
}
.agree_text {
	font-size: 11px;
	color: #3b6078;
	float: left;
}
.secured {
	color: #3b6078;
	font-size: 11px;
	background: transparent url(../images/icon_secure.png) no-repeat left top;
	padding-left: 20px;
	height: 15px;
	float: left;
	margin-left: 30px;
}
.submin_swf {
	float: right;
	margin-top: 8px;
}

.error {border: solid 1px #ff4e00;}
/**************end of form classes******************/
/************Error message*****************/
#error_box {
	display:none;
	position:absolute;
	z-index:100;
	background-color: #eaeaea;
	width:250px;
	overflow:hidden;
	color:#093755;
	text-align:center;
	border: 1px solid #093755;
	top: 30%; 
}
.error_message {
	margin-top:50px;
	height:50px;
	padding:0 10px;
	color:#093755;
}
.error_button {
	background:url(../images/form_full_alret_button.png) no-repeat;
	width:77px;
	height:55px;
	margin: 0 auto; 
	margin-bottom:15px; cursor: pointer;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:fixed;
	top:0;
	width:100%;
	z-index:99;
}
/************End of Error message*****************/
.upLink {background:url(../images/up.png) no-repeat; width: 60px !important; height: 60px !important; text-decoration: none; float: right; cursor: pointer;}
.upLink:hover {background:url(../images/up_over.png) no-repeat; text-decoration: none;  text-decoration: none; cursor: pointer;}

.disclaimer {width: 420px; float: right; margin-left:0; text-align: left; font-size: 11px; color: #093755; margin-top: -5px; line-height: 16px; border-top: 1px dotted #aaaaaa; padding: 10px 0;}
