<f:view DIR="RTL" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<div class="header_fixed">
	<div class="wd">
		<ui:include src="/jsp/tickerWrapper.xhtml"></ui:include>
		<iframe scrolling="no" id="header" frameborder="no" allowTransparency="true" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/header_loggedin_table.jsf" width="690" height="23"></iframe>
	</div>
</div>
</f:view>