
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<h:form id="LastLevels">
<table align="center" border="0" cellpadding="0" cellspacing="0" height="52px" width="382">
	<tr>
		<c:set var="class" value="onetouch_lastlevels"/>
		<c:if test="${td=='lastLevels'}">
			<c:set var="class" value="onetouch_lastlevels_active"/>
		</c:if>

		<td align="middle" valign="middle" class="${class}" nowrap="nowrap" style="white-space: nowrap;">
		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
					target="_top" styleClass="${class}" >
				<h:outputText value="#{msgs['CMS.lastLevels_strip.label.header.lastlevels.binaryOptions']}"/>
			</h:outputLink>
	    </td>
		<td align="center" width="55px" ><span class="text_gray_12">|</span></td>
		<h:panelGroup rendered="#{!applicationData.tlv}">
			<c:set var="class" value="onetouch_lastlevels"/>
			<c:if test="${td=='lastLevelsOptionPlus'}">
				<c:set var="class" value="onetouch_lastlevels_active"/>
			</c:if>

			<td align="center" valign="middle" class="${class}" nowrap="nowrap" style="white-space: nowrap;">

				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/lastLevelsOP.jsf"
						target="_top" styleClass="${class}" >
					OPTION+
				</h:outputLink>

			</td>

			<td align="center" width="55px" ><span class="text_gray_12">|</span></td>

		</h:panelGroup>

		<c:set var="class" value="onetouch_lastlevels"/>
		<c:if test="${td=='lastLevelsOneTouch'}">
			<c:set var="class" value="onetouch_lastlevels_active"/>
		</c:if>

		<td align="middle" valign="middle" class="${class}" style="white-space: nowrap;">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/lastLevelsOneTouch.jsf"
					target="_top" styleClass="${class}" >
				<h:outputText value="#{msgs['CMS.lastLevels_strip.label.header.lastlevels.oneTouchOptions']}"/> 
			</h:outputLink> 
		</td>
		<h:panelGroup rendered="#{applicationData.skinId !='4' &amp;&amp; applicationData.skinId !='13' &amp;&amp; applicationData.skinId !='14' &amp;&amp; applicationData.skinId != '9'}">
			<td align="center" width="55px" ><span class="text_gray_12">|</span></td>
			
			
			<c:set var="class" value="onetouch_lastlevels"/>
			<c:if test="${td=='binary0100_lastlevels'}">
				<c:set var="class" value="onetouch_lastlevels_active"/>
			</c:if>
			
			<td align="middle" valign="middle" class="${class}" style="white-space: nowrap;">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/lastLevelsBinary0100.jsf"
						target="_top" styleClass="${class}" >
					<h:outputText value="#{msgs['CMS.lastLevels_strip.label.header.lastlevels.binary.0100']}"/>
				</h:outputLink>
			</td>
		</h:panelGroup>
	</tr>
</table>
</h:form>

</f:view>