<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<t:saveState value="#{marketsListForm}" />
<script src="#{facesContext.externalContext.requestContextPath}/js/optionTypes.js"></script>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<c:forEach items="${marketsListForm.optionType}" var="optionType">
				<tr onclick="scheduleSelect(${optionType.value});" class="hand">
					<td align="#{applicationData.pageAlignment}" onmouseover="changeColorsOptionType(this);"
							onmouseout="changeColorsBackOptionType(this);">
						<span >
							<h:outputLink class="option_type" value="javascript:;" >
								&#160;<h:outputLabel  style="cursor:pointer" value="#{msgs[optionType.label]}"/>
							</h:outputLink>
						</span>
					</td>
				</tr>
			</c:forEach>
</table>
</f:view>
