<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<t:saveState value="#{marketsListForm}" />
<script src="#{facesContext.externalContext.requestContextPath}/js/optionTypes.js"></script>
<table cellpadding="0" cellspacing="0" border="0" width="100%" id="selector" style="Background-color: #fff;">
				<tr  class="hand">
					<td align="center">
						<span >
							<h:outputLink class="option_type" value="javascript:;" >
								&#160;<h:outputLabel  style="cursor:pointer;color: #0284d6;font-weight:bold;Font-family: Verdana;Font-side: 10px;height: 15px;" value="#{msgs['trading.box.profit']}"/>
							</h:outputLink>
						</span>
					</td>
					<td align="center" >
						<span >
							<h:outputLink class="option_type" value="javascript:;" >
								&#160;<h:outputLabel  style="cursor:pointer;color: #0284d6;font-weight:bold;Font-family: Verdana;Font-side: 10px;height: 15px;" value="#{msgs['selector.refund']}"/>
							</h:outputLink>
						</span>
					</td>
				</tr>
				
		
			<div id="returnSelectOppId" style="display:none;"></div>
</table>
</f:view>
