<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>
		var skinId = #{applicationData.skinId};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
	</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <meta http-equiv="content-language" content="#{applicationData.userLocale.language}" />
   	<title><ui:insert name="windowtitle"/></title>
    <c:set var="metaKey" value="#{msgs['anyoption.keywords']}" /> <!-- default -->
    <ui:insert name="metaKeywords"></ui:insert>
    <META NAME="keywords" content="${metaKey}"/>
    <c:set var="metaDesc" value="#{msgs['onetouch.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<ui:include src="/jsp/head_css_js.xhtml" />
    	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<ui:insert name="canonical"></ui:insert>
	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}" bgcolor="#FFFFFF" style="background-image: url(#{applicationData.imagesPath}/bg.png);background-repeat: repeat-x;">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script>
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
</script>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<f:view locale="#{applicationData.userLocale}">

<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tradeMarkPopup.js"></script>

<script>
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
</script>
<ui:insert name="selected" />
<script>
	document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};

</script>

<!-- Trade Mark popup -->
<div id="boxes_tm">
<div style="display: none;" id="dialog_tm" class="window_tm">
</div>
<div style="display: none; opacity: 0.8;" id="mask_tm"></div>
</div>

<!-- Call me + live person pop ups -->
<div id="livePersonMainDiv" style="display:none;" >
	<ui:include src="/jsp/livePerson.xhtml"></ui:include>
</div>

<!-- header, skins menu (see also `skinsM menu`) , clock -->
<!-- End trade box msg -->
<ui:include src="/jsp/#{applicationData.templatesDirectory}/header_ticker_skins.xhtml" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="" id="" style="margin-top:30px;">
    <tr>
     <td class="" width="880"  align="center" colspan="3">
		<table class="" border="0" width="970" cellpadding="0" cellspacing="0" align="center"> <!--  first -->
			<tr height="8" ><td></td></tr>
				<tr>
			       <td class="table_no_up_border_d"  align="center" colspan="3" width="970">
			       		<!--Start Table logo, Menu strip, Holiday  -->
						<table class="menuBottomStyle_nd" border="0" width="970" cellpadding="0" cellspacing="0" align="center">
						    <tr align="center">
						       <!-- logo -->
							   <td id="logo_nd" align="left" valign="top">
							        <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_top">
							            <h:graphicImage url="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/logo_anyoption.png" id="anyoption_logo" alt="#{msgs['anyoption.title']}" title="#{msgs['anyoption.title']}"  border="0"/>
							        </a>
							    </td>
						    	<!-- Menu strip -->
				                <td align="#{applicationData.pageAlignment}" class="" style="font-size:0px;">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
				                		<ui:insert name="homePage" />
				                	</ui:include>
				                </td>
						     </tr>
						     <!-- "Holiday" db message -->
							<tr height="8">
								<td></td>
								<td><ui:insert name="message"></ui:insert></td>
							</tr>
						 </table>
						 <!-- End table logo, Menu strip, Holiday -->
					</td>
			   </tr>
		     <h:panelGroup rendered="#{applicationData.skinId != 11}">
			     <ui:include src="/jsp/trade_menu_strip.xhtml">
					<ui:param name="tradingLink" value="_#{selectedTd}" />
				 	<ui:param name="binaryOptionLink" value="" />
				 	<ui:param name="optionPlusLink" value="" />
				 	<ui:param name="oneTouchLink" value="#{selectedTd == 'oneTouch' ? '_active' : ''}" />
				 	<ui:param name="binary0100Link" value="" />
				 </ui:include>
			</h:panelGroup>
		</table>
		<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8" ><td></td></tr>
		    <tr>
		    	<td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
		                <tr>
		                   	<c:if test="${!empty sessionScope.user}">
								<td width="22">&#160;</td>
				          	</c:if>
				          	<c:if test="${empty sessionScope.user}">
		                		<td width="16">&#160;</td>
		                	</c:if>
		                    <td valign="top" width="720">
		<!-- *************************************************************************************************************************** -->
		 <!-- BEGIN MAIN -->
								<table width="720" height="536" border="0" cellpadding="0" cellspacing="0" >

									<tr height="40px">
								    	<td valign="bottom" class="header_page">
								        	<table border="0" cellpadding="0" cellspacing="0" width="720px">
								            	<tr>
								                <td class="header_oneTouch_pages">
								                	<ui:insert name="title"></ui:insert>
								                </td>
								                  <td  class="header_pages_message_onetouch">
								                  	<h1><ui:insert name="title_message"></ui:insert>
								                  	</h1>
								                  </td>
								                </tr>
								            </table>
								        </td>

								    </tr>

						         	<tr height="505" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="720" height="505" colspan="5">
											<ui:insert name="content"></ui:insert>
							            </td>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="16">&#160;</td>
		                    <td width="186"  height="536" valign="top" bgcolor="#FFFFFF">
		<!-- *******************************************Banners************************************************************************ -->
							<ui:insert name="rightSideBanner"></ui:insert>
		<!-- *************************************************************************************************************************** -->
							</td>
							<td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="5"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
</table>

<!-- FOOTER -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
    	<td height="136px" align="center" width="970px">
    		<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
    	</td>
  	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;" escape="false"/>
	<br/>
</div>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/templates/google.xhtml" />
</c:if>
<script>
	function showLivePersonDiv() {
		document.getElementById('livePersonMainDiv').style.display = 'block';
	}
	$(document).ready(function() {
		setTimeout("showLivePersonDiv();",5000);
	 });
</script>
</body>
</html>
