<form class="form" name="_form" novalidate>
	<div class="common-error" ng-if="_form.$error.required.length > 0 && _form.$submitted">
		<span>{{::$ctrl._u.getMsg('error-required')}}</span>
	</div>

	<div class="row">
		<div class="fit-in-one-row deposit-amount-field field-error" set-error-class="_form.amount">
			<div>
				<input class="input" type="tel" name="amount" ng-model="$ctrl.form.amount" smart-placeholder="::$ctrl._u.getMsg('deposit-amount')" required restrict-float server-error/>
				<input-errors field="_form.amount"></input-errors>
			</div>
			<div>
				<div class="pretty-select arrow" ng-if="$ctrl.isFirstDeposit" set-error-class="_form.amount">
					<select id="currencyId" name="currencyId" ng-model="$ctrl.formSelect.curency" ng-options="currency.defaultSymbol for currency in $ctrl.currencies"
						ng-change="$ctrl.updateDefaultDepositAmount(_form)" ng-disabled="!$ctrl.isFirstDeposit" required>
					</select>
				<span class="sign" ng-if="!$ctrl.isFirstDeposit">{{$ctrl._u.getCurrency().symbol}}</span>
			</div>
		</div>
	</div>
	
	<div class="row fit-in-one-row city-field">
		<div class="field-error" set-error-class="_form.accountNum">
			<input class="input" type="text" name="accountNum" ng-model="$ctrl.form.accountNum" required smart-placeholder="::$ctrl._u.getMsg('iban')"/>
			<input-errors field="_form.accountNum"></input-errors>
		</div>
		<div class="field-error" set-error-class="_form.bankSortCode">
			<input class="input" type="text" name="bankSortCode" ng-model="$ctrl.form.bankSortCode" required smart-placeholder="::$ctrl._u.getMsg('bic')"/>
			<input-errors field="_form.bankSortCode"></input-errors>
		</div>
	</div>
	
	<div class="row field-error" set-error-class="_form.beneficiaryName">
		<input class="input" type="text" name="beneficiaryName" ng-model="$ctrl.form.beneficiaryName" required smart-placeholder="::$ctrl._u.getMsg('beneficiary-name')"/>
		<input-errors field="_form.beneficiaryName"></input-errors>
	</div>

	<div ng-if="$ctrl.isFirstDeposit">
		<div class="row field-error" set-error-class="_form.street">
			<input class="input" type="text" name="street" ng-model="$ctrl.form.street" required smart-placeholder="::$ctrl._u.getMsg('address')"/>
			<input-errors field="_form.street"></input-errors>
		</div>

		<div class="row fit-in-one-row city-field">
			<div class="field-error" set-error-class="_form.cityName">
				<input class="input" type="text" name="cityName" ng-model="$ctrl.form.cityName" required smart-placeholder="::$ctrl._u.getMsg('city')"/>
				<input-errors field="_form.cityName"></input-errors>
			</div>
			<div class="field-error" set-error-class="_form.zipCode">
				<input class="input" type="text" name="zipCode" ng-model="$ctrl.form.zipCode" required smart-placeholder="::$ctrl._u.getMsg('zip')"/>
				<input-errors field="_form.zipCode"></input-errors>
			</div>
		</div>

		<div class="row birth-box">
			<span class="description">{{::$ctrl._u.getMsg('date-of-birth')}}</span>
			<div>
				<div class="fit-in-one-row-3 field-error" set-error-class="_form.birthYearUpdate">
					<div class="pretty-select arrow">
						<select name="birthDayUpdate" ng-model="$ctrl.form.birthDayUpdate" ng-options="number for number in $ctrl._u.Range(1, 31)" required>
							<option value="">{{::$ctrl._u.getMsg('day-short')}}</option>
						</select>
					</div>
				</div>

				<div class="fit-in-one-row-3 field-error" set-error-class="_form.birthYearUpdate">
					<div class="pretty-select arrow">
						<select name="birthMonthUpdate" ng-model="$ctrl.form.birthMonthUpdate" ng-options="number for number in $ctrl._u.Range(1, 12)" required>
							<option value="">{{::$ctrl._u.getMsg('month-short')}}</option>
						</select>
					</div>
				</div>

				<div class="fit-in-one-row-3 field-error" set-error-class="_form.birthYearUpdate">
					<div class="pretty-select arrow">
						<select name="birthYearUpdate" ng-model="$ctrl.form.birthYearUpdate" ng-options="number for number in $ctrl._u.Range($ctrl.yearMinus18, 1912)" 
							required eighteen-plus ep-day="$ctrl.form.birthDayUpdate" ep-month="$ctrl.form.birthMonthUpdate">
							<option value="">{{::$ctrl._u.getMsg('year-short')}}</option>
						</select>
					</div>
				</div>
			</div>
			<input-errors field="_form.birthYearUpdate"></input-errors>
		</div>
	</div>
	
	<div class="taC">
		<button class="button blue" type="submit" ng-class="{ loading: $ctrl.inAction }" ng-click="$ctrl.submit(_form)">
			<span>{{::$ctrl._u.getMsg('deposit')}}</span>
		</button>
	</div>
</form>