@charset "utf-8";
/* anyOption general CSS Document */

body {
	background-color:#093356;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
	background-image: url(../images/BLUE-BG.png);
	background-repeat: repeat-x;
}
.info img {
	margin-left: 26px;
	z-index: 1000;
}
img {
	border:none;
}
.clear {
	clear: both;
}
#page {
	background-image: url("../images/BLUE-BG.png");
	background-repeat: repeat-x;
	display: table;
	height: auto !important;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	width:930px;
}
#header {
	height:212px;
	background-repeat: repeat-x;
}
#AR {
	direction: rtl;
	font-family: Tahoma, Geneva, sans-serif;
}
#AR .text_box_2 {
	float: left;
	margin-left: 70px;
	width: 380px;
}
#AR .r_text_box {
	right:618px;
	left:0px;
	padding-right: 62px;
	padding-left: 0px;
}
#AR form {
	width: 218px;
}
#AR .subtitle_box {
	width: 300px;
}
#AR #header .logo {
	right: 809px;
}
#AR .l_text_box {
	background-image: url("../images/MAN_ar.png");
	background-position: right bottom;
	padding-right: 34px;
}
#AR #header .info {
	float: right;
	text-align: left;
}
#AR .info img {
	margin-right: 23px
}
#AR #header .info .number {
	margin-right: -22px;
}
#AR .contenttext_box h1 {
	background: url("../images/quote_right.png") no-repeat scroll right -5px transparent;
	margin: 0 -25px 0 0;
	padding: 0 25px 5px 0;
	font-size: 18px;
	line-height:22px;
	float: right;
	direction: rtl;
	width: 380px;
}
#AR .form_title {
	margin-right: 0px;
	margin-left: 63px;
}
#AR .submin_swf {
	margin-right: 10px;
}
#AR .input2 {
	background: url("../../images/input_box2.png") no-repeat scroll 0px 0 transparent;
}
#AR .agree {
	float: right;
}
#TR .l_text_box {
	background-image: url("../images/MAN_tr.png");
}
#RU .subtitle_box {
	font-size: 15px;
}
#header .info {
	margin-left: 0;
	text-align: left;
	background: url("../images/header_info.jpg") no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	float: left;
	font-size: 13px;
	height: 128px;
	margin-top: 25px;
	position: relative;
	width: 410px;
}
#header .logo {
	height: 40px;
	width: 113px;
	position: absolute;
	left: 809px;
	top: 20px;
}
#header .info .live_chat {
	float:left;
	line-height: 25px;
	margin-left: 34px;
	margin-top: 40px;
	height:27px;/* background:url(../images/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/
}
#header .info .live_chat a, #header .info .live_chat a:hover {
	color:#fff;
	text-decoration:none;
}
#banner-it {
	width: auto;
	height: 500px;
	position: relative;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#header .info .number {
	height: 37px;
	margin-left: -28px;
	margin-top: 15px;
	width: 620px;
}
#footer {
	margin-bottom:40px;
	margin-top: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	clear: both;
}
#footer .icons {
	height:30px;
	margin:0 auto;
	padding-left: 20px;
	width: 320px;
}
#footer .icons .icon_space {
	margin-right:20px;
	float:left;
}
#footer .links {
	margin-top:20px;
	margin-bottom:15px;
}
#footer .footer_link {
	color: #0284D6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_text {
	color: #7d7d7d;
	margin-top: 10px;
}
#AR #footer {
	margin-bottom: 40px;
	margin-top: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	float: right;
	width: 100%;
}
#AR .icons {
	height: 30px;
	margin: 0 auto;
	width:400px;
}
#AR .icons .icon_space {
	margin-left: 20px;
	float: right;
}
#AR .icon_space form {width: 20px;}
.hide {
	display:none;
}
p {
	margin: 0 0 4px;
	;
	padding:0;
}
h2 {
	font-size: 18px;
}
#banner_it {
	width:auto;
	height:500px;
	position:relative;
	background-repeat: no-repeat;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	vertical-align: top;
}
.disclaimer {
	margin-left:40px
}
.l_text_box {
	background-image: url("../images/MAN.png");
	background-position: left bottom;
	background-repeat: no-repeat;
	color: #093755;
	font-size: 15px;
	height: 348px;
	line-height: 18px;
	padding-left: 34px;
	position: absolute;
	top: 17px;
	width: 643px;
}
.l_text_box_big {
	font-size:15px;
	color:#1a1c22;
	position:absolute;
	top:387px;
	left:68px;
	line-height: 20px;
	width:376px
}
.l_text_box .title {
	font-size: 18px;
	color: #FFF;
	font-weight: bold;
	height: 195px;
	line-height: 24px;
	margin-top: -35px;
}
.l_text_box .title p {
	padding-top: 25px;
	margin-top: 0px;
}
.l_text_box .add {
	font-size: 13px;
	color: #3B3B3B;
	font-weight: bold;
	line-height: 16px;
	padding-top: 5px;
}
.text_box_2 {
	background-image: url("../images/HEADER-PICTURE.png");
	color: #093755;
	float: right;
	font-size: 15px;
	height: 167px;
	line-height: 15px;
	margin-right: 50px;
	width: 430px;
}
.text_box_big-text {
	font-size:15px;
	color:#093755;
	position:absolute;
	top:219px;
	left:70px;
	line-height: 20px;
	width:337px
}
.r_text_box {
	background-image: url("../images/FORM_BG.png");
	background-position: center top;
	background-repeat: no-repeat;
	color: #1A1C22;
	font-size: 12px;
	height: 439px;
	left: 618px;
	padding-left: 58px;
	padding-top: 10px;
	position: absolute;
	top: -60px;
	width: 283px;
}
.title_image {
	margin: 0 0 13px 5px;
}
.text_label {
	font-size: 15px;
	font-weight:bold;
	color:#a50b0b;
}
.input1 {
	background:url(../../images/input_box1.png) no-repeat 0 0;
	width:218px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:3px;
}
.input1 input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 210px;
}
.star {
	color:#a50b0b;
	font-weight:normal;
}
.input2 {
	float:left;
	line-height:11px;
	background:url(../../images/input_box2.png) no-repeat;
	width:53px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
	margin-right:5px;
}
.input2 input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 40px;
	text-align: center;
}
.input3 {
	background:url(../../images/input_box3.png) no-repeat;
	width:158px;
	height:23px;
	overflow:hidden;
	margin-top: 3px;
	margin-bottom:8px;
}
.input3 input {
	border: medium none;
	height: 16px;
	margin:2px 3px;
	width: 150px;
}
.submit_image {
	margin-left:-7px;
	margin-top: 6px;
}
.error {
	background-position:0 -23px;
}
.bottom_line {
	font-size:17px;
	font-weight:bold;
	color:#f6cd10;
}
#bottom_content {
	width:100%;
	margin-top: 14px;
	font-size:12px;
	color:#000;
}
.map_image {
	margin-top:30px;
}
.agree {
	float: left;
	margin-right: 10px;
}
.agree_text {
	font-size:9px;
	color: #666;
	padding-top: 3px;
}
.submin_swf {
	margin-left: 10px;
	height: 60px;
	width: 200px;
}
.error_text {
	height:19px;
	overflow:visible;
}
.error_bullets {
	padding: 0 0 0 18px;
	font-weight:bold;
	list-style-image:url(../images/error_bullet.png);
	font-size: 13px;
	margin: 3px;
	color:#ee2930;
}
#AR .error_bullets {
	padding: 0 18px 0 0;
}
.yellow {
	color:#f6cd10;
}
/***********new classes***********/
.form_title {
	text-align:center;
	font-size: 15px;
	font-weight:bold;
	color:#fff;
	margin-right:63px;
	padding:7px 0 23px 0;
	width: 218px;
}
*+html .form_title {
	padding-bottom: 5px;
}
.secured {
	font-size:9px;
	color:#666;
	background: transparent url(../images/SAFETY.png) no-repeat left top;
	padding: 6px 0 0 20px;
	height: 20px;
}
#error_box {
	display:none;
	position:absolute;
	z-index:100;
	top:300px;
	background:url(../../images/form_full_alret_bk.jpg) no-repeat;
	width:250px;
	height:150px;
	overflow:hidden;
	color:#fff;
	text-align:center;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top:50px;
	height:50px;
	padding:0 10px;
	color:#FFF;
}
.error_button {
	background:url(../../images/form_full_alret_button.png) no-repeat;
	width:80px;
	height:48px;
	margin: 0 auto;
	margin-top:5px;
	cursor:pointer;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	width:100%;
	z-index:99;
}
.field {
	font-size: 15px;
	font-weight:bold;
	color:#a50b0b;
}
.yellow {
	color:#f6cd10;
}
.plus {
	float:left;
	text-align: right;
	width: 15px;
	margin-top: 7px;
	color:#000;
}
.subtitle_box {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: 
#093755;
	line-height: 38px;
	border-bottom: solid 2px #093755;
	margin-left: -20px;
	margin-bottom: 10px;
	padding: 0 0 0 20px;
	width: 380px;
}
.contenttext_box {
	color: 
white;
	font-size: 16px;
	line-height: 17px;
	width: 380px;
	padding-bottom: 5px;
	position: relative;
}
.contenttext_box h1 {
	font-weight: bold;
	padding: 0 0 5px 25px;
	margin: 0 0 0 -25px;
	font-size: 16px;
	background: 
transparent url(../images/quote_left.png) no-repeat left top;
}
.quoteRight {
	background: 
transparent url(../images/quote_right.png) no-repeat right top;
	float: left;
	width: 28px;
	height: 23px;
	position: absolute;
	margin-top: -25px;
}
#EN .quoteRight {
	margin-left: 140px;
}
#ES .quoteRight {
	margin-left: 160px;
}
#DE .quoteRight {
	margin-left: 200px;
}
#FR .quoteRight {
	margin-left: 250px;
}
#RU .quoteRight {
	margin-left: 150px;
}
#TR .quoteRight {
	margin-left: 110px;
}
#IT .quoteRight {
	margin-left: 140px;
}
#AR .quoteRight {
	margin-right: 260px;
	background: url("../images/quote_left.png") no-repeat scroll right top transparent;
	margin-top: -17px;
	float: right;
	direction: rtl;
}
