
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

	<ui:include src="/jsp/suggest.xhtml" />

	<c:set var="td" value="withdraw" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

    <t:saveState value="#{wireForm}" />
	<t:saveState value="#{wireForm.wire}" />

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

    <h:panelGroup>


    <h:form id="wireForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

     	    <h:panelGrid columns="1" border="0" width="100%">

			<h:panelGrid columns="1" border="0" width="100%">
			<h:outputText value="#{msgs['header.page.bankWithdraw']}" styleClass="text_red_12_bold"/>
			</h:panelGrid>

			<h:panelGroup rendered="#{withdrawForm.bonusError}" >
				<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages"/>
				<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages" escape="false"/>
				<a href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms.jsf#bonusL"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>&#160;
			</h:panelGroup>

	     	 <h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; !withdrawForm.bonusError}" >
    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
					<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
           	</h:panelGroup>

            <h:panelGrid columns="2">

                <h:outputLabel styleClass="text_gray_12_bold" for="bank" value="#{msgs['withdraw.bankName']}"/>
               	<h:panelGrid  columns="2">
	               	<h:selectOneMenu styleClass="input_text" id="bank" value="#{wireForm.wire.bankId}"  required="true">
	               			<f:selectItems value="#{applicationData.banksSI}" />
	               	</h:selectOneMenu>
	            	<t:message id="bankError" for="bank" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

                <h:outputLabel styleClass="text_gray_12_bold" for="branch" value="#{msgs['withdraw.branch']}"/>
                <h:panelGrid columns="2">
	                <h:inputText styleClass="input_text" dir="ltr" maxlength="3" size="3" id="branch" value="#{wireForm.wire.branch}" required="true">
	                	  	<f:validateLongRange/>
	                </h:inputText>
	                <t:message id="branchError" for="branch" styleClass="error"/>
            	</h:panelGrid>

                <h:outputLabel styleClass="text_gray_12_bold" for="accountNumber" value="#{msgs['withdraw.accountNumber']}"/>
                <h:panelGrid columns="2">
	                <h:inputText styleClass="input_text" dir="ltr" maxlength="15" size="15" id="accountNumber" value="#{wireForm.wire.accountNum}" required="true">
	                	  	<f:validateLongRange/>
	                </h:inputText>
	                <t:message id="accountNumberError" for="accountNumber" styleClass="error"/>
            	</h:panelGrid>

            	<h:outputLabel styleClass="text_gray_12_bold" for="amount" value="#{msgs['withdraw.amount']}"/>
            	<h:panelGrid columns="3">
	                <h:inputText styleClass="input_text" dir="ltr" size="17" maxlength="9" id="amount" value="#{wireForm.wire.amount}" required="true">
	 					<f:validateDoubleRange />
	                </h:inputText>
	                 <h:outputText value="#{msgs['currency.ils']}"/>
	                <t:message id="amountError" for="amount" styleClass="error"/>
	            </h:panelGrid>

	            <h:outputLabel/>
	            <h:panelGrid columns="3">
		            <t:commandButton
				         		id="button_wire"
				         		image="/images/submit.gif"
				         		onmouseover="Changepic('wireForm:button_wire','#{facesContext.externalContext.requestContextPath}/images/submit_o.gif')"
				         		onmouseout="Changepic('wireForm:button_wire','#{facesContext.externalContext.requestContextPath}/images/submit.gif')"
				         		onclick="gowait('wireForm:button_wire','wireForm:hiddenWire','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
				         				 return myfaces.oam.submitForm('wireForm','wireForm:hiddenWire');" >
				    </t:commandButton>
				    <h:outputText/>
				    <h:outputText/>
				</h:panelGrid>

			 </h:panelGrid>

              <h:commandLink action="#{wireForm.insert}"
			         		id="hiddenWire" style="display:none"/>

			<h:panelGrid columns="1" border="0" width="100%">
        	 <h:outputText value="#{msgs['header.more']}" styleClass="text_red_12_bold"/>

			 <h:outputLink rendered="#{withdrawForm.ccWithdrawalEnabled}" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/creditCard_withdraw.jsf"
							 target="_top" styleClass="rightnav_item" >
						<h:outputText value="#{msgs['header.page.credit.withdraw']}"/>
			</h:outputLink>

        	 <h:outputLink rendered="#{!user.stopReverseWithdrawOption}" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
									target="_top" styleClass="rightnav_item" >
						<h:outputText value="#{msgs['header.reversewithdraw']}"/>
			</h:outputLink>

			<ui:include src="/jsp/he/withdraw.xhtml"/>

			</h:panelGrid>

	     	</h:panelGrid>


        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>
</html>

