
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['bonus.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>

<ui:define name="content">

	<c:set var="td" value="bonus" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

	<t:saveState value="#{userBonusForm}" />

    <h:panelGroup >

        <h:form id="userBonusForm">

            <h:panelGrid style="text-align:center" columns="1" width="100%">

   	            <h:outputText styleClass="text_gray_12_bold" value="#{msgs['bonus.approveCancel.question']}"/>

				<h:panelGrid columns="2" style="text-align:center" width="25%">

					<h:commandLink styleClass="link_gray_12_bold" action="#{userBonusForm.approveCancel}">
	                	<h:outputText value="#{msgs['yes']}"/>
	                	<f:setPropertyActionListener target="#{userBonusForm.bonusUser}" value="#{bonusUsers}" />
	     	        </h:commandLink>
	     	        <h:commandLink styleClass="link_gray_12_bold" action="#{userBonusForm.notApproveCancel}">
	                	<h:outputText value="#{msgs['no']}"/>
	     	        </h:commandLink>
     	        </h:panelGrid>

            </h:panelGrid>

            </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>
