
<html dir="rtl"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['etrader.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
</ui:define>

<ui:define name="content">
	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />
    

	    <table border="0" cellpadding="0" cellspacing="0" width="735px" height="366px" align="center">
	    	<tr align="center" valign="top">
	    		<td height="147" valign="top">
					<img src="#{facesContext.externalContext.requestContextPath}/images/calcalistWellcome.jpg" width="379" height="147" border="0"/>
	    		</td>
	    	</tr>
	    	<tr align="center"><td height="10px">&#160;</td></tr>
	    	<tr align="center" height="120px" style="display:none;" id="gameStartedS">
	    		<td valign="top">
		    		<table cellpadding="0" cellspacing="0" height="120px" align="center">
				    	<tr valign="top">
				    		<td>
				    			<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf" TARGET="_top">
									<img src="#{facesContext.externalContext.requestContextPath}/images/calcalistStart.jpg" width="134" height="20" border="0"/>
								</A>
				    		</td>
				    	</tr>
					</table>
	    		</td>
	    	</tr>
			<tr align="center" height="130px" id="gameNotStartedS">
				<td>
					<ui:include src="/jsp/calcgameClock.xhtml" />
				</td>
			</tr>
	    	<tr align="center" valign="bottom">
	    		<td style="font-size:10px;">
					<a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/calcalist_game_agreement.jsf#awards"><h:outputText value="#{msgs['footer.game.awards']}"/></a> | <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}/jsp/calcalist_game_agreement.jsf"><h:outputText value="#{msgs['footer.game.terms']}"/></a>
	    		</td>
	    	</tr>
	    </table>

</ui:define>
</ui:composition>

</html>


