<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
     >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.calcalist.convertMoney']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">
	<c:set var="td" value="convertMoney" />
	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

	

<table width="450" border="0" dir="rtl" align="right" class="cal_convertMoney_txt">
  <tr>
    <td>
<strong>המרת כסף משחק לכסף
</strong><br/>
שים לב שבנוסף לפרסים למשקיעים המובילים בדירוג החודשי והשבועי, אם תסיים את המשחק ברווח (כלומר, במאזנך יהיו בסיום המשחק יותר מ-100,000 שקל וירטואליים), תוכל להמיר בסיום תקופת המשחק כל 100 שקל שתצבור מעל 100,000 שקל ל-1 שקל למסחר ב-etrader (עד 1,000 שקל למשתתף).
דוגמה: משתתף עם 110,000 שקל יוכל להמיר את 10,000 השקל שהרוויח ל-100 שקל למסחר ב-etrader.
<br/><br/>
 <strong>המרת כסף משחק לכסף לא תפגע ביתרתך לצורך דירוג המשקיעים. </strong><br/><br/>
ההמרה לכסף אמיתי תתבצע באופן אוטומטי לחשבון שייפתח עבורך ב-etrader ויתרתך שם תעודכן אוטומטית בסכום לו אתה זכאי בהתאם ליתרתך במשחק ההשקעות עם סיום המשחק.
<br/><br/>
לשימוש בכסף להשקעות שעומד לזכותך בסיום משחק ההשקעות, היכנס  ל- www.etrader.co.il הכנס את שם המשתמש והסיסמה איתם נרשמת למשחק – ותתחיל להשקיע. <br/><br/>
<strong>בהצלחה! </strong></td>
  </tr>
</table>


</ui:define>
</ui:composition>
</html>

