
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['cards.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>

<ui:define name="content">

	<c:set var="td" value="cards" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

	<t:saveState value="#{cardsForm}" />

    <h:panelGroup >

        <h:form id="cardsForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid columns="1" width="100%">

   	            <h:outputText styleClass="text_gray_12_bold" value="#{msgs['ccdelete.approve.question']} #{user.deleted4digitCard}?"/>

				<h:panelGrid columns="2" style="text-align:center" width="50%">

					<h:commandLink styleClass="link_gray_12_bold" action="#{cardsForm.approvedDelete}">
	                	<h:outputText value="#{msgs['ccdelete.approve.yes']}"/>
	     	        </h:commandLink>

	     	        <h:commandLink styleClass="link_gray_12_bold" action="#{cardsForm.notApprovedDelete}">
	                	<h:outputText value="#{msgs['ccdelete.approve.no']}"/>
	     	        </h:commandLink>
     	        </h:panelGrid>


            </h:panelGrid>

            </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>
