
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

	<script>

		function changeCard() {
	    var cardId = document.getElementById("withdrawForm:ccNum").value;
	    if (cardId != 0) {
		    var url = "ajax.jsf?cardId=" + cardId;
		    var ajax = new AJAXInteraction(url, changeCardCallback);
		    ajax.doGet();
		}
	}

	/*
	   callBack function for changeCard()
	*/
	function changeCardCallback(responseXML) {
	   var mdiv = document.getElementById("withdrawForm:creditDiv");
	   var msg = responseXML.getElementsByTagName("creditMsg")[0];
	   if ( msg.firstChild != null ) {
		   msg = msg.firstChild.nodeValue;
	   	   mdiv.innerHTML = msg;
	   } else {
	   		mdiv.innerHTML = "";
	   }
	   var errorMsg = document.getElementById("withdrawForm:cardIdError")
	   if (errorMsg != null) {
		     errorMsg.innerHTML = '';;
	   }
	}

	</script>

	<c:set var="td" value="withdraw" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

    <t:saveState value="#{withdrawForm}" />

    <h:panelGroup>

	<h:panelGroup rendered="#{!commonUtil.hasErrorMessages}" >
    	<span style="display:none;">#{withdrawForm.initWithdrawForm}</span>
    </h:panelGroup>

        <h:form id="withdrawForm">

	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

     	    <h:panelGrid columns="1" border="0" width="100%">

			<h:panelGrid columns="1" border="0" width="100%">
			<h:outputText value="#{msgs['header.page.credit.withdraw']}" styleClass="text_red_12_bold"/>
			</h:panelGrid>

			<h:panelGroup rendered="#{withdrawForm.bonusError}" >
				<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages"/>
				<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages" escape="false"/>
				<a href="#{facesContext.externalContext.requestContextPath}/jsp/general_terms.jsf#bonusL"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>&#160;
			</h:panelGroup>

	     	 <h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; !withdrawForm.bonusError}" >
    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
					<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
           	</h:panelGroup>

            <h:panelGrid columns="2" border="0">

			<h:outputLabel styleClass="text_gray_12_bold" for="ccNum" value="#{msgs['deposit.select']}"/>
               	<h:panelGrid columns="3" border="0">
	               	<h:selectOneMenu styleClass="input_text" id="ccNum" value="#{withdrawForm.cardId}"  required="true" onchange="changeCard();">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{withdrawForm.ccList}" />
	               	</h:selectOneMenu>
	               	<h:outputLabel styleClass="text_gray_12" id="creditDiv" value="&#160;" />
	            	<t:message id="cardIdError" for="ccNum" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

            	<h:outputLabel id="amountlabelid" styleClass="text_gray_12_bold" for="amount" value="#{msgs['withdraw.amount']}"/>
            	<h:panelGrid columns="3" border="0">
	                <h:inputText styleClass="input_text" dir="ltr" size="5" maxlength="9" id="amount" value="#{withdrawForm.amount}" required="true">
	 					<f:validateDoubleRange />
	                </h:inputText>
	                 <h:outputText value="#{msgs['currency.ils']}"/>

	                  <h:panelGrid columns="1" border="0">
		                <t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
		                <t:message id="amountError2" for="amountlabelid" replaceIdWithLabel="true" styleClass="error"/>
		            </h:panelGrid>

	            </h:panelGrid>
             </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="3" border="0" width="242px" >
	            <SPAN CLASS="text_white_12">|</SPAN>

    	    		<t:commandButton
		         		id="btnImage"
		         		image="/images/submit.gif"
		         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_o.gif')"
		         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit.gif')"
		         		onclick="gowait('withdrawForm:btnImage','withdrawForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         		         return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenbtn');" >
		         	</t:commandButton>
    	    	    <h:commandLink action="#{withdrawForm.insertCreditCardWithdraw}"
		         		id="hiddenbtn" style="display:none"/>

        	 </h:panelGrid>

			<h:panelGrid columns="1" border="0" width="100%">
        	 <h:outputText value="#{msgs['header.more']}" styleClass="text_red_12_bold"/>

        	 <h:outputLink rendered="#{!user.stopReverseWithdrawOption}" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
									target="_top" styleClass="rightnav_item" >
						<h:outputText value="#{msgs['header.reversewithdraw']}"/>
			</h:outputLink>

        	<ui:include src="/jsp/he/creditCard_withdraw.xhtml"/>

			</h:panelGrid>

	     	</h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>
</html>

