
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['newCard.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="head"><script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script></ui:define>

<ui:define name="content">

<ui:include src="/jsp/pages/hintCvv.xhtml" />

	<c:set var="td" value="deposit" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

    <h:panelGroup>

        <h:form id="newCardForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

			<h:panelGrid columns="1" width="100%">
			<h:panelGrid columns="1" width="100%">
	          <h:outputText value="#{msgs['header.firstnewcard']}" styleClass="text_red_12_bold"/>
         	</h:panelGrid></h:panelGrid>

		  <ui:include src="/jsp/pages/newCardContent.xhtml"/>

			<h:panelGrid columns="1" width="100%">
		    <h:panelGrid columns="1" width="100%">

	         	<h:outputText value="#{msgs['header.more']}" styleClass="text_red_12_bold"/>

	     	 	<h:outputLink rendered="#{newCardForm.checkCreditCard}"
	     	 				  immediate="true" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
											target="_top" styleClass="link_gray_12_bold" >
				<h:outputText value="#{msgs['deposit.select.card']}"/>
				</h:outputLink>

	         	 <h:outputLink rendered="#{newCardForm.checkCreditCard}"
	         	 				value="#{facesContext.externalContext.requestContextPath}/jsp/pages/cards.jsf"
								target="_top" styleClass="link_gray_12_bold" >
						<h:outputText value="#{msgs['header.cards']}"/>
				</h:outputLink>

				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf"
									target="_top" styleClass="link_gray_12_bold" >
						<h:outputText value="#{msgs['header.wire']}"/>
				</h:outputLink>

       		    <h:outputLink rendered="#{newCardForm.checkCreditCard &amp;&amp; !user.stopReverseWithdrawOption}"
       		    			value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
							target="_top" styleClass="link_gray_12_bold" >
						<h:outputText value="#{msgs['header.reversewithdraw']}"/>
				</h:outputLink>

			</h:panelGrid>
			</h:panelGrid>

        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>
</html>
