
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['etrader.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
</ui:define>
<ui:define name="content">

<c:if test="${applicationData.isLive}">
	<h:outputText value="#{user.setFirstTimeRegister}" />
	<h:outputText value="#{user.registrationPixel}" escape="false" />
</c:if>

<script>

if (window.top.location.href.indexOf("firstNewCard.jsf")==-1) {
		window.top.location.href = '#{facesContext.externalContext.requestContextPath}/jsp/pages/firstNewCard.jsf';
}

	function openMyPopup(){
	window.open('#{facesContext.externalContext.requestContextPath}/jsp/he/termsBonusReg.jsf','termsBonus','height=700,width=480,resizable=0,menubar=0,toolbar=0,location=0,directories=0,scrollbars=0,status=0');
	}

</script>

	<ui:include src="/jsp/pages/hintCvv.xhtml" />

	<c:set var="td" value="deposit" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

    <h:panelGroup >

        <h:form id="newCardForm">

       	        <h:inputHidden value="#{visit.generate}" />
		        <h:inputHidden value="#{visit.saveToken}" />

    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">

         			 <h:panelGrid columns="1" width="80%" border="0" cellspacing="3" cellpadding="0">
        			 <h:outputText styleClass="text_gray_12" value="#{msgs['creditcards.deposit.msg1']}"/>
					 </h:panelGrid>

				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>

		<h:panelGrid columns="1" width="100%"><h:panelGrid columns="1" width="100%">
	      <h:outputText value="#{msgs['header.firstnewcard']}" styleClass="text_red_12_bold"/>
	      </h:panelGrid></h:panelGrid>

		<h:panelGroup rendered="#{!user.haveRegistrationBonus}">
			<ui:include src="/jsp/pages/newCardContent.xhtml"/>
		</h:panelGroup>

		<!-- h:panelGroup rendered="#{user.haveRegistrationBonus}">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr width="100%">
					<td width="375px">
						<ui:include src="/jsp/pages/newCardContent.xhtml"/>
					</td>
					<td align="right" valign="middle" width="*">
						<img border="0" width="284px" height="214px" src="#{facesContext.externalContext.requestContextPath}/images/offer_top.gif"/><br/><img border="0" width="284px" height="71px" src="#{facesContext.externalContext.requestContextPath}/images/offer_bottom.gif" style="cursor:pointer" onclick="openMyPopup();"/>
					</td>
				</tr>
			 </table>
			 #{user.unSetHaveRegistrationBonus}
		</h:panelGroup-->

		  <h:panelGrid columns="1" width="100%">
		  <h:panelGrid columns="1" width="100%">

	         	<h:outputText value="#{msgs['header.more']}" styleClass="text_red_12_bold"/>

	         	 <h:outputLink rendered="#{newCardForm.checkCreditCard}"
	         	 				value="#{facesContext.externalContext.requestContextPath}/jsp/pages/cards.jsf"
								target="_top" styleClass="link_gray_12_bold" >
						<h:outputText value="#{msgs['header.cards']}"/>
				</h:outputLink>

				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf"
									target="_top" styleClass="link_gray_12_bold" >
						<h:outputText value="#{msgs['header.wire']}"/>
				</h:outputLink>

       		    <h:outputLink rendered="#{newCardForm.checkCreditCard &amp;&amp; !user.stopReverseWithdrawOption}"
       		    					value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
									target="_top" styleClass="link_gray_12_bold" >
						<h:outputText value="#{msgs['header.reversewithdraw']}"/>
				</h:outputLink>

		  </h:panelGrid>
  		  </h:panelGrid>
  		<h:panelGroup rendered="#{applicationData.isLive}">
		<!-- Google Code for firstNewCard Conversion Etrader Account Page -->
           <script type="text/javascript">
             /* <![CDATA[ */
             var google_conversion_id = 1066037194;
             var google_conversion_language = "en";
             var google_conversion_format = "3";
             var google_conversion_color = "ffffff";
             var google_conversion_label = "LyXTCJb_1gIQyt-p_AM";
             var google_conversion_value = 0;
             /* ]]> */
            </script>
           <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
           </script>
           <noscript>
           <div style="display:inline;">
           <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1066037194/?value=0&amp;label=LyXTCJb_1gIQyt-p_AM&amp;guid=ON&amp;script=0"/>
           </div>
           </noscript>
		 

			
			<c:if test="${applicationData.firstTimePixel}">
				<!-- Tag for Activity Group: Remarketing, Activity Name: Full_Reg_IL, Activity ID: 1047918 -->
				<!-- Expected URL: http://www.etrader.co.il/jsp/index.jsf -->
				
				<!--Activity ID: 1047918-->
				<!--Activity Name: Full_Reg_IL-->
				<!--Activity Group Name: Remarketing-->
				
				<!--
				Start of DoubleClick Floodlight Tag: Please do not remove
				Activity name of this tag: Full_Reg_IL
				URL of the webpage where the tag is expected to be placed: http://www.etrader.co.il/jsp/index.jsf
				This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
				Creation Date: 08/27/2012
				-->
				<script type="text/javascript">
				var axel = Math.random() + "";
				var a = axel * 10000000000000;
				document.write(unescape("%3Ciframe src='https://fls.doubleclick.net/activityi;src=3165381;type=remar871;cat=full_529;u2=" + #{user.id} + ";ord=" + a + "?' width='1' height='1' frameborder='0' style='display:none' %3E%3C/iframe%3E"));
				</script>
				<noscript>
				<iframe src="https://fls.doubleclick.net/activityi;src=3165381;type=remar871;cat=full_529;u2=[Registration ID];ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
				</noscript>
				
				<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
			</c:if>

	    </h:panelGroup>	

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>


