
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['etrader.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />


    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">

				<h:panelGrid align="center" columns="1" border="0" width="80%">
    	   			<br/>
					<t:outputText styleClass="info_messages" value="#{msgs['deposit.withdraw.not.available']}"/>
    	   			<br/>

    	   		</h:panelGrid>
				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>


</ui:define>
</ui:composition>

</html>
