
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['personal.jsf.title']}" rendered="#{!applicationData.calcalistGame}"/>
<h:outputText value="#{msgs['window.title.calcalist.personal']}" rendered="#{applicationData.calcalistGame}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

    <ui:include src="/jsp/suggest.xhtml" />

	<c:set var="td" value="personal" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

    <h:panelGroup >

			<h:panelGroup rendered="#{commonUtil.hasMessages}" >
    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
					<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
             </h:panelGroup>

        <h:form id="personalForm">

            <h:panelGrid columns="1" width="100%" rendered="#{registerForm.validatePass}">

            <h:panelGrid columns="2">

               <h:outputText styleClass="text_gray_12_bold"  value="#{msgs['register.username']}"/>
               <h:panelGroup rendered="#{!applicationData.calcalistGame}">
	               <h:outputText styleClass="text_gray_12" value="#{user.userName}"/>
	           </h:panelGroup>
               <h:panelGroup rendered="#{applicationData.calcalistGame}">
	               <h:outputText styleClass="text_gray_12" value="#{user.userNameCalGame}"/>
               </h:panelGroup>

                <h:outputText styleClass="text_gray_12_bold" value="#{msgs['register.firstname']}"/>
                <h:outputText styleClass="text_gray_12" value="#{user.firstName}"/>

                <h:outputText styleClass="text_gray_12_bold" value="#{msgs['register.lastname']}"/>
                <h:outputText styleClass="text_gray_12" value="#{user.lastName}"/>

                <h:outputLabel styleClass="text_gray_12_bold" for="street" value="#{msgs['register.street']}"/>
                <h:panelGrid columns="2">
	                <h:inputText styleClass="input_text" size="24" maxlength="20" id="street" value="#{user.street}" required="true"
		                validator="#{commonUtil.validateStreet}" >
	                </h:inputText>
	                <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

                <t:outputLabel styleClass="text_gray_12_bold" for="streetno" value="#{msgs['register.streetno']}"/>
                <h:panelGrid columns="2">
	                <t:inputText dir="ltr" size="5" maxlength="6" styleClass="input_text" id="streetno" value="#{user.streetNo}" required="true"
		                 validator="#{commonUtil.validateStreetNo}" >
		                 <f:validateLength maximum='6'/>
	                </t:inputText>
	                <t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

                <h:outputLabel styleClass="text_gray_12_bold" for="cityId" value="#{msgs['register.city']}"/>
                <h:panelGrid columns="2">

                     <t:inputText size="24" maxlength="24" autocomplete="off" styleClass="input_text"
                     	 id="cityId" name="cityId" value="#{user.cityName}" required="true" />

	               <t:message id="cityIdError" for="cityId" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

               <h:outputLabel styleClass="text_gray_12_bold" for="zipCode" value="#{msgs['register.postcode']}"/>
               <h:panelGrid columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" maxlength="5" size="6" id="zipCode" value="#{user.zipCode}" >
	                	  	<f:validateLongRange/>
	                </h:inputText>
	                <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error"/>
               </h:panelGrid>

 				<h:outputLabel styleClass="text_gray_12_bold" for="email" value="#{msgs['register.email']}"/>
 				<h:panelGrid columns="2">
 					<t:outputText styleClass="input_text" value="#{user.email}" rendered="#{!user.canEditEmail}"/>
	                <h:inputText dir="ltr" size="24" maxlength="50" styleClass="input_text" id="email" value="#{user.email}" rendered="#{user.canEditEmail}" required="true" validator="#{commonUtil.validateEmailFromUnix}">
	                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
	                </h:inputText>
	                <t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

                <h:outputText styleClass="text_gray_12_bold" value="#{msgs['register.birthdate']}"/>
                <h:outputText styleClass="text_gray_12" escape="false" value="#{user.timeBirthDateTxt}"/>

               	<h:outputLabel styleClass="text_gray_12_bold" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
               	<h:panelGrid columns="3">
               	   	<h:inputText styleClass="input_text_register" size="13" maxlength="7" dir="ltr" id="mobilePhone" value="#{user.mobilePhoneSuffix}" required="true">
                	  	<f:validateLongRange/>
  	                	<f:validateLength minimum='7' maximum='7'/>
                	</h:inputText>
                	<h:selectOneMenu styleClass="input_text_register" id="mobilePhonePref" value="#{user.mobilePhonePrefix}" required="true">
	               		<f:selectItem  itemLabel="" itemValue="" />
                		<f:selectItems value="#{applicationData.mobilePref}" />
                	</h:selectOneMenu>
					<h:panelGrid columns="2">
		                <t:message id="mobilePhoneError" for="mobilePhone" replaceIdWithLabel="true" styleClass="error"/>
	   	                <t:message id="mobilePhonePrefError" for="mobilePhonePref" detailFormat="#{msgs['error.register.prefix']}" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
               	</h:panelGrid>


               	<h:outputLabel styleClass="text_gray_12_bold" for="landLinePhone" value="#{msgs['register.phone']}"/>
  				<h:panelGrid columns="3">
               	   	<h:inputText styleClass="input_text_register" size="13" maxlength="7" dir="ltr" id="landLinePhone" value="#{user.landLinePhoneSuffix}" >
                	  	<f:validateLongRange/>
 	                	<f:validateLength minimum='7' maximum='7'/>
                	</h:inputText>
                	<h:selectOneMenu styleClass="input_text_register" id="landLinePhonePref" value="#{user.landLinePhonePrefix}" >
                		<f:selectItem  itemLabel="" itemValue="" />
                		<f:selectItems value="#{applicationData.phonePref}" />
                	</h:selectOneMenu>
                	 <h:panelGrid columns="2">
		                <t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error"/>
		                <t:message id="landLinePhonePrefError" for="landLinePhonePref" replaceIdWithLabel="true" styleClass="error"/>
		             </h:panelGrid>
               </h:panelGrid>

                <h:outputText styleClass="text_gray_12_bold" value="#{msgs['register.gender']}"/>
                <h:outputText styleClass="text_gray_12" value="#{msgs[user.genderTxt]}"/>

                <h:outputText styleClass="text_gray_12_bold" value="#{msgs['register.idnum']}"/>
                <h:outputText styleClass="text_gray_12" value="#{user.idNum}"/>

	            <h:selectBooleanCheckbox id="contactByEmail" value="#{registerForm.contactByEmailNot}" required="true">
	            </h:selectBooleanCheckbox>
	            <h:panelGrid columns="2" border="0">
	                <h:outputLabel styleClass="text_gray_12_bold" for="contactByEmail" value="#{msgs['register.contactbyemail.not']}"/>
	                <t:message id="contactByEmailError" for="contactByEmail" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

	            <h:selectBooleanCheckbox id="contactBySms" value="#{registerForm.contactBySmsNot}" required="true">
	            </h:selectBooleanCheckbox>
	            <h:panelGrid columns="2" border="0">
	                <h:outputLabel styleClass="text_gray_12_bold" for="contactBySms" value="#{msgs['register.contactbysms.not']}"/>
	                <t:message id="contactBySmsError" for="contactBySms" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

            </h:panelGrid>

         	<h:panelGrid>

    		    <h:commandLink action="#{registerForm.updateUserDetails}"
	         		id="hiddenbtn1" style="display:none" />

		     </h:panelGrid>

			<SCRIPT language="JavaScript">
    			citiesObj = new actb(document.getElementById('personalForm:cityId'),citiesArr);
	    	</SCRIPT>

 	     </h:panelGrid>

		<h:panelGrid columns="1" width="100%" rendered="#{!registerForm.validatePass}">

          	 <h:panelGrid columns="4">
	               <h:outputLabel styleClass="text_gray_12_bold" for="password" value="#{msgs['personal.password']}"/>
	               <h:panelGrid width="15px" />
	               <h:inputSecret styleClass="input_text" id="password" required="true" validator="#{registerForm.validatePass}"></h:inputSecret>
		           <t:message id="passwordError" for="password" styleClass="error"/>
	          </h:panelGrid>

	          <h:panelGrid>
		       	<h:commandLink  action="personal"
		       		id="hiddenbtn2" style="display:none"/>
		       </h:panelGrid>

		       <script>
 				 	document.getElementById('personalForm:password').focus();
				</script>

 	     </h:panelGrid>

		 <h:panelGrid style="text-align:left" columns="1" border="0" width="226px" rendered="#{registerForm.validatePass}">
        	<t:commandButton
		       id="button1"
		       image="/images/continue.gif"
		       onmouseover="Changepic('personalForm:button1','#{facesContext.externalContext.requestContextPath}/images/continue_o.gif')"
		       onmouseout="Changepic('personalForm:button1','#{facesContext.externalContext.requestContextPath}/images/continue.gif')"
		       onclick="gowait('personalForm:button1','personalForm:hiddenbtn1','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         	 return myfaces.oam.submitForm('personalForm','personalForm:hiddenbtn1');" >
		       </t:commandButton>
		  </h:panelGrid>

		 <h:panelGrid style="text-align:left" columns="1" border="0" width="226px" rendered="#{!registerForm.validatePass}">
        	<t:commandButton
		       id="button2"
		       image="/images/continue.gif"
		       onmouseover="Changepic('personalForm:button2','#{facesContext.externalContext.requestContextPath}/images/continue_o.gif')"
		       onmouseout="Changepic('personalForm:button2','#{facesContext.externalContext.requestContextPath}/images/continue.gif')"
		       onclick="gowait('personalForm:button2','personalForm:hiddenbtn2','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         	 return myfaces.oam.submitForm('personalForm','personalForm:hiddenbtn2');" >
		       </t:commandButton>
		  </h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>

