
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['balance.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>

<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>

	<script>
		//  allow tab key
		function allowJustTab(e) {

			var keynum;

			if(window.event) { // IE
			  keynum = e.keyCode;
	  		}
	  		else if(e.which) {  // Netscape/Firefox/Opera
			  keynum = e.which;
		    }

			if (keynum != 9) {  // tab key
				return false;
		  	}
		}

		/*
			get amount by points
		*/
		function calAmountByPoints() {
		    var points = document.getElementById("pointsToCashForm:points").value;
		    if (points > 0) {
			    var url = "ajax.jsf?pointsToConvert=" + points;
			    var ajax = new AJAXInteraction(url, calAmountByPointsCallback);
			    ajax.doGet();
			}
		}

		/*
			callBack function for get amount by points
		*/
		function calAmountByPointsCallback(responseXML) {
			var amountVal = responseXML.getElementsByTagName("convertedAmount")[0].firstChild.nodeValue;
			var amountElm = document.getElementById("pointsToCashForm:amountPoints");
			amountElm.innerHTML = amountVal;
			//amountElm.value = amountVal;
		}

	</script>

	<c:set var="td" value="pointsBalance" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

	<t:inputHidden id="loadTierId" value="#{user.loadTierInfo}"/>

    <h:panelGroup >

        <h:form id="pointsToCashForm">

   	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid columns="1" height="100%" width="100%">

				<h:panelGroup rendered="#{user.inTier}" >

					<table align="right" width="485" border="0" cellpadding="0" cellspacing="0" >
						<tr>
							<td>
								<table align="right" width="485" border="0" cellpadding="0" cellspacing="0" class="points_balance_table">
									<tr height="25px" class="points_balance_header">
										<td class="points_balance_header" width="485" height="25px" colspan="2">
											<h:outputText styleClass="points_balance_header" style="margin-left: 10px;" value="#{msgs['tier.points.info']}"/>
										</td>
									</tr>
									<tr height="90px">
										<td width="150" align="center" valign="top" >
											<t:graphicImage style="vertical-align: middle; margin-top: 5px" value="/images/tier_#{user.tierUser.tierId}.jpg" border="0"/>
										</td>
										<td width="335" valign="top">
											<table border="0" cellpadding="0" cellspacing="0" width="335" >
												<tr>
													<td width="200" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12_bold" style="margin-left: 5px;" value="#{msgs['tier.points.info.user.name']}"/>
													</td>
													<td width="100" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12" value="#{user.firstName} #{user.lastName}" />
													</td>
													<td width="35">&#160;</td>
												</tr>
												<tr>
													<td width="200" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12_bold" style="margin-left: 5px;" value="#{msgs['tier.points.info.tier.name']}"/>
													</td>
													<td width="100" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12" value="#{msgs[user.tierUser.tierName]}" />
													</td>
													<td width="35">&#160;</td>
												</tr>
												<tr>
													<td width="200" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12_bold" style="margin-left: 5px;" value="#{msgs['tier.points.info.tier.points.accumulate']}"/>
													</td>
													<td width="100" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12" value="#{user.accumulatedPoints}"  />
													</td>
													<td width="35">&#160;</td>
												</tr>
												<tr>
													<td width="200" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12_bold" style="margin-left: 5px;" value="#{msgs['tier.points.info.tier.points']}"/>
													</td>
													<td width="100" style="border-bottom:1px dotted black;">
														<h:outputText styleClass="points_text_gray_12" value="#{user.tierUser.points}"  />
													</td>
													<td width="35">&#160;</td>
												</tr>
												<h:panelGroup rendered="#{user.tierUser.tierId > 1}" >
													<tr>
														<td width="200" style="border-bottom:1px dotted black;">
															<h:outputText styleClass="points_text_gray_12_bold" style="margin-left: 5px;" value="#{msgs['tier.points.info.tier.maintenance']}"/>
														</td>
														<td width="100" style="border-bottom:1px dotted black;">
															<h:outputText styleClass="points_text_gray_12" value="#{user.maintenancePointsTxt}" /><br/>
														</td>
														<td width="35">&#160;</td>
													</tr>
												</h:panelGroup>
												<h:panelGroup rendered="#{!user.higherLvlTier}" >
													<tr>
														<td width="200" style="border-bottom:1px dotted black;">
															<h:outputText styleClass="points_text_gray_12_bold" value="#{user.tierUpgrateMsg}"/>
														</td>
														<td width="100" style="border-bottom:1px dotted black;">
															<h:outputText styleClass="points_text_gray_12" value="#{user.pointsToNextLevelTxt}" /><br/>
														</td>
														<td width="35">&#160;</td>
													</tr>
												</h:panelGroup>
												<tr height="2px">
													<td colspan="3">&#160;</td>
												</tr>
												<tr>
													<td width="300" colspan="2">
														<h:outputText styleClass="points_info_tier_#{user.tierUser.tierId}" value="#{user.daysMsg}"/>
													</td>
													<td width="35">&#160;</td>
												</tr>
												<tr height="5px">
													<td colspan="3">&#160;</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="485" height="25px">
								&#160;
							</td>
						</tr>
						<tr>
							<td>
								<table align="right" width="485" border="0" cellpadding="0" cellspacing="0" class="points_balance_table">
									<tr height="25px" class="points_convert_header">
										<td class="points_convert_header" width="485" height="25px" colspan="3">
											<h:outputText styleClass="points_convert_header" style="margin-left: 5px;" value="#{msgs['points.to.cash.action.header']}"/>
										</td>
									</tr>
									<tr height="80px">
										<td width="5px" height="80px">&#160;</td>
										<td class="points_convert_table" height="80px">
											<table width="475" border="0" cellpadding="0" cellspacing="0">
												<tr height="15px"><td width="475" colspan="5"></td></tr>
												<tr height="25px">
													<td width="100px">&#160;</td>
													<td width="100px">
														<h:outputLabel id="pointsLable" styleClass="points_text_gray_12" for="points" value="#{msgs['tier.points.info.points.convert.points']}"/>
													</td>
													<td width="80px">
										                <h:inputText dir="ltr" styleClass="input_text" size="7" id="points" value="#{depositForm.depositPoints}" required="true" onkeyup="allowJustNumbers(this, event); return false;">
										 					<f:validateDoubleRange />
										                </h:inputText>
													</td>
													<td width="195" colspan="2">
														<t:message id="pointsError" for="points" replaceIdWithLabel="true" styleClass="error"/>
													</td>
												</tr>
												<tr height="25px">
													<td width="100px">&#160;</td>
													<td width="100px">
								        	        	<h:outputText styleClass="points_text_gray_12" value="#{msgs['tier.points.info.points.convert.amount']}" />
													</td>
													<td width="80px">
										                <h:outputText styleClass="points_text_gray_12" id="amountPoints" value=""  />
										            </td>
													<td width="60">
														<h:outputText  value="&#160;"/>
														<t:commandButton
											         		id="calImage"
											         		image="/images/cal_u.gif"
											         		onmouseover="Changepic('pointsToCashForm:calImage','#{facesContext.externalContext.requestContextPath}/images/cal_d.gif')"
											         		onmouseout="Changepic('pointsToCashForm:calImage','#{facesContext.externalContext.requestContextPath}/images/cal_u.gif')"
											         		onclick="calAmountByPoints();return false;" >
											         	</t:commandButton>
													</td>
													<td width="145" align="right">
														<t:commandButton
											         		id="btnImage"
											         		image="/images/confirm_u.gif"
											         		onmouseover="Changepic('pointsToCashForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/confirm_d.gif')"
											         		onmouseout="Changepic('pointsToCashForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/confirm_u.gif')"
											         		onclick="gowait('pointsToCashForm:btnImage','pointsToCashForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
											         				 return myfaces.oam.submitForm('pointsToCashForm','pointsToCashForm:hiddenDeposit');" >
											         	</t:commandButton>
											         	<h:commandLink action="#{depositForm.convertPointsToCashDeposit}"
											         		id="hiddenDeposit" style="display:none"/>
													</td>
												</tr>
												<tr height="15px">
													<td width="100px">&#160;</td>
													<td width="80px">&#160;</td>
													<td width="275px" colspan="3">
														<t:message id="amountPointsError" for="amountPoints" replaceIdWithLabel="true" styleClass="error"/>
													</td>
												</tr>
											</table>
										</td>
										<td width="5px" height="80px">&#160;</td>
									</tr>
									<tr height="7px">
										<td height="7px" colspan="4"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td height="5px"></td></tr>
						<tr>
							<td height="15px">
					        	<h:panelGroup rendered="#{commonUtil.hasMessages}">
									<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="points_info_messages"/>
					            </h:panelGroup>
							</td>
						</tr>
						<tr>
							<td>
								<h:outputLabel id="messageForUpdate" styleClass="points_text_gray_11" value="#{msgs['tier.points.info.tier.update.message']}"/>
							</td>
						</tr>
						<tr><td height="3px"></td></tr>
						<tr>
							<td>
								<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/loyaltyClubsTerms.jsf"
										target="_top" styleClass="points_link" >
									<h:outputText value="#{msgs['tier.points.info.points.general.terms']}"/>
								</h:outputLink>
							</td>
						</tr>
					</table>
				</h:panelGroup>

				<h:panelGroup rendered="#{!user.inTier}" >

					<table align="right" border="0" cellpadding="0" cellspacing="0" >
						<tr height="152px">
							<td width="422px" height="152px" >
								<table width="422px" height="152px" border="0" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/invite.jpg">
									<tr><td colspan="3" height="50px"></td></tr>
									<tr height="20px">
										<td width="40px"></td>
										<td width="382px" align="right" colspan="2">
											<h:outputLabel styleClass="points_not_tier_header" value="#{msgs['tier.points.info.not.tier.msg1']}"/>
										</td>
									</tr>
									<tr height="20px">
										<td width="40px"></td>
										<td width="382px" align="right" colspan="2" dir="rtl">
											<h:outputLabel styleClass="points_not_tier_text" value="#{msgs['tier.points.info.not.tier.msg2']}"/>
										</td>
									</tr>
									<tr>
										<td width="40px"></td>
										<td align="left" width="340px">
											<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/loyaltyClubsTerms.jsf"
													target="_top" styleClass="points_link" >
												<h:outputText value="#{msgs['tier.points.info.not.tier.general.terms']}"/>
											</h:outputLink>
										</td>
										<td width="42px"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr><td height="20px"></td></tr>
						<tr >
							<td width="422px" height="106px">
								<table width="422px" height="106px" border="0" cellpadding="0" cellspacing="0" background="#{facesContext.externalContext.requestContextPath}/images/invite_off.jpg">
									<tr><td></td></tr>
								</table>
							</td>
						</tr>

					</table>
				</h:panelGroup>


           </h:panelGrid>

          </h:form>

    </h:panelGroup>

<h:panelGroup rendered="#{user.inTier}" >
	<script>
		calAmountByPoints();
	</script>
</h:panelGroup>


</ui:define>
</ui:composition>

</html>
