
<html dir="rtl"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<HEAD>
	<title>#{msgs['receiptprint.jsf.title']}</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</HEAD>
<BODY >



<table width="500" border="0" cellspacing="0" cellpadding="0"  align="center" class="receipt_border">
  <tr>
    <td><img src="#{facesContext.externalContext.requestContextPath}/images/receipt_head.gif"/></td>
  </tr>
  <tr>
    <td>
    	<table class="receipt_txt" width="455" border="0" cellspacing="5" cellpadding="0" align="center">

  <tr>
    <td align="left"></td>
    <td width="16">&#160;</td>
    <td></td>
  </tr>
  <tr>
    <td width="159" align="left"><strong><h:outputText value="#{msgs['receipt.number']}"/></strong></td>
    <td>&#160;</td>
    <td width="260"><h:outputText value="#{transaction.receiptNumTxt}"/></td>
  </tr>
  <tr>
    <td align="left"><strong><h:outputText value="#{msgs['receipt.name']}"/></strong></td>
    <td>&#160;</td>
    <td><h:outputText value="#{user.firstName} #{user.lastName}"/></td>
  </tr>
  <tr>
    <td align="left"><strong><h:outputText value="#{msgs['receipt.address']}"/></strong></td>
    <td>&#160;</td>
    <td><h:outputText value="#{user.street} #{user.streetNo} #{user.cityName} #{user.zipCode}"/></td>
  </tr>
  <tr>
    <td align="left"><strong><h:outputText value="#{msgs['receipt.time']}"/></strong></td>
    <td>&#160;</td>
    <td><h:outputText escape="false" value="#{transaction.timeCreatedTxt}"/></td>
  </tr>
  <tr>
    <td align="left"><strong><h:outputText value="#{msgs['receipt.amount']}"/></strong></td>
    <td>&#160;</td>
    <td><h:outputText value="#{transaction.amountTxt}"/></td>
  </tr>
  <tr>
    <td align="left" valign="top"><strong><h:outputText value="#{msgs['receipt.payedBy']}"/></strong></td>
    <td>&#160;</td>
    <td>
    	<h:outputText rendered="#{transaction.ccDeposit}" value="#{msgs['receipt.footer.creditcard']} #{transaction.cc4digit}"/>
    	<h:outputText rendered="#{transaction.wireDeposit}" value="#{transaction.wireDepositReceipt}"/>
    	<h:outputText rendered="#{transaction.cashDeposit}" value="#{msgs['receipt.footer.cash']}"/>
	</td>
  </tr>
  <tr>
    <td align="left"></td>
    <td>&#160;</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="3" align="center">
    	<a href="javascript:document.all('printmessage').innerText=''; window.print();" class="text_black_12_bold">
    		<span id="printmessage">הדפס</span>
    	</a>
    	</td>
  </tr>
</table>


    </td>
  </tr>
  <tr>
    <td bgcolor="#f1f1f1">&#160;</td>
  </tr>
</table>
</BODY>
</html>