<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['reverseWithdraw.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">
	<t:saveState value="#{reverseWithdrawForm}" />

	<c:set var="td" value="reversewithdraw" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />



    

	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

    <h:panelGroup >

		<h:form id="reverseWithdrawForm">

			<h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

			<h:panelGroup rendered="#{commonUtil.hasMessages}">
    	   		<t:div >
					<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div>
             </h:panelGroup>

  		   <h:panelGrid align="center" columns="1" width="100%" border="0" style="text-align:center;">

		   <h:outputText styleClass="text_gray_12_bold"
    			rendered="#{reverseWithdrawForm.listSize!=0}"
  		   		value="#{msgs['reversewithdraw.message']}"/>

	    <h:panelGroup rendered="#{!reverseWithdrawForm.afterReverse || reverseWithdrawForm.listSize>0}">

			<h:panelGroup rendered="#{!reverseWithdrawForm.afterReverse &amp;&amp; reverseWithdrawForm.listSize==0}">
				<t:div>
				  <h:panelGrid align="center" columns="1" border="0" >
		  		    <h:outputText styleClass="text_gray_12" value="#{msgs['reverseWithdraw.emptylist']}"/>
		  		  </h:panelGrid>
				</t:div>
   			</h:panelGroup>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
                var="v"
                value="#{reverseWithdrawForm.transactionsList}"
                preserveDataModel="false"
                rows="10"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
           >
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.id']}"/>
               </f:facet>
               <h:outputText value="#{v.id}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.date']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreatedTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.desc']}"/>
               </f:facet>
               <h:outputText value="#{msgs[v.typeName]}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.debit']}"/>
               </f:facet>
               <h:outputText rendered="#{!v.credit}" value="#{v.amountTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['reverseWithdraw.select']}"/>
               </f:facet>
               <h:selectBooleanCheckbox id="select" value="#{v.selected}" > </h:selectBooleanCheckbox>

           </h:column>

        </t:dataTable>

        </h:panelGroup>
          <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    paginator="true"
                    paginatorRenderLinkForActive="false"
                    paginatorMaxPages="9"
                    immediate="true"
                    rendered="#{reverseWithdrawForm.listSize>10}"
                    style="align:center;"
                    >
                    <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>
			</h:panelGrid>

  		   <h:panelGrid columns="2" width="100%" border="0" style="text-align:left;">
  		  	<SPAN CLASS="text_white_12">|</SPAN>
       	    <t:commandButton
       	    			rendered="#{reverseWithdrawForm.listSize>0}"
		         		id="btnImage"
		         		image="/images/submit.gif"
		         		onmouseover="Changepic('reverseWithdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_o.gif')"
		         		onmouseout="Changepic('reverseWithdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit.gif')"
		         		onclick="gowait('reverseWithdrawForm:btnImage','reverseWithdrawForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         		        return myfaces.oam.submitForm('reverseWithdrawForm','reverseWithdrawForm:hiddenbtn');" >
		         	</t:commandButton>
           </h:panelGrid>
           <h:commandLink action="#{reverseWithdrawForm.reverseWithdraw}"
		   		id="hiddenbtn" style="display:none"/>
        </h:panelGrid>

        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>

</html>

