<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['termsNextInvest.jsf.title']}"/>
</ui:define>
<ui:define name="title">
#{msgs['title.next.invest.1']}<br/>
#{msgs['title.next.invest.2']}<br/>
#{msgs['title.next.invest.3']}<br/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.next.invest']}"/>
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/he/termsNextInvest.xhtml">
     </ui:include>
</ui:define>
</ui:composition>
</body>
</html>