
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="head"><script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['transactions.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>

	 <f:verbatim>
	        <SCRIPT LANGUAGE="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");


				var HINTS_CFG = {
					'smart'      : true, // don't go off screen, don't overlap the object in the document
					'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
					'gap'        : 20, // minimum allowed distance between the hint and the origin (negative values accepted)
					'align'      : 'bctl', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
					'css'        : 'hintText_canceledTrx', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
					'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
					'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
					'follow'     : false, // hint follows the mouse as it moves
					'z-index'    : 100, // a z-index for all hint layers
					'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
					'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
					'opacity'    : 90 // opacity of the hint in %%
				};
				// text/HTML of the hints
				var HINTS_CANCELED = ['#{msgs['trans.status.canceledbyetrader']}'];
				var cancelHint = new THints (HINTS_CANCELED, HINTS_CFG);

			</SCRIPT>
	 </f:verbatim>
	<c:set var="td" value="transactions" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

	<t:saveState id="tranform" value="#{transactionsForm}" />

    <h:panelGroup >

		<h:form id="transactionsForm">
		<table width="100%">
		<tr>
		<td align="center">
		<h:panelGrid columns="1" width="100%" columnClasses="standardTable_ColumnCentered">



		<TABLE class="site_table" BORDER="0" CELLPADDING="0" CELLSPACING="1" width="711px" align="center">
    		<TR>
				<TD align="center">
					<BR/>


					<h:panelGrid columns="10" align="center">


			        <h:outputLabel styleClass="text_gray_12_bold" for="from" value="#{msgs['transactions.from']}"/>
					<h:inputText styleClass="input_text" id="from" value="#{transactionsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
						<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>

			        <h:outputLabel styleClass="text_gray_12_bold" for="to" value="#{msgs['transactions.to']}"/>
					<h:inputText styleClass="input_text" id="to" value="#{transactionsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					        	 <f:convertDateTime pattern="dd/MM/yyyy"/>
				    </h:inputText>
				    <A HREF="#" onClick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
			       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
			        </A>
					<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>

				    <t:commandButton
					       		id="btnImage"
					       		image="/images/submit.gif"
					       		onmouseover="Changepic('transactionsForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_o.gif')"
					       		onmouseout="Changepic('transactionsForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit.gif')"
					       		onclick="gowait('transactionsForm:btnImage','transactionsForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
					       		        return myfaces.oam.submitForm('transactionsForm','transactionsForm:hiddenbtn');" >
				    </t:commandButton>
					<h:commandLink action="#{transactionsForm.updateTransactionsList}"
					        		id="hiddenbtn" style="display:none"/>

				    </h:panelGrid>

				    <br/>
	    		</TD>
			</TR>
		</TABLE>


		<h:panelGrid rendered="#{transactionsForm.listSize==0}" columns="3" border="0" width="100%" cellpadding="0" cellspacing="0" >
			 	<h:panelGrid align="center" columns="1" border="0" >
			 		<t:outputText styleClass="text_gray_12" value="#{msgs['transactions.emptylist']}" />
		 		</h:panelGrid>
	   	</h:panelGrid>

			<h:panelGrid align="center" columns="1" border="0" width="711px" cellpadding="0" cellspacing="0">

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_SortHeader"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
                var="v"
                value="#{transactionsForm.transactionsList}"
                preserveDataModel="false"
                rows="10"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
           >
           <h:column>
               <f:facet name="header">

	               <t:commandLink action="#{transactionsForm.sortList}" >
						   <h:outputText value="#{msgs['transactions.id']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="id" />
				  	    </t:commandLink>

               </f:facet>
               <h:outputText value="#{v.id}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:commandLink action="#{transactionsForm.sortList}" >
			           <h:outputText value="#{msgs['transactions.date']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="timeCreated" />
				  	    </t:commandLink>

               </f:facet>
               <t:outputText escape="false" value="#{v.timeCreatedTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:commandLink action="#{transactionsForm.sortList}" >
						   <h:outputText value="#{msgs['transactions.desc']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="desc" />
				  	    </t:commandLink>

               </f:facet>
               <h:outputText value="#{msgs[v.typeName]}" />
           </h:column>
           <h:column>
               <f:facet name="header">

                   <t:commandLink action="#{transactionsForm.sortList}" >
				           <h:outputText value="#{msgs['transactions.credit']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="credit" />
				  	    </t:commandLink>
               </f:facet>
               <h:outputText rendered="#{v.credit}" value="#{v.amountTxt}" />
           </h:column>
           <h:column>
               <f:facet name="header">

					<t:commandLink action="#{transactionsForm.sortList}" >
							<h:outputText value="#{msgs['transactions.debit']}"/>
    	                   <f:setPropertyActionListener target="#{transactionsForm.sortColumn}" value="debit" />
				  	    </t:commandLink>
               </f:facet>
               <h:outputText rendered="#{!v.credit}" value="#{v.amountTxt}" />
           </h:column>
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['action']}"/>
               </f:facet>

              <h:commandLink immediate="true" onclick="window.open('please_wait.jsf', 'receiptpopup', 'menubar=1,resizable=1,width=500,height=311');" styleClass="link_gray_12_bold" rendered="#{v.userDeposit}" actionListener="#{transactionsForm.openReceipt}"
              		value="#{msgs['receipt']} #{v.receiptNumTxt}" >
              </h:commandLink>

              <t:graphicImage value="/images/x.gif" rendered="${v.displayCancelTranHint}" onmouseover="cancelHint.show(0, this)" onmouseout="cancelHint.hide()"/>

           </h:column>

        	</t:dataTable>

		</h:panelGrid>
        <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    paginatorRenderLinkForActive="false"
                    immediate="true"
                    rendered="#{transactionsForm.listSize>10}"
                    style="align:center;"
                    >
              <ui:include src="/jsp/templates/scroller_facets.xhtml"/>


            </t:dataScroller>

            </h:panelGrid>


		<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;z-index:1;layer-background-color:white;"></DIV>
   	    <iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0" scrolling="No"></iframe>
   	    </h:panelGrid>
   	    </td>
   	    </tr></table>

        </h:form>



    </h:panelGroup>




</ui:define>
</ui:composition>

</html>


