
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['etrader.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

	<c:set var="td" value="deposit" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

    <h:panelGroup >
    <h:form id="wirepage">

         <ui:include src="/jsp/he/wire.xhtml"/>

         <h:panelGrid  columns="1" border="0">

       		 <h:outputText value="#{msgs['header.more']}" styleClass="text_red_12_bold"/>

			<h:outputLink immediate="true" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
											target="_top" styleClass="rightnav_item" >
				<h:outputText value="#{msgs['deposit.select.card']}"/>
			</h:outputLink>

      	   <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf"
									target="_top" styleClass="rightnav_item" >
						<h:outputText value="#{msgs['button.add.creditcard']}"/>
			</h:outputLink>

			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/cards.jsf"
									target="_top" styleClass="rightnav_item" >
						<h:outputText value="#{msgs['header.cards']}"/>
			</h:outputLink>

			<h:outputLink rendered="#{!user.stopReverseWithdrawOption}" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"
									target="_top" styleClass="rightnav_item" >
						<h:outputText value="#{msgs['header.reversewithdraw']}"/>
			</h:outputLink>

   	 	</h:panelGrid>

	</h:form>
    </h:panelGroup>

</ui:define>
</ui:composition>
</html>
