
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['etrader.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>

<ui:define name="content">

	<c:set var="td" value="withdraw" />

	<ui:include src="/jsp/templates/myaccount_strip.xhtml" />

    

	<t:saveState value="#{withdrawForm}" />

    <h:panelGroup >

        <h:form id="withdrawForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid columns="1" width="100%">

	            <h:outputText styleClass="text_gray_12_bold" value="#{withdrawForm.approveMessage}" rendered="#{!withdrawForm.ccWithdrawal}" />
	            <h:outputText styleClass="text_gray_12_bold" value="#{withdrawForm.ccApproveMessage}" rendered="#{withdrawForm.ccWithdrawal}" />

   	            <h:outputText styleClass="text_gray_12_bold" value="#{msgs['withdraw.approve.question']}"/>

				<h:panelGrid columns="2" style="text-align:center" width="50%">

					<h:commandLink styleClass="link_gray_12_bold" action="#{withdrawForm.approveWithdraw}">
	                	<h:outputText value="#{msgs['withdraw.approve.yes']}"/>
	     	        </h:commandLink>

	     	        <h:commandLink styleClass="link_gray_12_bold" action="#{withdrawForm.notApproveWithdraw}">
	                	<h:outputText value="#{msgs['withdraw.approve.no']}"/>
	     	        </h:commandLink>
     	        </h:panelGrid>


            </h:panelGrid>

            </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>
