
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="content">

	<c:if test="${withdrawForm.isHaveCcForWithdrawal}">
		<script>
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/creditCard_withdraw.jsf";
		</script>
	</c:if>

	<c:if test="${!withdrawForm.isHaveCcForWithdrawal}">
		<script>
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/bankWithdraw.jsf";
		</script>
	</c:if>

</ui:define>
</ui:composition>
</html>

