<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<head>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<table cellspacing="25px" cellpadding="0" border="0" dir="rtl" align="right">
  <tr>
   <td>
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0">
	<tr><td height="10px"></td></tr>
	<tr>
		<td dir="ltr" align="left">
			<a href="javascript:window.print();" class="general_link" style="font-size: 13px;">הדפס</a>
		</td>
	</tr>
	<tr>
		<td  align="center">
			<h3 class="pages_text" style="font-size: 14px;" ><strong><u>הסכם התקשרות</u></strong></h3>
		</td>
	</tr>
	<tr>
		<td  align="center">
			<span class="pages_text">
				ינואר 2008
			</span>
			<br/><br/>
		</td>
	</tr>
	<tr>
		<td dir="rtl" align="right">
			<span class="pages_text">
					בין:<br/><br/>
				<strong>TLV trade</strong> Holdings <strong>Ltd</strong>. ("החברה").<br/><br/>
				<strong>מצד אחד,</strong><br/><br/>
				ללקוח, שפרטיו מולאו בעת הירשמו באתר
		        ("הלקוח"), מצד שני.<br/><br/>
			</span>
		</td>
	</tr>
	<tr>
		<td dir="rtl" align="right">
			<span class="pages_text">
				<strong>1.	כללי</strong>
				<p>
					<span style="font-size: 12px;">1.1.</span>

					הגלישה והשימוש באתר www.tlvtrade.co.il
					("<b>האתר</b>")
					 על השירותים השונים אשר ניתנים ו/או יינתנו בו ו/או באמצעותו מפעם לפעם
					על ידי
					 <b>החברה</b>
					 ו/או מי מטעמה הינם בכפוף להוראות ולתנאים המפורטים להלן. מובהר בזאת,
					 כי ביצוע עסקאות וקבלת שירותים באתר מותרים ללקוחות שנרשמו לאתר ולכאלו בלבד,
					ומותנה בחתימת לקוחות כאלו על הסכם זה על
					נספחיו, כפי שישונו מעת לעת
					<b>("הסכם ההתקשרות")</b>
					, או בהסכמתם לתנאי הסכם ההתקשרות.
					 התנאים הכלליים המצויים באתר ואשר החברה רשאית לשנותם מעת לעת
					 ("התנאים הכלליים")
					 אינם גורעים ו/או משנים ו/או מבטלים אלא באים להוסיף על תנאי
					הסכם ההתקשרות וייחשבו כחלק מחייב מהסכם ההתקשרות.
					התנאים הכלליים (כפי שיהיו מעת לעת)
					 מצורפים להסכם זה
					 <b>כנספח א'</b>
					 . בהסכם ההתקשרות
					ובתנאים הכלליים ייקראו כל המשתמשים באתר
					מכל סוג שהוא בכינוי "לקוח" (הסכם ההתקשרות והתנאים הכלליים יכונו ביחד
					 <b>"תנאי השימוש").</b>

				</p>
				<p>
					<span style="font-size: 12px;">1.2.</span>
					הלקוח מאשר כי קרא הסכם זה ואת כל נספחיו טרם קבלתו, לרבות אך מבלי לגרוע מכלליות האמור לעיל, את נספח הצהרות הלקוח (המצ"ב להסכם זה
					<b>כנספח ב</b>')
					, כי הוא הבין את תוכנו וכי הוא מקבל על עצמו את כל התנאים וההוראות בתנאי השימוש כתנאי מוקדם לכל שימוש באתר.
					 תנאי השימוש תקפים לאתר, לשירותי המסחר, לתוכן אלקטרוני ו/או לתוכנות המספקות ללקוח מידע על שערי חליפין בזמן אמת,
					לאמצעי תוכנה הניתנים על ידי האתר, לשירותים או מידע הניתנים בטלפון או בפקס ולכל תוכנה, מידע או שירות שתוסיף החברה בעתיד.
				</p>
				<p>
					<span style="font-size: 12px;">1.3.</span>
					באתר ניתן לקיים עסקאות שונות ובכללן באופציות דיגיטליות על נכסי בסיס שונים אשר יוגדרו על ידי החברה מעת לעת (כדוגמת שערי מדדים, שערי חליפין של מטבעות זרים, מניות וסחורות)
					("<b>העסקאות</b>")
					 וכן לקבל מידע פיננסי ואחר ושירותים שונים
					 ("<b>השירותים</b>")
					 . לפני ביצוע עסקאות, מומלץ לקרוא את ההסברים המוצעים באתר לכל סוג עסקה ולעניינים נוספים הנובעים מביצוע עסקאות (כגון מיסוי), וכן מומלץ לקרוא את "מילון המונחים"
					  המופיע באתר, כפי שיתעדכן מעת לעת
					  ("<b>מילון המונחים</b>")
					  . האופציות המוצעות
					באתר אינן נתמכות, מקודמות או מוצעות בדרך כלשהי בחסות עורכי המדדים המוצגים באתר, ולעורכי המדדים אין אחריות בקשר אליהן.
				</p>
				<p>
					<span style="font-size: 12px;">1.4.</span>
					כללי המסחר נקבעים על ידי החברה באופן בלעדי ומפורטים בתנאי השימוש וכן מפורסמים מעת לעת באתר. לחברה הזכות לשנות את תנאי השימוש ללא כל מגבלה ובכפוף לכל חוק תוך מאמץ להימנע מפגיעה בפעילות הלקוח עד למועד שינוי תנאי השימוש והלקוח מתחייב להתעדכן בתנאי השימוש ובכללי המסחר כאמור לפני כל שימוש שיעשה בשירותים וביצוע כל עסקה ועסקה באתר.
				</p>
				<p>
					<span style="font-size: 12px;">1.5.</span>
					<strong>
						במידה שהלקוח אינו מוכן לקבל את תנאי השימוש ו/או את כללי המסחר החדשים, עליו שלא לבצע כל עסקאות נוספות ולחדול מקבלת כל שירותים נוספים. ביצוע עסקה או קבלת שירות תיחשב כהסכמה לתנאי השימוש באתר.
					</strong>
				</p>

			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>2.	הגבלת גיל</strong>
				<p>
				שירותי החברה באתר ניתנים לכל פרט ו/או אישיות משפטית אשר יש ביכולתם להתקשר בהסכם מחייב תחת חוקי מדינת ישראל ואינם מותרים לפרטים מתחת לגיל 18
				("<b>קטין</b>")
				. אדם שהינו קטין, או שאינו רשאי על פי דין להתקשר בהסכם מחייב מכל סיבה שהיא, אינו רשאי להירשם לאתר או לבצע עסקאות או לקבל שירותים.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>3.	אי מתן ייעוץ</strong>
				<p>
					הפעילות באתר והפרסום בו אינם מהווים הצעה ו/או ייעוץ כלליים בנושאי מיסוי, חוק, ביטוח או השקעה, ו/או כאלה המתחשבים בנתונים ובצרכים המיוחדים של הלקוח לרכישה ו/או ביצוע השקעות, פעולות ו/או עסקאות כלשהן, ואין בהם משום המלצה ו/או חוות דעת ו/או תחליף לשיקול דעתו העצמאי של הלקוח ו/או לייעוץ מקצועי.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>4.	בטוחות</strong>
				<p>
					<span style="font-size: 12px;">4.1.</span>
					לשם ביצוע עסקאות באתר הלקוח יפקיד כספים בשיעור כפי שייקבע על ידי החברה לפי שיקול דעתה הבלעדי ובהתאם לעסקה המבוצעת, באמצעות כרטיס אשראי או באמצעות העברה בנקאית או בכל דרך אחרת שהחברה תראה לנכון. הכספים האמורים, בתוספת רווחים ובניכוי הפסדים כלשהם מעסקאות פתוחות וסגורות, זיכויים וחיובים ממחזורים יומיים, וחיובים בגין עמלות, אם יחולו, ישמשו כעירבון לביצוע העסקאות בחשבון הלקוח באתר, והם ניתנים בזה על-ידי הלקוח כבטוחה מדרגה ראשונה ויחידה לטובת החברה
					("<b>הבטוחות</b>")
					. החברה תהיה בעלת הסמכויות המלאות לגבי הבטוחות עד למועד משיכתן על ידי הלקוח. רווחים הנובעים מביצוע עסקאות יתווספו לחשבונו של הלקוח באתר, כתוספת ליתרה הפנויה למשיכה של הלקוח. הפסדים הנובעים מביצוע עסקאות ינוכו מחשבונו של הלקוח באתר. הבטוחות לא יישאו כל ריבית ויהיו חופשיות ופנויות למשיכה על ידי הלקוח, כולן או חלקן, בהתאם לתנאי השימוש, כל זמן שלא הוקצו כבטוחה לעסקה כלשהי.
				</p>
				<p>
					<span style="font-size: 12px;">4.2.</span>
					במקום שבו יפתח הלקוח עסקה מבלי שיהיו בחשבונו יתרה פנויה לקיום העסקה שביקש לבצע ו/או בטוחות להבטחתה, לחברה הזכות אך לא החובה ליצור מצב של משיכת יתר בחשבון הלקוח באתר ולגבות ריבית בשיעור פריים + 2% בגין משיכת יתר כאמור, ובתוספת של 0.5% לחודש, בגין כל חודש איחור בפירעון יתרת החובה, עד לתקרה המקסימלית המותרת בחוק. הלקוח ישלם לחברה כל יתרת חובה כאמור מיד עם קבלת דרישתה הראשונה של החברה לכך.
				</p>
				<p>
					<span style="font-size: 12px;">4.3.</span>
					מבלי לפגוע בזכויות כלשהן של החברה, לרבות זכויות מבטוחה אחרת כלשהי שתומצא על-ידי הלקוח, הלקוח מסמיך בזה באופן בלתי חוזר וללא תנאי את החברה (אשר רשאית לפעול כך, אך אינה מחויבת) (א) לקזז, בזמן כלשהו ומעת לעת, סכומי בטוחה כלשהם בחשבון הלקוח (או בין חשבונות הלקוח, אם יש ללקוח יותר מחשבון אחד) כנגד כל הכספים שהלקוח חב לחברה מכל סיבה שהיא לרבות בגין עסקאות, עמלה, בתור קרן, כהחזר הוצאות או לעניין אחר; ו-(ב) לסגור מיידית את כל העסקאות הפתוחות בחשבון הלקוח ולסגור את החשבון במקרה שהבטוחה בחשבון תפחת מרמת הבטוחה המינימלית הנדרשת לעסקאותיו.
				</p>
				<p>
					<span style="font-size: 12px;">4.4.</span>
					הלקוח רשאי לבקש מהחברה למשוך מהחשבון את יתרת הבטוחות, כולה או חלקה, אשר אינה משמשת בפועל כעירבון לעסקה קיימת. למען הסר ספק, העברה כלשהי כאמור על-ידי החברה תהא כפופה ל-(א) כל החוקים והדינים הרלוונטיים, כגון חוקים למניעת הלבנת הון, דרישות לניכויים במקור, דיני מסים ותקנות העוסקות בהעברת מטבע זר; ו-(ב) מסירת כל פרטי הזיהוי על-ידי הלקוח כפי שתדרוש החברה.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>5.	הגבלת סכומים לביצוע השקעות</strong>
				<p>
				החברה תקבע, על פי שיקול דעתה הבלעדי, את גובה סכומי המינימום והמקסימום לביצוע עסקאות בחשבון הלקוח באתר. סכומים אלה עשויים להשתנות מעת לעת ומלקוח ללקוח וללקוח לא תהיה כל טענה בעניין גובה הסכומים כאמור.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>6.	מעמד החברה</strong>
				<p>
				הלקוח מסכים ומאשר, כי (א) החברה, על-פי שיקול-דעתה הבלעדי, רשאית לפעול כצד שכנגד (כלומר, Principal) לעסקה כלשהי של הלקוח או לכל עסקאותיו; (ב) החברה לא תספק שירותי יעוץ או תיווך כלשהם ללקוח; (ג) החברה רשאית, על-פי שיקול-דעתה הבלעדי, להתכסות על עסקאותיו של הלקוח, במלואן או בחלקן ובכל צורה שהיא תמצא לנכון, בין אם בדרך של קיזוז עם עסקאות של לקוחות אחרים ובין אם בדרך אחרת; ו-(ד) דבר מן האמור בתנאי השימוש לא יתפרש כיוצר קשרי סוכנות, שליחות, נאמנות או ברוקראז' בין החברה לבין הלקוח.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>7.	ביטול עסקה עקב טעות</strong>
				<p>
					<span style="font-size: 12px;">7.1.</span>
					לחברה הזכות הבלעדית לבטל באופן חד צדדי, על ידי מתן הודעה ללקוח תוך פרק זמן סביר, עסקה שעקב טעות כלשהי, לרבות טעות במערכות המחשוב והמידע, שבשליטת האתר ושלא בשליטתו, בוצעה בשער שגוי שאינו משקף את מצב שערי המטבעות/סחורות/מדדים/מניות כפי שהם נקבעים באותו מועד בשווקים הפיננסיים.
				</p>
				<p>
					<span style="font-size: 12px;">7.2.</span>
					For avoidance of doubt, any such rescission notice shall not relieve Client from any of its obligations hereunder.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>8.	דרישות הרשמה</strong>
				<p>
					<span style="font-size: 12px;">8.1.</span>
					בהרשמת הלקוח לשירותים באתר יתבקש הלקוח לספק מידע מזהה אודותיו, בין היתר, על מנת למנוע הלבנות הון.
				</p>
				<p>
					<span style="font-size: 12px;">8.2.</span>
					הלקוח מתחייב לספק מידע נכון, מדויק, עדכני ומלא בנוגע לזהותו וכן להתחייב כי אינו מתחזה לאדם ו/או אישיות משפטית אחרים. במידה שחל שינוי בפרטי הלקוח, הלקוח מתחייב להודיע לחברה על שינוי כאמור באופן מיידי ובכל מקרה לא יאוחר משלושים (30) ימים מקרות השינוי.
				</p>
				<p>
					<span style="font-size: 12px;">8.3.</span>
					כתנאי לפעילות הלקוח באתר, עשוי הלקוח להידרש להציג מסמכים מזהים וכל מסמך אחר אשר יידרש על ידי החברה. במידה שהלקוח לא יציג מסמכים כאמור, החברה רשאית, לפי שקול דעתה הבלעדי, להקפיא את חשבונו של הלקוח לכל תקופה, עד כדי סגירה מוחלטת של החשבון, ובמידה שללקוח עוד אין חשבון באתר, החברה רשאית שלא לאפשר ללקוח לפתוח חשבון כאמור ולהימנות על לקוחותיה.
				</p>
				<p>
					<span style="font-size: 12px;">8.4.</span>
					במידה שהלקוח נרשם עבור תאגיד ו/או עבור ישות עסקית, התקשרות בהסכם ההתקשרות מהווה הצהרה כי ברשות הלקוח הסמכות לקשור את התאגיד ו/או את הישות העסקית, לפי העניין, בחוזה עם החברה.				</p>
				<p>
					<span style="font-size: 12px;">8.5.</span>
					החברה אינה חושפת מידע אישי על לקוחותיה או לקוחות-עבר למעט אם אותו לקוח נתן הסכמתו המפורשת והכתובה לכך ו/או אלא אם הדבר מאושר על פי חוק ולמטרת בדיקת אמיתות זהות הלקוח. המידע האישי על הלקוחות נמסר לעובדי החברה המטפלים בחשבונות הלקוחות באתר בלבד. כל מידע אישי על הלקוח נשמר באמצעים פיזיים ואלקטרונים לפי חוק על מנת לשמור על פרטיות הלקוח.
				</p>
				<p>
					<span style="font-size: 12px;">8.6.</span>
					הלקוח מאשר ומסכים, כי מידע אודות פרטי חשבונו ועסקאותיו יישמרו, כולם או חלקם, והוא מאשר ומסכים לשימוש במידע כאמור בקשר למחלוקת כלשהי בין הלקוח לבין החברה.
				</p>
				<p>
					<span style="font-size: 12px;">8.7.</span>
					החברה רשאית, אך לא חייבת, לסקור את, ולפקח על, המידע שהועבר לידה על ידי הלקוח לכל מטרה או סיבה, לפי שיקול דעתה הבלעדי. בהתקשרות הלקוח בהסכם ההתקשרות מצהיר הלקוח על הסכמתו, כי לא תקום לחברה שום מחויבות או אחריות לגביו בגין ביצוע פעולות סקירה ופיקוח בקשר עם פעילות הלקוח אצלה.
				</p>
				<p>
					<span style="font-size: 12px;">8.8.</span>
					החברה תפעל ליישם באתר נהלי אבטחת מידע מתקדמים ולעדכנם מעת לעת וזאת בכדי לשמור על פרטיות המידע וחשבונות הלקוחות.
				</p>
				<p>
					<span style="font-size: 12px;">8.9.</span>
					במהלך הליך הרישום יתבקש הלקוח לבחור שם משתמש וסיסמה לשימוש בכל כניסה עתידית שלו לאתר וזאת לשם ביצוע עסקאות ושימוש בשירותים. למען הגנת הלקוח והגנת משתמשים נוספים באתר אין לשתף כל אדם ו/או ישות עסקית בפרטי הליך הרישום (לרבות שם המשתמש ו/או הסיסמה) למטרת שימוש לא מורשה בשירותים או לכל מטרה אחרת. החברה לא תשא באחריות להפסד ו/או לכל נזק אחר שייגרם אצל הלקוח כתוצאה משימוש או אחסון לא ראוי ו/או לא מורשה ו/או לא מוגן בסיסמה כאמור, לרבות אך לא רק מסירת הסיסמה לצד שלישי ו/או שימושו של צד שלישי בחשבון הלקוח, בין אם הדבר נעשה בידיעת הלקוח ובין אם לאו.
				</p>
				<p>
					<span style="font-size: 12px;">8.10.</span>
					כל שימוש באתר דרך שמו של הלקוח וסיסמתו יהיה באחריות הלקוח בלבד ולחברה לא תהא כל אחריות בקשר לכך, לרבות אחריות לוודא שאכן הלקוח עצמו הוא זה הפועל בחשבונו.
				</p>
				<p>
					<span style="font-size: 12px;">8.11.</span>
					אם קיים חשש כי אדם בלתי-מורשה משתמש או השתמש בפרטי הרשמת הלקוח, על הלקוח להודיע על כך למחלקת שירות לקוחות של החברה באופן מיידי.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>9.	חשבון הלקוח</strong>
				<p>
					<span style="font-size: 12px;">9.1.</span>
					לשם ביצוע עסקאות באתר, הלקוח מורה בזה לחברה לפתוח חשבון באתר לפי הפרטים שמסר לחברה, מתוך מטרה להשתמש באתר לצורך ביצוע עסקאות וקבלת שירותים, על פי תנאי הסכם זה.
				</p>
				<p>
					<span style="font-size: 12px;">9.2.</span>
					האדם היחיד המוסמך לבצע עסקאות בחשבון הינו הלקוח. במידה והלקוח הינו חברה, רשאית היא למנות מנהל מורשה חתימה מטעמה
					 ("<b>מורשה החתימה</b>")
					 לצורך ניהול החשבון. זאת, על ידי מילוי פרטי מורשה החתימה ובכפיפות להוראות נספח מורשה החתימה המצ"ב להסכם זה
					 <b>כנספח ג'</b>
					 . במקרה זה, כל עוד הלקוח לא יבטל את המינוי כאמור, האדם היחיד המוסמך לבצע עסקאות בחשבון יהיה מורשה החתימה, וזאת בתנאי שמשיכת כספים מן החשבון תעשה אל חשבון הלקוח בלבד, ובהתאם לתנאים ולהוראות שבהסכם זה. מבלי לגרוע מהוראות נספח מורשה החתימה הלקוח מאשר ומסכים בזה כי הוא יהא האחראי הבלעדי למעשים ו/או למחדלים של מורשה החתימה, וכי החברה לא תשא באחריות כלשהי כלפי הלקוח בגין מעשים או מחדלים כאמור, בין אם נעשו במסגרת ההרשאה שניתנה ע"י הלקוח למורשה החתימה ובין אם לאו.
				</p>
				<p>
					<span style="font-size: 12px;">9.3.</span>
					ניהול החשבון באתר יתבצע בש"ח.
				</p>
				<p>
					<span style="font-size: 12px;">9.4.</span>
					עסקאות באתר יבוצעו לפי שעון ישראל בלבד.
				</p>
				<p>
					<span style="font-size: 12px;">9.5.</span>
					החברה מתחייבת לספק ללקוח את רשימת העסקאות הפתוחות הקיימות בחשבון הלקוח באתר, דו"ח המפרט את כל הפעולות והעסקאות שבוצעו בחשבון הלקוח וכן דו"ח המפרט הפקדות, משיכות ויתרת הבטוחות בחשבון הלקוח באתר.
				</p>
				<p>
					<span style="font-size: 12px;">9.6.</span>
					הלקוח רשאי לסגור את חשבונו באתר בכל עת, לאחר ששילם לחברה את יתרת החובה, ככל שהיתה כזו בחשבונו, בתוספת ריבית כאמור בתנאים הכלליים ו/או בהסכם ההתקשרות. בקשת סגירה תיעשה באמצעות דואר אלקטרוני או פקס לחברה. החברה שומרת לעצמה את הזכות לסגור את חשבון הלקוח באתר או לחסום את גישתו לחשבונו באתר ללא הודעה מוקדמת, מכל סיבה או ללא סיבה. תנאי השימוש יעמדו בתקפם גם לאחר סגירת החשבון או חסימתו כאמור, ויחולו על כל סכסוך או עניין הנובע מהתקשרות הלקוח עם החברה. לאחר סגירת החשבון הלקוח יידרש לפרוע את חובותיו ולקיים את התחייבויותיו כלפי החברה, ככל שיהיו כאלה.
				</p>
				<p>
					<span style="font-size: 12px;">9.7.</span>
					במידה שחשבון הלקוח מצוי במצב של משיכת יתר, הלקוח מתחייב להשיב לחברה את סכום משיכת היתר וכל ריבית שהצטברה על גבי סכום זה – במידה שהצטברה – בטרם יוכל להורות לחברה לסגור את החשבון.
				</p>
				<p>
					<span style="font-size: 12px;">9.8.</span>
					הלקוח מסכים, כי החברה מוסמכת להפקיד את כספי הלקוח המופקדים אצלה בתאגיד בנקאי, או בכל מוסד פיננסי אחר, והיא תוכל לעשות בכספים האלו שימוש כבטוחה לפעילותה.
				</p>
				<p>
					<span style="font-size: 12px;">9.9.</span>
					הלקוח מסכים ומאשר, כי (א) החשבון הינו חשבון שאינו נושא ריבית, וכי הלקוח לא יהא זכאי לריבית כלשהי על סכומים כלשהם המופקדים בחשבון; ו-(ב) למעט לגבי זכויותיו של הלקוח למשוך כספים מן החשבון בכפוף לתניות ולתנאים המפורטים בתנאי השירות, ללקוח לא יהיה עניין או זכות אחרת כלשהי בחשבון.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>10.   הפקדות ומשיכות, כרטיסי אשראי</strong>
				<p>
					<span style="font-size: 12px;">10.1.</span>
					החברה מאפשרת ללקוחותיה להפקיד כספים בחשבונותיהם באמצעות כרטיסי האשראי המוכרים ו/או באמצעות העברה בנקאית, בהתאם להוראות ההפקדה והמשיכה המצויות באתר.
				</p>
				<p>
					<span style="font-size: 12px;">10.2.</span>
					סכום ההפקדה המינימלי בחשבון הלקוח באתר הוא 100 ש"ח.
				</p>
				<p>
					<span style="font-size: 12px;">10.3.</span>
					על הלקוח, טרם תבצע החברה את הוראת ההפקדה ו/או המשיכה, להמציא בפני החברה בהתאם להנחיותיה, מסמכים כנדרש מעת לעת, על-פי הנחיות הרשות לאיסור הלבנת הון, הוראות חברות האשראי והוראות החברה. תנאי זה הוא תנאי מקדים והכרחי לביצועה של הוראת הפקדה ו/או משיכה כאמור.
				</p>
				<p>
					<span style="font-size: 12px;">10.4.</span>
				    החזרת סכומים על-פי הוראת משיכה אל חשבון בנק, כאשר הסכומים הופקדו במקורם בכרטיס אשראי, תתבצע אל חשבון הבנק או אל חשבון כרטיס האשראי, על-פי שיקול דעתה הבלעדי של החברה.
				</p>
				<p>
					<span style="font-size: 12px;">10.5.</span>
					החברה לא תגבה עמלת משיכה, למעט משיכות בסך של 500 ש"ח ומטה, אשר יהיו כרוכות בעמלה של 10 ש"ח לכל משיכה.
			   </p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>11.	מסחר</strong>
				<p>
					<span style="font-size: 12px;">11.1.</span>
					בכפוף לתנאים ולהוראות המפורטים בתנאי השימוש הלקוח רשאי לבצע עסקאות בחשבון באמצעות האתר, באחריותו הבלעדית ועל סיכונו וחשבונו הבלעדיים.
				</p>
				<p>
					<span style="font-size: 12px;">11.2.</span>
					כל העסקאות יהיו כפופות לתנאי השימוש ויבוצעו בהתאם לכללי המסחר הספציפיים ולנוהגי המסחר המקובלים של החברה כפי שיחולו מעת לעת.
				</p>
				<p>
					<span style="font-size: 12px;">11.3.</span>
					השער במועד הפקיעה הוא השער המוצג במקור הציטוט במועד הפקיעה. אופן חישוב שערי הפקיעה מפורט בנספח ד' להסכם זה.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>12.	מחירים ועמלות</strong>
				<p>
					<span style="font-size: 12px;">12.1.</span>
					אלא אם כן ייקבע אחרת על-ידי החברה ויימסר בהודעה ללקוח, החברה לא תגבה עמלות כלשהן על מחירי הקנייה/מכירה הניתנים על-ידה.
				</p>
				<p>
					<span style="font-size: 12px;">12.2.</span>
					החברה רשאית לגבות עמלות עבור השירותים שיסופקו על-ידה ללקוח בהתאם לתנאי השימוש, בתעריפים ובאופן שייקבעו על-ידי החברה על-פי שיקול-דעתה הבלעדי מעת לעת ויימסרו בהודעה ללקוח. במקרה כזה, החשבון יחויב בעמלות.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>13.	מסים והיטלים – רווחי הון</strong>
				<p>
				הלקוח מצהיר ומאשר בזה, כי ידוע לו, והוא מסכים ומורה לחברה באופן בלתי חוזר, לנכות מן ההכנסות ו/או הרווחים בחשבונו מסים ו/או היטלים, לרבות ניכוי מס רווח הון במקור, המתחייבים על-פי כל דין.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>14.	אישור הסכם הלקוח</strong>
				<p>
					<strong>
					בעשותי שימוש באתר הנני מצהיר ומתחייב כי אין כל מניעה לפעילותי באתר, כי קראתי ואני מסכים לתנאי השימוש, ובפרט כי הנני מבין את הסיכון הגלום בביצוע עסקאות באתר שמשמעותו אבדן כל כספי ההשקעה והבטוחות במידה ויתממש הסיכון האמור לעיל.
					</strong>
					<br/><br/>
				 </p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<table class="pages_text">
				<tr>
					<td width="100px"><u>&#160;&#160;&#160;&#160;&#160;
					&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
					&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</u></td>
					<td width="140px">&#160;</td>
					<td width="100px"><u>&#160;&#160;&#160;&#160;&#160;
					&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
					&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</u></td>
				</tr>
				<tr>
					<td width="100px" align="center">הלקוח</td>
					<td width="140px">&#160;</td>
					<td width="100px" align="center">החברה</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr><td height="50px"></td></tr>
	</table>
	<ui:include src="/jsp/#{applicationData.userLocale.language}/general_terms.xhtml">
		<ui:param name="showPrint" value="false"/>
	</ui:include>
   </td>
  </tr>
 </table>

</f:view>
