﻿<f:view xmlns:f="http://java.sun.com/jsf/core" 		xmlns:h="http://java.sun.com/jsf/html">
<iframe frameborder="0" scrolling="auto" align="left" height="540" width="720" allowtransparency="true" marginwidth="0" marginheight="0" src="http://ecal.forexpros.com/e_cal.php?cssfile=#{applicationData.rhomePageUrl}css/AO_calendar.css" ></iframe>
</f:view>