<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script>

document.domain = "#{applicationData.domainUrl}";
var skinId = #{applicationData.skinId};

	// set the cursor at the end of the phoneCode
	function SetEnd(TB) {

		if (TB.createTextRange) {
			var FieldRange = TB.createTextRange();
			FieldRange.moveStart('character', TB.value.length);
			FieldRange.collapse();
			FieldRange.select();
		}
	}


	function changeLablesPadding(){
		if (navigator.userAgent.toLowerCase().indexOf("msie") != -1 ) {
			if (skinId != 4) {
				document.getElementById('contactMeForm:nameLable').style.paddingLeft='2px';
			  	document.getElementById('contactMeForm:emailLable').style.paddingLeft='2px';
			  	document.getElementById('contactMeForm:countryLable').style.paddingLeft='2px';
			  	document.getElementById('contactMeForm:phoneLable').style.paddingLeft='2px';
			} else {
				  document.getElementById('contactMeForm:nameLable').style.paddingLeft='4px';
				  document.getElementById('contactMeForm:emailLable').style.paddingLeft='4px';
				  document.getElementById('contactMeForm:countryLable').style.paddingLeft='4px';
				  document.getElementById('contactMeForm:phoneLable').style.paddingLeft='4px';
			}
		}
	}

	function gowait(elementId, elementTostartId, picname) {
	   	document.getElementById(elementId).src = picname;

		window.setTimeout( function() {
			var wg = document.getElementById(elementId);
			wg.src = wg.src; }, 50);

		document.getElementById(elementId).disabled = true; // disable click on commandButton
	}

</script>

</head>

<body dir="#{applicationData.pageDirection}" style="background-image: none ;">


<f:view locale="#{applicationData.userLocale}">


<t:saveState value="#{contactMeForm}" />
<h:form id="contactMeForm">
	<table width="457px" height="130px" border="0" cellspacing="0" cellpadding="0" bgcolor="#dcdcdc">
		<tr height="130px">
			<td height="130px">
				<table border="0" cellspacing="0" cellpadding="0" height="130px">
					<tr height="40px">
						<td class="home_page_lable" style="padding-right:20px;padding-top:10px;" >
							<h:outputText escape="false" value="#{msgs['home.page.call.me.header']}"/>
						</td>
					</tr>
					<tr height="30px">
						<td style="padding-right:20px;">
							<h:inputText styleClass="new_input" maxlength="20" id="contactName" style="width:125px;" dir="rtl" value="#{contactMeForm.contactName}"
												onfocus="if(this.value=='#{msgs['banner.contactme.name']}') this.value=''"
												onblur= "if(this.value=='') this.value='#{msgs['banner.contactme.name']}'" >
			            	</h:inputText>
			            </td>
					</tr>
			        <tr height="30px">
						<td style="padding-right:20px;">
	    			      	<div>
				      			<h:inputText styleClass="new_input" dir="rtl" id="mobilePhone" style="width:70px;"
				   									onfocus="if(this.value=='#{msgs['banner.contactme.phone']}') this.value=''"
													onblur= "if(this.value=='') this.value='#{msgs['banner.contactme.phone']}'"
								               	   	maxlength="7" value="#{contactMeForm.mobilePhone}">
				            	</h:inputText>
				            	&#160;
				            	<h:selectOneMenu styleClass="new_combobox" style="width:45px;font-size: 12px;"  name="#{msgs['banner.contactme.phonePrefix']}"  id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}">
				            		<f:selectItem  itemLabel="" itemValue="" />
				            		<f:selectItems value="#{applicationData.mobilePref}" />
				            	</h:selectOneMenu>
							</div>
						</td>
					</tr>
					<tr height="20px">
						<td style="padding-right:20px;">
							<h:outputText value="#{commonUtil.firstErrorMessage}" rendered="#{commonUtil.hasErrorMessages}" styleClass="error_messages" />
						</td>
					</tr>
				</table>
			</td>
			<td width="158px" height="130px" align="left">
				<t:commandButton
		         		id="button"
		         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/btn_send.gif"
		         		onclick="gowait('contactMeForm:button','contactMeForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loadin.gif');
		         				 return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');" >
	         	</t:commandButton>
	         	<h:commandLink action="#{contactMeForm.sendContactEmail}" id="hiddenbtn" style="display:none"/>
			</td>
		</tr>
	</table>
</h:form>
</f:view>

</body>
</html>
