﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >


<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>

<table valign="top" cellspacing="5" cellpadding="0" border="0" width="720" style="vertical-align:top;">
	<tr valign="top" style="vertical-align:top;">
		<td valign="top" style="vertical-align:top;">
			<table valign="top" cellspacing="0" cellpadding="0" border="0" width="350" style="vertical-align:top;" align="right" dir="rtl">
				<tr valign="top"  style="vertical-align:top;">
					<td valign="top" style="vertical-align:top;" align="right" dir="rtl">
					<BR/>
					<div class="info_pages_text_header_section">מסחר</div>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q3',this);">מהי אופציית call?</a>
					<div id="q3" style="display:none; overflow:hidden; height:60px;" class="info_pages_text">
					אופציה המקנה למחזיק בה אחוזי תשואה קבועים מראש במקרה של פקיעת נכס הבסיס במועד קבוע מראש במחיר הגבוה משער הבסיס שבו בוצעה העיסקה.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q3');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q4',this);">מהי אופציית put?</a>
					<div id="q4" style="display:none; overflow:hidden; height:60px;" class="info_pages_text">
					אופציה המקנה למחזיק בה אחוזי תשואה קבועים מראש במקרה של פקיעת נכס הבסיס בתאריך קבוע מראש במחיר הנמוך משער הבסיס שבו בוצעה העיסקה.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q4');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q6',this);">איך מבצעים השקעה?</a>
					<div id="q6" style="display:none; overflow:hidden; height:75px;" class="info_pages_text">
					כדי לבצע השקעה עליך לבחור באופציית call או אופציית put על נכס בסיס מסוים. לחיצה על אופציה תוסיף את ההשקעה לטופס משמאל. בשלב זה תתבקש להקליד את סכום ההשקעה ולאשר ביצוע. ניתן לבטל בחירה באמצעות לחיצה על  X  בכל זמן לפני אישור ביצוע.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q6');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q7',this);">כמה ארוויח במקרה של השקעה מוצלחת?</a>
					<div id="q7" style="display:none; overflow:hidden; height:83px;" class="info_pages_text">
					השקעה מוצלחת תניב תשואה מובטחת על פי המצוין באתר על נכס הבסיס שבחרת. במקרה של פקיעה הפוכה עדיין מובטח לך החזר בגובה 15 אחוז מההשקעה. בהשקעה באופציות מסוג  One Touch לא משולם החזר כלשהו במקרה שהאופציה פוקעת מחוץ לכסף.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q7');"> סגור</a>
					</div>
					<BR/><BR/>
					<div><a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q8',this);">מה גובה ההפסד במקרה של פקיעה הפוכה מההשקעה שבחרתי?</a></div>
					<div id="q8" style="display:none; overflow:hidden; height:97px;" class="info_pages_text">
					במקרה של פקיעה הפוכה עדיין מובטח לך החזר בגובה 15 אחוז מההשקעה. לדוגמה: אם השקעת 1,000 ש"ח באופציית call  על מדד ת"א 25, ובמועד הפקיעה השער יהיה נמוך מהשער בו ביצעת את ההשקעה –  תקבל אוטומטית החזר של 150 ש"ח. בהשקעה באופציות מסוג  One Touch לא משולם החזר כלשהו במקרה שהאופציה פוקעת מחוץ לכסף.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q8');"> סגור</a>
					</div>
					<BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q9',this);">ניסיתי לבצע השקעה, אך קיבלתי הודעת שגיאה לפיה הסכום שביקשתי להשקיע גבוה מהמקסימום האפשרי. מה עלי לעשות?</a>
					<div id="q9" style="display:none; overflow:hidden; height:87px;" class="info_pages_text">
					סכום ההשקעה המקסימלי באופציה אחת משתנה בהתאם לגורמים שונים. עם זאת, אין מניעה לרכוש מספר אופציות בזו אחר זו, בסכום מצטבר גבוה יותר, ללא הגבלה. אם ברצונך לרכוש אופציות בסכום גבוה יותר, עליך לרכוש אופציה בסכום המקסימלי, ולאחר ביצוע העיסקה לרכוש אופציה נוספת, וכך הלאה
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q9');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q10',this);">מהם השערים המוצגים בזירת המסחר?</a>
					<div id="q10" style="display:none; overflow:hidden; height:70px;" class="info_pages_text">
					השערים המוצגים בזירת המסחר הם אלה בהם מוכנה TLV trade להציע אופציות call או put. השער המוצג נקבע על ידי מומחי TLV trade בהתאם למספר רב של גורמים ומשתנים.
					<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc" class="general_link_blue_10" ><b>לחץ כאן</b></A>.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q10');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q11',this);">מהו שער פקיעה?</a>
					<div id="q11" style="display:none; overflow:hidden; height:80px;" class="info_pages_text">
					שער פקיעה הוא השער של נכס הבסיס במועד פקיעת האופציה. זהו השער הקובע האם האופציה פקעה "בתוך הכסף" או "מחוץ לכסף". לכל נכס בסיס אופן חישוב שער פקיעה שונה.
					אופן חישוב שערי הפקיעה מפורט
					<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc" class="general_link_blue_10">כאן</A>.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q11');"> סגור</a>
					</div>
					<BR/><BR/>
					<div><a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q13',this);">מה ההבדל בין קניית אופציות ב-TLV trade לרכישת call ו/או put בבורסה?</a></div>
					<div id="q13" style="display:none; overflow:hidden; height:250px;" class="info_pages_text">
					אופציה דיגיטלית היא אופציה בה סך הרווח או ההפסד קבוע ומוסכם מראש. סכום הרווח משולם בתנאי שהאופציה פוקעת "בתוך הכסף". ב-TLV trade  האופציות הדיגיטליות מבטיחות 65-71 אחוזי רווח במקרה של פקיעה "בתוך הכסף" ו-15 אחוז החזר במקרה של פקיעה "מחוץ לכסף".
					<BR/>
					להבדיל מהאופציות המוצעות בבורסה לניירות ערך, למרחק בין שער ביצוע העיסקה לשער הפקיעה אין משמעות לעניין שיעור הרווח. כלומר – גם אם מדד תל-אביב 25 יהיה גבוה בשלושה אחוזים או בשליש אחוז משער ביצוע העיסקה - הרווח יהיה זהה. האופציות הדיגיטליות של TLV trade  אינן ניתנות למימוש או מכירה לפני מועד הפקיעה.
					<BR/>
					לדוגמה, אם רכשת אופציה דיגיטלית מסוג  call בסכום של 100 שקל, והתשואה המובטחת על אותו נכס בסיס היא 70%, הרווח המובטח לך הוא 70 שקל במקרה שנכס הבסיס נסחר במועד הפקיעה בשער שמעל השער בזמן ביצוע הקנייה. אם בזמן הפקיעה נכס הבסיס נסחר בשער הנמוך מהשער בזמן ביצוע העיסקה, תקבל החזר בגובה 15 אחוז מההשקעה, 15 שקל במקרה של הדוגמה למעלה.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q13');"> סגור</a>
					</div>
					<BR/>
					<div><a href="javascript:;" name="14" class="general_link_10" onmousedown="slidedownQes('q14',this);">מהי יתרה לטובת מס רווח הון?</a></div>
					<div id="q14" style="display:none; overflow:hidden; height:805px;" class="info_pages_text">
					<P >יתרה לטובת מס רווחי הון היא הסכום הנשמר עבורך לצורך ניכוי מס במקור על רווחים. המס מנוכה בהתחשב בסך כל הפעולות שביצעת במהלך כל חצי שנה קלנדרית, ומועבר על ידי  TLV trade ישירות לרשות המסים. </P> <P >הנוסחה הבסיסית לחישוב היא <B>20% </B>(שיעור מס רווחי הון בישראל) מהתוצאה המתקבלת מסך הכל <B>רווח מצטבר</B> <I>  פחות </I><B>הפסד מצטבר</B><B>.</B> אם התוצאה <B>חיובית</B> (היינו, רווחיך גבוהים מהפסדיך), תועבר היתרה לרשות המסים כניכוי במקור שלך -  פעמיים בשנה, כמוסבר בהמשך. בתום כל שנת מס יונפק עבורך אישור מתאים לצורכי דיווח לרשויות המס. זאת בנוסף לאפשרות העומדת בפניך להתעדכן באתר בכל עת ביתרה לטובת ניכוי מס רווחי הון במקור.</P>
					<P >פעולת חישוב הניכוי במקור מתבצעת פעמיים בשנה – ב-30 ביוני וב-31 בדצמבר. במקרה של רווח מצטבר בחשבונך בתאריך 30 ביוני, תועבר היתרה לטובת ניכוי במקור של מס רווח הון מיידית, ובתום השנה הקלנדרית יתבצע שוב חישוב שנתי.</P>
					<P >במקרה שהחישוב השנתי יחייב ניכוי מס נוסף, תועבר יתרת מס רווחי הון לרשות המסים. במקרה שהחישוב השנתי יורה על הפסד מצטבר בחשבונך - תקבל אישור על הפסד הוני, אותו תוכל לצרף להתחשבנות השנתית הכוללת שלך (כעצמאי או כשכיר).</P>
					<P >המערכת של TLV trade תעדכן את יתרת המס שלך בזמן אמת, בתום כל פעולה, ותציג את החלק היחסי מרווחיך - הניכוי במקור - שאותו לא תוכל למשוך או להשתמש בו לטובת השקעות נוספות.<BR/><BR/>למשל: אם ביצעת השקעה מוצלחת בסך 1,000 שקל, הרווחת 700 שקל, אך היתרה הזמינה לשימוש/משיכה תהיה 1,560 שקל. 140 שקל (20% מס רווחי הון) יישמרו על ידי  TLV trade ויוצגו תחת <B>יתרה לטובת מס רווחי הון</B>. כאשר תבצע השקעה נוספת (בחצי השנה הקלנדרית בה בוצעה הפעולה הקודמת), לצורך הדוגמה בגובה סך כל היתרה (1,560 שקל), וזו <B>לא תצליח</B>, יקרו הפעולות הבאות באופן אוטומטי:</P>
					<UL> <LI><P> 15%  מגובה הקרן יישארו ביתרתך (234 שקל).</P> </LI> <LI><P>היתרה למס שלך תתעדכן: הרווח מהפעולה הראשונה (700) יקוזז מול ההפסד בפעולה השניה
					<br/> &#160; (1,326), והיתרה לטובת ניכוי במקור של מס רווחי הון תתאפס. בשלב זה נוצר בחשבונך הפסד הוני בגובה 626 שקל: <span dir="ltr"> 700 - 1,326 = - 626 </span> . </P> </LI> <LI><P >במצב זה תוצג בדף היתרות שלך יתרת מס 0, היות שברגע זה אין לך חבות מס.</P> </LI> <LI><P >כתוצאה מפעולת הקיזוז, 140 השקלים שנשמרו על ידי TLV trade יוחזרו ליתרה לשימוש, והיתרה בדוגמה זו תעמוד על 374 שקל.</P> </LI> </UL> <P >כאמור, חישוב זה יתבצע מיד אחרי כל פקיעה של אחת האופציות שרכשת, ויתרת המס המוצגת בחשבונך תתאפס בתום כל חצי שנה קלנדרית עם העברת היתרה לטובת ניכוי במקור של מס רווחי הון לרשות המסים.</P>
					<a href="javascript:;" class="general_link_blue" onmousedown="slideup('q14');">סגור</a>
					</div>
					<BR/>
					<div><a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q19',this);">מה המשמעות של הצבעים בהם מוצגים השערים בזירת המסחר?</a></div>
					<div id="q19" style="display:none; overflow:hidden; height:87px;" class="info_pages_text">
					הצבעים מסמלים את כיוון המסחר יחסית ליום המסחר האחרון. הצבע הירוק מסמל עליה ביחס לשער הפקיעה של TLV trade ביום המסחר האחרון. הצבע האדום מסמל ירידה ביחס לשער הפקיעה של TLV trade  ביום המסחר האחרון.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q19');"> סגור</a>
					</div>
					<BR/><BR/>
					<div><a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q15',this);">מה קורה אם שער הפקיעה של נכס בסיס מסוים זהה לשער בו ביצעתי את העיסקה?</a></div>
					<div id="q15" style="display:none; overflow:hidden; height:110px;" class="info_pages_text">
					במקרה של פקיעה בשער זהה לשער בו בוצעה העיסקה, סכום ההשקעה מוחזר ללקוח. אם לדוגמה לקוח מבצע השקעה מסוג call בסך של 1,000 שקל על ת"א 25 בשער של 1044.23 במועד פקיעה 11:00, והשער במועד הפקיעה הוא 1044.23, סכום ההשקעה מוחזר ללקוח, שיזוכה בחשבונו בסך של 1,000 שקל.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q15');"> סגור</a>
					</div>
					<BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q17',this);">האם הרווחים חייבים במס?</a>
					<div id="q17" style="display:none; overflow:hidden; height:55px;" class="info_pages_text">
					כן. הרווחים חייבים במס על פי חוק. המס מנוכה בהתאם לכל פעולה ומועבר על ידי TLV trade   למס הכנסה.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q17');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q36',this);">מה זה אופציית One Touch?</a>
					<div id="q36" style="display:none; overflow:hidden; height:88px;" class="info_pages_text">
					באופציה זו המשקיע ירוויח את התשואה הקבועה מראש כאשר שער נכס הבסיס יגיע או יעבור את שער היעד שהוגדר מראש, ומספיקה רק נגיעה אחת לאורך כל חיי האופציה ולא רק במועד הפקיעה. במידה ושער השוק לא יגיע לשער היעד הקבוע בתנאי האופציה, תיסגר האופציה עם הפסד בגובה ההשקעה.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q36');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q1',this);">מהו מינימום ההפקדה באתר?</a>
					<div id="q1" style="display:none; overflow:hidden; height:30px;" class="info_pages_text">
					הסכום המינימלי להפקדה באתר הוא 100 שקל.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q1');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q37',this);">מהי יתרה לשימוש?</a>
					<div id="q37" style="display:none; overflow:hidden; height:45px;" class="info_pages_text">
					יתרה לשימוש היא היתרה הזמינה להשקעה או למשיכה בחשבונך לאחר קיזוז הסכום המיועד להבטחת תשלום המס על רווחים בהתאם לחוק
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q37');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q38',this);">מה עלי לעשות אם יש לי פטור מניכוי מס במקור?</a>
					<div id="q38" style="display:none; overflow:hidden; height:75px;" class="info_pages_text">
					במקרה שיש לך פטור מניכוי מס במקור על רווחי הון, אנא פנה לשירות הלקוחות לאחר שפתחת חשבון ולפני ביצוע השקעה,  כדי לדווח שיש לך פטור. נציגי השירות ידריכו אותך כיצד לנהוג. כדי לייעל את הטיפול בפנייתך – אנא הצטייד מראש באישור המתאים.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q38');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q39',this);">האם ניתן לפתוח חשבון על שם חברה בע"מ?</a>
					<div id="q39" style="display:none; overflow:hidden; height:75px;" class="info_pages_text">
					ניתן לפתוח חשבון ב-TLV trade על שם חברה בע"מ. לשם כך עליך ליצור קשר עם שירות הלקוחות שלנו, שידריך אותך כיצד לפעול ואיזה מסמכים עליך לשלוח. כדי לייעל את הטיפול בפנייתך - אם לחברה שלך פטור מניכוי מס במקור, אנא הצטייד מראש באישור המתאים.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q39');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q40',this);"> מה ההבדל בין אופציות על מדד Nasdaq לבין אופציות על .Nasdaq 100 Fut?</a>
					<div id="q40" style="display:none; overflow:hidden; height:118px;" class="info_pages_text">
					Nasdaq 100 Future הוא חוזה עתידי על מדד נאסד"ק 100. מדד הנאסד"ק הראשי
					<BR/>
					(Nasdaq Composite) הוא מדד שונה וכולל את כל החברות הנסחרות בבורסת הנאסד"ק בניו יורק. לכן אין דמיון בערך האבסולוטי של המדד אם כי יש מתאם גבוה בהתנהגות שני המדדים השונים.
					<BR/>
					אנו ממליצים ללקוחותינו הרוכשים אופציות על Nasdaq 100 Fut לבדוק את שערו העדכני של מדד הנאסד"ק 100.

					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q40');"> סגור</a>
					</div>
					<BR/><BR/>
				</td>
			</tr>
		</table>
	</td>

	<td valign="top" style="vertical-align:top;">
		<table valign="top" cellspacing="0" cellpadding="0" border="0" width="350" style="vertical-align:top;" align="right" dir="rtl">
			<tr valign="top" style="vertical-align:top;">
				<td valign="top" style="vertical-align:top;" align="right" dir="rtl">
					<BR/>
					<div class="info_pages_text_header_section">הפקדות ומשיכות</div>

					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q20',this);">מהן אפשרויות ההפקדה שלי?</a>
					<div id="q20" style="display:none; overflow:hidden; height:60px;" class="info_pages_text">
					ניתן להפקיד באמצעות כרטיסי אשראי מסוג ויזה, מסטרקארד, ישראכרט, אמריקן אקספרס  ודיינרס ו/או באמצעות העברה בנקאית / הפקדת מזומן. לפרטים מלאים אנא עיין בדף
					<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" class="general_link_blue_10">הפקדות ומשיכות</A>
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q20');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q21',this);">באיזה מטבעות אוכל לנהל את חשבוני?</a>
					<div id="q21" style="display:none; overflow:hidden; height:30px;" class="info_pages_text">
					תוכל לנהל את חשבונך בשקלים.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q21');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q22',this);">האם יש סכום משיכה מינימלי?</a>
					<div id="q22" style="display:none; overflow:hidden; height:45px;" class="info_pages_text">
					TLV trade מעניקה פטור מעמלת משיכה על משיכה ראשונה בכל חודש קלנדרי, עם זאת כל משיכה נוספת באותו חודש
					תחויב בעמלה בסך 25 ש"ח.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q22');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q23',this);">כיצד אני יכול למשוך רווחים?</a>
					<div id="q23" style="display:none; overflow:hidden; height:110px;" class="info_pages_text">

					לקוחות המפקידים באמצעות כרטיסי אשראי מסוג ויזה יכולים למשוך כספים ישירות למסגרת כרטיס האשראי ממנו הפקידו.  TLV trade  מאפשרת ללקוחותיה במקרים מסוימים משיכות באמצעות צ'קים.
					<br/>
					לביצוע משיכה עליך להתחבר לחשבונך, לבחור ב"החשבון שלי">"בקשת משיכה" ולהמשיך לפי ההנחיות. הסכום הניתן למשיכה הוא הסכום המופיע ב"יתרה לשימוש"
					לפרטים מלאים אנא עיין בדף
					<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" class="general_link_blue_10">הפקדות ומשיכות.</A>
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q23');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q24',this);">האם עלי לבצע הפקדה כדי להירשם?</a>
					<div id="q24" style="display:none; overflow:hidden; height:28px;" class="info_pages_text">
					לא. אין צורך לבצע הפקדה או למסור פרטי כרטיס אשראי כדי להירשם לאתר.
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q24');"> סגור</a>
					</div>
					<BR/><BR/>
					<a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q25',this);">מה זה עצור משיכה?</a>
					<div id="q25" style="display:none; overflow:hidden; height:135px;" class="info_pages_text">
					אם בקשת משיכה שלך נמצאת בהליכי ביצוע, עדיין יש לך אפשרות לעצור את בקשת המשיכה ולהחזיר את הכסף לחשבונך ב-TLV trade. אפשרות עצירת המשיכה שימושית במיוחד כשאין לך מספיק כסף בחשבון אבל אתה רוצה להמשיך לבצע פעולות. על ידי עצירת המשיכה הכספים שרצית למשוך יהיו זמינים מיד בחשבון. כדי לעצור משיכה התחבר לחשבונך ב-TLV trade, ולחץ על כפתור "עצור משיכה". כעת תועבר אוטומטית למסך בו תוכל לראות את כל בקשות המשיכה האחרונות שלך שעדיין בטיפול. בחר את בקשת המשיכה שברצונך לעצור ולחץ על "בצע".
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q25');"> סגור</a>
					</div>
					<BR/><BR/>
					<br/>
					<div class="info_pages_text_header_section">החשבון שלי</div>
					<div><a href="javascript:;" class="general_link_10" onmousedown="slidedownQes('q29',this);">מה אני עושה במקרה ששכחתי את שם המשתמש או את הסיסמה שלי?</a></div>
					<div id="q29" style="display:none; overflow:hidden; height:90px;" class="info_pages_text">
					במקרה ששכחת את הסיסמה שלך, לחץ על " <b>"שכחת סיסמה?"</b>, ",מלא את הטופס שייפתח ושלח.סיסמתך תישלח אל כתובת ה- email שתציין בטופס, אם היא מתאימה לכתובת המקורית שמסרת בעת הרישום.במקרה ששכחת את שם המשתמש שלך, אתה מתבקש ליצור קשר עם שירות הלקוחות שלנו בטלפון  או
					<A HREF="mailto:support@tlvtrade.co.il" class="general_link_blue_10">support@tlvtrade.co.il</A>
					<BR/><a href="javascript:;" class="general_link_blue" onmousedown="slideup('q29');"> סגור</a>
					</div>
					<BR/>
					<br/>
				</td>
			</tr>
		</table>
	</td>
</tr>
</table>

<script>
	try {
		url = document.location.href;
		if ( url.indexOf( "#") != -1) {
			var indexOfHash = url.indexOf("#");
			var afterHash = url.substring(indexOfHash+1);
			
			//var sLink = document.getElementById(afterHash);
			//sLink.setAttribute(classAtr, "general_link_10_active");
			//slidedownQes("q"+afterHash, sLink);
		}
	} catch(e){
		//ignore
	}
</script>

</f:view>