<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

	 <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"></a> &#160;
	    אתר זה הוא מקבוצת etrader ומתופעל על ידה |
	    שים לב: 		<a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">המסחר</a> באתר טומן בחובו סיכון משמעותי. מומלץ לעיין <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}">בתנאים הכלליים</a> לפני ביצוע השקעה |
	     השערים המוצגים בזירת המסחר הם אלה בהם מוכנה <br/>TLVtrade להציע <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">אופציות</a> וייתכנו הבדלים בינם לבין אלה המוצגים במקורות ציטוט אחרים |
		לפרטים על אופן חישוב שערי הפקיעה 	      <a class="footer_link" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc">לחץ כאן</a> |
		 הרווחים של לקוחות האתר חייבים במס רווחי הון
</f:view>