<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<script>
<!--
document.domain = "#{applicationData.domainUrl}";
window.moveTo(0, 0);
-->
</script>

<body dir="rtl" style="background-image: none ;">

<table align="center" width="100%" cellpadding="0" cellspacing="0">
	<tr><td height="3px">&#160;</td></tr>
	<tr>
		<td align="right">
			<h5 align="right">
				<a href="javascript:document.all('printmessage').innerText=''; window.print();" class="text_black_12_bold"><h:outputText id="printmessage" value="הדפס"/></a>
			</h5>
		</td>
		<td align="left"><img src="#{facesContext.externalContext.requestContextPath}/images/logo_press.gif" width="149" height="40" border="0" /></td>
	</tr>
</table>
<h5 align="center" styleClass="text_gray_12_bold">טופס 867</h5>
<h4 align="center" styleClass="text_gray_12_bold">אישור ניכוי מס במקור ממכשירים פיננסים לא סחירים</h4>
<h5 align="center" styleClass="text_gray_12_bold">לשנת המס 2010</h5>
<table align="center" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<h5 align="right" styleClass="text_gray_12_bold">פרטי המנכה</h5>
			<table align="right" border="0" styleClass="text_gray_12_bold" class="tax_form_table" width="400px">
				<tr>
					<td class="tax_form_table">מספר תיק ניכויים</td>
					<td class="tax_form_table">שם</td>
				</tr>
				<tr>
					<td class="tax_form_table">935844852</td>
					<td class="tax_form_table">TLV trade בע"מ</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<h5 align="right" styleClass="text_gray_12_bold">הריני מאשר/ת כי שילמתי לחשבון</h5>
			<table align="right" border="0" styleClass="text_gray_12_bold" class="tax_form_table" width="400px">
				<tr>
					<td class="tax_form_table">שם החשבון</td>
					<td class="tax_form_table">#{user.id}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<h5 align="right" styleClass="text_gray_12_bold">פרטי השותפים בחשבון </h5>
			<table align="right" border="0" styleClass="text_gray_12_bold" class="tax_form_table" width="400px">
				<tr>
					<td class="tax_form_table">שם</td>
					<td class="tax_form_table">ת"ז</td>
				</tr>
				<tr>
					<td class="tax_form_table">${user.firstName} ${user.lastName}</td>
					<td class="tax_form_table">${user.idNum}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<h5 align="right" styleClass="text_gray_12_bold">נתוני הכנסות – רווח הון</h5>
			<table align="right" border="0" styleClass="text_gray_12_bold" class="tax_form_table" width="400px">
				<tr>
					<td class="tax_form_table">שיעור המס</td>
					<td class="tax_form_table">20%</td>
				</tr>
				<tr>
					<td class="tax_form_table">רווח חייב במס, לא כולל הפסדים</td>
					<td class="tax_form_table">#{taxForm.win}</td>
				</tr>
				<tr>
					<td class="tax_form_table">הפסדים שנוצרו מאותו שיעור מס</td>
					<td class="tax_form_table">#{taxForm.lose}</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
		<h5 align="right" styleClass="text_gray_12_bold">ניכוי מס במקור - רווח</h5>
		<table align="right" border="0" styleClass="text_gray_12_bold" class="tax_form_table" width="400px">
			<tr class="tax_form_table">
				<td class="tax_form_table">שיעור המס</td>
				<td class="tax_form_table">20%</td>
			</tr>
			<tr>
				<td class="tax_form_table">מס שנוכה במקור</td>
				<td class="tax_form_table">#{taxForm.tax}</td>
			</tr>
		</table>
		</td>
	</tr>
	<tr class="tax_form_table">
		<td>
			סה"כ מחזור עסקאות
			&#160;
			#{taxForm.sumInvest}
		</td>
	</tr>
	<tr class="text_gray_12_bold">
		<td>
			<br/>
			<h5><u>TLV trade בע"מ</u></h5>
		</td>
	</tr>
	<tr class="text_gray_12_bold">
		<td valign="top">
			<table align="right" border="0" width="400px">
				<tr>
					<td><h5>חותמת המנכה</h5></td>
					<td align="right"><img src="#{facesContext.externalContext.requestContextPath}/images/signature.gif" alt="" border="0" width="164px" height="92px"/></td>
				</tr>
			</table>
		</td>

	</tr>

</table>

</body>
</html>
