<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
       >

<table border="0" cellspacing="0" cellpadding="0" align="center" class="table_no_up_border site_width">
	<tr height="8px"><td height="8px" width="960px" colspan="3" style="font-size:1px;">&#160;</td></tr>
   <tr>
   	 <td width="20"></td>
	 <td width="920px">
		 <ui:include src="/jsp/iw/welcomeBanner.xhtml"/>
	 </td>
	 <td width="20"></td>
  </tr>
  <tr>
    <td colspan="3" height="15"></td>
  </tr>
  <tr>
  	<td colspan="3" >
  		<table cellpadding="0" cellspacing="0" border="0" align="center" class="site_width">
    		<tr>
          		<td width="20"></td>
          		<td>
          			<table width="920" cellpadding="0" cellspacing="0" border="0" align="center" >
		              	<tr>
	        			  	<td>
	        			  		<table width="920" cellpadding="0" cellspacing="0" align="center" border="0">
	                    			<tr>
				                    	<td width="360" valign="top"><!-- HOW TO TRADE -->
				                    		<div id="howToHpBanner">
	                        					<ui:include src="/jsp/iw/howToTradeBanner.xhtml" />
	                        				</div>
	                        				<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
												<div id="oneTouchHpBanner" style="display: none;">
	                        						<ui:include src="/jsp/oneTouchBannerHomePage.xhtml" />
	                        					</div>
	                        				</h:panelGroup>
	                        			</td> <!-- END HOW TO TRADE -->
	                      				<td width="10">&#160;</td>
					                    <td width="455">
					                    	<table width="455" cellpadding="0" cellspacing="0" align="center" border="0" >
					                          	<tr>
					                          		<td>
					                          			<!-- unstable -->
					                          			<div id="ls_unstable" style="display:none">
					                          				<!-- unstable_pic come from script dont delete this line-->
								 						</div>
					                          			<!-- trade box -->
						                          		<div id="markets_table">
						                          			<table id="ls_stable" cellpadding="0" cellspacing="0" border="0">
						                          				<tr>
						                          					<td id="box0" width="455">
																		<ui:include src="/jsp/tradingBoxLoading.xhtml" />
								                            		</td>
						                          				</tr>
						                          			</table>
					                            		</div>
														<!-- end of trade box -->
														<!-- off hours -->
						                          		<div id="off_hours_banner" style="display: none;">
						                          			<table cellpadding="0" cellspacing="0" border="0">
						                          				<tr>
						                          					<td id="ohBanner" width="455">
							                            				<img src="" border="0" />
							                            			</td>
						                          				</tr>
						                          			</table>
						                            	</div>
														<!-- end of trade box -->
													</td>
	            			             	  	</tr>
	            			             	  	<tr>
	            			             	  		<td height="5px"></td>
	            			             	  	</tr>
				                         	  	<tr class="gray_background">
				                         	  		<td height="28px" align="center" class="table_border gray_background">
				                         	  			<table border="0" cellpadding="0" cellspacing="0" height="28px">
															<tr>
																<td>
																	<h:outputText value="#{msgs['reuters.logo.txt']}"/>
																</td>
																<td>
																	<a target="_self" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}">
																		<img src="#{applicationData.imagesPath}/iw_11/reuters_logo.gif" width="99px" height="28px" border="0" align="center"/>
																	</a>
																</td>
															</tr>
														</table>
				                         	  		</td>
				                              	</tr>
				                              	<tr>
	            			             	  		<td height="5px"></td>
	            			             	  	</tr>
				                         		<!-- Start of call me -->
				                          	  	<tr>
				                            		<td height="130px">
						                            	<c:if test="${empty sessionScope.user &amp;&amp; applicationData.skinId != 8}">
															<iframe id="contactmeHP" name="contactmeHP" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/iw/contactmeHP.jsf?refresh=true" width="457px" height="130px" scrolling="no" ></iframe>
														</c:if>
														<c:if test="${!empty sessionScope.user}">
															<ui:include src="/jsp/featuresBanner.xhtml"/>
														</c:if>
	                              					</td>
				                         	 	</tr>
	            		            		</table>
	            		         		</td>
	                    			</tr>
	                  			</table>
	               			</td>
            			</tr>
        			</table>
			     </td>
			     <td width="20">&#160;</td>
     		</tr>
     	    <tr>
				<td colspan="3" height="20"></td>
		    </tr>
    <!-- END OF TOP HOME PAGE -->
  	</table>
   </td>
  </tr>
</table>

<!-- FEATURES STRIP -->
<c:if test="${empty sessionScope.user}">
	<table class="site_width" border="0" cellspacing="0" cellpadding="0" align="center">
		<tr bgcolor="#f2f2f2">
			<td width="960px" align="center">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
			</td>
		</tr>
 		<tr>
	  		<td class="site_width">
				<ui:include src="/jsp/#{applicationData.tlvPath}featuresStrip.xhtml"></ui:include>
			</td>
		</tr>
		<tr bgcolor="#f2f2f2">
			<td width="960px" align="center">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
			</td>
		</tr>
	</table>
</c:if>
<!-- END OF FEATURES STRIP -->

<!-- what is and learn about -->
<table border="0" cellspacing="0" cellpadding="0" align="center" class="site_width" bgcolor="#f2f2f2">
	<tr>
		<td height="20px">&#160;</td>
	</tr>
	<tr>
		<td class="site_width"><ui:include src="/jsp/iw/infoAndNewsStrip.xhtml"/></td>
	</tr>
	<tr>
		<td width="960px" align="center">
			<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/stripe.gif" border="0" width="920px" height="10px"/>
		</td>
	</tr>
</table>

</f:view>
