<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

	<table width="210px" height="100%" cellpadding="0" cellspacing="0">
		<tr height="30px">
			<td height="30px" colspan="3">
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
		    </td>
		</tr>
	</table>
</f:view>