<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<BR/>
<table dir="rtl">
	<tr>
		<td width="40%" dir="rtl" align="right">
			<p class="info_pages_text">
					חברת TLVtrade רואה באבטחת המידע של לקוחותיה נושא בעל חשיבות מרכזית ומשקיעה משאבים רבים כדי לשמור על סודיות פרטי הלקוחות ולאפשר פעילות מול שרתי האתר, תוך שימוש בשיטות אבטחה מהמתקדמות ביותר ובמערכות ההצפנה מהחזקות ביותר בעולם.
			</p>
			<p class="info_pages_text">
				<strong>
					המלצות והנחיות לשימוש באתר
				</strong>
			</p>
			<span class="info_pages_text_header" style="text-transform:uppercase;">
				הצפנת תקשורת
				<br/>
			</span>
			<span class="info_pages_text">
				חשוב לוודא כי בתחתית או בראש החלון קיים מנעול סגור או מפתח שלם (בהתאם לגרסת דפדפן המותקנת במחשבך). סימן זה יופיע בזמן ביצוע פעולות כספיות בחשבונך. באמצעות לחיצה כפולה
				על המנעול / המפתח תוצג התעודה הדיגיטלית שהונפקה לאתר. יש לוודא שהגוף המנפיק הוא Thawte ושהתעודה הונפקה ל-TLVtrade.
			</span>
			<br/><br/>
			<span class="info_pages_text_header" style="text-transform:uppercase;">
				הזדהות
				<br/>
			</span>
			<span class="info_pages_text">
				הכניסה למערכת מבוצעת באמצעות הקשת שם משתמש וסיסמה. נתונים אלו הם אישיים ואין להעבירם. מומלץ לוודא כי בעת ההזדהות שלך למערכת, לא ימצאו בסביבתך גורמים לא מורשים.
			</span>
			<p class="info_pages_text">
				אין למסור את סיסמתך האישית לאף גורם, גם אם הוא מזוהה כנציג שירות. אם בכל זאת גורם כלשהו יבקש ממך למסור את הסיסמה האישית, אין למסור אותה ויש לדווח על כך לשירות הלקוחות.
			</p>
			<p class="info_pages_text">
				אין לשמור את שם המשתמש והסיסמה בקובץ במחשב או ליד המחשב.
			</p>
		</td>
		<td width="10%"></td>
		<td valign="top" width="40%" dir="rtl" align="right">
			<span class="info_pages_text_header" style="text-transform:uppercase;">
				סיסמאות
				<br/>
			</span>
			<span class="info_pages_text">
				בחירת סיסמה – מומלץ להקפיד על בחירת סיסמה שתהיה קשה לניחוש. מומלץ לבחור סיסמה המורכבת מצירוף של ספרות ואותיות.
			</span>
			<p class="info_pages_text">
				החלפת סיסמה – מומלץ להחליף סיסמה כל שלושה חודשים. במידה ויש לך חשש כי לגורם נוסף ידועה הסיסמה שלך – יש להחליף מיידית את הסיסמה.
			</p>
			<span class="info_pages_text_header" style="text-transform:uppercase;">
				סיום הפעילות במערכת
				<br/>
			</span>
			<span class="info_pages_text">
				יש לבצע יציאה מסודרת על ידי לחיצה על "התנתק".
			</span>
			<br/><br/>
			<span class="info_pages_text_header" style="text-transform:uppercase;">
				אמצעי אבטחת המידע במערכת
			</span>
			<span class="info_pages_text_header" >
				TLVtrade
			</span>
			<span class="info_pages_text_header" style="text-transform:uppercase;">
			 system
			</span>
			<br/>
			<span class="info_pages_text">
				הגישה למערכת האתר מאובטחת ומבוקרת על ידי Firewall, המאפשר גישה רק לשירותים הנדרשים על ידי המערכת.
			</span>
			<p class="info_pages_text">
				המידע המשודר בין מחשבי האתר למחשב האישי שלך מוצפן באמצעות תקן הצפנה 128 ביט ssl. ה- certificate לאתר ניתן על ידי חברת Thawte.
			</p>
			<p class="info_pages_text">
				חברת TLVtrade  מפעילה אמצעי פיקוח ובקרה על ההתקשרות למערכת ומבצעת רישום של הפעילות המבוצעת במערכת.
			</p>
			<p class="info_pages_text">
				בדיקות אבטחת מידע באתר מתבצעות באופן שוטף על ידי מומחים בתחום אבטחת מידע.
			</p>
		</td>
	</tr>
</table>
</f:view>