<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<body style="background-image: none ;" dir="rtl">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">בונוס מיוחד</span><br/>

		  <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']==1}">
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

						     <span class="bonus_text">
						     אנחנו שמחים לבשר לך שמגיע לך בונוס מיוחד בסך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.<br/>
						     <br/>
						     סכום הבונוס יזוכה בחשבונך מיד לאחר שתבצע הפקדה בסך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['minDeposit']}"/> ויופיע בפירוט חשבונך תחת  "החשבון שלי" » "הפקדות ומשיכות" » "הטבה מ-TLV trade"<br/>
						     <br/>
						     ההצעה בתוקף עד לתאריך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
						     <br/>
						     שים לב שעם מימוש הבונוס חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה.<br/>
						     <br/>
						     </span>
          			</h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2 ||
				 						facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
										facesContext.externalContext.requestParameterMap['bonusStateId']==4}">

						     <span class="bonus_text">
						     	קיבלת בונוס מיוחד בסך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> סכום הבונוס זוכה בחשבונך ומופיע בפירוט החשבון תחת   "החשבון שלי" » "הפקדות ומשיכות" » "הטבה מ-TLV trade"<br/>
						     	<br/>
								ההצעה בתוקף עד לתאריך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
								<br/>
								שים לב שעם מימוש הבונוס חלות הגבלות על משיכה מחשבונך,
								.כמפורט בתנאים הכלליים למטה
								<br/>
								<br/>
						     </span>
					</h:panelGroup>
          </h:panelGroup>

          <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['numOfActions']>1}">
				<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
								  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
							      facesContext.externalContext.requestParameterMap['bonusStateId']==7}" >

          			<span class="bonus_text">
          				אנחנו שמחים לבשר לך שמגיע לך בונוס מיוחד בסך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/> על ההפקדה ה- #{facesContext.externalContext.requestParameterMap['numOfActions']} שלך.<br/>
          				<br/>
          				סכום הבונוס יזוכה בחשבונך מיד לאחר שתבצע הפקדה בסך &#160;#{facesContext.externalContext.requestParameterMap['numOfActions']}  בחשבונך ויופיע בפירוט חשבונך תחת "החשבון שלי" » "הפקדות ומשיכות" » "הטבה מ-TLV trade".<br/>
          				<br/>
          				ההצעה בתוקף עד לתאריך &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
          				<br/>
          				שים לב שעם מימוש הבונוס חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה<br/>
          				<br/>
          			</span>
          		</h:panelGroup>
          		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
          			<span class="bonus_text">
          				אנחנו שמחים לבשר לך שמגיע לך בונוס מיוחד בסך  &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. סכום הבונוס זוכה בחשבונך ומופיע בפירוט החשבון תחת  "החשבון שלי" » "הפקדות ומשיכות" » "הטבה מ-TLV trade".<br/>
          				<br/>
          				ההצעה בתוקף עד לתאריך   &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
          				<br/>
          				שים לב שעם מימוש הבונוס חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה. .<br/>
          				<br/>
          			</span>
          		</h:panelGroup>
          </h:panelGroup>

          <span class="bonus_terms"><strong>בונוסים - תנאים כלליים</strong><br/>
            הבונוס יזוכה לחשבון הלקוח רק לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב<br/>
            <br/>
            אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכה לאחר מימוש הבונוס הוא ביצוע השקעות בגובה פי  &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> מסכום הבונוס. <br/>
            <br/>
            החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול הבונוס ולסגירת חשבון הלקוח באתר החברה<br/>
            <br/>
            יש להשתמש בבונוסים בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בבונוס בתוך פרק זמן זה, הבונוס יימשך מחשבון הלקוח. <br/>
            <br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
          </span>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
