<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body style="background-image: none ;" dir="rtl">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">אופציה עם הגנה מוגדלת</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			אנחנו שמחים להציע לך הטבה מיוחדת: אופציה עם הגנה מוגדלת. <br/><br/>

						באופציה הבאה שתרכוש תוכל ליהנות מהגנה מוגדלת בגובה 85% (במקום 15%) במקרה של פקיעה מחוץ לכסף! במקרה של פקיעה בתוך הכסף תיהנה מאחוזי תשואה רגילים בהתאם לאופציה שתרכוש (65-71%). <br/><br/>

						ההצעה בתוקף עד לתאריך&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

						שים לב שעם מימוש ההטבה חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה. <br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>בונוסים - תנאים כלליים</strong><br/>
	            הבונוס יזוכה לחשבון הלקוח רק לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב<br/><br/>

				אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכה לאחר מימוש הבונוס הוא ביצוע השקעות בגובה פי  #{facesContext.externalContext.requestParameterMap['wageringParam']} מסכום ההשקעה במסגרת ההטבה. <br/><br/>

				החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול הבונוס ולסגירת חשבון הלקוח באתר החברה<br/><br/>

				יש להשתמש בבונוסים בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בבונוס בתוך פרק זמן זה, הבונוס יימשך מחשבון הלקוח. <br/><br/>

				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" /> 
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</body>
</html>
