<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
</head>
<body>
<ui:define name="content">
	<h:panelGroup>
		 <h:panelGrid columns="1" border="0" width="100%" style="text-align:center;">
	<table border="0" cellspacing="10" cellpadding="0" align="center" >
	<tr  valign="middle">
		<td width="216">
			<table width="216"  border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4"  class="qg_table">

					<tr width="216">
						<td width="18px" class="qg_number" >&#160;1&#160;</td>
						<td width="180px"></td>
						<td width="18px"></td>
					</tr>
					<tr>
						<td colspan="3"><img  src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/opn.jpg" width="216" height="20" /></td>
					</tr>

					<tr>
						<td style="width:18px;">&#160;</td>
						<td class="center_align" width="180px" onmouseover="ShowContent('uniquename1'); return true;"
								onmouseout="HideContent('uniquename1'); return true;">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/1.jpg"/>

						<div id="uniquename1" style="display:none;
													  position:absolute;
													  border-style: none;
													  background-color: white;
													  padding: 0px;">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/1xl.jpg"/>
						</div>
						</td>

						<td width="18px">&#160;</td>
					</tr>
					<tr>
						<td colspan="3" height="4"></td>
					</tr>
					<tr>
						<td width="18">&#160;</td>
						<td class="qg_text" width="180px"> Take a few minutes to fill in
										  your personal details accurately.
										  Remember to keep your username
										  and password safe
						</td>
						<td width="18px">&#160;</td>
					</tr>
					<tr>
						<td colspan="3">&#160;</td>
					</tr>
			</table>

		</td>
		<td width="216" >
			<table width="216"  border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4"  class="qg_table">
				<tr>
					<td width="18px" class="qg_number" align="center" >2</td>
					<td width="180px"></td>
					<td width="18px"></td>
				</tr>

				<tr>
					<td colspan="3" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/make.jpg" width="216" height="20" /></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td valign="middle" width="180px" onmouseover="ShowContent('uniquename2'); return true;"
													  onmouseout="HideContent('uniquename2'); return true;">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/2.jpg"/>

					<div id="uniquename2" style="display:none;
											position:absolute;
											border-style: none;
											background-color: white;
											padding: 0px;">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/2xl.jpg"/>
					</div>
					</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>

					<td colspan="3" height="4"></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td class="qg_text" width="180px">Have funds instantly available in
						your account using your card
						or one of the other available deposit
						methods. It's all easy and secure</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>

					<td colspan="3">&#160;</td>
				</tr>
			</table>
		</td>
	<td width="216">
		<table width="216"  border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4"  class="qg_table">
				<tr>
					<td width="18" class="qg_number" align="center">3</td>

					<td width="180px"></td>
					<td width="18"></td>
				</tr>
				<tr>
					<td colspan="3" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/start.jpg" width="216" height="20" /></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td valign="middle" width="180px" onmouseover="ShowContent('uniquename3'); return true;"
													  onmouseout="HideContent('uniquename3'); return true;">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/3.jpg" />
						<div id="uniquename3" style="display:none;
											position:absolute;
											border-style: none;
											background-color: white;
											padding: 0px;">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/3xl.jpg"/>
					</div>
					</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>
					<td colspan="3" height="4"></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td width="180px" class="qg_text">Our most popular and active assets are presented.
					Choose other assets and expiry points using the trading boxes drop down menus</td>

					<td width="18px">&#160;</td>
				</tr>
				<tr>
					<td colspan="3" height="">&#160;</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr align="center">
		<td width="216">
			<table width="216"  border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4"  class="qg_table">
				<tr>
					<td width="18" class="qg_number" align="center" >4</td>
					<td width="180px"></td>
					<td width="18"></td>
				</tr>
				<tr>
					<td colspan="3" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/choose.jpg" width="216" height="20" /></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td width="180px" onmouseover="ShowContent('uniquename4'); return true;"
									  onmouseout="HideContent('uniquename4'); return true;" >
									  <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/4.jpg"/>
									  <div id="uniquename4" style="display:none;
											position:absolute;
											border-style: none;
											background-color: white;
											padding: 0px;">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/4xl.jpg"/>
					</div>
					</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>

					<td colspan="3" height="4"></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td class="qg_text" width="180px">Click "Call" if you predict that  the expiry of the asset will be higher than the level currently quoted. Click "Put" if you think it will be lower</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>

					<td colspan="3">&#160;</td>
				</tr>
			</table></td>
		<td width="216">
			<table width="216"  border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4"  class="qg_table">
				<tr>
					<td width="18px" class="qg_number" align="center" >5</td>
					<td width="180px"></td>
					<td width="18px"></td>
				</tr>
				<tr>
					<td colspan="3" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/enter.jpg" width="216" height="20" /></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td width="180px" valign="middle" onmouseover="ShowContent('uniquename5'); return true;"
									  onmouseout="HideContent('uniquename5'); return true;" >
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/5.jpg"/>

					<div id="uniquename5" style="display:none;
											position:absolute;
											border-style: none;
											background-color: white;
											padding: 0px;">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/5xl.jpg"/>
					</div>
					</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>
					<td colspan="3" height="4"></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td width="180px" class="qg_text" > Type in the amount you would like to
						invest in this option, making sure that
						the investment details are correct,
						and then click "buy"</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>
					<td colspan="3">&#160;</td>
				</tr>
			</table></td>
		<td width="216">
			<table width="216"  border="0" cellspacing="0" cellpadding="0" bgcolor="#f4f4f4"  class="qg_table">
				<tr>
					<td width="18" class="qg_number" align="center" >6</td>
					<td width="180px"></td>
					<td width="18"></td>
				</tr>
				<tr>
					<td colspan="3" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/wait.jpg" width="216" height="20" /></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td width="180px" valign="middle" onmouseover="ShowContent('uniquename6'); return true;"
									  onmouseout="HideContent('uniquename6'); return true;">
						<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/6.jpg"/>
						<div id="uniquename6" style="display:none;
											position:absolute;
											border-style: none;
											background-color: white;
											padding: 0px;">
					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/6xl.jpg"/>
					</div>
					</td>
					<td width="18px">&#160;</td>
				</tr>
				<tr>
					<td colspan="3" height="4"></td>
				</tr>
				<tr>
					<td width="18px">&#160;</td>
					<td width="180px" class="qg_text">At the time of expiry, the expiry level will be displayed
						in the trading box. You can find all historical
						data under "past expires"</td>

					<td width="18px">&#160;</td>
				</tr>
				<tr>
					<td colspan="3">&#160;</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


		</h:panelGrid>

	</h:panelGroup>

</ui:define>
</body>
</html>
