<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<title><h:outputText value="#{msgs['anyoption.title']}"/></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.imagesSubDirectory}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.imagesSubDirectory}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/minisite/link/style.css" />
	
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	<script type="text/javascript" src="link/functions.js"></script>
</head>
	<f:view locale="#{applicationData.userLocale}">
		<body id="body">
			<div class="gd_bgr"></div>
			<div class="gd_cont" id="gd_cont">
				<c:if test="${applicationData.isLive}">
					<ui:include src="/minisite/googleTag.xhtml" />
					<ui:include src="/minisite/google.xhtml" />
				</c:if>
				<div class="gd_trans_bgr f_18">
					<div class="show_text" style="height:1px;">
						<div>
							<h1 class="gd_h1"><h:outputText value="#{msgs['CMS.minisite_contactme.callme_h1']}" escape="false"/></h1>
							<h:form id="contactMeForm">
								<!-- header -->
									<div class="pb20">
										<h:outputText value="#{msgs['CMS.minisite_contactme.callme.header']}" escape="false"/>
										<h:outputLabel value="&#160;"/>
									</div>
								<!-- first name -->
									<h:inputText id="firstName" value="#{contactMeForm.contactName}" required="true"  tabindex="1" maxlength="15"
										onfocus="fBlur(this)" validator="#{commonUtil.validateName}" class="gd_inputText width_100_prc f_18">
									</h:inputText>
									<h:outputLabel value="&#160;"/>
									<t:message id="firstNameError" for="firstName" />
								<!-- eMail -->
									<h:inputText dir="ltr" styleClass="gd_inputText width_100_prc f_18" maxlength="50" id="email" value="#{contactMeForm.email}" required="true"
										onfocus="fBlur(this);this.style.direction='ltr';" onblur="this.style.direction='#{applicationData.pageDirection}';">
									</h:inputText>
									<h:outputLabel value="&#160;"/>
									<t:message id="emailError" for="email"/>
								<!-- Country List -->
									<t:selectOneMenu disabled="#{applicationData.usSkins}" required="false" escape="false" id="countriesList" styleClass="gd_inputText width_100_prc f_18"
										value="#{contactMeForm.countryId}" onchange="changePhoneAndFaxByCountry();">
										<f:selectItems value="#{contactMeForm.countries}" />
									</t:selectOneMenu>
									<h:outputLabel value="&#160;"/>
								<!-- mobile prefix -->
									<h:outputLabel id="mobilePrefix" value="#{contactMeForm.mobilePhonePrefix}"/>
									<h:inputText size="20" maxlength="14" styleClass="gd_inputText width_100_prc f_18" dir="ltr" id="mobilePhone" value="#{contactMeForm.mobilePhone}" required="true">
									</h:inputText>
									<h:outputLabel value="&#160;"/>
									<t:message id="mobilePhoneError" for="mobilePhone"  replaceIdWithLabel="true" styleClass="error_messages f_18"/>
								<!-- Submit Buttons -->
									<t:commandButton id="Submit" value="#{msgs['button.do']}" styleClass="gd_inputText width_100_prc gd_g cs f_18"
										onclick="gowait('contactMeForm:Submit','contactMeForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
										return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');" >
									</t:commandButton>
									<h:commandLink action="#{contactMeForm.sendContactEmailAnyoptionMinisite}" id="hiddenbtn" style="display:none"/>
							</h:form>
						</div>
					</div>
				</div>
			</div>
			<script>
				init_js('s');
				gd_fix_m_h('gd_tabs1_h');
			</script>
		</body>
	</f:view>
</html>