<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<div class="gd_tr_div_sub2">
		<h:outputText value="#{msgs['CMS.minisite_tab1.t1']}" escape="false"/>
	</div>
	<img src="img/gd_how_to_trade.png" alt="How to trade" class="gd_fL gd_mr10"/>
	<p class="gd_pp1">
		<h:outputText value="#{msgs['CMS.minisite_tab1.t2']}" escape="false"/>
	</p>
</f:view>