<ui:composition
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		template="template_banking_popup.xhtml">
	<ui:define name="content">
		<div class="gd_card_h"><h:outputText value="#{msgs['mini.site.tab.banking.wire.cap']}" /></div>
		<div class="gd_trans_bgr f_18">
			<div class="show_text" style="height:1px;">
				<div>
					<h1 class="gd_h1"><h:outputText value="#{msgs['CMS.minisite_wire.h1']}" escape="false"/></h1>
					<h:outputText value="#{msgs['CMS.minisite_wire.t1']}" escape="false"/>
				<!--CURRENCY TABS-->
					<div class="gd_tabs1_h" id="gd_tabs1_h">
						<div class="clear oH">
							<span class="hov" style="width:auto;padding:7px;" onclick="gd_ch_tab(this,1);"><h:outputText value="#{msgs['CMS.minisite_wire.tab1']}" escape="false"/></span>
							<span class="" style="width:auto;padding:7px;" onclick="gd_ch_tab(this,'2');"><h:outputText value="#{msgs['CMS.minisite_wire.tab2']}" escape="false"/></span>
							<span class="" style="width:auto;padding:7px;" onclick="gd_ch_tab(this,'3');"><h:outputText value="#{msgs['CMS.minisite_wire.tab3']}" escape="false"/></span>
							<span class="" style="width:auto;padding:7px;" onclick="gd_ch_tab(this,'4');"><h:outputText value="#{msgs['CMS.minisite_wire.tab4']}" escape="false"/></span>
						</div>
					</div>
				<!--CURRENCY TABS END-->
					<div id="id1">
						<div class="gd_trans_bgr f_18">
							<h:outputText value="#{msgs['CMS.minisite_wire.tab1_in']}" escape="false"/>
						</div>
					</div>
					<div id="id2" style="display:none">
						<div class="gd_trans_bgr f_18">
							<h:outputText value="#{msgs['CMS.minisite_wire.tab2_in']}" escape="false"/>
						</div>
					</div>
					<div id="id3" style="display:none">
						<div class="gd_trans_bgr f_18">
							<h:outputText value="#{msgs['CMS.minisite_wire.tab3_in']}" escape="false"/>
						</div>
					</div>
					<div id="id4" style="display:none">
						<div class="gd_trans_bgr f_18">
							<h:outputText value="#{msgs['CMS.minisite_wire.tab4_in']}" escape="false"/>
						</div>
					</div>
					<br />
					<h:outputText value="#{msgs['CMS.minisite_wire.t2']}" escape="false"/>
					<br /><br /><br />
					<h1 class="gd_h1"><h:outputText value="#{msgs['CMS.minisite_wire.h2']}" escape="false"/></h1>
					<h:outputText value="#{msgs['CMS.minisite_wire.t3']}" escape="false"/>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>