<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<ui:composition template="/mobile/templates/template_no_padding.xhtml">
	<ui:define name="windowtitle">
		#{msgs['bonus.jsf.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['header.myaccount']}
	</ui:define>
	<ui:define name="leftSideHeader">
		<ui:include src="/mobile/backToPage.xhtml" >
			<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
		</ui:include>
	</ui:define>
	<ui:define name="pageTitleInner">
		<div class="subhead" align="center">
			<h:outputLabel value="#{msgs['header.bonus']}" />
		</div>
	</ui:define>
	<ui:define name="head">
		<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel.css" type="text/css" media="all" />
		<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel-min.js?v=1.4">
		</script>
	</ui:define>
	<ui:define name="content">
		<script language="JavaScript" id="js1">
			function openMyPopup(typeId,amount,numOfActions,startDate,endDate,minDeposit,maxDeposit,wageringParam,bonusPercent,sumInvQualify,bonusStateId,bonusExpired,hasSteps,bonusSteps,symbol,bonusAmountNoFormat, maxInvestAmount, minInvestAmount,bonusId){
				document.getElementById("bonusAmount").value=amount;
				document.getElementById("numOfActions").value=numOfActions;
				document.getElementById("startDate").value=startDate;
				document.getElementById("endDate").value=endDate;
				document.getElementById("minDeposit").value=minDeposit;
				document.getElementById("maxDeposit").value=maxDeposit;
				document.getElementById("wageringParam").value=wageringParam;
				document.getElementById("bonusPercent").value=bonusPercent;
				document.getElementById("sumInvQualify").value=sumInvQualify;
				document.getElementById("bonusStateId").value=bonusStateId;
				document.getElementById("bonusExpired").value=bonusExpired;
				document.getElementById("hasSteps").value=hasSteps;
				document.getElementById("bonusSteps").value=bonusSteps;
				document.getElementById("symbol").value=symbol;
				document.getElementById("bonusAmountNoFormat").value=bonusAmountNoFormat;
				document.getElementById("minInvestAmount").value=minInvestAmount;
				document.getElementById("maxInvestAmount").value=maxInvestAmount;
				document.getElementById("bonusId").value=bonusId
				document.getElementById("termsForm").action="../termsBonus"+typeId+".jsf";
				document.getElementById("termsForm").submit();
			}

			function updateListTitle(){
				var bonusStatusList = document.getElementById('userBonusForm:bonusStatusList');
				var status = bonusStatusList[bonusStatusList.selectedIndex].text;
				document.getElementById('stateId').innerHTML = 'Status: ' + status;
			}

		</script>
		<t:saveState id="userBonusFormSave" value="#{userBonusForm}" />
		<h:form id="userBonusForm">
			<div id="mainDiv" align="center" class="">
				<div class="center_align" align="center" style="width:230px;">
					<div class="float_left date_select_div_min" style="margin-top:4px" onclick="showDatePicker(#{applicationData.androidApp},'userBonusForm:from','userBonusForm:fromDateSpan');">
						<h:outputText style="margin-left:7px;" id="fromDateSpan" value="#{userBonusForm.from}">
							<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						</h:outputText>
						<h:inputHidden id="from" name="from" value="#{userBonusForm.from}">
							<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						</h:inputHidden>
					</div>
					<div class="float_left" style="line-height:22px; width:32px; text-align:center; ">
						<h:outputLabel styleClass="lable" value="-"/>
					</div>
					<div class="float_right date_select_div_min" style="margin-top:4px" onclick="showDatePicker(#{applicationData.androidApp},'userBonusForm:to','userBonusForm:toDateSpan');">
						<h:outputText style="margin-left:7px;" id="toDateSpan" value="#{userBonusForm.to}">
							<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						</h:outputText>
						<h:inputHidden id="to" name="to" value="#{userBonusForm.to}">
							<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
						</h:inputHidden>
					</div>

					<div class="center_align width_100_prc div_clear_float" style="height:5px;">&#160;</div>
					<div class="center_align div_clear_float" align="center" style="width:230px;">
						<t:selectOneMenu immediate="false" id="bonusStatusList"
							 escape="false" styleClass="select_div" style="padding-left: 5px;" value="#{userBonusForm.filterState}" >
								<f:selectItems value="#{userBonusForm.bonusStatusSI}" />
						</t:selectOneMenu>
					</div>
					<div class="center_align width_100_prc div_clear_float" style="height:3px;">&#160;</div>
					<div class="center_align div_clear_float" align="center" style="width:230px;">
						<t:commandButton label="btnImage" id="btnImage" styleClass="nav_button_blue_75" value="#{msgs['button.do']}"
							 onclick="return myfaces.oam.submitForm('userBonusForm','userBonusForm:hiddenbtn');" />
						<h:commandLink action="#{userBonusForm.updateBonusList}"	id="hiddenbtn" style="display:none"/>
					</div>
				</div>
			</div>

			<div id="mainDiv" align="center" class="div_clear_float">
				<h:panelGroup>
					<br/>
					<h:panelGrid rendered="#{userBonusForm.listSize==0}" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0" >
						<h:panelGrid align="center" columns="1" border="0" >
							<t:outputText styleClass="pages_text" value="#{msgs['bonus.emptylist']}" />
						</h:panelGrid>
					</h:panelGrid>

					<h:panelGrid align="center" columns="1" border="0" width="100%" cellpadding="0" cellspacing="0">
						<t:dataTable id="data"
							styleClass="width_100_prc"
							headerClass="table_header_font_11pt_white table_column_align_left padd-left5"
							rowClasses="table_row_11pt_bg_white, table_row_11pt_bg_blue"
							columnClasses="table_column_align_left padd-left5,table_column_align_left padd-left5,table_column_align_left padd-left5,table_column_align_left padd-left5"
							var="v"
							value="#{userBonusForm.bonusList}"
							preserveDataModel="false"
							rows="10"
							renderedIfEmpty="false"
							cellpadding="0"
							cellspacing="0">

						   <h:column>
							   <f:facet name="header">
								   <h:outputText value="#{msgs['bonus.header.status']}"/>
							   </f:facet>
							   <h:outputText value="#{v.bonusStateTxt}" />
						   </h:column>

						   <h:column>
							   <f:facet name="header">
								   <h:outputText value="#{msgs['bonus.end.date']}"/>
							   </f:facet>
							   <h:outputText value="#{v.endDateTxt}" />
						   </h:column>

							<h:column>
								<f:facet name="header">
									<h:outputText value="#{msgs['bonus.header.detail']}"/>
								</f:facet>
								<span class="blue_link_10"
										onclick="openMyPopup('#{v.typeId}','#{v.bonusAmountTxt}','#{v.numOfActions}','#{v.startDateTxt}','#{v.endDateTxt}','#{v.minDepositAmountTxt}','#{v.maxDepositAmountTxt}','#{v.wageringParam}','#{v.bonusPercentTxt}','#{v.sumInvQualifyTxt}','#{v.bonusStateId}','#{v.bonusExpired}','#{v.hasSteps}','#{v.bonusStepsForHTML}','#{msgs[v.currency.symbol]}','#{v.bonusAmount}','#{v.maxInvestAmountTxt}','#{v.minInvestAmountTxt}','#{v.bonusId}')">
									<h:outputText value="#{msgs['bonus.click.here']}" />
								</span>
						   </h:column>

						   <h:column>
							   <f:facet name="header">
									<h:outputText value="#{msgs['bonus.header.cancel']}"/>
							   </f:facet>
								<t:commandLink styleClass="blue_link_10" rendered="#{v.bonusStateId == '1' || v.bonusStateId == '2'}" action="#{userBonusForm.navToCancelApprovePage}" >
									<h:outputText value="#{msgs['bonus.cancel']}"/>
									<f:setPropertyActionListener target="#{userBonusForm.bonusUser}" value="#{v}" />
								</t:commandLink>
						   </h:column>
						</t:dataTable>

						<h:panelGrid rendered="#{userBonusForm.listSize>10}" columns="1" border="0" style="text-align:center; width:100%; background-color: #333;" align="center" >
							<t:dataScroller id="scroll_1"
								for="data"
								fastStep="10"
								pageCountVar="pageCount"
								pageIndexVar="pageIndex"
								styleClass=""
								paginatorActiveColumnClass="paginator_active"
								paginatorColumnClass="paginator_cols"
								paginatorTableClass="paginator"
								paginatorRenderLinkForActive="false"
								paginator="true"
								paginatorMaxPages="9"
								immediate="true"
								rendered="#{userBonusForm.listSize>10}"
								style="align:center; width:100%;"
								>
									<ui:include src="/mobile/templates/scroller_facets.xhtml"/>

							</t:dataScroller>
						</h:panelGrid>

					</h:panelGrid>

					<div id="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:white;z-index:1;layer-background-color:white;"></div>
					<iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0" scrolling="No"></iframe>
				</h:panelGroup>
			</div>
		 </h:form>

		 <form method="POST" style="display:none;" id="termsForm">
			<input name="bonusAmount" id="bonusAmount"/>
			<input name="numOfActions" id="numOfActions"/>
			<input name="startDate" id="startDate"/>
			<input name="endDate" id="endDate"/>
			<input name="minDeposit" id="minDeposit"/>
			<input name="maxDeposit" id="maxDeposit"/>
			<input name="wageringParam" id="wageringParam"/>
			<input name="bonusPercent" id="bonusPercent"/>
			<input name="sumInvQualify" id="sumInvQualify"/>
			<input name="bonusStateId" id="bonusStateId"/>
			<input name="bonusExpired" id="bonusExpired"/>
			<input name="hasSteps" id="hasSteps"/>
			<input name="bonusSteps" id="bonusSteps"/>
			<input name="symbol" id="symbol"/>
			<input name="bonusAmountNoFormat" id="bonusAmountNoFormat" />
			<input name="minInvestAmount" id="minInvestAmount"/>
			<input name="maxInvestAmount" id="maxInvestAmount"/>
			<input name="bonusId" id="bonusId"/>
		</form>
		<script>updateListTitle();</script>
	</ui:define>
</ui:composition>
</html>