<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['changepass.page']}" />
	</div>
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
	</ui:include>
</ui:define>
<ui:define name="content">

	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<div id="mainDiv" align="center" class="pages_main_div">
		<h:form id="registerForm">

	   	   	<h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

			<div class="left_align width_100_prc" align="left">
				<h:outputLabel styleClass="lable" for="oldPassword" value="#{msgs['register.oldpassword']}"/>
				<div class="left_align">
			        <h:inputSecret styleClass="new_input width_100_prc" id="oldPassword" value="#{registerForm.oldPassword}" required="true" redisplay="true" />
			    </div>
				<div class="width_100_prc fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable" for="password" value="#{msgs['register.newpassword']}"/>
				<div class="left_align">
			        <h:inputSecret styleClass="new_input width_100_prc" id="password" maxlength="9" value="#{registerForm.password}" required="true" redisplay="true" validator="#{commonUtil.validatePasswordTypeAndSize}">
			        </h:inputSecret>
			    </div>
				<div class="width_100_prc fields_height" >&#160;</div>

			    <h:outputLabel styleClass="lable" for="password2" value="#{msgs['register.retypeNewPassword']}"/>
				<div class="left_align">
			        <h:inputSecret styleClass="new_input width_100_prc" id="password2" value="#{registerForm.password2}" required="true"
			        redisplay="true"  validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
			        </h:inputSecret>
			    </div>
				<div class="width_100_prc fields_height" >&#160;</div>
			</div>

			<t:commandButton label="button" id="button" width="50px" height="20px" styleClass="nav_button_blue"
					value="#{msgs['button.do']}" onclick="return myfaces.oam.submitForm('registerForm','registerForm:hiddenbtn');" />
			<h:commandLink action="#{registerForm.changePass}" id="hiddenbtn" style="display:none"/>
			<br/>
		</h:form>
	</div>

	<script>
		displayFirstErrorDiv();
	</script>

</ui:define>
</ui:composition>

</html>


