<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">

<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/myaccountMenu.jsf" />
	</ui:include>
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['header.withdraw']} - #{msgs['header.creditcards']}" />
	</div>
</ui:define>
<ui:define name="content">

    <div id="mainDiv" class="pages_main_div_90">
        <t:messages rendered="#{commonUtil.hasMessages}" id="messages" layout="table" globalonly="true" errorClass="error_messages" infoClass="info_pages_text_header"/>
	</div>


</ui:define>
</ui:composition>

</html>
