<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/mobile/templates/template_general.xhtml">
<ui:define name="windowtitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="pageTitle">
	#{msgs['header.myaccount']}
</ui:define>
<ui:define name="leftSideHeader">
	<ui:include src="/mobile/backToPage.xhtml" >
		<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/depositMenu.jsf" />
	</ui:include>
</ui:define>
<ui:define name="pageTitleInner">
	<div class="subhead" align="center">
		<h:outputLabel value="#{msgs['newCard.jsf.title']} - #{msgs['header.creditcards']}" />
	</div>
</ui:define>

<ui:define name="content">

	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<h:panelGroup rendered="#{depositForm.ccListSize > 0}" >
		<div class="pages_main_div_80 row_height" align="center">
			<div class="float_left">
				<span onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/pages/deposit.jsf'"
						id="newCardLink" class="blue_link" >
					<h:outputText value="#{msgs['box.profitline.arrow']}"/>&#160;<h:outputText value="#{msgs['header.creditcards']}"/>
				</span>
			</div>
			<div class="float_right">
				<span onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/pages/cards.jsf'"
						class="blue_link" >
					<h:outputText value="#{msgs['box.profitline.arrow']}"/>&#160;<h:outputText value="#{msgs['header.cards']}"/>
				</span>
			</div>
		</div>
		<div class="width_100_prc" align="center" style="height:1px; border-top:1px solid #333;">&#160;</div>
		<br/>
	</h:panelGroup>

	<div id="mainDiv" align="center" class="pages_main_div_20px">
        <h:form id="newCardForm">
        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

		    <div class="left_align width_100_prc" align="left">
				<ui:include src="/mobile/pages/newCardContent.xhtml"/>
			</div>
		</h:form>
	</div>

	<h:panelGroup rendered="#{reverseWithdrawForm.listSize>0 &amp;&amp; !user.stopReverseWithdrawOption}">
		<t:saveState value="#{reverseWithdrawForm}" />
		<br/>
		<div align="center">
			<h:outputText styleClass="pages_text font_size_11" value="#{msgs['mobile.transactions.reverseClick']}"/><br/>
			<h:outputText value="#{msgs['bonus.cannot.withdraw.error.link2']} #{msgs['transactions.reverseToReverse']}"
					onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/pages/reverseWithdraw.jsf'"/>
		</div>
	</h:panelGroup>

	<script>
		displayFirstErrorDiv();
	</script>

</ui:define>
</ui:composition>
</html>
