<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
  <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />

  <script>
	  	document.domain = "#{applicationData.domainUrl}";

  		// reload all page after loggedin
		if (#{user.firstTimeLogin}) {
			try {
				parent.storeSlipStateToCookie();
			} catch (err) {
				// do nothing
				//alert(err);
			}
			//window.top.location.reload(true);
			window.top.location.href = window.top.location.href;
			#{user.setFirstTimeLogin}
		} else {
			try {
				parent.clearSlipStateFromCookie();
			} catch (err) {
				// do nothing
				//alert(err);
			}
		}
  </script>
</head>

<BODY dir="#{applicationData.pageDirection}" onload='onloadd();'>



<script>
	try {
		if ( window.top.location.href.indexOf("index_error.jsf") > -1 ) {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
		}

	/*	if (window.top.location.href.indexOf("charts.jsf")>-1 || window.top.location.href.indexOf("contactus.jsf")>-1) {
			if (#{user.firstTimeLogin}) {
				window.top.location.href=window.top.location.href;
				#{user.setFirstTimeLogin}
			}
		}*/
	} catch (err) {
		//alert(err);
	}

	try {
		parent.document.getElementById('contactuscontent').contentWindow.location.reload();
	} catch (err) {
		//alert(err);
	}

function onloadd() {

	try {
	  if (window.top.location.href.indexOf("index_error.jsf")>-1) {
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	  }

	} catch (err) {
		//document.getElementById('HeaderForm:homepage_div').style.visibility = 'visible';
	}

}
</script>

<f:view locale="#{applicationData.userLocale}">


<h:panelGroup id="body">
<h:form id="HeaderForm">

<!-- Begin Table -->
<table width="970" height="82" border="0" cellspacing="0" cellpadding="0" class="header" >
  <tr width="970" height="82">
    <td width="360" height="82" align="#{applicationData.pageAlignment}" valign="top"><a HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top"><img style="margin-left:7px;" alt="#{msgs['anyoption.title']}" title="#{msgs['anyoption.title']}" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/options_trading_anyoption.jpg" border="0" /></a></td>
    <td width="250" height="82">&#160;</td>
    <td width="360" height="82" align="right" valign="top">
		<table id="loginTable" align="#{applicationData.pageAlignment}" width="336px" height="70px" border="0" cellspacing="0" cellpadding="0"
		class="header_login_table">
	    		<tr valign="top">
	    			 <td width="336px" height="15px" colspan="4">&#160;</td>
		    	</tr>
	    		<tr valign="top">
					 <td width="18px" height="10px">&#160;</td>
	            	 <td width="120px" valign="middle" height="10px" style="vertical-align: bottom;">
	    				<h:outputText styleClass="header_text" value="#{msgs['header.loggedin.hello']}  #{user.firstName}" />
	    			</td>
	    			<td width="145px" valign="middle" height="10px" style="vertical-align: bottom;">
	    				<b><h:outputText escape="false" styleClass="header_text" value="#{msgs['header.loggedin.balance']}: " /></b><h:outputText styleClass="header_text" value="#{user.balanceTxt}" dir="ltr"/>
					</td>
	 				<td width="53px" height="10px">&#160;</td>
		    	</tr>
	    		<tr>
					<td width="18px" valign="bottom" height="23px"></td>
            		<td width="120px" valign="bottom" height="23px">
						<h:outputLink style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf"
							target="_top"  ><img style="vertical-align:bottom;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/myaccount.jpg"
							 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/myaccount_d.jpg'" border="0" width="88px" height="17px"
							 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/myaccount.jpg'"
							 ></img>

						</h:outputLink>
	            	</td>
	           	    <td width="145px" valign="bottom" height="20px">
						<h:outputLink style="vertical-align:bottom;" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
							target="_top"  ><img style="vertical-align:bottom;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/deposit_u.jpg"
											 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/deposit_d.jpg'"
											 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/deposit_u.jpg'"
							border="0" width="88px" height="17px"></img>
						</h:outputLink>
						&#160;&#160;&#160;<h:outputLink style="vertical-align:middle;" immediate="true" value="#{facesContext.externalContext.requestContextPath}/jsp/pages/bonuses.jsf?stateId=4" target="_top" rendered="#{user.hasBonusActiveOrGranted}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/envelop.gif" style="vertical-align:bottom;" border="0" width="19px" height="12px"/></h:outputLink>
	           	    </td>
	 				<td width="53px" align="#{applicationData.pageAlignment}" valign="center" height="23px">
						<!-- Logout -->
						<h:form id="logoutForm" style="display: inline-block;">
							<h:commandLink id="logoutLink"
											action="#{logoutForm.logout}"
											value="» #{msgs['header.loggedin.logout']}"
											styleClass="header_link_yellow"
											target="_top"/>
							<script>
								document.getElementById('logoutForm:logoutLink').href='#{facesContext.externalContext.requestContextPath}/logout';
							</script>
						</h:form>
					</td>
		    	</tr>
				<tr valign="top"><td width="336px" height="*" colspan="4"></td></tr>
       </table>
    </td>
  </tr>
</table>

<!-- End Table -->
</h:form>
</h:panelGroup>
</f:view>
</BODY>
</html>