
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<h:form id="LastLevels">
<TABLE align="center" border="0" cellpadding="0" cellspacing="0" height="52px" width="300">
	<TR>
		<c:set var="class" value="onetouch_lastlevels_active"/>
		<c:if test="${td=='lastLevels'}">
			<c:set var="class" value="onetouch_lastlevels"/>
		</c:if>

		 <TD ALIGN="center" valign="middle" class="${class}" WIDTH="147">

		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}"
												target="_top" id="investLink" styleClass="${class}" >
					<h:outputText value="#{msgs['CMS.lastLevels_strip.label.header.lastlevels.binaryOptions']}"/>
			</h:outputLink>

	    </TD>


		<TD ALIGN="CENTER" WIDTH="5" ><span class="text_gray_12">|</span></TD>

		<TD ALIGN="CENTER" WIDTH="7" ></TD>

		<c:set var="class" value="onetouch_lastlevels_active"/>
		<c:if test="${td=='lastLevelsOneTouch'}">
			<c:set var="class" value="onetouch_lastlevels"/>
		</c:if>

		<TD ALIGN="center" valign="middle" class="${class}" WIDTH="148">

			<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/lastLevelsOneTouch.jsf"
												target="_top" id="transtLink" styleClass="${class}" >
					<h:outputText value="#{msgs['CMS.lastLevels_strip.label.header.lastlevels.oneTouchOptions']}"/>
			</h:outputLink>

		</TD>

	</TR>
</TABLE>
</h:form>

</f:view>