
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<h:form id="MyAccountSubWithdrawal">


<c:if test="${withdrawForm.isHaveCcForWithdrawal}">
	<c:if test="${withdrawForm.withdrawalMoreOptionNeeded}">
		<c:set var="tableWidth" value="350px"/>
	</c:if>
	<c:if test="${!withdrawForm.withdrawalMoreOptionNeeded}">
		<c:set var="tableWidth" value="200px"/>
	</c:if>
</c:if>

<c:if test="${!withdrawForm.isHaveCcForWithdrawal}">
	<c:set var="tableWidth" value="200px"/>
</c:if>

<c:if test="${withdrawForm.isHaveCcForWithdrawal}">

	<TABLE bgcolor="#ffffff" id="myaccount_submenu" cellpadding="0" cellspacing="0" height="22px" width="${tableWidth}" class="myAccount_table_border" align="center">
	  <TR valign="top">

		<c:set var="class" value="myAccount_menu_stripe_link"/>
		<c:if test="${std=='reverseWithdrawal'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active"/>
		</c:if>

		<h:panelGroup rendered="#{withdrawForm.withdrawalMoreOptionNeeded}" >
			<c:set var="class" value="myAccount_menu_stripe_link"/>
			<c:if test="${std=='wire'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active"/>
			</c:if>

			 <TD ALIGN="CENTER" valign="middle" WIDTH="200">

			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf"
													target="_top" id="investLink" class="${class}" >
						<h:outputText value="#{msgs['header.wire']}"/>
				</h:outputLink>

		    </TD>
		</h:panelGroup>

		<c:set var="class" value="myAccount_menu_stripe_link"/>
		<c:if test="${std=='ccWithdrawal'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active"/>
		</c:if>

	 	<TD ALIGN="CENTER" valign="middle"  WIDTH="150">
	  	  <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/creditCard_withdraw.jsf"												target="_top" class="${class}" >
				<h:outputText value="#{msgs['header.page.credit.withdraw']}"/>
			</h:outputLink>
    	</TD>

	  </TR>
	</TABLE>

</c:if>

<c:if test="${!withdrawForm.isHaveCcForWithdrawal}">
	<TABLE bgcolor="#ffffff" cellpadding="0" id="myaccount_tab" cellspacing="0" height="22px" width="${tableWidth}" class="myAccount_table_border" align="center">
	<TR>

		<c:set var="class" value="myAccount_menu_stripe_link"/>
		<c:if test="${std=='reverseWithdrawal'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active"/>
		</c:if>


		<c:set var="class" value="myAccount_menu_stripe_link"/>
		<c:if test="${std=='wire'}">
			<c:set var="class" value="myAccount_menu_stripe_link_active"/>
		</c:if>

		 <TD ALIGN="CENTER" valign="middle" WIDTH="200">

		    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf"
												target="_top" id="investLink" class="${class}" >
					<h:outputText value="#{msgs['header.wire']}"/>
			</h:outputLink>

	    </TD>

	</TR>
	</TABLE>
</c:if>

</h:form>

</f:view>