<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:c="http://java.sun.com/jsp/jstl/core"
      	xmlns:t="http://myfaces.apache.org/tomahawk"
      	 >

	<script>
		/*
			This is done just to FF, to solve the problem that in FF the onclick
			event pressed just from the lable and not the whole td
		*/
		function changeSkin(element) {

			document.getElementById(element).onclick();

		}
		function changeLinkColor(element, type) {
			element.style.backgroundColor='#556B69';
			if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) {  //IE
				prevColor = element.children[0].getElementsByTagName(type)[0].style.color;
				element.children[0].getElementsByTagName(type)[0].style.color="white";
			} else {
					prevColor = element.childNodes[1].getElementsByTagName(type)[0].style.color;
					element.childNodes[1].getElementsByTagName(type)[0].style.color="white";
			}
		}

		function changeColorBack(element, type) {
			element.style.backgroundColor='#FFFFFF';
			if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
				element.children[0].getElementsByTagName(type)[0].style.color=prevColor;
			} else {
					element.childNodes[1].getElementsByTagName(type)[0].style.color=prevColor;
			}

		}

	</script>


	<c:if test="#{applicationData.isHasVersion2Skin}">
	<c:set var="englishSkin" value="7"/>
	</c:if>
	<c:if test="#{!applicationData.isHasVersion2Skin}">
	<c:set var="englishSkin" value="2"/>
	</c:if>

	<table border="0" align="#{applicationData.pageAlignment}" cellpadding="0" cellspacing="0">
		<tr align="#{applicationData.pageAlignment}">
			<td valign="top" align="#{applicationData.pageAlignment}">

				<c:set var="skin" value="#{applicationData.skinId}"/>

				<table border="0" cellpadding="0" cellspacing="0" width="80px">
					<c:if test="${skin==2}">
						<tr onmouseover="changeLinkColor(this,'label');" onmouseout="changeColorBack(this,'label');" style="cursor:default">
							<td>
				           		<h:outputLabel value="#{msgs['CMS.skinsMenu.label.languages.eng']}" id="linken1" forceId="true" style="width:80px;" styleClass="skins_menu_link_active" />
							</td>
						</tr>
					</c:if>
					<c:if test="${skin!=2}">
						<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
							<td style="cursor:pointer" onclick="changeSkin('linken2');" >
					        	<t:commandLink style="width:80px;" id="linken2" forceId="true" action="#{skinsForm.changeSkin}" immediate="true" styleClass="skins_menu_link" >
					           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.eng']}"/>
									<f:setPropertyActionListener target="#{skinsForm.skinId}" value="#{englishSkin}" />
								</t:commandLink>
							</td>
						</tr>
					</c:if>
					<tr><td height="2px"></td></tr>
					<c:if test="${skin==3}">
						<tr onmouseover="changeLinkColor(this,'label');" onmouseout="changeColorBack(this,'label');" style="cursor:default">
							<td>
				           		<h:outputLabel value="#{msgs['CMS.skinsMenu.label.languages.tur']}" id="linktr1" forceId="true" style="width:80px;" styleClass="skins_menu_link_active"/>
							</td>
						</tr>
					</c:if>
					<c:if test="${skin!=3}">
						<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
							<td style="cursor:pointer" onclick="changeSkin('linktr2');" >
					        	<t:commandLink style="width:80px;" id="linktr2" forceId="true" action="#{skinsForm.changeSkin}" immediate="true" styleClass="skins_menu_link" >
					           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.tur']}"/>
									<f:setPropertyActionListener target="#{skinsForm.skinId}" value="3" />
								</t:commandLink>
							</td>
						</tr>
					</c:if>
					<tr><td height="2px"></td></tr>
					<c:if test="${skin==5}">
						<tr onmouseover="changeLinkColor(this,'label');" onmouseout="changeColorBack(this,'label');" style="cursor:default">
							<td>
				           		<h:outputLabel value="#{msgs['CMS.skinsMenu.label.languages.spa']}" id="linkes1" forceId="true" style="width:80px;" styleClass="skins_menu_link_active"/>
							</td>
						</tr>
					</c:if>

					<c:if test="${skin!=5}">
						<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
							<td style="cursor:pointer" onclick="changeSkin('linkes2');" >
					        	<t:commandLink style="width:80px;" id="linkes2" forceId="true" action="#{skinsForm.changeSkin}" immediate="true" styleClass="skins_menu_link" >
					           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.spa']}"/>
									<f:setPropertyActionListener target="#{skinsForm.skinId}" value="5" />
								</t:commandLink>
							</td>
						</tr>
					</c:if>
					<tr><td height="2px"></td></tr>
					<c:if test="${skin==4}">
						<tr onmouseover="changeLinkColor(this,'label');" onmouseout="changeColorBack(this,'label');" style="cursor:default">
							<td>
				           		<h:outputLabel value="#{msgs['CMS.skinsMenu.label.languages.ar']}" id="linkar1" forceId="true" style="width:80px;" styleClass="skins_menu_link_active"/>
							</td>
						</tr>
					</c:if>
					<c:if test="${skin!=4}">
						<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
							<td style="cursor:pointer" onclick="changeSkin('linkar2');" >
					        	<t:commandLink style="width:80px" id="linkar2" forceId="true" action="#{skinsForm.changeSkin}" immediate="true" styleClass="skins_menu_link" >
					           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.ar']}" />
									<f:setPropertyActionListener target="#{skinsForm.skinId}" value="4" />
								</t:commandLink>
							</td>
						</tr>
					</c:if>
					<tr><td height="2px"></td></tr>
					<c:if test="${skin==8}">
						<tr onmouseover="changeLinkColor(this,'label');" onmouseout="changeColorBack(this,'label');" style="cursor:default">
							<td>
				           		<h:outputLabel value="#{msgs['CMS.skinsMenu.label.languages.de']}" id="linkde1" forceId="true" style="width:80px;" styleClass="skins_menu_link_active"/>
							</td>
						</tr>
					</c:if>
					<c:if test="${skin!=8}">
						<tr onmouseover="changeLinkColor(this,'a');" onmouseout="changeColorBack(this,'a');" >
							<td style="cursor:pointer" onclick="changeSkin('linkde2');" >
					        	<t:commandLink style="width:80px;" id="linkde2" forceId="true" action="#{skinsForm.changeSkin}" immediate="true" styleClass="skins_menu_link" >
					           		<h:outputText value="#{msgs['CMS.skinsMenu.label.languages.de']}"/>
									<f:setPropertyActionListener target="#{skinsForm.skinId}" value="8" />
								</t:commandLink>
							</td>
						</tr>
					</c:if>

				</table>
			</td>
		</tr>
	</table>

</f:view>
