<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content="#{msgs['register.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}" class="gray_background">
<f:view locale="#{applicationData.userLocale}">


<script>
	var skinId = #{applicationData.skinId};
</script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<c:set var="selectedTd" value="register" />


<table align="center" width="970" border="0" cellpadding="0" cellspacing="0" style="border-color: #848887;border-width:1px 1px 1px 1px;border-style:solid solid solid solid;">
    <tr width="970" height="82">
        <td width="970" height="82" align="#{applicationData.pageAlignment}" valign="middle" class="header"><a HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top" ><img style="margin-left:7px;" alt="#{msgs['anyoption.title']}" title="#{msgs['anyoption.title']}" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/options_trading_anyoption.jpg" border="0" /></a></td>
    </tr>
    <tr>
	    <td width="970" height="28px">
			<ui:include src="/jsp/#{applicationData.userLocale.language}/tickerWrapper.xhtml"></ui:include>
		</td>
	</tr>
    <tr>
       		<td >
			<table border="0" width="970" cellpadding="0" cellspacing="0" id="holder" style="background-color:#FFFFFF" > <!--  first -->
				<tr><td height="8" colspan="3" bgcolor="#e1e1e1"><ui:insert name="message"></ui:insert></td></tr>
				<tr height="32px" class="menu_stripe">
							 <td width="8px" height="33px" class="menu_underline" >
							<table cellpadding="0" cellspacing="0" border="0" width="8px"  height="33px" class="gray_background">
								<tr height="33px">
									<td  style="font-size:1px">&#160;</td>
								</tr>
							</table>
							</td>
			                   <td>
						           <table border="0" cellpadding="0" height="32px" width="954px" cellspacing="0" align="left" bgcolor="#FFFFFF"> <!--  MENU STRIP table -->
						             <tr class="menu_stripe" align="left" bgcolor="#e1e1e1">
										<td width="16" class="menu_underline">&#160;
										</td>
						                <td align="left" width="694px" class="menu_underline_align">
						                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" />
						                </td>

										<td align="#{applicationData.pageAlignmentReverse}" width="26" class="menu_underline" >&#160;</td>

				   		                <td width="16" class="menu_underline">&#160;</td>
						                <td width="186" align="right" height="32">
						                	<table border="0" cellpadding="0" cellspacing="0">
						                	<tr>
						                		<td class="menu_underline">
													<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
												</td>
											</tr>
											</table>
						                </td>
						                <td width="16" class="menu_underline">&#160;</td>
						             </tr>

						           </table>
					           </td>
			                 <td width="8px" height="33px" class="menu_underline" >
							<table cellpadding="0" cellspacing="0" border="0" width="8px"  height="33px" class="gray_background">
								<tr height="33px">
									<td style="font-size:1px">&#160;</td>
								</tr>
							</table>
							</td>
				</tr>
		                <tr><td height="8" colspan="5" ></td></tr>
		                <tr>

		                	<td width="26">&#160;</td>
		                    <td valign="top" width="922" align="middle">
		<!-- *************************************************************************************************************************** -->
		 <!-- BEGIN MAIN -->
								<table width="922" height="540" border="0" style="" cellpadding="0" cellspacing="0" >
			 			        	<tr height="30">
				 			        	<td width="160" height="30" class="header_pages" align="center" >
											<ui:insert name="title"></ui:insert>
							            </td>
							            <td width="12" height="30" valign="middle" class="header_pages">
											<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" />
										</td>
				 			        	<td width="660px" height="30" valign="middle" class="header_pages_message">
											<ui:insert name="title_message"></ui:insert>
							            </td>
							            <td width="95px" class="header_pages">
								            <table id="secure_table" cellpadding="0" cellspacing="0" onmouseover="ShowContentSecReg('secure_reg_div'); return true;"
							            	onmouseout="HideContentSec('secure_reg_div'); return true;">
							            	<div id="secure_reg_div" style="display:none;
													  position:absolute;
													  border-style: none;
													  background-color: white;
													  padding: 0px;">
							            		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secure.gif"/>
							            	</div>
								            	<tr>
										            <td class="header_pages" width="17px" style="cursor:pointer" >
										            	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif"
										            	/>
										            </td>
										            <td width="65px" class="header_pages" style="cursor:pointer;text-align:#{applicationData.pageAlignment};padding-left:2px" id="showHintTD" >
										            	&#160;<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>
										            </td>
    									        </tr>
								            </table>
								            <div style="display: none; position: absolute;z-index:110;width:1px;text-align:#{applicationData.pageAlignmentReverse} " id="secure_div"></div>
							            </td>

						            </tr>
						         	<tr height="510" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="918" height="510" colspan="3">
											<ui:insert name="content"></ui:insert>
							            </td>
							            <td width="20%" align="right">
							             <br/> <br/>
							             <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/support_register.gif" />
							            </td>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="26">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="3"></td></tr>
					</table>
			</td>
	</tr>
			<tr>
				<td height="8px" style="background-color:#FFFFFF" ></td>
			</tr>

	<tr>
		<td height="136px" width="970px" class="table_border">
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<div id="log"></div>
<c:if test="${applicationData.isLive}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;" escape="false"/>
	<br/>
</div>
</body>
</html>
