@charset "utf-8";
/* Open RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	direction:rtl;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Close RESET */
body {
	background:#eaeaeb;
	font-family:Tahoma, Geneva, sans-serif;
	color:#5e5e5e;
	font-size:14px;
}
p {
	line-height:16px;
	padding-bottom:20px;
}
#page {
	width:1010px;
	margin:20px auto 0;
	background:url(../images/bg_shadow.jpg) top right repeat-y;
	position:relative;
}
.container {
	background: #FFF url(../images/bg_border.jpg) left top repeat-y;
	width:950px;
	padding:154px 20px 16px;
	margin-right:10px;
}
.top_corners, .bottom_corners {
	width:1000px;
	margin-left:10px;
	height:20px;
	position:relative;
	background: #FFF url(../images/bg_border.jpg) left top repeat-x;
}
.left, .right {
	width:20px;
	height:20px;
	background: #eaeaeb url(../images/bg_roundings.jpg) no-repeat top left;
	overflow:hidden;
	position:absolute;
}
.left {
	left:0;
	top:0;
}
.right {
	right:0;
	top:0;
	width:28px;
}
.bottom_corners, .bottom_corners .left {
	background-position:bottom left;
}
.top_corners .right{
	background-position:-22px 0px;
}
.bottom_corners .right{
	background-position:-22px -20px;
}
.header {
	width:1055px;
	height:118px;
	position:absolute;
	left:-37px;
	top:35px;
	background:url(../images/bg_header.jpg) top left repeat-x;
}
.header .left_bg {
	background:url(../images/bg_border_arrow.png) top left no-repeat;
	height:118px;
	width:57px;
	position:absolute;
	top:0;
	left:0;
}
.header .right_bg {
	background:url(../images/bg_header_triangle.jpg) no-repeat top left;
	height:17px;
	width:18px;
	position:absolute;
	bottom:-7px;
	right:0;
}
.header img {
	margin:18px 48px 0 0;
}
.content_left {
	width:262px;
	padding:5px 5px 32px;
	margin-right:30px;
	margin-bottom:36px;
	float:left;
	background:#efefef;
	border: 1px solid #d0d0d0;
}
.fb-like {
	float:left;
}
.content_left a{
	width:261px;
	margin:0 auto;
	display:block;
}
.content_left h1 {
	font-size:18px;
	font-weight:bold;
	padding:15px 15px 10px;
}
.content_left span {
	padding:0 15px 8px;
	display:block;
}
.separator {
	background:url(../images/bg_separator.jpg) top center;
	width:100%;
	height:30px;
}
.small_text {
	font-size:10px;
}
.large_text {
	font-size:18px;
	padding:20px 0 22px;
	font-weight:bold;
}
.center_text {
	text-align:center;
}
div.title {
	height:22px;
	padding:24px 160px 34px 0;
	position:relative;
}
strong {
	font-weight:bold;
}
h2 {
	line-height:22px;
	font-size:22px;
	font-weight:bold;
	color:#2b3d47;
}
a, a:visited, a:hover{
	color:#f7911e;
}
.rubber_1, .rubber_2, .rubber_3 {
	height:68px;
	width:166px;
	position:absolute;
	right:-30px;
	top:8px;
	background:url(../images/rubbers.png) top right no-repeat;
}
.rubber_2 {
	background-position:right -68px;
}
.rubber_3 {
	background-position:right -136px;
}
.middle_part {
	width:100%;
	height:251px;
	margin:24px 0 20px;
	background:url(../images/bg_middle.jpg) no-repeat top center;
}
.middle_part img {
	margin-bottom:10px;
}
.middle_part .green, .middle_part .red {
	font-size:18px;
	font-weight:bold;
	color:#028d0f;
}
.middle_part .red {
	color:#de0000;
}
.middle_part span {
	display:block;
	padding-top:3px;
}
.middle_part .section_1, .middle_part .section_2, .middle_part .section_3 {
	width:224px;
	padding:26px 43px;
	text-align:center;
	float:left;
}
.middle_part .section_2 {
	padding:26px 48px;
}
.footer {
	text-align:center;
	padding:20px 0;
	width:100%;
	color:#959595;
	background:#eaeaeb;
	font-size:11px;
}
iframe {
	padding-bottom:14px;
}
ul.bottom_list {
	padding:0 0 43px;
	margin:0;
}
ul.bottom_list li {
	font-size:12px;
	line-height:12px;
	padding:3px 0;
}
a.button, a.button:visited {
	background:url(../images/button.png) top left no-repeat;
	width:294px;
	height:63px;
	position:absolute;
	bottom:95px;
	left:358px;
}
a.button:hover {
	background-position:bottom left;
}


.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/*gd gallery*/
.gd_gallery_bgr{
	background:black;
	background:rgba(0,0,0,0.5);
	position:fixed;z-index:100;
	width:100%;height:100%;
	top:0;left:0;display:none;
	background: transparent url('../images/b-bg60.png') repeat right top\0/;

}


.gd_gallery_in{
	position:fixed;
	z-index:101;
	top:50%;
	left:50%;
	display:none;
	border: 3px solid white;
	outline: 1px solid #787878;
}

*+html .gd_gallery_bgr { 
	background: transparent url('../images/b-bg60.png') repeat right top;
	vertical-align: middle;
	}
/*gd gallery END*/

.start-btn {
	background-image: url('../images/button.png');
	background-position: 0 0;
	width: 294px;
	height: 63px;
	display: block;
	margin: auto;
}

.start-btn:hover {
	background-position: 0 63px;
}
