<ui:composition
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="template_banking_popup.xhtml">
	<ui:define name="content">
		<div class="gd_card_h"><h:outputText value="#{msgs['header.creditcards']}" /></div>
		<div class="gd_card_img"><img src="img/gd_cards.png" /></div>
		<div class="gd_trans_bgr f_18">
			<div class="show_text" style="height:1px;">
				<div>
					<h1 class="gd_h1"><h:outputText value="#{msgs['CMS.minisite_creditcard.h1']}" escape="false"/></h1>
					<h:outputText value="#{msgs['CMS.minisite_creditcard.t1']}" escape="false"/>

					<h1 class="gd_h1"><h:outputText value="#{msgs['CMS.minisite_creditcard.h2']}" escape="false"/></h1>
					<h:outputText value="#{msgs['CMS.minisite_creditcard.t2']}" escape="false"/>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>