<!DOCTYPE html>
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    locale="#{applicationData.userLocale}">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><h:outputText value="#{msgs['anyoption.title']}"/></title>
	
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/minisite/link/style.css" />
	<script type="text/javascript" src="link/functions.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		/*
			change skin AJAX call
		*/
		function updateSkin(skinId) {
		    var url = "ajax.jsf?changeSkinDuid=" + skinId;
		    var ajax = new AJAXInteraction(url, updateSkinCallback);
		    ajax.doGet();
		}

		/*
			callBack function for change skin
		*/
		function updateSkinCallback(responseXML) {
		   var skinId = responseXML.getElementsByTagName("res")[0].firstChild.nodeValue;
	   	   if (skinId != 0) {
	   	   		window.location.href = context_path + '/minisite/index.jsf?s=' + skinId;
	   	   }
		}

	</script>
</head>
<body id="body" omresize="init_js('s')">
	<c:if test="${applicationData.isLive}">
		<ui:include src="/minisite/googleTag.xhtml" />
		<ui:include src="/minisite/google.xhtml" />
	</c:if>
	<div class="gd_bgr"></div>
	<div class="gd_cont" id="gd_cont">
<!--HEADER-->
		<div class="gd_header gd_g gd_fs17 h_51">
			<ul class="gd_lang h_51 TOP_LNG">
				<li class="gd_lang_t h_51 f_17" ontouchstart="show_lng(this)" id="TOP_LNG"><span class="gd_lang_t_in" id="gd_lang_t_in"><h:outputText value="#{msgs[applicationData.userLocale.displayLanguage]}" /></span>
					<ul class="gd_lang_ul2">
						<li class="gd_g" onclick="updateSkin(2);"><a href="#"><h:outputText value="#{msgs['languages.eng']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(3);"><a href="#"><h:outputText value="#{msgs['languages.tur']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(10);"><a href="#"><h:outputText value="#{msgs['languages.rus']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(5);"><a href="#"><h:outputText value="#{msgs['languages.spa']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(9);"><a href="#"><h:outputText value="#{msgs['languages.ita']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(4);"><a href="#"><h:outputText value="#{msgs['languages.ar']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(8);"><a href="#"><h:outputText value="#{msgs['languages.de']}" /></a></li>
						<li class="gd_g" onclick="updateSkin(12);"><a href="#"><h:outputText value="#{msgs['languages.fr']}" /></a></li>
						<!--<li class="gd_g" onclick="updateSkin(15);"><a href="#"><h:outputText value="#{msgs['languages.zh']}" /></a></li>-->
					</ul>
				</li>
			</ul>
			<h:panelGroup rendered="#{applicationData.android}">
				<a href="#{applicationData.androidMarketUrlWithParameters}" class="gd_adr_mark"><img src="img/gd_andr_market.png" /></a>
				<span id="hide_top">
					<a href="#{applicationData.androidMarketUrlWithParameters}" class="gd_cl_to_dwn f_14"><h:outputText value="#{msgs['CMS.minisite_index.header.line1']}" /></a><br />
					<a href="#{applicationData.androidMarketUrlWithParameters}" class="f_21"><h:outputText value="#{msgs['CMS.minisite_index.header.line2']}" /></a>
				</span>
			</h:panelGroup>

			<h:panelGroup rendered="#{applicationData.iphone}">
				<a href="#{applicationData.appStoreUrlWithParameters}" class="gd_adr_mark"><img src="img/gd_app_store.png" /></a>
				<span id="hide_top">
					<a href="#{applicationData.appStoreUrlWithParameters}" class="gd_cl_to_dwn f_14"><h:outputText value="#{msgs['CMS.minisite_index.header.line1']}" /></a><br />
					<a href="#{applicationData.appStoreUrlWithParameters}" class="f_21"><h:outputText value="#{msgs['CMS.minisite_index.header.line2']}" /></a>
				</span>
			</h:panelGroup>
		</div>
		<img src="img/gd_logo.png" alt="168qiquan" class="h_60 gd_logo"/>
<!--HEADER END-->
<!--HOME TABS-->
		<div class="gd_tabs1_h f_27 dB" id="gd_tabs1_h">
			<span class="hov" onclick="gd_ch_tab(this,1);"><h:outputText value="#{msgs['CMS.minisite_index.tab.home']}" /></span>
			<span class="" onclick="gd_ch_tab(this,'2');"><h:outputText value="#{msgs['CMS.minisite_index.tab.trading']}" /></span>
			<span class="" onclick="gd_ch_tab(this,'3');gd_cssSlider('gd_slider2');"><h:outputText value="#{msgs['CMS.minisite_index.tab.banking']}" /></span>
		</div>
<!--HOME TABS END-->
<!--TAB 1-->
		<div id="id1" class="dB">
			<div class="gd_tabs1_in">
				<span class="f_25 dB p10"><h:outputText value="#{msgs['CMS.minisite_index.tab.home.text']}" escape="false" /></span>
	<!--SLIDER-->
				<div class="gd_slider sl_1" id="gd_slider">
					<ul class="gd_slider_in sl_1 _TOP_LEV_" data-c='0'>
						<li class="sl_1"><img src="images/#{applicationData.userLocale.language}/homepage_demo_1.jpg" /></li>
						<li class="sl_1"><img src="images/#{applicationData.userLocale.language}/homepage_demo_2.jpg" /></li>
						<li class="sl_1"><img src="images/#{applicationData.userLocale.language}/homepage_demo_3.jpg" /></li>
						<li class="sl_1"><img src="images/#{applicationData.userLocale.language}/homepage_demo_4.jpg" /></li>
						<li class="sl_1"><img src="images/#{applicationData.userLocale.language}/homepage_demo_5.jpg" /></li>
						<li class="sl_1"><img src="images/#{applicationData.userLocale.language}/homepage_demo_6.jpg" /></li>
					</ul>
				</div>
				<div class="gd_slider_nav" id="gd_slider_nav"></div>
	<!--SLIDER END-->
			</div>
			<div class="gd_taC">
				<h:panelGroup rendered="#{applicationData.android}">
					<a href="#{applicationData.androidMarketUrlWithParameters}" class="gd_p gd_dwn_b w_420"><span class="gd_p rs"><span class="cs but_h25"><h:outputText value="#{msgs['mobile.smartphone.txt5']}" /></span></span></a>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.iphone}">
					<a href="#{applicationData.appStoreUrlWithParameters}" class="gd_p gd_dwn_b w_420"><span class="gd_p rs"><span class="cs but_h25"><h:outputText value="#{msgs['mobile.smartphone.txt5']}" /></span></span></a>
				</h:panelGroup>
				<a href="#{applicationData.homePageContinueToWebsite}" class="gd_cWhite gd_tdUL f_17"><h:outputText value="#{msgs['CMS.minisite_index.tab.home.website']}" /></a>
			</div>
		</div>

<!--TAB 1 END-->
<!--TAB 2-->
		<div id="id2" style="display:none;">
			<div class="gd_tabs1_in">
				<div class="gd_h_2 f_18 oH show_text" style="height:1px;">
					<div>
						<div><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.text']}" /></div>
						<ul class="gd_ul1">
							<li><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.li1']}" /> </li>
							<li><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.li2']}" /></li>
							<li><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.li3']}" /></li>
							<li><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.li4']}" /></li>
							<li><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.li5']}" /></li>
						</ul>
					</div>
				</div>
				<ul class="gd_main_ul">
					<li>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="_TOP_LEV_ bgr1 gd_mt10">
							<tr> 
								<td width="154"><a name="tr_tab1" href="#tr_tab1" onclick="gd_oc(toplev(this),1);"><img src="img/gd_tr_1.png" class="dB"/>&#160;</a></td>
								<td>
									<a name="tr_tab1" href="#tr_tab1" id="trade_m1" class="gd_tr_div f_25" onclick="gd_oc(toplev(this),1);">
										<span class="gd_tr_dr _noHov_ tab2_tabs"><h:outputText value="#{msgs['header.learn.how.to']}" escape="false" /></span>
									</a>
								</td>
							</tr>
						</table>
						<ul class="gd_tr_div_sub oH f_18" style="display:none;">
							<li style="height:1px;" class="dB show_text">
								<div><ui:include src="/minisite/tab1.xhtml" /></div>
							</li>
						</ul>
					</li>
					<li>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="_TOP_LEV_ bgr1 gd_mt10">
							<tr> 
								<td width="154"><a name="tr_tab2" href="#tr_tab2" onclick="gd_oc(toplev(this),1);"><img src="img/gd_tr_2.png" class="dB"/>&#160;</a></td>
								<td>
									<a name="tr_tab2" href="#tr_tab2" id="trade_m1" class="gd_tr_div f_25" onclick="gd_oc(toplev(this),1);">
										<span class="gd_tr_dr _noHov_ tab2_tabs"><h:outputText value="#{msgs['header.learn.what.are']}" escape="false" /></span>
									</a>
								</td>
							</tr>
						</table>
						<ul class="gd_tr_div_sub oH f_18" style="display:none;">
							<li style="height:1px;" class="dB show_text">
								<div class="p10"><ui:include src="/minisite/tab2.xhtml" /></div>
							</li>
						</ul>
					</li>
					<li>
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="_TOP_LEV_ bgr1 gd_mt10">
							<tr> 
								<td width="154"><a name="tr_tab3" href="#tr_tab3" onclick="gd_oc(toplev(this),1);"><img src="img/gd_tr_3.png" class="dB"/></a></td>
								<td>
									<a name="tr_tab3" href="#tr_tab3" id="trade_m1" class="gd_tr_div f_25" onclick="gd_oc(toplev(this),1);">
										<span class="gd_tr_dr _noHov_ tab2_tabs"><h:outputText value="#{msgs['CMS.minisite_index.tab.trading.main.tab3.cap']}" escape="false" /></span>
									</a>
								</td>
							</tr>
						</table>
						<ul class="gd_tr_div_sub f_18" style="display:none;">
							<li style="height:1px;" class="dB show_text">
								<div class="p10"><ui:include src="/minisite/tab3.xhtml" /></div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
<!--TAB 2 END-->
<!--TAB 3-->
		<div id="id3" style="display:none;">
			<div class="gd_tabs1_in">
				<span class="f_18"><h:outputText value="#{msgs['CMS.minisite_index.tab.banking.text']}" /></span><br /><br />
	<!--SLIDER-->
				<div class="gd_slider sl_2" id="gd_slider2">
					<ul class="gd_slider_in _TOP_LEV_" data-c='0'>
						<li class="sl_2"><a href="creditcard.jsf"><img src="images/01_#{applicationData.userLocale.language}.png" /></a></li>
						<li class="sl_2"><a href="wire.jsf"><img src="images/02_#{applicationData.userLocale.language}.png" /></a></li>
						<li class="sl_2"><a href="domestic.jsf"><img src="images/03_#{applicationData.userLocale.language}.png" /></a></li>
						<li class="sl_2"><a href="moneybookers.jsf"><img src="images/04_#{applicationData.userLocale.language}.png" /></a></li>
					</ul>
				</div>
				<div class="gd_slider_nav" id="gd_slider2_nav"></div>
	<!--SLIDER END-->
			</div>
		</div>
<!--TAB 3 END-->
	<ui:include src="/minisite/footer.xhtml" />
	<div class="gd_footer">
		<a href="http://esearch.oami.europa.eu/copla/trademark/data/008298457"><img src="img/logos_1.jpg" class="gd_mt10 h_27"/></a>
		<a href="http://www.reuters.com/"><img src="img/logos_2.jpg" class="gd_mt10 h_27"/></a>
		<a href="https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.168qiquan.COM&amp;lang=en"><img src="img/logos_3.jpg" class="gd_mt10 h_27"/></a>
		<img src="img/logos_4.jpg" class="gd_mt10 h_27"/>
		<br />
		168qiquan 2008 ©
	</div>
	</div>
	<script>
		init_js('s');
		gd_fix_m_h('gd_tabs1_h');
		// gd_play_slider('gd_slider','gd_slider_nav',true);
	</script>
</body>
</html>
</f:view>