<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<div id="page">
		<div id="header">
	    	<div class="logo"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/etrader_logo.png" alt="Etrader Logo" /></div>
	    </div>
		<div id="main_box">
			<div class="main_text">
		    	<img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/title.png" alt="title" /><br /><br /><strong style=" font-size:16px">בוא ללמוד להרוויח דווקא בזמן שהשווקים, בארץ או בעולם,  יורדים!</strong><br />בעצם אתה יוצר לעצמך מצב שבו <strong>אתה מרוויח מכל מצב שוק</strong>. <br />
		        <img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/spacer.png" width="13" height="8" /><br />
			       האופציות הבינאריות, שהושקו בארץ לפני יותר משנתיים והתקבלו בהתלהבות רבה על ידי הקהל הישראלי, מאפשרות לך <strong><u>להרוויח 70%</u></strong> מכל תנודה קטנה בשער היורו, במדד ת"א 25, במחיר הנפט, במניית טבע ועוד כ-80 נכסים בארץ ובעולם.
				<br />
		        <img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/spacer.png" width="13" height="8" /><br />
				 כל מה שנדרש ממך כדי להרוויח 70% זה לחזות נכונה בדקות הקרובות את כיוון המחיר (יעלה או יירד) של המדד או המניה שבחרת.<br />
				<strong>צדקת? הרווחת מיידית 70%.</strong> <br />
				<br />
				<ul style="list-style-image: url('#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/check-red.png'); "><li><strong>אין צורך בנסיון</strong></li>
					<li>ניתן לסחור בכל שעה ומכל מקום</li>
					<li>הדרכה וליווי מקצועיים לרשותך ללא תשלום</li>
				</ul> &#160;&#160;
			</div>
			 <h:form id="contactForm">
		    	<div class="form_box">
		        	<h3>השאר את פרטיך ותוכל להתחיל לסחור מיד:</h3>
		        	<h:panelGroup id="mainTable">
				        <div class="input1">
				        	<h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
					        	validator="#{commonUtil.validateLettersOnly}" >
					        </h:inputText>
					        <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
				        </div>
				        <div class="label">&#160;שם פרטי</div>
				        <div class="input1">
				            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
				                             validator="#{commonUtil.validateLettersOnly}" >
				            </h:inputText>
				            <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">&#160;שם משפחה</div>
				        <div class="input1">
				            <h:inputText name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
					    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
				    	    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				            </h:inputText>
							<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">&#160;#{msgs['register.email']}</div>
				        <div class="input2">
				        	<div class="noborder">
					        	<h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
					        		<f:selectItem  itemLabel="" itemValue="" />
					        		<f:selectItems value="#{applicationData.mobilePref}" />
					        	</h:selectOneMenu>
					        	<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="A"/>
				            </div>
				        </div>
				        <div class="input3">
				    	   	<h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
				        	  	<f:validateLength minimum='7' maximum='7'/>
				        	  	<f:validateLongRange/>
				        	</h:inputText>
							<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">&#160;#{msgs['register.mobilephone']}</div>
				        <div class="input_checkbox">
			    	    	<div class="checkbox_line"><h:selectBooleanCheckbox id="agree" escape="false" name="agree"  class="agree"  value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox> אני מאשר קבלת עדכונים ומסרים</div>
			        	    <div class="lock_line"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/lock.png" alt="lock" width="20" height="24" align="right" />&#160; לא יעשה כל שימוש בכתובת המייל <br />&#160;&#160;
					            שלך, לבד משליחת מסרים מ-etrader
				            </div>
				        </div>
				        <br/>
						<t:commandButton styleClass="submit_button" id="savelink" image="/images/landing/LP_#{page}/button.png"
							onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/button.png');
									 return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
						</t:commandButton>
						<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
					</h:panelGroup>
		        </div>
		    </h:form>
		</div>
		<div id="bottom_boxs">
	    	<div class="testm_box box1">
	        	<div class="text">
	                החלטתי שאני לא מסתפק במשכורת החודשית. <br />
	                פתחתי חשבון ב-etrader ולמרות שאין לי ניסיון בהשקעות הבנתי מיד איך לסחור. <br />
	                התחלתי בקטן ובזהירות, תוך זמן קצר הגעתי ל- <br />
	                9,000 ₪  אקסטרה בחודש. אני אוהב שהרווח מיידי וידוע מראש (70%). אני משקיע מקסימום חצי שעה <br />
	                ביום ומרוויח מאוד יפה.
	            </div>
	            <div class="name">יוסי, מנהל שיווק, מודיעין</div>
	        </div>
	        <div class="map-asset_box"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/asset-map.jpg" width="544" height="310" /></div>
	    </div>
		<div class="testm_footer">* העדויות בפרסום זה מבוססות על סיפורים אמיתיים של לקוחות etrader, כדי לשמור על חיסיון הלקוחות ולהגן על מידע מסחרי, שונו שמות הלקוחות, תמונות והפרטים המזהים שלהם. </div>
		    <div id="footer">
		        <div class="icon_box">
		            <div class="icon"><img width="95" height="27" border="0" alt="אבטחת מידע והצפנה" src="#{facesContext.externalContext.requestContextPath}/images/landing/thawte.gif" /></div>
		            <div class="icon"><img width="73" height="27" border="0" alt="הנתונים באתר מדווחים על ידי רויטרס" src="#{facesContext.externalContext.requestContextPath}/images/landing/reuters.gif" /></div>
		            <div class="icon"><img width="95" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/diners.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/masterCard.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/visa.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/amex.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/isracard.gif" /></div>
		            <div class="icon"><img width="32" height="32" border="0" alt="השימוש באתר מוגבל לבני 21 ומעלה" src="#{facesContext.externalContext.requestContextPath}/images/landing/21.jpg" /></div>
		        </div>
		    </div>
		</div>

</f:view>