<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

<div id="page">
	<div id="header">
    	<div class="logo"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/etrader_logo.png" alt="Etrader Logo" /></div>
    </div>
	<div id="main_box">
        <div class="main_text">
        	<strong>לקוחות איטריידר מספרים לעיתונות:</strong><br />
        	<img class="title_image" src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/title.png" alt="title" /><br />
        	<strong>למד ליצור לעצמך הזדמנות לרווח מהיר הן בשוק יורד והן בשוק עולה!</strong><br /><br/>
			etrader החברה הגדולה והוותיקה בישראל, מזמינה אותך להכיר את המסחר<br />
			באופציות בינאריות. המסחר ב-etrader מאפשר לך תשואה ידועה מראש של עד 71%<br /> בדקות בודדות. <strong>בכל שעה נפתחות בפניך עשרות אפשרויות מסחר חדשות ומלהיבות.</strong><br />
			<br />
			<ul class="list">
				<li>אין צורך בנסיון קודם על מנת להתחיל לסחור</li>
				<li>הדרכה וליווי מקצועיים לרשותך ללא תשלום</li>
				<li>ניתן לסחור בכל שעה ומכל מקום</li>
			</ul>

			<br />
        </div>
        <h:form id="contactForm">
	        <div class="form_box">
		        <h3>השאר את פרטיך ותוכל להתחיל לסחור מיד:</h3>
				<h:panelGroup id="mainTable">
			        <div class="input1">
			        	<h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
				        	validator="#{commonUtil.validateLettersOnly}" >
				        </h:inputText>
				        <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
			        </div>
			        <div class="label">&#160;שם פרטי</div>
			        <div class="input1">
			            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
			                             validator="#{commonUtil.validateLettersOnly}" >
			            </h:inputText>
			            <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
			        </div>
			        <div class="label">&#160;שם משפחה</div>
			        <div class="input1">
			            <h:inputText rendered="#{email_validation != 'false'}" name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
				    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
			    	    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
			            </h:inputText>
			            <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
			            <h:inputText rendered="#{email_validation == 'false'}" name="email1" dir="ltr" maxlength="50" id="email1" value="#{contactUsForm.email}"
			            	 label="#{msgs['register.email']}" />
						<t:message id="email_Error1" style="display:none;" for="email1" replaceIdWithLabel="true" styleClass="error_messages"/>
			        </div>
			        <div class="label">&#160;#{msgs['register.email']}</div>
			        <div class="input2">
			        	<div class="noborder">
				        	<h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
				        		<f:selectItem  itemLabel="" itemValue="" />
				        		<f:selectItems value="#{applicationData.mobilePref}" />
				        	</h:selectOneMenu>
				        	<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="A"/>
			            </div>
			        </div>
			        <div class="input3">
			       	   	<h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
			        	  	<f:validateLength minimum='7' maximum='7'/>
			        	  	<f:validateLongRange/>
			        	</h:inputText>
						<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
			        </div>
			        <div class="label">&#160;#{msgs['register.mobilephone']}</div>
			        <div class="input_checkbox">
			        	<div class="checkbox_line">
				        	<h:selectBooleanCheckbox id="agree" escape="false" name="agree"  class="agree"  value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox>
					        	אני מאשר קבלת עדכונים ומסרים
					    </div>
			            <div class="lock_line"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/lock.png" alt="lock" align="right" />&#160; לא יעשה כל שימוש בכתובת המייל שלך, לבד משליחת מסרים מ-etrader</div>
			        </div>
					<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
			        <div class="submin_swf">
			            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="195" height="38" id="ShortForm_button" align="middle">
			                <param name="allowScriptAccess" value="sameDomain" />
			                <param name="allowFullScreen" value="false" />
			                <param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/landing/btn.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                <embed src="#{facesContext.externalContext.requestContextPath}/images/landing/btn.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="195" height="38" name="ShortForm_button" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			            </object>
			        </div>
			    </h:panelGroup>
		    </div>
	    </h:form>
	    </div>
	    <div id="footer">
	    <hr/>
   			&#160;&#160;&#160;&#160;&#160;<span style="font-size:12px;">*פתיחת חשבון מגיל 21 ומעלה</span>
	        <br /><br />
	        <div class="icon_box">
	            <div class="icon"><img width="95" height="27" border="0" alt="אבטחת מידע והצפנה" src="#{facesContext.externalContext.requestContextPath}/images/landing/thawte.gif" /></div>
	            <div class="icon"><img width="73" height="27" border="0" alt="הנתונים באתר מדווחים על ידי רויטרס" src="#{facesContext.externalContext.requestContextPath}/images/landing/reuters.gif" /></div>
	            <div class="icon"><img width="95" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/diners.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/masterCard.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/visa.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/amex.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/isracard.gif" /></div>
   				<h:panelGroup>
	   				<div class="icon"><img width="32" height="32" border="0" alt="השימוש באתר מוגבל לבני 21 ומעלה" src="#{facesContext.externalContext.requestContextPath}/images/landing/21.jpg" /></div>
   				</h:panelGroup>
	        </div>
	        &#160;&#160;&#160;&#160;&#160;<span style="font-size:12px;">* המסחר באופציות בינאריות כרוך בסיכון גבוה. באפשרותך להרוויח בין 65%-71% על כל אופציה שפוקעת בתוך הכסף או להפסיד 85% באופציה שפוקעת מחוץ לכסף.</span><br />
	    </div>
</div>
</html>