<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

<div id="page">
	<div id="header">
    	<div class="logo"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/etrader_logo.png" alt="Etrader Logo" /></div>
    </div>
	<div id="main_box">
        <div class="main_text">
        	<img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/title.png" alt="title" /><br />
			האם תמיד רצית שיהיה לך <strong>מקור הכנסה מיידי ולא תלוי?</strong> האם אתה רוצה להכיר דרך להרוויח סכומים גדולים בזמן קצר שישמשו לחופשה, לסגירת הלוואה או לקניות? <br /><strong>עכשיו אתה יכול</strong>.<br />
			<br />
			etrader, החברה הגדולה והוותיקה בישראל, מזמינה אותך להכיר את המסחר באופציות בינאריות. המסחר ב-etrader יאפשר לך תשואה ידועה מראש של 70% בפחות משעה <strong>בכל מצב שוק, עולה או יורד</strong>. <br />
			המומחים שלנו עומדים לרשותך ויסייעו לך להרוויח ולהצליח בזמן הקצר ביותר.<br />
			<br />
			<strong>שים לב - אין צורך בניסיון קודם!</strong> &nbsp;&nbsp;<img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/arrows.png" alt="" align="absmiddle" /><br />
		<img src="#{facesContext.externalContext.requestContextPath}/images/landing/line.png" alt="line" /><br />
		<span style="font-size:12px;">*פתיחת חשבון מגיל 21 ומעלה</span>
        </div>
        <h:form id="contactForm">
	        <div class="form_box">
		        <h3>השאר את פרטיך ותוכל להתחיל לסחור מיד:</h3>
				<h:panelGroup id="mainTable">
			        <div class="input1">
			        	<h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
				        	validator="#{commonUtil.validateLettersOnly}" >
				        </h:inputText>
				        <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
			        </div>
			        <div class="label">&#160;שם פרטי</div>
			        <div class="input1">
			            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
			                             validator="#{commonUtil.validateLettersOnly}" >
			            </h:inputText>
			            <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
			        </div>
			        <div class="label">&#160;שם משפחה</div>
			        <div class="input1">
			            <h:inputText rendered="#{email_validation != 'false'}" name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
				    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
			    	    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
			            </h:inputText>
			            <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
			            <h:inputText rendered="#{email_validation == 'false'}" name="email1" dir="ltr" maxlength="50" id="email1" value="#{contactUsForm.email}"
			            	 label="#{msgs['register.email']}" />
						<t:message id="email_Error1" style="display:none;" for="email1" replaceIdWithLabel="true" styleClass="error_messages"/>
			        </div>
			        <div class="label">&#160;#{msgs['register.email']}</div>
			        <div class="input2">
			        	<div class="noborder">
				        	<h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
				        		<f:selectItem  itemLabel="" itemValue="" />
				        		<f:selectItems value="#{applicationData.mobilePref}" />
				        	</h:selectOneMenu>
				        	<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="A"/>
			            </div>
			        </div>
			        <div class="input3">
			       	   	<h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
			        	  	<f:validateLength minimum='7' maximum='7'/>
			        	  	<f:validateLongRange/>
			        	</h:inputText>
						<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
			        </div>
			        <div class="label">&#160;#{msgs['register.mobilephone']}</div>
			        <div class="input_checkbox">
			        	<div class="checkbox_line">
				        	<h:selectBooleanCheckbox id="agree" escape="false" name="agree"  class="agree"  value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox>
					        	אני מאשר קבלת עדכונים ומסרים
					    </div>
			            <div class="lock_line"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/lock.png" alt="lock" align="right" />&#160; לא יעשה כל שימוש בכתובת המייל שלך, לבד משליחת מסרים מ-etrader</div>
			        </div>
					<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
			        <div class="submin_swf">
			            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="195" height="38" id="ShortForm_button" align="middle">
			                <param name="allowScriptAccess" value="sameDomain" />
			                <param name="allowFullScreen" value="false" />
			                <param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/landing/btn.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                <embed src="#{facesContext.externalContext.requestContextPath}/images/landing/btn.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="195" height="38" name="ShortForm_button" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			            </object>
			        </div>
			    </h:panelGroup>
		    </div>
	    </h:form>
	    </div>
	    <div id="bottom_boxs">
	        <div class="testm_box box1">
	        	<div class="text">
	                החלטתי שאני לא מסתפק במשכורת החודשית. <br />
	                פתחתי חשבון ב-etrader ולמרות שאין לי ניסיון בהשקעות הבנתי מיד איך לסחור. <br />
	                התחלתי בקטן ובזהירות, תוך זמן קצר הגעתי ל- <br />
	                9,000 ₪  אקסטרה בחודש. אני אוהב שהרווח מיידי וידוע מראש (70%). אני משקיע מקסימום חצי שעה <br />
	                ביום ומרוויח מאוד יפה.
	            </div>
	            <div class="name">יוסי, מנהל שיווק, מודיעין</div>
	        </div>
	        <div class="testm_box box2">
	        	<div class="text">
	                קולגה סיפר לי על  etraderוהחלטתי לנסות. <br />
	                אני אוהב ריגוש והצלחות וידעתי שזה יתאים לי.<br />
	                התחלתי להשקיע בצורה חכמה עד שהתייצבתי על רווחיות גבוהה. אני אוהב להיות  חד ולקחת החלטות מהירות שמביאות לרווח מהיר וידוע מראש (70% בכל השקעה). מה שיפה הוא שאין צורך בניסיון בשוק ההון וכל אחד יכול להצליח.
	            </div>
	            <div class="name">אבשלום, רופא מנתח, הרצליה</div>
	        </div>
	        <div class="testm_box box3">
	        	<div class="text">
	                קראתי כתבה על etrader והחלטתי לנסות. אני אוהב ריגוש והצלחות מיידיות ובעיקר לקחת החלטות מהירות. התחלתי להשקיע בצורה מדורגת בסכומים משתנים. כיום אני משקיע באופציות שמניבות רווח של  ₪5,000 בתוך דקות. בכל השקעה אני עושה הערכת מצב מהירה, ניתוח סיכון וסיכוי. אני אוהב לראות שההחלטות שלי הופכות לרווח מיידי וידוע מראש (70%) בדקות בודדות. יש סיפוק אדיר לראות שהשקעה לא גבוהה מניבה רווח של 5,000 שח בכמה דקות.
	            </div>
	            <div class="name">יוני, טייס, תל אביב</div>
	        </div>
	    </div>
	     <div class="testm_footer">* העדויות בפרסום זה מבוססות על סיפורים אמיתיים של לקוחות etrader, כדי לשמור על חיסיון הלקוחות ולהגן על מידע מסחרי, שונו שמות הלקוחות, תמונות והפרטים המזהים שלהם. </div>
	    <div id="footer">
	        <div class="icon_box">
	            <div class="icon"><img width="95" height="27" border="0" alt="אבטחת מידע והצפנה" src="#{facesContext.externalContext.requestContextPath}/images/landing/thawte.gif" /></div>
	            <div class="icon"><img width="73" height="27" border="0" alt="הנתונים באתר מדווחים על ידי רויטרס" src="#{facesContext.externalContext.requestContextPath}/images/landing/reuters.gif" /></div>
	            <div class="icon"><img width="95" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/diners.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/masterCard.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/visa.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/amex.gif" /></div>
	            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/isracard.gif" /></div>
   				<h:panelGroup>
	   				<div class="icon"><img width="32" height="32" border="0" alt="השימוש באתר מוגבל לבני 21 ומעלה" src="#{facesContext.externalContext.requestContextPath}/images/landing/21.jpg" /></div>
   				</h:panelGroup>
	        </div>
	    </div>
</div>
</html>