<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<c:if test="${applicationData.skinId == '8'}">
	<!-- first analyse code -->
	<script type="text/javascript">
		var pkBaseURL = (("https:" == document.location.protocol) ? "https://statistik.glaser-group.de/" : "http://statistik.glaser-group.de/");
		document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
		</script><script type="text/javascript">
		try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
		} catch( err ) {}
	</script><noscript><p><img src="'+ pkBaseURL +'//statistik.glaser-group.de/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
	<!-- end first analyse code -->
</c:if>


</f:view>