<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<t:saveState value="#{marketsListForm}" />
<script>
var prevColor;
function changeColorsOptionType(element)
{
	element.style.backgroundColor='#0284d6';
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				prevColor = element.children[0].getElementsByTagName("label")[0].style.color;
				element.children[0].getElementsByTagName("label")[0].style.color="white";
			}else{
				prevColor = element.childNodes[1].getElementsByTagName("label")[0].style.color;
				element.childNodes[1].getElementsByTagName("label")[0].style.color="white";
			}
}
function changeColorsBackOptionType(element)
{
	element.style.backgroundColor='#FFFFFF';
	if(navigator.userAgent.toLowerCase().indexOf("msie") != -1){
				element.children[0].getElementsByTagName("label")[0].style.color=prevColor;
			}else{
				element.childNodes[1].getElementsByTagName("label")[0].style.color=prevColor;
			}

}
</script>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<c:forEach items="${marketsListForm.optionType}" var="optionType">
				<tr onclick="scheduleSelect(${optionType.value});" class="hand">
					<td align="#{applicationData.pageAlignment}" onmouseover="changeColorsOptionType(this);"
							onmouseout="changeColorsBackOptionType(this);">
						<span >
							<h:outputLink class="option_type" value="javascript:;" >
								&#160;<h:outputLabel  style="cursor:pointer" value="#{msgs[optionType.label]}"/>
							</h:outputLink>
						</span>
					</td>
				</tr>
			</c:forEach>
</table>
</f:view>
