<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf?s=#{applicationData.skinId}&amp;version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?version=cvsTimeStamp"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" />
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-file-upload.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/lib/angular-file-upload-shim.js" type="text/javascript"></script>
	
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/jquery.mCustomScrollbar.min.css" type="text/css"/>
	
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/_settings.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/app.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/directives.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/functions.js?version=cvsTimeStamp"></script>
	
	<script>
		FileAPI = {debug: true};
	</script>
	
	<ui:include src="/js/angular_msgs.xhtml"></ui:include>
	<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.isLive}">
		<ui:include src="/jsp/html_elements/googleTagHead.xhtml"></ui:include>
	</h:panelGroup>
</head>
<body dir="#{applicationData.pageDirection}" ng-app="aoApp" ng-controller="AoController">
	<div id="temp">
		<ui:include src="/jsp/agreement_content.xhtml"></ui:include>
	</div>
	
	<script src="#{facesContext.externalContext.requestContextPath}/anyoption/libs/libs.js?version=cvsTimeStamp"></script>
</body>
</f:view>
</html>