<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<t:saveState value="#{marketDetails}" />


<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-binaryBank.js?version=cvsTimeStamp"></script>

<div class="clear mt20">
	<div ng-controller="AssetIndexController">
		<ul class="assets_ul" ng-repeat="col in cols">
			<li ng-repeat="row in col.markets">
				<h3 class="assets_h3 ttUC" ng-if="row.type == 1">{{row.title}}</h3>
				<h4 class="assets_h4 ttUC" ng-if="row.type == 2">{{row.title}}</h4>
				<div ng-if="row.type == 3">
					<h5 class="asset_name" onmousedown="slidedownAssets(this);" data-market-id="{{row.id}}">{{row.title}}</h5>
					
					<img ng-if="row.newMarket" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/new_icon.png" class="vaM" />
					
					<span ng-if="row.is24h7" class="vaM icon_set_1 icon_set_1_24_7"></span>
					
					<div id="mar{{row.id}}" class="assets_in" style="display:none;">
						<div ng-bind-html="row.description"></div>
						<br />
						<b><h:outputText escape="false" value="#{msgs['CMS.assetsIndex.label.l1']}"/>:</b>&#160; <span class="asset_info_element">{{row.symbol}}</span><br />
						<b><h:outputText escape="false" value="#{msgs['assetIndex.tradingTime']}"/>:</b>&#160; <span class="asset_info_element">{{row.tradingTime}}</span><br />
						<span class="asset_info_element">{{assetIndexGeneral.tooltipData}}</span><br />
						<b><h:outputText escape="false" value="#{msgs['assetIndex.tableTitle']}"/>:</b>
						<table cellpadding="0" cellspacing="0" class="calc_table" >
							<tr>
								<th class="calc_td"><h:outputText escape="false" value="#{msgs['assetIndex.expiryType']}"/></th>
								<th class="calc_td"><h:outputText escape="false" value="#{msgs['assetIndex.expiryFormula']}"/></th>
							</tr>
							<tr ng-repeat="formula in row.formulas">
								<td class="calc_td">
									<span class="asset_info" ng-bind-html="getMsgs('exp-type-' + formula.expiryTypeId)"></span>
								</td>
								<td rowspan="{{formula.sameNextRowColl2 ? '2' : '1'}}" class="calc_td" ng-if="!formula.sameNextRowColl2 || $index == 0">
									<span ng-if="!formula.sameNextRowColl1 || $index == 0">
										{{formula.reutersField}}<br />
									</span>
									{{assetIndexGeneral.assetIndexFormulasBySkin[formula.formulaIndex].formulaTranslation}}
								</td>
							</tr>
						</table>
						<span class="assets_shadow"></span>
						<span class="asset_info_element">{{assetIndexGeneral.tooltipDataUnderTable}}</span><br />
						<span ng-if="row.additionalText">{{row.additionalText}}</span>
						<a ng-if="row.opportunityType == 1" href="#{facesContext.externalContext.requestContextPath}/assets/{{row.symbol}}" class="assets_link bIB mt10 mb10">
							<h:outputText escape="false" value="#{msgs['CMS.assetIndex_content.label.l1']}"/>
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
</f:view>