<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>

	<table>
		<tr height="58px">
				<td width="155px" align="center" height="58px">
					<img src="#{applicationData.imagesPath}/banking/unionpaysmall.gif" width="125px" height="42px" />
				</td>
				<td width="190px" id="unionpay" class="bankingBorder" align="left">
					<table cellpadding="0" cellspacing="0" width="190px" border="0">
						<tr>
							<td width="8px" id="unionpay_arrow" style="visibility: hidden;"><h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
							<td width="182px">
								<a href="javascript:;" class="bankingLabel" onclick="showArrow('unionpay', this);slidedownQesBanking('qUnion',this);" >&#160;
									<h:outputText value="#{msgs['creditcardtype.cup']}"/>
								</a>
							</td>
						</tr>
					</table>
				</td>
				<td width="125px" align="center" class="bankingBorder">
					<span class="banking_check banking_check_ok"></span>
				</td>
				<td width="125px" align="center">
					<span class="banking_check banking_check_ok"></span>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<div id="qUnion" style="display:none; overflow:hidden;">
						<table cellpadding="0" cellspacing="0" border="0" width="595px"> <!-- Deposit/Withdraw -->
							<tr>
								<td colspan="3" align="left" valign="top" class="tabs_banking">
									<table cellpadding="0" cellspacing="0" border="0" width="160px">
										<tr>
											<td class="tabs_banking_title">
												<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text1.deposit']}" escape="false" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="17px">&#160;</td>
								<td class="pb20" width="550px">
									<span class="new_lable_bold">
										<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text1']}" escape="false" />
									</span>
									<span class="bankingText">
										<h:outputFormat value="#{msgs['CMS.banking_UnionPay.text.text2']}" escape="false" >
											<f:param value="#{applicationData.minFirstDeposit}" />
										</h:outputFormat>
									</span>
									<span class="new_lable_bold">
										<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text3']}" escape="false" />
									</span>
									<span class="bankingText">
										<h:outputFormat value="#{msgs['CMS.banking_UnionPay.text.text4']}" escape="false" >
											<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}" />
										</h:outputFormat>
									</span>
									<span class="new_lable_bold">
										<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text5']}" escape="false" />
									</span>
									<span class="bankingText">
										<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text6']}" escape="false" />
									</span>
								</td>
								<td width="28px">&#160;</td>
							</tr>
								
							<tr>
								<td colspan="3" align="left" valign="top" class="tabs_banking">
									<table cellpadding="0" cellspacing="0" border="0" width="160px">
										<tr>
											<td class="tabs_banking_title">
												<h:outputText value="#{msgs['CMS.banking_UnionPay.text.withdraw']}" escape="false" />
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width="17px">&#160;</td>
								<td width="550px">
									<p>
										<span class="new_lable_bold">
											<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text1']}" escape="false" /><br/>
										</span>
										<span class="bankingText">
											<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text7']}" escape="false" />
										</span>
									</p>
									<p>
										<span class="new_lable_bold">
											<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text8']}" escape="false" />
										</span><br/>
										<span class="bankingText">
											<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text9']}" escape="false" />
										</span>
									</p>
									<p>
										<span class="bankingText">
											<h:outputText value="#{msgs['CMS.banking_UnionPay.text.text10']}" escape="false" />
										</span>
									</p>
								</td>
								<td width="28px">&#160;</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
	</table>
</f:view>