<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<h:form id="bankingForm" styleClass="banking_in">
	<div class="clear banking_header">
		<span class="bankingLabel_main vaM"><h:outputText value="#{msgs['banking.choose.country']}"/></span>
		<h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="banking_selector vaM" id="countriesList" value="#{bankingForm.countryId}" required="true" 
			onchange="this.form.submit();" 
			valueChangeListener="#{bankingForm.updateCountry}">
			<f:selectItems value="#{applicationData.countriesList}" />
		</h:selectOneMenu>
		<c:if test="#{!empty facesContext.externalContext.remoteUser}">
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
				class="deposit_button_h deposit_button ttUC deposit_button_h_banking">
				<span class="deposit_button rs">
					<span class="deposit_button cs">
						<h:outputText value="#{msgs['header.deposit']}" escape="false" />
					</span>
				</span>
			</a>
		</c:if>
		<c:if test="#{empty facesContext.externalContext.remoteUser}">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" target="_parent" class="deposit_button_h deposit_button ttUC deposit_button_h_banking">
				<span class="deposit_button rs">
					<span class="deposit_button cs">
						<h:outputText value="#{msgs['header.deposit']}" escape="false" />
					</span>
				</span>
			</a>
		</c:if>
	</div>
<table valign="top" cellspacing="0" width="596px" cellpadding="0" border="0" class="">
	<tr height="30px">
		<td class="new_lable_bold_title" width="168px" height="30px" style="padding-left:18px;"><h:outputText value="#{msgs['CMS.banking_content.text.text1']}" escape="false" /></td>
		<td width="177px" class="new_lable_bold_title">&#160;</td>
		<td class="new_lable_bold_title" width="125px" height="30px" align="center"><h:outputText value="#{msgs['CMS.banking_content.text.text2']}" escape="false" /></td>
		<td class="new_lable_bold_title" width="125px" height="30px" align="center"><h:outputText value="#{msgs['CMS.banking_content.text.text3']}" escape="false" /></td>
	</tr>
	<tr>
		<td colspan="4">
			<c:if test="#{applicationData.skinId == 8 or applicationData.skinId == 19}">
						<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
						<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveNetellerOption}">
					<ui:include src="/jsp/banking_NETELLER.xhtml"></ui:include>
				</c:if>
			</c:if>
			
			<c:if test="#{applicationData.skinId == 2 or applicationData.skinId == 13 or applicationData.skinId == 16 or applicationData.skinId == 23 or applicationData.skinId == 24 or applicationData.skinId == 25}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.skinId != 25}">
				
					<c:if test="#{applicationData.haveEpsOption}">
						<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
					</c:if>
					<c:if test="#{applicationData.haveGiropayOption}">
						<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
					</c:if>
					<c:if test="#{applicationData.haveDirect24Option}">
						<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
					</c:if>
					
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- Dinero Mail / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
					<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
				</c:if>
				<!-- LOBANET / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
					<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.skinId != 25}">
					<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveNetellerOption}">
					<ui:include src="/jsp/banking_NETELLER.xhtml"></ui:include>
				</c:if>
			</c:if>

			<c:if test="#{applicationData.skinId == 5 or applicationData.skinId == 14 or applicationData.skinId == 18 or applicationData.skinId == 26}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.skinId != 26}">
				
					<c:if test="#{applicationData.haveEpsOption }">
						<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
					</c:if>
					<c:if test="#{applicationData.haveGiropayOption }">
						<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
					</c:if>
					<c:if test="#{applicationData.haveDirect24Option }">
						<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
					</c:if>
					
				</c:if>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- Dinero Mail / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
					<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
				</c:if>
				<!-- LOBANET / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
					<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.skinId != 26}">
					<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveNetellerOption}">
					<ui:include src="/jsp/banking_NETELLER.xhtml"></ui:include>
				</c:if>
			</c:if>

			<c:if test="#{applicationData.skinId == 12 or applicationData.skinId == 21}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- Dinero Mail / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
					<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveNetellerOption}">
					<ui:include src="/jsp/banking_NETELLER.xhtml"></ui:include>
				</c:if>
			</c:if>

			<c:if test="#{applicationData.skinId == 9 or applicationData.skinId == 20}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- LOBANET / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
					<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveNetellerOption}">
					<ui:include src="/jsp/banking_NETELLER.xhtml"></ui:include>
				</c:if>
			</c:if>

			<c:if test="#{applicationData.skinId == 17}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- Dinero Mail / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveDineroMailOption}">
					<ui:include src="/jsp/banking_DineroMail.xhtml"></ui:include>
				</c:if>
				<!-- LOBANET / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
					<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
			</c:if>

			<c:if test="#{applicationData.skinId == 10}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- UKASH / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveUkashOption}">
					<ui:include src="/jsp/banking_UKASH.xhtml"></ui:include>
				</c:if>
				<!-- LOBANET / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
					<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
			</c:if>

			<c:if test="#{applicationData.skinId == 3}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>
				<!-- BARO PAY/ ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveBaroPayOption}">
					<ui:include src="/jsp/banking_AccountTransfer.xhtml"></ui:include>
				</c:if>
				<!-- La Caixa Linea Abierta / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankSpainOption}">
					<ui:include src="/jsp/banking_LaCaixaLineaAbierta.xhtml"></ui:include>
				</c:if>
				<!-- CASHU / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveCashUOption}">
					<ui:include src="/jsp/banking_CASHU.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>
				<!-- ENVOY / Domestice Payments / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyOption}">
					<ui:include src="/jsp/banking_DomesticePayments.xhtml"></ui:include>
				</c:if>
				<!-- TELEINGRESO / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveTeleingresoOption}">
					<ui:include src="/jsp/banking_TELEINGRESO.xhtml"></ui:include>
				</c:if>
				<!-- POLI / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.havePoil2Option}">
					<ui:include src="/jsp/banking_POLI2.xhtml"></ui:include>
				</c:if>
				<!-- Barcode Santander / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveSantanderOption}">
					<ui:include src="/jsp/banking_BarcodeSantander.xhtml"></ui:include>
				</c:if>
				<!-- HSBC BANK MEXICO / ISN'T USED -->
				<c:if test="#{applicationData.haveEnvoyBankMexicoOption}">
					<ui:include src="/jsp/banking_HSBC.xhtml"></ui:include>
				</c:if>
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<!-- MONETA / ISN'T USED -->
				<c:if test="#{applicationData.haveMonetaOption}">
					<ui:include src="/jsp/banking_MONETA.xhtml"></ui:include>
				</c:if>
				<!-- WEB MONEY / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveWebmoneyOption}">
					<ui:include src="/jsp/banking_WebMoney.xhtml"></ui:include>
				</c:if>
				<!-- LOBANET / ISN'T USED -->
				<c:if test="#{!commonUtil.skinRegulated and applicationData.haveLobanetOption}">
					<ui:include src="/jsp/banking_LOBANET.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
			</c:if>

			<c:if test="#{applicationData.skinId == 15}">
				<ui:include src="/jsp/banking_CreditCards.xhtml"></ui:include>	
				<c:if test="#{applicationData.haveEpsOption}">
					<ui:include src="/jsp/banking_EPS.xhtml"></ui:include>
				</c:if>
				<c:if test="#{applicationData.haveDeltaPayChina and !applicationData.isLive}">
					<ui:include src="/jsp/banking_UnionPay.xhtml"></ui:include>
				</c:if>	
				<c:if test="#{applicationData.haveGiropayOption}">
					<ui:include src="/jsp/banking_Giropay.xhtml"></ui:include>
				</c:if>	
				<c:if test="#{applicationData.haveDirect24Option}">
					<ui:include src="/jsp/banking_SOFORTUEBERWEISUNG.xhtml"></ui:include>
				</c:if>
				<ui:include src="/jsp/banking_WireTransfer.xhtml"></ui:include>		
				<c:if test="#{commonUtil.skinRegulated and applicationData.haveIdealOption}">
					<ui:include src="/jsp/banking_IDEAL.xhtml"></ui:include>
				</c:if>
				<c:if test="#{bankingForm.countryId != 44}">
					<ui:include src="/jsp/banking_MONEYBOOKERS.xhtml"></ui:include>
				</c:if>
			</c:if>
		</td><!-- End of payments table -->
	</tr>
</table>

<div class="clear">
	<span>
		<h:outputText value="#{msgs['CMS.banking_content.text.text4']}" escape="false" />
	</span>
	<br/>
	<span>
		<h:outputText value="#{msgs['CMS.banking_content.text.text5']}" escape="false" />
	</span>
</div>

</h:form>
</f:view>