<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.banking.metadata.depositandwithdraw.jsf.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.banking.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.banking.metadata.description']}"/>
	</ui:define>
	<!-- HEAD -->
	<ui:define name="head">
		<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js?version=cvsTimeStamp"></script>
		<script>
			var lastTd = null;

			function showArrow(tdId, link){
				var tdActive = document.getElementById(tdId + "_arrow");
				tdActive.style.visibility = 'visible';
				tdActive.focus();

				if (null != lastTd) {
				hideArrow(lastTd, link);
				}
				if (lastTd != tdId) {
				lastTd = tdId;
				} else {
				lastTd = null;
				}
			}

			function hideArrow(tdId, link){
				var tdActive = document.getElementById(tdId + "_arrow");
				tdActive.style.visibility = 'hidden';
			}
			// switch picture
			function Changepic(elementId,picname) {
				var btn_img = document.getElementById(elementId);
				btn_img.src = picname;
			}
			$(document).ready(function() {
				$("[id^=paymentMethodBlock_]:odd").css("background-color","#f2f2f2");
			});
		</script>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" />
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<c:if test="#{applicationData.skinId != 1}">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.banking.text.rightnav.deposit.withdraw']}" />
					<ui:param name="h2" value="#{msgs['CMS.banking.text.header.message']}" />
				</ui:include>
				
				<!--content in-->
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
					<ui:include src="/jsp/html_elements/payment_strip.xhtml">
						 <ui:param name="strip_id" value="banking" />
					</ui:include>
				</h:panelGroup>
				<div class="clear banking_h  banking_h_#{applicationData.userLocale.language}">
					<ui:include src="/jsp/banking_content.xhtml"/>
				</div>
			</c:if>
			<c:if test="#{applicationData.skinId == 1}">
				<div class="pageMain">
					<!--Titles-->
					<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
						<ui:param name="h1" value="#{msgs['CMS.banking.text.rightnav.deposit.withdraw']}" />
						<ui:param name="h2" value="#{msgs['CMS.banking.text.header.message']}" />
					</ui:include>
					
					<div class="clear banking_h">
						<ui:include src="/jsp/banking_content_iw.xhtml"/>
					</div>
				</div>
				<div class="pageBanners">
					<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
						<ui:param name="howTo_oneTouch" value="true" />
						<ui:param name="trade_but" value="true" />
					</ui:include>
				</div>
				<span class="float_fix"></span>
			</c:if>
		</div>
	</ui:define>
</ui:composition>
</f:view>
