<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<b class="banking_title"><h:outputText value="#{msgs['CMS.banking_content_iw.title1']}" escape="false" /></b><br /><br />
	<h:outputText value="#{msgs['CMS.banking_content_iw.text1']}" escape="false" /><br /><br />
	<b class="banking_title"><h:outputText value="#{msgs['CMS.banking_content_iw.title2']}" escape="false" /></b><br /><br />
	<h:outputText value="#{msgs['CMS.banking_content_iw.text2']}" escape="false" /><br /><br />
	<h:outputText value="#{msgs['CMS.banking_content_iw.text3']}" escape="false" />
	<b class="banking_title"><h:outputText value="#{msgs['CMS.banking_content_iw.title3']}" escape="false" /></b><br /><br />
	<h:outputText value="#{msgs['CMS.banking_content_iw.text4']}" escape="false" />
	<b class="banking_title"><h:outputText value="#{msgs['CMS.banking_content_iw.title4']}" escape="false" /></b><br /><br />
	<h:outputText value="#{msgs['CMS.banking_content_iw.text5']}" escape="false" />
</f:view>