<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>

	<table>
		<tr height="58px" id="paymentMethodBlock_hsbc">
				<td width="155px" align="center">
					<img src="#{applicationData.imagesPath}/banking/hsbc.gif" width="125px" height="42px" />
				</td>
				<td width="190px" id="hsbc" class="bankingBorder" align="left">
					<table cellpadding="0" cellspacing="0" width="190px" border="0">
						<tr>
							<td width="8px" id="hsbc_arrow" style="visibility: hidden;"><h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/></td>
							<td width="182px">
								<a href="javascript:;" class="bankingLabel" onclick="showArrow('hsbc', this);slidedownQesBanking('q13',this);" >&#160;
									<h:outputText value="#{msgs['payment.type.hsbc']}"/>
								</a>
							</td>
						</tr>
					</table>
				</td>
				<td width="125px" align="center" class="bankingBorder">
					<span class="banking_check banking_check_ok"></span>
				</td>
				<td width="125px" align="center">
					<span class="banking_check banking_check_no"></span>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<div id="q13" style="display:none; overflow:hidden;" class="payment_method_block">
						<table cellpadding="0" cellspacing="0" border="0" width="595px"> <!-- Deposit/Withdraw -->
							<h:panelGroup rendered="#{applicationData.skinId != 15}">
								<tr>
									<td colspan="3" align="left" valign="top" class="tabs_banking">
										<table cellpadding="0" cellspacing="0" border="0" width="160px">
											<tr>
												<td class="tabs_banking_title">
													<h:outputText value="#{msgs['CMS.banking_HSBC.text.text1']}" escape="false" />
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId == 15}">
								<tr>
									<td colspan="3" align="center">
										<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/b_deposit.gif" width="568px" height="46px" />
									</td>
								</tr>
							</h:panelGroup>
							<tr>
								<td width="17px">&#160;</td>
								<td width="550px">
									<span class="new_lable_bold">
										<h:outputText value="#{msgs['CMS.banking_HSBC.text.text2']}" escape="false" />
									</span>
									<span class="bankingText">
										<h:outputText value="#{msgs['CMS.banking_HSBC.text.text3']}" escape="false" />
									</span>
									<span class="new_lable_bold">
										<h:outputText value="#{msgs['CMS.banking_HSBC.text.text4']}" escape="false" />
									</span>
									<span class="bankingText">
										<h:outputFormat value="#{msgs['CMS.banking_HSBC.text.text5']}" escape="false" >
											<f:param value="#{bankingForm.faxNumber}" />
										</h:outputFormat>
								</span>
							</td>
							<td width="28px">&#160;</td>
						</tr>
					</table>
				</div>
			</td>
		</tr>
		<tr height="1px" bgcolor="#ffffff"><td colspan="4"></td></tr>
	</table>
</f:view>