<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.benefits-of-binary-option-trading.metadata.learn.benefits.window.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.benefits-of-binary-option-trading.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.benefits-of-binary-option-trading.metadata.learn.about.benefits.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/benefits-of-binary-option-trading.jsf')}" />
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.learnAboutStrip.label.header.learn.benefits']}" />
					<ui:param name="h2" value="#{msgs['CMS.benefits-of-binary-option-trading.text.learn.title.message']}" />
				</ui:include>
				
				<!--content in-->
				<h:panelGroup rendered="#{applicationData.skinId != 17}">
					<ui:include src="/jsp/html_elements/none_main_menu_academy.xhtml">
						<ui:param name="linkActive_6" value="active"/>
					</ui:include>
				</h:panelGroup>
				<ui:include src="/jsp/html_elements/learnAboutStrip.xhtml" />
				<ui:include src="/jsp/learnAboutBenefitsContent.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="BinaryMenu" value="true" />
					<ui:param name="howTo_oneTouch" value="true" />
					<ui:param name="ourTradersShare" value="true" />
					<ui:param name="trade_but" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>

</ui:composition>

</f:view>