<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<c:if test="#{slipForm1T.getUpdateMarketId(677)}"/>
	<div class="clear longTerm">
		<h:panelGroup rendered="#{slipForm1T.oneTouchListSize == 0}">
			<c:if test="#{!applicationData.isHasOpenOneTouchForUser}">
				<ui:include src="/jsp/html_elements/offHours_trade_special.xhtml">
					<ui:param name="className" value="bitcoint" />
					<ui:param name="text" value="#{msgs['CMS.bitcoin-options.text.offhours.line1']}" />
					<ui:param name="link_text" value="#{!(applicationData.isHasOpenOneTouchForUser)?msgs['CMS.bitcoin-options.text.offhours.bitcoin']:msgs['CMS.bitcoin-options.text.offhours.1t.line']}" />
					<ui:param name="link" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/'.concat((!applicationData.isHasOpenOneTouchForUser)?'trade_binary_options.jsf':'oneTouch.jsf'))}" />
				</ui:include>
			</c:if>
			<c:if test="#{applicationData.isHasOpenOneTouchForUser}">
				<ui:include src="/jsp/html_elements/offhours_weekend.xhtml" >
					<ui:param name="page" value="bitcoin" />
				</ui:include>
			</c:if>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{slipForm1T.oneTouchListSize != 0}">
			<table width="100%" border="0" cellspacing="0" cellpadding="3" align="center"  class="table1Touch" style="border-width:0px;">
				<tr class="headerTxt">
					<td width="56"><h:outputText value="#{msgs['expire.level.expires']}"/></td>
					<td width="91" align="#{applicationData.pageAlignmentReverse}"><h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.option']}"/></td>
					<td width="15" >&#160;</td>
					<td width="105" ><h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.profit']}"/></td>
					<td width="62" ><h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.unit']}"/></td>
					<td width="70" >
						<h:outputText class="headerTxt" value="#{msgs['CMS.bitcoin.text.bitcoin.tableHeaders.price']}"/>
					</td>
					<td width="108" >
						<h:outputText class="headerTxt" value="#{msgs['CMS.facebook-options.text.onetouch.tableHeaders.return']}"/>
					</td>
					<td width="67">&#160;</td>
					<td width="33">&#160;</td>
				</tr>
				<t:dataList value="#{slipForm1T.oneTouchList}" var="item" rowIndexVar="crrEntry" layout="simple" rendered="#{slipForm1T.oneTouchListSize > 0}">
					<tr valign="middle" class="#{slipForm1T.oneTouchAOInvId!=0 and slipForm1T.returningOppId==item.id? 'onetouch_row1':'onetouch_row2'}" id="tr_#{item.id}" height="25px" >
						<td style="#{applicationData.skinId==1?'font-size:11px':'font-weight:bold;'}">
							<h:outputText value="#{slipForm1T.oneTouchAOInvId}" class="optionClass" rendered="#{slipForm1T.oneTouchAOInvId!=0 and slipForm1T.returningOppId==item.id}"/>
							<h:outputText value="#{commonUtil.getTimeByFormat((item.timeEstClosing), 'dd.MM.yy')}" class="optionClass" rendered="#{!(slipForm1T.oneTouchAOInvId!=0 and slipForm1T.returningOppId==item.id)}"/>
						</td>
						<td align="#{applicationData.pageAlignmentReverse}">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<h:outputText styleClass="optionClass" value="#{item.market.displayName}"/>&#160;<h:outputText rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}" value="#{item.oneTouchCurrentLevel}" styleClass="optionClass"/><h:outputText rendered="#{slipForm1T.oneTouchAOInvId!=0 and slipForm1T.returningOppId==item.id}" value="#{slipForm1T.lastInvCurrentLevel}" styleClass="optionClass"/>
									</td>
								</tr>
							</table>
						</td>
						<td>
							<h:panelGroup rendered="#{item.isOneTouchUp}">
								<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up_blink.gif" alt="#{msgs['CMS.facebook-options.alt.up_blink.gif']}" />
							</h:panelGroup>
							<h:panelGroup rendered="#{!item.isOneTouchUp}">
								<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down_blink.gif" alt="#{msgs['CMS.facebook-options.alt.down_blink.gif']}" />
							</h:panelGroup>
						</td>
						<td align="center" style="#{applicationData.skinId==1?'font-size:11px':'font-weight:bold;'}">
							<h:outputText rendered="#{applicationData.rtlAlign || applicationData.skinId==3 }"  value="% #{item.overOddsWinFormatAO}"/>
							<h:outputText rendered="#{!applicationData.rtlAlign and applicationData.skinId!=3}" value="#{item.overOddsWinFormatAO} %"/>
						</td>
						<td align="center">
							<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}">
								<select id="select_#{item.id}" style="width:#{applicationData.skinId==8 || applicationData.skinId==9?'80px':'60px' }" onchange="calculateReturn(this,'#{item.id}')" class="units_select">
									<t:dataList value="#{slipForm1T.unitsSelect}" var="selectItem" layout="simple" first = "1">
										<h:panelGroup rendered="#{selectItem.value==slipForm1T.oneTouchAOunits}">
										<option value="#{selectItem.value}"  SELECTED="1">#{selectItem.label}</option>
										</h:panelGroup>
										<h:panelGroup rendered="#{selectItem.value!=slipForm1T.oneTouchAOunits}">
										<option value="#{selectItem.value}" >#{selectItem.label}</option>
										</h:panelGroup>>
									</t:dataList>
								</select>
							</h:panelGroup>
							<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId!=0 and slipForm1T.returningOppId==item.id}">
								<h:outputText value="#{slipForm1T.lastInvUnits}" />
							</h:panelGroup>
						</td>
						<td align="center" width="85px" style="#{applicationData.skinId==1?'font-size:11px':'font-weight:bold;'}">
							<h:panelGroup>
								<h:outputText rendered="#{applicationData.currencyLeftSymbol}" value="#{applicationData.realCurrencySymbol}"/>
							</h:panelGroup>
							<span id="price_#{item.id}" style="#{applicationData.rtlAlign ? 'font-size:11px':''}">
								<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits==0}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
								<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
								<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
								<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.lastInvUnits}&#160;"/>
								<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>

								<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits==0}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
								<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
								<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
								<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.lastInvUnits}&#160;"/>
								<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
							</span>
							<h:panelGroup>
								<h:outputText rendered="#{!applicationData.currencyLeftSymbol}" value="#{applicationData.realCurrencySymbol}"/>
							</h:panelGroup>
						</td>
						<td align="center" style="#{applicationData.skinId==1?'font-size:11px':'font-weight:bold;'}">
							<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId!=0 and slipForm1T.returningOppId==item.id}">
								<h:panelGroup rendered="#{applicationData.currencyLeftSymbol}">
									<h:outputText value="#{applicationData.realCurrencySymbol}"/>
								</h:panelGroup>
								<span id="return_#{item.id}">
								<script>
									var price = parseInt(#{slipForm1T.requestAmountAO});
									var odds = parseFloat(#{item.oddsType.overOddsWin});
									var newReturn = price + (price * odds);
									document.write(newReturn);
								</script>
								</span>
								<h:panelGroup rendered="#{!applicationData.currencyLeftSymbol}">
									<h:outputText value="#{applicationData.realCurrencySymbol}"/>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId==0 || slipForm1T.returningOppId!=item.id}">
								<h:panelGroup rendered="#{applicationData.currencyLeftSymbol}">
									<h:outputText value="#{applicationData.realCurrencySymbol}"/>
								</h:panelGroup>
								<span id="return_#{item.id}">
								<script>
									var price = parseInt(#{slipForm1T.oneTouchUnitPriceAO});
									var unit = parseInt(#{slipForm1T.oneTouchAOunits});
									price = unit * price;
									var odds = parseFloat(#{item.oddsType.overOddsWin});
									var newReturn = price + (price * odds);
									document.write(newReturn);
								</script>
								</span>
								<h:panelGroup rendered="#{!applicationData.currencyLeftSymbol}">
									<h:outputText value="#{applicationData.realCurrencySymbol}"/>
								</h:panelGroup>
							</h:panelGroup>
						</td>
						<td align="left">
							<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId == 0 || slipForm1T.returningOppId!=item.id}">
								<span class="buyButtonSmall ttUC" id="submit_#{item.id}" onclick="submitOneTouchFromServerSlip({itemId: '#{item.id}', marketId: '#{item.marketId}', isOneTouchUp: #{item.isOneTouchUp}, from: 'longterm'});"><h:outputText value="#{msgs['CMS.tradingPages.text.buy']}" escape='false'/></span>
							</h:panelGroup>
							<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId != 0 and slipForm1T.returningOppId==item.id}">
								<span onclick="printSuccessOneTouch('#{slipForm1T.oneTouchAOInvId}','#{item.oneTouchUpDown}');" class="icon_set_1 icon_set_1_print vaM" title="#{msgs['CMS.oneTouch.alt.printao_u.png']}"></span>
							</h:panelGroup>
						</td>
						<td height="25px" align="center">
							<h:form id="updateOneTouchList" rendered="#{slipForm1T.oneTouchAOInvId != 0 and slipForm1T.returningOppId==item.id}" styleClass="_closeLongTerm">
								<h:commandLink action="#{slipForm1T.updateOneTouchListAO}" styleClass="optionClass"
								id="hiddenSubmit"><strong>X</strong></h:commandLink>
							</h:form>
						</td>
					</tr>
					<tr height="5" valign="top" class="subtext">
						<td colspan="9">
							<h:panelGroup rendered="#{item.isOneTouchUp}">
								<h:outputFormat value="#{msgs['CMS.bitcoin-options.text.onetouch.marketMsg1.up']}" escape="false">
									<f:param value="#{item.oneTouchCurrentLevel}" />
									<f:param value="#{commonUtil.getTimeByFormat((item.timeEstClosing), 'HH:mm')}" />
									<f:param value="#{commonUtil.getTimeByFormat((item.timeEstClosing), 'dd.MM.yy')}" />
									<f:param value="#{item.market.displayName}" />
								</h:outputFormat>
							</h:panelGroup>
							<h:panelGroup rendered="#{!item.isOneTouchUp}">
								<h:outputFormat value="#{msgs['CMS.bitcoin-options.text.onetouch.marketMsg1.down']}" escape="false">
									<f:param value="#{item.oneTouchCurrentLevel}" />
									<f:param value="#{commonUtil.getTimeByFormat((item.timeEstClosing), 'HH:mm')}" />
									<f:param value="#{commonUtil.getTimeByFormat((item.timeEstClosing), 'dd.MM.yy')}" />
									<f:param value="#{item.market.displayName}" />
								</h:outputFormat>
							</h:panelGroup>
						</td>
					</tr>
					<h:panelGroup rendered="#{commonUtil.hasMessages and item.id==slipForm1T.returningOppId}">
				<tr id="loginErrorTR_#{item.id}"  align="center">
					<td colspan="9">
						<div class="pR">
							<div class="bitCoin_error_h #{(!slipForm1T.loginErrorFlag1TAO)?'bitCoin_error_small':''}" id="error_holder">
								<span class="tradeBox_img tradeBox_AI_close" onclick="closeElement({'el':this,'top_id':'error_holder'})"></span>
								<h:panelGroup rendered="#{slipForm1T.regulationError}">
									<a href="#{slipForm1T.regulationLinkValue}" class="general_link_10" onclick="#{(slipForm1T.regulationLinkValue.endsWith(pageNames.getPageName(applicationData.linkLocalePrefix,'/questionnaire.jsf'))) ? 'showSingleQuestionnairePopup();return false;' : ''}">
										<h:outputText escape="false" value="#{slipForm1T.regulationMessageTxt}"/>
									</a>
								</h:panelGroup>
								<h:panelGroup rendered="#{commonUtil.hasMessages and !slipForm1T.regulationError}">
									<div class="bitcoin_error"><t:messages id="messages" globalonly="true" errorClass="#{!slipForm1T.loginErrorFlag1TAO?'bitcoin_error_2':''}"/></div>
									<script>
									$('.bitcoin_error').each(function(index, el){
										el.innerHTML = unescapeStuff(el.innerHTML);
									})
									</script>
								</h:panelGroup>
								<h:panelGroup rendered="#{commonUtil.hasMessages and slipForm1T.loginErrorFlag1TAO}">
											<div class="clear">
												<div class="oH clear mt10">
													<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="trade_buton_login trade_buton_login_h fL bitcoin_login">
														<span class="rs trade_buton_login">
															<span class="cs cs_#{applicationData.userLocale.language} trade_buton_login">
																<h:outputText value="#{msgs['CMS.quick_sign_up.submit1']}" />
															</span>
														</span>
													</a>
													<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}" class="trade_buton_login trade_buton_register_h fR bitcoin_login" onclick="tradeAttemptLogin(this, event)">
														<span class="rs trade_buton_login">
															<span class="cs trade_buton_login">
																<h:outputText value="#{msgs['header.login1']}" />
															</span>
														</span>
													</a>
												</div>
											</div>
										</h:panelGroup>
										<h:panelGroup rendered="#{slipForm1T.lowBalanceError}">
											<div class="clear">
												<div class="oH clear mt10 taC">
													<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
														class="trade_buton_login trade_buton_login_h bitcoin_login dIB">
														<span class="rs trade_buton_login">
															<span class="cs trade_buton_login">
																<h:outputText value="#{msgs['header.deposit']}" />
															</span>
														</span>
													</a>
												</div>
											</div>
										</h:panelGroup>
									</div>
								</div>
							</td>
							<script>closeOnClickOut({'id':'error_holder'})</script>
						</tr>
					</h:panelGroup>
				<h:panelGroup rendered="#{slipForm1T.oneTouchAOInvId != 0 and slipForm1T.returningOppId==item.id and slipForm1T.showCancelInvestment}">
				#{slipForm1T.setShowCancelInvestment(false)}
				<tr id="cancelTR_#{item.id}" align="center">
					<td colspan="9">
						<div class="pR">
							<div class="chart-overlays" id="chart-overlays">
								<div class="cancel-inv-slip" id="cancel-inv-slip">
									<div class="level">
										<i class="invest-arrow #{item.isOneTouchUp ? 'call' : 'put'}" id="cancel-inv-invest-arrow"></i> 
										<span class="vaM">
											 <span id="cancel-inv-level">#{slipForm1T.lastInvCurrentLevel}</span> | 
											 <span class="amount" id="cancel-inv-amount">
												<h:panelGroup>
													<h:outputText rendered="#{applicationData.currencyLeftSymbol}" value="#{applicationData.realCurrencySymbol}"/>
												</h:panelGroup>
												<span id="cancelInvAmountLongTerm">
													<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits==0}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
													<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
													<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
													<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.lastInvUnits}&#160;"/>
													<h:outputText rendered="#{!applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>

													<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits==0}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
													<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
													<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &lt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
													<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId==item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.lastInvUnits}&#160;"/>
													<h:outputText rendered="#{applicationData.rtlAlign and slipForm1T.oneTouchAOunits &gt;0 and slipForm1T.returningOppId!=item.id}" value="&#160;#{slipForm1T.oneTouchUnitPriceAO*slipForm1T.oneTouchAOunits}&#160;"/>
												</span>
												<h:panelGroup>
													<h:outputText rendered="#{!applicationData.currencyLeftSymbol}" value="#{applicationData.realCurrencySymbol}"/>
												</h:panelGroup>
											 </span>
										</span>
									</div>
									<div class="timer">
										<div class="loader" id="cancel-inv-time-left-percent"></div>
										<span class="time" id="cancel-inv-time-left-sec"></span>
									</div>
									<div class="text1" id="cancelInvText">#{msgs['cancelInvText']}</div>
									<div class="taC">
										<span class="submit-link" onclick="cancelInvLongTerm(#{slipForm1T.oneTouchAOInvId})">#{msgs['cancelInvLink']}</span>
									</div>
									<div class="hide-forever">
										<input type="checkbox" onclick="disableCanacelInv()"/> <span>#{msgs['cancelInvDontShow']}</span>
									</div>
								</div>
								<div class="cancel-inv-msg-slip" id="cancel-inv-msg-slip">
									<div class="cool-close blue-grey" onclick="hideCancelInvMsg()"></div>
									<i class="canceled-ico"></i>
									<div class="text">#{msgs['canceledInv']}</div>
								</div>
							</div>
						</div>
						<script>
							showCancelLongTerm();
						</script>
					</td>
				</tr>
				</h:panelGroup>
					<tr style="display:none">
						<td>
							<input id="odds_win_#{item.id}" type="hidden" value="#{item.oddsType.overOddsWin}"/>
							<input id="odds_lose_#{item.id}" type="hidden" value="#{item.oddsType.overOddsLose}"/>
							<input id="pageLvl_#{item.id}" type="hidden" value="#{item.currentLevel}"/>
						</td>
					</tr>
				</t:dataList>
			</table>
		</h:panelGroup>
		<div class="bitcoin_expLine">
			<a  class="bitCoint_pop_link" onclick="openPopUp('popUp');">
				<h:outputText value="#{msgs['CMS.bitcoin-options.text.bitcoin.termsLink']}" escape='false'/>
			</a>
		</div>

		<div class="special_about_holder">
			<div class="special_p special_p_coin"></div>
			<div class="special_about_text_holder">
				<h3 class="special_about_text_h3"><h:outputText escape="false" value="#{msgs['CMS.bitcoin.about_h1']}"/></h3>
				<h:outputText escape="false" value="#{msgs['CMS.bitcoin.about']}"/>
			</div>
		</div>

		<div style="display:none">
			<h:form id="oneTouchAO">
				<h:inputText id="optionId" value=""/>
				<h:inputText id="price" value="#{slipForm1T.oneTouchUnitPriceAO}"/>
				<h:inputText id="odds_win" value=""/>
				<h:inputText id="odds_lose" value=""/>
				<h:inputText id="pageLvl" value=""/>
				<h:inputText id="units" value=""/>
				<h:inputText id="utcOffset" value=""/>
				<h:commandLink action="#{slipForm1T.submitOneTouchFromSlipAO}" id="hiddenSubmit" style="display:none"/>
			</h:form>
		</div>
		<ui:include src="/jsp/html_elements/bitcoinTermsPop.xhtml"/>
	</div>
</f:view>