<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	
<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.bitcoin-options.metadata.bitcoin.windowTitle']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.bitcoin-options.metadata.bitcoin.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.bitcoin-options.metadata.bitcoin.description']}"/>
	</ui:define>
	<!-- HEAD -->
	<ui:define name="head">
		<script src="#{facesContext.externalContext.requestContextPath}/js/oneTouch.js?version=cvsTimeStamp"></script>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/facebook-options.jsf')}" />
	</ui:define>
	<!-- CONTENT -->
	<ui:define name="content">
		<div class="page_bgr_trade">
			<div class="clear">
				<ui:include src="/jsp/html_elements/trade_menu_strip.xhtml">
					<ui:param name="bitcointLink" value="active" />
				</ui:include>
			</div>
			<div class="clear">
				<ui:include src="/jsp/html_elements/trade_menu_strip_special.xhtml"/>
			</div>
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.bitcoin-options.text.bitcoin.header.tab']}" />
					<ui:param name="h2" value="#{msgs['CMS.bitcoin-options.text.bitcoin.title']}" />
				</ui:include>
				
				<!--content in-->
				<ui:include src="/jsp/bitcoin-options_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
					<div class="rightBan_border">
						<div class="headers_field_int">
							<h1 class="funnel_int_h1 funnel_int_h1_#{applicationData.userLocale.language}"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h1>
							<span class="funnel_subtitle_int"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
						</div>
						<div class="shortReg_int" id="shortReg_int">
							<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" />
						</div>
						<script>initRegForm('shortReg_int',#{applicationData.skinId});</script>
					</div>
				</h:panelGroup>
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					<iframe id="right_side_investments" name="right_side_investments" width="195" height="262" frameborder="no" scrolling="no" class="clear"
						src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=_small" >
					</iframe>
				</h:panelGroup>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>