<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>


<div class="main_page_text">
	<iframe src="//www.mte-media.com/admin2/frames/widgets_index.php?ref=5ac7430&amp;set=Default&amp;widg=cal&amp;lng=en" width="100%" height="800px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
</div>

</f:view>