<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">

<ui:define name="content">
	<script>
	//if (window.top!=window.self){
	//	window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/errorPage.jsf";
	//}
	</script>
	<div class="page_bgr">
		<!--Titles-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
			<ui:param name="h1" value="#{msgs['CMS.errorPage.text.rightnav.title']}"/>
			<ui:param name="h2" value="" />
		</ui:include>
		<!-- Error Content -->
		<div class="error_page_content">
			<span class="error_page_img"></span>
			<hr class="error_page_hr"/>
			<h3 class="error_page_h3"><h:outputText escape="false" value="#{msgs['CMS.errorPage.text.description.header']}"/></h3>
			<p class="error_page_p"><h:outputText escape="false" value="#{msgs['CMS.errorPage.text.description.row1']}"/></p>
			<p class="error_page_p"><h:outputText escape="false" value="#{msgs['CMS.errorPage.text.description.row2']}"/></p>
			<ul class="error_page_list">
				<!-- Home -->
				<li class="error_page_mr error_page_mr_#{applicationData.userLocale.language} error_page_ml_#{applicationData.userLocale.language}">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" class="error_page_link error_page_home">
						<span class="error_page_label error_page_label_#{applicationData.userLocale.language}"><h:outputText escape="false" value="#{msgs['CMS.errorPage.label.error_menu.title1']}"/></span>
					</a>
				</li>
				<!-- Trade -->
				<li class="error_page_mr error_page_mr_#{applicationData.userLocale.language}">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" class="error_page_link error_page_trade">
						<span class="error_page_label"><h:outputText escape="false" value="#{msgs['CMS.errorPage.label.error_menu.title2']}"/></span>
					</a>
				</li>
				<!-- Mobile -->
				<h:panelGroup rendered="#{applicationData.skinId != 15}">
				<li class="error_page_mr error_page_mr_#{applicationData.userLocale.language}">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" class="error_page_link error_page_mobile">
						<span class="error_page_label"><h:outputText escape="false" value="#{msgs['CMS.errorPage.label.error_menu.title3']}"/></span>
					</a>
				</li>
				</h:panelGroup>
				<!-- Academy -->
				<h:panelGroup rendered="#{applicationData.skinId!=17}">
					<li class="error_page_mr error_page_mr_#{applicationData.userLocale.language}">
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}" class="error_page_link error_page_academy">
							<span class="error_page_label"><h:outputText escape="false" value="#{msgs['CMS.errorPage.label.error_menu.title4']}"/></span>
						</a>
					</li>
				</h:panelGroup>
				<!-- Blog -->
				<li>
					<a href="#{facesContext.externalContext.requestContextPath}/blog" 
						onclick="if(this.href.substr(0, 8) == 'https://'){this.href = 'http://' + this.href.substr(8)};" class="error_page_link error_page_blog" target="blank_">
						<span class="error_page_label"><h:outputText escape="false" value="#{msgs['CMS.errorPage.label.error_menu.title5']}"/></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</ui:define>

</ui:composition>
</f:view>