<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['anyoption.title']}"/>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['error.pageIL.title']}" />
					<ui:param name="h2" value="#{msgs['header.openaccount.message']}" />
				</ui:include>
				
				<!--content in-->
				<br/><br/><br/><br/>
				<t:panelGroup align="center" >
				<center>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['forbidUSA'] == 'true'}">
							<h:outputText styleClass="error_messages_10px" value="Sorry, we do not accept US citizens"/>
						</h:panelGroup>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['forbidUSA'] != 'true' &amp;&amp; facesContext.externalContext.requestParameterMap['forbidAR'] != 'true'}">
				   			<h:outputText rendered="#{facesContext.externalContext.requestParameterMap['net'] == 'false'}" escape="false" styleClass="error_messages_10px" value="#{msgs['error.register.forbidden']}"/>
				   			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['net'] == 'true'}">
					   			<h:outputText escape="false" styleClass="error_messages_10px" value="#{msgs['error.register.netrefer.forbidden1']}"/>
					   			<h:outputText value=" "/>
								<A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" class="error_messages" >
								<h:outputText value="#{msgs['error.register.netrefer.forbidden2']}" /></A>
								<h:outputText value=" "/>
								<h:outputText escape="false" styleClass="error_messages_10px" value="#{msgs['error.register.netrefer.forbidden3']}"/>
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['forbidAR'] == 'true'}">
							<h:outputText styleClass="error_messages_10px" value="#{msgs['CMS.no.register.msg']}"/>
						</h:panelGroup>
				</center>
    		</t:panelGroup>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="howTo_oneTouch" value="true" />
					<ui:param name="ourTradersShare" value="true" />
					<ui:param name="trade_but" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>

</ui:composition>
</f:view>