<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.faq.metadata.jsf.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.aboutus.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.faq.metadata.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" />
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<script src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js?version=cvsTimeStamp"></script>
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.faq.text.rightnav.faq']}" />
					<ui:param name="h2" value="#{msgs['CMS.faq.text.rightnav.faq.message']}" />
				</ui:include>
				
				<!--content in-->
				<ui:include src="/jsp/faq_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<c:if test="#{applicationData.skinId != 15}">
						<ui:param name="howTo_oneTouch" value="true" />
						<ui:param name="trade_but" value="true" />
					</c:if>
					<c:otherwise>
						<ui:param name="topBanner" value="true" />
						<ui:param name="regBtn" value="true" />
						<ui:param name="contactMe" value="true" />
					</c:otherwise>
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>
