<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.general_terms.text.generalterms.jsf.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.general_terms.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.general_terms.metadata.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}" />
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<!--Titles-->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
				<ui:param name="h1" value="#{msgs['CMS.general_terms.text.rightnav.generalterms']}" />
				<ui:param name="h2" value="#{msgs['CMS.general_terms.text.rightnav.generalterms.message']}" />
			</ui:include>
			
			<!--content in-->
			<ui:include src="/jsp/general_terms_content.xhtml"></ui:include>
		</div>
	</ui:define>
</ui:composition>
</f:view>