<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['generalterms.one.touch.jsf.title']}"/>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['rightnav.generalterms.one.touch']}" />
					<ui:param name="h2" value="" />
				</ui:include>
				
				<!--content in-->
				<ui:include src="/jsp/general_terms_one_touch_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<c:if test="#{applicationData.skinId != 15}">
						<ui:param name="howTo_oneTouch" value="true" />
						<ui:param name="ourTradersShare" value="true" />
						<ui:param name="trade_but" value="true" />
					</c:if>
					<c:otherwise>
						<ui:param name="topBanner" value="true" />
						<ui:param name="regBtn" value="true" />
						<ui:param name="contactMe" value="true" />
					</c:otherwise>
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>
</f:view>