<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<div style="text-align:justify">
		<p class="mt20"><h:outputText value="#{msgs['CMS.index_options.text.t_1']}" escape='false'/></p>
		<p>
			<img src="#{applicationData.imagesPath}/ao/index_options.jpg" width='500' height='355' class="fR ml10" alt="#{msgs['CMS.index_options.alt.index_options.jpg']}"/>
			<span class="dB b"><h:outputText value="#{msgs['CMS.index_options.text.b_2']}" escape='false'/></span>
			<span><h:outputText value="#{msgs['CMS.index_options.text.t_2']}" escape='false'/></span>
		</p>
		<ul class="pl15">
			<li>
				<span class="dB b"><h:outputText value="#{msgs['CMS.index_options.text.ul1.li1_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul1.li1']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul1.li2_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul1.li2']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul1.li3_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul1.li3']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul1.li4_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul1.li4']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul1.li5_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul1.li5']}" escape='false'/></span>
			</li>
		</ul>
		<p><h:outputText value="#{msgs['CMS.index_options.text.t_3']}" escape='false'/></p>
		<ul class="pl15">
			<li>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul2.li1']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul2.li2']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul2.li3']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul2.li4']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul2.li5']}" escape='false'/></span>
			</li>
		</ul>
		<p>
			<span class="dB b"><h:outputText value="#{msgs['CMS.index_options.text.b_3']}" escape='false'/></span>
			<span><h:outputText value="#{msgs['CMS.index_options.text.t_4']}" escape='false'/></span>
		</p>
		<ul class="pl15">
			<li>
				<span><h:outputText value="#{msgs['CMS.index_options.text.ul3.li1']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul3.li2']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul3.li3']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul3.li4']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB mt5"><h:outputText value="#{msgs['CMS.index_options.text.ul3.li5']}" escape='false'/></span>
			</li>
		</ul>
		<p>
			<span class="dB b"><h:outputText value="#{msgs['CMS.index_options.text.b_4']}" escape='false'/></span>
			<span>
				<h:outputFormat value="#{msgs['CMS.index_options.text.t_5']}" escape='false'>
					<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"/>
				</h:outputFormat>
				</span>
		</p>
		<p><h:outputText value="#{msgs['CMS.index_options.text.t_6']}" escape='false'/></p>
		<p>
			<h:outputFormat value="#{msgs['CMS.index_options.text.t_7']}" escape='false'>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/commodity_options.jsf')}"/>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/stock_options.jsf')}"/>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/currency_options.jsf')}"/>
			</h:outputFormat>
		</p>
	</div>
</f:view>