<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.index.metadata.anyoption.title.index']}"/>
	</ui:define>
	
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.index.metadata.anyoption.description.index.page']}"/>
	</ui:define>
	
	<!-- HEAD -->
	<ui:define name="head">
		<h:panelGroup rendered="#{applicationData.skinId == '1'}">
			<script>redirectEtHp()</script>
		</h:panelGroup>
		<!-- anyoption Google Plus verification snippet -->
		<link rel="publisher" href="https://plus.google.com/117886135551182485293" />
		<!-- cache-control -->
		<meta http-equiv="cache-control" content="no-cache"/>
		<meta http-equiv="pragma" content="no-cache"/>
		<meta http-equiv="expires" content="0"/>
		<!-- trade boxes -->
		<script>
			isHomePage = true;
		</script>
		<h:panelGroup rendered="#{applicationData.linkLocalePrefix != 'it' and applicationData.linkLocalePrefix != 'iw'}">
			<link rel="alternate" hreflang="en" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://www.anyoption.com" />
			<link rel="alternate" hreflang="tr" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://turkey.anyoption.com" />
			<link rel="alternate" hreflang="es" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://es.anyoption.com" />
			<link rel="alternate" hreflang="de" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://de.anyoption.com" />			
			<link rel="alternate" hreflang="ru" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://ru.anyoption.com" />
			<link rel="alternate" hreflang="fr" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://fr.anyoption.com" />
			<link rel="alternate" hreflang="nl" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://nl.anyoption.com" />
			<link rel="alternate" hreflang="sv" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://se.anyoption.com" />
			<link rel="alternate" hreflang="cs" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://cs.anyoption.com" />
			<link rel="alternate" hreflang="pl" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://pl.anyoption.com" />
			<link rel="alternate" hreflang="pt" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://pt.anyoption.com" />
			<link rel="alternate" hreflang="ar" href="#{applicationData.isForceHttps() ? 'https' : 'http'}://ar.anyoption.com" />
		</h:panelGroup>
		<script src="#{facesContext.externalContext.requestContextPath}/js/home_slider.js?version=cvsTimeStamp"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/highstock.js?version=cvsTimeStamp"></script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-527f880a715b414c"></script>
	</ui:define>
	
	<!-- CANONICAL -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" />
	</ui:define>
	
	<!-- MESSAGE -->
	<ui:define name="message">
		<h:panelGroup rendered="#{!empty applicationData.messageHome}">
			<div class="msg_from_db_nd">
				<div class="pageWidth">
					<h:outputText value="#{applicationData.messageHome.text}" escape="false" />
				</div>
			</div>
		</h:panelGroup>
	</ui:define>
	
	<!-- CONTENT -->
	<ui:define name="content">
		<div id="tmpdiv" style="display: none;"></div><!-- TO DO REMOVE -->
		<h:panelGroup rendered="#{applicationData.skinId != '1'}">
			<ui:include src="/jsp/#{applicationData.skin.templates}/index_content.xhtml"/>
		</h:panelGroup>
	</ui:define>
	
	<!-- GoogleVisitHPCode -->
	<ui:define name="GoogleVisitHPCode">
		<h:panelGroup rendered="#{applicationData.isLive}">
			<h:panelGroup rendered="#{applicationData.firstTimePixel}">
				<h:panelGroup rendered="#{applicationData.skinId == '9'}">
					<iframe marginwidth="0" marginheight="0" frameborder="0" scrolling="no" allowtransparency="true" width="1" height="1" 
						src="//track.juiceadv.com/banner_rtg.asp?id=169&amp;s=2">
					</iframe>
					<img height="1" width="1" src="//view.atdmt.com/action/Anyoption_Landing_01032012"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == '8'}">
				<!-- Segment Pixel - AnyOption_Retargeting - DO NOT MODIFY -->
					<script src="//ib.adnxs.com/seg?add=188767&amp;t=1" type="text/javascript"></script>
				<!-- End of Segment Pixel -->
				</h:panelGroup>
			</h:panelGroup>
			<h:outputText rendered="#{applicationData.isLive}" value="#{pixelGenerator.homePagePixel}" escape="false" />
		</h:panelGroup>
	</ui:define>
</ui:composition>
</f:view>