<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
<div class="main_page_text islamic-trading-page">
	<div class="top-section">
		<div>
			<p><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.txt1']}" escape='false'/></p>
			<p>
				<span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.lable1']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.txt2']}" escape='false'/></span>
			</p>
		</div>
		<i class="islamic-trading-img"></i>
	</div>
	<p>
		<span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.lable2']}" escape='false'/></span>
	</p>
	<p>
		<span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.lable3']}" escape='false'/></span>
		<span>
			<h:outputFormat  value="#{msgs['CMS.islamic-trading-page_content.text.txt4']}" escape="false">
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}&#35;/general-terms/GT-bonus"/>
			</h:outputFormat>
		</span>
	</p>
	<p><span class="blue-color"><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.lable4']}" escape='false'/></span></p>
	<ul>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li1']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li2']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li3']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li4']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li5']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li6']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li7']}" escape='false'/></span></li>
		<li><span><h:outputText value="#{msgs['CMS.islamic-trading-page_content.text.li8']}" escape='false'/></span></li>
	</ul>
</div>
</f:view>