<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<t:saveState value="#{lastLevelsForm}" />
	<h:form id="lastLevelsForm">
		<div class="clear taC lastLevels_form">
			<span class="vaM mr10 dIB"><h:outputText value="#{msgs['CMS.lastLevels.label.lastlevels.date']}"/></span>
			<h:inputText required="true" styleClass="last_leves_inp" id="from" name="from" value="#{lastLevelsForm.from}" maxlength="8" size="8"
				dir="ltr" onclick="cal.select(document.forms['lastLevelsForm'].elements['lastLevelsForm:from'],'#{applicationData.rtlAlign ? 'anchor2' : 'lastLevelsForm:from'}','dd.MM.yy'); return false;">
				<f:convertDateTime pattern="dd.MM.yy" timeZone="#{applicationData.timeZone}" />
			</h:inputText>
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/calendar.png" alt="#{msgs['CMS.lastLevels.alt.calendar.jpg']}" class="vaM"
				onclick="cal.select(document.forms['lastLevelsForm'].elements['lastLevelsForm:from'],'#{applicationData.rtlAlign ? 'anchor2' : 'lastLevelsForm:from'}','dd.MM.yy'); return false;" name="anchor2" id="anchor2"/>
			<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error_messages"/>

			<t:selectOneMenu immediate="false" valueChangeListener="#{lastLevelsForm.updateListEvent}" onchange="submit(this);" escape="false" style="width:130px;" styleClass="input_table_border ml10" value="#{lastLevelsForm.marketGroup}" >
				<f:selectItem itemLabel="#{msgs['lastlevels.selectAsset']}" itemValue="0,0"/>
				<f:selectItems value="#{lastLevelsForm.marketGroupsList.entrySet()}" var="entry" 
    							itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
			</t:selectOneMenu>

			<h:inputHidden id="marketGroup" value="" valueChangeListener="#{lastLevelsForm.updateListEvent}"/>
			<h:inputHidden id="selectedAssetName" value=""/>

			<span class="send_button send_but ml20" onclick="return myfaces.oam.submitForm('lastLevelsForm','lastLevelsForm:hiddenbtn');">#{msgs['investment.slip.submit']}</span>
			<t:commandButton id="button" style="display:none"/>
			<h:commandLink action="#{lastLevelsForm.updateBinary0100}" id="hiddenbtn" style="display:none"/>
		</div>
		<t:dataTable id="data"
			styleClass="scrollerTable"
			headerClass="standardTable_SortHeader"
			footerClass=""
			rowClasses="standardTable_Row1,standardTable_Row2"
			columnClasses="standardTable_Column,standardTable_Column,standardTable_Column,table_row_plus"
			var="v"
			value="#{lastLevelsForm.list}"
			preserveDataModel="false"
			rows="14"
			renderedIfEmpty="true"
			cellpadding="0"
			cellspacing="1">

		   <t:column style="direction:#{ applicationData.skinId=='1' ? applicationData.pageDirectionReverse : applicationData.pageDirection }">
			   <f:facet name="header">
					<h:outputText class="text_white_12_bold" value="#{msgs['CMS.lastLevels.text.lastlevels.event']}"/>
			   </f:facet>
			   <h:outputText dir="#{applicationData.pageDirection}" value="#{lastLevelsForm.getPrintBinary0100Event(v)}" />
		   </t:column>

		   <t:column>
			   <f:facet name="header">
				   <h:outputText class="text_white_12_bold"  value="#{msgs['CMS.lastLevels.text.lastlevels.closinglevel']}"/>
			   </f:facet>
			   <t:outputText escape="false" value="#{commonUtil.getFormatLevelByMarket(v.isSettled, v.closingLevel, v.marketId)}"  />
		   </t:column>

		   <h:column>
			   <f:facet name="header">
					 <h:outputText class="text_white_12_bold" value="#{msgs['CMS.lastLevels.text.lastlevels.timeestclosing']}"/>
			   </f:facet>
			   <h:outputText escape="false" value="#{commonUtil.getOppTimeTxt(v.timeEstClosing)}"/>
		   </h:column>
		 <h:column>
			   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.skin.style}/levels-pop-up_icon-plus.png" rendered="#{v.haveReutersQuote}" onclick="showRQHint(this,#{v.id},'#{(applicationData.skinId == 1)?'tr':''}');" styleClass="lastLeves_info_ico"/>
		   </h:column>
		</t:dataTable>

		<h:panelGroup rendered="#{lastLevelsForm.listSize==0}" >
			<h:outputText class="pages_text" value="#{msgs['CMS.lastLevels.text.lastlevels.emptylist']}"/>
		</h:panelGroup>

		<t:dataScroller id="scroll_1"
			for="data"
			fastStep="10"
			pageCountVar="pageCount"
			pageIndexVar="pageIndex"
			paginator="true"
			paginatorMaxPages="9"
			styleClass=""
			paginatorActiveColumnClass="paginator_active"
			paginatorColumnClass="paginator_cols"
			paginatorTableClass="paginator"
			paginatorRenderLinkForActive="false"
			immediate="true"
			rendered="#{lastLevelsForm.listSize>13}"
			style="margin: auto;"
			>
			<ui:include src="/jsp/html_elements/scroller_facets.xhtml"/>
		</t:dataScroller>
		<div class="taC bt_v1">
			<span class="vaM"><h:outputText value="#{msgs['CMS.lastLevels.text.reuters.logo.txt']}"/></span>
			<a href="http://www.reuters.com/" target="_blank">
				<img src="#{applicationData.imagesPath}/icons/icon_ThReuters.png" alt="#{msgs['CMS.lastLevels.alt.reuters_logo.gif']}" class="vaM"/>
			</a>
		</div>

		<iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0"  scrolling="No"></iframe>
	</h:form>

</f:view>