<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="learn_div">
		<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text1.a']}" escape="false" />
		<a class="general_link_blue_10" HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top"><h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.label.link1']}" escape="false" /></a>&#160;
		
		<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text1.b']}" escape="false" />
		
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/chart_callput.gif" alt="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_callput.gif']}" title="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_callput.gif']}"/>
		
		<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text2']}" escape="false" />
		
		<img src="#{applicationData.imagesPath}/ao/chart_graph.gif" alt="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_graph.gif']}" title="#{msgs['CMS.learnAboutHowToTradeContent.alt.chart_graph.gif']}"/>
		
		<h:outputText value="#{msgs['CMS.learnAboutHowToTradeContent.text.text3']}" escape="false" />
	</div>

</f:view>


