<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<div id="live_logout" style="display:none;"></div>
<!-- Globe + Quick start -->
<div class="clear home_top_h" style="height:305px;">
	<!-- Welcome banner -->
	<div class="home_slider">
		<div id="globeLogout">
			<iframe align="middle" id="globeiframe" name="globeiframe" frameborder="no" allowtransparency="true" 
				src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/globe.jsf" width="731" height="305" scrolling="no"/>
		</div>
		<div id="globeLogoutOffHours" style="position:relative; top:45px; display:none">	
			<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser || applicationData.skinId == 1}">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/live_logout_offhours.jpg" />
				</a>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser and applicationData.skinId != 1}">
				<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/live_logout_offhours_holiday.jpg" />
			</h:panelGroup>
		</div>
	</div>
	<!-- Quick start -->
	<div class="home_short_reg">
		<div class="home_short_reg_bgr">
			<div id="headers_field">
				<h1 class="funnel_h1"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h1>
				<span class="funnel_subtitle"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
			</div>
			<div class="home_shortReg" id="home_shortReg">
				<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" />
			</div>
			<script>initRegForm('home_shortReg',#{applicationData.skinId});</script>
		</div>	</div>
	<span class="float_fix"></span>
</div>

<!--Content container-->
<div class="containerLive_left">
	<div class="boxLive_desciler">
		<h:outputText value="#{msgs['CMS.disclaimer_live_page.text.text']}" escape="false"/>
	</div>
	<div class="boxLive_Aboutus taJ">
		<h:outputText value="#{msgs['profitLine.footer']}" escape='false'/>
	</div>
	<h:panelGroup rendered="#{commonUtil.skinRegulated}">
		<!-- Trading trends -->
		<div id="trendsBox" class="boxLive_Trends logoutTrendsWrapper">
			<div id="liveTradingTrends" class="logoutTrends">
				<ui:include src="/jsp/html_elements/liveTradingTrends.xhtml"></ui:include>
			</div>
			<div id="liveTradingTrendsOffHoursLogin" style="display:none">
				<ui:include src="/jsp/html_elements/liveTradingTrendsOffHoursLogout.xhtml">
					<ui:param name="LivePage" value="true" />
				</ui:include>
			</div>
		</div>
	</h:panelGroup>
	<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
	<!--Top Trades-->
		<div class="boxLive_Top5_left">
			<ui:include src="/jsp/html_elements/liveTopTrades.xhtml"></ui:include>
		</div>
	</h:panelGroup>
	 <!--FAQ-->
	<div class="pt20">
		<h6 class="top_trades_h6"><h:outputText value="#{msgs['live.login.faq']}" escape="false" /></h6>
		<ul class="faq_accordion fs12 cGrey" >
			<li class="faq_accordion_li pb5" data-top='t'>
				<span class="faq_subtitle cBlue" onclick="accordion(this);"><h:outputText value="#{msgs['live.logout.faq.part1.q']}" escape='false'/></span>
				<ul class="faq_accordion_ul">
					<li>
						<h:outputText value="#{msgs['live.logout.faq.part1.a']}" escape='false'/>
						<span class="faq_close" onclick="accordion(this)"><h:outputText value="#{msgs['CMS.faq_content.text.close']}" escape='false'/></span>
					</li>
				</ul>
			</li>
			<li class="faq_accordion_li pb5" data-top='t'>
				<span class="faq_subtitle cBlue" onclick="accordion(this);"><h:outputText value="#{msgs['live.logout.faq.part2.q']}" escape='false'/></span>
				<ul class="faq_accordion_ul">
					<li>
						<h:outputText value="#{msgs['live.logout.faq.part2.a']}" escape='false'/>
						<a style="text-decoration:none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}">
							<h:outputText value="#{msgs['live.logout.real.live.click']}" escape="false"/> »
						</a>
						<span class="faq_close" onclick="accordion(this)"><h:outputText value="#{msgs['CMS.faq_content.text.close']}" escape='false'/></span>
					</li>
				</ul>
			</li>
			<li class="faq_accordion_li pb5" data-top='t'>
				<span class="faq_subtitle cBlue" onclick="accordion(this);"><h:outputText value="#{msgs['live.logout.faq.part3.q']}" escape='false'/></span>
				<ul class="faq_accordion_ul">
					<li>
						<h:outputText value="#{msgs['live.logout.faq.part3.a']}" escape='false'/>
						<span class="faq_close" onclick="accordion(this)"><h:outputText value="#{msgs['CMS.faq_content.text.close']}" escape='false'/></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<div class="containerLive_right">
	<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
		<!-- Trading trends -->
		<div id="trendsBox" class="boxLive_Trends">
			<div id="liveTradingTrends" class="logoutTrends">
				<ui:include src="/jsp/html_elements/liveTradingTrends.xhtml"></ui:include>
			</div>
			<div id="liveTradingTrendsOffHoursLogin" style="display:none">
				<ui:include src="/jsp/html_elements/liveTradingTrendsOffHoursLogout.xhtml">
					<ui:param name="LivePage" value="true" />
				</ui:include>
			</div>
		</div>
		<!-- REUTERS -->
		<div class="reuter_line">
			<span class="vaM"><h:outputText value="#{msgs['CMS.optionPlusContentOld.text.reuters.logo.txt']}"/></span>
			<img class="vaM" src="#{applicationData.imagesPath}/icons/icon_ThReuters.png" alt="#{msgs['CMS.optionPlusContentOld.alt.reuters_logo.gif']}" />
		</div>
	</h:panelGroup>
	<!-- TRADE BOX -->
	<!-- unstable -->
	<div id="ls_unstable" style="display:none">
		<!-- unstable_pic come from script dont delete this line-->
	</div>
	<!-- trade box -->
	<div id="markets_table">
		<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
			<ui:param name="boxId" value="0" />
			<ui:param name="boxType" value="1" />
			<ui:param name="designType" value="1" />
		</ui:include>
		<script>connectToLS_global({'group_tradeBox':[#{tradingPageBean.homePageMarket}],'group_shoppingBag':["shoppingbag_#{user.userName}_#{user.id}"]});</script>
	</div>
	<!-- off hours -->
	<c:if test="#{!applicationData.isHasOpenOneTouchForUser || applicationData.skinId == 1}">
		<ui:include src="/jsp/html_elements/offHours_tradeBox.xhtml" >
			<ui:param name="className" value="offHours_live_logout" />
		</ui:include>
	</c:if>
	<c:if test="#{applicationData.isHasOpenOneTouchForUser and applicationData.skinId != 1}">
		<ui:include src="/jsp/html_elements/offhours_weekend.xhtml" >
			<ui:param name="page" value="live-logout" />
			<ui:param name="className" value="small" />
		</ui:include>
	</c:if>
	<h:panelGroup rendered="#{commonUtil.skinRegulated}">
		<!-- REUTERS -->
		<div class="reuter_line">
			<span class="vaM b"><h:outputText value="#{msgs['CMS.optionPlusContentOld.text.reuters.logo.txt']}"/></span>
			<img class="vaM" src="#{applicationData.imagesPath}/icons/icon_ThReuters.png" alt="#{msgs['CMS.optionPlusContentOld.alt.reuters_logo.gif']}" />
		</div>
	</h:panelGroup>
	<!-- SHOW OFF -->
	<!-- h:panelGroup rendered="#{applicationData.skinId != 1}">
	<div class="boxLive_Share oH">
		<div class="boxLive_Share_ct_img">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/showOff.jsf')}">
				<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/img_hpShare.png" />
			</a>
		</div>
		<div class="boxLive_Share_text">
			<h2 class="boxLive_Share_h2"><h:outputText value="#{msgs['live.login.show.off']}" escape="false"/></h2>
			<h3 class="boxLive_Share_h3"><h:outputText value="#{msgs['live.login.show.off.details']}" escape="false"/></h3>
			<h4 class="boxLive_Share_h4">
				<img src="#{applicationData.imagesPath}/flags/#{showOff.countryId}.png" class="flag vaM" />
				<span class="vaM"><h:outputText value="#{showOff.nameShowOffLive}" escape="false"/></span>
			</h4>
			<h:outputText value="#{showOff.textShowOff}" escape="false"/>
		</div>
	</div>
	</h:panelGroup -->
	<!-- END SHOW OFF -->
</div>
</f:view>