<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<h:form id="login" onsubmit="validate();if(skinId != 1){shouldChangeAcc();}return false;">
		<div>
			<span class="login_title"><h:outputText value="#{msgs['CMS.login.text.t1']}" escape="false" /></span>
			<!-- userName -->
			<div class="clear oH">
				<label class="login_label vaM"><h:outputText value="#{msgs['CMS.headerContent.label.input.username.up']}" escape="false" id="userNameLabel"/></label>
				<h:inputText id="j_username" name="j_username" value="#{loginForm.username}"  styleClass="login_input vaM ml10" maxlength="50" />
				<h:panelGroup rendered="#{applicationData.skinId == 1}">
					<h:outputText id="j_username2" name="j_username2" value="#{loginForm.username}" styleClass="login_output vaM ml10" maxlength="50" style="display: none;" />
				</h:panelGroup>
			</div>
			<script>g('login:j_username').focus();</script>
			<!-- password -->
			<div class="clear mt10 oH">
				<label class="login_label"><h:outputText value="#{msgs['CMS.headerContent.label.input.password.up']}" escape="false"/></label>
				<h:inputSecret id="j_password" name="j_password" value="#{loginForm.password}" maxlength="9" styleClass="login_input ml10" />
			</div>
			<h:inputHidden id="fingerPrint"  value="#{loginForm.fingerPrint}" />
			<script>g('login:fingerPrint').value = new Fingerprint().get();</script>
			<div class="login_info_1 mt5">
				<h:selectBooleanCheckbox id="rememberMeCheckBox" value="#{loginForm.rememberMe}" /><h:outputText value="#{msgs['CMS.login.text.remember.me']}"/>
			</div>
			<div class="login_info_1">
				<a  onclick="validate();if(skinId != 1){shouldChangeAcc();}return false;" class="buton_blue but_sprite clear mt10">
					<span class="rs but_sprite"><span class="login_but_w cs but_sprite ttUC"><h:outputText value="#{msgs['CMS.headerContent.label.login.up']}" escape="false"/></span></span>
				</a>
				<h:panelGroup rendered="#{applicationData.skinId == 1}">
					<!-- login with a different user  -->
					<div id="changeAccount"> 
						<a class="blueLink clear dIB mt10 fs12"  onclick="changeAcc();return false;">
							<h:outputText value="#{msgs['CMS.login.text.change.acc']}" escape="false"/>
						</a>
					</div>
				</h:panelGroup>
				<!-- forgot password -->
				<br/>
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
					<a class="blueLink clear dIB fs12 mt5" id="loginPage_forgotPassword" 
						href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/password.jsf')}">
						<h:outputText value="#{msgs['CMS.headerContent.label.forgotpassword']}" escape="false" />
					</a>
					<!-- support link -->
					<br/>
					<a class="blueLink clear dIB fs12 mt5" id="loginPage_supportLink" 
						href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}">
						<h:outputText value="#{msgs['footer.support']}" escape="false" /> »
					</a>
				</h:panelGroup>
				<!-- error message -->
				<div class="login_error clear">
					 <h:outputText id="errorlogin" />
					 <t:message id="errorloginMsg" for="errorlogin"/>
					 <script>
						 var message = g('login:errorloginMsg');
						 if(message.innerHTML.search('@') > -1){
							 message.className = "blueText";
						 }
					 </script>
					 <h:panelGroup rendered="#{applicationData.skinId != 1}">
						 <script>
						 var lockedCode = "2501";
						 var message = g('login:errorloginMsg');
						 if(message){
							 if(message.innerHTML.indexOf(lockedCode) != -1){
								//Account locked by security - format message and show popup
								//message.innerHTML = message.innerHTML.slice(0, message.innerHTML.indexOf(lockedCode));
								message.innerHTML = "";
								$(document).ready(function(){
									openLoginLockedPopup();
								});
							 }
						 }
						 </script>
					 </h:panelGroup>
				</div>
			</div>
			<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<div class="clear mt10 blueLink_in">
					<h:outputFormat value="#{msgs['CMS.login.text.t2']}" escape='false'>
						<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" />
						<f:param value="blueLink" />
					</h:outputFormat>
				</div>
			</h:panelGroup>
		</div>
		<div class="clear login_footer">
			<img border="0" alt="" src="#{applicationData.imagesPath}/ao/thawte.png" class="vaM mr10"/>
			<div class='login_footer2 vaM'>
				<h:outputText value="#{msgs['CMS.security.text.t1']}" escape="false" />
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
					<a class="blueLink" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}"> <h:outputText value="#{msgs['optionPlus.readMore']}" escape="false" /></a>
				</h:panelGroup>
			</div>
		</div>
		<h:commandButton action="#{loginForm.loginWEB}" id="hiddenbtn" style="position:absolute;top:-9999em;" />
	</h:form>
	<script type="text/javascript">do_we_know_you();</script>
</f:view>
