<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">


	<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-binaryBank.js?version=cvsTimeStamp"></script>
	
	<div>
		<script type="text/ng-template" id="/asset-table.html">
			<i></i>
			<div>
				<div ng-repeat="row in assetIndexMarkets">
					<div ng-if="row.type == 3" class="pages_text_tables" style="font-size: 13px;">
						<h5>{{row.title}}</h5>
						<table border="0" width="100%" class="general_terms_table" cellpadding="0" cellspacing="0">
							<tr class="pages_text_table gt_row_bgr">
								<th class="general_terms_td_h"><h:outputText escape="false" value="#{msgs['assetIndex.expiryType']}"/></th>
								<th class="general_terms_td_h"><h:outputText escape="false" value="#{msgs['assetIndex.reutersField']}"/></th>
								<th class="general_terms_td_h"><h:outputText escape="false" value="#{msgs['assetIndex.expiryFormula']}"/></th>
							</tr>
							<tr ng-repeat="formula in row.formulas" class="pages_text_table">
								<td class="general_terms_td">
									<span class="asset_info">{{getMsgs('exp-type-' + formula.expiryTypeId)}}</span>
								</td>
								<td rowspan="{{formula.sameNextRow ? '2' : '1'}}" class="general_terms_td" ng-if="!formula.sameNextRow || $index == 0">
									{{formula.reutersField}}
								</td>
								<td rowspan="{{formula.sameNextRow ? '2' : '1'}}" class="general_terms_td" ng-if="!formula.sameNextRow || $index == 0">
									{{assetIndexGeneral.assetIndexFormulasBySkin[formula.formulaIndex].formulaTranslation}}
								</td>
							</tr>
						</table>
						<div class="general_terms_footer asset_info_element">
							{{assetIndexGeneral.tooltipDataUnderTable}}<br />
							<span ng-if="row.additionalText">{{row.additionalText}}</span>
						</div>
					</div>
				</div>
			</div>
		</script>
		
		<div ng-controller="generalTermsCtr" ng-init="passParams({termsType: #{termsType}})">
			<div ng-class="{ 'terms-loading': loading }">
				<div ng-repeat="file in filesList" ng-if="!loading">
					<div ng-if="$index == 0">
						<ul class="general_terms_menu" ng-class="{ general_terms_menu_reg: isRegulated }" ng-if="!loading">
							<li ng-repeat="file in filesList" ng-if="file.menuTitle != ''">
								<a ng-click="goToByScroll('scrollTo-' + file.id)" class="anchor-link">{{file.menuTitle}}</a>
							</li>
						</ul>
					</div>
					<a class="anchor" id="scrollTo-{{file.id}}"></a>
					<div compile="file.html"></div>
				</div>
			</div>
		</div>
	</div>
</f:view>