<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

<table cellpadding="0" cellspacing="0" width="650" class="mt20">
	<tr>
		<td width="50px">&#160;</td>
		<th colspan="2" class="info_pages_text_header" style="font-size: 10px;text-transform:uppercase;" align="center">
			<h:outputText value="#{msgs['CMS.oneTouchTerms.text.title']}" escape="false" />
			<br/><br/>
		</th>
	</tr>
	<tr>
		<td colspan="2" rowspan="15" width="40px">&#160;
		</td>
	</tr>
	<tr>
	<td class="onet_terms">

		<ol style="counter-reset: subsection;">
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text68']}" escape="false" /></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text69']}" escape="false" /></li>
			<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text70']}" escape="false" /></li>
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text71']}" escape="false" /></li>
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text72']}" escape="false" /></li>
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text73']}" escape="false" /></li>
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text74']}" escape="false" /></li>
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text75']}" escape="false" /></li>
			</h:panelGroup>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76']}" escape="false" /></li>
			<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_1']}" escape="false" /></li>
			</h:panelGroup>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_2']}" escape="false" /></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_3']}" escape="false" /></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_4']}" escape="false" /></li>
			<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
				<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_5']}" escape="false" /></li>
			</h:panelGroup>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_6']}" escape="false" /></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_7']}" escape="false" /></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_8']}" escape="false" ><f:param value="#{slipForm1T.maxInvAmount}" /></h:outputText></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_9']}" escape="false" /></li>
			<li><h:outputText value="#{msgs['CMS.general_terms_content.text.text76_new_10']}" escape="false" /></li>
		</ol>
	</td>
</tr>
</table>
</f:view>