<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	style="height:100%"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title></title>
    <meta name="keywords" content="#{msgs['anyoption.keywords']}"/>
    <c:set var="metaDesc" value="#{msgs['anyoption.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <meta name="description" content="${metaDesc}"/>
    <meta http-equiv="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" />
	<script>
		function closeThePopup() {
			self.close();
		}
	</script>
</head>
<body dir="#{applicationData.pageDirection}" style="margin: 0px;">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
		width="#{(applicationData.skinId != 1)?'920':'935'}" height="#{(applicationData.skinId != 1)?'400':'445'}" id="flashObject" align="middle">
		<param name="allowScriptAccess" value="always" />
		<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/swf/#{applicationData.userLocale.language}/optionPlusDemo.swf" />
		<param name="quality" value="high" />
		<embed src="#{applicationData.imagesPath}/#{applicationData.skin.style}/swf/#{applicationData.userLocale.language}/optionPlusDemo.swf" quality="high"
		width="#{(applicationData.skinId != 1)?'920':'935'}" height="#{(applicationData.skinId != 1)?'400':'445'}" name="flashObject" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
</body>
</f:view>
</html>
