<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
<!-- META Title -->
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['deposit.jsf.title']}"/>
		</ui:define>
<!-- head -->		
		<ui:define name="header">
			<h:outputText value="#{msgs['header.title']}"/>
		</ui:define>
<!-- title -->		
		<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
		<ui:define name="title_message">
			<h1><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
		</ui:define>
		<ui:define name="footerMsg">
			<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
		</ui:define>
		<ui:define name="showDeposit">
			<c:set var="showDeposit" value="true" />
		</ui:define>
<!-- content -->
		<ui:define name="content">
		<div class="page_bgr">
			<p class="info_pages_text_header" align="center" >
				<h:outputText value="#{msgs['CMS.inatecInProgress.text.text1']}" escape="false" />
			</p>
			<c:if test="${transaction.statusId == 2}" >
				<ui:include src="pages/receipt_content.xhtml"/>
			</c:if>
			<h:panelGroup rendered="#{commonUtil.hasMessages}" width="100%">
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
				<h:outputText styleClass="error_messages" value="#{msgs['error.inatec.deposit']}"/>
           	</h:panelGroup>	
           	<script>
           		setTimeout(function() {shouldShowRegulationPopup('powerpay');},3000);
           	</script>
		</div>
		</ui:define>
	</ui:composition>
</html>