<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<tr>
	  <td width="205">
		<h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/yahoo-article.jpg"/>
			<img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/yahoo-es.gif" alt="#{msgs['press.alt.press.yahoo-es.gif']}" nosend="1" border="0" hspace="6"/>
		</h:outputLink>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/yahoo-article.jpg"/>yahoo</h:outputLink></b> </div></td>
	</tr>
	<tr>
	  <td width="205">
		<h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/invertia-article.jpg"/>
			<img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/icons.gif" alt="#{msgs['press.alt.press.icons.gif']}" nosend="1" border="0" hspace="6"/>
		</h:outputLink>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/invertia-article.jpg"/>invertia</h:outputLink></b> </div></td>
	</tr>
	<tr>
	  <td width="205">
		<h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/el-economista-article.jpg"/>
			<img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/el-economista.gif" alt="#{msgs['press.alt.press.el-economista.gif']}" nosend="1" border="0" hspace="6"/>
		</h:outputLink>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/el-economista-article.jpg"/>el-economista</h:outputLink></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.bolsamania.com/noticias-actualidad/notasDePrensa/Opciones-Binarias-ahora-en-movil-disponibles-en-Android-y-iPhone--30027355es-1--18a36ceeb2e4593a62369c272554cbdb.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Bolsamania.gif" alt="#{msgs['press.alt.press.Bolsamania.gif']}"  nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.bolsamania.com/noticias-actualidad/notasDePrensa/Opciones-Binarias-ahora-en-movil-disponibles-en-Android-y-iPhone--30027355es-1--18a36ceeb2e4593a62369c272554cbdb.html" target="_blank">Bolsamania (Web Financial Group)</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.finanzas.com/noticias/economia/2012-02-08/653378_opciones-binarias-sobre-facebook-prevision.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Finanzas.gif" alt="#{msgs['press.alt.press.Finanzas.gif']}"  nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.finanzas.com/noticias/economia/2012-02-08/653378_opciones-binarias-sobre-facebook-prevision.html" target="_blank">Finanzas.com</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.asturi.as/noticias/20992/opciones_binarias_ahora_movil_disponibles_android_iphone/" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/asturi.gif" alt="#{msgs['press.alt.press.asturi.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.asturi.as/noticias/20992/opciones_binarias_ahora_movil_disponibles_android_iphone/" target="_blank">Asturi.as</a></b></div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.infomercados.com/actualidad/noticia/news-wire/opciones-binarias-sobre-la-opi-de-facebook-prevision-de-los-inversores-del-valor-de-/20120208/48126/p/" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/es_infomercados.gif" alt="#{msgs['press.alt.press.es_infomercados.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.infomercados.com/actualidad/noticia/news-wire/opciones-binarias-sobre-la-opi-de-facebook-prevision-de-los-inversores-del-valor-de-/20120208/48126/p/" target="_blank">Infomercados Financial Serverices S.L</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.europapress.es/comunicados/noticia-comunicado-opciones-binarias-opi-facebook-prevision-inversores-valor-mercado-1er-dia-cotizacion-20120208094836.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/europapress.gif" alt="#{msgs['press.alt.press.europapress.gif']}"  nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.europapress.es/comunicados/noticia-comunicado-opciones-binarias-opi-facebook-prevision-inversores-valor-mercado-1er-dia-cotizacion-20120208094836.html" target="_blank">Europa Press</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.eleconomista.es/economia/noticias/2831230/02/11/COMUNICADO-Opciones-Binarias-ahora-en-movil-disponibles-en-Android-y-iPhone.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/elEconomista.gif" alt="#{msgs['press.alt.press.elEconomista.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.eleconomista.es/economia/noticias/2831230/02/11/COMUNICADO-Opciones-Binarias-ahora-en-movil-disponibles-en-Android-y-iPhone.html" target="_blank">El Economista.es</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://labolsa.com/noticias/20120208094835001/" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/labolsa.gif" alt="#{msgs['press.alt.press.labolsa.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://labolsa.com/noticias/20120208094835001/" target="_blank">La Bolsa</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.sys-con.com/node/2158260" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/sys-con.gif" alt="#{msgs['press.alt.press.sys-con.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.sys-con.com/node/2158260" target="_blank">SYS-CON Media</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://es.sys-con.com/node/2158260" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/sys-con.gif" alt="#{msgs['press.alt.press.es-sys-con.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://es.sys-con.com/node/2158260" target="_blank">SYS-CON Spain</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.invertia.com/noticias/articulo-final.asp?idNoticia=2475870" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Invertia.gif" alt="#{msgs['press.alt.press.Invertia.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.invertia.com/noticias/articulo-final.asp?idNoticia=2475870" target="_blank">Invertia</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.prnewswire.com/news-releases/opciones-binarias-sobre-la-opi-de-facebook-prevision-de-los-inversores-del-valor-de-mercado-el-1er-dia-de-cotizacion-138914959.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/prnewswire.gif" alt="#{msgs['press.alt.press.prnewswire.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.prnewswire.com/news-releases/opciones-binarias-sobre-la-opi-de-facebook-prevision-de-los-inversores-del-valor-de-mercado-el-1er-dia-de-cotizacion-138914959.html" target="_blank">PR Newswire Europe</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.euroinvestor.co.uk/news/story.aspx?id=11602355" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/EUInvestor.gif" alt="#{msgs['press.alt.press.EUInvestor.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.euroinvestor.co.uk/news/story.aspx?id=11602355" target="_blank">EuroInvestor (UK)</a></b></div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.euroinvestor.se/news/story.aspx?id=11602355" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/EUInvestor-se.gif" alt="#{msgs['press.alt.press.EUInvestor-se.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.euroinvestor.se/news/story.aspx?id=11602355" target="_blank">Euroinvestor Sweden</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://beta.euroinvestor.dk/news/story.aspx?id=11602355" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/EUInvestor-dk.gif" alt="#{msgs['press.alt.press.EUInvestor-dk.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://beta.euroinvestor.dk/news/story.aspx?id=11602355" target="_blank">Euroinvestor.dk</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.euroinvestor.es/news/shownewsstory.aspx?storyid=11602355" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/EUInvestor-es.gif" alt="#{msgs['press.alt.press.EUInvestor-es.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.euroinvestor.es/news/shownewsstory.aspx?storyid=11602355" target="_blank">Euroinvestor.es</a></b> </div></td>
	</tr>
</f:view>