<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	<tr>
	  <td width="205">
		<h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/rambler-article.jpg"/>
			<img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/rambler_logo.png" alt="#{msgs['press.alt.press.rambler_logo.png']}" nosend="1" border="0" hspace="6"/>
		</h:outputLink>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/rambler-article.jpg"/>Рамблер Новости</h:outputLink></b> </div></td>
	</tr>
	<tr>
	  <td width="205">
		<h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/primm-tass-article.jpg"/>
			<img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/tass_logo.png" alt="#{msgs['press.alt.press.tass_logo.png']}" nosend="1" border="0" hspace="6"/>
		</h:outputLink>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><h:outputLink styleClass="footer_link" target="_blank" value="#{facesContext.externalContext.requestContextPath}/jsp/pressImagePopup.jsf" >
			<f:param name="picName" value="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/primm-tass-article.jpg"/>Прайм-тасс</h:outputLink></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.lenta.ru/news2/2011/02/01/enyoption/" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Lenta_logo.png" alt="#{msgs['press.alt.press.Lenta_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.lenta.ru/news2/2011/02/01/enyoption/" target="_blank">Lenta.ru</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://dp.ru/1008xy" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/DP_logo.png" alt="#{msgs['press.alt.press.DP_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://dp.ru/1008xy" target="_blank">Деловой Петербург</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://bankir.ru/news/article/8767641" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Bankir_logo.png" alt="#{msgs['press.alt.press.Bankir_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://bankir.ru/news/article/8767641" target="_blank">Bankir.ru</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.banki.ru/news/lenta/?id=2652404" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Banki_logo.png" alt="#{msgs['press.alt.press.Banki_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.banki.ru/news/lenta/?id=2652404" target="_blank">Banki.ru</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.rosinvest.com/news/778779/" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Rosinvest_logo.png" alt="#{msgs['press.alt.press.Rosinvest_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.rosinvest.com/news/778779/" target="_blank">Rosinvest.com</a></b> </div></td>
	</tr>
						<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://dp.ru/1009ge" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/DP_logo.png" alt="#{msgs['press.alt.press.DP_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://dp.ru/1009ge" target="_blank">Деловой Петербург</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.cnews.ru/news/line/index.shtml?2011/02/02/425641" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/cnews_logo.png" alt="#{msgs['press.alt.press.cnews_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.cnews.ru/news/line/index.shtml?2011/02/02/425641" target="_blank">Cnews.ru</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://ifin.ru/news/read/7749.stm" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/ifin_logo.png" alt="#{msgs['press.alt.press.ifin_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://ifin.ru/news/read/7749.stm" target="_blank">Ifin.ru</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://news.rambler.ru/8898414/" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/rambler_logo.png" alt="#{msgs['press.alt.press.rambler_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://news.rambler.ru/8898414/" target="_blank">Рамблер</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://dp.ru/1009zj" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/DP_logo.png" alt="#{msgs['press.alt.press.DP_logo.png']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://dp.ru/1009zj" target="_blank">Деловой Петербург</a></b> </div></td>
	</tr>
	<tr>
	  <td colspan="4" valign="top"><br/><br/></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://dp.ru/100amw" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/DP_logo.png"  nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://dp.ru/100amw" target="_blank">Деловой Петербург</a></b> </div></td>
	</tr>
</f:view>