<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.press_tennis.metadata.jsf.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.press_tennis.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.press_tennis.metadata.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/press_tennis.jsf')}" />
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['header.press_tennis']}" />
				</ui:include>
				
				<!--content in-->
				<table border="0" cellpadding="0" cellspacing="0" align="center" style="font-size:9px;margin-top:40px;">
					<ui:include src="/jsp/press_tennis_content.xhtml"></ui:include>
				</table>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<c:if test="#{applicationData.skinId != 15}">
						<ui:param name="howTo_oneTouch" value="true" />
						<ui:param name="ourTradersShare" value="true" />
						<ui:param name="trade_but" value="true" />
					</c:if>
					<c:otherwise>
						<ui:param name="topBanner" value="true" />
						<ui:param name="regBtn" value="true" />
						<ui:param name="contactMe" value="true" />
					</c:otherwise>
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>
</f:view>