<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<tr>
	  <td width="205"><a class="footer_link" href="http://roll.sohu.com/20120508/n342625339.shtml" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.skin.style}/zh_roll_sohu.gif" alt="#{msgs['press.alt.press.zh_roll_sohu.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://roll.sohu.com/20120508/n342625339.shtml" target="_blank">Roll Sohu</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://blog.sina.com.cn/s/blog_624a4d4901013ipa.html " target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.skin.style}/zh_sina.gif" alt="#{msgs['press.alt.press.zh_sina.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://blog.sina.com.cn/s/blog_624a4d4901013ipa.html " target="_blank">Sina</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://prnasia.blog.hexun.com/75533234_d.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.skin.style}/zh_hexun.gif" alt="#{msgs['press.alt.press.zh_hexun.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://prnasia.blog.hexun.com/75533234_d.html" target="_blank">Hexun</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://cn.forexmagnates.com/2012/05/09/forex-brokers/3507" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.skin.style}/zh_forexmagnates.gif" alt="#{msgs['press.alt.press.zh_forexmagnates.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://cn.forexmagnates.com/2012/05/09/forex-brokers/3507" target="_blank">Forex Magnates</a></b> </div></td>
	</tr>

</f:view>





