<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<table width="100%">
		<tr>
	
			<td align="center" style="width: 216px;">
				<a href="javascript:void(0);" onclick="pop_doc('globes_17102010')" class="text_faq_gray_12_bold" >
					<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/globset_thumb-17-10-2010.jpg" alt="" width="137" height="137" border="0"/><BR/>
					"איטריידר לא אדישים להתרגשות:<br/> משיקים אופציות על רציו ודלק", <span dir="rtl">17.10.2010</span>
				</a>
			</td>
			
			<td align="center" style="padding-bottom: 16px;">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01122010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/December_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
				"תפס אמריקה", <span dir="rtl">דצמבר 2010</span>
				</a>
			</td>
						
			<td align="center" style="padding-bottom: 16px;">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01112010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/November_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
				"טיל פטריוט", <span dir="rtl">נובמבר 2010</span>
				</a>
			</td>
			
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01102010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/October_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
				"בשל התפוח", <span dir="rtl">אוקטובר 2010</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01092010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/September_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
				"ואם ביום ראשון לא בא לי", <span dir="rtl">ספטמבר 2010</span>
				</a>
			</td>
	
			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01082010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/August_album.jpg" alt="" width="137" height="137" border="0"/><BR/>
				"דרך הבטן", <span dir="rtl">אוגוסט 2010</span>
				</a>
			</td>
			
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>
			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01052010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/givemstanley_mini.gif" alt="" width="137" height="137" border="0"/><BR/>
				"תן לי סטנלי", <span dir="rtl">מאי 2010</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_05052010')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/g_05_05_2010_min.gif" alt="" width="137" height="137" border="0"/><BR/>
				"מסע הכסף המסתורי", <span dir="rtl">אפריל 2010</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('g_30072009')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/g_30_07_2009_min.jpg" alt="" width="137" height="137" border="0"/><BR/>
				גלובס, <span dir="rtl">מגזין G,</span>
				<span dir="rtl">30.7.09</span>
				</a>
			</td>
	
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('bizportal_27042009')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/bizporthumb_27_04_2009.jpg" alt="" width="137" height="137" border="0"/><BR/>
				ביזפורטל, <span dir="rtl">27.04.09</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('theMarker_01092008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/themarker_thum-small_01092008.jpg" alt="" width="137" height="137" border="0"/><BR/>
				TheMarker, <span dir="rtl">01.09.08</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('theMarker_12102008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/theMarker_12102008.jpg" alt="" width="137" height="137" border="0"/><BR/>
				TheMarker, <span dir="rtl">12.10.08</span>
				</a>
			</td>
	
		</tr>
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('theMarker_28042008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/theMarker_28042008.gif" alt="" width="137" height="137" border="0"/><BR/>
				TheMarker, <span dir="rtl">28.4.08</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_22072008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/globsthum_22.07.08.jpg" alt="" width="137" height="137" border="0"/><BR/>
				גלובס <span dir="rtl">22.07.2008</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('yedihot_25032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/yedihot_25.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				ידיעות אחרונות, 25.3.2008
				</a>
			</td>
	
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
		
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_01092008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/globes-small_01092008.jpg" alt="" width="137" height="137" border="0"/><BR/>
				גלובס <span dir="rtl">01.09.2008</span>
				</a>
			</td>

			 <td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('calcalist_28022008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/calcalist_28.2.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				Ynet וכלכליסט, 28.2.2008
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('bizporta_29062008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/bizportal29062008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				ביזפורטל, 29.6.08
				</a>
			</td>

		</tr>
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('blazer_01072008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/blazerthum_01.07.08.jpg" alt="" width="137" height="137" border="0"/><BR/>
				בלייזר , 1.7.08
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('wallasport_14042008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/wallaSport14042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				וואלה ספורט , 14.4.2008
				</a>
			</td>

			<td align="center">
				     <a href="http://www.ynet.co.il/articles/0,7340,L-3547002,00.html" class="text_faq_gray_12_bold" target="_blank" >
					<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/ynet25052005_sm.gif" alt="" width="137" height="137" border="0"/><BR/>
					Ynet, <span dir="rtl">23.5.2008</span>
					</a>
			</td>	
	
	   </tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('one_15042008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/one15042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				One, <span dir="rtl">15.4.2008</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('theMarker_02062008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/themarker02062008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				TheMarker, <span dir="rtl">2.6.2008</span>
				</a>
			</td>

			<td align="center">
					<a href="javascript:void(0);" onclick="pop_doc('theMarker_02062008a')" class="text_faq_gray_12_bold" >
					<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/themarker02062008a_small.gif" alt="" width="137" height="137" border="0"/><BR/>
					TheMarker, <span dir="rtl">2.6.2008</span>
					</a>
			</td>
		
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>	
	
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('ynet_15042008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/ynet15042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				Ynet, <span dir="rtl">15.4.2008</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('bizportal_19052008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/bizportal19052008.gif" alt="" width="137" height="137" border="0"/><BR/>
				ביזפורטל, <span dir="rtl">19.05.08</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('ynet_03032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/ynet_3.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				Ynet, <span dir="rtl">3.3.2008</span>
				</a>
			</td>
	
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('nrg_10032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/nrg_10.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				nrg, <span dir="rtl">10.3.2008</span>
				</a>
			</td>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('yedihot_06032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/yedihot_6.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				ידיעות אחרונות, <span dir="rtl">6.3.2008</span>
				</a>
			</td>
	
			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('nfc_06032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/nfc_6.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				Nfc, <span dir="rtl">6.3.2008</span>
				</a>
			</td>	
	
			<td align="center">
	
			</td>
		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('icenews_18052008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/icenews18052008.gif" alt="" width="137" height="137" border="0"/><BR/>
				Ice, <span dir="rtl">18.05.08</span>
				</a>
			</td>
	
			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('yediotsport_15042008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/yediotSport15042008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				ידיעות אחרונות, <span dir="rtl">15.4.2008</span>
				</a>
			</td>	
			
			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('yahoo_finance_06052008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/yahoo06052008.gif" alt="" width="137" height="137" border="0"/><BR/>
				Yahoo finance, <span dir="rtl">6.5.2008</span>
				</a>
			</td>

		</tr>
	
		<tr>
			<td align="center" colspan="3"><BR/></td>
		</tr>
	
		<tr>

			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('calcalist_19032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/calcalist_19.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				כלכליסט, 19.3.08
				</a>
			</td>
	
			<td align="center">
				<a href="javascript:void(0);" onclick="pop_doc('globes_10032008')" class="text_faq_gray_12_bold" >
				<img src="#{facesContext.externalContext.requestContextPath}/images/et/press/globes_10.3.2008_small.gif" alt="" width="137" height="137" border="0"/><BR/>
				גלובס, 10.3.2008
				</a>
			</td>
			
		</tr>
	
	</table>
	
</f:view>	