<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<tr>
	  <td width="205"><a class="footer_link" href="http://www.prnewswire.fr/cgi/release?id=52370" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/prnewswire.gif" alt="#{msgs['press.alt.press.prnewswire.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.prnewswire.fr/cgi/release?id=52370" target="_blank">PR Newswire France</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.bolsamania.com/noticias-actualidad/prNews/Options-binaires-sur-l-introduction-en-Bourse-de-facebook-les-operateurs-prevoient-le-cours-du-marche--30054099fr_Public08022012-1--18a36ceeb2e4593a62369c272554cbdb.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Bolsamania.gif" alt="#{msgs['press.alt.press.Bolsamania.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.bolsamania.com/noticias-actualidad/prNews/Options-binaires-sur-l-introduction-en-Bourse-de-facebook-les-operateurs-prevoient-le-cours-du-marche--30054099fr_Public08022012-1--18a36ceeb2e4593a62369c272554cbdb.html" target="_blank">Bolsamania France (Web Financials Group)</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.reuters.com/article/2011/02/16/idUS138982+16-Feb-2011+PRN20110216" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Reuters.gif" alt="#{msgs['press.alt.press.Reuters.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.reuters.com/article/2011/02/16/idUS138982+16-Feb-2011+PRN20110216" target="_blank">Reuters</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.usinvestor.com/news/story.aspx?id=11602636" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/USInvestor.gif" alt="#{msgs['press.alt.press.USInvestor.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.usinvestor.com/news/story.aspx?id=11602636" target="_blank">USInvestor</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.alipesnews.com/Public/ArchiveStory.aspx?id=3511764000000130&amp;languageId=4000" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/alipesnews.gif" alt="#{msgs['press.alt.press.alipesnews.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.alipesnews.com/Public/ArchiveStory.aspx?id=3511764000000130&amp;languageId=4000" target="_blank">AlipesNews</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.euroinvestor.co.uk/news/story.aspx?id=11605009" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/EUInvestor.gif" alt="#{msgs['press.alt.press.EUInvestor.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.euroinvestor.co.uk/news/story.aspx?id=11605009" target="_blank">EuroInvestor (UK)</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.prnewswire.co.uk/cgi/news/release?id=312311" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/prnewswire.gif" alt="#{msgs['press.alt.press.prnewswire.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.prnewswire.co.uk/cgi/news/release?id=312311" target="_blank">PR Newswire Europe</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.usinvestor.com/news/story.aspx?id=11605009" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/USInvestor.gif" alt="#{msgs['press.alt.press.USInvestor.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.usinvestor.com/news/story.aspx?id=11605009" target="_blank">USInvestor</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.globalinvestor.com/index.cfm/fuseaction/news.showItem/newsID/80963" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/globalinvestor.gif" alt="#{msgs['press.alt.press.globalinvestor.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.globalinvestor.com/index.cfm/fuseaction/news.showItem/newsID/80963" target="_blank">Global Investor</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.globetrekker.com/index.cfm/fuseaction/news.showItem/newsID/78545" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/globetrekker.gif" alt="#{msgs['press.alt.press.globetrekker.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.globetrekker.com/index.cfm/fuseaction/news.showItem/newsID/78545" target="_blank">Globe Trekker</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.boursereflex.com/actu/2011/06/08/anyoption_tm_leader_du_marche_mondial_lance_sa_plateforme_de_negociation_d_options_binaires_sur_le_marche_francais" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/bourse-reflex.gif" alt="#{msgs['press.alt.press.bourse-reflex.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.boursereflex.com/actu/2011/06/08/anyoption_tm_leader_du_marche_mondial_lance_sa_plateforme_de_negociation_d_options_binaires_sur_le_marche_francais" target="_blank">Bourse Reflex</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.biz-affaire.com/communique-1131982.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Biz-affaire.gif" alt="#{msgs['press.alt.press.Biz-affaire.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.biz-affaire.com/communique-1131982.html" target="_blank">biz-affaire.com</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://be.sys-con.com/node/1864853" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/sys-con-belgium.gif" alt="#{msgs['press.alt.press.sys-con-belgium.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://be.sys-con.com/node/1864853" target="_blank">SYS-CON Belgium</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.sys-con.com/node/1864853" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/fr_sys_con.gif" alt="#{msgs['press.alt.press.fr_sys_con.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.sys-con.com/node/1864853" target="_blank">SYS-CON Media</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.prnewswire.co.uk/cgi/news/release?id=323503" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/prnewswire.gif" alt="#{msgs['press.alt.press.prnewswire.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.prnewswire.co.uk/cgi/news/release?id=323503" target="_blank">PR Newswire France</a></b> </div></td>
	</tr>
	<tr>
	  <td width="205"><a class="footer_link" href="http://www.bolsamania.com/noticias-actualidad/prNews/anyoption-TM-leader-du-marche-mondial-lance-sa-plateforme-de-negociation-d-options-binaires-sur-le--30035802fr_Public08062011-1--18a36ceeb2e4593a62369c272554cbdb.html" target="_blank"><img class="press_image" src="#{applicationData.imagesPath}/press/#{applicationData.userLocale.language}/Bolsamania.gif" alt="#{msgs['press.alt.press.Bolsamania.gif']}" nosend="1" border="0" hspace="6"/></a>&#160;&#160;&#160; </td>
	  <td style="font-size: 12px;" align="left" width="200">
		<div style="padding: 0px 0px 6px 6px;"><b><a class="footer_link" href="http://www.bolsamania.com/noticias-actualidad/prNews/anyoption-TM-leader-du-marche-mondial-lance-sa-plateforme-de-negociation-d-options-binaires-sur-le--30035802fr_Public08062011-1--18a36ceeb2e4593a62369c272554cbdb.html" target="_blank">Bolsamania France (Web Financials Group)</a></b> </div></td>
	</tr>
</f:view>