<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<h:panelGroup rendered="#{applicationData.skinId == 13 || applicationData.skinId == 14 || applicationData.realCountryId == 220}">
		<span class="error_messages_10px">Sorry, we do not accept US citizens</span>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.realCountryId != 220}">
		<div class="full_reg_holder full_reg_main">
			<c:if test="${applicationData.skinId == 1}">
				<ui:include src="/jsp/html_elements/reg_progress_et.xhtml" >
					<ui:param name="substep" value="1" />
				</ui:include>
			</c:if>
			<div class="#{applicationData.skinId == 1 ? 'full_reg_holder_internal' : ''}">
				<h2 class="full_reg_h2">
					<c:if test="${applicationData.skinId == 1}">
						<div style="margin-top:0px;font-weight:normal;font-size:12px;line-height:16px;">
							<h:outputText value="#{msgs['SEC_warning.text1']}" escape="false"/>
							<h:outputText value="#{msgs['SEC_warning.text2']}" escape="false"/>
						</div>
					</c:if>
					<c:if test="${applicationData.skinId != 1}">
						<span id="full_reg_top_text_default"><h:outputText value="#{msgs['CMS.registerContent.header.text']}" /></span>
						<span id="full_reg_top_text_alt" style="display:none;"><h:outputText value="#{msgs['register.contactus.landing.3']}" escape="false" /></span>
					</c:if>
				</h2>
				<div class="full_reg" id="full_reg">
					<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" >
						<ui:param name="fullTerms" value="true" />
						<ui:param name="tooltip_email" value="right" />
					</ui:include>
				</div>
			</div>
			<script>initRegForm('full_reg',#{applicationData.skinId});</script>
			<c:if test="${applicationData.skinId != 1}">
				<ui:include src="/jsp/html_elements/reg_progress.xhtml" >
					<ui:param name="active1" value="selected" />
				</ui:include>
			</c:if>
		</div>
		<div class="privacy-section">
			<a class="button_small" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}" target="_blank">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.privacy']}"/> »
			</a>
		</div>
		<h:panelGroup rendered="#{applicationData.skinId != 1 and commonUtil.skinRegulated and applicationData.skinId != 15}">
			<div class="clear secure_section">
				<div>
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/secure_reg_small.png" width="66" height="62"/>
					<p><h:outputText value="#{msgs['secured_msg2']}" escape="false"/></p>
					
				</div>
				<div>
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/thewte_verisigh_reg.png" width="161" height="35"/>
				</div>
			</div>
		</h:panelGroup>
		
		<h:outputText rendered="#{applicationData.isLive &amp;&amp; fromLandingPage == 'true'}" value="#{pixelGenerator.regLandingPixel}" escape="false" />
			
		<h:panelGroup rendered="#{applicationData.isLive &amp;&amp; fromLandingPage == 'true' &amp;&amp; applicationData.skinId == 1}">
		<c:if test="${applicationData.firstTimePixel}">
		
			<!-- Tag for Activity Group: Remarketing, Activity Name: Short_Reg_IL, Activity ID: 1047919 -->
			<!-- Expected URL: http://www.etrader.co.il/jsp/index.jsf -->
			
			<!--Activity ID: 1047919-->
			<!--Activity Name: Short_Reg_IL-->
			<!--Activity Group Name: Remarketing-->
			
			<!--
			Start of DoubleClick Floodlight Tag: Please do not remove
			Activity name of this tag: Short_Reg_IL
			URL of the webpage where the tag is expected to be placed: http://www.etrader.co.il/jsp/index.jsf
			This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
			Creation Date: 08/27/2012
			-->
			<script type="text/javascript">
			var axel = Math.random() + "";
			var a = axel * 10000000000000;
			document.write(unescape("%3Ciframe src='https://fls.doubleclick.net/activityi;src=3165381;type=remar871;cat=short851;u2=" + #{applicationData.registerAttemptId} + ";ord=" + a + "?' width='1' height='1' frameborder='0' style='display:none' %3E%3C/iframe%3E"));
			</script>
			<noscript>
			<iframe src="https://fls.doubleclick.net/activityi;src=3165381;type=remar871;cat=short851;u2=[Registration ID];ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
			</noscript>
			
			<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
		</c:if>

		</h:panelGroup>
		
		<h:panelGroup rendered="#{applicationData.firstTimePixel}">
		   <h:panelGroup rendered="#{applicationData.isLive and applicationData.combinationId == '2059'}">
				<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['showPixel']==true)}">
					<script>alert('first time pixel: Floodlight');</script>
				</h:panelGroup>
				<!-- 
					Tag for Activity Group: AnyOption, Activity Name: AnyOption:Registro, Activity ID: 701447
					Expected URL: https://www.anyoption.com/jsp/register.jsf 
					Activity ID: 701447
					Activity Name: AnyOption:Registro
					Activity Group Name: AnyOption
			
					Start of DoubleClick Floodlight Tag: Please do not remove
					Activity name of this tag: AnyOption:Registro
					URL of the webpage where the tag is expected to be placed: https://www.anyoption.com/jsp/register.jsf
					This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
					Creation Date: 06/24/2010
				-->
				<script type="text/javascript">
					var axel = Math.random() + "";
					var a = axel * 10000000000000;
					document.write('<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=' + a + '?" width="1" height="1" frameborder="0"></iframe>');
				</script>
				<noscript>
					<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=1?" width="1" height="1" frameborder="0"></iframe>
				</noscript>
				<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
			</h:panelGroup>
		
			<h:panelGroup rendered="#{applicationData.isLive and fromLandingPage == 'true'}">
				<h:panelGroup rendered="#{applicationData.skinId == 8 || applicationData.skinId == 9 || applicationData.skinId == 5}">
					<!--Short Registration Pixel 
					PIXEL-11282012-626
					Activity Name: AnyOption-Registration_Page-Retargeting
					DataXu tag:-->
					<img src="https://securetags.w55c.net/rs?id=7c21bb9c24c74a718477fea96f7418c7&amp;t=cart&amp;sku=$SKUS" />
				</h:panelGroup>
			</h:panelGroup>
		</h:panelGroup>

		<script>
			// Insert register attemps when coming from landing pages
			var params = window.location.search.substr(1);
			if (params.indexOf("regAtt=true") > -1) {
				isShortForm = 'true';
				function check_for_insertUpdateRegisterAttempts(){
					if(typeof context_path_json != 'undefined'){
						insertUpdateRegisterAttempts(); 
					}
					else{
						setTimeout(function(){check_for_insertUpdateRegisterAttempts();},500);
					}
				}
				check_for_insertUpdateRegisterAttempts();
			}
		</script>
	</h:panelGroup>

</f:view>