<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
    <h:form id="resetPasswordForm">
    	#{resetPasswordForm.emptyString}
    	<t:saveState value="#{resetPasswordForm}" />
		<div class="taC">
			<h:panelGrid cellspacing="0" cellpadding="0" columns="1" align="center">
				<h:outputText rendered="#{resetPasswordForm.showFields}" value="#{msgs['password.reset.header']}" styleClass="info_pages_text_header" />
				<br/>
				<h:panelGrid rendered="#{resetPasswordForm.showFields}" cellspacing="0" cellpadding="4" columns="2" columnClasses="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}">
					<h:outputLabel styleClass="new_lable" for="userName" value="#{msgs['register.username']}"/>
					<h:inputText disabled="true" styleClass="new_input" id="userName" value="#{resetPasswordForm.userName}" required="true" redisplay="true" />

					<h:outputLabel styleClass="new_lable" for="password" value="#{msgs['register.newpassword']}"/>
					<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
						<h:inputSecret styleClass="new_input" id="password" maxlength="9" value="#{resetPasswordForm.password}" required="true" redisplay="true"
								validator="#{commonUtil.validatePasswordTypeAndSize}">
						</h:inputSecret>
						<t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error_messages"/>
					</h:panelGrid>

					<h:outputLabel styleClass="new_lable" for="password2" value="#{msgs['register.retypeNewPassword']}"/>
					<h:panelGrid columns="2" cellspacing="0" cellpadding="0">
						<h:inputSecret styleClass="new_input" id="password2" maxlength="9" value="#{resetPasswordForm.rePassword}" required="true"
						 validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
						</h:inputSecret>
						<t:message id="passwordError2" for="password2" replaceIdWithLabel="true" styleClass="error_messages"/>
					</h:panelGrid>

					<h:panelGrid/>
					<h:panelGrid cellspacing="0" cellpadding="0" columns="2" border="0" width="100%" columnClasses="#{applicationData.columnClassesDirectionReverse}">
						<span class="ml130 send_button send_but" onclick="return myfaces.oam.submitForm('resetPasswordForm','resetPasswordForm:hiddenbtn');">Submit</span>
						<h:commandLink action="#{resetPasswordForm.changePassword}" id="hiddenbtn" style="display:none"/>
					</h:panelGrid>
				</h:panelGrid>

				<h:panelGroup rendered="#{commonUtil.hasMessages}">
					<t:messages id="messages" layout="table" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</h:panelGroup>
			</h:panelGrid>
		</div>
    </h:form>
	
</f:view>