<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<h:form id="shForm">
		<t:dataTable id="data"
			styleClass="table_SO"
			columnClasses="border_#{applicationData.pageAlignmentReverse}_SO, border_top2_SO, border_top_SO, border_#{applicationData.pageAlignment}_SO"
			rowClasses="row_SO"
			var="v"
			value="#{showOff.list}"
			preserveDataModel="false"
			rows="10"
			renderedIfEmpty="false"
			cellpadding="0"
			cellspacing="0"
			rowIndexVar="crrInvestmentIndex"
		>

			<h:column>
				&#160;
			</h:column>
			<h:column>
				<h:graphicImage
					value="#{applicationData.imagesPath}/flags/#{v.countryId}.png" />
			</h:column>
			<h:column>
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td width="100%" align="#{applicationData.pageAlignment}">
							<strong><h:outputText value="#{v.showOffName}: " /></strong><br />
							<h:outputText value="#{showOff.getShowOffText(v)}" />
						</td>
					</tr>
				</table>
			</h:column>
			<h:column>
				&#160;
			</h:column>

		</t:dataTable>
		<div style="background-color:#cce6f7;">
			<h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >
				<t:dataScroller id="scroll_1"
					for="data"
					fastStep="10"
					pageCountVar="pageCount"
					pageIndexVar="pageIndex"
					styleClass=""
					paginatorActiveColumnClass="paginator_active_SO"
					paginatorColumnClass="paginator_cols_SO"
					paginatorTableClass="paginator_SO"
					paginatorRenderLinkForActive="false"
					paginator="true"
					paginatorMaxPages="15"
					immediate="true"
					rendered="#{showOff.size>10}"
					style="align:center;"
					>
				</t:dataScroller>
			</h:panelGrid>
		</div>
		<div class="mt20">
			<h:outputText value="#{msgs['CMS.disclaimer_live_page.text.text']}" escape="false"/>
		</div>
	</h:form>

</f:view>