<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="taJ">
		<p class="mt20"><h:outputText value="#{msgs['CMS.stock_options_content.text.t_1']}" escape='false'/></p>
		<p>
			<span class="dB b"><h:outputText value="#{msgs['CMS.stock_options_content.text.h2_2']}" escape='false'/></span>
			<span><h:outputText value="#{msgs['CMS.stock_options_content.text.t_2']}" escape='false'/></span>
		</p>
		<ul class="pl15">
			<li>
				<span class="dB b"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul1_li1_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.stock_options_content.text.ul1_li1']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul1_li2_h']}" escape='false'/></span>
				<span>
					<h:outputFormat value="#{msgs['CMS.stock_options_content.text.ul1_li2']}" escape='false'>
						<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}"/>
					</h:outputFormat>
				</span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul1_li3_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.stock_options_content.text.ul1_li3']}" escape='false'/></span>
			</li>
		</ul>
		<p>
			<span class="dB b"><h:outputText value="#{msgs['CMS.stock_options_content.text.b_1']}" escape='false'/></span>
			<span><h:outputText value="#{msgs['CMS.stock_options_content.text.t_3']}" escape='false'/></span>
		</p>
		<ul class="pl15">
			<li>
				<span class="dB b"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li1_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li1']}" escape='false'/></span>
				<span class="dB"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li1_1']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li2_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li2']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li3_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li3']}" escape='false'/></span>
			</li>
			<li>
				<span class="dB b mt5"><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li4_h']}" escape='false'/></span>
				<span><h:outputText value="#{msgs['CMS.stock_options_content.text.ul2_li4']}" escape='false'/></span>
			</li>
		</ul>
		<p>
			<span class="dB b"><h:outputText value="#{msgs['CMS.stock_options_content.text.b_2']}" escape='false'/></span>
			<span><h:outputText value="#{msgs['CMS.stock_options_content.text.t_4']}" escape='false'/></span>
		</p>
		<p><h:outputText value="#{msgs['CMS.stock_options_content.text.t_5']}" escape='false'/></p>
		<p>
			<h:outputFormat value="#{msgs['CMS.stock_options_content.text.t_6']}" escape='false'>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index_options.jsf')}"/>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/commodity_options.jsf')}"/>
				<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/currency_options.jsf')}"/>
			</h:outputFormat>
		</p>
	</div>
</f:view>