<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.stock_options.metadata.window.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.stock_options.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.stock_options.metadata.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/stock_options.jsf')}" />
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.stock_options_content.text.h1_1']}" />
					<ui:param name="h2" value="#{msgs['CMS.stock_options_content.text.h2_2']}" />
				</ui:include>
				
				<!--content in-->
				<ui:include src="/jsp/stock_options_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="ArticlesMenu" value="true" />
					<ui:param name="howTo_oneTouch" value="true" />
					<ui:param name="ourTradersShare" value="true" />
					<ui:param name="trade_but" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>


