<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['register.title']}"/>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<c:if test="#{applicationData.skinId != 1}">
					<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
						<ui:param name="h1" value="#{msgs['header.agreement']}" />
						<ui:param name="h2" value="#{msgs['header.accept.terms']}" />
					</ui:include>
				</c:if>
				<c:if test="#{applicationData.skinId == 1}">
					<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
						<ui:param name="h1" value="#{msgs['header.agreement']}" />
					</ui:include>
				</c:if>
				
				<!--content in-->
				<ui:include src="/jsp/terms_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<h:panelGroup rendered="#{applicationData.skinId == 1}">
					<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
						<ui:param name="supportContactus" value="true" />
						<ui:param name="secureIco" value="true" />
						<ui:param name="investments_profit_none" value="true" />
						<ui:param name="thawte" value="true" />
						<ui:param name="regulationPop" value="true" />
					</ui:include>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
					<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
						<ui:param name="howTo_oneTouch" value="true" />
						<ui:param name="ourTradersShare" value="true" />
						<ui:param name="trade_but" value="true" />
					</ui:include>
				</h:panelGroup>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>