<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<div class="main_page_text">
		<div class="table table-style-1">
			<div class="row header">
				<div class="cell"></div>
				<div class="cell bgr silver">#{msgs['account-type-silver']}</div>
				<div class="cell bgr gold">#{msgs['account-type-gold']}</div>
				<div class="cell bgr platinum">#{msgs['account-type-platinum']}</div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-1']}</div>
				<div class="cell colored">$1,000</div>
				<div class="cell colored">$5,000</div>
				<div class="cell colored">$25,000</div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-2']}</div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-4']}</div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-5']}</div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-6']}</div>
				<div class="cell colored">#{msgs['account-type-video-limited']}</div>
				<div class="cell colored">#{msgs['account-type-video-full-access']}</div>
				<div class="cell colored">#{msgs['account-type-video-full-access']}</div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-7']}</div>
				<div class="cell colored"><i class="icon-dash"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-8']}</div>
				<div class="cell colored"><i class="icon-dash"></i></div>
				<div class="cell colored">#{msgs['account-type-waiver-single']}</div>
				<div class="cell colored">#{msgs['account-type-waiver-full']}</div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-9']}</div>
				<div class="cell colored"><i class="icon-dash"></i></div>
				<div class="cell colored"><i class="icon-dash"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-10']}</div>
				<div class="cell colored"><i class="icon-dash"></i></div>
				<div class="cell colored"><i class="icon-dash"></i></div>
				<div class="cell colored"><i class="icon-checked"></i></div>
			</div>
			<div class="row">
				<div class="cell">#{msgs['account-type-table-row-11']}</div>
				<div class="cell colored">$10,000</div>
				<div class="cell colored">$50,000</div>
				<div class="cell colored">$100,000</div>
			</div>
		</div>
		
		<div class="taC trading-accounts-footer">
			<div class="el-1">#{msgs['account-type-footer-1']}</div>
			<div class="el-2">#{msgs['account-type-footer-2']}</div>
			<a class="button-css blue" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}">#{msgs['contact-us']}</a>
		</div>
	</div>
</f:view>