<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
<div class="main_page_text pt0 pl0 pr0">
	<span class="acad_main_img"></span>
	<h1 class="acad_h1"><h:outputText value="#{msgs['CMS.trading-academy_content.about.h1']}" escape='false'/></h1>
	<ul class="acad_home_menu">
		<li>
			<h:outputLink styleClass="acad_home_menu_links mt55 mb73" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy-introduction.jsf')}">
				<span class="acad_home_menu_icons acad_home_menu_icons_tr_guides"></span>
				<span class="acad_home_menu_labels">
					<h:outputText value="#{msgs['CMS.trading-academy_content.label.acadmenu.title1']}" escape='false'/>
				</span>
			</h:outputLink>
		</li>
		<li>
			<h:outputLink styleClass="acad_home_menu_links mt55 mb73" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/beginners-video-tutorials.jsf')}">
				<span class="acad_home_menu_icons acad_home_menu_icons_vod_begginers"></span>
				<span class="acad_home_menu_labels">
					<h:outputText value="#{msgs['CMS.trading-academy_content.label.acadmenu.title2']}" escape='false'/>
				</span>
			</h:outputLink>
		</li>
		<li>
			<h:outputLink styleClass="acad_home_menu_links mt55 mb73" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/advanced-video-tutorials.jsf')}">
				<span class="acad_home_menu_icons acad_home_menu_icons_vod_advanced"></span>
				<span class="acad_home_menu_labels">
					<h:outputText value="#{msgs['CMS.trading-academy_content.label.acadmenu.title3']}" escape='false'/>
				</span>
			</h:outputLink>
		</li>
		<li>
			<h:outputLink styleClass="acad_home_menu_links" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/anyoption-product-guide.jsf')}">
				<span class="acad_home_menu_icons acad_home_menu_icons_pr_tutorials"></span>
				<span class="acad_home_menu_labels w135">
					<h:outputText value="#{msgs['CMS.trading-academy_content.label.acadmenu.title4']}" escape='false'/>
				</span>
			</h:outputLink>
		</li>
		<li>
			<h:outputLink styleClass="acad_home_menu_links" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options-eBook.jsf')}">
				<span class="acad_home_menu_icons acad_home_menu_icons_e_book"></span>
				<span class="acad_home_menu_labels">
					<h:outputText value="#{msgs['CMS.trading-academy_content.label.acadmenu.title5']}" escape='false'/>
				</span>
			</h:outputLink>
		</li>
		<h:panelGroup rendered="#{applicationData.skinId != 1}">
			<li>
				<a class="acad_home_menu_links" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options.jsf')}">
					<span class="acad_home_menu_icons acad_home_menu_icons_articles"></span>
					<span class="acad_home_menu_labels">
						<h:outputText value="#{msgs['CMS.trading-academy_content.label.acadmenu.title6']}" escape='false'/>
					</span>
				</a>
			</li>
		</h:panelGroup>
	</ul>
	<h3 class="acad_h3 clear"><h:outputText value="#{msgs['CMS.trading-academy_content.text.h3']}" escape='false'/></h3>
	<span class="acad_txt"><h:outputText value="#{msgs['CMS.trading-academy_content.text.description.line1']}" escape='false'/></span>
	<span class="acad_txt"><h:outputText value="#{msgs['CMS.trading-academy_content.text.description.line2']}" escape='false'/></span>
	<span class="acad_txt"><h:outputText value="#{msgs['CMS.trading-academy_content.text.description.line3']}" escape='false'/></span>
	<span class="acad_txt"><h:outputText value="#{msgs['CMS.trading-academy_content.text.description.line4']}" escape='false'/></span>
</div>
</f:view>