<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Bir Opsiyon Risksiz</span><br/>

          	    <h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==4 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
    						  facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

		    		<span class="bonus_text">
		    			<strong>anyoption™</strong> size reddedilemeyecek bir kazanç teklif ediyor. #{facesContext.externalContext.requestParameterMap['numOfActions']} opsiyon alırsanız, bir sonraki opsiyonunuz risksiz olacak! <br/>
		    			<br/>
		    			Minimum yatırım miktarını tamamladığınız anda, herhangi bir son kullanma tarihi için seçtiğiniz herhangi bir tercihli aktif üzerine risksiz alış veya satış opsiyonu alabileceksiniz. Seçtiğiniz opsiyon kazançlı vade olursa, garantili gelir yüzdesi alırsınız.<br/>
		    			<br/>
		    			Opsiyon vade sonunda kazançsız olursa, yatırım miktarının tamamını geri alırsınız! Kaybedeceğiniz hiçbir şey yoktur.<br/>
		    			<br/>
		    			Teklif&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.<br/>
		    			<br/>
		    		</span>
    			</h:panelGroup>

    			<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
    				<span class="bonus_text">
    					<strong>anyoption™</strong> size tek seferlik bir kazanç sunuyor - risksiz opsiyon!<br/>
    					<br/>
    					Tek yapmanız gereken, herhangi bir son kullanma tarihi için seçtiğiniz herhangi bir tercihli aktif üzerine alış veya satış opsiyonu almaktır. Seçtiğiniz opsiyon kazançlı vade olursa, garantili gelir yüzdesi alırsınız.<br/>
    					<br/>
    					Opsiyon vade sonunda kazançsız olursa, yatırım miktarının tamamını geri alırsınız! Kaybedeceğiniz hiçbir şey yoktur.<br/>
    					<br/>
    					Teklif&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.<br/>
    					<br/>
    				</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>“Bir Yatırım Risksiz” – Genel Şartlar</strong><br/>
	            Kazanç, müşterinin katılımına sunulan özel teklifin şartları uyarınca bir veya birden fazla opsiyona uygulanır.<br/>
	            <br/>
	            Müşteriye iade kazancı sağlayan opsiyon, müşteriye sunulan özel teklif şartlarında tanımlanan opsiyondur ve teklifin sabit bir zaman zarfı içerisinde yerleştirilmesi gereklidir.<br/>
	            <br/>
	            Yatırım yapılan opsiyon kazançlı olmazsa iade yapılacaktır.<br/>
	            <br/>
	            Kazanç, One Touch, Option+, İkili 0-100 tipi opsiyonlardaki yatırımlarda kullanılamaz.<br/>
	            <br/>
	            Teklifin şartlarında farklı bir şekilde belirtilmediği sürece, bonusu elde ettikten sonra hesabınızdan para çekebilmeniz için geçerli olan ön koşul, bu bonusu kazandırmış olan esas opsiyona yapmış olduğunuz yatırımın toplam  #{facesContext.externalContext.requestParameterMap['wageringParam']} ) katı kadar yeni yatırım yapmanızdır.<br/>
	            <br/>
	            Şirket, müşterilerini tekliflerde yer alması, ancak teklifleri suistimal etmekten kaçınması yönünde teşvik etmektedir. Tekliflerden herhangi birinin suistimal edilmesi halinde, bonus iptal edilir ve müşterinin Şirket web sitesindeki hesabı kapatılır.<br/>
	            <br/>
	            Bonuslar teklif ayrıntılarında belirtilen süre dahilinde kullanılmalıdır. Bonusun bu süre zarfında kullanılmaması halinde, bonus müşterinin hesabından çekilecektir.<br/>
	            <br/>
	            Bonuslar/kazançlar, para çekmenin ön koşulu olarak müşterinin yatırımlarının toplamı ile 3 (üç) ay içinde işlem yapması gerekmektedir. Eğer bu süre zarfında yatırımlarının toplamına ulaşamaz ise şirket, bonusları/kazançları müşterinin hesabından takdir yetkisiyle çekecektir.<br/>
	            <br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
	            </span> </td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
