<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Geri dönüş oranının 2 katı opsiyonu</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			Üyelerimize yeni bir avantaj sunmaktan memnuniyet duyarız : Geri dönüş oranının 2 katı opsiyonu.<br/><br/>

						Satın aldığınız bir sonraki opsiyonda, eğer opsiyonunuz kârda kapatmışsa, (65-71% yerine) 130-142% oranda arttırılmış geri dönüş oranının 2 katına sahip olursunuz! Ek olarak eğer opsiyonunuz kârda kapatmamışsa, 15% oranda para iadesine hak kazanırsınız.<br/><br/>

						Teklif&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/> tarihine kadar geçerlidir.<br/><br/>

						Bonusa hak kazandığınızda, aşağıda Genel Kullanım Koşulları’nda belirtilen hesabınızdan para çekme kısıtlamalarının uygulanabileceğini belirtiriz.<br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>Bonuslar - Genel Şartlar</strong><br/>
		         	Bonus müşterinin katılımının istendiği teklif şartlarına uyulmasına bağlı olarak müşteri hesabına yatırılacaktır, örn. belirli bir süreçte minimum para yatırma ve/veya minimum sayıda opsiyon alma.
					<br/><br/>
					Teklif şartlarında aksi belirtilmedikçe, para çekme işlemleri için ön koşul, bonus kullandıktan sonra toplam miktarı bonus miktarının #{facesContext.externalContext.requestParameterMap['wageringParam']} katı olacak bir yatırım yapmaktır.
					<br/><br/>
					'out-of-the-money'' durumunda müşteri paranın çekilmesi öncesinde gerekli olan en az sayıdaki işlemleri gerçekleştirmekten muaf olur.
					<br/><br/>
					Şirket, müşterilerini tekliflerde yer alması, ancak teklifleri suistimal etmekten kaçınması yönünde teşvik etmektedir. Tekliflerden herhangi birinin suistimal edilmesi halinde, bonus iptal edilir ve müşterinin Şirket web sitesindeki hesabı kapatılır.
					<br/><br/>
					Bonuslar belirli teklif ayrıntılarında belirtilen süre dahilinde kullanılmalıdır. Bonusun bu süre zarfında kullanılmaması halinde, bonus müşterinin hesabından çekilecektir.
					<br/><br/>
					Bonuslar/kazançlar, para çekmenin ön koşulu olarak müşterinin yatırımlarının toplamı ile 3 (üç) ay içinde işlem yapması gerekmektedir. Eğer bu süre zarfında yatırımlarının toplamına ulaşamaz ise şirket, bonusları/kazançları müşterinin hesabından takdir yetkisiyle çekecektir.
					<br/><br/>
					<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
						<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
						<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
					</h:outputFormat>
				    <br/><br/>
				   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
