<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="windowtitle">
		#{msgs['mobile.window.title.contactus']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['rightnav.contact']}
	</ui:define>
	<ui:define name="content">
	<script>
	<!--
		function AJAXInteraction(url, callback) {

			var req = init();
			req.onreadystatechange = processRequest;

			function init() {
				if (window.XMLHttpRequest) {
					return new XMLHttpRequest();
				} else if (window.ActiveXObject) {
					return new ActiveXObject("Microsoft.XMLHTTP");
				}
			}

			function processRequest () {
		 // readyState of 4 signifies request is complete
		 if (req.readyState == 4) {
			// status of 200 signifies sucessful HTTP call
				if (req.status == 200) {
			 if (callback) callback(req.responseXML);
				}
		 }
			}

			this.doGet = function() {
		 // make a HTTP GET request to the URL asynchronously
		 req.open("GET", url, true);
		 req.send(null);
			}
		}


		/*
	 Change the phone and fax numbers by the value of the country
		*/
		function changePhoneAndFaxByCountry() {
			var countryId = document.getElementById("contactForm:countriesList").value;
			var url = "ajax.jsf?countryIdForSupport=" + countryId;
			var ajax = new AJAXInteraction(url, changePhoneAndFaxByCountryCallback);
			ajax.doGet();
		}

		/*
			callBack function for changePhoneAndFaxByCountry()
		*/
		function changePhoneAndFaxByCountryCallback(responseXML) {
			var msg = responseXML.getElementsByTagName("SupportPhoneFax")[0].firstChild.nodeValue;
			var splitMsg = msg.split(",");
			//alert(msg[0]);
			//alert(msg[1]);
			var phoneElm = document.getElementById("phone");
			var faxElm = document.getElementById("fax");
			var mobile = document.getElementById("contactForm:mobilePhone");
			phoneElm.innerHTML = splitMsg[0];
			faxElm.innerHTML = splitMsg[1];
			if (splitMsg.length >2 && mobile !=null){
				//		alert("1");
				mobile.value = splitMsg[2];
			}
		}
 -->
	</script>

	<f:view locale="#{applicationData.userLocale}">

	<span style="display:none;"><t:messages layout="table" id="errorMessages" replaceIdWithLabel="true" errorClass="error_messages" infoClass="info_messages"/></span>
	<div id="mainDiv" align="left" class="pages_main_div_90">
		<h:form id="contactForm">
			<br/>
			<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
				<h:outputLabel styleClass="lable width_100_prc" for="firstName" value="#{msgs['register.firstname']}"/>
				<h:inputText styleClass="input width_100_prc" id="firstName" value="#{contactUsForm.firstName}" required="true" validator="#{commonUtil.validateLettersOnly}" ></h:inputText>
				<div class="width_100_prc fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable width_100_prc" for="lastName" value="#{msgs['register.lastname']}"/>
				<h:inputText styleClass="input width_100_prc" id="lastName" value="#{contactUsForm.lastName}" required="true" validator="#{commonUtil.validateLettersOnly}"></h:inputText>
				<div class="width_100_prc fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable width_100_prc" for="email" value="#{msgs['register.email']}"/>
				<h:inputText styleClass="input width_100_prc" id="email" value="#{contactUsForm.email}" required="true" dir="ltr" maxlength="50" onfocus="this.type='email';this.focus();">
						<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				</h:inputText>
				<div class="width_100_prc fields_height" >&#160;</div>

				<h:outputLabel styleClass="lable width_100_prc" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
				<h:inputText styleClass="input width_100_prc" id="mobilePhone" value="#{contactUsForm.mobilePhone}" maxlength="14" dir="ltr" required="true" onfocus="this.type='number';this.focus();">
					<f:validateLongRange/>
					<f:validateLength minimum='7' maximum='14'/>
				</h:inputText>
				<div class="width_100_prc fields_height" >&#160;</div>
			</h:panelGroup>

			<h:outputLabel styleClass="lable width_100_prc" for="issue" value="#{msgs['contact.issue']}"/>
			<h:selectOneMenu styleClass="combobox width_100_prc" id="issue" value="#{contactUsForm.contactIssue}" required="true">
				<f:selectItem itemLabel="" itemValue="" />
				<f:selectItems value="#{applicationData.contactIssues}" />
			</h:selectOneMenu>
			<div class="width_100_prc fields_height" >&#160;</div>

			<h:outputLabel styleClass="lable width_100_prc" for="comments" value="#{msgs['contact.comments']}"/>
			<h:inputTextarea styleClass="width_100_prc" id="comments" value="#{contactUsForm.comments}" required="true" cols="50" rows="5" />

			<div class="div_clear_float" align="left" style="width:230px;">
				<t:commandButton label="searchBtns" id="button" width="50px" height="20px" styleClass="nav_button_blue" 
					value="#{msgs['button.do']}" onclick="return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" />
				<h:commandLink action="#{contactUsForm.sendContactEmail}" id="hiddenbtn" style="display:none"/>
			</div>

			<br/>
			<h:outputText styleClass="width_100_prc" value="#{msgs['contact.message1']}" escape="false"/>
			<br/>
			<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message2']}"/>
			<h:outputText value=" #{msgs['contact.message3']}" />
			<br/>
			<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.country']}"/>
			<t:selectOneMenu styleClass="combobox width_100_prc" required="false" escape="false" id="countriesList" value="#{contactUsForm.countryId}" onchange="changePhoneAndFaxByCountry();">
				<f:selectItems value="#{contactUsForm.countries}" />
			</t:selectOneMenu>

			<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message4']}"/>
			<span id="phone" class="lable_text" dir="ltr">#{contactUsForm.supportPhone}</span>
			<br/>
			<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message6']}"/>
			<span id="fax" class="lable_text" dir="ltr">#{contactUsForm.supportFax}</span>
			<br/>
			<h:outputLabel styleClass="lable width_100_prc" value="#{msgs['contact.message5']}"/>
			<br/>
			<h:outputText value=" #{msgs['contact.time.other']}"/>&#160;<h:outputText escape="false" value="#{contactUsForm.supportTime}"/>
			<br/><br/>
		</h:form>
	</div>
	</f:view>
	<script>
		displayFirstErrorDiv();
		changePhoneAndFaxByCountry();
		document.getElementById("contactForm:email").type="email";
	</script>
	</ui:define>
</ui:composition>
</html>
