<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css?version=cvsTimeStamp" type="text/css" />

	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}
	</script>
</head>
<body dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >

<div class="tradePage_box_border" style="float:left;width:99.5%;">
	<div class="expire_today_title">
		#{msgs['right.side.investments.expire']}
	</div>
	<div class="white_line"></div>
	<div class="gray_line"></div>
	<div class="expire_today_column_header float_left" style="float:left;">
		<div class="expire_today_header_txt" style="width:29%;padding-left:4px;">#{msgs['right.side.investments.market']}</div>
		<div class="expire_today_header_txt" style="width:19%;padding-left:6px;">#{msgs['right.side.investments.typelevel']}</div>
		<div class="expire_today_header_txt" style="width:29%;padding-left:6px;">#{msgs['bank.wire.amount']}</div>
		<div class="expire_today_header_txt" style="width:16.5%;padding-left:6px;">#{msgs['right.side.investments.time.closing.mobile']}</div>
	</div>

	<h:panelGroup rendered="#{slipForm.hasOpened}">
		<t:dataList value="#{slipForm.opened}" var="investment" rowIndexVar="crrInvestmentIndex" layout="simple">
			<div class="expire_today_column_txt" >
				<div class="expire_today_first_column #{crrInvestmentIndex % 2 == 0 ? '' : 'expire_today_second_row_back'}">
					<h:outputText style="font-size:9px" value="#{investment.marketName}" />&#160;
					<t:graphicImage width="8px" rendered="#{investment.typeId == 1}" url="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" style="VERTICAL-ALIGN: middle; margin-bottom:3px;" alt="" border="0" />
					<t:graphicImage width="8px" rendered="#{investment.typeId == 2}" url="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" style="VERTICAL-ALIGN: middle; margin-bottom:3px;"  alt="" border="0" />
					<h:outputText rendered="#{investment.typeId == 3}" value="#{msgs['investments.one']}" style="VERTICAL-ALIGN: middle"  alt="" border="0" class="todayInvasset"/>
				</div>
				<div class="expire_today_column expire_today_border_left #{crrInvestmentIndex % 2 == 0 ? '' : 'expire_today_second_row_back'}" style="width:19%;padding-left:5px;">
					<h:outputText value="#{slipForm.getCurrentLevelTxt(investment)}" />
				</div>
				<div class="expire_today_column expire_today_border_left #{crrInvestmentIndex % 2 == 0 ? '' : 'expire_today_second_row_back'}" style="width:29%;padding-left:5px;">
					<h:outputText value="#{slipForm.getAmountTxt(investment)}" />
				</div>
				<div class="expire_today_column expire_today_border_left #{crrInvestmentIndex % 2 == 0 ? '' : 'expire_today_second_row_back'}" style="width:17.9%;padding-left:1px;">
					<h:outputText value="&#160;#{investment.onlyTimeEstClosing}&#160;">
						<f:convertDateTime pattern="#{presentationPatterns.timePattern}" timeZone="#{investment.utcOffsetCreated}" />
					</h:outputText>
				</div>
			</div>
		</t:dataList>
	</h:panelGroup>

	<h:panelGroup rendered="#{!slipForm.hasOpened}">
 		<div class="center_align width_100_prc" style="background-color: #ffffff;">
			<h:outputText styleClass="pages_text" escape="false" value="#{msgs['right.side.investments.empty.mobile']}" />
		</div>
	</h:panelGroup>

</div>
</f:view>
</body>
</html>