<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="head">
		<meta name="description" content="#{msgs['showOff.description']}" />
	</ui:define>
	<ui:define name="windowtitle">
		#{msgs['mobile.window.title.showoff']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['showOff.menu.strip']}
	</ui:define>
	<ui:define name="leftSideHeader">
		<ui:include src="/mobile/backToPage.xhtml" >
			<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/mainMenu.jsf" />
		</ui:include>
	</ui:define>
	<ui:define name="content">
		<h:form id="shForm">
			<t:dataTable id="data"
				styleClass="table_SO"
				columnClasses=""
				rowClasses="SO_row"
				var="v"
				value="#{showOff.list}"
				preserveDataModel="false"
				rows="10"
				renderedIfEmpty="false"
				cellpadding="0"
				cellspacing="0"
				rowIndexVar="crrInvestmentIndex"
			>
				<h:column>
					<div class="float_#{applicationData.pageAlignment}" style="margin: 5px;">
						<div class="float_#{applicationData.pageAlignment}">
							<h:graphicImage value="#{applicationData.imagesPath}/flags/#{v.countryId}.png" />
						</div>
						<div class="float_#{applicationData.pageAlignment}" style="width: 92%; margin-#{applicationData.pageAlignment}: 5px;">
							<strong><h:outputText value="#{v.showOffName}: " /></strong><br />
							<h:outputText value="#{showOff.getShowOffText(v)}" />
						</div>
					</div>
				</h:column>
			</t:dataTable>
			<div style="text-align: center; background-color: #cce6f7;" class="float_center">
				<h:panelGrid columns="1" border="0" style="text-align: center;" align="center">
					<t:dataScroller id="scroll_1"
						for="data"
						fastStep="10"
						pageCountVar="pageCount"
						pageIndexVar="pageIndex"
						paginatorActiveColumnClass="paginator_active_SO"
						paginatorColumnClass="paginator_cols_SO"
						paginatorTableClass="paginator_SO"
						paginatorRenderLinkForActive="false"
						paginator="true"
						paginatorMaxPages="15"
						immediate="true"
						rendered="#{showOff.size>10}"
						style="text-align: center; width: 100%"
						>
					</t:dataScroller>
				</h:panelGrid>
			</div>
		</h:form>
	</ui:define>
</ui:composition>
</html>