<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/android.css?new=cvsVersionParam" type="text/css"/>
	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['version'] == '2-mobile'}">
  		<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/android_version_2.css?new=cvsVersionParam" type="text/css"/>
	</h:panelGroup>
</head>
<body class="mainBonus" dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}">
<div id="mainDiv">
<!-- this is stupid workaround for pound -->
<c:set var="bonusAmount" value="#{fn:replace(fn:replace(fn:replace(fn:replace(fn:replace(fn:replace(facesContext.externalContext.requestParameterMap['bonusAmount'],'Â',''),'â¬','€'),'KÄ','Kč'),'â½','₽'),'âº','₺'),'zÅ','zł')}" />
	<table border="0px" cellspacing="0px" cellpadding="0px">
		<tr>
			<td>
				<br />
				<span class="bonus">
					<h:outputText value="#{msgs['CMS.termsBonus5.text.t1']}" escape='false'/>
				</span>
				<br/><br/>
				<h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
						facesContext.externalContext.requestParameterMap['bonusStateId']==6 || facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
						<span class="bonus_text">
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t2']}" escape='false'/>
							<span dir="ltr"><h:outputText value="#{bonusAmount}"/></span>
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t3']}" escape='false'/>
							<span dir="ltr"><h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/></span>
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t4']}" escape='false'/>
							<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t14']}" escape='false'/>
							.<br/><br/>
							<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusId']!=320)}">
								<h:outputText value="#{msgs['CMS.termsBonus5.text.t5']}" escape='false'/>
								<br/><br/>
							</h:panelGroup>    
						</span>
          			</h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2 ||
						facesContext.externalContext.requestParameterMap['bonusStateId']==3 || facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
						<span class="bonus_text">
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t6']}" escape='false'/>
							<h:outputText value="#{bonusAmount}"/>
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t7']}" escape='false'/>
							<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
							<h:outputText value="#{msgs['CMS.termsBonus5.text.t13']}" escape='false'/>
							.<br/><br/>
							<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusId']!=320)}">
								<h:outputText value="#{msgs['CMS.termsBonus5.text.t8']}" escape='false'/>
								<br/><br/>
							</h:panelGroup>	
						</span>
					</h:panelGroup>
				</h:panelGroup>
				<span class="bonus_text">
					<ui:include src="/jsp/single_pages/bonusTerms/popUpBonusTermsIframe_#{applicationData.userLocale.language}.xhtml"></ui:include>
				</span>
				<br /><br />
			</td>
			<td width="10px"></td>
		</tr>
	</table>
</div>
</f:view>
</body>
</html>