<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<div id="template_opportunity_nf" style="display: none;"> <!-- not in use -->
	<div id="'oppId'" class="tradePage_box_border">
		<div class="width_100_prc trade_bkgn asset_select_div_wrapper" align="center" >
	       	<select id="'oppId'_markets" style="padding-left: 5px;" onchange="changeMarket(this, 'marketId', 'oppId');" class="asset_select_div" >
       			<t:dataList value="#{applicationData.marketsListSI}" var="crrGroup" layout="simple">
       				<optgroup label="#{crrGroup.label}">
	       				<t:dataList value="#{crrGroup.selectItems}" var="crrMarket" layout="simple">
	       					<option value="#{crrMarket.value}">#{crrMarket.label}</option>
	       				</t:dataList>
       				</optgroup>
       			</t:dataList>
	       	</select>
		</div>
		<div align="center" class="trade_bkgn_revers return_div" id="'oppId'_return">
			<span class="trade_return_prc" id="'oppId'_5"></span>
			<span class="trade_return_txt">#{msgs['trading.box.return']}</span>
		</div>
		<!-- state content -->
		<div id="'oppId'_slip"></div>
		<!-- end of state content -->
		<div id="'oppId'_scheduled" class="width_100_prc trade_bkgn" style="height:22px;padding-top:2px;" align="center">
			<select id="'oppId'_scheduledSelect"  style="padding-left: 5px;" class="scheduled_select_div"  onChange="changeScheduled(this, 'marketId');" >
				<option value="1">#{msgs['opportunity.type.closest']}</option>
				<option value="2">#{msgs['opportunity.type.endofday']}</option>
				<option value="3">#{msgs['opportunity.type.endofweek']}</option>
				<option value="4">#{msgs['opportunity.type.endofmonth']}</option>
			</select>
		</div>
		<div id="'oppId'_bottom_line" class="width_100_prc tradePage_DB_background" style="height:4px;"></div>
		<div style="display:none">
			<div id="'oppId'_3"></div>
			<div id="'oppId'_6"></div>
			<div id="'oppId'_7"></div>
			<div id="'oppId'_8"></div>
			<div id="'oppId'_9"></div>
			<div id="'oppId'_10"></div>
			<div id="'oppId'_13"></div>
			<div id="'oppId'_14"></div>
			<div id="'oppId'_18"></div>
			<div id="'oppId'_21"></div>
			<div id="'oppId'_22"></div>
			<div id="'oppId'_24"></div>
			<div id="'oppId'_mmListIndex"></div>
			<div id="'oppId'_submit">0</div>
			<div id="'oppId'_choice">0</div>
			<div id="'oppId'_marketId">'marketId'</div>
		</div>
	</div>
</div>

<div id="template_opportunity" style="display: none;">
	<div id="'oppId'" class="tbox_main">
		<div class="tbox_menu tbox_selectbar">
			<div class="tbox_menu_left">
				<select id="'oppId'_markets" onclick="markClosedMarket(this, 'marketId');" onchange="changeMarket(this, 'marketId');" class="asset_select_div">
	       			<t:dataList value="#{applicationData.marketsListSI}" var="crrGroup" layout="simple">
	       				<optgroup label="#{crrGroup.label}">
		       				<t:dataList value="#{crrGroup.selectItems}" var="crrMarket" layout="simple">
		       					<option value="#{crrMarket.value}">#{crrMarket.label}</option>
		       				</t:dataList>
	       				</optgroup>
	       			</t:dataList>
		       	</select>
		    </div>
			<div id="'oppId'_scheduled" class="tbox_menu_center">
				<select id="'oppId'_scheduledSelect"  class="asset_select_div" onclick="removeScheduledOptions(this, 'oppId');" onChange="changeScheduled(this, 'marketId');">
					<option value="1">#{msgs['opportunity.type.closest']}</option>
					<option value="2">#{msgs['opportunity.type.endofday']}</option>
					<option value="3">#{msgs['opportunity.type.endofweek']}</option>
					<option value="4">#{msgs['opportunity.type.endofmonth']}</option>
				</select>
			</div>
			<div id="'oppId'_return" class="tbox_menu_right">
				<div class="tbox_box" style="color: #fff; height: 23px;">
					<span id="'oppId'_5"></span>&#160;#{msgs['trading.box.return']}
				</div>
			</div>
		</div>
		<!-- state content -->
		<div class="tbox_leftpane">
			<div class="tbox_contentleft">
				<div id="'oppId'_slip" ></div>
			</div>
		</div>
		<div class="tbox_rightpane">
			<div id="'oppId'_chart_holder" class="tbox_contentright"></div>
		</div>
		<!-- end of state content -->
		<div style="display:none">
			<div id="'oppId'_3"></div>
			<div id="'oppId'_6"></div>
			<div id="'oppId'_7"></div>
			<div id="'oppId'_8"></div>
			<div id="'oppId'_9"></div>
			<div id="'oppId'_10"></div>
			<div id="'oppId'_13"></div>
			<div id="'oppId'_14"></div>
			<div id="'oppId'_18"></div>
			<div id="'oppId'_21"></div>
			<div id="'oppId'_22"></div>
			<div id="'oppId'_24"></div>
			<div id="'oppId'_mmListIndex"></div>
			<div id="'oppId'_submit">0</div>
			<div id="'oppId'_choice">0</div>
			<div id="'oppId'_marketId">'marketId'</div>
		</div>
	</div>
</div>

<div id="template_opportunity_portrait" style="display: none;">
	<div id="'oppId'" class="tbox_main_portrait">
		<div class="tbox_menu_portrait tbox_selectbar">
			<div class="tbox_left_sub_menu">
				<div class="tbox_box">
					<select id="'oppId'_markets" onclick="markClosedMarket(this, 'marketId');" onchange="changeMarket(this, 'marketId');" class="asset_select_div" >
		       			<t:dataList value="#{applicationData.marketsListSI}" var="crrGroup" layout="simple">
		       				<optgroup label="#{crrGroup.label}">
			       				<t:dataList value="#{crrGroup.selectItems}" var="crrMarket" layout="simple">
			       					<option value="#{crrMarket.value}">#{crrMarket.label}</option>
			       				</t:dataList>
		       				</optgroup>
		       			</t:dataList>
			       	</select>
			    </div>
			</div>
			<div id="'oppId'_scheduled" class="tbox_right_sub_menu">
				<div class="tbox_box">
					<select id="'oppId'_scheduledSelect"  class="asset_select_div" onclick="removeScheduledOptions(this, 'oppId');" onChange="changeScheduled(this, 'marketId');">
						<option value="1">#{msgs['opportunity.type.closest']}</option>
						<option value="2">#{msgs['opportunity.type.endofday']}</option>
						<option value="3">#{msgs['opportunity.type.endofweek']}</option>
						<option value="4">#{msgs['opportunity.type.endofmonth']}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="tbox_toppane">
			<div class="tbox_content">
				<div id="'oppId'_return" class="tbox_return"><span id="'oppId'_5"></span>&#160;#{msgs['trading.box.return']}</div>
				<div id="'oppId'_chart_holder" class="tbox_chart"></div>
			</div>
		</div>
		<div class="tbox_bottompane">
			<div id="'oppId'_slip" class="tbox_content">
			</div>
		</div>
		<div style="display:none">
			<div id="'oppId'_3"></div>
			<div id="'oppId'_6"></div>
			<div id="'oppId'_7"></div>
			<div id="'oppId'_8"></div>
			<div id="'oppId'_9"></div>
			<div id="'oppId'_10"></div>
			<div id="'oppId'_13"></div>
			<div id="'oppId'_14"></div>
			<div id="'oppId'_18"></div>
			<div id="'oppId'_21"></div>
			<div id="'oppId'_22"></div>
			<div id="'oppId'_24"></div>
			<div id="'oppId'_mmListIndex"></div>
			<div id="'oppId'_submit">0</div>
			<div id="'oppId'_choice">0</div>
			<div id="'oppId'_marketId">'marketId'</div>
		</div>
	</div>
</div>

<div id="template_loading" style="display: none;">
	<ui:include src="/mobile/tradingBoxLoading.xhtml" />
</div>

<div id="template_chart_not_opened" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="455" height="165" align="center" class="no_chart tradePage_suspend">
				<strong><h:outputText value="#{msgs['trading.box.willOpen']}" escape="false" /></strong>
			</td>
		</tr>
	</table>
</div>

<div id="template_chart" style="display: none;">
	<canvas id="'oppId'_chart" width="10" height="10" style="position: relative;" />
</div>

<div id="template_long_term" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="455" height="165" align="center" class="no_chart">
				<h:outputText value="#{msgs['trading.box.chart.longterm']}" escape="false" />
			</td>
		</tr>
	</table>
</div>

<div id="template_suspended" style="display: none;">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td width="455" height="165" align="center" class="no_chart tradePage_suspend">
				{msg}
			</td>
		</tr>
	</table>
</div>

<div id="template_closed" style="display: none;">
		<div style="margin-left:3px;margin-right:3px;"><strong><h:outputText value="#{msgs['trading.box.willOpen']}" escape="false" /></strong></div>
</div>

<div id="template_state_1" style="display: none;">
	<div align="center" ><br /><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="trade_level font_grey" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="width_100_prc tradePage_suspend" style="height:72px;"></div>
</div>

<div id="template_state_1_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level font_grey" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_bottom"></div>
</div>

<div id="template_state_2" style="display: none;">
	<div align="center"><br /><img src="#{applicationData.imagesPath}/mobile/call.gif" width="67px" height="39px" onclick="openSlip('oppId', 'call');" /></div>
	<div class="trade_level" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put.gif" width="67px" height="39px" onclick="openSlip('oppId', 'put');" /></div>
</div>

<div id="template_state_2_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call.gif" width="67px" height="39px" onclick="openSlip('oppId', 'call');" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put.gif" width="67px" height="39px" onclick="openSlip('oppId', 'put');" /></div>
	<div class="tbox_content_bottom"></div>
</div>

<div id="template_state_3" style="display: none;">
	<div align="center"><br /><img src="#{applicationData.imagesPath}/mobile/call.gif" width="67px" height="39px" onclick="openSlip('oppId', 'call');" /></div>
	<div class="trade_level" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put.gif" width="67px" height="39px" onclick="openSlip('oppId', 'put');" /></div>
	<div class="width_100_prc" style="height:40px; padding-top:10px;">
		<p align="center" class="width_100_prc trade_waiting4">#{msgs['trading.box.timeLeft']}</p>
		<table class="new_progress_table" align="center" width="141px" height="10px" cellspacing="0" cellpadding="0">
			<tr>
				<td class="new_progress_bar_td" align="#{applicationData.pageAlignment}" style="vertical-align:middle;" valign="middle">
					<div style="background-color: #fff; width: 111px; height: 8px; border: 1px solid #ffffff;">
						<div id="'oppId'_cd_prg" class="new_progress_bar">&#160;</div>
					</div>
				</td>
				<td id="'oppId'_cd_time" class="new_progress_time_td" align="#{applicationData.pageAlignment}">00:00</td>
			</tr>
		</table>
	</div>
</div>

<div id="template_state_3_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call.gif" width="67px" height="39px" onclick="openSlip('oppId', 'call');" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put.gif" width="67px" height="39px" onclick="openSlip('oppId', 'put');" /></div>
	<div class="tbox_content_bottom">
		<p align="center" class="width_100_prc trade_waiting4">#{msgs['trading.box.timeLeft']}</p>
		<table class="new_progress_table" align="center" width="141px" height="10px" cellspacing="0" cellpadding="0">
			<tr>
				<td class="new_progress_bar_td" align="#{applicationData.pageAlignment}" style="vertical-align:middle;" valign="middle">
					<div style="background-color: #fff; width: 111px; height: 8px; border: 1px solid #ffffff;">
						<div id="'oppId'_cd_prg" class="new_progress_bar">&#160;</div>
					</div>
				</td>
				<td id="'oppId'_cd_time" class="new_progress_time_td" align="#{applicationData.pageAlignment}">00:00</td>
			</tr>
		</table>
	</div>
</div>

<div id="template_state_4" style="display: none;">
	<div align="center" ><br /><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="trade_level font_grey" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="width_100_prc" style="height:50px;" align="center">
		<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/waitingforexpiry.gif" style="margin-top:12px;"/>
	</div>
</div>

<div id="template_state_4_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_bottom">
		<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/waitingforexpiry.gif" style="margin-top:12px;"/>
	</div>
</div>

<div id="template_state_5" style="display: none;">
	<div align="center" ><br /><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="trade_level font_grey" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="width_100_prc" style="height:50px;" align="center">
		<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/waitingforexpiry.gif" style="margin-top:12px;"/>
	</div>
</div>

<div id="template_state_5_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_bottom">
		<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/waitingforexpiry.gif" style="margin-top:12px;"/>
	</div>
</div>

<div id="template_state_6" style="display: none;">
	<div class="trade_level font_grey" style="padding-top:60px" align="center" id="'oppId'_4">&#160;</div>
	<div class="width_100_prc" style="height:89px;" align="center">
		<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/expirylevel.gif" width="88px" height="8px" />
	</div>
</div>

<div id="template_state_6_portrait" style="display: none;">
	<div class="tbox_content_left"></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"></div>
	<div class="tbox_content_bottom">
		<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/expirylevel.gif" width="88px" height="8px" />
	</div>
</div>

<div id="template_state_8" style="display: none;">
	<div align="center" ><br /><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="trade_level font_grey" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="width_100_prc" style="height:38px;"></div>
</div>

<div id="template_state_8_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level font_grey" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_bottom"></div>
</div>

<div id="template_state_9" style="display: none;">
	<div align="center" ><br /><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="trade_level font_grey" align="center" id="'oppId'_4">&#160;</div>
	<div align="center"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="width_100_prc tradePage_suspend" style="height:72px;"></div>
</div>

<div id="template_state_9_portrait" style="display: none;">
	<div class="tbox_content_left"><img src="#{applicationData.imagesPath}/mobile/call_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_center"><div id="'oppId'_4" class="trade_level font_grey" style="padding-top:10px;">&#160;</div></div>
	<div class="tbox_content_right"><img src="#{applicationData.imagesPath}/mobile/put_off.gif" width="67px" height="39px" /></div>
	<div class="tbox_content_bottom"></div>
</div>

<div id="template_call" style="display: none;">
	<div  align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<strong><span id="'oppId'_4" class="slip_level_green">&#160;</span></strong><img id="'oppId'_x_img" src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" /><br/>
		<h:outputText value="#{msgs['trading.slip.type']}" /> <strong class="tbox_subtitle">CALL</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" /><br/>
		<h:outputText value="#{msgs['trading.slip.expires']}" /> {expTime}<br/>
		<h:outputText value="#{msgs['trading.slip.amount']}" />
		<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<input type="number" id="'oppId'_amount" class="chart_box_slipinput" size="6" maxlength="5" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
		<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<br/>
		<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> <span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> <span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
	</div>
	<div align="center">
		<img id="'oppId'_img"
			src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/buy_b.jpg"
			style="cursor: pointer;"
			onclick="submitSlip('oppId');" />
	</div>
	<div id="'oppId'_loginError" style="display: none; ">
       	<h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><input name="investLoginErrLink" id="investLoginErrLink" type="button" class="nav_button_gray" style="height: 27px; width: 175px;" value="#{msgs['error.investment.notLogin2']}" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/register.jsf'" />
	</div>
</div>

<div id="template_call_portrait" style="display: none;">
	<div align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<div id="'oppId'_errorPosTD" class="tbox_slip_portrait_left">
			<strong class="tbox_subtitle"><h:outputText value="{marketName}" /></strong><br/>
			<strong><span id="'oppId'_4" class="slip_level_green" style="line-height:18px;font-size:9pt">&#160;</span></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.type']}" /> <strong class="sliplabel">CALL</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" /><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.expires']}" /> <span class="sliplabel">{expTime}</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.amount']}" /><h:panelGroup rendered="#{applicationData.skinId!=10 &amp;&amp; applicationData.skinId!=3}"><br /></h:panelGroup>
			<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
				<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId!=10 &amp;&amp; applicationData.skinId!=3}"><input id="'oppId'_amount" class="chart_box_slipinput" type="number" size="11" maxlength="8" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" /></h:panelGroup>
			<h:panelGroup rendered="#{!(applicationData.skinId!=10 &amp;&amp; applicationData.skinId!=3)}">&#160;<input id="'oppId'_amount" class="chart_box_slipinput" type="number" size="8" maxlength="5" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" /></h:panelGroup>
			<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
				<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
			</h:panelGroup>
		</div>
		<div class="tbox_slip_portrait_right">
			<img id="'oppId'_x_img" src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" />
			<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.above']}" /><br /><span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.below']}" /><br /><span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
			<img id="'oppId'_img"
				src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/buy_b.jpg"
				style="cursor: pointer;"
				onclick="submitSlip('oppId');" />
		</div>
	</div>
	<div id="'oppId'_loginError" style="display: none; ">
       	<h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><input name="investLoginErrLink" id="investLoginErrLink" type="button" class="nav_button_gray" style="height: 27px; width: 175px;" value="#{msgs['error.investment.notLogin2']}" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/register.jsf'" />
	</div>
</div>

<div id="template_put" style="display: none;">
	<div align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<strong><span id="'oppId'_4" class="slip_level_green">&#160;</span></strong><img id="'oppId'_x_img" src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" /><br/>
		<h:outputText value="#{msgs['trading.slip.type']}" /> <strong class="tbox_subtitle">PUT</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" /><br/>
		<h:outputText value="#{msgs['trading.slip.expires']}" /> {expTime}<br/>
		<h:outputText value="#{msgs['trading.slip.amount']}" />
		<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<input id="'oppId'_amount" class="chart_box_slipinput" type="number" size="6" maxlength="5" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
		<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
		</h:panelGroup>
		<br/>
		<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> <span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> <span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
	</div>
	<div align="center">
		<img id="'oppId'_img"
			src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/buy_b.jpg"
			style="cursor: pointer;"
			onclick="submitSlip('oppId');" />
	</div>
	<div id="'oppId'_loginError" style="display: none; ">
       	<h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><input name="investLoginErrLink" id="investLoginErrLink" type="button" class="nav_button_gray" style="height: 27px; width: 175px;" value="#{msgs['error.investment.notLogin2']}" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/register.jsf'" />
	</div>
</div>

<div id="template_put_portrait" style="display: none;">
	<div align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<div id="'oppId'_errorPosTD" class="tbox_slip_portrait_left">
			<strong class="tbox_subtitle"><h:outputText value="{marketName}" /></strong><br/>
			<strong><span id="'oppId'_4" class="slip_level_green" style="line-height:18px;font-size:9pt">&#160;</span></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.type']}" /> <strong class="sliplabel">PUT</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" /><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.expires']}" /> <span class="sliplabel">{expTime}</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.amount']}" /><h:panelGroup rendered="#{applicationData.skinId!=10 &amp;&amp; applicationData.skinId!=3}"><br /></h:panelGroup>
			<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
				<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId!=10 &amp;&amp; applicationData.skinId!=3}"><input id="'oppId'_amount" class="chart_box_slipinput" type="number" size="11" maxlength="8" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" /></h:panelGroup>
			<h:panelGroup rendered="#{!(applicationData.skinId!=10 &amp;&amp; applicationData.skinId!=3)}">&#160;<input id="'oppId'_amount" class="chart_box_slipinput" type="number" size="8" maxlength="5" height="8" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" /></h:panelGroup>
			<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
					(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
				<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
			</h:panelGroup>
		</div>
		<div class="tbox_slip_portrait_right">
			<img id="'oppId'_x_img" src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" />
			<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.below']}" /><br /><span id="'oppId'_win" class="sliplabel">&#160;</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.above']}" /><br /><span id="'oppId'_lose" class="sliplabel">&#160;</span><br/>
			<img id="'oppId'_img"
				src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/buy_b.jpg"
				style="cursor: pointer;"
				onclick="submitSlip('oppId');" />
		</div>
	</div>
	<div id="'oppId'_loginError" style="display: none; ">
       	<h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><input name="investLoginErrLink" id="investLoginErrLink" type="button" class="nav_button_gray" style="height: 27px; width: 175px;" value="#{msgs['error.investment.notLogin2']}" onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/register.jsf'" />
	</div>
</div>

<div id="template_call_success" style="display: none;">
	<div  align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<strong><span class="{level_clr}">{level}</span></strong><img src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" /><br/>
		<h:outputText value="#{msgs['trading.slip.type']}" /> <strong class="tbox_subtitle">CALL</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" /><br/>
		<h:outputText value="#{msgs['trading.slip.expires']}" /> {expTime}<br/>
		<h:outputText value="#{msgs['trading.slip.amount']}" />
		<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
  				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
		</h:panelGroup>
		<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
  				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
			<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
		</h:panelGroup>
		<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> <span class="sliplabel">{win}</span><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> <span class="sliplabel">{lose}</span><br/>
		<h:outputText value="#{msgs['trading.success.confirmation']}" /> <span id="'oppId'_confirm" class="sliplabel" dir="ltr">{confirm}</span>
	</div>
	<div id="'oppId'_sms" style="display: none; clear:both; margin: 0 auto; text-align: left; padding:0; margin-top: 5px;" align="#{applicationData.pageAlignment}">
		<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');"/><span class="sms" id="'oppId'_sms_txt">#{msgs['trading.chartBox.recipt.SMS']}</span>
	</div>
	<div style="display: none;">
		<span id="'oppId'_4" class="slip_level_green">&#160;</span>
	</div>
</div>

<div id="template_call_success_portrait" style="display: none;">
	<div align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<div id="'oppId'_errorPosTD" class="tbox_slip_portrait_left">
			<strong class="tbox_subtitle"><h:outputText value="{marketName}" /></strong><br/>
			<strong><span class="{level_clr}" style="line-height:18px;font-size:9pt">{level}</span></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.type']}" /> <strong class="sliplabel">CALL</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" /><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.expires']}" /> <span class="sliplabel">{expTime}</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.amount']}" />
			<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
   				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
				<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
			</h:panelGroup>
			<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
   				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
				<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
			</h:panelGroup>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.success.confirmation']}" /> <span id="'oppId'_confirm" class="sliplabel" dir="ltr"># {confirm}</span>
		</div>
		<div class="tbox_slip_portrait_right">
			<img src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" />
			<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.above']}" /><br /><span class="sliplabel">{win}</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.below']}" /><br /><span class="sliplabel">{lose}</span><br/>
			<div id="'oppId'_sms" style="display: none;" align="#{applicationData.pageAlignment}" class="width_100_prc div_clear_float">
				<span><input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" style="margin-top:-5px;margin-left:-3px;"/></span><span class="sms" id="'oppId'_sms_txt">#{msgs['trading.chartBox.recipt.SMS']}</span>
			</div>
		</div>
		<div style="display: none;">
			<span id="'oppId'_4" class="slip_level_green">&#160;</span>
		</div>
	</div>
</div>

<div id="template_put_success" style="display: none;">
	<div align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<strong class="{level_clr}">{level}</strong><img src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" /><br/>
		<h:outputText value="#{msgs['trading.slip.type']}" /> <strong class="tbox_subtitle">PUT</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" /><br/>
		<h:outputText value="#{msgs['trading.slip.expires']}" /> {expTime}<br/>
		<h:outputText value="#{msgs['trading.slip.amount']}" />
		<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
  				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
			<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
		</h:panelGroup>
		<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
  				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
			<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
		</h:panelGroup>
		<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> <span class="sliplabel">{win}</span><br/>
		<h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> <span class="sliplabel">{lose}</span><br/>
		<h:outputText value="#{msgs['trading.success.confirmation']}" /> <span id="'oppId'_confirm" class="sliplabel" dir="ltr">{confirm}</span>
	</div>
	<div id="'oppId'_sms" style="display: none; clear:both; margin: 0 auto; text-align: left; padding:0; margin-top: 5px;" align="#{applicationData.pageAlignment}">
		<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');"/><span class="sms" id="'oppId'_sms_txt">#{msgs['trading.chartBox.recipt.SMS']}</span>
	</div>
	<div style="display: none;">
		<span id="'oppId'_4" class="slip_level_green">&#160;</span>
	</div>
</div>

<div id="template_put_success_portrait" style="display: none;">
	<div align="#{applicationData.pageAlignment}" dir="#{applicationData.pageDirection}">
		<div id="'oppId'_errorPosTD" class="tbox_slip_portrait_left">
			<strong class="tbox_subtitle"><h:outputText value="{marketName}" /></strong><br/>
			<strong class="{level_clr}" style="line-height:18px;font-size:9pt">{level}</strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.type']}" /> <strong class="sliplabel">PUT</strong> <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" /><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.expires']}" /> <span class="sliplabel">{expTime}</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.slip.amount']}" />
			<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
   				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4)}">
				<span class="sliplabel">#{applicationData.realCurrencySymbol}{amount}</span><br/>
			</h:panelGroup>
			<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId!=4) ||
   				(!applicationData.currencyLeftSymbol &amp;&amp; applicationData.skinId==4))}">
				<span class="sliplabel">{amount}#{applicationData.realCurrencySymbol}</span><br/>
			</h:panelGroup>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.success.confirmation']}" /> <span id="'oppId'_confirm" class="sliplabel" dir="ltr"># {confirm}</span>
		</div>
		<div class="tbox_slip_portrait_right">
			<img src="#{applicationData.imagesPath}/mobile/x_slip.png" style="cursor: pointer;" align="right" onclick="closeSlip('oppId');" />
			<strong class="tbox_subtitle"><h:outputText value="#{msgs['trading.slip.return']}" /></strong><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.below']}" /><br /><span class="sliplabel">{win}</span><br/>
			<h:outputText styleClass="sliplabel" value="#{msgs['trading.chartBox.slip.above']}" /><br /><span class="sliplabel">{lose}</span><br/>
			<div id="'oppId'_sms" style="display: none;" align="#{applicationData.pageAlignment}" class="width_100_prc div_clear_float">
				<span><input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" style="margin-top:-5px;margin-left:-3px;"/></span><span class="sms" id="'oppId'_sms_txt">#{msgs['trading.chartBox.recipt.SMS']}</span>
			</div>
		</div>
		<div style="display: none;">
			<span id="'oppId'_4" class="slip_level_green">&#160;</span>
		</div>
	</div>
</div>

<div id="template_success_profitline" style="display: none;">
	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/white_pixel.jpg" width="5px" height="1px"/>
	<h:panelGroup rendered="#{applicationData.skinId != 15}">
		<img onclick="window.top.runThickBox('marketId', 'oppId'); return false;" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/profitline_u.jpg"
			style="cursor: pointer;" />
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 15}">
		<img onclick="window.top.runThickBox('marketId', 'oppId'); return false;" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/profitline_u.jpg"
			style="cursor: pointer;" />
	</h:panelGroup>
</div>

<t:dataList value="#{tradingPageBean.arrays}" var="arrays" layout="simple">
	<script>
		var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
		var userLanguage = "#{applicationData.userLocale.language}";
		var server = "#{applicationData.isForceHttps() ? 'https' : 'http'}://#{applicationData.lsServer}";
		document.domain = "#{applicationData.domainUrl}";

		var lsClient = new LightstreamerClient(server, "REUTERSJMS");
		lsClient.connectionOptions.setMaxBandwidth(20);
		lsClient.connectionOptions.setIdleMillis(30000);
		lsClient.connectionOptions.setPollingMillis(1000);
		lsClient.connectionOptions.setReconnectTimeout(10000);
		lsClient.connectionSharing.enableSharing("AOCommonConnection", "ATTACH", "CREATE");
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			lsClient.connectionDetails.setUser("a#{user.userName}a");
			lsClient.connectionDetails.setPassword("#{user.passHash}");
		</h:panelGroup>	
		lsClient.connect();
		
//		lsPage.onEngineReady = function(engine) {
//			engine.onStatusChange = function(chngStatus) {
//				window.status = "#{applicationData.tradingPagesStatus}";
//				engineStatusChange(chngStatus);
//			};
//		};

		var group = [#{group}];
		var schema = ["key", "command", "ET_NAME", "LEVEL_" + #{applicationData.getSkin().skinGroup.id}, "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", "CLR_" + #{applicationData.getSkin().skinGroup.id}, "ET_PRIORITY", "ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE", "AO_HP_MARKETS_" + skinId, "AO_STATES", "FILTER_SCHEDULED", "ET_LAST_INV", "AO_TS", "AO_FLAGS"];
		var aoTable = new Subscription("COMMAND", group, schema);
		aoTable.setDataAdapter("JMS_ADAPTER");
		aoTable.setRequestedSnapshot("yes");
		aoTable.setRequestedMaxFrequency(1.0);
		aoTable.addListener({
	          onItemUpdate: function (updateObject) {
	        		  updateItemAO(updateObject.getItemPos(), updateObject, updateObject.getItemName());
	          }
	        });
		lsClient.subscribe(aoTable);

		var boxesFixed = new Array(false#{arrays.fixed});
		var boxesFixedMarkets = new Array(0#{arrays.markets});
		var boxesFixedScheduled = new Array(0#{arrays.scheduled});
		var boxesFull = new Array(false, true, true, true, true);
		var boxesMarkets = new Array(0, 0, 0, 0, 0);
		var israelMarkets = new Array(#{arrays.israelMarkets});

		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser} &amp;&amp; false">
			var groupGM = ["insurances_#{user.userName}"];
			var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", insurance_current_level, "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR"];
			var newTableGM = new Subscription("COMMAND", groupGM, schemaGM);
			newTableGM.setDataAdapter("JMS_ADAPTER");
			newTableGM.setSnapshotRequired(true);
			newTableGM.setRequestedMaxFrequency(1.0);
			newTableGM.addListener({
		          onItemUpdate: function (updateObject) { 
		            updateItemGM(updateObject.getItemPos(), updateObject);
		          }
		        });
			lsClient.subscribe(newTableGM)
		</h:panelGroup>
	</script>
</t:dataList>

</f:view>