<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" >
<head>
	<META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Pragma" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
</head>

<ui:composition template="/mobile/templates/template_home_page.xhtml">
	<ui:define name="head">
		<script>
			var iosDomain = "#{applicationData.homePageMobileUrl}";
			if(iosDomain.substring(0,7)=="http://")  iosDomain = iosDomain.substring(7,iosDomain.length);
			if(iosDomain.substring(0,8)=="https://")  iosDomain = iosDomain.substring(8,iosDomain.length);
			iosDomain = iosDomain.substring(0,iosDomain.indexOf('/'));
			
			var serverOffsetMillis = #{applicationData.timeMilis} - new Date().getTime();
			var boxesOpportunities = new Array(1);
			boxesOpportunities[0] = new Array(0);
			document.domain = "#{applicationData.domainUrl}";
			var context_path = "#{facesContext.externalContext.requestContextPath}";
			var image_context_path = "#{applicationData.imagesPath}/#{applicationData.skin.style}";
			var skinId = #{applicationData.skinId};
			var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
			</h:panelGroup>
			var bundle_msg_today = "#{msgs['investment.time.today']} ";
			var currencySymbol = "#{applicationData.realCurrencySymbol}";
			var submitBtnNormalImg = '#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/buy_b.jpg';
			var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.skin.style}/processing.gif';
			var marketMenuError= "#{msgs['market.menu.error']}";
			var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1.mobile']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
			var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
			var tradingPage = true;
			var isMobileParm = true;
			var marketStateClose = "(-)";
			var lastSelectedMarket; //last market pic in sl to roll back if already chose in other box (mobile)
			var lastSelectedMarketlist; //last sl to roll back if already market user is in in other box (mobile)
			var portrait = window.orientation != undefined ? window.orientation == 0 || window.orientation == 180 : window.innerWidth &#60; window.innerHeight;
			var isLeftCurrencySymbol = #{applicationData.currencyLeftSymbol};
		</script>
			<script src="#{facesContext.externalContext.requestContextPath}/js/ls5.1/lightstreamer.js"></script>		
			<script src="#{facesContext.externalContext.requestContextPath}/js/bridge/lsflashbridge.js?new=cvsVersionParam" type="text/javascript"></script>
			
			<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/flashDetection.js?new=cvsVersionParam"></script>
			<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/tradePage.js?new=cvsVersionParam"></script>
			<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/tradeMenus.js?new=cvsVersionParam"></script>
			<script src="#{facesContext.externalContext.requestContextPath}/mobile/js/boxChart.js?new=cvsVersionParam"></script>

			<script src="#{facesContext.externalContext.requestContextPath}/js/menuMarketSelect.js?new=cvsVersionParam"></script>
			<script src="#{facesContext.externalContext.requestContextPath}/js/thickbox/jquery.js?new=cvsVersionParam" type="text/javascript"></script>
			<script src="#{facesContext.externalContext.requestContextPath}/js/thickbox/thickbox.js?new=cvsVersionParam" type="text/javascript"></script>
			<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?new=cvsVersionParam"></script>
			<script>
				hasFlash = true;
				var boxCharts = new Array();
			</script>
	</ui:define>
	<ui:define name="homePage">
		<c:set var="isHomePage" value="false" />
	</ui:define>
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['mobile.window.title.trade']}"/>
	</ui:define>
	<ui:define name="footerMsg">
		<span><h:outputText value="#{msgs['anyoption.title']}"/></span>
	</ui:define>
	<ui:define name="metaDescription">
		<c:set var="metaDesc" value="#{msgs['trade.description']}" />
	</ui:define>
	<ui:define name="content">
		<div class="body_bg">
			<div id="ls_unstable" style="display:none">
  				<!-- unstable_pic come from script dont delete this line-->
 			</div>
			<div id="markets_table">
				<div class="width_100_prc body_bg" style="overflow: auto;">
					<div id="box0">
						<ui:include src="/mobile/tradingBoxLoading.xhtml" />
					</div>
				</div>
			</div>
			<div id="off_hours_banner" style="width=98%;display:none;" class="trade_box_left_margin white tradePage_box_border" align="center">
				<img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/offhours.jpg?new=cvsVersionParam" width="309px" height="137px" />
			</div>
			<div id="iframe_w" class="trade_box_no_bottom_margin div_clear_float div_overflow">
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		    		<iframe align="left"
		    			name="right_side_investments"
		    			src="#{facesContext.externalContext.requestContextPath}/mobile/expire_today.jsf"
		    			width="100%" frameborder="no" scrolling="no">
		    		</iframe>
				</h:panelGroup>
				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
					<ui:include src="/mobile/howToTradeBanner.xhtml" />
				</h:panelGroup>
			</div>
		</div>
		<ui:include src="/mobile/tradingBoxTemplates.xhtml">
			<ui:param name="group" value="#{tradingPageBean.mobileMarkets}" />
		</ui:include>
		<div id="log"></div>
		<div id="tmpdiv" style="display: none;"></div>
		<script><!--
//			for (i = 0; i < 2; i++) {
//				var box = document.getElementById("box" + i);
//				if (false) {
//					box.style.float = "left";
//					box.style.width = "98%";
//					box.style.marginLeft = "1%";
//				}
//				box.style.display = "block";
//			}
		--></script>

		<ui:include src="/jsp/html_elements/runDepositPixels.xhtml"/>
	</ui:define>
</ui:composition>
</html>
