
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="windowtitle">
	<h:outputText value="#{msgs['aboutOptions.jsf.title']}"/>
</ui:define>
<ui:define name="title">
     #{msgs['aboutOptions.jsf.title']}
</ui:define>

<ui:define name="header">
	
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/he/about_options.xhtml">
     </ui:include>
</ui:define>
</ui:composition>
</body>
</html>