<?xml version="1.0" encoding="UTF-8"?>
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		contentType="text/xml"
		locale="#{applicationData.userLocale}">
	#{binary0100DataForm.fillParams}
	
	<data>
		<settings>
			<serverTime><h:outputText value="#{binary0100DataForm.currentTime.time}" /></serverTime>
			<timezoneOffset><h:outputText value="#{binary0100DataForm.utcOffsetInMin}" /></timezoneOffset>
			<currencySymbol><h:outputText value="#{applicationData.realCurrencySymbol}" /></currencySymbol>
			<balance><h:outputText value="#{user.balance}" rendered="#{!empty facesContext.externalContext.remoteUser}" /><h:outputText value="0" rendered="#{empty facesContext.externalContext.remoteUser}" /></balance>
			<skin><h:outputText value="#{applicationData.skinId}" /></skin>
			<marketId><h:outputText value="#{binary0100DataForm.marketId}" /></marketId>
			<oppId><h:outputText value="#{binary0100DataForm.oppId}" /></oppId>
			<login><h:outputText value="1" rendered="#{!empty facesContext.externalContext.remoteUser}" /><h:outputText value="0" rendered="#{empty facesContext.externalContext.remoteUser}" /></login>
			<t:dataList value="#{binary0100DataForm.opportunity}" var="opp" layout="simple">
				<market><h:outputText value="#{msgs[opp.marketDisplayName]}" /></market>
				<timeFirstInvest><h:outputText value="#{opp.timeFirstInvest.time}" /></timeFirstInvest>
				<timeLastInvest><h:outputText value="#{opp.timeLastInvest.time}" /></timeLastInvest>
				<timeEstClosing><h:outputText value="#{opp.timeEstClosing.time}" /></timeEstClosing>
				<decimalPoint><h:outputText value="#{opp.marketDecimalPoint}" /></decimalPoint>
				<eventLevel><h:outputText value="#{opp.currentLevel}" /></eventLevel>
				<opportunityTypeId><h:outputText value="#{opp.opportunityTypeId}" /></opportunityTypeId>
			</t:dataList>
			<currencyId><h:outputText value="#{applicationData.realCurrencyId}" /></currencyId>
			<currencyLeftSymbol><h:outputText value="#{applicationData.currencyLeftSymbol}" /></currencyLeftSymbol>
			<maxContracts><h:outputText value="#{binary0100DataForm.maxContracts}" /></maxContracts>
			<currencyDecimalPoint><h:outputText value="#{applicationData.currencyDecimalPointDigits}" /></currencyDecimalPoint>
		</settings>
		<rates>
			<t:dataList value="#{binary0100DataForm.history}" var="crrRate" layout="simple">
				<h:panelGroup rendered="#{crrRate.graphRate != 0}">
					<rate>
						<time><h:outputText value="#{crrRate.rateTime.time}" /></time>
						<level><h:outputText value="#{crrRate.graphRate}" /></level>
					</rate>
				</h:panelGroup>
			</t:dataList>
		</rates>
	</data>
</f:view>