<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<head>
		<title>etrader</title>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>

	  	<style>
			body {font-family:Arial, Helvetica, sans-serif; font-size:12px;}
			.iframe{width:400px; border:solid 10px #efefef;}
			.text { margin: 10px 20px 15px 5px; }
			.form { height:45px; margin: 0px 0 0px 5px;}
			.form_input { position:relative; float:right; margin: 0 0 7px 5px; width:190px; text-align:left;}
			.form_input input{
				border:1px solid #c5bab6;
				background-color: #fff9f6;
			}
			.form_input select{
				border:1px solid #c5bab6;
				background-color: #fff9f6;
			}
			.contactme_error_messages_bold_new {
				color: #C00;
				font-weight: bold;
				font-size:14px;
				font-family: Arial;
				margin-top:4px;
				float:right;
			}
			.button {padding: 10px 0 0 10px; background-color:#efefef; margin-top:10px;}
		</style>
	</head>
	<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
		<div>
		<!--menu-->

		
			<div class="iframe">
				<div class="text" dir="rtl">
				<span dir="rtl" style=" color:#cc0000; font-weight: bold; font-size: 15px">
				למד עוד על מסחר באופציות בינאריות ורווח של 70%  בדקות<br /></span><span style="font-weight: bold;">
				מלא את הטופס ונציג etrader יחזור אליך בהקדם >></span>
				</div>
				<div class="form" dir="rtl">
					<div class="form_input">
						<h:outputText value="#{msgs['contact.firstname']}"/>&#160;
						<h:inputText  dir="rtl" style="width:122px" id="contactPrivateName" maxlength="15" value="#{contactMeForm.contactPrivateName}" label="#{msgs['contact.firstname']}"/>
					</div>
					<div class="form_input">
						<h:outputText value="#{msgs['contact.lastname']}"/>&#160;
						<h:inputText dir="rtl" style="width:122px" id="contactLastName" maxlength="15" value="#{contactMeForm.contactLastName}" />
					</div>
					<div class="form_input" id="mobilePhone">
						<h:outputText value="#{msgs['contact.phone']}"/>&#160;
				    	<h:inputText style="width:66px" dir="ltr" id="mobilePhoneSuffix"
				       	   	maxlength="7" value="#{contactMeForm.mobilePhone}">
				    	</h:inputText>
				    	&#160;
				    	<h:selectOneMenu id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}" style="width:50px">
				    		<f:selectItem  itemLabel="" itemValue="" />
				    		<f:selectItems value="#{applicationData.mobilePref}" />
				    	</h:selectOneMenu>
					</div>
					<div class="form_input">
						<h:outputText value="#{msgs['contact.email']}"/>&#160;
						<h:inputText dir="rtl" style="width:122px" id="email" maxlength="50" value="#{contactMeForm.email}"  label="#{msgs['register.email']}">
				        </h:inputText>
					</div>
				</div>
				&#160;
				<div class="button">
					<img
						style="cursor: pointer;"
						id="button"
						src="#{facesContext.externalContext.requestContextPath}/images/etrader-button_form_globe.png"
						onclick="submitForm();"/>
			 		<h:outputText
		 					id="errorMsg"
		 				 	dir="rtl"
		 				 	styleClass="contactme_error_messages_bold_new"/>
				</div>
			</div>

		</div>
		<script>
		<!--
			    var email = $('#email');
		        var mobilePhonePref = $('#mobilePhonePref');
		        var mobilePhoneSuffix = $('#mobilePhoneSuffix');
		        var privateName = $('#contactPrivateName');
		        var lastName = $('#contactLastName');
			function checkInputs() {
				var errorMsg = "";
				var phoneNumberPattern = /^[0-9]+$/;
		        var namePattern= /^[א-תA-Za-z]+$/;
		        var emailPattern = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
				//Check privateName empty.
				if (privateName.val().length == 0) {
					errorMsg =  "#{msgs['register.firstname']}" + " " + "#{msgs['javax.faces.component.UIInput.REQUIRED_detail']}";
				}
				//Check lastName empty.
				else if (lastName.val().length == 0) {
					errorMsg =  "#{msgs['register.lastname']}" + " " + "#{msgs['javax.faces.component.UIInput.REQUIRED_detail']}";
				}
				//Check mobilePhonePref empty.
				else if (mobilePhonePref.val().length == 0) {
					errorMsg =  "#{msgs['register.mobilephone.prefix']}" + " " + "#{msgs['javax.faces.component.UIInput.REQUIRED_detail']}";
				}
				//Check mobilePhoneSuffix empty.
				else if (mobilePhoneSuffix.val().length == 0) {
					errorMsg =  "#{msgs['register.mobilephone']}" + " " + "#{msgs['javax.faces.component.UIInput.REQUIRED_detail']}";
				}
				//Check mobilePhoneSuffix less than 7 digits.
				else if (mobilePhoneSuffix.val().length < 7) {
					errorMsg =  "#{msgs['contact.message4']}" + " " + "#{msgs['error.register.number']}";
				}
				//Check email empty.
				else if (email.val().length == 0) {
					errorMsg =  "#{msgs['register.email']}" + " " + "#{msgs['javax.faces.component.UIInput.REQUIRED_detail']}";
				}
				//Check privateName letters
		        else if(!namePattern.test(privateName.val())) {
					errorMsg = "#{msgs['invalid.first.name']}";
				}
				//Check lastName letters
				else if(!namePattern.test(lastName.val())) {
					errorMsg = "#{msgs['invalid.last.name']}";
				}
				//Check mobilePhoneSuffix only digits
				else if(!phoneNumberPattern.test(mobilePhoneSuffix.val())) {
					errorMsg = "#{msgs['invalid.phone.number']}";
				}
				//Check if email is valid
				else if (!emailPattern.test(email.val())) {
					errorMsg = "#{msgs['invalid.email']}";
				}
				document.getElementById("errorMsg").innerHTML = errorMsg;
				if (errorMsg != "") {
					return false;
				}
				return true;
			}

			function setUserInputsCallback() {
		        var mobilePhone = mobilePhonePref.val() + mobilePhoneSuffix.val();
		        //get query string of the iframe
		        var queryString = location.search.substring(1);
		        var combId = "";
		        if (queryString.indexOf('combid=') != -1 ){
		        	combId = queryString.substring(queryString.indexOf('=') + 1, queryString.length);
		        }
		        var details = "emailCallmeIframe=" + encodeURIComponent(email.val()) + "&firstNameCallmeIframe=" + encodeURIComponent(privateName.val())
		        				+ "&lastNameCallmeIframe=" + encodeURIComponent(lastName.val()) + "&mobilePhoneCallmeIframe="
		        				+ encodeURIComponent(mobilePhone) + "&combIdIframe=" + encodeURIComponent(combId);
		        $.ajax({
				   type: "POST",
				   url: "ajax.jsf",
				   data: details
            	 });
		    }

			function submitForm() {
				if (checkInputs()) {
					setUserInputsCallback();
					window.location.href =  "#{applicationData.homePageUrl}jsp/callmeIframeSuccess.jsf";
				}
			}
			-->
		</script>
	</body>
</html>