<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<head>
	<title>etrader</title>
	 <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	 <script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
	 <script>
	 	function open_new_win(url) {
	 		window.open(url,'Etrader','toolbar=1,scrollbars=1,location=1,status=1,menubar=1,resizable=1, fullscreen=1');
	 	}
	 </script>

  	<style>
		body {font-family:Arial, Helvetica, sans-serif; font-size:12px;}

		.iframe{width:400px; border:solid 10px #efefef;}

		.text { margin: 10px 20px 15px 5px; }

		.form { height:45px; margin: 0px 0 0px 5px;}
		.form_input { position:relative; float:right; margin: 0 0 7px 5px; width:190px; text-align:left;}
		.form_input input{
			border:1px solid #c5bab6;
			background-color: #fff9f6;
		}
		.form_input select{
			border:1px solid #c5bab6;
			background-color: #fff9f6;
		}
		.contactme_error_messages_bold_new {
			color: #C00;
			font-weight: bold;
			font-size:14px;
			font-family: Arial;
			margin-top:4px;
			float:right;
		}
		.button {padding: 20px 0 0 20px; background-color:#efefef; margin-top:10px;}
	</style>

	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>

</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >


<div  >
<!--menu-->



<h:form id="contactMeForm" class="iframe">
	<div>
	<div class="text" dir="rtl">
	<span dir="rtl" style=" color:#cc0000; font-weight: bold; font-size: 15px">
	למד עוד על מסחר באופציות בינאריות ורווח של 70%  בדקות<br /></span><span style="font-weight: bold;">
	מלא את הטופס ונציג etrader יחזור אליך בהקדם >></span>
	</div>
	<div class="form" dir="rtl">

	<div class="form_input">
		<h:outputText value="#{msgs['contact.firstname']}"/>&#160;
		<h:inputText  dir="rtl" style="width:122px" id="contactPrivateName" value="#{contactMeForm.contactPrivateName}" label="#{msgs['contact.firstname']}" />
	</div>

	<div class="form_input">
		<h:outputText value="#{msgs['contact.lastname']}"/>&#160;
		<h:inputText dir="rtl" style="width:122px" id="contactLastName" value="#{contactMeForm.contactLastName}" />
	</div>
	<div class="form_input">
		<h:outputText value="#{msgs['contact.phone']}"/>&#160;
    	<h:inputText style="width:66px" dir="ltr" id="mobilePhone"
       	   	maxlength="7" value="#{contactMeForm.mobilePhone}">
    	</h:inputText>
    	&#160;
    	<h:selectOneMenu id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}" style="width:50px">
    		<f:selectItem  itemLabel="" itemValue="" />
    		<f:selectItems value="#{applicationData.mobilePref}" />
    	</h:selectOneMenu>
	</div>

	<div class="form_input">
		<h:outputText value="#{msgs['contact.email']}"/>&#160;
		<h:inputText dir="rtl" style="width:122px" id="email" value="#{contactMeForm.email}"  label="#{msgs['register.email']}">
        </h:inputText>
	</div>
	</div>
	&#160;
	<div class="button">
		<span dir="rtl" style="font-weight:bold; font-size: 14px">
			תודה רבה על פנייתך, אתה מוזמן לבקר ב-
			<a href="javascript:void(0)" onclick="open_new_win('http://www.etrader.co.il/jsp/index.jsf')" style=" color:#cc0000; text-decoration:underline">www.etrader.co.il</a>
		</span>
	</div>
	</div>
</h:form>
</div>
</body>
</html>