<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function showCall() {
			flash.showCall();
		}

		function hideCall() {
			flash.hideCall();
		}

		function showPut() {
			flash.showPut();
		}

		function hidePut() {
			flash.hidePut();
		}

		function showLast10Min() {
			flash.showLast10Min();
		}

		function showWaitingForExpiry() {
			flash.showWaitingForExpiry();
		}

		var flash;
		window.onload = function() {
			if (navigator.appName.indexOf("Microsoft") != -1) {
				flash = window.flashObject;
			} else {
				flash = window.document.flashObject;
			}
		}

	</script>

	<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/bridge/lsflashbridge.js" type="text/javascript"></script>
</head>
<body style="margin: 0px;background:none;"  >
<f:view locale="#{applicationData.userLocale}">
	<table dir="rtl" align="center" border="0" cellspacing="0" cellpadding="0">
		<tr align="center">
			<td width="490px" align="center">
				<!-- Flash object -->
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="490" height="300" id="flashObject" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/chart.swf" />
					<param name="quality" value="high" />
					<param name="wmode" value="transparent" />
					<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					<param name="FlashVars" value="pMarketId=#{facesContext.externalContext.requestParameterMap['marketId']}&amp;pOppId=#{facesContext.externalContext.requestParameterMap['oppId']}&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand=#{facesContext.externalContext.requestParameterMap['command']}" />
					<embed src="#{facesContext.externalContext.requestContextPath}/images/chart.swf" flashvars="pMarketId=#{facesContext.externalContext.requestParameterMap['marketId']}&amp;pOppId=#{facesContext.externalContext.requestParameterMap['oppId']}&amp;pClassId=#{user.classId}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand=#{facesContext.externalContext.requestParameterMap['command']}" quality="high" wmode="transparent" width="490" height="300" name="flashObject" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
					</h:panelGroup>
					<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
					<param name="FlashVars" value="pMarketId=#{facesContext.externalContext.requestParameterMap['marketId']}&amp;pOppId=#{facesContext.externalContext.requestParameterMap['oppId']}&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand=#{facesContext.externalContext.requestParameterMap['command']}" />
					<embed src="#{facesContext.externalContext.requestContextPath}/images/chart.swf" flashvars="pMarketId=#{facesContext.externalContext.requestParameterMap['marketId']}&amp;pOppId=#{facesContext.externalContext.requestParameterMap['oppId']}&amp;pClassId=1&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand=#{facesContext.externalContext.requestParameterMap['command']}" quality="high" wmode="transparent" width="490" height="300" name="flashObject" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
					</h:panelGroup>
				</object>
			</td>
		</tr>
	</table>

	<script type="text/javascript">
		// (Optional) Block Escape Key
		document.onkeydown = checkEscape;
		document.onkeypress = checkEscape;
		function checkEscape(e) {
			if (!e) {
				e = event;
			}
			if (e.keyCode == 27) {
				return false;
			}
		}

		var flashHandler = new FlashBridge("flashObject");

		// Push-Page Configuration
		var pushPage = new PushPage();
		pushPage.context.setDebugAlertsOnClientError(false);
		pushPage.context.setDomain("#{applicationData.domainUrl}");
		if (!parent.tradingPage) {
			pushPage.onEngineCreation = function(engine) {
				engine.connection.setLSHost("#{slipForm.lsServer}");
				engine.connection.setLSPort(80);
				engine.connection.setAdapterName("REUTERSJMS");
				engine.connection.setUserName("");
				engine.connection.setPassword("");
				engine.policy.setMaxBandwidth(20);
				engine.policy.setIdleTimeout(30000);
				engine.policy.setPollingInterval(1000);
				engine.policy.setTimeoutForReconnect(10000);

				engine.changeStatus("STREAMING");
			};
		}
		pushPage.bind();

		if (!parent.tradingPage) {
			pushPage.createEngine("etrader", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");
		} else {
			// seek the LightstreamerEngine created by the main page
			pushPage.seekEngine("etrader", parent);
		}
	</script>
</f:view>
</body>
</html>