<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<head>
	<title>etrader</title>
	 <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
  	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
  	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>

<div  >
<!--menu-->



<h:form id="contactMeForm" style="font-size:0px">

<table id="Table_01" width="224" height="161" class="site_table" cellpadding="0" cellspacing="0" border="0">
	<tr height="43">
		<td colspan="3" height="46" ><img src="#{facesContext.externalContext.requestContextPath}/images/top_callme.jpg" width="222" border="0" height="46" alt=""></img></td>
	</tr>
	<tr>
		<td rowspan="4" valign="bottom"><img src="#{facesContext.externalContext.requestContextPath}/images/woman_callme.jpg" width="52" height="90" alt=""/></td>
		<td align="center" height="10">
			<h:inputText dir="rtl" styleClass="contactme_input_text" id="contactName" value="#{contactMeForm.contactName}" />
		</td>
		<td height="57" align="top" rowspan="4"><img align="top" src="#{facesContext.externalContext.requestContextPath}/images/name.jpg" width="56" height="90" alt="" />
		</td>
	</tr>
	<tr height="10px">
		<td align="center">
			<h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0" height="10px">
				<h:panelGrid columns="3" cellspacing="0" cellpadding="0" height="10px">
	                	<h:selectOneMenu styleClass="contactme_cmbBox"  id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}">
	                		<f:selectItem  itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.mobilePref}" />
	                	</h:selectOneMenu>
	                	&#160;
	                	<h:inputText size="10" styleClass="contactme_input_text_register" dir="ltr" id="mobilePhone"
		               	   	maxlength="7" value="#{contactMeForm.mobilePhone}">
	                	</h:inputText>
				</h:panelGrid>
			</h:panelGrid>
		</td>
	</tr>
	<tr valign="top" height="9px">
		<td align="center" style="font-size:9px">
			   &#160;<h:outputText style="line-height:9px;" value="#{commonUtil.firstErrorMessage}" rendered="#{commonUtil.hasErrorMessages}" styleClass="contactme_error_messages_bold" />
		</td>
	</tr>
	<tr>
		<td align="center" height="24">
			<t:commandButton
				dir="rtl"
				id="button"
				image="/images/button_callme.jpg"
  				onclick="gowait('contactMeForm:button','contactMeForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         				 return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');" >
			</t:commandButton>
			<h:commandLink action="#{contactMeForm.sendContactEmail}"
 				id="hiddenbtn" style="display:none"/>
 		</td>
	</tr>
	<tr>
	   <td width="217px" height="23px" colspan="3"><img src="#{facesContext.externalContext.requestContextPath}/images/service.jpg" width="217" border="0" height="23" alt=""></img></td>
	</tr>
</table>

</h:form>
</div>
</body>
</html>