<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<body>
<ui:composition template="/jsp/templates/template_with_banners_no_bottom.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="contactus" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['contactus.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.contactus']}"/>

</ui:define>
<ui:define name="title">#{msgs['rightnav.contact']}</ui:define>
<ui:define name="content">
	<iframe id="contactuscontent" name="contactuscontent" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/contactus_content.jsf?refresh=true" width="100%" height="420px" scrolling="no" ></iframe>
</ui:define>
</ui:composition>
</body>
</html>