<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<!-- Google Code for receiptFirstDeposit Conversion Etrader Account Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1066037194;
var google_conversion_language = "iw";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "KwYACL71QxDK36n8Aw";
var google_conversion_value = 300;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1066037194/?value=300&amp;label=KwYACL71QxDK36n8Aw&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

		
		<!-- Tag for Activity Group: deposit, Activity Name: deposit_etrader, Activity ID: 827524 -->
		<!-- Expected URL: http://www.etrader.co.il/jsp/index.jsf -->
		
		<!--Activity ID: 827524-->
		<!--Activity Name: deposit_etrader-->
		<!--Activity Group Name: deposit-->
		
		<!--
		Start of DoubleClick Floodlight Tag: Please do not remove
		Activity name of this tag: deposit_etrader
		URL of the webpage where the tag is expected to be placed: http://www.etrader.co.il/jsp/index.jsf
		This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
		Creation Date: 08/27/2012
		-->
		<script type="text/javascript" id="DoubleClickFloodlightTag827524">
		//<![CDATA[
		var axel = Math.random() + "";
		var a = axel * 10000000000000;
		
		var newIFrame=document.createElement('iframe');
		newIFrame.src='https://fls.doubleclick.net/activityi;src=3165381;type=depos088;cat=depos635;ord=' + a + '?';
		newIFrame.width="1";
		newIFrame.frameborder="0";
		newIFrame.height="1";
		var scriptNode=document.getElementById('DoubleClickFloodlightTag827524');
		scriptNode.parentNode.insertBefore(newIFrame,scriptNode);
		//]]>
		</script>
		<noscript>
		<iframe src="https://fls.doubleclick.net/activityi;src=3165381;type=depos088;cat=depos635;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
		</noscript>
		
		<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
		

</f:view>