<html DIR="RTL"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<title><ui:insert name="windowtitle" /></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />

    <META NAME="keywords" content="#{msgs['etrader.keywords']}"/>
    <META NAME="description" content="#{msgs['etrader.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
	<ui:insert name="head" />

</HEAD>
<BODY>

    <h:panelGroup >

			<h:panelGroup rendered="#{commonUtil.hasMessages}" >
    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
					<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
             </h:panelGroup>

    </h:panelGroup>

</BODY>
</html>