<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition template="/jsp/templates/template_trade_page.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="etraderIndices" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['etraderIndices.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.etraderIndices']}"/>
</ui:define>
<ui:define name="script">
<script>
	var HOME_PAGE = false;
</script>
</ui:define>
<ui:define name="message">
	<h:panelGroup rendered="#{!empty applicationData.messageEtraderIndices}">
		<table cellspacing="0" cellpadding="0" border="0" width="490">
			<tr>
				<td align="center">
					<center><font color="#566764" face="Arial" size="2.5"><b><h:outputText value="#{applicationData.messageEtraderIndices.text}" escape="false" /></b></font></center>
				</td>
			</tr>
		</table>
	</h:panelGroup>
</ui:define>
<ui:define name="market">
	<select id="select_market" onchange="updateMarketsSelection(this);" disabled="true">
		<option value="00"><h:outputText value="#{msgs['investment.header.market']}" /></option>
		<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['assetSel'] &amp;&amp; facesContext.externalContext.requestParameterMap['assetSel'] == '1'}">
			<option value="01" selected="true"><h:outputText value="#{msgs['markets.Energy.Israel']}" /></option>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['assetSel'] || facesContext.externalContext.requestParameterMap['assetSel'] != '1'}">
			<option value="01"><h:outputText value="#{msgs['markets.Energy.Israel']}" /></option>
		</h:panelGroup>
		<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['assetSel'] &amp;&amp; facesContext.externalContext.requestParameterMap['assetSel'] == '02'}">
			<option value="02" selected="true"><h:outputText value="#{msgs['markets.Maof.Index']}" /></option>
		</h:panelGroup>
		<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['assetSel'] || facesContext.externalContext.requestParameterMap['assetSel'] != '02'}">
			<option value="02"><h:outputText value="#{msgs['markets.Maof.Index']}" /></option>
		</h:panelGroup>
	</select>
</ui:define>
<ui:define name="close">
	<h:outputText value="#{msgs['investment.header.close']}" />
</ui:define>
<ui:define name="closeRow">
	<select class="selectBox" onchange="newUpdateMarketsSelection(this);">
		<option value="0"><h:outputText value="#{msgs['investment.header.close']}" /></option>
		<option value="1"><h:outputText value="#{msgs['investment.header.close.closest']}" /></option>
		<option value="2"><h:outputText value="#{msgs['investment.header.close.day']}" /></option>
		<option value="4"><h:outputText value="#{msgs['investment.header.close.week']}" /></option>
		<option value="8"><h:outputText value="#{msgs['investment.header.close.month']}" /></option>
	</select>
</ui:define>
<ui:define name="group">


			var group = ["group_"+skinIdTxt+"_7"];
			var schema = ["key", "command", "ET_NAME", "ET_LEVEL", "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", "ET_CLR", "ET_GROUP_PRIORITY", "ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE"];
</ui:define>
<ui:define name="sort">
			newTable.setMetapushSort(12);
</ui:define>
</ui:composition>
</html>