<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body >

<ui:composition template="/jsp/templates/template_clean_no_title.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="facebook" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['facebook.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.one.touch.facebook']}"/>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['facebook.description']}" />
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['facebook.keywords']}" />
</ui:define>
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/one_touch.js?new=true"></script>
</ui:define>
<ui:define name="message">
	<h:panelGroup rendered="#{!empty applicationData.messageOneTouch}">
		<table cellspacing="0" cellpadding="0" border="0" width="490">
			<tr>
				<td align="center">
					<center><font color="#566764" face="Arial" size="2.5"><b><h:outputText value="#{applicationData.messageOneTouch.text}" escape="false" /></b></font></center>
				</td>
			</tr>
		</table>
	</h:panelGroup>
</ui:define>
<ui:define name="content">
#{slipForm.getUpdateMarketId(620)}
  <TABLE BORDER="0" ALIGN="RIGHT" CELLPADDING="0" CELLSPACING="0">
	  <TR height="18">
	        <TD colspan="2" width="494" height="18" style="font-size: 14px;">
				<ui:insert name="message"></ui:insert>
	        </TD>
	        <td width="235">
	        </td>
	    </TR>
		<TR>
	        <TD colspan="3" width="729" height="335" valign="top">
				 <h:panelGroup rendered="#{slipForm.oneTouchListSize == 0}">
					 <ui:include src="/jsp/no_oneTouch_facebook_opp.xhtml" />
				</h:panelGroup>
				<script>

				</script>
				 <h:panelGroup rendered="#{slipForm.oneTouchListSize > 0}">


				  <script>
				 	 document.domain = "#{applicationData.domainUrl}";
					 var slipCount = #{slipForm.slipSize};
					 var bundle_msg_slipfull = "#{msgs['error.investment.slipfull']}";
					 var bundle_msg_intheslip = "#{msgs['error.investment.intheslip']}";
					 var bundle_msg_today = "#{msgs['investment.time.today']} ";
					 var context_path = "#{facesContext.externalContext.requestContextPath}";
					 //var updatesFrequencyFlag = #{slipForm.loggedIn};
					 var updatesFrequencyIn = #{slipForm.updateFrequencyLoggedIn};
					 var updatesFrequencyNotIn = #{slipForm.updateFrequencyNotLoggedIn};

				  </script>
				  <script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js?new=true"></script>
				  <script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js"></script>

				<table cellspacing="0" cellpadding="0" border="0" width="729">
					<tr>
						<td valign="top" width="494">
						<div id="movie" style="display:none;">
							<script>
								home_page_movie('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}');
							</script>
						</div>
						<span id="markets_table">
							<div>

							<table class="site_table_no_bottom_border" id="assetsTable" style="display:none;" width="494" cellpadding="0" cellspacing="1">
								<tr>
									<td>
										<table  id="oppsTable" cellpadding="0" cellspacing="0" border="0" width="490">
											<TR class="invest_header" WIDTH="490" HEIGHT="23" >
												<td width="10"></td>
												<TD  WIDTH="166" >
													האופציה
												</TD>
												<td width="25"></td>
												<td width="9"></td>
												<TD WIDTH="65">
													תשואה
												</TD>
												<TD  WIDTH="120">
													מחיר יחידה
												</TD>
												<TD  WIDTH="84">
												</TD>
												<td width="11"></td>
											</TR>
											<TR HEIGHT="65" >
												<td WIDTH="490" colspan="8" >
													<table cellpadding="0"  cellspacing="0" border="0" width="100%">
														<t:dataList value="#{slipForm.oneTouchList}" var="item" rowIndexVar="crrEntry" layout="simple" rendered="#{slipForm.oneTouchListSize > 0}">
															<tr>
																<td colspan="8" height="13">
																</td>
															</tr>
															<tr>
																<td width="11"></td>
																<TD WIDTH="166" >
																	<table cellpadding="0"  cellspacing="0" border="0"  >
																		<tr>
																			<td  width="3" height="22"></td>
																			<td height="22" width="160" background="http://picbase.etrader.co.il/images/ot_blink.gif" class="one_touch_name"><h:outputText value="#{item.market.displayName}"/><h:outputText value="&#160;&#160;"/><h:outputText value="#{item.oneTouchCurrentLevel}"/></td>
																			<td  width="3" height="22"></td>
																		</tr>
																	</table>

																</TD>
																<td width="13" align="right"></td>
																<td width="9">
																	<t:graphicImage style="vertical-align: middle;" value="http://www.etrader.co.il/images/ar_up.gif" rendered="#{item.isOneTouchUp}" border="0"/>
																	<t:graphicImage style="vertical-align: middle;" value="http://www.etrader.co.il/images/ar_down.gif" rendered="#{!item.isOneTouchUp}" border="0"/>
																</td>
																<TD ROWSPAN="1" COLSPAN="1" WIDTH="73" class="one_touch_other" style="border-bottom:"><div><h:outputText value="&#160;&#160;"/><h:outputText value="#{item.overOddsWinFormat}"/></div></TD>
																<TD ROWSPAN="1" COLSPAN="1" WIDTH="120" class="one_touch_other"><div>&#160; 100 ש"ח </div> </TD>
																<TD ROWSPAN="1" COLSPAN="1" WIDTH="84" align="center" > <a href="#" class="one_touch_link" onclick="addToOneTouchSlip(this,3); return false;">המשך </a> </TD>
																<td width="14"></td>
																<td style="display: none;"><div><h:outputText value="#{item.market.displayName}"/></div></td>
																<td style="display: none;"><div><h:outputText value="#{item.oneTouchCurrentLevel}"/></div></td>
																<td style="display: none;"><div><h:outputText value="#{item.timeSettled}"/></div></td>
																<td style="display: none;"><div><h:outputText value="#{item.id}"/></div></td>
																<td style="display: none;">
																	<div>
																		<h:outputFormat escape="false" value="#{item.oneTouchMsg}" rendered="#{!item.isOneTouchUp}">
														        		</h:outputFormat>
														        		<h:outputFormat escape="false" value="#{item.oneTouchMsg}" rendered="#{item.isOneTouchUp}">
														        		</h:outputFormat>
														        	</div>
													        	</td>
																<td style="display: none;"><div><h:outputText value="#{item.oddsType.overOddsWin}"/></div></td>
																<td style="display: none;"><div><h:outputText value="#{item.oddsType.overOddsLose}"/></div></td>

															</tr>
															<tr>
																<td width="10" style="border-bottom: 1px solid #AEB2B1;" >&#160;</td>
																<td  valign="bottom" style="border-bottom: 1px solid #AEB2B1;" class="subtext_one" height="22" colspan="6" >
																	<h:outputFormat escape="false" value="#{item.oneTouchMsg}" rendered="#{!item.isOneTouchUp}">
													        		</h:outputFormat>
													        		<h:outputFormat escape="false" value="#{item.oneTouchMsg}" rendered="#{item.isOneTouchUp}">
													        		</h:outputFormat>
																</td>
																<td width="10" style="border-bottom: 1px solid #AEB2B1;" >&#160;</td>
															</tr>

														</t:dataList>

													</table>
												</td>
											</TR>
										</table>
									</td>
								</tr>
							</table>
							</div>
						</span>
						<table class="site_table_no_top_border" id="assetsFooter" style="display:none;" width="494" cellpadding="0" cellspacing="1" HEIGHT="22">
							<tr>
								<td>
									<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="490" HEIGHT="18">
									<TR HEIGHT="22">
										<TD ROWSPAN="1" COLSPAN="1" WIDTH="65" HEIGHT="23" valign="middle" class="bottom_home_page">
										</TD>
										<TD ROWSPAN="1" COLSPAN="1" WIDTH="215" HEIGHT="23" class="bottom_home_page" valign="middle">
											<A HREF="#{facesContext.externalContext.requestContextPath}/jsp/general_terms_one_touch.jsf" class="bottom_home_page_links_red">
											אופציות One Touch – תנאים כלליים
											</A>
										</TD>
										<TD ROWSPAN="1" COLSPAN="1" WIDTH="210" HEIGHT="23" class="bottom_home_page" valign="middle">
											<A target="_blank" HREF="http://www.calcalist.co.il/markets/articles/0,7340,L-3083864,00.html" class="bottom_home_page_links_red">
												אופציות One Touch – מאמר
											</A>
										</TD>

									</TR>
									</TABLE>
								</td>
							</tr>
						</table>

						</td>
						<td align="left" valign="top">
							<span id="template" style="display: none;">
								<div>

								<table class="site_table" width="224" height="231" cellpadding="0" cellspacing="1">
								<tr>
								 <td>
							 	  <table cellspacing="0" cellpadding="0" border="0" width="220" height="227">
									<tr style="display: none;" width="220">
										<td>0</td>
										<td>0</td>
										<td></td>
										<td></td>
									</tr>
									<tr width="220">
										<td rowspan="1" colspan="1" width="5" height="22" class="slip_header"></td>
										<td rowspan="1" colspan="1" width="100" height="22" class="slip_header"></td>
										<td rowspan="1" colspan="1" width="95" height="22" class="slip_header_left"><h:outputText value="#{msgs['investment.slip.close']}" /></td>
										<td rowspan="1" colspan="1" width="24" height="22" class="slip_header"><img name="close_invest" width="24" height="22" src="#{facesContext.externalContext.requestContextPath}/images/close_invest.gif"  border="0" style="cursor: pointer;" onclick="removeFromSlip(this, 1); return false;"></img></td>
									</tr>
									<tr width="220">
										<td rowspan="1" colspan="4" width="220" height="209">
											<table border="0" cellpadding="0" cellspacing="0" width="220" height="209">
												<tr style="display: none;">
													<td width="5px">&#160;</td>
													<td class="error" colspan="2" align="right">&#160;</td>
													<td width="5px">&#160;</td>
												</tr>
												<tr>
													<td width="5px">&#160;</td>
													<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.market']}" /></td>
													<td class="text_gray_12" align="left">&#160;</td>
													<td width="5px">&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td align="right" class="text_gray_12" ><h:outputText value="#{msgs['investment.slip.level']}" /></td>
													<td class="text_gray_12" align="left">&#160;</td>
													<td>&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.selection']}" /></td>
													<td class="text_gray_12" align="left" dir="ltr">1 Touch</td>
													<td>&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td class="text_gray_12" align="right">מחיר יחידה:</td>
													<td class="text_gray_12" align="left">100&#160;&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" /></td>
													<td>&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td class="text_gray_12" align="right">כמות יחידות:</td>
													<td class="text_gray_12" align="left" colspan="2">
														<select class="text_gray_12" onchange="updateUnitSelection(this);">
															<t:dataList value="#{slipForm.etUnitsSelect}" var="selectItem" layout="simple">
													        	<h:panelGroup rendered="#{selectItem.value == '5'}">
													        		<option value="#{selectItem.value}" selected="1">#{selectItem.label}</option>
													        	</h:panelGroup>
													        	<h:panelGroup rendered="#{selectItem.value != '5'}">
													        		<option value="#{selectItem.value}" >#{selectItem.label}</option>
													        	</h:panelGroup>
													        </t:dataList>
														</select></td>
													<td>&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td class="text_gray_12" align="right">סך השקעה:</td>
													<td class="text_gray_12" align="left" id="slip_amount">
														500&#160;&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
													</td>
													<td>&#160;</td>
												</tr>
												<tr style="display: none;">
													<td>&#160;</td>
													<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.msg']}" /></td>
													<td class="text_gray_12" align="left">&#160;</td>
													<td>&#160;</td>
												</tr>
												<tr> <!-- need img -->
													<td>&#160;</td>
													<td class="text_gray_12" align="right">החזר:</td>
													<td class="text_gray_12" align="left">0&#160;</td>
													<td>&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td class="text_gray1_11" valign="middle" height="50" colspan="2"></td>
													<td>&#160;</td>
												</tr>
												<tr>
													<td>&#160;</td>
													<td colspan="2" align="center"><a href="#" onclick="submitOneTouchFromSlip(this); return false;" class="link_gray_12_bold_slip"><h:outputText value="#{msgs['investment.slip.submit']}" /></a></td>
													<td>&#160;</td>
												</tr>
												<tr style="display: none;">
													<td>&#160;</td>
													<td>&#160;</td>
													<td>&#160;</td>
													<td>&#160;</td>
												</tr>
												<tr style="display: none;">
													<td>&#160;</td>
													<td>&#160;</td>
													<td>&#160;</td>
													<td>&#160;</td>
												</tr>
												<tr style="display: none;">
													<td>&#160;</td>
													<td>&#160;</td>
													<td>&#160;</td>
													<td>&#160;</td>
												</tr>
												<tr style="display: none;">
													<td width="5px">&#160;</td>
													<td class="error" colspan="2" align="right"><h:outputText value="#{msgs['error.investment.notLogin1']}" />&#160;<h:outputText escape="false" styleClass="text_gray_11" value="#{msgs['error.investment.notLogin2']}" />&#160;<a class="bottom_home_page_links_red" HREF="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"><h:outputText escape="false" value="#{msgs['error.investment.notLogin3']}" /></a></td>
													<td width="5px">&#160;</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								</td>
								</tr>
								</table>
							</div>
							</span>
							<span id="template_success" style="display: none;">
								<div>
								<table class="site_table" width="224" height="231" cellpadding="0" cellspacing="1">
								<tr>
								<td>
								<table cellspacing="0" cellpadding="0" border="0" width="220" height="227">
									<tr style="display: none;">
										<td>0</td>
										<td>1</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td rowspan="1" colspan="1" width="5" height="22" class="slip_header"></td>
										<td rowspan="1" colspan="1" width="100" height="22" class="slip_header"></td>
										<td rowspan="1" colspan="1" width="95" height="22" class="slip_header_left"><h:outputText value="#{msgs['investment.slip.close']}" /></td>
										<td rowspan="1" colspan="1" width="24" height="22" class="slip_header"><img name="close_invest" width="24" height="22" src="#{facesContext.externalContext.requestContextPath}/images/close_invest.gif"  border="0" style="cursor: pointer;" onclick="removeFromSlip(this, 1); return false;"></img></td>
									</tr>
									<tr>
										<td rowspan="1" colspan="4" width="220" height="209">
											<table border="0" cellpadding="0" cellspacing="0" width="220" height="209">
												<tr class="slip_success_header">
													<td width="5px"></td>
													<td class="text_gray_14_bold" align="right"><h:outputText value="#{msgs['investment.slip.success']}" /></td>
													<td width="5px"></td>
												</tr>
												<tr class="slip_success_header">
													<td width="5px"></td>
													<td align="right"><span class="text_gray_10"><h:outputText value="#{msgs['investment.options.id']}" /></span>
													<span class="text_black_10"></span>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td>
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.market']}" /></td>
																<td class="dash_border" width="100%">&#160;</td>
																<td class="text_black_12" nowrap="nowrap" align="left"></td>
															</tr>
														</table>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td>
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.level']}" /></td>
																<td class="dash_border" width="100%">&#160;</td>
																<td class="invest_level_up_left" nowrap="nowrap" align="left"></td>
															</tr>
														</table>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td>
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.selection']}" /></td>
																<td class="dash_border" width="100%">&#160;</td>
																<td class="text_gray_12" nowrap="nowrap" align="left" dir="ltr"></td>
															</tr>
														</table>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td>
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" nowrap="nowrap" align="right">סך השקעה:</td>
																<td class="dash_border" width="100%">&#160;</td>
																<td class="text_black_12" nowrap="nowrap" align="left"></td>
															</tr>
														</table>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td>
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" nowrap="nowrap" align="right">החזר:</td>
																<td class="dash_border" width="100%">&#160;</td>
																<td class="text_black_12" nowrap="nowrap" align="left"></td>
															</tr>
														</table>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td>
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" align="right" width="100%"></td>
																<td class="dash_border" >&#160;</td>
																<td class="text_black_12" nowrap="nowrap" align="left"></td>
															</tr>
														</table>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px" style="display: none;"></td>
													<td style="display: none;">
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td class="text_gray_12" nowrap="nowrap"><h:outputText value="#{msgs['investment.slip.lose.success']}" /></td>
																<td class="dash_border" >&#160;</td>
																<td class="text_black_12" nowrap="nowrap" align="left" ></td>
															</tr>
														</table>
													</td>
													<td width="5px" style="display: none;"></td>
												</tr>
												<tr >
													<td width="5px"></td>
													<td align="center">
														<a href="#" class="link_gray_12_bold" onclick="printSuccess(this); return false;"><h:outputText value="#{msgs['investment.slip.print']}" /></a>
													</td>
													<td width="5px"></td>
												</tr>
												<tr>
													<td width="5px"></td>
													<td align="center">
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf" class="link_gray_10"><h:outputText value="#{msgs['investment.slip.investments']}" /></a>
													</td>
													<td width="5px"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								</td>
								</tr>
								</table>
								</div>
							</span>
							 <span id="slip">

								<c:if test="${slipForm.slipSize == 0}">
									<ui:include src="/jsp/he/slip_empty_oneTouch.xhtml"></ui:include>
								</c:if>
								#{slipForm.removeAllFromSlip}

							</span>


							<span id="emptyslip" style="display: none;">
								<ui:include src="/jsp/he/slip_empty_oneTouch.xhtml"></ui:include>
								&#160;
							</span>
							<span id="slipall" style="display: none;">
								<div>
								<table class="site_table" border="0" cellpadding="0" cellspacing="1" width="224" height="122">
									<tr>
										<td width="5px"></td>
										<td class="text_gray_12_bold" align="right"><h:outputText value="#{msgs['investment.slip.totalbet']}" /></td>
										<td class="text_black_12" align="left">0&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" /></td>
										<td width="5px"></td>
									</tr>
									<tr>
										<td width="5px"></td>
										<td class="text_gray_12" align="right"><h:outputText value="#{msgs['investment.slip.totalwin']}" /></td>
										<td class="text_black_12" align="left">0&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" /></td>
										<td width="5px"></td>
									</tr>
									<tr>
										<td width="5px"></td>
										<td colspan="2" align="center">
											<a href="#" class="link_gray_12_bold" onclick="submitAllFromSlip(); return false;"><h:outputText value="#{msgs['investment.slip.submitall']}" /></a>
										</td>
										<td width="5px"></td>
									</tr>
									<tr>
										<td width="5px"></td>
										<td colspan="2" align="center">
											<a href="#" class="link_gray_10_bold" onclick="removeAllFromSlip(); return false;"><h:outputText value="#{msgs['investment.slip.clearall']}" /></a>
										</td>
										<td width="5px"></td>
									</tr>
								</table>
								</div>

							</span>
							<span id="template_10min" style="display: none;">
								<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/opp10min.jsp" width="29" height="29" frameborder="no" scrolling="no"></iframe>
								<br />
								<span class="text_gray_12_bold">&#160;</span>
							</span>
							<span id="template_closing" style="display: none;">
								<iframe src="#{facesContext.externalContext.requestContextPath}/jsp/oppclosing.jsp" width="90" height="54" frameborder="no" scrolling="no"></iframe>
							</span>
							<span id="template_slip_call" style="display: none;">
								call&#160;<img name="call_small" src="#{facesContext.externalContext.requestContextPath}/images/call_small.png" width="30" height="13" border="0" valign="bottom" />
							</span>
							<span id="template_slip_put" style="display: none;">
								put&#160;<img name="put_small" src="#{facesContext.externalContext.requestContextPath}/images/put_small.png" width="30" height="13" border="0" valign="bottom" />
							</span>
							<span id="template_ils" style="display: none;">
								&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
							</span>
						</td>
					</tr>
				</table>
			</h:panelGroup>
	       </TD>
		</TR>
	</TABLE>
</ui:define>

</ui:composition>
</body>
</html>

