
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_with_banners_no_faq.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="faq" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['faq.jsf.title']}"/>
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['etrader.keywords.faq']}" />
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['etrader.description.faq']}" />
</ui:define>
<ui:define name="title">#{msgs['rightnav.faq']}</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.faq']}"/>
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/he/faq.xhtml">
     </ui:include>
</ui:define>
</ui:composition>
</body>
</html>