<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:include src="/jsp/landingPages.xhtml">
	<ui:param name="type" value="gadgets" />
	<ui:param name="flashWidth" value="860" />
	<ui:param name="flashHeight" value="713" />
	<ui:param name="page" value="darkLandingPage" />
	<ui:param name="image" value="salesman" />
</ui:include>

</f:view>