<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
<tr align="center" valign="middle" class="golden_txt">
	<td colspan="9" width="498px">
		<table border="0" id="investmentRow#{row}" style="display: none;" width="498px" cellspacing="0" cellpadding="0" align="center">
			<tr id="investmentInfo#{row}" style="display: none;" class="golden_txt">
				<td width="6px" height="25px">&#160;</td> <!-- 1 -->
				<td width="72px"></td><!-- 2 name -->
				<td width="60px"></td><!-- 3 inv level-->
				<td width="9px"></td><!-- 4 type gif -->
				<td width="69px"></td><!-- 5 current level -->
				<td width="69px"></td><!-- 6 ins amount -->
				<td width="69px"></td><!-- 7 ins win -->
				<td width="69px"></td> <!-- 8 ins premia amount -->
				<td width="69px"><input id="buyCheckBox#{row}" name="buyCheckBox#{row}" type="checkbox" value="" onclick="addInvToSum(this,#{row})"/></td><!-- 9 -->
				<td style="display: none;"></td><!-- 10 inv id -->
				<td style="display: none;"></td><!-- 11 insurance type (gm/ru) -->
				<td style="display: none;"></td><!-- 12 not formated premia amount -->
				<td width="6px" >&#160;</td><!-- 13 -->
			</tr>

			<tr id="investmentError#{row}" style="display: none;"> <!-- error msgs -->
				<td width="498px" colspan="10" class="error_messages" align="center">
				</td>
			</tr>

			<tr id="investmentSuccess#{row}" width="100%" style="display: none;" align="center" valign="middle"> <!-- recipt tr after u buy somthing -->
				<td height="20px">&#160;</td>
				<td colspan="8" class="golden_spreator">
					<table width="90%" cellpadding="0" cellspacing="0" class="golden_border3" align="center" valign="middle">
						<tr valign="middle" bgcolor="#e6e6e6">
							<td width="4%" align="center" onclick="closeGoldenRecipt(this,#{row})" style="cursor:pointer" class="golden_txt_bold">x</td>
							<td width="66%" height="20" align="right" style="text-align:right;" class="golden_txt_bold"></td><!-- fill with js should be bold-->
							<td width="30%" align="left" style="text-align:left; padding-left: 10px;" class="golden_txt_bold"></td><!-- fill with js-->
						</tr>
					</table>
				</td>
				<td>&#160;</td>
			</tr>

			<tr>
				<td colspan="10"><img src="#{facesContext.externalContext.requestContextPath}/images/line.gif" /></td>
			</tr>

		</table>
	</td>
</tr>
</f:view>