<f:view
 dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/graph_info_page.js"></script>

	<div class="floating_graph_div" id="graphInfoDiv">
		<script type="text/javascript"> graphBanner('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}');</script>
	</div>
	<script>
		positionGraphBannerDiv();
	</script>
	#{user.timeLastLoginFromDbReset}



</f:view>