<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<script src="#{facesContext.externalContext.requestContextPath}/js/main.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/js_flash.js"></script>
</f:view>