<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

    <div class="binary0100_left" style="margin-right: 27px;">
        <div class="binary0100_howto_title">
            <h1>
                <span class="binary0100_howto_title_span"><h:outputText value="#{msgs['binary.0-100.how.to.trade.title']}" escape="false"/> </span>
            </h1>

            <div id="big_i" class="big_info">
            	<a href="#" onclick="binary0100_info_pop_up(); return false;" class="binary0100_info"></a>
            </div>

        </div>
        <div class="binary0100_howto_container">
            <div class="ht_select">
                <span class="ht_title"><h:outputText value="#{msgs['binary.0-100.how.to.trade.select']}" escape="false"/> </span>
                <h:outputText value="#{msgs['binary.0-100.how.to.trade.select.details']}" escape="false"/> 
            </div>
            <div class="ht_buy">
                <span class="ht_title"><h:outputText value="#{msgs['binary.0-100.how.to.trade.buy']}" escape="false"/> </span>
                <h:outputText value="#{msgs['binary.0-100.how.to.trade.buy.details']}" escape="false"/> 
            </div>
            <div class="ht_sell">
                <span class="ht_title"><h:outputText value="#{msgs['binary.0-100.how.to.trade.sell']}" escape="false"/> </span>
                <h:outputText value="#{msgs['binary.0-100.how.to.trade.sell.details']}" escape="false"/> 
            </div>
            <div class="ht_trade">
                <span class="ht_title"><h:outputText value="#{msgs['binary.0-100.how.to.trade.trade']}" escape="false"/> </span>
                <br />
                <h:outputText value="#{msgs['binary.0-100.how.to.trade.trade.details']}" escape="false"/> 
            </div>
            <div class="ht_profit">
                <span class="ht_title"><h:outputText value="#{msgs['binary.0-100.how.to.trade.profit']}" escape="false"/> </span>
                <br />
                <h:outputText value="#{msgs['binary.0-100.how.to.trade.profit.details']}" escape="false"/> 
            </div>
            <div class="clear">&nbsp;</div>
            <a href="../general_terms.jsf" onclick="binary0100_info_pop_up(); return false;"><h:outputText value="#{msgs['binary.0-100.how.to.trade.profit.read.more']}" escape="false"/></a>
            <div class="clear">&nbsp;</div>
            <div class="ht_oneclick">
                <span class="ht_title"><h:outputText value="#{msgs['binary.0-100.how.to.trade.one.click']}" escape="false"/> </span>
                <br />
                <h:outputText value="#{msgs['binary.0-100.how.to.trade.one.click.details']}" escape="false"/>
            </div>
        </div>
    </div>   
</f:view>