
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body dir="rtl">

<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="general_terms" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.calcalist.howTo']}"/>
</ui:define>
<ui:define name="title"></ui:define>
<ui:define name="header">

</ui:define>
<ui:define name="content">
	<table dir="rtl" width="720" height="460" border="0" cellpadding="0" cellspacing="0" align="center">
		<tr>
			<td>
				<img src="http://picbase.etrader.co.il/landing/inthe/howtoplay.gif" width="360" height="50" alt="" /></td>
			<td rowspan="2">
				<img src="http://picbase.etrader.co.il/landing/inthe/text_topleft.gif" width="360" height="105" alt="" /></td>

		</tr>
		<tr>
			<td>
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"><img src="http://picbase.etrader.co.il/landing/inthe/register_click.gif" width="360" height="55" alt="" border="0" /></a></td>
		</tr>
		<tr>

			<td><img src="http://picbase.etrader.co.il/landing/inthe/text_right.gif" width="360" height="226" alt="" /></td>
			<td>
				<img src="http://picbase.etrader.co.il/landing/inthe/exmp.gif" width="360" height="226" alt="" /></td>
		</tr>
		<tr>

			<td width="360" height="59" alt=""></td>
				<td>
				<a href="#{facesContext.externalContext.requestContextPath}/jsp/prizesCalcalistGame.jsf"><img src="http://picbase.etrader.co.il/landing/inthe/prize_click.gif" width="360" height="59" alt="" border="0" /></a></td>
		</tr>
		<tr>
		<td width="360" height="70" alt=""></td>
			<td>
				<img src="http://picbase.etrader.co.il/landing/inthe/prizes_08.gif" width="360" height="70" alt="" /></td>

		</tr>
	</table>
</ui:define>
</ui:composition>
</body>
</html>