
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
       xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>

<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.index.error']}"/>
</ui:define>
<ui:define name="title"></ui:define>

<ui:define name="content">

	<br/><br/><br/><br/>
	<c:if test="${empty sessionScope.user}">
	<t:panelGroup align="center" >
   		<t:div styleClass="tableborder1" ><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
   			<br/><center>
			<t:outputText styleClass="error" value="#{msgs['error.session.disconnected']}"  />
  			</center><br/>
		</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
     </t:panelGroup>
     </c:if>
</ui:define>

</ui:composition>
</html>