<html  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<head>


<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>

<body>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
<f:view >

<c:if test="${empty sessionScope.user}">
	<table width="224" cellspacing="0" cellpadding="0" align="left">
		<tr>
			<td height="18"></td>
		</tr>
		<tr>
			<td height="75" style="cursor:pointer"><a target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"><IMG SRC="#{facesContext.externalContext.requestContextPath}/images/openacct_btn.jpg" border="0" /></a></td>
		</tr>
		<tr>
				<td height="8"></td>
		</tr>
		<tr>
			<td height="49" valign="middle" style="cursor:pointer"><IMG height="49" SRC="#{facesContext.externalContext.requestContextPath}/images/demobutn.gif" onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/demo_trade.jsf', 'demopopup', 'menubar=1,resizable=0,width=770,height=500');"  /></td>
		</tr>
		<tr>
				<td height="8"></td>
		</tr>
		<tr>
			<td><iframe align="top" id="banners_bottom" name="banners_bottom" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/banners/homepage_banners_bottom.jsf?refresh=true" width="224" height="161" scrolling="no" ></iframe></td>
		</tr>
	</table>
</c:if>
<c:if test="${!empty sessionScope.user}">
	<table width="224" cellspacing="0" cellpadding="0" align="left" height="475">
		<tr>
			<td height="18"></td>
		</tr>
		<tr>
			<td height="250">
				<a target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/profitline.jsf" border="0"><img height="250px" width="224px" src="#{facesContext.externalContext.requestContextPath}/images/banner_new.gif" border="0"/></a>
			</td>
		</tr>
		<tr>
			<td height="*"></td>
		</tr>
		<tr>
			<td align="left" height="200">
				<iframe align="left" id="left_side_investments" name="left_side_investments" src="#{facesContext.externalContext.requestContextPath}/jsp/left_side_investments_profit.jsf" width="224" height="200" frameborder="0" hspace="0" vspace="0" scrolling="no"></iframe>
			</td>
		</tr>
	</table>
</c:if>
</f:view>
</body>
</html>