
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<title>
		<ui:define name="windowtitle">
		<h:outputText value="#{msgs['etrader.title']}"/>
		</ui:define>
	</title>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >
<div align="center">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td width="540" >
				<table cellpadding="0" cellspacing="0" width="100%" style="padding-left:50px; padding-right:50px;">
					<tr>
						<td height="2px" bgcolor="#9A0023"></td>
					</tr>
					<tr>
						<td height="28px" bgcolor="#576766"></td>
					</tr>
					<tr>

					<td>
<table width="100%"><tr>
						<td style="padding-top:50px; padding-bottom:70px;"><img src="#{facesContext.externalContext.requestContextPath}/images/etrader_invest_success.png" width="147" height="38" border="0" /> </td>
<td align="right"><a href="javascript:document.all('printmessage').innerText=''; window.print();" class="text_black_12_bold"><h:outputText id="printmessage" value="#{msgs['receipt.print']}"/></a></td>
				</tr></table>
</td>

					</tr>
					<tr>
						<td class="text_gray_30" dir="rtl"><h:outputText value="#{msgs['investment.slip.print.success']}" /></td>
					</tr>
					<tr>
						<td dir="rtl" style="padding-bottom:56px; padding-top:5px;">
							<table  cellpadding="0" cellspacing="0">
								<tr>
									<td class="text_gray_11" dir="rtl" style="padding-left:10px;"><h:outputText value="#{msgs['investment.slip.id']}" /></td>
									<td class="text_black_11" dir="rtl"><h:outputText value="#{slipForm.print.investmentId}" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td dir="rtl" style="padding-bottom:56px; padding-top:5px;">
							<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" width="100%" >
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.market']}" /></TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_black_12" nowrap="nowrap" align="left"><h:outputText value="#{slipForm.print.opportunity.market.displayName}" /></TD>
											</TR>
										</TABLE>
									</TD>
									<TD width="5px"></TD>
								</TR>
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.level']}" /></TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_gray_12" nowrap="nowrap" align="left"><h:outputText value="#{slipForm.print.opportunity.currentLevel}" /></TD>
											</TR>
										</TABLE>
									</TD>

									<TD width="5px"></TD>
								</TR>
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.selection']}" /></TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_gray_12" nowrap="nowrap" align="left">
													<h:panelGroup rendered="#{slipForm.print.choice==1}">
														<h:outputText  value="#{slipForm.print.choiceText}" />&#160;
														<IMG SRC="#{facesContext.externalContext.requestContextPath}/images/call_small.png" WIDTH="30" HEIGHT="13" BORDER="0" valign="bottom" />
													</h:panelGroup>
													<h:panelGroup rendered="#{slipForm.print.choice==2}">
														<h:outputText  value="#{slipForm.print.choiceText}" />&#160;
														<IMG SRC="#{facesContext.externalContext.requestContextPath}/images/put_small.png" WIDTH="30" HEIGHT="13" BORDER="0" valign="bottom" />
													</h:panelGroup>
													<h:outputText rendered="#{slipForm.print.choice==3}" value="1T" />&#160;
												</TD>
											</TR>
										</TABLE>
									</TD>
									<TD width="5px"></TD>
								</TR>
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.closetime']}" /></TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_black_12" nowrap="nowrap" align="left"><h:outputText value="#{slipForm.print.opportunity.timeEstClosing}"><f:convertDateTime pattern="dd/MM/yy HH:mm" timeZone="#{user.utcOffset}" /></h:outputText></TD>
											</TR>
										</TABLE>
									</TD>
									<TD width="5px"></TD>
								</TR>
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap" align="right"><h:outputText value="#{msgs['investment.slip.amount']}" /></TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_black_12" nowrap="nowrap" align="left">
													<h:outputText value="#{slipForm.print.amount}"><f:convertNumber pattern="#,##0.00" /></h:outputText>
													<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
												</TD>
											</TR>
										</TABLE>
									</TD>
									<TD width="5px"></TD>
								</TR>
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap" align="right">
													<h:outputText value="#{msgs['investment.slip.win']}" rendered="#{slipForm.print.choice == 1}" />
													<h:outputText value="#{msgs['investment.slip.lose']}" rendered="#{slipForm.print.choice == 2}" />
													<h:outputText value="#{msgs['investment.slip.msg']}" rendered="#{slipForm.print.choice == 3}" />

												</TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_black_12" nowrap="nowrap" align="left">

													<h:outputText value="#{slipForm.print.amount * (1 + slipForm.print.opportunity.oddsType.overOddsWin)}"><f:convertNumber pattern="#,##0.00" /></h:outputText>
													<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />
												</TD>
											</TR>
										</TABLE>
									</TD>
									<TD width="5px"></TD>
								</TR>
								<h:panelGroup rendered="#{slipForm.print.choice != 3}">
								<TR>
									<TD width="5px"></TD>
									<TD colspan="2">
										<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
											<TR>
												<TD class="text_gray_12" nowrap="nowrap"  align="right"><h:outputText value="#{msgs['investment.slip.lose']}" rendered="#{slipForm.print.choice == 1}" /><h:outputText value="#{msgs['investment.slip.win']}" rendered="#{slipForm.print.choice == 2}" /></TD>
												<TD class="dash_border" width="100%">&#160;</TD>
												<TD class="text_black_12" nowrap="nowrap" align="left">

													<h:outputText value="#{slipForm.print.amount * (1 - slipForm.print.opportunity.oddsType.overOddsLose)}"><f:convertNumber pattern="#,##0.00" /></h:outputText>
													<img src="#{facesContext.externalContext.requestContextPath}/images/ils.gif" border="0" />

												</TD>
											</TR>
										</TABLE>
									</TD>
									<TD width="5px"></TD>
								</TR>
							</h:panelGroup>
							<tr>
							<td colspan="4" align="center"><br/>
							<h:panelGroup rendered="#{slipForm.print.choice == 3}">
									<h:outputText styleClass="text_gray_12" value="#{slipForm.print.oneTouchMsg}" />
							</h:panelGroup>
							</td>
							</tr>
							</TABLE>
						</td>
					</tr>
					<tr>
						<td height="28px" bgcolor="#576766"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
</body>
</html>