<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >
	<head>
		<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/mobile/landing_#{page}.css" />
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
		<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/swfobject.js"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
		<title>Etrader</title>

	    <script type="text/javascript">
		    swfobject.registerObject("myId", "9.0.0", "swf/expressInstall.swf");
	    </script>
	    <script type="text/javascript">
		    <!--
		    	var errorField;


			   	function markFirstErrorField(){
			        var alertMsg = "";
			        var table = document.getElementById("contactForm:mainTable");
			        var msgs = table.getElementsByTagName("SPAN");
			        for (var i = 0; i < msgs.length; i++ ) {
			        	var cls = msgs[i].className;
			        	if (null != cls && cls != "") {
							if (cls == "error_messages") {
					            alertMsg = msgs[i].innerHTML;
					           	if (alertMsg != null && alertMsg != ""){
					                var field = msgs[i].id.split("_");
					                var input = document.getElementById(field[0]);
					                if ($(input).is("input")) { //for input boxes
						                input.style.border = '2px solid #990020';
						                $(input).width($(input).width()-3);
						                $(input).height($(input).height()-3);
	   					                errorField = input;
					                } else {//for combobox
										input.parentNode.parentNode.style.border = '2px solid #990020';
										$(input.parentNode.parentNode).width($(input.parentNode.parentNode).width()-2);
						                $(input.parentNode.parentNode).height($(input.parentNode.parentNode).height()-2);
					                }
					                break;
					            }
					         }
					     }
			        }
			    }

			   	function focusError(){
			   		if (null != errorField){
						errorField.focus();
					}
				}

		    -->
	    </script>
	</head>
	<body>
		
		<ui:include src="/jsp/LP/mobile/#{page}Content.xhtml" />

		<div id="Overlay"></div>
		<script>
		    markFirstErrorField();
		</script>

		<c:if test="${applicationData.isLive}">
			<c:if test="${type == 'testimonials'}">
				<c:if test="${user.combinationId == '4954' ||
							  user.combinationId == '4955' ||
							  user.combinationId == '4956' ||
							  user.combinationId == '4957' ||
							  user.combinationId == '4961' ||
							  user.combinationId == '4959' ||
							  user.combinationId == '4960'}">
							    <!-- code from sekindo -->
								<script type="text/javascript">
								document.write(unescape("%3Cscript src='https://live.sekindo.com/live/liveLead.php?id1=3679&amp;t=" + Math.random() + "' type='text/javascript'%3E%3C/script%3E"));
								</script>
								<!-- code from sekindo -->
				</c:if>
				<c:if test="${user.combinationId == '4950' ||
							  user.combinationId == '4951' ||
							  user.combinationId == '4952' ||
							  user.combinationId == '4953' ||
							  user.combinationId == '4961'}">
							  	<!-- Begin ZEDO -->
								<script language="JavaScript" type="text/javascript">
								var zzp=new Image();
								if (location.protocol == "https:") {
								zzp.src="https://ss1.zedo.com/ads2/t?o=333653;h=1127942;z="+Math.random();
								} else {
								zzp.src="http://xads.zedo.com/ads2/t?o=333653;h=1127942;z="+Math.random();
								}
								</script>
								<!-- End ZEDO -->

				</c:if>
			</c:if>

		</c:if>

		<c:if test="${!applicationData.isLocal}">
			<ui:include src="/jsp/templates/google.xhtml" />
		</c:if>
	</body>
</html>