
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_with_banners.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="lastLevels" />
</ui:define>
<ui:define name="head"><script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script></ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.lastlevels.one.touch']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.lastlevels']}"/>
</ui:define>
<ui:define name="title"><div style="padding-right:20;">#{msgs['rightnav.lastlevels']}</div></ui:define>
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

<c:set var="td" value="lastLevelsOneTouch" />
<ui:include src="/jsp/templates/lastLevels_strip.xhtml" />

    
    <t:saveState value="#{lastLevelsForm}" />

    <h:panelGroup >

		<h:form id="lastLevelsForm" style="margin: 0px; padding: 0px;">

	    <h:panelGrid columns="1" width="100%" border="0">


   	    <h:panelGrid align="center" columns="1" width="460" border="0"  rowClasses="standardTable_ColumnCentered" >

		<t:div>
			<TABLE class="site_table" BORDER="0" CELLPADDING="0" CELLSPACING="1" width="454">
	    		<TR>
					<TD>
						<br/>
						<h:panelGrid columns="10">

					       <h:outputText class="text_gray_12_bold" value="#{msgs['lastlevelsOneTouch.date']}"/>
						   <t:selectOneMenu  styleClass="input_text" value="#{lastLevelsForm.weekIdx}" >
	    	           			<f:selectItems value="#{lastLevelsForm.oneTouchWeeks}" />
		        	       	</t:selectOneMenu>


							<t:outputText escape="false" value="&#160;&#160;&#160;"/>
				                	<t:commandButton
						         		id="button"
						         		image="/images/submit.gif"
						         		onmouseover="Changepic('lastLevelsForm:button','#{facesContext.externalContext.requestContextPath}/images/submit_o.gif')"
						         		onmouseout="Changepic('lastLevelsForm:button','#{facesContext.externalContext.requestContextPath}/images/submit.gif')"
						         		onclick="gowait('lastLevelsForm:button','lastLevelsForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
						         		        return myfaces.oam.submitForm('lastLevelsForm','lastLevelsForm:hiddenbtn');" >
					         		</t:commandButton>
					         		<h:commandLink action="#{lastLevelsForm.updateOneTouchList}"
						         		id="hiddenbtn" style="display:none"/>
				        </h:panelGrid>
						<br/>
					</TD>
				</TR>
			</TABLE>
		</t:div>

		</h:panelGrid>

		   <h:panelGrid width="460" columns="1" border="0" style="text-align:center;" align="center" >

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
                var="v"
                value="#{lastLevelsForm.oneTouchList}"
                preserveDataModel="false"
                rows="14"
                renderedIfEmpty="true"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
           >
           <t:column style="text-align:right;">
               <f:facet name="header">

               <t:selectOneMenu immediate="false"
		               		valueChangeListener="#{lastLevelsForm.updateOneTouchListEvent}"
		               		onchange="submit(this);" escape="false" styleClass="input_text" value="#{lastLevelsForm.marketGroup}" >
		       					<f:selectItem itemLabel="#{msgs['lastlevels.market']}" itemValue="0"/>
	    	           			<f:selectItems value="#{lastLevelsForm.marketGroupsOneTouchList}" />
	        	</t:selectOneMenu>

               </f:facet>

			   <div dir="ltr">
	               <h:outputText value="#{v.marketName}" />
	               <h:outputText value="&#160;" />
	               <t:graphicImage value="/images/up1T.gif" rendered="#{v.isOneTouchUp}" height="10" width="10" />
				   <t:graphicImage value="/images/down1T.gif" rendered="#{!v.isOneTouchUp}" height="10" width="10" />
				</div>

           </t:column>

           <t:column style="text-align:right;">
               <f:facet name="header">
                   <h:outputText class="text_white_12_bold" value="#{msgs['lastlevels.high.low']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{v.closingLevelTxt}" />
           </t:column>

           <t:column style="text-align:right;">
               <f:facet name="header">
                     <h:outputText class="text_white_12_bold" value="#{msgs['lastlevels.range']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.oneTouchDateRange}" />
           </t:column>

        </t:dataTable>


        </h:panelGrid>

		<h:panelGrid rendered="#{lastLevelsForm.listOneTouchSize==0}" columns="1" border="0"
			style="text-align:center;" align="center" width="475">

		 	<t:div>
	  	    <h:panelGrid rendered="#{lastLevelsForm.listOneTouchSize==0}" columns="1" border="0" style="text-align:center;" align="center" >
	   		 <h:outputText class="text_info_page_12" value="#{msgs['lastlevels.emptylist']}"/>
    		 </h:panelGrid>
			</t:div>

   		 </h:panelGrid>

           <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    paginatorRenderLinkForActive="false"
                    immediate="true"
                    rendered="#{lastLevelsForm.listOneTouchSize>13}"
                    style="text-align:center;"
                    binding="#{lastLevelsForm.scroll}"
                    >
              <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

		</h:panelGrid>

	 	</h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>