<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpenedProfit}">
		<meta HTTP-EQUIV="refresh" CONTENT="#{slipForm.timeToFirstOpenedExpireProfit}" />
	</h:panelGroup>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader_left_side.css" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_event.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scroll.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scrollbar.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_controls.js"></script>

<style type="text/css">
#extra_controls, #scrollbar {
    display:none; /* hide from incapable */
    }

div#wn {
    float:left;
    margin-right:8px;
    }

div#scrollbar {
    float:left;
    }

.clearer { clear:left; }
</style>

<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	<script type="text/javascript">

	function init_dw_Scroll() {
	try {
	    var wndo = new dw_scrollObj('wn', 'lyr1');
	    wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
	    // id, autohide (hide when not needed), axis
	    wndo.setUpScrollControls('scrollbar', true, 'v');

		/* no in use
	    // Links to swap content
	    wndo.setUpLoadLinks('extra_controls');
	    // Demonstrating jump to top and scroll to ID controls
	    wndo.setUpScrollControls('extra_controls');
	    // Demonstrating how you can include a jump to top link inside the scroll area
	    wndo.setUpScrollControls('wn');
	    */
		} catch(e) {}
	}

	// if code supported, link in the style sheet and call the init function onload
	try {
		if ( dw_scrollObj.isSupported() ) {
		    dw_writeStyleSheet('#{facesContext.externalContext.requestContextPath}/css/scroll.css');
		    // Enable printing here if you like
		    dw_scrollObj.printEnabled = true;
		    dw_Event.add( window, 'load', init_dw_Scroll);
		}
	} catch(e){}

	</script>
</h:panelGroup>


</HEAD>
<BODY class="left_side_inv_body" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<f:view id="templatetradepage_inner">
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}

		function openPopup(marketId, oppId) {
			window.top.runThickBox(marketId, oppId);
//			wdt = window.open("investmentPopup.jsf?marketId=" + marketId + "&amp;oppId=" + oppId, "investmentPopup", "width=970,height=550,history=0,resizable,status=1,menubar=1,scrollbars=1");
//			wdt.focus();
			return false;
		}
	</script>
	
		<table width="224px" height="200px" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td height="200px" width="224px">
					<table width="224px" height="31px" dir="rtl" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="112px" colspan="3" height="31px" align="center">
								<img src="#{facesContext.externalContext.requestContextPath}/images/profit_on.gif"  width="112px" height="31px" alt="" border="0" style="VERTICAL-ALIGN: middle" />
							</td>
							<td width="112px" colspan="2" height="31px" align="center">
								<a href="#{facesContext.externalContext.requestContextPath}/jsp/left_side_investments.jsf"><img src="#{facesContext.externalContext.requestContextPath}/images/invest_off.gif" alt="" width="112px" height="31px" border="0" style="VERTICAL-ALIGN: middle" /></a>
							</td>
						</tr>
					</table>
					<table class="site_table_one_touch_no_bottem_border" width="224px" height="21px" dir="rtl" cellpadding="0" cellspacing="0">
				 		<tr bgcolor="#e9e9e9"  class="left_side_inv_headline" height="20">
				 			<td height="20px" width="11px"></td>
				 			<td height="20px" width="70px" align="center"><h:outputLabel value="#{msgs['right.nav.investments.market']}"/></td>
				 			<td height="20px" width="31px" align="center"><h:outputLabel value="#{msgs['right.nav.investments.time.closing']}"/></td>
				 			<td height="20px" width="70px" align="center"><h:outputLabel value="#{msgs['right.nav.investments.sum.invest']}"/></td>
				 			<td height="20px" width="38px" align="center"><h:outputLabel value="#{msgs['left.side.opp.graph']}"/></td>
				 		</tr>
			 			<tr>
			 				<td colspan="5" height="1px" bgcolor="#4b5c59"></td>
		 				</tr>
					</table>

				<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpenedProfit}">
					<table class="site_table_one_touch_no_bottem_up_border" width="224px" height="126px" cellpadding="0" cellspacing="0" dir="ltr">
						<tr height="120px">
							<td width="209px">
							<div id="wn"><div id="lyr1" class="content">
								<table width="209px" height="120px" cellpadding="0" cellspacing="2" border="0" dir="rtl">
									<t:dataList
									  	id="data"
									  	value="#{slipForm.openedProfit}"
									  	var="investment"
									  	rowIndexVar="crrInvestmentIndex"
									  	layout="simple" >

												<tr valign="middle" height="15">
													<td width="70px" height="15px" class="left_side_inv_lable"><t:outputText value="#{investment.marketName}" /></td>
													<td width="31px" height="15px" class="left_side_inv_lable"><t:outputText value="#{investment.onlyTimeEstClosingTxt}" /></td>
													<td width="70px" height="15px" class="left_side_inv_lable"><t:outputText value="#{investment.sumInvestTxt}" /></td>
													<td width="38px" height="15px" align="center"><a href="#" class="left_side_inv_link_red" onclick="openPopup(#{investment.marketId},#{investment.opportunityId});"><t:outputText value="#{msgs['show.graph']}" /><img src="#{facesContext.externalContext.requestContextPath}/images/profitline_icon2.gif" width="15" height="14" border="0" align="center"/></a></td>
												</tr>
												<tr><td colspan="4" height="1" bgcolor="#B8C1BF"></td></tr>

									 </t:dataList>
									<tr><td colspan="4" height="*"></td></tr>
								</table>
							</div></div>
							</td>
							<td width="11px">
								<!-- border attribute added to reduce support questions on the subject.
								    If you like valid strict markup, remove and place a img {border:none;} spec in style sheet -->
								<div id="scrollbar">
								    <div id="up"><a class="mouseover_up" href=""><img style="cursor:pointer;" src="#{facesContext.externalContext.requestContextPath}/images/btn-up.gif" width="11" height="11" alt="" border="0" /></a></div>
								    <div id="track">
								        <div id="dragBar"></div>
								    </div>
								    <div id="down"><a class="mouseover_down" href=""><img style="cursor:pointer;" src="#{facesContext.externalContext.requestContextPath}/images/btn-dn.gif" width="11" height="11" alt="" border="0" /></a></div>
								</div>
							</td>
						</tr>
					</table>

					<table class="site_table_one_touch_no_up_border" width="224px" height="20px" cellpadding="0" cellspacing="0">
			             <tr>
			            	<td valign="top" height="20px" bgcolor="f0f0f0" dir="rtl" align="center">
								<a class="left_side_inv_link" href="#" onclick="gotoInvests(); return false;"><h:outputText value="#{msgs['right.nav.investments.show.all']}" /></a>
							</td>
					 	 </tr>
					</table>

			 	</h:panelGroup>

			 	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; !slipForm.hasOpenedProfit}">
				 	<table class="site_table_one_touch_no_up_border" width="224px" height="147px" cellpadding="0" cellspacing="0">
				 		<tr>
				 			<td colspan="4" height="130px"  align="center" dir="rtl">
							 	<h:outputText class="left_side_inv_none" escape="false" value="#{msgs['left.side.opp.empty']}"/>
								<br/>
						    </td>
					   </tr>
					   <tr><td colspan="4" height="1"></td></tr>
			           <tr><td colspan="4" height="1" bgcolor="e9e9e9"></td></tr>
			        </table>
		  	 	</h:panelGroup>

			</td>
		</tr>
	</table>
</f:view>
</BODY>
</html>


