<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpened}">
		<meta HTTP-EQUIV="refresh" CONTENT="#{slipForm.timeToFirstOpenedExpire}" />
	</h:panelGroup>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader_left_side.css" />
</HEAD>
<BODY class="left_side_inv_body" bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<f:view id="templatetradepage_inner">
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}
	</script>
	
		<table border="0" width="224px" height="200px" cellpadding="0" cellspacing="0">
			<tr>
				<td height="200px">
					<table width="222px" height="31px" dir="rtl" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td colspan="2" width="111px" height="31px">
								<a href="#{facesContext.externalContext.requestContextPath}/jsp/left_side_investments_profit.jsf"><img src="#{facesContext.externalContext.requestContextPath}/images/profit_off.gif" style="VERTICAL-ALIGN: middle" alt="" border="0" width="111px" height="31px" /></a>
							</td>
							<td colspan="2" width="112px" height="31px">
								<img src="#{facesContext.externalContext.requestContextPath}/images/invest_on.gif" style="VERTICAL-ALIGN: middle" alt="" border="0" width="112px" height="31px"/>
							</td>
						</tr>
					</table>
					<table class="site_table_one_touch_red" width="224px" height="169px" dir="rtl" cellpadding="0" cellspacing="0" border="0">
				 		<tr bgcolor="#e9e9e9"  class="left_side_inv_headline" height="20">
				 			<td height="20px" width="60" ><h:outputLabel value="#{msgs['right.nav.investments.market']}"/></td>
				 			<td height="20px" width="85"><h:outputLabel  value="#{msgs['right.nav.investments.typelevel']}"/></td>
				 			<td height="20px" width="65" ><h:outputLabel  value="#{msgs['right.nav.investments.amount']}"/></td>
				 			<td height="20px" width="45"><h:outputLabel  value="#{msgs['right.nav.investments.time.closing']}"/></td>
				 		</tr>


						<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpened}">

							  <t:dataList value="#{slipForm.opened}" var="investment" rowIndexVar="crrInvestmentIndex" layout="simple" rows="6">
								<tr valign="middle" height="15">
									<td width="60" height="15" class="left_side_inv_lable"><h:outputText value="#{investment.marketName}" /></td>

								    <td width="85" height="15" class="left_side_inv_lable">
								    	<table border="0" cellpadding="0" cellspacing="0"  width="100%">
								    		<tr border="0" cellpadding="0" cellspacing="0" valign="middle" >
								    			<td border="0" cellpadding="0" cellspacing="0" class="left_side_inv_lable" width="74">
											    	<h:outputText value="#{investment.currentLevelTxt}" />
								    			</td>
								    			<td  border="0" cellpadding="0" cellspacing="0" width="11">
													<h:panelGroup rendered="#{investment.typeId == 1}">
														<span class="put_call" ><img src="#{facesContext.externalContext.requestContextPath}/images/ar_up.gif" style="VERTICAL-ALIGN: middle" alt="" border="0" /></span>
													</h:panelGroup>
													<h:panelGroup rendered="#{investment.typeId == 2}">
														<span class="put_call" ><img src="#{facesContext.externalContext.requestContextPath}/images/ar_down.gif" style="VERTICAL-ALIGN: middle"  alt="" border="0" /></span>
													</h:panelGroup>
													<h:panelGroup rendered="#{investment.typeId == 3}">
														<span>
														<h:outputText value="#{msgs['investments.one']}" style="VERTICAL-ALIGN: middle"  alt="" border="0" class="left_side_inv_lable"/>
														</span>
													</h:panelGroup>
								    			</td>
								    		</tr>
								    	</table>
									</td>

									<td width="65"  height="15" class="left_side_inv_lable"><h:outputText value="#{investment.amountTxt}" /></td>
									<td width="45"  height="15" class="left_side_inv_lable"><h:outputText value="#{investment.onlyTimeEstClosingTxt}" /></td>
								</tr>

								<tr><td colspan="4" height="1" bgcolor="#B8C1BF"></td></tr>

							 </t:dataList>


							<tr><td height="*"></td></tr>

				            <tr>
				            	<td valign="top" colspan="4" height="20px" bgcolor="f0f0f0" dir="rtl" align="center">
									<a class="left_side_inv_link" href="#" onclick="gotoInvests(); return false;"><h:outputText value="#{msgs['right.nav.investments.show.all']}" /></a>
								</td>
								<td height="3">

								</td>
						 	</tr>

					 	</h:panelGroup>

					 	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; !slipForm.hasOpened}">

					 		<tr>
					 			<td colspan="4" height="110px" align="center">
								 	<h:outputText class="left_side_inv_none" escape="false" value="#{msgs['left.side.investments.empty']}"  />
							    </td>
						   </tr>
						   <tr><td colspan="4" height="1px"></td></tr>
				           <tr><td colspan="4" height="1px" bgcolor="e9e9e9"></td></tr>

				  	 	</h:panelGroup>
				</table>
			</td>
		</tr>
	</table>
</f:view>
</BODY>
</html>
