<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_no_banners.xhtml">
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="windowtitle">
	<h:outputText value="#{msgs['etrader.title']}"/>
</ui:define>

<ui:define name="content">
	<t:inputHidden id="temp" value="#{applicationData.login}"/>
</ui:define>

</ui:composition>
</html>