
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="selected">
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['clubs.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['clubs.terms']}"/>
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/he/loyaltyClubsTerms.xhtml"></ui:include>
</ui:define>
</ui:composition>
</body>
</html>