<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html DIR="RTL"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>אישור</title>

<script>
	document.domain = "#{applicationData.domainUrl}";
</script>

<SCRIPT TYPE="text/javascript">

	function targetopener() {
		if (!window.focus || !window.opener) {
			window.close();
			return false;
		}

		window.opener.focus();
		setTimeout('moveToEtrader()',400);
		setTimeout('window.close();',500);

		return true;
	}

	function moveToEtrader() {
		window.opener.top.location.href = '#{applicationData.rhomePageUrl}jsp/index.jsf';
	}

</SCRIPT>

</head>

<body dir="rtl">
<table width="240"
		height="129"
		border="0"
		align="center"
		cellspacing="0px"
		cellpadding="4px"
		style="font-family:Arial, Helvetica, sans-serif; font-size:13px; border-width: 1px 1px 1px 1px; border-spacing: 0px; border-style:outset outset outset outset;border-color:#900;border-collapse: collapse;background-color:#fff;">

  <tr>
    <td colspan="2"><img src="http://picbase.etrader.co.il/images/header_small.gif" height="38" width="240"/></td>
  </tr>


  <tr>
    <td colspan="2"><strong>האם אתה בטוח שברצונך להתנתק
מחשבון המשחק שלך ולעבור אל etrader?</strong></td>
  </tr>
  <tr style="color:#900">
    <td width="107">
    	<INPUT type="image" onClick="window.close();" src="http://picbase.etrader.co.il/images/no_cal.gif" width="90" height="32" border="0"/>
    </td>
    <td width="107"  align="left">
	    <h:form id="logoutForm" style="display: inline-block;">
	    	<h:commandLink id="logoutLink" action="#{logoutForm.logout}" onClick="return targetopener();">
	    		<h:graphicImage value="http://picbase.etrader.co.il/images/yes_cal.gif" width="90" height="32" border="0"/>
	    	</h:commandLink>
	    	
			<script>
				document.getElementById('logoutForm:logoutLink').href='#{facesContext.externalContext.requestContextPath}/logout';
			</script>
		</h:form>
	</td>
  </tr>
</table>
</body>
</html>
