
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_with_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['news.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['rightnav.news']}</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.news']}"/>
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/he/news.xhtml">
     </ui:include>
</ui:define>
</ui:composition>
</body>
</html>