<f:view
 dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<div class="offHours_body" bgcolor="#ccccc" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" >

<div class="offHours_div" align="center" lang="he">

	<table class="site_table" width="494px" height="405px" border="0" cellpadding="0" cellspacing="1" align="center">
	  <h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
		  <tr valign="bottom">
		    <td height="145px" align="center"><img src="#{facesContext.externalContext.requestContextPath}/images/closed.gif" width="251" height="133" /></td>
		  </tr>
		  <tr style="text-align:center;" valign="top">
		    <td style="text-align:center;" width="494px" height="212px" align="center">
			    <table style="text-align:center;" align="center" width="340px">
			        <tr>
			        	<td height="30px">&#160;</td>
			        </tr>
			        <tr valign="top">
			          <td align="center" class="offHours_div"> etrader היא זירת מסחר באופציות ידידותית ופשוטה לשימוש, ללא עמלות וללא הורדת תוכנה, המאפשרת לך לנצל את התנודות בשווקים לרווחים מהירים באמצעות רכישת אופציות על מדדים, מניות, סחורות ומטבעות<br/></td>
			        </tr>
			        <tr>
			        	<td height="30px">&#160;</td>
			        </tr>
			        <tr>
			          <td align="center">
			          <a class="rightnav_item" href="#{facesContext.externalContext.requestContextPath}/jsp/register.jsf"> אתה מוזמן להצטרף ולהרוויח</a><br/>
			          <a class="rightnav_item" href="#" style="cursor:pointer" onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/tour.jsf','www');">סיור מודרך</a>&#160;<img src="#{facesContext.externalContext.requestContextPath}/images/icon_video.gif" width="14" height="10" border="0" />&#160;</td>
			        </tr>
			    </table>
		    </td>
		  </tr>
		  <tr height="59px">
	        	<td>&#160;</td>
	      </tr>
	  </h:panelGroup>
	  <h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
	       <tr height="18px">
	        	<td></td>
	      </tr>
	      <tr height="133px">
			<td align="center"><img src="#{facesContext.externalContext.requestContextPath}/images/closed.gif" width="251" height="133px" /></td>
		  </tr>
		  <tr valign="top" height="237px">
		    <td width="494px" align="center" height="237px">
		        <table align="center" width="340px" height="237px" cellpadding="0" cellspacing="0" border="0">
		            <tr height="28px">
		            	<td></td>
		            </tr>
		            <tr valign="top" height="76px">
		              <td align="center" class="offHours_div"> etrader היא זירת מסחר באופציות ידידותית ופשוטה לשימוש, ללא עמלות וללא הורדת תוכנה, המאפשרת לך לנצל את התנודות בשווקים לרווחים מהירים באמצעות רכישת אופציות על מדדים, מניות, סחורות ומטבעות<br/></td>
		            </tr>
		            <tr height="30px">
		                <td></td>
		            </tr>
		            <tr height="54px"><td align="center"><img height="54px" width="252px" src="#{facesContext.externalContext.requestContextPath}/images/onetouch.gif" /></td>
		            </tr>
		            <tr height="49px"><td align="center"><a href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouch.jsf"><img width="142px" height="49px" border="0" src="#{facesContext.externalContext.requestContextPath}/images/1t_offhours_button.gif" /></a></td>
		            </tr>
		       </table>
		    </td>
		  </tr>
		  <tr height="22px;">
		  	<td height="22px;"></td>
		  </tr>
		  <tr valign="bottom">
		  	<td>
		    	<table class="" id="assetsFooter" cellpadding="0" cellspacing="0" WIDTH="492" HEIGHT="34">
					<tr height="34" width="">
						<td rowspan="0" colspan="0" height="34" valign="bottom" align="left" style="margin:0; padding:0; font-size:0; ">
							<a href="#{facesContext.externalContext.requestContextPath}/jsp/optionPlus.jsf" >
								<img src="#{facesContext.externalContext.requestContextPath}/images/optionP_footer.gif"  border="0" height="34px;" width="492px;"/>
							</a>
						</td>
					</tr>
				</table>
			</td>
	      </tr>
	  </h:panelGroup>
	</table>
</div>
</div>
</f:view>