
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_clean_no_title.xhtml">

<ui:define name="windowtitle">
	<h:outputText value="#{msgs['optionPlus.window.title']}"/>
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['etrader.keywords.optionPlus']}" />
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['etrader.description.optionPlus']}" />
</ui:define>

<ui:define name="header">
	<h:outputText value="#{msgs['optionPlus.header']}"/>
</ui:define>
<ui:define name="head">
   	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function getMovie(movieName) {
			  if (window.document[movieName]) {
			      return window.document[movieName];
			  }
			  if (navigator.appName.indexOf("Microsoft Internet")==-1) {
			    if (document.embeds &amp;&amp; document.embeds[movieName]) {
			      return document.embeds[movieName];
			     }
			  }
			  else { // if (navigator.appName.indexOf("Microsoft Internet")!=-1)
			    return document.getElementById(movieName);
			  }
		}

		function reloadInvs() {
			getMovie('flashObject').reloadInvestments();
		}

		function removeInvestment(id) {
			return getMovie('flashObject').removeInvestment(id);
		}

		function checkMovieCookieOneTouch(){
		}

	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/bridge/lsflashbridge.js" type="text/javascript"></script>
</ui:define>
<ui:define name="content">
  <TABLE BORDER="0" ALIGN="RIGHT" CELLPADDING="0" CELLSPACING="0">
	<TR>
        <TD colspan="3" width="729" height="335" valign="top">
			 <ui:include src="/jsp/optionPlusContent.xhtml"></ui:include>
       </TD>
	</TR>
</TABLE>
</ui:define>
</ui:composition>
</body>
</html>