<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       
      locale="#{applicationData.userLocale}">
	<table dir="rtl" align="center" border="0" cellspacing="0" cellpadding="0" style="padding-top:4px">
		<tr>
			<td width="913px" align="center" colspan="2">
				<!-- Flash object -->
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="729" height="471" id="flashObject" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/optionPlus.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="FlashVars" value="pOpportunityId=0&amp;pMarketId=0&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}" />
					<embed src="#{facesContext.externalContext.requestContextPath}/images/optionPlus.swf" flashvars="pOpportunityId=0&amp;pMarketId=0&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}" quality="high" bgcolor="#ffffff" width="729" height="471" name="flashObject" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				</object>
			</td>
		</tr>
		<tr>
			<td width="913px" colspan="2" class="footer">
				<span style="color:#4b5c59; font-size: 11px;">התשואה במקרה של פקיעה בתוך הכסף: 60%. החזר במקרה של פקיעה מחוץ לכסף: 15%.<br />השערים המוצגים בגרף הם אלה בהם מוכנה etrader להציע אופציות ואינם השערים הרציפים בזמן ביצוע הפעולה.</span>
			</td>
		</tr>
	</table>

	<script type="text/javascript">
		// (Optional) Block Escape Key
		document.onkeydown = checkEscape;
		document.onkeypress = checkEscape;
		function checkEscape(e) {
			if (!e) {
				e = event;
			}
			if (e.keyCode == 27) {
				return false;
			}
		}

		var flashHandler = new FlashBridge("flashObject");

		// Push-Page Configuration
		var pushPage = new PushPage();
		pushPage.context.setDebugAlertsOnClientError(false);
		pushPage.context.setDomain("#{applicationData.domainUrl}");
		if (!parent.tradingPage) {
			pushPage.onEngineCreation = function(engine) {
				<h:panelGroup rendered="#{!applicationData.calcalistGame || !applicationData.isLive}">
					engine.connection.setLSHost("#{slipForm.lsServer}");
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.calcalistGame &amp;&amp; applicationData.isLive}">
					engine.connection.setLSHost("ls-options.calcalist.co.il");
				</h:panelGroup>
				engine.connection.setLSPort(80);
				engine.connection.setAdapterName("REUTERSJMS");
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					engine.connection.setUserName("a#{user.userName}a");
					engine.connection.setPassword("#{user.passHash}");
				</h:panelGroup>
				engine.policy.setMaxBandwidth(20);
				engine.policy.setIdleTimeout(30000);
				engine.policy.setPollingInterval(1000);
				engine.policy.setTimeoutForReconnect(10000);

				engine.changeStatus("STREAMING");
			};
		}
		pushPage.bind();

		if (!parent.tradingPage) {
			pushPage.createEngine("etrader", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");
		} else {
			// seek the LightstreamerEngine created by the main page
			pushPage.seekEngine("etrader", parent);
		}
	</script>
</f:view>