
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.calcalist.forgot.pass']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.forgotpassword']}</ui:define>
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

<ui:include src="/jsp/he/password.xhtml"/>

    

    <h:panelGroup >

	    <h:form id="passwordForm">

            <h:panelGrid border="0" columns="1" width="100%">

			 <h:panelGroup rendered="#{commonUtil.hasMessages}" >
    	   		<t:div >
					<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div>
           	</h:panelGroup>

            <h:panelGrid rendered="#{!commonUtil.hasMessages}" border="0" columns="3">

                <h:outputLabel styleClass="text_gray_12_bold" for="userName" value="#{msgs['register.username']}"/>
                <h:inputText styleClass="input_text" dir="ltr" size="30" maxlength="15" id="userName" value="#{passwordForm.userName}" required="true">
                </h:inputText>
                <t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>

   				<h:outputLabel styleClass="text_gray_12_bold" for="email" value="#{msgs['register.email']}"/>
                <h:inputText dir="ltr" styleClass="input_text" size="30" maxlength="30" id="email" value="#{passwordForm.email}" required="true">
	                <f:validator validatorId="org.apache.myfaces.validator.Email"/>
                </h:inputText>
                <t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>

                <h:outputText />

            	<t:commandButton
		         		id="sendpassword"
		         		image="/images/continue.gif"
		         		onmouseover="Changepic('passwordForm:sendpassword','#{facesContext.externalContext.requestContextPath}/images/continue_o.gif')"
		         		onmouseout="Changepic('passwordForm:sendpassword','#{facesContext.externalContext.requestContextPath}/images/continue.gif')"
		         		onclick="gowait('passwordForm:sendpassword','passwordForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         		        return myfaces.oam.submitForm('passwordForm','passwordForm:hiddenbtn');" >
		         	</t:commandButton>
		         	<h:commandLink action="#{passwordForm.sendPassword}"
		         		id="hiddenbtn" style="display:none"/>

	            <h:outputText />
            </h:panelGrid>
            </h:panelGrid>
        </h:form>

    </h:panelGroup>


</ui:define>
</ui:composition>
</body>
</html>