<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>
<ui:composition template="/jsp/templates/template_with_banners.xhtml">

	<ui:define name="selected">
		<c:set var="selected" value="press" />
	</ui:define>
	<ui:define name="head"><script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/popup.js"></script></ui:define>
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['press.jsf.title']}"/>
	</ui:define>
	<ui:define name="metaKeywords">
		<c:set var="metaKey" value="#{msgs['etrader.keywords.press']}" />
	</ui:define>
	<ui:define name="metaDescription">
		<c:set var="metaDesc" value="#{msgs['etrader.description.press']}" />
	</ui:define>
	<ui:define name="header">
		<h:outputText value="#{msgs['header.press']}"/>
	</ui:define>

	<ui:define name="title">#{msgs['rightnav.press']}</ui:define>
	<ui:define name="content">
		 <ui:include src="/jsp/he/press.xhtml"></ui:include>
	</ui:define>
</ui:composition>
</body>
</html>