<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
<title>prizewinners</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body >
<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="general_terms" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.calcalist.winners']}"/>
</ui:define>
<ui:define name="title"></ui:define>
<ui:define name="header">

</ui:define>
<ui:define name="content">

	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>

	#{investmentsForm.initWinners}

	<table width="720"  border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl" style="font-family:Arial, Helvetica, sans-serif;" >
		<tr valign="bottom"></tr>
		<tr></tr>
		<tr valign="bottom"></tr>
		<tr></tr>
		<tr valign="bottom">
		  <td width="153" rowspan="7">&#160;</td>
		  <td width="413" ><img src="#{facesContext.externalContext.requestContextPath}/images/winner_head#{investmentsForm.weekOfTheMonth}.gif" width="413" height="74" /></td>
		  <td width="154"  rowspan="7">&#160;</td>
		</tr>
		<tr>
		  <td align="right" ><img src="#{facesContext.externalContext.requestContextPath}/images/winner1.gif" width="369" height="37" /></td>
		</tr>
		<tr>
		  <td width="369" height="38">
		  	<table align="right" style="font-family:Arial, Helvetica, sans-serif;color:#000000;">
		        <tr>
		          <td style="padding-right:56px; font-size:12px; font-weight:bold;"><h:outputText value="#{investmentsForm.firstPlace.userNameFull}"/><br/>
		            רווח שבועי: <h:outputText value=" #{investmentsForm.firstPlace.winSum}"/></td>
		        </tr>
		        <tr>
		          <td height="40" ></td>
		        </tr>
		 	 </table></td>
		</tr>
		<tr>
		  <td align="right"><img src="#{facesContext.externalContext.requestContextPath}/images/winners2.gif" width="369" height="37" /></td>
		</tr>
		<tr>
		  <td width="369" height="38">
		      <table align="right" style="font-family:Arial, Helvetica, sans-serif;color:#000000;">
		        <tr>
		          <td style="padding-right:56px; font-size:12px; font-weight:bold;"><h:outputText value="#{investmentsForm.secondPlace.userNameFull}"/><br/>
		            רווח שבועי: <h:outputText value=" #{investmentsForm.secondPlace.winSum}"/></td>
		        </tr>
		        <tr>
		          <td height="40" ></td>
		        </tr>
		      </table>
		      </td>
		</tr>
		<tr>
		  <td align="right"><img src="#{facesContext.externalContext.requestContextPath}/images/winner3.gif" width="369" height="37" /></td>
		</tr>
		<tr>
		  <td width="369" height="38" >
		      <table align="right" style="font-family:Arial, Helvetica, sans-serif;color:#000000;">
		        <tr>
		          <td style="padding-right:56px; font-size:12px; font-weight:bold;"><h:outputText value="#{investmentsForm.thirdPlace.userNameFull}"/><br/>
		            רווח שבועי: <h:outputText value=" #{investmentsForm.thirdPlace.winSum}"/></td>
		        </tr>
		        <tr>
		          <td height="40" ></td>
		        </tr>
		      </table>
		    </td>
		</tr>
		<tr align="left" >
			 <td width="153" >&#160;</td>
			 <td width="700" >
		      <ui:include src="/jsp/he/prizesStrip.xhtml" />
		    </td>
		</tr>
	</table>

</ui:define>
</ui:composition>
</body>
</html>