
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/templates/template_clean.xhtml">
<ui:define name="cookie">
<t:inputHidden id="temp" value="#{applicationData.saveCookie}"/>
</ui:define>
<ui:define name="selected">
	<c:set var="selected" value="general_terms" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.calcalist.prizes']}"/>
</ui:define>
<ui:define name="title"></ui:define>
<ui:define name="header">

</ui:define>
<ui:define name="content">
	 <img src="#{facesContext.externalContext.requestContextPath}/images/prizes.jpg" border="0"/>
</ui:define>
</ui:composition>
</body>
</html>