<?xml version="1.0" encoding="UTF-8"?>
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		contentType="text/xml">
	<balance><h:outputText value="#{user.balanceTxt}" rendered="#{!empty facesContext.externalContext.remoteUser}" /><h:outputText value="#{applicationData.realCurrencySymbol}0.00" rendered="#{empty facesContext.externalContext.remoteUser}" /></balance>
</f:view>