<?xml version="1.0" encoding="UTF-8"?>
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		contentType="text/xml">
	#{profitLineDataForm.fillParams}
			
	<data>
		<msgs>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg></msg>
			<msg><h:outputText value="#{msgs['suspend.upperline1']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.upperline2']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.upperline3']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.upperline4']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.lowerline1']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.lowerline2']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.lowerline3']}" /></msg>
			<msg><h:outputText value="#{msgs['suspend.lowerline4']}" /></msg>
			<msg><h:outputText value="#{msgs['investment.time.today']}" /></msg>
			<msg></msg>
			<h:panelGroup rendered="#{profitLineDataForm.typeId == 3}">
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
				<msg></msg>
			</h:panelGroup>
		</msgs>
		<settings>
			<serverTime><h:outputText value="#{profitLineDataForm.currentTime.time}" /></serverTime>
			<timezoneOffset><h:outputText value="#{profitLineDataForm.utcOffsetInMin}" /></timezoneOffset>
			<currencySign><h:outputText value="#{applicationData.realCurrencySymbol}" /></currencySign>
			<balance><h:outputText value="#{user.balanceTxt}" rendered="#{!empty facesContext.externalContext.remoteUser}" /><h:outputText value="#{applicationData.realCurrencySymbol}0.00" rendered="#{empty facesContext.externalContext.remoteUser}" /></balance>
			<skin><h:outputText value="#{applicationData.skinId}" /></skin>
			<marketId><h:outputText value="#{profitLineDataForm.marketId}" /></marketId>
			<oppId><h:outputText value="#{profitLineDataForm.oppId}" /></oppId>
			<login><h:outputText value="1" rendered="#{!empty facesContext.externalContext.remoteUser}" /><h:outputText value="0" rendered="#{empty facesContext.externalContext.remoteUser}" /></login>
			<t:dataList value="#{profitLineDataForm.opportunity}" var="opp" layout="simple">
				<market><h:outputText value="#{msgs[opp.marketDisplayName]}" /></market>
				<timeFirstInvest><h:outputText value="#{opp.timeFirstInvest.time}" /></timeFirstInvest>
				<timeLastInvest><h:outputText value="#{opp.timeLastInvest.time}" /></timeLastInvest>
				<timeEstClosing><h:outputText value="#{opp.timeEstClosing.time}" /></timeEstClosing>
				<decimalPoint><h:outputText value="#{opp.marketDecimalPoint}" /></decimalPoint>
			</t:dataList>		
			<currencyId><h:outputText value="#{applicationData.realCurrencyId}" /></currencyId>
			<currencyLeftSymbol><h:outputText value="#{applicationData.currencyLeftSymbol}" /></currencyLeftSymbol>
			<currencyDecimalPoint><h:outputText value="#{applicationData.currencyDecimalPointDigits}" /></currencyDecimalPoint>
		</settings>
		<investments>
			<t:dataList value="#{profitLineDataForm.investments}" var="crrInv" layout="simple">
				<investment>
					<id><h:outputText value="#{crrInv.id}" /></id>
					<market><h:outputText value="#{crrInv.marketName}" /></market>
					<time><h:outputText value="#{crrInv.timeCreated.time}" /></time>
					<levelTxt><h:outputText value="#{crrInv.currentLevelTxt}" /></levelTxt>
					<level><h:outputText value="#{crrInv.currentLevel}" /></level>
					<amount><h:outputText value="#{crrInv.amount}" /></amount>
					<type><h:outputText value="#{crrInv.typeId}" /></type>
					<oddsWin><h:outputText value="#{crrInv.oddsWin}" /></oddsWin>
					<oddsLose><h:outputText value="#{crrInv.oddsLose}" /></oddsLose>
					<amountTxt><h:outputText value="#{crrInv.amountTxt}" /></amountTxt>
					<rollUpAmount><h:outputText value="#{crrInv.insuranceAmountRU}" /></rollUpAmount>
					<marketId><h:outputText value="#{crrInv.marketId}" /></marketId>
					<oppId><h:outputText value="#{crrInv.opportunityId}" /></oppId>
					<timeEstClosing><h:outputText value="#{crrInv.timeEstClosing.time}" /></timeEstClosing>
				</investment>
			</t:dataList>
		</investments>
		<rates>
			<t:dataList value="#{profitLineDataForm.history}" var="crrRate" layout="simple">
				<h:panelGroup rendered="#{crrRate.graphRate != 0}">
					<rate>
						<time><h:outputText value="#{crrRate.rateTime.time}" /></time>
						<level><h:outputText value="#{crrRate.graphRate}" /></level>
					</rate>
				</h:panelGroup>
			</t:dataList>
		</rates>
	</data>
</f:view>