<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/templates/template_with_banners_no_faq.xhtml">
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['promotion.birthday4.title']}"/>
		</ui:define>
		<ui:define name="header">
			<h:outputText value="#{msgs['promotion.birthday4.title']}"/>
			<style type="text/css">
				body {
					background:#fff;
					margin:0;
					padding:0;
					height:100%;
					font-family: Arial, Helvetica, sans-serif;
					direction: rtl;
					color: #566764;
				}

				p {
					margin: 0px;
					padding: 0px;
				}
				#content_mainbox {
					width:494px;
					height: 456px;
					vertical-align: top;
					clear: both;
					margin: 0 auto;
					background: transparent url(#{facesContext.externalContext.requestContextPath}/images/birthday4/bg.jpg) no-repeat left bottom;
					position: relative;
					z-index: 50;
				}
				.main_text {
					font-size:14px;
					line-height: 16px;
					float: right;
					width: 494px;
				}
				*+html .main_text {
					padding-bottom: 30px;
				}
				.title {
					margin: 0 0 15px 0;
					float: right;
					width: 494px;
				}
				h1 {
					font-size:16px;
					line-height: 18px;
					font-weight: normal;
					margin: 20px 0 10px 0;
				}
				h1 span {
					color: #db2400;
				}
				h4 {
					font-weight: normal;
					font-size: 18px;
					color: #566764;
					margin: 35px 0px 10px 10px;
					padding: 0px;
				}
				.gift_box {
					background: transparent url(#{facesContext.externalContext.requestContextPath}/images/birthday4/box_bg.png) no-repeat right top;
					width: 202px;
					height: 75px;
					text-align: center;
					float: right;
					margin: 5px 0px 55px 10px;
					font-family: Tahoma, Arial, Helvetica, sans-serif;
					z-index: 1000;
					position: relative;
				}
				.gift_box p {
					text-align: center;
					color: #2a3331;
					font-size: 14px;
					line-height: 20px;
					width: 202px;
					padding: 10px 0 2px 0;
					margin: 0px;
					font-weight: normal;
				}
				.gift_box p span {
					text-align: center;
					color: #f03838;
					font-size: 20px;
				}
				.gift_box h5 {
					text-align: center;
					color: #6a807c;
					font-size: 10px;
					margin: 0px;
					padding: 0px;
					font-weight: normal;
				}
				.sup {
					color: #566764;
					font-size: 11px;
					font-weight: normal;
					width: 230px;
				}
				.sup a {
					color: #de0202;
					text-decoration: none;
				}
				.sup a:hover {
					color: #de0202;
					text-decoration: underline;
				}
				.right {
					float: right;
				}
				.gifts {

					position: absolute;
					top: 220px;
					right: 210px;
					width: 257px;
					height: 251px;
				}
				.button {
					float: right;
					height: 39px;
					width: 240px;
				}
					.button a, .button a:hover {
					text-decoration: none;
				}
				ul {
					list-style-type: none;
					width: 230px;
					margin-top: 10px;
					float: right;
				}
				li {
					background-image: url(#{facesContext.externalContext.requestContextPath}/images/birthday4/bullet.gif);
					background-repeat: no-repeat;
					background-position: right 4px;
					padding: 0 10px;
					color: #566764;
					line-height: 14px;
					margin-top: 4px;
				}
				.clear {
					clear: both;
				}
			</style>
		</ui:define>
	<ui:define name="content">
	     <div id="content_mainbox">
	        <div class="main_text">
		        <div class="title">
		        	<img src="#{facesContext.externalContext.requestContextPath}/images/birthday4/title.png" alt="title" />
		        </div>
		        <h1 style="font-size:16px; margin-top:5px;"> הצטרף לאלפי לקוחותינו ובחר לך מתנה יוקרתית: </h1>
		        <div class="gift_box">
		        	<p>שעון צלילה יוקרתי ומעוצב <br />
		            	<span>Omega Seamaster</span>
		            </p>
		            <h5>בשווי 12,000 ש"ח</h5>
		        </div>
		        <div class="right">
		  	      <h4>או</h4>
		        </div>
		        <div class="gift_box">
		        	<p>הסמארטפון הטוב בעולם<br />
		            	<span>Galaxy Nexus</span>
		            </p>
		            <h5>בשווי 3,500 ש"ח</h5>
		      	</div>
		        <div class="button">
		        	<input type="image"  onmouseout="this.src='#{facesContext.externalContext.requestContextPath}/images/birthday4/button_out.png'"
		        	onmouseover="this.src='#{facesContext.externalContext.requestContextPath}/images/birthday4/button_over.png'"
		        	onclick="window.location.href='#{facesContext.externalContext.requestContextPath}/jsp/register.jsf'" runat="server" id="imagebutton1" src="#{facesContext.externalContext.requestContextPath}/images/birthday4/button_out.png" />
		        </div>
		        <div class="clear">&#160;
		        </div>
		        <ul class="sup" style="padding:0;margin:0;">
		        <li>המבצע ללקוחות חדשים בלבד</li>
		        <li>החברה זכאית להפסיק המבצע בכל זמן  ללא הודעה מוקדמת</li>
		        <li>
		        <a href="#{facesContext.externalContext.requestContextPath}/jsp/birthday4_terms.jsf" onclick="return popitup('#{facesContext.externalContext.requestContextPath}/jsp/birthday4_terms.jsf')">למעבר על תנאי המבצע »</a>
		        <script language="javascript" type="text/javascript">
					<!--
					function popitup(url) {
						newwindow=window.open(url,'name','height=600,width=630,top=50,left=50,right=50');
						if (window.focus) {newwindow.focus()}
						return false;
					}

					// -->
				</script>
		        </li>
		        </ul>
	      </div>
	          <div class="gifts" >
	          	<img id="giftImage" src="#{facesContext.externalContext.requestContextPath}/images/birthday4/gifts.png" ></img>
	          </div>

        </div>
	</ui:define>
	</ui:composition>
</f:view>