
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners_no_trade.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['window.title.calcalist.register']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="head">
	<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="title">
		<h:outputText value="#{msgs['header.openaccount.game']}" escape="false"/>
</ui:define>
<ui:define name="selected">
	<c:set var="selected" value="calcReg" />
</ui:define>
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

<ui:include src="/jsp/focus.xhtml" />
<ui:include src="/jsp/suggest.xhtml" />

	<a name="br"><BR/></a>

    

    <h:panelGroup>
        <h:form id="ExistRegisterForm">

           <h:panelGrid columns="1" border="0" width="100%">

            <h:panelGroup rendered="#{commonUtil.hasMessages}" >
    	   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
					<t:messages id="messages" globalOnly="true" errorClass="error_messages" infoClass="info_messages"/>
				</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
           	</h:panelGroup>

           <h:panelGrid columns="2" border="0" >

	           <h:outputLabel styleClass="text_gray_12_bold" for="userName" value="#{msgs['register.username']}"/>
	           <h:panelGrid columns="3" border="0">

	                <h:inputText dir="ltr" autocomplete="off"
	                	styleClass="input_text" size="37" maxlength="15"
	               		id="userName" value="#{registerForm.userName}" required="true"
						validator="#{commonUtil.validateLettersAndNumbersOnly}" >

	                	<f:validateLength minimum='6' maximum='15'/>

	                </h:inputText>
	                    <div id="userNameMessage">    </div>
		                <t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>
							<script>

							if (document.getElementById('ExistRegisterForm:userName').value=='') {
								if (document.getElementById('ExistRegisterForm:userNameError')==null) {
				                	var mdiv = document.getElementById("userNameMessage");
						        	mdiv.className = "text_register_info";
							    	mdiv.innerHTML = '#{msgs['register.english.info']}';
						    	}
						    }
							</script>
				   <script>setFocus('userNameError');</script>
	      		</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="password" value="#{msgs['register.password']}"/>
	            <h:panelGrid columns="3" border="0">

	                <h:inputSecret dir="ltr" styleClass="input_text" size="37" maxlength="9" redisplay="true" id="password" value="#{registerForm.password}" required="true"
			                validator="#{commonUtil.validatePasswordTypeAndSize}">
	                </h:inputSecret>
	            	 <div id="passwordMessage">    </div>
	                <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
	                <script>

							if (document.getElementById('ExistRegisterForm:password').value=='') {
								if (document.getElementById('ExistRegisterForm:passwordError')==null) {
				                	var mdiv = document.getElementById("passwordMessage");
						        	mdiv.className = "text_register_info";
							    	mdiv.innerHTML = '#{msgs['register.english.info']}';
						    	}
						    }
					</script>

				    <script>setFocus('passwordError');</script>
				</h:panelGrid>
				</h:panelGrid>

               	<h:panelGrid columns="2" border="0" >
           			<h:selectBooleanCheckbox id="terms" value="#{registerForm.terms}" required="true"></h:selectBooleanCheckbox>
	   				<h:panelGrid columns="3" border="0">
						<a class="register_agreement_link" href="#" onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/he/calcalist_game_agreement.jsf?refresh=true','','scrollbars=yes,height=400,width=1000,resizable=yes,toolbar=yes,screenX=100,left=0,screenY=200,top=400');" >אני מקבל את תנאי תקנון המשחק</a>
						<h:outputText styleClass="text_gray_12_bold" value="&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"/>
					    <t:message id="termsError" for="terms" replaceIdWithLabel="true" styleClass="error"/>
		            </h:panelGrid>
           		</h:panelGrid>

      	        <h:panelGrid style="text-align:left" columns="1" border="0" width="50%" >
			        <t:commandButton
		         		id="savelink"
		         		image="/images/continue.gif"
		         		onmouseover="Changepic('ExistRegisterForm:savelink','#{facesContext.externalContext.requestContextPath}/images/continue_o.gif')"
		         		onmouseout="Changepic('ExistRegisterForm:savelink','#{facesContext.externalContext.requestContextPath}/images/continue.gif')"
		         		onclick="gowait('ExistRegisterForm:savelink','ExistRegisterForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         		        return myfaces.oam.submitForm('ExistRegisterForm','ExistRegisterForm:hiddenbtn');" >
		         	</t:commandButton>
		         	<h:commandLink action="#{registerForm.duplicateRealUser}"
		         		id="hiddenbtn" style="display:none"/>

	            </h:panelGrid>
	            </h:panelGrid>

	        </h:form>

			<br/><br/><br/><br/><br/>
    </h:panelGroup>
</ui:define>
</ui:composition>

</html>