<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners_no_bottom.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['changePass.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>

<ui:define name="content">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
    
    <h:panelGroup >
        <h:form id="resetPasswordForm">
        	#{resetPasswordForm.emptyString}
			<t:saveState value="#{resetPasswordForm}" />
            <h:panelGrid columns="1" width="100%">
    	         <h:panelGroup rendered="#{commonUtil.hasMessages}">
    		   		<t:div styleClass="tableborder1"><t:div styleClass="tableborder2"><t:div styleClass="tableborder3"><t:div styleClass="tableborder4"><t:div styleClass="tableborder5"><t:div styleClass="tableborder6"><t:div styleClass="tableborder7"><t:div styleClass="tableborder8">
						<t:messages id="messages" globalonly="true" errorClass="error_messages" infoClass="info_messages"/>
					</t:div></t:div></t:div></t:div></t:div></t:div></t:div></t:div>
	           	</h:panelGroup>

				<h:panelGroup rendered="#{!commonUtil.hasMessages}">
					<h:panelGrid columns="2">
		                <h:outputLabel styleClass="text_gray_12_bold" for="userName" value="#{msgs['register.username']}"/>
		                <h:panelGrid columns="1">
		                	<h:inputText disabled="true" styleClass="input_text" id="userName" value="#{resetPasswordForm.userName}" required="true" redisplay="true" />
		                </h:panelGrid>

		                <h:outputLabel styleClass="text_gray_12_bold" for="password" value="#{msgs['register.newpassword']}"/>
		                <h:panelGrid columns="2">
			                <h:inputSecret styleClass="input_text" id="password" value="#{resetPasswordForm.password}" required="true" redisplay="true"
					                validator="#{commonUtil.validatePasswordTypeAndSize}">
			                </h:inputSecret>
			                <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
		                </h:panelGrid>

		                <h:outputLabel styleClass="text_gray_12_bold" for="password2" value="#{msgs['register.retype']}"/>
		                <h:panelGrid columns="2">
			                <h:inputSecret styleClass="input_text" id="password2" value="#{resetPasswordForm.rePassword}" required="true"
				                 validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
			                </h:inputSecret>
			                <t:message id="passwordError2" for="password2" replaceIdWithLabel="true" styleClass="error"/>
		               </h:panelGrid>
		             </h:panelGrid>

		             <h:panelGrid style="text-align:left" columns="1" border="0" width="230px" >
						<t:commandButton
			       			id="button"
			         		image="/images/continue.gif"
			         		onmouseover="Changepic('resetPasswordForm:button','#{facesContext.externalContext.requestContextPath}/images/continue_o.gif')"
			         		onmouseout="Changepic('resetPasswordForm:button','#{facesContext.externalContext.requestContextPath}/images/continue.gif')"
			         		onclick="gowait('resetPasswordForm:button','resetPasswordForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
			         		 		 return myfaces.oam.submitForm('resetPasswordForm','resetPasswordForm:hiddenbtn');" >
			      		</t:commandButton>
			     		<h:commandLink action="#{resetPasswordForm.changePassword}" id="hiddenbtn" display="display:none" />
			     	</h:panelGrid>

				</h:panelGroup>

            </h:panelGrid>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>


