<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/etrader.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
	<title>android application</title>
    <style type="text/css">
        body
        {
            background: #fff;
            margin: 0;
            padding: 0;
            height: 100%;
            font-family: Tahoma, Arial, Helvetica, sans-serif;
            direction: rtl;
            color: #434343;
        }
        *
        {
            margin: 0;
            padding: 0;
        }
        p
        {
            margin: 0px;
            padding: 0px;
        }
        #content_mainbox
        {
            width: 378px;
            height: 262px;
            padding: 20px 30px 0 0;
            vertical-align: top;
            clear: both;
            margin: 0 auto;
            background: transparent url(#{facesContext.externalContext.requestContextPath}/images/bg.png) no-repeat left bottom;
            position: relative;
            z-index: 50;
        }
        .main_text
        {
            font-size: 14px;
            line-height: 16px;
            float: right;
            width: 378px;
        }
        * + html .main_text
        {
            padding-bottom: 30px;
        }
        .title
        {
            margin: 15px 0 10px 0;
            float: right;
            width: 348px;
            height: 45px;
            border-bottom: solid 1px #dddddd;
            text-align: center;
        }
        .text
        {
            font-size: 12px;
            line-height: 16px;
            font-weight: normal;
            margin-top: 50px;
            width: 340px;
            text-align: center;
            float: right;
        }
        .right
        {
            float: right;
        }

        .button
        {
            float: right;
            height: 39px;
            width: 347px;
            text-align: center;
        }
        .button a, .button a:hover
        {
            text-decoration: none;
        }

        .clear
        {
            clear: both;
        }
        .close
        {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .text_area1
        {
            float: right;
            margin: 0 10px;
        }
        .text_area1 input
        {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #9e9e9e;
            height: 22px;
            color: #434343;
            width: 240px;
            font-family: Tahoma, Arial;
            font-size: 14px;
            text-align: left;
            padding: 0 5px;
        }
        .inputs_line
        {
            text-align: center;
            margin: 10px 38px 20px 0;
            float: right;
            width: 340px;
        }
        * + html .inputs_line
        {
            margin: 10px 32px 20px 0;
        }
    </style>
</head>
<f:view locale="#{applicationData.userLocale}">
	
	<body style="margin: 0px;background:none;">
		<div id="content_mainbox">
	        <div class="close">
	            <input type="image" onmouseout="this.src='#{facesContext.externalContext.requestContextPath}/images/icon_close.png'" onmouseover="this.src='#{facesContext.externalContext.requestContextPath}/images/icon_close_over2.png'"
	                onclick="parent.stopThickBox()" runat="server" id="imagebutton1" src="#{facesContext.externalContext.requestContextPath}/images/icon_close.png" />
	        </div>
	        <div class="main_text">
	            <div class="title">
	                <img src="#{facesContext.externalContext.requestContextPath}/images/title_mail_success.png" alt="title" /></div>
	            <h:outputText class="text" value="#{msgs['smartphone.sendemail.success']}" escape="false" />
	            <div class="clear">
	                <br/>
	            </div>
	        </div>
	    </div>
	</body>
</f:view>
</html>