<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/templates/template_no_banners_no_trade.xhtml">
<ui:define name="windowtitle">
<h:outputText value="skins - test"/>
</ui:define>
<ui:define name="header">
<h:outputText value="skins - test"/>
</ui:define>
<ui:define name="head">
	<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
		<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/detect_timezone.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="title">skins and timeZone - test page</ui:define>
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>

	<ui:include src="/jsp/focus.xhtml" />

    <ui:include src="/jsp/suggest.xhtml" />

	<a name="br"><BR/></a>

	<f:view locale="#{applicationData.userLocale}">

    
 <h:panelGroup dir="ltr">
 

        <h:form id="skinsForm">
	  
			<t:tree2 id="wrapTree"
	         value="#{treeBacker.treeModel}"
	         var="node"
	         varNodeToggler="t"
	         clientSideToggle="true"
	         showNav="false"
	         showRootNode="true"
	         showLines="false"
	         javascriptLocation="/js"
			>
	
		    <f:facet name="category">
		        <h:panelGrid id="a" columns="2" cellpadding="0" cellspacing="0">
		            <t:graphicImage value="/images/yellow-folder-open.png" rendered="#{t.nodeExpanded}" border="0"/>
		            <t:graphicImage value="/images/yellow-folder-closed.png" rendered="#{!t.nodeExpanded}" border="0"/>
		            <h:outputText value="#{node.description}" styleClass="nodeFolder"/>
		        </h:panelGrid>
		    </f:facet>
		
		    <f:facet name="item">
		        <h:panelGroup>
		            <h:commandLink immediate="true"
		                           styleClass="#{t.nodeSelected ? 'standardTable_Row2':'text_gray_20_bold'}"
		                           onclick="nodeclick(this); return false;">
		                <h:panelGrid id="b" columns="2" cellpadding="0" cellspacing="0">
		                    <t:graphicImage value="/images/document.png" border="0"/>
		                    <h:outputText value="#{node.description}"/>
		                </h:panelGrid>
		                <f:param name="docNum" value="#{node.identifier}"/>
		            </h:commandLink>
		        </h:panelGroup>
		    </f:facet>
			</t:tree2>
		
           <h:panelGrid columns="2" border="0" width="100%">

           <h:panelGrid columns="3" border="0" >

	        	<h:outputLabel styleClass="text_gray_12_bold"  for="skinsList" value="#{msgs['skins.selection']}"/>
	            <h:selectOneMenu styleClass="input_text_register" id="skinsList" value="#{registerForm.skinId}" >
		                		<f:selectItem  itemLabel="" itemValue="" />
		                		<f:selectItems value="#{applicationData.skins}" />
		        </h:selectOneMenu>

		    <h:panelGrid style="text-align:left" columns="3" border="0" width="50px" >
					<SPAN CLASS="text_white_12">|</SPAN>
					<t:commandButton
		         		id="btnImage"
		         		image="/images/submit.gif"
		         		onmouseover="Changepic('skinsForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_o.gif')"
		         		onmouseout="Changepic('skinsForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit.gif')"
		         		onclick="gowait('skinsForm:btnImage','skinsForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/pw_anim.gif');
		         				 return myfaces.oam.submitForm('skinsForm','skinsForm:hiddenDeposit');" >
		         	</t:commandButton>
		         	<h:commandLink action="#{registerForm.changeSkin}"
		         		id="hiddenDeposit" style="display:none"/>
				</h:panelGrid>

	        </h:panelGrid>

	        <h:panelGrid columns="1" border="0" >

			<br/>

	        <h4>Automatic time zone detection using JavaScript</h4>

			<select name='timezone' id='timezone' style='width:350px'>
				<option value='-12:00,0'>(-12:00) International Date Line West</option>
				<option value='-11:00,0'>(-11:00) Midway Island, Samoa</option>
				<option value='-10:00,0'>(-10:00) Hawaii</option>
				<option value='-09:00,1'>(-09:00) Alaska</option>
				<option value='-08:00,1'>(-08:00) Pacific Time (US &amp; Canada)</option>
				<option value='-07:00,0'>(-07:00) Arizona</option>
				<option value='-07:00,1'>(-07:00) Mountain Time (US &amp; Canada)</option>
				<option value='-06:00,0'>(-06:00) Central America, Saskatchewan</option>
				<option value='-06:00,1'>(-06:00) Central Time (US &amp; Canada), Guadalajara, Mexico city</option>
				<option value='-05:00,0'>(-05:00) Indiana, Bogota, Lima, Quito, Rio Branco</option>
				<option value='-05:00,1'>(-05:00) Eastern time (US &amp; Canada)</option>
				<option value='-04:00,1'>(-04:00) Atlantic time (Canada), Manaus, Santiago</option>
				<option value='-04:00,0'>(-04:00) Caracas, La Paz</option>
				<option value='-03:30,1'>(-03:30) Newfoundland</option>
				<option value='-03:00,1'>(-03:00) Greenland, Brasilia, Montevideo</option>
				<option value='-03:00,0'>(-03:00) Buenos Aires, Georgetown</option>
				<option value='-02:00,1'>(-02:00) Mid-Atlantic</option>
				<option value='-01:00,1'>(-01:00) Azores</option>
				<option value='-01:00,0'>(-01:00) Cape Verde Is.</option>
				<option value='00:00,0'>(00:00) Casablanca, Monrovia, Reykjavik</option>
				<option value='00:00,1'>(00:00) GMT: Dublin, Edinburgh, Lisbon, London</option>
				<option value='+01:00,1'>(+01:00) Amsterdam, Berlin, Rome, Vienna, Prague, Brussels</option>
				<option value='+01:00,0'>(+01:00) West Central Africa</option>
				<option value='+02:00,1'>(+02:00) Amman, Athens, Istanbul, Beirut, Cairo, Jerusalem</option>
				<option value='+02:00,0'>(+02:00) Harare, Pretoria</option>
				<option value='+03:00,1'>(+03:00) Baghdad, Moscow, St. Petersburg, Volgograd</option>
				<option value='+03:00,0'>(+03:00) Kuwait, Riyadh, Nairobi, Tbilisi</option>
				<option value='+03:30,0'>(+03:30) Tehran</option>
				<option value='+04:00,0'>(+04:00) Abu Dhadi, Muscat</option>
				<option value='+04:00,1'>(+04:00) Baku, Yerevan</option>
				<option value='+04:30,0'>(+04:30) Kabul</option>
				<option value='+05:00,1'>(+05:00) Ekaterinburg</option>
				<option value='+05:00,0'>(+05:00) Islamabad, Karachi, Tashkent</option>
				<option value='+05:30,0'>(+05:30) Chennai, Kolkata, Mumbai, New Delhi, Sri Jayawardenepura</option>
				<option value='+05:45,0'>(+05:45) Kathmandu</option>
				<option value='+06:00,0'>(+06:00) Astana, Dhaka</option>
				<option value='+06:00,1'>(+06:00) Almaty, Nonosibirsk</option>
				<option value='+06:30,0'>(+06:30) Yangon (Rangoon)</option>
				<option value='+07:00,1'>(+07:00) Krasnoyarsk</option>
				<option value='+07:00,0'>(+07:00) Bangkok, Hanoi, Jakarta</option>
				<option value='+08:00,0'>(+08:00) Beijing, Hong Kong, Singapore, Taipei</option>
				<option value='+08:00,1'>(+08:00) Irkutsk, Ulaan Bataar, Perth</option>
				<option value='+09:00,1'>(+09:00) Yakutsk</option>
				<option value='+09:00,0'>(+09:00) Seoul, Osaka, Sapporo, Tokyo</option>
				<option value='+09:30,0'>(+09:30) Darwin</option>
				<option value='+09:30,1'>(+09:30) Adelaide</option>
				<option value='+10:00,0'>(+10:00) Brisbane, Guam, Port Moresby</option>
				<option value='+10:00,1'>(+10:00) Canberra, Melbourne, Sydney, Hobart, Vladivostok</option>
				<option value='+11:00,0'>(+11:00) Magadan, Solomon Is., New Caledonia</option>
				<option value='+12:00,1'>(+12:00) Auckland, Wellington</option>
				<option value='+12:00,0'>(+12:00) Fiji, Kamchatka, Marshall Is.</option>
				<option value='+13:00,0'>(+13:00) Nuku'alofa</option>
			</select>

			</h:panelGrid>

            </h:panelGrid>

       </h:form>

    </h:panelGroup>

	</f:view>
</ui:define>
</ui:composition>

</html>