<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition template="/jsp/templates/template_trade_page.xhtml">
<ui:define name="selected">
	<c:set var="selected" value="stocks" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['stocks.jsf.title']}" rendered="#{!applicationData.calcalistGame}"/>
<h:outputText value="#{msgs['window.title.calcalist.stocks']}" rendered="#{applicationData.calcalistGame}"/>
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['etrader.keywords.stocks']}" />
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['etrader.description.stocks']}" />
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.stocks']}"/>
</ui:define>

<ui:define name="script">
<script>
	var HOME_PAGE = false;
</script>
</ui:define>
<ui:define name="message">
	<h:panelGroup rendered="#{!empty applicationData.messageStocks}">
		<table cellspacing="0" cellpadding="0" border="0" width="490">
			<tr>
				<td align="center">
					<center><font color="#566764" face="Arial" size="2.5"><b><h:outputText value="#{applicationData.messageStocks.text}" escape="false" /></b></font></center>
				</td>
			</tr>
		</table>
	</h:panelGroup>
</ui:define>
<ui:define name="market">
	<select id="select_market" onchange="updateMarketsSelection();" disabled="true">
		<option value="00"><h:outputText value="#{msgs['investment.header.market']}" /></option>
		<t:dataList value="#{applicationData.etStocks}" var="crrMarket" layout="simple">
   			<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['assetSel'] &amp;&amp; facesContext.externalContext.requestParameterMap['assetSel'] == crrMarket.groupPriority}">
				<option value="#{crrMarket.groupPriority2Digit}" selected="true"><h:outputText value="#{msgs[crrMarket.displayNameKey]}" /></option>
			</h:panelGroup>
			<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['assetSel'] || facesContext.externalContext.requestParameterMap['assetSel'] != crrMarket.groupPriority}">
				<option value="#{crrMarket.groupPriority2Digit}"><h:outputText value="#{msgs[crrMarket.displayNameKey]}" /></option>
			</h:panelGroup>
   		</t:dataList>
	</select>
</ui:define>
<ui:define name="close">
	<h:outputText value="#{msgs['investment.header.close']}" />
</ui:define>
<ui:define name="closeRow">
	<select class="selectBox" onchange="newUpdateMarketsSelection(this);">
		<option value="0"><h:outputText value="#{msgs['investment.header.close']}" /></option>
		<option value="1"><h:outputText value="#{msgs['investment.header.close.closest']}" /></option>
		<option value="2"><h:outputText value="#{msgs['investment.header.close.day']}" /></option>
		<option value="4"><h:outputText value="#{msgs['investment.header.close.week']}" /></option>
		<option value="8"><h:outputText value="#{msgs['investment.header.close.month']}" /></option>
	</select>
</ui:define>
<ui:define name="group">
			var group = ["group_"+skinIdTxt+"_3"];
			var schema = ["key", "command", "ET_NAME", "ET_LEVEL", "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", "ET_CLR", "ET_GROUP_PRIORITY", "ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE", "AO_STATES", "AO_TS"];
</ui:define>
<ui:define name="sort">
			newTable.setMetapushSort(12);
</ui:define>
</ui:composition>
</html>