
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<body >

 <h:form id="testForm">


         	   <t:commandLink action="#{applicationData.hit00}">
		                <t:outputText value="ww00" />
			   </t:commandLink>
         	   <t:commandLink action="#{applicationData.hit01}">
		                <t:outputText value="ww01" />
			   </t:commandLink>
         	   <t:commandLink action="#{applicationData.hit02}">
		                <t:outputText value="ww02" />
			   </t:commandLink>
</h:form>


</body>

</html>


