
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_tour.xhtml">
<ui:define name="step">
	<c:set var="step" value="4" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['tour4.jsf.title']}"/>
</ui:define>
<ui:define name="flash">

<script language="JavaScript">
<!--
var isInternetExplorer = navigator.appName.indexOf("Microsoft") != -1;
// Handle all the FSCommand messages in a Flash movie.
function sm_4_DoFSCommand(command, args) {
	var sm_4Obj = isInternetExplorer ? document.all.sm_4 : document.sm_4;
	//

	if (command == "closeCurrentAndReloadParrent") {
		  opener.location.href = '#{facesContext.externalContext.requestContextPath}/';

		  if (window.opener.progressWindow)

		 {
			    window.opener.progressWindow.close()
		  }
		  window.close();

	}


if (command == "winClose")

	if(true) self.close();
	//
}
// Hook for Internet Explorer.
if (navigator.appName && navigator.appName.indexOf("Microsoft") != -1 && navigator.userAgent.indexOf("Windows") != -1 && navigator.userAgent.indexOf("Windows 3.1") == -1) {
	document.write('<script language=\"VBScript\"\>\n');
	document.write('On Error Resume Next\n');
	document.write('Sub sm_4_FSCommand(ByVal command, ByVal args)\n');
	document.write('	Call sm_4_DoFSCommand(command, args)\n');
	document.write('End Sub\n');
	document.write('</script\>\n');
}
//-->
</script>

<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js" type="text/javascript"></script>
<script type="text/javascript"> sm_4('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}');</script>

</ui:define>
</ui:composition>
</html>