<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{applicationData.userLocale}"
       >


    <h:form id="worldCheckFailedForm">
    <!--world check failed-->
    <div class="world_check_container"> 
       <h1><h:outputText value="#{msgs['CMS.reg_quest_service.text.heading.part.1']}#{user.firstName}#{msgs['CMS.reg_quest_service.text.heading.part.2']}"/></h1>
	<p>
		<h:outputText value="#{msgs['CMS.reg_quest_service.text.paragraph.part.1']}"/>
		<a href="mailto:#{msgs['CMS.reg_quest_service.text.paragraph.part.2']}">#{msgs['CMS.reg_quest_service.text.paragraph.part.2']}</a>
		<h:outputText value="#{msgs['CMS.reg_quest_service.text.paragraph.part.3']}#{userRegulation.supportPhone}#{msgs['CMS.reg_quest_service.text.paragraph.part.4']}"/>
	</p>
    </div>
    <!-- end of world check failed-->
   </h:form>
</f:view>

