<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['bonus.jsf.title']}"/>
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js?version=cvsTimeStamp"></script>
		<SCRIPT LANGUAGE="JavaScript" ID="js1">
			var cal = new CalendarPopup("caldiv1");
			cal.setCssPrefix("Calendar");
			
			function openMyPopup(typeId,amount,numOfActions,startDate,endDate,minDeposit,maxDeposit,wageringParam,bonusPercent,sumInvQualify,bonusStateId,bonusExpired,hasSteps,bonusSteps,symbol,bonusAmountNoFormat, maxInvestAmount, minInvestAmount,bonusId,sumDeposits,turnoverParam,turnOverParamOptionPlus,turnOverParamBinaryOneHundred,acceptBonusUserButtonId,allowAction){
				document.getElementById("popUpBonusTermsIframe").onload=function(){
					document.getElementById("popUpBonusTerms").style.display = "block";
				};
				document.getElementById("bonusAmount").value=amount;
				document.getElementById("numOfActions").value=numOfActions;
				document.getElementById("startDate").value=startDate;
				document.getElementById("endDate").value=endDate;
				document.getElementById("minDeposit").value=minDeposit;
				document.getElementById("maxDeposit").value=maxDeposit;
				document.getElementById("wageringParam").value=wageringParam;
				document.getElementById("bonusPercent").value=bonusPercent;
				document.getElementById("sumInvQualify").value=sumInvQualify;
				document.getElementById("bonusStateId").value=bonusStateId;
				document.getElementById("bonusExpired").value=bonusExpired;
				document.getElementById("hasSteps").value=hasSteps;
				document.getElementById("bonusSteps").value=bonusSteps;
				document.getElementById("symbol").value=symbol;
				document.getElementById("bonusAmountNoFormat").value=bonusAmountNoFormat;
				document.getElementById("minInvestAmount").value=minInvestAmount;
				document.getElementById("maxInvestAmount").value=maxInvestAmount;
				document.getElementById("bonusId").value=bonusId;
				document.getElementById("sumDeposits").value=sumDeposits;
				document.getElementById("turnoverParam").value=turnoverParam;
				document.getElementById("turnOverParamOptionPlus").value=turnOverParamOptionPlus;
				document.getElementById("turnOverParamBinaryOneHundred").value=turnOverParamBinaryOneHundred;
				document.getElementById("termsForm").action="../jsp/single_pages/termsBonus"+typeId+".jsf";
				document.getElementById("cashBalance").value=cashAmount;
				
				document.getElementById("acceptBonusUserButtonId").value=acceptBonusUserButtonId;
				
				document.getElementById("termsForm").submit();
				if(allowAction){
					document.getElementById("popup_bonus_terms_accept").style.display = "block";
					document.getElementById("popup_bonus_terms_close").style.display = "none";
				}else{
					document.getElementById("popup_bonus_terms_accept").style.display = "none";
					document.getElementById("popup_bonus_terms_close").style.display = "block";
				}
			}
			
			var cashAmount = 0;
			$(function(){
				var DepositBonusBalanceMethodRequest = {
					userId: userInfo.id,
					investmentId: 0,
					balanceCallType: balanceCallTypes.total
				}
				$.ajax({
					url     : context_path + aoJsonUrl + "getUserDepositBonusBalance",
					type    : "POST",
					dataType: "json",
					data    : JSON.stringify(DepositBonusBalanceMethodRequest),
					contentType: "application/json;charset=utf-8",
					success : function(data) {
						//Successful call
						cashAmount = formatAmount(data.depositBonusBalanceBase.depositCashBalance, 0, true);
					},
					error   : function( xhr, err ) {
						//Failed call
					}
				});
			});
		</SCRIPT>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<!--Titles-->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
				<ui:param name="h1" value="#{msgs['header.myaccount']}" />
				<ui:param name="h2" value="#{msgs['header.myaccount.message']}" />
				<ui:param name="secure" value="true" />
			</ui:include>
			
			<div class="my_account_menu">
				<!--left menu-->
				<ui:include src="/jsp/pages/html_elements/my_account_menu.xhtml"/>
			</div>
			<div class="my_account_main">
				<!--content in-->
				<ui:include src="/jsp/pages/bonuses_content.xhtml"></ui:include>
			</div>
		
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>