<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<c:if test="#{!commonUtil.isWithdrawalWeekendsNotAvailable(user)}">
		<div>
			<h2 class="heading_inner">
				<h:outputText value="#{msgs['transactions.cc.withdraw']}"/>
			</h2>
			<div class="grid">
				<div class="row">
					<t:div rendered="#{applicationData.skinId == 15 &amp;&amp; user.countryId == 44}">
						<img src="#{applicationData.imagesPath}/banking/creditcards.gif" height="42px" width="125px"/>
					</t:div>
					<t:div rendered="#{applicationData.skinId != 15 || user.countryId != 44}">
						<img src="#{applicationData.imagesPath}/banking/creditcards_regulation.gif" height="42px" width="125px"/>
					</t:div>
				</div>
	
				<div class="row">
					<h:outputLabel for="ccNum" value="#{msgs['deposit.select']}"/>
					<div class="field_box">
						<h:selectOneMenu id="ccNum" styleClass="field #{(!component.valid) ? 'invalid' : ''}" immediate="true" value="#{withdrawForm.cardId}" required="true" onchange="changeCard();">
							<f:selectItem itemLabel="" itemValue=""/>
							<f:selectItems value="#{withdrawForm.ccList}"/>
						</h:selectOneMenu>
						<t:message id="cardIdError" for="ccNum" replaceIdWithLabel="true" styleClass="error_messages" rendered="#{!empty facesContext.getMessageList('withdrawForm:ccNum')}"/>
					</div>
				</div>
				<div class="row">
					<h:outputLabel id="amountlabelid" for="amount" value="#{msgs['withdraw.amount']}"/>
					<div class="field_box">
						<div class="currency_holder" data-currency-holder="${((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) || (!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)) ? 'left' : 'right'}">
							<h:inputText id="amount" styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="9" dir="ltr" value="#{withdrawForm.amount}" required="true">
								<f:validateRegex pattern="#{applicationData.inputFieldPattern}"/>
								<f:validateDoubleRange minimum="1"/>
							</h:inputText>
							<span data-currency-symbol="1" class="currency_symbol"><h:outputText value="#{msgs[user.currency.symbol]}"/></span>
						</div>
						<t:message id="amountError" for="amount" replaceIdWithLabel="false" styleClass="error_messages" rendered="#{!empty facesContext.getMessageList('withdrawForm:amount')}"/>
					</div>
				</div>
				<div class="row">
					<div class="field_box submit_field">
						<div class="button_holder" onclick="if(skinId != 1 &amp;&amp; skinId != 15){shouldShowRegulationPopup('withdraw_submit', function(){shouldShowWithdrawResetBonusPopup(function(){openWithdrawSurveyPopup();}, 10);});return false;}else{openWithdrawSurveyPopup();return false;}">
							<div class="button_inner">
								<t:commandButton styleClass="button flex" action="#{withdrawForm.insertCreditCardWithdraw}" value="#{msgs['button.do']}" id="withdrawBtn"/>
							</div>
						</div>
					</div>
				</div>
				<h:inputHidden id="userAnswerId" value="#{withdrawForm.userAnswerId}" />
				<h:inputHidden id="textAnswer" value="#{withdrawForm.textAnswer}" />
			</div>
		</div>
	</c:if>
	<!-- Withdraw Offhours -->
	<c:if test="#{commonUtil.isWithdrawalWeekendsNotAvailable(user)}">
		<div>
			<img class="withdraw_offhours_img" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/withdraw-offhours.png" />
			<div class="withdraw_offhours_txt">
				<h:panelGroup rendered="#{applicationData.skinId == 1}">
					<h2 class="withdraw_offhours_h2"><h:outputText value="#{msgs['CMS.creditCard_withdrawContent.text.heading']}" escape='false'/></h2>
				</h:panelGroup>
				<h:outputText value="#{msgs['CMS.creditCard_withdrawContent.text.offhours_txt']}" escape='false'/>
			</div>
		</div>
	</c:if>
</f:view>