<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      locale="#{applicationData.userLocale}"
       >
       
	<script>
		var predefinedDepositAmountJsonMap = #{commonUtil.getPredefinedDepositAmountJsonMap()};
	</script>
	
 	<h:form id="cupForm" onsubmit="cup_submit(#{depositForm.firstDeposit});return false;">
		<ui:remove>
			<h:inputHidden value="#{visit.generate}" />
			<h:inputHidden value="#{visit.saveToken}" />
		</ui:remove>
			<div class="deposit_holder">
				<div class="funnel_inp_holder">
					<h:inputText dir="#{writer.localInfo.dir}" styleClass="funnel_inp funnel_inp_amount" maxlength="9" id="deposit" alt="#{msgs['deposit.deposit'].toUpperCase()}"
						value="#{depositForm.deposit}" required="true" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_cup_amount');"
						onfocus="inpFocus(this,'t');setDirty();" onblur="inpFocus(this,'t');validateDepositAmount(this);hideTooltipDepositField('funnel_tooltip_cup_amount')">
						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
					</h:inputText>
					<ui:remove>
						<h:selectOneMenu disabled="#{!depositForm.firstDeposit}" styleClass="funnel_inp funnel_inp_curency" id="currenciesList" value="#{depositForm.currencyId}" required="true" onchange="updateDefaultDepositAmount(this, 'cupForm:deposit')">
							<f:selectItems value="#{applicationData.currenciesSignBySkinId}" />
						</h:selectOneMenu>
					</ui:remove>
					<h:outputText value="&#160; #{applicationData.realCurrencySymbol}" styleClass="vaM deposit_currency"/>
					<span class="funnel_names_error_h">
						<span id="cupForm:deposit_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h_2">
							<span id="cupForm:deposit_error_txt_in"></span>
							<t:message id="depositError" for="deposit" replaceIdWithLabel="false"/>
							<t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true" />
						</span>
					</span>
					<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_cup_amount">
						<span class="funnel_tooltip_arrow"></span>
						<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
					</span>
				</div>
				<h:panelGroup rendered="#{depositForm.firstDepositExcludeBonus}">
					<div class="funnel_inp_holder">
						<h:inputText styleClass="funnel_inp" size="37" maxlength="40" id="street" alt="#{msgs['CMS.registerContent.label.register.street'].toUpperCase()}"
							onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateStreet(this);"
							value="#{depositForm.street}" required="true"
							validator="#{commonUtil.validateStreet}" >
						</h:inputText>
						<span class="funnel_names_error_h">
							<span id="cupForm:street_error" class="funnel_error_hide"></span>
							<span class="funnel_names_error_msg_h_2">
								<span id="cupForm:street_error_txt_in"></span>
								<t:message id="streetError" for="street" replaceIdWithLabel="true"/>
							</span>
						</span>
					</div>
					<div class="funnel_inp_holder">
						<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
							onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityName(this);" name="cityNameAO" 
							value="#{depositForm.cityNameAO}" required="true"
							validator="#{commonUtil.validateLettersOnly}" >
						</h:inputText>
						<span class="funnel_names_error_h">
							<span id="cupForm:cityNameAO_error" class="funnel_error_hide"></span>
							<span class="funnel_names_error_msg_h_2">
								<span id="cupForm:cityNameAO_error_txt_in"></span>
								<t:message id="cityNameAOError" for="cityNameAO" replaceIdWithLabel="true"/>
							</span>
						</span>
					</div>
					<div class="funnel_inp_holder">
						<h:inputText styleClass="funnel_inp" dir="ltr" maxlength="10" id="zipCode" size="15" alt="#{msgs['CMS.registerContent.label.register.postcode'].toUpperCase()}"
							value="#{depositForm.zipCode}"
							onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this)" />

						<span class="funnel_names_error_h">
							<span id="cupForm:zipCode_error" class="funnel_error_hide"></span>
							<span class="funnel_names_error_msg_h_2">
								<span id="cupForm:zipCode_error_txt_in"></span>
								<t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true"/>
							</span>
						</span>
					</div>
					<div class="funnel_inp_holder">
						<h:outputText id="bdayAO" styleClass="deposit_row_title" value="#{msgs['register.birthdate']}"/>
						<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthDay" id="birthDay" value="#{depositForm.birthDay}" required="true" onchange="validateBirthDay(this)" >
							<f:selectItem itemLabel="#{msgs['register.birthday.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.days}" />
						</h:selectOneMenu>	
						<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthMonth" id="birthMonth" value="#{depositForm.birthMonth}" required="true" onchange="validateBirthMonth(this)">
							<f:selectItem  itemLabel="#{msgs['register.birthmonth.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.months}" />
						</h:selectOneMenu>
						<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthYear" id="birthYear" value="#{depositForm.birthYear}" required="true" onchange="validateBirthYear(this)">
							<f:selectItem  itemLabel="#{msgs['register.birthyear.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.years}" />
						</h:selectOneMenu>
						<span class="funnel_names_error_bday">
							<span id="cupForm:birthDate_error" class="funnel_error_hide"></span>
							<span class="funnel_names_error_msg_h_2">
								<span id="cupForm:birthYear_error_txt_in"></span>
								<span id="cupForm:birthMonth_error_txt_in"></span>
								<span id="cupForm:birthDay_error_txt_in"></span>
							</span>
						</span>
					</div>
				</h:panelGroup>
				<div class="clear funnel_error_list_2">
					<span id="cupForm:deposit_error_txt"></span>
					<span id="cupForm:street_error_txt"></span>
					<span id="cupForm:cityNameAO_error_txt"></span>
					<span id="cupForm:zipCode_error_txt"></span>
					<span id="cupForm:birthDay_error_txt"></span>
					<span id="cupForm:birthMonth_error_txt"></span>
					<span id="cupForm:birthYear_error_txt"></span>
				</div>
				<div id="funnel_submit_field">
					<a onclick="cup_submit(#{depositForm.firstDeposit});return false;" class="btn_open_account btn_open_account_h clear" id="btn_cup">
						<span class="rs btn_open_account">
							<span class="cs btn_open_account">
								<h:outputText value="#{msgs['CMS.deposit_pages.text.deposit']}" />
							</span>
						</span>
					</a>
				</div>
				<h:commandButton action="#{depositForm.insertCUPDeposit}" id="hiddenDeposit" class="hidden_btn"/>		
			</div>
			<h:inputHidden id="menu_selecter" value="cup"/>
			<script>initDeposit('cupForm:');var user_id = #{user.id};var user_currencyid = #{user.currencyId};</script>
	</h:form>
</f:view>