<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="full_reg_holder">
		<h:panelGroup rendered="#{!commonUtil.hasErrorMessages}">
			<span style="display:none;">#{withdrawForm.initWithdrawForm}</span>
		</h:panelGroup>
		<h2 class="heading_inner">
			<h:outputText value="#{msgs['transactions.deltapay.withdraw']}"/>
		</h2>
		<h:form id="withdrawForm">
			<div class="grid">
				<h:inputHidden value="#{visit.generate}"/>
				<h:inputHidden value="#{visit.saveToken}"/>
				<div class="row">
					<img src="#{applicationData.imagesPath}/banking/unionpay.gif" height="42px" width="125px"/>
				</div>
				<div class="row">
					<h:outputLabel id="amountlabelid" for="amount" value="#{msgs['withdraw.amount']}"/>
					<div class="field_box">
						<div class="currency_holder">
							<h:outputText styleClass="currency_symbol" rendered="#{(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) || (!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)}" value="#{msgs[user.currency.symbol]}"/>
							<h:inputText id="amount" styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="9" value="#{withdrawForm.amount}" required="true">
								<f:validateRegex pattern="#{applicationData.inputFieldPattern}"/>
								
							</h:inputText>
							<h:outputText rendered="#{!((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) || (!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign))}" value="#{msgs[user.currency.symbol]}"/>
						</div>
						<t:message id="amountError" for="amount" replaceIdWithLabel="false" styleClass="error_messages" rendered="#{!empty facesContext.getMessageList('withdrawForm:amount')}"/>
						<t:message id="amountError2" for="amountlabelid" replaceIdWithLabel="false" styleClass="error_messages"/>
					</div>
				</div>
				<div class="row">
					<div class="field_box submit_field">
						<div class="button_holder">
							<div class="button_inner">
								<t:commandButton styleClass="button flex" action="#{withdrawForm.insertCUPWithdraw}" value="#{msgs['button.do']}"/>
							</div>
						</div>
					</div>
				</div>
				<t:div rendered="#{withdrawForm.bonusError}" >
					<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages"/>
					<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages" escape="false"/>
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#/general-terms/GT-bonus"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>
				</t:div>
				<t:div rendered="#{commonUtil.hasMessages &amp;&amp; !withdrawForm.bonusError}">
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
				</t:div>
				<div class="row">
					<h:outputText value="#{msgs['cup.withdraw.maximum']}"/>
					<h:outputText value=" "/>
					<h:outputText value="#{withdrawForm.CUPcreditAmountAllow}"/>
				</div>
				<div class="row">
					<h:outputText value="#{msgs['cup.withdraw.maximum.error']}"/>
					<h:outputText value=" "/>
					<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf" target="_top">
						<h:outputText value="#{msgs['header.wire']} »"/>
					</h:outputLink>
				</div>
			</div>
		</h:form>
	</div>
</f:view>