<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="account_left">
	    <h:form id="cardsForm">
	
			<t:saveState id="card" value="#{cardsForm.card}" />
	
				<h:panelGroup rendered="#{commonUtil.hasMessages}" >
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	           	</h:panelGroup>
	
	           	<h:outputText value="#{msgs['header.cards']}" styleClass="info_pages_text_header" />
				<br/><br/>
	
	    		<h:panelGrid columns="2" align="#{applicationData.pageAlignment}" rowClasses="#{applicationData.pageAlignment}_align">
					<h:panelGrid columns="1" width="100%" styleClass="#{applicationData.pageAlignment}_align">
		   	            <h:outputText styleClass="lable_text_bold" value="#{msgs['creditcards.type']}"/>
	                </h:panelGrid>
	
					<h:panelGrid styleClass="#{applicationData.pageAlignment}_align">
	                	<h:outputText styleClass="pages_text" value="#{cardsForm.card.type.name}"/>
					</h:panelGrid>
	
					<h:panelGrid columns="1" width="100%" styleClass="#{applicationData.pageAlignment}_align">
	   	            	<h:outputText styleClass="lable_text_bold" value="#{msgs['creditcards.ccNum']}"/>
	                </h:panelGrid>
	
					<h:panelGrid>
		                <h:outputText styleClass="pages_text" value="#{cardsForm.card.ccNumberXXX}"/>
		            </h:panelGrid>
	
					<h:panelGrid columns="1" width="100%" styleClass="#{applicationData.pageAlignment}_align">
	                	<h:outputLabel id="exp"  styleClass="lable_text_bold" value="#{msgs['creditcards.expDate']}"/>
					</h:panelGrid>
	 				<h:panelGrid  columns="5">
	
	               		<h:selectOneMenu styleClass="lable_text" id="expMonth" value="#{cardsForm.card.expMonth}" required="true">
	               			<f:selectItem  itemLabel="#{msgs['creditcards.month']}" itemValue="" itemDisabled="true"/>
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>
	
	               		<h:selectOneMenu styleClass="lable_text" id="expYear" value="#{cardsForm.card.expYear}"  required="true" >
	               			<f:selectItem  itemLabel="#{msgs['creditcards.year']}" itemValue="" itemDisabled="true"/>
	               			<f:selectItems value="#{applicationData.creditCardYears}" />
	               		</h:selectOneMenu>
	
						<h:panelGrid columns="3" border="0">
							<t:message id="expMonthError" for="expMonth" detailFormat="#{msgs['error.register.month']}" replaceIdWithLabel="true" styleClass="error_messages"/>
			        	   	<t:message id="expYearError" for="expYear" detailFormat="#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="error_messages"/>
			        	   	<t:message id="expError" for="exp" replaceIdWithLabel="true" styleClass="error_messages"/>
			            </h:panelGrid>
	
	               </h:panelGrid>
					<h:panelGrid columns="1" width="100%" styleClass="#{applicationData.pageAlignment}_align">
		            	<h:outputText styleClass="lable_text_bold" value="#{msgs['creditcards.holderName']}"/>
	                </h:panelGrid>
	
					<h:panelGrid>
		                <h:outputText styleClass="pages_text" value="#{cardsForm.card.holderName}"/>
		            </h:panelGrid>
	
					<h:panelGrid>
		                <h:outputText rendered="#{applicationData.skinId == 11}" styleClass="lable_text_bold" value="#{msgs['creditcards.holderIdNum']}"/>
	                </h:panelGrid>
	                <h:panelGrid>
		                <h:outputText rendered="#{applicationData.skinId == 11}" styleClass="pages_text" value="#{cardsForm.card.holderIdNum}"/>
		            </h:panelGrid>
	
		            <h:panelGrid border="0" width="83px" />
	
					<h:panelGrid columns="1" style="vertical-align:top; text-align:left;" >
						<h:panelGroup>
							<span class="send_button send_but" onclick="return myfaces.oam.submitForm('cardsForm','cardsForm:hiddencancel');">#{msgs['button.cancel']}</span>
							<t:commandButton action="cards" id="hiddencancel" style="position:absolute;left:-9999em;"></t:commandButton>
	
				         	<span class="send_button send_but" onclick="return myfaces.oam.submitForm('cardsForm','cardsForm:hiddensave');">#{msgs['button.do']}</span>
							<t:commandButton action="#{cardsForm.updateCard}" id="hiddensave" style="position:absolute;left:-9999em;"></t:commandButton>
						</h:panelGroup>
					</h:panelGrid>
	
	        	</h:panelGrid>
	
	    </h:form>
	</div>
</f:view>