<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="account_left">
		<h:form id="readEmailForm">
			<h:panelGrid align="center" columns="1" border="0" width="702px" cellpadding="0" cellspacing="0">
				<h:panelGrid align="#{applicationData.pageAlignment}" columns="6" border="0" cellpadding="0" cellspacing="0" class="mailbox_read_email_table" columnClasses="#{applicationData.pageAlignment}_align">
					<h:panelGrid columns="1" width="10px" />
					<h:panelGrid columns="1" width="110px" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align"><h:commandLink styleClass="general_link_blue" action="mailBoxNav" style="font-weight: bold;">« #{msgs['mailbox.reademail.back']}</h:commandLink></h:panelGrid>
					<t:outputText styleClass="pages_text" value="|" />
					<h:panelGrid columns="1" width="10px" />
					<h:panelGrid columns="1" width="100px" align="#{applicationData.pageAlignment}" columnClasses="#{applicationData.pageAlignment}_align"><h:commandLink styleClass="general_link_blue" action="#{user.deleteEmail}" style="font-weight: bold;">x #{msgs['mailbox.action.delete']}</h:commandLink></h:panelGrid>
					<h:panelGrid columns="1" width="452px" />
				</h:panelGrid>
				<br/>
				<table border="0" width="702px" cellpadding="0" cellspacing="0" height="65px">
					<td width="10px" height="65px">&#160;</td>
					<td width="602px" height="65px">
						<table border="0" width="602px" cellpadding="0" cellspacing="0" height="65px">
							<tr valign="middle">
								<td width="70px" valign="middle"><span class="pages_text_bold">#{msgs['mailbox.from']}:</span></td>
								<td width="632px" valign="middle"><span class="pages_text_left">#{msgs[mailBoxUser.senderName]}</span></td>
							</tr>
							<h:panelGroup>
							<tr valign="middle">
								<td width="70px"><span class="pages_text_bold">#{msgs['mailbox.recived']}:</span></td>
								<td width="632px"><span class="pages_text_left"><h:outputText escape="false" value="#{mailBoxUser.timeCreated}"><f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{user.utcOffset}" /></h:outputText></span></td>
							</tr>
							</h:panelGroup>
							<tr valign="middle">
								<td width="70px" valign="middle"><span class="pages_text_bold">#{msgs['mailbox.reademail.to']}:</span></td>
								<td width="632px" valign="middle"><span class="pages_text_left">#{user.firstName} #{user.lastName}</span></td>
							</tr>
							<tr valign="middle">
								<td width="70px" valign="middle"><span class="pages_text_bold">#{msgs['mailbox.subject']}:</span></td>
								<td width="632px" valign="middle"><span class="pages_text_left">#{mailBoxUser.subject}</span></td>
							</tr>
							<h:panelGroup rendered="#{mailBoxUser.attachmentId != null &amp;&amp; mailBoxUser.attachmentId != 0}" >
								<tr valign="middle">
									<td width="70px" valign="middle"><a class="general_link_blue" onclick="document.getElementById('readEmailForm:attachId').onclick();">#{mailBoxUser.attachmentName}</a></td>
									<td width="632px" valign="middle">
										&#160;&#160; <img style="cursor:pointer;" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/attachment.png" onclick="document.getElementById('readEmailForm:attachId').onclick();" height="16px" width="16px" border="0"/>
										<h:outputLink id="attachId" style="display:none;" value="#" onclick="window.open('#{applicationData.homePageUrl}attachments/?id=#{mailBoxUser.attachmentId}', 'popupWindow', 'fullscreen=no,titlebar=no,scrollbars=no,directories=no,menubar=no,resizable=yes,location=no,toolbar=no,status=no,width=700,height=700');" ></h:outputLink>
									</td>
								</tr>
							</h:panelGroup>
						</table>
					</td>
				</table>
		
				<br/>
				<h:panelGrid width="702px" border="0" class="mailbox_read_email_info_table"><t:outputText value="" /></h:panelGrid>
			</h:panelGrid>
		
			<iframe align="top" id="mailBox" name="mailBox" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/single_pages/emailIframe.jsf" width="700px" height="700px" scrolling="auto" ></iframe>
 	</h:form>
	</div>
</f:view>