<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<ui:include src="/jsp/pages/envoyDepositSpecificMethod.xhtml" >
		<ui:param name="method" value="MONETA" />
	</ui:include>

</f:view>


