<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="info_pages_text">
		Nuestros clientes en Mexico podran realizar facilmente depositos<br/>
		en su cuenta Anyoption en Pesos Mexicanos. Los mismos podran<br/>
		efectuarse en depositos en efectivo	o via transferencia local<br/>
		en HSBC Mexico.	El deposito se convertira en Dolares con tarifas<br/>
		de cambio favorables.<br/>
		<br/>
		Sirvase utilizar los datos de la cuenta que aparece a continuacion<br/>
		y notifique a nuestros representantes de Atencion al Cliente luego<br/>
		de haber realizado su deposito o transferencia. Es importante incluir<br/>
		el Codigo de Referencia para asegurar un deposito rapido y efectivo.<br/>
		<br/>
		Si tuviera algun inconveniente o pregunta, por favor, comuniquese<br/>
		con	nuestro equipo de Atencion al Cliente.<br/><br/>
	</div>
	<div class="envoy_header">
		?Es esencial que indiques tu referencia<span class="envoy_header_bold"> #{user.envoyUserReference} </span><br/>en la transferencia bancaria para evitar retrasos!
	</div>
	<div class="info_pages_text mt10">
		<strong>Banco:</strong> HSBC Mexico<br/>
		<strong>Sucursal:</strong> 0016 "Medellin"<br/>
		<strong>Cuenta a nombre de:</strong> ENVOY SERVICES LIMITED MEXICO, S. A. DE C. V.<br/>
		<strong>Numero de cuenta:</strong> 4043060490<br/>
		<strong>Numero de Ruta:</strong> 021180040430604906<br/>
	</div>
	<div class="info_pages_text mt10 mb10">
		Para mayor informacion comuniquese con nuestros representantes:
		<a border="0" class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"><h:outputText value="#{msgs['rightnav.contact']}"/></a>
	</div>
</f:view>