<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<c:if test="${applicationData.isLive}">							
					<c:if test="${applicationData.skinId == 8 || applicationData.skinId == 9 || applicationData.skinId == 5}">
						<!--Full Registration Pixel 
						PIXEL-11282012-627 
						Activity Name: AnyOption-Step-Conversion
						DataXu tag:-->
						<img src="https://securetags.w55c.net/rs?id=b8134e388b9542baaa5ee018999e1dc8&amp;t=cart&amp;sku=$SKUS" />
					</c:if>
				
					<c:if test="${user.affiliateKey == '654934'}">
						<!-- TradeDoubler registration -->
						<script type="text/javascript">
							var tduid = '#{applicationData.tradeDoublerUIDCookie}';
							var leadNumber = '#{user.id}';
							if ('' != tduid) {  // user has cookie
								var reportInfo = escape(reportInfo);
								document.write(unescape("%3Cimg src='https://tbl.tradedoubler.com/report?organization=1515642&amp;event=204522&amp;leadNumber="+leadNumber+"&amp;tduid="+tduid+"' height='1' width='1' border='0' %3E%3C/img%3E"));
							}
						</script>
					</c:if>	
					<c:if test="${user.isFirstTimeRegister}">
						<c:if test="${user.affiliateKey == '654934'}">
							<!-- TradeDoubler registration -->
							<script type="text/javascript">
								var tduid = '#{applicationData.tradeDoublerUIDCookie}';
								var leadNumber = '#{user.id}';
								if ('' != tduid) {  // user has cookie
									var reportInfo = escape(reportInfo);
									document.write(unescape("%3Cimg src='https://tbl.tradedoubler.com/report?organization=1515642&amp;event=204522&amp;leadNumber="+leadNumber+"&amp;tduid="+tduid+"' height='1' width='1' border='0' %3E%3C/img%3E"));
								}
							</script>
						</c:if>
					</c:if>					
			</c:if>		
		<c:if test="${applicationData.isLive}">
			<h:outputText value="#{user.setFirstTimeRegister}" />
			<h:outputText value="#{user.registrationPixel}" escape="false" />
			<h:outputText value="#{user.registrationAffiliatePixel}" escape="false" />
			<h:outputText value="#{user.registrationSubAffiliatePixel}" escape="false" />
		</c:if>
	
</f:view>