<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="page_bgr">
		<!--Titles-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
			<ui:param name="h1" value="#{msgs['header.myaccount']}" />
			<ui:param name="h2" value="#{msgs['header.myaccount.message.bankwire']}" />
			<ui:param name="secure" value="true" />
		</ui:include>
		
		<div class="my_account_menu">
			<!--left menu-->
			<ui:include src="/jsp/pages/html_elements/my_account_menu.xhtml"/>
		</div>
		<div class="my_account_main loadingElement" ng-controller="GmWithdrawalController" id="GmWithdrawalController" ng-class="{ stopLoading: ready }" >
			<div class="fL_wire">
				<form name="_form" novalidate="novalidate">
					<div class="full_reg_holder">
						<h2 class="heading_inner" ng-if="gmType == 59">{{getMsgs('direct24')}} {{getMsgs('withdraw.page')}}</h2>
						<h2 class="heading_inner" ng-if="gmType == 61">{{getMsgs('eps')}} {{getMsgs('withdraw.page')}}</h2>
						<h2 class="heading_inner" ng-if="gmType == 60">{{getMsgs('giropay')}} {{getMsgs('withdraw.page')}}</h2>
						<h2 class="heading_inner" ng-if="gmType == 63">{{getMsgs('ideal')}} {{getMsgs('withdraw.page')}}</h2>
						<div class="grid">
							<div class="row">
								{{getMsgs('beneficiary.name')}}
								<div class="field_box">
									<input class="field" maxlength="30" id="beneficiaryName" name="beneficiaryName" ng-model="form.beneficiaryName" required="true"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'beneficiaryName', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>
					
							<div class="row" ng-if="gmType == 61 || gmType == 63">
								{{getMsgs('bank.wire.swift')}}
								<div class="field_box">
									<input class="field" maxlength="30" dir="ltr" id="swiftBicCode" name="swiftBicCode" ng-model="form.swiftBicCode"  required="true"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'swiftBicCode', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>

							<div class="row" ng-if="gmType == 61 || gmType == 63">
								{{getMsgs('bank.wire.iban')}}
								<div class="field_box">
									<input class="field" maxlength="30" id="iban" name="iban" ng-model="form.iban"  required="true"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'iban', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>
					
							<div class="row" ng-if="gmType != 63">
								{{getMsgs('account.number')}}
								<div class="field_box">
									<input class="field" maxlength="20" id="accountNum" name="accountNum" ng-model="form.accountNumber"  required="true" restrict-digits="restrict-digits"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'accountNum', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>
					
							<div class="row" ng-if="gmType != 63">
								{{getMsgs('bank.name')}}
								<div class="field_box">
									<input class="field" maxlength="30" id="bankName" name="bankName" ng-model="form.bankName"  required="true"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'bankName', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>
										
										
							<div class="row" ng-if="gmType != 63">
								{{getMsgs('branch.number')}}
								<div class="field_box">
									<input class="field" maxlength="30" id="branchNumber" name="branchNumber" ng-model="form.branchNumber"  required="true" restrict-digits="restrict-digits"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'branchNumber', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>
					
							<div class="row" ng-if="gmType != 63">
								{{getMsgs('branch.address')}}
								<div class="field_box">
									<input class="field" maxlength="30" id="branchAddress" name="branchAddress" ng-model="form.branchAddress"  required="true"/>
									<span class="errorMsgs" ng-if="checkError(_form, 'branchAddress', 'required')">{{getMsgs('error-mandatory')}} </span>
								</div>
							</div>
										
							<div class="row">
								{{getMsgs('amount')}}
								<div class="field_box">
									<div class="currency_holder">
										<input id="amount" name="amount" class="field" maxlength="9" ng-model="form.amount" required="true" restrict-float="restrict-float"/>
										<span data-currency-symbol="1" class="currency_symbol"><h:outputText value="#{msgs[user.currency.symbol]}"/></span>
										<span class="errorMsgs" ng-if="checkError(_form, 'amount', 'required')">{{getMsgs('error-mandatory')}} </span>
									</div>
								</div>
							</div>
		
							<div class="row">
								<div class="field_box submit_field">
									<div class="button_holder" ng-click="submitGMwithdraw(_form)">
										<div class="button_inner">
											<button type="submit" class="button">{{getMsgs('submit')}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<input type="text" class="dN" ng-model="form.userAnswerId" id="wireForm:userAnswerId"/>
						<input type="text" class="dN" ng-model="form.textAnswer" id="wireForm:textAnswer"/>
						<script>
							//handleBankNameChange();
							//displayBeneficiaryNameTooltip();
						</script>
						<div class="globalErrorField mt10" id="globalErrorField"></div>
					</div>
				</form>
			</div>
			<ui:include src="/jsp/html_elements/popup-withdraw-fee.xhtml" />
		</div>
	
		<span class="float_fix"></span>
	</div>
	
</f:view>

