<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
		<ui:define name="right_side">
			<ui:include src="/jsp/banners_holder_main.xhtml"/>
		</ui:define>
	</ui:composition>
</f:view>