<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="account_left">
		<h:panelGroup rendered="#{transaction.statusId == 2}"> <!-- succeed -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/receipt.jsf";
			</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{transaction.statusId == 11}">   <!-- In progress -->
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/inatecInProgress.jsf";
			</script>
		</h:panelGroup>

		<TABLE cellpadding="0" cellspacing="5" width="720" border="0" valign="middle">
			<tr>
				<td align="center">
					<h:outputText styleClass="error_messages" value="#{msgs['error.inatec.deposit']}"/>
				</td>
			</tr>
			<tr>
				<td align="left">
					<c:if test="${transaction.paymentTypeId == '3'}" >  <!-- Giropay -->
						<ui:include src="/jsp/pages/directAccountFieldsContent.xhtml" >
							<ui:param name="paymentType" value="3" />
						</ui:include>
					</c:if>
					<c:if test="${transaction.paymentTypeId == '2'}" >  <!-- direct24 -->
						<ui:include src="/jsp/pages/directAccountFieldsContent.xhtml" >
							<ui:param name="paymentType" value="2" />
						</ui:include>
					</c:if>
					<c:if test="${transaction.paymentTypeId == '4'}" >  <!-- EPS -->
						<ui:include src="/jsp/pages/directNoAccountFieldsContent.xhtml" >
							<ui:param name="paymentType" value="4" />
						</ui:include>
					</c:if>
				</td>
			</tr>
		</TABLE>
	</div>
</f:view>