<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.reg_man_quest.text.window.title']}"/>
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/mandQuest.js?version=cvsTimeStamp"></script>
		<script>
			var questionsIdArr = [
				["#{regMandQuestionnaireForm.questions[0].id}", "#{regMandQuestionnaireForm.userAnswers[0].userAnswerId}"],
				["#{regMandQuestionnaireForm.questions[1].id}", "#{regMandQuestionnaireForm.userAnswers[1].userAnswerId}"],
				["#{regMandQuestionnaireForm.questions[2].id}", "#{regMandQuestionnaireForm.userAnswers[2].userAnswerId}"],
				["#{regMandQuestionnaireForm.questions[3].id}", "#{regMandQuestionnaireForm.userAnswers[3].userAnswerId}"],
				["#{regMandQuestionnaireForm.questions[4].id}", "#{regMandQuestionnaireForm.userAnswers[4].userAnswerId}"],
				["#{regMandQuestionnaireForm.questions[5].id}", "#{regMandQuestionnaireForm.userAnswers[5].userAnswerId}"],
				["#{regMandQuestionnaireForm.questions[6].id}", "#{regMandQuestionnaireForm.userAnswers[6].userAnswerId}"]
			];
			var originQuestionDefaultAnswer = "#{regMandQuestionnaireForm.questions[4].answers[0].id}";
		</script>
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<!--Titles-->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
				<ui:param name="h1" value="#{msgs['header.myaccount']}" />
				<ui:param name="h2" value="#{msgs['CMS.reg_man_quest.text.header']}" />
				<ui:param name="secure" value="true" />
			</ui:include>
			
			<div class="my_account_menu">
				<!--left menu-->
				<ui:include src="/jsp/pages/html_elements/my_account_menu.xhtml"/>
			</div>
			<div class="my_account_main">
				<!--content in-->
				<ui:include src="/jsp/pages/mandatory_questionnaire_content.xhtml"></ui:include>
			</div>
		
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>
</f:view>