<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<div class="mandatory_qr_container"> 
	<h2>
		<h:outputText value="#{msgs['CMS.reg_man_quest.text.body.heading']}"/>
	</h2>
	<h:form id="regMandQuestionnaireForm">
		<ui:remove>
			<t:dataList layout="orderedList" value="#{regMandQuestionnaireForm.questions}" var="question">
				<span>
					<h:outputText value="#{msgs[question.name]}"/>
				</span><br/>
				<h:selectOneRadio id="#{'question_'}#{question.name}" value="" required="true">
					<f:selectItems value="#{question.answers}" var="answer" itemLabel="#{msgs[answer.name]}" itemValue="#{answer.id}" />
				</h:selectOneRadio>
				<div class="error_msg_question">
					<t:message id="#{'error_'}#{question.name}" for= "#{'question_'}#{question.name}" replaceIdWithLabel="true"/>
				</div>
			</t:dataList>
		</ui:remove>
		
		<ol>
			<li>					
				<span>
					<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[0].name]}"/>
				</span><br/>
				<h:panelGrid  columns="2" border="0">
					<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[0].id}"
										value="#{regMandQuestionnaireForm.userAnswers[0].answerId}"
										disabled="#{regMandQuestionnaireForm.submitted}"
										required="true"
										requiredMessage="#{msgs['error.mandatory']}"
										onchange="">
						<f:selectItems value="#{regMandQuestionnaireForm.questions[0].answers}"
											var="answer"
											itemLabel="#{msgs[answer.name]}"
											itemValue="#{answer.id}"/>
					</t:selectOneRadio>
					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[0].id}"
									for="#{'question_'}#{regMandQuestionnaireForm.questions[0].id}"
									styleClass="error_msg_question"/>
				</h:panelGrid>
			</li>
			<li>					
				<span>
					<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[1].name]}"/>
				</span><br/>
				<h:panelGrid  columns="2" border="0">
					<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[1].id}"
										value="#{regMandQuestionnaireForm.userAnswers[1].answerId}"
										disabled="#{regMandQuestionnaireForm.submitted}"
										required="true"
										requiredMessage="#{msgs['error.mandatory']}"
										onchange="">
						<f:selectItems value="#{regMandQuestionnaireForm.questions[1].answers}"
											var="answer"
											itemLabel="#{msgs[answer.name]}"
											itemValue="#{answer.id}"/>
					</t:selectOneRadio>
					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[1].id}"
									for="#{'question_'}#{regMandQuestionnaireForm.questions[1].id}"
									styleClass="error_msg_question"/>
				</h:panelGrid>
			</li>
			<li>					
				<span>
					<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[2].name]}"/>
				</span><br/>
				<h:panelGrid  columns="2" border="0">
					<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[2].id}"
										value="#{regMandQuestionnaireForm.userAnswers[2].answerId}"
										disabled="#{regMandQuestionnaireForm.submitted}"
										required="true"
										requiredMessage="#{msgs['error.mandatory']}"
										onchange="">
						<f:selectItems value="#{regMandQuestionnaireForm.questions[2].answers}"
											var="answer"
											itemLabel="#{msgs[answer.name]}"
											itemValue="#{answer.id}"/>
					</t:selectOneRadio>
					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[2].id}"
									for="#{'question_'}#{regMandQuestionnaireForm.questions[2].id}"
									styleClass="error_msg_question"/>
				</h:panelGrid>
			</li>
			<li>					
				<span>
					<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[3].name]}"/>
				</span><br/>
				<h:panelGrid  columns="2" border="0">
					<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[3].id}"
										value="#{regMandQuestionnaireForm.userAnswers[3].answerId}"
										disabled="#{regMandQuestionnaireForm.submitted}"
										required="true"
										requiredMessage="#{msgs['error.mandatory']}"
										onchange="">
						<f:selectItems value="#{regMandQuestionnaireForm.questions[3].answers}"
											var="answer"
											itemLabel="#{msgs[answer.name]}"
											itemValue="#{answer.id}"/>
					</t:selectOneRadio>
					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[3].id}"
									for="#{'question_'}#{regMandQuestionnaireForm.questions[3].id}"
									styleClass="error_msg_question"/>
				</h:panelGrid>
			</li>
			<ui:remove>
				<!-- TODO Show this list item when question 5 QUESTION_FUNDS_ORIGIN is viewable again. -->
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[4].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[4].id}"
											value="#{regMandQuestionnaireForm.userAnswers[4].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onchange="">
							<f:selectItems value="#{regMandQuestionnaireForm.questions[4].answers}"
												var="answer"
												itemLabel="#{msgs[answer.name]}"
												itemValue="#{answer.id}"/>
						</t:selectOneRadio>
						<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[4].id}"
										for="#{'question_'}#{regMandQuestionnaireForm.questions[4].id}"
										styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
			</ui:remove>
			<li>					
				<span>
					<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[5].name]}"/>
				</span><br/>
				<h:panelGrid  columns="2" border="0">
					<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[5].id}"
										value="#{regMandQuestionnaireForm.userAnswers[5].answerId}"
										disabled="#{regMandQuestionnaireForm.submitted}"
										required="true"
										requiredMessage="#{msgs['error.mandatory']}"
										onchange="">
						<f:selectItems value="#{regMandQuestionnaireForm.questions[5].answers}"
											var="answer"
											itemLabel="#{msgs[answer.name]}"
											itemValue="#{answer.id}"/>
					</t:selectOneRadio>
					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[5].id}"
									for="#{'question_'}#{regMandQuestionnaireForm.questions[5].id}"
									styleClass="error_msg_question"/>
				</h:panelGrid>
			</li>
			<li>								
				   		<h:selectBooleanCheckbox id="#{'question_'}#{regMandQuestionnaireForm.questions[6].id}"
			   									value="#{regMandQuestionnaireForm.PEPanswer}" 
			   									disabled="#{regMandQuestionnaireForm.submitted}"
			   									required="true"
			   									requiredMessage="#{msgs['error.mandatory']}"
												onchange=""
												style="margin: -1px 0 0 0; vertical-align: middle; float: none;"/>
						<span>
							<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[6].name]}"/>						
						</span>					
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[6].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[6].id}"
		   								styleClass="error_msg_question"/>
			</li>
		</ol>
		
		<h:commandLink action="#{regMandQuestionnaireForm.insertQuestionnaire}" class="button_small_nd" rendered="#{!regMandQuestionnaireForm.submitted}">
				<h:outputText value="#{msgs['CMS.reg_man_quest.label.button.submit']}" escape="false"/>
		</h:commandLink>
		<h:commandLink action="#{regMandQuestionnaireForm.insertQuestionnaire}" class="button_small_nd_na" disabled="#{regMandQuestionnaireForm.submitted}" rendered="#{regMandQuestionnaireForm.submitted}">
				<h:outputText value="#{msgs['CMS.reg_man_quest.label.button.submit']}" escape="false"/>
		</h:commandLink>
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" rendered="#{!regMandQuestionnaireForm.submitted and !applicationData.APIGUI }" >
			<h:outputText value="#{msgs['CMS.reg_man_quest.label.link.not_now']}" class="link_notnow"/>
		</h:outputLink>
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/deposit.jsf"
			rendered="#{!regMandQuestionnaireForm.submitted and applicationData.APIGUI }" >
			<h:outputText value="#{msgs['CMS.reg_man_quest.label.link.not_now']}" class="link_notnow"/>
		</h:outputLink>		
		<script> 
			var redirectPath = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
			if (#{applicationData.APIGUI}) {
				redirectPath = '#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/deposit.jsf';
			}
		</script>
		<div style="margin-top: 20px;">
		<!-- <div id="reg_opt_quest_message" style="display:none; width: 700px;" class="link_notnow"> -->
			<h:panelGrid columns="1" rendered="#{regMandQuestionnaireForm.submitted}">			
				#{userRegulation.clearRedirectAfterRegMandQuest()}
				<h:outputText value="#{msgs['CMS.reg_man_quest.label.reg_opt_quest.text']}" escape="false"/>
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/optional_questionnaire.jsf">
					<h:outputText value="#{msgs['CMS.reg_man_quest.label.link.optional']}"/>
				</h:outputLink>
				<h:outputLink value="javascript:showRegOptQuestMessage(redirectPath);">
					<h:outputText value="#{msgs['CMS.reg_man_quest.label.link.not_now']}" escape="false"/>
				</h:outputLink>		        	
			</h:panelGrid>			
		<!-- </div> -->
	</div>	
	</h:form>
	

	
	<div style="margin-top: 20px; height: 100px;">
		<div id="not_now_message" style="display:none; width: 700px;" class="link_notnow">
			<h:outputText value="#{msgs['CMS.reg_man_quest.text.not_now_risk']}" escape="false"/>
		</div>
	</div>
</div>

</f:view>