<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div>
		<div ng-controller="settingsCtr">
			<div class="full_reg_holder my-setting">
				<h2 class="heading_inner">
					<h:outputText value="#{msgs['CMS.mypage_side_menu.label.title.my_settings']}" escape="false"/>
				</h2>
				<p><h:outputText value="#{msgs['CMS.my_settings_contect.text.p1']}" escape="false"/></p>
				<div class="mt15">
					<span class="b"><h:outputText value="#{msgs['CMS.my_settings_contect.text.p2']}" escape="false"/></span>
					<div class="my-setting-slider" ng-class="{ off: !user.showCancelInvestment }">
						<span class="text"><h:outputText value="#{msgs['CMS.my_settings_contect.text.on']}" escape="false"/></span>
						<span class="slider-holder" ng-click="set()">
							<i class="slider"></i>
						</span>
						<span class="text"><h:outputText value="#{msgs['CMS.my_settings_contect.text.off']}" escape="false"/></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:view>