<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['personal.jsf.title']}"/>
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<script>
			var predefValues = [
				<t:dataList value="#{!empty facesContext.externalContext.remoteUser?user.predefValues:applicationData.getLogoutDefaultPredefValues()}" var="values">
					{predefValue: parseFloat(('#{commonUtil.displayAmountUI(values.predefValue, false, !empty facesContext.externalContext.remoteUser?user.currencyId:applicationData.skin.defaultCurrencyId)}').replace(/,/g,''))},
				</t:dataList>
			];
			var page = 'settings';
		</script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-settings.js?version=cvsTimeStamp"></script>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<!--Titles-->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
				<ui:param name="h1" value="#{msgs['header.myaccount']}" />
				<ui:param name="h2" value="#{msgs['header.myaccount.message.my_settings']}" />
				<ui:param name="secure" value="true" />
			</ui:include>
			
			<div class="my_account_menu">
				<!--left menu-->
				<ui:include src="/jsp/pages/html_elements/my_account_menu.xhtml"/>
			</div>
			<div class="my_account_main">
				<!--content in-->
				<ui:include src="/jsp/pages/my_settings_content.xhtml"></ui:include>
			</div>
		
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>