<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<c:if test="false">
	<h:panelGroup rendered="#{!empty applicationData.getBannerFile()}">
		<img src="#{applicationData.bannerFile}" />
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId != 1 and newCardForm.firstDepositExcludeBonus}">
		<div class="clear mt20">
			<span class="deposit_h1" id="NewDeposit_h1"><h:outputText value="#{msgs['CMS.newCardContent.text.h1']}" /></span>
			<span class="deposit_h2" id="NewDeposit_h2"><h:outputText value="#{msgs['CMS.newCardContent.text.h2']}" /></span>
		</div>
	</h:panelGroup>
	<div class="full_reg_holder #{applicationData.skinId == 1 and newCardForm.firstDepositExcludeBonus ? 'full_reg_holder_first_deposit_holder mt10' : 'mt20'} taL ">
		<h:panelGroup rendered="#{user.hasDeposits}">
			<table cellpadding="0" cellspacing="0" width="540px" border="0" class="mb20">
				<tr>
					<td align="#{applicationData.pageAlignment}">
						<h:outputText value="#{msgs['header.add.new.cc']}" styleClass="deposit_selected_menu" />
					</td>
					<td align="center">
						<h:outputLink rendered="#{depositForm.ccListSize > 0}" value="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/deposit.jsf"
							target="_top" class="deposit_not_selected_menu" >
							<h:outputText value="#{msgs['header.creditcards']}"/>
						</h:outputLink>
					</td>
					<td align="#{applicationData.pageAlignmentReverse}">
						 <h:outputLink rendered="#{depositForm.ccListSize > 0}" value="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/cards.jsf"
							target="_top" class="deposit_not_selected_menu" >
							<h:outputText value="#{msgs['header.cards']}"/>
						</h:outputLink>
					</td>
				</tr>
			</table>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 1 and !user.isHasDeposits()}">
			<ui:include src="/jsp/html_elements/reg_progress_et.xhtml" >
				<ui:param name="substep" value="4" />
			</ui:include>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
			<div style="margin:#{newCardForm.firstDepositExcludeBonus ? '20px 20px 0px 0px' : '20px 0px 20px 0px'};font-weight:normal;font-size:12px;line-height:16px;">
				<h:outputText value="#{msgs['SEC_warning.text1']}" escape="false"/>
				<h:outputText value="#{msgs['SEC_warning.text2']}" escape="false"/>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == 1 and newCardForm.firstDepositExcludeBonus}">
			<div class="clear mt20 ml20">
				<!--
				<span class="deposit_h1" id="NewDeposit_h1"><h:outputText value="#{msgs['CMS.newCardContent.text.h1']}" /></span>
				<span class="deposit_h2" id="NewDeposit_h2"><h:outputText value="#{msgs['CMS.newCardContent.text.h2']}" /></span>
				-->
			</div>
		</h:panelGroup>
		<div>
			<div class="deposit_fL">
				<h:panelGroup rendered="#{applicationData.skinId == 1 and newCardForm.firstDepositExcludeBonus}">
					<span class="deposit_title"><h:outputText value="#{msgs['header.creditcards']}" /></span>
				</h:panelGroup>
				<span class="deposit_cc deposit_cc_visa"></span>
				<span class="deposit_cc deposit_cc_mastercard"></span>
				<span class="deposit_cc deposit_cc_maestro"></span>
				<h:panelGroup rendered="#{applicationData.haveInatecIdealOption}">
					<a class="dIB" href="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/paymentMethodSelector#{request.requestURI.endsWith('firstNewCard.jsf')?'_first':''}.jsf">
						<i class="deposit_cc deposit_cc_ideal"></i>
					</a>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == 1}">
					<span class="deposit_cc deposit_cc_isra"></span>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId != 1 or !newCardForm.firstDepositExcludeBonus}">
					<span class="deposit_title"><h:outputText value="#{msgs['header.creditcards']}" /></span>
				</h:panelGroup>
			</div>
			<div class="deposit_fR deposit_fR_#{applicationData.userLocale.language}">
				<h:panelGroup rendered="#{applicationData.skinId == 8 or applicationData.skinId == 19 and newCardForm.firstDepositExcludeBonus}">
					<img src="#{applicationData.imagesPath}/ao/de/payment_m_small.png" class="mb10 fR" border="0"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == 10 and newCardForm.firstDepositExcludeBonus}">
					<img src="#{applicationData.imagesPath}/ao/ru/payment_m_small.png" class="mb10 fR" border="0"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{newCardForm.firstDepositExcludeBonus}">
					<a class="deposit_other_FM_link" 
						href="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/paymentMethodSelector#{request.requestURI.endsWith('firstNewCard.jsf')?'_first':''}.jsf">
						<h:outputText value="#{msgs['CMS.newCardContent.text.otherfundingmethods']}" />
					</a>
				</h:panelGroup>
			</div>
			<i class="float_fix"></i>
		</div>
		<div class="deposit_holder deposit_holder_#{applicationData.userLocale.language}">
			<c:if test="#{newCardForm.firstDepositExcludeBonus}">
				<ui:include src="/jsp/pages/html_elements/newCard_firstDeposit.xhtml" />
			</c:if>
			<c:if test="#{!newCardForm.firstDepositExcludeBonus}">
				<ui:include src="/jsp/pages/html_elements/newCard_deposit.xhtml" />
			</c:if>
		</div>
		<h:panelGroup rendered="#{applicationData.skinId != 1 and newCardForm.firstDepositExcludeBonus}">
			<ui:include src="/jsp/html_elements/reg_progress.xhtml" >
				<ui:param name="active2" value="selected" />
			</ui:include>
		</h:panelGroup>
	</div>
	<h:panelGroup rendered="#{!newCardForm.firstDepositExcludeBonus}">
		<a class="deposit_other_FM_link deposit_other_FM_link_position" 
			href="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/paymentMethodSelector#{request.requestURI.endsWith('firstNewCard.jsf')?'_first':''}.jsf">
			<h:outputText value="#{msgs['CMS.newCardContent.text.otherfundingmethods']}" />
		</a>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div class="clear">
		<div class="info_pages_text mt20"><span class="info_pages_text" style="font-weight: bold;color:red;">ВАЖНО: </span>Пожалуйста, убедитесь, что Ваш банк открыл Вам возможность производить <b>онлайн платежи</b> кредитной картой. Также уточните максимальную разрешенную сумму платежа.</div>
		<div class="info_pages_text mt10">Вы можете обратиться в нашу <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" style="text-decoration:underline; color:#0284D6;">Службу поддержки</a> с любым вопросом и мы будем рады помочь Вам!</div>
		</div>
	</h:panelGroup>
	<script>initDeposit('newCardForm:');var user_id = #{user.id};</script>
</c:if>
</f:view>