<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['newCard.jsf.title']}"/>
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<script src="#{facesContext.externalContext.requestContextPath}/js/calendar.js?version=cvsTimeStamp"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/common.js?version=cvsTimeStamp"></script>
		<script>
			var citiesArr  = new Array(#{applicationData.citiesListString});
		</script>
		<script>
		$(document).ready(function(){
			shouldShowRegulationPopup("new_card_page", function(){});
		});
		</script>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<!--Titles-->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
				<ui:param name="h1" value="#{msgs['deposit.page']}" />
				<ui:param name="h2" value="#{msgs['header.myaccount.message.transactions']}" />
				<ui:param name="secure" value="true" />
			</ui:include>
			
			<div class="my_account_menu">
				<!--left menu-->
				<ui:include src="/jsp/pages/html_elements/my_account_menu.xhtml"/>
			</div>
			<div class="my_account_main">
				<!--content in-->
				<h:form id="newCardForm" onsubmit="newCard_submit(#{newCardForm.firstDeposit});return false;">
					<h:inputHidden value="#{visit.generate}" />
					<h:inputHidden value="#{visit.saveToken}" />
					<ui:include src="/jsp/pages/newCard_content.xhtml" />
				</h:form>
				<t:saveState value="#{reverseWithdrawForm}" />
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>