<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<c:if test="false">
<c:if test="#{!empty applicationData.getBannerFile() and newCardForm.firstDeposit}">
	<img src="#{applicationData.bannerFile}" />
</c:if>
<h:panelGroup rendered="#{applicationData.skinId != 1}">
	<div class="clear mt20">
		<span class="deposit_h1"><h:outputText value="#{msgs['CMS.newCardContent.text.h1']}" rendered="#{newCardForm.firstDeposit}"/></span>
		<span class="deposit_h2"><h:outputText value="#{msgs['CMS.newCardContent.text.h2']}" rendered="#{newCardForm.firstDeposit}"/></span>
	</div>
</h:panelGroup>
<div class="full_reg_holder #{applicationData.skinId == 1 and newCardForm.firstDepositExcludeBonus ? 'full_reg_holder_first_deposit_holder mt10' : 'mt20'} taL">
	<c:if test="#{applicationData.skinId == 1 and newCardForm.firstDeposit}">
		<ui:include src="/jsp/html_elements/reg_progress_et.xhtml" >
			<ui:param name="substep" value="4" />
		</ui:include>
	</c:if>
	<div class="#{applicationData.skinId == 1 ? 'p20' : ''}">
		<h:panelGroup rendered="#{applicationData.skinId == 1 and newCardForm.firstDepositExcludeBonus}">
			<div class="clear mt20 #{applicationData.skinId == 1 ? 'mb20' : ''}">
				<span class="deposit_h1"><h:outputText value="#{msgs['CMS.newCardContent.text.h1']}" rendered="#{newCardForm.firstDeposit}"/></span>
				<span class="deposit_h2"><h:outputText value="#{msgs['CMS.newCardContent.text.h2']}" rendered="#{newCardForm.firstDeposit}"/></span>
			</div>
		</h:panelGroup>
		<!-- VISA -->
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1"><!--deposit.jsf-->
				<a href="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/deposit.jsf">
					<img src="#{applicationData.imagesPath}/banking/visa.gif" class="paymentMethods_img" border="0"/>
					<span class="paymentMethods_title"><h:outputText value="#{msgs['header.creditcards']}"/></span>
				</a>
			</li>
		</ul>
		<!-- neteller -->
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'depositForm:');">
				<img src="#{applicationData.imagesPath}/banking/neteller.png" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.neteller.deposit']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['neteller:menu_selecter'] == 'neteller')?'display:block;':'display:none;'}">
				<ui:include src="/jsp/pages/depositNeteller.xhtml" ><!--depositNeteller.jsf-->
				</ui:include>
			</li>
		</ul>
		<!-- EPG -->
		<c:if test="#{user.testUser}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="openPopUp('popUpEpgDeposit');resizeIframe('popUpEpgDepositContent');return false;">
					<img src="#{applicationData.imagesPath}/banking/neteller.gif" class="paymentMethods_img"/>
					<span class="paymentMethods_title"><h:outputText value="#{msgs['payment.type.neteller']}"/></span>
				</li>
			</ul>
		</c:if>
		<!-- DIRECT 24 (SOFORT) -->
		<c:if test="#{applicationData.haveDirect24Option and user.skinId != 13 and user.skinId != 14 and !userRegulation.showWCErrPage and user.currencyId != 6}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'direct24_2:');">
					<img src="#{applicationData.imagesPath}/banking/sofort.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['header.direct24.deposit']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['direct24_2:menu_selecter'] == 'direct24_2')?'display:block;':'display:none;'}">
					<ui:include src="/jsp/pages/powerpayAccountFieldsContent.xhtml" ><!--direct24.jsf-->
						<ui:param name="paymentType" value="2" />
					</ui:include>
				</li>
			</ul>
		</c:if>
		<!-- GIROPAY -->
		<c:if test="#{applicationData.haveGiropayOption and user.skinId != 13 and user.skinId != 14 and user.currencyId != 6}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'direct24_3:');">
					<img src="#{applicationData.imagesPath}/banking/giro.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['header.giropay.deposit']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['direct24_3:menu_selecter'] == 'direct24_3')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/powerpayAccountFieldsContent.xhtml" ><!--giropay.jsf-->
						<ui:param name="paymentType" value="3" />
					</ui:include>
				</li>
			</ul>
		</c:if>
		<!-- EPS -->
		<c:if test="#{applicationData.haveEpsOption and user.skinId != 13 and user.skinId != 14 and !userRegulation.showWCErrPage and user.currencyId != 6}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'direct24_4:');">
					<img src="#{applicationData.imagesPath}/banking/eps.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['header.eps.deposit']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['direct24_4:menu_selecter'] == 'eps')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/powerpayAccountFieldsContent.xhtml" ><!-- eps.jsf -->
						<ui:param name="paymentType" value="4" />
					</ui:include>
				</li>
			</ul>
		</c:if>
		<!-- BARO PAY / ISN'T USED -->
		<c:if test="#{applicationData.showBaroPayPaymentMethod and applicationData.userLocale.language=='kr'}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'baroPayDepositForm:');">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/baropay.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['baropay.deposit.amount']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['baroPayDepositForm:menu_selecter'] == 'baropay')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/baroPay_content.xhtml" /><!-- baroPay.jsf -->
				</li>
			</ul>
		</c:if>
		<!-- LA CAIXA/ ISN'T USED -->
		<c:if test="#{applicationData.haveEnvoyBankSpainOption and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and user.currencyId != 6}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/banking/laCaixa.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['header.lacaixa.deposit']}"/></span>
				</li>
				<li style="display:none;">
					<ui:include src="/jsp/pages/envoyBankSpain_content.xhtml" /><!-- envoyBankSpain.jsf -->
				</li>
			</ul>
		</c:if>
		<!-- UKASH / ISN'T USED -->
		<c:if test="#{applicationData.haveUkashOption and applicationData.userLocale.language!='it' and applicationData.userLocale.language!='kr' and applicationData.userLocale.language!='tr' and !commonUtil.skinRegulated}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'ukashFrom:');">
					<img src="#{applicationData.imagesPath}/banking/uKash.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['ukash.header']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['ukashFrom:menu_selecter'] == 'ukash')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/ukash_content.xhtml" /><!-- ukash.jsf -->
				</li>
			</ul>
		</c:if>
		<!-- CASHU / ISN'T USED -->
		<c:if test="#{applicationData.haveCashUOption and (applicationData.userLocale.language=='es' || applicationData.userLocale.language=='tr') and user.currencyId != 6}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/banking/cashU.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title">CashU</span>
				</li>
				<li style="display:none;">
					<!-- envoyDepositCashU.jsf -->
					<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/single_pages/envoyDepositForward.jsf?refresh=true&amp;method=CASHU" width="100%" height="380px" scrolling="auto"></iframe>
				</li>
			</ul>
		</c:if>
		<!-- BANK WIRE TRANSFER -->
		<c:if test="#{!userRegulation.showWCErrPage}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/bankWire.gif" class="paymentMethods_img"/>
					<span class="paymentMethods_title"><h:outputText value="#{msgs['wire.deposit.header']}"/></span>
				</li>
				<li style="display:none;padding-top:20px;">
					<!-- wireDeposit.jsf -->
					<p><h:outputText value="#{msgs['wire.deposit.header']}" styleClass="info_pages_text_header"/></p>
					<h:outputText escape="false" styleClass="label_text" value="#{depositForm.faxNumberMsg}" />
					<br /><br />
					<ui:include src="/jsp/pages/html_elements/myaccount_bank_details.xhtml" />
				</li>
			</ul>
		</c:if>
		<!-- BANK MEXICO / ISN'T USED -->
		<c:if test="#{applicationData.haveEnvoyBankMexicoOption and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and user.currencyId != 6}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/banking/hsbc.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['header.hsbc.deposit']}"/></span>
				</li>
				<li style="display:none;">
					<ui:include src="/jsp/pages/envoyBankMexico_content.xhtml" /><!-- envoyBankMexico.jsf -->
				</li>
			</ul>
		</c:if>
		<!-- ENVOY WEB MONEY / ISN'T USED -->
		<c:if test="#{false and applicationData.haveWebmoneyOption and user.currencyId != 6 and applicationData.userLocale.language=='ru'}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<span class="paymentMethods_title">Web Money</span>
				</li>
				<li style="display:none;">
					<!-- envoyDepositWebMoney.jsf -->
					<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/single_pages/envoyDepositForward.jsf?refresh=true&amp;method=WEBMONEY" width="100%" height="500" scrolling="auto"></iframe>
				</li>
			</ul>
		</c:if>
		<!-- EFT -->
		<c:if test="#{applicationData.userLocale.language=='tr'}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/banking/eft.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title">Yurtiçi Eşzamanlı Banka Havalesi</span>
				</li>
				<li style="display:none;">
					<ui:include src="/jsp/pages/eft_content.xhtml" /><!-- eft.jsf -->
				</li>
			</ul>
		</c:if>
		<!-- WEB MONEY / ISN'T USED -->
		<c:if test="#{applicationData.haveWebmoneyOption and user.currencyId == 6 and applicationData.userLocale.language=='ru'}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'webMoneyDepositForm:');">
					<img src="#{applicationData.imagesPath}/banking/webmoney_card.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['webmoney.header']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['webMoneyDepositForm:menu_selecter'] == 'webmoney')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/webMoney_content.xhtml" /><!-- webMoney.jsf -->
				</li>
			</ul>
		</c:if>
		<!-- MO  A / ISN'T USED-->
		<c:if test="#{applicationData.haveMonetaOption and (user.currencyId == 2 or user.currencyId == 3) and applicationData.userLocale.language=='ru'}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<span class="paymentMethods_title">Moneta</span>
				</li>
				<li style="display:none;">
					<!-- envoyDepositMoneta.jsf -->
					<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/single_pages/envoyDepositForward.jsf?refresh=true&amp;method=MONETA" width="100%" height="500" scrolling="auto"></iframe>
				</li>
			</ul>
		</c:if>
		<!-- ENVOY / Domestice Payments / ISN'T USED -->
		<c:if test="#{false and ((applicationData.haveEnvoyOption and !applicationData.haveDeltaPayChina and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and applicationData.userLocale.language!='tr' and user.skinId != 1) or user.countryId == 145) }">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/domestic.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title">Deposit</span>
				</li>
				<li style="display:none;">
					<!-- envoyDeposit.jsf -->
					<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/single_pages/envoyDeposit_content_noDesign.jsf?refresh=true" width="100%" height="320" scrolling="auto"></iframe>
				</li>
			</ul>
		</c:if>
		<!-- SKRILL -->
		<c:if test="#{user.skinId != 1 and user.skinId != 15 and user.skinId != 25 and user.skinId != 26 and ((applicationData.userLocale.language!='kr') || (user.currencyId != 8 and applicationData.userLocale.language=='kr' and user.currencyId != 6))}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'moneybookersDepositForm:');">
					<img src="#{applicationData.imagesPath}/banking/skrill.gif" class="paymentMethods_img" />
					<span class="paymentMethods_title"><h:outputText value="#{msgs['moneybookers.header']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['moneybookersDepositForm:menu_selecter'] == 'moneybookers')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/moneybookers_content.xhtml" /><!-- moneybookers.jsf -->
				</li>
			</ul>
		</c:if>	
		<!--inatec iframe-->
		<!-- IDEAL -->
		<c:if test="#{user.skinId != 1 and applicationData.haveInatecIdealOption}">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this);">
					<img src="#{applicationData.imagesPath}/banking/ideal.gif" class="paymentMethods_img"/>
					<span class="paymentMethods_title"><h:outputText value="#{msgs['ideal.header']}"/></span>
				</li>
				<li style="display:none;">
					<iframe id="inatecIframe" name="inatecIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/single_pages/inatecIframeDeposit_content_noDesign.jsf?refresh=true" width="100%" height="575" scrolling="auto"></iframe>
				</li>
			</ul>
		</c:if>
		<c:if test="#{user.currencyId == 7 and applicationData.userLocale.language!='kr' and user.skinId != 25 and user.skinId != 26 and !applicationData.isLive} ">
			<ul class="paymentMethods_ul">
				<li class="paymentMethods_li1" onclick="open_deposit(this,'cupForm:');">
					<img src="#{applicationData.imagesPath}/banking/unionpay.gif" class="paymentMethods_img mr60"/>
					<span class="paymentMethods_title"><h:outputText value="#{msgs['deltapay.header']}"/></span>
				</li>
				<li style="#{(facesContext.externalContext.requestParameterMap['cupForm:menu_selecter'] == 'cup')?'display:block;':'display:none'}">
					<ui:include src="/jsp/pages/cupDepositContent.xhtml" /><!-- cupDeposit.jsf -->
				</li>
			</ul>
		</c:if>

		<c:if test="#{applicationData.skinId != 1 and newCardForm.firstDeposit}">
			<ui:include src="/jsp/html_elements/reg_progress.xhtml" >
				<ui:param name="active2" value="selected" />
			</ui:include>
		</c:if>

	</div>
</div>
<c:if test="#{facesContext.externalContext.requestParameterMap['direct24_2:menu_selecter'] == 'direct24_2'}">
	<script>set_deposit_prefix('direct24_2:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['direct24_3:menu_selecter'] == 'direct24_3'}">
	<script>set_deposit_prefix('direct24_3:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['direct24_4:menu_selecter'] == 'eps'}">
	<script>set_deposit_prefix('direct24_4:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['baroPayDepositForm:menu_selecter'] == 'baropay'}">
	<script>set_deposit_prefix('baroPayDepositForm:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['ukashFrom:menu_selecter'] == 'ukash'}">
	<script>set_deposit_prefix('ukashFrom:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['webMoneyDepositForm:menu_selecter'] == 'webmoney'}">
	<script>set_deposit_prefix('webMoneyDepositForm:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['moneybookersDepositForm:menu_selecter'] == 'moneybookers'}">
	<script>set_deposit_prefix('moneybookersDepositForm:');</script>
</c:if>
<c:if test="#{facesContext.externalContext.requestParameterMap['cupForm:menu_selecter'] == 'cup'}">
	<script>set_deposit_prefix('cupForm:');</script>
</c:if>
</c:if>
</f:view>