<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="account_left">
		<t:saveState value="#{payPalWithdrawForm}" />

			<TABLE cellpadding="6" cellspacing="0" width="714px" border="0" align="center">
			 <tr align="#{applicationData.pageAlignment}">
			  <td>
			
			    <h:panelGroup >
			
			        <h:form id="payPalWithdrawForm">
				        <h:inputHidden value="#{visit.generate}" />
				        <h:inputHidden value="#{visit.saveToken}" />
			
			            <h:panelGrid columns="1" style="text-align:#{applicationData.pageAlignment};">
			
				            <h:outputText escape="false" styleClass="info_messages_normal" value="#{payPalWithdrawForm.message}" />
							<br/>
			   	            <h:outputText styleClass="info_messages" value="#{msgs['bank.wire.approve.question']}"/>
			
				 	        <h:panelGroup>
					         	<span class="send_button send_but" onclick="return myfaces.oam.submitForm('payPalWithdrawForm','payPalWithdrawForm:hiddencancel');">Cancel</span>
								<t:commandButton action="#{payPalWithdrawForm.notApprove}" id="hiddencancel" style="position:absolute;left:-9999em;"></t:commandButton>
								&#160;&#160;&#160;&#160;&#160;
					         	<span class="send_button send_but" onclick="return myfaces.oam.submitForm('payPalWithdrawForm','payPalWithdrawForm:hiddensave');">Continue</span>
								<t:commandButton action="#{payPalWithdrawForm.approve}" id="hiddensave" style="position:absolute;left:-9999em;"></t:commandButton>
						    </h:panelGroup>
			            </h:panelGrid>
			            </h:form>
			    </h:panelGroup>
			  </td>
			 </tr>
			</TABLE>
	</div>
</f:view>