<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['deposit.jsf.title']}"/>
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<h:panelGroup rendered="#{applicationData.skinId != 1}">
			<script>
				optimoveReportGeneralEvent(optimoveEvents.deposit, {});
			</script>
		</h:panelGroup>
		<div class="page_bgr">
			<!--Titles-->
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
				<ui:param name="h1" value="#{msgs['header.myaccount']}" />
				<ui:param name="h2" value="" />
				<ui:param name="secure" value="true" />
			</ui:include>
			
			<div class="my_account_menu">
				<!--left menu-->
				<ui:include src="/jsp/pages/html_elements/my_account_menu.xhtml"/>
			</div>
			<div class="my_account_main">
				<!--content in-->
				<ui:include src="/jsp/pages/receipt_content.xhtml"/>
				<c:if test="${applicationData.isLive}">
					<c:if test="${user.isFirstTimeDeposit}">
						<ui:include src="/jsp/html_elements/depositPixels.xhtml">
							<ui:param name="transaction" value="#{transaction}" />
						</ui:include>
					</c:if>
				</c:if>
				
				<h:outputText value="#{user.firstDepositPixel}" escape="false" />
				<h:outputText value="#{user.firstDepositAffiliatePixel}" escape="false" />
				<h:outputText value="#{user.firstDepositSubAffiliatePixel}" escape="false" />
			</div>
			<span class="float_fix"></span>
		</div>
		<script>
		/*$(document).ready(function(){
			shouldShowRegulationPopup("receipt_first_deposit_page", function(){});
		});*/
		</script>
	</ui:define>

</ui:composition>

</f:view>
