<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	
	<c:set var="continueLinkValue" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"/>
	<c:if test="${userRegulation.userInDepositStep}">
		<c:set var="continueLinkValue" value="#{facesContext.externalContext.requestContextPath}/#{applicationData.GUI}/pages/questionnaire.jsf"/>
	</c:if>
	<c:if test="${!userRegulation.userInDepositStep and applicationData.APIGUI}">
		<c:set var="continueLinkValue" value="#{facesContext.externalContext.requestContextPath}/API/pages/deposit.jsf"/>
	</c:if>
	
	<div class="popup-bgr receipt-popup-holder" id="popup_v1_holder">
		<div class="popup_v1" id="popup_v1">
			<span onclick="closeAnimatedPopUp('popup_v1', this)" data-url="${continueLinkValue}" class="pop_close"></span>
			<h3 class="title_v1">
				<h:outputText escape="false" value="#{msgs['creditcard.deposit.success']}"/>
			</h3>
			<div class="mt15">
				<i class="success-icon"></i>
			</div>
			<div class="text-info">
				<h:panelGroup rendered="#{transaction.typeId != 28}">
					<h:panelGroup rendered="#{transaction.clearingProviderId == 26 || transaction.clearingProviderId == 27 || transaction.clearingProviderId == 28}">
						<h:outputText escape="false" value="#{msgs['receipt.bank_descriptor']}"/><br />
					</h:panelGroup>
					<b><h:outputText escape="false" value="#{transactionFormater.getAmountTxt(transaction)}"/> </b> 
					<h:outputText escape="false" value="#{msgs['receipt.add']}"/><br />
				</h:panelGroup>
				
				<h:panelGroup rendered="#{transaction.typeId == 28}">
					<h:outputText escape="false" value="#{msgs['deposit.ach.success']}"/><br />
				</h:panelGroup>
				
				<span class="fs14">
					<h:outputText value="#{msgs['receipt.transactionid']}"/>: <b><h:outputText value="#{transaction.id}"/></b>
				</span>
				
				<h:panelGroup rendered="#{transaction.typeId == 30 &amp;&amp; transaction.ukash.differentCurrencies &amp;&amp; transaction.currency.id != 5}"> <!-- Ukash General conversion message -->
					<br/><h:outputText escape="false" styleClass="pages_text taL" value="#{msgs['ukash.exchange.rates']}" /><br/>
				</h:panelGroup>

				<h:panelGroup rendered="#{transaction.typeId == 30 &amp;&amp; transaction.ukash.differentCurrencies &amp;&amp; transaction.currency.id == 5}"> <!-- Ukash TRY conversion message -->
					<br/><h:outputText escape="false" styleClass="pages_text taL" value="#{msgs['ukash.converted.amount']}" /><br/>
					<br/><h:outputText escape="false" styleClass="pages_text taL" value="#{transactionFormater.getConversionMsg(transaction.ukash)}" /><br/><br/>
				</h:panelGroup>
				<br/>
				<h:outputFormat escape="false" value="#{msgs['receipt.clearing.provider']}" styleClass="standard"  rendered="#{transaction.clearingProviderDescriptor != null}"> 
	                <f:param value="#{transaction.clearingProviderDescriptor}" />
            	</h:outputFormat>	
    
			</div>
			
			<div class="buttons-holder table">
				<div class="cell">
					<button class="buttom-v1" onclick="window.open('../jsp/pages/receipt_print.jsf;#{applicationData.sessionIdString}','receiptwindow','menubar=1,resizable=1,width=400,height=500');">
						<h:outputText escape="false"  value="#{msgs['mobile.view.receipt']}" />
					</button>
				</div>
				<div class="cell">
					<button class="buttom-v1" onclick="closeAnimatedPopUp('popup_v1', this)" data-url="${continueLinkValue}">
						<h:outputText escape="false" value="#{msgs['button.continue']}" />
					</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		$(document).ready(function(){
			shouldShowRegulationPopup("receipt_deposit_page", function(){});
			//Uncomment the below line if the receipt should be on top of the questionnaire
			//$('body').append($('#popup_v1_holder'));
		});
	</script>
</f:view>