<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['anyoption.title']}"/>
	</ui:define>
	<!-- Head -->
	<ui:define name="head">
		<script>
		if (#{user.firstTimeLogin}) {
			#{user.setFirstTimeLogin}
		}
		</script>
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
			<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js?version=cvsTimeStamp"></script>
		</h:panelGroup>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['header.myaccount']}" />
					<ui:param name="h2" value="#{msgs['header.myaccount.message.transactions']}" />
				</ui:include>
				
				<!--content in-->
				<h:form id="regAcceptAgreementForm" onsubmit="regAcceptAgreement_submit();return false;">
					<h:inputHidden value="#{visit.generate}" />
					<h:inputHidden value="#{visit.saveToken}" />
					
					<ui:include src="/jsp/pages/register_accept_agreement_content.xhtml"></ui:include>
					
				</h:form>
				<script>initRegForm('full_reg',#{applicationData.skinId});</script>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="supportContactus" value="true" />
					<ui:param name="secureIco" value="true" />
					<ui:param name="investments_profit_none" value="true" />
					<ui:param name="thawte" value="true" />
					<ui:param name="regulationPop" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>

</f:view>