<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<h:panelGroup rendered="#{!empty applicationData.getBannerFile()}">
		<img src="#{applicationData.bannerFile}" />
	</h:panelGroup>
	<div class="full_reg_holder mt20 taL p0">
		<ui:include src="/jsp/html_elements/reg_progress_et.xhtml" >
			<ui:param name="substep" value="2" />
		</ui:include>
		<!--<div class="register_additional_holder register_additional_holder_#{applicationData.userLocale.language}">-->
		<div class="deposit_holder deposit_holder_#{applicationData.userLocale.language} register_additional_holder">
			<div class="clear mt20">
				<!--<span class="register_additional_h1" id="register_additional_h1"><h:outputText value="#{msgs['CMS.registerAdditionalContent.text.h1']}" /></span>-->
				<div style="margin-bottom:50px;font-weight:normal;font-size:12px;line-height:16px;">
					<h:outputText value="#{msgs['SEC_warning.text1']}" escape="false"/>
					<h:outputText value="#{msgs['SEC_warning.text2']}" escape="false"/>
				</div>
			</div>
			<div class="fL" style="width:315px;">
				<div class="funnel_inp_holder">
					<h:inputText styleClass="funnel_inp funnel_inp_first_name" size="37" maxlength="40" id="firstName" alt="#{msgs['register.firstname.caps'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateFirstName(this);"
						value="#{userAdditionalInfoForm.firstName}" required="true"
						validator="#{commonUtil.validateName}"/>
					<h:inputText rendered="#{applicationData.skinId == 1}" styleClass="funnel_inp funnel_inp_last_name" maxlength="40" id="lastName" alt="#{msgs['register.lastname.caps'].toUpperCase()}" 
						value="#{userAdditionalInfoForm.lastName}" required="true"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateLastName(this);" validator="#{commonUtil.validateName}"/>
					<span class="funnel_names_error_h">
						<span id="userAdditionalInfoForm:name_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:name_error_txt_in"></span>
						</span>
					</span>
					<div class="register_additional_error_holder">
						<span id="userAdditionalInfoForm:firstName_error_txt" class="register_additional_error"></span>
						<span id="userAdditionalInfoForm:lastName_error_txt" class="register_additional_error"></span>
					</div>
				</div>
				<div class="funnel_inp_holder">
					<input class="funnel_inp funnel_inp_email_disabled" type="text" value="#{user.email}" disabled="true" />
					<div class="register_additional_error_holder">
					
					</div>
				</div>
				
				<div class="funnel_inp_holder">
					<h:inputText id="mobilePhoneSuffix" styleClass="funnel_inp funnel_inp_mobile_phone_sufix" dir="ltr" value="#{userAdditionalInfoForm.mobilePhone}" maxlength="20" required="true" rendered="#{applicationData.skinId == 1}" onblur="validatePhoneNumberTag(this);" alt=" ">
						<f:validateLongRange/>
						<f:validateLength minimum='7' maximum='20'/>
					</h:inputText>
					<div class="select-wrapper mobilePhonePrefWrapper">
						<h:selectOneMenu id="mobilePhonePref" styleClass="funnel_inp funnel_inp_sel_content funnel_inp_mobile_phone_prefix" value="#{userAdditionalInfoForm.mobilePhonePrefix}" maxlength="4" required="true" rendered="#{applicationData.skinId == 1}" alt=" ">
							<f:selectItem  itemLabel="" itemValue=""/>
							<f:selectItems value="#{applicationData.mobilePref}"/>
						</h:selectOneMenu>
						<script>beautifySelect('userAdditionalInfoForm:mobilePhonePref')</script>
					</div>
					<span class="funnel_names_error_h">
						<span id="userAdditionalInfoForm:mobilePhone_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:mobilePhonePref_error_txt_in"></span>
						</span>
					</span>
					<span class="funnel_names_error_h">
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:mobilePhoneSuffix_error_txt_in"></span>
						</span>
					</span>
					<div class="register_additional_error_holder">
						<span id="userAdditionalInfoForm:mobilePhoneSuffix_error_txt" class="register_additional_error"></span>
						<span id="userAdditionalInfoForm:mobilePhonePref_error_txt" class="register_additional_error"></span>
					</div>
				</div>
				
				<div class="funnel_inp_holder">
					<input class="funnel_inp funnel_inp_password_disabled" type="password" maxlength="9" value="******" disabled="true" />
					<div class="register_additional_error_holder">
					
					</div>
				</div>
				<div class="funnel_inp_holder">
					<input class="funnel_inp funnel_inp_password_disabled" type="password" maxlength="9" value="******" disabled="true" />
					<div class="register_additional_error_holder">
					
					</div>
				</div>
				
				
				<div class="clear funnel_error_list">
					<h:panelGroup rendered="#{commonUtil.hasMessages}">
						<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
					</h:panelGroup>
				</div>
				
			</div>
			<div class="fR" style="width:315px;">
				<h:panelGroup rendered="#{applicationData.skinId == 1 and applicationData.isETRegulation()}">
					<div class="funnel_inp_holder">
						<h:inputText styleClass="funnel_inp funnel_inp_idNum" style="margin:0 0 7px;" maxlength="10" id="idNum" size="15" alt="#{msgs['register.idnum'].toUpperCase()}"
							value="#{userAdditionalInfoForm.idNum}"
							onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateHolderIdNum(this)" />

						<span class="funnel_names_error_h">
							<span id="userAdditionalInfoForm:idNum_error" class="funnel_error_hide"></span>
							<span class="funnel_names_error_msg_h">
								<span id="userAdditionalInfoForm:idNum_error_txt_in"></span>
							</span>
						</span>
						<div class="register_additional_error_holder">
							<span id="userAdditionalInfoForm:idNum_error_txt" class="register_additional_error"></span>
							<t:message id="idNumError" for="idNum" replaceIdWithLabel="true" styleClass="register_additional_error"/>
						</div>
					</div>
					<script>
					var idNumId = 'idNum';
					if(g('userAdditionalInfoForm:' + idNumId + 'Error').innerHTML == '#{msgs['error.register.useridnum.inuse']}'){
						var inUseHolderIdNum = g('userAdditionalInfoForm:' + idNumId).value;
						g('userAdditionalInfoForm:' + idNumId).className = g('userAdditionalInfoForm:' + idNumId).className.replace(/ error/g,'');
						g('userAdditionalInfoForm:' + idNumId).className = g('userAdditionalInfoForm:' + idNumId).className.replace(/ correct/g,'');
						g('userAdditionalInfoForm:' + idNumId).className += " error";
						g('userAdditionalInfoForm:' + idNumId + '_error').className = "funnel_error_bad";
					}
					</script>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId == 1 and !applicationData.isETRegulation()}">
					<div class="funnel_inp_holder">
						<input class="funnel_inp funnel_inp_idnum_disabled" type="text" value="#{userAdditionalInfoForm.idNum}" readonly="true" />
						<div class="register_additional_error_holder">
						
						</div>
					</div>
				</h:panelGroup>
				<div class="funnel_inp_holder">
					<h:inputText styleClass="funnel_inp funnel_inp_street" size="37" maxlength="40" id="street" alt="#{msgs['CMS.registerContent.label.register.street'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateStreet(this);"
						value="#{userAdditionalInfoForm.street}" required="true"
						validator="#{commonUtil.validateStreet}"/>
					<h:inputText rendered="#{applicationData.skinId == 1}" styleClass="funnel_inp funnel_inp_streetno" maxlength="6" id="streetno" alt="#{msgs['register.streetno'].toUpperCase()}" 
						value="#{userAdditionalInfoForm.streetNo}" required="true"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');this.className = this.className.replace(/ active/g,'');" validator="#{commonUtil.validateStreetNo}"/>
					<span class="funnel_names_error_h">
						<span id="userAdditionalInfoForm:streetAddress_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:street_error_txt_in"></span>
							<span id="userAdditionalInfoForm:streetno_error_txt_in"></span>
						</span>
					</span>
					<div class="register_additional_error_holder">
						<span id="userAdditionalInfoForm:street_error_txt" class="register_additional_error"></span>
						<t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="register_additional_error"/>
						<span id="userAdditionalInfoForm:streetno_error_txt" class="register_additional_error"></span>
						<t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="register_additional_error"/>
					</div>
				</div>
				
				<div class="funnel_inp_holder">
					<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityNameET(this)" name="cityNameAO" 
						value="#{userAdditionalInfoForm.cityNameAO}" required="true"
						validator="#{commonUtil.validateLettersOnlyCityET}" >
					</h:inputText>
					<script>citiesObj = new actb(g('userAdditionalInfoForm:cityNameAO'), citiesArr);</script>
					<span class="funnel_names_error_h">
						<span id="userAdditionalInfoForm:cityNameAO_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:cityNameAO_error_txt_in"></span>
						</span>
					</span>
					<div class="register_additional_error_holder">
						<span id="userAdditionalInfoForm:cityNameAO_error_txt" class="register_additional_error"></span>
						<t:message id="cityNameAOError" for="cityNameAO" replaceIdWithLabel="true" styleClass="register_additional_error"/>
					</div>
				</div>
				
				<div class="funnel_inp_holder">
					<h:inputText styleClass="funnel_inp" style="margin:0 0 7px;" maxlength="10" id="zipCode" size="15" alt="#{msgs['CMS.registerContent.label.register.postcode'].toUpperCase()}"
						value="#{userAdditionalInfoForm.zipCode}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this)" />

					<span class="funnel_names_error_h">
						<span id="userAdditionalInfoForm:zipCode_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:zipCode_error_txt_in"></span>
						</span>
					</span>
					<div class="register_additional_error_holder">
						<span id="userAdditionalInfoForm:zipCode_error_txt" class="register_additional_error"></span>
						<t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="register_additional_error"/>
					</div>
				</div>
				
				<div class="funnel_inp_holder">
					<h:outputText id="bday" styleClass="deposit_row_title birthDateTitle" value="#{msgs['register.birthdate']}"/>
					<div class="select-wrapper birthDay">
						<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="birthDay" value="#{userAdditionalInfoForm.birthDay}" required="true" onchange="validateBirthDay(this)" onblur="validateBirthDay(this)">
							<f:selectItem itemLabel="#{(applicationData.skinId==1)? msgs['register.birthday'] : msgs['register.birthday.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.days}" />
						</h:selectOneMenu>
						<script>beautifySelect('userAdditionalInfoForm:birthDay')</script>
					</div>
					<div class="select-wrapper birthMonth">
						<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="birthMonth" value="#{userAdditionalInfoForm.birthMonth}" required="true" onchange="validateBirthMonth(this)" onblur="validateBirthMonth(this)">
							<f:selectItem  itemLabel="#{(applicationData.skinId==1)? msgs['register.birthmonth'] : msgs['register.birthmonth.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.months}" />
						</h:selectOneMenu>
						<script>beautifySelect('userAdditionalInfoForm:birthMonth')</script>
					</div>
					<div class="select-wrapper birthYear">
						<h:selectOneMenu styleClass="funnel_inp funnel_inp_sel_content" id="birthYear" value="#{userAdditionalInfoForm.birthYear}" required="true" onchange="validateBirthYear(this)" onblur="validateBirthYear(this)">
							<f:selectItem  itemLabel="#{(applicationData.skinId==1)? msgs['register.birthyear'] : msgs['register.birthyear.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.years}" />
						</h:selectOneMenu>
						<script>beautifySelect('userAdditionalInfoForm:birthYear')</script>
					</div>
					<span class="funnel_names_error_bday">
						<span id="userAdditionalInfoForm:birthDate_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="userAdditionalInfoForm:birthYear_error_txt_in"></span>
							<span id="userAdditionalInfoForm:birthMonth_error_txt_in"></span>
							<span id="userAdditionalInfoForm:birthDay_error_txt_in"></span>
						</span>
					</span>
					<div class="clear register_additional_error_holder">
						<span id="userAdditionalInfoForm:birthYear_error_txt" class="register_additional_error"></span>
						<t:message id="birthYearError" for="birthYear" detailFormat="#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="register_additional_error"/>
						<span id="userAdditionalInfoForm:birthMonth_error_txt" class="register_additional_error"></span>
						<t:message id="birthMonthError" for="birthMonth" detailFormat="#{msgs['error.register.month']}" replaceIdWithLabel="true" styleClass="register_additional_error"/>
						<span id="userAdditionalInfoForm:birthDay_error_txt" class="register_additional_error"></span>
						<t:message id="birthDayError" for="birthDay" detailFormat="#{msgs['error.register.day']}" replaceIdWithLabel="true" styleClass="register_additional_error"/>
					</div>
					<div class="clear mb2"></div>
				</div>
				
				
				<div class="funnel_inp_holder">
					<h:outputText for="gender" value="#{msgs['register.gender']}"/>
					<t:selectOneRadio id="gender" value="#{userAdditionalInfoForm.gender}" layout="spread">
						<f:selectItem itemLabel="#{msgs['register.gender.male']}" itemValue="M"/>
						<f:selectItem itemLabel="#{msgs['register.gender.female']}" itemValue="F"/>
					</t:selectOneRadio>
					<div class="radio_holder">
						<t:radio for="gender" index="0"/>
					</div>
					<div class="radio_holder">
						<t:radio for="gender" index="1"/>
					</div>
				</div>
				<div class="funnel_inp_holder funnel_submit_field  funnel_submit_field_#{applicationData.userLocale.language}">
					<a onclick="userAdditional_submit();return false;" class="btn_open_account btn_open_account_h clear" id="btn_userAdditional">
						<span class="rs btn_open_account">
							<span class="cs btn_open_account">
								<h:outputText value="#{msgs['register.go.to.step.3']}" />
							</span>
						</span>
					</a>
				</div>
				<h:commandButton action="#{userAdditionalInfoForm.upadateUserInfo}" id="hiddenUserAdditional" style="display:none"/>
			</div>
			<span class="float_fix"></span>
			
		</div>
	</div>
</f:view>