<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['anyoption.title']}"/>
	</ui:define>
	<!-- Head -->
	<ui:define name="head">
		<c:set var="firstTimeLogin" value="#{user.firstTimeLogin and prettyContext.getCurrentInstance().getRequestURL().toURL().endsWith('/first-register-additional')}" scope="request" />
		
		<script>
		if (#{user.firstTimeLogin}) {
			#{user.setFirstTimeLogin}
		}
		</script>
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
			<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js?version=cvsTimeStamp"></script>
			<script type="text/javascript">
				var citiesArr  = new Array(#{applicationData.citiesListString});
			</script>
		</h:panelGroup>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['header.myaccount']}" />
					<ui:param name="h2" value="#{msgs['header.myaccount.message.transactions']}" />
				</ui:include>
				
				<!--content in-->
				<h:form id="userAdditionalInfoForm" onsubmit="userAdditional_submit();return false;">
					<h:inputHidden value="#{visit.generate}" />
					<h:inputHidden value="#{visit.saveToken}" />
					
					<ui:include src="/jsp/pages/register_additional_content.xhtml"></ui:include>
					
				</h:form>
				<script>initRegForm('',#{applicationData.skinId});</script>
			</div>
			<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="supportContactus" value="true" />
					<ui:param name="secureIco" value="true" />
					<ui:param name="investments_profit_none" value="true" />
					<ui:param name="thawte" value="true" />
					<ui:param name="regulationPop" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
		
		<h:panelGroup rendered="#{applicationData.skinId == 1 and firstTimeLogin and applicationData.isLive}" >
		   <h:outputText value="#{user.setFirstTimeRegister}" />
		   <h:outputText value="#{user.registrationPixel}" escape="false" />
		   <h:outputText value="#{user.registrationAffiliatePixel}" escape="false" />
		   <h:outputText value="#{user.registrationSubAffiliatePixel}" escape="false" />
		   
		   <h:panelGroup rendered="#{applicationData.skinId == 1}">
			<!-- Google Code for firstNewCard Conversion Etrader Account Page -->
	           <script type="text/javascript">
	             /* <![CDATA[ */
	             var google_conversion_id = 1066037194;
	             var google_conversion_language = "en";
	             var google_conversion_format = "3";
	             var google_conversion_color = "ffffff";
	             var google_conversion_label = "LyXTCJb_1gIQyt-p_AM";
	             var google_conversion_value = 0;
	             /* ]]> */
	            </script>
	           <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
	           </script>
	           <noscript>
	           <div style="display:inline;">
	           <img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1066037194/?value=0&amp;label=LyXTCJb_1gIQyt-p_AM&amp;guid=ON&amp;script=0"/>
	           </div>
	           </noscript>	
				
				<c:if test="${applicationData.firstTimePixel}">
					<!-- Tag for Activity Group: Remarketing, Activity Name: Full_Reg_IL, Activity ID: 1047918 -->
					<!-- Expected URL: http://www.etrader.co.il/jsp/index.jsf -->
					
					<!--Activity ID: 1047918-->
					<!--Activity Name: Full_Reg_IL-->
					<!--Activity Group Name: Remarketing-->
					
					<!--
					Start of DoubleClick Floodlight Tag: Please do not remove
					Activity name of this tag: Full_Reg_IL
					URL of the webpage where the tag is expected to be placed: http://www.etrader.co.il/jsp/index.jsf
					This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
					Creation Date: 08/27/2012
					-->
					<script type="text/javascript">
					var axel = Math.random() + "";
					var a = axel * 10000000000000;
					document.write(unescape("%3Ciframe src='https://fls.doubleclick.net/activityi;src=3165381;type=remar871;cat=full_529;u2=" + #{user.id} + ";ord=" + a + "?' width='1' height='1' frameborder='0' style='display:none' %3E%3C/iframe%3E"));
					</script>
					<noscript>
					<iframe src="https://fls.doubleclick.net/activityi;src=3165381;type=remar871;cat=full_529;u2=[Registration ID];ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
					</noscript>
					
					<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
				</c:if>
	    	</h:panelGroup>   
		</h:panelGroup>
	</ui:define>
</ui:composition>

</f:view>