<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<script>
		var link_risk = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}&#35;/general-terms/risk";
		var link_agreement = "#{facesContext.externalContext.requestContextPath}/jsp/agreement.jsf&#63;refresh=true&#38;cid=33";
		var link_privacy = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}";
	</script>

	<div class="questionnaire_content" ng-controller="userSingleQuestionnaireCtr">
		<i class="reg_log_close_img" ng-click="setQuestionnairePopupType(false)"></i>
		<h1><h:outputText value="#{msgs['CMS.single_questionnaire_popUp.text.heading']}" escape='false'/></h1>
		<i class="questionnaire_img"></i>
		<form name="_form" novalidate="novalidate">
			<div class="deposit_holder questionnaire_holder" ng-repeat="screen in screens" ng-show="activeScreen == $index">
				<div ng-if="activeScreen == 0">
					<p><h:outputText value="#{msgs['CMS.single_questionnaire_popUp.text.step1.txt1']}" escape='false'/></p>
					<p><h:outputText value="#{msgs['CMS.single_questionnaire_popUp.text.step1.txt2']}" escape='false'/></p>
					<h2 class="mt30"><h:outputText value="#{msgs['CMS.single_questionnaire_popUp.text.step1.ul.heading']}" escape='false'/></h2>
				</div>
				<div ng-if="activeScreen == screens.length - 1">
					<h2><h:outputText value="#{msgs['CMS.single_questionnaire_popUp.text.step2.ul.heading']}" escape='false'/></h2>
				</div>
				<div class="questionnaire_list separate" ng-repeat="question in screen">
					<div ng-if="question.questionType == 'DROPDOWN'">
						<p>{{$index + 1}}. {{question.translatation}}</p>
						<div class="select-wrapper" ng-class="{ error: question.hasError }">
							<select name="question_{{question.id}}" ng-model="question.userAnswer" required="question.mandatory" class="funnel_inp funnel_inp_sel_content"
								ng-options="answer.translation for answer in question.answers" 
								ng-change="submitSQuestionnaire(false)">
							</select>
							<span>{{question.userAnswer.translation}}</span>
							<span class="question-error-txt" ng-if="question.hasError">{{getMsgs('error-mandatory')}}</span>
						</div>
					</div>
					<div ng-show="question.userAnswer.answerType == 'FREETEXT'" ng-if="question.questionType == 'DROPDOWN'">
						<input class="field small-field" type="text" ng-model="question.userAnswer.textAnswer" />
					</div>
					
					<div ng-if="question.questionType == 'CHECKBOX'">
						<label class="fs14 question-label">
							<input type="checkbox" ng-model="question.userAnswer.id" ng-true-value="{{question.answers[0].id}}" 
								ng-false-value="{{question.answers[1].id}}" id="question_{{question.id}}" ng-change="submitSQuestionnaire(false)"/>
							<span class="checkbox small-check"></span>
							<span ng-bind-html="question.translatation"></span>
							<span class="question-error-txt" ng-if="question.hasError">{{getMsgs('error-mandatory')}}</span>
						</label>
					</div>
				</div>

				<div class="mt20 taC questionnaire_list separate" ng-if="activeScreen &lt; screens.length - 1">
					<button class="button-css blue" ng-click="regulationQuestNext()">
						<h:outputText value="#{msgs['mobile.button.next']}" escape="false"/> »
					</button>
				</div>
				
				<div class="mt20 taC questionnaire_list separate" ng-if="activeScreen == screens.length - 1">
					<button class="button-css blue" ng-class="{ loading: loading }" ng-click="submitSQuestionnaire(true, _form)" ng-disabled="loading">
						<h:outputText value="#{msgs['CMS.button.trade_now']}" escape="false"/> »
					</button>
				</div>
				<div class="error-message taC questionnaire_list separate" id="globalErrorField"></div>
			</div>
		</form>
	</div>
</f:view>