<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="account_left">
		<h:panelGroup rendered="#{transaction.statusId == 2}">
			<script>
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/receipt.jsf";
			</script>
		</h:panelGroup>


		<TABLE cellpadding="0" cellspacing="8" width="714px" border="0" valign="middle">
			<tr>
				<td align="center">
					<h:outputText styleClass="error_messages" value="#{msgs['error.creditcard.3d']}"/>
				</td>
			</tr>
			<tr>
				<td align="left">
					<ui:include src="/jsp/pages/html_elements/depositContent.xhtml" />
				</td>
			</tr>
		</TABLE>
	</div>
</f:view>