<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	
	<script>
		var predefinedDepositAmountJsonMap = #{commonUtil.getPredefinedDepositAmountJsonMap()};
	</script>

<h:form id="ukashFrom" onsubmit="ukash_submit(#{newCardForm.firstDeposit});return false;">
	<ui:remove>
		<h:inputHidden value="#{visit.generate}" />
		<h:inputHidden value="#{visit.saveToken}" />
	</ui:remove>
	<div class="deposit_holder">
		<div class="funnel_inp_holder">
			<h:inputText dir="ltr" maxlength="19" styleClass="funnel_inp" id="voucherNumber" value="#{depositForm.ukashInfo.voucherNumber}" required="true" 
				alt="#{msgs['ukash.voucher.number'].toUpperCase()}" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_ukash_voucher');"
				onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateUkashVoucherNumber(this);hideTooltipDepositField('funnel_tooltip_ukash_voucher');">
				<f:validateDoubleRange />
				<f:validateLength minimum='19' maximum='19'/>
			</h:inputText>
			<span class="funnel_names_error_h funnel_names_error_h_ukash">
				<span id="ukashFrom:voucherNumber_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h_2 dIB">
					<span id="ukashFrom:voucherNumber_error_txt_in"></span>
					<t:message id="voucherNumError" for="voucherNumber" replaceIdWithLabel="true" detailFormat="#{msgs['ukash.voucher.error']}" />
				</span>
			</span>
			<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_ukash_voucher">
				<span class="funnel_tooltip_arrow"></span>
				<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
			</span>
		</div>
		<div class="funnel_inp_holder">
			<h:inputText dir="ltr" styleClass="funnel_inp funnel_inp_amount" maxlength="9" id="voucherValue" value="#{depositForm.ukashInfo.voucherValue}" required="true" 
				 alt="#{msgs['ukash.voucher.value'].toUpperCase()}" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_ukash_amount');"
				 onfocus="inpFocus(this,'t');setDirty();" onblur="inpFocus(this,'t');validateDepositAmount(this);hideTooltipDepositField('funnel_tooltip_ukash_amount');">
				<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
				<f:validateLongRange minimum="#{depositForm.ukashInfo.minAmount}" />
			</h:inputText>
			<h:selectOneMenu rendered="#{depositForm.firstDeposit}" styleClass="funnel_inp funnel_inp_curency" id="currenciesList" value="#{depositForm.currencyId}" required="true" onchange="updateDefaultDepositAmount(this, 'ukashFrom:voucherValue')">
				<f:selectItems value="#{applicationData.currenciesSignBySkinId}" />
			</h:selectOneMenu>
			<span class="vaM deposit_currency">
					<h:outputText value="&#160; #{msgs[user.currency.symbol]} &#160;" rendered="#{!depositForm.firstDeposit}"/>
				</span>
			<span class="funnel_names_error_h">
				<span id="ukashFrom:voucherValue_error" class="funnel_error_hide"></span>
				<span class="funnel_names_error_msg_h_2">
					<span id="ukashFrom:voucherValue_error_txt_in"></span>
					<t:message id="voucherValueError" for="voucherValue" replaceIdWithLabel="true" detailFormat="#{depositForm.getUkashMinAmountErrMsg()}"/>
				</span>
			</span>
			<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_ukash_amount">
				<span class="funnel_tooltip_arrow"></span>
				<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
			</span>
		</div>
		<h:panelGroup rendered="#{depositForm.firstDepositExcludeBonus}">
			<div class="funnel_inp_holder">
				<h:inputText styleClass="funnel_inp" size="37" maxlength="40" id="street" alt="#{msgs['CMS.registerContent.label.register.street'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateStreet(this);"
					value="#{depositForm.street}" required="true"
					validator="#{commonUtil.validateStreet}" >
				</h:inputText>
				<span class="funnel_names_error_h">
					<span id="ukashFrom:street_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="ukashFrom:street_error_txt_in"></span>
						<t:message id="streetError" for="street" replaceIdWithLabel="true"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityName(this);" name="cityNameAO" 
					value="#{depositForm.cityNameAO}" required="true"
					validator="#{commonUtil.validateLettersOnly}" >
				</h:inputText>
				<span class="funnel_names_error_h">
					<span id="ukashFrom:cityNameAO_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="ukashFrom:cityNameAO_error_txt_in"></span>
						<t:message id="cityNameAOError" for="cityNameAO" replaceIdWithLabel="true" styleClass="error_messages"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:inputText styleClass="funnel_inp" dir="ltr" maxlength="10" id="zipCode" size="15" alt="#{msgs['CMS.registerContent.label.register.postcode'].toUpperCase()}"
					value="#{depositForm.zipCode}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this);" />

				<span class="funnel_names_error_h">
					<span id="ukashFrom:zipCode_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="ukashFrom:zipCode_error_txt_in"></span>
						<t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error_messages"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:outputText id="bdayAO" styleClass="deposit_row_title" value="#{msgs['register.birthdate']}"/>
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthDay" id="birthDay" value="#{newCardForm.birthDay}" required="true" onchange="validateBirthDay(this)" >
					<f:selectItem itemLabel="#{msgs['register.birthday.short']}" itemValue="" />
					<f:selectItems value="#{applicationData.days}" />
				</h:selectOneMenu>
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthMonth" id="birthMonth" value="#{newCardForm.birthMonth}" required="true" onchange="validateBirthMonth(this)">
					<f:selectItem  itemLabel="#{msgs['register.birthmonth.short']}" itemValue="" />
					<f:selectItems value="#{applicationData.months}" />
				</h:selectOneMenu>
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthYear" id="birthYear" value="#{newCardForm.birthYear}" required="true" onchange="validateBirthYear(this)">
					<f:selectItem  itemLabel="#{msgs['register.birthyear.short']}" itemValue="" />
					<f:selectItems value="#{applicationData.years}" />
				</h:selectOneMenu>
				<span class="funnel_names_error_bday">
					<span id="ukashFrom:birthDate_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="ukashFrom:birthYear_error_txt_in"></span>
						<span id="ukashFrom:birthMonth_error_txt_in"></span>
						<span id="ukashFrom:birthDay_error_txt_in"></span>
					</span>
				</span>
			</div>
		</h:panelGroup>
		<div class="clear funnel_error_list_2">
			<span id="ukashFrom:voucherNumber_error_txt"></span>
			<span id="ukashFrom:voucherValue_error_txt"></span>
			<span id="ukashFrom:street_error_txt"></span>
			<span id="ukashFrom:cityNameAO_error_txt"></span>
			<span id="ukashFrom:zipCode_error_txt"></span>
			<span id="ukashFrom:birthDay_error_txt"></span>
			<span id="ukashFrom:birthMonth_error_txt"></span>
			<span id="ukashFrom:birthYear_error_txt"></span>
		</div>
		<div id="funnel_submit_field">
			<a  onclick="ukash_submit(#{newCardForm.firstDeposit});return false;" class="btn_open_account btn_open_account_h clear" id="btn_ukashFrom">
				<span class="rs btn_open_account">
					<span class="cs btn_open_account">
						<h:outputText value="#{msgs['CMS.deposit_pages.text.deposit']}" />
					</span>
				</span>
			</a>
		</div>
		<h:commandButton action="#{depositForm.insertUkashDeposit}" id="hiddenDeposit" styleClass="hidden_btn"/>
			</div>
	<div class="clear">
		<br/><br/>
		<h:outputText styleClass="info_pages_text"  escape="false" value="#{msgs['ukash.exchange.msg']}" /><br/><br/>
		<h:outputText escape="false" styleClass="pages_text" value="#{msgs['ukash.exchange.rates']}" />
	</div>
	<h:panelGroup rendered="#{commonUtil.hasMessages}" width="100%">
		<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	</h:panelGroup>
	<h:inputHidden id="menu_selecter" value="ukash"/>
	<script>initDeposit('ukashFrom:');var user_id = #{user.id};</script>
</h:form>

</f:view>