<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<t:saveState value="#{withdrawForm}" />
  <h:panelGroup styleClass="left_align">
	    <h:panelGroup rendered="#{!commonUtil.hasErrorMessages}" >
			<span style="display:none;">#{withdrawForm.initWithdrawForm}</span>
		</h:panelGroup>

        <h:form id="withdrawForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

     	    <h:panelGrid columns="1" border="0" columnClasses="left_align" >

				<h:panelGrid columns="1" border="0" cellspacing="0" cellpadding="0" styleClass="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}">
			        <h:outputText value="#{msgs['header.webmoney.withdrawal']}" styleClass="info_pages_text_header" style="align:center;"/>
		     	</h:panelGrid>

				<h:panelGrid border="0" columns="2" styleClass="left_align" align="left">

		            <h:panelGrid columns="2"  border="0" align="#{applicationData.pageAlignment}" rowClasses="#{applicationData.pageAlignment}_align">

						<h:outputLabel styleClass="new_lable" for="accountNum" value="#{msgs['withdraw.envoy.account']}"/>
						<h:panelGroup>
							<h:panelGroup rendered="#{user.currencyId != 6}">
								<h:selectOneMenu styleClass="combobox width_100_prc" immediate="true" id="accountNum" value="#{withdrawForm.envoyAccountNum}" required="true">
					       			<f:selectItems value="#{withdrawForm.envoyAccountNumList}" />
					           	</h:selectOneMenu>
				           	</h:panelGroup>
							<h:panelGroup rendered="#{user.currencyId == 6}">
								<h:selectOneMenu styleClass="combobox width_100_prc" immediate="true" id="purseNum" value="#{withdrawForm.webMoneyPurse}" required="true">
					       			<f:selectItems value="#{withdrawForm.webMoneyPurseList}" />
					           	</h:selectOneMenu>
				           	</h:panelGroup>
				        </h:panelGroup>

						<h:panelGrid columns="2" border="0" width="140px" cellspacing="0" cellpading="0">
							<h:outputLabel id="amountlabelid" styleClass="new_lable" for="amount" value="#{msgs['withdraw.amount']}"/>
						   	<h:outputText align="right" rendered="#{(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
		            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
						</h:panelGrid>

		            	<h:panelGroup>
			                <h:inputText styleClass="new_input"  style="width:130px"  dir="#{writer.localInfo.dir}" maxlength="9" id="amount" value="#{withdrawForm.amount}" required="true">
			 					<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
			                </h:inputText>
			                <h:outputText rendered="#{!((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
		            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign))}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
		  	                <h:outputLabel value="&#160;"/>
			                <h:panelGroup columns="1" border="0">
				                <t:message id="amountError" for="amount" replaceIdWithLabel="false" styleClass="error_messages"/>
				                <t:message id="amountError2" for="amountlabelid" replaceIdWithLabel="false" styleClass="error_messages"/>
				            </h:panelGroup>
			            </h:panelGroup>

			            <h:outputLabel value=""/>
						<h:panelGroup>
				            <h:panelGroup rendered="#{user.currencyId != 6}">
			    	    		<span class="ml130 send_button send_but" onclick="myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenbtn');">#{msgs['button.do']}</span>
			    	    		<t:commandButton id="btnImage" style="position:absolute;left:-9999em;"/>
			    	    	    <h:commandLink action="#{withdrawForm.insertEnvoyWithdraw}"
					         		id="hiddenbtn" style="display:none"/>
			        	 	</h:panelGroup>
				            <h:panelGroup rendered="#{user.currencyId == 6}">
								<span class="ml130 send_button send_but" onclick="myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenbtn1');">#{msgs['button.do']}</span>
			    	    		<t:commandButton id="btnImage1" style="position:absolute;left:-9999em;"/>
								<h:commandLink action="#{withdrawForm.insertWebMoneyWithdraw}"
					         		id="hiddenbtn1" style="display:none"/>
			        	 	</h:panelGroup>
			        	 </h:panelGroup>
	             </h:panelGrid>

				</h:panelGrid>

				<h:panelGroup rendered="#{commonUtil.hasMessages}" >
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	           	</h:panelGroup>

	     	</h:panelGrid>

        </h:form>

    </h:panelGroup>

</f:view>

