<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	
	<div class="fL_wire">

		<t:saveState value="#{wireForm}"/>
		<t:saveState value="#{wireForm.wire}"/>

		<h:form id="wireForm">
			<div class="full_reg_holder">
				<c:if test="#{applicationData.skinId == 10}">
					<div class="wire_ru_banner">
						<p class="wire_ru_banner_t1"><h:outputText value="#{msgs['CMS.wire_content.text.baner1']}" escape="false"/></p>
						<p class="wire_ru_banner_t2"><h:outputText value="#{msgs['CMS.wire_content.text.baner2']}" escape="false"/></p>
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/ru/Withdrawal-Russian-Banner.png" width="249" height="96"/>
					</div>
				</c:if>
				<h2 class="heading_inner">
					<h:outputText value="#{msgs['header.bank.wire.withdrawal']}"/>
				</h2>
				<h:inputHidden value="#{visit.generate}"/>
				<h:inputHidden value="#{visit.saveToken}"/>
				<div class="grid">
					<div class="row">
						<h:outputLabel for="beneficiaryName" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.beneficiary.name']}"/>
						<div class="field_box">
							<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="beneficiaryName" value="#{wireForm.wire.beneficiaryName}" required="true"/>
							<c:if test="#{applicationData.skinId == 15}">
								<span class="tooltip icon" data-tooltip="#{msgs['beneficiary.name.tooltip']}"></span>
							</c:if>
							<t:message id="beneficiaryNameError" for="beneficiaryName" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
						</div>
					</div>

					<c:if test="#{applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 1}">
						<div class="row">
							<h:outputLabel for="swift" value="#{msgs['bank.wire.swift']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="swift" value="#{wireForm.wire.swift}" required="true"/>
								<t:message id="swiftError" for="swift" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>

					<c:if test="#{applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 1}">
						<div class="row">
							<h:outputLabel for="iban" value="#{msgs['bank.wire.iban']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="iban" value="#{wireForm.wire.iban}" required="true"/>
								<t:message id="ibanError" for="iban" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>

					<div class="row">
						<h:outputLabel for="accountNum" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.account.number']}"/>
						<div class="field_box">
							<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="20" dir="ltr" id="accountNum" value="#{wireForm.wire.accountNum}" required="true">
								<f:validateLongRange/>
							</h:inputText>
							<t:message id="accountNumError" for="accountNum" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
						</div>
					</div>

					<c:if test="#{applicationData.skinId != 1 &amp;&amp; applicationData.skinId != 15}">
						<div class="row">
							<h:outputLabel for="bankName" value="#{msgs['CMS.myaccount_bank_details.text.bank.wire.bank.name']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="bankName" value="#{wireForm.wire.bankNameTxt}" required="true"/>
								<t:message id="bankNameError" for="bankName" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>
					
					<c:if test="#{applicationData.skinId == 1}">
						<div class="row">
							<h:outputLabel for="bank" value="#{msgs['withdraw.bankName']}"/>
							<div class="field_box">
								<h:selectOneMenu styleClass="bankId_drop field #{(!component.valid) ? 'invalid' : ''}" id="bank" value="#{wireForm.wire.bankId}" required="true">
									<f:selectItems value="#{applicationData.banksSI}"/>
								</h:selectOneMenu>
								<t:message id="bankError" for="bank" replaceIdWithLabel="true" styleClass="error"/>
							</div>
						</div>
					</c:if>
					
					<c:if test="#{applicationData.skinId == 15}">
						<div class="row">
							<h:outputLabel for="bankNameList" value="#{msgs['bank.wire.bank.name']}"/>
							<div class="field_box">
								<h:selectOneMenu styleClass="field #{(!component.valid) ? 'invalid' : ''}" id="bankNameList" value="#{wireForm.bankWireWithdrawalId}" 
										onchange="handleBankNameChange();">
									<f:selectItems value="#{wireForm.bankWireWithdrawal}"/>
								</h:selectOneMenu>
							</div>
						</div>
					</c:if>
					
					<c:if test="#{applicationData.skinId == 15}">
						<div id="bankNameGrid" class="row">
							<h:outputLabel id="bankNameLabel" for="bankNameText" value="#{msgs['bank.wire.bank.name']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="bankNameText" value="#{wireForm.bankOtherNameTxt}"/>
								<t:message id="bankNameTextError" for="bankNameText" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>
					
					<c:if test="#{applicationData.skinId != 8 &amp;&amp; applicationData.skinId != 19}">
						<div class="row">
							<h:outputLabel for="branchNumber" value="#{msgs['bank.wire.branch.number']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="branchNumber" value="#{wireForm.wire.branch}" required="true">
									<f:validateLongRange/>
								</h:inputText>
								<t:message id="branchNumberError" for="branchNumber" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>

					<c:if test="#{applicationData.skinId != 8 &amp;&amp; applicationData.skinId != 15 &amp;&amp; applicationData.skinId != 19}">
						<div class="row">
							<h:outputLabel for="branchAddress" value="#{msgs['bank.wire.branch.address']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="branchAddress" value="#{wireForm.wire.branchAddress}" required="true"/>
								<t:message id="branchAddressError" for="branchAddress" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>
					
					<c:if test="#{applicationData.skinId == 15}">
						<div class="row">
							<h:outputLabel for="branchName" value="#{msgs['bank.wire.branch.name']}"/>
							<div class="field_box">
								<h:inputText styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="30" dir="ltr" id="branchName" value="#{wireForm.wire.branchName}" required="true" 
									validator="#{commonUtil.validateChineseLettersOnly}"/>
								<t:message id="branchNameError" for="branchName" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							</div>
						</div>
					</c:if>

					<div class="row">
						<h:outputLabel for="amount" value="#{msgs['bank.wire.amount']}"/>
						<div class="field_box">
							<div class="currency_holder" data-currency-holder="${((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) || (!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)) ? 'left' : 'right'}">
								<h:inputText id="amount" dir="ltr" styleClass="field #{(!component.valid) ? 'invalid' : ''}" maxlength="9" value="#{wireForm.wire.amount}" required="true" validator="#{wireForm.validateWireAmount}"></h:inputText>
								<span data-currency-symbol="1" class="currency_symbol"><h:outputText value="#{msgs[user.currency.symbol]}"/></span>
							</div>
							<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
						</div>
					</div>

					<div class="row">
						<div class="field_box submit_field">
							<div class="button_holder" onclick="if(skinId != 1 &amp;&amp; skinId != 15){shouldShowRegulationPopup('withdraw_submit', function(){shouldShowWithdrawResetBonusPopup(function(){openWithdrawSurveyPopup();}, 10);});return false;}else{openWithdrawSurveyPopup();return false;}">					
								<div class="button_inner">
									<t:commandButton id="button_wire" styleClass="button" action="#{wireForm.insert}" value="#{msgs['investment.slip.submit']}"/>
								</div>
							</div>
						</div>
						<c:if test="#{withdrawForm.bonusError}">
							<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages error_messages_#{applicationData.userLocale.language}"/>
							<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages error_messages_#{applicationData.userLocale.language}" escape="false"/>
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#/general-terms/GT-bonus"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>
						</c:if>
					</div>
					<h:inputHidden id="userAnswerId" value="#{wireForm.userAnswerId}" />
					<h:inputHidden id="textAnswer" value="#{wireForm.textAnswer}" />
					<h:panelGroup rendered="#{commonUtil.hasMessages}">
						<div class="row">
							<t:messages id="messages" globalonly="true" layout="block" errorClass="error_messages error_messages_#{applicationData.userLocale.language}" infoClass="info_messages"/>
						</div>
					</h:panelGroup>
				</div>
				<script>
					handleBankNameChange();
					displayBeneficiaryNameTooltip();
				</script>
			</div>
		</h:form>
	</div>
</f:view>