<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['payment.type.ideal']}"/>
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<c:if test="#{applicationData.skinId != 1}">
			<script>
			$(document).ready(function(){
				shouldShowRegulationPopup("withdraw_page", function(){});
			});
			</script>
		</c:if>
		<script>
		var isWireForm = true;
		var GMwithdraw = true;
		</script>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<ui:include src="/jsp/pages/GPwithdraw-content.xhtml"/>
	</ui:define>
</ui:composition>

</f:view>