<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="content">

	<c:if test="${withdrawForm.isHaveCcForWithdrawal}">
		<script>
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/creditCard_withdraw.jsf";
		</script>
	</c:if>

	<c:if test="${!withdrawForm.isHaveCcForWithdrawal}">
		<script>
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.tlvPath}pages/wire.jsf";
		</script>
	</c:if>
</ui:define>
	<div class="pageBanners">
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<ui:param name="supportContactus" value="true" />
				</ui:include>
			</div>
			<span class="float_fix"></span>
</ui:composition>
</html>

