<div class="popUp-content" click-out-popup-cont>
	<i class="close-icon" ng-click="$ctrl.onResolve()"></i>
	<div class="header important-text" ng-if="$ctrl.info.headerText" ng-bind-html="::$ctrl.info.headerText"></div>
	<div class="body">
		<div ng-repeat="file in $ctrl.filesList">
			<div ng-if="$index == 0">
				<ul class="general_terms_menu">
					<li ng-repeat="file in $ctrl.filesList" ng-if="file.menuTitle != ''">
						<a ng-click="$ctrl._u.scrollToById(file.id, 0, '._popupHolder')" class="anchor-link">{{file.menuTitle}}</a>
					</li>
				</ul>
			</div>
			
			<a class="anchor" id="{{file.id}}"></a>
			<div compile="file.html"></div>
		</div>
	</div>
</div>
