<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/js/thickbox/jquery.js"></script>

	<div id="page">
    	<div id="header">
        <div class="info">
            <div class="number">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="allowFullScreen" value="false" />
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="transparent" />
					<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
				</object>
    		</div>
        </div>
        	<div class="logo"></div>
        </div>
        <div id="banner1_SP">
            <div class="l_text_box">
           		<p>Esto significa que puedes convertir 1.000€ en 1.700€.Las opciones binarias pueden sonar como algo complejo, pero, en realidad, son muy simples.</p>
				<p>Para <strong>ganar  70%</strong> en unos pocos minutos simplemente tienes que <strong>predecir</strong> si el <strong>precio</strong> (de activos tales como el oro, petróleo, divisas, etc.), <strong>subirá o bajará.</strong> </p>
				<p>Es así de fácil. </p>
				<br />
                <div class="bottom_line">Entonces, ¿A qué esperas?, ¡Abre una cuenta online ahora! <img src="#{applicationData.imagesPath}/landing_Contactus/point.png" align="texttop" /></div>
                <div class="t_box">
                	<img class="t_photo" src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/photo1_#{applicationData.userLocale.language}.jpg" align="left" />
                	<div class="t_title" style="font-size:19px;"><img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_l.png" alt="inverted_commas" align="absmiddle" /> Gané 700€ durante la hora del almuerzo <img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_r.png" alt="inverted_commas" align="absbottom" /></div>
                    <div class="t_text">“El trading de opciones binarias me ofrece una forma rápida y fácil de ganar un ingreso extra en mi tiempo libre. Como gerente de un equipo de ventas tengo un horario muy ocupado y casi no tengo tiempo libre durante el día. Y para cuando llego a casa después de un largo día de trabajo, estoy simplemente exhausto. Aprender el comercio online con las opciones binarias fue lo mejor que me pudo pasar. En menos de una hora, que es más o menos el tiempo que tengo disponible para almorzar, comencé a hacer enormes ganancias de hasta 70% de mi inversión original.”</div>
                    <div class="t_name">Francisco, 27, Gerente de ventas </div>
                </div>
                <div class="t_box">
                	<img class="t_photo" src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/photo2_#{applicationData.userLocale.language}.jpg" align="left" />
                	<div class="t_title"><img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_l.png" alt="inverted_commas" align="absmiddle" /> Compré un  iPAD2 con el dinero que <br/>&#160;&#160;&#160; gané en minutos &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials/inverted_commas_r.png" alt="inverted_commas" align="absbottom" /></div>
                    <div class="t_text">“Usando las ganancias que gané con las opciones binarias pude comprar todos los últimos “gadgets” que necesitaba para mi trabajo. Como trabajo en tecnología de la información y comunicaciones es importante que esté al día con las últimas tecnologías. El costo de todos los dispositivos, como el iPAD2 por ejemplo, es bastante alto. El trading en opciones binarias me ofrece ese dinero extra que necesito para estar al día con lo último en tecnología.”</div>
                    <div class="t_name">Luis, 31, TIC </div>
                </div>
            </div>
            <div class="r_text_box">
               <h:form id="contactForm" >
               <div class="r_text_box_content" >
		            	<h2>Rellene sus datos:</h2>
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<span class="star">* </span>
							<h:outputLabel value="#{msgs['register.firstname']}:" />
							<div class="input1">
							    <h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
							          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                	<span class="star">* </span>
		                	<h:outputLabel value="#{msgs['register.lastname']}:" />
							<div class="input1">
							    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
									validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.email']}:" />
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							<div class="input2_1"><div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
							<h:outputText styleClass="agree_text" value="Acepto el envío de noticias y "/><br/>
							<h:outputText styleClass="agree_text" value="ofertas de anyoption™ "/>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<div class="submin_swf">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
        </div>
        <div id="footer">
        	<div class="icons">
            	<div class="icon_space">
	            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
		                <input name="idstatus" type="hidden" />
		                <input type="hidden" name="registrationdatefrom" />
		                <input type="hidden" value="ResultsDetailed" name="transition" />
		                <input type="hidden" name="selectOrderby2" />
		                <input type="hidden" name="niceclassificationnumber" />
		                <input type="hidden" name="indusage" />
		                <input type="hidden" name="publicationdateto" />
		                <input type="hidden" name="objIdappli" />
		                <input type="hidden" name="objRefine" />
		                <input type="hidden" name="objRefineAux" />
		                <input type="hidden" name="filingdateto" />
		                <input type="hidden" name="listTypeDate" />
		                <input type="hidden" name="search_for_transition" />
		                <input type="hidden" name="AppliRef" />
		                <input type="hidden" name="application" />
		                <input type="hidden" value="0" name="bAdvanced" />
		                <input type="hidden" name="owner" />
		                <input type="hidden" name="expirydatefrom" />
		                <input type="hidden" name="entity" />
		                <input type="hidden" name="objSQLBasic2" />
		                <input type="hidden" value="en" name="language" />
		                <input type="hidden" name="objSQLRepre" />
		                <input type="hidden" name="importTradeMarkId" />
		                <input type="hidden" name="ownerselect" />
		                <input type="hidden" name="idappliSelected" />
		                <input type="hidden" name="idstatus" />
		                <input type="hidden" name="objSearchBasic" />
		                <input type="hidden" name="objSQLBasic" />
		                <input type="hidden" value="search_basic.jsp" name="source" />
		                <input type="hidden" name="objSQLOwner" />
		                <input type="hidden" name="objSQLRepre2" />
		                <input type="hidden" name="selectOrderby" />
		                <input type="hidden" name="representative" />
		                <input type="hidden" value="1" name="printPage" />
		                <input type="hidden" name="userid" />
		                <input type="hidden" name="readonly" />
		                <input type="hidden" name="filingdatefrom" />
		                <input type="hidden" name="importctmidscriptmodule" />
		                <input type="hidden" name="representativeselect" />
		                <input type="hidden" name="expirydateto" />
		                <input type="hidden" value="0" name="backList" />
		                <input type="hidden" name="totalFound" />
		                <input type="hidden" value="0" name="bRefine" />
		                <input type="hidden" name="importctmidscriptmethod" />
		                <input type="hidden" name="publicationdatefrom" />
		                <input type="hidden" name="deno" />
		                <input type="hidden" name="bRefineModify" />
		                <input type="hidden" name="userCurrentAccount" />
		                <input type="hidden" value="200" name="blimited" />
		                <input type="hidden" name="registrationdateto" />
		                <input type="hidden" name="objSQLOwner2" />
		                <input type="hidden" value="8298697" name="idappli" />
		                <input type="hidden" value="3" name="markorigin" />
		                <input type="hidden" value="1" name="denoselect" />
		                <input type="hidden" name="denoaux" />
		                <input type="hidden" name="ntmark" />
		                <input type="hidden" value="1" name="listType" />
		                <a onclick="window.open('http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img title="anyoption's trademark information" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/icons/ao_tm.jpg" /></a>
                	</form>
                </div><div class="icon_space">
                <a onclick="window.open('http://www.reuters.com/','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="73" height="27" border="0" title="Niveles de expiración entregados por Reuters" src="#{applicationData.imagesPath}/icons/reuters.jpg" alt="" /></a>
                </div><div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Información sobre seguridad y codificación" src="#{applicationData.imagesPath}/icons/thawte.gif" /></a>
                </div><div class="icon_space">
                <img width="40" height="27" border="0" title="El uso de nuestra web se limita a los clientes con 18 años o más" src="#{applicationData.imagesPath}/icons/18.jpg" alt="" />
                </div>
            </div>

            <div class="footer_text">
				Nota importante sobre riesgos:
			  	Las operaciones con opciones implican un riesgo significativo ■ Se recomienda que lea atentamente todos nuestros<br/>
			  	términos y condiciones antes de realizar cualquier inversión ■ &#160;
			  	Los niveles aquí presentados son aquellos en los que anyoption™<br/>
			  	está dispuesta a vender opciones y
			  	<b>vende sus opciones, no los niveles de mercado de tiempo real.</b> ■
				<br/>
			  	Para más datos acerca de cómo se determinan los niveles de expiración
			  	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#calc" class="footer_link">haga clic aquí</a>&#160; ■
			  	Los clientes deben conocer sus obligaciones en cuanto al<br/>impuesto sobre beneficios patrimoniales en su país de residencia
            </div>
        </div>
	</div>
	<div id="error_box">
	    <div class="error_message"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>