<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>guía de comercio en opciones binarias</title>
<style type="text/css">
.table_border {
	border-width:1px 1px 1px 1px;
	border-color:#a8a8a8;
	border-collapse:collapse;
	border-spacing:0px 0px 0px 0px;
	border-style:solid;
}
.head {
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	color:#093755;
	font-size:30px;
}
.sub_head {
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	color:#093755;
	font-size:20px;
	line-height:22px;
}
.text {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#093755;
}
a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#093755;
	text-decoration:none;
}
a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
    color:#0284d6;
    text-decoration:none;
}
</style>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>
<body bgcolor="#e1e1e1">
<table width="970" border="0" cellspacing="0" cellpadding="0" class="table_border" bgcolor="#FFFFFF" align="center">
  <tr>
    <td background="#{applicationData.imagesPath}/landing_Contactus/header.gif" height="103" style="padding-left:80px;" ><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/opt_trade_es.gif" border="0"/></a></td>
  </tr>
  <tr>
    <td background="#{applicationData.imagesPath}/landing_Contactus/ticker1px.gif" height="28">&#160;</td>
  </tr>
  <tr>
    <td>&#160;</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td >
    	<table width="775" cellpadding="0" cellspacing="0"  align="center">
        	<tr valign="top">
            	<td width="570"><span class="head">¿Es posible ganar un 70%<br /> de beneficios en una hora?</span><br />
<br />
 <span class="sub_head">Los valores siguen bajando en picado, los precios del crudo suben y se desploman después… En estos tiempos de inseguridad e incertidumbre, anyoption le posibilita aventajarse de la volatilidad del mercado y beneficiarse de retornos rápidos comerciando con un método fácil y ventajoso: las Opciones Binarias.</span><br />
<br /><span class="text">

#{applicationData.date}
<br />
<br />
La inversión en <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Opciones Binarias</a></strong> es un método de comercio en línea innovador sin comisiones, tasas ni spreads que no requiere años de estudios financieros. Este simple método de inversión online posibilita a todos los inversores, bien novatos o experimentados, comerciar con opciones binarias digitales y beneficiarse de hasta un 70% de la caída de los mercados bursátiles. <br />
<br />

anyoption constituye un nuevo espacio en el campo del comercio en línea que le ofrece operar con <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">opciones oinarias</a></strong> mediante un interfaz atractivo y de fácil uso. <br />
<br />

La idea es simple: realizar operaciones de comercio a largo y corto plazo, aventajándose de una acertada predicción de la futura dirección del mercado, incluso para las más pequeñas fluctuaciones.<br />
<br />

Las <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">Opciones Binarias</a></strong> – invertir online de forma fácil<br />


Mediante las opciones binarias, el inversor comercia sobre precios de futuros, prediciendo si subirán o bajarán. El proceso es simple y está delimitado en tiempo, bien horario, semanal o mensual. <br />
<br />

Por ejemplo: supongamos que invertimos 1.000 euros sobre un activo como el oro que registra en el momento 71,563 dólares, pronosticando un alza al final de la siguiente hora. Transcurrida la hora, subió el precio del crudo a 71,569 dólares, confirmado nuestra predicción y conllevando un beneficio de 70% al inversor, es decir: un beneficio de 1.700 euros.<br />
<br />

Vemos, asimismo, que en caso de pronosticar correctamente la futura cotización del activo, el inversor se beneficia, sin que importe el porcentaje de variación de dicho precio, lo único que repercute sobre la inversión es la baja o alza del precio en relación a su valor inicial.<br />
<br />

<strong>¿El euro sigue bajando? ¡Puedes Beneficiarte! </strong><br />

Las <strong><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">opciones oinarias</a></strong> se encuentran ahora al alcance de todos los inversores, independientemente de sus conocimientos o experiencia en el campo de inversiones online, ofreciéndole una manera única de tomar parte activa en los mercados financieros mundiales de modo simple, fácil y rentable.<br /><br />


<strong>anyoption le ofrece tres herramientas innovadoras de inversión que mejoran la experiencia  del comercio y expanden las gama de posibilidades del inversor.</strong><br />
<br />
<strong>1 Profit Line</strong> – un sistema avanzado de comercio les posibilita a nuestros clientes seguir al tanto sobre sus opciones abiertas mediante un gráfico especial, recibiendo así información actualizada sobre sus los beneficios esperados. Esta nueva prestación le posibilitará comprar opciones adicionales directamente desde el gráfico – todo ello mediante una interfaz gráfica de alta calidad y fácil uso.
<br />
<br />

<strong>2 Take Profit</strong> – una herramienta ideal para aquellos clientes interesados en congelar sus beneficios antes del tiempo de vencimiento. El usuario al que se le ofreció la posibilidad de ejercer inmediatamente sus beneficios, podrá recibirlos, tras abonar una tasa asequible, previamente a la fecha de expiración fijada inicialmente, no importe el valor en que habría de vencer conforme al cierre inicial.
<br />
<br />

<strong>3 Roll Forward</strong> – ofrece la posibilidad de aplazar el tiempo de vencimiento de la opción adquirida hasta el próximo plazo de expiración. Los usuarios a los que se les ofrece esta posibilidad, podrán posponer el tiempo de vencimiento de la opción al próximo plazo de expiración, tras abonar una tasa asequible.
<br />
<br />

Venga a comprobarlo por sí mismo en: <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" style="color:#0284d6"><strong>www.anyoption.com</strong></a>


</span></td>
            <td width="142"></td>
            <td width="162"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/160x600-Lang-es-Prod-Anyoption-dani.gif" class="table_border" width="160" height="600" border="0"/></a></td>
            </tr>
            <tr>
            	<td colspan="3">&#160;</td>
            </tr>
            <tr>
            	<td colspan="3"><a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_top"><img src="http://picbase.anyoption.com/landing/edit/start_trading_es.gif" width="260" height="59" border="0"/></a></td>
            </tr>
            <tr>
            	<td colspan="3">&#160;</td>
            </tr>
            <tr>
            	<td colspan="3"><a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_top"><img src="http://picbase.anyoption.com/landing/edit/728x90-Lang-es-Prod-Anyoption-text.gif" border="0"/></a></td>
            </tr>
        </table>

    </td>
  </tr>
  <tr>
    <td>&#160;</td>
  </tr>
</table>
</body>
</f:view>