<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     locale="#{applicationData.userLocale}">

	<script>
	<!--
		//put the callme div in the right position on the page
		//! useing tigra hint!
		function positionCallMeDiv() {
			var mTd = document.getElementById('callMeLink');
			var conDiv = document.getElementById('callMeDiv');
			if (null != mTd && null != conDiv) {
				$(conDiv).css("left", f_getPositionGB(mTd, 'Left')-101);
				$(conDiv).css("top", f_getPositionGB(mTd, 'Top')+ 18);
			}
		}

		//put the contactus div in the right position on the page
		//! useing tigra hint!
		function positionContactUsDiv() {
			var mTd = document.getElementById('contactusLink');
			var conDiv = document.getElementById('contactUsDiv');
			if (null != mTd && null != conDiv) {
				$(conDiv).css("left", f_getPositionGB(mTd, 'Left')-183);
				$(conDiv).css("top", f_getPositionGB(mTd, 'Top')+ 18);
			}
		}
	 -->
	</script>
	<style>

		span {color:#093755; font-size:12px; font-family: Arial, Helvetica, sans-serif, Gadget, sans-serif; text-align:left;}
		span a{color:#093755; font-size:12px; font-family: Arial, Helvetica, sans-serif, Gadget, sans-serif; text-align:left; text-decoration:none;}

		textarea {color:#093755; font-size:12px; font-family: Arial, Helvetica, sans-serif, Gadget, sans-serif;
		scrollbar-3dlight-color:#fff;
		scrollbar-arrow-color:#e4e4e4;
		scrollbar-base-color:#fff;
		scrollbar-track-color:#fff;
		scrollbar-face-color:#093755;
		scrollbar-darkshadow-color:#fff; scrollbar-highlight-color:#fff;
		scrollbar-shadow-color:#fff;
		}

		.content-register-page {background-image: url(#{applicationData.imagesPath}/ao/yelloLanding/background.jpg); width:1016px; height:814px; margin:0 auto; text-align:left;}

		.content-header-register-page{text-align:right; margin-top:-25px !important; margin-top:-5px; position:relative; float:right;}

		.content-header-register-page-tab{margin-top:5px; float:left; background-image:url(#{applicationData.imagesPath}/ao/yelloLanding/background-tabs-menu.gif); padding:3px 5px 4px 5px;  padding:3px 5px 4px 5px; margin-right: 10px;}

		.title-register-page { font-size:36px; font-family:Arial, Helvetica, sans-serif; color:#093755; text-align:right; font-weight:bold; margin-top:70px; margin-right: 50px;}

		.yellow-form-top{ margin-top:20px;}

		.yellow-form {background:url(#{applicationData.imagesPath}/ao/yelloLanding/frame-form-yellow_middle.png) repeat-y; padding:5px; width:1020px; }

		.white-text { font-size:22px; font-weight:bold; color:#FFF; margin:50px 35px 0 0 ; text-align:right; width:184px; font-family:Arial, Helvetica, sans-serif; line-height:22px; position:relative; float:left; }

		.full-form {   width:790px; position:relative; float:left; margin-bottom:-20px;}
		.full-form-column{ margin-right:15px; position:relative; float:left; width:150px; }

		.full-form-column input{height: 24px; border: 1px solid #8b8b8b; color: #093755; margin-bottom: 5px; position:relative; float:left; width:140px; font-size:10px; padding:3px;}
		.full-form-column select{line-height:24px; display:block;
		height: 24px; border: 1px solid #8b8b8b; color: #093755; margin-bottom: 5px; position:relative; float:left; width:140px; font-size:11px; padding:3px;}
		.air-message{position:absolute; margin-top:-50px; border:2px #F00 solid; background-color:#FFF; width:250px !important; width:250px;  padding:5px;}


		.btn-trade-now{margin:50px 0px 0 0; width:250px;  position:relative; float:left !important; float:none; margin-left:15px;}
		hr
		{
		clear:left;
		visibility:hidden;
		margin-top:-20px;
		}

		.frame-text {background:url(#{applicationData.imagesPath}/ao/yelloLanding/frame-text-white_middle.png) repeat-y; padding:5px; width:1020px;}
		.frame-text-colomn { position:relative; float:left; margin-left:42px; width:280px; margin-bottom:-15px;}
		.frame-text-title { font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; color:#093755; border-bottom:#093755 solid 1px; width:280px;}
		.textarea { width: 280px;height: 80px; border:none;}

		.genderRadio input {
			width:10px;
			margin-top:-4px;
			border:none;
		}
		.genderRadio label {
			font-size: 10px;
			position:relative;
			float:left;
			margin-top:2px;
			margin-right:3px;
		}
		.genderRadio {
			width:140px;
			height:30px;
			margin:0;
			padding:0;
			margin-left:-4px;
		}


	</style>

	
	<div class="content-register-page">


	<!--Menu tabs-->
	<div class="content-header-register-page" style="height:14px;">
	    <div class="content-header-register-page-tab">
			<span><a id="callMeLink" style="font-size:10px; color:#FFF;cursor:pointer;" onmousedown="showCallMe();">Llámame</a></span>
		</div>
        <div class="content-header-register-page-tab" style="height:14px;">
			<span><a id="contactusLink" style="font-size:10px; color:#FFF;cursor:pointer;" onmousedown="showContactUs();" >#{msgs['header.contact']}</a></span>
		</div>
        <div style="float:left;width:75px;height:14px;">
	        <!-- Begin LP Button Div--><div id="buttonDIV" ></div><!-- End LP Button Div-->
	    </div>
	</div>


	<!--Logo + title + Text-->
	<div style=" position:relative; float:left; width:410px">
		<img src="#{applicationData.imagesPath}/ao/yelloLanding/logo.jpg" width="258" height="61" alt="logo anyoption" border="0" style=" margin-top: 15px" />
		<div class="title-register-page">
		  Venga a formar<br/> parte de la mayor<br/>comunidad mundial <br/>
		  de trading en <br/> Opciones Binarias
		</div>
	</div>
	<div style=" position:relative; float:left">
		<img src="#{applicationData.imagesPath}/ao/yelloLanding/community-people.png" width="196" height="310" style="padding-top: 20px;"/>
	</div>
	<div style=" position:relative; float:left; width:350px; margin-left: 50px; margin-top:20px; margin-bottom:20px">
		<span style=" font-size:17px; font-weight:bold; text-align:left">No hay un mejor lugar o más seguro para demostrar sus conocimientos del mercado.</span><br/><br/>
		<span style=" font-size:14px">
			Las opciones binarias son idóneas para inversores de todos los niveles, no importe cuál sea su grado de experiencia o conocimientos.
			Venga a operar en opciones binarias con anyoption™, la plataforma de trading en opciones binarias más grande y prestigiosa del mundo.
			<br /><br />
			 Nuestra liquidez en términos de volumen y activos subyacentes no tiene parangón.
			<br /><br />
			El trading es muy simple y está disponible durante todo el día para más de 80 mercados.
			<br /><br />
			Sin costes de instalación ni descargas o comisiones.
		</span>
	</div>

	<!--Form-->
	<h:form id="landingRegisterForm">
		<h:outputText style="display:none;" id="error_msg" value="#{commonUtil.firstErrorSummaryMessage}" />
		<div class="yellow-form-top"><img src="#{applicationData.imagesPath}/ao/yelloLanding/frame-form-yellow_top.png" width="1020" height="20" /></div>
		<div class="yellow-form">
			<div class="white-text">
				3 minutos como<br/>
				máximo para <br/>trading en vivo<br/>
				<img src="#{applicationData.imagesPath}/ao/yelloLanding/arrow-yellow.jpg" width="48" height="22" style="margin-top:10px"  />
			</div>
			<div class="full-form" id="formInputs">
				<div style=" position: relative; float:left; width:330px">
					<div class="full-form-column">
						<!-- First Name -->
					    <h:inputText maxlength="15" id="firstName" value="#{landingRegisterForm.firstName}" required="true"  vLabel="register.firstname" label="#{msgs['register.firstname']}"
							onfocus="if(this.value=='#{msgs['register.firstname']}') this.value=''"
							onblur= "if(this.value=='') this.value='#{msgs['register.firstname']}'"
					        validator="#{commonUtil.validateLettersOnly}" >
						</h:inputText>
						<t:message id="err_firstName" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages"/><br />
						<!-- Last Name -->
					    <h:inputText maxlength="15" id="lastName" value="#{landingRegisterForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
							onfocus="if(this.value=='#{msgs['register.lastname']}') this.value=''"
							onblur= "if(this.value=='') this.value='#{msgs['register.lastname']}'"
					         validator="#{commonUtil.validateLettersOnly}" >
						</h:inputText>
						<t:message id="err_lastName" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/><br />
						<!-- Email -->
					    <h:inputText maxlength="50" id="email" value="#{landingRegisterForm.email}" required="true" vLabel="register.email" label="#{msgs['register.email']}"
							onfocus="if(this.value=='#{msgs['register.email']}') this.value=''"
								onblur= "validateEmail();insertUpdateRegisterAttempts('#{msgs['register.email']}', '#{msgs['register.firstname']}', '#{msgs['register.lastname']}');if(this.value=='') this.value='#{msgs['register.email']}'"
								validator="#{commonUtil.validateEmailFromUnix}">
				            <f:validator validatorId="org.apache.myfaces.validator.Email"/>
						</h:inputText>
						<t:message id="err_email" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
						<!-- Mobile -->
						<div>
							<span style="font-size: 10px; position:relative; float:left; margin-top:5px; margin-right:3px;">Móvil</span>
							<h:inputText size="3" style="width: 30px; font-size: 10px; position:relative; float:left; margin-right:5px;" maxlength="4" dir="ltr" id="mobilePhoneCode" value="#{landingRegisterForm.mobilePhoneCode}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onkeydown="return phoneKeys(event);">
								<f:validateLongRange/>
								<f:validateLength minimum='1' maximum='4'/>
							</h:inputText>
							<h:inputText style="width: 77px; position:relative; float:left" label="#{msgs['register.mobilephone']}" maxlength="20" dir="ltr" id="mobilePhone" value="#{landingRegisterForm.mobilePhone}" required="#{applicationData.skinId != 8 ? 'true' : 'false'}" onblur="insertUpdateRegisterAttempts('#{msgs['register.email']}', '#{msgs['register.firstname']}', '#{msgs['register.lastname']}');">
								<f:validateLongRange/>
								<f:validateLength minimum='7' maximum='20'/>
							</h:inputText>
							<t:message id="err_mobilePhone" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
						</div>
						<br />
						<!-- Phone -->
						<div>
							<span style="font-size: 10px;position:relative; float:left; margin-top:5px; margin-right:10px">Tel.</span>
							<h:inputText style="width: 30px;  margin-right:5px; position:relative; float:left" maxlength="4"  dir="ltr" id="landPhoneCode" value="#{landingRegisterForm.landPhoneCode}" onkeydown="return phoneKeys(event);">
								<f:validateLongRange/>
								<f:validateLength minimum='1' maximum='4'/>
						  	</h:inputText>
						  	<h:inputText style="width: 76px; position:relative; float:left" label="#{msgs['register.phone']}" maxlength="20" dir="ltr" id="landLinePhone" value="#{landingRegisterForm.landLinePhone}"  onblur="insertUpdateRegisterAttempts('#{msgs['register.email']}', '#{msgs['register.firstname']}', '#{msgs['register.lastname']}');">
						   		<f:validateLongRange/>
								<f:validateLength minimum='7' maximum='20'/>
							</h:inputText>
							<t:message id="err_landLinePhone" style="display:none;" for="landLinePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
						</div>
					</div>
					<div class="full-form-column" style="height: 150px" >
						<!-- User Name -->
						<h:inputText dir="ltr" autocomplete="off" maxlength="15" id="userName" value="#{landingRegisterForm.userName}" required="true" vLabel="register.username" label="#{msgs['register.username']}"
							onfocus="if(this.value=='#{msgs['register.username']}') this.value=''"
							onblur= "validateUserName('#{msgs['register.username']}');if(this.value=='') this.value='#{msgs['register.username']}'"
							validator="#{commonUtil.validateLettersAndNumbersOnly}" >
							<f:validateLength minimum='6' maximum='15'/>
						</h:inputText>
						<t:message id="err_userName" style="display:none;" for="userName" replaceIdWithLabel="true" styleClass="error_messages"/>
						<img src="#{applicationData.imagesPath}/ao/yelloLanding/icone-info.gif" width="18" height="18" style="margin-left:-22px; margin-top:3px; position:absolute" onmouseOver="showNewLandHint(this, 'userNameMsg')" onmouseout="hideNewLandHint(this)" /><br />
						<!-- Password -->
						<input type="text" id="password_text" value="#{msgs['register.password']}"
							onfocus="this.style.display='none';
									document.getElementById('landingRegisterForm:password').style.display='inline';
									document.getElementById('landingRegisterForm:password').focus();">
						</input>
						<h:inputSecret style="display:none;" dir="ltr" maxlength="9" redisplay="true" id="password" value="#{landingRegisterForm.password}" vLabel="register.password" label="#{msgs['register.password']}"
							onblur="if(this.value==''){
									this.style.display='none';
									document.getElementById('password_text').style.display='inline';}"
							validator="#{commonUtil.validatePasswordTypeAndSize}">
						</h:inputSecret>
						<t:message id="err_password" style="display:none;" for="password" replaceIdWithLabel="true" styleClass="error_messages"/>
						<img src="#{applicationData.imagesPath}/ao/yelloLanding/icone-info.gif" width="18" height="18" style="margin-left:-22px; margin-top:19px !important; margin-top:3px; position:absolute" onmouseOver="showNewLandHint(this, 'passwordMsg')" onmouseout="hideNewLandHint(this)" /><br />
						<!-- Retype password -->
						<input type="text" dir="ltr" id="password2_text" value="#{msgs['register.retype']}"
								onfocus="this.style.display='none';
								document.getElementById('landingRegisterForm:password2').style.display='inline';
								document.getElementById('landingRegisterForm:password2').focus();">
						</input>
						<h:inputSecret style="display:none;" dir="ltr" maxlength="9" redisplay="true" id="password2" value="#{landingRegisterForm.password2}" vLabel="register.retype" label="#{msgs['register.retype']}"
								onblur="if(this.value==''){
								this.style.display='none';
								document.getElementById('password2_text').style.display='inline';}"
								 validator="#{commonUtil.validateEqualPass}" equalPassFor="password">
						</h:inputSecret>
						<t:message id="err_password2" style="display:none;" for="password2" replaceIdWithLabel="true" styleClass="error_messages"/>
						<br />
						<!-- Languages -->
						<h:selectOneMenu size="1" id="languagesList" value="#{landingRegisterForm.languageId}" required="true">
							<f:selectItems value="#{applicationData.languagesBySkinId}" />
						</h:selectOneMenu>
						<!-- Currencies -->
						<h:selectOneMenu size="1" disabled="#{applicationData.usSkins}" id="currenciesList" value="#{landingRegisterForm.currencyId}" required="true">
						<f:selectItems value="#{applicationData.currenciesBySkinId}" />
						</h:selectOneMenu>
						<img src="#{applicationData.imagesPath}/ao/yelloLanding/icone-info.gif" width="18" height="18" style="margin-left:-42px !important; margin-left:-38px; margin-top:80px !important; margin-top:1px;  position:absolute" onmouseOver="showNewLandHint(this, 'currMsg')" onmouseout="hideNewLandHint(this)" />
					</div>
					<!-- TERMS -->
					<div style="">
						<h:selectBooleanCheckbox id="terms" escape="false" value="#{landingRegisterForm.terms}" required="true" style="float:left;"></h:selectBooleanCheckbox>
						<a onClick="showAgreemen('#{facesContext.externalContext.requestContextPath}/jsp/anyoption_agreement.jsf?refresh=true');" ><span class="terms_link" style=" font-size:10px;cursor:pointer;margin-top:3px; float:left;"><h:outputText escape="false" value="#{msgs['register.terms']}"/></span></a>
						<t:message id="err_terms" style="display:none;" for="terms" replaceIdWithLabel="true" styleClass="error_messages"/>
					</div>
				</div>
				<div class="full-form-column">
					<!-- Address -->
					<h:inputText maxlength="40" id="street" value="#{landingRegisterForm.street}" required="true" vLabel="register.street" label="#{msgs['register.street']}"
						onfocus="if(this.value=='#{msgs['register.street']}') this.value=''"
						onblur= "if(this.value=='') this.value='#{msgs['register.street']}'"
						validator="#{commonUtil.validateStreet}" >
					</h:inputText>
					<t:message id="err_street" style="display:none;" for="street" replaceIdWithLabel="true" styleClass="error_messages"/>
					<br />
					<!-- City -->
					<h:inputText escape="false" maxlength="24" autocomplete="off" id="cityNameAO" name="cityNameAO" value="#{landingRegisterForm.cityNameAO}" required="true" vLabel="register.city" label="#{msgs['register.city']}"
						onfocus="if(this.value=='#{msgs['register.city']}') this.value=''"
						onblur= "if(this.value=='') this.value='#{msgs['register.city']}'"
						validator="#{commonUtil.validateLettersOnly}">
					</h:inputText>
					<t:message id="err_cityNameAO" style="display:none;" for="cityNameAO" replaceIdWithLabel="true" styleClass="error_messages"/>
					<img src="#{applicationData.imagesPath}/ao/yelloLanding/icone-info.gif" width="18" height="18" style="margin-left:-22px; margin-top:19px !important; margin-top:3px; position:absolute" onmouseOver="showNewLandHint(this, 'cityMsg')" onmouseout="hideNewLandHint(this)" />
					<br />
					<!-- Postcode -->
					<h:inputText escape="false" dir="ltr" maxlength="10" id="zipCode" value="#{landingRegisterForm.zipCode}"
						onfocus="if(this.value=='#{msgs['register.postcode']}') this.value=''"
						onblur= "if(this.value=='') this.value='#{msgs['register.postcode']}'">
					</h:inputText>
					<t:message id="err_zipCode" style="display:none;" for="zipCode" replaceIdWithLabel="true" styleClass="error_messages"/>
					<br />
					<!-- Countries -->
					<h:selectOneMenu id="countriesList" disabled="#{applicationData.usSkins}" value="#{landingRegisterForm.countryId}" required="true" onchange="changePhoneCodeByCountry('landingRegisterForm:statesList');" >
						<f:selectItems value="#{applicationData.countriesList}" />
					</h:selectOneMenu>
					<br />
					<!-- States -->
					<h:selectOneMenu  id="statesList" value="#{landingRegisterForm.stateId}" required="true">
						<f:selectItems value="#{applicationData.statesList}" />
					</h:selectOneMenu>
					<!-- BirthDay -->
					<span style="font-size: 10px; position:relative; float:left; margin-top:5px; margin-right:90px; margin-top:-2px;width:100px;">
						#{msgs['register.birthdate']}
					</span>
					<div style="height:24px;width:43px;float:left;">
						<h:selectOneMenu style="width:43px;  margin-bottom: 5px; padding: 3px 3px 3px 0" id="birthDay" value="#{landingRegisterForm.birthDay}" required="true" label="#{msgs['register.birthday']}">
							<f:selectItem  itemLabel="#{msgs['register.birthday.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.days}" />
						</h:selectOneMenu>
					</div>
					<div style="height:24px;width:45px;float:left;">
						<h:selectOneMenu style="width:45px;  margin-bottom: 5px; padding: 3px 3px 3px 0" id="birthMonth" value="#{landingRegisterForm.birthMonth}" required="true" label="#{msgs['register.birthmonth']}">
							<f:selectItem  itemLabel="#{msgs['register.birthmonth.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.months}" />
						</h:selectOneMenu>
					</div>
					<div style="height:24px;width:54px;float:left;">
						<h:selectOneMenu style="width:55px;margin-bottom: 5px; padding: 3px 3px 3px 0" id="birthYear" value="#{landingRegisterForm.birthYear}" required="true" label="#{msgs['register.birthyear']}">
							<f:selectItem  itemLabel="#{msgs['register.birthyear.short']}" itemValue="" />
							<f:selectItems value="#{applicationData.years}" />
						</h:selectOneMenu>
					</div>
					<t:message id="err_birthDay" style="display:none;" for="birthDay" replaceIdWithLabel="true" styleClass="error_messages"/>
					<t:message id="err_birthMonth" style="display:none;" for="birthMonth" replaceIdWithLabel="true" styleClass="error_messages"/>
					<t:message id="err_birthYear" style="display:none;" for="birthYear" replaceIdWithLabel="true" styleClass="error_messages"/>
					<!-- Gender -->
					<div style="height:20px;clear:both;" >
						<h:panelGrid columns="3" style="margin:0;padding:0;margin-top:0px;" cellpadding="0" cellspacing="0" >
							<t:selectOneRadio styleClass="genderRadio" id="gender" value="#{landingRegisterForm.gender}" required="true">
								<f:selectItem  itemLabel="#{msgs['register.gender.male']}" itemValue="M" />
								<f:selectItem itemLabel="#{msgs['register.gender.female']}" itemValue="F" />
							</t:selectOneRadio>
							<t:message id="err_gender" style="display:none;" for="gender" replaceIdWithLabel="true" styleClass="error_messages"/>
						</h:panelGrid>
					</div>
				</div>
				<div class="btn-trade-now">
					<div class="air-message" id="errorMsgDiv" style="display: none;"><span style=" color:#F00" id="errorPopUpMsg"></span></div>
					<t:commandButton alt="anyoption - Trade now"  style="width: 250px; 80px;" id="savelink" image="#{applicationData.imagesPath}/ao/yelloLanding/btn_trade-now_#{applicationData.userLocale.language}.jpg"
					    	onclick="gowait('landingRegisterForm:savelink','landingRegisterForm:hiddenbtn','#{applicationData.imagesPath}/ao/yelloLanding/yellow-loading.gif');
					 		return myfaces.oam.submitForm('landingRegisterForm','landingRegisterForm:hiddenbtn');" >
					</t:commandButton>
					<h:commandLink action="#{landingRegisterForm.validateLandinfFields}" id="hiddenbtn" style="display:none"/>
				</div>
				<div style="position:relative; float: left; width:765px">
					<div>
						<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{landingRegisterForm.receiveUpdate}" required=""></h:selectBooleanCheckbox>
						<h:outputText styleClass="agree_text_70_generic" for="agree" escape="false" value="#{msgs['register.contactByEmailAndSms']}"/><br/>
					</div>
				</div>
			</div>
			<hr />
		</div>
		<div class="yellow-form-bottom">
			<img src="#{applicationData.imagesPath}/ao/yelloLanding/frame-form-yellow_bottom.png" width="1020" height="20"  />
		</div>
	</h:form>
	 <!--Texts-->
	<div class="frame-text-top" style="margin-top:20px"><img src="#{applicationData.imagesPath}/ao/yelloLanding/frame-text-white_top.png" width="1020" height="20" /></div>
	<div class="frame-text">
		<div class="frame-text-colomn">
			<div class="frame-text-title">
				Cómo operar en Opciones Binarias
			</div>
			<div class="frame-text-scroll">
				<textarea spellcheck="false" name="textarea" cols="" rows="" class="textarea" onkeypress="return false;" style="resize:none;" dir="ltr">El concepto del trading en Opciones Binarias se basa en pronosticar la tendencia de cotización de un activo particular en un plazo de tiempo predeterminado. Esto le permitirá aventajarse de los movimientos del mercado, bien alzas o bajas, acentuados o moderados. Seleccione un activo, tiempo de vencimiento y opción  "CALL" (alza) o "PUT" (baja). En caso de acertar en su pronóstico, el retorno es excepcional: 65-71%. Si su predicción fue errónea, recibirá un 15% de su monto de inversión inicial. Nuestra plataforma le ofrece, asimismo, una diversa gama adicional de apasionantes tipos de trading.</textarea>
			</div>
		</div>
		<div class="frame-text-colomn">
			<div class="frame-text-title">
				Cómo depositar fondos en su cuenta
	  			<span class="frame-text-top"></span>
	  		</div>
			<div class="frame-text-scroll">
				<textarea spellcheck="false" class="textarea" cols="" rows="" onkeypress="return false;" style="resize:none;" dir="ltr">Podrá depositar fondos en su cuenta de trading de forma inmediata. anyoption™ acepta la mayoría de tarjetas de crédito con aprobación inmediata, docenas de transferencias bancarias, monederos, inclusive: La Caixa, TeleIngreso, DineroMail, etc. Al abrir una cuenta, podrá seleccionar el tipo de divisa deseada. Nunca le cobraremos tasas de cambio para sus depósitos o retiros.</textarea>
			</div>
		</div>

		<div class="frame-text-colomn">
			<div class="frame-text-title">
				Cómo recibir los beneficios
			</div>
			<div class="frame-text-scroll"><textarea spellcheck="false" class="textarea" cols="" rows="" style="resize:none;" onkeypress="return false;" dir="ltr">Sus ganancias del trading están a su disposición en todo momento. Cualquier solicitud de retiro se gestiona de manera eficaz para los diversos métodos de pago y se implementa en no más de 72 horas. Para acelerar el proceso, recomendamos calurosamente que  poco tiempo tras comenzar el trading, nos envíe por email una copia de los documentos requeridos.  De esa manera, no se producirán demoras innecesarias para recibir sus beneficios.</textarea></div>
		</div>
		<hr />
	</div>
	<div class="frame-text-bottom" style="margin-bottom:20px">
	  <img src="#{applicationData.imagesPath}/ao/yelloLanding/frame-text-white_bottom.png" width="1020" height="20" />
	</div>
	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/privacy.jsf')}"
			target="_top" class="footer_link" >
	<h:outputText escape="false" value="#{msgs['footer.privacy']}"/>
	</h:outputLink>
	<br/>
	<!-- FOOTER -->
	<br/>
	<div style="margin:0 auto; width:1016px;  ">
		<div style=" float:left; margin-right:5px"> <img width="73" height="27" border="0" title="Expiry levels provided by Reuters" src="#{applicationData.imagesPath}/icons/reuters.jpg" alt="" />
	</div>
	<div style=" float:left; margin-right:5px">
		<a onClick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Information security and coding" src="#{applicationData.imagesPath}/icons/thawte.gif" /></a>
	</div>
	<div style=" float:left; margin-right:15px">
		<img width="40" height="27" border="0" title="#{msgs['footer.18']}" src="#{applicationData.imagesPath}/icons/18.jpg" alt="" />
	</div>
	<div style=" text-align:left; font-size:10px; color:#666; font-family:Arial, Helvetica, sans-serif">
	El comercio de opciones binarias en la plataforma anyoption ™ ofrece un pago de 65-71% si la opción expira in-the-money, y un retorno del 15% si la opción expira out-of-the-money (puede perder hasta un 85% de su inversión).</div><br/><br/></div>

</div>
<br />

<script>
		var countryId = document.getElementById("landingRegisterForm:countriesList").value;
		if(countryId != 220 ){
	  		document.getElementById("landingRegisterForm:statesList").style.display="none";
	  	}
	  	document.getElementById("errorMsgDiv").style.display = 'none';
	 // 	document.getElementById("smsDiv").style.display = 'block';
	  	//positionErrorDiv();
		//validateUserName();
		returnFirstError('250px','250px');
		markFirstErrorField();
		showPasswordField();
   		var currentTd = document.getElementById('howTradeTd');
    	var currentSpan = document.getElementById('howTradeSpan');
	</script>
 <div id="userNameMsg" style="display:none;">#{msgs['error.englishandnumbers.only']}</div>
 <div id="passwordMsg" style="display:none;">#{msgs['error.englishandnumbers.only']}</div>
 <div id="currMsg" style="display:none;">#{msgs['register.currency.info']}</div>
 <div id="cityMsg" style="display:none;">#{msgs['error.englishandnumbers.only']}</div>
 <div id="mobileMsg" style="display:none;">
 	<h:outputText rendered="#{applicationData.skinId == 10}" value="Пожалуйста, укажите код страны и региона"/>
 	<h:outputText rendered="#{applicationData.skinId == 5}" value="#{msgs['register.mobilePhone.info']}'"/>
 </div>
<div id="contactUsDiv"  style="position:absolute;top:0; left:-200; background-color:white;z-index:100;layer-background-color:white; display: none;">
	<ui:include src="/jsp/dynamicLP/AO/landingContactUsNew.xhtml" />
</div>
<div id="callMeDiv"  style="position: absolute;z-index: 150;display: none;">
	<iframe name="content" id="content"
		src="#{facesContext.externalContext.requestContextPath}/jsp/dynamicLP/AO/landingCallMeNew.jsf" width="210px" height="400px" frameborder="no" allowtransparency="true"></iframe>
</div>
</f:view>