<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

	<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
	<script src="#{facesContext.externalContext.requestContextPath}/js/swfobject_modified.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/popupLandingPage.js" type="text/javascript"></script>

<div id="container">
	<p>&#160;</p>
  	<div id="header-es-google">
  	</div>
  	<div id="bg-phone"></div>
  	<div id="bg-phone_swf">
	    <object id="FlashID3" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="205" height="42">
	      <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers1.swf" />
	      <param name="quality" value="high" />
	      <param name="wmode" value="transparent" />
	      <param name="swfversion" value="9.0.45.0" />
	      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
	      <param name="expressinstall" value="Scripts/expressInstall.swf" />
	      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
	      <!--[if !IE]>-->
	      <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers1.swf" width="205" height="42">
	        <!--<![endif]-->
	        <param name="quality" value="high" />
	        <param name="wmode" value="transparent" />
	        <param name="swfversion" value="9.0.45.0" />
	        <param name="expressinstall" value="Scripts/expressInstall.swf" />
	        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
	        <div>
	          <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
	          <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
	        </div>
	        <!--[if !IE]>-->
	      </object>
	      <!--<![endif]-->
	    </object>
  	</div>
	<div id="phone-swf"><object id="FlashID2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="205" height="42">
	    <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers.swf" />
	    <param name="quality" value="high" />
	    <param name="wmode" value="opaque" />
	    <param name="swfversion" value="9.0.45.0" />
	    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
	    <param name="expressinstall" value="Scripts/expressInstall.swf" />
	    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
	    <!--[if !IE]>-->
	    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/Phone_Numbers.swf" width="205" height="42">
	      <!--<![endif]-->
	      <param name="quality" value="high" />
	      <param name="wmode" value="opaque" />
	      <param name="swfversion" value="9.0.45.0" />
	      <param name="expressinstall" value="Scripts/expressInstall.swf" />
	      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
	      <div>
	        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
	        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
	      </div>
	      <!--[if !IE]>-->
	    </object>
	    <!--<![endif]-->
	  	</object>
	</div>
	<div id="content-bg">
  		<div id="left-txt">
  	  		<div id="top-left-txt">
  	   			<div id="blue-txt">anyoption te invita a negociar y disfrutar de un beneficio del 65 al 71% en una operación.
   					<br/><br/> <span class="regular-txt">    Negocie en el mercado internacional con nuestra variedad de más de 100 activos (Facebook, Dow Jones, Apple, EUR/USD)</span>
   				</div>
  	  		</div>
  		</div>
		<div>
			<div id="karusel"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/pic.png" width="427" height="134" /></div>
			<div style="clear:both; height:30px;"></div>
			<div id="form-bg-es">
				<div id="form">
					<h:panelGroup>
						<div id="top-left">
    						<h:outputLabel class="title" value="* #{msgs['register.firstname']}:" />
    						<div class="input1"><h:inputText id="firstName" value="#{contactUsForm.firstName}" vLabel="register.firstname" label="#{msgs['register.firstname']}"  name="* First name"/></div>
						</div>
						<div id="top-right">
    						<h:outputLabel class="title" value="* #{msgs['register.lastname']}:" />
      						<div class="input1"><h:inputText id="lastName" value="#{contactUsForm.lastName}" vLabel="register.lastname" label="#{msgs['register.lastname']}" name="* Last name:"/></div>
    					</div>
						<div style="clear:both"></div>
						<div id="bottom-left">
							<h:outputLabel class="title" value="* #{msgs['register.email']}:" />
	      					<div class="input1"><h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" vLabel="register.email" label="#{msgs['register.email']}" name="* Email"/></div>
	    				</div>
						<div id="bottom-right">
							<h:outputLabel class="title" value="* #{msgs['register.phone']}:" /> <br/>
 							<div id="inputt" class="input2">
 								<div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" onkeydown="return phoneKeys(event);" />
 							</div>
 							<div id="inputt2" class="input3">
								<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}"  />
 							</div>
						</div>
						<div style="clear:both"></div>
						<div id="safty">  <h:outputLabel value="#{msgs['register.email.safe']}" /></div>
						<div id="SWF">
						  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="200" height="60">
						  	<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_#{applicationData.skinId}.swf" allowScriptAccess="always"/>
						  	<param name="allowScriptAccess" value="always" />
						    <param name="quality" value="high" />
						    <param name="wmode" value="transparent" />
						    <param name="swfversion" value="9.0.45.0" />
						    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						    <param name="expressinstall" value="Scripts/expressInstall.swf" />
						    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						    <!--[if !IE]>-->
						    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_#{applicationData.skinId}.swf" width="200" height="60" allowScriptAccess="always">
						      <!--<![endif]-->
						      <param name="allowScriptAccess" value="always" />
						      <param name="quality" value="high" />
						      <param name="wmode" value="transparent" />
						      <param name="swfversion" value="9.0.45.0" />
						      <param name="expressinstall" value="Scripts/expressInstall.swf" />
						      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
						      <div>
						        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
						        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
						      </div>
						      <!--[if !IE]>-->
						    </object>
						    <!--<![endif]-->
						  </object>

						</div>
						<div id="checkbox-in">
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}"></h:selectBooleanCheckbox>
      						<div style="margin-top:0px; font-size:9px;">
      							Acepto el envío de noticias y ofertas de anyoption™
							</div>
						</div>
					</h:panelGroup>
				</div>
			</div>
  			<div id="right1">
  				<table width="339" height="133" border="0" cellpadding="0" cellspacing="8">
	  				<tr>
	    				<th class="sec" scope="col">Negociar es fácil:</th>
	  				</tr>
	  				<tr>
	    				<td class="sec"><strong>Elige un activo</strong> (como el Oro, Petróleo,
	      					EUR/USD) y<span lang="ES-MX" xml:lang="ES-MX"><strong> pronostica</strong></span> si el precio<span lang="ES-MX" xml:lang="ES-MX"><strong> subirá </strong></span>o <strong><span lang="ES-MX" xml:lang="ES-MX">bajará</span></strong><strong> </strong>en la próxima hora. </td>
	 				</tr>
		  			<tr>
		    			<td class="third">¿Tuviste razón? ¡Obtén hasta un 71% de beneficios!</td>
		  			</tr>
				</table>
			</div>
			<div id="right2">
			  	<table width="329" height="75" border="0" cellpadding="0" cellspacing="0" class="sec">
				    <tr>
				      <td width="20"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/arrow.png" width="13" height="16" /></td>
				      <td width="291">Sin experiencia previa </td>
				      </tr>
				    <tr>
				      <td width="20"><div style="margin-bottom:16px;"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/arrow.png" width="13" height="16" /></div></td>
				      <td width="350">Nuestros expertos están disponibles gratuitamente</td>
				      </tr>
				    <tr>
				      <td><div style="margin-bottom:16px;"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/arrow.png" width="13" height="16" /></div></td>
				      <td>Todo el mundo puede comerciar a partir<br/> de €100</td>
				    </tr>
			    </table>
			</div>
			<div id="blocks">
			    <table width="890" height="222" border="0" cellpadding="0" cellspacing="3">
			      <tr>
			        <th scope="col"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/text-box-es.png" width="439" height="224" /></th>
			        <th scope="col"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/text-box-es2.png" width="439" height="224" /></th>
			      </tr>
			    </table>
		  	</div>
		  	<div id="textbloc1_es">
		    	<p>Un colega me habló sobre anyoption y decidí probarlo. Sabía que me   iba a ir bien en esto porque estaba muy motivado y quería tener éxito.   Empecé a operar de forma inteligente y observé cómo poco a poco obtenía   altos ingresos. Disfruto tomando decisiones rápidas que me ofrecen   beneficios de hasta un 71% en cada inversión. Lo mejor de todo es que no   se necesita experiencia previa, <span style=" font-family:'Times New Roman', Times, serif">¡</span>cualquiera puede tener éxito!</p>
				<strong>  Santiago, 54, Cirujano </strong>
			</div>
			<div id="textbloc2_es">Leí sobre anyoption en internet y decidí probarlo. Me gustan las actividades dinámicas y tomar decisiones estratégicas, así que decidí invertir diversificando hábilmente con diferentes sumas de dinero. Hoy he elegido opciones que ofrecen una rentabilidad del 71% sobre la inversión. Para cada operación evalúo rápidamente la situación y analizo el riesgo versus la probabilidad. Me gusta ver cómo mis decisiones generan ganancias inmediatas, conocidas de antemano, en sólo unos pocos minutos. <br />
				<strong> David, Piloto, 36</strong>
			</div>
		</div>
	</div>
	<div id="footerlink"><img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/footer-button_#{applicationData.skinId}.png" width="589" height="66" onclick="openLightBoxPopUp();"/></div>
	<div id="footer">
	    <table width="269" border="0" cellspacing="3" cellpadding="0">
			<tr>
			    <th width="33" scope="col"><img src="#{applicationData.imagesPath}/icons/ao_tm.jpg" width="29" height="27" /></th>
				<th width="76" scope="col"><img src="#{applicationData.imagesPath}/icons/reuters.jpg" width="73" height="27" /></th>
				<th width="98" scope="col"><img src="#{applicationData.imagesPath}/icons/thawte.gif" width="95" height="27" /></th>
				<th width="47" scope="col"><img src="#{applicationData.imagesPath}/landing_Contactus/21.jpg" width="42" height="27" /></th>
  			</tr>
		</table>
	</div>
	<div id="footer-txt-es">* Nota importante sobre riesgos: las operaciones con opciones implican un riesgo   significativo. <br />
		Podrá ganar 65-71% para opciones in-the-money o perder 85%   para operaciones out-of-the-money.
	</div>
</div>
<div id="lightbox">
</div>
<!-- pop up Form -->
<div id="lightform">
 	<div class="top"></div>
	<div class="middle" style="background:url(#{applicationData.imagesPath}/landing_Contactus/LP_4assets/light_box_form_#{applicationData.skinId}.png) repeat-y top center;" >
   	<h:form id="contactForm" >
		 <h:panelGroup id="mainTable">
	    	<h:outputLabel class="in_header first" value="* #{msgs['register.firstname']}:" />
	        <div class="inputframe">
				<div class="input1">
				    <h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
				          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
				    </h:inputText>
			    </div>
			    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="inputframe error" />
	        </div>

	    	<h:outputLabel class="in_header" value="* #{msgs['register.lastname']}:" />
			<div class="inputframe" align="left">
				<div class="input1">
				    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
						validator="#{commonUtil.validateName}" >
				    </h:inputText>
			    </div>
			    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="inputframe error" />
	        </div>

			<h:outputLabel class="in_header" value="* #{msgs['register.email']}:" />
			<div class="inputframe">
				<div class="input1">
					<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
						validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
						<f:validator validatorId="org.apache.myfaces.validator.Email" />
					</h:inputText>
				</div>
				<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="inputframe error" />
			</div>

			<div id="safty2">
				<img src="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/1.png" width="12" height="16" />
				<h:outputLabel value="  #{msgs['register.email.safe']}" />
			</div>

			<h:outputLabel class="in_header" value="* #{msgs['register.phone']}:" />
	        <div class="in_phone">
		        <div class="input2">
		        	<div class="plus">+</div>
					<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);" class="mobilecode">
		        	  	<f:validateLongRange/>
		        	  	<f:validateLength minimum='1' maximum='4'/>
					</h:inputText>
		  		</div>
		        <div class="input3">
		 			<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
		  				<f:validateLength minimum='7' maximum='20' />
		  				<f:validateLongRange/>
					</h:inputText>
					<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="inputframe error" />
		        </div>
	        </div>
	        <br/><br/>
	        <div class="agree"><h:selectBooleanCheckbox id="agreeUpdatesLB" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}"></h:selectBooleanCheckbox> Acepto el envío de noticias y ofertas de <span style="margin-left:0px;">anyoption™</span></div>
			<!-- Flash submit button -->
			<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
			<t:commandButton id="savelink" style="display:none;" onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{applicationData.imagesPath}/landing_Contactus/LPopt_B/loading_B.gif');
					         		        return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
		       <div id="SWF2">
					  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="200" height="60">
					  	<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_LB_#{applicationData.skinId}.swf" allowScriptAccess="always" />
					  	<param name="allowScriptAccess" value="always" />
					    <param name="quality" value="high" />
					    <param name="wmode" value="transparent" />
					    <param name="swfversion" value="9.0.45.0" />
					    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
					    <param name="expressinstall" value="Scripts/expressInstall.swf" />
					    <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
					    <!--[if !IE]>-->
					    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LP_4assets/ShortForm_button_color_small_LB_#{applicationData.skinId}.swf" width="200" height="60" allowScriptAccess="always">
					      <!--<![endif]-->
					      <param name="allowScriptAccess" value="always" />
					      <param name="quality" value="high" />
					      <param name="wmode" value="transparent" />
					      <param name="swfversion" value="9.0.45.0" />
					      <param name="expressinstall" value="Scripts/expressInstall.swf" />
					      <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
					      <div>
					        <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
					        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
					      </div>
					      <!--[if !IE]>-->
					    </object>
					    <!--<![endif]-->
					  </object>
				</div>
			</t:commandButton>
			<!-- End Flash submit button  -->
			<h:panelGroup rendered="#{commonUtil.firstErrorSummaryMessagePopUpForm != ''}">
               	<div id="error_text" class="error_text">
                	<ul class="error_bullets">
                    	<h:outputText value="#{commonUtil.firstErrorSummaryMessage}" />
                    </ul>
                </div>
        	</h:panelGroup>
	    	<div id="lightbox_close"  onclick="closeLightBox();"></div>
	    </h:panelGroup>
    </h:form>
    </div>
    <div class="bottom"></div>
    </div>
    <div id="Overlay"></div>
<!-- End pop up Form -->
</f:view>
