<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/js/thickbox/jquery.js"></script>
	<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>

	<div id="wrapper">
		<div id="header">
			<div id="logo"></div>
		</div>
		<div id="mainbody">
			<div id="leader-photo"></div>
			<div id="slogans">
				<h1>“¿La Hipoteca? Ya ni me acuerdo...”</h1>
				<div id="slogan1">“Empecé a invertir con 350€ en mayo de 2010... No tenía ninguna experiencia de inversión pero al cabo de unas pocas semanas y con la fabulosa ayuda de Alonso ya no tengo preocupaciones de tipo económico... Muchas gracias por haberme guiado.”</div>
				<div id="slogan2">Alejandro H. (Zaragoza).</div>
			</div>
			<div id="leaders">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="242" height="249" id="C" align="middle">
				    <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LPopt_C/C.swf"/>
				    <!--[if !IE]>-->
				    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/LPopt_C/C.swf" width="242" height="249">
				        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LPopt_C/C.swf"/>
				    <!--<![endif]-->
				        <a href="http://www.adobe.com/go/getflash">
				            <img src="images/lead-list-placehold.jpg" width="242" height="249" border="0" />
				        </a>
				    <!--[if !IE]>-->
				    </object>
				    <!--<![endif]-->
				</object>
			</div>
			<div id="maincol">
				Anyoption™- Una nueva y sencilla forma de obtener la máxima rentabilidad posible. <span class="red">Con anyoption™ Vd. podrá:</span>
				<div id="center">
					<ul>
						<li class="first">Negociar con los activos financieros más importantes del mercado</li>
						<li>Conseguir una rentabilidad media del 70% de su inversión</li>
						<li>Operar en un entorno seguro y protegido mediante conexión cifrada SSL</li>
						<li class="last">Disponer de un servicio de atención al cliente las 24 horas del día</li>
					</ul>
				</div>
				<div id="leadbox">
					<h:form id="contactForm">
						<div id="leadbox-form">
							<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
								<div class="form-item">
									<h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
								          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
								    </h:inputText>
								    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
								</div>
								<div class="form-item">
								    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
								          validator="#{commonUtil.validateName}" >
								    </h:inputText>
								    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
								</div>
								<div class="form-item">
									<h:inputText style="width: 22px;margin-right:20px" maxlength="4" dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
				                	</h:inputText>
				               	   	<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}" style="width: 75px" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
				                	  	<f:validateLength minimum='7' maximum='20'/>
				                	  	<f:validateLongRange/>
				                	</h:inputText>
				                	<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
								</div>
								<div class="form-item">
					                <h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
						                validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
				    	                <f:validator validatorId="org.apache.myfaces.validator.Email"/>
				        	        </h:inputText>
								    <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
								</div>
								<div id="button">
							        <t:commandButton
						         		id="savelink"
						         		image="#{applicationData.imagesPath}/landing_Contactus/LPopt_C/submit.png"
						         		onmouseover="Changepic('contactForm:savelink','#{applicationData.imagesPath}/landing_Contactus/LPopt_C/submit-hover.png')"
						         		onmouseout="Changepic('contactForm:savelink','#{applicationData.imagesPath}/landing_Contactus/LPopt_C/submit.png' )"
						         		onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{applicationData.imagesPath}/landing_Contactus/LPopt_C/loading_C.gif');
						         		        return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
						         	</t:commandButton>
						         	<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
								</div>
							</h:panelGroup>
						<div id="winners"></div>
					</div>
					<div id="accept-layout"><h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox> Acepto el envío de noticias y ofertas de anyoption™</div>
				</h:form>
				<h:panelGroup rendered="#{commonUtil.firstErrorSummaryMessage != ''}">
					<div style="width: 466px; position: absolute; margin-top:30px;" >
				       	<div align="center">
				        	<h:outputText styleClass="error_text" value="#{commonUtil.firstErrorSummaryMessage}" />
				        </div>
			        </div>
		        </h:panelGroup>
			</div>
		</div>
		<div id="footer">
			<div id="promote1">
				<ul>
					<li>Reconocido por la U.E</li>
					<li>Opere desde su casa</li>
					<li>Conexión segura SSL</li>
					<li id="third">Fácil y simple</li>
					<li class="last">Sin comisiones</li>
				</ul>
			</div>
			Nota importante sobre riesgos: Las operaciones con opciones implican un riesgo significativo  •  Se recomienda que lea atentamente todos nuestros<br />
			términos y condiciones antes de realizar cualquier inversión  •    Los niveles aquí presentados son aquellos en los que anyoption™ <br />
			está dispuesta a vender opciones y vende sus opciones, no los niveles de mercado de tiempo real.  •  <br />
			Para más datos acerca de cómo se determinan los niveles de expiración haga clic aquí  •  Los clientes deben conocer sus obligaciones en cuanto al<br />
			impuesto sobre beneficios patrimoniales en su país de residencia
			</div>
		</div>
	</div>
</f:view>