<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <t:saveState value="#{limitsForm}" />

    <h:panelGroup>

		<h:form id="limitsForm">

   		   <h:panelGrid border="0" columns="1" width="100%">

			<h:panelGrid border="0" rows="1" columns="6" >
				<t:outputLabel for="skinId" value="#{msgs['limits.skin']}" />
		     	<t:selectOneMenu id="skinId" value="#{limitsForm.skinId}" >
		        	<f:selectItems value="#{writer.skinsAndEmptySI}" />
		        </t:selectOneMenu>

				<h:panelGrid width="10px" />

				<t:outputLabel  for="currencies" value="#{msgs['limits.currency']}" />
		     	<t:selectOneMenu id="currencies" value="#{limitsForm.currencyId}" >
		        	<f:selectItems value="#{writer.currencySI}" />
		        </t:selectOneMenu>

			 	<t:commandLink action="#{limitsForm.search}">
			     	<h:outputText value="#{msgs['button.search']}" />
		  	  	</t:commandLink>

		    </h:panelGrid>


		   <h:outputText styleClass="general_message" rendered="#{limitsForm.listSize==0}"
  		   				value="#{msgs['limits.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{limitsForm.list}"
           >
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.id']}"/>
               </f:facet>
               <t:commandLink action="#{limitsForm.bNavEditLimit}" immediate="true">
               		<h:outputText value="#{v.id}" />
                    <f:setPropertyActionListener target="#{limitsForm.limit}" value="#{v}" />

				</t:commandLink>

           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.skin.name']}"/>
               </f:facet>
               	<h:outputText value="#{msgs[v.skinName]}" />
           </h:column>

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.currency']}"/>
               </f:facet>
               	<h:outputText value="#{v.currencyName}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.isdefault']}"/>
               </f:facet>
				<t:selectBooleanCheckbox disabled="true" value="#{v.defaultBoolean}">
                </t:selectBooleanCheckbox>

           </h:column>

            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.name']}"/>
               </f:facet>
               <h:outputText value="#{v.name}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.minwithdraw']}"/>
               </f:facet>
               <h:outputText value="#{v.minWithdrawTxt}" />
           </h:column>
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.maxdeposit']}"/>
               </f:facet>
               <h:outputText value="#{v.maxDepositTxt}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.maxwithdraw']}"/>
               </f:facet>
               <h:outputText value="#{v.maxWithdrawTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.freeInvestMin']}"/>
               </f:facet>
               <h:outputText value="#{v.freeInvestMinTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.freeInvestMax']}"/>
               </f:facet>
               <h:outputText value="#{v.freeInvestMaxTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.bankWireFee']}"/>
               </f:facet>
               <h:outputText value="#{v.bankWireFeeTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.ccFee']}"/>
               </f:facet>
               <h:outputText value="#{v.ccFeeTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.chequeFee']}"/>
               </f:facet>
               <h:outputText value="#{v.chequeFeeTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.depositDocsLimit1']}"/>
               </f:facet>
               <h:outputText value="#{v.depositDocsLimit1Txt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.depositDocsLimit2']}"/>
               </f:facet>
               <h:outputText value="#{v.depositDocsLimit2Txt}" />
           </h:column>
           
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['limits.high.deposit.alert']}"/>
               </f:facet>
               <h:outputText value="#{v.depositAlertTxt}" />
           </h:column>
           
        </t:dataTable>

          <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{limitsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

		  <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

	        <t:commandLink action="#{limitsForm.bNavAddLimit}">
	                <h:outputText value="#{msgs['button.add.limit']}" />
			</t:commandLink>

 		  </h:panelGrid>
 		  </h:panelGrid>

        </h:form>


    </h:panelGroup>



</ui:define>
</ui:composition>
</html>
