<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

    <h:panelGroup >

        <h:form id="liveConfigForm">

			<h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">


                <t:outputLabel for="updInterval" value="#{msgs['live.config.interval']}"/>
                <h:panelGrid columns="3" >
            	   
	                <t:inputText id="updInterval" dir="ltr" style="text-align:center" size="9" maxlength="9" value="#{liveConfigForm.livepageGlobeUpdateInterval}" required="true">
 						<f:validateDoubleRange />
        	        </t:inputText>
                    <t:message id="updIntervalError" for="updInterval" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
            	
                 <t:outputLabel for="queueTtl" value="#{msgs['live.config.ttl']}"/>
                <h:panelGrid columns="3" >
            	   
	                <t:inputText id="queueTtl" dir="ltr" style="text-align:center" size="9" maxlength="9" value="#{liveConfigForm.livepageGlobeQueueTtl}" required="true">
 						<f:validateDoubleRange />
        	        </t:inputText>
                    <t:message id="queueTtlError" for="queueTtl" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>           	
            	
               <t:outputLabel for="minAmount" value="#{msgs['live.config.min.amount']}"/>
                <h:panelGrid columns="3" >            	
	                <t:inputText id="minAmount" dir="ltr" size="9" maxlength="9" value="#{liveConfigForm.livepageGlobeMinAmountTxtFloat}" required="true">
 						<f:validateDoubleRange />
        	        </t:inputText>
                    <t:message id="minAmountError" for="minAmount" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
            	
              <t:outputLabel for="fakeMinAmount" value="#{msgs['live.config.fake.min.amount']}"/>
                <h:panelGrid columns="3" >            	
	                <t:inputText id="fakeMinAmount" dir="ltr" size="9" maxlength="9" value="#{liveConfigForm.livepageGlobeFakeMinAmountTxtFloat}" required="true">
 						<f:validateDoubleRange />
        	        </t:inputText>
                    <t:message id="fakeMinAmountError" for="fakeMinAmount" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>
            	
            <t:outputLabel for="fakeMaxAmount" value="#{msgs['live.config.fake.max.amount']}"/>
                <h:panelGrid columns="3" >            	
	                <t:inputText id="fakeMaxAmount" dir="ltr" size="9" maxlength="9" value="#{liveConfigForm.livepageGlobeFakeMaxAmountTxtFloat}" required="true">
 						<f:validateDoubleRange />
        	        </t:inputText>
                    <t:message id="fakeMaxAmounttError" for="fakeMaxAmount" replaceIdWithLabel="true" styleClass="error"/>
            	</h:panelGrid>

            </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >

	            <t:commandLink action="#{liveConfigForm.save}">
	                <h:outputText value="#{msgs['button.save']}" />
			    </t:commandLink>
			 </h:panelGrid>

			</h:panelGrid>

        </h:form>

    </h:panelGroup>
    
</ui:define>
</ui:composition>

</html>