<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="oddsTypesForm">

			<t:saveState id="type" value="#{oddsTypesForm.type}" />

   			<h:panelGrid border="0" columns="1" width="100%">
            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{oddsTypesForm.type.id>0}" value="#{msgs['opportunities.oddstypes.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{oddsTypesForm.type.id>0}" value="#{oddsTypesForm.type.id}"> </h:outputText>

            	<h:outputLabel for="name" value="#{msgs['opportunities.oddstypes.name']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="15" maxlength="15" id="name" value="#{oddsTypesForm.type.name}"
		                required="true"	validator="#{utils.validateEnglishAndNumbersAndSpaces}" />
	            	<t:message id="nameError" for="name" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

	            <h:outputLabel for="overOddsWin" value="#{msgs['opportunities.oddstypes.over_odds_win']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="overOddsWin"
	                	value="#{oddsTypesForm.type.overOddsWin}" required="true" >
	                	<f:validateDoubleRange minimum="0" />
	                </h:inputText>
	            	<t:message id="overOddsWinError" for="overOddsWin" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

   	            <h:outputLabel for="overOddsLose" value="#{msgs['opportunities.oddstypes.over_odds_lose']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="overOddsLose"
	                	value="#{oddsTypesForm.type.overOddsLose}" required="true" >
	                	<f:validateDoubleRange minimum="0" />
	                </h:inputText>
	            	<t:message id="overOddsLoseError" for="overOddsLose" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

   	            <h:outputLabel for="underOddsWin" value="#{msgs['opportunities.oddstypes.under_odds_win']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="underOddsWin"
	                	value="#{oddsTypesForm.type.underOddsWin}" required="true" >
	                	<f:validateDoubleRange minimum="0" />
	                </h:inputText>
	            	<t:message id="underOddsWinError" for="underOddsWin" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

   	            <h:outputLabel for="underOddsLose" value="#{msgs['opportunities.oddstypes.under_odds_lose']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="underOddsLose"
	                	value="#{oddsTypesForm.type.underOddsLose}" required="true" >
	                	<f:validateDoubleRange minimum="0" />
	                </h:inputText>
	            	<t:message id="underOddsLoseError" for="underOddsLose" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

	            <h:outputLabel for="oddsWinDeductStep" value="#{msgs['opportunities.oddstypes.odds_win_deduct_step']}"/>
            	<h:panelGrid border="0" columns="2">
	                <h:inputText dir="ltr" styleClass="input_text" size="10" maxlength="10" id="oddsWinDeductStep"
	                	value="#{oddsTypesForm.type.oddsWinDeductStep}" required="true" >
	                	<f:validateDoubleRange minimum="0" maximum="0.0500001"/>
	                </h:inputText>
	            	<t:message id="oddsWinDeductStepError" for="oddsWinDeductStep" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

               <t:outputLabel styleClass="data_display" for="defaultBoolean" value="#{msgs['opportunities.oddstypes.isdefault']}"/>
               <t:selectBooleanCheckbox rendered="#{oddsTypesForm.type.defaultBoolean}" disabled="true" id="defaultBoolean" value="#{oddsTypesForm.type.defaultBoolean}" />
               <t:selectBooleanCheckbox rendered="#{!oddsTypesForm.type.defaultBoolean}" disabled="false" id="defaultBoolean2" value="#{oddsTypesForm.type.defaultBoolean}" />

			   <h:outputText value="#{msgs['opportunities.oddstypes.timecreated']}"/>
               <h:outputText styleClass="data_display" escape="false" value="#{oddsTypesForm.type.timeCreated}">
                   <f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{writer.currentPageUtcOffset}" />
                </h:outputText>
            </h:panelGrid>

             <h:panelGrid style="text-align:left" columns="1" border="0" width="20%" >

				 <t:commandLink action="#{oddsTypesForm.updateInsert}">
		                <h:outputText value="#{msgs['button.save']}" />
		  		 </t:commandLink>
	        </h:panelGrid>
            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>