<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <t:saveState value="#{oddsTypesForm}" />

    <h:panelGroup >

		<h:form id="oddsTypesForm">

			<h:panelGrid border="0" columns="1" width="100%">

		   <h:outputText styleClass="general_message" rendered="#{oddsTypesForm.listSize==0}"
  		   				value="#{msgs['general.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{oddsTypesForm.list}"
           >

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.id']}"/>
               </f:facet>
               <t:commandLink action="oddsType" immediate="true">
               		<h:outputText value="#{v.id}" />
                    <f:setPropertyActionListener target="#{oddsTypesForm.type}" value="#{v}" />
				</t:commandLink>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.name']}"/>
               </f:facet>
               <h:outputText value="#{v.name}" />
           </h:column>
            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.over_odds_win']}"/>
               </f:facet>
               <h:outputText value="#{v.overOddsWin}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.over_odds_lose']}"/>
               </f:facet>
               <h:outputText value="#{v.overOddsLose}" />
           </h:column>

			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.under_odds_win']}"/>
               </f:facet>
               <h:outputText value="#{v.underOddsWin}" />
           </h:column>

           	<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.under_odds_lose']}"/>
               </f:facet>
               <h:outputText value="#{v.underOddsLose}" />
           </h:column>

			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.odds_win_deduct_step']}"/>
               </f:facet>
               <h:outputText value="#{v.oddsWinDeductStep}" />
           </h:column>

           	<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.oddstypes.isdefault']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.defaultBoolean}" />
           </h:column>

           	<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.oddstypes.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreated}">
                   <f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{writer.currentPageUtcOffset}" />
                </h:outputText>
           </h:column>
        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{oddsTypesForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>
		 <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >

		  <t:commandLink action="#{oddsTypesForm.initValues}">
		                <h:outputText value="#{msgs['opportunities.oddstypes.addnew']}" />
 		  </t:commandLink>

        </h:panelGrid>
        </h:panelGrid>

        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>
</html>