<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

		<h:form id="opportunityTemplatesForm">

			<h:panelGrid border="0" columns="1" width="100%">

  			   <h:panelGrid border="0" columns="11" >

				<h:outputLabel for="marketId" value="#{msgs['opportunities.templates.market_id']}"/>
   			  	<h:selectOneMenu id="groupId" value="#{opportunityTemplatesForm.marketGroup}">
   			  		<c:if test="#{user.sadminSelected}">
        				<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0,0" />
    				</c:if>
	   				<f:selectItems value="#{user.sadminSelected ? writer.marketsAndGroups.entrySet() : writer.getActiveMarketsAndGroupsWithOneTouchAndLongTermSI(false)}" 
	   							   var="entry" itemValue="#{entry.key}" itemLabel="#{entry.value}"/>
		        </h:selectOneMenu>

 			    <h:panelGrid border="0" columns="1" width="20">
			    </h:panelGrid>

				<t:outputLabel for="activeId" value="#{msgs['invlimits.active']}" />
	        	<t:selectOneMenu id="activeId" value="#{opportunityTemplatesForm.active}"  >
		       		<f:selectItems value="#{writer.isActiveAllSI}" />
	   	        </t:selectOneMenu>
	  			
				<t:commandLink action="#{opportunityTemplatesForm.search}">
		                <h:outputText value="#{msgs['button.search']}" />
	  			</t:commandLink>

		       </h:panelGrid>

		   <h:outputText styleClass="general_message" rendered="#{opportunityTemplatesForm.listSize==0}"
  		   				value="#{msgs['general.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{opportunityTemplatesForm.list}"
           >

		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.id']}"/>
               </f:facet>
               <t:commandLink action="oppTemplate" immediate="true">
               		<h:outputText value="#{v.id}" />
                    <f:setPropertyActionListener target="#{opportunityTemplatesForm.template}" value="#{v}" />
				</t:commandLink>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.market_id']}"/>
               </f:facet>
               <h:outputText value="#{utils.getMarketName(v.marketId)}"/>
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.templates.upDown']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.up_downDesc}" />
           </h:column>

            <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.time_first_invest']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeFirstInvest}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.time_est_closing']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeEstClosing}" />
           </h:column>

			<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.time_last_invest']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeLastInvest}" />
           </h:column>

           	<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.odds_type_id']}"/>
               </f:facet>
               <h:outputText value="#{v.oddsTypeName}" />
           </h:column>

          	<h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.active']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.active}" />
           </h:column>

          	<h:column rendered="#{user.hasSAdminRole}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.scheduled']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{opportunityTemplatesForm.getScheduledTxt(v.scheduled)}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.timezone']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeZone}" />
           </h:column>

           <h:column rendered="#{user.hasSAdminRole}">
               <f:facet name="header">
	               <h:outputText value="#{msgs['opportunities.templates.fullday']}"/>
               </f:facet>
               <h:selectOneMenu disabled="true" value="#{v.fullDay}">
 	            	<f:selectItem itemValue="0" itemLabel="#{msgs['no']}" />
 	            	<f:selectItem itemValue="1" itemLabel="#{msgs['yes']}" />
 	            	<f:selectItem itemValue="2" itemLabel="#{msgs['opportunity.templates.full.day.sunday']}" />
               </h:selectOneMenu>
           </h:column>

           <h:column rendered="#{user.hasSAdminRole}">
               <f:facet name="header" >
	               <h:outputText value="#{msgs['opportunities.templates.halfday']}"/>
               </f:facet>
               <h:selectBooleanCheckbox disabled="true" value="#{v.halfDay}" />
           </h:column>

           	<h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.templates.writer_id']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{utils.getWriterName(v.writerId)}" />
           </h:column>

           <h:column rendered="#{user.hasSAdminRole}">
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.templates.deduct_win_odds']}"/>
               </f:facet>
               <h:outputText rendered="#{v.deductWinOdds}" escape="false" value="#{msgs['yes']}" />
               <h:outputText rendered="#{!v.deductWinOdds}" escape="false" value="#{msgs['no']}" />
           </h:column>

           <h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['opportunities.templates.opportunity_type_id']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.opTypeDesc}" />
           </h:column>           
                      
           <h:column>
               <f:facet name="header">
	               <t:outputText value="#{msgs['return.refun.selector.group.value']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{opportunityTemplatesForm.getGroupValuePct(v.oddsGroup)}" />
           </h:column>



        </t:dataTable>

		 <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{opportunityTemplatesForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>
		 <h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
		  <t:commandLink action="#{opportunityTemplatesForm.initValues}" immediate="true">
		                <h:outputText value="#{msgs['opportunities.templates.addnew']}" />
 		  </t:commandLink>
        </h:panelGrid>
        
        <h:panelGrid style="text-align:left" rendered="#{user.hasTraderRole}" columns="1" border="0" width="100%">
			<h:commandLink action="#{opportunityTemplatesForm.exportTableToCSV}">
						<h:outputText value="#{msgs['investment.exportexcel']}" />
		</h:commandLink>
		</h:panelGrid>
        
        </h:panelGrid>

        </h:form>

    </h:panelGroup>
</ui:define>
</ui:composition>
</html>