<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general.xhtml">		
		<ui:define name="content">
			<script language="JavaScript" >
				function confirmit() {			
					if (!confirm('#{msgs['rewards.tier.confirm']}')) {
						return false;
					}
					return true;
				}
			</script>
		
			<SCRIPT language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
    		<h:form id="rewardsChangeTiersForm">			
    		 	<t:saveState id="rewardsChangeTiersForm" value="#{rewardsChangeTiersForm}" />	
    		 	<!-- START STEP 1  EDIT REWARDS TIER -->	
    		 	<h:panelGroup rendered="#{rewardsChangeTiersForm.step == 1}" >
	    			<t:dataTable id="rwd_task_exp_pnts_distribution"
						styleClass="scrollerTable"
						headerClass="standardTable_Header"
						footerClass="standardTable_Header"
						rowClasses="standardTable_Row1,standardTable_Row2"
						columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
						var="v"
						preserveDataModel="false"
						rows="10"
						renderedIfEmpty="false"
						cellpadding="0"
						cellspacing="1"
						rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
						rowOnMouseOut="this.style.backgroundColor=old"
						value="#{rewardsChangeTiersForm.newTiers}">				
					   <h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['rewards.id']}"/>
			               </f:facet>		               
			               <h:outputText value="#{v.id}" />		           	   		               								              					   		           	   
			           </h:column>
					   <h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['rewards.name']}"/>
			               </f:facet>		               
			               <h:outputText value="#{v.name}" />		           	   		               								              					   		           	   
			           </h:column>	
					   <h:column>
			               <f:facet name="header">
				               <h:outputText value="#{msgs['rewards.min.exp.pnts']}"/>
			               </f:facet>		               
			                <h:inputText rendered="#{v.id != 1}" styleClass="input_text" size="20" maxlength="20" value="#{v.minExperiencePoints}" />
			                <h:outputText rendered="#{v.id == 1}" value="#{v.minExperiencePoints}" />			                			                                            	                			           	   		               								              					   		           	   
			           </h:column>			           	           	           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
					</t:dataTable>        			    	    						
				</h:panelGroup>	
				<!-- END STEP 1  EDIT REWARDS TIER -->
				<!-- START STEP 2 CONFIRMATION -->
				<h:panelGroup rendered="#{rewardsChangeTiersForm.step == 2}" >		  	  		
			  	    <h:panelGrid columns="5" border="0" width="970px" >
			  	    	<!-- Current Tiers -->	  
			  	    		<!-- TIERS  -->  
			  	    	<h:outputText value="#{msgs['rewards.current']}" />			  	    	  			  	  	  	
		    			<t:dataTable id="rwd_current_tiers"
							styleClass="scrollerTable"
							headerClass="standardTable_Header"
							footerClass="standardTable_Header"
							rowClasses="standardTable_Row1,standardTable_Row2"
							columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
							var="v"
							preserveDataModel="false"
							rows="10"
							renderedIfEmpty="false"
							cellpadding="0"
							cellspacing="1"
							rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
							value="#{rewardsChangeTiersForm.currentTiers}">				
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.id']}"/>
				               </f:facet>		               
				               <h:outputText value="#{v.id}" />		           	   		               								              					   		           	   
				           </h:column>
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.name']}"/>
				               </f:facet>		               
				               <h:outputText value="#{v.name}" />		           	   		               								              					   		           	   
				           </h:column>	
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.min.exp.pnts']}"/>
				               </f:facet>		               
				                <h:outputText value="#{v.minExperiencePoints}" />	                            	                			           	   		               								              					   		           	   
				           </h:column>			           	           	           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
						</t:dataTable>	
							<!-- DISTRIBUTION  -->
		    			<t:dataTable id="current_rwd_user_tiers_dst"
							styleClass="scrollerTable"
							headerClass="standardTable_Header"
							footerClass="standardTable_Header"
							rowClasses="standardTable_Row1,standardTable_Row2"
							columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
							var="v"
							preserveDataModel="false"
							rows="10"
							renderedIfEmpty="false"
							cellpadding="0"
							cellspacing="1"
							rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
							value="#{rewardsChangeTiersForm.currentRewardUserTierDistributionList}">				
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.tier.id']}"/>
				               </f:facet>		               
				               <h:outputText value="#{v.tierId}" />		           	   		               								              					   		           	   
				           </h:column>			
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.num.users']}"/>
				               </f:facet>		               
				                <h:outputText value="#{v.numUsers}" />	                            	                			           	   		               								              					   		           	   
				           </h:column>			           	           	           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
						</t:dataTable>																									  	  
				  	  	<!-- New Tiers -->	  
				  	  	<h:outputText value="#{msgs['rewards.new']}" />	  	
		    			<t:dataTable id="rwd_new_tiers"
							styleClass="scrollerTable"
							headerClass="standardTable_Header"
							footerClass="standardTable_Header"
							rowClasses="standardTable_Row1,standardTable_Row2"
							columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
							var="v"
							preserveDataModel="false"
							rows="10"
							renderedIfEmpty="false"
							cellpadding="0"
							cellspacing="1"
							rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
							value="#{rewardsChangeTiersForm.newTiers}">				
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.id']}"/>
				               </f:facet>		               
				               <h:outputText value="#{v.id}" />		           	   		               								              					   		           	   
				           </h:column>
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.name']}"/>
				               </f:facet>		               
				               <h:outputText value="#{v.name}" />		           	   		               								              					   		           	   
				           </h:column>	
						   <h:column>
				               	<f:facet name="header">
					               <h:outputText value="#{msgs['rewards.min.exp.pnts']}"/>
				           		</f:facet>		               
				           		<h:outputText value="#{v.minExperiencePoints}" />	                            	                			           	   		               								              					   		           	   
				           </h:column>			           	           	           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
						</t:dataTable>
							<!-- DISTRIBUTION  -->
		    			<t:dataTable id="new_rwd_user_tiers_dst"
							styleClass="scrollerTable"
							headerClass="standardTable_Header"
							footerClass="standardTable_Header"
							rowClasses="standardTable_Row1,standardTable_Row2"
							columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
							var="v"
							preserveDataModel="false"
							rows="10"
							renderedIfEmpty="false"
							cellpadding="0"
							cellspacing="1"
							rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
							rowOnMouseOut="this.style.backgroundColor=old"
							value="#{rewardsChangeTiersForm.newRewardUserTierDistributionList}">				
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.tier.id']}"/>
				               </f:facet>		               
				               <h:outputText value="#{v.tierId}" />		           	   		               								              					   		           	   
				           </h:column>			
						   <h:column>
				               <f:facet name="header">
					               <h:outputText value="#{msgs['rewards.num.users']}"/>
				               </f:facet>		               
				                <h:outputText value="#{v.numUsers}" />	                            	                			           	   		               								              					   		           	   
				           </h:column>			           	           	           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
						</t:dataTable>							 		  	  	
					</h:panelGrid>
					<!-- User changed by tier -->	
						<h:outputText value="#{msgs['rewards.affected.user']}" />:&#160;<h:outputText value="#{rewardsChangeTiersForm.affectedUsers}" />
				</h:panelGroup>						
				<!-- END STEP 2 CONFIRMATION -->
				<!-- START STEP 3 CONFIRMATION -->
				
				<!-- END STEP 3 CONFIRMATION -->
				<!-- NAVIGATION -->
				<div style="width:310px;">	
						<div style="float:left;">																	
							<h:commandButton id="cancel" immediate="true" value="#{msgs['rewards.cancel']}" action="#{rewardsChangeTiersForm.navigate(3)}"
							 style="cursor:pointer" rendered="#{rewardsChangeTiersForm.step == 2}" />
						</div>
					<div style="float:right;">													
						<h:commandButton id="next" 		value="#{msgs['rewards.next']}"  	action="#{rewardsChangeTiersForm.navigate(1)}"	style="cursor:pointer" rendered="#{rewardsChangeTiersForm.step == 1}" />
						<h:commandButton id="upload" 	value="#{msgs['rewards.update']}" 	action="#{rewardsChangeTiersForm.navigate(1)}" style="cursor:pointer;color:#0000ff" rendered="#{rewardsChangeTiersForm.step == 2}" onclick="if(!confirmit()) return false;" />
					</div>						
				</div>				
    		</h:form>
		</ui:define>
	</ui:composition>
</html>