<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">

    <h:panelGroup >

        <h:form id="writersForm">

			<t:saveState id="writer" value="#{writersForm.writer}" />

 		    <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2">

                <h:outputText rendered="#{writersForm.writer.id>0}" value="#{msgs['writers.id']}"/>
                <h:outputText styleClass="data_display" rendered="#{writersForm.writer.id>0}" value="#{writersForm.writer.id}"> </h:outputText>

                <h:outputLabel for="userName" value="#{msgs['writers.username']}" />
                <h:panelGrid columns="2" border="0">
	                <t:inputText id="userName" size="20" maxlength="20" value="#{writersForm.writer.userName}" required="true"
    	            	validator="#{utils.validateEnglishAndNumbers}" />
                	<t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

				<h:outputLabel for="password" value="#{msgs['writers.password']}" />
				<h:panelGrid columns="2" border="0">
        	        <t:inputText id="password" size="20" maxlength="20" value="#{writersForm.writer.password}" required="true"
    	            	validator="#{utils.validateEnglishAndNumbers}" />
	                <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

 				<h:outputLabel styleClass="text_gray_12_bold" for="firstName" value="#{msgs['register.firstname']}"/>
	            <h:panelGrid columns="2" border="0">
	                <t:inputText styleClass="input_text" size="15" maxlength="15" id="firstName" value="#{writersForm.writer.firstName}" required="true"
	                                 validator="#{utils.validateLettersOnly}" >
	                </t:inputText>
	                <t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="lastName" value="#{msgs['register.lastname']}"/>
	            <h:panelGrid columns="2" border="0">
	                <t:inputText styleClass="input_text" size="15" maxlength="15" id="lastName" value="#{writersForm.writer.lastName}" required="true"
	                                 validator="#{utils.validateLettersOnly}" >
	                </t:inputText>
	                <t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="street" value="#{msgs['register.street']}"/>
	            <h:panelGrid columns="2" border="0">
	                <t:inputText styleClass="input_text" size="20" maxlength="20" id="street" value="#{writersForm.writer.street}" required="true"
		                validator="#{utils.validateStreet}">
	                </t:inputText>
	                <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	                <h:outputLabel styleClass="text_gray_12_bold" for="streetno" value="#{msgs['register.streetno']}"/>
	            <h:panelGrid columns="2" border="0">
	              <t:inputText dir="ltr" size="5" maxlength="6" styleClass="input_text" id="streetno" value="#{writersForm.writer.streetNo}" required="true"
	                 validator="#{utils.validateStreetNo}" >
	                 <f:validateLength maximum='5'/>
                  </t:inputText>
                <t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="error"/>
         	   </h:panelGrid>

   			    <h:outputLabel styleClass="text_gray_12_bold" for="cityId" value="#{msgs['register.city']}"/>
	            <h:panelGrid columns="2" border="0">
			         <t:inputText size="24" maxlength="24" autocomplete="off" styleClass="input_text" id="cityId" name="cityId" value="#{writersForm.writer.cityName}" required="true" />
 			  	     <t:message id="cityIdError" for="cityId" replaceIdWithLabel="true" styleClass="error"/>
	        	</h:panelGrid>

             <h:outputLabel styleClass="text_gray_12_bold" for="zipCode" value="#{msgs['register.postcode']}"/>
	            <h:panelGrid columns="2" border="0">
	                <t:inputText styleClass="input_text" dir="ltr" maxlength="6" id="zipCode" size="6" value="#{writersForm.writer.zipCode}" >
	                	  	<f:validateLongRange/>
	                </t:inputText>
	                <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	 				<h:outputLabel styleClass="text_gray_12_bold" for="email" value="#{msgs['register.email']}"/>
	 				<h:panelGrid columns="2" border="0">
	                <t:inputText dir="ltr" size="30" maxlength="30" styleClass="input_text" id="email" value="#{writersForm.writer.email}" required="true">
	                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
	                </t:inputText>
	                <t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>
	        	</h:panelGrid>

	         <t:outputLabel  for="comments" value="#{msgs['register.comments']}"/>
             <t:panelGrid border="0" columns="2">
             		<t:inputTextarea cols="50" rows="3" id="comments" value="#{writersForm.writer.comments}"  >
             			<f:validateLength maximum="100"/>
            		</t:inputTextarea>
                <t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
            </t:panelGrid>

	            <h:outputText styleClass="text_gray_12_bold" value="#{msgs['register.birthdate']}"/>
				<h:panelGrid columns="2" border="0">
					<h:panelGrid columns="6">
	 					<h:outputLabel styleClass="text_gray_12" for="birthYear" value="#{msgs['register.birthyear']}"/>
	               		<h:selectOneMenu disabled="#{!user.hasAdminRole}" styleClass="input_text" id="birthYear" value="#{writersForm.writer.birthYear}"  required="true">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.years}" />
	               		</h:selectOneMenu>

	                	<h:outputLabel styleClass="text_gray_12" for="birthMonth" value="#{msgs['register.birthmonth']}"/>
	               		<h:selectOneMenu disabled="#{!user.hasAdminRole}" styleClass="input_text" id="birthMonth" value="#{writersForm.writer.birthMonth}" required="true">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>

	               		<h:outputLabel styleClass="text_gray_12" for="birthDay" value="#{msgs['register.birthday']}"/>
	                	<h:selectOneMenu disabled="#{!user.hasAdminRole}" styleClass="input_text" id="birthDay" value="#{writersForm.writer.birthDay}" required="true">
	                		<f:selectItem  itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.days}" />
	                	</h:selectOneMenu>
	    	        </h:panelGrid>

				    <t:message id="birthYearError" for="birthYear" detailFormat="#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="error"/>
		            <t:message id="birthMonthError" for="birthMonth" detailFormat="#{msgs['error.register.month']}" replaceIdWithLabel="true" styleClass="error"/>
			        <t:message id="birthDayError" for="birthDay" detailFormat="#{msgs['error.register.day']}" replaceIdWithLabel="true" styleClass="error"/>

	       		</h:panelGrid>

	        	<h:outputLabel styleClass="text_gray_12_bold" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
				<h:panelGrid columns="2" border="0">
					<h:panelGrid columns="2">
		               	   	<t:inputText size="5" maxlength="7" styleClass="input_text" dir="ltr" id="mobilePhone" value="#{writersForm.writer.mobilePhoneSuffix}" >
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='7' maximum='7'/>
		                	</t:inputText>
		                	<h:selectOneMenu styleClass="input_text"  id="mobilePhonePref" value="#{writersForm.writer.mobilePhonePrefix}" >
		                		<f:selectItem  itemLabel="" itemValue="" />
		                		<f:selectItems value="#{applicationData.mobilePref}" />
		                	</h:selectOneMenu>
					</h:panelGrid>

	                <t:message id="mobilePhoneError" for="mobilePhone" detailFormat="#{msgs['error.register.number']}" replaceIdWithLabel="true" styleClass="error"/>
   	                <t:message id="mobilePhonePrefError" for="mobilePhonePref" detailFormat="#{msgs['error.register.prefix']}" replaceIdWithLabel="true" styleClass="error"/>

		        </h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="landLinePhone" value="#{msgs['register.phone']}"/>
				<h:panelGrid columns="2" border="0">
					<h:panelGrid columns="2">
		               	   	<t:inputText size="5" maxlength="7" styleClass="input_text" dir="ltr" id="landLinePhone" value="#{writersForm.writer.landLinePhoneSuffix}" >
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='7' maximum='7'/>
		                	</t:inputText>
		                	<h:selectOneMenu styleClass="input_text"  id="landLinePhonePref" value="#{writersForm.writer.landLinePhonePrefix}" >
		                		<f:selectItem  itemLabel="" itemValue="" />
		                		<f:selectItems value="#{applicationData.phonePref}" />
		                	</h:selectOneMenu>
				    </h:panelGrid>
		 		    <h:panelGrid columns="2">
		       	            <t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error"/>
		   	                <t:message id="landLinePhonePrefError" for="landLinePhonePref" replaceIdWithLabel="true" styleClass="error"/>
		            </h:panelGrid>
	            </h:panelGrid>

				<t:outputLabel for="isActive" value="#{msgs['register.active']}"/>
    	        <t:panelGrid border="0" columns="2">
 				<t:selectOneMenu id="isActive" value="#{writersForm.writer.isActive}" >
               			<f:selectItem itemLabel="#{msgs['no']}" itemValue="0" />
               			<f:selectItem itemLabel="#{msgs['yes']}" itemValue="1" />
           		</t:selectOneMenu>
                <t:message id="isActiveError" for="isActive" replaceIdWithLabel="true" styleClass="error"/>
        	    </t:panelGrid>


            </h:panelGrid>

            <h:panelGrid style="text-align:left" columns="1" border="0" width="30%" >

              <t:commandLink action="#{writersForm.updateInsert}">
	                <h:outputText value="#{msgs['button.save']}" />
			  </t:commandLink>

			</h:panelGrid>

			</h:panelGrid>
        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>