<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title>168期权</title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content=""/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/landingContactus.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading – 168qiquan.com" href="http://www.168qiquan.com/feed.xml"/>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/swfobject.js"></script>
    <script type="text/javascript">
	    swfobject.registerObject("myId", "9.0.0", "swf/expressInstall.swf");
    </script>
    <script type="text/javascript">
    <!--
		function flashSubmit(){
			window.location="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}";
		}
    -->
    </script>

</head>

<body dir="">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<f:view locale="#{applicationData.userLocale}">


<script>
	document.domain = "#{applicationData.domainUrl}";
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var image_context_path = "#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}";
	var skinId = #{applicationData.skinId};
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
</script>

<h:panelGroup rendered="#{!applicationData.rtlAlign}">
	<script>
		if (typeof(lpUnit)=='undefined') {
			var lpUnit='#{applicationData.userLocale.displayLanguage}';
		}
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/mtagconfigLanding.js" type="text/Javascript"></script>

	<!-- Begin LP Custom Variables-->
	<script type="text/javascript">
	// Variables submission using lpAddVars
		lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session  ','Campaign','#{applicationData.campaignName}');
		lpAddVars('session','SkinId','#{applicationData.skinId}');
		lpAddVars('session','survey_pre-chat_enable','on');
	</script>

</h:panelGroup>

<ui:include src="/jsp/#{applicationData.userLocale.language}/70_generic.xhtml"></ui:include>

</f:view>

<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>

</body>
</html>
