<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.aboutus.metadata.description']}" />
</ui:define>
<ui:define name="keyWordsNew">
	<c:set var="keywords" value="#{msgs['CMS.aboutus.metadata.keywords']}" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.aboutus.metadata.jsf.title']}"/>
</ui:define>
<ui:define name="title"><h:outputText styleClass="header_new_design_pages" value="#{msgs['CMS.aboutus.text.rightnav.aboutus']}"/></ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['CMS.aboutus.text.rightnav.aboutus.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['CMS.aboutus.metadata.jsf.title']}"/>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}" />
</ui:define>
<ui:define name="content">
	 <ui:include src="/jsp/aboutus_content.xhtml"></ui:include>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>