<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<!--New App BOX-->
	<div id="headerAppBox" style="height:400px;width:240px;">
		<div style="margin-left:30px;">
			<h1>
				<h:outputText escape="false" value="#{msgs['anywhere.title.txt']}" />
			</h1>
	      	<p class="AppBox_content">
		    	<h:outputText escape="false" value="#{msgs['anywhere.header.txt']}" />
			</p>
		    <div class="bttn_AppStore">
		    	<a href="http://itunes.apple.com/us/app/168qiquan/id403987356?mt=8" target="_blank" style="text-decoration:none;"></a><img src="#{applicationData.imagesPath}/text_AppStore.png" alt="" border="0" />
		    </div>
		    <div class="bttn_GooglePlay">
		    	<a href="http://market.android.com/details?id=com.168qiquan.android.app" target="_blank" style="text-decoration:none;"></a><img src="#{applicationData.imagesPath}/text_GooglePlay.png" alt="" border="0" />
		    </div>
	    </div>
    </div>
    <!--End of New App BOX-->

</f:view>