﻿<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >
<h:form id="regulationPopupForm">
    <div class="container_reg_popup">
        <div class="content_txt">
            <h1>
                Dear <h:outputText value=" "/> <h:outputText value="#{user.firstName}"/> ,</h1>
            In compliance with EU regulation, all costumers are obligated to provide identification
            documents after their deposit in order to trade. According to our records, some
            or all of your documents are missing, therefore we had to temporarily suspend your
            account.
            <br />
            <br />
            <strong>In order to continue trading, please send us the following documents as soon
                as possible:</strong>
            <ul>
                <li>A <strong>colored</strong> copy of your ID, passport or driver’s license.</li>
                <li>A <strong>colored</strong> copy of a utility bill in your name from the past 6 months
                    (e.g., Phone bill, electricity bill).</li>
                <li>In the event that you performed a credit card deposit, a <strong>colored</strong>
                    copy of both sides of the card will be required.</li>
            </ul>
            <br />
            The documents should be sent to our email at <a href="mailto:support@168qiquan.com">
                support@168qiquan.com</a> Please contact our customer service for any further
            assistance.
        </div>
        <div onclick="window.close()" id="lightbox_close"></div>
        </div>
</h:form>
</f:view>
