
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_without_banners.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.appPage.metadata.window.title']}"/>
</ui:define>
<ui:define name="title">
	<h:outputText styleClass="header_new_design_pages" value="#{msgs['CMS.appPage.text.page']}" />
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['CMS.appPage.text.title']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['CMS.appPage.text.generalterms.jsf.title']}"/>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.appPage.metadata.description']}" />
</ui:define>
<ui:define name="metaKeywords">
	<c:set var="metaKey" value="#{msgs['CMS.appPage.metadata.keywords']}" />
</ui:define>
<ui:define name="selected">
 	<c:set var="selectedTd" value="appPage" />
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" />
</ui:define>
<ui:define name="content">

	<script>
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		function sendLinkToEMailOrSms(phoneType, popupType) {
			<c:if test="${!empty facesContext.externalContext.remoteUser &amp;&amp; !user.acceptedTerms}">
				window.location = context_path + "/jsp/terms.jsf?from=appPage";
			</c:if>
			<c:if test="${empty facesContext.externalContext.remoteUser || !empty facesContext.externalContext.remoteUser &amp;&amp; user.acceptedTerms}">
				runSendAppSmsThickBox(phoneType, popupType);
			</c:if>
		
		}
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>

	<div class="smartphone_page" >
	  	<div class="smartphone_mobile"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/smartphone/mobiles.jpg" alt="#{msgs['CMS.appPage.alt.smartphone.mobiles.jpg']}" width="397" height="545" /></div>
	  	<div class="smartphone_anywhere" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/smartphone/ao_anywhere.gif" alt="#{msgs['CMS.appPage.alt.smartphone.ao_anywhere.gif']}" width="389" height="49" />
		    <h1 class="smartphone_h1"><h:outputText value="#{msgs['CMS.appPage.text.smartphone.header.txt']}" escape="false" /></h1>
		    <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt']}" escape="false" /> <br />
		    <br />
		    <span class="smartphone_lightB">»</span> <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt2']}" escape="false" /><br />
		    <span class="smartphone_lightB">»</span> <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt3']}" escape="false" /><br />
		    <span class="smartphone_lightB">»</span> <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt4']}" escape="false" /><br />
		    <span class="smartphone_lightB">»</span> <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt5']}" escape="false" /><br />
		    <span class="smartphone_lightB">»</span> <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt6']}" escape="false" /><br />
		    <span class="smartphone_lightB">»</span> <h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt7']}" escape="false" /><br />
		    <br />
		</div>
		<div class="smartphone_appstor"><h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt8']}" escape="false" /><br />
		    <br />
		    <a target="_blank" style="text-decoration: none;" href="http://itunes.apple.com/us/app/168qiquan/id403987356?mt=8"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/smartphone/appstor.gif" alt="#{msgs['CMS.appPage.alt.smartphone.appstor.gif']}" style="padding-top:5px; padding-bottom:5px;" border="0"/></a><br />
		    <h:panelGroup rendered="#{mobileAppForm.smsAllowed}">
			    <strong class="smartphone_lightB"><a class="smartphone_lightB" style="text-decoration: none;" href="#" onclick="sendLinkToEMailOrSms('iphone', 'Sms'); return false;"><h:outputText value="#{msgs['CMS.appPage.label.smartphone.txt9']}" escape="false" /></a></strong><br/>
			</h:panelGroup>
		    <strong class="smartphone_lightB"><a class="smartphone_lightB" style="text-decoration: none;" href="#" onclick="sendLinkToEMailOrSms('iphone', 'Email'); return false;"><h:outputText value="#{msgs['CMS.appPage.label.smartphone.txt12']}" escape="false" /></a></strong>
		</div>
		<div class="smartphone_market"><h:outputText value="#{msgs['CMS.appPage.text.smartphone.txt10']}" escape="false" /><br />
		    <br />
		    <a target="_blank" style="text-decoration: none;" href="http://market.android.com/details?id=com.168qiquan.android.app"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/smartphone/google_play.gif" alt="#{msgs['CMS.appPage.alt.smartphone.google_play.gif']}" style="padding-top:5px; padding-bottom:5px;" border="0" /></a><br />
		    <h:panelGroup rendered="#{mobileAppForm.smsAllowed}">
			    <strong class="smartphone_lightB"><a class="smartphone_lightB" style="text-decoration: none;" href="#" onclick="sendLinkToEMailOrSms('android', 'Sms'); return false;"><h:outputText class="smartphone_lightB" value="#{msgs['CMS.appPage.label.smartphone.txt11']}" escape="false" /></a></strong><br/>
		    </h:panelGroup>
		    <strong class="smartphone_lightB"><a class="smartphone_lightB" style="text-decoration: none;" href="#" onclick="sendLinkToEMailOrSms('android', 'Email'); return false;"><h:outputText class="smartphone_lightB" value="#{msgs['CMS.appPage.label.smartphone.txt12']}" escape="false" /></a></strong>
		</div>
	</div>
	<a id="thickBoxLinkSms" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/sendLinkToMobile.jsf"/>
	<a id="thickBoxLinkEmail" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/sendLinkToMobileEmail.jsf"/>
</ui:define>
</ui:composition>
</body>
</html>