<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<f:view locale="#{applicationData.userLocale}">
<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_without_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.banking.metadata.description']}" />
</ui:define>
<ui:define name="selected">
 	<c:set var="selectedTd" value="banking" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.banking.metadata.depositandwithdraw.jsf.title']}"/>
</ui:define>
<ui:define name="title">
	<span class="title_size">#{msgs['CMS.banking.text.rightnav.deposit.withdraw']}</span>
</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText styleClass="header_pages_message_banking" value="#{msgs['CMS.banking.text.header.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
	<h:outputText value="#{msgs['depositandwithdraw.jsf.title']}"/>
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" />
</ui:define>
<ui:define name="head">
	<script>
		var lastTd = null;

		function showArrow(tdId, link){
		 var tdActive = document.getElementById(tdId + "_arrow");
		 tdActive.style.visibility = 'visible';
		 tdActive.focus();

		 if (null != lastTd) {
		 	hideArrow(lastTd, link);
		 }
		 if (lastTd != tdId) {
		 	lastTd = tdId;
		 } else {
	 	 	lastTd = null;
		 }
		}

		function hideArrow(tdId, link){
		 var tdActive = document.getElementById(tdId + "_arrow");
		 tdActive.style.visibility = 'hidden';
		}
		// switch picture
		function Changepic(elementId,picname) {
			var btn_img = document.getElementById(elementId);
			btn_img.src = picname;
		}
	</script>
</ui:define>
<ui:define name="content">
	<table width="922px" cellpadding="0" cellspacing="0" border="0">
		<tr valign="top">
			<td width="70px">&#160;</td>
			<td width="597px"><ui:include src="/jsp/#{applicationData.userLocale.language}/banking.xhtml"/></td>
			<td width="25px">&#160;</td>			
			<td valign="top" width="160px" align="#{applicationData.pageAlignment}">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/paymentbnr.gif" alt="#{msgs['CMS.banking.alt.paymentbnr.gif']}" width="160px" height="530px" />
			</td>
			<td width="70px">&#160;</td>
		</tr>
	</table>
</ui:define>
</ui:composition>
</body>
</f:view>
</html>
