<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	locale="#{applicationData.userLocale}"
	>

	<div style="text-align:justify">
		<p>
			<h:outputText value="#{msgs['CMS.commodity_options_content.text.t_1_1']}" escape='false'/>
			<h:outputText value="#{msgs['CMS.commodity_options_content.text.t_1_2']}" escape='false'/>
		</p>
		<b><h:outputText value="#{msgs['CMS.commodity_options_content.text.h2_2']}" escape='false'/></b>
		<p>
			<img src="#{applicationData.imagesPath}/gold_options.jpg" width='400' height='300' style="float:right;margin-left:10px;" alt="#{msgs['CMS.commodity_options_content.alt.gold_options.jpg']}"/>
			<h:outputText value="#{msgs['CMS.commodity_options_content.text.t_2']}" escape='false'/><br /><br />
			<h:outputText value="#{msgs['CMS.commodity_options_content.text.t_2_2']}" escape='false'/>
		</p>
		<b><h:outputText value="#{msgs['CMS.commodity_options_content.text.b_3']}" escape='false'/></b>
		<p><h:outputText value="#{msgs['CMS.commodity_options_content.text.t_3']}" escape='false'/></p>
		
		<b><h:outputText value="#{msgs['CMS.commodity_options_content.text.b_4']}" escape='false'/></b>
		<p>
			<h:outputText value="#{msgs['CMS.commodity_options_content.text.t_4']}" escape='false'/>
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_self" style="color: #0284D8; text-decoration: none;">
				#{msgs['CMS.commodity_options_content.label.a_4']}
			</h:outputLink>
			<h:outputText value="#{msgs['CMS.commodity_options_content.text.t_4_2']}" escape='false'/>
		</p>
	</div>
</f:view>