<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<title><ui:insert name="windowtitle" /></title>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content="#{msgs['anyoption.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/motionpack.js"></script>
	<ui:insert name="head" />

</HEAD>
<BODY dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}">


<TABLE cellpadding="0" cellspacing="5" width="724" border="0" align="center">
 <tr>
  <td align="center">
	<br/>
    <h:panelGroup class="center_align" align="center">

			<h:panelGroup rendered="#{commonUtil.hasMessages}" class="center_align" align="center">
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="pages_text"/>
             </h:panelGroup>

    </h:panelGroup>
  </td>
 </tr>
</TABLE>

</f:view>
</BODY>
</html>