<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<div style="width:457px; height:201px;">
  <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" style="text-decoration: none;" border="0"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/24x7-168qiquan-banner-2.gif" width="225px" height="199px" border="0" align="left"/></h:outputLink>
  <div class="cont">
    <div class="nFeatures"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}" class="nFeatures_head">#{msgs['newFeatures.banner.header']}</a><br/><div><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/newFeatures.jsf')}" class="nFeatures_sub"><h:outputText escape="false" value="#{msgs['newFeatures.banner.sub.header']}"/></a></div></div>
    <div class="nFeatures_list1">
        <ul class="nFeatures_ui_ul">
          <li class="nFeatures_margin15px nFeatures_ui_ul"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.profit.line.link']}" class="general_link_blue"><img src="#{applicationData.imagesPath}/featursNew/profitline.jpg" align="absmiddle" border="0" />Profit Line</a></li>
          <li class="nFeatures_margin15px nFeatures_ui_ul"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.roll.forward.link']}" class="general_link_blue"><img src="#{applicationData.imagesPath}/featursNew/rollfwd.jpg" align="absmiddle" border="0"/>Roll Forward</a></li>
          <li class="nFeatures_margin15px nFeatures_ui_ul"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.take.profit.link']}" class="general_link_blue"><img src="#{applicationData.imagesPath}/featursNew/takeprofit.jpg" align="absmiddle" border="0" />Take Profit</a></li>
        </ul>
    </div>
    <div class="nFeatures_list2">
        <ul class="nFeatures_ui_ul">
          <li class="nFeatures_margin15px nFeatures_ui_ul"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/optionPlus.jsf')}" class="general_link_blue"><img src="#{applicationData.imagesPath}/featursNew/optionplus.jpg" align="absmiddle" width="71" height="28" border="0" /></a></li>
          <li class="nFeatures_margin15px nFeatures_ui_ul"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.sms.link']}" class="general_link_blue"><img src="#{applicationData.imagesPath}/featursNew/sms.jpg" align="absmiddle" width="30" height="28" border="0"/> SMS</a></li>
          <li class="nFeatures_margin15px nFeatures_ui_ul"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/newFeatures.jsf')}##{msgs['new.features.showOff.link']}" class="general_link_blue"><img src="#{applicationData.imagesPath}/featursNew/ShowOff.jpg" align="absmiddle" width="30" height="28" border="0"/> Show Off</a></li>
        </ul>
    </div>
  </div>
</div>
</f:view>