<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['CMS.index_options.metadata.window.title']}"/>
		</ui:define>
		<ui:define name="metaDescription">
			<c:set var="metaDesc" value="#{msgs['CMS.index_options.metadata.description']}"/>
		</ui:define>
		<ui:define name="metaKeywords">
			<c:set var="metaKey" value="#{msgs['CMS.index_options.metadata.keywords']}"/>
		</ui:define>
		
		<ui:define name="title">
			<h2 class="learn_h2"><h:outputText value="#{msgs['CMS.index_options.text.h1_1']}" escape="false"/></h2>
		</ui:define>
		<ui:define name="title_message">
			<h3 class="learn_h3"><h:outputText value="#{msgs['CMS.index_options.text.h2_4']}" escape="false"/></h3>
		</ui:define>
		<ui:define name="canonical">
			<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index_options.jsf')}" />
		</ui:define>
		<ui:define name="content">
			<ui:include src="/jsp/index_options_content.xhtml"></ui:include>
		</ui:define>
		<ui:define name="right_side">
			<ui:include src="/jsp/right_side_banners.xhtml">
				<ui:param name="topBnr" value="#{topBanner}" />
				<ui:param name="contactBnr" value="#{contactBanner}" />
				<ui:param name="banner0100" value="true" />
				<ui:param name="ArticlesMenu_check" value="true" />
			</ui:include>
		</ui:define>
	</ui:composition>
</html>


