<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function getMovie(movieName) {
			  if (window.document[movieName]) {
			      return window.document[movieName];
			  }
			  if (navigator.appName.indexOf("Microsoft Internet")==-1) {
			    if (document.embeds &amp;&amp; document.embeds[movieName]) {
			      return document.embeds[movieName];
			     }
			  }
			  else { // if (navigator.appName.indexOf("Microsoft Internet")!=-1)
			    return document.getElementById(movieName);
			  }
		}

		function reloadInvs() {
			getMovie('flashObject').reloadInvestments();
		}

		function removeInvestment(id) {
			return getMovie('flashObject').removeInvestment(id);
		}
		
		function getFlashRequestPath() {
			return parent.getFlashRequestPath();
		}
	</script>

	<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/bridge/lsflashbridge.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/logging.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/investmentPopup.js"></script>
</head>
<body style="margin: 0px;background:none;">
<f:view locale="#{applicationData.userLocale}">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr dir="rtl" height="29px">
			<h:panelGroup rendered="#{applicationData.skinId != 8}">
				<td width="68px" height="29px"><img style="cursor: pointer;" onclick="parent.stopThickBox()" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/closed_graph.gif" BORDER="0" /></td>
				<td width="844px" height="29px"></td>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId == 8}">
				<td width="104px" height="29px"><img style="cursor: pointer;" onclick="parent.stopThickBox()" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/closed_graph.gif" BORDER="0" /></td>
				<td width="808px" height="29px"></td>
			</h:panelGroup>
		</tr>
		<tr>
			<td width="913px" align="center">
				<!-- Flash object -->
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="913" height="520" id="flashObject" align="middle">
					<param name="allowScriptAccess" value="always" />
					<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profitLine.swf" />
					<param name="quality" value="high" />
                  	<param name="wmode" value="opaque" />
					<param name="FlashVars" value="pOpportunityId=#{facesContext.externalContext.requestParameterMap['oppId']}&amp;pMarketId=#{facesContext.externalContext.requestParameterMap['marketId']}&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}" />
					<embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profitLine.swf" flashvars="pOpportunityId=#{facesContext.externalContext.requestParameterMap['oppId']}&amp;pMarketId=#{facesContext.externalContext.requestParameterMap['marketId']}&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}" quality="high" wmode="opaque" width="913" height="520" name="flashObject" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				</object>
			</td>
		</tr>
		<tr>
			<td width="913px" colspan="2"
					style="color: white; font-family: sans-serif; font-size: 10px; padding-#{applicationData.pageAlignment}: 29px;"
					dir="#{applicationData.pageDirection}">
				<h:outputText value="#{msgs['profitLine.footer']}" escape="false" /><br/>
				<h:outputText value="#{msgs['profitLine.currentReturnInfo']}" escape="false" />
			</td>
		</tr>
		<tr>
			<td>
				<div id="log" style="font-size: 10px;"></div>
			</td>
		</tr>
	</table>

	<script type="text/javascript">
		// (Optional) Block Escape Key
		document.onkeydown = checkEscape;
		document.onkeypress = checkEscape;
		function checkEscape(e) {
			if (!e) {
				e = event;
			}
			if (e.keyCode == 27) {
				return false;
			}
		}

		var flashHandler = new FlashBridge("flashObject");

		// Push-Page Configuration
		var pushPage = new PushPage();
		pushPage.context.setDebugAlertsOnClientError(false);
		pushPage.context.setDomain("#{applicationData.domainUrl}");
		if (!parent.tradingPage) {
			pushPage.onEngineCreation = function(engine) {
				engine.connection.setLSHost("#{slipForm.lsServer}");
				engine.connection.setLSPort(80);
				engine.connection.setAdapterName("REUTERSJMS");
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					engine.connection.setUserName("a#{user.userName}a");
					engine.connection.setPassword("#{user.passHash}");
				</h:panelGroup>
				engine.policy.setMaxBandwidth(20);
				engine.policy.setIdleTimeout(30000);
				engine.policy.setPollingInterval(1000);
				engine.policy.setTimeoutForReconnect(10000);

				engine.changeStatus("STREAMING");
			};
		}
		pushPage.bind();

		if (!parent.tradingPage) {
			pushPage.createEngine("tradingPage", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");
		} else {
			// seek the LightstreamerEngine created by the main page
			pushPage.seekEngine("tradingPage", opener);
		}
		
		function optionPlusAddTable(marketId, opportunityTypeId, optionPlus, skinId) {
			if (pushPage) {
				if (optionPlus) {
					var lsGroup = "op_" + marketId;
				} else {
					var lsGroup = "aotps_1_" + marketId;
				}
				var lsSchema = level_skin_group_id + " ET_ODDS_WIN ET_ODDS_LOSE ET_STATE " + level_color + " ET_EST_CLOSE ET_OPP_ID AO_TS ET_SUSPENDED_MESSAGE";
				if (!optionPlus) {
					lsSchema += " ET_ODDS_GROUP";
				}

				var tableOptionPlus = new NonVisualTable(lsGroup, lsSchema, "COMMAND");
				tableOptionPlus.setDataAdapter("JMS_ADAPTER");
				tableOptionPlus.setSnapshotRequired(true);
				tableOptionPlus.setRequestedMaxFrequency(1.0);
				tableOptionPlus.onItemUpdate = updateItemOptionPlus;
				pushPage.addTable(tableOptionPlus, "FlashTable1");
				return true;
			} else {
				return false;
			}
		}

		function updateItemOptionPlus(itemPos, updateInfo, itemName) {
			getMovie('flashObject').lightstreamerOnItemUpdate(
				updateInfo.getNewValue(1),
				updateInfo.getNewValue(2),
				updateInfo.getNewValue(3),
				updateInfo.getNewValue(4),
				updateInfo.getNewValue(5),
				updateInfo.getNewValue(6),
				updateInfo.getNewValue(7),
				updateInfo.getNewValue(8),
				updateInfo.getNewValue(9),
				updateInfo.isValueChanged(2),
				updateInfo.getNewValue(10)
			);
		}

		function OptionPlusRemoveTable() {
			pushPage.removeTable("FlashTable1");
		}
	</script>
</f:view>
</body>
</html>