<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<h:panelGroup rendered="#{slipForm.userLoggedIn &amp;&amp; slipForm.hasOpenedProfit}">
		<meta HTTP-EQUIV="refresh" CONTENT="#{slipForm.timeToFirstOpenedExpireProfit}" />
	</h:panelGroup>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_event.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scroll.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_dw_scrollbar.js"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/scroll_controls.js"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function gotoInvests() {
			window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf";
		}

		function openPopup(marketId, oppId) {
			if (window.top.location.href.indexOf("https") > -1) {
				window.top.location.href = "#{applicationData.homePageUrlWithoutLastSlash}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}?tickBoxMarketId=" + marketId + "&amp;tickBoxOppId=" + oppId;
			} else {
				window.top.runThickBox(marketId, oppId);
//				wdt = window.open("investmentPopup.jsf?marketId=" + marketId + "&amp;oppId=" + oppId, "investmentPopup", "width=970,height=550,history=0,resizable,status=1,menubar=1,scrollbars=1");
//				wdt.focus();
			}
			return false;
		}
	</script>

<style type="text/css">
	#extra_controls, #scrollbar {
	    display:none; /* hide from incapable */
	    }
	div#wn {
	    float:left;
	    margin-right:0px;
	    height:192px;
    }
	div#scrollbar {
	    float:left;
	    height:192px;
    }
    div#track {
  		height:168px;
	}
	.clearer { clear:left; }
</style>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	<script type="text/javascript">

	function init_dw_Scroll() {
	try {
	    var wndo = new dw_scrollObj('wn', 'lyr1');
	    wndo.setUpScrollbar("dragBar", "track", "v", 1, 1);
	    // id, autohide (hide when not needed), axis
	    wndo.setUpScrollControls('scrollbar', true, 'v');
		} catch(e) {}
	}

	// if code supported, link in the style sheet and call the init function onload
	try {
		if ( dw_scrollObj.isSupported() ) {
		    dw_writeStyleSheet('#{facesContext.externalContext.requestContextPath}/css/scroll.css');
		    // Enable printing here if you like
		    dw_scrollObj.printEnabled = true;
		    dw_Event.add( window, 'load', init_dw_Scroll);
		}
	} catch(e){}

	</script>
</h:panelGroup>

</head>
<body dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}" >


	<script language="JavaScript">
		// configuration variable for the hint object, these setting will be shared among all hints created by this object
		var HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : 20, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'bctl', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 0, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 200, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : true, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : false, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)', null], // [show transition, hide transition] - nice transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};
		// text/HTML of the hints
		var HINTS_ITEMS = [
		<t:dataList value="#{slipForm.openedProfit}" var="investment" layout="simple">
			'<h:outputText value="#{investment.sumInvestWithText}" />',
		</t:dataList>
		''];

		var myHint = new THints (HINTS_ITEMS, HINTS_CFG);
	</script>

	<table width="186px" height="30px" cellpadding="0" cellspacing="0" align="center" border="0">
		<tr>
			<td width="93px" height="30px" align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/profit_up.gif"  width="93px" height="30px" alt="" border="0"  /></td>
			<td width="93px" height="30px" align="left"><a href="#{facesContext.externalContext.requestContextPath}/jsp/right_side_investments.jsf"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/exp_down.gif" alt="" width="93px" height="30px" border="0"  /></a></td>
		</tr>
	</table>

	<table width="186px" height="20px" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr class="todayInvlable" height="20px" >
			<td class="profitline_td_left" width="75px" height="20px"><h:outputLabel value="&#160; #{msgs['right.side.investments.market']}"/></td>
			<td class="profitline_td" width="58px" height="20px" ><h:outputLabel value="#{msgs['right.side.investments.time.closing']}"/></td>
			<td class="profitline_td_right" width="53px" height="20px" ><h:outputLabel value="#{msgs['right.nav.investments.graph']}"/></td>
 		</tr>
 	</table>

	<h:panelGroup rendered="#{slipForm.hasOpenedProfit}">
		<table class="invest_table_border" width="186px" height="192px" cellpadding="0" cellspacing="0" border="0">
			<tr height="192px">
				<td width="172px">
					<div id="wn"><div id="lyr1" class="content">
						<table width="175px" height="192px" cellpadding="0" cellspacing="0" border="0" >
		    				<t:dataList value="#{slipForm.openedProfit}" var="investment" rowIndexVar="crrInvestmentIndex" layout="simple">
								<tr valign="middle" height="25px" width="175px" style="cursor:pointer" onmouseover="myHint.show(#{crrInvestmentIndex})" onmouseout="myHint.hide()">
									<td align="#{applicationData.pageAlignment}" height="25px" width="72px" class="todayInvasset">
										&#160;&#160;
										<h:outputText value="#{investment.marketName}" />
									</td>
					    			<td align="#{applicationData.pageAlignment}" class="todayInvasset" width="46px" height="25px">
								    	<h:outputText value="#{investment.onlyTimeEstClosingTxt}" />
									</td>
									<td align="center" width="50px" height="25px" class="todayInvasset"><a href="#" class="general_link_blue_10" style="font-size:9px;" onclick="openPopup(#{investment.marketId},#{investment.opportunityId});"><t:outputText value="#{msgs['show.graph']} " /><img src="#{applicationData.imagesPath}/magnifying.gif" width="14" height="14" border="0" align="center" /></a></td>
								</tr>
 		   					</t:dataList>
		   				   <tr><td height="*" colspan="3"></td></tr>
		   				</table>
		   			</div></div>
		   		</td>
		   		<td width="11px">
					<!-- border attribute added to reduce support questions on the subject.
					    If you like valid strict markup, remove and place a img {border:none;} spec in style sheet -->
					<div id="scrollbar">
					    <div id="up"><a class="mouseover_up" href=""><img style="cursor:pointer;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/btn-up.gif" width="11" height="11" alt="" border="0" /></a></div>
					    <div id="track">
					        <div id="dragBar"></div>
					    </div>
					    <div id="down"><a class="mouseover_down" href=""><img style="cursor:pointer;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/btn-dn.gif" width="11" height="11" alt="" border="0" /></a></div>
					</div>
		   		</td>
			</tr>
		</table>

		<table class="invest_link_table_border" width="186px" height="10px" cellpadding="0" cellspacing="0" border="0">
	 		<tr width="186px" height="10px" valign="top">
	         	<td valign="top" height="10px" align="center">
					<a class="general_link_blue_10" style="font-weight:bold;" href="#" onclick="gotoInvests(); return false;"><h:outputText value="#{msgs['right.side.investments.show.all']}" /></a>
				</td>
		    </tr>
    	</table>
	</h:panelGroup>

	<h:panelGroup rendered="#{!slipForm.hasOpenedProfit}">
		<table class="invest_table_no_up_border" width="186px" height="212px" cellpadding="10px" cellspacing="0" border="0">
			<tr height="187px" >
				<td align="#{applicationData.pageAlignment}" width="172px" class="todayInvasset">
					 <h:outputText escape="false" value="#{msgs['right.side.investments.profit.empty']}"  />
					 <img src="#{applicationData.imagesPath}/magnifying.gif" style="vertical-align: bottom;"/>
					 <h:outputText escape="false" value="&#160; #{msgs['right.side.investments.profit.icon']}"  />
				</td>
			</tr>
		</table>
	</h:panelGroup>
</f:view>

</body>
</html>

