
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="selected">
	<c:set var="selectedTd" value="pastExpiries" />
</ui:define>
<ui:define name="innerPages">
    <c:set var="inrPg" value="InnerPages" />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['lastLevels.jsf.title']}"/>
</ui:define>
<ui:define name="title"><h:outputText styleClass="header_new_design_pages" value="#{msgs['rightnav.lastlevels']}"/></ui:define>
<ui:define name="title_message">
	<h1><h:outputText styleClass="header_pages_message_new_design" value="#{msgs['rightnav.lastlevels.message']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.lastlevels']}"/>
</ui:define>
<ui:define name="head">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/calendar.js"></script>
</ui:define>


<ui:define name="content">


	 <f:verbatim>
	        <SCRIPT LANGUAGE="JavaScript" ID="js1">
				var cal = new CalendarPopup("caldiv1");
				cal.setCssPrefix("Calendar");

			</SCRIPT>
	 </f:verbatim>


<c:set var="td" value="lastLevelsOneTouch" />
<ui:include src="/jsp/#{applicationData.templatesDirectory}/lastLevels_strip.xhtml" />

    <t:saveState value="#{lastLevelsForm}" />

    <h:panelGroup >

		<h:form id="lastLevelsForm" style="margin: 0px; padding: 0px;">

	   <h:panelGrid columns="1" cellpadding="0" cellspacing="0" width="100%" border="0">

	   <h:panelGrid styleClass="past_expires" align="center" cellpadding="0" cellspacing="0" columns="1" width="720px">

   	    <h:panelGrid align="center" columns="1" width="460" border="0"  rowClasses="standardTable_ColumnCentered" >

		<t:div>
			<TABLE class="site_table" BORDER="0" CELLPADDING="0" CELLSPACING="0" width="580">
	    		<TR>
					<TD>
						<br/>
						<h:panelGrid columns="4">

					       <h:outputText value="#{msgs['lastlevelsOneTouch.date']}"/>
						   <t:selectOneMenu  styleClass="input #{applicationData.tlv? 'input_border' : ''}"  value="#{lastLevelsForm.weekIdx}" >
	    	           			<f:selectItems value="#{lastLevelsForm.oneTouchWeeks}" />
		        	       	</t:selectOneMenu>

							<t:selectOneMenu immediate="false"
			               		valueChangeListener="#{lastLevelsForm.updateOneTouchListEvent}"
			               		onchange="submit(this);" escape="false" style="width:130px;" styleClass="input_table_border" value="#{lastLevelsForm.marketGroup}" >
			       					<f:selectItem itemLabel="#{msgs['lastlevels.selectAsset']}" itemValue="0"/>
		    	           			<f:selectItems value="#{lastLevelsForm.marketGroupsOneTouchList}" />
	        				</t:selectOneMenu>

							<h:panelGrid width="80" border="0" style="margin-top:3px">
			                	<t:commandButton
					         		id="button"
					         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
					         		onmouseover="Changepic('lastLevelsForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
			         				onmouseout="Changepic('lastLevelsForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
					         		onclick="gowait('lastLevelsForm:button','lastLevelsForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
					         		        return myfaces.oam.submitForm('lastLevelsForm','lastLevelsForm:hiddenbtn');">

				         		</t:commandButton>
				         		<h:commandLink action="#{lastLevelsForm.updateOneTouchList}"
					         		id="hiddenbtn" style="display:none"/>
							</h:panelGrid>
				        </h:panelGrid>
						<br/>
					</TD>
				</TR>
			</TABLE>
		</t:div>

		</h:panelGrid>

		   <h:panelGrid width="720px;" cellpadding="0" cellspacing="0" columns="1" border="0" style="text-align:center;" align="center" >

		   <t:dataTable id="data"
		   		width="100%"
                styleClass="scrollerTable_opened"
                headerClass="standardTable_SortHeader"
                footerClass=""
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_Column,standardTable_Column"
                var="v"
                value="#{lastLevelsForm.oneTouchList}"
                preserveDataModel="false"
                rows="14"
                renderedIfEmpty="true"
                cellpadding="0"
                cellspacing="0"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#FFAAAA'"
				rowOnMouseOut="this.style.backgroundColor=old"
           >
           <h:column style="direction:#{ applicationData.skinId=='4' ? applicationData.pageDirectionReverse : applicationData.pageDirection }">
               <f:facet name="header">
					<h:outputText class="text_white_12_bold" value="#{msgs['lastlevels.market']}"/>
	            </f:facet>

				<h:panelGrid columns="2">
				   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ar_up.gif" rendered="#{v.isOneTouchUp}" />
				   <t:graphicImage value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ar_down.gif" rendered="#{!v.isOneTouchUp}"/>
			   	   <h:outputText value="&#160; #{commonUtil.getMarketName(v.marketId)}" />
				</h:panelGrid>

           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText class="text_white_12_bold" value="#{msgs['lastlevels.high.low']}"/>
               </f:facet>
               <t:outputText escape="false" value="#{commonUtil.getFormatLevelByMarket(v.isSettled, v.closingLevel, v.marketId)}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                     <h:outputText class="text_white_12_bold" value="#{msgs['lastlevels.range']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{lastLevelsForm.getOneTouchDateRange(v.timeFirstInvest, v.timeEstClosing)}" />
           </h:column>

        </t:dataTable>


        </h:panelGrid>

		<h:panelGrid rendered="#{lastLevelsForm.listOneTouchSize==0}" columns="1" border="0"
			style="text-align:center;" align="center" width="475">

		 	<t:div>
	  	    <h:panelGrid rendered="#{lastLevelsForm.listOneTouchSize==0}" columns="1" border="0" style="text-align:center;" align="center" >
	   		 <h:outputText class="text_info_page_12" value="#{msgs['lastlevels.emptylist']}"/>
    		 </h:panelGrid>
			</t:div>

   		 </h:panelGrid>

           <h:panelGrid columns="1" border="0" style="text-align:center;" align="center" >

            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass=""
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator_cols"
                    paginatorTableClass="paginator"
                    paginatorRenderLinkForActive="false"
                    immediate="true"
                    rendered="#{lastLevelsForm.listOneTouchSize>13}"
                    style="text-align:center;"
                    binding="#{lastLevelsForm.scroll}"
                    >
              <ui:include src="/jsp/#{applicationData.templatesDirectory}/scroller_facets.xhtml"/>

            </t:dataScroller>

		</h:panelGrid>

	 	</h:panelGrid>

		</h:panelGrid>

		<DIV ID="caldiv1" STYLE="position:absolute;visibility:hidden;background-color:#f5f5f5;z-index:1;layer-background-color:#f5f5f5;" ></DIV>
   	    <iframe style="position:absolute;left:0;top:0;visibility:hidden;z-index:0;filter:alpha(opacity=0);" id="califrame" frameborder="0"  scrolling="No"></iframe>

		<div id="assetL"  style="position:absolute;top:0; left:0; z-index:2; display: none; ">
			<ui:include src="/jsp/assetSelect.xhtml" />
		</div>
        </h:form>

    </h:panelGroup>

</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
			<ui:param name="banner0100" value="true" />
		</ui:include>
	</ui:define>
</ui:composition>

</html>