<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:f="http://java.sun.com/jsf/core"
      	xmlns:c="http://java.sun.com/jsp/jstl/core"
      	xmlns:t="http://myfaces.apache.org/tomahawk">

<t:saveState value="#{marketDetails}" />
<div class="trade_binary_right_box">
	<table cellspacing="0" cellpadding="0" border="0" width="625px">
		<tr height="30px" >
			<td class="newAssetIndex_header" height="30px" valign="middle" >
				<div class="right_content_title" style="text-align:left;padding:0px;margin:0px;">
					<h:outputText value="#{msgs['CMS.newAssetList.text.assetList.header']}"/>
				</div>
		  	</td>
		</tr>
	</table>
	<h:form id="marketDetails">
	<div class="newAssetIndex_main_div">
	<table cellspacing="0" cellpadding="0" border="0" width="100%" dir="#{applicationData.pageDirection}">
		<tr style="clear:both;">
			<t:dataList
				value="#{marketDetails.bankOptionMarkets}"
				var="group"
				rowIndexVar="groupRow" >
					<td valign="top" class="">
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
							<tr>
								
							</tr>
							<tr>
								<td class="newAssetIndex_markets_names_div">
									<t:dataList
										value="#{group}"
										var="markets"
										rowIndexVar="marketsColmun1"
										rowCountVar="mcount">
										<div class="newAssetIndex_market_name_div">
											<t:dataList
												value="#{markets}"
												var="market"
												rowIndexVar="marketRow" >
													<!-- Group name title -->
													<h:panelGroup rendered="#{!empty market.groupName}">
														<h:panelGroup rendered="#{marketsColmun1 != 0}">
															<div class="">
																<h:outputLabel class="assetListGroupTxt" value="&#160;" />
															</div>
														</h:panelGroup>
														<div class="">
															<h:outputLabel class="assetListGroupTxt" id="group#{group.id}" value="#{msgs[market.groupName]}" />
														</div>
													</h:panelGroup>
													
													<h:outputLabel id="market#{market.id}" class="assetListTxt" value="#{msgs[market.displayNameKey]}"   onclick="tickerClick(#{market.id}, 1, 3, true)"/>
													
													<div class="assetImage_new">
														<t:graphicImage rendered="#{market.newMarket or market.id==15}" style="float: left; " border="0" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/new_icon.png" alt="#{msgs['CMS.newAssetList.alt.new_icon.png']}" width="26px" height="11px"/>
													</div>
													<div class="assetImage_24-7">
														<t:graphicImage rendered="#{market.twentyFourSeven}" style="float: left;" border="0" value="#{applicationData.imagesPath}/24x7-2-icon_new.png" alt="#{msgs['CMS.newAssetList.alt.24x7-2-icon_new.png']}"  />
													</div>
													<br/>

											</t:dataList>

										</div>
									</t:dataList>
								</td>
							</tr>
						</table>
					</td>
			</t:dataList>
		</tr>
	</table>
	</div>
<div style="clear:both;">
	<table border="0" cellpadding="0" cellspacing="0" width="625px">
		<tr height="10px">
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td><h:outputText class="footer_text" value="#{msgs['CMS.newAssetList.text.assetList.description']}" escape="false" /></td>
			<td width="24px" height="5px">&#160;</td>
		</tr>
		<tr ><td colspan="3">&#160;</td></tr>
	</table>
</div>
</h:form>
</div>
</f:view>