<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

	<table width="455px" height="434px" border="0" cellpadding="0" cellspacing="0" align="center" class="border_HP" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/onetouch_offhour_BG.jpg">
	  	<tr>
	    	<td height="285px">
	    	</td>
	  	</tr>
	  	<tr>
	    	<td width="459px" height="149px">
	    		<table cellpadding="0" cellspacing="0" align="center" width="400px" height="100px">
	        		<tr>
	          			<td align="center" dir="#{applicationData.pageDirection}">
	          				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}"
									target="_top" style="text-decoration: none;" border="0">
	          					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offHours1t/hp_1t_btn.gif" border="0" />
	          				</h:outputLink>
	          			</td>
	        		</tr>
	        		<tr>
	          			<td height="20px"></td>
	        		</tr>
	        		<tr>
	          			<td dir="#{applicationData.pageDirection}" class="onetouch_right_banner_HP">
	          				#{msgs['one.touch.hp.txt1']}
	          				<a class="onetouch_banner_link_HP" href="#{facesContext.externalContext.requestContextPath}/jsp/oneTouchTerms.jsf">
	          					#{msgs['one.touch.hp.click']}
	          				</a>
	          				#{msgs['one.touch.hp.txt2']}
	          				<br />
				   		</td>
					</tr>
	      		</table>
	      	</td>
		</tr>
	</table>
</f:view>
