<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_home_page.xhtml">
<ui:define name="tradeMenuStrip">
	<h:panelGroup rendered="#{applicationData.skinId != '4'}">
		 <ui:include src="/jsp/trade_menu_strip.xhtml">
			<ui:param name="tradingLink" value="_optionPlus" />
		 	<ui:param name="binaryOptionLink" value="" />
		 	<ui:param name="optionPlusLink" value="_active" />
		 	<ui:param name="oneTouchLink" value="" />
		 	<ui:param name="binary0100Link" value="" />
		 </ui:include>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == '4'}">
		 <ui:include src="/jsp/trade_menu_strip_old.xhtml">
		 	<ui:param name="binaryOptionLink" value="" />
		 	<ui:param name="optionPlusLink" value="_active" />
		 	<ui:param name="oneTouchLink" value="" />
		 	<ui:param name="binary0100Link" value="" />
		 </ui:include>
	</h:panelGroup>
</ui:define>
<ui:define name="homePage">
	<c:set var="isHomePage" value="false" />
</ui:define>
<ui:define name="selected">
 	<c:set var="selectedTd" value="optionPlus" />
</ui:define>
<ui:define name="windowtitle">
	<h:outputText value="#{msgs['CMS.optionPlus.metadata.title']}"/>
</ui:define>
<ui:define name="footerMsg">
	<span><h:outputText value="#{msgs['CMS.optionPlus.metadata.anyoption.title']}"/></span>
</ui:define>
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="#{msgs['CMS.optionPlus.metadata.description']}" />
</ui:define>
<ui:define name="canonical">
	<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}" />
</ui:define>
<ui:define name="head">
	<script>
		document.domain = "#{applicationData.domainUrl}";

		function getMovie(movieName) {
			  if (window.document[movieName]) {
			      return window.document[movieName];
			  }
			  if (navigator.appName.indexOf("Microsoft Internet")==-1) {
			    if (document.embeds &amp;&amp; document.embeds[movieName]) {
			      return document.embeds[movieName];
			     }
			  }
			  else { // if (navigator.appName.indexOf("Microsoft Internet")!=-1)
			    return document.getElementById(movieName);
			  }
		}

		function reloadInvs() {
			getMovie('flashObject').reloadInvestments();
		}

		function removeInvestment(id) {
			return getMovie('flashObject').removeInvestment(id);
		}
	</script>

</ui:define>
<ui:define name="content">
	<ui:include src="/jsp/optionPlusContentOld.xhtml" ></ui:include>
</ui:define>
</ui:composition>
</body>
</html>
