<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/#{applicationData.relevantPath}quickStart.css" />
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script>
<!--
	document.domain = "#{applicationData.domainUrl}";

	// set the cursor at the end of the phoneCode
	function SetEnd(TB) {

		if (TB.createTextRange) {
			var FieldRange = TB.createTextRange();
			FieldRange.moveStart('character', TB.value.length);
			FieldRange.collapse();
			FieldRange.select();
		}
	}

	function changePhoneCodeByCountry() {
	    var countryId = document.getElementById("contactUsForm:countriesList").value;
	    var url = "ajax.jsf?countryId=" + countryId;
	    var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
	    ajax.doGet();
	}

	function changePhoneCodeByCountryCallback(responseXML) {

	   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
   	   var phoneCodeElm = document.getElementById("contactUsForm:mobilePhoneCode");
   	   phoneCodeElm.disabled = false;
	   phoneCodeElm.value = codeValue;
	   phoneCodeElm.disabled = true;
	}
	function changeCountriesListSize(){
		document.getElementById('contactUsForm:countriesList').style.width='202px';
	}

	function gowait(elementId, elementTostartId, picname) {
	   	document.getElementById(elementId).src = picname;

		window.setTimeout( function() {
			var wg = document.getElementById(elementId);
			wg.src = wg.src; }, 50);

		document.getElementById(elementId).disabled = true; // disable click on commandButton
	}


	function validateEmail() {
	    var target = document.getElementById("contactUsForm:email");
		if (target.value.length > 0){
		    var url = "ajax.jsf?emailValidation=" + encodeURIComponent(target.value);
		    var ajax = new AJAXInteraction(url, validateEmailCallback);
		    ajax.doGet();
	    }
	}

	function validateEmailCallback(responseXML) {
	   var msg = responseXML.getElementsByTagName("emailErrormsg")[0].firstChild.nodeValue;
	   var check = document.getElementById("contactUsForm:emailError");
	   if (check != null) {
	      check.innerHTML = '';
	   }
   	   var mdiv = document.getElementById("emailMessage");
       // set the style on the div to invalid
       mdiv.className = "error_messagess";
       mdiv.innerHTML = msg;
	}


	/*
		insert into register attempts AJAX call
	*/
	function insertUpdateRegisterAttempts() {
		var email = document.getElementById("contactUsForm:email");
		var firstName = document.getElementById("contactUsForm:firstName");
		var lastName = document.getElementById("contactUsForm:lastName");
		var countryId = document.getElementById("contactUsForm:countriesList");
		var landMobilePhoneCode = document.getElementById("contactUsForm:landMobilePhoneCode");
		var landMobilePhone = document.getElementById("contactUsForm:landMobilePhone");

		if (email.value.length > 0 ){
			var dataa = "quickStartEmailRegisterAttempts=" + encodeURIComponent(email.value)
						+ "&firstNameRegisterAttempts="	+ encodeURIComponent(firstName.value)
						+ "&lastNameRegisterAttempts=" + encodeURIComponent(lastName.value)
						+ "&countryRegisterAttempts=" + encodeURIComponent(countryId.value);
						if(landMobilePhoneCode != null){
							dataa += "&mobilePhoneRegisterAttempts=" + encodeURIComponent(landMobilePhoneCode.value + landMobilePhone.value) ;
						}
			$.ajax({
				type: "POST",
				url: "ajax.jsf",
				data: dataa
			});
	    }
	}
 -->
</script>

</head>
<body dir="#{applicationData.pageDirection}" onload="changeCountriesListSize()" style="background:transparent;" >

<f:view locale="#{applicationData.userLocale}">

<t:saveState value="#{contactUsForm}" />

<h:form id="contactUsForm">
	<h1 ><h:outputText escape="false" value="#{msgs['hp.form.quick']}" /></h1>
	<div id="first_name">
		<h:inputText styleClass="input" maxlength="20" id="firstName" value="#{contactUsForm.firstName}"
				onfocus="if(this.value=='#{msgs['register.firstname.caps']}') this.value=''"
					onblur= "if(this.value=='') this.value='#{msgs['register.firstname.caps']}'" >
		</h:inputText>
	</div>
	<div id="last_name">
		<h:inputText styleClass="input" maxlength="20" id="lastName" value="#{contactUsForm.lastName}"
			onfocus="if(this.value=='#{msgs['register.lastname.caps']}') this.value=''"
				onblur= "if(this.value=='') this.value='#{msgs['register.lastname.caps']}'" >
		</h:inputText>
	</div>
	<div id="email">
		<h:inputText styleClass="input" id="email" maxlength="50" value="#{contactUsForm.email}"
		   	onfocus="if(this.value=='#{msgs['register.email.caps']}') this.value='';this.style.direction='ltr';"
				onblur= "validateEmail();insertUpdateRegisterAttempts();if(this.value=='') this.value='#{msgs['register.email.caps']}';this.style.direction='#{applicationData.pageDirection}';">
		</h:inputText>
	</div>
	<div id="countryBox">
		<h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="country_selector" style="country_selector" id="countriesList" value="#{contactUsForm.countryId}" required="true" onchange="changePhoneCodeByCountry();" >
			<f:selectItem itemLabel="#{msgs['register.country.caps']}" itemValue="-1" />
			<f:selectItems value="#{contactUsForm.countries}" styleClass="country" />
	    </h:selectOneMenu>
	</div>
	<div id="phone">
		<div id="code"><div id="plus"></div>
			<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" readonly="true">
	    	  	<f:validateLongRange/>
	    	  	<f:validateLength minimum='1' maximum='4'/>
			</h:inputText>
		</div>
		<div id="number">
		    <h:inputText styleClass="input" maxlength="19" id="myPhone"  value="#{contactUsForm.landMobilePhone}"
		    	onfocus="if(this.value=='#{msgs['register.phone.caps']}') this.value=''"
				onblur= "if(this.value=='') this.value='#{msgs['register.phone.caps']}'" >
			</h:inputText>
		</div>
	</div>

	<t:commandButton id="button" styleClass="QuickStart_SubmitButton"
		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bttn_OpenAccount.png"
 		onmouseover="Changepic('contactUsForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bttn_OpenAccount.png')"
 		onmouseout="Changepic('contactUsForm:button','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bttn_OpenAccount_over.png')"
		onclick="gowait('contactUsForm:button','contactUsForm:hiddenbtn','#{applicationData.imagesPath}/loader_sm.gif');
				  return myfaces.oam.submitForm('contactUsForm','contactUsForm:hiddenbtn');" >
	</t:commandButton>

	<t:commandLink action="#{contactUsForm.handleQuickStartContact}" id="hiddenbtn" style="display:none" /><br/>
	<div id="error_sect" align="left" style="">
		<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/><br/>
		<t:message id="generalErrorPhone" for="myPhone"  replaceIdWithLabel="true" styleClass="error_messages"/><br/>
		<h:outputText id="generalError" styleClass="error_messages" />
		<t:message id="errorFromS" for="generalError"  replaceIdWithLabel="true" styleClass="error_messages"/>
	</div>

</h:form>
</f:view>
<script>
	<!--
		var errorElement = document.getElementById("contactUsForm:errorFromS").innerHTML;
		var errorField;
		if (errorElement.indexOf('#{msgs['register.firstname']}') > -1){			
			var input = document.getElementById("contactUsForm:firstName");			
			if ($(input).is("input")) { //for input boxes
	        	$(input).addClass("error");
			    errorField = input;
			}
		} else if (errorElement.indexOf('#{msgs['register.lastname']}') > -1){			
			var input = document.getElementById("contactUsForm:lastName");
            if ($(input).is("input")) { //for input boxes
	        	$(input).addClass("error");
			    errorField = input;
			}	
		} else if (errorElement.indexOf('#{msgs['register.email.caps']}') > -1){
			var input = document.getElementById("contactUsForm:email");
			if ($(input).is("input")) { //for input boxes
	        	$(input).addClass("error");
			    errorField = input;
			}
		} else if ((errorElement.indexOf('#{msgs['register.mobilephone']}') > -1 || (errorElement.indexOf('#{msgs['register.phone']}') > -1)) ){
			var input = document.getElementById("contactUsForm:myPhone");
			if ($(input).is("input")) { //for input boxes
	        	$(input).addClass("error");
			    errorField = input;
			}
		}	
	-->
</script>

</body>
</html>
