<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<div class="full_reg_holder">
		<h2 class="full_reg_h2">
			<span id="full_reg_top_text_default"><h:outputText value="#{msgs['CMS.registerContent.header.text']}" /></span>
			<span id="full_reg_top_text_alt" style="display:none;"><h:outputText value="#{msgs['register.contactus.landing.3']}" escape="false" /></span>
		</h2>
		<div class="full_reg" id="full_reg">
			<ui:include src="/jsp/register_content.xhtml" >
				<ui:param name="fullTerms" value="true" />
				<ui:param name="tooltip_email" value="right" />
			</ui:include>
		</div>
		<script>initRegForm('full_reg',#{applicationData.skinId});</script>
		<ui:include src="/jsp/reg_progress.xhtml" >
			<ui:param name="active1" value="selected" />
		</ui:include>
	</div>
	<c:if test="${applicationData.firstTimePixel}">
	   <h:panelGroup rendered="#{applicationData.isLive &amp;&amp; applicationData.combinationId == '2059'}">
	   		<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['showPixel']==true)}">
		    	<script>alert('first time pixel: Floodlight');</script>
	    	</h:panelGroup>
			<!-- 
				Tag for Activity Group: AnyOption, Activity Name: AnyOption:Registro, Activity ID: 701447
				Expected URL: https://www.anyoption.com/jsp/register.jsf 
				Activity ID: 701447
				Activity Name: AnyOption:Registro
				Activity Group Name: AnyOption
		
				Start of DoubleClick Floodlight Tag: Please do not remove
				Activity name of this tag: AnyOption:Registro
				URL of the webpage where the tag is expected to be placed: https://www.anyoption.com/jsp/register.jsf
				This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
				Creation Date: 06/24/2010
			-->
			<script type="text/javascript">
				var axel = Math.random() + "";
				var a = axel * 10000000000000;
				document.write('<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=' + a + '?" width="1" height="1" frameborder="0"></iframe>');
			</script>
			<noscript>
				<iframe src="https://fls.doubleclick.net/activityi;src=2822862;type=anopt001;cat=anopt003;ord=1;num=1?" width="1" height="1" frameborder="0"></iframe>
			</noscript>
			<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
		</h:panelGroup>
	
		<c:if test="${applicationData.isLive &amp;&amp; fromLandingPage == 'true'}">
			<c:if test="${applicationData.skinId == 8 || applicationData.skinId == 9 || applicationData.skinId == 5}">
				<!--Short Registration Pixel 
				PIXEL-11282012-626
				Activity Name: AnyOption-Registration_Page-Retargeting
				DataXu tag:-->
				<img src="https://securetags.w55c.net/rs?id=7c21bb9c24c74a718477fea96f7418c7&amp;t=cart&amp;sku=$SKUS" />
			</c:if>	
	
		</c:if>
	</c:if>

	<script>
		// Insert register attemps when coming from landing pages
		var params = window.location.search.substr(1);
		if (params.indexOf("regAtt=true") > -1) {
			isShortForm = 'true';
			insertUpdateRegisterAttempts();
		}
	</script>
</f:view>