<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

    <table width="352" height="260" class="boxborder" border="0" cellpadding="0" cellspacing="0">
    	<tr style="#{showBanner == true ? 'display:none' : ''}">
    		<td width="352" height="260" align="center" valign="middle">
    			<table width="352" height="260" border="0" cellpadding="0" cellspacing="0">
    				<tr height="30">
 		   				<td width="352" height="30" align="center" valign="middle">
 		   				</td>
 		   			</tr>
 		   			<tr height="230">
 		   				<td width="352" height="230" align="center" valign="middle">
		   					<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/trade_loading.gif" alt="" />
 		   				</td>
    				</tr>
    			</table>
    		</td>
    	</tr>

    	<tr style="#{showBanner == true ? '':'display: none'}" id="bannerHolder">
    		<td width="352" height="260" align="center" valign="middle">
				<c:if test="#{box == 1}">
					   		<script>
						   		firstTimeBanner('#{applicationData.pageScheme}','#{facesContext.externalContext.requestContextPath}','#{applicationData.userLocale.language}_#{applicationData.skinId}');
					   		</script>
				</c:if>
    		</td>
    	</tr>
		<tr id="box#{box}" name="box#{box}" style="display: none;">
			<td>
				<table width="352" height="260" border="0" cellpadding="0" cellspacing="0" background="">
					<tr height="31">
						<td valign="top" height="31" width="352">
							<table width="352" height="31" cellpadding="0"  cellspacing="0" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/1px.jpg">
								<tr height="31" DIR="LTR">
									<td width="15px">&#160;</td>
									<td class="trade_asset" align="#{applicationData.pageAlignment}" ><span style="cursor: pointer;" onmouseout="hideSelectionTree(this);" onmouseover="showSelectionTree(this,#{box});" onclick="showSelectionTree(this,#{box});" onmouseup="hideSelectionTree(this);" source="lightstreamer" field="25"></span></td>
									<td></td>
									<td></td>
									<td>&#160;</td>
									<td align="#{applicationData.pageAlignmentReverse}" class="trade_expires"><span style="cursor: pointer;"  onmouseout="hideSelectionSchedule(this);" onmouseover="showSelectionSchedule(this,#{box});" onclick="showSelectionSchedule(this,#{box});" onmouseup="hideSelectionSchedule(this);" source="lightstreamer" field="28" DIR="LTR"></span></td>
									<td width="15px">&#160;</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="40">
						<td  height="40" >
							<table width="352" height="40" cellpadding="0" cellspacing="0">
								<tr>
									<td width="15"></td>
									<td valign="bottom" class="trade_odds_nd" WIDTH="50PX"><div source="lightstreamer" field="5" dir="#{applicationData.pageDirection}"></div></td>
									<td align="#{applicationData.pageAlignment}" valign="top" rowspan="2" style="padding-top:9px;padding-left:1px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart.gif" align="#{applicationData.pageAlignmentReverse}" onclick="openChart(this);" style="cursor: pointer;"/></td>
									<td align="#{applicationData.pageAlignment}" valign="top" rowspan="2" style="display: none;padding-top:9px;padding-left:1px"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/chart_off.gif" align="#{applicationData.pageAlignmentReverse}" /></td>
									<td width="15"></td>
								</tr>
								<tr>
									<td width="15"></td>
									<td valign="top" class="trade_return"><h:outputText style="" value="#{msgs['trading.box.return']}" /></td>
									<td width="15"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="149">
						<td align="center" width="352" height="149" valign="top">
							<table width="352" height="149" border="0" cellspacing="0" cellpadding="0"  >
								<tr height="60">
									<td width="25" height="60"></td>
									<td width="111" height="60">&#160;</td>
									<td align="center" height="60"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call.gif" height="48" width="85" onclick="openSlip(this, 1); return false;" style="cursor: pointer;" /></td>
									<td style="display: none;" height="60"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/call_off.gif" height="48" width="85"/></td>
									<td width="111" height="60">&#160;</td>
									<td width="20" height="60"></td>
								</tr>
								<tr height="29">
									<td width="25" ></td>
									<td width="111">&#160;</td>
									<td width="111" class="trade_expiery_level" style="display: none;"><h:outputText value="#{msgs['trading.box.expieryLevel']}" /></td>
									<td width="86" height="29" class="trade_level_green" dir="ltr"><div></div></td>
									<td width="110">&#160;</td>
									<td class="trade_level_sus" height="29" colspan="3" style="display: none;"><h:outputText value="#{msgs['trading.box.willOpen']}" /><div source="lightstreamer" field="19"></div></td>
									<td width="100%" class="trade_level_sus" height="29" colspan="3" style="display: none;"><h:outputText value="#{msgs['trading.box.suspended']}" /></td>
									<td width="20" ></td>
								</tr>
								<tr height="60">
									<td width="25" height="60"></td>
									<td width="111" height="60">&#160;</td>
									<td align="center" height="60"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put.gif"  height="48" width="85" onclick="openSlip(this, 2); return false;" style="cursor: pointer;" /></td>
									<td style="display: none;" height="60"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/put_off.gif" height="48" width="85"/></td>
									<td width="111" height="60">&#160;</td>
									<td width="20" height="60"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="40">
						<td height="40">
							<table border="0" cellspacing="0" cellpadding="0" width="352" height="40" >
								<tr>
									<td>&#160;</td>
								</tr>
								<tr style="display: none;">
									<td valign="top" class="trade_time_left"><h:outputText value="#{msgs['trading.box.timeLeft']}" /></td>
								</tr>
								<tr style="display: none;">
									<td valign="top" align="center">
										<table class="progress_table" cellspacing="0" cellpadding="0">
											<tr>
												<td class="progress_time_td" align="#{applicationData.pageAlignment}"></td>
												<td class="progress_bar_td" align="#{applicationData.pageAlignment}" style="vertical-align:middle;" valign="middle">
													<div style="background-color: #db0000; width: 292px; border: 2px solid #ffffff;">
														<div class="progress_bar">
															<img align="middle" style="vertical-align:middle" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/timeleft_blink.gif" border="0" />
														</div>
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr style="display: none;">
									<td class="trade_time_left" valign="top" ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/waiting4expiry.gif" border="0" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr style="display: none;">
						<td>#{box}</td>
						<td><div source="lightstreamer" field="7"></div></td> <!-- opp id -->
						<td><div source="lightstreamer" field="8"></div></td> <!-- odds win -->
						<td><div source="lightstreamer" field="9"></div></td> <!-- odds lose -->
						<td><div source="lightstreamer" field="10"></div></td> <!-- state -->
						<td>#{applicationData.realCurrencySymbol}</td> <!-- currency symbol -->
						<td>0</td> <!-- submitting flag -->
						<td><div source="lightstreamer" field="3"></div></td> <!-- market id -->
						<td><div source="lightstreamer" field="14"></div></td> <!-- market id -->
						<td><div source="lightstreamer" field="15"></div></td> <!-- market random floor -->
						<td><div source="lightstreamer" field="16"></div></td> <!-- market random CEILING -->
						<td style="display: none;"><div source="lightstreamer" field="4"></div></td> <!-- opp levle from LS -->
						<td style="display: none;"><div></div></td> <!-- opp base level for random change every 15 min -->
					</tr>
				</table>
				<table width="352" height="260" border="0" cellpadding="0" cellspacing="0" style="display: none;">
					<tr>
						<td colspan="2" height="31px" valign="top">
							<table width="352" cellpadding="0" cellspacing="0" height="31px">
								<tr>
									<td width="31" height="31" class="slip_header">&#160;</td>
									<td height="31" class="slip_header"><h:outputText value="#{msgs['trading.slip.caption']}" /></td>
									<td width="31" height="31" class="slip_header"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/x_closed.jpg" style="cursor: pointer;" onclick="closeSlip(this); return false;" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="176" align="#{applicationData.pageAlignmentReverse}" class="slip_head_caption" style="font-weight: bold;direction:ltr"><div source="lightstreamer" field="26" ></div></td>
						<td width="176" class="slip_head"></td>
					</tr>
					<tr>
						<td width="352" colspan="2" height="8"></td>
					</tr>
					<tr>
						<td class="slipleft"><h:outputText value="#{msgs['trading.slip.type']}" /></td>
						<td class="slipright">#{msgs['call']} <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" width="9" height="8" /></td>
						<td class="slipright" style="display: none;">#{msgs['put']} <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" width="9" height="8" /></td>
					</tr>
					<tr>
						<td class="slipleft"><h:outputText value="#{msgs['trading.slip.expires']}" /></td>
						<td class="slipright"><div source="lightstreamer" field="27"></div></td>
					</tr>
					<tr>
						<td class="slipleft"><h:outputText value="#{msgs['trading.slip.amount']}" /></td>
						<td class="slipright">#{!applicationData.rtlAlign ? applicationData.realCurrencySymbol : ''}<input name="amount" type="text" class="slipinput" value="" size="15" maxlength="7" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLose(this, event); return false;" onFocus="javascript:this.select();" />#{applicationData.skinId==4 ? applicationData.realCurrencySymbol : ''}</td>
					</tr>
					<tr>
						<td colspan="2" height="8"></td>
					</tr>
					<tr>
						<td class="slipreturn"><h:outputText value="#{msgs['trading.slip.return']}" /></td>
						<td></td>
					</tr>
					<tr>
						<td class="slipleft"></td>
						<td class="slipright"></td>
					</tr>
					<tr>
						<td class="slipleft"></td>
						<td class="slipright"></td>
					</tr>
					<tr>
						<td colspan="2" align="center" class="error_messages" height="20px"></td>
					</tr>
					<tr>
				    	<td colspan="2" height="35"  align="center" >
				    		             <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png"
					    	onmouseover="if (!isBoxSubmitting(this)) this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_d.png';"
					 		 onmouseout="if (!isBoxSubmitting(this)) this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png';"
					    	onclick="submitSlip(this); return false;" style="cursor: pointer;" /></td>
					</tr>
					<tr style="display: none;">
						<td><h:outputText value="#{msgs['trading.slip.above']}" /></td>
						<td><h:outputText value="#{msgs['trading.slip.below']}" /></td>
					</tr>
					<tr style="display: none;">
						<td><h:outputText styleClass="error_messages_10px" value="#{msgs['error.investment.notLogin1']}" /><br/><A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}" class="general_link_blue_10"><h:outputText value="#{msgs['error.investment.notLogin2']}" escape="false" /></A><br/>&#160;<br/>&#160;</td>
					</tr>
				</table>
				<table width="352" height="260" border="0" cellpadding="0" cellspacing="0" style="display: none;">
					<tr>
						<td colspan="2" height="31" valign="top">
							<table width="352" cellpadding="0" cellspacing="0" height="31px">
								<tr>
									<td width="31" height="31" class="slip_header">&#160;</td>
									<td height="31" class="slip_header"><h:outputText value="#{msgs['trading.success.caption']}" /></td>
									<td width="31" height="31" class="slip_header"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/x_closed.jpg" style="cursor: pointer;" onclick="closeSlip(this); return false;" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="176" align="#{applicationData.pageAlignmentReverse}" class="slip_head_caption" style="font-weight: bold;direction:ltr"></td>
						<td width="176" class="slip_head"></td>
					</tr>
					<tr>
						<td colspan="2" height="8"></td>
					</tr>
					<tr>
						<td class="slipleft"><h:outputText value="#{msgs['trading.slip.type']}" /></td>
						<td class="slipright">CALL <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" width="9" height="8" /></td>
						<td class="slipright" style="display: none;">#{msgs['put']} <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" width="9" height="8" /></td>
					</tr>
					<tr>
						<td class="slipleft"><h:outputText value="#{msgs['trading.slip.expires']}" /></td>
						<td class="slipright"></td>
					</tr>
					<tr>
						<td class="slipleft"><h:outputText value="#{msgs['trading.slip.amount']}" /></td>
						<td class="slipright"></td>
					</tr>
					<tr>
						<td colspan="2" height="8"></td>
					</tr>
					<tr>
						<td class="slipreturn"><h:outputText value="#{msgs['trading.slip.return']}" /></td>
						<td></td>
					</tr>
					<tr>
						<td class="slipleft"></td>
						<td class="slipright"></td>
					</tr>
					<tr>
						<td class="slipleft"></td>
						<td class="slipright"></td>
					</tr>
					<tr>
						<td height="20px" class="slipconfirmation"><h:outputText value="#{msgs['investment.slip.id']}" /></td>
						<td height="20px" class="slipright"></td>
					</tr>
					<tr>
					    <td colspan="2" height="35"  align="center" ><img onclick="printSuccess(this); return false;" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg"
					    	onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_d.jpg'"
					 		onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/print_b.jpg'"
					    	style="cursor: pointer;" />
					    </td>
					</tr>
					<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.smsAvaliableForUser}">
						<tr height="20px" style="display: none;">
							<td align="center" colspan="2" valign="middle" height="15px">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td>
											<input type="checkbox" name="smsmsg" id="smsMsg" onclick="updateInvestSms(this);"/>
										</td>
										<td class="trade_time_left">

										</td>
									</tr>
								</table>
							</td>

						</tr>
					</h:panelGroup>
				</table>
				<table width="352" height="260" cellpadding="0" cellspacing="0" style="display: none;">
				  <tr height="31">
					<td valign="top" height="31" width="352">
						<table width="352" height="31" cellpadding="0"  cellspacing="0" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/1px.jpg">
							<tr height="31" DIR="LTR">
								<td width="15px">&#160;</td>
								<td class="trade_asset" align="#{applicationData.pageAlignment}" ><span style="cursor: pointer;" onmouseout="hideSelectionTree(this);" onmouseover="showSelectionTree(this,#{box});" onclick="showSelectionTree(this,#{box});" onmouseup="hideSelectionTree(this);" source="lightstreamer" field="25"></span></td>
								<td></td>
								<td></td>
								<td>&#160;</td>
								<td align="#{applicationData.pageAlignmentReverse}" class="trade_expires"><span style="cursor: pointer;"  onmouseout="hideSelectionSchedule(this);" onmouseover="showSelectionSchedule(this,#{box});" onclick="showSelectionSchedule(this,#{box});" onmouseup="hideSelectionSchedule(this);" source="lightstreamer" field="28" DIR="LTR"></span></td>
								<td width="15px">&#160;</td>
							</tr>
						</table>
					</td>
				  </tr>
				  <tr>
				    <td colspan="5" height="2px"></td>
				  </tr>
				  <tr valign="top">
				    <td>
				    	<table width="352" cellpadding="0" cellspacing="0">
					        <tr valign="top">
					          <td width="14">&#160;</td>
					          <td width="53" style="color:#333;" class="paddingRight"><div class="chart_trade_return_odds"></div><div><h:outputText styleClass="chart_trade_trade_return" value="#{msgs['trading.box.return']}" /></div></td>
					          <td width="217">
					          	<table align="center" width="217" cellpadding="0" cellspacing="0" border="0">
					              <tr>
					                <td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/call_up.gif" width="42" height="25" onclick="openSlipFromChartBox(this, 1)" onmouseover="chartShowCallPut(this, true, true)" onmouseout="chartShowCallPut(this, false, true)" style="cursor: pointer;" /></td>
					              	<td align="center" style="display: none;"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/call_up_off.gif" width="42" height="25" /></td>
					              </tr>
					              <tr>
					                <td align="center" class="trade_level_green_chart"></td>
					              </tr>
					              <tr>
					                <td align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/put_down.gif" width="42" height="24" onclick="openSlipFromChartBox(this, 2)" onmouseover="chartShowCallPut(this, true, false)" onmouseout="chartShowCallPut(this, false, false)" style="cursor: pointer;" /></td>
					                <td align="center" style="display: none;"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/put_down_off.gif" width="42" height="24" /></td>
					              </tr>
					            </table>
					          </td>
					          <td width="53" align="#{applicationData.pageAlignmentReverse}" style="padding-top:7px;" class="paddingLeft"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/z_graph.gif" width="35" height="29" onclick="closeChart(this);" style="cursor: pointer;"/></td>
					          <td width="15">&#160;</td>
					        </tr>
				      </table>
				    </td>
				  </tr>
				  <tr>
				  	<td height="15px">&#160;</td>
				    <td height="15px" align="center" style="display:none"><div class="chart_trade_box_time_left_txt"><h:outputText value="#{msgs['trading.box.timeLeft']}" /></div><div class="chart_trade_box_time_left"></div></td>
				    <td height="15px" align="center" style="display:none"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/waiting4exp_chart.gif" border="0" /></td>
				    <td height="15px" align="center" class="trade_expiery_level_chart" style="display: none;"><h:outputText value="#{msgs['trading.box.expieryLevel']}" /></td>
				  </tr>
				  <tr>
				    <td align="center"></td>
				  </tr>
				</table>
				<div style="position: absolute;	z-index: 100; display: none;">
					<table width="135" height="97" border="0" cellpadding="0" cellspacing="0" >
					  <tr>
					    <td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/top.gif" style="background-repeat: no-repeat;" width="135" height="10" ></td>
					  </tr>
					  <tr bgcolor="#f5f5f5">
					    <td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/left.gif" width="4" height="83" ></td>
					    <td width="125" height="83">
						    <table width="125" cellpadding="0" cellspacing="0" border="0"  align="center" >
						        <tr>
						          <td colspan="3" width="12px" height="11px" align="#{applicationData.pageAlignmentReverse}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/slip_x_12px.gif" width="12px" height="11px" onclick="closeChartDiv(this,1)" style="cursor: pointer;" /></td>
						        </tr>
						        <tr>
						          <td rowspan="7" width="5">&#160;</td>
						          <td height="10"><span class="chart_box_slip"><h:outputText value="#{msgs['trading.slip.type']}" /></span> <span class="chart_box_sliplabel_bold">CALL</span>&#160;<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" width="8" height="7"/></td>
						          <td height="10" style="display:none"><span class="chart_box_slip"><h:outputText value="#{msgs['trading.slip.type']}" /></span> <span class="chart_box_sliplabel_bold">PUT</span>&#160;<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" width="8" height="7"/></td>
						          <td rowspan="7" width="5">&#160;</td>
						        </tr>
						        <tr>
						          <td height="2"></td>
						        </tr>
						        <tr>
						          <td height="10"><span class="chart_box_slip"><h:outputText value="#{msgs['trading.chartBox.slip.amount']}" /></span> <span class="chart_box_sliplabel">#{ applicationData.skinId!=4 ? applicationData.realCurrencySymbol : ''}<input name="amount" type="text" class="chart_box_slipinput" value="" size="8" maxlength="7" onBlur="javascript:twoDecimals(this);" onkeyup="updateWinLoseFromChartBox(this, event); return false;" onFocus="javascript:this.select();" />#{applicationData.skinId==4 ? applicationData.realCurrencySymbol : ''}</span></td>
						        </tr>
						        <tr>
						          <td height="10" class="chart_box_sliplabel_bold"><h:outputText value="#{msgs['trading.slip.return']}" /></td>
						        </tr>
						        <tr>
						          <td height="14"><span class="chart_box_slip">#{msgs['trading.chartBox.slip.above']}</span> <span class="chart_box_sliplabel"></span></td>
						        </tr>
						        <tr>
						          <td height="14"><span class="chart_box_slip">#{msgs['trading.chartBox.slip.below']}</span> <span class="chart_box_sliplabel"></span></td>
						        </tr>
						        <tr>
						          <td align="center" height="18"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/buy_u.gif" width="38" height="13"
						          	onmouseover="if (!isBoxSubmittingChartBox(this)) this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/buy_d.gif';"
						 		    onmouseout="if (!isBoxSubmittingChartBox(this)) this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/buy_u.gif';"
						 		    onclick="submitSlipChartBox(this)" style="cursor: pointer;" /></td>
						        </tr>
						        <tr style="display:none">
						          <td height="10" style="display:none"><span class="chart_box_slip">#{msgs['trading.chartBox.slip.above']}</span> <span class="chart_box_sliplabel"></span></td>
   						          <td height="10" style="display:none"><span class="chart_box_slip">#{msgs['trading.chartBox.slip.below']}</span> <span class="chart_box_sliplabel"></span></td>
						        </tr>
					      </table>
					    </td>
					    <td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/right.gif" width="4" height="83" ></td>
					  </tr>
					  <tr>
					    <td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/bottom.gif" width="135" height="4"></td>
					  </tr>
					</table>
				</div>
				<div style="position: absolute;	z-index: 101; display: none;">
					<table width="160" border="0" cellpadding="0" cellspacing="0" >
					  <tr>
					    <td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/conf_01.gif" width="160" height="10"></td>
					  </tr>
					  <tr bgcolor="#f5f5f5">
					    <td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/conf_02.gif" width="4" height="177"></td>
					    <td width="145">
					      <table width="145" cellpadding="0" cellspacing="0" align="center" height="177">
					        <tr>
					        	<td align="#{applicationData.pageAlignmentReverse}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/slip_x_12px.jpg" width="12px" height="11px" onclick="closeChartDiv(this,2)" style="cursor: pointer;" /></td>
					        </tr>
					        <tr>
					          <td >
					          	<span dir="#{applicationData.pageDirection}" class="chart_box_sliplabel_bold_blue">NASDAQ</span> <span class="chart_box_sliplabel_bold">1,047.108</span>
					          </td>
					        </tr>
					        <tr>
					          <td>
					            <span class="chart_box_slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="chart_box_sliplabel_bold">CALL</span>&#160;<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/up.gif" width="8" height="7"/>
					          </td>
					          <td style="display:none">
					            <span class="chart_box_slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="chart_box_sliplabel_bold">PUT</span>&#160;<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.gif" width="8" height="7"/>
					          </td>
					        </tr>
					        <tr>
					          <td>
					            <span class="chart_box_slip"><h:outputText value="#{msgs['trading.slip.expires']}" /></span> <span class="chart_box_sliplabel_bold">17:00 Today</span>
					          </td>
					        </tr>
					        <tr>
					          <td>
					            <span class="chart_box_slip"><h:outputText value="#{msgs['trading.slip.amount']}" /></span> <span class="chart_box_sliplabel_bold">$3000.00 </span>
					          </td>
					        </tr>
					        <tr>
					          <td valign="bottom">
					            <span class="chart_box_sliplabel_bold" ><h:outputText value="#{msgs['trading.slip.return']}" /></span>
					          </td>
					        </tr>
					        <tr>
					          <td>
					            <span class="chart_box_slip">#{msgs['trading.chartBox.slip.above']}</span> <span class="chart_box_sliplabel_bold">$5100.00 </span>
					          </td>
					        </tr>
					        <tr>
					          <td>
					            <span class="chart_box_slip">#{msgs['trading.chartBox.slip.below']}</span> <span class="chart_box_sliplabel_bold">$450.00</span>
					          </td>
					        </tr>
					        <tr>
					          <td>
					            <span class="chart_box_sliplabel_bold"><h:outputText value="#{msgs['investment.slip.id']}" /></span> <span class="chart_box_sliplabel_bold">#12345679</span>
					          </td>
					        </tr>
					        <tr>
					          <td align="center" height="20"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/print_u.gif" width="38" height="13" style="cursor: pointer;"
					          onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/print_d.gif'"
					 		  onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/print_u.gif'"
					          onclick="printSuccessFromChartBox(this); return false;" /></td>
					        </tr>
							<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser &amp;&amp; applicationData.smsAvaliableForUser}">
						        <tr style="display:none">
						          	<td class="chart_box_sliplabel">
							          	<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td>
													<input type="checkbox" onclick="updateInvestSmsFromChartBox(this);"/>
												</td>
												<td class="chart_box_sliplabel">

												</td>
											</tr>
										</table>
									</td>
						        </tr>
   							</h:panelGroup>
					      </table>
					    </td>
					    <td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/conf_04.gif" width="4" height="177"></td>
					  </tr>
					  <tr>
					    <td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/conf_17.gif" width="160" height="4"></td>
					  </tr>
					</table>
				</div>
				<div style="position: absolute;	z-index: 102; display: none;">
					<table height="36" border="0" cellpadding="0" cellspacing="0">
					  <tr >
					    <td width="7" height="36" rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_left.gif"></td>
					    <td width="190" height="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_top.gif" ></td>
					    <td rowspan="3" width="2" height="36" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_right.gif"></td>
					  </tr>
					  <tr>
					  	<td style="display:none"></td>
					    <td width="203" bgcolor="#f5f5f5">
					    	<table width="203" cellpadding="4" border="0" cellspacing="0">
					            <tr>
					              <td class="chart_box_error"></td>
					              <td valign="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/x_error.gif" width="7" height="5" onclick="closeChartDiv(this,3)" style="cursor: pointer;" /></td>
					            </tr>
					            <tr style="display:none">
					            	<td style="display:none"><h:outputText value="#{msgs['error.investment.notLogin1']}" /><br/><A HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}" class="general_link_blue_10" style="font-size:9px"><h:outputText value="#{msgs['error.investment.notLogin2']}" escape="false" /></A></td>
					            </tr>
					     	</table>
					    </td>
					  </tr>
					  <tr>
					    <td width="190" height="2" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/drop_chart/red_bottom.gif"  ></td>
					  </tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</f:view>