<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

	<table width="920px" cellpadding="0" cellspacing="0" align="center" class="table_border" >
    	<tr height="270px">
      		<td height="270px" width="575px" style="background-image: url(#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/left_bnr.jpg);">
      			<h:panelGroup rendered="#{applicationData.skinId != 4}">
	      			<div id="flash" style="position: relative; z-index: 0;">
						<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="575" height="270" id="ao_movie" align="middle">
							<param name="allowScriptAccess" value="sameDomain" />
							<param name="allowFullScreen" value="false" />
							<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_movie.swf" />
							<param name="quality" value="high" />
							<param name="bgcolor" value="#f5f5f5" />
							<param name="wmode" value="transparent" />
							<embed wmode="transparent" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_movie.swf" quality="high" bgcolor="#f5f5f5" width="575" height="270" name="ao_movie" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
						</object>
					</div>
				</h:panelGroup>
      		</td>
      		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/right_bnr.jpg" width="345px" height="270px">
      			<table width="345px" height="270px" align="center" cellpadding="0" cellspacing="0">
			  		<tr height="147px">
				        <td width="345px" height="147px" class="welcome_text">
				        	<h1 class="welcome">
				        		<h:outputText value="#{msgs['welcome.banner.header']}"/>
				        	</h1>
				            <br/><br/>
				            <h:outputText value="#{msgs['welcome.banner.content']}" escape="false" />
				        </td>
				  	</tr>
	         		<tr height="123px" valign="middle">
	         			<c:if test="${empty sessionScope.user}">
			               <td height="123px" width="345px">
				               <h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"
								target="_top" id="registerWBLink" style="text-decoration: none;" border="0">
								<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/hp_tradenow.gif" width="334" height="78" border="0" alt="Binary Options" title="Binary Options"/>
								</h:outputLink>
			               </td>
			            </c:if>
	         			<c:if test="${!empty sessionScope.user}">
			               	<td height="123px" width="345px">
			               		<div id="noOneTouchLinkDiv">
									<!-- For non depositor users, redirects to new card   -->
				               		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/#{user.hasDeposits?'trade_binary_options.jsf':'pages/newCard.jsf'}"
										target="_top" id="registerWBLink" style="text-decoration: none;" border="0">
										<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/hp_tradenow.gif" width="334" height="78" border="0" alt="Binary Options" title="Binary Options"/>
									</h:outputLink>
								</div>
							<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
								<div id="oneTouchLinkDiv" style="display: none;">
									<!-- For non depositor users, redirects to new card   -->
				               		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/#{user.hasDeposits?'oneTouch.jsf':'pages/newCard.jsf'}"
										target="_top" id="registerWBLink1" style="text-decoration: none;" border="0">
										<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/hp_tradenow.gif" width="334" height="78" border="0" alt="Binary Options" title="Binary Options"/>
									</h:outputLink>
								</div>
							</h:panelGroup>
			               </td>
			            </c:if>
	    		   </tr>
        		</table>
         	</td>
       	</tr>
	</table>
</f:view>