<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
    <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<script type="text/javascript">
		document.domain = "#{applicationData.domainUrl}";
		function closewin() {
			var pop = parent.document.getElementById("popUp");
			pop.style.visibility = "hidden";
			document.getElementById("mainDivWhatIsBinary").className = 'binary0100_whatisbinary';
			document.getElementById("mainDivGeneralTermsBinary").className = 'binary0100_generalTermsBInary';
		}

	</script>
</head>
<body dir="#{applicationData.pageDirection}" style="height:230px;background:#f9f9f9;" width="100%" height="230px">
	<f:view locale="#{applicationData.userLocale}" >
	    <div id="mainDivWhatIsBinary" class="binary0100_whatisbinary" >
	        <h4><h:outputText value="#{msgs['binary.0-100.what.is.binary.0-100.title']}" escape="false"/></h4>
	        <div class="close">
	            <input type="image" onmouseout="this.src='#{applicationData.imagesPath}/binary0100/bttn_close_1.00.png'"
	            					onmouseover="this.src='#{applicationData.imagesPath}/binary0100/bttn_close_1.00_over.png'"
	                onclick="closewin();" src="#{applicationData.imagesPath}/binary0100/bttn_close_1.00.png" />
	        </div>
	        <div id="WhatIsBinaryDiv" >
	        	<iframe id="investments0100WhatIsBinaryContent" class="whatIsBinary_content" name="investments0100WhatIsBinary" src="#{facesContext.externalContext.requestContextPath}/jsp/whatIsBinary0100Content.jsf" width="650px" height="500px" frameborder="no" scrolling="no" />
	        </div>
	    </div>
	    <div id="mainDivGeneralTermsBinary" class="binary0100_generalTermsBInary">
	        <h4><h:outputText value="#{msgs['binary.0-100.popup.general.terms']}" escape="false"/></h4>
	        <div class="close">
	            <input type="image" onmouseout="this.src='#{applicationData.imagesPath}/binary0100/bttn_close_1.00.png'"
	            					onmouseover="this.src='#{applicationData.imagesPath}/binary0100/bttn_close_1.00_over.png'"
	                onclick="closewin();" src="#{applicationData.imagesPath}/binary0100/bttn_close_1.00.png" />
	        </div>
	        <div id="GeneralTermsBinaryDiv" >
	        	<iframe id="investments0100generalTermsBinaryContent" class="whatIsBinary_content" name="investments0100generalTermsBinaryContent" src="#{facesContext.externalContext.requestContextPath}/jsp/generalTermsBinary0100Content.jsf" width="650px" height="500px" frameborder="no" scrolling="no" />
	        </div>
	    </div>
	<script type="text/javascript">
		function goToGenralTerms() {
			document.getElementById("mainDivWhatIsBinary").className = 'binary0100_generalTermsBInary';
			document.getElementById("mainDivGeneralTermsBinary").className = 'binary0100_whatisbinary';
			document.getElementById('investments0100generalTermsBinaryContent').contentWindow.init_dw_Scroll();
		}

		function goToExpiryTab(){
		 	document.getElementById('investments0100generalTermsBinaryContent').contentWindow.goToExpiryTab();
		}

	</script>

</f:view>
</body>
</html>
