/*** RESET ***/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*** CLOSE RESET ***/

/*** Google Fonts Install ***/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzBa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBtIh4imgI8P11RFo6YPCPC0.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxoUt79146ZFaIJxILcpzmhI.woff) format('woff');
}
/*** Close Google Fonts Install ***/

/* Global Settings */
#top {
	width: 100%;
	height: 10px;
	margin: 0 0 10px 0;
	padding-top: 15px;
}
#top div {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}
#top img {
	border:none;
	text-decoration:none;
	-webkit-box-shadow:none;
	moz-box-shadow:none;
	box-shadow:none;
}
body {
	color:#000;
	font-size:16px;
	font-family:Tahoma, Geneva, sans-serif;
	background: #cecece;
}
strong {
	font-weight:bold;
}
em {
	font-style:italic;
	text-align:center;
	display:block;
	font-size:14px;
	padding: 5px 0;
}

a, a:visited {
	color: #21759b;
	font-family:Tahoma, Geneva, sans-serif;
}

a:hover {
	color: #0f3647;
}

u {
	text-decoration:underline;
}

h1 {
	font-size:28px;
	color:#b22222;
	font-weight:bold;
	text-align:center;
	padding-top:58px;
	padding-bottom:3px;
}
h2 {
	font-size:20px;
	font-weight:bold;
	padding-top:36px;
	padding-bottom:30px;
	text-align:center;
}
em.example {
	text-align:left !important;
	font-size:16px;
	padding:7px 0 24px;
}
h3 {
	font-size:20px;
	font-weight:bold;
	padding-top:8px;
	padding-bottom:25px;
	color:#b22222;
	text-decoration:underline;
	}
h4 {
	font-size:16px;
	font-weight:bold;
	padding:10px 0 28px;
}
ol {
	padding:7px 0 23px 15px;
	list-style-position:inside;
	list-style-type:decimal;
	font-size:14px;
}
ol li {
	padding:5px 0 6px;
	line-height:1.7em;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
ol li span{
	font-size:16px;
	line-height:16px;
	padding-left:5px;
	font-family:Tahoma, Geneva, sans-serif;
}
p {
	padding-bottom:24px;
	line-height:1.7em;
}
img {
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
/* Close Global Settings */

/* Layout */
#page {
	width:960px;
	padding: 0 26px;
	margin:0 auto;
	background:#fff;
	-webkit-box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
	-moz-box-shadow:    0px 2px 6px rgba(100, 100, 100, 0.3);
	box-shadow:         0px 2px 6px rgba(100, 100, 100, 0.3);
}

/* Close Layout */

/* Fonts */
a.open_link, a.open_link:visited, a.open_link:hover {
	font-size:14px;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
 
.red-dark {
	color:#b22222;
}
.red {
	color:#ff0000;
}
.small_font_size {
	font-size:14px;
}
/* Close fonts */
/* Local Settings */
div.video_container {
	text-align:center;
	padding-top:76px;
	padding-bottom:56px;
}

.aling_to_center {
	text-align:center;
}
.banners_container {
	text-align:center;
	padding:52px 0 79px;
}
span.steps {
	font-size:18px;
	text-decoration:underline;
}
.trend_container {
	padding:28px 0 51px;
}
/* Close Local Settings */

/* Errors */
#error_box		{display:none;position:absolute; z-index:100; top:300px; background:url(../images/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#000;}
.error_button	{background:url(../../images/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

/* Location */
body#DE, body#FR, body#ES{
	background:#e6e6e6;
}
#FR #page, #ES #page{
	padding-left:40px;
	padding-right:40px;
}
#FR h2 {
	line-height:1.5em;
}
#ES h1 {
	text-decoration:underline;
}
#ES h2.small_title {
	font-size:18px;
}
body#ES, #ES .example {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
#ES p {
	font-size:16px;
}
#ES .video_container {
	padding-top:24px;
	padding-bottom:20px;
}
#ES h1, #ES h2, #ES h3, #ES h4, #ES em, #ES h2.small_title {
	font-family:Tahoma, Geneva, sans-serif;
}
#FR em, #ES em {
	line-height:1.7em;
	padding:0;
}

#FR .video_container {
	padding-top:24px;
}
#DE .video_container {
	padding-top:4px;
}
#DE h2 {
	font-size:18px;
}
#DE h2.small_title {
	font-size:16px;
}
/* Close Location */

#footer {
	text-align: center;
	width: 100%;
	font-size: 9px;
}
#footer .icons-container {
	height: 30px;
	width:100%;
	margin:0 auto;
}
#footer .icons-container .icons {
	width:360px;
	padding-left:20px;
	margin:0 auto;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 20px 0;
	line-height: 16px;
	position: relative;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.icon_space form {
	padding:0;
}