body{background:#072c59 url('../img/bgr.jpg') no-repeat top left;background-size:100%;min-width:320px;width:100%;color:#093755;margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;}
a{color:#093755;text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:none;margin:0;padding:0;}

.gd_taC{text-align:center!important;}
.gd_fL{float:left;}
.gd_mr10{margin-right:10px;}
.gd_mt10{margin-top:10px!important;}
.gd_mb10{margin-bottom:10px!important;}
.gd_cWhite{color:white;display:block;padding:15px 0;}
a.gd_tdUL{text-decoration:underline;}

.gd_bgr{position:fixed;top:0;left:0;width:100%;min-width:480px;height:100%;min-height:800px;background:#072c59 url('../img/bgr.jpg') no-repeat top left;background-size:100%;z-index:1;}
.gd_cont{position:relative;z-index:2;font-size:10px;}
.gd_fs17{font-size:17px;}
.gd_fs15{font-size:15;}
.gd_fwB{font-weight:bold;}

.gd_g{background:#f2bf11 url('../img/gd_g.png') repeat-x;}
.gd_g1{background:url('../img/gd_g1.png') repeat-x;}
.gd_p{background:url('../img/gd_p.png') no-repeat;}

.gd_header{background-color:#f2bf11;text-align:center;position:relative;z-index:5}

.gd_lang{list-style:none;padding:0 12px 0 0;margin:0;float:left;display:block;border-right:2px solid #093755;}
.gd_lang_t{display:block;cursor:pointer;font-weight:bold;}
.gd_lang_t_in{background:url('../img/gd_ln_arr.png') no-repeat right center;display:block;padding-right:20px;width:120px;}
.gd_lang li ul{position:absolute;left:0;list-style:none;padding:0;margin:0;width:152px;height:51px;display:none;}
.gd_lang li li{background-color:#f2be11}
.gd_lang li.hov ul{display:block;}
.gd_lang_ul2 li{float:none;padding:15px 10px;background-position:0 0px;font-weight:normal;border-bottom:1px solid #e1b816;}

.gd_adr_mark{margin-right:12px;float:right;margin-top:12px}

.gd_cl_to_dwn{display:inline-block;margin-top:5px;font-size:11px; }

.gd_logo{display:block;padding:25px 0;margin:auto;}

.gd_tabs1_h{overflow:hidden;}
.gd_tabs1_h span{display:block;float:left;text-transform:uppercase;text-align:center;margin-right:3px;cursor:pointer;
	zoom:1;filter:alpha(opacity=70);opacity:0.7;
	background-color:white;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#e2e2e2));
	background:-webkit-linear-gradient(top, #e1e1e1, #e2e2e2);
	background:-moz-linear-gradient(top, #e1e1e1, #e2e2e2);
	background:-ms-linear-gradient(top, #e1e1e1, #e2e2e2);
	background:-o-linear-gradient(top, #e1e1e1, #e2e2e2);
	-moz-transition:opacity 0.3s ease;-webkit-transition:opacity 0.3s ease;-o-transition:opacity 0.3s ease;transition:opacity 0.3s ease;}
.gd_tabs1_h span.hov,.gd_tabs1_h span:hover{zoom:1;filter:alpha(opacity=100);opacity:1.0;}

.gd_tabs1_in{text-align:center;padding:20px 0 0 0;margin-bottom:10px;
	/*background:url('../img/gd_g2.png') repeat-x;*/
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#e2e2e2), to(rgba(255, 255, 255, 0.0)));
	background:-webkit-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
	background:-moz-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
	background:-ms-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
	background:-o-linear-gradient(top, #e2e2e2, rgba(255, 255, 255, 0.0));
}

.gd_slider_nav{clear:both;text-align:center;margin-top:10px;}
.gd_slider_nav span{background:url('../img/gd_p.png') no-repeat 0 -41px;display:inline-block;width:10px;height:11px;margin-right:5px;
	zoom:1;filter:alpha(opacity=70);opacity:0.7;cursor:pointer;
	-moz-transition:all 0.3s ease;-webkit-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
.gd_slider_nav span:hover,.gd_slider_nav span.hov{zoom:1;filter:alpha(opacity=100);opacity:1.0;}

a.gd_dwn_b{display:inline-block;background-position:0 -56px;height:66px;padding-left:12px;text-decoration:none;text-align:center;overflow:hidden;}
.gd_dwn_b .rs{display:block;background-position:right -125px;height:66px;padding-right:12px;}
.gd_dwn_b .cs{display:block;background:url('../img/gd_g3.png') 0 0;height:66px;font-size:25px;padding-top:18px;
	filter: dropshadow(color=#999999,offX=2,offY=2);text-shadow: 2px 2px 1px #999999;}

.gd_ul1{list-style-image:url("../img/gd_l1.png");text-align:left;padding-left:25px;display:inline-block;margin:0 10px;}
.gd_h_2{display:inline-block;}

.bgr1{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#e1e1e1));
	background:-webkit-linear-gradient(top, #fefefe, #e1e1e1);
	background:-moz-linear-gradient(top, #fefefe, #e1e1e1);
	background:-ms-linear-gradient(top, #fefefe, #e1e1e1);
	background:-o-linear-gradient(top, #fefefe, #e1e1e1);}
.gd_tr_div{cursor:pointer;display:block;}
a.gd_tr_div:hover{text-decoration:none;}
.gd_bnk_div{cursor:pointer;display:inline-block;margin-top:5px;width:100%;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#e1e1e1));
	background:-webkit-linear-gradient(top, #fefefe, #e1e1e1);
	background:-moz-linear-gradient(top, #fefefe, #e1e1e1);
	background:-ms-linear-gradient(top, #fefefe, #e1e1e1);
	background:-o-linear-gradient(top, #fefefe, #e1e1e1);}
a.gd_bnk_div:hover{text-decoration:none;}
.gd_bnk_dr{background:url('../img/gd_ar_u.png') no-repeat 10px center;padding:10px 0;margin-left:5px;display:block;overflow:hidden;padding-left:35px;}
.gd_bnk_dr.hov{background:url('../img/gd_ar_d.png') no-repeat 0 center;text-decoration:none;}
	
.gd_bnk_div2{background:rgba(255, 255, 255, 0.7);cursor:pointer;display:inline-block;width:100%;}
a.gd_bnk_div2:hover{text-decoration:none;}
.gd_bnk_dr2{background:url('../img/gd_ar_u2.png') no-repeat 14px center;padding:5px 0;display:block;overflow:hidden;padding-left:35px;}
.gd_bnk_dr2.hov{background:url('../img/gd_ar_d2.png') no-repeat 5px center;}

.gd_bnk_div3{display:inline-block;width:100%;border-bottom:1px solid white;cursor:pointer;}
a.gd_bnk_div3:hover{text-decoration:none;}
.gd_bnk_dr3{background:url('../img/gd_ar_u2.png') no-repeat right center;padding:8px 0;display:block;overflow:hidden;padding-right:25px;}
.gd_bnk_dr3.hov{background:url('../img/gd_ar_d2.png') no-repeat right center;}

.gd_tr_dr{background:url('../img/gd_ar_u.png') no-repeat right center;margin-right:15px;display:block;overflow:hidden;padding-right:25px;}
.gd_tr_dr.hov{background:url('../img/gd_ar_d.png') no-repeat right center;}

.gd_tr_div_sub{background:#e1e1e1;padding:30px;padding-left:20px;font-size:17px;text-align:left;overflow:hidden;}
.gd_tr_div_sub2{padding-left:10px;padding-bottom:10px;}
.gd_bnk_div_sub{background:rgba(255, 255, 255, 0.5);padding:0 20px!important;text-align:left;overflow:hidden;}
.gd_trans_bgr{background:rgba(255, 255, 255, 0.5);padding:30px;font-size:17px;overflow:hidden;}
.gd_bnk_div_sub2{padding-bottom:20px!important;}

.gd_pp1{padding:10px 0 10px 10px;margin:0;}

.gd_tbl1{border:1px solid #919191;border-bottom:none;border-right:none;margin-top:20px;}
.gd_tbl1 th{border:1px solid #919191;border-top:none;border-left:none;background:#eaeaea;font-weight:normal;padding:10px;text-align:center;}
.gd_tbl1 td{border:1px solid #919191;border-top:none;border-left:none;padding:10px;}

.gd_slider{overflow:hidden;width:419px;height:363px;display:block;position:relative;margin:0 auto;}
.gd_slider_in{position:absolute;top:0;left:0;list-style:none;padding:0;margin:0;
	/*-moz-transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-o-transition: all 0.5s ease;transition: all 0.5s ease;*/
}
.gd_slider_in li{float:left;}
.gd_slider_in img{width:100%;height:100%;}

.gd_footer{color:white;text-align:center;}

.gd_main_ul,.gd_main_ul li,.gd_main_ul ul{list-style:none;padding:0;margin:0; padding-left: -2px;}

.gd_card_h{text-align:center;color:white;font-size:30px;margin-top:30px;
	filter: dropshadow(color=#999999,offX=2,offY=2);text-shadow: 2px 2px 1px #999999;}

.gd_card_img{background:rgba(255, 255, 255, 0.7);text-align:center;padding:15px 0;margin-top:30px;}

.gd_h1{margin:0;margin-bottom:20px;font-size:25px;font-weight:normal}

.gd_trans_bgr .gd_inputText{font-family: Verdana, Geneva, sans-serif;border:1px solid #093755;padding:13px; 
	-webkit-border-radius:10px; border-radius: 10px; }
.gd_trans_bgr .width_100_prc {width: 100%; }
.gd_trans_bgr .width_desc{height: 85px; }

.h_29{height:29px;}
.h_51{height:51px;}
.h_60{height:60px;}
.f_14{font-size:14px;}
.f_17{font-size:17px;}
.f_20{font-size:20px;}
.f_21{font-size:21px;}
.f_25{font-size:25px;}
.f_27{font-size:27px;}
.f_30{font-size:30px;}
.w_150{width:150px;}
.w_420{width:420px;}
.nob{border:none;}
.dIB{display:inline-block;}
.dB{display:block;}
.hid_{position:absolute;left:-1000px}
.oH{overflow:hidden;}
.p10{padding:10px;}
.pb20{padding-bottom:20px;}