body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff url(../images/bg.png) left top repeat-x;
	color: #093755;
	font-size: 14px;
	width: 100%;
}
* {
	margin: 0px;
	padding: 0px;
}
#page {
	width: 1100px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
	padding: 0 0 0 -90px;
}
img {
	border: none;
}
p {
	margin: 10px 0;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
#bg_container {
	width: 1045px;
	margin: 0 auto;
	postion: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 260px;
}
*+html #mainimg {
	float: left;
	margin-left: -80px !important;
}
#main {
	width: 1100px;
	height: auto;
	float: left;
	clear: both;
}
#logo {
	width: 975px;
	margin: 0 auto;
	text-align: left;
	height: 65px;
}
*+html #logo {
	margin-top: 0;
}
#title {
	padding: 30px 0 30px;
	margin: 0 auto;
	width: 935px;
	background: transparent url(../images/bg_title.png) center top no-repeat;
	text-align: center;
}
h1 {
	font-size: 34px;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 20px;
	width: 502px;
	float: right;
	text-align: left;
	padding: -50px 0 0 0;
}
h4 {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 23px 0px 10px;
	float: left;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 10px 0;
	padding: 0px;
}
#content {
	width: 1050px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
#content_top {
	width: 1095px;
	text-align: left;
	float: left;
	padding-top: 30px;
	background: #ffffff url(../images/imgMain_BO.jpg) bottom left no-repeat;
}
.top_list {
	list-style-type: none;
	padding: 0;
	margin-left: 230px;
	text-align: left;
	width: 502px;
	float: right;
}
.top_list li {
	padding: 0px 0 20px 80px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #006cb2;
}
.top_list li span {
	font-size: 24px;
	font-weight: normal;
	color: #093755;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat left top;
	border-bottom: 1px dotted #aaaaaa;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat left top;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat left top;
	padding-top: 3px;
}
.button_tradeBox {
	height: 72px;
	width: 262px;
	position: relative;
	float: right;
	padding: 0 0 0 0;
}
.tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.tradeBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#content_btm {
	text-align: left;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 30px;
	margin-top: 40px;
	position: relative;
	float: left;
	padding: 0 0 0 39px;
}
.bottom_list {
	list-style-type: none;
	text-align: left;
	margin-top: 3px;
	float: left;
	width: 680px;
}
.bottom_list li {
	padding: 7px 0 7px 35px;
	background: url(../images/img_bullet.png) no-repeat 6px 8px;
	border-bottom: 1px dotted #aaaaaa;
	font-size: 14px;
	font-weight: normal;
	height: auto;
	width: 660px;
}
#tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.content_learnBox {
	float: left;
	width: 700px;
	text-align: left;
	padding-right: 20px;
}
#content_learnBox p {
	text-align: justify;
	font-size: 12px;
}
.button_learnBox {
	float: right;
	height: 63px;
	width: 219px;
	margin-top: 280px;
}
.learnBox_StartButton {
	width: 219px;
	height: 63px;
	background-image: url(../images/bttn_StartNow_02_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.learnBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#footer {
	text-align: center;
	width: 1127px;
	margin: 0 auto;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 703px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding: 15px 0 15px 361px;
	margin-left: 80px;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 700px;
	padding: 20px 0 20px 90px;
	line-height: 16px;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
/**************form classes******************/
form a, form a:visited, a:hover {
	color: #fff;
	text-decoration: none;
}
.form_block {
	font-size: 18px;
	color: #093755;
	width: 975px;
	height: 125px;
	float: left;
	background: transparent url(../images/bg_title.png) no-repeat center top;
	margin-top: 45px;
	padding-top: 35px;
}
.vertical_form {
	height: 483px;
	width: 317px;
	background: url(../images/form_bg.jpg) top left no-repeat;
	position: relative;
	float: right;
	padding: 0 0 0 0;
}
form h4 {
	color:#fff;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	padding: 18px 0 36px;
	margin:0;
	display:block;
	float:none;	
}
form h4 a{padding: 20px 20px 36px; text-align:center;}
#contactForm {
	padding: 0 37px;
}
.form_cl, .form_cl2, .form_cl3 {
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	float: left;
	width: 243px;
}
form input {
	height:15px;
	line-height:17px;
	width:231px;
	padding:5px 5px;
	background:none;
	border:none;
}
.form_cl4 {
	width: 243px;
}
.agree {
	float: left;
	width: 13px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 7px;
	margin-left: 0;
	margin-top: 8px;
	height: auto;
	line-height: 17px;
}
.agree_text {
	font-size: 10px;
	color: #3b6078;
	float: left;
	padding: 5px 0 10px 0px;
	width: 223px;
	line-height: 12px;
}
.secured {
	color: #3b6078;
	font-size: 10px;
	background: url(../images/icon_secure.png) left bottom no-repeat;
	padding: 10px 0 2px 20px;
	float: left;
	width: 223px;
	line-height: 12px;
}
#DE .secured {
	background-position: left 12px;
}
#DE h4 {
	line-height: normal;
}
#DE form h4 {
	font-size: 16px;
}
#DE .form_cl, #DE .form_cl2, #DE .form_cl3 {
	padding-top: 5px;
}
.input1, .input2, .input3, .input4 {
	background:url(../images/inputs_bg.png) top left no-repeat;
	float:left;
	margin-top:5px;
	height:27px;
}
.input2 {
	background-position: bottom left;
}
.input3 {
	background-position: bottom right;
	float: right;
}
form .input2 input {
	width: 46px;
}
form .input3 input {
	width: 167px;
}
.submin_swf {
	width: 243px;
	float: left;
}
/**************end of form classes******************/
/*					Localizations					*/

#EN #content_top {
	height: 350px;
}
#EN .button_tradeBox {
	padding: 10px 0 0 0;
}
#EN .button_learnBox {
	margin-top: 240px;
}
#RU #mainimg {
	top: 320px
}
#RU #content_btm {
	padding: 0px 80px 0 80px;
}
#RU .bottom_list li {
	width: 710px;
}
#RU .button_tradeBox {
	margin: 0 0 0 30px;
	float: right;
}
#RU .top_list .p3 {
	background-position: left top;
}
#RU .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_ru.png);
}
#RU .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_ru.png);
}
#RU .content_learnBox {
	width: 770px;
}
#RU #content_top {
	width: 1135px;
}
#RU .top_list {
	width: 485px;
}
#RU h4 {
	line-height: 22px;
}
#DE .button_tradeBox {
	position: relative;
	margin-top: 5px;
	float: right;
}
#DE .button_learnBox {
	margin: 280px 10px 0 0;
}
#DE .top_list .p2 {
	background-position: left 16px;
}
#DE .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_de.png);
}
#DE .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_de.png);
}
#FR form h4 {
	font-size: 16px;
	line-height: 1.5em;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 16px;
}
#IT #mainimg {
	top: 340px
}
#IT h4 {
	line-height: 27px;
}
#IT .button_tradeBox {
	position: relative;
	margin-top: 0px;
	float: right;
	z-index: 9999;
}
#IT .bottom_list li {
	width: 705px;
}
#IT .content_learnBox {
	width: 740px;
}
#IT .top_list .p1 {
	background-position: left 25px;
}
#IT .top_list .p2 {
	background-position: left 25px;
}
#IT .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_it.png);
}
#IT .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_it.png);
}
#IT #content_btm {
	padding: 5px 50px 0 70px;
}
#IT #content_top {
	width: 1110px;
}
#FR form h4 a {
	padding-left:0;
	padding-right:0;
}
#FR #mainimg {
	top: 325px;
}
#FR .button_tradeBox {
	width: 302px;
}
#FR .button_tradeBox {
	width: 302px;
	position: relative;
	margin-top: 5px;
	float: right;
}
#FR .top_list .p2 {
	background-position: left 16px;
}
#FR .top_list .p3 {
	background-position: left 2px;
}
#FR .tradeBox_StartButton {
	width: 302px;
	background-image: url(../images/bttn_StartNow_01_fr.png);
}
#FR .learnBox_StartButton {
	width: 252px;
	background-image: url(../images/bttn_StartNow_02_fr.png);
}
#FR .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
	padding: 0 0 0 0;
}
#FR .button_learnBox {
	margin-top: 315px;
	margin-right: -10px;
}
#ES #mainimg {
	top: 300px;
}
#ES #content_btm {
	margin-top: -15px;
}
#ES h4 {
	line-height: 27px;
}
#ES .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
	padding: 0 0 0 0;
}
#ES .bottom_list li {
	width: 680px;
}
#ES .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_es.png);
}
#ES .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_es.png);
}
#ES #content_btm {
	padding: 50px 0 0 80px;
}
#ES .content_learnBox {
	width: 720px;
}
#ES #content_top {
	width: 1110px;
}
#TR #mainimg {
	top: 285px;
}

#TR h1 {
	font-size: 32px;
}
#TR h2 {
	font-size: 29px;
}
#TR h4 {
	line-height: 27px;
}
#TR .top_list .p2 {
	background-position: left 16px;
}
#TR .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_tr.png);
}
#TR .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_tr.png);
}
#TR #content_top {
	width: 1110px;
}
#TR form h4 {
	font-size:18px;
}
#TR .button_learnBox {
	margin-top: 230px;
}
#ZH #mainimg {
	top: 240px;
}
#ZH #content_top {
	width: 1120px;
	height: 340px;
}
#ZH #content_btm {
	margin-top: 50px;
	padding: 0 50px 0 80px;
}
#ZH .button_learnBox {
	margin-top: 150px;
}
#ZH .bottom_list li {
	width: 700px;
}
#ZH .top_list .p1 {
	background-position: left top;
}
#ZH .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_zh.png);
}
#ZH .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_zh.png);
}
#ZH .content_learnBox {
	width: 740px;
}
#AR #mainimg {
	top: 275px;
}
#AR #main {
	width: 1050px;
}
#AR #page {
	width: 1050px;
}
#AR {
	font-family: Tahoma;
}
#AR {
	direction: rtl;
}
#AR #logo {
	text-align: right;
}
*+html #AR #content_btm {
	float: right;
}
*+html #AR .bottom_list {
	float: right;
}
#AR .top_list {
	text-align: right;
	width: 470px\9;
	float: left;
	margin-left: 0px;
	padding-top: 20px;
}
#AR .bottom_list {
	width: 1050px;
	text-align: right;
	margin-top: 0;
	float: none;
}
#AR h3 {
	text-align: left;
	padding: 20px 200px 0 0;
}
#AR h4 {
	text-align: right;
}
#AR h5 {
	text-align: right;
}
#AR #content_top {
	width: 1110px;
	margin-top: -15px;
	float: left;
	background: url(../images/imgMain_BO_ar.jpg) no-repeat right
}
#AR #content_btm {
	margin-top: 55px;
	padding: 0 50px 0px 0;
}
#AR .button_tradeBox {
	position: relative;
	float: left;
	margin-top: 40px;
}
#AR .button_learnBox {
	margin-top: 205px;
	float: left;
}
#AR .content_learnBox {
	margin-top: 1px;
	padding: 0 0 30px 20px;
	float: right;
	text-align: right;
	direction: rtl;
	width: 730px;
}
#AR .top_list li {
	padding: 0px 80px 20px 0;
}
#AR .bottom_list li {
	padding: 7px 35px 7px 0;
	background: url(../images/img_bullet.png) no-repeat 710px 8px;
	width: 700px;
}
#AR .top_list .p1 {
	background-position: right top;
}
#AR .top_list .p2 {
	background-position: right 13px;
}
#AR .top_list .p3 {
	background-position: right top;
}
#AR .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_ar.png);
}
#AR .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_ar.png);
}
.disclaimer {
	width: 502px;
	float: right;
	text-align: left;
	font-size: 11px;
	color: #093755;
	margin-top: -5px;
	line-height: 16px;
	border-bottom: 1px dotted #aaaaaa;
	border-top: 1px dotted #aaaaaa;
	padding: 10px 0;
}
#AR .disclaimer {
	width: 502px;
	float: left;
	text-align: right;
	font-size: 11px;
	color: #093755;
	line-height: 16px;
	border-bottom: 1px dotted #aaaaaa;
	border-top: 1px dotted #aaaaaa;
	padding: 10px 0;
	margin: 0 150px 0 0;
}
/************Error message*****************/
#error_box {
	display:none;
	position:absolute;
	z-index:100;
	top:50%;
	background-color: #eaeaea;
	background-image: none;
	width:250px;
	overflow:hidden;
	text-align:center;
	border: 1px solid #093755;
}
.error_message {
	margin-top:50px;
	height:50px;
	padding:0 10px;
	color:#093755;
	font-size: 13px;
}
.error_button {
	background:url(../images/form_full_alret_button.png) no-repeat;
	width:77px;
	height:55px;
	margin: 0 auto;
	margin-bottom:15px;
	cursor:pointer;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:fixed;
	top:0;
	width:100%;
	z-index:99;
}
.error {border: solid 1px red;}