<div class="popUp-content iframe" click-out-popup-cont>
	<div class="body">
		<form method="post" target="the_frame" id="the-form">
			<input type="hidden" name="{{name}}" value="{{value}}" ng-repeat="(name, value) in $ctrl.info.postData"/>
		</form>
		<iframe name="the_frame" id="the-frame" width="100%" height="100%"></iframe>
	</div>
</div>
