@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#ccccd4;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../../images/landing_Contactus/LPProffesional/header.gif) repeat-x;

}
#header .logo	{background:url(../../images/en_2/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../../images/landing_Contactus/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}
#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 40px; height:27px;/* background:url(../images/landing_Contactus/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px;margin-right: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}

p	{ margin: 0 0 4px;; padding:0;}
h2	{font-size: 18px;}

#banner_en	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_en.png) no-repeat; width:970px; height:500px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_es	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_es.png) no-repeat; width:970px; height:500px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_fr	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_fr.png) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_it	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_it.png) no-repeat; width:970px; height:500px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_tr	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_tr.png) no-repeat; width:970px; height:500px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_de	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_de.png) no-repeat; width:970px; height:547px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_ru	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_ru.png) no-repeat; width:970px; height:574px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_ar	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_ar.png) no-repeat; width:970px; height:500px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}
#banner_ar_google	{background:url(../../images/landing_Contactus/LPAnyoption_magic/banner_magic_ar_google.png) no-repeat; width:970px; height:560px; margin:0 auto;position:relative;border-bottom:1px solid #9d9da2}

.disclaimer { margin-left:40px}

.l_text_box	{
	font-size:15px;
	color:#093755;
	position:absolute;
	top:148px;
	left:238px;
	line-height: 18px;
	width:428px
}
.l_text_box_ar_google	{
	font-size:17px;
	color:#093755;
	position:absolute;
	top:154px;
	left:324px;
	line-height: 18px;
	width:401px;
	direction:rtl;
	font-family:Arial, Helvetica, sans-serif;
	height: 182px;
}
.l_text_box_big	{
	font-size:15px;
	color:#1a1c22;
	position:absolute;
	top:387px;
	left:68px;
	line-height: 20px;
	width:376px
}
.l_text_box	.title {font-size:23px;}
.l_text_box	.title_es {font-size:20px; line-height: 22px;}
.l_text_box_ar_google .title {font-size:23px;}

.l_text_box	.add {font-size:18px; color:#0284d6; font-weight:bold}
.l_text_box_ar_google	.add {font-size:20px; color:#0284d6; font-weight:bold}

.text_box_2	{
	font-size:15px;
	color:#093755;
	position:absolute;
	top:188px;
	left:33px;
	line-height: 15px;
	width:431px
}
.text_box_big_text	{
	font-size:15px;
	color:#093755;
	position:absolute;
	top:219px;
	left:70px;
	line-height: 20px;
	width:337px
}
.text_bullets	{padding: 0 0 0 30px;  list-style-image:url(../../images/landing_Contactus/LPAnyoption_magic/bullet.png); margin:14px 0;}
.text_bullets li{line-height: 20px; margin-top:10px}
.r_text_box	{
	position:absolute;
	top:50px;
	left:701px;
	font-size:12px;
	color:#1a1c22;
}
.title_image	{margin: 0 0 13px 5px;}
.input1		{background:url(../../images/landing_Contactus/input_box1.png) no-repeat 0 0; width:216px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 210px;}
.star		{color:#f6cd10; font-weight:normal;}
.input2		{float:left; background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2 input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}
.input2_1		{float:left; line-height:11px;  background:url(../../images/landing_Contactus/LPProffesional/input_box2.png) no-repeat;  width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_1 input	{ border: medium none; height: 16px; margin:2px 3px; width: 23px;text-align: center;}
.input3		{background:url(../../images/landing_Contactus/LPProffesional/input_box3.png) no-repeat; width:158px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px;}
.input3 input	{ border: medium none; height: 16px; margin:2px 3px; width: 150px;}
.submit_image	{margin-left:-7px; margin-top: 6px;}
.error	{ background-position:0 -23px;}

.bottom_line	{font-size:17px; font-weight:bold; color:#f6cd10;}
#bottom_content	{width:100%;margin-top: 14px; font-size:12px; color:#000;}
.table_l	{height:260px; width:616px; background:url(../images/landing_Contactus/table_bk.jpg) repeat-x; margin-left: 32px; padding-top:10px; padding-left:20px}
.table_l_ru	{height:260px; width:616px; background:url(../images/landing_Contactus/table_bk.jpg) repeat-x; margin-left: 32px; padding-top:10px; padding-left:10px}
.table_header	{color:#000; font-size:19px; font-weight:bold; margin: 10px 0px 0; }
.table_2	{height:260px; width:245px; background:url(../images/landing_Contactus/table_bk.jpg) repeat-x; margin-right: 33px; float:right;}
.table_2_text	{margin-top:15px; margin-left:10px;}
.map_image		{margin-top:30px;}
.table_1_text	{margin-top:5px; margin-left:00px;}
.table_column	{float:left; margin-right:20px;width:185px; height:140px; margin-top:15px; }
.table_column_tr	{float:left; margin-right:20px;width:185px; height:125px; margin-top:15px; }
.table_column_ru	{float:left; margin-right:20px;width:185px; height:155px; margin-top:15px;; }

.agree		{ float: left; margin-right: 10px;}
.agree_text	{font-size:11px;}
.submin_swf	{ margin-left: -7px;}
.error_text	{height:19px; overflow:visible;}
.error_bullets	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../images/landing_Contactus/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}


#error_box	{ display:none;position:absolute; z-index:100; top:300px; background:url(../../images/landing_Contactus/form_full_alret_bk.jpg) no-repeat; width:250px; height:150px; overflow:hidden; color:#fff; text-align:center;border: 1px solid #FFFFFF;}
.error_message	{margin-top:50px; height:50px; padding:0 10px;color:#FFF;}
.error_button	{background:url(../../images/landing_Contactus/form_full_alret_button.png) no-repeat; width:80px; height:48px; margin: 0 auto; margin-top:5px; cursor:pointer;}


#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin:auto;
opacity:0.4;
filter: alpha(opacity = 20);
position:absolute;
top:0;
width:100%;
z-index:99;
}

.yellow	{color:#f6cd10;}
.plus	{float:left;text-align: right; width: 15px;margin-top: 7px;color:#000;}


p_ar	{ margin: 0 0 4px;; padding:0;}
h2_ar	{font-size: 18px;}

.disclaimer_ar { margin-left:40px}

.l_text_box_ar	{
	font-size:17px;
	color:#093755;
	position:absolute;
	top:156px;
	left:322px;
	line-height: 18px;
	width:401px;
	direction:rtl;
	font-family:Arial, Helvetica, sans-serif;
	height: 182px;
}
.l_text_box_big_ar	{
	font-size:15px;
	color:#1a1c22;
	position:absolute;
	top:387px;
	left:68px;
	line-height: 20px;
	width:376px
}
.l_text_box_ar	.title {font-size:23px;}
.l_text_box_ar	.title_es {font-size:20px; line-height: 22px;}

.l_text_box_ar	.add {font-size:20px; color:#0284d6; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}

.text_box_2_ar	{
	font-size:17px;
	color:#093755;
	position:absolute;
	top:183px;
	left:-103px;
	line-height: 15px;
	width:431px
}
.text_box_big_text_ar	{
	font-size:15px;
	color:#093755;
	position:absolute;
	top:219px;
	left:70px;
	line-height: 20px;
	width:337px
}
.text_bullets_ar	{padding: 0 0 0 20px;  list-style-image:url(../images/bullet.png); margin:14px 0;}
.text_bullets_ar li{line-height: 20px; margin-top:10px}
.r_text_box_ar	{
	position:absolute;
	top:50px;
	left:53px;
	font-size:12px;
	color:#1a1c22;
}
.title_image_ar	{margin: 0 0 13px 5px;}
.input1_ar		{background:url(../images/input_box1.png) no-repeat 0 0; width:216px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:3px;}
.input1_ar input	{ border: medium none; height: 16px; margin:2px 3px; width: 210px;}
.star_ar		{color:#f6cd10; font-weight:normal;}
.input2_ar		{float:left; background:url(../images/input_box2.png) no-repeat;width:53px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px; margin-right:5px;}
.input2_ar input	{ border: medium none; height: 16px; margin:2px 3px; width: 45px;text-align: center;}
.input3_ar		{background:url(../images/input_box3.png) no-repeat; width:158px; height:23px; overflow:hidden;margin-top: 3px; margin-bottom:8px;}
.input3_ar input	{ border: medium none; height: 16px; margin:2px 3px; width: 150px;}
.submit_image_ar	{margin-left:-7px; margin-top: 6px;}
.error_ar	{ background-position:0 -23px;}

.bottom_line_ar	{font-size:17px; font-weight:bold; color:#f6cd10;}
#bottom_content_ar	{width:100%;margin-top: 14px; font-size:12px; color:#000;}
.table_l_ar	{height:260px; width:616px; background:url(../images/table_bk.jpg) repeat-x; margin-left: 32px; padding-top:10px; padding-left:20px}
.table_header_ar	{color:#000; font-size:19px; font-weight:bold; margin: 10px 0px 0; }
.table_2_ar	{height:260px; width:245px; background:url(../images/table_bk.jpg) repeat-x; margin-right: 33px; float:right;}
.table_2_text_ar	{margin-top:15px; margin-left:10px;}
.map_image_ar		{margin-top:30px;}
.table_1_text_ar	{margin-top:5px; margin-left:00px;}
.table_column_ar	{float:left; margin-right:20px;width:185px; height:140px; margin-top:15px; }
.table_column_tr_ar	{float:left; margin-right:20px;width:185px; height:125px; margin-top:15px; }
.table_column_ru_ar	{float:left; margin-right:20px;width:185px; height:155px; margin-top:15px;; }

.agree_ar		{ float: right; margin-right: 10px;}
.agree_text_ar	{font-size:11px;}
.submin_swf_ar	{ margin-left: -7px;}
.error_bullets_ar	{padding: 0 0 0 18px; font-weight:bold; list-style-image:url(../images/error_bullet.png);font-size: 13px;margin: 3px;color:#ee2930;}