<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.binary-options-eBook.metadata.jsf.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.binary-options-eBook.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.binary-options-eBook.metadata.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options-eBook.jsf/')}" />
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<script src='//www.mte-media.com/scripts/swfobject.js'></script>
		<link  href="//www.mte-media.com/css/prettyPhoto.css" rel="stylesheet"  />
		<script src="//www.mte-media.com/scripts/prettyPhoto/jquery.prettyPhoto.js" ></script>	
		<script src="//www.mte-media.com/scripts/tabcontent.js" type="text/javascript"></script>
		<script src='//www.mte-media.com/users/anyoption/mfp_templates/scripts/mte.js' ></script>
		<link rel='stylesheet' id='vid_css' href='//www.mte-media.com/users/anyoption/mfp_templates/styles/vid.css' />		
		<link rel='stylesheet' type='text/css' href='//www.mte-media.com/users/anyoption/mfp_templates/styles/tabs.css' />
		<script>
			var language = academy_language; 
			var ref='#{applicationData.skinId==1?'b44bca2':'1f5370b'}';
			var demo='#{academyForm.userStatus == 2?'true:23':'false'}';
			var links_mode='false';
			var backUrl='close_popup';
			var topBar='false';
			var bottomBar='true';
			var playListBar='false';
			var wid='800';
			var contact_message='Please register.';
			var autoPlay='false';
			var user='#{applicationData.skinId==1?'etrader':'anyoption'}';
			var reg_url='#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf';
		</script>
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.binary-options-eBook.text.rightnav.e_book']}" />
				</ui:include>
				
				<!--content in-->
				<ui:include src="/jsp/binary-options-eBook_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
					<div style="padding-bottom:52px;">
						<div class="headers_field_int">
							<h1 class="funnel_int_h1 funnel_int_h1_#{applicationData.userLocale.language}"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h1>
							<span class="funnel_subtitle_int"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
						</div>
						<div class="shortReg_int" id="shortReg_int">
							<ui:include src="/jsp/html_elements/register_content_funnel.xhtml"/>
						</div>
						<script>initRegForm('shortReg_int',#{applicationData.skinId});</script>
					</div>
				</h:panelGroup>
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					<iframe id="right_side_investments" name="right_side_investments" width="195" height="262" frameborder="no" scrolling="no" class="clear"
						src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=_small" >
					</iframe>
				</h:panelGroup>
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/banners_holder_main.xhtml">
					<c:if test="#{applicationData.skinId != 15}">
						<ui:param name="ourTradersShare" value="true" />
						<ui:param name="investments_profit_none" value="true" />
					</c:if>
				</ui:include>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>
</f:view>