<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/jsp/#{applicationData.skin.templates}/template.xhtml">
	<!-- META: title -->
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['CMS.trading-psychology.metadata.jsf.title']}"/>
	</ui:define>
	<!-- META: keywords -->
	<ui:define name="keyWordsNew">
		<meta name="keywords" content="#{msgs['CMS.trading-psychology.metadata.keywords']}"/>
	</ui:define>
	<!-- META: description -->
	<ui:define name="metaDescription">
		<meta name="description" content="#{msgs['CMS.trading-psychology.metadata.description']}"/>
	</ui:define>
	<!-- canonical -->
	<ui:define name="canonical">
		<link rel="canonical" href="#{applicationData.urlPrefixBySkin}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-psychology.jsf')}" />
	</ui:define>
	<!-- head -->
	<ui:define name="head">
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<script src='//www.mte-media.com/scripts/swfobject.js'></script>
		<link  href="//www.mte-media.com/css/prettyPhoto.css" rel="stylesheet"  />
		<script src="//www.mte-media.com/scripts/prettyPhoto/jquery.prettyPhoto.js" ></script>	
		<script src="//www.mte-media.com/scripts/tabcontent.js" type="text/javascript"></script>
		<script src='//www.mte-media.com/users/anyoption/mfp_templates/scripts/mte.js' ></script>
		<link rel='stylesheet' id='vid_css' href='//www.mte-media.com/users/anyoption/mfp_templates/styles/vid.css' />
		<link rel='stylesheet' type='text/css' href='//www.mte-media.com/users/anyoption/mfp_templates/styles/tabs.css' />
		<script>
			var ref='#{applicationData.skinId==1?'b44bca2':'1f5370b'}';
			var language = academy_language; 
			var demo='#{academyForm.userStatus == 1?'true:7':'false'}';
			var links_mode='false';
			var backUrl='#{applicationData.urlPrefixBySkin}#{facesContext.externalContext.requestContextPath}#{academyForm.decodeURL(session, request, response,'/jsp/trading-psychology.jsf')}';
			var topBar='false';
			var bottomBar='true';
			var playListBar='false';
			var wid='800';
			var contact_message='';
				if (#{applicationData.skinId==1}){
					contact_message='&lt;font size="35" face="tahoma" color="#282828" &gt;<h:outputText value="#{msgs['CMS.regLogPopUpAcademy.text.message1']}" escape="false"/><br/><h:outputText value="#{academyForm.replaceTextOut(msgs['CMS.regLogPopUpAcademy.text.message2'])}" escape="false"/>&lt;/font&gt;<br/><br/>&lt;a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"&gt;&lt;font color="#de4343" size="30" face="tahoma" &gt;<h:outputText value="#{msgs['CMS.regLogPopUpAcademy.submit']}" escape="false"/>&lt;/font&gt;&lt;/a&gt;<br/><br/>&lt;a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}"&gt;&lt;font color="#6898B0" face="tahoma" size="30" &gt;<h:outputText value="#{msgs['CMS.regLogPopUpAcademy.submit.log']}" escape="false"/>&lt;/font&gt;&lt;/a&gt;'
				}
				else{
					contact_message='&lt;font size="32" face="verdana"&gt;<h:outputText value="#{msgs['CMS.regLogPopUpAcademy.text.message1']}" escape="false"/>&lt;/font&gt;<br/>&lt;font size="32" face="verdana" color="#0284d6"&gt;<h:outputText value="#{academyForm.replaceTextOut(msgs['CMS.regLogPopUpAcademy.text.message2'])}" escape="false"/>&lt;/font&gt;<br/><br/>&lt;a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}"&gt;&lt;font color="#ffae00" size="26" face="verdana"&gt;<h:outputText value="#{msgs['CMS.regLogPopUpAcademy.submit']}" escape="false"/>&lt;/font&gt;&lt;/a&gt;<br/><br/>&lt;a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/login.jsf')}"&gt;&lt;font color="#0284d6" face="verdana" size="26"&gt;<h:outputText value="#{msgs['CMS.regLogPopUpAcademy.submit.log']}" escape="false"/>&lt;/font&gt;&lt;/a&gt;'
				}
			var autoPlay='true';
			var user='#{applicationData.skinId==1?'etrader':'anyoption'}';
			var reg_url='//mte-media.com/regitser.html';
			var jumpToLesson = '2'
		</script>
	</ui:define>
	
	<!-- content -->
	<ui:define name="content">
		<div class="page_bgr">
			<div class="pageMain">
				<!--Titles-->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
					<ui:param name="h1" value="#{msgs['CMS.trading-psychology.text.rightnav.trading_psychology']}" />
				</ui:include>
				
				<!--content in-->
				<ui:include src="/jsp/trading-psychology_content.xhtml"></ui:include>
			</div>
			<div class="pageBanners">
				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
					<div style="padding-bottom:52px;">
						<div class="headers_field_int">
							<h1 class="funnel_int_h1 funnel_int_h1_#{applicationData.userLocale.language}"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h1>
							<span class="funnel_subtitle_int"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
						</div>
						<div class="shortReg_int" id="shortReg_int">
							<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" />
						</div>
						<script>initRegForm('shortReg_int',#{applicationData.skinId});</script>
					</div>
				</h:panelGroup>
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
					<iframe id="right_side_investments" name="right_side_investments" width="195" height="262" frameborder="no" scrolling="no" class="clear"
						src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=_small" >
					</iframe>
				</h:panelGroup>
			</div>
			<span class="float_fix"></span>
		</div>
	</ui:define>
</ui:composition>
</f:view>