<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
<div class="main_page_text pt0 pl0 pr0">
	<ui:include src="/jsp/html_elements/none_main_menu_academy.xhtml">
		<ui:param name="linkActive_1" value="active"/>
		<ui:param name="header2" value="#{msgs['CMS.trading-academy-introduction_content.about.h2']}" />
		<ui:param name="text_tr_guides" value="true" />
	</ui:include>
	<ui:include src="/jsp/html_elements/tr_guides_videos.xhtml">
		<ui:param name="title_tr_guides" value="#{msgs['CMS.trading-academy-introduction.text.rightnav.trading_guides']}" />
		<ui:param name="main_img_tr_guides" value="tg_introduction" />
		<ui:param name="video1" value="right_nav_active" />
	</ui:include>
	<span class="dB clear acad_header" id="trading_guide_title"><h:outputText value="#{msgs['CMS.trading-academy-introduction_content.text.description.header']}" escape='false'/></span>
	<div id="trading_guide_text">
		<span class="dB acad_txt"><h:outputText value="#{msgs['CMS.trading-academy-introduction_content.text.description.line1']}" escape='false'/></span>
		<span class="dB acad_txt"><h:outputText value="#{msgs['CMS.trading-academy-introduction_content.text.description.line2']}" escape='false'/></span>
		<span class="dB acad_txt"><h:outputText value="#{msgs['CMS.trading-academy-introduction_content.text.description.line3']}" escape='false'/></span>
	</div>
</div>
</f:view>