@charset "utf-8";
/* anyOption general CSS Document */

body	{
	background-color:#e1e1e1;
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial, Helvetica, sans-serif;
}

img	{border:none;}
#page	{
	background-color:#fff;
	width:970px;
	margin:0 auto;
	height:auto !important;
	min-height:100%;
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:1px solid #a8a8a8;
	display: table;
	position: relative;
	}

#header	{
	height:103px;
	background:url(../images/header.gif) repeat-x;
	
}
#header .logo	{background:url(../images/options_trading_anyoption.gif); width:284px; height:103px;margin-left: 17px;}
#header .info	{background:url(../images/header_info.jpg) no-repeat; float:right; width:389px; height:103px; position:relative; font-size:13px; color:#fff;text-align: center;}

#header .info .live_chat  	{ float:left; line-height: 25px; margin-left: 34px; margin-top: 40px; height:27px;/* background:url(../images/chat_icon.png) no-repeat left; position:absolute; top:44px; left:75px;*/}
#header .info .live_chat a, #header .info .live_chat a:hover {color:#fff; text-decoration:none;}
#header .info .number	{margin-top: 30px;margin-right: 30px; /*position:absolute; top:30px; left:175px;*/}

#footer	{ margin-bottom:40px; margin-top: 40px; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 9px; line-height: 13px; text-align: center;}
#footer .icons	{height:30px; margin:0 auto; padding-left: 20px; width: 320px;}
#footer .icons .icon_space { margin-right:20px; float:left;}
#footer .links	{	margin-top:20px;
	margin-bottom:15px;}
#footer .footer_link {
    color: #0284D6;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_link:hover {
    color: #093755;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 9px;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
}
#footer .footer_text	{color: #7d7d7d;margin-top: 10px;}

.hide	{display:none;}

@charset "utf-8";
/* form1 CSS Document */
p {
	margin: 0 0 4px;
	;
	padding:0;
}
#zh h2 {
	font-size: 18px;
	margin: 20px 0 25px 13px;
}
#header .logo_zh {
	background:url(../images/options_trading_anyoption_zh.gif);
	width:354px;
	height:103px;
	margin-left: 17px;
}
#banner3 {
	background:url(../images/banner_baidu.jpg) no-repeat center top;
	width:970px;
	height:760px;
	margin:0 auto;
	position:relative;
}
.l_text_box_zh {
	font-size:14px;
	color:#fff;
	position:absolute;
	top:150px;
	left:64px;
	line-height: 24px;
	width: 450px;
}
.l_text_box_zh a {
	font-size:14px;
	color:#ffffff;
	text-decoration: none;
}
.l_text_box_zh a:hover {
	color:#F6CD10;
	text-decoration: underline;
}
.l_text_box .title {
	margin-bottom:10px;
}
.text_hl {
	background-color: #032B44;
	padding: 3px;
}
.text_bullets_zh {
	padding: 0 0 0 18px;
	font-weight:normal;
	list-style-image:url(../images/bullet.png);
	line-height: 24px;
	font-size: 14px;
	margin: 14px 0;
}
#details_form {
	margin:0;
	padding:0;
}
.r_text_box {
	position:absolute;
	top:82px;
	left:535px;
	font-size:12px;
	color:#fff;
	width: 350px;
}
.title_image {
	margin: 0 0 13px 0px;
}
.input_title {
	float: left;
	margin-right: 10px;
	text-align: right;
	width: 136px;
}
.input1 {
	background:url(../images/input_box_full1.png) no-repeat 0 0;
	width:181px;
	height:19px;
	overflow:hidden;
	margin-bottom:5px;
}
.input1 input {
	border: medium none;
	height: 13px;
	margin:2px 3px;
	width: 175px;
	font-size: 10px;
}
.input1 .select_container {
	border: 0 none;
	height: 15px;
	left: 2px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 177px;
}
.input1 select {
	font-size: 10px;
	height: 18px;
	left: -2px;
	position: relative;
	top: -2px;
	width: 180px;
}
.star {
	color:#f6cd10;
	font-weight:normal;
}
.input2 {
	float:left;
	background:url(../images/input_box_full2.png) no-repeat;
	width:51px;
	height:19px;
	overflow:hidden;
	margin-bottom:5px;
	margin-right:5px;
}
.input2 input {
	border: medium none;
	height: 13px;
	margin:2px 3px;
	width: 45px;
	text-align: center;
	font-size: 10px;
}
.input3 {
	background:url(../images/input_box_full3.png) no-repeat;
	width:126px;
	height:19px;
	overflow:hidden;
	margin-bottom:5px;
}
.input3 input {
	border: medium none;
	height: 13px;
	margin:2px 3px;
	width: 120px;
	font-size: 10px;
}
.input4 {
	float:left;
	background:url(../images/input_box_full4.png) no-repeat;
	width:56px;
	height:19px;
	overflow:hidden;
	margin-bottom:5px;
	margin-right:6.5px;
}
.input4 .select_container {
	border: 0 none;
	height: 15px;
	left: 2px;
	overflow: hidden;
	position: relative;
	top: 2px;
	width: 52px;
}
.input4 select {
	font-size: 10px;
	height: 18px;
	left: -2px;
	position: relative;
	top: -2px;
	width: 56px;
}
.radio_button {
	margin:0;
}
.submit_image {
	margin-left:-7px;
	margin-top: 6px;
}
.error {
	background-position:0 -19px;
}
.bottom_line {
	font-size:17px;
	font-weight:bold;
	color:#f6cd10;
}
.bottom_line a {
	color:#ffffff;
	text-decoration: underline;
	font-size: 10px;
}
.bottom_line a:hover {
	color:#f6cd10;
	text-decoration: underline;
}
#bottom_content {
	width:100%;
	margin-top: 14px;
	font-size:11px;
	color:#a8a8a8;
}
.table_l {
	height:260px;
	width:636px;
	background:url(../images/table_bk.jpg) repeat-x;
	border:1px solid #9ac6e1;
	margin-left: 32px;
}
.table_header {
	color:#f6cd10;
	font-size:14px;
	font-weight:bold;
	margin: 3px 10px 0;
}
.table_2 {
	height:260px;
	width:245px;
	background:url(../images/table_bk.jpg) repeat-x;
	border:1px solid #9ac6e1;
	margin-right: 33px;
	float:right;
}
.table_2_text {
	margin-top:15px;
	margin-left:10px;
}
.map_image {
	margin-top:30px;
}
.table_l h3 {
	margin:2px 0;
	font-size:11px;
	font-weight:bold;
	color:#0471b5;
}
.table_1_text {
	margin-top:5px;
	margin-left:10px;
}
.table_column {
	float:left;
	margin-right:5px;
	width:90px;
	height:220px;
}
.table_column.currencies {
	width:75px;
}
.column_brack {
	width:20px;
	background:url(../images/column_brack.png) no-repeat;
	height:208px;
	float:left;
	margin-top:5px;
}
.table_link {
	margin-left:11px;
}
.table_link, .table_link a, .table_link a:hover {
	color:#0471b5;
	font-size:12px;
	font-weight:bold;
}
.agree_box {
	margin-left: 10px;
	margin-top: 5px;
}
.agree {
	float: left;
	margin-right: 10px;
}
.agree_text {
	font-size:11px;
	margin: 0 0 5px;
	padding-top: 2px;
}
.agree_text a {
	color:#fff;
	text-decoration:underline;
}
.submin_swf {
	margin-left: 137px;
	margin-top: 25px;
}
.info_button {
	width:15px;
	height:15px;
	background:url(../images/info_button.png) no-repeat;
	float: right;
	margin-top: 2px;
}
.info_box {
	background: transparent url(../images/info_box.png) no-repeat;
	display: none;
	height: 61px;
	left: 124px;
	margin-top: -2px;
	position: absolute;
	width: 230px;
	overflow: hidden;
	z-index: 500;
}
.info_box.show {
	display:block;
}
.info_text {
	margin:10px 20px;
	color:#e6c61b;
}
#error_box {
	display:none;
	position:absolute;
	z-index:100;
	top:500px;
	background:url(../images/form_full_alret_bk.jpg) no-repeat;
	width:250px;
	height:150px;
	overflow:hidden;
	color:#fff;
	text-align:center;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top:50px;
	height:50px;
	padding:0 10px;
}
.error_button {
	background:url(../images/form_full_alret_button.png) no-repeat;
	width:80px;
	height:48px;
	margin: 0 auto;
	cursor:pointer;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	width:100%;
	z-index:99;
}
.yellow {
	color:#f6cd10;
}
.footer_text_zh {
	color: #7D7D7D;
	margin-top: 10px;
	font-size: 12px;
	line-height: 20px;
}
#page_about {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
	background: url(../images/bg.jpg) top center repeat-x;
	color: #093755;
	direction: ltr;
}
#page_about #container {
	width: 960px;
	margin: 0 auto;
}
#page_about #header_about {
	width: 960px;
	float: left;
}
#page_about #content {
	width: 960px;
	float: left;
	background-color: white;
	border: solid 1px #cccccc;
	padding-bottom: 20px;
}
#page_about p {
	padding: 10px 20px;
}
#page_about #content a {
	color: #093755;
	text-decoration: underline;
	padding: 20px 0 20px 20px;
}
#page_about #content a:hover {
	color: #0284D6;
	text-decoration: underline;
}

#page_about #content .title {
	width: 940px;
	float: left;
	background-color: white;
	color: #ffffff;
	margin-bottom: 30px;
	height: 24px;
	padding: 7px 0 0 20px;
	font-weight: bold;
	background: url(../images/bg_title.png) top center repeat-x;
}
.contact_info {
	font-size:12px;
	color:#093755;
	line-height: 20px;
	padding: 0 0 40px 20px;
}
.contact_info h3 {
	font-size:14px;
	color:#093755;
	line-height: 14px;
	padding: 20px 0 0 0;
}
.contact_info a {
	padding-left: 0px !important;
}
