<div class="table">
	<div class="cell" ng-if="!pagination.hideSummary">
		{{getMsgs('pagination-result-count', {start: (pagination.currentPage - 1)*pagination.resultsPerPage + 1, end: (pagination.totalCount > pagination.currentPage*pagination.resultsPerPage ? pagination.currentPage*pagination.resultsPerPage : pagination.totalCount), total: pagination.totalCount})}}
	</div>
	<div class="cell" ng-transclude></div>
	<div class="cell w1p">
		<div class="pages" ng-if="pagination.pages.length > 1">
			<a href="" class="paginate_button" ng-class="{disabled: pagination.currentPage == 1}" ng-if="!pagination.hideGroupNavigation" ng-click="pagination.callback(pagination.previousPageGroup(pagination.currentPage))">
				{{getMsgs('previous-group')}}
			</a>
			<a href="" class="paginate_button" ng-class="{disabled: pagination.currentPage == 1}" ng-if="true" ng-click="pagination.callback(pagination.previousPage(pagination.currentPage))">
				{{getMsgs('previous')}}
			</a>
			<a href="" class="paginate_button" ng-class="{current: page == pagination.currentPage}" ng-repeat="page in pagination.pages" ng-click="pagination.callback(page)">{{page}}</a>
			<a href="" class="paginate_button" ng-class="{disabled: pagination.currentPage == pagination.maxPage}" ng-if="true" ng-click="pagination.callback(pagination.nextPage(pagination.currentPage, pagination.maxPage))">
				{{getMsgs('next')}}
			</a>
			<a href="" class="paginate_button" ng-class="{disabled: pagination.currentPage == pagination.maxPage}" ng-if="!pagination.hideGroupNavigation" ng-click="pagination.callback(pagination.nextPageGroup(pagination.currentPage, pagination.maxPage))">
				{{getMsgs('next-group')}}
			</a>
		</div>
	</div>
</div>
