<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<div id="page">
    	<div id="header">
        <div class="info">
        	<div class="live_chat hide"><a href="#">Live Chat!</a></div>
            <div class="number">
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
					<param name="allowScriptAccess" value="sameDomain" />
					<param name="allowFullScreen" value="false" />
					<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="transparent" />
					<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
				</object>
    		</div>
        </div>
        	<div class="logo"></div>
        </div>
        <div id="banner2">
         	<object id="myId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="370" height="358" style="position: absolute;top: 36px; left:32px;">
				<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/NOform_woman.swf" />
                <param name="wmode" value="transparent" />
        		<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/landing_Contactus/NOform_woman.swf" width="370" height="358" wmode="transparent">
				<!--<![endif]-->
				<div>
					<h1>Alternative content</h1>

					<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
				</div>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
            <div class="l_text_box_nf">
           		<p>Enjoy fast profits, 70% in less than an<br /> hour!</p>
                <p>"Binary options trading" may sound<br /> complex but it's an easy and <strong>fast<br /> way to profit</strong> online</p>
                <p><span class="text_hl">anyoption™</span>, global leading broker<br /> offers you over 80 worldwide	assets<br /> (commodities, indices, stocks and<br /> currency pairs). </p>
                <p>Simply <strong>choose</strong> an asset, <strong>predict</strong><br /> whether the <strong>price</strong> will <strong>go up or down</strong>,<br /> and earn as much as <strong>70% profit</strong>.</p>
            </div>
            <div class="r_text_box_nf">
                <ul class="text_bullets">
                    <li>No learning curve, suitable for anyone</li>
                    <li>Affordable start - trade with as low as<br /> $100</li>
                    <li>Web, iPhone and android platforms</li>
                </ul>
                <div class="bottom_line">So why wait, open an online<br />account now!</div>
                <div class="button_flash">
                	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="270" height="70" id="NOform_button" align="middle">
                    <param name="allowScriptAccess" value="always" />
                    <param name="allowFullScreen" value="false" />
                    <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/NOform_button.swf" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
                    <embed src="#{applicationData.imagesPath}/landing_Contactus/NOform_button.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="270" height="70" name="NOform_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                    </object>
    			</div>
            </div>
        </div>
        <div id="bottom_content">
        	<div class="table_2">
            	<h2 class="table_header">Our global presence</h2>
                <div class="table_2_text">
                    Trading is always available.<br /> Any market, any time zone, any time
					<img class="map_image" src="images/map.png" width="221" height="121" alt="map" />
                </div>
            </div>
        	<div class="table_l">
            	<h2 class="table_header">Choose the market you want to trade on</h2>
                <div class="table_1_text">
                    <div class="table_column">
                        <h3>Stocks</h3>
                        Allianz<br />
                        ANZ bank<br />
                        America Movil<br />
                        Apple<br />
                        BHP Billiton Limited<br />
                        Barclays<br />
                        British Petroleum 	 	<br />
                        Check Point<br />
                        Deutsche Bank	<br />
                        Exxon Mobil<br />
                        Gazprom<br />
                        Generali<br />
                        Intel<br />
                        JPMorgan Chase<br />
                    </div>
                    <div class="table_column">
                        <h3>&#160;</h3>
                        McDonalds <br />
                        Microsoft<br />
                        Mitsubishi corp. <br />
                        Morgan Stanley<br />
                        Noble Energy<br />
                        RBS<br />
                        Santander NY	<br />
                        Straits Times<br />
                        TATA MOTOR<br />
                        Telefonica <br />
                        Toyota Motor Corp<br />
                        Turkcell <br />
                        Vodafone<br />
                        Wal-Mart<br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column">
                        <h3>Indices</h3>
                        Bombay 30<br />
                        CAC<br />
                        Dow Jones<br />
                        DAX<br />
                        DAX Future<br />
                        Dubai<br />
                        FTSE 100<br />
                        FTSE MIB<br />
                        Hang Seng<br />
                        IBEX35 (Spain)<br />
                        IPC (MEXICO)<br />
                        KLSE Future<br />
                        KOSPI<br />
                    </div>
                    <div class="table_column">
                        <h3>&#160;</h3>
                        MDAX<br />
                        Nasdaq<br />
                        Nasdaq 100 Fut<br />
                        NIKKEI 225<br />
                        PSI 20<br />
                        S&amp;P/ASX200<br />
                        S&amp;P 500<br />
                        S&amp;P Future<br />
                        SSE 180 (China)<br />
                        TECDAX<br />
                        Tadawul<br />
                        TOPIX500<br />
                        Vix<br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column currencies">
                        <h3>Currencies</h3>
                        AUD/USD<br />
                        EUR/GBP<br />
                        EUR/JPY<br />
                        EUR/USD<br />
                        GBP/JPY<br />
                        GBP/USD<br />
                        NZD/USD<br />
                        USD/CHF<br />
                        USD/JPY <br />
                    </div>
                    <div class="column_brack"></div>
                    <div class="table_column">
                        <h3>Commodities</h3>
                        Copper<br />
                        Gold<br />
                        Oil<br />
                        Silver <br />
                    </div>
                </div>

            </div>

        </div>
        <div id="footer">
        	<div class="icons">
            	<div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
                <input name="idstatus" type="hidden" />
                <input type="hidden" name="registrationdatefrom" />
                <input type="hidden" value="ResultsDetailed" name="transition" />
                <input type="hidden" name="selectOrderby2" />
                <input type="hidden" name="niceclassificationnumber" />
                <input type="hidden" name="indusage" />
                <input type="hidden" name="publicationdateto" />
                <input type="hidden" name="objIdappli" />
                <input type="hidden" name="objRefine" />
                <input type="hidden" name="objRefineAux" />
                <input type="hidden" name="filingdateto" />
                <input type="hidden" name="listTypeDate" />
                <input type="hidden" name="search_for_transition" />
                <input type="hidden" name="AppliRef" />
                <input type="hidden" name="application" />
                <input type="hidden" value="0" name="bAdvanced" />
                <input type="hidden" name="owner" />
                <input type="hidden" name="expirydatefrom" />
                <input type="hidden" name="entity" />
                <input type="hidden" name="objSQLBasic2" />
                <input type="hidden" value="en" name="language" />
                <input type="hidden" name="objSQLRepre" />
                <input type="hidden" name="importTradeMarkId" />
                <input type="hidden" name="ownerselect" />
                <input type="hidden" name="idappliSelected" />
                <input type="hidden" name="idstatus" />
                <input type="hidden" name="objSearchBasic" />
                <input type="hidden" name="objSQLBasic" />
                <input type="hidden" value="search_basic.jsp" name="source" />
                <input type="hidden" name="objSQLOwner" />
                <input type="hidden" name="objSQLRepre2" />
                <input type="hidden" name="selectOrderby" />
                <input type="hidden" name="representative" />
                <input type="hidden" value="1" name="printPage" />
                <input type="hidden" name="userid" />
                <input type="hidden" name="readonly" />
                <input type="hidden" name="filingdatefrom" />
                <input type="hidden" name="importctmidscriptmodule" />
                <input type="hidden" name="representativeselect" />
                <input type="hidden" name="expirydateto" />
                <input type="hidden" value="0" name="backList" />
                <input type="hidden" name="totalFound" />
                <input type="hidden" value="0" name="bRefine" />
                <input type="hidden" name="importctmidscriptmethod" />
                <input type="hidden" name="publicationdatefrom" />
                <input type="hidden" name="deno" />
                <input type="hidden" name="bRefineModify" />
                <input type="hidden" name="userCurrentAccount" />
                <input type="hidden" value="200" name="blimited" />
                <input type="hidden" name="registrationdateto" />
                <input type="hidden" name="objSQLOwner2" />
                <input type="hidden" value="8298697" name="idappli" />
                <input type="hidden" value="3" name="markorigin" />
                <input type="hidden" value="1" name="denoselect" />
                <input type="hidden" name="denoaux" />
                <input type="hidden" name="ntmark" />
                <input type="hidden" value="1" name="listType" />
                <input type="image"  align="left" title="Anyoption's trademark information" size="29,27" value="submit" src="http://images.anyoption.com/en_2/ao_tm.jpg" />
                </form>
                </div><div class="icon_space">
                <a target="_blank" href="http://www.reuters.com/"><img width="73" height="27" border="0" title="Expiry levels provided by Reuters" src="http://images.anyoption.com/reuters.jpg" alt="" /></a>
                </div><div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Information security and coding" src="http://images.anyoption.com/en_2/thawte.gif" /></a>
                </div><div class="icon_space">
                <img width="40" height="27" border="0" title="Use of our website is limited to customers who are 18 years of age and older" src="http://images.anyoption.com/en_2/18.jpg" alt="" />
                </div>


            </div>


            <div class="footer_text">
            	Important risk note:
                option trading involves significant risk. We strongly advise that you read carefully all our terms and conditions
                <br/>
                before making any investments ■
                The levels we present on our site are the ones
                anyoption™ is willing to sell options at and
                <b>are not the real time market levels.</b> ■
                <br/>
                For more details about the way expiry levels are determined
                <a href="/jsp/general_terms.jsf#calc" class="footer_link">click here</a>&#160; ■
                Customers must be aware of their individual capital gain tax liability in their country of residence
            </div>
        </div>
    </div>
</f:view>