<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk" >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>دليل التداول ثنائي الخيارات</title>
<style type="text/css">
body{background-color:#e1e1e1;}
.table_border {
	border-width:1px 1px 1px 1px;
	border-color:#a8a8a8;
	border-collapse:collapse;
	border-spacing:0px 0px 0px 0px;
	border-style:solid;
}
.head {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#093755;
	font-size:30px;
	text-align:right;
}
.sub_head {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#093755;
	font-size:20px;
	line-height:22px;
	text-align:right;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#093755;
	text-align:right;
}

a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
	color:#093755;
	text-decoration:none;
}
a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	line-height:18px;
    color:#0284d6;
    text-decoration:none;
}
</style>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>
<body dir="rtl">

<table width="970" border="0" align="center" cellpadding="0" cellspacing="0" class="table_border">
  <tr>
    <td background="#{applicationData.imagesPath}/en_2/header.gif" height="103" style="padding-left:80px;"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/opt_trade_ar.gif" border="0"/></a></td>
  </tr>

  <tr>
    <td background="#{applicationData.imagesPath}/en_2/ticker1px.gif" height="28">&#160;</td>
  </tr>

  <tr>
    <td bgcolor="#FFFFFF">&#160;</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" align="center">
    	<table width="794" cellpadding="0" cellspacing="0">
        	<tr valign="top" >

                <td align="right"><span class="head">هل تريد الحصول على ربح بواقع<br />
 70% في أقل من ساعة واحدة؟</span><br />
<br />
 <span class="sub_head">يوما بعد يوم يزداد عدد المستثمرين الذين يستغلون التقلّبات المثيرة التي تشهدها الأسواق لجني الأرباح السريعة، وذلك بفضل منصة التداول الجديدة القائمة على الخيارات الثنائية.</span><br />
<br />
<span class="text">
#{applicationData.date}
<br />
<br />
تخيَّلْ أن تتاح لك فرصة تحقق فيها الأرباح سواء ارتفعت الأسعار أم هبطت، حيث لا يتسبّب الفرق في تغيُّر سعر الأصل بتغيير الربح الذي جنيته، وحيث يمكنك كسب ربح بواقع 70% حتى ولو كان استثمارك صغيرا.
<br />
<br />

ليست تلك سوى بعض المزايا التي يوفرها منتج الاستثمار الفريد من نوعه - التداول ثنائي الخيار. يمكِّن الخيار الثنائي المستثمر من التقييم) بحدوث ارتفاع أو انخفاض في السعر المستقبلي لأصل ما، فإذا أصاب في تقييمه يربح بغض النظر عن الفرق في تغيُّر السعر. يمكن أن تكون خيارات الشراء خيارات فوركس (أزواج عملات)، أو خيارات مؤشرات، أو خيارات  أسهم، أو خيارات سلع – تلك الخيارات المفتوحة والمتاحة أمام كل الأسواق العالمية.
<br />
<br />

دعونا نستعرض نموذجا عن تداول ثنائي الخيار: يقيم شخص ما أن يرتفع سعر النفط حتى نهاية الساعة القادمة، فيستثمر مبلغ 100$ على السعر الذي يقف في الوقت الحالي عند مستوى 71.563. مع حلول نهاية الساعة، وصل سعر النفط مستوى 71.569، فيحصل المستثمر على 70% فوق استثماره، أي على 170$.
<br />
<br />
يجري التداول ثنائي الخيار على منصات كمنصة <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" style="color:#0284d6;">www.anyoption.com</a> مثلا المصمَّمة كليًا على الشبكة الإلكترونية، ما يعني أنه لا حاجة البتَّة إلى تحميل أي بُنية برمجية لاستعمالها. تعادل الدفعات التي تمنحها المنصة ما يتراوح بين 65-71% على الخيارات التي تنتهي داخل نطاق الهدف، وهي تعادل 15% على الخيارات التي تنتهي خارج نطاق الهدف، ما يشكّل ميزة إضافية لهذه المنصة. يجدر التنويه إلى ما يتمتع به الموقع من سهولة الاستعمال والتنقّل، فضلا عما يوفره للمستثمر من معلومات عن أداء الأصل في الماضي والحاضر، والمساعدة التي يقدمها له لدراسة السوق. تعمل المنصة باللغات الإنجليزية والإسبانية والتركية والعربية والإيطالية والألمانية، ما يحوّلها إلى منصة عالمية، عِلمًا أنه يمكن إيداع المبالغ بالعملة الأمريكية (الدولار) أو البريطانية (الباوند) أو الأوروبية (اليورو).
<br />
<br />
يناسب التداول ثنائي الخيار المتداولين بكافة مستوياتهم ومهما كانت خلفيتهم أو معارفهم في هذا الميدان. كما وتوفر الخيارات الثنائية طريقة تداول فريدة من نوعها في الأسواق المالية لا تتوفر في أي منتَج آخر. إنها سهلة ويسيرة وربحية.
<br />
<br />

<strong>تعرض <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">anyoption</a> على زبائنها ثلاث أدوات مبتكرة واستثنائية تعزّز خبرة التداول لدى المستثمرين.</strong>
<br />
<br />

<strong>1 Profit Line</strong> – نظام تداول متقدّم يمكّن المستثمرين من متابعة حالة خياراتهم المفتوحة عبر رسم بياني خاص والحصول على بيانات مستحدَثة عن أرباحهم الحالية. كما ويتيح هذا النظام شراء المزيد من الخيارات من الرسم مباشرة، ويتم كل ذلك بجودة عالية وعبر واجهة بيانية ودية للمستثمر.<br />
<br />

<strong>2 Take Profit</strong>– أداة مثالية للمعنيين في لمّ أرباحهم قبل انتهاء وقت صلاحية خيارهم. بوسع المستثمر الذي تقدم بخيار اللّم الفوري للأرباح أن يحصل على الأرباح المتوقعة من الخيار الذي اشتراه، بعد دفعه الرسوم، قبل حلول الوقت الأصلي لانتهاء صلاحية الخيار، بغض النظر عن قيمة الخيار في وقت انتهاء الصلاحية الأولي. <br />
<br />

<strong>3 Roll Forward </strong>– إمكانية تأجيل وقت انتهاء صلاحية خيار الشراء إلى أقرب وقت انتهاء متاح بعد الوقت الأولي المحدَّد للتسوية. بوسع المستثمر الذي اقتُرِح عليه هذا الخيار أن يؤجّل وقت انتهاء صلاحية الخيار الذي اشتراه حتى موعد الوقت التالي المحدّد للتسوية بعد انتهاء صلاحية الوقت الأولي، وذلك بدفع الرسوم اللازمة.
<br />
<br />

تعال لترى نفسك في   <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" style="color:#0284d6"><strong>www.anyoption.com</strong></a>

<br />
</span>






</td>
            <td >&#160;&#160;</td>
            <td><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"><img src="http://picbase.anyoption.com/landing/edit/160x600-Lang-ar-Prod-Anyoption-dani.gif" class="table_border" width="160" height="600" alt="anyone can trade" /></a></td>
            </tr>
            <tr>
            	<td colspan="3">&#160;</td>
            </tr>
            <tr>
            	<td colspan="3"><a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_top"><img src="http://picbase.anyoption.com/landing/edit/start_trading_ar.gif" width="260" height="59" border="0"/></a></td>
            </tr>
            <tr>
            	<td colspan="3">&#160;</td>
            </tr>
            <tr>
            	<td colspan="3"><a style="text-decoration: none;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" target="_top"><img src="http://picbase.anyoption.com/landing/edit/728x90-Lang-ar-Prod-Anyoption-text.gif" border="0" /></a></td>
            </tr>
        </table>

    </td>
  </tr>
  <tr>
    <td  bgcolor="#FFFFFF">&#160;</td>
  </tr>
</table>
</body>
</f:view>