<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>

	<div id="page_#{applicationData.userLocale.language}">
    	<div id="header_#{applicationData.userLocale.language}">
        	<div class="info_#{applicationData.userLocale.language}">
	            <div class="number_#{applicationData.userLocale.language}">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
						<param name="allowScriptAccess" value="sameDomain" />
						<param name="allowFullScreen" value="false" />
						<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="wmode" value="transparent" />
						<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
					</object>
	    		</div>
	        </div>
        	<div class="logo_#{applicationData.userLocale.language}"></div>
        </div>
        <div id="banner_#{applicationData.userLocale.language}">
	    	<div class="l_text_box_#{applicationData.userLocale.language}">
				<div id="arab1">
	                <div class="right-eng">anyoption</div>
						هي المنصة المثالية لتداول الخيارات الثنائية في الأسواق المتقلبة لأنها تتيح اجراء حركات مالية سريعة و آمنة بعائدات مالية نسبتها  %71 و معلومة مسبقا
	              	</div>
	            <p><br />
	            </p>
				<table width="500" border="0" cellspacing="0" cellpadding="0">
  					<tr>
  						<td width="153" valign="top" style=" color:#037BC6; font-size:16px; font-weight:bold ">anyoption عروض:</td>
						<td width="347">
							<img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials_pro/check.jpg" width="24" height="15" /> سيولة مالية غير محدودة على مدار 24 ساعة <br />
							<img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials_pro/check.jpg" width="24" height="15" /><div id="ahuz_#{applicationData.userLocale.language}_google"> 100%</div> &#160;&#160;&#160;&#160;&#160;&#160;&#160; تنفيذ الأمر <br />
							<img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials_pro/check.jpg" width="24" height="15" /> بدون عمولات <br />
							<img src="#{applicationData.imagesPath}/landing_Contactus/LPTestimonials_pro/check.jpg" width="24" height="15" /> منصة بديهية <br />
  						</td>
                	</tr>
				</table>
				<div class="t_box_stockbroker_#{applicationData.userLocale.language}_google">
					<div class="t_text_#{applicationData.userLocale.language}" style="left: 262px;top: 74px;" dir="rtl">لقد تعاملت مع العديد من الأدوات المتطورة في الماضي، لكن عندما تعلق الأمر بأموالي الخاصة، فان  anyoption هي افضل منصة تداولية تعاملت معها على الاطلاق. بعائد تصل نسبته حتى 71%، بدون عمولات، سيولة مالية غير محدودة على مدار 24 ساعة و تنفيذ 100% للمتطلبات، إنها الطريقة الأكثر أمانا و الأسهل لتحقيق أرباح سريعة من الأسواق كثيرة التقلبات.</div>
                    <div class="t_name_#{applicationData.userLocale.language}" style="left: 460px;top: 170px;">36 بورصة، سمسار أحمد،</div>
                </div>
                <div class="t_box_banker_#{applicationData.userLocale.language}_google">
	                <div class="t_text2_#{applicationData.userLocale.language}" style="text-align: right;width: 350px;left: 263px;">بصفتي أعمل في المجال المصرفي، فاني أرى الناس يستثمرون مبالغ تصل    قيمتها الى 100,000$ ليكسبوا منها فقط 2000$ كعائد    شهري. مع anyoption، انا بحاجة  فقط  لاستثمار3000$    لتحقيق العائد نفسه 2000$ - ليس في شهر ولكن في أقل من ساعة! الخيارات الثنائية    توفر أقل قدر من المخاطر مقابل الأرباح العاليه </div>
                    <div class="t_name2_#{applicationData.userLocale.language}" style="left: 450px;"><span class="t_name"> 42 ، مصرفي موظف ، ربيع</span></div>
                </div>
				<div class="t_box_investor_#{applicationData.userLocale.language}">
					<div class="t_text3_#{applicationData.userLocale.language}" style="left: 226px;width: 399px;">لقد تعبت من تلقي المكالمات الهاتفية من مدرائي الماليين كل ساعة. السندات ارتفعت، الأسهم انخفضت أسعار الفائدة اكتسحت المكان و السلع كانت غير مؤكدة. كنت محظوظا في كسب عائد سنوي بنسبة 4% على كامل المبلغ الخاص بي البالغ 50,000$. ثم اكتشفت تداول الخيارات الثنائية. الآن أنا بحاجة للمجازفة ب 3000$ فقط من أجل تحقيق أرباح بقيمة 2000$. ليس في عام، ولكن في أقل من ساعة!</div>
                    <div class="t_name3_#{applicationData.userLocale.language}" style="left: 460px;">رمزي ، مستثمر ، 41</div>
                </div>
			</div>
            <div class="r_text_box_#{applicationData.userLocale.language}">
               <h:form id="contactForm" >
               		<div class="r_text_box_content" >
		            	<h2 dir="rtl" style="width:200px">إملأ التفاصيل الخاصة بك:</h2>
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel value="#{msgs['register.firstname']}:"/>
							</div>
							<div class="input1">
							    <h:inputText dir="rtl" id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
							          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
	                    	<div dir="rtl" style="width:200px">
		                		<span class="star">* </span>
		                		<h:outputLabel value="#{msgs['register.lastname']}:" />
		                	</div>
							<div class="input1">
							    <h:inputText dir="rtl" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
									validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel  value="#{msgs['register.email']}:" />
							</div>
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<div dir="rtl" style="width:200px">
								<span class="star">* </span>
								<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							</div>
							<div class="input2_1"><div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                    <div dir="rtl" style="width:205px">
								<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree_ar" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
								<h:outputText styleClass="agree_text" value="أوافق على تلقي التحديثات والعروض من"/><br/>
								<h:outputText styleClass="agree_text" value="anyoption ™"/>
							</div>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<div class="submin_swf">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_AR.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_AR.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
        </div>
        <div id="footer" style="margin-top: 0px;">
       	  <div class="icons" style="height: 0px;">
            	<div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
                <input name="idstatus" type="hidden" />
                <input type="hidden" name="registrationdatefrom" />
                <input type="hidden" value="ResultsDetailed" name="transition" />
                <input type="hidden" name="selectOrderby2" />
                <input type="hidden" name="niceclassificationnumber" />
                <input type="hidden" name="indusage" />
                <input type="hidden" name="publicationdateto" />
                <input type="hidden" name="objIdappli" />
                <input type="hidden" name="objRefine" />
                <input type="hidden" name="objRefineAux" />
                <input type="hidden" name="filingdateto" />
                <input type="hidden" name="listTypeDate" />
                <input type="hidden" name="search_for_transition" />
                <input type="hidden" name="AppliRef" />
                <input type="hidden" name="application" />
                <input type="hidden" value="0" name="bAdvanced" />
                <input type="hidden" name="owner" />
                <input type="hidden" name="expirydatefrom" />
                <input type="hidden" name="entity" />
                <input type="hidden" name="objSQLBasic2" />
                <input type="hidden" value="en" name="language" />
                <input type="hidden" name="objSQLRepre" />
                <input type="hidden" name="importTradeMarkId" />
                <input type="hidden" name="ownerselect" />
                <input type="hidden" name="idappliSelected" />
                <input type="hidden" name="idstatus" />
                <input type="hidden" name="objSearchBasic" />
                <input type="hidden" name="objSQLBasic" />
                <input type="hidden" value="search_basic.jsp" name="source" />
                <input type="hidden" name="objSQLOwner" />
                <input type="hidden" name="objSQLRepre2" />
                <input type="hidden" name="selectOrderby" />
                <input type="hidden" name="representative" />
                <input type="hidden" value="1" name="printPage" />
                <input type="hidden" name="userid" />
                <input type="hidden" name="readonly" />
                <input type="hidden" name="filingdatefrom" />
                <input type="hidden" name="importctmidscriptmodule" />
                <input type="hidden" name="representativeselect" />
                <input type="hidden" name="expirydateto" />
                <input type="hidden" value="0" name="backList" />
                <input type="hidden" name="totalFound" />
                <input type="hidden" value="0" name="bRefine" />
                <input type="hidden" name="importctmidscriptmethod" />
                <input type="hidden" name="publicationdatefrom" />
                <input type="hidden" name="deno" />
                <input type="hidden" name="bRefineModify" />
                <input type="hidden" name="userCurrentAccount" />
                <input type="hidden" value="200" name="blimited" />
                <input type="hidden" name="registrationdateto" />
                <input type="hidden" name="objSQLOwner2" />
                <input type="hidden" value="8298697" name="idappli" />
                <input type="hidden" value="3" name="markorigin" />
                <input type="hidden" value="1" name="denoselect" />
                <input type="hidden" name="denoaux" />
                <input type="hidden" name="ntmark" />
                <input type="hidden" value="1" name="listType" />
                <input type="image"  align="left" title="anyoption's trademark information" size="29,27" value="submit" src="#{applicationData.imagesPath}/en_2/ao_tm.jpg" />
                </form>
                </div><div class="icon_space"> <img width="73" height="27" border="0" title="مستويات انتهاء الصلاحية مقدمة من رويترز" src="#{applicationData.imagesPath}/reuters.jpg" alt="" />
                </div><div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="أمان المعلومات وتشفيرها" src="#{applicationData.imagesPath}/en_2/thawte.gif" /></a>
                </div><div class="icon_space">
                <img width="40" height="27" border="0" title="استخدام موقع الويب الخاص بنا مقصور على العملاء الذين لا تقل أعمارهم عن 21 عاماً" src="#{applicationData.imagesPath}/landing_Contactus/21.jpg" alt="" />
                </div>
            </div>
            <div class="footer_text" style="margin-top: 40px;" dir="rtl">
* ملاحظة هامة عن المخاطر: التداول في الخيارات ينطوي على مخاطرة كبيرة. يمكنك الحصول على نسبة من 65-71 % in-the-money لكل خيار أو فقدان 85 ٪ out-of-the-money لكل متاجرة.
            </div>
        </div>
    </div>
	<div id="error_box">
	    <div class="error_message"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>