<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
</head>
<body>
<ui:define name="content">
	<h:panelGroup>
		<h:panelGrid columns="1" border="0" width="100%" style="text-align:center;">
			<table border="0" cellspacing="10" cellpadding="0" align="center" >
				<tr><td colspan="3">&#160;</td></tr>
				<tr>
					<td colspan="3" width="15px">&#160;</td>
					<td class="whatisao_text" dir="rtl" align="right">
						 "™anyoption" هو نظام يمكِّن المستخدمين من التداول على نطاق واسع من <a class="general_link_blue_12" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}">الخيارات الثنائية</a>.
						<br/>
						<p>
						يمكنك شراء خيار Call لكي تحصل على 65-71% عائد في حالة انتهاء صلاحية الخيار أعلى من المستوى.<br/>
						يمكنك شراء خيار Put لكي تحصل على 65-71%عائد في حالة انتهاء صلاحية الخيار أدنى من المستوى.<br/>
						</p>
						<p>
						حتى إن لم تستحق خياراتك أرباحها، ستحصل على 15% من مبلغ استثمارك، وسيضاف مباشرة في حسابك.
						</p>
						<p>
						هناك ما يزيد عن 50 <a class="general_link_blue_12" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}">أصل</a> للاختيار من بينها ومجموعة من أوقات انتهاء الصلاحية. إنه التداول الخاص بك،.
						لذا عليك أن تصممه كي يتناسب مع معرفتك واحتياجاتك. انقر هنا للحصول على <a class="general_link_blue_12" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}">عرض توضيحي</a> سريع حول كيفية عمل التداول.<br/>
						</p>
					</td>
				</tr>
			</table>
		</h:panelGrid>
	</h:panelGroup>
</ui:define>
</body>
</html>
