<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >


<table cellpadding="0" cellspacing="5" width="720" border="0" >
 <tr>
  <td class="center_align">

    <h:panelGroup rowClasses="center_align" columnClasses="center_align">

	    <h:form id="passwordForm">

           <table border="0" columns="1" width="100%" class="center_align" align="center">
			<tr>
			<td align="center">
            <table width="500px" border="0" class="center_align">
            <tr><td>
            	<div class="info_pages_text" width="500px" align="right">
										إذا لم تستطع تذكر كلمة مرور حسابك، الرجاء كتابة أدناه اسم المستخدم الخاص بك والبريد الإلكتروني ومن ثم اضغط على &quot;إرسال&quot;. سيكون عليك استخدام نفس البريد الإلكتروني الذي استخدمته في التسجيل عندما قمت بفتح حساب <span dir="ltr"><h:outputText value="#{msgs['anyoption.anyoption']}"/></span> الخاص بك. للحصول على مساعدة إضافية، الرجاء الاتصال بدعم العملاء.
				</div>
			</td>
			</tr>
			</table>
			<br/>

			 <h:panelGroup rendered="#{commonUtil.hasMessages}">
			 	<h:panelGrid columns="1" border="0" width="160px" />
    	   		<t:div>
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_pages_text_header"/>
				</t:div>
           	</h:panelGroup>


			<h:panelGrid border="0" columns="2" rowClasses="right_align" align="right" >
				<h:panelGrid columns="1" border="0" width="160px" />
					<h:panelGrid rendered="#{!commonUtil.hasMessages}" columnClasses="left_align,right_align" border="0" columns="2">

						<h:outputLabel styleClass="new_lable" for="birthDay" value="#{msgs['register.birthdate']}" />
					   	<h:panelGrid columns="1" border="0" width="100%">
					   		<h:panelGrid columns="12" border="0" cellspacing="0" cellpadding="0">
			              		<h:selectOneMenu styleClass="new_combobox"  id="birthDay" value="#{passwordForm.birthDay}" required="true" style="width:49px">
			                		<f:selectItem  itemLabel="#{msgs['register.birthday']}" itemValue="" />
			                		<f:selectItems value="#{applicationData.days}" />
			                	</h:selectOneMenu>
			                	<img align="right" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
			               		<h:selectOneMenu styleClass="new_combobox" id="birthMonth" value="#{passwordForm.birthMonth}" required="true" style="width:59px">
			               			<f:selectItem  itemLabel="#{msgs['register.birthmonth']}" itemValue="" />
			               			<f:selectItems value="#{applicationData.months}" />
			               		</h:selectOneMenu>
			               		<img align="right" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/white_pixel.jpg" width="4px"/>
			               		<h:selectOneMenu styleClass="new_combobox"  id="birthYear" value="#{passwordForm.birthYear}" required="true" style="width:55px">
			               			<f:selectItem  itemLabel="#{msgs['register.birthyear']}" itemValue="" />
			               			<f:selectItems value="#{applicationData.years}" />
			               		</h:selectOneMenu>
							    <h:outputLabel value="&#160;&#160;"/>
							    <div id="birthMessage"></div>
					            <t:message id="birthError1" for="birthDay" detailFormat="&#160;#{msgs['error.register.day']}" replaceIdWithLabel="true" styleClass="error_messages"/>
					            <t:message id="birthError2" for="birthMonth" detailFormat="&#160;#{msgs['error.register.month']}" replaceIdWithLabel="true" styleClass="error_messages"/>
					            <t:message id="birthError3" for="birthYear" detailFormat="&#160;#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="error_messages"/>
								<t:message id="birthError4" for="birthDateValidate" value="" replaceIdWithLabel="true" styleClass="error_messages"/>

			    	    	</h:panelGrid>
			    		</h:panelGrid>


	   					<h:outputLabel styleClass="new_lable" for="email" value="#{msgs['register.email']}"/>
						<h:panelGroup style="width:470px">
							<h:panelGrid columns="3">
								<h:inputText dir="ltr" styleClass="new_input"  maxlength="50" id="email" value="#{passwordForm.email}" required="true">
									<f:validator validatorId="org.apache.myfaces.validator.Email"/>
								</h:inputText>
								<h:outputLabel value="&#160;"/>
								<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
							</h:panelGrid>
						</h:panelGroup>

						<h:panelGrid columns="1"/>
						<h:panelGrid columns="2" border="0" width="100%" rendered="#{!commonUtil.hasMessages}" style="text-align:middle;">
							<t:commandButton
						    	dir="rtl"
					 			id="sendpassword"
					 			image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
						 		onmouseover="Changepic('passwordForm:sendpassword','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
						 		onmouseout="Changepic('passwordForm:sendpassword','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
						 		onclick="gowait('passwordForm:sendpassword','passwordForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
						 		        return myfaces.oam.submitForm('passwordForm','passwordForm:hiddenbtn');" >
						 	</t:commandButton>
					 		<h:commandLink action="#{passwordForm.sendPassword}"
					 			id="hiddenbtn" style="display:none"/>
				   		</h:panelGrid>
	           </h:panelGrid>
	           <h:inputHidden id="birthDateValidate" value="" />

            </h:panelGrid>
            	</td>
			</tr>
          </table>

        </h:form>

    </h:panelGroup>

    </td>
  </tr>
</table>

</f:view>