<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<table  width="720" height="536" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/top.gif" width="720" height="110" ></td>
	</tr>
	<tr>
		<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/right.gif" width="156" height="302" ></td>
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/closed.gif" width="377" height="86"></td>
		<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/left.gif" width="187" height="302" ></td>
	</tr>
	<tr>
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/text.gif" width="377" height="136" >
        	<table cellpadding="0" cellspacing="0" dir="rtl">
            	<tr>
               	  <td class="onetouch_tradePage_offhour_ar">
,وسهلة الاستعمال,والتي تمكنك من الاستفادة من السوق  الخيارات الثنائية منصة تجارية,anyoption™
على المدى القصير والمتوسط التقلب.
نحن نقدم المئات من خيارات الربح عند تزايد سعر الاصل الاساسي او انخفاض قيمة الاصل الاساسي في وقت
واحد مع التنفيذ الفوري.
خلال عطلة نهاية الاسبوع,نقدم الخيارات بلمسة واحدة مع ما يصل الى 380%من الربح .
<br/>
<br/>
<strong>خيارات السلع | خيارات النقد الاجنبي | مؤشر الخيارات | خيارات الاسهم
<br/>
ربح 70% - بدون تحميل - بدون عمولات</strong></td>
              </tr>
        </table>
        </td>
	</tr>
	<tr valign="top">
		<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/button.gif" width="377" height="80" ><a border="0" style="text-decoration: none; " target="_top" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/oneTouch.jsf')}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/newbutton.gif" border="0"/></a></td>
  </tr>
	<tr>
		<td colspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bottom.gif" width="720" height="124" ></td>
  </tr>
</table>
</f:view>