﻿<?xml version="1.0"?> 
<f:view xmlns:f="http://java.sun.com/jsf/core" contentType="text/xml">
<Banner 
	bannerWidth="720"
	bannerHeight="290"

	textSize="14"
	textColor=""
	textAreaWidth=""
	textLineSpacing="0"	
	textLetterSpacing="-0.5"	
	textMarginLeft="12"
	textMarginBottom="3"
	
	transitionType="1"
	transitionDelayTimeFixed="8" 
	transitionDelayTimePerWord=".5"
	transitionSpeed="8"
	transitionBlur="yes"
	transitionRandomizeOrder="no"	
	
	showTimerClock="yes"
	showBackButton="yes"
	showNumberButtons="yes"
	showNumberButtonsAlways="Yes"
	showNumberButtonsHorizontal="yes"
	showNumberButtonsAscending="yes"
	autoPlay="yes">
	
	<item image="#{applicationData.imagesPath}/zh_22/flash01.jpg" link="#" textBlend="no"><![CDATA[]]></item>
	<item image="#{applicationData.imagesPath}/zh_22/flash02.jpg" link="#" textBlend="no"><![CDATA[]]></item>
	<item image="#{applicationData.imagesPath}/zh_22/flash03.jpg" link="#" textBlend="no"><![CDATA[]]></item>
</Banner>
</f:view>
