html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,th,img{border-width:0;margin:0;padding:0}
body{font-size:14px;text-align:left;background:#eaeaeb;direction:ltr;color:#093755;font-family:Verdana, Geneva, sans-serif;margin:0}
select,input,img{vertical-align:middle;margin:0 auto}
span.title{margin-top:10px;line-height:20px;display:block}
*{margin:0;padding:0}
a:link,a:visited,a:active{color:#0284d6}
a:hover{color:#e9800f;text-decoration:underline}
.f1{color:#d00000;font-size:28px;font-weight:700}
.f2{font-size:20px;font-weight:700}
.f3{text-align:right}
#top{width:100%;height:92px;background:url(../images/header_bg.jpg) top center;padding-top:15px;margin:0 0 10px}
#top div{width:1000px;text-align:left;margin:0 auto}
#body{width:1000px;margin:auto}
#body .b_top{width:1000px;height:18px;background:url(../images/top_bottom_bg.png) no-repeat}
#body .b_bottom{width:1000px;height:25px;background:url(../images/top_bottom_bg.png) no-repeat left bottom}
#body .middle{width:966px;overflow:hidden;background:#FFF url(../images/page_shadow.png) repeat-y top right;padding:0 12px 0 22px}
#body .middle .left{width:665px;float:left}
h3{font-size:21px;font-weight:700;padding-bottom:14px}
.right_devider{background:url(../images/right_devider.png) no-repeat top left;height:24px;width:262px;float:left;padding-bottom:20px}
#body .middle .left .tv{height:50px;line-height:50px}
#body .middle .left .video{width:675px;height:380px;margin:10px 0}
h2{line-height:40px;color:#093755;font-size:18px;font-weight:700;font-style:italic;margin:0 0 0 5px}
h1{color:#0284d6;line-height:46px;font-size:38px;margin:10px 0}
a.anyoption_link,a.anyoption_link:hover,a.anyoption_link:visited{text-decoration:none}
p{line-height:normal;word-wrap:break-word;padding-bottom:20px}
#body .middle .left .feet{width:651px;height:62px;background:url(../images/feet_bg.png);line-height:62px;font-size:24px;color:#093755;font-weight:700;margin:10px 0 0;padding:0 10px}
#body .middle .right{width:285px;background:#fff url(../images/right_bg.png) top right no-repeat;float:left;color:#727272;font-size:13px;font-style:italic;margin:55px 0 0 16px}
#body .middle .right .bb{width:251px;background:#eee;margin-right:14px;overflow:hidden;border:1px #d0d0d0 solid;padding:15px 10px 25px}
#body .middle .right .bb .pc{float:left;height:98px;width:74px;margin:0 10px 0 0}
h4{line-height:30px;font-size:14px;margin:0 0 20px}
#body .middle .right .bb p{line-height:normal;padding-bottom:15px}
#body .middle .right .bb .i{margin:3px 0}
#body .middle .right .bo{width:285px;height:32px;background:url(../images/right_bottom.png) top left no-repeat}
#footer{text-align:center;width:975px;font-size:9px;margin:0 auto}
#footer .icons{height:30px;width:659px;float:right;border-bottom:solid 1px #fff;background:url(../images/separator_bottom_bg.png) repeat-x bottom left;margin:0 0 10px;padding:15px 0 15px 326px}
#footer .icons .icon_space{margin-right:20px;float:left}
#footer .links{margin-top:20px;margin-bottom:15px}
#footer .footer_text{color:#757575;font-size:11px;text-align:center;width:730px;line-height:16px;margin:0 auto;padding:20px 0}
#footer .footer_link{color:#0284D6;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
#footer .footer_link:hover{color:#093755;font-size:9px;line-height:13px;text-align:center;text-decoration:none}
.yellow_marker{background:url(../images/yellow_maker_bg.png) top left;padding:4px 8px}
.image_container{padding-bottom:20px}
.example_left{float:left;width:74px;padding-bottom:10px;font-size:12px;text-decoration:underline}
.example_right{float:left;width:580px;padding-bottom:15px;font-size:12px}
.example_ru{font-size:11px!important}
a.open_account,a.open_account:visited{text-align:center;padding-left:150px;font-weight:700;font-size:18px}
.tv-logo{height:44px;width:485px;margin:15px 0 0}
#de h1{font-size:36px}
#de a.open_account,a.open_account:visited{padding-left:45px}
#fr a.open_account,a.open_account:visited{padding-left:80px}
#it a.open_account,a.open_account:visited{padding-left:111px}
#ru a.open_account,a.open_account:visited{padding-left:70px}
#tr a.open_account,a.open_account:visited{padding-left:85px}
#de #body .middle .right,#fr #body .middle .right{margin:15px 0 0 16px}
#de .example_right,#ru .example_right{width:590px}
#it h1,#tr h1{font-size:37px}