<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >


	<div id="header">
    	<div class="logo"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/etrader_logo.png" alt="Etrader" /></div>
    </div>

    <div id="page_container">
    	<div id="page">
     		<!--Right part-->
      			<div id="main_box">
    				<div id="content_mainbox">
          				<div class="main_text">
        					<div class="title"> <img src="#{facesContext.externalContext.requestContextPath}/images/landing/birthday4_title.png" alt="title" /></div>
						       <h:panelGroup rendered="#{type == 'media'}">
							        <h1> הצטרף לאלפי לקוחותינו ובחר לך מתנה יוקרתית: </h1>
							        <div class="gift_box">
										<p>שעון צלילה יוקרתי ומעוצב <br />
							            <span>Omega Seamaster</span> </p>
							             <h5>בשווי 12,000 ש"ח</h5>
							        </div>
							        <div class="right">
							        	<h4>או</h4>
							        </div>
							        <div class="gift_box">
							        	<p>הסמארטפון הטוב בעולם<br />
							            <span>Samsung Galaxy Nexus</span> </p>
							            <h5>בשווי 3,500 ש"ח</h5>
							        </div>
							        <p> <strong>את המתנה תקבל מיידית</strong> עם פתיחת חשבונך והפקדת הסכום המינימלי לפי המתנה שבחרת! </p>
							        <p> באופציות בינאריות תוכל <strong>להרוויח בין <span dir="ltr">71%-65%</span> בדקות בודדות</strong> במגוון של כ-100 אופציות על מניות, מדדים, סחורות ומטבעות. </p>
							        <p> <strong> אין צורך בניסיון קודם.</strong> </p>
						        </h:panelGroup>
						        <h:panelGroup rendered="#{type == 'google'}">
							        <h1> הצטרף לאלפי לקוחותינו ובחר לך מתנה יוקרתית: </h1>
							        <div class="gift_box">
							              <p>שעון צלילה יוקרתי ומעוצב <br />
							            <span>Omega Seamaster</span> </p>
							              <h5>מינימום הפקדה 50,000 ש"ח</h5>
							            </div>
							        <div class="right">
							              <h4>או</h4>
							            </div>
							        <div class="gift_box">
							              <p>הסמארטפון הטוב בעולם<br />
							            <span>Samsung Galaxy Nexus</span> </p>
							              <h5> מינימום הפקדה 15,000 ש"ח</h5>
							            </div>
							        <p> <strong>את המתנה תקבל מיידית</strong> עם פתיחת חשבונך והפקדת הסכום המינימלי לפי המתנה שבחרת! </p>
							        <p> באופציות בינאריות תוכל <strong>להרוויח בין <span dir="ltr">71%-65%</span> בעיסקה בודדת</strong><span style="font-size: 12px;">*</span> במגוון של כ-100 אופציות על מניות, מדדים, סחורות ומטבעות. </p>
							        <p> <strong> אין צורך בניסיון קודם.</strong> </p>
						        </h:panelGroup>
						        <h:panelGroup rendered="#{type == 'affiliate'}">
							        <h1> הצטרף לאלפי לקוחותינו ובחר לך מתנה יוקרתית: </h1>
							        <div class="gift_box">
							              <p>שעון צלילה יוקרתי ומעוצב <br />
							            <span>Omega Seamaster</span> </p>
							              <h5>מינימום הפקדה 50,000 ש"ח</h5>
							            </div>
							        <div class="right">
							              <h4>או</h4>
							            </div>
							        <div class="gift_box">
							              <p>הסמארטפון הטוב בעולם<br />
							            <span>Samsung Galaxy Nexus</span> </p>
							              <h5> מינימום הפקדה 15,000 ש"ח</h5>
							            </div>
							        <p> <strong>את המתנה תקבל מיידית</strong> עם פתיחת חשבונך והפקדת הסכום המינימלי לפי המתנה שבחרת! </p>
							        <p> באופציות בינאריות תוכל <strong>להרוויח בין <span dir="ltr">71%-65%</span> בדקות בודדות</strong> במגוון של כ-100 אופציות על מניות, מדדים, סחורות ומטבעות. </p>
							        <p> <strong> אין צורך בניסיון קודם.</strong> </p>
						        </h:panelGroup>
					        </div>
          				<!--End of Right part-->
  					</div>
				    <div id="flashbanner">
				          <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="456" height="472" id="ShortForm_button" align="middle">
							<param name="allowScriptAccess" value="sameDomain" />
							<param name="allowFullScreen" value="false" />
							<param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/landing/birthday4_anim_et.swf" />
							<param name="quality" value="high" />
							<param name="wmode" value="transparent" />
							<param name="bgcolor" value="#000000" />
							<embed src="#{facesContext.externalContext.requestContextPath}/images/landing/birthday4_anim_et.swf" quality="high" wmode="transparent" bgcolor="#000000" width="456" height="472" name="ShortForm_button" align="middle" allowscriptaccess="sameDomain" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
						  </object>
				        </div>
					</div>
			</div>
	</div>
	<div id="form_container">
	<h:form id="contactForm">
        <div class="form_bg">
        	<div class="form_box">
	        	 <h3>לקבלת מתנה פתח חשבון כאן:</h3>
		        <h:panelGroup id="mainTable">

					        <div id="first_name" class="regForm_labelAndField_wrap">
					        	<h:outputLabel class="first_name">&#160;שם פרטי:</h:outputLabel>
					            <h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
					    	    	validator="#{commonUtil.validateLettersOnly}" >
					      		</h:inputText>
					        	<t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
	          				</div>
					        <div id="last_name" class="regForm_labelAndField_wrap">
					            <h:outputLabel class="last_name">&#160;שם משפחה:</h:outputLabel>
					            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
								             validator="#{commonUtil.validateLettersOnly}" >
								</h:inputText>
								<t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
					        </div>
	          				<div class="clear"></div>
				            <div id="email" class="regForm_labelAndField_wrap">
				            	<h:outputLabel class="email">&#160;#{msgs['register.email']}:</h:outputLabel>
				            	<h:inputText rendered="#{email_validation != 'false'}" name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
								    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
							    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
							    </h:inputText>
							    <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
					            <h:inputText rendered="#{email_validation == 'false'}" name="email1" dir="ltr" maxlength="50" id="email1" value="#{contactUsForm.email}"
					            	 label="#{msgs['register.email']}" />
								<t:message id="email_Error1" style="display:none;" for="email1" replaceIdWithLabel="true" styleClass="error_messages"/>
				          </div>
				          <div id="phone2" class="regForm_labelAndField_wrap">
				            <h:outputLabel class="phone2">&#160;#{msgs['register.mobilephone']}:</h:outputLabel>
					           <h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
					        	  	<f:validateLength minimum='7' maximum='7'/>
					        	  	<f:validateLongRange/>
					        	</h:inputText>
								<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
					                <h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
										<f:selectItem  itemLabel="" itemValue="" />
										<f:selectItems value="#{applicationData.mobilePref}" />
									</h:selectOneMenu>
						 		<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="Minimum amount should be 100"/>
				         </div>
	          			<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
				        <div class="submit_button">
				            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="257" height="70" id="ShortForm_button" align="middle">
				                <param name="allowScriptAccess" value="sameDomain" />
				                <param name="allowFullScreen" value="false" />
				                <param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/landing/ShortForm_button.swf" />
				                <param name="quality" value="high" />
				                <param name="wmode" value="transparent" />
				                <param name="bgcolor" value="#ffffff" />
				                <embed src="#{facesContext.externalContext.requestContextPath}/images/landing/ShortForm_button.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="257" height="70" name="ShortForm_button" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				            </object>
				        </div>
		                <div class="lock_line">
			                לא ייעשה כל שימוש בכתובת המייל שלך,
			                לבד משליחת מסרים מ-etrader
		              	</div>
					  <div class="checkbox_line">
		                    <h:selectBooleanCheckbox id="agree" escape="false" name="agree"  class="agree"  value="#{contactUsForm.reciveUpdates}" required="">
							</h:selectBooleanCheckbox>
		              <div class="checkbox_text">אני מאשר קבלת עדכונים ומסרים</div>
	      			</div>
	      		</h:panelGroup>
	      	</div>
	    </div>
    </h:form>
   </div>

	<div id="footer">
		<div id="footer_icons">
		        <div class="icon_box" align="center">
		            <div class="icon"><img width="95" height="27" border="0" alt="אבטחת מידע והצפנה" src="#{facesContext.externalContext.requestContextPath}/images/landing/thawte.gif" /></div>
		            <div class="icon"><img width="73" height="27" border="0" alt="הנתונים באתר מדווחים על ידי רויטרס" src="#{facesContext.externalContext.requestContextPath}/images/landing/reuters.gif" /></div>
		            <div class="icon"><img width="95" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/diners.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/masterCard.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/visa.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/amex.gif" /></div>
		            <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/isracard.gif" /></div>
	   				<div class="icon"><img width="32" height="32" border="0" alt="השימוש באתר מוגבל לבני 21 ומעלה" src="#{facesContext.externalContext.requestContextPath}/images/landing/21_oil.png" /></div>
	   	        </div>
			</div>
			<div class="footer_text">
			    • המבצע ללקוחות חדשים בלבד  • החברה זכאית להפסיק המבצע בכל זמן ללא הודעה מוקדמת  • אתה מוזמן לעיין בתנאי המבצע
			    <a href="#{facesContext.externalContext.requestContextPath}/jsp/birthday4_terms.jsf" onclick="return popitup('#{facesContext.externalContext.requestContextPath}/jsp/birthday4_terms.jsf')">כאן</a>
			    <br />
				• המסחר באופציות בינאריות כרוך בסיכון גבוה. באפשרותך להרוויח בין <span dir="ltr">71-65%</span> על כל אופציה שפוקעת בתוך הכסף או להפסיד 85% באופציה שפוקעת מחוץ לכסף.
				<br/><br/>
				<strong>Samsung Galaxy Nexus</strong><br />
				מערכת הפעלה: Android 4.0 Ice Cream Sandwich, מעבד Dual Core 1.2 GHZ, מסך HD 4.65 אינצ', זיכרון פנימי GB16, תמיכה מלאה בעברית.<br /> דק במיוחד: 9.4 מ"מ. תמיכה בדור 4 <span dir="ltr">(LTE)</span>.
				<br />
				<strong>Omega Seamaster</strong><br />
				מספר קטלוגי: 2221.80.00.  צבע: כחול. יצרן: אומגה, שוויץ. רצועה וגוף: פלדת אלחלד. מנגנון קוורץ, כולל תאריך. קוטר 41 מ"מ. זכוכית ספיר קריסטל. עמיד במים עד 300 מ'.
				<br />
			</div>
		</div>

 <script language="javascript" type="text/javascript">
	<!--
	function popitup(url) {
		newwindow=window.open(url,'name','height=600,width=630,top=50,left=50,right=50');
		if (window.focus) {newwindow.focus()}
		return false;
	}
	// -->
</script>
</html>