<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

	<div id="page">
		<div id="main_box">
			<div id="header">
				<div class="logo"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/etrader_logo.png" alt="Etrader Logo" /></div>
			</div>
			<div id="bk">
                <img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/img_main.png" alt="title" />
            </div>
			<div class="main_text">
				<div class="title">
                    <img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/title_google.png" alt="title" /></div>
                    <h1>
                    <span>עם אופציית one touch</span> אתה יכול להרוויח
                    <br />
                    <span>380%-150%*</span> בעיסקה בודדת!</h1>
                <p>
                    כל שנדרש ממך הוא להחליט האם מחיר של נכס שבחרת (יורו/דולר, ת"א 25, זהב, נפט..) <strong>
                        יעלה או יירד</strong>.
                </p>
                <h2>
                    הצלחת? <span>קבל רווח מיידי</span></h2>
                <ul class="text_bullets">
                    <li>אין צורך בנסיון קודם על מנת להתחיל לסחור </li>
                    <li>הדרכה וליווי מקצועיים לרשותך ללא תשלום </li>
                    <li>ניתן לסחור בכל שעה ומכל מקום </li>
                </ul>
                <div class="banner">
                    <img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_etrader_380/380_banner.jpg" alt="" />
				</div>
			</div>
		    <h:form id="contactForm">
		        <div class="form_box">
					<h:panelGroup id="mainTable">
						<h3>השאר את פרטיך<br /><span>ותוכל להתחיל לסחור מיד:</span></h3>
				        <div class="input1">
				        	<h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
					        	validator="#{commonUtil.validateLettersOnly}" >
					        </h:inputText>
					        <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
					    </div>
				        <div class="label">שם פרטי: </div>
				        <div class="input1">
				            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
				                             validator="#{commonUtil.validateLettersOnly}" >
				            </h:inputText>
				            <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">שם משפחה: </div>
				        <div class="input1">
				            <h:inputText rendered="#{email_validation != 'false'}" name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
					    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
				    	    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				            </h:inputText>
				            <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
				            <h:inputText rendered="#{email_validation == 'false'}" name="email1" dir="ltr" maxlength="50" id="email1" value="#{contactUsForm.email}"
				            	 label="#{msgs['register.email']}" />
							<t:message id="email_Error1" style="display:none;" for="email1" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">#{msgs['register.email']}: </div>
				        <div class="input2">
				        	<div class="noborder">
					        	<h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
					        		<f:selectItem  itemLabel="" itemValue="" />
					        		<f:selectItems value="#{applicationData.mobilePref}" />
					        	</h:selectOneMenu>
					        	<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="A"/>
				            </div>
				        </div>
				        <div class="input3">
				       	   	<h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
				        	  	<f:validateLength minimum='7' maximum='7'/>
				        	  	<f:validateLongRange/>
				        	</h:inputText>
							<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">#{msgs['register.mobilephone']}: </div>
				        <div class="input_checkbox">
				        	<div class="checkbox_line">
					        	<h:selectBooleanCheckbox id="agree" escape="false" name="agree"  class="agree"  value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox>
						        	אני מאשר קבלת עדכונים ומסרים
						    </div>
				            <div class="lock_line">&#160; לא יעשה כל שימוש בכתובת המייל שלך, לבד משליחת מסרים מ-etrader</div>
				        </div>
						<br/>
						<t:commandButton styleClass="submit_button" id="savelink" image="/images/landing/LP_#{page}/button.png"
								onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/button.png');
										 return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
						</t:commandButton>
						<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
				    </h:panelGroup>
			    </div>
		    </h:form>

		</div>
		<div class="testm_footer">
	            * העדויות בפרסום זה מבוססות על סיפורים אמיתיים של לקוחות etrader. כדי לשמור על חיסיון
	            הלקוחות ולהגן על מידע מסחרי, שונו שמות הלקוחות, תמונות והפרטים המזהים שלהם.
	            <br />
	            * המסחר באופציות בינאריות כרוך בסיכון גבוה. באפשרותך להרוויח בין 71-65% על כל אופציה שפוקעת בתוך הכסף או להפסיד 85% באופציה שפוקעת מחוץ לכסף.
      	</div>
		<div id="footer">
			<div class="icon_box">
		        <div class="icon"><img width="95" height="27" border="0" alt="אבטחת מידע והצפנה" src="#{facesContext.externalContext.requestContextPath}/images/landing/thawte.gif" /></div>
		        <div class="icon"><img width="73" height="27" border="0" alt="הנתונים באתר מדווחים על ידי רויטרס" src="#{facesContext.externalContext.requestContextPath}/images/landing/reuters.gif" /></div>
		        <div class="icon"><img width="95" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/diners.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/masterCard.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/visa.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/amex.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/isracard.gif" /></div>
	   			<h:panelGroup>
	   				<div class="icon"><img width="32" height="32" border="0" alt="השימוש באתר מוגבל לבני 21 ומעלה" src="#{facesContext.externalContext.requestContextPath}/images/landing/21.jpg" /></div>
	   			</h:panelGroup>
	    	</div>
		</div>
	</div>
</html>