<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

	<div id="page">
		<div id="main">
			<div id="header2"></div>
	    	<div class="flash_item2">
		            <object id="myId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="544" height="138">
		                <param name="movie" value="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/4assets_animation_544x138.swf" />
		                <param name="wmode" value="transparent" />
		                <!--[if !IE]>-->
		                <object type="application/x-shockwave-flash" data="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/4assets_animation_544x138.swf" width="544" height="138" wmode="transparent">
		                <!--<![endif]-->
		                <div>
		                    <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
		                </div>
		                <!--[if !IE]>-->
		                </object>
		                <!--<![endif]-->
		            </object>
				</div>
			<div class="main_text">
		    	 <p>איטריידר, החברה הגדולה והוותיקה בישראל, מזמינה אותך להכיר את המסחר באופציות בינאריות.<br />
                 המסחר באיטריידר מאפשר לך תשואה ידועה מראש של <span class="red"><span style="font-size:10px;">עד</span>  71% בעסקה בודדת.</span><br />
                 בכל שעה נפתחות בפניך עשרות אפשרויות מסחר חדשות ומלהיבות.</p>
                 <p>באפשרותך <span class="red">לסחור בשוק הישראלי והבינלאומי</span> על מגוון של <span class="red">עשרות נכסים</span>, החל מטבע ובנק לאומי,<br />
				 דרך המדד האוסטרלי והנאסד"ק, מניות גוגל ואפל, וכמובן יורו-דולר וכל צמדי המטבעות האחרים.</p>
                 <h2>איך סוחרים:</h2>
                 <p>כל שעליך להחליט הוא <span class="red">האם מחיר</span> נכס שבחרת (לדוגמה זהב, דולר/שקל, ת"א 25, Dow Jones)<br />
				 <span class="red">יעלה או יירד.</span></p>
                 <p class="title1">
                	 הצלחת? <span class="red">קבל רווח מיידי של <span style="font-size:14px;">עד</span> 71%!</span>
                 </p>
                 <ul class="list">
	                <li>אין צורך בנסיון קודם על מנת להתחיל לסחור</li>
                    <li>הדרכה וליווי מקצועיים לרשותך ללא תשלום</li>
                    <li>ניתן לסחור בכל שעה ומכל מקום</li>
                    <li>כל אחד יכול: החל במאות שקלים ועד עשרות אלפי שקלים לעיסקה בודדת</li>
				 </ul>
			</div>
			<div class="main_bo">
				* המסחר באופציות בינאריות כרוך בסיכון גבוה. באפשרותך להרוויח בין 71-65% על כל אופציה שפוקעת בתוך הכסף או להפסיד 85% באופציה שפוקעת מחוץ לכסף.
		    </div>
		    <h:form id="contactForm">
		        <div class="form_box">
					<h:panelGroup id="mainTable">
				        <div class="input1">
				        	<h:inputText name="first_name" maxlength="15" id="firstName" value="#{contactUsForm.firstName}" required="true" vLabel="register.firstname" label="#{msgs['register.firstname']}"
					        	validator="#{commonUtil.validateLettersOnly}" >
					        </h:inputText>
					        <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
					    </div>
				        <div class="label">שם פרטי: </div>
				        <div class="input1">
				            <h:inputText name="last_name" maxlength="15" id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}"
				                             validator="#{commonUtil.validateLettersOnly}" >
				            </h:inputText>
				            <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">שם משפחה: </div>
				        <div class="input1">
				            <h:inputText rendered="#{email_validation != 'false'}" name="email" dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" label="#{msgs['register.email']}"
					    		       	required="true"  validator="#{commonUtil.validateEmailFromUnix}">
				    	    	<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				            </h:inputText>
				            <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
				            <h:inputText rendered="#{email_validation == 'false'}" name="email1" dir="ltr" maxlength="50" id="email1" value="#{contactUsForm.email}"
				            	 label="#{msgs['register.email']}" />
							<t:message id="email_Error1" style="display:none;" for="email1" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">#{msgs['register.email']}: </div>
				        <div class="input2">
				        	<div class="noborder">
					        	<h:selectOneMenu name="phone2" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" label="#{msgs['register.mobilephone.prefix']}" >
					        		<f:selectItem  itemLabel="" itemValue="" />
					        		<f:selectItems value="#{applicationData.mobilePref}" />
					        	</h:selectOneMenu>
					        	<t:message id="mobilePhonePref_Error" style="display:none;" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error_messages" detailFormat="A"/>
				            </div>
				        </div>
				        <div class="input3">
				       	   	<h:inputText maxlength="7" dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true" vLabel="register.mobilephone" label="#{msgs['register.mobilephone']}">
				        	  	<f:validateLength minimum='7' maximum='7'/>
				        	  	<f:validateLongRange/>
				        	</h:inputText>
							<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
				        </div>
				        <div class="label">#{msgs['register.mobilephone']}: </div>
				        <div class="input_checkbox">
				        	<div class="checkbox_line">
					        	<h:selectBooleanCheckbox id="agree" escape="false" name="agree"  class="agree"  value="#{contactUsForm.reciveUpdates}" required=""></h:selectBooleanCheckbox>
						        	אני מאשר קבלת עדכונים ומסרים
						    </div>
				            <div class="lock_line"><img src="#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/lock.png" alt="lock" align="right" />&#160; לא יעשה כל שימוש בכתובת המייל שלך, לבד משליחת מסרים מ-etrader</div>
				        </div>
						<br/>
						<t:commandButton styleClass="submit_button" id="savelink" image="/images/landing/LP_#{page}/button.png"
								onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/landing/LP_#{page}/button.png');
										 return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
						</t:commandButton>
						<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
				    </h:panelGroup>
			    </div>
		    </h:form>
		</div>
		<div id="footer">
			<div class="icon_box">
		        <div class="icon"><img width="95" height="27" border="0" alt="אבטחת מידע והצפנה" src="#{facesContext.externalContext.requestContextPath}/images/landing/thawte.gif" /></div>
		        <div class="icon"><img width="73" height="27" border="0" alt="הנתונים באתר מדווחים על ידי רויטרס" src="#{facesContext.externalContext.requestContextPath}/images/landing/reuters.gif" /></div>
		        <div class="icon"><img width="95" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/diners.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/masterCard.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/visa.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/amex.gif" /></div>
		        <div class="icon"><img width="42" height="27" border="0" alt="הפקדות באמצעות כרטיסי אשראי" src="#{facesContext.externalContext.requestContextPath}/images/landing/isracard.gif" /></div>
	   			<h:panelGroup>
	   				<div class="icon"><img width="32" height="32" border="0" alt="השימוש באתר מוגבל לבני 21 ומעלה" src="#{facesContext.externalContext.requestContextPath}/images/landing/21.jpg" /></div>
	   			</h:panelGroup>
	    	</div>
		</div>
	</div>
</html>