<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">

<div style="padding:10px;color:white;" dir="rtl">
	<p class="info_pages_text">
	חברת etrader הוקמה על מנת לספק ללקוחות פרטיים מוצר חדשני ומהפכני - זירת מסחר מקוונת באופציות דיגיטליות. האתר והאפליקציה הניידת תוכננו ועוצבו במטרה לפשט את הליכי המסחר באופציות על מדדי מניות, שערי מט"ח (צמדי מטבעות), שערי מניות ומחירי סחורות, כך שכל לקוח יוכל לבצע השקעות קצרות מועד בעלות תשואה גבוהה בסכומי כסף נמוכים משמעותית מהמינימום הנדרש על ידי חברות לניהול תיקים או חדרי עיסקאות בבנקים.
	</p>
	<p class="info_pages_text">
	ניסיונם של מייסדי החברה בניהול סיכונים וגידור, והיכרותם המעמיקה עם שוקי המטבע ובורסות העולם מונף לטובת יצירת כלי השקעה שווים לכל נפש, ללא עמלות, עם מנגנוני רווח והפסד ברורים וקבועים מראש. האיתנות הפיננסית של etrader מאפשרת להציע תשואה גבוהה במיוחד על מגוון רחב של אופציות.
	</p>
	<p class="info_pages_text">
	השימוש באתר ובאפליקציה כרוכים בהרשמה שמצריכה הזדהות מלאה, כולל פרטי תעודת זהות. העברת הכספים לחשבון הלקוח מתאפשרת באמצעות כרטיסי אשראי, העברה בנקאית ושיטות מקובלות אחרות.
	</p>
	<p class="info_pages_text">
	etrader מנכה כחוק מס רווחי הון מלקוחותיה ומעבירה את הכספים ישירות למס ההכנסה בשם הלקוחות.
	</p>
	<p class="info_pages_text">
		איטריידר בע"מ
		רח' הברזל 38 תל אביב 69710
		טלפון: 077-2282222
		פקס: 03-6444403

	</p>
</div>
</f:view>