<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<div id="mainDiv" align="center" class="div_clear_float">
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" dir="rtl">
	<tr><td height="10px"></td></tr>
	<tr>
		<td align="center"><span class="pages_text" style="font-size: 13px;"><u>נספח א'</u></span></td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td align="center"><span class="pages_text" style="font-size: 13px;"><u>תנאים כלליים</u></span></td>
	</tr>
	<tr><td height="30px"></td></tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>1	אחריות הלקוח</strong>
				<p>
					<span style="font-size: 12px;">1.1</span>
					אחריותו של כל לקוח המבצע עסקאות ומקבל שירותים באתר לוודא כי הדבר לא נוגד
					כל חוק או דין החלים עליו וכן לדאוג למלא כל חובה חוקית אחרת החלה עליו ונובעת
					משימוש באתר. הלקוח אחראי לבדו על כל העסקאות בחשבונו באתר, לרבות כל עסקאות
					ההפקדה והמשיכה בכרטיס אשראי או באמצעי הפקדה ומשיכה אחרים (כמפורט להלן), וכן הנו
					אחראי על אבטחת שם המשתמש וסיסמת הכניסה לחשבונו באתר. הלקוח יהיה אחראי לבדו לכל
					נזק שייגרם כתוצאה ממעשה או מחדל של הלקוח שיביאו לפעילות בלתי ראויה ובלתי תקינה
					בחשבונו באתר.
				</p>
				<p>
					<span style="font-size: 12px;">1.2</span>
					הלקוח מסכים ומצהיר, כי כל החלטה שקיבל ו/או יקבל בהסתמך על תוכן האתר הינה
					על אחריותו האישית בלבד ולא תהיה לו כל טענה ו/או תביעה מכל סוג שהוא בעניין זה
					כלפי החברה ו/או כלפי הדירקטורים המכהנים בה ו/או כלפי נושאי המשרה בה ו/או כלפי
					עובדיה ו/או סוכניה (&quot;<b>החברה ו/או הפועלים מטעמה</b>&quot;) והחברה ו/או
					הפועלים מטעמה לא יהיו אחראים לאבדן רווחים או לכל נזק שהוא, לרבות נזק מיוחד ו/או
					נזק עקיף ו/או נזק נסיבתי אשר ייגרמו ללקוח כתוצאה ו/או בקשר לאתר, לעסקאות
					המבוצעות על ידי הלקוח, לשירותים ולתנאי השימוש, אלא
					במקרה של זדון מצד החברה.
				</p>
				<p>
					<span style="font-size: 12px;">1.3</span>
					מבלי לגרוע מהאמור, ואך ורק במקרה וככל שייקבע בהחלטה חלוטה על ידי בית
					משפט או על ידי כל גורם שיפוטי מוסמך אחר, כי החברה ו/או הפועלים מטעמה אחראים כלפי
					הלקוח או כלפי כל צד שלישי, אחריותם של החברה ו/או הפועלים מטעמה בכל מקרה, תהיה
					מוגבלת לסכום הכסף שהעביר הלקוח ו/או הפקיד בחשבונו באתר בקשר עם העסקה שמכוחה קמה
					לחברה ו/או לפועלים מטעמה אחריות זו (ככל שקמה אחריות כאמור).
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>2	גילוי סיכון</strong>
				<p>
					<span style="font-size: 12px;">2.1</span>
					מסחר בשווקים פיננסיים בכלל וברכישת אופציות דיגיטליות בפרט הנו מסחר
					ספקולטיבי ברמות מינוף וסיכון גבוהה במיוחד. הלקוח מצהיר כי הוא מבין ששינוי קטן
					במחירי השוק, עלול להתרחש בפרקי זמן קצרים ולגרום לרווח גדול או להפסד גדול ביחס
					לגובה הבטוחות עד כדי הפסד בגובה הבטוחות כולם תוך פרק זמן קצר, וכי אין בנמצא שום
					שיטה היכולה להבטיח ללקוח כי עסקאות בשווקים הפיננסיים יניבו רווחים.
				</p>
				<p>
					<span style="font-size: 12px;">2.2</span>
					בהרשמה לאתר ובעת ביצוע כל עסקה הלקוח מאשר שידוע לו כי:
					<p style="margin-left:20">
						<span style="font-size: 12px;">2.2.1</span>
						עסקאות מהסוג המוצע באתר עלולות להיחשב כעסקאות בעלות סיכון מיוחד וביצוען
						עלול להיות כרוך בדרגת סיכון גבוהה.
					</p>
					<p style="margin-left:20">
						<span style="font-size: 12px;">2.2.2</span>
						יש לו מלוא הידע והמידע בכל הנוגע לאופציות, לרבות אופציות דיגיטליות
						ולסיכונים הכרוכים בביצוע עסקאות לרכישת אופציות בכלל ואופציות דיגיטליות בפרט,
						הוא מבצע את העסקאות על סמך שיקול דעתו, הוא לקח על עצמו ביודעין את הסיכונים
						הנובעים מעסקאות מסוג זה ויש לו את היכולת הכספית לשאת במימון עסקאות כאמור.
					</p>
					<p style="margin-left:20">
						<span style="font-size: 12px;">2.2.3</span>
						במקרה של עסקת רכישת אופציה דיגיטלית הוא עלול להיחשף לאבדן מרבית כספי
						ההשקעה והבטוחות או כולם.
					</p>
					<p style="margin-left:20">
						<span style="font-size: 12px;">2.2.4</span>
						הוא קרא את התנאים לרכישת אופציה לפני רכישתה והוא מבין את ההשלכות
						והתוצאות של הצלחה או כישלון.
					</p>
					<p style="margin-left:20">
						<span style="font-size: 12px;">2.2.5</span>
						ידוע לו שהוא יכול להפסיד חלק גדול מכספו בהשקעה לא נכונה.
					</p>
					<p style="margin-left:20">
						<span style="font-size: 12px;">2.2.6</span>
						ידוע לו כי משך חיי האופציות, יכול שיהיו קצרים עד כדי דקות מספר.
					</p>
				</p>
				<p>
					<span style="font-size: 12px;">2.3</span>
					השימוש באתר מיועד למשתמשים מתוחכמים בלבד, המסוגלים לספוג הפסדים כספיים
					ומהירים שעלולים להגיע לכדי סכומי ההשקעה ו/או הבטוחות. באחריות הלקוח לשקול היטב
					ובכובד ראש האם מסחר מסוג זה מתאים לצרכיו ולמטרותיו לאור המשאבים הכלכליים
					העומדים לרשותו ונסיבותיו האישיות, וכן לוודא כי הוא מבין את משמעות הפעולות
					המבוצעות על ידו. מומלץ, כי הלקוח יתייעץ עם יועץ לענייני מיסוי ועם יועץ משפטי
					לעניין מצבו המיסויי והמשפטי.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>3	מידע פיננסי</strong>
				<p>
					<span style="font-size: 12px;">3.1</span>
					אופן חישוב שערי הפקיעה של המדדים, המניות, המטבעות והסחורות השונים
					המוצעים למסחר באתר מפורט ב<b><u>נספח ד'</u></b> להסכם זה, כפי שיתעדכן מעת לעת.
					הנכסים המוצעים וכן אופן החישוב עשויים להשתנות מעת לעת לפי שיקול דעתה הבלעדי של
					החברה, והלקוח מתחייב להתעדכן בנכסים ובאופן החישוב כאמור באופן שוטף.
				</p>
				<p>
					<span style="font-size: 12px;">3.2</span>
					מובהר, כי המידע הפיננסי אשר מופיע באתר (כגון שערי חליפין, מדדים
					וסחורות), יכול שיהיה לא מדויק, לא מעודכן ומוטעה וכי החברה לא תהא אחראית להפסדים
					ו/או לאבדן הכנסה אפשרי אשר ייגרמו ללקוח או לצד שלישי בשל הסתמכות על המידע
					האמור.
				</p>
				<p>
					<span style="font-size: 12px;">3.3</span>
					החברה אינה מתחייבת לעדכון שוטף של המידע הפיננסי המופיע באתר והיא רשאית
					להסיר את הנתונים מהאתר מעת לעת ללא הגבלת זמן וללא הודעה מראש.
				</p>
				<p>
					<span style="font-size: 12px;">3.4</span>
					חובת הלקוח המסתמך על מידע המוצג באתר לוודא את מהימנות המידע והתאמתו
					לצרכיו מול מקורות מידע נוספים ומהימנים. החברה לא תשא בכל אחריות לכל טענה, תביעה,
					עלות, הפסד או נזק מכל סוג שהוא שעל פי טענת הלקוח נגרמו לו עקב מידע שהוצג באתר
					או שהאתר היפנה אליו.
				</p>
				<p>
					<span style="font-size: 12px;">3.5</span>
					הלקוח מאשר ומסכים, כי מידע כלשהו בעל פה שיינתן ללקוח על חשבונו באתר, אם
					יינתן, עלול להיות בלתי-מאומת ובלתי-שלם, וכי הסתמכות כלשהי על מידע כאמור היא על
					אחריותו ובסיכונו הבלעדיים של הלקוח. החברה אינה נותנת אחריות, בין מפורשת ובין
					מכללא, כי תמחור או מידע אחר כלשהו המסופק
					<br/>
					על-ידה באמצעות תוכנת המסחר באינטרנט או
					בטלפון או באופן אחר כלשהו הינו נכון או משקף את תנאי השוק הנוכחיים.
			   </p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>4	הפסקת מסחר</strong>
				<p>
					המסחר באתר או בחלקו
					עלול להיפסק ללא כל התראה מוקדמת. ללקוח לא תהיה כל טענה, תביעה או זכות לשיפוי
					כלשהו בגין נזקים שלטענתו נגרמו לו עקב הפסקת המסחר בין בגין עסקאות שביצע ובין
					בגין עסקאות שלטענת הלקוח התכוון לבצע.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>5	הגבלת אחריות </strong>
				<p>
					<span style="font-size: 12px;">5.1</span>
					החברה תפעל למען מתן שירותים סדירים באתר. עם זאת, החברה אינה מתחייבת
					שהשירותים לא יופרעו, יינתנו כסדרם בלא הפסקות, יתקיימו
				</p>
				<p>
					<span style="font-size: 12px;">5.2</span>
					אספקת השירותים על ידי החברה תלויה, בין היתר, בצדדים שלישיים,
					והחברה אינה אחראית לכל מעשה או מחדל של צדדים שלישיים ולא תהיה
					 אחראית לכל נזק ו/או אבדן ו/או הפסד ו/או הוצאה שייגרמו ללקוח
					  ו/או לצד שלישי כלשהו כתוצאה ו/או בקשר עם כל מעשה או מחדל כאמור.
				</p>
				<p>
					<span style="font-size: 12px;">5.3</span>
					החברה לא תשא באחריות לכל נזק מכל סוג שייגרם ללקוח על פי טענתו אם בגרימת הנזק היה
					מעורב כוח עליון או כל אירוע חיצוני בלתי נשלט על ידי החברה אשר היה בעל השפעה על
					השירותים ועל המסחר באתר.
				</p>
				<p>
					<span style="font-size: 12px;">5.4</span>
					בשום נסיבות לא תחול על החברה ו/או מי מטעמה אחריות כלשהי בגין נזק ישיר,
					עקיף, דמי נזיקין עונשיים, נזק מקרי, מיוחד או תוצאתי, ו/או כל נזק אחר מכל סוג ומין, לרבות,
					ומבלי לפגוע בכלליות האמור לעיל, דמי נזיקין בגין אבדן השימוש, אבדן הנתונים או אבדן הרווחים,
					הנובעים או קשורים בכל דרך שהיא בביצוע עסקאות או בשימוש בשירותים, בגין עיכוב בשימוש או באי יכולת
					לבצע עסקאות או להשתמש בשירותים או באי אספקה של שירותים, או בכל מידע, תוכנה, מוצר, שירות וגרפיקה
					נלווית שהושגו באמצעות השירותים, ו/או הנובעים בכל דרך אחרת מן השימוש בשירותים, בין בהתבסס על הסכם
					ובין בנזיקין, בין באחריות מוחלטת, ו/או כל עילה אחרת, אפילו אם נודע לחברה או למי מטעמה על האפשרות של דמי נזיקין כאמור.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>6	זכויות החברה בחשבון הלקוח</strong>
				<p>
					<span style="font-size: 12px;">6.1</span>
					הלקוח מסכים, כי במידה (א) שהוא מפר איזו מהתחייבויותיו
					על פי תנאי השימוש ו/או הסכם ההתקשרות; (ב) שהוא הופך להיות חדל פירעון או פושט
					רגל או נתון בהליך של פשיטת רגל, רה-אורגניזציה, חדלות פירעון או הליך דומה; או
					(ג) שהחברה, על פי שיקול דעתה הבלעדי, מוצאת כי הדבר נכון כדי להגן על עצמה, החברה
					רשאית, בכל עת וללא הודעה מוקדמת ללקוח, (1) לבטל, לסיים, ו/או לסגור את העסקאות –
					כולן או חלקן – בין הלקוח לבינה ולחשב את הנזקים שנגרמו לה באופן שתמצא לנכון; (2)
					לשעבד, להעביר או למכור את היתרה ו/או הבטוחות שבחשבון (או בחשבונות) הלקוח; או
					(3) לבצע כל פעולה אשר החברה, על פי שיקול דעתה הבלעדי, תמצא לנכון על מנת לרפא את
					ההפרה.
				</p>
				<p>
					<span style="font-size: 12px;">6.2</span>
					הלקוח מאשר ומסכים, כי החברה עשויה להטיל מגבלות על
					המסחר, התשלום, השירות או כל מגבלה אחרת על חשבונו באתר, במידה שתדרש לעשות זאת על
					פי כל דין, לרבות ומבלי לגרוע מכלליות האמור, צו בית משפט, לדרישת רשויות המס,
					רשויות האכיפה או כל רשות ממלכתית אחרת. הלקוח מסכים, כי החברה עשויה להדרש לפרוע
					או לחסום סכומי כסף המצויים בחשבונו באתר על מנת לעמוד בדרישות הרשויות כאמור,
					וללקוח לא תהיה כל זכות, טענה או דרישה כלפי החברה בשל הפסדים שייגרמו לו בחשבונו
					באתר בשל כל פעולה כאמור והוא מתחייב לשפות את החברה, מיד עם קבלת דרישתה הראשונה
					לכך, בגין כל נזק שייגרם לה בשל פעולותיה כאמור.
				</p>
				<p>
					<span style="font-size: 12px;">6.3</span>
					החברה אינה יכולה לקבל בקשת שינוי או ביטול של הוראת
					ביצוע שהתקבלה מאת הלקוח והלקוח יהא כבול להוראת הביצוע המקורית ולתוצאותיה.
				</p>
				<p>
					<span style="font-size: 12px;">6.4</span>
					הלקוח לא יניח כי הוראת ביצוע כלשהי בוצעה אלא לאחר
					שיקבל דו&quot;ח מצב רשמי מאת החברה אשר מאשר כי הוראה כלשהי בוצעה. הלקוח אחראי
					לוודא את מצב ההוראות הממתינות
					לביצוע בחשבונו לפני מתן הוראות ביצוע נוספות. הלקוח יישא באחריות במידה שנתן
					הוראות ביצוע נוספות הזהות להוראת ביצוע ממתינה, גם אם הוראות הביצוע
					הנוספות גורמות לחריגה מיתרת חשבונו.
				</p>

				<p>
					<span style="font-size: 12px;">6.5</span>
					הלקוח אחראי לקרוא את אישורי ביצוע עסקאות ואת
					דו&quot;חות החשבון המסופקים לו על ידי החברה, מייד לאחר קבלתם לידיו – בין אם
					נשלחו אליו באופן אלקטרוני, בדואר או בכל דרך אחרת – ומומלץ כי הלקוח יעשה שימוש
					באפשרות ההדפסה המוצעת באתר. החברה רשאית לראות באישורי העסקאות ובדו&quot;חות
					החשבון כמדויקים אלא אם הלקוח הביע התנגדות תוך שלושה (3) ימי עסקים כאמור. בכל
					מקרה של התנגדות כאמור, החברה זכאית לקבוע את תקפות ההתנגדות.
				</p>

			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>7	הפקדות ומשיכות באמצעים שונים</strong>
				<p>
					<span style="font-size: 12px;">7.1</span>
					על-פי דרישות החוקים והתקנות למניעת הלבנת הון, בעת ביצוע הפקדה באמצעות
					העברה בנקאית, נדרש הלקוח להשתמש בחשבון בנק אחד בלבד, הנמצא במדינת המגורים של
					הלקוח והרשום על שמו. על הלקוח לשלוח לחברה אישור העברה אותנטי, המציין את פרטיו
					המלאים של חשבון הבנק השולח ולוודא כי הוראת ההפקדה מבוצעת בהתאם לדרישות החברה
					בכל הנוגע לזיהוי הלקוח וחשבונו באתר. אי הצגתו של אישור העברה כאמור, או אי-התאמה
					בין פרטי החשבון לפרטי חשבון הלקוח הרשומים אצל החברה עלולים להביא לדחיית הבקשה,
					לאבדנה, להעברת הכספים לחשבון שגוי או להחזרתם של הסכומים שהתכוון הלקוח להפקיד
					לחשבון הבנק השולח, ובכך לא תתבצע הפקדתם בחשבון הלקוח באתר. כל משיכת סכומים שהיא
					מחשבון הלקוח באתר, שתבוצע (אם בכלל) בדרך של העברה בנקאית, תיעשה אך ורק אל אותו
					חשבון הבנק ממנו התקבלו סכומי ההפקדה במקורם.
				</p>
				<p>
					<span style="font-size: 12px;">7.2</span>
					<u>אם וככל שהחברה תתיר תשלום באופני תשלום אחרים (כדוגמת ספקי שירותי העברה
					באינטרנט, שירותי העברת כספים, וכו')</u> : בעת ביצוע הפקדה באמצעים שאינם כרטיסי אשראי ו/או
					חשבונות בנק, מסכים הלקוח ומאשר בזאת כי הוא כפוף ומחויב להוראות ולכללים הכרוכים
					בשירותים כאלה, והנקבעים ברשיונות השימוש שלהם (אם ישנם) ובכל דין, העשויים לכלול,
					בין היתר, עמלות והגבלות אחרות. החברה, על-פי שיקול דעתה הבלעדי, עשויה לבצע
					הוראות משיכה מאמצעים חלופיים, שאינם אלה שבאמצעותם הופקדו הסכומים במקורם, וזאת
					בכפוף לחוקים ולהוראות למניעת הלבנת הון.
				</p>
				<p>
					<span style="font-size: 12px;">7.3</span>
					החברה תשלם ללקוח רווחים מחשבונו באתר באמצעות המחאות או באמצעות משיכה לכרטיס האשראי ממנו בוצעה הפקדה לחשבון,
					 לאחר שהלקוח יבקש ביצוע משיכה מחשבונו, בהתאם להוראות המופיעות באתר. החברה תעשה ככל יכולתה לשלם ללקוח רווחים באמצעי התשלום אותו בחר,
					 אך לחברה שמורה הזכות לשלם ללקוח את רווחיו באמצעי תשלום אחר מזה שביקש, בהתאם לסוג כרטיס האשראי של הלקוח ו/או על פי נהליה הפנימיים.
					 לקוחות שביצעו הפקדה בכרטיס מסוג ויזה יהיו רשאים לבצע משיכות רווחים ישירות לכרטיס האשראי בלבד ולא באמצעות צ'ק. במקרה של בקשת משיכה באמצעות צ'ק,
					 ההמחאה תישלח לכתובת שציין הלקוח בבקשת המשיכה תוך שלושה (3) ימי עסקים. זמן הביצוע של משיכה לכרטיס האשראי - בהתאם לנהלי חברת האשראי.
				</p>
				<p><span style="font-size: 12px;">7.4</span>
					כל עוד בקשת משיכה של הלקוח נמצאת בהליכי ביצוע (דהיינו – הלקוח טרם קיבל
					הודעת אישור רשמית מן החברה על ביצוע המשיכה), הלקוח רשאי לתת הוראת עצירת משיכה,
					בהתאם להוראות המופיעות באתר, ולהחזיר את הכסף לחשבונו באתר. בביצוע עצירת משיכה,
					הכספים שהתכוון הלקוח למשוך יהיו זמינים בחשבונו באתר באופן מיידי. הלקוח מאשר
					ומסכים, כי במידה שבקשת המשיכה הושלמה (דהיינו – הלקוח קיבל הודעת אישור רשמית מן
					החברה על ביצוע המשיכה), הוא לא יוכל לבקש בקשת עצירת משיכה.
				</p>
				<p>
					<span style="font-size: 12px;">7.5</span>
					בכפוף לאמור לעיל, במידה שהלקוח ביקש לבצע מחשבונו שתי משיכות או יותר,
					ולאחר מכן ביקש ביצוע עצירת משיכה, הוא יוכל ראשית לבטל את בקשת המשיכה הקודמת בזמן. לאחר שהלקוח עצר משיכה
					אחת, הוא יוכל להמשיך ולבטל את בקשת המשיכה העוקבת וכך הלאה.
				</p>
				<p>
					<span style="font-size: 12px;">7.6</span>
					במידה שלקוח ביקש לבצע משיכה מחשבונו, אך מסיבה כלשהי לא השלים את הליך המשיכה בתוך 30 יום, יוחזר סכום המשיכה המבוקש לחשבון הלקוח ויתוסף ליתרה בחשבונו. הודעה על החזרת סכום המשיכה המבוקש לחשבון תישלח באמצעות אימייל ללקוח #{applicationData.cancelWithdrawalDaysEmail} ימים לפני החזרת סכום המשיכה שלא הושלמה לחשבון.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<a href="#" name="bonusL" > </a>
			<span class="pages_text">
				<strong>8 מבצעים, הטבות ובונוסים</strong>
				<p>	<span style="font-size: 12px;">8.1</span>
					הטבות ובונוסים יזוכו לחשבון הלקוח לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב.
				</p>
				<p>	<span style="font-size: 12px;">8.2</span>
				אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכה לאחר מימוש הבונוס / הטבה הוא ביצוע השקעות בגובה פי 15 מסכום הבונוס / הטבה.
				</p>
				<p>	<span style="font-size: 12px;">8.3</span>
				החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרע במבצע כלשהו עלול לגרום לביטול הבונוס / הטבה ולסגירת חשבון הלקוח באתר החברה.
				</p>
				<p>	<span style="font-size: 12px;">8.4</span>
				יש להשתמש בבונוסים / הטבות בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בבונוס / הטבה בתוך פרק זמן זה, הבונוס / הטבה יימשכו מחשבון הלקוח.
				</p>
				<p>	<span style="font-size: 12px;">8.5</span>
				החברה שומרת לעצמה את הזכות לבטל את הבונוס/הטבה אם יוודע על ניצול לרעה של המבצע ו/או במידה ותנאי המבצע לא ימולאו. החלטת החברה במקרה כזה היא סופית. החברה שומרת לעצמה את הזכות לבטל או לשנות את המבצעים בכל זמן נתון ללא צורך בהודעה מראש.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<a href="#" name="RUL" > </a>
			<span class="pages_text">
				<strong>9 דחיית מועד פקיעה</strong>
				<p>	<span style="font-size: 12px;">9.1</span>
					החברה תציע מפעם לפעם באתר, ללקוחות נבחרים, על פי שיקול דעתה הבלעדי, אופציות לדחיית מועד הפקיעה של אופציה שנרכשה למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי. האופציות יוצעו לזמן מוגבל בהתאם להחלטת החברה.
				</p>
				<p>	<span style="font-size: 12px;">9.2</span>
					קוח לו תוצע אופציית דחיית מועד פקיעה, יוכל לדחות את מועד הפקיעה של אופציה שרכש – למועד הפקיעה הקרוב הראשון אחרי מועד הפקיעה המקורי. זאת תמורת תשלום פרמיה נקובה וידועה מראש שתוצג באתר.
				</p>
				<p>	<span style="font-size: 12px;">9.3</span>
					החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרע במבצע כלשהו עלול לגרום לביטול הבונוס / הטבה ולסגירת חשבון הלקוח באתר החברה.
				</p>
				<p>	<span style="font-size: 12px;">9.4</span>
					תשלום הפרמיה על אופציית דחיית מועד פקיעה יחויב מיד עם הרכישה מחשבון הלקוח.
				</p>
				<p>	<span style="font-size: 12px;">9.5</span>
					לבד מהשינוי במועד הפקיעה, יישארו יתר תנאי העיסקה, כולל סכום העיסקה, סוג האופציה (call או put) ושער העיסקה, ללא שינוי.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<a href="#" name="GML" > </a>
			<span class="pages_text">
				<strong>10 מימוש רווח מיידי</strong>
				<p>	<span style="font-size: 12px;">10.1</span>
					החברה תציע מפעם לפעם באתר, ללקוחות נבחרים, על פי שיקול דעתה הבלעדי אפשרות למימוש אופציות באופן מיידי. אפשרות זו תוצע לזמן מוגבל בהתאם להחלטת החברה
				</p>
				<p>	<span style="font-size: 12px;">10.2</span>
					לקוח לו תוצע אופציית מימוש רווח מיידי, יוכל לממש מיידית, לפני מועד הפקיעה המקורי של האופציה שרכש את התשואה המובטחת על אופציה (PUT או CALL) שרכש, זאת תמורת תשלום פרמיה נקובה וידועה מראש שתוצג באתר.
				</p>
				<p>	<span style="font-size: 12px;">10.3</span>
					לקוח שירכוש אופציית מימוש רווח מיידי יקבל מיידית לחשבונו את התשואה המובטחת באופציה (PUT או CALL) שרכש, ללא תלות בשער נכס הבסיס במועד פקיעת האופציה.
				</p>
				<p>	<span style="font-size: 12px;">10.4</span>
					תשלום הפרמיה על אופציית מימוש רווח מיידי יחויב מיד עם הרכישה מחשבון הלקוח. הלקוח יזוכה מיידית בגין התמורה מהאופציה (PUT או CALL) שרכש בחשבונו, עוד לפני מועד הפקיעה המקורי.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<a href="#" name="GML" > </a>
			<span class="pages_text">
				<strong>11  אופציה+</strong>
				<p>	<span style="font-size: 12px;">11.1</span>
					אופציה+ היא זירת מסחר בה יוכל לקוח למכור בכל רגע לחברה אופציות שרכש באותה זירה, בין אם הן בתוך או מחוץ לכסף, בלי להמתין לפקיעה המקורית. לאחר רכישת אופציה יוכל הלקוח לבקש בכל שלב בו האופציה עדיין נסחרת (עד שלב "ממתין לפקיעה") מחיר בו החברה תהיה מוכנה לקנות את האופציה שרכש. לאחר לחיצה על "קבל מחיר", יוצג בפני הלקוח המחיר שבו החברה מוכנה לקנות ממנו את האופציה. המחיר יהיה בתוקף למשך 4 שניות, במהלכן יוכל הלקוח ללחוץ על "בצע" למכירת האופציה. מועדי הפקיעה בזירת מסחר זו ואופן חישוב שערי הפקיעה של האופציות עשויים להיות שונים מאלו של אופציות המוצעות בזירת המסחר הרגילה של איטריידר. עלות רכישת אופציה בזירת המסחר אופציה+: ₪1. העלות תתווסף לסכום ההשקעה.
				</p>
				<p>	<span style="font-size: 12px;">11.2</span>
					עם לחיצה על "בצע", התמורה תועבר מיידית לחשבון הלקוח. לחלופין, יוכל הלקוח לוותר על ההצעה, ולקבל מחיר מעודכן בכל שלב בהמשך באמצעות לחיצה מחדש על "קבל מחיר".
				</p>
				<p>	<span style="font-size: 12px;">11.3</span>
					<h:outputText value=" #{applicationData.getTurnOverTerms('3', 'false')}" escape="false" />
				</p>
				<p>	<span style="font-size: 12px;">11.4</span>
					הטבות / בונוסים מסוג "ההשקעה הבאה עלינו", "תשואה משופרת", "תשואה משופרת והגנה מוגדלת" ו- "הגנה מוגדלת" אינם ניתנים למימוש בזירת המסחר אופציה+.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>12	 הדין החל וסמכות שיפוט</strong>
				<p>
					על השימוש באתר וכל הנובע משימוש כזה, לרבות על תנאי השימוש, יחולו דיני מדינת ישראל, ולבתי המשפט המוסמכים במחוז תל אביב-יפו תהא סמכות השיפוט הבלעדית והיחידה בכל עניין הקשור בהם.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>13	זכויות יוצרים</strong>
				<p>
					<span style="font-size: 12px;">13.1</span>
					זכויות היוצרים והקניין הרוחני באתר ובשירותים הינם של החברה או של צדדים שלישיים שהעניקו לחברה הרשאה להשתמש בהם
					במסגרת האתר והשירותים כאמור. בכלל זה, ומבלי למעט מכלליות האמור, החברה הינה הבעלים הבלעדי בשמות ובסימנים המסחריים של האתר,
					בפטנטים ובמדגמים של האתר, בין שהם רשומים ובין שאינם רשומים, בסודות מסחריים הטכנולוגי
					הכרוך בהפעלתו, לרבות אך מבלי לגרוע, תכנות, יישומים, קבצים גרפיים ואחרים, קודי מחשבים, טקסטים ו/או כל חומר אחר הכלול
					בו – למעט מידע הלקוחות כהגדרתו של מונח זה להלן
					(&quot;<b>המידע</b>&quot;). אין להעתיק, להפיץ, לשכפל, להציג בפומבי, או למסור לצד שלישי את המידע ו/או כל חלק ממנו. אין
					לשנות, לפרסם, לשדר, להעביר, למכור, להפיץ או לעשות שימוש מסחרי כלשהו במידע ו/או בכל חלק ממנו, אלא בהיתר מראש ובכתב מאת החברה.
				</p>
				<p>
					<span style="font-size: 12px;">13.2</span>
					למעט אם צוין במפורש, כל חומר ו/או מסר, לרבות אך לא רק, רעיון, ידע,
					טכניקה, תוכנית שיווק, מידע, שאלות, תשובות, הצעות, דוא&quot;ל והערות (&quot;<b>מידע
					הלקוחות</b>&quot;) שיימסר לידי החברה, לא ייחשב כחומר סודי או כזכות קניינית של הלקוח.
					הסכמה לתנאי השימוש תשמש כמתן אישור לחברה להשתמש בכל מידע הלקוחות (למעט מידע
					לקוחות הנודע לזיהוי אישי של הלקוח), לרבות פיתוחו בהתאם ולטובת צרכי החברה, לרבות
					ליחסי ציבור ולקידום האתר באמצעי המדיה השונים, לפי שיקול דעתה המוחלט והבלעדי של החברה, לרבות באינטרנט, בעיתונות, ו/או
					 הרשאה נוספת מן הלקוח ו/או לשלם לו תמורה כלשהי בגין השימוש כאמור.
				</p>
				<p>
					<span style="font-size: 12px;">13.3</span>
					הלקוח מתחייב כי כל הודעה, מסר וכל חומר אחר אשר ימסור הלקוח לחברה יהיו הולמים ולא יפגעו בכל זכות של אדם אחר, לרבות זכויות קניין רוחני. הלקוח לא יעלה לאתר ו/או ישלח באמצעותו כל חומר בלתי חוקי ו/או חומר שעלול לפגוע ו/או להטריד לקוחות ומשתמשים אחרים באתר, ו/או חומר פרסומי ומסחרי כלשהו, ולא ינהג בכל דרך העלולה לגרום נזקים לחברה.
				</p>
				<p>
					<span style="font-size: 12px;">13.4</span>
					נכסי הבסיס Nasdaq ו-Nasdaq 100 Fut (ביחד "נכסי Nasdaq") אינם בהשגחת NASDAQ OMX Group Inc. או בהשגחת חברות קשורות לה (ביחד, "חברות Nasdaq") ואינם נתמכים, נמכרים או מקודמים על ידי חברות Nasdaq. חברות Nasdaq לא אישרו את חוקיות נכסי Nasdaq או את התאמתם ולא אישרו את דיוק תיאורי נכסי Nasdaq באתר. חברות Nasdaq אינן מצהירות או נוטלות אחריות, במפורש או במשתמע, ללקוחות אשר מבצעים עסקאות בנכסי Nasdaq או לכל אדם אחר בקשר עם כדאיות ההשקעה בני"ע באופן כללי או בנכסי Nasdaq בפרט, או בקשר עם יכלתו של מדד Nasdaq Composite Index® לשקף את ביצועי שוק המניות הכללי. הקשר היחיד של חברות Nasdaq לחברה הינו במתן רשיון שימוש בסימני המסחר Nasdaq®, Nasdaq Composite®, Nasdaq Composite Index®, אשר נקבעים על ידי NASDAQ OMX, מורכבים ומחושבים על ידה, מבלי להתחשב בחברה או בנכסי Nasdaq עת קביעת הרכב ה-Nasdaq Composite Index® לא חלה על NASDAQ OMX כל חובה להתחשב בצרכי החברה או בצרכיהם של לקוחות אשר מבצעים עסקאות בנכסי Nasdaq. חברות Nasdaq אינן אחראיות על תזמון נכסי Nasdaq, מחיריהם או הכמויות המוצעים באתר ולא השתתפו בקביעתם. כן, חברות Nasdaq אינן אחראיות על קביעת הנוסחה לפיה נכסי Nasdaq מומרים לאופציות המוצגות באתר ולא השתתפו בחישובה. לחברות Nasdaq אין כל אחריות בקשר עם ניהול המסחר בנכסי Nasdaq באתר, או עם שיווקם.

					חברות Nasdaq אינן מבטיחות את דיוק החישוב של ה-Nasdaq Composite Index® או של כל מידע הנכלל בו ו/או את רציפותו. חברות Nasdaq אינן אחראיות, במפורש או במשתמע, לתוצאות אשר יושגו על ידי החברה, לקוחות אשר מבצעים עסקאות בנכסי Nasdaq או כל אדם אחר כתוצאה משימוש ב-Nasdaq Composite Index® או בכל מידע הנכלל בו. חברות Nasdaq אינן אחראיות, במפורש או במשתמע, ובמפורש מתנערות מכל אחריות לגבי יכולת השיווק שלNasdaq Composite Index® או של כל מידע הנכלל בו, או מהתאמתו למטרה מסוימת או לשימוש בו. מבלי לגרוע מן האמור לעיל, בכל מקרה חברות Nasdaq לא יישאו בכל חבות בקשר עם אבדן רווחים או עם נזקים מיוחדים, משניים, עונשיים, עקיפים או תוצאתיים, אפילו אם הודיעו להן על נזקים כאמור.
				</p>

			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>14	תוכן ואתרים של צדדים שלישיים</strong>
				<p>
					<span style="font-size: 12px;">14.1</span>
					האתר עשוי לכלול מידע כללי, חדשות, פרשנויות, ציטוטים וכיו"ב מידע הקשור לשווקים פיננסיים. חלק ממידע זה מסופק לאתר על ידי חברות שאינן קשורות בחברה ("תוכן צדדים שלישיים").
				</p>
				<p>
					<span style="font-size: 12px;">14.2</span>
					על אף שתוכן צדדים שלישיים, ככל שקיים כזה, מצוי באתר במסגרות או דרך קישוריות, החברה לא מכינה, עורכת, או מקדמת את תוכן הצדדים השלישיים. החברה אינה ערבה לאמינותו, דיוקו או שלמותו של תוכן הצדדים השלישיים ואינה אחראית לכל תוכן, פרסום, מוצר או כל חומר אחר המצוי באתרים של צדדים שלישיים.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>15	שיפוי</strong>
				<p>
				הלקוח ישפה את החברה ואת נציגיה/שלוחיה/וחברות-קשורות שלה, עובדיה, הדירקטורים שלה, יורשיהם ומוטביהם ("האנשים המשופים") כנגד כל חבויות, הפסדים, נזקים, עלויות והוצאות כלשהם (כולל שכר טרחת עו"ד בשיעורים סבירים) שיגרמו לאנשים המשופים בשל מחדל הלקוח לקיים באופן מלא ובמועד את התחייבויותיו כמפורט בתנאי השימוש ו/או בשל הצורך באכיפה של חבויות כאמור על ידי החברה.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>16	הסכם שלם ותיקונים</strong>
				<p>
					<span style="font-size: 12px;">16.1</span>
					הסכם הלקוחות, על כל נספחיו, מהווה את ההסכם השלם בין הצדדים וגובר על כל ההסכמים או ההבנות הקודמים בין הצדדים ביחס לנושאו של הסכם זה, ככל שהיו.
				</p>
				<p>
					<span style="font-size: 12px;">16.2</span>
					החברה רשאית לשנות את תנאי השימוש מעת לעת. על הלקוח מוטלת האחריות לבדוק האם בוצעו שינויים בתנאי השימוש. כל שינוי ייכנס לתוקף מיום פרסום השינוי באתר.
				</p>
				<p>
					<span style="font-size: 12px;">16.3</span>
					החברה לא תהא כבולה על ידי ויתור כלשהו אלא אם כן הוא נעשה במסמך שנכתב ונחתם כיאות על-ידי החברה ושום ויתור או תיקון של תנאי השימוש לא יוכל להשתמע ממהלך כלשהו של מגעים בין הצדדים או ממחדל כלשהו של החברה מלאכוף את זכויותיה על-פי תנאי השימוש.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>17	המחאה</strong>
				<p>
   					 החברה רשאית להמחות את זכויותיה ו/או חבויותיה בהתאם לתנאי השימוש באמצעות הודעה ללקוח. הלקוח אינו רשאי להמחות את זכויותיו ו/או התחייבויותיו אלא בהסכמה מוקדמת ובכתב מטעם החברה, אשר תינתן או לא תינתן על-פי שיקול-דעתה הבלעדי של החברה.
   				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>18	תקופת ההסכם וסיומו</strong>
				<p>
					<span style="font-size: 12px;">18.1</span>
					תקופת ההסכם איננה מוגבלת, ואולם החברה תהיה רשאית לסיים הסכם זה בכל עת ומועד, תוך מתן הודעה ללקוח ("<strong>מועד הסיום</strong>").
				</p>
				<p>
					<span style="font-size: 12px;">18.2</span>
					ממועד הסיום ואילך לא יוכל הלקוח להתקשר בעסקאות חדשות.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>19	אפשרות הפרדה</strong>
				<p>
					אם הוראה כלשהי בתנאי השימוש או יישומה כלפי אדם כלשהו או בנסיבה כלשהי יהיו בלתי-תקפים, בלתי-חוקיים או בלתי-ניתנים לאכיפה במידה כלשהי, אזי שאר תנאי השימוש ויישומם לא יושפעו מכך ויהיו בני אכיפה באופן המלא ביותר המותר על-פי דין.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>20	התאמת מחיר האופציה במקרה של איחוד או פיצול במניה המהווה נכס בסיס</strong>
				<p>
					אם במהלך התקופה שבין רכישת אופציה על מניה כנכס בסיס, לפקיעתה, עברה המניה תהליך של פיצול (split) או איחוד (reverse split), יותאם מחיר האופציה באופן יחסי להתאמת מחיר המניה, בבורסה בה היא נסחרת, בשל ביצוע הפיצול או האיחוד כאמור.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>21	התקשרויות, המצאת הודעות ודברי פרסומת</strong>
				<p>
					<span style="font-size: 12px;">21.1</span>
דו"חות והודעה כלשהי בהתאם להסכם זה, ניתן יהיה להעביר ללקוח על פי הכתובת שפורטה על ידי הלקוח בעת ההרשמה לאתר, או בכתובת אחרת כלשהי שהלקוח יודיע עליה בכתב לחברה מעת לעת. כל ההודעות שישוגרו ללקוח ייחשבו כאילו נמסרו לו במועד המסירה אם שוגרו בדוא"ל, פקסימיליה, או הועברו על-ידי שליח או שהועברו באמצעות תוכנת המסחר באינטרנט, או תוך שלושה (3) ימי עסקים, אם נשלחו בדואר. הודעות מהלקוח ייחשבו כאילו נמסרו רק לאחר שיתקבלו בפועל אצל החברה.
				</p>
				<p>
					<span style="font-size: 12px;">21.2</span>
פרטיו של לקוח שמסר ו/או ימסור אותו הלקוח לחברה, במסגרת פעילותו באתר, יכול וישמשו למשלוח דברי פרסומת מטעם החברה ("דברי פרסומת") אל הלקוח. זאת, אלא אם הלקוח הסיר את הסימון המאשר קבלת דברי פרסומת ("הסימון") בעת (i) קבלת דבר פרסומת או (ii) בכל עת באתר תחת החשבון שלי > פרטים אישיים.  הלקוח רשאי אף לשלוח הודעת דוא"ל לכתובת support@etrader.co.il  בה יבקש מהחברה להפסיק לשלוח לו דברי פרסומת ("דוא"ל סירוב"). הסרת סימון ו/או קבלת דוא"ל סירוב יביאו לכך כי בתוך 7 ימי עסקים ממועד כאמור, החברה תחדל מלשלוח ללקוח דברי פרסומת.
				</p>
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<br/><br/>
			<span class="pages_text">
				<strong>22	פרשנות</strong>
				<p>
					לכל המונחים המשמשים בהסכם זה ובתנאים הכלליים ואינם מוגדרים בו תהא המשמעות המיוחסת להם במילון המונחים. למונחים אחרים שאינם מוגדרים בהסכם זה או בתנאים הכלליים תהא המשמעות המיוחסת להם באופן מקובל ורגיל בעסקאות ובשירותים מסוג העסקאות והשירותים שבאתר. למען הסר ספק ולמעט אם נאמר אחרת, מילים המופיעות בתנאים הכלליים, הבאות ביחיד תכלולנה את הרבים וכן להיפך; מילים הבאות בלשון זכר תכלולנה גם מין נקבה וכן להיפך; מילים המיוחסות לבני אדם תכלולנה גם תאגידים. כותרות הסעיפים בתנאי השימוש נועדו לשם הנוחות בלבד ולא ישמשו לפרשנותם של תנאי השימוש.
				</p>
			</span>
		</td>
	</tr>
	<tr><td height="50px"></td></tr>
	<tr>
		<td align="center"><span class="pages_text" id="calc" name="calc" style="font-size: 13px;"><u>נספח ד'</u></span></td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td align="center"><span class="pages_text" style="font-size: 13px;"><u>חישוב שערי הפקיעה</u></span></td>
	</tr>
	<tr><td height="20px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>מדדים – שעתי</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">תל אביב 25</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.TA25 Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RTS Index</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.IRTS Last Value.</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* RTS FUTURE</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RIRTS Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* NASDAQ 100 Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.NQ Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Hang Seng</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.HSI Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Bombay 30</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.BSESN Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTSE Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE MIB</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTMIB</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE IT All-Share</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTITLMS Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DOW</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.DJI Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">S&amp;P 500</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.SPX Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NASDAQ</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.IXIC Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DAX</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.GDAXI Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CAC</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FCHI Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* CAC Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FCE Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Tadawul FF</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.TASI Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* KLSE Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FKLI Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SSE 180</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SSE180 Last Value</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Dubai</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.DFMGI Last Value</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* S&amp;P 500 Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ES Last Value.</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* DAX Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FDX Last Value</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">KOSPI</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.KS11 Last Value</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">S&amp;P/ASX 200</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.AXJO Last Value</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NIKKEI 225</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.N225 Last Value</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TOPIX 500</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.TOPX500 Last Value</td>

					</tr>
				</table>
				* יתכן ומקור הציטוט לצורך חישוב שער הפקיעה ישתנה בימים מסויימים.
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>מניות חו"ל – שעתי</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Morgan Stanley</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">MS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Wal-Mart</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">WMT</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע מתקבל בהתאם לתוצאת הנוסחה להלן, אליה מוזנים השערים המוצגים במועד הפקיעה: (ASK+BID+LAST)/3 התוצאה הסופית מעוגלת למעלה באם הספרה השלישית שאחרי הנקודה העשרונית שווה ל-5 או גדולה ממנו, ומעוגלת כלפי מטה באם הספרה השלישית שאחרי הנקודה העשרונית קטנה מ-5.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Walt Disney</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DIS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Exxon Mobil</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">XOM</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Intel</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">INTC.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Noble Energy</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NBL</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Coca Cola</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">KO</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Apple</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">AAPL.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Goldman Sachs</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Microsoft</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">MSFT.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JP Morgan Chase</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JPM</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEVA PHARMA CEUTICAL</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEVA.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Nike</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NKE</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Check Point</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CHKP.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Las Vegas Sands</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">LVS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">McDonald's</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">MCD</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Johnson &amp; Johnson</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JNJ</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Baidu</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BIDU.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SINA Corporation</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SINA.O</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Telefonica</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEF.MC</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע מתקבל בהתאם לתוצאת הנוסחה להלן, אליה מוזנים השערים המוצגים במועד הפקיעה: (ASK+BID +LAST)/3</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Generali</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GASI.MI</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">UniCredit</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CRDI.MI</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Intesa Sanpaolo</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ISP.MI</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Telecom Italia</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TLIT.MI</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Vodafone</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">VOD.L</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Barclays</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BARC.L</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">British Petroleum</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BP.L</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RBS</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RBS.L</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Volkswagen</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">VOWG.DE</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Daimler</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DAIGn.DE</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Deutsche Bank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DBKGn.DE</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BHP Billiton Limited</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BHP.AX</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ANZ bank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ANZ.AX</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Mitsubishi corp</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">8058.T</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TOYOTA MOTOR CORP</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">7203.T</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TATA MOTOR</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TAMO.BO</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Allianz</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ALVG.DE</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EDF</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EDF.PA</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">France Telecom</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ORAN.PA</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Renault</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RENA.PA</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Societe Generale</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SOGN.PA</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TESCO</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TSCO.L</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Gazprom</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GAZPS.MM</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Sberbank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SBERS.MM</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Rosneft</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ROSNS.MM</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Industrial Bank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">601166.SS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CPIC Group</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">601601.SS</td>

					</tr>
					<tr class="pages_text" style="display:none;">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CMB</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">600036.SS</td>

					</tr>
					<tr class="pages_text" style="display:none;">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">PetroChina</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">601857.SS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Ping An Insurance</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">601318.SS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Air China Limited</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">601111.SS</td>

					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Twitter</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TWTR Last Value</td>
					</tr>
				</table>
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>מטבעות וסחורות – שעתי</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר/שקל</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ILS__H=RR</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ליש"ט / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GBPH=</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע מתקבל בהתאם לתוצאת הנוסחה להלן, אליה מוזנים השערים המוצגים במועד הפקיעה: <span dir="ltr">(ASK+BID)/2</span> התוצאה הסופית מעוגלת למעלה באם הספרה האחרונה שאחרי הנקודה העשרונית שווה ל-5 או גדולה ממנו, ומעוגלת כלפי מטה באם הספרה האחרונה שאחרי הנקודה העשרונית קטנה מ-5.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EURH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / ראנד</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ZARH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / לירה טורקית</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TRYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / ין יפני</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JPYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו / ין יפני</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EURJPYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / דולר קנדי</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CADH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר אוסטרלי / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">AUDH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר ניוזילנד / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NZDH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ליש"ט / ין</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GBPJPYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / פרנק שוייצרי</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CHFH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו/ליש"ט</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EURGBPH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* זהב</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GCv1</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* כסף</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SIv1</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* נחושת</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">HGv1</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* נפט</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CLv1 Last Value</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
				</table>
				* יתכן ומקור הציטוט לצורך חישוב שער הפקיעה ישתנה בימים מסויימים.
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>מדדים ומניות תל אביב – סוף יום, סוף שבוע וסוף חודש</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">תל אביב 25</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TA25 Closing level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">רציו</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RATIp.TA Closing level</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא שער הסגירה היומי המתפרסם ביום הפקיעה</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">בזק</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BEZQ.TA Closing level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דלק</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DELKG.TA Closing level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">טבע</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEVA.TA Closing level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">פועלים</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">POLI.TA Closing level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">לאומי</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">LUMI.TA Closing level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">כיל</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ICL.TA Closing level</td>
					</tr>
					<tr><td height="10px"></td></tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* NASDAQ 100 Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.NQ Last Value.</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">IRTS</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.IRTS Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RIRTSc1</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RIRTSc1 Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Hang Seng</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.HSI Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">PSI20</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">PSI Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">IBEX35</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">IBEX Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Bombay 30</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.BSESN Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTSE Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE MIB</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTMIB Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE IT All-Share</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTITLMS Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DOW</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.DJI Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">S&amp;P 500</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.SPX Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NASDAQ</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.IXIC Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DAX</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.GDAXI Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CAC</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FCHI Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* CAC Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FCE Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Tadawul FF</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.TASI Last Value.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SSE 180</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SSE180 Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Dubai</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.DFMGI Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* KLSE Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FKLI Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* S&amp;P 500 Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ES Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* DAX Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FDX Last Value</td>
					</tr>
				</table>
				* יתכן ומקור הציטוט לצורך חישוב שער הפקיעה ישתנה בימים מסויימים.
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>מניות חו"ל – סוף יום, סוף שבוע וסוף חודש</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Morgan Stanley</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">MS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Wal-Mart</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">WMT Last Value</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Walt Disney</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DIS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Exxon Mobil</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">XOM Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Intel</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">INTC.O Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Gazprom</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GAZPS.MM Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Sberbank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SBERS.MM Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Rosneft</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ROSNS.MM Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Noble Energy</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NBL Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Telefonica</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEF.MC Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Coca Cola</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">KO Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Apple</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">AAPL.O Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Generali</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">INTC.OQ Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">UniCredit</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CRDI.MI Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Intesa Sanpaolo</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ISP.MI Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Telecom Italia</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TLIT.MI Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Goldman Sachs</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Microsoft</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">MSFT.O Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Vodafone</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">VOD.L Closing Level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Barclays</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BARC.L Closing Level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">British Petroleum</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BP.L Closing Level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RBS</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RBS.L Closing Level</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JP Morgan Chase</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JPM Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Volkswagen</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">VOWG.DE Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Daimler</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DAIGn.DE Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Deutsche Bank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DBKGn.DE Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEVA PHARMA CEUTICAL</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TEVA.O Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BHP Billiton Limited</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">BHP.AX Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ANZ bank</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ANZ.AX Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Mitsubishi corp</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">8058.T Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TOYOTA MOTOR CORP</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">7203.T Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TATA MOTOR</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TAMO.BO Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Nike</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NKE Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Check Point</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CHKP.O Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Las Vegas Sands</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">LVS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">McDonald's</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">MCD Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Johnson &amp; Johnson</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JNJ Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Allianz</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ALVG.DE Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EDF</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EDF.PA Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TESCO</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TSCO.L Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">France Telecom</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ORAN.PA Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Renault</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">RENA.PA Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Societe Generale</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SOGN.PA Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">DI Corporation</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">003160.KS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Hyundai HCN</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">126560.KS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">LG Corp</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">003550.KS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Samsung electronics</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">005930.KS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Wooridul Life</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">118000.KS Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">Twitter</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TWTR Last Value</td>
					</tr>
				</table>
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>מטבעות וסחורות – סוף יום, סוף שבוע וסוף חודש</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר/שקל</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ILS__H=RR</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ליש"ט / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GBPH=</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע מתקבל בהתאם לתוצאת הנוסחה להלן, אליה מוזנים השערים המוצגים במועד הפקיעה: (ASK+BID)/2 התוצאה הסופית מעוגלת למעלה באם הספרה האחרונה שאחרי הנקודה העשרונית שווה ל-5 או גדולה ממנו, ומעוגלת כלפי מטה באם הספרה האחרונה שאחרי הנקודה העשרונית קטנה מ-5.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EURH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / ראנד</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ZARH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / לירה טורקית</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">TRYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / ין יפני</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JPYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו / ין יפני</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EURJPYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / דולר קנדי</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CADH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר אוסטרלי / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">AUDH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר ניוזילנד / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">NZDH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ליש"ט / ין</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GBPJPYH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / פרנק שוייצרי</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CHFH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו/ליש"ט</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EURGBPH=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* זהב</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GCv1</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* כסף</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">SIv1</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* נחושת</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">HGv1</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* נפט</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CLv1 Last Value</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
				</table>
				* יתכן ומקור הציטוט לצורך חישוב שער הפקיעה ישתנה בימים מסויימים.
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr>
		<td>
			<span class="pages_text" style="font-size: 13px;">
				<strong>אופציה+</strong>
				<table cellpadding="0" cellspacing="0" class="pages_text_10"  width="100%">
					<tr bgcolor="#e1e1e1">
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="25%" height="20px"><strong>נכס בסיס</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_up_left" width="30%"><strong>מקור ציטוט ב-Reuters</strong></td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_right" width="45%"><strong>אופן חישוב</strong></td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">נפט</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">CLv1 Last Value</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה (price)</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* DAX Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FDX Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר / ין יפני</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">JPY=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* S&amp;P 500 Future</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ES Last Value</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">יורו / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">EUR=</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע מתקבל בהתאם לתוצאת הנוסחה להלן, אליה מוזנים השערים המוצגים במועד הפקיעה: (ASK+BID)/2</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">דולר אוסטרלי / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">AUD=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">ליש"ט / דולר</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GBP=</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">* זהב</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">GCv1</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע מתקבל בהתאם לתוצאת הנוסחה להלן, אליה מוזנים השערים המוצגים במועד הפקיעה: (ASK+BID)/2 התוצאה הסופית מעוגלת למעלה באם הספרה האחרונה שאחרי הנקודה העשרונית שווה ל-5 או גדולה ממנו, ומעוגלת כלפי מטה באם הספרה האחרונה שאחרי הנקודה העשרונית קטנה מ-5.</td>
					</tr>
					<tr class="pages_text">
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">FTSE MIB</td>
						<td class="pages_text_10 assetIndex_info_table_border_left_up_down">.FTMIB</td>
						<td rowspan="2" class="pages_text_10 assetIndex_info_table_border">השער הקובע הוא השער המוצג במקור הציטוט במועד הפקיעה</td>
					</tr>
				</table>
				* יתכן ומקור הציטוט לצורך חישוב שער הפקיעה ישתנה בימים מסויימים.
			</span>
		</td>
	</tr>
	<tr><td height="10px"></td></tr>
	<tr class="pages_text_10">
		<td>
			שער הפקיעה במועד הפקיעה הרלוונטי הוא השער המוצג במקור הציטוט במועד הפקיעה המדויק (שעת הפקיעה המדויקת ברמת אלפית השניה). במקרה שבמועד הפקיעה המדויק לא מופיע ציטוט, שער הפקיעה הקובע הוא השער האחרון במקור הציטוט לפני מועד הפקיעה.
		</td>
	</tr>
	<tr><td height="20px"></td></tr>
</table>
</div>
<script>
	if(location.href.indexOf('fromApp') > -1){
		var tbl = document.getElementsByTagName('table');
		for(var i=0;i&lt;tbl.length;i++){
			tbl[i].style.color = "white";
		}
	};
</script>
</f:view>
