<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/android.css?new=cvsVersionParam" type="text/css"/>
</head>
<body class="mainBonus" dir="rtl">
<div id="mainDiv">
	<table border="0px" cellspacing="0px" cellpadding="0px">
		<tr>
			<td>
				<br />
				<span class="bonus">אופציה עם הגנה מוגדלת</span><br/><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			אנחנו שמחים להציע לך הטבה מיוחדת: אופציה עם הגנה מוגדלת.<br/><br/>

						באופציה הבאה שתרכוש תוכל ליהנות מהגנה מוגדלת בגובה 85% (במקום 15%) במקרה של פקיעה מחוץ לכסף! במקרה של פקיעה בתוך הכסף תיהנה מאחוזי תשואה רגילים בהתאם לאופציה שתרכוש  (65-71%).<br/><br/>

						ההצעה בתוקף עד לתאריך &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>. שים לב שעם מימוש ההטבה חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה.<br/><br/>

						שים לב שעם מימוש ההטבה חלות הגבלות על משיכה מחשבונך, כמפורט בתנאים הכלליים למטה.<br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_text"><strong>בונוסים - תנאים כלליים</strong><br/>
	            הבונוס יזוכה לחשבון הלקוח רק לאחר עמידה בתנאי המבצע בו הוצע לו להשתתף, בהם ביצוע הפקדה ו/או השקעות בסכום מינימלי תוך זמן קצוב.
				<br/><br/>
				ההטבה לא חלה על השקעות באופציות מסוג One Touch ו/או השקעות בזירת המסחר אופציה+.
				<br/><br/>
				אם לא צוין אחרת בתנאי המבצע, תנאי מוקדם לביצוע משיכה לאחר מימוש הבונוס הוא ביצוע השקעות בגובה פי #{facesContext.externalContext.requestParameterMap['wageringParam']} מסכום ההשקעה במסגרת ההטבה.
				
				<br/><br/>
				החברה מעודדת את לקוחותיה לקחת חלק במבצעים אך להימנע מניצולם לרעה. שימוש לרעה במבצע כלשהו עלול לגרום לביטול הבונוס ולסגירת חשבון הלקוח באתר החברה.
				<br/><br/>
				לאחר קבלת הבונוס / הטבה, על הלקוח להשלים את מכסת ההשקעות הנדרשת כתנאי מקדים לביצוע משיכה בתוך 3 (שלושה) חודשים קלנדריים. אם הלקוח לא עמד בסך ההשקעות הנדרש במהלך פרק זמן זה, החברה תמשוך את סכום הבונוס / הטבה מחשבון הלקוח, על סמך שיקול דעתה הבלעדי.
				<br/><br/>
				יש להשתמש בבונוסים בתוך התקופה הנקובה בפרטי המבצע. במידה ולא ייעשה שימוש בבונוס בתוך פרק זמן זה, הבונוס יימשך מחשבון הלקוח.
				<br/><br/>
				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span>
				<br /><br />
				</td>
			<td width="10px"></td>
		</tr>
	</table>
</div>
</body>
</html>