<div ng-controller="PendingWithdrawalsController" id="tab-content" class="transactions-content">
	<h1><span>{{getMsgs('pendingWithdrawals')}}<span></h1>
	<div class="global-errors-container" ng-if="globalErrorMsg" ng-bind-html="globalErrorMsg"></div>
	<div ng-if="action == ''" class="box transactions-screen">
		<div class="box-header">
			<h2>{{getMsgs('ids-list')}}</h2>
			<toggler toggle="filter" default-state="on" on-toggle="filterToggled" />
		</div>
		<form name="_form" novalidate>
			<div class="box-sub-header static-filters">
				<label for="startDate" class="filter-label">
					{{getMsgs('from')}}:
				</label>
				<div class="date-holder">
					<input id="startDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="openCalendar($event, 'startDate')" 
						ng-model="filter.startDate" is-open="filter.openDates.startDate" enable-time="false" min-date="filter.minDate" max-date="filter.endDate" datepicker-options="dateOptions" />
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDate')"><i class="fa fa-calendar"></i></button>
				</div>
				<label for="endDate" class="filter-label">
					{{getMsgs('to')}}:
				</label>
				<div class="date-holder">
					<input id="endDate" type="text" class="form-control" datetime-picker="dd/MM/yyyy" required ng-click="openCalendar($event, 'endDate')" 
						ng-model="filter.endDate" is-open="filter.openDates.endDate" enable-time="false" min-date="filter.startDate" max-date="filter.maxDate" datepicker-options="dateOptions" />
					<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endDate')"><i class="fa fa-calendar"></i></button>
				</div>
				
				<label>
					<span class="filter-label">{{getMsgs('transaction-id')}}:</span>
					<input ng-model="filter.transactionId" type="text" restrict-digits/>
				</label>
				
				<label>
					<span class="filter-label">{{getMsgs('user-id')}}:</span>
					<input ng-model="filter.userId" type="text" restrict-digits/>
				</label>
				
				<div class="right-block">
					<button type="button" class="button blue" toggable-off="filter" ng-click="getAll()">{{getMsgs('search')}}</button>
					
					<label>
						<span class="filter-label">{{getMsgs('show-entries')}}:</span>
						<single-select ng-model="filter.resultsPerPage"></single-select>
					</label>
				</div>
			</div>
			<div class="box-sub-header columns" toggable-on="filter">
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('class-users')}}:</span>
							<span>
								<select ng-model="filter.classUser" ng-options="classUser.name for classUser in filter.classUsers | orderBy:sortFilter"></select>
							</span>
						</label>

						<label>
							<span class="filter-label">{{getMsgs('business-case')}}:</span>
							<span>
								<multiselect model="filter.skinBusinessCases" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('skin')}}:</span>
							<span>
								<multiselect model="filter.skins" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('country')}}:</span>
							<span>
								<multiselect model="filter.countries" />
							</span>
						</label>

						<label>
							<span class="filter-label">{{getMsgs('currency')}}:</span>
							<span>
								<multiselect model="filter.currencies" />
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label>
							<span class="filter-label">{{getMsgs('transaction-type')}}:</span>
							<span>
								<multiselect model="filter.pendingWithdrawTypes" />
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('withdrawals.invested')}}:</span>
							<span>
								<select ng-model="filter.userInvested" ng-options="userInvested.name for userInvested in filter.userInvestedFilter | orderBy:sortFilter"></select>
							</span>
						</label>
						
						<label>
							<span class="filter-label">{{getMsgs('withdrawals.pastWDs')}}:</span>
							<span>
								<select ng-model="filter.pastWithdraw" ng-options="pastWithdraw.name for pastWithdraw in filter.pastWithdraws | orderBy:sortFilter"></select>
							</span>
						</label>
						
						<div class="row">
							<span class="cell filter-label">{{getMsgs('amount-from')}}:</span>
							<span class="cell">
								<input ng-model="filter.amountUSDFrom" type="text" class="short-input" />
								<label>
									<span class="filter-label">{{getMsgs('to')}}:</span>
									<input ng-model="filter.amountUSDTo" type="text" class="short-input" />
								</label>
							</span>
						</div>
						
						<label ng-if="screenNameShort == 'second'">
							<span class="filter-label">{{getMsgs('accounting-ok')}}:</span>
							<span>
								<select ng-model="filter.flagAccountingOk" ng-options="flag.name for flag in filter.flagAccountingOkFilter"></select>
							</span>
						</label>
					</div>
				</div>
				
				<div class="column-one-third">
					<div class="table">
						<label ng-if="permissions.get(pagePermissions.flag)">
							<span class="filter-label">{{getMsgs('withdrawals.flag-subject')}}:</span>
							<span>
								<multiselect model="filter.flagSubjects" />
							</span>
						</label>
						
						<label ng-if="permissions.get(pagePermissions.status)">
							<span class="filter-label">{{getMsgs('status')}}:</span>
							<span>
								<select ng-model="filter.withdrawStatus" ng-options="withdrawStatus.name for withdrawStatus in filter.withdrawStatusFilter | orderBy:sortFilter"></select>
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="box-sub-header" toggable-on="filter">
				<button type="button" class="button blue" ng-click="getAll(_form)">{{getMsgs('search')}}</button>
			</div>
		</form>
		<div class="box-body" ng-if="pendingWithdraws && pendingWithdraws.length == 0">
			<h2>{{getMsgs('no-results-found')}}</h2>
		</div>

		<div class="box-body" ng-if="pendingWithdraws && pendingWithdraws.length > 0">
			<table class="pretty-table" id="exportTable">
				<thead>
					<tr>
						<th>{{getMsgs('transaction.id')}}</th>
						<th>{{getMsgs('user-id')}}</th>
						<th>{{getMsgs('user-name')}}</th>
						<th>{{getMsgs('skin')}}</th>
						<th>{{getMsgs('country')}}</th>
						<th>{{getMsgs('transactions.date')}}</th>
						<th>{{getMsgs('type')}}</th>
						<th>{{getMsgs('amount')}}</th>
						<th>{{getMsgs('deposit.usd.amount')}}</th>
						<th>{{getMsgs('withdrawals.invested')}}?</th>
						<th>{{getMsgs('withdrawals.pastWDs')}}?</th>
						<th ng-if="permissions.get(pagePermissions.flag)">{{getMsgs('withdrawals.flag-subject')}}</th>
						<th ng-if="screenNameShort == 'second'">{{getMsgs('cy-ok')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="pendingWithdraw in pendingWithdraws" ng-class="{ specialRow: pendingWithdraw.transactionFlagged && pendingWithdraw.flagSubject && screenNameShort != 'support' }">
						<td class="clickable" ng-click="changeView('details', pendingWithdraw)">{{pendingWithdraw.transactionId}}</td>
						<td>{{pendingWithdraw.userId}}</td>
						<td>{{pendingWithdraw.userName}}</td>
						<td>{{pendingWithdraw.skinName}}</td>
						<td>{{pendingWithdraw.countryName}}</td>
						<td>{{pendingWithdraw.timeCreated | date: 'HH:mm dd/MM/yyyy'}}</td>
						<td>{{getMsgs(pendingWithdraw.typeName)}}</td>
						<td>{{formatAmount({amount: pendingWithdraw.amount, centsPart: 2, currencyId: pendingWithdraw.currencyId})}}</td>
						<td>{{(pendingWithdraw.currencyId != 2) ? formatAmount({amount: pendingWithdraw.amountInUSD, centsPart: 2}) : ''}}</td>
						<td>{{pendingWithdraw.invested ? getMsgs('yes') : getMsgs('no')}}</td>
						<td>{{pendingWithdraw.pastWithdraws ? getMsgs('yes') : getMsgs('no')}}</td>
						<td ng-if="permissions.get(pagePermissions.flag)"> {{pendingWithdraw.flagSubject}}</td>
						<td ng-if="screenNameShort == 'second'" class="taC">
							<button title="{{getMsgs('cy-ok')}}" class="button blue" ng-if="pendingWithdraw.accountingOkFlag && permissions.get('pendingWithdrawalSecondApprove_cyApprove')" ng-click="cySecondApproveWithdraw(pendingWithdraw)">{{getMsgs('cy-ok')}}</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="box-footer" ng-if="pendingWithdraws && pendingWithdraws.length > 0">
			<pagination model="pagination">
				<div class="taR">
					<a onclick="exportSearchCSV('exportTable')" class="icons excel mr10"></a>
				</div>
			</pagination>
		</div>
	</div>
	<div ng-if="action == 'details'" class="box transactions-screen" ng-include="folderPrefix + '/transaction/pendingWithdrawals-details.html'"></div>
</div>