<div class="box-header table">
	<div class="cell">
		<div class="table short withCellPadding">
			<div class="cell"><b>{{getMsgs('transactions.id')}}:</b> <span>{{pendingWithdrawSelected.transactionId}}</span></div>
			<div class="cell"><b>{{getMsgs('pendingwithdraws.date')}}:</b> <span>{{pendingWithdrawSelected.timeCreated | date: 'HH:mm dd/MM/yyyy'}}</span></div>
			<div class="cell"><b>{{getMsgs('transinvestments.type')}}:</b> <span>{{getMsgs(pendingWithdrawSelected.typeName)}}</span></div>
			<div class="cell"><b>{{getMsgs('transinvestments.status')}}:</b> <span>{{pendingWithdrawSelected.statusDsp}}</span></div>
			<div class="cell"><b>{{getMsgs('transinvestments.amount')}}:</b> <span>{{formatAmount({amount: pendingWithdrawSelected.amountInUSD, centsPart: 2})}}</span></div>
			<div class="cell"><b>{{getMsgs('investments.userid')}}:</b> <span>{{pendingWithdrawSelected.userId}}</span></div>
			<div class="cell"><b>{{getMsgs('skin')}}:</b> <span>{{pendingWithdrawSelected.skinName}}</span></div>
		</div>
	</div>
	<span class="cell back" ng-click="changeView('')">{{getMsgs('button.return')}}</span>
</div>
<div>
	<div class="line-toggle _toggleLine">
		{{getMsgs('user-withdraw-details')}}
	</div>
	<div class="table topLevel _toggleLineContent">
		<div class="table-cell pr10">
			<div class="info-block table">
				<div class="table-cell">
					<div class="table row-line last-bold">
						<div class="table-row">
							<span>{{getMsgs('username')}}</span>
							<span><a class="user-strip-link" ng-href="{{getUserStripUrl(pendingWithdrawSelected.userId)}}" target="_blank">{{userDetailsSelected.userName}}</a></span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('general.active')}}?</span>
							<span>{{(userDetailsSelected.activeUser) ? getMsgs('yes') : getMsgs('no')}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('first-name')}}</span>
							<span>{{userDetailsSelected.userFirstName}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('last-name')}}</span>
							<span>{{userDetailsSelected.userLastName}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('pendingwithdraws.address')}}</span>
							<span>{{userDetailsSelected.userAddress}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('country')}}</span>
							<span>
								<img ng-src="{{userDetailsSelected.countryFlag}}" class="vaM"/>
								{{userDetailsSelected.countryName}}
							</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('pendingwithdraws.mobile')}}</span>
							<span>{{userDetailsSelected.mobilePhone}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('landline-phone')}}</span>
							<span>{{userDetailsSelected.landlinePhone}}</span>
						</div>
					</div>
				</div>
				<div class="table-cell">
					<div class="table row-line last-bold">
						<div class="table-row" ng-if="userDetailsSelected.lastFourDigitsCCnumber">
							<span>{{getMsgs('credit-card')}}</span>
							<span>{{userDetailsSelected.lastFourDigitsCCnumber}} {{userDetailsSelected.binDsp}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.beneficiaryName">
							<span>{{getMsgs('bank.wire.beneficiary.name')}}</span>
							<span>{{userDetailsSelected.beneficiaryName}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.swift">
							<span>{{getMsgs('bank.wire.swift')}}</span>
							<span>{{userDetailsSelected.swift}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.iban">
							<span>{{getMsgs('bank.wire.iban')}}</span>
							<span>{{userDetailsSelected.iban}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.accountNumber">
							<span>{{getMsgs('bank.wire.account.number')}}</span>
							<span>{{userDetailsSelected.accountNumber}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.bankName">
							<span>{{getMsgs('bank.wire.bank.name')}}</span>
							<span>{{userDetailsSelected.bankName}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.branchNumber">
							<span>{{getMsgs('transactions.wirebranch')}}</span>
							<span>{{userDetailsSelected.branchNumber}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.branchAddress">
							<span>{{getMsgs('bank.wire.branch.address')}}</span>
							<span>{{userDetailsSelected.branchAddress}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.skrillEmail">
							<span>{{getMsgs('skrill-account')}}</span>
							<span>{{userDetailsSelected.skrillEmail}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.paypalEmail">
							<span>{{getMsgs('paypal.email')}}</span>
							<span>{{userDetailsSelected.paypalEmail}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="table-cell pl10">
			<div class="info-block table">
				<div class="table-cell">
					<div class="table row-line last-bold">
						<div class="table-row">
							<span>{{getMsgs('source')}}</span>
							<span>{{userDetailsSelected.source}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.firstApproveWriter">
							<span>{{getMsgs('firstApprove')}}</span>
							<span>{{userDetailsSelected.firstApproveWriter}} {{userDetailsSelected.firstApproveDate | date: 'HH:mm dd/MM/yyyy'}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('amount')}}</span>
							<span>{{formatAmount({amount: userDetailsSelected.amount, centsPart: 2, currencyId: userDetailsSelected.currencyId})}}</span>
						</div>
						<div class="table-row" ng-if="userDetailsSelected.amountUSD != userDetailsSelected.amount">
							<span>{{getMsgs('amount-in-usd')}}</span>
							<span>{{formatAmount({amount: userDetailsSelected.amountUSD, centsPart: 2})}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('pendingwithdraws.feecancel')}}</span>
							<span><input type="checkbox" ng-model="formDetails.exemptFee" ng-disabled="!permissions.get(pagePermissions.feeExamp)"/></span>
						</div>
						<div class="table-row" ng-if="!formDetails.exemptFee">
							<span>{{getMsgs('pendingwithdraws.fee')}}</span>
							<span>{{formatAmount({amount: userDetailsSelected.feeAmount, centsPart: 2, currencyId: userDetailsSelected.currencyId})}}</span>
						</div>
						<div class="table-row">
							<span>{{getMsgs('pendingwithdraws.amountafterfee')}}</span>
							<span ng-if="!formDetails.exemptFee">{{formatAmount({amount: (userDetailsSelected.amount-userDetailsSelected.feeAmount), centsPart: 2, currencyId: userDetailsSelected.currencyId})}}</span>
							<span ng-if="formDetails.exemptFee">{{formatAmount({amount: userDetailsSelected.amount, centsPart: 2, currencyId: userDetailsSelected.currencyId})}}</span>
						</div>
					</div>
				</div>
				<div class="table-cell">
					<div class="table row-line last-bold">
						<div class="table-row with-input" ng-if="pendingWithdrawSelected.typeId == 10">
							<span>{{getMsgs('pendingwithdraws.expected.provider')}}</span>
							<span><input type="checkbox" ng-model="formDetails.expectedProviderChange" ng-disabled="!permissions.get(pagePermissions.clearingProvider)" /></span>
							<span class="cell w1p">
								<select ng-disabled="!formDetails.expectedProviderChange" ng-disabled="!permissions.get(pagePermissions.clearingProvider)" class="mid-select" ng-model="filter.clearingProvider" ng-options="clearingProvider.name for clearingProvider in filter.clearingProvidersFilter | orderBy:sortFilter"></select>
							</span>
						</div>
						<div class="table-row with-input">
							<span>{{getMsgs('flag-support')}}</span>
							<span><input type="checkbox" ng-model="formDetails.flagChecked" /></span>
							<span>
								<select ng-disabled="!formDetails.flagChecked" class="mid-select" ng-model="filter.flagSubjectsSingle" ng-options="flagSubject.name for flagSubject in filter.flagSubjectsSingleFilter | orderBy:sortFilter"></select>
							</span>
						</div>
						<div class="table-row with-input" ng-if="screenNameShort == 'second'">
							<span>{{getMsgs('accounting-ok')}}</span>
							<span><input type="checkbox" ng-model="formDetails.accountingOkFlag" ng-click="setAccountingWriter()" ng-disabled="!permissions.get(pagePermissions.accountingOk)"/></span>
							<span>
								<span ng-if="userDetailsSelected.accountingOkDate > 0">{{userDetailsSelected.accountingOkWriter}}, {{userDetailsSelected.accountingOkDate | date: 'defaultDate'}}</span>
							</span>
						</div>
					</div>
					<div class="text-area">
						<label>{{getMsgs('general.comments')}}</label>
						<textarea maxlength="500" ng-model="formDetails.comments"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="line-toggle _toggleLine" ng-click="getTransactionDetails()">
		{{getMsgs('menu.retention.overview')}}
	</div>
	<div class="table topLevel _toggleLineContent hidden">
		<div class="cell pr10">
			<div class="info-block table">
				<div class="table row-line last-bold">
					<div class="table-row">
						<span>{{getMsgs('general.balance')}}</span>
						<span>{{formatAmount({amount: transactionDetailsSelected.balance, centsPart: 2})}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('withdrawals.win_lose')}}</span>
						<span class="cRed">{{formatAmount({amount: transactionDetailsSelected.winLose, centsPart: 2})}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('pendingdocuments.controlApproved')}}</span>
						<span ng-if="!transactionDetailsSelected.controlApproved">{{getMsgs('no')}}</span>
						<span ng-if="transactionDetailsSelected.controlApproved">{{getMsgs('yes')}}, {{transactionDetailsSelected.controlApprovedDate | date: 'HH:mm dd/MM/yyyy'}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('transactions.investment')}}</span>
						<span>{{(transactionDetailsSelected.investmentsCount > 0) ? transactionDetailsSelected.investmentsCount : getMsgs('none')}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="cell pr10">
			<div class="info-block table">
				<div class="table row-line last-bold">
					<div class="table-row">
						<span>{{getMsgs('bonuses')}}</span>
						<span>{{getMsgs('bonus-get-use',{given: transactionDetailsSelected.bonusReceived, used: transactionDetailsSelected.bonusUsed})}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('active-bonuses')}}</span>
						<span>{{transactionDetailsSelected.activeBonusesDsp}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('wagering-waved')}}</span>
						<span>{{(transactionDetailsSelected.wageringWaved) ? getMsgs('yes') : getMsgs('no')}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('traders-reviewed')}}</span>
						<span>
							<input type="checkbox" ng-model="transactionDetailsSelected.tradersReviewed" ng-disabled="!permissions.get(pagePermissions.tradersReviewed)"/>
							<span ng-if="transactionDetailsSelected.tradersReviewedDate > 0">{{transactionDetailsSelected.tradersReviewedDate | date: 'dd.MM.yyyy'}} {{transactionDetailsSelected.tradersReviewedWriter}}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="cell pr10">
			<div class="info-block table">
				<div class="table row-line last-bold">
					<div class="table-row">
						<span>{{getMsgs('withdrawals.total_success_withdrawals')}}</span>
						<span>{{transactionDetailsSelected.successfulWithdrawsCount}}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('register.totalwithdrawals')}}</span>
						<span>{{formatAmount({amount: transactionDetailsSelected.sumWithdraws, centsPart: 2})}}</span>
					</div>
					
					<div class="table-row">
						<span>{{getMsgs('documents')}}</span>
						<span>
							<div>
								{{getMsgs('ccblacklist.id')}}: 
								<span ng-if="transactionDetailsSelected.approvedId">{{getMsgs('yes')}}</span>
								<span ng-if="!transactionDetailsSelected.approvedId">{{getMsgs('no')}}</span>
							</div>
							<div ng-if="transactionDetailsSelected.userRegulated">
								{{getMsgs('ub')}}: 
								<span ng-if="transactionDetailsSelected.approvedUtilityBill">{{getMsgs('yes')}}</span>
								<span ng-if="!transactionDetailsSelected.approvedUtilityBill">{{getMsgs('no')}}</span>
							</div>
							<div ng-if="transactionDetailsSelected.displayCC">
								{{getMsgs('credit-card')}}: 
								<span ng-if="transactionDetailsSelected.approvedCreditCard">{{getMsgs('yes')}}</span>
								<span ng-if="!transactionDetailsSelected.approvedCreditCard">{{getMsgs('no')}}</span>
							</div>
						</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('signed-wd-form')}}</span>
						<span>
							<a ng-if="transactionDetailsSelected.signedFormName" ng-href="{{getDocUrl(transactionDetailsSelected.signedFormName)}}" target="_blank">{{transactionDetailsSelected.signedFormDate | date: 'dd.MM.yyyy'}}</a>
							<span ng-if="!transactionDetailsSelected.signedFormName">{{getMsgs('no')}}</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="cell pr10">
			<div class="info-block table">
				<div class="table row-line last-bold">
					<div class="table-row">
						<span>{{getMsgs('deposits.summary.total.deposits')}}</span>
						<span>{{formatAmount({amount: transactionDetailsSelected.totalDeposits, centsPart: 2, currencyId: userDetailsSelected.currencyId}) }}</span>
					</div>
					<div class="table-row">
						<span>{{getMsgs('total-deposits-usd')}}</span>
						<span>{{formatAmount({amount: transactionDetailsSelected.totalDepositsUSD, centsPart: 2})}}</span>
					</div>
					<div class="table-row" ng-if="transactionDetailsSelected.isHavePendingDeposit">
						<span class="cRed b">{{getMsgs('user-has-pending-deposits')}}</span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div class="line-toggle _toggleLine" ng-click="getDepositSummaryDetails()">
		{{getMsgs('menu.deposits.summary')}}
	</div>
	<div class="box-holder _toggleLineContent hidden">
		<table class="prettier-table" cellspacing='0' >
			<thead>
				<tr class="">
					<th class="taL">{{getMsgs('transactions.payment.method')}}</th>
					<th>{{getMsgs('expiry')}}</th>
					<th>{{getMsgs('provider')}}</th>
					<th>{{getMsgs('left-to-credit')}}</th>
					<th>{{getMsgs('deposits.summary.count')}}</th>
					<th>{{getMsgs('amount')}}</th>
					<th>{{getMsgs('deposits.summary.Date.last.deposit')}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="deposit in depositSummaryListSelected" ng-class="{ rowTotal: deposit.rowTotal, notRowTotal: !deposit.rowTotal }" ng-if="deposit.typeId == 1 || deposit.rowTotal">
					<td class="taL" ng-if="deposit.rowTotal">{{(deposit.cardDetails) ? getMsgs(deposit.cardDetails) + ' ' + deposit.lastFourDigitsCC : getMsgs(deposit.description)}}</td>
					<td ng-if="!deposit.rowTotal"></td>
					<td ng-if="deposit.rowTotal">{{(deposit.expDate != '00/0000') ? deposit.expDate : ''}}</td>
					<td ng-if="!deposit.rowTotal"></td>
					<td ng-if="!deposit.rowTotal">{{(deposit.providerName != 'no provider') ? deposit.providerName : ""}}</td>
					<td ng-if="deposit.rowTotal"></td>
					<td ng-if="!deposit.rowTotal && deposit.typeId == 1">{{formatAmount({amount: deposit.amountToCredit, centsPart: 2, currencyId: deposit.currencyId})}}</td>
					<td ng-if="deposit.rowTotal || deposit.typeId != 1"></td>
					<td>{{deposit.depositCount}}</td>
					<td>{{formatAmount({amount: deposit.amount, centsPart: 2, currencyId: deposit.currencyId})}}</td>
					<td>{{deposit.maxDate | date: 'dd/MM/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="box-footer distance">
	<button class="button blue" ng-click="saveWithdraw()" ng-disabled="!permissions.get(pagePermissions.save)">{{getMsgs('button.save')}}</button>
	
	<button class="button orange fR" ng-click="approveWithdraw()" ng-disabled="formDetails.flagChecked || !permissions.get(pagePermissions.approve) || (filter.clearingProvider.id == -1 && pendingWithdrawSelected.typeId == 10)">
		{{getMsgs('button.approve')}}
	</button>
</div>