<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>

	<div id="page" class="page">
    	<div id="header">
        	<div class="info">
	            <div class="number"  style="margin-right:0px;">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="205" height="42" id="phones" align="middle">
						<param name="allowScriptAccess" value="sameDomain" />
						<param name="allowFullScreen" value="false" />
						<param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" />
						<param name="quality" value="high" />
						<param name="bgcolor" value="#ffffff" />
						<param name="wmode" value="transparent" />
						<embed wmode="transparent" src="#{applicationData.imagesPath}/landing_Contactus/Phone_Numbers.swf" quality="high" bgcolor="#ffffff" width="205" height="42" name="phones" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
					</object>
	    		</div>
	        </div>
        	<div class="logo"></div>
        </div>
        <div id="banner_#{applicationData.userLocale.language}" class="banner_#{applicationData.userLocale.language}">
            <div class="l_text_box">
				Le trading d'options binaires vous permet de réaliser un profit allant de 65% à 71% en quelques minutes.<br />&#160;
				<p style="font-size:14px"><strong>Prédisez</strong> simplement  si un actif (comme le CAC40, l'EUR / USD, Renault) évoluera à la <strong>hausse</strong> ou à la <strong>baisse</strong>. </p>

				<div class="bottom_line" >Votre prédiction est correcte ? Faites un profit immédiat de 65% à 71% !*</div>
			</div>
			<div class="l_text_box_2_fr">
				<table width="600" border="0" cellspacing="0" cellpadding="0">
				  <tr>
				    <td width="47">&#160;</td>
				    <td width="253"><br />
				      anyoption vous permet aujourd'hui de voir quelques exemples des meilleurs trades de nos clients.**
				      </td>
				    <td width="300">&#160;</td>
				  </tr>
				</table>

				<table width="600" border="0" cellspacing="0" cellpadding="0">
				  <tr >
				    <td width="132" height="25">Nom</td>
				    <td width="102" align="center" bgcolor="#E3E9F3" style=" color:#0284d6"><strong>Profit Net </strong></td>
				    <td width="135" align="center">Durée du trade</td>
				    <td width="116" align="center">Montant investit </td>
				    <td width="115" align="center">Asset</td>
				  </tr>
				  <tr>
				  <td height="1" bgcolor="#0284d6" colspan="5"></td>
				  </tr>
				  <tr>
				    <td height="25">Marc D.</td>
				    <td align="center" bgcolor="#E3E9F3" style=" color:#0284d6; font-size:18px"><strong>1 420 €</strong></td>
				    <td align="center">18 minutes</td>
				    <td align="center">2 000 €</td>
				    <td align="center">CAC40</td>
				  </tr>
				    <tr>
				  <td height="1" bgcolor="#0284d6" colspan="5"></td>
				  </tr>
				  <tr>
				    <td height="25">Pierrick M.</td>
				    <td align="center" bgcolor="#E3E9F3" style=" color:#0284d6; font-size:18px"><strong>2 925 €</strong></td>
				    <td align="center">35 minutes</td>
				    <td align="center">4 500 €</td>
				    <td align="center">EUR/USD</td>
				  </tr>
				    <tr>
				  <td height="1" bgcolor="#0284d6" colspan="5"></td>
				  </tr>
				  <tr>
				    <td height="25">Medhi J.</td>
				    <td align="center" bgcolor="#E3E9F3" style=" color:#0284d6; font-size:18px"><strong> 1 <strong>0</strong>50 €</strong></td>
				    <td align="center">45 minutes</td>
				    <td align="center">1 500 €</td>
				    <td align="center">Renault</td>
				  </tr>
				</table>
				<div class="white-text">1000 de ces trades ont lieu tous les jours. VOUS AUSSI, POUVEZ EN FAIRE UN DÈS AUJOURD'HUI.</div>
				<div class="disclaimer">* Note importante : Trader des options comporte des risques importants. <br />
				  Vous pouvez gagner 65-71% par option « in the money » ou perdre 85% par trade « out of the money ».<br />
				** Les récits ci-dessus sont réels et basés sur de véritables trades de nos clients. Afin de protéger leur vie privée, les identités ont été modifiées. </div>
				          </div>

			<div class="r_text_box">
               <h:form id="contactForm" >
               <div class="r_text_box_content" >
		            	<h2>Complètez vos <br/> coordonnées</h2>
						<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
							<span class="star">* </span>
							<h:outputLabel value="#{msgs['register.firstname']}:" />
							<div class="input1">
							    <h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
							          validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
							    </h:inputText>
							    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
		                	<span class="star">* </span>
		                	<h:outputLabel value="#{msgs['register.lastname']}:" />
							<div class="input1">
							    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
									validator="#{commonUtil.validateName}" >
							    </h:inputText>
							    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.email']}:" />
							<div class="input1">
								<h:inputText dir="ltr"  maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
									validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
									<f:validator validatorId="org.apache.myfaces.validator.Email" />
								</h:inputText>
								<t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages" />
							</div>
							<span class="star">* </span>
							<h:outputLabel  value="#{msgs['register.mobilephone']}:" /><br />
							<div class="input2_1"><div class="plus">+</div>
								<h:inputText maxlength="4"  dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	  	<f:validateLongRange/>
			                	  	<f:validateLength minimum='1' maximum='4'/>
            					</h:inputText>
                  			</div>
		                    <div class="input3">
           	   					<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true">
                	  				<f:validateLength minimum='7' maximum='20' />
                	  				<f:validateLongRange/>
            					</h:inputText>
                				<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages" />
		                    </div>
							<h:selectBooleanCheckbox id="agree" escape="false" styleClass="agree" value="#{contactUsForm.reciveUpdates}" ></h:selectBooleanCheckbox>
							<h:outputText styleClass="agree_text" value="J'accepte de recevoir les mises à jour"/><br/>
							<h:outputText styleClass="agree_text" value="et les offres d'anyoption™"/>
							<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
							<br/><br/>
                    <div class="submin_swf">
			                    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="210" height="64" id="ShortForm_button" align="middle">
			                        <param name="allowScriptAccess" value="always" />
			                        <param name="allowFullScreen" value="false" />
			                        <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" /> <param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
			                        <embed src="#{applicationData.imagesPath}/landing_Contactus/ShortForm_button_#{applicationData.userLocale.language}.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="210" height="64" name="ShortForm_button" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			                    </object>
			                </div>
						</h:panelGroup>
					</div>
				</h:form>
            </div>
        </div>
        <div id="footer">
       	  <div class="icons">
            <div class="icon_space">
            	<form action="http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg" method="post" name="ctmSubmit" target="_blank" id="ctmSubmit">
	                <input name="idstatus" type="hidden" />
	                <input type="hidden" name="registrationdatefrom" />
	                <input type="hidden" value="ResultsDetailed" name="transition" />
	                <input type="hidden" name="selectOrderby2" />
	                <input type="hidden" name="niceclassificationnumber" />
	                <input type="hidden" name="indusage" />
	                <input type="hidden" name="publicationdateto" />
	                <input type="hidden" name="objIdappli" />
	                <input type="hidden" name="objRefine" />
	                <input type="hidden" name="objRefineAux" />
	                <input type="hidden" name="filingdateto" />
	                <input type="hidden" name="listTypeDate" />
	                <input type="hidden" name="search_for_transition" />
	                <input type="hidden" name="AppliRef" />
	                <input type="hidden" name="application" />
	                <input type="hidden" value="0" name="bAdvanced" />
	                <input type="hidden" name="owner" />
	                <input type="hidden" name="expirydatefrom" />
	                <input type="hidden" name="entity" />
	                <input type="hidden" name="objSQLBasic2" />
	                <input type="hidden" value="en" name="language" />
	                <input type="hidden" name="objSQLRepre" />
	                <input type="hidden" name="importTradeMarkId" />
	                <input type="hidden" name="ownerselect" />
	                <input type="hidden" name="idappliSelected" />
	                <input type="hidden" name="idstatus" />
	                <input type="hidden" name="objSearchBasic" />
	                <input type="hidden" name="objSQLBasic" />
	                <input type="hidden" value="search_basic.jsp" name="source" />
	                <input type="hidden" name="objSQLOwner" />
	                <input type="hidden" name="objSQLRepre2" />
	                <input type="hidden" name="selectOrderby" />
	                <input type="hidden" name="representative" />
	                <input type="hidden" value="1" name="printPage" />
	                <input type="hidden" name="userid" />
	                <input type="hidden" name="readonly" />
	                <input type="hidden" name="filingdatefrom" />
	                <input type="hidden" name="importctmidscriptmodule" />
	                <input type="hidden" name="representativeselect" />
	                <input type="hidden" name="expirydateto" />
	                <input type="hidden" value="0" name="backList" />
	                <input type="hidden" name="totalFound" />
	                <input type="hidden" value="0" name="bRefine" />
	                <input type="hidden" name="importctmidscriptmethod" />
	                <input type="hidden" name="publicationdatefrom" />
	                <input type="hidden" name="deno" />
	                <input type="hidden" name="bRefineModify" />
	                <input type="hidden" name="userCurrentAccount" />
	                <input type="hidden" value="200" name="blimited" />
	                <input type="hidden" name="registrationdateto" />
	                <input type="hidden" name="objSQLOwner2" />
	                <input type="hidden" value="8298697" name="idappli" />
	                <input type="hidden" value="3" name="markorigin" />
	                <input type="hidden" value="1" name="denoselect" />
	                <input type="hidden" name="denoaux" />
	                <input type="hidden" name="ntmark" />
	                <input type="hidden" value="1" name="listType" />
	                <a onclick="window.open('http://oami.europa.eu/CTMOnline/RequestManager/en_Detail_NoReg','myWin', 'location=1,status=1,scrollbars=1,resizable=1,width=500, height=600, left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img title="Informations sur la marque anyoption" border="0" alt="" width="29" height="27" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" /></a>
                </form>
              </div>
              <div class="icon_space"> <img width="73" height="27" border="0" title="Niveau d'expiration fourni par Reuters" src="#{applicationData.imagesPath}/reuters.jpg" alt="" />
            </div>
            <div class="icon_space">
                <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false" style="cursor: pointer;" target="_blank"><img width="95" height="27" border="0" alt="" title="Sécurité et codage des informations" src="#{applicationData.imagesPath}/en_2/thawte.gif" /></a>
          </div>

          <div class="icon_space">
                <img width="40" height="27" border="0" title="L'utilisation de notre site web est réservée aux clients âgés de 21 ans et plus" src="#{applicationData.imagesPath}/landing_Contactus/LP_traders_reveal/21.jpg" alt="" />
          </div>
         </div>
         <div class="footer_text" />
       </div>
    </div>
	<div id="error_box">
	    <div class="error_message"><span dir="rtl"><h:outputText value="#{commonUtil.firstErrorSummaryMessage}" /></span></div>
	    <div class="error_button" onclick="closeErrorBox();"></div>
	</div>
	<div id="Overlay"></div>
</f:view>