
<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<c:if test="${depositForm.ccListSize == 0}">
	<TABLE bgcolor="#ffffff" cellpadding="0" cellspacing="0" height="22px" width="500" class="myAccount_table_border" align="center">
		<TR>

			<c:set var="class" value="myAccount_menu_stripe_link"/>
			<c:if test="${std=='newCard'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active"/>
			</c:if>

			 <TD ALIGN="CENTER" valign="middle" WIDTH="500">

			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf"
													target="_top" id="investLink" class="${class}" >
						<h:outputText value="#{msgs['header.add.new.cc']}"/>
				</h:outputLink>

		    </TD>
		</TR>
	</TABLE>
</c:if>

<c:if test="${depositForm.ccListSize > 0}">
	<TABLE bgcolor="#ffffff" cellpadding="0" cellspacing="0" height="22px" width="500" class="myAccount_table_border" align="center">
		<TR>

			<c:set var="class" value="myAccount_menu_stripe_link"/>
			<c:if test="${std=='selectCard'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active"/>
			</c:if>

			 <TD ALIGN="CENTER" valign="middle"  WIDTH="200px">
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf"
													target="_top" class="${class}" >
						<h:outputText value="#{msgs['header.selectCard']}"/>
				</h:outputLink>
		    </TD>


			<c:set var="class" value="myAccount_menu_stripe_link"/>
			<c:if test="${std=='newCard'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active"/>
			</c:if>

			 <TD ALIGN="CENTER" valign="middle" WIDTH="180">

			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf"
													target="_top" id="investLink" class="${class}" >
						<h:outputText value="#{msgs['header.add.new.cc']}"/>
				</h:outputLink>

		    </TD>


			<c:set var="class" value="myAccount_menu_stripe_link"/>
			<c:if test="${std=='editCard'}">
				<c:set var="class" value="myAccount_menu_stripe_link_active"/>
			</c:if>

			 <TD ALIGN="CENTER" valign="middle" WIDTH="120px">

			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/cards.jsf"
													target="_top" id="investLink" class="${class}" >
						<h:outputText value="#{msgs['header.cards']}"/>
				</h:outputLink>

		    </TD>



		</TR>
	</TABLE>
</c:if>

</f:view>