<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">BONUS  SPÉCIAL</span><br/>
            <span class="bonus_text"><strong>Vous avez reçu un bonus spécial de &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.<br/>
            Le bonus est crédité dans votre compte et apparaît dans l'onglet <br/>
            ”Mon Compte” >  “Historique des Transactions” sous “Bonus d’anyoption”.</strong><br/>
            <br/>
            Le bonus peut être utilisé jusqu’à &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
            <br/>
            Veuillez noter que la réception du bonus engage à des restrictions s'appliquant aux retraits effectués depuis votre compte, tel que stipulé dans les conditions générales ci-dessous.</span><br/>
            <br/>
            <span class="bonus_terms"><strong>Conditions générales des Bonus</strong><br/>
            Le bonus sera crédité sur le compte du client sous réserve du respect des conditions de l'offre qui lui a été proposée, c’est-à-dire effectuer des dépôts minimum ou acheter un montant minimum d'options dans un délai déterminé.<br/>
            <br/>
            Sauf stipulation contraire dans les termes de l'offre, la condition préalable à tout retrait d'argent après réception du bonus est d’effectuer des investissements dont le montant total correspond à &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> fois le montant du bonus.<br/>
            <br/>
            La société encourage ses clients à prendre part aux offres mais à s'abstenir d’en abuser. L'abus de l'une de ces offres peut conduire à l'annulation du bonus et à la clôture du compte du client.   <br/>
            <br/>
            Les bonus doivent être utilisés dans le délai imparti par l'offre. Si le délai n'est pas respecté, ils seront supprimés du compte du client.        <br/>
            <br/>
            Après avoir reçu les bonus/primes, le client dispose de 3 (trois) mois calendaires pour compléter le montant total des investissements requis comme condition préalable à un retrait. Si le montant total des investissements requis n'est pas atteint à l'issue de cette période, la Société retirera les fonds correspondant aux bonus/primes du compte du client à son entière discrétion.        <br/>
            <br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />                                      
            </span> </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>