﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<style type="text/css">
.bonus_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
color: #093755;
}
.bonus {
	font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
font-weight: bold;
color: #0284D6;
}
.bonus_terms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 16px;
color: #093755;
}
</style>

</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td height="505" width="150">
    	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
         <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">BONUS SPÉCIAL</span><br /><br />
            <span class="bonus_text">Nous sommes heureux de vous informer que vous avez droit à un bonus spécial de&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.<br />
            <br />
            Le montant du bonus sera crédité sur votre compte immédiatement après avoir déposé de&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumDeposits']}"/> et investi un total de&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/>. Il apparaîtra dans l'onglet “Mon Compte” > “Historique des Transactions” sous “Bonus d’anyoption”.<br />
            <br />
            L'offre est valable jusqu'au&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.</span><br />
            <br />
            <span class="bonus_terms"><strong>Conditions Générales Des Bonus</strong><br />
            Le bonus sera crédité sur le compte du client sous réserve du respect des conditions de l'offre proposée, c’est-à-dire effectuer des dépôts minimum ou acheter un montant minimum d'options dans un délai déterminé.<br />
            <br />
            La société encourage ses clients à prendre part aux offres mais à s'abstenir d’en abuser. L'abus de l'une de ces offres peut conduire à l'annulation du bonus et à la clôture du compte du client.<br />
            <br />
            Les benefices doivent être utilisés dans le délai défini par l'offre. Si le délai n'est pas respecté, il sera annule.<br />
            <br />
            Après avoir reçu les bonus/primes, le client dispose de 3 (trois) mois du calendrier pour compléter le montant total des investissements requis comme condition pour recevoir le bonus. Si le montant total des investissements requis n'est pas atteint à l'issue de cette période, le client ne recevra pas les fonds du bonus.<br />
            <br />
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
            </span> </td>
        </tr>
      </table></td>

        </tr>
      </table></td>
  </tr>
</table>

<script type="text/javascript"><!--

	function getScrolling()
	{
		var x = 0; var y = 0;if (self.pageXOffset || self.pageYOffset)
		{
			x = self.pageXOffset;
			y = self.pageYOffset;
		}
		 else if ((document.documentElement && document.documentElement.scrollLeft)||(document.documentElement && document.documentElement.scrollTop))
		{
			x = document.documentElement.scrollLeft;
			y = document.documentElement.scrollTop;
		}
		 else if (document.body) 
		{
			x = document.body.scrollLeft;
			y = document.body.scrollTop;
		}
		return x + "," + y;
	}
	
//--></script>
</f:view>
</body>
</html>