<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">BONUS SPÉCIAL</span><br/>

		  <h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==5 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==6 ||
						      facesContext.externalContext.requestParameterMap['bonusStateId']==7}">

						     <span class="bonus_text">
						     Nous sommes heureux de vous informer que vous avez droit à un bonus spécial de&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>.<br/>
						     <br/>
						     Le montant du bonus sera crédité sur votre compte immédiatement après avoir investi un total de&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/>. Il apparaîtra dans l'onglet “Mon Compte” > “Historique des Transactions” sous “Bonus d’anyoption”.<br/>
						     <br/>
						     L'offre est valable jusqu'au&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
						     <br/>
						     <h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusId']!=320)}">
							     Veuillez noter que la réception du bonus engage à des restrictions s'appliquant aux retraits effectués depuis votre compte, tel que stipulé dans les conditions générales ci-dessous. <br/>
							     <br/>
							 </h:panelGroup>    
						     </span>
          			</h:panelGroup>
					<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==2 ||
				 						facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
										facesContext.externalContext.requestParameterMap['bonusStateId']==4}">

						     <span class="bonus_text">
						     	 Vous avez reçu un bonus spécial de &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. Le bonus a été crédité sur votre compte et apparaît dans “Mon Compte” > “Historique des Transactions” sous “Bonus d’anyoption”.<br/>
						     	<br/>
								Le bonus peut être utilisé jusqu’à&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/>
								<br/>
								<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusId']!=320)}">
									Veuillez noter que la réception du bonus engage à des restrictions s'appliquant aux retraits effectués depuis votre compte, tel que stipulé dans les conditions générales ci-dessous. <br/>
									<br/>
								</h:panelGroup>	
						     </span>
					</h:panelGroup>
          </h:panelGroup>

          <span class="bonus_terms"><strong>Conditions générales des Bonus</strong><br/>
            Le bonus sera crédité sur le compte du client sous réserve du respect des conditions de l'offre proposée, c’est-à-dire effectuer des dépôts minimum ou acheter un montant minimum d'options dans un délai déterminé.<br/>
            <br/>
            <h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusId']!=320)}">
	            Sauf stipulation contraire dans les termes de l'offre, la condition préalable à tout retrait d'argent après réception du bonus est d’effectuer des investissements dont le montant est &#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['wageringParam']}"/> fois le montant du bonus.<br/>
	            <br/>
	        </h:panelGroup>    
            La société encourage ses clients à prendre part aux offres mais à s'abstenir d’en abuser. L'abus de l'une de ces offres peut conduire à l'annulation du bonus et à la clôture du compte du client.<br/>
            <br/>
            Les benefices doivent être utilisés dans le délai défini par l'offre. Si le délai n'est pas respecté, il sera annule.<br/>
            <br/>
            Après avoir reçu les bonus/primes, le client dispose de 3 (trois) mois du calendrier pour compléter le montant total des investissements requis comme condition pour recevoir le bonus. Si le montant total des investissements requis n'est pas atteint à l'issue de cette période, le client ne recevra pas les fonds du bonus.<br/>
            <br/><br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
		    <br/><br/>
		   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
          </span>
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>