<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
	<ui:composition template="/jsp/widget/template.xhtml">
		<!-- head -->
		<ui:define name="head">
			<link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/widget/styles_125.css?version=cvsTimeStamp" />
		</ui:define>			
		<!-- content -->
		<ui:define name="content">
			<div class="tradeBox_main">
				<div class="clear trade_menu">
					<!-- START of top menu bar -->
					<div id="assetsList" class="trade_menu_h trade_menu_h_p" onclick="displayAssetList();" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trade_menu_h.png)">
						<span id="assetName" class="trade_menu_h_in"></span>
					</div>
		            <!--Assets list-->
						<ul class="market_select_ul" id="treeM">
							<t:dataList value="#{marketsWidgetDataForm.assetDDList}" var="crrEntry" rowIndexVar="crrEntryIndex" layout="simple">
								<h:panelGroup rendered="#{crrEntry.printGroup}">
									<li class="menu_market_groupname">
										<h:outputText value="#{msgs[crrEntry.group_name]}"/>
									</li>
								</h:panelGroup>
								<h:panelGroup rendered="#{crrEntry.printGeoGroup}">
									<li class="menu_market_subgroupname" data-subgroup='#{crrEntry.market_subGroup_display_name}_#{crrEntry.group_name}'>
										<h:outputText value="#{msgs[crrEntry.market_subGroup_display_name]}"/>
									</li>
									<li id="#{crrEntry.market_subGroup_display_name}_#{crrEntry.group_name}" class="menu_market_element" style="display:none;" data-close='t'>
										<h:outputText value="#{msgs['markets.menu.close.area']}"/>
									</li>
								</h:panelGroup>
								<li class="menu_market_element" onclick="updateAssetDetails(#{crrEntry.market_id});" id="m#{crrEntry.market_id}" data-marketId="#{crrEntry.market_id}">
									<h:outputText value="#{msgs[crrEntry.market_name]}"/>
								</li>
							</t:dataList>
						</ul>	            
		            <!--End of assets list-->
					<span class=""></span>
					<!-- end of top menu bar -->
				</div>
				<div class="tradeBox_left">
					<div class="left"><span class="tradeBox_text">#{msgs['investments.level']}:</span><span id="assetLevel" class="tradeBox_level"></span></div>
				</div>	
		        <!--START of Trends-->	
				<div class="tradeBox_trends_graph" >            		            
		            <div class="tradeBox_trends_graph_in">
		                <div id="callTradingDiv" class="tradeBox_trends_graph_call tradeing_trends_g" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_trends_g.png);background-repeat: repeat-x;">
		                    <span id="callTradingTxt" class="tradeBox_img tradeBox_trends_graph_proc" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)">50%</span>
		                </div>
		                <i id="callPutDivider" class="tradeBox_trends_graph_sep tradeBox_img" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)"></i>
		                <div id="putTradingDiv" class="tradeBox_trends_graph_put tradeing_trends_g" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_trends_g.png);background-repeat: repeat-x;">
		                    <span id="putTradingTxt" class="tradeBox_img tradeBox_trends_graph_proc" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)">50%</span>
		                </div>
		            </div>
		            <span class="tradeBox_trends_action_call"  onclick="navigateToPage();">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_call']}</span>
		            <span class="tradeBox_trends_action_put"  onclick="navigateToPage();">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_put']}</span>
		        </div>
		        <!--End of Trends-->
			</div>
		</ui:define>
		<!-- offhours -->
		<ui:define name="offhours">
			<img src="#{applicationData.imagesPath}/ao/widget/#{marketsWidgetDataForm.locale}/UpDown_Dynamic_125x125.jpg" style="cursor: pointer;" onclick="navigateToPage('index');" />
		</ui:define>				
	</ui:composition>
</f:view>