<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{marketsWidgetDataForm.locale}">
	<ui:composition template="/jsp/widget/template.xhtml">
		<!-- head -->
		<ui:define name="head">
			<link rel="stylesheet" type="text/css" href="#{request.contextPath}/css/widget/styles_250.css?version=cvsTimeStamp" />
		</ui:define>			
		<!-- content -->
		<ui:define name="content">	
			<div class="tradeBox_main">
				<div class="clear trade_menu">
					<!-- START of top menu bar -->
					<div id="assetsList" class="trade_menu_h trade_menu_h_p" onclick="displayAssetList();" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trade_menu_h.png)">
						<span id="assetName" class="trade_menu_h_in"></span>
					</div>
		            <!--Assets list-->
						<ul class="market_select_ul" id="treeM">
							<t:dataList value="#{marketsWidgetDataForm.assetDDList}" var="crrEntry" rowIndexVar="crrEntryIndex" layout="simple">
								<h:panelGroup rendered="#{crrEntry.printGroup}">
									<li class="menu_market_groupname">
										<h:outputText value="#{msgs[crrEntry.group_name]}"/>
									</li>
								</h:panelGroup>
								<h:panelGroup rendered="#{crrEntry.printGeoGroup}">
									<li class="menu_market_subgroupname" data-subgroup='#{crrEntry.market_subGroup_display_name}_#{crrEntry.group_name}'>
										<h:outputText value="#{msgs[crrEntry.market_subGroup_display_name]}"/>
									</li>
									<li id="#{crrEntry.market_subGroup_display_name}_#{crrEntry.group_name}" class="menu_market_element" style="display:none;" data-close='t'>
										<h:outputText value="#{msgs['markets.menu.close.area']}"/>
									</li>
								</h:panelGroup>
								<li class="menu_market_element" onclick="updateAssetDetails(#{crrEntry.market_id});" id="m#{crrEntry.market_id}" data-marketId="#{crrEntry.market_id}">
									<h:outputText value="#{msgs[crrEntry.market_name]}"/>
								</li>
							</t:dataList>
						</ul>	            
		            <!--End of assets list-->
					<div class="trade_menu_h2">
						<span class="trade_menu_h_in2">
							#{msgs['trading.box.expires']}&#160;
							<span id="marketExpiration"></span>  
							<span id="#{boxId}_6"></span>
						</span>
					</div>
					<span class=""></span>
					<!-- end of top menu bar -->
				</div>
				<div class="tradeBox_left">
					<div class="left"><span class="tradeBox_text">#{msgs['investments.level']}:</span><span id="assetLevel" class="tradeBox_level"></span></div>
            		<div class="right"><span id="profit" class="tradeBox_profit"></span><span class="tradeBox_profit">&#160;#{msgs['trading.box.profit']}</span></div>
		            <!--Call/Put-->
		            <i class="tradeBox_img tradeBox_call_btn" onclick="navigateToPage();" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)">
						<i class="tradeBox_img tradeBox_call_btn_image" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)"></i>
						<i class="tradeBox_call_btn_text" id="tradeBox_call_btn_text" date-text_1="#{msgs['call']}" date-text_2="#{msgs['up']}" >#{msgs['call']}</i>						
					</i>			
					<i class="tradeBox_img tradeBox_put_btn" onclick="navigateToPage();" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)">
						<i class="tradeBox_put_btn_text" id="tradeBox_put_btn_text" date-text_1="#{msgs['put']}" date-text_2="#{msgs['down']}">#{msgs['put']}</i>
						<i class="tradeBox_img tradeBox_put_btn_image" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)"></i>
					</i>
		            <!--End of Call/Put-->
				</div>	
		        <!--START of Trends-->	
				<div class="tradeBox_trends_graph" >            		            
		            <div class="tradeBox_trends_graph_in">
		                <div id="callTradingDiv" class="tradeBox_trends_graph_call tradeing_trends_g" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_trends_g.png);background-repeat: repeat-x;">
		                    <span id="callTradingTxt" class="tradeBox_img tradeBox_trends_graph_proc" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)">50%</span>
		                </div>
		                <i id="callPutDivider" class="tradeBox_trends_graph_sep tradeBox_img" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)"></i>
		                <div id="putTradingDiv" class="tradeBox_trends_graph_put tradeing_trends_g" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_trends_g.png);background-repeat: repeat-x;">
		                    <span id="putTradingTxt" class="tradeBox_img tradeBox_trends_graph_proc" style="background-image: url(#{applicationData.imagesPath}/ao/widget/trading_area.png)">50%</span>
		                </div>
		            </div>
		            <span class="tradeBox_trends_action_call" onclick="navigateToPage();">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_call']}</span>
		            <span class="tradeBox_trends_action_put" onclick="navigateToPage();">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_put']}</span>
		        </div>
		        <!--End of Trends-->
			</div>			
		</ui:define>
		<!-- offhours -->
		<ui:define name="offhours">
			<img src="#{applicationData.imagesPath}/ao/widget/#{marketsWidgetDataForm.locale}/UpDown_Dynamic_250x250.jpg" style="cursor: pointer;" onclick="navigateToPage('index');" />
		</ui:define>		
	</ui:composition>
</f:view>