<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">An option with an increased refund</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
		    			We are pleased to offer you a special benefit: an option with an increased refund!<br/><br/>

						On the next option that you purchase you will enjoy an increased refund of 85% (instead of 15%) if your option expires out of the money! If the option expires in the money you will enjoy the normal return rate applicable to your option (65-71%).<br/><br/>

						The offer is valid until&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

						Please note that upon receipt of the bonus, restrictions shall apply to withdrawals from your account, as stipulated in the General Terms below.<br/><br/>
		    		</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>Bonuses – General Terms</strong><br/>
	            The bonus shall be credited to the client’s account subject to compliance with the terms of the offer in which he was asked to participate e.g. making minimum deposits and/or purchasing a minimum amount of options within a specified period.<br/><br/>

				Unless stated otherwise in the terms of the offer, a precondition for withdrawing money from the account after receiving the benefit, is to make investments whose total amount is #{facesContext.externalContext.requestParameterMap['wageringParam']} times the amount of the original option from which the benefit was generated.<br/><br/>

				The Company encourages its clients to take part in the offers, but to refrain from abusing them. Abusing any of the offers could lead to cancellation of the bonus and closure of the client’s account on the Company’s website.<br/><br/>

				The bonuses must be used within the period defined in the details of the specific offer. Should the bonus fail to be used within this time frame, it shall be withdrawn from the client’s account.<br/><br/>

				Once receiving the bonuses/benefits, the client has 3 (three) calendar months to complete the total amount of investments required as a precondition for withdrawal. If the required total amount of investments is not reached during this time period, the company will withdraw the bonuses/benefits funds from the client's account according to its discretion.<br/><br/>

				<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
					<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
					<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
				</h:outputFormat>
			    <br/><br/>
			   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
