﻿<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk" >
<head>

  <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
  <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
  <link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />

<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>

<body dir="#{applicationData.pageDirection}" style="background-image: none ;" bgcolor="#{applicationData.tlv? '#f2f2f2' :''}">
	<script src="#{facesContext.externalContext.requestContextPath}/js/validation.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/position_div.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
	<script>

		//	submit form by enter
		function submitForm(e) {

			var keynum;

			if(window.event) { // IE
			  keynum = e.keyCode;
	  		}
	  		else if(e.which) {  // Netscape/Firefox/Opera
			  keynum = e.which;
		    }

			if (keynum == 13) {  // enter key
				document.login.submit();
		  	}
		}

	try {

		// For IE6 Bug - when we try to login and we have error on user name,
		// than this code return us to http from j_security_check in https)
		if (navigator.userAgent.toLowerCase().indexOf('msie 6') > -1) {
			if (window.location.href.indexOf("j_security_check") > -1) {
				var url_to_reload = "#{applicationData.homePageUrl}jsp/#{applicationData.templatesDirectory}/header.jsf?error=true&amp;j_username=#{facesContext.externalContext.requestParameterMap['j_username']}&amp;reloadP=true";
				if(window.location.href.indexOf("https")>-1) {
					url_to_reload = "#{applicationData.homePageUrlHttps}jsp/#{applicationData.templatesDirectory}/header.jsf?error=true&amp;j_username=#{facesContext.externalContext.requestParameterMap['j_username']}&amp;reloadP=true";
				}
				window.location.href = url_to_reload;
			 }
		}

		if (window.top==window.self) {
			  window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/index_error.jsf";
		 }

		} catch (err) {}

	var lettersandnumbers = '#{msgs['CMS.header.label.error.lettersandnumbers.only']}';
	var passwordSmall = '#{msgs['CMS.header.label.login.error']}';
	var usernameSmall = '#{msgs['CMS.header.label.login.error']}';
	var emptyfield = '#{msgs['CMS.header.label.login.error']}';

	if (lettersandnumbers.indexOf("{0}") > -1 ) {   // remove ? that added for mobile use
		lettersandnumbers = lettersandnumbers.substr(3,lettersandnumbers.length-1);
	}

	</script>
		<f:view locale="#{applicationData.userLocale}">
			
			<ui:include src="/jsp/#{applicationData.templatesDirectory}/headerContent.xhtml"/>
		</f:view>
</body>
</html>