<f:view  xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<script src="#{facesContext.externalContext.requestContextPath}/js/menuMarketSelect.js"></script>
<script>
var prevColor;
var prevBG;
function changeColors(element) {
	prevBG = element.style.backgroundColor;
	element.style.backgroundColor = '#0284d6';
	if (navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
		prevColor = element.children[0].getElementsByTagName("label")[0].style.color;
		element.children[0].getElementsByTagName("label")[0].style.color = "white";
	} else {
		prevColor = element.childNodes[1].getElementsByTagName("label")[0].style.color;
		element.childNodes[1].getElementsByTagName("label")[0].style.color = "white";
	}
}

function changeColorsBack(element) {
	element.style.backgroundColor = prevBG;
	if (navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
		element.children[0].getElementsByTagName("label")[0].style.color = prevColor;
	}else {
		element.childNodes[1].getElementsByTagName("label")[0].style.color = prevColor;
	}
}
</script>
<!-- 
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
 -->
<style><!--
.menu_market_groupname {
	font-size: 11px;
	color: #0283d4;
	font-weight: bold;
	line-height: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.menu_market_subgroupname {
	font-size: 9px;
	line-height: 14px;
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.menu_item_close{
	font-family:Verdana,Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:11px;
	text-align:left;
	text-decoration:none;
	cursor:pointer;
	color:#cccccc;

}

.menu_item_notActive {
	color: #a1a1a1;
	line-height: 14px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	cursor: pointer;
}

.hand {
	cursor: pointer;
}

--></style>
<t:saveState value="#{marketsListForm}" />
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<t:dataList id="msel" value="#{marketsListForm.listClone}" var="crrEntry" rowIndexVar="crrEntryIndex" layout="simple">
		<h:panelGroup rendered="#{crrEntry.printGroup}">
			<tr><td><span><h:outputLabel class="menu_market_groupname" value="#{msgs[crrEntry.group_name]}"/></span></td></tr>
		</h:panelGroup>
		<h:panelGroup rendered="#{crrEntry.printGeoGroup}">
			<tr><td><span style="font-size:11px;">&#160;&#160;&#160;&#160;<h:outputLabel class="menu_market_subgroupname" value="#{msgs[crrEntry.market_subGroup_display_name]}"/></span></td></tr>
		</h:panelGroup>
		<tr style="cursor:pointer;" onclick="nodeClick(#{crrEntry.market_id});" onmouseup="hideSelectionTree(this);">
			<td onmouseover="changeColors(this);" onmouseout="changeColorsBack(this);">
				<span class="menu_item_close">&#160;&#160;&#160;&#160;&#160;
					<a class="menu_item_notActive" href="#" id="m#{crrEntry.market_id}">
					<h:outputLabel class="hand" value="#{msgs[crrEntry.market_name]}" dir="rtl" rendered="#{market.isCommodityOrArabicMarket &amp;&amp; applicationData.skinId==4}"/>
					<h:outputLabel class="hand" value="#{msgs[crrEntry.market_name]}" dir="ltr" rendered="#{!market.isCommodityOrArabicMarket &amp;&amp; applicationData.skinId==4}"/>
					<h:outputLabel class="hand" value="#{msgs[crrEntry.market_name]}" dir="ltr" rendered="#{!applicationData.rtlAlign}"/>
					</a>
				</span>
			</td>
		</tr>
	</t:dataList>
</table>
</f:view>