<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:c="http://java.sun.com/jsp/jstl/core"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		 >
	<h:panelGroup rendered="#{applicationData.skinId != 7}">
		<ui:include src="/jsp/#{applicationData.userLocale.language}/menu_strip_content_css.xhtml">
			<ui:param name="isHomePage" value="#{isHomePage}" />
			<ui:param name="selectedTd" value="#{selectedTd}" />
		</ui:include>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 7}">
		<ui:include src="/jsp/#{applicationData.userLocale.language}/menu_strip_content2.xhtml">
			<ui:param name="isHomePage" value="#{isHomePage}" />
			<ui:param name="selectedTd" value="#{selectedTd}" />
		</ui:include>
	</h:panelGroup>
</f:view>