<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content="#{msgs['register.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
	<script>
	    document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
	</script>

</head>

<body dir="#{applicationData.pageDirection}" class="body_bg">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script src="#{facesContext.externalContext.requestContextPath}/js/position_div.js"></script>
<script>
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
</script>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>
<ui:insert name="isRegisterPage" />

<f:view locale="#{applicationData.userLocale}">


<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<c:set var="selectedTd" value="register" />

 <h:panelGroup rendered="#{isRegPage == 'true'}">
	<table align="center" width="970" height="103" border="0" cellpadding="0" cellspacing="0" bgcolor="#e1e1e1">
		<tr height="103px">
   			<td width="970px" height="103px">
				<table border="0" cellspacing="0" cellpadding="0" class="header site_width header_height">
				  <tr class="site_width header_height">
				    <td width="284px" class="header_height" align="#{applicationData.pageAlignment}" valign="top"><a HREF="#{facesContext.externalContext.requestContextPath}/jsp/index.jsf" TARGET="_top" ><img style="#{applicationData.skinId == 11? 'margin-right:10px;':'margin-left:7px;'}" alt="#{msgs['anyoption.title']}" title="#{msgs['anyoption.title']}" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/options_trading_anyoption.gif" border="0" /></a></td>
			   		<td width="276px" class="header_height" valign="middle" align="#{applicationData.pageAlignment}"><a href="#{facesContext.externalContext.requestContextPath}/jsp/facebook-options.jsf" target="_top" ></a></td>
	   	    		<h:panelGroup rendered="#{applicationData.skinId == 10}">
		    			<td class="header_height" valign="middle" align="right">
		    				<div style="background-color:#093755; margin:10px;width:131px;height:70px" align="left">
			    				<div style="margin-left:10px;width:10px;" >
				    				<h:outputText value="Теперь" style="color:#FFFFFF;font-weight: bold;font-size: 12px;" /><br/>
				    				<img id="certificatePicture" style="cursor: pointer;" align="center"  onclick="cert_pop_up();"  src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/logo_certificate_home-page_ru.gif" border="0"  />
			    				</div>
		    				</div>
						</td>
		    		</h:panelGroup>
					<td width="334" class="header_height" align="right" valign="middle">
						<table align="#{applicationData.pageAlignment}" width="336px" height="70px" border="0" cellspacing="0" cellpadding="0" class="header_login_table">
				    		<tr align="center" valign="middle">
				    			 <td width="336px" height="23px" valign="middle">
				    			 	<h:outputText id="haveAccountMsg" styleClass="error_header" value="#{msgs['header.already.have.account']}" style="color: #F6CD10;font-weight: bold;" />&#160;&#160;
				    			 	<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" id="loginLink" border="0" >
										<img style="vertical-align: middle; " src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login.jpg"
										 onmouseover="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login_d.jpg'"
										 onmouseout="this.src='#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/login.jpg'"
										border="0" width="53px" height="17px"></img>
					 				</a>
				 				</td>
					    	</tr>
				         </table>
				       </td>
			  		</tr>
				</table>
			</td>
		</tr>
	</table>
</h:panelGroup>

<table align="center" width="970" height="103" border="0" cellpadding="0" cellspacing="0" bgcolor="#e1e1e1">
	<h:panelGroup rendered="#{isRegPage == 'false'}">
		<tr width="970" height="103"><td width="970" height="103" align="#{applicationData.pageAlignment}" valign="middle" class="header_register" ><a HREF="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" TARGET="_top" ><img style="#{applicationData.skinId == 11? 'margin-right:10px;':'margin-left:7px;'}" alt="#{msgs['anyoption.title']}" title="#{msgs['anyoption.title']}" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/options_trading_anyoption.gif" border="0" /></a></td></tr>
	</h:panelGroup>
    <tr>
	    <td width="970" height="26" class="table_sides_border">
			<ui:include src="/jsp/tickerWrapper_old.xhtml"></ui:include>
		</td>
	</tr>
    <tr>
     <td class="table_no_up_border">
		<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8"><td></td></tr>
		    <tr>
		    	<td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" class="gray_background">
		                <tr>
		                    <td colspan="5">
           						<ui:insert name="message"></ui:insert>
		                    </td>
		                </tr>
		                <tr>
		                <td colspan="3" height="38px">
				           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" class="gray_background"> <!--  MENU STRIP table -->
				             <tr class="menu_stripe">
				             	<td width="16" height="38px">&#160;</td>
				                <td align="#{applicationData.pageAlignment}" class="menu_underline_align">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
				                	    <ui:insert name="menuStripParam"></ui:insert>
				                		<ui:param name="isHomePage" value="false" />
				                	</ui:include>
				                </td>
								<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" style="border-bottom:1px dotted black;" >&#160;</td>
				                <td width="16" class="menu_underline">&#160;</td>
				                <td width="140" align="right" height="48" valign="bottom" rowspan="3">
									<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
				                </td>
				                <td width="23" style="border-bottom:1px dotted black;">&#160;</td>
				                <td width="16" >&#160;</td>
				             </tr>
				             <tr height="2">
				             	<td width="16" style="font-size:1px;">&#160;</td>
			             		<td colspan="4" class="menu_underline2" style="font-size:1px">&#160;</td>
				             	<td width="23" style="border-bottom:1px dotted black;font-size:1px">&#160;</td>
				             	<td width="16" style="font-size:1px;">&#160;</td>
				             </tr>
				             <tr>
			                	<td height="8" width="775" colspan="4" style="font-size:1px;">&#160;</td>
			                	<td height="8" width="39px" colspan="2" style="font-size:1px;">&#160;</td>
			                </tr>
				           </table>
				           </td>
		                </tr>
		                <tr>
		                	<td width="16">&#160;</td>
		                    <td valign="top" width="100%">
		<!-- *************************************************************************************************************************** -->
		 <!-- BEGIN MAIN -->
								<table width="922px" align="center" height="540px" border="0" style="" cellpadding="0" cellspacing="0" >
			 			        	<tr height="30">
				 			        	<td width="176" height="30" class="header_pages" align="center" >
											<ui:insert name="title"></ui:insert>
							            </td>
							            <td width="12" height="30" valign="middle" class="header_pages">
											<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" />
										</td>
				 			        	<td width="639px" height="30" valign="middle" class="header_pages_message">
											<ui:insert name="title_message"></ui:insert>
							            </td>
							            <td width="95px" class="header_pages">
								            <table id="secure_table" cellpadding="0" cellspacing="0" onmouseover="ShowContentSecReg('secure_reg_div'); return true;"
							            	onmouseout="HideContentSec('secure_reg_div'); return true;">
							            	<div id="secure_reg_div" style="display:none;
													  position:absolute;
													  border-style: none;
													  background-color: white;
													  padding: 0px;">
							            		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secure.gif"/>
							            	</div>
								            	<tr>
										            <td class="header_pages" width="17px" style="cursor:pointer" >
										            	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif"
										            	/>
										            </td>
										            <td width="80px" class="header_pages" style="cursor:pointer;text-align:#{applicationData.pageAlignment};padding-left:2px" id="showHintTD" >
										            	&#160;<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>
										            </td>
    									        </tr>
								            </table>
								            <div style="display: none; position: absolute;z-index:110;width:1px;text-align:#{applicationData.pageAlignmentReverse} " id="secure_div"></div>
							            </td>

						            </tr>
						         	<tr height="510px" align="left" bgcolor="#FFFFFF" valign="top">
				 			        	<td width="630px" height="510px" colspan="3">
											<ui:insert name="content"></ui:insert>
							            </td>
									<c:if test="${empty sessionScope.user &amp;&amp; applicationData.skinId != 8 &amp;&amp; applicationData.skinId != 11}">
							            <td width="20%" align="right">
							             <br/> <br/>
							              <c:if test="${applicationData.xmassBonusTime}">
								             <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/xmss_register.gif" />
								              <br/> <br/><br/>
							              </c:if>
							              <ui:include src="/jsp/supportContactusTextBannerOld.xhtml" />
							             <!-- <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/contactus.gif" /> -->
							            </td>
						            </c:if>
						          	<c:if test="${empty sessionScope.user &amp;&amp; (applicationData.skinId == 8 || applicationData.skinId == 11)}">
							            <td width="20%" align="right">
							             <br/><br/>
							              <c:if test="${applicationData.xmassBonusTime}">
								             <img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/xmss_register.gif" />
								              <br/> <br/><br/>
							              </c:if>
							             <img height="262px" width="186px" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/topbnr.gif" />
							            </td>
						            </c:if>
						            </tr>
								</table>
		<!-- *************************************************************************************************************************** -->
		                    </td>
		                    <td width="16">&#160;</td>
		              	</tr>
						<tr><td height="8" colspan="3"></td></tr>
					</table>
				</td>
			</tr>
			<tr>
				<td height="8px"></td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
	<tr height="16px" bgcolor="#e1e1e1"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td height="136px" width="970px" class="table_border">
			<ui:include src="/jsp/#{applicationData.tlvPath}#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>
<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
<script>
	function cert_pop_up() {
		var pop = parent.document.getElementById("certificatePopUp");
		var pic = document.getElementById("certificatePicture");
		positionDiv(pic, pop, 0, -100);
		pop.style.display = "block";
	}
</script>
</f:view>
<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>
<div id="log"></div>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;"/>
	<br/>
</div>
</body>
</html>
