<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >


<head profile="http://www.w3.org/2005/10/profile">

    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <META NAME="description" content="#{msgs['index.description']}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META Http-Equiv="Cache-Control" Content="no-cache"/>
	<META Http-Equiv="Expires" Content="0"/>
	<meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
	<h:panelGroup rendered="#{!empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
				runThickBox(#{facesContext.externalContext.requestParameterMap['tickBoxMarketId']}, #{facesContext.externalContext.requestParameterMap['tickBoxOppId']});
			}
		</script>
	</h:panelGroup>
	<h:panelGroup rendered="#{empty facesContext.externalContext.requestParameterMap['tickBoxMarketId']}">
		<script>
			function onLoadOpenThickBox() {
			}
		</script>
	</h:panelGroup>
</head>

<body dir="#{applicationData.pageDirection}" class="body_bg" onload="onLoadOpenThickBox();">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<f:view locale="#{applicationData.userLocale}">


<script>
	var tradingPage = true;
	document.domain = "#{applicationData.domainUrl}";
	var updatesFrequencyFlag = #{slipForm.loggedIn};
	var updatesFrequencyIn = #{slipForm.updateFrequencyLoggedIn};
	var updatesFrequencyNotIn = #{slipForm.updateFrequencyNotLoggedIn};
	var context_path = "#{facesContext.externalContext.requestContextPath}";
	var skinId = #{applicationData.skinId};
	var imgPath = '#{applicationData.userLocale.language}_#{applicationData.skinId}';
	var trading_box_expires = "#{msgs['trading.box.expires']}";
	var bundle_msg_today = "#{msgs['investment.time.today']} ";
	var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
	var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
	var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.gif';
	var submitBtnSubmittingImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif';
	var marketMenuError= "#{msgs['market.menu.error']}";
	//var firstTimeVisit="#{applicationData.firstVisitAO}";
	var noLongTermMarkets = #{applicationData.marketsWithoutLongTermBySkinId};
	var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
	var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
	var sendSmsMessage = "#{msgs['investment.settle.sms.msg']}";
	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
	var isSmsAvaliableForUser = #{applicationData.smsAvaliableForUser};
	var sendSmsMessageShort = "#{msgs['trading.chartBox.recipt.SMS']}";
	</h:panelGroup>
</script>

<script src="#{facesContext.externalContext.requestContextPath}/ls/lscommons.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/ls/lspushpage.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/logging.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/detect_timezone.js?new=cvsVersionParam" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/TP_tigra_hints.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/charts.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/cookie.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/trade_page_new.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/flashes.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/randomLevelChange.js?new=cvsVersionParam"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/scrl.js?new=cvsVersionParam"></script>

<ui:insert name="selected" />
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<table align="center" width="970" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
    <tr>
        <td width="970" height="103" align="center" valign="top" class="table_sides_border"><iframe id="header" name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/header_loggedin.jsf?refresh=true" width="970" height="103" scrolling="no" ></iframe></td>
    </tr>
    <tr>
	    <td width="970" height="26" class="table_sides_border">
			<ui:include src="/jsp/tickerWrapper_old.xhtml"></ui:include>
		</td>
	</tr>
    <tr>
       <td class="table_no_up_border">
			<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0"> <!--  first -->
				<tr><td height="8" colspan="2"><ui:insert name="message"></ui:insert></td></tr>
			    <tr>
			    	<td width="8">&#160;</td>
			        <td width="954">
			            <table width="954" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
			                <tr>
			                    <td colspan="5">

			                    </td>
			                </tr>
			                <tr>
			                   <td colspan="5"  height="38px">
				           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"> <!--  MENU STRIP table -->
				             <tr class="menu_stripe">
				             	<td width="16" height="38px">&#160;</td>
				                <td align="#{applicationData.pageAlignment}" class="menu_underline_align">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
				                		<ui:param name="isHomePage" value="false" />
				                	</ui:include>
				                </td>
								<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" style="border-bottom:1px dotted black;" >&#160;</td>
				                <td width="16" class="menu_underline">&#160;</td>
				                <td width="140" align="right" height="48" valign="bottom" rowspan="3">
									<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
				                </td>
				                <td width="23" style="border-bottom:1px dotted black;">&#160;</td>
				                <td width="16" >&#160;</td>
				             </tr>
				             <tr height="2">
				             	<td width="16" style="font-size:1px;">&#160;</td>
			             		<td colspan="4" class="menu_underline2" style="font-size:1px">&#160;</td>
				             	<td width="23" style="border-bottom:1px dotted black;font-size:1px">&#160;</td>
				             	<td width="16" style="font-size:1px;">&#160;</td>
				             </tr>
				             <tr>
			                	<td height="8" width="775" colspan="4" style="font-size:1px;">&#160;</td>
			                	<td height="8" width="39px" colspan="2" style="font-size:1px;">&#160;</td>
			                </tr>
				           </table>
					           </td>
			                </tr>
			                <tr>
			                    <c:if test="${!empty sessionScope.user}">
									<td width="22">&#160;</td>
					          	</c:if>
					          	<c:if test="${empty sessionScope.user}">
			                		<td width="16">&#160;</td>
			                	</c:if>
			                    <td valign="top" width="720" id="markets_cell">
			<!-- *************************************************************************************************************************** -->
			 <!-- BEGIN MAIN -->
									<div id="ls_unstable" style="display:none">
			 							<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/unstable.jpg" align="top" border="0"/>
			 						</div>
			 						<div id="markets_table">
									<table id="ls_stable" border="0" width="720px" cellpadding="0" cellspacing="0">
									     <tr>
									        <td width="352px" height="260px" class="box" id="boxHolder1">
												<ui:include src="/jsp/tradingPageBox.xhtml">
													<ui:param name="box" value="1" />
													<ui:param name="showBanner" value="false" />
													<ui:param name="banner" value="banner_box1.gif" />
													<ui:param name="link" value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}" />
												</ui:include>
									        </td>
									        <td width="16px">&#160;</td>
									        <td width="352px" height="260px" class="box" id="boxHolder2">
												<ui:include src="/jsp/tradingPageBox.xhtml">
													<ui:param name="box" value="2" />
													<ui:param name="showBanner" value="false" />
													<ui:param name="banner" value="" />
													<ui:param name="link" value="" />
												</ui:include>
									        </td>

									    </tr>
									    <tr height="16px"><td colspan="5" height="16"></td></tr>
									     <tr>

									        <td width="352px" height="260px" class="box" id="boxHolder4">
												<ui:include src="/jsp/tradingPageBox.xhtml">
													<ui:param name="box" value="4" />
													<ui:param name="showBanner" value="false" />
													<ui:param name="banner" value="" />
													<ui:param name="link" value="" />
												</ui:include>
									        </td>
									        <td width="16px">&#160;</td>
									        <td width="352px" height="260px" class="box" id="boxHolder3">
												<ui:include src="/jsp/tradingPageBox.xhtml">
													<ui:param name="box" value="3" />
													<ui:param name="showBanner" value="false" />
													<ui:param name="banner" value="" />
													<ui:param name="link" value="" />
												</ui:include>
									        </td>

									    </tr>
									</table>
									</div>
									<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
										<div id="off_hours_banner" style="display: none;" dir="#{applicationData.pageDirection}">
											<table  width="720" height="536" border="0" cellpadding="0" cellspacing="0" >
												<tr>
													<h:panelGroup rendered="#{!applicationData.rtlAlign}">
													<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_01.jpg" width="175" height="536"></td>
													<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_02.jpg" width="365" height="206" alt=""></td>
													<td rowspan="3"  background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_03.jpg" width="179" height="536" alt=""></td>
													</h:panelGroup>

													<h:panelGroup rendered="#{applicationData.rtlAlign}">
													<td rowspan="3"  background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_03.jpg" width="179" height="536" alt=""></td>
													<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_02.jpg" width="365" height="206" alt=""></td>
													<td rowspan="3" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_01.jpg" width="175" height="536"></td>
													</h:panelGroup>
												</tr>
												<tr>
													<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_04.jpg"  width="365" height="125" valign="top" >

														<span class="offHourTxt"><h:outputText escape="false" value="#{msgs['offHoursTxtLine1']}"/><br/>
														<br/>
														<h:outputText value="#{msgs['offHoursTxtLine3']}"/> |&#160;<h:outputText value="#{msgs['offHoursTxtLine4']}"/>
														<br/>
														<h:outputText value="#{msgs['offHoursTxtLine5']}"/> |&#160;<h:outputText value="#{msgs['offHoursTxtLine6']}"/><br/>

														<strong><h:outputText value="#{msgs['offHoursTxtLine2']}"/></strong></span></td>
												</tr>
												<tr>
													<td background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offhours_05.jpg" width="365" height="205"></td>
												</tr>
											</table>
										</div>
									</h:panelGroup>
									<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
										<div id="off_hours_banner" style="display: none;" dir="#{applicationData.pageDirection}">
											<ui:include src="/jsp/TradePageOneTouchOffHour.xhtml"></ui:include>
										</div>
									</h:panelGroup>
			<!-- *************************************************************************************************************************** -->
			                    </td>

			                    <td width="16">&#160;</td>
			                    <td width="186" height="540" align="center" bgcolor="#FFFFFF" valign="top">
			<!-- *******************************************Banners************************************************************************ -->
										<iframe align="center" valign="top" height="540" width="186" id="banners_page" name="banners_page" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/right_side_banners_old.jsf" scrolling="no"></iframe>
										<!-- ui:include src="/jsp/right_side_banners_old.xhtml"></ui:include-->
			<!-- *************************************************************************************************************************** -->
								</td>
								<c:if test="${!empty sessionScope.user}">
									<td width="18">&#160;</td>
					          	</c:if>
					          	<c:if test="${empty sessionScope.user}">
			                		<td width="16">&#160;</td>
			                	</c:if>

			              	</tr>
							<tr valign="bottom">
								<td height="28">&#160;</td>
								<td height="28" align="center" valign="middle" >
									<table border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="352px" align="center">
											<table>
												<tr>
													<td>
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/personalize.jsf">
														<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/wheel.jpg" height="18" style="cursor:pointer;" align="top" border="0"/></a>
													</td>
													<td>
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/personalize.jsf" border="0" style="text-align:top;" align="top"  class="howcani">
														<h:outputText value="#{msgs['tradingPage.howdoi']}"/>
														</a>
													</td>
												</tr>
											</table>
										</td>
										<td width="16">&#160;</td>
										<td width="352px" align="center">
											<table>
												<tr>
													<td>
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/virtual_tour.jsf"
														   border="0" style="text-align:top;" align="top"  class="howcani">
														<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/wheel.jpg" height="18" style="cursor:pointer;" align="top" border="0"/>
														</a>
													</td>
													<td>
														<a href="#{facesContext.externalContext.requestContextPath}/jsp/virtual_tour.jsf"
														   border="0" style="text-align:top;" align="top"  class="howcani">
															<h:outputText value="#{msgs['tradingPage.quick']}"/>
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									</table>
								</td>
								<td height="28" colspan="3">&#160;</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="8px"></td>
				</tr>
			</table><!--  of first -->
       </td>
    </tr>
	<tr height="16px" bgcolor="#e1e1e1"><td height="16px" width="970px">&#160;</td></tr>
	<tr height="171px">
		<td height="171px" width="970px" class="table_border">
			<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
				<tr height="5px" width="100%"><td>&#160;</td></tr>
				<tr>
					<td height="161px" width="24px">&#160;</td>
					<td height="161px" width="737px">
						<table height="161px" width="737px" cellpadding="2" cellspacing="0" border="0">
							<tr height="161px">
								<td width="20"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10" height="147" /></td>
								<td height="161px">
									<ui:include src="/jsp/whatIsAnyoption.xhtml"/>
								</td>
								<td width="20"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10" height="147" /></td>
								<td>
									 <ui:include src="/jsp/learnAbout.xhtml" />
								</td>
								<td width="20"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10" height="147" /></td>
								<td>
									 <ui:include src="/jsp/calendarTxt.xhtml" />
								</td>
								<td width="20"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10" height="147" /></td>
								<td valign="top">
									<iframe align="top" id="rssFeed" name="rssFeed" frameborder="no"
											src="#{facesContext.externalContext.requestContextPath}/jsp/rssFeed.jsf"
											width="186px" height="147px" scrolling="no"></iframe>
								</td>
								<td width="20"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/diveder.jpg" width="10" height="147" /></td>
							</tr>
						</table>
					</td>
					<td height="161px" width="24px">&#160;</td>
				</tr>
				<tr height="5px" width="970px"><td>&#160;</td></tr>
			</table>
		</td>
  	</tr>
  	<tr height="16px" bgcolor="#e1e1e1"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td class="table_border" width="970px">
			<ui:include src="/jsp/#{applicationData.userLocale.language}/assetList.xhtml" />
		</td>
	</tr>
    <tr height="16px" bgcolor="#e1e1e1"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td height="136px" width="970px" class="table_border">
			<ui:include src="/jsp/#{applicationData.tlvPath}#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>
	<t:dataList value="#{tradingPageBean.arrays}" var="arrays" layout="simple">
	<script>
		var lsEngRef;
		var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
		var userLanguage = "#{applicationData.userLocale.language}";

		var lsPage = new PushPage();
		lsPage.context.setDebugAlertsOnClientError(false);
		lsPage.context.setDomain("#{applicationData.domainUrl}");
		lsPage.onEngineCreation = function(engine) {
			engine.connection.setLSHost("#{applicationData.lsServer}");
			engine.connection.setLSPort(80);
			engine.connection.setAdapterName("REUTERSJMS");
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				engine.connection.setUserName("#{user.userName}");
				engine.connection.setPassword("#{user.passHash}");
			</h:panelGroup>
			engine.policy.setMaxBandwidth(20);
			engine.policy.setIdleTimeout(30000);
			engine.policy.setPollingInterval(1000);
			engine.policy.setTimeoutForReconnect(10000);

			engine.changeStatus("STREAMING");
			lsEngRef = engine;
		};
		lsPage.onEngineReady = function(engine) {
			engine.onStatusChange = function(chngStatus) {
				window.status = "#{applicationData.tradingPagesStatus}";
				engineStatusChange(chngStatus);
			};
		};
		lsPage.bind();
		lsPage.createEngine("tradingPage", "#{facesContext.externalContext.requestContextPath}/ls/", "SHARE_SESSION");

		var group = [#{tradingPageBean.homePageMarkets}];
		var schema = ["key", "command", "ET_NAME", "ET_LEVEL", "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", "ET_CLR", "ET_PRIORITY", "ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE", "AO_HP_MARKETS_" + skinId, "AO_STATES"];
		var aoTable = new NonVisualTable(group, schema, "COMMAND");
		aoTable.setDataAdapter("JMS_ADAPTER");
		aoTable.setSnapshotRequired(true);
		aoTable.setRequestedMaxFrequency(1.0);
		aoTable.onItemUpdate = updateItemAO;
		lsPage.addTable(aoTable, "aoTable");

		var boxesFixed = new Array(false#{arrays.fixed});
		var boxesFixedMarkets = new Array(0#{arrays.markets});
		var boxesFixedScheduled = new Array(0#{arrays.scheduled});
		var boxesFull = new Array(false, true, true, true, true);
		var boxesMarkets = new Array(0, 0, 0, 0, 0);
		var slipTypes = new Array(0#{arrays.slipTypes});
		var slipAmounts = new Array(0#{arrays.slipAmounts});
		var israelMarkets = new Array(#{arrays.israelMarkets});

		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
			var groupGM = ["insurances_#{user.userName}"];
			var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", "INS_CRR_LEVEL", "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR"];
			var newTableGM = new NonVisualTable(groupGM, schemaGM, "COMMAND");
			newTableGM.setDataAdapter("JMS_ADAPTER");
			newTableGM.setSnapshotRequired(true);
			newTableGM.setRequestedMaxFrequency(1.0);
//			newTableGM.setPushedHtmlEnabled(true);
//			newTableGM.setClearOnDisconnected(false);
//			newTableGM.setMaxDynaRows("unlimited");
//			newTableGM.setMetapushFields(2, 1);
//			newTableGM.setMetapushSort(10, false, true);
//			newTableGM.onChangingValues = formatValuesGM;
			newTableGM.onItemUpdate = updateItemGM;
			lsPage.addTable(newTableGM, "goldenInvestmentsTable");
		</h:panelGroup>
	</script>
	</t:dataList>
	<h:form>

	<div id="treeM"  style="position:absolute;top:0; left:0; z-index:2; display: none; ">
		<ui:include src="/jsp/marketSelect.xhtml" />
	</div>
	<div id="scheduleMenu" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
		<ui:include src="/jsp/#{applicationData.templatesDirectory}/optionTypes.xhtml" />
	</div>
	<div id="skinsM" style="position:absolute; top:10; left:0; z-index:-1; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
	<span id="template_down" style="display: none;">
		&#160;<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/down.jpg" border="0" />
	</span>
	</h:form>
</f:view>
<!--
<a href="#" onclick="clearLog(); return false;">Clear log</a>
-->
<a id="thickBoxLink" class="thickbox" href="investmentPopup.jsf"/>
<div id="log"></div>

<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
</body>
</html>