<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">

<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<head>
	<script>var skinId = #{applicationData.skinId};</script>
	<ui:insert name="cookie" />
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
   	<title><ui:insert name="windowtitle"/></title>
    <META NAME="keywords" content="#{msgs['anyoption.keywords']}"/>
    <c:set var="metaDesc" value="#{msgs['anyoption.description']}" /> <!-- default -->
    <ui:insert name="metaDescription"></ui:insert>
    <ui:insert name="showDeposit">
    	<c:set var="showDeposit" value="false" />
    </ui:insert>
    <META NAME="description" content="${metaDesc}"/>
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/css/thickbox.css" type="text/css" />
	<link rel="alternate" type="application/rss+xml" title="Options Trading - anyoption.com" href="http://www.anyoption.com/feed.xml"/>
	<ui:insert name="head"></ui:insert>
</head>

<body dir="#{applicationData.pageDirection}" bgcolor="#e1e1e1">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/googleTag.xhtml" />
</c:if>
<script>
	var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
	var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
</script>
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		<script src="#{facesContext.externalContext.requestContextPath}/js/golden_page.js?new=cvsVersionParam"></script>
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?new=cvsVersionParam"></script>
		<ui:include src="/jsp/insurance_page.xhtml"></ui:include>
</h:panelGroup>

<f:view locale="#{applicationData.userLocale}">

<script>
	var context_path = "#{facesContext.externalContext.requestContextPath}";
</script>
<script src="#{facesContext.externalContext.requestContextPath}/js/common.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/hintsMenus.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview.js"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/preview_secure.js?new=true"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/thickbox/thickbox.js" type="text/javascript"></script>
<script src="#{facesContext.externalContext.requestContextPath}/js/tradeMarkPopup.js"></script>

<script>
	// calendar variables
	var calMonthNames = new Array(#{msgs['calendar.monthNames']});
	var	calMonthAbbreviations = new Array(#{msgs['calendar.monthAbbreviations']});
	var	calDayHeaders = new Array(#{msgs['calendar.dayHeaders']});
	var	calToday = #{msgs['calendar.today']};
	var calDir = "#{applicationData.pageDirection}";
</script>
<ui:insert name="selected" />

<c:set var="topBanner" value="defualt"></c:set>
<ui:insert name="topBannerChange" />
<c:set var="contactBanner" value="defualt"></c:set>
<ui:insert name="contactBannerChange" />


<script>
	document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
</script>

<table align="center" width="970"  border="0" cellpadding="0" cellspacing="0" >
    <tr>
        <td width="970" height="103" align="center" valign="top" class="table_sides_border"><iframe id="header" name="header" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.templatesDirectory}/header_loggedin.jsf?refresh=true" width="970" height="103" scrolling="no" ></iframe></td>
    </tr>
    <tr>
		<td height="26px" width="970px" class="table_sides_border">
				<ui:include src="/jsp/tickerWrapper_old.xhtml"></ui:include>
		</td>
	</tr>

    <tr>
     <td class="table_no_up_border">
		<table class="gray_background" border="0" width="970" cellpadding="0" cellspacing="0" > <!--  first -->
			<tr height="8"><td></td></tr>
		    <tr>
		    <td width="8">&#160;</td>
		        <td width="954">
		            <table width="954" border="0" cellpadding="0" cellspacing="0" class="gray_background">
		                <tr>
		                    <td colspan="5">
           						<ui:insert name="message"></ui:insert>
		                    </td>
		                </tr>
		                <tr>
		                <td colspan="5">
				           <table border="0" style="border-color:blue;" align="center" cellpadding="0" cellspacing="0" class="gray_background"> <!--  MENU STRIP table -->
				             <tr class="menu_stripe">
				             	<td width="16" height="38px">&#160;</td>
				                <td align="#{applicationData.pageAlignment}" class="menu_underline_align">
				                	<ui:include src="/jsp/#{applicationData.templatesDirectory}/menu_strip.xhtml" >
										<ui:insert name="menuStripParam"></ui:insert>
				                		<ui:param name="isHomePage" value="false" />
				                	</ui:include>
				                </td>
								<td align="#{applicationData.pageAlignmentReverse}" colspan="2" class="menu_stripe" style="border-bottom:1px dotted black;" >&#160;</td>
				                <td width="16" class="menu_underline">&#160;</td>
				                <td width="140" align="right" height="48" valign="bottom" rowspan="3">
									<ui:include src="/jsp/#{applicationData.templatesDirectory}/clock.xhtml" />
				                </td>
				                <td width="23" style="border-bottom:1px dotted black;">&#160;</td>
				                <td width="16" >&#160;</td>
				             </tr>
				             <tr height="2">
				             	<td width="16" style="font-size:1px;">&#160;</td>
			             		<td colspan="4" class="menu_underline2" style="font-size:1px">&#160;</td>
				             	<td width="23" style="border-bottom:1px dotted black;font-size:1px">&#160;</td>
				             	<td width="16" style="font-size:1px;">&#160;</td>
				             </tr>
				             <tr>
			                	<td height="8" width="775" colspan="4" style="font-size:1px;">&#160;</td>
			                	<td height="8" width="39px" colspan="2" style="font-size:1px;">&#160;</td>
			                </tr>
				           </table>
				           </td>
		                </tr>

		                <tr>
		                	<td width="27px">&#160;</td>
		                    <td valign="top" width="921px">
								<table width="921px" height="527px" border="0" cellpadding="0" cellspacing="0" align="center">
			 			        	<c:set var="showHeaderRow" value="true" /> <!-- default -->
			 			        		<ui:insert name="showHeaderRow"></ui:insert>
			 			        	<c:if test="${showHeaderRow}">
				 			        	<tr height="31px" style="text-align: left;">
					 			        	<td width="176px" class="header_pages"><ui:insert name="title"></ui:insert></td>
					 			        	<td width="12px"  height="31px" valign="middle" class="header_pages_separator"></td>
											<!-- td width="12px" height="31" class="header_pages" align="top"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/separetor2.gif" height="30" complete="complete" align="top" border="0"/ -->
					 			        	<td width="573px"  class="header_pages_message" style="text-align: left;"><ui:insert name="title_message"></ui:insert>
								            </td>
								            <td width="160px" class="header_pages" id="secure_td">
									            <table id="secure_table" cellpadding="0" cellspacing="0" onmouseover="ShowContentSec('secured'); return true;"
								            	onmouseout="HideContentSec('secured'); return true;">
									            	<tr>
									            		<td width="78"></td>
											            <td width="17px" class="header_pages" style="cursor:pointer" align="left">
											            	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secured_icon.gif" width="17px" height="29px"/>
											            </td>
											            <td width="80px" class="header_pages" style="cursor:pointer" id="showHintTD">
											            	<h:outputText value=" #{msgs['secured']}" style="font-weight:normal;text-transform:none;font-size:10px;"/>
											            </td>
	    									        </tr>
									            </table>
									            <div style="display: none; position: absolute;z-index:110;width:1px; " id="secure_div"></div>
									            <div id="secured" style="display:none;
														  position:absolute;
														  border-style: none;
														  background-color: white;
														  padding: 0px;">
								            		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/secure.gif"/>
								            	</div>
								            </td>
							            </tr>
						            </c:if>

							            <c:set var="numColspan" value="4"/>
										<c:set var="tableWidth" value="921px"/>
										<c:set var="contentWidth" value="714px"/>
						            <c:if test="#{showDeposit == 'true'}">
							            <c:set var="numColspan" value="3"/>
										<c:set var="tableWidth" value="761px"/>
										<c:set var="contentWidth" value="554px"/>
									</c:if>
						         	<tr height="505px" bgcolor="#FFFFFF" valign="top">
						         		<td colspan="${numColspan}" height="527px" width="${tableWidth}">
						         			<table height="527px" width="${tableWidth}" cellpadding="0" cellspacing="0" border="0">
						         				<tr>
						         					<td class="my_account" height="25px">&#160;</td>
						         					<td colspan="3">&#160;</td>
						         				</tr>
						         				<tr>
									         		<td width="180px" class="my_account" valign="top">
									         			<ui:insert name="menuSet"></ui:insert>
									         			<ui:include src="/jsp/templates/myaccount_menu.xhtml"></ui:include><!-- SIDE MENU   -->
									         		</td>
									         		<td width="27px">&#160;</td>
							 			        	<td width="${contentWidth}" height="502px" valign="top"> <!-- Content  -->
														<ui:insert name="content"></ui:insert>
										            </td>
										            <ui:insert name="russian-banner"></ui:insert>
										        </tr>
						         			</table>
						         		</td>
						         	<c:if test="#{showDeposit == 'true'}">
   										<h:panelGroup rendered="#{applicationData.skinId == 10}">
				        					<td valign="top" width="160px" align="#{applicationData.pageAlignment}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/paymentbnr.gif" width="160px" height="428px" /><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/banking_ru_bottom.gif" width="160px" height="99px" border="0" /></a></td>
   										</h:panelGroup>
							        </c:if>
						            </tr>
								</table>
		                    </td>
							<td width="26px">&#160;</td>
		              	</tr>
					</table>
				</td>
			</tr>
		  </table><!--  of first -->
       </td>
    </tr>
	<tr height="16px" bgcolor="#e1e1e1"><td height="16px" width="970px">&#160;</td></tr>
	<tr>
		<td height="136px" width="970px" class="table_border">
			<ui:include src="/jsp/#{applicationData.tlvPath}#{applicationData.templatesDirectory}/footer.xhtml" />
		</td>
	</tr>
</table>

<h:form>
	<div id="skinsM" style="position:absolute; top:0; left:0; z-index:2; display: none; ">
	   	<ui:include src="/jsp/#{applicationData.templatesDirectory}/skinsMenu.xhtml" />
	</div>
</h:form>
</f:view>
<h:panelGroup rendered="#{applicationData.skinId == 10}">
	<div id="certificatePopUp"  style="position:absolute;z-index:100;layer-background-color:white; display: none;">
		<ui:include src="/jsp/ru/certificat_pop-up.xhtml" />
	</div>
</h:panelGroup>
<div id="log"></div>
<div id="secureHint"  style="position:absolute;top:0; left:0; z-index:2; display: none; " class="hintsClass_newCard">
	<br/>
	<h:outputText value="#{msgs['secured_msg1']}" style="font-weight:bold;text-transform:none;"/><br/>
	<h:outputText value="#{msgs['secured_msg2']}" style="font-weight:normal;text-transform:none;"/>
	<br/>
</div>
<a id="thickBoxLink" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/investmentPopup.jsf"/>
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/#{applicationData.templatesDirectory}/google.xhtml" />
</c:if>
<!-- Trade Mark popup -->
<div id="boxes_tm">
<div style="display: none;" id="dialog_tm" class="window_tm">
</div>
<div style="display: none; opacity: 0.8;" id="mask_tm"></div>
</div>
</body>
</html>
