<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
<style type="text/css">
.bonus_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 16px;
color: #093755;
}
.bonus {
	font-family: Arial, Helvetica, sans-serif;
font-size: 19px;
font-weight: bold;
color: #0284D6;
}
.bonus_terms {
	font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 16px;
color: #093755;
}
</style>

</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td height="505" width="150">
    	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_expierd.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bonus_cancled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
         <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">SPECIAL BONUS</span><br /><br />
            <span class="bonus_text">We are pleased to inform you that you are entitled to a special bonus of&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['bonusAmount']}"/>. <br />
            <br />
            The bonus amount will be credited to your account immediately after you have deposited&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumDeposits']}"/> and invested a total of&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['sumInvQualify']}"/> and it will appear in ”My Account” > “Banking History” as “Benefit from anyoption”.<br />
            <br />
            The offer is valid until&#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.</span><br />
            <br />
            <span class="bonus_terms"><strong>Bonuses – General Terms</strong><br />
            The bonus shall be credited to the client’s account subject to compliance with the terms of the offer in which he was asked to participate e.g. making minimum deposits and/or purchasing a minimum amount of options within a specified period.<br />
            <br />
            The Company encourages its clients to take part in the offers, but to refrain from abusing them. Abusing any of the offers could lead to cancellation of the bonus and closure of the client’s account on the Company’s website.<br />
            <br />
            The benefit must be used within the period defined in the details of the specific offer. Should the benefit fail to be used within this time frame, it shall be canceled.<br />
            <br />
            Once receiving the bonuses/benefits, the client has 3 (three) calendar months to complete the total amount of investments required as a precondition for receiving the bonus. If the required total amount of investments is not reached during this time period, the customer will not receive the bonus funds.<br />
            <br />
           	<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
			<br />
            <br />
            <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
            </span> </td>
        </tr>
      </table></td>

        </tr>
      </table></td>
  </tr>
</table>

<script type="text/javascript"><!--

	function getScrolling()
	{
		var x = 0; var y = 0;if (self.pageXOffset || self.pageYOffset)
		{
			x = self.pageXOffset;
			y = self.pageYOffset;
		}
		 else if ((document.documentElement && document.documentElement.scrollLeft)||(document.documentElement && document.documentElement.scrollTop))
		{
			x = document.documentElement.scrollLeft;
			y = document.documentElement.scrollTop;
		}
		 else if (document.body) 
		{
			x = document.body.scrollLeft;
			y = document.body.scrollTop;
		}
		return x + "," + y;
	}
	
//--></script>
</f:view>
</body>
</html>