<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>The ultimate new money making idea</title>
	<style type="text/css">
		body {
			font-family:Verdana, Geneva, sans-serif;
			color:#FFF;
		}
		.make {
			font-size:18px;
		}
		.binary {
			font-size:12px;
			line-height:16px;
		}
		.green {
			color:#7aaf67;
			font-size:12px;
			padding-left:10px;
		}
		.points {
			font-size:11px;
		}
		.footer {
			font-family:Verdana, Geneva, sans-serif;
			font-size:10px;
			color:#093755;
			padding:20px;
		}
		.header {
			background:url(http://picbase.anyoption.com/images/landing/idea_header.jpg);
			background-repeat:no-repeat;
			width:800px;
			height:96px;
			color:#ffffff;
			font-family:Verdana, Geneva, sans-serif;
			font-size:11px;
			line-height:22px;
			text-align:right;
		}
		.left {
			background:url(http://picbase.anyoption.com/images/landing/idea_left.jpg);
			background-repeat:no-repeat;
			white-space:281px;
			height:507px;
			background-position:left;
		}
		.body_bkgnd {
			background:url(http://picbase.anyoption.com/images/landing/body.jpg);
			background-repeat:no-repeat;
			background-position:right;
		}
	</style>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<f:view locale="#{applicationData.userLocale}">
<br/>
<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td colspan="2" class="header" width="800" height="96" >
    	<table width="600" align="right" cellpadding="0" cellspacing="0" class="header">
        	<tr>
            	 <td  height="60" align="right">Index Options&#160;|&#160;Stocks Options<br/>&#160;Forex Options  &#160;|&#160;Commodities Options</td>
              <td width="30">&#160;</td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td rowspan="2" class="left" width="281" height="507" ></td>
    <td width="519" height="138"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"><img src="http://picbase.anyoption.com/images/landing/idea_headline_en.jpg" width="519" height="138" border="0" /></a></td>
  </tr>
  <tr valign="top">
    <td width="519" height="369" class="body_bkgnd">
    	<table width="510" cellpadding="0" cellspacing="0" align="right" >
	        <tr>
	          <td class="make">Make a 70% profit when you invest on our platform</td>
	        </tr>
	        <tr>
	          <td>&#160;</td>
	        </tr>
	        <tr>
	          <td class="binary"><strong>Binary options are a new and exciting way to profit from the financial markets with no trading experience.</strong></td>
	        </tr>
	        <tr>
	          <td>&#160;</td>
	        </tr>
	        <tr><td><span class="green">»</span> <span class="points">Profit when the markets go up and down</span><br/>
	            <span class="green">»</span> <span class="points">Earn as much 65-71% profit from small fluctuations</span><br/>
	            <span class="green">»</span> <span class="points">Over 60 assets to choose from</span><br/>
	            <span class="green">»</span> <span class="points">No commissions, no fees</span><br/>
	            <span class="green">»</span> <span class="points">Simple, easy, profitable</span></td>
	        </tr>
	        <tr>
	          <td>&#160;</td>
	        </tr>
	        <tr>
	          <td class="binary">You simply, choose an asset, select a time frame and decide if the asset’s <br/>
				price will go up or down. The choice is yours. The method’s simple.</td>
	        </tr>
	        <tr>
	          <td align="center"></td>
	        </tr>
	        <tr valign="bottom">
	          <td height="80" align="center"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"><img src="http://picbase.anyoption.com/images/landing/opennow_en.gif" width="260" height="59" border="0" /></a></td>
	        </tr>
	      </table>
	   </td>
  </tr>
  <tr>
    <td colspan="2" width="800" height="10" class="footer" bgcolor="#e1e1e1" >anyoption™ is the industry’s leading binary option trading platform. Offering more than 60 underlying assets on which to purchase a binary option, the choice covers index binary options, forex binary options, stock binary options and commodity binary options.</td>
  </tr>
</table>
</f:view>
</body>
</f:view>