body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #ffffff url(../images/bg.png) left top repeat-x;
	color: #093755;
	font-size: 14px;
	width: 100%;
}
* {
	margin: 0px;
	padding: 0px;
}
#page {
	width: 1003px;
	margin:0 auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
img {
	border: none;
}
p {
	margin: 10px 0;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
#bg_container {
	width: 1045px;
	margin: 0 auto;
	postion: relative;
	clear: both;
}
#mainimg {
	position: absolute;
	top: 210px;
	left: 396px;
}
*+html #mainimg {
	float: left;
	margin-left: -110px !important;
}
#main {
	width: 1003px;
	height: auto;
	float: left;
	clear: both;
}
#logo {
	width: 975px;
	margin: 0 auto;
	text-align: left;
	height: 58px; padding-top: 15px;
}
#title {
	padding: 15px 18px;
	margin: 0 auto;
	width: 975px;
	background: transparent url(../images/bg_title.png) center top no-repeat;
	text-align: center;
}
h1 {
	font-size: 34px;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h2 {
	font-size: 32px;
	font-weight: normal;
	margin: 10px 0 0 0;
	padding: 0px;
	width: 975px;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 0px;
	width: 502px;
	float: right;
	text-align: left;
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 20px 0;
	padding: 0px;
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 10px 0;
	padding: 0px;
}
#content {
	width: 975px;
	margin: 25px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
	background: #ffffff url(../images/imgMain_BO.jpg) left 227px no-repeat;
}
#content_top {
	float: right;
	width: 1060px;
	min-height: 380px;
	padding-top: 60px;
	text-align: left;
	margin-top: 0px;
	background: #ffffff url(../images/imgMain_BO.jpg) bottom left no-repeat;
}
.top_list {
	list-style-type: none;
	padding: 0;
	margin-left:135px;
	text-align: left;
	width: 503px;
	margin-top: 10px;
	float: right ;
}
.top_list li {
	padding: 0px 0 20px 80px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: normal;
	color: #006cb2;
}
.top_list li span {
	font-size: 24px;
	font-weight: normal;
	color: #093755;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat left 10px;
	border-bottom: 1px dotted #aaaaaa;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat left top;
	border-bottom: 1px dotted #aaaaaa;
	padding-top: 3px;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat left top;
	padding-top: 3px;
}
.button_tradeBox {
	right: 0;
	height: 72px;
	width: 262px;
	top: 0;
	position: absolute;
}
.tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.tradeBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#content_btm {
	float: left;
	width: 1050px;
	text-align: left;
	font-size: 12px;
	line-height: 17px;
	margin-bottom: 30px;
	position: relative;
	padding: 0;
}
.bottom_list {
	list-style-type: none;
	text-align: left;
	margin-top: 3px;
	float: left;
	width: 990px;
}
.bottom_list li {
	padding: 7px 0 7px 35px;
	background: url(../images/img_bullet.png) no-repeat 6px 8px;
	border-bottom: 1px dotted #aaaaaa;
	font-size: 14px;
	font-weight: normal;
	height:auto;
}
#tradeBox_StartButton {
	width: 262px;
	height: 72px;
	background-image: url(../images/bttn_StartNow_01_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.content_learnBox {
	float: left;
	width: 975px;
	text-align: left;
	padding-right: 20px;
}
#content_learnBox p {
	text-align: justify;
	font-size: 12px;
}
.button_learnBox {
	float: right;
	height: 63px;
	width: 219px;
	margin-top:165px;
}
.learnBox_StartButton {
	width: 219px;
	height: 63px;
	background-image: url(../images/bttn_StartNow_02_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	border: none;
	cursor: pointer;
}
.learnBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
#footer {
	text-align: center;
	width: 975px;
	margin: 0 auto;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 633px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding: 15px 0 15px 337px;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 800px;
	padding: 20px 0;
	line-height: 16px;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
/*					Localizations					*/
#RU #mainimg {
	top: 260px
}
#RU #content_btm {
	margin-top: 0;
	padding: 0;
}
#RU .bottom_list {
	width: 1000px;
}
#RU .button_tradeBox {
	position: relative;
	margin-top: -5px;
	float: right;
}
#RU .top_list .p3 {
	background-position: left 16px;
}
#RU .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_ru.png);
}
#RU .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_ru.png);
}
#RU #content_top { margin: 0 0 0 0;}

#DE #mainimg {
	top: 214px;
}
#DE .button_tradeBox {
	position: relative;
	margin-top: 5px;
	float: right;
}
#DE #content_btm {
	margin-top: 0;
}
#DE h4 {
	line-height: 27px;
}
#DE .bottom_list {
	width: 1000px;
}
#DE .top_list .p2 {
	background-position: left 16px;
}
#DE .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_de.png);
}
#DE .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_de.png);
}



#IT #mainimg {
	top: 280px
}
#IT #content_btm {
	margin-top: -35px;
	padding:0;
}
#IT h2 {
	font-size: 30px;
}
#IT h4 {
	line-height: 27px;
}
#IT .button_tradeBox {
	position: relative;
	margin-top: 0px;
	float: right;
	z-index:9999;
}
#IT .bottom_list {
	width: 1000px;
}
#IT .content_learnBox {
	width: 975px;
}
#IT .top_list .p1 {
	background-position: left 25px;
}
#IT .top_list .p2 {
	background-position: left 25px;
}
#IT .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_it.png);
}
#IT .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_it.png);
}


#FR #mainimg {
	top: 270px;
}
#FR #content_btm {
	margin-top: 5px;
	padding:0;
}
#FR .bottom_list {
	width: 1000px;
}
#FR .button_tradeBox {
	width: 302px;
}
#FR .button_tradeBox {
	width: 302px;
	position: relative;
	margin-top: 5px;
	float: right;
}
#FR .top_list .p2 {
	background-position: left 16px;
}
#FR .top_list .p3 {
	background-position: left 16px;
}
#FR .tradeBox_StartButton {
	width: 302px;
	background-image: url(../images/bttn_StartNow_01_fr.png);
}
#FR .learnBox_StartButton {
	width: 252px;
	background-image: url(../images/bttn_StartNow_02_fr.png);
}

#ES #mainimg {
	top: 260px;
}
#ES #content_top {
	margin-top:10px;
}
#ES #content_btm {
	padding:0;
}
#ES h4 {
	line-height: 27px;
}
#ES .bottom_list {
	width: 1000px;
}
#ES .button_tradeBox {
	position: relative;
	margin-top: 12px;
	float: right;
	z-index: 9999;
}
#ES .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_es.png);
}
#ES .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_es.png);
}

#TR #mainimg {
	top: 220px;
}
#TR #content_btm {
	margin-top: 10px;
	padding: 0;
}
#TR h1 {
	font-size: 32px;
}
#TR h2 {
	font-size: 29px;
}
#TR h4 {
	line-height: 27px;
}
#TR .top_list .p2 {
	background-position: left 16px;
}
#TR .bottom_list {
	width: 1000px;
}
#TR .button_tradeBox {
	position: relative;
	margin-top: 10px;
	float: right;
	z-index: 9999;
}
#TR .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_tr.png);
}
#TR .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_tr.png);
}
#ZH #mainimg {
	top: 190px;
}
#ZH #content_top {
	margin-top: 10px;
}

#ZH #content_btm {padding:0;} 

#ZH .content_learnBox {
	margin-top: 20px;
}
#ZH .button_learnBox {
	margin-top: 100px;
}
#ZH .bottom_list {
	width: 988px;
}
#ZH .top_list .p1 {
	background-position: left top;
}
#ZH .button_tradeBox {
	position: relative;
	margin-top: 6px;
	float: right;
	z-index: 9999;
}
#ZH .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_zh.png);
}
#ZH .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_zh.png);
}


#AR #mainimg {
	top: 210px;
}
#AR {
	font-family: Tahoma;
}
#AR {
	direction: rtl;
}
#AR #logo {
	text-align: right;
}
*+html #AR #content_btm {
	float: right;
}
*+html #AR .bottom_list {
	float: right;
}
#AR .top_list {
	margin-right: 60px;
	text-align: right;
	width: 470px\9;
}
#AR .bottom_list {
	width: 975px;
	text-align: right;
	margin-top: 0;
	float: none;
}
#AR h3 {
	text-align: right;
	margin-right: 60px;
}
#AR h4 {
	text-align: right;
}
#AR h5 {
	text-align: right;
}
#AR #content_top {
	margin-top: 35px;
	float: left;
}

#AR #content_btm {
	margin-top: 25px;
}
#AR .button_tradeBox {
	position: relative;
	float: left;
	margin-top: 0px;
}
#AR .button_learnBox {
	margin-top: 130px;
	float: left;
}
#AR .content_learnBox {
	margin-top: 1px;
	padding:10px 0 50px 20px;
	float: right;
	text-align: right;
	direction: rtl;
}
#AR .top_list li {
	padding: 0px 80px 20px 0;
}
#AR .bottom_list {width: 969px;}
#AR .bottom_list li {
	padding: 7px 35px 7px 0;
	background: url(../images/img_bullet.png) no-repeat right 8px;
}
#AR .top_list .p1 {
	background-position: right top;
}
#AR .top_list .p2 {
	background-position: right 13px;
}
#AR .top_list .p3 {
	background-position: right top;
}
#AR .tradeBox_StartButton {
	background-image: url(../images/bttn_StartNow_01_ar.png);
}
#AR .learnBox_StartButton {
	background-image: url(../images/bttn_StartNow_02_ar.png);
}
/**************form classes******************/
.form_block {
	font-size:18px;
	color:#093755;
	width: 1003px;
	height: 125px;
	float: left;
	background: transparent url(../images/bg_title.png) no-repeat center top;
	margin-top: 40px;
	
	padding: 35px 0 0 0;
}
#AR .form_block {float: right; height: 100px;}

.form_cl {
	float: left;
	width: 178px;
}
#AR .form_cl, #AR .form_cl2, #AR .form_cl3, #AR .form_cl4 {float: right;}
.form_cl2 {
	float: left;
	width: 205px;
}
.form_cl3 {
	float: left;
	width: 230px;
}
.form_cl4 {
	float: left;
	width: 975px;
}
form {
	display: block;
	margin-top: 0em;
}
.star {
	color: #F6CD10;
	font-weight: normal;
	font-size: 11px;
}
input {
	background: transparent;
	color: #093755;
	text-align: left;
	font-size: 12px;
}
#AR input {text-align: right;}
.input1 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 168px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
}
#AR .input1, #AR .input3, #AR .input4, #AR .input2 {float: right;}
#AR .input3 input, #AR .input2 input {text-align: left !important; }
.input1 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 165px;
}
.input4 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 195px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 3px;
	float: left;
}
.input4 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 190px;
}
.input2 {
	float: left;
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 53px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	margin-right: 5px;
	float: left;
}
.input2 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 50px;
}
.input3 {
	background: transparent url(../images/bg_input.gif) no-repeat left top;
	border: solid 1px #7b8e9a;
	width: 158px;
	height: 28px;
	overflow: hidden;
	margin-top: 3px;
	margin-bottom: 8px;
	float: left;
}
.input3 input {
	border: medium none;
	height: 25px;
	margin: 2px 3px;
	width: 153px;
}
.agree {
	float: left;
	margin-left: 10px;
}
input[type="checkbox"] {
	margin: 0px 5px 3px 0px;
	float: left;
}
*+html input[type="checkbox"] {
	margin-top: -3px;
}
.agree_text {
	font-size: 11px;
	color: #3b6078;
	float: left;
}
.secured {
	color: #3b6078;
	font-size: 11px;
	background: transparent url(../images/icon_secure.png) no-repeat left top;
	padding-left: 20px;
	height: 15px;
	float: left;
	margin-left: 30px;
}
#AR .agree {float: right; margin-right: 10px;}
#AR input[type="checkbox"] {
	margin: 0px 0px 3px 5px;
	float: right;
}
#AR .agree_text {
	float: right;
	 margin-left: 30px;
}
#AR .secured {float: right; background: transparent url(../images/icon_secure.png) no-repeat right top; padding-right: 20px; margin-right: 30px; margin-right: 0px; padding-left: 0px;}
.submin_swf {
	float: right;
	margin-top: 8px;
}
.error {border: solid 1px #ff4e00;}
/**************end of form classes******************/
/************Error message*****************/
#error_box {
	display:none;
	position:absolute;
	z-index:100;
	top:300px;
	background-color: #eaeaea;
	width:250px;
	height:200px;
	overflow:hidden;
	color:#093755;
	text-align:center;
	border: 1px solid #093755;
}
.error_message {
	margin-top:50px;
	height:50px;
	padding:0 10px;
	color:#093755;
}
.error_button {
	background:url(../images/form_full_alret_button.png) no-repeat;
	width:77px;
	height:55px;
	margin: 0 auto;
	margin-top:5px;
	cursor:pointer;
}
#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:auto;
	opacity:0.4;
	filter: alpha(opacity = 20);
	position:absolute;
	top:0;
	width:100%;
	z-index:99;
}
/************End of Error message*****************/
#AR .upLink {float: left; margin-left: 20px;}
.upLink  {background:url(../images/up.png) no-repeat; width: 60px !important; height: 60px !important; text-decoration: none; float: right; cursor: pointer;}
.upLink:hover {background:url(../images/up_over.png) no-repeat; text-decoration: none;  text-decoration: none; cursor: pointer;}


.disclaimer {width: 502px; float: right; margin-left:200px; text-align: left; font-size: 11px; color: #093755; margin-top: -5px; line-height: 16px; border-top: 1px dotted #aaaaaa; padding: 10px 0;}
#AR .disclaimer {
	width: 502px; 
	float: right; 
	text-align: right; 
	font-size: 11px; 
	color: #093755; 
	line-height: 16px; 
	border-top: 1px dotted #aaaaaa; 
	padding: 10px 0;
	margin:0 60px 0 150px;
}