/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Close RESET */

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Verdana, Geneva, sans-serif;
	background: #ffffff url(../images/bg.png) left top repeat-x;
	color: #093755;
	font-size: 14px;
	width: 100%;
}
#page {
	width: 974px;
	margin: 20px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
.clear {
	clear: both;
}
#main {
	width: 100%;
	height: auto;
	float: left;
}
#logo {
	width: 975px;
	margin: 0 auto;
	text-align: left;
	height: 65px;
}
#title {
	padding: 13px 0 51px;
	width: 975px;
	background: transparent url(../images/bg_title.png) center top no-repeat;
	text-align: center;
}
h1 {
	color: #0284d6;
	font-size: 45px;
	font-weight: bold;
	margin: 0;
	padding: 0px;
	text-align: center;
}
#FR h1 {
	font-size: 42px;
	margin: 0 0 10px 0;
}
#ZH h1 {
	font-weight: bold
}
h2 {
	font-size: 30px;
	font-weight: normal;
	padding: 5px 0 0 0;
	text-align: center;
}
#ES h2 {
	font-size: 29px;
}
#ZH h2 {
	font-weight: bold
}
h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: left;
}
#ZH h3 {
	font-weight: bold
}
h4 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 12px 0;
	padding: 0px;
}
#ZH h4 {
	font-weight: bold
}
h5 {
	font-size: 14px;
	font-weight: bold;
	margin: 25px 0 10px 0;
	padding: 0px;
}
p {
	line-height: 1.5em;
}
#content_top p {
	font-size: 16px;
	line-height: 1.2em;
}
#container {
	float: left;
	width: 600px;
	padding-top: 8px;
}
#FR #container {
	width: 610px
}
#RU #container {
	width: 650px
}
.content_middle {
	padding: 142px 0 16px;
}
.content_middle ul {
	width: 100%;
	float: left;
}
.content_middle ul li {
	padding: 20px 58px 20px 30px;
	margin-top: 10px;
	font-size: 18px;
	color: #0284d6;
	float: left;
	background: url(../images/bulet_small.png) center left no-repeat;
}
#RU .content_middle ul li {
	padding: 20px 20px 20px 30px;
}
.content_middle ul li.last_child {
	padding-right: 0;
}
.top_list {
	list-style-type: none;
	padding: 0;
	text-align: left;
}
.top_list li {
	padding: 8px 0 8px 73px;
	margin-top: 10px;
	font-size: 18px;
	line-height: 1.3em;
	font-weight: normal;
	color: #006cb2;
}
.top_list li span {
	font-size: 21px;
	font-weight: normal;
	color: #093755;
}
.top_list .p1 {
	background: url(../images/bullet_1.png) no-repeat center left;
}
.top_list .p2 {
	background: url(../images/bullet_2.png) no-repeat center left;
}
.top_list .p3 {
	background: url(../images/bullet_3.png) no-repeat center left;
}
#ZH .top_list span {
	font-weight: bold
}
.bottom_list {
	list-style-type: none;
	text-align: left;
	margin-top: 3px;
}
.bottom_list li {
	padding: 6px 0 4px 28px;
	background: url(../images/img_bullet.png) no-repeat 2px 8px;
	border-bottom: 1px dotted #aaaaaa;
	font-size: 14px;
	font-weight: normal;
	height: auto;
	width: 600px;
	line-height: 1.3em;
}
.mainimg {
	position: absolute;
	top: 352px;
	left: 100px;
	width: 570px;
	text-align: right;
	z-index: -1;
}
#FR .mainimg {
	padding: 48px 0px 0px 0px
}
#TR .mainimg {
	padding: 24px 0px 0px 0px
}
#ES .mainimg {
	padding: 54px 0px 0px 5px
}
#DE .mainimg {
	padding: 44px 0px 0px 0px
}
#RU .mainimg {
	padding: 20px 0px 0px 0px
}
#footer {
	text-align: center;
	width: 975px;
	margin: 60px auto 0;
	font-size: 9px;
}
#footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 655px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding: 15px 0 15px 337px;
}
#footer .icons .icon_space {
	margin-right: 20px;
	float: left;
}
#footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
#footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 20px 0;
	line-height: 16px;
	position: relative;
}
#footer .footer_link {
	color: #0284D6;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
#footer .footer_link:hover {
	color: #093755;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.icon_space form {
	padding: 0;
}
.bottom_list li.last_li {
	border: none;
}
#it .mainimg {
	top: 360px;
}
#it .container2 {
	float: left;
	position: relative;
	width: 100%;
}
#it #form-anchor {
	margin-top: -730px;
}
#it .bottom_list li {
	width: 610px;
}
#it h4 {
	font-size: 18px;
}
#it .content_middle ul li {
	line-height: 22px;
}
#it #footer .regulated img {
	float: right;
	margin-top: 7px;
}
#it #footer .regulated p {
	float: left;
	margin-top: 9px;
}
#it #footer .regulated div {
	margin: 0 auto;
	width: 937px;
	height: 40px;
}
#it .icons {
	border: none;
}
#it #footer .regulated {
	font-size: 14px;
	height: 40px;
	margin: 0 auto;
	width: 960px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #999999;
	border-bottom: solid 1px #e5e5e5;
	border-top: solid 1px #e5e5e5;
}
#it #logo .reg-logo {
	background: url(../images/regulated-logo.png) no-repeat;
	height: 67px;
	padding: 13px 0 0 55px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
}
#it .reg-logo p {
	font-size: 15px;
	color: #093755;
}
#it #logo {
	position: relative;
}
.vertical_form {
	height: 483px;
	width: 317px;
	background: url(../images/form_bg.jpg) top left no-repeat;
	position: relative;
	float: right;
	padding: 0 0 0 0;
}
#RU .vertical_form, #DE .vertical_form {
	background: url(../images/form_bg_ru.jpg) top left no-repeat;
}
.vertical_form h4 {
	color: #fff;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0 36px;
	margin: 0;
	display: block;
	float: none;
}
.vertical_form h4 a {
	padding: 20px 20px 36px;
	text-align: center;
}
#FR .vertical_form h4 {
	font-size: 18px;
	padding: 9px 0 26px;
	line-height: 22px
}
#FR .vertical_form h4 a {
	padding-left: 0;
	padding-right: 0;
}
#RU .vertical_form h4 {
	font-size: 18px;
	line-height: 22px;
	padding: 10px 0 0 0;
}
#RU .vertical_form h4 a {
	padding-left: 0;
	padding-right: 0;
}
#TR .vertical_form h4 {
	font-size: 21px;
}
#IT .vertical_form h4 {
	font-size: 24px;
}
#ES .vertical_form h4 {
	font-size: 21px;
}
#DE .vertical_form h4 a {
	padding: 20px 10px 36px;
	font-size: 18px;
}
#ZH .vertical_form h4 {
	font-size: 30px;
	padding-top: 15px;
}
.vertical_form a, form a:visited, a:hover {
	color:#fff;
	text-decoration:none;
}
/******************************************************************************************NEW REGFORM*********************************************************************************/
/*short reg hp*/
#headers_field {
	margin: 14px 0 4px;
}
.funnel_h1 {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
.funnel_subtitle {
	color: #FFD400;
	font-size: 11px;
}
.home_shortReg {
	margin-left: 35px;
	margin-top: 24px;
	width: 280px;
}
#TR .home_shortReg {
	margin-top: 20px;
}
#DE .home_shortReg {
	margin-top: 20px;
}
#ES .home_shortReg {
	margin-top: 20px;
}
#RU .home_shortReg {
	margin-top: 45px;
}
.home_shortReg .funnel_hold {
	width: 212px;
}
.home_shortReg .funnel_inp {
	background: none repeat scroll 0 0 white;
	border: 1px solid #B3B3B3;
	color: #6E8695;
	display: inline-block;
	font-size: 12px;
	height: 28px;
	margin-bottom: 13px;
	padding: 1px 0 0 2px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
	width: 245px;
}
.home_shortReg .funnel_inp.active {
	border: 1px solid #D7D6D6;
	color: #093755;
	text-transform: none;
}
.home_shortReg .funnel_inp.error {
	border: 1px solid #E97F02;
	color: #E97F02;
	text-transform: none;
}
.home_shortReg .funnel_inp.correct {
	border: 1px solid #BDCEDA;
	color: #6E8695;
	text-transform: none;
}
.home_shortReg .funnel_inp_phone {
	margin-left: 3px;
	width: 156px;
}
.home_shortReg .funnel_names_holder, .home_shortReg .funnel_email_holder, .home_shortReg .funnel_phone_holder, .home_shortReg .funnel_password_holder, .home_shortReg .funnel_password_retype_holder {
	position: relative;
	z-index: 2;
}
.home_shortReg .funnel_phone_holder_drop {
	z-index: 3;
}
.home_shortReg .funnel_phone_code {
	float: left;
	width: 30px;
}
.home_shortReg .funnel_phone {
	float: right;
	width: 170px;
}
.home_shortReg .btn_open_account {
	background: url("../images/btn_open_account.png") no-repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h {
	background-position: 0 0;
	display: block;
	height: 50px;
	left: -4px;
	margin: 5px 0;
	overflow: hidden;
	padding-left: 10px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 245px;
}
.home_shortReg .btn_open_account_h .rs {
	background-position: right -51px;
	display: block;
	height: 50px;
	padding-right: 10px;
}
.home_shortReg .btn_open_account_h .cs {
	background-position: 0 -104px;
	background-repeat: repeat-x;
	color: white;
	display: block;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	line-height: 1px;
	padding-top: 24px;
	text-align: center;
	text-shadow: 1px 1px 2px #926A01;
}
.home_shortReg a.btn_open_account_h:hover {
	background-position: 0 -158px;
}
.home_shortReg a.btn_open_account_h:hover .rs {
	background-position: right -211px;
}
.home_shortReg a.btn_open_account_h:hover .cs {
	background-position: 0 -264px;
}
.home_shortReg a.btn_open_account_h.disabled {
	background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg .btn_open_account_h.disabled .rs {
	background: none repeat scroll 0 0 transparent;
}
.home_shortReg .btn_open_account_h.disabled .cs {
	background: none repeat scroll 0 0 transparent;
	color: transparent;
	text-shadow: none;
}
.home_shortReg a.btn_open_account_h.disabled:hover {
	background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .rs {
	background: none repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .cs {
	background: none repeat scroll 0 0 transparent;
	color: transparent;
}
.home_shortReg .error_messages {
	color: #E97F02;
}
.home_shortReg .error {
	border: 1px solid #E97F02;
}
.home_shortReg .funnel_chkbx {
	display: block;
	margin-bottom: 5px;
	position: relative;
}
.home_shortReg .funnel_chkbx_inp {
	margin-left: 0;
}
.home_shortReg .funnel_terms_h {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -17px transparent;
	color: #093755;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	padding-left: 20px;
}
.home_shortReg .funnel_terms_h.checked {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -32px transparent;
}
.home_shortReg .funnel_terms_h2 {
	color: #093755;
	display: inline-block;
	font-size: 12px;
	height: 19px;
	margin: 5px 0;
}
#DE .home_shortReg .funnel_terms_h2 {
	font-size: 11px;
}
.home_shortReg .funnel_terms_h_in {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -33px transparent;
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin-top: -3px;
	vertical-align: middle;
	width: 20px;
}
.home_shortReg .funnel_terms_h_in.checked {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -18px transparent;
}
.home_shortReg .funnel_terms_h2 span {
	color: #0284D6;
	cursor: pointer;
	text-decoration: underline;
}
.home_shortReg .funnel_terms {
	display: none;
}
.home_shortReg .funnel_drop_h {
	background: none repeat scroll 0 0 white;
	border: 1px solid #B3B3B3;
	color: #6E8695;
	display: inline-block;
	height: 29px;
	margin-bottom: 13px;
	padding: 0 3px 0 2px;
	position: relative;
	vertical-align: middle;
	width: 74px;
	z-index: 2;
}
.home_shortReg .funnel_drop_selected {
	background: url("../images/reg_elms.png") no-repeat scroll right 2px transparent;
	color: #6E8695;
	cursor: pointer;
	font-size: 12px;
	height: 18px;
	margin-top: 5px;
	overflow: hidden;
}
.home_shortReg .funnel_drop_country {
	float: left;
	font-size: 12px;
	margin-top: 2px;
}
.home_shortReg .funnel_drop_countryId {
	float: right;
	font-size: 12px;
	margin: 2px 20px 0 0;
	text-align: right;
}
.home_shortReg .funnel_drop_ul {
	background: none repeat scroll 0 0 white;
	border: 1px solid #859199;
	display: none;
	left: -1px;
	list-style: none outside none;
	margin: 0;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	top: 26px;
}
.home_shortReg .funnel_drop_ul li {
	color: #093755;
	cursor: pointer;
	display: block;
	padding: 1px 2px;
	white-space: nowrap;
}
.home_shortReg .funnel_drop_ul li:hover, .home_shortReg .funnel_drop_ul li.active {
	background: none repeat scroll 0 0 #92ACC0;
	color: white;
}
.home_shortReg .funnel_drop_h.active {
	border: 1px solid #D7D6D6;
	color: #093755 !important;
}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul {
	border: 1px solid #859199;
	display: block;
}
.home_shortReg .funnel_names_error_h {
	position: absolute;
	right: 14px;
	top: 7px;
	white-space: nowrap;
	width: 11px;
}
.home_shortReg .funnel_names_error_h_chb {
	position: absolute;
	right: 15px;
	top: 2px;
	white-space: nowrap;
	width: 11px;
}
.home_shortReg .funnel_error_hide {
	display: none;
	height: 11px;
	width: 11px;
}
.home_shortReg .funnel_error_bad {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -50px transparent;
	display: inline-block;
	height: 11px;
	margin-top: 4px;
	width: 11px;
}
.home_shortReg .funnel_error_good {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -61px transparent;
	display: inline-block;
	height: 11px;
	width: 11px;
}
.home_shortReg .funnel_tooltip_h {
	background: none repeat scroll 0 0 #F5FBFF;
	border: 1px solid #3B6079;
	display: none;
	padding: 5px;
	position: absolute;
	right: -194px;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 170px;
}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -73px transparent;
	display: block;
	height: 18px;
	left: -14px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	transition: all 0.5s ease 0s;
	width: 14px;
}
.home_shortReg .funnel_tooltip_h_left {
	background: none repeat scroll 0 0 #F5FBFF;
	border: 1px solid #3B6079;
	color: #093755;
	display: none;
	font-size: 10px;
	left: -167px;
	line-height: 13px;
	padding: 5px;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 140px;
}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow {
	background: url("../images/reg_elms.png") no-repeat scroll 0 -94px transparent;
	display: block;
	height: 18px;
	left: 150px;
	margin-top: -9px;
	position: absolute;
	top: 50%;
	transition: all 0.5s ease 0s;
	width: 14px;
}
.home_shortReg .funnel_error_list {
	color: #FB7C00;
	font-size: 12px;
	line-height: 15px;
	padding-top: 5px;
	width: 240px;
}
.home_shortReg .funnel_error_list span {
	display: block;
}
.home_shortReg .funnel_names_error_msg_h {
	display: none;
}
.home_shortReg .funnel_inp_first_name {
	width: 88px;
}
.home_shortReg .funnel_inp_last_name {
	margin-left: 3px;
	width: 145px;
}
funnel_drop_selected.active {
	color: #093755 !important;
}
/*short reg hp end*/
