﻿/* using HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #093755;
	font-family: Verdana, monospace, sans-serif;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}
ins {
	background-color: #ff9;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #093755;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
body {
	font: 13px/1.231 sans-serif;
*font-size:small;
}
select, input, textarea, button {
	font: 99% sans-serif;
}
pre, code, kbd, samp {
	font-family: monospace, sans-serif;
}
html {
	overflow-y: scroll;
}
ul, ol {
	margin-left: 2em;
}
ol {
	list-style-type: decimal;
}
nav ul, nav li {
	margin: 0;
	list-style: none;
	list-style-image: none;
}
small {
	font-size: 85%;
}
strong, th {
	font-weight: 800;
}
td {
	vertical-align: top;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 15px;
}
textarea {
	overflow: auto;
}
.ie6 legend, .ie7 legend {
	margin-left: -7px;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
input[type="checkbox"] {
	vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}
.ie6 input {
	vertical-align: text-bottom;
}
label, input[type="button"], input[type="submit"], input[type="image"], button {
	cursor: pointer;
}
button, input, select, textarea {
	margin: 0;
}
input:valid, textarea:valid {
}
input:invalid, textarea:invalid {
border-radius: 1px;
-moz-box-shadow: 0px 0px 5px red;
-webkit-box-shadow: 0px 0px 5px red;
box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
background-color: #f0dddd;
}
.ie7 img {
	-ms-interpolation-mode: bicubic;
}
button {
	width: auto;
	overflow: visible;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
background: #fa9913;
color:#fff;
text-shadow: none;
}
::selection {
	background: #fa9913;
	color: #fff;
	text-shadow: none;
}
html {
	background: #fff;
}
body {
	text-align: left;
	direction: ltr;
}
img {
	border: 0 none;
}
a:link, a:visited, a:active {
	color: #2d2b34;
	text-decoration: underline;
	font-weight: normal;
	background-color: transparent;
}
a:hover {
	color: #e81f38;
	text-decoration: underline;
}
.clsBlackLink, a.clsBlackLink:link, a.clsBlackLink:visited, a.clsBlackLink:active {
	color: #2d2b34;
	text-decoration: none;
}
a.clsBlackLink:hover {
	color: #e81f38;
	text-decoration: underline;
}
.clsPinkLink, a.clsPinkLink:link, a.clsPinkLink:visited, a.clsPinkLink:active {
	color: #e81f38;
	text-decoration: none;
}
a.clsPinkLink:hover {
	text-decoration: underline;
}
.clsPinkLinkU, a.clsPinkLinkU:link, a.clsPinkLinkU:visited, a.clsPinkLinkU:active {
	color: #e81f38;
	text-decoration: underline;
}
a.clsPinkLinkU:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
.clsSpacer, hr {
	clear: both;
	height: 0;
	font-size: 0;
	border: 0 none;
	background: transparent;
}
strong, b {
	font-weight: bold;
}
.clsLink {
	cursor: pointer;
}
.clsPageAlign {
	position: relative;
	width: 1115px;
	margin: 0 auto;
}
header {
	height: 70px;
	width: 1115px;
	padding: 0;
	margin: auto;
}
header .clsLogo {
	margin: 11px 0 0 0;
}
.button_StartBox {
	position: absolute;
	height: 87px;
	width: 331px;
	bottom: 20px;
	left: 50%;
	margin-left: -161px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.clsBox2 .button_box .button_StartBox {
	top: 20px;
}
.clsBox3 .button_box .button_StartBox {
	top: 40px;
}
.clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_en.png);
}
.tradeBox_StartButton {
	width: 331px;
	height: 87px;
	background-image: url(../images/btn_start-now_en.png);
	background-repeat: no-repeat;
	background-position: left top;
	border: none;
	cursor: pointer;
	float: right;
}
.tradeBox_StartButton:hover {
	background-position: left bottom;
	border: none;
}
.clsBox1 {
	position: relative;
	height: 458px;
	text-align: center;
	padding: 0;
	background: url(../images/main_bg.jpg) repeat-x top;
}
.clsBox1 .bottom_shadow {
	position: relative;
	background: url(../images/bottom_shadow.png) no-repeat center bottom;
	width: 1130px;
	height: 26px;
	margin: 0 auto;
}
.main_header {
	width: 1115px;
	padding: 0;
	margin: auto;
	height: 458px;
	background: url(../images/main_header_image_en.png) no-repeat 7px bottom;
	position: relative;
}
.clsBox1 .main_header .clsImg {
	float: left;
	margin: 20px 0 0 -5px;
}
.clsBox1 .main_header .header_text {
	width: 575px;
	float: left;
	color: white;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	line-height: 28px;
	margin: 15px 0 0 0;
	text-shadow: 1px 1px 5px black;
}
.clsBox1 .main_header .header_text .head_text {
	color: white;
}
.clsBox2 {
	position: relative;
	width: 1115px;
	padding: 10px 0 30px 0;
	margin: auto;
}
.clsBox2 p {
	margin-top: 10px;
	font-size: 30px;
	color: #0284d6;
	font-weight: bold;
}
.clsBox2 h2 {
	color: #093755;
	font-size: 23px;
	line-height: 28px;
	font-weight: normal;
	text-align: center;
	padding: 35px 0 20px 0;
	margin: 0;
}
.clsBox2 ul {
	float: left;
	width: 365px;
	padding: 0;
	margin: 35px 10px 0 0;
}
.clsBox2 ul li {
	font-size: 20px;
	line-height: 25px;
	list-style: none;
	clear: both;
	height: 102px;
	padding: 0;
	margin: 0 0 20px 0;
}
.clsBox2 ul li .clsText {
	padding: 25px 0 0 0;
}
.clsBox2 ul li.clsItem2 .clsText {
	padding: 12px 0 0 0;
}
.clsBox2 ul li .clsIcon {
	float: left;
	margin: 0 10px 0 0;
}
.clsBox2 ul li strong {
	font-size: 25px;
	font-weight: bold;
}
.clsBox2 .clsImage2 {
	color: #898989;
	float: right;
	width: 709px;
	height: 357px;
	margin: 50px 0 0 0;
}
.clsBox2 .button_box {
	text-align: center;
	width: 100%;
	height: 177px;
	background: url(../images/section2_arrows.jpg) no-repeat center top;
	position: relative;
}
.clsBox2 .button_box:after {
	content: " ";
	width: 100%;
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/section_shadow.png) no-repeat center top;
}
.clsMobile {
	display: none;
}
.clsTablet {
	display: none;
}
.clsBox3 {
	width: 1115px;
	height: 700px;
	position: relative;
	text-align: center;
	padding: 0 0 45px 0;
	margin: auto;
}
.clsBox3 h4 {
	color: #093755;
	font-size: 40px;
	line-height: 28px;
	font-weight: bold;
	text-align: center;
	padding: 15px 0 15px 0;
	margin: 0;
}
.clsBox3 h5 {
	color: #093755;
	font-size: 43px;
	line-height: 51px;
	font-weight: bold;
	text-align: center;
	padding: 15px 0 15px 0;
	margin: 0;
}
.clsBox3 h5 span {
	color: #ffab00;
	font-size: 41px;
}
.clsBox3 .days {
	text-align: left;
	float: left;
	width: 300px;
	font-size: 23px;
	color: #0284d6;
	font-weight: bold;
	margin-top: 40px;
}
/*#ES .clsBox3 .days {
	width: 320px;
}*/
.clsBox3 .days span {
	color: #093755;
	font-weight: normal;
	font-family: Georgia;
	font-style: italic;
	line-height: 32px;
}
.clsBox3 .days span strong {
	font-family: Georgia;
}
.clsBox3 .arrow {
	float: left;
	margin: 155px 30px;
}
/*#ES .clsBox3 .arrow {
	margin: 155px 20px;
}*/
.clsBox3 .button_box {
	text-align: center;
	width: 100%;
	height: 167px;
	position: relative;
}
.clsBox3 .button_box:after {
	content: " ";
	width: 100%;
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../images/section_shadow_top.png) no-repeat center top;
}
.clsBox3 .button_box .clsStartNow {
	padding-top: 35px;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}
.clsBox4 {
	position: relative;
	width: 1115px;
	padding: 10px 0 30px 0;
	margin: auto;
	text-align: center;
}
.clsBox4 .clsRegulatedBox {
	font-size: 24px;
	text-align: center;
	padding: 50px 0 22px 0;
}
.clsBox4 .clsRegulatedBox:after {
	content: " ";
	width: 100%;
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	/*opacity:0.1;*/
	background: url(../images/section_shadow.png) no-repeat center top;
}
.clsBox4 .clsRegulatedBox .clsLogo {
}
.clsBox4 .clsRegulatedBox h3 {
	font-size: 28px;
	font-weight: bold;
	padding: 0;
	margin: 5px 0 0 0;
}
.clsBox4 .clsRegulatedBox .clsLogos {
	margin-top: 15px;
}
.clsBox5 {
	position: relative;
	text-align: center;
	padding: 40px 0 45px 0;
	margin: auto;
}
footer {
	color: #969696;
	font-size: 13px;
	text-align: center;
	position: relative;
	height: 170px;
	padding: 30px 0 10px 0;
	background: #f1f2f3;
}
footer:before {
	content: " ";
	width: 100%;
	height: 12px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/section_shadow.png) no-repeat center top;
}
footer .icon_space {
	display: inline-block;
	float: left;
	margin: 0 5px;
}
footer img {
	margin-top: 10px;
}
footer p {
	margin-bottom: 10px;
	color: #969696;
	font-size: 13px;
	text-align: center;
	position: relative;
}
footer .icons {
	width: 320px;
	margin: 0 auto;
}
/*
 @media only screen and (max-width : 1025px) {
.clsTablet {
	display: inline-block;
}
.clsNotTablet {
	display: none;
}
.clsMobile {
	display: none;
}
header {
	height: 54px;
	width: 768px;
}
header .clsLogo {
	margin: 16px 0 0 32px;
}
header .clsLogo img {
	width: 160px;
}
.button_StartBox {
	width: 220px;
	height: 58px;
	margin-left: -110px;
	bottom: 22px;
}
.clsBox2 .button_StartBox {
	top: 15px!important;
}
.button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_en.png);
}
.button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_en.png);
}
.main_header {
	height: 319px;
	background: url(../images/main_header_image_tablet_en.png) no-repeat 26px bottom;
	width: 768px;
}
.clsBox1 {
	height: 319px;
	background: url(../images/main_bg_tablet.jpg) repeat-x top;
}
.clsBox1 .main_header .header_text {
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	padding-left: 32px;
	width: 390px;
}
.clsBox1 .main_header .clsImg {
	margin: 20px 0 0 27px;
	width: 681px;
}
.clsBox1 .clsBtn {
	top: -50px;
}
.clsBox1 .bottom_shadow {
	background: url(../images/bottom_shadow_tablet.png) no-repeat center bottom;
	width: 765px;
	height: 18px;
}
#TR .clsBox1 .main_header .header_text {
	width: 390px!important;
}
#TR .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_tr.png);
}
#ES .clsBox1 .main_header .header_text {
	width: 420px!important;
}
#ES .clsBox1 .main_header .clsImg {
	margin-left: 35px!important;
}
#ES .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_es.png);
}
#DE .clsBox1 .main_header .clsImg {
	margin-left: 33px!important;
}
#DE .clsBox1 .main_header .header_text {
	font-size: 12px!important;
	width: 420px!important;
	margin-top: 5px;
}
#DE .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_de.png);
}
#DE .clsBox1 .button_StartBox {
	bottom: 2px!important;
}
#IT .clsBox1 .main_header .header_text {
	width: 410px!important;
}
#IT .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_it.png);
}
#RU .clsBox1 .main_header .header_text {
	width: 420px!important;
}
#RU .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_ru.png);
}
#FR .clsBox1 .main_header .header_text {
	font-size: 12px!important;
	width: 430px!important;
}
#FR .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_fr.png);
}
#SE .button_StartBox .tradeBox_StartButton {
	width: 220px;
	height: 58px;
	background-image: url(../images/btn_start-now_tablet_SE_en.png);
}
#SE .clsBox1 .main_header .header_text {
	width: 410px!important;
}
.clsBox2 {
	width: 768px;
	padding: 10px 0 30px 32px;
}
.clsBox2 p {
	margin-top: 28px;
	font-size: 21px;
}
.clsBox2 h2 {
	font-size: 19px;
	line-height: 23px;
	padding: 25px 16px 0 0;
}
.clsBox2 ul {
	float: left;
	width: 240px!important;
	padding: 0;
	margin: 25px 0 0 0;
}
.clsBox2 ul li {
	font-size: 14px;
	line-height: 16px;
	height: 65px;
}
.clsBox2 ul li .clsText {
	padding: 8px 0 0 0;
}
.clsBox2 ul li.clsItem2 .clsText {
	padding: 8px 0 0 0;
}
.clsBox2 ul li.clsItem3 .clsText {
	padding: 18px 0 0 0;
}
.clsBox2 ul li .clsIcon {
	width: 71px;
}
.clsBox2 ul li strong {
	font-size: 17px;
}
.clsBox2 .clsImage2 {
	width: 468px;
	height: auto;
	margin: 50px 20px 0 0;
}
.clsBox2 .clsImage2 img {
	width: 468px;
	margin-left: -10px;
}
.clsBox2 .clsAdditionalIncomeText {
	font-size: 13px;
	width: 700px;
	padding-top: 10px;
}
.clsBox2 .button_box {
	background: url(../images/section2_arrows_tablet.jpg) no-repeat center top;
	height: 140px;
	margin-left: -16px;
}
.clsBox2 .button_box:after {
	background: url(../images/section_shadow_tablet.png) no-repeat center top;
}
#TR .clsBox2 ul {
	width: 261px!important;
}
#TR .clsBox2 ul li.clsItem1 .clsText {
	padding: 15px 2px 0 0!important;
}
#TR .clsBox2 ul li b {
	font-size: 14px;
}
#TR .clsBox2 .clsImage2 {
	width: auto;
	padding-right: 5px;
}
#TR .clsBox2 .clsImage2 img {
	width: 452px;
}
#RU .clsBox2 ul li strong {
	font-size: 17px!important;
}
#RU .clsBox2 .clsImage2 {
	width: auto;
}
#RU .clsBox2 .clsImage2 img {
	margin-left: 0!important;
	width: 448px;
}
#RU .clsBox2 ul {
	width: 265px!important;
}
#FR .clsBox2 ul li strong {
	font-size: 16px!important;
}
#FR .clsBox2 ul li b {
	font-size: 14px!important;
}
#FR .clsBox2 ul li {
	font-size: 14px!important;
}
#FR .clsBox2 .clsImage2 {
	width: auto;
	margin-right: 13px!important;
}
#FR .clsBox2 .clsImage2 img {
	margin-left: 0!important;
	width: 448px;
}
#FR .clsBox2 ul {
	width: 275px!important;
}
.clsBox3 {
	width: 768px;
	padding: 0 0 35px 0;
	height: 490px;
}
.clsBox3 h4 {
	font-size: 26px;
	line-height: 18px;
	padding: 15px 0 0 0;
	width: 768px;
	margin-left: -12px;
}
.clsBox3 .days {
	font-size: 15px;
	line-height: 21px;
	width: 200px;
}
.clsBox3 .days span {
	line-height: 21px;
}
.clsBox3 .arrow {
	margin: 120px 15px 0 15px;
}
.clsBox3 .arrow img {
	width: 15px;
}
.clsBox3 h5 {
	font-size: 29px;
	line-height: 35px;
	width: 768px;
	margin-left: -5px;
	padding: 20px 0 0 0;
}
.clsBox3 h5 span {
	color: #ffab00;
	font-size: 27px;
}
.clsBox3 .button_box {
	height: 110px;
}
.clsBox3 .button_box .button_StartBox {
	top: 23px;
}
.clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_en.png);
}
.clsBox3 .button_box:after {
	background: url(../images/section_shadow_top_tablet.png) no-repeat center top;
}
#TR .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_tr.png)!important;
}
#TR .clsBox3 h4 {
	font-size: 25px!important;
	margin-left: -8px;
}
#ES .clsBox3 h4 {
	font-size: 24px!important;
}
#ES .clsBox3 h5 {
	font-size: 29px!important;
}
#ES .clsBox3 h5 span {
	font-size: 25px!important;
}
#ES .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_es.png)!important;
}
#DE .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_de.png)!important;
}
#DE .clsBox3 {
	height: 630px!important;
}
#IT .clsBox3 .days {
	font-size: 15px!important;
}
#IT .clsBox3 .days span {
	line-height: 22px!important;
}
#IT .clsBox3 h4 {
	font-size: 23px!important;
}
#IT .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_it.png)!important;
}
#IT .clsBox3 {
	height: 540px!important;
}
#IT .clsBox3 .days {
	width: 205px!important;
}
#RU .clsBox3 h4 {
	font-size: 28px!important;
}
#RU .clsBox3 .days {
	font-size: 16px!important;
}
#RU .clsBox3 h5 {
	font-size: 29px!important;
}
#RU .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_ru.png)!important;
}
#RU .clsBox3 {
	height: 540px!important;
}
#FR .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_fr.png)!important;
}
#FR .clsBox3 h4 {
	font-size: 30px!important;
	line-height: 33px!important;
}
#FR .clsBox3 h5 span {
	font-size: 23px!important;
}
#FR .clsBox3 h5 {
	font-size: 29px!important;
}
#SE .clsBox3 h4 {
	font-size: 23px!important;
}
#SE .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tablet_SE_en.png)!important;
}
.clsBox4 {
	padding: 0 0 35px 0;
	width: 768px;
}
.clsBox4 .clsRegulatedBox {
	font-size: 19px;
	line-height: 23px;
	font-weight: normal;
	padding-top: 5px;
}
.clsBox4 .clsRegulatedBox .clsLogo {
	width: 40px;
}
.clsBox4 .clsRegulatedBox .clsLogos {
	width: 705px;
}
.clsBox4 .clsRegulatedBox h3 {
	font-size: 20px;
	line-height: 23px;
}
.clsBox4 .clsRegulatedBox:after {
	background: url(../images/section_shadow_tablet.png) no-repeat center top;
}
#TR .clsBox4 {
	padding: 25px 0 25px 0;
}
#ES .clsBox4 {
	padding-top: 35px;
}
#SE .clsBox4 {
	padding-top: 25px;
}
.clsBox5 {
	padding: 25px 0 30px 0;
}
.clsBox5 img {
	width: 690px;
}
footer {
	font-size: 14px;
	height: 150px;
	padding: 35px 0 0 0;
}
footer p {
	font-size: 14px;
	font-family: Arial;
	width: 685px;
	margin: 0 auto;
}
footer:before {
	background: url(../images/section_shadow_tablet.png) no-repeat center top;
}
}
 @media only screen and (max-width : 480px) {
.clsMobile {
	display: inline-block;
}
.clsNotMobile {
	display: none;
}
header {
	height: 62px;
	width: 100%;
}
header .clsLogo {
	text-align: center;
	margin: 15px 0 0 0;
}
header .clsLogo img {
	width: 180px;
}
.clsBox1 {
	height: 245px;
	padding-top: 0;
	background: url(../images/main_bg_mobile.jpg) repeat-x top;
}
.clsBox1 .clsImg {
	width: 290px;
}
.clsBox1 .clsBtn {
	top: -10px;
	width: 180px;
}
.button_StartBox {
	width: 183px;
	height: 48px;
	margin-left: -90px;
	bottom: 6px;
}
.button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_en.png);
}
.main_header {
	height: 245px;
	background: url(../images/main_header_image_mobile_en.png) no-repeat center bottom;
	width: 320px;
}
.clsBox1 .main_header .clsImg {
	margin: 10px 0 0 -10px;
	;
	width: 293px;
	float: none;
}
.clsBox1 .main_header .header_text {
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	width: 320px;
	text-align: center;
	padding: 0;
	margin: -5px 0 0 0;
}
.clsBox1 .main_header .header_text .head_text {
	color: white;
}
.clsBox1 .bottom_shadow {
	background: url(../images/bottom_shadow_mobile.png) no-repeat center bottom;
	width: 283px;
	height: 13px;
}
#TR .main_header {
	height: 245px;
	background: url(../images/main_header_image_mobile_en.png) no-repeat center -1px;
}
#TR .clsBox1 .main_header .clsImg {
	width: auto;
	margin: 5px 0 0 0;
}
#TR .clsBox1 .main_header .header_text {
	width: 320px!important;
	font-size: 11px;
	line-height: 13px;
}
#TR .button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_tr.png);
}
#ES .clsBox1 .main_header .header_text {
	width: 320px!important;
}
#ES .button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_es.png);
}
#ES .clsBox1 .main_header .clsImg {
	width: auto;
	margin: 10px 0 10px 0!important;
}
#ES .clsBox1 .button_StartBox {
	bottom: 5px!important;
}
#DE .clsBox1 {
	height: 285px;
	background: url(../images/main_bg_mobile_long.jpg) repeat-x top;
}
#DE .main_header {
	height: 285px;
}
#DE .clsBox1 .main_header .header_text {
	font-size: 11px!important;
	width: 320px!important;
}
#DE .clsBox1 .main_header .clsImg {
	width: auto;
	margin: 10px 0 5px 0!important;
}
#DE .button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_de.png);
}
#IT .clsBox1 {
	height: 285px;
	background: url(../images/main_bg_mobile_long.jpg) repeat-x top;
}
#IT .main_header {
	height: 285px;
}
#IT .clsBox1 .main_header .header_text {
	width: 320px!important;
	margin-top: 20px;
}
#IT .button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_it.png);
}
#IT .clsBox1 .main_header .clsImg {
	width: auto;
	margin: 10px 0 0 0;
}
#IT .clsBox1 .button_StartBox {
	bottom: 5px!important;
}
#RU .clsBox1 .button_StartBox {
	bottom: 8px!important;
}
#RU .clsBox1 .main_header .header_text {
	width: 320px!important;
	margin-top: 15px;
}
#RU .button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_ru.png);
}
#RU .clsBox1 .main_header .clsImg {
	width: auto;
	margin: 10px 0 0 0;
}
#RU .clsBox1 {
	height: 285px;
	background: url(../images/main_bg_mobile_long.jpg) repeat-x top;
}
#RU .main_header {
	height: 285px;
}
#FR .clsBox1 .main_header .clsImg {
	width: auto;
	margin: 10px 0 0 0;
}
#FR .clsBox1 {
	height: 310px;
	background: url(../images/main_bg_mobile_long_fr.jpg) repeat-x top;
}
#FR .main_header {
	height: 310px;
}
#FR .clsBox1 .main_header .header_text {
	width: 320px!important;
	margin-top: 5px;
}
#FR .button_StartBox .tradeBox_StartButton {
	width: 183px;
	height: 48px;
	background-image: url(../images/btn_start-now_mobile_fr.png);
}
.clsBox2 {
	width: 100%;
	padding: 0 0 30px 0;
}
.clsBox2 p {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	padding: 20px 0 20px 0;
}
.clsBox2 h2 {
	font-size: 15px;
	line-height: 21px;
	padding: 15px 0 0 0;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.clsBox2 ul {
	float: none;
	width: 100%!important;
	padding: 0;
	margin: 10px 0 0 15px;
}
.clsBox2 ul li {
	font-size: 13px;
	line-height: 20px;
	height: 60px;
}
.clsBox2 ul li .clsText {
	padding: 12px 0 0 0;
}
.clsBox2 ul li.clsItem2 .clsText {
	padding: 1px 75px 0 0!important;
}
.clsBox2 ul li.clsItem3 .clsText {
	padding: 10px 0 0 0!important;
}
.clsBox2 ul li .clsIcon {
	width: 62px;
}
.clsBox2 ul li strong {
	font-size: 16px;
}
.clsBox2 ul li b {
	font-size: 14px;
}
.clsBox2 .clsImage2 {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.clsBox2 .clsStartNow img {
	width: 180px;
}
.clsBox2 .button_box .button_StartBox {
	top: 5px!important;
}
.clsBox2 .button_box {
	background: url(../images/section2_arrows_mobile.jpg) no-repeat center top;
	height: 105px;
	width: 320px;
	margin: -10px auto;
}
.clsBox2 .button_box:after {
	background: url(../images/section_shadow_mobile.png) no-repeat center top;
}
#TR .clsBox2 ul {
	width: 320px!important;
	margin: 0 6px!important;
}
#TR .clsBox2 ul li.clsItem2 .clsText {
	padding: 3px 0 0 0!important;
}
#TR .clsBox2 ul li.clsItem3 .clsText {
	padding: 12px 0 0 0!important;
}
#DE .clsBox2 ul li.clsItem1 .clsText {
	padding: 0px 55px 0 0!important;
}
#RU .clsBox2 ul {
	width: 320px!important;
}
#RU .clsBox2 ul li.clsItem2 .clsText {
	padding: 3px 25px 0 0!important;
}
#FR .clsBox2 ul li.clsItem2 .clsText {
	padding: 3px 0px 0 0!important;
}
#FR .clsBox2 ul {
	width: auto!important;
}
#FR .clsBox2 ul li.clsItem3 {
	width: 100%!important;
}
#FR .clsBox3 h4 {
	font-size: 26px!important;
	line-height: 26px!important;
}
#FR .clsBox3 .days {
	font-size: 17px!important;
	padding: 0 10px!important;
}
.clsBox3 {
	padding: 0;
	width: 320px;
	height: auto;
}
.clsBox3 h4 {
	font-size: 20px;
	line-height: 24px;
	padding: 0;
	width: 300px;
	margin: 0 auto;
}
.clsBox3 img {
	width: 307px;
}
.clsBox3 .days {
	font-size: 18px;
	line-height: 21px;
	width: 320px;
	text-align: center;
	padding: 0 16px;
	margin-top: 0;
}
.clsBox3 .days strong {
	font-size: 19px;
}
.clsBox3 .days span {
	line-height: 23px;
}
.clsBox3 .arrow {
	margin: 20px 0 20px 0;
	width: 320px;
}
.clsBox3 .arrow img {
	width: 35px;
}
.clsBox3 h5 {
	font-size: 21px;
	line-height: 27px;
	width: 320px;
	padding: 20px 0 0 0;
	margin: 0 auto;
	text-align: center;
}
.clsBox3 h5 span {
	color: #ffab00;
	font-size: 21px;
}
.clsBox3 .button_box {
	height: 95px;
}
.clsBox3 .button_box .button_StartBox {
	top: 18px;
}
.clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_en.png);
}
.clsBox3 .button_box:after {
	background: url(../images/section_shadow_top_mobile.png) no-repeat center top;
}
#TR .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_tr.png)!important;
}
#TR .clsBox3 h4 {
	font-size: 20px!important;
	margin: 0 auto;
}
#TR .clsBox3 h5 {
	line-height: 29px;
}
#ES .clsBox3 h5 {
	font-size: 25px!important;
}
#ES .clsBox3 h5 span {
	font-size: 22px!important;
	line-height: 24px;
}
#ES .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_es.png)!important;
}
#DE .clsBox3 {
	height: auto!important;
}
#DE .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_de.png)!important;
}
#IT .clsBox3 .days {
	width: 320px !important;
}
#IT .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_it.png)!important;
}
#IT .clsBox3 {
	height: auto!important;
}
#RU .clsBox3 h4 {
	font-size: 24px !important;
}
#RU .clsBox3 h5 {
	font-size: 25px!important;
}
#RU .clsBox3 {
	height: auto!important;
}
#RU .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_ru.png)!important;
}
#FR .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_mobile_fr.png)!important;
}
#FR .clsBox3 h5 {
	font-size: 21px!important;
}
#FR .clsBox3 h5 span {
	font-size: 20px!important;
	line-height: 22px!important;
}
.clsBox4 {
	padding: 15px 0 27px 0;
	width: 320px;
}
.clsBox4 .clsRegulatedBox {
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	padding-top: 5px;
}
.clsBox4 .clsRegulatedBox .clsLogo {
	width: 40px;
}
.clsBox4 .clsRegulatedBox .clsLogos {
	width: 300px;
}
.clsBox4 .clsRegulatedBox h3 {
	font-size: 17px;
	line-height: 20px;
}
.clsBox4 .clsRegulatedBox:after {
	background: url(../images/section_shadow_mobile.png) no-repeat center top;
}
#ES .clsBox4 {
	padding-top: 15px!important;
}
#RU .clsBox4 {
	padding-top: 15px!important;
}
#FR .clsBox4 {
	padding-top: 15px!important;
}
.clsBox5 {
	padding: 25px 0 30px 0;
}
.clsBox5 img {
	width: 270px;
}
footer {
	font-size: 13px;
	height: 170px;
	padding: 25px 0 0 0;
	width: 100%;
}
footer p {
	font-size: 13px;
	font-family: Arial;
	width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}
footer:before {
	background: url(../images/section_shadow_mobile.png) no-repeat center top;
}
*/
/*   LOCALIZATIONS      */

#TR .clsBox1 .main_header .header_text {
	width: 580px;
}
#TR .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_tr.png);
}
#TR .clsBox2 ul {
	width: 375px;
}
#TR .clsBox2 ul li.clsItem1 .clsText {
	padding: 15px 0 0 0;
}
#TR .clsBox2 ul li.clsItem2 .clsText {
	padding: 3px 0 0 0;
}
#TR .clsBox2 ul li.clsItem3 .clsText {
	padding: 20px 0 0 0;
}
#TR .clsBox3 h4 {
	font-size: 38px;
}
#TR .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_tr.png);
}
#ES .clsBox1 .main_header .header_text {
	width: 595px;
}
#ES .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_es.png);
}
#ES .clsBox1 .main_header .clsImg {
	margin-left: 0px;
}
#ES .clsBox3 h4 {
	font-size: 35px;
}
#ES .clsBox3 h5 {
	font-size: 42px;
}
#ES .clsBox3 h5 span {
	font-size: 37px;
}
#ES .clsBox1 .button_StartBox {
	bottom: 10px;
}
#ES .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_es.png);
}
#ES .clsBox4 {
	padding-top: 40px;
}
#DE .clsBox1 .main_header .header_text {
	width: 660px;
	font-size: 18px;
}
#DE .clsBox1 .main_header .clsImg {
	margin-left: 0;
}
#DE .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_de.png);
}
#DE .clsBox1 .button_StartBox {
	bottom: 8px;
}
#DE .clsBox2 ul li.clsItem1 .clsText {
	padding: 15px 0 0 0;
}
#DE .clsBox3 {
	height: 870px;
}
#DE .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_de.png);
}
#IT .clsBox1 .main_header .header_text {
	width: 595px;
}
#IT .clsBox1 .button_StartBox {
	bottom: 10px;
}
#IT .clsBox3 h4 {
	font-size: 34px;
}
#IT .clsBox3 .days {
	font-size: 21px;
}
#IT .clsBox3 .days span {
	line-height: 30px;
}
#IT .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_it.png);
}
#IT .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_it.png);
}
#RU .clsBox1 .main_header .header_text {
	width: 595px;
}
#RU .clsBox1 .button_StartBox {
	bottom: 5px;
}
#RU .clsBox3 .days {
	font-size: 21px;
}
#RU .clsBox2 ul {
	width: 396px;
}
#RU .clsBox2 ul li strong {
	font-size: 23px;
}
#RU .clsBox2 ul li.clsItem1 .clsText {
	padding: 15px 0 0 0;
}
#RU .clsBox3 h4 {
	font-size: 43px;
}
#RU .clsBox3 h5 {
	font-size: 44px;
}
#RU .clsBox4 {
	padding-top: 35px;
}
#RU .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_ru.png);
}
#RU .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_ru.png);
}
#FR .clsBox1 .main_header .header_text {
	width: 595px;
	font-size: 19px;
}
#FR .clsBox1 .button_StartBox {
	bottom: 10px;
}
#FR .clsBox2 ul {
	width: 396px;
}
#FR .clsBox2 ul li strong {
	font-size: 23px;
}
#FR .clsBox2 ul li {
	font-size: 19px;
}
#FR .clsBox2 ul li b {
	font-size: 19px;
}
#FR .clsBox2 ul li.clsItem1 .clsText {
	padding: 15px 0 0 0;
}
#FR .clsBox2 ul li.clsItem2 .clsText {
	padding: 3px 0 0 0;
}
#FR .clsBox3 h4 {
	font-size: 43px;
	line-height: 44px;
}
#FR .clsBox3 h5 {
	font-size: 42px;
}
#FR .clsBox3 h5 span {
	font-size: 34px;
}
#FR .clsBox3 {
	height: auto;
}
#FR .clsBox4 {
	padding-top: 0;
}
#FR .clsBox4 .clsRegulatedBox {
	padding-top: 0;
}
#FR .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_fr.png);
}
#FR .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_fr.png);
}
#SE .clsBox1 .main_header .header_text {
	width: 595px;
}
#SE .clsBox2 ul {
	width: 396px;
}
#SE .clsBox3 h4 {
	font-size: 35px;
}
#SE .tradeBox_StartButton {
	background-image: url(../images/btn_start-now_SE_en.png);
}
#SE .clsBox3 .button_box .button_StartBox .tradeBox_StartButton {
	background-image: url(../images/btn_start-today_SE_en.png);
}
