.right_side_rank_body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:left;
}

.right_side_rank_lable{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#566764;
	text-align:center;
}

.right_side_rank_lable_red{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#990020;
	text-align:center;
}

.right_side_rank_link {
	color:#566764;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
}

.right_side_rank_link:visited {
	color:#566764;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
}

.right_side_rank_link:hover {
	color:#ffffff;
	font-weight:bold;
	background-color:gray;
}

.right_side_rank_link_red {
	color:#990020;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
}

.right_side_rank_link_red:visited {
	color:#566764;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
}

.right_side_rank_link_red:hover {
	color:#566764;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
}

.right_side_rank_headline{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:"center";
}

.site_table_one_touch {
	border-width: 1px;
	border-spacing:  ;
	border-style: solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.site_table_one_touch_no_btm_border {
	border-width: 1px 0px 0px 0px;
	border-spacing:  ;
	border-style: solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}


.right_side_rank_main{
	font-size:11px;
	color:#FFF;
	text-align:"center";
}

.right_side_rank_none{
	font-size:11px;
	text-align:"center";
}

.put_call{
	font-weight: bold;

}

.divscroll {
	color: #000000;
	margin: 0px;
	overflow: auto;
	scrollbar-3dlight-color:gray;
    scrollbar-arrow-color:;
    scrollbar-track-color:;
    scrollbar-darkshadow-color:;
    scrollbar-face-color:;
    scrollbar-highlight-color:;
    scrollbar-shadow-color:;
}

.profit{
	font-family:"Times New Roman", Times, serif;
	font-size:19px;
	color:#FFF;
}
















