html {
/*overflow-x: hidden;*/
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #333333;
	border-collapse:collapse;
	border-spacing:0px;
	padding:0px;
	margin:0px;/*width:636px;*/
}
p, td, li, form, label {
	font-size:11px;
}
td, ul, ol, li, form, input, select {
	padding:0;
	margin:0;
}
img {
	padding:0;
	border:0;
}
/*---------------------START COMMON PROPERTIES..---------------------*/
a.ec_underline_link {
	text-decoration:none;
}
a.ec_underline_link:hover {
	text-decoration:underline;
}
.ec_a_top, a.ec_a_top:hover {
	color:#ffffff;
	text-decoration: none;
	font-size:12px;
	font-weight: bold;
}
.ec_top_white_arrow {
	background: transparent url('http://ecal.forexpros.co.il/images/white-arrow.gif') no-repeat;
	width:16px;
}
.ec_header {
	color:#ffffff;
	background-color:#4b5c59;
	/*background-color: transparent;*/
	height:20px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
tr.ec_bg1_tr, tr.ec_bg2_tr {
	height:20px;
}
.ec_b_11, .ec_b_11 a, .ec_b_11_bold, .ec_b_11_bold a {
	font-size: 11px;
	color:#000000;
	font-weight:bold;
	text-decoration: none;
}
.ec_b_12, .ec_b_12 a, .ec_b_12_bold, .ec_b_12_bold a {
	font-size: 11px;
	color:#000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding-left:10px;
}
.ec_b_11_bold, .ec_b_11_bold a, .ec_b_12_bold, .ec_b_12_bold a {
	font-weight: bold;
}
a.ec_w_11 {
	color:#FFFFFF;
	text-decoration: none;
}
tr.ec_bg1_tr td, tr.ec_bg2_tr td {
	border-bottom:0px solid #4b5c59;
}
tr.ec_bg1_no_border td {
	border-bottom:0px;
}
tr.ec_bg2_no_border td {
	border-bottom:0px;
}
/*---------------------END COMMON PROPERTIES..---------------------*/



/*---------------------START MAIN TABLE PROPS (borders, collapse settings, cellpadding, cellspacings etc)---------------------*/

.ec_main_title_table {
	border-spacing:0px;
	border-collapse:collapse;
	/*padding:0px;*/
	border:0px solid #000000;
	border-left:0px solid #000000;
	width:100%;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.ec_main_table {
	border-spacing:0px;
	border-collapse:collapse;
	padding:0px;
	border:1px solid #000000;
	border-top:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	border-bottom:1px solid #cbcbcb;
	border-left:1px solid #cbcbcb;
	width:100%;
	background-color:#ffffff;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;/**/
	/*background-image:url('/images/economic_calendar/header_lines_bg.gif');	background-repeat: repeat-x;*/
	/*background-image:url('/images/economic_calendar/slided_top_bg.gif');*/
}
.ec_table {
	border-left:0px solid #0059b0;
	border-right:0px solid #cbcbcb;
	border-bottom:0px solid #cbcbcb;
	font-size: 11px;
	color:#333333;
	text-decoration: none;
	width:100%;
	height:100%;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
/*---------------------END MAIN TABLE PROPS (borders, collapse settings, cellpadding, cellspacings etc)---------------------*/



/*---------------------START HEADER TABLE ROW PROPS---------------------*/
.ec_td_header {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	border:0px solid #000000;
	border-left:0px solid #cbcbcb;
	border-right:0px solid #cbcbcb;
	width:100%;
	height:20px;
}
.ec_td_header_with_graphic {
	padding:0;
	border-spacing:0;
	width:100%;
	height:18px;
	background: url('http://picbase.etrader.co.il/images/px.jpg') repeat-x;
}
.ec_lp_anchor {
	width:1px;
	height:20px;
	border:0px;
}
.ec_top_td, .ec_top_td_last {
	width:100%;
	/*background-color:#0452A1;*/
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding:0px;
	border-spacing:0px;
	vertical-align: middle;
	border-left: 0px solid #cbcbcb;
}
.ec_top_td, .ec_top_td_last, .ec_top_tr {
	background-image:url('http://picbase.etrader.co.il/images/px.jpg');
}
.ec_top_td_last {
	width:19%;
}
.ec_top_td_graphic_header {
	width:100%;
	background: url('http://picbase.etrader.co.il/images/px2.jpg') repeat-x;
	color:#ffffff;
	background-color:#fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}
.ec_top_table {
	width:100%;
	color:#000;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_top_table_td {
	border-spacing:0px;
	padding:0px;
}
.ec_top_table_graphic_header {
	width:100%;
	color:#ffffff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding:0px;
	border-spacing:0px;
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/cal_blue3_bg.gif') repeat-x;
}
.ec_table_in_header {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_cal_blue2_bg_td {
	width: 1%;
}
.ec_graphic_top_tr, .ec_graphic_top_tr_before_filter, .ec_graphic_top_tr_after_filter, .ec_graphic_top_tr_after_all {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/cal_blue3_bg.gif') repeat-x;
	color:#000000;
	vertical-align:middle;
}
.ec_graphic_top_tr_after_all {
	width:19%;
}
.graphic_top_tr_before_filter {
	height:20px;
}
.graphic_top_tr_after_filter {
	height: 18px;
}
.ec_top_tr {
	vertical-align:middle;
	padding:0px;
	border-spacing:0px;
}
.ec_top_tr_drop_down {
	vertical-align:middle;
	padding:0px;
	border-spacing:0px;
	height:20px;
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/drop_down.gif') no-repeat center;
}
.ec_spacer_after_top_tr_after_filter {
	width:84px;
	height:1px;
	border:0px;
}
/*---------------------END HEADER TABLE ROW PROPS---------------------*/






/*---------------------START DROP DOWN DIVS PROPS---------------------*/
.ec_calendar_div, .ec_calendar_div_filter {
	position:absolute;
	visibility:hidden;
	background-color:white;
	color:#000000;
	font-weight:normal;
}
.ec_calendar_div_filter {
	filter:alpha(opacity=94);
	opacity: 0.94;
	-moz-opacity:0.94;
}
.ec_popup_calendar_spacer {
	width:10px;
}
.ec_drop_down_img {
	height:20px;
	border:0px;
}

/* FILTER */
.ec_filter_table {
	width:84px;
	border:0px solid #000000;
	padding:0px;
	color:#fff;
	border-spacing:0px;
	border-collapse:collapse;

}
.ec_filter_drop_table {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_filter_currency_top_td {
	border-bottom:1px solid #FFFFFF;
	height:18px;
	background-color:#e1e1e1;
	vertical-align:middle;
	text-align:center;
}
.ec_filter_currency_body_td {
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#000;
	width:100%;
	text-align:left;
	border-bottom:0px;
	border-top:0px;
	vertical-align:middle;
	background-color:#990000;
	padding:0px;
	border-spacing:0px;
}
.ec_filter_importance_top_td, .ec_filter_importance_body_td {
	border-bottom:0px;
	border-top:0px;
}
.ec_filter_importance_top_td {
	border-bottom:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	height:18px;
	background-color:#eaeaea;
	vertical-align:middle;
	color:#000000;
}
.ec_filter_importance_body_td {
	border-bottom:0px;
	border-top:0px;
	text-align:left;
	vertical-align:middle;
	color:#000;
	background-color: #eaeaea;
}
.ec_filter_submit {
	margin: 0;
	padding: 0px 0 0;
	vertical-align:middle;
	border:1px;
    background-color: #ffffff;
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer; 
	color:#000000;
	font-weight:normal;
}
.ec_filter_apply_button {
/*background: transparent url('/images/economic_calendar/filter_submit.gif') no-repeat top left;*/
}
.ec_filter_importance_footer_td {
	height:2px;
	background-color:#4b5c59;
}



/*POP-UP CALENDAR*/
.ec_no_spacing_table {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_cal_cpYearNavigation, .ec_cal_cpMonthNavigation {
	background-color:#4b5c59;
	text-align:center;
	vertical-align:middle;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
	border-left:0px;
	border-right:0px;
	border-bottom:1px solid #FFFFFF;
	border-top: 0px;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_cal_cpDayColumnHeader {
	font-size:8pt;
}
.ec_cal_cpMonthNavigation {
	font-family:arial;
	font-size:8pt;
}
.ec_cal_cpYearNavigation,  .ec_cal_cpCurrentMonthDate,  .ec_cal_cpCurrentMonthDateDisabled,  .ec_cal_cpOtherMonthDate,  .ec_cal_cpOtherMonthDateDisabled,  .ec_cal_cpCurrentDate,  .ec_cal_cpCurrentDateDisabled,  .ec_cal_cpTodayText,  .ec_cal_cpTodayTextDisabled,  .ec_cal_cpText {
	font-family: Arial, Helvetica, sans-serif;
	font-size:8pt;
}
TD.ec_cal_cpDayColumnHeader {
	text-align:center;
	vertical-align:middle;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-top: 0px;
	background-color: #4b5c59;
	color: #FFFFFF;
	font-weight:bold;
	font-size:8px;
}
.ec_cal_cpCurrentMonthDate, .ec_cal_cpOtherMonthDate, .ec_cal_cpCurrentDate {
	text-align:center;
	text-decoration:none;
	height:20px;
		font-weight:bold;
	vertical-align:middle;
}
.ec_cal_cpCurrentMonthDateDisabled, .ec_cal_cpOtherMonthDateDisabled, .ec_cal_cpCurrentDateDisabled {
	color:#333333;
	text-align:center;
		font-weight:bold;
	vertical-align:middle;
	/*<!--text-decoration:line-through;-->*/
							text-decoration:none;
}
.ec_cal_cpCurrentMonthDate {
	color:#FFFFFF;
	font-weight:bold;
}
.ec_cal_cpCurrentDate {
	color: #FFFFFF;
	font-weight:bold;
}
.ec_cal_cpOtherMonthDate {
	color:#333333;
	font-weight:bold;
}
TR.ec_cal_cpCurrentWeek {
	color:#FFFFFF;
	font-weight:bold;
	background-color: #333333;
	border-width:1px;
	border:solid thin #cbcbcb;
	vertical-align:middle;
}
TD.ec_cal_cpCurrentDate {
	color:#FFFFFF;
	background-color: #4b5c59;
	border-width:0px;
	vertical-align:middle;
}
TD.ec_cal_cpCurrentDateDisabled {
	border-width:1px;
	border:solid thin #cbcbcb;
	vertical-align:middle;
}
TD.ec_cal_cpTodayText, TD.ec_cal_cpTodayTextDisabled {
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-top: 0px;
	vertical-align:middle;
}
A.ec_cal_cpTodayText, SPAN.ec_cal_cpTodayTextDisabled {
	height:20px;
}
A.ec_cal_cpTodayText {
	color:#666666;
	font-weight:bold;
}
SPAN.ec_cal_cpTodayTextDisabled {
	color:#000000;
}
.ec_cal_cpBorder {
	border:1px #999;
	background-color:#aeaeae;
}
/*POP-UP CALENDAR*/
/*---------------------END DROP DOWN DIVS PROPS---------------------*/


/*---------------------START WHITE LINE PROPS---------------------*/
.ec_white_line_table {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	border-left: 1px solid #cbcbcb;
	border-right: 1px solid #cbcbcb;
	width:100%;
}
/*---------------------END WHITE LINE PROPS---------------------*/



/*---------------------"WHILE {...}" TABLE ROWS ROPERTIES (borders, bg-images like importance, plus-minus from the right, etc.)------------------------*/
.perliminary_icon_div {
	float:left;
	position:relative;
	padding:4px 0 0 2px;
}
.ec_td_date, .ec_td_time, .ec_td_currency, .ec_td_importance, .ec_td_actual, .ec_td_after_actual, .ec_td_forecast, .ec_td_after_forecast, .ec_td_previous, .ec_td_revised, .ec_td_after_previous {
	text-align: enter;
	vertical-align:middle;
}
.ec_td_actual, .ec_td_forecast, .ec_td_previous, .ec_td_revised {
	text-align:left;
}
.ec_td_date, .ec_td_time, .ec_td_currency, .ec_td_after_currency, .ec_td_importance, .ec_td_after_importance, .ec_td_event, .ec_td_actual, .ec_td_after_actual, .ec_td_forecast, .ec_td_after_forecast, .ec_td_previous, .ec_td_revised, .ec_td_after_previous {
	border-top: 0px solid #D0DFE6;
	border-bottom: 0px solid #D0DFE6;
}
.ec_td_date {
	width:11%;
	border-left:1px solid #cbcbcb;
	font-weight:bold;
}
.ec_td_time {
	width:20%;
}
.ec_td_currency {
	width:10%;
}
.ec_td_after_currency {
	width:3%;
}
.ec_td_importance {
	width:7%;
}
.ec_td_after_importance {
	width:1%;
}
.ec_td_event {
	width:53%;
	vertical-align:middle
}
.ec_td_actual {
	width:5%;
	font-weight:bold;
}
.ec_td_after_actual {
}
.ec_td_forecast {
	width:10%;
}
.ec_td_after_forecast {
}
.ec_td_previous {
	width:5%;
}
.ec_td_revised {
	width:2%;
}
.ec_td_after_previous {
	width:2%;
}
/* bull images  */
img#ec_importance1 {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/imp_1.png') no-repeat center;
	width:51px;
	height:15px;
}
img#ec_importance2 {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/imp_2.png') no-repeat center;
	width:51px;
	height:15px;
}
img#ec_importance3 {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/imp_3.png') no-repeat center;
	width:51px;
	height:15px;
}
/* plus and minus images  */

img.plus {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/cal_closed.png') no-repeat center;
	width:11px;
	height:11px;
}
img.minus {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/cal_open.png') no-repeat center;
	width:11px;
	height:11px;
}
img.next_img {
	background: url('http://picbase.etrader.co.il/images/right.jpg') no-repeat center;
	width:4px;
	height:6px;
}
img.prev_img {
	background: url('http://picbase.etrader.co.il/images/left.jpg') no-repeat center;
	width:4px;
	height:6px;
}
img.revised_icon {
	background: url('http://ecal.forexpros.co.il/images/icons/revised.png') no-repeat center;
	width:9px;
	height:9px;
}
.ec_td_after_previous {
	border-right:1px solid #cbcbcb;
	vertical-align: middle;
	text-align: center;
}
/*---------------------END "WHILE {...}" TABLE ROWS PROPERTIES (borders, bg-images like importance, plus-minus from the right, etc.)------------------------*/


.ec_bg1_tr, .ec_bg1_tr_slide, .ec_bg1_no_border {
	background-color:#ffffff;
	height:21px;
}
.ec_bg2_tr, .ec_bg2_tr_slide, .ec_bg2_no_border {
	background-color:#eaeaea;
	height:21px;
}
/*selected row*/

.ec_bg1_tr_slided {
	/*	background: url('http://ecal.forexpros.co.il/images/economic_calendar/slided_top_bg.gif') repeat;*/
	background-color:#c1d1ce;
	border-top: 1px solid #cbcbcb;
	height:21px;
}
.ec_bg2_tr_slided {
	/*	background: url('http://ecal.forexpros.co.il/images/economic_calendar/slided_top_bg.gif') repeat;*/
	background-color:#c1d1ce;
	/*	background-color:transparent;*/
	border-top: 1px solid #cbcbcb;
	height:21px;
}
/*---------------------START SETTING SLIDING TABLES, TRs, TDs and DIVs---------------------*/
.ec_sliding_td {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/slided_bg.gif') repeat;
	border-left:1px solid #cbcbcb;
	border-bottom:1px solid #cbcbcb;
}
.ec_sliding_table {
	border-bottom:0px solid #cbcbcb;
	border-left:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	width:100%;
	padding:0px;
	margin-bottom:0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_spacer_in_sliding_table {
	width:10px;
	height:1px;
}
.ec_table_in_sliding_table {
	width:100%;
	height:100%;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	border:0px;
}
.ec_spacer_in_table_in_sliding_table {
	width:1px;
	height:7px;
}
.ec_general_info_inside {
	border-spacing:0px;
	border-collapse:collapse;
	border:0px;
	width:100%;
}
.ec_general_info_event_title_td {
	color:#000000;
	font-weight:bold;
	font-size:13px;
	font-style: italic;
	vertical-align:middle;
}
.ec_general_info_actual_table {
	background-color: #f5f5f5;
}

.ec_banner_inside_table {
	border: 1px solid #cbcbcb;
	width:100%;
	background-color: #FFFFFF;
	padding: 0px;
	border-spacing:0px;
	border-collapse:collapse;
}
.ec_advertisement {
	background:#FFFFFF none repeat scroll 0 0;
	margin:0 0 0px;
	border-spacing:0;
	border-collapse:collapse;
	padding:0px;
	width: 100%;
}
.ec_advertisement .ec_note {
	color:#000000;
	font-size:10px;
	padding:0;
	text-align:right;
}
.ec_advertisement_msg {
	font-size:10px;
}
.event_inner_banner_loading {
	width:220px;
	height:19px;
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/ec_banner_loading.gif');
}


.ec_actual_inside_up, .ec_actual_inside_eq, .ec_actual_inside_down {
	font-weight:bold;
	font-size:13px;
}
.ec_actual_inside_up {
	color:green;
}
.ec_actual_inside_eq {
	color:#000;
}
.ec_actual_inside_down {
	color:red;
}
.ec_inside_forecast {
	font-size:13px;
}
img.ec_actual_arrow_up, img.ec_actual_arrow_eq, img.ec_actual_arrow_down {
	width:31px;
	height:31px;
}
img.ec_actual_arrow_up {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/actual_arrow_up.gif') no-repeat center;
}
img.ec_actual_arrow_eq {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_actual_arrow_down {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/actual_arrow_down.gif') no-repeat center;
}
img.ec_currency_usd, img.ec_currency_jpy, img.ec_currency_nzd, img.ec_currency_cad, img.ec_currency_gbp, img.ec_currency_chf, img.ec_currency_aud, img.ec_currency_eur, img.ec_currency_all {
	width:32px;
	height:24px;
}
img.ec_currency_usd {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/usd.jpg') no-repeat center;
}
img.ec_currency_jpy {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_nzd {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_cad {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_gbp {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_chf {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_aud {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_eur {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_all {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_currency_usd, img.ec_currency_jpy, img.ec_currency_nzd, img.ec_currency_cad, img.ec_currency_gbp, img.ec_currency_chf, img.ec_currency_aud, img.ec_currency_eur, img.ec_currency_all {
	width:32px;
	height:24px;
}
img.ec_currency_usd {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/usd-flag.jpg') no-repeat center;
}
img.ec_currency_jpy {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/jpy-flag.gif') no-repeat center;
}
img.ec_currency_nzd {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/nzd-flag.gif') no-repeat center;
}
img.ec_currency_cad {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/cad-flag.gif') no-repeat center;
}
img.ec_currency_gbp {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/gbp-flag.gif') no-repeat center;
}
img.ec_currency_chf {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/chf-flag.gif') no-repeat center;
}
img.ec_currency_aud {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/aud-flag.gif') no-repeat center;
}
img.ec_currency_eur {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/flags/eur-flag.gif') no-repeat center;
}
img.ec_currency_all {
	background: url('http://ecal.forexpros.co.il/images/spacer.gif') no-repeat center;
}
img.ec_print_icon {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/print.gif') no-repeat center;
	width:16px;
	height:16px;
}
img.ec_report_error_icon {
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/report_error.gif') no-repeat center;
	width:16px;
	height:16px;
}
.ec_tab_selected {
	height:26px;
	width: 94px;
	padding:0px;
	border-spacing:0px;
	text-align: center;
	vertical-align:bottom;
	border-top: none;
	border-left: 1px solid #cbcbcb;
	background: #fff url('http://ecal.forexpros.co.il/images/economic_calendar/ec_tab_selected.gif') right top no-repeat;
}
.ec_tab_selected a {
	color: #4b5c59;
	font-weight:bold;
	font-size:11px;
	text-decoration: none;
}
.ec_tab {
	height:24px;
	width: 94px;
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	text-align: center;
	vertical-align:bottom;
	border-top: none;
	border-left:1px solid #cbcbcb;
	border-bottom:1px solid #cbcbcb;
	background: url('http://ecal.forexpros.co.il/images/economic_calendar/ec_tab.gif') right top no-repeat;
}
.ec_tab a {
	color: #000000;
	font-weight: bold;
	font-size:11px;
	text-decoration: none;
}
.ec_tab_right_space {
	border-bottom: 1px solid #cbcbcb;
	width:100%;
}
.ec_hidden_logo_div {
	width:84px;
	padding:0px;
	border-spacing:0px;
}
.ec_hidden_logo_div_td {
	border:0px;
	text-align:center;
}
.ec_hidden_logo_div_spacer {
	height:7px;
}
.ec_graph_load {
	background:url('http://ecal.forexpros.co.il/images/working.gif') no-repeat center;
}
/* Freebees table */
.ec_off_tab a {
	line-height:23px;
	display: block;
	background: url("http://ecal.forexpros.co.il/images/profile_bg_off.gif");
	background-repeat: repeat-x;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	text-decoration: none;
}
.ec_description_tab {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	border:0px;
}
.ec_menu_seperator {
	width:2px;
	height:23px;
	padding: 0px;
	background: url("http://ecal.forexpros.co.il/images/profile_bg_spacer.gif");
	background-repeat: no-repeat;
}
.ec_on_tab {
	border-left:3px solid #cbcbcb;
}
.ec_on_tab a {
	line-height:23px;
	display: block;
	padding-left:20px;
	padding-right:20px;
	background: url("http://ecal.forexpros.co.il/images/profile_bg_on.gif");
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	border-right:1px solid #cbcbcb;
	border-left:1px solid #cbcbcb;
}
.ec_right, .ec_right_with_bottom-border {
	line-height:22px;
	height: 22px;
	padding: 0px;
	background-repeat:repeat-x;
	display:block;
}
.ec_right_with_bottom_border {
	width:100%;
	border-bottom:0px solid #cbcbcb;
	background: url('http://ecal.forexpros.co.il/images/tab_external_bg.gif') repeat-x;
}
.ec_slided_content_table {
	border-spacing:0px;
	padding:0px;
	border-collapse:collapse;
	width:100%;
	border-left:0px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
	border-bottom:0px solid #cbcbcb;
	background-color:#FFFFFF;
}
.ec_slided_graph_table {
	padding:0px;
	border-spacing:0px;
	border-collapse:collapse;
	margin-right:-100px;
}
.ec_slided_content, .ec_slided_graph_table {
	border-left:1px solid #cbcbcb;
}
.ec_g_13_bold, .ec_g_13_bold a {
	font-size:13px;
	color: #333333;
	text-decoration: none;
}
.ec_g_12_bold, .ec_g_12_bold a {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.ec_g_12 {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.ec_g_11, .ec_g_11 a, .ec_g_11_bold, .ec_g_11_bold a {
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.ec_g_12, .ec_g_12 a, .ec_g_12_bold, .ec_g_12_bold a {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.ec_g_13_bold, .ec_g_13_bold a, .ec_g_11_bold, .ec_g_11_bold a, .ec_g_12_bold, .ec_g_12_bold a {
	font-weight: bold;
}
.ec_right {
	line-height:22px;
	height: 22px;
	padding:0px;
	background-repeat: repeat-x;
	display: block;
}
/* End Freebees table */

.ec_w_11, .ec_w_11 a, .ec_w_11_bold, .ec_w_11_bold a {
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
}
.ec_w_11_bold, .ec_w_11_bold a {
	font-weight: bold;
}
/*---------------------END SETTING SLIDING TABLES, TRs, TDs and DIVs---------------------*/
