body {
	margin:0;
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.line_glossary {
  background: url(../images/line_glossary.gif);

  width:1px;
}
.menu_header{
	color:#566764;
	font-family:Arial;
	font-size:18px;
	font-weight:normal;
}

.info_messages{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}


.menu_item{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}


.menu_item:hover{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}


.menu_item_red{
	color:#990020;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
}


.menu_item_red:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	text-decoration:underline;
	background-color:#566764;
}


.header_red_strip{
	background-color:#9A0023;
}

.header_gray_strip{
	background-color:#566764;
	text-align: center;

}

.footer_red_strip{
	background-color:#9A0023;
}

.text_white_12_reg{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}
a.text_white_12_reg:hover{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.text_white_12{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	vertical-align:middle;
}

.text_white_12_bold{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

a.text_white_12:hover{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.text_white_12_bold_underline{
	color:#FFFFFF;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	vertical-align:top;
}

.text_white_12_bold_underline_red{
	color:#FFFFFF;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	vertical-align:top;
}

.text_white_10_underline{
	color:#FFFFFF;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
}

.text_gray_12{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.text_gray_8{
	color:#566764;
	font-family:Arial;
	font-size:6px;
	font-weight:normal;
}

.profit_body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#566764;
}

.profit{
	font-family:"Times New Roman", Times, serif;
	color:#990000;
	font-size:45px;
	font-weight:bold;
}
.profit_pagehead{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#566764;
	font-weight:bold;
}

.profit_subprofit{
	font-size:17px;
}


h1{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.text_gray_11{
	color:#566764;
	font-family:Arial;
	font-size:11px;
}

.text_gray_12_bold{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.text_red_12_bold{
	color:#990000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.text_black_12_bold{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}


a.text_faq_gray_12_bold{
      color:#566764;
      font-family:Arial;
      font-size:12px;
      font-weight:bold;
}

a.text_faq_gray_12_bold_red{
      color:#990020;
      font-family:Arial;
      font-size:12px;
      font-weight:bold;
}

a.text_faq_gray_11_bold{
      color:#566764;
      font-family:Arial;
      font-size:11px;
      font-weight:bold;
}

a.text_faq_gray_12_bold:active{
      color:#990020;
      font-family:Arial;
      font-size:12px;
      font-weight:bold;
}

.link_gray_12_bold{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
}

.link_gray_12_bold_slip {
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	vertical-align:middle;
}

.link_gray_12_bold_slip:hover {
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

.link_gray_11_bold{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	vertical-align:middle;
}

.link_gray_11_bold:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
	background-color:#566764;
}


.link_gray_8_bold{
	color:#566764;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	vertical-align:middle;
}

.link_gray_12_bold:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	background-color:#566764;
}

.link_gray_20_bold{
	color:#566764;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	vertical-align:middle;
}

.link_gray_20_bold:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-decoration:underline;
	background-color:#566764;
}

.myaccount_td{
	background-color:#9A0023;
}

.myaccount_td_active{
	background-color:#9A0023
}

.text_glossary_header{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

input.login{
	color:#475A56;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}

.input_text{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.selectOneMenu_with_width {
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	width:133px;
}

.input_text_register{
	vertical-align: bottom;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	color:#566764;
}


select.input_text{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

input {
	vertical-align: middle;
}

.text_red_12_bold{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.text_info_page_12{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.banner_red_11{
	color:#ADB2B2;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}

.error_messages{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.error_messages_bold{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}
.error{
	color:#990020;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}
.error_bold{
	color:#990020;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}

.text_gray_24_bold{
	color:#566764;
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
}

.text_gray_20_bold{
	color:#566764;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}


.standardTable_Row1 {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #FFFFFF;
}

.standardTable_Row2 {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #E6ECEC;

}
.scrollerTable {
	font-family : Arial;
	font-size: 12px;
	color: #E6ECEC;
    width: 100%;
    cellspacing:0px;
    cellpadding:0px;
    background-color: #566764;
}



.scrollerTable_print {
	font-family : Arial;
	font-size: 12px;
	color: #E6ECEC;
    width: 100%;
    cellspacing:0px;
    cellpadding:0px;

    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
.standardTable_Header_print {
	color: #566764;
    text-align: center;

	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

.standardTable_Row1_print {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #FFFFFF;

    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}

.standardTable_Row2_print {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
    background-color: #FFFFFF;

    border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;

}

.standardTable_ColumnCentered_print {
    text-align: center;
     border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;

}


.standardTable_Header {
	color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
}

.standardTable_SortHeader a{
    color: #FFFFFF;
    background-color: #566764;
    text-align: center;
    border: none;
}

.standardTable_Footer {
    background-color: #FFFFE0;
}

.standardTable_Column {

}

.standardTable_ColumnCentered {
    text-align: center;

}

.scroller {
    color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	border:none;
	text-align:center;
	align:center;
}

.paginator_active a{
    color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	border:none;
	text-decoration: none;
}

.paginator {
	color: #566764;
	font-family : Arial;
	font-size: 12px;
	font-weight:normal;
	text-align:center;
	align:center;
}

.paginator a {
	color: #566764;
	font-family : Arial;
	font-size: 12px;
	font-weight:normal;
}

.tableborder1 {border: white 1px solid; background: url(../images/b.gif) 0 100% repeat-x;
}
.tableborder2 {background: url(../images/l.gif) 0 0 repeat-y;
}
.tableborder3 {background: url(../images/r.gif) 100% 0 repeat-y;
}
.tableborder4 {background: url(../images/t.gif) 0 0 repeat-x;
}
.tableborder5 {background: url(../images/bl.gif) 0 100% no-repeat;
}
.tableborder6 {background: url(../images/br.gif) 100% 100% no-repeat;
}
.tableborder7 {background: url(../images/tl.gif) 0 0 no-repeat;
}
.tableborder8 {background: url(../images/tr.gif) 100% 0 no-repeat; padding:8px;
}


		.hintText {
			font-family:Arial;
			font-size: 12px;
			font-weight:bold;
			background-color: #D6DBDB;
			color: #566764;
			padding: 5px;

		}

.wrapped table,
	.wrapped td {
		border: 0;
		border-collapse: collapse;
		padding: 0;
		background-position: 0px;
	}


/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.CalendarcpYearNavigation,
.CalendarcpMonthNavigation
		{
		background-color:#566764;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.CalendarcpDayColumnHeader,
.CalendarcpYearNavigation,
.CalendarcpMonthNavigation,
.CalendarcpCurrentMonthDate,
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDate,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDate,
.CalendarcpCurrentDateDisabled,
.CalendarcpTodayText,
.CalendarcpTodayTextDisabled,
.CalendarcpText
		{
		font-family:arial;
		font-size:11px;
		}
TD.CalendarcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #566764;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:0px;
		border-bottom-width:1px;
		font-weight:bold;
		color:#000000;
  		font-family:Arial;
  		font-size:11px;
		}
.CalendarcpCurrentMonthDate,
.CalendarcpOtherMonthDate,
.CalendarcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		color:#566764;
  		font-family:Arial;
  		font-size:11px;
  		font-weight:normal;
		}
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.CalendarcpCurrentMonthDate
		{
		color:#566764;
		font-family:Arial;
  		font-size:11px;
  		font-weight:normal;
		}
.CalendarcpCurrentDate
		{
		color: #000000;
		font-weight:bold;
		}
.CalendarcpOtherMonthDate
		{
		color:#808080;
		text-decoration:line-through;
		font-family:Arial;
  		font-size:11px;
  		font-weight:normal;
		}
TD.CalendarcpCurrentDate
		{
		color:#000000;
		background-color: #FFFFFF;
		border-width:1;
		border:solid thin #9A0023;
		}
TD.CalendarcpCurrentDateDisabled
		{
		border-width:1;
		border:solid thin RED;
		}
TD.CalendarcpTodayText,
TD.CalendarcpTodayTextDisabled
		{
		border:solid thin #566764;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:1px;
		border-bottom-width:0px;
		}
A.CalendarcpTodayText,
SPAN.CalendarcpTodayTextDisabled
		{
		height:20px;
		}
A.CalendarcpTodayText
		{
		color:#000000;
		font-weight:bold;
		}
SPAN.CalendarcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.CalendarcpBorder
		{
		border:solid thin #566764;
		}

/*
   ------------------------------------------------------------
   End Calendar component
   ------------------------------------------------------------
*/

table.myFaces_panelTabbedPane{
	border-style: none;
	padding: 0;
	border-spacing: 0;
	empty-cells: show;
}

.myFaces_panelTabbedPane_activeHeaderCell{
	border-top: 2px outset silver;
	border-right: 2px outset silver;
	border-bottom: 0px none;
	border-left: 2px outset silver;
	text-align: center;
}
.myFaces_panelTabbedPane_inactiveHeaderCell,
.myFaces_panelTabbedPane_disabledHeaderCell{
	border-top: 1px outset silver;
	border-right: 1px outset silver;
	border-bottom: 0px none;
	border-left: 1px outset silver;
	text-align: center;
	background-color: silver;
}
.myFaces_panelTabbedPane_activeHeaderCell input,
.myFaces_panelTabbedPane_inactiveHeaderCell input,
.myFaces_panelTabbedPane_disabledHeaderCell label{
	border-style: none;
	width: 100%;
}
.myFaces_panelTabbedPane_activeHeaderCell input{
	cursor: pointer;
    background-color: transparent !important;
    /* background-color: inherit; */
}
.myFaces_panelTabbedPane_inactiveHeaderCell input{
	cursor: pointer;
	background-color: silver;
}
.myFaces_panelTabbedPane_disabledHeaderCell label{
	cursor: default;
	background-color: silver;
}
.myFaces_panelTabbedPane_emptyHeaderCell{
	border-style: none;
}
.myFaces_panelTabbedPane_activeHeaderCell input:hover,
.myFaces_panelTabbedPane_inactiveHeaderCell input:hover{
}

.myFaces_panelTabbedPane_subHeaderCell{
 	height: 2px;
	font-size: 0;
	border-bottom: 0px none;
}
.myFaces_panelTabbedPane_subHeaderCell_active{
	border-top: 0px none;
}
.myFaces_panelTabbedPane_subHeaderCell_inactive{
	border-top: 2px outset silver;
}
.myFaces_panelTabbedPane_subHeaderCell_first{
	border-right: 2px outset silver;
	border-left: 0px outset silver;
}
.myFaces_panelTabbedPane_subHeaderCell_last{
	border-top: 2px outset silver;
	border-left: 2px outset silver;
	border-right: 0px outset silver;
}

.myFaces_panelTabbedPane_pane{
	border-top: 0px none;
	border-right: 2px outset silver;
	border-bottom: 2px outset silver;
	border-left: 2px outset silver;
	padding: 10px;
}

.register_agreement{
	color: #4B5C59;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	line-height: 16px;

}

.register_agreement_link{
	color: #4B5C59;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	line-height: 16px;
	text-decoration:underline;
}

A.register_agreement_link:hover {
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	text-decoration:underline;
}

.register_agreement_link:active{
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	text-decoration:underline;
}


/*
   ------------------------------------------------------------
   Home page
   ------------------------------------------------------------
*/

.invest_header{
	background-color:#566764;
	color:#FFFFFF;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	width: 492px;
	height: 23px;
}

.invest_asset{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
}

.invest_asset_not_opened{
	color:#D0D5D4;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-align: center;
}

.invest_odds{
	color:#566764;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;

}

.invest_odds_not_opened{
	color:#D0D5D4;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-align: center;

}

.invest_time{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-align: center;

}

.invest_level_up{
	color:#008800;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
}

.invest_level_down{
	color:#CC0000;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
	vertical-align: middle;
}

.invest_level_close{
	color:#000000;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
}

.invest_level_not_open{
	color:#D5D9D8;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
}

tr.invest_close td{
	height: 66px;
	background-color:#C1C8C8;
	border-bottom: 1px solid #AEB2B1;
}

.invest_close_without_border {
	height: 66px;
	background-color:#C1C8C8;

}

tr.invest_close_without_border td{
	border-bottom: 1px solid #C1C8C8;
}

.line_invest {
	height: 66px;
}

tr.line_invest_with_border td {
	height: 66px;
	border-bottom: 1px solid #AEB2B1;
}

.line_invest_hide {
	height: 66px;
	display: none;
}

tr.bottom_border td {
	border-bottom: 1px solid #AEB2B1;
}

tr.bottom_border_white td {
	border-bottom: 1px solid #FFFFFF;
}

table.no-bottom-border td {
	border-bottom: 0px;
	height:auto;
	background-color:;
}

.slip_header {
	background-color:#566764;
	color:#FFFFFF;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: right;
}

.slip_header_left {
	background-color:#566764;
	color:#FFFFFF;
	font-family:Arial;
	font-size:11px;
	text-align: left;
}

.invest_level_up_left{
	color:#008800;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: left;
}

.invest_level_down_left{
	color:#CC0000;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: left;
}

.invest_level_close_left{
	color:#000000;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: left;
}

.text_black_12{
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}


.link_gray_10_bold{
	color:#566764;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
}

.link_gray_10_bold:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	text-decoration:underline;
	background-color:#566764;
}

/*from here : invest empty */

.tableborder_red1 {border: white 1px solid; background: url(../images/b_red.gif) 0 100% repeat-x; margin: 2px 0px 0px 0px;
}
.tableborder_red2 {background: url(../images/l_red.gif) 0 0 repeat-y;
}
.tableborder_red3 {background: url(../images/r_red.gif) 100% 0 repeat-y;
}
.tableborder_red4 {background: url(../images/t_red.gif) 0 0 repeat-x;
}
.tableborder_red5 {background: url(../images/bl_red.gif) 0 100% no-repeat;
}
.tableborder_red6 {background: url(../images/br_red.gif) 100% 100% no-repeat;
}
.tableborder_red7 {background: url(../images/tl_red.gif) 0 0 no-repeat;
}
.tableborder_red8 {background: url(../images/tr_red.gif) 100% 0 no-repeat; padding:8px;
}

.text_gray_11_bold{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}

/* added for bottom of home page investment table*/
.bottom_home_page{
	background-color:#EEF3F2;
	color:#566764;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
}

.bottom_home_page_links{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}

a.bottom_home_page_links:hover{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}

.bottom_home_page_links_red{
	color:#990020;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}

a.bottom_home_page_links_red:hover{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}

.link_red_12{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

a.link_red_12:hover{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

/* successful entry */
.slip_success_header {
	background-color:#E7EDEC;
}

.text_gray_14_bold{
	color:#566764;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}

.text_gray_20_bold{
	color:#566764;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
}

.text_register_info{
	color:#566764;
	font-family:Arial;
    font-size:11px;
    font-weight:normal;
}

.text_gray_10{
	color:#566764;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
}

.text_black_10{
	color:#000000;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
}

.link_gray_10{
	color:#566764;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
}

.link_gray_10:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	text-decoration:underline;
	background-color:#566764;
}

.dash_border{
	background: url('../images/succes_line.gif') 100% 0 repeat-x;
  	height: 1px;
}

.inv_closed{
	color: #566764;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	padding-right: 5px;
	padding-left: 5px;
}

.inv_closed_red{
	color: #990020;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	padding-right: 5px;
	padding-left: 5px;
}

.image_down{
	height: 7px;
	width: 11px;
	background: url(../images/down.gif);
}

.image_up{
	height: 7px;
	width: 11px;
	background: url(../images/up.gif);
}

.text_gray_30{
	color: #566764;
	font-family:  Arial;
	font-size: 30px;
}
.text_black_11{
	color:#000000;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}

.slip_sms_msg_11_bold{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}


/* custom alert */
#modalContainer {
	background-color: transparent;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 10000;
	background-image: url(../images/tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position: relative;
	width: 300px;
	min-height: 100px;
	margin-top: 50px;
	border:1px solid #576766;
	background-color: #FFFFFF;
	background-image: url(../images/alert.png);
	background-repeat: no-repeat;
	background-position: 10px 30px;
	text-align: right;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#576766;
	color:#FFFFFF;
	border-bottom: 1px solid #000000;
	padding:2px 5px 2px 0px;
	text-align: right;
}

#alertBox p {
	font: 0.8em verdana,arial;
	height: 50px;
	padding-left: 5px;
	margin-left: 55px;
	text-align: right;
	color: #9A0023;
	font-weight: bold;
}

#alertBox #closeBtn {
	display: block;
	position: relative;
	margin: 5px auto;
	padding: 3px;
	border: 1px solid #576766;
	width: 70px;
	font: 1em verdana,arial;
	text-transform: uppercase;
	text-align: center;
	color: #576766;
	background-color: #FFFFFF;
	text-decoration: underline;
	font-weight: bold;
}

table.small_banner {
	cursor: pointer;
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #d6d9d8;
	border-collapse: separate;
	background-color: white;
}

.LS_content{

	color: #566764;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 11px;
	text-decoration: none;
	line-height: 16px;


	}


.LS_link{

	color: #566764;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 11px;
	text-decoration: none;
	line-height: 16px;

}


A.LS_link:hover {

	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 10px;
	text-decoration: none;

}

.LS_content1 {

	color: #566764;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 10px;
	text-decoration: none;
	line-height: 14px;

}

.LS_sep {

	color: #9A0322;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 6px;

}

a.link_no_underscore {
	margin:0;
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
	text-decoration: none;
}

a.link_no_underscore_10 {
	margin:0;
	color:#566764;
	font-family:Arial;
	font-size:10px;
	font-weight:normal;
	text-decoration: none;
}

.formInput {
	background-color: #CCCCCC;
	border: 1px solid #504D4D;
	color: #2D2C2C;
	font-family:Arial;
	font-size: 9px;
	width: 135px;
	height: 15px;
}

.formInputSmall {
	background-color:#ffffff;
	font-family:Arial;
	font-size:11px;
	width: 70px;
	height: 16px;
}

.formInputSelect {
	background-color:#ffffff;
	font-family:Arial;
	font-size:10px;
	width: 60px;
	height: 15px;
}


.link_button_gray_12_bold{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font: bold;
	text-decoration: underline;
	text-align: center;
}

.link_button_gray_12_bold_one{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font: bold;
	text-decoration: underline;
	text-align: center;
}

.link_button_gray_12_bold_one:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	background-color:#566764;
}

.link_button_gray_12_bold:hover{
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	background-color:#566764;
}

.text_gray1_11{
	color:#566764;
	font-family:Arial;
	font-size:11px;
	padding-bottom: 3px;
}

.one_touch_name{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-align: center;
}

.one_touch_other{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#4b5c59;
text-align:center;

}

.subtext_one{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
text-align:right;
color:#4b5c59;
font-weight:normal;

}

.one_touch_link {
color:#990022;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
}

.one_touch_link:hover{
color:#4b5c59;
}

.rightnav_menu_header{
	background-color:#4B5C59;
	color:#FFFFFF;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	text-align: center;
}

.rightnav_menu_header_calcalist{
	background-color:#4B5C59;
	color:#FFFFFF;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	text-align: center;
}

.rightnav_menu_table {
	border-width: 1px;
	border-spacing:  ;
	border-style: solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.tax_form_table {
	border-width: 1px 1px 1px 1px;
	border-spacing:  ;
	border-style: solid solid solid solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.rightnav_item{
	color: #4B5C59;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	line-height: 16px;
	text-decoration:underline;
}

.rightnav_item_red{
	color: #EF5411;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	line-height: 16px;
	text-decoration:underline;
}

A.rightnav_item_red:hover {
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	text-decoration:underline;
}

A.rightnav_item:hover {
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	text-decoration:underline;
}

.rightnav_item_active{
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	text-decoration:underline;
}

.lastLevels_item_active{
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 13px;
	font: bold;
	text-decoration:underline;
}

.rightnav_item_blue {
	color: #395a92;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 12px;
	font: bold;
	line-height: 16px;
	text-decoration:underline;
}

.lastLevels_item{
	color: #4B5C59;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 13px;
	font: bold;
	text-decoration:underline;
}

/********* one touch off hours trader page ************/
.onetouch_offhours_border{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#37413e;
	border-collapse: collapse;
}

.onetouch_offhours_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:center;
}

.onetouch_offhours_txt2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#000000;
	font-weight:bold;
	text-align:center;
}

.offHours_body{
	direction:rtl;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#394644;
}

.offHours_div{
	direction:rtl;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:19px;
	color:#394644;
	text-align:center;
}

.offHours_link {
		color:#394644;
		text-decoration:underline;
		font-size:14px;
		font-weight:bold;
}



.offHours_link:hover {
		font-weight:bold;
		color: #990020;
		font-family:  Arial, Helvetica, sans-serif, Verdana;
		font-size: 14px;
		font: bold;
		text-decoration:underline;
}
/********* end one touch off hours trader page ************/

.onetouch_banner_txt2{
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:14px;
	color:#000000;
	font-weight:bold;
}

.onetouch_banner{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#37413e;
	border-collapse: collapse;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:center;
}

.site_table {
	border-width: 1px;
	border-spacing:  ;
	border-style: solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.site_table_no_top_border {
	border-width: 1px;
	border-top:0px;
	border-spacing:  ;
	border-style: solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.site_table_no_bottom_border {
	border-width: 1px 1px 1px 1px;
	border-bottom:0px;
	border-spacing:  ;
	border-style: solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.footer_link:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4b5c59;
	text-decoration:underline;
	font-weight:bold;
}

.footer_link:visited {
	color:#4b5c59;
	text-decoration:underline;
	font-size:10px;
	font-weight:bold;
}
.footer_link:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#990020;
	font-weight:bold;
	text-decoration:underline;

}

.footer_div_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	width:904px;
	direction:rtl;
	text-align:center;
}

.footer_div_links{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	width:904px;
	text-align:center;
	direction:rtl;
	color:#394644;
}

.contactme_cmbBox {
    vertical-align: top;
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	width:45px;
}
.contactme_input_text_register{
	vertical-align: top;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	color:#566764;
	width:59px;
}

.contactme_input_text{
	vertical-align: top;
	color:#566764;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
	width:108px;
}

.contactme_error_messages_bold{
	color:#990020;
	font-family:Arial;
	font-size:9px;
	font-weight:bold;
}

.lifneiPkiya {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#000000;
	text-align:center;
}

.lifneiPkiya_l:link {
	font-family:Arial, Helvetica, sans-serif;
	color:#990022;
	text-decoration:blink;
}

.lifneiPkiya_l:visited {
	font-family:Arial, Helvetica, sans-serif;
	color:#990022;
	text-decoration:blink;
}

.lifneiPkiya_l:hover {
	font-family:Arial, Helvetica, sans-serif;
	color:#990022;
	text-decoration:underline;
}

/*
	scroller css
*/
.banner2_marqueecontainer{
	position: relative;
	width: 222px; /*marquee width */
	height: 222px; /*marquee height */
	background-color: white;
	overflow: hidden;
;
}

.marquee_item {
	color: #4B5C59;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 11px;
	line-height: 15px;
	text-decoration:none;
}

A.marquee_item:hover {
	color: #990020;
	font-family:  Arial, Helvetica, sans-serif, Verdana;
	font-size: 11px;
	line-height: 15px;
	text-decoration:none;
}

.one_Touch_Body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000000;

}

.onetouch_topleft {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:18px;
	text-align:center;
	width:95px;
	direction:rtl;

}

.word_one_touch {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.word_option {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}


.attntion {
	font-size:11px; line-height:14px;
}

.reverse_links_red{
	color:#990020;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}
/**************For sms info page****************/
.sms_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#566764;
}
.sms_text_red{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #990000;
	font-weight: bold;
}
.sms_small_text{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#566764;
	font-weight: bold;
}
.sms_small_red{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	color: #990000;
	font-weight: bold;
}
.sms_div_style{
	width:500px;
	padding:10px;
}

.hintText_canceledTrx {
	font-family:Arial;
	font-size: 12px;
	font-weight:bold;
	background-color: #D6DBDB;
	color: #566764;
	padding: 5px;

}
/******************* end sms info page****************/
/****************** Bonus page **********************/
.bonus_header{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:30px;
	color:#990000;
}
.bonus_subheadline{
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#4v5c59;
	font-weight:bold;
}
.bonus_subhead{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#4b5c59;
}
.bonus_terms{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#4b5c59;
}
.bonus_subtext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#4b5c59;
}
/***************** end bonus page********************/

/******** golden page ***********/

.golden_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
}

.golden_general_terms_txt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
}

.golden_txt2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	padding-top:5px;
	color: #000000;
}

.golden_txt_bold{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	font-weight: bold;
}

.golden_header{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	color:#FFFFFF;
}

.golden_border{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#4b5c59;
	border-collapse: collapse;
}
.golden_border2{
	border-width: 2px 2px 2px 2px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#4b5c59;
	border-collapse: collapse;
}
.golden_border3{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#000000;
	border-collapse: collapse;
}

.golden_clockborder{
	background-image: url("../images/clock_bkgnd.jpg");
}

.golden_clock{
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	color:#990000;
	text-align:center;
}

.golden_timeleft{
	font-size:14px;
	text-align:center;
	color:#990000;
	font-weight:bold;
}

.golden_headline{
	font-size:33px;
	color:#4b5c59;
	font-weight:bold;
}

.golden_spreator {
	border-bottom: 1px solid #E1E1E1;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
}

.floating_div {

	width: 554px;
	position: absolute  ;
	z-index: 114;
	background-color: white;
	display: none;

}

.floating_graph_div {

	width: 550px;
	position: absolute  ;
	z-index: 100;
	display: none;

}

.golden_error {
	font-size:9px;
	color:#990000;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#880000;
	border-collapse: collapse;
	background:#f0f0f0;
}

/******** end golden page ***********/

/******** clac level page **********/
.calcLevelCaptionGT {
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	text-decoration: underline;
	color:#566764;
}

.clacLevelTableGT {
	color:#566764;
	font-size: 12px;
	font-family: Arial;
}

.calcLevelExtraGT {
	color:#566764;
	font-size: 12px;
	font-family: Arial;
}

.clacLevelTableHeadersGT {
	color:#566764;
	font-size: 12px;
	font-family: Arial;
	background-color: #E6E6E6;
}

.calcLevelCaptionEA {
	text-decoration: underline;
	font-family: Arial;
	font-size: 16px;
	font-style:	normal;
	color:#566764;
	text-transform:	none;
	letter-spacing:	normal;
	word-spacing: normal;
	line-height: 19.2px;
	font-weight: bold;
}

.clacLevelTableEA {
	font-family: Arial;
	font-size:	14.6667px;
	font-weight:	400;
	font-style:	normal;
	color:#566764;
}

.calcLevelExtraEA {
	font-family: Arial;
	font-size:	14.6667px;
	font-weight:	400;
	font-style:	normal;
	color:#566764;
}

.clacLevelTableHeadersEA {
	background-color: #E6E6E6;
	font-family: Arial;
	font-size: 14.6667px;
	font-weight: 400;
	font-style:	normal;
	color:#566764;
}

/******** end clac level page **********/

/***************** Loyalty **************************/
.points_balance_header {
	color:#4b5c59;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	background-color: white;
}

.points_balance_table {
	border-width: 1px;
	border-spacing:  ;
	border-style: solid;
	border-color: #E0E0E0;
	border-collapse: separate;
	background-color: white;
}

.points_text_gray_12 {
	color:#000000;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.points_text_gray_12_bold {
	color:#4b5c59;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
}

.points_convert_header {
	color:#4b5c59;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	background-color: white;
}

.points_convert_table {
	border-width: 1px;
	border-spacing:  ;
	border-style: solid;
	border-color: #E0E0E0;
	border-collapse: separate;
	background-color: #f6f6f6;
}

.points_link{
	color: #990020;
	font-family:  Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration:underline;
}

.points_link:hover {
	color: #4B5C59;
	font-family:  Arial;
	font-size: 11px;
	font-weight:bold;
	text-decoration:underline;
}

.points_text_gray_11 {
	color:#4B5C59;
	font-family:Arial;
	font-size:11px;
	font-weight:normal;
}

.points_info_messages{
	color:#4B5C59;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
}

.points_info_tier_1 {
	color:#1a498e;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.points_info_tier_2 {
	color:#747474;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.points_info_tier_3 {
	color:#7d6802;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.points_info_tier_4 {
	color:#1c1c1c;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.points_not_tier_header{
	color:#000000;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
}

.points_not_tier_text{
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
}

/**** terms *****/
.club{
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
}

.clubs_link{
	font-family:Arial, Helvetica, sans-serif;
	color:#4b5c59;
	text-decoration:none;
	font-size:11px;
}

.clubs_link:active{
      color:#990020;
      font-family:Arial, Helvetica, sans-serif;
      font-size:11px;
}

.clubs_link:hover{
	font-family:Arial, Helvetica, sans-serif;
	color:#990000;
	text-decoration:underline;
	font-size:11px;
}

.clubs_info{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:13px;
}

.clubs_content{
	font-family:Arial, Helvetica, sans-serif;
	color:#4b5c59;
	font-size:11px;
	line-height:16px;
	background-repeat:no-repeat;
}

.clubs_subhead {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}

.clubs_border{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color:#b2b2b2;
	border-collapse: collapse;
}

.clubs_bkgnd{
	background-image:url(../images/loy_1px.jpg);
	background-repeat:repeat-x;
}

.clubs_headline{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.clubs_text14{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

.clubs_blue{
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/blue_bkgnd.jpg);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#2870c2;
}

.clubs_silver{
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/silver_bkgnd.jpg);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#7a7a7a;
}

.clubs_gold{
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/gold_bkgnd.jpg);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#786300;
}

.clubs_plat{
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/plat_bkgnd.jpg);
	background-repeat:repeat-x;
	font-size:14px;
	font-weight:bold;
	color:#414141;
}

.clubs_open {
	font-family:Arial, Helvetica, sans-serif;
	color: #990000;
	font-size:11px;
	text-decoration:underline;
}
/*** endTerms ****/


/**************** End Loyalty ************************/


.pages_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#566764;
	font-weight:normal;
}

.timer_clock {
	font-family: Arial, Helvetica, sans-serif;
	font-size:26px;
	color:#b50015;
	font-weight:bold;
}

.cal_convertMoney_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#536765;
}
.full_rank_body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	text-align:left;
}

.full_rank_lable{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#566764;
	text-align:center;
}

.full_rank_lable_red{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#990020;
	text-align:center;
}

.width_200{
	width:200px;
}

/****************** new in etrader *************/
.new_in_et_body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4b5c59;
	line-height:18px;
}
.new_in_et_header {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	font-weight:bold;
	color:#4b5c59;
}
.new_in_et_headline {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4b5c59;
	font-weight:bold;
}
.new_in_et_profitline {
	font-family:"Times New Roman", Times, serif;
	font-size:26px;
	color:#990000;
	font-weight:bold;
}
.new_in_et_date {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4b5c59;
	font-weight:bold;
}
/****************** end new in etrader **********/

.selectBox {
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	text-align: right;
	width: 107px;
}

.receipt_txt {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4b5c59;
}

.receipt_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style:solid;
	border-color: #4b5c59;
	border-collapse: collapse;
	background-color: white;
}

banner_1t {
	font-family:Arial, Helvetica, sans-serif;
	color:#4b5c59;
	text-align:center;
}
.txt_1t {
	font-size:10px;
	line-height:13px;
	text-align:center;
}
.txt17_1t {
	font-size:17px;
	text-align:center;
	font-weight:bold;
}
.txt11_1t {
	font-size:11px;
	text-align:center;
	font-weight:bold;
}
.border_1t {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: outset outset outset outset;
	border-color: #4b5c59;
	border-collapse: collapse;
	background-color: white;
}
.link_0_100{
	color: #4B5C59;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}
.link_0_100:hover{
	color: #990020;
	text-decoration: underline;
}

/*0-100 history*/
.b0100_history_arrow{background:url('../images/blue_arrow.png') no-repeat;display:inline-block;width:8px;height:16px;position:relative;margin:0 5px;cursor:pointer;}
.b0100_history_arrow:hover{background-position:0 -16px;z-index:2;}
.b0100_history_arrow_info{position:absolute;background:#f5fbff;color:#093755;font-size:10px;border:solid 1px #093755;padding:0 10px;bottom:-27px;left:0;display:none;white-space:nowrap;
	-moz-box-shadow: 0px 0px 6px 2px #e5e5e5;-webkit-box-shadow: 0px 0px 6px 2px #e5e5e5;box-shadow: 0px 0px 6px 2px #e5e5e5;
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
}
.b0100_history_arrow:hover .b0100_history_arrow_info{display:block;}
.b0100_history_arrow:hover .b0100_history_arrow_info:hover{display:none;}
/*0-100 history END*/
/***************0100 legend****************/
.legend_container{ float: right; border-top: solid 1px #d6d6d6; padding: 13px 0 13px 0; width: 533px; margin: 0; }
.legend_container a{ color: #0d6b91; text-decoration: none; font-size: 11px; }
.legend_container a:hover{ color: #ae0611; text-decoration: none; }
.legend_container .legend_img{ float: right; padding: 3px 0 0 10px; }
.legend_container .legend_eventtext{ float: right; color: #566764; padding-left: 20px; } 
/***************end of 0100 legend****************/
.fL{float:left;}