<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>
<div class="hp_assets_table">
	<h:panelGroup rendered="#{(applicationData.skinId != 13) and (applicationData.skinId != 14)}">
		<!--Indices-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/assetsTableGroup.xhtml">
			<ui:param name="groupName" value="#{msgs['rightnav.indexes']}" />
			<ui:param name="groupNameSubscribe" value="Indices" />
			<ui:param name="groupTitle" value="true" />
		</ui:include>
		<!--Commodities-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/assetsTableGroup.xhtml">
			<ui:param name="groupName" value="#{msgs['rightnav.commodities']}" />
			<ui:param name="groupNameSubscribe" value="Commodities" />
			<ui:param name="groupTitle" value="false" />
		</ui:include>
		<!-- Currencies (Forex)-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/assetsTableGroup.xhtml">
			<ui:param name="groupName" value="#{msgs['rightnav.currencies']}" />
			<ui:param name="groupNameSubscribe" value="Currencies" />
			<ui:param name="groupTitle" value="false" />
		</ui:include>				
		<!--Stocks-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/assetsTableGroup.xhtml">
			<ui:param name="groupName" value="#{msgs['rightnav.stocks']}"/>
			<ui:param name="groupNameSubscribe" value="Stocks" />					
			<ui:param name="groupTitle" value="false" />
		</ui:include>
	</h:panelGroup>
	<h:panelGroup rendered="#{(applicationData.skinId == 13) || (applicationData.skinId == 14)}">
		<!--Stocks-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/assetsTableGroup.xhtml">
			<ui:param name="groupName" value="#{msgs['rightnav.stocks']}" />
			<ui:param name="groupNameSubscribe" value="Stocks" />					
			<ui:param name="groupTitle" value="true" />
		</ui:include>
	</h:panelGroup>		
</div>

<ui:insert name="off_hours_banner" />

<div id="template_10min" style="display:none;" class="table_line_nd exptime_nd">
	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/icon_ClockExp.gif"/>
	<span class="text_red_12_bold">&#160;</span>
</div>
<span style="display: none;" id="russionChar"> &#1074; </span>
</f:view>

