<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">
<!-- This file isn't used -->
<h:panelGroup rendered="#{applicationData.skinId != 15 and applicationData.skinId != 17}">
	<div class="footer_menu footer_menu_ntp">
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/strategy.jsf')}">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.binary.option.strategy']}"/>
			</a> |
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index_options.jsf')}">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.index.trading']}"/>
			</a> |
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/currency_options.jsf')}">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.forex.trading']}"/>
			</a> |
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/commodity_options.jsf')}">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.trade.commodities']}"/>
			</a> |
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/stock_options.jsf')}">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.stock.options']}"/>
			</a> |
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}">
				<h:outputText escape="false" value="#{msgs['CMS.footer.label.rightnav.binary.options.brokers']}"/>
			</a>
	</div>
</h:panelGroup>
<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
	<div class="footer_menu_mobile_banners">
		<a href="https://itunes.apple.com/il/app/anyoption/id403987356" class="" target="_blank">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/App-Store.png" />
		</a>
		<a href="https://play.google.com/store/apps/details?id=com.anyoption.android.app&amp;hl=en" class="" target="_blank">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/Google-play.png" />
		</a>
	</div>
</h:panelGroup>
<div class="footer_texts_hp">
	<p><b class="title-small"><h:outputText rendered="#{applicationData.skinId != 3 and applicationData.skinId != 10}" value="#{msgs['CMS.footer_menu_hp.text.title']}" escape="false" /></b></p>
	<p>
		<h:outputFormat value="#{msgs['CMS.footer_menu_hp.text.text1']}" escape="false">
			<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"/>
		</h:outputFormat>
	</p>
</div>
</f:view>