<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
	<script>
	    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
	    var ajax = new AJAXInteraction(url, offsetCallback);
	    ajax.doGet();
		/*
		  Reload ticker after setting utcOffset in Session
		  This is done because ticker page up before the Ajax call(return to server side)
		*/
		function offsetCallback(responseXML) {;}
	</script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId != 1 and (!empty facesContext.externalContext.remoteUser || applicationData.realCountryId != 97)}">
	<script src="#{facesContext.externalContext.requestContextPath}/js/le-mtagconfig.js?version=cvsTimeStamp" type="text/Javascript"></script>
</h:panelGroup>
<h:panelGroup rendered="#{false and (!empty facesContext.externalContext.remoteUser || applicationData.realCountryId != 97)}"><!-- this is the old liveperson code -->
	<script>
		var liveChatImg = "chat-";
		<h:panelGroup rendered="#{applicationData.newTemplateDesign == 'true'}">
			liveChatImg = "chat-right-";
		</h:panelGroup>

		if (typeof(lpUnit)=='undefined') {
			var lpUnit='#{applicationData.userLocale.displayLanguage}';
		}
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/mtagconfig.js?version=cvsTimeStamp" type="text/Javascript"></script>

	<!-- Begin LP Custom Variables-->
	<script type="text/javascript">
	// Variables submission using lpAddVars
		lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Campaign','#{applicationData.campaignName}');
		lpAddVars('session','SkinId','#{applicationData.skinId}');
		<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
			lpAddVars('session','survey_pre-chat_enable','on');
		</h:panelGroup>
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
			lpAddVars('session','identifier','#{user.firstName}');
			lpAddVars('session','UserName','#{user.userName}');
			lpAddVars('session','survey_pre-chat_enable','off');
		</h:panelGroup>
	</script>
</h:panelGroup>
<div class="header_strip_clock_box" ng-controller="skinSelectorController">
	<!-- clock -->
	<span id="header_clock" class="header_clock"></span>
	<script>startClock()</script>
	<!-- skin selector -->
	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser and !request.requestURI.endsWith('register.jsf') and !request.requestURI.endsWith('registerAfterLanding.jsf') and applicationData.skinId!=22 and applicationData.skinId!=1}"><!-- For authorization page we want to disable skin selection -->
	<ul class="skin_selector_ul" onclick="openElement({'id':'skin_selector_ul_in_h','autoClose':true});" ng-click="getVisibleSkinsWeb()">
		<li class="skin_selector_ul_li">
			<div class="skin_selector_flag skin_flag skin_flag_#{applicationData.userLocale.language}">
				<h:outputText value="#{msgs[applicationData.userLocale.displayLanguage]}" escape="false" />
			</div>
			<div class="skin_selector_ul_in_h" id="skin_selector_ul_in_h">
				<ul class="skin_selector_ul_in">
					<li ng-repeat="skin in skinSelektor">
						<a href="{{skin.prettyURL}}" class="skin_flag skin_flag_{{skin.prefix}}">
							{{getMsgs('ln_' + skin.prefix)}}
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	</h:panelGroup>
</div>
<!-- TODO (check)-->
<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser and user.emailPopUpAlert}">
	<div class="mailbox_alert_div" id="emailAlertDiv">
   		<ui:include src="/jsp/html_elements/emailAlert.xhtml" />
	</div>
	#{user.setEmailPopUpAlert}
	<script>
		setTimeout('openEmailAlert();',1000);
	</script>
</h:panelGroup>

</f:view>