<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<h:panelGroup rendered="#{!request.requestURI.endsWith('register.jsf') and (applicationData.skinId != 1 or (applicationData.skinId == 1 and !request.requestURI.endsWith('register_additional.jsf') and (!(request.requestURI.endsWith('/terms.jsf') and !user.acceptedTerms and !user.isHasDeposits()))))}" >
		<div class="menu_bgr_h">
			<ul class="menu_bgr" id="headerMenu">
				<!-- User logout -->
				<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
					<!-- Register -->
					<li class="#{request.requestURI.endsWith('register.jsf') ? 'current' : ''}">
						<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" 
							title="#{msgs['menuStrip.openaccount.title']}" id="menu_register">
							<span><h:outputText value="#{msgs['menuStrip.openaccount']}" /></span>
						</a>
					</li>
					<!-- Trade page -->
					<li class="#{request.requestURI.endsWith('trade_binary_options.jsf') ? 'current' : ''}" id="noOneTouchLinkDiv">
						<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" 
							title="#{msgs['menuStrip.trade.title']}">
							<span><h:outputText value="#{msgs['rightnav.whatisao']}" /></span>
						</a>
						<ul class="menu_bgr_ul menu_bgr_ul_trading">
							<!-- Binary options -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" title="#{msgs['menuStrip.trade.title']}">
									<h:outputText value="#{msgs['menuStrip.binary.options']}" />
								</a>
							</li>
							<!-- Dynamics -->
							<h:panelGroup rendered="#{(empty facesContext.externalContext.remoteUser and commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true') and applicationData.skinId != 15) ||  (!empty facesContext.externalContext.remoteUser and user.productViewFlags.get('HasDynamics'))}">
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-dynamics.jsf')}">
									<h:outputText value="#{msgs['CMS.trade_menu_strip.label.dynamics']}" />
								</a>
							</li>
							</h:panelGroup>
							<!-- Bubbles -->
							<h:panelGroup rendered="#{commonUtil.getProperty('isHasBubbles.always.flag').equalsIgnoreCase('true')}">
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-bubbles.jsf')}" title="#{msgs['menuStrip.trade.title']}">
										<h:outputText value="#{msgs['CMS.trade_menu_strip.label.bubbles']}" />
									</a>
								</li>
							</h:panelGroup>
							<!-- Option+ -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}">
									<h:outputText value="#{msgs['menuStrip.option.plus']}" />
								</a>
							</li>
							<!-- Binary 0-100 -->
							<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 15 and ((empty facesContext.externalContext.remoteUser and !commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and !user.productViewFlags.get('HasDynamics')))}">
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary0100.jsf')}">
									<h:outputText value="#{msgs['menuStrip.binary0100']}" />
								</a>
							</li>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
							<!-- One Touch -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}">
									<h:outputText value="#{msgs['menuStrip.one.touch']}" />
								</a>
							</li>
							</h:panelGroup>
							<!-- Special -->
							<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/eur_usd_options.jsf')}">
									<h:outputText value="#{msgs['menuStrip.special']}" />
								</a>
							</li>
							</h:panelGroup>
						</ul>
					</li>
					<!-- Banking -->
					<li class="#{request.requestURI.endsWith('banking.jsf') ? 'current' : ''}">
						<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" 
							title="#{msgs['menuStrip.banking.title']}">
							<span><h:outputText value="#{msgs['menuStrip.banking']}" escape="false"/></span>
						</a>
					</li>
					<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 15}">
					<!-- Trading tools -->
						<li class="#{request.requestURI.endsWith('live.jsf') ? 'current' : ''}">
							<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}">
								<span><h:outputText value="#{msgs['menuStrip.trading-tools']}" /></span>
							</a>
							<ul class="menu_bgr_ul">
								<!-- Live -->
								<li>
									<a class="menu_live icon_set_1" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}">
										<h:outputText value="#{msgs['menuStrip.live']}" />
									</a>
								</li>
								<!-- VIP page -->
								<!--li>
									<a href="http://vip.anyoption.com" target="_blank">
										<h:outputText value="#{msgs['menuStrip.VIP']}" />
									</a>
								</li-->
								<!--Tournaments -->
								<!-- <li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/tournaments.jsf')}">
										<h:outputText value="#{msgs['menuStrip.tournaments']}" />
									</a>
								</li> -->
								<!-- Asset index -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}" title="#{msgs['menuStrip.asset.index.title']}">
										<h:outputText value="#{msgs['menuStrip.asset.index']}" />
									</a>
								</li>
							</ul>
						</li>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 13 || applicationData.skinId == 14}">
						<!-- Demo -->
						<li class="#{request.requestURI.endsWith('trading_box_manual.jsf') ? 'current' : ''}">
							<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" 
								title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
								<span><h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" /></span>
							</a>
							<ul class="menu_bgr_ul">
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}">
										<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
									</a>
								</li>
								<!--Tournaments -->
								<!--<h:panelGroup rendered="#{applicationData.skinId != 1}" >
									<li>
										<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/tournaments.jsf')}">
											<h:outputText value="#{msgs['menuStrip.tournaments']}" />
										</a>
									</li>
								</h:panelGroup>-->
							</ul>
						</li>
					</h:panelGroup>
					<!-- Education -->
					<h:panelGroup rendered="#{applicationData.skinId != 17}">
						<li class="#{request.requestURI.endsWith('trading-academy.jsf') ? 'current' : ''}">
							<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}">
								<span><h:outputText value="#{msgs['menuStrip.education']}"/></span>
							</a>
							<ul class="menu_bgr_ul menu_bgr_ul_academy">
								<!-- Academy Video -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}">
										<h:outputText value="#{msgs['menuStrip.academy.videos']}" />
									</a>
								</li>
								<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14}" >
								<!-- Demo -->
									<li>
										<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}" >
											<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
										</a>
									</li>
								</h:panelGroup>
								<!--About Binary options -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options.jsf')}">
										<h:outputText value="#{msgs['menuStrip.binary_options']}" />
									</a>
								</li>
								<!-- Features -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/newFeatures.jsf')}" title="#{msgs['menuStrip.past.expiries.title']}" >
										<h:outputText value="#{msgs['menu.strip.features']}" />
									</a>
								</li>
							</ul>
						</li>
					</h:panelGroup>
					<!-- About us -->
					<li class="#{request.requestURI.endsWith('aboutus.jsf') ? 'current' : ''}">
						<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}">
							<span><h:outputText value="#{msgs['rightnav.aboutus']}" escape="false"/></span>
						</a>
						<ul class="menu_bgr_ul">
							<!-- Our Company -->
						    <li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}" >
									<h:outputText value="#{msgs['rightnav.our.company']}" />
								</a>
							</li>
							<!-- FAQ -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" >
									<h:outputText value="#{msgs['menuStrip.faq']}" />
								</a>
							</li>
							<!-- Contact Us -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" >
									<h:outputText value="#{msgs['rightnav.contact']}" />
								</a>
							</li>
							<h:panelGroup rendered="#{applicationData.skinId !=17 and applicationData.skinId !=15}" >
							<!--Mobile-->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" title="#{msgs['mobile.menu.strip.title']}">
										<h:outputText value="#{msgs['menuStrip.mobile']}" />
									</a>
								</li>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId !=17 and applicationData.skinId !=15 and applicationData.skinId !=10}">
							<!-- Islamic trading -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/islamic-trading-page.jsf')}" title="#{msgs['menu.strip.islamic.trading']}" >
										<h:outputText value="#{msgs['menu.strip.islamic.trading']}" />
									</a>
								</li>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId ==17}" >
							<!-- Demo -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}" >
										<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
									</a>
								</li>
							<!-- Binary option trading -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/how-to-trade-binary-options.jsf')}" title="#{msgs['menuStrip.binary.option.trading.title']}" >
										<h:outputText value="#{msgs['menuStrip.binary.option.trading']}" />
									</a>
								</li>
							</h:panelGroup>
						</ul>
					</li>
					<h:panelGroup rendered="#{applicationData.skinId == 1 or applicationData.skinId == 2 or applicationData.skinId == 16 or applicationData.skinId == 8 or applicationData.skinId == 19 or applicationData.skinId == 9 or applicationData.skinId == 20 or applicationData.skinId == 5 or applicationData.skinId == 14 or applicationData.skinId == 18 or applicationData.skinId == 10 or applicationData.skinId == 12 or applicationData.skinId == 21}">
					<!-- Blog -->
						<li>
							<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}/blog" 
								onclick="if(this.href.substr(0, 8) == 'https://'){this.href = 'http://' + this.href.substr(8)};" target="_blank">
								<span><h:outputText value="#{msgs['menuStrip.blog']}" /></span>
							</a>
						</li>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 17}">
					<!-- Mobile -->
						<li class="#{request.requestURI.endsWith('appPage.jsf') ? 'current' : ''}">
							<a class="#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" title="#{msgs['mobile.menu.strip.title']}">
								<span><h:outputText value="#{msgs['menuStrip.mobile']}" /></span>
							</a>
						</li>
					</h:panelGroup>
				</h:panelGroup>
				<!-- User login -->
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
					<!-- index -->
					<li class="#{request.requestURI.endsWith('index.jsf') ? 'current' : ''}">
						<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" >
							<span><h:outputText value="#{msgs['menuStrip.home']}" /></span>
						</a>
					</li>
					<!-- Trading -->
					<li class="#{request.requestURI.endsWith('trade_binary_options.jsf') ? 'current' : ''}">
						<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, applicationData.getLoginProduct())}" 
							title="#{msgs['menuStrip.trade.title']}" >
							<span><h:outputText value="#{msgs['rightnav.whatisao']}" /></span>
						</a>
						<ul class="menu_bgr_ul menu_bgr_ul_trading">
							<!-- Binary options -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" title="#{msgs['menuStrip.trade.title']}">
									<h:outputText value="#{msgs['menuStrip.binary.options']}" />
								</a>
							</li>
							<!-- Dynamics -->
							<h:panelGroup rendered="#{(empty facesContext.externalContext.remoteUser and commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and user.productViewFlags.get('HasDynamics'))}">
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-dynamics.jsf')}">
									<h:outputText value="#{msgs['CMS.trade_menu_strip.label.dynamics']}" />
								</a>
							</li>
							</h:panelGroup>
							<!-- Bubbles -->
							<h:panelGroup rendered="#{commonUtil.getProperty('isHasBubbles.always.flag').equalsIgnoreCase('true')}">
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-bubbles.jsf')}" title="#{msgs['menuStrip.trade.title']}">
										<h:outputText value="#{msgs['CMS.trade_menu_strip.label.bubbles']}" />
									</a>
								</li>
							</h:panelGroup>
							<!-- Option+ -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}">
									<h:outputText value="#{msgs['menuStrip.option.plus']}" />
								</a>
							</li>
							<!-- Binary 0-100 -->
							<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 15 and ((empty facesContext.externalContext.remoteUser and !commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and !user.productViewFlags.get('HasDynamics')))}">
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary0100.jsf')}">
									<h:outputText value="#{msgs['menuStrip.binary0100']}" />
								</a>
							</li>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
							<!-- One Touch -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}">
									<h:outputText value="#{msgs['menuStrip.one.touch']}" />
								</a>
							</li>
							</h:panelGroup>
							<!-- Special -->
							<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/eur_usd_options.jsf')}">
									<h:outputText value="#{msgs['menuStrip.special']}" />
								</a>
							</li>
							</h:panelGroup>
						</ul>
					</li>
					<!-- Banking -->
					<li class="#{request.requestURI.endsWith('banking.jsf') ? 'current' : ''}">
						<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" 
							title="#{msgs['menuStrip.banking.title']}" >
							<span><h:outputText value="#{msgs['menuStrip.banking']}" escape="false"/></span>
						</a>
					</li>
					<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 15}">
					<!-- Trading tools -->
						<li class="#{(request.requestURI.endsWith('live.jsf')) ? 'current' : ''}">
							<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}">
								<span><h:outputText value="#{msgs['menuStrip.trading-tools']}" /></span>
							</a>
							<ul class="menu_bgr_ul">
								<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser and (applicationData.userLocale.language == 'fr' or applicationData.userLocale.language == 'en' or applicationData.userLocale.language == 'de' or applicationData.userLocale.language == 'es' or applicationData.userLocale.language == 'it' or applicationData.userLocale.language == 'nl' or applicationData.userLocale.language == 'tr' or applicationData.userLocale.language == 'sv' or applicationData.userLocale.language == 'cs' or applicationData.userLocale.language == 'pl' or applicationData.userLocale.language == 'pt')}">
								<!-- Live signals -->
									<li>
											<a href="http://#{user.getTCToken()}" title="#{msgs['technical-analysis']}" target="_blank" onclick="return openTechnicalAnalysis(this, '#{prettyContext.getCurrentInstance().getRequestURL().toURL()}');">
											<h:outputText value="#{msgs['technical-analysis']}" />
										</a>
									</li>
								</h:panelGroup>
								<li>
								<!-- Live -->
									<a class="menu_live icon_set_1" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}">
										<h:outputText value="#{msgs['menuStrip.live']}" />
									</a>
								</li>
								<!-- VIP page -->
								<!--li>
									<a href="http://vip.anyoption.com" target="_blank">
										<h:outputText value="#{msgs['menuStrip.VIP']}" />
									</a>
								</li-->
								<!--Tournaments -->
								<!-- <li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/tournaments.jsf')}">
										<h:outputText value="#{msgs['menuStrip.tournaments']}" />
									</a>
								</li> -->
								<!-- Asset index -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}" title="#{msgs['menuStrip.asset.index.title']}">
										<h:outputText value="#{msgs['menuStrip.asset.index']}" />
									</a>
								</li>
								<!-- Past expiries -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}" title="#{msgs['menuStrip.past.expiries.title']}">
										<h:outputText value="#{msgs['menuStrip.past.expiries']}" />
									</a>
								</li>
								<!-- Economic calendar -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/economic-calendar.jsf')}">
										<h:outputText value="#{msgs['menuStrip.economic-calendar']}" />
									</a>
								</li>
							</ul>
						</li>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 13 || applicationData.skinId == 14}">
						<!-- Demo -->
						<li class="#{request.requestURI.endsWith('trading_box_manual.jsf') ? 'current' : ''}">
							<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
								<span><h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" /></span>
							</a>
							<ul class="menu_bgr_ul">
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}">
										<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
									</a>
								</li>
								<!--Tournaments -->
								<!--<h:panelGroup rendered="#{applicationData.skinId != 1}" >
									<li>
										<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/tournaments.jsf')}">
											<h:outputText value="#{msgs['menuStrip.tournaments']}" />
										</a>
									</li>
								</h:panelGroup>-->
							</ul>
						</li>
					</h:panelGroup>
					<!-- Educaion -->
					<h:panelGroup rendered="#{applicationData.skinId != 17}">
						<li class="#{request.requestURI.endsWith('trading-academy.jsf') ? 'current' : ''}">
							<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}">
								<span><h:outputText value="#{msgs['menuStrip.education']}"/></span>
							</a>
							<ul class="menu_bgr_ul menu_bgr_ul_academy">
								<!-- Academy Video -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}">
										<h:outputText value="#{msgs['menuStrip.academy.videos']}" />
									</a>
								</li>
								<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14}" >
								<!-- Demo -->
									<li>
										<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}" >
											<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
										</a>
									</li>
								</h:panelGroup>
								<!--About Binary options -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/binary-options.jsf')}">
										<h:outputText value="#{msgs['menuStrip.binary_options']}" />
									</a>
								</li>
								<!-- Features -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/newFeatures.jsf')}" title="#{msgs['menuStrip.past.expiries.title']}" >
										<h:outputText value="#{msgs['menu.strip.features']}" />
									</a>
								</li>
							</ul>
						</li>
					</h:panelGroup>
					<!-- About us -->
					<li class="#{request.requestURI.endsWith('aboutus.jsf') ? 'current' : ''}">
						<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}">
							<span><h:outputText value="#{msgs['rightnav.aboutus']}" escape="false"/></span>
						</a>
						<ul class="menu_bgr_ul">
							<!-- Our Company -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/aboutus.jsf')}" >
									<h:outputText value="#{msgs['rightnav.our.company']}" />
								</a>
							</li>
							<!-- FAQ -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" >
									<h:outputText value="#{msgs['menuStrip.faq']}" />
								</a>
							</li>
							<!-- Contact Us -->
							<li>
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/contactus.jsf')}" >
									<h:outputText value="#{msgs['rightnav.contact']}" />
								</a>
							</li>
							<h:panelGroup rendered="#{applicationData.skinId !=17 and applicationData.skinId !=15}" >
							<!--Mobile-->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" title="#{msgs['mobile.menu.strip.title']}">
										<h:outputText value="#{msgs['menuStrip.mobile']}" />
									</a>
								</li>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId !=17 and applicationData.skinId !=15 and applicationData.skinId !=10}">
							<!-- Islamic trading -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/islamic-trading-page.jsf')}" title="#{msgs['menu.strip.islamic.trading']}" >
										<h:outputText value="#{msgs['menu.strip.islamic.trading']}" />
									</a>
								</li>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId ==17}" >
							<!-- Demo -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}" >
										<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
									</a>
								</li>
							<!-- Binary option trading -->
								<li>
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/how-to-trade-binary-options.jsf')}" title="#{msgs['menuStrip.binary.option.trading.title']}" >
										<h:outputText value="#{msgs['menuStrip.binary.option.trading']}" />
									</a>
								</li>
							</h:panelGroup>
						</ul>
					</li>
					<h:panelGroup rendered="#{applicationData.skinId == 1 or applicationData.skinId == 2 or applicationData.skinId == 16 or applicationData.skinId == 8 or applicationData.skinId == 19 or applicationData.skinId == 9 or applicationData.skinId == 20 or applicationData.skinId == 5 or applicationData.skinId == 14 or applicationData.skinId == 18 or applicationData.skinId == 10 or applicationData.skinId == 12 or applicationData.skinId == 21}">
						<!-- Blog -->
						<li>
							<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}/blog" 
							onclick="if(this.href.substr(0, 8) == 'https://'){this.href = 'http://' + this.href.substr(8)};" target="_blank">
								<span><h:outputText value="#{msgs['menuStrip.blog']}" /></span>
							</a>
						</li>
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId == 17}">
						<li class="#{request.requestURI.endsWith('appPage.jsf') ? 'current' : ''}">
						<!-- Mobile -->
							<a class="link-login_#{applicationData.userLocale.language}" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" title="#{msgs['mobile.menu.strip.title']}">
								<span><h:outputText value="#{msgs['menuStrip.mobile']}" /></span>
							</a>
						</li>
					</h:panelGroup>
				</h:panelGroup>
			</ul>
		</div>
	</h:panelGroup>
</f:view>