<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
  	
<div class="fL">
	<div class="slider_h">
		<ul class="slider_ul" id="slider1">
			<!--<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
				<li class="slider_li" data-li="t" data-from="1465333200000" data-to="1498856400000">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/unicef-responsibility-page.jsf')}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/temp/slide_unicef_#{applicationData.userLocale.language}.jpg"/>
					</a>
				</li>
			</h:panelGroup>-->
			<!--<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<li class="slider_li" data-li="t">
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-bubbles.jsf')}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/temp/slide_bubbles_#{applicationData.userLocale.language}.jpg"/>
					</a>
				</li>
			</h:panelGroup>-->
			<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15 and applicationData.skinId != 17}">
				<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser and user.isHasDeposits()}">
					<li class="slider_li" data-li='t'>
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-5_#{applicationData.userLocale.language}.jpg" />
						<div class="slider_info_box">
							<span class="slider_h1 t5" data-el="t"></span>
							<div class="slider_t4 slider_t5_#{applicationData.userLocale.language} slider_z_5" data-el="t">
								<span class="sub-title">
									<h:outputText value="#{msgs['home.page.slide.5.1']}" escape="false"/>
								</span>

								<ul class="slider_t_ul">
									<li><h:outputText value="#{msgs['home.page.slide.5.2']}" escape="false"/> </li>
									<li><h:outputText value="#{msgs['home.page.slide.5.3']}" escape="false"/></li>
									<li><h:outputText value="#{msgs['home.page.slide.5.4']}" escape="false"/></li>
								</ul>
							</div>						
							<a href="https://www.copyop.com/#{applicationData.userLocale.language}/" class="but_trade_now_but but_trade_now slider_a dB ml0 slider_5_but" data-el="t" target="_blank">
								<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}" target="_blank">
									<h:outputText value="#{msgs['home.page.slide.5.5']}" escape="false"/>
								</span></span>
							</a>
							<span class="clear slider_t5_footer"><h:outputText value="#{msgs['home.page.slide.5.6']}" escape="false"/></span>
						</div>
					</li>
				</h:panelGroup>
			</h:panelGroup>
			<h:panelGroup rendered="#{false}">
				<li class="slider_li" data-li='t'>
					<h:panelGroup rendered="#{applicationData.skinId == 1}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-1.png" />
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId != 1}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-1.jpg" />
					</h:panelGroup>
					<div class="slider_info_box">
						<span class="slider_h1 t1_#{applicationData.userLocale.language}" data-el="t"></span>
						<div class="slider_t slider_z" data-el="t">
							<h:outputText value="#{msgs['home.page.slide.1']}" escape="false"/>
						</div>
						<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB" data-el="t">
									<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
								</a>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId == 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
							<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
								<h:panelGroup rendered="#{applicationData.skinId != 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB"  data-el="t">
										<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
									</a>
								</h:panelGroup>
								<h:panelGroup rendered="#{applicationData.skinId == 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
								<h:panelGroup rendered="#{applicationData.skinId != 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB"  data-el="t">
										<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
									</a>
								</h:panelGroup>
								<h:panelGroup rendered="#{applicationData.skinId == 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
								</h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
					</div>
				</li>
				<li class="slider_li" data-li='t'>
					<h:panelGroup rendered="#{applicationData.skinId == 1}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-2.png" />
					</h:panelGroup>
					<h:panelGroup rendered="#{applicationData.skinId != 1}">
						<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-2.jpg" />
					</h:panelGroup>
					<div class="slider_info_box">
						<span class="slider_h1 #{commonUtil.skinRegulated ? 't2_reg_'.concat(applicationData.userLocale.language) : 't2_'.concat(applicationData.userLocale.language)}" data-el="t"></span>
						<div class="slider_t" data-el="t">
							<ul class="slider_t_ul">
								<li><h:outputText value="#{msgs['home.page.slide.2.1']}" escape="false"/> </li>
								<li><h:outputText value="#{msgs['home.page.slide.2.2']}" escape="false"/></li>
								<li><h:outputText value="#{msgs['home.page.slide.2.3']}" escape="false"/></li>
								<li><h:outputText value="#{msgs['home.page.slide.2.4']}" escape="false"/> </li>
							</ul>
						</div>
						<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB"  data-el="t">
									<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
								</a>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId == 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
							<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
								<h:panelGroup rendered="#{applicationData.skinId != 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB" data-el="t">
										<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
									</a>
								</h:panelGroup>
								<h:panelGroup rendered="#{applicationData.skinId == 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
								</h:panelGroup>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
								<h:panelGroup rendered="#{applicationData.skinId != 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB"  data-el="t">
										<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
									</a>
								</h:panelGroup>
								<h:panelGroup rendered="#{applicationData.skinId == 1}">
									<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
								</h:panelGroup>
							</h:panelGroup>
						</h:panelGroup>
					</div>
				</li>
			</h:panelGroup>
			<li class="slider_li" data-li='t'>
				<h:panelGroup rendered="#{applicationData.skinId == 1}">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-3.png" />
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.pageDirection == 'rtl' ? 'rtl/' : ''}hp_slider/slide-3.jpg" />
				</h:panelGroup>
				<div class="slider_info_box">
					<span class="slider_h1 t3_#{applicationData.userLocale.language}" data-el="t"></span>
					<div class="slider_t" data-el="t">
						<ul class="slider_t_ul2">
							<li><h:outputText value="#{msgs['home.page.slide.3.1']}" escape="false"/></li>
							<li><h:outputText value="#{msgs['home.page.slide.3.2']}" escape="false"/> </li>
							<li><h:outputText value="#{msgs['home.page.slide.3.3']}" escape="false"/> </li>
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
								<li><h:outputText value="#{msgs['home.page.slide.3.4']}" escape="false"/> </li>
							</h:panelGroup>
						</ul>
					</div>
					<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
						<h:panelGroup rendered="#{applicationData.skinId != 1}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB" data-el="t">
								<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
							</a>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.skinId == 1}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
						</h:panelGroup>
					</h:panelGroup>
					<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
						<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}">
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB" data-el="t">
									<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
								</a>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId == 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
							</h:panelGroup>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
							<h:panelGroup rendered="#{applicationData.skinId != 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now slider_a dB"  data-el="t">
									<span class="rs but_trade_now"><span class="cs but_trade_now but_trade_now_#{applicationData.userLocale.language}">#{msgs['CMS.button.trade_now']}</span></span>
								</a>
							</h:panelGroup>
							<h:panelGroup rendered="#{applicationData.skinId == 1}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="slider_a"  data-el="t"><h:outputText value="#{msgs['CMS.home_slider.text.link1']}" escape="false"/></a>
							</h:panelGroup>
						</h:panelGroup>
					</h:panelGroup>
				</div>
			</li>
			<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15 and applicationData.skinId != 17}">
				<li class="slider_li" data-li='t'>
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-4_#{applicationData.userLocale.language}.jpg" />
					<div class="slider_info_box">
						<span class="slider_h1 t4_#{applicationData.userLocale.language}" data-el="t"></span>
						<div class="slider_t4 slider_t4_#{applicationData.userLocale.language} slider_z" data-el="t">
							<h:outputText value="#{msgs['home.page.slide.4.1']}" escape="false"/>
							<br/>
							<h:outputText value="#{msgs['home.page.slide.4.2']}" escape="false"/>
						</div>						
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" class="#{applicationData.pageDirection == 'rtl' ? 'ml5' : 'mr5'} slider_a4 dB" data-el="t">
							<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slideBttn_AppStore.gif" alt="#{msgs['CMS.HP.alt.HP_mobile_banner.png']}"/>
						</a>
						<a href="#{applicationData.getAppUrlWithParameters('http://www.anyoption.com/appsflyerandroid')}" target="_blank" class="slider_a4 dB" data-el="t">
							<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slideBttn_GooglePlay.gif" alt="#{msgs['CMS.HP.alt.HP_mobile_banner.png']}"/>
						</a>
					</div>
				</li>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId == 1}">
				<li class="slider_li" data-li='t'>
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slide-4.png" />
					<div class="slider_info_box slider_info_box4">
						<span class="slider_h1 t4_#{applicationData.userLocale.language}" data-el="t"></span>
						<div class="slider_t slider_t4 slider_z" data-el="t">
							<h:outputText value="#{msgs['home.page.slide.4.1']}" escape="false"/>
						</div>
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" class="slider_a slider_a4 dB" data-el="t">
							<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slideBttn_GooglePlay.png" alt="#{msgs['CMS.HP.alt.HP_mobile_banner.png']}"/>
						</a>
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" class="ml10 slider_a slider_a4 dB" data-el="t">
							<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/hp_slider/slideBttn_AppStore.png" alt="#{msgs['CMS.HP.alt.HP_mobile_banner.png']}"/>
						</a>
					</div>
				</li>
			</h:panelGroup>
		</ul>
		<ul class="sliderNav" id="slider1_nav">
			<!--<h:panelGroup rendered="#{applicationData.skinId != 1 and applicationData.skinId != 15}">
				<li></li>
			</h:panelGroup>-->
			<!--<li></li>-->
			<h:panelGroup rendered="#{false}">
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
					<li></li>
				</h:panelGroup>
				<li></li>
			</h:panelGroup>
			<li></li>
			<h:panelGroup rendered="#{applicationData.skinId != 15 and applicationData.skinId != 17}">
				<h:panelGroup rendered="#{(!empty facesContext.externalContext.remoteUser and user.isHasDeposits()) || applicationData.skinId == 1 }">
					<li></li>
				</h:panelGroup>
				<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<li></li>
				</h:panelGroup>
			</h:panelGroup>
		</ul>
		<span class="slider_left cP p1" id="slider1_left"></span>
		<span class="slider_right cP p1" id="slider1_right"></span>
		<script>
		 $("#slider1 li").each(function(index, el){
			var d = (new Date()).getTime();
			var from = 0;
			var to = Number.MAX_VALUE;
			if($(el).data("from") != ""){
				from = $(el).data("from");
			}
			if($(el).data("to") != ""){
				to = $(el).data("to");
			}
			if(d &lt; from || d &gt; to){
				el.parentNode.removeChild(el);
				var updateClass = false;
				$("#slider1_nav li").each(function(indexNav, elNav){
					if(indexNav == index){
						if($(elNav).hasClass("hov")){
							updateClass = true;
						}
						elNav.parentNode.removeChild(elNav);
					}else if(indexNav == (index + 1)){
						if(updateClass &amp;&amp; !$(elNav).hasClass("hov")){
							elNav.className += " hov";
						}
					}
				});
			}
		 });
		</script>
		<script>
			var homePageSlides = [];
			<c:forEach items="${commonUtil.getBanner('homepage_main')}" var="SelectorAll">
				<c:forEach items="${SelectorAll.bannerSliderImages}" var="bannerSliderImage">
					<c:if test="${bannerSliderImage.languageId == applicationData.getSkinById(applicationData.skinId).getDefaultLanguageId()}">
						homePageSlides.push({'imageName':'#{bannerSliderImage.imageName}','imageUrl':'#{bannerSliderImage.imageUrl}','linkTypeId':'#{SelectorAll.linkTypeId}','position':'#{SelectorAll.position}'});
					</c:if>
				</c:forEach>
			</c:forEach>
			addSlidesToSlider('slider1', homePageSlides);
		</script>
		<script>slider1('slider1',#{applicationData.skinId==1?true:false})</script>
	</div>
	<span class="slider_footer"></span>
</div>

</f:view>       	 
