<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}">

	<div id="markets_table" style="height:237px;">
		<ui:include src="/jsp/html_elements/how_to_banner_oneClick.xhtml"/>
		<!-- unstable -->
		<div id="ls_unstable" style="display:none">
			<!-- unstable_pic come from script dont delete this line-->
		</div>
		<!-- trade box -->
		<div class="trade_box_main fR pR">
			<script>
				var chartHistory = #{tradingPageBean.chartDataMarket};
			</script>
			<ui:include src="/jsp/html_elements/tradingBoxTemplate.xhtml" >
				<ui:param name="boxId" value="0" />
				<ui:param name="boxType" value="1" />
				<ui:param name="designType" value="1" />
			</ui:include>
			<script>
				connectToLS_global({'group_tradeBox':[#{tradingPageBean.homePageMarket}], 'group_shoppingBag':["shoppingbag_#{user.userName}_#{user.id}"]});
			</script>
			<!--overlay how to-->
			<ui:include src="/jsp/html_elements/oneClick_overlay.xhtml"/>
		</div>
		<!-- end of trade box -->
	</div>
	<!-- off hours -->
	<c:if test="#{!applicationData.isHasOpenOneTouchForUser || applicationData.skinId == 1}">
		<ui:include src="/jsp/html_elements/offHours_tradeBox.xhtml" >
			<ui:param name="className" value="offHours_hp" />
		</ui:include>
	</c:if>
	
	<c:if test="#{applicationData.isHasOpenOneTouchForUser and applicationData.skinId != 1}">
		<ui:include src="/jsp/html_elements/offhours_weekend.xhtml" >
			<ui:param name="page" value="hp" />
		</ui:include>
	</c:if>
</f:view>