<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}">

<div>
	<ul class="trade_page_tabs_main">
		<li class="trade_page_tabs_h trade_page_tabs_binary_opt_h active" onclick="show_tab(this,'tabContent');" id="tab0">
			<a class="trade_page_tabs ls trade_page_tabs_binary_opt"  onclick="return false;">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs binary_opt_tabs_#{applicationData.userLocale.language}">#{msgs['expire.level.binary.options']}</span></span>
			</a>
		</li>
		<h:panelGroup rendered="#{(empty facesContext.externalContext.remoteUser and commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true') and applicationData.skinId != 15) ||  (!empty facesContext.externalContext.remoteUser and user.productViewFlags.get('HasDynamics'))}">
			<li class="trade_page_tabs_h trade_page_tabs_binary0100_h" onclick="show_tab(this,'tabContent');" id="tab2">
				<a class="trade_page_tabs ls trade_page_tabs_binary0100"  onclick="return false;">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.trade_menu_strip.label.dynamics']}</span></span>
				</a>
			</li>
		</h:panelGroup>
		<li class="trade_page_tabs_h trade_page_tabs_option_plus_h" onclick="show_tab(this,'tabContent');" id="tab1">
			<a class="trade_page_tabs ls trade_page_tabs_option_plus"  onclick="return false;">
				<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['home.page.tab.2']}</span></span>
			</a>
		</li> 
		<h:panelGroup rendered="#{((empty facesContext.externalContext.remoteUser and !commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and !user.productViewFlags.get('HasDynamics'))) and (applicationData.skinId != 13 and applicationData.skinId != 14) and applicationData.skinId != 15}">
			<li class="trade_page_tabs_h trade_page_tabs_binary0100_h" onclick="show_tab(this,'tabContent');" id="tab2">
				<a class="trade_page_tabs ls trade_page_tabs_binary0100"  onclick="return false;">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs binary0100_tabs_#{applicationData.userLocale.language}">#{msgs['home.page.tab.4']}</span></span>
				</a>
			</li>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId != 15}">
			<li class="trade_page_tabs_h trade_page_tabs_special_h">
				<a class="trade_page_tabs ls trade_page_tabs_special"
					href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/bitcoin-options.jsf')}">
					<span class="trade_page_tabs rs"><span class="trade_page_tabs cs">#{msgs['CMS.bitcoin-options.text.bitcoin.header']}</span></span>
				</a>
			</li>
		</h:panelGroup>
	</ul>

	<!-- Binary options -->
	<ul id="tabContent" class="tabContent">
		<!-- Trade Box -->
		<li class="tabContent_li hov" id="content_tab0">
			<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/multiOptionExplanation_trading.xhtml" />
		</li>
		<!-- Option + -->
		<li id="content_tab1" class="tabContent_li">
			<div class="hp_opt_plus_text">
				<img border="0" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/imgTitle_OptionPlus.png" alt="Option Plus" class="hp_opt_plus_text_img"/>
				<p class="hp_opt_plus_text_in">
					<h:outputText value="#{msgs['home.page.option.plus.content']}" escape="false"/><br/>
					<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}">
					   <h:outputText value=" #{msgs['newFeatures.trader.now']}»" escape="false"/>
					</a>
				</p>
			</div>
			<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/optionPlus.jsf')}" class="hp_opt_plus_image">
				<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/img_OptionPlus.png" width="263" height="250"/>
			</a>
		</li>
		<h:panelGroup rendered="#{(empty facesContext.externalContext.remoteUser and !commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and !user.productViewFlags.get('HasDynamics'))}">
			<!-- Binary 0-100 -->
			<li id="content_tab2" class="tabContent_li">
				<div class="hp_opt_plus_text">
					<span class="one_touch_title"><h:outputText value="#{msgs['home.page.tab.4']}" escape="false"/></span>
					<p class="hp_opt_plus_text_in">
						<h:outputText value="#{msgs['home.page.tab.Binary0100.content']}" escape="false"/>
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}">
							<h:outputText value=" #{msgs['newFeatures.trader.now']} »" escape="false"/>
						</a>
					</p>
				</div>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/binary0100.jsf')}" class="hp_opt_plus_image">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/img_0100.png" width="263" height="250"/>
				</a>
			</li>
		</h:panelGroup>
		<h:panelGroup rendered="#{(empty facesContext.externalContext.remoteUser and commonUtil.getProperty('isHasDynamics.always.flag').equalsIgnoreCase('true')) ||  (!empty facesContext.externalContext.remoteUser and user.productViewFlags.get('HasDynamics'))}">
			<!-- Dynamics -->
			<li id="content_tab2" class="tabContent_li">
				<div class="hp_opt_plus_text">
					<i class="dynamics_title"></i>
					<div class="hp_opt_plus_text_in">
						<p class="mb15"><h:outputText value="#{msgs['home.page.tab.Binary0100.content']}" escape="false"/></p>
						<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/trading-dynamics.jsf')}">
							<h:outputText value=" #{msgs['newFeatures.trader.now']} »" escape="false"/>
						</a>
					</div>
				</div>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/trading-dynamics.jsf')}" class="hp_opt_plus_image">
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/img_dymanics.png" width="247" height="312"/>
				</a>
			</li>
		</h:panelGroup>
	</ul>
</div>
</f:view>

