<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

<t:saveState value="#{marketDetails}" />

<script src="#{facesContext.externalContext.requestContextPath}/js/angular/controllers-binaryBank.js?version=cvsTimeStamp"></script>

<div class="clear trade_page_assets_h">
	<h4 class="new_assets_h4"><h:outputText value="#{msgs['CMS.newAssetList.text.assetList.header']}"/></h4>

	<div class="clear" ng-controller="BinaryBankController">
		<ul class="new_assets_ul" ng-repeat="row in binaryBank">
			<li ng-repeat="market in row.markets">
				<span ng-class="{ 'new_assets_title mt10': market.type == 0 }" ng-click="loadMarketInBox(market.id, 0)">{{market.title}}</span>
				<img ng-if="market.newMarket" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/new_icon.png" class="vaM" />
				<span ng-if="market.twentyFourSeven" class="vaM icon_set_1 icon_set_1_24_7"></span>
			</li>
		</ul>
	</div>
	<div class="clear new_assets_footer pt20">
		<h:outputText value="#{msgs['CMS.newAssetList.text.assetList.description']}" escape="false" />
	</div>
</div>
</f:view>