<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	>
	<h:panelGroup rendered="#{applicationData.skinId != 1}">
		<div class="clear pt30">
			<!-- user logged out -->
			<h:panelGroup rendered="#{request.requestURI.endsWith('optionPlus.jsf') and empty facesContext.externalContext.remoteUser}">
				<!-- Trading trends -->
				<div class="fL #{commonUtil.skinRegulated ? 'logoutTrends' : ' trade_page_trends'}" id="trade_page_trends_logout">
					<div id="liveTradingTrends">
						<ui:include src="/jsp/html_elements/liveTradingTrends.xhtml"/>
					</div>
					<div id="liveTradingTrendsOffHoursLogin" style="display:none">
						<ui:include src="/jsp/html_elements/tradingTrendsOffHoursLogoutLogin.xhtml"/>
					</div>
				</div>
				<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
				<!-- Top 5 trades -->
					<div class="fL trade_page_top5" id="trade_page_top5_logout">
						<ui:include src="/jsp/html_elements/liveTopTrades.xhtml"/>
					</div>
				</h:panelGroup>
				<!-- RSS NEWS -->
				<!--Hide for HTTPS reasons
				<iframe id="rssFeedHP" name="rssFeedHP" width="#{commonUtil.skinRegulated ? '455' : '280'}" height="#{commonUtil.skinRegulated ? '270' : '360'}" frameborder="no" scrolling="no" class="#{commonUtil.skinRegulated ? 'rssFeedHP' : 'ml15'}  fL"
					src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/financialNews.jsf?different_page=310">
				</iframe>
				<script>level_elements(new Array('trade_page_trends_logout','#{!commonUtil.skinRegulated?"trade_page_top5_logout":""}','rssFeedHP'))</script>-->
				<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
					<script>level_elements(new Array('trade_page_trends_logout','#{!commonUtil.skinRegulated?"trade_page_top5_logout":""}'))</script>
				</h:panelGroup>
			</h:panelGroup>
			<!-- user logged in -->
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				<c:if test="#{request.requestURI.endsWith('optionPlus.jsf')}">
					<!-- profit line / expire today -->
					<iframe align="left" class="box_Why_nd trade_binary_box" id="right_side_investments" name="right_side_investments" width="300" height="280" frameborder="no" scrolling="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=">
					</iframe>
				</c:if>
				
				<c:if test="#{!request.requestURI.endsWith('optionPlus.jsf')}">
					<ui:include src="/jsp/html_elements/open-positions.xhtml"/>
				</c:if>
				
				<c:if test="#{applicationData.userLocale.language == 'fr' or applicationData.userLocale.language == 'en' or applicationData.userLocale.language == 'de' or applicationData.userLocale.language == 'es' or applicationData.userLocale.language == 'it' or applicationData.userLocale.language == 'nl' or applicationData.userLocale.language == 'tr'}">
					<div style="width:300px;float:left;height:370px;#{!request.requestURI.endsWith('optionPlus.jsf') ? 'margin-top:25px;' : ''}">
						<div id="tradingcentral-widget-container"></div>
						<h:outputText value="&lt;script src='https://widget.tradingcentral.com/hfwidget.ashx?lang=" escape="false"/>#{applicationData.userLocale.language}<h:outputText value="&amp;ver=v&amp;term=any&amp;key=Cw1KLEJEbQib2qKN74SfbsiqZ%2bL%2bpVoIx6YdZ6PBY6Q%3d" escape="false"/>
						<h:outputText value="' async=''>&lt;/script>" escape="false"/>
					</div>
				</c:if>
				
				<h:panelGroup rendered="#{request.requestURI.endsWith('optionPlus.jsf')}">
					<h:panelGroup rendered="#{commonUtil.skinRegulated}">
						<!-- Trading trends -->
						<div class="fL trade_page_trends trends_login_reg" id="trade_page_trends_logout">
							<div id="liveTradingTrends">
								<ui:include src="/jsp/html_elements/liveTradingTrends.xhtml"/>
							</div>
							<div id="liveTradingTrendsOffHoursLogin" style="display:none">
								<ui:include src="/jsp/html_elements/tradingTrendsOffHoursLogoutLogin.xhtml"/>
							</div>
						</div>
					</h:panelGroup>
					<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
					<!-- Top 5 trades -->
						<div class="fL trade_page_top5 trade_page_top5_login" id="trade_page_top5_login">
							<ui:include src="/jsp/html_elements/liveTopTrades.xhtml"/>
						</div>
					</h:panelGroup>
					<!--Hide for HTTPS reasons
					<iframe align="top" id="rssFeedHP" name="rssFeedHP" width="280" height="360" frameborder="no" scrolling="no" class="fL"
						src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/financialNews.jsf?different_page=310">
					</iframe>
					<script>level_elements(new Array('right_side_investments','#{!commonUtil.skinRegulated?"trade_page_top5_login":""}','rssFeedHP'))</script>-->
					<h:panelGroup rendered="#{!commonUtil.skinRegulated}">
						<script>level_elements(new Array('right_side_investments','#{!commonUtil.skinRegulated?"trade_page_top5_login":""}'))</script>
					</h:panelGroup>
				</h:panelGroup>
				
			</h:panelGroup>
			<span class="float_fix"></span>
		</div>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.skinId == 1}">
		<div class="clear pt30 shadow_bgr">
			<!-- user logged out -->
			<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
				<!-- Top 5 trades -->
				<div class="fL trade_page_top5">
					<ui:include src="/jsp/html_elements/liveTopTrades.xhtml"/>
				</div>
				<!-- Trading trends -->
				<div class="fL trade_page_trends">
					<div id="liveTradingTrends" class="liveTradingTrends">
						<ui:include src="/jsp/html_elements/liveTradingTrends.xhtml"/>
					</div>
					<div id="liveTradingTrendsOffHoursLogin" style="display:none">
						<ui:include src="/jsp/html_elements/tradingTrendsOffHoursLogoutLogin.xhtml"/>
					</div>
				</div>
			</h:panelGroup>
			<!-- user logged in -->
			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				<!-- profit line / expire today -->
				<iframe align="left" class="box_Why_nd trade_binary_box fL mr20" id="right_side_investments" name="right_side_investments" width="300" height="355" frameborder="no" scrolling="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=">
				</iframe>
				<!-- Top 5 trades -->
				<div class="fL trade_page_top5 trade_page_top5_login">
					<ui:include src="/jsp/html_elements/liveTopTrades.xhtml"/>
				</div>
				<!-- Trading trends -->
				<div class="fL trade_page_trends trade_page_trends_login">
					<div id="liveTradingTrends" class="liveTradingTrends liveTradingTrends_login">
						<ui:include src="/jsp/html_elements/liveTradingTrends.xhtml"/>
					</div>
					<div id="liveTradingTrendsOffHoursLogin" class="liveTradingTrendsOffHoursLogin" style="display:none">
						<ui:include src="/jsp/html_elements/tradingTrendsOffHoursLogoutLogin.xhtml"/>
					</div>
				</div>
			</h:panelGroup>
			<span class="float_fix"></span>
		</div>
	</h:panelGroup>
	<div class="clear">
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/newAssetList.xhtml"/>
	</div>
</f:view>