<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<div id="trade_boxes">
	<div id="template_opportunity" style="display: none;">
		<div id="'oppId'" class="markets_table_h">
			<div class="clear trade_menu" id="blinkTD_'marketId'">
				<!-- START of top menu bar -->
				<div class="trade_menu_h trade_menu_h_p" onclick="showSelectionTree(this, 'marketId', event);">
					<span class="trade_menu_h_in" id="'oppId'_3">&#160;</span>
				</div>
				<div class="trade_menu_h2 trade_menu_h_p" onclick="showRefundSelector(this, 'marketId', 'oppId', event);" id="'oppId'_return">
					<span class="trade_menu_h_in">
						<span id="'oppId'_5"></span>
						&#160;#{msgs['trading.box.profit']}
					</span>
				</div>
				<div class="trade_menu_h2 trade_menu_h_p" onclick="showSelectionSchedule(this, 'marketId', 'oppId', event);" id="'oppId'_scheduled">
					<span class="trade_menu_h_in">
						#{msgs['trading.box.expires']}&#160;
						<span id="'oppId'_6"></span>
					</span>
				</div>
				<span class="" id="'oppId'_empty"></span>
				<!-- end of top menu bar -->
			</div>
			<div class="clear">
				<div id="'oppId'_slip" class="trade_box_ls_h"></div>
				<div id="'oppId'_chart_holder" class="trade_box_rs_h oH"></div>
			</div>
			<div class="fR h23" id="'oppId'_trend_pie" style="display:none;">
				<div class="tradePie_h">
					<span class="tradePie_ico" onclick="openTrendPopup(''oppId'_tradingbx_trend_msg');">
						<span class="tradePie_msg">#{msgs['CMS.tradingBoxTemplates.label.icon_trend.tooltip']}</span>
					</span>
					<div id="'oppId'_tradingbx_trend_msg" class="tradingbx_trend_msg" style="display:none">
						<span class="tradingbx_trend_pop" onclick="closeTrendPopup(''oppId'_tradingbx_trend_msg')"></span>
						<span onclick="closeTrendPopup(''oppId'_tradingbx_trend_msg');openSlip('oppId', 'call');" class="tradingbx_trend_call">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_call']}</span>
						<div id="'oppId'_tradingbx_trends_chart" class="tradingbx_trends_chart">
							<div id="'oppId'_tradingbx_chart_call" class="tradingbx_chart_call tradingbx_trend" style="width: 30%;">
								<div id="'oppId'_tradingbx_chart_call_label" class="tradingbx_trend">30%</div>
							</div>
							<div id="'oppId'_tradingbx_chart_separator" class="tradingbx_chart_separator tradingbx_trend"></div>
							<div id="'oppId'_tradingbx_chart_put" class="tradingbx_chart_put tradingbx_trend" style="width: 68%;">
								<div id="'oppId'_tradingbx_chart_put_label" class="tradingbx_trend">70%</div>
							</div>
						</div>
						<span onclick="closeTrendPopup(''oppId'_tradingbx_trend_msg');openSlip('oppId', 'put');" class="tradingbx_trend_put">#{msgs['CMS.tradingBoxTemplates.label.tradingbx_trend_put']}</span>
					</div>
				</div>
			</div>
			<span class="float_fix"></span>
			<div class="clear" style="display: none;">
				<div id="'oppId'_3"></div>
				<div id="'oppId'_7"></div>
				<div id="'oppId'_8"></div>
				<div id="'oppId'_9"></div>
				<div id="'oppId'_10"></div>
				<div id="'oppId'_13"></div>
				<div id="'oppId'_18"></div>
				<div id="'oppId'_21"></div>
				<div id="'oppId'_22"></div>
				<div id="'oppId'_24"></div>
				<div id="'oppId'_25"></div>
				<div id="'oppId'_26"></div>
				<div id="'oppId'_submit">0</div>
				<div id="'oppId'_choice">0</div>
				<div id="'oppId'_returnS"></div>
				<div id="'oppId'_refundS"></div>
				<div id="'oppId'_above"></div>
				<div id="'oppId'_below"></div>			 
			</div>
		</div>
	</div>

	<div id="template_loading" style="display: none;">
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/tradingBoxLoading.xhtml" />
	</div>

	<div id="template_chart_not_opened" style="display: none;">
		<div class="markets_no_chart_h">
			<h:outputText value="#{msgs['trading.box.willOpen']}" escape="false" />
		</div>
	</div>

	<div id="template_chart" style="display: none;">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="304" height="165" id="'oppId'_chart" align="middle">
			<param name="allowScriptAccess" value="always" />
			<param name="quality" value="high" />
			<param name="wmode" value="transparent" />
			<param name="movie" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/swf/chart.swf?pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" />
			<param name="FlashVars" value="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}" />
			<embed wmode="transparent" quality="high" width="304" height="165" name="'oppId'_chart" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" 
				src="#{applicationData.imagesPath}/#{applicationData.skin.style}/swf/chart.swf" 
				flashvars="pMarketId='marketId'&amp;pOppId='oppId'&amp;pClassId=#{!empty facesContext.externalContext.remoteUser ? user.classId : '1'}&amp;pCalcGame=#{applicationData.calcalistGame}&amp;pCommand={state}&amp;pDomain=#{request.serverName}#{facesContext.externalContext.requestContextPath}"/>

		</object>
	</div>

	<div id="template_long_term" style="display: none;">
		<div class="markets_no_chart_h">
			<h:outputText value="#{msgs['trading.box.chart.longterm']}" escape="false" />
		</div>
	</div>

	<div id="template_suspended" style="display: none;">
		<div class="markets_no_chart_h">
			{msg}
		</div>
	</div>

	<div id="template_state_1" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call_off.gif" class="trade_box_call"/>
		<span id="'oppId'_4" class="level_green">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put_off.gif" class="trade_box_pul"/>
	</div>

	<div id="template_state_2" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call.gif" class="trade_box_call"
			onclick="openSlip('oppId', 'call');" onmouseover="chartShowCallPut('oppId', true, true)" onmouseout="chartShowCallPut('oppId', false, true)" />
		<span id="'oppId'_4" class="level_green">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put.gif" class="trade_box_pul"
			onclick="openSlip('oppId', 'put');" onmouseover="chartShowCallPut('oppId', true, false)" onmouseout="chartShowCallPut('oppId', false, false)" />
	</div>

	<div id="template_state_3" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call.gif" class="trade_box_call mt0"
			onclick="openSlip('oppId', 'call');" onmouseover="chartShowCallPut('oppId', true, true)" onmouseout="chartShowCallPut('oppId', false, true)" />
		<span id="'oppId'_4" class="level_green">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put.gif" class="trade_box_pul"
			onclick="openSlip('oppId', 'put');" onmouseover="chartShowCallPut('oppId', true, false)" onmouseout="chartShowCallPut('oppId', false, false)" />
		<div class="clear trade_time_left">
			#{msgs['trading.box.timeLeft']}
		</div>
		<div class="clear new_progress_table">
			<div class="new_progress_table_in">
				<div id="'oppId'_cd_prg" class="new_progress_bar">&#160;</div>
			</div>
			<div id="'oppId'_cd_time" class="new_progress_time_td" align="#{applicationData.pageAlignment}">00:00</div>
		</div>	
	</div>

	<div id="template_state_4" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call_off.gif" class="trade_box_call mt10"
			style="cursor: pointer;" />
		<span id="'oppId'_4" class="level_green">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put_off.gif" class="trade_box_pul"
			style="cursor: pointer;" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/waiting4exp.gif" class="trade_box_waiting" />
	</div>

	<div id="template_state_5" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call_off.gif" class="trade_box_call mt10"/>
		<span id="'oppId'_4" class="level_green">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put_off.gif" class="trade_box_pul" />
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/waiting4exp.gif" class="trade_box_waiting" />
	</div>

	<div id="template_state_6" style="display: none;">
		<div class="markets_no_chart_h">
			<span id="'oppId'_4" class="trade_level_gray">&#160;</span>
			<h:outputText value="#{msgs['trading.box.expieryLevel']}" />
		</div>
	</div>

	<div id="template_state_8" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call_off.gif" class="trade_box_call"/>
		<span id="'oppId'_4" class="trade_level_gray">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put_off.gif" class="trade_box_pul"/>
	</div>

	<div id="template_state_9" style="display: none;">
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/call_off.gif" class="trade_box_call" />
		<span id="'oppId'_4" class="trade_level_gray">&#160;</span>
		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/put_off.gif" class="trade_box_pul" />
	</div>
	 
	<div id="template_call" style="display: none;">
		<div class="ml5">
			<img id="'oppId'_x_img" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/slip_x_12px.png" class="cP trade_close_img" onclick="closeSlip('oppId');"/>
			<div class="clear" id="'oppId'_errorPosTD">
				<span class="level_slip"><span id="'oppId'_4" class="slip_level_green">&#160;</span></span>
				<br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span>
				<span class="sliplabel">
					#{msgs['call']}
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" />
				</span>
				<br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span>
				<br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
				<br/>
				<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol and !applicationData.rtlAlign) || (!applicationData.currencyLeftSymbol and applicationData.rtlAlign)}">
					<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
				</h:panelGroup>
				<input id="'oppId'_amount" class="chart_box_slipinput" type="text" maxlength="8" height="8" onblur="javascript:twoDecimals(this);" 
					onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
				<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol and !applicationData.rtlAlign) || (!applicationData.currencyLeftSymbol and applicationData.rtlAlign))}">
					<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
				</h:panelGroup>
				<br/>
				<span class="sliplabel"><h:outputText value="#{msgs['trading.slip.return']}" /></span>
				<br/>
				<span  id="'oppId'_aboveU" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']} " /> <h:outputText id="pctU" value="" styleClass="dN"/> </span>
					<br/><span id="'oppId'_win" class="sliplabelWin">&#160;</span><br/>
				<span id="'oppId'_aboveD" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']} " /> <h:outputText id="pctD" value="" styleClass="dN" /></span>
					<br /><span id="'oppId'_lose" class="sliplabel_not_bold">&#160;</span><br/>
				<!--ERROR MSG-->
				<div id="'oppId'_errorMsgDiv" class="tradeErrorMsg_h tradeErrorMsg_h_#{applicationData.userLocale.language}">
					<ui:include src="/jsp/html_elements/tradingBoxTemplate_login_error.xhtml"/>
				</div>
			</div>
			<div class="clear taL mt5">
				<span class="buyButton_blue w70" id="'oppId'_img" onclick="submitSlip('oppId');"><h:outputText value="#{msgs['CMS.tradingPages.text.buy']} " /></span>
			</div>
		</div>
	</div>

	<div id="template_put" style="display: none;">
		<div class="ml5">
			<img id="'oppId'_x_img" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/slip_x_12px.png" onclick="closeSlip('oppId');" class="cP trade_close_img"/>
			<div class="clear" id="'oppId'_errorPosTD">
				<span class="level_slip"><span id="'oppId'_4" class="slip_level_green">&#160;</span></span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span>
				<span class="sliplabel">
					#{msgs['put']}
					<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" />
				</span>
				<br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel">{expTime}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
				<br/>
				<h:panelGroup rendered="#{(applicationData.currencyLeftSymbol and !applicationData.rtlAlign) || (!applicationData.currencyLeftSymbol and applicationData.rtlAlign)}">
					<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
				</h:panelGroup>
				<input id="'oppId'_amount" class="chart_box_slipinput" type="text" maxlength="8" height="8" onBlur="javascript:twoDecimals(this);" 
					onkeyup="updateWinLose(this, event, 'oppId'); return false;" onFocus="javascript:this.select();" />
				<h:panelGroup rendered="#{!((applicationData.currencyLeftSymbol and !applicationData.rtlAlign) || (!applicationData.currencyLeftSymbol and applicationData.rtlAlign))}">
					<span class="sliplabel">#{applicationData.realCurrencySymbol}</span>
				</h:panelGroup>
				<br/>
				<span class="sliplabel"><strong><h:outputText value="#{msgs['trading.slip.return']}" /></strong></span><br/>
				<span id="'oppId'_aboveU2" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']} " /><h:outputText id="pctU2" value="" styleClass="dN" />  </span>
					<br /><span id="'oppId'_win" class="sliplabelWin">&#160;</span><br/>
				<span id="'oppId'_aboveD2" class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']} " /><h:outputText id="pctD2" value="" styleClass="dN" /> </span>
					<br /><span id="'oppId'_lose" class="sliplabel_not_bold">&#160;</span><br/>
				
				<!--ERROR MSG-->
				<div id="'oppId'_errorMsgDiv" class="tradeErrorMsg_h tradeErrorMsg_h_#{applicationData.userLocale.language}">
					<ui:include src="/jsp/html_elements/tradingBoxTemplate_login_error.xhtml"/>
				</div>
			</div>
			<div class="clear taL mt5">
				<span class="buyButton_blue w70" id="'oppId'_img" onclick="submitSlip('oppId');"><h:outputText value="#{msgs['CMS.tradingPages.text.buy']} " /></span>
			</div>
		</div>
	</div>

	<div id="template_call_success" style="display: none;">
		<div class="ml5">
			<div class="clear trade_close_h">
				<span class="level_slip" style="float:#{applicationData.pageAlignment};" ><strong class="{level_clr}">{level}</strong></span>
				<img id="'oppId'_x_img" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/slip_x_12px.png" onclick="closeSlip('oppId');" class="trade_close_img cP"/>
			</div>
			<div class="clear pR">
				<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span>
				<span class="sliplabel">
					#{msgs['call']} <img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/up.gif" />
				</span>
				<br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel_not_bold">{expTime}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
				<h:panelGroup rendered="#{applicationData.currencyLeftSymbol}">
					<span class="sliplabel_not_bold">#{applicationData.realCurrencySymbol}{amount}</span><br/>
				</h:panelGroup>
				<h:panelGroup rendered="#{!applicationData.currencyLeftSymbol}">
					<span class="sliplabel_not_bold">{amount}#{applicationData.realCurrencySymbol}</span><br/>
				</h:panelGroup>
				<span class="sliplabel"><h:outputText value="#{msgs['trading.slip.return']}" /></span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span> 
					<br /><span class="">{win}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span> 
					<br /><span class="">{lose}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.success.confirmation']}" /> </span><span id="'oppId'_confirm" class="sliplabel_not_bold"># {confirm}</span>
			</div>
			<div class="clear taC mt5 oH">
				<span onclick="printSuccess('{confirm}');" class="icon_set_1 icon_set_1_print fL"></span>
				<span class="fL">{profitLine}</span>
			</div>
			<div id="'oppId'_sms" class="clear trade_sms" style="display:none;">
				<h:panelGroup rendered="#{(applicationData.skinId!=2) and (applicationData.skinId!=13)}">
					<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" class="vaM"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{(applicationData.skinId==2) || (applicationData.skinId==13)}">
					<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" class="vaM"/>
				</h:panelGroup>
				<span class="vaM sms" id="'oppId'_sms_txt">#{msgs['trading.chartBox.recipt.SMS']}</span>
			</div>
			<div class="clear" style="display:none;">
				<span id="'oppId'_4" class="slip_level_green">&#160;</span>
			</div>
		</div>
	</div>

	<div id="template_put_success" style="display: none;">
		<div class="ml5">
			<div class="clear trade_close_h">
				<span class="level_slip" style="float:#{applicationData.pageAlignment};" ><strong class="{level_clr}">{level}</strong></span>
				<img id="'oppId'_x_img" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/slip_x_12px.png" style="cursor: pointer;float: #{applicationData.pageAlignmentReverse}" onclick="closeSlip('oppId');" class="trade_close_img cP"/>
			</div>
			<div class="clear pR">
				<span class="slip"><h:outputText value="#{msgs['trading.slip.type']}" /> </span><span class="sliplabel"><strong>#{msgs['put']}</strong>
				<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/down.gif" /></span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.expires']}" /> </span><span class="sliplabel_not_bold">{expTime}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.slip.amount']}" /> </span>
				<h:panelGroup rendered="#{applicationData.currencyLeftSymbol}">
					<span class="sliplabel_not_bold">#{applicationData.realCurrencySymbol}{amount}</span><br/>
				</h:panelGroup>
				<h:panelGroup rendered="#{!applicationData.currencyLeftSymbol}">
					<span class="sliplabel_not_bold">{amount}#{applicationData.realCurrencySymbol}</span><br/>
				</h:panelGroup>
				<span class="sliplabel"><h:outputText value="#{msgs['trading.slip.return']}" /></span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.below']}" /> </span> 
					<br /><span class="">{win}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.chartBox.slip.above']}" /> </span> 
					<br /><span class="">{lose}</span><br/>
				<span class="slip"><h:outputText value="#{msgs['trading.success.confirmation']}" /> </span><span id="'oppId'_confirm" class="sliplabel_not_bold"># {confirm}</span>
			</div>
			<div class="clear taC mt5">
				<span class="fL">{profitLine}</span>
				<span onclick="printSuccess('{confirm}');" class="fL icon_set_1 icon_set_1_print"></span>
			</div>
			<div id="'oppId'_sms" class="clear" style="display:none;">
				<h:panelGroup rendered="#{(applicationData.skinId!=2) and (applicationData.skinId!=13)}">
					<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" class="vaM"/>
				</h:panelGroup>
				<h:panelGroup rendered="#{(applicationData.skinId==2) || (applicationData.skinId==13)}">
					<input type="checkbox" name="smsmsg" id="smsmsg" onclick="updateInvestSms(this, 'oppId');" class="vaM"/>
				</h:panelGroup>
				<span class="vaM sms" id="'oppId'_sms_txt">#{msgs['trading.chartBox.recipt.SMS']}</span>
			</div>
			<div class="clear" style="display:none;">
				<span id="'oppId'_4" class="slip_level_green">&#160;</span>
			</div>
		</div>
	</div>

	<div id="template_success_profitline" style="display: none;">
		<span class="buyButton_blue ttUC ml5" onclick="window.top.runThickBox('marketId', 'oppId');">Profit line »</span>
	</div>

	<t:dataList value="#{tradingPageBean.arrays}" var="arrays" layout="simple">
		<script>
			
var boxesFixed = new Array(false#{arrays.fixed});//removed
var boxesFixedMarkets = new Array(0#{arrays.markets});//removed
var boxesFixedScheduled = new Array(0#{arrays.scheduled});//removed
var boxesFull = new Array(false, true, true, true, true);//renamed and changes ls_boxesFull
var boxesMarkets = new Array(0, 0, 0, 0, 0);//renmed and changed currentMarketInBox

			var israelMarkets = new Array(#{arrays.israelMarkets});
			var lsEngineReady = false;
			//trading boxes
			var subscriptionType = "COMMAND";
			var dataAdapterName = "JMS_ADAPTER";
			var group = [#{group}];
			var schema = ["key", "command", "ET_NAME", level_skin_group_id, "ET_ODDS", "ET_EST_CLOSE", "ET_OPP_ID", "ET_ODDS_WIN", "ET_ODDS_LOSE", "ET_STATE", level_color, "ET_PRIORITY", 
				"ET_GROUP_CLOSE", "ET_SCHEDULED", "ET_RND_FLOOR", "ET_RND_CEILING", "ET_GROUP", "ET_SUSPENDED_MESSAGE", "AO_HP_MARKETS_" + skinId, "AO_STATES", "FILTER_SCHEDULED", "ET_LAST_INV", 
				"AO_TS", "AO_FLAGS", "ET_ODDS_GROUP", ao_calls_trend];
			
			
			
			
			var schemaGM = ["key", "command", "INS_MARKET", "INS_LEVEL", insurance_current_level, "INS_AMOUNT", "INS_WIN", "INS_INS", "INS_TYPE", "INS_POSITION", "INS_INS_TYPE", "INS_LEVEL_CLR", "INS_IS_OPEN_GRAPH", "INS_OPP_ID", "INS_TIME_EST_CLOSE", "INS_CLOSE_TIME", "INS_PTYPE"];
			var skinBusinessCase = 2; //SKIN_BUSINESS_ANYOPTION 
			if (skinId == 1) {
				skinBusinessCase = 1; //SKIN_BUSINESS_ETRADER
			}
			//document.domain = "#{applicationData.domainUrl}";
			var lsClient = configureLsConnection();			
			lsClient.connect();
			lsEngineReady = true;
			
			var aoTable = new Subscription(subscriptionType,group,schema);
			aoTable.setDataAdapter(dataAdapterName);
			aoTable.setRequestedSnapshot("yes");
			aoTable.setRequestedMaxFrequency(1.0);
			aoTable.addListener({
		          onSubscription: function() {
		        	  logIt({'type':1,'msg':'SUBSCRIBED aoTable'});
		          },
		          onUnsubscription: function() {
		          	logIt({'type':1,'msg':'UNSUBSCRIBED aoTable'});
		          },
		          onItemUpdate: function (updateObject) { 
		            updateItemAO(updateObject.getItemPos(), updateObject, updateObject.getItemName());
		          }
		        });
			
			lsClient.subscribe(aoTable);

			<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
				var groupGM = ["insurances_#{user.userName}"];
				var newTableGM = new Subscription(subscriptionType, groupGM, schemaGM );
				newTableGM.setDataAdapter(dataAdapterName);
				newTableGM.setRequestedSnapshot("yes");
				newTableGM.setRequestedMaxFrequency(1.0);
				newTableGM.addListener({
			          onSubscription: function() {
			        	  logIt({'type':1,'msg':'SUBSCRIBED newTableGM'});
			          },
			          onUnsubscription: function() {
			          	logIt({'type':1,'msg':'UNSUBSCRIBED newTableGM'});
			          },
			          onItemUpdate: function (updateObject) { 
			            updateItemGM(updateObject.getItemPos(), updateObject, updateObject.getItemName());
			          }
			        });
				lsClient.subscribe(newTableGM);
			</h:panelGroup>
		
			
		</script>
	</t:dataList>
	<h:panelGroup rendered="#{request.requestURI.endsWith('trade_binary_options.jsf')}">
	<script>

	//DynaMetapushTable to DynaGrid
	var group_trends = ["trends_" + skinBusinessCase]; 
	var schema_trends = ["key", "merge", "LTT_MARKET1", "LTT_OPP_ID1", "LTT_TREND1", "LTT_MARKET2", "LTT_OPP_ID2", "LTT_TREND2", "LTT_MARKET3", "LTT_OPP_ID3", "LTT_TREND3"];

	var aoTable_trends = new Subscription("MERGE", group_trends, schema_trends );
	aoTable_trends.setDataAdapter(dataAdapterName);
	aoTable_trends.setRequestedSnapshot("yes");
	aoTable_trends.setRequestedMaxFrequency(1.0);
	
	var dynaGridTrends = new DynaGrid("trends",true);
	dynaGridTrends.setNodeTypes(["div", "INPUT"]);
	dynaGridTrends.setMaxDynaRows(3);
	dynaGridTrends.isHtmlInterpretationEnabled(true);
	dynaGridTrends.setAutoCleanBehavior(true, false);
	dynaGridTrends.addListener({
	    // merged updateItem_live_trade formatValues_live_trade;
		onVisualUpdate: function(key, visualUpdate, domNode){
			updateItem_live_trade(key, visualUpdate, domNode);
		}
	});
	aoTable_trends.addListener(dynaGridTrends);
	lsClient.subscribe(aoTable_trends);

	</script>
	</h:panelGroup>
</div>
</f:view>