<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	
	<div id="markets_table" class="markets_table_h">
		<div class="clear trade_menu" id="blinkTD_'marketId'">
			<!-- START of top menu bar -->
			<div class="trade_menu_h trade_menu_h_p">&#160;</div>
			<div class="trade_menu_h2 trade_menu_h_p fR">&#160;</div>
			<!-- end of top menu bar -->
		</div>
		<div class="clear">
			<div id="'oppId'_slip" class="trade_box_h oH">
				<img class="trade_box_loading" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/trade_loading.gif" />
			</div>
		</div>
	</div>

</f:view>