<f:view xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	locale="#{applicationData.userLocale}">
	<div style="padding:10px;">
		<p class="info_pages_text"><h:outputText value="#{msgs['CMS.mobile_aboutus.text.t1']}" escape='false'/></p>
		<p class="info_pages_text"><h:outputText value="#{msgs['CMS.mobile_aboutus.text.t2']}" escape='false'/></p>
		<p class="info_pages_text"><h:outputText value="#{msgs['CMS.mobile_aboutus.text.t3']}" escape='false'/></p>
		<p class="info_pages_text"><h:outputText value="#{msgs['CMS.mobile_aboutus.text.t4']}" escape='false'/></p>
		<p class="info_pages_text"><h:outputText value="#{msgs['CMS.mobile_aboutus.text.t5']}" escape='false'/></p>
		<p class="info_pages_text"><h:outputText value="#{msgs['CMS.mobile_aboutus.text.t6']}" escape='false'/></p>
	</div>
</f:view>