<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="format-detection" content="telephone=no" />
    <meta name="robots" content="noodp,noydir" />
	<link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.imagesSubDirectory}/favicon.ico" type="image/vnd.microsoft.icon"/>
	<link rel="icon" href="#{applicationData.imagesPath}/#{applicationData.imagesSubDirectory}/favicon.png" type="image/png"/>

	<title>#{msgs['mobile.appBinary.window.title']}</title>
    <meta name="description" content="#{msgs['mobile.appBinary.description']}"/>
    <meta name="keywords" content="#{msgs['mobile.appBinary.keywords']}"/>

	<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css" type="text/css" />

	<style>
		li {
			position: relative;
			left: -20px;
			list-style-image: url(#{applicationData.imagesPath}/mobile/arrowBlue.png);
			font-size: 8.5pt;
		}
	</style>
</head>

<f:view locale="#{applicationData.userLocale}">

<body>
	<table cellpadding="0" cellspacing="0" width="100%" align="center">
		<tr align="center">
			<td align="center">
				<div id="page" class="smartphone_page">
					<div style="padding-top:10px;">
						<div id="content" class="smartphone_content"><img src="#{applicationData.imagesPath}/mobile/aoanywhere.png" width="260px" height="108px"/></div>
						<div class="smartphone_text">
							<p><h:outputText value="#{msgs['CMS.mobile_appBinary.text.t1']}" escape='false'/></p>
							<p><h:outputText value="#{msgs['CMS.mobile_appBinary.text.t2']}" escape='false'/></p>
							<p><h:outputText value="#{msgs['CMS.mobile_appBinary.text.t3']}" escape='false'/></p>
							<p>
								<a class="smartphone_lightB" style="color:#db0000;font-family:Arial, Helvetica, sans-serif;" href="#" onclick="history.go(-1);return false;">
									<b>&lt;&lt; <h:outputText value="#{msgs['CMS.mobile_appBinary.label.a1']}" escape='false'/></b>
								</a>
							</p>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</f:view>
</html>