<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" >

<ui:composition template="/mobile/templates/template_no_padding.xhtml">
	<ui:define name="windowtitle">
		#{msgs['mobile.select.language.win.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['mobile.select.language.title']}
	</ui:define>
	<ui:define name="content">
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
		<script>
			/*change skin AJAX call*/
			function updateSkin(skinId) {
				var url = "ajax.jsf?changeSkinDuid=" + skinId;
				var ajax = new AJAXInteraction(url, updateSkinCallback);
				ajax.doGet();
			}
			/*callBack function for change skin*/
			function updateSkinCallback(responseXML) {
			   var skinId = responseXML.getElementsByTagName("res")[0].firstChild.nodeValue;
			   if (skinId != 0) {
					window.location.href = context_path + '/mobile/trade_binary_options.jsf?s=' + skinId;
			   }
			}
		</script>

		<h:panelGroup rendered="#{!applicationData.usSkins}" >
			<div class="menu_nav_gray" onclick="updateSkin(2);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.eng']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(3);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.tur']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(5);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.spa']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(8);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.de']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(9);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.ita']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(10);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.rus']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(12);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.fr']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(15);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.zh']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(4);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.ar']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>

			<div class="menu_nav_gray" onclick="updateSkin(17);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.kor']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.usSkins}" >
			<div class="menu_nav_gray" onclick="updateSkin(13);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.eng']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>
			<div class="menu_nav_gray" onclick="updateSkin(14);">
				<div class="float_left margin_left_20_prc" >#{msgs['languages.spa']}</div>
				<div class="float_right margin_right_20_prc" >#{msgs['box.profitline.arrow']}</div>
			</div>
		</h:panelGroup>
	</ui:define>
</ui:composition>
</html>