<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="title">#{msgs['error.pageIL.title']}</ui:define>

	<ui:define name="content">
		<f:verbatim>
			<script language="JavaScript">
			if (window.top!=window.self){
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}/mobile/errorPage.jsf";
			} else {
				// do nothing
			}
		</script>
		</f:verbatim>
		<t:inputHidden id="error" value="#{applicationData.writeError}"/>
		<t:panelGroup align="center" >
			<center>
			<h:outputText styleClass="error_messages" value="#{msgs['error.session.pagenotfound1']}"/>
			<h:outputText value=" "/>
			<h:outputText styleClass="error_messages" value="#{msgs['error.session.pagenotfound2']}"
				onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/index.jsf'" />
			</center><br/>
		</t:panelGroup>
	</ui:define>
</ui:composition>
</html>