<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk" >

<ui:composition template="/mobile/templates/template_language_selection.xhtml">
	<ui:define name="windowtitle">
		#{msgs['mobile.select.language.win.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['mobile.menu.select.language']}
	</ui:define>
	<ui:define name="content">
		<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
		<script>
			/*change skin AJAX call*/
			function updateSkin(skinId) {
				var url = "ajax.jsf?changeSkinDuid=" + skinId;
				var ajax = new AJAXInteraction(url, updateSkinCallback);
				ajax.doGet();
			}
			/*callBack function for change skin*/
			function updateSkinCallback(responseXML) {
			   var skinId = responseXML.getElementsByTagName("res")[0].firstChild.nodeValue;
			   if (skinId != 0) {
					window.location.href = context_path + '/mobile/index.jsf?s=' + skinId;
			   }
			}
		</script>

		<div class="height_32_px">&#160;</div>

		<div class="menu_nav_white" onclick="updateSkin(2);">
			<div class="float_left margin_left_30_prc" style="height:40px;vertical-align: middle;line-height:40px;"><img src="#{applicationData.imagesPath}/mobile/languageIcons/english-icon.png" style="float: inherit;margin-top:6px;" width="32px" border="0" height="32px" align="center"/></div>
			<div class="float_left margin_left_17_prc" style="height:40px;vertical-align: middle;line-height:40px;">#{msgs['languages.eng']}</div>
		</div>

		<div class="menu_nav_white" onclick="updateSkin(3);">
			<div class="float_left margin_left_30_prc" style="height:40px;vertical-align: middle;line-height:40px;"><img src="#{applicationData.imagesPath}/mobile/languageIcons/turkish-icon.png" style="margin-top:6px; float: inherit;" width="32px" border="0" height="32px"/></div>
			<div class="float_left margin_left_17_prc" style="height:40px;vertical-align: middle;line-height:40px;">#{msgs['languages.tur']}</div>
		</div>

		<div class="menu_nav_white" onclick="updateSkin(5);">
			<div class="float_left margin_left_30_prc" style="height:40px;vertical-align: middle;line-height:40px;"><img src="#{applicationData.imagesPath}/mobile/languageIcons/spanish-icon.png" style="margin-top:6px; float: inherit;" width="32px" border="0" height="32px"/></div>
			<div class="float_left margin_left_17_prc" style="height:40px;vertical-align: middle;line-height:40px;">#{msgs['languages.spa']}</div>
		</div>

		<div class="menu_nav_white" onclick="updateSkin(8);">
			<div class="float_left margin_left_30_prc" style="height:40px;vertical-align: middle;line-height:40px;"><img src="#{applicationData.imagesPath}/mobile/languageIcons/deusch-icon.png" style="margin-top:6px; float: inherit;" width="32px" border="0" height="32px"/></div>
			<div class="float_left margin_left_17_prc" style="height:40px;vertical-align: middle;line-height:40px;">#{msgs['languages.de']}</div>
		</div>

		<div class="menu_nav_white" onclick="updateSkin(9);">
			<div class="float_left margin_left_30_prc" style="height:40px;vertical-align: middle;line-height:40px;"><img src="#{applicationData.imagesPath}/mobile/languageIcons/italian-icon.png" style="margin-top:6px; float: inherit;" width="32px" border="0" height="32px"/></div>
			<div class="float_left margin_left_17_prc" style="height:40px;vertical-align: middle;line-height:40px;">#{msgs['languages.ita']}</div>
		</div>

		<div class="menu_nav_white" onclick="updateSkin(10);">
			<div class="float_left margin_left_30_prc" style="height:40px;vertical-align: middle;line-height:40px;"><img src="#{applicationData.imagesPath}/mobile/languageIcons/russian-icon.png" style="margin-top:6px; float: inherit;" width="32px" border="0" height="32px"/></div>
			<div class="float_left margin_left_17_prc" style="height:40px;vertical-align: middle;line-height:40px;">#{msgs['languages.rus']}</div>
		</div>
		
		<div class="height_32_px">&#160;</div>
	</ui:define>
</ui:composition>
</html>