<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>
	<br/>
	<table>
		<tr>
			<td width="100%">
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t1']}" escape='false'/>
				</p>
				<p class="pages_text">
					<strong>
						<h:outputText value="#{msgs['CMS.security.text.t2']}" escape='false'/>
					</strong>
				</p>
				<span class="info_pages_text_blue" style="text-transform:uppercase;">
					<h:outputText value="#{msgs['CMS.security.text.t3']}" escape='false'/>
					<br/>
				</span>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t4']}" escape='false'/>
				</span>
				<br/><br/>
				<span class="info_pages_text_blue" style="text-transform:uppercase;">
					<h:outputText value="#{msgs['CMS.security.text.t5']}" escape='false'/>
					<br/>
				</span>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t6']}" escape='false'/>
				</span>
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t7']}" escape='false'/>
				</p>
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t8']}" escape='false'/>
				</p>
				<span class="info_pages_text_blue" style="text-transform:uppercase;">
					<h:outputText value="#{msgs['CMS.security.text.t9']}" escape='false'/>
					<br/>
				</span>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t10']}" escape='false'/>
				</span>
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t11']}" escape='false'/>
				</p>
				<span class="info_pages_text_blue" style="text-transform:uppercase;">
					<h:outputText value="#{msgs['CMS.security.text.t12']}" escape='false'/>
					<br/>
				</span>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t13']}" escape='false'/>
				</span>
				<br/><br/>
				<span class="info_pages_text_blue" style="text-transform:uppercase;">
					<h:outputText value="#{msgs['CMS.security.text.t14']}" escape='false'/>
				</span>
				<span class="info_pages_text_blue" >
					<h:outputText value="#{msgs['CMS.security.text.t15']}" escape='false'/>
				</span>
				<span class="info_pages_text_blue" style="text-transform:uppercase;">
					<h:outputText value="#{msgs['CMS.security.text.t16']}" escape='false'/>
				</span>
				<br/>
				<span class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t17']}" escape='false'/>
				</span>
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t18']}" escape='false'/>
				</p>
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t19']}" escape='false'/>
				</p>
				<p class="pages_text">
					<h:outputText value="#{msgs['CMS.security.text.t20']}" escape='false'/>
				</p>
			</td>
		</tr>
	</table>
</f:view>
