<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >
	<ui:composition template="/mobile/templates/template_general.xhtml">        
        <ui:define name="windowtitle">
        	<h:outputText value="#{msgs['mobile.window.title.general.terms']}"/>
        </ui:define>
        <ui:define name="Title">
			<h:outputText value="#{msgs['header.agreement']}"/>
		</ui:define>
		
		<ui:define name="head">
			<link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel.css" type="text/css" media="all" />
			<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/mobile/dateSelector/spinningwheel-min.js?v=1.4"></script>
		</ui:define>
		<ui:define name="leftSideHeader">
			<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
				<script>
					function backLink() {
						var sectionLink = document.getElementById("ag_form:agreementBackSection");
						sectionLink.onclick();
					}
				</script>
			   <img src="#{applicationData.imagesPath}/mobile/#{applicationData.imagesSubDirectory}/back.png"
						width="54px" height="20px" style="padding-top:8px; float: inherit;" class="padd-left5"
						onclick="backLink();" />
	
			</h:panelGroup>
		</ui:define>
		<ui:define name="content">
			<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
				<ui:include src="/mobile/anyoption_agreement.xhtml"></ui:include>
			</h:panelGroup>
			<h:panelGroup rendered="#{!registerFormMobile.agreementMode}">
				<h:form id="acceptTerms">
					<h:selectBooleanCheckbox id="terms" escape="false" value="#{registerFormMobile.terms}"></h:selectBooleanCheckbox>
					<span onclick="return myfaces.oam.submitForm('acceptTerms','acceptTerms:hiddenbtnTerms');" class="blue_link_10 no_underline">#{msgs['register.terms']}</span>
					<div class="width_100_prc fields_height" >&#160;</div>
					<h:commandLink action="#{registerFormMobile.acceptTerms}" id="hiddenbtn" />
					<t:commandLink id="backSection" action="#{registerFormMobile.back}" immediate="true"  style="display:none" />
				    <t:commandLink id="hiddenbtnTerms" action="#{registerFormMobile.setAgreementModeTrue}" immediate="true" />
				    <t:commandButton label="savelink3" id="loginBtns3" width="50px" height="20px" styleClass="nav_button_blue"
								value="#{msgs['button.do']}" onclick="return myfaces.oam.submitForm('acceptTerms','acceptTerms:hiddenbtn');" />
			    
				</h:form>
			</h:panelGroup>
			<h:panelGroup rendered="#{registerFormMobile.agreementMode}">
			<ui:include src="/mobile/anyoption_agreement.xhtml"></ui:include>
				<h:form id="ag_form">
					<t:commandLink id="agreementBackSection" action="#{registerFormMobile.setAgreementModeFalse}" immediate="true"></t:commandLink>
				</h:form>
			</h:panelGroup>
		</ui:define>
	</ui:composition>	
</html>