<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		ביזפורטל, 29.6.08. "איטריידר מנסה להתחרות בפקדונות המובנים של הבנקים: אם הנפט יגיע ל-160 דולר לחבית ביולי - תרוויחו 200%
	</ui:define>
	<ui:define name="title">
		<span dir="rtl">
		  ביזפורטל, 29.6.08. "איטריידר מנסה להתחרות בפקדונות המובנים של הבנקים: אם הנפט יגיע ל-160 דולר לחבית ביולי - תרוויחו 200%
		"
		</span>
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/bizportal29062008_big.gif" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>