<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		כלכליסט, 19.3.08. "etrader: ממשיכים להשקיע"
	</ui:define>
	<ui:define name="title">
		כלכליסט, 19.3.08. "etrader: ממשיכים להשקיע"
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/calcalist_19.3.2008.gif" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>