<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		גלובס , mantalk, מאי 2010. "תן לי סטנלי"
	</ui:define>
	<ui:define name="title">
		גלובס , mantalk, מאי 2010. "תן לי סטנלי"
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/givemstanley.gif" alt="" width="595px" height="766px" border="0"/>
	</ui:define>
</ui:composition>
</f:view>