<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		גלובס, 17.10.2010. "לא אדישים להתרגשות etrader :משיקים אופציות על רציו ודלק"
	</ui:define>
	<ui:define name="title">
		גלובס, 17.10.2010. "לא אדישים להתרגשות etrader :משיקים אופציות על רציו ודלק"
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/globse-17-10-2010.jpg" alt="" width="530px" height="575px" border="0"/>
	</ui:define>
</ui:composition>
</f:view>