<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		גלובס, 22.7.08. "הריגושים של טלי ירון אלדר ובועז צ'צ'יק"
	</ui:define>
	<ui:define name="title">
		גלובס, 22.7.08. "הריגושים של טלי ירון אלדר ובועז צ'צ'יק"
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/globs_22.07.08.jpg" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>