<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		"חסות בטורניר גמר כדורגל חופים, יולי 2011"
	</ui:define>
	<ui:define name="title">
		ביום שישי ה 29.7.11 נערך גמר אליפות ליגת "בנק יהב" בכדורגל חופים.
בין לבין, נהנו הצופים ממשחק ראווה משופע בכוכבים ששיחקו בשורות ערוץ הספורט ורדיו אמצע הדרך, כאשר כוכבי הערוץ שכללו את ג'ובאני רוסו, אלון מזרחי, איציק זוהר, אמיר שלח, מוטי פשחצקי, עמיחי שפיגלר ועוד, שיחקו נגד כוכבי רדיו אמצע הדרך שכללו את אייל גולן, דודו אהרון, מאור בוזגלו ועוד, בחסות etrader.
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/soccer.jpg" alt="" width="540px" height="761px" border="0"/>
	</ui:define>
</ui:composition>
</f:view>