<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		תמונות מאירוע השקה
	</ui:define>
	<ui:define name="title">
		תמונות מאירוע השקה של etrader ב - 23.05.2008
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/tennis_2.jpg" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>