<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		Themarker, 02.06.08. "לראשונה בישראל: אופציות שקליות על נאסד"ק; את הרישיון להנפקה קיבלה חברת etrader"
	</ui:define>
	<ui:define name="title">
		TheMarker,  <span dir="rtl">02.06.08.</span> "לראשונה בישראל: אופציות שקליות על נאסד"ק; את הרישיון להנפקה קיבלה חברת etrader"
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/themarker02062008.gif" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>