<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		"וואלה, 14.4.2008. "רם וארליך ייאבקו אחד בשני
	</ui:define>
	<ui:define name="title">
		<span dir="ltr">
		"וואלה, 14.4.2008. "רם וארליך ייאבקו אחד בשני
		</span>
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/wallaSport14042008.jpg" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>