<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_press.xhtml">
	<ui:define name="windowtitle">
		Yahoo finance, 6.5.2008. "Israeli Tennis Duo Go Head to Head for etrader"
	</ui:define>
	<ui:define name="title">
		Yahoo finance, <span dir="rtl">6.5.2008.</span> "Israeli Tennis Duo Go Head to Head for etrader"
	</ui:define>
	<ui:define name="image">
		<img src="#{facesContext.externalContext.requestContextPath}/images/yahoo06052008.jpg" alt="" width="530" height="575" border="0"/>
	</ui:define>
</ui:composition>
</f:view>