<div click-out="$ctrl.onResolve()">
	<div class="reg_log_popUp_content resize_content_en">	
		<span class="txt_message1">{{::$ctrl._u.getMsg('CMS.regLogPopUpAcademy.text.message1')}}</span>
		<span class="txt_message2  mess2_mb_en">{{::$ctrl._u.getMsg('CMS.regLogPopUpAcademy.text.message2')}}</span>
		<div class="oH clear">
			<a href="./../jsp/register.jsf" class="acad_reg_buton acad_reg_buton_l">
				<span class="acad_reg_buton acad_reg_buton_r">
					<span class="acad_reg_buton acad_reg_buton_m">
						<span class="acad_login_buton_txt">{{::$ctrl._u.getMsg('CMS.regLogPopUpAcademy.submit')}}</span>
					</span>
				</span>
			</a>
			<a href="./../jsp/login.jsf" class="acad_login_buton acad_login_buton_l">
				<span class="acad_login_buton acad_login_buton_r">
					<span class="acad_login_buton acad_login_buton_m">
						<span class="acad_login_buton_txt">{{::$ctrl._u.getMsg('CMS.regLogPopUpAcademy.submit.log')}}</span>
					</span>
				</span>
			</a>
		</div>
	</div>
</div>

<div class="reg_log_popUp_content" click-out="$ctrl.onResolve()">	
	<span class="txt_message1">{{::$ctrl._u.getMsg('CMS.regLog_2_PopUpAcademy.text.message1')}}</span>
	<div class="acad_deposit_popUp oH clear">
		<a href="./../jsp/pages/deposit.jsf" class="acad_reg_buton acad_reg_buton_l">
			<span class="acad_reg_buton acad_reg_buton_r">
				<span class="acad_reg_buton acad_reg_buton_m">
					<span class="acad_login_buton_txt">{{::$ctrl._u.getMsg('CMS.depositPopUpAcademy.submit')}}</span>
				</span>
			</span>
		</a>
	</div>				
</div>