<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

<ui:composition template="/API/templates/template.xhtml">

<ui:define name="content">
	<script>
	if (window.top!=window.self){
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}/API/errorPage.jsf";
	}
	</script>
	<div class="page_bgr">
		<!--Titles-->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/page_title.xhtml">
			<ui:param name="h1" value="#{msgs['error.pageIL.title']}" />
			<ui:param name="h2" value="" />
		</ui:include>
		<h:panelGroup rendered="#{applicationData.skinId != '15'}">
			<t:inputHidden id="error" value="#{applicationData.writeError}"/>
			
			<div class="taC errorPage">
				<h:outputText styleClass="error_messages" value="#{msgs['error.session.pagenotfound1']}"/>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/API/login.jsf')}" class="error_messages" >
					<h:outputText value="#{msgs['error.session.pagenotfound2']}" />
				</a>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId == '15'}">
			<!-- chat woman -->
			<div style=" width:972px; height:auto; float:none; margin:10px auto;">
				<table width="972" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cwealth_10.jpg" width="972" height="6"/></td>
				  </tr>
				  <tr>
					<td>
						<table width="972" border="0" cellpadding="0" cellspacing="10" background="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cwealth_12.jpg">
						  <tr>
							<td colspan="2"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/404-p_03.jpg" width="562" height="132"/></td>
						  </tr>
						  <tr>
							<td width="280" align="left" valign="top"><font style="font-size:16px; font-weight:bold;"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/twitter.png" width="50" height="63">&#160;&#160;&#160;&#160;&#160;你可以</img></font><br/><br/>
								<font style="font-size:16px; font-weight:bold;"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}">返回网站首页</a> &#160; &#160; 或者 &#160; &#160; <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}">注册用户</a></font>        </td>
								<td width="620" align="left" valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="635" height="270">
									  <param name="movie" value="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_movie.swf"/>
									  <param name="quality" value="high"/>
									  <embed src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_movie.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="635" height="270"></embed>
									</object>
								</td>
						   </tr>
						 </table>
					 </td>
				  </tr>
				  <tr>
					<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/cwealth_11.jpg" width="972" height="6"/></td>
				  </tr>
				</table>
			</div>
		</h:panelGroup>
	</div>
</ui:define>

</ui:composition>
</f:view>