<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<ui:composition template="/API/templates/template.xhtml">
	<!-- head -->
	<ui:define name="head">
		<script src="#{facesContext.externalContext.requestContextPath}/js/validation.js"></script>
		<script>
			var lettersandnumbers = '#{msgs['error.lettersandnumbers.only']}';
			var passwordSmall = '#{msgs['error.password.smallsize']}';
			var usernameSmall = '#{msgs['error.username.ajaxerror']}';
			var emptyfield = '#{msgs['header.login.error']}';
		</script>
	</ui:define>

	<!-- content -->
	<ui:define name="content">
		#{loginForm.loginFromNewDomain(3)}
		#{loginForm.redirectSessionUser()}
		<div class="page_bgr">			
			<!--content in-->
			<h:form id="login" onsubmit="validate();return false;">
				<div>
					<span class="login_title"><h:outputText value="#{msgs['CMS.login.text.t1']}" escape="false" /></span>
					<!-- userName -->
					<div class="clear oH">
						<label class="login_label vaM"><h:outputText value="#{msgs['CMS.headerContent.label.input.username.up']}" escape="false"/></label>
						<h:inputText id="j_username" name="j_username" value="#{loginForm.username}" styleClass="login_input vaM ml10" maxlength="50" />
					</div>
					<script>g('login:j_username').focus();</script>
					<!-- password -->
					<div class="clear mt10 oH">
						<label class="login_label"><h:outputText value="#{msgs['CMS.headerContent.label.input.password.up']}" escape="false"/></label>
						<h:inputSecret id="j_password" name="j_password" value="#{loginForm.password}" maxlength="9" styleClass="login_input ml10" />
					</div>
					<div class="login_info_1">
						<a href="#" onclick="validate();return false;" class="buton_blue but_sprite clear mt10">
							<span class="rs but_sprite"><span class="login_but_w cs but_sprite ttUC"><h:outputText value="#{msgs['CMS.headerContent.label.login.up']}" escape="false"/></span></span>
						</a>
						<!-- forgot password -->
						
						<a class="blueLink clear dB mt10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/password.jsf')}">
							<h:outputText value="#{msgs['CMS.headerContent.label.forgotpassword']}" escape="false" />
						</a>
										
						<!-- error message -->
						<div class="login_error clear">
							 <h:outputText id="errorlogin" />
							 <t:message id="errorloginMsg" for="errorlogin"/>
						</div>
					</div>
					<t:div styleClass="clear mt10 blueLink_in" >
						<h:outputFormat value="#{msgs['CMS.login.text.t2']}" escape='false'>
							<f:param value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" />
						</h:outputFormat>
					</t:div>
				</div>
				<t:div styleClass="clear login_footer">
					<img border="0" alt="" src="#{applicationData.imagesPath}/ao/thawte.png" class="fL mr10"/>
					<h:outputText value="#{msgs['CMS.security.text.t1']}" escape="false" />
					<a class="blueLink" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/security.jsf')}"> <h:outputText value="#{msgs['optionPlus.readMore']}" escape="false" /></a>
				</t:div>
				<h:commandButton action="#{loginForm.loginAPI('login')}" id="hiddenbtn" style="position:absolute;top:-9999em;" />
			</h:form>
		</div>
	</ui:define>
</ui:composition>

</f:view>