/* Open Reset */
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
/* Close Reset */
/* Backgrounds */
.main-image {
	background:url(../images/main-image.jpg) 10px top no-repeat;
	width:1014px;
	height:539px;
	z-index:1;
	position:absolute;
	top:0;
	right:50%;
	margin-right:-507px;
}
.middle-bg {
	background:#000;
	width:100%;
	height:84px;
	position:absolute;
	top:540px;
	left:0;
	z-index:2;
	background:#000 url(../images/middle-black-bg.png) top left repeat-x;
}
.line-top, .line-bottom {
	background:url(../images/line-bg.jpg) top center no-repeat;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:3px;
}
.line-bottom {
	top:81px;
}
.left-middle-bg {
	background:url(../images/left-middle-bg.jpg) repeat-x right top;
	width:50%;
	height:539px;
	position:absolute;
	top:0px;
	left:0;
	z-index:0;
	margin-left:0px;
}
.right-middle-bg {
	background:url(../images/right-middle-bg.jpg) repeat-x -29px top;
	width:50%;
	height:539px;
	position:absolute;
	top:0px;
	z-index:0;
	margin-right:0;
	right:0;
}
.bg-footer {
	height:358px;
	width:100%;
	position:absolute;
	bottom:0;
	right:0;
	background:url(../images/bg-footer.jpg) left top repeat-x;
	z-index:2;
}
/* Close Backgrounds */

/* Elements */
body {
	background:#000 url(../images/bg-bottom.jpg) center 500px repeat-x;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:20px;
	color:#fff;
	position:relative;
}
strong {
	font-weight:bold;
}
/* Close Elements */

/* Layout */
.page {
	width:970px;
	margin:0 auto;
	padding:0;
	z-index:3;
	position:relative;
}
.logo {
	margin-top:10px;
	margin-bottom:480px;
	text-align:left;
	float:left;
}
.top_content {
	width:558px;
	height:340px;
	position:absolute;
	left:206px;
	top:126px;
	text-align:center;
}

h1 {
	font-size:40px;
	padding-bottom:20px;
	margin-top:20px;
}
span.largest {
	font-size:90px;
	font-weight:bold;
}
span.large {
	font-size:63px;
}
.top_content h2 {
	font-size:18px;
}
.bottom-content {
	width:100%;
	padding:0;
}
ul {
	width:100%;
	padding:20px 0 78px;
	text-decoration:none;
	margin:0;
	float:right;
}
ul li {
	font-size:16px;
	float:right;
	margin-left:28px;
	margin-right:0;
	padding:0;
	text-align:center;
}
.last {
	margin-left:0 !important;
}
ul li strong {
	line-height:16px;
}
ul li span {
	color:#d10d0d;
	font-weight:bolder;
}
.FAQ {
	width:500px;
	margin-right:160px;
}
.form_bottom {
	text-align:center;
}
.FAQ p {
	padding:0 6px 12px;
	float:right;
	width:100%;
	line-height:24px;
	margin-bottom:6px;
}
p.question {
	background:#b10a0a;
	padding:6px;
	display:block;
	margin-bottom:0px;
	float:right;
	width:auto;
}
.clear {
	clear:both;
}

/* Close Layout */

/* Form */
	form {
		width:558px;
	}
	form h1 {
		font-size:18px !important;
		padding-bottom:0px;
		padding-top:20px;
	}
	a.submit {
		margin:16px auto 4px;
		display:block;
		height:61px;
		width:300px;
		background:url(../images/button.png) top left;
		text-align:center;
	}
	a.submit:hover {
		background-position:bottom left;
	}


/*short reg hp*/
#headers_field {
    margin: 14px 0 4px;
}
.funnel_h1 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
}
.funnel_subtitle {
    color: #FFD400;
    font-size: 11px;
}
.home_shortReg {
    margin-left: 20px;
    margin-top: 17px;
    width: 250px;
}
.home_shortReg .funnel_hold {
    width: 212px;
}
.home_shortReg .funnel_inp {
    background: none repeat scroll 0 0 white;
    border: 1px solid #B3B3B3;
    color: #6E8695;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    margin-bottom: 11px;
    padding: 1px 0 0 2px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 215px;
}
.home_shortReg .funnel_inp.active {
    border: 1px solid #D7D6D6;
    color: #093755;
    text-transform: none;
}
.home_shortReg .funnel_inp.error {
    border: 1px solid #E97F02;
    color: #E97F02;
    text-transform: none;
}
.home_shortReg .funnel_inp.correct {
    border: 1px solid #BDCEDA;
    color: #6E8695;
    text-transform: none;
}
.home_shortReg .funnel_inp_phone {
    margin-left: 3px;
    width: 128px;
}
.home_shortReg .funnel_names_holder, .home_shortReg .funnel_email_holder, .home_shortReg .funnel_phone_holder, .home_shortReg .funnel_password_holder, .home_shortReg .funnel_password_retype_holder {
    position: relative;
    z-index: 2;
}
.home_shortReg .funnel_phone_holder_drop {
    z-index: 3;
}
.home_shortReg .funnel_phone_code {
    float: left;
    width: 30px;
}
.home_shortReg .funnel_phone {
    float: right;
    width: 170px;
}
.home_shortReg .btn_open_account {
    background: url("../images/btn_open_account.png") no-repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h {
    background-position: 0 0;
    display: block;
    height: 50px;
    left: -4px;
    margin: 5px 0;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 217px;
}
.home_shortReg .btn_open_account_h .rs {
    background-position: right -51px;
    display: block;
    height: 50px;
    padding-right: 10px;
}
.home_shortReg .btn_open_account_h .cs {
    background-position: 0 -104px;
    background-repeat: repeat-x;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 1px;
    padding-top: 24px;
    text-align: center;
    text-shadow: 1px 1px 2px #926A01;
}
.home_shortReg a.btn_open_account_h:hover {
    background-position: 0 -158px;
}
.home_shortReg a.btn_open_account_h:hover .rs {
    background-position: right -211px;
}
.home_shortReg a.btn_open_account_h:hover .cs {
    background-position: 0 -264px;
}
.home_shortReg a.btn_open_account_h.disabled {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg .btn_open_account_h.disabled .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg .btn_open_account_h.disabled .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
    text-shadow: none;
}
.home_shortReg a.btn_open_account_h.disabled:hover {
    background: url("../images/loader_qs.gif") no-repeat scroll center center transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .rs {
    background: none repeat scroll 0 0 transparent;
}
.home_shortReg a.btn_open_account_h.disabled:hover .cs {
    background: none repeat scroll 0 0 transparent;
    color: transparent;
}
.home_shortReg .error_messages {
    color: #E97F02;
}
.home_shortReg .error {
    border: 1px solid #E97F02;
}
.home_shortReg .funnel_chkbx {
    display: block;
    margin-bottom: 5px;
    position: relative;
}
.home_shortReg .funnel_chkbx_inp {
    margin-left: 0;
}
.home_shortReg .funnel_terms_h {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -17px transparent;
    color: #093755;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    padding-left: 20px;
}
.home_shortReg .funnel_terms_h.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -32px transparent;
}
.home_shortReg .funnel_terms_h2 {
    color: #093755;
    display: inline-block;
    font-size: 12px;
    height: 19px;
    margin: 5px 0;
}
#DE .home_shortReg .funnel_terms_h2 {
    font-size: 11px;
}
#TR .home_shortReg .funnel_terms_h2 {
    font-size: 11px;
}
.home_shortReg .funnel_terms_h_in {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -18px transparent;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin-top: -3px;
    vertical-align: middle;
    width: 20px;
}
.home_shortReg .funnel_terms_h_in.checked {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -33px transparent;
}
.home_shortReg .funnel_terms_h2 span {
    color: #0284D6;
    cursor: pointer;
    text-decoration: underline;
}
.home_shortReg .funnel_terms {
    display: none;
}
.home_shortReg .funnel_drop_h {
    background: none repeat scroll 0 0 white;
    border: 1px solid #B3B3B3;
    color: #6E8695;
    display: inline-block;
    height: 21px;
    margin-bottom: 10px;
    padding: 4px 3px 0 2px;
    position: relative;
    vertical-align: middle;
    width: 74px;
    z-index: 2;
}
.home_shortReg .funnel_drop_selected {
    background: url("../images/reg_elms.png") no-repeat scroll right 2px transparent;
    color: #6E8695;
    cursor: pointer;
    font-size: 12px;
    height: 18px;
    margin-top: -2px;
    overflow: hidden;
}
.home_shortReg .funnel_drop_country {
    float: left;
    font-size: 12px;
    margin-top: 4px;
}
.home_shortReg .funnel_drop_countryId {
    float: right;
    font-size: 12px;
    margin: 4px 20px 0 0;
    text-align: right;
}
.home_shortReg .funnel_drop_ul {
    background: none repeat scroll 0 0 white;
    border: 1px solid #859199;
    display: none;
    left: -1px;
    list-style: none outside none;
    margin: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    top: 26px;
}
.home_shortReg .funnel_drop_ul li {
    color: #093755;
    cursor: pointer;
    display: block;
    padding: 1px 2px;
    white-space: nowrap;
}
.home_shortReg .funnel_drop_ul li:hover, .home_shortReg .funnel_drop_ul li.active {
    background: none repeat scroll 0 0 #92ACC0;
    color: white;
}
.home_shortReg .funnel_drop_h.active {
    border: 1px solid #D7D6D6;
    color: #093755 !important;
}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul {
    border: 1px solid #859199;
    display: block;
}
.home_shortReg .funnel_names_error_h {
    position: absolute;
    right: 14px;
    top: 5px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_names_error_h_chb {
    position: absolute;
    right: 14px;
    top: 7px;
    white-space: nowrap;
    width: 11px;
}
.home_shortReg .funnel_error_hide {
    display: none;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_error_bad {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -50px transparent;
    display: inline-block;
    height: 11px;
    margin-top: 4px;
    width: 11px;
}
.home_shortReg .funnel_error_good {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -61px transparent;
    display: inline-block;
    height: 11px;
    width: 11px;
}
.home_shortReg .funnel_tooltip_h {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #3B6079;
    display: none;
    padding: 5px;
    position: absolute;
    right: -194px;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 170px;
}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -73px transparent;
    display: block;
    height: 18px;
    left: -14px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_tooltip_h_left {
    background: none repeat scroll 0 0 #F5FBFF;
    border: 1px solid #3B6079;
    color: #093755;
    display: none;
    font-size: 10px;
    left: -167px;
    line-height: 13px;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 140px;
}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow {
    background: url("../images/reg_elms.png") no-repeat scroll 0 -94px transparent;
    display: block;
    height: 18px;
    left: 150px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    transition: all 0.5s ease 0s;
    width: 14px;
}
.home_shortReg .funnel_error_list {
    color: #FF9700;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
    width: 230px;
}
.home_shortReg .funnel_error_list span {
    display: block;
}
.home_shortReg .funnel_names_error_msg_h {
    display: none;
}
.home_shortReg .funnel_inp_first_name {
    width: 78px;
}
.home_shortReg .funnel_inp_last_name {
    margin-left: 3px;
    width: 127px;
}
funnel_drop_selected.active {
    color: #093755 !important;
}
/*short reg hp end*/
/* Close Form */


/* Footer */
	#footer {
		text-align: center;
		width: 975px;
		margin: 0 auto;
		font-size: 9px;
		padding-top:60px;
	}
	#footer .icons {
		height: 30px;
		margin: 0 auto;
		width: 604px;
		padding: 15px 0 15px 0;
	}
	#footer .icons .icon_space {
		margin-left: 20px;
		float: right;
	}
	#footer .links {
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.footer_text {
		color: #757575;
		font-size: 11px;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		padding: 20px 0;
		line-height: 16px;
		position: relative;
		border-top: solid 1px #E5E5E5;
	}
	#footer .footer_text p {
		padding: 0px;
		margin: 0px;
	}
	#footer .footer_link {
		color: #0284D6;
		font-size: 9px;
		line-height: 13px;
		text-align: center;
		text-decoration: none;
	}
	#footer .footer_link:hover {
		color: #093755;
		font-size: 9px;
		line-height: 13px;
		text-align: center;
		text-decoration: none;
	}
/* Close Footer */

/* Errors */
	#error_box {display:none;position:absolute; z-index:100; top:50%; background: #094765 no-repeat left top; width:250px; overflow:hidden; border: 1px solid #FFFFFF;}
	.error_message {margin-top: 50px; height:50px; padding:0 10px; font-size:14px; font-weight:bold; color:#fff; text-align:center;}
	.error_button	{background: transparent url(../../images/form_full_alret_button.png) no-repeat left top; width: 80px; height: 48px; margin: 0 auto; cursor:pointer; margin: 0 auto; margin-bottom:15px;}
	.error	{background-position: 0 -26px;}
		
	#Overlay {
		background-color:#000;
		display:none;
		height:100%;
		left:0;
		margin: auto;
		opacity: 0.4;
		filter: alpha(opacity = 20);
		position: fixed;
		top:0;
		width:100%;
		z-index:99;
	}

/* Close Errors */