        html {
        height: 100%;
      }
      body {
        margin: 0;
        padding: 0;
        background: transparent;

      }

      #container {
        position: absolute;
        background: transparent;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        overflow:hidden;
      }

      #container canvas {
        pointer-events: none;
      }

      #info {
        pointer-events: none;
        color: white;
        font-size: 64px;
        text-align: center;
        position: absolute;
        z-index: 10;
        top: 40px;
        left: 0px;
        width: 100%;
        opacity: 0;
        font-family: 'Raleway', sans-serif;
        -webkit-transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-in-out;
      }
      #info.visibleInfo {
        top: 60px;
        opacity: 1;
      }

      html {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .marker-container {
        display: inline-block;
        position: absolute;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: 0.5s opacity ease-in-out, 0.5s -webkit-transform ease-in-out;
        -webkit-transform-origin: 0% 0%;
        -webkit-transform: translateZ(0px) translateY(20px) rotateY(0deg);
      }

      .marker {
        display: inline-block;
        position: relative;
        pointer-events: auto;
        margin-left: -50%;
        -webkit-transform: translateY(-100%) translateY(-5px);
      }

      .INFORMATIONAL-BOX div {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      .INFORMATIONAL-BOX {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
        -webkit-transition-duration: 1s;
        display: block;
        position: relative;
        white-space: nowrap;
        z-index: 0;
        color: WHITE;
        font-weight: BOLD;
        text-align: center;
        font-size: 12px;
        Line-height: 16px;
        background-color: #138cdb;
        padding-top: 2px;
        padding-bottom: 3px;
        font-family: sans-serif;
       /* text-shadow: 0px -1px 1px rgba(0,0,0,0.5);
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.0, rgb(200,0,0)),
          color-stop(1.0, rgb(150,0,0))
        );*/
      }

      .REDTRIANGLE {
        box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        z-index: 1;
        width: 10px;
        height: 10px;
        background: -webkit-gradient(
          linear,
          left top,
          right bottom,
          color-stop(0.5, rgb(16,142,222)),
          color-stop(1.0, rgb(16,142,222))
        );
/*       background: -moz-linear-gradient(top,  #138cdb,  #138cdb);*/
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: rotate(45deg);
        position: absolute;
        left: 50%;
        bottom: -5px;
        margin-left: -5px;
        margin-top: -5px;
      }

      .site-list {
        display: none;
        padding: 0px;
        margin: 0px;
      }

      .marker-container[current=true] .INFORMATIONAL-BOX {
        margin-left: 0px;
        margin-right: 0px;
      }

      .marker-container[current=true] .REDTRIANGLE {
      }

      .marker-container[current=true] .site-list {
        display: block;
      }


      .greendot {
        position: absolute;
        left: -5px;
        top: -5px;
        z-index: 50;
        width: 11px;
        height: 11px;
        background-color: rgba(0,255,0,0.5);
      }

      .INFORMATIONAL-BOX_static {
        /*display: block;*/
        position: relative;
        z-index: 0;
        color: WHITE;
        font-weight: normal;
        text-align: center;
        font-size: 12px;
        Line-height: 16px;
        background-color: #138cdb;
        padding: 3px 10px;
        font-family: sans-serif;
        padding: 10px;
   /*     margin: 0 auto;
        margin-top: 120px;*/
		width: 200px !important;

      }

      .INFORMATIONAL-BOX_static span {
      	white-space: nowrap;
      }

      .info_div_container {
		margin-top: 5px;
      }

	 .span_flag {
		margin-right: 5px;
		vertical-align: top;
	 }

	 .bold {
		font-weight: bold;
	 }

	 .span_flag1 {
	 	margin-right: 5px;
		vertical-align: top;
	 }

	 .margin_5 {
		margin-right: 5px;
	 }
