.left .you {
	width: 685px;
	height: auto;
	float: left;
	margin: 6px 0;
}
.you .b {
	width: 683px;
	height: auto;
	border: 1px #dddddd solid;
	border-top: 0px;
	overflow: hidden;
}
.you .b .j {
	width: 683px;
	height: auto;
	margin: 5px 0;
	float: left;
}
.you .b .j .ico {
	width: 90px;
	height: 82px;
	text-align: center;
	padding: 10px 30px;
	float: left;
}
.you .b .j .tt {
	width: 530px;
	float: left;
}
.you .b .j .tt p {
	_padding: 2px 0;
	font-size: 12px;
}
.headDown {
	color: #333;
	font-size: 14px;
	line-height: 32px;
	font-weight: bold;
}
#link {
	width: 970px;
	height: auto;
	margin: 6px auto;
	clear: both;
	overflow: hidden;
}
#link .t {
	width: 968px;
	height: 29px;
	line-height: 29px;
	background: #ECECEC;
	border-top: 1px #DDD solid;
	border-right: 1px #DDD solid;
	border-left: 1px #DDD solid;
	border-bottom: solid 1px #333;
	padding: 0px;
	margin: 0px;
}
#link .b {
	width: 968px;
	height: 36px;
	border: 1px #dddddd solid;
	border-top: 0px;
}
#link .b a {
	width: 100px;
	text-align: center;
	float: left;
	line-height: 36px;
	color: #333 !important;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
}
#link .b a:hover {
	color: #e9800f !important;
}
.ticker_table_chinese {
	margin: 0px;
	background-image: url(../images/zh_15/home_page/button_up.png);
	background-repeat: repeat-x;
	border-width: 0px 0px 0px 0px;
	border-style: none none none none;
}
.ttab {
	float: left;
	width: 685px;
}
#con {
	font-size: 12px;
	margin: 0;
	width: 685px;
}
#tags {
	overflow: hidden;
	PADDING: 0px;
	MARGIN: 0; /*WIDTH: 683px; HEIGHT: 26px; background: #ececec;  border-top: 1px #DDD solid; border-right: 1px #DDD solid; border-left: 1px #DDD solid; border-bottom: solid 1px #333;*/
}
#tags LI {
	FLOAT: left;
	LIST-STYLE-TYPE: none;
	HEIGHT: 26px;
}
#tags LI A {
	FLOAT: left;
	COLOR: #fff !important;
	LINE-HEIGHT: 28px;
	HEIGHT: 26px;
	background: url(../images/zh_15/home_page/bgTab_inactive.png) no-repeat left bottom;
	width: 142px;
	TEXT-DECORATION: none;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#tags li A:hover {
	background: url(../images/zh_15/home_page/bgTab_active.png) no-repeat left top;
	COLOR: #fff !important;
	text-decoration: none !important;
}
#tags LI.selectTag {
	position: relative;
	HEIGHT: 26px;
	background: url(../images/zh_15/home_page/bgTab_active.png) no-repeat left bottom;
	width: 142px;
}
#tags LI.selectTag A {
	color: #FFFFFF !important;
	LINE-HEIGHT: 28px;
	HEIGHT: 26px;
	background: url(../images/zh_15/home_page/bgTab_active.png) no-repeat left bottom;
	width: 142px;
}
#tags LI.selectTag A:hover {
	color: #fff !important;
	text-decoration: none !important;
}
#tagContent {
	border-top: 0px;
	BACKGROUND-COLOR: #fff;
}
.tagContent {
	padding-right: 10px;
	DISPLAY: none;
	PADDING-LEFT: 10px;
	PADDING-BOTTOM: 10px;
	WIDTH: 663px;
	COLOR: #333;
	PADDING-TOP: 10px;
	HEIGHT: 115px;
	line-height: 22px;
	border: 1px solid #dddddd;
}
#tagContent DIV.selectTag {
	display: block
}
.left .jiao {
	width: 685px;
	height: auto;
	float: left;
}
.left .t {
	width: 683px;
	height: 29px;
	line-height: 29px;
	background: #ECECEC;
	border-top: 1px #DDD solid;
	border-right: 1px #DDD solid;
	border-left: 1px #DDD solid;
	border-bottom: solid 1px #333;
	padding: 0px;
	margin: 0px;
}
.left .jiao .b {
	width: 683px;
	height: 144px;
	border: 1px #dddddd solid;
	border-top: 0px;
}
.left .jiao .b .j12 {
	width: 683px;
	height: 72px;
	background: url(images/j12.jpg);
	line-height: 28px;
}
.left .jiao .b .l {
	padding: 0 0 0 60px;
	width: 281px;
	float: left;
}
.left .jiao .b .j34 {
	background: url(images/j34.jpg);
}
.b .j12 {
	width: 683px;
	height: 72px;
	background: url(../images/zh_15/home_page/j12.jpg);
	line-height: 28px;
}
.b .l {
	padding: 0 0 0 60px;
	width: 281px;
	float: left;
}
.b .j34 {
	background: url(../images/zh_15/home_page/j34.jpg);
}
.f1 {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}
.f3 {
	font-size: 12px;
	font-weight: normal;
}
.f4 {
	line-height: 18px;
}
.f5 {
	line-height: 24px;
}
.f6 {
	font-weight: bold;
	font-size: 14px;
}
.title {
	color: #1e50a2;
	font-size: 14px;
	font-weight: bold;
}
.f2 {
	color: #333 !important;
	text-decoration: none;
	width: 460px;
	text-align: right;
	float: left;
}
.f2 a {
	color: #333 !important;
	text-decoration: none;
}
.f2 a:hover {
	color: #e9800f !important;
}
.f2.2 {
	color: #333;
	text-decoration: none;
	text-align: left;
	float: left;
}
.f2.2:hover {
	color: #e9800f;
	text-decoration: underline;
}
.f12 {
	color: #e77918;
	font-size: 14px;
	font-weight: bold;
}
#right .news {
	width: 277px;
	float: left;
	margin: 0 0 6px 0;
}
#right .news .t {
	width: 277px;
	height: 29px;
	line-height: 29px;
	background: #ECECEC;
	border-top: 1px #DDD solid;
	border-right: 1px #DDD solid;
	border-left: 1px #DDD solid;
	border-bottom: solid 1px #333;
	padding: 0px;
	margin: 0px;
}
#right .news .b {
	width: 277px;
	height: auto;
	border: 1px #dddddd solid;
	border-top: 0px;
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
}
#right .news .b2 {
	width: 261px;
	height: auto;
	border: 1px #dddddd solid;
	border-top: 0px;
	overflow: hidden;
	padding: 8px;
	line-height: 20px;
	font-size: 12px;
}
#right .news .b4 {
	width: 261px;
	height: 117px;
	border: 1px #dddddd solid;
	border-top: 0px;
	overflow: hidden;
	padding: 8px;
	line-height: 20px;
	font-size: 12px;
}
#right .news .b .tt {
	width: 264px;
	line-height: 24px;
	float: left;
	padding: 0 4px 0 8px;
}
#right .news .b .link {
	font-size: 12px;
	text-align: right;
	line-height: 20px;
	text-decoration: none;
	padding-right: 10px;
}
.title {
	width: 142px;
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: transparent url(../images/zh_15/home_page/bg_title_1.00.png) no-repeat left bottom;
	line-height: 32px;
	height: 29px;
	margin: 0px;
	padding-left: 4px;
}
.title_2 {
	width: 185px;
	text-align: left;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: transparent url(../images/zh_15/home_page/bg_title_2.00.png) no-repeat left bottom;
	line-height: 32px;
	height: 29px;
	padding-left: 16px;
}
.space_between_square {
	height: 5px;
}
a:hover {
	color: #e9800f;
}
a {
	color: #0478c1;
}
#line {
	width: 970px;
	height: 3px;
	background: #333;
	margin: 6px auto;
	clear: both;
	overflow: hidden;
	margin-left: 0px;
}