@charset utf-8;
body{background-color:#E1E1E1;font-family:Arial,Helvetica,sans-serif;height:100%;margin:0;padding:0;}
img{border:medium none;}
#page{background-color:#FFF;border-bottom:1px solid #A8A8A8;border-left:1px solid #A8A8A8;border-right:1px solid #A8A8A8;display:table;height:auto!important;min-height:100%;position:relative;width:970px;background:url(../images/page_bk.png) repeat-x scroll center bottom #FFF;margin:0 auto;}
#header{background:url(../images/header.gif) repeat-x scroll 0 0 transparent;height:103px;}
#header .logo{background:url(../images/options_trading_anyoption.gif) repeat scroll 0 0 transparent;height:103px;margin-left:17px;width:284px;}
#header .info{background:url(../images/header_info.jpg) no-repeat scroll 0 0 transparent;color:#FFF;float:right;font-size:13px;height:103px;position:relative;text-align:center;width:389px;}
#header .info .live_chat{float:left;height:27px;line-height:25px;margin-left:34px;margin-top:39px;padding-left:35px;}
#header .info .live_chat a,#header .info .live_chat a:hover{color:#FFF;text-decoration:none;}
#header .info .number{margin-top:30px;margin-right:-77px;}
#footer{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;line-height:15px;margin-bottom:40px;margin-top:50px;text-align:center;}
#footer .icons{height:30px;padding-left:20px;border:medium none;width:360px;margin:0 auto;}
#footer .icons .icon_space{float:left;margin-right:20px;}
#footer .links{margin-bottom:15px;margin-top:20px;}
#footer .footer_link{color:#0284D6;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;line-height:13px;text-align:center;text-decoration:none;}
#footer .footer_link:hover{color:#093755;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;line-height:13px;text-align:center;text-decoration:none;}
#footer .footer_text{color:#7D7D7D;float:left;margin-bottom:20px;margin-left:35px;margin-top:10px;position:relative;width:900px;}
p{margin:0 0 4px;padding:0;}
h2{font-size:18px;}
#banner1{background:url(../images/banner_en.jpg) no-repeat scroll 0 0 transparent;height:1000px;position:relative;width:970px;margin:0 auto;}
.l_text_box{color:#525252;float:left;font-family:Tahoma,Geneva,sans-serif;font-size:14px;line-height:18px;margin-left:33px;margin-top:110px;position:relative;width:640px;}
.t_box_investor2{background-image:url(../images/bg_investor2.jpg);background-position:left top;background-repeat:no-repeat;float:left;height:179px;margin-top:20px;position:relative;width:408px;padding:60px 20px 0 210px;}
.t_box_investor{background-image:url(../images/bg_investor.jpg);background-position:left top;background-repeat:no-repeat;float:left;height:149px;margin-top:20px;position:relative;width:408px;padding:60px 20px 0 210px;}
.t_box_stock_investor{background-image:url(../images/bg_stock_investor.jpg);background-position:left top;background-repeat:no-repeat;float:left;height:179px;margin-top:20px;position:relative;width:408px;padding:60px 20px 0 210px;}
.t_text{color:#525252;font-size:13px;line-height:16px;}
.t_name{color:#525252;font-size:11px;font-weight:700;}
.r_text_box{color:#FFF;font-size:12px;left:712px;position:absolute;top:44px;}
.title_image{margin:0 0 13px 5px;}
.r_text_box h2{margin:0 0 10px;}
.star{color:#F6CD10;font-weight:400;}
.submit_image{margin-left:-7px;margin-top:6px;}
.error{background-position:0 -23px;}
.bottom_line{color:#0471B5;font-size:16px;font-weight:700;}
.agree{float:left;margin-right:10px;}
.error_text{height:19px;overflow:visible;}
.error_bullets{color:#EE2930;font-size:13px;font-weight:700;list-style-image:url(../images/error_bullet.png);margin:3px;padding:0 0 0 18px;}
.yellow{color:#F6CD10;}
.plus{color:#000;float:left;margin-top:7px;text-align:right;width:15px;}
.regulated{border-bottom:1px solid #E5E5E5;border-top:1px solid #E5E5E5;color:#898989;float:left;font-size:14px;height:40px;margin-bottom:15px;margin-left:3px;width:950px;padding:10px 5px 5px 7px;}
.regulated div{width:925px;margin:0 auto;}
.logo{background-repeat:no-repeat;width:95%;}
.reg-logo{background:url(../../images/regulated-logo.png) no-repeat scroll 0 0 transparent;float:right;height:67px;position:absolute;right:24px;top:30px;padding:14px 0 0 55px;}
.reg-logo p{color:#FFF;font-size:15px;}
.regulated img{float:right;}
.regulated p{float:left;margin-top:7px;}
#headers_field{margin:14px 0 4px;}
.funnel_h1{color:#FFF;font-size:15px;font-weight:400;text-align:left;text-transform:uppercase;margin:0;padding:0;}
.funnel_subtitle{color:#FFD400;font-size:11px;}
.home_shortReg{margin-top:25px;width:250px;}
.home_shortReg .funnel_hold{width:212px;}
.home_shortReg .funnel_inp{background:none repeat scroll 0 0 #FFF;border:1px solid #FFF;color:#6E8695;display:inline-block;font-size:12px;height:24px;margin-bottom:14px;position:relative;text-transform:uppercase;vertical-align:middle;width:215px;padding:0 0 2px 2px;}
.home_shortReg .funnel_inp.active{border:1px solid #859199;color:#093755;text-transform:none;}
.home_shortReg .funnel_inp.error{border:1px solid #E97F02;color:#E97F02;text-transform:none;}
.home_shortReg .funnel_inp.correct{border:1px solid #BDCEDA;color:#6E8695;text-transform:none;}
.home_shortReg .funnel_inp_phone{margin-left:3px;width:128px;}
.home_shortReg .funnel_names_holder,.home_shortReg .funnel_email_holder,.home_shortReg .funnel_phone_holder,.home_shortReg .funnel_password_holder,.home_shortReg .funnel_password_retype_holder{position:relative;z-index:2;}
.home_shortReg .funnel_phone_holder_drop{z-index:3;}
.home_shortReg .funnel_phone_code{float:left;width:30px;}
.home_shortReg .funnel_phone{float:right;width:170px;}
.home_shortReg .btn_open_account{background:url(../images/btn_open_account.png) no-repeat scroll 0 0 transparent;}
.home_shortReg a.btn_open_account_h{background-position:0 0;display:block;height:50px;left:-4px;overflow:hidden;padding-left:10px;position:relative;text-decoration:none;text-transform:uppercase;width:217px;margin:5px 0;}
.home_shortReg .btn_open_account_h .rs{background-position:right -51px;display:block;height:50px;padding-right:10px;}
.home_shortReg .btn_open_account_h .cs{background-position:0 -104px;background-repeat:repeat-x;color:#FFF;display:block;font-size:18px;font-weight:700;height:50px;line-height:1px;padding-top:24px;text-align:center;text-shadow:1px 1px 2px #926A01;}
.home_shortReg a.btn_open_account_h:hover{background-position:0 -158px;}
.home_shortReg a.btn_open_account_h:hover .rs{background-position:right -211px;}
.home_shortReg a.btn_open_account_h:hover .cs{background-position:0 -264px;}
.home_shortReg .btn_open_account_h.disabled .cs{background:none repeat scroll 0 0 transparent;color:transparent;text-shadow:none;}
.home_shortReg a.btn_open_account_h.disabled:hover .cs{background:none repeat scroll 0 0 transparent;color:transparent;}
.home_shortReg .error_messages{color:#E97F02;}
.home_shortReg .error{border:1px solid #E97F02;}
.home_shortReg .funnel_chkbx{display:block;margin-bottom:5px;position:relative;}
.home_shortReg .funnel_chkbx_inp{margin-left:0;}
.home_shortReg .funnel_terms_h{background:url(../images/reg_elms.png) no-repeat scroll 0 -17px transparent;color:#093755;cursor:pointer;display:inline-block;height:15px;padding-left:20px;}
.home_shortReg .funnel_terms_h.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -32px transparent;}
.home_shortReg .funnel_terms_h2{color:#FFF;display:inline-block;font-size:12px;height:19px;margin:5px 0;}
.home_shortReg .funnel_terms_h_in{background:url(../images/reg_elms.png) no-repeat scroll 0 -18px transparent;cursor:pointer;display:inline-block;height:14px;margin-top:-3px;vertical-align:middle;width:20px;}
.home_shortReg .funnel_terms_h_in.checked{background:url(../images/reg_elms.png) no-repeat scroll 0 -33px transparent;}
.home_shortReg .funnel_terms_h2 span{color:#FFF;cursor:pointer;text-decoration:underline;}
.home_shortReg .funnel_drop_h{background:none repeat scroll 0 0 #FFF;border:1px solid #BDCEDA;color:#6E8695;display:inline-block;height:21px;margin-bottom:9px;margin-top:-6px;position:relative;vertical-align:middle;width:74px;z-index:2;padding:5px 3px 0 2px;}
.home_shortReg .funnel_drop_selected{background:url(../images/reg_elms.png) no-repeat scroll right 2px transparent;color:#6E8695;cursor:pointer;font-size:12px;height:18px;margin-top:-2px;overflow:hidden;}
.home_shortReg .funnel_drop_country{float:left;font-size:12px;margin-top:4px;}
.home_shortReg .funnel_drop_countryId{float:right;font-size:12px;text-align:right;margin:4px 20px 0 0;}
.home_shortReg .funnel_drop_ul{background:none repeat scroll 0 0 #FFF;border:1px solid #859199;display:none;left:-1px;list-style:none outside none;max-height:300px;overflow-x:hidden;overflow-y:auto;position:absolute;top:26px;margin:0;padding:0;}
.home_shortReg .funnel_drop_ul li{color:#093755;cursor:pointer;display:block;white-space:nowrap;padding:1px 2px;}
.home_shortReg .funnel_drop_ul li:hover,.home_shortReg .funnel_drop_ul li.active{background:none repeat scroll 0 0 #92ACC0;color:#FFF;}
.home_shortReg .funnel_drop_h.active{border:1px solid #92ACC0;color:#093755!important;}
.home_shortReg .funnel_drop_h.active .funnel_drop_ul{border:1px solid #859199;display:block;}
.home_shortReg .funnel_names_error_h{position:absolute;right:14px;top:5px;white-space:nowrap;width:11px;}
.home_shortReg .funnel_names_error_h_chb{position:absolute;right:14px;top:7px;white-space:nowrap;width:11px;}
.home_shortReg .funnel_error_hide{display:none;height:11px;width:11px;}
.home_shortReg .funnel_error_bad{background:url(../images/reg_elms.png) no-repeat scroll 0 -50px transparent;display:inline-block;height:11px;margin-top:4px;width:11px;}
.home_shortReg .funnel_error_good{background:url(../images/reg_elms.png) no-repeat scroll 0 -61px transparent;display:inline-block;height:11px;width:11px;}
.home_shortReg .funnel_tooltip_h{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;display:none;position:absolute;right:-194px;top:0;transition:all .5s ease 0;width:170px;padding:5px;}
.home_shortReg .funnel_tooltip_h .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -73px transparent;display:block;height:18px;left:-14px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px;}
.home_shortReg .funnel_tooltip_h_left{background:none repeat scroll 0 0 #F5FBFF;border:1px solid #3B6079;color:#093755;display:none;font-size:10px;left:-167px;line-height:13px;position:absolute;top:0;transition:all .5s ease 0;width:140px;padding:5px;}
.home_shortReg .funnel_tooltip_h_left .funnel_tooltip_arrow{background:url(../images/reg_elms.png) no-repeat scroll 0 -94px transparent;display:block;height:18px;left:150px;margin-top:-9px;position:absolute;top:50%;transition:all .5s ease 0;width:14px;}
.home_shortReg .funnel_error_list{color:#FF9700;font-size:12px;line-height:15px;padding-top:5px;width:230px;}
.home_shortReg .funnel_error_list span{display:block;}
.home_shortReg .funnel_inp_first_name{width:78px;}
.home_shortReg .funnel_inp_last_name{margin-left:3px;width:127px;}
funnel_drop_selected.active{color:#093755!important;}
.hide,.home_shortReg .funnel_terms,.home_shortReg .funnel_names_error_msg_h{display:none;}
.agree_text,#DE .home_shortReg .funnel_terms_h2{font-size:11px;}
.home_shortReg a.btn_open_account_h.disabled,.home_shortReg a.btn_open_account_h.disabled:hover{background:url(../images/loader_qs.gif) no-repeat scroll center center transparent;}
.home_shortReg .btn_open_account_h.disabled .rs,.home_shortReg a.btn_open_account_h.disabled:hover .rs{background:none repeat scroll 0 0 transparent;}