﻿<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">无风险期权</span><br/>
            <span class="bonus_text"><strong>anyoption™</strong> 现向您提供难得一次的优惠 – 一次无风险期权! <br/>
            <br/>
            您所要做的就是购买一个看跌或则看涨期权，您可任意选择其相关资产以及任意的期满日。如果您购买的期权是价内期权 – 您将能获取保证的收益比例。<br/>
            <br/>
            如果您购买的期权是价外期权，那么您还能取回投资的全部金额！您根本没有什么损失。<br/>
            <br/>
            优惠的有效期至 &#160; <h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.</span><br/>
			<br/>
            <span class="bonus_terms"><strong>“无风险期权” – 一般条款</strong><br/>
            此优惠适用于一种期权，需要根据客户具体参与的优惠条款而论。
            <br/>
            要获得此优惠奖金的最小投资额为 #{facesContext.externalContext.requestParameterMap['minInvestAmount']}. 而可获得此优惠的最大投资额为 #{facesContext.externalContext.requestParameterMap['maxInvestAmount']}. 若投资额低于最小投资额或高于最大金额将不能取得退款。<br/>
            <br/>
            可使客户获得取得退款优惠的期权，已在提供给客户的具体优惠条款中详细说明，期权必须放置于某一固定时间段内。<br/>
            <br/>
            如果您购买的期权是价外期权，您将取得退款。<br/>
            <br/>
            此优惠不适用于一触即付期权或者OPTION+期权。<br/>
            <br/>
            除非在优惠条款中另有说明，客户若想在收到此优惠奖金后，从账户提款的前提是客户需再作出投资，投资金额需高于原产生收益的期权价值的 #{facesContext.externalContext.requestParameterMap['wageringParam']} 倍。<br/>
            <br/>
            本公司鼓励其客户参与优惠活动，但不要滥用。滥用任何优惠均可导致奖金取消和关闭客户在本网站的账户。<br/>
            <br/>
            奖金必须在具体陈述的有效期内使用。如果奖金在有效期期间未被使用，奖金将会从客户帐户撤销。<br/>
            <br/>
			在收到奖金/福利后，客户有3（三）个月时间来达到作为取款先决条件的投资总额要求。‎如果在这段时间内，投资总额没有达到要求的数额，公司将根据自由裁量权，从客户的账户中取回相应的奖金/福利。‎<br/>
			<br/>
            <h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
				<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
				<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
			</h:outputFormat>
            <br/><br/>
            <h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
            </span> </td>
        </tr>
      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
