﻿<f:view xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">


<br/>

<span class="info_pages_text">
Eine Option ist das Recht auf eine Aktie bzw. ein Derivat. Eine Option gibt Ihnen also das Recht, eine Aktie einen Index oder andere handelbare Werte zu dem in der Option festgelegten Basispreis (Ausübungspreis), einem festen Zeitpunkt bzw. einem festgelegten Zeitraum und einer festgelegten Menge zu kaufen oder zu verkaufen.
</span>
<br/><br/>

<span class="info_pages_text">
Sie investieren so nur einen kleinen Teil des Geldes für Optionen, den Sie sonst für die zugrunde liegende Aktie hätten ausgeben müssen, um eine relativ große Menge an Aktien zu kontrollieren. Durch diese Hebelwirkung von Optionen profitieren Sie deutlich stärker von der Bewegung einer Aktie oder eines anderen Basiswerts, als wenn Sie in diese selbst investieren. Somit erzielen Sie Gewinne durch die Hebelkraft.
</span>
<br/><br/>

<span class="info_pages_text">
Sie riskieren im Optionshandel maximal Ihr eingesetztes Geld. Bedenken Sie dabei immer, dass Sie durch die Hebelkraft von Optionen weit weniger Geld einsetzen, als beim Kauf von den jeweiligen Aktien. Der große Vorteil im Optionshandel: Sie können in jeder Marktlage Geld verdienen.
</span>
<br/><br/>

<span class="info_pages_text">
Der Handel mit Optionen kann in fallenden Märkten ebenso profitabel sein wie in steigenden Märkten. Angebot und Nachfrage regeln den Preis, Sie müssen also nicht auf steigende Kurse warten.
Gerade in schwierigen Marktsituationen, wo es erst ein paar Schritte rauf und dann wieder ein paar Schritte zurückgeht, sind Trades mit Optionen die mit Abstand beste bankenunabhängige Anlageform.
<br/>
Kurzfristige Börsen-Bewegungen, egal in welche Richtung, sind nahezu perfekt. Perfekt für Gewinne auf die wichtigen Indizes wie Dow Jones, Nasdaq und natürlich auch auf Einzelwerte.
</span>
<br/><br/>

<span class="info_pages_text">
Beim Traden mit Optionen kann ein Jeder den ganz großen Gewinn machen. Oder alles verlieren! Wir möchten verhindern, dass Sie Verluste bis hin zum Totalverlust einfahren, aber manchmal geht es nicht ohne Verluste. Das sollte jedem klar sein.
</span>
<br/><br/>


<span class="info_pages_text">
anyoption™ hat sich auf eine spezielle Variante von Optionen spezialisiert: Sogenannte
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/digitale_optionen.jsf')}">digitale Optionen</a> oder
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/digitale_optionen.jsf')}">Digitaloptionen.</a> Sie profitieren bei Digitaloptionen gleichermaßen
von allen oben geschilderten Vorteilen des Optionshandels haben jedoch darüber hinaus noch einen im vorraus fesgelegten Auszahlungsbetrag. So können Sie einfacher und noch schneller Markttrends nutzen und Ihr Investmentrisiko klar kalkulieren. Lesen Sie hier alle
<a class="general_link_blue_10" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/digitale_optionen.jsf')}">Details zu unseren Digitaloptionen!</a>

</span>
<br/><br/>


<br/>
</f:view>