<?xml version="1.0" encoding="UTF-8"?>
<rss
		xmlns:atom="http://www.w3.org/2005/Atom"
		xmlns:feedburner="http://rssnamespace.org/feedburner/ext/1.0" version="2.0"
		xmlns:ui="http://java.sun.com/jsf/facelets"
	   	xmlns:f="http://java.sun.com/jsf/core"
	  	xmlns:h="http://java.sun.com/jsf/html"
	   	xmlns:c="http://java.sun.com/jsp/jstl/core"
	   	xmlns:t="http://myfaces.apache.org/tomahawk"
		>
	<channel>
		<title>anyoption - Show Off</title>
		<description>The place for anyoption™ traders to show off their binary options trades</description>
		<h:outputText value="&#13;&lt;link&gt;#{applicationData.homePageUrl}jsp/showOff.jsf&lt;/link&gt;&#13;" escape="false" />
		<atom:link href="#{applicationData.homePageUrl}jsp/xml/showOffRss.jsf" rel="self" type="application/rss+xml" />
		<h:outputText value="&#13;#{showOff.rssItems}" escape="false" />
	</channel>
</rss>