@media (max-width: 1024px) and (orientation:landscape) {
	.intro {
		.intro-box {
			top: 36%;
			h2 {margin-bottom: 5%;}
		}
	}
}
@media (max-width:767px) {
	body {
		font-size: 15px;
	}
	h1 {font-size: 30px;}
	h2 {font-size: 22px;}
	h3 {font-size: 17px;}
	.sub-heading {font-size: 18px;}
	header {
		.wrapper {
			padding: 10px 20px;
		}
		.hamburger {
			width: 20px;
			height: 20px;
			.icon-left {
				top: 9px;
				width: 10px;
				height: 2px;
				&::before {
					top: -6px;
					width: 10px;
					height: 2px;
				}
				&::after {
					top: 6px;
					width: 10px;
					height: 2px;
				}
			}
			.icon-right {
				top: 9px;
				left: 10px;
				width: 10px;
				height: 2px;
				&::before {
					top: -6px;
					width: 10px;
					height: 2px;
				}
				&::after {
					top: 6px;
					width: 10px;
					height: 2px;
				}
			}
			&.open {
				.icon-left {
					&::before {transform: rotateZ(45deg) scaleX(1.3) translate(1px, 1px);}
					&::after {transform: rotateZ(-45deg) scaleX(1.3) translate(1px, -1px);}
				}
				.icon-right {
					&::before {transform: rotateZ(-45deg) scaleX(1.3) translate(-1px, 1px);}
					&::after {transform: rotateZ(45deg) scaleX(1.3) translate(-1px, -1px);}
				}
			}
		}
		a {line-height: 0.8;}
	}
	.logo {
		width: 105px;
		height: 25px;
	}
	nav {
		.navigation {
			width: calc(100% - 35px);
			height: calc(100% - 48px);
			a {
				padding: 15px;
				font-size: 16px;
				&::before {margin-right: 20px;}
				&.active {
					background: #0284d6;
				}
			}
			.home::before{width:30px;height: 23px;}
			.open-account::before{width: 30px;height: 23px;}
			.trading::before{width:30px;height: 23px;};
			.banking::before{width: 30px;height: 23px;}
			.info::before{width: 30px;height: 23px;}
			.blog::before {width: 30px;height: 23px;}
			.download-app::before {width: 30px;height: 23px;}
			.yellow-arrow::after {width: 10px;height: 12px;}
			.sub-navigation {
				a {padding-left: 63px;}
				.products::before{width: 30px;height: 23px;}
				.strategy::before{width: 30px;height: 23px;}
				.faq::before {margin-right: 14px;width:30px;height: 23px;}
				.security::before {width:30px;height: 26px;}
				.contact-us::before {width: 30px;height: 18px;}
			}
			.oppend {
				.yellow-arrow::after {
					right: 16px;
				}
			}
			.block-el {width: calc(100% - 50px);}
		}
	}
	/*Form Elements Start*/
	.input {
		padding: 15px 10px;
		height: 52px;
		font-size: 13px;
	}
	::placeholder {font-size:13px;}
	::-webkit-input-placeholder {font-size:13px;}
	::-moz-placeholder{font-size:13px;}
	:-ms-input-placeholder{font-size:13px;}
	.checkbox {
		margin: 0 10px 0 10px;
		width: 20px;
		height: 20px;
	}
	input[type="checkbox"]:checked + .checkbox::before {
		margin: 2px 0 0 1.5px;
		width: 12px;
		height: 12px;
	}
	.label {
		width: 55px;
		min-width: 55px;
		height: 52px;
	}
	.pretty-select {
		padding: 12px 10px 16px;
		// padding: 15px 10px;
		option {font-size: 13px;}
		&.arrow::after {
			top: 37%;
			right: 12px;
			width: 7px;
		}
	}
	/*Form Elements End*/
	/*Errors Start*/
	input-errors, .error-message {
		margin: 0 auto;
		span {font-size: 12px;}
	}
	.error-message {
		top: -35px;
	}
	.incorrect {
		&.error {
			height: 52px;
			&::after {
				right: 15px;
			}
			.input {
				height: 48px;

			}
			.label {
				height: 48px;
			}
		}
		.checkbox {
			&.error {
				&::before {
					top: 0;
					left: 4px;
				}
			}
		}
	}
	/*Errors End*/
	skin-selector {
		.language {
			font-size: 16px;

			&::after{
				width: 10px;
				height: 7px;
			}
		}
		.language-list {
			top: 29px;
			right: -14px;
			padding: 10px 0;
			width: 140px;
			font-size: 14px;
			&::before{
				top: -7px;
				right: 12px;
				width: 14px;
				height: 14px;
			}
			li {
				padding: 5px 15px;
				&::before {
					margin-right: 6px;
				}
			}
		}
	}
	footer {
		font-size: 12px;
		.wrapper {padding: 40px 20px 15px;}
		.social-links {
			width: 75%;
			.facebook {
				width: 20px;
				height: 19px;
				background-position: 0 -157px;
			}
			.twitter {
				width: 25px;
				height: 19px;
				background-position: 0 -181px;
			}
			.google-plus{
				width: 21px;
				height: 19px;
				background-position: 0 -205px;
			}
			.linkedin {
				width: 20px;
				height: 19px;
				background-position: 0 -229px;
			}
		}
		.footer-nav {
			width: 100%;
			// li + li {margin-left: 1%;}
		}
	}
	.button {
		padding: 15px 25px;
		font-size: 11px;
		// font-size: 14px;
		&.dark-blue {
			&::after {
				margin-left: 10px;
				width: 13px;
				height: 14px;
			}
		}
		&.android {
			width: 160px;
			height: 56px;
		}
		&.ios {
			width: 167px;
			height: 50px;
		}
	}
	main {padding-top: 48px;}
	.float-icon-holder{
		right: 4%;
		bottom: 2%;
		width: 55px;
		height: 55px;
		font-size: 13px;
		.in {
			right: 3%;
			bottom: 3%;
			width: 55px;
			height: 55px;
		}
		.text-box {
			margin-right: 15px;
			padding: 5px 10px;
		}
		.icon-row {
			&.plus {
				.icon-box {
					.icon {
						&::before, &::after {
							top: 15px;
							left: 19px;
							width: 17px;
							height: 2px;
						}
					}
				}
			}
			&.phone {
				.icon-box {
					&::before {
						margin: 19px 0 0 19px;
						width: 18px;
						height: 17px;
					}
				}
				.text-box {margin-top:-14px;}
			}
			&.email {
				.icon-box {
					margin: 0 10px;
					width: 35px;
					height: 35px;
					&::before {
						margin: 12px 0 0 10px;
						width: 15px;
						height: 13px;
					}
				}
				.text-box {margin-top:-24px;}
			}
		}
		&.opened {
			.icon-row{
				&.phone {
					.text-box {
						transform: translate(-60px, 0);
					}
				}
				&.email {
					transform: translate(0, -60px);
					.text-box {
						transform: translate(-60px, 0);
					}
				}
			}
		}
	}

	/*Register Component Start*/
	.home-register{
		h2 {font-size: 30px;}
		.tabs {
			li {
				padding: 20px 10px;
				font-size: 13px;
			}
		}
	}
	register-form, login-form {
		.wrapper {padding: 0 20px 50px;}
		.form {
			.label {
				&.user-name-icon::before {
					top: 16px;
					left: 4px;
					width: 15px;
					height: 17px;
				}
				&.email-icon::before {
					top: 10px;
					left: 20px;
					font-size: 19px;
				}
				&.phone-icon::before {
					top: 17px;
					left: 5px;
					width: 15px;
					height: 15px;
				}
				&.password-icon::before {
					top: 16px;
					left: 5px;
					width: 18px;
					height: 18px;
				}
			}
			.row+.row {margin-top: 35px;}
			.pretty-select {
				width: 22%;
				height: 52px;
				select {
					padding: 0 10px;
					height: 50px;
				}
				span {font-size: 13px;}
			}
			.accept-terms {
				width: 83%;
				font-size: 13px;
			}
			.show-password {right: 25px;}
		}
	}
	.deposit-section {
		.wrapper {padding: 0 20px 70px;}
		.form {
			.row + .row {margin-top: 25px;}
			.input {
				height: 45px;
			}
			.error-message {top: 50px;}
			.description {
				margin: 0 0 5px 18px;
				font-size: 13px;
			}
			.pretty-select {
				height: 45px;
				select {
					height: 45px;
					font-size: 13px;
				}
			}
			.deposit-amount {
				.currency {
					select {padding: 0 20px 0 25px;}
				}
				.pretty-select.arrow::after {right: 17px;}
				.sign {
					padding: 13px 20px 17px;
					height: 45px;
					font-size: 14px;
				}
			}
			.expiration-date {
				.data-box {
					input-errors {bottom: -33px;}
				}
				.pretty-select {
					select {padding: 0 25px;}
					&.arrow::after {right: 18px;}
					&.yy {
						&.arrow::after {right: 27px;}
					}
				}
			}
			.birth-box {
				.pretty-select {
					padding: 16px 25px;
					select {padding: 0 25px;}
					&.arrow::after {right: 35px;}
				}
			}
			.incorrect {
				&.error {
					height: 45px;
					&::after {
						top: 30%;
						right: 10px;
					}
				}
				.input, .sign {height: 41px;}
				.sign {padding: 11px 20px 17px;}
				.pretty-select {
					height: 41px;
					select {height: 41px;}
				}
			}
		}
		a {font-size: 13px;}
	}
	.popUp {
		.popUp-content {
			margin: -150px auto 0;
			padding: 65px 20px 35px;
			width: 260px;
			&.successful-deposit::before,&.unsuccessful-deposit::before {
				top: -30px;
				width: 70px;
				height: 70px;
			}
			&.processing-deposit {
				margin: -80px auto 0;
				padding: 70px 20px 60px;
				&::before {
					top: -30px;
					width: 70px;
					height: 70px;
				}
				&::after {
					top: -20px;
					width: 50px;
					height: 50px;
					background: url(../img/svg/processing-deposit-small.svg) no-repeat;
				}
			}
			.header {margin-bottom: 20px;}
			.body {
				font-size: 13px;
				p + p {margin-top: 10px;}
				p + button {margin-top: 20px;}
				.button {font-size: 10px;}
			}
			.footer {
				padding-top: 20px;
				a {font-size: 11px;}
			}
		}
		general-terms {
			.popUp-content {
				padding: 30px 20px;
				width: 90%;
				.important-text {
					font-size: 28px;
				}
				.body {
					.general_terms_h1 {font-size: 25px;}
					.general_terms_h2 {font-size: 17px;}
				}
			}
		}
	}
	.intro {
		.intro-box {
			top: 40%;
			padding: 0 20px;
			h1 {
				font-size: 20px;
				margin-bottom: 2%;
			}
			h2 {
				margin-bottom: 18%;
				font-size: 14px;
				line-height: 1;
			}
			.logo {
				width: 257px;
				height: 58px;
			}
			.button + .button {margin-left: 15px;}
			.nl, .de {
				.button {
					padding: 15px;
					font-size: 9px;
				}
				.button.transperant {padding: 13px 10px;}
				.button + .button {margin-left: 8px;}
			}
		}
		.roller {
			bottom: 9%;
			padding: 5px 0;
			i {
				& + i {margin-left: 15px;}
			}
			.nasdaq {width: 82px;height: 16px;}
			.nyse {width: 27px;height: 27px;}
			.cme {width: 85px;height: 19px;}
			.deutsche-borse {width: 57px;height: 32px;}
			.nyse-euronext {width: 99px;height: 29px;}
			.ftse {width: 35px;height: 15px;}
		}
	}
	.disclaimer {
		font-size: 13px;
		.wrapper {padding: 15px 0;}
		p {
			width: 73%;
		}
		&.deposit-page {
			font-size: 15px;
			.wrapper {padding: 20px;}
			p {width: 100%;}
		}
	}
	.payment-methods {
		.wrapper {padding: 20px;}
		.box {
			&:first-child {width: 100%;}
			&:last-child {
				margin: 20px auto 0;
				width: 90%;
			}
		}
	}
	.statistic-section {
		.wrapper {
			padding: 40px 20px 45px;
			width: 100%;
		}
		.box {
			font-size: 10px;
			.counter {
				&:first-child {font-size: 25px;}
			}
		}
	}
	.start-trading {
		.wrapper {
			padding: 90px 20px;
		}
	}
	.common-header-box {
		.wrapper {padding: 60px 20px;}
	}
	.common-section {
		.wrapper {padding: 95px 20px;}
		h2 {font-size: 30px;}
	}
	.content-section {
		.wrapper {
			padding: 65px 20px;
		}
		h2 {font-size: 30px;}
	}
	.address {
		.wrapper {
			padding: 50px 20px 65px;
		}
	}
	.plus-minus-icon {
		&::before,&::after {width: 6px;}
	}
	.close {
		right: calc(5% - 10px);
		padding: 12px;
		width: 15px;
		height: 15px;
		&::before, &::after {
			top: 46%;
			width: 59%;
			height: 2px;
		}
	}
	.tabs {
		li {
			padding: 15px 0;
			font-size: 11px;
		}
	}
	.expand {
		padding: 40px 20px 15px;
		font-size: 13px;
		text-align: right;
		color: #000;
	}
	.faq-list {
		&>li {
			font-size: 14px;
			.question {
				padding: 20px;
				& span:first-child {width: calc(100% - 16px);}
			}
			ul{
				.answer {
					padding: 0 20px 20px;
				}
			}
		}
	}
	.faq-page {
		.pretty-table {
			width: 100%;
			.row, .header {
				.cell {word-wrap: break-word;}
			}
		}
	}
	.banking-page {
		.wrapper {padding: 65px 10px;}
		.pretty-table {
			font-size: 12px;
			.header {
				& .cell {padding: 20px 0;}
			}
			.row {
				& .cell {padding: 10px;}
			}
		}
	}
	.download-app-page {
		h2 {margin-bottom: 50px;}
		h2, h3 {font-size: 16px;}
		h3 {
			span {
				margin-right: 5px;
				font-size: 22px;
			}
		}
		.box + .box {
			margin-top: 50px;
		}
	}
	.marquee-main {
		.in {padding-left: 15px;}
	}
}
@media (max-width:767px) and (orientation:landscape) {
	nav {
		.navigation {
			width: 50%;
		}
	}
	footer {
		font-size: 12px!important;
		.social-links {
			width: 40%;
		}
		.footer-nav {
			width: 80%;
		}
	}
	.intro {
		.intro-box {
			top: 20%;
			h1 {
				margin-bottom: 1%;
			}
			h2 {
				margin-bottom: 4.5%;
			}
			.button + .button {margin-left: 15px;}
		}
		.roller {
			bottom: 5%;
		}
	}
	.statistic-section {
		.wrapper {
			width: 80%;
		}
	}
}

@media (max-width: 640px) and (orientation:landscape) {
	.intro {
		.intro-box {
			top: 20%;
			h1 {
				font-size: 16px;
				margin-bottom: 0;
			}
			h2 {
				margin-bottom: 3.3%;
				font-size: 12px;
			}
			.logo {
				width: 227px;
				height: 43px;
			}
			.button {padding: 12px 25px;}
			.button.transperant {padding: 10px 25px;}
		}
	}
}
@media (max-height: 400px) {
	skin-selector .language-list{
		height: 80vh;
		overflow: auto;
	}
}
@media (max-width: 320px) {
	.intro {
		.intro-box {
			h1 {
				font-size: 16px;
				margin-bottom: 0;
			}
			h2 {
				margin-bottom: 12%;
				// margin-bottom: 8%;
				font-size: 12px;
			}
			.logo {
				width: 237px;
				height: 53px;
			}
		}
	}
	register-form .form .pretty-select {width: 30%;}
	.start-trading {
		&.trade-now {
			background-size: cover;
		}
	}
	.incorrect {
		&.error {
			&::after {
				right: 7px;
			}
		}
	}
	.deposit-section {
		.form {
			.deposit-amount {
				.currency {
					width: 25%;
					select {padding: 0 17px 0 20px;}
				}
				.pretty-select.arrow::after {right: 14px;}
			}
			.expiration-date {
				.pretty-select {
					select {padding: 0 17px;}
					&.arrow::after {right: 13px;}
					&.yy {
						&.arrow::after {right: 23px;}
					}
				}
				.table + div {border-left: 2px solid #dbdbd5;}
				.incorrect {
					&.error + .error {border-color: #e96566!important;}
				}
			}
			.birth-box {
				.pretty-select {
					padding: 16px 25px;
					select {padding: 0 25px;}
					&.arrow::after {right: 23px;}
				}
			}
		}
	}
}