/* Styles for rtl languages */

body[dir="rtl"] {
	/*@media (max-width: 1024px) and (orientation:landscape) {
		
	}*/
	@media (max-width:767px) {
		skin-selector .language-list {
			right: initial;
			left: -14px;
			&::before {
				right: initial;
				left: 12px;
			}
			li::before {
				margin-right: 0;
				margin-left: 6px;
			}
		}
		
		nav .navigation a::before {
			margin-right: 0;
			margin-left: 20px;
		}
		nav .navigation .sub-navigation a {
			padding-left: 15px;
			padding-right: 63px;
		}
		nav .navigation .sub-navigation .faq::before {
			margin-right: 0;
			margin-left: 14px;
		}
		
		.float-icon-holder {
			right: initial;
			left: 0%;
			.in {
				right: initial;
				left: 3%;
			}
			.text-box {
				right: initial;
				left: 0;
				margin-right: 0;
				margin-left: 15px;
			}
			.icon-row.email .icon-box::before {
				margin: 12px 10px 0 0;
			}
			.icon-row.phone .icon-box::before {
				margin: 19px 19px 0 0;
			}
			.icon-row.plus .icon-box .icon {
				&::before {
					right: 19px;
					left: 0;
				}
				&::after {
					right: 19px;
					left: 0;
				}
			}
			&.opened .icon-row {
				&.email .text-box {
					transform: translate(60px, 0);
				}
				&.phone .text-box {
					transform: translate(60px, 0);
				}
			}
		}
		
		.intro {
			.intro-box {
				.button + .button {
					margin-left: 0;
					margin-right: 15px;
				}
			}
			.roller i+i {
				margin-left: 0;
				margin-right: 15px;
			}
		}
		
		input[type="checkbox"]:checked+.checkbox::before {
			margin: 2px 2px 0 0;
		}
		
		.pretty-select.arrow::after {
			right: auto;
			left: 12px;
		}
		
		.incorrect {
			&.error {
				&::after {
					right: auto;
					left: 15px;
				}
			}
			.checkbox {
				&.error {
					&::before {
						right: auto;
						left: 15px;
					}
				}
			}
		}
		
		register-form, login-form {
			.form {
				.label {
					&.user-name-icon::before {
						left:0;
						right:4px;
					}
					&.email-icon::before {
						left:0;
						right:20px;
					}
					&.phone-icon::before {
						left:0;
						right:5px;
					}
					&.password-icon::before {
						left:0;
						right:5px;
					}
				}
				.show-password {
					right: auto;
					left: 25px;
				}
			}
		}
		
		.deposit-section {
			.form {
				.description {
					margin: 0 18px 5px 0;
				}
				.deposit-amount {
					.currency {
						select {padding: 0 25px 0 20px;}
					}
					.pretty-select.arrow::after {
						right: auto;
						left: 17px;
					}
				}
				.expiration-date {
					.pretty-select {
						&.arrow::after {
							right: auto;
							left: 18px;
						}
						&.yy {
							&.arrow::after {
								right: auto;
								left: 27px;
							}
						}
					}
				}
				.birth-box {
					.pretty-select {
						&.arrow::after {
							right: auto;
							left: 35px;
						}
					}
				}
				.incorrect {
					&.error {
						&::after {
							right: auto;
							left: 10px;
						}
					}
				}
			}
		}
		
		.expand {
			text-align: left;
		}
		
		.download-app-page h3 span {
			margin-right:0;
			margin-left:5px;
		}
	}
	
	@media (max-width:767px) and (orientation:landscape) {
		.intro {
			.intro-box {
				.button + .button {
					margin-left: 0;
					margin-right: 15px;
				}
			}
		}
	}
	/*@media (max-width: 640px) and (orientation:landscape) {
		
	}
	@media (max-height: 400px) {
		
	}*/
	@media (max-width: 320px) {
		.incorrect {
			&.error {
				&::after {
					right:auto;
					left: 7px;
				}
			}
		}
		.deposit-section {
			.form {
				.deposit-amount {
					.currency {
						select {
							padding: 0 20px 0 17px;
						}
					}
					.pretty-select.arrow::after {
						right: auto;
						left: 14px;
					}
				}
				.expiration-date {
					.pretty-select {
						&.arrow::after {
							right: auto;
							left: 13px;
						}
						&.yy {
							&.arrow::after {
								right: auto;
								left: 23px;
							}
						}
					}
					.table + div {
						border-left: none;
						border-right: 2px solid #dbdbd5;
					}
					.incorrect {
						&.error + .error {border-color: #e96566!important;}
					}
				}
				.birth-box {
					.pretty-select {
						&.arrow::after {
							right: auto;
							left: 23px;
						}
					}
				}
			}
		}
	}
}