<div class="float-icon-holder" toggle-class="opened">
	<div class="in">
		<a class="icon-row email" href="mailTo:{{::mCtrl._u.settings.supportEmail}}">
			<div class="icon-box"></div>
			<div class="text-box">{{::mCtrl.getMsg('contact-us')}}</div>
		</a>
		<a class="icon-row phone" href="tel:+44-20-35141216">
			<div class="icon-box"></div>
			<div class="text-box">{{::mCtrl.getMsg('call-us')}}</div>
		</a>
		<div class="icon-row plus">
			<div class="icon-box">
				<i class="icon"></i>
			</div>
		</div>
	</div>
</div>