body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #275b7d;
}
h1, h2, h3, h4, h5, h6, p, form {
	margin: 0px;
	padding: 0px;
}
.top_line {
	width: 100%;
	height: 63px;
	background-color: #093755
}
.logo {
	width: 970px;
	margin: 0 auto;
	padding: 8px 0px 0px 40px
}
.main_part {
	width: 100%;
	height: 527px;
	background-image: url(../images/bg.jpg);
	background-position: center top
}
.cbox {
	background-image: url(../images/content_bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	width: 970px;
	margin: 0px auto;
	position: relative
}
.form_hold {
	position: absolute;
	top: -65px;
	right: -110px;
	background-image: url(../images/form_bg.png);
	width: 525px;
	height: 437px
}
.formbox {
	width: 240px;
	margin: 60px 0px 0px 174px;
}
.formbox img {
	margin: 5px 0px 5px 10px;
}
#DE .formbox img {
	margin: 0px 0px 5px 10px
}
#EN .formbox img {
	margin: 5px 0px 5px 12px
}
#ES .formbox img {
	margin: 5px 0px 2px 10px
}
.formbox span {
	display: block;
	font-size: 14px;
	color: #FFFFFF;
	margin: 2px 0px 2px 19px
}
.input1 {
	background: url(../images/feeld_bg.png) no-repeat top left;
	width: 215px;
	height: 28px;
	margin: 0px 0px 0px 10px
}
.input1 input {
	background-color: transparent;
	border: none;
	margin: 2px 0px 0px 10px;
	width: 190px;
	height: 23px;
	padding-left: 5px;
}
.input2 {
	background: url(../images/2feeld_bg.png)  no-repeat top left;
	width: 215px;
	height: 28px;
	margin: 0px 0px 0px 10px
}
.input2.input {
	background-color: transparent;
	border: none;
	height: 23px;
	padding-left: 5px;
}
.agree_text {
	color: #FFF;
	font-size: 9px;
	float: left;
	width: 195px;
	margin: 10px 0px 0px 0px
}
#DE .agree_text {
	margin: 4px 0px 0px 0px;
	line-height: 10px
}
#ES .agree_text {
 *margin: 4px 0px 0px 0px;
}
#mobile_m {
	background-color: transparent;
	border: none;
	margin: 0px 0px 0px 3px;
	width: 121px;
	height: 23px;
	padding-left: 5px;
}
#mobile_c {
	padding-left: 5px;
	background-color: transparent;
	border: none;
	margin: 0px 0px 0px 10px;
	width: 56px;
	height: 23px;
}
.agree {
	float: left;
	margin: 9px 5px 0px 20px
}
#DE .agree {
	margin: 4px 5px 0px 20px;
}
#ES .agree {
 *margin: 2px 5px 0px 20px;
}
.submin_swf {
	margin: 5px 0px 0px 18px;
	float: left
}
#TR .submin_swf {
	margin: 15px 0px 0px 20px;
 * margin: 5px 0px 0px 20px;
}
.profit {
	position: absolute;
	top: -40px;
	left: 510px
}
#RU .profit {
	left: 570px
}
#ES .profit {
	left: 550px
}
#FR .profit {
	left: 550px
}
.tbox {
	width: 550px;
	height: 520px;
	position: relative
}
.tbox p {
	width: 440px;
	color: #093755;
	font-size: 15px;
	margin: 20px 0px 0px 25px
}
#RU .tbox p {
	margin-top: 10px
}
#DE .tbox p {
	margin-top: 10px
}
#ES .tbox p {
	margin-top: 15px
}
#FR .tbox p {
	margin-top: 10px
}
.tbox h2 {
	font-size: 16px;
	font-weight: bold;
	color: #093755;
	margin: 40px 0px 0px 25px
}
#RU .tbox h2 {
	margin-top: 20px
}
#DE .tbox h2 {
	margin-top: 20px
}
#ES .tbox h2 {
	margin-top: 20px
}
#FR .tbox h2 {
	margin-top: 20px
}
.second_title {
	float: left;
	margin: 48px 0px 0px 0px;
	width: 510px
}
#RU .second_title {
	padding-top: 16px;
	margin-top: 12px;
}
#DE .second_title {
	margin-top: 15px
}
#TR .second_title {
	margin-top: 25px
}
#ES .second_title {
	margin-top: 29px;
	margin-top: 39px\9;
}
#FR .second_title {
	padding: 10px 0px 0px 0px;
	margin-top: 29px
}
#ZH .second_title {
	padding: 10px 0px 0px 0px;
	margin-top: 40px
}
.ibox {
	float: left;
	margin: 50px 0px 60px 0px
}
.ibox ul {
	list-style: none;
	height: 100px;
	color: #FFF;
	font-size: 14px;
	margin: 0px 0px 0px -20px;
 *margin: 0px 0px 0px 20px
}
.ibox ul li {
	float: left;
	width: 390px;
	display: block;
	margin: 5px;
	background-image: url(../images/arow.png);
	background-repeat: no-repeat;
	background-position: left -3px;
	padding: 0px 0px 0px 20px
}
#footer {
	float: left;
	border-bottom: 1px solid #82afcc;
	border-top: 1px solid #82afcc;
	height: 60px;
	margin: 20px 0px 20px 20px;
	width: 930px
}
.disclaimer {
	/*float: left;*/
	margin: 0 auto;
	display: block;
	font-size: 11px;
	color: #82afcc;
	width: 750px;
	text-align: center;
}
.icons {
	color: #333;
	font-size: 10px;
	height: 30px;
	margin: 0 0 15px 0;
	width: 635px;
	float: right;
	padding: 15px 0 15px 302px;
}
.icons .icon_space {
	margin-right: 20px;
	float: left;
}
/*error*/

.error	{ background-position: bottom}

#error_box		{display:none;position:absolute; z-index:100; top: 50%; background: #093755 url(../images/form_full_alret_bk.png) no-repeat left top; width: 250px; overflow:hidden; text-align:center; border: 1px solid #FFFFFF;}
.error_message	{height:100px; color:#fff; position: relative;}
.error_message label {position: absolute; width: 230px; bottom: 20px; left: 10px;}
.error_button	{background: transparent url(../images/form_full_alret_button.png) no-repeat left top; width: 80px; height:48px; margin: 0 auto; cursor: pointer;}

#Overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin: auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position: fixed;
	top:0;
	width:100%;
	z-index:99;
}

.safety_line {
	background: transparent url(../images/SAFETY.png) no-repeat left top;
	font-size: 9px !important;
	color: #CCC !important;
	padding: 2px 0 5px 12px;
	width: 200px;
}
