<!DOCTYPE html>
<html>
<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	locale="#{applicationData.userLocale}"
	>
<head>
	<meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
	<meta http-equiv="refresh" content="1920"/>
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script>
		document.domain = "#{applicationData.domainUrl}";
		var header_login = #{!empty facesContext.externalContext.remoteUser};
	</script>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"/>
	<script src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf?s=#{applicationData.skinId}&amp;version=cvsTimeStamp"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<c:if test="#{applicationData.skinId != 1}">
	<script>
		$(function(){
			$('#balanceIcon').click(function(event){
				top.openCacheBonusPopup({e: event, balanceCallType: balanceCallTypes.total, iframe: 'header'});
			});
			if (userLogin) {
				top.openCacheBonusPopup({balanceCallType: balanceCallTypes.total, position: false, iframe: 'header'});
			}
			if (!header_login) {
				top.refreshOnExpiry();
			}
		})
	</script>
	</c:if>
</head>
<body dir="#{applicationData.pageDirection}">
	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
		<b class="headerTop_left">
			<h:outputText value="#{msgs['ticker.our.options']}" />&#160;|&#160;<h:outputText value="#{msgs['header.options.trading']}" />
		</b>
		<span class="header_have_account"><h:outputText value="#{msgs['header.already.have.account']}" escape="false" /></span> 
		<a href="#{facesContext.externalContext.requestContextPath}/jsp/login.jsf" target="_top" class="login_reg_nd" id="loginStrip_link">
			<h:outputText value="#{msgs['header.login.up']}" escape="false"/> &#187;
		</a>
	</h:panelGroup>
	<h:panelGroup rendered="${!empty facesContext.externalContext.remoteUser}">
		<div class="fL header_login_holder">
			<!-- user name -->
			<span class="header_user_name vaM" id="loginStrip_userName">
				<h:outputText value="#{msgs['header.loggedin.hello']} #{user.firstName}" />
			</span>
			<span class="header_separator vaM">|</span>
			
			<!-- links -->
			<a class="headerLink vaM" target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/investments.jsf">
				<h:outputText value="#{msgs['header.loggedin.my.account']}" />
			</a>
			<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<span class="header_separator vaM">|</span>
				<a class="headerLink vaM" target="_top" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf">
					<h:outputText value="#{msgs['header.deposit']}" />
				</a>
			</h:panelGroup>
			<span class="header_separator vaM">|</span>

			<!-- mail box -->
			<h:panelGroup rendered="#{user.haveNewEmails and applicationData.skinId != 1}" >
				<a href="#{applicationData.homePageUrl}jsp/pages/mailBox.jsf" class="header_mails vaM" target="_top">
					<span class="header_mail_num">
						#{user.unReadEmails}
					</span>
				</a>
			</h:panelGroup>
			
			<!-- Balance -->
			<span class="headerLink vaM ml10 ">
				<h:outputText escape="false" value="#{msgs['header.loggedin.my.balance']}: " />
			</span>
			<span class="header_user_name vaM ml10" id="loginStrip_balance">
				<h:outputText value="#{user.balanceTxt}" dir="ltr"/>
			</span>
			<h:panelGroup rendered="#{applicationData.skinId != 1}">
				<span class="header_balance_icon" id="balanceIcon"></span>
			</h:panelGroup>
			<span class="header_separator vaM">|</span>

			<!-- Logout -->
			<h:form id="logoutForm" style="display: inline-block;" class="vaM">
				<h:commandLink id="logoutLink" action="#{logoutForm.logout}" value="#{msgs['header.loggedin.logout']} »" styleClass="header_logout vaM" target="_top"/>
				<script>
					document.getElementById('logoutForm:logoutLink').href='#{facesContext.externalContext.requestContextPath}/logout';
				</script>
			</h:form>
		</div>		
	</h:panelGroup>
</body>
</f:view>
</html>