<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml" />
	<ui:include src="/jsp/html_elements/head_includes.xhtml" />
</head>
<body dir="#{applicationData.pageDirection}" style="background:none;">
	<div id="popup_change_pass_main_holder" class="popup_change_pass_main_holder">
		<ui:include src="/jsp/pages/changePass_content.xhtml">
			<ui:param name="fromPopup" value="1" />
		</ui:include>
	</div>
</body>
</f:view>
</html>