<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/quickStart.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?version=cvsTimeStamp"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body dir="#{applicationData.pageDirection}">

<h:form id="contactForm">
	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
		<div class="clear">
			<h:outputLabel styleClass="contact_label" for="firstName" value="#{msgs['register.firstname']}"/>
			<h:inputText styleClass="contact_inp" id="firstName" value="#{contactUsForm.firstName}" required="true" validator="#{commonUtil.validateName}" />
			<t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" styleClass="error_messages"/>
		</div>
		<div class="clear contact_row">
			<h:outputLabel styleClass="contact_label" for="lastName" value="#{msgs['register.lastname']}"/>
			<h:inputText styleClass="contact_inp" id="lastName" value="#{contactUsForm.lastName}" required="true" validator="#{commonUtil.validateName}" />
			<t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
		</div>
		<div class="clear contact_row">
			<h:outputLabel styleClass="contact_label" for="email" value="#{msgs['register.email']}"/>
			<h:inputText dir="ltr" styleClass="contact_inp" maxlength="50" id="email" value="#{contactUsForm.email}" required="true">
				<f:validator validatorId="org.apache.myfaces.validator.Email"/>
			</h:inputText>
			<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
		</div>
		<div class="clear contact_row">
			<h:outputLabel styleClass="contact_label" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
			<h:inputText size="20" maxlength="14" styleClass="contact_inp_mobile" dir="ltr" id="mobilePhone" value="#{contactUsForm.mobilePhone}" required="true">
				<f:validateLongRange/>
				<f:validateLength minimum='7' maximum='14'/>
			</h:inputText>
			<h:selectOneMenu styleClass="contact_inp_mobile_prefix" id="mobilePhonePref" value="#{contactUsForm.mobilePhonePrefix}" required="true" rendered="#{applicationData.skinId == 1}">
				<f:selectItem  itemLabel="" itemValue="" />
				<f:selectItems value="#{applicationData.mobilePref}" />
			</h:selectOneMenu>
			<t:message id="mobilePhoneError" for="mobilePhone"  replaceIdWithLabel="true" styleClass="error_messages"/>
		</div>
	</h:panelGroup>
	
	<div class="clear contact_row">
		<h:outputLabel styleClass="contact_label" for="issue" value="#{msgs['contact.issue']}"/>
		<h:selectOneMenu id="issue" styleClass="contact_inp" style="width:171px;" value="#{contactUsForm.contactIssue}" required="true">
			<f:selectItem  itemLabel="" itemValue="" />
			<f:selectItems value="#{applicationData.contactIssues}" />
		</h:selectOneMenu>
		<t:message id="issueError" for="issue" replaceIdWithLabel="true" styleClass="error_messages"/>
	</div>
	<div class="clear contact_row">
		<h:outputText for="comments" styleClass="contact_label" value="#{msgs['contact.comments']}"/>
		<h:inputTextarea id="comments" styleClass="contact_text" cols="50" rows="5" value="#{contactUsForm.comments}" required="true" ></h:inputTextarea>
		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error_messages" />
	</div>
	<div class="clear contact_row">
		<span class="ml130 send_button send_but" onclick="return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');">
			<h:outputText value="#{msgs['CMS.all_pages.text.send']}"/>
		</span>
		<t:commandButton action="#{contactUsForm.sendContactEmail}" id="hiddenbtn" style="position:absolute;left:-9999em;"></t:commandButton>
	</div>
	
	<div class="contact_address_section ml130" style="margin-top:33px;">
		<div class="clear contact_row">
			<h:outputText escape="false" value="#{msgs['contact.message1']}"/>
		</div>
		<div class="clear contact_row" style="margin-top: 27px;">
			<h:outputText styleClass="b" value="#{msgs['contact.message2']}"/>
			<a class="general_link" href="mailto:#{msgs['contact.message3']}" >
				<h:outputText value=" #{msgs['contact.message3']}" />
			</a>
		</div>
		<div class="clear contact_row" style="margin-top: 27px;">
			<h:outputText styleClass="b" value="#{msgs['contact.country']}" rendered="#{applicationData.skinId != 1}"/>
			<t:selectOneMenu disabled="#{applicationData.usSkins}" required="false" escape="false" styleClass="contact_inp" id="countriesList" value="#{contactUsForm.countryId}" onchange="changePhoneAndFaxByCountry();" rendered="#{applicationData.skinId != 1}">
				<f:selectItems value="#{contactUsForm.countries}" />
			</t:selectOneMenu>
		</div>
		<div class="clear contact_row">
			<h:outputText styleClass="b" value="#{msgs['contact.message4']}"/>
			<span id="phone" class="vaM" dir="ltr">#{contactUsForm.supportPhone}</span>
		</div>
		<h:panelGroup rendered="#{commonUtil.skinRegulated}">
			<div class="clear contact_row">
				<h:outputText value="#{msgs['contact.message8']}" escape="false"/>
			</div>
		</h:panelGroup>
		<div class="clear contact_row">
			<h:outputText styleClass="b" value="#{msgs['contact.message6']}"/>
			<span id="fax" class="vaM" dir="ltr">#{contactUsForm.supportFax}</span>
		</div>
		<div class="clear contact_row">
			<h:outputText styleClass="b" value="#{msgs['contact.message5']}"/>
			<br/>
			<h:outputText value="#{contactUsForm.supportTimeTxt}" escape="false" styleClass="vaM" style="vertical-align: bottom;"/>
		</div>
		<div class="clear contact_row">
			<h:outputText value="#{msgs['CMS.contactUs_content.text.address']}" escape="false" />
		</div>
	</div>
</h:form>
<script>changePhoneAndFaxByCountry();</script>

</body>
</f:view>
</html>