<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
        >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>

<script>
	document.domain = "#{applicationData.domainUrl}";
</script>

</head>

<body dir="#{applicationData.pageDirection}">
<c:if test="${!applicationData.isLocal}">
	<ui:include src="/jsp/html_elements/googleTag.xhtml" />
</c:if>
<f:view locale="#{applicationData.userLocale}">


<h:form id="contactMeForm">
	<table border="0" cellspacing="0" cellpadding="0" width="223px" align="center" class="table_border_call_me_succ">
	<tr><td  height="30"></td></tr>
      <tr>
		<td class="table_border_call_me_succ_header">
			<h:outputText styleClass="contactme_succ_header" value="#{msgs['contactme.thankyou']}"/>
		</td>
	</tr>
	<tr valign="top">
		<td>
			<h:outputText styleClass="contactme_succ_body" value="#{msgs['contactme.body.row1']}"/>
			<br/>
			<h:outputText styleClass="contactme_succ_body" value="#{msgs['contactme.body.row2']}"/>
		</td>
	</tr>
	<tr><td height="140"></td></tr>
</table>
</h:form>
</f:view>

<br/>

<h:outputText value="#{contactMeForm.contactMePixel}" escape="false" />

<c:if test="${applicationData.isLive}">
	<ui:include src="/jsp/html_elements/google.xhtml" />
</c:if>
</body>
</html>
