<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/js_vars.jsf?s=#{applicationData.skinId}&amp;version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?version=cvsTimeStamp"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";
		// set the cursor at the end of the phoneCode
		function SetEnd(TB) {
			if (TB.createTextRange) {
				var FieldRange = TB.createTextRange();
				FieldRange.moveStart('character', TB.value.length);
				FieldRange.collapse();
				FieldRange.select();
			}
		}
		function changePhoneCodeByCountry() {
			if(document.getElementById('contactMeForm:countriesList') != null){
			var countryId = document.getElementById("contactMeForm:countriesList").value;
			var url = "ajax.jsf?countryId=" + countryId;
			var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
			ajax.doGet();
			}
		}
		function changePhoneCodeByCountryCallback(responseXML) {
		   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
		   var phoneCodeElm = document.getElementById("contactMeForm:myPhoneET");
		   phoneCodeElm.value = "00-"+codeValue+"-";
		}
		function changeCountriesListSize(){
			if (document.getElementById('contactMeForm:countriesList') != null){
			navigator.userAgent.toLowerCase().indexOf("msie") != -1 ? document.getElementById('contactMeForm:countriesList').style.width='126px' : document.getElementById('contactMeForm:countriesList').style.width='124px';
			}
		}
		function gowait(elementId, elementTostartId, picname) {
			document.getElementById(elementId).src = picname;

			window.setTimeout( function() {
				var wg = document.getElementById(elementId);
				wg.src = wg.src; }, 50);

			document.getElementById(elementId).disabled = true; // disable click on commandButton
		}
		function ChangeImage(elementId, picname) {
			var btn_img = document.getElementById(elementId);
			btn_img.src = picname;
		}
		function toUpperCase(elementName) {
			return elementName.toUpperCase();
		}
		function changeMobilePhonePrefixListSize(){
			navigator.userAgent.toLowerCase().indexOf("msie") != -1 ? document.getElementById('contactMeForm:mobilePhonePref').style.width='126px' : document.getElementById('contactMeForm:mobilePhonePref').style.width='124px';
		}
		function validateForm(){
			var error = 0;
			if(g("contactMeForm:mobilePhonePref") &amp;&amp; g("contactMeForm:mobilePhonePref").value == ''){
				error = 1;
			}
			if(g("contactMeForm:myPhoneET") &amp;&amp; g("contactMeForm:myPhoneET").value.length != 7){
				error = 1;
			}
			if(error){
				return false;
			}
			return true;
		}
	</script>
</head>
<body dir="#{applicationData.pageDirection}" onload="changeCountriesListSize()">

<f:view locale="#{applicationData.userLocale}">

<t:saveState value="#{contactMeForm}" />
<h:form id="contactMeForm">
	<table border="0" cellspacing="0" cellpadding="0" class="table_border_call_me">
	    <tr>
	    	<td class="table_border_top_call_me" valign="top">	    		   			
		    	<!--<td valign="top" height="67px" class="border call_me_hp_width" style="" align="#{applicationData.pageAlignment}">-->
			    	<div class="hp_callme_header_nd"><h:outputText escape="false" value="#{msgs['rightside.call_me']}" /></div>
		        	<div class="hp_callme_text_nd"><h:outputText escape="false" value="#{msgs['rightside.i_want_to_hear_more']}" /></div>
			          			
					<!--  input fields -->
					<table border="0" cellpadding="0" cellspacing="0">
					  	 <tr>
					   		 <td height="20" >
								<h:inputText styleClass="new_input_nd" maxlength="20" id="contactName" value="#{contactMeForm.contactName}"
										onfocus="if(this.value==toUpperCase('#{msgs['banner.contactme.name']}')) this.value=''"
											onblur= "if(this.value=='') this.value=toUpperCase('#{msgs['banner.contactme.name']}')" >
								</h:inputText>
			   				 </td>
					     </tr>
					      <tr>
					       	 <td height="20">
								<h:inputText styleClass="new_input_nd" id="email" maxlength="50" value="#{contactMeForm.email}"
					               	onfocus="if(this.value==toUpperCase('#{msgs['banner.contactme.email']}')) this.value='';this.style.direction='ltr';"
									onblur= "if(this.value=='') this.value=toUpperCase('#{msgs['banner.contactme.email']}');this.style.direction='#{applicationData.pageDirection}';">
									<f:validator validatorId="org.apache.myfaces.validator.Email"/>
				            	</h:inputText>
					       	 </td>
					      </tr>
		
						<h:panelGroup rendered="#{applicationData.skinId != 1}">
						<tr>
					      	<td height="20" nowrap="false">
					            <h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="new_combobox_nd " id="countriesList" value="#{contactMeForm.countryId}" required="true" onchange="changePhoneCodeByCountry();">
				                		<f:selectItems value="#{contactMeForm.countries}" />
						        </h:selectOneMenu>
					      	</td>
					    </tr>
		
					      <tr>
					         <td height="20px" NOWRAP="false">
								<h:inputText styleClass="new_input_nd" maxlength="19" id="myPhone" value="#{contactMeForm.mobilePhone}"
										onfocus="if(this.value==toUpperCase('#{msgs['banner.contactme.phone']}')) { this.value='#{contactMeForm.phoneCodeStr}'; SetEnd(this); };this.style.direction='ltr';"
											onblur= "if(this.value=='' || this.value=='#{contactMeForm.phoneCodeStr}') this.value=toUpperCase('#{msgs['banner.contactme.phone']}');this.style.direction='#{applicationData.pageDirection}';" >
								</h:inputText>
							 </td>
					      </tr>
					      </h:panelGroup>
					      
					    <h:panelGroup rendered="#{applicationData.skinId == 1}">
						<tr>
					         <td height="20px" NOWRAP="false">
								<h:inputText styleClass="new_input_nd new_combobox_nd_select2" maxlength="7" id="myPhoneET" value="#{contactMeForm.mobilePhone}"
										onkeyup="this.value=this.value.replace(/[^\d]/gi,'')"
										onfocus="if(this.value==toUpperCase('#{msgs['banner.contactme.phone']}')) { this.value='#{contactMeForm.phoneCodeStr}'; SetEnd(this); };this.style.direction='ltr';"
											onblur= "if(this.value=='' || this.value=='#{contactMeForm.phoneCodeStr}') this.value=toUpperCase('#{msgs['banner.contactme.phone']}');this.style.direction='#{applicationData.pageDirection}';" >
								</h:inputText>
							
							    <h:selectOneMenu styleClass="new_input_nd new_combobox_nd_select"  id="mobilePhonePref" value="#{contactMeForm.mobilePhonePrefix}">
			                		<f:selectItem  itemLabel="" itemValue="" />
			                		<f:selectItems value="#{applicationData.mobilePref}" />
		                		</h:selectOneMenu>
					      	</td>
		
					      </tr>
					      </h:panelGroup>
		
					      <tr height="15px">
							<td id="error_holder">
								<div class="error_messages_width">
									<span data-inp_id='contactMeForm:email' class="error_messages"><t:message for="email" /></span>
									<span data-inp_id='contactMeForm:contactName' class="error_messages"><t:message for="contactName" /></span>
									<span data-inp_id='contactMeForm:myPhone' class="error_messages"><t:message for="myPhone" /></span>
									<span data-inp_id='contactMeForm:countriesList' class="error_messages"><t:message for="countriesList" /></span>
									<span data-inp_id='contactMeForm:myPhoneET' class="error_messages"><t:message for="myPhoneET" /></span>
									<span data-inp_id='contactMeForm:mobilePhonePref' class="error_messages"><t:message for="mobilePhonePref" /></span>
								</div>
								<script>error_msg_inp_match('error_holder')</script>
						   </td>
						</tr>
						
		      		</table>
		      		<!--  End input fields -->
			</td>
		</tr>

    <tr>
      	<td class="callme_button">
			<a onclick="if(validateForm()){return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');}else{return false;}" class="trade_buton_login trade_buton_login_h clear mt10 fL cP">
				<span class="rs trade_buton_login w147">
					<span class="cs trade_buton_login">
						<h:outputText value="#{msgs['CMS.contact.me.button.submit']}" />
					</span>
				</span>
			</a>
		    <t:commandLink action="#{contactMeForm.sendEmailAnyoptionCallMeHPSmall}" id="hiddenbtn" style="display:none"/>
     	</td>
   </tr>

   <tr valign="top" height="12px"><td>&#160;</td></tr>
   
	</table>
</h:form>
</f:view>

</body>
</html>
