<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="#{msgs['anyoption.keywords']}"/>
    <meta name="description" content="#{msgs['anyoption.description']}"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <link rel="shortcut icon" href="#{applicationData.imagesPath}/#{applicationData.skin.style}/favicon.ico" />
    <ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</HEAD>

<BODY dir="#{applicationData.pageDirection}">
<f:view locale="#{applicationData.userLocale}">


<TABLE cellpadding="0" cellspacing="5" width="724" border="0" align="center">
 <tr>
  <td align="center">
	<br/>
    <h:panelGroup class="center_align" align="center">
			<h:panelGroup rendered="#{commonUtil.hasMessages}" class="center_align" align="center">
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="pages_text"/>
	        </h:panelGroup>
	</h:panelGroup>
  </td>
 </tr>
</TABLE>
</f:view>
</BODY>
</html>