<!DOCTYPE html>
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		Anyoption features 2013
    </title>
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body>
		#{user.timeLastLoginFromDbReset}
		<script>
			function closePopUp() {
				try {			
					parent.closePopUp();		
				} catch (e) {
					//permission denied on HTTPS pages
					try {
						window.top.location.href = window.top.location.href;
						if (window.top.location.href == undefined) { // on chrome window.top.location.href return undefined 						
							throw "";
						}
					}		
					catch (e) {
						window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
					}	
				}
			} 
		</script>		
		<ui:include src="/jsp/single_pages/fearutes2013_pop_content.xhtml"></ui:include>
</body>
</html>
