<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	style="height:100%"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?version=cvsTimeStamp"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";
		var supportWebGL = true;
		var imagePath = "#{applicationData.imagesPath}/#{applicationData.skin.style}";
		var imagePath_flags = "#{applicationData.imagesPath}";
		var marketsDisplayName = #{applicationData.displayMarketsBySkinId};
		var oppertunityProductTypes = #{applicationData.displayOpportunityProductType};
		var marketsDecimalPoint = #{applicationData.marketsDecimalPoint};
		var countriesDisplayName = #{applicationData.displayCountry};
		var context_path = "#{facesContext.externalContext.requestContextPath}";
		var image_context_path = "#{applicationData.imagesPath}/#{applicationData.skin.style}";
		var skinId = #{applicationData.skinId};
		var firstTimeVisit="#{applicationData.firstVisitAO}";
		var sessionUtcOffset = "#{commonUtil.utcOffsetValue}";
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}">
		var acceptSmsMessage = "#{msgs['investment.settle.sms.active']}";
		</h:panelGroup>
		var bundle_msg_today = "#{msgs['investment.time.today']} ";
		var currencySymbol = "#{applicationData.realCurrencySymbol}";
		var submitBtnNormalImg = '#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/buy_b.png';
		var submitBtnSubmittingImg = '#{applicationData.imagesPath}/processing.gif';
		var marketMenuError= "#{msgs['market.menu.error']}";
		var suspendMsgUpperLine = new Array("#{msgs['suspend.upperline1']}", "#{msgs['suspend.upperline2']}", "#{msgs['suspend.upperline3']}", "#{msgs['suspend.upperline4']}");
		var suspendMsgLowerLine = new Array("#{msgs['suspend.lowerline1']}", "#{msgs['suspend.lowerline2']}", "#{msgs['suspend.lowerline3']}", "#{msgs['suspend.lowerline4']}");
		var tradingPage = true;
		var isMobileParm = false;
		var hasFlash  = true;
		var portrait = false;
		var homePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}";
		var tradePageN = "#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}";
		var isLeftCurrencySymbol = #{applicationData.currencyLeftSymbol};
	</script>

	<script src="#{facesContext.externalContext.requestContextPath}/js/ls5.1/lightstreamer.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/tradePage.js?version=cvsTimeStamp"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/jquery-ui-1.8.5.custom.min.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/common_before.js?version=cvsTimeStamp" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/live_globe.js?version=cvsTimeStamp" type="text/javascript"></script>

	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/third-party/Three/ThreeWebGL.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/third-party/Three/ThreeExtras.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/third-party/Three/RequestAnimationFrame.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/third-party/Three/Detector.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/third-party/Tween.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/marker.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/coast.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/country.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/world.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/spherize.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/globe.js?version=cvsTimeStamp"></script>
	<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/webgl-globe/coords.js?version=cvsTimeStamp"></script>
</head>
<body dir="#{applicationData.pageDirection}" class="globe_body_bgr" style="height:100%">
		<div id="info"></div>
		<div id="container"></div>
		<table width="100%" cellspacing="0" cellpadding="0" border="0" style="display:none;" >
	          <tr source="lightstreamer" id="liveGlobe" style="cursor: pointer;">
	              <td class="table_line_nd" width="5%">LI_LAT: <div id="lat" source="lightstreamer" field="11"></div> </td>
	              <td class="table_line_nd" width="5%">LI_LONG: <div id="lng" source="lightstreamer" field="12"></div> </td>
	              <td class="table_line_nd" width="5%">LI_CITY: <div source="lightstreamer" field="3"></div> </td>
	              <td class="table_line_nd" width="5%">LI_COUNTRY: <div source="lightstreamer" field="4"></div> </td>
	              <td class="table_line_nd" width="5%">LI_ASSET: <div source="lightstreamer" field="5"></div> </td>
	              <td class="table_line_nd" width="5%">LI_PROD_TYPE: <div source="lightstreamer" field="6"></div> </td>
	              <td class="table_line_nd" width="5%">LI_INV_TYPE: <div source="lightstreamer" field="7"></div> </td>
	              <td class="table_line_nd" width="5%">LI_LEVEL: <div source="lightstreamer" field="8"></div> </td>
	              <td class="table_line_nd" width="5%">LI_AMOUNT: <div source="lightstreamer" field="9"></div> </td>
	              <td class="table_line_nd" width="5%">LI_TIME: <div source="lightstreamer" field="10"></div> </td>
	              <td class="table_line_nd" width="5%">ASSET_NAME: <div source="lightstreamer" field="13"></div> </td>
	              <td class="table_line_nd" width="5%">ProdName: <div source="lightstreamer" field="14"></div> </td>
	          </tr>
		</table>
		<div id="non_WebGL_marker" style="opacity: 0;display:none;" align="center"></div>
		<script>
			//marker variables for non webgl browser
		    var windowWidth = $(window).width();
		    var windowHeight = $(window).height();
		    var left = windowWidth / 2 - 100;
		    var top =  windowHeight / 2;
		    var growerDiv = $('#non_WebGL_marker');
			if(!Detector.webgl){
				growerDiv.addClass("INFORMATIONAL-BOX_static");
				supportWebGL = false;
			} else {
				document.body.style.background = 'transparent';
				var container = document.getElementById('container');
				var globe = new DAT.Globe(container);
				globe.animate();
			}
				
			function create_LS_parameters() {
				var server = "#{applicationData.isForceHttps() ? 'https' : 'http'}://#{applicationData.lsServer}";
				var adapterName = "REUTERSJMS";
				var client = new LightstreamerClient(server, adapterName);
				client.connectionOptions.setMaxBandwidth(20);
				client.connectionOptions.setIdleMillis(30000);
				client.connectionOptions.setPollingMillis(1000);
				client.connectionOptions.setReconnectTimeout(10000);
				client.connectionSharing.enableSharing("AOCommonConnection", "ATTACH", "CREATE");
				client.connect();
		
//				lsPage.onEngineReady = function(engine) {
//					engine.onStatusChange = function(chngStatus) {
//						window.status = "#{applicationData.tradingPagesStatus}";
//						engineStatusChange(chngStatus);
//					};
//				};

				var groupGlobe = ["globe"];
				var schemaGlobe = ["key", "merge", "LI_CITY", "LI_COUNTRY", "LI_ASSET", "LI_PROD_TYPE", "LI_INV_TYPE", "LI_LEVEL", "LI_AMOUNT", "LI_TIME", "LI_LAT", "LI_LONG"];

				var aoTableLive = new Subscription("MERGE", groupGlobe, schemaGlobe);
				aoTableLive.setDataAdapter("JMS_ADAPTER");
				aoTableLive.setRequestedSnapshot("yes");					
				aoTableLive.addListener({
			          onSubscription: function() {
			        	  logIt({'type':1,'msg':'SUBSCRIBED globe'});
			          },
			          onUnsubscription: function() {
			          	logIt({'type':1,'msg':'UNSUBSCRIBED globe'});
			          },
			          onItemUpdate: function (updateObject) { 
			        	formatValues_globe(updateObject);
			          }
			        });
				client.subscribe(aoTableLive);
			}
			
			
			$(document).ready(function() {
				document.domain = "#{applicationData.domainUrl}";
				create_LS_parameters();
			});

			function showInvestmentNotWebGL(investment) {
				try {			
				    growerDiv.css({left: left, top: top,  opacity: 0});
					var marker = document.getElementById("non_WebGL_marker");
					marker.innerHTML = "";
					// amount
					var amount_span = document.createElement('span');
					amount_span.className = 'bold';
					amount_span.innerHTML = investment.amount;
					marker.appendChild(amount_span);
					// type + asset name
					marker.innerHTML += " " + investment.prodType + " " + investment.asset_name + " ";
					// inv type + level
					var level_type_span = document.createElement('span');
					level_type_span.innerHTML += investment.invType + " " + investment.level;
					marker.appendChild(level_type_span);
					//new line
					var newLine = document.createElement('br');
					marker.appendChild(newLine);
					//country + city
					var div_container = document.createElement('div');
					var country_city_span = document.createElement('span');
					var country_flag_span = document.createElement('span');
					div_container.className = 'info_div_container';
					country_city_span.innerHTML = investment.city + " (" + investment.country + ")";
					country_flag_span.className = 'span_flag';
					country_flag_span.innerHTML = investment.imageFlag;
					div_container.appendChild(country_flag_span);
					div_container.appendChild(country_city_span);
					marker.appendChild(div_container);
					//grow animation
					growerDiv.show( "scale", { percent: 100 }, 1000 );
					growerDiv.animate({'opacity':'1'} , { duration: 1000, queue: false, easing: 'easeInCubic'});
				} catch(e) {
					logIt({'type':3,'msg':'ERROR'});
				}
			}
		</script>	
</body>
</f:view>
</html>