<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	><c:if test="#{!empty facesContext.externalContext.requestParameterMap['prop']}">#{facesContext.externalContext.requestParameterMap['prop']}=</c:if><c:if test="#{applicationData.skinId == 1 and !empty facesContext.externalContext.remoteUser}"><h:outputText value="#{userRegulationForm.getETRegulationPopup(null)}" escape="false" /></c:if><c:if test="#{applicationData.skinId != 1 and !empty facesContext.externalContext.remoteUser}"><h:outputText value="#{userRegulationForm.getAORegulationPopup(null)}" escape="false" /></c:if></f:view>