<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?version=cvsTimeStamp"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/small_functions.js?version=cvsTimeStamp"></script>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body dir="#{applicationData.pageDirection}">
	<div class="smartphone_pop2">
		<span onclick="parent.close_send_sms_mail_pop()" class="pop_close"></span>
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
			<div class="sms_mail_holder">
				<h1 class="sms_mail_h1"><h:outputText value="#{msgs['smartphone.sendemail.succ.heading']}" escape="false"/></h1>
				<p class="smartphone_pop2_text"><h:outputText value="#{msgs['smartphone.sendemail.succ.txt1']}" escape="false"/></p>
			</div>
		</h:panelGroup>
		<h:panelGroup rendered="#{applicationData.skinId != 1}">
			<div class="smartphone_pop2_text">
				<strong>
					<span class="smartphone_lightB"><h:outputText value="#{msgs['smartphone.sendemail.succ.txt1']}" escape="false" /></span>
				</strong><br/><br/>
				<h:outputText value="#{msgs['smartphone.sendemail.succ.txt2']}" escape="false" /> <br />
				<h:outputText value="#{msgs['smartphone.sendemail.succ.txt3']}" escape="false" />
			</div>
		</h:panelGroup>
	</div>
</body>
</f:view>
</html>