<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body dir="#{applicationData.pageDirection}">
	<div class="terms_bonus_image">
		<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==2 || facesContext.externalContext.requestParameterMap['bonusStateId']==10)}">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/bonus.gif" />
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 || facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/bonus_used.gif" />
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/bonus_expierd.gif" />
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/bonus_waived.gif" />
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
			<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/bonus_cancled.gif" />
		</h:panelGroup>
	</div>
	<div class="terms_bonus_text">
		<!-- this is stupid workaround for pound -->
		<c:set var="bonusAmount" value="#{fn:replace(fn:replace(fn:replace(fn:replace(fn:replace(fn:replace(facesContext.externalContext.requestParameterMap['bonusAmount'],'Â',''),'â¬','€'),'KÄ','Kč'),'â½','₽'),'âº','₺'),'zÅ','zł')}" />
		<h1 class="bonus">
			<h:outputText value="#{msgs['CMS.termsBonus13.text.t1']}" escape='false'/>
		</h1>
		<div>
			<p>
				<strong>
					<h:outputFormat value="#{msgs['CMS.termsBonus13.text.t2']}" escape='false'>
						<f:param value="#{bonusAmount}" />
					</h:outputFormat>
				</strong>
			</p>
			<p>
				<strong>
					<h:outputFormat value="#{msgs['CMS.termsBonus13.text.t8']}" escape='false'>
						<f:param value="#{bonusAmount}" />
					</h:outputFormat><br/>
					<h:outputText value="#{msgs['CMS.termsBonus13.text.t3']}" escape='false'/>
				</strong>
			</p>
			<p>
				<h:outputFormat value="#{msgs['CMS.termsBonus13.text.t4']}" escape='false'>
					<f:param value="#{facesContext.externalContext.requestParameterMap['endDate']}" />
				</h:outputFormat>
			</p>
			<p><h:outputText value="#{msgs['CMS.termsBonus13.text.t5']}" escape='false'/></p>
			<p>
				<ui:include src="/jsp/single_pages/bonusTerms/popUpBonusTermsIframe_#{applicationData.userLocale.language}.xhtml"></ui:include>
			</p>
		</div>
	</div>
</body>
</f:view>
</html>