<!DOCTYPE html>
<html
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>
<f:view locale="#{applicationData.userLocale}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<ui:include src="/jsp/html_elements/styles.xhtml">
		<ui:param name="iFrame" value="_iframe" />
	</ui:include>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
</head>
<body dir="#{applicationData.pageDirection}">
	<div class="terms_bonus_image">
      	<h:panelGroup rendered="#{(facesContext.externalContext.requestParameterMap['bonusStateId']==1 || facesContext.externalContext.requestParameterMap['bonusStateId']==2 || facesContext.externalContext.requestParameterMap['bonusStateId']==10)}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/offer.gif" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 || facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/offer_used.gif" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/offer_expiered.gif" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/offer_waived.gif" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/offer_canceled.gif" />
    	</h:panelGroup>
	</div>
	<div class="terms_bonus_text">
		<h1 class="bonus">
			<h:outputText value="#{msgs['CMS.termsBonus11.text.t1']}" escape='false'/>
		</h1>
		<p>
			<h:outputText value="#{msgs['CMS.termsBonus11.text.t2']}" escape='false'/>
			<h:panelGroup rendered="#{applicationData.skinId==15}">
				#{facesContext.externalContext.requestParameterMap['minInvestAmount']}
				<h:outputText value="#{msgs['CMS.termsBonus11.text.t6']}" escape='false'/>
				#{facesContext.externalContext.requestParameterMap['maxInvestAmount']}
				<h:outputText value="#{msgs['CMS.termsBonus11.text.t7']}" escape='false'/>
			</h:panelGroup>
			<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>
			<h:outputText value="#{msgs['CMS.termsBonus11.text.t3']}" escape='false'/>
			<br/><br/>
			<h:outputFormat value="#{msgs['CMS.termsBonus.NIOU']}" escape="false" >
				<f:param value="#{facesContext.externalContext.requestParameterMap['cashBalance']}" escape="false"/>
			</h:outputFormat>

			<ui:include src="/jsp/single_pages/bonusTerms/popUpBonusTermsIframe_#{applicationData.userLocale.language}.xhtml"></ui:include>
		</p>
	</div>
</body>
</f:view>
</html>