<html xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >
<head>
    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache"/>
    <META HTTP-EQUIV="REFRESH" CONTENT="1920"/>
	<script>
		document.domain = "#{applicationData.domainUrl}";
		var skinId = #{applicationData.skinId};
	</script>

<h:panelGroup rendered="#{empty facesContext.externalContext.sessionMap['utcOffset']}">
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js?version=cvsTimeStamp"></script>
	<script>
	    var url = "#{facesContext.externalContext.requestContextPath}/jsp/ajax.jsf?setUTCOffset=" + new Date().getTimezoneOffset();
	    var ajax = new AJAXInteraction(url, offsetCallback);
	    ajax.doGet();
		/*
		  Reload ticker after setting utcOffset in Session
		  This is done because ticker page up before the Ajax call(return to server side)
		*/
		function offsetCallback(responseXML) {
		   window.location.reload();
		}
	</script>
</h:panelGroup>
</head>
<body>

<f:view locale="#{applicationData.userLocale}">

</f:view>
</body>
</html>
