#extra_controls, #scrollbar, #scrollbar_scroll {
    display:block; /* initially display:none; to hide from incapable */
    }

div#wn	{
	position:relative;
	width:172px;
	overflow:hidden;
	}
div.content { /* hide content to be swapped in */
	position:absolute; visibility:hidden;
	left:0px; top:0px;
	}
div#lyr1 { /* show first div */
    visibility:visible;
    }
div#scrollbar {
  position:relative;
  width:11px;
  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
  }
div#track {
  position:absolute; left:0; top:12px;
  width:11px;
  background: #666666;
  }
div#dragBar {
  position:absolute; left:1px; top:1px;
  width:9px; height:20px;
  background-color:#e1e1e1;
  }
div#up { position:absolute; left:0; top:0; }
div#down { position:absolute; left:0; bottom:0; }

/* so no gap or misplacement due to image vertical alignment
font-size:1px in scrollbar has same effect (less likely to be removed, resulting in support issues) */
div#scrollbar img, div#scrollbar_scroll img {
    display:block;
    }

/* for safari, to prevent selection problem */
div#scrollbar, div#track, div#dragBar, div#up, div#down, div#scrollbar_scroll {
    -moz-user-select: none;
    -khtml-user-select: none;
}

/*************** for new HP *************/
div#track_scroll {
  position:absolute; left:0; top:15px;
  width:17px;
  background: #efefef;
  border-left: solid 1px #94a5b0;
  border-right: solid 1px #94a5b0;
  }
div#dragBar_scroll {
  position:absolute; left:1px; top:1px;
  width:15px; height:20px;
  background-color:#b0c2cd;
  }
div#scrollbar_scroll {
   position:relative;
  width:17px;
  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
  }
/****************************************/