body {
	font-family: Verdana, Geneva, sans-serif
}
.right_content_title {
	font-size: 21px;
	font-weight: normal;
	color: #093755;
}
.input {
	border: none;
	width: 195px;
	height: 20px;
	color: #fff;
	font-size: 12px;
	padding-left: 5px;
	padding-top: 0px\9;
	background-color: transparent;
}
*+html .input {padding-top: 2px !important; }
.error_messages {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #e97f02;
	font-size: 11px;
	font-weight: normal;
	vertical-align: middle;
}

.error{
	border: 1px solid #E97F02 !important;
}
#error_sect{
	/*margin-top:66px;*/
}
/******************form********************/
.quickstart_side {
	width: 184px;
	margin: 12px 0 0 0 !important;
	
}
.quickstart_side h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 15px;
	color: #093755;
	font-weight: normal;
	text-align: left;
}
.quickstart_side input {
	color: #5985a2;
	margin: 8px 0px 8px 0px;
	background-color: #f2f5f6;
	border: 1px solid #8aa6b9;
	padding-left: 5px;
	width: 175px;
	height: 20px;
}
.quickstart_side input:focus {
	background-color: #FFF;
	border: 1px solid #e97f02;
}
.quickstart_side select {
	color: #5985a2;
	margin: 8px 0px 8px 0px;
	background-color: #f2f5f6;
	border: 1px solid #8aa6b9;
	width: 184px;
}
.quickstart_side #contactUsForm #countryBox{
	margin-bottom: 0px !important;
}
.quickstart_side #contactUsForm #code input {
	width: 41px;
	height: 20px;
}
.quickstart_side #contactUsForm #number input {
	width: 119px !important;
}
.quickstart_side .QuickStart_SubmitButton {
	width: 184px;
	height: 51px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent !important;
	float: right;
	border: none;
	cursor: pointer;
}
.quickstart_side input[type="image"] {
	width: 184px;
	height: 51px;
	background-color: transparent !important;
	border: none;
	padding-left: 0px;
}
.quickstart_side #contactUsForm #code {
	width: 46px;
	height: 20px;
	margin: 0 10px 12px 0;
	float: left;
}
.quickstart_side #contactUsForm #number {
	width: 100px;
	height: 20px;
	margin-bottom: 10px;
	float: left;
	position: relative;
}
/*************content***************/
.bitcoin_expLine {
	width: 720px;
	border-top: solid 1px #d6d6d6;
	border-bottom: solid 1px #d6d6d6;
	color: #727272;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	padding: 12px 0;
	margin-top: 15px;
}
.bitcoin_expLine a {
	color: #2293db;
	text-decoration: none;
}
.bitcoin_expLine a:hover {
	color: #5f9dc5;
	text-decoration: none;
}
.contentBtm_bitcoin h1 {
	margin: 0 0px 15px 0px;
	padding: 0px;
	text-transform: uppercase;
	font-size: 21px;
	color: #093755;
	font-weight: normal;
	text-align: left;
}
.contentBtm_bitcoin a {
	font-size: 12px;
	color: #2293db;
	text-decoration: none;
}
.contentBtm_bitcoin a:hover {
	color: #5f9dc5;
	text-decoration: none;
}
.bitcoin_orderhow {
	padding: 20px 0 10px 0;
}
.bitcoin_orderhow h1 {
	width: 250px;
	floaT: left;
}
.bitcoin_orderhow a {
	text-align: right;
	margin-top: -20px;
}
.bitcoin_how_list {
	margin-top: 10px;
}
.bitcoin_how_list1 {
	width: 207px;
}
.bitcoin_how_list2 {
	width: 227px;
}
.bitcoin_how_list3 {
	width: 267px;
}
.bitcoin_how_list h2 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	line-height: 16px;
	color: #093755;
	font-weight: bold;
}
.bitcoin_how_list {
	color: #093755;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
	text-align: left;
	border-bottom: solid 1px #d6d6d6;
	padding-bottom: 20px;
}
.bitcoin_how_img1, .bitcoin_how_img2, .bitcoin_how_img3 {
	background-color: transparent;
	background-position: right 30px;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}
.bitcoin_how_list1, .bitcoin_how_list2 {
	padding-right: 20px;
	vertical-align: top;
}
.bitcoin_how_list3 {
	padding-right: 5px;
	vertical-align: top;
}
.bitcoin_how_img3 {
	width: 160px;
}
.bitcoin_about {
	background-color: transparent;
	background-position: left 15px;
	background-repeat: no-repeat;
	padding-left: 100px;
	color: #727272;
	height: 120px;
}
/******banner*******/
.banner_bitcoin {	
	color: #727272;
	line-height: 16px;
	text-align: left;
	font-weight: normal;
	width: 186px;	
}
.banner_bitcoin p {
	font-size: 12px;
	line-height: 16px;
	padding: 20px 0 10px 0;
	margin: 0px;
}
.banner_bitcoin .list {
	padding: 0px;
	margin: 0px;
}
.banner_bitcoin .list span {
	color: #0284d8;
	width: 20px;
}
.banner_bitcoin h1 {
	margin: 0px;
	font-size: 21px;
	line-height: 24px;
	font-weight: normal;
	padding: 0px;
	color: #093755;
	text-transform: uppercase;
	text-align: left;
}
/**********terms*************/
.bitcoin_terms {
	position: absolute;
	width: 510px;
	background-color: #f5fbff;
	background-position: left top;
	background-repeat: repeat-x;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: solid 1px #093755;
	-moz-box-shadow: 0px 0px 6px 2px #e5e5e5;
	-webkit-box-shadow: 0px 0px 6px 2px #e5e5e5;
	box-shadow: 0px 0px 6px 2px #e5e5e5;
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	box-shadow: none\9;
	filter: none\9;
	padding: 20px 20px 35px 20px;
}
.bitcoin_terms h1 {
	float: left;
	color: #093755;
	font-size: 20px;
	font-weight: normal;
	padding: 0 0 0 0;
	float: left;
	width: 490px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	line-height: 24px;
	text-align: left;
}
.bitcoin_terms_content {
	zoom: 1;
	color: #727272;
	font-size: 11px;
	line-height: 15px;
	font-weight: normal;
	text-align: left;
	float: left;
	width: 510px;
}
.bitcoin_terms_content ul {
	list-style-type: decimal;
	list-style-position: outside;
	 margin: 0 0 0 20px;
    padding: 0;
	width: 510px;
	float: left;
}
.bitcoin_terms_content ul li {
	padding: 5px 0 0 0;
	line-height: 15px;
	width: 490px;
}
.bitcoin_terms_content ul li a {
	color: #2293db;
	text-decoration: none;
}
.bitcoin_terms_content ul li a:hover {
	color: #5f9dc5;
	text-decoration: none;
}
.bitcoin_terms .close {
	float: right;
	margin: 0;
}
.bitcoin_terms .close input[type="image"] {
	width: 13px;
	height: 11px;
}
/************off hours**************/
.bitcoint_offhours_container {
	float: left;
	width: 720px;
	height: 700px;
	background-color: #fff;
	background-position: left top;
	background-repeat: no-repeat;
}
.bitcoin_offhours_msg {
	float: left;
	width: 345px;
	margin: 250px 0 0 172px;
	background-color: #f5fbff;
	background-position: left top;
	background-repeat: repeat-x;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: solid 1px #093755;
	-moz-box-shadow: 0px 0px 6px 2px #e5e5e5;
	-webkit-box-shadow: 0px 0px 6px 2px #e5e5e5;
	box-shadow: 0px 0px 6px 2px #e5e5e5;
 filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	box-shadow: none\9;
	filter: none\9;
	padding: 15px;
}
.bitcoin_offhours_msg h1  {
	float: left;
	color: #093755;
	font-size: 19px;
	font-weight: normal;
	padding: 0 0 0 0;
	float: left;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	line-height: 24px;
	text-align: center;
	width: 345px;
}
.bitcoin_offhours_msg p {
	color: #0284d6;
	font-size: 12px;
	line-height: 15px;
	font-weight: normal;
	text-align: center;
	width: 345px;
}
.bitcoin_offhours_msg .onetoucn_msg {
	width: 220px;
	margin: 0 auto;
}
.bitcoin_offhours_msg a {
	color: #0284d6;
	text-decoration: underline;
}
.bitcoin_offhours_msg a:hover {
	color: #e97f02;
	text-decoration: underline;
}