/****************************/
/* General styles start  */
/****************************/

body{
	padding:0px;
	margin:0px;
	font-family: Arial,sans-serif;
	font-size:11px;
	color:#333;
	background-image:url(../images/iw_11/bck_all.gif);

}

.body_bg {
	background-color:  #c6c6c6;
}

.box_bg {
	background-color:  #dcdcdc;
}

.site_width {
	width: 960px;
}

.table_border_box {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333333;
	background-color: white;
}

.table_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #f2f2f2;
	background-color: white;
}

.table_no_up_border {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: #f2f2f2;
}

.table_sides_border {
	border-width: 0px 1px 0px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}

.trade_page_table_border {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: ;
	border-collapse: collapse;
	background-color: #e1e1e1;
}

.input{
	font-family:Arial,sans-serif;
	font-size:12px;
	color: #333;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.input_table_border {
	font-family:Arial,sans-serif;
	font-size:11px;
	color: #333;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #666;
	border-collapse: collapse;
	background-color: white;
	height: 18px;
}

.header_pages {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#34a019;
	text-align:right;
	font-weight: bold;
	background-image:url(../images/iw_11/header_pages.gif);
	background-repeat:repeat-x;
	text-transform:uppercase;
}

.header_pages_ar {
	font-family:Arial,sans-serif;
	color:#34a019;
	font-size:10px;
	height:30px;
	background-image:url(../images/iw_11/header_pages.gif);
	background-repeat:repeat-x;
}


.header_pages_message {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:center;
	background-image:url(../images/iw_11/header_pages.gif);
	background-repeat:repeat-x;
}

h1{
	padding:0px;
	margin:0px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#34a019;
	text-align:center;
}

.learn_h2{
	color:#093755;
	text-align:center;
	font-weight: bold;
	text-transform:uppercase;
	padding:0px;
	margin:0px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
}

.learn_h3{
	padding:0px;
	margin:0px;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#34a019;
	text-align:right;
}

.error_messages{
	font-family:  Arial, Helvetica, sans-serif;
	color:#ff0000;
	font-size:11px;
	font-weight:normal;
	vertical-align: middle;
}

.error_messages_10px{
	font-family:Arial,sans-serif;
	color:#ff0000;
	font-size:12px;
	font-weight:normal;
	vertical-align: middle;
}

.error_messages_12px{
	font-family:Arial,sans-serif;
	color:#ff0000;
	font-size:12px;
	font-weight:normal;
	vertical-align: middle;
}

.info_messages{
	font-family:Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #333;
}

.info_messages_normal{
	font-family:Arial,sans-serif;
	font-size:12px;
	color: #333;
	text-align:right;
}

.lable_text{
	font-family:Arial,sans-serif;
	color:#333;
	font-size:12px;
	vertical-align: middle;

}

.lable_text_bold{
	font-family:Arial,sans-serif;
	color:#333;
	font-size:12px;
	font-weight:bold;
}

.pages_text {
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
	line-height:15px;
}

.pages_text_11 {
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
	line-height:15px;
}

.pages_text_12 {
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#0284d6;
	font-weight:normal;
	line-height:15px;
}

.pages_text_info {
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#333;
	font-weight:normal;
}

.pages_text_bold {
	font-family:Arial,sans-serif;
	font-size:11px;
	color:#333;
	font-weight:bold;
}

.cmbBox {
	color:#333;
	font-family:Arial,sans-serif;
	font-size:11px;
	font-weight:normal;
}

.info_pages_text_header{
	font-family:Arial,sans-serif;
	font-size:14px;
	color:#2b85ad;
	text-decoration: none;
	font-weight:bold;
}

.info_pages_text_header_section{
	font-family:Arial,sans-serif;
	font-size:14px;
	color:#2b85ad;
	font-weight:bold;
}

.info_pages_text {
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#333;
	line-height:15px;
	text-decoration: none;
}

.info_pages_text_blue {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2b85ad;
	line-height: 14px;
	text-decoration: none;
}

.hintsClass {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	Font-size: 11px;
	Background-color: #f5fbff;
	Color: #093755;
	Border: solid 1px #e97f02;
	padding: 3px;
}

.hintsClass_newCard {
	font-family:Arial,sans-serif;
	font-size: 10px;
	background-color: #2b85ad;
	color: #FFFFFF;
	border: 1px solid #2b85ad;
	padding: 3px;
	width: 300px;
}

.past_expires{
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: #333;
	border-collapse: collapse;
	background-color: white;
}

.date_range_table{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: #fafafa;
}

.general_terms_table {
	font-family: Arial,sans-serif;
	font-size:10px;
	color:#333;
	line-height:14px;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

.general_terms_td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

.marqueecontainer {
	position: relative;
	width: 185px; /*marquee width */
	height: 117px; /*marquee height */
	background-color: white;
	overflow: hidden;
}

.not_visible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

/**** General styles end  ****/


/****************************************/
/* right side investments styles start  */
/****************************************/

.todayInvlable{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	background-color: #333;
	border-width: 0px 1px 1px 1px ;
	border-color: #333;
}

.todayInvasset{
	font-family: Arial,sans-serif;
	font-size:10px;
	color:#333;
}

.todayInvhead{
	font-family:Arial,sans-serif;
	font-size:13px;
	color:#FFFFFF;
	background-image:url(../images/iw_11/header_pages.gif);
	background-repeat:repeat;
}

.profitline_td {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right;
	color:#333;
	background-color: #dcdcdc;
	font-weight:bold;
	border-width: 0px 0px 0px 0px;
	border-style: solid solid solid solid;
	border-spacing: 0px;
	border-color: #333;
	border-collapse: collapse;
}

.profitline_td_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right;
	color:#333;
	background-color: #dcdcdc;
	font-weight:bold;
	border-width: 0px 1px 0px 0px;
	border-style: solid solid solid solid;
	border-spacing: 0px;
	border-color: #333;
	border-collapse: collapse;
}

.profitline_td_right {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right;
	color:#333;
	font-weight:bold;
	background-color: #dcdcdc;
	border-width: 0px 0px 0px 1px;
	border-style: solid solid solid solid;
	border-spacing: 0px;
	border-color: #333;
	border-collapse: collapse;
}

.invest_table_border {
	border-width: 1px 1px 0px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333;
	border-collapse: collapse;
	background-color: white;
}

.invest_table_no_up_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333;
	border-collapse: collapse;
	background-color: white;
}

.table_no_up_and_down_border {

	border-collapse: collapse;
	background-color: #f2f2f2;

}

.invest_link_table_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333;
	border-collapse: collapse;
	background-color: white;
}

.rss_table_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333;
	border-collapse: collapse;
	background-color: white;
}

/** right side investments styles start**/
/****************************/
/* Menu_strip styles start  */
/****************************/

.menu_stripe{
	font-family:Arial,sans-serif;
	font-size:14px;
	color:#333;
	background-color: #f2f2f2;
}

.menu_stripe_lang{
	font-family:Arial,sans-serif;
	font-size:11px;
	color: #ffffff;
	font-weight: normal;
}

.menu_stripe_link {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#333;
	font-weight:none;
}

.menu_stripe_link_active {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#037ecb;
	font-weight:none;
}

.menu_stripe_link:hover {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color: #2b85ad;
	font-weight:none;
}

.skins_menu {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #000000;
	border-collapse: collapse;
	background-color: #005f9d;
	width: 80px;
	text-align: left;
	vertical-align: center;
}

.skins_menu_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:right;
	text-decoration:none;
	color:#ffffff;
	line-height:20px;
	width: 80px;
	margin-left: 3px;
}

.skins_menu_link_active {
	font-family:Arial,sans-serif;
	font-size:10px;
	text-align:right;
	text-decoration:none;
	color:#ffffff;
	font-weight:bold;
	line-height:20px;
	width: 80px;
	margin-left: 3px;
}

/****Menu_strip styles end****/


/****************************/
/* myAccount_Menu_strip styles start  */
/****************************/

.myAccount_menu_stripe{
	font-family:Arial,sans-serif;
	font-size:14px;
	color:#333;
}

.myAccount_menu_td {
	height: 25px;
	text-align: right;
	padding-right: 5px;
	border-width: 0px 0px 1px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
}

.myAccount_menu_td_up_down_border {
	height: 25px;
	text-align: right;
	padding-right: 5px;
	border-width: 1px 0px 1px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
}

.myAccount_menu_td_down_border {
	border-width: 0px 0px 1px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
}

.myAccount_menu_sub_td {
	height: 20px;
	text-align: right;
}

.myAccount_menu_stripe_link {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#333;
}

.myAccount_menu_stripe_link_active {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#037ecb;
	font-weight:bold;
}

.myAccount_menu_stripe_link:hover {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color: #2b85ad;
}

.myAccount_menu_stripe_link_10 {
	font-family:Arial,sans-serif;
	font-size:13px;
	text-decoration:none;
	color:#333;
}

.myAccount_menu_stripe_link_active_10 {
	font-family:Arial,sans-serif;
	font-size:13px;
	text-decoration:none;
	color:#037ecb;
	font-weight:bold;
}

.myAccount_menu_stripe_link:hover_10 {
	font-family:Arial,sans-serif;
	font-size:13px;
	text-decoration:none;
	color: #2b85ad;
}

.myAccount_menu_stripe_link_english {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#333;
}

.myAccount_menu_stripe_link_active_english {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#037ecb;
}

.myAccount_menu_stripe_link:hover_english {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color: #2b85ad;
}

.myAccount_table_border {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: ;
	border-collapse: collapse;
	background-color: white;
}


/****Menu_strip styles end****/

/****************************/
/*   Footer styles start    */
/****************************/

.footer_link {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	line-height:15px;
	text-decoration:none;
	color:#2b85ad;
}

.footer_link:hover {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	line-height:15px;
	text-decoration:none;
	color:#333;
}

.footer_link_333333 {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color:#333333;
}

.footer_link:hover {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color:#333333;
}

.footer_links_bg {
	background-color: #dcdcdc;
	height: 30px;
	width: 920px;
	line-height: 30px;
}

.footer_text{
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#333;
	text-align:center;
	line-height:15px;
}

.footer_message {
	font-family:Arial,sans-serif;
	font-size:12px;
	color:#333;
	text-align:center;
	font-weight: bold;
	line-height:15px;
}
/**** Footer styles end******/


/****************************/
/*   Header styles start    */
/****************************/

.header{
	/*background-image:url(../images/iw_11/header.gif);
	background-repeat:repeat;*/
	background-color: #f2f2f2 ;
	font-family:Arial,sans-serif;
	font-size:11px;
	color:#FFFFFF;
}

.header_register{
	/*background-image:url(../images/en_2/header.gif);
	background-repeat:repeat;*/
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: #f2f2f2 ;
}

.header_login_table{
	background-color:#333;
	text-align:
}

.header_text{
	font-family:Arial,sans-serif;
	font-size:14px;
	color:#FFFFFF;
}

.header_number{
	font-family:Arial,sans-serif;
	font-size:11px;
	color:#FFFFFF;
}

.header_link_login {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#f6cd10;
	font-weight: bold;
}

.header_link {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#FFFFFF;
}

.header_link:hover {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color: #FFFFFF;
	text-decoration:underline;
}

.header_link_open_account{
	font-family:  Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	text-decoration:none;
	color:#34a019;
	font-weight: bold;
}

.header_link_yellow {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#f6cd10;
}

.header_link_yellow:hover {
	font-family:Arial,sans-serif;
	font-size:14px;
	text-decoration:none;
	color: #f6cd10;
	text-decoration:underline;
}
.input_header{
	font-family:Arial;
	font-size:10px;
	width:110px;
	height: 17px;
	border:1px solid #333;
}

.error_header{
	font-family:Arial,sans-serif;
	font-size:10px;
	color:#FFFF00;
}

/******Header styles end*****/


/*****************************/
/*	  ticker styles start	 */
/*****************************/
.ticker{
	font-family: Arial,sans-serif;
	font-size:10px;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: ;
	border-collapse: collapse;
	background-color: white;
}

.ticker_table{
	margin: 0px;
	background-image:url(../images/iw_11/ticker1px.gif);
	background-repeat:repeat-x;
	border:0px;
}

.ticker_asset{
	font-family: Arial,sans-serif;

	font-size:11px;
	font-weight:bold;
	color:#ffffff;
}
.ticker_green{
	font-family:Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#00CC00;
}
.ticker_red{
	font-family:Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FF0000;
}

/****  ticker styles start  ****/


/*****************************/
/*	  tree styles start		 */
/*****************************/

.menu_item_close{
	font-family:Arial,sans-serif;
	font-size:12px;
	line-height:15px;
	text-align:left;
	text-decoration:none;
	cursor:pointer;
	color:#cccccc;

}
.menu_item_active{
	font-size:12px;
	line-height:15px;
	font-family: Arial,sans-serif;
	color:#333;
	text-decoration:none;
	cursor:pointer;
}

.menu_item_notActive{
	color: #a1a1a1;
	line-height:15px;
	font-size:12px;
	font-family: Arial,sans-serif;
	text-decoration:none;
	cursor:pointer;
}

.tree_bkgnd{

	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #2b85ad;
	border-collapse: collapse;
	background-color: white;
}

.menu_market_groupname{
	font-size:13px;
	color:#0283d4;
	font-weight: bold;
	line-height:14px;
	font-family: Arial,sans-serif;
}

.assetSelect_market_groupname{
	font-family:Arial,sans-serif;
	font-size:12px;
	color: #037ecb;
	font-weight: bold;
	line-height:12px;
	cursor:pointer;
	text-decoration:none;
}
.assetSelect_allAssets{
	font-family:Arial,sans-serif;
	color: #2b85ad;
	line-height:12px;
	cursor:pointer;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}

.menu_market_subgroupname{
	font-size:11px;
	line-height:14px;
	font-weight: bold;
	color:#000000;
	font-family: Arial,sans-serif;

}

.option_type{
	font-family:Arial,sans-serif;
	line-height:15px;
	font-size:12px;
	color:#333;
	text-decoration:none;
	cursor:pointer;
}

.currently_close {
	font-size: 11px;
}

/*****tree styles end*******/


/*****************************/
/*Links styles General start*/
/*****************************/

.general_link {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.general_link:hover {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #2b85ad;
}

.general_link_blue {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color:#2b85ad;
}

.general_link_blue:hover {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color: #333;
}

.general_link_blue_10 {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	line-height:12px;
	text-decoration:none;
	color:#2b85ad;
}

.general_link_blue_10:hover {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-align:center;
	line-height:12px;
	text-decoration:none;
	color:#333;
}

.general_link_10 {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-decoration:none;
	color: #333;
}

.general_link_10:hover {
	font-family:Arial,sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #2b85ad;
}

.general_link_10_active {
	font-family:Arial,sans-serif;
	font-size:12px;
	text-decoration:none;
	color: #2b85ad;
}

.general_link_line {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#333;
	font-weight:bold;
}

.general_link_line:hover {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:underline;
	color: #333;
	font-weight:bold;
}

.terms_link {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#333;
	text-decoration:underline;
}

.terms_link:hover {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #2b85ad;
	cursor: pointer;
	text-decoration:underline;
}


.rss_feed_link {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	color:#2b85ad;
	text-transform:uppercase;
}

.rss_feed_link:hover {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
	text-decoration: none;
	color: #333;
	text-transform:uppercase;
}
/***Links styles General end**/


/*****************************/
/* Trading page styles start */
/*****************************/

.box{
	width:352px;
	height:260px;
	background-position:center;
}

.boxborder{
	border:1px solid #2b85ad;
}

.slipinput{
	font-family: Arial,sans-serif;
	margin-right:10px;
	font-size:11px;
	border:1px solid #333;
}

.slipleft{
	font-family: Arial,sans-serif;
	text-align:left;
	font-size:12px;
	line-height:20px;
	color:#999999;
	padding-right:5px;
	padding-left:5px;
}

.slipright{
	font-family: Arial,sans-serif;
	text-align:right;
	font-size:12px;
	font-weight:bold;
	line-height:20px;
	color:#333;
	padding-left:5px;
	padding-right:5px;

}

/*.slip{
	font-family: Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:25px;
}
*/

.slip_head_caption{
	font-size:14px;
	font-weight:bold;
	padding-right: 5px;

	color:#2b85ad;
}

.slip_head{
	font-size:14px;
	font-weight:bold;
	padding-left: 5px;
	padding-right: 5px;
}

.slip_head_red{
	font-size:14px;
	font-weight:bold;
	color:#ca0004;
	padding-left: 5px;
	padding-right: 5px;
}

.slip_head_green{
	font-size:14px;
	font-weight:bold;
	color:#2aa600;
	padding-left: 5px;
	padding-right: 5px;
}

.slip_header{
	background-image:url(../images/iw_11/1px.jpg);
	background-repeat:repeat-x;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	color:#FFFFFF;
}

.slipreturn{
	font-family: Arial,sans-serif;
	text-align:left;
	font-size:14px;
	line-height:20px;
	color:#333;
	padding-right:5px;
	font-weight:bold;
}

.slipconfirmation{
	font-family: Arial,sans-serif;
	text-align:left;
	font-size:12px;
	line-height:20px;
	color:#333;
	padding-right:5px;
	font-weight:bold;
}


.slip_info_td {
	padding-right:3px;
	text-align: right;
	padding-top:8px;
}

.trade_asset{
	font-family: Arial,sans-serif;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;

}
.trade_header{
	font-family: Arial,sans-serif;
	font-size:11px;
	line-height:20px;
	color:#FFFFFF;
}

.trade_header_asset{
	font-family: Arial,sans-serif;
	font-size:13px;
	line-height:20px;
	color:#FFFFFF;
	font-weight:bold;
}

.trade_level_green{
	font-family:Arial;
	font-size:18px;
	color:#2aa600;
	text-align:center;
}

.trade_level_green_chart{
	font-family:Arial, Helvetica, sans-serif;
	font-size:7.5pt;
	color:#2aa600;
	text-align:center;
	font-weight: bold;
}

.trade_level_red{
	font-family:Arial;
	font-size:18px;
	color:#ca0004;
	text-align:center;
}

.trade_level_red_chart{
	font-family:Arial, Helvetica, sans-serif;
	font-size:7.5pt;
	color:#ca0004;
	text-align:center;
	font-weight: bold;
}

.trade_level_expired{
	font-family:Arial;
	font-size:18px;
	color:#333;
	text-align:center;
}

.trade_level_expired_chart{
	font-family:Arial, Helvetica, sans-serif;
	font-size:7.5pt;
	color:#333;
	text-align:center;
	font-weight: bold;
}

.trade_level_sus{
	font-family:Arial;
	font-size:14px;
	color:#333;
	text-align:center;
}

.trade_return{
	font-family: Arial,sans-serif;
	font-size:14px;
	color:#333;
	font-weight:bold;
}

.trade_return_off{
	font-family: Arial,sans-serif;
	font-size:14px;
	color:#666666;
	font-weight:bold;
	text-align:right;
}

.trade_expiery_level{
	font-family: Arial,sans-serif;
	font-size:13px;
	color:#333;
	font-weight:bold;
	text-align:left;
	text-decoration:blink;
}

.trade_expiery_level_chart{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:bold;
	text-align:center;
	text-decoration:blink;
}

.trade_expires{
	font-family: Arial,sans-serif;
	font-size:13px;
	color:#ffffff;
	font-weight:normal;
	text-align:left;

}

.trade_expires_off{
	font-family: Arial,sans-serif;
	font-size:13px;
	color:#666666;
	font-weight:bold;
	text-align:right;
}

.trade_odds {
/*
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
*/
	color:#ffffff;
	font-family: Arial;
	font-size:15px;
	font-weight:bold;
	text-align:center
}

.trade_odds_off{
	font-family: Arial;
	font-size:14px;
	color:#666666;
	padding-top:3px;
}

.trad_menu {
	background-image:url(../images/iw_11/2px_tab.jpg);
	background-repeat:repeat-x;
	color:#fff;
}

.trade_expiry_date{
	font-family: Arial,sans-serif;
	font-size:12px;
	color:#FFFFFF;
	vertical-align:top;
}

.trade_expiry_date_off{
	font-family: Arial,sans-serif;
	font-size:12px;
	color:#666666;
	vertical-align:top;
}

.trade_time_left {
	font-family: Arial,sans-serif;
	font-size:12px;
	color:#2b85ad;
	font-weight:bold;
	text-align:center;
}

.progress_table {
	border: 1px solid #0283d5;
	width: 330px;
	height: 16px;
}

.progress_time_td {
	color: #2b85ad;
/*	border: 1px solid #000000;*/
	background-color: #ffffff;
	width: 30px;
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
}

.progress_bar_td {
/*	border: 2px solid #ffffff;*/
	background-color: #0283d5;
	width: 292px;
}

.progress_bar {
	background-color: #ffffff;
	font-size: 1px;
	width: 292px;
	text-align: left;
}

.chart_trade_box_border {
	border-width:1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:outset outset outset outset;
	border-color: gray gray gray gray;
	border-collapse: inherit;
}

.chart_trade_box_time_left_txt {
	background-color:#2b85ad;
	font-family:Arial, Geneva, sans-serif;
	font-size:9px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	padding-right: 3px;
	padding-left: 3px;
	border-width: 1px 0px 1px 1px;
	border-spacing: 0px;
	border-style:solid;
	border-color: #2b85ad;
	border-collapse:collapse;
	margin-left:125px;
	float: left;
	width: 70px;
	display: inline;
}

.chart_trade_box_time_left {
	font-family:Arial, Geneva, sans-serif;
	font-size:9px;
	color:#2b85ad;
	font-weight:bold;
	text-align:center;
	border-width:1px 1px 1px 0px;
	border-spacing: 0px;
	border-style:solid solid solid solid;
	border-color: #2b85ad;
	border-collapse:collapse;
	padding-left: 1px;
	float: left;
}

.chart_trade_return_odds {
	font-size:14px;
	padding-top: 4px;
	padding-left: 2px;
}

.chart_trade_trade_return {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;
	padding-left: 1px;
	font-weight: bold;
}

.chart_box_slip {
	font-size:9px;
	color:#7d7d7d;
	font-family:Arial, Geneva, sans-serif;
}

.chart_box_sliplabel {
	color:#333;
	font-size:7.5pt;
/*	font-weight:bold;*/
	font-family:Arial, Geneva, sans-serif;
}

.chart_box_sliplabel_bold {
	color:#333;
	font-size:7.5pt;
	font-weight:bold;
	font-family:Arial, Geneva, sans-serif;
}

.chart_box_sliplabel_bold_blue {
	color:#2b85ad;
	font-size:7.5pt;
	font-weight:bold;
	font-family:Arial, Geneva, sans-serif;
}

.chart_box_slipimput {
	color:#333;
	font-size:9px;
	font-family:Arial, Geneva, sans-serif;
}

.chart_box_slipinput{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	border:1px solid #666666;
}

.chart_box_error {
	font-family: Arial, Geneva, sans-serif;
	font-size:9px;
	font-weight:bold;
	color:#F00;
	text-align: center;
}

.paddingLeft {
	padding-left: 1px;
}

.paddingRight {
	padding-right: 2px;
}

/**Trading page styles end**/


/****************************/
/* My Account Pages start  */
/****************************/

.scrollerTable {
	font-family : Arial,sans-serif;
	font-size: 11px;
	color: #666666;
	align:center;
    cellspacing:0px;
    cellpadding:0px;
    background-color: #FFFFFF;
    width: 100%;
    text-decoration: none;
}

.standardTable_SortHeader {

    color: #333;
    text-align: right;
	font-size:14px;

	border-width: 1px 0px 1px 0px;
	border-style: dashed none dashed none;
	border-color: #333;
	height: 20px;
	vertical-align: middle;
	text-decoration: none;
}

.standardTable_SortHeader a {
    color: #333;
    text-align: center;
	font-size:13px;

	font-weight:bold;
	text-decoration: none;
}

.standardTable_SortHeader a:hover {
    color: #333;
    text-align: center;
	font-size:13px;

	font-weight:bold;
	text-decoration: underline;
}

.standardTable_Row1 {
	color:#666666;
	font-family: Arial,sans-serif;
	font-size:10px;
	font-weight:normal;
    background-color: #FFFFFF;
}

.standardTable_Row2 {
	color:#666666;
	font-family: Arial,sans-serif;
	font-size:10px;
	font-weight:normal;
    background-color: #c7e2f4;
}

.standardTable18_Row1 {
	color: #666666;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #FFFFFF;
	height: 18px;
}

.standardTable18_Row2 {
	color: #666666;
	font-family: Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	background-color: #c7e2f4;
	height: 18px;
}

.standardTable_Column {
   	font-family: Arial,sans-serif;
	font-size:12px;
	color:#666666;
	text-align:right;
}

.standardTable_ColumnCentered {
    text-align: center;
}

/**My Account Pages start***/


/*
   ------------------------------------------------------------
   Calendar component
   ------------------------------------------------------------
*/

.CalendarcpYearNavigation,
.CalendarcpMonthNavigation
		{
		background-color:#333;
		text-align:center;
		vertical-align:center;
		text-decoration:none;
		color:#FFFFFF;
		font-weight:bold;
		}
.CalendarcpDayColumnHeader,
.CalendarcpYearNavigation,
.CalendarcpMonthNavigation,
.CalendarcpCurrentMonthDate,
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDate,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDate,
.CalendarcpCurrentDateDisabled,
.CalendarcpTodayText,
.CalendarcpTodayTextDisabled,
.CalendarcpText
		{
		font-family:Arial,sans-serif;
		font-size:12px;
		}
TD.CalendarcpDayColumnHeader
		{
		text-align:right;
		border:solid thin #566764;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:0px;
		border-bottom-width:1px;
		color:#000000;
  		font-family:Arial,sans-serif;
  		font-size:12px;
		}
.CalendarcpCurrentMonthDate,
.CalendarcpOtherMonthDate,
.CalendarcpCurrentDate
		{
		text-align:right;
		text-decoration:none;
		color:#333;
  		font-family:Arial,sans-serif;
  		font-size:12px;
  		font-weight:normal;
		}
.CalendarcpCurrentMonthDateDisabled,
.CalendarcpOtherMonthDateDisabled,
.CalendarcpCurrentDateDisabled
		{
		color:#D0D0D0;
		text-align:right;
		text-decoration:line-through;
		}
.CalendarcpCurrentMonthDate
		{
		color:#333;
		font-family:Arial,sans-serif;
  		font-size:12px;
  		font-weight:normal;
		}
.CalendarcpCurrentDate
		{
		color: #FFFFFF;
		font-weight:normal;
		}
.CalendarcpOtherMonthDate
		{
		color:#808080;
		text-decoration:line-through;
		font-family:Arial,sans-serif;
  		font-size:12px;
  		font-weight:normal;
		}
TD.CalendarcpCurrentDate
		{
		color:#FFFFFF;
		background-color: #333;
		border-width:1;
		border:solid thin #333;
		}
TD.CalendarcpCurrentDateDisabled
		{
		border-width:1;
		border:FFFF00;
		}
TD.CalendarcpTodayText,
TD.CalendarcpTodayTextDisabled
		{
		border:solid thin #333;
		border-left-width:0px;
		border-right-width:0px;
		border-top-width:1px;
		border-bottom-width:0px;
		}
A.CalendarcpTodayText,
SPAN.CalendarcpTodayTextDisabled
		{
		height:20px;
		}
A.CalendarcpTodayText
		{
		color:#333;
		}
SPAN.CalendarcpTodayTextDisabled
		{
		color:#D0D0D0;
		}
.CalendarcpBorder
		{

		}

/*
   ------------------------------------------------------------
   End Calendar component
   ------------------------------------------------------------
*/

/*
	-------------------------------------------------
	Request a call back styles
	-------------------------------------------------
*/

.request_title{
	font-family:Arial,sans-serif;
	color:#02619e;
	font-size:13px;
	text-align:center;
}
.callinput{
	font-family: Arial,sans-serif;
	font-size:9px;
	height: 18px;
	width:120px;
	border:1px solid #333;
}
.request_table_border{
	border-width: 1px 1px 1px 1px;
	border-spacing: ;
	border-style: solid solid solid solid;
	border-color: #037bc7;
	border-collapse: separate;
	background-color: white;
}

.contactme_succ_header {
	font-family: Arial,sans-serif;
	font-size:25px;
	color:#0164a8;

}

.contactme_succ_body {
	font-family: Arial,sans-serif;
	font-size:9px;
	color:#333;
	line-height: 12px;
}


/*
	-------------------------------------------------------
	Paginator styles
	-------------------------------------------------------
*/
.scroller {

	font-family:Arial,sans-serif;
	font-size:10px;
	font-weight:normal;
	border:1;
	text-align:center;
	align:center;
}

.paginator {			/*pagin styles*/
    color: #333;
	font-family :  Arial,sans-serif;
	font-size: 10px;
	font-weight:normal;
	text-align:center;
	align:center;
}

.paginator_cols { 		/*colum number*/
	width: 10px;
	height: 10px;
	text-align:center;
	align:center;
	background: #333;
}

.paginator_cols a {	   /*pages number links*/
	color: #FFFFFF;
	font-family :  Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	background: #333;
	text-align:center;
	text-decoration: none;
}

.paginator_active {    /* selected page*/
	color: #333;
	font-family :  Arial,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align:center;
	text-decoration: underline;
}

.right_align{
		align:right;
		text-align:right;
}

.left_align{
	align:left;
	text-align:left;
}

.center_align{
	text-align:center;
	align:-moz-center;
	#align:center;
	#text-align:center;
}

/*
   ---------------------------------
			Print slip
   ---------------------------------
*/

.slip_print_left{
	font-family: Arial,sans-serif;
	text-align:right;
	font-size:11px;
	line-height:20px;
	color:#999999;
	padding-right:5px;
}
.slip_print_right{
	font-family: Arial,sans-serif;
	text-align:left;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
	color:#000000;
	padding-left:5px;

}

.slip_print{
	font-family: Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	line-height:25px;
}

.slip_level{
	font-family: Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-left:5px;
	padding-left:5px;
}

.slipreturn_print{
	font-family: Arial,sans-serif;
	font-size:11px;
	line-height:20px;
	color:#0269ab;
	padding-right:5px;
	font-weight:bold;
}

.slip_conf_print{
	font-family: Arial,sans-serif;
	font-size:12px;
	color:#0269ab;
	padding-right:5px;
	font-weight:bold;
}


/****************************/
/* Ticker                   */
/****************************/

.ticker_header {
	font-family:Arial,sans-serif ,sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;

	vertical-align: middle;
}
.ticker_market {
	font-family:Arial,sans-serif,sans-serif;
	font-size: 12px;
	color: #333333;
	vertical-align: middle;
	text-decoration:none;
}

.ticker_market_off {
	font-family:Arial,sans-serif;
	font-size: 12px;
	color: #666666;
	vertical-align: middle;
}

.ticker_level_green {
	font-family:Arial,sans-serif;
	font-size: 12px;
	color: #3ed00b;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	DIRECTION:LTR;
}

.ticker_level_red {
	font-family:Arial,sans-serif;
	font-size: 12px;
	color: #f00;
	text-align: center;
	vertical-align: middle;
	DIRECTION:LTR;
}
/****************************/
/*  Asset Index styles		*/
/****************************/
.asset_type{
	font-family: Arial,sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#0282d3;
}

.area{
	font-family: Arial,sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:bold;
	text-align:left;
}

.asset_name{
	font-family: Arial,sans-serif;
	color:#333;
	font-size:12px;
	cursor:pointer;
}

.asset_select{
	font-family: Arial,sans-serif;
	font-size:14px;
	color:#2b85ad;
	font-weight:bold;
	cursor:pointer;
}

.asset_info{
	font-family: Arial,sans-serif;
	font-size:12px;
	line-height:15px;
	color:#333;
}

.line{
	padding-top:5px;
}

.hand{
	cursor:pointer;
}

.calc_table{
	font-family: Arial,sans-serif;
	font-size:12px;
	color:#333;
	line-height:14px;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}

.calc_border{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: #a1a1a1;}

.calc_td{
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: dotted dotted dotted dotted;
	border-color: gray gray gray gray;
	-moz-border-radius: 0px 0px 0px 0px;
}

/* styles for Asset Index */
.top{
	vertical-align:top;
	text-align:right;
}
.dottedborder{
	border-right:1px dotted black;
	vertical-align:top;
}
.dottedborder2{
	border-left:1px dotted black;
	vertical-align:top;
}
.howcani{
	font-family: Arial,sans-serif;
	font-size:14px;
	color: #333;
	text-decoration: none;
	font-weight:bold;
}

/* styles for offHour */
.offHourTxt {
	font-family: Arial,sans-serif;
	font-size: 11px;
	color: #333;
	direction:rtl;
}

/* deposit receipt styles */
.deposit_print_receipt_number_label{
	font-family: Arial,sans-serif;
	font-size: 13px;
	color: #2b85ad;
}

.deposit_print_receipt_number{
	font-family: Arial,sans-serif;
	font-size: 13px;
	color: #333;
}

.field_label{
	font-family: Arial,sans-serif;
	font-size: 12px;
	font-weight:bold;
	color: #333;
	text-align:left;
}

.field_info{
	font-family: Arial,sans-serif;
	font-size: 12px;
	color: #333;
	padding-left: 7px;
	text-align:right;
}
.print_link{
	font-family: Arial,sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #2b85ad;

}
.border_top{
	border-top:1px dotted black;
	vertical-align:top;
}
.border_bottom{
	border-bottom:1px dotted black;
	vertical-align:top;
}

/* styles for quick guide */
.qg_text {
	font-size: 12px;
	font-family: Arial,sans-serif;
	color: #333;
	text-align:right;
}

.qg_h1 {
	font-size: 10px;
	font-weight: bold;
	font-family:Arial,sans-serif;
	color: #333;
	text-align:left;
}
.qg_number {
	font-size:16px;
	font-weight: bold;
	font-family: Arial,sans-serif;
	color: #2b85ad;
	line-height:21px;
}
.qg_table {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:dotted;
	border-color: gray gray gray gray;
	border-collapse: separate;
}

.reverse_withdraw_text{
	font-family:Arial,sans-serif;
	font-size:10px;
	color:#333;
	font-weight:normal;
}

/***************************** msg from db ******************************/
.msg_from_db {
	font-family: Arial,sans-serif;
	font-size:10px;
	color:#2b85ad;
	padding-left:3px;
	padding-right:3px;
	font-weight:bold;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #2b85ad #2b85ad #2b85ad #2b85ad;
	border-collapse: collapse;
	background-color: white;
	vertical-align: middle;
}
/*******************************************************************************/

/************* Style for new card form */
.right_align_deposit{
		align:right;
		text-align:right;
		width:418px;
}

.left_align_deposit{
	align:left;
	text-align:left;
	width:250px;
}

.hintsClass_canceledTrx {
	font-family:Arial,sans-serif;
	font-size: 10px;
	background-color: #2b85ad;
	color: #FFFFFF;
	border: 1px solid #2b85ad;
	padding: 3px;
	width: 140px;
}

.scheduleClass{
	width:70px;
}
/*******************************************************/
/**       ONE TOUCH STYLES                             */
/*******************************************************/
.oneTouchTxt{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:center;
}
.headerTxt{
	font-size:11px;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
	background-color:#2b85ad;
}
.subtext{
	font-size:9px;
	color:#999999;
	text-align:center;
	text-decoration:none;
}

.subtext_link {
	font-size:9px;
	color: #999999;
	text-align:center;
	text-decoration:none;
}

.subtext_link:hover {
	font-size:9px;
	color: #2b85ad;
	text-align:center;
	text-decoration:none;
}

.optionClass{
	font-size:10px;
	line-height:12px;
	color:#333;
	text-decoration:none;
	vertical-align: middle;
}
.table1Touch{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style:solid solid solid solid;
	border-color:#333;
	background-color: #ffffff;
}
.tm{
	font-size:10px;
	font-weight:bold;
	color:#333;
}
.units_select{
	font-size:10px;
	height:18px;
	width:60px;
}
.header_pages_oneTouch {
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#34a019;
	text-align:right;
	background-image:url(../images/iw_11/header_pages.gif);
	background-repeat:repeat-x;
	font-weight:bold;
}
.onet_terms{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	line-height:14px;
	font-weight:normal;
	align:right;
}
.onet_number{
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333;
	line-height:14px;
	font-weight:normal;

}
.loginErrorBorder{
	border-width: 1px 1px 1px 1px;
	border-spacing: 2px;
	border-style:solid solid solid solid;
	border-color:#ff0000;
	border-collapse: separate;
}
.doNotShow{
	display:none;
}

.show_row {
	display: table-row;
}

.onetouch_tradePage_banner{
	color:#333;
	line-height:12px;
	text-align:right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

.onetouch_tradePage_banner_border {
	background-color: #f2f2f2;
}

.onetouch_right_banner {
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:right;
	line-height:11px;
}

.onetouch_tradePage_offhour {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	line-height:14px;
}

.onetouch_tradePage_offhour_ar {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	line-height:15px;
	text-align:right;
}
.menu_stripe_link_red {
	font-family: Arial, sans-serif;
	font-size:14px;
	text-decoration:none;
	color:#FF0000;
	font-weight:none;
}

.onetouch_banner_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:11px;
	text-decoration:none;
	color:#2b85ad;
}

.onetouch_banner_link:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	line-height:11px;
	text-decoration:none;
	color:#333;
}

/*************************************************/
/*           NEW STYLE FOR MENU STRIP            */
/*************************************************/

.menu_seperator {
	width: 15px;
	font-size: 13px;
	text-align: center;
}

.menuItem {
	text-align: center;

}

.menu_td{
	background-image: url(../images/iw_11/tabback.jpg)
}
.menu_underline{
	border-bottom: 1px dotted #000000;
	font-size: 1px;
}
.menu_underline2{
	border-bottom: 1px dotted #000000;
	font-size: 1px;
}
.no_border{
	border-bottom: 0px none;
}
.menu_underline_sides{
	border-top: 1px dotted #000000;
	font-size: 1px;
}
.gray_background{
	background-color:#f2f2f2;
}
.header_pages_separator {
	background-image:url(../images/iw_11/separetor2.gif);
	text-transform:uppercase;
}
.tradingBoxBack{
	background-image:url(../images/iw_11/boxoff.jpg);
}
.menu_underline_align{
	border-bottom: 1px dotted #000000;
	font-size: 1px;
}
.general_link_blue_12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	line-height:18px;
	text-decoration:none;
	color:#2b85ad;
}
.whatisao_text{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	line-height:14px;
	text-align:right;
}
.customers_border{
	border-color: #848887;
	border-width:0px 0px 0px 0px;
	border-style:none none none none;
}

.onetouch_lastlevels_link {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#333;
	line-height:20px;
}

.onetouch_lastlevels_active {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#2b85ad;
	font-weight:bold;
	line-height:20px;
}
.binary0100_lastlevels_link {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#333;
	line-height:20px;
}

.binary0100_lastlevels_active {
	font-family:Arial,sans-serif;
	font-size:11px;
	text-decoration:none;
	color:#2b85ad;
	font-weight:bold;
	line-height:20px;
}
.personal_column1{
	width:180px;
	text-align:left;
}
.personal_column2{
	width:120px;
	text-align:right;
}

/****************** Bonus page **********************/
.bonus_status_type {
	font-family:Arial,sans-serif;
	line-height:15px;
	font-size:14px;
	color:#333;
	text-decoration:none;
	cursor:pointer;
}

.bonus {
	font-family:Arial,sans-serif;
	font-size:21px;
	font-weight:bold;
	color:#2b85ad;
}
.bonus_text {
	font-family:Arial,sans-serif;
	font-size:13px;
	line-height:16px;
	color:#333;
}
.bonus_terms {
	font-family:Arial,sans-serif;
	font-size:12px;
	line-height:16px;
	color:#333;
}
.reverse_links_red{
	color:#ff0000;
	font-family:Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:underline;
}
/***************** end bonus page********************/

/**************** 1T offHours ***********************/
.maintext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	line-height:23px;
	color:#333;
	font-weight:bold;
	direction: rtl;
	text-align: right;
}

.smalltext{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#333;
	direction: rtl;
	text-align:
	right;
}
/**************end 1T offHours ***********************/

/**************** Information Boxes ***********************/

.table_box{
	font-family: Arial, Helvetica, sans-serif;
	color:#333;
	background-color: #34a019;
   	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333;
	border-collapse: collapse;
	background-color: white;
}


.header_box {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:right;
	vertical-align: middle;
	font-weight: bold;
	background-image:url(../images/iw_11/header_yellow.gif);
	background-repeat:repeat-x;
}

.header_box_text {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333;
	text-align:right;
	vertical-align: middle;
	font-weight: bold;
	margin-left: 5px;
}

.readmore {
	font-family:  Arial, Helvetica, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#2b85ad;
	font-weight:none;
	text-align: left;
}

.profitline_box_bold{
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#2b85ad;
	text-align: right;
	font-weight:bold;
}

.profitline_box_content{
	font-family:  Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333;
	text-align: right;
}

.profitline_body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:17px;
	color:#333;
	margin-left: 193px;
	text-align: right;
}

.profitline_headline{
	font-size:11px;
	color:#2b85ad;
	text-transform:uppercase;
	font-weight:bold;
	}

.profitline_boldtext{
	font-size:11px;
	color:#333;
	font-weight:bold;
	}

/**************end Information Boxes ***********************/

/**************** New Information Boxes ***********************/

info_body {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#333;
}
.info_head {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bolder;
	color:#333;

}
.info_content {
	font-size:12px;
	color:#333;
	text-align: right;
}
.info_anyoption {
	font-size:18px;
	font-weight:normal;
}
.info_link {
	color:#2b85ad;
	font-size:13px;
}


/**************end New Information Boxes ***********************/


/**************start Registeration Page ***********************/

.register_input{
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	vertical-align: middle;
	height:18px;
	width:200px;
	color: #333;
	border:1px solid #333;
}

.register_dot{
	background-image:url(../images/en_2/dotdivder.gif);
	background-repeat:repeat-x;
	height: 14px;
}

.register_header{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#2b85ad;
	text-transform:uppercase;
	font-weight:bold;
}

.register_combobox{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	height:25px;
	width:249px;
	text-align: left;
	vertical-align: bottom;
}

.register_small_combobox{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width: 81px;
	height:25px;
	text-align: left;
	vertical-align: bottom;
}

/**************end Registeration Page ***********************/

/*************asset list page **********************/
.assetListTxt {
	font-size: 11px;
	line-height: 18px;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.assetListTxt:HOVER {
	font-size: 11px;
	line-height: 18px;
	color: #2b85ad;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.assetListGroupTxt {
	font-size: 11px;
	line-height: 18px;
	font-weight:bold;
	color: #2b85ad;
	font-family: Arial, Helvetica, sans-serif;
}
/*************end asset list page **********************/

/***********New AO design*********/

.new_input{
	font-family:Arial,  Geneva, sans-serif;
	font-size:11px;
	width:165px;
	color:#333;
}

.new_combobox{
	font-family:Arial,  Geneva, sans-serif;
	font-size:11px;
	width:171px;
	color:#333;

}

.new_lable{
	font-family: Geneva, sans-serif;
	font-size:11px;
	color:#333;
	/*font-weight:bold;*/
}

/***********END AO design*******/

/**************learn about page*************************/

.learnAbout_body{
	font-family: Geneva, sans-serif;
	font-size:10px;
	color:#333;
	line-height:14px;
	text-align:	right;
	}

.learnAbout_headline{
	color:#2b85ad;
	font-weight:bold;
	}

.learnAbout_color{
	color:#2b85ad;
	}

.learnAbout_toplinks {
	font-weight:bold;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color:#333;
	text-align:	right;
}

.learnAbout_toplinks:hover {
	font-weight:bold;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #2b85ad;
	text-align:	right;
}

.learnAbout_toplinks_blue {
	font-weight:bold;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #2b85ad;
	text-align:	right;
}

.learnAbout_toplinks_blue:hover {
	font-weight:bold;
	font-family:  Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	text-decoration:none;
	color: #333;
	text-align:	right;
}

/**************end learn about page*************************/

/**************golden minute page*************************/

.floating_div {
	width: 550px;
	position: absolute;
	z-index: 800;
	background-color: white;
	display: none;
}

.golden_asset {
	text-transform: uppercase;
	color:#333;
	font-weight:bold;
}

.golden_border {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#333;
	border-collapse:collapse;
}

.golden_border_rec {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#2b85ad;
	border-collapse:collapse;
	background-color:#333;
	font-size:10px;
	color:#ffffff;
	font-weight:bold;
}

.golden_border_error {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cf0000;
	border-collapse:collapse;
}

.golden_infotext {
	font-size:11px;
	color:#092755;
	line-height:16px;
}

.golden_infotext_roll {
	font-size:11px;
	color:#092755;
	line-height:16px;
	text-align:justify
}

.golden_terms {
	font-size: 9px;
	color: #2b85ad;
	font-weight: bold;
	text-decoration: none;
}

.golden_error {
	font-size:9px;
	color:#F00;
	font-weight:bold;
	text-align:left;
	padding-left:5px;
}

.golden_clock {
	color:#cf0000;
	font-size:20px;
	font-weight:bold;
}

.golden_timeleft {
	color:#cf0000;
	font-size:11px;
	font-weight:bold;
}

.golden_txt_bold{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	font-weight: bold;
}/**************end golden minute page*************************/

/**************special code page******************************/
.btn_txt_SC {
	color: #333;
	font-weight: bold;
	font-size: 12px;
}

.sp_error_SC {
	color: #F00;
	font-size: 9px;
	font-weight: bold;
}

.border_SC {
	border-width: 0px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #a8a8a8;
	border-collapse: collapse;
	background-color: white;
}
/**************end special code page*************************/

/************** new on anyoption page******************************/
.newOnAo_st {
	font-family:  Geneva, sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: justify;
}
.newOnAo_header {
	color: #fff;
}
.newOnAo_open {
	font-size: 10px;
	color: #2b85ad;
	cursor: pointer;
	cursor: hand;
}
/************** end of new on anyoption page******************************/

/*************** home page css ********************************************/
.welcome {
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
	line-height:25px;
	text-align: left;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
    height: 7px
}

.welcome_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#fff;
	line-height:16px;
	padding-right:10px;
}

.home_page_lable {
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding-right:10px;
}

.callme_hp_table_color {
	color:#7f7f7f;
}

.callme_hp_input {
	color:#7f7f7f;
	font-size:11px;
	text-align:left;
}

.news_link_hp {
	font-size:14px;
	font-weight:bold;
	color:#333;
}

.whatis_hp {
	font-size:13px;
	color:#333333;
	text-align:justify;
}


/************** end of home page css  **************************************/

/****************************/
/* New box start            */
/****************************/

.border_gray {
	border-width: 0px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#FFF
}

.divid {
	background: url(../images/box_divid_ar.gif);
	background-repeat: no-repeat;
	background-position: left;
}

.trade_expiry_level {
	font-family: Geneva, sans-serif;
	color:#333;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-transform: lowercase;
}

.slip {
	font-size:11px;
	color:#7d7d7d;
}

.no_chart {
	color:#333;
	font-size:10px;
	padding-right: 10px;
	text-align: right;
}

.sliplabel {
	color:#333;
	font-size:11px;
}

.sliplabelExp {
	color:#333;
	font-size:10px;
}

.slip_error {
	font-family: Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#F00;
}

.level {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

.level_slip {
	font-size:10px;
}

.level_green {
	color: #2AA600;
	font-family: Arial, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

.level_red {
	color: #ca0004;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

.slip_level_green {
	color: #2AA600;
	font-size:12px;
	font-family:Arial, Geneva, sans-serif;
	font-weight:bold;
	text-align:center;
}

.slip_level_red {
	color: #ca0004;
	font-size:12px;
	font-family:Arial, Geneva, sans-serif;
	font-weight:bold;
	text-align:center;
}

.new_progress_table {
	border: 1px solid #2b85ad;
	width: 141px;
	height: 10px;
}

.new_progress_bar {
	background-color: #2b85ad;
	font-size: 1px;
	width: 0px;
	height: 8px;
	text-align: right;
}

.new_progress_bar_td {
	background-color: #2b85ad;
	width: 111px;
	height: 10px;
}

.new_progress_time_td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #2b85ad;
	background-color: #ffffff;
	width: 30px;
	width: 10px;
	font-weight: bold;
	padding-left: 2px;
}

.trade_level_gray {
	color:#a8a8a8;
	font-family:Arial, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

/****************************/
/* New box end              */
/****************************/


/************** new trade box for home page css  **************************************/

@charset "utf-8";
/* CSS Document */

.border_gray_TP {
	border-width: 0px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#FFF
}

.body_TP {
	background-color: #FFFFFF;
	font-family:Arial, Geneva, sans-serif;
	font-size:11px;
	color:#333;
}

.profit_tab_TP {
	background-image:url(../images/profit_tab.gif);
	width:150px;
	background-repeat:no-repeat;
	color:#333;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	vertical-align:middle;
}
.expiry_tab_TP {
	background-image:url(../images/exp_tab.gif);
	width:150px;
	background-repeat:no-repeat;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	vertical-align:middle;
}

.pl_exprietoday_TP {
	background-color:#333;
	border-width: 0px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#00395c;
	border-collapse:separate;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
}

.exp_profitline_TP {
	background-color:#535355;
	border-width: 0px 0px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#bd8a02;
	border-collapse:collapse;
	font-size:11px;
	font-weight:bold;
}

.row1_TP {
	color:#ffffff;
}

.row2_TP {
	color:#f2f2f2;
}

/************** end of new trade box for home page css  **************************************/

.offhours_text {
	font-family:Arial, Geneva, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#333;
	text-align:justify;
}

.offhours_text1 {
	font-family:Arial, Geneva, sans-serif;
	font-size:11px;
	line-height:16px;
	color:#333;
	text-align:left;
}

/************** one touch banner for home page css  **************************************/
.onetouch_right_banner_HP {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:13px;
	color:#333;
	text-align:left
}
.onetouch_banner_link_HP {
	font-family:Arial, Helvetica, sans-serif;
	color:#2b85ad;
	text-decoration: none;
}
.border_HP {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#FFF
}
/************** end of one touch banner for home page css  **************************************/

.sms {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333;
	text-align: left;
}

/****My Account new design**********/

.my_account {
	border-width: 0px 0px 0px 1px;
	border-style:solid;
	border-color:#a8a8a8;
}

.account_title {
	text-align: right;
	padding-right:28px;
}

/***********************************/
/****** banking new design****/

.new_lable_bold {
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	font-weight:bold;
}

.bankingBorder {
	border-width: 0px 0px 0px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#ffffff;
}

.bankingLabel {
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #2b85ad;
}

.bankingLabel:HOVER {
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

.bankingLabel_active {
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #333;
}


.bankingText {
	font-family: Arial, Geneva, sans-serif;
	font-size: 10px;
	color: #333;
	line-height: 16px;
}

.bankingDetailsBorder {
	border-width: 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#2b85ad;
}

.bankWireTxt {
	font-family: Arial, Geneva, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #333;
}

.bankWireLbl {
	font-family: Arial, Geneva, sans-serif;
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;
	color: #333;
}
/**********************************/


/************** show off css  **************************************/
.floating_div_SO {
	position: absolute;
	z-index: 800;
	background-color: transparent;
}

.showtext_SO {
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
}

.text_SO {
	font-family: Arial, Geneva, sans-serif;
	font-size: 10px;
	color: #333;
}

.img_trans_SO {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.table_border_SO {

	border-width: 4px 4px 4px 4px;
	border-spacing:0px;
	border-style:solid;
	border-color:#037ecb;
	border-collapse:collapse;
}

.paginator_cols_SO { /*colum number*/
	width: 10px;
	height: 10px;
	text-align: center;
	align: center;
}

.paginator_cols_SO a { /*pages number links*/
	color: #333;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.paginator_active_SO { /* selected page*/
	color: #333;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.paginator_SO { /*pagin styles*/
	color: #333;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	align: center;
}

.border_top_SO {
	border-width: 3px 0px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
	font-family:Arial, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	text-align:left;
}

.border_top2_SO {
	border-width: 3px 0px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
	width:25px;
}
.border_right_SO {
	border-width: 3px 0px 0px 3px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
}
.border_left_SO {
	border-width: 3px 3px 0px 0px;
	border-spacing:0px;
	border-style:solid;
	border-color:#cce6f7;
	border-collapse:collapse;
	background-color:#FFF;
}

.table_SO {
	font-family: Arial, Geneva, sans-serif;
	font-size: 11px;
	color: #333;
	width: 100%;
	text-align: center;
	border-width: 0px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #cce6f7;
	border-collapse: collapse;
	background-color: #FFF;
	height: 465px;
}

.row_SO {
	height: 43px;
}

/************** end of show off css  **************************************/

/*********** new features strip ************/
.features_bkgnd {
	background-color:#f2f2f2;
}

.features_border {
	border-width: 1px 1px 1px 1px;
	border-spacing:0px;
	border-style:solid;
	border-color:#a8a8a8;
	border-collapse:collapse;
	background-color:#f2f2f2
}

.features_news_lable {
	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#ffffff;
	text-decoration: none;
}

a.features_links {
	font-family:Arial, Geneva, sans-serif;
	font-weight:bold;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#333;
}

/***************** live person start *******************************/
.lpPoweredBy {
	display:none;
}
.lpEmtStarRating {
	display:none;
}
/***************** live person end *********************************/

/***************** home page scroller start *******************************/

.scroller_header {
	font-size:13px;
	text-align:justify;
	font-family: Arial, Helvetica, sans-serif;
	color: #0284d6;
	margin-bottom: 0;
	padding-bottom: 0;
	font-weight: normal;
}

.scroller_content {
	font-size:12px;
	line-height:13px;
	text-align:justify;
	font-family: Arial, Helvetica, sans-serif;
}

/***************** home page scroller end *******************************/

.myaccount_cards_button {
	width: 682px;
}

/***************** mailBox start ****************************************/
.mailbox_table {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	align: center;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}

.mailbox_actions_table {
	background-color: #f1f1f1;
}

.mailbox_footer_table {
	background-color: #e2e2e2;
	width: 702px;
	height: 30px;
	text-align: center;
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
	border-bottom-style: solid ;
	border-bottom-width:1px;
	border-bottom-color:#adadad;
	border-top-style: solid ;
	border-top-width:1px;
	border-top-color:#adadad;
}

.mailbox_read_email_info_table {
	border-top-style: solid ;
	border-top-width:1px;
	border-top-color:#adadad;
}

.mailbox_read_email_table {
	background-color: #f1f1f1;
	border-top-style: solid ;
	border-top-width:1px;
	border-top-color:#adadad;
	height: 30px;
	width: 702px;
}

.mailbox_table_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	background-color: #e2e2e2;
	border-bottom-style: solid ;
	border-bottom-width:1px;
	border-bottom-color:#adadad;
	border-right-style: solid ;
	border-right-width:1px;
	border-right-color:#adadad;
	padding-left: 10px;
}

.mailbox_table_td {
	border-bottom-style: solid ;
	border-bottom-width:1px;
	border-bottom-color:#adadad;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-align: left;
	padding-left: 10px;
}

.mailbox_table_td_last {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-align: left;
	padding-left: 10px;
}

.mailbox_link {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-decoration: none;
}

.mailbox_link_bold {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	text-decoration: none;
	font-weight:bold;
}

.mailbox_important {
	font-family: time, serif;
	color: #333;
	font-size: 19px;
	font-weight:bold;
	text-align: center;
	vertical-align: bottom;;
}

.mailbox_continer_div {
	width:19px;
	height:12px;
	position:absolute;
	background-image: url(../images/en_2/envelop.gif);
	margin-bottom: 3px;
}

.mailbox_header_div {
	position:absolute;
	top:-5;
	right:-13;
	z-index:20;
	width:17px;
	height:13px;
	background-color: #E60000;
	text-align: center;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	font-weight:bold;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #333;
}

.mailbox_alert_div {
	width: 480px;
	height: 157px;
	position: absolute;
	z-index: 100;
	left: 389px;
	top: 110px;
	display: none;
}

.mailbox_alert_msg {
	font-family:Arial, Geneva, sans-serif;
	font-size:15px;
	color:#333;
}

.mailbox_alert_table {
	border-width:2px 2px 2px 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #333;
	border-collapse: collapse;
	background-image: url(../images/emailAlertBk.gif);
}
/***************** mailBox end ****************************************/

.reuters_text {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}
.reuter_container {
	width: 922px;
	border-bottom: solid 1px #d6d6d6;
	color: #093755;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;	
	padding: 7px 0;
	height: 42px;
}
.reuter_tp_text {
	padding-right: 10px;text-align: right;
}
/******** New design *************/

.text_blue_12_bold{
	font-family:Arial;
	font-weight:bold;
	font-size:14px;
	color:#0284d6;
}

.text_info_page_12{
	color:#566764;
	font-family:Arial;
	font-size:12px;
	font-weight:normal;
}

.tax_form_table {
	border-width: 1px 1px 1px 1px;
	border-spacing:  ;
	border-style: solid solid solid solid;
	border-color: #4b5c59;
	border-collapse: separate;
	background-color: white;
}

.input_border {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #000;
}

/********** trading menu tabs ************/

.trading_menu_div {
	width: 145px;
	float: left;
	height: 24px;
}

.trading_menu_link {
	background: url("../images/iw_11/trading_menu_tab.gif") center center no-repeat;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#fff;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	border-bottom:1px solid #a8a8a8;
}

.trading_menu_link:hover {
	background: url("../images/iw_11/trading_menu_tab.gif") center bottom no-repeat;
	color: #093755;
}

.trading_menu_link_active {
	background: url("../images/iw_11/trading_menu_tab.gif") center top no-repeat;
	border-bottom:1px solid #f2f2f2;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#093755;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	cursor: pointer;
	margin-bottom: -1px;
}

.trading_menu_seprator {
	height:24px;
	float:left;
}

.trading_menu_op_link {
	background: url("../images/iw_11/tradeing_op_menu_tab.gif") center center no-repeat;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#fff;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	border-bottom:1px solid #a8a8a8;
}

.trading_menu_op_link:hover {
	background: url("../images/iw_11/tradeing_op_menu_tab.gif") center bottom no-repeat;
	color: #093755;
}

.trading_menu_op_link_active {
	background: url("../images/iw_11/tradeing_op_menu_tab.gif") center top no-repeat;
	border-bottom:1px solid #f2f2f2;
	font-size:11px;
	line-height:24px;
	font-weight:bold;
	color:#093755;
	width: 145px;
	overflow: hidden;
	display: block;
	height: 24px;
	cursor: pointer;
	margin-bottom: -1px;
}


/********** trading menu tabs end ************/

.option_plus_table {
	background-color: #FFFFFF;
	border-width:2px 2px 2px 2px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #093755;
}

.option_plus_bottom_txt {
	font-size: 9px;
	padding-left: 30px;
}


/********** new design for tlv ************/

.header_height {
	height: 130px;
}

.whitenum {
	font-family: Arial, Helvetica, sans-serif;
	font-size:40px;
	color:#ffffff;
}

.howToTradeText {
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333333;
}

.login_auth_caption {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#f6cd10;
	font-weight: bold;
}

.login_small_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#ffffff;
}

.login_error_red_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:red;
	font-weight: bold;
}

.login_error_contact_txt {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#093755;
}

.press_image {
	Margin: 10px;
	border: 1px solid #DDDDDD;
}

/*********** new asset list *********/

.newAssetIndex_header {
	padding-left: 25px;
}

.newAssetIndex_main_div {
	margin-left: 10px;
}

.newAssetIndex_td {
	border-right: 1px dotted #ccc;
	padding-right: 5px;
}

.newAssetIndex_group_txt {
	padding-left: 15px;
	padding-bottom: 2px;
	padding-top: 2px;
}

.newAssetIndex_group_div {
	float: left;
}


.newAssetIndex_markets_names_div {
	padding-left: 10px;
}

.newAssetIndex_market_name_div {
	float: left;
	margin-left: 5px;
}

.hp_callme_header {
	margin-left: 7px;
	color:#093755;
	font-color: #093755;
	font-size: 17pt;
	font-family:Verdana, Geneva, sans-serif;
	font-weight: bold
}

.hp_callme_text {
	margin-left: 7px;
	color:#093755;
	font-color: #093755;
	font-size: 11pt;
	font-family: Tahoma, Geneva, sans-serif;
}

.call_me_hp_width {
	width: 225px;
}

.call_me_hp_phone_img {
	background: url('../images/phone_icon.gif') right top no-repeat
}

/*************************** new Features ****************/
.nFeatures {
	text-align:left;
	background: url("http://images.anyoption.com/1px36.gif") repeat-x scroll center bottom transparent; height: 40px;
	margin-top: 5px;
	padding-left:5px;
}
.nFeatures_head {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	padding-top:5px;
	}

.nFeatures_head:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: #093755;
		text-decoration:none;


}

.nFeatures_head:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: #0284d6;
	text-decoration:none;

}

.nFeatures_head:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	color: #093755;
	text-decoration:none;


}

.nFeatures_sub {
	font-size:11px;
	color:#093755;
	text-align:left;
	color: #093755;

}


.nFeatures_sub:link {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color: #093755;
	text-decoration:none;
}

.nFeatures_sub:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color: #0284d6;
	text-decoration:none;
}
.nFeatures_sub:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color: #093755;
	text-decoration:none;
}

.nFeatures_margin15px {
	margin-top:18px;
	margin-left:5px;
}

.nFeatures_ui_ul {
	list-style:none;
	font-size:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:left;
	padding:0;
	color:#093755;
	margin: 0 auto;
	margin-top:15px;
}

.cont {
	width:225px;
	height:197px;
	border:#a8a8a8 solid 1px;
	float:right;
	text-align:center;
}
.nFeatures_list1 {
	float:left;
	width:110px;
	height:161px;
}

.nFeatures_list2 {
	width:100px;
	float:right;
	height:161px;
}
/*************************** end new Features ****************/

.strip_menu_navlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space:nowrap;

}

.strip_menu_navlist li {
		list-style-type: none;
		float:left;
		height: 20px;
		vertical-align: middle;
		line-height: 20px;
}

.strip_menu_navlist li a {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
}

.strip_menu_navlist li div {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
}

.strip_menu_navlist li img {
	height: 20px;
	vertical-align: middle;
	line-height: 20px;
}

.content_pages_banner {
	font-family:
	Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	border: 1px solid #093755;
	width:174px;
	line-height:19px;
	padding:0px 4px 0px 4px;
	color:#093755;
	direction: ltr;
}

.link_0_100 {
	font-size: 11px;
	font-family: Verdana;
	color: #0284D8;
	text-decoration: none;
	background: transparent url(../images/100_icon_20x20.png) no-repeat left top;
	padding: 5px 0 0 27px;
	text-align: right;
	float: right;
}

.link_0_100:hover {
	text-decoration: underline;
	color: #0284D8;
}

/****************Trade Mark Popup***************/
#mask_tm {
  position:fixed;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes_tm .window_tm {
  position:absolute;
  left:50%;
  top:30px;
  margin-left:-507px;
  width:1015px;
  height:712px;
  display:none;
  z-index:9900;
  padding:20px;
}
#boxes_tm #dialog_tm {
  width:1010px; 
  height:707px;
  padding:10px;
}
.container_trademark{
	background:url(../images/trademark_info_certificate.jpg) no-repeat left top;
	width: 1005px; 
	height:702px;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border:solid 4px #fff;
position:relative;
z-index:9990;
}

#lightbox_close {
    background: url(../images/trademark_close_button.gif) no-repeat scroll 0 0 ;
    cursor: pointer;
    height: 15px;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 17px;
	border:none;
	z-index:100;
}
/****************END Trade Mark Popup***************/
