<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10-flat.dtd">
<html   dir="rtl"
	    xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:t="http://myfaces.apache.org/tomahawk"
		contentType="text/vnd.wap.wml">

<head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <title>#{msgs['wap.title']}</title>
</head>
<body style="direction: 'rtl';">



		<div dir='rtl' style=" margin:0 0 0 0; " align="center"><img src="#{facesContext.externalContext.requestContextPath}/images/wap/logo.png" alt="etrader" /></div>
		<div dir='rtl' style=" margin:0 0 0 0; " align="right"><h:outputText value="#{msgs['wap.contactus.success']}" /></div><br/>
		<a href="http://www.mintmark.co.il/bizportal/"><h:outputText value="#{msgs['wap.contactus.back']}" /></a>

</body>
</html>