/* RESET */
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	background: #ffffff url(../images/bg.png) right top repeat-x;
	color: #282828;
	font-size: 14px;
	width: 100%;
	direction:rtl;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	direction:rtl;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* Close RESET */
.page {
	width: 974px;
	margin: 20px auto;
	height: auto !important;
	min-height: 100%;
	display: table;
	position: relative;
}
.clear {
	clear: both;
}
.main {
	width: 100%;
	height: auto;
	float: right;
}
.logo {
	width: 975px;
	margin: 0 auto;
	text-align: right;
	height: 65px;
}
.title {
	padding: 13px 0 51px;
	width: 975px;
	background: transparent url(../images/bg_title.png) center top no-repeat;
	text-align: center;
}
.title p {
	padding-top: 20px;
	font-size: 16px;
	line-height: 20px;
}
h1 {
	color: #de4343;
	font-size: 39px;
	font-weight: bold;
	margin: 20px 0 0 0;
	padding: 0px;
	text-align: center;
}
h2 {
	font-size: 36px;
	font-weight: bold;
	padding: 5px 0 0 0;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 10px;
	text-align: right;
}
h4 {
	font-size: 21px;
	font-weight: normal;
	margin: 0;
	padding-bottom: 25px;
	padding-top:11px;
	text-align: center;
	color:#ffffff;
	line-height:22px;
}
p {
	line-height: 1.5em;
}
p span {
	text-weight: bold;
}
.p1 {
	width: 628px;
	margin-bottom: 20px;
}
.p2 {
	width: 418px;
}
.content_top p {
	font-size: 16px;
	line-height: 22px;
}
.container {
	float: right;
	width: 656px;
	padding-top: 8px;
}
.content_top {
	width: 638px;
	padding-top: 0;
}
.content_middle {
	padding: 0;
	width: 970px;
}
.content_middle ul {
	width: 100%;
	float: right;
	margin-top: 20px;
}
.content_middle ul li {
	padding: 0 32px 0 0;
	font-size: 18px;
	color: #6898b0;
	float: right;
	background: url(../images/bulet_small.png) right top no-repeat;
	line-height: 24px;
	width: 142px;
	margin-left: 50px;
}
.content_middle ul li.last_child {
	padding: 0 32px 0 0;
	background-position: top right;
	margin-top: 5px;
	width: 285px;
	margin-left: 0px;
}
.content_btm {
	padding-top: 140px;
}
.mainimg {
	position: absolute;
	top: 370px;
	right: 90px;
	width: 570px;
	text-align: left;
	z-index: -1;
}
.footer {
	text-align: center;
	width: 975px;
	margin: 60px auto 0;
	font-size: 9px;
}
.footer .icons {
	height: 30px;
	margin: 0 auto;
	width: 655px;
	border-top: solid 1px #e5e5e5;
	border-bottom: solid 1px #e5e5e5;
	padding: 15px 160px;
}
.footer .icons .icon_space {
	margin-left: 20px;
	float: right;
}
.footer .links {
	margin-top: 20px;
	margin-bottom: 15px;
}
.footer .footer_text {
	color: #757575;
	font-size: 11px;
	margin: 0 auto;
	text-align: center;
	width: 730px;
	padding: 20px 0;
	line-height: 16px;
	position: relative;
}
.footer .footer_link {
	color: #de4343;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.footer .footer_link:hover {
	color: #282828;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}
.icon_space form {
	padding: 0;
}
.bottom_list li.last_li {
	border: none;
}
/*short reg hp*/
.form_box {
	direction:rtl;
	width: 210px;
	padding: 55px 49px 0;
	position: absolute;
	top: 0px;
	background: url(../images/form_bk.png) no-repeat;
	height: 441px;
	z-index: 20;
}
.form_box h3 {
	margin: 0px 0 10px;
	line-height: 20px;
	color: #566764;
	font-size: 16px;
}
.input1 {
}
.form_box .input1 input {
	width: 130px;
	height: 20px;
	color: #7f7f7f;
	float: left;
	border: medium none;
	padding-top: 4px;
	background: #e9f1f0;
}
.label {
    background: none repeat scroll 0 0 white;
    border: 1px solid #B3B3B3;
    color: #808080;
    display: inline-block;
    font-family: Tahoma;
    font-size: 13px;
    height: 27px;
    margin-bottom: 10px;
    padding: 1px 3px 0 0;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
}
.form_box .input2 {
	width: 45px;
	height: 25px;
	background: #e9f1f0;
	float: left;
	border-right: 3px solid #FFF;
}
.form_box .input2 .noborder {
	width: 42px;
	height: 18px;
	overflow: hidden;
	position: relative;
	margin-top: 4px;
	margin-right: 2px;
}
.form_box .input2 select {
	width: 47px;
	color: #7f7f7f;
	left: 4px;
	position: relative;
	top: -1px;
	border: none;
	background: #e9f1f0;
}
.form_box .input3 input {
	color: #7F7F7F;
	border: medium none;
	padding-top: 4px;
	background: #e9f1f0;
	float: left;
	height: 20px;
	/*margin-left: 1px;*/
	width: 82px;
}
.input_checkbox {
	font-size: 9px;
}
.checkbox_line {
	height: 22px;
	color: #566764;
}
.lock_line {
	color: #566764;
	margin-top: -1px;
}
.lock_line img {
	margin-right: 5px;
	margin-top: 2px;
}


.form_block {
	height: 483px;
	width: 317px;
	background: url(../images/form_bg.png) top left no-repeat;
	position: relative;
	float: left;
	padding: 0 0 0 0;
	direction:rtl;
	text-align:right;
}
.form_block form{
	float:right;
	width: 295px;
	margin-top: 32px;
}

/* form */
.form_block select {
	height:23px;
	width:100%;
}
.form_block h1 {
	font-size: 21px;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 0;
	color: #fff;
	margin: 0px;
	width: 180px;
	padding-right: 71px;
	text-align:center;
}

.form_cl,
.form_cl2, 
.form_cl3,
.form_cl4 {
	float: left;
	width: 272px;
	padding-bottom:4px;
}
.form_cl4 {
	padding-bottom:24px;
}
.submit_btn {
	background:url(../images/button.png) top left no-repeat;
	height:43px;
	width:270px;
	float:left;
}
.submit_btn:hover {
	background-position:bottom left;
}
input {
	color: #093755;
	text-align: left;
	font-size: 12px;
	height: 24px;
	border:none;
	direction:rtl;
	text-align:right;
}
.input1, .input2, .input3, .input4 {
	width: 270px;
	margin-top: 3px;
	float: left;
	border:1px solid #B3B3B3;
}
.noborder {
}
.input1 input {
	height: 19px;
	padding: 2px 5px;
	width: 260px;
	margin:0;
}

.input4 input {
	height: 19px;
	padding: 2px 5px;
	margin::0;
	width: 260px;
}
.input2 {
	float: left;	
	width:48px;
	overflow: hidden;
	margin-top: 3px;
	margin-right: 5px;
	float: left;
	background:#FFF;
}
.input2 input {
	height: 19px;
	padding: 2px 5px;
	margin:0;
	width: 58px;
}
.input3 {
	width: 214px;
	height: 15px;
	overflow: hidden;
	margin-top: 3px;
	padding-bottom: 8px;
	float: right;
}
.input3 input {
	border: medium none;
	height: 19px;
	padding: 2px 5px;
	margin:0;
	width: 204px;
}
.agree {
	float: right;
	margin-left:8px;
	color:#7a7a7a;
	height:16px;
	padding-bottom:8px;
}
.agree_text {
	color:#7a7a7a;
	font-size:11px;
	line-height:normal;
	padding-bottom:4px;
}
.secured {
	color: #7a7a7a;
	font-size: 11px;
	background: transparent url(../images/icon_secure.png) no-repeat right top;
	padding-right: 20px;
	padding-top:2px;
	float: left;
}
/* close form */

#error_box {display:none;position:absolute; z-index:100; top:30%; background: #808080; width:250px; overflow:hidden; border: 1px solid #FFFFFF;}
.error_message {margin-top: 50px; height:50px; padding:0 10px; font-size:14px; font-weight:bold; color:#fff; text-align:center;}
.error_button	{background: transparent url(../../images/form_full_alret_button.png) no-repeat left top; width: 80px; height: 48px; margin: 0 auto; cursor:pointer; margin: 0 auto; margin-bottom:15px;}
.error	{border:#de4343 1px solid;}

#Overlay {
background-color:#000;
display:none;
height:100%;
left:0;
margin: auto;
opacity: 0.4;
filter: alpha(opacity = 20);
position: fixed;
top:0;
width:100%;
z-index:99;
}

