<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
* {
	padding:0;
	margin:0
}
body {
	font-family:Verdana, Geneva, sans-serif;
	padding-top:5px;
}
#wrap {
	width:980px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	text-align:center;
}
#logo {
	width:970px;
	height:80px;
	float:left;
	background-color:#093755;
	color:#e1e1e1;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:40px;

	font-weight:bold;
	line-height:80px;
	padding-left:10px;

}
#banner {
	width:728px;
	height:110px;
	float:right;
	background-color:#999;
}
#content {
	margin-top:10px;
	width:980px;
}
#text {
	width:590px;
	height:auto;
	float:left;
	padding-right:10px;
	padding-top:10px;
	padding-left:10px;
	text-align:left;
	color:#093755;

}

#btwn{
	width:950px;
	background-color:#333333;
	height:10px;
	}
#images {
	width:300px;
	float:right;
}
h1 {
	font-size:22px;
	text-align:left;
}
h2 {
	font-size:13px;
	text-align:left;
}
p {
	fon-size:11px;
	line-height:14px;
	text-align:left;
}
a:link{color:#0284d6; text-decoration:none;}
a{color:#0284d6; text-decoration:none;}
a:hover{color:#0284d6; text-decoration:none;}
#banner{width:980px; height:auto; padding-top:20px; padding-bottom:20px; background-color:#fff;}
</style>
<script>
	document.domain = "#{applicationData.domainUrl}";
</script>
</head>
<body  >
<div id="wrap" align="center">
  <div >
    <div id="logo" align="left">Gu&#237;a de Inversiones  <span style="text-align:right; font-size:16px; line-height:86px; padding-left:250px;">#{applicationData.date}</span></div>
  </div>


  <div id="content">
    <div id="text">
      <p>
      <h1>Comience ya a invertir en opciones binarias como los grandes inversores</h1>
      <br />
      <h2>Gracias a anyoption podrá invertir ahora como los grandes inversores en operaciones de trading que hasta hace poco eran accesibles solamente para grandes inversores y profesionales.</h2>
      <br />
      Las <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a> constituyen un sencillo y atractivo método de inversión que hasta hace poco estaba abierto solamente ante brókeres e inversores de gran volumen y ahora accesible para todos los públicos gracias a las innovadoras y simples plataformas de trading en línea como la de anyoption. <br />
      <br />
      La inversión en <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a> es un método innovador de trading online que, a diferenciar del forex, no conlleva comisiones, tasas ni spreads, ni requiere años de estudios financieros. Este sencillo método de inversión online posibilita a todos los inversores, bien nuevos o experimentados, operar con <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a> digitales y beneficiarse de las fluctuaciones de los mercados bursátiles mundiales. <br />
      <br />
      anyoption constituye un espacio líder e innovador en el campo del trading y comercio en línea, que le ofrece operar con <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a> mediante un interfaz atractivo y de fácil uso. <br />
      <br />
      El concepto es simple: realizar operaciones de comercio a largo y corto plazo, beneficiándose de un acertado pronóstico de la futura tendencia del mercado, incluso para las más pequeñas fluctuaciones. <br />
      <br />
      <h2> Las <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a> – accesibles ahora a todos los públicos</h2>
      <br />
      Mediante las <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a>, el inversor opera sobre precios de activos, acciones y futuros, prediciendo si subirán o bajarán. El proceso es simple y está delimitado en tiempo, al transcurrir la hora, la semana o el mes.
      Por ejemplo: supongamos haber invertido la suma de 1.000 euros en un activo como el petróleo, que registra en el momento 75,563 dólares, pronosticando un alza al final de la siguiente hora. Transcurrida la hora, subió el precio del crudo a 75,569 dólares, confirmado nuestra predicción y conllevando un beneficio de 70% al inversor, es decir: un beneficio de 1.700 euros. <br />
      <br />
      En caso de pronosticar correctamente la futura tendencia del activo, el inversor se beneficia, sin que importe el porcentaje de variación de dicho precio, lo único que repercute sobre la una posible rentabilidad de la operación es a fluctuación del valor del activo hacia arriba o abajo en relación a su valor inicial. <br />
      <br />
      <h2>¡Ya no hay necesidad de ser bróker para invertir en <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a>!</h2>
      <br />
      Las <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">opciones binarias</a></a> se encuentran ahora al alcance de todos los inversores, independientemente de sus conocimientos o experiencia en el campo de inversiones online, ofreciendo ahora una manera única de tomar parte activa en los mercados financieros mundiales de forma simple, fácil y rentable. <br />
      <br />
      anyoption le ofrece tres herramientas innovadoras de inversión que mejoran la experiencia del trading y expanden las gama de posibilidades del inversor. <br />
      <br />
      1. Profit Line - este es un sistema avanzado de comercio que les posibilita a nuestros clientes seguir al tanto sobre sus opciones abiertas mediante un gráfico especial, recibiendo así información actualizada sobre los beneficios esperados. Esta nueva prestación le posibilitará comprar opciones adicionales directamente desde el gráfico - todo ello mediante una interfaz gráfica de alta calidad y fácil uso. <br />
      <br />
      2. Take Profit - esta es una herramienta ideal para aquellos clientes interesados en conservar sus beneficios en un punto dado, previamente al tiempo de cierre. El usuario podrá recibir sus beneficios previamente a la fecha de expiración en caso de desearlo, sin necesidad de esperar al tiempo de expiración inicial. <br />
      <br />
      3. Roll Forward - ofrece la posibilidad de aplazar el tiempo de vencimiento de la opción adquirida hasta el próximo plazo de expiración. Los usuarios podrán posponer el tiempo de vencimiento de la opción al próximo plazo de expiración, tras abonar una tasa asequible. <br />
      <br />
      Venga a comprobarlo por sí mismo en: <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5">www.anyoption.com</a>
      </p>
    </div>


    <div id="images" ><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5"><img src="#{applicationData.imagesPath}/es_5/editorial_2_banner1_15.gif"  alt="opciones que" width="300" height="250" style="padding-top:10px;" border="0"/></a><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5"><img src="#{applicationData.imagesPath}/es_5/editorial_2_banner2.gif" alt="como invertir" border="0" width="300" height="169" style="padding-top:10px;"/></a> <a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5"><img src="#{applicationData.imagesPath}/es_5/editorial_2_banner3.jpg" border="0" alt="la nueva" width="300" height="98" style="padding-top:10px;"/></a> </div>
  </div>
  <div id="banner"><a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}?s=5"><img src="#{applicationData.imagesPath}/es_5/editorial_2_980x50-Lang-es-anyoption-Adv4.gif" alt="es posible" width="980" height="50" border="0" /></a></div>
</div>
</body>
</f:view>