<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script src="#{facesContext.externalContext.requestContextPath}/thickbox/jquery.js"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></script>

	<div id="page">
    	<div id="header"></div>
			<div id="banner1">
				<div class="l_text_box">
					"Empecé a invertir con 400€ en octubre de 2010... No tenía ninguna experiencia de inversión pero al cabo de unas pocas semanas y con la fabulosa ayuda de Alonso ya no tengo preocupaciones de tipo económico... Muchas gracias por haberme guiado." <br />
					<strong style=" font-size:12px">José T. (Zaragoza).</strong>
				</div>
				<div class="r_text_box">
					<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="300" height="50" id="Phone_Numbers" align="middle">
		                <param name="allowScriptAccess" value="sameDomain" />
		                <param name="allowFullScreen" value="false" />
		                <param name="movie" value="#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/Anyoption_ticker.swf" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" />
		                <embed src="#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/Anyoption_ticker.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="300" height="50" name="Anyoption_ticker" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	            	</object>
					<div class="text-form">Rellene el formulario con sus datos y reciba hoy mismo formación personalizada para invertir.</div>
					<h:form id="contactForm" style="margin--top:-10px">
					<h:panelGroup border="0" columns="1" columnClasses="#{applicationData.columnClassesDirection}" id="mainTable">
						<div class="input3">
							<h:inputText id="firstName" value="#{contactUsForm.firstName}" required="true" maxlength="15"
								onfocus="if(this.value=='#{msgs['register.firstname']}') this.value=''"
								onblur= "if(this.value.trim()=='') this.value='#{msgs['register.firstname']}'"
						        validator="#{commonUtil.validateName}" vLabel="register.firstname" label="#{msgs['register.firstname']}">
						    </h:inputText>
						    <t:message id="firstName_Error" style="display:none;" for="firstName" replaceIdWithLabel="true" styleClass="error_messages" />
						</div>
						<div class="input3">
						    <h:inputText id="lastName" value="#{contactUsForm.lastName}" required="true" vLabel="register.lastname" label="#{msgs['register.lastname']}" maxlength="15"
						    	onfocus="if(this.value=='#{msgs['register.lastname']}') this.value=''"
								onblur= "if(this.value.trim()=='') this.value='#{msgs['register.lastname']}'"
						        validator="#{commonUtil.validateName}" >
						    </h:inputText>
						    <t:message id="lastName_Error" style="display:none;" for="lastName" replaceIdWithLabel="true" styleClass="error_messages"/>
						</div>
						<div class="input1">
							<h:inputText dir="ltr" maxlength="50" id="email" value="#{contactUsForm.email}" required="true"
				                onfocus="if(this.value=='#{msgs['register.email']}') this.value=''"
								onblur= "if(this.value.trim()=='') this.value='#{msgs['register.email']}'"
				                validator="#{commonUtil.validateEmailFromUnix}" vLabel="register.email" label="#{msgs['register.email']}">
		    	                <f:validator validatorId="org.apache.myfaces.validator.Email"/>
		        	        </h:inputText>
						    <t:message id="email_Error" style="display:none;" for="email" replaceIdWithLabel="true" styleClass="error_messages"/>
						</div>
						<div class="input4">
							<h:inputText  maxlength="4" dir="ltr" id="mobilePhoneCode" value="#{contactUsForm.landMobilePhoneCode}" required="true" onkeydown="return phoneKeys(event);">
			                	</h:inputText>
						</div>
						<div class="input2">
							<h:inputText maxlength="20" label="#{msgs['register.mobilephone']}"  dir="ltr" id="mobilePhone" value="#{contactUsForm.landMobilePhone}" required="true"
								onfocus="if(this.value=='#{msgs['register.mobilephone']}') this.value=''"
								onblur= "if(this.value.trim()=='') this.value='#{msgs['register.mobilephone']}'">
		                	  	<f:validateLength minimum='7' maximum='20'/>
		                	  	<f:validateLongRange/>
		                	</h:inputText>
		                	<t:message id="mobilePhone_Error" style="display:none;" for="mobilePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
						</div>
						<div class="error_text">
							<ul class="error_bullets">
								<h:panelGroup rendered="#{commonUtil.firstErrorSummaryMessage != ''}">
									<div  >
					       				<div align="left">
					        				<h:outputText  value="#{commonUtil.firstErrorSummaryMessage}" />
					        			</div>
				        			</div>
			        			</h:panelGroup>
							</ul>
						</div>
						<div class="button">
					        <t:commandButton
				         		id="savelink"
				         		image="#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/button_off.jpg"
				         		onmouseover="Changepic('contactForm:savelink','#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/button_on.jpg')"
				         		onmouseout="Changepic('contactForm:savelink','#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/button_off.jpg')"
				         		onclick="gowait('contactForm:savelink','contactForm:hiddenbtn','#{applicationData.imagesPath}/landing_Contactus/LPopt_B/loading_B.gif');
				         		        return myfaces.oam.submitForm('contactForm','contactForm:hiddenbtn');" >
				         	</t:commandButton>
				         	<t:commandLink action="#{contactUsForm.handleLandingContact}" id="hiddenbtn" style="display:none"/>
						</div>
						</h:panelGroup>
						</h:form>
						<!--INPUT class="submit_image" TYPE="image" SRC="images/form_button.png" HEIGHT="70" WIDTH="231" BORDER="0" ALT="Submit Form"-->

				</div>
        </div>
        <div class="banner2"><img src="#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/anyoption_banner2_es.jpg" width="1020" height="82" /><img src="#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/anyoption_banner3_es.jpg" width="1020" height="39" /></div>
    </div>
<!-- FOOTER -->
	<table width="1020px" cellpadding="0" cellspacing="0" border="0" align="center" style="background:url(#{applicationData.imagesPath}/landing_Contactus/LPanyoption_optemotionals/anyoption_footer.jpg) repeat-x;" >
		<tr>
			<td width="1020px" height="136">
				<table border="0" cellpadding="0" cellspacing="0" width="1020px" >
					<tr>
						<td width="1020px" height="10"></td>
					</tr>
					<tr>
						<td width="1020px" height="27">
							<table dir="ltr" align="center">
								<tr width="1020px" height="27" valign="middle">

									<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/ao_tm.jpg" title="#{msgs['footer.trademark']}" width="29" height="27" border="0" align="left"/></td>
									<td width="20"></td>
									<td  class="footer_link"><img src="#{applicationData.imagesPath}/reuters_new.jpg" title="#{msgs['footer.reuters']}" width="112" height="27" border="0"/></td>
									<td width="20"></td>
									<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/thawte.gif" title="#{msgs['footer.thawte']}" width="95" height="27" border="0"/></td>
									<td width="20"></td>
									<td class="footer_link"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/18.jpg" title="#{msgs['footer.18']}" width="40" height="27" border="0"/></td>
									<td width="20"></td>
										<h:panelGroup rendered="#{applicationData.displayBankingFooter}">
											<!--<td class="footer_link">
												<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bookmark.gif" width="80" height="27" border="0" title="Share" />
											</td>
											<td width="20"></td>-->
											<h:panelGroup rendered="#{applicationData.skinId == 5}">
												<td class="footer_link"><img src="#{applicationData.imagesPath}/twitter.gif" border="0"/></td>
											</h:panelGroup>
											<td width="20"></td>
											<h:panelGroup rendered="#{applicationData.skinId == 5}">
												<td class="footer_link"><img src="#{applicationData.imagesPath}/facebook.gif" border="0"/></td>
											</h:panelGroup>
											<td width="20"></td>
											<h:panelGroup >
												<td class="footer_link"><div id="googlePlusOne"></div></td>
											</h:panelGroup>
										</h:panelGroup>
									</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="60" align="center" valign="bottom">
							<script type="text/javascript">
								function bankinBtn() {
									window.location= "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}";
								}
							</script>
							<object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="966" height="50">
							  	<param name="movie" value="#{applicationData.imagesPath}/strip.swf" />
							  	<param name="quality" value="high" />
							  	<param name="wmode" value="transparent" />
						  		<!--[if !IE]>-->
						  		<object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/strip.swf" width="966" height="50">
							    <!--<![endif]-->
							    <param name="quality" value="high" />
							    <param name="wmode" value="transparent" />
							    <param name="swfversion" value="8.0.35.0" />
							    <!--[if !IE]>-->
						      	</object>
						  		<!--<![endif]-->
						    </object>
						</td>
					</tr>
					<tr>
						<td width="1020px" height="83"><br />
							<table border="0" cellpadding="0" cellspacing="0" width="1020px" height="83">
							<tr align="center">
								<td width="1020px" height="83" valign="middle" align="center" class="footer_text">
								  <span>
	  								  <div>
	  								   	<h:outputText escape="false" value="#{msgs['rightnav.aboutus']}"/>
										 |
										<h:outputText escape="false" value="#{msgs['footer.contact.us']}"/>
										 |
										<h:outputText escape="false" value="#{msgs['footer.general.terms']}"/>
										 |
	  								   	<h:outputText escape="false" value="#{msgs['footer.security']}"/>
										 |
										<h:outputText escape="false" value="#{msgs['footer.privacy']}"/>
										 |
										<h:outputText value="#{msgs['footer.affiliates']}"/> |
	  								   	<h:outputText escape="false" value="#{msgs['footer.press']}"/>
										 |
	  								   	<h:outputText escape="false" value="#{msgs['menuStrip.faq']}"/>
									  </div>
									   <br/>
									  <div>
										  	Nota importante sobre riesgos:
										  	las operaciones con opciones implican un riesgo significativo &#9632; Se recomienda que lea atentamente todos nuestros<br/>
										  	términos y condiciones antes de realizar cualquier inversión<h:outputText value=" &#9632; " escape="false" />&#160;
										  	Los niveles aquí presentados son aquellos en los que anyoption™<br/>
										  	está dispuesta a vender opciones y
										  	<b>vende sus opciones, no los niveles de mercado de tiempo real</b>
										  	<h:outputText value=" &#9632; " escape="false" />
											<br/>
										  	Para más datos acerca de cómo se determinan los niveles de expiración
										  	&#160;
										  	<h:outputText value=" &#9632; " escape="false" />
										  	Los clientes deben conocer sus obligaciones en cuanto al<br/>impuesto sobre beneficios patrimoniales en su país de residencia
										  	<br/><br/>
										<h1 align="center" class="footer_message" style="padding:0px;margin:0px;">
											<h:panelGroup rendered="#{applicationData.skinId == 5}">
											 	<h:outputText escape="false" value="Negociación Opciones Digitales: Guía"/>
												 |
												<h:outputText escape="false" value="Trading en Forex: Guía"/>
												 |
												<h:outputText escape="false" value="Trading Opciones Digitales: Guía"/>
												 |
												<h:outputText escape="false" value="Opciones Binarias: Guía"/>
											</h:panelGroup>
										</h1>
										<div style="width:920px;margin-right:25px;margin-left:25px">
											<h:outputText escape="false" value="#{msgs['anyoption.footer']}"/>
										</div>
										<br/>&#160;
										<div>
											<h1 align="center" class="footer_message" style="padding:0px;margin:0px;">
												<h:outputText value="#{msgs['footer.message.affiliates.program.partners']}"/>
											</h1>
				        						<h:panelGroup rendered="#{applicationData.skinId != 10}">
													anyoption™ Partners es el programa de afiliados a opciones binarias de anyoption™. Permite al afiliado experto en el mercado llegar a clientes altamente valorados que <br/> negocian  con opciones binarias en el sitio anyoption™. La Negociación de opciones binarias es un mercado nuevo y altamente valorado, el cual está abierto ahora a afiliados. <br/> Nuestro programa de afiliados a opciones binarias en línea tiene un sitio completo, herramientas de mercadeo creativas para afiliados y pagos en línea.<br/>  Es el programa número uno en el mercado para afiliados que desean negociar con opciones binarias.
				        						</h:panelGroup>
			        					<br/>&#160;
										</div>
									  </div>
								  </span>
								</td>
							</tr>

							</table>
						</td>
					</tr>
					<tr>
						<td width="1020px" height="8"></td>
					</tr>
					<tr><td></td></tr>
				</table>
			</td>
		</tr>
	</table>
<!-- END FOOTER -->
	<script>
		fillFields();
		function fillFields(){
			var firstInput = document.getElementById('contactForm:firstName');
			var lastInput = document.getElementById('contactForm:lastName');
			var mobileInput = document.getElementById('contactForm:mobilePhone');
			var emailInput = document.getElementById('contactForm:email');
			if (firstInput.value == ''){
				firstInput.value =  '#{msgs['register.firstname']}';
			}
			if (lastInput.value == ''){
				lastInput.value =  '#{msgs['register.lastname']}';
			}
			if (mobileInput.value == ''){
				mobileInput.value =  '#{msgs['register.mobilephone']}';
			}
			if (emailInput.value == ''){
				emailInput.value =  '#{msgs['register.email']}';
			}
		}
	</script>

</f:view>