<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>

<body>
<f:view locale="#{applicationData.userLocale}">
<table width="720" border="0" cellspacing="0" cellpadding="0">
  <tr><td height="5px"></td></tr>
  <tr valign="top">
    <td  height="505" width="150">
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==1 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==2}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==3 ||
    							facesContext.externalContext.requestParameterMap['bonusStateId']==4}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_used.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==6}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_expiered.gif" width="150" height="250" />
    	</h:panelGroup>
 		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==5}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_waived.gif" width="150" height="250" />
    	</h:panelGroup>
    	<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['bonusStateId']==7}">
	    	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/offer_canceled.gif" width="150" height="250" />
    	</h:panelGroup>
    </td>
    <td width="500"><table cellpadding="0" cellspacing="0" width="447">
        <tr>
          <td><span class="bonus">Una opción con reembolso incrementado</span><br/>

          	    <h:panelGroup>
		    		<span class="bonus_text">
			    		Tenemos el agrado de comunicarle que ha recibido un beneficio especial: ¡una opción con reembolso incrementado!<br/><br/>

						Para la siguiente opción que compre, disfrutará de un reembolso incrementado del 85% (en lugar del 15%) si su opción vence con un valor intrínseco negativo. En cambio, si vence con un valor intrínseco positivo, obtendrá la tasa de rentabilidad normal aplicable a la opción (65-71%).<br/><br/>

						Esta oferta es válida hasta el&#160;<h:outputText value="#{facesContext.externalContext.requestParameterMap['endDate']}"/>.<br/><br/>

						Recuerde que tras la recepción de la bonificación se aplicarán restricciones a las retiradas de fondos de su cuenta, tal y como se estipula en las Condiciones generales.<br/><br/>
					</span>
    			</h:panelGroup>


	            <span class="bonus_terms"><strong>Bonificaciones: Condiciones generales</strong><br/>
		          	La bonificación se abonará en la cuenta del cliente con sujeción al cumplimiento de las condiciones de la oferta presentada al cliente. Por ejemplo, ingresos mínimos y/o adquisición de una cantidad mínima de opciones dentro de un período de tiempo especificado.<br/><br/>

					A menos que se especifique lo contrario en los términos de la oferta, para retirar dinero de la cuenta una vez cobrado el beneficio es condición previa realizar inversiones cuyo importe total sea #{facesContext.externalContext.requestParameterMap['wageringParam']} veces el importe de la opción original a partir de la cual se ha generado el beneficio.<br/><br/>

					La Empresa promueve que sus clientes participen en las ofertas, aunque pide que se abstengan de abusar de las mismas. El abuso de cualquiera de las ofertas podría conllevar la cancelación de la bonificación, así como el cierre de la cuenta del cliente en el sitio web de la Empresa.<br/><br/>

					Las bonificaciones deberán utilizarse dentro del período especificado en los detalles de la oferta específica. Si la bonificación no fuese utilizada dentro de dicho plazo, se retirará de la cuenta del cliente.<br/><br/>

					Una vez que reciba las bonificaciones/beneficios, el cliente tiene 3 (tres) meses naturales para completar la cantidad total de inversiones requeridas como precondición para el retiro de fondos. Si durante este periodo no se alcanza la cantidad total requerida de inversiones, la compañía retirará los fondos de las bonificaciones/beneficios de la cuenta del cliente a su discreción.<br/><br/>

					<h:outputFormat value="#{msgs['CMS.termsBonus.turnover']}" escape="false" >
						<f:param value="#{applicationData.getTurnOverFactorPercent('3')}" escape="false"/>
						<f:param value="#{applicationData.getTurnOverFactorPercent('4')}" escape="false"/>
					</h:outputFormat>
				    <br/><br/>
				   	<h:outputText value="#{msgs['CMS.termsBonus.rights']}" escape="false" />
					<br/><br/>
				</span></td>
	        </tr>
	      </table></td>
  </tr>
</table>
</f:view>
</body>
</html>
