<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="Trading en Forex, Guía para hacer Trading en Forex, Preguntas Frecuentes sobre el trading en Forex, cómo hacer Trading en Forex en Anyoption." />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="Trading en Forex - Guía"/>
</ui:define>
<ui:define name="title">
	<h:outputText value="TRADING FOREX"/>
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="Trading en Forex: Guía"/></h1>
</ui:define>
<ui:define name="content">
	<f:view>
	<table valign="top" cellspacing="5" cellpadding="0" border="0">
		<tr><td>
		<table valign="top" cellspacing="5" cellpadding="30" border="0">
		<tr><td style="padding-top: 0px;">
		<br/>
		<h2 class="info_messages" style="font-size: 15px;">¿Qué es elTrading en Forex?</h2>
		<p class="info_pages_text">El <strong>Trading en Forex</strong> se realiza cuando una persona o institución compra y vende en divisas, dependiendo el valor de la divisa cotizada del de la divisa base.<br />
		El <strong>Trading en Forex</strong> se realiza cuando un inversor realiza un contrato para comprar o vender divisas a un precio determinado y con  fecha de vencimiento. Las divisas mismas no son las que se venden, sino un contrato vinculado a la evolución de éstas. Una persona que hace <strong>Trading en Forex</strong> podrá obtener beneficios tras conocer y estudiar las diversas divisas y sus  movimientos interrelacionados.<br />
		</p>
		<ul class="info_pages_text">
		  <li>¿Cómo hacer <strong>Trading en Forex?</strong></li>
		</ul>
		<p class="info_pages_text">El Forex se presenta en pares de  monedas como: USD/EUR, GBP/JPY. La primera divisa se conoce como la moneda ‘base’,  y adquiere el valor de 1. La segunda moneda se conoce como la divisa cotizada. Su valor muestra cuál es la  cantidad de la moneda cotizada para comprar una unidad de la moneda base. </p>

		<p class="info_pages_text">¿Cómo aventajarme del <strong>Trading en Forex</strong><strong>?</strong><br />
		  Puede beneficiarse del comercio en cambio de divisas comprando una opción y estar al tanto de las fluctiaciones de los pares de divisas. Por ejemplo, puede adquirir una opción binaria de forex basada en la divisa que considere más  fuerte. </p>
		<ul class="info_pages_text">
		  <li>En caso de estimar que la divisa vaya a subir en relacion a la segunda,  podrá comprar una opción tipo Call. Si en el momento de vencimiento su divisa tiene más valor, su opción se definirá como in-the-money,  recibiendo los beneficios indicados en la plataforma a la hora de la compra. </li>
		  <li>Si  considera que la divisa va a debilitarse frente a la segunda, entonces podrá adquirir  una opción binaria Put, si la divisa baja, tal como pronosticó, también  este caso será considerado como in-the-money y obtendrá el beneficio indicado en la platadorma a la hora de la compra de la opción.</li>
		</ul>
		</td></tr>
		</table>
		</td></tr>
		</table>
	</f:view>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:define>
</ui:composition>
</body>
</html>