<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="rading en Opciones Binarias, Guía para hacer Trading en Opciones, Preguntas Frecuentes sobre el Trading en Optiones en Anyoption." />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="Trading en Opciones - Guía"/>
</ui:define>
<ui:define name="title">
	<h:outputText value="OPCIONES BINARIAS"/>
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="Opciones Binarias: Guía"/></h1>
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="Opciones Binarias: Guía"/></h1>
</ui:define>
<ui:define name="content">
	<f:view>
	<table valign="top" cellspacing="5" cellpadding="0" border="0">
		<tr><td>
		<table valign="top" cellspacing="5" cellpadding="30" border="0">
		<tr><td  style="padding-top: 0px;">
		<br/>
			<h2 >Qué son las Opciones Binarias</h2>
			<p class="info_pages_text">Las <strong>opciones binarias</strong> son también denominadas
			opciones digitales, opciones todo o nada, opciones con rendimiento fijo o
			 Fixed Return Options. En estas el beneficio es sólo de dos tipos: Fijo o
			 a par cero, (de ahí la denominación binaria o digital).</p>

			<p class="info_pages_text">Las ventajas de las <strong>opciones binarias</strong> reside, sobre
			todo, en que los eventuales beneficios son conocidos desde el principio,
			 no se evalúa el beneficio según la diferencia entre el valor de mercado
			 y el strike price, sino que el beneficio es fijo si el valor del activo
			 subyacente en el momento del vencimiento ha cambiado en la dirección
			pronosticada, al alza o a la baja, a la hora de la inversión sobre esa
			opción.</p>

			<p class="info_pages_text">Existen tres diferencias principales entre las <strong>opciones binarias</strong> y las opciones regulares u ordinarias, estas son:</p>

			<ul class="info_pages_text">
			<li>El periodo de vencimiento.</li>
			<li>La operativa de fondos para invertir.</li>
			<li>La ejecución.</li>
			</ul>

			<p class="info_pages_text">Estas diferencias hacen que las <strong>opciones binarias</strong>
			sean mejores que las ordinarias o regulares
			En primer lugar, los intervalos de vencimiento cortos ofrecen al
			inversor la posibilidad de obtener beneficios inmediatos sobre las <strong>opciones binarias</strong> y garantizan una mejor flexibilidad para las inversiones en opciones.</p>

			<p class="info_pages_text">En las opciones vainilla el inversor paga por contrato (o sea por
			puntos) consecuentemente el inversor obtendrá beneficios o pérdidas
			dependiendo del número de puntos de diferencia entre el nivel al
			vencimiento y el precio de ejecución. Las <strong>opciones binarias</strong> son diferentes ya que los dos posibles resultados se definen desde el inicio.</p>


			<p class="info_pages_text">Por lo tanto un inversión en <strong>opciones binarias</strong> las
			conserva hasta la fecha u hora de vencimiento y debe estar más atento en
			 la fase de compra de las opciones ya que no podrá venderlas una vez
			compradas.
			La negociación de <strong>opciones binarias</strong> anyoption™ es una
			nueva e interesante forma de invertir. Estas opciones son más simples y
			flexibles que las opciones regulares u ordinarias, aun así, como en
			todas las inversiones, es importante planificar una estrategia de
			antemano para aumentar las posibilidades de éxito.</p>
		</td></tr>
		</table>
		</td></tr>
		</table>
	</f:view>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>