<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<body>

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_with_banners.xhtml">
<ui:define name="metaDescription">
	<c:set var="metaDesc" value="rading en Opciones Binarias, Guía para hacer Trading en Opciones, Preguntas Frecuentes sobre el Trading en Optiones en Anyoption." />
</ui:define>
<ui:define name="windowtitle">
<h:outputText value="Trading en Opciones - Guía"/>
</ui:define>
<ui:define name="title">
	<h:outputText value="TRADING OPCIONES"/>
</ui:define>
<ui:define name="title_message">
	<h1><h:outputText value="Trading Opciones Digitales: Guía"/></h1>
</ui:define>
<ui:define name="content">
	<f:view>
	<table valign="top" cellspacing="5" cellpadding="0" border="0">
		<tr><td>
		<table valign="top" cellspacing="5" cellpadding="30" border="0">
		<tr><td style="padding-top: 0px;">
		<br/>
		<h2 class="info_messages" style="font-size: 15px;">Una opción binaria es una opción de retorno fijo que tiene solamente dos resultados posibles, ambos conocidos en el momento de empezar a negociar, por lo que todos los riesgos se conocen de antemano. </h2>
		<p class="info_pages_text">Una opción binaria constituye un contrato que ofrece al comprador el derecho de comprar un activo subyacente por un precio dado dentro de un período de tiempo determinado de antemano. </p>
		<p class="info_pages_text">Los activos subyacentes comerciados pueden ser pares de monedas (USD/GBP), materias primas , acciones de empresas cotizadas en bolsa o índices (IBEX, Dow Jones, Nasdaq). El strike price  es el precio fijo por el cual se adquirió el activo. </p>
		<p class="info_pages_text">Al hacer <strong>Trading en Opciones</strong>, el comprador decide si el valor del activo subyacente subirá o bajará con respecto al valor del activo a la hora de la negociación y a la hora de venciminento de la misma, que puede ser transcurrida una hora, un día, una semana o un mes. </p>
		<p class="info_pages_text">Hay tres aspectos que toman parte en una operación de <strong>Trading en Opciones</strong> con una opción binaria:
		<ul class="info_pages_text">
		 <li>Seleccionar el activo</li>
		 <li>Elegir el tiempo o fecha de expiración </li>
		 <li>Elegir la dirección en que fluctuará el activo.</li>
		 </ul>
		<p class="info_pages_text">En caso que el comprador estime que al llegar el tiempo de vencimiento el valor de la operación de <strong>Trading en Opciones</strong> binarias será superior a su cotización en el momento de la compra de la opción, comprará una opción de compra tipo Call. Si por el contrario cree que al llegar el tiempo de vencimiento el valor de la opción binaria bajará, adquiriría una opción tipo Put. </p>
		<p class="info_pages_text">Los beneficios derivados de las operaciones de <strong>Trading en Opciones</strong> binarias se conocen desde el momento de realizar el contrato. En caso que la opción venza dentro in-the-money, el comprador recibirá un beneficio de 65-71% de la cantidad invertida. Si la opción cierra fuera out-of-the-money, el inversor recibirá un reembolso de 15% sobre su inversión inicial. El poder controlar los riesgos en el <strong>Trading en Opciones</strong> binarias lo hacen  uno de los métodos de trading preferidos de muchos inversores, ya que el potencial de beneficio o posibles pérdidas se conoce ya de antemano.</p>
		<p class="info_pages_text">Gracias al desarrollo de Internet,  el <strong>Trading en Opciones</strong> binarias se ha expandido a plataformas de comercio online, lo que significa que un inversor puede comprar opciones binarias desde la comodidad de su propia casa, sin brokers ni intermediarios. Con la plataforma anyoption™;, el inversor puede hacer <strong>Trading en Opciones</strong> y seguir de cerca los movimientos del mercado que afectan a un activo determinado, y visualizar sin problemas todas las operaciones realizadas.</p>
		<p class="info_pages_text">En ese sentido, el <strong>Trading en Opciones</strong> online con opciones binarias es muy flexible. El activo, tiempo de expiración y la tendencia pronosticada pueden controlarse por el inversor, lo que le permite personalizar la operación conforme a sus necesidades y conocimientos.</p>
	   </p>
    </td></tr>
	</table>
	</td></tr>
	</table>
	</f:view>
</ui:define>
	<ui:define name="right_side">
		<ui:include src="/jsp/right_side_banners.xhtml">
			<ui:param name="topBnr" value="#{topBanner}" />
			<ui:param name="contactBnr" value="#{contactBanner}" />
		</ui:include>
	</ui:define>
</ui:composition>
</body>
</html>