<section class="common-header-box">
	<div class="wrapper">
		<h1 ng-bind-html="::mCtrl.getMsg('faq')"></h1>
		<div class="sub-heading" ng-bind-html="::mCtrl.getMsg('faq.h1.sub-heading')"></div>
		<div class="colored-dots"></div>
		<i class="component-image faq"></i>
	</div>
</section>
<section class="content-section faq-page">
	<rainbow-separator></rainbow-separator>
	<ul class="tabs" animated-tabs='1' animated-tabs-target="_tabs-target">
		<li>{{::mCtrl.getMsg('faq.list1')}}</li>
		<li>{{::mCtrl.getMsg('faq.list2')}}</li>
		<li>{{::mCtrl.getMsg('faq.list3')}}</li>
		<i class="_animated-element bottom-effect"></i>
	</ul>
	<ul class="_tabs-target all-faq-pages">
		<li class="_expand-all">
			<div class="expand" accordion-menu-expand-all="_expand-all">
				<i class="plus-minus-icon"></i>
				<span>{{::mCtrl.getMsg('expand-all')}}</span>
				<span class="dN">{{::mCtrl.getMsg('close-all')}}</span>
			</div>
			<ul class="faq-list" accordion-menu>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q1')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text1')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q2')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text2')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q3')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text3')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q4')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text4')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q5')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text5')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q6')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text6')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q7')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text7')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q8')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text8')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q9')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text9')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q10')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text10')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q11')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer" compile="mCtrl.faq_trading_text11"></li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q12')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer" compile="mCtrl.faq_trading_text12"></li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q13')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text13')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q14')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text14')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q15')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text15')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q16')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text16')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q17')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer" compile="mCtrl.faq_trading_text17"></li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q18')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text18')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q19')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text19')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q20')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text20')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q21')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text21')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q22')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text22')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.trading.q23')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text23.1')}}</li>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text23.2')}}</li>
						<li class="answer">{{::mCtrl.getMsg('faq.trading.text23.3')}}</li>
					</ul>
				</li>
			</ul>
		</li>
		<li class="_expand-all">
			<div class="expand" accordion-menu-expand-all="_expand-all">
				<i class="plus-minus-icon"></i>
				<span>{{::mCtrl.getMsg('expand-all')}}</span>
				<span class="dN">{{::mCtrl.getMsg('close-all')}}</span>
			</div>
			<div ng-include="'app/sections/faq-deposits-withdrawals.html'"></div>
		</li>
		<li class="_expand-all">
			<div class="expand" accordion-menu-expand-all="_expand-all">
				<i class="plus-minus-icon"></i>
				<span>{{::mCtrl.getMsg('expand-all')}}</span>
				<span class="dN">{{::mCtrl.getMsg('close-all')}}</span>
			</div>
			<ul class="faq-list" accordion-menu>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q1')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer" ng-bind-html="::mCtrl.getMsg('faq.my-account.test1', {'email': mCtrl._u.settings.supportEmail})"></li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q2')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test2')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q3')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test3')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q4')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer" ng-bind-html="::mCtrl.getMsg('faq.my-account.test4', {'email': mCtrl._u.settings.supportEmail})"></li>
					</ul>
				</li>
				<li ng-if="!mCtrl._u.getSkin().isRegulated">
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q5')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test5')}}</li>
					</ul>
				</li>
				<li ng-if="!mCtrl._u.getSkin().isRegulated">
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q6')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test6')}}</li>
						<li class="answer">
							<div class="pretty-table">
								<rainbow-separator></rainbow-separator>
								<div class="header">
									<span class="cell">{{::mCtrl.getMsg('faq.my-account.test6.1')}}</span>
									<span class="cell">{{::mCtrl.getMsg('faq.my-account.test6.5')}}</span>
								</div>
								<div class="row">
									<span class="cell">{{::mCtrl.getMsg('faq.my-account.test6.2')}}</span>
									<span class="cell">{{::mCtrl.getMsg('faq.my-account.test6.6')}}</span>
								</div>
								<div class="row">
									<span class="cell">{{::mCtrl.getMsg('faq.my-account.test6.3')}}</span>
									<span class="cell">
										<p>{{::mCtrl.getMsg('faq.my-account.test6.7')}}</p>
										<p>{{::mCtrl.getMsg('faq.my-account.test6.8')}}</p>
										<p ng-bind-html="::mCtrl.getMsg('faq.my-account.test6.9')"></p>
									</span>
								</div>
								<div class="row">
									<span class="cell">{{::mCtrl.getMsg('faq.my-account.test6.4')}}</span>
									<span class="cell">
										<p>{{::mCtrl.getMsg('faq.my-account.test6.10')}}</p>
										<p>{{::mCtrl.getMsg('faq.my-account.test6.11')}}</p>
										<p ng-bind-html="::mCtrl.getMsg('faq.my-account.test6.12')"></p>
									</span>
								</div>
							</div>
						</li>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test6.13')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q7')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test7')}}</li>
					</ul>
				</li>
				<li>
					<a class="question">
						<span>{{::mCtrl.getMsg('faq.my-account.q8')}}</span>
						<span><i class="plus-minus-icon"></i></span>
					</a>
					<ul>
						<li class="answer">{{::mCtrl.getMsg('faq.my-account.test8')}}</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</section>
<ng-include src="'app/sections/start-trading.html'"></ng-include>