<section class="common-header-box">
	<div class="wrapper">
		<h1 ng-bind-html="::mCtrl.getMsg('how-to-download-app.h1')"></h1>
		<div class="sub-heading" ng-bind-html="::mCtrl.getMsg('how-to-download-app.h1.sub-heading')"></div>
		<div class="colored-dots"></div>
		<button class="button {{::mCtrl._u.device}}" ng-click="mCtrl._u.downloadApp()"></button>
	</div>
</section>
<section class="disclaimer" ng-include="'app/sections/risk-disclosure-section.html'"></section>
<section class="content-section download-app-page">
	<rainbow-separator></rainbow-separator>
	<div class="wrapper">
		<h2>{{::mCtrl.getMsg('how-to-download-app.h2.'+mCtrl._u.device)}}</h2>
		<div class="_toggle-show box" connect-elements from="_dashed-start" to="_dashed-end" dir="{{isRtl ? '' : 'reverse'}}" on-screen on-first-show="mCtrl.dashIt(data)">
			<h3 class="colored-dots"><span>01</span> {{::mCtrl.getMsg('how-to-download-app.h3.txt1')}}</h3>
			<i class="_dashed-start img-step-one-{{::mCtrl._u.device}}" toggle-target="_toggle-show"></i>
			<div>
				<span class="_dashed-end dIB mt10" ng-bind-html="::mCtrl.getMsg('how-to-download-app.txt1')"></span>
			</div>
		</div>
		<div class="_toggle-show box" connect-elements from="_dashed-start" to="_dashed-end" dir="{{isRtl ? '' : 'reverse'}}" on-screen on-first-show="mCtrl.dashIt(data)">
			<h3 class="colored-dots"><span>02</span> {{::mCtrl.getMsg('how-to-download-app.h3.txt2')}}</h3>
			<i class="_dashed-start img-step-two-{{::mCtrl._u.device}}" toggle-target="_toggle-show"></i>
			<div>
				<span class="_dashed-end dIB mt10" ng-bind-html="::mCtrl.getMsg('how-to-download-app.txt2')"></span>
			</div>
		</div>
	</div>
</section>
<section class="start-trading trade-now">
	<div class="wrapper">
		<p><strong>{{::mCtrl.getMsg('how-to-download-app.txt3')}}</strong></p>
		<button class="button blue" ng-click="mCtrl._u.downloadApp()">{{::mCtrl.getMsg('trade-now')}}</button>
	</div>
</section>