<section class="intro" auto-resize offset-width="-6" offset-height="-3">
	<div class="intro-box">
		<h1>{{::mCtrl.getMsg('welcome-to')}}</h1>
		<img class="logo" src="app/img/pixel.png" alt="anyoption"/>
		<h2>{{::mCtrl.getMsg('binary-option-trading')}}</h2>
		<div class="{{::mCtrl.getSkin().locale}}">
			<a class="button transperant" ui-sref="ln.info" ng-click="mCtrl._u.goToAndScroll('ln.info', 'our-dream')">{{::mCtrl.getMsg('read-more')}}</a>
			<a class="button blue" ng-click="mCtrl._u.scrollToById('register-home', -48)">{{::mCtrl.getMsg('lets-start')}}</a>
		</div>
	</div>
</section>

<section class="disclaimer" ng-include="'app/sections/risk-disclosure-section.html'"></section>

<section class="common-section anyoption-anywhere">
	<div class="wrapper">
		<i class="component-image anyoption-anywhere-{{::mCtrl._u.device}}"></i>
		<h2 ng-bind-html="::mCtrl.getMsg('anyoption-anywhere')"></h2>
		<div class="colored-dots"></div>
		<h3 ng-bind-html="::mCtrl.getMsg('anyoption-anywhere.h3')"></h3>
		<p ng-bind-html="::mCtrl.getMsg('anyoption-anywhere.p')"></p>
		<button class="button yellow" ng-click="mCtrl._u.downloadApp()" ng-bind-html="::mCtrl.getMsg('download-app')"></button>
	</div>
</section>

<section class="home-register" id="register-home">
	<rainbow-separator></rainbow-separator>
	<h2 ng-bind-html="::mCtrl.getMsg('register-section')"></h2>
	<h3 ng-bind-html="::mCtrl.getMsg('register-section.h3')"></h3>
	<i class="colored-dots"></i>
	<register-form info="{btnClass: 'blue'}"></register-form>
	<rainbow-separator></rainbow-separator>
</section>

<section class="common-section">
	<div class="wrapper">
		<i class="component-image why-anyoption"></i>
		<h2 ng-bind-html="::mCtrl.getMsg('why-anyoption')"></h2>
		<div class="colored-dots"></div>
		<p ng-bind-html="::mCtrl.getMsg('why-anyoption.p')"></p>
		<button class="button yellow" ng-click="mCtrl._u.goTo('ln.info')" ng-bind-html="::mCtrl.getMsg('read-more')"></button>
	</div>
</section>

<div on-screen on-first-show="mCtrl.counterItUp()" ng-include="'app/sections/statistics.html'"></div>

<section class="platforms">
	<section class="common-section">
		<div class="wrapper">
			<i class="component-image our-platform"></i>
			<h2 ng-bind-html="::mCtrl.getMsg('our-platforms')"></h2>
			<div class="colored-dots"></div>
			<h3 ng-bind-html="::mCtrl.getMsg('our-platforms.h3')"></h3>
			<p ng-bind-html="::mCtrl.getMsg('our-platforms.p')"></p>
			<button class="button yellow" ng-click="mCtrl._u.downloadApp()" ng-bind-html="::mCtrl.getMsg('download-app')"></button>
		</div>
	</section>
	<div ng-include="'app/sections/platforms.html'"></div>
</section>

<section class="common-section">
	<div class="wrapper">
		<i class="component-image financial-blog"></i>
		<h2 ng-bind-html="::mCtrl.getMsg('financial-blog')"></h2>
		<div class="colored-dots"></div>
		<h3 ng-bind-html="::mCtrl.getMsg('financial-blog.h3')"></h3>
		<p ng-bind-html="::mCtrl.getMsg('financial-blog.p')"></p>
		<button class="button yellow" ng-click="mCtrl._u.redirect('http://www.anyoption.com/blog/')" ng-bind-html="::mCtrl.getMsg('go-to-blog')"></button>
	</div>
</section>

<section class="common-section additional-info-section">
	<div class="wrapper">
		<i class="component-image additional-info"></i>
		<h2 ng-bind-html="::mCtrl.getMsg('additional-info')"></h2>
		<div class="colored-dots"></div>
		<h3 ng-bind-html="::mCtrl.getMsg('additional-info.h3')"></h3>
		<p ng-bind-html="::mCtrl.getMsg('additional-info.p')"></p>
		<button class="button yellow" ng-click="mCtrl._u.downloadApp()" ng-bind-html="::mCtrl.getMsg('download-app')"></button>
	</div>
</section>

<div ng-include="'app/sections/start-trading.html'"></div>

<div ng-include="'app/sections/popUp-contact-us.html'"></div>