<section class="common-header-box">
	<div class="wrapper">
		<h1 ng-bind-html="::mCtrl.getMsg('our-platforms')"></h1>
		<div class="sub-heading" ng-bind-html="::mCtrl.getMsg('our-platforms.h3')"></div>
		<div class="colored-dots"></div>
		<i class="component-image our-platform"></i>
		<p ng-bind-html="::mCtrl.getMsg('our-platforms.p')"></p>
		<button class="button dark-blue" ng-click="mCtrl._u.downloadApp()" ng-bind-html="::mCtrl.getMsg('download-app')"></button>
	</div>
</section>
<section class="platforms">
	<rainbow-separator></rainbow-separator>
	<ng-include src="'app/sections/platforms.html'"></ng-include>
</section>
<ng-include src="'app/sections/start-trading.html'"></ng-include>