<section class="common-header-box">
	<div class="wrapper">
		<h1 ng-bind-html="::mCtrl.getMsg('strategy.h1')"></h1>
		<div class="sub-heading" ng-bind-html="::mCtrl.getMsg('strategy.h1.sub-heading')"></div>
		<div class="colored-dots"></div>
		<i class="component-image strategy"></i>
	</div>
</section>
<section class="content-section">
	<rainbow-separator></rainbow-separator>
	<div class="wrapper">
		<p class="taJ">{{::mCtrl.getMsg('strategy.text1')}}</p>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text2')}}</p>
		<p class="taC"><a class="button blue" ui-sref="ln.info">{{::mCtrl.getMsg('read-more')}}</a></p>
	</div>
</section>
<section class="content-section">
	<div class="wrapper">
		<h2>{{::mCtrl.getMsg('strategy.h2.text1')}}</h2>
		<div class="colored-dots"></div>
		<p class="special-paragraph pt20">{{::mCtrl.getMsg('strategy.text3')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text4')}}</p>
		<p class="special-paragraph">{{::mCtrl.getMsg('strategy.text5')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text6')}}</p>
		<p class="special-paragraph">{{::mCtrl.getMsg('strategy.text7')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text8')}}</p>
		<p class="special-paragraph">{{::mCtrl.getMsg('strategy.text9')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text10')}}</p>
		<h2>{{::mCtrl.getMsg('strategy.h2.text2')}}</h2>
		<div class="colored-dots"></div>
		<p class="special-paragraph pt20">{{::mCtrl.getMsg('strategy.text11')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text12')}}</p>
		<p class="special-paragraph">{{::mCtrl.getMsg('strategy.text13')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text14')}}</p>
		<p class="special-paragraph">{{::mCtrl.getMsg('strategy.text15')}}</p>
		<div class="colored-dots"></div>
		<p class="taJ">{{::mCtrl.getMsg('strategy.text16')}}</p>
	</div>
</section>
<ng-include src="'app/sections/start-trading.html'"></ng-include>