@charset "utf-8";
body {
	background-color: #000;
	background-image: url(../images/bg.jpg);
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-size: 16px;
	color: #333;
	line-height: 160%;
}
.tit {
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.pok_table_holder {
	width: 662px;
	margin-bottom: 16px;
	background: url(../images/table_bg.gif) 0 0 no-repeat;
}
.pok_table_holder table {
	width: 660px;
	margin: 0 auto;
	color: #373737;
	font-weight: bold;
}
.pok_table_holder table th {
	color: #fff;
	height: 27px;
	line-height: 27px;
	font-weight: normal;
}
.pok_table_holder table td {
	height: 50px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	font-size: 10px;
	background: url(../images/td_bg.gif) bottom repeat-x;
}
.pok_table_holder table td img {
	vertical-align: middle;
}
.pok_table_holder table a {
	color: #373737;
	text-decoration: underline;
}
.pok_table_holder table .poker_room {
	font-size: 12px;
	font-weight: bold;
	margin-left: 3px;
	color: #0065d7;
}
.pok_table_holder table .td_rate {
	width: 60px;
	height: 20px;
	padding: 4px 0 0 8px;
}
.pok_table_holder table .td_rate img {
	float: left;
}
.pok_table_holder table .td_bonus {
	font-size: 12px;
	color: #0065d7;
}
.pok_table_holder table .td_bcode {
	color: #0065d7;
}
.banner_border {
	border: 1px #979595 solid;
	float: left;
	width: 660px;
}
.title h1 {
	-webkit-transform: rotate(-12deg);
	-moz-transform: rotate(-12deg);
	-ms-transform: rotate(-12deg);
	-o-transform: rotate(-12deg);
	color: #FFF;
	margin: 0;
	padding: 0;
	width: 550px;
	line-height: 48px;
	display: block;
	padding-left: 0px;
	padding-top: 40px;
	font-size: 73px;
	font-family: Verdana, Geneva, sans-serif;
	vertical-align: top;
}
*+html .title h1 {
	margin-top: 0;
	padding-top: 8px;
	line-height: normal;
}
.title {
	height: 262px;
	font-weight: bold;
	float: left;
	background: url(../images/cab_pt.png) no-repeat left top;
}
.yellow {
	color: #f6cd10;
	font-size: 50px;
	line-height: 75px;
}
#error_box {
	display: none;
	position: absolute;
	z-index: 100;
	top: 300px;
	background: url(../images/form_full_alret_bk.jpg) no-repeat;
	width: 250px;
	height: 150px;
	overflow: hidden;
	color: #fff;
	text-align: center;
	border: 1px solid #FFFFFF;
}
.error_message {
	margin-top: 50px;
	height: 50px;
	padding: 0 10px;
	color: #000;
}
.error_button {
	background: url(../../images/form_full_alret_button.png) no-repeat;
	width: 80px;
	height: 48px;
	margin: 0 auto;
	margin-top: 5px;
	cursor: pointer;
}
#Overlay {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: auto;
	opacity: 0.4;
	filter: alpha(opacity = 20);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}
