<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      

      locale="#{writer.localInfo.locale}">


<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">

<ui:define name="content">
<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js"/>

	<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			amount=document.forms['withdrawForm'].elements['withdrawForm:amount'].value;
			currencySymbol='#{msgs[user.currency.symbol]}';

			out1='#{msgs['admin.withdraw.confirm.text1']}';
			out2='#{msgs['admin.withdraw.confirm.text2']}';

			return out1+' '+currencySymbol+addCommas(amount)+' '+out2;
		}

		function confirmit() {

			amount=document.forms['withdrawForm'].elements['withdrawForm:amount'].value;
			comments = document.forms['withdrawForm'].elements['withdrawForm:comments'].value;

			if (amount=='' || comments==''){
				return true;
			}

			if (amount &lt;  0) {
				return true;
			}
			if (amount == 0) {
				return true;
			}

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}

		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
	</SCRIPT>
	<t:saveState value="#{withdrawForm}" />

    <h:panelGroup >

		Please note that this is an internal action used for either transferring funds between accounts within the company or withdrawing member’s credit once his deposit was made.<br/>

        <h:form id="withdrawForm">

        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">

            <h:panelGrid border="0" columns="2" columnClasses="right_align,left_align">

                <h:outputLabel for="amount" value="#{msgs['withdraw.amount']}"/>
				<h:panelGrid columns="3" >
                	<h:inputText dir="ltr" id="amount" size="9" maxlength="9" value="#{withdrawForm.amount}" required="true">
 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
        	        </h:inputText>
    	            <h:outputText value="#{user.currency.code}"/>
	                <t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error"/>
                </h:panelGrid>

                <h:outputText value="#{msgs['adminwithdraw.comments']}"/>
                <h:panelGrid columns="2" >
	           		<h:inputTextarea cols="50" rows="5" id="comments" value="#{withdrawForm.comments}" required="true">
						<f:validateLength maximum="200"/>
	           		</h:inputTextarea>
	           		<t:message id="commentsError" for="comments" replaceIdWithLabel="true" styleClass="error"/>
	           	</h:panelGrid>

				<h:panelGrid border="0" columns="1" />
				<h:panelGrid style="text-align:left" columns="1" border="0" width="60%" >
					<t:commandButton
			         		id="btnImage"
			         		image="/images/submit_u.jpg"
			         		onmouseover="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
			         		onmouseout="Changepic('withdrawForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
			         		onclick="if(!confirmit()) return false;
			         				 gowait('withdrawForm:btnImage','withdrawForm:hiddenWithdraw','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
			         				 return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenWithdraw');" >
			         	</t:commandButton>
			         	<h:commandLink
			         	    id="hiddenWithdraw"
						    action="#{withdrawForm.insertAdminWithdraw}"
						    style="display:none">
					   </h:commandLink>
	            </h:panelGrid>

			</h:panelGrid>
            </h:panelGrid>
        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</f:view>
