<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general.xhtml">		
		<ui:define name="content">
			<SCRIPT language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
    		<h:form id="apiIssueForm">        			
		   	    <t:saveState id="apiIssuestate" value="#{apiIssueForm.apiIssue}" />
    			<h:inputHidden value="#{visit.generate}" />
	    		<h:inputHidden value="#{visit.saveToken}" />	    		
	    		<h:panelGrid border="0" >	
					<h:panelGrid border="0" columns="16">
						<!-- FROM FILTER -->
						<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
						<h:panelGrid border="0" columns="3">
							<h:inputText styleClass="input_text" id="from" value="#{apiIssueForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['apiIssueForm'].elements['apiIssueForm:from'],'anchor1','dd/MM/yyyy'); return false;">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						    </h:inputText>
					    	<A HREF="#" onClick="cal.select(document.forms['apiIssueForm'].elements['apiIssueForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
				       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
					        </A>
							<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
						<!-- TO FILTER -->		
				        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
						<h:panelGrid border="0" columns="3">
			  			  <h:inputText styleClass="input_text" id="to" value="#{apiIssueForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['apiIssueForm'].elements['apiIssueForm:to'],'anchor2','dd/MM/yyyy'); return false;">
			    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					      </h:inputText>
					      <A HREF="#" onClick="cal.select(document.forms['apiIssueForm'].elements['apiIssueForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
				       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				          </A>
						  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
						<!-- STATUS FILTER  -->
						<h:outputText value="#{msgs['issues.status']}" />
			       		<h:selectOneMenu id="statusId" value="#{apiIssueForm.statusId}" >
			       			<f:selectItem  itemLabel="" itemValue="0" />
			       			<f:selectItems value="#{writer.apiIssueStatusSI}" />
			        	</h:selectOneMenu>
			        	<!-- SUBJECT FILTER  -->
			        	<h:outputText value="#{msgs['issues.subject']}"/>
			       		<h:selectOneMenu id="subjectId" value="#{apiIssueForm.subjectId}"  >
			       			<f:selectItem  itemLabel="" itemValue="0" />
			       			<f:selectItems value="#{writer.apiIssueSubjectSI}" />
			       		</h:selectOneMenu>
						<!-- CHANNEL FILTER  -->			       					        	
   			    	    <h:outputText value="#{msgs['issues.channel']}"/>
			           	<h:selectOneMenu id="channelId" value="#{apiIssueForm.channelId}"  >
			           		<f:selectItem  itemLabel="" itemValue="0" />
			           		<f:selectItems value="#{writer.apiIssueChannelSI}" />
			           	</h:selectOneMenu>			           	
					</h:panelGrid>		
		           	<!-- SEARCH -->
					<h:panelGrid border="0" columns="3">
						 <t:commandLink action="#{apiIssueForm.searchApiIssues}">
				             <h:outputText value="#{msgs['button.search']}" />
			  			 </t:commandLink>
	   					 <h:panelGrid width="10px" />
						 <t:commandLink action="#{apiIssueForm.addNewIssue}" >
				     		<h:outputText value="#{msgs['button.add.issue']}" />
				 		 </t:commandLink>
	    			</h:panelGrid>						
				</h:panelGrid>									
				<t:dataTable id="data"
					styleClass="scrollerTable"
					headerClass="standardTable_Header"
					footerClass="standardTable_Header"
					rowClasses="standardTable_Row1,standardTable_Row2"
					columnClasses="standardTable_Column, standardTable_Column, standardTable_Column, standardTable_Column"
					var="v"
					preserveDataModel="false"
					rows="10"
					renderedIfEmpty="false"
					cellpadding="0"
					cellspacing="1"
					rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
					value="#{apiIssueForm.list}">				
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['issues.id']}"/>
		               </f:facet>
		               <t:commandLink action="#{apiIssueForm.navigateToApiIssue}" immediate="true">
		               		<h:outputText value="#{v.id}" />
		                	<f:setPropertyActionListener target="#{apiIssueForm.apiIssue}" value="#{v}" />
						</t:commandLink>
		           </h:column>
		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['investments.timecreated']}"/>
		               </f:facet>
		               <h:outputText value="#{v.timeCreated}">
						    <f:converter converterId="extendedDateTimeConverter" />
						    <f:attribute name="pattern" value="#{presentationPatterns.timeAndDatePattern}" />
						    <f:attribute name="timeZone" value="#{v.utcOffset}" />
						</h:outputText>
		           </h:column>			           
		           <h:column>
		                <f:facet name="header">
			            	<h:outputText value="#{msgs['issues.status']}"/>
		                </f:facet>
		            	<h:outputText value="#{v.issueStatusName}" />
		           	</h:column>	
					<h:column>
	               		<f:facet name="header">
		               		<h:outputText value="#{msgs['issues.subject']}"/>
	               		</f:facet>
	               		<h:outputText value="#{v.issueSubjectName}" />
	           		</h:column>	
		           <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['issues.channel']}"/>
		               </f:facet>
		               <h:outputText value="#{v.issueChannelName}" />
		           </h:column>
			        <h:column>
			        	<f:facet name="header">
			        		<h:outputText value="#{msgs['issues.comments']}"/>
			            </f:facet>
			            <h:outputText value="#{v.commentsLittleThenMax}" dir="#{user.dir}"/>
					</h:column>			             
				</t:dataTable>
				<h:outputText styleClass="general_message" rendered="#{apiIssueForm.listSize == 0}" value="#{msgs['issues.emptylist']}"/>				
			</h:form>										           								
		</ui:define>
	</ui:composition>
</html>