<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<body>

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">

	<script>

<!--

	function handleUserDisableChange(isUserDisable) {
		if (isUserDisable.checked) {
	    	var isRisky = document.getElementById("apiExternalUserChangeDetailsForm:isRisky");
	    	isRisky.checked = true;
	   	}
	}

	function handleIsRiskyChange(isRisky) {
		if (!isRisky.checked) {
	    	var isUserDisable = document.getElementById("apiExternalUserChangeDetailsForm:isUserDisable");
	    	isUserDisable.checked = false;
	   	}
	}


-->

</script>

	<t:panelGroup id="body">

		<h:form id="apiExternalUserChangeDetailsForm">

		<t:panelGrid border="0" columns="1" width="100%">

			<t:panelGrid border="0" columns="2">

				<t:outputText value="#{msgs['register.ip']}"/>
				<t:outputText styleClass="data_display" value="#{apiExternalUserChangeDetailsForm.apiExternalUser.ip}"/>

				<h:outputLabel rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" styleClass="text_gray_12_bold" for="isRisky" value="#{msgs['register.risky']}"/>
				<t:selectBooleanCheckbox rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" disabled="#{writer.writer.id==16}" id="isRisky" value="#{apiExternalUserChangeDetailsForm.apiExternalUser.risky}" onchange="handleIsRiskyChange(this);"/>

				<h:outputLabel rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" styleClass="text_gray_12_bold" for="isUserDisable" value="#{msgs['register.user.disable']}"/>
				<t:selectBooleanCheckbox rendered="#{user.hasSAdminRole || user.hasASTraderRole || writer.writer.id==16}" disabled="#{writer.writer.id==16}" id="isUserDisable" value="#{apiExternalUserChangeDetailsForm.apiExternalUser.userDisable}" onchange="handleUserDisableChange(this);"/>


			</t:panelGrid>

			<t:panelGrid style="text-align:left" columns="1" border="0" width="35%" >
				<t:commandLink  action="#{apiExternalUserChangeDetailsForm.updateUser}">
					<h:outputText value="#{msgs['button.save']}" />
		 		</t:commandLink>
			</t:panelGrid>

		</t:panelGrid>

		</h:form>

	</t:panelGroup>

</ui:define>
</ui:composition>
</body>
</html>