<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:p="http://primefaces.org/ui">
		<ui:composition template="/jsp/templates/prime_template.xhtml">
		<ui:define name="content">
		<t:saveState value="#{copyopUserCopyingForm}" />
			<script>
	 		<!-- 
	 		function confirm_delete() {
	 			return confirm("Are you sure you want to delete?");
	 		}
	 		 -->
	 		</script>
			<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
    		<h:form id="copyopUserCopyingForm">    	
    			<p:messages id="messages_from" closable="true" for="from"/>
    			<p:messages id="messages_userId" closable="true" for="userId"/>
	        	<h:panelGrid columns="22">
	        		<!-- from -->
	        		<p:outputLabel for="from" value="#{msgs['stats.date.from']}" />
        			<p:calendar id="from" value="#{copyopUserCopyingForm.from}" effect="slideDown" pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}" required="true"/>
					<h:panelGrid border="0" columns="1" width="5px"/>
					
					<!-- userId -->
					<p:outputLabel value="#{msgs['copyop.leader.user.id']} (-1 Without Filter)"/>
			        <p:inputText id="userId" size="12" maxlength="10" required="true" dir="ltr" value="#{copyopUserCopyingForm.userId}" >
			          	  	<f:validateLongRange minimum="-1" />
			        </p:inputText>
			        
			        <!-- skinId -->
			        <p:outputLabel for="skinId" value="#{msgs['general.skin']}" />
			        <p:selectOneMenu id="skinId" value="#{copyopUserCopyingForm.skinId}" required="true">
			            <f:selectItems value="#{writer.skinsAndEmptySI}" />
			        </p:selectOneMenu>
			        
			        <!-- still copy -->
			        <p:outputLabel for="stillCopy" value="#{msgs['copyop.still.copying']}" />
			        <p:selectOneMenu id="stillCopy" value="#{copyopUserCopyingForm.isStillCopy}" required="true">
			            <f:selectItems value="#{copyopUserCopyingForm.selectStillCopy}" />
			        </p:selectOneMenu>
     
			        <!-- frozen -->
			        <p:outputLabel for="frozen" value="#{msgs['copyop.include.frozen']}" />
			        <p:selectOneMenu id="frozen" value="#{copyopUserCopyingForm.isFrozen}" required="true">
			            <f:selectItems value="#{copyopUserCopyingForm.selectFrozen}" />
			        </p:selectOneMenu>
			        <h:panelGrid border="0" columns="1" width="25px"/>
			        
			        <!-- search -->			        
					<p:commandButton value="#{msgs['button.search']}" actionListener="#{copyopUserCopyingForm.search}" ajax="false"/>
				</h:panelGrid>
				<div style="padding-top:20px;"></div>
				<h:outputLabel for="from" value="#{user.firstName} #{msgs['copyop.name.copying']}: "/>
    			<div style="padding-top:10px;"></div>	
				<!--table-->
				<p:dataTable id="data"
					styleClass="copyopCopyTable"
	                var="item"
	                preserveDataModel="true"
	                rows="10"
	                renderedIfEmpty="false"
	                paginator="true"
	                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
	                rowsPerPageTemplate="5,10,15"
  	                value="#{copyopUserCopyingForm.userCopyList}">
					<p:column>
		               <f:facet name="header">
					       <h:outputText value="#{msgs['copyop.leader.user.id']}"/>
		               </f:facet>
		               <h:outputText value="#{item.userId}" />
	           		</p:column>
	           		<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['general.start.date']}"/>
   						</f:facet>
 	  					<h:outputText value="#{item.startDate}" /> 	  					
   					</p:column>	   
	           		<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['general.end.date']}"/>
   						</f:facet>
 	  					<h:outputText value="#{item.endDate}" /> 	  					
   					</p:column>	   
	           		<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['copyop.end.reason']}"/>
   						</f:facet>
 	  					<h:outputText value="#{item.endReason}" />
						<h:outputText value="#{v.timeCreated}">
						    <f:converter converterId="extendedDateTimeConverter" />
						    <f:attribute name="pattern" value="#{presentationPatterns.timeAndDatePattern}" />						    
						    <f:attribute name="timeZone" value="#{user.utcOffset}" />
						</h:outputText>	  					
   					</p:column>	
	           		<p:column>
						<f:facet name="header">
							<t:commandLink action="#{copyopUserCopyingForm.sortList}" style="text-decoration: underline;">
				               <h:outputText value="#{msgs['copyop.nickname']}"  />
				               <f:setPropertyActionListener target="#{copyopUserCopyingForm.sortColumn}" value="nickName" />
						   	</t:commandLink>
   						</f:facet>
   						<h:outputText value="#{item.nickname}" /> 					
   					</p:column>
	           		<p:column>
						<f:facet name="header">					
	   						<t:commandLink style="text-decoration: underline;" action="#{copyopUserCopyingForm.sortList}" >
				               <h:outputText value="#{msgs['copyop.trading.profit']}" class="tc" />
				               <f:setPropertyActionListener target="#{copyopUserCopyingForm.sortColumn}" value="copyopTradingProfit" />
						   	</t:commandLink>
					   </f:facet>
 	  					<h:outputText value="#{utils.displayAmountLongLong(item.copyTradingProfit, item.currencyId)}"/>
   					</p:column>
	           		<p:column>
						<f:facet name="header">
							<t:commandLink style="text-decoration: underline;" action="#{copyopUserCopyingForm.sortList}" >
				               <h:outputText value="#{msgs['copyop.inv.left.copy']}" class="tc" />
				               <f:setPropertyActionListener target="#{copyopUserCopyingForm.sortColumn}" value="copyopInvLeftCopy" />
						   	</t:commandLink>
   						</f:facet>
						<h:outputText value="#{item.invLeftCopy}"/>
   					</p:column>   					   					
	           		<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['general.amount']}"/>
   						</f:facet>
 	  					<h:outputText value="#{utils.displayBaseAmount(item.amount, true, item.currencyId)}" /> 	  					
   					</p:column>
   					<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['copyop.specific']}"/>
   						</f:facet>
 	  					<h:outputText value="#{item.specific ? 'V' : ''}" /> 	  					
   					</p:column>  
   					<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['copyop.leader.turnover']}"/>
   						</f:facet>
 	  					<h:outputText value="#{utils.displayAmountLongLong(item.turnover, 2)}" /> 	  					
   					</p:column>  
   					<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['copyop.leader.balance']}"/>
   						</f:facet>
 	  					<h:outputText value="#{utils.displayBaseAmount(item.balance, true, item.currencyId)}" /> 	  					
   					</p:column>  
   					<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['copyop.frozen']}"/>
   						</f:facet>
 	  					<h:outputText value="#{item.frozen ? 'V' : ''}" /> 	  					
   					</p:column>
   					<p:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['copyop.stop']}"/>
   						</f:facet>
 	  					<t:commandLink rendered="#{item.isCanDelete()}" align="middle" id="deleteButton" action="#{copyopUserCopyingForm.delete(item)}" alt="delete" onclick="return confirm_delete();">
 	  						<t:outputText value="#{msgs['copyop.stop']}"/>
	 			   			<f:setPropertyActionListener target="#{copyopUserCopyingForm.userCopy}" value="#{item}" />
	 		   			</t:commandLink> 					
   					</p:column>						     					   					   						    					   					 					        		
				</p:dataTable>	 			        	     				  												 			    								    		
			</h:form>										           								
		</ui:define>
	</ui:composition>
</html>