<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<body>

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">
	<ui:include src="/jsp/suggest.xhtml" />

	<t:panelGroup id="body">

		<h:form id="contactForm">

		<t:panelGrid border="0" columns="1" width="100%">

			<t:panelGrid border="0" columns="2">

				<t:outputLabel  for="skins" value="#{msgs['register.skin']}"/>
		     	<t:selectOneMenu id="skins" value="#{editContactForm.skinId}" >
		        	<f:selectItems value="#{writer.skinsSI}" />
		        </t:selectOneMenu>

			</t:panelGrid>

			<t:panelGrid style="text-align:left" columns="1" border="0" width="35%" >
				<t:commandLink  action="#{editContactForm.updateContact}">
					<h:outputText value="#{msgs['button.save']}" />
		 		</t:commandLink>
			</t:panelGrid>

		</t:panelGrid>

		</h:form>

	</t:panelGroup>
</ui:define>
</ui:composition>
</body>
</html>