<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"

      locale="#{writer.localInfo.locale}">

<ui:composition template="/jsp/templates/template_with_user_strip.xhtml">


<ui:define name="javascript">
	 page = "externalSupport.jsf";
</ui:define>

<ui:define name="userStripPage">
	 <ui:param name="userStripPageParam" value="external_user_strip.jsf" />
</ui:define>

<ui:define name="content">

#{user.goSupport}

	<t:panelTabbedPane rendered="#{apiExternalUserStripForm.id != 0}"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
       	          disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="#{user.supportTabIndex}">


			<t:panelTab id="investments" label="#{msgs['menu.investments']}" >
				#{applicationData.initInvestmentsForm}
				#{investmentsForm.setApiExternalUserId(apiExternalUserStripForm.id)}
		     	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/investments.jsf?refresh=true" width="100%" height="630px"></iframe>
		    </t:panelTab>

		    <t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" >
	    	 	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/apiUserChangeDetails.jsf?refresh=true" width="100%" height="1000px"></iframe>
	     	</t:panelTab>

	     	 <t:panelTab id="userisu" label="#{msgs['menu.issues']}" >
	    	 	<iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/apiIssues.jsf?refresh=true" width="100%" height="1000px"></iframe>
	     	</t:panelTab>

	</t:panelTabbedPane>

	<h:outputText rendered="#{apiExternalUserStripForm.id == 0}" styleClass="general_message" value="#{msgs['error.user.not.selected']}"/><br/>
	<h:outputText rendered="#{apiExternalUserStripForm.id == 0}" styleClass="general_message" value="#{msgs['external.user.strip.error.mandatory']}"/>


</ui:define>
</ui:composition>

</html>