<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	    >

	    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/tigra_hints.js"></script>
	    <script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/hints.js"></script>
	    <SCRIPT LANGUAGE="JavaScript" >
		var HINTS_CFG = {
			'smart'      : true, // don't go off screen, don't overlap the object in the document
			'margin'     : 10, // minimum allowed distance between the hint and the window edge (negative values accepted)
			'gap'        : -7, // minimum allowed distance between the hint and the origin (negative values accepted)
			'align'      : 'bltr', // align of the hint and the origin (by first letters origin's top|middle|bottom left|center|right to hint's top|middle|bottom left|center|right)
			'css'        : 'hintsClass', // a style class name for all hints, applied to DIV element (see style section in the header of the document)
			'show_delay' : 200, // a delay between initiating event (mouseover for example) and hint appearing
			'hide_delay' : 500, // a delay between closing event (mouseout for example) and hint disappearing
			'follow'     : false, // hint follows the mouse as it moves
			'z-index'    : 100, // a z-index for all hint layers
			'IEfix'      : true, // fix IE problem with windowed controls visible through hints (activate if select boxes are visible through the hints)
			'IEtrans'    : ['blendTrans(DURATION=.3)'], // [show transition, hide transition] - transition effects, only work in IE5+
			'opacity'    : 90 // opacity of the hint in %%
		};

		var HINTS_ITEMS = [
			'#{msgs["hint.user.strip.advancedsearch"]}',''
		];



		var myHint = new THints (HINTS_ITEMS, HINTS_CFG);

		function checkAdvanced(){

		if(document.getElementById("investmentsForm:showAdvanced").value == 0)
			document.getElementById("investmentsForm:advDiv").style.display='none';
		else
			document.getElementById("investmentsForm:advDiv").style.display='inline';

		}

		// text/HTML of the hints
		var ROLLEDUP_HINT = ['<h:outputText value="#{msgs['investments.rolledUp']}" />'];
		var rolledUpHint = new THints(ROLLEDUP_HINT,UTC_HINTS_CFG);

		// roll up and GM text
		var rollUpBoughtMsg1 = "#{msgs['investments.rollUpBought1']}";
		var rollUpBoughtMsg2 = "#{msgs['investments.rollUpBought2']}";
		var GMBoughtMsg1 = "#{msgs['investments.goldenMinutes1']}";
		var GMBoughtMsg2 = "#{msgs['investments.goldenMinutes2']}";
		//bonus text
		var oddsChangeNotSettledMsg1 = "#{msgs['investments.not.settled.odds.change.bonus.msg1']}";
		var oddsChangeNotSettledMsg2 = "#{msgs['investments.not.settled.odds.change.bonus.msg2']}";
		var oddsChangeSettledMsg1 = "#{msgs['investments.settled.odds.change.bonus.msg1']}";
		var oddsChangeSettledMsg2 = "#{msgs['investments.settled.odds.change.bonus.msg2']}";
		var oddsChangeSettledMsg3 = "#{msgs['investments.settled.odds.change.bonus.msg3']}";
		var optionPlusTip = "#{msgs['optionPlus.toolTip']}";

	    </SCRIPT>



	<script language="JavaScript">



		function gettext() {

			out1='#{msgs['investments.cancel.confirm']}';

			return out1;
		}

		function confirmit() {

			if (!confirm(gettext())) {
				return false;
			}
			return true;

		}



		function showAdvanced(){
			if(document.getElementById("investmentsForm:advDiv").style.display == "none" ){
				document.getElementById("investmentsForm:showAdvanced").value = 2;
				document.getElementById("investmentsForm:advDiv").style.display="inline";

				document.getElementById("investmentsForm:opportunities").options[0].selected = false;
				document.getElementById("investmentsForm:opportunities").options[1].selected = true;
				document.getElementById("investmentsForm:opportunities").options[2].selected = true;
			} else {
				document.getElementById("investmentsForm:showAdvanced").value = 0;
				document.getElementById("investmentsForm:advDiv").style.display="none";
			}
		}

		function changeSearchBy(obj) {

			if(obj.selectedIndex > 0)
				document.getElementById("investmentsForm:timeType").selectedIndex = 1;
		}

		function changeSettledInvestments() {
			/*document.getElementById("investmentsForm:isSettled").value = 1;
			document.getElementById("investmentsForm:isSettled")			*/
		}

		function changeMin(obj){

			if(obj.selectedIndex > 0)
				document.getElementById("investmentsForm:invCloseMin").selectedIndex = 1;
			else
				document.getElementById("investmentsForm:invCloseMin").selectedIndex = 0;
		}
		function checkMinutes(obj){
			if(obj.selectedIndex == 0)
				document.getElementById("investmentsForm:invCloseHour").selectedIndex=0;
		}
</script>

 <h:panelGroup>
	<h:form id="investmentsForm">
		<c:if test="#{!isDaily}">
		#{investmentsForm.initInvestments}
		<h:panelGrid columns="2">
		<h:panelGrid rows="3">

			<h:panelGrid columns="21">
	        	<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
				<h:inputText styleClass="input_text" id="from" value="#{investmentsForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['investmentsForm'].elements['investmentsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    
			    <A HREF="#" onClick="cal.select(document.forms['investmentsForm'].elements['investmentsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>

		        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
				<h:inputText styleClass="input_text" id="to" value="#{investmentsForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['investmentsForm'].elements['investmentsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    
			    
			    <A HREF="#" onClick="cal.select(document.forms['investmentsForm'].elements['investmentsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>

				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>

				<h:panelGrid border="0" columns="1" width="5px"/>

				<t:outputText value="#{msgs['investments.search.date.by']}"/>
	   		  	<t:selectOneMenu id="timeType" value="#{investmentsForm.timeType}">
		   			<f:selectItems value="#{investmentsForm.timeTypeList}" />
		        </t:selectOneMenu>

				<h:panelGrid border="0" columns="1" width="10px"/>

	           	<t:selectOneRadio id="isSettled" value="#{investmentsForm.isSettled}" >
	          		<f:selectItem  itemLabel="#{msgs['investments.open']}" itemValue="0" />
					<f:selectItem  itemLabel="#{msgs['investments.close']}" itemValue="1" />
	           	</t:selectOneRadio>
	           	
	           	<h:panelGrid border="0" columns="1" width="10px"/>
	           	
	           	<t:outputLabel  for="insertedFrom" value="#{msgs['investments.insertedFrom']}" />
		     	<h:selectManyListbox id="insertedFrom" style="width:145px;height:85px" value="#{investmentsForm.insertedFrom}" >
		     		<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="-1" />
		        	<f:selectItems value="#{writer.invWritersSI}" />
		        </h:selectManyListbox>
		        
		        <h:panelGrid border="0" columns="1" width="10px"/>
		        
		        <h:outputLabel for="opportunities" value="#{msgs['opportunities.product.type']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
				<h:selectManyListbox id="opportunities" value="#{investmentsForm.opportunitiesList}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}">
					<f:selectItems value="#{writer.opportunityProductTypesStringSI}"/>
				</h:selectManyListbox>
		        

			</h:panelGrid>

			<h:panelGrid columns="23" >

				<t:outputText value="#{msgs['investments.username']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" />
				<t:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{investmentsForm.userName}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" />

				<h:panelGrid border="0" columns="1" width="5px"/>

	        	<t:outputText value="#{msgs['opportunities.market']}"/>
	   		  	<t:selectOneMenu id="groupId" value="#{investmentsForm.marketGroup}">
		   			<f:selectItems value="#{writer.getActiveMarketsAndGroupsWithOneTouchAndLongTermSI(false)}" />
		        </t:selectOneMenu>
				
				<t:outputText value="#{msgs['opportunities.scheduled']}"/>
	   		  	<t:selectOneMenu id="scheduled" value="#{investmentsForm.scheduled}">
		   			<f:selectItems value="#{writer.scheduledListAllSI}" />
		        </t:selectOneMenu>
		        
				<h:panelGrid border="0" columns="3" width="5px"/>
				
				<t:outputLabel  for="copyopInvTypeId" value="#{msgs['copyop.investments.copyop.inv.type']}" />
	     		<t:selectOneMenu id="copyopInvTypeId" value="#{investmentsForm.copyopInvTypeId}" >
	     			<f:selectItem  itemLabel="#{msgs['general.all']}" itemValue="-1" />
	        		<f:selectItems value="#{writer.copyopInvTypeSI}" />
	        	</t:selectOneMenu>
	        	
	        	<h:panelGrid border="0" columns="3" width="5px"/>
	        	
	        	<t:outputLabel  for="investmentId" value="#{msgs['investments.id']}"/>
    	    	<h:inputText dir="ltr" size="30" maxlength="20" id="investmentId" value="#{investmentsForm.id}"/>

		        <h:panelGrid border="0" columns="3" width="5px"/>

				<t:outputLabel  for="currencies" value="#{msgs['investments.currency']}" rendered="#{!user.supportSelected &amp;&amp; writer.currenySIsize>1  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
	     		<t:selectOneMenu id="currencies" value="#{investmentsForm.currencyId}" rendered="#{!user.supportSelected &amp;&amp; writer.currenySIsize>1  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
	        		<f:selectItems value="#{writer.currencySI}" />
	        	</t:selectOneMenu>

		       	<h:panelGrid border="0" columns="3" width="5px" />

		       	<t:outputLabel for="invCloseHour" value="#{msgs['investments.closingHour']}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
		     	<t:selectOneMenu id="invCloseHour" onchange="changeMin(this); changeSearchBy(this); changeSettledInvestments();" value="#{investmentsForm.invCloseHour}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.investmentClosingHoursSI}" />
	    	    </t:selectOneMenu><h:outputText rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" value=":"/>
	    	    <t:selectOneMenu id="invCloseMin" onchange="checkMinutes(this)" value="#{investmentsForm.invCloseMin}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" >
	        		<f:selectItems value="#{writer.investmentClosingMinutesSI}" />
	    	    </t:selectOneMenu>

			    <t:outputLabel  for="statusId" value="#{msgs['investments.search.status']}" rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
		        <t:selectOneMenu id="statusId" value="#{investmentsForm.statusId}" rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
	    		    <f:selectItems value="#{writer.investmentStatusesSI}" />
			    </t:selectOneMenu>

			</h:panelGrid>

			<h:panelGrid columns="19" >
	    	    <t:outputLabel for="invAmount" value="#{msgs['investments.invAmount']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
				<h:inputText id="invAmount" size="5" value="#{investmentsForm.invAmount}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>

                <h:panelGrid border="0" columns="3" width="5px" />

                <t:outputLabel for="invAmountBelow" value="#{msgs['investments.invAmountBelow']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
				<h:inputText id="invAmountBelow" size="5" value="#{investmentsForm.invAmountBelow}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>

				<h:inputHidden id="closingHour" value="#{investmentsForm.closingHour}" />
	    	    <h:inputHidden id="showAdvanced" value="#{investmentsForm.showAdvanced}" />

				<t:outputLabel  for="classIdForPartner" value="#{msgs['user.classes.type']}" rendered="#{user.partnerSelected}"/>
		        <t:selectOneMenu id="classIdForPartner" value="#{investmentsForm.classId}" rendered="#{user.partnerSelected}" >
	    			<f:selectItems value="#{writer.userClassesSI}" />
			    </t:selectOneMenu>

	   	        <t:outputLabel  for="skinBCId" value="#{msgs['newaccounts.skin.business.case']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
		     	<t:selectOneMenu id="skinBCId" value="#{investmentsForm.skinBusinessCaseId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}">
		        	<f:selectItems value="#{writer.skinBusinessCasesSI}"/>
		        </t:selectOneMenu>
		        
		       	<h:panelGrid border="0" columns="3" width="5px" />
		       	
		       	<t:outputLabel  for="fromUserId" value="#{msgs['copyop.investments.copyop.from']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>
		       	<h:inputText id="fromUserId" size="5" value="#{investmentsForm.fromUserId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}"/>

		       	<h:panelGrid border="0" columns="3" width="5px" />
		       			       	
			 	<t:commandLink action="#{investmentsForm.updateList}">
			     	<h:outputText value="#{msgs['button.search']}" />
		  	  	</t:commandLink>

		  	  	<h:panelGrid border="0" columns="3" width="5px" />

		  	  	<h:graphicImage rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}" value="/images/search_more.gif" onmouseover="myHint.show(0, this)" onmouseout="myHint.hide()" style="border:none; cursor:pointer"  onclick="showAdvanced()"/>

	  	  </h:panelGrid>

	   	</h:panelGrid>
	   	</h:panelGrid>

	   	<h:panelGrid id="advDiv" columns="11" rows="2">


    		<t:outputLabel  for="classId" value="#{msgs['user.classes.type']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
	        <t:selectOneMenu id="classId" value="#{investmentsForm.classId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
    			<f:selectItems value="#{writer.userClassesSI}" />
		    </t:selectOneMenu>

			&#160;

		    <t:outputLabel  for="skinId" value="#{msgs['newaccounts.skin']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
	     	<t:selectOneMenu id="skinId" value="#{investmentsForm.skinId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
        		<f:selectItems value="#{writer.skinsAndEmptySI}" />
    	    </t:selectOneMenu>

    	    &#160;

			<t:outputLabel  for="invType" value="#{msgs['investments.invType']}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
			<t:selectOneMenu id="invType" value="#{investmentsForm.invType}" rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
	        	<f:selectItems value="#{writer.investmentTypesSI}" />
	    	</t:selectOneMenu>

			<h:panelGroup rendered="#{writer.isWriterHaveSkin(7)}">
		    	<t:outputLabel for="apiUserId" value="#{msgs['api.user']}" />
				<t:selectOneMenu id="apiUserId" value="#{investmentsForm.apiUserId}" >
		        	<f:selectItems value="#{writer.apiUsersTypeExternaWithNoneSI}" />
		    	</t:selectOneMenu>

		    	<t:outputLabel for="apiUserReference" value="#{msgs['external.user.strip.reference']}" />
				<t:inputText dir="ltr" size="10" maxlength="200" id="apiUserReference" value="#{investmentsForm.apiExternalReference}" />
			</h:panelGroup>
		</h:panelGrid>
		</c:if>

		<c:if test="#{isDaily}">
			#{investmentsForm.initDaily}
			<h:panelGrid columns="23" >
				<t:outputText value="#{msgs['investments.username']}" />
				<t:inputText dir="ltr" size="10" maxlength="15" id="userName" value="#{investmentsForm.userName}" />

				<t:outputLabel id="from" for="fromHour" value="#{msgs['anal.filter.from']}"/>
		     	<h:selectOneMenu id="fromHour" onchange="changeHour(this, 'investmentsForm:fromHour')" value="#{investmentsForm.fromHour}" >
	        		<f:selectItems value="#{writer.investmentClosingHoursSI}"/>
	    	    </h:selectOneMenu>
	    	    <h:outputText id="colon" value=":"/>
	    	    <h:selectOneMenu id="fromMin" onchange="changeMin(this, 'investmentsForm:fromMin')" value="#{investmentsForm.fromMin}">
	        		<f:selectItems value="#{writer.investmentClosingMinutesSI}"/>
	    	    </h:selectOneMenu>

				<h:panelGrid id="ac1" border="0" columns="1" width="5px"/>

				<t:outputLabel id="to" for="fromHour" value="#{msgs['anal.filter.to']}"/>
		     	<h:selectOneMenu id="toHour" onchange="changeMin(this, 'investmentsForm:toMin')" value="#{investmentsForm.toHour}">
	        		<f:selectItems value="#{writer.investmentClosingHoursSI}"/>
	    	    </h:selectOneMenu>
	    	    <h:outputText id="colon2" value=":"/>
	    	    <h:selectOneMenu id="toMin" onchange="changeHour(this, 'investmentsForm:toHour')" value="#{investmentsForm.toMin}">
	        		<f:selectItems value="#{writer.investmentClosingMinutesSI}"/>
	    	    </h:selectOneMenu>

		       	<t:outputLabel for="invCloseHour" value="#{msgs['investments.closingHour']}" />
		     	<t:selectOneMenu id="invCloseHour" value="#{investmentsForm.invCloseHour}" >
	        		<f:selectItems value="#{writer.investmentClosingHoursSI}" />
	    	    </t:selectOneMenu><h:outputText value=":"/>

	    	    <t:selectOneMenu id="invCloseMin" value="#{investmentsForm.invCloseMin}" >
	        		<f:selectItems value="#{writer.investmentClosingMinutesSI}" />
	    	    </t:selectOneMenu>

		       	<t:outputLabel  for="invType" value="#{msgs['investments.invType']}" />
				<t:selectOneMenu id="invType" value="#{investmentsForm.invType}" >
		        	<f:selectItems value="#{writer.investmentTypesSI}" />
		    	</t:selectOneMenu>
	    	</h:panelGrid>

			<h:panelGrid columns="9" >
		    	<t:selectOneRadio immediate="true" id="isSettled" value="#{investmentsForm.isSettled}" valueChangeListener="#{investmentsForm.updateChange}"
	   					onclick="myfaces.oam.submitForm('investmentsForm','investmentsForm:updatelistbtn');">
	      			<f:selectItem  itemLabel="#{msgs['investments.open']}" itemValue="0" />
					<f:selectItem  itemLabel="#{msgs['investments.close']}" itemValue="1"/>
	           	</t:selectOneRadio>

				<t:outputLabel for="invAmount" value="#{msgs['investments.invAmount']}" />
				<h:inputText id="invAmount" size="5" value="#{investmentsForm.invAmount}" />

	            <h:panelGrid border="0" columns="3" width="5px" />

	            <t:outputLabel for="invAmountBelow" value="#{msgs['investments.invAmountBelow']}" />
				<h:inputText id="invAmountBelow" size="5" value="#{investmentsForm.invAmountBelow}" />

				<h:panelGroup rendered="#{investmentsForm.isSettledBoolean}">
			       	<t:outputLabel  for="wonAssets" value="#{msgs['opportunities.investments.winlose']}" />
					<t:selectOneMenu id="wonAssets" value="#{investmentsForm.houseResult}" >
			        	<f:selectItems value="#{writer.wonLostAllSI}" />
			    	</t:selectOneMenu>
			    </h:panelGroup>
			    <t:outputLabel  for="statusId" value="#{msgs['investments.search.status']}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"/>
	        	<t:selectOneMenu id="statusId" value="#{investmentsForm.statusId}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" >
    		    	<f:selectItems value="#{writer.investmentStatusesSI}" />
		    	</t:selectOneMenu>
			</h:panelGrid>
			<h:panelGrid columns="15" >


	            <h:outputLabel styleClass="text_gray_12_bold" for="skins" value="#{msgs['register.skin']}"/>
				<h:selectManyListbox style="width:134px;height:80px" id="skins" value="#{investmentsForm.skins}" >
					<f:selectItems value="#{writer.skinsStringSI}"/>
				</h:selectManyListbox>

				<t:outputText value="#{msgs['markets.groupid']}"/>
				<h:selectManyListbox style="width:134px;height:80px" id="select_group" value="#{investmentsForm.groups}" immediate="true" valueChangeListener="#{investmentsForm.updateMarkets}"
	   					onclick="this.form.submit();" >
					<f:selectItems value="#{writer.marketGroupStringSI}"/>
				</h:selectManyListbox>

				<t:outputText value="#{msgs['opportunities.market']}"/>
				<h:selectManyListbox style="width:134px;height:80px" id="select_group1" value="#{investmentsForm.markets}" >
		   			<f:selectItem itemLabel="#{msgs['opportunities.all']}" itemValue="0" />
					<f:selectItems value="#{investmentsForm.marketsList}"/>
				</h:selectManyListbox>

				<h:outputLabel for="opportunities" value="#{msgs['opportunities.product.type']}"/>
				<h:selectManyListbox style="width:134px;height:80px" id="opportunities" value="#{investmentsForm.opportunitiesList}" >
					<f:selectItems value="#{writer.opportunityProductTypesStringSI}"/>
				</h:selectManyListbox>
				
			 	<t:commandLink action="#{investmentsForm.updateList}" id="updatelistbtn">
			     	<h:outputText value="#{msgs['button.search']}" />
		  	  	</t:commandLink>
			</h:panelGrid>
		</c:if>

		<t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
	                var="v"
	                preserveDataModel="true"
	                rows="#{isDaily ? investmentsForm.NUM_OF_ROWS_DAILY + 4 : user.rowsByMenu+4}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                varDetailToggler="detailToggler"
  	                value="#{investmentsForm.dataModel}"
	           >
	           <ui:include src="/jsp/support/investmentsContentColumns.xhtml">
			   		<ui:param name="formName" value="#{investmentsForm}" />
			   		<ui:param name="isDaily" value="false" />
			   </ui:include>

			</t:dataTable>

		    <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
						paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
	                    rendered="#{investmentsForm.scrollerNeeded}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
			</h:panelGrid>

			<h:panelGrid style="text-align:left" rendered="false" columns="1" border="0" width="100%" >
			  	<h:commandLink onclick="window.open('#{facesContext.externalContext.requestContextPath}/jsp/support/investmentsContent_print.jsf', 'receiptpopup', 'menubar=1,resizable=1,width=1000,height=500,scrollbars=1');" >
					<h:outputText value="#{msgs['investment.exportexcel']}"/>
				</h:commandLink>
			</h:panelGrid>

		<h:panelGrid style="text-align:left" rendered="#{user.hasTraderRole &amp;&amp; (user.traderSelected || user.sadminSelected)}" columns="1" border="0"
			width="100%">
			<h:commandLink action="#{investmentsForm.exportTableToCSV}">
				<h:outputText value="#{msgs['investment.exportexcel']}" />
			</h:commandLink>
		</h:panelGrid>

		<h:outputText styleClass="general_message" rendered="#{investmentsForm.listSize==0}"  value="#{msgs['investments.emptylist']}"/>

		</h:form>
	</h:panelGroup>
	<script>
	<h:panelGroup rendered="#{!isDaily}">
			checkAdvanced();
	</h:panelGroup>
	    function changeMin(obj1, obj2Name){
			if(obj1.selectedIndex > 0) {
				if (document.getElementById(obj2Name).selectedIndex == 0) {
					document.getElementById(obj2Name).selectedIndex = 1;
				}
			} else {
				document.getElementById(obj2Name).selectedIndex = 0;
			}
		}

		function changeHour(obj1, obj2Name){
			if(obj1.selectedIndex > 0) {
				if (document.getElementById(obj2Name).selectedIndex == 0) {
					document.getElementById(obj2Name).selectedIndex = 1;
				}
			} else {
				document.getElementById(obj2Name).selectedIndex = 0;
			}
		}

		<h:panelGroup rendered="#{isDaily}">
			window.onload = startTimers;
		</h:panelGroup>

		function startTimers() {
		    var userNameField = document.getElementById("investmentsForm:userName")
		    if ( userNameField.value != ""){
		    	var onlineTimeId = setInterval( "updateList()", 5000 );
		    } else {
		        var onlineTimeId = setInterval( "updateList()", 20000 );
		    }


		}

		function updateList(){
			myfaces.oam.submitForm('investmentsForm','investmentsForm:updatelistbtn');
		}
	</script>
</html>
