<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
    	 		<!-- ID -->
	           <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}" rendered="#{writer.writer.id != 3}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['investments.id.column']}"/>
	               </f:facet>
	               <h:commandLink action="#{detailToggler.toggleDetail}">
		               <strong><h:outputText style="color:#0000FF;" rendered="#{v.bonusOddsChangeTypeId==0 &amp;&amp; v.totalLine==0 &amp;&amp; v.id==formName.lastInvestmentId &amp;&amp; !formName.isBinary0100(v)}" value="#{v.id}" /></strong>
		               <h:outputText rendered="#{v.bonusOddsChangeTypeId==0 &amp;&amp; v.totalLine==0 &amp;&amp; v.id!=formName.lastInvestmentId &amp;&amp; !formName.isBinary0100(v)}" value="#{v.id}" />
		               <h:outputText style="color:#FF00FF;" rendered="#{v.bonusOddsChangeTypeId>0 &amp;&amp; v.totalLine==0 &amp;&amp; !formName.isBinary0100(v)}" value="#{v.id}" />
		               <h:outputText style="color:#0989d9;" rendered="#{formName.isBinary0100(v)}" value="#{formName.getLastInvestmentsConnectedIDByInvId(v)}" />
		               <f:actionListener binding="#{formName.setCopyopInvestmentDetailsByInvId(formName.getCopyopRelevantInvBE(v))}" />		               
					</h:commandLink>
	           </t:column>
				<!-- USERNAME -->
	   		   <t:column rendered="#{(!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected) or (user.supportSelected and user.apiUser)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
		               <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
			               <h:outputText value="#{msgs['investments.username']}" class="tc" />
			               <f:setPropertyActionListener target="#{formName.sortColumn}" value="userName" />
					   </t:commandLink>
	               </f:facet>
	               <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected and v.apiExternalUserId == 0}" action="#{user.selectUserNoPopUp}" immediate="true" disabled="#{user.partnerSelected}">
	               		<h:outputText value="#{v.userName}"/>
						<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
				   </t:commandLink>
				   <t:commandLink rendered="#{(!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected and v.apiExternalUserId > 0) or (user.supportSelected and user.apiUser and v.apiExternalUserId > 0)}" action="#{apiExternalUserStripForm.loadNewUserFromInv}" immediate="true" disabled="#{user.partnerSelected}">
	               		<h:outputText value="#{v.apiExternalUserReference}(#{v.userName})"/>
						<f:setPropertyActionListener target="#{apiExternalUserStripForm.id}" value="#{v.apiExternalUserId}" />
				   </t:commandLink>
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/#{v.specialCare.image}" rendered="#{v.specialCare.specialCare}" border="0"/>
				   <h:outputText style="font-weight:bold;color:#000000;" value=" #{v.userCountryCode}" rendered="#{v.apiExternalUserId == 0}"/>
	           </t:column>
				<!-- MARKET -->
	           <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                 <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
	  		               <h:outputText value="#{msgs['investments.marketname']}"/>
                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="marketName" />
				 	 </t:commandLink>

	               </f:facet>
	               <h:outputText rendered="#{!formName.isOneTouchInv(v)}" value="#{v.marketName}  " />
	               <h:outputText rendered="#{formName.isOneTouchInv(v)}" value="#{v.marketName} | " />
	               <h:outputText rendered="#{formName.isBubbles(v)}" value=" Bubbles" />
	               <h:outputText rendered="#{formName.isDynamics(v)}" value=" Dynamics" />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/ar_up.gif" rendered="#{formName.isOneTouchInv(v) &amp;&amp; formName.isUpInvestment(v)}" />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/ar_down.gif" rendered="#{formName.isOneTouchInv(v) &amp;&amp; !formName.isUpInvestment(v)}" />
				   <t:graphicImage value="#{facesContext.externalContext.requestContextPath}/../images/0100_icon.png" rendered="#{formName.isBinary0100(v) }"/><!-- add Dynamics icon -->
	           </t:column>
				<!-- Level/Type -->
	           <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	               		<t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" rendered="#{!formName.noSortOptions &amp;&amp; !formName.justBinary0100Selected}">
							   <h:outputText value="#{msgs['investments.level']}"/>
	                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="level" />
					 	 </t:commandLink>
					 	 <!-- no sort option -->
					 	 <h:outputText value="#{msgs['investments.level']}" rendered="#{formName.noSortOptions}"/>
					 	 <!-- binary0100 sort -->
					 	 <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" rendered="#{formName.justBinary0100Selected}">
							   <h:outputText value="#{msgs['investments.level']}"/>
	                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="oppLevelBinary0100" />
					 	 </t:commandLink>
	               </f:facet>
	               <h:outputText value="#{formName.getCurrentLevelTxt(v)} #{v.typeName}" rendered="#{!formName.isBinary0100(v) and !formName.isBubbles(v) and !formName.isDynamics(v)}"/>
	               <h:outputText value="#{formName.getCurrentLevelTxt(v)}"  rendered="#{formName.isBubbles(v)}"/>
	               <h:outputText value="#{formName.getOppCurrentLevelTxt(v)} #{formName.getOpportunityTypeName(v)}" rendered="#{formName.isBinary0100(v) or formName.isDynamics(v)}"/>
	               <strong><h:outputText value="#{msgs['copyop.investments.copy']}" rendered="#{v.copyOpTypeId == 1}"/></strong>
	               <strong><h:outputText value="#{msgs['copyop.investments.follow']}" rendered="#{v.copyOpTypeId == 2}"/></strong>	              
	           </t:column>
				<!-- Buy/Sell -->
				 <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['investments.buy.sell']}"/>
	               </f:facet>
	               <h:outputText dir="ltr" value=""  rendered="#{!formName.isBinary0100(v) or !formName.isDynamics(v)}"/>
	               <h:outputText dir="ltr" value="#{v.typeName}" rendered="#{formName.isBinary0100(v) or formName.isDynamics(v)}"/>

	              <h:outputText rendered="#{v.totalLine==2}" value="#{msgs['general.totalpage']}&#58;" />
	               <h:outputText rendered="#{v.totalLine==3}" value="#{msgs['general.totalall']}&#58;" />
	           </t:column>
				<!-- No. of contracts -->
	           <t:column style="text-align:center;#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['investments.no.of.contract']}"/>
	               </f:facet>
	               <h:outputText dir="ltr" value=""  rendered="#{!formName.isBinary0100(v) or !formName.isDynamics(v)}"/>
	               <h:outputText dir="ltr" value="#{v.investmentsCount}" rendered="#{formName.isBinary0100(v) &amp;&amp; user.supportSelected}"/>
	               <h:outputText dir="ltr" value="#{formName.getBaseInvestmentsCount(v)}" rendered="#{formName.isBinary0100(v) &amp;&amp; !user.supportSelected}"/>
	               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
	               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; !formName.statusAllSelected}" dir="ltr" value="#{ v.totalNumOfContracts}" />
	           </t:column>
				<!-- Price -->
	            <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['investments.price']}"/>
	               </f:facet>
	               <h:outputText dir="ltr" value=""  rendered="#{!formName.isBinary0100(v)}"/>
	               <h:outputText dir="ltr" value="#{formName.getCurrentLevel0100BE(v)}" rendered="#{formName.isBinary0100(v)}"/>
	               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
	               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; !formName.statusAllSelected}" dir="ltr" value="#{ v.totalPriceTxt}" />
	           </t:column>
				<!-- Reuters -->
	           <t:column rendered="#{user.hasSAdminRole || user.hasTraderRole}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
	  		               <h:outputText value="#{msgs['investments.reallevel']}"/>
                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="realLevel" />
				 	  </t:commandLink>
	               </f:facet>
	               <h:outputText dir="ltr" value="#{formName.getRealLevelTxt(v)}"  rendered="#{!formName.isBubbles(v)}"/>
	               <h:outputText dir="ltr" value=""  rendered="#{formName.isBubbles(v)}"/>
	           </t:column>
				<!-- Check -->
	           <t:column rendered="#{user.hasSAdminRole || user.hasTraderRole}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	               		<t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" rendered="#{!formName.noSortOptions &amp;&amp; !formName.justBinary0100Selected}">
		  		               <h:outputText value="#{msgs['investments.wwwlevel']}"/>
	                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="wwwLevel" />
					 	 </t:commandLink>
					 	 <!-- no sort option -->
					 	 <h:outputText value="#{msgs['investments.wwwlevel']}" rendered="#{formName.noSortOptions}"/>
					 	 <!-- binary0100 sort -->
					 	 <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" rendered="#{formName.justBinary0100Selected}">
		  		                <h:outputText value="#{msgs['investments.wwwlevel']}"/>
	                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="levelBinary0100" />
					 	 </t:commandLink>
	               </f:facet>
	               <h:outputText dir="ltr" value="#{formName.getWwwLevelTxt(v)}"  rendered="#{!formName.isBinary0100(v) or !formName.isDynamics(v)}"/>
	               <h:outputText dir="ltr" value="" rendered="#{formName.isBinary0100(v) || formName.isBubbles(v) || formName.isDynamics(v)}"/>
	           </t:column>
				<!-- Closing level -->
	           <t:column rendered="#{formName.isSettledBoolean}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
		           <f:facet name="header">
		               <h:outputText value="#{msgs['investments.closinglevel']}"/>
		           </f:facet>
				   <h:outputText value="#{formName.getClosingLevel0100BE(v)}" />
	           </t:column>

				<t:column rendered="#{formName.isSettledBoolean}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
		           <f:facet name="header">
		               <h:outputText value="#{msgs['investments.closing.price']}"/>
		           </f:facet>
		           <h:outputText rendered="#{formName.isBinary0100(v)}" value="#{formName.getClosingPrice(v)}" />
	           </t:column>
	           
				<!-- Amount -->
	           <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
	  		               <h:outputText value="#{msgs['investments.amount']}"/>
                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="amount" />
				 	   </t:commandLink>
	               </f:facet>
	               <b><h:outputText rendered="#{v.totalLine==0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getBaseAmountTxt(v) : formName.getAmountTxt(v)}" /></b>
	               <h:graphicImage rendered="#{formName.isRolledUp(v)}" value="/images/roll_icon.gif" style="cursor:pointer" onmouseover="rolledUpHint.show('0')" onmouseout="rolledUpHint.hide()"/>
	               <h:graphicImage rendered="#{formName.isRollUpBought(v)}" value="/images/roll_icon.gif" style="cursor:pointer" onmouseover="showRollupBoughtHint('#{formName.getAmountWithoutFeesTxt(v)}', '#{formName.getInsuranceAmountRUTxt(v)}')" onmouseout="rolledUpHint.hide()"/>
	               <h:graphicImage rendered="#{formName.isGmBought(v)}" value="/images/golden_icon.gif" style="cursor:pointer" onmouseover="showGMBoughtHint('#{formName.getAmountWithoutFeesTxt(v)}', '#{formName.getInsuranceAmountGMTxt(v)}')" onmouseout="rolledUpHint.hide()"/>
	               <h:graphicImage rendered="#{v.bonusOddsChangeTypeId > 0 &amp;&amp; v.isSettled == 0}" value="/images/bonus_star.gif" style="cursor:pointer" onmouseover="showNotSettledBonusHint('#{formName.getBonusName(v)}')" onmouseout="bonusHint.hide()"/>
	               <h:graphicImage rendered="#{v.bonusOddsChangeTypeId > 0 &amp;&amp; v.isSettled == 1}" value="/images/bonus_star.gif" style="cursor:pointer" onmouseover="showSettledBonusHint('#{formName.getBonusName(v)}', '#{formName.getTransactionAmountTxt(v)}')" onmouseout="bonusHint.hide()"/>
				   <h:graphicImage rendered="#{v.fromGraph == 1 &amp;&amp; v.opportunityTypeId != 3}" value="/images/graph.gif" style="cursor:pointer" title="Profit Line investment"/>
				   <h:graphicImage rendered="#{v.optionPlus}" value="/images/plus_icon.gif" style="cursor:pointer" onmouseover="showOptionPlusHint('#{formName.getRefundWithBonusTxt(v)}', '#{formName.getTimeSettledTxt(v)}')" onmouseout="rollUpHint.hide()"/>
				   <h:graphicImage rendered="#{v.opportunityTypeId == 3 &amp;&amp; !v.optionPlus}" value="/images/plus_icon.gif"/>

	               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />
	               <h:outputText rendered="#{v.totalLine>1 &amp;&amp; !formName.statusAllSelected}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? v.baseTotalAmountTxt : v.totalAmountTxt}" />

	               <h:graphicImage rendered="#{v.totalLine == 0 and !formName.isSettledBoolean}" value="/images/i.png" style="cursor:pointer;" onclick="top.openCacheBonusPopup({'e' : event, 'offsetEl' : top.document.getElementById(window.frameElement.id), 'popUpId' : 'balancePopup', 'userId' : #{user.id}, 'investmentId' : #{v.id}, 'callType' : top.jsonDepositBonusBalanceConstants.openInvestmentsAmount});" />
	               <h:graphicImage rendered="#{v.totalLine == 0 and formName.isSettledBoolean}" value="/images/i.png" style="cursor:pointer;" onclick="top.openCacheBonusPopup({'e' : event, 'offsetEl' : top.document.getElementById(window.frameElement.id), 'popUpId' : 'balancePopup', 'userId' : #{user.id}, 'investmentId' : #{v.id}, 'callType' : top.jsonDepositBonusBalanceConstants.settledInvestmentsAmount});" />

	    	    </t:column>

	    	    <t:column rendered="#{!formName.isSettledBoolean &amp;&amp; (user.supportSelected || user.retentionSelected || user.retentionMSelected)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               	<f:facet name="header">
	               	    <h:outputText escape="false" value="#{msgs['investments.if.above.customer']}"/>
	               	</f:facet>
	               	<h:outputText rendered="#{v.totalLine==0 &amp;&amp; !formName.isBinary0100(v) and !formName.isDynamics(v)}" dir="ltr" value="#{formName.getWinUpCustomerTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Above(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{formName.getBinary0100WinUpCustomerTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Below(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{formName.getBinary0100LoseDownCustomerTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isDynamics(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{formName.getDynamicsWinUpCustomerTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />

	    	    </t:column>

	    	    <t:column rendered="#{!formName.isSettledBoolean &amp;&amp; !(user.supportSelected || user.retentionSelected || user.retentionMSelected)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               	<f:facet name="header">
	               	    <h:outputText escape="false" value="#{msgs['investments.if.above']}"/>
	               	</f:facet>
	               	<h:outputText rendered="#{v.totalLine==0 &amp;&amp; !formName.isBinary0100(v) and !formName.isDynamics(v)}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ?  formName.getBaseWinUpTxt(v) : v.winUpTxt}" />
					<h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Above(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ?  formName.getBinary0100BaseWinUpTxt(v) : formName.getBinary0100WinUpTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Below(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ?  formName.getBinary0100BaseRefundDownTxt(v) : formName.getBinary0100LoseDownTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isDynamics(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ?  formName.getDynamicsBaseWinUpTxt(v) : formName.getDynamicsWinUpTxt(v)}" />
					<h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />

	    	    </t:column>

	    	   	<t:column rendered="#{!formName.isSettledBoolean &amp;&amp; (user.supportSelected || user.retentionSelected || user.retentionMSelected)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText escape="false" value="#{msgs['investments.if.below.customer']}"/>
	               </f:facet>
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; !formName.isBinary0100(v) and !formName.isDynamics(v)}" dir="ltr" value="#{formName.getLoseDownCustomerTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Above(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{formName.getBinary0100LoseDownCustomerTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Below(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{formName.getBinary0100WinUpCustomerTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; formName.isDynamics(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{formName.getDynamicsLoseDownCustomerTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />

    	     	</t:column>

		        <t:column rendered="#{!formName.isSettledBoolean &amp;&amp; !(user.supportSelected || user.retentionSelected || user.retentionMSelected)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText escape="false" value="#{msgs['investments.if.below']}"/>
	               </f:facet>
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; !formName.isBinary0100(v) and !formName.isDynamics(v)}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getBaseLoseDownTxt(v) : formName.getLoseDownTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Above(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getBinary0100BaseLoseDownTxt(v) : formName.getBinary0100LoseDownTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; formName.isBinary0100(v) &amp;&amp; formName.isTypeBinary0100Below(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getBinary0100BaseWinUpTxt(v) : formName.getBinary0100WinUpTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0  &amp;&amp; formName.isDynamics(v) &amp;&amp; v.isSettled == 0}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getDynamicsBaseLoseDownTxt(v) : formName.getDynamicsLoseDownTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==1}" dir="ltr" value="----------" />

    	     	</t:column>
    	     	
	        	<t:column rendered="#{!formName.isSettledBoolean}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText escape="false" value="#{msgs['investments.return.on.win']}"/>
	               </f:facet>
	               <h:outputText rendered="#{formName.isBubbles(v)}" dir="ltr" value="#{formName.returnBubblesWinTxt(v)}" />

    	     	</t:column>
    	     	
	        	<t:column rendered="#{!formName.isSettledBoolean}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText escape="false" value="#{msgs['investments.return.on.lose']}"/>
	               </f:facet>
	               <h:outputText rendered="#{formName.isBubbles(v)}" dir="ltr" value="#{formName.returnBubblesLoseTxt(v)}" />

    	     	</t:column>

				<t:column rendered="#{formName.isSettledBoolean &amp;&amp; (user.supportSelected || user.retentionSelected || user.retentionMSelected)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['investments.winlose.customer']}"/>
	               </f:facet>
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; !formName.isBinary0100(v)}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getCustomerBaseWinLoseTxt(v) : formName.getCustomerUserWinLoseTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isBinary0100(v)}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getCustomerBaseWinLoseTxt0100(v) : formName.getCustomerUserWinLoseTxt0100(v)}" />
	   			   <h:outputText rendered="#{!formName.statusAllSelected &amp;&amp; formName.isSettledBoolean &amp;&amp; v.totalLine==1}" dir="ltr" value="----------" />
	               <h:outputText rendered="#{!formName.statusAllSelected &amp;&amp; formName.isSettledBoolean &amp;&amp; v.totalLine>1}" styleClass="#{formName.currencyAllSelected ? v.customerBaseTotalWinLoseStyleColor : v.customerTotalWinLoseStyleColor}" dir="ltr" value="#{formName.currencyAllSelected ? v.customerBaseTotalWinLoseTxt : v.customerTotalWinLoseTxt}"/>
	               
	               <h:graphicImage rendered="#{v.totalLine == 0 and formName.isSettledBoolean}" value="/images/i.png" style="cursor:pointer;" onclick="top.openCacheBonusPopup({'e' : event, 'offsetEl' : top.document.getElementById(window.frameElement.id), 'popUpId' : 'balancePopup', 'userId' : #{user.id}, 'investmentId' : #{v.id}, 'callType' : top.jsonDepositBonusBalanceConstants.settledInvestmentsReturn});" />
	           </t:column>
				<!-- win/lose -->
	           	<t:column rendered="#{formName.isSettledBoolean &amp;&amp; !(user.supportSelected || user.retentionSelected || user.retentionMSelected)}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <h:outputText value="#{msgs['investments.winLose']}"/>
	               </f:facet>
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; !formName.isBinary0100(v)}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getBaseWinLoseTxt(v) : formName.getUserWinLoseTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; formName.isBinary0100(v)}" dir="ltr" value="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; formName.currencyAllSelected ? formName.getBaseWinLoseTxt0100(v) : formName.getUserWinLoseTxt0100(v)}" />
	   			   <h:outputText rendered="#{!formName.statusAllSelected &amp;&amp; formName.isSettledBoolean &amp;&amp; v.totalLine==1}" dir="ltr" value="----------" />
	               <h:outputText rendered="#{!formName.statusAllSelected &amp;&amp; formName.isSettledBoolean &amp;&amp; v.totalLine>1}" styleClass="#{formName.currencyAllSelected ? v.baseTotalWinLoseStyleColor : v.totalWinLoseStyleColor}" dir="ltr" value="#{formName.currencyAllSelected ? v.baseTotalWinLoseTxt : v.totalWinLoseTxt}"/>
	           </t:column>
				<!-- Time created -->
	           <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
	  		               <h:outputText value="#{msgs['investments.timecreated']}"/>
                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="timeCreated" />
				 	   </t:commandLink>
	               </f:facet>
	               <h:outputText escape="false" value="#{v.timeCreated}">
		               <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" />
	               </h:outputText>
	           </t:column>
				<!-- Est. Time Closing -->
		       <t:column rendered="#{!formName.isSettledBoolean}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
	  		               <h:outputText value="#{msgs['investments.est.closing']}"/>
                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="estClosingTime" />
				 	   </t:commandLink>
	               </f:facet>
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; !(formName.isGmBought(v) || v.optionPlus)}" escape="false" value="#{formName.getTimeEstClosingTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; (formName.isGmBought(v) || v.optionPlus)}" escape="false" value="#{formName.getTimeSettledTxt(v)}" />
	    	   </t:column>
	    	   
				<!-- Est. Time Closing settled-->
		       <t:column rendered="#{formName.isSettledBoolean}" style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
	                   <t:commandLink style="color:#FFFFFF;" action="#{formName.sortList}" >
	  		               <h:outputText value="#{msgs['investments.est.closing']}"/>
                       	   <f:setPropertyActionListener target="#{formName.sortColumn}" value="estClosingTime" />
				 	   </t:commandLink>
	               </f:facet>
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; !(formName.isGmBought(v) || v.optionPlus || formName.isBinary0100(v) || formName.isBubbles(v))}" escape="false" value="#{formName.getTimeEstClosingTxt(v)}" />
	               <h:outputText rendered="#{v.totalLine==0 &amp;&amp; (formName.isGmBought(v) || v.optionPlus || formName.isBinary0100(v) || formName.isBubbles(v))}" escape="false" value="#{formName.getTimeSettledTxt(v)}" />
	    	    </t:column>
				<!-- IP address -->
			    <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['investments.ip']}"/>
	               </f:facet>
	               <h:outputText value="#{v.ip}" />
	              </t:column>
				<!-- Inserted from -->
               <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.partnerSelected}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['investments.insertedFrom']}"/>
	               </f:facet>
	               <h:outputText value="#{v.writerUserName}" />
	           </t:column>

	           <t:column style="text-align:#{writer.localInfo.align};#{!formName.isSettledBoolean &amp;&amp; v.isSettled == 1 ? 'background-color:#fc80a5' : ''}" rendered="#{!user.partnerSelected}">
	               <f:facet name="header">
	                   <t:outputText value="#{msgs['action']}"/>
	               </f:facet>

	               <t:commandLink rendered="#{((user.hasAdminRole &amp;&amp; v.isCanceled==0) || formName.getCheckIfCancel(v)) &amp;&amp; v.totalLine==0 &amp;&amp; !(v.isSettled==1 &amp;&amp; v.bonusOddsChangeTypeId==1 &amp;&amp; v.lose>0 )}"
		               onclick="if(!confirmit()) return false;"
	               		action="#{formName.cancel}" immediate="true">
	               		<h:outputText value="#{msgs['investments.cancel']}" />
	                    <f:setPropertyActionListener target="#{formName.investment}" value="#{v}" />
					</t:commandLink>

					<h:outputText value="#{msgs['investments.canceled']}" rendered="#{v.isCanceled==1 &amp;&amp; v.totalLine==0}"/>

	           </t:column>

	           <t:column style="text-align:#{writer.localInfo.align};" rendered="#{isDaily}">
	               <f:facet name="header">
		               <h:outputText value="#{msgs['investments.balance']}"/>
	               </f:facet>
	               <h:outputText value="#{v.apiExternalUserId == 0 ? formName.getUserBalanceTxt(v) : ''}" rendered="#{v.totalLine==0}" />
	           </t:column>

	           <f:facet name="detailStamp">
       				<h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">
						<h:panelGrid border="0" columns="12" width="100%">
						  <h:outputText value="#{msgs['investments.det.cancel']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{formName.getIsCanceledTxt(v)}" />

						  <h:outputText value="#{msgs['investments.det.canceltime']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{v.timeCanceled}">
							  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
						  </h:outputText>

						  <h:outputText value="#{msgs['investments.det.cancelby']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{formName.getCanceledWriterName(v)}" />

						  <h:outputText value="#{msgs['investments.scheduled']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{formName.getScheduledTxt(v)}" />

						  <h:outputText value="#{msgs['investments.writer']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{utils.getWriterName(v.writerId)}" />

						  <h:outputText value="#{msgs['investments.timecreated']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{v.timeCreated}">
							  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
						  </h:outputText>

						  <h:outputText value="#{msgs['investments.marketname']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{v.marketName}" />

						  <h:outputText value="#{msgs['investments.level']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{formName.getCurrentLevelTxt(v)}" />

						  <h:outputText value="#{msgs['investments.amount']}" />
						  <h:outputText escape="false" styleClass="data_display" value="#{formName.getAmountWithoutFeesTxt(v)}" />

						  <h:outputText rendered="#{!user.supportSelected  &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.username']}"/>
						  <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" action="#{user.selectUserNoPopUp}" immediate="true"
						  		disabled="#{user.partnerSelected}">
	 			              <h:outputText styleClass="data_display" value="#{v.userName}"/>
							  <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
					 	  </t:commandLink>

			              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.accountid']}"/>
						  <t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" action="#{user.selectUserNoPopUp}" immediate="true"
						  		disabled="#{user.partnerSelected}">
				             <h:outputText styleClass="data_display" value="#{v.userId}"/>
							 <f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
				 		  </t:commandLink>

		                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.firstname']}"/>
			              <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{v.userFirstName}"/>

		                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['register.lastname']}"/>
		                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{v.userLastName}"/>

		                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{msgs['userstrip.skinname']}"/>
		                  <h:outputText rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" styleClass="data_display" value="#{v.skin}"/>
						  <h:outputText rendered="#{formName.isBinary0100(v)}" value="#{msgs['investments.Contracts.id']}" />
						  <ui:repeat rendered="#{formName.isBinary0100(v)}" value="#{formName.getInvestmentsConnectedIDByInvId(v)}" var="invId">
						  	<h:outputText styleClass="data_display" value="#{invId}, " />
						  </ui:repeat>						 		 			  				  						  						  				  
					</h:panelGrid>					
					<!-- COPYOP -->		
					<h:panelGroup rendered="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)] != null and formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].timesCopied > 0}">													
						<h:panelGrid border="0" columns="5" width="55%">					 	
							  <h:panelGroup>
							  		<h:outputText value="#{msgs['copyop.investments.org.inv.info']}" />&#160;&#160;
							  		<h:outputText styleClass="data_display" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalUserId}" />&#160;&#160;
							  		<t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}"  action="#{user.selectUserNoPopUp}" immediate="true" disabled="#{user.partnerSelected}">
							  			<h:outputText styleClass="data_display" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalUserName}" />
							  			<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalUserName}" />
							  		</t:commandLink>&#160;&#160;
							  		<h:outputText styleClass="data_display" rendered="#{user.supportSelected || user.retentionSelected || user.retentionMSelected}" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalUserName}" />&#160;&#160;						  		
							  		<h:outputText styleClass="data_display" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalRate}" />&#160;&#160;
							  		<h:outputText styleClass="data_display" rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalInvestmentAmountUSDTxt}" />&#160;&#160;
							  		<h:outputText styleClass="data_display" rendered="#{user.supportSelected || user.retentionSelected|| user.retentionMSelected}"  value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalInvestmentAmountTxt}" />&#160;&#160;
							  		<h:outputText styleClass="data_display" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].originalInvestmentId}" />
							  </h:panelGroup>						 						  					  
							  <h:outputText value="#{msgs['copyop.investments.times.copied']}" />
							  <h:outputText styleClass="data_display" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].timesCopied}" />						  
							  <h:outputText value="#{msgs['copyop.investments.sum.inv']}" />
							  <h:outputText styleClass="data_display" value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].sumOriginalAndCopyUSDTxt}" />
						</h:panelGrid>
						<h:panelGrid  border="0" columns="2" width="100%">
					  		  	<h:outputText value="#{msgs['copyop.investments.also.copy']}" />
							  	<ui:repeat value="#{formName.copyopInvestmentDetailsList[formName.getCopyopRelevantInvBE(v)].copyBy}" var="copyBy">
							  		<t:commandLink rendered="#{!user.supportSelected &amp;&amp; !user.retentionSelected &amp;&amp; !user.retentionMSelected}" action="#{user.selectUserNoPopUp}" immediate="true" disabled="#{user.partnerSelected}">
							  			<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{copyBy.userName}" />
							  			<h:outputText escape="false" styleClass="data_display" value="#{copyBy.userName} " />&#160;
									</t:commandLink>
									<h:outputText styleClass="data_display" rendered="#{user.supportSelected || user.retentionSelected || user.retentionMSelected}" value="#{copyBy.userName}" />						  			
							  		<h:outputText styleClass="data_display" value="#{copyBy.investmentId}, " />&#160;						  			
							    </ui:repeat>	
						</h:panelGrid>
					</h:panelGroup>
					<!-- Bubbles -->
					<h:panelGroup rendered="#{formName.isBubbles(v)}">
						<h:panelGrid  border="0" columns="8" width="100%">
							<h:outputText value="#{msgs['investments.bubbles.high.level']}" />
							<h:outputText escape="false" styleClass="data_display" value="#{formName.getBubblesHighLevelTxt(v)}" />
							
							<h:outputText value="#{msgs['investments.bubbles.low.level']}" />
						  	<h:outputText escape="false" styleClass="data_display" value="#{formName.getBubblesLowLevelTxt(v)}" />
						  	
						  	<h:outputText value="#{msgs['investments.bubbles.start.time']}" />
						  	<h:outputText escape="false" styleClass="data_display" value="#{v.bubbleStartTime}">
								<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{v.utcOffsetCreated}" />
							</h:outputText>
						  	
						  	<h:outputText value="#{msgs['investments.bubbles.end.time']}" />
						 	<h:outputText escape="false" styleClass="data_display" value="#{v.bubbleEndTime}">
							 	<f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{v.utcOffsetCreated}" />
						 	</h:outputText>
						</h:panelGrid>
					</h:panelGroup>		
					
					<!-- Dynamics -->
					<h:panelGroup rendered="#{formName.isDynamicsPartiallyClosed(v)}">
						<h:panelGrid  border="0" columns="4" width="100%">
							<h:outputText value="#{msgs['investments.dynamics.partially.original.ID']}" />
							<h:outputText escape="false" styleClass="data_display" value="#{v.referenceInvestmentId == 0 ? 'N/A' : v.referenceInvestmentId}" />
							
							<h:outputText value="#{msgs['investments.dynamics.partially.original.amount']}" />
						  	<h:outputText escape="false" styleClass="data_display" value="#{formName.getDynamicsPartiallyClosedOriginalInvAmount(v)}" />
						</h:panelGrid>
					</h:panelGroup>						
	 			  </h:panelGrid>
				</f:facet>
</f:view>