<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">
<ui:define name="content">
	<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
	</script>
	<script>
	function smit() {
		var origin = document.getElementById("issuesForm:subjectId");
		if(origin[3].selected==true){
			var d = document.getElementById("issuesForm:channelId");
			d[1].selected = true;
			document.forms["issuesForm"].submit();
		}
	 }
</script>



    <h:panelGroup >

        <h:form id="issuesForm">
        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />

			<t:saveState id="issueformstate" value="#{issuesForm}" />
			<t:saveState id="issuestate" value="#{issuesForm.issue}" />
	   	    <t:saveState id="issuestate2" value="#{issue}" />

   			<h:panelGrid border="0" columns="2">

						<h:outputText rendered="#{issuesForm.issue.id>0}" value="#{msgs['issues.id']}"/>
						<h:outputText styleClass="data_display" rendered="#{issuesForm.issue.id>0}" value="#{issuesForm.issue.id}"> </h:outputText>
						
						<h:outputLabel for="componentId" value="#{msgs['issues.component']}"/>
						<h:panelGroup>
	    	        		<h:panelGrid border="0" columns="2" rendered="#{issuesForm.issue.id == 0}">
	        	       			<h:selectOneMenu id="componentId" value="#{issuesForm.issue.componentId}" required="true" >        	       			   
	            	   				<f:selectItems value="#{writer.issueComponentSI}" />
		            	   		</h:selectOneMenu>
		            			<t:message id="componentIdError" for="componentId" replaceIdWithLabel="true" styleClass="error" />
							</h:panelGrid>						
							<h:outputText styleClass="data_display" rendered="#{issuesForm.issue.id > 0}" value="#{issuesForm.issue.componentName}"> </h:outputText>
						</h:panelGroup>													

	            		<h:outputLabel for="statusId" value="#{msgs['issues.status']}"/>
    	        		<h:panelGrid border="0" columns="2">
        	       			<h:selectOneMenu id="statusId" value="#{issuesForm.issue.statusId}" required="true" >
        	       			    <f:selectItem itemLabel="" itemValue="" />
            	   				<f:selectItems value="#{writer.issueStatusesSI}" />
	            	   		</h:selectOneMenu>
	            			<t:message id="statusIdError" for="statusId" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>


	            		<h:outputLabel for="subjectId" value="#{msgs['issues.subject']}"/>
    	        		<h:panelGrid rendered="#{!user.retentionSelected &amp;&amp; !user.retentionMSelected &amp;&amp; !user.supportSelectedWithMOLocking}" border="0" columns="2">
        	       			<h:selectOneMenu id="subjectId" value="#{issuesForm.issue.subjectId}" required="true" 
        	       			onchange="this.form.submit();" immediate="true">
								<f:selectItem  itemLabel="" itemValue="" />
            	   				<f:selectItems value="#{writer.issueSubjectsSI}" />
	            	   		</h:selectOneMenu>
    	        			<t:message id="subjectIdError" for="subjectId" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
						<h:panelGrid rendered="#{user.retentionSelected || user.retentionMSelected || user.supportSelectedWithMOLocking}" border="0" columns="2">
        	       			<h:inputText value="#{issuesForm.populationTypeKey}" size="30"  disabled="true"/>
						</h:panelGrid>

	            		<h:outputLabel  for="priorityId" value="#{msgs['issues.priority']}"/>
						<h:panelGrid  border="0" columns="2">
        		       		<h:selectOneMenu id="priorityId" value="#{issuesForm.issue.priorityId}" required="true" >
	               				<f:selectItem  itemLabel="" itemValue="" />
	               				<f:selectItems value="#{writer.issuePrioritiesSI}" />
	        	       	   </h:selectOneMenu>
	            		   <t:message id="priorityIdError" for="priorityId" replaceIdWithLabel="true" styleClass="error"/>
    	        		</h:panelGrid>

						<h:outputLabel for="channelId" value="#{msgs['issues.actions.channel']}"/>
						<h:panelGrid border="0" columns="2">
               				<h:selectOneMenu immediate="true" id="channelId" value="#{issuesForm.issueAction.channelId}" required="true"
               					valueChangeListener="#{issuesForm.updateChannelId}"
               					onchange="this.form.submit();">
               					<f:selectItem  itemLabel="" itemValue="" />
	               				<f:selectItems value="#{writer.issueChannelsSI}" />
		               	    </h:selectOneMenu>
            	  			<t:message id="channelIdError" for="channelId" replaceIdWithLabel="true" styleClass="error"/>
		            	</h:panelGrid>

		            	<h:outputLabel rendered="#{issuesForm.issueAction.channelId==7}" for="activitiesId" value="#{msgs['issues.actions.activities']}"/>
						<h:panelGrid rendered="#{issuesForm.issueAction.channelId==7}" border="0" columns="2">
               				<h:selectOneMenu immediate="true" id="activitiesId" value="#{issuesForm.issueAction.actionTypeId}" required="true"
               					valueChangeListener="#{issuesForm.updateActionTypeId}"
               					onchange="this.form.submit();">
               					<f:selectItem  itemLabel="" itemValue="" />
	               				<f:selectItems value="#{issuesForm.actriviListHM}" />
		               	    </h:selectOneMenu>
            	  			<t:message id="activitiesIdError" for="activitiesId" replaceIdWithLabel="true" styleClass="error"/>
		            	</h:panelGrid>
		            	
		            	<h:outputLabel  for="cardId" value="#{msgs['files.credit.card.id']}" rendered="#{issuesForm.issueAction.actionTypeId==44}"/>
						<h:panelGrid  border="0" columns="2" rendered="#{issuesForm.issueAction.actionTypeId==44}">
               				<h:selectOneMenu immediate="true" id="cardId" value="#{issuesForm.cardNum}" required="true"
               					onchange="this.form.submit();">
               					<f:selectItem  itemLabel="" itemValue="" />
	               				<f:selectItems value="#{issuesForm.ccSI}" />
		               	    </h:selectOneMenu>
            	  			<t:message id="cardIdError" for="cardId" replaceIdWithLabel="true" styleClass="error"/>
		            	</h:panelGrid>
		            	
						<h:outputLabel rendered="#{issuesForm.phoneCall}" for="callDirectionId" value="#{msgs['issues.actions.call.direction']}"/>
    	        		<h:panelGrid rendered="#{issuesForm.phoneCall}" border="0" columns="2">
        	       			<h:selectOneMenu immediate="true" id="callDirectionId" value="#{issuesForm.issueAction.callDirectionId}" required="true"
        	       				valueChangeListener="#{issuesForm.updatePhoneCallDirection}"
               					onchange="this.form.submit();">
            	   				<f:selectItems value="#{writer.callDirectionSI}" />
	            	   		</h:selectOneMenu>
							<t:message id="callDirectionIdError" for="callDirectionId" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

						<h:outputLabel rendered="#{issuesForm.outBoundCall}" for="reachedStatusId" value="#{msgs['issues.actions.reachedStatus']}"/>
    	        		<h:panelGrid rendered="#{issuesForm.outBoundCall}" border="0" columns="2">
        	       			<h:selectOneMenu id="reachedStatusId" value="#{issuesForm.issueAction.reachedStatusId}" required="true"
								valueChangeListener="#{issuesForm.updateReachedStatusId}"
	               				onchange="this.form.submit();">
        	       				<f:selectItem  itemLabel="" itemValue="" />
            	   				<f:selectItems value="#{writer.issueReachedStatusesSI}" />
	            	   		</h:selectOneMenu>
							<t:message id="reachedStatusIdError" for="reachedStatusId" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

						<h:outputLabel rendered="#{issuesForm.phoneCall}" for="reactionId" value="#{msgs['issues.actions.reaction']}"/>
    	        		<h:panelGrid rendered="#{issuesForm.phoneCall}" border="0" columns="2">
        	       			<h:selectOneMenu id="reactionId" value="#{issuesForm.issueAction.actionTypeId}" required="true"
	        	       			valueChangeListener="#{issuesForm.updateActionTypeId}"
	               				onchange="this.form.submit();">
        	       				<f:selectItem  itemLabel="" itemValue="" />
            	   				<f:selectItems value="#{issuesForm.reactionListHM}" />
	            	   		</h:selectOneMenu>
							<t:message id="reactionIdError" for="reactionId" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

						<h:outputLabel rendered="#{issuesForm.displayCallBack}" for="callBack" value="#{msgs['issues.actions.call.back']}"/>
    	        		<h:panelGrid rendered="#{issuesForm.displayCallBack}" border="0" columns="4">
            	   			<t:commandLink action="#{issuesForm.updateCallBack}" immediate="true" >
			               		<t:selectBooleanCheckbox id="callBack" value="#{issuesForm.callBack}"/>
							</t:commandLink>
	            			<t:message id="callBackError" for="callBack" replaceIdWithLabel="true" styleClass="error"/>
	            			<t:message id="callBackDateError" for="callBackDate" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

						<h:outputLabel for="callBackDate" value="#{msgs['issues.actions.call.back.time']}" rendered="#{issuesForm.callBack &amp;&amp; issuesForm.displayCallBack}"/>
						<h:panelGrid border="0" columns="12" rendered="#{issuesForm.callBack &amp;&amp; issuesForm.displayCallBack}" >

							 <h:commandLink
					         	    id="hiddenUpdateCallBackDate"
								    action="#{issuesForm.updateCallBackFields}"
								    style="display:none">
						     </h:commandLink>

		            		<h:panelGrid border="0" columns="3">
								<h:inputText id="callBackDate" value="#{issuesForm.issueAction.callBackDate}" maxlength="10" size="8" dir="ltr" required="true" immediate="true"
									onclick="cal.setReturnFunction('showDate1');cal.select(document.forms['issuesForm'].elements['issuesForm:callBackDate'],'anchor1','dd/MM/yyyy');  return false;"
									onchange="return myfaces.oam.submitForm('issuesForm','issuesForm:hiddenUpdateCallBackDate');">
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
							    </h:inputText>
						    	<A HREF="#" onClick="cal.setReturnFunction('showDate1');cal.select(document.forms['issuesForm'].elements['issuesForm:callBackDate'],'anchor1','dd/MM/yyyy');  return false;" TITLE="" NAME="anchor1" ID="anchor1">
					       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
						        </A>
							</h:panelGrid>

		            		<h:selectOneMenu id="callBackHour" value="#{issuesForm.issueAction.callBackTimeHour}"
		            			onchange="return myfaces.oam.submitForm('issuesForm','issuesForm:hiddenUpdateCallBackDate');">
			   					<f:selectItems value="#{applicationData.hours}" />
				         	</h:selectOneMenu>

				         	<h:outputText value=":"/>

		               		<h:selectOneMenu id="callBackMin" value="#{issuesForm.issueAction.callBackTimeMin}"
		               			onchange="return myfaces.oam.submitForm('issuesForm','issuesForm:hiddenUpdateCallBackDate');">
			   					<f:selectItems value="#{applicationData.minutes}" />
				          	</h:selectOneMenu>

							<h:panelGrid width="15"/>

							<h:outputLabel style="color:red;font-weight: bold;" for="localCallBackDate" value="#{msgs['issues.actions.call.back.local.time']}"/>
				          	<h:inputText id="localCallBackDate" value="#{issuesForm.localCallBackTimeTxt}" disabled="true"/>

							<h:panelGrid width="15"/>

							<h:outputLabel for="callBackTimeOffset" value="#{msgs['issues.actions.call.back.time.offset']}"/>
							<h:inputText id="callBackTimeOffset" value="#{issuesForm.issueAction.callBackTimeOffset}"  disabled="true"/>

              	 		</h:panelGrid>

						<h:outputLabel for="significant" value="#{msgs['issues.actions.significant']}"/>
    	        		<h:panelGrid border="0" columns="2">
            	   			<t:selectBooleanCheckbox id="significant" value="#{issuesForm.issueAction.significant}" />
	            			<t:message id="significantError" for="significant" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>

		            	<h:outputLabel for="newComments" value="#{msgs['issues.actions.comments']}"/>
		            	<h:panelGrid border="0" columns="2">
			          		<h:inputTextarea escape="false" cols="50" rows="3" id="newComments" value="#{issuesForm.issueAction.comments}"  >
		   			           			<f:validateLength maximum="2000"/>
		        	   		</h:inputTextarea>
		            		<t:message id="commentsError" for="newComments" replaceIdWithLabel="true" styleClass="error"/>
		            	</h:panelGrid>
						
						<h:panelGrid style="text-align:left" columns="2" border="0" width="60%" >
					  		 <t:commandButton
				         			id="btnImage"
					         		image="/images/submit_u.jpg"
					         		onmouseover="Changepic('issuesForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
					         		onmouseout="Changepic('issuesForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
					         		onclick="if(!confirmActivity('#{msgs['retention.submit.assign.confirm']}')) return false;
					         				 gowait('issuesForm:btnImage','issuesForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
					         				 return myfaces.oam.submitForm('issuesForm','issuesForm:hiddenDeposit');" >
				         	 </t:commandButton>

				         	 <h:commandLink
					         	    id="hiddenDeposit"
								    action="#{issuesForm.insertIssue}"
								    style="display:none">
						     </h:commandLink>

				        </h:panelGrid>
            	</h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>