<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

    <h:panelGroup >
		<h:form id="mailBoxEmailsForm">
 		   <h:panelGrid border="0" columns="1" width="100%">

			   <h:outputText styleClass="general_message" rendered="#{mailBoxEmailsForm.listSize==0}"
	  		   				value="#{msgs['general.emptylist']}"/>

			   <t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column"
	                var="v"
	                preserveDataModel="false"
	                rows="#{user.rowsByMenu}"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                varDetailToggler="detailToggler"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                value="#{mailBoxEmailsForm.list}"
	           >


			   <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.email.id']}"/>
	               </f:facet>
	                 <h:commandLink action="#{detailToggler.toggleDetail}">
		               <h:outputText value="#{v.id}" />
					</h:commandLink>
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.email.subject']}"/>
	               </f:facet>
	               <h:outputText value="#{v.subject}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.email.status']}"/>
	               </f:facet>
	               <h:outputText value="#{v.statusName}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.template.sender']}"/>
	               </f:facet>
	               <h:outputText value="#{v.senderName}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['affilate.writer']}"/>
	               </f:facet>
	               <h:outputText value="#{writer.getAllWritersMap().get(email.writerId).userName}" rendered="#{!empty writer.getAllWritersMap().get(email.writerId)}" />
	           </h:column>

	           <h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['mailbox.email.timecreated']}"/>
	               </f:facet>
	               <h:outputText escape="false" value="#{v.timeCreated}">
	               		 <f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{writer.utcOffset}" />    
	               </h:outputText>
	           </h:column>

				<f:facet name="detailStamp">
          			<h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">

       				 <h:panelGrid border="0" columns="8" width="60%">
 			              <h:outputText value="#{msgs['mailbox.email.sender']}"/>
			              <h:outputText styleClass="data_display" value="#{v.senderName}"/>

 			              <h:outputText value="#{msgs['mailbox.email.ishigh.priority']}"/>
			              <h:outputText styleClass="data_display" value="#{v.highPriorityTxt}"/>

			              <h:outputText value="#{msgs['mailbox.email.ispopup']}"/>
			              <h:outputText styleClass="data_display" value="#{v.popupTypeIdTxt}"/>

			              <h:outputText value="#{msgs['mailbox.email.timeread']}" rendered="#{v.timeRead != null}" />
			              <h:outputText escape="false" styleClass="data_display" value="#{v.timeRead}">
			              		<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.utcOffsetRead}" />
			              </h:outputText>
					 </h:panelGrid>

					 <h:panelGrid border="0" columns="2" width="80%" rendered="#{v.freeText != null}">
					      <h:outputText value="#{msgs['mailbox.email.freetext']}"/>
			              <h:outputText styleClass="data_display" value="#{v.freeText}"/>
					 </h:panelGrid>

					</h:panelGrid>
				</f:facet>

	        </t:dataTable>

			<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    rendered="#{mailBoxEmailsForm.listSize>10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

	            </t:dataScroller>

      		  </h:panelGrid>

			</h:panelGrid>

			<h:panelGrid style="text-align:left" columns="1" border="0" width="100%" >
			 	<t:commandLink action="#{mailBoxEmailsForm.navNew}">
			        <h:outputText value="#{msgs['mailbox.email.send']}" />
				</t:commandLink>
 	  		</h:panelGrid>


        </h:form>

    </h:panelGroup>



</ui:define>
</ui:composition>

</html>