<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">

	#{user.goSupport}

    <script>

	function activateSearch() {
  		if (event.keyCode==13) {
			document.getElementById('pendingWithdrawForm:btnSearch').focus();
  		}
	}
	</script>

    <t:saveState value="#{pendingWithdrawForm}" />

    <h:panelGroup>

		<h:form id="pendingWithdrawForm" onkeydown="activateSearch()">

			
	<h:panelGrid border="0" columns="2">
	<h:panelGrid border="0">				
			<t:outputLabel  for="skinId" value="#{msgs['pendingwithdraws.skin']}" rendered="#{user.hasSSupportRole}"/>
	     	<h:selectManyListbox  id="skinId" value="#{pendingWithdrawForm.skinList}" rendered="#{user.hasSSupportRole}" style="height:120px">
	        	<f:selectItems value="#{writer.skinsAndEmptySI}" />
	        </h:selectManyListbox >
	</h:panelGrid>			
	<h:panelGrid border="0" >			

		<h:panelGrid border="0" rows="2">

    	<h:panelGrid border="0" columns="18" >

    	<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
		<h:inputText styleClass="input_text" id="from" value="#{pendingWithdrawForm.from}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['pendingWithdrawForm'].elements['pendingWithdrawForm:from'],'anchor1','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
	    </h:inputText>
	    <A HREF="#" onClick="cal.select(document.forms['pendingWithdrawForm'].elements['pendingWithdrawForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
        </A>
		<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>

        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
		<h:inputText styleClass="input_text" id="to" value="#{pendingWithdrawForm.to}" maxlength="10" size="8" dir="ltr" required="true" onclick="cal.select(document.forms['pendingWithdrawForm'].elements['pendingWithdrawForm:to'],'anchor2','dd/MM/yyyy'); return false;">
				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
	    </h:inputText>
	    <A HREF="#" onClick="cal.select(document.forms['pendingWithdrawForm'].elements['pendingWithdrawForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
        </A>
		<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>

		<t:outputText value="#{msgs['pendingwithdraws.usernumber']}"/>
        <t:inputText id="userid" size="10" maxlength="10" dir="ltr" value="#{pendingWithdrawForm.userId}" >
          	  	<f:validateLongRange/>
        </t:inputText>
        <t:message id="useridError" for="userid" replaceIdWithLabel="true" styleClass="error"/>

		<t:outputText value="#{msgs['pendingwithdraws.username']}" />
		<t:inputText dir="ltr" size="30" maxlength="50" id="userName" value="#{pendingWithdrawForm.userName}"/>

   		<t:outputText value="#{msgs['pendingwithdraws.useridnum']}"/>
        <t:inputText id="useridnum" size="10" maxlength="10" dir="ltr" value="#{pendingWithdrawForm.userIdNum}" >
           	  	<f:validateLongRange/>
        </t:inputText>
        <t:message id="useridnumError" for="useridnum" replaceIdWithLabel="true" styleClass="error"/>

		<h:panelGrid border="0" columns="6" >

			 <t:outputLabel  for="classId" value="#{msgs['user.classes.type']}" />
	         <t:selectOneMenu id="classId" value="#{pendingWithdrawForm.classId}">
	    	     <f:selectItems value="#{writer.userClassesSI}" />
		     </t:selectOneMenu>
			<h:panelGrid border="0" width="5px" />

	         <t:commandLink id="btnSearch" action="#{pendingWithdrawForm.updateTransactionsList}">
		                <h:outputText value="#{msgs['button.search']}" />
			 </t:commandLink>
			 </h:panelGrid>

		</h:panelGrid>

	</h:panelGrid>

        <h:outputText styleClass="general_message" rendered="#{pendingWithdrawForm.listSize==0}"	value="#{msgs['transactions.emptylist']}"/>
		<br/>
            <t:dataScroller id="scroll_2"
                    for="data"
                    rowsCountVar="rowsCount"
                    displayedRowsCountVar="displayedRowsCountVar"
                    firstRowIndexVar="firstRowIndex"
                    lastRowIndexVar="lastRowIndex"
                    pageCountVar="pageCount"
                    immediate="true"
                    pageIndexVar="pageIndex"
                    >
                <h:outputFormat value="#{msgs['table.total']}" styleClass="standard" rendered="#{pendingWithdrawForm.listSize>0}" >
                    <f:param value="#{rowsCount}" />
                    <f:param value="#{displayedRowsCountVar}" />
                    <f:param value="#{firstRowIndex}" />
                    <f:param value="#{lastRowIndex}" />
                    <f:param value="#{pageIndex}" />
                    <f:param value="#{pageCount}" />
                </h:outputFormat>
            </t:dataScroller>
</h:panelGrid></h:panelGrid>
		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{pendingWithdrawForm.transactionsList}"
           >
           
			<h:column>
               <f:facet name="header">
	               <h:outputText value=""/>
               </f:facet>
				<h:outputText value="+" style="display:block;cursor:pointer;" onclick="showPendingWithdrawsData({userId: #{v.userId}, callFrom: this})" />
           </h:column>
           
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.id']}"/>
               </f:facet>
                <t:commandLink action="#{pendingWithdrawForm.editTransaction}" immediate="true">
	                <h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{v.id}" />
	                <h:outputText rendered="#{!v.oldTransaction}" value="#{v.id}" />
	                <h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{v.id}" />
                    <f:setPropertyActionListener target="#{pendingWithdrawForm.transaction}" value="#{v}" />
				</t:commandLink>

           </h:column>

		   <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.userid']}"/>
               </f:facet>
               <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
               		<h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{v.userId}"/>
               		<h:outputText rendered="#{!v.oldTransaction}"  value="#{v.userId}"/>
	                <h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{v.userId}" />
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   </t:commandLink>
           </t:column>

   		   <t:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transactions.username']}"/>
               </f:facet>
               <t:commandLink action="#{user.selectUserNoPopUp}" immediate="true" >
               		<h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{v.userName}" />
               		<h:outputText rendered="#{!v.oldTransaction}"  value="#{v.userName}" />
	                <h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{v.userName}" />
					<f:setPropertyActionListener target="#{user.tmpUserName}" value="#{v.userName}" />
			   </t:commandLink>
           </t:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.date']}"/>
               </f:facet>
        	     <h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" escape="false" value="#{transactionFormater.getTimeCreatedTxt(v)}" />
    	         <h:outputText rendered="#{!v.oldTransaction}"  escape="false" value="#{transactionFormater.getTimeCreatedTxt(v)}" />
	        	 <h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{transactionFormater.getTimeCreatedTxt(v)}" escape="false" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.desc']}"/>
               </f:facet>
               <h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{v.description}" />
               <h:outputText rendered="#{!v.oldTransaction}"  value="#{v.description}" />
               <h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{v.description}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.type']}"/>
               </f:facet>
              	<h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{msgs[v.typeName]}" />
               	<h:outputText rendered="#{!v.oldTransaction}" value="#{msgs[v.typeName]}" />
				<h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{msgs[v.typeName]}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.amount']}"/>
               </f:facet>
               <h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{transactionFormater.getAmountTxt(v)}" />
               <h:outputText rendered="#{!v.oldTransaction}" value="#{transactionFormater.getAmountTxt(v)}" />
               <h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{transactionFormater.getAmountTxt(v)}" />
           </h:column>
           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transactions.writername']}"/>
               </f:facet>
               <h:outputText rendered="#{v.oldTransaction &amp;&amp; !v.weekOldTransaction}" styleClass="table_row_bold_red" value="#{transactionFormater.getWriterName(v)}" />
               <h:outputText rendered="#{!v.oldTransaction}"  value="#{transactionFormater.getWriterName(v)}" />
              	<h:outputText rendered="#{v.weekOldTransaction}" styleClass="user_strip_value_darkgreen" value="#{transactionFormater.getWriterName(v)}" />
           </h:column>



        </t:dataTable>

		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{pendingWithdrawForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>


        </h:form>
		
		<div id="pendingUserWithdrawalsDetailsPlaceholder">
			<div id="pendingUserWithdrawalsDetails" class="pending-withdrawals-details">
				<div class="pending-withdrawals-details-label">#{msgs['withdrawals.invested']}:</div><div class="pending-withdrawals-details-data" id="details_invested"></div>
				<div class="pending-withdrawals-details-label">#{msgs['withdrawals.win_lose']}:</div><div class="pending-withdrawals-details-data" id="details_win_lose"></div>
				<div class="pending-withdrawals-details-label">#{msgs['withdrawals.bonus']}:</div><div class="pending-withdrawals-details-data" id="details_bonus"></div>
				<div class="pending-withdrawals-details-label">#{msgs['withdrawals.total_success_withdrawals']}:</div><div class="pending-withdrawals-details-data" id="details_total_success_withdrawals"></div>
				<div style="display:none;" class="pending-withdrawals-details-label">#{msgs['withdrawals.deposit_amount']}:</div><div style="display:none;" class="pending-withdrawals-details-data" id="details_deposit_amount"></div>
				<div class="pending-withdrawals-details-label">#{msgs['withdrawals.total_deposit_amount']}:</div><div class="pending-withdrawals-details-data" id="details_total_deposit_amount"></div>
				<div style="clear:both;"></div>
			</div>
		</div>

    </h:panelGroup>

	</ui:define>
</ui:composition>

</html>

