<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_no_user_strip.xhtml">
<ui:define name="head">
    <SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
</ui:define>
<ui:define name="content">
<ui:include src="/jsp/suggest.xhtml" />

<script>

<!--

	// for loading page from iframe
	try {
	  if (window.top.location.href!=window.location.href) {
		window.top.location.href = "#{facesContext.externalContext.requestContextPath}/jsp/support/register.jsf";
	  }
	} catch (err) {
	}

	function AJAXInteraction(url, callback) {

    	var req = init();
	    req.onreadystatechange = processRequest;

	    function init() {
    		if (window.XMLHttpRequest) {
	        	return new XMLHttpRequest();
	        } else if (window.ActiveXObject) {
	        	return new ActiveXObject("Microsoft.XMLHTTP");
	        }
	    }

	    function processRequest () {
	      // readyState of 4 signifies request is complete
	      if (req.readyState == 4) {
		// status of 200 signifies sucessful HTTP call
	        if (req.status == 200) {
	          if (callback) {
	          	callback(req.responseXML);
	          }
	        }
	      }
	    }

	    this.doGet = function() {
	      // make a HTTP GET request to the URL asynchronously
	      req.open("GET", url, true);
	      req.send(null);
    	}
	}

	function validateUserName() {
	    var target = document.getElementById("userForm:userName");
	    var url = "ajax.jsf?username=" + encodeURIComponent(target.value);
	    var ajax = new AJAXInteraction(url, validateCallback);
	    ajax.doGet();
	}

	function trim(str) {
		return ltrim(rtrim(str));
	}

	/*
		Handles all actions upon country change
	*/
	function handleCountryChange() {
	    var countryId = document.getElementById("userForm:countriesList").value;

	    var elmStateList = document.getElementById("registerForm:statesList");
	    var elmStateLbl = document.getElementById("registerForm:statesLabel");

	    if(countryId==220){
		    if(navigator.userAgent.toLowerCase().indexOf("msie") != -1) {
		    	document.getElementById("userForm:statesList").parentNode.parentNode.style.display="block";
		    	document.getElementById("userForm:statesLabel").parentNode.parentNode.style.display="block";
			} else {
		    	document.getElementById("userForm:statesList").parentNode.parentNode.style.display="table-row";
		    	document.getElementById("userForm:statesLabel").parentNode.parentNode.style.display="table-row";
			}
	    } else {
	    	document.getElementById("userForm:statesList").parentNode.parentNode.style.display="none";
	    	document.getElementById("userForm:statesLabel").parentNode.parentNode.style.display="none";

	    }
	    var skinId = document.getElementById("userForm:skinsList").value;
	    var url = "ajax.jsf?countryId=" + countryId + "&crSkinId=" + skinId;
	    var ajax = new AJAXInteraction(url, handleCountryChangeCallback);
	    ajax.doGet();
	}
	function handleSkinChange(){
		var skinId = document.getElementById("userForm:skinsList").value;
		if (skinId == 1) {
			document.getElementById("userForm:idNum").style.display = 'block';
			document.getElementById("userForm:idNum").disabled = false;
			document.getElementById("userForm:idNumLabel").style.display = 'block';
		}else{
			document.getElementById("userForm:idNum").style.display = 'none';
			document.getElementById("userForm:idNum").disabled = true;
			document.getElementById("userForm:idNumLabel").style.display = 'none';
		}
		var countryId = document.getElementById("userForm:countriesList").value;
		var url = "ajax.jsf?skinId=" + skinId + "&crCountryId=" + countryId;
	    var ajax = new AJAXInteraction(url, handleSkinChangeCallback);
	    ajax.doGet();

	}

	function handleSkinChangeCallback(responseXML) {
		changeCurrenciesSelect(responseXML);
		changeLanguagesSelect(responseXML);
		changeLimitSelect(responseXML);
		changeSelectedCurrency(responseXML);
	}
	/*
		callBack function for changePhoneCodeByCountry()
	*/
	function handleCountryChangeCallback(responseXML) {
		changeCountryCode(responseXML);
		changeCurrenciesSelect(responseXML);
		changeLanguagesSelect(responseXML);
		changeSelectedCurrency(responseXML);
	}

	function handleCurrencyChange(){
		var currencyId = document.getElementById("userForm:currenciesList").value;
		var url = "ajax.jsf?currencyId=" + currencyId;
	    var ajax = new AJAXInteraction(url, handleCurrencyChangeCallback);
	    ajax.doGet();
	}

	function handleCurrencyChangeCallback(responseXML) {
		changeLimitSelect(responseXML);
	}


	/*
	   Change the currencies drop down by the value of the country
	*/
	function changeCountryCode(responseXML) {
		var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
		var mobileCodeElm = document.getElementById("userForm:mobilePhonePref");
   	   	var phoneCodeElm = document.getElementById("userForm:landLinePhonePref");
   	   	mobileCodeElm.value = codeValue;
	   	phoneCodeElm.value = codeValue;
	}

	function changeLimitSelect(responseXML) {
		document.getElementById("userForm:limitId").value=responseXML.getElementsByTagName("limitId")[0].firstChild.nodeValue;
	}

	function changeCurrenciesSelect(responseXML) {
		buildSelect("currenciesSelect", "userForm:currenciesList", responseXML);
	}

	function changeLanguagesSelect(responseXML) {
		buildSelect("languagesSelect", "userForm:languagesList", responseXML);
	}

	function buildSelect(nodeName, selectId, responseXML) {
		var currArr = eval(responseXML.getElementsByTagName(nodeName)[0].firstChild.nodeValue);
		var len = currArr.length;
		var currSel = document.getElementById(selectId);

		//safty check
		if (!currSel) return null

		currSel.options.length = 0;
		for (var i=0; i<len; i++) {
			var elOptNew = document.createElement('option');
			var currValueArr = currArr[i];
		    elOptNew.value = currValueArr[0];
	    	elOptNew.text = currValueArr[1];
		    currSel.add(elOptNew, i);
		}
	}
	
	function changeSelectedCurrency(responseXML) {
		var currencyId = responseXML.getElementsByTagName("currencyId")[0].firstChild.nodeValue;;
	    var x = document.getElementById("userForm:currenciesList");
	    var i;
	    for (i = 0; i < x.length; i++) {
	        if (x.options[i].value == currencyId) {
	        	x.selectedIndex = i;
	        	handleCurrencyChange();
	        	break;
	        }
	    }	    
	}
-->

</script>

<h:form id="userForm">

    <h:panelGroup class="tabBGColor">

	<t:panelGrid border="0" columns="1" width="100%" bgcolor="#DFE6E4">

	  <t:saveState value="#{userForm}" />

  			<h:outputText rendered="#{userForm.confirmContactDetails}" styleClass="error_messages" style="font-size:14px" value="#{msgs['register.contact.details.confirm']}"/>
			<h:outputText rendered="#{userForm.confirmContactDetails}" />

				<t:panelGrid border="0" columns="2" >

				<h:outputText styleClass="text_gray_14_bold" value="#{msgs['menu.newuser']}"/>
				<h:outputText/>

				<h:outputLabel styleClass="text_gray_12_bold"  for="countriesList" value="#{msgs['register.country']}"/>
	            <h:selectOneMenu id="countriesList" value="#{userForm.countryId}" required="true" onchange="handleCountryChange();">
	            	<f:selectItems value="#{applicationData.countriesList}" />
		        </h:selectOneMenu>

		        <h:outputLabel id="statesLabel" align="right" styleClass="lable_text" for="statesList" value="#{msgs['register.state']}"/>
				<h:panelGrid id="statesGrid" columns="2" border="0">
		            <h:selectOneMenu styleClass="input" id="statesList" value="#{user.state}">
		            		<f:selectItem itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.statesList}" />
			        </h:selectOneMenu>
			        <t:message id="statesError" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel id="skinsLabel" align="right" styleClass="lable_text" for="skinsList" value="Skin"/>
				<h:panelGrid id="skinGrid" columns="2" border="0">
		            <h:selectOneMenu styleClass="input" id="skinsList" value="#{userForm.skinId}" required="true" onchange="handleSkinChange();" >
	            		<f:selectItem itemLabel="" itemValue="" />
                		<f:selectItems value="#{writer.skinsLongSI}" />
			        </h:selectOneMenu>
			        <t:message id="skinError" for="skinsList" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

               	 <t:outputLabel  for="classId" value="#{msgs['register.class']}"/>
				 <t:panelGrid border="0" columns="2">
               		<t:selectOneMenu immediate="true" disabled="#{!user.hasAdminRole &amp;&amp; !user.hasSAdminRole}" id="classId" required="true"
               			valueChangeListener="#{userForm.updateClass}"
            	   		onchange="this.form.submit();"
        	       		value="#{userForm.classId}"  >
    	           		<f:selectItems value="#{writer.userClassesStringSI}" />
	               	</t:selectOneMenu>
               		<t:message id="classIdError" for="classId" replaceIdWithLabel="true" styleClass="error"/>
	      		</t:panelGrid>

				<h:outputLabel rendered="#{userForm.classCompany}" styleClass="text_gray_12_bold" for="companyName" value="#{msgs['register.companyname']}"/>
	            <h:panelGrid rendered="#{userForm.classCompany}" columns="2" border="0">
	                <h:inputText styleClass="input_text" size="20" maxlength="20" id="companyName" value="#{userForm.companyName}" required="true"
	                                 validator="#{utils.validateLettersOnly}" >
	                </h:inputText>
	                <t:message id="companyNameError" for="companyName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel rendered="#{userForm.classCompany}" styleClass="text_gray_12_bold"  for="companyId" value="#{msgs['register.companyid']}"/>
	            <h:panelGrid rendered="#{userForm.classCompany}" columns="2" border="0">
		            <h:inputText size="10" maxlength="10" dir="ltr" styleClass="input_text" id="companyId" value="#{userForm.companyId}" required="true">
	                	  	<f:validateLongRange/>
		            </h:inputText>
		            <t:message id="companyIdError" for="companyId" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

	            <t:selectBooleanCheckbox rendered="#{writer.etrader}" disabled="#{!user.hasAdminRole}" id="taxExemption" value="#{userForm.taxExemption}" />
	            <h:panelGrid rendered="#{writer.etrader}" columns="4" border="0">
	                <h:outputLabel styleClass="text_gray_12_bold" for="taxExemption" value="#{msgs['register.taxexemption']}"/>
	                <t:message id="taxExemptionError" for="taxExemption" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="userName" value="#{msgs['register.username']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText dir="ltr" styleClass="input_text" size="30" maxlength="35" id="userName" value="#{userForm.userName}" readonly="true" />
	                <t:message id="userNameError" for="userName" replaceIdWithLabel="true" styleClass="error"/>
	      		</h:panelGrid>


	            <h:outputLabel styleClass="text_gray_12_bold" for="password" value="#{msgs['register.password']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText dir="ltr" styleClass="input_text" size="9" maxlength="9" redisplay="true" id="password" value="#{userForm.password}" required="true"
			                validator="#{utils.validateLettersAndNumbersOnly}">
	                	<f:validateLength minimum='6' maximum='9'/>
	                </h:inputText>
	                <t:message id="passwordError" for="password" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="password2" value="#{msgs['register.retype']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText dir="ltr" styleClass="input_text" size="9" maxlength="9" redisplay="true" id="password2" value="#{userForm.password2}" required="true"
		                 validator="#{utils.validateEqualPass}" equalPassFor="password">
	                	<f:validateLength minimum='6' maximum='9'/>
	                </h:inputText>
	                <t:message id="passwordError2" for="password2" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="firstName" value="#{msgs['register.firstname']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText styleClass="input_text" size="15" maxlength="15" id="firstName" value="#{userForm.firstName}" required="true"
	                                 validator="#{utils.validateLettersOnly}" >
	                </h:inputText>
	                <t:message id="firstNameError" for="firstName" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="lastName" value="#{msgs['register.lastname']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText styleClass="input_text" size="15" maxlength="15" id="lastName" value="#{userForm.lastName}" required="true"
	                	validator="#{utils.validateLettersOnly}" >
	                </h:inputText>
	                <t:message id="lastNameError" for="lastName" replaceIdWithLabel="true" styleClass="error"/>
	 			</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="street" value="#{msgs['register.street']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText styleClass="input_text" size="20" maxlength="40" id="street" value="#{userForm.street}" 
		                validator="#{utils.validateStreet}" >
	                </h:inputText>
	                <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="streetno" value="#{msgs['register.streetno']}"/>
	            <h:panelGrid columns="2" border="0">
	              <t:inputText dir="ltr" size="5" maxlength="6" styleClass="input_text" id="streetno" value="#{userForm.streetNo}"
	                 validator="#{utils.validateStreetNo}" >
	                 <f:validateLength maximum='6'/>
                  </t:inputText>
                <t:message id="streetnoError" for="streetno" replaceIdWithLabel="true" styleClass="error"/>
         	   </h:panelGrid>

  			    <h:outputLabel styleClass="text_gray_12_bold" for="cityId" value="#{msgs['register.city']}"/>
	            <h:panelGrid columns="2" border="0">
			         <t:inputText size="24" maxlength="24" autocomplete="off" styleClass="input_text" id="cityId" name="cityId" value="#{userForm.cityName}"
			         	validator="#{utils.validateCity}" />
 			  	     <t:message id="cityIdError" for="cityId" replaceIdWithLabel="true" styleClass="error"/>
	        	</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="zipCode" value="#{msgs['register.postcode']}"/>
	            <h:panelGrid columns="2" border="0">
	                <h:inputText styleClass="input_text" dir="ltr" maxlength="6" id="zipCode" size="6" value="#{userForm.zipCode}" ></h:inputText>
	                <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error"/>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="email" value="#{msgs['register.email']}"/>
				<h:panelGrid columns="2">
		            <h:panelGrid columns="2">
		                <h:inputText dir="ltr" size="30" maxlength="35" styleClass="input_text" id="email" value="#{userForm.emailRegister}" required="true">
		                    <f:validator validatorId="org.apache.myfaces.validator.Email"/>
		                </h:inputText>
						<t:message id="emailError" for="email" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
					<h:panelGrid columns="3" border="0">
						<h:selectBooleanCheckbox id="contactByEmail" value="#{userForm.contactByEmail}" required="true"></h:selectBooleanCheckbox>
						<h:outputLabel styleClass="text_gray_12_bold" for="contactByEmail" value="#{msgs['register.contactbyemail']}"/>
						<t:message id="contactByEmailError" for="contactByEmail" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
				</h:panelGrid>

	 			<h:outputText id="birth" styleClass="text_gray_12_bold" value="#{msgs['register.birthdate']}"/>
				<h:panelGrid columns="2" border="0">
					<h:panelGrid dir="RTL" columns="6">
	 					<h:outputLabel styleClass="text_gray_12" for="birthYear" value="#{msgs['register.birthyear']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthYear" value="#{userForm.birthYear}">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.years}" />
	               		</h:selectOneMenu>

	                	<h:outputLabel styleClass="text_gray_12" for="birthMonth" value="#{msgs['register.birthmonth']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthMonth" value="#{userForm.birthMonth}">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>

	               		<h:outputLabel styleClass="text_gray_12" for="birthDay" value="#{msgs['register.birthday']}"/>
	                	<h:selectOneMenu styleClass="input_text" id="birthDay" value="#{userForm.birthDay}">
	                		<f:selectItem  itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.days}" />
	                	</h:selectOneMenu>
	    	        </h:panelGrid>
	    	        <h:panelGrid columns="4">
					 <t:message id="birthYearError" for="birthYear" detailFormat="#{msgs['error.register.year']}" replaceIdWithLabel="true" styleClass="error"/>
			         <t:message id="birthMonthError" for="birthMonth" detailFormat="#{msgs['error.register.month']}" replaceIdWithLabel="true" styleClass="error"/>
			         <t:message id="birthDayError" for="birthDay" detailFormat="#{msgs['error.register.day']}" replaceIdWithLabel="true" styleClass="error"/>
			         <t:message id="birthError" for="birth" replaceIdWithLabel="true" styleClass="error"/>
					</h:panelGrid>
	       		</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="mobilePhone" value="#{msgs['register.mobilephone']}"/>
				<h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">
					<h:panelGrid columns="4">
	               	   	<h:inputText maxlength="4" styleClass="text_gray_12" style="width:45px;"  disabled="true" id="mobilePhonePref" value="#{userForm.mobilePhonePrefix}" required="true" >
	                	  	<f:validateLongRange/>
	                	  	<f:validateLength minimum='1' maximum='4'/>
	                	</h:inputText>
	               	   	<h:inputText size="27" maxlength="20" styleClass="text_gray_12" id="mobilePhone" value="#{userForm.mobilePhone}" required="true" >
	                	  	<f:validateLongRange/>
	                	  	<f:validateLength minimum='5' maximum='20'/>
	                	</h:inputText>
			 		    <h:panelGrid columns="2">
			   	                <t:message id="mobilePhonePrefError" for="mobilePhonePref" replaceIdWithLabel="true" styleClass="error"/>
			       	            <t:message id="mobilePhoneError" for="mobilePhone" replaceIdWithLabel="true" styleClass="error"/>
			            </h:panelGrid>
					    </h:panelGrid>
					    <h:panelGrid columns="3" border="0">
							<h:selectBooleanCheckbox id="contactBySMS" value="#{userForm.contactBySMS}" required="true"/>
						    <h:outputLabel styleClass="text_gray_12_bold" for="contactBySMS" value="#{msgs['register.contactbysms']}"/>
					        <t:message id="contactBySMSError" for="contactBySMS" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
				</h:panelGrid>

				<h:outputLabel styleClass="text_gray_12_bold" for="landLinePhone" value="#{msgs['register.phone']}"/>
				<h:panelGrid columns="2" border="0" cellspacing="0" cellpadding="0">
					<h:panelGrid columns="2">
		               	   	<h:inputText maxlength="4" styleClass="text_gray_12" style="width:45px;" disabled="true" id="landLinePhonePref" value="#{userForm.landLinePhonePrefix}" >
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='1' maximum='4'/>
		                	</h:inputText>

		               	   	<h:inputText size="27" maxlength="20" styleClass="text_gray_12" id="landLinePhone" value="#{userForm.landLinePhone}" >
		                	  	<f:validateLongRange/>
		                	  	<f:validateLength minimum='5' maximum='20'/>
		                	</h:inputText>
				    </h:panelGrid>
		 		    <h:panelGrid columns="2">
		   	                <t:message id="landLinePhonePrefError" for="landLinePhonePref" replaceIdWithLabel="true" styleClass="error"/>
		       	            <t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error"/>
		            </h:panelGrid>
		    	</h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold" for="gender" value="#{msgs['register.gender']}"/>
	  			<h:panelGrid columns="2" border="0">
	                <t:selectOneRadio styleClass="text_gray_12"  id="gender" value="#{userForm.gender}" >
	            		<f:selectItem  itemLabel="#{msgs['register.gender.male']}" itemValue="M" />
						<f:selectItem  itemLabel="#{msgs['register.gender.female']}" itemValue="F" />
	            	</t:selectOneRadio>
	            	<t:message id="genderError" for="gender" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

	            <h:outputLabel styleClass="text_gray_12_bold"  for="idNum" id="idNumLabel" value="#{msgs['register.idnum']}" style="display:none;"/>
	            <h:panelGrid  columns="2" border="0" >
		            <h:inputText size="10" maxlength="10" dir="ltr" styleClass="input_text" id="idNum" value="#{userForm.idNum}" required="true"
								validator="#{utils.validateIdNum}" style="display:none;">
		            </h:inputText>
		            <t:message id="idNumError" for="idNum" replaceIdWithLabel="true" styleClass="error"/>
	            </h:panelGrid>

   				<t:outputLabel for="isActive" value="#{msgs['register.active']}"/>
            	<t:panelGrid border="0" columns="2">
	 				<t:selectOneMenu id="isActive" value="#{userForm.isActive}" >
	               			<f:selectItem itemLabel="#{msgs['no']}" itemValue="0" />
	               			<f:selectItem itemLabel="#{msgs['yes']}" itemValue="1" />
	           		</t:selectOneMenu>
	                <t:message id="isActiveError" for="isActive" replaceIdWithLabel="true" styleClass="error"/>
	            </t:panelGrid>

	            <h:outputLabel style="#{writer.etrader  ? 'display:none':'display:inline'}" styleClass="text_gray_12_bold"  for="currenciesList" value="#{msgs['register.currency']}"/>
				<h:panelGrid style="#{writer.etrader ? 'display:none':'display:inline'}"  columns="2" border="0">
		            <h:selectOneMenu id="currenciesList" value="#{userForm.currencyId}" onchange="handleCurrencyChange();">
		            	<f:selectItem itemLabel="" itemValue=""/>
			        	<f:selectItems value="#{writer.currenciesSI}"/>
			        </h:selectOneMenu>
					<t:message id="currencyIdError" for="currenciesList" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

				<h:outputLabel style="#{writer.etrader ? 'display:none':'display:inline'}"  styleClass="text_gray_12_bold"  for="languagesList" value="#{msgs['register.language']}"/>
				<h:panelGrid style="#{writer.etrader ? 'display:none':'display:inline'}" columns="2" border="0">
		            <h:selectOneMenu id="languagesList" value="#{userForm.languageId}" required="true">
			        	<f:selectItems value="#{writer.languagesSI}"/>
			        </h:selectOneMenu>
			        <t:message id="languageIdError" for="languagesList" replaceIdWithLabel="true" styleClass="error"/>
		        </h:panelGrid>

	   	        <t:outputLabel for="limitId" value="#{msgs['register.limit']}"/>
				<t:panelGrid border="0" columns="2">
	               	<t:selectOneMenu disabled="#{!user.hasSAdminRole}" id="limitId" value="#{userForm.limitId}" >
	               		<f:selectItems value="#{userForm.limitsBySkins}" />
	               	</t:selectOneMenu>
	   	            <t:message id="limitIdError" for="limitId" replaceIdWithLabel="true" styleClass="error"/>
	            </t:panelGrid>

	            <t:outputLabel for="contactId" value="#{msgs['register.contactid']}"/>
				<t:panelGrid border="0" columns="2">
	               	<h:inputText size="10" maxlength="10" dir="ltr" styleClass="input_text" id="contactId" value="#{userForm.contactId}" required="true"/>
	   	            <t:message id="contactIdError" for="contactId" replaceIdWithLabel="true" styleClass="error"/>
	            </t:panelGrid>

			</t:panelGrid>
			<h:panelGrid columns="2" border="0" >
				<h:panelGrid columns="1" border="0" width="295px" >
					        <t:commandButton
				         		id="savelink"
				         		image="/images/submit_u.jpg"
				         		onmouseover="Changepic('userForm:savelink','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
				         		onmouseout="Changepic('userForm:savelink','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
				         		onclick="gowait('userForm:savelink','userForm:hiddenbtn','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
				         		        return myfaces.oam.submitForm('userForm','userForm:hiddenbtn');" >
				         	</t:commandButton>
				         	<h:commandLink action="#{userForm.insertUser}" id="hiddenbtn" style="display:none"/>
					    </h:panelGrid>
					</h:panelGrid>
		</t:panelGrid>

	</h:panelGroup>

</h:form>

	<SCRIPT language="JavaScript">
    	var bEtrader = "#{writer.hasEtrader}"=="true";    	
    	if (bEtrader) {
			citiesObj = new actb(document.getElementById('userForm:cityId'),citiesArr);
	    }
	    
		handleCountryChange();
		var skinId = document.getElementById("userForm:skinsList").value;
		if (skinId == 1) {
			document.getElementById("userForm:idNum").style.display = 'block';
			document.getElementById("userForm:idNum").disabled = false;
			document.getElementById("userForm:idNumLabel").style.display = 'block';
			
		}else{
			document.getElementById("userForm:idNum").style.display = 'none';
			document.getElementById("userForm:idNum").disabled = true;
			document.getElementById("userForm:idNumLabel").style.display = 'none';
		}
		
	</SCRIPT>

</ui:define>

</ui:composition>

</html>