<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general.xhtml">		
		<ui:define name="content">
			<SCRIPT language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
    		<h:form id="rewardsUserHistoryForm">
    			#{rewardsUserHistoryForm.resetUser}
    		    <h:inputHidden value="#{visit.generate}" />
	    		<h:inputHidden value="#{visit.saveToken}" />	    		
	    		<h:panelGrid border="0" >	
					<h:panelGrid border="0" columns="18">
						<!-- FROM FILTER -->
						<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
						<h:panelGrid border="0" columns="3">
							<h:inputText styleClass="input_text" id="from" value="#{rewardsUserHistoryForm.from}" maxlength="10" size="10" dir="ltr" required="true" onclick="cal.select(document.forms['rewardsUserHistoryForm'].elements['rewardsUserHistoryForm:from'],'anchor1','dd/MM/yyyy'); return false;">
								<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
						    </h:inputText>
					    	<A HREF="#" onClick="cal.select(document.forms['rewardsUserHistoryForm'].elements['rewardsUserHistoryForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
				       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
					        </A>
							<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
						<!-- TO FILTER -->		
				        <h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
						<h:panelGrid border="0" columns="3">
			  			  <h:inputText styleClass="input_text" id="to" value="#{rewardsUserHistoryForm.to}" maxlength="10" size="10" dir="ltr" required="true" onclick="cal.select(document.forms['rewardsUserHistoryForm'].elements['rewardsUserHistoryForm:to'],'anchor2','dd/MM/yyyy'); return false;">
			    				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
					      </h:inputText>
					      <A HREF="#" onClick="cal.select(document.forms['rewardsUserHistoryForm'].elements['rewardsUserHistoryForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
				       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
				          </A>
						  <t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
						</h:panelGrid>
						<!-- ACTION -->
						<h:outputText value="#{msgs['rewards.action']}" />
			       		<h:selectOneMenu id="actionId" value="#{rewardsUserHistoryForm.actionId}" >
			       			<f:selectItem  itemLabel="" itemValue="" />
			       			<f:selectItems value="#{writer.rewardActions}" />
			        	</h:selectOneMenu>						
						<!-- TYPE  -->
						<h:outputText value="#{msgs['rewards.type']}" />
			       		<h:selectOneMenu id="typeId" value="#{rewardsUserHistoryForm.typeId}" >
			       			<f:selectItem  itemLabel="" itemValue="0" />
			       			<f:selectItems value="#{writer.rewardHistoryTypesSI}" />
			        	</h:selectOneMenu>												
						<!-- TIER -->
						<h:outputText value="#{msgs['rewards.tier']}" />
			       		<h:selectOneMenu id="tierId" value="#{rewardsUserHistoryForm.tierId}" >
			       			<f:selectItem  itemLabel="" itemValue="0" />
			       			<f:selectItems value="#{writer.rewardTiersSI}" />
			        	</h:selectOneMenu>
						<!-- SEARCH -->
						<t:commandLink action="#{rewardsUserHistoryForm.updateList}">
					     	<h:outputText value="#{msgs['button.search']}" />
				  	  	</t:commandLink>
					</h:panelGrid>
				</h:panelGrid>									  	  		    		    			  			    		
				<t:dataTable id="data"
	                styleClass="scrollerTable"
	                headerClass="standardTable_Header"
	                footerClass="standardTable_Header"
	                rowClasses="standardTable_Row1,standardTable_Row2"
	                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
	                var="v"
	                preserveDataModel="true"
	                rows="10"
	                renderedIfEmpty="false"
	                cellpadding="0"
	                cellspacing="1"
	                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
	                varDetailToggler="detailToggler"
  	                value="#{rewardsUserHistoryForm.dataModel}">
					<h:column>
		               <f:facet name="header">
					       <h:outputText value="#{msgs['rewards.id']}"/>
		               </f:facet>
		               <h:outputText value="#{v.referenceId}" />
	           		</h:column>
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.action']}"/>
   						</f:facet>
 	  					<h:outputText value="#{v.rewardActionName}" /> 	  					
   					</t:column>	   
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.type']}"/>
   						</f:facet>
 	  					<h:outputText value="#{v.rewardHistoryTypeName}" /> 	  					
   					</t:column>	   
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.tier']}"/>
   						</f:facet>
 	  					<h:outputText value="#{v.rewardTierId}" /> 	  					
   					</t:column>	
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.time']}"/>
   						</f:facet>
 	  					<h:outputText value="#{v.timeCreated}">
						    <f:converter converterId="extendedDateTimeConverter" />
						    <f:attribute name="pattern" value="#{presentationPatterns.timeAndDatePattern}" />						    
						    <f:attribute name="timeZone" value="#{user.utcOffset}" />
						</h:outputText>  					
   					</t:column>
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.exp.pnts.plus']}"/>
   						</f:facet>
 	  					<h:outputText rendered="#{v.amountExperiencePoints gt 0}" value="#{v.amountExperiencePoints}" /> 	  					
 	  					<h:outputText rendered="#{v.amountExperiencePoints le 0}" value="" />
   					</t:column>
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.exp.pnts.minus']}"/>
   						</f:facet>
 	 	  				<h:outputText rendered="#{v.amountExperiencePoints lt 0}" value="#{v.amountExperiencePoints}" /> 	  					
 	  					<h:outputText rendered="#{v.amountExperiencePoints ge 0}" value="" /> 					
   					</t:column>   					   					
	           		<t:column>
						<f:facet name="header">
							<t:outputText value="#{msgs['rewards.history.balance']}"/>
   						</f:facet>
 	  					<h:outputText value="#{v.balanceExperiencePoints}" /> 	  					
   					</t:column>   						     					   					   						    					   					 					        		
			</t:dataTable>		
			#{rewardsUserHistoryForm.init}			        	
			    <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            <t:dataScroller id="scroll_1"
	                    for="data"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
						paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
	                    rendered="#{rewardsUserHistoryForm.pageSize > 10}"
	                    >
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            </t:dataScroller>
			</h:panelGrid>
	        	
	        				  												 			    								    		
			</h:form>										           								
		</ui:define>
	</ui:composition>
</html>