<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk">
      
<body style="background-color:#6495ED;">
	<h:panelGrid style="text-align:center" columns="1" border="0" width="100%" >
		<h:outputText styleClass="trader_tool_title" value="#{msgs['rewards.exp.pnts.update.success']}" escape="false"/>
	</h:panelGrid>	
</body>
</html>