<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
	<ui:composition template="/jsp/templates/template_general.xhtml">		
		<ui:define name="content">
		  	<script type="text/javascript">
				var context_path = "#{facesContext.externalContext.requestContextPath}";
			</script>	
			<SCRIPT language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js" />
    		<h:form id="rewardsForm">
    			<t:saveState id="rewardsUserOverallForm" value="#{rewardsUserOverallForm.rewardsUserOverall}" />
    			<!-- Overall -->
    			<h:outputLabel value="#{msgs['rewards.overall']}" styleClass="text_gray_14_bold"/>    			    		
    			<h:panelGrid border="0" columns="2">
	    			<h:outputLabel value="#{msgs['rewards.tier']}"/>  
	    			<h:outputText styleClass="data_display" value="#{rewardsUserOverallForm.rewardsUserOverall.tierId}" />   			    				
	    			<t:commandLink onclick="openPopUp('/jsp/support/rewards_edit_user_exp_pnts.jsf');" rendered="#{writer.writer.id == 507 || writer.writer.id == 581 || writer.writer.id == 16 || writer.writer.id == 1208 || user.hasSAdminRole}">
	    				<h:outputLabel value="#{msgs['rewards.exp.pnts.balance']}" style="cursor:pointer;"/>
			  	  	</t:commandLink>
			  	  	<h:outputLabel value="#{msgs['rewards.exp.pnts.balance']}" rendered="#{writer.writer.id != 507 &amp;&amp; writer.writer.id != 581 &amp;&amp; writer.writer.id != 16 &amp;&amp; writer.writer.id != 1208 &amp;&amp; !user.hasSAdminRole}"/>
	    			<h:outputText styleClass="data_display" value="#{rewardsUserOverallForm.rewardsUserOverall.expPntsBalance}"/>
    			</h:panelGrid>    
    			<!-- Task Exp Pnts Distribution -->
    			<h:outputLabel value="#{msgs['rewards.task.exp.pnts.distribution']}" styleClass="text_gray_14_bold" />       			
    			<t:dataTable id="rwd_task_exp_pnts_distribution"
					styleClass="scrollerTable"
					headerClass="standardTable_Header"
					footerClass="standardTable_Header"
					rowClasses="standardTable_Row1,standardTable_Row2"
					columnClasses="standardTable_Column, standardTable_Column"
					var="v"
					preserveDataModel="false"
					rows="10"
					renderedIfEmpty="false"
					cellpadding="0"
					cellspacing="1"
					rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
					value="#{rewardsUserOverallForm.rewardsUserOverall.rewardUserTaskExpPoints}">				
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.task.type']}"/>
		               </f:facet>		               
		               <h:outputText rendered="#{v.isVal}" value="#{v.taskType}" />		           	   		               								              
					   <h:outputText rendered="#{v.isTotal}" value="#{msgs['rewards.total']}" />		           	   
		           </h:column>
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.exp.pnts.gained']}"/>
		               </f:facet>		               
		               <h:outputText rendered="#{v.isVal}" value="#{v.experiencePointsGained}" />		           	   		               								              
					   <h:outputText rendered="#{v.isTotal}" value="#{rewardsUserOverallForm.taskTotalExpPnts}" />		           	   
		           </h:column>		           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
				</t:dataTable>        			    						
    			<!-- Investments Exp Pnts Distribution -->
    			<h:outputLabel value="#{msgs['rewards.inv.exp.pnts.distribution']}" styleClass="text_gray_14_bold" />    			
    			<t:dataTable id="rwd_investment_exp_pnts_distribution"
					styleClass="scrollerTable"
					headerClass="standardTable_Header"
					footerClass="standardTable_Header"
					rowClasses="standardTable_Row1,standardTable_Row2"
					columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
					var="v"
					preserveDataModel="false"
					rows="10"
					renderedIfEmpty="false"
					cellpadding="0"
					cellspacing="1"
					rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
					value="#{rewardsUserOverallForm.rewardsUserOverall.rewardUserPlatformList}">				
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.product']}"/>
		               </f:facet>		               
		               <h:outputText rendered="#{v.isVal}" value="#{v.productTypeName}" />		           	   		               								              
					   <h:outputText rendered="#{v.isTotal}" value="#{msgs['rewards.total']}" />		           	   
		           </h:column>
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.turnover']}"/>
		               </f:facet>		               
		               <h:outputText rendered="#{v.isVal}" value="#{utils.displayAmount(v.turnover, false, 2)}" />		           	   		               								              
					   <h:outputText rendered="#{v.isTotal}" value="#{utils.displayAmount(rewardsUserOverallForm.invTotalTurnover, false, 2)}" />		           	   
		           </h:column>
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.exp.pnts.gained']}"/>
		               </f:facet>		               
		               <h:outputText rendered="#{v.isVal}" value="#{v.experiencePoints}" />		           	   		               								              
					   <h:outputText rendered="#{v.isTotal}" value="#{rewardsUserOverallForm.invTotalExpPnts}" />		           	   
		           </h:column>		           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
				</t:dataTable>    			    			           
				<!-- Rewards granted -->   	
				<h:outputLabel value="#{msgs['rewards.granted']}" styleClass="text_gray_14_bold" />				
    			<t:dataTable id="rwd_granted"
					styleClass="scrollerTable"
					headerClass="standardTable_Header"
					footerClass="standardTable_Header"
					rowClasses="standardTable_Row1,standardTable_Row2"
					columnClasses="standardTable_Column, standardTable_Column, standardTable_Column"
					var="v"
					preserveDataModel="false"
					rows="15"
					renderedIfEmpty="false"
					cellpadding="0"
					cellspacing="1"
					rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
					rowOnMouseOut="this.style.backgroundColor=old"
					value="#{rewardsUserOverallForm.rewardsUserOverall.rewardUserBenefitList}">				
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.is.granted']}"/>
		               </f:facet>	
		               <h:selectBooleanCheckbox value="#{v.active}" disabled="true" />	               
		           </h:column>
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.tier']}"/>
		               </f:facet>		               
		               <h:outputText value="#{v.rewardTierId}" />		           	   		               								              					   		           	  
		           </h:column>
				   <h:column>
		               <f:facet name="header">
			               <h:outputText value="#{msgs['rewards.reward']}"/>
		               </f:facet>		               
		               <h:outputText value="#{v.rewardBenefitName}" />		           	   		               								              		           	   
		           </h:column>		           	 		           		 		                     		          	           		           	 		           		 		                     		          	           
				</t:dataTable>  
				<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
	            	<t:dataScroller id="scroll_1"
	                    for="rwd_granted"
	                    fastStep="10"
	                    pageCountVar="pageCount"
	                    pageIndexVar="pageIndex"
	                    paginator="true"
	                    paginatorMaxPages="9"
	                    styleClass="scroller"
	                    paginatorActiveColumnClass="paginator_active"
	                    paginatorColumnClass="paginator"
	                    paginatorTableClass="paginator"
	                    immediate="true"
	                    paginatorRenderLinkForActive="false"
						renderFacetsIfSinglePage="false"
						rendered="#{rewardsUserOverallForm.rewardsUserOverall.rewardUserBenefitListSize > 15}">
		                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>
	            	</t:dataScroller>
	        	</h:panelGrid>				  												 			    			
			</h:form>										           								
		</ui:define>
	</ui:composition>
</html>