<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
    <script>
		function activateSearchUser(id) {
  			  if (!event) var event = window.event;
			  if (event.keyCode==13) {
				document.getElementById('advancedSearchForm:searchBtn').focus();
			  }
			  else {
				  	if(id=="advancedSearchForm:contactId") {
				  		document.getElementById("advancedSearchForm:email").value = "";
				  	}
				  	if(id=="advancedSearchForm:email") {
				  		document.getElementById("advancedSearchForm:contactId").value = "";
				  	}
	  		}
		}
	</script>

    <t:saveState value="#{advancedSearchForm}" />

    <h:panelGroup>


        <h:form id="advancedSearchForm">
		<TABLE bgcolor="#566764">
			<TR>
				<TD ROWSPAN="1" COLSPAN="1" WIDTH="100%" HEIGHT="5" >
				</TD>
			</TR>
		</TABLE>
	       <h:panelGrid columns="1" border="0" width="95%" align="center" bgcolor="#DFE6E4">

            	<h:outputText styleClass="text_gray_14_bold" value="#{msgs['menu.advsearch']}"/>

            	<h:panelGrid columns="10" border="0" >

	            	<h:outputText value="#{msgs['register.search.contactId']}"/>
	            	<t:inputText dir="ltr" size="10" maxlength="10" id="contactId" onkeydown="activateSearchUser('advancedSearchForm:contactId');" value="#{advancedSearchForm.contactId}" />

    	        	<h:outputText value="#{msgs['register.email']}"/>
        	    	<t:inputText dir="ltr" size="40" maxlength="30" id="email" onkeydown="activateSearchUser('advancedSearchForm:email');" value="#{advancedSearchForm.email}" />

	    	    	<h:panelGrid style="text-align:left" columns="1" border="0" width="280px" >
		    	    	<t:commandLink styleClass="link_gray_12_bold"  id="searchBtn" action="#{advancedSearchForm.searchContacts}">
		             	   <h:outputText value="#{msgs['button.search']}" />
			 			</t:commandLink>
	    			</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2" border="0" rendered="#{advancedSearchForm.tmpContactId > 0}">
					<h:outputLabel styleClass="data_display" value="#{msgs['menu.customerdet']}"/>
					<h:outputLabel styleClass="data_display" value=""/>
					<h:selectBooleanCheckbox id="contactByEmail" value="#{advancedSearchForm.contactByEmail}" required="true"/>
					<h:panelGrid columns="2" border="0">
		                <h:outputLabel styleClass="data_display" for="contactByEmail" value="#{msgs['register.contactbyemail']}"/>
		             
				   </h:panelGrid>
				   <t:commandLink styleClass="link_gray_12_bold"  id="update" action="#{advancedSearchForm.updateContact}">
		           		<h:outputText value="#{msgs['button.save']}" />
			 	   </t:commandLink>
				</h:panelGrid>

            </h:panelGrid>
        </h:form>
    </h:panelGroup>

</ui:define>
</ui:composition>

</html>