<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:c="http://java.sun.com/jsp/jstl/core"

      locale="#{writer.localInfo.locale}">

<ui:composition template="/jsp/templates/template_with_user_strip.xhtml">

<ui:define name="content">

	#{user.goSupport}

	<h:panelGroup rendered="#{user.hasSSupportRole || (user.hasSupportRole &amp;&amp; !user.hasBTraderRole &amp;&amp; !user.hasAdminRole &amp;&amp; !user.hasTraderRole &amp;&amp; !user.hasAccountingRole &amp;&amp; !user.hasSAdminRole)}">
		#{writer.writerHasLockedEntry}
	</h:panelGroup>

	<t:panelTabbedPane rendered="#{user.id!=0 &amp;&amp; user.loadUserStrip}"
                  serverSideTabSwitch="true"
                  styleClass="tabbedPane"
                  activeTabStyleClass="activeTab"
                  inactiveTabStyleClass="inactiveTab"
       	          disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="activeSub"
                  inactiveSubStyleClass="inactiveSub"
                  tabContentStyleClass="tabContent"
                  selectedIndex="#{user.supportTabIndex}">

	<t:panelTab id="transactions" label="#{msgs['menu.account.actions']}" >
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="investments" label="#{msgs['menu.investments']}" >
					 #{applicationData.initInvestmentsForm}
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/investments.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

                 <t:panelTab id="transactions" label="#{msgs['submenu.transactions']}" >
			  	     <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/transactions.jsf?refresh=true" width="100%" height="600px"></iframe>
			    </t:panelTab>

			    <t:panelTab id="transinvestments" label="#{msgs['menu.transinvestments']}" >
	    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/transInvestments.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>
		    	
		    	<t:panelTab id="depositsSummary" label="#{msgs['menu.deposits.summary']}" >
	    		    <ui:include src="/jsp/index.html" />
			    	<script>
			    		setTab("users.account-transactions.deposits-summary", true, true);
			    	</script>
		    	</t:panelTab>
		    	
			    <t:panelTab rendered="#{user.etrader}" id="taxpayments" label="#{msgs['menu.taxpayments']}" >
	    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/taxpayments.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

	<t:panelTab id="retention" label="#{msgs['menu.retention']}" >
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="background" label="#{msgs['menu.background']}" >
					 #{applicationData.initInvestmentsForm}
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/background.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

 			    <t:panelTab id="information" label="#{msgs['menu.information']}" >
					 #{applicationData.initInvestmentsForm}
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/information.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

		    	 <t:panelTab id="retentionStats" label="#{msgs['menu.stats']}" >
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/stats.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>
 			    
		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="deposit" label="#{msgs['menu.deposits']}" rendered="#{!user.hasBTraderRole}" >

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

                  <t:panelTab rendered="#{user.skin.creditDepositAllowed}" id="deposit" label="#{msgs['menu.depositbycc']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/deposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			      </t:panelTab>

    		      <t:panelTab rendered="#{user.skin.creditDepositAllowed}" id="cards" label="#{msgs['menu.cards']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/cards.jsf?refresh=true" width="100%" height="450px"></iframe>
			      </t:panelTab>

       			  <t:panelTab rendered="#{user.skin.wireDepositAllowed}" id="addwire"  visibleOnUserRole="support,admin" label="#{msgs['menu.newwire']}" >
       			  	<c:if test="${user.skinId==1}">
		     	  	   <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/wire.jsf?refresh=true" width="100%" height="450px"></iframe>
					</c:if>
					<c:if test="${user.skinId!=1}">
						<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/wireAO.jsf?refresh=true" width="100%" height="450px"></iframe>
					</c:if>
				  </t:panelTab>

    		      <t:panelTab rendered="#{!user.etrader}" id="paypal" label="#{msgs['menu.paypal']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/payPalDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
			      </t:panelTab>

				  <t:panelTab rendered="#{user.skin.bonusDepositAllowed}" visibleOnUserRole="sadmin,admin" id="bonusdeposit" label="#{msgs['menu.bonusdeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

				 <t:panelTab rendered="#{user.hasSalesMExt}" id="bonusdeposit1" label="#{msgs['menu.bonusdeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

			      <t:panelTab rendered="#{user.skin.adminDepositAllowed}" visibleOnUserRole="sadmin,admin" id="admindeposit" label="#{msgs['menu.admindeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/adminDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

	 		     <t:panelTab rendered="#{user.skin.cashDepositAllowed}" id="cashdeposit" label="#{msgs['menu.cashdeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/cashDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

				  <t:panelTab rendered="#{user.skin.phoneDepositAllowed}" id="phonedeposit" label="#{msgs['menu.phonedeposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/phoneDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				 </t:panelTab>

			      <t:panelTab rendered="#{user.skin.chargebackWithdrawAllowed}" visibleOnUserRole="admin" id="chargebacks" label="#{msgs['menu.chargebacks']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/chargebacks.jsf?refresh=true" width="100%" height="600px"></iframe>
				  </t:panelTab>

			      <t:panelTab visibleOnUserRole="admin" id="fixBD" label="#{msgs['menu.fix.balance.deposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/fixBalanceDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				  </t:panelTab>

			  <!--<t:panelTab visibleOnUserRole="admin" id="depositBC" label="#{msgs['menu.deposit.by.company']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/companyDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				  </t:panelTab> -->

			      <t:panelTab visibleOnUserRole="admin" id="cancelDeposit" label="#{msgs['menu.cancel.deposit']}" >
			   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/cancelSuccessDeposit.jsf?refresh=true" width="100%" height="450px"></iframe>
				  </t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="withdraw" label="#{msgs['menu.withdraws']}" rendered="#{!user.hasBTraderRole}">
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent"
                  selectedIndex="#{user.skin.chequeWithdrawAllowed ? 0 : 1}">

    		<t:panelTab rendered="#{user.skin.chequeWithdrawAllowed}" id="withdraw" label="#{msgs['menu.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab rendered="#{user.skin.creditWithdrawAllowed}" id="cc_withdraw" label="#{msgs['menu.cc.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/creditCard_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

  		    <t:panelTab rendered="#{user.skin.reverseWithdrawAllowed}" id="reverse" label="#{msgs['menu.reverse']}" >
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/reverseWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

  		    <t:panelTab rendered="#{user.skin.bonusWithdrawAllowed}" id="bonuswithdraw" label="#{msgs['menu.bonuswithdraw']}" visibleOnUserRole="sadmin,admin">
		     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

	        <t:panelTab rendered="#{user.skin.adminWithdrawAllowed}" visibleOnUserRole="sadmin,admin" id="adminwithdraw" label="#{msgs['menu.adminwithdraw']}" >
		   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/adminWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab rendered="#{user.skin.bankWithdrawAllowed}" id="bankWire" label="#{msgs['menu.bank.wire']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/bank_wire.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
			
			<t:panelTab id="apm_withdrawals" label="#{msgs['menu.apm-withdrawals']}">
		    	<ui:include src="/jsp/index.html" />
		    	<script>
					setTab("users.withdrawals.apmWithdrawals", true, true);
		    	</script>
		    </t:panelTab>
			
		    <t:panelTab visibleOnUserRole="admin" id="fixBW" label="#{msgs['menu.fix.balance.withdrawal']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/fixBalanceWithdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>

		    <t:panelTab rendered="#{user.currencyId != 5 &amp;&amp; user.skinId != 1 &amp;&amp; (user.hasSSupportRole || user.hasAdminRole || user.hasSAdminRole)}" id="cft_withdraw" label="#{msgs['menu.cft.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/cft_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
		    <t:panelTab rendered="#{user.currencyId == 6 &amp;&amp; user.skinId == 10}" id="webmoney_withdraw" label="#{msgs['menu.webmoney.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/webmoneyWithdrawal.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
			
			<!-- only for chinese person with currency yuan and skin 15 -->
		    <t:panelTab rendered="#{(user.currencyId == 7 &amp;&amp; user.countryId == 44) &amp;&amp; (user.skinId == 15 || user.skinId == 22)}" id="deltaPay_withdraw" label="#{msgs['menu.deltapay.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/deltaPay_withdraw.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
		    <t:panelTab rendered="#{user.currencyId == 8 &amp;&amp; user.skinId == 17 &amp;&amp; user.countryId == 191}"  id="baroPay_withdraw" label="#{msgs['menu.baropay.withdraw']}" >
			     <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/baroPayWithdrawal.jsf?refresh=true" width="100%" height="450px"></iframe>
		    </t:panelTab>
		    
		    <t:panelTab id="insertRecord" label="#{msgs['menu.insert.record']}" >
		    	<ui:include src="/jsp/index.html" />
		    	<script>
		    		setTab("users.withdrawals.insert_record", true, true);
		    	</script>
		    </t:panelTab>		    

		</t:panelTabbedPane>
    </t:panelTab>

    <t:panelTab id="issues" label="#{msgs['menu.issues']}" rendered="#{!user.hasBTraderRole}">
	     <iframe name="issues" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/issues.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>

	<t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" rendered="#{!user.hasBTraderRole}">

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

		  <t:panelTab id="userdet" label="#{msgs['menu.customerdet']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/user.jsf?refresh=true" width="100%" height="1000px"></iframe>
	      </t:panelTab>
	      
	      <t:panelTab id="bank-skrill" label="#{msgs['menu.bank-skrill']}" >
		    	<ui:include src="/jsp/index.html" />
		    	<script>
		    		setTab("users.userDetails.bankSkrillDetails", true, true);
		    	</script>
		  </t:panelTab>
			
    	  <t:panelTab rendered="#{user.hasSAdminRole || writer.writer.id==13 || writer.writer.id==388 || writer.writer.id==827 || writer.writer.id==282 || writer.writer.id==507 || writer.writer.id==898}" id="changepass"  label="#{msgs['menu.changepass']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/changePass.jsf?refresh=true" width="100%" height="400px"></iframe>
	      </t:panelTab>
	      
	      <t:panelTab id="userhist" label="#{msgs['menu.history']}" >
	    	 <iframe name="content" id="content" scrolling="no" frameborder="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/support/userDetailsHistoryChanges.jsf?refresh=true" width="100%" height="1000px"></iframe>
	      </t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="files" label="#{msgs['menu.files']}" rendered="#{!user.hasBTraderRole}">
	    	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/files.jsf?refresh=true" width="100%" height="450px"></iframe>

    </t:panelTab>

    <t:panelTab id="frauds" label="#{msgs['menu.frauds']}" rendered="#{!user.hasBTraderRole}">
	   	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/frauds.jsf?refresh=true" width="100%" height="450px"></iframe>

    </t:panelTab>

    <t:panelTab id="templates" label="#{msgs['menu.templates']}" rendered="#{!user.hasBTraderRole}">
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/sendTemplate.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

    <t:panelTab id="bonuses" label="#{msgs['menu.bonuses']}" rendered="#{!user.hasBTraderRole}">
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/bonusUsers.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>
    
    <t:panelTab id="tc_access" label="#{msgs['menu.tc.access']}">
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/tcAccess.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>

    <t:panelTab id="inbox" label="#{msgs['menu.inbox']}" rendered="#{!user.hasBTraderRole}">
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/mailBoxEmails.jsf?refresh=true" width="100%" height="450px"></iframe>
    </t:panelTab>
    
    <t:panelTab id="reward" label="#{msgs['menu.rewards']}" rendered="#{user.rewardUser != null and user.rewardUser.tierId > 0}" >
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="rewards_overall" label="#{msgs['rewards.overall']}" >
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/rewards_overall.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

			    <t:panelTab id="rewards_history" label="#{msgs['rewards.history']}" >
			    	#{applicationData.initRewardsUserHistoryForm}
	    		    <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/rewards_history.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>
    
    <t:panelTab id="copyop" label="#{msgs['menu.copyop']}" rendered="true" >
		<t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="copying" label="#{user.firstName} #{msgs['menu.copying']}" escape="false">
	    		     <ui:include src="/jsp/index.html" />
			    	<script>
			    		setTab("users.copyop.copying", true, true);
			    	</script>
 			    </t:panelTab>
 			    
 			    <t:panelTab id="copiers" label="#{user.firstName} #{msgs['menu.copiers']}" escape="false">
	    		     <ui:include src="/jsp/index.html" />
			    	<script>
			    		setTab("users.copyop.copied-by", true, true);
			    	</script>
 			    </t:panelTab>
 			    
 			     <t:panelTab id="stats" label="#{msgs['menu.copyop.stats']}" escape="false">
	    	     	<iframe name="stats_iframe" id="stats_iframe" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/copyop_stats.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>
 			    
 			    <t:panelTab id="coins" label="#{msgs['menu.copyop.coins']}" >
	    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/copyop_coins.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>
		    	  			    
 			    <t:panelTab id="admin" label="#{msgs['menu.copyop.admin']}" rendered="#{user.hasAdminRole}">
	    		     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/copyop_admin.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>  			    

 			    
		</t:panelTabbedPane>
    </t:panelTab>
    
	<t:panelTab id="loyaltydet" label="#{msgs['menu.loyalty']}" rendered="#{user.inTier}" >

		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

			    <t:panelTab id="loyalty" label="#{msgs['menu.loyalty.card']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/pointsBalance.jsf?refresh=true" width="100%" height="450px"></iframe>
			    </t:panelTab>

			    <t:panelTab id="loyaltyHis" label="#{msgs['menu.points.history']}" >
				     <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/loyaltyHistory.jsf?refresh=true" width="100%" height="1000px"></iframe>
		    	</t:panelTab>

			    <t:panelTab id="pointsConvert" label="#{msgs['menu.points.to.cash']}" >
			   	    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/pointsToCash.jsf?refresh=true" width="100%" height="600px"></iframe>
				</t:panelTab>

			    <t:panelTab id="tierUpdate" label="#{msgs['menu.tier.update']}" visibleOnUserRole="admin,sadmin">
			   	    <iframe name="content" id="content" scrolling="no" frameborder="no"
					src="#{facesContext.externalContext.requestContextPath}/jsp/support/userTierUpdate.jsf?refresh=true" width="100%" height="600px"></iframe>
				</t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>

    <t:panelTab id="invlimits" rendered="#{user.hasAdminRole}" label="#{msgs['menu.invlimits']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/trader/invLimits.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>
    
      <t:panelTab id="alerts" rendered="#{user.hasSAdminRole || hasASTraderRole || user.hasSTraderRole}" label="#{msgs['menu.alerts']}" >
         <iframe name="content" id="content" scrolling="no" frameborder="no"
            src="#{facesContext.externalContext.requestContextPath}/jsp/support_more_options/alerts.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>
    
    <t:panelTab id="questionnaireET" rendered="#{user.isEtRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole )}" label="#{msgs['menu.questionnaire.mandatory.et.regulation']}" >
	     <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/capital_questionnaire_content.jsf?refresh=true" width="100%" height="750px"></iframe>
   	</t:panelTab>
   	
   	<t:panelTab id="regSingleQuestionnaire" rendered="#{user.showSingleRegQuestionnaire() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole )}" label="#{msgs['menu.questionnaire.mandatory.ao.co.regulation']}" >
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("users.singleQuestionnaire", true, true);
    	</script>
   	</t:panelTab>
   	
    	<t:panelTab id="questionnaires" label="#{msgs['menu.questionnaire']}"  rendered="#{!user.showSingleRegQuestionnaire() &amp;&amp; user.skin.isRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole )}">
		  <t:panelTabbedPane
                  serverSideTabSwitch="true"
                  styleClass="subtabbedPane"
                  activeTabStyleClass="subactiveTab"
                  inactiveTabStyleClass="subinactiveTab"
                  disabledTabStyleClass="disabledTab"
                  activeSubStyleClass="subactiveSub"
                  inactiveSubStyleClass="subinactiveSub"
                  tabContentStyleClass="subtabContent">

				<t:panelTab id="mandatory" label="#{msgs['menu.questionnaire.mandatory']}"  rendered="#{user.skin.isRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole ) &amp;&amp; !user.isEtrader()}">
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/questionnaireMandatory.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

				<t:panelTab id="optional" label="#{msgs['menu.optional.mandatory']}" rendered="#{user.skin.isRegulated() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole ) &amp;&amp; !user.isEtrader()}">
	    	     	<iframe name="content" id="content" scrolling="no" frameborder="no"
						src="#{facesContext.externalContext.requestContextPath}/jsp/support/questionnaireOptional.jsf?refresh=true" width="100%" height="630px"></iframe>
 			    </t:panelTab>

		</t:panelTabbedPane>

    </t:panelTab>
    <t:panelTab id="customerReport" rendered="#{user.skinId == 1}" label="#{msgs['menu.customer.report']}" >
         <iframe name="content" id="content" scrolling="no" frameborder="no"
            src="#{facesContext.externalContext.requestContextPath}/jsp/support/customerReport.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>
    
    <t:panelTab id="userRegulationHistory" rendered="#{user.showRegulationHistoryTabAOUsers() &amp;&amp; (user.hasSupportRole || user.hasRetentionRole )}" label="#{msgs['regulation.history']}" >
	    <iframe name="content" id="content" scrolling="no" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/support/userRegulationHistory.jsf?refresh=true" width="100%" height="750px"></iframe>
    </t:panelTab>
    
    <t:panelTab id="complaints_files" label="#{msgs['menu.complaints-files']}" rendered="#{user.skin.isRegulated()}">
    	<ui:include src="/jsp/index.html" />
    	<script>
    		setTab("users.complaintsFiles", true, true);
    	</script>
    </t:panelTab>

    <t:tabChangeListener type="il.co.etrader.backend.mbeans.SupportTabManager"/>

</t:panelTabbedPane>
</ui:define>
</ui:composition>

</html>