<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">
<ui:composition>

<h:panelGroup>

	<h:form id="tcAccessForm">
		<h:panelGrid border="0" columns="4">
			<h:outputLabel for="from" value="#{msgs['tc.access.from']}"/>
           	<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="from" required="true" value="#{tcAccessForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['tcAccessForm'].elements['tcAccessForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['tcAccessForm'].elements['tcAccessForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
			
			<h:outputLabel for="to" value="#{msgs['tc.access.to']}"/>
           	<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="to" required="true" value="#{tcAccessForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['tcAccessForm'].elements['tcAccessForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['tcAccessForm'].elements['tcAccessForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>
			
			<t:outputLabel  for="site" value="#{msgs['tc.access.site']}"/>
		    <h:selectManyListbox id="site" value="#{tcAccessForm.sites}" size="6">
	        	<f:selectItems value="#{tcAccessForm.sitesSI}" />
   			</h:selectManyListbox>
   			
			<t:commandLink id="searchBtn" action="#{tcAccessForm.search}">
				<h:outputText value="#{msgs['button.search']}" />
	 		</t:commandLink>
		</h:panelGrid>

		<h:outputText styleClass="general_message" rendered="#{tcAccessForm.list.size()==0}" value="#{msgs['tc.access.emptylist']}"/>

		<t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                varDetailToggler="detailToggler"
                value="#{tcAccessForm.list}"
               >
               
	            <h:column>
		            <f:facet name="header">
			        	<h:outputText value="#{msgs['tc.access.id']}"/>
		            </f:facet>
			        <h:outputText value="#{v.id}" />
				</h:column>

				<h:column>
	               <f:facet name="header">
		               <h:outputText value="#{msgs['tc.access.site']}"/>
	               </f:facet>
	               <h:outputText value="#{v.siteName}" />
				</h:column>
				
				<t:column>
	               	<f:facet name="header">
		               <h:outputText value="#{msgs['tc.access.time.created']}"/>
	               	</f:facet>
	               	<h:outputText value="#{v.timeCreated}">
	               		<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="#{applicationData.timeZone}"/>
	               	</h:outputText>
				</t:column>
				
				<t:column>
	               	<f:facet name="header">
		               <h:outputText value="#{msgs['tc.access.end.date']}"/>
	               	</f:facet>
	               	<h:outputText value="#{v.endDate}">
		               	<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
	               	</h:outputText>	
				</t:column>

				<t:column>
	               	<f:facet name="header">
		               <h:outputText value="#{msgs['tc.access.cancel']}"/>
	               	</f:facet>
		   		   	<t:commandButton rendered="#{!v.canceled and not empty v.endDate and !tcAccessForm.isExpired(v)}" align="middle" id="cancelBtn" action="#{tcAccessForm.cancel}" alt="cancel" image="/images/cancelled.gif">
		 				<f:setPropertyActionListener target="#{tcAccessForm.token}" value="#{v}" />
		 		   	</t:commandButton>
		 		   	<h:outputText rendered="#{v.canceled and not empty v.endDate}" value="#{msgs['tc.access.canceled']}" />
		 		   	<h:outputText rendered="#{!v.canceled and not empty v.endDate and tcAccessForm.isExpired(v)}" value="#{msgs['tc.access.expired']}" />
				</t:column>
         </t:dataTable>
         
         
        <h:panelGrid border="0" columns="12">
			<t:commandLink id="addBtn" action="#{tcAccessForm.navNew}">
				<h:outputText value="#{msgs['tc.access.add']}" />
	 		</t:commandLink>
	 	</h:panelGrid>	
	</h:form>
</h:panelGroup>

</ui:composition>
</html>