<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

 <SCRIPT LANGUAGE="JavaScript" >

		function gettext(msgType) {
			switch(msgType)
			{
			case 0:
				out='#{msgs['investments.cancel.confirm']}';
				break
			case 1:
			 	out='#{msgs['transactions.cancel.deposit']}';
		  		break
			}
			return out;
		}

		function confirmit(msgType) {

			if (!confirm(gettext(msgType))) {
				return false;
			}
			return true;
		}
	</SCRIPT>

    <t:saveState value="#{transInvestmentsForm}" />
    <t:saveState value="#{tranInvestment}" />

    <h:panelGroup >

		<h:form id="transInvestmentsForm">

		<h:panelGrid border="0" columns="8">

			<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
     		<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="from" required="true" value="#{transInvestmentsForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transInvestmentsForm'].elements['transInvestmentsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['transInvestmentsForm'].elements['transInvestmentsForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

	     	<h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
           	<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="to" required="true" value="#{transInvestmentsForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transInvestmentsForm'].elements['transInvestmentsForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone=""/>
		    	</h:inputText>
		    	<A HREF="#" onClick="cal.select(document.forms['transInvestmentsForm'].elements['transInvestmentsForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
	       			<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
	        	</A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error" />
			</h:panelGrid>

			<t:outputLabel for="transInvId" value="#{msgs['investments.id']}" />
			<h:inputText dir="ltr" size="30" maxlength="20" id="transInvId"  value="#{transInvestmentsForm.id}" />
			
			<t:outputLabel for="bonusId" value="#{msgs['bonus.id']}" />
			<h:inputText dir="ltr" size="30" maxlength="20" id="bonusId"  value="#{transInvestmentsForm.bonusIdFreeTextFilter}" />
			
			<t:outputLabel for="transId" value="#{msgs['transaction.id']}" />
			<h:inputText dir="ltr" size="30" maxlength="20" id="transId"  value="#{transInvestmentsForm.transIdFreeTextFilter}" />

			<h:outputText value="&#160;&#160;"/>
			<h:outputText value="&#160;&#160;"/>
			
			<h:outputText value="#{msgs['transaction.type']}"/>
   		  	<h:selectOneMenu id="transactionTypeId" value="#{transInvestmentsForm.transactionTypeId}">
	   			<f:selectItems value="#{transInvestmentsForm.transactionTypes}" />
	        </h:selectOneMenu>

			<t:commandLink id="updateBtn" action="#{transInvestmentsForm.updateList}">
				<h:outputText value="#{msgs['button.search']}" />
			</t:commandLink>

		</h:panelGrid>

		<h:outputText styleClass="general_message" rendered="#{transInvestmentsForm.listSize==0}"
  		   				value="#{msgs['transinvestments.emptylist']}"/>

  		<h:panelGroup rendered="#{transInvestmentsForm.listSize==0}">
  			<br /><br /><br /><br />
  		</h:panelGroup>


		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{transInvestmentsForm.list}"
                varDetailToggler="detailToggler"
           >

           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transinvestments.id']}"/>
               </f:facet>
              <h:commandLink action="#{detailToggler.toggleDetail}">
	               <h:outputText rendered="#{!v.rolledUpInvest}" value="#{v.key}" />
	               <h:outputText style="color:#4CC417" rendered="#{v.rolledUpInvest}" value="#{v.key}" />
				</h:commandLink>
           </h:column>


           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['transinvestments.type']}"/>
               </f:facet>
               <h:outputText value="#{v.type}" />
           </h:column>


           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.timecreated']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{v.timeCreated}">
	               <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
               </h:outputText>
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.win']}"/>
               </f:facet>
               <h:outputText value="#{v.winTxt}" />
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.lose']}"/>
               </f:facet>
               <h:outputText value="#{v.loseTxt}" />
           </h:column>

            <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.balance']}"/>
               </f:facet>
               <h:outputText value="#{v.balanceTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.taxbalance']}"/>
               </f:facet>
               <h:outputText value="#{v.taxBalanceTxt}" />
           </h:column>

           <h:column>
               <f:facet name="header">
                   <h:outputText value="#{msgs['transinvestments.writer']}"/>
               </f:facet>
               <h:outputText value="#{v.writer}" />
           </h:column>


           <f:facet name="detailStamp">

			           <h:panelGrid class="detailsBGColor" border="0" columns="1" width="100%">

							 <h:panelGrid rendered="#{v.checkInvestment}" border="0" columns="6" width="100%">

								  <h:outputText value="#{msgs['investments.det.cancel']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getIsCanceledTxt(v.investment)}" />

								  <h:outputText value="#{msgs['investments.det.canceltime']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.timeCanceled}">
									  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
								  </h:outputText>

 								  <h:outputText value="#{msgs['investments.det.cancelby']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getCanceledWriterName(v.investment)}" />

								  <h:outputText value="#{msgs['investments.scheduled']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getScheduledTxt(v.investment)}" />

								  <h:outputText value="#{msgs['investments.writer']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{utils.getWriterName(v.investment.writerId)}" />

								  <h:outputText value="#{msgs['investments.timecreated']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.timeCreated}">
									  <f:convertDateTime pattern="#{presentationPatterns.timeAndDatePattern}" timeZone="#{utils.getUtcOffset(v.utcOffsetCreated)}" />
								  </h:outputText>

								  <h:outputText value="#{msgs['investments.marketname']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.marketName}" />

								  <h:outputText value="#{msgs['investments.level']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getCurrentLevelTxt(v.investment)} #{v.investment.typeName}" />

								  <h:outputText value="#{msgs['investments.closinglevel']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getClosingLevelTxt(v.investment)}" rendered="#{!transInvestmentsForm.isGmBought(v.investment) &amp;&amp; !transInvestmentsForm.isRolledUp(v.investment)}" />
								  <h:outputText styleClass="data_display" value="#{msgs['investments.no.level.GM']}" rendered="#{transInvestmentsForm.isGmBought(v.investment) &amp;&amp; !transInvestmentsForm.isRolledUp(v.investment)}" />
		           				  <h:outputText styleClass="data_display" value="#{msgs['investments.no.level.RU']}" rendered="#{!transInvestmentsForm.isGmBought(v.investment) &amp;&amp; transInvestmentsForm.isRolledUp(v.investment)}" />

								  <h:outputText value="#{msgs['investments.timeestclosing']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getTimeEstClosingTxt(v.investment)}" />

								  <h:outputText value="#{msgs['investments.amount']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getAmountTxt(v.investment)}" />

								  <h:outputText value="#{msgs['investments.refundup']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getRefundUpTxt(v.investment)}" />

								  <h:outputText value="#{msgs['investments.refunddown']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getRefundDownTxt(v.investment)}" />

								  <h:outputText rendered="#{transInvestmentsForm.isGmBought(v.investment) || transInvestmentsForm.isRolledUp(v.investment) || transInvestmentsForm.isRollUpBought(v.investment)}" value="#{msgs['investments.rollUpOrGM']}" />
								  <h:outputText escape="false" styleClass="data_display" rendered="#{transInvestmentsForm.isGmBought(v.investment) &amp;&amp; !(transInvestmentsForm.isRolledUp(v.investment) || transInvestmentsForm.isRollUpBought(v.investment))}" value="#{msgs['investments.GM']}" />
								  <h:outputText escape="false" styleClass="data_display" rendered="#{(transInvestmentsForm.isRolledUp(v.investment) || transInvestmentsForm.isRollUpBought(v.investment)) &amp;&amp; !transInvestmentsForm.isGmBought(v.investment)}" value="#{msgs['investments.rollUp']}" />
								  <h:outputText escape="false" styleClass="data_display" rendered="#{(transInvestmentsForm.isRolledUp(v.investment) || transInvestmentsForm.isRollUpBought(v.investment)) &amp;&amp; transInvestmentsForm.isGmBought(v.investment)}" value="#{msgs['investments.rollUpOrGM']}" />

								  <h:outputText value="#{msgs['investments.insuranceAmount']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{transInvestmentsForm.getInsuranceAmountTxt(v.investment)}" />

								  <h:outputText value="#{msgs['investments.reference.inv.id']}" />
								  <h:outputText escape="false" styleClass="data_display" value="#{v.investment.referenceInvestmentId}" />

							</h:panelGrid>


							 <h:panelGrid rendered="#{!v.checkInvestment}" border="0" columns="16" width="100%">

  								  <h:outputText value="#{msgs['transactions.ip']}" />
								  <h:outputText styleClass="data_display" value="#{v.transaction.ip}" />

   								  <h:outputText value="#{msgs['transactions.timesettled']}" />
								  <h:outputText styleClass="data_display" escape="false" value="#{transactionFormater.getTimeSettledTxt(v.transaction)}" />

								  <h:outputText value="#{msgs['transactions.processedwriter']}" />
								  <h:outputText styleClass="data_display" value="#{transactionFormater.getProcessedWriterName(v.transaction)}" />

  								  <h:outputText value="#{msgs['transactions.receipt']}" />
								  <h:outputText styleClass="data_display" value="#{v.transaction.receiptNumTxt}" />

								  <h:outputText value="#{msgs['transactions.reference']}" />
								  <t:commandLink action="#{transInvestmentsForm.selectTransactions}" >
									  <h:outputText styleClass="data_display" value="#{v.transaction.referenceId}" />
 				                      <f:setPropertyActionListener target="#{transInvestmentsForm.tranInvestment}" value="#{v}" />
				 	    	      </t:commandLink>

								  <h:outputText value="#{msgs['transactions.authnumber']}" />
								  <h:outputText styleClass="data_display" value="#{v.transaction.authNumber}" />

							</h:panelGrid>


							<h:panelGrid rendered="#{!v.checkInvestment}" border="0" columns="2" >
								<h:outputText value="#{msgs['transactions.description']}" />
							    <h:outputText styleClass="data_display" value="#{v.transaction.description}" />
							</h:panelGrid>


							 <h:panelGrid rendered="#{!v.checkInvestment}" border="0" columns="2" >
								<h:outputText value="#{msgs['transactions.comments']}" />
  							    <h:outputText dir="ltr" styleClass="data_display" value="#{v.transaction.comments}" />
						    </h:panelGrid>

							  <h:panelGrid rendered="#{v.transaction.creditCardId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.ccid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.id}" />

 								    <h:outputText value="#{msgs['transactions.cctype']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.type.name}" />

								    <h:outputText value="#{msgs['transactions.ccvisible']}" />
								    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.transaction.creditCard.visible}"/>

								    <h:outputText value="#{msgs['creditcards.allowed']}" />
								    <t:selectBooleanCheckbox styleClass="data_display" disabled="true" value="#{v.transaction.creditCard.allowed}" />

								    <h:outputText value="#{msgs['transactions.ccnum']}" />
								    <h:outputText rendered="#{!utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="data_display" value="#{v.transaction.creditCard.ccNumberLast4NotMasked}" />
								    <h:outputText rendered="#{utils.isWriterAllowedToViewCcFirst6Digits()}" styleClass="data_display" value="#{v.transaction.creditCard.ccNumberXXXX}" />

  								    <h:outputText value="#{msgs['transactions.ccpass']}" />
								    <h:outputText styleClass="data_display" value="#{msgs['transactions.ccpass.ex']}" />

								    <h:outputText value="#{msgs['transactions.cctimecreated']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.transaction.creditCard.timeCreated}">
								    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.transaction.creditCard.utcOffsetCreated}" />
								    </h:outputText>

								    <h:outputText value="#{msgs['transactions.cctimemodified']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.transaction.creditCard.timeModified}">
								    	<f:convertDateTime pattern="#{presentationPatterns.timePattern}&#160;&#160;#{presentationPatterns.datePattern}" timeZone="#{v.transaction.creditCard.utcOffsetModified}" />
								    </h:outputText>								

   								    <h:outputText value="#{msgs['transactions.expdate']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.expMonth}/#{v.transaction.creditCard.expYear}" />

								    <h:outputText value="#{msgs['transactions.ccholdername']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.holderName}" />

  								    <h:outputText value="#{msgs['transactions.ccholderidnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.creditCard.holderIdNum}" />

 				 	 		      </h:panelGrid>

 				 	 		      <h:panelGrid rendered="#{v.transaction.chequeId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.chequeid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.id}" />

 								    <h:outputText value="#{msgs['transactions.chequename']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.name}" />

								    <h:outputText value="#{msgs['transactions.chequeaddress']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.street} #{v.transaction.cheque.streetNo} #{v.transaction.cheque.cityName} #{v.transaction.cheque.zipCode}" />

  								    <h:outputText value="#{msgs['transactions.chequeidnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.cheque.chequeId}" />

									<h:outputText rendered="#{v.transaction.showFee}" value="#{msgs['transactions.chequeexistfee']}" />
								    <h:outputText rendered="#{v.transaction.showFee}" styleClass="data_display" value="#{v.transaction.existFee}" />

 				 	 		      </h:panelGrid>

 				 	 		       <h:panelGrid rendered="#{v.transaction.wireId!=null}" border="0" columns="10" width="100%">

  								  	<h:outputText value="#{msgs['transactions.wireid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.wire.id}" />

 								    <h:outputText value="#{msgs['transactions.wirebranch']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.wire.branch}" />

								    <h:outputText value="#{msgs['transactions.wireaccountnum']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.wire.accountNum}" />

  								    <h:outputText value="#{msgs['transactions.wireaccountname']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.wire.accountName}" />

				 		 	        <h:outputText value="#{msgs['transactions.wirebankname']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.wire.bankName}" />

								    <h:outputText rendered="#{v.transaction.paymentTypeName != null}" value="#{msgs['transactions.direct.deposit.payment.type']}" />
								    <h:outputText rendered="#{v.transaction.paymentTypeName != null}" styleClass="data_display" value="#{msgs[v.transaction.paymentTypeName]}" />

 				 	 		      </h:panelGrid>

 				 	 		       <h:panelGrid rendered="#{v.transaction.chargeBackId!=null}" border="0" columns="8" width="100%">

  								  	<h:outputText value="#{msgs['transactions.chargebackid']}" />
	 				 	 	 	    <h:outputText styleClass="data_display" value="#{v.transaction.chargeBack.id}" />

 								    <h:outputText value="#{msgs['transactions.chargebacktimecreated']}" />
								    <h:outputText styleClass="data_display" escape="false" value="#{v.transaction.chargeBack.timeCreatedTxt}" />

								    <h:outputText value="#{msgs['transactions.chargebackdescription']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.chargeBack.description}" />

  								    <h:outputText value="#{msgs['transactions.chargebackstatus']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.chargeBack.statusName}" />

				 		 	        <h:outputText value="#{msgs['transactions.chargebackwriter']}" />
								    <h:outputText styleClass="data_display" value="#{v.transaction.chargeBack.writer}" />

 				 	 		      </h:panelGrid>

							 </h:panelGrid>


			</f:facet>

        </t:dataTable>

                      <h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{transInvestmentsForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>



        </h:form>

    </h:panelGroup>


</html>


