<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general.xhtml">

<ui:define name="content">
    <t:saveState value="#{userRegulationHistoryForm}" />
    <h:panelGroup >
		<h:form id="userRegulationHistoryForm">

		<t:panelGrid border="0" columns="10">

			<h:outputLabel for="from" value="#{msgs['transactions.from']}"/>
			<h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="from" required="true" value="#{userRegulationHistoryForm.from}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['transactionsForm'].elements['transactionsForm:from'],'anchor1','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['userRegulationHistoryForm'].elements['userRegulationHistoryForm:from'],'anchor1','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor1" ID="anchor1">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="fromError" for="from" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:outputLabel for="to" value="#{msgs['transactions.to']}"/>
	        <h:panelGrid columns="3">
				<h:inputText styleClass="input_text" id="to" required="true" value="#{userRegulationHistoryForm.to}" maxlength="10" size="8" dir="ltr" onclick="cal.select(document.forms['userRegulationHistoryForm'].elements['userRegulationHistoryForm:to'],'anchor2','dd/MM/yyyy'); return false;">
					<f:convertDateTime pattern="dd/MM/yyyy" timeZone="#{applicationData.timeZone}"/>
			    </h:inputText>
			    <A HREF="#" onClick="cal.select(document.forms['userRegulationHistoryForm'].elements['userRegulationHistoryForm:to'],'anchor2','dd/MM/yyyy'); return false;" TITLE="" NAME="anchor2" ID="anchor2">
		       		<img src="#{facesContext.externalContext.requestContextPath}/images/calendar.gif" alt="" align="top" width="20" height="19" border="0"/>
		        </A>
				<t:message id="toError" for="to" replaceIdWithLabel="true" styleClass="error"/>
			</h:panelGrid>

			<h:panelGrid border="0" width="5px"/>

		</t:panelGrid>

		<t:panelGrid border="0" columns="10">

			<t:commandLink action="#{userRegulationHistoryForm.search}">
		     	<h:outputText value="#{msgs['button.search']}" />
	  	  	</t:commandLink>

		</t:panelGrid>

		<h:panelGrid border="0" columns="1" width="100%">

		   <h:outputText styleClass="general_message" rendered="#{userRegulationHistoryForm.listSize==0}" value="#{msgs['regulation.history.emptylist']}"/>

		   <t:dataTable id="data"
                styleClass="scrollerTable"
                headerClass="standardTable_Header"
                footerClass="standardTable_Header"
                rowClasses="standardTable_Row1,standardTable_Row2"
                columnClasses="standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column,standardTable_ColumnCentered,standardTable_Column,standardTable_Column"
                var="v"
                preserveDataModel="false"
                rows="#{user.rowsByMenu}"
                renderedIfEmpty="false"
                cellpadding="0"
                cellspacing="1"
                rowOnMouseOver="old=this.style.backgroundColor;this.style.backgroundColor='#A5CBFF'"
				rowOnMouseOut="this.style.backgroundColor=old"
                value="#{userRegulationHistoryForm.list}"
               >
		   <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['regulation.history.row.id']}"/>
               </f:facet>
				<h:outputText value="#{v.id}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['regulation.history.step']}"/>
               </f:facet>
               <h:outputText value="#{v.step}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['regulation.history.comments']}"/>
               </f:facet>
               <h:outputText value="#{v.comments}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['regulation.history.writer']}"/>
               </f:facet>
               <h:outputText value="#{v.writerUserName}" />
           </h:column>
           <h:column>
               <f:facet name="header">
	               <h:outputText value="#{msgs['regulation.history.time.created']}"/>
               </f:facet>
               <h:outputText escape="false" value="#{userRegulationHistoryForm.getDateTimeByWriterOffset(v.timeCreated)}" />
           </h:column>
        </t:dataTable>

 		<h:panelGrid dir="#{writer.localInfo.dir}" style="text-align:center" columns="1" border="0" width="100%" >
            <t:dataScroller id="scroll_1"
                    for="data"
                    fastStep="10"
                    pageCountVar="pageCount"
                    pageIndexVar="pageIndex"
                    paginator="true"
                    paginatorMaxPages="9"
                    styleClass="scroller"
                    paginatorActiveColumnClass="paginator_active"
                    paginatorColumnClass="paginator"
                    paginatorTableClass="paginator"
                    immediate="true"
                    rendered="#{userRegulationHistoryForm.listSize>10}"
                    >
	                <ui:include src="/jsp/templates/scroller_facets.xhtml"/>

            </t:dataScroller>

        </h:panelGrid>

   		 </h:panelGrid>

        </h:form>

    </h:panelGroup>
  </ui:define>
</ui:composition>
</html>