<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      >

<ui:composition template="/jsp/templates/template_general_subtabs.xhtml">
<ui:define name="content">

<script language="JavaScript" src="#{facesContext.externalContext.requestContextPath}/js/common.js">
</script>

<SCRIPT LANGUAGE="JavaScript" >

		function gettext() {

			amount=document.forms['addWireForm'].elements['addWireForm:deposit'].value;
			currencySymbol='#{msgs[user.currency.symbol]}';

			out1='#{msgs['wire.deposit.confirm.text1']}';
			out2='#{msgs['wire.deposit.confirm.text2.ao']}';

			return out1+' '+currencySymbol+addCommas(amount)+' '+out2;
		}

		function confirmit() {
			swift=document.forms['addWireForm'].elements['addWireForm:swift'].value;
			beneficiaryName=document.forms['addWireForm'].elements['addWireForm:beneficiaryName'].value;
			iban=document.forms['addWireForm'].elements['addWireForm:iban'].value;
			accountNum=document.forms['addWireForm'].elements['addWireForm:accountNum'].value;
			bankName=document.forms['addWireForm'].elements['addWireForm:bankName'].value;
			branchNumber=document.forms['addWireForm'].elements['addWireForm:branchNumber'].value;
			branchAddress=document.forms['addWireForm'].elements['addWireForm:branchAddress'].value;
			deposit=document.forms['addWireForm'].elements['addWireForm:deposit'].value;

			if (swift==''||beneficiaryName==''||iban==''||accountNum==''||
				bankName==''||branchNumber==''||branchAddress==''||deposit==''){
				return true;
			}
			if (!confirm(gettext())) {
				return false;
			}
			return true;
		}
		function addCommas(nStr)
		{
			nStr += '';
			x = nStr.split('.');
			x1 = x[0];
			x2 = x.length > 1 ? '.' + x[1] : '';
			var rgx = /(\d+)(\d{3})/;
			while (rgx.test(x1)) {
				x1 = x1.replace(rgx, '$1' + ',' + '$2');
			}
			return x1 + x2;
		}
	</SCRIPT>

    <h:panelGroup>

        <h:form id="addWireForm">

			<t:saveState id="wire" value="#{wire}" />

    	    <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

            <h:panelGrid border="0" columns="1" width="100%">
            
            <h:panelGrid border="0" columns="3">

                <h:outputText rendered="#{wire.id>0}" value="#{msgs['wires.id']}"/>
                <h:outputText rendered="#{wire.id>0}" value="#{wire.id}"> </h:outputText>
                <h:outputText rendered="#{wire.id>0}" />

				<t:outputLabel  value="#{msgs['bank.wire.beneficiary.name']}" />
               		<h:inputText id="beneficiaryName" size="20" maxlength="30" value="#{wire.beneficiaryName}" required="true" />
            	<t:message id="beneficiaryNameError" for="beneficiaryName" replaceIdWithLabel="true" styleClass="error"/>

            	<t:outputLabel for="swift" value="#{msgs['bank.wire.swift']}"/>
                <t:inputText id="swift" value="#{wire.swift}" required="true" size="20" maxlength="30">
                </t:inputText>
                <t:message id="swiftError" for="swift" replaceIdWithLabel="true" styleClass="error"/>

               	<t:outputLabel for="iban" value="#{msgs['bank.wire.iban']}"/>
                <t:inputText size="20" maxlength="30" dir="ltr" id="iban" value="#{wire.iban}" required="true" >
                </t:inputText>
                <t:message id="ibanError" for="iban" replaceIdWithLabel="true" styleClass="error"/>

                <t:outputLabel for="accountNum" value="#{msgs['bank.wire.account.number']}"/>
	            <h:inputText styleClass="input" size="20" maxlength="20" dir="ltr" id="accountNum" value="#{wire.accountNum}" required="true">
	            	<f:validateLongRange/>
	            </h:inputText>
				<t:message id="accountNumError" for="accountNum" replaceIdWithLabel="true" styleClass="error"/>

				<t:outputLabel for="bankName" value="#{msgs['bank.wire.bank.name']}"/>
	            <h:inputText size="20" maxlength="30" dir="ltr" id="bankName" value="#{wire.bankNameTxt}" required="true"></h:inputText>
				<t:message id="bankNameError" for="bankName" replaceIdWithLabel="true" styleClass="error"/>

				<t:outputLabel for="branchNumber" value="#{msgs['bank.wire.branch.number']}"/>
	            <h:inputText  size="20" maxlength="30" dir="ltr" id="branchNumber" value="#{wire.branch}" required="true">
	            <f:validateLongRange/>
	            </h:inputText>
				<t:message id="branchNumberError" for="branchNumber" replaceIdWithLabel="true" styleClass="error"/>

				<t:outputLabel for="branchAddress" value="#{msgs['bank.wire.branch.address']}"/>
	            <h:inputText styleClass="input" size="20" maxlength="30" dir="ltr" id="branchAddress" value="#{wire.branchAddress}" required="true"></h:inputText>
				<t:message id="branchAddressError" for="branchAddress" replaceIdWithLabel="true" styleClass="error"/>

			   <h:outputLabel for="deposit" value="#{msgs['wires.deposit']}"/>
                <h:panelGrid columns="3" >
            	    <h:inputText size="9" maxlength="9" dir="ltr" id="deposit" value="#{wire.deposit}" required="true">
 						<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
    	            </h:inputText>
	                <h:outputText value="#{msgs[user.currency.symbol]}" rendered="#{!wire.depositForm.firstDeposit}"/>
				            <h:selectOneMenu id="currenciesList" value="#{wire.depositForm.currencyId}" onchange="handleCurrencyChange();" required="true" rendered="#{wire.depositForm.firstDeposit}">
				            	<f:selectItem itemLabel="" itemValue=""/>
					        	<f:selectItems value="#{applicationData.getCurrenciesBySkin()}"/>
					        </h:selectOneMenu>
                </h:panelGrid>
                <t:message id="depositError" for="deposit" replaceIdWithLabel="true" styleClass="error"/>
                
		    	 	 <h:outputLabel styleClass="text_gray_12_bold" for="street" value="#{msgs['register.street']}" rendered="#{wire.depositForm.firstDepositExcludeBonus}"/>
			                <h:inputText size="20" maxlength="40" id="street" value="#{wire.depositForm.street}" required="true"
				                validator="#{utils.validateStreet}" rendered="#{wire.depositForm.firstDepositExcludeBonus}">
			                </h:inputText>
			            <t:message id="streetError" for="street" replaceIdWithLabel="true" styleClass="error"/>
		    	    
		    	     <h:outputLabel styleClass="text_gray_12_bold" for="cityId" value="#{msgs['register.city']}" rendered="#{wire.depositForm.firstDepositExcludeBonus}"/>
					         <t:inputText size="24" maxlength="24" autocomplete="off" id="cityId" name="cityId" value="#{wire.depositForm.cityNameAO}" required="true"
					         	validator="#{utils.validateCity}" rendered="#{wire.depositForm.firstDepositExcludeBonus}" />
		 			  	<t:message id="cityIdError" for="cityId" replaceIdWithLabel="true" styleClass="error"/>
			        	
			         <h:outputLabel styleClass="text_gray_12_bold" for="zipCode" value="#{msgs['register.postcode']}" rendered="#{wire.depositForm.firstDepositExcludeBonus}"/>
			                <h:inputText dir="ltr" maxlength="6" id="zipCode" size="6" value="#{wire.depositForm.zipCode}" required="true" rendered="#{wire.depositForm.firstDepositExcludeBonus}"></h:inputText>
			            <t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error"/>
			           
			    <t:selectBooleanCheckbox id="sendRecipt" value="#{wire.sendReceipt}" />
                <t:outputLabel styleClass="data_display" for="sendRecipt" value="#{msgs['deposit.sendreceipt']}"/>
                <t:message id="sendReciptError" for="sendRecipt" replaceIdWithLabel="true" styleClass="error"/>

                <t:selectBooleanCheckbox rendered="#{user.skinId == 3}" id="eftDeposit" value="#{wire.eftDeposit}" />
                <t:outputLabel rendered="#{user.skinId == 3}" styleClass="data_display" for="eftDeposit" value="#{msgs['bank.wire.deposit.eft']}"/>
                <t:message id="eftDepositError" for="eftDeposit" replaceIdWithLabel="true" styleClass="error"/>
		    		
		    	<h:outputText id="birth" styleClass="text_gray_12_bold" value="#{msgs['register.birthdate']}" rendered="#{wire.depositForm.firstDepositExcludeBonus}"/>
				<h:panelGrid columns="2" border="0" rendered="#{wire.depositForm.firstDepositExcludeBonus}">
					<h:panelGrid dir="LTR" border="0" columns="10">
	 					<h:outputLabel styleClass="text_gray_12" for="birthDay" value="#{msgs['register.birthday']}"/>
	                	<h:selectOneMenu styleClass="input_text" id="birthDay" value="#{wire.depositForm.birthDateDay}" required="true">
	                		<f:selectItem  itemLabel="" itemValue="" />
	                		<f:selectItems value="#{applicationData.days}" />
	                	</h:selectOneMenu>
	                	<h:outputLabel styleClass="text_gray_12" for="birthMonth" value="#{msgs['register.birthmonth']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthMonth" value="#{wire.depositForm.birthDateMonth}" required="true" >
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.months}" />
	               		</h:selectOneMenu>
	               		<h:outputLabel styleClass="text_gray_12" for="birthYear" value="#{msgs['register.birthyear']}"/>
	               		<h:selectOneMenu styleClass="input_text" id="birthYear" value="#{wire.depositForm.birthDateYear}"  required="true">
	               			<f:selectItem  itemLabel="" itemValue="" />
	               			<f:selectItems value="#{applicationData.years}" />
	               		</h:selectOneMenu>
						<t:message id="birthDayError" for="birthDay" replaceIdWithLabel="true" styleClass="error"/>
						<t:message id="birthMonthError" for="birthMonth" replaceIdWithLabel="true" styleClass="error"/>
						<t:message id="birthYearError" for="birthYear" replaceIdWithLabel="true" styleClass="error"/>
	    	        </h:panelGrid>
	       		</h:panelGrid>
            </h:panelGrid>
            <h:panelGrid style="text-align:left" columns="1" border="0" width="25%" >


			<t:commandButton
         		id="btnImage"
         		image="/images/submit_u.jpg"
         		onmouseover="Changepic('addWireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_d.jpg')"
         		onmouseout="Changepic('addWireForm:btnImage','#{facesContext.externalContext.requestContextPath}/images/submit_u.jpg')"
         		onclick="if(!confirmit()) return false;
         				 gowait('addWireForm:btnImage','addWireForm:hiddenDeposit','#{facesContext.externalContext.requestContextPath}/images/loading.gif');
         				 return myfaces.oam.submitForm('addWireForm','addWireForm:hiddenDeposit');" >
         	</t:commandButton>

         	<h:commandLink
         	    id="hiddenDeposit"
			    action="#{wire.insert}"
			    style="display:none">
		   </h:commandLink>

	 		</h:panelGrid>
            </h:panelGrid>


        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>

</html>