<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<h:form id="baroPayDepositForm" onsubmit="baropay_submit(#{newCardForm.firstDeposit});return false;">
		<ui:remove>
			<h:inputHidden value="#{visit.generate}" />
			<h:inputHidden value="#{visit.saveToken}" />
		</ui:remove>
		<div class="deposit_holder">
			<div class="funnel_inp_holder">
				<h:inputText dir="#{writer.localInfo.dir}" styleClass="funnel_inp funnel_inp_amount" maxlength="9" id="deposit" alt="#{msgs['creditcards.deposit'].toUpperCase()}"
					value="#{depositForm.deposit}" required="true"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateDepositAmount(this);">
					<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
				</h:inputText>
				<h:selectOneMenu disabled="#{!depositForm.firstDeposit}" styleClass="funnel_inp funnel_inp_curency" id="currenciesList" value="#{depositForm.currencyId}" required="true">
					<f:selectItems value="#{applicationData.currenciesSignBySkinId}" />
				</h:selectOneMenu>
				<span class="funnel_names_error_h">
					<span id="baroPayDepositForm:deposit_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="baroPayDepositForm:deposit_error_txt_in"></span>
						<t:message id="depositError" for="deposit" replaceIdWithLabel="false"/>
						<t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true" />
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:inputText styleClass="funnel_inp" maxlength="30" dir="ltr" id="senderName" value="#{depositForm.baroSenderName}" required="true"
					alt="#{msgs['baropay.deposit.sender.name'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateSenderName(this);">
				</h:inputText>
				<span class="funnel_names_error_h">
					<span id="baroPayDepositForm:senderName_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="baroPayDepositForm:senderName_error_txt_in"></span>
						<t:message id="senderNameError" for="senderName" replaceIdWithLabel="true"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_curency ml0" id="expYear1" value="#{depositForm.prefixPhone}" required="true" >
					<f:selectItems value="#{depositForm.baroPrefixPhone}" />
				</h:selectOneMenu>
				<h:inputText maxlength="8" styleClass="funnel_inp funnel_inp_amount ml10" dir="ltr" id="landLinePhone" value="#{depositForm.baroLandLinePhone}" required="true"
					alt="#{msgs['baropay.deposit.phone.label'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateBaroLandLinePhone(this)">
					<f:validateLongRange/>
					<f:validateLength minimum='7' maximum='8'/>
				</h:inputText>
				<span class="funnel_names_error_h">
					<span id="baroPayDepositForm:landLinePhone_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="baroPayDepositForm:landLinePhone_error_txt_in"></span>
						<t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
					</span>
				</span>
			</div>
			<h:panelGroup rendered="#{depositForm.firstDeposit}">
				<div class="funnel_inp_holder">
					<h:inputText styleClass="funnel_inp" size="37" maxlength="40" id="street" alt="#{msgs['CMS.registerContent.label.register.street'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateStreet(this)"
						value="#{depositForm.street}" required="true"
						validator="#{commonUtil.validateStreet}" >
					</h:inputText>
					<span class="funnel_names_error_h">
						<span id="baroPayDepositForm:street_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h_2">
							<span id="baroPayDepositForm:street_error_txt_in"></span>
							<t:message id="streetError" for="street" replaceIdWithLabel="true"/>
						</span>
					</span>
				</div>
				<div class="funnel_inp_holder">
					<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityName(this);" name="cityNameAO" 
						value="#{depositForm.cityNameAO}" required="true"
						validator="#{commonUtil.validateLettersOnly}" >
					</h:inputText>
					<span class="funnel_names_error_h">
						<span id="baroPayDepositForm:cityNameAO_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h_2">
							<span id="baroPayDepositForm:cityNameAO_error_txt_in"></span>
							<t:message id="cityNameAOError" for="cityNameAO" replaceIdWithLabel="true" />
						</span>
					</span>
				</div>
				<div class="funnel_inp_holder">
					<h:inputText styleClass="funnel_inp" dir="ltr" maxlength="10" id="zipCode" size="15" alt="#{msgs['CMS.registerContent.label.register.postcode'].toUpperCase()}"
						value="#{depositForm.zipCode}"
						onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this);" />

					<span class="funnel_names_error_h">
						<span id="baroPayDepositForm:zipCode_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h_2">
							<span id="baroPayDepositForm:zipCode_error_txt_in"></span>
							<t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true"/>
						</span>
					</span>
				</div>
				<div class="funnel_inp_holder">
					<h:outputText id="bdayAO" styleClass="deposit_row_title" value="#{msgs['register.birthdate']}"/>
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthDay" id="birthDay" value="#{newCardForm.birthDay}" required="true" onchange="validateBirthDay(this)" >
						<f:selectItem itemLabel="#{msgs['register.birthday.short']}" itemValue="" />
						<f:selectItems value="#{applicationData.days}" />
					</h:selectOneMenu>
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthMonth" id="birthMonth" value="#{newCardForm.birthMonth}" required="true" onchange="validateBirthMonth(this)">
						<f:selectItem  itemLabel="#{msgs['register.birthmonth.short']}" itemValue="" />
						<f:selectItems value="#{applicationData.months}" />
					</h:selectOneMenu>			
					<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthYear" id="birthYear" value="#{newCardForm.birthYear}" required="true" onchange="validateBirthYear(this)">
						<f:selectItem  itemLabel="#{msgs['register.birthyear.short']}" itemValue="" />
						<f:selectItems value="#{applicationData.years}" />
					</h:selectOneMenu>
					<span class="funnel_names_error_bday">
						<span id="baroPayDepositForm:birthDate_error" class="funnel_error_hide"></span>
						<span class="funnel_names_error_msg_h">
							<span id="baroPayDepositForm:birthYear_error_txt_in"></span>
							<span id="baroPayDepositForm:birthMonth_error_txt_in"></span>
							<span id="baroPayDepositForm:birthDay_error_txt_in"></span>
						</span>
					</span>
				</div>
			</h:panelGroup>
			<div class="clear funnel_error_list_2">
				<span id="baroPayDepositForm:deposit_error_txt"></span>
				<span id="baroPayDepositForm:senderName_error_txt"></span>
				<span id="baroPayDepositForm:landLinePhone_error_txt"></span>
				<span id="baroPayDepositForm:street_error_txt"></span>
				<span id="baroPayDepositForm:cityNameAO_error_txt"></span>
				<span id="baroPayDepositForm:zipCode_error_txt"></span>
				<span id="baroPayDepositForm:birthDay_error_txt"></span>
				<span id="baroPayDepositForm:birthMonth_error_txt"></span>
				<span id="baroPayDepositForm:birthYear_error_txt"></span>
			</div>
			<div id="funnel_submit_field">
				<a href="#" onclick="baropay_submit(#{newCardForm.firstDeposit});return false;" class="btn_open_account btn_open_account_h clear" id="btn_baropay">
					<span class="rs btn_open_account">
						<span class="cs btn_open_account">
							<h:outputText value="#{msgs['CMS.deposit_pages.text.submit']}" />
						</span>
					</span>
				</a>
			</div>
			<h:commandButton action="#{depositForm.insertBaroPayDeposit}" id="hiddenDeposit" style="position:absolute;left:-9999px" />
		</div>
		<h:panelGroup rendered="#{commonUtil.hasMessages}" width="100%">
			<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
		</h:panelGroup>
		<h:inputHidden id="menu_selecter" value="baropay"/>
		<script>initDeposit('baroPayDepositForm:');var user_id = #{user.id};</script>
	</h:form>
</f:view>