
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="head">

</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="withdraw" />
	<c:set var="std" value="withdrawBaropay" />
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="content">
	<t:saveState value="#{withdrawForm}" />
  	<h:panelGroup styleClass="left_align">
	    <h:panelGroup rendered="#{!commonUtil.hasErrorMessages}" >
			<span style="display:none;">#{withdrawForm.initWithdrawForm}</span>
		</h:panelGroup>
        <h:form id="withdrawForm">
        	<h:inputHidden value="#{visit.generate}" />
		    <h:inputHidden value="#{visit.saveToken}" />
	        <table border="0" cellpadding="0" cellspacing="0" width="710px" class="KR_deposit">
				<tbody >
					<tr>
				    	<td class="text" colspan="2">
				        	<h1 class="title" style="text-align: left;">
				        		<h:outputText value="#{msgs['baropay.withdraw.amount']}"/>
				        	</h1>
				        	<p>
				        		<h:outputText escape="false" value="#{msgs['baropay.withdraw.text.part.one']}"/>
				            </p>
				            <p>
					            <strong>
					           		<h:outputText value="#{msgs['baropay.withdraw.text.part.two']}"/>		
					            </strong>
							</p>
				        </td>
				    </tr>
				    <tr>
				    	<td class="payment_method">
				        	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/baropay.gif" border="0" />
				        </td>
				        <td valign="top" align="left" class="form_container">
				        	<table border="0" cellpadding="0" cellspacing="0" width="510">
				            	<tr>
				                	<td class="text">
				                		<h:outputLabel styleClass="WithdrawalAmount" for="amount" value="#{msgs['withdraw.amount']}"/>
				                		<h:outputText rendered="#{user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign}" value="&#160;#{msgs[user.currency.symbol]}" style="font-size:13px"/>&#160;
				                	</td>
				                    <td>
				                    <span style="width:500px">
				                        <h:inputText styleClass="new_input" size="5" maxlength="9" dir="ltr" id="amount" value="#{withdrawForm.amount}" required="true">
											<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
										</h:inputText>
										<h:outputText rendered="#{!(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign)}" value="&#160;#{msgs[user.currency.symbol]}" style="font-size:13px"/>
										<t:message id="amountError" for="amount" replaceIdWithLabel="true" styleClass="error_messages"/>
				                    </span>
				                    </td>
				            	</tr>
				                <tr>
				                	<td class="text">
				                		<h:outputLabel styleClass="BankName" for="bankName" value="#{msgs['baropay.withdraw.bank.name']}"/>
				                	</td>
				                    <td>
				                    <span style="width:500px">
				                        <h:panelGroup border="0" styleClass="" align="" style="width:415px">
											<h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="bankName" value="#{withdrawForm.bankNameTxt}" required="true"></h:inputText>
											<h:outputLabel value="&#160;"/>
											<t:message id="bankNameError" for="bankName" replaceIdWithLabel="true" styleClass="error_messages"/>
										</h:panelGroup>
				                    </span>
				                    </td>
				            	</tr>
				                <tr>
				                	<td class="text">
				                		<h:outputLabel styleClass="AccountOwner" for="accountOwner" value="#{msgs['baropay.withdraw.account.owner']}"/>
				                	</td>
				                    <td>
				                    <span style="width:500px">
				                        <h:panelGroup border="0" styleClass="" align="" style="width:415px">
											<h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="accountOwner" value="#{withdrawForm.accountOwnerTxt}" required="true"></h:inputText>
											<h:outputLabel value="&#160;"/>
											<t:message id="accountOwnerError" for="accountOwner" replaceIdWithLabel="true" styleClass="error_messages"/>
										</h:panelGroup>
				                    </span>
				                    </td>
				            	</tr>
				                <tr>
				                	<td class="text">
				                		<h:outputLabel styleClass="AccountNumber" for="accountNum" value="#{msgs['baropay.withdraw.account.number']}"/>
				                	</td>
				                    <td>
				                    <span style="width:500px">				                        
				                        <h:panelGroup border="0" styleClass="" align="" style="width:415px">
											<h:inputText styleClass="new_input"  maxlength="20" dir="ltr" id="accountNum" value="#{withdrawForm.accountNum}" required="true">
												<f:validateLongRange/>
											</h:inputText>
											<h:outputLabel value="&#160;"/>
											<t:message id="accountNumError" for="accountNum" replaceIdWithLabel="true" styleClass="error_messages"/>
										</h:panelGroup>
				                    </span>
				                    </td>
				            	</tr>
				                <tr>
				                	<td>                		
				                	</td>
				                    <td valign="top" align="left">
				                    	<table border="0" cellpadding="0" cellspacing="0" width="100%">
				                        	<tr>
				                            	<td class="Submit">
				            						<t:commandButton
										         		id="btnImage1"
										         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.gif"
										         		onmouseover="Changepic('withdrawForm:btnImage1','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.gif')"
										         		onmouseout="Changepic('withdrawForm:btnImage1','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.gif')"
										         		onclick="gowait('withdrawForm:btnImage1','withdrawForm:hiddenbtn1','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
										         		         return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenbtn1');" >
										         	</t:commandButton>
				                                </td>
				                                <td>
				                                	<h:commandLink action="#{withdrawForm.insertBaroPayWithdraw}" id="hiddenbtn1" style="display:none"/>
				                                </td>
				                            </tr>
				                        </table>
				                    </td>
				                </tr>
				            </table>
				        </td>
				    </tr>
				</tbody>
			</table>
			<h:panelGroup rendered="#{commonUtil.hasMessages}" >
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
           	</h:panelGroup>
        </h:form>
    </h:panelGroup>
</ui:define>
</ui:composition>
</html>

