<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
		<ui:define name="windowtitle">
			<h:outputText value="#{msgs['deposit.jsf.title']}"/>
		</ui:define>
		<ui:define name="header">
			<h:outputText value="#{msgs['header.title']}"/>
		</ui:define>
		<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
		<ui:define name="title_message">
			<h1 class="account_title title_desc_size"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
		</ui:define>
		<ui:define name="footerMsg">
			<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
		</ui:define>
		<ui:define name="showDeposit">
			<c:set var="showDeposit" value="true" />
		</ui:define>
		<ui:define name="menuSet">
			<c:set var="td" value="deposit" />
			<c:set var="std" value="depositBaropay" />
		</ui:define>
		
		<ui:define name="content">
			<h:form id="baroPayDepositForm">
				<h:inputHidden value="#{visit.generate}" />
		        <h:inputHidden value="#{visit.saveToken}" />
				<table border="0" cellpadding="0" cellspacing="0" width="710px" class="KR_deposit">
					<tr>
				    	<td class="text" colspan="2">
				        	<h1 class="title" style="text-align: left;">
				        		<h:outputText value="#{msgs['baropay.deposit.amount']}"/>
				        	</h1>
				           	<p>
				           		<h:outputText escape="false" value="#{msgs['baropay.text.part.one']}"/>
				           </p>
				           <p>
					           <strong>
					           		<h:outputText value="#{msgs['baropay.text.part.two']}"/>	
					           </strong>
					       </p>
				        </td>
				    </tr>
				    <tr>
				    	<td class="payment_method">
				        	<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/baropay.gif" border="0" />
				        </td>
				        <td valign="top" align="left" class="form_container">
				        	<table border="0" cellpadding="0" cellspacing="0" width="510">
				        		
								<tr>
				                	<td class="text">
				                		<h:outputLabel id="depositlabelid" styleClass="DepositAmount" for="senderName" value="#{msgs['baropay.deposit.amount']}"/>
				                		<h:outputText rendered="#{user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign}" value="&#160;#{msgs[user.currency.symbol]}" style="font-size:13px"/>&#160;
				                	</td>
				                    <td>
				                        <h:panelGroup columns="4" align="#{applicationData.pageAlignment}" style="width:500px">
							                <h:inputText dir="ltr" styleClass="new_input" maxlength="9" id="deposit" value="#{depositForm.deposit}" required="true" >
							 					<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
							                </h:inputText>
						  	                <h:outputText rendered="#{!(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign)}" value="&#160;#{msgs[user.currency.symbol]}" style="font-size:13px"/>
						                	<h:panelGroup columns="3">
							                	<h:outputLabel value="&#160;"/>
								                <t:message id="depositError" for="deposit" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
								                <t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true" styleClass="error_messages"/>
								            </h:panelGroup>
										</h:panelGroup>
				                    </td>
				            	</tr>
				            	<tr>
				                	<td class="text">
				                		<h:outputLabel styleClass="SenderName" for="senderName" value="#{msgs['baropay.deposit.sender.name']}"/>
				                	</td>
				                    <td>
				                    	<h:panelGroup border="0" styleClass="" align="" style="width:415px">
											<h:inputText styleClass="new_input"  maxlength="30" dir="ltr" id="senderName" value="#{depositForm.baroSenderName}" required="true"></h:inputText>
											<h:outputLabel value="&#160;"/>
											<t:message id="senderNameError" for="senderName" replaceIdWithLabel="true" styleClass="error_messages"/>
										</h:panelGroup>
				                    </td>
				            	</tr>
				                <tr>
				                	<td class="text">
				                		<h:outputLabel align="right" styleClass="Mobile" for="landLinePhone" value="#{msgs['baropay.deposit.phone.label']}"  />
				                	</td>
				                    <td valign="top">
				                    	<table cellpadding="0" cellspacing="0" border="0" >
											<tr>
												<td class="code">
													<h:panelGroup>
										           		<h:selectOneMenu styleClass="new_combobox" style="width:55px;" id="expYear1" value="#{depositForm.prefixPhone}" required="true" >
										           			<f:selectItems value="#{depositForm.baroPrefixPhone}" />
										           		</h:selectOneMenu>
									           		</h:panelGroup>
												</td>
												<td class="number">
													<h:inputText maxlength="8" styleClass="new_input2" dir="ltr" id="landLinePhone" value="#{depositForm.baroLandLinePhone}" required="true">
								                	  	<f:validateLongRange/>
								                	  	<f:validateLength minimum='7' maximum='8'/>
								                	</h:inputText>
								                	<t:message id="landLinePhoneError" for="landLinePhone" replaceIdWithLabel="true" styleClass="error_messages"/>
												</td>
											</tr>
										</table>
				                    </td>
				            	</tr>
				                
				                <tr>
				                	<td>                		
				                	</td>
				                    <td valign="top" align="left">
				                    	<table border="0" cellpadding="0" cellspacing="0" width="100%">
				                        	<tr>
				                            	<td class="Submit">
				            						<t:commandButton
										         		id="btnImage"
										         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.gif"
										         		onmouseover="Changepic('baroPayDepositForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.gif')"
										         		onmouseout="Changepic('baroPayDepositForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.gif')"
										         		onclick="gowait('baroPayDepositForm:btnImage','depositForm:hiddenDeposit','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif'); 
										         				return myfaces.oam.submitForm('baroPayDepositForm','baroPayDepositForm:hiddenDeposit');" >
									         		</t:commandButton>
				                                </td>
				                                <td>
				                                	<h:commandLink action="#{depositForm.insertBaroPayDeposit}" id="hiddenDeposit" style="display:none" />
				                                </td>
				                            </tr>
				                        </table>
				                    </td>
				                </tr>
				            </table>
				        </td>
				    </tr>
				</table>
			    <h:panelGroup rendered="#{commonUtil.hasMessages}" width="100%">
					<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
	           	</h:panelGroup>
			</h:form>
		</ui:define>
	</ui:composition>
</html>