
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="head">

</ui:define>
<ui:define name="windowtitle">
<h:outputText value="#{msgs['withdraw.jsf.title']}"/>
</ui:define>
<ui:define name="title">#{msgs['header.myaccount']}</ui:define>
<ui:define name="title_message">
	<h1 class="account_title"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="withdraw" />
	<c:set var="std" value="ccWithdrawal" />
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="content">
    <h:panelGroup styleClass="left_align">
    <h:panelGroup rendered="#{!commonUtil.hasErrorMessages}" >
		<span style="display:none;">#{withdrawForm.initWithdrawForm}</span>
	</h:panelGroup>

        <h:form id="withdrawForm">
	        <h:inputHidden value="#{visit.generate}" />
	        <h:inputHidden value="#{visit.saveToken}" />

     	    <h:panelGrid columns="1" border="0" columnClasses="left_align" >

			<h:panelGrid border="0" columns="2" styleClass="left_align" align="left">

				<h:panelGrid columns="1" border="0" styleClass="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}">
					<h:outputText style="font-size:28px;" value="My CDPay Test Provider - Withdraw"/>
					<h:outputText value="#{msgs['transactions.cc.withdraw']}" styleClass="info_pages_text_header" />
					<br/>
					<img SRC="#{applicationData.imagesPath}/banking/unionpay.gif" border="0" height="42px" width="125px"/>
					<br/>
				</h:panelGrid>
				<h:panelGrid />

	            <h:panelGrid columns="2"  border="0" align="#{applicationData.pageAlignment}" rowClasses="#{applicationData.pageAlignment}_align">

	            	<h:outputLabel value=""/>
					<h:outputLabel value=""/>

					<h:panelGrid columns="2" border="0" width="140px" cellspacing="0" cellpading="0">
						<h:outputLabel id="amountlabelid" styleClass="new_lable" for="amount" value="#{msgs['withdraw.amount']}"/>
					   	<h:outputText align="right" rendered="#{(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
	            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
					</h:panelGrid>

	            	<h:panelGroup>
		                <h:inputText styleClass="new_input"  style="width:130px"  dir="#{writer.localInfo.dir}" maxlength="9" id="amount" value="#{withdrawForm.amount}" required="true">
		 					<f:validateDoubleRange />
		                </h:inputText>
		                <h:outputText rendered="#{!((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
	            				(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign))}" styleClass="new_lable" value="&#160;#{msgs[user.currency.symbol]}"/>
	  	                <h:outputLabel value="&#160;"/>
		                <h:panelGroup columns="1" border="0">
			                <t:message id="amountError" for="amount" replaceIdWithLabel="false" styleClass="error_messages"/>
			                <t:message id="amountError2" for="amountlabelid" replaceIdWithLabel="false" styleClass="error_messages"/>
			            </h:panelGroup>
		            </h:panelGroup>

					<h:panelGrid />
		            <h:panelGroup>
	    	    		<t:commandButton
			         		id="btnImage"
			         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
			         		onmouseover="Changepic('withdrawForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
			         		onmouseout="Changepic('withdrawForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
			         		onclick="gowait('withdrawForm:btnImage','withdrawForm:hiddenbtn','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/loading.gif');
			         		         return myfaces.oam.submitForm('withdrawForm','withdrawForm:hiddenbtn');" >
			         	</t:commandButton>
	    	    	    <h:commandLink action="#{withdrawForm.insertCDPayWithdraw}"
			         		id="hiddenbtn" style="display:none"/>
	        	 	</h:panelGroup>
             </h:panelGrid>

			</h:panelGrid>

			<h:panelGroup rendered="#{withdrawForm.bonusError}" >
				<h:outputText value="#{msgs['bonus.cannot.withdraw.error']}" styleClass="error_messages"/>
				<h:outputText value=" #{msgs['bonus.cannot.withdraw.error.link1']}" styleClass="error_messages" escape="false"/>
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/general_terms.jsf')}#bonusL"><h:outputText styleClass="reverse_links_red" value="#{msgs['bonus.cannot.withdraw.error.link2']}"/></a>&#160;
			</h:panelGroup>

			<h:panelGroup rendered="#{commonUtil.hasMessages &amp;&amp; !withdrawForm.bonusError}" >
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
           	</h:panelGroup>
           	<h:panelGroup columns="1" style="width:500px">
	           	<h:outputText value="&#160;" />
           	</h:panelGroup>
           	<h:panelGroup columns="1" style="width:500px">
           		<h:outputText value="通过银联提款的最高金额是"  styleClass="new_lable"  style="padding-left:5px;"/>
           		<h:outputText value="#{withdrawForm.CUPcreditAmountAllow/100}"  styleClass="new_lable"  style="padding-left:5px;"/>
           	</h:panelGroup>	
			<h:panelGroup columns="1" style="width:500px">
				<h:outputText value="提款金额高于上述金额，请使用"  styleClass="new_lable"  style="padding-left:5px;"/>
			    <h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/wire.jsf" target="_top" class="${class}" >
					<h:outputText value="#{msgs['header.wire']} »"/>
				</h:outputLink>
			</h:panelGroup>

	     	</h:panelGrid>

        </h:form>

    </h:panelGroup>

</ui:define>
</ui:composition>
</html>

