 <f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

    <h:form id="depositForm">

   	   	<h:inputHidden value="#{visit.generate}" />
        <h:inputHidden value="#{visit.saveToken}" />
		<br/><br/>
		<table cellpadding="10px" border="0">
			<!-- IMAGES -->

			<tr>
				<h:outputText style="font-size:30px;" value="My CDPay Test Provider"/>
			</tr>
			<tr>
			
			</tr>
			<tr>
				
			</tr>
			
		</table>

		<h:panelGrid columns="1" >
	        <h:panelGrid columns="2" cellpadding="4" align="#{applicationData.pageAlignment}" rowClasses="#{applicationData.pageAlignment}_align">

		        <h:panelGroup>
	                <h:outputLabel id="depositlabelid" styleClass="new_lable" for="deposit" value="#{msgs['deposit.deposit']}" />
	                <h:outputText rendered="#{(user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
		            		(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign)}" value="&#160; #{msgs[user.currency.symbol]}" styleClass="new_lable"/>
	            </h:panelGroup>
		        <h:panelGroup columns="3" style="width:500px">
		        	<h:panelGroup>
			            <h:inputText dir="#{writer.localInfo.dir}" styleClass="new_input" maxlength="9" id="deposit" value="#{depositForm.deposit}" required="true" >
			 				<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
			            </h:inputText>
			            <h:outputText rendered="#{!((user.currency.isLeftSymbolBool &amp;&amp; !applicationData.rtlAlign) ||
		            		(!user.currency.isLeftSymbolBool &amp;&amp; applicationData.rtlAlign))}" value="&#160; #{msgs[user.currency.symbol]}" styleClass="new_lable"/>
		            </h:panelGroup>
		            <h:outputLabel value="&#160;"/>
		        	<h:panelGroup columns="2">
		                <t:message id="depositError" for="deposit" replaceIdWithLabel="false" styleClass="error_messages"/>&#160;
		                <t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true" styleClass="error_messages"/>
		            </h:panelGroup>
				</h:panelGroup>

				<h:panelGroup />
				<t:commandButton
	         		id="btnImage"
	         		image="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg"
	         		onmouseover="Changepic('depositForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_d.jpg')"
	         		onmouseout="Changepic('depositForm:btnImage','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/submit_u.jpg')"
	         		onclick="gowait('depositForm:btnImage','depositForm:hiddenDeposit','#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/processing.gif');
	         				 return myfaces.oam.submitForm('depositForm','depositForm:hiddenDeposit');" >
	         	</t:commandButton>
	         	<h:commandLink action="#{depositForm.insertCDPayDeposit}"
	         		id="hiddenDeposit" style="display:none"/>
			</h:panelGrid>

			<!-- TODO: handle it. make exception -->
			<!-- h:outputText value="#{depositForm.deltaPayDepositMin}"  styleClass="new_lable"  style="padding-left:5px;"/ -->
			<h:outputText value="推荐存款额： ¥3,000-10,000"  styleClass="new_lable"  style="padding-left:5px;"/>
			<h:panelGroup rendered="#{commonUtil.hasMessages}"  width="100%">
				<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages"/>
			</h:panelGroup>
		</h:panelGrid>
	</h:form>
</f:view>