<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">

	
<div class="full_reg_holder">
    <h:form id="depositForm" onsubmit="oldCard_submit(#{depositForm.firstDeposit});return false;">
   	   	<h:inputHidden value="#{visit.generate}" />
        <h:inputHidden value="#{visit.saveToken}" />

		<div class="oH clear">
			<h:panelGroup rendered="#{applicationData.skinId == 15 and user.countryId == 44}">
				<img src="#{applicationData.imagesPath}/regulation/creditcards.gif" height="42" width="125" class="fL"/>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.skinId != 15 || user.countryId != 44}">
				<img src="#{applicationData.imagesPath}/#{applicationData.regulationImagesPath}creditcards.gif" height="42" width="125" class="fL"/>
			</h:panelGroup>
		</div>

		<br/><br/>
  		<table cellpadding="0" cellspacing="0" width="540" border="0">
			<tr>
				<td align="#{applicationData.pageAlignment}">
					<h:outputText value="#{msgs['header.selectCard']}" styleClass="deposit_selected_menu" />
				</td>
				<td>
					<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/newCard.jsf" target="_top" id="newCardLink" class="deposit_not_selected_menu">
						<h:outputText value="#{msgs['header.add.new.cc']}"/>
					</a>
				</td>
				<td align="#{applicationData.pageAlignmentReverse}">
					<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/cards.jsf" target="_top" class="deposit_not_selected_menu" >
						<h:outputText value="#{msgs['header.cards']}"/>
					</a>
				</td>
			</tr>
		</table>
		<br/><br/>
		<div class="deposit_holder taL">
			<div class="funnel_inp_holder ml0">
				<h:selectOneMenu styleClass="funnel_inp"
									id="ccNum"
									value="#{depositForm.cardId}"
									onblur="validateCCSelect(this)"
									onchange="validateCCSelect(this)"
									required="true" >
					<f:selectItem itemLabel="#{msgs['deposit.select']}" itemValue="" />
					<f:selectItems value="#{depositForm.ccList}" />
				</h:selectOneMenu>
				<span class="funnel_names_error_h">
					<span id="depositForm:ccNum_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="depositForm:ccNum_error_txt_in"></span>
						<t:message id="cardIdError" for="ccNum" replaceIdWithLabel="true"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder ml0">
				<h:inputText dir="#{writer.localInfo.dir}" styleClass="funnel_inp funnel_inp_amount" maxlength="9" id="deposit" alt="#{msgs['creditcards.deposit']}"
					value="#{depositForm.deposit}" required="true" onkeyup="limitNumbersDepositField(event, 'funnel_tooltip_amount');"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateDepositAmount(this);hideTooltipDepositField('funnel_tooltip_amount')">
					<f:validateRegex pattern="#{applicationData.inputFieldPattern}" />
				</h:inputText>
				<span class="vaM deposit_currency">
					<h:outputText rendered="#{(user.currency.isLeftSymbolBool and !applicationData.rtlAlign) ||
						(!user.currency.isLeftSymbolBool and applicationData.rtlAlign)}" value="&#160; #{msgs[user.currency.symbol]}"/>
				</span>
				<span class="funnel_names_error_h">
					<span id="depositForm:deposit_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="depositForm:deposit_error_txt_in"></span>
		                <t:message id="depositError" for="deposit" replaceIdWithLabel="false"/>&#160;
		                <t:message id="depositError2" for="depositlabelid" replaceIdWithLabel="true"/>
					</span>
				</span>
				<span class="funnel_tooltip_h#{(tooltip_email != 'right')?'_left':''}" id="funnel_tooltip_amount">
					<span class="funnel_tooltip_arrow"></span>
					<span><h:outputText escape="false" value="#{msgs['CMS.register_content.text.tooltip.numbersOnly']}" /></span>
				</span>
			</div>
			<div class="clear funnel_error_list_2">
				<span id="depositForm:ccNum_error_txt"></span>
				<span id="depositForm:deposit_error_txt"></span>
			</div>
			<div id="funnel_submit_field" style="margin:0">
				<a href="#" onclick="oldCard_submit(#{depositForm.firstDeposit});return false;" class="btn_open_account btn_open_account_h clear" id="btn_oldCard">
					<span class="rs btn_open_account">
						<span class="cs btn_open_account">
							<h:outputText value="#{msgs['CMS.deposit_pages.text.submit']}" />
						</span>
					</span>
				</a>
			</div>
	        <h:commandButton action="#{depositForm.insertDeposit}" id="hiddenDeposit" style="display:none"/>	
			<a class="deposit_other_FM_link mt10 bIB" href="#{facesContext.externalContext.requestContextPath}/jsp/pages/paymentMethodSelector#{request.requestURI.endsWith('firstNewCard.jsf')?'_first':''}.jsf"><h:outputText value="#{msgs['CMS.newCardContent.text.otherfundingmethods']}" /></a>
		</div>
		<h:panelGroup rendered="#{commonUtil.hasMessages}"  width="100%">
			<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="info_messages" style="font-size:11px;"/>
		</h:panelGroup>
		<script>initDeposit('depositForm:');var user_id = #{user.id};var user_currencyid = #{user.currencyId};</script>
	</h:form>
</div>
</f:view>