<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<head>
	<script>
		document.domain = "#{applicationData.domainUrl}";
	</script>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/styles.#{applicationData.skinId}.css" />
</head>
<body>
    <h:panelGroup>
        <h:form id="depositForm">
			<h:panelGrid dir="#{applicationData.pageDirection}" styleClass="#{applicationData.pageAlignment}_align" align="#{applicationData.pageAlignment}" columns="2"  width="100%">
				<h:panelGrid columns="1" border="0" width="60px" />
				<h:outputText id="depositMessage" styleClass="lable_text" escape="false" value="#{depositForm.envoyResultMsg}"/>
			</h:panelGrid>
		</h:form>
	</h:panelGroup>
</body>

</html>
