<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
	  locale="#{applicationData.userLocale}"
       >

	<br/>
	<h:outputText escape="false" value="#{msgs['envoy.deposit']}"/>
	<br/>
	<br/>

	<div class="deposit_holder">
		<h:panelGroup rendered="#{depositForm.firstDeposit}">
			<div class="funnel_inp_holder">
				<h:selectOneMenu disabled="#{!depositForm.firstDeposit}" styleClass="funnel_inp" id="currenciesList" value="#{depositForm.currencyId}" required="true">
					<f:selectItems value="#{applicationData.currenciesBySkinId}" />
				</h:selectOneMenu>
			</div>
			<div class="funnel_inp_holder">
				<h:inputText styleClass="funnel_inp" size="37" maxlength="40" id="street" alt="#{msgs['CMS.registerContent.label.register.street'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateStreet(this)"
					value="#{depositForm.street}" required="true"
					validator="#{commonUtil.validateStreet}" >
				</h:inputText>
				<span class="funnel_names_error_h">
					<span id="directDepositForm:street_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="directDepositForm:street_error_txt_in"></span>
						<t:message id="streetError" for="street" replaceIdWithLabel="true"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:inputText size="37" escape="false" maxlength="24" autocomplete="off" styleClass="funnel_inp" id="cityNameAO" alt="#{msgs['CMS.registerContent.label.register.city'].toUpperCase()}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateCityName(this);" name="cityNameAO" 
					value="#{depositForm.cityNameAO}" required="true"
					validator="#{commonUtil.validateLettersOnly}" >
				</h:inputText>
				<span class="funnel_names_error_h">
					<span id="directDepositForm:cityNameAO_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="directDepositForm:cityNameAO_error_txt_in"></span>
						<t:message id="cityNameAOError" for="cityNameAO" replaceIdWithLabel="true" styleClass="error_messages"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:inputText styleClass="funnel_inp" dir="ltr" maxlength="10" id="zipCode" size="15" alt="#{msgs['CMS.registerContent.label.register.postcode'].toUpperCase()}"
					value="#{depositForm.zipCode}"
					onfocus="inpFocus(this,'t');" onblur="inpFocus(this,'t');validateZipCode(this);" />

				<span class="funnel_names_error_h">
					<span id="directDepositForm:zipCode_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h_2">
						<span id="directDepositForm:zipCode_error_txt_in"></span>
						<t:message id="zipCodeError" for="zipCode" replaceIdWithLabel="true" styleClass="error_messages"/>
					</span>
				</span>
			</div>
			<div class="funnel_inp_holder">
				<h:outputText id="bdayAO" styleClass="deposit_row_title" value="#{msgs['register.birthdate']}"/>
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthDay" id="birthDay" value="#{newCardForm.birthDay}" required="true" onchange="validateBirthDay(this)" >
					<f:selectItem itemLabel="#{msgs['register.birthday.short']}" itemValue="" />
					<f:selectItems value="#{applicationData.days}" />
				</h:selectOneMenu>			
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthMonth" id="birthMonth" value="#{newCardForm.birthMonth}" required="true" onchange="validateBirthMonth(this)">
					<f:selectItem  itemLabel="#{msgs['register.birthmonth.short']}" itemValue="" />
					<f:selectItems value="#{applicationData.months}" />
				</h:selectOneMenu>			
				<h:selectOneMenu styleClass="funnel_inp funnel_inp_birthYear" id="birthYear" value="#{newCardForm.birthYear}" required="true" onchange="validateBirthYear(this)">
					<f:selectItem  itemLabel="#{msgs['register.birthyear.short']}" itemValue="" />
					<f:selectItems value="#{applicationData.years}" />
				</h:selectOneMenu>
				<span class="funnel_names_error_bday">
					<span id="directDepositForm:birthDate_error" class="funnel_error_hide"></span>
					<span class="funnel_names_error_msg_h">
						<span id="directDepositForm:birthYear_error_txt_in"></span>
						<span id="directDepositForm:birthMonth_error_txt_in"></span>
						<span id="directDepositForm:birthDay_error_txt_in"></span>
					</span>
				</span>
			</div>
			<div class="clear funnel_error_list_2">
				<span id="directDepositForm:street_error_txt"></span>
				<span id="directDepositForm:cityNameAO_error_txt"></span>
				<span id="directDepositForm:zipCode_error_txt"></span>
				<span id="directDepositForm:birthDay_error_txt"></span>
				<span id="directDepositForm:birthMonth_error_txt"></span>
				<span id="directDepositForm:birthYear_error_txt"></span>
			</div>
		</h:panelGroup>
		<div id="funnel_submit_field">
			<a href="#" onclick="envoyDeposit_submit(#{newCardForm.firstDeposit});return false;" class="btn_open_account btn_open_account_h clear" id="btn_envoyDeposit">
				<span class="rs btn_open_account">
					<span class="cs btn_open_account">
						<h:outputText value="#{msgs['CMS.deposit_pages.text.continue']}" />
					</span>
				</span>
			</a>
		</div>
		<h:commandButton action="#{depositForm.insertDirectDepositEnvoy}" id="hiddenDeposit" style="position:absolute;left:-9999px">		
		</h:commandButton>
	</div>
</f:view>