<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.reg_man_quest.text.window.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size">
		<h:outputText value="#{msgs['CMS.reg_man_quest.text.header']}"/>
	</h1>
</ui:define>

<ui:define name="menuSet">
	<c:set var="td" value="personal" />
	<c:set var="std" value="questionnaire" />
</ui:define>
<ui:define name="content">

<script type="text/javascript" src="#{facesContext.externalContext.requestContextPath}/js/mandQuest.js"></script>

<script>

var questionsIdArr = [
		["#{regMandQuestionnaireForm.questions[0].id}", "#{regMandQuestionnaireForm.userAnswers[0].userAnswerId}"],
		["#{regMandQuestionnaireForm.questions[1].id}", "#{regMandQuestionnaireForm.userAnswers[1].userAnswerId}"],
		["#{regMandQuestionnaireForm.questions[2].id}", "#{regMandQuestionnaireForm.userAnswers[2].userAnswerId}"],
		["#{regMandQuestionnaireForm.questions[3].id}", "#{regMandQuestionnaireForm.userAnswers[3].userAnswerId}"],
		["#{regMandQuestionnaireForm.questions[4].id}", "#{regMandQuestionnaireForm.userAnswers[4].userAnswerId}"],
		["#{regMandQuestionnaireForm.questions[5].id}", "#{regMandQuestionnaireForm.userAnswers[5].userAnswerId}"],
		["#{regMandQuestionnaireForm.questions[6].id}", "#{regMandQuestionnaireForm.userAnswers[6].userAnswerId}"]
					];

</script>

<div class="mandatory_qr_container"> 
        <h2>
        	<h:outputText value="#{msgs['CMS.reg_man_quest.text.body.heading']}"/>
        </h2>
        <h:form id="regMandQuestionnaireForm">
	        <ui:remove>
		        <t:dataList layout="orderedList" value="#{regMandQuestionnaireForm.questions}" var="question">
				    <span>
				    	<h:outputText value="#{msgs[question.name]}"/>
			    	</span><br/>
			    	<h:selectOneRadio id="#{'question_'}#{question.name}" value="" required="true">
		   				<f:selectItems value="#{question.answers}" var="answer" itemLabel="#{msgs[answer.name]}" itemValue="#{answer.id}" />
			   		</h:selectOneRadio>
			   		<div class="error_msg_question">
		   					<t:message id="#{'error_'}#{question.name}" for= "#{'question_'}#{question.name}" replaceIdWithLabel="true"/>
		   			</div>
				</t:dataList>
			</ui:remove>
			
			<ol>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[0].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[0].id}"
											value="#{regMandQuestionnaireForm.userAnswers[0].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[0].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[0].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[0].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[1].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[1].id}"
											value="#{regMandQuestionnaireForm.userAnswers[1].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[1].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[1].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[1].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[2].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[2].id}"
											value="#{regMandQuestionnaireForm.userAnswers[2].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[2].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[2].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[2].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[3].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[3].id}"
											value="#{regMandQuestionnaireForm.userAnswers[3].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[3].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[3].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[3].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[4].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[4].id}"
											value="#{regMandQuestionnaireForm.userAnswers[4].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[4].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[4].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[4].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[5].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[5].id}"
											value="#{regMandQuestionnaireForm.userAnswers[5].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[5].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[5].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[5].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
				<li>					
					<span>
						<h:outputText value="#{msgs[regMandQuestionnaireForm.questions[6].name]}"/>
					</span><br/>
					<h:panelGrid  columns="2" border="0">
						<t:selectOneRadio id="#{'question_'}#{regMandQuestionnaireForm.questions[6].id}"
											value="#{regMandQuestionnaireForm.userAnswers[6].answerId}"
											disabled="#{regMandQuestionnaireForm.submitted}"
											required="true"
											requiredMessage="#{msgs['error.mandatory']}"
											onblur="updateMandQuestValues();">
			   				<f:selectItems value="#{regMandQuestionnaireForm.questions[6].answers}"
			   									var="answer"
			   									itemLabel="#{msgs[answer.name]}"
			   									itemValue="#{answer.id}"/>
				   		</t:selectOneRadio>
	   					<t:message id="#{'error_'}#{regMandQuestionnaireForm.questions[6].id}"
		   								for="#{'question_'}#{regMandQuestionnaireForm.questions[6].id}"
		   								styleClass="error_msg_question"/>
					</h:panelGrid>
				</li>
			</ol>
			
			<h:commandLink action="#{regMandQuestionnaireForm.insertQuestionnaire}" class="button_small_nd" rendered="#{!regMandQuestionnaireForm.submitted}">
           			<h:outputText value="#{msgs['CMS.reg_man_quest.label.button.submit']}" escape="false"/>
			</h:commandLink>
			<h:commandLink action="#{regMandQuestionnaireForm.insertQuestionnaire}" class="button_small_nd_na" disabled="#{regMandQuestionnaireForm.submitted}" rendered="#{regMandQuestionnaireForm.submitted}">
           			<h:outputText value="#{msgs['CMS.reg_man_quest.label.button.submit']}" escape="false"/>
			</h:commandLink>
        </h:form>
        
        <div style="margin-top: 20px;">
	        <!-- <div id="reg_opt_quest_message" style="display:none; width: 700px;" class="link_notnow"> -->
				<h:panelGrid columns="1" rendered="#{regMandQuestionnaireForm.submitted}">
					#{userRegulation.clearRedirectAfterRegMandQuest()}
		        	<h:outputText value="#{msgs['CMS.reg_man_quest.label.reg_opt_quest.text']}" escape="false"/>
		        	<h:outputLink value="#{facesContext.externalContext.requestContextPath}/jsp/pages/optional_questionnaire.jsf"><h:outputText value="#{msgs['CMS.reg_man_quest.label.link.optional']}" /></h:outputLink>
		        	<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}"><h:outputText value="#{msgs['CMS.reg_man_quest.label.link.not_now']}" /></h:outputLink>
		        	<script>showRegOptQuestMessage("#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}");</script>
	        	</h:panelGrid>
	        <!-- </div> -->
	    </div>
</div>

</ui:define>
</ui:composition>

</html>