<html   xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk">
	<head>
	    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8" />
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
	</head>
	<body onload="document.moneyBookersDepositForm.submit();" >
		<f:view locale="#{applicationData.userLocale}">
			
			<form name="moneyBookersDepositForm" method="post" action="#{moneybookersInfo.redirectURL}">
				<input name="pay_to_email" type="hidden" value="#{moneybookersInfo.merchantAccount}" />
				<input name="return_url" type="hidden" value="#{moneybookersInfo.returnURL}" />
				<input name="cancel_url" type="hidden" value="#{moneybookersInfo.cancelURL}" />
				<input name="status_url" type="hidden" value="#{moneybookersInfo.statusURL}" />
				<input name="status_url2" type="hidden" value="#{moneybookersInfo.mailStatus}" />
				<input name="language" type="hidden" value="#{moneybookersInfo.language}" />
				<input name="pay_from_email" type="hidden" value="#{moneybookersInfo.clientAccount}" />
				<input name="transaction_id" type="hidden" value="#{moneybookersInfo.transactionId}" />
				<input name="currency" type="hidden" value="#{moneybookersInfo.currency}" />
				<input name="amount" type="hidden" value="#{moneybookersInfo.depositAmount}" />
				<input type="hidden" name="payment_methods" value="WLT" />
				<input type="image" src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/redirecting.jpg" name="continue" value="Continue" />
				<input type="hidden" name="confirmation_note" value="#{msgs['moenybookers.success.confirmation.note']}" />
				<input type="hidden" name="detail1_description" value="#{msgs['anyoption.anyoption']}" />
				<input type="hidden" name="detail1_text" value="#{msgs['moenybookers.info']}" />
				<input type="hidden" name="logo_url" value="#{moneybookersInfo.logoURL}" />
			</form>
		</f:view>
	</body>
</html>



