
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">

<ui:define name="windowtitle">
<h:outputText value="#{msgs['newCard.jsf.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>
<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size" style="color:#db0000;"><h:outputText value="#{msgs['header.myaccount.message.transactions']}"/></h1>
</ui:define>
<ui:define name="footerMsg">
<h:outputText value="#{msgs['footer.message.depositandwithdraw']}"/>
</ui:define>
<ui:define name="head">
</ui:define>
<ui:define name="showDeposit">
	<c:set var="showDeposit" value="true" />
</ui:define>
<ui:define name="menuSet">
	<c:set var="td" value="deposit" />
	<c:set var="std" value="cards" />
</ui:define>
<ui:define name="showNewCard">
	<c:set var="showNewCard" value="true" />
</ui:define>

<ui:define name="menuStripParam">
	<ui:param name="display" value="#{!user.hasDeposits ? 'false' : null}" />
</ui:define>

<ui:define name="content">

	<div class="ml10">
	  <ui:include src="/jsp/pages/paymentMethodSelector_content.xhtml"/>
	</div>

	<t:saveState value="#{reverseWithdrawForm}" />

		<h:panelGroup rendered="#{reverseWithdrawForm.listSize>0 &amp;&amp; !user.stopReverseWithdrawOption}">
			<table colspacing="0" colpadding="0" border="0" width="554px" align="#{applicationData.pageAlignment}">
			<tr align="#{applicationData.pageAlignment}">
				<td width="554px" align="#{applicationData.pageAlignment}">
					<h:outputText styleClass="info_pages_text" value="#{msgs['transactions.reverseClick']}"/>
					<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/reverseWithdraw.jsf"><h:outputText styleClass="general_link_10_active" value="#{msgs['transactions.reverseHere']}"/></a>&#160;
					<h:outputText styleClass="info_pages_text" value="#{msgs['transactions.reverseToReverse']}"/>
				</td>
			</tr>
			</table>
		</h:panelGroup>


</ui:define>
</ui:composition>
</html>
