<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

<h:panelGroup rendered="#{!empty applicationData.getBannerFile() and newCardForm.firstDeposit}">
	<img src="#{applicationData.bannerFile}" />
</h:panelGroup>
<div class="clear mt20">
	<span class="deposit_h1"><h:outputText value="#{msgs['CMS.newCardContent.text.h1']}" rendered="#{newCardForm.firstDeposit}"/></span>
	<span class="deposit_h2"><h:outputText value="#{msgs['CMS.newCardContent.text.h2']}" rendered="#{newCardForm.firstDeposit}"/></span>
</div>
<div class="full_reg_holder mt20 taL">
	<ul class="paymentMethods_ul">
		<li class="paymentMethods_li1"><!--deposit.jsf-->
			<a href="#{facesContext.externalContext.requestContextPath}/jsp/pages/deposit.jsf">
				<img src="#{applicationData.imagesPath}/banking/visa.gif" class="paymentMethods_img" border="0"/>
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.creditcards']}"/></span>
			</a>
		</li>
	</ul>
	<h:panelGroup rendered="#{applicationData.haveDirect24Option and user.skinId != 13 and user.skinId != 14 and !userRegulation.showWCErrPage and user.currencyId != 6}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'direct24_2:')">
				<img src="#{applicationData.imagesPath}/sofort.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.direct24.deposit']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['direct24_2:menu_selecter'] == 'direct24_2')?'display:block;':'display:none;'}">
				<ui:include src="/jsp/pages/directAccountFieldsContent.xhtml" ><!--direct24.jsf-->
					<ui:param name="paymentType" value="2" />
				</ui:include>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveGiropayOption and user.skinId != 13 and user.skinId != 14 and user.currencyId != 6}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'direct24_3:')">
				<img src="#{applicationData.imagesPath}/giro.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.giropay.deposit']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['direct24_3:menu_selecter'] == 'direct24_3')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/directAccountFieldsContent.xhtml" ><!--giropay.jsf-->
					<ui:param name="paymentType" value="3" />
				</ui:include>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEpsOption and user.skinId != 13 and user.skinId != 14 and !userRegulation.showWCErrPage and user.currencyId != 6}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'epsForm:')">
				<img src="#{applicationData.imagesPath}/eps.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.eps.deposit']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['epsForm:menu_selecter'] == 'eps')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/directNoAccountFieldsContent.xhtml" ><!-- eps.jsf -->
					<ui:param name="paymentType" value="4" />
				</ui:include>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.showBaroPayPaymentMethod and applicationData.userLocale.language=='kr'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'baroPayDepositForm:')">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/baropay.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['baropay.deposit.amount']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['baroPayDepositForm:menu_selecter'] == 'baropay')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/baroPay_content.xhtml" /><!-- baroPay.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and user.currencyId != 6}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<img src="#{applicationData.imagesPath}/laCaixa.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.lacaixa.deposit']}"/></span>
			</li>
			<li style="display:none;">
				<ui:include src="/jsp/pages/envoyBankSpain_content.xhtml" /><!-- envoyBankSpain.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveUkashOption and applicationData.userLocale.language!='it' and applicationData.userLocale.language!='kr' and applicationData.userLocale.language!='tr' and !commonUtil.skinRegulated}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'ukashFrom:')">
				<img src="#{applicationData.imagesPath}/uKash.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['ukash.header']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['ukashFrom:menu_selecter'] == 'ukash')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/ukash_content.xhtml" /><!-- ukash.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveCashUOption and (applicationData.userLocale.language=='es' || applicationData.userLocale.language=='tr') and user.currencyId != 6}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<span class="paymentMethods_title">CashU</span>
			</li>
			<li style="display:none;">
				<!-- envoyDepositCashU.jsf -->
				<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositForward.jsf?refresh=true&amp;method=CASHU" width="100%" height="500" scrolling="auto"></iframe>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{!userRegulation.showWCErrPage}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/bankWire.gif" class="paymentMethods_img"/>
				<span class="paymentMethods_title"><h:outputText value="#{msgs['wire.deposit.header']}"/></span>
			</li>
			<li style="display:none;padding-top:20px;">
				<ui:include src="/jsp/pages/wireDeposit_content.xhtml" /><!-- wireDeposit.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and user.currencyId != 6}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<img src="#{applicationData.imagesPath}/hsbc.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.hsbc.deposit']}"/></span>
			</li>
			<li style="display:none;">
				<ui:include src="/jsp/pages/envoyBankMexico_content.xhtml" /><!-- envoyBankMexico.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveWebmoneyOption and user.currencyId != 6 and applicationData.userLocale.language=='ru'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<span class="paymentMethods_title">Web Money</span>
			</li>
			<li style="display:none;">
				<!-- envoyDepositWebMoney.jsf -->
				<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositForward.jsf?refresh=true&amp;method=WEBMONEY" width="100%" height="500" scrolling="auto"></iframe>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.userLocale.language=='tr'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<img src="#{applicationData.imagesPath}/eft.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title">Yurtiçi Eşzamanlı Banka Havalesi</span>
			</li>
			<li style="display:none;">
				<ui:include src="/jsp/pages/eft_content.xhtml" /><!-- eft.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveWebmoneyOption and user.currencyId == 6 and applicationData.userLocale.language=='ru'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'webMoneyDepositForm:')">
				<img src="#{applicationData.imagesPath}/banking/webmoney.jpg" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['webmoney.header']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['webMoneyDepositForm:menu_selecter'] == 'webmoney')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/webMoney_content.xhtml" /><!-- webMoney.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveWebmoneyOption and user.currencyId == 6 and applicationData.userLocale.language=='ru'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<span class="paymentMethods_title">Moneta</span>
			</li>
			<li style="display:none;">
				<!-- envoyDepositMoneta.jsf -->
				<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositForward.jsf?refresh=true&amp;method=MONETA" width="100%" height="500" scrolling="auto"></iframe>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{applicationData.haveEnvoyOption and !applicationData.haveDeltaPayChina and !userRegulation.showWCErrPage and applicationData.userLocale.language!='de' and applicationData.userLocale.language!='kr' and applicationData.userLocale.language!='tr'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this)">
				<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}_#{applicationData.skinId}/domestic.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['header.deposit']}" /></span>
			</li>
			<li style="display:none;">
				<!-- envoyDeposit.jsf -->
				<iframe id="envoyIframe" name="envoyIframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/pages/envoyDepositContent_noDesign.jsf?refresh=true" width="100%" height="500" scrolling="auto"></iframe>
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{(!userRegulation.showWCErrPage and applicationData.userLocale.language!='kr') || (user.currencyId != 8 and applicationData.userLocale.language=='kr' and user.currencyId != 6)}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'moneybookersDepositForm:')">
				<img src="#{applicationData.imagesPath}/skrill.gif" class="paymentMethods_img" />
				<span class="paymentMethods_title"><h:outputText value="#{msgs['moneybookers.header']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['moneybookersDepositForm:menu_selecter'] == 'moneybookers')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/moneybookers_content.xhtml" /><!-- moneybookers.jsf -->
			</li>
		</ul>
	</h:panelGroup>
	<h:panelGroup rendered="#{user.currencyId == 7 and applicationData.userLocale.language!='kr'}">
		<ul class="paymentMethods_ul">
			<li class="paymentMethods_li1" onclick="open_deposit(this,'deltaPayForm:')">
				<img src="#{applicationData.imagesPath}/banking/unionpay.gif" class="paymentMethods_img"/>
				<img src="#{applicationData.imagesPath}/banking/visach.gif" class="paymentMethods_img"/>
				<img src="#{applicationData.imagesPath}/banking/mastercard.gif" class="paymentMethods_img"/>
				<span class="paymentMethods_title"><h:outputText value="#{msgs['deltapay.header']}"/></span>
			</li>
			<li style="#{(facesContext.externalContext.requestParameterMap['deltaPayForm:menu_selecter'] == 'deltapay')?'display:block;':'display:none'}">
				<ui:include src="/jsp/pages/cupDepositContent.xhtml" /><!-- deltaPayDeposit.jsf -->
			</li>
		</ul>
	</h:panelGroup>

	<h:panelGroup rendered="#{newCardForm.firstDeposit}">
		<ui:include src="/jsp/reg_progress.xhtml" >
			<ui:param name="active2" value="selected" />
		</ui:include>
	</h:panelGroup>
</div>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['direct24_2:menu_selecter'] == 'direct24_2'}">
			<script>set_deposit_prefix('direct24_2:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['direct24_3:menu_selecter'] == 'direct24_3'}">
			<script>set_deposit_prefix('direct24_3:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['epsForm:menu_selecter'] == 'eps'}">
			<script>set_deposit_prefix('epsForm:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['baroPayDepositForm:menu_selecter'] == 'baropay'}">
			<script>set_deposit_prefix('baroPayDepositForm:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['ukashFrom:menu_selecter'] == 'ukash'}">
			<script>set_deposit_prefix('ukashFrom:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['webMoneyDepositForm:menu_selecter'] == 'webmoney'}">
			<script>set_deposit_prefix('webMoneyDepositForm:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['moneybookersDepositForm:menu_selecter'] == 'moneybookers'}">
			<script>set_deposit_prefix('moneybookersDepositForm:');</script>
		</h:panelGroup>
		<h:panelGroup rendered="#{facesContext.externalContext.requestParameterMap['deltaPayForm:menu_selecter'] == 'deltapay'}">
			<script>set_deposit_prefix('deltaPayForm:');</script>
		</h:panelGroup>
</f:view>
