<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<ui:composition template="/jsp/#{applicationData.templatesDirectory}/template_my_account.xhtml">
<ui:define name="windowtitle">
<h:outputText value="#{msgs['CMS.reg_quest_service.text.window.title']}"/>
</ui:define>
<ui:define name="header">
<h:outputText value="#{msgs['header.title']}"/>
</ui:define>

<ui:define name="title"><span class="title_size">#{msgs['header.myaccount']}</span></ui:define>
<ui:define name="title_message">
	<h1 class="account_title title_desc_size">
		<h:outputText value="#{msgs['CMS.reg_quest_service.text.header']}"/>
	</h1>
</ui:define>

<ui:define name="menuSet">
	<c:set var="td" value="personal" />
	<c:set var="std" value="questionnaire" />
</ui:define>
<ui:define name="content">

<div class="mandatory_notapproved_container"> 
	<h1><h:outputText value="#{msgs['CMS.reg_quest_service.text.heading.part.1']}#{user.firstName}#{msgs['CMS.reg_quest_service.text.heading.part.2']}"/></h1>
	<p>
		<h:outputText value="#{msgs['CMS.reg_quest_service.text.paragraph.part.1']}"/>
		<a href="mailto:#{msgs['CMS.reg_quest_service.text.paragraph.part.2']}">#{msgs['CMS.reg_quest_service.text.paragraph.part.2']}</a>
		<h:outputText value="#{msgs['CMS.reg_quest_service.text.paragraph.part.3']}#{userRegulation.supportPhone}#{msgs['CMS.reg_quest_service.text.paragraph.part.4']}"/>
	</p>
</div>

</ui:define>
</ui:composition>

</html>