<form class="form" name="_form" novalidate>
	<div class="common-error" ng-if="_form.$error.required.length > 0 && _form.$submitted">
		<span>{{::$ctrl._u.getMsg('error-required')}}</span>
	</div>
	
	<div class="row fit-in-one-row">
		<div class="field-error" set-error-class="_form.firstName">
			<input class="input" type="text" name="firstName" smart-placeholder="::$ctrl._u.getMsg('first-name')" ng-model="$ctrl.form.firstName" 
				required restrict-letters/>
			<input-errors field="_form.firstName"></input-errors>
		</div>
		<div class="field-error" set-error-class="_form.lastName">
			<input class="input last" type="text" name="lastName" smart-placeholder="::$ctrl._u.getMsg('last-name')" ng-model="$ctrl.form.lastName" 
				required restrict-letters/>
			<input-errors field="_form.lastName"></input-errors>
		</div>
		<i class="field-icon username"></i>
	</div>

	<div class="row field-error" set-error-class="_form.email">
		<input class="input last" type="email" name="email" smart-placeholder="::$ctrl._u.getMsg('email-address')" ng-model="$ctrl.form.email" 
			required server-error ng-blur="$ctrl.insertAttempt(_form)"/>
		<i class="field-icon email">@</i>
		<input-errors field="_form.email"></input-errors>
	</div>

	<div class="row fit-in-one-row phone-box field-error" set-error-class="_form.mobilePhone">
		<div class="pretty-select arrow" set-error-class="_form.mobilePhone">
			<select name="country" ng-model="$ctrl.formSelect.country" ng-options="country.displayName for country in $ctrl.countries" required></select>
			<span>+ {{$ctrl.formSelect.country.phoneCode}}</span>
			<input-errors field="_form.country"></input-errors>
			<!-- <single-select name="country" ng-model="$ctrl.formSelect.country"></single-select> -->
		</div>
		<div>
			<input class="input" type="tel" name="mobilePhone" smart-placeholder="::$ctrl._u.getMsg('phone-number')" ng-model="$ctrl.form.mobilePhone" required restrict-digits ng-minlength="7" server-error ng-blur="$ctrl.insertAttempt(_form)"/>
			<i class="field-icon phone"></i>
			<input-errors field="_form.mobilePhone"></input-errors>
		</div>
	</div>
	
	<div class="row field-error" ng-class="{'password-hint': $ctrl.form.password.length > 0 }" set-error-class="_form.password">
		<input class="input" id="password" type="password" name="password" smart-placeholder="::$ctrl._u.getMsg('password')" ng-model="$ctrl.form.password" ng-model-options="{allowInvalid: true}" required ng-minlength="6" server-error/>
		<span class="field-icon show-hide-password" onclick="showPassowrd('password', this)"></span>
		<i class="field-icon password"></i>
		<div>
			<input-errors field="_form.password"></input-errors>
		</div>
	</div>

	<!-- <div class="row">
		<div class="box error" set-error-class="_form.password" ng-class="{'password-hint': $ctrl.form.password.length > 0 }">
			<label class="label password-icon"></label>
			<div class="pR">
				<input class="input last" id="password" type="password" name="password" placeholder="{{::$ctrl._u.getMsg('password')}}" ng-model="$ctrl.form.password"
					ng-model-options="{allowInvalid: true}"	required ng-minlength="6" server-error/>
				<span class="show-password" onclick="showPassowrd('password')"></span>
			</div>
		</div>
		<div>
			<input-errors field="_form.password"></input-errors>
		</div>
	</div> -->
	
	<div class="row">
		<label>
			<input type="checkbox" name="terms" ng-model="$ctrl.form.terms" 
				required />
			<span class="checkbox field-error" set-error-class="_form.terms"></span>
			<span class="accept-terms" compile="$ctrl.reneralTerms"></span>
		</label>
		<div>
			<input-errors field="_form.terms"></input-errors>
		</div>
	</div>
	
	<div class="row taC">
		<button class="button blue" type="submit" ng-class="{ loading: $ctrl.inAction }" ng-click="$ctrl.submit(_form)">
			<span>{{::$ctrl._u.getMsg('open-account')}}</span>
		</button>
	</div>
	
	<global-errors errors="$ctrl._errorArray"></global-errors>
</form>