html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, th, img {
	border-width: 0;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-size: 14px;
	text-align: left;
	background: url(images/bg.png);
	direction: ltr;
}
select, input, img {
	margin: 0 auto;
	vertical-align: middle;
}
* {
	margin: 0px;
	padding: 0px;
}
a:link, a:visited, a:active {
	color: #0072c9;
}
a:hover {
	color: #e9800f;
	text-decoration: underline;
}
.f1 {
	color: #d00000;
	font-size: 28px;
	font-weight: bold;
}
.f2 {
	font-size: 20px;
	font-weight: bold;
}
.f3 {
	text-align: right;
}
#top {
	width: 100%;
	height: 85px;
	background: url(images/warp_bg.jpg) top center;
	border-bottom: 5px solid #1a61a2;
	margin: 0 0 10px 0; 
	padding-top: 15px;	
}
#top div {width: 1000px; margin: 0 auto; text-align: left;}
#body {
	width: 1000px;
	margin: auto;
}
#body .b_top {
	width: 1000px;
	height: 17px;
	background: url(images/top_bg.png);
}
#body .b_bottom {
	width: 1000px;
	height: 19px;
	background: url(images/bottom_bg.png);
}
#body .middle {
	width: 976px;
	background: url(images/middle_bg.png);
	overflow: hidden;
	padding: 0 12px;
}
#body .middle .left {
	width: 675px;
	float: left;
}
h3 {
	line-height: 40px;
}
#body .middle .left .tv {
	height: 50px;
	line-height: 50px;
}
#body .middle .left .video {
	width: 675px;
	height: 380px;
	margin: 10px 0;
}
h2 {
	line-height: 40px;
	color: #FF0000;
	font-size: 16px;
	font-weight: bold;
}
h1 {
	line-height: 30px;
	font-size: 14px;
	margin: 5px 0 0 0;
}
p {
	line-height: 24px;
	WORD-WRAP: break-word;
}
#body .middle .left .feet {
	width: 651px;
	height: 62px;
	background: url(images/feet_bg.png);
	line-height: 62px;
	font-size: 24px;
	color: #093755;
	margin: 10px 0 0 0;
	font-weight: bold;
	padding: 0 10px;
}
#body .middle .right {
	width: 285px;
	margin: 0 0 0 12px;
	float: left;
}
#body .middle .right .bb {
	width: 255px;
	background: url(images/right_bg.png) top left repeat-y;
	padding: 15px 20px 0 10px;
	overflow: hidden;
}
#body .middle .right .bb .pc {
	float: left;
	height: 100px;
	width: 75px;
	margin: 0 10px 0 0;
}
h4 {
	line-height: 30px;
	font-size: 14px;
	margin: 0px 0 20px 0;
}
#body .middle .right .bb p {
	line-height: 20px;
}
#body .middle .right .bb .i {
	margin: 3px 0;
}
#body .middle .right .bo {
	width: 285px;
	height: 32px;
	background: url(images/right_bottom.png) top left no-repeat;
}
