<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	 <ui:include src="/jsp/dynamicLP/AO/es/editorial_2.xhtml"></ui:include>
	<c:if test="${!applicationData.isLocal}">
		<ui:include src="/jsp/dynamicLP/AO/googleTag.xhtml" />
		<ui:include src="/jsp/dynamicLP/AO/google.xhtml" />
	</c:if>
</html>
