<f:view  xmlns:ui="http://java.sun.com/jsf/facelets"
	    xmlns:f="http://java.sun.com/jsf/core"
	    xmlns:h="http://java.sun.com/jsf/html"
	    xmlns:c="http://java.sun.com/jsp/jstl/core"
	    xmlns:t="http://myfaces.apache.org/tomahawk"
	     >

<script>
	function closeWindow(){
		document.getElementById("contactDiv").parentNode.style.display = 'none';
	}
</script>

<div id="contactDiv" style="width: 243px; border: 1px solid #093755; font-family: Arial, Helvetica, sans-serif; font-size: 8.5pt; color: #777">
	<img src="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/landing-contactus.gif" border="0" vspace="0" hspace="0" width="243px" height="54px"/>
	<div style="margin: 20px;">
		<img src="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/phones.png" border="0" vspace="0" hspace="0" width="184px" height="248px"/>
		<p align="center"><input type="image" id="" name="" src="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/landing-close.png" style="width: 67px; height: 21px;cursor:pointer;" border="0" onmousedown="closeWindow();"/></p>
	</div>
</div>

</f:view>
