
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title></title>
	</head>
	<body style="background-color: transparent;margin: 0;" >
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/styles.#{applicationData.skinId}.css" />
	<script>
		function closeWindow(){
			parent.document.getElementById("callMeDiv").style.display = "none"
		}
	</script>
	<style>

		input{height: 24px; border: 1px solid #8b8b8b; color: #093755; margin-top: 10px; width:122px; font-size:10px; padding:3px}
		select{line-height:24px; display:block;
		height: 24px; border: 1px solid #8b8b8b; color: #093755; margin-top: 10px; width:122px; font-size:11px; padding:3px}

		span { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#093755; }

		.pop-up-registration-page { border: solid 1px #093755; background-color:#f2f2f2;}

		.title-pop-up {height:46px; background-color:#093755; }

		.button-pop-up { float:right; margin-right:10px; }
		.button-pop-up a{font-family:Arial, Helvetica, sans-serif; color:#FFF; font-size:10px; text-decoration:none; padding:5px; }

	</style>
	<f:view locale="#{applicationData.userLocale}">
		
			<div class="pop-up-registration-page" style="width:146px; height:248px;">
				<div class="title-pop-up">
					<table width="146" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="36"><img src="#{applicationData.imagesPath}/ao/yelloLanding/icone-call-me.gif" width="21" height="36" style=" margin:10px 0 0 10px" /></td>
							<td width="92" style="color:#FFF; font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold"><h:outputText escape="false" value="#{msgs['rightside.call_me']}" /></td>
						</tr>
					</table>
				</div>
				<div style=" margin: 10px; text-align:center;">
					<span style=" font-weight:bold;">
						<br /><br />
						<h:outputText value="#{msgs['contactme.thankyou']}"/><br/><br/>
						<h:outputText value="#{msgs['contactme.body.row1']}"/>
						<h:outputText value="#{msgs['contactme.body.row2']}"/>
						<br /><br /><br />
					</span>
				</div>
					<div class="button-pop-up">
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="#{applicationData.imagesPath}/ao/yelloLanding/button-pop-up_left.gif" width="6" height="20" /></td>
								<td style=" background-image: url(#{applicationData.imagesPath}/ao/yelloLanding/button-pop-up_normal.gif)"><a  onmousedown="closeWindow();">#{msgs['newFeatures.close']}</a></td>
								<td><img src="#{applicationData.imagesPath}/ao/yelloLanding/button-pop-up_right.gif" width="6" height="20" /></td>
							</tr>
						</table>
					</div>
			</div>
		</f:view>
	</body>
</html>
