<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Untitled Document</title>
	</head>
	<body style="background-color: transparent;margin: 0;" >
	<script src="#{facesContext.externalContext.requestContextPath}/js/ajax.js"></script>
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/styles.#{applicationData.skinId}.css" />
	<script>

	var skinId = #{applicationData.skinId};

	function SetEnd(TB) {

		if (TB.createTextRange) {
			var FieldRange = TB.createTextRange();
			FieldRange.moveStart('character', TB.value.length);
			FieldRange.collapse();
			FieldRange.select();
		}
	}

		function changePhoneCodeByCountry() {
		    var countryId = document.getElementById("contactMeForm:countriesList").value;
		    var url = "ajax.jsf?countryId=" + countryId;
		    var ajax = new AJAXInteraction(url, changePhoneCodeByCountryCallback);
		    ajax.doGet();
		}

		function changePhoneCodeByCountryCallback(responseXML) {

		   var codeValue = responseXML.getElementsByTagName("phoneCode")[0].firstChild.nodeValue;
	   	   var phoneCodeElm = document.getElementById("contactMeForm:myPhone");
		   phoneCodeElm.value = "00-"+codeValue+"-";

		}
		function changeCountriesListSize(){
			navigator.userAgent.toLowerCase().indexOf("msie") != -1 ? document.getElementById('contactMeForm:countriesList').style.width='126px' : document.getElementById('contactMeForm:countriesList').style.width='124px';
		}

		function gowait(elementId, elementTostartId, picname) {
		   	document.getElementById(elementId).src = picname;

			window.setTimeout( function() {
				var wg = document.getElementById(elementId);
				wg.src = wg.src; }, 50);

			document.getElementById(elementId).disabled = true; // disable click on commandButton
		}


		function closeWindow(){
			parent.document.getElementById("callMeDiv").style.display = "none"
		}

	</script>
	<f:view locale="#{applicationData.userLocale}">
		
		<t:saveState value="#{contactMeForm}" />
			<div style="background-color: #ffffff;width: 144px; border: 1px solid #093755; font-family:Arial, Helvetica, sans-serif; font-size: 8.5pt; color: #777">
				<table width="144px" height="41px" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td style="background-image: url(../../../images/ao/#{applicationData.userLocale.language}/landing-call-me-header.gif);padding-top:1px;padding-right:1px;" valign="top">
							<img src="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/drop_chart/slip_x_12px.jpg" style="cursor:pointer;" border="0" vspace="0" hspace="0" align="right" onmousedown="closeWindow();" />
						</td>
					</tr>
				</table>
				<h:form id="contactMeForm">
					<div style="margin: 10px;">
						#{msgs['banner.contactme.name']}:<br />
						<h:inputText  maxlength="20" id="contactName" style="width: 121px;" value="#{contactMeForm.contactName}" ></h:inputText>
						#{msgs['banner.contactme.email']}:<br />
						<h:inputText  id="email" style="width: 121px;" maxlength="50" value="#{contactMeForm.email}" >
							<f:validator validatorId="org.apache.myfaces.validator.Email"/>
			        	</h:inputText>
						#{msgs['banner.contactme.phone']}:<br />
						<h:inputText style="width: 121px;" maxlength="19" id="myPhone" value="#{contactMeForm.mobilePhone}" />
						#{msgs['banner.contactme.country']}:<br />
			            <h:selectOneMenu id="countriesList" value="#{contactMeForm.countryId}" required="true" onchange="changePhoneCodeByCountry();" size="1" style="font-family:Tahoma;font-size:8.5pt;width: 124px; border: 1px solid #7f9db9; color: #7f9db9; margin-bottom: 5px "  >
				       		<f:selectItems value="#{contactMeForm.countries}" />
				        </h:selectOneMenu>
						<br />
						<p align="center">
							<t:commandButton
								style="width: 67px; height: 21px;" id="button"
				         		image="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/landing-submit.png"
				         		onclick="gowait('contactMeForm:button','contactMeForm:hiddenbtn','#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/landing-submit.png');
				         				 return myfaces.oam.submitForm('contactMeForm','contactMeForm:hiddenbtn');" >
				         	</t:commandButton>
						    <h:commandLink action="#{contactMeForm.sendEmailAnyoptionCallMeLanding}" id="hiddenbtn" style="display:none"/>
						</p>
						&#160;<h:outputText value="#{commonUtil.firstErrorMessage}" rendered="#{commonUtil.hasErrorMessages}" styleClass="error_messages" style="width: 121px;" />
					</div>
				</h:form>
			</div>
		</f:view>
	</body>
</html>