<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<SCRIPT src="#{facesContext.externalContext.requestContextPath}/js/common.js" type="text/javascript"></SCRIPT>
	<script src="#{facesContext.externalContext.requestContextPath}/js/swfobject_modified.js" type="text/javascript"></script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/popupLandingPage.js" type="text/javascript"></script>
    <script>
    <!--
    
    	var LIGHTBOX_WIDTH = 418;
    	var displayForgotPass = false;
        
        function openOverlay() {
            var overlay = document.getElementById("Overlay");
            overlay.style.height = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight) + "px";
            overlay.style.display = "block";
        }
        function closeLightBox(id) {
            var overlay = document.getElementById("Overlay");
            var box2 = document.getElementById(id);
            box2.style.display = "none";
            overlay.style.display = "none";
        }
        function openformbox(id) {
            var box = document.getElementById(id);
            openOverlay();
            box.style.display = "block";            
			box.style.left = ((getWidth() - LIGHTBOX_WIDTH) / 2) + "px";
            //document.forms[0][0].focus();
        }
        function getWidth() {
            w = self.innerWidth || (document.documentElement.clientWidth || document.body.clientWidth);
            if (w < 1200) w = 1200;
            return w;
        }
        function chackForm(id) {
            openformbox(id);
            return false;
        }
        function load() {
            document.forms[0][0].focus();
        }
        function openTermsbox(id) {
            var box = document.getElementById(id);
            openOverlay();
            box.style.visibility = "visible";
            box.style.left = ((getWidth() - LIGHTBOX_WIDTH) / 2) + "px";
            document.forms[0][0].focus();
        }
        function closeTermsbox(id) {
            var overlay = document.getElementById("Overlay");
            var box2 = document.getElementById(id);
            box2.style.visibility = "hidden";
            overlay.style.display = "none";
        }
        function openFormBox2 () {
			var old_box = document.getElementById("lightbox");
			var box = document.getElementById("lightform");

			openOverlay();
			old_box.style.display = "none";
			box.style.display = "block";
			box.style.left = ((getWidth() - LIGHTBOX_WIDTH) / 2) + "px";
		}
    -->	
    </script>
	<div id="page" class="page">
        <div id="header" class="main">
        	<div class="reg-logo">
        		<p>
        			<h:outputText value="#{msgs['lp.remarketing.rnd.eu.regulated']}" escape="false"/>
        		</p>
        	</div>
            <div id="title">
                <h1>
                    <h:outputText value="#{msgs['lp.remarketing.giving.bonus']}" escape="false"/>
                </h1>
            </div>
            <div class="content_val" style="background: url(#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/bg_content_mdl_#{applicationData.userLocale.language}.png) no-repeat center 20px;">
                <div class="content_left">
                    <h:outputText value="#{msgs['lp.remarketing.you.deposit']}" escape="false"/>
                    <div class="orange">
                        <h:outputText value="#{msgs['lp.remarketing.you.deposit.option1']}" escape="false"/>
                    </div>
                    <div class="yellow">
                        <h:outputText value="#{msgs['lp.remarketing.you.deposit.option2']}" escape="false"/>
                    </div>
                    <div class="blue">
                        <h:outputText value="#{msgs['lp.remarketing.you.deposit.option3']}" escape="false"/>
                    </div>
                </div>
                <div class="content_center">
                    	<h:outputText value="#{msgs['lp.remarketing.your.deposit']}" escape="false"/> 
                    	<a  class="claim_your_bonus_button" onclick="javascript:chackForm('lightform2');return false;">
                    	<img src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/button_#{applicationData.userLocale.language}.png" width="407" height="78" alt="Bonus İddia" />
                    </a>
                </div>
                <div class="content_right">
                    <h:outputText value="#{msgs['lp.remarketing.percent.deposit']}" escape="false"/>
                    <div class="orange">
                        <strong class="large"><h:outputText value="#{msgs['lp.remarketing.percent.deposit.option1']}" escape="false"/></strong>
                    </div>
                    <div class="yellow">
                        <h:outputText value="#{msgs['lp.remarketing.percent.deposit.option2']}" escape="false"/>
                    </div>
                    <div class="blue">
                        <h:outputText value="#{msgs['lp.remarketing.percent.deposit.option3']}" escape="false"/>
                    </div>
                </div>
                <div class="separator">
                </div>
            </div>
            <div class="content_btm">
                <h4>
                    <h:outputText value="#{msgs['lp.remarketing.rnd.anyoption.reason']}" escape="false"/>
                </h4>
                <ul class="bottom_list">
                    <li><h:outputText value="#{msgs['lp.remarketing.anyoption.reason1']}" escape="false"/></li>
                    <span>&#160;</span>
                    <li><h:outputText value="#{msgs['lp.remarketing.anyoption.reason2']}" escape="false"/></li>
                    <span></span>
                    <li>
                    	<h:outputText value="#{msgs['lp.remarketing.rnd.anyoption.reason3']}" escape="false"/>
                    	<strong class="red">*</strong>
                    </li>
                    <span></span>
                    <li>
                    	<h:outputText value="#{msgs['lp.remarketing.rnd.anyoption.reason4']}" escape="false"/>
                    </li>
                </ul>
            </div>
            <div class="footer">
            	<div class="regulated">
            		<div>
            			<p>
            				<h:outputText value="#{msgs['lp.remarketing.rnd.anyoption.we.regulated']}" escape="false"/>
            			</p>
            			<img src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/regulated_#{applicationData.userLocale.language}.png" alt="" />
            		</div>
            	</div>
                <div class="icons">
                    <div class="icon_space">
                        <img  title="#{msgs['footer.trademark']}" border="0" alt="#{msgs['footer.trademark']}"
                            width="29" height="27" src="#{applicationData.imagesPath}/icons/ao_tm.jpg" />
                    </div>
                    <div class="icon_space">
                        <img width="112" height="27" border="0" title="#{msgs['footer.reuters']}"
                            src="#{applicationData.imagesPath}/icons/reuters_new.jpg" alt="#{msgs['footer.reuters']}" />
                    </div>
                    <div class="icon_space">
                        <a onclick="window.open('https://sealinfo.thawte.com/thawtesplash?form_file=fdf/thawtesplash.fdf&amp;dn=WWW.ANYOPTION.COM&amp;lang=en', 'myWin', 'status, width=500, height=600,left=100,top=10'); return false"
                            style="cursor: pointer;" target="_blank">
                            <img width="95" height="27" border="0" alt="#{msgs['footer.thawte']}" title="#{msgs['footer.thawte']}"
                                src="#{applicationData.imagesPath}/icons/thawte.gif" />
                        </a>
                    </div>
                    <div class="icon_space">
                        <img width="42" height="27" border="0" title="#{msgs['footer.21']}"
                            src="#{applicationData.imagesPath}/landing_Contactus/21.jpg" alt="" />
                    </div>
                </div>
                <div class="footer_text">
                	<strong class="red">*</strong>
                	<h:outputText value="#{msgs['lp.remarketing.rnd.footer']}" escape="false"/>
                </div>
            </div>
        </div>
    </div>
    <!-- important tag! -->
<div id="lightbox">
</div>
    <div id="lightform2">
        <iframe align="middle" id="signIniframe" name="signIniframe" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/dynamicLP/AO/signInLP_Google_AO_RnDBonus_Clean.jsf?KeepThis=true&amp;TB_iframe=true&amp;modal=true" width="418px" height="470px" scrolling="no"
			allowtransparency="true" >
			<ui:param name="page" value="_Google_AO_RMBonus_Clean" />
		</iframe>
    </div>
    <div id="lightform3">
        <iframe align="middle" id="passwordiframe" name="passwordiframe" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/dynamicLP/AO/passwordLP_Google_AO_RnDBonus_Clean.jsf" width="418px" height="470px" scrolling="no"
			allowtransparency="true" />
    </div>
    <div id="lightform4">
    </div>
    <div id="lightform5">
        <iframe align="middle" id="signInAfterResetPassiframe" name="signInAfterResetPassiframe" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/dynamicLP/AO/signInAfterForgotPassLP_Google_AO_RnDBonus_Clean.jsf" width="418px" height="470px" scrolling="no"
			allowtransparency="true" />
    </div>
    <div id="termsbox" style="top: 200px; display: block; visibility: hidden;">
    	<div class="form_logo">
            <img src="#{applicationData.imagesPath}/landing_Contactus/LP_Google_AO_RnDBonus_Clean/form_logo.png" alt="logo" />
        </div>
        <h3 class="form_title">
    		<h:outputText value="#{msgs['lp.remarketing.terms.title']}" escape="false"/>
        </h3>
        <iframe align="middle" id="termsboxiframe" name="termsboxiframe" frameborder="no"
			src="#{facesContext.externalContext.requestContextPath}/jsp/dynamicLP/AO/termsConditionsLP.jsf" width="520px" height="495px" scrolling="no"
			allowtransparency="true" />
		<div id="lightbox_close" onclick="closeTermsbox('termsbox');">
    	</div>
    </div>
    <div id="Overlay"></div>          
</f:view>