<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

<ui:include src="/jsp/dynamicLP/AO/70_generic_short_content.xhtml">
	<ui:param name="type" value="testimonials" />
	<ui:param name="bannerHeight" value="520" />
	<ui:param name="page" value="_testimonials_women" />
	<ui:param name="newURL" value="true" />
</ui:include>

</f:view>