<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

<head>
	<title>#{msgs['specialCode.title']}</title>
	<META NAME="description" content="#{msgs['specialCode.description']}" />
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="#{facesContext.externalContext.requestContextPath}/css/LP/styles.#{applicationData.skinId}.css" />
	<script language="javascript">
		// switch picture
		function Changepic(elementId,picname) {
			var btn_img = document.getElementById(elementId);
			btn_img.src = picname;
		}
	</script>
</head>
<body style="font-family: Verdana, Geneva, sans-serif;" bgcolor="#e1e1e1">
	<f:view locale="#{applicationData.userLocale}">

	<table width="970" border="0" cellspacing="0" cellpadding="0"  class="border_SC" align="center" >
	<tr>
    <td height="103"><table width="970" border="0" cellspacing="0" cellpadding="0"  >
        <tr>
        	<td width="7" background="#{applicationData.imagesPath}/landing_Contactus/header.gif"></td>
          <td height="103" background="#{applicationData.imagesPath}/landing_Contactus/header.gif">
          	<img src="#{applicationData.imagesPath}/landing_Contactus/options_trading_anyoption.gif" /></td>
        </tr>
        <tr>
          <td colspan="2" height="28px" background="#{applicationData.imagesPath}/landing_Contactus/ticker1px.gif">&#160;</td>
        </tr>
        <tr>
          <td colspan="2"><table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td width="24"></td>
                <td width="582" ><img src="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/nav_off.jpg" width="582" height="43" /></td>
                <td>&#160;</td>
                <td width="53"></td>
              </tr>
            </table></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table width="970" cellpadding="0" cellspacing="0">
        <tr>
          	<td width="24">&#160;</td>
          	<td>
				<table width="720" height="540" border="0" cellpadding="0" cellspacing="0" align="center">
			  		<tr>
					    <td rowspan="3" background="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/left.gif" width="185" height="540"></td>
					    <td background="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/top.gif" width="350" height="221"></td>
					    <td rowspan="3" background="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/right.gif" width="185" height="540"></td>
					</tr>
			  		<tr>
			    		<td background="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/middle.gif" width="350" height="132" >
			    			<table align="center" width="100%" cellspacing="0" cellpadding="0">
								<h:form id="specialCodeForm">
				        			<tr>
				          				<td align="center" class="btn_txt_SC">
								          	<h:outputLabel for="code" value="#{msgs['specialCode.enterCode']}" />
										</td>
								 	</tr>
									<tr>
				          				<td align="center">
				          					<h:inputText id="code" maxlength="15" value="#{specialCodeForm.code}" required="true">
				          						<f:validateLength minimum='1' maximum='15'/>
				          					</h:inputText>
				          				</td>
							        </tr>
							        <tr>
							        	<td align="center" valign="center" height="13">
							        		<t:message id="codeError" for="code" replaceIdWithLabel="true" styleClass="sp_error_SC"/>
							        	</td>
							        </tr>
							        <tr>
							          	<td align="center" height="10"></td>
							        </tr>
							        <tr>
							          	<td align="center">

								          	<t:commandButton
								       			id="btnImage"
								         		image="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/sendcode_u.jpg"
								         		onmouseover="Changepic('specialCodeForm:btnImage','#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/sendcode_d.jpg')"
								         		onmouseout="Changepic('specialCodeForm:btnImage','#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/sendcode_u.jpg')"
							         			action="#{specialCodeForm.registerCode}">
						         			</t:commandButton>


							          	</td>
							        </tr>
							        <tr>
							          	<td align="center" height="10"></td>
							        </tr>
							        <tr>
							          	<td align="center" height="10" class="sp_error_SC"></td>
							        </tr>
						       </h:form>
					      	</table>
						</td>
			  		</tr>
				  	<tr>
				    	<td background="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/bottom.gif" width="350" height="187"></td>
				  	</tr>
				</table>
			</td>
          	<td width="17"></td>
          	<td width="186" ><table width="186" cellpadding="0" cellspacing="0">
              <tr>
                <td><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="186" height="498">
                    <param name="movie" value="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/sc.swf" />
                    <param name="quality" value="high" />
                    <param name="wmode" value="opaque" />
                    <param name="swfversion" value="6.0.65.0" />
                    <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
                    <param name="expressinstall" value="Scripts/expressInstall.swf" />
                    <object type="application/x-shockwave-flash" data="#{applicationData.imagesPath}/ao/#{applicationData.userLocale.language}/specialCode/sc.swf" width="186" height="498">
                      <param name="quality" value="high" />
                      <param name="wmode" value="opaque" />
                      <param name="swfversion" value="6.0.65.0" />
                      <param name="expressinstall" value="Scripts/expressInstall.swf" />
                    </object>
                  </object></td>
              </tr>
            </table></td>
          <td width="24">&#160;</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td height="24"></td>
  </tr>
</table>
<br/>
<table width="970" cellspacing="0" cellpadding="30" align="center" class="border_SC" dir="#{applicationData.pageDirection}">
  <tr align="center">
    <td class="footer_text" align="center"><strong><h:outputText value="#{msgs['anyoption.title']}"/></strong><br/>
	<h:outputText escape="false" value="#{msgs['anyoption.footer']}"/>
	</td>
  </tr>
</table>

	</f:view>
</body>
</html>