<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<body>
<ui:composition template="/mobile/templates/template_no_padding.xhtml">
	<ui:define name="windowtitle">
		<h:outputText value="#{msgs['mobile.window.title.banking']}"/>
	</ui:define>
	<ui:define name="pageTitle">
		#{msgs['rightnav.deposit.withdraw']}
	</ui:define>
	<ui:define name="leftSideHeader">
		<ui:include src="/mobile/backToPage.xhtml" >
			<ui:param name="url" value="#{facesContext.externalContext.requestContextPath}/mobile/mainMenu.jsf" />
		</ui:include>
	</ui:define>
	<ui:define name="content">
		<h:form id="bankingForm">
			<script>
				function setStorage(elm) {
					var tempArray = elm.getElementsByTagName("span");
					var paymentMethodName = tempArray[0].innerHTML;
					var paymentMethodType = elm.getAttribute('name');

					// set data in the sessionStorage
					sessionStorage.setItem('bankingHeader', paymentMethodName);
					sessionStorage.setItem('paymentType', paymentMethodType);
				}
			</script>

			<!-- Filters -->
			<div id="countryFilter" class="subhead" align="center" >
				<div class="float_left" style="width:50%;height:30px;">
					<h:outputText class="bankingText" value="#{msgs['banking.choose.country']}"/>
				</div>

				<div class="float_left" style="width:50%;">
					<h:selectOneMenu disabled="#{applicationData.usSkins}" styleClass="new_combobox width_100_prc" style="width:100%;margin-top: 8px;" id="countriesList" 
						value="#{bankingForm.countryId}" onchange="this.form.submit();"
						valueChangeListener="#{bankingForm.updateCountry}">
						<f:selectItems value="#{applicationData.countriesList}" />
					</h:selectOneMenu>
				</div>
			</div>

			<div id="mainDiv" style="line-height:30px;">
				<!-- CREDIT CARDS -->
				<div name="creditCard" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
					<div class="banking_div blue_link">
						&#160;&#160;
						<h:outputText id="creditCardText" value="#{msgs['header.creditcards']}" />&#160;
						<h:outputText escape="false"  value="#{msgs['box.profitline.arrow']}"/>
					</div>
				</div>

				<!-- LA CAIXA LINEA ABIERTA -->
				<h:panelGroup rendered="#{applicationData.haveEnvoyBankSpainOption}">
					<div name="laCaixa" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="laCaixaText" 	value="#{msgs['payment.type.lacaixa']}"/>&#160;
							<h:outputText escape="false" 	value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- CASHU -->
				<h:panelGroup rendered="#{applicationData.haveCashUOption}">
					<div name="cashU" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="cashUText" value="#{msgs['payment.type.cashu']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- ACH -->
				<h:panelGroup rendered="#{applicationData.haveACHOption}">
					<div name="ach" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="achText" value="#{msgs['payment.type.ach']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- EPS -->
				<h:panelGroup rendered="#{applicationData.haveEpsOption}">
					<div name="eps" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="epsText" value="#{msgs['payment.type.eps']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- GIROPAY -->
				<h:panelGroup rendered="#{applicationData.haveGiropayOption}">
					<div name="giropay" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="giropayText" value="#{msgs['payment.type.giropay']}"/>&#160;
							<h:outputText escape="false" 	value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- SOFORTUEBERWEISUNG -->
				<h:panelGroup rendered="#{applicationData.haveDirect24Option}">
					<div name="sofortueberweisung" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="sofortueberweisungText" value="#{msgs['payment.type.direct24']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- WIRE TRANSFER -->
				<div name="wireTransfer" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
					<div class="banking_div blue_link">
						&#160;&#160;
						<h:outputText id="wireTransferText" value="#{msgs['header.bank.wire']}"/>&#160;
						<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
					</div>
				</div>
				<!-- DOMESTICE PAYMENTS -->
				<h:panelGroup rendered="#{applicationData.haveEnvoyOption}">
					<div name="domesticePayments" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="domesticePaymentsText" value="#{msgs['header.envoy']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- TELEINGRESO -->
				<h:panelGroup rendered="#{applicationData.haveTeleingresoOption}">
					<div name="teleingreso" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="teleingresoText" value="#{msgs['payment.type.teleingreso']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- POLI 2 -->
				<h:panelGroup rendered="#{applicationData.havePoil2Option}">
					<div name="poli2" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="poli2Text" value="#{msgs['payment.type.poli2']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- BARCODE SANTANDER -->
				<h:panelGroup rendered="#{applicationData.haveSantanderOption}">
					<div name="barcodeSantander" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="barcodeSantanderText" value="#{msgs['payment.type.barcodesantander']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- HSBC -->
				<h:panelGroup rendered="#{applicationData.haveEnvoyBankMexicoOption}">
					<div name="hsbc" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="hsbcText" value="#{msgs['payment.type.hsbc']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- IDEAL -->
				<h:panelGroup rendered="#{applicationData.haveIdealOption}">
					<div name="ideal" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="idealText" value="#{msgs['payment.type.ideal']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- MONETA -->
				<h:panelGroup rendered="#{applicationData.haveMonetaOption}">
					<div name="moneta" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="monetaText" value="#{msgs['payment.type.moneta']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
				<!-- UKASH -->
				<h:panelGroup rendered="#{applicationData.haveUkashOption}">
					<div name="ukash" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking_content.jsf'" class="blue_link">
						<div class="banking_div blue_link">
							&#160;&#160;
							<h:outputText id="ukashText" value="#{msgs['payment.type.ukash']}"/>&#160;
							<h:outputText escape="false" value="#{msgs['box.profitline.arrow']}"/>
						</div>
					</div>
				</h:panelGroup>
			</div>
		</h:form>
	</ui:define>
	<ui:define name="bankingFooter">
	<div class="footer padd-all5" style="text-align:left;">
		<div class="bankingDepositText_div" >
			<span style="font-weight: bold;">
				<h:outputText value="#{msgs['CMS.mobile_banking.text.t1']}" escape="false" />
			</span>
			<span class="bankingText" style="line-height:16px;">
				<h:outputText value="#{msgs['CMS.mobile_banking.text.t2']}" escape="false" />
			</span>
		</div>
	</div>
	</ui:define>
</ui:composition>
</body>
</html>
