<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
		<script>
			window.location.href = "#{facesContext.externalContext.requestContextPath}/mobile/login.jsf";
		</script>
	</h:panelGroup>

	<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
		<script>
			window.location.href = "#{facesContext.externalContext.requestContextPath}/mobile/depositMenu.jsf";
		</script>
	</h:panelGroup>
</f:view>



