<html xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk">
<HEAD>
	<title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="#{msgs['anyoption.keywords']}"/>
    <meta name="description" content="#{msgs['anyoption.description']}"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="#{facesContext.externalContext.requestContextPath}/mobile/css/#{applicationData.cssPath}.css" type="text/css" />
</HEAD>

<body dir="#{applicationData.pageDirection}">
<ui:composition template="/mobile/templates/template_general.xhtml">
	<ui:define name="content">
		<f:view locale="#{applicationData.userLocale}">
			<div id="mainDiv" class="pages_main_div_80">
				<h:panelGroup class="center_align" align="center">
					<h:panelGroup rendered="#{commonUtil.hasMessages}" class="left_align" align="left">
						<t:messages id="messages" globalonly="true" layout="table" errorClass="error_messages" infoClass="pages_text"/>
						<input name="continueButton" type="button" class="nav_button_gray"
							value="#{msgs['button.continue']}"
							onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/trade_binary_options.jsf'" />
					</h:panelGroup>
				</h:panelGroup>
			</div>
		</f:view>
	</ui:define>
</ui:composition>
</body>
</html>
