<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	>

	<div>  <!-- Trading div -->
		<div class="faq_table">
			<div class="faq_cell">
				<span class="page_title">
					<h:outputText value="#{msgs['CMS.faq_content.text.h1']}" escape='false'/>
				</span>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q1']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a1']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q2']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a2']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q3']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a3']}" escape='false'/>
			</div>
		</div>

		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q4']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a4']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q5']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a5']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q6']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a6']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q7']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a7']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q8']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a8']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q9']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a9']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q10']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a10']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q11']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a11']}" escape='false'/>
				<a href="#{facesContext.externalContext.requestContextPath}/mobile/general_terms.jsf#calc" class="blue_link_11" >
					<h:outputText value="#{msgs['CMS.faq_content.label.l11']}" escape='false'/>
				</a>.
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q12']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a12']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q13']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a13']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q14']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a14']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q15']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a15']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q16']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a16']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q17']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a17']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q18']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a18']}" escape='false'/>
				<span onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/general_terms.jsf'" class="general_link_blue_10">
					<h:outputText value="#{msgs['CMS.faq_content.label.l18']}" escape='false'/>
				</span>.
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q19']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a19']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q20']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a20']}" escape='false'/>
				<span class="blue_link" onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/assetIndex.jsf'">
					#{msgs['menuStrip.asset.index']}
				</span>.
			</div>
		</div>
	</div>
	<div>  <!-- DEPOSITS AND WITHDRAWALS -->
		<div class="faq_table">
			<div class="faq_cell">
				<span class="page_title">
					<h:outputText value="#{msgs['CMS.faq_content.text.h2']}" escape='false'/>
				</span>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q21']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a21']}" escape='false'/>
				<span onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking.jsf'" class="blue_link">
					<h:outputText value="#{msgs['CMS.faq_content.label.l21']}" escape='false'/>
				</span>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q22']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a22']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q23']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a23']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q24']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a24']}" escape='false'/>
				<span onclick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/banking.jsf'" class="general_link_blue_10">
					<h:outputText value="#{msgs['CMS.faq_content.label.l24']}" escape='false'/>
				</span>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q25']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a25']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q26']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a26']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q27']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a27']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q28']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a28']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q29']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a29']}" escape='false'/>
			</div>
		</div>
	</div>
	<div>  <!-- My Account -->
		<div class="faq_table">
			<div class="faq_cell">
				<span class="page_title">
					<h:outputText value="#{msgs['CMS.faq_content.text.h3']}" escape='false'/>
				</span>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q30']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a30']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q31']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a31']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q32']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a32']}" escape='false'/>
				<span class="blue_link" onClick="window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/assetIndex.jsf'">
					<h:outputText value="#{msgs['menuStrip.asset.index']}"/>
				</span>
				<h:outputText value="#{msgs['CMS.faq_content.text.a32_2']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q33']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a33']}" escape='false'/>
			</div>
		</div>
	</div>
	<div>  <!-- TECHNICAL -->
		<div class="faq_table">
			<div class="faq_cell">
				<span class="page_title">
					<h:outputText value="#{msgs['CMS.faq_content.text.h4']}" escape='false'/>
				</span>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q34']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a34']}" escape='false'/>
			</div>
		</div>
		<div>
			<div class="no_underline" border="0" onclick="setStorage(this); window.location.href = '#{facesContext.externalContext.requestContextPath}/mobile/faqQuestion.jsf';">
				<div class="faq_table">
					<div class="faq_cell">
						<h:outputText value="#{msgs['CMS.faq_content.text.q35']}" escape='false'/>
					</div>
				</div>
			</div>
			<div style="display:none">
				<h:outputText value="#{msgs['CMS.faq_content.text.a35']}" escape='false'/>
			</div>
		</div>
	</div>
</f:view>