<f:view
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<!--New App BOX-->
	<div class="clear home_app_icons">
		<h2 class="AppBox_h2">
			<h:outputText escape="false" value="#{msgs['anywhere.title.txt']}" />
		</h2>
		<p class="AppBox_content">
			<h:outputText escape="false" value="#{msgs['anywhere.header.txt']}" />
		</p>
		<h:panelGroup rendered="#{applicationData.skinId != 1}">
			<a class="bttn_AppStore" href="https://itunes.apple.com/il/app/anyoption/id403987356?mt=8" target="_blank">
				<span class="bttn_AppStore_ico app_icos"></span>
				<span class="bttn_AppStore_text app_icos"></span>
			</a>
		</h:panelGroup>
		<a class="bttn_GooglePlay" href="http://market.android.com/details?id=com.anyoption.android.app" target="_blank">
			<span class="bttn_GooglePlay_ico app_icos"></span>
			<span class="bttn_GooglePlay_text app_icos"></span>
		</a>
		<h:panelGroup rendered="#{applicationData.skinId == 1}">
			<div class="clear oH">
				<h:panelGroup rendered="#{mobileAppForm.smsAllowed}">
					<a class="smartphone_lightB" style="text-decoration: none;"  onclick="open_send_sms_mail_pop('android', 'Sms'); return false;">
						<h:outputText class="smartphone_lightB" value="#{msgs['CMS.appPage.label.smartphone.txt11']}" escape="false" />
					</a>
					<br/>
				</h:panelGroup>
				<a class="smartphone_lightB" style="text-decoration: none;"  onclick="open_send_sms_mail_pop('android', 'Email'); return false;">
					<h:outputText class="smartphone_lightB" value="#{msgs['CMS.appPage.label.smartphone.txt12']}" escape="false" />
				</a>
			</div>
		</h:panelGroup>
	</div>
    <!--End of New App BOX-->
	<a id="thickBoxLinkSms" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/sendLinkToMobile.jsf"/>
	<a id="thickBoxLinkEmail" class="thickbox" href="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/sendLinkToMobileEmail.jsf"/>
	
	<iframe src="about:block" id="sms_iframe" class="sms_iframe" frameborder='0' width="483" height="300" scrolling='no' style="display:none;"></iframe>
</f:view>