<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}"
	>

	<script>
		function getUrlUpper(){
			<h:panelGroup rendered="#{empty context.getExternalContext.remoteUser}">
				window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}"
			</h:panelGroup>
			<h:panelGroup rendered="#{!empty context.getExternalContext.remoteUser}">
				/* mark for IT script*/ window.top.location.href = "#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}"
			</h:panelGroup>
		}
	</script>

	<!-- Article menu -->
	<h:panelGroup rendered="#{!empty ArticlesMenu and applicationData.skinId != 1}">
	<ul class="sidemenu">
		<li class="sidemenu_header">#{msgs['CMS.right_side_banners.sideMenu.Articles']}</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.indexOptions']}
			</h:outputLink>
		</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/currency_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.currencyOptions']}
			</h:outputLink>
		</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/commodity_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.commodityOptions']}
			</h:outputLink>
		</li>
		<li class="sidemenu_list">
			<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/stock_options.jsf')}" target="_self">
				#{msgs['CMS.right_side_banners.sideMenu.stockOptions']}
			</h:outputLink>
		</li>
	</ul>
	</h:panelGroup>
	<!-- Binary menu -->
	<h:panelGroup rendered="#{!empty BinaryMenu and applicationData.skinId != 1}">
		<ul class="sidemenu">
			<li class="sidemenu_header">#{msgs['CMS.right_side_banners.sideMenu.TradingGuide']}</li>
			<li class="sidemenu_list">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/strategy.jsf')}" target="_self">
					#{msgs['CMS.right_side_banners.sideMenu.Strategy']}
				</h:outputLink>
			</li>
			<li class="sidemenu_list">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/options_broker.jsf')}" target="_self">
					#{msgs['CMS.right_side_banners.sideMenu.OptionsBroker']}
				</h:outputLink>
			</li>
			<li class="sidemenu_list">
				<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/what-are-binary-options.jsf')}" target="_self">
					#{msgs['CMS.right_side_banners.sideMenu.AboutOptions']}
				</h:outputLink>
			</li>
		</ul>
	</h:panelGroup>
	<!-- One Touch inner banner -->
	<h:panelGroup rendered="#{!empty oneTouch_inner}">
		<img height="408" width="184" src="#{applicationData.imagesPath}f/#{applicationData.skin.style}/#{applicationData.userLocale.language}/#{applicationData.skinId}/new2t.gif" class="onetouchBanner_bor"/>
	</h:panelGroup>
	<!-- Rest of the banners -->
	<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}">
		<!--banner HOW TO / onetouchTradePageBanner-->
		<h:panelGroup rendered="#{!empty howTo_oneTouch}">
			<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}" >
				<div class="rightBan_border pb20">
					<div class="headers_field_int">
						<h1 class="funnel_int_h1 funnel_int_h1_#{applicationData.userLocale.language}"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.title']}" /></h1>
						<span class="funnel_subtitle_int"><h:outputText escape="false" value="#{msgs['CMS.quick_sign_up.subtitle']}" /></span>
					</div>
					<div class="shortReg_int" id="shortReg_int">
						<ui:include src="/jsp/html_elements/register_content_funnel.xhtml" />
					</div>
					<script>initRegForm('shortReg_int',#{applicationData.skinId});</script>
				</div>
			</h:panelGroup>
			<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}" >
				<ui:include src="/jsp/html_elements/banner_onetouchTradePage.xhtml"/>
			</h:panelGroup>
		</h:panelGroup>
		<!--supportContactusTextBanner-->
		<h:panelGroup rendered="#{!empty supportContactus}" >
			<ui:include src="/jsp/html_elements/banner_supportContactusText.xhtml" />
		</h:panelGroup>
		<!--Trade now button-->
		<h:panelGroup rendered="#{!empty trade_but}" >
			<div class="banner_trade_but_h">
				<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" class="but_trade_now_but but_trade_now dB">
					<span class="rs but_trade_now">
						<span class="cs but_trade_now">
						#{msgs['CMS.button.trade_now']}
						</span>
					</span>
				</a>
			</div>
		</h:panelGroup>
		<!--Top banner-->
		<h:panelGroup rendered="#{topBanner}">
			<img onclick="getUrlUpper()" style="cursor:pointer" src="#{applicationData.imagesPath}/#{applicationData.skin.style}/topbnr.gif" border="0"/>
		</h:panelGroup>
		<!--Register banner-->
		<h:panelGroup rendered="#{regBtn}">
			<a target="_top" style="margin:15px 0;display:block;" href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix, '/jsp/register.jsf')}">
				<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/opnbtn.gif" border="0" height="#{applicationData.skinId == 11? '29px' : '60px'}" width="#{applicationData.skinId == 11? '250px' : '186px'}"/>
			</a>
		</h:panelGroup>
		<!--binary0100banner-->
		<h:panelGroup rendered="#{applicationData.skinId != 9 and applicationData.skinId != 20 and applicationData.skinId != 13 and applicationData.skinId != 14}" ><!--NOT sins 9,20,13,14-->
			<ui:include src="/jsp/html_elements/banner_binary0100.xhtml" />
		</h:panelGroup>
		<!--ourTradersShare-->
		<h:panelGroup rendered="#{!empty ourTradersShare and (applicationData.skinId == 9 or applicationData.skinId == 20 or applicationData.skinId == 13 or applicationData.skinId == 14)}" >
			<ui:include src="/jsp/html_elements/banner_ourTradersShare.xhtml" />
		</h:panelGroup>
		<!--contact me-->
		<h:panelGroup rendered="#{contactMe and facesContext.externalContext.requestParameterMap['contactBnr']!='none'}">
			<iframe align="top" id="contactmeiframe" name="contactmeiframe" frameborder="no" src="#{facesContext.externalContext.requestContextPath}/jsp/#{applicationData.tlvPath}contactme.jsf" width="186" height="198" scrolling="no" style="margin-top: 15px;"></iframe>
		</h:panelGroup>
	</h:panelGroup>
	<h:panelGroup rendered="#{!empty context.getExternalContext.remoteUser}">
		<!--investments profit-->
		<h:panelGroup rendered="#{!empty investments_profit}">
			<iframe align="left" id="right_side_investments" name="right_side_investments" width="186" height="262" frameborder="no" scrolling="no"
				src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=small" >
			</iframe>
		</h:panelGroup>
		<!--binary0100banner-->
		<h:panelGroup rendered="#{applicationData.skinId != 9 and applicationData.skinId != 20 and applicationData.skinId != 13 and applicationData.skinId != 14}" ><!--NOT sins 9,20,13,14-->
			<ui:include src="/jsp/html_elements/banner_binary0100.xhtml" />
		</h:panelGroup>
		<!--supportContactusTextBanner-->
		<h:panelGroup rendered="#{!empty supportContactus}" >
			<ui:include src="/jsp/html_elements/banner_supportContactusText.xhtml" />
		</h:panelGroup>
		<!--banner HOW TO-->
		<h:panelGroup rendered="#{!applicationData.isHasOpenOneTouchForUser}" >
			<iframe id="right_side_investments" name="right_side_investments" width="195" height="262" frameborder="no" scrolling="no" class="clear right_side_investments"
				src="#{facesContext.externalContext.requestContextPath}/jsp/single_pages/investments_profit_box.jsf?type=profit&amp;className=_small" >
			</iframe>
		</h:panelGroup>
	</h:panelGroup>

	<!-- secure -->
	<h:panelGroup rendered="#{!empty secureIco}">
		<div class="clear banner_secure #{(applicationData.skinId!=1)?'mt20':''}">
  			<div class="secure_reg_img">
          		<img src="#{applicationData.imagesPath}/#{applicationData.skin.style}/secure_reg.png" />
      		</div>
      		<div class="secure_reg_text">
          		<h:outputText value="#{msgs['secured_msg2']}" escape="false"/>
      		</div>
		</div>
	</h:panelGroup>

	<!-- thawte -->
	<h:panelGroup rendered="#{!empty thawte}">
		<div class="thewte_verisigh">
      		<img src="#{applicationData.imagesPath}/icons/thewte_verisigh.png" />
  		</div>
	</h:panelGroup>
	<!-- regulation banner -->
	<h:panelGroup rendered="#{!empty regulationPop}">
		<ui:include src="/jsp/html_elements/regulation_benner.xhtml">
			<ui:param name="addText" value="false" />
		</ui:include>
	</h:panelGroup>
</f:view>