<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

	<div style="height:200px;">
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" style="text-decoration: none;" border="0">
	  		<img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/247.jpg" title="#{msgs['clock.alt']}" width="225px" height="199px" border="0" align="left"/>
		</h:outputLink>
	</div>

</f:view>