<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<h:panelGroup rendered="#{!request.requestURI.endsWith('register.jsf')}" >
		<div class="menu_bgr menu_bgr_h menu_bgr_h_#{applicationData.userLocale.language}">
			<div class="menu_bgr rs">
				<ul class="cs menu_bgr">
					<!-- user logout -->
					<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
						<!-- register -->
						<li class="#{request.requestURI.endsWith('register.jsf')?'hov':''} #{applicationData.userLocale.language != 'iw'?'menu_no_sep':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/register.jsf')}" title="#{msgs['menuStrip.openaccount.title']}">
								<h:outputText value="#{msgs['menuStrip.openaccount']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- home -->
						<li class="#{request.requestURI.endsWith('index.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" title="#{msgs['menuStrip.home']}">
								<h:outputText value="#{msgs['menuStrip.home']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- Trade page -->
						<li class="#{request.requestURI.endsWith('trade_binary_options.jsf')?'hov':''}" id="noOneTouchLinkDiv">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" title="#{msgs['menuStrip.trade.title']}">
								<h:outputText value="#{msgs['rightnav.whatisao']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
							<!-- one touch -->
							<li class="#{request.requestURI.endsWith('oneTouch.jsf')?'hov':''}" id="oneTouchLinkDiv" style="display: none;">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}" title="#{msgs['menuStrip.trade.title']}">
									<h:outputText value="#{msgs['rightnav.whatisao']}" />
								</a>
							</li>
							
							<li class="menu_seperator">|</li>
						</h:panelGroup>
						<!-- banking -->
						<li class="#{request.requestURI.endsWith('banking.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" title="#{msgs['menuStrip.banking.title']}">
								<h:outputText value="#{msgs['menuStrip.banking']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- assets -->
						<li class="#{request.requestURI.endsWith('assetIndex.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}" title="#{msgs['menuStrip.asset.index.title']}">
								<h:outputText value="#{msgs['menuStrip.asset.index']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- trade manual -->
						<li class="#{request.requestURI.endsWith('trading_box_manual.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
								<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- FAQ -->
						<li class="#{request.requestURI.endsWith('faq.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" >
								<h:outputText value="#{msgs['menuStrip.faq']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- Mobile -->
						<li class="#{request.requestURI.endsWith('appPage.jsf')?'hov':''} #{applicationData.userLocale.language == 'iw'?'menu_no_sep':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" title="#{msgs['mobile.menu.strip.title']}" class="menu_live icon_set_2">
								<h:outputText value="#{msgs['menuStrip.mobile']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- Academy -->
						<li class="#{request.requestURI.endsWith('appPage.jsf')?'hov':''} #{applicationData.userLocale.language == 'iw'?'menu_no_sep':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}" title="#{msgs['menuStrip.academy']}">
								<h:outputText value="#{msgs['menuStrip.academy']}"/>
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 1}">
							<!-- live -->
							<li class="#{request.requestURI.endsWith('live.jsf')?'hov':''}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}" class="menu_live icon_set_1">
									<h:outputText value="#{msgs['menuStrip.live']}" />
								</a>
							</li>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.skinId == 13 || applicationData.skinId == 14}">
							<!-- live -->
							<li class="#{request.requestURI.endsWith('trading_box_manual.jsf')?'hov':''}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
									<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
								</a>
							</li>
						</h:panelGroup>						
					</h:panelGroup>
					<!-- user login -->
					<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >						
						<!-- home -->
						<li class="#{request.requestURI.endsWith('index.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/index.jsf')}" title="#{msgs['menuStrip.home']}">
								<h:outputText value="#{msgs['menuStrip.home']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- Trade page -->
						<li class="#{request.requestURI.endsWith('trade_binary_options.jsf')?'hov':''}" id="noOneTouchLinkDiv">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trade_binary_options.jsf')}" title="#{msgs['menuStrip.trade.title']}">
								<h:outputText value="#{msgs['rightnav.whatisao']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<h:panelGroup rendered="#{applicationData.isHasOpenOneTouchForUser}">
							<!-- one touch -->
							<li class="#{request.requestURI.endsWith('oneTouch.jsf')?'hov':''}" id="oneTouchLinkDiv" style="display: none;">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/oneTouch.jsf')}" title="#{msgs['menuStrip.trade.title']}">
									<h:outputText value="#{msgs['rightnav.whatisao']}" />
								</a>
							</li>
							
							<li class="menu_seperator">|</li>
						</h:panelGroup>
						<!-- banking -->
						<li class="#{request.requestURI.endsWith('banking.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/banking.jsf')}" title="#{msgs['menuStrip.banking.title']}">
								<h:outputText value="#{msgs['menuStrip.banking']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- assets -->
						<li class="#{request.requestURI.endsWith('assetIndex.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/assetIndex.jsf')}" title="#{msgs['menuStrip.asset.index.title']}">
								<h:outputText value="#{msgs['menuStrip.asset.index']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- past expiries -->
						<li class="#{request.requestURI.endsWith('lastLevels.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/lastLevels.jsf')}" title="#{msgs['menuStrip.past.expiries.title']}">
								<h:outputText value="#{msgs['menuStrip.past.expiries']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- trade manual -->
						<li class="#{request.requestURI.endsWith('trading_box_manual.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
								<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- FAQ -->
						<li class="#{request.requestURI.endsWith('faq.jsf')?'hov':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/faq.jsf')}" >
								<h:outputText value="#{msgs['menuStrip.faq']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- Mobile -->
						<li class="#{request.requestURI.endsWith('appPage.jsf')?'hov':''} #{applicationData.userLocale.language == 'iw'?'menu_no_sep':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/appPage.jsf')}" title="#{msgs['mobile.menu.strip.title']}" class="menu_live icon_set_2">
								<h:outputText value="#{msgs['menuStrip.mobile']}" />
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<!-- Academy -->
						<li class="#{request.requestURI.endsWith('appPage.jsf')?'hov':''} #{applicationData.userLocale.language == 'iw'?'menu_no_sep':''}">
							<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading-academy.jsf')}" title="#{msgs['menuStrip.academy']}">
								<h:outputText value="#{msgs['menuStrip.academy']}"/>
							</a>
						</li>
						
						<li class="menu_seperator">|</li>
						
						<h:panelGroup rendered="#{applicationData.skinId != 13 and applicationData.skinId != 14 and applicationData.skinId != 1}">
							<!-- live -->
							<li class="#{request.requestURI.endsWith('live.jsf')?'hov':''}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/live.jsf')}" class="menu_live icon_set_1">
									<h:outputText value="#{msgs['menuStrip.live']}" />
								</a>
							</li>
						</h:panelGroup>
						<h:panelGroup rendered="#{applicationData.skinId == 13 || applicationData.skinId == 14}">
							<!-- live -->
							<li class="#{request.requestURI.endsWith('trading_box_manual.jsf')?'hov':''}">
								<a href="#{facesContext.externalContext.requestContextPath}#{pageNames.getPageName(applicationData.linkLocalePrefix,'/jsp/trading_box_manual.jsf')}" title="#{msgs['menuStrip.Trading.Box.Manual.title']}">
									<h:outputText value="#{msgs['menuStrip.Trading.Box.Manual']}" />
								</a>
							</li>
						</h:panelGroup>
					</h:panelGroup>
				</ul>
			</div>
			<div style="float: right;">
				<!-- Clock -->
				<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/clock.xhtml" />
			</div>
		</div>
	</h:panelGroup>
</f:view>