<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

	<div class="pageWidth header_menu_h">
		<!-- Menu strip 1-->
		<!-- Menu strip -->
		<ui:include src="/jsp/#{applicationData.skin.templates}/html_elements/header_menu_strip.xhtml" />		
	</div>

</f:view>