<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk">

	<script>
		var liveChatImg = "chat-";
		if (typeof(lpUnit)=='undefined') {
			var lpUnit='#{applicationData.userLocale.displayLanguage}';
		}
	</script>
	<script src="#{facesContext.externalContext.requestContextPath}/js/mtagconfig.js?version=cvsTimeStamp" type="text/Javascript"></script>

	<!-- Begin LP Custom Variables-->
	<script type="text/javascript">
	// Variables submission using lpAddVars
		lpAddVars('session','room','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Language','#{applicationData.userLocale.displayLanguage}');
		lpAddVars('session','Campaign','#{applicationData.campaignName}');
		lpAddVars('session','SkinId','#{applicationData.skinId}');
		<h:panelGroup rendered="#{empty facesContext.externalContext.remoteUser}" >
			lpAddVars('session','survey_pre-chat_enable','on');
		</h:panelGroup>
		<h:panelGroup rendered="#{!empty facesContext.externalContext.remoteUser}" >
			lpAddVars('session','identifier','#{user.firstName}');
			lpAddVars('session','UserName','#{user.userName}');
			lpAddVars('session','survey_pre-chat_enable','off');
		</h:panelGroup>
	</script>

	<div id="livePersonMainDiv" style="display:none;" >
		<!-- chat woman -->
		<ui:include src="/jsp/template_zh/html_elements/livePersonCUBtn.xhtml"></ui:include>
	</div>

	<script>
		function showLivePersonDiv() {
			document.getElementById('livePersonMainDiv').style.display = 'block';
		}
		$(document).ready(function() {
			setTimeout("showLivePersonDiv();",5000);
		 });
	</script>
</f:view>