<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:c="http://java.sun.com/jsp/jstl/core"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >

<!-- LivePerson Buttons Code -->
<h:panelGroup rendered="#{applicationData.skinId == 2}" >
	<div id="lpButDivID-1275223095"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=12&amp;divID=lpButDivID-1275223095&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 3}" >
	<div id="lpButDivID-1275223312"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=15&amp;divID=lpButDivID-1275223312&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 5 || applicationData.skinId == 6}" >
	<div id="lpButDivID-1275223550203"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;amp;site=79728410&amp;buttonID=14&amp;divID=lpButDivID-1275223550203&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 8}" >
	<div id="lpButDivID-1275223218"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=13&amp;divID=lpButDivID-1275223218&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 9}" >
	<div id="lpButDivID-1296051881125"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=19&amp;divID=lpButDivID-1296051881125&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 10}" >
	<div id="lpButDivID-1296051965672"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=20&amp;divID=lpButDivID-1296051965672&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 12}" >
	<div id="lpButDivID-1306063556625"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=21&amp;divID=lpButDivID-1306063556625&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

<h:panelGroup rendered="#{applicationData.skinId == 15}" >
	<div id="lpButDivID-1332413775626"  style="position: fixed; z-index: 50; top: 149px; right: 0;"></div>
	<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/79728410/?cmd=mTagRepstate&amp;site=79728410&amp;buttonID=22&amp;divID=lpButDivID-1332413775626&amp;bt=1&amp;c=1"></script>
</h:panelGroup>

</f:view>