<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
      	xmlns:h="http://java.sun.com/jsf/html"
      	xmlns:f="http://java.sun.com/jsf/core"
      	xmlns:c="http://java.sun.com/jsp/jstl/core"
      	xmlns:t="http://myfaces.apache.org/tomahawk">

<t:saveState value="#{marketDetails}" />
	<table cellspacing="0" cellpadding="0" border="0" width="970px">
		<tr height="30px" >
			<td class="news_link_hp newAssetIndex_header" height="30px" valign="middle" background="#{applicationData.imagesPath}/#{applicationData.skin.style}/#{applicationData.userLocale.language}/1px30.gif">
				<h1 class="news_link_hp" style="text-align:left;padding:0px;margin:0px;"><h:outputText value="#{msgs['CMS.newAssetList_old.text.assetList.header']}" /></h1>
		  	</td>
		</tr>
	</table>
	<h:form id="marketDetails">
	<div class="newAssetIndex_main_div">
	<table cellspacing="0" cellpadding="0" border="0" width="100%" dir="#{applicationData.pageDirection}">
		<tr style="clear:both;">
			<t:dataList
				value="#{marketDetails.marketsAssetList}"
				var="group"
				rowIndexVar="groupRow" >
					<td valign="top" class="newAssetIndex_td">
						<table cellspacing="0" cellpadding="0" border="0" width="100%">
							<tr>
								<td class="newAssetIndex_group_txt">
									<h3 style="padding:0px;margin:0px;"><h:outputLabel class="assetListGroupTxt" id="group#{group.id}" value="#{msgs[group.name]}" /></h3>
								</td>
							</tr>
							<tr>
								<td class="newAssetIndex_markets_names_div">
									<t:dataList
										value="#{group.list}"
										var="markets"
										rowIndexVar="marketsColmun1"
										rowCountVar="mcount">

										<div class="newAssetIndex_market_name_div">

											<t:dataList
												value="#{markets}"
												var="market"
												rowIndexVar="marketRow" >
													<h:panelGroup rendered="#{applicationData.skinId == 4}">
														<t:graphicImage rendered="#{market.newMarket}" border="0" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/new_asset.gif" alt="#{msgs['CMS.newAssetList_old.alt.new_asset.gif']}" />&#160;
													</h:panelGroup>
													<h:outputLabel id="market#{market.id}" class="assetListTxt" value="#{msgs[market.displayNameKey]}"   onclick="loadMarketInBox(#{market.id},0)"/>
													<h:panelGroup rendered="#{applicationData.skinId != 4}">
														&#160;<t:graphicImage rendered="#{market.newMarket}" border="0" value="#{applicationData.imagesPath}/#{applicationData.skin.style}/new_asset.gif" alt="#{msgs['CMS.newAssetList_old.alt.new_asset.gif']}" />
													</h:panelGroup>
													<br/>

											</t:dataList>

										</div>
									</t:dataList>
								</td>
							</tr>
						</table>
					</td>
			</t:dataList>
		</tr>
	</table>
	</div>
<div style="clear:both;">
	<table border="0" cellpadding="0" cellspacing="0" width="970px">
		<tr height="10px">
			<td colspan="3">&#160;</td>
		</tr>
		<tr>
			<td width="40px" height="5px">&#160;</td>
			<td><h:outputText class="footer_text" value="#{msgs['CMS.newAssetList_old.text.assetList.description']}" /></td>
			<td width="24px" height="5px">&#160;</td>
		</tr>
		<tr ><td colspan="3">&#160;</td></tr>
	</table>
</div>
</h:form>
</f:view>