<f:view dir="rtl" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
       >

	<div class="you">
    	<div class="t"><div class="title" style="width:142px;">我们的优势</div></div>
        <div class="b" style="line-height:8px;">
        	<div class="j">
        		<div class="ico"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/y1.jpg" title="#{msgs['24/7.Icon']}"/></div>
                <div class="tt">
                	<div class="headDown">一站式全方位专业服务</div>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;无需下载，轻松注册开户，10分钟即可交易；</p>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;网上支付方便灵活，注资10分钟到账；</p>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;取款不限次数金额，3天即可到账，资金运用更灵活；</p>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;专业客服全年无休，24小时提供在线支持； </p>
                </div>
            </div>
            <div class="j">
        		<div class="ico"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/y2.jpg" title="#{msgs['dollar.icon']}"/></div>
                <div class="tt">
                	<div class="headDown">操作简单 投资高回报</div>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;5分钟即可学会操作；</p>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;所有交易零佣金；</p>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;期权可双向动态交易；</p>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;投资回报高达65-71%；</p>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;最少15% 的投资返还</p>
              </div>
          </div>
            <div class="j">
        		<div class="ico"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/y3.jpg" title="#{msgs['moblie']}"/></div>
                <div class="tt">
                	<div class="headDown">最全球市场，投资产品丰富</div>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;覆盖全球80多个主要金融市；</p>
                  <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;期权， 股指，股票，期货，外汇等众多产品可供选择；</p>
                </div>
          </div>
            <div class="j">
        		<div class="ico"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/y4.jpg" title="#{msgs['disputer']}"/></div>
                <div class="tt">
                	<div class="headDown">最安全的资金保障</div>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;anyoption是世界上最大的交易平台；</p>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;专业信托机构保障资金安全；</p>
                    <p><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/dian.jpg" />&#160;银联，支付宝，信用卡即时存取款；</p>
              </div>
            </div>
        </div>
    </div>
</f:view>