<f:view
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    xmlns:t="http://myfaces.apache.org/tomahawk"
	locale="#{applicationData.userLocale}">

<div class="title_h">
	<h1 class="title_h_h1">
		<h:outputText value="#{h1}" escape="false" />
	</h1>
	<h:panelGroup rendered="#{!empty secure}">
		<span class="title_secure_ico icon_set_1">
			<h:outputText value="#{msgs['secured']}" />
			<span><h:outputText value="#{msgs['CMS.page_title.text.t1']}" escape="false" /></span>
		</span>
	</h:panelGroup>
	<h2 class="title_h_h2">
		<h:outputText value="#{h2}" escape="false" />
	</h2>
</div>
</f:view>
