<f:view xmlns:ui="http://java.sun.com/jsf/facelets"
    	xmlns:f="http://java.sun.com/jsf/core"
    	xmlns:h="http://java.sun.com/jsf/html"
    	xmlns:t="http://myfaces.apache.org/tomahawk"
    	 >
	<table id="markets_table" align="center" cellspacing="0" cellpadding="0" border="0" class="#{applicationData.skinId == 11? 'table_border_box' : 'table_border'}">
		<tr>
			<td background="#{applicationData.imagesPath}/#{applicationData.skin.style}/1x27.jpg" id="blinkTD_'marketId'"><!-- Top menu bar -->
				<table width="455" border="0" cellspacing="0" cellpadding="0"  align="center" >
					<tr>
						<td width="2"></td>
						<td width="150" class="bkgnd">
							<table width="150" border="0" cellspacing="0" cellpadding="0" align="#{applicationData.pageAlignment}" dir="#{applicationData.skinId == 11? 'rtl' : 'ltr'}">
								<tr>
									<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/trade_left.gif"  align="right" /></td>
									<td width="121" height="28" class="trad_menu" align="center" ><strong>&#160;</strong></td>
									<td ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/trade_down.gif" style="margin-top:2px;" /></td>
								</tr>
							</table>
						</td>
						<td width="142" align="center" class="trade_odds"><span></span>&#160;</td>
						<td width="158">
							<table width="158" border="0" cellspacing="0" cellpadding="0" align="#{applicationData.pageAlignmentReverse}" dir="#{applicationData.skinId == 11? 'rtl' : 'ltr'}" >
								<tr>
									<td><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/trade_left.gif"  /></td>
									<td width="130px" height="28" class="trad_menu" align="center" ><strong></strong><span>&#160;</span></td>
									<td ><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/trade_down.gif" style="margin-top:2px;" /></td>
								</tr>
							</table>
						</td>
						<td width="2"></td>
					</tr>
				</table><!-- end of top menu bar -->
			</td>
		</tr>
		<tr>
			<td height="165">
				<table width="455" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td id="'oppId'_slip" width="149" class="divid">
							<table width="149" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td height="25"></td>
								</tr>
								<tr >
									<td align="center">&#160;</td>
								</tr>
								<tr>
									<td height="25" align="center"><img src="#{applicationData.imagesPath}/#{applicationData.userLocale.language}/#{applicationData.userLocale.language}/trade_loading.gif" /></td>
								</tr>
								<tr>
									<td align="center">&#160;</td>
								</tr>
								<tr>
									<td height="25" class="wait4exp">&#160;</td>
								</tr>
							</table>
						</td>
						<td align="center" height="165">&#160;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</f:view>