<div class="popUp-content additional-info processing-deposit">
	<div class="body">
		<i class="img-box processing-deposit-img"></i>
		<div class="heading light-blue">{{::$ctrl._u.getMsg('popUp-processing')}}</div>
		<div class="light-grey-blue-txt">{{::$ctrl._u.getMsg('please-wait')}}</div>
	</div>
</div>